{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "HTTP with Azure AD",
    "description": "Use the HTTP connector to fetch resources from various Web services, authenticated by Azure Active Directory (Azure AD), or from an on-premise web service.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/webcontents",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/GetFileContent": {
      "get": {
        "tags": [
          "WebContentsFileData"
        ],
        "summary": "Get web resource",
        "description": "Retrieves a web resource by issuing an HTTP GET request.",
        "operationId": "GetFileContent",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "File identifier",
            "required": true,
            "x-ms-summary": "Resource path",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            }
          },
          "default": {
            "description": "Operation Failed.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/webcontents/#get-web-resource"
        }
      }
    },
    "/{connectionId}/codeless/InvokeHttp": {
      "post": {
        "tags": [
          "CodelessWebContentsFileData"
        ],
        "summary": "Invoke an HTTP request",
        "description": "Invokes an HTTP endpoint.",
        "operationId": "InvokeHttp",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Setting properties for the HTTP call.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HttpRequest"
            },
            "x-ms-summary": "Request to send"
          }
        ],
        "responses": {
          "default": {
            "description": "OK",
            "schema": {
              "description": "The content of the response.",
              "x-ms-summary": "Body"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/webcontents/#invoke-an-http-request"
        }
      }
    }
  },
  "definitions": {
    "HttpRequest": {
      "description": "Properties of the request",
      "required": [
        "method",
        "url"
      ],
      "type": "object",
      "properties": {
        "method": {
          "description": "One of the known HTTP verbs: GET, DELETE, PATCH, POST, PUT.",
          "type": "string",
          "x-ms-summary": "Method",
          "enum": [
            "GET",
            "DELETE",
            "PATCH",
            "POST",
            "PUT"
          ]
        },
        "url": {
          "description": "A full or relative URL to the resource. If it is a full URL , it must match the base resource URL set in the connection.",
          "type": "string",
          "x-ms-summary": "Url of the request"
        },
        "headers": {
          "description": "The request headers.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-summary": "Headers",
          "x-ms-editor": "dictionary"
        },
        "body": {
          "type": "string",
          "format": "byte",
          "description": "Body of the request when the method requires it.",
          "x-ms-summary": "Body of the request"
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/webcontents"
  }
}
