{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Calendly",
    "description": "Calendly helps you easily schedule meetings based on participants availability.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/v1/hooks": {
      "get": {
        "summary": "List webhooks",
        "description": "List webhooks.",
        "operationId": "ListWebhooks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "description": "attributes",
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "format": "date-time",
                            "description": "Create Date/Time of the webhook.",
                            "type": "string",
                            "x-ms-summary": "Created At",
                            "x-ms-visibility": "advanced"
                          },
                          "state": {
                            "description": "State of the webhook.",
                            "type": "string",
                            "x-ms-summary": "State",
                            "x-ms-visibility": "advanced"
                          },
                          "url": {
                            "description": "URL of the webhook.",
                            "type": "string",
                            "x-ms-summary": "URL",
                            "x-ms-visibility": "advanced"
                          }
                        }
                      },
                      "id": {
                        "format": "int32",
                        "description": "Unique Id of the webhook.",
                        "type": "integer",
                        "x-ms-summary": "Webhook Id",
                        "x-ms-visibility": "advanced"
                      },
                      "type": {
                        "description": "Type of webhook.",
                        "type": "string",
                        "x-ms-summary": "Type",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/calendly/#list-webhooks"
        }
      }
    },
    "/{connectionId}/webhook1/api/v1/hooks": {
      "post": {
        "summary": "When an event is created",
        "description": "Triggers when a new event is created.",
        "operationId": "WebhookCreateInvitee",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "url"
              ],
              "properties": {
                "url": {
                  "description": "url",
                  "type": "string",
                  "x-ms-summary": "url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create an event.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/calendly/#when-an-event-is-created"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/Webhook_Response"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/webhook2/api/v1/hooks": {
      "post": {
        "summary": "When an event is canceled",
        "description": "Triggers when an event is canceled.",
        "operationId": "WebhookCancelInvitee",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "url"
              ],
              "properties": {
                "url": {
                  "description": "url",
                  "type": "string",
                  "x-ms-summary": "url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, cancel an event.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/calendly/#when-an-event-is-canceled"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/Webhook_Response"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/v1/hooks/{hookId}": {
      "delete": {
        "summary": "Delete hook",
        "description": "Delete a hook.",
        "operationId": "DeleteHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/calendly/#delete-hook"
        }
      }
    },
    "/whr": {
      "post": {
        "operationId": "WebhookResponse",
        "parameters": [],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    }
  },
  "definitions": {
    "Webhook_Response": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "properties": {
            "event": {
              "description": "event",
              "type": "object",
              "properties": {
                "cancel_reason": {
                  "description": "The reason the event was canceled.",
                  "type": "string",
                  "x-ms-summary": "Cancel Reason",
                  "x-ms-visibility": "advanced"
                },
                "canceled": {
                  "description": "A boolean value determining whether or not the event was canceled.",
                  "type": "boolean",
                  "x-ms-summary": "Is Canceled",
                  "x-ms-visibility": "advanced"
                },
                "canceled_at": {
                  "description": "The datetime the event was canceled at.",
                  "type": "string",
                  "x-ms-summary": "Canceled At",
                  "x-ms-visibility": "advanced"
                },
                "canceler_name": {
                  "description": "The name of the user who canceled the event.",
                  "type": "string",
                  "x-ms-summary": "Canceler Name",
                  "x-ms-visibility": "advanced"
                },
                "created_at": {
                  "format": "date-time",
                  "description": "The datetime the event was created at, such as 2017-05-08T10:22:03-07:00.",
                  "type": "string",
                  "x-ms-summary": "Created At Local Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "end_time": {
                  "format": "date-time",
                  "description": "The datetime the event is set to end at, such as 2017-05-08T12:22:03-07:00.",
                  "type": "string",
                  "x-ms-summary": "End Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "end_time_pretty": {
                  "description": "The textual representation of the datetime the event is set to end at, such as 09:30am - Tuesday, May 16, 2017.",
                  "type": "string",
                  "x-ms-summary": "End Date-Time Display",
                  "x-ms-visibility": "advanced"
                },
                "extended_assigned_to": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Assigned To",
                    "properties": {
                      "email": {
                        "description": "The email of the user the event is assigned to.",
                        "type": "string",
                        "x-ms-summary": "Email",
                        "x-ms-visibility": "advanced"
                      },
                      "name": {
                        "description": "The name of the user the event is assigned to.",
                        "type": "string",
                        "x-ms-summary": " Name",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  }
                },
                "invitee_end_time": {
                  "format": "date-time",
                  "description": "The datetime the event invitation ends at, such as 2017-05-16T09:30:00-07:00.",
                  "type": "string",
                  "x-ms-summary": "Invitee End Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "invitee_end_time_pretty": {
                  "description": "The textual representation of the datetime the event invitation ends at, such as 09:30am - Tuesday, May 16, 2017.",
                  "type": "string",
                  "x-ms-summary": "Invitee End Date-Time Pretty",
                  "x-ms-visibility": "advanced"
                },
                "invitee_start_time": {
                  "format": "date-time",
                  "description": "The datetime the event invitation starts at, such as 2017-05-16T09:00:00-07:00.",
                  "type": "string",
                  "x-ms-summary": "Invitee Start Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "invitee_start_time_pretty": {
                  "description": "The textual representation of the datetime the event invitation starts at, such as 09:00am - Tuesday, May 16, 2017.",
                  "type": "string",
                  "x-ms-summary": "Invitee Start Date-Time Pretty",
                  "x-ms-visibility": "advanced"
                },
                "location": {
                  "description": "The location of the event.",
                  "type": "string",
                  "x-ms-summary": "Location",
                  "x-ms-visibility": "advanced"
                },
                "start_time": {
                  "format": "date-time",
                  "description": "The datetime the event is set to start at, such as 2017-05-16T09:00:00-07:00.",
                  "type": "string",
                  "x-ms-summary": "Start Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "start_time_pretty": {
                  "description": "The textual representation of the datetime the event is set to start at, such as 09:00am - Tuesday, May 16, 2017.",
                  "type": "string",
                  "x-ms-summary": "Start Date-Time Pretty",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Event"
            },
            "event_type": {
              "description": "event_type",
              "type": "object",
              "properties": {
                "duration": {
                  "format": "int32",
                  "description": "The duration of the event type.",
                  "type": "integer",
                  "x-ms-summary": "Duration",
                  "x-ms-visibility": "advanced"
                },
                "kind": {
                  "description": "The kind of the event type.",
                  "type": "string",
                  "x-ms-summary": "Kind",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "description": "The name of the event type.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Event Type"
            },
            "invitee": {
              "description": "invitee",
              "type": "object",
              "properties": {
                "cancel_reason": {
                  "description": "The reason the invitee canceled.",
                  "type": "string",
                  "x-ms-summary": "Cancel Reason",
                  "x-ms-visibility": "advanced"
                },
                "canceled": {
                  "description": "A boolean value determining whether or not the invitee canceled.",
                  "type": "boolean",
                  "x-ms-summary": "Is Canceled",
                  "x-ms-visibility": "advanced"
                },
                "canceled_at": {
                  "description": "The date-time the invitee canceled.",
                  "type": "string",
                  "x-ms-summary": "Canceled At",
                  "x-ms-visibility": "advanced"
                },
                "canceler_name": {
                  "description": "The name of the canceler.",
                  "type": "string",
                  "x-ms-summary": "Canceler Name",
                  "x-ms-visibility": "advanced"
                },
                "created_at": {
                  "format": "date-time",
                  "description": "The datetime the event was created at.",
                  "type": "string",
                  "x-ms-summary": "Created At Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "email": {
                  "description": "The email address of the invitee.",
                  "type": "string",
                  "x-ms-summary": "Email",
                  "x-ms-visibility": "advanced"
                },
                "first_name": {
                  "description": "The first name of the invitee.",
                  "type": "string",
                  "x-ms-summary": "First Name",
                  "x-ms-visibility": "advanced"
                },
                "is_reschedule": {
                  "description": "A boolean value determining whether or not the event was rescheduled.",
                  "type": "boolean",
                  "x-ms-summary": "Is Reschedule",
                  "x-ms-visibility": "advanced"
                },
                "last_name": {
                  "description": "The last name of the invitee.",
                  "type": "string",
                  "x-ms-summary": "Last Name",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "description": "The name of the invitee.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "advanced"
                },
                "timezone": {
                  "description": "The timezone of the invitee.",
                  "type": "string",
                  "x-ms-summary": "Timezone",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Invitee"
            },
            "questions_and_answers": {
              "type": "array",
              "items": {
                "type": "object",
                "x-ms-summary": "Questions and Answers",
                "description": "An array of the questions and answers included in the event.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://calendly.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://calendly.com/pages/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/calendly"
  },
  "basePath": "/apim/calendly"
}
