{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Planner",
    "description": "Microsoft Planner lets you easily bring together teams, tasks, documents, and conversations for better results.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/planner",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/v1.0/planner/tasks/{id}": {
      "get": {
        "summary": "Get a task",
        "description": "Get an existing Planner task.",
        "operationId": "GetTask_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the task to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetTask_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#get-a-task"
        }
      },
      "delete": {
        "summary": "Delete a task",
        "description": "Deletes an existing Planner task.",
        "operationId": "DeleteTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the task to delete.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204"
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DeleteTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#delete-a-task"
        }
      },
      "patch": {
        "summary": "Update a task",
        "description": "Update an existing Planner task.",
        "operationId": "UpdateTask_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the task to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-test-value": "0zirFGEeCE-bMO_4C5Y33mUAG-eQ",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTask_Request_V2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetTask_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#update-a-task"
        }
      }
    },
    "/{connectionId}/v2/v1.0/planner/tasks/{id}": {
      "patch": {
        "summary": "Update a task (V2)",
        "description": "Update an existing Planner task.",
        "operationId": "UpdateTask_V3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the task to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTask_Request_V3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetTask_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "UpdateTask",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#update-a-task-(v2)"
        }
      }
    },
    "/{connectionId}/v2/v1.0/planner/tasks": {
      "post": {
        "summary": "Create a task",
        "description": "Create a new task in Planner.",
        "operationId": "CreateTask_V3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTask_Request_V3"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/GetTask_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateTask",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#create-a-task"
        }
      }
    },
    "/{connectionId}/v2/beta/planner/tasks": {
      "post": {
        "summary": "Create a task",
        "description": "Create a new task in Planner.",
        "operationId": "CreateTask_V4",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTask_Request_V4"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/GetTask_Response_V3"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateTask",
          "revision": 4
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#create-a-task"
        }
      }
    },
    "/{connectionId}/v2/v1.0/planner/plans/{id}/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "List the tasks in a plan.",
        "operationId": "ListTasks_V3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/group_id__in_query"
          },
          {
            "$ref": "#/parameters/plan_id__in_path_v2"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListTasks",
          "revision": 3
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-tasks"
        }
      }
    },
    "/{connectionId}/v1.0/me/planner/tasks": {
      "get": {
        "summary": "List my tasks",
        "description": "List the tasks assigned to me.",
        "operationId": "ListMyTasks_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListMyTasks",
          "revision": 2
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-my-tasks"
        }
      }
    },
    "/{connectionId}/v1.0/planner/tasks/{id}/unassignusers": {
      "patch": {
        "summary": "Remove assignees from a task",
        "description": "Remove assignees from an existing Planner task.",
        "operationId": "UnassignUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the task to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "assignments"
              ],
              "properties": {
                "assignments": {
                  "description": "Semi-colon seperated ids or email addresses of users who should be unassigned to this task.",
                  "type": "string",
                  "x-ms-summary": "Remove assigned users"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetTask_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#remove-assignees-from-a-task"
        }
      }
    },
    "/{connectionId}/v1.0/planner/tasks/{id}/assignusers": {
      "patch": {
        "summary": "Add assignees to a task",
        "description": "Add assignees to an existing Planner task.",
        "operationId": "AssignUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the task to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "assignments"
              ],
              "properties": {
                "assignments": {
                  "description": "Semi-colon seperated ids or email addresses of users who should be assigned to this task.",
                  "type": "string",
                  "x-ms-summary": "Assigned User Ids"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetTask_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#add-assignees-to-a-task"
        }
      }
    },
    "/{connectionId}/v2/v1.0/planner/plans/{id}/buckets": {
      "get": {
        "summary": "List buckets",
        "description": "List the buckets in a plan.",
        "operationId": "ListBuckets_V3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/group_id__in_query"
          },
          {
            "$ref": "#/parameters/plan_id__in_path_v2"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListBuckets_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListBuckets",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-buckets"
        }
      }
    },
    "/{connectionId}/v2/v1.0/planner/buckets": {
      "post": {
        "summary": "Create a bucket",
        "description": "Create a bucket in Planner for the specified plan and group.",
        "operationId": "CreateBucket_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "name",
                "groupId",
                "planId"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the bucket",
                  "x-ms-summary": "Name"
                },
                "groupId": {
                  "description": "The group to retrieve the plan.",
                  "type": "string",
                  "x-ms-summary": "Group Id",
                  "x-ms-dynamic-values": {
                    "operationId": "ListGroups",
                    "value-collection": "value",
                    "value-path": "id",
                    "value-title": "displayName"
                  }
                },
                "planId": {
                  "description": "The plan for the new bucket.",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "ListGroupPlans",
                    "parameters": {
                      "groupId": {
                        "parameter": "groupId"
                      }
                    },
                    "value-path": "id",
                    "value-title": "title",
                    "value-collection": "value"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "ListGroupPlans",
                    "itemValuePath": "id",
                    "itemTitlePath": "title",
                    "itemsPath": "value",
                    "parameters": {
                      "groupId": {
                        "parameterReference": "body/groupId"
                      }
                    }
                  },
                  "x-ms-summary": "Plan Id"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CreateBucket_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateBucket",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#create-a-bucket"
        }
      }
    },
    "/{connectionId}/v1.0/planner/tasks/{id}/details": {
      "get": {
        "summary": "Get task details",
        "description": "Get the task details for an existing task.",
        "operationId": "GetTaskDetails_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the task to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/GetTaskDetails_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTaskDetails",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#get-task-details"
        }
      },
      "patch": {
        "summary": "Update task details",
        "description": "Update the task details for an existing task.",
        "operationId": "UpdateTaskDetails_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the task to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTaskDetails_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/GetTaskDetails_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateTaskDetails",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#update-task-details"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/planner/plans": {
      "get": {
        "summary": "List plans for a group",
        "description": "List plans owned by the group specified.",
        "operationId": "ListGroupPlans",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "groupId",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Group Id",
            "description": "Id of the group.",
            "x-ms-dynamic-values": {
              "operationId": "ListGroups",
              "value-collection": "value",
              "value-path": "id",
              "value-title": "displayName"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListMyPlans_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListGroupPlans",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-plans-for-a-group"
        }
      }
    },
    "/{connectionId}/v1.0/me/memberOf": {
      "get": {
        "summary": "List groups that I am member of",
        "description": "Get groups that the user is a direct member of.",
        "operationId": "ListGroups",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ListGroups_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-groups-that-i-am-member-of"
        }
      }
    },
    "/{connectionId}/beta/planner/onnewtask_trigger/plans/{id}/tasks": {
      "get": {
        "summary": "When a new task is created",
        "description": "This operation triggers when a new task is created.",
        "operationId": "OnNewTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/plan_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#when-a-new-task-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/planner/oncompletetask_trigger/plans/{id}/tasks": {
      "get": {
        "summary": "When a task is completed",
        "description": "This operation triggers when a task is completed.",
        "operationId": "OnCompleteTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/plan_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnCompleteTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#when-a-task-is-completed-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/me/planner/ontaskassignedtome_trigger/tasks": {
      "get": {
        "summary": "When a task is assigned to me",
        "description": "This operation triggers when a task is assigned to me.",
        "operationId": "OnTaskAssignedToMe",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, assign a task to yourself.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnTaskAssignedToMe",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#when-a-task-is-assigned-to-me-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/planner/tasks/{id}": {
      "get": {
        "summary": "Get a task",
        "description": "Get an existing Planner task.",
        "operationId": "GetTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/task_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetTask_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#get-a-task-%5bdeprecated%5d"
        }
      },
      "patch": {
        "summary": "Update a task",
        "description": "Update an existing Planner task.",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the tast to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-test-value": "0zirFGEeCE-bMO_4C5Y33mUAG-eQ",
            "x-ms-dynamic-values": {
              "operationId": "ListMyTasks",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTask_Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetTask_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#update-a-task-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/planner/plans/{id}/buckets": {
      "get": {
        "summary": "List buckets",
        "description": "List the buckets in a plan.",
        "operationId": "ListBuckets",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/plan_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListBuckets_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListBuckets",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-buckets-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/planner/tasks": {
      "post": {
        "summary": "Create a task",
        "description": "Create a new task in Planner.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTask_Request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/GetTask_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#create-a-task-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/planner/plans/{id}/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "List the tasks in a plan.",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/plan_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListTasks",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-tasks-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/me/planner/tasks": {
      "get": {
        "summary": "List my tasks",
        "description": "List the tasks assigned to me.",
        "operationId": "ListMyTasks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListMyTasks",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-my-tasks-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/me/planner/plans": {
      "get": {
        "summary": "List my plans",
        "description": "List the plans the user has subscribed to.",
        "operationId": "ListMyPlans",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListMyPlans_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListMyPlans",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-my-plans-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/beta/planner/tasks/{id}/details": {
      "get": {
        "summary": "Get task details",
        "description": "Get the task details for an existing task.",
        "operationId": "GetTaskDetails",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/task_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/GetTaskDetails_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTaskDetails",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#get-task-details-%5bdeprecated%5d"
        }
      },
      "patch": {
        "summary": "Update task details",
        "description": "Update the task details for an existing task.",
        "operationId": "UpdateTaskDetails",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/task_id__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTaskDetails_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/GetTaskDetails_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateTaskDetails",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#update-task-details-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1.0/planner/onnewtask_trigger/plans/{id}/tasks": {
      "get": {
        "summary": "When a new task is created",
        "description": "This operation triggers when a new task is created.",
        "operationId": "OnNewTask_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/plan_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response_V2"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#when-a-new-task-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/v1.0/planner/onnewtask_trigger/plans/{id}/tasks": {
      "get": {
        "summary": "When a new task is created",
        "description": "This operation triggers when a new task is created.",
        "operationId": "OnNewTask_V3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/group_id__in_query"
          },
          {
            "$ref": "#/parameters/plan_id__in_path_v2"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewTask",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#when-a-new-task-is-created"
        }
      }
    },
    "/{connectionId}/v1.0/planner/oncompletetask_trigger/plans/{id}/tasks": {
      "get": {
        "summary": "When a task is completed",
        "description": "This operation triggers when a task is completed.",
        "operationId": "OnCompleteTask_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/plan_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response_V2"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnCompleteTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#when-a-task-is-completed-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/v1.0/planner/oncompletetask_trigger/plans/{id}/tasks": {
      "get": {
        "summary": "When a task is completed",
        "description": "This operation triggers when a task is completed.",
        "operationId": "OnCompleteTask_V3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/group_id__in_query"
          },
          {
            "$ref": "#/parameters/plan_id__in_path_v2"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnCompleteTask",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#when-a-task-is-completed"
        }
      }
    },
    "/{connectionId}/v1.0/me/planner/ontaskassignedtome_trigger/tasks": {
      "get": {
        "summary": "When a task is assigned to me",
        "description": "This operation triggers when a task is assigned to me.",
        "operationId": "OnTaskAssignedToMe_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, assign a task to yourself.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnTaskAssignedToMe",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#when-a-task-is-assigned-to-me"
        }
      }
    },
    "/{connectionId}/v1.0/planner/plans/{id}/buckets": {
      "get": {
        "summary": "List buckets",
        "description": "List the buckets in a plan.",
        "operationId": "ListBuckets_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/plan_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListBuckets_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListBuckets",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-buckets-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1.0/planner/buckets": {
      "post": {
        "summary": "Create a bucket",
        "description": "Create a bucket in Planner.",
        "operationId": "CreateBucket",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "name",
                "planId"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the bucket",
                  "x-ms-summary": "Name"
                },
                "planId": {
                  "description": "The plan for the new bucket",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "ListMyPlans_V2",
                    "value-path": "id",
                    "value-title": "title",
                    "value-collection": "value"
                  },
                  "x-ms-summary": "Plan Id"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CreateBucket_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateBucket",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#create-a-bucket-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1.0/planner/tasks": {
      "post": {
        "summary": "Create a task",
        "description": "Create a new task in Planner.",
        "operationId": "CreateTask_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/prefer__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTask_Request_V2"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/GetTask_Response_V2"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#create-a-task-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1.0/planner/plans/{id}/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "List the tasks in a plan.",
        "operationId": "ListTasks_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/plan_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response_V2"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListTasks",
          "revision": 2
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-tasks-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1.0/me/planner/plans": {
      "get": {
        "summary": "List my plans",
        "description": "List the plans the user has subscribed to.",
        "operationId": "ListMyPlans_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListMyPlans_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListMyPlans",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#list-my-plans-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1.0/planner/plans/{id}/details": {
      "get": {
        "summary": "Get plan details",
        "description": "Get plan details where the task belongs to",
        "operationId": "GetPlanDetails",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique plan id.",
            "required": true,
            "x-ms-summary": "Plan Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GetPlanDetails_Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/planner/#get-plan-details"
        }
      }
    }
  },
  "definitions": {
    "ListBuckets_Response": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "The name of the bucket.",
                "type": "string",
                "x-ms-summary": "Name"
              },
              "planId": {
                "description": "The id of the plan this bucket belongs to.",
                "type": "string",
                "x-ms-summary": "Plan Id"
              },
              "id": {
                "description": "The id of the bucket.",
                "type": "string",
                "x-ms-summary": "Id"
              }
            }
          },
          "x-ms-summary": "value"
        }
      }
    },
    "ListMyPlans_Response": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "title": {
                "description": "The title of the Plan.",
                "type": "string",
                "x-ms-summary": "Title"
              },
              "id": {
                "description": "The id of the plan.",
                "type": "string",
                "x-ms-summary": "Id"
              }
            }
          },
          "x-ms-summary": "value"
        }
      }
    },
    "GetTaskDetails_Response": {
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the task.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "id": {
          "description": "The id of the task.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "references": {
          "description": "The collection of references on the task",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "resourceLink": {
                "format": "uri",
                "description": "A valid URL based on the HTTP/HTTPS protocols.",
                "type": "string",
                "x-ms-summary": "Resource link"
              },
              "value": {
                "type": "object",
                "properties": {
                  "alias": {
                    "description": "A name alias to describe the reference.",
                    "type": "string",
                    "x-ms-summary": "Alias"
                  },
                  "type": {
                    "description": "Used to describe the type of the reference.",
                    "enum": [
                      "PowerPoint",
                      "Word",
                      "Excel",
                      "OneNote",
                      "Project",
                      "Visio",
                      "Pdf",
                      "Other"
                    ],
                    "x-ms-summary": "Type of the reference"
                  }
                }
              }
            },
            "required": [
              "resourceLink"
            ]
          },
          "x-ms-summary": "References"
        },
        "checklist": {
          "description": "The collection of checklist items on the task.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "A number representing the checklist item.",
                "type": "string",
                "x-ms-summary": "Id"
              },
              "value": {
                "type": "object",
                "properties": {
                  "title": {
                    "description": "The name of the checklist item.",
                    "type": "string",
                    "x-ms-summary": "Title"
                  },
                  "isChecked": {
                    "description": "Whether or not the item is checked.",
                    "type": "boolean",
                    "x-ms-summary": "Is Checked"
                  }
                }
              }
            },
            "required": [
              "id"
            ]
          },
          "x-ms-summary": "Checklist"
        }
      }
    },
    "UpdateTaskDetails_Request": {
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the task.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "references": {
          "description": "The collection of references on the task",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "alias": {
                "description": "A name alias to describe the reference.",
                "type": "string",
                "x-ms-summary": "Alias",
                "x-ms-visibility": "important"
              },
              "resourceLink": {
                "format": "uri",
                "description": "A valid URL based on the HTTP/HTTPS protocols.",
                "type": "string",
                "x-ms-summary": "Resource link",
                "x-ms-visibility": "important"
              },
              "type": {
                "description": "Used to describe the type of the reference.",
                "enum": [
                  "PowerPoint",
                  "Word",
                  "Excel",
                  "OneNote",
                  "Project",
                  "Visio",
                  "Pdf",
                  "Other"
                ],
                "x-ms-summary": "Type of the reference"
              }
            },
            "required": [
              "resourceLink"
            ]
          },
          "x-ms-summary": "References"
        },
        "checklist": {
          "description": "The collection of checklist items on the task",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "A number representing the checklist item.",
                "type": "string",
                "x-ms-summary": "Id"
              },
              "title": {
                "description": "The name of the checklist item.",
                "type": "string",
                "x-ms-summary": "Title"
              },
              "isChecked": {
                "description": "Whether or not the item is checked.",
                "type": "boolean",
                "x-ms-summary": "Is Checked"
              }
            },
            "required": [
              "id",
              "title",
              "isChecked"
            ]
          },
          "x-ms-summary": "Checklist"
        }
      },
      "x-ms-test-value": {
        "description": "This is a test description."
      }
    },
    "CreateBucket_Response": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the bucket",
          "x-ms-summary": "Name"
        },
        "planId": {
          "type": "string",
          "description": "Plan ID to which the bucket belongs",
          "x-ms-summary": "Plan Id"
        },
        "orderHint": {
          "type": "string",
          "description": "Hint used to order items of this type in a list view",
          "x-ms-summary": "Order hint"
        },
        "id": {
          "type": "string",
          "description": "ID of the bucket",
          "x-ms-summary": "Id"
        }
      }
    },
    "ListGroups_Response": {
      "type": "object",
      "properties": {
        "value": {
          "description": "value",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Unique identifier of the group.",
                "type": "string",
                "x-ms-summary": "Group Id",
                "x-ms-visibility": "advanced"
              },
              "displayName": {
                "description": "O365 group name.",
                "type": "string",
                "x-ms-summary": "Name"
              }
            }
          }
        }
      }
    },
    "GetTask_Response_V2": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "object",
          "properties": {
            "user": {
              "type": "object",
              "properties": {
                "displayName": {
                  "description": "The display name of the user who created this task.",
                  "type": "string",
                  "x-ms-summary": "Display Name"
                },
                "id": {
                  "description": "The id of the user who created this task.",
                  "type": "string",
                  "x-ms-summary": "Id"
                }
              },
              "x-ms-summary": "User"
            }
          },
          "x-ms-summary": "Created By"
        },
        "planId": {
          "description": "The id of the plan this task belongs to.",
          "type": "string",
          "x-ms-summary": "Plan Id",
          "x-ms-visibility": "advanced"
        },
        "bucketId": {
          "description": "The id of the bucket this task belongs to.",
          "type": "string",
          "x-ms-summary": "Bucket Id",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "percentComplete": {
          "format": "int32",
          "description": "The completion percentage of the task.",
          "type": "integer",
          "x-ms-summary": "Percent Complete"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The start datetime of the task.",
          "type": "string",
          "x-ms-summary": "Start Date Time"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The datetime the task was created.",
          "type": "string",
          "x-ms-summary": "Created Date Time"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due.",
          "type": "string",
          "x-ms-summary": "Due Date Time"
        },
        "hasDescription": {
          "description": "Set to true if the task has a description.",
          "type": "boolean",
          "x-ms-summary": "Has Description"
        },
        "completedDateTime": {
          "format": "date-time",
          "description": "The datetime the task was completed.",
          "type": "string",
          "x-ms-summary": "Completed Date Time"
        },
        "referenceCount": {
          "format": "int32",
          "description": "The number of external references that exist on the task.",
          "type": "integer",
          "x-ms-summary": "Reference Count",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "The id of the task.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "appliedCategories": {
          "$ref": "#/definitions/AppliedCategories"
        },
        "_assignments": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "userId": {
                "description": "The id of the user to whom this task was assigned to.",
                "type": "string",
                "x-ms-summary": "Assigned To User Id"
              },
              "value": {
                "type": "object",
                "properties": {
                  "assignedBy": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "The id of the user who assigned this task.",
                            "type": "string",
                            "x-ms-summary": "Assigned By User Id"
                          }
                        }
                      }
                    }
                  },
                  "assignedDateTime": {
                    "format": "date-time",
                    "description": "The datetime the task was assigned.",
                    "type": "string",
                    "x-ms-summary": "Assigned Date Time"
                  },
                  "orderHint": {
                    "description": "Order Hint",
                    "type": "string",
                    "x-ms-summary": "Order Hint"
                  }
                }
              }
            }
          },
          "x-ms-summary": "assignments"
        }
      }
    },
    "GetTask_Response_V3": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "object",
          "properties": {
            "user": {
              "type": "object",
              "properties": {
                "displayName": {
                  "description": "The display name of the user who created this task.",
                  "type": "string",
                  "x-ms-summary": "Display Name"
                },
                "id": {
                  "description": "The id of the user who created this task.",
                  "type": "string",
                  "x-ms-summary": "Id"
                }
              },
              "x-ms-summary": "User"
            }
          },
          "x-ms-summary": "Created By"
        },
        "planId": {
          "description": "The id of the plan this task belongs to.",
          "type": "string",
          "x-ms-summary": "Plan Id",
          "x-ms-visibility": "advanced"
        },
        "bucketId": {
          "description": "The id of the bucket this task belongs to.",
          "type": "string",
          "x-ms-summary": "Bucket Id",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "percentComplete": {
          "format": "int32",
          "description": "The completion percentage of the task.",
          "type": "integer",
          "x-ms-summary": "Percent Complete"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The start datetime of the task.",
          "type": "string",
          "x-ms-summary": "Start Date Time"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The datetime the task was created.",
          "type": "string",
          "x-ms-summary": "Created Date Time"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due.",
          "type": "string",
          "x-ms-summary": "Due Date Time"
        },
        "hasDescription": {
          "description": "Set to true if the task has a description.",
          "type": "boolean",
          "x-ms-summary": "Has Description"
        },
        "completedDateTime": {
          "format": "date-time",
          "description": "The datetime the task was completed.",
          "type": "string",
          "x-ms-summary": "Completed Date Time"
        },
        "referenceCount": {
          "format": "int32",
          "description": "The number of external references that exist on the task.",
          "type": "integer",
          "x-ms-summary": "Reference Count",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "The id of the task.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "appliedCategories": {
          "$ref": "#/definitions/AppliedCategories"
        },
        "priority": {
          "format": "int32",
          "description": "Priority of the task. Valid range of values is between 0 and 10 (inclusive), with increasing value being lower priority (0 has the highest priority and 10 has the lowest priority). Currently, Planner interprets values 0 and 1 as \"urgent\", 2 and 3 and 4 as \"important\", 5, 6, and 7 as \"medium\", and 8, 9, and 10 as \"low\". Currently, Planner sets the value 1 for \"urgent\", 3 for \"important\", 5 for \"medium\", and 9 for \"low\".",
          "type": "integer",
          "x-ms-summary": "Priority"
        },
        "_assignments": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "userId": {
                "description": "The id of the user to whom this task was assigned to.",
                "type": "string",
                "x-ms-summary": "Assigned To User Id"
              },
              "value": {
                "type": "object",
                "properties": {
                  "assignedBy": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "The id of the user who assigned this task.",
                            "type": "string",
                            "x-ms-summary": "Assigned By User Id"
                          }
                        }
                      }
                    }
                  },
                  "assignedDateTime": {
                    "format": "date-time",
                    "description": "The datetime the task was assigned.",
                    "type": "string",
                    "x-ms-summary": "Assigned Date Time"
                  },
                  "orderHint": {
                    "description": "Order Hint",
                    "type": "string",
                    "x-ms-summary": "Order Hint"
                  }
                }
              }
            }
          },
          "x-ms-summary": "assignments"
        }
      }
    },
    "ListTasks_Response_V2": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetTask_Response_V2"
          },
          "x-ms-summary": "value"
        },
        "@odata.nextLink": {
          "description": "Link to get next page of results",
          "type": "string",
          "x-ms-summary": "Next link",
          "x-ms-visibility": "internal"
        }
      }
    },
    "UpdateTask_Request_V3": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the plan (maximum of 255 chars).",
          "type": "string",
          "maxLength": 255,
          "x-ms-summary": "Title"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Due Date-Time"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The datetime the task starts (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Start Date-Time"
        },
        "percentComplete": {
          "format": "int32",
          "description": "The completion percentage of the task.",
          "type": "integer",
          "x-ms-summary": "Percent Complete"
        },
        "bucketId": {
          "description": "The bucket to place this task in.",
          "type": "string",
          "x-ms-summary": "Bucket Id"
        },
        "appliedCategories": {
          "$ref": "#/definitions/AppliedCategories"
        }
      }
    },
    "CreateTask_Request_V3": {
      "required": [
        "groupId",
        "planId",
        "title"
      ],
      "type": "object",
      "properties": {
        "groupId": {
          "description": "The group to retrieve the plan.",
          "type": "string",
          "x-ms-summary": "Group Id",
          "x-ms-dynamic-values": {
            "operationId": "ListGroups",
            "value-collection": "value",
            "value-path": "id",
            "value-title": "displayName"
          }
        },
        "planId": {
          "description": "The plan for the new task.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "ListGroupPlans",
            "parameters": {
              "groupId": {
                "parameter": "groupId"
              }
            },
            "value-path": "id",
            "value-title": "title",
            "value-collection": "value"
          },
          "x-ms-dynamic-list": {
            "operationId": "ListGroupPlans",
            "itemValuePath": "id",
            "itemTitlePath": "title",
            "itemsPath": "value",
            "parameters": {
              "groupId": {
                "parameterReference": "body/groupId"
              }
            }
          },
          "x-ms-summary": "Plan Id"
        },
        "title": {
          "description": "The title of the new task (maximum of 255 chars).",
          "type": "string",
          "maxLength": 255,
          "x-ms-summary": "Title"
        },
        "bucketId": {
          "description": "The bucket to place this task in.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "ListBuckets_V3",
            "value-path": "id",
            "value-title": "name",
            "value-collection": "value",
            "parameters": {
              "groupId": {
                "parameter": "groupId"
              },
              "id": {
                "parameter": "planId"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListBuckets_V3",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "itemsPath": "value",
            "parameters": {
              "groupId": {
                "parameterReference": "body/groupId"
              },
              "id": {
                "parameterReference": "body/planId"
              }
            }
          },
          "x-ms-summary": "Bucket Id"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The datetime the task starts (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Start Date Time"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Due Date Time"
        },
        "assignments": {
          "description": "Semi-colon separated ids or email addresses of users to assign this task to.",
          "type": "string",
          "x-ms-summary": "Assigned User Ids"
        },
        "appliedCategories": {
          "$ref": "#/definitions/AppliedCategories"
        }
      }
    },
    "CreateTask_Request_V4": {
      "required": [
        "groupId",
        "planId",
        "title"
      ],
      "type": "object",
      "properties": {
        "groupId": {
          "description": "The group to retrieve the plan.",
          "type": "string",
          "x-ms-summary": "Group Id",
          "x-ms-dynamic-values": {
            "operationId": "ListGroups",
            "value-collection": "value",
            "value-path": "id",
            "value-title": "displayName"
          }
        },
        "planId": {
          "description": "The plan for the new task.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "ListGroupPlans",
            "parameters": {
              "groupId": {
                "parameter": "groupId"
              }
            },
            "value-path": "id",
            "value-title": "title",
            "value-collection": "value"
          },
          "x-ms-dynamic-list": {
            "operationId": "ListGroupPlans",
            "itemValuePath": "id",
            "itemTitlePath": "title",
            "itemsPath": "value",
            "parameters": {
              "groupId": {
                "parameterReference": "body/groupId"
              }
            }
          },
          "x-ms-summary": "Plan Id"
        },
        "title": {
          "description": "The title of the new task (maximum of 255 chars).",
          "type": "string",
          "maxLength": 255,
          "x-ms-summary": "Title"
        },
        "bucketId": {
          "description": "The bucket to place this task in.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "ListBuckets_V3",
            "value-path": "id",
            "value-title": "name",
            "value-collection": "value",
            "parameters": {
              "groupId": {
                "parameter": "groupId"
              },
              "id": {
                "parameter": "planId"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListBuckets_V3",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "itemsPath": "value",
            "parameters": {
              "groupId": {
                "parameterReference": "body/groupId"
              },
              "id": {
                "parameterReference": "body/planId"
              }
            }
          },
          "x-ms-summary": "Bucket Id"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The datetime the task starts (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Start Date Time"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Due Date Time"
        },
        "assignments": {
          "description": "Semi-colon separated ids or email addresses of users to assign this task to.",
          "type": "string",
          "x-ms-summary": "Assigned User Ids"
        },
        "appliedCategories": {
          "$ref": "#/definitions/AppliedCategories"
        },
        "priority": {
          "format": "int32",
          "description": "Priority of the task. Valid range of values is between 0 and 10 (inclusive), with increasing value being lower priority (0 has the highest priority and 10 has the lowest priority). Currently, Planner interprets values 0 and 1 as \"urgent\", 2 and 3 and 4 as \"important\", 5, 6, and 7 as \"medium\", and 8, 9, and 10 as \"low\". Currently, Planner sets the value 1 for \"urgent\", 3 for \"important\", 5 for \"medium\", and 9 for \"low\".",
          "type": "integer",
          "x-ms-summary": "Priority"
        }
      }
    },
    "AppliedCategories": {
      "description": "The categories to which the task has been applied.",
      "type": "object",
      "properties": {
        "category1": {
          "type": "boolean",
          "x-ms-summary": "Pink",
          "description": "True if the task has the Pink category."
        },
        "category2": {
          "type": "boolean",
          "x-ms-summary": "Red",
          "description": "True if the task has the Red category."
        },
        "category3": {
          "type": "boolean",
          "x-ms-summary": "Yellow",
          "description": "True if the task has the Yellow category."
        },
        "category4": {
          "type": "boolean",
          "x-ms-summary": "Green",
          "description": "True if the task has the Green category."
        },
        "category5": {
          "type": "boolean",
          "x-ms-summary": "Blue",
          "description": "True if the task has the Blue category."
        },
        "category6": {
          "type": "boolean",
          "x-ms-summary": "Purple",
          "description": "True if the task has the Purple category."
        },
        "category7": {
          "type": "boolean",
          "x-ms-summary": "Bronze",
          "description": "True if the task has the Bronze category."
        },
        "category8": {
          "type": "boolean",
          "x-ms-summary": "Lime",
          "description": "True if the task has the Lime category."
        },
        "category9": {
          "type": "boolean",
          "x-ms-summary": "Aqua",
          "description": "True if the task has the Aqua category."
        },
        "category10": {
          "type": "boolean",
          "x-ms-summary": "Gray",
          "description": "True if the task has the Gray category."
        },
        "category11": {
          "type": "boolean",
          "x-ms-summary": "Silver",
          "description": "True if the task has the Silver category."
        },
        "category12": {
          "type": "boolean",
          "x-ms-summary": "Brown",
          "description": "True if the task has the Brown category."
        },
        "category13": {
          "type": "boolean",
          "x-ms-summary": "Cranberry",
          "description": "True if the task has the Cranberry category."
        },
        "category14": {
          "type": "boolean",
          "x-ms-summary": "Orange",
          "description": "True if the task has the Orange category."
        },
        "category15": {
          "type": "boolean",
          "x-ms-summary": "Peach",
          "description": "True if the task has the Peach category."
        },
        "category16": {
          "type": "boolean",
          "x-ms-summary": "Marigold",
          "description": "True if the task has the Marigold category."
        },
        "category17": {
          "type": "boolean",
          "x-ms-summary": "Light green",
          "description": "True if the task has the Light green category."
        },
        "category18": {
          "type": "boolean",
          "x-ms-summary": "Dark green",
          "description": "True if the task has the Dark green category."
        },
        "category19": {
          "type": "boolean",
          "x-ms-summary": "Teal",
          "description": "True if the task has the Teal category."
        },
        "category20": {
          "type": "boolean",
          "x-ms-summary": "Light blue",
          "description": "True if the task has the Light blue category."
        },
        "category21": {
          "type": "boolean",
          "x-ms-summary": "Dark blue",
          "description": "True if the task has the Dark blue category."
        },
        "category22": {
          "type": "boolean",
          "x-ms-summary": "Lavender",
          "description": "True if the task has the Lavender category."
        },
        "category23": {
          "type": "boolean",
          "x-ms-summary": "Plum",
          "description": "True if the task has the Plum category."
        },
        "category24": {
          "type": "boolean",
          "x-ms-summary": "Light gray",
          "description": "True if the task has the Light gray category."
        },
        "category25": {
          "type": "boolean",
          "x-ms-summary": "Dark gray",
          "description": "True if the task has the Dark gray category."
        }
      }
    },
    "GetTask_Response": {
      "type": "object",
      "properties": {
        "createdBy": {
          "type": "object",
          "properties": {
            "user": {
              "type": "object",
              "properties": {
                "displayName": {
                  "description": "The display name of the user who created this task.",
                  "type": "string",
                  "x-ms-summary": "Display Name"
                },
                "id": {
                  "description": "The id of the user who created this task.",
                  "type": "string",
                  "x-ms-summary": "Id"
                }
              },
              "x-ms-summary": "User"
            }
          },
          "x-ms-summary": "Created By"
        },
        "planId": {
          "description": "The id of the plan this task belongs to.",
          "type": "string",
          "x-ms-summary": "Plan Id",
          "x-ms-visibility": "advanced"
        },
        "bucketId": {
          "description": "The id of the bucket this task belongs to.",
          "type": "string",
          "x-ms-summary": "Bucket Id",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "percentComplete": {
          "format": "int32",
          "description": "The completion percentage of the task.",
          "type": "integer",
          "x-ms-summary": "Percent Complete"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The start datetime of the task.",
          "type": "string",
          "x-ms-summary": "Start Date Time"
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The datetime the task was created.",
          "type": "string",
          "x-ms-summary": "Created Date Time"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due.",
          "type": "string",
          "x-ms-summary": "Due Date Time"
        },
        "hasDescription": {
          "description": "Set to true if the task has a description.",
          "type": "boolean",
          "x-ms-summary": "Has Description"
        },
        "completedDateTime": {
          "format": "date-time",
          "description": "The datetime the task was completed.",
          "type": "string",
          "x-ms-summary": "Completed Date Time"
        },
        "referenceCount": {
          "format": "int32",
          "description": "The number of external references that exist on the task.",
          "type": "integer",
          "x-ms-summary": "Reference Count",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "The id of the task.",
          "type": "string",
          "x-ms-summary": "Id"
        }
      }
    },
    "UpdateTask_Request": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the plan.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Due Date-Time"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The datetime the task starts (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Start Date-Time"
        },
        "percentComplete": {
          "description": "The progress of the task.",
          "enum": [
            "Not Started",
            "In Progress",
            "Completed"
          ],
          "type": "string",
          "x-ms-summary": "Progress"
        },
        "assignments": {
          "description": "The id or email address of the user to assign this task to.",
          "type": "string",
          "x-ms-summary": "Assisgned User Id"
        }
      },
      "x-ms-test-value": {
        "title": "Alpha",
        "dueDateTime": "2018-04-13T00:42:19.284Z",
        "startDateTime": "2018-04-13T00:42:19.284Z",
        "percentComplete": "In Progress",
        "assignments": "9c7e8fab-f06d-4453-8a46-83f8e7c3d0c5"
      }
    },
    "UpdateTask_Request_V2": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the plan.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Due Date-Time"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The datetime the task starts (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Start Date-Time"
        },
        "percentComplete": {
          "description": "The progress of the task.",
          "enum": [
            "Not Started",
            "In Progress",
            "Completed"
          ],
          "type": "string",
          "x-ms-summary": "Progress"
        },
        "assignments": {
          "description": "Semi-colon seperated ids or email addresses of users who should be assigned to this task.",
          "type": "string",
          "x-ms-summary": "Add assigned users"
        },
        "unassignedUsers": {
          "description": "Semi-colon seperated ids or email addresses of users who should be unassigned from this task.",
          "type": "string",
          "x-ms-summary": "Remove assigned users"
        }
      },
      "x-ms-test-value": {
        "title": "Alpha",
        "dueDateTime": "2018-04-13T00:42:19.284Z",
        "startDateTime": "2018-04-13T00:42:19.284Z",
        "percentComplete": "In Progress",
        "assignments": "9c7e8fab-f06d-4453-8a46-83f8e7c3d0c5"
      }
    },
    "CreateTask_Request": {
      "required": [
        "planId",
        "title"
      ],
      "type": "object",
      "properties": {
        "planId": {
          "description": "The plan for the new task.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "ListMyPlans_V2",
            "value-path": "id",
            "value-title": "title",
            "value-collection": "value"
          },
          "x-ms-summary": "Plan Id"
        },
        "title": {
          "description": "The title of the new task.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "bucketId": {
          "description": "The bucket to place this task in.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "ListBuckets_V2",
            "value-path": "id",
            "value-title": "name",
            "value-collection": "value",
            "parameters": {
              "id": {
                "parameter": "planId"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListBuckets_V2",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "itemsPath": "value",
            "parameters": {
              "id": {
                "parameterReference": "body/planId"
              }
            }
          },
          "x-ms-summary": "Bucket Id"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The datetime the task starts (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Start Date Time"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Due Date Time"
        },
        "assignments": {
          "description": "The id or email address of the user to assign this task to.",
          "type": "string",
          "x-ms-summary": "Assigned User Id"
        }
      },
      "x-ms-test-value": {
        "bucketId": "rsBLiy71QU6eFBap-TzIPGUACdpl",
        "planId": "AyTvkgHzjkm6lLktZ2uzmmUAHQQh",
        "title": "Test4141249",
        "startDateTime": "2018-04-13T00:42:19.2848937Z",
        "dueDateTime": "2018-04-13T00:42:19.2848937Z",
        "details": {
          "description": "Here is a test description."
        },
        "assignments": "9c7e8fab-f06d-4453-8a46-83f8e7c3d0c5"
      }
    },
    "CreateTask_Request_V2": {
      "required": [
        "planId",
        "title"
      ],
      "type": "object",
      "properties": {
        "planId": {
          "description": "The plan for the new task.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "ListMyPlans_V2",
            "value-path": "id",
            "value-title": "title",
            "value-collection": "value"
          },
          "x-ms-summary": "Plan Id"
        },
        "title": {
          "description": "The title of the new task.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "bucketId": {
          "description": "The bucket to place this task in.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "ListBuckets_V2",
            "value-path": "id",
            "value-title": "name",
            "value-collection": "value",
            "parameters": {
              "id": {
                "parameter": "planId"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListBuckets_V2",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "itemsPath": "value",
            "parameters": {
              "id": {
                "parameterReference": "body/planId"
              }
            }
          },
          "x-ms-summary": "Bucket Id"
        },
        "startDateTime": {
          "format": "date-time",
          "description": "The datetime the task starts (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Start Date Time"
        },
        "dueDateTime": {
          "format": "date-time",
          "description": "The datetime the task is due (Ex. '2018-04-13T00:42:19.284Z').",
          "type": "string",
          "x-ms-summary": "Due Date Time"
        },
        "assignments": {
          "description": "Semi-colon seperated ids or email addresses of users to assign this task to.",
          "type": "string",
          "x-ms-summary": "Assigned User Ids"
        }
      },
      "x-ms-test-value": {
        "bucketId": "rsBLiy71QU6eFBap-TzIPGUACdpl",
        "planId": "AyTvkgHzjkm6lLktZ2uzmmUAHQQh",
        "title": "Test4141249",
        "startDateTime": "2018-04-13T00:42:19.2848937Z",
        "dueDateTime": "2018-04-13T00:42:19.2848937Z",
        "details": {
          "description": "Here is a test description."
        },
        "assignments": "9c7e8fab-f06d-4453-8a46-83f8e7c3d0c5"
      }
    },
    "ListTasks_Response": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "createdBy": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "description": "The display name of the user who created this task.",
                        "type": "string",
                        "x-ms-summary": "Created by Display Name",
                        "x-ms-visibility": "important"
                      },
                      "id": {
                        "description": "The id of the user who created this task.",
                        "type": "string",
                        "x-ms-summary": "Id"
                      }
                    },
                    "x-ms-summary": "User"
                  }
                },
                "x-ms-summary": "Created By"
              },
              "completedBy": {
                "description": "Information about who completed the task",
                "type": "object",
                "properties": {
                  "user": {
                    "description": "user",
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "description": "displayName",
                        "type": "string",
                        "x-ms-summary": "Completed By Display Name"
                      },
                      "id": {
                        "description": "id",
                        "type": "string",
                        "x-ms-summary": "id",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "x-ms-summary": "user"
                  }
                },
                "x-ms-summary": "Completed By"
              },
              "planId": {
                "description": "The id of the plan this task belongs to.",
                "type": "string",
                "x-ms-summary": "Plan Id",
                "x-ms-visibility": "advanced"
              },
              "bucketId": {
                "description": "The id of the bucket this task belongs to.",
                "type": "string",
                "x-ms-summary": "Bucket Id",
                "x-ms-visibility": "advanced"
              },
              "title": {
                "description": "The title of the task.",
                "type": "string",
                "x-ms-summary": "Title",
                "x-ms-visibility": "important"
              },
              "percentComplete": {
                "format": "int32",
                "description": "The completion percentage of the task.",
                "type": "integer",
                "x-ms-summary": "Percent Complete"
              },
              "startDateTime": {
                "format": "date-time",
                "description": "The start datetime of the task.",
                "type": "string",
                "x-ms-summary": "Start Date Time"
              },
              "createdDateTime": {
                "format": "date-time",
                "description": "The datetime the task was created.",
                "type": "string",
                "x-ms-summary": "Created Date Time",
                "x-ms-visibility": "important"
              },
              "dueDateTime": {
                "format": "date-time",
                "description": "The datetime the task is due.",
                "type": "string",
                "x-ms-summary": "Due Date Time",
                "x-ms-visibility": "important"
              },
              "hasDescription": {
                "description": "Set to True if the task has a description.",
                "type": "boolean",
                "x-ms-summary": "Has Description"
              },
              "completedDateTime": {
                "format": "date-time",
                "description": "The date time that the task was completed.",
[...]
