{
  "swagger": "2.0",
  "info": {
    "title": "Purview Unified Catalog",
    "description": "Use this connector to set up automation for Microsoft Purview Unified Catalog tasks and processes, including data product access.\n\nKnown issues or limitations:\n\nTo use a data product access workflow, you also have to check the box in Unified Catalog to skip the system workflow and use external workflow.\n\nTo manage a data product access workflow, you must have a Data Product Owner role on the data product.",
    "version": "1.0",
    "contact": {
      "name": "Microsoft",
      "url": "https://support.microsoft.com"
    },
    "x-ms-deployment-version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/purviewdatacatalog",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/datagovernance/dataaccess/powerAutomate/dataProducts/{dataProductId}/requestAccessWebhook": {
      "x-ms-notification-content": {
        "description": "Webhook response",
        "schema": {
          "type": "object",
          "properties": {
            "dataSubscriptionId": {
              "type": "string",
              "description": "dataSubscriptionId"
            },
            "dataProductId": {
              "type": "string",
              "description": "dataProductId"
            },
            "dataProductName": {
              "type": "string",
              "description": "dataProductName"
            },
            "businessDomainId": {
              "type": "string",
              "description": "businessDomainId"
            },
            "businessDomainName": {
              "type": "string",
              "description": "businessDomainName"
            },
            "requestorName": {
              "type": "string",
              "description": "requestorName"
            },
            "requestorId": {
              "type": "string",
              "description": "requestorId"
            },
            "subscriberName": {
              "type": "string",
              "description": "subscriberName"
            },
            "subscriberId": {
              "type": "string",
              "description": "subscriberId"
            },
            "useCase": {
              "type": "string",
              "description": "useCase"
            },
            "businessJustification": {
              "type": "string",
              "description": "businessJustification"
            },
            "managerApprovalRequired": {
              "type": "string",
              "description": "managerApprovalRequired"
            },
            "managerApprovalId": {
              "type": "string",
              "description": "managerApprovalId"
            },
            "privacyApproverRequired": {
              "type": "string",
              "description": "privacyApproverRequired"
            },
            "privacyApproverId": {
              "type": "string",
              "description": "privacyApproverId"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "responses": {
          "201": {
            "description": "Created - Webhook successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "User or Service Principal does not have the required permissions"
          }
        },
        "summary": "Data access request submitted on a data product",
        "x-ms-summary": "Data access request submitted on a data product",
        "description": "Triggers when data product access request is submitted in the data product id provided",
        "operationId": "DataAccessRequestSubmittedOnDataProduct",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataProductId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the data product",
            "description": "The unique identifier of the data product."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "Callback url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/purviewdatacatalog/#data-access-request-submitted-on-a-data-product"
        }
      }
    },
    "/{connectionId}/datagovernance/dataaccess/powerAutomate/account/requestAccessWebhook": {
      "x-ms-notification-content": {
        "description": "Webhook response",
        "schema": {
          "type": "object",
          "properties": {
            "dataSubscriptionId": {
              "type": "string",
              "description": "dataSubscriptionId"
            },
            "dataProductId": {
              "type": "string",
              "description": "dataProductId"
            },
            "dataProductName": {
              "type": "string",
              "description": "dataProductName"
            },
            "businessDomainId": {
              "type": "string",
              "description": "businessDomainId"
            },
            "businessDomainName": {
              "type": "string",
              "description": "businessDomainName"
            },
            "requestorName": {
              "type": "string",
              "description": "requestorName"
            },
            "requestorId": {
              "type": "string",
              "description": "requestorId"
            },
            "subscriberName": {
              "type": "string",
              "description": "subscriberName"
            },
            "subscriberId": {
              "type": "string",
              "description": "subscriberId"
            },
            "useCase": {
              "type": "string",
              "description": "useCase"
            },
            "businessJustification": {
              "type": "string",
              "description": "businessJustification"
            },
            "managerApprovalRequired": {
              "type": "string",
              "description": "managerApprovalRequired"
            },
            "managerApprovalId": {
              "type": "string",
              "description": "managerApprovalId"
            },
            "privacyApproverRequired": {
              "type": "string",
              "description": "privacyApproverRequired"
            },
            "privacyApproverId": {
              "type": "string",
              "description": "privacyApproverId"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "responses": {
          "201": {
            "description": "Created - Webhook successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "User or Service Principal does not have the required permissions"
          }
        },
        "summary": "Data access request submitted on purview account",
        "x-ms-summary": "Data access request submitted on purview account",
        "description": "Triggers when data product access request is submitted in the current reconciled Purview account",
        "operationId": "DataAccessRequestSubmittedOnPurviewAccount",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "Callback url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/purviewdatacatalog/#data-access-request-submitted-on-purview-account"
        }
      }
    },
    "/{connectionId}/datagovernance/dataaccess/powerAutomate/dataSubscriptions/{dataSubscriptionId}:approve": {
      "put": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Approve data subscription",
        "x-ms-summary": "Approve data subscription",
        "description": "Sets the status of the data subscription to 'Approved'.",
        "operationId": "ApproveDataSubscription",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataSubscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the data subscription",
            "description": "The unique identifier of the data subscription."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/purviewdatacatalog/#approve-data-subscription"
        }
      }
    },
    "/{connectionId}/datagovernance/dataaccess/powerAutomate/dataSubscriptions/{dataSubscriptionId}:complete": {
      "put": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Complete data subscription",
        "x-ms-summary": "Complete data subscription",
        "description": "Sets the status of the data subscription to 'Completed'.",
        "operationId": "CompleteDataSubscription",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataSubscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the data subscription",
            "description": "The unique identifier of the data subscription."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/purviewdatacatalog/#complete-data-subscription"
        }
      }
    },
    "/{connectionId}/datagovernance/dataaccess/powerAutomate/dataSubscriptions/{dataSubscriptionId}:reject": {
      "put": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Reject data subscription",
        "x-ms-summary": "Reject data subscription",
        "description": "Sets the status of the data subscription to 'Revoked'.",
        "operationId": "RejectDataSubscription",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataSubscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the data subscription",
            "description": "The unique identifier of the data subscription."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/purviewdatacatalog/#reject-data-subscription"
        }
      }
    },
    "/{connectionId}/datagovernance/dataaccess/powerAutomate/domains/{businessDomainId}/requestAccessWebhook": {
      "x-ms-notification-content": {
        "description": "response",
        "schema": {
          "type": "object",
          "properties": {
            "dataSubscriptionId": {
              "type": "string",
              "description": "dataSubscriptionId"
            },
            "dataProductId": {
              "type": "string",
              "description": "dataProductId"
            },
            "dataProductName": {
              "type": "string",
              "description": "dataProductName"
            },
            "businessDomainId": {
              "type": "string",
              "description": "businessDomainId"
            },
            "businessDomainName": {
              "type": "string",
              "description": "businessDomainName"
            },
            "requestorName": {
              "type": "string",
              "description": "requestorName"
            },
            "requestorId": {
              "type": "string",
              "description": "requestorId"
            },
            "subscriberName": {
              "type": "string",
              "description": "subscriberName"
            },
            "subscriberId": {
              "type": "string",
              "description": "subscriberId"
            },
            "useCase": {
              "type": "string",
              "description": "useCase"
            },
            "businessJustification": {
              "type": "string",
              "description": "businessJustification"
            },
            "managerApprovalRequired": {
              "type": "string",
              "description": "managerApprovalRequired"
            },
            "managerApprovalId": {
              "type": "string",
              "description": "managerApprovalId"
            },
            "privacyApproverRequired": {
              "type": "string",
              "description": "privacyApproverRequired"
            },
            "privacyApproverId": {
              "type": "string",
              "description": "privacyApproverId"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "responses": {
          "201": {
            "description": "Created - Webhook successfully created",
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "User or Service Principal does not have the required permissions"
          }
        },
        "summary": "Data access request submitted on a business domain",
        "x-ms-summary": "Data access request submitted on a business domain",
        "description": "Triggers when data product access request is submitted in the business domain id provided",
        "operationId": "DataAccessRequestSubmittedOnBusinessDomain",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "businessDomainId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The ID of the business domain",
            "description": "The unique identifier of the business domain."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/purviewdatacatalog/#data-access-request-submitted-on-a-business-domain"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.microsoft.com/en-US/privacy/privacystatement"
    },
    {
      "propertyName": "Website",
      "propertyValue": "https://www.microsoft.com/en-US/security/business/microsoft-purview"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Data"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/purviewdatacatalog"
  }
}
