{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Microsoft To-Do (Business)",
    "description": "Microsoft To-Do is an intelligent task management app that makes it easy to plan and manage your day. Connect to Microsoft To-Do to manage your tasks from various services. You can perform actions such as creating tasks.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/todo",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/onNewToDo": {
      "get": {
        "tags": [
          "trigger"
        ],
        "summary": "When a new to-do is created",
        "description": "Triggers when a new to-do is created.",
        "operationId": "OnNewToDo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, make a new to-do.",
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnNewToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#when-a-new-to-do-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/trigger/onNewToDoInFolder/{folderId}": {
      "get": {
        "tags": [
          "trigger"
        ],
        "summary": "When a new to-do in a specific folder is created",
        "description": "Triggers when a new to-do in a specific folder is created.",
        "operationId": "OnNewToDoInFolder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, create a to-do in a given folder.",
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnNewToDoInFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#when-a-new-to-do-in-a-specific-folder-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/trigger/onUpdateToDo": {
      "get": {
        "tags": [
          "trigger"
        ],
        "summary": "When a to-do is updated",
        "description": "Triggers when a to-do is updated.",
        "operationId": "OnUpdateToDo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, update a to-do.",
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnUpdateToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#when-a-to-do-is-updated-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/trigger/onUpdateToDoInFolder/{folderId}": {
      "get": {
        "tags": [
          "trigger"
        ],
        "summary": "When a to-do in a specific folder is updated",
        "description": "Triggers when a to-do in a specific folder is updated.",
        "operationId": "OnUpdateToDoInFolder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, update a to-do in a given folder.",
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnUpdateToDoInFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#when-a-to-do-in-a-specific-folder-is-updated-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/lists": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List all to-do lists (V2)",
        "description": "Returns a list of all the to-do lists.",
        "operationId": "GetAllTodoListsV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TodoList_V2"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetAllTodoLists",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#list-all-to-do-lists-(v2)"
        }
      },
      "post": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Create a to-do list (V2)",
        "description": "This operation is used to create a new to-do list.",
        "operationId": "CreateToDoListV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDoList_V2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/TodoList_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateToDoList",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#create-a-to-do-list-(v2)"
        }
      }
    },
    "/{connectionId}/lists/{folderId}": {
      "get": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Get a to-do list (V2)",
        "description": "This operation is used to get a specific to-do list.",
        "operationId": "GetToDoListV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/TodoList_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetToDoList",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#get-a-to-do-list-(v2)"
        }
      },
      "patch": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Update a to-do list",
        "description": "This operation is used to update a specific to-do list.",
        "operationId": "UpdateToDoList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDoList_V2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/TodoList_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateToDoList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#update-a-to-do-list"
        }
      },
      "delete": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Delete a to-do list",
        "description": "This operation is used to delete a specific to-do list.",
        "operationId": "DeleteToDoList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation Successful"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DeleteToDoList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#delete-a-to-do-list"
        }
      }
    },
    "/{connectionId}/lists/{folderId}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List to-do's by folder (V2)",
        "description": "This operation is used to retrieve all to-do's from a specific list.",
        "operationId": "ListToDosByFolderV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = 10, maximum = 999).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "important",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo_V2"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListToDosByFolder",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#list-to-do%27s-by-folder-(v2)"
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Add a to-do (V3)",
        "description": "This operation is used to create a to-do in the specified to-do list.",
        "operationId": "CreateToDoV3",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDo_V2"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateToDo",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#add-a-to-do-(v3)"
        }
      }
    },
    "/{connectionId}/lists/{folderId}/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get a to-do (V3)",
        "description": "This operation is used to get the to-do with the given Id.",
        "operationId": "GetToDoV3",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolderV2",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                },
                "$top": 100
              },
              "value-path": "Id",
              "value-title": "Title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetToDo",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#get-a-to-do-(v3)"
        }
      },
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update to-do (V2)",
        "description": "This operation is used to update a specific to-do.",
        "operationId": "UpdateToDoV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolderV2",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                },
                "$top": 100
              },
              "value-path": "Id",
              "value-title": "Title"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateToDo_V2"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateToDo",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#update-to-do-(v2)"
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete to-do (V2)",
        "description": "This operation is used to delete a task.",
        "operationId": "DeleteToDoV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolderV2",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                },
                "$top": 100
              },
              "value-path": "Id",
              "value-title": "Title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation Successful"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DeleteToDo",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#delete-to-do-(v2)"
        }
      }
    },
    "/{connectionId}/taskfolders": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List all to-do lists",
        "description": "Returns a list of all the to-do lists.",
        "operationId": "GetAllTodoLists",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TodoList"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetAllTodoLists",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#list-all-to-do-lists-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Create a to-do list",
        "description": "This operation is used to create a new to-do list.",
        "operationId": "CreateToDoList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDoListBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/TodoList"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateToDoList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#create-a-to-do-list-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/taskFolders/{id}": {
      "get": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Get a to-do list",
        "description": "This operation is used to get a specific to-do list.",
        "operationId": "GetToDoList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/TodoList"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "GetToDoList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#get-a-to-do-list-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/taskFolders/{folderId}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List to-do's by folder",
        "description": "This operation is used to retrieve all to-do's from a specific list.",
        "operationId": "ListToDosByFolder",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = 10, maximum = 999).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "important",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListToDosByFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#list-to-do%27s-by-folder-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List all to-do's",
        "description": "This operation is used to retrieve all to-do's from all lists.",
        "operationId": "ListAllToDos",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = 10, maximum = 999).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "important",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListAllToDos",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#list-all-to-do%27s-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Add a to-do",
        "description": "This operation is used to create a to-do in the specified to-do list (defaults to To-Do).",
        "operationId": "CreateToDo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "To-do list",
            "required": false,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDoBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#add-a-to-do-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/tasks": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Add a to-do (V2)",
        "description": "This operation is used to create a to-do in the specified to-do list (defaults to To-Do).",
        "operationId": "CreateToDoV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "To-do list",
            "required": false,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDoHtmlBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDoHtml"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateToDo",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#add-a-to-do-(v2)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get a to-do",
        "description": "This operation is used to get the to-Do with the given Id.",
        "operationId": "GetToDo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "description": "To-do Id",
            "x-ms-summary": "To-do Id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#get-a-to-do-%5bdeprecated%5d"
        }
      },
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update to-do",
        "description": "This operation is used to update a specific to-do.",
        "operationId": "UpdateToDo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolder",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                }
              },
              "value-path": "Id",
              "value-title": "Subject"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateToDoBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "UpdateToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#update-to-do-%5bdeprecated%5d"
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete to-do",
        "description": "This operation is used to delete a task.",
        "operationId": "DeleteToDo",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolder",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                }
              },
              "value-path": "Id",
              "value-title": "Subject"
            },
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation Successful"
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DeleteToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#delete-to-do-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get a to-do (V2)",
        "description": "This operation is used to get the to-do with the given Id.",
        "operationId": "GetToDoV2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolder",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                }
              },
              "value-path": "Id",
              "value-title": "Subject"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "GetToDo",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#get-a-to-do-(v2)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/trigger/onNewToDoInFolder/{folderId}": {
      "get": {
        "tags": [
          "trigger"
        ],
        "summary": "When a new to-do in a specific folder is created (V2)",
        "description": "Triggers when a new to-do in a specific folder is created.",
        "operationId": "OnNewToDoInFolderV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo_V2"
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, create a to-do in a given folder.",
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewToDoInFolder",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#when-a-new-to-do-in-a-specific-folder-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/v2/trigger/onUpdateToDoInFolder/{folderId}": {
      "get": {
        "tags": [
          "trigger"
        ],
        "summary": "When a to-do in a specific folder is updated (V2)",
        "description": "Triggers when a to-do in a specific folder is updated.",
        "operationId": "OnUpdateToDoInFolderV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoListsV2",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo_V2"
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, update a to-do in a given folder.",
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnUpdateToDoInFolder",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todo/#when-a-to-do-in-a-specific-folder-is-updated-(v2)"
        }
      }
    }
  },
  "definitions": {
    "ToDo": {
      "description": "A Microsoft To-Do object.",
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "@odata.id": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "@odata.etag": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier of the to-do.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "createdDateTime": {
          "format": "date-time",
          "title": "Created Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedDateTime": {
          "format": "date-time",
          "title": "Modified Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "changeKey": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "categories": {
          "title": "Categories",
          "description": "Collection of category names associated with the to-do.",
          "type": "array",
          "items": {
            "title": "Category",
            "description": "Associated with the to-do.",
            "type": "string"
          },
          "x-ms-visibility": "advanced"
        },
        "assignedTo": {
          "title": "Assigned To",
          "description": "Name of the person who has been assigned the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "properties": {
            "contentType": {
              "title": "Content Type",
              "description": "Text=0, HTML=1",
              "enum": [
                "Text",
                "HTML"
              ],
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "content": {
              "title": "Content",
              "description": "The text or HTML content.",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "completedDateTime": {
          "title": "Completed",
          "description": "Date-time in the UTC time zone when the to-do was finished.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date-Time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "dueDateTime": {
          "title": "Due",
          "description": "Date in the UTC time zone when the to-do is to be finished.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "Low",
            "Normal",
            "High"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "isReminderOn": {
          "title": "Is reminder on",
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "owner": {
          "title": "Owner",
          "description": "Name of the person who created the to-do.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "parentFolderId": {
          "x-ms-visibility": "advanced",
          "title": "Parent folder identifier",
          "description": "Unique identifier of the parent folder.",
          "type": "string"
        },
        "reminderDateTime": {
          "title": "Reminder",
          "description": "Date-time in the UTC time zone for a reminder alert of the to-do to occur.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date-Time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "startDateTime": {
          "title": "Start",
          "description": "Date in the UTC time zone when the to-do is to begin.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "NotStarted",
            "InProgress",
            "Completed",
            "WaitingOnOthers",
            "Deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "subject": {
          "title": "Subject",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "ToDoHtml": {
      "description": "A Microsoft To-Do object.",
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "@odata.id": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "@odata.etag": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier of the to-do.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "createdDateTime": {
          "format": "date-time",
          "title": "Created Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedDateTime": {
          "format": "date-time",
          "title": "Modified Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "categories": {
          "title": "Categories",
          "description": "Collection of category names associated with the to-do.",
          "type": "array",
          "items": {
            "title": "Category",
            "description": "Associated with the to-do.",
            "type": "string"
          },
          "x-ms-visibility": "advanced"
        },
        "assignedTo": {
          "title": "Assigned To",
          "description": "Name of the person who has been assigned the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "properties": {
            "content": {
              "title": "Content",
              "description": "The content.",
              "type": "string",
              "format": "html",
              "x-ms-visibility": "important"
            }
          }
        },
        "completedDateTime": {
          "title": "Completed",
          "description": "Date-time in the UTC time zone when the to-do was finished.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date-Time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "dueDateTime": {
          "title": "Due",
          "description": "Date in the UTC time zone when the to-do is to be finished.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "Low",
            "Normal",
            "High"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "isReminderOn": {
          "title": "Is reminder on",
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "owner": {
          "title": "Owner",
          "description": "Name of the person who created the to-do.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "parentFolderId": {
          "x-ms-visibility": "advanced",
          "title": "Parent folder identifier",
          "description": "Unique identifier of the parent folder.",
          "type": "string"
        },
        "reminderDateTime": {
          "title": "Reminder",
          "description": "Date-time in the UTC time zone for a reminder alert of the to-do to occur.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date-Time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "startDateTime": {
          "title": "Start",
          "description": "Date in the UTC time zone when the to-do is to begin.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "NotStarted",
            "InProgress",
            "Completed",
            "WaitingOnOthers",
            "Deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "subject": {
          "title": "Subject",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateToDoBody": {
      "description": "A Microsoft To-Do.",
      "required": [
        "Subject"
      ],
      "type": "object",
      "properties": {
        "DueDateTime": {
          "description": "Date in the UTC time zone when the to-do is to be finished.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DD or YYYY-MM-DDThh:mm:ssZ (note the time portion will be ignored)",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the due date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Due Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "ReminderDateTime": {
          "description": "Date-time in UTC time zone for a reminder alert of the to-do to occur.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-summary": " Reminder Date-Time",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the reminder date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Reminder Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "StartDateTime": {
          "description": "Date in the UTC time zone when the to-do is to begin.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DD or YYYY-MM-DDThh:mm:ssZ (note the time portion will be ignored)",
              "type": "string",
              "x-ms-summary": " Start Date",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the start date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Start Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "Importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "Low",
            "Normal",
            "High"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Subject": {
          "title": "Subject",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "NotStarted",
            "InProgress",
            "Completed",
            "WaitingOnOthers",
            "Deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Sensitivity": {
          "title": "Sensitivity",
          "description": "Indicates the level of privacy for the event.",
          "enum": [
            "Normal",
            "Personal",
            "Private",
            "Confidential"
          ],
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "Body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "properties": {
            "ContentType": {
              "title": "Content Type",
              "description": "Text=0, HTML=1",
              "enum": [
                "Text",
                "HTML"
              ],
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "Content": {
              "title": "Content",
              "description": "The text or HTML content.",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "Categories": {
          "title": "Categories",
          "description": "Collection of category names associated with the to-do.",
          "type": "array",
          "items": {
            "title": "Category",
            "description": "Associated with the to-do.",
            "type": "string"
          },
          "x-ms-visibility": "advanced"
        },
        "IsReminderOn": {
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder On",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "Subject": "test to-do"
      }
    },
    "CreateToDoHtmlBody": {
      "description": "A Microsoft To-Do.",
      "required": [
        "Subject"
      ],
      "type": "object",
      "properties": {
        "DueDateTime": {
          "description": "Date in the UTC time zone when the to-do is to be finished.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DD or YYYY-MM-DDThh:mm:ssZ (note the time portion will be ignored)",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the due date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Due Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "ReminderDateTime": {
          "description": "Date-time in UTC time zone for a reminder alert of the to-do to occur.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-summary": " Reminder Date-Time",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the reminder date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Reminder Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "StartDateTime": {
          "description": "Date in the UTC time zone when the to-do is to begin.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DD or YYYY-MM-DDThh:mm:ssZ (note the time portion will be ignored)",
              "type": "string",
              "x-ms-summary": " Start Date",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the start date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Start Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "Importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "Low",
            "Normal",
            "High"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Subject": {
          "title": "Subject",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important",
          "default": "DefaultToDo"
        },
        "Status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "NotStarted",
            "InProgress",
            "Completed",
            "WaitingOnOthers",
            "Deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Sensitivity": {
          "title": "Sensitivity",
          "description": "Indicates the level of privacy for the event.",
          "enum": [
            "Normal",
            "Personal",
            "Private",
            "Confidential"
          ],
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "Body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "required": [
            "ContentType"
          ],
          "properties": {
            "ContentType": {
              "title": "Content Type",
              "description": "HTML",
              "type": "string",
              "x-ms-visibility": "internal",
              "default": "HTML"
            },
            "Content": {
              "title": "Content",
              "description": "The content.",
              "type": "string",
              "format": "html",
              "x-ms-visibility": "important"
            }
          }
        },
        "Categories": {
          "title": "Categories",
          "description": "Collection of category names associated with the to-do.",
          "type": "array",
          "items": {
            "title": "Category",
            "description": "Associated with the to-do.",
            "type": "string"
          },
          "x-ms-visibility": "advanced"
        },
        "IsReminderOn": {
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder On",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "Subject": "test to-do"
      }
    },
    "UpdateToDoBody": {
      "description": "A Microsoft To-Do.",
      "type": "object",
      "properties": {
        "DueDateTime": {
          "description": "Date in the UTC time zone when the to-do is to be finished.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DD or YYYY-MM-DDThh:mm:ssZ (note the time portion will be ignored)",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the due date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Due Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "ReminderDateTime": {
          "description": "Date-time in UTC time zone for a reminder alert of the to-do to occur.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
              "type": "string",
              "x-ms-summary": " Reminder Date-Time",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the reminder date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Reminder Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "StartDateTime": {
          "description": "Date in the UTC time zone when the to-do is to begin.",
          "required": [
            "TimeZone"
          ],
          "type": "object",
          "properties": {
            "DateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DD or YYYY-MM-DDThh:mm:ssZ (note the time portion will be ignored)",
              "type": "string",
              "x-ms-summary": " Start Date",
              "x-ms-visibility": "important"
            },
            "TimeZone": {
              "description": "Time zone of the start date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Start Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "Importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "Low",
            "Normal",
            "High"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Subject": {
          "title": "Subject",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "NotStarted",
            "InProgress",
            "Completed",
            "WaitingOnOthers",
            "Deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Sensitivity": {
          "title": "Sensitivity",
          "description": "Indicates the level of privacy for the event.",
          "enum": [
            "Normal",
            "Personal",
            "Private",
            "Confidential"
          ],
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "Body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "properties": {
            "ContentType": {
              "title": "Content Type",
              "description": "Text=0, HTML=1",
              "enum": [
                "Text",
                "HTML"
              ],
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "Content": {
              "title": "Content",
              "description": "The text or HTML content.",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "Categories": {
          "title": "Categories",
          "description": "Collection of category names associated with the to-do.",
          "type": "array",
          "items": {
            "title": "Category",
            "description": "Associated with the to-do.",
            "type": "string"
          },
          "x-ms-visibility": "advanced"
        },
        "IsReminderOn": {
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder On",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "Subject": "test to-do"
      }
    },
    "TodoList": {
      "description": "An Microsoft To-Do list.",
      "type": "object",
      "properties": {
        "@odata.id": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier of the to-do list.",
          "type": "string"
        },
        "changeKey": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "name": {
          "title": "Name",
          "description": "Name of the to-do list.",
          "type": "string"
        },
        "isDefaultFolder": {
          "description": "True if this is the default to-do list.",
          "type": "boolean",
          "x-ms-summary": "Is Default",
          "x-ms-visibility": "advanced"
        },
        "parentGroupKey": {
          "type": "string",
          "x-ms-visibility": "internal"
        }
      }
    },
    "TodoList_V2": {
      "description": "An Microsoft To-Do list.",
      "type": "object",
      "properties": {
        "@odata.etag": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier of the to-do list.",
          "type": "string"
        },
        "displayName": {
          "title": "Name",
          "description": "Name of the to-do list.",
          "type": "string"
        },
        "wellknownListName": {
          "title": "Well-known name",
          "description": "Property indicating the well-known list name if the given list is a well-known list. Possible values are: none, defaultList, flaggedEmails, unknownFutureValue.",
          "type": "string",
          "x-ms-summary": "Well-known name",
          "x-ms-visibility": "advanced"
        },
        "isOwner": {
          "title": "Is owner",
          "description": "True if the user is owner of the given task list.",
          "type": "boolean",
          "x-ms-summary": "Is owner",
          "x-ms-visibility": "advanced"
        },
        "isShared": {
          "title": "Is shared",
          "description": "True if the task list is shared with other users.",
          "type": "boolean",
          "x-ms-summary": "Is shared",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CreateToDoListBody": {
      "description": "A Microsoft To-Do list.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "List name",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important",
          "type": "string"
        }
      },
      "x-ms-test-value": {
        "name": "test to-do list"
      }
    },
    "ToDo_V2": {
      "description": "A Microsoft To-Do object.",
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "@odata.etag": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier of the to-do.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "createdDateTime": {
          "format": "date-time",
          "title": "Created Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedDateTime": {
          "format": "date-time",
          "title": "Modified Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "properties": {
            "contentType": {
              "title": "Content Type",
              "description": "The type of the content. Possible values are text and html.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "content": {
              "title": "Content",
              "description": "The content of the item.",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "bodyLastModifiedDateTime": {
          "format": "date-time",
          "title": "Modified Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "completedDateTime": {
          "title": "Completed",
          "description": "The date in the specified time zone that the task was finished.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "dueDateTime": {
          "title": "Due",
          "description": "The date in the specified time zone that the task is to be finished.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "low",
            "normal",
            "high"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "isReminderOn": {
          "title": "Is reminder on",
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "reminderDateTime": {
          "title": "Reminder",
          "description": "The date and time for a reminder alert of the task to occur.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date-Time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "notStarted",
            "inProgress",
            "completed",
            "waitingOnOthers",
            "deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "title": {
          "title": "Title",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateToDo_V2": {
      "description": "A Microsoft To-Do.",
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "dueDateTime": {
          "description": "Date in the UTC time zone when the to-do is to be finished (note the time portion will be ignored).",
          "required": [
            "timeZone"
          ],
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "important"
            },
            "timeZone": {
              "description": "Time zone of the due date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Due Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "reminderDateTime": {
          "description": "Date-time in UTC time zone for a reminder alert of the to-do to occur.",
          "required": [
            "timeZone"
          ],
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-summary": "Reminder Date-Time",
              "x-ms-visibility": "important"
            },
            "timeZone": {
              "description": "Time zone of the reminder date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Reminder Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "low",
            "normal",
            "high"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "title": {
          "title": "Title",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important",
          "default": "DefaultToDo"
        },
        "status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "notStarted",
            "inProgress",
            "completed",
            "waitingOnOthers",
            "deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "required": [
            "contentType"
          ],
          "properties": {
            "contentType": {
              "title": "Content Type",
              "description": "The type of the content. Possible values are text and html.",
              "type": "string",
              "x-ms-visibility": "internal",
              "default": "html"
            },
            "content": {
              "title": "Content",
              "description": "The content of the item.",
              "type": "string",
              "format": "html",
              "x-ms-visibility": "important"
            }
          }
        },
        "isReminderOn": {
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder On",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "title": "test to-do"
      }
    },
    "UpdateToDo_V2": {
      "description": "A Microsoft To-Do.",
      "type": "object",
      "properties": {
        "dueDateTime": {
          "description": "Date in the UTC time zone when the to-do is to be finished (note the time portion will be ignored).",
          "required": [
            "timeZone"
          ],
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "important"
            },
            "timeZone": {
              "description": "Time zone of the due date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Due Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "reminderDateTime": {
          "description": "Date-time in UTC time zone for a reminder alert of the to-do to occur.",
          "required": [
            "timeZone"
          ],
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-summary": "Reminder Date-Time",
              "x-ms-visibility": "important"
            },
            "timeZone": {
              "description": "Time zone of the reminder date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Reminder Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "low",
            "normal",
            "high"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "title": {
          "title": "Title",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "notStarted",
            "inProgress",
            "completed",
            "waitingOnOthers",
            "deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "required": [
            "contentType"
          ],
          "properties": {
            "contentType": {
              "title": "Content Type",
              "description": "The type of the content. Possible values are text and html.",
              "type": "string",
              "x-ms-visibility": "internal",
              "default": "html"
            },
            "content": {
              "title": "Content",
              "description": "The content of the item.",
              "type": "string",
              "format": "html",
              "x-ms-visibility": "important"
            }
          }
        },
        "isReminderOn": {
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder On",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "title": "test to-do"
      }
    },
    "CreateToDoList_V2": {
      "description": "A Microsoft To-Do list.",
      "required": [
        "displayName"
      ],
      "type": "object",
      "properties": {
        "displayName": {
          "description": "List name",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important",
          "type": "string"
        }
      },
      "x-ms-test-value": {
        "displayName": "test to-do list"
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetAllTodoListsV2"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://todo.microsoft.com/tasks/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/todo"
  }
}
