{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Excel Online (OneDrive)",
    "description": "Excel Online (OneDrive) connection provider lets you work with Excel files stored in OneDrive. This connection provider only supports personal (MSA) accounts.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/excelonline",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "ExcelOnlineDataSetsMetadata"
        ],
        "summary": "Get datasets metadata",
        "description": "Get datasets metadata.",
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetDataSetsMetadata",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#get-datasets-metadata-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets": {
      "get": {
        "tags": [
          "ExcelOnlineDataSetsMetadata"
        ],
        "summary": "Get datasets metadata (V2)",
        "description": "Get datasets metadata (V2).",
        "operationId": "GetDataSetsMetadataV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetDataSetsMetadata",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#get-datasets-metadata-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/testconnection": {
      "get": {
        "tags": [
          "ExcelOnlineDiagnostic"
        ],
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/drives/{drive}/files/{file}/tables": {
      "post": {
        "tags": [
          "ExcelOnlineTable"
        ],
        "summary": "Create table",
        "description": "Create a new table in the Excel workbook.",
        "operationId": "CreateTable",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required).",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                  "application/vnd.ms-excel.sheet.binary.macroEnabled.12"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListRootFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  }
                }
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  },
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "body",
            "description": "Excel table.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TableToCreate"
            },
            "x-ms-summary": "Table"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#create-table"
        }
      }
    },
    "/{connectionId}/drives/{drive}/files/{file}/tables/{table}/createIdColumn": {
      "post": {
        "tags": [
          "ExcelOnlineTable"
        ],
        "summary": "Add a key column to a table",
        "description": "Add a key column to an Excel table. The new column will be appended to the right. The new key column must be unique in the table.",
        "operationId": "CreateIdColumn",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required).",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                  "application/vnd.ms-excel.sheet.binary.macroEnabled.12"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListRootFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  }
                }
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  },
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "$select": "id,name"
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Provide the key column name.",
            "required": false,
            "x-ms-summary": "Key Column",
            "type": "string",
            "default": "__PowerAppsId__"
          },
          {
            "name": "populateColumn",
            "in": "query",
            "description": "Should the key column be populated or not.",
            "required": false,
            "x-ms-summary": "Populate Column",
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#add-a-key-column-to-a-table"
        }
      }
    },
    "/{connectionId}/httprequest": {
      "get": {
        "tags": [
          "ExcelOnlineTable"
        ],
        "summary": "Runs a generic HTTP request with GET method",
        "description": "Runs a generic HTTP request with GET method.",
        "operationId": "HttpRequestGet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "requestUri",
            "in": "query",
            "description": "Request URI.",
            "required": true,
            "x-ms-summary": "Request URI",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#runs-a-generic-http-request-with-get-method"
        }
      },
      "post": {
        "tags": [
          "ExcelOnlineTable"
        ],
        "summary": "Runs a generic HTTP request with POST method",
        "description": "Runs a generic HTTP request with POST method.",
        "operationId": "HttpRequestPost",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "requestUri",
            "in": "query",
            "description": "Request URI.",
            "required": true,
            "x-ms-summary": "Request URI",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#runs-a-generic-http-request-with-post-method"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "ExcelOnlineTableMetadata"
        ],
        "summary": "Get metadata of a table",
        "description": "Get metadata of a table.",
        "operationId": "GetTableV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTable",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#get-metadata-of-a-table-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "ExcelOnlineTableMetadata"
        ],
        "summary": "Get metadata of a table",
        "description": "Get metadata of a table.",
        "operationId": "GetTableV3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTable",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#get-metadata-of-a-table"
        }
      }
    },
    "/{connectionId}/drives({drive})/files({file})/tables({table})/items": {
      "get": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "List rows present in a table",
        "description": "List rows present in a table.",
        "operationId": "ODataStyleGetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned.",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of columns to retrieve (first 500 by default).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": false,
            "x-ms-summary": "Key Column",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "description": "DateTime Format.",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#list-rows-present-in-a-table"
        }
      },
      "post": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Update or insert a row",
        "description": "Update or insert a row using a key column.",
        "operationId": "ODataStylePostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": true,
            "x-ms-summary": "Key Column",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Provide the item properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Provide the item properties"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Mode of the operation.",
            "required": false,
            "x-ms-summary": "Mode",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "Upsert",
            "enum": [
              "Add",
              "AddV2",
              "AddWithGeneratedId",
              "AddWithCustomId",
              "Upsert"
            ]
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "description": "DateTime Format.",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#update-or-insert-a-row"
        }
      }
    },
    "/{connectionId}/drives/{drive}/files/{file}/tables/{table}/items": {
      "get": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "List rows present in a table",
        "description": "List rows present in a table.",
        "operationId": "GetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                  "application/vnd.ms-excel.sheet.binary.macroEnabled.12"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListRootFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  }
                }
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  },
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "$select": "id,name"
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned.",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Comma-separated list of columns to retrieve (first 500 by default).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": false,
            "x-ms-summary": "Key Column",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "description": "DateTime Format.",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "Serial Number",
              "ISO 8601"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#list-rows-present-in-a-table"
        }
      },
      "post": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Update or insert a row",
        "description": "Update or insert a row using a key column.",
        "operationId": "PostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                  "application/vnd.ms-excel.sheet.binary.macroEnabled.12"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListRootFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  }
                }
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  },
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "$select": "id,name"
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": true,
            "x-ms-summary": "Key Column",
            "x-ms-dynamic-values": {
              "operationId": "GetColumns",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "table": {
                  "parameter": "table"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Provide the item properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Provide the item properties"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Mode of the operation.",
            "required": false,
            "x-ms-summary": "Mode",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "Upsert",
            "enum": [
              "Add",
              "AddV2",
              "AddWithGeneratedId",
              "AddWithCustomId",
              "Upsert"
            ]
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "description": "DateTime Format.",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "Serial Number",
              "ISO 8601"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#update-or-insert-a-row"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/items": {
      "get": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "List rows present in a table (V2) (tabular)",
        "description": "List rows present in a table (tabular).",
        "operationId": "GetItemsTabularV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "isGeneratedColumn",
            "in": "query",
            "description": "Is column generated.",
            "required": true,
            "x-ms-summary": "Is generated column",
            "type": "boolean"
          },
          {
            "name": "pkColumn",
            "in": "query",
            "description": "Primary key column name.",
            "required": true,
            "x-ms-summary": "Primary key column name",
            "type": "string"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "Serial Number",
              "ISO 8601"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetItemsTabular",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#list-rows-present-in-a-table-(v2)-(tabular)"
        }
      },
      "post": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Add a row into a table (V2) (tabular)",
        "description": "Add a row into a table (tabular).",
        "operationId": "PostItemTabularV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "isGeneratedColumn",
            "in": "query",
            "description": "Is column generated.",
            "required": true,
            "x-ms-summary": "Is generated column",
            "type": "boolean"
          },
          {
            "name": "pkColumn",
            "in": "query",
            "description": "Primary key column name.",
            "required": true,
            "x-ms-summary": "Primary key column name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Provide the item properties"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "Serial Number",
              "ISO 8601"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "PostItemTabular",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#add-a-row-into-a-table-(v2)-(tabular)"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items": {
      "get": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "List rows present in a table (V2) (tabular)",
        "description": "List rows present in a table (tabular).",
        "operationId": "ODataStyleGetItemsTabularV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "isGeneratedColumn",
            "in": "query",
            "description": "Is column generated.",
            "required": true,
            "x-ms-summary": "Is generated column",
            "type": "boolean"
          },
          {
            "name": "pkColumn",
            "in": "query",
            "description": "Primary key column name.",
            "required": true,
            "x-ms-summary": "Primary key column name",
            "type": "string"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ODataStyleGetItemsTabular",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#list-rows-present-in-a-table-(v2)-(tabular)"
        }
      },
      "post": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Add a row into a table (V2) (tabular)",
        "description": "Add a row into a table (tabular).",
        "operationId": "ODataStylePostItemTabularV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "isGeneratedColumn",
            "in": "query",
            "description": "Is column generated.",
            "required": true,
            "x-ms-summary": "Is generated column",
            "type": "boolean"
          },
          {
            "name": "pkColumn",
            "in": "query",
            "description": "Primary key column name.",
            "required": true,
            "x-ms-summary": "Primary key column name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Provide the item properties"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ODataStylePostItemTabular",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#add-a-row-into-a-table-(v2)-(tabular)"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items": {
      "get": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "List rows present in a table (tabular)",
        "description": "List rows present in a table (tabular).",
        "operationId": "GetItemsTabular",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "isGeneratedColumn",
            "in": "query",
            "description": "Is column generated.",
            "required": true,
            "x-ms-summary": "Is generated column",
            "type": "boolean"
          },
          {
            "name": "pkColumn",
            "in": "query",
            "description": "Primary key column name.",
            "required": true,
            "x-ms-summary": "Primary key column name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetItemsTabular",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#list-rows-present-in-a-table-(tabular)-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Add a row into a table (tabular)",
        "description": "Add a row into a table (tabular).",
        "operationId": "PostItemTabular",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "isGeneratedColumn",
            "in": "query",
            "description": "Is column generated.",
            "required": true,
            "x-ms-summary": "Is generated column",
            "type": "boolean"
          },
          {
            "name": "pkColumn",
            "in": "query",
            "description": "Primary key column name.",
            "required": true,
            "x-ms-summary": "Primary key column name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to add.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Provide the item properties"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "PostItemTabular",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#add-a-row-into-a-table-(tabular)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/drives/{drive}/files/{file}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Get a row",
        "description": "Get a row using a key column. This action will retrieve all the values of the specified row given a column and key column.",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                  "application/vnd.ms-excel.sheet.binary.macroEnabled.12"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListRootFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  }
                }
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  },
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "$select": "id,name"
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": true,
            "x-ms-summary": "Key Column",
            "x-ms-dynamic-values": {
              "operationId": "GetColumns",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "table": {
                  "parameter": "table"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Enter the key value.",
            "required": true,
            "x-ms-summary": "Key Value",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "description": "DateTime Format.",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "Serial Number",
              "ISO 8601"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#get-a-row"
        }
      },
      "delete": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Delete a row",
        "description": "Delete a row using a key column.",
        "operationId": "DeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                  "application/vnd.ms-excel.sheet.binary.macroEnabled.12"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListRootFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  }
                }
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  },
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "$select": "id,name"
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": true,
            "x-ms-summary": "Key Column",
            "x-ms-dynamic-values": {
              "operationId": "GetColumns",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "table": {
                  "parameter": "table"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Enter the key value.",
            "required": true,
            "x-ms-summary": "Key Value",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#delete-a-row"
        }
      },
      "patch": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Update a row",
        "description": "Update a row using a key column. The input value will overwrite the specified cells and columns left blank will not be updated. In order to append (instead of overwrite) a value, use the \"Get a row\" action to retrieve the content first.",
        "operationId": "PatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                  "application/vnd.ms-excel.sheet.binary.macroEnabled.12"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListRootFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  }
                }
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' or MediaType eq 'application/vnd.ms-excel.sheet.binary.macroEnabled.12')",
                "parameters": {
                  "drive": {
                    "value": "me"
                  },
                  "source": {
                    "value": "me"
                  },
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "$select": "id,name"
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": true,
            "x-ms-summary": "Key Column",
            "x-ms-dynamic-values": {
              "operationId": "GetColumns",
              "parameters": {
                "source": "me",
                "drive": "me",
                "file": {
                  "parameter": "file"
                },
                "table": {
                  "parameter": "table"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Enter the key value.",
            "required": true,
            "x-ms-summary": "Key Value",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Provide the item properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Provide the item properties"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Mode of the operation.",
            "required": false,
            "x-ms-summary": "Update Mode",
            "x-ms-visibility": "internal",
            "type": "string",
            "enum": [
              "Update",
              "UpdateWithGeneratedId",
              "UpdateWithCustomId"
            ]
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "description": "DateTime Format.",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "Serial Number",
              "ISO 8601"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#update-a-row"
        }
      }
    },
    "/{connectionId}/drives({drive})/files({file})/tables({table})/items({id})": {
      "get": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Get a row",
        "description": "Get a row using a key column. This action will retrieve all the values of the specified row given a column and key column.",
        "operationId": "ODataStyleGetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": true,
            "x-ms-summary": "Key Column",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Enter the key value.",
            "required": true,
            "x-ms-summary": "Key Value",
            "type": "string"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "description": "DateTime Format.",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#get-a-row"
        }
      },
      "delete": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Delete a row",
        "description": "Delete a row using a key column.",
        "operationId": "ODataStyleDeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": true,
            "x-ms-summary": "Key Column",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Enter the key value.",
            "required": true,
            "x-ms-summary": "Key Value",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#delete-a-row"
        }
      },
      "patch": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Update a row",
        "description": "Update a row using a key column. The input value will overwrite the specified cells and columns left blank will not be updated. In order to append (instead of overwrite) a value, use the \"Get a row\" action to retrieve the content first.",
        "operationId": "ODataStylePatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Select from the drop-down or specify one of the following:\r\n            - \"me\"\r\n            - \"SharePoint Site URL\"\r\n            - \"users/someone's UPN\"\r\n            - \"groups/group Id\"\r\n            - \"sites/SharePoint Site URL:/teams/team name:\" (the colons are required)",
            "required": true,
            "x-ms-summary": "Location",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "drive",
            "in": "path",
            "description": "Select a document library from the drop-down.",
            "required": true,
            "x-ms-summary": "Document Library",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "me"
          },
          {
            "name": "file",
            "in": "path",
            "description": "Select an Excel file through File Browse.",
            "required": true,
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table from the drop-down.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "idColumn",
            "in": "query",
            "description": "Select a column from the drop-down.",
            "required": true,
            "x-ms-summary": "Key Column",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Enter the key value.",
            "required": true,
            "x-ms-summary": "Key Value",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Provide the item properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Provide the item properties"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Mode of the operation.",
            "required": false,
            "x-ms-summary": "Update Mode",
            "x-ms-visibility": "internal",
            "type": "string",
            "enum": [
              "Update",
              "UpdateWithGeneratedId",
              "UpdateWithCustomId"
            ]
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "description": "DateTime Format.",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#update-a-row"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items({id})": {
      "get": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Get a row (V2) (tabular)",
        "description": "Get a row (tabular).",
        "operationId": "ODataStyleGetItemTabularV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "isGeneratedColumn",
            "in": "query",
            "description": "Is column generated.",
            "required": true,
            "x-ms-summary": "Is generated column",
            "type": "boolean"
          },
          {
            "name": "pkColumn",
            "in": "query",
            "description": "Primary key column name.",
            "required": true,
            "x-ms-summary": "Primary key column name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Key value.",
            "required": true,
            "x-ms-summary": "Key Value",
            "type": "string"
          },
          {
            "name": "dateTimeFormat",
            "in": "query",
            "required": false,
            "x-ms-summary": "DateTime Format",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ODataStyleGetItemTabular",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/excelonline/#get-a-row-(v2)-(tabular)"
        }
      },
      "delete": {
        "tags": [
          "ExcelOnlineTableData"
        ],
        "summary": "Delete a row (V2) (tabular)",
        "description": "Delete a row (tabular).",
        "operationId": "ODataStyleDeleteItemTabularV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Dataset.",
            "required": true,
            "x-ms-summary": "Dataset",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table.",
            "required": true,
            "x-ms-summary": "Table",
            "type": "string"
          },
          {
            "name": "isGeneratedColumn",
            "in": "query",
            "description": "Is column generated.",
            "required": true,
            "x-ms-summary": "Is generated column",
            "type": "boolean"
          },
          {
            "name": "pkColumn",
            "in": "query",
            "description": "Primary key column name.",
            "required": true,
            "x-ms-summary": "Primary key column name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Key value.",
            "required": true,
            "x-ms-summary": "Key Value",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ODataStyleDeleteItemTabular",
          "revision": 2
        },
        "externalDocs": {
[...]
