{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Key Vault",
    "description": "Azure Key Vault is a service to securely store and access secrets.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/keyvault",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/keys": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "List keys",
        "description": "List keys.",
        "operationId": "ListKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyMetadataCollection"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#list-keys"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/keys/{keyName}/versions": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "List key versions",
        "description": "List versions of a key.",
        "operationId": "ListKeyVersions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keyName",
            "in": "path",
            "description": "Name of the key.",
            "required": true,
            "x-ms-summary": "Name of the key",
            "x-ms-dynamic-values": {
              "operationId": "ListKeys",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyMetadataCollection"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#list-key-versions"
        }
      }
    },
    "/{connectionId}/keys/{keyName}/metadata": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "Get key metadata",
        "description": "Gets metadata of a key.",
        "operationId": "GetKeyMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keyName",
            "in": "path",
            "description": "Name of the key.",
            "required": true,
            "x-ms-summary": "Name of the key",
            "x-ms-dynamic-values": {
              "operationId": "ListKeys",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#get-key-metadata"
        }
      }
    },
    "/{connectionId}/keys/{keyName}/versions/{keyVersion}/metadata": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "Get key version metadata",
        "description": "Gets metadata of a version of a key.",
        "operationId": "GetKeyVersionMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keyName",
            "in": "path",
            "description": "Name of the key.",
            "required": true,
            "x-ms-summary": "Name of the key",
            "x-ms-dynamic-values": {
              "operationId": "ListKeys",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "keyVersion",
            "in": "path",
            "description": "Version of the key.",
            "required": true,
            "x-ms-summary": "Version of the key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#get-key-version-metadata"
        }
      }
    },
    "/{connectionId}/keys/{keyName}/encrypt": {
      "post": {
        "tags": [
          "Key"
        ],
        "summary": "Encrypt data with key",
        "description": "Encrypt data using the latest version of a key.",
        "operationId": "EncryptData",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keyName",
            "in": "path",
            "description": "Name of the key.",
            "required": true,
            "x-ms-summary": "Name of the key",
            "x-ms-dynamic-values": {
              "operationId": "ListKeys",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "operationInput",
            "in": "body",
            "description": "Input for the encryption operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyEncryptInput"
            },
            "x-ms-summary": "Input for the encryption operation"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyEncryptOutput"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#encrypt-data-with-key"
        }
      }
    },
    "/{connectionId}/keys/{keyName}/versions/{keyVersion}/encrypt": {
      "post": {
        "tags": [
          "Key"
        ],
        "summary": "Encrypt data with key version",
        "description": "Encrypt data using a specific version of a key.",
        "operationId": "EncryptDataWithVersion",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keyName",
            "in": "path",
            "description": "Name of the key.",
            "required": true,
            "x-ms-summary": "Name of the key",
            "x-ms-dynamic-values": {
              "operationId": "ListKeys",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "keyVersion",
            "in": "path",
            "description": "Version of the key.",
            "required": true,
            "x-ms-summary": "Version of the key",
            "type": "string"
          },
          {
            "name": "operationInput",
            "in": "body",
            "description": "Input for the encryption operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyEncryptInput"
            },
            "x-ms-summary": "Input for the encryption operation"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyEncryptOutput"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#encrypt-data-with-key-version"
        }
      }
    },
    "/{connectionId}/keys/{keyName}/decrypt": {
      "post": {
        "tags": [
          "Key"
        ],
        "summary": "Decrypt data with key",
        "description": "Decrypt data using the latest version of a key. Output of this operation is typically classified as secret and can be visible in the run history.",
        "operationId": "DecryptData",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keyName",
            "in": "path",
            "description": "Name of the key.",
            "required": true,
            "x-ms-summary": "Name of the key",
            "x-ms-dynamic-values": {
              "operationId": "ListKeys",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "operationInput",
            "in": "body",
            "description": "Input for the decryption operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyDecryptInput"
            },
            "x-ms-summary": "Input for the decryption operation"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyDecryptOutput"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#decrypt-data-with-key"
        }
      }
    },
    "/{connectionId}/keys/{keyName}/versions/{keyVersion}/decrypt": {
      "post": {
        "tags": [
          "Key"
        ],
        "summary": "Decrypt data with key version",
        "description": "Decrypt data using a specific version of a key. Output of this operation is typically classified as secret and can be visible in the run history.",
        "operationId": "DecryptDataWithVersion",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keyName",
            "in": "path",
            "description": "Name of the key.",
            "required": true,
            "x-ms-summary": "Name of the key",
            "x-ms-dynamic-values": {
              "operationId": "ListKeys",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "keyVersion",
            "in": "path",
            "description": "Version of the key.",
            "required": true,
            "x-ms-summary": "Version of the key",
            "type": "string"
          },
          {
            "name": "operationInput",
            "in": "body",
            "description": "Input for the decryption operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/KeyDecryptInput"
            },
            "x-ms-summary": "Input for the decryption operation"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyDecryptOutput"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#decrypt-data-with-key-version"
        }
      }
    },
    "/{connectionId}/secrets": {
      "get": {
        "tags": [
          "Secret"
        ],
        "summary": "List secrets",
        "description": "List secrets.",
        "operationId": "ListSecrets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecretMetadataCollection"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#list-secrets"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/secrets/{secretName}/versions": {
      "get": {
        "tags": [
          "Secret"
        ],
        "summary": "List secret versions",
        "description": "List versions of a secret.",
        "operationId": "ListSecretVersions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the secret.",
            "required": true,
            "x-ms-summary": "Name of the secret",
            "x-ms-dynamic-values": {
              "operationId": "ListSecrets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecretMetadataCollection"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#list-secret-versions"
        }
      }
    },
    "/{connectionId}/secrets/{secretName}/metadata": {
      "get": {
        "tags": [
          "Secret"
        ],
        "summary": "Get secret metadata",
        "description": "Gets metadata of a secret.",
        "operationId": "GetSecretMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the secret.",
            "required": true,
            "x-ms-summary": "Name of the secret",
            "x-ms-dynamic-values": {
              "operationId": "ListSecrets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecretMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#get-secret-metadata"
        }
      }
    },
    "/{connectionId}/secrets/{secretName}/versions/{secretVersion}/metadata": {
      "get": {
        "tags": [
          "Secret"
        ],
        "summary": "Get secret version metadata",
        "description": "Gets metadata of a version of a secret.",
        "operationId": "GetSecretVersionMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the secret.",
            "required": true,
            "x-ms-summary": "Name of the secret",
            "x-ms-dynamic-values": {
              "operationId": "ListSecrets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "secretVersion",
            "in": "path",
            "description": "Version of the secret.",
            "required": true,
            "x-ms-summary": "Version of the secret",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecretMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#get-secret-version-metadata"
        }
      }
    },
    "/{connectionId}/secrets/{secretName}/value": {
      "get": {
        "tags": [
          "Secret"
        ],
        "summary": "Get secret",
        "description": "Gets a secret. Output of this operation is typically classified as secret and can be visible in the run history.",
        "operationId": "GetSecret",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the secret.",
            "required": true,
            "x-ms-summary": "Name of the secret",
            "x-ms-dynamic-values": {
              "operationId": "ListSecrets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Secret"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#get-secret"
        }
      }
    },
    "/{connectionId}/secrets/{secretName}/versions/{secretVersion}/value": {
      "get": {
        "tags": [
          "Secret"
        ],
        "summary": "Get secret version",
        "description": "Gets a version of a secret. Output of this operation is typically classified as secret and can be visible in the run history.",
        "operationId": "GetSecretVersion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "secretName",
            "in": "path",
            "description": "Name of the secret.",
            "required": true,
            "x-ms-summary": "Name of the secret",
            "x-ms-dynamic-values": {
              "operationId": "ListSecrets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "secretVersion",
            "in": "path",
            "description": "Version of the secret.",
            "required": true,
            "x-ms-summary": "Version of the secret",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Secret"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/keyvault/#get-secret-version"
        }
      }
    }
  },
  "definitions": {
    "KeyMetadataCollection": {
      "description": "Collection of keys",
      "type": "object",
      "properties": {
        "value": {
          "description": "The keys",
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyMetadata"
          },
          "x-ms-visibility": "important"
        },
        "continuationToken": {
          "description": "Continuation token",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "KeyMetadata": {
      "description": "Metadata of a key",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the key",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "version": {
          "description": "Version of the key",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "isEnabled": {
          "description": "A flag indicating whether the key is enabled",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "createdTime": {
          "format": "date-time",
          "description": "Time when the key was created",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "lastUpdatedTime": {
          "format": "date-time",
          "description": "Time when the key was last updated",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "validityStartTime": {
          "format": "date-time",
          "description": "Time when the key validity starts.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "validityEndTime": {
          "format": "date-time",
          "description": "Time when the key validity ends.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "allowedOperations": {
          "description": "Operations allowed using the key",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "advanced"
        },
        "keyType": {
          "description": "Type of the key",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "KeyEncryptInput": {
      "description": "Input for encryption operation",
      "required": [
        "algorithm",
        "rawData"
      ],
      "type": "object",
      "properties": {
        "algorithm": {
          "description": "Algorithm to use for encrypting the data",
          "default": "RSA-OAEP-256",
          "enum": [
            "RSA-OAEP-256",
            "RSA-OAEP",
            "RSA1_5"
          ],
          "type": "string",
          "x-ms-summary": "Algorithm"
        },
        "rawData": {
          "description": "Data to encrypt",
          "type": "string",
          "x-ms-summary": "Raw data"
        }
      }
    },
    "KeyEncryptOutput": {
      "description": "Result of encryption operation",
      "type": "object",
      "properties": {
        "encryptedData": {
          "description": "Encrypted data",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "KeyDecryptInput": {
      "description": "Input for decryption operation",
      "required": [
        "algorithm",
        "encryptedData"
      ],
      "type": "object",
      "properties": {
        "algorithm": {
          "description": "Algorithm to use for decrypting the data",
          "default": "RSA-OAEP-256",
          "enum": [
            "RSA-OAEP-256",
            "RSA-OAEP",
            "RSA1_5"
          ],
          "type": "string",
          "x-ms-summary": "Algorithm"
        },
        "encryptedData": {
          "description": "Data to decrypt",
          "type": "string",
          "x-ms-summary": "Encrypted data"
        }
      }
    },
    "KeyDecryptOutput": {
      "description": "Result of decryption operation",
      "type": "object",
      "properties": {
        "rawData": {
          "description": "Raw data",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "SecretMetadataCollection": {
      "description": "Collection of secrets",
      "type": "object",
      "properties": {
        "value": {
          "description": "The secrets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecretMetadata"
          },
          "x-ms-visibility": "important"
        },
        "continuationToken": {
          "description": "Continuation token",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SecretMetadata": {
      "description": "Metadata of a secret",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the secret",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "version": {
          "description": "Version of the secret",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "contentType": {
          "description": "Content type of the secret",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "isEnabled": {
          "description": "A flag indicating whether the secret is enabled",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "createdTime": {
          "format": "date-time",
          "description": "Time when the secret was created",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "lastUpdatedTime": {
          "format": "date-time",
          "description": "Time when the secret was last updated",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "validityStartTime": {
          "format": "date-time",
          "description": "Time when the secret validity starts.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "validityEndTime": {
          "format": "date-time",
          "description": "Time when the secret validity ends.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Secret": {
      "description": "The secret",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the secret",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Name of the secret",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "version": {
          "description": "Version of the secret",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "contentType": {
          "description": "Content type of the secret",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "isEnabled": {
          "description": "A flag indicating whether the secret is enabled",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "createdTime": {
          "format": "date-time",
          "description": "Time when the secret was created",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "lastUpdatedTime": {
          "format": "date-time",
          "description": "Time when the secret was last updated",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "validityStartTime": {
          "format": "date-time",
          "description": "Time when the secret validity starts.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "validityEndTime": {
          "format": "date-time",
          "description": "Time when the secret validity ends.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/key-vault/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/keyvault"
  }
}
