{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Text Analytics",
    "description": "Discover meaningful insights in your text data. Perform Sentiment Analysis, extract Key Phrases and scrub PII Data from your text data.",
    "contact": {
      "name": "MAQ Software Sales",
      "url": "https://maqsoftware.com/contact",
      "email": "Sales@MAQSoftware.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/maqtextanalytics",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/text/SentimentClassifier": {
      "post": {
        "summary": "Sentiment Classifier",
        "description": "Perform Sentiment Analysis of your text data",
        "operationId": "SentimentClassifier",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "text": {
                        "type": "string",
                        "description": "text"
                      }
                    }
                  },
                  "description": "data"
                }
              },
              "default": {
                "data": [
                  {
                    "id": 5,
                    "text": "store wont launch but its coo when it worked"
                  },
                  {
                    "id": 1,
                    "text": "the best product"
                  },
                  {
                    "id": 2,
                    "text": "Very easy to understand and use the design lab!"
                  },
                  {
                    "id": 3,
                    "text": "Due to the COVID 19 pandemic I would not recommend a visit to any store at this time. My order was place on line for an item I have used before and knew exactly was I was looking for. Otherwise, I would recommend a visit to the store after the pandemic passes in order to see whatever product is too be purchased."
                  },
                  {
                    "id": 4,
                    "text": "quality products, and the warranty service has been outstanding"
                  },
                  {
                    "id": 5,
                    "text": "store wont launch but its coo when it worked"
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "sentiment": {
                    "type": "number",
                    "format": "float",
                    "description": "sentiment"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/maqtextanalytics/#sentiment-classifier"
        }
      }
    },
    "/{connectionId}/text/PIIScrubber": {
      "post": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "scrubbed_text": {
                  "type": "string",
                  "description": "scrubbed_text"
                }
              }
            }
          }
        },
        "operationId": "PIIScrubber",
        "summary": "Scrub PII Data",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                },
                "entity_list": {
                  "type": "string",
                  "description": "entity_list"
                }
              }
            }
          }
        ],
        "description": "Scrub PII data from your text based on configured entities",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/maqtextanalytics/#scrub-pii-data"
        }
      }
    },
    "/{connectionId}/text/KeyPhrase": {
      "post": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "KeyPhrase": {
                    "type": "string",
                    "description": "KeyPhrase"
                  },
                  "Score": {
                    "type": "number",
                    "format": "float",
                    "description": "Score"
                  },
                  "Similar": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Similar"
                  }
                }
              }
            }
          }
        },
        "summary": "Key Phrase Extractor",
        "operationId": "KeyPhraseExtractor",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "keyphrases_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "keyphrases_count"
                },
                "diversity_threshold": {
                  "type": "number",
                  "format": "float",
                  "description": "diversity_threshold"
                },
                "alias_threshold": {
                  "type": "number",
                  "format": "float",
                  "description": "alias_threshold"
                }
              }
            }
          }
        ],
        "description": "Extract Key Phrases from your text data",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/maqtextanalytics/#key-phrase-extractor"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://maqsoftware.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://maqsoftware.com/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "APIKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/maqtextanalytics"
  }
}
