{
  "swagger": "2.0",
  "info": {
    "title": "Medallia",
    "description": "Medallia Experience Cloud is a customer feedback management software platform that empowers organizations to improve the customer experience. Connect with Medallia to manage your experience data. You can perform various actions such as send invitations, send experience signals, receive voice of customer data, etc.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Medallia Support",
      "url": "https://www.medallia.com/contact-us/",
      "email": "support@medallia.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/medallia",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/{Service}": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Trigger Invitation",
        "description": "Send Invitation Request on Case and Opportunity Closure.",
        "operationId": "Trigger_Invitation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Service",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Service ID to use on the request.",
            "x-ms-summary": "Service ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "There should be a Content-Type: header field describing the content.",
            "x-ms-summary": "Content-Type Header"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "An optional Accept: field tells the Inbound API how to format the response.",
            "x-ms-summary": "Accept Header"
          },
          {
            "name": "Instance-URL",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Customer Instance URL or Company to use on the request.",
            "x-ms-summary": "Customer Instance URL",
            "x-ms-visibility": "important"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/medallia/#trigger-invitation"
        }
      }
    },
    "/{connectionId}/inbound/v1/{Service}": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send Experience Signals",
        "description": "Connect with Medallia to manage your experience data.",
        "operationId": "Send_Experience_Signals",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Service",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Service ID",
            "description": "The Service ID to use on the request."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "There should be a Content-Type: header field describing the content.",
            "x-ms-summary": "Content-Type Header"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "An optional Accept: field tells the Inbound API how to format the response.",
            "x-ms-summary": "Accept Header"
          },
          {
            "name": "Instance-URL",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The Customer Instance URL or Company to use on the request.",
            "x-ms-summary": "Customer Instance URL"
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/medallia/#send-experience-signals"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.medallia.com/xchange/medallia-for-dynamics365/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.medallia.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Business Management"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://integrate.medallia.com/oauth/authorize",
      "tokenUrl": "https://integrate.medallia.com/oauth/token",
      "scopes": {
        "rwcompany : https://integrations-apps-apps.sbx.sea1.medallia.com/apps": "rwcompany : https://integrations-apps-apps.sbx.sea1.medallia.com/apps"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "rwcompany : https://integrations-apps-apps.sbx.sea1.medallia.com/apps"
      ]
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/medallia"
  }
}
