{
  "swagger": "2.0",
  "info": {
    "title": "Power Virtual Agents",
    "description": "Power Virtual Agents allows you to create conversational experiences that offer support by easily building powerful bots using a guided, no-code graphical interface—all without needing data scientists or developers. Connect to allow your bot to execute your own custom flows.",
    "version": "1.0",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft",
      "url": "https://powerusers.microsoft.com/t5/Power-Virtual-Agents-Community/ct-p/PVACommunity",
      "email": "pvaeng@microsoft.com"
    }
  },
  "x-ms-docs": [
    {
      "url": "https://docs.microsoft.com/en-us/power-virtual-agents/fundamentals-what-is-power-virtual-agents",
      "description": "Power Virtual Agents Overview"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/powervirtualagents",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/hybridtriggers/powerVirtualAgents": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        },
        "summary": "When Power Virtual Agents calls a flow (V2)",
        "description": "This operation establishes a connection to Power Virtual Agents",
        "operationId": "PowerVirtualAgents",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "tags": [
          "PowerVirtualAgents"
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "For internal use to enable connection with power virtual agents",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powervirtualagents/#when-power-virtual-agents-calls-a-flow-(v2)"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://powerva.microsoft.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-US/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/powervirtualagents"
  }
}