{
  "swagger": "2.0",
  "info": {
    "title": "InterAction",
    "description": "LexisNexis InterAction+ is a comprehensive CRM (Customer Relationship Management) solution designed specifically for law firms. Leverage this connector to integrate third party applications with InterAction+ to automate your work, streamline tasks and strengthen client relationships.",
    "version": "1.0",
    "contact": {
      "name": "InterAction",
      "email": "support@interaction.com",
      "url": "https://www.lexisnexis.com/en-us/products/interaction/default.page"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/interaction",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/graphql/ReadListByID": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        },
                        "listType": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "isActive": {
                              "type": "boolean",
                              "description": "isActive"
                            },
                            "listClass": {
                              "type": "string",
                              "description": "listClass"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          },
                          "description": "listType"
                        },
                        "allowedLinkInto": {
                          "type": "boolean",
                          "description": "allowedLinkInto"
                        },
                        "allowedRemoveFrom": {
                          "type": "boolean",
                          "description": "allowedRemoveFrom"
                        },
                        "addAllowed": {
                          "type": "boolean",
                          "description": "addAllowed"
                        },
                        "deleteAllowed": {
                          "type": "boolean",
                          "description": "deleteAllowed"
                        },
                        "addActivityAllowed": {
                          "type": "boolean",
                          "description": "addActivityAllowed"
                        },
                        "addNoteAllowed": {
                          "type": "boolean",
                          "description": "addNoteAllowed"
                        },
                        "ownerName": {
                          "type": "string",
                          "description": "ownerName"
                        },
                        "creatorName": {
                          "type": "string",
                          "description": "creatorName"
                        },
                        "allowedContactEntity": {
                          "type": "string",
                          "description": "allowedContactEntity"
                        },
                        "isAdministrator": {
                          "type": "boolean",
                          "description": "isAdministrator"
                        },
                        "contacts": {
                          "type": "object",
                          "properties": {
                            "totalModels": {
                              "type": "integer",
                              "format": "int32",
                              "description": "totalModels"
                            },
                            "models": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "title"
                                  },
                                  "phoneNumber": {
                                    "type": "string",
                                    "description": "phoneNumber"
                                  },
                                  "emailAddress": {
                                    "type": "string",
                                    "description": "emailAddress"
                                  },
                                  "displayName": {
                                    "type": "string",
                                    "description": "displayName"
                                  },
                                  "companyName": {
                                    "type": "string",
                                    "description": "companyName"
                                  },
                                  "companyId": {
                                    "type": "string",
                                    "description": "companyId"
                                  },
                                  "contactEntity": {
                                    "type": "string",
                                    "description": "contactEntity"
                                  },
                                  "sponsors": {
                                    "type": "object",
                                    "properties": {
                                      "displayName": {
                                        "type": "string",
                                        "description": "displayName"
                                      },
                                      "fullName": {
                                        "type": "string",
                                        "description": "fullName"
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "id"
                                      },
                                      "isPrimary": {
                                        "type": "boolean",
                                        "description": "isPrimary"
                                      }
                                    },
                                    "description": "sponsors"
                                  }
                                }
                              },
                              "description": "models"
                            }
                          },
                          "description": "contacts"
                        }
                      },
                      "description": "list"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed.",
            "schema": {}
          }
        },
        "summary": "Get List by Id",
        "operationId": "ReadListById",
        "description": "Get List by Id in InterAction+.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query.",
                  "title": "query",
                  "default": "query list($id: ID!, $skip: Int, $limit: Int, $primarySponsorName: String) {     list(id: $id) {         id         name         description         listType {             id             isActive             listClass             name         }         allowedLinkInto         allowedRemoveFrom         addAllowed         deleteAllowed         addActivityAllowed         addNoteAllowed         ownerName         creatorName         allowedContactEntity         isAdministrator         contacts(             skip: $skip             limit: $limit,             filter: { primarySponsorUserName: $primarySponsorName, checkForStrictPrimarySponsor: true },             sort: { direction: \"Ascending\", field: \"displayName\" }         ) {             totalModels             models {                 id                 title                 phoneNumber                 emailAddress                 displayName                 companyName                 companyId                 contactEntity                 sponsors {                     displayName                     fullName                     id                     isPrimary                 }                 additionalFieldValues {                     totalModels                     models {                         contactId                         dataType                         fieldDisplayName                         fieldId                         format                         id                         listId                         valueItems {                             lastEditDate                             value                             valueId                         }                     }                 }             }         }     } }",
                  "x-ms-visibility": "internal"
                },
                "variables": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "List Id.",
                      "title": "List Id",
                      "x-ms-visibility": "important"
                    },
                    "skip": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Starting point for retrieval of contacts. Default value is set to 0.",
                      "title": "Skip Contacts",
                      "default": 0,
                      "x-ms-visibility": "advanced"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of contacts to retrieve from lists. Default value is set to 100.",
                      "title": "Limit Contacts",
                      "default": 100,
                      "x-ms-visibility": "advanced"
                    },
                    "primarySponsorName": {
                      "type": "string",
                      "description": "Filter list contacts with Primary Sponsor Name which exactly match with display name of the contact.",
                      "title": "Primary Sponsor Name",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "variables",
                  "required": [
                    "id"
                  ]
                }
              },
              "required": [
                "query",
                "variables"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/interaction/#get-list-by-id"
        }
      }
    },
    "/{connectionId}/graphql/ReadListByName": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "lists": {
                      "type": "object",
                      "properties": {
                        "totalModels": {
                          "type": "integer",
                          "format": "int32",
                          "description": "totalModels"
                        },
                        "models": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "description": {
                                "type": "string",
                                "description": "description"
                              },
                              "listType": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "isActive": {
                                    "type": "boolean",
                                    "description": "isActive"
                                  },
                                  "listClass": {
                                    "type": "string",
                                    "description": "listClass"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  }
                                },
                                "description": "listType"
                              },
                              "allowedLinkInto": {
                                "type": "boolean",
                                "description": "allowedLinkInto"
                              },
                              "allowedRemoveFrom": {
                                "type": "boolean",
                                "description": "allowedRemoveFrom"
                              },
                              "addAllowed": {
                                "type": "boolean",
                                "description": "addAllowed"
                              },
                              "deleteAllowed": {
                                "type": "boolean",
                                "description": "deleteAllowed"
                              },
                              "addActivityAllowed": {
                                "type": "boolean",
                                "description": "addActivityAllowed"
                              },
                              "addNoteAllowed": {
                                "type": "boolean",
                                "description": "addNoteAllowed"
                              },
                              "ownerName": {
                                "type": "string",
                                "description": "ownerName"
                              },
                              "creatorName": {
                                "type": "string",
                                "description": "creatorName"
                              },
                              "allowedContactEntity": {
                                "type": "string",
                                "description": "allowedContactEntity"
                              },
                              "isAdministrator": {
                                "type": "boolean",
                                "description": "isAdministrator"
                              },
                              "contacts": {
                                "type": "object",
                                "properties": {
                                  "totalModels": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "totalModels"
                                  },
                                  "models": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "id"
                                        },
                                        "title": {
                                          "type": "string",
                                          "description": "title"
                                        },
                                        "phoneNumber": {
                                          "type": "string",
                                          "description": "phoneNumber"
                                        },
                                        "emailAddress": {
                                          "type": "string",
                                          "description": "emailAddress"
                                        },
                                        "displayName": {
                                          "type": "string",
                                          "description": "displayName"
                                        },
                                        "companyName": {
                                          "type": "string",
                                          "description": "companyName"
                                        },
                                        "companyId": {
                                          "type": "string",
                                          "description": "companyId"
                                        },
                                        "contactEntity": {
                                          "type": "string",
                                          "description": "contactEntity"
                                        },
                                        "sponsors": {
                                          "type": "object",
                                          "properties": {
                                            "displayName": {
                                              "type": "string",
                                              "description": "displayName"
                                            },
                                            "fullName": {
                                              "type": "string",
                                              "description": "fullName"
                                            },
                                            "id": {
                                              "type": "string",
                                              "description": "id"
                                            },
                                            "isPrimary": {
                                              "type": "boolean",
                                              "description": "isPrimary"
                                            }
                                          },
                                          "description": "sponsors"
                                        }
                                      }
                                    },
                                    "description": "models"
                                  }
                                },
                                "description": "contacts"
                              }
                            }
                          },
                          "description": "models"
                        }
                      },
                      "description": "lists"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed.",
            "schema": {}
          }
        },
        "summary": "Get List by Name",
        "operationId": "ReadListByName",
        "description": "Get List by Name in InterAction+.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query.",
                  "title": "query",
                  "x-ms-visibility": "internal",
                  "default": "query MyQuery($filterByName: String, $skip: Int, $limit: Int) {       lists(filter: { field: name, value: $filterByName }) {           totalModels           models {               id               name               description               listType {                   id                   isActive                   listClass                   name               }               allowedLinkInto               allowedRemoveFrom               addAllowed               deleteAllowed               addActivityAllowed               addNoteAllowed               ownerName               creatorName               allowedContactEntity               isAdministrator               contacts(skip: $skip, limit: $limit,sort: {direction: \"Ascending\", field: \"displayName\"}) {                   totalModels                   models {                       id                       title                       phoneNumber                       emailAddress                       displayName                       companyName                       companyId                       contactEntity                       sponsors {                           displayName                           fullName                           id                           isPrimary                       }                   }               }           }       }   }"
                },
                "variables": {
                  "type": "object",
                  "properties": {
                    "filterByName": {
                      "type": "string",
                      "description": "List Name (Retrieves the list that exactly matches the specified name).",
                      "title": "List Name",
                      "x-ms-visibility": "important"
                    },
                    "skip": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Starting point for retrieval of contacts. Default value is set to 0.",
                      "title": "Skip Contacts",
                      "x-ms-visibility": "advanced",
                      "default": 0
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of contacts to retrieve from lists. Default value is set to 100.",
                      "title": "Limit Contacts",
                      "default": 100,
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "variables",
                  "required": [
                    "filterByName"
                  ]
                }
              },
              "required": [
                "query",
                "variables"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/interaction/#get-list-by-name"
        }
      }
    },
    "/{connectionId}/graphql/ReadAdditionalFieldDefinitionsAndValues": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        },
                        "listType": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "isActive": {
                              "type": "boolean",
                              "description": "isActive"
                            },
                            "listClass": {
                              "type": "string",
                              "description": "listClass"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          },
                          "description": "listType"
                        },
                        "additionalFieldDefinitions": {
                          "type": "object",
                          "properties": {
                            "totalModels": {
                              "type": "integer",
                              "format": "int32",
                              "description": "totalModels"
                            },
                            "models": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "userDataTypeUserProfessional": {
                                    "type": "string",
                                    "description": "userDataTypeUserProfessional"
                                  },
                                  "userDataTypeUserActive": {
                                    "type": "string",
                                    "description": "userDataTypeUserActive"
                                  },
                                  "stringDataTypeMultiLine": {
                                    "type": "boolean",
                                    "description": "stringDataTypeMultiLine"
                                  },
                                  "stringDataTypeMaxLength": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "stringDataTypeMaxLength"
                                  },
                                  "secondaryFieldName": {
                                    "type": "string",
                                    "description": "secondaryFieldName"
                                  },
                                  "numericDataTypeMinValue": {
                                    "type": "string",
                                    "description": "numericDataTypeMinValue"
                                  },
                                  "numericDataTypeMaxValue": {
                                    "type": "string",
                                    "description": "numericDataTypeMaxValue"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "listDataType": {
                                    "type": "object",
                                    "properties": {
                                      "options": {
                                        "type": "array",
                                        "items": {},
                                        "description": "options"
                                      }
                                    },
                                    "description": "listDataType"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "fieldDataType": {
                                    "type": "string",
                                    "description": "fieldDataType"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "description"
                                  },
                                  "decimalDataTypePrecision": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "decimalDataTypePrecision"
                                  },
                                  "dataTypeDisplayName": {
                                    "type": "string",
                                    "description": "dataTypeDisplayName"
                                  },
                                  "booleanDataTypeFalseValue": {
                                    "type": "string",
                                    "description": "booleanDataTypeFalseValue"
                                  },
                                  "booleanDataTypeTrueValue": {
                                    "type": "string",
                                    "description": "booleanDataTypeTrueValue"
                                  },
                                  "allowsSecondaryField": {
                                    "type": "boolean",
                                    "description": "allowsSecondaryField"
                                  },
                                  "allowsMultipleValues": {
                                    "type": "boolean",
                                    "description": "allowsMultipleValues"
                                  }
                                }
                              },
                              "description": "models"
                            }
                          },
                          "description": "additionalFieldDefinitions"
                        },
                        "contacts": {
                          "type": "object",
                          "properties": {
                            "totalModels": {
                              "type": "integer",
                              "format": "int32",
                              "description": "totalModels"
                            },
                            "models": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "title": {
                                    "type": "string",
                                    "description": "title"
                                  },
                                  "phoneNumber": {
                                    "type": "string",
                                    "description": "phoneNumber"
                                  },
                                  "emailAddress": {
                                    "type": "string",
                                    "description": "emailAddress"
                                  },
                                  "displayName": {
                                    "type": "string",
                                    "description": "displayName"
                                  },
                                  "companyName": {
                                    "type": "string",
                                    "description": "companyName"
                                  },
                                  "companyId": {
                                    "type": "string",
                                    "description": "companyId"
                                  },
                                  "contactEntity": {
                                    "type": "string",
                                    "description": "contactEntity"
                                  },
                                  "sponsors": {
                                    "type": "object",
                                    "properties": {
                                      "displayName": {
                                        "type": "string",
                                        "description": "displayName"
                                      },
                                      "fullName": {
                                        "type": "string",
                                        "description": "fullName"
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "id"
                                      },
                                      "isPrimary": {
                                        "type": "boolean",
                                        "description": "isPrimary"
                                      }
                                    },
                                    "description": "sponsors"
                                  },
                                  "additionalFieldValues": {
                                    "type": "object",
                                    "properties": {
                                      "totalModels": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "totalModels"
                                      },
                                      "models": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "contactId": {
                                              "type": "string",
                                              "description": "contactId"
                                            },
                                            "dataType": {
                                              "type": "string",
                                              "description": "dataType"
                                            },
                                            "fieldDisplayName": {
                                              "type": "string",
                                              "description": "fieldDisplayName"
                                            },
                                            "fieldId": {
                                              "type": "string",
                                              "description": "fieldId"
                                            },
                                            "format": {
                                              "type": "string",
                                              "description": "format"
                                            },
                                            "id": {
                                              "type": "string",
                                              "description": "id"
                                            },
                                            "listId": {
                                              "type": "string",
                                              "description": "listId"
                                            },
                                            "separator": {
                                              "type": "string",
                                              "description": "separator"
                                            },
                                            "valueItems": {
                                              "type": "array",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "lastEditDate": {
                                                    "type": "string",
                                                    "description": "lastEditDate"
                                                  },
                                                  "qualification": {
                                                    "type": "string",
                                                    "description": "qualification"
                                                  },
                                                  "value": {
                                                    "type": "string",
                                                    "description": "value"
                                                  },
                                                  "valueId": {
                                                    "type": "string",
                                                    "description": "valueId"
                                                  }
                                                }
                                              },
                                              "description": "valueItems"
                                            }
                                          }
                                        },
                                        "description": "models"
                                      }
                                    },
                                    "description": "additionalFieldValues"
                                  }
                                }
                              },
                              "description": "models"
                            }
                          },
                          "description": "contacts"
                        }
                      },
                      "description": "list"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed.",
            "schema": {}
          }
        },
        "summary": "Get Additional Field Definitions and Values",
        "operationId": "ReadAdditionalFieldDefinitionsAndValues",
        "description": "Get Additional Field Definitions and Values of list from InterAction+.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query.",
                  "title": "query",
                  "x-ms-visibility": "internal",
                  "default": "query listContactAdditionalFieldsViewDefinitionsAndValues(     $id: ID!     $skip: Int     $limit: Int ) {     list(id: $id) {         id         name         description         listType {             id             isActive             listClass             name         }         additionalFieldDefinitions {             totalModels             models {                 userDataTypeUserProfessional                 userDataTypeUserActive                 stringDataTypeMultiLine                 stringDataTypeMaxLength                 secondaryFieldName                 numericDataTypeMinValue                 numericDataTypeMaxValue                 name                 listDataType {                     options {                         id                         name                     }                 }                 id                 fieldDataType                 description                 decimalDataTypePrecision                 dataTypeDisplayName                 booleanDataTypeFalseValue                 booleanDataTypeTrueValue                 allowsSecondaryField                 allowsMultipleValues             }         }         contacts(             skip: $skip             limit: $limit             sort: { direction: \"Ascending\", field: \"displayName\" }         ) {             totalModels             models {                 id                 title                 phoneNumber                 emailAddress                 displayName                 companyName                 companyId                 contactEntity                 sponsors {                     displayName                     fullName                     id                     isPrimary                 }                 additionalFieldValues {                     totalModels                     models {                         contactId                         dataType                         fieldDisplayName                         fieldId                         format                         id                         listId                         separator                         valueItems {                             lastEditDate                             qualification                             value                             valueId                         }                     }                 }             }         }     } }"
                },
                "variables": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "List Id.",
                      "title": "List Id"
                    },
                    "skip": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Starting point for retrieval of contacts. Default value is set to 0.",
                      "title": "Skip Contacts",
                      "x-ms-visibility": "advanced",
                      "default": 0
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of contacts to retrieve from lists. Default value is set to 100.",
                      "title": "Limit Contacts",
                      "default": 100,
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "variables",
                  "required": [
                    "id"
                  ]
                }
              },
              "required": [
                "query",
                "variables"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/interaction/#get-additional-field-definitions-and-values"
        }
      }
    },
    "/{connectionId}/graphql/UpdateAdditionalFieldValues": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "updateListContactAdditionalFields": {
                      "type": "object",
                      "properties": {
                        "models": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "failureReason": {
                                "type": "string",
                                "description": "failureReason"
                              },
                              "fieldId": {
                                "type": "string",
                                "description": "fieldId"
                              },
                              "isSuccessful": {
                                "type": "boolean",
                                "description": "isSuccessful"
                              },
                              "valueId": {
                                "type": "string",
                                "description": "valueId"
                              },
                              "__typename": {
                                "type": "string",
                                "description": "__typename"
                              }
                            }
                          },
                          "description": "models"
                        },
                        "__typename": {
                          "type": "string",
                          "description": "__typename"
                        }
                      },
                      "description": "updateListContactAdditionalFields"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query.",
                  "title": "query",
                  "default": "mutation updateAdditionalFields($input: UpdateListContactAdditionalFieldInput!) {   updateListContactAdditionalFields(input: $input) {     models {       failureReason       fieldId       isSuccessful       valueId       __typename     }     __typename   } }",
                  "x-ms-visibility": "internal"
                },
                "variables": {
                  "type": "object",
                  "properties": {
                    "input": {
                      "type": "object",
                      "properties": {
                        "contactId": {
                          "type": "string",
                          "description": "Contact Id to be updated.",
                          "title": "Contact Id"
                        },
                        "additionalFields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "fieldId": {
                                "type": "string",
                                "description": "Field Id of additional field.",
                                "title": "Field Id"
                              },
                              "value": {
                                "type": "string",
                                "description": "Value of additional field.",
                                "title": "Value"
                              },
                              "valueId": {
                                "type": "string",
                                "description": "Value Id is required only to update existing value. In case of new value leave this field empty.",
                                "title": "Value Id",
                                "default": "null"
                              },
                              "lastEditDate": {
                                "type": "string",
                                "description": "Last edited date is required only to update existing value. In case of new value leave this field empty.",
                                "title": "Last Edit Date",
                                "default": "null"
                              },
                              "fieldDataType": {
                                "type": "string",
                                "description": "Data type of additional field. Allowed datatypes are integer, text, boolean, decimal, user, date and list.",
                                "title": "Field Data Type"
                              }
                            },
                            "required": [
                              "fieldId",
                              "value",
                              "fieldDataType"
                            ]
                          },
                          "description": "additionalFields",
                          "title": "Additional Fields"
                        }
                      },
                      "description": "input",
                      "required": [
                        "contactId",
                        "additionalFields"
                      ]
                    }
                  },
                  "description": "variables",
                  "required": [
                    "input"
                  ]
                }
              },
              "required": [
                "query",
                "variables"
              ]
            }
          }
        ],
        "operationId": "AddOrUpdateAdditionalFieldValues",
        "summary": "Add or Update Additional Field Values for Contact",
        "description": "Add or Update Additional Field Values for Contact in InterAction+.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/interaction/#add-or-update-additional-field-values-for-contact"
        }
      }
    },
    "/{connectionId}/graphql/ReadContactByID": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "type": "object",
                      "properties": {
                        "contactId": {
                          "type": "string",
                          "description": "contactId"
                        },
                        "displayName": {
                          "type": "string",
                          "description": "displayName"
                        },
                        "title": {
                          "type": "string",
                          "description": "title"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "firstName"
                        },
                        "middleName": {
                          "type": "string",
                          "description": "middleName"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "lastName"
                        },
                        "goesBy": {
                          "type": "string",
                          "description": "goesBy"
                        },
                        "contactEntity": {
                          "type": "string",
                          "description": "contactEntity"
                        },
                        "currentJobTitle": {
                          "type": "string",
                          "description": "currentJobTitle"
                        },
                        "currentEmployer": {
                          "type": "object",
                          "properties": {
                            "companyName": {
                              "type": "string",
                              "description": "companyName"
                            },
                            "companyId": {
                              "type": "string",
                              "description": "companyId"
                            }
                          },
                          "description": "currentEmployer"
                        },
                        "additionalFieldValues": {
                          "type": "object",
                          "properties": {
                            "totalModels": {
                              "type": "integer",
                              "format": "int32",
                              "description": "totalModels"
                            },
                            "models": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "contactId": {
                                    "type": "string",
                                    "description": "contactId"
                                  },
                                  "dataType": {
                                    "type": "string",
                                    "description": "dataType"
                                  },
                                  "fieldId": {
                                    "type": "string",
                                    "description": "fieldId"
                                  },
                                  "fieldDisplayName": {
                                    "type": "string",
                                    "description": "fieldDisplayName"
                                  },
                                  "additionalFieldValueId": {
                                    "type": "string",
                                    "description": "additionalFieldValueId"
                                  },
                                  "listId": {
                                    "type": "string",
                                    "description": "listId"
                                  },
                                  "valueItems": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "lastEditDate": {
                                          "type": "string",
                                          "description": "lastEditDate"
                                        },
                                        "value": {
                                          "type": "string",
                                          "description": "value"
                                        },
                                        "valueId": {
                                          "type": "string",
                                          "description": "valueId"
                                        }
                                      }
                                    },
                                    "description": "valueItems"
                                  }
                                }
                              },
                              "description": "models"
                            }
                          },
                          "description": "additionalFieldValues"
                        },
                        "addresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "addressId"
                              },
                              "street": {
                                "type": "string",
                                "description": "street"
                              },
                              "city": {
                                "type": "string",
                                "description": "city"
                              },
                              "administrativeDivision": {
                                "type": "string",
                                "description": "administrativeDivision"
                              },
                              "country": {
                                "type": "string",
                                "description": "country"
                              },
                              "postalCode": {
                                "type": "string",
                                "description": "postalCode"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "usage": {
                                "type": "string",
                                "description": "usage"
                              }
                            }
                          }
                        },
                        "visibility": {
                          "type": "string",
                          "description": "visibility"
                        },
                        "emailAddresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "emailId": {
                                "type": "string",
                                "description": "emailId"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "usage": {
                                "type": "string",
                                "description": "usage"
                              },
                              "address": {
                                "type": "string",
                                "description": "address"
                              },
                              "label": {
                                "type": "string",
                                "description": "label"
                              },
                              "owningContactId": {
                                "type": "string",
                                "description": "owningContactId"
                              },
                              "isGlobal": {
                                "type": "boolean",
                                "description": "isGlobal"
                              }
                            }
                          },
                          "description": "emailAddresses"
                        },
                        "phoneNumbers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "phoneId": {
                                "type": "string",
                                "description": "phoneId"
                              },
                              "number": {
                                "type": "string",
                                "description": "number"
                              },
                              "label": {
                                "type": "string",
                                "description": "label"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "usage": {
                                "type": "string",
                                "description": "usage"
                              },
                              "owningContactId": {
                                "type": "string",
                                "description": "owningContactId"
                              },
                              "isGlobal": {
                                "type": "boolean",
                                "description": "isGlobal"
                              }
                            }
                          },
                          "description": "phoneNumbers"
                        },
                        "activities": {
                          "type": "object",
                          "properties": {
                            "skip": {
                              "type": "integer",
                              "format": "int32",
                              "description": "skip"
                            },
                            "limit": {
                              "type": "integer",
                              "format": "int32",
                              "description": "limit"
                            },
                            "totalModels": {
                              "type": "integer",
                              "format": "int32",
                              "description": "totalModels"
                            },
                            "models": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "activityId": {
                                    "type": "string",
                                    "description": "activityId"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  },
                                  "typeId": {
                                    "type": "string",
                                    "description": "typeId"
                                  },
                                  "activityClass": {
                                    "type": "string",
                                    "description": "activityClass"
                                  },
                                  "typeGroup": {
                                    "type": "string",
                                    "description": "typeGroup"
                                  },
                                  "activityStartDate": {
                                    "type": "string",
                                    "description": "activityStartDate"
                                  },
                                  "lastEditedDate": {
                                    "type": "string",
                                    "description": "lastEditedDate"
                                  },
                                  "subject": {
                                    "type": "string",
                                    "description": "subject"
                                  },
                                  "summary": {
                                    "type": "string",
                                    "description": "summary"
                                  },
                                  "location": {
                                    "type": "string",
                                    "description": "location"
                                  }
                                }
                              },
                              "description": "models"
                            }
                          },
                          "description": "activities"
                        },
                        "notes": {
                          "type": "object",
                          "properties": {
                            "allNotes": {
                              "type": "object",
                              "properties": {
                                "totalModels": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "totalModels"
                                },
                                "models": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "changeDate": {
                                        "type": "string",
                                        "description": "changeDate"
                                      },
                                      "folderId": {
                                        "type": "string",
                                        "description": "folderId"
                                      },
                                      "noteId": {
                                        "type": "string",
                                        "description": "noteId"
                                      },
                                      "notes": {
                                        "type": "string",
                                        "description": "notes"
                                      }
                                    }
                                  },
                                  "description": "models"
                                }
                              },
                              "description": "allNotes"
                            }
                          },
                          "description": "notes"
                        },
                        "lists": {
                          "type": "object",
                          "properties": {
                            "totalModels": {
                              "type": "integer",
                              "format": "int32",
                              "description": "totalModels"
                            },
                            "models": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "listId": {
                                    "type": "string",
                                    "description": "listId"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "listClass": {
                                    "type": "string",
                                    "description": "listClass"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "description"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  },
                                  "userIsSponsor": {
                                    "type": "boolean",
                                    "description": "userIsSponsor"
                                  },
                                  "allowedLinkInto": {
                                    "type": "boolean",
                                    "description": "allowedLinkInto"
                                  },
                                  "allowedRemoveFrom": {
                                    "type": "boolean",
                                    "description": "allowedRemoveFrom"
                                  },
                                  "ownerName": {
                                    "type": "string",
                                    "description": "ownerName"
                                  },
                                  "creatorName": {
                                    "type": "string",
                                    "description": "creatorName"
                                  },
                                  "sponsors": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "sponsorId": {
                                          "type": "string",
                                          "description": "sponsorId"
                                        },
                                        "displayName": {
                                          "type": "string",
                                          "description": "displayName"
                                        },
                                        "isPrimary": {
                                          "type": "boolean",
                                          "description": "isPrimary"
                                        },
                                        "fullName": {
                                          "type": "string",
                                          "description": "fullName"
                                        }
                                      }
                                    },
                                    "description": "sponsors"
                                  }
                                }
                              },
                              "description": "models"
                            }
                          },
                          "description": "lists"
                        }
                      },
                      "description": "contact"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed.",
            "schema": {}
          }
        },
        "operationId": "ReadContactById",
        "summary": "Get Contact by Id",
        "description": "Get Contact by Id along with Additional Field Values in InterAction+.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query.",
                  "title": "query",
                  "x-ms-visibility": "internal",
                  "default": "query contact($contactid: ID!, $listid: ID!) {   contact(id: $contactid) {     contactId: id     displayName     contactEntity     ... on Person {       contactId: id       displayName       title       firstName       middleName       lastName       goesBy       currentJobTitle       currentEmployer {         companyName: name         companyId: id       }       additionalFieldValues(listId: $listid) {         totalModels         models {           contactId           dataType           fieldId           fieldDisplayName           additionalFieldValueId: id           listId           valueItems {             lastEditDate             value             valueId           }         }       }       addresses {         addressID: id         street         city         administrativeDivision         country         postalCode       type       usage}     }     ... on Company {       contactId: id       name       additionalFieldValues(listId: $listid) {         totalModels         models {           contactId           dataType           fieldId           fieldDisplayName           id           listId           valueItems {             lastEditDate             value             valueId           }         }       }     }     visibility     emailAddresses {       emailId: id       type       usage       address       label       owningContactId       isGlobal     }     phoneNumbers {       phoneId: id       number       label       type       usage       owningContactId       isGlobal     }     activities {       totalModels       models {         ...ActivityFragment       }     }     notes {       allNotes {         ...NoteResultsFragment       }     }     lists(sort: {field: \"name\", direction: \"Ascending\"}, listIds: [$listid]) {       totalModels       models {         listId: id         name         listClass         description         type         userIsSponsor         allowedLinkInto         allowedRemoveFrom         ownerName         creatorName         sponsors {           sponsorId: id           displayName           isPrimary           fullName         }       }     }   } }  fragment ActivityFragment on Activity {   activityId: id   type   typeId   activityClass   typeGroup   activityStartDate   lastEditedDate   subject   summary   location }  fragment NoteResultsFragment on NoteResults {   totalModels   models {     changeDate     folderId     noteId     notes   } }"
                },
                "variables": {
                  "type": "object",
                  "properties": {
                    "contactid": {
                      "type": "string",
                      "description": "Contact Id.",
                      "title": "Contact Id",
                      "x-ms-visibility": "important"
                    },
                    "listid": {
                      "type": "string",
                      "description": "List Id can't be null and default value is set to 00000000-0000-0000-0000-000000000000.",
                      "title": "List Id",
                      "x-ms-visibility": "important",
                      "default": "00000000-0000-0000-0000-000000000000"
                    }
                  },
                  "description": "variables",
                  "required": [
                    "contactid",
                    "listid"
                  ]
                }
              },
              "required": [
                "query",
                "variables"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/interaction/#get-contact-by-id"
        }
      }
    },
    "/{connectionId}/graphql/CreateContact": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "addPerson": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "status"
                        },
                        "item": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "firstName": {
                              "type": "string",
                              "description": "firstName"
                            },
                            "lastName": {
                              "type": "string",
                              "description": "lastName"
                            },
                            "goesBy": {
                              "type": "string",
                              "description": "goesBy"
                            },
                            "currentJobTitle": {
                              "type": "string",
                              "description": "currentJobTitle"
                            },
                            "phoneNumbers": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "number": {
                                    "type": "string",
                                    "description": "number"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "label"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  },
                                  "usage": {
                                    "type": "string",
                                    "description": "usage"
                                  }
                                }
                              },
                              "description": "phoneNumbers"
                            },
                            "emailAddresses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  },
                                  "usage": {
                                    "type": "string",
                                    "description": "usage"
                                  },
                                  "address": {
                                    "type": "string",
                                    "description": "address"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "label"
                                  }
                                }
                              },
                              "description": "emailAddresses"
                            }
                          },
                          "description": "item"
                        },
                        "validationErrors": {
                          "type": "array",
                          "items": {},
                          "description": "validationErrors"
                        }
                      },
                      "description": "addPerson"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Create Person Contact",
        "description": "Create Person Contact in InterAction+.",
        "operationId": "CreateContact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query.",
                  "title": "query",
                  "x-ms-visibility": "internal",
                  "default": "mutation addPerson($input: AddPersonInput!) {   addPerson(input: $input) {     status     item {       id       firstName       lastName       goesBy       currentJobTitle       phoneNumbers {         id         number         label         type         usage       }       emailAddresses {         id         type         usage         address         label       }       middleName       title       currentEmployer {         name       }       addresses {         city         country         administrativeDivision         street         postalCode       }     }     validationErrors {       propertyName       message     }   } }"
                },
                "variables": {
                  "type": "object",
                  "properties": {
                    "input": {
                      "type": "object",
                      "properties": {
                        "firstName": {
                          "type": "string",
                          "description": "First Name.",
                          "title": "First Name",
                          "x-ms-visibility": "important"
                        },
                        "middleName": {
                          "type": "string",
                          "description": "Middle Name.",
                          "title": "Middle Name",
                          "x-ms-visibility": "important"
                        },
                        "lastName": {
                          "type": "string",
                          "description": "Last Name.",
                          "title": "Last Name",
                          "x-ms-visibility": "important"
                        },
                        "goesBy": {
                          "type": "string",
                          "description": "GoesBy.",
                          "title": "GoesBy",
                          "x-ms-visibility": "important"
                        },
                        "title": {
                          "type": "string",
                          "description": "Title (Mr., Mrs., Dr., etc.).",
                          "title": "Title",
                          "x-ms-visibility": "important"
                        },
                        "emailAddress": {
                          "type": "string",
                          "description": "Business Email Address.",
                          "title": "Email Address",
                          "x-ms-visibility": "important"
                        },
                        "companyName": {
                          "type": "string",
                          "description": "Company Name.",
                          "title": "Company Name",
                          "x-ms-visibility": "important"
                        },
                        "jobTitle": {
                          "type": "string",
                          "description": "Job Title.",
                          "title": "Job Title",
                          "x-ms-visibility": "important"
                        },
                        "primaryPhone": {
                          "type": "string",
                          "description": "Direct/Primary Phone.",
                          "title": "Direct/Primary Phone",
                          "x-ms-visibility": "important"
                        },
                        "businessAddress": {
                          "type": "object",
                          "properties": {
                            "country": {
                              "type": "string",
                              "description": "The Country of the business address.",
                              "title": "Country",
                              "x-ms-visibility": "important",
                              "enum": [
                                "Afghanistan",
                                "Aland Islands",
                                "Albania",
                                "Algeria",
                                "American Samoa",
                                "Andorra",
                                "Angola",
                                "Anguilla",
                                "Antarctica",
                                "Antigua and Barbuda",
                                "Argentina",
                                "Armenia",
                                "Aruba",
                                "Australia",
                                "Austria",
                                "Azerbaijan",
                                "Bahamas",
                                "Bahrain",
                                "Bangladesh",
                                "Barbados",
                                "Belarus",
                                "Belgium",
                                "Belize",
                                "Benin",
                                "Bermuda",
                                "Bhutan",
                                "Bolivia, Plurinational State of",
                                "Bonaire, Sint Eustatius and Saba",
                                "Bosnia and Herzegovina",
                                "Botswana",
                                "Bouvet Island",
                                "Brazil",
                                "British Indian Ocean Territory",
                                "British Virgin Islands",
                                "Brunei Darussalam",
                                "Bulgaria",
                                "Burkina Faso",
                                "Burundi",
                                "Cambodia",
                                "Cameroon",
                                "Canada",
                                "Cape Verde",
                                "Cayman Islands",
                                "Central African Republic",
                                "Chad",
                                "Chile",
                                "China",
                                "Christmas Island",
                                "Cocos (Keeling) Islands",
                                "Colombia",
                                "Comoros",
                                "Congo",
                                "Cook Islands",
                                "Costa Rica",
                                "Côte d'Ivoire",
                                "Croatia",
                                "Cuba",
                                "Curaçao",
                                "Cyprus",
                                "Czech Republic",
                                "Democratic Republic of Congo",
                                "Denmark",
                                "Djibouti",
                                "Dominica",
                                "Dominican Republic",
                                "Ecuador",
                                "Egypt",
                                "El Salvador",
                                "Equatorial Guinea",
                                "Eritrea",
                                "Estonia",
                                "Ethiopia",
                                "Faeroe Islands",
                                "Falkland Islands",
                                "Federal Republic of Somalia",
                                "Fiji",
                                "Finland",
                                "France",
                                "French Guiana",
                                "French Polynesia",
                                "French Southern Territories",
                                "Gabon",
                                "Gambia",
                                "Georgia",
                                "Germany",
                                "Ghana",
                                "Gibraltar",
                                "Greece",
                                "Greenland",
                                "Grenada",
                                "Guadeloupe",
                                "Guam",
                                "Guatemala",
                                "Guernsey",
                                "Guinea",
                                "Guinea-Bissau",
                                "Guyana",
                                "Haiti",
                                "Heard Island and McDonald Islands",
                                "Honduras",
                                "Hong Kong",
                                "Hungary",
                                "Iceland",
                                "India",
                                "Indonesia",
                                "Iran",
                                "Iraq",
                                "Ireland",
                                "Isle of Man",
                                "Israel",
                                "Italy",
                                "Jamaica",
                                "Japan",
                                "Jersey",
                                "Jordan",
                                "Kazakhstan",
                                "Kenya",
                                "Kiribati",
                                "Kuwait",
                                "Kyrgyzstan",
                                "Laos",
                                "Latvia",
                                "Lebanon",
                                "Lesotho",
                                "Liberia",
                                "Libya",
                                "Liechtenstein",
                                "Lithuania",
                                "Luxembourg",
                                "Macau",
                                "Macedonia",
                                "Madagascar",
                                "Malawi",
                                "Malaysia",
                                "Maldives",
                                "Mali",
                                "Malta",
                                "Marshall Islands",
                                "Martinique",
                                "Mauritania",
                                "Mauritius",
                                "Mayotte",
                                "Mexico",
                                "Micronesia (Federated States of)",
                                "Monaco",
                                "Mongolia",
                                "Montenegro",
                                "Montserrat",
                                "Morocco",
                                "Mozambique",
                                "Myanmar",
                                "Namibia",
                                "Nauru",
                                "Nepal",
                                "Netherlands",
                                "New Caledonia",
                                "New Zealand",
                                "Nicaragua",
                                "Niger",
                                "Nigeria",
                                "Niue",
                                "Norfolk Island",
                                "North Korea",
                                "Northern Mariana Islands",
                                "Norway",
                                "Oman",
                                "Pakistan",
                                "Palau",
                                "Palestinian Territory, Occupied",
                                "Panama",
                                "Papua New Guinea, Independent State of",
                                "Paraguay",
                                "Peru",
                                "Philippines",
                                "Pitcairn",
                                "Poland",
                                "Portugal",
                                "Puerto Rico",
                                "Qatar",
                                "Republic of Moldova",
                                "Réunion",
                                "Romania",
                                "Russia",
                                "Rwanda",
                                "Saint Barthélemy",
                                "Saint Helena, Ascension and Tristan da Cunha",
                                "Saint Kitts and Nevis",
                                "Saint Martin (French Part)",
                                "Saint Pierre and Miquelon",
                                "Saint Vincent and the Grenadines",
                                "Samoa",
                                "San Marino",
                                "Sao Tome and Principe",
                                "Saudi Arabia",
                                "Senegal",
                                "Serbia",
                                "Seychelles",
                                "Sierra Leone",
                                "Singapore",
                                "Slovakia",
                                "Slovenia",
                                "Solomon Islands",
                                "South Africa",
                                "South Georgia and South Sandwich Islands",
                                "South Korea",
                                "South Sudan",
                                "Spain",
                                "Sri Lanka",
                                "St. Lucia",
                                "St. Maarten (Dutch Part)",
                                "Sudan",
                                "Suriname",
                                "Svalbard and Jan Mayen",
                                "Swaziland",
                                "Sweden",
                                "Switzerland",
                                "Syria",
                                "Taiwan",
                                "Tajikistan",
                                "Tanzania",
                                "Thailand",
                                "Timor-Leste",
                                "Togo",
                                "Tokelau",
                                "Tonga",
                                "Trinidad and Tobago",
                                "Tunisia",
                                "Turkey",
                                "Turkmenistan",
                                "Turks and Caicos Islands",
                                "Tuvalu",
                                "U.S. Virgin Islands",
                                "Uganda",
                                "Ukraine",
                                "United Arab Emirates",
                                "United Kingdom",
                                "United States Minor Outlying Islands",
                                "United States of America",
                                "Uruguay",
                                "Uzbekistan",
                                "Vanuatu",
                                "Vatican",
                                "Venezuela, Bolivarian Republic of",
                                "Vietnam",
                                "Wallis and Futuna",
                                "Western Sahara",
                                "Yemen",
                                "Zambia",
                                "Zimbabwe"
                              ]
                            },
                            "street": {
                              "type": "string",
                              "description": "The Street of the business address.",
                              "title": "Street",
                              "x-ms-visibility": "important"
                            },
                            "city": {
                              "type": "string",
                              "description": "The City of the business address.",
                              "title": "City",
                              "x-ms-visibility": "important"
                            },
                            "administrativeDivision": {
                              "type": "string",
[...]
