{
  "swagger": "2.0",
  "info": {
    "title": "Perfect Wiki",
    "description": "Perfect Wiki is a knowledge base solution for Microsoft Teams. This connector enables automated interactions with your knowledge bot—send queries and receive instant answers based on your internal documentation, making information retrieval faster and easier for your team.",
    "version": "1.0",
    "contact": {
      "name": "Perfect Wiki",
      "url": "https://perfectwiki.com",
      "email": "hello@perfectwiki.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/perfectwiki",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/chatgpt/users/session": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "getCurrentUser",
        "summary": "Get information about currently authenticated user",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Response includes name & email of the user, accessible knowledge bases and brief information about organization",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/perfectwiki/#get-information-about-currently-authenticated-user"
        }
      }
    },
    "/{connectionId}/chatgpt/organization/bot": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Query Perfect Wiki knowledge base",
        "description": "Get answers from Perfect Wiki knowledge bot",
        "operationId": "queryKnowledgebase",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The query to ask ai bot",
            "x-ms-summary": "The query to ask ai bot"
          },
          {
            "name": "chatId",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Internal chat session ID used to group related request",
            "description": "Internal chat session ID used to group related requests. Should remain consistent for the session and be hidden from the user"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/perfectwiki/#query-perfect-wiki-knowledge-base"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.perfectwiki.xyz/api/oauth/auth",
      "tokenUrl": "https://api.perfectwiki.xyz/api/oauth/token",
      "scopes": {
        "default": "default"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "default"
      ]
    }
  ],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "Perfect Wiki",
    "contactEmail": "hello@perfectwiki.com",
    "legalUrl": "https://perfectwiki.com/privacy/",
    "modelDescription": "Perfect Wiki is a knowledge base solution for Microsoft Teams. This connector enables automated interactions with your knowledge bot—send queries and receive instant answers based on your internal documentation, making information retrieval faster and easier for your team."
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://perfectwiki.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://perfectwiki.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    },
    {
      "propertyName": "Support contact",
      "propertyValue": "hello@perfectwiki.com"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/perfectwiki"
  }
}
