{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Microsoft Translator V2",
    "description": "Microsoft Translator lets you translate text across multiple languages.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/translatorv2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/Languages": {
      "get": {
        "tags": [
          "MicrosoftTranslator"
        ],
        "summary": "Get languages",
        "description": "Retrieves all languages that Microsoft Translator supports for translation, transliteration or dictionary scopes",
        "operationId": "Languages",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "The scope of supported languages: translation, transliteration or dictionary",
            "required": false,
            "x-ms-summary": "Scope",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "translation"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Language"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/translatorv2/#get-languages"
        }
      }
    },
    "/{connectionId}/Translate": {
      "post": {
        "tags": [
          "MicrosoftTranslator"
        ],
        "summary": "Translate text",
        "description": "Translates text to a specified language using Microsoft Translator.",
        "operationId": "Translate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "to",
            "in": "query",
            "description": "The target language code (example: 'fr').",
            "required": true,
            "x-ms-summary": "Target Language",
            "x-ms-dynamic-values": {
              "operationId": "Languages",
              "value-path": "Code",
              "value-title": "Name"
            },
            "type": "string",
            "x-ms-test-value": "en"
          },
          {
            "name": "from",
            "in": "query",
            "description": "The source language (if not provided, Microsoft Translator will try to auto-detect) (example: en).",
            "required": false,
            "x-ms-summary": "Source Language",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "Languages",
              "value-path": "Code",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "The translation category (default: 'general').",
            "required": false,
            "x-ms-summary": "Category",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "textType",
            "in": "query",
            "description": "The text type (default: 'plain').",
            "required": false,
            "x-ms-summary": "Text Type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "plain",
              "html"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-summary": "Translated Text"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/translatorv2/#translate-text"
        }
      }
    },
    "/{connectionId}/Detect": {
      "post": {
        "tags": [
          "MicrosoftTranslator"
        ],
        "summary": "Detect language",
        "description": "Detects the source language of the given text.",
        "operationId": "Detect",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TextBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Language"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/translatorv2/#detect-language"
        }
      }
    }
  },
  "definitions": {
    "TextBody": {
      "description": "Body containing text to translate or detect",
      "type": "object",
      "required": [
        "Text"
      ],
      "properties": {
        "Text": {
          "description": "Text to translate or detect",
          "type": "string",
          "x-ms-summary": "Text",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "Text": "Hola"
      }
    },
    "Language": {
      "description": "Language Model for Microsoft Translator translatable languages",
      "type": "object",
      "properties": {
        "Code": {
          "description": "Gets or sets the language code.",
          "type": "string",
          "x-ms-summary": "Language Code"
        },
        "Name": {
          "description": "Gets or sets the language name.",
          "type": "string",
          "x-ms-summary": "Language Name"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "Languages",
      "parameters": {
        "scope": "translation"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.microsoft.com/translator/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/translatorv2"
  }
}
