{
  "swagger": "2.0",
  "info": {
    "title": "TxtSync",
    "description": "TxtSync enables applications to send and receive global SMS while tracking open rates and delivery reports. Please go to https://txtsync.com/microsoft-flow for more information and to create your account",
    "version": "1.1",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/txtsync",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/sms/send": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SMS"
              }
            }
          }
        },
        "summary": "Send an SMS",
        "description": "Sends out a single SMS to an E164 number",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-zapier",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "true",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "From": {
                  "type": "string",
                  "description": "The Sender ID or E164 number to send from",
                  "title": "From"
                },
                "Message": {
                  "type": "string",
                  "description": "The message body of the message",
                  "title": "Message"
                },
                "To": {
                  "type": "string",
                  "description": "The mobile number to send the SMS to, ideally this number needs to include the country code and be in E164 format",
                  "title": "To"
                }
              },
              "required": [
                "From",
                "Message",
                "To"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#send-an-sms"
        }
      }
    },
    "/{connectionId}/sms/send/bulk": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SMS"
            }
          }
        },
        "operationId": "SendBulkSMS",
        "summary": "Send Bulk SMS",
        "description": "Send SMS by List of Numbers or Tag Names",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type:",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-zapier",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "true",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "From": {
                  "type": "string",
                  "description": "The Sender ID or E164 number to send from",
                  "title": "From"
                },
                "To": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "List of E164 numbers to send to",
                    "title": "To"
                  },
                  "description": "To"
                },
                "ToTagName": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "List of tag names to send to. The tag must exist in TxtSync and have contacts allocated to it",
                    "title": "To Tag Names"
                  },
                  "description": "ToTagName"
                },
                "Message": {
                  "type": "string",
                  "description": "The message body of the message",
                  "title": "Message"
                }
              },
              "required": [
                "From",
                "Message"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#send-bulk-sms"
        }
      }
    },
    "/{connectionId}/system/applications/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "External system reference of the contact",
                      "title": "ExternalReference"
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID"
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name"
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time"
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number"
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message"
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMSID"
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "ToNumber"
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "description": "Inbound SMS Response",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/contacts": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "title": "List of Contacts",
              "items": {
                "type": "object",
                "properties": {
                  "ContactID": {
                    "type": "integer",
                    "format": "int64",
                    "title": "Contact ID",
                    "description": "Unique identifier of the Contact"
                  },
                  "FirstName": {
                    "type": "string",
                    "title": "First Name",
                    "description": "Contacts firstname"
                  },
                  "LastName": {
                    "type": "string",
                    "title": "Last Name",
                    "description": "Contacts lastname"
                  },
                  "MobileNumber": {
                    "type": "string",
                    "title": "Mobile Number",
                    "description": "Contacts mobile number in E164 formatting"
                  },
                  "EmailAddress": {
                    "type": "string",
                    "title": "Email Address",
                    "description": "Contacts email address"
                  },
                  "FullName": {
                    "type": "string",
                    "title": "Full Name",
                    "description": "Contacts fullname"
                  },
                  "Custom01": {
                    "type": "string",
                    "title": "Custom01",
                    "description": "Custom field"
                  },
                  "Custom02": {
                    "type": "string",
                    "title": "Custom02",
                    "description": "Custom field"
                  },
                  "Custom03": {
                    "type": "string",
                    "title": "Custom03",
                    "description": "Custom field"
                  },
                  "Custom04": {
                    "type": "string",
                    "title": "Custom04",
                    "description": "Custom field"
                  },
                  "Custom05": {
                    "type": "string",
                    "title": "Custom05",
                    "description": "Custom field"
                  },
                  "OverallRating": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Overall Rating",
                    "description": "Contacts engagement rating 0 - 100"
                  },
                  "TotalDistinctLinkClicks": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Distinct Link Clicks",
                    "description": "How many distinct link clicks the contact has performed"
                  },
                  "TotalLinksSent": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Links Sent",
                    "description": "How many links the contact has been sent"
                  },
                  "TotalInboundSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Inbound SMS",
                    "description": "The total amount of inbound SMS recieved from this contact"
                  },
                  "TotalOutboundSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Outbound SMS",
                    "description": "The total amount of outbound SMS recieved to this contact"
                  },
                  "TotalFailedSMS": {
                    "type": "integer",
                    "format": "int32",
                    "title": "Total Failed SMS",
                    "description": "The total amount of outbound SMS fails to this contact"
                  },
                  "ExternalReference": {
                    "type": "string",
                    "title": "External Reference",
                    "description": "External system reference for this contact"
                  },
                  "CompanyName": {
                    "type": "string",
                    "title": "Company Name",
                    "description": "Comany name of the contact"
                  },
                  "AddressLine1": {
                    "type": "string",
                    "title": "Address Line1",
                    "description": "Address line"
                  },
                  "AddressLine2": {
                    "type": "string",
                    "title": "Address Line2",
                    "description": "Address line"
                  },
                  "City": {
                    "type": "string",
                    "title": "City",
                    "description": "Address line"
                  },
                  "Postcode": {
                    "type": "string",
                    "title": "Postcode",
                    "description": "Address line"
                  },
                  "County": {
                    "type": "string",
                    "title": "County",
                    "description": "Address line"
                  },
                  "Country": {
                    "type": "string",
                    "title": "Country",
                    "description": "Address line"
                  },
                  "LastCommunicationDate": {
                    "type": "string",
                    "description": "The date (UTC) that the contact last communicated",
                    "title": "Last Communication Date",
                    "format": "date-time"
                  },
                  "AllowSMS": {
                    "type": "boolean",
                    "description": "Whether the contact wishes to receive SMS",
                    "title": "AllowSMS"
                  }
                }
              }
            }
          }
        },
        "operationId": "SearchContact",
        "summary": "Search Contacts",
        "description": "Search for contacts by name or number",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "search",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search for contact by name, number, or external reference",
            "x-ms-summary": "Search"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#search-contacts"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "title": "First Name",
                  "description": "Contacts firstname"
                },
                "LastName": {
                  "type": "string",
                  "title": "Last Name",
                  "description": "Contacts lastname"
                },
                "MobileNumber": {
                  "type": "string",
                  "title": "Mobile Number",
                  "description": "Contacts mobile number in E164 formatting"
                },
                "EmailAddress": {
                  "type": "string",
                  "title": "Email Address",
                  "description": "Contacts email address"
                },
                "ContactID": {
                  "type": "integer",
                  "format": "int64",
                  "title": "Contact ID",
                  "description": "Unique identifier of the contact"
                },
                "FullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "Contacts fullname"
                }
              }
            }
          }
        },
        "summary": "Add a Contact",
        "description": "Adds a contact and applies tags",
        "operationId": "AddContact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "title": "First Name",
                  "description": "Contacts firstname"
                },
                "LastName": {
                  "type": "string",
                  "title": "Last Name",
                  "description": "Contacts lastname"
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "Contacts mobile number in E164 formatting",
                  "title": "Mobile Number"
                },
                "CompanyName": {
                  "type": "string",
                  "title": "Company Name",
                  "description": "Contacts company name"
                },
                "ExternalReference": {
                  "type": "string",
                  "title": "External Reference",
                  "description": "External system reference to the contact"
                },
                "EmailAddress": {
                  "type": "string",
                  "title": "Email Address",
                  "description": "Contacts email address"
                },
                "AddressLine1": {
                  "type": "string",
                  "title": "Address Line1",
                  "description": "Address Line"
                },
                "AddressLine2": {
                  "type": "string",
                  "title": "Address Line2",
                  "description": "Address Line"
                },
                "City": {
                  "type": "string",
                  "title": "City",
                  "description": "Address Line"
                },
                "County": {
                  "type": "string",
                  "title": "County",
                  "description": "Address Line"
                },
                "Postcode": {
                  "type": "string",
                  "title": "Postcode",
                  "description": "Address Line"
                },
                "Country": {
                  "type": "string",
                  "title": "Country",
                  "description": "Address Line"
                },
                "Custom01": {
                  "type": "string",
                  "title": "Custom01",
                  "description": "Customer Field"
                },
                "Custom02": {
                  "type": "string",
                  "title": "Custom02",
                  "description": "Custom Field"
                },
                "Custom03": {
                  "type": "string",
                  "title": "Custom03",
                  "description": "Custom Field"
                },
                "Custom04": {
                  "type": "string",
                  "title": "Custom04",
                  "description": "Custom Field"
                },
                "Custom05": {
                  "type": "string",
                  "title": "Custom05",
                  "description": "Custom Field"
                },
                "TagNames": {
                  "type": "string",
                  "description": "CSV of tag names to apply to the contact E.G. Tag1,Tag2,Tag3",
                  "title": "Tag Names"
                }
              },
              "required": [
                "MobileNumber"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#add-a-contact"
        }
      }
    },
    "/{connectionId}/system/applications/webhooks/{hook_Id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Delete Webhook",
        "description": "Delete  Webhook",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hook_Id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#delete-webhook"
        }
      }
    },
    "/{connectionId}/system/applications/webhooks/{type}": {
      "x-ms-notification-content": {
        "description": "Outbound SMS Response",
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "External system reference of the contact",
                      "title": "External Reference"
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID"
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name"
                    },
                    "CreatedDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was sent",
                      "title": "Created Date",
                      "format": "date-time"
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number"
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message"
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID"
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number"
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/system/applications/webhooks/0": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "Contact External Reference', type: 'string', helpText: 'External system reference of the contact",
                      "title": "External Reference"
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID"
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name"
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time"
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number"
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message"
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID"
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number"
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "description": "Inbound SMS Response",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/system/applications/webhooks/5": {
      "x-ms-notification-content": {
        "description": "Outbound SMS Response",
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "External system reference of the contact",
                      "title": "External Reference"
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID"
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name"
                    },
                    "CreatedDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was sent",
                      "title": "Created Date",
                      "format": "date-time"
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number"
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message"
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID"
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number"
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/system/applications/webhooks/type/0": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "Contact External Reference', type: 'string', helpText: 'External system reference of the contact",
                      "title": "External Reference"
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID"
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name"
                    },
                    "DeliveredDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was delivered",
                      "title": "Delivered Date",
                      "format": "date-time"
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number"
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message"
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID"
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number"
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "description": "Inbound SMS Response",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "Content": {
                  "type": "object",
                  "properties": {
                    "Contact": {
                      "type": "object",
                      "properties": {
                        "ExternalReference": {
                          "type": "string",
                          "description": "Contact External Reference', type: 'string', helpText: 'External system reference of the contact",
                          "title": "External Reference"
                        }
                      },
                      "description": "Contact"
                    },
                    "SMS": {
                      "type": "object",
                      "properties": {
                        "ContactID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the contact",
                          "title": "Contact ID"
                        },
                        "ContactName": {
                          "type": "string",
                          "description": "The name of the contact if known",
                          "title": "Contact Name"
                        },
                        "DeliveredDate": {
                          "type": "string",
                          "description": "The date (UTC) in which the SMS was delivered",
                          "title": "Delivered Date",
                          "format": "date-time"
                        },
                        "FromNumber": {
                          "type": "string",
                          "description": "The number that sent the SMS",
                          "title": "From Number"
                        },
                        "Message": {
                          "type": "string",
                          "description": "The body of the message",
                          "title": "Message"
                        },
                        "SMSID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the SMS",
                          "title": "SMS ID"
                        },
                        "ToNumber": {
                          "type": "string",
                          "description": "The number that received the SMS",
                          "title": "To Number"
                        }
                      },
                      "description": "SMS"
                    }
                  },
                  "description": "Content"
                }
              }
            },
            "description": "Inbound SMS Response"
          }
        },
        "summary": "Inbound SMS Notification",
        "description": "Raises a notification for an inbound SMS",
        "operationId": "InboundSMS",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "internal",
            "schema": {
              "type": "object",
              "properties": {
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "URL"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#inbound-sms-notification"
        }
      }
    },
    "/{connectionId}/system/applications/webhooks/type/5": {
      "x-ms-notification-content": {
        "description": "Outbound SMS Response",
        "schema": {
          "type": "object",
          "properties": {
            "Content": {
              "type": "object",
              "properties": {
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ExternalReference": {
                      "type": "string",
                      "description": "External system reference of the contact",
                      "title": "External Reference"
                    }
                  },
                  "description": "Contact"
                },
                "SMS": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the contact",
                      "title": "Contact ID"
                    },
                    "ContactName": {
                      "type": "string",
                      "description": "The name of the contact if known",
                      "title": "Contact Name"
                    },
                    "CreatedDate": {
                      "type": "string",
                      "description": "The date (UTC) in which the SMS was sent",
                      "title": "Created Date",
                      "format": "date-time"
                    },
                    "FromNumber": {
                      "type": "string",
                      "description": "The number that sent the SMS",
                      "title": "From Number"
                    },
                    "Message": {
                      "type": "string",
                      "description": "The body of the message",
                      "title": "Message"
                    },
                    "SMSID": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Uniquely identifies the SMS",
                      "title": "SMS ID"
                    },
                    "ToNumber": {
                      "type": "string",
                      "description": "The number that received the SMS",
                      "title": "To Number"
                    }
                  },
                  "description": "SMS"
                }
              },
              "description": "Content"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Outbound SMS Response",
            "schema": {
              "type": "object",
              "properties": {
                "Content": {
                  "type": "object",
                  "properties": {
                    "Contact": {
                      "type": "object",
                      "properties": {
                        "ExternalReference": {
                          "type": "string",
                          "description": "External system reference of the contact",
                          "title": "External Reference"
                        }
                      },
                      "description": "Contact"
                    },
                    "SMS": {
                      "type": "object",
                      "properties": {
                        "ContactID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the contact",
                          "title": "Contact ID"
                        },
                        "ContactName": {
                          "type": "string",
                          "description": "The name of the contact if known",
                          "title": "Contact Name"
                        },
                        "CreatedDate": {
                          "type": "string",
                          "description": "The date (UTC) in which the SMS was sent",
                          "title": "Created Date",
                          "format": "date-time"
                        },
                        "FromNumber": {
                          "type": "string",
                          "description": "The number that sent the SMS",
                          "title": "From Number"
                        },
                        "Message": {
                          "type": "string",
                          "description": "The body of the message",
                          "title": "Message"
                        },
                        "SMSID": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Uniquely identifies the SMS",
                          "title": "SMS ID"
                        },
                        "ToNumber": {
                          "type": "string",
                          "description": "The number that received the SMS",
                          "title": "To Number"
                        }
                      },
                      "description": "SMS"
                    }
                  },
                  "description": "Content"
                }
              }
            }
          }
        },
        "summary": "Outbound SMS Notification",
        "operationId": "OutboundSMS",
        "description": "Raises a notification for an outbound SMS. Please note to protect you from potentially causing an infinite loop of sending SMS the Outbound SMS trigger is not invoked when sending an SMS from Flow",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "URL"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#outbound-sms-notification"
        }
      }
    },
    "/{connectionId}/contacts/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "DeleteContact",
        "summary": "Delete Contact",
        "description": "Deletes a contact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Primary Contact Identifier",
            "x-ms-summary": "Contact ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#delete-contact"
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "title": "First Name",
                  "description": "Contacts firstname"
                },
                "LastName": {
                  "type": "string",
                  "title": "Last Name",
                  "description": "Contacts lastname"
                },
                "MobileNumber": {
                  "type": "string",
                  "title": "Mobile Number",
                  "description": "Contacts mobile number in E164 formatting"
                },
                "EmailAddress": {
                  "type": "string",
                  "title": "Email Address",
                  "description": "Contacts email address"
                },
                "ContactID": {
                  "type": "integer",
                  "format": "int64",
                  "title": "Contact ID",
                  "description": "Unique identifier of the contact"
                },
                "FullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "Contacts fullname"
                }
              }
            }
          }
        },
        "operationId": "UpdateContact",
        "summary": "Update Contact",
        "description": "Updates a Contact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Primary Contact identifier",
            "x-ms-summary": "Contact ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "description": "Contacts firstname",
                  "title": "First Name"
                },
                "LastName": {
                  "type": "string",
                  "description": "Contacts lastname",
                  "title": "Last Name"
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "Contacts mobile number in E164 formatting",
                  "title": "Mobile Number"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "Contacts company name",
                  "title": "Company Name"
                },
                "ExternalReference": {
                  "type": "string",
                  "description": "External system reference to the contact",
                  "title": "External Reference"
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "Contacts email address",
                  "title": "Email Address"
                },
                "AddressLine1": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Address Line1"
                },
                "AddressLine2": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Address Line2"
                },
                "City": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "City"
                },
                "County": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "County"
                },
                "Postcode": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Postcode"
                },
                "Country": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Country"
                },
                "Custom01": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom01"
                },
                "Custom02": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom02"
                },
                "Custom03": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom03"
                },
                "Custom04": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom04"
                },
                "Custom05": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom05"
                },
                "AllowSMS": {
                  "type": "boolean",
                  "description": "Whether the contact wants to receive SMS",
                  "title": "Allow SMS"
                },
                "TagNames": {
                  "type": "string",
                  "description": "CSV of tag names to apply to the contact E.G. Tag1,Tag2,Tag3",
                  "title": "Tag Names"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#update-contact"
        }
      }
    },
    "/{connectionId}/contacts/external/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "title": "Contacts",
              "type": "object",
              "properties": {
                "ContactID": {
                  "type": "integer",
                  "format": "int64",
                  "title": "Contact ID",
                  "description": "Unique identifier of the Contact"
                },
                "FirstName": {
                  "type": "string",
                  "title": "First Name",
                  "description": "Contacts firstname"
                },
                "LastName": {
                  "type": "string",
                  "title": "Last Name",
                  "description": "Contacts lastname"
                },
                "MobileNumber": {
                  "type": "string",
                  "title": "Mobile Number",
                  "description": "Contacts mobile number in E164 formatting"
                },
                "EmailAddress": {
                  "type": "string",
                  "title": "Email Address",
                  "description": "Contacts email address"
                },
                "FullName": {
                  "type": "string",
                  "title": "Full Name",
                  "description": "Contacts fullname"
                },
                "Custom01": {
                  "type": "string",
                  "title": "Custom01",
                  "description": "Custom field"
                },
                "Custom02": {
                  "type": "string",
                  "title": "Custom02",
                  "description": "Custom field"
                },
                "Custom03": {
                  "type": "string",
                  "title": "Custom03",
                  "description": "Custom field"
                },
                "Custom04": {
                  "type": "string",
                  "title": "Custom04",
                  "description": "Custom field"
                },
                "Custom05": {
                  "type": "string",
                  "title": "Custom05",
                  "description": "Custom field"
                },
                "OverallRating": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Overall Rating",
                  "description": "Contacts engagement rating 0 - 100"
                },
                "TotalDistinctLinkClicks": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Total Distinct Link Clicks",
                  "description": "How many distinct link clicks the contact has performed"
                },
                "TotalLinksSent": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Total Links Sent",
                  "description": "How many links the contact has been sent"
                },
                "TotalInboundSMS": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Total Inbound SMS",
                  "description": "The total amount of inbound SMS recieved from this contact"
                },
                "TotalOutboundSMS": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Total Outbound SMS",
                  "description": "The total amount of outbound SMS recieved to this contact"
                },
                "TotalFailedSMS": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Total Failed SMS",
                  "description": "The total amount of outbound SMS fails to this contact"
                },
                "ExternalReference": {
                  "type": "string",
                  "title": "External Reference",
                  "description": "External system reference for this contact"
                },
                "CompanyName": {
                  "type": "string",
                  "title": "Company Name",
                  "description": "Comany name of the contact"
                },
                "AddressLine1": {
                  "type": "string",
                  "title": "Address Line1",
                  "description": "Address line"
                },
                "AddressLine2": {
                  "type": "string",
                  "title": "Address Line2",
                  "description": "Address line"
                },
                "City": {
                  "type": "string",
                  "title": "City",
                  "description": "Address line"
                },
                "Postcode": {
                  "type": "string",
                  "title": "Postcode",
                  "description": "Address line"
                },
                "County": {
                  "type": "string",
                  "title": "County",
                  "description": "Address line"
                },
                "Country": {
                  "type": "string",
                  "title": "Country",
                  "description": "Address line"
                },
                "LastCommunicationDate": {
                  "type": "string",
                  "description": "The date (UTC) that the contact last communicated",
                  "title": "Last Communication Date",
                  "format": "date-time"
                },
                "AllowSMS": {
                  "type": "boolean",
                  "description": "Whether the contact wishes to receive SMS",
                  "title": "AllowSMS"
                }
              }
            }
          }
        },
        "operationId": "GetContactByExternalReference",
        "summary": "Get Contact By External Reference",
        "description": "Get contact by external system reference",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "External Reference",
            "x-ms-summary": "External Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#get-contact-by-external-reference"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "DeleteContactByExternalReference",
        "summary": "Delete Contact By External Reference",
        "description": "Deletes a contact by the external system reference",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "External Reference",
            "x-ms-summary": "External Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#delete-contact-by-external-reference"
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "UpdateContactByExternalReference",
        "summary": "Update Contact By External Reference",
        "description": "Updates a contact by the external system reference",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "External Reference",
            "x-ms-summary": "External Reference"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "M3Yf9L0njL8eL9ukphahq9zk5LFRIOvn2fT4BcmV",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string",
                  "description": "Contacts firstname",
                  "title": "First Name"
                },
                "LastName": {
                  "type": "string",
                  "description": "Contacts lastname",
                  "title": "Last Name"
                },
                "MobileNumber": {
                  "type": "string",
                  "description": "Contacts mobile number in E164 formatting",
                  "title": "Mobile Number"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "Contacts company name",
                  "title": "Company Name"
                },
                "ExternalReference": {
                  "type": "string",
                  "description": "External system reference to the contact",
                  "title": "External Reference"
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "Contacts email address",
                  "title": "Email Address"
                },
                "AddressLine1": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Address Line1"
                },
                "AddressLine2": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Address Line2"
                },
                "City": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "City"
                },
                "County": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "County"
                },
                "Postcode": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Postcode"
                },
                "Country": {
                  "type": "string",
                  "description": "Address Line",
                  "title": "Country"
                },
                "Custom01": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom01"
                },
                "Custom02": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom02"
                },
                "Custom03": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom03"
                },
                "Custom04": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom04"
                },
                "Custom05": {
                  "type": "string",
                  "description": "Custom Field",
                  "title": "Custom05"
                },
                "AllowSMS": {
                  "type": "boolean",
                  "description": "Whether the contact wants to receive SMS",
                  "title": "Allow SMS"
                },
                "TagNames": {
                  "type": "string",
                  "description": "CSV of tag names to apply to the contact E.G. Tag1,Tag2,Tag3",
                  "title": "Tag Names"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/txtsync/#update-contact-by-external-reference"
        }
      }
    }
  },
  "definitions": {
    "SMS": {
      "type": "object",
      "properties": {
        "FromNumber": {
          "type": "string",
          "description": "The Sender ID or E164 number to send from",
          "title": "From Number"
        },
        "ToNumber": {
          "type": "string",
          "description": "The mobile number to send the SMS to",
          "title": "To Number"
        },
        "ContactID": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier of the Contact",
          "title": "Contact ID"
        },
        "Direction": {
          "type": "integer",
          "format": "int32",
          "description": "Direction of the SMS. 0 is outbound and 1 is inbound",
          "title": "Direction"
        },
        "Message": {
          "type": "string",
          "description": "The message body of the message",
          "title": "Message"
        },
        "CreatedDate": {
          "type": "string",
          "description": "The date (UTC) of when the SMS was created",
          "title": "Created Date",
          "format": "date-time"
        },
        "SMSID": {
          "type": "integer",
          "format": "int64",
          "description": "Unique identifier of the SMS",
          "title": "SMS ID"
        },
        "Segments": {
          "type": "number",
          "description": "The number of segments that the text message takes up"
        },
        "DeliveredDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date at which the text message was delivered"
        },
        "CampaignID": {
          "type": "number",
          "description": "The campaign that the text message might be associated to"
        },
        "ApplicationID": {
          "type": "number",
          "description": "The client application that the text message might be associated to"
        },
        "ApplicationName": {
          "type": "string",
          "description": "The name of the client application that the text message might be associated to"
        },
        "UserID": {
          "type": "number",
          "description": "The user identifier that is associated to the text message"
        },
        "UserName": {
          "type": "string",
          "description": "The username of the client application that the text message might be associated to"
        },
        "ContactName": {
          "type": "string",
          "description": "The name of the contact that the text message has been sent to"
        },
        "ProfileURL": {
          "type": "string",
          "description": "The profile URl of the contact"
        },
        "LinkDetails": {
          "type": "string",
          "description": "JSON object of the link details that are attached to the text message"
        },
        "IsFlagged": {
          "type": "boolean",
          "description": "States whether the text message has been flagged with a message"
        },
        "FlaggedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the text message was flagged with a message"
        },
        "FlaggedDescription": {
          "type": "string",
          "description": "The message that has been flagged on the text message"
        },
        "CurrencyCode": {
          "type": "string",
          "description": "The currency code of the local cost"
        },
        "CostLocal": {
          "type": "number",
          "description": "The local currency cost of the text message"
        },
        "CostGBP": {
          "type": "number",
          "description": "The GBP currency cost of the text message"
        },
        "ErrorCode": {
          "type": "number",
          "description": "The error code of the text message if there was an issue in sending"
        },
        "Status": {
          "type": "number",
          "description": "The status of the text message"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/txtsync"
  }
}
