{
  "swagger": "2.0",
  "info": {
    "title": "emfluence Marketing Platform",
    "description": "The emfluence Marketing Platform is a marketing automation platform that allows customers the ability to create, deploy, and track multi-channel campaigns. This connector provides access to the emfluence Marketing Platform API.",
    "version": "1.1",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "email": "support@emfluence.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/emfluencemp",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/contacts/search": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "success": {
                  "type": "integer",
                  "format": "int32",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "held": {
                            "type": "integer",
                            "format": "int32",
                            "description": "held"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "dateAdded": {
                            "type": "string",
                            "description": "dateAdded"
                          },
                          "dateModified": {
                            "type": "string",
                            "description": "dateModified"
                          },
                          "userID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "userID"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "contactID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "contactID"
                          },
                          "suppressed": {
                            "type": "integer",
                            "format": "int32",
                            "description": "suppressed"
                          }
                        }
                      },
                      "description": "records"
                    },
                    "paging": {
                      "type": "object",
                      "properties": {
                        "rpp": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rpp"
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "totalPages"
                        },
                        "prev": {
                          "type": "string",
                          "description": "prev"
                        },
                        "next": {
                          "type": "string",
                          "description": "next"
                        },
                        "page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "page"
                        },
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "totalRecords"
                        }
                      },
                      "description": "paging"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Search Contacts (Simple)",
        "description": "Search contacts by simple criteria. https://apidocs.emailer.emfluence.com/v1/endpoints/contacts/search",
        "operationId": "Contacts-search-simple",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Email",
            "description": "Search by email address. Use * as a wildcard, e.g. *@gmail.com"
          },
          {
            "name": "groupID",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Filter results by group",
            "x-ms-summary": "Group ID"
          },
          {
            "name": "suppressed",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Opted out of receiving emails",
            "x-ms-summary": "Suppressed"
          },
          {
            "name": "held",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Bad email address (too many bounces)",
            "x-ms-summary": "Held"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of page in results to return",
            "x-ms-summary": "Page Number"
          },
          {
            "name": "sortField",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort Field",
            "description": "The field to sort results by",
            "enum": [
              "contactID",
              "email",
              "dateModified",
              "contactScore"
            ]
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Sort Direction",
            "description": "The direction to sort results"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/emfluencemp/#search-contacts-(simple)"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "format": "int32",
                  "description": "success"
                },
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "description": "next"
                        },
                        "page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "page"
                        },
                        "rpp": {
                          "type": "integer",
                          "format": "int32",
                          "description": "rpp"
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "totalPages"
                        },
                        "totalRecords": {
                          "type": "integer",
                          "format": "int32",
                          "description": "totalRecords"
                        },
                        "prev": {
                          "type": "string",
                          "description": "prev"
                        }
                      },
                      "description": "paging"
                    },
                    "records": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "dateAdded": {
                            "type": "string",
                            "description": "dateAdded"
                          },
                          "dateModified": {
                            "type": "string",
                            "description": "dateModified"
                          },
                          "contactID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "contactID"
                          },
                          "suppressed": {
                            "type": "integer",
                            "format": "int32",
                            "description": "suppressed"
                          },
                          "held": {
                            "type": "integer",
                            "format": "int32",
                            "description": "held"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "userID": {
                            "type": "integer",
                            "format": "int32",
                            "description": "userID"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          }
                        }
                      },
                      "description": "records"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Search Contacts",
        "description": "Search contacts by various criteria. https://apidocs.emailer.emfluence.com/v1/endpoints/contacts/search",
        "operationId": "Contacts-search",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "groupID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "groupID",
                  "title": "Group ID"
                },
                "suppressed": {
                  "type": "boolean",
                  "description": "suppressed",
                  "title": "Suppressed",
                  "enum": [
                    true,
                    false
                  ]
                },
                "held": {
                  "type": "boolean",
                  "description": "held",
                  "title": "Held",
                  "enum": [
                    true,
                    false
                  ]
                },
                "contactIDs": {
                  "type": "array",
                  "items": {},
                  "description": "contactIDs"
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "Email (Use * as a wildcard, e.g. *@gmail.com)"
                },
                "userID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "userID",
                  "title": "Owner User ID"
                },
                "customerID": {
                  "type": "string",
                  "description": "customerID",
                  "title": "Customer ID"
                },
                "company": {
                  "type": "string",
                  "description": "company",
                  "title": "Company"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "title": "Title"
                },
                "phone": {
                  "type": "string",
                  "description": "phone",
                  "title": "Phone Number"
                },
                "fax": {
                  "type": "string",
                  "description": "fax",
                  "title": "Fax Number"
                },
                "city": {
                  "type": "string",
                  "description": "city",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "state",
                  "title": "State"
                },
                "zipCode": {
                  "type": "string",
                  "description": "zipCode",
                  "title": "Zip Code"
                },
                "country": {
                  "type": "string",
                  "description": "country",
                  "title": "Country"
                },
                "purl": {
                  "type": "string",
                  "description": "purl",
                  "title": "PURL"
                },
                "fields": {
                  "type": "string",
                  "description": "fields",
                  "title": "Contact Fields to return"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page",
                  "title": "Page Number",
                  "default": 1
                },
                "rpp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rpp",
                  "title": "Records Per Page"
                },
                "sortField": {
                  "type": "string",
                  "description": "sortField",
                  "title": "Sort Field",
                  "enum": [
                    "contactID",
                    "email",
                    "dateModified",
                    "contactScore"
                  ]
                },
                "sortDirection": {
                  "type": "string",
                  "description": "sortDirection",
                  "title": "Sort Direction",
                  "enum": [
                    "asc",
                    "desc"
                  ]
                },
                "_internal": {
                  "type": "boolean",
                  "description": "_internal",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal",
                  "default": true
                }
              },
              "required": [
                "_internal"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/emfluencemp/#search-contacts"
        }
      }
    },
    "/{connectionId}/contacts/lookup": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "success": {
                  "type": "integer",
                  "format": "int32",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "ipAddress": {
                      "type": "string",
                      "description": "ipAddress"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "firstName"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "contactID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "contactID"
                    },
                    "groupIDs": {
                      "type": "array",
                      "items": {},
                      "description": "groupIDs"
                    },
                    "notes": {
                      "type": "string",
                      "description": "notes"
                    },
                    "customerID": {
                      "type": "string",
                      "description": "customerID"
                    },
                    "dateSuppressed": {
                      "type": "string",
                      "description": "dateSuppressed"
                    },
                    "held": {
                      "type": "integer",
                      "format": "int32",
                      "description": "held"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "lastName"
                    },
                    "userID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "userID"
                    },
                    "purl": {
                      "type": "string",
                      "description": "purl"
                    },
                    "address1": {
                      "type": "string",
                      "description": "address1"
                    },
                    "memo": {
                      "type": "string",
                      "description": "memo"
                    },
                    "address2": {
                      "type": "string",
                      "description": "address2"
                    },
                    "originalSource": {
                      "type": "string",
                      "description": "originalSource"
                    },
                    "dateAdded": {
                      "type": "string",
                      "description": "dateAdded"
                    },
                    "zipCode": {
                      "type": "string",
                      "description": "zipCode"
                    },
                    "dateHeld": {
                      "type": "string",
                      "description": "dateHeld"
                    },
                    "suppressed": {
                      "type": "integer",
                      "format": "int32",
                      "description": "suppressed"
                    },
                    "contactScore": {
                      "type": "object",
                      "properties": {
                        "dateModified": {
                          "type": "string",
                          "description": "dateModified",
                          "title": "Contact Score: Date Modified"
                        },
                        "percentile": {
                          "type": "string",
                          "description": "percentile",
                          "title": "Contact Score: Percentile"
                        },
                        "value": {
                          "type": "integer",
                          "format": "int32",
                          "description": "value",
                          "title": "Contact Score: Value"
                        }
                      },
                      "description": "contactScore"
                    },
                    "company": {
                      "type": "string",
                      "description": "company"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "dateOfBirth": {
                      "type": "string",
                      "description": "dateOfBirth"
                    },
                    "dateModified": {
                      "type": "string",
                      "description": "dateModified"
                    },
                    "lastActivityDate": {
                      "type": "string",
                      "description": "lastActivityDate"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "fax": {
                      "type": "string",
                      "description": "fax"
                    },
                    "lastClickDate": {
                      "type": "string",
                      "description": "lastClickDate"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Lookup contact by email",
        "operationId": "Contacts-lookup",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "An email address of an existing contact",
            "x-ms-summary": "Email"
          }
        ],
        "description": "Get full details for contacts by email",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/emfluencemp/#lookup-contact-by-email"
        }
      }
    },
    "/{connectionId}/contacts/save": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "integer",
                  "format": "int32",
                  "description": "success"
                },
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "contactID": {
                      "type": "integer",
                      "format": "int32",
                      "description": "contactID"
                    },
                    "groupIDs": {
                      "type": "array",
                      "items": {},
                      "description": "groupIDs"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Save contact",
        "operationId": "Contacts-save",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contactID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "contactID",
                  "title": "Contact ID"
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "Email"
                },
                "userID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "userID",
                  "title": "Owner User ID"
                },
                "customerID": {
                  "type": "string",
                  "description": "customerID",
                  "title": "Customer ID"
                },
                "suppressed": {
                  "type": "boolean",
                  "description": "suppressed",
                  "title": "Suppressed",
                  "enum": [
                    true,
                    false
                  ]
                },
                "held": {
                  "type": "boolean",
                  "description": "held",
                  "title": "Held",
                  "enum": [
                    true,
                    false
                  ]
                },
                "originalSource": {
                  "type": "string",
                  "description": "originalSource",
                  "title": "Original Source"
                },
                "firstName": {
                  "type": "string",
                  "description": "firstName",
                  "title": "First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName",
                  "title": "Last Name"
                },
                "company": {
                  "type": "string",
                  "description": "company",
                  "title": "Company"
                },
                "title": {
                  "type": "string",
                  "description": "title",
                  "title": "Title"
                },
                "phone": {
                  "type": "string",
                  "description": "phone",
                  "title": "Phone Number"
                },
                "fax": {
                  "type": "string",
                  "description": "fax",
                  "title": "Fax Number"
                },
                "address1": {
                  "type": "string",
                  "description": "address1",
                  "title": "Address 1"
                },
                "address2": {
                  "type": "string",
                  "description": "address2",
                  "title": "Address 2"
                },
                "city": {
                  "type": "string",
                  "description": "city",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "state",
                  "title": "State"
                },
                "zipCode": {
                  "type": "string",
                  "description": "zipCode",
                  "title": "Zip Code"
                },
                "country": {
                  "type": "string",
                  "description": "country",
                  "title": "Country"
                },
                "purl": {
                  "type": "string",
                  "description": "purl",
                  "title": "PURL"
                },
                "dateOfBirth": {
                  "type": "string",
                  "description": "dateOfBirth",
                  "title": "Date of Birth"
                },
                "notes": {
                  "type": "string",
                  "description": "notes",
                  "title": "Notes"
                },
                "memo": {
                  "type": "string",
                  "description": "memo",
                  "title": "Memo"
                },
                "customFields": {
                  "type": "object",
                  "properties": {},
                  "description": "customFields"
                },
                "contentVariables": {
                  "type": "object",
                  "properties": {},
                  "description": "contentVariables"
                },
                "groupIDs": {
                  "title": "Group IDs",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "groupIDs"
                },
                "removeGroupIDs": {
                  "title": "Remove Group IDs",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  },
                  "description": "removeGroupIDs"
                }
              }
            }
          }
        ],
        "description": "Save a single contact record. Only data for parameters passed in is saved.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/emfluencemp/#save-contact"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.emarketingplatform.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://emfluence.com/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/emfluencemp"
  }
}
