{
  "swagger": "2.0",
  "info": {
    "description": "Priority Matrix HIPAA creates a central source of truth to coordinate all the work your team needs to do. Prioritize all your work, share with your team and focus on the high-impact tasks first. Connect now to manage your tasks automatically.",
    "title": "Priority Matrix HIPAA",
    "version": "1.1",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Appfluence Support",
      "url": "https://hipaa.prioritymatrix.com/help",
      "email": "support+flow@appfluence.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/prioritymatrixhipaa",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1/comment/": {
      "post": {
        "description": "Add Comment to Item",
        "operationId": "AddCommentToItem",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Project that contains the desired item",
            "in": "header",
            "name": "Project",
            "required": true,
            "type": "integer",
            "x-ms-dynamic-values": {
              "operationId": "GetProjects",
              "parameters": {
                "limit": 1000,
                "skip_tag": "archived",
                "state": 0
              },
              "value-collection": "objects",
              "value-path": "idd",
              "value-title": "name"
            },
            "x-ms-summary": "What project contains the item you want to comment on?"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "item": {
                  "description": "Item to comment on",
                  "title": "Item",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjectItems",
                    "parameters": {
                      "ProjectId": {
                        "parameter": "Project"
                      },
                      "limit": 1000,
                      "state__lte": 1
                    },
                    "value-collection": "objects",
                    "value-path": "resource_uri",
                    "value-title": "name"
                  }
                },
                "text": {
                  "description": "What do you want to say in your comment?",
                  "title": "Text",
                  "type": "string"
                }
              },
              "required": [
                "item",
                "text"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "properties": {
                "author": {
                  "description": "Author User",
                  "title": "Author User",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "author_avatar": {
                  "description": "author_avatar",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "author_email": {
                  "description": "Author of the comment",
                  "title": "Author",
                  "type": "string"
                },
                "author_fullname": {
                  "description": "author_fullname",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "color": {
                  "description": "color",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "html": {
                  "description": "html",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "description": "Id for the comment",
                  "format": "int32",
                  "title": "Id",
                  "type": "integer"
                },
                "interest_level": {
                  "description": "interest_level",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "is_attention": {
                  "description": "is_attention",
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "is_automatic": {
                  "description": "is_automatic",
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "is_command": {
                  "description": "is_command",
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "is_email": {
                  "description": "is_email",
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "is_read": {
                  "description": "is_read",
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "item": {
                  "description": "item URI for the comment",
                  "title": "Item",
                  "type": "string"
                },
                "item_completed": {
                  "description": "item_completed",
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "item_deleted": {
                  "description": "item_deleted",
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "item_name": {
                  "description": "item_name",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "json": {
                  "description": "json",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "num_comments": {
                  "description": "num_comments",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "object_id": {
                  "description": "object_id",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "order": {
                  "description": "order",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "project": {
                  "description": "Project URI for the comment",
                  "title": "Project",
                  "type": "string"
                },
                "project_name": {
                  "description": "project_name",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "project_state": {
                  "description": "project_state",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "ResourceURI",
                  "type": "string"
                },
                "source_email": {
                  "description": "source_email",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target_email": {
                  "description": "target_email",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "text": {
                  "description": "Text for the comment",
                  "title": "Text",
                  "type": "string"
                },
                "timestamp": {
                  "description": "When the comment happened, given in seconds since 1970",
                  "format": "float",
                  "title": "Timestamp",
                  "type": "number",
                  "x-ms-visibility": "internal"
                },
                "tooltip": {
                  "description": "tooltip",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Add Comment to Item",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/prioritymatrixhipaa/#add-comment-to-item"
        }
      }
    },
    "/{connectionId}/v1/hook/item.completed/": {
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "properties": {
            "data": {
              "description": "data",
              "properties": {
                "allDay": {
                  "description": "True if the item has a due date and it's supposed to last a full day",
                  "title": "All Day",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "boxFolderID": {
                  "description": "Use this field to store an ID or URI for this object in another system",
                  "title": "External Id",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "childID": {
                  "description": "Next-in-line item, when using recurrence",
                  "format": "int32",
                  "title": "Child ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "completed_by": {
                  "description": "completed_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "completed_by_username": {
                  "description": "Who completed the item",
                  "title": "Completed by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "completionDateObject": {
                  "description": "When this item was completed",
                  "format": "date-time",
                  "title": "Completion Datetime",
                  "type": "string"
                },
                "completionPercentage": {
                  "description": "Percentage of this task that is completed, ranging from 0 to 100",
                  "format": "int32",
                  "title": "Completion Percentage",
                  "type": "integer"
                },
                "creationDateObject": {
                  "description": "When this item was created",
                  "format": "date-time",
                  "title": "Creation Datetime",
                  "type": "string"
                },
                "creator": {
                  "description": "creator",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "creator_username": {
                  "description": "Who created the item",
                  "title": "Created by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegated_by": {
                  "description": "delegated_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "delegated_by_username": {
                  "description": "Who delegated the item the last time",
                  "title": "Delegated by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegationTimestamp": {
                  "description": "delegationTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionRichText": {
                  "description": "descriptionRichText",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionText": {
                  "description": "Notes for the item, with an extended description of the task at hand",
                  "title": "Notes",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "dueDateObject": {
                  "description": "When this item is due",
                  "format": "date-time",
                  "title": "Due Datetime",
                  "type": "string"
                },
                "editedByDevice": {
                  "description": "editedByDevice",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by": {
                  "description": "edited_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by_username": {
                  "description": "edited_by_username",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "effort": {
                  "description": "effort",
                  "format": "int32",
                  "title": "Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "estimatedEffort": {
                  "description": "estimatedEffort",
                  "format": "int32",
                  "title": "Estimated Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "followers": {
                  "description": "List of followers for the item",
                  "items": {
                    "title": "Item followers",
                    "type": "object",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "frequency": {
                  "description": "frequency",
                  "title": "Frequency",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "icon": {
                  "description": "icon",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "description": "id",
                  "format": "int32",
                  "title": "ItemId",
                  "type": "integer"
                },
                "idd": {
                  "description": "idd",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "index": {
                  "description": "index",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "lastModifiedTimestamp": {
                  "description": "lastModifiedTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "macResourceURL": {
                  "description": "A link to a relevant resource relevant (a website, another item, a project...)",
                  "title": "Link",
                  "type": "string"
                },
                "name": {
                  "description": "Name for the item",
                  "title": "Name",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "owner": {
                  "description": "owner",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "owner_username": {
                  "description": "Who is responsible for this item?",
                  "title": "Owned by User",
                  "type": "string"
                },
                "parentID": {
                  "description": "Precursor item, when using recurrence",
                  "format": "int32",
                  "title": "Parent ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "projects": {
                  "description": "List of projects which contain the item (typically a single project)",
                  "items": {
                    "title": "Containing project(s)",
                    "type": "string",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "quadrant": {
                  "description": "Quadrant choice, left to right and top to bottom",
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ],
                  "x-ms-enum-values": [
                    {
                      "displayName": "Q1, top-left",
                      "value": 0
                    },
                    {
                      "displayName": "Q2, top-right",
                      "value": 1
                    },
                    {
                      "displayName": "Q3, bottom-left",
                      "value": 2
                    },
                    {
                      "displayName": "Q4, bottom-right",
                      "value": 3
                    }
                  ],
                  "format": "int32",
                  "title": "Quadrant",
                  "type": "integer",
                  "x-ms-visibility": "important"
                },
                "realizedEffort": {
                  "description": "realizedEffort",
                  "format": "int32",
                  "title": "Realized Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "recurrence": {
                  "description": "recurrence",
                  "title": "Recurrence",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "recurrence_text": {
                  "description": "recurrence_text",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "requested_time": {
                  "description": "requested_time",
                  "format": "float",
                  "title": "",
                  "type": "number",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "Resource Uri",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "startDateObject": {
                  "description": "When this item is scheduled to start",
                  "format": "date-time",
                  "title": "Start Datetime",
                  "type": "string"
                },
                "state": {
                  "description": "state",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "timestamp": {
                  "description": "Last time the item was modified, given in seconds since 1970",
                  "format": "float",
                  "title": "Timestamp",
                  "type": "number",
                  "x-ms-visibility": "advanced"
                },
                "untilDate": {
                  "description": "untilDate",
                  "format": "int32",
                  "title": "Until Date",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "version_id": {
                  "description": "version_id",
                  "format": "int32",
                  "title": "Version Id",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "webLink": {
                  "description": "URL to open this item in Priority Matrix HIPAA",
                  "title": "Web Link",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "hook": {
              "description": "hook",
              "properties": {
                "account": {
                  "description": "account",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "enabled",
                  "enum": [
                    "true",
                    "false"
                  ],
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "event",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "triggered_by": {
                  "description": "triggered_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "Item Was Completed",
        "operationId": "ItemCompletedHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "project": {
                  "description": "Choose the containing project",
                  "title": "Project",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "parameters": {
                      "limit": 1000,
                      "skip_tag": "archived",
                      "state": 0
                    },
                    "value-collection": "objects",
                    "value-path": "resource_uri",
                    "value-title": "name"
                  },
                  "x-ms-visibility": "important"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "target"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "properties": {
                "account": {
                  "description": "account for the hook. it can be null",
                  "title": "Account",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "if the hook is enabled or not",
                  "title": "Enabled",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "type of hook",
                  "title": "Type of Hook",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "resource uri for hook",
                  "title": "ResourceURI",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "url that gets called",
                  "title": "Target",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user that owns the hook",
                  "title": "User",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Item Was Completed",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/prioritymatrixhipaa/#item-was-completed"
        }
      }
    },
    "/{connectionId}/v1/hook/item.created/": {
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "properties": {
            "data": {
              "description": "data",
              "properties": {
                "allDay": {
                  "description": "True if the item has a due date and it's supposed to last a full day",
                  "title": "All Day",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "boxFolderID": {
                  "description": "Use this field to store an ID or URI for this object in another system",
                  "title": "External Id",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "childID": {
                  "description": "Next-in-line item, when using recurrence",
                  "format": "int32",
                  "title": "Child ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "completed_by": {
                  "description": "completed_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "completed_by_username": {
                  "description": "Who completed the item",
                  "title": "Completed by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "completionDateObject": {
                  "description": "When this item was completed",
                  "format": "date-time",
                  "title": "Completion Datetime",
                  "type": "string"
                },
                "completionPercentage": {
                  "description": "Percentage of this task that is completed, ranging from 0 to 100",
                  "format": "int32",
                  "title": "Completion Percentage",
                  "type": "integer"
                },
                "creationDateObject": {
                  "description": "When this item was created",
                  "format": "date-time",
                  "title": "Creation Datetime",
                  "type": "string"
                },
                "creator": {
                  "description": "creator",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "creator_username": {
                  "description": "Who created the item",
                  "title": "Created by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegated_by": {
                  "description": "delegated_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "delegated_by_username": {
                  "description": "Who delegated the item the last time",
                  "title": "Delegated by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegationTimestamp": {
                  "description": "delegationTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionRichText": {
                  "description": "descriptionRichText",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionText": {
                  "description": "Notes for the item, with an extended description of the task at hand",
                  "title": "Notes",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "dueDateObject": {
                  "description": "When this item is due",
                  "format": "date-time",
                  "title": "Due Datetime",
                  "type": "string"
                },
                "editedByDevice": {
                  "description": "editedByDevice",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by": {
                  "description": "edited_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by_username": {
                  "description": "edited_by_username",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "effort": {
                  "description": "effort",
                  "format": "int32",
                  "title": "Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "estimatedEffort": {
                  "description": "estimatedEffort",
                  "format": "int32",
                  "title": "Estimated Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "followers": {
                  "description": "List of followers for the item",
                  "items": {
                    "title": "Item followers",
                    "type": "object",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "frequency": {
                  "description": "frequency",
                  "title": "Frequency",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "icon": {
                  "description": "icon",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "description": "id",
                  "format": "int32",
                  "title": "ItemId",
                  "type": "integer"
                },
                "idd": {
                  "description": "idd",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "index": {
                  "description": "index",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "lastModifiedTimestamp": {
                  "description": "lastModifiedTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "macResourceURL": {
                  "description": "A link to a relevant resource relevant (a website, another item, a project...)",
                  "title": "Link",
                  "type": "string"
                },
                "name": {
                  "description": "Name for the item",
                  "title": "Name",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "owner": {
                  "description": "owner",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "owner_username": {
                  "description": "Who is responsible for this item?",
                  "title": "Owned by User",
                  "type": "string"
                },
                "parentID": {
                  "description": "Precursor item, when using recurrence",
                  "format": "int32",
                  "title": "Parent ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "projects": {
                  "description": "List of projects which contain the item (typically a single project)",
                  "items": {
                    "title": "Containing project(s)",
                    "type": "string",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "quadrant": {
                  "description": "Quadrant choice, left to right and top to bottom",
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ],
                  "x-ms-enum-values": [
                    {
                      "displayName": "Q1, top-left",
                      "value": 0
                    },
                    {
                      "displayName": "Q2, top-right",
                      "value": 1
                    },
                    {
                      "displayName": "Q3, bottom-left",
                      "value": 2
                    },
                    {
                      "displayName": "Q4, bottom-right",
                      "value": 3
                    }
                  ],
                  "format": "int32",
                  "title": "Quadrant",
                  "type": "integer",
                  "x-ms-visibility": "important"
                },
                "realizedEffort": {
                  "description": "realizedEffort",
                  "format": "int32",
                  "title": "Realized Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "recurrence": {
                  "description": "recurrence",
                  "title": "Recurrence",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "recurrence_text": {
                  "description": "recurrence_text",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "requested_time": {
                  "description": "requested_time",
                  "format": "float",
                  "title": "",
                  "type": "number",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "Resource Uri",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "startDateObject": {
                  "description": "When this item is scheduled to start",
                  "format": "date-time",
                  "title": "Start Datetime",
                  "type": "string"
                },
                "state": {
                  "description": "state",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "timestamp": {
                  "description": "Last time the item was modified, given in seconds since 1970",
                  "format": "float",
                  "title": "Timestamp",
                  "type": "number",
                  "x-ms-visibility": "advanced"
                },
                "untilDate": {
                  "description": "untilDate",
                  "format": "int32",
                  "title": "Until Date",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "version_id": {
                  "description": "version_id",
                  "format": "int32",
                  "title": "Version Id",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "webLink": {
                  "description": "URL to open this item in Priority Matrix HIPAA",
                  "title": "Web Link",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "hook": {
              "description": "hook",
              "properties": {
                "account": {
                  "description": "account for the hook. it can be null",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "if the hook is enabled or not",
                  "enum": [
                    "true",
                    "false"
                  ],
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "type of hook",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "triggered_by": {
                  "description": "triggered_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "Item Was Created",
        "operationId": "ItemCreatedHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "project": {
                  "description": "Choose the containing project",
                  "title": "In Project...",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "parameters": {
                      "limit": 1000,
                      "skip_tag": "archived",
                      "state": 0
                    },
                    "value-collection": "objects",
                    "value-path": "resource_uri",
                    "value-title": "name"
                  },
                  "x-ms-visibility": "important"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "target"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "properties": {
                "account": {
                  "description": "account for the hook. it can be null",
                  "title": "Account",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "if the hook is enabled or not",
                  "title": "Enabled",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "type of hook",
                  "title": "Type of Hook",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "resource uri for hook",
                  "title": "ResourceURI",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "url that gets called",
                  "title": "Target",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user that owns the hook",
                  "title": "User",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Item Was Created",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/prioritymatrixhipaa/#item-was-created"
        }
      }
    },
    "/{connectionId}/v1/hook/item.delegated/": {
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "properties": {
            "data": {
              "description": "data",
              "properties": {
                "allDay": {
                  "description": "True if the item has a due date and it's supposed to last a full day",
                  "title": "All Day",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "boxFolderID": {
                  "description": "Use this field to store an ID or URI for this object in another system",
                  "title": "External Id",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "childID": {
                  "description": "Next-in-line item, when using recurrence",
                  "format": "int32",
                  "title": "Child ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "completed_by": {
                  "description": "completed_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "completed_by_username": {
                  "description": "Who completed the item",
                  "title": "Completed by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "completionDateObject": {
                  "description": "When this item was completed",
                  "format": "date-time",
                  "title": "Completion Datetime",
                  "type": "string"
                },
                "completionPercentage": {
                  "description": "Percentage of this task that is completed, ranging from 0 to 100",
                  "format": "int32",
                  "title": "Completion Percentage",
                  "type": "integer"
                },
                "creationDateObject": {
                  "description": "When this item was created",
                  "format": "date-time",
                  "title": "Creation Datetime",
                  "type": "string"
                },
                "creator": {
                  "description": "creator",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "creator_username": {
                  "description": "Who created the item",
                  "title": "Created by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegated_by": {
                  "description": "delegated_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "delegated_by_username": {
                  "description": "Who delegated the item the last time",
                  "title": "Delegated by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegationTimestamp": {
                  "description": "delegationTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionRichText": {
                  "description": "descriptionRichText",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionText": {
                  "description": "Notes for the item, with an extended description of the task at hand",
                  "title": "Notes",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "dueDateObject": {
                  "description": "When this item is due",
                  "format": "date-time",
                  "title": "Due Datetime",
                  "type": "string"
                },
                "editedByDevice": {
                  "description": "editedByDevice",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by": {
                  "description": "edited_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by_username": {
                  "description": "edited_by_username",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "effort": {
                  "description": "effort",
                  "format": "int32",
                  "title": "Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "estimatedEffort": {
                  "description": "estimatedEffort",
                  "format": "int32",
                  "title": "Estimated Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "followers": {
                  "description": "List of followers for the item",
                  "items": {
                    "title": "Item followers",
                    "type": "object",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "frequency": {
                  "description": "frequency",
                  "title": "Frequency",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "icon": {
                  "description": "icon",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "description": "id",
                  "format": "int32",
                  "title": "ItemId",
                  "type": "integer"
                },
                "idd": {
                  "description": "idd",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "index": {
                  "description": "index",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "lastModifiedTimestamp": {
                  "description": "lastModifiedTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "macResourceURL": {
                  "description": "A link to a relevant resource relevant (a website, another item, a project...)",
                  "title": "Link",
                  "type": "string"
                },
                "name": {
                  "description": "Name for the item",
                  "title": "Name",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "owner": {
                  "description": "owner",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "owner_username": {
                  "description": "Who is responsible for this item?",
                  "title": "Owned by User",
                  "type": "string"
                },
                "parentID": {
                  "description": "Precursor item, when using recurrence",
                  "format": "int32",
                  "title": "Parent ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "projects": {
                  "description": "List of projects which contain the item (typically a single project)",
                  "items": {
                    "title": "Containing project(s)",
                    "type": "string",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "quadrant": {
                  "description": "Quadrant choice, left to right and top to bottom",
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ],
                  "x-ms-enum-values": [
                    {
                      "displayName": "Q1, top-left",
                      "value": 0
                    },
                    {
                      "displayName": "Q2, top-right",
                      "value": 1
                    },
                    {
                      "displayName": "Q3, bottom-left",
                      "value": 2
                    },
                    {
                      "displayName": "Q4, bottom-right",
                      "value": 3
                    }
                  ],
                  "format": "int32",
                  "title": "Quadrant",
                  "type": "integer",
                  "x-ms-visibility": "important"
                },
                "realizedEffort": {
                  "description": "realizedEffort",
                  "format": "int32",
                  "title": "Realized Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "recurrence": {
                  "description": "recurrence",
                  "title": "Recurrence",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "recurrence_text": {
                  "description": "recurrence_text",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "requested_time": {
                  "description": "requested_time",
                  "format": "float",
                  "title": "",
                  "type": "number",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "Resource Uri",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "startDateObject": {
                  "description": "When this item is scheduled to start",
                  "format": "date-time",
                  "title": "Start Datetime",
                  "type": "string"
                },
                "state": {
                  "description": "state",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "timestamp": {
                  "description": "Last time the item was modified, given in seconds since 1970",
                  "format": "float",
                  "title": "Timestamp",
                  "type": "number",
                  "x-ms-visibility": "advanced"
                },
                "untilDate": {
                  "description": "untilDate",
                  "format": "int32",
                  "title": "Until Date",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "version_id": {
                  "description": "version_id",
                  "format": "int32",
                  "title": "Version Id",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "webLink": {
                  "description": "URL to open this item in Priority Matrix HIPAA",
                  "title": "Web Link",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "hook": {
              "description": "hook",
              "properties": {
                "account": {
                  "description": "account",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "enabled",
                  "enum": [
                    "true",
                    "false"
                  ],
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "event",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "triggered_by": {
                  "description": "triggered_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "Item Was Delegated",
        "operationId": "ItemDelegatedHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "project": {
                  "description": "Choose the containing project",
                  "title": "Project",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "parameters": {
                      "limit": 1000,
                      "skip_tag": "archived",
                      "state": 0
                    },
                    "value-collection": "objects",
                    "value-path": "resource_uri",
                    "value-title": "name"
                  },
                  "x-ms-visibility": "important"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "target"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "properties": {
                "account": {
                  "description": "account for the hook. it can be null",
                  "title": "Account",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "if the hook is enabled or not",
                  "title": "Enabled",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "type of hook",
                  "title": "Type of Hook",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "resource uri for hook",
                  "title": "ResourceURI",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "url that gets called",
                  "title": "Target",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user that owns the hook",
                  "title": "User",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Item Was Delegated",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/prioritymatrixhipaa/#item-was-delegated"
        }
      }
    },
    "/{connectionId}/v1/hook/item.deleted/": {
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "properties": {
            "data": {
              "description": "data",
              "properties": {
                "allDay": {
                  "description": "True if the item has a due date and it's supposed to last a full day",
                  "title": "All Day",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "boxFolderID": {
                  "description": "Use this field to store an ID or URI for this object in another system",
                  "title": "External Id",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "childID": {
                  "description": "Next-in-line item, when using recurrence",
                  "format": "int32",
                  "title": "Child ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "completed_by": {
                  "description": "completed_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "completed_by_username": {
                  "description": "Who completed the item",
                  "title": "Completed by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "completionDateObject": {
                  "description": "When this item was completed",
                  "format": "date-time",
                  "title": "Completion Datetime",
                  "type": "string"
                },
                "completionPercentage": {
                  "description": "Percentage of this task that is completed, ranging from 0 to 100",
                  "format": "int32",
                  "title": "Completion Percentage",
                  "type": "integer"
                },
                "creationDateObject": {
                  "description": "When this item was created",
                  "format": "date-time",
                  "title": "Creation Datetime",
                  "type": "string"
                },
                "creator": {
                  "description": "creator",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "creator_username": {
                  "description": "Who created the item",
                  "title": "Created by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegated_by": {
                  "description": "delegated_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "delegated_by_username": {
                  "description": "Who delegated the item the last time",
                  "title": "Delegated by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegationTimestamp": {
                  "description": "delegationTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionRichText": {
                  "description": "descriptionRichText",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionText": {
                  "description": "Notes for the item, with an extended description of the task at hand",
                  "title": "Notes",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "dueDateObject": {
                  "description": "When this item is due",
                  "format": "date-time",
                  "title": "Due Datetime",
                  "type": "string"
                },
                "editedByDevice": {
                  "description": "editedByDevice",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by": {
                  "description": "edited_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by_username": {
                  "description": "edited_by_username",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "effort": {
                  "description": "effort",
                  "format": "int32",
                  "title": "Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "estimatedEffort": {
                  "description": "estimatedEffort",
                  "format": "int32",
                  "title": "Estimated Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "followers": {
                  "description": "List of followers for the item",
                  "items": {
                    "title": "Item followers",
                    "type": "object",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "frequency": {
                  "description": "frequency",
                  "title": "Frequency",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "icon": {
                  "description": "icon",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "description": "id",
                  "format": "int32",
                  "title": "ItemId",
                  "type": "integer"
                },
                "idd": {
                  "description": "idd",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "index": {
                  "description": "index",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "lastModifiedTimestamp": {
                  "description": "lastModifiedTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "macResourceURL": {
                  "description": "A link to a relevant resource relevant (a website, another item, a project...)",
                  "title": "Link",
                  "type": "string"
                },
                "name": {
                  "description": "Name for the item",
                  "title": "Name",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "owner": {
                  "description": "owner",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "owner_username": {
                  "description": "Who is responsible for this item?",
                  "title": "Owned by User",
                  "type": "string"
                },
                "parentID": {
                  "description": "Precursor item, when using recurrence",
                  "format": "int32",
                  "title": "Parent ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "projects": {
                  "description": "List of projects which contain the item (typically a single project)",
                  "items": {
                    "title": "Containing project(s)",
                    "type": "string",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "quadrant": {
                  "description": "Quadrant choice, left to right and top to bottom",
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ],
                  "x-ms-enum-values": [
                    {
                      "displayName": "Q1, top-left",
                      "value": 0
                    },
                    {
                      "displayName": "Q2, top-right",
                      "value": 1
                    },
                    {
                      "displayName": "Q3, bottom-left",
                      "value": 2
                    },
                    {
                      "displayName": "Q4, bottom-right",
                      "value": 3
                    }
                  ],
                  "format": "int32",
                  "title": "Quadrant",
                  "type": "integer",
                  "x-ms-visibility": "important"
                },
                "realizedEffort": {
                  "description": "realizedEffort",
                  "format": "int32",
                  "title": "Realized Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "recurrence": {
                  "description": "recurrence",
                  "title": "Recurrence",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "recurrence_text": {
                  "description": "recurrence_text",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "requested_time": {
                  "description": "requested_time",
                  "format": "float",
                  "title": "",
                  "type": "number",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "Resource Uri",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "startDateObject": {
                  "description": "When this item is scheduled to start",
                  "format": "date-time",
                  "title": "Start Datetime",
                  "type": "string"
                },
                "state": {
                  "description": "state",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "timestamp": {
                  "description": "Last time the item was modified, given in seconds since 1970",
                  "format": "float",
                  "title": "Timestamp",
                  "type": "number",
                  "x-ms-visibility": "advanced"
                },
                "untilDate": {
                  "description": "untilDate",
                  "format": "int32",
                  "title": "Until Date",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "version_id": {
                  "description": "version_id",
                  "format": "int32",
                  "title": "Version Id",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "webLink": {
                  "description": "URL to open this item in Priority Matrix HIPAA",
                  "title": "Web Link",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "hook": {
              "description": "hook",
              "properties": {
                "account": {
                  "description": "account",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "enabled",
                  "enum": [
                    "true",
                    "false"
                  ],
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "event",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "triggered_by": {
                  "description": "triggered_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "Item Was Deleted",
        "operationId": "ItemDeletedHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "project": {
                  "description": "Choose the containing project",
                  "title": "Project",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "parameters": {
                      "limit": 1000,
                      "skip_tag": "archived",
                      "state": 0
                    },
                    "value-collection": "objects",
                    "value-path": "resource_uri",
                    "value-title": "name"
                  },
                  "x-ms-visibility": "important"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "target"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "properties": {
                "account": {
                  "description": "account for the hook. it can be null",
                  "title": "Account",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "if the hook is enabled or not",
                  "title": "Enabled",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "type of hook",
                  "title": "Type of Hook",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "resource uri for hook",
                  "title": "ResourceURI",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "url that gets called",
                  "title": "Target",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user that owns the hook",
                  "title": "User",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Item Was Deleted",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/prioritymatrixhipaa/#item-was-deleted"
        }
      }
    },
    "/{connectionId}/v1/hook/item.due/": {
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "properties": {
            "data": {
              "description": "data",
              "properties": {
                "allDay": {
                  "description": "True if the item has a due date and it's supposed to last a full day",
                  "title": "All Day",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "boxFolderID": {
                  "description": "Use this field to store an ID or URI for this object in another system",
                  "title": "External Id",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "childID": {
                  "description": "Next-in-line item, when using recurrence",
                  "format": "int32",
                  "title": "Child ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "completed_by": {
                  "description": "completed_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "completed_by_username": {
                  "description": "Who completed the item",
                  "title": "Completed by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "completionDateObject": {
                  "description": "When this item was completed",
                  "format": "date-time",
                  "title": "Completion Datetime",
                  "type": "string"
                },
                "completionPercentage": {
                  "description": "Percentage of this task that is completed, ranging from 0 to 100",
                  "format": "int32",
                  "title": "Completion Percentage",
                  "type": "integer"
                },
                "creationDateObject": {
                  "description": "When this item was created",
                  "format": "date-time",
                  "title": "Creation Datetime",
                  "type": "string"
                },
                "creator": {
                  "description": "creator",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "creator_username": {
                  "description": "Who created the item",
                  "title": "Created by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegated_by": {
                  "description": "delegated_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "delegated_by_username": {
                  "description": "Who delegated the item the last time",
                  "title": "Delegated by User",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "delegationTimestamp": {
                  "description": "delegationTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionRichText": {
                  "description": "descriptionRichText",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "descriptionText": {
                  "description": "Notes for the item, with an extended description of the task at hand",
                  "title": "Notes",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "dueDateObject": {
                  "description": "When this item is due",
                  "format": "date-time",
                  "title": "Due Datetime",
                  "type": "string"
                },
                "editedByDevice": {
                  "description": "editedByDevice",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by": {
                  "description": "edited_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "edited_by_username": {
                  "description": "edited_by_username",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "effort": {
                  "description": "effort",
                  "format": "int32",
                  "title": "Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "estimatedEffort": {
                  "description": "estimatedEffort",
                  "format": "int32",
                  "title": "Estimated Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "followers": {
                  "description": "List of followers for the item",
                  "items": {
                    "title": "Item followers",
                    "type": "object",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "frequency": {
                  "description": "frequency",
                  "title": "Frequency",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "icon": {
                  "description": "icon",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "id": {
                  "description": "id",
                  "format": "int32",
                  "title": "ItemId",
                  "type": "integer"
                },
                "idd": {
                  "description": "idd",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "index": {
                  "description": "index",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "lastModifiedTimestamp": {
                  "description": "lastModifiedTimestamp",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "macResourceURL": {
                  "description": "A link to a relevant resource relevant (a website, another item, a project...)",
                  "title": "Link",
                  "type": "string"
                },
                "name": {
                  "description": "Name for the item",
                  "title": "Name",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "owner": {
                  "description": "owner",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "owner_username": {
                  "description": "Who is responsible for this item?",
                  "title": "Owned by User",
                  "type": "string"
                },
                "parentID": {
                  "description": "Precursor item, when using recurrence",
                  "format": "int32",
                  "title": "Parent ID",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "projects": {
                  "description": "List of projects which contain the item (typically a single project)",
                  "items": {
                    "title": "Containing project(s)",
                    "type": "string",
                    "x-ms-visibility": "internal"
                  },
                  "type": "array"
                },
                "quadrant": {
                  "description": "Quadrant choice, left to right and top to bottom",
                  "enum": [
                    0,
                    1,
                    2,
                    3
                  ],
                  "x-ms-enum-values": [
                    {
                      "displayName": "Q1, top-left",
                      "value": 0
                    },
                    {
                      "displayName": "Q2, top-right",
                      "value": 1
                    },
                    {
                      "displayName": "Q3, bottom-left",
                      "value": 2
                    },
                    {
                      "displayName": "Q4, bottom-right",
                      "value": 3
                    }
                  ],
                  "format": "int32",
                  "title": "Quadrant",
                  "type": "integer",
                  "x-ms-visibility": "important"
                },
                "realizedEffort": {
                  "description": "realizedEffort",
                  "format": "int32",
                  "title": "Realized Effort",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "recurrence": {
                  "description": "recurrence",
                  "title": "Recurrence",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "recurrence_text": {
                  "description": "recurrence_text",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "requested_time": {
                  "description": "requested_time",
                  "format": "float",
                  "title": "",
                  "type": "number",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "Resource Uri",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "startDateObject": {
                  "description": "When this item is scheduled to start",
                  "format": "date-time",
                  "title": "Start Datetime",
                  "type": "string"
                },
                "state": {
                  "description": "state",
                  "format": "int32",
                  "title": "",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "timestamp": {
                  "description": "Last time the item was modified, given in seconds since 1970",
                  "format": "float",
                  "title": "Timestamp",
                  "type": "number",
                  "x-ms-visibility": "advanced"
                },
                "untilDate": {
                  "description": "untilDate",
                  "format": "int32",
                  "title": "Until Date",
                  "type": "integer",
                  "x-ms-visibility": "internal"
                },
                "version_id": {
                  "description": "version_id",
                  "format": "int32",
                  "title": "Version Id",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "webLink": {
                  "description": "URL to open this item in Priority Matrix HIPAA",
                  "title": "Web Link",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "hook": {
              "description": "hook",
              "properties": {
                "account": {
                  "description": "account",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "enabled",
                  "enum": [
                    "true",
                    "false"
                  ],
                  "title": "",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "event",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "URI that points to this resource in our API",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "triggered_by": {
                  "description": "triggered_by",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user",
                  "title": "",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "Item Due",
        "operationId": "ItemDueHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "project": {
                  "description": "Choose the containing project",
                  "title": "Project",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "parameters": {
                      "limit": 1000,
                      "skip_tag": "archived",
                      "state": 0
                    },
                    "value-collection": "objects",
                    "value-path": "resource_uri",
                    "value-title": "name"
                  },
                  "x-ms-visibility": "important"
                },
                "target": {
                  "description": "target",
                  "title": "",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "target"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "properties": {
                "account": {
                  "description": "account for the hook. it can be null",
                  "title": "Account",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "if the hook is enabled or not",
                  "title": "Enabled",
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "type of hook",
                  "title": "Type of Hook",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "resource_uri": {
                  "description": "resource uri for hook",
                  "title": "ResourceURI",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "target": {
                  "description": "url that gets called",
                  "title": "Target",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "description": "user that owns the hook",
                  "title": "User",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Item is Due",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/prioritymatrixhipaa/#item-is-due"
        }
      }
    },
    "/{connectionId}/v1/hook/item.start/": {
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "properties": {
            "data": {
              "description": "data",
              "properties": {
                "allDay": {
                  "description": "True if the item has a due date and it's supposed to last a full day",
                  "title": "All Day",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "boxFolderID": {
                  "description": "Use this field to store an ID or URI for this object in another system",
                  "title": "External Id",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
[...]
