{
  "swagger": "2.0",
  "info": {
    "description": "Pitney Bowes Tax Calculator allows anyone to determine local tax jurisdictions & tax rates in the United States based on address inputs or location coordinates",
    "title": "Pitney Bowes Tax Calculator",
    "version": "4.0.0",
    "contact": {
      "name": "LBSSupport@pb.com"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/geotax",
  "tags": [
    {
      "name": "GeoTax Service",
      "description": "Local Tax. Add local tax rates to your applications, business processes, and workflows. The GeoTAX API returns local tax rates with the input of location coordinates or addresses. Critical for any billing, commerce, payment, or payroll application or service."
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/xml"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/{connectionId}/geotax/v1/tax/{taxRateTypeId}/byaddress": {
      "get": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Get Tax By Address",
        "description": "This service calculates and returns taxes applicable at a specific address. Address, purchase amount and supported tax rate type are inputs to the service.",
        "operationId": "getSpecificTaxByAddress",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taxRateTypeId",
            "in": "path",
            "description": "The tax rate id.",
            "required": true,
            "type": "string",
            "default": "General",
            "enum": [
              "General",
              "Auto",
              "Medical",
              "Construction"
            ],
            "x-ms-summary": "Tax Type"
          },
          {
            "name": "address",
            "in": "query",
            "description": "The address to be searched.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Address"
          },
          {
            "name": "purchaseAmount",
            "in": "query",
            "description": "The amount on which tax to be calculated.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Purchase Amount"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#get-tax-by-address-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Post Tax By Address",
        "description": "This is a Batch offering for 'Tax By Address' service. It accepts a single address, purchase amount or a list of addresses, purchase amounts and retrieve applicable taxes.",
        "operationId": "getBatchTaxByAddress",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taxRateTypeId",
            "in": "path",
            "description": "The tax rate id.",
            "required": true,
            "type": "string",
            "default": "General",
            "enum": [
              "General",
              "Auto",
              "Medical",
              "Construction"
            ],
            "x-ms-summary": "Tax Type"
          },
          {
            "in": "body",
            "name": "body",
            "description": "TaxAddressRequest Class Object having tax request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaxAddressRequest"
            },
            "x-ms-summary": "Tax By Address Request"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxResponses"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#post-tax-by-address-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/geotax/v1/tax/{taxRateTypeId}/bylocation": {
      "get": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Get Tax By Location",
        "description": "This service calculates and returns tax applicable at a specific location. Longitude, latitude, purchase amount and supported tax rate type are inputs to the service.",
        "operationId": "getSpecificTaxByLocation",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taxRateTypeId",
            "in": "path",
            "description": "The tax rate id.",
            "required": true,
            "type": "string",
            "default": "General",
            "enum": [
              "General",
              "Auto",
              "Medical",
              "Construction"
            ],
            "x-ms-summary": "Tax Type"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude of the location.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude of the location.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Longitude"
          },
          {
            "name": "purchaseAmount",
            "in": "query",
            "description": "The amount on which tax to be calculated.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Purchase Amount"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#get-tax-by-location-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Post Tax By Location",
        "description": "This is a Batch offering for 'Tax By Location' service. It accepts a single location coordinate, purchase amount or a list of location coordinates, purchase amounts and retrieve applicable tax.",
        "operationId": "getBatchTaxByLocation",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taxRateTypeId",
            "in": "path",
            "description": "The tax rate id.",
            "required": true,
            "type": "string",
            "default": "General",
            "enum": [
              "General",
              "Auto",
              "Medical",
              "Construction"
            ],
            "x-ms-summary": "Tax Type"
          },
          {
            "in": "body",
            "name": "body",
            "description": "TaxAddressRequest Class Object having tax request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaxLocationRequest"
            },
            "x-ms-summary": "Tax By Location Request"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxResponses"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#post-tax-by-location-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/geotax/v1/taxrate/{taxRateTypeId}/byaddress": {
      "get": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Get Taxrate By Address",
        "description": "Retrieves tax rates applicable to a specific address. This service accepts address and supported tax rate type as inputs to retrieve applicable tax rates.",
        "operationId": "getSpecificTaxRateByAddress",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taxRateTypeId",
            "in": "path",
            "description": "The tax rate id.",
            "required": true,
            "type": "string",
            "default": "General",
            "enum": [
              "General",
              "Auto",
              "Medical",
              "Construction"
            ],
            "x-ms-summary": "Tax Type"
          },
          {
            "name": "address",
            "in": "query",
            "description": "The address to be searched.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Address"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#get-taxrate-by-address-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Post Taxrate By Address",
        "description": "This is a Batch offering for 'Taxrate By Address' service. It accepts a single address or a list of addresses and retrieve applicable tax rates.",
        "operationId": "getBatchTaxRateByAddress",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taxRateTypeId",
            "in": "path",
            "description": "The tax rate id.",
            "required": true,
            "type": "string",
            "default": "General",
            "enum": [
              "General",
              "Auto",
              "Medical",
              "Construction"
            ],
            "x-ms-summary": "Tax Type"
          },
          {
            "in": "body",
            "name": "body",
            "description": "TaxRateAddressRequest Class Object having tax rate request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaxRateAddressRequest"
            },
            "x-ms-summary": "Tax Rate By Address Request"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxResponses"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#post-taxrate-by-address-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/geotax/v1/taxrate/{taxRateTypeId}/bylocation": {
      "get": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Get Taxrate By Location",
        "description": "Retrieves tax rates applicable to a specific location. This service accepts longitude, latitude and supported tax rate type as inputs to retrieve applicable tax rates.",
        "operationId": "getSpecificTaxRateByLocation",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taxRateTypeId",
            "in": "path",
            "description": "The tax rate id.",
            "required": true,
            "type": "string",
            "default": "General",
            "enum": [
              "General",
              "Auto",
              "Medical",
              "Construction"
            ],
            "x-ms-summary": "Tax Type"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "Latitude of the location.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "Longitude of the location.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Longitude"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#get-taxrate-by-location-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Post Taxrate By Location",
        "description": "This is a Batch offering for 'Taxrate By Location' service. It accepts a single location coordinate or a list of location coordinates and retrieve applicable tax rates.",
        "operationId": "getBatchTaxRateByLocation",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taxRateTypeId",
            "in": "path",
            "description": "The tax rate id.",
            "required": true,
            "type": "string",
            "default": "General",
            "enum": [
              "General",
              "Auto",
              "Medical",
              "Construction"
            ],
            "x-ms-summary": "Tax Type"
          },
          {
            "in": "body",
            "name": "body",
            "description": "TaxRateLocationRequest Class Object having tax rate request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaxRateLocationRequest"
            },
            "x-ms-summary": "Tax Rate By Location Request"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/taxResponses"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#post-taxrate-by-location-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/geotax/v1/taxdistrict/ipd/byaddress": {
      "get": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Get IPD Tax by Address",
        "description": "This will accept 'address' as a parameter and will return one or many IPDs details for that region in which address will fall.",
        "operationId": "getIPDTaxByAddress",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "address",
            "in": "query",
            "description": "The address to be searched.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Address"
          },
          {
            "name": "returnLatLongFields",
            "in": "query",
            "description": "This preference Option sets flag for returning geometry coordinates(Y/N)",
            "required": false,
            "type": "string",
            "enum": [
              "Y",
              "N"
            ],
            "x-ms-summary": "Return Lat/Lon"
          },
          {
            "name": "latLongFormat",
            "in": "query",
            "description": "(default is Decimal) - Returns Desired Latitude Longitude Format",
            "required": false,
            "type": "string",
            "enum": [
              "PreZero",
              "PreZeroDecimal",
              "Decimal",
              "DecimalAssumed"
            ],
            "x-ms-summary": "Lat/Lon Format"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaxDistrictResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#get-ipd-tax-by-address-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "GeoTax Service"
        ],
        "summary": "Get IPD Tax for batch requests",
        "description": "Get IPD Tax for batch requests",
        "operationId": "getIPDTaxByAddressBatch",
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "description": "IPDTaxByAddressBatchRequest Class Object having IPD tax request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IPDTaxByAddressBatchRequest"
            },
            "x-ms-summary": "IPD Tax By Address Request"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TaxDistrictResponseList"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/geotax/#get-ipd-tax-for-batch-requests-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {
    "CountrySupport": {
      "type": "object",
      "properties": {
        "supportedCountries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedDataTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Preferences": {
      "type": "object",
      "properties": {
        "fallbackToGeographic": {
          "type": "string",
          "x-ms-summary": "Fall Back to Geographic",
          "default": "true",
          "x-ms-visibility": "advanced"
        },
        "matchMode": {
          "type": "string",
          "x-ms-summary": "Match mode",
          "default": "EXACT",
          "x-ms-visibility": "advanced"
        },
        "distanceUnits": {
          "type": "string",
          "x-ms-summary": "Distance Unit",
          "default": "Feet",
          "x-ms-visibility": "advanced"
        },
        "customPreferences": {
          "$ref": "#/definitions/CustomPreferences"
        },
        "outputCasing": {
          "type": "string",
          "x-ms-summary": "Output Casting",
          "default": "M",
          "x-ms-visibility": "advanced"
        },
        "latLongOffset": {
          "type": "string",
          "x-ms-summary": "Lat/Lon offset",
          "default": "40",
          "x-ms-visibility": "advanced"
        },
        "squeeze": {
          "type": "string",
          "x-ms-summary": "Squeeze Street End Points",
          "default": "Y",
          "x-ms-visibility": "advanced"
        },
        "returnLatLongFields": {
          "type": "string",
          "x-ms-summary": "Return Geometry coordinates(Y/N)",
          "default": "Y",
          "x-ms-visibility": "advanced"
        },
        "returnCensusFields": {
          "type": "string",
          "x-ms-summary": "Return Census Fields(Y/N)",
          "default": "Y",
          "x-ms-visibility": "advanced"
        },
        "useGeoTaxAuxiliaryFile": {
          "type": "string",
          "x-ms-summary": "Use GeoTAX Auxiliary File(Y/N)",
          "default": "Y",
          "x-ms-visibility": "advanced"
        },
        "latLongFormat": {
          "type": "string",
          "x-ms-summary": "Lat/Lon Return Format",
          "default": "Decimal",
          "x-ms-visibility": "advanced"
        },
        "defaultBufferWidth": {
          "type": "string",
          "x-ms-summary": "Width ofPolygon Buffers",
          "default": "50",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "InputParameter": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "lowBoundary": {
          "type": "string"
        },
        "highBoundary": {
          "type": "string"
        },
        "allowedValuesWithDescriptions": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "OutputParameter": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Polygon": {
      "type": "object",
      "required": [
        "point"
      ],
      "properties": {
        "point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Point"
          },
          "x-ms-summary": "Point"
        }
      }
    },
    "name": {
      "type": "object",
      "properties": {
        "langType": {
          "type": "string"
        },
        "langISOCode": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "IndividualValueVariable": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Field": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "place": {
      "type": "object",
      "properties": {
        "level": {
          "type": "string"
        },
        "levelName": {
          "type": "string"
        },
        "name": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/name"
          }
        }
      }
    },
    "coverage": {
      "type": "object",
      "properties": {
        "area": {
          "type": "string"
        },
        "comments": {
          "type": "string"
        },
        "exceptions": {
          "type": "string"
        }
      }
    },
    "address": {
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "streetSide": {
          "type": "string"
        },
        "businessName": {
          "type": "string"
        },
        "addressLine1": {
          "type": "string"
        },
        "addressLine2": {
          "type": "string"
        },
        "addressLine3": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "stateProvince": {
          "type": "string"
        },
        "county": {
          "type": "string"
        },
        "postalCode": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "urbanizationName": {
          "type": "string"
        },
        "formattedAddress": {
          "type": "string",
          "x-ms-summary": "Matched Address formatted Address"
        },
        "mainAddressLine": {
          "type": "string",
          "x-ms-summary": "Matched Address main addressLine"
        },
        "addressLastLine": {
          "type": "string",
          "x-ms-summary": "Matched Address Last line"
        },
        "placeName": {
          "type": "string",
          "x-ms-summary": "Matched Address place Name"
        },
        "areaName1": {
          "type": "string",
          "x-ms-summary": "Matched Address State Name"
        },
        "areaName2": {
          "type": "string",
          "x-ms-summary": "Matched Address county name"
        },
        "areaName3": {
          "type": "string",
          "x-ms-summary": "Matched Address city Name"
        },
        "areaName4": {
          "type": "string",
          "x-ms-summary": "Matched Address locality Name"
        },
        "postCode": {
          "type": "string",
          "x-ms-summary": "Matched Address Zip code"
        },
        "postCodeExt": {
          "type": "string",
          "x-ms-summary": "Matched Address zip code extension"
        },
        "country": {
          "type": "string",
          "x-ms-summary": "Matched Address country ISO code"
        },
        "addressNumber": {
          "type": "string",
          "x-ms-summary": "Matched Address address number"
        },
        "streetName": {
          "type": "string",
          "x-ms-summary": "Matched Address street Name"
        },
        "unitType": {
          "type": "string",
          "x-ms-summary": "Matched Address apartment/house type"
        },
        "unitValue": {
          "type": "string",
          "x-ms-summary": "Matched Address apartment/house number"
        }
      }
    },
    "match": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "string"
        },
        "percentGeocode": {
          "type": "string"
        },
        "precisionLevel": {
          "type": "string"
        },
        "locationCode": {
          "type": "string"
        },
        "matchCode": {
          "type": "string"
        }
      }
    },
    "Point": {
      "type": "object",
      "properties": {
        "latitude": {
          "type": "string",
          "format": "byte",
          "x-ms-summary": "Latitude"
        },
        "longitude": {
          "type": "string",
          "format": "byte",
          "x-ms-summary": "Longitude"
        }
      }
    },
    "Geometry": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "x-ms-summary": "Geometry Type"
        },
        "coordinates": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          },
          "x-ms-summary": "Coordinates(lat, lon)"
        }
      }
    },
    "GeometryPolygon": {
      "type": "object",
      "required": [
        "polygon"
      ],
      "properties": {
        "polygon": {
          "$ref": "#/definitions/Polygon"
        }
      }
    },
    "TaxRateAddress": {
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "x-ms-summary": "Unique ID",
          "x-ms-visibility": "advanced"
        },
        "mainAddressLine": {
          "type": "string",
          "x-ms-summary": "Main Address Line"
        },
        "addressLastLine": {
          "type": "string",
          "x-ms-summary": "Address Last Line",
          "x-ms-visibility": "advanced"
        },
        "placeName": {
          "type": "string",
          "x-ms-summary": "Place Name",
          "x-ms-visibility": "advanced"
        },
        "areaName1": {
          "type": "string",
          "x-ms-summary": "State or Province",
          "x-ms-visibility": "advanced"
        },
        "areaName2": {
          "type": "string",
          "x-ms-summary": "Area Name 2",
          "x-ms-visibility": "advanced"
        },
        "areaName3": {
          "type": "string",
          "x-ms-summary": "City or Town",
          "x-ms-visibility": "advanced"
        },
        "areaName4": {
          "type": "string",
          "x-ms-summary": "Area Name 4",
          "x-ms-visibility": "advanced"
        },
        "postCode1": {
          "type": "string",
          "x-ms-summary": "Postal Code",
          "x-ms-visibility": "advanced"
        },
        "postCode2": {
          "type": "string",
          "x-ms-summary": "Postal Code Ext",
          "x-ms-visibility": "advanced"
        },
        "country": {
          "type": "string",
          "x-ms-summary": "Three-digit ISO country code",
          "x-ms-visibility": "advanced"
        },
        "addressNumber": {
          "type": "string",
          "x-ms-summary": "Address Number",
          "x-ms-visibility": "advanced"
        },
        "streetName": {
          "type": "string",
          "x-ms-summary": "Street Name",
          "x-ms-visibility": "advanced"
        },
        "unitType": {
          "type": "string",
          "x-ms-summary": "Unit Type",
          "x-ms-visibility": "advanced"
        },
        "unitValue": {
          "type": "string",
          "x-ms-summary": "Unit Value",
          "x-ms-visibility": "advanced"
        },
        "distanceUnits": {
          "type": "string",
          "x-ms-summary": "Distance Unit",
          "x-ms-visibility": "advanced"
        },
        "bufferWidth": {
          "type": "string",
          "x-ms-summary": "Buffer Width",
          "x-ms-visibility": "advanced"
        },
        "userBufferWidth": {
          "type": "string",
          "x-ms-summary": "User Buffer Width",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "IPDTaxRateAddress": {
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "x-ms-summary": "Unique ID",
          "x-ms-visibility": "advanced"
        },
        "mainAddressLine": {
          "type": "string",
          "x-ms-summary": "Main Address Line"
        },
        "addressLastLine": {
          "type": "string",
          "x-ms-summary": "Address Last Line",
          "x-ms-visibility": "advanced"
        },
        "placeName": {
          "type": "string",
          "x-ms-summary": "Place Name",
          "x-ms-visibility": "advanced"
        },
        "areaName1": {
          "type": "string",
          "x-ms-summary": "State or Province",
          "x-ms-visibility": "advanced"
        },
        "areaName2": {
          "type": "string",
          "x-ms-summary": "Area Name 2",
          "x-ms-visibility": "advanced"
        },
        "areaName3": {
          "type": "string",
          "x-ms-summary": "City or Town",
          "x-ms-visibility": "advanced"
        },
        "areaName4": {
          "type": "string",
          "x-ms-summary": "Area Name 4",
          "x-ms-visibility": "advanced"
        },
        "postCode1": {
          "type": "string",
          "x-ms-summary": "Postal Code",
          "x-ms-visibility": "advanced"
        },
        "postCode2": {
          "type": "string",
          "x-ms-summary": "Postal Code Ext",
          "x-ms-visibility": "advanced"
        },
        "country": {
          "type": "string",
          "x-ms-summary": "Three-digit ISO country code",
          "x-ms-visibility": "advanced"
        },
        "addressNumber": {
          "type": "string",
          "x-ms-summary": "Address Number",
          "x-ms-visibility": "advanced"
        },
        "streetName": {
          "type": "string",
          "x-ms-summary": "Street Name",
          "x-ms-visibility": "advanced"
        },
        "unitType": {
          "type": "string",
          "x-ms-summary": "Unit Type",
          "x-ms-visibility": "advanced"
        },
        "unitValue": {
          "type": "string",
          "x-ms-summary": "Unit Value",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SpecialPurposeDistrict": {
      "type": "object",
      "properties": {
        "districtName": {
          "type": "string",
          "x-ms-summary": "SPD Name"
        },
        "districtCode": {
          "type": "string",
          "x-ms-summary": "SPD district code"
        },
        "districtNumber": {
          "type": "string",
          "x-ms-summary": "3-digit district type code"
        },
        "versionDate": {
          "type": "string",
          "x-ms-summary": "SPD version date"
        },
        "effectiveDate": {
          "type": "string",
          "x-ms-summary": "SPD effective date"
        },
        "compiledDate": {
          "type": "string",
          "x-ms-summary": "SPD compiled date"
        },
        "updateDate": {
          "type": "string",
          "x-ms-summary": "SPD update date"
        }
      }
    },
    "UseTax": {
      "type": "object",
      "properties": {
        "totalTaxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Total Use Tax Rate"
        },
        "totalTaxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Total Use Tax Amount"
        },
        "stateTaxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "State Use Tax Rate"
        },
        "stateTaxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "State Use Tax Amount"
        },
        "countyTaxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "County Use Tax Rate"
        },
        "countyTaxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "County Use Tax Amount"
        },
        "municipalTaxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Municipality Use Tax Rate"
        },
        "municipalTaxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Municipality Use Tax Amount"
        },
        "spdsTax": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpecialPurposeDistrictTax"
          }
        },
        "specialTaxRulesApplied": {
          "type": "boolean",
          "default": false
        },
        "specialTaxRulesDescriptor": {
          "type": "string"
        }
      }
    },
    "County": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "x-ms-summary": "County Code"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "County Name"
        },
        "fips": {
          "type": "string"
        }
      }
    },
    "TaxAddress": {
      "type": "object",
      "properties": {
        "purchaseAmount": {
          "type": "string",
          "x-ms-summary": "Purchase Amount"
        },
        "objectId": {
          "type": "string",
          "x-ms-summary": "Unique ID",
          "x-ms-visibility": "advanced"
        },
        "mainAddressLine": {
          "type": "string",
          "x-ms-summary": "Main Address"
        },
        "addressLastLine": {
          "type": "string",
          "x-ms-summary": "Address Last Line",
          "x-ms-visibility": "advanced"
        },
        "placeName": {
          "type": "string",
          "x-ms-summary": "Place Name",
          "x-ms-visibility": "advanced"
        },
        "areaName1": {
          "type": "string",
          "x-ms-summary": "State or Province",
          "x-ms-visibility": "advanced"
        },
        "areaName2": {
          "type": "string",
          "x-ms-summary": "Area Name 2",
          "x-ms-visibility": "advanced"
        },
        "areaName3": {
          "type": "string",
          "x-ms-summary": "City or Town",
          "x-ms-visibility": "advanced"
        },
        "areaName4": {
          "type": "string",
          "x-ms-summary": "Area Name 4",
          "x-ms-visibility": "advanced"
        },
        "postCode1": {
          "type": "string",
          "x-ms-summary": "Postal Code",
          "x-ms-visibility": "advanced"
        },
        "postCode2": {
          "type": "string",
          "x-ms-summary": "Postal Code Ext",
          "x-ms-visibility": "advanced"
        },
        "country": {
          "type": "string",
          "x-ms-summary": "Three-digit ISO country code",
          "x-ms-visibility": "advanced"
        },
        "addressNumber": {
          "type": "string",
          "x-ms-summary": "Address Number",
          "x-ms-visibility": "advanced"
        },
        "streetName": {
          "type": "string",
          "x-ms-summary": "Street Name",
          "x-ms-visibility": "advanced"
        },
        "unitType": {
          "type": "string",
          "x-ms-summary": "Unit Type",
          "x-ms-visibility": "advanced"
        },
        "unitValue": {
          "type": "string",
          "x-ms-summary": "Unit Value",
          "x-ms-visibility": "advanced"
        },
        "distanceUnits": {
          "type": "string",
          "x-ms-summary": "Distance Unit",
          "x-ms-visibility": "advanced"
        },
        "bufferWidth": {
          "type": "string",
          "x-ms-summary": "Buffer Width",
          "x-ms-visibility": "advanced"
        },
        "userBufferWidth": {
          "type": "string",
          "x-ms-summary": "User Buffer Width",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SalesTax": {
      "type": "object",
      "properties": {
        "totalTaxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Total Sales Tax rate"
        },
        "totalTaxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Total Sales Tax Amount"
        },
        "stateTaxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "State Sales Tax Rate"
        },
        "stateTaxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "State Sales Tax Amount"
        },
        "countyTaxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "County Sales Tax Rate"
        },
        "countyTaxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "County Sales Tax Amount"
        },
        "municipalTaxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Municipality Sales Tax Rate"
        },
        "municipalTaxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Municipality Sales Tax Aount"
        },
        "spdsTax": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpecialPurposeDistrictTax"
          }
        },
        "specialTaxRulesApplied": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Special Tax Rules Applied"
        },
        "specialTaxRulesDescriptor": {
          "type": "string",
          "x-ms-summary": "Special Tax Rules Descriptor"
        }
      }
    },
    "Cbsa": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "taxResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string"
        },
        "gnisCode": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Probability that the point falls in the specified Place"
        },
        "jurisdiction": {
          "$ref": "#/definitions/TaxJurisdiction"
        },
        "matchedAddress": {
          "$ref": "#/definitions/address"
        },
        "salesTax": {
          "$ref": "#/definitions/SalesTax"
        },
        "useTax": {
          "$ref": "#/definitions/UseTax"
        },
        "census": {
          "$ref": "#/definitions/Census"
        },
        "latLongFields": {
          "$ref": "#/definitions/LatLongFields"
        }
      }
    },
    "taxResponses": {
      "type": "object",
      "properties": {
        "taxResponses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/taxResponse"
          }
        }
      }
    },
    "TaxLocationRequest": {
      "type": "object",
      "required": [
        "locations"
      ],
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GeoTaxLocations"
          },
          "x-ms-summary": "Tax Location"
        },
        "preferences": {
          "$ref": "#/definitions/Preferences"
        }
      }
    },
    "FieldsMatching": {
      "type": "object",
      "properties": {
        "matchOnAddressNumber": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match On Address Number"
        },
        "matchOnPostCode1": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match On Postal Code"
        },
        "matchOnPostCode2": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on Postal Code Ext"
        },
        "matchOnAreaName1": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on State or Province"
        },
        "matchOnAreaName2": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on Area Name 2"
        },
        "matchOnAreaName3": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on City or Town"
        },
        "matchOnAreaName4": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on Area Name 4"
        },
        "matchOnAllStreetFields": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on All Street Fields"
        },
        "matchOnStreetName": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on street Name"
        },
        "matchOnStreetType": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on Street Type"
        },
        "matchOnStreetDirectional": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on Street Directional"
        },
        "matchOnPlaceName": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on Place Name"
        },
        "matchOnInputFields": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match on Input Fields"
        }
      }
    },
    "TaxAddressRequest": {
      "type": "object",
      "required": [
        "taxAddresses"
      ],
      "properties": {
        "taxAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxAddress"
          },
          "x-ms-summary": "Tax Address"
        },
        "preferences": {
          "$ref": "#/definitions/Preferences"
        }
      }
    },
    "TaxRateLocationRequest": {
      "type": "object",
      "required": [
        "locations"
      ],
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GeoTaxLocations"
          },
          "x-ms-summary": "Tax Location"
        },
        "preferences": {
          "$ref": "#/definitions/Preferences"
        }
      }
    },
    "SpecialPurposeDistrictTax": {
      "type": "object",
      "properties": {
        "districtNumber": {
          "type": "string",
          "x-ms-summary": "District Number of SPD"
        },
        "taxRate": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Tax rate for SPD"
        },
        "taxAmount": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Tax Amount for SPD"
        }
      }
    },
    "TaxRateAddressRequest": {
      "type": "object",
      "required": [
        "taxRateAddresses"
      ],
      "properties": {
        "taxRateAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxRateAddress"
          },
          "x-ms-summary": "Tax Rate Address"
        },
        "preferences": {
          "$ref": "#/definitions/Preferences"
        }
      }
    },
    "GeoTaxLocations": {
      "type": "object",
      "required": [
        "geometry"
      ],
      "properties": {
        "purchaseAmount": {
          "type": "string",
          "x-ms-summary": "Purchase Amount"
        },
        "objectId": {
          "type": "string",
          "x-ms-summary": "Unique ID"
        },
        "geometry": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Geometry"
          },
          "x-ms-summary": "Geometry"
        }
      }
    },
    "TaxJurisdiction": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/State"
        },
        "county": {
          "$ref": "#/definitions/County"
        },
        "place": {
          "$ref": "#/definitions/Place"
        },
        "spds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpecialPurposeDistrict"
          }
        }
      }
    },
    "LatLongFields": {
      "type": "object",
      "properties": {
        "matchCode": {
          "type": "string"
        },
        "matchLevel": {
          "type": "string"
        },
        "streetMatchCode": {
          "type": "string"
        },
        "streetMatchLevel": {
          "type": "string"
        },
        "geometry": {
          "$ref": "#/definitions/Geometry"
        }
      }
    },
    "ReturnFieldsDescriptor": {
      "type": "object",
      "properties": {
        "returnAllCustomFields": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "All Custom Fields"
        },
        "returnMatchDescriptor": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Match Descriptor"
        },
        "returnStreetAddressFields": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Street Address Fields"
        },
        "returnUnitInformation": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Unit Info"
        },
        "returnedCustomFieldKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Custom Field Keys"
        }
      }
    },
    "Mcd": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "Census": {
      "type": "object",
      "properties": {
        "cbsa": {
          "$ref": "#/definitions/Cbsa"
        },
        "matchLevel": {
          "type": "string"
        },
        "matchCode": {
          "type": "string"
        },
        "tract": {
          "type": "string"
        },
        "mcd": {
          "$ref": "#/definitions/Mcd"
        }
      }
    },
    "State": {
      "type": "object",
      "properties": {
        "fips": {
          "type": "string"
        },
        "code": {
          "type": "string",
          "x-ms-summary": "State Code"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "State Name"
        }
      }
    },
    "Place": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Place Name"
        },
        "code": {
          "type": "string",
          "x-ms-summary": "Place Code"
        },
        "classCode": {
          "type": "string",
          "x-ms-summary": "Place Class Code"
        },
        "incorporatedFlag": {
          "type": "string",
          "x-ms-summary": "Place Incorporated Flag"
        },
        "lastAnnexedDate": {
          "type": "string",
          "x-ms-summary": "Place Last Annexed Date"
        },
        "lastUpdatedDate": {
          "type": "string",
          "x-ms-summary": "Place Last updated Date"
        },
        "lastVerifiedDate": {
          "type": "string",
          "x-ms-summary": "Place Last Verified Date"
        }
      }
    },
    "IndexVariable": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "score": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "percentile": {
          "type": "string"
        }
      }
    },
    "IPDTaxByAddressBatchRequest": {
      "type": "object",
      "required": [
        "addresses"
      ],
      "properties": {
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPDTaxRateAddress"
          },
          "x-ms-summary": "Tax Address"
        },
        "preferences": {
          "$ref": "#/definitions/Preferences"
        }
      }
    },
    "TaxDistrictResponseList": {
      "type": "object",
      "properties": {
        "taxDistrictResponse": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxDistrictResponse"
          }
        }
      }
    },
    "TaxDistrictResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "x-ms-summary": "Unique ID"
        },
        "confidence": {
          "type": "number",
          "format": "double",
          "x-ms-summary": "Percentage Overlap of Geocode"
        },
        "jurisdiction": {
          "$ref": "#/definitions/IPDTaxJurisdiction"
        },
        "numOfIpdsFound": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Number of Insurance Premium Tax Districts"
        },
        "ipds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ipd"
          }
        },
        "matchedAddress": {
          "$ref": "#/definitions/address"
        },
        "census": {
          "$ref": "#/definitions/Census"
        },
        "latLongFields": {
          "$ref": "#/definitions/LatLongFields"
        }
      }
    },
    "IPDTaxJurisdiction": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/State"
        },
        "county": {
          "$ref": "#/definitions/County"
        },
        "place": {
          "$ref": "#/definitions/Place"
        }
      }
    },
    "ipd": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "IPD ID"
        },
        "districtName": {
          "type": "string",
          "x-ms-summary": "IPD Name"
        },
        "districtType": {
          "$ref": "#/definitions/DistrictType"
        },
        "taxCodeDescription": {
          "type": "string",
          "x-ms-summary": "Tax code descriptions"
        },
        "effectiveDate": {
          "type": "string",
          "x-ms-summary": "IPD Effective Date"
        },
        "expirationDate": {
          "type": "string",
          "x-ms-summary": "IPD Expiration Date"
        },
        "boundaryBuffer": {
          "$ref": "#/definitions/BoundaryBuffer"
        },
        "rates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/rate"
          }
        }
      }
    },
    "DistrictType": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "x-ms-summary": "Insurance Premium Districts Type"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "BoundaryBuffer": {
      "type": "object",
      "properties": {
        "bufferRelation": {
          "$ref": "#/definitions/BufferRelation"
        },
        "distanceToBorder": {
          "$ref": "#/definitions/DistanceToBorder"
        }
      }
    },
    "rate": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Tax Rate Name"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Tax Rate Format"
        },
        "formatDescription": {
          "type": "string",
          "x-ms-summary": "Tax Rate Format Description"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "BufferRelation": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "x-ms-summary": "Buffer Relation Description"
        },
        "value": {
          "type": "string",
          "x-ms-summary": "Buffer Relation Value"
        }
      }
    },
    "DistanceToBorder": {
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "x-ms-summary": "Ditance to Border Unit"
        },
        "value": {
          "type": "string",
          "x-ms-summary": "Distance to Border Value"
        }
      }
    },
    "CustomPreferences": {
      "type": "object",
      "properties": {
        "FIND_ADDR_POINT_INTERP": {
          "type": "string",
          "default": "true",
          "x-ms-visibility": "advanced"
        },
        "FIND_SEARCH_AREA": {
          "type": "string",
          "default": "1",
          "x-ms-visibility": "advanced"
        },
        "FIND_ADDRESS_RANGE": {
          "type": "string",
          "default": "Feet",
          "x-ms-visibility": "advanced"
        },
        "FIND_EXPANDED_SEARCH_RADIUS": {
          "type": "string",
          "default": "50",
          "x-ms-visibility": "advanced"
        },
        "FIND_ALTERNATE_LOOKUP": {
          "type": "string",
          "default": "2",
          "x-ms-visibility": "advanced"
        },
        "FIND_STREET_CENTROID": {
          "type": "string",
          "default": "true",
          "x-ms-visibility": "advanced"
        },
        "FIND_FIRST_LETTER_EXPANDED": {
          "type": "string",
          "default": "true",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Online Documentation",
    "url": "https://docs.microsoft.com/connectors/geotax"
  }
}