{
  "swagger": "2.0",
  "info": {
    "title": "Crossbeam",
    "description": "Use Crossbeam in Microsoft Copilot for Sales to expand and accelerate your deals. Get intelligent recommendations and ecosystem insights on key people and companies in your network.",
    "contact": {
      "name": "Crossbeam",
      "email": "support@crossbeam.com"
    },
    "version": "1.0",
    "x-ms-keywords": [
      "crossbeam",
      "sales",
      "copilot"
    ],
    "x-ms-openai-published-to-copilots": [
      {
        "AICopilot-enabled": true,
        "AICopilotName": "Microsoft Sales Copilot"
      }
    ],
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/crossbeam",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/api/enhanceskills/activities": {},
    "/{connectionId}/api/enhanceskills/related-records": {},
    "/{connectionId}/api/enhanceskills/email-insights": {},
    "/{connectionId}/v0.1/records/ms-copilot-insights": {
      "get": {
        "tags": [
          "EnhancedSkillsExtensibility"
        ],
        "summary": "Get related sales highlights",
        "description": "This action gets additional sales insights that will be shown in C4S key sales info card in outlook sidecar. The action enhances the existing skills of copilot for sales.",
        "operationId": "scp-get-sales-highlights",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "recordType",
            "description": "This input identifies the record type in CRM for which key sales info is requested.",
            "required": true,
            "type": "string",
            "enum": [
              "account",
              "opportunity",
              "lead",
              "contact"
            ],
            "x-ms-summary": "Record Type"
          },
          {
            "in": "query",
            "name": "recordId",
            "description": "This input provides the unique identifier of the CRM record for which key sales info is requested.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Record ID"
          },
          {
            "in": "query",
            "name": "crmType",
            "description": "This input indicates the type of CRM in which the CRM record exists, for which key sales info is requested.",
            "type": "string",
            "enum": [
              "Salesforce",
              "Dynamics365"
            ],
            "x-ms-summary": "CRM Type"
          },
          {
            "in": "query",
            "name": "crmOrgUrl",
            "description": "This input indicates the URL of the CRM environment in which the CRM record exists, for which key sales info is requested.",
            "type": "string",
            "x-ms-summary": "CRM Org URL"
          },
          {
            "in": "query",
            "name": "top",
            "description": "This input indicates the number of sales highlights to fetch.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "This input indicates the number of items to skip when fetching sales highlights.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SalesHighlightListResponseEnvelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "scp-get-sales-highlights"
            }
          ],
          "summary": "Get related sales highlights",
          "description": "This action gets additional sales insights that will be shown in C4S key sales info card in outlook sidecar. The action enhances the existing skills of copilot for sales."
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/crossbeam/#get-related-sales-highlights"
        }
      }
    },
    "/{connectionId}/api/newskills/sample-placeholder": {}
  },
  "definitions": {
    "ApiError": {
      "required": [
        "errorCode"
      ],
      "type": "object",
      "properties": {
        "errorCode": {
          "minLength": 1,
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "activityId": {
          "type": "string"
        },
        "details": {
          "type": "object",
          "additionalProperties": {}
        }
      }
    },
    "SalesHighlight": {
      "required": [
        "description",
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "This output indicates the title of citation card for the insight.",
          "minLength": 1,
          "type": "string"
        },
        "description": {
          "description": "This output indicates the text of the insight to be included in key sales info.",
          "minLength": 1,
          "type": "string"
        },
        "dateTime": {
          "format": "date-time",
          "description": "This output indicates the time associated with the insight.",
          "type": "string"
        },
        "url": {
          "description": "This output indicates the URL to learn more about the insight.",
          "type": "string"
        },
        "additionalProperties": {
          "description": "This output indicates additional properties as name-value pairs of each related insight returned by the action.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SalesHighlightListResponseEnvelope": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SalesHighlight"
          }
        },
        "hasMoreResults": {
          "description": "This indicates whether there are more results to be fetched in subsequent calls",
          "type": "boolean"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.crossbeam.com/v0.1/authorize-with-audience",
      "tokenUrl": "https://auth.crossbeam.com/oauth/token",
      "scopes": {
        "openid read:reports read:partnerships offline_access": "openid read:reports read:partnerships offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "openid read:reports read:partnerships offline_access"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://crossbeam.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.crossbeam.com/legal/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Sales and CRM"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/crossbeam"
  }
}
