{
  "swagger": "2.0",
  "info": {
    "title": "iObeya",
    "description": "Connect your favorite apps with iObeya, automate information flow between teams, and create a single source of truth for better decision-making thanks to iObeya.",
    "version": "1.0",
    "contact": {
      "name": "iObeya Integrations",
      "url": "https://www.iobeya.com/",
      "email": "integrations-support@iobeya.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.iobeya.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.iobeya.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/iobeya",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/rooms": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "self": {
                  "type": "string",
                  "description": "Url of the room collection",
                  "title": "Self Collection URL"
                },
                "kind": {
                  "type": "string",
                  "description": "Kind of collection",
                  "title": "Kind"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total count of elements",
                  "title": "Total Element Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "self": {
                        "type": "string",
                        "description": "Url of the room",
                        "title": "Self Room URL"
                      },
                      "kind": {
                        "type": "string",
                        "description": "Kind of room",
                        "title": "Kind"
                      },
                      "id": {
                        "type": "string",
                        "description": "Id of the room",
                        "title": "Room ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the room",
                        "title": "Room Name"
                      }
                    }
                  },
                  "description": "Collection of rooms"
                }
              }
            }
          }
        },
        "summary": "List of Rooms",
        "description": "Retrieve list of Rooms",
        "operationId": "ListRooms",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "internal"
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 200,
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#list-of-rooms"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "self": {
                  "type": "string",
                  "description": "Url of the room",
                  "title": "Self Room URL"
                },
                "kind": {
                  "type": "string",
                  "description": "Kind of room",
                  "title": "Kind"
                },
                "id": {
                  "type": "string",
                  "description": "Id of the room",
                  "title": "Room ID"
                },
                "domainId": {
                  "type": "string",
                  "description": "Id of the domain",
                  "title": "Domain ID"
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Create a room",
        "description": "Create a room in a specific domain",
        "operationId": "CreateRooms",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "domainName",
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the room",
                  "title": "Name",
                  "x-ms-visibility": "important"
                },
                "domainName": {
                  "type": "string",
                  "description": "Name of the domain where create the room",
                  "title": "Domain's name",
                  "x-ms-visibility": "important"
                },
                "maximumBoards": {
                  "type": "integer",
                  "description": "Number of maximum board can be created",
                  "title": "Maximum Boards"
                },
                "maximumUsers": {
                  "type": "integer",
                  "description": "Number of maximum users for the room",
                  "title": "Maximum Users"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the room",
                  "title": "Description"
                },
                "category": {
                  "type": "string",
                  "description": "Category of the room",
                  "title": "Category",
                  "x-ms-visibility": "advanced"
                },
                "administrator": {
                  "type": "string",
                  "description": "ID of the administrator",
                  "title": "Administrator UserID",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#create-a-room"
        }
      }
    },
    "/{connectionId}/boards": {
      "get": {
        "responses": {
          "200": {
            "description": "List of boards",
            "schema": {
              "type": "object",
              "properties": {
                "self": {
                  "type": "string",
                  "description": "Url of the collection"
                },
                "kind": {
                  "type": "string",
                  "description": "Kind of collection"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total count of elements"
                },
                "next": {
                  "type": "string",
                  "description": "Url of the next page"
                },
                "nextLink": {
                  "type": "string",
                  "description": "Url of the next page",
                  "additionalProperties": {}
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "self": {
                        "type": "string",
                        "description": "Url of the board"
                      },
                      "kind": {
                        "type": "string",
                        "description": "Kind of board"
                      },
                      "type": {
                        "type": "string",
                        "description": "Board's type"
                      },
                      "id": {
                        "type": "string",
                        "description": "Id of the board"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the board"
                      },
                      "url": {
                        "type": "string",
                        "description": "Direct url to the board"
                      },
                      "room": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "Url of the board's room"
                          },
                          "kind": {
                            "type": "string",
                            "description": "Kind of room"
                          },
                          "id": {
                            "type": "string",
                            "description": "Id of the board's room"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the board's room"
                          }
                        },
                        "description": "Board's room"
                      }
                    }
                  },
                  "description": "Collection of boards"
                }
              }
            }
          }
        },
        "summary": "List of Boards",
        "description": "Retrieve list of Boards",
        "operationId": "ListBoards",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "search",
            "description": "Search by board's name",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Search Criteria"
          },
          {
            "name": "sortDirection",
            "description": "Choose the sort direction",
            "in": "query",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc",
            "type": "string",
            "x-ms-summary": "Sort Direction"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "internal"
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 200,
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#list-of-boards"
        }
      }
    },
    "/{connectionId}/cards": {
      "post": {
        "responses": {
          "201": {
            "description": "CREATED",
            "schema": {
              "type": "object",
              "properties": {
                "self": {
                  "type": "string",
                  "description": "Url of the card"
                },
                "kind": {
                  "type": "string",
                  "description": "Kind of card"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status Code"
                },
                "id": {
                  "type": "string",
                  "description": "Id of the card"
                }
              }
            }
          }
        },
        "summary": "Create Card",
        "operationId": "CreateCard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Type Card",
            "description": "Type of card",
            "x-ms-summary": "Type Card",
            "default": "Standard",
            "in": "header",
            "required": true,
            "type": "string",
            "enum": [
              "Standard",
              "Activity",
              "Story",
              "Feature",
              "Problem Solving",
              "QCD Action"
            ]
          },
          {
            "name": "dynamicSchema",
            "in": "body",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetCardSchema",
                "parameters": {
                  "type": {
                    "parameter": "Type Card"
                  }
                }
              }
            }
          }
        ],
        "description": "Create a new Card",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#create-card"
        }
      }
    },
    "/{connectionId}/cards/schema": {
      "get": {
        "summary": "Card Schema",
        "description": "Retrieve dynamic schema of card by type",
        "operationId": "GetCardSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type",
            "type": "string",
            "required": true,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#card-schema"
        }
      }
    },
    "/{connectionId}/qcd/indicators-values": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Update QCD Indicators",
        "description": "Bulk Update of QCD Indicators Values",
        "operationId": "UpdateQCDIndicatorsValue",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "boardId",
                "letters"
              ],
              "properties": {
                "boardId": {
                  "type": "string",
                  "description": "ID of the board where you want place the card",
                  "title": "Board ID",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListBoards",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "name"
                  }
                },
                "letters": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Indicators",
                  "title": "Indicators",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#update-qcd-indicators"
        }
      }
    },
    "/{connectionId}/qcd/compute-indicator": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Compute QCD Letter's Indicator",
        "operationId": "ComputeQCDIndicator",
        "description": "Compute a QCD Letter's Indicator object",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "letterName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "QCD Letter's name",
            "x-ms-summary": "Letter Name"
          },
          {
            "name": "indicatorName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "QCD Letter's indicator name",
            "x-ms-summary": "Indicator Name"
          },
          {
            "name": "wedgeValue",
            "in": "query",
            "required": true,
            "type": "number",
            "description": "QCD Letter's indicator value or KPI",
            "x-ms-summary": "Indicator Value"
          },
          {
            "name": "wedgeNumber",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Wedge Index",
            "description": "Wedge Index Position in the circle"
          },
          {
            "name": "wedgeRing",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "inner",
              "middle",
              "outer"
            ],
            "default": "outer",
            "description": "Wedge Ring (inner, middle, outer)",
            "x-ms-summary": "Wedge Ring"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Period expected (Date)",
            "description": "Period as date of the indicator (use to control, example 10/12/2022)"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#compute-qcd-letter%27s-indicator"
        }
      }
    },
    "/{connectionId}/cards/activity": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "self": {
                  "type": "string",
                  "description": "Url of the collection"
                },
                "kind": {
                  "type": "string",
                  "description": "Collection"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total count of elements"
                },
                "previous": {
                  "type": "string",
                  "description": "Url of the previous page"
                },
                "next": {
                  "type": "string",
                  "description": "Url of the next page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "self": {
                        "type": "string",
                        "description": "Url of the card"
                      },
                      "kind": {
                        "type": "string",
                        "description": "Kind of card"
                      },
                      "id": {
                        "type": "string",
                        "description": "Id of the card"
                      },
                      "title": {
                        "type": "string",
                        "description": "Card's title"
                      },
                      "startDate": {
                        "type": "string",
                        "description": "Start date of the activity"
                      },
                      "endDate": {
                        "type": "string",
                        "description": "End date of the activity"
                      }
                    }
                  },
                  "description": "Collection of activity cards"
                }
              }
            }
          }
        },
        "summary": "List Cards Activity",
        "description": "List Cards Activity between two dates",
        "operationId": "ListCardsActivity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "boardId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Planning board",
            "x-ms-summary": "Board",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListBoards",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "From Date",
            "description": "ISO 8601 format: YYYY-MM-DD",
            "x-ms-visibility": "important"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "To Date",
            "description": "ISO 8601 format: YYYY-MM-DD",
            "x-ms-visibility": "important"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "x-ms-summary": "Page"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 200,
            "description": "Number of items to retrieve",
            "x-ms-summary": "Page Size"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#list-cards-activity"
        }
      }
    },
    "/{connectionId}/board-images/{boardImageId}/asset": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Update asset of a board image",
        "description": "Update an asset of board image on a board",
        "operationId": "UpdateAssetBoardImage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "boardImageId",
            "in": "path",
            "description": "The board image ID can be found with Copy Technical ID in the properties of the iObeya image.",
            "required": true,
            "x-ms-summary": "Board Image ID",
            "x-ms-url-encoding": "single"
          },
          {
            "type": "file",
            "name": "file",
            "in": "formData",
            "description": "File to upload",
            "required": true,
            "x-ms-summary": "File to upload"
          },
          {
            "name": "file/content-type",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Content type of the file to updload",
            "default": "image/png",
            "enum": [
              "image/png",
              "image/jpg"
            ],
            "x-ms-summary": "Content Type"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#update-asset-of-a-board-image"
        }
      }
    },
    "/{connectionId}/gauges/{gaugeId}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Update Gauge",
        "description": "Update an gauge",
        "operationId": "UpdateGauge",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "gaugeId",
            "in": "path",
            "description": "The gauge ID can be found with Copy Technical ID in the properties of the iObeya gauge.",
            "required": true,
            "x-ms-summary": "Gauge ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "value"
              ],
              "properties": {
                "value": {
                  "type": "number",
                  "description": "Value of the gauge",
                  "title": "Value",
                  "x-ms-visibility": "important"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the gauge",
                  "title": "Title",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iobeya/#update-gauge"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "tags": [],
  "security": [
    {
      "oauth2_auth": [
        "api offline_access"
      ]
    }
  ],
  "securityDefinitions": {},
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/iobeya"
  }
}
