{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "AWeber",
    "description": "AWeber is an email marketing platform that allows small businesses and entrepreneurs to create and send emails.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/aweber",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/1.0/accounts/accountid/lists/{listid}/subscribers": {
      "post": {
        "summary": "Add subscriber",
        "description": "This operation is used to add a contact to an existing list.",
        "operationId": "CreateSubscriber",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "listid",
            "in": "path",
            "description": "Pick a list.",
            "required": true,
            "x-ms-summary": "List Id",
            "x-ms-test-value": 4610048,
            "x-ms-dynamic-values": {
              "operationId": "ListLists",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "entries"
            },
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "email"
              ],
              "type": "object",
              "properties": {
                "email": {
                  "description": "Subscriber's mailing address.",
                  "type": "string",
                  "x-ms-summary": "Email"
                },
                "name": {
                  "description": "Subscriber's name.",
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "misc_notes": {
                  "description": "Optional miscellaneous notes.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Notes"
                }
              },
              "x-ms-test-value": {
                "name": "Isaac Perry",
                "email": "isaacp426410@slalom.com",
                "misc_notes": "Test note"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/aweber/#add-subscriber"
        }
      },
      "patch": {
        "summary": "Remove subscriber",
        "description": "This operation is used to remove an email from a mailing list.",
        "operationId": "UnsubscribeEmail",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "listid",
            "in": "path",
            "description": "Pick a list.",
            "required": true,
            "x-ms-summary": "List Id",
            "x-ms-test-value": 4610048,
            "x-ms-dynamic-values": {
              "operationId": "ListLists",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "entries"
            },
            "type": "integer"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Address to unsubscribe.",
            "required": true,
            "x-ms-summary": "Email",
            "x-ms-test-value": "4251140@microsoft.com",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "status"
              ],
              "type": "object",
              "properties": {
                "status": {
                  "description": "status",
                  "default": "unsubscribed",
                  "type": "string",
                  "x-ms-summary": "status",
                  "x-ms-visibility": "internal"
                }
              },
              "x-ms-test-value": {
                "status": "unsubscribed"
              }
            }
          }
        ],
        "responses": {
          "209": {
            "description": "209",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "description": "Unsubscribed address.",
                  "type": "string",
                  "x-ms-summary": "Email",
                  "x-ms-visibility": "advanced"
                },
                "id": {
                  "format": "int32",
                  "description": "Unique id of the unsubscribed user.",
                  "type": "integer",
                  "x-ms-summary": "User Id",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "description": "Full name of the unsubscribed user.",
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "status": {
                  "description": "Subscribed, unsubscribed or unconfirmed.",
                  "type": "string",
                  "x-ms-summary": "Status"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/aweber/#remove-subscriber"
        }
      }
    },
    "/{connectionId}/1.0/accounts/accountid/lists": {
      "get": {
        "summary": "Get all lists",
        "description": "This operation returns a list of all mailing lists associated with your AWeber account.",
        "operationId": "ListLists",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "entries": {
                  "description": "entries",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "total_unconfirmed_subscribers": {
                        "format": "int32",
                        "description": "Number of emails on the list that are unconfirmed.",
                        "type": "integer",
                        "x-ms-summary": "Unconfirmed Subscriber Count",
                        "x-ms-visibility": "advanced"
                      },
                      "total_subscribers_subscribed_yesterday": {
                        "format": "int32",
                        "description": "Number of emails that subscribed yesterday.",
                        "type": "integer",
                        "x-ms-summary": "Subscribed Yesterday Count",
                        "x-ms-visibility": "advanced"
                      },
                      "unique_list_id": {
                        "description": "Generated name for the list.",
                        "type": "string",
                        "x-ms-summary": "Unique Id",
                        "x-ms-visibility": "advanced"
                      },
                      "total_subscribers_subscribed_today": {
                        "format": "int32",
                        "description": "Number of emails that subscribed today.",
                        "type": "integer",
                        "x-ms-summary": "Subscribed Today Count",
                        "x-ms-visibility": "advanced"
                      },
                      "id": {
                        "format": "int32",
                        "description": "Unique id for the list.",
                        "type": "integer",
                        "x-ms-summary": "List Id",
                        "x-ms-visibility": "advanced"
                      },
                      "total_subscribed_subscribers": {
                        "format": "int32",
                        "description": "Number of emails subscribed to the list.",
                        "type": "integer",
                        "x-ms-summary": "Subscriber Count"
                      },
                      "total_unsubscribed_subscribers": {
                        "format": "int32",
                        "description": "Number of emails in the list that have not susbscribed.",
                        "type": "integer",
                        "x-ms-summary": "Unsubscribed Count"
                      },
                      "total_subscribers": {
                        "format": "int32",
                        "description": "Total number of emails in the list.",
                        "type": "integer",
                        "x-ms-summary": "List Count"
                      },
                      "name": {
                        "format": "date-time",
                        "description": "Given name of the list.",
                        "type": "string",
                        "x-ms-summary": "Name"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/aweber/#get-all-lists"
        }
      }
    }
  },
  "definitions": {},
  "securityDefinitions": {},
  "security": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.aweber.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.aweber.com/privacy.htm"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/aweber"
  }
}
