{
  "swagger": "2.0",
  "info": {
    "title": "Cloudmersive CDR",
    "description": "Use the Content Disarm and Reconstruction API to remove security risks from documents by tearing them down, removing unsafe content and rebuilding them.",
    "termsOfService": "https://portal.cloudmersive.com/terms-of-service",
    "version": "v1",
    "contact": {
      "name": "Cloudmersive Support",
      "url": "https://portal.cloudmersive.com/contact-support",
      "email": "support@cloudmersive.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/cdr/sanitization/file": {
      "post": {
        "tags": [
          "FileSanitization"
        ],
        "summary": "Content Disarm and Reconstruction on a File",
        "description": "Processes the input file via CDR to produce a secured output file.  Input content is parsed, disarmed, and then reconstructed into a new output file with the same file format as the input.",
        "operationId": "File",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file",
            "x-ms-summary": "Input document, or photos of a document, to extract data from"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudmersivecdr/#content-disarm-and-reconstruction-on-a-file"
        }
      }
    },
    "/{connectionId}/cdr/sanitization/file/to/pdf": {
      "post": {
        "tags": [
          "FileSanitization"
        ],
        "summary": "Content Disarm and Reconstruction on a File with PDFA Output",
        "description": "Processes the input file via CDR to produce a secured PDF/A output file.  Input content is parsed, disarmed, and then reconstructed into a new PDF/A output file.",
        "operationId": "FileToPdf",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "formData",
            "name": "InputFile",
            "description": "Input document, or photos of a document, to extract data from",
            "type": "file",
            "x-ms-summary": "Input document, or photos of a document, to extract data from"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudmersivecdr/#content-disarm-and-reconstruction-on-a-file-with-pdfa-output"
        }
      }
    }
  },
  "definitions": {
    "ProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    }
  },
  "securityDefinitions": {
    "Apikey": {
      "type": "apiKey",
      "name": "Apikey",
      "in": "header",
      "description": "API Key Authentication"
    }
  },
  "security": [
    {
      "Apikey": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cloudmersive.com/content-disarm-and-reconstruction-cdr-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://cloudmersive.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/cloudmersivecdr"
  },
  "basePath": "/apim/cloudmersivecdr"
}
