{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "Bing Search",
    "description": "Microsoft Cognitive Services Bing Search API allows you to search content across the web.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/bingsearch",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/news/search": {
      "get": {
        "summary": "List news by query",
        "description": "Returns a list of news articles for a given query.",
        "operationId": "GetNews",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query string.",
            "required": true,
            "x-ms-summary": "Search Query",
            "type": "string",
            "x-ms-test-value": "Microsoft Flows"
          },
          {
            "name": "mkt",
            "in": "query",
            "description": "The market where the results come from. Typically, this is the country where the user is making the request from; however, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form -. For example, en-US.",
            "x-ms-summary": "Market",
            "type": "string",
            "default": "en-US",
            "enum": [
              "es-AR",
              "en-AU",
              "de-AT",
              "nl-BE",
              "fr-BE",
              "pt-BR",
              "en-CA",
              "fr-CA",
              "es-CL",
              "da-DK",
              "fi-FI",
              "fr-FR",
              "de-DE",
              "zh-HK",
              "en-IN",
              "en-ID",
              "en-IE",
              "it-IT",
              "ja-JP",
              "ko-KR",
              "en-MY",
              "es-MX",
              "nl-NL",
              "en-NZ",
              "no-NO",
              "zh-CN",
              "pl-PL",
              "pt-PT",
              "en-PH",
              "ru-RU",
              "ar-SA",
              "en-ZA",
              "es-ES",
              "sv-SE",
              "fr-CH",
              "de-CH",
              "zh-TW",
              "tr-TR",
              "en-GB",
              "en-US",
              "es-US"
            ]
          },
          {
            "name": "safeSearch",
            "in": "query",
            "description": "A filter used to filter results for adult content.",
            "x-ms-summary": "Safe Search",
            "type": "string",
            "default": "Moderate",
            "enum": [
              "Moderate",
              "Off",
              "Strict"
            ]
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of search results to return in the response. The actual number delivered may be less than requested.",
            "x-ms-summary": "Count",
            "type": "string",
            "default": "20"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The zero-based offset that indicates the number of search results to skip before returning results.",
            "required": false,
            "x-ms-summary": "Offset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BingNewsBatch"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bingsearch/#list-news-by-query"
        }
      }
    },
    "/{connectionId}/trigger/news/search": {
      "get": {
        "summary": "On new news article",
        "description": "Triggers when a news article matches the given query.",
        "operationId": "TrigNewNews",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "q",
            "in": "query",
            "description": "The search query string.",
            "required": true,
            "x-ms-summary": "Search Query",
            "type": "string",
            "x-ms-test-value": "Microsoft Flows"
          },
          {
            "name": "mkt",
            "in": "query",
            "description": "The market where the results come from. Typically, this is the country where the user is making the request from; however, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form -. For example, en-US.",
            "x-ms-summary": "Market",
            "type": "string",
            "default": "en-US",
            "enum": [
              "es-AR",
              "en-AU",
              "de-AT",
              "nl-BE",
              "fr-BE",
              "pt-BR",
              "en-CA",
              "fr-CA",
              "es-CL",
              "da-DK",
              "fi-FI",
              "fr-FR",
              "de-DE",
              "zh-HK",
              "en-IN",
              "en-ID",
              "en-IE",
              "it-IT",
              "ja-JP",
              "ko-KR",
              "en-MY",
              "es-MX",
              "nl-NL",
              "en-NZ",
              "no-NO",
              "zh-CN",
              "pl-PL",
              "pt-PT",
              "en-PH",
              "ru-RU",
              "ar-SA",
              "en-ZA",
              "es-ES",
              "sv-SE",
              "fr-CH",
              "de-CH",
              "zh-TW",
              "tr-TR",
              "en-GB",
              "en-US",
              "es-US"
            ]
          },
          {
            "name": "safeSearch",
            "in": "query",
            "description": "A filter used to filter results for adult content.",
            "x-ms-summary": "Safe Search",
            "type": "string",
            "default": "Moderate",
            "enum": [
              "Moderate",
              "Off",
              "Strict"
            ]
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of search results to return in the response. The actual number delivered may be less than requested.",
            "x-ms-summary": "Count",
            "type": "string",
            "default": "20"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The zero-based offset that indicates the number of search results to skip before returning results.",
            "required": false,
            "x-ms-summary": "Offset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BingNewsBatch"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bingsearch/#on-new-news-article"
        }
      }
    }
  },
  "definitions": {
    "BingNewsBatch": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/NewsArticle"
      }
    },
    "NewsArticle": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the news article.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "url": {
          "description": "The URL to the news article.",
          "type": "string",
          "x-ms-summary": "URL"
        },
        "description": {
          "description": "A short description of the news article.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "datePublished": {
          "format": "date-time",
          "description": "The datetime the article was published.",
          "type": "string",
          "x-ms-summary": "Date Published"
        },
        "category": {
          "description": "The category of the news article, such as ScienceAndTechnology.",
          "type": "string",
          "x-ms-summary": "Category"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.bing.com"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/bingsearch"
  }
}
