{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Google Calendar",
    "description": "Google Calendar lets you organize your schedule and share events with co-workers and friends. With Google's free online calendar, it's easy to keep track of your daily schedule.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/googlecalendar",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/users/me/calendarList": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "List calendars",
        "description": "This operation is used to list all calendars in your Google account.",
        "operationId": "ListCalendars",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "minAccessRole",
            "in": "query",
            "description": "The minimum access role users must have to view calendars.",
            "required": false,
            "x-ms-summary": "Minimum Access Role",
            "type": "string",
            "enum": [
              "freeBusyReader",
              "reader",
              "writer",
              "owner"
            ],
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#list-calendars"
        }
      }
    },
    "/{connectionId}/users/me/calendarList/1": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "List writable calendars",
        "description": "This operation is used to list all calendars in your Google account that you can write to.",
        "operationId": "ListWritableCalendars",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "minAccessRole",
            "in": "query",
            "description": "The minimum access role required to view all available calendars.",
            "required": false,
            "x-ms-summary": "Minimum Access Role",
            "type": "string",
            "default": "writer",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#list-writable-calendars"
        }
      }
    },
    "/{connectionId}/calendars/{calendarId}/events": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "List the events on a calendar",
        "description": "This operation is used to return the first page of arbitrarily ordered events on the selected calendar.",
        "operationId": "ListEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarId"
          },
          {
            "name": "timeMin",
            "in": "query",
            "description": "Time format: yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T08:00:00.000Z).",
            "required": false,
            "x-ms-summary": "Min Time",
            "x-ms-visibility": "important",
            "type": "string",
            "format": "date-time",
            "x-ms-test-value": "2017-01-01T22:16:24Z"
          },
          {
            "name": "timeMax",
            "in": "query",
            "description": "Time format: yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T09:00:59.000Z).",
            "required": false,
            "x-ms-summary": "Max time",
            "x-ms-visibility": "important",
            "type": "string",
            "format": "date-time",
            "x-ms-test-value": "2017-03-01T22:16:24Z"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Text search terms to find events that match these terms in any fields",
            "required": false,
            "x-ms-summary": "Search query",
            "x-ms-visibility": "advanced",
            "type": "string",
            "x-ms-test-value": "test query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarEventList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#list-the-events-on-a-calendar"
        }
      },
      "post": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "Create an event",
        "description": "This operation is used to create an event on a specific calendar.",
        "operationId": "CreateEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarIdForWritableCalendar"
          },
          {
            "name": "newEvent",
            "in": "body",
            "description": "New event to add to the calendar.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestEvent"
            },
            "x-ms-summary": "New Event",
            "x-ms-visibility": "important",
            "x-ms-test-value": {
              "summary": "Generic Test Event",
              "start": "2017-04-01T11:20:35Z",
              "end": "2017-04-01T12:20:35Z"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEvent"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#create-an-event"
        }
      }
    },
    "/{connectionId}/calendars/{calendarId}/events/{eventId}": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "Get an event",
        "description": "This operation is used to get the details of a specific event from a calendar.",
        "operationId": "GetEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarId"
          },
          {
            "$ref": "#/parameters/EventId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEvent"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#get-an-event"
        }
      },
      "delete": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "Delete an event",
        "description": "This operation is used to delete an event from a calendar.",
        "operationId": "DeleteEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarIdForWritableCalendar"
          },
          {
            "name": "eventId",
            "in": "path",
            "description": "Unique ID of the event to update.",
            "required": true,
            "x-ms-summary": "Event ID",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#delete-an-event"
        }
      },
      "patch": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "Update an event",
        "description": "This operation is used to update an existing event on a calendar.",
        "operationId": "UpdateEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarIdForWritableCalendar"
          },
          {
            "$ref": "#/parameters/EventId"
          },
          {
            "name": "updatedEvent",
            "in": "body",
            "description": "The updated event - only provide fields to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchEvent"
            },
            "x-ms-summary": "Updated Event",
            "x-ms-visibility": "important",
            "x-ms-test-value": {
              "summary": "Flow Test Event"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEvent"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#update-an-event"
        }
      }
    },
    "/{connectionId}/trigger1/calendars/{calendar_id}/events": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "When an event is added to a calendar",
        "description": "This operation triggers when a new event is added to a calendar.",
        "operationId": "OnNewEventInCalendar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarIdWithUnderscore"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarEventList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add an event to the selected Calendar.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#when-an-event-is-added-to-a-calendar"
        }
      }
    },
    "/{connectionId}/trigger2/calendars/{calendar_id}/events": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "When an event is updated in a calendar",
        "description": "This operation triggers when an event is updated in a calendar.",
        "operationId": "OnUpdatedEventInCalendar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarIdWithUnderscore"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarEventList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update an event in the selected Calendar.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#when-an-event-is-updated-in-a-calendar"
        }
      }
    },
    "/{connectionId}/trigger3/calendars/{calendar_id}/events": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "When an event is deleted from a calendar",
        "description": "This operation triggers when a new event is deleted from a calendar.",
        "operationId": "OnDeletedEventInCalendar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarIdWithUnderscore"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarEventList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, delete an event from the selected calendar.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#when-an-event-is-deleted-from-a-calendar"
        }
      }
    },
    "/{connectionId}/trigger4/calendars/{calendar_id}/events": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "When an event is added, updated or deleted from a calendar",
        "description": "This operation triggers when a new event is added, updated or deleted from a calendar.",
        "operationId": "OnChangedEventInCalendar",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarIdWithUnderscore"
          },
          {
            "$ref": "#/parameters/SingleEvents"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarEventChangedList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add, update or delete an event from the selected calendar.",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#when-an-event-is-added%2c-updated-or-deleted-from-a-calendar"
        }
      }
    },
    "/{connectionId}/eventstarted/calendars/{calendar_id}/events": {
      "get": {
        "tags": [
          "GoogleCalendar"
        ],
        "summary": "When an event starts",
        "description": "This operation triggers when an event starts.",
        "operationId": "OnEventStarted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CalendarIdWithUnderscore"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalendarEventList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, wait for an event to start in the selected calendar.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecalendar/#when-an-event-starts"
        }
      }
    }
  },
  "parameters": {
    "CalendarId": {
      "name": "calendarId",
      "in": "path",
      "description": "Unique ID of the calendar to fetch events from.",
      "required": true,
      "x-ms-summary": "Calendar ID",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "ListCalendars",
        "value-collection": "items",
        "value-path": "id",
        "value-title": "summary"
      },
      "type": "string",
      "x-ms-test-value": "azureconnectors@gmail.com"
    },
    "CalendarIdForWritableCalendar": {
      "name": "calendarId",
      "in": "path",
      "description": "Unique ID of the calendar to fetch events from.",
      "required": true,
      "x-ms-summary": "Calendar ID",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "ListWritableCalendars",
        "value-collection": "items",
        "value-path": "id",
        "value-title": "summary",
        "parameters": {
          "minAccessRole": "writer"
        }
      },
      "type": "string",
      "x-ms-test-value": "azureconnectors@gmail.com"
    },
    "CalendarIdWithUnderscore": {
      "name": "calendar_id",
      "in": "path",
      "description": "Unique ID of the calendar to fetch events from.",
      "required": true,
      "x-ms-summary": "Calendar ID",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "ListCalendars",
        "value-collection": "items",
        "value-path": "id",
        "value-title": "summary"
      },
      "type": "string",
      "x-ms-test-value": "azureconnectors@gmail.com"
    },
    "EventId": {
      "name": "eventId",
      "in": "path",
      "description": "Unique ID of the event to get.",
      "required": true,
      "x-ms-summary": "Event ID",
      "x-ms-visibility": "important",
      "type": "string",
      "x-ms-test-value": "olbfs0ro3dtslhc0i3i25q9ri4"
    },
    "SingleEvents": {
      "name": "singleEvents",
      "in": "query",
      "description": "Whether to expand recurring events into instances.",
      "required": false,
      "x-ms-summary": "Expand Recurring Events?",
      "x-ms-visibility": "advanced",
      "type": "boolean"
    }
  },
  "definitions": {
    "CalendarList": {
      "x-ms-summary": "Calendar List",
      "description": "List of one or multiple calendars.",
      "type": "object",
      "properties": {
        "items": {
          "description": "Calendars in the list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CalendarListEntry"
          },
          "x-ms-summary": "Items",
          "x-ms-visibility": "important"
        }
      }
    },
    "CalendarListEntry": {
      "x-ms-summary": "Calendar",
      "description": "Details about a single Google calendar.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifier of the calendar.",
          "type": "string",
          "x-ms-summary": "Calendar ID",
          "x-ms-visibility": "advanced"
        },
        "summary": {
          "description": "Title of the calendar.",
          "type": "string",
          "x-ms-summary": "Summary",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the calendar.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        },
        "location": {
          "description": "Geographic location of the calendar as free-form text.",
          "type": "string",
          "x-ms-summary": "Location",
          "x-ms-visibility": "advanced"
        },
        "timeZone": {
          "description": "The time zone of the calendar.",
          "type": "string",
          "x-ms-summary": "Time Zone",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CalendarEventList": {
      "description": "List of events in a calendar.",
      "x-ms-summary": "Event List",
      "type": "object",
      "properties": {
        "items": {
          "description": "Events in the calendar.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResponseEvent"
          },
          "x-ms-summary": "Items",
          "x-ms-visibility": "important"
        }
      }
    },
    "CalendarEventChangedList": {
      "description": "List of events in a calendar.",
      "x-ms-summary": "Changed Event List",
      "type": "object",
      "properties": {
        "items": {
          "description": "Changed events in the calendar.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResponseEventWithActionType"
          },
          "x-ms-summary": "Items",
          "x-ms-visibility": "important"
        }
      }
    },
    "ResponseEvent": {
      "x-ms-summary": "Event",
      "description": "Details of a single calendar event.",
      "type": "object",
      "properties": {
        "summary": {
          "description": "A summary of the event.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start time of the event.",
          "type": "string",
          "x-ms-summary": "Start Date-Time",
          "x-ms-visibility": "important"
        },
        "end": {
          "format": "date-time",
          "description": "The (exclusive) end time of the event.",
          "type": "string",
          "x-ms-summary": "End Date-time",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the event.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "location": {
          "description": "Geographic location of the event as free-form text.",
          "type": "string",
          "x-ms-summary": "Location",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Status of the event. Possible values are \"confirmed\", \"tentative\", or \"cancelled\".",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "htmlLink": {
          "description": "Unique ID of the list.",
          "type": "string",
          "x-ms-summary": "HTML link",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "Opaque identifier of the event.",
          "type": "string",
          "x-ms-summary": "Event ID",
          "x-ms-visibility": "advanced"
        },
        "attendees": {
          "description": "The event's attendees.",
          "type": "string",
          "x-ms-summary": "Attendees",
          "x-ms-visibility": "advanced"
        },
        "creator": {
          "description": "The creator of the event.",
          "type": "string",
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced"
        },
        "organizer": {
          "description": "The organizer of the event.",
          "type": "string",
          "x-ms-summary": "Organizer",
          "x-ms-visibility": "advanced"
        },
        "created": {
          "format": "date-time",
          "description": "Creation time of the event.",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "internal"
        },
        "updated": {
          "format": "date-time",
          "description": "Last modification time of the event.",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "internal"
        },
        "endTimeUnspecified": {
          "description": "Whether the end time is actually unspecified. An end time is still\r\n            provided for compatibility reasons, even if this attribute is set to True.",
          "type": "boolean",
          "x-ms-summary": "End Time Unspecified",
          "x-ms-visibility": "internal"
        }
      }
    },
    "RequestEvent": {
      "description": "An event to upload to Google Calendar",
      "required": [
        "start",
        "end"
      ],
      "type": "object",
      "properties": {
        "summary": {
          "description": "A summary of the event.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start time of the event.",
          "type": "string",
          "x-ms-summary": "Start time",
          "x-ms-visibility": "important"
        },
        "end": {
          "format": "date-time",
          "description": "The (exclusive) end time of the event.",
          "type": "string",
          "x-ms-summary": "End time",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the event.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "location": {
          "description": "Geographic location of the event as free-form text.",
          "type": "string",
          "x-ms-summary": "Location",
          "x-ms-visibility": "important"
        },
        "attendees": {
          "description": "Enter a comma-separated list of attendee emails.",
          "type": "string",
          "x-ms-summary": "Attendees",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "Status of the event. Possible values are \"confirmed\", \"tentative\", or \"cancelled\".",
          "enum": [
            "confirmed",
            "tentative",
            "cancelled"
          ],
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "isAllDay": {
          "description": "Is all-day event?",
          "type": "boolean",
          "x-ms-summary": "Is all-day"
        }
      }
    },
    "PatchEvent": {
      "description": "Event changes to upload to Google Calendar.",
      "type": "object",
      "properties": {
        "summary": {
          "description": "A summary of the event.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start time of the event.",
          "type": "string",
          "x-ms-summary": "Start time",
          "x-ms-visibility": "important"
        },
        "end": {
          "format": "date-time",
          "description": "The (exclusive) end time of the event.",
          "type": "string",
          "x-ms-summary": "End time",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the event.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "location": {
          "description": "Geographic location of the event as free-form text.",
          "type": "string",
          "x-ms-summary": "Location",
          "x-ms-visibility": "important"
        },
        "attendees": {
          "description": "Enter a comma-separated list of attendee emails.",
          "type": "string",
          "x-ms-summary": "Attendees",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "Status of the event. Possible values are \"confirmed\", \"tentative\", or \"cancelled.",
          "enum": [
            "confirmed",
            "tentative",
            "cancelled"
          ],
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "isAllDay": {
          "description": "Is all-day event?",
          "type": "boolean",
          "x-ms-summary": "Is all-day"
        }
      }
    },
    "ResponseEventWithActionType": {
      "type": "object",
      "description": "Details of a single calendar event and what action changes the event.",
      "properties": {
        "actionType": {
          "description": "Type of action which changed the event in change trigger.",
          "enum": [
            "added",
            "updated",
            "deleted"
          ],
          "type": "string",
          "x-ms-summary": "Action Type",
          "x-ms-visibility": "important"
        },
        "summary": {
          "description": "A summary of the event.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "start": {
          "format": "date-time",
          "description": "The (inclusive) start time of the event.",
          "type": "string",
          "x-ms-summary": "Start Date-Time",
          "x-ms-visibility": "important"
        },
        "end": {
          "format": "date-time",
          "description": "The (exclusive) end time of the event.",
          "type": "string",
          "x-ms-summary": "End Date-time",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the event.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "location": {
          "description": "Geographic location of the event as free-form text.",
          "type": "string",
          "x-ms-summary": "Location",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Status of the event. Possible values are \"confirmed\", \"tentative\", or \"cancelled\".",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "htmlLink": {
          "description": "Unique ID of the list.",
          "type": "string",
          "x-ms-summary": "HTML link",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "Opaque identifier of the event.",
          "type": "string",
          "x-ms-summary": "Event ID",
          "x-ms-visibility": "advanced"
        },
        "attendees": {
          "description": "The event's attendees.",
          "type": "string",
          "x-ms-summary": "Attendees",
          "x-ms-visibility": "advanced"
        },
        "creator": {
          "description": "The creator of the event.",
          "type": "string",
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced"
        },
        "organizer": {
          "description": "The organizer of the event.",
          "type": "string",
          "x-ms-summary": "Organizer",
          "x-ms-visibility": "advanced"
        },
        "created": {
          "format": "date-time",
          "description": "Creation time of the event.",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "internal"
        },
        "updated": {
          "format": "date-time",
          "description": "Last modification time of the event.",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "internal"
        },
        "endTimeUnspecified": {
          "description": "Whether the end time is actually unspecified. An end time is still\r\n            provided for compatibility reasons, even if this attribute is set to True.",
          "type": "boolean",
          "x-ms-summary": "End Time Unspecified",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {},
      "x-ms-visibility": "advanced"
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListCalendars"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://calendar.google.com/calendar"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policies.google.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/googlecalendar"
  }
}
