{
  "basePath": "/apim/mtarget",
  "consumes": [],
  "definitions": {},
  "host": "europe-002.azure-apim.net",
  "info": {
    "description": "With MTarget SMS, send and receive text messages: alerts, notifications, marketing messages...",
    "title": "Mtarget SMS",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "email": "support@mtarget.fr"
    }
  },
  "parameters": {},
  "paths": {
    "/{connectionId}/flow.php": {
      "post": {
        "description": "Send an sms with multiple options",
        "operationId": "SendSms",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Number of the recipient with country code (+446XXXX)",
            "in": "query",
            "name": "msisdn",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipients",
            "x-ms-visibility": "important"
          },
          {
            "description": "Message content",
            "in": "query",
            "name": "msg",
            "required": true,
            "type": "string",
            "x-ms-summary": "Message to send",
            "x-ms-visibility": "important"
          },
          {
            "description": "Personalization of the Sender ID",
            "in": "query",
            "name": "sender",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sender name",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Routing identifier",
            "in": "query",
            "name": "serviceid",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Service ID",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "yyyy-MM-dd HH: mm: ss",
            "in": "query",
            "name": "timetosend",
            "required": false,
            "type": "string",
            "x-ms-summary": "Time to send",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Remote ID",
            "in": "query",
            "name": "remoteid",
            "required": false,
            "type": "string",
            "x-ms-summary": "Remote ID",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "results": {
                  "description": "results",
                  "items": {
                    "properties": {
                      "code": {
                        "description": "result code",
                        "title": "",
                        "type": "string"
                      },
                      "msisdn": {
                        "description": "Phone number",
                        "title": "",
                        "type": "string"
                      },
                      "reason": {
                        "description": "Result reason",
                        "title": "",
                        "type": "string"
                      },
                      "smscount": {
                        "description": "Sms count send",
                        "title": "",
                        "type": "string"
                      },
                      "ticket": {
                        "description": "Ticket",
                        "title": "",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Send an sms",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/mtarget/#send-an-sms"
        }
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [],
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mtarget.fr"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mtarget.fr/mentions-legales/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/mtarget"
  }
}
