{
  "swagger": "2.0",
  "info": {
    "title": "Sigma Conso CR",
    "description": "Sigma Conso Consolidation & Reporting Connector provides a set of APIs to interact with your Consolidation & Reporting instances. Easily transfer data, trigger actions and automate workflows in Sigma Conso. Go beyond the limits of traditional CPM solutions.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Sigma Conso",
      "url": "https://www.sigmaconso.com/",
      "email": "support@sigmaconso.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/sigmaconsocr",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/job/process": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Run a process",
        "description": "Run a process",
        "operationId": "Processjob",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ApplicationURL",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter the application url.",
            "x-ms-summary": "Enter the application url."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Process": {
                  "type": "string",
                  "description": "Process"
                },
                "Action": {
                  "type": "string",
                  "description": "Action"
                },
                "CustomerCode": {
                  "type": "string",
                  "description": "Customer code"
                },
                "WaitForResult": {
                  "type": "boolean",
                  "description": "Wait for the result."
                }
              },
              "required": [
                "Process",
                "Action",
                "CustomerCode"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sigmaconsocr/#run-a-process"
        }
      }
    },
    "/{connectionId}/api/job/consolidation": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Consolidation",
        "description": "Run a consolidation job",
        "operationId": "Consolidationjob",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ApplicationURL",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter the application url.",
            "x-ms-summary": "Enter the application url."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ConsoCode": {
                  "type": "string",
                  "description": "Consocode"
                },
                "CustomerCode": {
                  "type": "string",
                  "description": "Customer code"
                },
                "WaitForResult": {
                  "type": "boolean",
                  "description": "Wait for the result."
                }
              },
              "required": [
                "ConsoCode",
                "CustomerCode"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sigmaconsocr/#consolidation"
        }
      }
    },
    "/{connectionId}/api/job/scheduledjob": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Scheduled job",
        "description": "Run a scheduled job",
        "operationId": "Scheduledjob",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ApplicationURL",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter the application url.",
            "x-ms-summary": "Enter the application url."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "JobScheduleName": {
                  "type": "string",
                  "description": "JobSchedule name"
                },
                "CustomerCode": {
                  "type": "string",
                  "description": "Customer code"
                },
                "WaitForResult": {
                  "type": "boolean",
                  "description": "Wait for the result."
                }
              },
              "required": [
                "JobScheduleName",
                "CustomerCode"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sigmaconsocr/#scheduled-job"
        }
      }
    },
    "/{connectionId}/api/hub/import": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Import file",
        "description": "Import a csv or xlsx file",
        "operationId": "ImportFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ApplicationURL",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter the application url.",
            "x-ms-summary": "Enter the application url."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ImportStructureCode": {
                  "type": "string",
                  "description": "Importstructure code"
                },
                "CustomerCode": {
                  "type": "string",
                  "description": "Customer code"
                },
                "Base64File": {
                  "type": "string",
                  "description": "The file in base64 format."
                },
                "WaitForResult": {
                  "type": "boolean",
                  "description": "Wait for the result."
                }
              },
              "required": [
                "ImportStructureCode",
                "Base64File",
                "CustomerCode"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sigmaconsocr/#import-file"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.sigmaconso.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.sigmaconso.com/en/security-and-privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-sigma-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/sigmaconsocr"
  }
}
