{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Tago",
    "description": "Tago provides easy connection of electronic devices with external data to drive smarter decisions using contextual analysis.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "email": "contact@tago.io"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/tago",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/prod/device": {
      "get": {
        "summary": "Get Device List",
        "description": "This operation returns a list of devices associated with your Tago account.",
        "operationId": "GetDeviceList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetDeviceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tago/#get-device-list"
        }
      }
    },
    "/{connectionId}/prod/variables/{device}": {
      "get": {
        "summary": "Get Variable List",
        "description": "Get Variable List.",
        "operationId": "GetVariableList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "device",
            "in": "path",
            "required": true,
            "x-ms-test-value": "59d3758d0583180013ae04da",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetVariableList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tago/#get-variable-list"
        }
      }
    },
    "/{connectionId}/prod/schema": {
      "get": {
        "summary": "Get Schema for Variable",
        "description": "Get schema for a variable.",
        "operationId": "GetSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "device",
            "in": "query",
            "required": true,
            "x-ms-test-value": "59d3758d0583180013ae04da",
            "type": "string"
          },
          {
            "name": "variable",
            "in": "query",
            "required": true,
            "x-ms-test-value": "fuel_percent",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DynamicResponseSchema"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tago/#get-schema-for-variable"
        }
      }
    },
    "/{connectionId}/prod/data": {
      "get": {
        "summary": "Get data",
        "description": "This operation returns the data from a given device on Tago.",
        "operationId": "GetData",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/device__in_query"
          },
          {
            "name": "variable",
            "in": "query",
            "description": "Variable name.",
            "required": true,
            "x-ms-summary": "Variable",
            "x-ms-test-value": "fuel_percent",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetVariableList",
              "value-path": "variable",
              "value-collection": "variables",
              "value-title": "variable",
              "parameters": {
                "device": {
                  "parameter": "device"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Type of query.",
            "required": false,
            "x-ms-visibility": "important",
            "x-ms-summary": "Query",
            "type": "string",
            "default": "last_item",
            "enum": [
              "default",
              "last_item",
              "min",
              "max"
            ]
          },
          {
            "name": "qty",
            "in": "query",
            "description": "Maximum number of data to be returned.",
            "required": false,
            "x-ms-summary": "Quantity",
            "x-ms-visibility": "advanced",
            "type": "integer"
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "The timezone the device is located in.",
            "required": false,
            "x-ms-summary": "Timezone",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "(GMT+00:00) UTC",
            "enum": [
              "(GMT+00:00) UTC",
              "(GMT-11:00) Pacific/Pago_Pago",
              "(GMT-11:00) Pacific/Niue",
              "(GMT-11:00) Pacific/Midway",
              "(GMT-10:00) Pacific/Rarotonga",
              "(GMT-10:00) Pacific/Tahiti",
              "(GMT-10:00) Pacific/Honolulu",
              "(GMT-10:00) Pacific/Johnston",
              "(GMT-09:30) Pacific/Marquesas",
              "(GMT-09:00) Pacific/Gambier",
              "(GMT-09:00) America/Adak",
              "(GMT-08:00) America/Santa_Isabel",
              "(GMT-08:00) Pacific/Pitcairn",
              "(GMT-08:00) America/Anchorage",
              "(GMT-08:00) America/Juneau",
              "(GMT-08:00) America/Metlakatla",
              "(GMT-08:00) America/Nome",
              "(GMT-08:00) America/Sitka",
              "(GMT-08:00) America/Yakutat",
              "(GMT-07:00) America/Creston",
              "(GMT-07:00) America/Dawson",
              "(GMT-07:00) America/Dawson_Creek",
              "(GMT-07:00) America/Vancouver",
              "(GMT-07:00) America/Whitehorse",
              "(GMT-07:00) America/Chihuahua",
              "(GMT-07:00) America/Hermosillo",
              "(GMT-07:00) America/Mazatlan",
              "(GMT-07:00) America/Tijuana",
              "(GMT-07:00) America/Los_Angeles",
              "(GMT-07:00) America/Phoenix",
              "(GMT-06:00) America/Belize",
              "(GMT-06:00) America/Cambridge_Bay",
              "(GMT-06:00) America/Edmonton",
              "(GMT-06:00) America/Inuvik",
              "(GMT-06:00) America/Regina",
              "(GMT-06:00) America/Swift_Current",
              "(GMT-06:00) America/Yellowknife",
              "(GMT-06:00) America/Costa_Rica",
              "(GMT-06:00) Pacific/Galapagos",
              "(GMT-06:00) America/El_Salvador",
              "(GMT-06:00) America/Guatemala",
              "(GMT-06:00) America/Tegucigalpa",
              "(GMT-06:00) America/Bahia_Banderas",
              "(GMT-06:00) America/Cancun",
              "(GMT-06:00) America/Merida",
              "(GMT-06:00) America/Mexico_City",
              "(GMT-06:00) America/Monterrey",
              "(GMT-06:00) America/Ojinaga",
              "(GMT-06:00) America/Managua",
              "(GMT-06:00) America/Boise",
              "(GMT-06:00) America/Denver",
              "(GMT-05:00) America/Eirunepe",
              "(GMT-05:00) America/Rio_Branco",
              "(GMT-05:00) America/Atikokan",
              "(GMT-05:00) America/Rainy_River",
              "(GMT-05:00) America/Rankin_Inlet",
              "(GMT-05:00) America/Resolute",
              "(GMT-05:00) America/Winnipeg",
              "(GMT-05:00) America/Cayman",
              "(GMT-05:00) Pacific/Easter",
              "(GMT-05:00) America/Bogota",
              "(GMT-05:00) America/Guayaquil",
              "(GMT-05:00) America/Jamaica",
              "(GMT-05:00) America/Matamoros",
              "(GMT-05:00) America/Panama",
              "(GMT-05:00) America/Lima",
              "(GMT-05:00) America/North_Dakota/Beulah",
              "(GMT-05:00) America/North_Dakota/Center",
              "(GMT-05:00) America/Chicago",
              "(GMT-05:00) America/Indiana/Knox",
              "(GMT-05:00) America/Menominee",
              "(GMT-05:00) America/North_Dakota/New_Salem",
              "(GMT-05:00) America/Indiana/Tell_City",
              "(GMT-04:30) America/Caracas",
              "(GMT-04:00) America/Anguilla",
              "(GMT-04:00) America/Antigua",
              "(GMT-04:00) America/Aruba",
              "(GMT-04:00) America/Nassau",
              "(GMT-04:00) America/Barbados",
              "(GMT-04:00) America/La_Paz",
              "(GMT-04:00) America/Kralendijk",
              "(GMT-04:00) America/Boa_Vista",
              "(GMT-04:00) America/Campo_Grande",
              "(GMT-04:00) America/Cuiaba",
              "(GMT-04:00) America/Manaus",
              "(GMT-04:00) America/Porto_Velho",
              "(GMT-04:00) America/Blanc-Sablon",
              "(GMT-04:00) America/Iqaluit",
              "(GMT-04:00) America/Nipigon",
              "(GMT-04:00) America/Pangnirtung",
              "(GMT-04:00) America/Thunder_Bay",
              "(GMT-04:00) America/Toronto",
              "(GMT-04:00) America/Havana",
              "(GMT-04:00) America/Curacao",
              "(GMT-04:00) America/Dominica",
              "(GMT-04:00) America/Santo_Domingo",
              "(GMT-04:00) America/Grenada",
              "(GMT-04:00) America/Guadeloupe",
              "(GMT-04:00) America/Guyana",
              "(GMT-04:00) America/Port-au-Prince",
              "(GMT-04:00) America/Martinique",
              "(GMT-04:00) America/Montserrat",
              "(GMT-04:00) America/Asuncion",
              "(GMT-04:00) America/Puerto_Rico",
              "(GMT-04:00) America/St_Barthelemy",
              "(GMT-04:00) America/St_Kitts",
              "(GMT-04:00) America/St_Lucia",
              "(GMT-04:00) America/Marigot",
              "(GMT-04:00) America/St_Vincent",
              "(GMT-04:00) America/Lower_Princes",
              "(GMT-04:00) America/Port_of_Spain",
              "(GMT-04:00) America/Grand_Turk",
              "(GMT-04:00) America/Detroit",
              "(GMT-04:00) America/Indiana/Indianapolis",
              "(GMT-04:00) America/Kentucky/Louisville",
              "(GMT-04:00) America/Indiana/Marengo",
              "(GMT-04:00) America/Kentucky/Monticello",
              "(GMT-04:00) America/New_York",
              "(GMT-04:00) America/Indiana/Petersburg",
              "(GMT-04:00) America/Indiana/Vevay",
              "(GMT-04:00) America/Indiana/Vincennes",
              "(GMT-04:00) America/Indiana/Winamac",
              "(GMT-04:00) America/Tortola",
              "(GMT-04:00) America/St_Thomas",
              "(GMT-03:00) Antarctica/Palmer",
              "(GMT-03:00) Antarctica/Rothera",
              "(GMT-03:00) America/Argentina/Buenos_Aires",
              "(GMT-03:00) America/Argentina/Catamarca",
              "(GMT-03:00) America/Argentina/Cordoba",
              "(GMT-03:00) America/Argentina/Jujuy",
              "(GMT-03:00) America/Argentina/La_Rioja",
              "(GMT-03:00) America/Argentina/Mendoza",
              "(GMT-03:00) America/Argentina/Rio_Gallegos",
              "(GMT-03:00) America/Argentina/Salta",
              "(GMT-03:00) America/Argentina/San_Juan",
              "(GMT-03:00) America/Argentina/San_Luis",
              "(GMT-03:00) America/Argentina/Tucuman",
              "(GMT-03:00) America/Argentina/Ushuaia",
              "(GMT-03:00) Atlantic/Bermuda",
              "(GMT-03:00) America/Araguaina",
              "(GMT-03:00) America/Bahia",
              "(GMT-03:00) America/Belem",
              "(GMT-03:00) America/Fortaleza",
              "(GMT-03:00) America/Maceio",
              "(GMT-03:00) America/Recife",
              "(GMT-03:00) America/Santarem",
              "(GMT-03:00) America/Sao_Paulo",
              "(GMT-03:00) America/Glace_Bay",
              "(GMT-03:00) America/Goose_Bay",
              "(GMT-03:00) America/Halifax",
              "(GMT-03:00) America/Moncton",
              "(GMT-03:00) America/Santiago",
              "(GMT-03:00) Atlantic/Stanley",
              "(GMT-03:00) America/Cayenne",
              "(GMT-03:00) America/Godthab",
              "(GMT-03:00) America/Thule",
              "(GMT-03:00) America/Paramaribo",
              "(GMT-03:00) America/Montevideo",
              "(GMT-02:30) America/St_Johns",
              "(GMT-02:00) America/Noronha",
              "(GMT-02:00) America/Miquelon",
              "(GMT-02:00) Atlantic/South_Georgia",
              "(GMT-01:00) Atlantic/Cape_Verde",
              "(GMT-01:00) America/Scoresbysund",
              "(GMT-01:00) Atlantic/Azores",
              "(GMT+00:00) Antarctica/Troll",
              "(GMT+00:00) Africa/Ouagadougou",
              "(GMT+00:00) Africa/Abidjan",
              "(GMT+00:00) Atlantic/Faroe",
              "(GMT+00:00) Africa/Banjul",
              "(GMT+00:00) Africa/Accra",
              "(GMT+00:00) America/Danmarkshavn",
              "(GMT+00:00) Europe/Guernsey",
              "(GMT+00:00) Africa/Conakry",
              "(GMT+00:00) Africa/Bissau",
              "(GMT+00:00) Atlantic/Reykjavik",
              "(GMT+00:00) Europe/Dublin",
              "(GMT+00:00) Europe/Isle_of_Man",
              "(GMT+00:00) Europe/Jersey",
              "(GMT+00:00) Africa/Monrovia",
              "(GMT+00:00) Africa/Bamako",
              "(GMT+00:00) Africa/Nouakchott",
              "(GMT+00:00) Africa/Casablanca",
              "(GMT+00:00) Europe/Lisbon",
              "(GMT+00:00) Atlantic/Madeira",
              "(GMT+00:00) Atlantic/St_Helena",
              "(GMT+00:00) Africa/Sao_Tome",
              "(GMT+00:00) Africa/Dakar",
              "(GMT+00:00) Africa/Freetown",
              "(GMT+00:00) Atlantic/Canary",
              "(GMT+00:00) Africa/Lome",
              "(GMT+00:00) Europe/London",
              "(GMT+00:00) Africa/El_Aaiun",
              "(GMT+01:00) Europe/Tirane",
              "(GMT+01:00) Africa/Algiers",
              "(GMT+01:00) Europe/Andorra",
              "(GMT+01:00) Africa/Luanda",
              "(GMT+01:00) Europe/Vienna",
              "(GMT+01:00) Europe/Brussels",
              "(GMT+01:00) Africa/Porto-Novo",
              "(GMT+01:00) Europe/Sarajevo",
              "(GMT+01:00) Africa/Douala",
              "(GMT+01:00) Africa/Bangui",
              "(GMT+01:00) Africa/Ndjamena",
              "(GMT+01:00) Africa/Brazzaville",
              "(GMT+01:00) Africa/Kinshasa",
              "(GMT+01:00) Europe/Zagreb",
              "(GMT+01:00) Europe/Prague",
              "(GMT+01:00) Europe/Copenhagen",
              "(GMT+01:00) Africa/Malabo",
              "(GMT+01:00) Europe/Paris",
              "(GMT+01:00) Africa/Libreville",
              "(GMT+01:00) Europe/Berlin",
              "(GMT+01:00) Europe/Busingen",
              "(GMT+01:00) Europe/Gibraltar",
              "(GMT+01:00) Europe/Vatican",
              "(GMT+01:00) Europe/Budapest",
              "(GMT+01:00) Europe/Rome",
              "(GMT+01:00) Europe/Vaduz",
              "(GMT+01:00) Europe/Luxembourg",
              "(GMT+01:00) Europe/Skopje",
              "(GMT+01:00) Europe/Malta",
              "(GMT+01:00) Europe/Monaco",
              "(GMT+01:00) Europe/Podgorica",
              "(GMT+01:00) Europe/Amsterdam",
              "(GMT+01:00) Africa/Niamey",
              "(GMT+01:00) Africa/Lagos",
              "(GMT+01:00) Europe/Oslo",
              "(GMT+01:00) Europe/Warsaw",
              "(GMT+01:00) Europe/San_Marino",
              "(GMT+01:00) Europe/Belgrade",
              "(GMT+01:00) Europe/Bratislava",
              "(GMT+01:00) Europe/Ljubljana",
              "(GMT+01:00) Africa/Ceuta",
              "(GMT+01:00) Europe/Madrid",
              "(GMT+01:00) Arctic/Longyearbyen",
              "(GMT+01:00) Europe/Stockholm",
              "(GMT+01:00) Europe/Zurich",
              "(GMT+01:00) Africa/Tunis",
              "(GMT+02:00) Africa/Gaborone",
              "(GMT+02:00) Europe/Sofia",
              "(GMT+02:00) Africa/Bujumbura",
              "(GMT+02:00) Africa/Lubumbashi",
              "(GMT+02:00) Asia/Nicosia",
              "(GMT+02:00) Africa/Cairo",
              "(GMT+02:00) Europe/Tallinn",
              "(GMT+02:00) Europe/Helsinki",
              "(GMT+02:00) Europe/Athens",
              "(GMT+02:00) Asia/Jerusalem",
              "(GMT+02:00) Asia/Amman",
              "(GMT+02:00) Europe/Riga",
              "(GMT+02:00) Asia/Beirut",
              "(GMT+02:00) Africa/Maseru",
              "(GMT+02:00) Africa/Tripoli",
              "(GMT+02:00) Europe/Vilnius",
              "(GMT+02:00) Africa/Blantyre",
              "(GMT+02:00) Europe/Chisinau",
              "(GMT+02:00) Africa/Maputo",
              "(GMT+02:00) Africa/Windhoek",
              "(GMT+02:00) Asia/Gaza",
              "(GMT+02:00) Asia/Hebron",
              "(GMT+02:00) Europe/Bucharest",
              "(GMT+02:00) Europe/Kaliningrad",
              "(GMT+02:00) Africa/Kigali",
              "(GMT+02:00) Africa/Johannesburg",
              "(GMT+02:00) Africa/Mbabane",
              "(GMT+02:00) Asia/Damascus",
              "(GMT+02:00) Europe/Istanbul",
              "(GMT+02:00) Europe/Kiev",
              "(GMT+02:00) Europe/Uzhgorod",
              "(GMT+02:00) Europe/Zaporozhye",
              "(GMT+02:00) Africa/Lusaka",
              "(GMT+02:00) Africa/Harare",
              "(GMT+02:00) Europe/Mariehamn",
              "(GMT+03:00) Antarctica/Syowa",
              "(GMT+03:00) Asia/Bahrain",
              "(GMT+03:00) Europe/Minsk",
              "(GMT+03:00) Indian/Comoro",
              "(GMT+03:00) Africa/Djibouti",
              "(GMT+03:00) Africa/Asmara",
              "(GMT+03:00) Africa/Addis_Ababa",
              "(GMT+03:00) Asia/Baghdad",
              "(GMT+03:00) Africa/Nairobi",
              "(GMT+03:00) Asia/Kuwait",
              "(GMT+03:00) Indian/Antananarivo",
              "(GMT+03:00) Indian/Mayotte",
              "(GMT+03:00) Asia/Qatar",
              "(GMT+03:00) Europe/Moscow",
              "(GMT+03:00) Europe/Simferopol",
              "(GMT+03:00) Europe/Volgograd",
              "(GMT+03:00) Asia/Riyadh",
              "(GMT+03:00) Africa/Mogadishu",
              "(GMT+03:00) Africa/Juba",
              "(GMT+03:00) Africa/Khartoum",
              "(GMT+03:00) Africa/Dar_es_Salaam",
              "(GMT+03:00) Africa/Kampala",
              "(GMT+03:00) Asia/Aden",
              "(GMT+04:00) Asia/Yerevan",
              "(GMT+04:00) Asia/Baku",
              "(GMT+04:00) Asia/Tbilisi",
              "(GMT+04:00) Indian/Mauritius",
              "(GMT+04:00) Asia/Muscat",
              "(GMT+04:00) Europe/Samara",
              "(GMT+04:00) Indian/Reunion",
              "(GMT+04:00) Indian/Mahe",
              "(GMT+04:00) Asia/Dubai",
              "(GMT+04:30) Asia/Kabul",
              "(GMT+04:30) Asia/Tehran",
              "(GMT+05:00) Antarctica/Mawson",
              "(GMT+05:00) Indian/Kerguelen",
              "(GMT+05:00) Asia/Aqtau",
              "(GMT+05:00) Asia/Aqtobe",
              "(GMT+05:00) Asia/Oral",
              "(GMT+05:00) Indian/Maldives",
              "(GMT+05:00) Asia/Karachi",
              "(GMT+05:00) Asia/Yekaterinburg",
              "(GMT+05:00) Asia/Dushanbe",
              "(GMT+05:00) Asia/Ashgabat",
              "(GMT+05:00) Asia/Samarkand",
              "(GMT+05:00) Asia/Tashkent",
              "(GMT+05:30) Asia/Kolkata",
              "(GMT+05:30) Asia/Colombo",
              "(GMT+05:45) Asia/Kathmandu",
              "(GMT+06:00) Antarctica/Vostok",
              "(GMT+06:00) Asia/Dhaka",
              "(GMT+06:00) Asia/Thimphu",
              "(GMT+06:00) Indian/Chagos",
              "(GMT+06:00) Asia/Urumqi",
              "(GMT+06:00) Asia/Almaty",
              "(GMT+06:00) Asia/Qyzylorda",
              "(GMT+06:00) Asia/Bishkek",
              "(GMT+06:00) Asia/Novosibirsk",
              "(GMT+06:00) Asia/Omsk",
              "(GMT+06:30) Indian/Cocos",
              "(GMT+06:30) Asia/Rangoon",
              "(GMT+07:00) Antarctica/Davis",
              "(GMT+07:00) Asia/Phnom_Penh",
              "(GMT+07:00) Indian/Christmas",
              "(GMT+07:00) Asia/Jakarta",
              "(GMT+07:00) Asia/Pontianak",
              "(GMT+07:00) Asia/Vientiane",
              "(GMT+07:00) Asia/Hovd",
              "(GMT+07:00) Asia/Krasnoyarsk",
              "(GMT+07:00) Asia/Novokuznetsk",
              "(GMT+07:00) Asia/Bangkok",
              "(GMT+07:00) Asia/Ho_Chi_Minh",
              "(GMT+08:00) Antarctica/Casey",
              "(GMT+08:00) Australia/Perth",
              "(GMT+08:00) Asia/Brunei",
              "(GMT+08:00) Asia/Shanghai",
              "(GMT+08:00) Asia/Hong_Kong",
              "(GMT+08:00) Asia/Makassar",
              "(GMT+08:00) Asia/Macau",
              "(GMT+08:00) Asia/Kuala_Lumpur",
              "(GMT+08:00) Asia/Kuching",
              "(GMT+08:00) Asia/Choibalsan",
              "(GMT+08:00) Asia/Ulaanbaatar",
              "(GMT+08:00) Asia/Manila",
              "(GMT+08:00) Asia/Chita",
              "(GMT+08:00) Asia/Irkutsk",
              "(GMT+08:00) Asia/Singapore",
              "(GMT+08:00) Asia/Taipei",
              "(GMT+08:45) Australia/Eucla",
              "(GMT+09:00) Asia/Jayapura",
              "(GMT+09:00) Asia/Tokyo",
              "(GMT+09:00) Asia/Pyongyang",
              "(GMT+09:00) Asia/Seoul",
              "(GMT+09:00) Pacific/Palau",
              "(GMT+09:00) Asia/Khandyga",
              "(GMT+09:00) Asia/Yakutsk",
              "(GMT+09:00) Asia/Dili",
              "(GMT+09:30) Australia/Darwin",
              "(GMT+10:00) Antarctica/DumontDUrville",
              "(GMT+10:00) Australia/Brisbane",
              "(GMT+10:00) Australia/Lindeman",
              "(GMT+10:00) Pacific/Guam",
              "(GMT+10:00) Pacific/Chuuk",
              "(GMT+10:00) Pacific/Saipan",
              "(GMT+10:00) Pacific/Port_Moresby",
              "(GMT+10:00) Asia/Magadan",
              "(GMT+10:00) Asia/Sakhalin",
              "(GMT+10:00) Asia/Ust-Nera",
              "(GMT+10:00) Asia/Vladivostok",
              "(GMT+10:30) Australia/Adelaide",
              "(GMT+10:30) Australia/Broken_Hill",
              "(GMT+11:00) Australia/Currie",
              "(GMT+11:00) Australia/Hobart",
              "(GMT+11:00) Australia/Lord_Howe",
              "(GMT+11:00) Antarctica/Macquarie",
              "(GMT+11:00) Australia/Melbourne",
              "(GMT+11:00) Australia/Sydney",
              "(GMT+11:00) Pacific/Kosrae",
              "(GMT+11:00) Pacific/Pohnpei",
              "(GMT+11:00) Pacific/Noumea",
              "(GMT+11:00) Pacific/Bougainville",
              "(GMT+11:00) Asia/Srednekolymsk",
              "(GMT+11:00) Pacific/Guadalcanal",
              "(GMT+11:00) Pacific/Efate",
              "(GMT+11:30) Pacific/Norfolk",
              "(GMT+12:00) Pacific/Fiji",
              "(GMT+12:00) Pacific/Tarawa",
              "(GMT+12:00) Pacific/Kwajalein",
              "(GMT+12:00) Pacific/Majuro",
              "(GMT+12:00) Pacific/Nauru",
              "(GMT+12:00) Asia/Anadyr",
              "(GMT+12:00) Asia/Kamchatka",
              "(GMT+12:00) Pacific/Funafuti",
              "(GMT+12:00) Pacific/Wake",
              "(GMT+12:00) Pacific/Wallis",
              "(GMT+13:00) Antarctica/McMurdo",
              "(GMT+13:00) Pacific/Enderbury",
              "(GMT+13:00) Pacific/Auckland",
              "(GMT+13:00) Pacific/Fakaofo",
              "(GMT+13:00) Pacific/Tongatapu",
              "(GMT+13:45) Pacific/Chatham",
              "(GMT+14:00) Pacific/Kiritimati",
              "(GMT+14:00) Pacific/Apia"
            ]
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Example: 2017-03-15T00:00:00Z",
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Start Date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Example: 2017-03-15T23:59:59Z",
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "End Date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "serie",
            "in": "query",
            "description": "Unique sequence identifier.",
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Serie",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DynamicResponseSchema"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tago/#get-data"
        }
      },
      "post": {
        "summary": "Post data",
        "description": "This operation is used to post new data to Tago.",
        "operationId": "PostData",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostData_Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PostData_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tago/#post-data"
        }
      }
    },
    "/{connectionId}/prod/flow/{hook_id}": {
      "delete": {
        "summary": "Delete Hook",
        "description": "Deletes a Github webhook.",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hook_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Removed",
            "schema": {
              "$ref": "#/definitions/PostData_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tago/#delete-hook"
        }
      }
    },
    "/{connectionId}/prod/flow": {
      "post": {
        "summary": "When a condition is matched",
        "description": "This operation triggers a flow when the variable that matches a given condition is posted.",
        "operationId": "DataTrigger",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/device__in_query"
          },
          {
            "name": "variable",
            "in": "query",
            "description": "Name of the variable.",
            "required": true,
            "x-ms-summary": "Variable",
            "x-ms-visibility": "important",
            "x-ms-test-value": "fuel_percent",
            "x-ms-dynamic-values": {
              "operationId": "GetVariableList",
              "value-path": "variable",
              "value-collection": "variables",
              "value-title": "variable",
              "parameters": {
                "device": {
                  "parameter": "device"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "condition",
            "in": "query",
            "description": "A condition on how to evaluate the value.",
            "required": true,
            "x-ms-summary": "Condition",
            "type": "string",
            "default": "Greater than",
            "enum": [
              "Any",
              "Greater than",
              "Less than",
              "Equal to",
              "Different from"
            ]
          },
          {
            "name": "value",
            "in": "query",
            "description": "Use ‘False’ or ‘True’ for a boolean value. Use double quotes for a string value. Example – \\“my string\\” ",
            "required": false,
            "x-ms-summary": "Value",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataTrigger_Request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PostData_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tago/#when-a-condition-is-matched"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook.",
        "schema": {
          "$ref": "#/definitions/DynamicResponseSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "GetDeviceList": {
      "type": "object",
      "properties": {
        "devices": {
          "description": "A list of devices.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "title": "Id",
                "description": "Unique identifier of the device.",
                "type": "string",
                "x-ms-summary": "Device Id"
              },
              "name": {
                "description": "Name of the device.",
                "type": "string",
                "x-ms-summary": "Name"
              }
            }
          },
          "x-ms-summary": "Devices"
        }
      }
    },
    "GetVariableList": {
      "type": "object",
      "properties": {
        "variables": {
          "description": "A list of variables.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "variable": {
                "title": "Variable",
                "description": "The name of a variable.",
                "type": "string",
                "x-ms-summary": "Variable Name",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "variables"
        }
      }
    },
    "DynamicResponseSchema": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSchema",
        "parameters": {
          "device": {
            "parameter": "device"
          },
          "variable": {
            "parameter": "variable"
          }
        },
        "value-path": "items"
      }
    },
    "PostData_Request": {
      "required": [
        "device",
        "variable",
        "value"
      ],
      "type": "object",
      "properties": {
        "device": {
          "title": "Device",
          "description": "Choose a device or enter the device id (max. of 100 devices will be shown).",
          "x-ms-summary": "Device Id",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetDeviceList",
            "value-path": "id",
            "value-collection": "devices",
            "value-title": "name"
          }
        },
        "variable": {
          "description": "Name of the variable you are tracking.",
          "type": "string",
          "x-ms-summary": "Variable"
        },
        "value": {
          "description": "Value of the variable.",
          "type": "string",
          "x-ms-summary": "Value"
        },
        "timezone": {
          "title": "Timezone",
          "description": "Choose a timezone. Default is UTC.",
          "default": "(GMT+00:00) UTC",
          "enum": [
            "(GMT+00:00) UTC",
            "(GMT-11:00) Pacific/Pago_Pago",
            "(GMT-11:00) Pacific/Niue",
            "(GMT-11:00) Pacific/Midway",
            "(GMT-10:00) Pacific/Rarotonga",
            "(GMT-10:00) Pacific/Tahiti",
            "(GMT-10:00) Pacific/Honolulu",
            "(GMT-10:00) Pacific/Johnston",
            "(GMT-09:30) Pacific/Marquesas",
            "(GMT-09:00) Pacific/Gambier",
            "(GMT-09:00) America/Adak",
            "(GMT-08:00) America/Santa_Isabel",
            "(GMT-08:00) Pacific/Pitcairn",
            "(GMT-08:00) America/Anchorage",
            "(GMT-08:00) America/Juneau",
            "(GMT-08:00) America/Metlakatla",
            "(GMT-08:00) America/Nome",
            "(GMT-08:00) America/Sitka",
            "(GMT-08:00) America/Yakutat",
            "(GMT-07:00) America/Creston",
            "(GMT-07:00) America/Dawson",
            "(GMT-07:00) America/Dawson_Creek",
            "(GMT-07:00) America/Vancouver",
            "(GMT-07:00) America/Whitehorse",
            "(GMT-07:00) America/Chihuahua",
            "(GMT-07:00) America/Hermosillo",
            "(GMT-07:00) America/Mazatlan",
            "(GMT-07:00) America/Tijuana",
            "(GMT-07:00) America/Los_Angeles",
            "(GMT-07:00) America/Phoenix",
            "(GMT-06:00) America/Belize",
            "(GMT-06:00) America/Cambridge_Bay",
            "(GMT-06:00) America/Edmonton",
            "(GMT-06:00) America/Inuvik",
            "(GMT-06:00) America/Regina",
            "(GMT-06:00) America/Swift_Current",
            "(GMT-06:00) America/Yellowknife",
            "(GMT-06:00) America/Costa_Rica",
            "(GMT-06:00) Pacific/Galapagos",
            "(GMT-06:00) America/El_Salvador",
            "(GMT-06:00) America/Guatemala",
            "(GMT-06:00) America/Tegucigalpa",
            "(GMT-06:00) America/Bahia_Banderas",
            "(GMT-06:00) America/Cancun",
            "(GMT-06:00) America/Merida",
            "(GMT-06:00) America/Mexico_City",
            "(GMT-06:00) America/Monterrey",
            "(GMT-06:00) America/Ojinaga",
            "(GMT-06:00) America/Managua",
            "(GMT-06:00) America/Boise",
            "(GMT-06:00) America/Denver",
            "(GMT-05:00) America/Eirunepe",
            "(GMT-05:00) America/Rio_Branco",
            "(GMT-05:00) America/Atikokan",
            "(GMT-05:00) America/Rainy_River",
            "(GMT-05:00) America/Rankin_Inlet",
            "(GMT-05:00) America/Resolute",
            "(GMT-05:00) America/Winnipeg",
            "(GMT-05:00) America/Cayman",
            "(GMT-05:00) Pacific/Easter",
            "(GMT-05:00) America/Bogota",
            "(GMT-05:00) America/Guayaquil",
            "(GMT-05:00) America/Jamaica",
            "(GMT-05:00) America/Matamoros",
            "(GMT-05:00) America/Panama",
            "(GMT-05:00) America/Lima",
            "(GMT-05:00) America/North_Dakota/Beulah",
            "(GMT-05:00) America/North_Dakota/Center",
            "(GMT-05:00) America/Chicago",
            "(GMT-05:00) America/Indiana/Knox",
            "(GMT-05:00) America/Menominee",
            "(GMT-05:00) America/North_Dakota/New_Salem",
            "(GMT-05:00) America/Indiana/Tell_City",
            "(GMT-04:30) America/Caracas",
            "(GMT-04:00) America/Anguilla",
            "(GMT-04:00) America/Antigua",
            "(GMT-04:00) America/Aruba",
            "(GMT-04:00) America/Nassau",
            "(GMT-04:00) America/Barbados",
            "(GMT-04:00) America/La_Paz",
            "(GMT-04:00) America/Kralendijk",
            "(GMT-04:00) America/Boa_Vista",
            "(GMT-04:00) America/Campo_Grande",
            "(GMT-04:00) America/Cuiaba",
            "(GMT-04:00) America/Manaus",
            "(GMT-04:00) America/Porto_Velho",
            "(GMT-04:00) America/Blanc-Sablon",
            "(GMT-04:00) America/Iqaluit",
            "(GMT-04:00) America/Nipigon",
            "(GMT-04:00) America/Pangnirtung",
            "(GMT-04:00) America/Thunder_Bay",
            "(GMT-04:00) America/Toronto",
            "(GMT-04:00) America/Havana",
            "(GMT-04:00) America/Curacao",
            "(GMT-04:00) America/Dominica",
            "(GMT-04:00) America/Santo_Domingo",
            "(GMT-04:00) America/Grenada",
            "(GMT-04:00) America/Guadeloupe",
            "(GMT-04:00) America/Guyana",
            "(GMT-04:00) America/Port-au-Prince",
            "(GMT-04:00) America/Martinique",
            "(GMT-04:00) America/Montserrat",
            "(GMT-04:00) America/Asuncion",
            "(GMT-04:00) America/Puerto_Rico",
            "(GMT-04:00) America/St_Barthelemy",
            "(GMT-04:00) America/St_Kitts",
            "(GMT-04:00) America/St_Lucia",
            "(GMT-04:00) America/Marigot",
            "(GMT-04:00) America/St_Vincent",
            "(GMT-04:00) America/Lower_Princes",
            "(GMT-04:00) America/Port_of_Spain",
            "(GMT-04:00) America/Grand_Turk",
            "(GMT-04:00) America/Detroit",
            "(GMT-04:00) America/Indiana/Indianapolis",
            "(GMT-04:00) America/Kentucky/Louisville",
            "(GMT-04:00) America/Indiana/Marengo",
            "(GMT-04:00) America/Kentucky/Monticello",
            "(GMT-04:00) America/New_York",
            "(GMT-04:00) America/Indiana/Petersburg",
            "(GMT-04:00) America/Indiana/Vevay",
            "(GMT-04:00) America/Indiana/Vincennes",
            "(GMT-04:00) America/Indiana/Winamac",
            "(GMT-04:00) America/Tortola",
            "(GMT-04:00) America/St_Thomas",
            "(GMT-03:00) Antarctica/Palmer",
            "(GMT-03:00) Antarctica/Rothera",
            "(GMT-03:00) America/Argentina/Buenos_Aires",
            "(GMT-03:00) America/Argentina/Catamarca",
            "(GMT-03:00) America/Argentina/Cordoba",
            "(GMT-03:00) America/Argentina/Jujuy",
            "(GMT-03:00) America/Argentina/La_Rioja",
            "(GMT-03:00) America/Argentina/Mendoza",
            "(GMT-03:00) America/Argentina/Rio_Gallegos",
            "(GMT-03:00) America/Argentina/Salta",
            "(GMT-03:00) America/Argentina/San_Juan",
            "(GMT-03:00) America/Argentina/San_Luis",
            "(GMT-03:00) America/Argentina/Tucuman",
            "(GMT-03:00) America/Argentina/Ushuaia",
            "(GMT-03:00) Atlantic/Bermuda",
            "(GMT-03:00) America/Araguaina",
            "(GMT-03:00) America/Bahia",
            "(GMT-03:00) America/Belem",
            "(GMT-03:00) America/Fortaleza",
            "(GMT-03:00) America/Maceio",
            "(GMT-03:00) America/Recife",
            "(GMT-03:00) America/Santarem",
            "(GMT-03:00) America/Sao_Paulo",
            "(GMT-03:00) America/Glace_Bay",
            "(GMT-03:00) America/Goose_Bay",
            "(GMT-03:00) America/Halifax",
            "(GMT-03:00) America/Moncton",
            "(GMT-03:00) America/Santiago",
            "(GMT-03:00) Atlantic/Stanley",
            "(GMT-03:00) America/Cayenne",
            "(GMT-03:00) America/Godthab",
            "(GMT-03:00) America/Thule",
            "(GMT-03:00) America/Paramaribo",
            "(GMT-03:00) America/Montevideo",
            "(GMT-02:30) America/St_Johns",
            "(GMT-02:00) America/Noronha",
            "(GMT-02:00) America/Miquelon",
            "(GMT-02:00) Atlantic/South_Georgia",
            "(GMT-01:00) Atlantic/Cape_Verde",
            "(GMT-01:00) America/Scoresbysund",
            "(GMT-01:00) Atlantic/Azores",
            "(GMT+00:00) Antarctica/Troll",
            "(GMT+00:00) Africa/Ouagadougou",
            "(GMT+00:00) Africa/Abidjan",
            "(GMT+00:00) Atlantic/Faroe",
            "(GMT+00:00) Africa/Banjul",
            "(GMT+00:00) Africa/Accra",
            "(GMT+00:00) America/Danmarkshavn",
            "(GMT+00:00) Europe/Guernsey",
            "(GMT+00:00) Africa/Conakry",
            "(GMT+00:00) Africa/Bissau",
            "(GMT+00:00) Atlantic/Reykjavik",
            "(GMT+00:00) Europe/Dublin",
            "(GMT+00:00) Europe/Isle_of_Man",
            "(GMT+00:00) Europe/Jersey",
            "(GMT+00:00) Africa/Monrovia",
            "(GMT+00:00) Africa/Bamako",
            "(GMT+00:00) Africa/Nouakchott",
            "(GMT+00:00) Africa/Casablanca",
            "(GMT+00:00) Europe/Lisbon",
            "(GMT+00:00) Atlantic/Madeira",
            "(GMT+00:00) Atlantic/St_Helena",
            "(GMT+00:00) Africa/Sao_Tome",
            "(GMT+00:00) Africa/Dakar",
            "(GMT+00:00) Africa/Freetown",
            "(GMT+00:00) Atlantic/Canary",
            "(GMT+00:00) Africa/Lome",
            "(GMT+00:00) Europe/London",
            "(GMT+00:00) Africa/El_Aaiun",
            "(GMT+01:00) Europe/Tirane",
            "(GMT+01:00) Africa/Algiers",
            "(GMT+01:00) Europe/Andorra",
            "(GMT+01:00) Africa/Luanda",
            "(GMT+01:00) Europe/Vienna",
            "(GMT+01:00) Europe/Brussels",
            "(GMT+01:00) Africa/Porto-Novo",
            "(GMT+01:00) Europe/Sarajevo",
            "(GMT+01:00) Africa/Douala",
            "(GMT+01:00) Africa/Bangui",
            "(GMT+01:00) Africa/Ndjamena",
            "(GMT+01:00) Africa/Brazzaville",
            "(GMT+01:00) Africa/Kinshasa",
            "(GMT+01:00) Europe/Zagreb",
            "(GMT+01:00) Europe/Prague",
            "(GMT+01:00) Europe/Copenhagen",
            "(GMT+01:00) Africa/Malabo",
            "(GMT+01:00) Europe/Paris",
            "(GMT+01:00) Africa/Libreville",
            "(GMT+01:00) Europe/Berlin",
            "(GMT+01:00) Europe/Busingen",
            "(GMT+01:00) Europe/Gibraltar",
            "(GMT+01:00) Europe/Vatican",
            "(GMT+01:00) Europe/Budapest",
            "(GMT+01:00) Europe/Rome",
            "(GMT+01:00) Europe/Vaduz",
            "(GMT+01:00) Europe/Luxembourg",
            "(GMT+01:00) Europe/Skopje",
            "(GMT+01:00) Europe/Malta",
            "(GMT+01:00) Europe/Monaco",
            "(GMT+01:00) Europe/Podgorica",
            "(GMT+01:00) Europe/Amsterdam",
            "(GMT+01:00) Africa/Niamey",
            "(GMT+01:00) Africa/Lagos",
            "(GMT+01:00) Europe/Oslo",
            "(GMT+01:00) Europe/Warsaw",
            "(GMT+01:00) Europe/San_Marino",
            "(GMT+01:00) Europe/Belgrade",
            "(GMT+01:00) Europe/Bratislava",
            "(GMT+01:00) Europe/Ljubljana",
            "(GMT+01:00) Africa/Ceuta",
            "(GMT+01:00) Europe/Madrid",
            "(GMT+01:00) Arctic/Longyearbyen",
            "(GMT+01:00) Europe/Stockholm",
            "(GMT+01:00) Europe/Zurich",
            "(GMT+01:00) Africa/Tunis",
            "(GMT+02:00) Africa/Gaborone",
            "(GMT+02:00) Europe/Sofia",
            "(GMT+02:00) Africa/Bujumbura",
            "(GMT+02:00) Africa/Lubumbashi",
            "(GMT+02:00) Asia/Nicosia",
            "(GMT+02:00) Africa/Cairo",
            "(GMT+02:00) Europe/Tallinn",
            "(GMT+02:00) Europe/Helsinki",
            "(GMT+02:00) Europe/Athens",
            "(GMT+02:00) Asia/Jerusalem",
            "(GMT+02:00) Asia/Amman",
            "(GMT+02:00) Europe/Riga",
            "(GMT+02:00) Asia/Beirut",
            "(GMT+02:00) Africa/Maseru",
            "(GMT+02:00) Africa/Tripoli",
            "(GMT+02:00) Europe/Vilnius",
            "(GMT+02:00) Africa/Blantyre",
            "(GMT+02:00) Europe/Chisinau",
            "(GMT+02:00) Africa/Maputo",
            "(GMT+02:00) Africa/Windhoek",
            "(GMT+02:00) Asia/Gaza",
            "(GMT+02:00) Asia/Hebron",
            "(GMT+02:00) Europe/Bucharest",
            "(GMT+02:00) Europe/Kaliningrad",
            "(GMT+02:00) Africa/Kigali",
            "(GMT+02:00) Africa/Johannesburg",
            "(GMT+02:00) Africa/Mbabane",
            "(GMT+02:00) Asia/Damascus",
            "(GMT+02:00) Europe/Istanbul",
            "(GMT+02:00) Europe/Kiev",
            "(GMT+02:00) Europe/Uzhgorod",
            "(GMT+02:00) Europe/Zaporozhye",
            "(GMT+02:00) Africa/Lusaka",
            "(GMT+02:00) Africa/Harare",
            "(GMT+02:00) Europe/Mariehamn",
            "(GMT+03:00) Antarctica/Syowa",
            "(GMT+03:00) Asia/Bahrain",
            "(GMT+03:00) Europe/Minsk",
            "(GMT+03:00) Indian/Comoro",
            "(GMT+03:00) Africa/Djibouti",
            "(GMT+03:00) Africa/Asmara",
            "(GMT+03:00) Africa/Addis_Ababa",
            "(GMT+03:00) Asia/Baghdad",
            "(GMT+03:00) Africa/Nairobi",
            "(GMT+03:00) Asia/Kuwait",
            "(GMT+03:00) Indian/Antananarivo",
            "(GMT+03:00) Indian/Mayotte",
            "(GMT+03:00) Asia/Qatar",
            "(GMT+03:00) Europe/Moscow",
            "(GMT+03:00) Europe/Simferopol",
            "(GMT+03:00) Europe/Volgograd",
            "(GMT+03:00) Asia/Riyadh",
            "(GMT+03:00) Africa/Mogadishu",
            "(GMT+03:00) Africa/Juba",
            "(GMT+03:00) Africa/Khartoum",
            "(GMT+03:00) Africa/Dar_es_Salaam",
            "(GMT+03:00) Africa/Kampala",
            "(GMT+03:00) Asia/Aden",
            "(GMT+04:00) Asia/Yerevan",
            "(GMT+04:00) Asia/Baku",
            "(GMT+04:00) Asia/Tbilisi",
            "(GMT+04:00) Indian/Mauritius",
            "(GMT+04:00) Asia/Muscat",
            "(GMT+04:00) Europe/Samara",
            "(GMT+04:00) Indian/Reunion",
            "(GMT+04:00) Indian/Mahe",
            "(GMT+04:00) Asia/Dubai",
            "(GMT+04:30) Asia/Kabul",
            "(GMT+04:30) Asia/Tehran",
            "(GMT+05:00) Antarctica/Mawson",
            "(GMT+05:00) Indian/Kerguelen",
            "(GMT+05:00) Asia/Aqtau",
            "(GMT+05:00) Asia/Aqtobe",
            "(GMT+05:00) Asia/Oral",
            "(GMT+05:00) Indian/Maldives",
            "(GMT+05:00) Asia/Karachi",
            "(GMT+05:00) Asia/Yekaterinburg",
            "(GMT+05:00) Asia/Dushanbe",
            "(GMT+05:00) Asia/Ashgabat",
            "(GMT+05:00) Asia/Samarkand",
            "(GMT+05:00) Asia/Tashkent",
            "(GMT+05:30) Asia/Kolkata",
            "(GMT+05:30) Asia/Colombo",
            "(GMT+05:45) Asia/Kathmandu",
            "(GMT+06:00) Antarctica/Vostok",
            "(GMT+06:00) Asia/Dhaka",
            "(GMT+06:00) Asia/Thimphu",
            "(GMT+06:00) Indian/Chagos",
            "(GMT+06:00) Asia/Urumqi",
            "(GMT+06:00) Asia/Almaty",
            "(GMT+06:00) Asia/Qyzylorda",
            "(GMT+06:00) Asia/Bishkek",
            "(GMT+06:00) Asia/Novosibirsk",
            "(GMT+06:00) Asia/Omsk",
            "(GMT+06:30) Indian/Cocos",
            "(GMT+06:30) Asia/Rangoon",
            "(GMT+07:00) Antarctica/Davis",
            "(GMT+07:00) Asia/Phnom_Penh",
            "(GMT+07:00) Indian/Christmas",
            "(GMT+07:00) Asia/Jakarta",
            "(GMT+07:00) Asia/Pontianak",
            "(GMT+07:00) Asia/Vientiane",
            "(GMT+07:00) Asia/Hovd",
            "(GMT+07:00) Asia/Krasnoyarsk",
            "(GMT+07:00) Asia/Novokuznetsk",
            "(GMT+07:00) Asia/Bangkok",
            "(GMT+07:00) Asia/Ho_Chi_Minh",
            "(GMT+08:00) Antarctica/Casey",
            "(GMT+08:00) Australia/Perth",
            "(GMT+08:00) Asia/Brunei",
            "(GMT+08:00) Asia/Shanghai",
            "(GMT+08:00) Asia/Hong_Kong",
            "(GMT+08:00) Asia/Makassar",
            "(GMT+08:00) Asia/Macau",
            "(GMT+08:00) Asia/Kuala_Lumpur",
            "(GMT+08:00) Asia/Kuching",
            "(GMT+08:00) Asia/Choibalsan",
            "(GMT+08:00) Asia/Ulaanbaatar",
            "(GMT+08:00) Asia/Manila",
            "(GMT+08:00) Asia/Chita",
            "(GMT+08:00) Asia/Irkutsk",
            "(GMT+08:00) Asia/Singapore",
            "(GMT+08:00) Asia/Taipei",
            "(GMT+08:45) Australia/Eucla",
            "(GMT+09:00) Asia/Jayapura",
            "(GMT+09:00) Asia/Tokyo",
            "(GMT+09:00) Asia/Pyongyang",
            "(GMT+09:00) Asia/Seoul",
            "(GMT+09:00) Pacific/Palau",
            "(GMT+09:00) Asia/Khandyga",
            "(GMT+09:00) Asia/Yakutsk",
            "(GMT+09:00) Asia/Dili",
            "(GMT+09:30) Australia/Darwin",
            "(GMT+10:00) Antarctica/DumontDUrville",
            "(GMT+10:00) Australia/Brisbane",
            "(GMT+10:00) Australia/Lindeman",
            "(GMT+10:00) Pacific/Guam",
            "(GMT+10:00) Pacific/Chuuk",
            "(GMT+10:00) Pacific/Saipan",
            "(GMT+10:00) Pacific/Port_Moresby",
            "(GMT+10:00) Asia/Magadan",
            "(GMT+10:00) Asia/Sakhalin",
            "(GMT+10:00) Asia/Ust-Nera",
            "(GMT+10:00) Asia/Vladivostok",
            "(GMT+10:30) Australia/Adelaide",
            "(GMT+10:30) Australia/Broken_Hill",
            "(GMT+11:00) Australia/Currie",
            "(GMT+11:00) Australia/Hobart",
            "(GMT+11:00) Australia/Lord_Howe",
            "(GMT+11:00) Antarctica/Macquarie",
            "(GMT+11:00) Australia/Melbourne",
            "(GMT+11:00) Australia/Sydney",
            "(GMT+11:00) Pacific/Kosrae",
            "(GMT+11:00) Pacific/Pohnpei",
            "(GMT+11:00) Pacific/Noumea",
            "(GMT+11:00) Pacific/Bougainville",
            "(GMT+11:00) Asia/Srednekolymsk",
            "(GMT+11:00) Pacific/Guadalcanal",
            "(GMT+11:00) Pacific/Efate",
            "(GMT+11:30) Pacific/Norfolk",
            "(GMT+12:00) Pacific/Fiji",
            "(GMT+12:00) Pacific/Tarawa",
            "(GMT+12:00) Pacific/Kwajalein",
            "(GMT+12:00) Pacific/Majuro",
            "(GMT+12:00) Pacific/Nauru",
            "(GMT+12:00) Asia/Anadyr",
            "(GMT+12:00) Asia/Kamchatka",
            "(GMT+12:00) Pacific/Funafuti",
            "(GMT+12:00) Pacific/Wake",
            "(GMT+12:00) Pacific/Wallis",
            "(GMT+13:00) Antarctica/McMurdo",
            "(GMT+13:00) Pacific/Enderbury",
            "(GMT+13:00) Pacific/Auckland",
            "(GMT+13:00) Pacific/Fakaofo",
            "(GMT+13:00) Pacific/Tongatapu",
            "(GMT+13:45) Pacific/Chatham",
            "(GMT+14:00) Pacific/Kiritimati",
            "(GMT+14:00) Pacific/Apia"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Timezone"
        },
        "time": {
          "format": "date-time",
          "description": "Example: 2017-03-15T15:00:00Z",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Timestamp"
        },
        "serie": {
          "description": "Unique sequence identifier for this data. Example: 0001",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Serie"
        },
        "unit": {
          "description": "Unit associated with the value of the variable.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Unit"
        }
      },
      "x-ms-test-value": {
        "device": "59d3758d0583180013ae04da",
        "variable": "fuel_percent",
        "value": "50"
      }
    },
    "PostData_Response": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string"
        }
      }
    },
    "DataTrigger_Request": {
      "type": "object",
      "required": [
        "config"
      ],
      "properties": {
        "config": {
          "description": "config",
          "type": "object",
          "required": [
            "callback"
          ],
          "properties": {
            "callback": {
              "description": "The request callback url.",
              "type": "string",
              "x-ms-summary": "Callback",
              "x-ms-notification-url": true,
              "x-ms-visibility": "internal"
            }
          },
          "x-ms-summary": "config"
        }
      }
    }
  },
  "parameters": {
    "device__in_query": {
      "name": "device",
      "in": "query",
      "description": "Choose a device or enter the device id. (max. of 100 devices will be shown)",
      "required": true,
      "x-ms-summary": "Device",
      "x-ms-test-value": "59d3758d0583180013ae04da",
      "x-ms-dynamic-values": {
        "operationId": "GetDeviceList",
        "value-path": "id",
        "value-collection": "devices",
        "value-title": "name"
      },
      "type": "string"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "Authorization": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tago.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://tago.io/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/tago"
  }
}
