{
  "swagger": "2.0",
  "info": {
    "title": "Databook C4S",
    "description": "Databook C4S connects with Microsoft Copilot for Sales to provide crucial insights in the Key Sales Info panel within Microsoft Outlook, including strategic priorities, key decision periods, and financial cases for change. It also integrates into the Chat experience of Microsoft Copilot for Sales, enabling users to get help with meeting preparation and receive suggested opportunities for their accounts, boosting sales effectiveness.",
    "contact": {
      "name": "Databook",
      "url": "https://trydatabook.com",
      "email": "engineering@trydatabook.com"
    },
    "version": "v1.8.0",
    "x-ms-openai-published-to-copilots": [
      {
        "AICopilot-enabled": true,
        "AICopilotName": "Microsoft Sales Copilot"
      }
    ],
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/databookc4s",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/chat/account-plan": {
      "get": {
        "summary": "Get Account Plan insights",
        "description": "This Function is responsible for finding relevant information useful in account planning.\nHere are a few example scenarios where this Function should be called:\n- Help me to prepare an account plan for {record-name}.\n- Generate an account plan for {record-name}.\n- Can you give me information about {record-name} useful in account planning?",
        "operationId": "ChatAccountPlan",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "companyName",
            "description": "The company name that the user query is about.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Company Name"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChatResponseDto"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ChatAccountPlan"
            }
          ],
          "summary": "Get Account Plan insights",
          "description": "This Function is responsible for finding relevant information useful in account planning.\nHere are a few example scenarios where this Function should be called:\n- Help me to prepare an account plan for {record-name}.\n- Generate an account plan for {record-name}.\n- Can you give me information about {record-name} useful in account planning?"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/databookc4s/#get-account-plan-insights"
        }
      }
    },
    "/{connectionId}/chat/meeting-preparation": {
      "get": {
        "summary": "Get Meeting Preparation insights",
        "description": "This Function is responsible for finding relevant information leading up to a meeting with a specific company.\nHere are a few example scenarios where this Function should be called:\n- Help me to prepare for my meeting with {record-name}.\n- What do I need to know before my meeting with {record-name}?\n- What questions are relevant to ask when I talk to {record-name}?",
        "operationId": "ChatMeetingPreparation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "companyName",
            "description": "The company name that the user query is about.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Company Name"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChatResponseDto"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ChatMeetingPreparation"
            }
          ],
          "summary": "Get Meeting Preparation insights",
          "description": "This Function is responsible for finding relevant information leading up to a meeting with a specific company.\nHere are a few example scenarios where this Function should be called:\n- Help me to prepare for my meeting with {record-name}.\n- What do I need to know before my meeting with {record-name}?\n- What questions are relevant to ask when I talk to {record-name}?"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/databookc4s/#get-meeting-preparation-insights"
        }
      }
    },
    "/{connectionId}/chat/solution-opportunities": {
      "get": {
        "summary": "Get Suggested Opportunity insights",
        "description": "This Function is responsible for suggesting opportunities at a specific company.\nHere are a few example scenarios where this Function should be called:\n- Help me with suggested opportunities and key buyers at {record-name}.\n- Which one of my solutions are relevant when talking to {record-name}?\n- Would any of my use cases resonate with {record-name}?\n- Recommend suggested opportunities for {record-name}.",
        "operationId": "ChatSolutionOpportunities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "companyName",
            "description": "The company name that the user query is about.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Company Name"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChatResponseDto"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ChatSolutionOpportunities"
            }
          ],
          "summary": "Get Suggested Opportunity insights",
          "description": "This Function is responsible for suggesting opportunities at a specific company.\nHere are a few example scenarios where this Function should be called:\n- Help me with suggested opportunities and key buyers at {record-name}.\n- Which one of my solutions are relevant when talking to {record-name}?\n- Would any of my use cases resonate with {record-name}?\n- Recommend suggested opportunities for {record-name}."
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/databookc4s/#get-suggested-opportunity-insights"
        }
      }
    },
    "/{connectionId}/key-sales-info/insights": {
      "get": {
        "summary": "Get Key Sales Info insights",
        "description": "This action gets additional sales insights that will be shown in C4S key sales info card in outlook sidecar. The action enhances the existing skills of Copilot for sales",
        "operationId": "KeySalesInfoInsights",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "recordType",
            "description": "This input identifies the record type in CRM for which key sales info is requested",
            "required": true,
            "type": "string",
            "enum": [
              "opportunity",
              "Opportunity",
              "account",
              "Account"
            ],
            "x-ms-summary": "Record Type"
          },
          {
            "in": "query",
            "name": "recordId",
            "description": "This input provides the unique identifier of the CRM record for which key sales info is requested",
            "required": true,
            "type": "string",
            "x-ms-summary": "Record Id"
          },
          {
            "in": "query",
            "name": "crmType",
            "description": "This input indicates the type of CRM in which the CRM record exists, for which key sales info is requested",
            "type": "string",
            "enum": [
              "Salesforce",
              "Dynamics365"
            ],
            "x-ms-summary": "CRM Type"
          },
          {
            "in": "query",
            "name": "crmOrgUrl",
            "description": "This input indicates the URL of the CRM environment in which the CRM record exists, for which key sales info is requested",
            "type": "string",
            "x-ms-summary": "CRM Organization URL"
          },
          {
            "in": "query",
            "name": "top",
            "description": "This input indicates the number of sales highlights to fetch",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "This input indicates the number of items to skip when fetching sales highlights",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ResponseKeySalesInfoDto"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/CopilotError"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "KeySalesInfoInsights"
            }
          ],
          "summary": "Get Key Sales Info insights",
          "description": "This action gets additional sales insights that will be shown in C4S key sales info card in outlook sidecar. The action enhances the existing skills of Copilot for sales"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/databookc4s/#get-key-sales-info-insights"
        }
      }
    }
  },
  "definitions": {
    "AdaptiveCard": {
      "required": [
        "adaptiveCard",
        "previewCardData"
      ],
      "type": "object",
      "properties": {
        "adaptiveCard": {
          "description": "The JSON serialized content for a version 1.5 adaptive card.",
          "type": "string",
          "x-ms-summary": "Adaptive Card"
        },
        "previewCardData": {
          "$ref": "#/definitions/PreviewCardData"
        }
      }
    },
    "ChatResponseDto": {
      "required": [
        "adaptiveCards"
      ],
      "type": "object",
      "properties": {
        "adaptiveCards": {
          "description": "The list of adaptive cards returned by the action.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdaptiveCard"
          },
          "x-ms-summary": "Adaptive Cards"
        }
      }
    },
    "CopilotError": {
      "required": [
        "errorCode"
      ],
      "type": "object",
      "properties": {
        "activityId": {
          "description": "This output is a unique identifier which can be used for additional debugging.",
          "type": "string",
          "x-ms-summary": "Activity Id"
        },
        "details": {
          "description": "This output includes additional information associated with the error.",
          "type": "object",
          "x-ms-summary": "Details"
        },
        "errorCode": {
          "description": "This output is a unique code associated with the error.",
          "minLength": 1,
          "type": "string",
          "x-ms-summary": "Error Code"
        },
        "errorMessage": {
          "description": "This output is a human readable message associated with the error.",
          "type": "string",
          "x-ms-summary": "Error Message"
        }
      }
    },
    "KeySalesInfo": {
      "required": [
        "title",
        "description",
        "dateTime"
      ],
      "type": "object",
      "properties": {
        "additionalProperties": {
          "description": "This output indicates additional properties as name-value pairs of each related insight returned by the action.",
          "type": "object",
          "x-ms-summary": "Additional Properties"
        },
        "dateTime": {
          "description": "This output indicates the time associated with the insight.",
          "type": "string",
          "x-ms-summary": "Date Time"
        },
        "description": {
          "description": "This output indicates the text of the insight to be included in key sales info.",
          "maxLength": 130,
          "type": "string",
          "x-ms-summary": "Description"
        },
        "title": {
          "description": "This output indicates the title of citation card for the insight.",
          "maxLength": 20,
          "type": "string",
          "x-ms-summary": "Title"
        },
        "url": {
          "description": "This output indicates the URL to learn more about the insight.",
          "type": "string",
          "x-ms-summary": "URL"
        }
      }
    },
    "PreviewCardData": {
      "required": [
        "title",
        "subtitle",
        "url"
      ],
      "type": "object",
      "properties": {
        "subtitle": {
          "description": "The preview subtitle for the adaptive card.",
          "type": "string",
          "x-ms-summary": "Subtitle"
        },
        "title": {
          "description": "The preview title for the adaptive card.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "url": {
          "description": "The preview url for the adaptive card.",
          "type": "string",
          "x-ms-summary": "URL"
        }
      }
    },
    "ResponseKeySalesInfoDto": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "This output contains all insights returned by the action.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeySalesInfo"
          },
          "x-ms-summary": "Insights"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize"
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "x-components": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://databook.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://databook.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;AI"
    }
  ],
  "x-ms-openai-manifest": {
    "contactEmail": "info@trydatabook.com",
    "humanName": "Databook C4S (sbx)",
    "legalUrl": "https://databook.com/terms/",
    "modelDescription": "This extension provides access to a number of Databook features through Microsoft Copilot for Sales. This includes: Databook Score, Meeting Preparation, and more."
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/databookc4s"
  }
}
