{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Plivo",
    "description": "Plivo enables sending and receiving SMS & voice calls globally for businesses of all sizes.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "url": "https://support.plivo.com/support/home"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/plivo",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/v1/Account/{auth_id}/Call/": {
      "post": {
        "description": "This operation is used to make a call.",
        "summary": "Make a call",
        "operationId": "MakeCall",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Call Request Body",
            "in": "body",
            "required": true,
            "description": "Details required to make a call.",
            "x-ms-summary": "Call Details",
            "x-ms-visibility": "important",
            "schema": {
              "$ref": "#/definitions/Call"
            }
          },
          {
            "$ref": "#/parameters/auth_id"
          }
        ],
        "responses": {
          "202": {
            "description": "Call is fired.",
            "schema": {
              "type": "object",
              "properties": {
                "api_id": {
                  "type": "string",
                  "x-ms-summary": "API ID",
                  "description": "Unique ID of the API request.",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "type": "string",
                  "x-ms-summary": "Response",
                  "description": "Response obtained when the call was made.",
                  "x-ms-visibility": "important"
                },
                "request_uuid": {
                  "type": "string",
                  "x-ms-summary": "Call UUID",
                  "description": "Unique ID of the call.",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/plivo/#make-a-call"
        }
      }
    },
    "/{connectionId}/v1/Account/{auth_id}/Message/": {
      "get": {
        "description": "This operation returns a list of all messages associated with your Plivo account.",
        "summary": "List all messages",
        "operationId": "ListMessages",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/auth_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted.",
            "schema": {
              "type": "object",
              "properties": {
                "api_id": {
                  "type": "string",
                  "x-ms-summary": "API ID",
                  "description": "Unique ID of the API request.",
                  "x-ms-visibility": "advanced"
                },
                "meta": {
                  "type": "object",
                  "x-ms-summary": "Meta Information",
                  "description": "Meta information about the response.",
                  "x-ms-visibility": "advanced",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "x-ms-summary": "Limit",
                      "description": "Maximum number of messages in a single page.",
                      "x-ms-visibility": "advanced"
                    },
                    "next": {
                      "type": "string",
                      "x-ms-summary": "Next",
                      "description": "URI of next page of messages if exists.",
                      "x-ms-visibility": "advanced"
                    },
                    "offset": {
                      "type": "integer",
                      "x-ms-summary": "Offset",
                      "description": "Number of messages before this page.",
                      "x-ms-visibility": "advanced"
                    },
                    "previous": {
                      "type": "string",
                      "x-ms-summary": "Previous",
                      "description": "URI of the previous page.",
                      "x-ms-visibility": "advanced"
                    },
                    "total_count": {
                      "type": "integer",
                      "x-ms-summary": "Total Count",
                      "description": "Total number of messages.",
                      "x-ms-visibility": "advanced"
                    }
                  }
                },
                "objects": {
                  "type": "array",
                  "x-ms-summary": "Message List",
                  "description": "Details of all messages.",
                  "x-ms-visibility": "important",
                  "items": {
                    "type": "object",
                    "properties": {
                      "error_code": {
                        "type": "string",
                        "x-ms-summary": "Error Code",
                        "description": "Delivery error code if the message isn't delivered.",
                        "x-ms-visibility": "advanced"
                      },
                      "from_number": {
                        "type": "string",
                        "x-ms-summary": "From",
                        "description": "Number from which the message was sent.",
                        "x-ms-visibility": "important"
                      },
                      "message_direction": {
                        "type": "string",
                        "x-ms-summary": "Message Direction",
                        "description": "Direction of the message (inbound/outbound).",
                        "x-ms-visibility": "important"
                      },
                      "message_state": {
                        "type": "string",
                        "x-ms-summary": "Message Delivery Status",
                        "description": "Status of the message (queued/sent/delivered/failed).",
                        "x-ms-visibility": "advanced"
                      },
                      "message_time": {
                        "type": "string",
                        "x-ms-summary": "Timestamp",
                        "description": "Timestamp at which the message was sent or received (yyyy-MM-dd HH:mm:ss UTC).",
                        "x-ms-visibility": "important"
                      },
                      "message_type": {
                        "type": "string",
                        "x-ms-summary": "Message Type",
                        "description": "Type of the message.",
                        "x-ms-visibility": "advanced"
                      },
                      "message_uuid": {
                        "type": "string",
                        "x-ms-summary": "Message UUID",
                        "description": "Unique ID of the message.",
                        "x-ms-visibility": "important"
                      },
                      "resource_uri": {
                        "type": "string",
                        "x-ms-summary": "Message URI",
                        "description": "URI to get details of this single message.",
                        "x-ms-visibility": "advanced"
                      },
                      "to_number": {
                        "type": "string",
                        "x-ms-summary": "To",
                        "description": "Number to which the message was sent.",
                        "x-ms-visibility": "important"
                      },
                      "total_amount": {
                        "type": "string",
                        "x-ms-summary": "Total Amount",
                        "description": "Amount charged for the message.",
                        "x-ms-visibility": "important"
                      },
                      "total_rate": {
                        "type": "string",
                        "x-ms-summary": "Rate",
                        "description": "Rate per unit of the message.",
                        "x-ms-visibility": "important"
                      },
                      "units": {
                        "type": "integer",
                        "x-ms-summary": "Units",
                        "description": "Number of units the message was split into.",
                        "x-ms-visibility": "important"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/plivo/#list-all-messages"
        }
      },
      "post": {
        "description": "This operation is used to send a text message.",
        "summary": "Send SMS",
        "operationId": "SendSMS",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "SMS Request Body",
            "in": "body",
            "required": true,
            "description": "Details required to send the message.",
            "x-ms-summary": "SMS Details",
            "x-ms-visibility": "important",
            "schema": {
              "$ref": "#/definitions/SMS"
            }
          },
          {
            "$ref": "#/parameters/auth_id"
          }
        ],
        "responses": {
          "202": {
            "description": "Properties associated with the sent message.",
            "schema": {
              "type": "object",
              "properties": {
                "api_id": {
                  "type": "string",
                  "x-ms-summary": "API ID",
                  "description": "Unique ID of the API request.",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "type": "string",
                  "x-ms-summary": "Response",
                  "description": "Response of the sent message.",
                  "x-ms-visibility": "important"
                },
                "message_uuid": {
                  "type": "array",
                  "x-ms-summary": "Message UUID",
                  "description": "Unique ID of the message.",
                  "x-ms-visibility": "important",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/plivo/#send-sms"
        }
      }
    },
    "/{connectionId}/v1/Account/{auth_id}/Message/{message_uuid}/": {
      "get": {
        "description": "This operation is used to fetch the details of a message, given the message ID.",
        "summary": "Get message",
        "operationId": "GetMessage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/auth_id"
          },
          {
            "name": "message_uuid",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "UUID of the message for which the details need to be fetched.",
            "x-ms-summary": "Message UUID",
            "x-ms-test-value": "681525a4-a0c3-45ba-870a-c5030db5c177"
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted.",
            "schema": {
              "type": "object",
              "properties": {
                "api_id": {
                  "type": "string",
                  "x-ms-summary": "API ID",
                  "description": "Unique ID of the API request.",
                  "x-ms-visibility": "advanced"
                },
                "error_code": {
                  "type": "string",
                  "x-ms-summary": "Error Code",
                  "description": "Delivery error code if the message isn't delivered.",
                  "x-ms-visibility": "advanced"
                },
                "from_number": {
                  "type": "string",
                  "x-ms-summary": "From",
                  "description": "Number from which the message was sent.",
                  "x-ms-visibility": "important"
                },
                "message_direction": {
                  "type": "string",
                  "x-ms-summary": "Message Direction",
                  "description": "Direction of the message (inbound/outbound).",
                  "x-ms-visibility": "important"
                },
                "message_state": {
                  "type": "string",
                  "x-ms-summary": "Message Delivery Status",
                  "description": "Status of the message (queued/sent/delivered/failed).",
                  "x-ms-visibility": "advanced"
                },
                "message_time": {
                  "type": "string",
                  "x-ms-summary": "Timestamp",
                  "description": "Timestamp at which the message was sent or received (yyyy-MM-dd HH:mm:ss UTC).",
                  "x-ms-visibility": "important"
                },
                "message_type": {
                  "type": "string",
                  "x-ms-summary": "Message Type",
                  "description": "Type of the message.",
                  "x-ms-visibility": "advanced"
                },
                "message_uuid": {
                  "type": "string",
                  "x-ms-summary": "Message UUID",
                  "description": "Unique ID of the message.",
                  "x-ms-visibility": "important"
                },
                "resource_uri": {
                  "type": "string",
                  "x-ms-summary": "Message URI",
                  "description": "URI to get details of this single message.",
                  "x-ms-visibility": "advanced"
                },
                "to_number": {
                  "type": "string",
                  "x-ms-summary": "To",
                  "description": "Number to which the message was sent.",
                  "x-ms-visibility": "important"
                },
                "total_amount": {
                  "type": "string",
                  "x-ms-summary": "Total Amount",
                  "description": "Amount charged for the message.",
                  "x-ms-visibility": "important"
                },
                "total_rate": {
                  "type": "string",
                  "x-ms-summary": "Rate",
                  "description": "Rate per unit of the message.",
                  "x-ms-visibility": "important"
                },
                "units": {
                  "type": "integer",
                  "x-ms-summary": "Units",
                  "description": "Number of units the message was split into.",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/plivo/#get-message"
        }
      }
    }
  },
  "definitions": {
    "SMS": {
      "type": "object",
      "properties": {
        "src": {
          "x-ms-summary": "From",
          "description": "Plivo number from which the message is to be sent.",
          "type": "string",
          "x-ms-visibility": "important",
          "title": "From"
        },
        "dst": {
          "x-ms-summary": "To",
          "description": "Phone number to which the message is to be sent.",
          "type": "string",
          "x-ms-visibility": "important",
          "title": "To"
        },
        "text": {
          "x-ms-summary": "Message",
          "description": "Text of the message to be sent.",
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Message"
        }
      },
      "required": [
        "src",
        "dst",
        "text"
      ]
    },
    "Call": {
      "type": "object",
      "properties": {
        "from": {
          "x-ms-summary": "From",
          "description": "Plivo number to be used to make the call.",
          "type": "string",
          "x-ms-visibility": "important",
          "title": "From"
        },
        "to": {
          "x-ms-summary": "To",
          "description": "The phone number to call.",
          "type": "string",
          "x-ms-visibility": "important",
          "title": "To"
        },
        "answer_url": {
          "x-ms-summary": "Answer URL",
          "description": "URL to be called when the call is made.",
          "type": "string",
          "x-ms-visibility": "important",
          "title": "Answer URL"
        },
        "answer_method": {
          "x-ms-summary": "Answer Method",
          "description": "HTTP Method (GET/POST) that should be used to call the Answer URL.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "from",
        "to",
        "answer_url"
      ]
    }
  },
  "parameters": {
    "auth_id": {
      "name": "auth_id",
      "in": "path",
      "required": true,
      "default": "auth_id_value",
      "type": "string",
      "description": "Auth ID of your Plivo account.",
      "x-ms-summary": "Auth ID",
      "x-ms-visibility": "internal"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "auth": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.plivo.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.plivo.com/legal/privacy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/plivo"
  }
}