{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Intercom",
    "description": "Intercom makes messaging apps for businesses that help them understand and talk to consumers.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/create_lead_trigger/contacts": {
      "get": {
        "summary": "When a lead is created",
        "description": "Triggers when a new lead is created.",
        "operationId": "TrigNewLead",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigListLeads_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new lead.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#when-a-lead-is-created"
        }
      }
    },
    "/{connectionId}/create_user_trigger/users": {
      "get": {
        "summary": "When a user is created",
        "description": "Triggers when a new user is created.",
        "operationId": "TrigNewUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigListUsers_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new user.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#when-a-user-is-created"
        }
      }
    },
    "/{connectionId}/update_user_trigger/users": {
      "get": {
        "summary": "When a user is updated",
        "description": "Triggers when an existing user's information is updated.",
        "operationId": "TrigUpdateUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigListUsers_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a user.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#when-a-user-is-updated"
        }
      }
    },
    "/{connectionId}/create_conversation_trigger/conversations": {
      "get": {
        "summary": "When a new conversation starts",
        "description": "Triggers when a user starts a new conversation.",
        "operationId": "TrigNewConversation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigListConversations_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new conversation.",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#when-a-new-conversation-starts"
        }
      }
    },
    "/{connectionId}/users": {
      "get": {
        "summary": "List users",
        "description": "List all users.",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsers_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#list-users"
        }
      },
      "post": {
        "summary": "Create or update user",
        "description": "Creates a new user for your Intercom account. Users found via email will be updated.",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CreateUser_Request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#create-or-update-user"
        }
      }
    },
    "/{connectionId}/contacts": {
      "get": {
        "summary": "List all leads",
        "description": "Returns a list of all leads within your Intercom account.",
        "operationId": "ListLeads",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListLeads_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#list-all-leads"
        }
      },
      "post": {
        "summary": "Create new lead",
        "description": "Creates a new lead for your Intercom account.",
        "operationId": "CreateLead",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "email"
              ],
              "properties": {
                "email": {
                  "type": "string",
                  "x-ms-summary": "Email",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "phone": {
                  "type": "string",
                  "x-ms-summary": "Phone",
                  "x-ms-visibility": "advanced"
                },
                "avatar": {
                  "type": "object",
                  "properties": {
                    "image_url": {
                      "type": "string",
                      "x-ms-summary": "Image URL",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "x-ms-summary": "Avatar",
                  "x-ms-visibility": "advanced"
                },
                "companies": {
                  "type": "string",
                  "x-ms-summary": "Company Id",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListCompanies",
                    "value-collection": "companies",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "x-ms-test-value": {
                "email": "test@example.com",
                "name": "Jane Doe",
                "phone": "1112223333"
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lead_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#create-new-lead"
        }
      }
    },
    "/{connectionId}/companies": {
      "get": {
        "summary": "List companies",
        "description": "List all companies.",
        "operationId": "ListCompanies",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCompanies_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#list-companies"
        }
      }
    },
    "/{connectionId}/users/{user_id}": {
      "get": {
        "summary": "Get user",
        "description": "Given the id for an existing user, this operation returns all information about the user.",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "User Id",
            "description": "The id of the user",
            "x-ms-test-value": "58935ff6b797295b9125a3d9",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#get-user"
        }
      }
    },
    "/{connectionId}/contacts/{contact_id}": {
      "get": {
        "summary": "Get lead",
        "description": "Given the id for an existing lead, this operation returns all information about the  lead.",
        "operationId": "GetLead",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Lead Id",
            "description": "The id of the lead",
            "x-ms-test-value": "589359b618698c2c181955a7",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lead_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intercom/#get-lead"
        }
      }
    }
  },
  "definitions": {
    "ListCompanies_Response": {
      "type": "object",
      "properties": {
        "companies": {
          "description": "companies",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "company_id": {
                "description": "company_id",
                "type": "string",
                "x-ms-summary": "company_id",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "id",
                "type": "string",
                "x-ms-summary": "id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "name",
                "type": "string",
                "x-ms-summary": "name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "companies",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TrigListUsers_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TrigUser_Response"
      }
    },
    "TrigListLeads_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TrigLead_Response"
      }
    },
    "TrigListConversations_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/TrigConversation_Response"
      }
    },
    "TrigUser_Response": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Intercom defined id representing the user.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "description": "Unique identifier you have defined for the user.",
          "type": "string",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "important"
        },
        "email": {
          "description": "User's email.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "phone": {
          "description": "User's phone number.",
          "type": "string",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "User's name.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "session_count": {
          "description": "Number of sessions the user has recorded.",
          "type": "integer",
          "x-ms-summary": "Session Count",
          "x-ms-visibility": "advanced"
        },
        "avatar": {
          "type": "object",
          "properties": {
            "image_url": {
              "description": "An avatar image URL, needs to be https.",
              "type": "string",
              "x-ms-summary": "Image URL",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "unsubscribed_from_emails": {
          "description": "True if the user is unsubscribed from emails.",
          "type": "boolean",
          "x-ms-summary": "Is Unsubscribed",
          "x-ms-visibility": "advanced"
        },
        "location_data": {
          "type": "object",
          "properties": {
            "city_name": {
              "description": "Location of the user.",
              "type": "string",
              "x-ms-summary": "City Name",
              "x-ms-visibility": "important"
            },
            "country_name": {
              "description": "Location of the user.",
              "type": "string",
              "x-ms-summary": "Country Name",
              "x-ms-visibility": "important"
            },
            "latitude": {
              "description": "Location of the user.",
              "type": "number",
              "x-ms-summary": "Latitude",
              "x-ms-visibility": "advanced"
            },
            "longitude": {
              "description": "Location of the user.",
              "type": "number",
              "x-ms-summary": "Longitude",
              "x-ms-visibility": "advanced"
            },
            "postal_code": {
              "description": "Location of the user.",
              "type": "string",
              "x-ms-summary": "Postal Code",
              "x-ms-visibility": "important"
            },
            "region_name": {
              "description": "Location of the user.",
              "type": "string",
              "x-ms-summary": "Region Name",
              "x-ms-visibility": "advanced"
            },
            "timezone": {
              "description": "ISO 8601 time zone for the user's location.",
              "type": "string",
              "x-ms-summary": "Time Zone",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "pseudonym": {
          "description": "The pseudonym used if this user was previously a lead.",
          "type": "string",
          "x-ms-summary": "Pseudonym",
          "x-ms-visibility": "advanced"
        },
        "companies": {
          "type": "object",
          "properties": {
            "companies": {
              "description": "companies",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the company.",
                    "type": "string",
                    "x-ms-summary": "Company Name.",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "tags": {
          "type": "object",
          "properties": {
            "companies": {
              "description": "tags",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the tag.",
                    "type": "string",
                    "x-ms-summary": "Tag Name",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TrigLead_Response": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Intercom defined id representing the lead.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "description": "Unique identifier you have defined for the user.",
          "type": "string",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "important"
        },
        "email": {
          "description": "Lead's email.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "phone": {
          "description": "Lead's phone number.",
          "type": "string",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Lead's name.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "avatar": {
          "type": "object",
          "properties": {
            "image_url": {
              "description": "An avatar image URL, needs to be https.",
              "type": "string",
              "x-ms-summary": "Image URL",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "unsubscribed_from_emails": {
          "description": "True if the lead is unsubscribed from emails.",
          "type": "boolean",
          "x-ms-summary": "Is Unsubscribed",
          "x-ms-visibility": "advanced"
        },
        "location_data": {
          "type": "object",
          "properties": {
            "city_name": {
              "description": "Location of the lead.",
              "type": "string",
              "x-ms-summary": "City Name",
              "x-ms-visibility": "important"
            },
            "country_name": {
              "description": "Location of the lead.",
              "type": "string",
              "x-ms-summary": "Country Name",
              "x-ms-visibility": "important"
            },
            "latitude": {
              "description": "Location of the lead.",
              "type": "number",
              "x-ms-summary": "Latitude",
              "x-ms-visibility": "advanced"
            },
            "longitude": {
              "description": "Location of the lead.",
              "type": "number",
              "x-ms-summary": "Longitude",
              "x-ms-visibility": "advanced"
            },
            "postal_code": {
              "description": "Location of the lead.",
              "type": "string",
              "x-ms-summary": "Postal Code",
              "x-ms-visibility": "important"
            },
            "region_name": {
              "description": "Location of the lead.",
              "type": "string",
              "x-ms-summary": "Region Name",
              "x-ms-visibility": "advanced"
            },
            "timezone": {
              "description": "ISO 8601 time zone for the lead's location.",
              "type": "string",
              "x-ms-summary": "Time Zone",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "companies": {
          "type": "object",
          "properties": {
            "companies": {
              "description": "companies",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the company.",
                    "type": "string",
                    "x-ms-summary": "Company Name",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "tags": {
          "type": "object",
          "properties": {
            "companies": {
              "description": "tags",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Name of the tag.",
                    "type": "string",
                    "x-ms-summary": "Tag Name",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TrigConversation_Response": {
      "type": "object",
      "properties": {
        "assignee": {
          "description": "assignee",
          "type": "object",
          "properties": {
            "id": {
              "description": "User the conversation is currently assigned to.",
              "type": "string",
              "x-ms-summary": "Admin Id",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "conversation_message": {
          "description": "conversation_message",
          "type": "object",
          "properties": {
            "author": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "Conversation author's id.",
                  "type": "string",
                  "x-ms-summary": "Author Id",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "description": "Type of the author.",
                  "type": "string",
                  "x-ms-summary": "Author Type",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-visibility": "advanced"
            },
            "body": {
              "description": "Body of the message.",
              "type": "string",
              "x-ms-summary": "Text",
              "x-ms-visibility": "important"
            },
            "subject": {
              "description": "Conversation subject.",
              "type": "string",
              "x-ms-summary": "Subject",
              "x-ms-visibility": "important"
            },
            "url": {
              "description": "URL of the conversation message.",
              "type": "string",
              "x-ms-summary": "Message URL",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date Time",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "Conversation id.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date Time",
          "x-ms-visibility": "advanced"
        },
        "user": {
          "description": "user",
          "type": "object",
          "properties": {
            "id": {
              "description": "Id of user the conversation concerns.",
              "type": "string",
              "x-ms-summary": "User Id",
              "x-ms-visibility": "important"
            },
            "type": {
              "description": "The user type.",
              "type": "string",
              "x-ms-summary": "User Type",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListUsers_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/User_Response"
      }
    },
    "ListLeads_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Lead_Response"
      }
    },
    "User_Response": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Intercom defined id representing the user.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "description": "Unique identifier you have defined for the user.",
          "type": "string",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "important"
        },
        "email": {
          "description": "User's email.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "phone": {
          "description": "User's phone number.",
          "type": "string",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "User's name.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "session_count": {
          "description": "Number of sessions the user has recorded.",
          "type": "integer",
          "x-ms-summary": "Session Count",
          "x-ms-visibility": "advanced"
        },
        "avatar": {
          "type": "object",
          "properties": {
            "image_url": {
              "description": "An avatar image URL, needs to be https.",
              "type": "string",
              "x-ms-summary": "Image URL",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "unsubscribed_from_emails": {
          "description": "An avatar image URL, needs to be https.",
          "type": "boolean",
          "x-ms-summary": "Is Unsubscribed",
          "x-ms-visibility": "advanced"
        },
        "location_data": {
          "type": "object",
          "properties": {
            "city_name": {
              "description": "Location of the user.",
              "type": "string",
              "x-ms-summary": "City Name",
              "x-ms-visibility": "important"
            },
            "country_name": {
              "description": "Location of the user.",
              "type": "string",
              "x-ms-summary": "Country Name",
              "x-ms-visibility": "important"
            },
            "latitude": {
              "description": "Location of the user.",
              "type": "number",
              "x-ms-summary": "Latitude",
              "x-ms-visibility": "advanced"
            },
            "longitude": {
              "description": "Location of the user.",
              "type": "number",
              "x-ms-summary": "Longitude",
              "x-ms-visibility": "advanced"
            },
            "postal_code": {
              "description": "Location of the user.",
              "type": "string",
              "x-ms-summary": "Postal Code",
              "x-ms-visibility": "important"
            },
            "region_name": {
              "description": "Location of the user.",
              "type": "string",
              "x-ms-summary": "Region Name",
              "x-ms-visibility": "advanced"
            },
            "timezone": {
              "description": "ISO 8601 time zone for the user's location.",
              "type": "string",
              "x-ms-summary": "Time Zone",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "pseudonym": {
          "description": "The pseudonym used if this user was previously a lead.",
          "type": "string",
          "x-ms-summary": "Pseudonym",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Lead_Response": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Intercom defined id representing the lead.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "description": "Unique identifier you have defined for the lead.",
          "type": "string",
          "x-ms-summary": "Lead Id",
          "x-ms-visibility": "important"
        },
        "email": {
          "description": "Lead's email.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "phone": {
          "description": "Lead's phone number.",
          "type": "string",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Lead's name.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "avatar": {
          "type": "object",
          "properties": {
            "image_url": {
              "description": "An avatar image URL, needs to be https.",
              "type": "string",
              "x-ms-summary": "Image URL",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "unsubscribed_from_emails": {
          "description": "An avatar image URL, needs to be https.",
          "type": "boolean",
          "x-ms-summary": "Is Unsubscribed",
          "x-ms-visibility": "advanced"
        },
        "location_data": {
          "type": "object",
          "properties": {
            "city_name": {
              "description": "Location of the lead.",
              "type": "string",
              "x-ms-summary": "City Name",
              "x-ms-visibility": "important"
            },
            "country_name": {
              "description": "Location of the lead.",
              "type": "string",
              "x-ms-summary": "Country Name",
              "x-ms-visibility": "important"
            },
            "latitude": {
              "description": "Location of the lead.",
              "type": "number",
              "x-ms-summary": "Latitude",
              "x-ms-visibility": "advanced"
            },
            "longitude": {
              "description": "Location of the lead.",
              "type": "number",
              "x-ms-summary": "Longitude",
              "x-ms-visibility": "advanced"
            },
            "postal_code": {
              "description": "Location of the lead.",
              "type": "string",
              "x-ms-summary": "Postal Code",
              "x-ms-visibility": "important"
            },
            "region_name": {
              "description": "Location of the lead.",
              "type": "string",
              "x-ms-summary": "Region Name",
              "x-ms-visibility": "advanced"
            },
            "timezone": {
              "description": "ISO 8601 time zone for the lead's location.",
              "type": "string",
              "x-ms-summary": "Time Zone",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {
    "CreateUser_Request": {
      "name": "body",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "x-ms-summary": "Email",
            "x-ms-visibility": "important"
          },
          "name": {
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important"
          },
          "phone": {
            "type": "string",
            "x-ms-summary": "Phone",
            "x-ms-visibility": "advanced"
          },
          "companies": {
            "type": "string",
            "x-ms-summary": "Company Id",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListCompanies",
              "value-collection": "companies",
              "value-path": "id",
              "value-title": "name"
            }
          }
        },
        "x-ms-test-value": {
          "email": "test@example.com",
          "name": "Jane Doe"
        }
      },
      "x-ms-summary": "body"
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "basic"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.intercom.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.intercom.com/legal/terms-and-policies#privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/intercom"
  },
  "basePath": "/apim/intercom"
}
