{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Power Automate Management",
    "description": "Power Automate Management connector enables interaction with Power Automate Management service. For example: creating, editing, and updating flows. Administrators who want to perform operations with admin privileges should call actions with the 'as Admin' suffix.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/flowmanagement",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/apis": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "List Connectors",
        "description": "Lists all of the connectors available in the given environment. This list will include custom connectors as well as the built-in connectors.",
        "operationId": "ListApis",
        "x-ms-visibility": "advanced",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNameQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[ApiWithoutConnectionParameters]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-connectors"
        }
      }
    },
    "/{connectionId}/apis/{apiName}": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get Connector",
        "description": "Get the given connector in an environment.",
        "operationId": "GetApi",
        "x-ms-visibility": "advanced",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNameQueryParameter"
          },
          {
            "$ref": "#/parameters/ApiNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Api"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#get-connector"
        }
      }
    },
    "/{connectionId}/apis/{apiName}/connections": {
      "post": {
        "tags": [
          "Connections"
        ],
        "summary": "Create Connection",
        "description": "Create a connection for the given connector in an environment.",
        "operationId": "CreateConnection",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNameQueryParameter"
          },
          {
            "$ref": "#/parameters/ApiNameParameter"
          },
          {
            "name": "connection",
            "in": "body",
            "description": "Connection",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Connection"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Connection"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#create-connection"
        }
      }
    },
    "/{connectionId}/connections": {
      "get": {
        "tags": [
          "Connections"
        ],
        "summary": "List My Connections",
        "description": "Lists all your connection available in the given environment.",
        "operationId": "ListConnections",
        "x-ms-visibility": "advanced",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNameQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[ConnectionWithoutConnectionParameters]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-my-connections"
        }
      }
    },
    "/{connectionId}/environments": {
      "get": {
        "tags": [
          "Environments"
        ],
        "summary": "List My Environments",
        "description": "List the environments you have access to.",
        "operationId": "ListUserEnvironments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[Environment]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-my-environments"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/owners": {
      "get": {
        "tags": [
          "FlowPermissions"
        ],
        "summary": "List Flow Owners",
        "description": "List all owners of the given flow in an environment.",
        "operationId": "ListFlowOwners",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[FlowPermission]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-flow-owners"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/modifyOwners": {
      "post": {
        "tags": [
          "FlowPermissions"
        ],
        "summary": "Modify Flow Owners",
        "description": "Modify owners of the given flow in an environment.",
        "operationId": "ModifyFlowOwners",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          },
          {
            "name": "permissions",
            "in": "body",
            "required": true,
            "x-ms-summary": "Flow Permissions",
            "schema": {
              "$ref": "#/definitions/ModifyFlowPermissionPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#modify-flow-owners"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/users": {
      "get": {
        "tags": [
          "FlowPermissions"
        ],
        "summary": "List Flow Run-Only Users",
        "description": "List all run only users of the given flow in an environment.",
        "operationId": "ListFlowUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[FlowPermission]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-flow-run-only-users"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/modifyUsers": {
      "post": {
        "tags": [
          "FlowPermissions"
        ],
        "summary": "Modify Run-Only Users",
        "description": "Modify run-only users of the given flow in an environment.",
        "operationId": "ModifyRunOnlyUsers",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          },
          {
            "name": "permissions",
            "in": "body",
            "required": true,
            "x-ms-summary": "Flow Permissions.",
            "schema": {
              "$ref": "#/definitions/ModifyFlowPermissionPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#modify-run-only-users"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows": {
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "List My Flows",
        "description": "List all flows you created in the given environment.",
        "operationId": "ListMyFlows",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[AdminFlow]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-my-flows"
        }
      },
      "post": {
        "tags": [
          "Flows"
        ],
        "summary": "Create Flow",
        "description": "Create flow",
        "operationId": "CreateFlow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "name": "Flow",
            "in": "body",
            "description": "Flow",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowWithConnectionReferences"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#create-flow"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}": {
      "get": {
        "tags": [
          "Flows"
        ],
        "summary": "Get Flow",
        "description": "Get the given flow in an environment.",
        "operationId": "GetFlow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FlowWithConnectionReferences"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#get-flow"
        }
      },
      "delete": {
        "tags": [
          "Flows"
        ],
        "summary": "Delete Flow",
        "description": "Delete the given flow in an environment",
        "operationId": "DeleteFlow",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#delete-flow"
        }
      },
      "patch": {
        "tags": [
          "Flows"
        ],
        "summary": "Update Flow",
        "description": "Update the given flow in an environment.",
        "operationId": "UpdateFlow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          },
          {
            "name": "Flow",
            "in": "body",
            "description": "Flow",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowWithConnectionReferences"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#update-flow"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/stop": {
      "post": {
        "tags": [
          "Flows"
        ],
        "summary": "Turn Off Flow",
        "description": "Stop the given flow in an environment.",
        "operationId": "StopFlow",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#turn-off-flow"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/start": {
      "post": {
        "tags": [
          "Flows"
        ],
        "summary": "Turn On Flow",
        "description": "Start the given flow in an environment.",
        "operationId": "StartFlow",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#turn-on-flow"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/triggers/{triggerName}/histories/{runId}/resubmit": {
      "post": {
        "tags": [
          "Flows"
        ],
        "summary": "Resubmit Flow",
        "description": "Resubmit the given flow run in an environment.",
        "operationId": "ResubmitFlow",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          },
          {
            "$ref": "#/parameters/FlowTriggerNameParameter"
          },
          {
            "$ref": "#/parameters/FlowRunIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#resubmit-flow"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/triggers/manual/listCallbackUrl": {
      "post": {
        "tags": [
          "Flows"
        ],
        "summary": "List Callback URL",
        "description": "List callback URL for the given flow in an environment.",
        "operationId": "ListCallbackUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FlowListCallbackUrlResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-callback-url"
        }
      }
    },
    "/{connectionId}/environments/{environmentName}/flows/{flowName}/runs/{runId}/cancel": {
      "post": {
        "tags": [
          "Flows"
        ],
        "summary": "Cancel Flow Run",
        "description": "Cancel a flow run.",
        "operationId": "CancelFlowRun",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/FlowNameParameter"
          },
          {
            "$ref": "#/parameters/FlowRunIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#cancel-flow-run"
        }
      }
    },
    "/{connectionId}/scopes/admin/environments/{environmentName}/flows": {
      "get": {
        "tags": [
          "AdminFlows"
        ],
        "summary": "List Flows as Admin (deprecated)",
        "description": "List all flows in the given environment you have admin access to (deprecated).",
        "operationId": "ListFlowsInEnvironment",
        "x-ms-visibility": "advanced",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/ExpandSuspensionInfoParameter"
          },
          {
            "$ref": "#/parameters/IncludeSoftDeletedFlowsQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[AdminFlow]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-flows-as-admin-(deprecated)"
        }
      }
    },
    "/{connectionId}/scopes/admin/environments/{environmentName}/v2/flows": {
      "get": {
        "tags": [
          "AdminFlows"
        ],
        "summary": "List Flows as Admin (V2)",
        "description": "List all flows in the given environment you have admin access to. This V2 action is a higher performance action that returns only the identifying information about the flow. The flow definition and much of the metadata is not returned. For additional metadata and the flow definition, make a subsequent call to the Get Flows as Admin action.",
        "operationId": "ListFlowsInEnvironment_V2",
        "x-ms-visibility": "advanced",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/ExpandSuspensionInfoParameter"
          },
          {
            "$ref": "#/parameters/IncludeSoftDeletedFlowsQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[AdminFlowWithoutDefinition]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#list-flows-as-admin-(v2)"
        }
      }
    },
    "/{connectionId}/scopes/admin/environments/{environmentName}/flows/{flowName}/modifyOwners": {
      "post": {
        "tags": [
          "AdminFlowPermissions"
        ],
        "summary": "Modify Flow Owners as Admin",
        "description": "Modify owners of the given flow created in an environment you have admin access to.",
        "operationId": "AdminModifyFlowOwners",
        "x-ms-visibility": "advanced",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/AdminFlowNameParameter"
          },
          {
            "name": "permissions",
            "in": "body",
            "description": "Permissions.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyFlowPermissionPayload"
            },
            "x-ms-summary": "Owners"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#modify-flow-owners-as-admin"
        }
      }
    },
    "/{connectionId}/scopes/admin/environments/{environmentName}/flows/{flowName}": {
      "get": {
        "tags": [
          "AdminFlows"
        ],
        "summary": "Get Flow as Admin",
        "description": "Get the given flow from an environment you have admin access to.",
        "operationId": "AdminGetFlow",
        "x-ms-visibility": "advanced",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/AdminFlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminFlowWithConnectionReferences"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#get-flow-as-admin"
        }
      }
    },
    "/{connectionId}/scopes/admin/environments/{environmentName}/flows/{flowName}/restore": {
      "post": {
        "tags": [
          "AdminFlows"
        ],
        "summary": "Restore Deleted Flow as Admin",
        "description": "Restore the given soft-deleted flow in an environment you have admin access to.",
        "operationId": "AdminRestoreFlow",
        "x-ms-visibility": "advanced",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/EnvironmentNamePathParameter"
          },
          {
            "$ref": "#/parameters/AdminFlowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AdminFlowWithConnectionReferences"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowmanagement/#restore-deleted-flow-as-admin"
        }
      }
    }
  },
  "definitions": {
    "ResourceArray[ApiWithoutConnectionParameters]": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiWithoutConnectionParameters"
          }
        }
      }
    },
    "ResourceArray[ConnectionWithoutConnectionParameters]": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionWithoutConnectionParameters"
          }
        }
      }
    },
    "ResourceArray[Environment]": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Environment"
          }
        }
      }
    },
    "ResourceArray[AdminFlow]": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdminFlow"
          }
        }
      }
    },
    "ResourceArray[AdminFlowWithoutDefinition]": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdminFlowWithoutDefinition"
          }
        }
      }
    },
    "ResourceArray[FlowPermission]": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowPermission"
          }
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "ModifyFlowPermissionPayload": {
      "type": "object",
      "properties": {
        "put": {
          "title": "Add User",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlowPermission[Add]"
          }
        },
        "delete": {
          "type": "array",
          "title": "Remove User",
          "items": {
            "$ref": "#/definitions/FlowPermission[Remove]"
          }
        }
      }
    },
    "FlowPermission[Add]": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PermissionProperties[Add]"
        }
      }
    },
    "PermissionProperties[Add]": {
      "type": "object",
      "properties": {
        "principal": {
          "$ref": "#/definitions/Principal[Add]"
        }
      }
    },
    "Principal[Add]": {
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Add User Object Id",
          "x-ms-visibility": "important"
        },
        "type": {
          "enum": [
            "User",
            "Group"
          ],
          "type": "string",
          "x-ms-summary": "Add User Type",
          "x-ms-visibility": "important"
        }
      }
    },
    "FlowPermission[Remove]": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PermissionProperties[Remove]"
        }
      }
    },
    "PermissionProperties[Remove]": {
      "type": "object",
      "properties": {
        "principal": {
          "$ref": "#/definitions/Principal[Remove]"
        }
      }
    },
    "Principal[Remove]": {
      "type": "object",
      "required": [
        "id",
        "type"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Remove User Object Id",
          "x-ms-visibility": "important"
        },
        "type": {
          "enum": [
            "User",
            "Group"
          ],
          "type": "string",
          "x-ms-summary": "Remove User Type",
          "x-ms-visibility": "important"
        }
      }
    },
    "FlowPermission": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Permission Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PermissionProperties"
        }
      }
    },
    "PermissionProperties": {
      "type": "object",
      "properties": {
        "roleName": {
          "enum": [
            "Owner",
            "CanEdit",
            "CanView"
          ],
          "type": "string",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "principal": {
          "$ref": "#/definitions/Principal"
        }
      }
    },
    "Principal": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Object Id",
          "x-ms-visibility": "important"
        },
        "displayName": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "type": {
          "enum": [
            "User",
            "Group"
          ],
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "tenantId": {
          "type": "string",
          "x-ms-summary": "Tenant Id",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "userPrincipalName": {
          "type": "string",
          "x-ms-summary": "Principal Name",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "thumbnailPhoto": {
          "type": "string",
          "x-ms-summary": "Owner Thumbnail Photo",
          "x-ms-visibility": "advanced",
          "readOnly": true
        }
      }
    },
    "Flow": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Flow Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/FlowProperties"
        }
      }
    },
    "FlowProperties": {
      "type": "object",
      "required": [
        "displayName",
        "definition",
        "state"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Flow Display Name",
          "x-ms-visibility": "important"
        },
        "definition": {
          "type": "object",
          "properties": {},
          "x-ms-visibility": "important",
          "x-ms-summary": "Flow Definition"
        },
        "state": {
          "enum": [
            "Started",
            "Stopped"
          ],
          "type": "string",
          "x-ms-summary": "Flow State",
          "x-ms-visibility": "important"
        },
        "connectionReferences": {
          "$ref": "#/definitions/ConnectionReferencesDictionary"
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Created Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Modified Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "templateName": {
          "type": "string",
          "x-ms-summary": "Flow Template Name",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "flowTriggerUri": {
          "type": "string",
          "x-ms-summary": "Flow Trigger Uri",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "installationStatus": {
          "enum": [
            "NotApplicable",
            "Uninstalled",
            "Broken",
            "Installed"
          ],
          "type": "string",
          "x-ms-summary": "Flow Installation Status",
          "x-ms-visibility": "advanced",
          "readOnly": true
        }
      }
    },
    "FlowListCallbackUrlResponse": {
      "type": "object",
      "required": [
        "response"
      ],
      "properties": {
        "response": {
          "type": "object",
          "required": [
            "value"
          ],
          "x-ms-visibility": "important",
          "properties": {
            "value": {
              "type": "string",
              "x-ms-summary": "Callback URL"
            }
          }
        }
      }
    },
    "FlowWithConnectionReferences": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Flow Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/FlowWithConnectionReferencesProperties"
        }
      }
    },
    "FlowWithConnectionReferencesProperties": {
      "type": "object",
      "required": [
        "displayName",
        "definition",
        "state"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Flow Display Name",
          "x-ms-visibility": "important"
        },
        "definition": {
          "type": "object",
          "properties": {},
          "x-ms-visibility": "important",
          "x-ms-summary": "Flow Definition"
        },
        "state": {
          "enum": [
            "Started",
            "Stopped"
          ],
          "type": "string",
          "x-ms-summary": "Flow State",
          "x-ms-visibility": "important"
        },
        "connectionReferences": {
          "$ref": "#/definitions/ConnectionReferencesArray"
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Created Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Modified Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "templateName": {
          "type": "string",
          "x-ms-summary": "Flow Template Name",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "flowTriggerUri": {
          "type": "string",
          "x-ms-summary": "Flow Trigger Uri",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "installationStatus": {
          "enum": [
            "NotApplicable",
            "Uninstalled",
            "Broken",
            "Installed"
          ],
          "type": "string",
          "x-ms-summary": "Flow Installation Status",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "creator": {
          "$ref": "#/definitions/UserIdentity"
        },
        "definitionSummary": {
          "$ref": "#/definitions/DefinitionSummary"
        }
      }
    },
    "AdminFlow": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Flow Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/AdminFlowProperties"
        }
      }
    },
    "AdminFlowWithoutDefinition": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Flow Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/AdminFlowWithoutDefinitionProperties"
        }
      }
    },
    "AdminFlowProperties": {
      "type": "object",
      "required": [
        "displayName",
        "state"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Flow Display Name",
          "x-ms-visibility": "important"
        },
        "state": {
          "enum": [
            "Started",
            "Stopped"
          ],
          "type": "string",
          "x-ms-summary": "Flow State",
          "x-ms-visibility": "important"
        },
        "connectionReferences": {
          "$ref": "#/definitions/ConnectionReferencesDictionary"
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Created Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Modified Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "templateName": {
          "type": "string",
          "x-ms-summary": "Flow Template Name",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "flowTriggerUri": {
          "type": "string",
          "x-ms-summary": "Flow Trigger Uri",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "installationStatus": {
          "enum": [
            "NotApplicable",
            "Uninstalled",
            "Broken",
            "Installed"
          ],
          "type": "string",
          "x-ms-summary": "Flow Installation Status",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "creator": {
          "$ref": "#/definitions/UserIdentity"
        },
        "definitionSummary": {
          "$ref": "#/definitions/DefinitionSummary"
        },
        "estimatedSuspensionData": {
          "$ref": "#/definitions/EstimatedSuspensionData"
        }
      }
    },
    "AdminFlowWithoutDefinitionProperties": {
      "type": "object",
      "required": [
        "displayName"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Flow Display Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "state": {
          "enum": [
            "Started",
            "Stopped",
            "Deleted",
            "Suspended"
          ],
          "type": "string",
          "x-ms-summary": "Flow State",
          "x-ms-visibility": "important"
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Created Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Modified Time",
          "x-ms-visibility": "important",
          "readOnly": true
        }
      }
    },
    "AdminFlowWithConnectionReferences": {
      "type": "object",
      "required": [
        "properties"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Flow Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/AdminFlowWithConnectionReferencesProperties"
        }
      }
    },
    "AdminFlowWithConnectionReferencesProperties": {
      "type": "object",
      "required": [
        "displayName",
        "state"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Flow Display Name",
          "x-ms-visibility": "important"
        },
        "state": {
          "enum": [
            "Started",
            "Stopped"
          ],
          "type": "string",
          "x-ms-summary": "Flow State",
          "x-ms-visibility": "important"
        },
        "connectionReferences": {
          "$ref": "#/definitions/ConnectionReferencesArray"
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Created Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow Modified Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "templateName": {
          "type": "string",
          "x-ms-summary": "Flow Template Name",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "flowTriggerUri": {
          "type": "string",
          "x-ms-summary": "Flow Trigger Uri",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "installationStatus": {
          "enum": [
            "NotApplicable",
            "Uninstalled",
            "Broken",
            "Installed"
          ],
          "type": "string",
          "x-ms-summary": "Flow Installation Status",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "creator": {
          "$ref": "#/definitions/UserIdentity"
        },
        "definitionSummary": {
          "$ref": "#/definitions/DefinitionSummary"
        }
      }
    },
    "EstimatedSuspensionData": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "reason": {
          "type": "string",
          "x-ms-summary": "Flow estimated suspension reason",
          "x-ms-visibility": "advanced"
        },
        "time": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Flow estimated suspension time",
          "x-ms-visibility": "advanced"
        },
        "powerAppPlanExcluded": {
          "type": "boolean",
          "x-ms-summary": "If the flow is power app plan excluded or not",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DefinitionSummary": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "triggers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "x-ms-summary": "Flow trigger type",
                "x-ms-visibility": "advanced"
              },
              "kind": {
                "type": "string",
                "x-ms-summary": "Flow trigger kind",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "actions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "x-ms-summary": "Action type",
                "x-ms-visibility": "advanced"
              },
              "swaggerOperationId": {
                "type": "string",
                "x-ms-summary": "Swagger operation Id",
                "x-ms-visibility": "advanced"
              },
              "api": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Action Api name",
                    "x-ms-visibility": "advanced"
                  },
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Action Api id",
                    "x-ms-visibility": "advanced"
                  },
                  "type": {
                    "type": "string",
                    "x-ms-summary": "Action Api type",
                    "x-ms-visibility": "advanced"
                  }
                }
              }
            }
          }
        }
      }
    },
    "UserIdentity": {
      "type": "object",
      "readOnly": true,
      "required": [
        "tenantId",
        "userId",
        "userType"
      ],
      "properties": {
        "tenantId": {
          "type": "string",
          "x-ms-summary": "Creator tenant ID",
          "x-ms-visibility": "advanced"
        },
        "objectId": {
          "type": "string",
          "x-ms-summary": "Creator object ID",
          "x-ms-visibility": "advanced"
        },
        "userId": {
          "type": "string",
          "x-ms-summary": "Creator user ID",
          "x-ms-visibility": "advanced"
        },
        "userType": {
          "type": "string",
          "x-ms-summary": "Creator user type",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Environment": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Environment Name",
          "x-ms-visibility": "important"
        },
        "location": {
          "type": "string",
          "x-ms-summary": "Environment Location",
          "x-ms-visibility": "important"
        },
        "properties": {
          "$ref": "#/definitions/EnvironmentProperties"
        }
      }
    },
    "EnvironmentProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Environment Display Name",
          "x-ms-visibility": "important"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Environment Description",
          "x-ms-visibility": "advanced"
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Environment Created Time",
          "x-ms-visibility": "important"
        },
        "lastModifiedTime": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Environment Last Modified Time",
          "x-ms-visibility": "important"
        },
        "provisioningState": {
          "enum": [
            "NotSpecified",
            "Succeeded",
            "Deleting",
            "Deleted",
            "Failed",
            "FailedDeleting"
          ],
          "type": "string",
          "x-ms-summary": "Environment Provisioning State",
          "x-ms-visibility": "important"
        },
        "creationType": {
          "enum": [
            "NotSpecified",
            "Legacy",
            "DefaultTenant",
            "User",
            "CommonDataModelLegacy",
            "Partner",
            "Developer"
          ],
          "type": "string",
          "x-ms-summary": "Environment Creation Type",
          "x-ms-visibility": "advanced"
        },
        "environmentSku": {
          "enum": [
            "NotSpecified",
            "Standard",
            "Premium",
            "Developer",
            "Basic"
          ],
          "type": "string",
          "x-ms-summary": "Environment Sku",
          "x-ms-visibility": "important"
        },
        "environmentType": {
          "enum": [
            "NotSpecified",
            "Production",
            "Sandbox"
          ],
          "type": "string",
          "x-ms-summary": "Environment Type",
          "x-ms-visibility": "advanced"
        },
        "isDefault": {
          "type": "boolean",
          "x-ms-summary": "Is Default Environment",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ApiConnectionParameters": {
      "description": "API connection parameters",
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetApi",
        "parameters": {
          "environmentName": {
            "parameter": "environmentName"
          },
          "apiName": {
            "parameter": "apiName"
          }
        },
        "value-path": "schema/items"
      }
    },
    "Connection": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Connection Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ConnectionProperties"
        }
      }
    },
    "ConnectionProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Connector Display Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "apiId": {
          "type": "string",
          "x-ms-summary": "Connector Id",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Connection Created Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Connection Last Modified Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "connectionParameters": {
          "$ref": "#/definitions/ApiConnectionParameters"
        }
      }
    },
    "Api": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Connector Name",
          "x-ms-visibility": "important"
        },
        "properties": {
          "$ref": "#/definitions/ApiProperties"
        }
      }
    },
    "ApiProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Connector Display Name",
          "x-ms-visibility": "important"
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Connection Created Time",
          "x-ms-visibility": "important"
        },
        "connectionParameters": {
          "$ref": "#/definitions/ApiConnectionParameters"
        },
        "primaryRuntimeUrl": {
          "type": "string",
          "x-ms-summary": "Connector Runtime Url",
          "x-ms-visibility": "important"
        },
        "iconUri": {
          "type": "string",
          "x-ms-summary": "Connector Icon Url",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ConnectionReferencesArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ConnectionReference"
      }
    },
    "ConnectionReferencesDictionary": {
      "type": "object",
      "properties": {},
      "additionalProperties": {
        "$ref": "#/definitions/ConnectionReference"
      }
    },
    "ConnectionReference": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "connectionName": {
          "type": "string",
          "x-ms-summary": "Connection Name",
          "x-ms-visibility": "important"
        },
        "displayName": {
          "type": "string",
          "x-ms-summary": "Connection Display Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Connector Id",
          "x-ms-visibility": "important"
        },
        "source": {
          "type": "string",
          "x-ms-summary": "Either Embedded or Invoker connection",
          "x-ms-visibility": "important"
        },
        "connectionReferenceLogicalName": {
          "type": "string",
          "x-ms-summary": "Logical name of the connection reference",
          "x-ms-visibility": "important"
        },
        "apiDefinition": {
          "$ref": "#/definitions/ApiWithoutConnectionParameters"
        }
      }
    },
    "ApiWithoutConnectionParameters": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Connector Name",
          "x-ms-visibility": "important"
        },
        "properties": {
          "$ref": "#/definitions/ApiPropertiesWithoutConnectionParameters"
        }
      }
    },
    "ApiPropertiesWithoutConnectionParameters": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Connector Display Name",
          "x-ms-visibility": "important"
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Connection Created Time",
          "x-ms-visibility": "important"
        },
        "primaryRuntimeUrl": {
          "type": "string",
          "x-ms-summary": "Connector Runtime Url",
          "x-ms-visibility": "important"
        },
        "iconUri": {
          "type": "string",
          "x-ms-summary": "Connector Icon Url",
          "x-ms-visibility": "advanced"
        },
        "isCustomApi": {
          "type": "boolean",
          "x-ms-summary": "Connector is Custom Api",
          "x-ms-visibility": "advanced"
        },
        "tier": {
          "type": "string",
          "x-ms-summary": "Connector Tier",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ConnectionWithoutConnectionParameters": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Connection Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ConnectionPropertiesWithoutConnectionParameters"
        }
      }
    },
    "ConnectionPropertiesWithoutConnectionParameters": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-summary": "Connector Display Name",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "apiId": {
          "type": "string",
          "x-ms-summary": "Connector Id",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Connection Created Time",
          "x-ms-visibility": "important",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Connection Last Modified Time",
          "x-ms-visibility": "important",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "FlowNameParameter": {
      "name": "flowName",
      "type": "string",
      "in": "path",
      "description": "Select flow",
      "required": true,
      "x-ms-summary": "Flow",
      "x-ms-dynamic-values": {
        "operationId": "ListMyFlows",
        "value-path": "name",
        "value-title": "properties/displayName",
        "value-collection": "value",
        "parameters": {
          "environmentName": {
            "parameter": "environmentName"
          }
        }
      }
    },
    "FlowRunIdParameter": {
      "name": "runId",
      "type": "string",
      "in": "path",
      "description": "The ID of the flow run to resubmit.",
      "required": true,
      "x-ms-summary": "Run ID"
    },
    "FlowTriggerNameParameter": {
      "name": "triggerName",
      "type": "string",
      "in": "path",
      "description": "Name of the flow trigger to resubmit.",
      "required": true,
      "x-ms-summary": "Trigger Name"
    },
    "AdminFlowNameParameter": {
      "name": "flowName",
      "type": "string",
      "in": "path",
      "description": "Select flow",
      "required": true,
      "x-ms-summary": "Flow",
      "x-ms-dynamic-values": {
        "operationId": "ListFlowsInEnvironment",
        "value-path": "name",
        "value-title": "properties/displayName",
        "value-collection": "value",
        "parameters": {
          "environmentName": {
            "parameter": "environmentName"
          }
        }
      }
    },
    "EnvironmentNamePathParameter": {
      "name": "environmentName",
      "type": "string",
      "in": "path",
      "description": "Select environment",
      "required": true,
      "x-ms-summary": "Environment",
      "x-ms-dynamic-values": {
        "operationId": "ListUserEnvironments",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "properties/displayName"
      }
    },
    "EnvironmentNameQueryParameter": {
      "name": "environmentName",
      "type": "string",
      "in": "query",
      "description": "Select environment",
      "required": true,
      "x-ms-summary": "Environment",
      "x-ms-dynamic-values": {
        "operationId": "ListUserEnvironments",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "properties/displayName"
      }
    },
    "ApiNameParameter": {
      "name": "apiName",
      "in": "path",
      "description": "Select connector",
      "required": true,
      "x-ms-summary": "Connector",
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "ListApis",
        "parameters": {
          "environmentName": {
            "parameter": "environmentName"
          }
        },
        "value-collection": "value",
        "value-path": "name",
        "value-title": "properties/displayName"
      }
    },
    "TopParameter": {
      "name": "$top",
      "in": "query",
      "type": "integer",
      "description": "Top count",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Top count"
    },
    "ExpandSuspensionInfoParameter": {
      "name": "expandSuspensionInfo",
      "in": "query",
      "type": "boolean",
      "description": "Expands the suspension information",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Expand Suspension Info"
    },
    "IncludeSoftDeletedFlowsQueryParameter": {
      "name": "includeSoftDeletedFlows",
      "type": "boolean",
      "in": "query",
      "description": "Whether or not to include soft-deleted flows.",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Include Soft-Deleted Flows"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://flow.microsoft.com/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/flowmanagement"
  }
}