{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Event Hubs",
    "description": "Connect to Azure Event Hubs to send and receive events.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/eventhubs",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/eventhubs": {
      "get": {
        "tags": [
          "EventHubs"
        ],
        "summary": "Get all Event Hubs in a namespace",
        "description": "Get all Event Hubs in a namespace.",
        "operationId": "GetEventHubs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#get-all-event-hubs-in-a-namespace"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/consumergroups": {
      "get": {
        "tags": [
          "EventHubs"
        ],
        "summary": "Get all the consumer groups for an event hub",
        "description": "Get all the consumer groups for an event hub.",
        "operationId": "GetConsumerGroups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eventHubName",
            "in": "query",
            "description": "The Event Hub name.",
            "required": true,
            "x-ms-summary": "The Event Hub name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#get-all-the-consumer-groups-for-an-event-hub"
        }
      }
    },
    "/{connectionId}/contenttypes": {
      "get": {
        "tags": [
          "EventHubs"
        ],
        "summary": "Get all content types",
        "description": "Get all content types.",
        "operationId": "GetContentTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#get-all-content-types"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/eventschema": {
      "get": {
        "tags": [
          "EventHubs"
        ],
        "summary": "Generate event schema",
        "description": "Generate event schema.",
        "operationId": "GenerateEventSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Content type.",
            "required": true,
            "x-ms-summary": "Content type",
            "x-ms-dynamic-values": {
              "operationId": "GetContentTypes",
              "parameters": {}
            },
            "type": "string"
          },
          {
            "name": "contentSchema",
            "in": "query",
            "description": "content schema of the event.",
            "required": false,
            "x-ms-summary": "content schema of the event",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#generate-event-schema"
        }
      }
    },
    "/{connectionId}/eventschemaV2": {
      "get": {
        "tags": [
          "EventHubs"
        ],
        "summary": "Generate event schema V2",
        "description": "Generate event schema V2.",
        "operationId": "GenerateEventSchemaV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "Content type.",
            "required": true,
            "x-ms-summary": "Content type",
            "x-ms-dynamic-values": {
              "operationId": "GetContentTypes",
              "parameters": {}
            },
            "type": "string"
          },
          {
            "name": "contentSchema",
            "in": "query",
            "description": "content schema of the event.",
            "required": false,
            "x-ms-summary": "content schema of the event",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#generate-event-schema-v2"
        }
      }
    },
    "/{connectionId}/partitions": {
      "get": {
        "tags": [
          "EventHubs"
        ],
        "summary": "Get all partition keys in an Event Hub",
        "description": "Get all partition keys in an Event Hub.",
        "operationId": "GetPartitionKeys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eventHubName",
            "in": "query",
            "description": "The Event Hub name.",
            "required": true,
            "x-ms-summary": "The Event Hub name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#get-all-partition-keys-in-an-event-hub"
        }
      }
    },
    "/{connectionId}/{eventHubName}/events/batch/head": {
      "get": {
        "tags": [
          "EventHubs"
        ],
        "summary": "When events are available in Event Hub",
        "description": "When events are available in Event Hub.",
        "operationId": "OnNewEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eventHubName",
            "in": "path",
            "description": "Name of the Event Hub.",
            "required": true,
            "x-ms-summary": "Event Hub name",
            "x-ms-dynamic-values": {
              "operationId": "GetEventHubs",
              "parameters": {}
            },
            "type": "string"
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "content type of the event.",
            "required": false,
            "x-ms-summary": "Content type",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetContentTypes",
              "parameters": {}
            },
            "type": "string",
            "default": "application/octet-stream"
          },
          {
            "name": "contentSchema",
            "in": "query",
            "description": "content schema of the event.",
            "required": false,
            "x-ms-summary": "Content schema",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "consumerGroupName",
            "in": "query",
            "description": "Name of the consumer group.",
            "required": false,
            "x-ms-summary": "Consumer group name",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetConsumerGroups",
              "parameters": {
                "eventHubName": {
                  "parameter": "eventHubName"
                }
              }
            },
            "type": "string",
            "default": "$Default"
          },
          {
            "name": "minimumPartitionKey",
            "in": "query",
            "description": "Minimum partition key to read from.",
            "required": false,
            "x-ms-summary": "Minimum partition key",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetPartitionKeys",
              "parameters": {
                "eventHubName": {
                  "parameter": "eventHubName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maximumPartitionKey",
            "in": "query",
            "description": "Maximum partition key to read from.",
            "required": false,
            "x-ms-summary": "Maximum partition key",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetPartitionKeys",
              "parameters": {
                "eventHubName": {
                  "parameter": "eventHubName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maximumEventsCount",
            "in": "query",
            "description": "Maximum number of events to read in a batch.",
            "required": false,
            "x-ms-summary": "Maximum events count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 50
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#when-events-are-available-in-event-hub"
        }
      }
    },
    "/{connectionId}/{eventHubName}/events": {
      "post": {
        "tags": [
          "EventHubs"
        ],
        "summary": "Send event",
        "description": "Send event.",
        "operationId": "SendEvent",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eventHubName",
            "in": "path",
            "description": "Name of the Event Hub.",
            "required": true,
            "x-ms-summary": "Event Hub name",
            "x-ms-dynamic-values": {
              "operationId": "GetEventHubs",
              "parameters": {}
            },
            "type": "string"
          },
          {
            "name": "eventData",
            "in": "body",
            "description": "Event to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendEvent"
            },
            "x-ms-summary": "Event data"
          },
          {
            "name": "partitionKey",
            "in": "query",
            "description": "Partition key.",
            "required": false,
            "x-ms-summary": "Partition key",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#send-event"
        }
      }
    },
    "/{connectionId}/{eventHubName}/events/batch": {
      "post": {
        "tags": [
          "EventHubs"
        ],
        "summary": "Send one or more events to the Event Hub partition",
        "description": "Send one or more events to the Event Hub partition.",
        "operationId": "SendEvents",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eventHubName",
            "in": "path",
            "description": "Name of the Event Hub.",
            "required": true,
            "x-ms-summary": "Event Hub name",
            "x-ms-dynamic-values": {
              "operationId": "GetEventHubs",
              "parameters": {}
            },
            "type": "string"
          },
          {
            "name": "events",
            "in": "body",
            "description": "One or more events to send to the Event Hub partition.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SendEvent"
              }
            },
            "x-ms-summary": "Events"
          },
          {
            "name": "partitionKey",
            "in": "query",
            "description": "Partition key.",
            "required": true,
            "x-ms-summary": "Partition key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/eventhubs/#send-one-or-more-events-to-the-event-hub-partition"
        }
      }
    }
  },
  "definitions": {
    "Object": {
      "type": "object",
      "properties": {}
    },
    "Event": {
      "description": "Event data",
      "type": "object",
      "properties": {
        "ContentData": {
          "$ref": "#/definitions/Object"
        },
        "Properties": {
          "description": "Key-value pairs for each application property",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "x-ms-summary": "Properties"
        },
        "SystemProperties": {
          "$ref": "#/definitions/SystemProperties"
        }
      },
      "additionalProperties": {
        "$ref": "#/definitions/Object"
      },
      "x-ms-dynamic-schema": {
        "operationId": "GenerateEventSchemaV2",
        "parameters": {
          "contentType": {
            "parameter": "contentType"
          },
          "contentSchema": {
            "parameter": "contentSchema"
          }
        },
        "value-path": "EventSchema"
      }
    },
    "SystemProperties": {
      "description": "Event Hub's system properties",
      "type": "object",
      "properties": {
        "EnqueuedTimeUtc": {
          "format": "date-time",
          "description": "Enqueued time",
          "type": "string",
          "x-ms-summary": "Enqueued time in UTC"
        },
        "Offset": {
          "description": "Offset in a partition",
          "type": "string",
          "x-ms-summary": "Offset"
        },
        "PartitionKey": {
          "description": "Partition Key",
          "type": "string",
          "x-ms-summary": "Partition Key"
        },
        "SequenceNumber": {
          "format": "int64",
          "description": "Sequence number",
          "type": "integer",
          "x-ms-summary": "Sequence Number"
        }
      }
    },
    "SendEvent": {
      "description": "Send Event data",
      "type": "object",
      "properties": {
        "ContentData": {
          "format": "byte",
          "description": "Content of the event",
          "type": "string",
          "x-ms-summary": "Content"
        },
        "Properties": {
          "description": "Key-value pairs for each application property",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "x-ms-summary": "Properties"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/event-hubs/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/eventhubs"
  }
}
