{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Zahara",
    "description": "Zahara is a complete purchase management platform enabling paperless approvals for supplier invoices and purchase requisition.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "url": "https://help.zaharasoftware.com/"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/zahara",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/api/CostCodeIntegration/GetAll": {
      "get": {
        "tags": [
          "CostCodesIntegrationApi"
        ],
        "summary": "New Cost Code",
        "description": "When a new cost code is created.",
        "operationId": "NewCostCode",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CostCodeIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-cost-code"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/DocumentsIntegration/GetApprovalComments": {
      "get": {
        "tags": [
          "DocumentIntegrationApi"
        ],
        "summary": "New Approval Comment",
        "description": "When a new approval comment is added at a step.",
        "operationId": "NewApprovalComment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProcessLogIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-approval-comment"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/DocumentsIntegration/GetApproved": {
      "get": {
        "tags": [
          "DocumentIntegrationApi"
        ],
        "summary": "New Document Approved",
        "description": "When a new document is approved.",
        "operationId": "NewDocumentApproved",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documentType",
            "in": "query",
            "description": "Determines what kind of document it is",
            "x-ms-summary": "Document type",
            "required": true,
            "type": "string",
            "enum": [
              "PurchaseOrder",
              "Invoice",
              "PurchaseRequisition"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProcessLogIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-document-approved"
        }
      }
    },
    "/{connectionId}/api/DraftInvoiceIntegration/Add": {
      "post": {
        "tags": [
          "DraftInvoiceIntegrationApi"
        ],
        "summary": "Create Draft Invoice",
        "description": "Creates a new draft invoice.",
        "operationId": "CreateDraftInvoice",
        "x-ms-visibility": "important",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "SenderEmail",
            "in": "formData",
            "description": "Sender Email",
            "x-ms-summary": "Sender Email",
            "required": true,
            "type": "string"
          },
          {
            "name": "RecipientEmail",
            "in": "formData",
            "description": "Receiver Email",
            "x-ms-summary": "Receiver Email",
            "required": true,
            "type": "string"
          },
          {
            "name": "RaisedDate",
            "in": "formData",
            "description": "Date",
            "x-ms-summary": "Date when invoice was raised",
            "required": false,
            "format": "date-time",
            "type": "string"
          },
          {
            "name": "File",
            "in": "formData",
            "type": "file",
            "description": "File to upload",
            "x-ms-summary": "File to upload",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#create-draft-invoice"
        }
      }
    },
    "/{connectionId}/api/InvoiceIntegration/GetAll": {
      "get": {
        "tags": [
          "InvoicesIntegrationApi"
        ],
        "summary": "New Invoice",
        "description": "When a new invoice is created.",
        "operationId": "NewInvoice",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InvoiceIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-invoice"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/InvoiceIntegration/GetExported": {
      "get": {
        "tags": [
          "InvoicesIntegrationApi"
        ],
        "summary": "New Invoice Set as Exported",
        "description": "When a new invoice is set as exported.",
        "operationId": "NewInvoiceSetAsExported",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InvoiceIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-invoice-set-as-exported"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/InvoiceIntegration/Add": {
      "post": {
        "tags": [
          "InvoicesIntegrationApi"
        ],
        "summary": "Create Invoice",
        "description": "Creates a new invoice.",
        "operationId": "CreateInvoice",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "x-ms-visibility": "important",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceAddIntegrationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#create-invoice"
        }
      }
    },
    "/{connectionId}/api/NominalCodeIntegration/GetAll": {
      "get": {
        "tags": [
          "NominalCodesIntegrationApi"
        ],
        "summary": "New Nominal Code",
        "description": "When a new nominal code is created.",
        "operationId": "NewNominalCode",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NominalCodeIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-nominal-code"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/ProjectIntegration/getall": {
      "get": {
        "tags": [
          "ProjectsIntegrationApi"
        ],
        "summary": "New Project",
        "description": "When a new project is created.",
        "operationId": "NewProject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-project"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PurchaseOrderIntegration/GetAll": {
      "get": {
        "tags": [
          "PurchaseOrderIntegration"
        ],
        "summary": "New Purchase Order",
        "description": "When a new purchase order is created.",
        "operationId": "NewPurchaseOrder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PurchaseOrderIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-purchase-order"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PurchaseOrderIntegration/GetSentToSupplier": {
      "get": {
        "tags": [
          "PurchaseOrderIntegration"
        ],
        "summary": "New Purchase Order Sent to Supplier",
        "description": "When a new purchase order is sent to supplier.",
        "operationId": "NewPurchaseOrderSentToSupplier",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PurchaseOrderIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-purchase-order-sent-to-supplier"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PurchaseOrderIntegration/Add": {
      "post": {
        "tags": [
          "PurchaseOrderIntegration"
        ],
        "summary": "Create Purchase Order",
        "description": "Creates a new purchase order.",
        "operationId": "CreatePurchaseOrder",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseOrderAddIntegrationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#create-purchase-order"
        }
      }
    },
    "/{connectionId}/api/PurchaseRequsitionIntegration/getall": {
      "get": {
        "tags": [
          "PurchaseRequsitionIntegrationApi"
        ],
        "summary": "New Purchase Requsition",
        "description": "When a new purchase requsition is created.",
        "operationId": "NewPurchaseRequsition",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PurchaseRequsitionIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-purchase-requsition"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/SupplierIntegration/GetAll": {
      "get": {
        "tags": [
          "SupplierIntegrationApi"
        ],
        "summary": "New Supplier",
        "description": "When a new supplier is created.",
        "operationId": "NewSupplier",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupplierIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-supplier"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/SupplierIntegration/GetAllUpdated": {
      "get": {
        "tags": [
          "SupplierIntegrationApi"
        ],
        "summary": "Supplier Amended",
        "description": "When an existing supplier is updated.",
        "operationId": "SupplierAmended",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupplierUpdateIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#supplier-amended"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/SupplierIntegration/Add": {
      "post": {
        "tags": [
          "SupplierIntegrationApi"
        ],
        "summary": "Create Supplier",
        "description": "Creates a new supplier.",
        "operationId": "CreateSupplier",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupplierAddIntegrationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#create-supplier"
        }
      }
    },
    "/{connectionId}/api/SupplierIntegration/Update": {
      "post": {
        "tags": [
          "SupplierIntegrationApi"
        ],
        "summary": "Update Supplier",
        "description": "Updates an existing supplier.",
        "operationId": "UpdateSupplier",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Id of supplier to update",
            "x-ms-summary": "Id of supplier to update",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "model",
            "in": "body",
            "description": "DOcument model with properties to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupplierAmendIntegrationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#update-supplier"
        }
      }
    },
    "/{connectionId}/api/TaxCodeIntegration/getall": {
      "get": {
        "tags": [
          "TaxCodesIntegrationpi"
        ],
        "summary": "New Tax Code",
        "description": "When a new tax code is created.",
        "operationId": "NewTaxCode",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TaxCodeIntegrationModel"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zahara/#new-tax-code"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "CostCodeIntegrationModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "type": "integer"
        },
        "Code": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "IsActive": {
          "type": "boolean"
        }
      }
    },
    "ProcessLogIntegrationModel": {
      "type": "object",
      "properties": {
        "ProcessToken": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "StepResult": {
          "enum": [
            "None",
            "Success",
            "Failure",
            "WaitForAction",
            "ToReprocess",
            "ProcessingWait",
            "FailedToSendToSupplier"
          ],
          "type": "string"
        },
        "Message": {
          "type": "string"
        },
        "Approved": {
          "type": "boolean"
        },
        "ActionDate": {
          "format": "date-time",
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "Comment": {
          "type": "string"
        },
        "Document": {
          "$ref": "#/definitions/DocumentSimpleIntegrationModel"
        },
        "ApprovedBy": {
          "$ref": "#/definitions/UserIntegrationModel"
        }
      }
    },
    "DocumentSimpleIntegrationModel": {
      "type": "object",
      "properties": {
        "DocumentNumber": {
          "type": "string"
        },
        "Type": {
          "enum": [
            "PurchaseOrder",
            "Invoice",
            "DeliveryNote",
            "CreditNote",
            "PurchaseRequisition"
          ],
          "type": "string"
        },
        "Status": {
          "enum": [
            "Created",
            "Approved",
            "Rejected",
            "SentToSupplier",
            "Completed",
            "Closed",
            "Draft",
            "ExportOnHold",
            "AdHocWorkflowNotFinished",
            "SendToSupplierStepFailed"
          ],
          "type": "string"
        },
        "DivisionName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        }
      }
    },
    "UserIntegrationModel": {
      "type": "object",
      "properties": {
        "UserName": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "JobTitle": {
          "type": "string"
        },
        "TelephoneNumber": {
          "type": "string"
        }
      }
    },
    "InvoiceIntegrationModel": {
      "type": "object",
      "properties": {
        "DocumentNumber": {
          "type": "string"
        },
        "PurchaseOrderNumber": {
          "type": "string"
        },
        "TotalNetValue": {
          "format": "double",
          "type": "number"
        },
        "TotalGrossValue": {
          "format": "double",
          "type": "number"
        },
        "TotalTaxValue": {
          "format": "double",
          "type": "number"
        },
        "IsCreditNote": {
          "type": "boolean"
        },
        "RaisedDate": {
          "format": "date-time",
          "type": "string"
        },
        "DueDate": {
          "format": "date-time",
          "type": "string"
        },
        "IsBasedOnAnyOrder": {
          "type": "boolean"
        },
        "CurrentExportStatus": {
          "enum": [
            "None",
            "ReadyForExport",
            "Exporting",
            "ExportComplete",
            "ExportFailed"
          ],
          "type": "string"
        },
        "SyncDate": {
          "format": "date-time",
          "type": "string"
        },
        "SyncType": {
          "enum": [
            "None",
            "Csv",
            "Sage50",
            "Sage200",
            "Xero",
            "QuickBooks",
            "MindYourOwnBusiness",
            "SapBusinessByDesign",
            "KashFlow",
            "SmartInvoice",
            "QuickBooksOnline"
          ],
          "type": "string"
        },
        "BillingAddress": {
          "$ref": "#/definitions/AddressIntegrationModel"
        },
        "DocumentId": {
          "format": "int64",
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "LastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "DeliveryAddress": {
          "$ref": "#/definitions/AddressIntegrationModel"
        },
        "Supplier": {
          "$ref": "#/definitions/SupplierSimpleIntegrationModel"
        },
        "LineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemIntegrationModel"
          }
        },
        "Type": {
          "enum": [
            "PurchaseOrder",
            "Invoice",
            "DeliveryNote",
            "CreditNote",
            "PurchaseRequisition"
          ],
          "type": "string"
        },
        "Status": {
          "enum": [
            "Created",
            "Approved",
            "Rejected",
            "SentToSupplier",
            "Completed",
            "Closed",
            "Draft",
            "ExportOnHold",
            "AdHocWorkflowNotFinished",
            "SendToSupplierStepFailed"
          ],
          "type": "string"
        },
        "DivisionName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        }
      }
    },
    "AddressIntegrationModel": {
      "type": "object",
      "properties": {
        "AddressLines": {
          "type": "string"
        },
        "Postcode": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        }
      }
    },
    "SupplierSimpleIntegrationModel": {
      "type": "object",
      "properties": {
        "SupplierName": {
          "type": "string"
        },
        "ReferenceNumber": {
          "type": "string"
        }
      }
    },
    "LineItemIntegrationModel": {
      "type": "object",
      "properties": {
        "Quantity": {
          "format": "double",
          "type": "number"
        },
        "Description": {
          "type": "string"
        },
        "NominalCode": {
          "type": "string"
        },
        "TaxCode": {
          "type": "string"
        },
        "TaxPercentage": {
          "format": "double",
          "type": "number"
        },
        "TaxValue": {
          "format": "double",
          "type": "number"
        },
        "DiscountPercentage": {
          "format": "double",
          "type": "number"
        },
        "NetValue": {
          "format": "double",
          "type": "number"
        },
        "QuantityReceived": {
          "format": "double",
          "type": "number"
        },
        "ProductCode": {
          "type": "string"
        },
        "GrossValue": {
          "format": "double",
          "type": "number"
        },
        "IsEmpty": {
          "type": "boolean"
        },
        "CostCode": {
          "type": "string"
        },
        "Price": {
          "format": "double",
          "type": "number"
        },
        "ProjectCode": {
          "type": "string"
        },
        "SupplierName": {
          "type": "string"
        },
        "ReferenceNumber": {
          "type": "string"
        }
      }
    },
    "InvoiceAddIntegrationModel": {
      "type": "object",
      "properties": {
        "InvoiceNumber": {
          "type": "string"
        },
        "PurchaseOrderNumber": {
          "type": "string"
        },
        "RaisedDate": {
          "format": "date-time",
          "type": "string"
        },
        "DueDate": {
          "format": "date-time",
          "type": "string"
        },
        "SupplierReferenceNumber": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        },
        "DivisionName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        },
        "LineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemAddIntegrationModel"
          }
        }
      }
    },
    "LineItemAddIntegrationModel": {
      "type": "object",
      "properties": {
        "CostCode": {
          "type": "string"
        },
        "Quantity": {
          "format": "double",
          "type": "number"
        },
        "Price": {
          "format": "double",
          "type": "number"
        },
        "LineDescription": {
          "type": "string"
        },
        "NominalCode": {
          "type": "string"
        },
        "TaxCode": {
          "type": "string"
        },
        "TaxValue": {
          "format": "double",
          "type": "number"
        },
        "DiscountPercentage": {
          "format": "double",
          "type": "number"
        },
        "ProductCode": {
          "type": "string"
        },
        "ProjectCode": {
          "type": "string"
        }
      }
    },
    "NominalCodeIntegrationModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "type": "integer"
        },
        "Code": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "IsActive": {
          "type": "boolean"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ProjectIntegrationModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "type": "integer"
        },
        "ProjectName": {
          "type": "string"
        },
        "ProjectCode": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Start": {
          "format": "date-time",
          "type": "string"
        },
        "End": {
          "format": "date-time",
          "type": "string"
        },
        "Status": {
          "enum": [
            "Active",
            "Inactive",
            "OnHold",
            "Completed"
          ],
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "PurchaseOrderIntegrationModel": {
      "type": "object",
      "properties": {
        "DocumentNumber": {
          "type": "string"
        },
        "RequiredDate": {
          "format": "date-time",
          "type": "string"
        },
        "TotalNetValue": {
          "format": "double",
          "type": "number"
        },
        "TotalGrossValue": {
          "format": "double",
          "type": "number"
        },
        "TotalTaxValue": {
          "format": "double",
          "type": "number"
        },
        "SupplierComment": {
          "type": "string"
        },
        "SentToSupplier": {
          "type": "boolean"
        },
        "EverSentToSupplier": {
          "type": "boolean"
        },
        "AcceptedBySupplier": {
          "type": "boolean"
        },
        "ReportStatus": {
          "type": "string"
        },
        "IsFullyReceived": {
          "type": "boolean"
        },
        "IsReceivedInExcess": {
          "type": "boolean"
        },
        "IsNotReceivedAtAll": {
          "type": "boolean"
        },
        "Requisitor": {
          "$ref": "#/definitions/UserIntegrationModel"
        },
        "DocumentId": {
          "format": "int64",
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "LastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "DeliveryAddress": {
          "$ref": "#/definitions/AddressIntegrationModel"
        },
        "Supplier": {
          "$ref": "#/definitions/SupplierSimpleIntegrationModel"
        },
        "LineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemIntegrationModel"
          }
        },
        "Type": {
          "enum": [
            "PurchaseOrder",
            "Invoice",
            "DeliveryNote",
            "CreditNote",
            "PurchaseRequisition"
          ],
          "type": "string"
        },
        "Status": {
          "enum": [
            "Created",
            "Approved",
            "Rejected",
            "SentToSupplier",
            "Completed",
            "Closed",
            "Draft",
            "ExportOnHold",
            "AdHocWorkflowNotFinished",
            "SendToSupplierStepFailed"
          ],
          "type": "string"
        },
        "DivisionName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        }
      }
    },
    "PurchaseOrderAddIntegrationModel": {
      "type": "object",
      "properties": {
        "RequisitorName": {
          "type": "string"
        },
        "RequiredDate": {
          "format": "date-time",
          "type": "string"
        },
        "SupplierReferenceNumber": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Comments": {
          "type": "string"
        },
        "DivisionName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        },
        "LineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemAddIntegrationModel"
          }
        }
      }
    },
    "PurchaseRequsitionIntegrationModel": {
      "type": "object",
      "properties": {
        "DocumentNumber": {
          "type": "string"
        },
        "RequiredDate": {
          "format": "date-time",
          "type": "string"
        },
        "TotalNetValue": {
          "format": "double",
          "type": "number"
        },
        "TotalGrossValue": {
          "format": "double",
          "type": "number"
        },
        "UsersToNotify": {
          "type": "string"
        },
        "WasPoGenerated": {
          "type": "boolean"
        },
        "Requisitor": {
          "$ref": "#/definitions/UserIntegrationModel"
        },
        "DocumentId": {
          "format": "int64",
          "type": "integer"
        },
        "Description": {
          "type": "string"
        },
        "LastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "DeliveryAddress": {
          "$ref": "#/definitions/AddressIntegrationModel"
        },
        "Supplier": {
          "$ref": "#/definitions/SupplierSimpleIntegrationModel"
        },
        "LineItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LineItemIntegrationModel"
          }
        },
        "Type": {
          "enum": [
            "PurchaseOrder",
            "Invoice",
            "DeliveryNote",
            "CreditNote",
            "PurchaseRequisition"
          ],
          "type": "string"
        },
        "Status": {
          "enum": [
            "Created",
            "Approved",
            "Rejected",
            "SentToSupplier",
            "Completed",
            "Closed",
            "Draft",
            "ExportOnHold",
            "AdHocWorkflowNotFinished",
            "SendToSupplierStepFailed"
          ],
          "type": "string"
        },
        "DivisionName": {
          "type": "string"
        },
        "CurrencyCode": {
          "type": "string"
        }
      }
    },
    "SupplierIntegrationModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "type": "integer"
        },
        "ContactName": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "LastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "Telephone": {
          "type": "string"
        },
        "VatReg": {
          "type": "string"
        },
        "DefaultNominalCode": {
          "type": "string"
        },
        "DefaultTaxCode": {
          "type": "string"
        },
        "DefaultCostCode": {
          "type": "string"
        },
        "DefaultPaymentTerms": {
          "format": "int32",
          "type": "integer"
        },
        "Notes": {
          "type": "string"
        },
        "Terms": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "IsActive": {
          "type": "boolean"
        },
        "Address": {
          "$ref": "#/definitions/AddressIntegrationModel"
        },
        "SupplierName": {
          "type": "string"
        },
        "ReferenceNumber": {
          "type": "string"
        }
      }
    },
    "SupplierUpdateIntegrationModel": {
      "type": "object",
      "properties": {
        "OriginalId": {
          "format": "int64",
          "type": "integer"
        },
        "Id": {
          "format": "int64",
          "type": "integer"
        },
        "ContactName": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "LastUpdated": {
          "format": "date-time",
          "type": "string"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        },
        "Telephone": {
          "type": "string"
        },
        "VatReg": {
          "type": "string"
        },
        "DefaultNominalCode": {
          "type": "string"
        },
        "DefaultTaxCode": {
          "type": "string"
        },
        "DefaultCostCode": {
          "type": "string"
        },
        "DefaultPaymentTerms": {
          "format": "int32",
          "type": "integer"
        },
        "Notes": {
          "type": "string"
        },
        "Terms": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "IsActive": {
          "type": "boolean"
        },
        "Address": {
          "$ref": "#/definitions/AddressIntegrationModel"
        },
        "SupplierName": {
          "type": "string"
        },
        "ReferenceNumber": {
          "type": "string"
        }
      }
    },
    "SupplierAddIntegrationModel": {
      "type": "object",
      "properties": {
        "AddressLines": {
          "type": "string"
        },
        "ContactName": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "PostCode": {
          "type": "string"
        },
        "ReferenceNumber": {
          "type": "string"
        },
        "SupplierName": {
          "type": "string"
        },
        "Telephone": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        }
      }
    },
    "SupplierAmendIntegrationModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "type": "integer"
        },
        "AddressLines": {
          "type": "string"
        },
        "ContactName": {
          "type": "string"
        },
        "CountryCode": {
          "type": "string"
        },
        "Email": {
          "type": "string"
        },
        "PostCode": {
          "type": "string"
        },
        "ReferenceNumber": {
          "type": "string"
        },
        "SupplierName": {
          "type": "string"
        },
        "Telephone": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        }
      }
    },
    "TaxCodeIntegrationModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "type": "integer"
        },
        "Code": {
          "type": "string"
        },
        "CodeName": {
          "type": "string"
        },
        "TaxPercentage": {
          "format": "double",
          "type": "number"
        },
        "Display": {
          "type": "boolean"
        },
        "DateCreated": {
          "format": "date-time",
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "x-api-key": {
      "type": "apiKey",
      "description": "API Key Authentication",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "www.zaharasoftware.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.zaharasoftware.com/privacy-policy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/zahara"
  }
}
