{
  "swagger": "2.0",
  "info": {
    "title": "Copilot for Finance",
    "description": "This connector is to communicate with copilot for finance.",
    "contact": {
      "name": "Microsoft",
      "url": "https://www.microsoft.com/en-us/microsoft-copilot/microsoft-copilot-for-finance"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "version": "1.0.0.0"
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/copilotforfinance",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/v1.0/reconciliationAi/GetTableKeysSuggestion": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Table Keys for Reconciliation",
        "description": "Get Table Keys",
        "operationId": "GetTableKeys",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tablesInformationSerializedJson": {
                  "type": "string",
                  "description": "Table Keys Suggestion Request"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copilotforfinance/#get-table-keys-for-reconciliation"
        }
      }
    },
    "/{connectionId}/api/v1.0/reconciliationAi/GenerateReconciliationReportSummary": {
      "post": {
        "tags": [
          "Generate Reconciliation Report Summary"
        ],
        "operationId": "GenerateReconciliationReportSummary",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "generateReconciliationReportSummaryRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateReconciliationReportSummaryRequest"
            },
            "x-nullable": false,
            "x-ms-summary": "Generate Reconciliation Report Summary",
            "description": "Request Generate Reconciliation Report Summary."
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Generated reconciliation report summary response",
            "schema": {
              "$ref": "#/definitions/GenerateReconciliationReportSummaryResponse"
            }
          }
        },
        "summary": "Generate Reconciliation Report Summary",
        "description": "Generate Reconciliation Report Summary.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copilotforfinance/#generate-reconciliation-report-summary"
        }
      }
    },
    "/{connectionId}/api/v1.0/reconciliationAi/GenerateReconciliationTransactionSummary": {
      "post": {
        "tags": [
          "Generate Reconciliation Transaction Summary"
        ],
        "operationId": "GenerateReconciliationTransactionSummary",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "generateReconciliationTransactionSummaryRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateReconciliationTransactionSummaryRequest"
            },
            "x-nullable": false,
            "x-ms-summary": "Generate Reconciliation Transaction Summary",
            "description": "Request Generate Reconciliation Transaction Summary."
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Generated reconciliation transaction summary response",
            "schema": {
              "$ref": "#/definitions/GenerateReconciliationTransactionSummaryResponse"
            }
          }
        },
        "summary": "Generate Reconciliation Transaction Summary",
        "description": "Generate Reconciliation Transaction Summary.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copilotforfinance/#generate-reconciliation-transaction-summary"
        }
      }
    },
    "/{connectionId}/api/v1.0/skills/performreconcilliationagentbase64": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Perform Reconciliation",
        "description": "Perform Reconciliation",
        "operationId": "Perform Reconciliation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "primaryFileContent": {
                  "type": "string",
                  "description": "primaryFileContent"
                },
                "secondaryFileContent": {
                  "type": "string",
                  "description": "secondaryFileContent"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copilotforfinance/#perform-reconciliation"
        }
      }
    },
    "/{connectionId}/api/v1.0/skills/reconciledatawithaigeneratedtablekeys": {
      "post": {
        "summary": "Reconcile Data With Ai Generated Table Keys",
        "description": "Reconcile Data With Ai Generated Table Keys",
        "operationId": "ReconcileDataWithAIGeneratedTableKeys",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReconcileDataWithAiGeneratedTableKeysRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated reconciliation report file.",
            "schema": {
              "$ref": "#/definitions/ReconciliationReport"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copilotforfinance/#reconcile-data-with-ai-generated-table-keys"
        }
      }
    },
    "/{connectionId}/api/v1.0/skills/reconciledatawithtemplate": {
      "post": {
        "summary": "Reconcile Data With a Reconciliation Template",
        "description": "Reconcile Data With a Reconciliation Template",
        "operationId": "ReconcileDataWithTemplate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReconcileDataWithTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated reconciliation report file and reconciliation summary.",
            "schema": {
              "$ref": "#/definitions/ReconciliationReportWithSummary"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copilotforfinance/#reconcile-data-with-a-reconciliation-template"
        }
      }
    },
    "/{connectionId}/api/v1.0/Skills/ReconcileGenericDataWithAiGeneratedTableKeys": {
      "post": {
        "summary": "Reconcile CSV Data With Ai Generated Table Keys",
        "description": "Reconcile CSV Data With Ai Generated Table Keys",
        "operationId": "ReconcileGenericDataWithAiGeneratedTableKeys",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "formData",
            "name": "primaryTable",
            "type": "file",
            "description": "Primary table file in csv format"
          },
          {
            "in": "formData",
            "name": "secondaryTable",
            "type": "file",
            "description": "Secondary table file in csv format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated reconciliation report file.",
            "schema": {
              "$ref": "#/definitions/ReconciliationReport"
            }
          },
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copilotforfinance/#reconcile-csv-data-with-ai-generated-table-keys"
        }
      }
    }
  },
  "definitions": {
    "GenerateReconciliationReportSummaryRequest": {
      "type": "object",
      "properties": {
        "primaryTableName": {
          "type": "string"
        },
        "secondaryTableName": {
          "type": "string"
        },
        "primaryTableMappingKeys": {
          "type": "string"
        },
        "secondaryTableMappingKeys": {
          "type": "string"
        },
        "primaryTableMonetaryColumns": {
          "type": "string"
        },
        "secondaryTableMonetaryColumns": {
          "type": "string"
        },
        "discrepancyTransactions": {
          "type": "string"
        },
        "primaryUnmatchedTransactions": {
          "type": "string"
        },
        "secondaryUnmatchedTransactions": {
          "type": "string"
        },
        "transactionSpecifications": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/TransactionSpecifications"
          }
        }
      }
    },
    "GenerateReconciliationTransactionSummaryRequest": {
      "type": "object",
      "properties": {
        "transactionType": {
          "type": "string",
          "x-ms-client-name": "transactionKind",
          "description": "Transaction type",
          "x-ms-enum": {
            "name": "TransactionType",
            "modelAsString": true,
            "values": [
              {
                "value": "PotentiallyMatched",
                "description": "Potentially Matched"
              },
              {
                "value": "ExclusiveUnmatched",
                "description": "Exclusive Unmatched"
              },
              {
                "value": "Discrepancy",
                "description": "Discrepancy"
              }
            ]
          },
          "enum": [
            "PotentiallyMatched",
            "ExclusiveUnmatched",
            "Discrepancy"
          ]
        },
        "transactionDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ReconciliationTransactionSummaryCriteria"
          }
        }
      }
    },
    "ReconciliationTransactionSummaryCriteria": {
      "type": "object",
      "properties": {
        "primaryTableDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ReconciliationTransactionSummaryTableCriteria"
          }
        },
        "secondaryTableDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/ReconciliationTransactionSummaryTableCriteria"
          }
        }
      }
    },
    "ReconciliationTransactionSummaryTableCriteria": {
      "type": "object",
      "properties": {
        "TableName": {
          "type": "string",
          "x-ms-summary": "Table Name",
          "x-nullable": true
        },
        "Columns": {
          "type": "string",
          "x-ms-summary": "Columns",
          "x-nullable": true
        },
        "MappingKeys": {
          "type": "string",
          "x-ms-summary": "Mapping Keys",
          "x-nullable": true
        },
        "MonetaryColumns": {
          "type": "string",
          "x-ms-summary": "Monetary Columns",
          "x-nullable": true
        },
        "AggregateMonetaryColumns": {
          "type": "string",
          "x-ms-summary": "Aggregate Monetary Columns",
          "x-nullable": true
        },
        "Values": {
          "type": "string",
          "x-ms-summary": "Values",
          "x-nullable": true
        }
      }
    },
    "GenerateReconciliationReportSummaryResponse": {
      "type": "object",
      "properties": {
        "reconciliationReportSummary": {
          "type": "string",
          "x-ms-summary": "Reconciliation Report Summary",
          "x-nullable": true
        }
      }
    },
    "GenerateReconciliationTransactionSummaryResponse": {
      "type": "object",
      "properties": {
        "transactionSummary": {
          "type": "string",
          "x-ms-summary": "Transaction Summary",
          "x-nullable": true
        }
      }
    },
    "TransactionSpecifications": {
      "type": "object",
      "properties": {
        "MatchedTransactionCount": {
          "type": "integer",
          "format": "int32"
        },
        "PotentiallyMatchedTransactionCount": {
          "type": "integer",
          "format": "int32"
        },
        "DiscrepancyTransactionCount": {
          "type": "integer",
          "format": "int32"
        },
        "PrimaryUnmatchedTransactionCount": {
          "type": "integer",
          "format": "int32"
        },
        "SecondaryUnmatchedTransactionCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReconcileDataWithAiGeneratedTableKeysRequest": {
      "type": "object",
      "properties": {
        "primaryFileContent": {
          "type": "string",
          "description": "Base64 encoded content of the primary file"
        },
        "secondaryFileContent": {
          "type": "string",
          "description": "Base64 encoded content of the secondary file"
        }
      },
      "required": [
        "primaryFileContent",
        "secondaryFileContent"
      ]
    },
    "ReconciliationReport": {
      "type": "object",
      "properties": {
        "fileContents": {
          "type": "string",
          "description": "Base64 encoded content of the processed file"
        },
        "contentType": {
          "type": "string",
          "description": "MIME type of the processed file"
        },
        "fileDownloadName": {
          "type": "string",
          "description": "Name of the file to be downloaded"
        }
      }
    },
    "ReconcileDataWithTemplateRequest": {
      "type": "object",
      "properties": {
        "primaryFileContent": {
          "type": "string",
          "description": "Base64 encoded content of the primary file"
        },
        "secondaryFileContent": {
          "type": "string",
          "description": "Base64 encoded content of the secondary file"
        },
        "templateId": {
          "type": "string",
          "description": "Template id"
        }
      },
      "required": [
        "primaryFileContent",
        "secondaryFileContent",
        "templateId"
      ]
    },
    "ReconciliationReportWithSummary": {
      "type": "object",
      "properties": {
        "reconciliationReport": {
          "$ref": "#/definitions/ReconciliationReport"
        },
        "reconciliationSummary": {
          "type": "string",
          "description": "Reconciliation report summary"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/copilotforfinance"
  }
}
