root = true

# Defaults
[*]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

[*.{xml,wsdl,wadl}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.{js,jsx,ts,tsx,vue,css,styl,html}]
indent_size = 2

[*.{*proj,targets,props}]
indent_size = 2

[{{packages,nuget}.config,*.nuspec}]
indent_size = 2

[*.{nim,nimble,nim.cfg}]
indent_size = 2

[*.rb]
indent_size = 2

[*.cmake]
indent_size = 2

[CMakeLists.txt]
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false
