[submodule "GitHub/thnetii/eslint-config"]
	path = .submodules/eslint-config
	url = https://github.com/thnetii/eslint-config.git
	branch = main
[submodule "GitHub/thnetii/.github"]
	path = .submodules/github-actions
	url = https://github.com/thnetii/.github.git
	branch = main
