{
  "swagger": "2.0",
  "info": {
    "description": "ArcGIS connects your automated workflows to resources from your ArcGIS organization. Access geoenrichment, geocoding, and routing services to add demographics and location information to your data. You can also use ArcGIS to create feature layers and fetch data from existing feature layers in your ArcGIS organization.",
    "title": "ArcGIS",
    "version": "2023.2.0",
    "contact": {
      "name": "Esri Power Automate Support",
      "url": "https://community.esri.com/t5/arcgis-for-power-bi-questions/bd-p/arcgis-for-power-bi-questions",
      "email": "powerautomate@esri.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/arcgis",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.arcgis.com/sharing/rest/oauth2/authorize",
      "tokenUrl": "https://www.arcgis.com/sharing/rest/oauth2/token/",
      "scopes": {
        "admin": "admin"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "admin"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.esri.com/powerbi/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.esri.com/en-us/privacy/privacy-statements/privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations; Business Intelligence"
    }
  ],
  "paths": {
    "/{connectionId}/v1/attachment/addattachment": {
      "post": {
        "summary": "Add attachment",
        "description": "Add an attachment to record in a feature layer.",
        "operationId": "AddAttachment",
        "x-ms-visibility": "important",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectId",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record associated with the attachment",
            "x-ms-summary": "Record ID",
            "required": true
          },
          {
            "name": "attachmentName",
            "in": "query",
            "type": "string",
            "description": "Name of the file that will be attached",
            "x-ms-summary": "Attachment name",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "x-ms-summary": "File content",
            "description": "File content from another action such as 'Get file content' (OneDrive, Share Point)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "type": "string",
            "description": "Keywords used to identify the attachment",
            "x-ms-summary": "Keywords",
            "required": false,
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Add attachment",
            "schema": {
              "type": "object",
              "properties": {
                "objectId": {
                  "type": "number",
                  "x-ms-summary": "Object ID"
                },
                "globalId": {
                  "type": "string",
                  "x-ms-summary": "Global ID"
                },
                "success": {
                  "type": "boolean",
                  "x-ms-summary": "Success"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#add-attachment"
        }
      }
    },
    "/{connectionId}/v1/attachment/queryattachments": {
      "get": {
        "summary": "Query attachment",
        "description": "Search for an attachment associated with a record in a feature layer.",
        "operationId": "QueryAttachment",
        "x-ms-visibility": "important",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectId",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record associated with the attachment",
            "x-ms-summary": "Record ID",
            "required": true
          },
          {
            "name": "keywords",
            "in": "query",
            "type": "string",
            "description": "Keywords used to identify the attachment",
            "x-ms-summary": "Keywords",
            "required": false,
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Query attachments",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "x-ms-summary": "Attachment Object ID"
                  },
                  "globalId": {
                    "type": "string",
                    "x-ms-summary": "Attachment Global ID"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Attachment name"
                  },
                  "contentType": {
                    "type": "string",
                    "x-ms-summary": "Content-type"
                  },
                  "size": {
                    "type": "number",
                    "x-ms-summary": "Attachment size"
                  },
                  "keywords": {
                    "type": "string",
                    "x-ms-summary": "Keywords"
                  },
                  "url": {
                    "type": "string",
                    "x-ms-summary": "Attachment URL"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#query-attachment"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/queryattachments": {
      "get": {
        "summary": "Get record attachments",
        "description": "Query attachments in a record to DynamicValues",
        "operationId": "GetAttachmentsDynamicValues",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectid",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record",
            "x-ms-summary": "Record ID",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Attachments list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "number",
                    "description": "Attachment ID"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-record-attachments"
        }
      }
    },
    "/{connectionId}/v1/attachment/getattachment": {
      "post": {
        "summary": "Get attachment",
        "description": "Get an attachment from a record in your feature layer.",
        "operationId": "GetAttachment",
        "x-ms-visibility": "important",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectid",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record associated with the attachment",
            "x-ms-summary": "Object ID",
            "required": true
          },
          {
            "in": "query",
            "x-ms-summary": "Attachment",
            "description": "Select attachment name or enter the attachment ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAttachmentsDynamicValues",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "userLayer": {
                  "parameter": "userLayer"
                },
                "objectid": {
                  "parameter": "objectid"
                }
              }
            },
            "required": true,
            "name": "attachmentId",
            "x-ms-visibility": "important",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Attachment contents",
              "description": "The content of the attachment."
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-attachment"
        }
      },
      "get": {
        "summary": "Get attachment from URL",
        "description": "Get an attachment from a record in your feature layer by using the attachment URL.",
        "operationId": "GetAttachmentFromUrl",
        "x-ms-visibility": "important",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "attachmentUrl",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Attachment Url",
            "description": "The URL associated with the attachment in a record in your feature layer.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Attachment contents",
              "description": "The content of the attachment."
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-attachment-from-url"
        }
      }
    },
    "/{connectionId}/v1/attachment/deleteAttachments": {
      "post": {
        "summary": "Delete attachment",
        "description": "Delete an attachment from a record in your feature layer.",
        "operationId": "DeleteAttachment",
        "x-ms-visibility": "important",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectid",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record associated with the attachment.",
            "x-ms-summary": "Record ID",
            "required": true
          },
          {
            "name": "attachmentId",
            "in": "query",
            "type": "number",
            "description": "The ID of the attachment in a record from your feature layer.",
            "x-ms-summary": "Attachment ID",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Delete attachment",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "objectId": {
                    "type": "number",
                    "x-ms-summary": "Object ID"
                  },
                  "globalId": {
                    "type": "string",
                    "x-ms-summary": "Global ID"
                  },
                  "success": {
                    "type": "boolean",
                    "x-ms-summary": "Success"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#delete-attachment"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/featureservice/userlayers": {
      "get": {
        "summary": "Get feature layers",
        "operationId": "GetFeatureLayers",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get user's feature layers",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Feature layer name",
                    "type": "string",
                    "description": "Feature layer"
                  },
                  "id": {
                    "type": "string",
                    "description": "Feature layer id"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-feature-layers"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/featureservice/getlayerfields": {
      "get": {
        "summary": "Get fields",
        "operationId": "GetFeatureLayerFields",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/userLayer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Fields list",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-fields"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/featureservice": {
      "get": {
        "summary": "Retrieve response schema",
        "operationId": "GetFeatureLayerResponseSchema",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#retrieve-response-schema"
        }
      }
    },
    "/{connectionId}/v1/featurelayer/getfeatures": {
      "get": {
        "summary": "Get data from feature layer",
        "description": "Connect to a feature layer in ArcGIS and pull its data and attributes into your existing dataset or create a new one. This data can be used to create new maps in all ArcGIS for Microsoft 365 products.",
        "operationId": "GetFeatureLayerData",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "deprecated": false,
        "x-ms-capabilities": {
          "chunkTransfer": true
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "$ref": "#/parameters/layerField"
          },
          {
            "$ref": "#/parameters/comparison"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "in": "query",
            "name": "parameter",
            "description": "Enter a value to search",
            "type": "string",
            "x-ms-summary": "Search parameter value",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "type": "number",
            "x-ms-summary": "Starting count",
            "description": "When batching, this value is the starting point of the query",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string",
            "x-ms-summary": "Where",
            "description": "Input a WHERE clause to filter records in your search",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "returnGeometry",
            "type": "boolean",
            "default": "true",
            "x-ms-summary": "Return geometry",
            "description": "Return geometry",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter list success",
            "headers": {
              "hasMoreData": {
                "type": "string",
                "x-ms-summary": "Dataset has additional data",
                "description": "Whether layer has additional data that satisfies the query"
              },
              "offset": {
                "type": "number",
                "x-ms-summary": "Current offset",
                "description": "Current offset of the data"
              }
            },
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetFeatureLayerResponseSchema",
                "value-path": "schemas",
                "parameters": {
                  "userLayer": {
                    "parameter": "userLayer"
                  },
                  "format": {
                    "parameter": "format"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-data-from-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/featurelayer/createfeature": {
      "post": {
        "summary": "Create a record in a feature layer",
        "description": "This action adds a new record to a feature layer.",
        "operationId": "CreateItemInFeatureLayer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchemaForCreateUpdateFeaturesAction",
                "value-path": "schemas",
                "parameters": {
                  "parameter": "createfeature",
                  "userLayer": {
                    "parameter": "userLayer"
                  },
                  "contentFilter": {
                    "parameter": "contentFilter"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Create status",
                  "x-ms-summary": "Create operation success status"
                },
                "objectId": {
                  "type": "number",
                  "description": "Object ID of the record created",
                  "x-ms-summary": "Object ID"
                },
                "globalId": {
                  "type": "string",
                  "description": "Global ID of the record created",
                  "x-ms-summary": "Global ID"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#create-a-record-in-a-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/featurelayer/updatefeature": {
      "post": {
        "summary": "Update a record in a feature layer",
        "description": "This action updates an existing record in a feature layer.",
        "operationId": "UpdateItemInFeatureLayer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "in": "query",
            "x-ms-summary": "Unique ID field",
            "description": "Select an unique ID field in the feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayerFields",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "userLayer": {
                  "parameter": "userLayer"
                }
              }
            },
            "required": true,
            "name": "idField",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchemaForCreateUpdateFeaturesAction",
                "value-path": "schemas",
                "parameters": {
                  "parameter": "updatefeature",
                  "userLayer": {
                    "parameter": "userLayer"
                  },
                  "idField": {
                    "parameter": "idField"
                  },
                  "contentFilter": {
                    "parameter": "contentFilter"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Update status",
                  "x-ms-summary": "Update operation success status"
                },
                "objectId": {
                  "type": "number",
                  "description": "Object ID of the record updated",
                  "x-ms-summary": "Object ID"
                },
                "globalId": {
                  "type": "string",
                  "description": "Global ID of the updated record",
                  "x-ms-summary": "Global ID"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#update-a-record-in-a-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/featurelayer/deletefeature": {
      "post": {
        "summary": "Delete a record from feature layer",
        "description": "This action deletes one or many records from a feature layer using IDs.",
        "operationId": "DeleteItemInFeatureLayer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "in": "query",
            "x-ms-summary": "Unique ID field",
            "description": "Select an unique ID field in the feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayerFields",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "userLayer": {
                  "parameter": "userLayer"
                }
              }
            },
            "required": true,
            "name": "idField",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "in": "body",
            "name": "data",
            "schema": {
              "type": "object",
              "properties": {
                "deletedIds": {
                  "type": "string",
                  "x-ms-summary": "Delete records",
                  "description": "A list or single value of IDs used to identify the deleted items. The IDs provided must match the IDs used in the feature layer. Multiple IDs can be added and separated by a comma."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "boolean",
                    "description": "Delete operation success status",
                    "x-ms-summary": "Delete status"
                  },
                  "objectId": {
                    "type": "number",
                    "description": "Object ID of the record deleted",
                    "x-ms-summary": "Object ID"
                  },
                  "globalId": {
                    "type": "string",
                    "description": "Global ID of the deleted record",
                    "x-ms-summary": "Global ID"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#delete-a-record-from-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/crud/{parameter}": {
      "get": {
        "summary": "Retrieve response schema",
        "operationId": "GetDynamicSchemaForCreateUpdateFeaturesAction",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "parameter",
            "type": "string",
            "required": true
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "in": "query",
            "required": false,
            "name": "idField",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#retrieve-response-schema"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/featurelayer": {
      "get": {
        "summary": "Retrieve form schema",
        "operationId": "GetFeatureLayersSchema",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/locationType"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#retrieve-form-schema"
        }
      }
    },
    "/{connectionId}/v1/createfeaturelayer": {
      "post": {
        "summary": "Create feature layer",
        "description": "Create a feature layer in ArcGIS using data from an existing source, such as a SharePoint list. A feature layer is a grouping of similar geographic features, for example, buildings, parcels, cities, roads, and earthquake epicenters. Features can be points, lines, or polygons (areas). Feature layers are most appropriate for visualizing data on top of a basemap.",
        "operationId": "CreateFeatureLayer",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "layerTitle",
            "type": "string",
            "x-ms-summary": "Title",
            "description": "Title of the new feature layer",
            "required": true
          },
          {
            "$ref": "#/parameters/locationType"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetFeatureLayersSchema",
                "value-path": "schemas",
                "parameters": {
                  "locationType": {
                    "parameter": "locationType"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "serviceItemId": {
                  "type": "string",
                  "description": "Service item ID",
                  "x-ms-summary": "Service item ID"
                },
                "serviceurl": {
                  "type": "string",
                  "description": "Service URL",
                  "x-ms-summary": "Service URL"
                },
                "type": {
                  "type": "string",
                  "description": "Service type created",
                  "x-ms-summary": "Service type"
                },
                "locationType": {
                  "type": "string",
                  "description": "Location type used to match location",
                  "x-ms-summary": "Location type"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#create-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/geocode/country": {
      "get": {
        "summary": "Get list of countries",
        "description": "Geocoding-countries",
        "operationId": "GetGeocodingCountries",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Country list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Country code"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-list-of-countries"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/findaddresscandidates": {
      "post": {
        "summary": "Find address candidate",
        "description": "Locate a single address using a geocode service resource. This resource provides information about candidates, including the address, location, and match score.  The result of this operation is a list of address candidates.",
        "operationId": "FindAddressCandidates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "forStorage",
            "type": "boolean",
            "required": true,
            "description": "Specifies whether the results of the operation will be persisted.",
            "default": true,
            "x-ms-summary": "Store results?"
          },
          {
            "in": "query",
            "name": "address",
            "type": "string",
            "description": "Address",
            "x-ms-summary": "Address",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "region",
            "type": "string",
            "description": "Region",
            "x-ms-summary": "Region",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "city",
            "type": "string",
            "description": "City",
            "x-ms-summary": "City",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "postal",
            "type": "string",
            "description": "ZIP or postal code",
            "x-ms-summary": "ZIP or postal code",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "country",
            "x-ms-summary": "Country",
            "x-ms-dynamic-values": {
              "operationId": "GetGeocodingCountries",
              "value-path": "id",
              "value-title": "name"
            },
            "required": false,
            "description": "Select a country",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "in": "query",
            "name": "locationType",
            "type": "string",
            "x-ms-summary": "Match type",
            "description": "Specifies whether to use rooftop or street entrance location for the geometry output",
            "enum": [
              "Rooftop",
              "Street"
            ],
            "x-ms-visibility": "advanced",
            "default": "Rooftop"
          },
          {
            "$ref": "#/parameters/srs"
          }
        ],
        "responses": {
          "200": {
            "description": "request success",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Full address",
                  "description": "The locations of your data listed either as single line or multi-line results"
                },
                "countryCode": {
                  "type": "string",
                  "x-ms-summary": "Country code",
                  "description": "The country where the locations are based"
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "City",
                  "description": "The city where the locations are based"
                },
                "Geometry": {
                  "type": "object",
                  "description": "Geometry object.",
                  "properties": {
                    "x": {
                      "type": "number",
                      "description": "Longitude (X)",
                      "x-ms-summary": "Longitude (X)"
                    },
                    "y": {
                      "type": "number",
                      "description": "Latitude (Y)",
                      "x-ms-summary": "Latitude (Y)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error message",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message returned from API"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#find-address-candidate"
        }
      }
    },
    "/{connectionId}/v1/geocodeaddresses": {
      "post": {
        "summary": "Geocode addresses",
        "description": "Find multiple (batch) addresses, place-names, and businesses and then display that information on a map. This data can be added to an existing dataset or you can create a new one. This data can be used to create new maps in all ArcGIS for Microsoft 365 products.",
        "operationId": "GeocodeAddresses",
        "x-ms-visibility": "important",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "addresses"
              ],
              "properties": {
                "addresses": {
                  "type": "string",
                  "description": "Array of addresses with well formed fields",
                  "x-ms-summary": "Addresses",
                  "x-ms-visibility": "important",
                  "required": [
                    "addresses"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "spatialReference": {
                  "type": "object",
                  "properties": {
                    "wkid": {
                      "type": "number",
                      "description": "Well-known ID",
                      "x-ms-summary": "Spatial reference ID"
                    }
                  }
                },
                "locations": {
                  "type": "array",
                  "description": "Array of geocoded locations",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "x-ms-summary": "Address",
                        "description": "Full address"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "ResultID": {
                            "type": "number",
                            "x-ms-summary": "Address ID",
                            "description": "This value contains the ID of your geocoding request. Use this value for specifying the item to act on in other actions such as matching Ids in a list."
                          }
                        }
                      },
                      "location": {
                        "type": "object",
                        "description": "Geometry as x and y json",
                        "properties": {
                          "x": {
                            "type": "number",
                            "x-ms-summary": "Longitude (X)"
                          },
                          "y": {
                            "type": "number",
                            "x-ms-summary": "Latitude (Y)"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#geocode-addresses"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/geoenrichment/country": {
      "get": {
        "summary": "Get list of countries",
        "description": "Geoenrichment-countries",
        "operationId": "GetGeoenrichmentCountries",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Country list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-list-of-countries"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/dynamicvalues/geoenrichment/datacollection": {
      "get": {
        "summary": "Get data collections available for the country",
        "operationId": "GetGeoenrichmentDataCollections",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/country"
          }
        ],
        "responses": {
          "200": {
            "description": "Data collection list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Data collection name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-data-collections-available-for-the-country"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/geoenrichment/parameter": {
      "get": {
        "summary": "Get data collections available for the country",
        "operationId": "GetGeoenrichmentParameters",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/country"
          },
          {
            "$ref": "#/parameters/datacollection"
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-data-collections-available-for-the-country"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/geoenrichment": {
      "get": {
        "summary": "Retrieve form schema (deprecated)",
        "description": "Returns the schema for the specified form. (deprecated)",
        "operationId": "GetGeoenrichmentSchema",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/areatype"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GeoenrichmentDS",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#retrieve-form-schema-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/dynamicschema/geoenrichment": {
      "get": {
        "summary": "Retrieve form schema",
        "operationId": "GetGeoenrichmentSchema_V2",
        "x-ms-visibility": "internal",
        "description": "Returns the schema for the specified form",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/buffertype"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GeoenrichmentDS",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#retrieve-form-schema"
        }
      }
    },
    "/{connectionId}/v1/geoenrichment/enrich": {
      "post": {
        "summary": "Geoenrichment (deprecated)",
        "description": "Get facts about a location or area. Using the GeoEnrichment service, you can get information about the people, places, and businesses in a specific area or within a certain distance or drive time from a location. (deprecated)",
        "operationId": "Geoenrich",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "studyarea",
            "required": true,
            "type": "string",
            "x-ms-summary": "Study area",
            "description": "Address or geometry"
          },
          {
            "$ref": "#/parameters/country"
          },
          {
            "$ref": "#/parameters/datacollection"
          },
          {
            "$ref": "#/parameters/parameter"
          },
          {
            "$ref": "#/parameters/areatype"
          },
          {
            "in": "body",
            "name": "query",
            "required": false,
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetGeoenrichmentSchema",
                "value-path": "schemas",
                "parameters": {
                  "areatype": {
                    "parameter": "areatype"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          },
          {
            "$ref": "#/parameters/srs"
          }
        ],
        "responses": {
          "200": {
            "description": "geoenrichment success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "number",
                  "description": "Geoenrichment variable value",
                  "title": "Value of the variable",
                  "x-ms-summary": "Parameter value"
                },
                "parameterName": {
                  "type": "string",
                  "description": "The name of the variable that is being analyzed during the geoenrichment process.",
                  "title": "Name of the variable",
                  "x-ms-summary": "Parameter name"
                },
                "units": {
                  "type": "string",
                  "description": "Parameter units",
                  "title": "Units",
                  "x-ms-summary": "Units"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "Geoenrichment",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#geoenrichment-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/geoenrichment/enrich": {
      "post": {
        "summary": "Geoenrichment",
        "description": "Get facts about a location or area. Using the GeoEnrichment service, you can get information about the people, places, and businesses in a specific area or within a certain distance or drive time from a location.",
        "operationId": "Geoenrich_V2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/country"
          },
          {
            "$ref": "#/parameters/datacollection"
          },
          {
            "$ref": "#/parameters/parameter"
          },
          {
            "$ref": "#/parameters/buffertype"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetGeoenrichmentSchema_V2",
                "value-path": "schemas",
                "parameters": {
                  "buffertype": {
                    "parameter": "buffertype"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "geoenrichment success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "number",
                  "description": "Geoenrichment variable value",
                  "title": "Value of the variable",
                  "x-ms-summary": "Parameter value"
                },
                "parameterName": {
                  "type": "string",
                  "description": "The name of the variable that is being analyzed during the geoenrichment process.",
                  "title": "Name of the variable",
                  "x-ms-summary": "Parameter name"
                },
                "units": {
                  "type": "string",
                  "description": "Parameter units",
                  "title": "Units",
                  "x-ms-summary": "Units"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "Geoenrichment",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#geoenrichment"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/featurelayer/getlayers": {
      "get": {
        "summary": "Get group layers",
        "operationId": "GetFLGroupLayers",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/searchterm"
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-group-layers"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/featurelayer/getfields": {
      "get": {
        "summary": "Get fields",
        "operationId": "GetFLFields",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/layer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Fields list",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-fields"
        }
      }
    },
    "/{connectionId}/v1/geometry": {
      "get": {
        "summary": "Get geometry from feature layer",
        "description": "Get geometry or boundary information from a feature layer and export it as Esri JSON or to a shape column in your dataset. This data can be used in all ArcGIS for Microsoft 365 products.",
        "operationId": "GetFLBoundaries",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/searchterm"
          },
          {
            "$ref": "#/parameters/layer"
          },
          {
            "$ref": "#/parameters/field"
          },
          {
            "in": "query",
            "name": "parameter",
            "description": "Enter the search parameter",
            "type": "string",
            "x-ms-summary": "Search parameter",
            "required": true
          },
          {
            "in": "query",
            "name": "f",
            "x-ms-summary": "Geometry output format",
            "description": "Geometry output format",
            "type": "string",
            "enum": [
              "JSON",
              "GEOJSON"
            ],
            "default": "JSON",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "query",
            "x-ms-summary": "Second Field",
            "x-ms-dynamic-values": {
              "operationId": "GetFLFields",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "layer": {
                  "parameter": "layer"
                }
              }
            },
            "required": false,
            "name": "field2",
            "description": "Select a field",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "in": "query",
            "name": "parameter2",
            "description": "Enter the second search parameter",
            "type": "string",
            "x-ms-summary": "Second search parameter",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get geometry success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "x-ms-summary": "Geometry object",
                  "description": "Geometry object as a JSON string"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-geometry-from-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/routing": {
      "post": {
        "summary": "Point to point routing",
        "description": "Create point-to-point routes. Points in a route can visited in the order you specify or in the order that minimizes overall travel time or distance. Routes represent the quickest or shortest path along roads to visit stops or point locations.",
        "operationId": "GetRoute",
        "x-ms-visibility": "important",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "routing",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "stops"
              ],
              "properties": {
                "stops": {
                  "type": "string",
                  "description": "Stops as Latitude (Y) and Longitude (X), features, or feature service",
                  "x-ms-summary": "Routing stops",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          {
            "name": "travelModeName",
            "in": "query",
            "description": "Choose the mode of transportation for the analysis",
            "x-ms-summary": "Travel mode",
            "type": "string",
            "x-ms-visibility": "important",
            "required": false,
            "enum": [
              "Automobiles",
              "Truck",
              "Walk"
            ]
          },
          {
            "name": "findBestSequence",
            "in": "query",
            "description": "Specify whether the service should reorder stops to find the optimized route",
            "x-ms-summary": "Find best route",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "name": "preserveFirstStop",
            "in": "query",
            "description": "Indicate whether the service should keep the first stop fixed when reordering the stops",
            "x-ms-summary": "Preserve first stop",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "name": "returnDirections",
            "in": "query",
            "description": "Specify whether the service should generate driving directions for each route",
            "x-ms-summary": "Return directions",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false,
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Directions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "x-ms-summary": "Direction text"
                      }
                    }
                  }
                },
                "Name": {
                  "type": "string",
                  "x-ms-description": "Route name",
                  "description": "Name of the route"
                },
                "Kilometers": {
                  "type": "number",
                  "x-ms-summary": "Distance in kilometers",
                  "description": "Route distance in kilometers"
                },
                "Miles": {
                  "type": "number",
                  "x-ms-summary": "Distance in miles",
                  "description": "Route distance in miles"
                },
                "TravelTime": {
                  "type": "number",
                  "x-ms-summary": "Travel time",
                  "description": "Estimated travel time in minutes"
                },
                "Geometry": {
                  "type": "object",
                  "x-ms-summary": "Route geometry",
                  "description": "Geometry object of the route"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#point-to-point-routing"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/coordinatesystems": {
      "get": {
        "summary": "Get spatial reference systems",
        "description": "Coordinate systems",
        "operationId": "GetSRS",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get SRS",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Spatial reference system name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "number",
                    "description": "Well-known ID"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-spatial-reference-systems"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/dynamicvalues/layersearchoptions": {
      "get": {
        "summary": "Get layer search options",
        "description": "Layer search options",
        "operationId": "GetLayerSearchOptions",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Layer Search",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#get-layer-search-options"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/createwebhook/featurescreated": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "layerId": {
                "type": "number",
                "x-ms-summary": "Feature layer ID",
                "description": "The unique layer ID for the feature layer."
              },
              "changesUrl": {
                "type": "string",
                "x-ms-summary": "Changes URL",
                "description": "The URL of the feature service where you are listening for changes."
              }
            }
          }
        },
        "description": "Webhook payload",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "When a record is created in a feature layer",
        "description": "This action triggers a flow when a record is created in your feature layer.",
        "operationId": "WebhookFLCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": "hookUrl"
                    }
                  },
                  "description": "config",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "config"
              ]
            }
          },
          {
            "x-ms-summary": "Feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "contentFilter": "Webhook"
              }
            },
            "required": true,
            "in": "query",
            "name": "userLayer",
            "description": "Feature layers owned by the user that have changes tracking enabled.",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "Webhook created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "x-ms-summary": "Webhook ID"
                },
                "url": {
                  "type": "string",
                  "x-ms-summary": "Trigger URL"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#when-a-record-is-created-in-a-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/webhook/createwebhook/featuresdeleted": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "layerId": {
                "type": "number",
                "x-ms-summary": "Feature layer ID",
                "description": "The unique layer ID for the feature layer."
              },
              "changesUrl": {
                "type": "string",
                "x-ms-summary": "Changes URL",
                "description": "The URL of the feature service where you are listening for changes."
              }
            }
          }
        },
        "description": "Webhook payload",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "When a record is deleted from a feature layer",
        "description": "This action triggers a flow when a record is deleted in a feature layer.",
        "operationId": "WebhookFLDeleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": "hookUrl"
                    }
                  },
                  "description": "config",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "config"
              ]
            }
          },
          {
            "x-ms-summary": "Feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "contentFilter": "Webhook"
              }
            },
            "required": true,
            "in": "query",
            "name": "userLayer",
            "description": "Feature layers owned by the current user. Layers listed here have the \"track changes\" option enabled.",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "Webhook created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "x-ms-summary": "Webhook ID"
                },
                "url": {
                  "type": "string",
                  "x-ms-summary": "Trigger URL"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#when-a-record-is-deleted-from-a-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/webhook/createwebhook/featuresupdated": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "layerId": {
                "type": "number",
                "x-ms-summary": "Feature layer ID",
                "description": "The unique layer ID for the feature layer."
              },
              "changesUrl": {
                "type": "string",
                "x-ms-summary": "Changes URL",
                "description": "The URL of the feature service where you are listening for changes."
              }
            }
          }
        },
        "description": "Webhook payload",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "When a record is updated in a feature layer",
        "description": "This action triggers a flow when a record is updated in a feature layer.",
        "operationId": "WebhookFLEdited",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": "hookUrl"
                    }
                  },
                  "description": "config",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "config"
              ]
            }
          },
          {
            "x-ms-summary": "Feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "contentFilter": "Webhook"
              }
            },
            "required": true,
            "in": "query",
            "name": "userLayer",
            "description": "Feature layers owned by the current user. Layers listed here have the \"track changes\" option enabled.",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "Webhook created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "x-ms-summary": "Webhook ID"
                },
                "url": {
                  "type": "string",
                  "x-ms-summary": "Trigger URL"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#when-a-record-is-updated-in-a-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/webhook/createwebhook/attachmentscreated": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "layerId": {
                "type": "number",
                "x-ms-summary": "Feature layer ID",
                "description": "The unique layer ID for the feature layer."
              },
              "changesUrl": {
                "type": "string",
                "x-ms-summary": "Changes URL",
                "description": "The URL of the feature service where you are listening for changes."
              }
            }
          }
        },
        "description": "Webhook payload",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "When an attachment is created",
        "description": "This action triggers a flow when an attachment is created in a record in your feature layer.",
        "operationId": "WebhookAttachmentCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": "hookUrl"
                    }
                  },
                  "description": "config",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "config"
              ]
            }
          },
          {
            "x-ms-summary": "Feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "contentFilter": "Webhook"
              }
            },
            "required": true,
            "in": "query",
            "name": "userLayer",
            "description": "Feature layers owned by the user that have changes tracking enabled.",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "Webhook created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "x-ms-summary": "Webhook ID"
                },
                "url": {
                  "type": "string",
                  "x-ms-summary": "Trigger URL"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#when-an-attachment-is-created"
        }
      }
    },
    "/{connectionId}/v1/webhook/createwebhook/attachmentsupdated": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "layerId": {
                "type": "number",
                "x-ms-summary": "Feature layer ID",
                "description": "The unique layer ID for the feature layer."
              },
              "changesUrl": {
                "type": "string",
                "x-ms-summary": "Changes URL",
                "description": "The URL of the feature service where you are listening for changes."
              }
            }
          }
        },
        "description": "Webhook payload",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "When an attachment is updated",
        "description": "This action triggers a flow when an attachment is updated in your feature layer.",
        "operationId": "WebhookAttachmentUpdated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": "hookUrl"
                    }
                  },
                  "description": "config",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "config"
              ]
            }
          },
          {
            "x-ms-summary": "Feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "contentFilter": "Webhook"
              }
            },
            "required": true,
            "in": "query",
            "name": "userLayer",
            "description": "Feature layers owned by the user that have changes tracking enabled.",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "Webhook created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "x-ms-summary": "Webhook ID"
                },
                "url": {
                  "type": "string",
                  "x-ms-summary": "Trigger URL"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#when-an-attachment-is-updated"
        }
      }
    },
    "/{connectionId}/v1/webhook/createwebhook/attachmentsdeleted": {
      "x-ms-notification-content": {
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "layerId": {
                "type": "number",
                "x-ms-summary": "Feature layer ID",
                "description": "The unique layer ID for the feature layer."
              },
              "changesUrl": {
                "type": "string",
                "x-ms-summary": "Changes URL",
                "description": "The URL of the feature service where you are listening for changes."
              }
            }
          }
        },
        "description": "Webhook payload",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "When an attachment is deleted",
        "description": "This action triggers a flow when an attachment is deleted in your feature layer.",
        "operationId": "WebhookAttachmentDeleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal",
                      "title": "hookUrl"
                    }
                  },
                  "description": "config",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "config"
              ]
            }
          },
          {
            "x-ms-summary": "Feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "contentFilter": "Webhook"
              }
            },
            "required": true,
            "in": "query",
            "name": "userLayer",
            "description": "Feature layers owned by the user that have changes tracking enabled.",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "Webhook created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number",
                  "x-ms-summary": "Webhook ID"
                },
                "url": {
                  "type": "string",
                  "x-ms-summary": "Trigger URL"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#when-an-attachment-is-deleted"
        }
      }
    },
    "/{connectionId}/v1/webhook/fetchlayerchanges": {
      "post": {
        "summary": "Fetch updates, changes, or deletions from feature layer",
        "description": "Fetch the updates, changes, or deletions that were made to your selected feature layer. This action is used in conjunction with the trigger on your feature service.",
        "operationId": "WebhookGet",
        "x-ms-visibility": "important",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "changesUrl",
            "in": "query",
            "type": "string",
            "description": "Select the Changes URL option from the Dynamic content pane.",
            "x-ms-summary": "Get changes from",
            "required": true
          },
          {
            "x-ms-summary": "Feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "contentFilter": "Webhook"
              }
            },
            "required": true,
            "in": "query",
            "name": "userLayer",
            "description": "Name of the feature layer that was changed, updated, or deleted.",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "layerId",
            "in": "query",
            "type": "number",
            "description": "Select the Feature layer ID option from the Dynamic content pane.",
            "x-ms-summary": "Feature layer ID",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Changes and updates requested",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetFeatureLayerResponseSchemaForWebhook",
                "value-path": "schemas",
                "parameters": {
                  "userLayer": {
                    "parameter": "userLayer"
                  },
                  "contentFilter": "Webhook"
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#fetch-updates%2c-changes%2c-or-deletions-from-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/webhook/getchanges": {
      "get": {
        "summary": "Retrieve response schema",
        "operationId": "GetFeatureLayerResponseSchemaForWebhook",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "$ref": "#/parameters/contentFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgis/#retrieve-response-schema"
        }
      }
    }
  },
  "parameters": {
    "comparison": {
      "in": "query",
      "name": "comparison",
      "x-ms-summary": "Comparison type",
      "description": "Search for values using a comparison operator such as \"equal to\" or \"greater than\"",
      "type": "string",
      "enum": [
        "Like",
        "Is not null",
        "Greater than",
        "Greater or equal to",
        "Equal to",
        "Less than or equal to",
        "Less than"
      ]
    },
    "format": {
      "in": "query",
      "name": "format",
      "x-ms-summary": "Output format",
      "description": "Select return format type",
      "type": "string",
      "enum": [
        "CSV",
        "JSON"
      ],
      "default": "CSV",
      "x-ms-visibility": "important",
      "required": true
    },
    "layerField": {
      "x-ms-summary": "Available fields",
      "x-ms-dynamic-values": {
        "operationId": "GetFeatureLayerFields",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "userLayer": {
            "parameter": "userLayer"
          }
        }
      },
      "required": false,
      "in": "query",
      "name": "field",
      "description": "Select an attribute from the ArcGIS feature layer",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "locationType": {
      "name": "locationType",
      "in": "query",
      "description": "Type of location information in the columns",
      "x-ms-summary": "Location type",
      "type": "string",
      "enum": [
        "Automatic (find in file)",
        "Address",
        "Coordinates"
      ],
      "default": "Automatic (find in file)",
[...]
