{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Dynamics 365 Customer Voice",
    "description": "Use Dynamics 365 Customer Voice to quickly create and send customized surveys to keep in close contact with your customers. View responses in automatically generated reports that highlight important trends and flag outlier scores for immediate attention. Track the customer metrics that matter the most to your business to make informed decisions.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/microsoftformspro",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/getFormsPipeData": {
      "get": {
        "description": "Retrieves the schema of the pipes configured in this survey.",
        "summary": "Retrieves the schema of the pipes configured in this survey",
        "operationId": "getFormsPipeData",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FormId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftformspro/#retrieves-the-schema-of-the-pipes-configured-in-this-survey"
        }
      }
    },
    "/{connectionId}/api/sendmail/flow": {
      "post": {
        "summary": "Send a survey",
        "description": "This action sends a survey to a specified list of recipients and creates a survey invitation for each recipient.",
        "operationId": "sendSurvey",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/to"
          },
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/FormId"
          },
          {
            "$ref": "#/parameters/EmailTemplateId"
          },
          {
            "$ref": "#/parameters/Regarding"
          },
          {
            "$ref": "#/parameters/RecipientInfo"
          },
          {
            "$ref": "#/parameters/firstName"
          },
          {
            "$ref": "#/parameters/lastName"
          },
          {
            "$ref": "#/parameters/pipeData"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftformspro/#send-a-survey"
        }
      }
    },
    "/{connectionId}/api/Projects": {
      "get": {
        "summary": "Retrieve user owned and shared projects",
        "description": "Retrieve user owned and shared projects.",
        "operationId": "GetProject",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftformspro/#retrieve-user-owned-and-shared-projects"
        }
      }
    },
    "/{connectionId}/api/getsurveylist": {
      "get": {
        "summary": "Retrieve user owned and shared surveys",
        "description": "Retrieve user owned and shared surveys.",
        "operationId": "GetSurvey",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ProjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SurveyList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftformspro/#retrieve-user-owned-and-shared-surveys"
        }
      }
    },
    "/{connectionId}/api/getemailTemplatelist": {
      "get": {
        "summary": "Retrieve user email templates",
        "description": "Retrieve user email templates.",
        "x-ms-visibility": "internal",
        "operationId": "GetTemplates",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FormId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftformspro/#retrieve-user-email-templates"
        }
      }
    },
    "/{connectionId}/api/createinvite": {
      "post": {
        "summary": "Create an invitation",
        "description": "This action creates a survey invitation and returns a personalized invitation link.",
        "operationId": "createSurveyInvite",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "InvitationId": {
                  "type": "string",
                  "description": " The unique identifier of the created survey invitation.",
                  "title": "Invitation Id"
                },
                "Invitationlink": {
                  "type": "string",
                  "description": "The personalized invitation link of the survey.",
                  "title": "Invitation link"
                },
                "Unsubscribelink": {
                  "type": "string",
                  "description": "The unsubscribe link of the survey.",
                  "title": "Unsubscribe link"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ProjectId"
          },
          {
            "$ref": "#/parameters/FormId"
          },
          {
            "$ref": "#/parameters/Email"
          },
          {
            "$ref": "#/parameters/subject"
          },
          {
            "$ref": "#/parameters/firstName"
          },
          {
            "$ref": "#/parameters/lastName"
          },
          {
            "$ref": "#/parameters/Regarding"
          },
          {
            "$ref": "#/parameters/RecipientInfo"
          },
          {
            "$ref": "#/parameters/pipeData"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftformspro/#create-an-invitation"
        }
      }
    }
  },
  "definitions": {
    "ProjectList": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "ProjectId": {
            "type": "string"
          }
        }
      }
    },
    "SurveyList": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "FormId": {
            "type": "string"
          },
          "SurveyId": {
            "type": "string"
          }
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "Item": {
      "description": "pipe data",
      "type": "object",
      "properties": {
        "dynamicProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          }
        },
        "ItemInternalId": {
          "description": "pipe data to parameter",
          "type": "string",
          "x-ms-visibility": "internal"
        }
      },
      "additionalProperties": {
        "$ref": "#/definitions/Object"
      }
    }
  },
  "parameters": {
    "ProjectId": {
      "name": "ProjectId",
      "in": "header",
      "type": "string",
      "required": true,
      "description": "Select a project",
      "x-ms-summary": "Project",
      "x-ms-dynamic-values": {
        "operationId": "GetProject",
        "value-path": "ProjectId",
        "value-title": "Name"
      }
    },
    "to": {
      "name": "to",
      "in": "query",
      "type": "string",
      "required": true,
      "description": "Add a list of recipients this survey is sent to",
      "x-ms-summary": "To"
    },
    "Email": {
      "name": "Email",
      "in": "query",
      "type": "string",
      "required": false,
      "description": "The email address to identify the survey invite, Optionally enter the recipient info.",
      "x-ms-summary": "Email"
    },
    "FormId": {
      "name": "FormId",
      "in": "query",
      "type": "string",
      "required": true,
      "description": "Select a survey",
      "x-ms-summary": "Survey",
      "x-ms-dynamic-values": {
        "operationId": "GetSurvey",
        "parameters": {
          "ProjectId": {
            "parameter": "ProjectId"
          }
        },
        "value-path": "FormId",
        "value-title": "Name"
      }
    },
    "EmailTemplateId": {
      "name": "EmailTemplateId",
      "in": "query",
      "type": "string",
      "required": true,
      "description": "Select an email template",
      "x-ms-summary": "Email template",
      "x-ms-dynamic-values": {
        "operationId": "GetTemplates",
        "parameters": {
          "FormId": {
            "parameter": "FormId"
          }
        },
        "value-path": "Id",
        "value-title": "Name"
      }
    },
    "Regarding": {
      "name": "Regarding",
      "in": "query",
      "type": "string",
      "description": "Relate this invitation by providing an entity id and entity type from this CDS in the format: entity type name, entity id",
      "x-ms-summary": "Regarding",
      "x-ms-visibility": "advanced"
    },
    "RecipientInfo": {
      "name": "RecipientInfo",
      "in": "query",
      "type": "string",
      "description": "If the recipient is from CDS, specify an entity id and entity type of the recipient to relate in the format: entity type name, entity id",
      "x-ms-summary": "Recipient details",
      "x-ms-visibility": "advanced"
    },
    "firstName": {
      "name": "firstName",
      "in": "query",
      "type": "string",
      "description": "If the first name was personalized in email or used in pipe, enter the value here to replace",
      "x-ms-summary": "First name",
      "x-ms-visibility": "advanced"
    },
    "lastName": {
      "name": "lastName",
      "in": "query",
      "type": "string",
      "description": "If the last name was personalized in email or used in pipe, enter the value here to replace",
      "x-ms-summary": "Last name",
      "x-ms-visibility": "advanced"
    },
    "subject": {
      "name": "subject",
      "in": "query",
      "type": "string",
      "description": "Subject of the invitation",
      "x-ms-summary": "Subject",
      "x-ms-visibility": "advanced"
    },
    "pipeData": {
      "name": "item",
      "in": "body",
      "description": "schema ",
      "required": false,
      "schema": {
        "description": "An object that represents the posting of fields.",
        "type": "object",
        "properties": {},
        "x-ms-dynamic-schema": {
          "operationId": "getFormsPipeData",
          "parameters": {
            "FormId": {
              "parameter": "FormId"
            }
          },
          "value-path": "items"
        },
        "x-ms-summary": "The fields to send to WebMerge"
      }
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize/",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://formspro.microsoft.com/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/microsoftformspro"
  }
}
