{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "2.0",
    "title": "Nexmo",
    "description": "Nexmo, the Vonage API Platform, enables you to add communications within the context of your applications, including SMS, Voice and Chat. Sign up for a Nexmo account here - https://www.nexmo.com/",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/sms/json": {
      "get": {
        "summary": "Send an SMS",
        "description": "This operation is used to send an SMS.",
        "operationId": "SendSms",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "from",
            "in": "query",
            "description": "An alphanumeric string.",
            "required": true,
            "x-ms-summary": "Sender Id",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "$ref": "#/parameters/to__in_query"
          },
          {
            "name": "text",
            "in": "query",
            "description": "SMS body.",
            "required": true,
            "x-ms-summary": "Text",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Defaults to text.",
            "required": false,
            "x-ms-summary": "Type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "text",
              "binary",
              "wappush",
              "unicode",
              "vcal",
              "vcard"
            ]
          },
          {
            "name": "status-report-req",
            "in": "query",
            "description": "Set to 1 to enable.",
            "required": false,
            "x-ms-summary": "Delivery Receipts",
            "x-ms-visibility": "advanced",
            "type": "number",
            "maximum": 1,
            "minimum": 1
          },
          {
            "name": "client-ref",
            "in": "query",
            "description": "For internal reporting.",
            "required": false,
            "x-ms-summary": "Client Reference",
            "x-ms-visibility": "advanced",
            "type": "string",
            "maxLength": 40,
            "minLength": 40
          },
          {
            "name": "vcard",
            "in": "query",
            "description": "vCard format.",
            "required": false,
            "x-ms-summary": "Business Card",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "vcal",
            "in": "query",
            "description": "vCal format.",
            "required": false,
            "x-ms-summary": "Calendar Event",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "ttl",
            "in": "query",
            "description": "In milliseconds.",
            "required": false,
            "x-ms-summary": "Lifespan of SMS",
            "x-ms-visibility": "advanced",
            "type": "number"
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Delivery receipt endpoint.",
            "required": false,
            "x-ms-summary": "Callback URL",
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "url"
          },
          {
            "name": "message-class",
            "in": "query",
            "description": "Pick a class.",
            "required": false,
            "x-ms-summary": "Message Class",
            "x-ms-visibility": "advanced",
            "type": "number",
            "enum": [
              0,
              1,
              2,
              3
            ]
          },
          {
            "name": "udh",
            "in": "query",
            "description": "Hex encoded UDH.",
            "required": false,
            "x-ms-summary": "User Data Header",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "protocol-id",
            "in": "query",
            "description": "Protocol id.",
            "required": false,
            "x-ms-summary": "Higher Level Protocol",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "Hex encoded binary data.",
            "required": false,
            "x-ms-summary": "Body (If type is binary.)",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "x-ms-summary": "Title",
            "description": "If type is wappush.",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "url",
            "in": "query",
            "description": "Website Url (If type is wappush.).",
            "required": false,
            "x-ms-summary": "Url",
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "url"
          },
          {
            "name": "validity",
            "in": "query",
            "description": "In milliseconds.",
            "required": false,
            "x-ms-summary": "Availability (If type is wappush.)",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The status and price of your request to Nexmo.",
            "schema": {
              "$ref": "#/definitions/smsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#send-an-sms"
        }
      }
    },
    "/{connectionId}/account/numbers": {
      "get": {
        "summary": "List owned numbers",
        "description": "This operation retrieves all numbers associated with your account.",
        "x-ms-visibility": "advanced",
        "operationId": "ListOwnedNumbers",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/search_pattern__in_query"
          },
          {
            "name": "index",
            "in": "query",
            "x-ms-summary": "Page Index",
            "description": "Index in the response.",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "number"
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Result Count",
            "description": "Default 10 Max 100.",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "number"
          },
          {
            "name": "pattern",
            "in": "query",
            "x-ms-summary": "Pattern",
            "description": "Number pattern to search for.",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListNumbersResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#list-owned-numbers"
        }
      }
    },
    "/{connectionId}/number/search": {
      "get": {
        "summary": "List inbound numbers",
        "description": "This operation is used to retrieve all the inbound numbers that are avialble for a given country.",
        "x-ms-visibility": "advanced",
        "operationId": "ListInboundNumbers",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/country__in_query"
          },
          {
            "$ref": "#/parameters/search_pattern__in_query"
          },
          {
            "name": "pattern",
            "in": "query",
            "x-ms-summary": "Pattern",
            "description": "Number pattern to search for.",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "number"
          },
          {
            "name": "features",
            "in": "query",
            "x-ms-summary": "Available Features",
            "description": "SMS or VOICE",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Result Count",
            "description": "Default 10.",
            "x-ms-visibility": "advanced",
            "type": "number"
          },
          {
            "name": "index",
            "in": "query",
            "x-ms-summary": "Page Index",
            "description": "Index in the response.",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ListNumbersResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#list-inbound-numbers"
        }
      }
    },
    "/{connectionId}/tts/json": {
      "get": {
        "summary": "Send a speech file",
        "description": "This operation is used to send a synthesized speech or recorded sound file to a phone number.",
        "operationId": "SendTts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/to__in_query"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Voice-enabled Nexmo number.",
            "required": false,
            "x-ms-summary": "From Phone Number",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "text",
            "in": "query",
            "description": "Speech text.",
            "required": true,
            "x-ms-summary": "Message",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "lg",
            "in": "query",
            "description": "To synthesize the message in.",
            "required": false,
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "voice",
            "in": "query",
            "description": "Male or female.",
            "required": false,
            "x-ms-summary": "Gender",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "male",
              "female"
            ]
          },
          {
            "name": "repeat",
            "in": "query",
            "description": "Up to 10 times.",
            "required": false,
            "x-ms-summary": "Repeat Count",
            "x-ms-visibility": "advanced",
            "type": "number",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10
            ]
          },
          {
            "name": "machine_detection",
            "in": "query",
            "description": "True or hangup.",
            "required": false,
            "x-ms-summary": "Allow Machine Detection",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "machine_timeout",
            "in": "query",
            "description": "400ms to 10000ms.",
            "x-ms-summary": "Machine Timeout",
            "x-ms-visibility": "advanced",
            "type": "number"
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "x-ms-summary": "Callback URL",
            "description": "Url for callback.",
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "url"
          },
          {
            "name": "callback_method",
            "in": "query",
            "description": "GET or POST.",
            "required": false,
            "x-ms-summary": "Callback Method",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "GET",
              "POST"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The status of your request to Nexmo.",
            "schema": {
              "$ref": "#/definitions/ttsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#send-a-speech-file"
        }
      }
    },
    "/{connectionId}/v1/applications": {
      "get": {
        "summary": "List applications",
        "description": "Retrieves a list of all applications associated with your account.",
        "x-ms-visibility": "advanced",
        "operationId": "ListApplications",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "page_size",
            "in": "query",
            "x-ms-summary": "Result Count",
            "description": "Items returned on each call (Default 10).",
            "x-ms-visibility": "advanced",
            "type": "number"
          },
          {
            "name": "page_index",
            "in": "query",
            "x-ms-summary": "Page Index",
            "description": "Offset from first page (Default 0).",
            "x-ms-visibility": "advanced",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "applications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/applicationResponse"
                      },
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#list-applications"
        }
      },
      "post": {
        "summary": "Create new application",
        "description": "This operation is used to create a new application in your account.",
        "x-ms-visibility": "advanced",
        "operationId": "CreateApplication",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/name__in_query"
          },
          {
            "$ref": "#/parameters/type__in_query"
          },
          {
            "$ref": "#/parameters/answer_url__in_query"
          },
          {
            "$ref": "#/parameters/event_url__in_query"
          },
          {
            "$ref": "#/parameters/answer_method__in_query"
          },
          {
            "$ref": "#/parameters/event_method__in_query"
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/applicationResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#create-new-application"
        }
      }
    },
    "/{connectionId}/v1/applications/{application_id}": {
      "get": {
        "summary": "Get application by Id",
        "description": "This operation is used to retrieve information about a single application, given its id.",
        "x-ms-visibility": "advanced",
        "operationId": "GetApplication",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/application_id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/applicationResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#get-application-by-id"
        }
      },
      "put": {
        "summary": "Update an application",
        "description": "This operation is used to modify an existing application in your account.",
        "x-ms-visibility": "advanced",
        "operationId": "UpdateApplication",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/application_id__in_path"
          },
          {
            "$ref": "#/parameters/name__in_query"
          },
          {
            "$ref": "#/parameters/type__in_query"
          },
          {
            "$ref": "#/parameters/answer_url__in_query"
          },
          {
            "$ref": "#/parameters/event_url__in_query"
          },
          {
            "$ref": "#/parameters/answer_method__in_query"
          },
          {
            "$ref": "#/parameters/event_method__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/applicationResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#update-an-application"
        }
      },
      "delete": {
        "summary": "Delete an application",
        "description": "This operation is used to delete an existing application in your account.",
        "x-ms-visibility": "advanced",
        "operationId": "DeleteApplication",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/application_id__in_path"
          }
        ],
        "responses": {
          "204": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/common"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/nexmo/#delete-an-application"
        }
      }
    }
  },
  "definitions": {
    "smsResponse": {
      "type": "object",
      "properties": {
        "message-count": {
          "description": "Number of parts the message was split into.",
          "type": "string",
          "x-ms-summary": "Message Count",
          "x-ms-visibility": "advanced"
        },
        "messages": {
          "description": "Contains each message part.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "status": {
                "description": "Shows how the SMS send is processing.",
                "type": "string",
                "x-ms-summary": "Status",
                "x-ms-visibility": "advanced"
              },
              "message-id": {
                "description": "Id of the SMS that was submitted (8 to 16 characters).",
                "maxLength": 16,
                "minLength": 8,
                "type": "string",
                "x-ms-summary": "Message Id",
                "x-ms-visibility": "advanced"
              },
              "to": {
                "description": "Number your request was sent to.",
                "type": "string",
                "x-ms-summary": "To Phone Number",
                "x-ms-visibility": "important"
              },
              "client-ref": {
                "description": "The client-ref you set in the request.",
                "type": "string",
                "x-ms-summary": "Client Reference",
                "x-ms-visibility": "advanced"
              },
              "remaining-balance": {
                "description": "Balance in your account. The value is in EUR.",
                "type": "string",
                "x-ms-summary": "Remaining Balance",
                "x-ms-visibility": "important"
              },
              "message-price": {
                "description": "Amount charged for your request. The value is in EUR.",
                "type": "string",
                "x-ms-summary": "Message Price",
                "x-ms-visibility": "important"
              },
              "network": {
                "description": "Mobile Country Code Mobile Network Code (MCCMNC) for the carrier that to is registered with.",
                "type": "string",
                "x-ms-summary": "Network",
                "x-ms-visibility": "advanced"
              },
              "error-text": {
                "description": "If an error occurred, this explains what happened.",
                "type": "string",
                "x-ms-summary": "Error Text",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "Messages Array",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListNumbersResponse": {
      "type": "object",
      "properties": {
        "count": {
          "format": "int32",
          "x-ms-summary": "Count",
          "description": "Result count.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "numbers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "cost": {
                "description": "Number cost.",
                "type": "string",
                "x-ms-summary": "Cost",
                "x-ms-visibility": "advanced"
              },
              "country": {
                "description": "ISO 3166-1 alpha-2 format.",
                "type": "string",
                "x-ms-summary": "Country",
                "x-ms-visibility": "advanced"
              },
              "msisdn": {
                "description": "Inbound virtual number.",
                "type": "string",
                "x-ms-summary": "Inbound Number",
                "x-ms-visibility": "important"
              },
              "type": {
                "description": "Type of number.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Numbers Array",
          "description": "List of all numbers."
        }
      }
    },
    "ttsResponse": {
      "type": "object",
      "properties": {
        "call_id": {
          "description": "Unique alphanumeric 32 character ID for this call.",
          "type": "string",
          "x-ms-summary": "Call Id",
          "x-ms-visibility": "advanced"
        },
        "to": {
          "description": "Number of the user you sent the TTS or TTS Prompt to.",
          "type": "string",
          "x-ms-summary": "To Phone Number",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Response code for this TTS or TTS prompt.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "error_text": {
          "description": "If an error occurred, this explains what happened.",
          "type": "string",
          "x-ms-summary": "Error Text",
          "x-ms-visibility": "important"
        }
      }
    },
    "applicationResponse": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Id",
          "description": "Nexmo application id.",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "name": {
          "x-ms-summary": "Name",
          "description": "Application name.",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "keys": {
          "description": "keys",
          "type": "object",
          "properties": {
            "public_key": {
              "description": "The public key used to validate the jwt in a https://en.wikipedia.org/wiki/JSON_Web_Token.",
              "type": "string",
              "x-ms-summary": "Keys",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        }
      }
    },
    "common": {
      "type": "object",
      "properties": {
        "type": {
          "x-ms-summary": "Response",
          "description": "Human readable message.",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "error_title": {
          "x-ms-summary": "Error Text",
          "description": "Title of error returned if failed.",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "invalid_parameters": {
          "x-ms-visibility": "internal",
          "description": "message for invalid parameters",
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "error string"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "to__in_query": {
      "name": "to",
      "in": "query",
      "description": "International format E.164.",
      "required": true,
      "x-ms-summary": "To Phone Number",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "search_pattern__in_query": {
      "name": "Search Pattern",
      "in": "query",
      "x-ms-summary": "Search Pattern",
      "description": "Pick a pattern.",
      "x-ms-visibility": "advanced",
      "required": false,
      "type": "string",
      "enum": [
        "1",
        "2",
        "3"
      ]
    },
    "country__in_query": {
      "name": "country",
      "in": "query",
      "x-ms-summary": "Country",
      "description": "Code in ISO 3166-1 alpha-2 format.",
      "x-ms-visibility": "important",
      "required": true,
      "type": "string",
      "x-ms-test-value": "US"
    },
    "name__in_query": {
      "name": "name",
      "in": "query",
      "x-ms-summary": "Name",
      "description": "Name of the application.",
      "x-ms-visibility": "important",
      "required": true,
      "type": "string"
    },
    "type__in_query": {
      "name": "type",
      "in": "query",
      "x-ms-summary": "Type",
      "description": "Type of application.",
      "x-ms-visibility": "important",
      "required": true,
      "type": "string"
    },
    "answer_url__in_query": {
      "name": "answer_url",
      "in": "query",
      "x-ms-summary": "Answer Url",
      "description": "Where your webhook delivers the Nexmo Call Control Object.",
      "x-ms-visibility": "advanced",
      "required": true,
      "type": "string"
    },
    "event_url__in_query": {
      "name": "event_url",
      "in": "query",
      "x-ms-summary": "Events Url",
      "description": "Started, ringing or complete",
      "x-ms-visibility": "important",
      "required": true,
      "type": "string"
    },
    "answer_method__in_query": {
      "name": "answer_method",
      "in": "query",
      "x-ms-summary": "Answer Method",
      "description": "HTTP method (Default GET).",
      "x-ms-visibility": "advanced",
      "type": "string"
    },
    "event_method__in_query": {
      "name": "event_method",
      "in": "query",
      "x-ms-summary": "Event Method",
      "description": "HTTP method (Default POST).",
      "x-ms-visibility": "advanced",
      "type": "string"
    },
    "application_id__in_path": {
      "name": "application_id",
      "x-ms-summary": "Application Id",
      "description": "Unique identifier of the application.",
      "x-ms-visibility": "important",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-test-value": "46d02cb6-38c1-468c-a140-1bde58c98774"
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/nexmo"
  },
  "basePath": "/apim/nexmo"
}
