{
  "swagger": "2.0",
  "info": {
    "version": "2019-12-01",
    "title": "Azure VM",
    "description": "Azure VM connector allows you to manage virtual machines.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft",
      "url": "https://azure.microsoft.com/support/"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "description": "Gets a list of all the subscriptions to which the principal has access.",
        "operationId": "Subscriptions_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ARMApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#list-subscriptions"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "summary": "List resource groups",
        "description": "Lists all the resource groups within the subscription.",
        "operationId": "ResourceGroups_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ARMApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroupListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#list-resource-groups"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines": {
      "get": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "List virtual machines",
        "description": "Lists all the virtual machines within the resource group.",
        "operationId": "VirtualMachines_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#list-virtual-machines"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets": {
      "get": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "List virtual machine scale sets",
        "description": "Lists all the virtual machine scale sets within the resource group.",
        "operationId": "VirtualMachineScaleSets_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#list-virtual-machine-scale-sets"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines": {
      "get": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "List virtual machines in a VM scale set",
        "description": "Lists all the virtual machines in a VM scale set.",
        "operationId": "VirtualMachinesInScaleSet_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineScaleSetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInScaleSetListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#list-virtual-machines-in-a-vm-scale-set"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualMachineInScaleSetInstanceId}": {
      "get": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "Get virtual machine in a VM scale set",
        "description": "Gets a virtual machine in a VM scale set.",
        "operationId": "VirtualMachineInScaleSet_Get",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineScaleSetNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineInScaleSetInstanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInScaleSet"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#get-virtual-machine-in-a-vm-scale-set"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualMachineInScaleSetInstanceId}/deallocate": {
      "post": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "Deallocate virtual machine in a VM scale set",
        "description": "Deallocates a specific virtual machine in a VM scale set. Shuts down the virtual machine and releases the compute resources it uses. You are not billed for the compute resources of this virtual machine once it is deallocated.",
        "operationId": "VirtualMachineInScaleSet_Deallocate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineScaleSetNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineInScaleSetInstanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#deallocate-virtual-machine-in-a-vm-scale-set"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualMachineInScaleSetInstanceId}/poweroff": {
      "post": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "Power off virtual machine in a VM scale set",
        "description": "Power off (stop) a virtual machine in a VM scale set. Note that resources are still attached and you are getting charged for the resources.",
        "operationId": "VirtualMachineInScaleSet_PowerOff",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineScaleSetNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineInScaleSetInstanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#power-off-virtual-machine-in-a-vm-scale-set"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualMachineInScaleSetInstanceId}/redeploy": {
      "post": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "Redeploy virtual machine in a VM scale set",
        "description": "Shuts down the virtual machine in the VM scale set, moves it to a new node, and powers it back on.",
        "operationId": "VirtualMachineInScaleSet_Redeploy",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineScaleSetNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineInScaleSetInstanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#redeploy-virtual-machine-in-a-vm-scale-set"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualMachineInScaleSetInstanceId}/reimage": {
      "post": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "Reimage virtual machine in a VM scale set",
        "description": "Reimages (upgrade the operating system) a specific virtual machine in a VM scale set.",
        "operationId": "VirtualMachineInScaleSet_Reimage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineScaleSetNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineInScaleSetInstanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#reimage-virtual-machine-in-a-vm-scale-set"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualMachineInScaleSetInstanceId}/restart": {
      "post": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "Restart virtual machine in a VM scale set",
        "description": "Restarts a virtual machine in a VM scale set.",
        "operationId": "VirtualMachineInScaleSet_Restart",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineScaleSetNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineInScaleSetInstanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#restart-virtual-machine-in-a-vm-scale-set"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualMachineInScaleSetInstanceId}/start": {
      "post": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "summary": "Start virtual machine in a VM scale set",
        "description": "Starts a virtual machine in a VM scale set.",
        "operationId": "VirtualMachineInScaleSet_Start",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeInternalApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineScaleSetNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineInScaleSetInstanceIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#start-virtual-machine-in-a-vm-scale-set"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/operations/{operationId}": {
      "get": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "Get virtual machine operation status",
        "description": "Get status of an operation on a virtual machine.",
        "operationId": "VirtualMachines_GetOperationStatus",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "monitor",
            "in": "query",
            "required": true,
            "x-ms-summary": "Monitor the operation",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "true",
            "type": "string",
            "default": "true"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "x-ms-summary": "Location of the virtual machine",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "southcentralus",
            "type": "string",
            "default": "southcentralus"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Id of the operation to track",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "dummy-operation-id",
            "type": "string",
            "default": "dummy-operation-id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#get-virtual-machine-operation-status"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}": {
      "get": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "Get virtual machine",
        "description": "Gets a virtual machine.",
        "operationId": "VirtualMachine_Get",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "404": {
            "description": "NotFound"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#get-virtual-machine"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/start": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "Start virtual machine",
        "description": "Starts a virtual machine.",
        "operationId": "VirtualMachine_Start",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#start-virtual-machine"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/deallocate": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "Deallocate virtual machine",
        "description": "Shuts down the virtual machine and releases the compute resources. You are not billed for the compute resources that this virtual machine uses.",
        "operationId": "VirtualMachine_Deallocate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#deallocate-virtual-machine"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/powerOff": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "Power off virtual machine",
        "description": "Power off (stop) a virtual machine. The virtual machine can be restarted with the same provisioned resources. You are still charged for this virtual machine.",
        "operationId": "VirtualMachine_Poweroff",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#power-off-virtual-machine"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/reapply": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "Reapply virtual machine",
        "description": "Reapply a virtual machine's state.",
        "operationId": "VirtualMachine_Reapply",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#reapply-virtual-machine"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/redeploy": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "Redeploy virtual machine",
        "description": "Shuts down the virtual machine, moves it to a new node, and powers it back on.",
        "operationId": "VirtualMachine_Redeploy",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#redeploy-virtual-machine"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/restart": {
      "post": {
        "tags": [
          "VirtualMachines"
        ],
        "summary": "Restart virtual machine",
        "description": "Restarts a virtual machine.",
        "operationId": "VirtualMachine_Restart",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ComputeApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurevm/#restart-virtual-machine"
        }
      }
    }
  },
  "definitions": {
    "SubscriptionListResult": {
      "description": "Subscription list operation response.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The subscriptions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "Subscription": {
      "description": "Subscription information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The fully qualified Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "subscriptionId": {
          "description": "The subscription Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Subscription Id"
        },
        "tenantId": {
          "description": "The tenant Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Tenant Id"
        },
        "displayName": {
          "description": "The subscription display name.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Display Name"
        },
        "state": {
          "description": "The subscription state.",
          "enum": [
            "Enabled",
            "Warned",
            "PastDue",
            "Disabled",
            "Deleted"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "State",
          "x-ms-enum": {
            "name": "SubscriptionState",
            "modelAsString": false
          }
        },
        "authorizationSource": {
          "description": "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'.",
          "type": "string",
          "x-ms-summary": "Authorization Source",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ResourceGroupListResult": {
      "description": "List of resource groups.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of resource groups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceGroup"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ResourceGroup": {
      "description": "Resource group information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "managedBy": {
          "description": "Id of the resource that manages this resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Managed By"
        }
      }
    },
    "VirtualMachineScaleSetListResult": {
      "description": "List of virtual machine scale sets.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of virtual machine scale sets.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachineScaleSet"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "VirtualMachineScaleSet": {
      "description": "Virtual Machine scale set information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the virtual machine scale set.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the virtual machine scale set.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "properties": {
          "$ref": "#/definitions/VirtualMachineScaleSetProperties"
        }
      }
    },
    "VirtualMachineScaleSetProperties": {
      "description": "Virtual Machine scale set properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The state of the virtual machine scale set.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "ProvisioningState"
        }
      }
    },
    "VirtualMachineInScaleSetListResult": {
      "description": "List of virtual machines in a VM scale set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of virtual machines in a VM scale set.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachineInScaleSet"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "VirtualMachineInScaleSet": {
      "description": "Virtual Machine information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the virtual machine.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the virtual machine.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "instanceId": {
          "description": "The instance Id of the virtual machine.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "InstanceId"
        },
        "properties": {
          "$ref": "#/definitions/VirtualMachineInScaleSetProperties"
        }
      }
    },
    "VirtualMachineInScaleSetProperties": {
      "description": "Virtual Machine properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The state of the virtual machine.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "ProvisioningState"
        }
      }
    },
    "VirtualMachineListResult": {
      "description": "List of virtual machines.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of virtual machines.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachine"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "VirtualMachine": {
      "description": "Virtual Machine information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the virtual machine.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the virtual machine.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "properties": {
          "$ref": "#/definitions/VirtualMachineProperties"
        }
      }
    },
    "VirtualMachineProperties": {
      "description": "Virtual Machine properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The state of the virtual machine.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "ProvisioningState"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Microsoft Azure subscription.",
      "required": true,
      "x-ms-summary": "Subscription Id",
      "x-ms-test-value": "ae43b1e3-c35d-4c8c-bc0d-f148b4c52b78",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "Subscriptions_List",
        "value-collection": "value",
        "value-path": "subscriptionId",
        "value-title": "displayName",
        "parameters": {
          "x-ms-api-version": "2020-01-01"
        }
      },
      "type": "string"
    },
    "ARMApiVersionParameter": {
      "name": "x-ms-api-version",
      "in": "query",
      "description": "ARM API version",
      "required": true,
      "x-ms-test-value": "2020-01-01",
      "x-ms-visibility": "internal",
      "x-ms-summary": "API Version",
      "type": "string",
      "default": "2020-01-01"
    },
    "ComputeInternalApiVersionParameter": {
      "name": "x-ms-api-version",
      "in": "query",
      "description": "Compute API version",
      "required": true,
      "x-ms-test-value": "2019-12-01",
      "x-ms-visibility": "internal",
      "x-ms-summary": "API Version",
      "type": "string",
      "default": "2019-12-01"
    },
    "ComputeApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Compute API version",
      "required": true,
      "x-ms-test-value": "2019-12-01",
      "x-ms-visibility": "internal",
      "x-ms-summary": "API Version",
      "type": "string",
      "default": "2019-12-01"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group.",
      "required": true,
      "x-ms-test-value": "connector-vm",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "ResourceGroups_List",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2020-01-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          }
        }
      },
      "x-ms-summary": "Resource Group",
      "type": "string"
    },
    "VirtualMachineNameParameter": {
      "name": "virtualMachineName",
      "in": "path",
      "description": "The name of the virtual machine.",
      "required": true,
      "x-ms-test-value": "connector-vm",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "VirtualMachines_List",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2019-12-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          }
        }
      },
      "x-ms-summary": "Virtual Machine",
      "type": "string"
    },
    "VirtualMachineScaleSetNameParameter": {
      "name": "virtualMachineScaleSetName",
      "in": "path",
      "description": "The name of the virtual machine scale set.",
      "required": true,
      "x-ms-test-value": "connector-vm",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "VirtualMachineScaleSets_List",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2019-12-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          }
        }
      },
      "x-ms-summary": "Virtual Machine Scale Set",
      "type": "string"
    },
    "VirtualMachineInScaleSetInstanceIdParameter": {
      "name": "virtualMachineInScaleSetInstanceId",
      "in": "path",
      "description": "The name of the virtual machine in a VM scale set.",
      "required": true,
      "x-ms-test-value": "connector-vm",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "VirtualMachinesInScaleSet_List",
        "value-collection": "value",
        "value-path": "instanceId",
        "value-title": "instanceId",
        "parameters": {
          "x-ms-api-version": "2019-12-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          },
          "virtualMachineScaleSetName": {
            "parameter": "virtualMachineScaleSetName"
          }
        }
      },
      "x-ms-summary": "Virtual Machine in a VM scale set",
      "type": "string"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/en-us/services/virtual-machines/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azurevm"
  },
  "basePath": "/apim/azurevm"
}
