{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Bitbucket",
    "description": "Bitbucket is a web based hosting service for projects that use GIT revision control.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/repository_created_trigger/2.0/repositories/{account}": {
      "get": {
        "summary": "When a repository is added",
        "description": "Triggers when a new repository is created for the authenticated account.",
        "operationId": "OnNewRepo",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/List_repositories_Response"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new repository.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#when-a-repository-is-added"
        }
      }
    },
    "/{connectionId}/issue_created_webhook/2.0/repositories/{account}/{slug}/hooks": {
      "post": {
        "summary": "When a new issue is added",
        "description": "Triggers when a new issue is added to the given repository.",
        "operationId": "CreateHookIssueCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create an issue.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#when-a-new-issue-is-added"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookIssueCreatedResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/issue_updated_webhook/2.0/repositories/{account}/{slug}/hooks": {
      "post": {
        "summary": "When an issue is updated",
        "description": "Triggers when an issue is updated in the given repository.",
        "operationId": "CreateHookIssueUpdated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, update an issue.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#when-an-issue-is-updated"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookIssueUpdatedResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/pullrequest_approved_webhook/2.0/repositories/{account}/{slug}/hooks": {
      "post": {
        "summary": "When a pull request is approved",
        "description": "Triggers when a pullreqest is approved in the specified repository.",
        "operationId": "CreateHookPullRequestApproved",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, approve a pull request.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#when-a-pull-request-is-approved"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookPullRequestApprovedResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/pullrequest_created_webhook/2.0/repositories/{account}/{slug}/hooks": {
      "post": {
        "summary": "When a pull request is created",
        "description": "Triggers when a new pullreqest is created in the given repository.",
        "operationId": "CreateHookPullRequestCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create a pull request.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#when-a-pull-request-is-created"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookPullRequestCreatedResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/pullrequest_declined_webhook/2.0/repositories/{account}/{slug}/hooks": {
      "post": {
        "summary": "When a pull request is declined",
        "description": "Triggers when an existing pullreqest is declined in the given repository.",
        "operationId": "CreateHookPullRequestDeclined",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-visibility": "advanced",
        "x-ms-trigger-hint": "To see it work now, decline a pull request.",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#when-a-pull-request-is-declined"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookPullRequestDeclinedResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/pullrequest_merged_webhook/2.0/repositories/{account}/{slug}/hooks": {
      "post": {
        "summary": "When a pull request is merged",
        "description": "Triggers when an existing pullreqest is merged in the given repository.",
        "operationId": "CreateHookPullRequestMerged",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, merge a pull request.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#when-a-pull-request-is-merged"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookPullRequestMergedResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/repository_push_webhook/2.0/repositories/{account}/{slug}/hooks": {
      "post": {
        "summary": "When a new commit is pushed",
        "description": "Triggers when a new commit is pushed to the given repository.",
        "operationId": "CreateHookRepositoryPush",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, push a commit.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#when-a-new-commit-is-pushed"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookRepositoryPushResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/hooks/{hookId}": {
      "delete": {
        "summary": "Delete hook",
        "description": "Delete a hook in a given repo.",
        "operationId": "DeleteHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#delete-hook"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/components": {
      "get": {
        "summary": "List components",
        "description": "List components",
        "operationId": "ListComponents",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListComponentMilestoneVersionResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#list-components"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/milestones": {
      "get": {
        "summary": "List milestones",
        "description": "List milestones",
        "operationId": "ListMilestones",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListComponentMilestoneVersionResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#list-milestones"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/versions": {
      "get": {
        "summary": "List versions",
        "description": "List versions",
        "operationId": "ListVersions",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListComponentMilestoneVersionResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#list-versions"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/issues": {
      "post": {
        "summary": "Create issue",
        "description": "This operation creates a new issue in the given repository.",
        "operationId": "CreateIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "description": "issue",
            "required": true,
            "x-ms-summary": "Issue",
            "schema": {
              "$ref": "#/definitions/CreateIssueRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IssueResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#create-issue"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/issues/{issueId}": {
      "get": {
        "summary": "Get issue by id",
        "description": "This operation retrieves all information about the given issue. ",
        "operationId": "GetIssueById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "name": "issueId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Issue Id",
            "description": "The id of the issue.",
            "x-ms-test-value": "1",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IssueResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#get-issue-by-id"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/pullrequests": {
      "get": {
        "summary": "List pull requests",
        "description": "This operation returns a list of the last 100 pull requests for the given repo.",
        "operationId": "ListPullRequests",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/List_pull_requests_Response"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#list-pull-requests"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/pullrequests/{pullrequestId}/approve": {
      "post": {
        "summary": "Approve pull request",
        "description": "This operation is used to approve an existing pull request.",
        "operationId": "ApprovePullRequest",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "$ref": "#/parameters/pullrequestId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApprovePullRequestResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#approve-pull-request"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/pullrequests/{pullrequestId}/decline": {
      "post": {
        "summary": "Decline pull request",
        "description": "This operation is used to decline an existing pull request.",
        "operationId": "DeclinePullRequest",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "$ref": "#/parameters/pullrequestId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeclineOrMergePullRequestResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#decline-pull-request"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}/{slug}/pullrequests/{pullrequestId}/merge": {
      "post": {
        "summary": "Merge pull request",
        "description": "This operation can merge a given pull request.",
        "operationId": "MergePullRequest",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          },
          {
            "$ref": "#/parameters/slug__in_path"
          },
          {
            "$ref": "#/parameters/pullrequestId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeclineOrMergePullRequestResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#merge-pull-request"
        }
      }
    },
    "/{connectionId}/2.0/repositories/{account}": {
      "get": {
        "summary": "List repositories",
        "description": "This operation returns a list of all repositories in your account",
        "operationId": "ListRepositories",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/List_repositories_Response"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#list-repositories"
        }
      }
    },
    "/{connectionId}/2.0/users/{userId}": {
      "get": {
        "summary": "Get user by Id",
        "description": "This operation returns all information about a given user by its id.",
        "operationId": "GetUserById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "x-ms-summary": "User Id",
            "description": "The id of the user.",
            "x-ms-test-value": "1",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitbucket/#get-user-by-id"
        }
      }
    }
  },
  "definitions": {
    "WebhookRequest": {
      "type": "object",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "description": "url",
          "type": "string",
          "x-ms-summary": "url",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        }
      }
    },
    "CreateIssueRequest": {
      "type": "object",
      "required": [
        "title",
        "kind",
        "priority"
      ],
      "properties": {
        "title": {
          "type": "string",
          "x-ms-summary": "Issue Title",
          "x-ms-visibility": "important"
        },
        "content": {
          "description": "The description of the issue.",
          "type": "object",
          "properties": {
            "raw": {
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "kind": {
          "type": "string",
          "x-ms-summary": "Issue Type",
          "x-ms-visibility": "important",
          "enum": [
            "bug",
            "enhancement",
            "proposal",
            "task"
          ]
        },
        "priority": {
          "description": "The priority category of the issue.",
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important",
          "enum": [
            "trivial",
            "minor",
            "major",
            "critical",
            "blocker"
          ]
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced",
          "enum": [
            "new",
            "open",
            "resolved",
            "on hold",
            "invalid",
            "duplicate",
            "wontfix"
          ]
        },
        "component": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Pre-defined component value.",
              "type": "string",
              "x-ms-summary": "Component",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListComponents",
                "value-collection": "values",
                "value-path": "name",
                "value-title": "name",
                "parameters": {
                  "account": {
                    "parameter": "account"
                  },
                  "slug": {
                    "parameter": "slug"
                  }
                }
              }
            }
          }
        },
        "milestone": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Pre-defined milestone value.",
              "type": "string",
              "x-ms-summary": "Milestone",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListMilestones",
                "value-collection": "values",
                "value-path": "name",
                "value-title": "name",
                "parameters": {
                  "account": {
                    "parameter": "account"
                  },
                  "slug": {
                    "parameter": "slug"
                  }
                }
              }
            }
          }
        },
        "version": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Pre-defined version value.",
              "type": "string",
              "x-ms-summary": "Version",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListVersions",
                "value-collection": "values",
                "value-path": "name",
                "value-title": "name",
                "parameters": {
                  "account": {
                    "parameter": "account"
                  },
                  "slug": {
                    "parameter": "slug"
                  }
                }
              }
            }
          }
        }
      },
      "x-ms-test-value": {
        "status": "open",
        "priority": "critical",
        "title": "test issue",
        "content": {
          "raw": "here is a description"
        },
        "kind": "enhancement",
        "component": {
          "name": "three"
        },
        "milestone": {
          "name": "end"
        },
        "version": {
          "name": "1.1"
        }
      }
    },
    "UpdateIssueRequest": {
      "type": "object",
      "required": [
        "issue_id"
      ],
      "properties": {
        "issue_id": {
          "description": "The Id of the issue.",
          "type": "integer",
          "x-ms-summary": "Issue Id",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "The title of the issue.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "content": {
          "description": "The description of the issue.",
          "type": "object",
          "properties": {
            "raw": {
              "description": "The description of the issue.",
              "type": "string",
              "x-ms-summary": "text",
              "x-ms-visibility": "advanced"
            },
            "markup": {
              "description": "markup",
              "type": "string",
              "x-ms-summary": "markup",
              "x-ms-visibility": "internal"
            }
          },
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        },
        "kind": {
          "description": "The type of issue.",
          "type": "string",
          "x-ms-summary": "Kind",
          "x-ms-visibility": "important",
          "enum": [
            "bug",
            "enhancement",
            "proposal",
            "task"
          ]
        },
        "priority": {
          "description": "The priority category of the issue.",
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important",
          "enum": [
            "trivial",
            "minor",
            "major",
            "critical",
            "blocker"
          ]
        },
        "status": {
          "description": "The status of the issue.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced",
          "enum": [
            "new",
            "open",
            "resolved",
            "on hold",
            "invalid",
            "duplicate",
            "wontfix"
          ]
        },
        "component": {
          "type": "object",
          "properties": {
            "name": {
              "description": "A component value defined by the administrator.",
              "type": "string",
              "x-ms-summary": "Component",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListComponents",
                "value-collection": "values",
                "value-path": "name",
                "value-title": "name",
                "parameters": {
                  "account": {
                    "parameter": "account"
                  },
                  "slug": {
                    "parameter": "slug"
                  }
                }
              }
            }
          }
        },
        "milestone": {
          "type": "object",
          "properties": {
            "name": {
              "description": "A milestone value defined by the administrator.",
              "type": "string",
              "x-ms-summary": "Milestone",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListMilestones",
                "value-collection": "values",
                "value-path": "name",
                "value-title": "name",
                "parameters": {
                  "account": {
                    "parameter": "account"
                  },
                  "slug": {
                    "parameter": "slug"
                  }
                }
              }
            }
          }
        },
        "version": {
          "type": "object",
          "properties": {
            "name": {
              "description": "A version value defined by the administrator.",
              "type": "string",
              "x-ms-summary": "Version",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListVersions",
                "value-collection": "values",
                "value-path": "name",
                "value-title": "name",
                "parameters": {
                  "account": {
                    "parameter": "account"
                  },
                  "slug": {
                    "parameter": "slug"
                  }
                }
              }
            }
          }
        }
      },
      "x-ms-test-value": {
        "issue_id": 26,
        "status": "open",
        "priority": "critical",
        "title": "test issue",
        "content": {
          "raw": "here is a description"
        },
        "kind": "enhancement",
        "component": {
          "name": "three"
        },
        "milestone": {
          "name": "end"
        },
        "version": {
          "name": "1.1"
        }
      }
    },
    "WebhookCreatedResponse": {
      "type": "string"
    },
    "WebhookPushResponse": {
      "type": "string"
    },
    "WebhookIssueCreatedResponse": {
      "type": "object",
      "properties": {
        "actor": {
          "$ref": "#/definitions/Actor"
        },
        "issue": {
          "$ref": "#/definitions/Issue"
        },
        "repository": {
          "$ref": "#/definitions/Repository"
        }
      }
    },
    "WebhookIssueUpdatedResponse": {
      "type": "object",
      "properties": {
        "actor": {
          "$ref": "#/definitions/Actor"
        },
        "changes": {
          "$ref": "#/definitions/Changes"
        },
        "comment": {
          "$ref": "#/definitions/Comment"
        },
        "issue": {
          "$ref": "#/definitions/Issue"
        },
        "repository": {
          "$ref": "#/definitions/Repository"
        }
      }
    },
    "WebhookPullRequestApprovedResponse": {
      "type": "object",
      "properties": {
        "approval": {
          "$ref": "#/definitions/Approval"
        },
        "actor": {
          "$ref": "#/definitions/Actor"
        },
        "pullrequest": {
          "$ref": "#/definitions/PullRequest"
        },
        "repository": {
          "$ref": "#/definitions/Repository"
        }
      }
    },
    "WebhookPullRequestCreatedResponse": {
      "type": "object",
      "properties": {
        "actor": {
          "$ref": "#/definitions/Actor"
        },
        "pullrequest": {
          "$ref": "#/definitions/PullRequest"
        },
        "repository": {
          "$ref": "#/definitions/Repository"
        }
      }
    },
    "WebhookPullRequestDeclinedResponse": {
      "type": "object",
      "properties": {
        "actor": {
          "$ref": "#/definitions/Actor"
        },
        "pullrequest": {
          "$ref": "#/definitions/PullRequest"
        },
        "repository": {
          "$ref": "#/definitions/Repository"
        }
      }
    },
    "WebhookPullRequestMergedResponse": {
      "type": "object",
      "properties": {
        "actor": {
          "$ref": "#/definitions/Actor"
        },
        "pullrequest": {
          "$ref": "#/definitions/PullRequest"
        },
        "repository": {
          "$ref": "#/definitions/Repository"
        }
      }
    },
    "WebhookRepositoryPushResponse": {
      "type": "object",
      "properties": {
        "actor": {
          "$ref": "#/definitions/Actor"
        },
        "push": {
          "$ref": "#/definitions/Push"
        },
        "repository": {
          "$ref": "#/definitions/Repository"
        }
      }
    },
    "ListComponentMilestoneVersionResponse": {
      "type": "object",
      "properties": {
        "values": {
          "description": "values",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "name",
                "type": "string",
                "x-ms-summary": "name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "values",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "List_pull_requests_Response": {
      "type": "object",
      "properties": {
        "values": {
          "description": "values",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "title": {
                "description": "Title of the pull request.",
                "type": "string",
                "x-ms-summary": "Title",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "format": "int32",
                "description": "Id of the pull request.",
                "type": "integer",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "PR",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "List_repositories_Response": {
      "type": "object",
      "properties": {
        "values": {
          "description": "values",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "scm": {
                "description": "Source control manager for the repository.",
                "type": "string",
                "x-ms-summary": "SCM",
                "x-ms-visibility": "advanced"
              },
              "website": {
                "description": "Url of the website if defined.",
                "type": "string",
                "x-ms-summary": "Website",
                "x-ms-visibility": "advanced"
              },
              "has_wiki": {
                "description": "True if the repository has a wiki.",
                "type": "boolean",
                "x-ms-summary": "Has Wiki",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Repository's name.",
                "type": "string",
                "x-ms-summary": "Name",
                "x-ms-visibility": "important"
              },
              "fork_policy": {
                "description": "Allow forks, no public forks or no forks.",
                "type": "string",
                "x-ms-summary": "Fork Policy",
                "x-ms-visibility": "advanced"
              },
              "uuid": {
                "description": "Repository's immutable id.",
                "type": "string",
                "x-ms-summary": "UUID",
                "x-ms-visibility": "advanced"
              },
              "language": {
                "description": "Programming language used in the repository.",
                "type": "string",
                "x-ms-summary": "Language",
                "x-ms-visibility": "important"
              },
              "created_on": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
                "type": "string",
                "x-ms-summary": "Created Date-Time",
                "x-ms-visibility": "advanced"
              },
              "has_issues": {
                "description": "True if an issue tracker has been set for the repository.",
                "type": "boolean",
                "x-ms-summary": "Has Issue Tracker",
                "x-ms-visibility": "advanced"
              },
              "owner": {
                "description": "owner",
                "type": "object",
                "properties": {
                  "username": {
                    "description": "Username of the repository's owner.",
                    "type": "string",
                    "x-ms-summary": "Username",
                    "x-ms-visibility": "advanced"
                  },
                  "display_name": {
                    "description": "Display name of the repository's owner.",
                    "type": "string",
                    "x-ms-summary": "Name",
                    "x-ms-visibility": "important"
                  },
                  "uuid": {
                    "description": "Unique identifier of the repository's owner.",
                    "type": "string",
                    "x-ms-summary": "UUID",
                    "x-ms-visibility": "advanced"
                  }
                },
                "x-ms-summary": "Owner",
                "x-ms-visibility": "important"
              },
              "updated_on": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
                "type": "string",
                "x-ms-summary": "Updated Date-Time",
                "x-ms-visibility": "advanced"
              },
              "size": {
                "format": "int32",
                "description": "Integer indicating size of the repository in bytes.",
                "type": "integer",
                "x-ms-summary": "Size",
                "x-ms-visibility": "important"
              },
              "type": {
                "description": "Git or mercurial.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "important"
              },
              "slug": {
                "description": "Slug used to identify the repository.",
                "type": "string",
                "x-ms-summary": "Slug",
                "x-ms-visibility": "advanced"
              },
              "is_private": {
                "description": "True if the repository is private.",
                "type": "boolean",
                "x-ms-summary": "Is private",
                "x-ms-visibility": "advanced"
              },
              "description": {
                "description": "The repository's description.",
                "type": "string",
                "x-ms-summary": "Description",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "values",
          "x-ms-visibility": "important"
        }
      }
    },
    "ApprovePullRequestResponse": {
      "type": "object",
      "properties": {
        "role": {
          "description": "The role of the pull request.",
          "type": "string",
          "x-ms-summary": "Role",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "The type of the pull request.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        },
        "user": {
          "description": "user",
          "type": "object",
          "properties": {
            "username": {
              "description": "The username of the approver.",
              "type": "string",
              "x-ms-summary": "Username",
              "x-ms-visibility": "advanced"
            },
            "display_name": {
              "description": "The display name of the approver.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "User or team.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            },
            "uuid": {
              "description": "The universally unique identifier of the user.",
              "type": "string",
              "x-ms-summary": "UUID",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Approver",
          "x-ms-visibility": "advanced"
        },
        "approved": {
          "description": "True if the pull request is approved.",
          "type": "boolean",
          "x-ms-summary": "Is approved",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DeclineOrMergePullRequestResponse": {
      "type": "object",
      "properties": {
        "merge_commit": {
          "description": "merge_commit",
          "type": "object",
          "properties": {
            "hash": {
              "description": "hash",
              "type": "string",
              "x-ms-summary": "hash",
              "x-ms-visibility": "internal"
            }
          },
          "x-ms-summary": "merge_commit",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "Pull request description.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "Pull request title.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "advanced"
        },
        "destination": {
          "description": "Destination branch.",
          "type": "object",
          "properties": {
            "branch": {
              "description": "branch",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the destination branch.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Branch",
              "x-ms-visibility": "advanced"
            },
            "commit": {
              "type": "object",
              "properties": {
                "hash": {
                  "description": "The SHA1 of the destination branch head.",
                  "type": "string",
                  "x-ms-summary": "Hash",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Commit",
              "x-ms-visibility": "advanced"
            },
            "repository": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the destination branch repository.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "advanced"
                },
                "uuid": {
                  "description": " The UUID of the destination branch repository.",
                  "type": "string",
                  "x-ms-summary": "UUID",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "description": "The type of the destination branch repository.",
                  "type": "string",
                  "x-ms-summary": "Type",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Repository",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Destination",
          "x-ms-visibility": "advanced"
        },
        "state": {
          "description": "Pull request status.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "closed_by": {
          "type": "object",
          "properties": {
            "username": {
              "description": "Username of person who closed the PR.",
              "type": "string",
              "x-ms-summary": "Closed By Username",
              "x-ms-visibility": "advanced"
            },
            "display_name": {
              "description": "Name of person who closed the PR.",
              "type": "string",
              "x-ms-summary": "Closed By Name",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "Closed by a user or team.",
              "type": "string",
              "x-ms-summary": "User Type",
              "x-ms-visibility": "advanced"
            },
            "uuid": {
              "description": "Unique identifier of person who closed the PR.",
              "type": "string",
              "x-ms-summary": "UUID",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "source": {
          "type": "object",
          "properties": {
            "branch": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "Name of the source branch.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Branch",
              "x-ms-visibility": "advanced"
            },
            "commit": {
              "description": "Commit",
              "type": "object",
              "properties": {
                "hash": {
                  "description": "The SHA1 of the source branch head.",
                  "type": "string",
                  "x-ms-summary": "Hash",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Commit",
              "x-ms-visibility": "advanced"
            },
            "repository": {
              "description": "Repository",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the source branch repository.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "advanced"
                },
                "uuid": {
                  "description": " The UUID of the source branch repository.",
                  "type": "string",
                  "x-ms-summary": "UUID",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "description": "The type of the source branch repository.",
                  "type": "string",
                  "x-ms-summary": "Type",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Repository",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Source",
          "x-ms-visibility": "advanced"
        },
        "author": {
          "description": "Author",
          "type": "object",
          "properties": {
            "display_name": {
              "description": "The display name of the creator.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "The type of the creator.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            },
            "username": {
              "description": "The username of the creator",
              "type": "string",
              "x-ms-summary": "Username",
              "x-ms-visibility": "advanced"
            },
            "uuid": {
              "description": "The universally unique identifier of the creator.",
              "type": "string",
              "x-ms-summary": "UUID",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Author",
          "x-ms-visibility": "advanced"
        },
        "created_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "reason": {
          "description": "The reason the pull request is declined (if so).",
          "type": "string",
          "x-ms-summary": "Reason",
          "x-ms-visibility": "advanced"
        },
        "updated_on": {
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "format": "int32",
          "description": "The Id of the pull request.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "task_count": {
          "format": "int32",
          "description": "Task count.",
          "type": "integer",
          "x-ms-summary": "Task Count",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "IssueResponse": {
      "type": "object",
      "properties": {
        "priority": {
          "description": "The priority of the issue.",
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important"
        },
        "kind": {
          "description": "The kind of issue.",
          "type": "string",
          "x-ms-summary": "Kind",
          "x-ms-visibility": "important"
        },
        "repository": {
          "type": "object",
          "properties": {
            "type": {
              "description": "The type of the repository.",
              "type": "string",
              "x-ms-summary": "type",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "The name of the repository.",
              "type": "string",
              "x-ms-summary": "name",
              "x-ms-visibility": "important"
            },
            "full_name": {
              "description": "The full name of the repository.",
              "type": "string",
              "x-ms-summary": "full name",
              "x-ms-visibility": "advanced"
            },
            "uuid": {
              "description": "The Universally Unique Identifier of the repository.",
              "type": "string",
              "x-ms-summary": "UUID",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Repository",
          "x-ms-visibility": "important"
        },
        "reporter": {
          "type": "object",
          "properties": {
            "username": {
              "description": "The username of the reporter.",
              "type": "string",
              "x-ms-summary": "Username",
              "x-ms-visibility": "important"
            },
            "display_name": {
              "description": "The display name of the reporter.",
              "type": "string",
              "x-ms-summary": "Display name",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "The type of the reporter.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            },
            "uuid": {
              "description": "The Universally Unique Identifier of the reporter.",
              "type": "string",
              "x-ms-summary": "UUID",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Reporter",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "The title of the issue.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "component": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Pre-defined component value.",
              "type": "string",
              "x-ms-summary": "Component",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "votes": {
          "format": "int32",
          "description": "The number of votes on the issue.",
          "type": "integer",
          "x-ms-summary": "Votes",
          "x-ms-visibility": "advanced"
        },
        "watches": {
          "format": "int32",
          "description": "The number of watches on the issue.",
          "type": "integer",
          "x-ms-summary": "Watches",
          "x-ms-visibility": "advanced"
        },
        "content": {
          "type": "object",
          "properties": {
            "raw": {
              "description": "The description of the issue.",
              "type": "string",
              "x-ms-summary": "text",
              "x-ms-visibility": "important"
            },
            "markup": {
              "description": "The description markup of the issue.",
              "type": "string",
              "x-ms-summary": "markup",
              "x-ms-visibility": "advanced"
            },
            "html": {
              "description": "The description html of the issue.",
              "type": "string",
              "x-ms-summary": "html",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "assignee": {
          "description": "The assigned user of the issue.",
          "type": "string",
          "x-ms-summary": "Assignee",
          "x-ms-visibility": "important"
        },
        "state": {
          "description": "The status of the issue.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "version": {
          "type": "object",
          "properties": {
            "name": {
              "description": "A version value defined by the administrator.",
              "type": "string",
              "x-ms-summary": "Version",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "created_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important"
        },
        "milestone": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Pre-defined milestone value.",
              "type": "string",
              "x-ms-summary": "Milestone",
              "x-ms-visibility": "important"
            }
          }
        },
        "updated_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "The type of issue.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "The Id of the issue.",
          "type": "integer",
          "x-ms-summary": "Issue Id",
          "x-ms-visibility": "important"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "username": {
          "description": "The username.",
          "type": "string",
          "x-ms-summary": "Username",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "The user type.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        },
        "display_name": {
          "description": "The display name of the user.",
          "type": "string",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "advanced"
        },
        "uuid": {
          "description": "The universally unique identifier of the user.",
          "type": "string",
          "x-ms-summary": "UUID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Actor": {
      "type": "object",
      "properties": {
        "display_name": {
          "description": "Full display name of the author.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "User or team.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        },
        "username": {
          "description": "Username or team id.",
          "type": "string",
          "x-ms-summary": "Username",
          "x-ms-visibility": "important"
        },
        "uuid": {
          "description": "Unique identifier of the user or team.",
          "type": "string",
          "x-ms-summary": "UUID",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-summary": "Actor",
      "x-ms-visibility": "important"
    },
    "Approval": {
      "type": "object",
      "properties": {
        "date": {
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "date time",
          "x-ms-visibility": "important"
        },
        "user": {
          "type": "object",
          "properties": {
            "display_name": {
              "description": "The display name of the approver.",
              "type": "string",
              "x-ms-summary": "display name",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "The type of the approver.",
              "type": "string",
              "x-ms-summary": "type",
              "x-ms-visibility": "advanced"
            },
            "username": {
              "description": "The username of the approver.",
              "type": "string",
              "x-ms-summary": "username",
              "x-ms-visibility": "important"
            },
            "uuid": {
              "description": "The universally unique identifier of the approver.",
              "type": "string",
              "x-ms-summary": "UUID",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "user",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-summary": "Approval",
      "x-ms-visibility": "important"
    },
    "Changes": {
      "type": "object",
      "properties": {
        "title": {
          "type": "object",
          "properties": {
            "new": {
              "description": "New value for the issue field.",
              "type": "string",
              "x-ms-summary": "New Issue",
              "x-ms-visibility": "important"
            },
            "old": {
              "description": "Old value for the issue field.",
              "type": "string",
              "x-ms-summary": "Old Issue",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "title",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-visibility": "important"
    },
    "Comment": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Id of the comment added.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "parent": {
          "format": "int32",
          "description": "Id of the parent comment.",
          "type": "integer",
          "x-ms-summary": "Parent Id",
          "x-ms-visibility": "advanced"
        },
        "content": {
          "type": "object",
          "properties": {
            "raw": {
              "description": "Description of the comment.",
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "important"
            },
            "markup": {
              "description": "The description markup of the comment.",
              "type": "string",
              "x-ms-summary": "Markup",
              "x-ms-visibility": "internal"
            },
            "html": {
              "description": "The description html of the comment.",
              "type": "string",
              "x-ms-summary": "html",
              "x-ms-visibility": "internal"
            }
          },
          "x-ms-visibility": "important"
        },
        "updated_on": {
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "important"
        },
        "created_on": {
          "format": "date-time",
          "description": "created_on",
          "type": "string",
          "x-ms-summary": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-summary": "Comment",
      "x-ms-visibility": "important"
    },
    "Issue": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Issue title.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "milestone": {
          "description": "Stage the issue has reached.",
          "type": "string",
          "x-ms-summary": "Milestone",
          "x-ms-visibility": "important"
        },
        "updated_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "content": {
          "description": "content",
          "type": "object",
          "properties": {
            "raw": {
              "description": "Raw issue discription.",
              "type": "string",
              "x-ms-summary": "Issue Content",
              "x-ms-visibility": "important"
            },
            "markup": {
              "description": "Issue descripton in markup.",
              "type": "string",
              "x-ms-summary": "markup",
              "x-ms-visibility": "internal"
            },
            "html": {
              "description": "Issue description in html format.",
              "type": "string",
              "x-ms-summary": "html",
              "x-ms-visibility": "internal"
            }
          },
          "x-ms-visibility": "important"
        },
        "created_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "component": {
          "description": "User defined enumerator value.",
          "type": "string",
          "x-ms-summary": "Component",
          "x-ms-visibility": "important"
        },
        "assignee": {
          "description": "Username of the person issue has been assigned to.",
          "type": "object",
          "properties": {},
          "x-ms-summary": "Assignee",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Bug, enhancement,proposal or task.",
          "type": "string",
          "x-ms-summary": "Issue Type",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "Issue identifier.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "state": {
          "description": "Issue status.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "priority": {
          "description": "Issue's priority category.",
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important"
        },
        "version": {
          "description": "String containing a version value.",
          "type": "string",
          "x-ms-summary": "Version",
          "x-ms-visibility": "important"
        },
        "kind": {
          "description": "Issue kind as defined in the GUI.",
          "type": "string",
          "x-ms-summary": "Kind",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-visibility": "important"
    },
    "PullRequest": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Id of the pull request.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "reviewers": {
          "description": "List of reviewers on the pull request.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {}
          },
          "x-ms-summary": "Reviewers",
          "x-ms-visibility": "advanced"
        },
        "closed_by": {
          "description": "Username of person who closes the pull request.",
          "type": "object",
          "properties": {},
          "x-ms-summary": "Closed By",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "Description of the pull request.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "destination": {
          "description": "Destination branch.",
          "type": "object",
          "properties": {
            "branch": {
              "description": "branch",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the destination branch.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Branch",
              "x-ms-visibility": "advanced"
            },
            "commit": {
              "description": "commit",
              "type": "object",
              "properties": {
                "hash": {
                  "description": "The SHA1 of the destination branch head.",
                  "type": "string",
                  "x-ms-summary": "hash",
                  "x-ms-visibility": "internal"
                }
              },
              "x-ms-summary": "commit",
              "x-ms-visibility": "internal"
            },
            "repository": {
              "description": "repository",
              "type": "object",
              "properties": {
                "name": {
                  "description": "Name of the repo where issue is created.",
                  "type": "string",
                  "x-ms-summary": "Respository Name",
                  "x-ms-visibility": "important"
                },
                "uuid": {
                  "description": "Repository's unique id.",
                  "type": "string",
                  "x-ms-summary": "UUID",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "description": "Type of the repo where issue is created.",
                  "type": "string",
                  "x-ms-summary": "Repository Type",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-visibility": "advanced"
            }
          }
        },
        "merge_commit": {
          "description": "The SHA1 of the commit when the pull request merges.",
          "type": "object",
          "properties": {},
          "x-ms-summary": "Merge Commit",
          "x-ms-visibility": "advanced"
        },
        "close_source_branch": {
          "description": "Closes the source branch after merge.",
          "type": "boolean",
          "x-ms-summary": "Closed Branch",
          "x-ms-visibility": "advanced"
        },
        "author": {
          "description": "author",
          "type": "object",
          "properties": {
            "display_name": {
              "description": "Display name of the PR author.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "User or team.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            },
            "username": {
              "description": "Username of the PR author.",
              "type": "string",
              "x-ms-summary": "Username",
              "x-ms-visibility": "important"
            },
            "uuid": {
              "description": "The universally unique identifier of the author.",
              "type": "string",
              "x-ms-summary": "UUID",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Author",
          "x-ms-visibility": "important"
        },
        "participants": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "role": {
                "description": "Role of the participant.",
                "type": "string",
                "x-ms-summary": "Role",
                "x-ms-visibility": "advanced"
              },
              "user": {
                "description": "user",
                "type": "object",
                "properties": {
                  "display_name": {
                    "description": "Display name of the participant",
                    "type": "string",
                    "x-ms-summary": "Display Name",
                    "x-ms-visibility": "advanced"
                  },
                  "type": {
                    "description": "User or team.",
                    "type": "string",
                    "x-ms-summary": "Type",
                    "x-ms-visibility": "advanced"
                  },
                  "username": {
                    "description": "Participant's username.",
                    "type": "string",
                    "x-ms-summary": "Username",
                    "x-ms-visibility": "advanced"
                  },
                  "uuid": {
                    "description": "The universally unique identifier of the user.",
                    "type": "string",
                    "x-ms-summary": "uuid",
                    "x-ms-visibility": "advanced"
                  }
                },
                "x-ms-summary": "User",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "The type of participant.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Participant",
          "x-ms-visibility": "advanced"
        },
        "source": {
          "description": "source",
          "type": "object",
          "properties": {
            "branch": {
              "description": "Branch name.",
              "type": "object",
              "properties": {
                "name": {
                  "description": "Name of the source branch.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Branch",
              "x-ms-visibility": "advanced"
            },
            "commit": {
              "description": "Commit name.",
              "type": "object",
              "properties": {
                "hash": {
                  "description": "The SHA1 of the source branch head.",
                  "type": "string",
                  "x-ms-summary": "Hash",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "commit",
              "x-ms-visibility": "advanced"
            },
            "repository": {
              "description": "repository",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the source branch repository.",
                  "type": "string",
                  "x-ms-summary": "name",
                  "x-ms-visibility": "important"
                },
                "uuid": {
                  "description": " The UUID of the source branch repository.",
                  "type": "string",
                  "x-ms-summary": "UUID",
                  "x-ms-visibility": "important"
                },
                "type": {
                  "description": "The type of the source branch repository.",
                  "type": "string",
                  "x-ms-summary": "Type",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "Repository",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Source",
          "x-ms-visibility": "important"
        },
        "created_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "state": {
          "description": "The status of the pull request.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "reason": {
          "description": "Reason the pull request is declined (if so).",
          "type": "string",
          "x-ms-summary": "Reason",
          "x-ms-visibility": "advanced"
        },
        "updated_on": {
          "description": "yyyy-MM-ddTHH:mm:ss.fff(+hh:mm or -hh:mm)",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "The name of the pull request.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-summary": "PR",
      "x-ms-visibility": "important"
    },
    "Push": {
      "type": "object",
      "properties": {
        "changes": {
          "description": "changes",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "created": {
                "description": "Indicate whether the reference is new.",
                "type": "boolean",
                "x-ms-summary": "created",
                "x-ms-visibility": "advanced"
              },
              "old": {
                "type": "object",
                "properties": {
                  "type": {
                    "description": "type",
                    "type": "string",
                    "x-ms-summary": "type",
                    "x-ms-visibility": "advanced"
                  },
                  "target": {
                    "description": "target",
                    "type": "object",
                    "properties": {
                      "author": {
                        "description": "author",
                        "type": "object",
                        "properties": {
                          "raw": {
                            "description": "raw",
                            "type": "string",
                            "x-ms-summary": "raw",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "x-ms-summary": "author",
                        "x-ms-visibility": "advanced"
                      },
                      "date": {
                        "format": "date-time",
                        "description": "date",
                        "type": "string",
                        "x-ms-summary": "date",
                        "x-ms-visibility": "advanced"
                      },
                      "message": {
                        "description": "message",
                        "type": "string",
                        "x-ms-summary": "message",
                        "x-ms-visibility": "advanced"
                      },
                      "hash": {
                        "description": "hash",
                        "type": "string",
                        "x-ms-summary": "hash",
                        "x-ms-visibility": "advanced"
                      },
                      "type": {
                        "description": "type",
                        "type": "string",
                        "x-ms-summary": "type",
                        "x-ms-visibility": "advanced"
                      },
                      "parents": {
                        "description": "parents",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "description": "type",
                              "type": "string",
                              "x-ms-summary": "type"
                            },
                            "links": {
                              "description": "links",
                              "type": "object",
                              "properties": {
                                "html": {
                                  "description": "html",
                                  "type": "object",
                                  "properties": {
                                    "href": {
                                      "description": "href",
                                      "type": "string",
                                      "x-ms-summary": "href",
                                      "x-ms-visibility": "advanced"
                                    }
                                  },
                                  "x-ms-summary": "html",
                                  "x-ms-visibility": "advanced"
                                },
                                "self": {
                                  "description": "self",
                                  "type": "object",
                                  "properties": {
                                    "href": {
                                      "description": "href",
                                      "type": "string",
                                      "x-ms-summary": "href",
                                      "x-ms-visibility": "advanced"
                                    }
                                  },
                                  "x-ms-summary": "self",
                                  "x-ms-visibility": "advanced"
                                }
                              },
                              "x-ms-summary": "links",
                              "x-ms-visibility": "advanced"
                            },
                            "hash": {
                              "description": "hash",
                              "type": "string",
                              "x-ms-summary": "hash",
                              "x-ms-visibility": "advanced"
                            }
                          }
                        },
                        "x-ms-summary": "parents",
                        "x-ms-visibility": "advanced"
                      },
                      "links": {
                        "description": "links",
                        "type": "object",
                        "properties": {
                          "html": {
                            "description": "html",
                            "type": "object",
                            "properties": {
                              "href": {
                                "description": "href",
                                "type": "string",
                                "x-ms-summary": "href",
                                "x-ms-visibility": "advanced"
                              }
                            },
                            "x-ms-summary": "html",
                            "x-ms-visibility": "advanced"
                          },
                          "self": {
                            "description": "self",
                            "type": "object",
                            "properties": {
                              "href": {
                                "description": "href",
                                "type": "string",
                                "x-ms-summary": "href",
                                "x-ms-visibility": "advanced"
                              }
                            },
                            "x-ms-summary": "self",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "x-ms-summary": "links",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "x-ms-summary": "target",
                    "x-ms-visibility": "advanced"
                  },
                  "name": {
                    "description": "name",
                    "type": "string",
                    "x-ms-summary": "name",
                    "x-ms-visibility": "advanced"
                  },
                  "links": {
                    "description": "links",
                    "type": "object",
                    "properties": {
                      "commits": {
                        "description": "commits",
                        "type": "object",
                        "properties": {
                          "href": {
                            "description": "href",
                            "type": "string",
                            "x-ms-summary": "href",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "x-ms-summary": "commits",
                        "x-ms-visibility": "advanced"
                      },
                      "html": {
                        "description": "html",
                        "type": "object",
                        "properties": {
                          "href": {
                            "description": "href",
                            "type": "string",
                            "x-ms-summary": "href",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "x-ms-summary": "html",
                        "x-ms-visibility": "advanced"
                      },
                      "self": {
                        "description": "self",
                        "type": "object",
                        "properties": {
                          "href": {
                            "description": "href",
                            "type": "string",
                            "x-ms-summary": "href",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "x-ms-summary": "self",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "x-ms-summary": "links",
                    "x-ms-visibility": "advanced"
                  }
                },
                "x-ms-summary": "new",
                "x-ms-visibility": "advanced"
              },
              "new": {
                "type": "object",
                "properties": {
                  "type": {
                    "description": "type",
                    "type": "string",
                    "x-ms-summary": "type",
                    "x-ms-visibility": "advanced"
                  },
                  "target": {
                    "description": "target",
                    "type": "object",
                    "properties": {
                      "author": {
                        "description": "author",
                        "type": "object",
                        "properties": {
                          "raw": {
                            "description": "raw",
                            "type": "string",
                            "x-ms-summary": "raw",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "x-ms-summary": "author",
                        "x-ms-visibility": "advanced"
                      },
                      "date": {
                        "format": "date-time",
                        "description": "date",
                        "type": "string",
                        "x-ms-summary": "date",
                        "x-ms-visibility": "advanced"
                      },
                      "message": {
                        "description": "message",
                        "type": "string",
                        "x-ms-summary": "message",
                        "x-ms-visibility": "advanced"
                      },
                      "hash": {
                        "description": "hash",
                        "type": "string",
                        "x-ms-summary": "hash",
                        "x-ms-visibility": "advanced"
                      },
                      "type": {
                        "description": "type",
                        "type": "string",
                        "x-ms-summary": "type",
                        "x-ms-visibility": "advanced"
                      },
                      "parents": {
                        "description": "parents",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "description": "type",
                              "type": "string",
                              "x-ms-summary": "type",
                              "x-ms-visibility": "advanced"
                            },
                            "links": {
                              "description": "links",
                              "type": "object",
                              "properties": {
                                "html": {
                                  "description": "html",
                                  "type": "object",
                                  "properties": {
                                    "href": {
                                      "description": "href",
                                      "type": "string",
                                      "x-ms-summary": "href",
                                      "x-ms-visibility": "advanced"
                                    }
                                  },
                                  "x-ms-summary": "html",
                                  "x-ms-visibility": "advanced"
                                },
                                "self": {
                                  "description": "self",
                                  "type": "object",
                                  "properties": {
                                    "href": {
                                      "description": "href",
                                      "type": "string",
                                      "x-ms-summary": "href",
                                      "x-ms-visibility": "advanced"
                                    }
                                  },
                                  "x-ms-summary": "self",
                                  "x-ms-visibility": "advanced"
                                }
                              },
                              "x-ms-summary": "links",
                              "x-ms-visibility": "advanced"
                            },
                            "hash": {
                              "description": "hash",
                              "type": "string",
                              "x-ms-summary": "hash",
                              "x-ms-visibility": "advanced"
                            }
                          }
                        },
                        "x-ms-summary": "parents",
                        "x-ms-visibility": "advanced"
                      },
                      "links": {
                        "description": "links",
                        "type": "object",
                        "properties": {
                          "html": {
                            "description": "html",
                            "type": "object",
                            "properties": {
                              "href": {
                                "description": "href",
                                "type": "string",
                                "x-ms-summary": "href",
                                "x-ms-visibility": "advanced"
                              }
                            },
                            "x-ms-summary": "html",
                            "x-ms-visibility": "advanced"
                          },
                          "self": {
                            "description": "self",
                            "type": "object",
                            "properties": {
                              "href": {
                                "description": "href",
                                "type": "string",
                                "x-ms-summary": "href",
                                "x-ms-visibility": "advanced"
                              }
                            },
                            "x-ms-summary": "self",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "x-ms-summary": "links",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "x-ms-summary": "target",
                    "x-ms-visibility": "advanced"
                  },
                  "name": {
                    "description": "name",
                    "type": "string",
                    "x-ms-summary": "name",
                    "x-ms-visibility": "advanced"
                  },
                  "links": {
                    "description": "links",
                    "type": "object",
                    "properties": {
                      "commits": {
[...]
