{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    },
    "description": "The Consumer Financial Protection Bureau, a U.S. government agency, ensures fair treatment by financial institutions. The Consumer Complaint Database collects and publishes complaints about financial products and services after company responses, confirmations, or 15 days. Complaints referred to other regulators, like those about institutions with assets under $10 billion, are not published. The database updates daily.",
    "title": "Consumer Complaints (Independent Publisher)",
    "version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/consumercomplaints",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "operationId": "SearchConsumerComplaints",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Return results containing specific term",
            "x-ms-summary": "Search Term",
            "in": "query",
            "name": "search_term",
            "required": true,
            "type": "string"
          },
          {
            "default": "complaint_what_happened",
            "description": "If the parameter \"search_term\" has a value, use \"field\" to specify which field is searched. If not specified, \"complaint_what_happened\" will be searched.",
            "x-ms-summary": "Field",
            "enum": [
              "complaint_what_happened",
              "all"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Complaint What Happened",
                "value": "complaint_what_happened"
              },
              {
                "displayName": "All",
                "value": "all"
              }
            ],
            "in": "query",
            "name": "field",
            "type": "string"
          },
          {
            "description": "Return results starting from a specific index, only if format parameter is not specified, ignore otherwise",
            "x-ms-summary": "Start Index",
            "format": "int64",
            "in": "query",
            "maximum": 100000,
            "minimum": 1,
            "name": "frm",
            "type": "integer"
          },
          {
            "default": 10,
            "description": "Limit the size of the results",
            "x-ms-summary": "Result Size",
            "format": "int64",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "size",
            "type": "integer"
          },
          {
            "default": "relevance_desc",
            "description": "Return results sorted in a particular order",
            "x-ms-summary": "Sort Order",
            "enum": [
              "relevance_desc",
              "relevance_asc",
              "created_date_desc",
              "created_date_asc"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Relevance Descending",
                "value": "relevance_desc"
              },
              {
                "displayName": "Relevance Ascending",
                "value": "relevance_asc"
              },
              {
                "displayName": "Created Date Descending",
                "value": "created_date_desc"
              },
              {
                "displayName": "Created Date Ascending",
                "value": "created_date_asc"
              }
            ],
            "in": "query",
            "name": "sort",
            "type": "string"
          },
          {
            "default": false,
            "description": "Include aggregations in result or not, True means no aggregations will be included, False means aggregations will be included.",
            "x-ms-summary": "No Aggregations",
            "in": "query",
            "name": "no_aggs",
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Include highlight of search term in result or not, True means no highlighting will be included, False means highlighting will be included.",
            "x-ms-summary": "No Highlight",
            "in": "query",
            "name": "no_highlight",
            "type": "boolean"
          },
          {
            "description": "Filter the results to only return these companies",
            "x-ms-summary": "Companies",
            "in": "query",
            "name": "company",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of public response by the company",
            "x-ms-summary": "Public Responses",
            "in": "query",
            "enum": [
              "Company has responded to the consumer and the CFPB and chooses not to provide a public response",
              "Company believes it acted appropriately as authorized by contract or law",
              "Company believes complaint caused principally by actions of third party outside the control or direction of the company",
              "Company believes the complaint is the result of a misunderstanding",
              "Company disputes the facts presented in the complaint",
              "Company can't verify or dispute the facts in the complaint",
              "Company believes the complaint provided an opportunity to answer consumer's questions",
              "Company believes complaint is the result of an isolated error",
              "Company believes complaint represents an opportunity for improvement to better serve consumers",
              "Company believes complaint relates to a discontinued policy or procedure"
            ],
            "name": "company_public_response",
            "type": "string"
          },
          {
            "description": "Return results with date < company_received_max (i.e. 2017-03-04)",
            "x-ms-summary": "Max Company Received Date",
            "format": "date",
            "in": "query",
            "name": "company_received_max",
            "type": "string"
          },
          {
            "description": "Return results with date >= company_received_min (i.e. 2017-03-04)",
            "x-ms-summary": "Min Company Received Date",
            "format": "date",
            "in": "query",
            "name": "company_received_min",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of response by the company",
            "x-ms-summary": "Company Responses",
            "in": "query",
            "name": "company_response",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of consent consumer provided",
            "x-ms-summary": "Consumer Consents",
            "in": "query",
            "enum": [
              "Consent not provided",
              "Consent provided",
              "Other",
              "N/A",
              "Consent withdrawn"
            ],
            "name": "consumer_consent_provided",
            "type": "string"
          },
          {
            "description": "Filter the results to only return the specified state of consumer disputed, i.e. yes, no",
            "x-ms-summary": "Consumer Disputed",
            "in": "query",
            "name": "consumer_disputed",
            "type": "string"
          },
          {
            "description": "Return results with date < date_received_max (i.e. 2017-03-04)",
            "x-ms-summary": "Max Date Received",
            "format": "date",
            "in": "query",
            "name": "date_received_max",
            "type": "string"
          },
          {
            "description": "Return results with date >= date_received_min (i.e. 2017-03-04)",
            "x-ms-summary": "Min Date Received",
            "format": "date",
            "in": "query",
            "name": "date_received_min",
            "type": "string"
          },
          {
            "description": "Filter the results to only return the specified state of whether it has narrative in the complaint or not, i.e. yes, no",
            "x-ms-summary": "Has Narrative",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "name": "has_narrative",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of issue and subissue, i.e. product-only: Getting a Loan, subproduct needs to include product, separated by '•', Getting a Loan•Can't qualify for a loan",
            "x-ms-summary": "Issues",
            "in": "query",
            "enum": [
              "Advertising",
              "Advertising and marketing, including promotional offers",
              "Advertising and marketing, including promotional offers•Confusing or misleading advertising about the credit card",
              "Advertising and marketing, including promotional offers•Didn't receive advertised or promotional terms",
              "Advertising•Changes in terms from what was offered or advertised",
              "Advertising•Confusing or misleading advertising about the card",
              "Applying for a mortgage or refinancing an existing mortgage",
              "Applying for a mortgage or refinancing an existing mortgage•Application denials",
              "Applying for a mortgage or refinancing an existing mortgage•Changes in loan terms during the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Confusing or misleading advertising or marketing",
              "Applying for a mortgage or refinancing an existing mortgage•Delays in the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Fees or costs during the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Loan estimate or other related disclosures",
              "Applying for a mortgage or refinancing an existing mortgage•Negative impact of inaccurate appraisal",
              "Applying for a mortgage or refinancing an existing mortgage•Trying to communicate with the company to fix an issue with the application process",
              "Attempts to collect debt not owed",
              "Attempts to collect debt not owed•Debt is not yours",
              "Attempts to collect debt not owed•Debt was already discharged in bankruptcy and is no longer owed",
              "Attempts to collect debt not owed•Debt was paid",
              "Attempts to collect debt not owed•Debt was result of identity theft",
              "Can't contact lender or servicer",
              "Can't stop withdrawals from your bank account",
              "Charged fees or interest you didn't expect",
              "Charged upfront or unexpected fees",
              "Closing an account",
              "Closing an account•Can't close your account",
              "Closing an account•Company closed your account",
              "Closing an account•Fees charged for closing account",
              "Closing an account•Funds not received from closed account",
              "Closing on a mortgage",
              "Closing on a mortgage•Changes in loan terms during or after closing",
              "Closing on a mortgage•Closing disclosure or other related disclosures",
              "Closing on a mortgage•Delays with the closing process",
              "Closing on a mortgage•Fees or costs after closing",
              "Closing on a mortgage•Setting up an escrow account for taxes and insurance",
              "Closing on a mortgage•Trying to communicate with the company to fix an issue with the loan closing",
              "Closing your account",
              "Closing your account•Can't close your account",
              "Closing your account•Company closed your account",
              "Communication tactics",
              "Communication tactics•Called before 8am or after 9pm",
              "Communication tactics•Contacted before 8am or after 9pm",
              "Communication tactics•Frequent or repeated calls",
              "Communication tactics•Frequent or repeated messages",
              "Communication tactics•Used obscene, profane, or other abusive language",
              "Communication tactics•You told them to stop contacting you, but they keep trying",
              "Confusing or misleading advertising or marketing",
              "Confusing or missing disclosures",
              "Credit limit changed",
              "Credit monitoring or identity theft protection services",
              "Credit monitoring or identity theft protection services•Billing dispute for services",
              "Credit monitoring or identity theft protection services•Didn't receive services that were advertised",
              "Credit monitoring or identity theft protection services•Problem canceling credit monitoring or identify theft protection service",
              "Credit monitoring or identity theft protection services•Problem with product or service terms changing",
              "Credit monitoring or identity theft protection services•Received unwanted marketing or advertising",
              "Dealing with your lender or servicer",
              "Dealing with your lender or servicer•Co-signer",
              "Dealing with your lender or servicer•Don't agree with the fees charged",
              "Dealing with your lender or servicer•Keep getting calls about your loan",
              "Dealing with your lender or servicer•Need information about your loan balance or loan terms",
              "Dealing with your lender or servicer•Problem with customer service",
              "Dealing with your lender or servicer•Received bad information about your loan",
              "Dealing with your lender or servicer•Trouble with how payments are being handled",
              "Didn't provide services promised",
              "Electronic communications",
              "Electronic communications•Contacted before 8am or after 9pm",
              "Electronic communications•Frequent or repeated messages",
              "Electronic communications•Used obscene, profane, or other abusive language",
              "Electronic communications•You told them to stop contacting you, but they keep trying",
              "Excessive fees",
              "False statements or representation",
              "False statements or representation•Attempted to collect wrong amount",
              "False statements or representation•Impersonated attorney, law enforcement, or government official",
              "False statements or representation•Indicated you were committing crime by not paying debt",
              "False statements or representation•Told you not to respond to a lawsuit they filed against you",
              "Fees or interest",
              "Fees or interest•Charged too much interest",
              "Fees or interest•Problem with fees",
              "Fees or interest•Unexpected increase in interest rate",
              "Fraud or scam",
              "Getting a credit card",
              "Getting a credit card•Application denied",
              "Getting a credit card•Card opened as result of identity theft or fraud",
              "Getting a credit card•Card opened without my consent or knowledge",
              "Getting a credit card•Delay in processing application",
              "Getting a credit card•Problem getting a working replacement card",
              "Getting a credit card•Sent card you never applied for",
              "Getting a line of credit",
              "Getting a loan",
              "Getting a loan or lease",
              "Getting a loan or lease•Changes in terms mid-deal or after closing",
              "Getting a loan or lease•Confusing or misleading advertising",
              "Getting a loan or lease•Confusing or misleading advertising or marketing",
              "Getting a loan or lease•Credit denial",
              "Getting a loan or lease•Did not receive car title",
              "Getting a loan or lease•Fraudulent loan",
              "Getting a loan or lease•High-pressure sales tactics",
              "Getting a loan or lease•Loan opened without my consent or knowledge",
              "Getting a loan or lease•Problem with a trade-in",
              "Getting a loan or lease•Problem with additional add-on products or services purchased with the loan",
              "Getting a loan or lease•Problem with signing the paperwork",
              "Getting a loan•Changes in terms mid-deal or after closing",
              "Getting a loan•Confusing or misleading advertising",
              "Getting a loan•Denied loan",
              "Getting a loan•Fraudulent loan",
              "Getting a loan•High pressure sales tactics or recruiting",
              "Getting a loan•Issues with financial aid services",
              "Getting a loan•Loan opened without my consent or knowledge",
              "Getting a loan•Problem with signing the paperwork",
              "Getting a loan•Problem with the interest rate",
              "Getting a loan•Qualified for a better loan than the one offered",
              "Getting the loan",
              "Identity theft protection or other monitoring services",
              "Identity theft protection or other monitoring services•Billing dispute for services",
              "Identity theft protection or other monitoring services•Didn't receive services that were advertised",
              "Identity theft protection or other monitoring services•Problem canceling credit monitoring or identify theft protection service",
              "Identity theft protection or other monitoring services•Problem with product or service terms changing",
              "Identity theft protection or other monitoring services•Received unwanted marketing or advertising",
              "Improper use of your report",
              "Improper use of your report•Credit inquiries on your report that you don't recognize",
              "Improper use of your report•Received unsolicited financial product or insurance offers after opting out",
              "Improper use of your report•Report provided to employer without your written authorization",
              "Improper use of your report•Reporting company used your report improperly",
              "Incorrect exchange rate",
              "Incorrect information on your report",
              "Incorrect information on your report•Account information incorrect",
              "Incorrect information on your report•Account status incorrect",
              "Incorrect information on your report•Information belongs to someone else",
              "Incorrect information on your report•Information is incorrect",
              "Incorrect information on your report•Information is missing that should be on the report",
              "Incorrect information on your report•Information that should be on the report is missing",
              "Incorrect information on your report•Old information reappears or never goes away",
              "Incorrect information on your report•Personal information incorrect",
              "Incorrect information on your report•Public record information inaccurate",
              "Issue where my lender is my school",
              "Issue where my lender is my school•Cannot graduate, receive diploma, or get transcript due to money owed",
              "Issue where my lender is my school•Issues with fees connected to the loan",
              "Issue with income share agreement",
              "Issue with income share agreement•Billing or statement issues",
              "Issue with income share agreement•Dealing with provider of income share agreement",
              "Issue with income share agreement•Marketing or disclosure issues",
              "Issue with income share agreement•Payment issues",
              "Issues with repayment",
              "Loan payment wasn't credited to your account",
              "Lost or stolen check",
              "Lost or stolen money order",
              "Lost or stolen refund",
              "Managing an account",
              "Managing an account•Banking errors",
              "Managing an account•Cashing a check",
              "Managing an account•Deposits and withdrawals",
              "Managing an account•Deposits or withdrawals",
              "Managing an account•Fee problem",
              "Managing an account•Funds not handled or disbursed as instructed",
              "Managing an account•Problem accessing account",
              "Managing an account•Problem making or receiving payments",
              "Managing an account•Problem using a debit or ATM card",
              "Managing an account•Problem with fees or penalties",
              "Managing an account•Problem with renewal",
              "Managing the loan or lease",
              "Managing the loan or lease•Billing problem",
              "Managing the loan or lease•Loan sold or transferred to another company",
              "Managing the loan or lease•Problem with additional products or services purchased with the loan",
              "Managing the loan or lease•Problem with fees charged",
              "Managing the loan or lease•Problem with the interest rate",
              "Managing, opening, or closing your mobile wallet account",
              "Money was not available when promised",
              "Money was taken from your bank account on the wrong day or for the wrong amount",
              "Opening an account",
              "Opening an account•Account opened as a result of fraud",
              "Opening an account•Account opened without my consent or knowledge",
              "Opening an account•Confusing or missing disclosures",
              "Opening an account•Didn't receive terms that were advertised",
              "Opening an account•Unable to open an account",
              "Other features, terms, or problems",
              "Other features, terms, or problems•Add-on products and services",
              "Other features, terms, or problems•Credit card company forcing arbitration",
              "Other features, terms, or problems•Other problem",
              "Other features, terms, or problems•Privacy issues",
              "Other features, terms, or problems•Problem with balance transfer",
              "Other features, terms, or problems•Problem with cash advances",
              "Other features, terms, or problems•Problem with convenience check",
              "Other features, terms, or problems•Problem with customer service",
              "Other features, terms, or problems•Problem with rewards from credit card",
              "Other service problem",
              "Other transaction problem",
              "Overdraft, savings, or rewards features",
              "Problem adding money",
              "Problem caused by your funds being low",
              "Problem caused by your funds being low•Bounced checks or returned payments",
              "Problem caused by your funds being low•Late or other fees",
              "Problem caused by your funds being low•Non-sufficient funds and associated fees",
              "Problem caused by your funds being low•Overdrafts and overdraft fees",
              "Problem getting a card or closing an account",
              "Problem getting a card or closing an account•Don't want a card provided by your employer or the government",
              "Problem getting a card or closing an account•Trouble closing card",
              "Problem getting a card or closing an account•Trouble getting a working replacement card",
              "Problem getting a card or closing an account•Trouble getting, activating, or registering a card",
              "Problem when making payments",
              "Problem when making payments•Problem during payment process",
              "Problem when making payments•You never received your bill or did not know a payment was due",
              "Problem with a company's investigation into an existing issue",
              "Problem with a company's investigation into an existing issue•Difficulty submitting a dispute or getting information about a dispute over the phone",
              "Problem with a company's investigation into an existing issue•Investigation took more than 30 days",
              "Problem with a company's investigation into an existing issue•Problem with personal statement of dispute",
              "Problem with a company's investigation into an existing issue•Their investigation did not fix an error on your report",
              "Problem with a company's investigation into an existing issue•Was not notified of investigation status or results",
              "Problem with a company's investigation into an existing problem",
              "Problem with a company's investigation into an existing problem•Difficulty submitting a dispute or getting information about a dispute over the phone",
              "Problem with a company's investigation into an existing problem•Investigation took more than 30 days",
              "Problem with a company's investigation into an existing problem•Problem with personal statement of dispute",
              "Problem with a company's investigation into an existing problem•Their investigation did not fix an error on your report",
              "Problem with a company's investigation into an existing problem•Was not notified of investigation status or results",
              "Problem with a credit reporting company's investigation into an existing problem",
              "Problem with a credit reporting company's investigation into an existing problem•Difficulty submitting a dispute or getting information about a dispute over the phone",
              "Problem with a credit reporting company's investigation into an existing problem•Investigation took more than 30 days",
              "Problem with a credit reporting company's investigation into an existing problem•Problem with personal statement of dispute",
              "Problem with a credit reporting company's investigation into an existing problem•Their investigation did not fix an error on your report",
              "Problem with a credit reporting company's investigation into an existing problem•Was not notified of investigation status or results",
              "Problem with a lender or other company charging your account",
              "Problem with a lender or other company charging your account•Can't stop withdrawals from your account",
              "Problem with a lender or other company charging your account•Money was taken from your account on the wrong day or for the wrong amount",
              "Problem with a lender or other company charging your account•Transaction was not authorized",
              "Problem with a purchase or transfer",
              "Problem with a purchase or transfer•Card company isn't resolving a dispute about a purchase or transfer",
              "Problem with a purchase or transfer•Charged for a purchase or transfer you did not make with the card",
              "Problem with a purchase or transfer•Overcharged for a purchase or transfer you did make with the card",
              "Problem with a purchase shown on your statement",
              "Problem with a purchase shown on your statement•Card was charged for something you did not purchase with the card",
              "Problem with a purchase shown on your statement•Credit card company isn't resolving a dispute about a purchase on your statement",
              "Problem with a purchase shown on your statement•Overcharged for something you did purchase with the card",
              "Problem with additional add-on products or services",
              "Problem with an overdraft",
              "Problem with an overdraft•Overdraft charges",
              "Problem with cash advance",
              "Problem with customer service",
              "Problem with fraud alerts or security freezes",
              "Problem with overdraft",
              "Problem with overdraft•Overdraft charges",
              "Problem with overdraft•Was signed up for overdraft on card, but don't want to be",
              "Problem with the payoff process at the end of the loan",
              "Problems at the end of the loan or lease",
              "Problems at the end of the loan or lease•Excess mileage, damage, or wear fees, or other problem after the lease is finished",
              "Problems at the end of the loan or lease•Problem extending the lease",
              "Problems at the end of the loan or lease•Problem related to refinancing",
              "Problems at the end of the loan or lease•Problem when attempting to purchase vehicle at the end of the lease",
              "Problems at the end of the loan or lease•Problem while selling or giving up the vehicle",
              "Problems at the end of the loan or lease•Problem with paying off the loan",
              "Problems at the end of the loan or lease•Termination fees or other problem when ending the lease early",
              "Problems at the end of the loan or lease•Unable to receive car title or other problem after the loan is paid off",
              "Problems receiving the advance",
              "Property was damaged or destroyed property",
              "Property was sold",
              "Received a loan you didn't apply for",
              "Repossession",
              "Repossession•Account reinstatement or redemption after repossession",
              "Repossession•Company communicating payment assistance or payment extension options",
              "Repossession•Company explaining amount owed",
              "Repossession•Damage caused or loss of personal items in vehicle during the actual repossession",
              "Repossession•Deficiency balance after repossession",
              "Repossession•Lender trying to repossess or disable the vehicle",
              "Repossession•Loan balance remaining after the vehicle is repossessed and sold",
              "Repossession•Notice to repossess",
              "Repossession•Voluntary repossession",
              "Struggling to pay mortgage",
              "Struggling to pay mortgage•An existing modification, forbearance plan, short sale, or other loss mitigation relief",
              "Struggling to pay mortgage•Applying for or obtaining a modification, forbearance plan, short sale, or deed-in-lieu",
              "Struggling to pay mortgage•Foreclosure",
              "Struggling to pay mortgage•Trying to communicate with the company to fix an issue related to modification, forbearance, short sale, deed-in-lieu, bankruptcy, or foreclosure",
              "Struggling to pay your bill",
              "Struggling to pay your bill•Credit card company won't work with you while you're going through financial hardship",
              "Struggling to pay your bill•Filed for bankruptcy",
              "Struggling to pay your bill•Problem lowering your monthly payments",
              "Struggling to pay your loan",
              "Struggling to pay your loan•Denied request to lower payments",
              "Struggling to pay your loan•Lender trying to repossess or disable the vehicle",
              "Struggling to pay your loan•Loan balance remaining after the vehicle is repossessed and sold",
              "Struggling to pay your loan•Problem after you declared or threatened to declare bankruptcy",
              "Struggling to repay your loan",
              "Struggling to repay your loan•Bankruptcy",
              "Struggling to repay your loan•Can't get other flexible options for repaying your loan",
              "Struggling to repay your loan•Can't temporarily delay making payments",
              "Struggling to repay your loan•Problem lowering your monthly payments",
              "Struggling to repay your loan•Problem with forgiveness, cancellation, or discharge",
              "Struggling to repay your loan•Problem with your payment plan",
              "Threatened to contact someone or share information improperly",
              "Threatened to contact someone or share information improperly•Contacted you after you asked them to stop",
              "Threatened to contact someone or share information improperly•Contacted you instead of your attorney",
              "Threatened to contact someone or share information improperly•Contacted your employer",
              "Threatened to contact someone or share information improperly•Talked to a third-party about your debt",
              "Took or threatened to take negative or legal action",
              "Took or threatened to take negative or legal action•Collected or attempted to collect exempt funds",
              "Took or threatened to take negative or legal action•Seized or attempted to seize your property",
              "Took or threatened to take negative or legal action•Sued you in a state where you do not live or did not sign for the debt",
              "Took or threatened to take negative or legal action•Sued you without properly notifying you of lawsuit",
              "Took or threatened to take negative or legal action•Threatened or suggested your credit would be damaged",
              "Took or threatened to take negative or legal action•Threatened to arrest you or take you to jail if you do not pay",
              "Took or threatened to take negative or legal action•Threatened to sue you for very old debt",
              "Took or threatened to take negative or legal action•Threatened to turn you in to immigration or deport you",
              "Trouble accessing funds in your mobile or digital wallet",
              "Trouble during payment process",
              "Trouble during payment process•Escrow, taxes, or insurance",
              "Trouble during payment process•Fees charged",
              "Trouble during payment process•Interest rate",
              "Trouble during payment process•Lien release",
              "Trouble during payment process•Loan sold or transferred to another company",
              "Trouble during payment process•Paying off the loan",
              "Trouble during payment process•Payment process",
              "Trouble during payment process•Private mortgage insurance (PMI)",
              "Trouble during payment process•Trying to communicate with the company to fix an issue while managing or servicing your loan",
              "Trouble using the card",
              "Trouble using the card•Problem adding money",
              "Trouble using the card•Problem using the card to withdraw money from an ATM",
              "Trouble using the card•Problem with a check written from your prepaid card account",
              "Trouble using the card•Problem with direct deposit",
              "Trouble using the card•Trouble getting information about the card",
              "Trouble using the card•Trouble using the card to pay a bill",
              "Trouble using the card•Trouble using the card to send money to another person",
              "Trouble using the card•Trouble using the card to spend money in a store or online",
              "Trouble using your card",
              "Trouble using your card•Account sold or transferred to another company",
              "Trouble using your card•Can't use card to make purchases",
              "Trouble using your card•Credit card company won't increase or decrease your credit limit",
              "Unable to get your credit report or credit score",
              "Unable to get your credit report or credit score•Other problem getting your report or credit score",
              "Unable to get your credit report or credit score•Problem getting your free annual credit report",
              "Unauthorized transactions or other transaction problem",
              "Unauthorized withdrawals or charges",
              "Unexpected fees",
              "Unexpected or other fees",
              "Vehicle was damaged or destroyed the vehicle",
              "Vehicle was repossessed or sold the vehicle",
              "Was approved for a loan, but didn't receive money",
              "Was approved for a loan, but didn't receive the money",
              "Written notification about debt",
              "Written notification about debt•Didn't receive enough information to verify debt",
              "Written notification about debt•Didn't receive notice of right to dispute",
              "Written notification about debt•Notification didn't disclose it was an attempt to collect a debt",
              "Wrong amount charged or received"
            ],
            "name": "issue",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of product and subproduct, i.e. product-only: Mortgage, subproduct needs to include product, separated by '•', Mortgage•FHA mortgage",
            "x-ms-summary": "Products",
            "in": "query",
            "enum": [
              "Checking or savings account",
              "Checking or savings account•CD (Certificate of Deposit)",
              "Checking or savings account•Checking account",
              "Checking or savings account•Other banking product or service",
              "Checking or savings account•Savings account",
              "Credit card",
              "Credit card or prepaid card",
              "Credit card or prepaid card•General-purpose credit card or charge card",
              "Credit card or prepaid card•General-purpose prepaid card",
              "Credit card or prepaid card•Gift card",
              "Credit card or prepaid card•Government benefit card",
              "Credit card or prepaid card•Payroll card",
              "Credit card or prepaid card•Store credit card",
              "Credit card or prepaid card•Student prepaid card",
              "Credit card•General-purpose credit card or charge card",
              "Credit card•Store credit card",
              "Credit reporting or other personal consumer reports",
              "Credit reporting or other personal consumer reports•Credit reporting",
              "Credit reporting or other personal consumer reports•Other personal consumer report",
              "Credit reporting, credit repair services, or other personal consumer reports",
              "Credit reporting, credit repair services, or other personal consumer reports•Credit repair services",
              "Credit reporting, credit repair services, or other personal consumer reports•Credit reporting",
              "Credit reporting, credit repair services, or other personal consumer reports•Other personal consumer report",
              "Debt collection",
              "Debt collection•Auto debt",
              "Debt collection•Credit card debt",
              "Debt collection•Federal student loan debt",
              "Debt collection•I do not know",
              "Debt collection•Medical debt",
              "Debt collection•Mortgage debt",
              "Debt collection•Other debt",
              "Debt collection•Payday loan debt",
              "Debt collection•Private student loan debt",
              "Debt collection•Rental debt",
              "Debt collection•Telecommunications debt",
              "Debt or credit management",
              "Debt or credit management•Credit repair services",
              "Debt or credit management•Debt settlement",
              "Debt or credit management•Mortgage modification or foreclosure avoidance",
              "Debt or credit management•Student loan debt relief",
              "Money transfer, virtual currency, or money service",
              "Money transfer, virtual currency, or money service•Check cashing service",
              "Money transfer, virtual currency, or money service•Debt settlement",
              "Money transfer, virtual currency, or money service•Domestic (US) money transfer",
              "Money transfer, virtual currency, or money service•Foreign currency exchange",
              "Money transfer, virtual currency, or money service•International money transfer",
              "Money transfer, virtual currency, or money service•Mobile or digital wallet",
              "Money transfer, virtual currency, or money service•Money order",
              "Money transfer, virtual currency, or money service•Money order, traveler's check or cashier's check",
              "Money transfer, virtual currency, or money service•Refund anticipation check",
              "Money transfer, virtual currency, or money service•Traveler's check or cashier's check",
              "Money transfer, virtual currency, or money service•Virtual currency",
              "Mortgage",
              "Mortgage•Conventional home mortgage",
              "Mortgage•FHA mortgage",
              "Mortgage•Home equity loan or line of credit (HELOC)",
              "Mortgage•Manufactured home loan",
              "Mortgage•Other type of mortgage",
              "Mortgage•Reverse mortgage",
              "Mortgage•USDA mortgage",
              "Mortgage•VA mortgage",
              "Payday loan, title loan, or personal loan",
              "Payday loan, title loan, or personal loan•Installment loan",
              "Payday loan, title loan, or personal loan•Pawn loan",
              "Payday loan, title loan, or personal loan•Payday loan",
              "Payday loan, title loan, or personal loan•Personal line of credit",
              "Payday loan, title loan, or personal loan•Title loan",
              "Payday loan, title loan, personal loan, or advance loan",
              "Payday loan, title loan, personal loan, or advance loan•Earned wage access",
              "Payday loan, title loan, personal loan, or advance loan•Installment loan",
              "Payday loan, title loan, personal loan, or advance loan•Other advances of future income",
              "Payday loan, title loan, personal loan, or advance loan•Pawn loan",
              "Payday loan, title loan, personal loan, or advance loan•Payday loan",
              "Payday loan, title loan, personal loan, or advance loan•Personal line of credit",
              "Payday loan, title loan, personal loan, or advance loan•Tax refund anticipation loan or check",
              "Payday loan, title loan, personal loan, or advance loan•Title loan",
              "Prepaid card",
              "Prepaid card•General-purpose prepaid card",
              "Prepaid card•Gift card",
              "Prepaid card•Government benefit card",
              "Prepaid card•Payroll card",
              "Prepaid card•Student prepaid card",
              "Student loan",
              "Student loan•Federal student loan servicing",
              "Student loan•Private student loan",
              "Vehicle loan or lease",
              "Vehicle loan or lease•Lease",
              "Vehicle loan or lease•Loan",
              "Vehicle loan or lease•Title loan"
            ],
            "name": "product",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these states (use abbreviation, i.e. CA, VA)",
            "x-ms-summary": "States",
            "in": "query",
            "name": "state",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of way consumers submitted their complaints",
            "x-ms-summary": "Submission Methods",
            "in": "query",
            "enum": [
              "Web",
              "Referral",
              "Phone",
              "Postal mail",
              "Fax",
              "Web Referral",
              "Email"
            ],
            "name": "submitted_via",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of tag",
            "x-ms-summary": "Tags",
            "in": "query",
            "enum": [
              "Servicemember",
              "Older American",
              "Older American, Servicemember"
            ],
            "name": "tags",
            "type": "string"
          },
          {
            "description": "Filter the results to show whether a response was timely",
            "x-ms-summary": "Timely Response",
            "in": "query",
            "enum": [
              "Yes",
              "No"
            ],
            "name": "timely",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these zip codes",
            "x-ms-summary": "Zip Codes",
            "in": "query",
            "name": "zip_code",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SearchResult"
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        },
        "tags": [
          "Complaints"
        ],
        "description": "Search the contents of the consumer complaint database",
        "summary": "Search consumer complaints",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/consumercomplaints/#search-consumer-complaints"
        }
      }
    },
    "/{connectionId}/_suggest": {
      "get": {
        "produces": [
          "application/json"
        ],
        "operationId": "SuggestSearches",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": 10,
            "description": "Limit the size of the results",
            "x-ms-summary": "Result Size",
            "format": "int64",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "size",
            "type": "integer"
          },
          {
            "description": "Text to use for suggestions",
            "x-ms-summary": "Suggestion Text",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SuggestResult"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "description": "Suggest additional search terms based upon filters",
        "summary": "Suggest possible searches",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/consumercomplaints/#suggest-possible-searches"
        }
      }
    },
    "/{connectionId}/_suggest_company": {
      "get": {
        "produces": [
          "application/json"
        ],
        "operationId": "SuggestCompanies",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Text to use for suggestions",
            "x-ms-summary": "Suggestion Text",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "Limit the size of the results",
            "x-ms-summary": "Result Size",
            "format": "int64",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "size",
            "type": "integer"
          },
          {
            "description": "Filter the results to only return these types of public response by the company",
            "x-ms-summary": "Public Responses",
            "in": "query",
            "enum": [
              "Company has responded to the consumer and the CFPB and chooses not to provide a public response",
              "Company believes it acted appropriately as authorized by contract or law",
              "Company believes complaint caused principally by actions of third party outside the control or direction of the company",
              "Company believes the complaint is the result of a misunderstanding",
              "Company disputes the facts presented in the complaint",
              "Company can't verify or dispute the facts in the complaint",
              "Company believes the complaint provided an opportunity to answer consumer's questions",
              "Company believes complaint is the result of an isolated error",
              "Company believes complaint represents an opportunity for improvement to better serve consumers",
              "Company believes complaint relates to a discontinued policy or procedure"
            ],
            "name": "company_public_response",
            "type": "string"
          },
          {
            "description": "Return results with date < company_received_max (i.e. 2017-03-04)",
            "x-ms-summary": "Max Company Received Date",
            "format": "date",
            "in": "query",
            "name": "company_received_max",
            "type": "string"
          },
          {
            "description": "Return results with date >= company_received_min (i.e. 2017-03-04)",
            "x-ms-summary": "Min Company Received Date",
            "format": "date",
            "in": "query",
            "name": "company_received_min",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of response by the company",
            "x-ms-summary": "Company Responses",
            "in": "query",
            "name": "company_response",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of consent consumer provided",
            "x-ms-summary": "Consumer Consents",
            "in": "query",
            "enum": [
              "Consent not provided",
              "Consent provided",
              "Other",
              "N/A",
              "Consent withdrawn"
            ],
            "name": "consumer_consent_provided",
            "type": "string"
          },
          {
            "description": "Filter the results to only return the specified state of consumer disputed, i.e. yes, no",
            "x-ms-summary": "Consumer Disputed",
            "in": "query",
            "name": "consumer_disputed",
            "type": "string"
          },
          {
            "description": "Return results with date < date_received_max (i.e. 2017-03-04)",
            "x-ms-summary": "Max Date Received",
            "format": "date",
            "in": "query",
            "name": "date_received_max",
            "type": "string"
          },
          {
            "description": "Return results with date >= date_received_min (i.e. 2017-03-04)",
            "x-ms-summary": "Min Date Received",
            "format": "date",
            "in": "query",
            "name": "date_received_min",
            "type": "string"
          },
          {
            "description": "Filter the results to only return the specified state of whether it has narrative in the complaint or not, i.e. yes, no",
            "x-ms-summary": "Has Narrative",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "name": "has_narrative",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of issue and subissue, i.e. product-only: Getting a Loan, subproduct needs to include product, separated by '•', Getting a Loan•Can't qualify for a loan",
            "x-ms-summary": "Issues",
            "in": "query",
            "enum": [
              "Advertising",
              "Advertising and marketing, including promotional offers",
              "Advertising and marketing, including promotional offers•Confusing or misleading advertising about the credit card",
              "Advertising and marketing, including promotional offers•Didn't receive advertised or promotional terms",
              "Advertising•Changes in terms from what was offered or advertised",
              "Advertising•Confusing or misleading advertising about the card",
              "Applying for a mortgage or refinancing an existing mortgage",
              "Applying for a mortgage or refinancing an existing mortgage•Application denials",
              "Applying for a mortgage or refinancing an existing mortgage•Changes in loan terms during the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Confusing or misleading advertising or marketing",
              "Applying for a mortgage or refinancing an existing mortgage•Delays in the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Fees or costs during the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Loan estimate or other related disclosures",
              "Applying for a mortgage or refinancing an existing mortgage•Negative impact of inaccurate appraisal",
              "Applying for a mortgage or refinancing an existing mortgage•Trying to communicate with the company to fix an issue with the application process",
              "Attempts to collect debt not owed",
              "Attempts to collect debt not owed•Debt is not yours",
              "Attempts to collect debt not owed•Debt was already discharged in bankruptcy and is no longer owed",
              "Attempts to collect debt not owed•Debt was paid",
              "Attempts to collect debt not owed•Debt was result of identity theft",
              "Can't contact lender or servicer",
              "Can't stop withdrawals from your bank account",
              "Charged fees or interest you didn't expect",
              "Charged upfront or unexpected fees",
              "Closing an account",
              "Closing an account•Can't close your account",
              "Closing an account•Company closed your account",
              "Closing an account•Fees charged for closing account",
              "Closing an account•Funds not received from closed account",
              "Closing on a mortgage",
              "Closing on a mortgage•Changes in loan terms during or after closing",
              "Closing on a mortgage•Closing disclosure or other related disclosures",
              "Closing on a mortgage•Delays with the closing process",
              "Closing on a mortgage•Fees or costs after closing",
              "Closing on a mortgage•Setting up an escrow account for taxes and insurance",
              "Closing on a mortgage•Trying to communicate with the company to fix an issue with the loan closing",
              "Closing your account",
              "Closing your account•Can't close your account",
              "Closing your account•Company closed your account",
              "Communication tactics",
              "Communication tactics•Called before 8am or after 9pm",
              "Communication tactics•Contacted before 8am or after 9pm",
              "Communication tactics•Frequent or repeated calls",
              "Communication tactics•Frequent or repeated messages",
              "Communication tactics•Used obscene, profane, or other abusive language",
              "Communication tactics•You told them to stop contacting you, but they keep trying",
              "Confusing or misleading advertising or marketing",
              "Confusing or missing disclosures",
              "Credit limit changed",
              "Credit monitoring or identity theft protection services",
              "Credit monitoring or identity theft protection services•Billing dispute for services",
              "Credit monitoring or identity theft protection services•Didn't receive services that were advertised",
              "Credit monitoring or identity theft protection services•Problem canceling credit monitoring or identify theft protection service",
              "Credit monitoring or identity theft protection services•Problem with product or service terms changing",
              "Credit monitoring or identity theft protection services•Received unwanted marketing or advertising",
              "Dealing with your lender or servicer",
              "Dealing with your lender or servicer•Co-signer",
              "Dealing with your lender or servicer•Don't agree with the fees charged",
              "Dealing with your lender or servicer•Keep getting calls about your loan",
              "Dealing with your lender or servicer•Need information about your loan balance or loan terms",
              "Dealing with your lender or servicer•Problem with customer service",
              "Dealing with your lender or servicer•Received bad information about your loan",
              "Dealing with your lender or servicer•Trouble with how payments are being handled",
              "Didn't provide services promised",
              "Electronic communications",
              "Electronic communications•Contacted before 8am or after 9pm",
              "Electronic communications•Frequent or repeated messages",
              "Electronic communications•Used obscene, profane, or other abusive language",
              "Electronic communications•You told them to stop contacting you, but they keep trying",
              "Excessive fees",
              "False statements or representation",
              "False statements or representation•Attempted to collect wrong amount",
              "False statements or representation•Impersonated attorney, law enforcement, or government official",
              "False statements or representation•Indicated you were committing crime by not paying debt",
              "False statements or representation•Told you not to respond to a lawsuit they filed against you",
              "Fees or interest",
              "Fees or interest•Charged too much interest",
              "Fees or interest•Problem with fees",
              "Fees or interest•Unexpected increase in interest rate",
              "Fraud or scam",
              "Getting a credit card",
              "Getting a credit card•Application denied",
              "Getting a credit card•Card opened as result of identity theft or fraud",
              "Getting a credit card•Card opened without my consent or knowledge",
              "Getting a credit card•Delay in processing application",
              "Getting a credit card•Problem getting a working replacement card",
              "Getting a credit card•Sent card you never applied for",
              "Getting a line of credit",
              "Getting a loan",
              "Getting a loan or lease",
              "Getting a loan or lease•Changes in terms mid-deal or after closing",
              "Getting a loan or lease•Confusing or misleading advertising",
              "Getting a loan or lease•Confusing or misleading advertising or marketing",
              "Getting a loan or lease•Credit denial",
              "Getting a loan or lease•Did not receive car title",
              "Getting a loan or lease•Fraudulent loan",
              "Getting a loan or lease•High-pressure sales tactics",
              "Getting a loan or lease•Loan opened without my consent or knowledge",
              "Getting a loan or lease•Problem with a trade-in",
              "Getting a loan or lease•Problem with additional add-on products or services purchased with the loan",
              "Getting a loan or lease•Problem with signing the paperwork",
              "Getting a loan•Changes in terms mid-deal or after closing",
              "Getting a loan•Confusing or misleading advertising",
              "Getting a loan•Denied loan",
              "Getting a loan•Fraudulent loan",
              "Getting a loan•High pressure sales tactics or recruiting",
              "Getting a loan•Issues with financial aid services",
              "Getting a loan•Loan opened without my consent or knowledge",
              "Getting a loan•Problem with signing the paperwork",
              "Getting a loan•Problem with the interest rate",
              "Getting a loan•Qualified for a better loan than the one offered",
              "Getting the loan",
              "Identity theft protection or other monitoring services",
              "Identity theft protection or other monitoring services•Billing dispute for services",
              "Identity theft protection or other monitoring services•Didn't receive services that were advertised",
              "Identity theft protection or other monitoring services•Problem canceling credit monitoring or identify theft protection service",
              "Identity theft protection or other monitoring services•Problem with product or service terms changing",
              "Identity theft protection or other monitoring services•Received unwanted marketing or advertising",
              "Improper use of your report",
              "Improper use of your report•Credit inquiries on your report that you don't recognize",
              "Improper use of your report•Received unsolicited financial product or insurance offers after opting out",
              "Improper use of your report•Report provided to employer without your written authorization",
              "Improper use of your report•Reporting company used your report improperly",
              "Incorrect exchange rate",
              "Incorrect information on your report",
              "Incorrect information on your report•Account information incorrect",
              "Incorrect information on your report•Account status incorrect",
              "Incorrect information on your report•Information belongs to someone else",
              "Incorrect information on your report•Information is incorrect",
              "Incorrect information on your report•Information is missing that should be on the report",
              "Incorrect information on your report•Information that should be on the report is missing",
              "Incorrect information on your report•Old information reappears or never goes away",
              "Incorrect information on your report•Personal information incorrect",
              "Incorrect information on your report•Public record information inaccurate",
              "Issue where my lender is my school",
              "Issue where my lender is my school•Cannot graduate, receive diploma, or get transcript due to money owed",
              "Issue where my lender is my school•Issues with fees connected to the loan",
              "Issue with income share agreement",
              "Issue with income share agreement•Billing or statement issues",
              "Issue with income share agreement•Dealing with provider of income share agreement",
              "Issue with income share agreement•Marketing or disclosure issues",
              "Issue with income share agreement•Payment issues",
              "Issues with repayment",
              "Loan payment wasn't credited to your account",
              "Lost or stolen check",
              "Lost or stolen money order",
              "Lost or stolen refund",
              "Managing an account",
              "Managing an account•Banking errors",
              "Managing an account•Cashing a check",
              "Managing an account•Deposits and withdrawals",
              "Managing an account•Deposits or withdrawals",
              "Managing an account•Fee problem",
              "Managing an account•Funds not handled or disbursed as instructed",
              "Managing an account•Problem accessing account",
              "Managing an account•Problem making or receiving payments",
              "Managing an account•Problem using a debit or ATM card",
              "Managing an account•Problem with fees or penalties",
              "Managing an account•Problem with renewal",
              "Managing the loan or lease",
              "Managing the loan or lease•Billing problem",
              "Managing the loan or lease•Loan sold or transferred to another company",
              "Managing the loan or lease•Problem with additional products or services purchased with the loan",
              "Managing the loan or lease•Problem with fees charged",
              "Managing the loan or lease•Problem with the interest rate",
              "Managing, opening, or closing your mobile wallet account",
              "Money was not available when promised",
              "Money was taken from your bank account on the wrong day or for the wrong amount",
              "Opening an account",
              "Opening an account•Account opened as a result of fraud",
              "Opening an account•Account opened without my consent or knowledge",
              "Opening an account•Confusing or missing disclosures",
              "Opening an account•Didn't receive terms that were advertised",
              "Opening an account•Unable to open an account",
              "Other features, terms, or problems",
              "Other features, terms, or problems•Add-on products and services",
              "Other features, terms, or problems•Credit card company forcing arbitration",
              "Other features, terms, or problems•Other problem",
              "Other features, terms, or problems•Privacy issues",
              "Other features, terms, or problems•Problem with balance transfer",
              "Other features, terms, or problems•Problem with cash advances",
              "Other features, terms, or problems•Problem with convenience check",
              "Other features, terms, or problems•Problem with customer service",
              "Other features, terms, or problems•Problem with rewards from credit card",
              "Other service problem",
              "Other transaction problem",
              "Overdraft, savings, or rewards features",
              "Problem adding money",
              "Problem caused by your funds being low",
              "Problem caused by your funds being low•Bounced checks or returned payments",
              "Problem caused by your funds being low•Late or other fees",
              "Problem caused by your funds being low•Non-sufficient funds and associated fees",
              "Problem caused by your funds being low•Overdrafts and overdraft fees",
              "Problem getting a card or closing an account",
              "Problem getting a card or closing an account•Don't want a card provided by your employer or the government",
              "Problem getting a card or closing an account•Trouble closing card",
              "Problem getting a card or closing an account•Trouble getting a working replacement card",
              "Problem getting a card or closing an account•Trouble getting, activating, or registering a card",
              "Problem when making payments",
              "Problem when making payments•Problem during payment process",
              "Problem when making payments•You never received your bill or did not know a payment was due",
              "Problem with a company's investigation into an existing issue",
              "Problem with a company's investigation into an existing issue•Difficulty submitting a dispute or getting information about a dispute over the phone",
              "Problem with a company's investigation into an existing issue•Investigation took more than 30 days",
              "Problem with a company's investigation into an existing issue•Problem with personal statement of dispute",
              "Problem with a company's investigation into an existing issue•Their investigation did not fix an error on your report",
              "Problem with a company's investigation into an existing issue•Was not notified of investigation status or results",
              "Problem with a company's investigation into an existing problem",
              "Problem with a company's investigation into an existing problem•Difficulty submitting a dispute or getting information about a dispute over the phone",
              "Problem with a company's investigation into an existing problem•Investigation took more than 30 days",
              "Problem with a company's investigation into an existing problem•Problem with personal statement of dispute",
              "Problem with a company's investigation into an existing problem•Their investigation did not fix an error on your report",
              "Problem with a company's investigation into an existing problem•Was not notified of investigation status or results",
              "Problem with a credit reporting company's investigation into an existing problem",
              "Problem with a credit reporting company's investigation into an existing problem•Difficulty submitting a dispute or getting information about a dispute over the phone",
              "Problem with a credit reporting company's investigation into an existing problem•Investigation took more than 30 days",
              "Problem with a credit reporting company's investigation into an existing problem•Problem with personal statement of dispute",
              "Problem with a credit reporting company's investigation into an existing problem•Their investigation did not fix an error on your report",
              "Problem with a credit reporting company's investigation into an existing problem•Was not notified of investigation status or results",
              "Problem with a lender or other company charging your account",
              "Problem with a lender or other company charging your account•Can't stop withdrawals from your account",
              "Problem with a lender or other company charging your account•Money was taken from your account on the wrong day or for the wrong amount",
              "Problem with a lender or other company charging your account•Transaction was not authorized",
              "Problem with a purchase or transfer",
              "Problem with a purchase or transfer•Card company isn't resolving a dispute about a purchase or transfer",
              "Problem with a purchase or transfer•Charged for a purchase or transfer you did not make with the card",
              "Problem with a purchase or transfer•Overcharged for a purchase or transfer you did make with the card",
              "Problem with a purchase shown on your statement",
              "Problem with a purchase shown on your statement•Card was charged for something you did not purchase with the card",
              "Problem with a purchase shown on your statement•Credit card company isn't resolving a dispute about a purchase on your statement",
              "Problem with a purchase shown on your statement•Overcharged for something you did purchase with the card",
              "Problem with additional add-on products or services",
              "Problem with an overdraft",
              "Problem with an overdraft•Overdraft charges",
              "Problem with cash advance",
              "Problem with customer service",
              "Problem with fraud alerts or security freezes",
              "Problem with overdraft",
              "Problem with overdraft•Overdraft charges",
              "Problem with overdraft•Was signed up for overdraft on card, but don't want to be",
              "Problem with the payoff process at the end of the loan",
              "Problems at the end of the loan or lease",
              "Problems at the end of the loan or lease•Excess mileage, damage, or wear fees, or other problem after the lease is finished",
              "Problems at the end of the loan or lease•Problem extending the lease",
              "Problems at the end of the loan or lease•Problem related to refinancing",
              "Problems at the end of the loan or lease•Problem when attempting to purchase vehicle at the end of the lease",
              "Problems at the end of the loan or lease•Problem while selling or giving up the vehicle",
              "Problems at the end of the loan or lease•Problem with paying off the loan",
              "Problems at the end of the loan or lease•Termination fees or other problem when ending the lease early",
              "Problems at the end of the loan or lease•Unable to receive car title or other problem after the loan is paid off",
              "Problems receiving the advance",
              "Property was damaged or destroyed property",
              "Property was sold",
              "Received a loan you didn't apply for",
              "Repossession",
              "Repossession•Account reinstatement or redemption after repossession",
              "Repossession•Company communicating payment assistance or payment extension options",
              "Repossession•Company explaining amount owed",
              "Repossession•Damage caused or loss of personal items in vehicle during the actual repossession",
              "Repossession•Deficiency balance after repossession",
              "Repossession•Lender trying to repossess or disable the vehicle",
              "Repossession•Loan balance remaining after the vehicle is repossessed and sold",
              "Repossession•Notice to repossess",
              "Repossession•Voluntary repossession",
              "Struggling to pay mortgage",
              "Struggling to pay mortgage•An existing modification, forbearance plan, short sale, or other loss mitigation relief",
              "Struggling to pay mortgage•Applying for or obtaining a modification, forbearance plan, short sale, or deed-in-lieu",
              "Struggling to pay mortgage•Foreclosure",
              "Struggling to pay mortgage•Trying to communicate with the company to fix an issue related to modification, forbearance, short sale, deed-in-lieu, bankruptcy, or foreclosure",
              "Struggling to pay your bill",
              "Struggling to pay your bill•Credit card company won't work with you while you're going through financial hardship",
              "Struggling to pay your bill•Filed for bankruptcy",
              "Struggling to pay your bill•Problem lowering your monthly payments",
              "Struggling to pay your loan",
              "Struggling to pay your loan•Denied request to lower payments",
              "Struggling to pay your loan•Lender trying to repossess or disable the vehicle",
              "Struggling to pay your loan•Loan balance remaining after the vehicle is repossessed and sold",
              "Struggling to pay your loan•Problem after you declared or threatened to declare bankruptcy",
              "Struggling to repay your loan",
              "Struggling to repay your loan•Bankruptcy",
              "Struggling to repay your loan•Can't get other flexible options for repaying your loan",
              "Struggling to repay your loan•Can't temporarily delay making payments",
              "Struggling to repay your loan•Problem lowering your monthly payments",
              "Struggling to repay your loan•Problem with forgiveness, cancellation, or discharge",
              "Struggling to repay your loan•Problem with your payment plan",
              "Threatened to contact someone or share information improperly",
              "Threatened to contact someone or share information improperly•Contacted you after you asked them to stop",
              "Threatened to contact someone or share information improperly•Contacted you instead of your attorney",
              "Threatened to contact someone or share information improperly•Contacted your employer",
              "Threatened to contact someone or share information improperly•Talked to a third-party about your debt",
              "Took or threatened to take negative or legal action",
              "Took or threatened to take negative or legal action•Collected or attempted to collect exempt funds",
              "Took or threatened to take negative or legal action•Seized or attempted to seize your property",
              "Took or threatened to take negative or legal action•Sued you in a state where you do not live or did not sign for the debt",
              "Took or threatened to take negative or legal action•Sued you without properly notifying you of lawsuit",
              "Took or threatened to take negative or legal action•Threatened or suggested your credit would be damaged",
              "Took or threatened to take negative or legal action•Threatened to arrest you or take you to jail if you do not pay",
              "Took or threatened to take negative or legal action•Threatened to sue you for very old debt",
              "Took or threatened to take negative or legal action•Threatened to turn you in to immigration or deport you",
              "Trouble accessing funds in your mobile or digital wallet",
              "Trouble during payment process",
              "Trouble during payment process•Escrow, taxes, or insurance",
              "Trouble during payment process•Fees charged",
              "Trouble during payment process•Interest rate",
              "Trouble during payment process•Lien release",
              "Trouble during payment process•Loan sold or transferred to another company",
              "Trouble during payment process•Paying off the loan",
              "Trouble during payment process•Payment process",
              "Trouble during payment process•Private mortgage insurance (PMI)",
              "Trouble during payment process•Trying to communicate with the company to fix an issue while managing or servicing your loan",
              "Trouble using the card",
              "Trouble using the card•Problem adding money",
              "Trouble using the card•Problem using the card to withdraw money from an ATM",
              "Trouble using the card•Problem with a check written from your prepaid card account",
              "Trouble using the card•Problem with direct deposit",
              "Trouble using the card•Trouble getting information about the card",
              "Trouble using the card•Trouble using the card to pay a bill",
              "Trouble using the card•Trouble using the card to send money to another person",
              "Trouble using the card•Trouble using the card to spend money in a store or online",
              "Trouble using your card",
              "Trouble using your card•Account sold or transferred to another company",
              "Trouble using your card•Can't use card to make purchases",
              "Trouble using your card•Credit card company won't increase or decrease your credit limit",
              "Unable to get your credit report or credit score",
              "Unable to get your credit report or credit score•Other problem getting your report or credit score",
              "Unable to get your credit report or credit score•Problem getting your free annual credit report",
              "Unauthorized transactions or other transaction problem",
              "Unauthorized withdrawals or charges",
              "Unexpected fees",
              "Unexpected or other fees",
              "Vehicle was damaged or destroyed the vehicle",
              "Vehicle was repossessed or sold the vehicle",
              "Was approved for a loan, but didn't receive money",
              "Was approved for a loan, but didn't receive the money",
              "Written notification about debt",
              "Written notification about debt•Didn't receive enough information to verify debt",
              "Written notification about debt•Didn't receive notice of right to dispute",
              "Written notification about debt•Notification didn't disclose it was an attempt to collect a debt",
              "Wrong amount charged or received"
            ],
            "name": "issue",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of product and subproduct, i.e. product-only: Mortgage, subproduct needs to include product, separated by '•', Mortgage•FHA mortgage",
            "x-ms-summary": "Products",
            "in": "query",
            "enum": [
              "Checking or savings account",
              "Checking or savings account•CD (Certificate of Deposit)",
              "Checking or savings account•Checking account",
              "Checking or savings account•Other banking product or service",
              "Checking or savings account•Savings account",
              "Credit card",
              "Credit card or prepaid card",
              "Credit card or prepaid card•General-purpose credit card or charge card",
              "Credit card or prepaid card•General-purpose prepaid card",
              "Credit card or prepaid card•Gift card",
              "Credit card or prepaid card•Government benefit card",
              "Credit card or prepaid card•Payroll card",
              "Credit card or prepaid card•Store credit card",
              "Credit card or prepaid card•Student prepaid card",
              "Credit card•General-purpose credit card or charge card",
              "Credit card•Store credit card",
              "Credit reporting or other personal consumer reports",
              "Credit reporting or other personal consumer reports•Credit reporting",
              "Credit reporting or other personal consumer reports•Other personal consumer report",
              "Credit reporting, credit repair services, or other personal consumer reports",
              "Credit reporting, credit repair services, or other personal consumer reports•Credit repair services",
              "Credit reporting, credit repair services, or other personal consumer reports•Credit reporting",
              "Credit reporting, credit repair services, or other personal consumer reports•Other personal consumer report",
              "Debt collection",
              "Debt collection•Auto debt",
              "Debt collection•Credit card debt",
              "Debt collection•Federal student loan debt",
              "Debt collection•I do not know",
              "Debt collection•Medical debt",
              "Debt collection•Mortgage debt",
              "Debt collection•Other debt",
              "Debt collection•Payday loan debt",
              "Debt collection•Private student loan debt",
              "Debt collection•Rental debt",
              "Debt collection•Telecommunications debt",
              "Debt or credit management",
              "Debt or credit management•Credit repair services",
              "Debt or credit management•Debt settlement",
              "Debt or credit management•Mortgage modification or foreclosure avoidance",
              "Debt or credit management•Student loan debt relief",
              "Money transfer, virtual currency, or money service",
              "Money transfer, virtual currency, or money service•Check cashing service",
              "Money transfer, virtual currency, or money service•Debt settlement",
              "Money transfer, virtual currency, or money service•Domestic (US) money transfer",
              "Money transfer, virtual currency, or money service•Foreign currency exchange",
              "Money transfer, virtual currency, or money service•International money transfer",
              "Money transfer, virtual currency, or money service•Mobile or digital wallet",
              "Money transfer, virtual currency, or money service•Money order",
              "Money transfer, virtual currency, or money service•Money order, traveler's check or cashier's check",
              "Money transfer, virtual currency, or money service•Refund anticipation check",
              "Money transfer, virtual currency, or money service•Traveler's check or cashier's check",
              "Money transfer, virtual currency, or money service•Virtual currency",
              "Mortgage",
              "Mortgage•Conventional home mortgage",
              "Mortgage•FHA mortgage",
              "Mortgage•Home equity loan or line of credit (HELOC)",
              "Mortgage•Manufactured home loan",
              "Mortgage•Other type of mortgage",
              "Mortgage•Reverse mortgage",
              "Mortgage•USDA mortgage",
              "Mortgage•VA mortgage",
              "Payday loan, title loan, or personal loan",
              "Payday loan, title loan, or personal loan•Installment loan",
              "Payday loan, title loan, or personal loan•Pawn loan",
              "Payday loan, title loan, or personal loan•Payday loan",
              "Payday loan, title loan, or personal loan•Personal line of credit",
              "Payday loan, title loan, or personal loan•Title loan",
              "Payday loan, title loan, personal loan, or advance loan",
              "Payday loan, title loan, personal loan, or advance loan•Earned wage access",
              "Payday loan, title loan, personal loan, or advance loan•Installment loan",
              "Payday loan, title loan, personal loan, or advance loan•Other advances of future income",
              "Payday loan, title loan, personal loan, or advance loan•Pawn loan",
              "Payday loan, title loan, personal loan, or advance loan•Payday loan",
              "Payday loan, title loan, personal loan, or advance loan•Personal line of credit",
              "Payday loan, title loan, personal loan, or advance loan•Tax refund anticipation loan or check",
              "Payday loan, title loan, personal loan, or advance loan•Title loan",
              "Prepaid card",
              "Prepaid card•General-purpose prepaid card",
              "Prepaid card•Gift card",
              "Prepaid card•Government benefit card",
              "Prepaid card•Payroll card",
              "Prepaid card•Student prepaid card",
              "Student loan",
              "Student loan•Federal student loan servicing",
              "Student loan•Private student loan",
              "Vehicle loan or lease",
              "Vehicle loan or lease•Lease",
              "Vehicle loan or lease•Loan",
              "Vehicle loan or lease•Title loan"
            ],
            "name": "product",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these states (use abbreviation, i.e. CA, VA)",
            "x-ms-summary": "States",
            "in": "query",
            "name": "state",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of way consumers submitted their complaints",
            "x-ms-summary": "Submission Methods",
            "in": "query",
            "enum": [
              "Web",
              "Referral",
              "Phone",
              "Postal mail",
              "Fax",
              "Web Referral",
              "Email"
            ],
            "name": "submitted_via",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of tag",
            "x-ms-summary": "Tags",
            "in": "query",
            "enum": [
              "Servicemember",
              "Older American",
              "Older American, Servicemember"
            ],
            "name": "tags",
            "type": "string"
          },
          {
            "description": "Filter the results to show whether a response was timely",
            "x-ms-summary": "Timely Response",
            "in": "query",
            "enum": [
              "Yes",
              "No"
            ],
            "name": "timely",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these zip codes",
            "x-ms-summary": "Zip Codes",
            "in": "query",
            "name": "zip_code",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SuggestResult"
            }
          },
          "400": {
            "description": "Invalid input"
          }
        },
        "description": "Provide a list of companies that match complaints in the database",
        "summary": "Suggest possible companies",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/consumercomplaints/#suggest-possible-companies"
        }
      }
    },
    "/{connectionId}/_suggest_zip": {
      "get": {
        "produces": [
          "application/json"
        ],
        "operationId": "SuggestZipCodes",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Text to use for suggestions",
            "x-ms-summary": "Suggestion Text",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "Limit the size of the results",
            "x-ms-summary": "Result Size",
            "format": "int64",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "size",
            "type": "integer"
          },
          {
            "description": "Filter the results to only return these types of public response by the company",
            "x-ms-summary": "Public Responses",
            "in": "query",
            "enum": [
              "Company has responded to the consumer and the CFPB and chooses not to provide a public response",
              "Company believes it acted appropriately as authorized by contract or law",
              "Company believes complaint caused principally by actions of third party outside the control or direction of the company",
              "Company believes the complaint is the result of a misunderstanding",
              "Company disputes the facts presented in the complaint",
              "Company can't verify or dispute the facts in the complaint",
              "Company believes the complaint provided an opportunity to answer consumer's questions",
              "Company believes complaint is the result of an isolated error",
              "Company believes complaint represents an opportunity for improvement to better serve consumers",
              "Company believes complaint relates to a discontinued policy or procedure"
            ],
            "name": "company_public_response",
            "type": "string"
          },
          {
            "description": "Return results with date < company_received_max (i.e. 2017-03-04)",
            "x-ms-summary": "Max Company Received Date",
            "format": "date",
            "in": "query",
            "name": "company_received_max",
            "type": "string"
          },
          {
            "description": "Return results with date >= company_received_min (i.e. 2017-03-04)",
            "x-ms-summary": "Min Company Received Date",
            "format": "date",
            "in": "query",
            "name": "company_received_min",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of response by the company",
            "x-ms-summary": "Company Responses",
            "in": "query",
            "name": "company_response",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of consent consumer provided",
            "x-ms-summary": "Consumer Consents",
            "in": "query",
            "enum": [
              "Consent not provided",
              "Consent provided",
              "Other",
              "N/A",
              "Consent withdrawn"
            ],
            "name": "consumer_consent_provided",
            "type": "string"
          },
          {
            "description": "Filter the results to only return the specified state of consumer disputed, i.e. yes, no",
            "x-ms-summary": "Consumer Disputed",
            "in": "query",
            "name": "consumer_disputed",
            "type": "string"
          },
          {
            "description": "Return results with date < date_received_max (i.e. 2017-03-04)",
            "x-ms-summary": "Max Date Received",
            "format": "date",
            "in": "query",
            "name": "date_received_max",
            "type": "string"
          },
          {
            "description": "Return results with date >= date_received_min (i.e. 2017-03-04)",
            "x-ms-summary": "Min Date Received",
            "format": "date",
            "in": "query",
            "name": "date_received_min",
            "type": "string"
          },
          {
            "description": "Filter the results to only return the specified state of whether it has narrative in the complaint or not, i.e. yes, no",
            "x-ms-summary": "Has Narrative",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "name": "has_narrative",
            "type": "string"
          },
          {
            "description": "Filter the results to only return these types of issue and subissue, i.e. product-only: Getting a Loan, subproduct needs to include product, separated by '•', Getting a Loan•Can't qualify for a loan",
            "x-ms-summary": "Issues",
            "in": "query",
            "enum": [
              "Advertising",
              "Advertising and marketing, including promotional offers",
              "Advertising and marketing, including promotional offers•Confusing or misleading advertising about the credit card",
              "Advertising and marketing, including promotional offers•Didn't receive advertised or promotional terms",
              "Advertising•Changes in terms from what was offered or advertised",
              "Advertising•Confusing or misleading advertising about the card",
              "Applying for a mortgage or refinancing an existing mortgage",
              "Applying for a mortgage or refinancing an existing mortgage•Application denials",
              "Applying for a mortgage or refinancing an existing mortgage•Changes in loan terms during the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Confusing or misleading advertising or marketing",
              "Applying for a mortgage or refinancing an existing mortgage•Delays in the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Fees or costs during the application process",
              "Applying for a mortgage or refinancing an existing mortgage•Loan estimate or other related disclosures",
              "Applying for a mortgage or refinancing an existing mortgage•Negative impact of inaccurate appraisal",
              "Applying for a mortgage or refinancing an existing mortgage•Trying to communicate with the company to fix an issue with the application process",
              "Attempts to collect debt not owed",
              "Attempts to collect debt not owed•Debt is not yours",
              "Attempts to collect debt not owed•Debt was already discharged in bankruptcy and is no longer owed",
              "Attempts to collect debt not owed•Debt was paid",
              "Attempts to collect debt not owed•Debt was result of identity theft",
              "Can't contact lender or servicer",
              "Can't stop withdrawals from your bank account",
              "Charged fees or interest you didn't expect",
              "Charged upfront or unexpected fees",
              "Closing an account",
              "Closing an account•Can't close your account",
              "Closing an account•Company closed your account",
              "Closing an account•Fees charged for closing account",
              "Closing an account•Funds not received from closed account",
              "Closing on a mortgage",
              "Closing on a mortgage•Changes in loan terms during or after closing",
              "Closing on a mortgage•Closing disclosure or other related disclosures",
              "Closing on a mortgage•Delays with the closing process",
              "Closing on a mortgage•Fees or costs after closing",
              "Closing on a mortgage•Setting up an escrow account for taxes and insurance",
              "Closing on a mortgage•Trying to communicate with the company to fix an issue with the loan closing",
              "Closing your account",
              "Closing your account•Can't close your account",
              "Closing your account•Company closed your account",
              "Communication tactics",
              "Communication tactics•Called before 8am or after 9pm",
              "Communication tactics•Contacted before 8am or after 9pm",
              "Communication tactics•Frequent or repeated calls",
              "Communication tactics•Frequent or repeated messages",
              "Communication tactics•Used obscene, profane, or other abusive language",
              "Communication tactics•You told them to stop contacting you, but they keep trying",
              "Confusing or misleading advertising or marketing",
              "Confusing or missing disclosures",
              "Credit limit changed",
              "Credit monitoring or identity theft protection services",
              "Credit monitoring or identity theft protection services•Billing dispute for services",
              "Credit monitoring or identity theft protection services•Didn't receive services that were advertised",
              "Credit monitoring or identity theft protection services•Problem canceling credit monitoring or identify theft protection service",
              "Credit monitoring or identity theft protection services•Problem with product or service terms changing",
              "Credit monitoring or identity theft protection services•Received unwanted marketing or advertising",
              "Dealing with your lender or servicer",
              "Dealing with your lender or servicer•Co-signer",
              "Dealing with your lender or servicer•Don't agree with the fees charged",
              "Dealing with your lender or servicer•Keep getting calls about your loan",
              "Dealing with your lender or servicer•Need information about your loan balance or loan terms",
              "Dealing with your lender or servicer•Problem with customer service",
              "Dealing with your lender or servicer•Received bad information about your loan",
              "Dealing with your lender or servicer•Trouble with how payments are being handled",
              "Didn't provide services promised",
              "Electronic communications",
[...]
