{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "Campfire",
    "description": "Campfire is an instant messaging tool used for communication and file sharing within teams.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/campfire",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/authorization.json": {
      "get": {
        "tags": [
          "Campfire"
        ],
        "summary": "List accounts",
        "description": "Retrieves the list of accounts this user has access too",
        "operationId": "ListAccounts",
        "consumes": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "parentOperation",
            "type": "string",
            "required": false
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#list-accounts"
        }
      }
    },
    "/{connectionId}/rooms.json": {
      "get": {
        "tags": [
          "Campfire"
        ],
        "summary": "List Rooms",
        "description": "Retrieves the list of rooms in an account",
        "operationId": "ListRooms",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account in Campfire",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "accounts",
              "value-path": "href",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoomsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#list-rooms"
        }
      }
    },
    "/{connectionId}/room/{roomId}/recent.json": {
      "get": {
        "tags": [
          "Campfire"
        ],
        "summary": "List Messages",
        "description": "Retrieves messages in a room",
        "operationId": "ListMessages",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account in Campfire",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "accounts",
              "value-path": "href",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "roomId",
            "in": "path",
            "description": "A room associated with the account",
            "required": true,
            "x-ms-summary": "RoomId",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListRooms",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "rooms",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MessagesResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#list-messages"
        }
      }
    },
    "/{connectionId}/room/{roomId}/uploads.json": {
      "get": {
        "tags": [
          "Campfire"
        ],
        "summary": "List Uploads",
        "description": "Retrieves the uploads in a room",
        "operationId": "ListUploads",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account in Campfire",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "accounts",
              "value-path": "href",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "roomId",
            "in": "path",
            "description": "A room associated with the account",
            "required": true,
            "x-ms-summary": "RoomId",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListRooms",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "rooms",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#list-uploads"
        }
      }
    },
    "/{connectionId}/room/{roomId}/speak.json": {
      "post": {
        "tags": [
          "Campfire"
        ],
        "summary": "Create a message",
        "description": "Sends a message to the given room.",
        "operationId": "CreateMessage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account in Campfire",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "accounts",
              "value-path": "href",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "roomId",
            "in": "path",
            "description": "A room associated with the account",
            "required": true,
            "x-ms-summary": "RoomId",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListRooms",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "rooms",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "message",
            "in": "query",
            "description": "Message text to be created",
            "required": true,
            "x-ms-summary": "Message text to be created",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateMessageResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#create-a-message"
        }
      }
    },
    "/{connectionId}/OnNewRoom_trigger/rooms.json": {
      "get": {
        "tags": [
          "Campfire"
        ],
        "summary": "When a room is created",
        "description": "Triggers when a new room is added to the authenticated user's account. Not applicable to Basecamp.",
        "operationId": "OnNewRoom",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account in Campfire",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "accounts",
              "value-path": "href",
              "value-title": "name",
              "parameters": {
                "parentOperation": "OnNewRoom"
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoomsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, add a room to your Campfire account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#when-a-room-is-created"
        }
      }
    },
    "/{connectionId}/OnNewMessage_trigger/room/{roomId}/recent.json": {
      "get": {
        "tags": [
          "Campfire"
        ],
        "summary": "When a new message is received",
        "description": "Triggers when a new message is received in a given room.",
        "operationId": "OnNewMessage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account in Campfire",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "accounts",
              "value-path": "href",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "roomId",
            "in": "path",
            "description": "A room associated with the account",
            "required": true,
            "x-ms-summary": "RoomId",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListRooms",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "rooms",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MessagesResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, send a message to your room in Campfire",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#when-a-new-message-is-received"
        }
      }
    },
    "/{connectionId}/OnNewUpload_trigger/room/{roomId}/uploads.json": {
      "get": {
        "tags": [
          "Campfire"
        ],
        "summary": "When a file is uploaded",
        "description": "Triggers when a file is uploaded to a given room. Not applicable to Basecamp.",
        "operationId": "OnNewUpload",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account in Campfire",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "accounts",
              "value-path": "href",
              "value-title": "name",
              "parameters": {
                "parentOperation": "OnNewUpload"
              }
            },
            "type": "string"
          },
          {
            "name": "roomId",
            "in": "path",
            "description": "A room associated with the account",
            "required": true,
            "x-ms-summary": "RoomId",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListRooms",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "rooms",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, upload a file to a room in Campfire.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#when-a-file-is-uploaded"
        }
      }
    },
    "/{connectionId}/users/{userId}.json": {
      "get": {
        "tags": [
          "Campfire"
        ],
        "summary": "Get user by ID",
        "description": "Retrieves information about a user by given ID",
        "operationId": "GetUser",
        "consumes": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "Account in Campfire",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "accounts",
              "value-path": "href",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "x-ms-summary": "User ID",
            "x-ms-visibility": "important",
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/campfire/#get-user-by-id"
        }
      }
    }
  },
  "definitions": {
    "AccountsResponse": {
      "description": "Account data for an account in Campfire",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "Collection Of Accounts",
          "type": "array",
          "items": {
            "description": "Account in Campfire",
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "Id of the account",
                "type": "integer",
                "x-ms-summary": "Account Id",
                "x-ms-visibility": "important"
              },
              "name": {
                "description": "Name of the account",
                "type": "string",
                "x-ms-summary": "Account Name",
                "x-ms-visibility": "important"
              },
              "app_href": {
                "description": "Link to the account",
                "type": "string",
                "x-ms-summary": "Account Link",
                "x-ms-visibility": "important"
              },
              "account_url": {
                "description": "Account Url",
                "type": "string",
                "x-ms-summary": "Account url",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "Accounts",
          "x-ms-visibility": "important"
        }
      }
    },
    "Account": {
      "description": "Account in Campfire",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Id of the account",
          "type": "integer",
          "x-ms-summary": "Account Id",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Name of the account",
          "type": "string",
          "x-ms-summary": "Account Name",
          "x-ms-visibility": "important"
        },
        "app_href": {
          "description": "Link to the account",
          "type": "string",
          "x-ms-summary": "Account Link",
          "x-ms-visibility": "important"
        },
        "account_url": {
          "description": "Account Url",
          "type": "string",
          "x-ms-summary": "Account url",
          "x-ms-visibility": "important"
        }
      }
    },
    "RoomsResponse": {
      "description": "Collection of Room Data",
      "type": "object",
      "properties": {
        "rooms": {
          "description": "Collection of Rooms",
          "type": "array",
          "items": {
            "description": "Data associated with a room",
            "type": "object",
            "properties": {
              "name": {
                "description": "Room name.",
                "type": "string",
                "x-ms-summary": "Room Name",
                "x-ms-visibility": "important"
              },
              "id": {
                "description": "Room Id.",
                "type": "string",
                "x-ms-summary": "Room Id",
                "x-ms-visibility": "important"
              },
              "locked": {
                "description": "Boolean value, True if a room is locked.",
                "type": "boolean",
                "x-ms-summary": "Room Locked",
                "x-ms-visibility": "important"
              },
              "topic": {
                "description": "Room topic or description.",
                "type": "string",
                "x-ms-summary": "Room Topic",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "Rooms",
          "x-ms-visibility": "important"
        }
      }
    },
    "Room": {
      "description": "Data associated with a room",
      "type": "object",
      "properties": {
        "name": {
          "description": "Room name.",
          "type": "string",
          "x-ms-summary": "Room Name",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "Room Id.",
          "type": "integer",
          "x-ms-summary": "Room Id",
          "x-ms-visibility": "important"
        },
        "locked": {
          "description": "Boolean value, True if a room is locked.",
          "type": "boolean",
          "x-ms-summary": "Room Locked",
          "x-ms-visibility": "important"
        },
        "topic": {
          "description": "Room topic or description.",
          "type": "string",
          "x-ms-summary": "Room Topic",
          "x-ms-visibility": "important"
        }
      }
    },
    "MessagesResponse": {
      "description": "A collection of message data in Campfire",
      "type": "object",
      "properties": {
        "messages": {
          "description": "Collection Of messages",
          "type": "array",
          "items": {
            "description": "A Campfire message",
            "type": "object",
            "properties": {
              "body": {
                "description": "Message Body.",
                "type": "string",
                "x-ms-summary": "Message Body",
                "x-ms-visibility": "important"
              },
              "id": {
                "format": "int32",
                "description": "Message Id.",
                "type": "integer",
                "x-ms-summary": "Message Id",
                "x-ms-visibility": "important"
              },
              "starred": {
                "description": "Boolean value, True if a message is starred.",
                "type": "boolean",
                "x-ms-summary": "Message Starred",
                "x-ms-visibility": "important"
              },
              "user_id": {
                "description": "The unique ID of the user who created the message.",
                "type": "integer",
                "format": "int32",
                "x-ms-summary": "User ID",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "Messages",
          "x-ms-visibility": "important"
        }
      }
    },
    "Message": {
      "description": "A Campfire message",
      "type": "object",
      "properties": {
        "body": {
          "description": "Message Body.",
          "type": "string",
          "x-ms-summary": "Message Body",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "Message Id.",
          "type": "integer",
          "x-ms-summary": "Message Id",
          "x-ms-visibility": "important"
        },
        "starred": {
          "description": "Boolean value, True if a message is starred.",
          "type": "boolean",
          "x-ms-summary": "Message Starred",
          "x-ms-visibility": "important"
        }
      }
    },
    "UploadResponse": {
      "description": "Data for uploaded files in Campfire",
      "type": "object",
      "properties": {
        "uploads": {
          "description": "Collection of Uploads",
          "type": "array",
          "items": {
            "description": "Data for an uploaded file in Campfire",
            "type": "object",
            "properties": {
              "full_url": {
                "description": "File Url.",
                "type": "string",
                "x-ms-summary": "File Url",
                "x-ms-visibility": "important"
              },
              "room_id": {
                "format": "int32",
                "description": "Room Id.",
                "type": "integer",
                "x-ms-summary": "Room Id",
                "x-ms-visibility": "important"
              },
              "id": {
                "format": "int32",
                "description": "File Id.",
                "type": "integer",
                "x-ms-summary": "File Id",
                "x-ms-visibility": "important"
              },
              "content_type": {
                "description": "Format of the uploaded file.",
                "type": "string",
                "x-ms-summary": "Content Type",
                "x-ms-visibility": "important"
              },
              "name": {
                "description": "File name.",
                "type": "string",
                "x-ms-summary": "File Name",
                "x-ms-visibility": "important"
              },
              "created_at": {
                "format": "date-time",
                "description": "Timestamp of upload.",
                "type": "string",
                "x-ms-summary": "Created At",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "Uploads",
          "x-ms-visibility": "important"
        }
      }
    },
    "Upload": {
      "description": "Data for an uploaded file in Campfire",
      "type": "object",
      "properties": {
        "full_url": {
          "description": "File Url.",
          "type": "string",
          "x-ms-summary": "File Url",
          "x-ms-visibility": "important"
        },
        "room_id": {
          "format": "int32",
          "description": "Room Id.",
          "type": "integer",
          "x-ms-summary": "Room Id",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "File Id.",
          "type": "integer",
          "x-ms-summary": "File Id",
          "x-ms-visibility": "important"
        },
        "content_type": {
          "description": "Format of the uploaded file.",
          "type": "string",
          "x-ms-summary": "Content Type",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "File name.",
          "type": "string",
          "x-ms-summary": "File Name",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "format": "date-time",
          "description": "Timestamp of upload.",
          "type": "string",
          "x-ms-summary": "Created At",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateUploadResponse": {
      "description": "Data for an uploaded file in Campfire",
      "type": "object",
      "properties": {
        "upload": {
          "$ref": "#/definitions/Upload"
        }
      }
    },
    "CreateMessageResponse": {
      "description": "A message",
      "type": "object",
      "properties": {
        "message": {
          "description": "A Campfire message",
          "type": "object",
          "properties": {
            "body": {
              "description": "Message Body.",
              "type": "string",
              "x-ms-summary": "Message Body",
              "x-ms-visibility": "important"
            },
            "id": {
              "format": "int32",
              "description": "Message Id.",
              "type": "integer",
              "x-ms-summary": "Message Id",
              "x-ms-visibility": "important"
            },
            "starred": {
              "description": "Boolean value, true if a message is starred.",
              "type": "boolean",
              "x-ms-summary": "Message Starred",
              "x-ms-visibility": "important"
            },
            "user_id": {
              "description": "The unique ID of the user who created the message.",
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "User ID",
              "x-ms-visibility": "important"
            }
          }
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "user": {
          "type": "object",
          "properties": {
            "email_address": {
              "type": "string",
              "x-ms-summary": "User Email",
              "x-ms-description": "User Email"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "User Name",
              "x-ms-description": "User Name"
            },
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "User ID",
              "x-ms-description": "User ID"
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://basecamp.com/retired/campfire"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://basecamp.com/about/policies/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/campfire"
  }
}
