{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Easy Redmine",
    "description": "Easy Redmine is a web based tool for software project management.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/new_project_trigger/projects.json": {
      "get": {
        "summary": "When a project is created",
        "description": "When a project is created",
        "operationId": "OnNewProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task in the selected task list.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#when-a-project-is-created"
        }
      }
    },
    "/{connectionId}/new_issue_trigger/issues.json": {
      "get": {
        "summary": "When a task is created",
        "description": "When a task is created",
        "operationId": "OnNewIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "155"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListIssuesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task in the selected task list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#when-a-task-is-created"
        }
      }
    },
    "/{connectionId}/resolved_issue_trigger/issues.json": {
      "get": {
        "summary": "When a task is updated",
        "description": "When a task is updated",
        "operationId": "OnUpdatedIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project ID",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "155"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListIssuesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task in the selected task list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#when-a-task-is-updated"
        }
      }
    },
    "/{connectionId}/issues.json": {
      "get": {
        "summary": "List issues",
        "description": "List issues",
        "operationId": "ListIssues",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListIssuesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#list-issues"
        }
      },
      "post": {
        "summary": "Create a task",
        "description": "Create a task",
        "operationId": "CreateIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "issue",
            "in": "body",
            "description": "Issue",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateIssueRequest"
            },
            "x-ms-summary": "Issue"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetIssueResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#create-a-task"
        }
      }
    },
    "/{connectionId}/issues/{issue_id}.json": {
      "get": {
        "summary": "Get task by ID",
        "description": "Get task by ID",
        "operationId": "GetIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "issue_id",
            "in": "path",
            "description": "Issue",
            "required": true,
            "x-ms-summary": "Issue",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "3957"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetIssueResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#get-task-by-id"
        }
      },
      "put": {
        "summary": "Update a task",
        "description": "Update a task",
        "operationId": "UpdateIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "issue_id",
            "in": "path",
            "description": "Issue ID",
            "required": true,
            "x-ms-summary": "Issue ID",
            "x-ms-dynamic-values": {
              "operationId": "ListIssues",
              "value-collection": "issues",
              "value-path": "id",
              "value-title": "subject"
            },
            "type": "string",
            "x-ms-test-value": "3957"
          },
          {
            "name": "issue",
            "in": "body",
            "description": "Issue",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateIssueRequest"
            },
            "x-ms-summary": "Issue"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#update-a-task"
        }
      }
    },
    "/{connectionId}/projects.json": {
      "get": {
        "summary": "List projects",
        "description": "List projects",
        "operationId": "ListProjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#list-projects"
        }
      },
      "post": {
        "summary": "Create a project",
        "description": "Create a project",
        "operationId": "CreateProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project",
            "in": "body",
            "description": "Project",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProjectRequest"
            },
            "x-ms-summary": "Project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateProjectResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#create-a-project"
        }
      }
    },
    "/{connectionId}/projects/{project_id}.json": {
      "get": {
        "summary": "Get project by ID",
        "description": "Get project by ID",
        "operationId": "GetProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "155"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#get-project-by-id"
        }
      }
    },
    "/{connectionId}/users.json": {
      "get": {
        "summary": "List users",
        "description": "List users",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsersResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#list-users"
        }
      }
    },
    "/{connectionId}/users/{user_id}.json": {
      "get": {
        "summary": "Get user by ID",
        "description": "Get user by ID",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User",
            "required": true,
            "x-ms-summary": "User",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "5"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#get-user-by-id"
        }
      }
    },
    "/{connectionId}/enumerations/issue_priorities.json": {
      "get": {
        "summary": "List priorities",
        "description": "List priorities",
        "operationId": "ListPriorities",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPrioritiesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/easyredmine/#list-priorities"
        }
      }
    }
  },
  "definitions": {
    "ListProjectsResponse": {
      "type": "object",
      "properties": {
        "projects": {
          "description": "Projects",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectResponse"
          },
          "x-ms-summary": "Projects",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Project ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Project name",
          "x-ms-visibility": "important"
        },
        "identifier": {
          "description": "Unique identifier for the project.",
          "type": "string",
          "x-ms-summary": "Identifier",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "homepage": {
          "type": "string",
          "x-ms-summary": "Homepage",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "author": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Author Id",
              "x-ms-visibility": "internal"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Author",
              "x-ms-visibility": "important"
            }
          }
        },
        "created_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important"
        },
        "updated_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "important"
        },
        "start_date": {
          "format": "date-time",
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Start date",
          "x-ms-visibility": "important"
        },
        "due_date": {
          "format": "date-time",
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Due date",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateProjectRequest": {
      "required": [
        "project"
      ],
      "type": "object",
      "properties": {
        "project": {
          "required": [
            "name"
          ],
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of project",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-test-value": "test project 1"
            },
            "identifier": {
              "description": "Unique friendly name that is different from id",
              "type": "string",
              "x-ms-summary": "Identifier"
            },
            "description": {
              "description": "Description",
              "type": "string",
              "x-ms-summary": "Description"
            },
            "homepage": {
              "description": "Homepage",
              "type": "string",
              "x-ms-summary": "Homepage",
              "x-ms-visibility": "advanced"
            },
            "parent_id": {
              "description": "Select the parent project",
              "type": "string",
              "x-ms-summary": "Parent project ID",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListProjects",
                "value-collection": "projects",
                "value-path": "id",
                "value-title": "name"
              }
            },
            "is_public": {
              "description": "Is a public project",
              "default": false,
              "type": "boolean",
              "x-ms-summary": "Public",
              "x-ms-visibility": "advanced"
            },
            "inherit_members": {
              "description": "Inherit members",
              "default": false,
              "type": "boolean",
              "x-ms-summary": "Inherit members",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "project": {
          "name": "test project"
        }
      }
    },
    "CreateProjectResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Project id",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Project name",
          "x-ms-visibility": "important"
        },
        "identifier": {
          "description": "Unique identifier for the project",
          "type": "string",
          "x-ms-summary": "Identifier",
          "x-ms-visibility": "important"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "homepage": {
          "type": "string",
          "x-ms-summary": "Homepage",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "author": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Author Id",
              "type": "integer",
              "x-ms-summary": "Author Id",
              "x-ms-visibility": "internal"
            },
            "name": {
              "description": "Username of author",
              "type": "string",
              "x-ms-summary": "Author",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "created_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "advanced"
        },
        "updated_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListIssuesResponse": {
      "type": "object",
      "properties": {
        "issues": {
          "description": "Issues",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IssueResponse"
          },
          "x-ms-summary": "Issues",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "IssueResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "important"
        },
        "project": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Project Id",
              "x-ms-visibility": "important"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Project name",
              "x-ms-visibility": "important"
            }
          }
        },
        "tracker": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Tracker Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Tracker",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "status": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Status Id",
              "x-ms-visibility": "important"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Status",
              "x-ms-visibility": "important"
            }
          }
        },
        "priority": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Priority Id",
              "x-ms-visibility": "important"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Priority",
              "x-ms-visibility": "important"
            }
          }
        },
        "author": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "User ID of author",
              "type": "integer",
              "x-ms-summary": "Author Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Username of author",
              "type": "string",
              "x-ms-summary": "Author",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "subject": {
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "start_date": {
          "type": "string",
          "x-ms-summary": "Start date",
          "x-ms-visibility": "advanced"
        },
        "done_ratio": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Done ratio",
          "x-ms-visibility": "important"
        },
        "created_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "advanced"
        },
        "updated_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetIssueResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "important"
        },
        "project": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Project Id",
              "x-ms-visibility": "important"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Project name",
              "x-ms-visibility": "important"
            }
          }
        },
        "tracker": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Tracker Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Tracker",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "status": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Status Id",
              "x-ms-visibility": "important"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Status",
              "x-ms-visibility": "important"
            }
          }
        },
        "priority": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Priority Id",
              "x-ms-visibility": "important"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Priority",
              "x-ms-visibility": "important"
            }
          }
        },
        "author": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "User ID of author.",
              "type": "integer",
              "x-ms-summary": "Author Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Username of author.",
              "type": "string",
              "x-ms-summary": "Author",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "subject": {
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "start_date": {
          "type": "string",
          "x-ms-summary": "Start date",
          "x-ms-visibility": "advanced"
        },
        "done_ratio": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Done ratio",
          "x-ms-visibility": "advanced"
        },
        "spent_hours": {
          "format": "float",
          "type": "number",
          "x-ms-summary": "Spent hours",
          "x-ms-visibility": "advanced"
        },
        "total_spent_hours": {
          "format": "float",
          "type": "number",
          "x-ms-summary": "Total spent hours",
          "x-ms-visibility": "advanced"
        },
        "created_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "advanced"
        },
        "updated_on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CreateIssueRequest": {
      "type": "object",
      "required": [
        "issue"
      ],
      "properties": {
        "issue": {
          "type": "object",
          "required": [
            "project_id",
            "priority_id",
            "subject"
          ],
          "properties": {
            "project_id": {
              "description": "Project ID",
              "type": "string",
              "x-ms-summary": "Project ID",
              "x-ms-dynamic-values": {
                "operationId": "ListProjects",
                "value-collection": "projects",
                "value-path": "id",
                "value-title": "name"
              }
            },
            "priority_id": {
              "description": "Priority ID",
              "type": "string",
              "x-ms-summary": "Priority ID",
              "x-ms-dynamic-values": {
                "operationId": "ListPriorities",
                "value-collection": "issue_priorities",
                "value-path": "id",
                "value-title": "name"
              }
            },
            "subject": {
              "description": "Subject",
              "type": "string",
              "x-ms-summary": "Subject"
            },
            "description": {
              "description": "Description",
              "type": "string",
              "x-ms-summary": "Description"
            },
            "start_date": {
              "format": "date-time",
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Start date",
              "x-ms-visibility": "advanced"
            },
            "due_date": {
              "format": "date-time",
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Due date",
              "x-ms-visibility": "advanced"
            },
            "estimated_hours": {
              "description": "Estimated hours",
              "x-ms-summary": "Estimated hours",
              "x-ms-visibility": "advanced",
              "format": "float",
              "type": "number"
            }
          }
        }
      },
      "x-ms-test-value": {
        "issue": {
          "project_id": "155",
          "priority_id": "8",
          "subject": "test task"
        }
      }
    },
    "CreateIssueResponse": {
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "project": {
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Project Id",
              "x-ms-visibility": "important",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "x-ms-summary": "Project name",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "tracker": {
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Tracker Id",
              "x-ms-visibility": "advanced",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "x-ms-summary": "Tracker",
              "x-ms-visibility": "advanced",
              "type": "string"
            }
          }
        },
        "status": {
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Status Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "x-ms-summary": "Status",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "priority": {
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Priority Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "x-ms-summary": "Priority",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "author": {
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Author Id",
              "x-ms-visibility": "advanced",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "x-ms-summary": "Author",
              "x-ms-visibility": "advanced",
              "type": "string"
            }
          }
        },
        "subject": {
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "description": {
          "x-ms-summary": "Description",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "start_date": {
          "x-ms-summary": "Start date",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "due_date": {
          "x-ms-summary": "Due date",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "done_ratio": {
          "x-ms-summary": "Done ratio",
          "x-ms-visibility": "advanced",
          "format": "int32",
          "type": "integer"
        },
        "estimated_hours": {
          "x-ms-summary": "Estimated hours",
          "x-ms-visibility": "advanced",
          "format": "float",
          "type": "number"
        },
        "created_on": {
          "x-ms-summary": "Created on",
          "x-ms-visibility": "advanced",
          "format": "date-time",
          "type": "string"
        },
        "updated_on": {
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "advanced",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "UpdateIssueRequest": {
      "type": "object",
      "properties": {
        "issue": {
          "type": "object",
          "properties": {
            "project_id": {
              "description": "Project ID",
              "type": "string",
              "x-ms-summary": "Project ID",
              "x-ms-dynamic-values": {
                "operationId": "ListProjects",
                "value-collection": "projects",
                "value-path": "id",
                "value-title": "name"
              },
              "x-ms-visibility": "important"
            },
            "priority_id": {
              "description": "Priority ID",
              "type": "string",
              "x-ms-summary": "Priority ID",
              "x-ms-dynamic-values": {
                "operationId": "ListPriorities",
                "value-collection": "issue_priorities",
                "value-path": "id",
                "value-title": "name"
              },
              "x-ms-visibility": "important"
            },
            "subject": {
              "description": "Subject",
              "type": "string",
              "x-ms-summary": "Subject",
              "x-ms-visibility": "important"
            },
            "description": {
              "description": "Description",
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "important"
            },
            "status_id": {
              "description": "Status",
              "enum": [
                "New",
                "Estimated",
                "Approved",
                "Realisation",
                "Consultation",
                "To check",
                "Passive",
                "Done",
                "Cancelled",
                "Sequence pending"
              ],
              "type": "string",
              "x-ms-summary": "Status",
              "x-ms-visibility": "advanced"
            },
            "assigned_to_id": {
              "description": "User to be assigned this task",
              "type": "string",
              "x-ms-summary": "Assign to ID",
              "x-ms-visibility": "advanced"
            },
            "start_date": {
              "format": "date-time",
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Start date",
              "x-ms-visibility": "advanced"
            },
            "due_date": {
              "format": "date-time",
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Due date",
              "x-ms-visibility": "advanced"
            },
            "estimated_hours": {
              "description": "Estimated hours",
              "x-ms-summary": "Estimated hours",
              "x-ms-visibility": "advanced",
              "format": "float",
              "type": "number"
            }
          }
        }
      },
      "x-ms-test-value": {
        "issue": {
          "subject": "test task"
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "description": "Users",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserResponse"
          },
          "x-ms-summary": "Users",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "important"
        },
        "login": {
          "type": "string",
          "x-ms-summary": "Login",
          "x-ms-visibility": "important"
        },
        "firstname": {
          "type": "string",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important"
        },
        "lastname": {
          "type": "string",
          "x-ms-summary": "Last name",
          "x-ms-visibility": "important"
        },
        "mail": {
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "created_on": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important"
        },
        "last_login_on": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Last login",
          "x-ms-visibility": "internal"
        },
        "api_key": {
          "type": "string",
          "x-ms-summary": "API key",
          "x-ms-visibility": "internal"
        },
        "status": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "easy_user_type": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "User type Id",
              "x-ms-visibility": "internal"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "User type name",
              "x-ms-visibility": "important"
            }
          }
        },
        "language": {
          "type": "string",
          "x-ms-summary": "Language",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListPrioritiesResponse": {
      "type": "object",
      "properties": {
        "issue_priorities": {
          "description": "Priorities",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PriorityResponse"
          },
          "x-ms-summary": "Projects",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PriorityResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Priority Id",
          "type": "integer",
          "x-ms-summary": "Priority Id",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Name",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.easyredmine.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.easyredmine.com/contacts/terms-and-conditions#data_processing"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/easyredmine"
  },
  "basePath": "/apim/easyredmine"
}
