{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "Google Tasks",
    "description": "Google Tasks is a very simple task list. Works inside Gmail, Android, and Calendar seamlessly.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/googletasks",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/users/@me/lists": {
      "get": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "List task lists",
        "description": "List all task lists.",
        "operationId": "ListTaskLists",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskListList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#list-task-lists"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "Create a task list",
        "description": "Creates a new task list.",
        "operationId": "CreateTaskList",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "list",
            "in": "body",
            "description": "The title of the new list.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskListCreate"
            },
            "x-ms-summary": "The title of the new list"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskListEntry"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#create-a-task-list"
        }
      }
    },
    "/{connectionId}/lists/{taskListId}/tasks": {
      "get": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "Lists the tasks for a task list",
        "description": "Lists the tasks for a specific task list.",
        "operationId": "ListTasks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskListId",
            "in": "path",
            "description": "The id of the task list.",
            "required": true,
            "x-ms-summary": "Task List ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTaskLists",
              "value-collection": "items",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#lists-the-tasks-for-a-task-list"
        }
      },
      "post": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "Create a task in a task list",
        "description": "Create a task in a specific task list.",
        "operationId": "CraeteTask",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskListId",
            "in": "path",
            "description": "The id of the task list.",
            "required": true,
            "x-ms-summary": "Task List ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTaskLists",
              "value-collection": "items",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          },
          {
            "name": "task",
            "in": "body",
            "description": "The task to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskCreate"
            },
            "x-ms-summary": "The task to create."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#create-a-task-in-a-task-list"
        }
      }
    },
    "/{connectionId}/lists/{taskListId}/tasks/{taskId}": {
      "get": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "Get a task from a task list",
        "description": "Get specific task from the specified task list.",
        "operationId": "ListTask",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskListId",
            "in": "path",
            "description": "The id of the task list.",
            "required": true,
            "x-ms-summary": "Task List ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTaskLists",
              "value-collection": "items",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "The id of the task.",
            "required": true,
            "x-ms-summary": "Task ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTasks",
              "parameters": {
                "taskListId": {
                  "parameter": "taskListId"
                }
              },
              "value-collection": "items",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#get-a-task-from-a-task-list"
        }
      }
    },
    "/{connectionId}/trigger1/users/@me/lists": {
      "get": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "When a new task list is created",
        "description": "Trigger when a new task list is created.",
        "operationId": "OnNewTaskList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskListList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new task list.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#when-a-new-task-list-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger2/lists/{taskListId}/tasks": {
      "get": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "When a task is added to a task list",
        "description": "Triggers when a task is added to the specified task list.",
        "operationId": "OnNewTaskInList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskListId",
            "in": "path",
            "description": "The id of the task list.",
            "required": true,
            "x-ms-summary": "Task List ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTaskLists",
              "value-collection": "items",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new task to the selected task list.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#when-a-task-is-added-to-a-task-list"
        }
      }
    },
    "/{connectionId}/trigger3/lists/{taskListId}/tasks": {
      "get": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "When a task is completed in a task list",
        "description": "Triggers when the a task is completed in the specified task list.",
        "operationId": "OnCompletedTaskInList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskListId",
            "in": "path",
            "description": "The id of the task list",
            "required": true,
            "x-ms-summary": "Task List ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTaskLists",
              "value-collection": "items",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task in the selected task list.",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnCompletedTaskInList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#when-a-task-is-completed-in-a-task-list"
        }
      }
    },
    "/{connectionId}/trigger4/lists/{taskListId}/tasks": {
      "get": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "When a task is due in a task list",
        "description": "Triggers when a task is due in the specified task list.",
        "operationId": "OnDueTaskInList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskListId",
            "in": "path",
            "description": "The id of the task list.",
            "required": true,
            "x-ms-summary": "Task List ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTaskLists",
              "value-collection": "items",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, build a flow and then set an uncompleted task to be due in the selected task list.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#when-a-task-is-due-in-a-task-list"
        }
      }
    },
    "/{connectionId}/trigger5/lists/{taskListId}/tasks": {
      "get": {
        "tags": [
          "GoogleTasks"
        ],
        "summary": "When a task is completed in a task list (V2)",
        "description": "Triggers when the a task is completed in the specified task list.",
        "operationId": "OnCompletedTaskInListV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskListId",
            "in": "path",
            "description": "The id of the task list",
            "required": true,
            "x-ms-summary": "Task List ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTaskLists",
              "value-collection": "items",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task in the selected task list.",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnCompletedTaskInList",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googletasks/#when-a-task-is-completed-in-a-task-list-(v2)"
        }
      }
    }
  },
  "definitions": {
    "TaskListList": {
      "description": "A list of task lists.",
      "type": "object",
      "properties": {
        "items": {
          "description": "Task lists in the lists.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskListEntry"
          },
          "x-ms-summary": "Items",
          "x-ms-visibility": "important"
        }
      }
    },
    "TaskListEntry": {
      "description": "A task list.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the task list.",
          "type": "string",
          "x-ms-summary": "Task List ID",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "The title of the task list.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "selfLink": {
          "description": "A link to this task list.",
          "type": "string",
          "x-ms-summary": "HTML Link",
          "x-ms-visibility": "advanced"
        },
        "updated": {
          "format": "date-time",
          "description": "The time the task list was last updated.",
          "type": "string",
          "x-ms-summary": "Updated Time",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TaskListCreate": {
      "description": "Object used to create a task list",
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the task list.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        }
      }
    },
    "TaskList": {
      "description": "A list of tasks.",
      "type": "object",
      "properties": {
        "items": {
          "description": "The tasks in the list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Task"
          },
          "x-ms-summary": "Items",
          "x-ms-visibility": "important"
        }
      }
    },
    "Task": {
      "description": "A task.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the task.",
          "type": "string",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "updated": {
          "format": "date-time",
          "description": "The last time the task was updated.",
          "type": "string",
          "x-ms-summary": "Updated",
          "x-ms-visibility": "advanced"
        },
        "selfLink": {
          "description": "A link to the task.",
          "type": "string",
          "x-ms-summary": "HTML Link",
          "x-ms-visibility": "advanced"
        },
        "parent": {
          "description": "The parent of the task.",
          "type": "string",
          "x-ms-summary": "Parent",
          "x-ms-visibility": "advanced"
        },
        "position": {
          "description": "The position of the task.",
          "type": "string",
          "x-ms-summary": "Position",
          "x-ms-visibility": "internal"
        },
        "notes": {
          "description": "The notes for the task.",
          "type": "string",
          "x-ms-summary": "Notes",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "The status of the task.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "due": {
          "format": "date-time",
          "description": "The datetime the task is due.",
          "type": "string",
          "x-ms-summary": "Due",
          "x-ms-visibility": "advanced"
        },
        "completed": {
          "format": "date-time",
          "description": "The datetime the task was completed.",
          "type": "string",
          "x-ms-summary": "Completed",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TaskCreate": {
      "description": "Represents the values used to create a task.",
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "notes": {
          "description": "The notes for the task.",
          "type": "string",
          "x-ms-summary": "Notes",
          "x-ms-visibility": "important"
        },
        "due": {
          "format": "date-time",
          "description": "The datetime the task is due.",
          "type": "string",
          "x-ms-summary": "Due",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListTaskLists"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policies.google.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/googletasks"
  }
}
