{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "BizTalkServer",
    "description": "BizTalk messages",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/biztalk",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/testconnection": {
      "get": {
        "tags": [
          "BizTalkServer"
        ],
        "summary": "Tests connection to BizTalk server",
        "description": "Tests connection to BizTalk server",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/biztalk/#tests-connection-to-biztalk-server"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/ListSchemas": {
      "get": {
        "tags": [
          "BizTalkServer"
        ],
        "summary": "BizTalkServer Schemas Listing",
        "description": "BizTalkServer Schemas Listing.",
        "operationId": "ListSchemas",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BizTalkSchema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/biztalk/#biztalkserver-schemas-listing"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/EncodeJson": {
      "post": {
        "tags": [
          "BizTalkServer"
        ],
        "summary": "Prepare message from JSON",
        "description": "Prepare message from JSON.",
        "operationId": "EncodeJson",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "requestContent",
            "in": "body",
            "description": "Body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Object"
            },
            "x-ms-summary": "Body"
          },
          {
            "name": "documentSpec",
            "in": "query",
            "description": "Document spec.",
            "required": false,
            "x-ms-summary": "Schema",
            "x-ms-dynamic-values": {
              "operationId": "ListSchemas",
              "parameters": {},
              "value-path": "DocumentSpec",
              "value-title": "DisplayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/biztalk/#prepare-message-from-json"
        }
      }
    },
    "/{connectionId}/EncodeXml": {
      "post": {
        "tags": [
          "BizTalkServer"
        ],
        "summary": "Prepare message from XML",
        "description": "Prepare message from XML.",
        "operationId": "EncodeXml",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documentSpec",
            "in": "query",
            "description": "Document spec.",
            "required": false,
            "x-ms-summary": "Schema",
            "x-ms-dynamic-values": {
              "operationId": "ListSchemas",
              "parameters": {},
              "value-path": "DocumentSpec",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Input Message to Encode Xml.",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "Input Message"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/biztalk/#prepare-message-from-xml"
        }
      }
    },
    "/{connectionId}/ListBizTalkReceiveLocations": {
      "get": {
        "tags": [
          "BizTalkServer"
        ],
        "summary": "Lists all the BizTalk Receive Locations",
        "description": "Lists all the BizTalk Receive Locations.",
        "operationId": "ListBizTalkReceiveLocations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BizTalkReceiveLocation"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/biztalk/#lists-all-the-biztalk-receive-locations"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/Send": {
      "post": {
        "tags": [
          "BizTalkServer"
        ],
        "summary": "Send message",
        "description": "Send message.",
        "operationId": "Send",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "receiveLocationAddress",
            "in": "query",
            "description": "Public Address of the BizTalk receive location.",
            "required": true,
            "x-ms-summary": "Receive Location",
            "x-ms-dynamic-values": {
              "operationId": "ListBizTalkReceiveLocations",
              "parameters": {},
              "value-path": "PublicAddress",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Input Message to BizTalk Server.",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "Input Message"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/biztalk/#send-message"
        }
      }
    }
  },
  "definitions": {
    "BizTalkSchema": {
      "description": "Schema object model",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Schema Name",
          "type": "string"
        },
        "TargetNamespace": {
          "description": "Target Namespace",
          "type": "string"
        },
        "RootName": {
          "description": "Root Node Name",
          "type": "string"
        },
        "ApplicationName": {
          "description": "BizTalk Application Name",
          "type": "string"
        },
        "AssemblyName": {
          "description": "BizTalk Assembly Name",
          "type": "string"
        },
        "DocumentSpec": {
          "description": "Schema Document Spec: TargetNamespace#RootNode",
          "type": "string",
          "readOnly": true
        },
        "DisplayName": {
          "description": "Display Name",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "BizTalkReceiveLocation": {
      "description": "BizTalkReceiveLocation",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name",
          "type": "string"
        },
        "PublicAddress": {
          "description": "Public Address URI",
          "type": "string"
        },
        "DisplayName": {
          "description": "DisplayName",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/biztalk"
  }
}
