{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "info@timeneye.com",
      "name": "Support",
      "url": "https://support.timeneye.com/"
    },
    "description": "This interface allows users to integrate Timeneye's time tracking and management capabilities with various applications and services in the Microsoft ecosystem. By leveraging this interface, users can automate workflows, synchronize time tracking data, and enhance productivity through seamless integration with other tools.",
    "license": {
      "name": "Custom",
      "url": "https://www.timeneye.com/legal/terms-and-conditions"
    },
    "termsOfService": "https://www.timeneye.com/legal/terms-and-conditions",
    "title": "Timeneye",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/timeneye",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/account": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "account_name": {
                      "description": "The name of the account, usually the Company name.",
                      "type": "string"
                    },
                    "billing_enabled": {
                      "description": "Whether or not a subscription is active for the account",
                      "type": "boolean"
                    },
                    "created_date": {
                      "description": "Date of creation",
                      "example": "2023-01-01 10:00:00",
                      "type": "string"
                    },
                    "expiration": {
                      "description": "Date of license (or trial period) expiration",
                      "example": "2023-01-01",
                      "type": "string"
                    },
                    "is_trial": {
                      "type": "boolean"
                    },
                    "settings": {
                      "properties": {
                        "adminNewEntryForOthers": {
                          "description": "Whether o",
                          "type": "integer"
                        },
                        "allow_apps": {
                          "description": "Whether or not the third party a",
                          "type": "integer"
                        },
                        "authenticationMethod": {
                          "description": "Authen",
                          "properties": {
                            "allow_password_login": {
                              "description": "Whether or not the login with email + password is allowed",
                              "type": "integer"
                            },
                            "idp_cert": {
                              "description": "Certificate of the identity provider (used with type = saml)",
                              "type": "string"
                            },
                            "idp_entity_id": {
                              "description": "Id of the identity provider (used with type = saml)",
                              "type": "string"
                            },
                            "idp_sso_url": {
                              "description": "Single Sign on URL (used with type = saml)",
                              "type": "string"
                            },
                            "type": {
                              "description": "Type of login method",
                              "enum": [
                                "all",
                                "google",
                                "microsoft",
                                "saml"
                              ],
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "companyName": {
                          "description": "The name of the company, could be different from account_name",
                          "type": "string"
                        },
                        "currencyCode": {
                          "description": "Code of the used currency",
                          "type": "string"
                        },
                        "entries_lock_automation": {
                          "description": "Describes the automatic entry lock parameters",
                          "properties": {
                            "enabled": {
                              "description": "Whether or not the entry lock automation is enabled",
                              "type": "boolean"
                            },
                            "interval": {
                              "description": "Interval of the entry lock",
                              "enum": [
                                "weekly",
                                "monthly",
                                "0"
                              ],
                              "type": "string"
                            },
                            "interval_target": {
                              "description": "Between 1 and 31 if the interval is monthly (the day of the month), Between 0 and 6i if the interval is weekly ",
                              "type": "integer",
                              "x-nullable": true
                            }
                          },
                          "type": "object"
                        },
                        "memberAverageCost": {
                          "description": "Indicates the average labour cost for the account members",
                          "type": "integer"
                        },
                        "prosett_clientMode": {
                          "description": "Whether or not the client should be displayed in the re",
                          "type": "integer"
                        },
                        "prosett_entriesLock_date": {
                          "description": "The date of the last entry lock",
                          "type": "boolean"
                        },
                        "prosett_entriesLock_enabled": {
                          "description": "Whether or not the entry lock system is enabled",
                          "type": "integer"
                        },
                        "showWorkingTime": {
                          "description": "Whether or not the users can see their working time in their dashboard. (e.g. 7h of 8h)",
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    },
                    "subscription_limit_users": {
                      "description": "Maximum number of active users allowed in the account due to purchased licenses",
                      "type": "integer"
                    },
                    "trial_expiration": {
                      "description": "Date of trial period expiration",
                      "example": "2023-01-01",
                      "type": "string"
                    }
                  },
                  "title": "Account",
                  "type": "object",
                  "x-examples": {},
                  "x-stoplight": {
                    "id": "wlpj5oz3p1xgd"
                  }
                },
                {
                  "properties": {
                    "avatar": {
                      "description": "An avatar that can be linked to an Account or to a User",
                      "properties": {
                        "account_id": {
                          "description": "Identifier of the account which has this avatar",
                          "type": "integer"
                        },
                        "avatar_name": {
                          "description": "unique file name",
                          "type": "string"
                        },
                        "avatar_url": {
                          "description": "Image url",
                          "type": "string"
                        },
                        "user_id": {
                          "description": "Identifier of the user which has this avatar",
                          "type": "integer"
                        }
                      },
                      "type": "object",
                      "x-examples": {},
                      "x-stoplight": {
                        "id": "rmwkjif7pfhgs"
                      }
                    }
                  },
                  "type": "object"
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Gets the information on the user account",
        "operationId": "Get-account",
        "summary": "Get Account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#get-account"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "description": "Account request",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "account_name": {
                  "description": "The name of the account, usually the Company name.",
                  "type": "string"
                },
                "settings": {
                  "properties": {
                    "adminNewEntryForOthers": {
                      "description": "Possibility to add entries on behalf of other users",
                      "type": "boolean"
                    },
                    "authenticationMethod": {
                      "properties": {
                        "allow_password_login": {
                          "description": "Whether or not the login with email + password is allowed\n",
                          "type": "boolean"
                        },
                        "idp_cert": {
                          "description": "Certificate of the identity provider (used with type = saml)\n",
                          "type": "string"
                        },
                        "idp_entity_id": {
                          "description": "Id of the identity provider (used with type = saml)\n",
                          "type": "string"
                        },
                        "idp_metadata_url": {
                          "description": "Id of the identity provider (used with type = saml)\n",
                          "type": "string"
                        },
                        "idp_sso_url": {
                          "description": "Single Sign on URL (used with type = saml)\n",
                          "type": "string"
                        },
                        "type": {
                          "description": "Type of login method\n",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "currencyCode": {
                      "description": "Code of the used currency",
                      "type": "string"
                    },
                    "entries_lock_automation": {
                      "description": "Describes the automatic entry lock parameters",
                      "properties": {
                        "enabled": {
                          "description": "Whether or not the entry lock automation is enabled\n",
                          "type": "boolean"
                        },
                        "interval": {
                          "description": "Interval of the entry lock\n",
                          "type": "string",
                          "x-nullable": true
                        },
                        "interval_target": {
                          "description": "Between 1 and 31 if the interval is monthly (the day of the month), Between 0 and 6i if the interval is weekly\n",
                          "type": "number",
                          "x-nullable": true
                        }
                      },
                      "type": "object",
                      "x-nullable": true
                    },
                    "memberAverageCost": {
                      "description": "Indicates the average labour cost for the account members\n",
                      "type": "number"
                    },
                    "showWorkingTime": {
                      "description": "Whether or not the users can see their working time in their dashboard. (e.g. 7h of 8h)\n",
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "x-examples": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "account_name": {
                      "description": "The name of the account, usually the Company name.",
                      "type": "string"
                    },
                    "billing_enabled": {
                      "description": "Whether or not a subscription is active for the account",
                      "type": "boolean"
                    },
                    "created_date": {
                      "description": "Date of creation",
                      "example": "2023-01-01 10:00:00",
                      "type": "string"
                    },
                    "expiration": {
                      "description": "Date of license (or trial period) expiration",
                      "example": "2023-01-01",
                      "type": "string"
                    },
                    "is_trial": {
                      "type": "boolean"
                    },
                    "settings": {
                      "properties": {
                        "adminNewEntryForOthers": {
                          "description": "Whether o",
                          "type": "integer"
                        },
                        "allow_apps": {
                          "description": "Whether or not the third party a",
                          "type": "integer"
                        },
                        "authenticationMethod": {
                          "description": "Authen",
                          "properties": {
                            "allow_password_login": {
                              "description": "Whether or not the login with email + password is allowed",
                              "type": "integer"
                            },
                            "idp_cert": {
                              "description": "Certificate of the identity provider (used with type = saml)",
                              "type": "string"
                            },
                            "idp_entity_id": {
                              "description": "Id of the identity provider (used with type = saml)",
                              "type": "string"
                            },
                            "idp_sso_url": {
                              "description": "Single Sign on URL (used with type = saml)",
                              "type": "string"
                            },
                            "type": {
                              "description": "Type of login method",
                              "enum": [
                                "all",
                                "google",
                                "microsoft",
                                "saml"
                              ],
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "companyName": {
                          "description": "The name of the company, could be different from account_name",
                          "type": "string"
                        },
                        "currencyCode": {
                          "description": "Code of the used currency",
                          "type": "string"
                        },
                        "entries_lock_automation": {
                          "description": "Describes the automatic entry lock parameters",
                          "properties": {
                            "enabled": {
                              "description": "Whether or not the entry lock automation is enabled",
                              "type": "boolean"
                            },
                            "interval": {
                              "description": "Interval of the entry lock",
                              "enum": [
                                "weekly",
                                "monthly",
                                "0"
                              ],
                              "type": "string"
                            },
                            "interval_target": {
                              "description": "Between 1 and 31 if the interval is monthly (the day of the month), Between 0 and 6i if the interval is weekly ",
                              "type": "integer",
                              "x-nullable": true
                            }
                          },
                          "type": "object"
                        },
                        "memberAverageCost": {
                          "description": "Indicates the average labour cost for the account members",
                          "type": "integer"
                        },
                        "prosett_clientMode": {
                          "description": "Whether or not the client should be displayed in the re",
                          "type": "integer"
                        },
                        "prosett_entriesLock_date": {
                          "description": "The date of the last entry lock",
                          "type": "boolean"
                        },
                        "prosett_entriesLock_enabled": {
                          "description": "Whether or not the entry lock system is enabled",
                          "type": "integer"
                        },
                        "showWorkingTime": {
                          "description": "Whether or not the users can see their working time in their dashboard. (e.g. 7h of 8h)",
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    },
                    "subscription_limit_users": {
                      "description": "Maximum number of active users allowed in the account due to purchased licenses",
                      "type": "integer"
                    },
                    "trial_expiration": {
                      "description": "Date of trial period expiration",
                      "example": "2023-01-01",
                      "type": "string"
                    }
                  },
                  "title": "Account",
                  "type": "object",
                  "x-examples": {},
                  "x-stoplight": {
                    "id": "wlpj5oz3p1xgd"
                  }
                },
                {
                  "properties": {
                    "avatar": {
                      "description": "An avatar that can be linked to an Account or to a User",
                      "properties": {
                        "account_id": {
                          "description": "Identifier of the account which has this avatar",
                          "type": "integer"
                        },
                        "avatar_name": {
                          "description": "unique file name",
                          "type": "string"
                        },
                        "avatar_url": {
                          "description": "Image url",
                          "type": "string"
                        },
                        "user_id": {
                          "description": "Identifier of the user which has this avatar",
                          "type": "integer"
                        }
                      },
                      "type": "object",
                      "x-examples": {},
                      "x-stoplight": {
                        "id": "rmwkjif7pfhgs"
                      }
                    }
                  },
                  "type": "object"
                }
              ]
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Updates an account",
        "operationId": "Put-account-account_id",
        "summary": "Update Account",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#update-account"
        }
      }
    },
    "/{connectionId}/avatars": {
      "parameters": [],
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "description": "A file containing an image",
            "format": "binary",
            "in": "formData",
            "name": "image",
            "required": true,
            "type": "string"
          },
          {
            "description": "Identifier of the user which has this avatar",
            "in": "formData",
            "name": "user_id",
            "type": "integer",
            "x-nullable": true
          },
          {
            "description": "Identifier of the account which has this avatar",
            "in": "formData",
            "name": "account_id",
            "type": "integer",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "An avatar that can be linked to an Account or to a User",
              "properties": {
                "account_id": {
                  "description": "Identifier of the account which has this avatar",
                  "type": "integer"
                },
                "avatar_name": {
                  "description": "unique file name",
                  "type": "string"
                },
                "avatar_url": {
                  "description": "Image url",
                  "type": "string"
                },
                "user_id": {
                  "description": "Identifier of the user which has this avatar",
                  "type": "integer"
                }
              },
              "type": "object",
              "x-examples": {},
              "x-stoplight": {
                "id": "rmwkjif7pfhgs"
              }
            }
          },
          "422": {
            "description": "Invalid request",
            "headers": {},
            "schema": {
              "properties": {
                "errors": {
                  "description": "The errors object has properties as keys and array of strings as values",
                  "type": "object"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "errors": {
                    "color": [
                      "The color must be 7 characters."
                    ]
                  },
                  "message": "The color must be 7 characters."
                }
              }
            }
          }
        },
        "tags": [
          "Avatars"
        ],
        "description": "Creates an avatar",
        "operationId": "Post-avatar-avatar_id",
        "summary": "Create an Avatar",
        "x-internal": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#create-an-avatar"
        }
      }
    },
    "/{connectionId}/budgets": {
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "The currently displayed page",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "description": "How many items per page",
            "in": "query",
            "name": "per_page",
            "type": "integer"
          },
          {
            "description": "The attribute to sort by",
            "in": "query",
            "name": "sort_by",
            "type": "string"
          },
          {
            "default": "asc",
            "description": "The sort direction",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "type": "string"
          },
          {
            "description": "Identifier of the project to which the budget belongs",
            "in": "query",
            "name": "project_id",
            "type": "integer"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "properties": {
                      "budget_id": {
                        "description": "Unique identifier of the budget",
                        "type": "integer"
                      },
                      "budget_minutes": {
                        "description": "The amount of minutes the budget represents",
                        "type": "integer"
                      },
                      "interval": {
                        "description": "Day of budget reset: 1 to 31 if the budget is monthly, 0 to 6 if the budget is weekly",
                        "maximum": 31,
                        "minimum": 0,
                        "type": "integer"
                      },
                      "is_active": {
                        "description": "Whether or not the budget is active",
                        "maximum": 1,
                        "minimum": 0,
                        "type": "integer"
                      },
                      "period_end": {
                        "description": "Format: YYYY-MM-DD",
                        "type": "string",
                        "x-nullable": true
                      },
                      "period_start": {
                        "description": "Format: YYYY-MM-DD",
                        "type": "string",
                        "x-nullable": true
                      },
                      "project_id": {
                        "description": "Identifier of the project to which the budget belongs",
                        "type": "integer"
                      },
                      "recurrence": {
                        "description": "Recurrence of the budget: 0 = no recurrence, 1 = weekly, 2 = monthly",
                        "enum": [
                          0,
                          1,
                          2
                        ],
                        "type": "integer"
                      }
                    },
                    "type": "object",
                    "x-examples": {},
                    "x-stoplight": {
                      "id": "h9p1bc7gu2rnb"
                    }
                  },
                  "type": "array"
                },
                "links": {
                  "properties": {
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "prev": {
                      "type": "string",
                      "x-nullable": true
                    }
                  },
                  "type": "object"
                },
                "meta": {
                  "properties": {
                    "current_page": {
                      "type": "integer"
                    },
                    "from": {
                      "type": "integer"
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "links": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "x-nullable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "path": {
                      "type": "string"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "to": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "data": [
                    {
                      "budget_id": 1,
                      "budget_minutes": 540,
                      "interval": -1,
                      "is_active": 1,
                      "period_end": null,
                      "period_start": null,
                      "project_id": 2,
                      "recurrence": 0
                    },
                    {
                      "budget_id": 2,
                      "budget_minutes": 1020,
                      "interval": -1,
                      "is_active": 1,
                      "period_end": null,
                      "period_start": null,
                      "project_id": 3,
                      "recurrence": 0
                    }
                  ],
                  "links": {
                    "first": "https://api.timeneye.com/api/v1/budgets?page=1",
                    "last": "https://api.timeneye.com/api/v1/budgets?page=1",
                    "next": null,
                    "prev": null
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [
                      {
                        "active": false,
                        "label": "&laquo; Previous",
                        "url": null
                      },
                      {
                        "active": true,
                        "label": "1",
                        "url": "https://api.timeneye.com/api/v1/budgets?page=1"
                      },
                      {
                        "active": false,
                        "label": "Next &raquo;",
                        "url": null
                      }
                    ],
                    "path": "https://api.timeneye.com/api/v1/budgets",
                    "per_page": 200,
                    "to": 126,
                    "total": 126
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid request",
            "headers": {},
            "schema": {
              "properties": {
                "errors": {
                  "description": "The errors object has properties as keys and array of strings as values",
                  "type": "object"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "errors": {
                    "color": [
                      "The color must be 7 characters."
                    ]
                  },
                  "message": "The color must be 7 characters."
                }
              }
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "description": "Get budgets list",
        "operationId": "List-Budgets",
        "summary": "List Budgets",
        "x-internal": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#list-budgets"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "budget_minutes": {
                  "description": "The amount of minutes the budget represents",
                  "type": "integer"
                },
                "interval": {
                  "description": "Recurrence of the budget: 0 = no recurrence, 1 = weekly, 2 = monthly",
                  "type": "integer",
                  "x-nullable": true
                },
                "project_id": {
                  "description": "Identifier of the project to which the budget belongs",
                  "type": "integer"
                },
                "recurrence": {
                  "description": "Recurrence of the budget: 0 = no recurrence, 1 = weekly, 2 = monthly",
                  "enum": [
                    1,
                    2,
                    3
                  ],
                  "type": "integer"
                }
              },
              "required": [
                "project_id",
                "recurrence",
                "budget_minutes"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "properties": {
                "budget_id": {
                  "description": "Unique identifier of the budget",
                  "type": "integer"
                },
                "budget_minutes": {
                  "description": "The amount of minutes the budget represents",
                  "type": "integer"
                },
                "interval": {
                  "description": "Day of budget reset: 1 to 31 if the budget is monthly, 0 to 6 if the budget is weekly",
                  "maximum": 31,
                  "minimum": 0,
                  "type": "integer"
                },
                "is_active": {
                  "description": "Whether or not the budget is active",
                  "maximum": 1,
                  "minimum": 0,
                  "type": "integer"
                },
                "period_end": {
                  "description": "Format: YYYY-MM-DD",
                  "type": "string",
                  "x-nullable": true
                },
                "period_start": {
                  "description": "Format: YYYY-MM-DD",
                  "type": "string",
                  "x-nullable": true
                },
                "project_id": {
                  "description": "Identifier of the project to which the budget belongs",
                  "type": "integer"
                },
                "recurrence": {
                  "description": "Recurrence of the budget: 0 = no recurrence, 1 = weekly, 2 = monthly",
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                }
              },
              "type": "object",
              "x-examples": {},
              "x-stoplight": {
                "id": "h9p1bc7gu2rnb"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "Invalid request",
            "headers": {},
            "schema": {
              "properties": {
                "errors": {
                  "description": "The errors object has properties as keys and array of strings as values",
                  "type": "object"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "errors": {
                    "color": [
                      "The color must be 7 characters."
                    ]
                  },
                  "message": "The color must be 7 characters."
                }
              }
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "description": "Creates a budget",
        "operationId": "Post-budget",
        "summary": "Create a Budget",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#create-a-budget"
        }
      }
    },
    "/{connectionId}/budgets/{budget}": {
      "parameters": [
        {
          "in": "path",
          "name": "budget",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "budget",
            "required": true,
            "type": "string"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "example-1": {
                  "message": "No query results for model [App\\Models\\Account] 3"
                }
              }
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "description": "Deletes a budget",
        "operationId": "Delete-budGet-budget_id",
        "summary": "Delete a Budget",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#delete-a-budget"
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "budget",
            "required": true,
            "type": "string"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "budget_id": {
                  "description": "Unique identifier of the budget",
                  "type": "integer"
                },
                "budget_minutes": {
                  "description": "The amount of minutes the budget represents",
                  "type": "integer"
                },
                "interval": {
                  "description": "Day of budget reset: 1 to 31 if the budget is monthly, 0 to 6 if the budget is weekly",
                  "maximum": 31,
                  "minimum": 0,
                  "type": "integer"
                },
                "is_active": {
                  "description": "Whether or not the budget is active",
                  "maximum": 1,
                  "minimum": 0,
                  "type": "integer"
                },
                "period_end": {
                  "description": "Format: YYYY-MM-DD",
                  "type": "string",
                  "x-nullable": true
                },
                "period_start": {
                  "description": "Format: YYYY-MM-DD",
                  "type": "string",
                  "x-nullable": true
                },
                "project_id": {
                  "description": "Identifier of the project to which the budget belongs",
                  "type": "integer"
                },
                "recurrence": {
                  "description": "Recurrence of the budget: 0 = no recurrence, 1 = weekly, 2 = monthly",
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                }
              },
              "type": "object",
              "x-examples": {},
              "x-stoplight": {
                "id": "h9p1bc7gu2rnb"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "example-1": {
                  "message": "No query results for model [App\\Models\\Account] 3"
                }
              }
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "description": "Get a budget",
        "operationId": "Get-budGet-budget_id",
        "summary": "Get a Budget",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#get-a-budget"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "budget",
            "required": true,
            "type": "string"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "budget_minutes": {
                  "description": "Day of budget reset: 1 to 31 if the budget is monthly, 0 to 6 if the budget is weekly",
                  "type": "integer"
                },
                "interval": {
                  "description": "Day of budget reset: 1 to 31 if the budget is monthly, 0 to 6 if the budget is weekly",
                  "type": "integer"
                },
                "recurrence": {
                  "description": "Recurrence of the budget: 0 = no recurrence, 1 = weekly, 2 = monthly",
                  "type": "integer"
                }
              },
              "type": "object",
              "x-examples": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "budget_id": {
                  "description": "Unique identifier of the budget",
                  "type": "integer"
                },
                "budget_minutes": {
                  "description": "The amount of minutes the budget represents",
                  "type": "integer"
                },
                "interval": {
                  "description": "Day of budget reset: 1 to 31 if the budget is monthly, 0 to 6 if the budget is weekly",
                  "maximum": 31,
                  "minimum": 0,
                  "type": "integer"
                },
                "is_active": {
                  "description": "Whether or not the budget is active",
                  "maximum": 1,
                  "minimum": 0,
                  "type": "integer"
                },
                "period_end": {
                  "description": "Format: YYYY-MM-DD",
                  "type": "string",
                  "x-nullable": true
                },
                "period_start": {
                  "description": "Format: YYYY-MM-DD",
                  "type": "string",
                  "x-nullable": true
                },
                "project_id": {
                  "description": "Identifier of the project to which the budget belongs",
                  "type": "integer"
                },
                "recurrence": {
                  "description": "Recurrence of the budget: 0 = no recurrence, 1 = weekly, 2 = monthly",
                  "enum": [
                    0,
                    1,
                    2
                  ],
                  "type": "integer"
                }
              },
              "type": "object",
              "x-examples": {},
              "x-stoplight": {
                "id": "h9p1bc7gu2rnb"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "example-1": {
                  "message": "No query results for model [App\\Models\\Account] 3"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request",
            "headers": {},
            "schema": {
              "properties": {
                "errors": {
                  "description": "The errors object has properties as keys and array of strings as values",
                  "type": "object"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "errors": {
                    "color": [
                      "The color must be 7 characters."
                    ]
                  },
                  "message": "The color must be 7 characters."
                }
              }
            }
          }
        },
        "tags": [
          "Budgets"
        ],
        "description": "Updates a budget",
        "operationId": "Put-budGet-budget_id",
        "summary": "Update a Budget",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#update-a-budget"
        }
      }
    },
    "/{connectionId}/clients": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "The currently displayed page",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "description": "How many items per page",
            "in": "query",
            "name": "per_page",
            "type": "integer"
          },
          {
            "description": "The attribute to sort by",
            "in": "query",
            "name": "sort_by",
            "type": "string"
          },
          {
            "default": "asc",
            "description": "The sort direction",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "type": "string"
          },
          {
            "description": "Searches in the client's name",
            "in": "query",
            "name": "text",
            "type": "string"
          },
          {
            "description": "A comma separated list of client ids to filter the results",
            "in": "query",
            "name": "member_ids[]",
            "type": "string"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "description": "Represents a client of the company. A client can have multiple projects.",
                    "properties": {
                      "client_id": {
                        "description": "Unique identifier",
                        "type": "integer"
                      },
                      "color": {
                        "description": "Color used in reports",
                        "maxLength": 7,
                        "minLength": 7,
                        "pattern": "#[0-9A-F]{6}",
                        "type": "string"
                      },
                      "is_active": {
                        "description": "Whether or not the client is archived",
                        "type": "boolean"
                      },
                      "name": {
                        "description": "Name of the client",
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "title": "Client",
                    "type": "object",
                    "x-stoplight": {
                      "id": "o6w3tpvmilemj"
                    }
                  },
                  "type": "array"
                },
                "links": {
                  "properties": {
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "prev": {
                      "type": "string",
                      "x-nullable": true
                    }
                  },
                  "type": "object"
                },
                "meta": {
                  "properties": {
                    "current_page": {
                      "type": "integer"
                    },
                    "from": {
                      "type": "integer"
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "links": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "x-nullable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "path": {
                      "type": "string"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "to": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "data": [
                    {
                      "client_id": 10,
                      "color": "#F8B59B",
                      "name": "ACME spa"
                    },
                    {
                      "client_id": 11,
                      "color": "#EA0A8A",
                      "name": "Cool Company inc."
                    }
                  ],
                  "links": {
                    "first": "https://api.timeneye.com/api/v1/clients?page=1",
                    "last": "https://api.timeneye.com/api/v1/clients?page=1",
                    "next": null,
                    "prev": null
                  },
                  "meta": {
                    "current_page": 1,
                    "from": 1,
                    "last_page": 1,
                    "links": [
                      {
                        "active": false,
                        "label": "&laquo; Previous",
                        "url": null
                      },
                      {
                        "active": true,
                        "label": "1",
                        "url": "https://api.timeneye.com/api/v1/clients?page=1"
                      },
                      {
                        "active": false,
                        "label": "Next &raquo;",
                        "url": null
                      }
                    ],
                    "path": "https://api.timeneye.com/api/v1/clients",
                    "per_page": 100,
                    "to": 50,
                    "total": 50
                  }
                }
              }
            }
          },
          "422": {
            "description": "Invalid request",
            "headers": {},
            "schema": {
              "properties": {
                "errors": {
                  "description": "The errors object has properties as keys and array of strings as values",
                  "type": "object"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "errors": {
                    "color": [
                      "The color must be 7 characters."
                    ]
                  },
                  "message": "The color must be 7 characters."
                }
              }
            }
          }
        },
        "tags": [
          "Clients"
        ],
        "description": "Get clients list",
        "operationId": "List-clients",
        "summary": "List Clients",
        "x-internal": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#list-clients"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "color": {
                  "description": "Color used in reports",
                  "example": "#FFAABB",
                  "maxLength": 7,
                  "minLength": 7,
                  "pattern": "#[0-9A-F]{6}",
                  "type": "string"
                },
                "name": {
                  "description": "Name of the client",
                  "type": "string"
                }
              },
              "required": [
                "name",
                "color"
              ],
              "type": "object",
              "x-examples": {}
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "description": "Represents a client of the company. A client can have multiple projects.",
              "properties": {
                "client_id": {
                  "description": "Unique identifier",
                  "type": "integer"
                },
                "color": {
                  "description": "Color used in reports",
                  "maxLength": 7,
                  "minLength": 7,
                  "pattern": "#[0-9A-F]{6}",
                  "type": "string"
                },
                "is_active": {
                  "description": "Whether or not the client is archived",
                  "type": "boolean"
                },
                "name": {
                  "description": "Name of the client",
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "title": "Client",
              "type": "object",
              "x-stoplight": {
                "id": "o6w3tpvmilemj"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "422": {
            "description": "Invalid request",
            "headers": {},
            "schema": {
              "properties": {
                "errors": {
                  "description": "The errors object has properties as keys and array of strings as values",
                  "type": "object"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "errors": {
                    "color": [
                      "The color must be 7 characters."
                    ]
                  },
                  "message": "The color must be 7 characters."
                }
              }
            }
          }
        },
        "tags": [
          "Clients"
        ],
        "description": "Creates a client",
        "operationId": "Post-client",
        "summary": "Create a Client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#create-a-client"
        }
      }
    },
    "/{connectionId}/clients/{client}": {
      "parameters": [
        {
          "in": "path",
          "name": "client",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "client",
            "required": true,
            "type": "string"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "example-1": {
                  "message": "No query results for model [App\\Models\\Account] 3"
                }
              }
            }
          }
        },
        "tags": [
          "Clients"
        ],
        "description": "Deletes a client",
        "operationId": "Delete-client-client_id",
        "summary": "Delete a Client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#delete-a-client"
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "client",
            "required": true,
            "type": "string"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "description": "Represents a client of the company. A client can have multiple projects.",
                  "properties": {
                    "client_id": {
                      "description": "Unique identifier",
                      "type": "integer"
                    },
                    "color": {
                      "description": "Color used in reports",
                      "maxLength": 7,
                      "minLength": 7,
                      "pattern": "#[0-9A-F]{6}",
                      "type": "string"
                    },
                    "is_active": {
                      "description": "Whether or not the client is archived",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Name of the client",
                      "type": "string"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "title": "Client",
                  "type": "object",
                  "x-stoplight": {
                    "id": "o6w3tpvmilemj"
                  }
                },
                {
                  "properties": {
                    "projects": {
                      "items": {
                        "description": "A project the principal way of categorizing the time in Timeneye.\nProjects have one or more tasks on which the time is spent.",
                        "properties": {
                          "api_only": {
                            "description": "Whether or not the project is usable for tracking time only using a third party app.",
                            "type": "integer"
                          },
                          "client_id": {
                            "description": "Unique identifier of a client that the project belongs to",
                            "type": "integer"
                          },
                          "color": {
                            "description": "The color used for reporting",
                            "type": "string"
                          },
                          "description": {
                            "description": "A text description of the project",
                            "type": "string"
                          },
                          "hourly_rate": {
                            "description": "The general hourly rate for the project. A specific hourly_rate can be set on the project-user relation",
                            "type": "string"
                          },
                          "is_active": {
                            "description": "Whether or not the project is archived",
                            "type": "integer"
                          },
                          "is_billable": {
                            "description": "Whether or not the project is billable per hour",
                            "type": "integer"
                          },
                          "is_public": {
                            "description": "Whether or not the project is public, meaning that it is visible by all the users in the workspace and everybody can track time on it",
                            "type": "integer"
                          },
                          "name": {
                            "description": "The project's name",
                            "type": "string"
                          },
                          "project_id": {
                            "description": "Unique identifier",
                            "type": "integer"
                          }
                        },
                        "required": [
                          "name"
                        ],
                        "title": "Project",
                        "type": "object",
                        "x-examples": {},
                        "x-stoplight": {
                          "id": "aa7t79mq3m8d2"
                        }
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "example-1": {
                  "message": "No query results for model [App\\Models\\Account] 3"
                }
              }
            }
          }
        },
        "tags": [
          "Clients"
        ],
        "description": "Get a client",
        "operationId": "Get-client-client_id",
        "summary": "Get a Client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#get-a-client"
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "client",
            "required": true,
            "type": "string"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "color": {
                  "description": "Color used in reports",
                  "type": "string"
                },
                "name": {
                  "description": "Color used in reports",
                  "type": "string"
                }
              },
              "required": [
                "name",
                "color"
              ],
              "type": "object",
              "x-examples": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Represents a client of the company. A client can have multiple projects.",
              "properties": {
                "client_id": {
                  "description": "Unique identifier",
                  "type": "integer"
                },
                "color": {
                  "description": "Color used in reports",
                  "maxLength": 7,
                  "minLength": 7,
                  "pattern": "#[0-9A-F]{6}",
                  "type": "string"
                },
                "is_active": {
                  "description": "Whether or not the client is archived",
                  "type": "boolean"
                },
                "name": {
                  "description": "Name of the client",
                  "type": "string"
                }
              },
              "required": [
                "name"
              ],
              "title": "Client",
              "type": "object",
              "x-stoplight": {
                "id": "o6w3tpvmilemj"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "example-1": {
                  "message": "No query results for model [App\\Models\\Account] 3"
                }
              }
            }
          },
          "422": {
            "description": "Invalid request",
            "headers": {},
            "schema": {
              "properties": {
                "errors": {
                  "description": "The errors object has properties as keys and array of strings as values",
                  "type": "object"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "errors": {
                    "color": [
                      "The color must be 7 characters."
                    ]
                  },
                  "message": "The color must be 7 characters."
                }
              }
            }
          }
        },
        "tags": [
          "Clients"
        ],
        "description": "Updates a client",
        "operationId": "Put-client-client_id",
        "summary": "Update a Client",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#update-a-client"
        }
      }
    },
    "/{connectionId}/countries": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "properties": {
                  "company_tax": {
                    "type": "string"
                  },
                  "country_code": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "private_tax": {
                    "type": "string"
                  },
                  "vat_required": {
                    "type": "integer"
                  }
                },
                "type": "object"
              },
              "type": "array",
              "x-examples": {
                "Example 1": [
                  {
                    "company_tax": "0.00",
                    "country_code": "AD",
                    "name": "Andorra",
                    "private_tax": "0.00",
                    "vat_required": 0
                  },
                  {
                    "company_tax": "0.00",
                    "country_code": "AE",
                    "name": "United Arab Emirates",
                    "private_tax": "0.00",
                    "vat_required": 0
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Countries"
        ],
        "description": "Get countries list",
        "operationId": "List-countries",
        "summary": "List Countries",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#list-countries"
        }
      }
    },
    "/{connectionId}/currencies": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "properties": {
                  "currency_code": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array",
              "x-examples": {
                "Example 1": [
                  {
                    "currency_code": "AED",
                    "name": "UAE Dirham"
                  },
                  {
                    "currency_code": "AFN",
                    "name": "Afghani"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Currencies"
        ],
        "description": "Get currencies list",
        "operationId": "List-currencies",
        "summary": "List Currencies",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#list-currencies"
        }
      }
    },
    "/{connectionId}/entries": {
      "parameters": [],
      "get": {
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "The currently displayed page",
            "in": "query",
            "minimum": 1,
            "name": "page",
            "type": "integer"
          },
          {
            "description": "How many items per page",
            "in": "query",
            "name": "per_page",
            "type": "integer"
          },
          {
            "description": "The attribute to sort by",
            "in": "query",
            "name": "sort_by",
            "type": "string"
          },
          {
            "default": "asc",
            "description": "The sort direction",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "direction",
            "type": "string"
          },
          {
            "description": "A comma separated list of user ids to filter the results",
            "in": "query",
            "name": "member_ids[]",
            "type": "string"
          },
          {
            "description": "A comma separated list of entry ids to filter the results",
            "in": "query",
            "name": "entry_ids[]",
            "type": "string"
          },
          {
            "description": "A comma separated list of project ids to filter the results",
            "in": "query",
            "name": "project_ids[]",
            "type": "string"
          },
          {
            "description": "A comma separated list of phase ids to filter the results",
            "in": "query",
            "name": "phase_ids[]",
            "type": "string"
          },
          {
            "description": "A comma separated list of client ids to filter the results",
            "in": "query",
            "name": "client_ids[]",
            "type": "string"
          },
          {
            "description": "A comma separated list of group ids to filter the results",
            "in": "query",
            "name": "group_ids[]",
            "type": "string"
          },
          {
            "description": "A comma separated list of phase category ids to filter the results",
            "in": "query",
            "name": "category_ids[]",
            "type": "string"
          },
          {
            "description": "A comma separated list of tag list ids to filter the results",
            "in": "query",
            "name": "tag_list_ids[]",
            "type": "string"
          },
          {
            "description": "A comma separated list of tag ids to filter the results",
            "in": "query",
            "name": "tag_ids[]",
            "type": "string"
          },
          {
            "description": "Get only the entry that have a given billed status: 0: Unbilled 1: Billed 2: Not billable 3: Billable",
            "in": "query",
            "maximum": 3,
            "minimum": 0,
            "name": "billed_status",
            "type": "integer"
          },
          {
            "description": "Get only the entries in a given timeframe",
            "enum": [
              "custom",
              "all",
              "week_last",
              "week_this",
              "month_last",
              "month_this",
              "days_7",
              "days_15",
              "days_30",
              "months_3",
              "months_6",
              "months_12",
              "yesterday",
              "today"
            ],
            "in": "query",
            "name": "timeframe",
            "type": "string"
          },
          {
            "description": "Get only the entries that have date grater or equal to this date",
            "in": "query",
            "name": "date_from",
            "type": "string",
            "x-example": "2023-01-01"
          },
          {
            "description": "Get only the entries that have date less or equal to this date",
            "in": "query",
            "name": "date_to",
            "type": "string",
            "x-example": "2023-01-01"
          },
          {
            "description": "Get entries that contain this text in the notes",
            "in": "query",
            "name": "text",
            "type": "string"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "description": "Represents a time entry in Timeneye. Time entries are portions of time assigned to a project, a phase and optionally to a client (the one linked to the project) and multiple tags.",
                    "properties": {
                      "billed": {
                        "description": "Indicates if the entry has been billed",
                        "type": "integer"
                      },
                      "client_id": {
                        "description": "Unique identifier of the client that belongs to the entry's project",
                        "type": "integer"
                      },
                      "cost": {
                        "description": "The monetary cost of the time entry based on the hourly cost of the user that created it",
                        "type": "string"
                      },
                      "created_date": {
                        "description": "Date and time of creation",
                        "example": "2023-01-01 10:00:00",
                        "type": "string"
                      },
                      "entry_date": {
                        "description": "Date of the entry",
                        "example": "2023-01-01",
                        "type": "string"
                      },
                      "entry_id": {
                        "description": "Unique identifier",
                        "type": "integer"
                      },
                      "entry_minutes": {
                        "description": "Amount of tracked time in minutes",
                        "type": "integer"
                      },
                      "locked": {
                        "description": "Whether or not the entry is locked",
                        "type": "integer"
                      },
                      "locked_by_apionly": {
                        "description": "Whether or not the entry is locked by restriction on third party app only",
                        "type": "integer"
                      },
                      "locked_by_date": {
                        "description": "Whether or not the entry is locked by date",
                        "type": "integer"
                      },
                      "locked_by_membership": {
                        "description": "Whether or not the entry is locked by membership",
                        "type": "integer"
                      },
                      "notes": {
                        "description": "Notes on the time entry",
                        "type": "string"
                      },
                      "phase_category_id": {
                        "description": "Unique identifier of the the phase category which the entry's phase belongs to",
                        "type": "integer"
                      },
                      "phase_id": {
                        "description": "Unique identifier of the the phase which the entry belongs to",
                        "type": "integer"
                      },
                      "profit": {
                        "description": "The difference between the revenue and the cost",
                        "type": "string"
                      },
                      "project_id": {
                        "description": "Unique identifier of the project",
                        "type": "integer"
                      },
                      "revenue": {
                        "description": "The monetary revenue of the time entry based on the general hourly rate,the project's .",
                        "type": "string"
                      },
                      "source": {
                        "description": "Indicates the source of the entry (if any)",
                        "type": "string"
                      },
                      "source_data": {
                        "description": "Additional data of the source ",
                        "type": "string"
                      },
                      "source_id": {
                        "description": "A unique identifier of the source of the entry",
                        "type": "string"
                      },
                      "source_text": {
                        "description": "A text that describes the source of the entry",
                        "type": "string"
                      },
                      "source_url": {
                        "description": "An URL to the source of the entry",
                        "type": "string"
                      },
                      "suggested_phase_id": {
                        "description": "An optional identifier of a suggested phase if the entry is created from an EntrySuggestion",
                        "type": "string",
                        "x-nullable": true
                      },
                      "suggested_project_id": {
                        "description": "An optional identifier of a suggested project if the entry is created from an EntrySuggestion",
                        "type": "string",
                        "x-nullable": true
                      },
                      "todo_id": {
                        "description": "The unique identifier of a todo linked to the time entry",
                        "type": "string",
                        "x-nullable": true
                      },
                      "updated_date": {
                        "description": "Date and time od update",
                        "type": "string"
                      },
                      "user_id": {
                        "description": "Unique identifier of the user that created the entry",
                        "type": "integer"
                      }
                    },
                    "title": "Entry",
                    "type": "object",
                    "x-examples": {},
                    "x-stoplight": {
                      "id": "5f8bbr1bf1gt7"
                    }
                  },
                  "type": "array"
                },
                "links": {
                  "properties": {
                    "first": {
                      "type": "string"
                    },
                    "last": {
                      "type": "string"
                    },
                    "next": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "prev": {
                      "type": "string",
                      "x-nullable": true
                    }
                  },
                  "type": "object"
                },
                "meta": {
                  "properties": {
                    "current_page": {
                      "type": "integer"
                    },
                    "from": {
                      "type": "integer"
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "links": {
                      "items": {
                        "properties": {
                          "active": {
                            "type": "boolean"
                          },
                          "label": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "x-nullable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "path": {
                      "type": "string"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "to": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "x-examples": {}
            }
          },
          "422": {
            "description": "Invalid request",
            "headers": {},
            "schema": {
              "properties": {
                "errors": {
                  "description": "The errors object has properties as keys and array of strings as values",
                  "type": "object"
                },
                "message": {
                  "type": "string"
                }
              },
              "type": "object",
              "x-examples": {
                "Example 1": {
                  "errors": {
                    "color": [
                      "The color must be 7 characters."
                    ]
                  },
                  "message": "The color must be 7 characters."
                }
              }
            }
          }
        },
        "tags": [
          "Entries"
        ],
        "description": "Get entries list",
        "operationId": "List-entries",
        "summary": "List Entries",
        "x-internal": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/timeneye/#list-entries"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "application/json",
            "in": "header",
            "name": "Accept",
            "type": "string"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "billed": {
                  "description": "0 = Entry billable, 1 = Entry billed, 2 = Entry not billable",
                  "maximum": 3,
                  "minimum": 1,
                  "type": "integer"
                },
                "date": {
                  "description": "Date of the entry",
                  "example": "2023-01-01",
                  "type": "string"
                },
                "entry_suggestion_id": {
                  "description": "A unique identifier of the entry suggestion from which the entry is created",
                  "type": "integer"
                },
                "minutes": {
                  "description": "Amount of tracked time in minutes",
                  "type": "integer"
                },
                "notes": {
                  "description": "Notes on the time entry",
                  "type": "string"
                },
                "origin_date": {
                  "description": "Format Y-m-d required with repeatable_suggestion_id",
                  "type": "string"
                },
                "phase_id": {
                  "description": "Unique identifier of the the phase which the entry belongs to",
                  "type": "integer"
                },
                "project_id": {
                  "description": "Unique identifier of the project",
                  "type": "integer"
                },
                "repeatable_suggestion_id": {
                  "description": "A unique identifier of the repeatable entry suggestion from which the entry is created",
                  "type": "integer",
                  "x-nullable": true
                },
                "source": {
                  "description": "Must be one of integration_code available or \"consistency\"",
                  "type": "string"
                },
                "source_text": {
                  "description": "A text that describes the source of the entry",
                  "type": "string"
                },
                "source_url": {
                  "description": "A text that describes the source of the entry",
                  "type": "string"
                },
                "tag_ids": {
                  "description": "Array of tag_id",
                  "items": {
                    "type": "integer"
                  },
                  "type": "array"
                },
                "user_id": {
                  "description": "Unique identifier of the user that created the entry",
                  "type": "integer"
                }
              },
              "required": [
                "project_id",
                "phase_id",
                "minutes",
                "date"
              ],
              "type": "object",
              "x-examples": {}
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "description": "Represents a time entry in Timeneye. Time entries are portions of time assigned to a project, a phase and optionally to a client (the one linked to the project) and multiple tags.",
                  "properties": {
                    "billed": {
                      "description": "Indicates if the entry has been billed",
                      "type": "integer"
                    },
                    "client_id": {
                      "description": "Unique identifier of the client that belongs to the entry's project",
                      "type": "integer"
                    },
                    "cost": {
                      "description": "The monetary cost of the time entry based on the hourly cost of the user that created it",
                      "type": "string"
                    },
                    "created_date": {
                      "description": "Date and time of creation",
                      "example": "2023-01-01 10:00:00",
                      "type": "string"
                    },
                    "entry_date": {
                      "description": "Date of the entry",
                      "example": "2023-01-01",
                      "type": "string"
                    },
                    "entry_id": {
                      "description": "Unique identifier",
                      "type": "integer"
                    },
                    "entry_minutes": {
                      "description": "Amount of tracked time in minutes",
                      "type": "integer"
                    },
                    "locked": {
[...]
