{
  "swagger": "2.0",
  "info": {
    "title": "Vome",
    "description": "Vome is a volunteer management platform that helps organizations simplify scheduling, communication, and onboarding. This connector enables seamless integration between Vome and other services by allowing users to automate workflows such as sending confirmation emails when a volunteer signs up for a shift, updating CRM systems, and triggering onboarding steps based on user actions. By using this connector, organizations can reduce manual tasks and create a more engaging volunteer experience",
    "version": "1.0",
    "contact": {
      "name": "Vome",
      "url": "https://support.vomevolunteer.com/portal/en/kb/articles/how-does-vome-support-work",
      "email": "support@vomevolunteer.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.vomevolunteer.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.vomevolunteer.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity; IT Operations"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/vome",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/platform/webhook/DeletedSequenceAssigment/": {
      "x-ms-notification-content": {
        "description": "New Profile",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "logged_hours": {
              "type": "integer",
              "format": "int32",
              "description": "logged_hours"
            },
            "is_offline": {
              "type": "boolean",
              "description": "is_offline"
            },
            "is_following": {
              "type": "boolean",
              "description": "is_following"
            },
            "emergency_contact": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "relationship": {
                  "type": "string",
                  "description": "relationship"
                }
              },
              "description": "emergency_contact"
            },
            "medical_information": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "has_medical_info": {
                  "type": "boolean",
                  "description": "has_medical_info"
                }
              },
              "description": "medical_information"
            },
            "profile_details": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "full_name": {
                  "type": "string",
                  "description": "full_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "profile_image": {
                  "type": "string",
                  "description": "profile_image"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "gender_text": {
                  "type": "string",
                  "description": "gender_text"
                },
                "occupation": {
                  "type": "string",
                  "description": "occupation"
                },
                "occupation_institution_name": {
                  "type": "string",
                  "description": "occupation_institution_name"
                },
                "skills": {
                  "type": "array",
                  "items": {},
                  "description": "skills"
                },
                "languages": {
                  "type": "array",
                  "items": {},
                  "description": "languages"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "age": {
                  "type": "string",
                  "description": "age"
                },
                "address_coordinates": {
                  "type": "array",
                  "items": {},
                  "description": "address_coordinates"
                }
              },
              "description": "profile_details"
            },
            "opportunities": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "opportunity": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          }
                        },
                        "description": "category"
                      }
                    },
                    "description": "opportunity"
                  }
                }
              },
              "description": "opportunities"
            },
            "most_recent_shift": {
              "type": "string",
              "description": "most_recent_shift"
            },
            "completed_shifts": {
              "type": "integer",
              "format": "int32",
              "description": "completed_shifts"
            },
            "profile_tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "tag": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "tag_title": {
                        "type": "string",
                        "description": "tag_title"
                      }
                    },
                    "description": "tag"
                  }
                }
              },
              "description": "profile_tags"
            },
            "custom_fields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "custom_field": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "field_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "field_type"
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "is_active"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          }
                        },
                        "description": "options"
                      }
                    },
                    "description": "custom_field"
                  },
                  "custom_field_value": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "value": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          },
                          "description": "value"
                        }
                      }
                    },
                    "description": "custom_field_value"
                  }
                }
              },
              "description": "custom_fields"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/platform/webhook/NewUser/": {
      "x-ms-notification-content": {
        "description": "New Profile",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "logged_hours": {
              "type": "integer",
              "format": "int32",
              "description": "logged_hours"
            },
            "is_offline": {
              "type": "boolean",
              "description": "is_offline"
            },
            "is_following": {
              "type": "boolean",
              "description": "is_following"
            },
            "emergency_contact": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "relationship": {
                  "type": "string",
                  "description": "relationship"
                }
              },
              "description": "emergency_contact"
            },
            "medical_information": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "has_medical_info": {
                  "type": "boolean",
                  "description": "has_medical_info"
                }
              },
              "description": "medical_information"
            },
            "profile_details": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "full_name": {
                  "type": "string",
                  "description": "full_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "profile_image": {
                  "type": "string",
                  "description": "profile_image"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "gender_text": {
                  "type": "string",
                  "description": "gender_text"
                },
                "occupation": {
                  "type": "string",
                  "description": "occupation"
                },
                "occupation_institution_name": {
                  "type": "string",
                  "description": "occupation_institution_name"
                },
                "skills": {
                  "type": "array",
                  "items": {},
                  "description": "skills"
                },
                "languages": {
                  "type": "array",
                  "items": {},
                  "description": "languages"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "age": {
                  "type": "string",
                  "description": "age"
                },
                "address_coordinates": {
                  "type": "array",
                  "items": {},
                  "description": "address_coordinates"
                }
              },
              "description": "profile_details"
            },
            "opportunities": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "opportunity": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          }
                        },
                        "description": "category"
                      }
                    },
                    "description": "opportunity"
                  }
                }
              },
              "description": "opportunities"
            },
            "most_recent_shift": {
              "type": "string",
              "description": "most_recent_shift"
            },
            "completed_shifts": {
              "type": "integer",
              "format": "int32",
              "description": "completed_shifts"
            },
            "profile_tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "tag": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "tag_title": {
                        "type": "string",
                        "description": "tag_title"
                      }
                    },
                    "description": "tag"
                  }
                }
              },
              "description": "profile_tags"
            },
            "custom_fields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "custom_field": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "field_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "field_type"
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "is_active"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          }
                        },
                        "description": "options"
                      }
                    },
                    "description": "custom_field"
                  },
                  "custom_field_value": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "value": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          },
                          "description": "value"
                        }
                      }
                    },
                    "description": "custom_field_value"
                  }
                }
              },
              "description": "custom_fields"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully processed the webhook"
          },
          "400": {
            "description": "Bad request, invalid input"
          }
        },
        "summary": "New Profile",
        "description": "Triggers when new user is created",
        "operationId": "NewProfile",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "url"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "events",
                  "default": [
                    "profile.created"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/vome/#new-profile"
        }
      }
    },
    "/{connectionId}/api/platform/webhook/UpdatedProfile/": {
      "x-ms-notification-content": {
        "description": "UpdatedProfile",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "logged_hours": {
              "type": "integer",
              "format": "int32",
              "description": "logged_hours"
            },
            "is_offline": {
              "type": "boolean",
              "description": "is_offline"
            },
            "is_following": {
              "type": "boolean",
              "description": "is_following"
            },
            "emergency_contact": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "relationship": {
                  "type": "string",
                  "description": "relationship"
                }
              },
              "description": "emergency_contact"
            },
            "medical_information": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "has_medical_info": {
                  "type": "boolean",
                  "description": "has_medical_info"
                }
              },
              "description": "medical_information"
            },
            "profile_details": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "full_name": {
                  "type": "string",
                  "description": "full_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "profile_image": {
                  "type": "string",
                  "description": "profile_image"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "gender_text": {
                  "type": "string",
                  "description": "gender_text"
                },
                "occupation": {
                  "type": "string",
                  "description": "occupation"
                },
                "occupation_institution_name": {
                  "type": "string",
                  "description": "occupation_institution_name"
                },
                "skills": {
                  "type": "array",
                  "items": {},
                  "description": "skills"
                },
                "languages": {
                  "type": "array",
                  "items": {},
                  "description": "languages"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "age": {
                  "type": "string",
                  "description": "age"
                },
                "address_coordinates": {
                  "type": "array",
                  "items": {},
                  "description": "address_coordinates"
                }
              },
              "description": "profile_details"
            },
            "opportunities": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "opportunity": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          }
                        },
                        "description": "category"
                      }
                    },
                    "description": "opportunity"
                  }
                }
              },
              "description": "opportunities"
            },
            "most_recent_shift": {
              "type": "string",
              "description": "most_recent_shift"
            },
            "completed_shifts": {
              "type": "integer",
              "format": "int32",
              "description": "completed_shifts"
            },
            "profile_tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "tag": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "tag_title": {
                        "type": "string",
                        "description": "tag_title"
                      }
                    },
                    "description": "tag"
                  }
                }
              },
              "description": "profile_tags"
            },
            "custom_fields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "custom_field": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "field_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "field_type"
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "is_active"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          }
                        },
                        "description": "options"
                      }
                    },
                    "description": "custom_field"
                  },
                  "custom_field_value": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "value": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          },
                          "description": "value"
                        }
                      }
                    },
                    "description": "custom_field_value"
                  }
                }
              },
              "description": "custom_fields"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully processed the webhook"
          },
          "400": {
            "description": "Bad request, invalid input"
          }
        },
        "summary": "UpdatedProfile",
        "description": "Triggers when a profile is updated in your Vome database",
        "operationId": "UpdatedProfile",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "events",
                  "default": [
                    "profile.updated"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/vome/#updatedprofile"
        }
      }
    },
    "/{connectionId}/api/platform/webhook/ArchivedProfile/": {
      "x-ms-notification-content": {
        "description": "ArchivedProfile",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "logged_hours": {
              "type": "integer",
              "format": "int32",
              "description": "logged_hours"
            },
            "is_offline": {
              "type": "boolean",
              "description": "is_offline"
            },
            "is_following": {
              "type": "boolean",
              "description": "is_following"
            },
            "emergency_contact": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "relationship": {
                  "type": "string",
                  "description": "relationship"
                }
              },
              "description": "emergency_contact"
            },
            "medical_information": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "has_medical_info": {
                  "type": "boolean",
                  "description": "has_medical_info"
                }
              },
              "description": "medical_information"
            },
            "profile_details": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "full_name": {
                  "type": "string",
                  "description": "full_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "profile_image": {
                  "type": "string",
                  "description": "profile_image"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "gender_text": {
                  "type": "string",
                  "description": "gender_text"
                },
                "occupation": {
                  "type": "string",
                  "description": "occupation"
                },
                "occupation_institution_name": {
                  "type": "string",
                  "description": "occupation_institution_name"
                },
                "skills": {
                  "type": "array",
                  "items": {},
                  "description": "skills"
                },
                "languages": {
                  "type": "array",
                  "items": {},
                  "description": "languages"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "age": {
                  "type": "string",
                  "description": "age"
                },
                "address_coordinates": {
                  "type": "array",
                  "items": {},
                  "description": "address_coordinates"
                }
              },
              "description": "profile_details"
            },
            "opportunities": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "opportunity": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          }
                        },
                        "description": "category"
                      }
                    },
                    "description": "opportunity"
                  }
                }
              },
              "description": "opportunities"
            },
            "most_recent_shift": {
              "type": "string",
              "description": "most_recent_shift"
            },
            "completed_shifts": {
              "type": "integer",
              "format": "int32",
              "description": "completed_shifts"
            },
            "profile_tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "tag": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "tag_title": {
                        "type": "string",
                        "description": "tag_title"
                      }
                    },
                    "description": "tag"
                  }
                }
              },
              "description": "profile_tags"
            },
            "custom_fields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "custom_field": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "field_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "field_type"
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "is_active"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          }
                        },
                        "description": "options"
                      }
                    },
                    "description": "custom_field"
                  },
                  "custom_field_value": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "value": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          },
                          "description": "value"
                        }
                      }
                    },
                    "description": "custom_field_value"
                  }
                }
              },
              "description": "custom_fields"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully processed the webhook"
          },
          "400": {
            "description": "Bad request, invalid input"
          }
        },
        "summary": "Archived Profile",
        "operationId": "ArchivedProfile",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "events",
                  "default": [
                    "profile.archived"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "description": "Triggers when a profile is archived in your database",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/vome/#archived-profile"
        }
      }
    },
    "/{connectionId}/api/platform/webhook/DeletedProfile/": {
      "x-ms-notification-content": {
        "description": "DeletedProfile",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "logged_hours": {
              "type": "integer",
              "format": "int32",
              "description": "logged_hours"
            },
            "is_offline": {
              "type": "boolean",
              "description": "is_offline"
            },
            "is_following": {
              "type": "boolean",
              "description": "is_following"
            },
            "emergency_contact": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "relationship": {
                  "type": "string",
                  "description": "relationship"
                }
              },
              "description": "emergency_contact"
            },
            "medical_information": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "has_medical_info": {
                  "type": "boolean",
                  "description": "has_medical_info"
                }
              },
              "description": "medical_information"
            },
            "profile_details": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "full_name": {
                  "type": "string",
                  "description": "full_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "profile_image": {
                  "type": "string",
                  "description": "profile_image"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "gender_text": {
                  "type": "string",
                  "description": "gender_text"
                },
                "occupation": {
                  "type": "string",
                  "description": "occupation"
                },
                "occupation_institution_name": {
                  "type": "string",
                  "description": "occupation_institution_name"
                },
                "skills": {
                  "type": "array",
                  "items": {},
                  "description": "skills"
                },
                "languages": {
                  "type": "array",
                  "items": {},
                  "description": "languages"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "age": {
                  "type": "string",
                  "description": "age"
                },
                "address_coordinates": {
                  "type": "array",
                  "items": {},
                  "description": "address_coordinates"
                }
              },
              "description": "profile_details"
            },
            "opportunities": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "opportunity": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "category": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          }
                        },
                        "description": "category"
                      }
                    },
                    "description": "opportunity"
                  }
                }
              },
              "description": "opportunities"
            },
            "most_recent_shift": {
              "type": "string",
              "description": "most_recent_shift"
            },
            "completed_shifts": {
              "type": "integer",
              "format": "int32",
              "description": "completed_shifts"
            },
            "profile_tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "tag": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "tag_title": {
                        "type": "string",
                        "description": "tag_title"
                      }
                    },
                    "description": "tag"
                  }
                }
              },
              "description": "profile_tags"
            },
            "custom_fields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "custom_field": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "field_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "field_type"
                      },
                      "is_active": {
                        "type": "boolean",
                        "description": "is_active"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          }
                        },
                        "description": "options"
                      }
                    },
                    "description": "custom_field"
                  },
                  "custom_field_value": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "value": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "order"
                            }
                          },
                          "description": "value"
                        }
                      }
                    },
                    "description": "custom_field_value"
                  }
                }
              },
              "description": "custom_fields"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully processed the webhook"
          },
          "400": {
            "description": "Bad request, invalid input"
          }
        },
        "summary": "Deleted Profile",
        "operationId": "DeletedProfile",
        "description": "Triggers when a profile is deleted from your Vome database",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "events",
                  "default": [
                    "profile.deleted"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/vome/#deleted-profile"
        }
      }
    },
    "/{connectionId}/api/platform/webhook/NewFormSubmission/": {
      "x-ms-notification-content": {
        "description": "NewFormSubmission",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "address_coordinates": {
                  "type": "string",
                  "description": "address_coordinates"
                }
              },
              "description": "user"
            },
            "submission_status": {
              "type": "string",
              "description": "submission_status"
            },
            "created_at": {
              "type": "string",
              "description": "created_at"
            },
            "arrival_source": {
              "type": "string",
              "description": "arrival_source"
            },
            "questions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "question": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "question_type": {
                        "type": "string",
                        "description": "question_type"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "options"
                      }
                    },
                    "description": "question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "answer"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "options"
                  },
                  "responded": {
                    "type": "boolean",
                    "description": "responded"
                  }
                }
              },
              "description": "questions"
            },
            "medical_info": {
              "type": "string",
              "description": "medical_info"
            },
            "emergency_contact": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "relationship": {
                  "type": "string",
                  "description": "relationship"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                }
              },
              "description": "emergency_contact"
            },
            "digital_consent": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "digital_consent_info": {
                    "type": "string",
                    "description": "digital_consent_info"
                  },
                  "attached_file": {
                    "type": "string",
                    "description": "attached_file"
                  },
                  "consent_status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "consent_status"
                  }
                }
              },
              "description": "digital_consent"
            },
            "general_availability": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "day": {
                    "type": "integer",
                    "format": "int32",
                    "description": "day"
                  },
                  "availability": {
                    "type": "string",
                    "description": "availability"
                  }
                }
              },
              "description": "general_availability"
            },
            "attachments": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "document_file": {
                    "type": "string",
                    "description": "document_file"
                  },
                  "notes": {
                    "type": "string",
                    "description": "notes"
                  },
                  "attachment_info": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      }
                    },
                    "description": "attachment_info"
                  }
                }
              },
              "description": "attachments"
            },
            "opportunities": {
              "type": "array",
              "items": {},
              "description": "opportunities"
            },
            "folder": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                }
              },
              "description": "folder"
            },
            "form": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                }
              },
              "description": "form"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully processed the webhook"
          },
          "400": {
            "description": "Bad request, invalid input"
          }
        },
        "summary": "New Form Submission",
        "description": "Triggers when a user submits a Vome form",
        "operationId": "NewFormSubmission",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "events",
                  "default": [
                    "form_submission.created"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/vome/#new-form-submission"
        }
      }
    },
    "/{connectionId}/api/platform/webhook/UpdatedFormSubmission/": {
      "x-ms-notification-content": {
        "description": "UpdatedFormSubmission",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "address_coordinates": {
                  "type": "string",
                  "description": "address_coordinates"
                }
              },
              "description": "user"
            },
            "submission_status": {
              "type": "string",
              "description": "submission_status"
            },
            "created_at": {
              "type": "string",
              "description": "created_at"
            },
            "arrival_source": {
              "type": "string",
              "description": "arrival_source"
            },
            "questions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "question": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "question_type": {
                        "type": "string",
                        "description": "question_type"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "options"
                      }
                    },
                    "description": "question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "answer"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "options"
                  },
                  "responded": {
                    "type": "boolean",
                    "description": "responded"
                  }
                }
              },
              "description": "questions"
            },
            "medical_info": {
              "type": "string",
              "description": "medical_info"
            },
            "emergency_contact": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "relationship": {
                  "type": "string",
                  "description": "relationship"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                }
              },
              "description": "emergency_contact"
            },
            "digital_consent": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "digital_consent_info": {
                    "type": "string",
                    "description": "digital_consent_info"
                  },
                  "attached_file": {
                    "type": "string",
                    "description": "attached_file"
                  },
                  "consent_status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "consent_status"
                  }
                }
              },
              "description": "digital_consent"
            },
            "general_availability": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "day": {
                    "type": "integer",
                    "format": "int32",
                    "description": "day"
                  },
                  "availability": {
                    "type": "string",
                    "description": "availability"
                  }
                }
              },
              "description": "general_availability"
            },
            "attachments": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "document_file": {
                    "type": "string",
                    "description": "document_file"
                  },
                  "notes": {
                    "type": "string",
                    "description": "notes"
                  },
                  "attachment_info": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      }
                    },
                    "description": "attachment_info"
                  }
                }
              },
              "description": "attachments"
            },
            "opportunities": {
              "type": "array",
              "items": {},
              "description": "opportunities"
            },
            "folder": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                }
              },
              "description": "folder"
            },
            "form": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                }
              },
              "description": "form"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully processed the webhook"
          },
          "400": {
            "description": "Bad request, invalid input"
          }
        },
        "summary": "Updated Form Submission",
        "operationId": "UpdatedFormSubmission",
        "description": "Triggers when a user's form submission is updated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "events",
                  "default": [
                    "form_submission.updated"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/vome/#updated-form-submission"
        }
      }
    },
    "/{connectionId}/api/platform/webhook/DeletedFormSubmission/": {
      "x-ms-notification-content": {
        "description": "DeletedFormSubmission",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "gender": {
                  "type": "string",
                  "description": "gender"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "address_coordinates": {
                  "type": "string",
                  "description": "address_coordinates"
                }
              },
              "description": "user"
            },
            "submission_status": {
              "type": "string",
              "description": "submission_status"
            },
            "created_at": {
              "type": "string",
              "description": "created_at"
            },
            "arrival_source": {
              "type": "string",
              "description": "arrival_source"
            },
            "questions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "question": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "question_type": {
                        "type": "string",
                        "description": "question_type"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "options"
                      }
                    },
                    "description": "question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "answer"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "options"
                  },
                  "responded": {
                    "type": "boolean",
                    "description": "responded"
                  }
                }
              },
              "description": "questions"
            },
            "medical_info": {
              "type": "string",
              "description": "medical_info"
            },
            "emergency_contact": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "relationship": {
                  "type": "string",
                  "description": "relationship"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                }
              },
              "description": "emergency_contact"
            },
            "digital_consent": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "digital_consent_info": {
                    "type": "string",
                    "description": "digital_consent_info"
                  },
                  "attached_file": {
                    "type": "string",
                    "description": "attached_file"
                  },
                  "consent_status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "consent_status"
                  }
                }
              },
              "description": "digital_consent"
            },
            "general_availability": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "day": {
                    "type": "integer",
                    "format": "int32",
                    "description": "day"
                  },
                  "availability": {
                    "type": "string",
                    "description": "availability"
                  }
                }
              },
              "description": "general_availability"
            },
            "attachments": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "document_file": {
                    "type": "string",
                    "description": "document_file"
                  },
                  "notes": {
                    "type": "string",
                    "description": "notes"
                  },
                  "attachment_info": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      }
                    },
                    "description": "attachment_info"
                  }
                }
              },
              "description": "attachments"
            },
            "opportunities": {
              "type": "array",
              "items": {},
              "description": "opportunities"
            },
            "folder": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                }
              },
              "description": "folder"
            },
            "form": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                }
              },
              "description": "form"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully processed the webhook"
          },
          "400": {
            "description": "Bad request, invalid input"
          }
        },
        "summary": "Deleted Form Submission",
        "description": "Triggers when a form submission is deleted",
        "operationId": "DeletedFormSubmission",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "events",
                  "default": [
                    "form_submission.deleted"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/vome/#deleted-form-submission"
        }
      }
    },
    "/{connectionId}/api/platform/webhook/NewReservation/": {
      "x-ms-notification-content": {
        "description": "NewReservation",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "shift": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "shift_start_at": {
                  "type": "string",
                  "description": "shift_start_at"
                },
                "shift_end_at": {
                  "type": "string",
                  "description": "shift_end_at"
                },
                "spots": {
                  "type": "integer",
                  "format": "int32",
                  "description": "spots"
                },
                "shift_title": {
                  "type": "string",
                  "description": "shift_title"
                },
                "shift_description": {
                  "type": "string",
                  "description": "shift_description"
                }
              },
              "description": "shift"
            },
            "created_at": {
              "type": "string",
              "description": "created_at"
            },
            "status": {
              "type": "integer",
              "format": "int32",
              "description": "status"
            },
            "arrival_time": {
              "type": "string",
              "description": "arrival_time"
            },
            "departure_time": {
              "type": "string",
              "description": "departure_time"
            },
            "hours_approved_by": {
              "type": "string",
              "description": "hours_approved_by"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "gender": {
                  "type": "integer",
                  "format": "int32",
                  "description": "gender"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "phone_number": {
                  "type": "string",
                  "description": "phone_number"
                },
                "date_of_birth": {
                  "type": "string",
                  "description": "date_of_birth"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone"
                },
                "address_coordinates": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "address_coordinates"
                }
              },
              "description": "user"
            },
            "opportunity": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "category": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    }
                  },
                  "description": "category"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              },
              "description": "opportunity"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successfully processed the webhook"
          },
          "400": {
            "description": "Bad request, invalid input"
          }
        },
        "summary": "New Reservation",
        "operationId": "NewReservation",
        "description": "Triggers when a new reservation is scheduled",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "events",
                  "default": [
                    "reservation.created"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/vome/#new-reservation"
        }
      }
    },
    "/{connectionId}/api/platform/webhook/UpdatedReservation/": {
      "x-ms-notification-content": {
        "description": "UpdatedReservation",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "shift": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "shift_start_at": {
                  "type": "string",
                  "description": "shift_start_at"
                },
                "shift_end_at": {
                  "type": "string",
                  "description": "shift_end_at"
                },
                "spots": {
                  "type": "integer",
                  "format": "int32",
                  "description": "spots"
                },
                "shift_title": {
                  "type": "string",
                  "description": "shift_title"
                },
                "shift_description": {
                  "type": "string",
                  "description": "shift_description"
                }
              },
              "description": "shift"
            },
            "created_at": {
              "type": "string",
              "description": "created_at"
            },
            "status": {
              "type": "integer",
              "format": "int32",
              "description": "status"
            },
            "arrival_time": {
              "type": "string",
              "description": "arrival_time"
            },
            "departure_time": {
              "type": "string",
              "description": "departure_time"
            },
            "hours_approved_by": {
              "type": "string",
              "description": "hours_approved_by"
            },
            "user": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "last_name": {
                  "type": "string",
                  "description": "last_name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "gender": {
                  "type": "integer",
                  "format": "int32",
                  "description": "gender"
                },
                "address": {
                  "type": "string",
[...]
