{
  "swagger": "2.0",
  "info": {
    "title": "CluedIn",
    "description": "CluedIn connector lets you create workflows and extend functionality such as approvals outside of CluedIn.",
    "contact": {
      "name": "Contact us",
      "url": "https://www.cluedin.com/get-in-touch",
      "email": "support@cluedin.com"
    },
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cluedin.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cluedin.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/cluedin",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/callback": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "message": {
                  "type": "string",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "title": "IsSuccess"
                },
                "url": {
                  "type": "string",
                  "title": "Url"
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "default"
          }
        },
        "operationId": "ApprovalResponse",
        "summary": "Send approval response",
        "x-ms-visibility": "important",
        "description": "Send approval result to CluedIn",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {},
                  "description": "Internal use only",
                  "title": "Data",
                  "x-ms-visibility": "advanced"
                },
                "workflowMetadata": {
                  "type": "object",
                  "properties": {},
                  "description": "Internal use only",
                  "title": "Metadata",
                  "x-ms-visibility": "advanced"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "approval": {
                      "type": "string",
                      "description": "approval",
                      "title": "Approval",
                      "x-ms-visibility": "important"
                    },
                    "reason": {
                      "type": "string",
                      "description": "reason",
                      "title": "Reason",
                      "x-ms-visibility": "important"
                    },
                    "reviewedBy": {
                      "type": "string",
                      "description": "Reviewer email",
                      "title": "Reviewed by",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "result",
                  "required": [
                    "approval",
                    "reason",
                    "reviewedBy"
                  ]
                }
              },
              "required": [
                "result"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#send-approval-response"
        }
      }
    },
    "/{connectionId}/webhooks/419f013d-61fe-4f3b-b52e-8069811e6c94": {
      "x-ms-notification-content": {
        "description": "Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "properties": {
                "title": {
                  "type": "string",
                  "title": "Title"
                },
                "createdBy": {
                  "type": "string",
                  "title": "CreatedBy"
                },
                "objectId": {
                  "type": "string",
                  "title": "ObjectId"
                },
                "objectTypeId": {
                  "type": "string",
                  "title": "ObjectTypeId"
                },
                "changesMade": {
                  "properties": {},
                  "type": "object",
                  "title": "ChangesMade"
                },
                "changesMadeMarkdown": {
                  "type": "string",
                  "title": "ChangesMadeMarkdown"
                },
                "changesMadeHtml": {
                  "type": "string",
                  "title": "ChangesMadeHtml"
                },
                "owners": {
                  "type": "array",
                  "title": "Owners",
                  "items": {
                    "type": "object",
                    "title": "OwnerDetail",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Id"
                      },
                      "email": {
                        "type": "string",
                        "title": "Email"
                      }
                    }
                  }
                },
                "ownerEmails": {
                  "type": "string",
                  "title": "OwnerEmails"
                },
                "taskId": {
                  "type": "string",
                  "title": "TaskId"
                }
              },
              "type": "object"
            },
            "workflowMetadata": {
              "type": "object",
              "properties": {},
              "description": "workflowMetadata"
            },
            "summary": {
              "type": "string",
              "title": "Summary",
              "description": "Summary of the data in this request"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When a rule change is submitted for approval",
        "operationId": "RequestRACIRuleApproval",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "callbackUrl"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Review requests for rule changes in CluedIn and return approval results with the ApprovalResponse connector action",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#when-a-rule-change-is-submitted-for-approval"
        }
      }
    },
    "/{connectionId}/webhooks/227C247E-7495-49DB-B1AD-486B99B43E2D": {
      "x-ms-notification-content": {
        "description": "Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "properties": {
                "batchId": {
                  "type": "string",
                  "title": "BatchId"
                },
                "batchSize": {
                  "type": "string",
                  "title": "BatchSize"
                },
                "details": {
                  "type": "string",
                  "title": "Details"
                },
                "entityType": {
                  "type": "string",
                  "title": "EntityType"
                },
                "summary": {
                  "type": "string",
                  "title": "Summary"
                }
              },
              "type": "object"
            },
            "workflowMetadata": {
              "type": "object",
              "properties": {},
              "description": "workflowMetadata"
            },
            "summary": {
              "type": "string",
              "title": "Summary",
              "description": "Summary of the data in this request"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When a new batch of clues is submitted for approval",
        "operationId": "RequestBatchedCluesApproval",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "callbackUrl"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Review requests for submitting new clues and return approval results with the ApprovalResponse connector action",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#when-a-new-batch-of-clues-is-submitted-for-approval"
        }
      }
    },
    "/{connectionId}/webhooks/641f26b6-1285-4fbc-8990-10da9010700b": {
      "x-ms-notification-content": {
        "description": "Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "properties": {
                "title": {
                  "type": "string",
                  "title": "Title"
                },
                "createdBy": {
                  "type": "string",
                  "title": "CreatedBy"
                },
                "objectId": {
                  "type": "string",
                  "title": "ObjectId"
                },
                "objectTypeId": {
                  "type": "string",
                  "title": "ObjectTypeId"
                },
                "changesMade": {
                  "properties": {},
                  "type": "object",
                  "title": "ChangesMade"
                },
                "changesMadeMarkdown": {
                  "type": "string",
                  "title": "ChangesMadeMarkdown"
                },
                "changesMadeHtml": {
                  "type": "string",
                  "title": "ChangesMadeHtml"
                },
                "owners": {
                  "type": "array",
                  "title": "Owners",
                  "items": {
                    "type": "object",
                    "title": "OwnerDetail",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Id"
                      },
                      "email": {
                        "type": "string",
                        "title": "Email"
                      }
                    }
                  }
                },
                "ownerEmails": {
                  "type": "string",
                  "title": "OwnerEmails"
                },
                "taskId": {
                  "type": "string",
                  "title": "TaskId"
                }
              },
              "type": "object"
            },
            "workflowMetadata": {
              "type": "object",
              "properties": {},
              "description": "workflowMetadata"
            },
            "summary": {
              "type": "string",
              "title": "Summary",
              "description": "Summary of the data in this request"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When a vocabulary change is submitted for approval",
        "operationId": "RequestRACIVocabularyApproval",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "callbackUrl"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Review requests for vocabulary changes in CluedIn and return approval results with the ApprovalResponse connector action",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#when-a-vocabulary-change-is-submitted-for-approval"
        }
      }
    },
    "/{connectionId}/webhooks/26b92c0c-fc04-4db5-beda-31f8435a6445": {
      "x-ms-notification-content": {
        "description": "Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "properties": {
                "title": {
                  "type": "string",
                  "title": "Title"
                },
                "createdBy": {
                  "type": "string",
                  "title": "CreatedBy"
                },
                "objectId": {
                  "type": "string",
                  "title": "ObjectId"
                },
                "objectTypeId": {
                  "type": "string",
                  "title": "ObjectTypeId"
                },
                "changesMade": {
                  "properties": {},
                  "type": "object",
                  "title": "ChangesMade"
                },
                "changesMadeMarkdown": {
                  "type": "string",
                  "title": "ChangesMadeMarkdown"
                },
                "changesMadeHtml": {
                  "type": "string",
                  "title": "ChangesMadeHtml"
                },
                "owners": {
                  "type": "array",
                  "title": "Owners",
                  "items": {
                    "type": "object",
                    "title": "OwnerDetail",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Id"
                      },
                      "email": {
                        "type": "string",
                        "title": "Email"
                      }
                    }
                  }
                },
                "ownerEmails": {
                  "type": "string",
                  "title": "OwnerEmails"
                },
                "taskId": {
                  "type": "string",
                  "title": "TaskId"
                }
              },
              "type": "object"
            },
            "workflowMetadata": {
              "type": "object",
              "properties": {},
              "description": "workflowMetadata"
            },
            "summary": {
              "type": "string",
              "title": "Summary",
              "description": "Summary of the data in this request"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When a vocabulary key change is submitted for approval",
        "operationId": "RequestRACIVocabularyKeyApproval",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "callbackUrl"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Review requests for vocabulary key changes in CluedIn and return approval results with the ApprovalResponse connector action",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#when-a-vocabulary-key-change-is-submitted-for-approval"
        }
      }
    },
    "/{connectionId}/webhooks/6fb298be-bfc5-4d97-ba6a-66e4651578e5": {
      "x-ms-notification-content": {
        "description": "Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "properties": {
                "title": {
                  "type": "string",
                  "title": "Title"
                },
                "createdBy": {
                  "type": "string",
                  "title": "CreatedBy"
                },
                "objectId": {
                  "type": "string",
                  "title": "ObjectId"
                },
                "objectTypeId": {
                  "type": "string",
                  "title": "ObjectTypeId"
                },
                "changesMade": {
                  "properties": {},
                  "type": "object",
                  "title": "ChangesMade"
                },
                "changesMadeMarkdown": {
                  "type": "string",
                  "title": "ChangesMadeMarkdown"
                },
                "changesMadeHtml": {
                  "type": "string",
                  "title": "ChangesMadeHtml"
                },
                "owners": {
                  "type": "array",
                  "title": "Owners",
                  "items": {
                    "type": "object",
                    "title": "OwnerDetail",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Id"
                      },
                      "email": {
                        "type": "string",
                        "title": "Email"
                      }
                    }
                  }
                },
                "ownerEmails": {
                  "type": "string",
                  "title": "OwnerEmails"
                },
                "taskId": {
                  "type": "string",
                  "title": "TaskId"
                }
              },
              "type": "object"
            },
            "workflowMetadata": {
              "type": "object",
              "properties": {},
              "description": "workflowMetadata"
            },
            "summary": {
              "type": "string",
              "title": "Summary",
              "description": "Summary of the data in this request"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When a entity type change is submitted for approval",
        "operationId": "RequestRACIEntityTypeApproval",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "callbackUrl"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Review requests for entity type changes in CluedIn and return approval results with the ApprovalResponse connector action",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#when-a-entity-type-change-is-submitted-for-approval"
        }
      }
    },
    "/{connectionId}/webhooks/a021ce72-c00c-43f3-9a6a-c856e6f5b005": {
      "x-ms-notification-content": {
        "description": "Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "properties": {
                "title": {
                  "type": "string",
                  "title": "Title"
                },
                "createdBy": {
                  "type": "string",
                  "title": "CreatedBy"
                },
                "objectId": {
                  "type": "string",
                  "title": "ObjectId"
                },
                "objectTypeId": {
                  "type": "string",
                  "title": "ObjectTypeId"
                },
                "changesMade": {
                  "properties": {},
                  "type": "object",
                  "title": "ChangesMade"
                },
                "changesMadeMarkdown": {
                  "type": "string",
                  "title": "ChangesMadeMarkdown"
                },
                "changesMadeHtml": {
                  "type": "string",
                  "title": "ChangesMadeHtml"
                },
                "owners": {
                  "type": "array",
                  "title": "Owners",
                  "items": {
                    "type": "object",
                    "title": "OwnerDetail",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Id"
                      },
                      "email": {
                        "type": "string",
                        "title": "Email"
                      }
                    }
                  }
                },
                "ownerEmails": {
                  "type": "string",
                  "title": "OwnerEmails"
                },
                "taskId": {
                  "type": "string",
                  "title": "TaskId"
                }
              },
              "type": "object"
            },
            "workflowMetadata": {
              "type": "object",
              "properties": {},
              "description": "workflowMetadata"
            },
            "summary": {
              "type": "string",
              "title": "Summary",
              "description": "Summary of the data in this request"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When a user invite is submitted for approval",
        "operationId": "RequestRACIUserInviteApproval",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "callbackUrl"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Review requests for user invites in CluedIn and return approval results with the ApprovalResponse connector action",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#when-a-user-invite-is-submitted-for-approval"
        }
      }
    },
    "/{connectionId}/webhooks/af67f6ab-5ce6-4d04-8a16-6f90ecf9a502": {
      "x-ms-notification-content": {
        "description": "Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "properties": {
                "source": {
                  "type": "string",
                  "title": "Source"
                },
                "title": {
                  "type": "string",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "title": "Description"
                },
                "recipients": {
                  "type": "string",
                  "title": "Recipients"
                },
                "link": {
                  "type": "string",
                  "title": "Link"
                },
                "linkAction": {
                  "type": "string",
                  "title": "LinkAction"
                }
              },
              "type": "object"
            },
            "workflowMetadata": {
              "type": "object",
              "properties": {},
              "description": "workflowMetadata"
            },
            "summary": {
              "type": "string",
              "title": "Summary",
              "description": "Summary of the data in this request"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When a notification is published",
        "operationId": "Notification",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "callbackUrl"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Receive notifications as they arrive in CluedIn",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#when-a-notification-is-published"
        }
      }
    },
    "/{connectionId}/webhooks/4a1ff455-ce3e-47f3-a3cc-07dbdd3b2bdd": {
      "x-ms-notification-content": {
        "description": "Webhook",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "properties": {
                "id": {
                  "type": "string",
                  "title": "Id"
                },
                "name": {
                  "type": "string",
                  "title": "Name"
                },
                "records": {
                  "type": "string",
                  "title": "Records"
                },
                "status": {
                  "type": "string",
                  "title": "Status"
                }
              },
              "type": "object"
            },
            "workflowMetadata": {
              "type": "object",
              "properties": {},
              "description": "workflowMetadata"
            },
            "summary": {
              "type": "string",
              "title": "Summary",
              "description": "Summary of the data in this request"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When a stream is idle",
        "operationId": "StreamIdleEvent",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "",
                  "default": "callbackUrl"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "description": "Run a workflow when a stream is idle",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cluedin/#when-a-stream-is-idle"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/cluedin"
  }
}
