{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Power Automate for Admins",
    "description": "Power Automate Management Connector for Administrators",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/microsoftflowforadmins",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}": {
      "delete": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Remove Flow as Admin",
        "description": "Deletes a Flow.",
        "operationId": "Remove-AdminFlow",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "flow",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the flow.",
            "x-ms-summary": "Flow Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "Field API Version"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins/#remove-flow-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}/start": {
      "post": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Enable Flow as Admin",
        "description": "Enables a Flow.",
        "operationId": "Enable-AdminFlow",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Environment Name.",
            "x-ms-summary": "Name field of the Environment"
          },
          {
            "name": "flow",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the flow.",
            "x-ms-summary": "Flow Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "Field API Version"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins/#enable-flow-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}/stop": {
      "post": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Disable Flow as Admin",
        "description": "Disables a Flow.",
        "operationId": "Disable-AdminFlow",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "flow",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Flow.",
            "x-ms-summary": "Flow Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "Field API Version"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins/#disable-flow-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}/modifyPermissions": {
      "post": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Edit Flow Owner Role as Admin",
        "description": "Sets permissions for a Flow.",
        "operationId": "Edit-AdminFlowOwnerRole",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "flow",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the flow.",
            "x-ms-summary": "Flow Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "Field API Version"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Name Field of the Content-Type.",
            "x-ms-summary": "Field Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "delete": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Flow permission ID."
                      }
                    }
                  },
                  "description": "delete"
                },
                "put": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "properties": {
                          "principal": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "Flow permission principal email."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Flow permission principal displayName."
                              },
                              "id": {
                                "type": "string",
                                "description": "Flow permission principal object ID."
                              },
                              "type": {
                                "type": "string",
                                "description": "Flow permission principal type."
                              }
                            },
                            "description": "Flow permission principal object."
                          },
                          "roleName": {
                            "type": "string",
                            "description": "Flow permission property roleName."
                          }
                        },
                        "description": "Flow permission properties object."
                      }
                    }
                  },
                  "description": "Flow permission put array schema."
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins/#edit-flow-owner-role-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/flows/{flow}/permissions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Flow permission name field."
                      },
                      "id": {
                        "type": "string",
                        "description": "Flow permission ID field."
                      },
                      "type": {
                        "type": "string",
                        "description": "Flow permission type field."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "Flow permission property roleName."
                          },
                          "permissionType": {
                            "type": "string",
                            "description": "Flow permission property permission type."
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Flow permission principal object ID."
                              },
                              "type": {
                                "type": "string",
                                "description": "Flow permission principal type."
                              }
                            },
                            "description": "Flow permission principal object."
                          }
                        },
                        "description": "Flow permission properties object."
                      }
                    }
                  },
                  "description": "Flow permission value object array."
                }
              }
            }
          }
        },
        "summary": "Get Flow Owner Role as Admin",
        "description": "Returns permissions for a Flow.",
        "operationId": "Get-AdminFlowOwnerRole",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "flow",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the flow.",
            "x-ms-summary": "Flow Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "Field API Version"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins/#get-flow-owner-role-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/users/{userId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tenantId": {
                  "type": "string",
                  "description": "Flow user tenantId.",
                  "title": "Tenant ID"
                },
                "puid": {
                  "type": "string",
                  "description": "Flow user puid.",
                  "title": "PUID"
                },
                "objectId": {
                  "type": "string",
                  "description": "Flow user principal object ID.",
                  "title": "Object ID"
                },
                "isDisallowedForInternalPlans": {
                  "type": "boolean",
                  "description": "Flow user isDisallowedForInternalPlans.",
                  "title": "Is Disallowed for Internal Plans"
                },
                "consentTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Flow user consentTime.",
                  "title": "Consent Time"
                },
                "serviceSettingsSelectionTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Flow user serviceSettingsSelectionTime.",
                  "title": "Service Settings Selection Time"
                },
                "consentBusinessAppPlatformTime": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The Flow user's consentBusinessAppPlatformTime.",
                  "title": "Consent Business App Platform Time"
                }
              }
            }
          }
        },
        "summary": "Get Flow User Details",
        "description": "Returns the details of a specified user in the scope of Power Automate.",
        "operationId": "Get-AdminFlowUserDetails",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Flow user principal object ID.",
            "x-ms-summary": "Field userId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins/#get-flow-user-details"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Flow user principal object ID.",
            "x-ms-summary": "Field UserId"
          }
        ],
        "summary": "Remove Flow User Details",
        "description": "Deletes a Power Automate user details record.",
        "operationId": "Remove-AdminFlowUserDetails",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins/#remove-flow-user-details"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.ProcessSimple/scopes/admin/environments/{environment}/users/{userId}/approvals": {
      "delete": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Remove Flow Approval",
        "description": "Deletes Flow Approvals.",
        "operationId": "Remove-AdminFlowApproval",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Flow user principal object ID.",
            "x-ms-summary": "Field userId"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "Field API Version"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins/#remove-flow-approval"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "OAuth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://your.token.url/here",
      "flow": "accessCode",
      "scopes": {}
    }
  },
  "security": [
    {
      "OAuth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://admin.flow.microsoft.com/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/microsoftflowforadmins"
  }
}