{
  "swagger": "2.0",
  "info": {
    "title": "Peltarion AI",
    "description": "Using this connector, you can connect your app with your Peltarion models. Just add the connector and enter URL and token from the Peltarion platform, and send your data",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Peltarion",
      "url": "https://peltarion.com/",
      "email": "contact@peltarion.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/peltarion",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/forwardcall": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "key"
                },
                "val": {
                  "type": "string",
                  "description": "val"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          }
        },
        "summary": "Call Peltarion API",
        "description": "This function calls your model deployed on the Peltarion Platform.",
        "operationId": "callapi",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "peltarionbody",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Peltarion body",
            "x-ms-summary": "Call body in JSON format."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/peltarion/#call-peltarion-api"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://peltarion.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://peltarion.com/privacy-policies"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/peltarion"
  }
}
