{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Twitter",
    "description": "Twitter is an online social networking service that enables users to send and receive short messages called 'tweets'. Connect to Twitter to manage your tweets. You can perform various actions such as send tweet, search, view followers, etc.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/twitter",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/usertimeline": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "Get user timeline",
        "description": "This operation gets a list of the most recent tweets posted by a given user.",
        "operationId": "UserTimeline",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Twitter handle for the user.",
            "required": true,
            "x-ms-summary": "User name",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of tweets to return.",
            "required": false,
            "x-ms-summary": "Maximum results",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 20
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TweetModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#get-user-timeline"
        }
      }
    },
    "/{connectionId}/hometimeline": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "Get home timeline",
        "description": "This operation gets the most recent tweets and re-tweets posted by me and my followers.",
        "operationId": "HomeTimeline",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of tweets to return.",
            "required": false,
            "x-ms-summary": "Maximum results",
            "type": "integer",
            "format": "int32",
            "default": 20
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TweetModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#get-home-timeline"
        }
      }
    },
    "/{connectionId}/searchtweets": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "Search tweets",
        "description": "This operation gets a list of relevant tweets matching the search query.",
        "operationId": "SearchTweet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "searchQuery",
            "in": "query",
            "description": "Search term like \"happy hour\", #haiku, from:@username, love OR hate.",
            "required": true,
            "x-ms-summary": "Search text",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of tweets to return.",
            "required": false,
            "x-ms-summary": "Maximum results",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "sinceId",
            "in": "query",
            "description": "Return tweets after the specified tweet ID.",
            "required": false,
            "x-ms-summary": "sinceId",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TweetModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#search-tweets"
        }
      }
    },
    "/{connectionId}/followers": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "Get followers",
        "description": "This operation gets the list of users that follow a given user.",
        "operationId": "Followers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Twitter handle for the user.",
            "required": true,
            "x-ms-summary": "User name",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of users to return.",
            "required": false,
            "x-ms-summary": "Maximum results",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 20
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserDetailsModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#get-followers"
        }
      }
    },
    "/{connectionId}/myfollowers": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "Get my followers",
        "description": "This operation gets the list of users who are following me.",
        "operationId": "MyFollowers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of users to get.",
            "required": false,
            "x-ms-summary": "Maximum results",
            "type": "integer",
            "format": "int32",
            "default": 20
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserDetailsModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#get-my-followers"
        }
      }
    },
    "/{connectionId}/friends": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "Get following",
        "description": "The operation gets the list of people the given user follows.",
        "operationId": "Following",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Twitter handle for the user.",
            "required": true,
            "x-ms-summary": "User name",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of users to return.",
            "required": false,
            "x-ms-summary": "Maximum results",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 20
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserDetailsModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#get-following"
        }
      }
    },
    "/{connectionId}/myfriends": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "Get my following",
        "description": "This operation gets the list of users that I am following.",
        "operationId": "MyFollowing",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of users to return.",
            "required": false,
            "x-ms-summary": "Maximum results",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 20
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserDetailsModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#get-my-following"
        }
      }
    },
    "/{connectionId}/user": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "Get user",
        "description": "This operation gets the profile details for a given user, such as user name, description, followers count, and more.",
        "operationId": "User",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Twitter handle for the user.",
            "required": true,
            "x-ms-summary": "User name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserDetailsModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#get-user"
        }
      }
    },
    "/{connectionId}/posttweet": {
      "post": {
        "tags": [
          "Twitter"
        ],
        "summary": "Post a tweet",
        "description": "This operation posts a new tweet.",
        "operationId": "Tweet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tweetText",
            "in": "query",
            "description": "Text to be posted.",
            "required": false,
            "x-ms-summary": "Tweet text",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Media to be posted.",
            "required": false,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "Media",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TweetResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#post-a-tweet"
        }
      }
    },
    "/{connectionId}/retweet": {
      "post": {
        "tags": [
          "Twitter"
        ],
        "summary": "Retweet",
        "description": "This operation retweets a tweet.",
        "operationId": "Retweet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tweetId",
            "in": "query",
            "description": "Tweet to be retweeted.",
            "required": true,
            "x-ms-summary": "Tweet id",
            "type": "string"
          },
          {
            "name": "trimUser",
            "in": "query",
            "description": "Boolean to indicate whether to trim user information.",
            "required": false,
            "x-ms-summary": "Trim user",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TweetResponseModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#retweet"
        }
      }
    },
    "/{connectionId}/onnewtweet": {
      "get": {
        "tags": [
          "Twitter"
        ],
        "summary": "When a new tweet is posted",
        "description": "This operation triggers a flow when a new tweet that matches a given search query is posted.",
        "operationId": "OnNewTweet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "searchQuery",
            "in": "query",
            "description": "Search term like \"happy hour\", #haiku, from:@username, love OR hate.",
            "required": true,
            "x-ms-summary": "Search text",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerBatchResponse[TweetModel]"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new tweet.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/twitter/#when-a-new-tweet-is-posted"
        }
      }
    }
  },
  "definitions": {
    "TweetModel": {
      "description": "Represents a tweet post.",
      "required": [
        "TweetText",
        "RetweetCount",
        "TweetedBy"
      ],
      "type": "object",
      "properties": {
        "TweetText": {
          "description": "Text content of the tweet",
          "type": "string",
          "x-ms-summary": "Tweet text"
        },
        "TweetId": {
          "description": "Id of the tweet",
          "type": "string",
          "x-ms-summary": "Tweet id",
          "x-ms-visibility": "advanced"
        },
        "CreatedAt": {
          "description": "Time at which the tweet was posted",
          "type": "string",
          "x-ms-summary": "Created at",
          "x-ms-visibility": "internal"
        },
        "CreatedAtIso": {
          "description": "Time at which the tweet was posted",
          "type": "string",
          "x-ms-summary": "Created at",
          "x-ms-visibility": "advanced"
        },
        "RetweetCount": {
          "format": "int32",
          "description": "Total number of re-tweets for the tweet",
          "type": "integer",
          "x-ms-summary": "Retweet count"
        },
        "TweetedBy": {
          "description": "Name of the user who has posted the tweet",
          "type": "string",
          "x-ms-summary": "Tweeted by"
        },
        "MediaUrls": {
          "description": "Url of the media posted along with the tweet",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Media urls"
        },
        "TweetLanguageCode": {
          "description": "Language code of the tweet",
          "type": "string",
          "x-ms-summary": "Tweet language",
          "x-ms-visibility": "advanced"
        },
        "TweetInReplyToUserId": {
          "description": "User Id of the author of the tweet that the current tweet is a reply to",
          "type": "string",
          "x-ms-summary": "in_reply_to_user_id",
          "x-ms-visibility": "advanced"
        },
        "Favorited": {
          "description": "Indicates whether the tweet is marked as favorited or not",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "UserMentions": {
          "description": "List of users mentioned in the tweet",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserMentionsModel"
          },
          "x-ms-summary": "User mentions",
          "x-ms-visibility": "advanced"
        },
        "OriginalTweet": {
          "$ref": "#/definitions/OriginalTweetModel"
        },
        "UserDetails": {
          "$ref": "#/definitions/UserDetailsModel"
        }
      }
    },
    "UserMentionsModel": {
      "description": "Represents a user mentioned in a tweet.",
      "required": [
        "Id"
      ],
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "description": "Twitter id (handle) of the user",
          "type": "integer",
          "x-ms-summary": "Mentioned user id",
          "x-ms-visibility": "advanced"
        },
        "FullName": {
          "description": "Full name of the user",
          "type": "string",
          "x-ms-summary": "Mentioned user full name",
          "x-ms-visibility": "advanced"
        },
        "UserName": {
          "description": "Screen name of the user",
          "type": "string",
          "x-ms-summary": "Mentioned user name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "OriginalTweetModel": {
      "description": "Represents an original tweet post.",
      "required": [
        "TweetText",
        "RetweetCount",
        "TweetedBy"
      ],
      "type": "object",
      "properties": {
        "TweetText": {
          "description": "Text content of the original retrieved tweet",
          "type": "string",
          "x-ms-summary": "Original tweet text",
          "x-ms-visibility": "advanced"
        },
        "TweetId": {
          "description": "Id of the original tweet",
          "type": "string",
          "x-ms-summary": "Original tweet id",
          "x-ms-visibility": "advanced"
        },
        "CreatedAt": {
          "description": "Time at which original tweet was posted",
          "type": "string",
          "x-ms-summary": "Original tweet created at",
          "x-ms-visibility": "internal"
        },
        "CreatedAtIso": {
          "description": "Time at which original tweet was posted",
          "type": "string",
          "x-ms-summary": "Original tweet created at",
          "x-ms-visibility": "advanced"
        },
        "RetweetCount": {
          "format": "int32",
          "description": "Total number of re-tweets for this original tweet",
          "type": "integer",
          "x-ms-summary": "Original tweet retweet count",
          "x-ms-visibility": "advanced"
        },
        "TweetedBy": {
          "description": "User name of the person who posted the original tweet",
          "type": "string",
          "x-ms-summary": "Original tweet tweeted by",
          "x-ms-visibility": "advanced"
        },
        "MediaUrls": {
          "description": "Url of the media posted along with the original tweet",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Original tweet media urls",
          "x-ms-visibility": "advanced"
        },
        "TweetLanguageCode": {
          "description": "Language code for the original tweet",
          "type": "string",
          "x-ms-summary": "Original tweet language",
          "x-ms-visibility": "advanced"
        },
        "TweetInReplyToUserId": {
          "description": "User Id of the author of the tweet that the current original tweet is a reply to",
          "type": "string",
          "x-ms-summary": "Original tweet in_reply_to_user_id",
          "x-ms-visibility": "advanced"
        },
        "Favorited": {
          "description": "Indicates whether the original tweet is marked as favorited",
          "type": "boolean",
          "x-ms-summary": "Original tweet favorited",
          "x-ms-visibility": "advanced"
        },
        "UserMentions": {
          "description": "The list of user mentioned in the tweet",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OriginalTweetUserMentionsModel"
          },
          "x-ms-summary": "Original tweet user mentions",
          "x-ms-visibility": "advanced"
        },
        "UserDetails": {
          "$ref": "#/definitions/OriginalTweetUserDetailsModel"
        }
      }
    },
    "UserDetailsModel": {
      "description": "Represents a user.",
      "required": [
        "FullName",
        "Location",
        "UserName",
        "Description"
      ],
      "type": "object",
      "properties": {
        "FullName": {
          "description": "Name of the user",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "Location": {
          "description": "Location of the user",
          "type": "string",
          "x-ms-summary": "Location"
        },
        "Id": {
          "format": "int64",
          "description": "Twitter id (handle) of the user",
          "type": "integer",
          "x-ms-summary": "User id",
          "x-ms-visibility": "advanced"
        },
        "UserName": {
          "description": "Screen name of the user",
          "type": "string",
          "x-ms-summary": "User name"
        },
        "FollowersCount": {
          "format": "int64",
          "description": "Number of followers",
          "type": "integer",
          "x-ms-summary": "Followers count",
          "x-ms-visibility": "advanced"
        },
        "Description": {
          "description": "User description",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "StatusesCount": {
          "format": "int64",
          "description": "User status count",
          "type": "integer",
          "x-ms-summary": "Statuses count",
          "x-ms-visibility": "advanced"
        },
        "FriendsCount": {
          "format": "int64",
          "description": "Number of friends",
          "type": "integer",
          "x-ms-summary": "Friends count",
          "x-ms-visibility": "advanced"
        },
        "FavouritesCount": {
          "format": "int64",
          "description": "Number of tweets that the user has favorited",
          "type": "integer",
          "x-ms-summary": "Favourites count",
          "x-ms-visibility": "advanced"
        },
        "ProfileImageUrl": {
          "description": "Url of the profile image",
          "type": "string",
          "x-ms-summary": "Profile image url",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "OriginalTweetUserMentionsModel": {
      "description": "Represents a user mentioned in an original tweet.",
      "required": [
        "Id"
      ],
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "description": "Twitter id (handle) of the user",
          "type": "integer",
          "x-ms-summary": "Original tweet mentioned user id",
          "x-ms-visibility": "advanced"
        },
        "FullName": {
          "description": "Full name of the user",
          "type": "string",
          "x-ms-summary": "Original tweet mentioned user full name",
          "x-ms-visibility": "advanced"
        },
        "UserName": {
          "description": "Screen name of the user",
          "type": "string",
          "x-ms-summary": "Original tweet mentioned user name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "OriginalTweetUserDetailsModel": {
      "description": "Represents a user who posted an original tweet",
      "required": [
        "FullName",
        "Location",
        "UserName",
        "Description"
      ],
      "type": "object",
      "properties": {
        "FullName": {
          "description": "Name of the user",
          "type": "string",
          "x-ms-summary": "Original tweet user full name",
          "x-ms-visibility": "advanced"
        },
        "Location": {
          "description": "Location of the user",
          "type": "string",
          "x-ms-summary": "Original tweet user Location",
          "x-ms-visibility": "advanced"
        },
        "Id": {
          "format": "int64",
          "description": "Twitter id (handle) of the user",
          "type": "integer",
          "x-ms-summary": "Original tweet user id",
          "x-ms-visibility": "advanced"
        },
        "UserName": {
          "description": "Screen name of the user",
          "type": "string",
          "x-ms-summary": "Original tweet user name",
          "x-ms-visibility": "advanced"
        },
        "FollowersCount": {
          "format": "int64",
          "description": "Number of followers",
          "type": "integer",
          "x-ms-summary": "Original tweet user followers count",
          "x-ms-visibility": "advanced"
        },
        "Description": {
          "description": "User description",
          "type": "string",
          "x-ms-summary": "Original tweet user Description",
          "x-ms-visibility": "advanced"
        },
        "StatusesCount": {
          "format": "int64",
          "description": "User status count",
          "type": "integer",
          "x-ms-summary": "Original tweet user statuses count",
          "x-ms-visibility": "advanced"
        },
        "FriendsCount": {
          "format": "int64",
          "description": "Number of friends",
          "type": "integer",
          "x-ms-summary": "Original tweet user friends count",
          "x-ms-visibility": "advanced"
        },
        "FavouritesCount": {
          "format": "int64",
          "description": "Number of tweets that the user has favorited",
          "type": "integer",
          "x-ms-summary": "Original tweet user favourites count",
          "x-ms-visibility": "advanced"
        },
        "ProfileImageUrl": {
          "description": "Url of the profile image",
          "type": "string",
          "x-ms-summary": "Original tweet user profile image url",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TweetResponseModel": {
      "description": "Represents the response of a tweet post.",
      "required": [
        "TweetId"
      ],
      "type": "object",
      "properties": {
        "TweetId": {
          "description": "ID of the tweet posted",
          "type": "string",
          "x-ms-summary": "Tweet id"
        }
      }
    },
    "TriggerBatchResponse[TweetModel]": {
      "description": "Represents a wrapper object for batch trigger response",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of the response objects",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TweetModel"
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://twitter.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://twitter.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/twitter"
  }
}