{
  "swagger": "2.0",
  "info": {
    "title": "OQSHA",
    "description": "Automate ticket creation on OQSHA directly from D365 case entity. This connector eliminates manual data entry and ensures consistent ticket management across both systems.",
    "version": "1.0",
    "contact": {
      "name": "OQSHA Support",
      "url": "https://oqsha.com/",
      "email": "contact@oqsha.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/oqsha",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/Organisations/3/Incidents": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateIncidentResponse"
            }
          }
        },
        "summary": "Create Incident",
        "operationId": "CreateIncident",
        "description": "This action lets you create Incident tickets on OQSHA.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "x-ms-summary": "Content Type",
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Content type"
          },
          {
            "x-ms-summary": "Access Token",
            "name": "Access-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Access token"
          },
          {
            "x-ms-summary": "Body",
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Location": {
                  "type": "string",
                  "description": "Enter incident location name"
                },
                "LocationId": {
                  "type": "string",
                  "description": "Enter location id"
                },
                "Latitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Enter latitude",
                  "title": ""
                },
                "Longitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Enter logtitude",
                  "title": ""
                },
                "DivisionId": {
                  "type": "string",
                  "description": "Enter division id"
                },
                "UserId": {
                  "type": "string",
                  "description": "Enter user id"
                },
                "AnonymouslyReported": {
                  "type": "boolean",
                  "description": "Is anonymously reported?",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ]
                },
                "CheckListData": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "checkListId": {
                        "type": "string",
                        "description": "Checklist id"
                      },
                      "Answer": {
                        "type": "string",
                        "description": "Answer"
                      }
                    }
                  },
                  "description": "Checklist data"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/oqsha/#create-incident"
        }
      }
    },
    "/{connectionId}/App/Login": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        },
        "summary": "Login",
        "description": "This action generates authentication token to create OQSHA tickets.",
        "operationId": "Login",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "x-ms-summary": "Content Type",
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Content type"
          },
          {
            "x-ms-summary": "Body",
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "UserUid": {
                  "type": "string",
                  "description": "Enter user UID",
                  "x-ms-visibility": "important"
                },
                "AppPassword": {
                  "type": "string",
                  "description": "Enter app password",
                  "x-ms-visibility": "important"
                },
                "acceptConditions": {
                  "type": "boolean",
                  "description": "Accept conditions"
                },
                "IsOqsha": {
                  "type": "boolean",
                  "description": "Is OQSHA?"
                }
              }
            },
            "description": "Body"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/oqsha/#login"
        }
      }
    }
  },
  "definitions": {
    "CreateIncidentResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "string"
        },
        "Data": {
          "type": "object",
          "properties": {
            "Incident": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32"
                },
                "UserId": {
                  "type": "integer",
                  "format": "int32"
                },
                "ImageCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "VideoCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "AudioCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "FileCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "Location": {
                  "type": "string"
                },
                "OrganisationId": {
                  "type": "integer",
                  "format": "int32"
                },
                "Latitude": {
                  "type": "number",
                  "format": "float"
                },
                "Longitude": {
                  "type": "number",
                  "format": "float"
                },
                "IncidentUid": {
                  "type": "string"
                },
                "IncidentDescription": {
                  "type": "string"
                },
                "DivisionId": {
                  "type": "integer",
                  "format": "int32"
                },
                "AnonymouslyReported": {
                  "type": "boolean"
                },
                "OwnerId": {
                  "type": "integer",
                  "format": "int32"
                },
                "LocationId": {
                  "type": "integer",
                  "format": "int32"
                },
                "IncidentCreatedOn": {
                  "type": "string"
                },
                "Status": {
                  "type": "string"
                },
                "CreatedOn": {
                  "type": "string"
                },
                "ModifiedOn": {
                  "type": "string"
                },
                "CanEscalated": {
                  "type": "boolean"
                },
                "EscalateCronType": {
                  "type": "integer",
                  "format": "int32"
                },
                "IncidentStatus": {
                  "type": "string"
                },
                "CheckListId": {
                  "type": "integer",
                  "format": "int32"
                },
                "ResolveSimilarIncidents": {
                  "type": "boolean"
                },
                "CronId": {
                  "type": "integer",
                  "format": "int32"
                },
                "RetryCount": {
                  "type": "integer",
                  "format": "int32"
                },
                "CronStatus": {
                  "type": "integer",
                  "format": "int32"
                },
                "OrgOwnerId": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "LoginResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "type": "string"
        },
        "Data": {
          "type": "object",
          "properties": {
            "Login": {
              "type": "object",
              "properties": {
                "UserId": {
                  "type": "integer",
                  "format": "int32"
                },
                "Token": {
                  "type": "string"
                },
                "DisplayName": {
                  "type": "string"
                },
                "OrganisationId": {
                  "type": "integer",
                  "format": "int32"
                },
                "IsFieldStaff": {
                  "type": "boolean"
                },
                "IsOwner": {
                  "type": "boolean"
                },
                "IncidentSites": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Latitude": {
                        "type": "number",
                        "format": "float"
                      },
                      "LocationAddress": {
                        "type": "string"
                      },
                      "LocationName": {
                        "type": "string"
                      },
                      "OrganisationId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Longitude": {
                        "type": "number",
                        "format": "float"
                      },
                      "ZoomLevel": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "AllowSiteAllUsers": {
                        "type": "integer",
                        "format": "int32"
                      }
                    },
                    "required": [
                      "Id",
                      "Latitude",
                      "LocationAddress",
                      "LocationName",
                      "OrganisationId",
                      "Longitude",
                      "ZoomLevel",
                      "AllowSiteAllUsers"
                    ]
                  }
                },
                "ShowAllIncidents": {
                  "type": "boolean"
                }
              }
            },
            "Package": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32"
                },
                "PackageName": {
                  "type": "string"
                },
                "PricePerMonthUSD": {
                  "type": "number",
                  "format": "float"
                },
                "PricePerMonthINR": {
                  "type": "number",
                  "format": "float"
                },
                "IsExpired": {
                  "type": "boolean"
                },
                "Features": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "PackageId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "FeatureName": {
                        "type": "string"
                      },
                      "FeatureThreshold": {
                        "type": "string"
                      },
                      "Enabled": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "Id",
                      "PackageId",
                      "FeatureName",
                      "Enabled"
                    ]
                  }
                },
                "HighestPackageId": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://oqsha.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://oqsha.com/privacy-policy-OQSHA.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/oqsha"
  }
}
