{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Workday HCM",
    "description": "Workday HCM contains operations that expose Workday Human Capital Management Business Services data, including Employee, Contingent Worker and Organization information.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/Add_or_Update_Address_Information": {
      "post": {
        "summary": "Add or Update Address Information",
        "description": "Creates or updates address information for a person.",
        "operationId": "Add_or_Update_Address_Information",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "add_or_Update_Address_Information_for_Person_Event_Request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Address_Information_for_Person_Event_Request"
            },
            "description": "Add_or_Update_Address_Information_for_Person_Event_RequestInputMsg"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Add_or_Update_Contact_Information_for_Person_Event_ResponseOutputMsg",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Contact_Information_for_Person_Event_Response"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#add-or-update-address-information"
        }
      }
    },
    "/{connectionId}/Add_or_Update_Phone_Information": {
      "post": {
        "summary": "Add or Update Phone Information",
        "description": "Creates or updates phone information for a person.",
        "operationId": "Add_or_Update_Phone_Information",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "add_or_Update_Phone_Information_for_Person_Event_Request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Phone_Information_for_Person_Event_Request"
            },
            "description": "Add_or_Update_Phone_Information_for_Person_Event_RequestInputMsg"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Add_or_Update_Contact_Information_for_Person_Event_ResponseOutputMsg",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Contact_Information_for_Person_Event_Response"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#add-or-update-phone-information"
        }
      }
    },
    "/{connectionId}/Add_or_Update_Email_Address_Information": {
      "post": {
        "summary": "Add or Update Email Address Information",
        "description": "Creates or updates email address information for a person.",
        "operationId": "Add_or_Update_Email_Address_Information",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "add_or_Update_Email_Address_Information_for_Person_Event_Request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Email_Address_Information_for_Person_Event_Request"
            },
            "description": "Add_or_Update_Email_Address_Information_for_Person_Event_RequestInputMsg"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Add_or_Update_Contact_Information_for_Person_Event_ResponseOutputMsg",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Contact_Information_for_Person_Event_Response"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#add-or-update-email-address-information"
        }
      }
    },
    "/{connectionId}/Add_or_Update_Instant_Messenger_Information": {
      "post": {
        "summary": "Add or Update Instant Messenger Information",
        "description": "Creates or updates instant messenger information for a person.",
        "operationId": "Add_or_Update_Instant_Messenger_Information",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "add_or_Update_Instant_Messenger_Information_for_Person_Event_Request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Instant_Messenger_Information_for_Person_Event_Request"
            },
            "description": "Add_or_Update_Instant_Messenger_Information_for_Person_Event_RequestInputMsg"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Add_or_Update_Contact_Information_for_Person_Event_ResponseOutputMsg",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Contact_Information_for_Person_Event_Response"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#add-or-update-instant-messenger-information"
        }
      }
    },
    "/{connectionId}/Add_or_Update_Web_Address_Information": {
      "post": {
        "summary": "Add or Update Web Address Information",
        "description": "Creates or updates web address information for a person.",
        "operationId": "Add_or_Update_Web_Address_Information",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "add_or_Update_Web_Address_Information_for_Person_Event_Request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Web_Address_Information_for_Person_Event_Request"
            },
            "description": "Add_or_Update_Web_Address_Information_for_Person_Event_RequestInputMsg"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Add_or_Update_Contact_Information_for_Person_Event_ResponseOutputMsg",
            "schema": {
              "$ref": "#/definitions/Add_or_Update_Contact_Information_for_Person_Event_Response"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#add-or-update-web-address-information"
        }
      }
    },
    "/{connectionId}/Get_Employee_Personal_Info": {
      "get": {
        "summary": "Get Employee Personal Info",
        "description": "This operation retrieves data related to an Employee and his/her Personal (e.g. Biographic, Demographic, etc.) information.",
        "operationId": "Get_Employee_Personal_Info",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "SystemIDType",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "Employee ID",
            "enum": [
              "Employee ID",
              "Workday ID"
            ],
            "x-ms-summary": "System ID Type",
            "description": "The type of system ID to use, either Employee ID or Workday ID.",
            "x-ms-test-value": "Employee ID"
          },
          {
            "name": "SystemID",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "System ID",
            "description": "The integration system identifier, part of a key that uniquely identify integratable object.",
            "x-ms-test-value": "21040"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Employee_Personal_InfoOutputMsg",
            "schema": {
              "$ref": "#/definitions/Employee_Personal_Info"
            }
          }
        },
        "x-ms-visibility": "important",
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#get-employee-personal-info"
        }
      }
    },
    "/{connectionId}/Get_Employee_Identity_Info": {
      "get": {
        "summary": "Get Employee Identity Info",
        "description": "This operation retrieves data related to an Employee identity (e.g. Government IDs, Visas, Passports, etc.) information.",
        "operationId": "Get_Employee_Identity_Info",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "SystemIDType",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "Employee ID",
            "enum": [
              "Employee ID",
              "Workday ID"
            ],
            "x-ms-summary": "System ID Type",
            "description": "The type of system ID to use, either Employee ID or Workday ID.",
            "x-ms-test-value": "Employee ID"
          },
          {
            "name": "SystemID",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "System ID",
            "description": "The integration system identifier, part of a key that uniquely identify integratable object.",
            "x-ms-test-value": "21040"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Employee_Identity_InfoOutputMsg",
            "schema": {
              "$ref": "#/definitions/Employee_Identity_Info"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#get-employee-identity-info"
        }
      }
    },
    "/{connectionId}/Get_Employee_Qualification_Info": {
      "get": {
        "summary": "Get Employee Qualification Info",
        "description": "This operation retrieves data related to an Employee education and professional qualification information.",
        "operationId": "Get_Employee_Qualification_Info",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "SystemIDType",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "Employee ID",
            "enum": [
              "Employee ID",
              "Workday ID"
            ],
            "x-ms-summary": "System ID Type",
            "description": "The type of system ID to use, either Employee ID or Workday ID.",
            "x-ms-test-value": "Employee ID"
          },
          {
            "name": "SystemID",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "System ID",
            "description": "The integration system identifier, part of a key that uniquely identify integratable object.",
            "x-ms-test-value": "21040"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Employee_Qualification_InfoOutputMsg",
            "schema": {
              "$ref": "#/definitions/Employee_Qualification_Info"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#get-employee-qualification-info"
        }
      }
    },
    "/{connectionId}/Get_Employee_Employment_Info": {
      "get": {
        "summary": "Get Employee Employment Info",
        "description": "This operation retrieves data related to an Employee and his/her Employment (e.g. Position, Job, Status, etc.) information.",
        "operationId": "Get_Employee_Employment_Info",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "SystemIDType",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "Employee ID",
            "enum": [
              "Employee ID",
              "Workday ID"
            ],
            "x-ms-summary": "System ID Type",
            "description": "The type of system ID to use, either Employee ID or Workday ID.",
            "x-ms-test-value": "Employee ID"
          },
          {
            "name": "SystemID",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "System ID",
            "description": "The integration system identifier, part of a key that uniquely identify integratable object.",
            "x-ms-test-value": "21040"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Employee_Employment_InfoOutputMsg",
            "schema": {
              "$ref": "#/definitions/Employee_Employment_Info"
            }
          }
        },
        "x-ms-visibility": "important",
        "produces": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#get-employee-employment-info"
        }
      }
    },
    "/{connectionId}/SOAP_Operation": {
      "post": {
        "summary": "SOAP Operation",
        "description": "Performs a SOAP operation",
        "operationId": "SOAP_Operation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SOAP Request Body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "SOAP Request Body"
          }
        ],
        "consumes": [
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "type": "string",
              "format": "binary",
              "description": "SOAP Response Body",
              "x-ms-summary": "SOAP Response Body"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-no-generic-test": true,
        "produces": [
          "application/xml"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#soap-operation"
        }
      }
    },
    "/{connectionId}/When_an_Employee_is_Added_or_Updated": {
      "get": {
        "summary": "When an employee is added or updated",
        "description": "This event is raised when an employee is added or updated.",
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, add or update an employee in your Workday instance.",
        "operationId": "When_an_Employee_is_Added_or_Updated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dateCriteria",
            "in": "query",
            "description": "Specify whether to use effective date or updated date for employee events.",
            "type": "string",
            "required": true,
            "default": "Updated Date",
            "enum": [
              "Effective Date",
              "Updated Date"
            ],
            "x-ms-summary": "Date Criteria",
            "x-ms-test-value": "Updated Date"
          },
          {
            "name": "businessProcessType",
            "in": "query",
            "description": "Filter employee events based on the business process type.",
            "type": "string",
            "required": false,
            "enum": [
              "Hire Employee",
              "Terminate Employee"
            ],
            "x-ms-summary": "Business Process Type",
            "x-ms-test-value": "Hire Employee"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Employee_Info"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/workdayhcm/#when-an-employee-is-added-or-updated"
        }
      }
    }
  },
  "definitions": {
    "Employee_Info": {
      "type": "object",
      "properties": {
        "Workers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "Worker_Data": {
                "type": "object",
                "properties": {
                  "Worker_ID": {
                    "type": "integer",
                    "x-ms-summary": "Worker ID"
                  }
                }
              }
            }
          }
        }
      }
    },
    "Employee_Personal_Info": {
      "type": "object",
      "properties": {
        "employee_Personal_Info": {
          "type": "object",
          "properties": {
            "employee_Personal_Info_Data": {
              "type": "object",
              "properties": {
                "personal_Info_Data": {
                  "type": "object",
                  "properties": {
                    "business_Title": {
                      "type": "string",
                      "title": "Business Title"
                    },
                    "person_Data": {
                      "type": "object",
                      "properties": {
                        "name_Data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "country_Reference": {
                                "type": "object",
                                "properties": {
                                  "country_ISO_Code": {
                                    "type": "string",
                                    "title": "Person Country ISO Code"
                                  }
                                }
                              },
                              "first_Name": {
                                "type": "string",
                                "title": "Person First Name"
                              },
                              "middle_Name": {
                                "type": "string",
                                "title": "Person Middle Name"
                              },
                              "last_Name": {
                                "type": "string",
                                "title": "Person Last Name"
                              }
                            }
                          }
                        },
                        "contact_Data": {
                          "type": "object",
                          "properties": {
                            "internet_Email_Address_Data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "email_Address": {
                                    "type": "string",
                                    "title": "Email Address"
                                  },
                                  "usage_Data": {
                                    "$ref": "#/definitions/Communication_Method_Usage_Information_Data"
                                  }
                                }
                              }
                            },
                            "phone_Data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "phone_Information_Data": {
                                    "$ref": "#/definitions/Phone_Information_Data"
                                  }
                                }
                              }
                            },
                            "address_Data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "address_Information_Data": {
                                    "$ref": "#/definitions/Address_Information_Data"
                                  }
                                }
                              }
                            },
                            "instant_Messenger_Data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "instant_Messenger_Information_Data": {
                                    "$ref": "#/definitions/Instant_Messenger_Information_Data"
                                  }
                                }
                              }
                            },
                            "web_Address_Data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "web_Address_Information_Data": {
                                    "$ref": "#/definitions/Web_Address_Information_Data"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "demographic_Data": {
                          "type": "object",
                          "properties": {
                            "marital_Status_Reference": {
                              "type": "object",
                              "properties": {
                                "marital_Status_Description": {
                                  "type": "string",
                                  "title": "Marital Status Description"
                                }
                              }
                            },
                            "hispanic_or_Latino": {
                              "type": "boolean",
                              "title": "Hispanic or Latino"
                            },
                            "ethnicity_Reference": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "ethnicity_Name": {
                                    "type": "string",
                                    "title": "Ethnicity Name"
                                  }
                                }
                              }
                            },
                            "citizenship_Status_Reference": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "citizenship_Status_Description": {
                                    "type": "string",
                                    "title": "Citizenship Status Description"
                                  },
                                  "country_Reference": {
                                    "type": "object",
                                    "properties": {
                                      "country_ISO_Code": {
                                        "type": "string",
                                        "title": "Citizenship Country ISO Code"
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "nationality_Reference": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "CountryIDType": {
                                    "type": "string",
                                    "title": "Nationality Country ID Type"
                                  },
                                  "CountryID": {
                                    "type": "string",
                                    "title": "Nationality Country ID"
                                  }
                                }
                              }
                            },
                            "personnel_File_Agency": {
                              "type": "string",
                              "title": "Personnel File Agency"
                            },
                            "military_Service_Data": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "military_Status_Reference": {
                                    "type": "object",
                                    "properties": {
                                      "military_Status_Name": {
                                        "type": "string",
                                        "title": "Military Status Name"
                                      },
                                      "country_Reference": {
                                        "type": "object",
                                        "properties": {
                                          "country_ISO_Code": {
                                            "type": "string",
                                            "title": "Military Status Country ISO Code"
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "military_Discharge_Date": {
                                    "type": "string",
                                    "format": "date",
                                    "title": "Military Discharge Date"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "biographic_Data": {
                          "type": "object",
                          "properties": {
                            "country_Of_Birth_Reference": {
                              "type": "object",
                              "properties": {
                                "country_Reference": {
                                  "type": "object",
                                  "properties": {
                                    "country_ISO_Code": {
                                      "type": "string",
                                      "title": "Country of Birth ISO Code"
                                    }
                                  }
                                }
                              }
                            },
                            "place_Of_Birth": {
                              "type": "string",
                              "title": "Place of Birth"
                            },
                            "date_Of_Birth": {
                              "type": "string",
                              "format": "date",
                              "title": "Date of Birth"
                            },
                            "gender_Reference": {
                              "type": "object",
                              "properties": {
                                "gender_Description": {
                                  "type": "string",
                                  "title": "Gender Description"
                                }
                              }
                            },
                            "disability_Reference": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "disability_Name": {
                                    "type": "string",
                                    "title": "Disability Name"
                                  }
                                }
                              }
                            },
                            "uses_Tobacco": {
                              "type": "boolean",
                              "title": "Uses Tobacco"
                            }
                          }
                        },
                        "personal_Preferences_Data": {
                          "type": "object",
                          "properties": {
                            "receive_Email_Notifications": {
                              "type": "boolean",
                              "title": "Receive Email Notifications Preference"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Employee_Identity_Info": {
      "type": "object",
      "properties": {
        "employee_Personal_Info": {
          "type": "object",
          "properties": {
            "employee_Personal_Info_Data": {
              "type": "object",
              "properties": {
                "personal_Info_Data": {
                  "type": "object",
                  "properties": {
                    "person_Data": {
                      "type": "object",
                      "properties": {
                        "visa_ID_Data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "visa_ID": {
                                "type": "string",
                                "title": "Visa ID"
                              },
                              "visa_Type_Reference": {
                                "type": "object",
                                "properties": {
                                  "visa_Type_Name": {
                                    "type": "string",
                                    "title": "Visa Type Name"
                                  }
                                }
                              },
                              "country_Reference": {
                                "type": "object",
                                "properties": {
                                  "country_ISO_Code": {
                                    "type": "string",
                                    "title": "Visa Country ISO Code"
                                  }
                                }
                              },
                              "issued_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Visa Issued Date"
                              },
                              "expiration_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Visa Expiration Date"
                              },
                              "verification_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Visa Verification Date"
                              }
                            }
                          }
                        },
                        "custom_ID_Data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "custom_ID": {
                                "type": "string",
                                "title": "Custom ID"
                              },
                              "custom_ID_Type_Reference": {
                                "type": "object",
                                "properties": {
                                  "custom_ID_Type_Name": {
                                    "type": "string",
                                    "title": "Custom ID Type Name"
                                  }
                                }
                              },
                              "issued_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Custom ID Issued Date"
                              },
                              "expiration_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Custom ID Expiration Date"
                              }
                            }
                          }
                        },
                        "government_ID_Data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "government_ID": {
                                "type": "string",
                                "title": "Government ID"
                              },
                              "government_ID_Type_Reference": {
                                "type": "object",
                                "properties": {
                                  "government_ID_Type_Name": {
                                    "type": "string",
                                    "title": "Government ID Type Name"
                                  }
                                }
                              },
                              "country_Reference": {
                                "type": "object",
                                "properties": {
                                  "country_ISO_Code": {
                                    "type": "string",
                                    "title": "Government ID Country ISO Code"
                                  }
                                }
                              },
                              "issued_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Government ID Issued Date"
                              },
                              "expiration_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Government ID Expiration Date"
                              },
                              "verification_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Government ID Verification Date"
                              }
                            }
                          }
                        },
                        "license_ID_Data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "license_ID": {
                                "type": "string",
                                "title": "License ID"
                              },
                              "license_Type_Reference": {
                                "type": "object",
                                "properties": {
                                  "license_Type_Name": {
                                    "type": "string",
                                    "title": "License Type Name"
                                  }
                                }
                              },
                              "license_Class": {
                                "type": "string",
                                "title": "License Class"
                              },
                              "issued_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "License Issued Date"
                              },
                              "expiration_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "License Expiration Date"
                              },
                              "verification_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "License Verification Date"
                              }
                            }
                          }
                        },
                        "passport_ID_Data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "passport_Number": {
                                "type": "string",
                                "title": "Passport Number"
                              },
                              "passport_Type_Reference": {
                                "type": "object",
                                "properties": {
                                  "passport_Type_Name": {
                                    "type": "string",
                                    "title": "Passport Type Name"
                                  }
                                }
                              },
                              "country_Reference": {
                                "type": "object",
                                "properties": {
                                  "country_ISO_Code": {
                                    "type": "string",
                                    "title": "Passport Country ISO Code"
                                  }
                                }
                              },
                              "issued_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Passport Issued Date"
                              },
                              "expiration_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Passport Expiration Date"
                              },
                              "verification_Date": {
                                "type": "string",
                                "format": "date",
                                "title": "Passport Verification Date"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Employee_Qualification_Info": {
      "type": "object",
      "properties": {
        "employee_Personal_Info": {
          "type": "object",
          "properties": {
            "employee_Personal_Info_Data": {
              "type": "object",
              "properties": {
                "personal_Info_Data": {
                  "type": "object",
                  "properties": {
                    "qualification_Data": {
                      "type": "object",
                      "properties": {
                        "education_Data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "education_Institution": {
                                "type": "string",
                                "title": "Education Institution"
                              },
                              "educational_Institution_Type_Reference": {
                                "type": "object",
                                "properties": {
                                  "institution_Type_Name": {
                                    "type": "string",
                                    "title": "Education Institution Type Name"
                                  }
                                }
                              },
                              "degree_Reference": {
                                "type": "object",
                                "properties": {
                                  "degree_Name": {
                                    "type": "string",
                                    "title": "Degree Name"
                                  }
                                }
                              },
                              "field_Of_Study_Reference": {
                                "type": "object",
                                "properties": {
                                  "field_Of_Study_Name": {
                                    "type": "string",
                                    "title": "Field of Study Name"
                                  }
                                }
                              },
                              "education_Institution_Location": {
                                "type": "string",
                                "title": "Education Institution Location"
                              },
                              "education_Grade_Average": {
                                "type": "string",
                                "title": "Education Grade Average"
                              },
                              "first_Year_Attended": {
                                "type": "string",
                                "format": "date",
                                "title": "First Year Attended"
                              },
                              "last_Year_Attended": {
                                "type": "string",
                                "format": "date",
                                "title": "Last Year Attended"
                              }
                            }
                          }
                        },
                        "professional_Experience_Data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "professional_Experience": {
                                "type": "string",
                                "title": "Professional Experience"
                              },
                              "professional_Experience_Rating_Reference": {
                                "type": "object",
                                "properties": {
                                  "rating_Description": {
                                    "type": "string",
                                    "title": "Rating Description"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Employee_Employment_Info": {
      "type": "object",
      "properties": {
        "employee_Employment_Info": {
          "type": "object",
          "properties": {
            "employee_Employment_Info_Data": {
              "type": "object",
              "properties": {
                "worker_Status_Data": {
                  "type": "object",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "title": "IsActive"
                    },
                    "hire_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Hire Date"
                    },
                    "original_Hire_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Original Hire Date"
                    },
                    "end_Employment_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "End Employment Date"
                    },
                    "hire_Reason": {
                      "type": "string",
                      "title": "Hire Reason"
                    },
                    "continuous_Service_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Continuous Service Date"
                    },
                    "first_Day_of_Work": {
                      "type": "string",
                      "format": "date",
                      "title": "First Day of Work"
                    },
                    "expected_Retirement_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Expected Retirement Date"
                    },
                    "retirement_Eligibility_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Retirement Eligibility Date"
                    },
                    "retired": {
                      "type": "boolean",
                      "title": "IsRetired"
                    },
                    "retirement_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Retirement Date"
                    },
                    "seniority_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Seniority Date"
                    },
                    "severance_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Severance Date"
                    },
                    "benefits_Service_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Benefits Service Date"
                    },
                    "company_Service_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Company Service Date"
                    },
                    "time_Off_Service_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Time Off Service Date"
                    },
                    "vesting_Date": {
                      "type": "string",
                      "format": "date",
                      "title": "Vesting Date"
                    },
                    "date_Entered_Workforce": {
                      "type": "string",
                      "format": "date",
                      "title": "Date Entered Workforce"
                    },
                    "days_Unemployed": {
                      "type": "number",
                      "title": "Days Unemployed"
                    },
                    "months_Continuous_Prior_Employment": {
                      "type": "number",
                      "title": "Months Continuous Prior Employment"
                    },
                    "leave_Status_Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "on_Leave": {
                            "type": "boolean",
                            "title": "On Leave"
                          },
                          "leave_Start_Date": {
                            "type": "string",
                            "format": "date",
                            "title": "Leave Start Date"
                          },
                          "estimated_Leave_End_Date": {
                            "type": "string",
                            "format": "date",
                            "title": "Estimated Leave End Date"
                          },
                          "leave_End_Date": {
                            "type": "string",
                            "format": "date",
                            "title": "Leave End Date"
                          },
                          "first_Day_Of_Work": {
                            "type": "string",
                            "format": "date",
                            "title": "First Day Of Work"
                          },
                          "leave_of_Absence_Type_Reference": {
                            "type": "object",
                            "properties": {
                              "leave_Type_Name": {
                                "type": "string",
                                "title": "Leave Type Name"
                              }
                            }
                          },
                          "benefits_Effect": {
                            "type": "boolean",
                            "title": "Benefits Effect"
                          },
                          "payroll_Effect": {
                            "type": "boolean",
                            "title": "Payroll Effect"
                          },
                          "paid_Time_Off_Accrual_Effect": {
                            "type": "boolean",
                            "title": "Paid Time Off Accrual Effect"
                          },
                          "continuous_Service_Accrual_Effect": {
                            "type": "boolean",
                            "title": "Continuous Service Accrual Effect"
                          },
                          "stock_Vesting_Effect": {
                            "type": "boolean",
                            "title": "Stock Vesting Effect"
                          }
                        }
                      }
                    },
                    "termination_Status_Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "terminated": {
                            "type": "boolean",
                            "title": "IsTerminated"
                          },
                          "termination_Date": {
                            "type": "string",
                            "format": "date",
                            "title": "Termintation Date"
                          },
                          "termination_Category": {
                            "type": "string",
                            "title": "Termintation Category"
                          },
                          "termination_Reason": {
                            "type": "string",
                            "title": "Termination Reason"
                          },
                          "involuntary_Termination": {
                            "type": "boolean",
                            "title": "Involuntary Termination"
                          },
                          "not_Eligible_For_Hire": {
                            "type": "boolean",
                            "title": "Not Eligible for Hire"
                          }
                        }
                      }
                    },
                    "probation_Status_Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "probation_Start_Date": {
                            "type": "string",
                            "format": "date",
                            "title": "Probation Start Date"
                          },
                          "probation_End_Date": {
                            "type": "string",
                            "format": "date",
                            "title": "Probation End Date"
                          }
                        }
                      }
                    }
                  }
                },
                "worker_Position_Data": {
                  "type": "object",
                  "properties": {
                    "position_ID": {
                      "type": "string",
                      "title": "Position ID"
                    },
                    "position_Title": {
                      "type": "string",
                      "title": "Position Title"
                    },
                    "business_Title": {
                      "type": "string",
                      "title": "Business Title"
                    },
                    "employee_Type_Reference": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "employee_Type_Description": {
                            "type": "string",
                            "title": "Employee Type Description"
                          }
                        }
                      }
                    },
                    "position_Time_Type_Reference": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time_Type_Description": {
                            "type": "string",
                            "title": "Time Type Description"
                          }
                        }
                      }
                    },
                    "job_Exempt": {
                      "type": "boolean",
                      "title": "Job Exempt"
                    },
                    "scheduled_Weekly_Hours": {
                      "type": "number",
                      "title": "Scheduled Weekly Hours"
                    },
                    "default_Weekly_Hours": {
                      "type": "number",
                      "title": "Default Weekly Hours"
                    },
                    "full_Time_Equivalent_Percentage": {
                      "type": "number",
                      "title": "Full Time Equivalent Percentage"
                    },
                    "pay_Rate_Type_Reference": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pay_Type_Name": {
                            "type": "string",
                            "title": "Pay Type Name"
                          }
                        }
                      }
                    },
                    "job_Classification_Reference": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "job_Classification_Group_Name": {
                            "type": "string",
                            "title": "Job Classification Group Name"
                          },
                          "job_Classification_Name": {
                            "type": "string",
                            "title": "Job Classification Name"
                          }
                        }
                      }
                    },
                    "company_Insider_Reference": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company_Insider_Type_Name": {
                            "type": "string",
                            "title": "Company Insider Type Name"
                          }
                        }
                      }
                    },
                    "job_Profile_Summary_Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "job_Profile_Reference": {
                            "type": "object",
                            "properties": {
                              "JobProfileIDType": {
                                "type": "string",
                                "title": "Job Profile ID Type"
                              },
                              "JobProfileID": {
                                "type": "string",
                                "title": "Job Profile ID"
                              }
                            }
                          },
                          "job_Exempt": {
                            "type": "boolean",
                            "title": "Job Exempt"
                          },
                          "management_Level_Reference": {
                            "type": "object",
                            "properties": {
                              "ManagementLevelIDType": {
                                "type": "string",
                                "title": "Management Level ID Type"
                              },
                              "ManagementLevelID": {
                                "type": "string",
                                "title": "Management Level ID"
                              }
                            }
                          },
                          "job_Category_Reference": {
                            "type": "object",
                            "properties": {
                              "JobCategoryIDType": {
                                "type": "string",
                                "title": "Job Category ID Type"
                              },
                              "JobCategoryID": {
                                "type": "string",
                                "title": "Job Category ID"
                              }
                            }
                          },
                          "job_Profile_Name": {
                            "type": "string",
                            "title": "Job Prifle Name"
                          },
                          "work_Shift_Required": {
                            "type": "boolean",
                            "title": "Work Shift Required"
                          },
                          "critical_Job": {
                            "type": "boolean",
                            "title": "Critical Job"
                          },
                          "difficulty_to_Fill_Reference": {
                            "type": "object",
                            "properties": {
                              "DifficultyToFillIDType": {
                                "type": "string",
                                "title": "Difficulty To Fill ID Type"
                              },
                              "DifficultyToFillID": {
                                "type": "string",
                                "title": "Difficulty To Fill ID"
                              }
                            }
                          }
                        }
                      }
                    },
                    "organization_Content_Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "organization_ID": {
                            "type": "string",
                            "title": "Organization ID"
                          },
                          "organization_Name": {
                            "type": "string",
                            "title": "Organization Name"
                          },
                          "organization_Type_Reference": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "organization_Type_Name": {
                                  "type": "string",
                                  "title": "Organization Type Name"
                                }
                              }
                            }
                          },
                          "organization_Subtype_Reference": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "organization_Subtype_Name": {
                                  "type": "string",
                                  "title": "Organization Subtype Name"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "business_Site_Content_Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "location_Name": {
                            "type": "string",
                            "title": "Location Name"
                          },
                          "location_Type_Reference": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "location_Type_Description": {
                                  "type": "string",
                                  "title": "Location Type Description"
                                }
                              }
                            }
                          },
                          "time_Profile_Reference": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "time_Profile_Description": {
                                  "type": "string",
                                  "title": "Time Profile Description"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "payroll_Processing_Data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pay_Rate_Type_Reference": {
                            "type": "object",
                            "properties": {
                              "pay_Type_Name": {
                                "type": "string",
                                "title": "Pay Type Name"
                              }
                            }
                          },
                          "frequency_Reference": {
                            "type": "object",
                            "properties": {
                              "frequency_Name": {
                                "type": "string",
                                "title": "Frequency Name"
                              }
                            }
                          },
                          "pay_Group_Reference": {
                            "type": "object",
                            "properties": {
                              "pay_Group_ID": {
                                "type": "string",
                                "title": "Pay Group ID"
                              }
                            }
                          },
                          "payroll_Entity_Reference": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "payroll_Entity_ID": {
                                  "type": "string",
                                  "title": "Payroll Entity ID"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "supervisor_Reference": {
                      "type": "object",
                      "properties": {
                        "employee_Reference": {
                          "type": "object",
                          "properties": {
                            "integration_ID_Reference": {
                              "type": "object",
                              "properties": {
                                "IntegrationID": {
                                  "type": "string",
                                  "title": "Employee Integration ID"
                                }
                              }
                            }
                          }
                        },
                        "contingent_Worker_Reference": {
                          "type": "object",
                          "properties": {
                            "integration_ID_Reference": {
                              "type": "object",
                              "properties": {
                                "IntegrationID": {
                                  "type": "string",
                                  "title": "Contingent Worker Integration ID"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Add_or_Update_Address_Information_for_Person_Event_Request": {
      "type": "object",
      "properties": {
        "add_or_Update_Address_Information_for_Person_Event_Request": {
          "type": "object",
          "properties": {
            "add_or_Update_Address_Information_Data": {
              "type": "object",
              "properties": {
                "worker_Reference": {
                  "$ref": "#/definitions/Worker_Reference"
                },
                "effective_Date": {
                  "type": "string",
                  "format": "date",
                  "title": "Effective Date"
                },
                "address_Information_Data": {
                  "$ref": "#/definitions/Address_Information_Data"
                }
              },
              "required": [
                "effective_Date"
              ]
            }
          }
        }
      }
    },
    "Add_or_Update_Phone_Information_for_Person_Event_Request": {
      "type": "object",
      "properties": {
        "add_or_Update_Phone_Information_for_Person_Event_Request": {
          "type": "object",
          "properties": {
            "add_or_Update_Phone_Information_Data": {
              "type": "object",
              "properties": {
                "worker_Reference": {
                  "$ref": "#/definitions/Worker_Reference"
                },
                "effective_Date": {
                  "type": "string",
                  "format": "date",
                  "title": "Effective Date"
                },
                "phone_Information_Data": {
                  "$ref": "#/definitions/Phone_Information_Data"
                }
              },
              "required": [
                "effective_Date"
              ]
            }
          }
        }
      }
    },
    "Add_or_Update_Email_Address_Information_for_Person_Event_Request": {
      "type": "object",
      "properties": {
        "add_or_Update_Email_Address_Information_for_Person_Event_Request": {
          "type": "object",
          "properties": {
            "add_or_Update_Email_Address_Information_Data": {
              "type": "object",
              "properties": {
                "worker_Reference": {
                  "$ref": "#/definitions/Worker_Reference"
                },
                "effective_Date": {
                  "type": "string",
                  "format": "date",
                  "title": "Effective Date"
                },
                "email_Address_Information_Data": {
                  "$ref": "#/definitions/Email_Address_Information_Data"
                }
              },
              "required": [
                "effective_Date"
              ]
            }
          }
        }
      }
    },
    "Add_or_Update_Instant_Messenger_Information_for_Person_Event_Request": {
      "type": "object",
      "properties": {
        "add_or_Update_Instant_Messenger_Information_for_Person_Event_Request": {
          "type": "object",
          "properties": {
            "add_or_Update_Instant_Messenger_Information_Data": {
              "type": "object",
              "properties": {
                "worker_Reference": {
                  "$ref": "#/definitions/Worker_Reference"
                },
                "effective_Date": {
                  "type": "string",
                  "format": "date",
                  "title": "Effective Date"
                },
                "instant_Messenger_Information_Data": {
                  "$ref": "#/definitions/Instant_Messenger_Information_Data"
                }
              },
              "required": [
                "effective_Date"
              ]
            }
          }
        }
      }
    },
    "Add_or_Update_Web_Address_Information_for_Person_Event_Request": {
      "type": "object",
      "properties": {
        "add_or_Update_Web_Address_Information_for_Person_Event_Request": {
          "type": "object",
          "properties": {
            "add_or_Update_Web_Address_Information_Data": {
              "type": "object",
              "properties": {
                "worker_Reference": {
                  "$ref": "#/definitions/Worker_Reference"
                },
                "effective_Date": {
                  "type": "string",
                  "format": "date",
                  "title": "Effective Date"
                },
                "web_Address_Information_Data": {
                  "$ref": "#/definitions/Web_Address_Information_Data"
                }
              },
              "required": [
                "effective_Date"
              ]
            }
          }
        }
      }
    },
    "Address_Information_Data": {
      "type": "object",
      "properties": {
        "country_Reference": {
          "type": "object",
          "required": [
            "CountryIDType"
          ],
          "properties": {
            "CountryIDType": {
              "type": "string",
              "enum": [
                "ISO 3166-1 Alpha-2 Code",
                "ISO 3166-1 Alpha-3 Code",
                "ISO 3166-1 Numeric-3 Code"
              ],
              "default": "ISO 3166-1 Alpha-3 Code",
              "title": "Address Country ID Type",
              "x-ms-visibility": "internal"
            },
            "CountryID": {
              "type": "string",
              "title": "Address Country ID",
              "enum": [
                "USA",
                "GBR",
                "CAN",
                "CHN",
                "IND",
                "MEX",
                "JPN"
              ]
            }
          }
        },
        "address_Line_Data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "AddessLineType": {
                "type": "string",
                "enum": [
                  "ADDRESS LINE 1",
                  "ADDRESS LINE 2",
                  "ADDRESS LINE 3"
                ],
                "title": "Address Line Type"
              },
              "AddressLine": {
                "type": "string",
                "title": "Address Line"
              }
            }
          }
        },
        "municipality": {
          "type": "string",
          "title": "Municipality"
        },
        "country_Region_Reference": {
          "type": "object",
          "required": [
            "CountryRegionIDType"
          ],
          "properties": {
            "CountryRegionIDType": {
              "type": "string",
              "enum": [
                "Country Region ID",
                "ISO 3166-2 Code"
              ],
              "default": "ISO 3166-2 Code",
              "title": "Region ID Type",
              "x-ms-visibility": "internal"
            },
            "CountryRegionID": {
              "type": "string",
              "title": "Region ID",
              "description": "E.g. type WA for Washington state, CA for California etc."
            }
          }
        },
        "postal_Code": {
          "type": "string",
          "title": "Postal Code"
        },
        "usage_Data": {
          "type": "object",
          "properties": {
            "isPublic": {
              "type": "boolean",
              "title": "Public Address?"
            },
            "type_Data": {
              "type": "object",
              "properties": {
                "isPrimary": {
                  "type": "boolean",
                  "title": "Primary Address?"
                },
                "type_Reference": {
                  "type": "object",
                  "required": [
                    "communicationUsageTypeIDType"
                  ],
                  "properties": {
                    "communicationUsageTypeIDType": {
                      "type": "string",
                      "enum": [
                        "Communication_Usage_Type_ID",
                        "WID"
                      ],
                      "default": "Communication_Usage_Type_ID",
                      "x-ms-visibility": "internal"
                    },
                    "communicationUsageTypeID": {
                      "type": "string",
                      "title": "Address Usage Type",
                      "enum": [
                        "Home",
                        "Business"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Phone_Information_Data": {
      "type": "object",
      "properties": {
        "country_ISO_Code": {
          "type": "string",
          "title": "Phone Country ISO Code",
          "enum": [
            "USA",
            "GBR",
            "CAN",
            "CHN",
            "IND",
            "MEX",
            "JPN"
          ]
        },
        "area_Code": {
          "type": "string",
          "title": "Phone Area Code"
        },
        "phone_Number": {
          "type": "string",
          "title": "Phone Number"
        },
        "phone_Extension": {
          "type": "string",
          "title": "Phone Extension"
        },
        "phone_Device_Type_Reference": {
          "type": "object",
          "required": [
            "PhoneDeviceTypeIDType"
          ],
          "properties": {
            "PhoneDeviceTypeIDType": {
              "type": "string",
              "enum": [
                "Phone_Device_Type_ID",
                "WID"
              ],
              "default": "Phone_Device_Type_ID",
              "x-ms-visibility": "internal"
            },
            "PhoneDeviceTypeID": {
              "type": "string",
              "title": "Phone Device Type",
              "enum": [
                "Mobile",
                "Telephone",
                "Fax",
                "Pager"
              ]
            }
          }
        },
        "usage_Data": {
          "type": "object",
          "properties": {
            "isPublic": {
              "type": "boolean",
              "title": "Public Phone Information?"
            },
            "type_Data": {
              "type": "object",
              "properties": {
                "isPrimary": {
                  "type": "boolean",
                  "title": "Primary Phone?"
                },
                "type_Reference": {
                  "type": "object",
                  "required": [
                    "communicationUsageTypeIDType"
                  ],
                  "properties": {
                    "communicationUsageTypeIDType": {
                      "type": "string",
                      "enum": [
                        "Communication_Usage_Type_ID",
                        "WID"
                      ],
                      "default": "Communication_Usage_Type_ID",
                      "x-ms-visibility": "internal"
                    },
                    "communicationUsageTypeID": {
                      "type": "string",
                      "title": "Phone Usage Type",
                      "enum": [
                        "Home",
                        "Business"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "Email_Address_Information_Data": {
      "type": "object",
      "properties": {
        "email_Address": {
          "type": "string",
          "title": "Email Address"
        },
        "usage_Data": {
          "$ref": "#/definitions/Communication_Method_Usage_Information_Data"
        }
      }
    },
    "Instant_Messenger_Information_Data": {
      "type": "object",
      "properties": {
        "instant_Messenger_Address": {
          "type": "string",
          "title": "Instant Messenger Address"
        },
        "instant_Messenger_Type_Reference": {
          "type": "object",
          "required": [
            "InstantMessengerTypeIDType"
          ],
          "properties": {
            "InstantMessengerTypeIDType": {
              "type": "string",
              "enum": [
                "Instant_Messenger_Type_ID",
                "WID"
              ],
              "default": "Instant_Messenger_Type_ID",
              "x-ms-visibility": "internal"
            },
            "InstantMessengerTypeID": {
              "type": "string",
              "title": "Instant Messenger Type",
              "enum": [
                "AIM",
                "Google Talk",
                "Lync",
                "Meebo",
                "MSN",
                "Skype",
                "Yahoo"
              ]
            }
          }
        },
        "usage_Data": {
          "$ref": "#/definitions/Communication_Method_Usage_Information_Data"
        }
      }
    },
    "Web_Address_Information_Data": {
      "type": "object",
      "properties": {
        "web_Address": {
          "type": "string",
          "title": "Web Address"
        },
        "usage_Data": {
          "$ref": "#/definitions/Communication_Method_Usage_Information_Data"
        }
      }
    },
    "Worker_Reference": {
      "type": "object",
      "properties": {
        "WorkerIDType": {
          "type": "string",
          "title": "ID Type",
          "enum": [
            "Employee ID",
            "Contingent Worker ID",
            "Workday ID"
          ],
          "default": "Employee ID"
        },
        "WorkerID": {
          "type": "string",
          "title": "Worker ID"
        }
      },
      "required": [
        "WorkerIDType",
        "WorkerID"
      ]
    },
    "Communication_Method_Usage_Information_Data": {
      "type": "object",
      "properties": {
        "isPublic": {
          "type": "boolean",
          "title": "Public?"
        },
        "type_Data": {
          "type": "object",
          "properties": {
            "isPrimary": {
              "type": "boolean",
              "title": "Primary?"
            },
            "type_Reference": {
              "type": "object",
              "required": [
                "communicationUsageTypeIDType"
              ],
              "properties": {
                "communicationUsageTypeIDType": {
                  "type": "string",
                  "enum": [
                    "Communication_Usage_Type_ID",
                    "WID"
                  ],
                  "default": "Communication_Usage_Type_ID",
                  "x-ms-visibility": "internal"
                },
                "communicationUsageTypeID": {
                  "type": "string",
                  "title": "Usage Type",
                  "enum": [
                    "Home",
                    "Business"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "Add_or_Update_Contact_Information_for_Person_Event_Response": {
      "type": "object",
      "properties": {
        "add_or_Update_Contact_Information_for_Person_Event_Response": {
          "type": "object",
          "properties": {
            "Contact_Information_for_Person_Event_Reference": {
              "type": "object",
              "properties": {
                "PersonIDType": {
                  "type": "string",
                  "title": "Person ID Type"
                },
                "PersonID": {
                  "type": "string",
                  "title": "Person ID"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-ms-capabilities": {},
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/workdayhcm"
  },
  "basePath": "/apim/workdayhcm"
}
