{
  "swagger": "2.0",
  "info": {
    "title": "Copy.ai",
    "description": "Meet your brainstorming buddy, blank page remover, research assistant, and expert copywriter: Chat by Copy.ai. Use our generative AI platform to work faster, smarter, and anything but harder.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/copyaiip",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/workflow/{workflow_id}/run": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "input": {
                            "type": "object",
                            "properties": {},
                            "description": "The input object.",
                            "title": "Input"
                          },
                          "output": {
                            "type": "object",
                            "properties": {},
                            "description": "The output object.",
                            "title": "Output"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {},
                            "description": "The metadata object.",
                            "title": "Metadata"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "credits": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The credits used.",
                            "title": "Credits"
                          }
                        }
                      },
                      "title": "Data"
                    }
                  },
                  "title": "Workflow"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workflow_id",
            "in": "path",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single",
            "description": "The workflow identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Size",
            "description": "The page size.",
            "required": false,
            "type": "integer",
            "default": 10
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer",
            "default": 1
          }
        ],
        "summary": "Get all workflow runs",
        "description": "Retrieve the details of all workflow runs for a workflow.",
        "operationId": "WorkflowsGet",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copyaiip/#get-all-workflow-runs"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Start workflow",
        "description": "Start a workflow based on the variables and metadata you provide.",
        "operationId": "WorkflowPost",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workflow_id",
            "in": "path",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single",
            "description": "The workflow identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "startVariables": {
                  "type": "object",
                  "properties": {},
                  "description": "The start variables as an object.",
                  "title": "Start Variables"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata object.",
                  "title": "Metadata"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copyaiip/#start-workflow"
        }
      }
    },
    "/{connectionId}/workflow/{workflow_id}/run/{run_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "input": {
                      "type": "object",
                      "properties": {},
                      "description": "The input object.",
                      "title": "Input"
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {},
                      "description": "The metadata object.",
                      "title": "Metadata"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "credits": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The credits used.",
                      "title": "Credits"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get a workflow run",
        "description": "Retrieve the details of a workflow run.",
        "operationId": "WorkflowGet",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workflow_id",
            "in": "path",
            "x-ms-summary": "Workflow ID",
            "x-ms-url-encoding": "single",
            "description": "The workflow identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "run_id",
            "in": "path",
            "x-ms-summary": "Run ID",
            "x-ms-url-encoding": "single",
            "description": "The run identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copyaiip/#get-a-workflow-run"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-copy-ai-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.copy.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.copy.ai/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/copyaiip"
  }
}
