{
  "swagger": "2.0",
  "info": {
    "title": "1Me Corporate",
    "description": "1Me is the easiest and fastest way to share your contact information.\nWith 1Me, you can have an unlimited number of contact cards. You can choose which contact information to include on each card, and then choose who to share each card with.\nThis is best for separating your business and personal contact information",
    "contact": {
      "name": "1Me Support",
      "url": "https://www.1me.live/support",
      "email": "support@1me.live"
    },
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/1mecorporate",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/CardTempletes/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReturnCardTemplete"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "RetrieveCardTemplates",
        "summary": "Get Card Templates",
        "description": "Retrieve all corporate card templates",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1mecorporate/#get-card-templates"
        }
      }
    },
    "/{connectionId}/api/Invitation/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send Invitation",
        "operationId": "SendInvitation",
        "description": "Create invitation and send email for your corporate members",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CardTemplateId": {
                  "type": "string",
                  "description": "Card Template Id",
                  "title": "Card Template Id"
                },
                "NameOnCard": {
                  "type": "string",
                  "description": "Name On Card",
                  "title": "Name On Card"
                },
                "Jobtitle": {
                  "type": "string",
                  "description": "Job Title",
                  "title": "Job Title"
                },
                "WorkEmail": {
                  "type": "string",
                  "description": "Work Email",
                  "title": "Work Email"
                },
                "Extension": {
                  "type": "string",
                  "description": "Extension",
                  "title": "Extension"
                }
              },
              "required": [
                "CardTemplateId",
                "Jobtitle",
                "WorkEmail"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1mecorporate/#send-invitation"
        }
      }
    },
    "/{connectionId}/api/Invitation/Disassociate": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "DisassociateMember",
        "summary": "Disassociate Member",
        "description": "Disassociate members from your corporate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Disassociate members from your corporate",
            "x-ms-summary": "Disassociate members from your corporate",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "type": "string",
                  "description": "Email",
                  "title": "Email"
                }
              },
              "required": [
                "Email"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1mecorporate/#disassociate-member"
        }
      }
    },
    "/{connectionId}/api/Invitation/GetAccountInvitations/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountInvitations"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "RetrieveAllInvitations",
        "summary": "Retrieve all Invitations",
        "description": "Retrieve all corporate invitations",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1mecorporate/#retrieve-all-invitations"
        }
      }
    }
  },
  "definitions": {
    "ReturnCardTemplete": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The unique identifier for the Card Template.",
            "type": "string",
            "x-ms-summary": "Id"
          },
          "Name": {
            "description": "The Name of the Card Template.",
            "type": "string",
            "x-ms-summary": "Name"
          },
          "CreatedOn": {
            "description": "The Date on which the card was created on.",
            "type": "string",
            "x-ms-summary": "CreatedOn"
          },
          "CardsCount": {
            "description": "The number of Cards which have this Card Template.",
            "type": "integer",
            "x-ms-summary": "CardsCount"
          }
        }
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "Data": {
          "description": "The  genaric data of Response",
          "type": "string",
          "x-ms-summary": "Data"
        },
        "isSuccess": {
          "description": "the flag of responses Status.",
          "type": "boolean",
          "x-ms-summary": "isSuccess"
        },
        "Status": {
          "description": "the Code of responses Status.",
          "type": "integer",
          "x-ms-summary": "Status"
        },
        "Message": {
          "description": "the message of responses Status.",
          "type": "string",
          "x-ms-summary": "Message"
        }
      }
    },
    "AccountInvitations": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "Code": {
            "description": "The code of invitation.",
            "type": "string",
            "x-ms-summary": "Code"
          },
          "Date": {
            "description": "The Date on which the invitation was created on.",
            "type": "string",
            "x-ms-summary": "Date"
          },
          "ModifiedOn": {
            "description": "The Date on which the invitation was Modified On.",
            "type": "string",
            "x-ms-summary": "ModifiedOn"
          },
          "CardTemplateID": {
            "description": "The unique identifier for the Card Template.",
            "type": "string",
            "x-ms-summary": "CardTemplateID"
          },
          "NameOnCard": {
            "description": "the Name which is written on the card.",
            "type": "string",
            "x-ms-summary": "NameOnCard"
          },
          "WorkEmail": {
            "description": "the Work Email of the Employee.",
            "type": "string",
            "x-ms-summary": "WorkEmail"
          },
          "JobTitle": {
            "description": "the Job Title of the Employee.",
            "type": "string",
            "x-ms-summary": "JobTitle"
          },
          "Extention": {
            "description": "the Extention of the Employee.",
            "type": "string",
            "x-ms-summary": "Extention"
          },
          "Status": {
            "description": "the Status of The Invitation.",
            "type": "string",
            "x-ms-summary": "Status"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "XApiKey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.1me.live/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.1me.live/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Website"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/1mecorporate"
  }
}