{
  "swagger": "2.0",
  "info": {
    "title": "Cloud PKI Management",
    "version": "1.0.6",
    "description": "Take back control of your Microsoft Public Key Infrastructure (ADCS) with the Microsoft Power Platform and Cloud PKI Management from 509 Solutions.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "url": "https://support.509.solutions"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/cloudpkimanagement",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/{regionid}/deployments/{deploymentid}/certificates": {
      "get": {
        "operationId": "Query-Certificates",
        "produces": [],
        "consumes": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "regionid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment Region",
            "x-ms-summary": "Region ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-Regions",
              "value-path": "regionid",
              "value-title": "regionname"
            }
          },
          {
            "name": "deploymentid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment ID eg.. 24F3NU4E",
            "x-ms-visibility": "important",
            "x-ms-summary": "Deployment ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-RegionDeployments",
              "value-path": "deploymentid",
              "value-title": "displayname",
              "parameters": {
                "regionid": {
                  "parameter": "regionid"
                }
              }
            }
          },
          {
            "name": "timevalid",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Certificates that are still time valid",
            "x-ms-visibility": "important",
            "x-ms-summary": "Time Valid",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "important",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Certificates that are marked important",
            "x-ms-visibility": "important",
            "x-ms-summary": "Important Certificate"
          },
          {
            "name": "renewalstatus",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Query by Current renewal status",
            "x-ms-visibility": "important",
            "x-ms-summary": "Renewal Status"
          },
          {
            "name": "expiring",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Certificates expiring in the next days. (Min=1 Max=180)",
            "x-ms-visibility": "important",
            "format": "int32",
            "x-ms-summary": "Expiring in"
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Subject name to query for",
            "x-ms-visibility": "important",
            "x-ms-summary": "Subject"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Issued",
              "Revoked"
            ],
            "description": "Current status of the certificate",
            "x-ms-summary": "Status"
          },
          {
            "name": "serialnumber",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Serial Number of the certificate to query for",
            "x-ms-visibility": "important",
            "x-ms-summary": "Serial Number"
          },
          {
            "name": "ski",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Subject Key Identifier of the certificates to query for",
            "x-ms-summary": "Subject Key Identifier (SKI)"
          },
          {
            "name": "aki",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authority Key Identifier of the certificates to query for",
            "x-ms-summary": "Authority Key Identifier"
          },
          {
            "name": "keytype",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Public Key Algorithm Type to search for",
            "x-ms-summary": "Key Type"
          },
          {
            "name": "keylength",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Key Length",
            "description": "Public Key Length of the certificates to query for"
          },
          {
            "name": "owneremail",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Owner Email Addresses",
            "description": "Email Address of Certificate Owners to query certificates for"
          }
        ],
        "description": "Query Certificates Issued by this Cloud PKI deployment",
        "responses": {
          "200": {
            "description": "Success operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Certificate Status (Issued or Revoked)",
                    "title": "Status"
                  },
                  "thumbprint": {
                    "type": "string",
                    "description": "Certificate SHA1 Thumbprint",
                    "title": "Thumbprint"
                  },
                  "serialnumber": {
                    "type": "string",
                    "description": "Serial Number",
                    "title": "Serial Number"
                  },
                  "validfrom": {
                    "type": "string",
                    "description": "Certificate Start Date",
                    "title": "Valid From"
                  },
                  "validto": {
                    "type": "string",
                    "description": "Certificate Expiry Date",
                    "title": "Valid To"
                  },
                  "validfromepoch": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Certificate Start Date as Epoch timestamp",
                    "title": "Valid From (Epoch)"
                  },
                  "validtoepoch": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Certificate Expiry Date as Epoch Timestamp",
                    "title": "Valid To (Epoch)"
                  },
                  "issuername": {
                    "type": "string",
                    "description": "The Issuers Common CA Name",
                    "title": "Issuing CA"
                  },
                  "subject": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Subject Key Identifier",
                      "title": "SKI"
                    },
                    "description": "The subject of the certificate",
                    "title": "Subject"
                  },
                  "subjectalternativename": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Subject Alternative Names",
                      "title": "SAN"
                    },
                    "description": "Subject Alternate Names for the Certificate",
                    "title": "SAN"
                  },
                  "displaysubject": {
                    "type": "string",
                    "description": "A rationalised subject name for easier identification.",
                    "title": "Dispaly Subject"
                  },
                  "templatename": {
                    "type": "string",
                    "description": "Template Short Name",
                    "title": "Template Name"
                  },
                  "cloudpki": {
                    "type": "object",
                    "properties": {
                      "templateid": {
                        "type": "string",
                        "description": "Cloud PKI Template ID",
                        "title": "Template ID"
                      },
                      "owneremail": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "owneremail"
                      },
                      "renewalstatus": {
                        "type": "string",
                        "description": "Current Renewal Status",
                        "title": "Renewal Status"
                      },
                      "phase": {
                        "type": "string",
                        "description": "Current Certificate Life-cycle Phase",
                        "title": "Life-cycle Phase"
                      },
                      "important": {
                        "type": "string",
                        "description": "Certificate Marked As Important",
                        "title": "Important"
                      }
                    },
                    "description": "cloudpki"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "apikeyQuery": []
          }
        ],
        "summary": "Query Certificates",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudpkimanagement/#query-certificates"
        }
      }
    },
    "/{connectionId}/{regionid}/deployments/{deploymentid}/certificates/{thumbprint}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "thumbprint": {
                  "type": "string",
                  "description": "Certificate SHA1 Thumbprint",
                  "title": "Thumbprint"
                },
                "serialnumber": {
                  "type": "string",
                  "description": "Serial Number",
                  "title": "Serial Number"
                },
                "validfrom": {
                  "type": "string",
                  "description": "Certificate Start Date",
                  "title": "Valid From"
                },
                "validto": {
                  "type": "string",
                  "description": "Certificate Expiry Date",
                  "title": "Valid To"
                },
                "validfromepoch": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Certificate Start Date as Epoch timestamp",
                  "title": "Valid From (Epoch)"
                },
                "validtoepoch": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Certificate Expiry Date as Epoch Timestamp",
                  "title": "Valid To (Epoch)"
                },
                "signaturealgorithm": {
                  "type": "string",
                  "description": "signaturealgorithm",
                  "title": "Signing Algorithm"
                },
                "subjectkeyidentifier": {
                  "type": "string",
                  "description": "The Subject Key Identifier of the certificate.",
                  "title": "Subject Key Identifier"
                },
                "authoritykeyidentifier": {
                  "type": "string",
                  "description": "The Authority Key Identifier of the certificate.",
                  "title": "Authority Key Identifier"
                },
                "templateoid": {
                  "type": "string",
                  "description": "Template Object ID - Unique per AD Forest",
                  "title": "Template OID"
                },
                "templatename": {
                  "type": "string",
                  "description": "Template Short Name",
                  "title": "Template Name"
                },
                "keytype": {
                  "type": "string",
                  "description": "The Asymmetric KeyType. (RSA or ECC)",
                  "title": "Key Type"
                },
                "keysize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Asymmetric key length",
                  "title": "Key Length"
                },
                "keyusage": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Basic Key Usages",
                    "title": "Basic Key Usages"
                  },
                  "description": "Basic Key Usages",
                  "title": "Basic Key Usage"
                },
                "enhancedkeyusage": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Enhanced Key Usages",
                    "title": "EKU"
                  },
                  "description": "The Enhanced Key Usages",
                  "title": "Enhanced Key Usage"
                },
                "issuername": {
                  "type": "string",
                  "description": "The Issuers Common CA Name",
                  "title": "Issuing CA"
                },
                "subject": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Subject Key Identifier",
                    "title": "SKI"
                  },
                  "description": "The subject of the certificate",
                  "title": "Subject"
                },
                "subjectalternativename": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Subject Alternative Names",
                    "title": "SAN"
                  },
                  "description": "Subject Alternate Names for the Certificate",
                  "title": "SAN"
                },
                "displaysubject": {
                  "type": "string",
                  "description": "A rationalised subject name for easier identification.",
                  "title": "Display Subject"
                },
                "cdp": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Certificate Revocation List Distribution Points",
                    "title": "CDP"
                  },
                  "description": "CRL Distribution Points",
                  "title": "CDP"
                },
                "aia": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Authority Information Access Paths",
                    "title": "AIA"
                  },
                  "description": "Authority Information Access",
                  "title": "AIA"
                },
                "basicconstraints": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Basic Constraints (Path Length, IsCA etc..)",
                    "title": "Basic Constraints"
                  },
                  "description": "Basic Certificate Constraints",
                  "title": "Constraints"
                },
                "status": {
                  "type": "string",
                  "description": "Certificate Status (Issued or Revoked)",
                  "title": "Status"
                },
                "publickey": {
                  "type": "string",
                  "description": "Public Key of the Certificate",
                  "title": "Public Key"
                },
                "cloudpki": {
                  "type": "object",
                  "properties": {
                    "templateid": {
                      "type": "string",
                      "description": "Cloud PKI Template ID",
                      "title": "Template ID"
                    },
                    "requestid": {
                      "type": "string",
                      "description": "Cloud PKI Request ID if requested through Cloud PKI Management",
                      "title": "Cloud PKI Request ID"
                    },
                    "phase": {
                      "type": "string",
                      "description": "Current Certificate Life-cycle Phase",
                      "title": "Life-cycle Phase"
                    },
                    "important": {
                      "type": "string",
                      "description": "Certificate Marked As Important",
                      "title": "Important"
                    },
                    "comment": {
                      "type": "string",
                      "description": "Comment",
                      "title": "Comment"
                    },
                    "reference": {
                      "type": "string",
                      "description": "Reference",
                      "title": "Reference"
                    },
                    "owneremail": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Certificate Owner Email Addresses",
                        "title": "Owner Email Addresses"
                      },
                      "title": "Owner Email Addresses",
                      "description": "owneremail"
                    },
                    "owneremailstring": {
                      "type": "string",
                      "title": "Owner Email Addresses String",
                      "description": "Owner Email Addresses String"
                    },
                    "renewalstatus": {
                      "type": "string",
                      "description": "Current Renewal Status",
                      "title": "Renewal Status"
                    },
                    "renewallastmodified": {
                      "type": "string",
                      "description": "Renewal Status Last Modified Timestamp",
                      "title": "Renewal Last Modified Timestamp"
                    },
                    "renewallastmodifiedepoch": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Renewal Status Last Modified Epoch Timestamp",
                      "title": "Renewal Last Modified Epoch Timestamp"
                    },
                    "renewallastmodifiedid": {
                      "type": "string",
                      "description": "Renewal Status Last Modified ID",
                      "title": "Renewal Last Modified ID"
                    },
                    "renewallastmodifiedemail": {
                      "type": "string",
                      "description": "Renewal Status Last Modified Email",
                      "title": "Renewal Last Modified Email"
                    },
                    "lastmodified": {
                      "type": "string",
                      "description": "Last Modified Epoch Timestamp",
                      "title": "Last Modified Epoch Timestamp"
                    },
                    "lastmodifiedepoch": {
                      "type": "integer",
                      "format": "int32",
                      "description": "lastmodifiedepoch"
                    },
                    "lastmodifiedid": {
                      "type": "string",
                      "description": "Last Modified By ID",
                      "title": "Last Modified By ID"
                    },
                    "lastmodifiedemail": {
                      "type": "string",
                      "description": "Last Modified By Email",
                      "title": "Last Modified By Email"
                    },
                    "lastmodifiedevent": {
                      "type": "string",
                      "description": "Last Modified Event",
                      "title": "Last Modified Event"
                    },
                    "revocationstatus": {
                      "type": "string",
                      "description": "Revocation Status",
                      "title": "Revocation Status"
                    },
                    "revocationlastmodified": {
                      "type": "string",
                      "description": "Last Revocation Timestamp",
                      "title": "Last Revocation"
                    },
                    "revocationlastmodifiedepoch": {
                      "type": "string",
                      "description": "Last Revocation Epoch Timestamp",
                      "title": "Last Revocation Epoch"
                    },
                    "revocationlastmodifiedid": {
                      "type": "string",
                      "description": "Last Revoker ID",
                      "title": "Last Revoker ID"
                    },
                    "revocationlastmodifiedemail": {
                      "type": "string",
                      "description": "Last Revoker Email",
                      "title": "Last Revoker Email"
                    }
                  },
                  "description": "cloudpki"
                },
                "requestdetails": {
                  "type": "object",
                  "properties": {
                    "carequestid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Request ID from Issuing CA",
                      "title": "CA Request ID"
                    },
                    "statusmessage": {
                      "type": "string",
                      "description": "Status Message from Certificate Request Submission to Issuing CA",
                      "title": "CA Request Details - Status Message"
                    },
                    "submittedwhen": {
                      "type": "string",
                      "description": "Submitted When",
                      "title": "CA Request Details - Submitted When"
                    },
                    "resolvedwhen": {
                      "type": "string",
                      "description": "Resolved When from Issuing CA",
                      "title": "Resolved When"
                    },
                    "revokedwhen": {
                      "type": "string",
                      "description": "Revoked When",
                      "title": "Revoked When"
                    },
                    "revokedeffectivewhen": {
                      "type": "string",
                      "description": "Revocation Effective When",
                      "title": "Revocation Effective When"
                    },
                    "revokedreason": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Revocation Reason",
                      "title": "Revocation Reason"
                    },
                    "requestername": {
                      "type": "string",
                      "description": "Requester Name from Issuing CA",
                      "title": "Requester Name"
                    },
                    "callername": {
                      "type": "string",
                      "description": "Caller Name from Issuing CA",
                      "title": "Caller Name"
                    },
                    "requestosversion": {
                      "type": "string",
                      "description": "requestosversion",
                      "title": "CA Request Details - OS Version"
                    },
                    "requestcspprovider": {
                      "type": "string",
                      "description": "CSP Provider / KSP Provider Name",
                      "title": "CA Request Details - CSP Provider"
                    }
                  },
                  "description": "requestdetails"
                }
              }
            }
          }
        },
        "summary": "Get Certificate",
        "operationId": "Get-Certificate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "regionid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment Region",
            "x-ms-summary": "Region ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-Regions",
              "value-path": "regionid",
              "value-title": "regionname"
            }
          },
          {
            "name": "deploymentid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment ID eg.. 24F3NU4E",
            "x-ms-visibility": "important",
            "x-ms-summary": "Deployment ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-RegionDeployments",
              "value-path": "deploymentid",
              "value-title": "displayname",
              "parameters": {
                "regionid": {
                  "parameter": "regionid"
                }
              }
            }
          },
          {
            "name": "thumbprint",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Thumbprint",
            "description": "Certificate SHA1 Thumbprint"
          }
        ],
        "description": "Get a Certificate by its SHA1 Thumbprint",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudpkimanagement/#get-certificate"
        }
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "Status Message",
                  "title": "Status Message"
                },
                "connectoractionid": {
                  "type": "string",
                  "description": "Connector Action ID",
                  "title": "Connector Action ID"
                },
                "thumbprint": {
                  "type": "string",
                  "description": "Updated Certificate Thumbprint",
                  "title": "Thumbprint"
                }
              }
            }
          }
        },
        "summary": "Update Certificate",
        "description": "Change the status or metadata of a certificate",
        "operationId": "Update-Certificate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/merge-patch+json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content-Type",
            "description": "Must be \"application/merge-patch+json\""
          },
          {
            "name": "regionid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment Region",
            "x-ms-summary": "Region ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-Regions",
              "value-path": "regionid",
              "value-title": "regionname"
            }
          },
          {
            "name": "deploymentid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment ID eg.. 24F3NU4E",
            "x-ms-visibility": "important",
            "x-ms-summary": "Deployment ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-RegionDeployments",
              "value-path": "deploymentid",
              "value-title": "displayname",
              "parameters": {
                "regionid": {
                  "parameter": "regionid"
                }
              }
            }
          },
          {
            "name": "thumbprint",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Thumbprint",
            "description": "Certificate SHA1 Thumbprint"
          },
          {
            "name": "powerapps",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "false",
            "x-ms-summary": "Are You PowerApps?",
            "description": "Set to false unless calling from PowerApps",
            "enum": [
              "false",
              "true"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "important": {
                  "type": "string",
                  "description": "Choose if this certificate is Important",
                  "title": "Important",
                  "enum": [
                    "",
                    "true",
                    "false"
                  ]
                },
                "status": {
                  "type": "string",
                  "description": "Change the issued status of the certificate",
                  "title": "Issued Status",
                  "enum": [
                    "Revoked",
                    "Unrevoked"
                  ]
                },
                "renewalstatus": {
                  "type": "string",
                  "description": "Should this certificate be renewed?",
                  "title": "Approved For Renewal",
                  "enum": [
                    "approved",
                    "denied",
                    "none"
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "A comment for the Certificate",
                  "title": "Comment"
                },
                "reference": {
                  "type": "string",
                  "description": "A reference for the certificate eg Server Name, CMDB URL",
                  "title": "Reference"
                },
                "owneremail": {
                  "type": "string",
                  "description": "Certificate Owner Email Addresses",
                  "title": "Certificate Owners"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudpkimanagement/#update-certificate"
        }
      }
    },
    "/{connectionId}/{regionid}/deployments/{deploymentid}/templates/{templateid}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "templateid": {
                  "type": "string",
                  "description": "Template ID",
                  "title": "Template ID"
                },
                "name": {
                  "type": "string",
                  "description": "Template Short Name",
                  "title": "Template Name",
                  "x-ms-visibility": "important"
                },
                "displayname": {
                  "type": "string",
                  "description": "Template Display Name",
                  "title": "Template Display Name",
                  "x-ms-visibility": "important"
                },
                "distinguishedname": {
                  "type": "string",
                  "description": "Active Directory Forest Distinguished Name of Template",
                  "title": "Template DN"
                },
                "objectguid": {
                  "type": "string",
                  "description": "AD Object GUID of Template",
                  "title": "AD Object GUID"
                },
                "forestrootdn": {
                  "type": "string",
                  "description": "Active Directory Forest Root Distinguished Name",
                  "title": "Forest Root DN"
                },
                "forestrootfqdn": {
                  "type": "string",
                  "description": "Active Directory Forest Root DNS Name",
                  "title": "Forest Root DNS Name"
                },
                "whencreated": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Creation Date of Template Active Directory Object",
                  "title": "When Created"
                },
                "whenchanged": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last Modified Date of Template Active Directory Object",
                  "title": "When Changed"
                },
                "status": {
                  "type": "string",
                  "description": "Current Template Status (Published or Unpublished)",
                  "title": "Status",
                  "x-ms-visibility": "important"
                },
                "publishedby": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "publishedby"
                },
                "templateoid": {
                  "type": "string",
                  "description": "Template OID",
                  "title": "Template OID"
                },
                "templateversion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Template Version - 1,2,3,4 (2000, 2003 Ent, 2008, 2012)",
                  "title": "Template Version"
                },
                "majorversion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Template Major Version",
                  "title": "Major Version"
                },
                "minorversion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Template Minor Version",
                  "title": "Minor Version"
                },
                "templatetype": {
                  "type": "string",
                  "description": "Template Type (User or Computer)",
                  "title": "Template Type",
                  "x-ms-visibility": "important"
                },
                "validityperiod": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Certificate Validity Period in Days",
                  "title": "Validity Period"
                },
                "renewalperiod": {
                  "type": "integer",
                  "format": "int32",
                  "description": "renewalperiod"
                },
                "defaultkeyspec": {
                  "type": "integer",
                  "format": "int32",
                  "description": "defaultkeyspec"
                },
                "defaultkeyspecdecoded": {
                  "type": "string",
                  "description": "defaultkeyspecdecoded"
                },
                "basickeyusage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Basic Key Usages",
                  "title": "Basic Key Usages"
                },
                "basickeyusagedecoded": {
                  "type": "object",
                  "properties": {
                    "KEYENCIPHERMENT": {
                      "type": "string",
                      "description": "Basic Key Usage - Key Encipherment",
                      "title": "Basic Key Usage - Key Encipherment",
                      "x-ms-visibility": "advanced"
                    },
                    "NONREPUDIATION": {
                      "type": "string",
                      "description": "Basic Key Usage - Non-Repudiation",
                      "title": "Basic Key Usage - Non-Repudiation",
                      "x-ms-visibility": "advanced"
                    },
                    "KEYAGREEMENT": {
                      "type": "string",
                      "description": "Basic Key Usage - Key Agreement",
                      "title": "Basic Key Usage - Key Agreement",
                      "x-ms-visibility": "advanced"
                    },
                    "DIGITALSIGNATURE": {
                      "type": "string",
                      "description": "Basic Key Usage - Digital Signature",
                      "title": "Basic Key Usage - Digital Signature"
                    },
                    "DATAENCIPHERMENT": {
                      "type": "string",
                      "description": "Basic Key Usage - Data Encipherment",
                      "title": "Basic Key Usage - Data Encipherment"
                    },
                    "KEYCERTSIGN": {
                      "type": "string",
                      "description": "Basic Key Usage - Key Certificate Signing",
                      "title": "Basic Key Usage - Key Certificate Signing"
                    },
                    "CRLSIGN": {
                      "type": "string",
                      "description": "Basic Key Usage - CRL Signing",
                      "title": "Basic Key Usage - CRL Signing",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "basickeyusagedecoded"
                },
                "enhancedkeyusage": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Enhanced Key Usages",
                    "title": "EKU",
                    "x-ms-visibility": "important"
                  },
                  "description": "enhancedkeyusage"
                },
                "criticalextensions": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "criticalextensions"
                },
                "minimumkeysize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Minimum Key Size",
                  "title": "Minimum Key Size"
                },
                "defaultcsps": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "defaultcsps"
                },
                "maxdepth": {
                  "type": "integer",
                  "format": "int32",
                  "description": "maxdepth"
                },
                "supersededtemplates": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Templates that this Template Supersedes during Enrollment",
                    "title": "Superseded Templates"
                  },
                  "description": "supersededtemplates"
                },
                "issuancepolicy": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "issuancepolicy"
                },
                "applicationpolicy": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "",
                    "x-ms-visibility": "advanced"
                  },
                  "description": "applicationpolicy"
                },
                "rasignaturecount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "rasignaturecount"
                },
                "rasignatureissuancepolicies": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "rasignatureissuancepolicies"
                },
                "templateflags": {
                  "type": "integer",
                  "format": "int32",
                  "description": "templateflags",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "templateflagsdecoded": {
                  "type": "object",
                  "properties": {
                    "PRIVATEKEYEXPORTABLE": {
                      "type": "string",
                      "description": "Is The Private Key Exportable",
                      "title": "Private Key Exportable",
                      "x-ms-visibility": "important"
                    },
                    "ENABLEAUTOENROLLMENT": {
                      "type": "string",
                      "description": "ENABLEAUTOENROLLMENT"
                    },
                    "ISCOMPUTERCERT": {
                      "type": "string",
                      "description": "ISCOMPUTERCERT",
                      "title": "ISCOMPUTERCERT"
                    },
                    "ISCROSSCA": {
                      "type": "string",
                      "description": "ISCROSSCA"
                    },
                    "ISCA": {
                      "type": "string",
                      "description": "ISCA"
                    },
                    "PUBLISHTOREQUESTERUSEROBJECT": {
                      "type": "string",
                      "description": "PUBLISHTOREQUESTERUSEROBJECT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ISEDITABLE": {
                      "type": "string",
                      "description": "ISEDITABLE",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "DONOTPERSISTINDB": {
                      "type": "string",
                      "description": "DONOTPERSISTINDB",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ADDDETAILSTOCERT": {
                      "type": "string",
                      "description": "ADDDETAILSTOCERT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ADDEMAIL": {
                      "type": "string",
                      "description": "ADDEMAIL",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ISDEFAULT": {
                      "type": "string",
                      "description": "ISDEFAULT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "templateflagsdecoded"
                },
                "enrollmentflags": {
                  "type": "integer",
                  "format": "int32",
                  "description": "enrollmentflags",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "enrollmentflagsdecoded": {
                  "type": "object",
                  "properties": {
                    "ENABLEKEYREUSEONNTTOKENKEYSETSTORAGEFULL": {
                      "type": "string",
                      "description": "ENABLEKEYREUSEONNTTOKENKEYSETSTORAGEFULL",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "EXCLUDECRLDETAILSINCERT": {
                      "type": "string",
                      "description": "EXCLUDECRLDETAILSINCERT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "PREVIOUSAPPROVALVALIDATEREENROLLMENT": {
                      "type": "string",
                      "description": "PREVIOUSAPPROVALVALIDATEREENROLLMENT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "AUTOENROLLMENTCHECKUSERDSCERTIFICATE": {
                      "type": "string",
                      "description": "AUTOENROLLMENTCHECKUSERDSCERTIFICATE",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "INCLUDEBASICCONSTRAINTSFOREECERTS": {
                      "type": "string",
                      "description": "INCLUDEBASICCONSTRAINTSFOREECERTS",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "REMOVEINVALIDCERTIFICATEFROMPERSONALSTORE": {
                      "type": "string",
                      "description": "REMOVEINVALIDCERTIFICATEFROMPERSONALSTORE",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "EXCLUDEOCSPDETAILSINCERT": {
                      "type": "string",
                      "description": "EXCLUDEOCSPDETAILSINCERT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ALLOWISSUANCEPOLICIESFROMREQUEST": {
                      "type": "string",
                      "description": "ALLOWISSUANCEPOLICIESFROMREQUEST",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "AUTOENROLLMENT": {
                      "type": "string",
                      "description": "AUTOENROLLMENT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "PUBLISHTODS": {
                      "type": "string",
                      "description": "PUBLISHTODS",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ALLOWENROLLONBEHALFOF": {
                      "type": "string",
                      "description": "ALLOWENROLLONBEHALFOF",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ALLOWKEYBASEDRENEWAL": {
                      "type": "string",
                      "description": "ALLOWKEYBASEDRENEWAL",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "PUBLISHTOKRACONTAINER": {
                      "type": "string",
                      "description": "PUBLISHTOKRACONTAINER",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "USERINTERACTIONREQUIRED": {
                      "type": "string",
                      "description": "USERINTERACTIONREQUIRED",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "CERTMGRAPPROVALREQUIRED": {
                      "type": "string",
                      "description": "CERTMGRAPPROVALREQUIRED",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "INCLUDESYMETRICALGORITHMS": {
                      "type": "string",
                      "description": "INCLUDESYMETRICALGORITHMS",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "enrollmentflagsdecoded"
                },
                "certificatenameflags": {
                  "type": "integer",
                  "format": "int32",
                  "description": "certificatenameflags",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "certificatenameflagsdecoded": {
                  "type": "object",
                  "properties": {
                    "SUBJECTREQUIREDNSASCN": {
                      "type": "string",
                      "description": "SUBJECTREQUIREDNSASCN",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTALTREQUIREEMAIL": {
                      "type": "string",
                      "description": "SUBJECTALTREQUIREEMAIL",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTREQUIREEMAIL": {
                      "type": "string",
                      "description": "SUBJECTREQUIREEMAIL",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTALTREQUIREDNS": {
                      "type": "string",
                      "description": "SUBJECTALTREQUIREDNS",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTALTREQUIREDOMAINDNS": {
                      "type": "string",
                      "description": "SUBJECTALTREQUIREDOMAINDNS",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ENROLEESUPLIESSUBJECTALTNAME": {
                      "type": "string",
                      "description": "ENROLEESUPLIESSUBJECTALTNAME",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "OLDCERTSUPPLIESSUBJECTANDALTNAME": {
                      "type": "string",
                      "description": "OLDCERTSUPPLIESSUBJECTANDALTNAME",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTALTREQUIREUPN": {
                      "type": "string",
                      "description": "SUBJECTALTREQUIREUPN",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTALTREQUIREDIRECTORYGUID": {
                      "type": "string",
                      "description": "SUBJECTALTREQUIREDIRECTORYGUID",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTREQUIRECOMMONNAME": {
                      "type": "string",
                      "description": "SUBJECTREQUIRECOMMONNAME",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTALTREQUIRESPN": {
                      "type": "string",
                      "description": "SUBJECTALTREQUIRESPN",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ENROLEESUPLIESSUBJECT": {
                      "type": "string",
                      "description": "ENROLEESUPLIESSUBJECT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SUBJECTREQUIREDIRECTORYPATH": {
                      "type": "string",
                      "description": "SUBJECTREQUIREDIRECTORYPATH",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "certificatenameflagsdecoded"
                },
                "privatekeyflags": {
                  "type": "integer",
                  "format": "int32",
                  "description": "privatekeyflags",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "privatekeyflagsdecoded": {
                  "type": "object",
                  "properties": {
                    "REQUIREALTERNATESIGNATUREALGORITHM": {
                      "type": "string",
                      "description": "REQUIREALTERNATESIGNATUREALGORITHM",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "EXPORTABLEKEY": {
                      "type": "string",
                      "description": "EXPORTABLEKEY",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "REQUIRESAMEKEYRENEWAL": {
                      "type": "string",
                      "description": "REQUIRESAMEKEYRENEWAL",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "EKVALIDATECERT": {
                      "type": "string",
                      "description": "EKVALIDATECERT",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "EKVALIDATEKEY": {
                      "type": "string",
                      "description": "EKVALIDATEKEY",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "STRONGKEYPROTECTIONREQUIRED": {
                      "type": "string",
                      "description": "STRONGKEYPROTECTIONREQUIRED",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ATTESTATIONWITHOUTPOLICY": {
                      "type": "string",
                      "description": "ATTESTATIONWITHOUTPOLICY",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "EKTRUSTONUSE": {
                      "type": "string",
                      "description": "EKTRUSTONUSE",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ATTESTREQUIRED": {
                      "type": "string",
                      "description": "ATTESTREQUIRED",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "USELEGACYPROVIDER": {
                      "type": "string",
                      "description": "USELEGACYPROVIDER",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ATTESTPREFERRED": {
                      "type": "string",
                      "description": "ATTESTPREFERRED",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "REQUIREPRIVATEKEYARCHIVAL": {
                      "type": "string",
                      "description": "REQUIREPRIVATEKEYARCHIVAL",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ATTESTNONE": {
                      "type": "string",
                      "description": "ATTESTNONE",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "privatekeyflagsdecoded"
                },
                "rasignatureapplicationpolicy": {
                  "type": "string",
                  "description": "rasignatureapplicationpolicy",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "keytype": {
                  "type": "string",
                  "description": "keytype",
                  "title": "",
                  "x-ms-visibility": "advanced"
                },
                "cloudpki": {
                  "type": "object",
                  "properties": {
                    "important": {
                      "type": "string",
                      "description": "Imported Certificates from this template will be marked as important",
                      "title": "Important"
                    },
                    "owneremail": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Imported Certificates from this template will have these Owners.",
                        "title": "Owner Email Addresses"
                      },
                      "title": "Owner Email Addresses",
                      "description": "owneremail"
                    },
                    "owneremailstring": {
                      "type": "string",
                      "title": "Owner Emails String",
                      "description": "owneremailstring"
                    },
                    "autoapproveid": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Certificate Template Auto Approver Account IDs",
                        "title": "Auto Approve Account IDs"
                      },
                      "title": "Owner Email Addresses",
                      "description": "owneremail"
                    },
                    "autoapproveidstring": {
                      "type": "string",
                      "title": "Auto Approved IDs String",
                      "description": "autoapproveidstring"
                    },
                    "hidden": {
                      "type": "string",
                      "description": "Certificate Template hidden from certificate requesters.",
                      "title": "Template Hidden"
                    },
                    "renewalstatus": {
                      "type": "string",
                      "description": "Imported certificates will have this renewal status",
                      "title": "Renewal Status"
                    },
                    "lastmodified": {
                      "type": "string",
                      "description": "Last Modified Epoch Timestamp",
                      "title": "Last Modified Epoch Timestamp"
                    },
                    "lastmodifiedepoch": {
                      "type": "integer",
                      "format": "int32",
                      "description": "lastmodifiedepoch"
                    },
                    "lastmodifiedid": {
                      "type": "string",
                      "description": "Last Modified By ID",
                      "title": "Last Modified By ID"
                    },
                    "lastmodifiedemail": {
                      "type": "string",
                      "description": "Last Modified By Email",
                      "title": "Last Modified By Email"
                    },
                    "lastmodifiedevent": {
                      "type": "string",
                      "description": "Last Modified Event",
                      "title": "Last Modified Event"
                    }
                  },
                  "description": "cloudpki"
                }
              }
            }
          }
        },
        "summary": "Get Template",
        "description": "Fetch a certificate template configuration",
        "operationId": "Get-Template",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "regionid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment Region",
            "x-ms-summary": "Region ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-Regions",
              "value-path": "regionid",
              "value-title": "regionname"
            }
          },
          {
            "name": "deploymentid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment ID eg.. 24F3NU4E",
            "x-ms-visibility": "important",
            "x-ms-summary": "Deployment ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-RegionDeployments",
              "value-path": "deploymentid",
              "value-title": "displayname",
              "parameters": {
                "regionid": {
                  "parameter": "regionid"
                }
              }
            }
          },
          {
            "name": "templateid",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Template ID",
            "description": "Template Identifier",
            "x-ms-dynamic-values": {
              "operationId": "Query-Templates",
              "value-path": "templateid",
              "value-title": "name",
              "parameters": {
                "regionid": {
                  "parameter": "regionid"
                },
                "deploymentid": {
                  "parameter": "deploymentid"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudpkimanagement/#get-template"
        }
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "Status Message",
                  "title": "Status Message"
                },
                "templateid": {
                  "type": "string",
                  "description": "Updated Certificate Template ID",
                  "title": "Updated Template ID"
                }
              }
            }
          }
        },
        "summary": "Update Template",
        "description": "Change the status or metadata of a Template",
        "operationId": "Update-Template",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/merge-patch+json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content-Type",
            "description": "Must be \"application/merge-patch+json\""
          },
          {
            "name": "regionid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment Region",
            "x-ms-summary": "Region ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-Regions",
              "value-path": "regionid",
              "value-title": "regionname"
            }
          },
          {
            "name": "deploymentid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment ID eg.. 24F3NU4E",
            "x-ms-visibility": "important",
            "x-ms-summary": "Deployment ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-RegionDeployments",
              "value-path": "deploymentid",
              "value-title": "displayname",
              "parameters": {
                "regionid": {
                  "parameter": "regionid"
                }
              }
            }
          },
          {
            "name": "templateid",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Template ID",
            "description": "Certificate Template ID",
            "x-ms-dynamic-values": {
              "operationId": "Query-Templates",
              "value-path": "templateid",
              "value-title": "name",
              "parameters": {
                "regionid": {
                  "parameter": "regionid"
                },
                "deploymentid": {
                  "parameter": "deploymentid"
                }
              }
            }
          },
          {
            "name": "powerapps",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "false",
            "x-ms-summary": "Are You PowerApps?",
            "description": "Set to false unless calling from PowerApps",
            "enum": [
              "false",
              "true"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "important": {
                  "type": "string",
                  "description": "Choose if certificates issued from this template are Important.",
                  "title": "Important",
                  "enum": [
                    "",
                    "true",
                    "false"
                  ]
                },
                "renewalstatus": {
                  "type": "string",
                  "description": "Choose the renewalstatus for certificates issued from this template.",
                  "title": "Approved For Renewal",
                  "enum": [
                    "approved",
                    "denied",
                    "none"
                  ]
                },
                "hidden": {
                  "type": "string",
                  "description": "Choose if this template should be hidden from certificate requesters.",
                  "title": "Hidden",
                  "enum": [
                    "",
                    "true",
                    "false"
                  ]
                },
                "owneremail": {
                  "type": "string",
                  "description": "Certificate Owner Email Addresses",
                  "title": "Certificate Owners"
                },
                "autoapproveid": {
                  "type": "string",
                  "description": "Account IDs of certificate requesters who will have their requests approved automatically",
                  "title": "Auto Approval Account IDs"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudpkimanagement/#update-template"
        }
      }
    },
    "/{connectionId}/{regionid}/deployments/{deploymentid}/templates": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "displayname": {
                    "type": "string",
                    "description": "displayname"
                  },
                  "distinguishedname": {
                    "type": "string",
                    "description": "distinguishedname"
                  },
                  "objectguid": {
                    "type": "string",
                    "description": "objectguid"
                  },
                  "forestrootdn": {
                    "type": "string",
                    "description": "forestrootdn"
                  },
                  "forestrootfqdn": {
                    "type": "string",
                    "description": "forestrootfqdn"
                  },
                  "whencreated": {
                    "type": "string",
                    "description": "whencreated"
                  },
                  "whenchanged": {
                    "type": "string",
                    "description": "whenchanged"
                  },
                  "status": {
                    "type": "string",
                    "description": "status"
                  },
                  "publishedby": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "publishedby"
                  },
                  "templateoid": {
                    "type": "string",
                    "description": "templateoid"
                  },
                  "templateversion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "templateversion"
                  },
                  "majorversion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "majorversion"
                  },
                  "minorversion": {
                    "type": "integer",
                    "format": "int32",
                    "description": "minorversion"
                  },
                  "templateid": {
                    "type": "string",
                    "description": "templateid"
                  },
                  "templatetype": {
                    "type": "string",
                    "description": "templatetype"
                  },
                  "validityperiod": {
                    "type": "integer",
                    "format": "int32",
                    "description": "validityperiod"
                  },
                  "renewalperiod": {
                    "type": "integer",
                    "format": "int32",
                    "description": "renewalperiod"
                  },
                  "defaultkeyspec": {
                    "type": "integer",
                    "format": "int32",
                    "description": "defaultkeyspec"
                  },
                  "basickeyusage": {
                    "type": "integer",
                    "format": "int32",
                    "description": "basickeyusage"
                  },
                  "basickeyusagedecoded": {
                    "type": "object",
                    "properties": {
                      "KEYENCIPHERMENT": {
                        "type": "string",
                        "description": "KEYENCIPHERMENT"
                      },
                      "NONREPUDIATION": {
                        "type": "string",
                        "description": "NONREPUDIATION"
                      },
                      "KEYAGREEMENT": {
                        "type": "string",
                        "description": "KEYAGREEMENT"
                      },
                      "DIGITALSIGNATURE": {
                        "type": "string",
                        "description": "DIGITALSIGNATURE"
                      },
                      "DATAENCIPHERMENT": {
                        "type": "string",
                        "description": "DATAENCIPHERMENT"
                      },
                      "KEYCERTSIGN": {
                        "type": "string",
                        "description": "KEYCERTSIGN"
                      },
                      "CRLSIGN": {
                        "type": "string",
                        "description": "CRLSIGN"
                      }
                    },
                    "description": "basickeyusagedecoded"
                  },
                  "enhancedkeyusage": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "enhancedkeyusage"
                  },
                  "criticalextensions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "criticalextensions"
                  },
                  "minimumkeysize": {
                    "type": "integer",
                    "format": "int32",
                    "description": "minimumkeysize"
                  },
                  "defaultcsps": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "defaultcsps"
                  },
                  "maxdepth": {
                    "type": "integer",
                    "format": "int32",
                    "description": "maxdepth"
                  },
                  "supersededtemplates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "supersededtemplates"
                  },
                  "issuancepolicy": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "issuancepolicy"
                  },
                  "applicationpolicy": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "applicationpolicy"
                  },
                  "rasignaturecount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "rasignaturecount"
                  },
                  "rasignatureissuancepolicies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "rasignatureissuancepolicies"
                  },
                  "templateflags": {
                    "type": "integer",
                    "format": "int32",
                    "description": "templateflags"
                  },
                  "templateflagsdecoded": {
                    "type": "object",
                    "properties": {
                      "PRIVATEKEYEXPORTABLE": {
                        "type": "string",
                        "description": "PRIVATEKEYEXPORTABLE"
                      },
                      "ENABLEAUTOENROLLMENT": {
                        "type": "string",
                        "description": "ENABLEAUTOENROLLMENT"
                      },
                      "ISCOMPUTERCERT": {
                        "type": "string",
                        "description": "ISCOMPUTERCERT"
                      },
                      "ISCROSSCA": {
                        "type": "string",
                        "description": "ISCROSSCA"
                      },
                      "ISCA": {
                        "type": "string",
                        "description": "ISCA"
                      },
                      "PUBLISHTOREQUESTERUSEROBJECT": {
                        "type": "string",
                        "description": "PUBLISHTOREQUESTERUSEROBJECT"
                      },
                      "ISEDITABLE": {
                        "type": "string",
                        "description": "ISEDITABLE"
                      },
                      "DONOTPERSISTINDB": {
                        "type": "string",
                        "description": "DONOTPERSISTINDB"
                      },
                      "ADDDETAILSTOCERT": {
                        "type": "string",
                        "description": "ADDDETAILSTOCERT"
                      },
                      "ADDEMAIL": {
                        "type": "string",
                        "description": "ADDEMAIL"
                      },
                      "ISDEFAULT": {
                        "type": "string",
                        "description": "ISDEFAULT"
                      }
                    },
                    "description": "templateflagsdecoded"
                  },
                  "enrollmentflags": {
                    "type": "integer",
                    "format": "int32",
                    "description": "enrollmentflags"
                  },
                  "enrollmentflagsdecoded": {
                    "type": "object",
                    "properties": {
                      "ENABLEKEYREUSEONNTTOKENKEYSETSTORAGEFULL": {
                        "type": "string",
                        "description": "ENABLEKEYREUSEONNTTOKENKEYSETSTORAGEFULL"
                      },
                      "EXCLUDECRLDETAILSINCERT": {
                        "type": "string",
                        "description": "EXCLUDECRLDETAILSINCERT"
                      },
                      "PREVIOUSAPPROVALVALIDATEREENROLLMENT": {
                        "type": "string",
                        "description": "PREVIOUSAPPROVALVALIDATEREENROLLMENT"
                      },
                      "AUTOENROLLMENTCHECKUSERDSCERTIFICATE": {
                        "type": "string",
                        "description": "AUTOENROLLMENTCHECKUSERDSCERTIFICATE"
                      },
                      "INCLUDEBASICCONSTRAINTSFOREECERTS": {
                        "type": "string",
                        "description": "INCLUDEBASICCONSTRAINTSFOREECERTS"
                      },
                      "REMOVEINVALIDCERTIFICATEFROMPERSONALSTORE": {
                        "type": "string",
                        "description": "REMOVEINVALIDCERTIFICATEFROMPERSONALSTORE"
                      },
                      "EXCLUDEOCSPDETAILSINCERT": {
                        "type": "string",
                        "description": "EXCLUDEOCSPDETAILSINCERT"
                      },
                      "ALLOWISSUANCEPOLICIESFROMREQUEST": {
                        "type": "string",
                        "description": "ALLOWISSUANCEPOLICIESFROMREQUEST"
                      },
                      "AUTOENROLLMENT": {
                        "type": "string",
                        "description": "AUTOENROLLMENT"
                      },
                      "PUBLISHTODS": {
                        "type": "string",
                        "description": "PUBLISHTODS"
                      },
                      "ALLOWENROLLONBEHALFOF": {
                        "type": "string",
                        "description": "ALLOWENROLLONBEHALFOF"
                      },
                      "ALLOWKEYBASEDRENEWAL": {
                        "type": "string",
                        "description": "ALLOWKEYBASEDRENEWAL"
                      },
                      "PUBLISHTOKRACONTAINER": {
                        "type": "string",
                        "description": "PUBLISHTOKRACONTAINER"
                      },
                      "USERINTERACTIONREQUIRED": {
                        "type": "string",
                        "description": "USERINTERACTIONREQUIRED"
                      },
                      "CERTMGRAPPROVALREQUIRED": {
                        "type": "string",
                        "description": "CERTMGRAPPROVALREQUIRED"
                      },
                      "INCLUDESYMETRICALGORITHMS": {
                        "type": "string",
                        "description": "INCLUDESYMETRICALGORITHMS"
                      }
                    },
                    "description": "enrollmentflagsdecoded"
                  },
                  "certificatenameflags": {
                    "type": "integer",
                    "format": "int32",
                    "description": "certificatenameflags"
                  },
                  "certificatenameflagsdecoded": {
                    "type": "object",
                    "properties": {
                      "SUBJECTREQUIREDNSASCN": {
                        "type": "string",
                        "description": "SUBJECTREQUIREDNSASCN"
                      },
                      "SUBJECTALTREQUIREEMAIL": {
                        "type": "string",
                        "description": "SUBJECTALTREQUIREEMAIL"
                      },
                      "SUBJECTREQUIREEMAIL": {
                        "type": "string",
                        "description": "SUBJECTREQUIREEMAIL"
                      },
                      "SUBJECTALTREQUIREDNS": {
                        "type": "string",
                        "description": "SUBJECTALTREQUIREDNS"
                      },
                      "SUBJECTALTREQUIREDOMAINDNS": {
                        "type": "string",
                        "description": "SUBJECTALTREQUIREDOMAINDNS"
                      },
                      "ENROLEESUPLIESSUBJECTALTNAME": {
                        "type": "string",
                        "description": "ENROLEESUPLIESSUBJECTALTNAME"
                      },
                      "OLDCERTSUPPLIESSUBJECTANDALTNAME": {
                        "type": "string",
                        "description": "OLDCERTSUPPLIESSUBJECTANDALTNAME"
                      },
                      "SUBJECTALTREQUIREUPN": {
                        "type": "string",
                        "description": "SUBJECTALTREQUIREUPN"
                      },
                      "SUBJECTALTREQUIREDIRECTORYGUID": {
                        "type": "string",
                        "description": "SUBJECTALTREQUIREDIRECTORYGUID"
                      },
                      "SUBJECTREQUIRECOMMONNAME": {
                        "type": "string",
                        "description": "SUBJECTREQUIRECOMMONNAME"
                      },
                      "SUBJECTALTREQUIRESPN": {
                        "type": "string",
                        "description": "SUBJECTALTREQUIRESPN"
                      },
                      "ENROLEESUPLIESSUBJECT": {
                        "type": "string",
                        "description": "ENROLEESUPLIESSUBJECT"
                      },
                      "SUBJECTREQUIREDIRECTORYPATH": {
                        "type": "string",
                        "description": "SUBJECTREQUIREDIRECTORYPATH"
                      }
                    },
                    "description": "certificatenameflagsdecoded"
                  },
                  "privatekeyflags": {
                    "type": "integer",
                    "format": "int32",
                    "description": "privatekeyflags"
                  },
                  "privatekeyflagsdecoded": {
                    "type": "object",
                    "properties": {
                      "REQUIREALTERNATESIGNATUREALGORITHM": {
                        "type": "string",
                        "description": "REQUIREALTERNATESIGNATUREALGORITHM"
                      },
                      "EXPORTABLEKEY": {
                        "type": "string",
                        "description": "EXPORTABLEKEY"
                      },
                      "REQUIRESAMEKEYRENEWAL": {
                        "type": "string",
                        "description": "REQUIRESAMEKEYRENEWAL"
                      },
                      "EKVALIDATECERT": {
                        "type": "string",
                        "description": "EKVALIDATECERT"
                      },
                      "EKVALIDATEKEY": {
                        "type": "string",
                        "description": "EKVALIDATEKEY"
                      },
                      "STRONGKEYPROTECTIONREQUIRED": {
                        "type": "string",
                        "description": "STRONGKEYPROTECTIONREQUIRED"
                      },
                      "ATTESTATIONWITHOUTPOLICY": {
                        "type": "string",
                        "description": "ATTESTATIONWITHOUTPOLICY"
                      },
                      "EKTRUSTONUSE": {
                        "type": "string",
                        "description": "EKTRUSTONUSE"
                      },
                      "ATTESTREQUIRED": {
                        "type": "string",
                        "description": "ATTESTREQUIRED"
                      },
                      "USELEGACYPROVIDER": {
                        "type": "string",
                        "description": "USELEGACYPROVIDER"
                      },
                      "ATTESTPREFERRED": {
                        "type": "string",
                        "description": "ATTESTPREFERRED"
                      },
                      "REQUIREPRIVATEKEYARCHIVAL": {
                        "type": "string",
                        "description": "REQUIREPRIVATEKEYARCHIVAL"
                      },
                      "ATTESTNONE": {
                        "type": "string",
                        "description": "ATTESTNONE"
                      }
                    },
                    "description": "privatekeyflagsdecoded"
                  },
                  "rasignatureapplicationpolicy": {
                    "type": "string",
                    "description": "rasignatureapplicationpolicy"
                  },
                  "keytype": {
                    "type": "string",
                    "description": "keytype"
                  },
                  "defaultkeyspecdecoded": {
                    "type": "string",
                    "description": "defaultkeyspecdecoded"
                  },
                  "privatekeyasymmetricalgorithm": {
                    "type": "string",
                    "description": "privatekeyasymmetricalgorithm"
                  },
                  "requesthashalgorithm": {
                    "type": "string",
                    "description": "requesthashalgorithm"
                  },
                  "privatekeysecuritydescriptor": {
                    "type": "string",
                    "description": "privatekeysecuritydescriptor"
                  },
                  "privatekeyusage": {
                    "type": "string",
                    "description": "privatekeyusage"
                  },
                  "privatekeyusagedecoded": {
                    "type": "object",
                    "properties": {
                      "KEYAGREEMENT": {
                        "type": "string",
                        "description": "KEYAGREEMENT"
                      },
                      "SIGNING": {
                        "type": "string",
                        "description": "SIGNING"
                      },
                      "DECRYPTION": {
                        "type": "string",
                        "description": "DECRYPTION"
                      },
                      "ALLUSAGES": {
                        "type": "string",
                        "description": "ALLUSAGES"
                      }
                    },
                    "description": "privatekeyusagedecoded"
                  },
                  "keyarchivalsymmetricalgorithm": {
                    "type": "string",
                    "description": "keyarchivalsymmetricalgorithm"
                  },
                  "keyarchivalsymmetrickeylength": {
                    "type": "string",
                    "description": "keyarchivalsymmetrickeylength"
                  },
                  "cloudpki": {
                    "type": "object",
                    "properties": {
                      "important": {
                        "type": "string",
                        "description": "Imported Certificates from this template will be marked as important",
                        "title": "Important"
                      },
                      "owneremail": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": "Imported Certificates from this template will have these Owners.",
                          "title": "Owner Email Addresses"
                        },
                        "title": "Owner Email Addresses",
                        "description": "owneremail"
                      },
                      "owneremailstring": {
                        "type": "string",
                        "title": "Imported Certificates from this template will have these Owners String",
                        "description": "owneremail"
                      },
                      "autoapproveid": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": "Certificate Template Auto Approver Account IDs",
                          "title": "Auto Approve Account IDs"
                        },
                        "title": "Auto Approve Account IDs",
                        "description": "autoapproveid"
                      },
                      "autoapproveidstring": {
                        "type": "string",
                        "title": "Certificate Template Auto Approver Account IDs String",
                        "description": "autoapproveidstring"
                      },
                      "hidden": {
                        "type": "string",
                        "description": "Certificate Template hidden from certificate requesters.",
                        "title": "Template Hidden"
                      },
                      "renewalstatus": {
                        "type": "string",
                        "description": "Imported certificates will have this renewal status",
                        "title": "Renewal Status"
                      },
                      "lastmodified": {
                        "type": "string",
                        "description": "Last Modified Epoch Timestamp",
                        "title": "Last Modified Epoch Timestamp"
                      },
                      "lastmodifiedepoch": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lastmodifiedepoch"
                      },
                      "lastmodifiedid": {
                        "type": "string",
                        "description": "Last Modified By ID",
                        "title": "Last Modified By ID"
                      },
                      "lastmodifiedemail": {
                        "type": "string",
                        "description": "Last Modified By Email",
                        "title": "Last Modified By Email"
                      },
                      "lastmodifiedevent": {
                        "type": "string",
                        "description": "Last Modified Event",
                        "title": "Last Modified Event"
                      }
                    },
                    "description": "cloudpki"
                  }
                }
              }
            }
          }
        },
        "summary": "Query Certificate Templates",
        "description": "Search for certificate templates",
        "operationId": "Query-Templates",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "regionid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment Region",
            "x-ms-summary": "Region ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-Regions",
              "value-path": "regionid",
              "value-title": "regionname"
            }
          },
          {
            "name": "deploymentid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Cloud PKI Deployment ID eg.. 24F3NU4E",
            "x-ms-visibility": "important",
            "x-ms-summary": "Deployment ID",
            "x-ms-dynamic-values": {
              "operationId": "Get-RegionDeployments",
              "value-path": "deploymentid",
              "value-title": "displayname",
              "parameters": {
                "regionid": {
                  "parameter": "regionid"
                }
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select Published or Unpublished",
            "x-ms-summary": "Status",
            "enum": [
              "Published",
              "Unpublished"
            ]
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select User or Computer",
            "x-ms-summary": "Type",
            "enum": [
              "User",
              "Computer"
            ]
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select Version 1 (Server 2000), Version 2 (Server 2003 Enterprise), Version 3 (Server 2008 Standard), Version 4 (Server 2012 Standard)",
            "x-ms-summary": "Template Version",
            "enum": [
              "1",
              "2",
              "3",
              "4"
            ]
          },
          {
            "name": "templateoid",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Template OID",
            "description": "eg..1.3.6.1.4.1.52136"
          },
          {
            "name": "keytype",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select RSA or ECC",
            "x-ms-summary": "Key Type",
            "enum": [
              "RSA",
              "ECC"
            ]
          },
          {
            "name": "min-minkeylength",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Minimum key lengths greater than or equal to eg.. 512",
            "x-ms-summary": "Smallest Minimum Key Length"
          },
          {
            "name": "max-minkeylength",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Minimum key lengths less than or equal to eg.. 4096",
            "x-ms-summary": "Largest Minimum Key Length"
          },
          {
            "name": "min-validity",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Certificates valid for at least \"x\" days eg.. 180",
            "x-ms-summary": "Shortest Validity Period"
          },
          {
            "name": "max-validity",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Certificates valid for at most \"x\" days eg.. 180",
            "x-ms-summary": "Longest Validity Period"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudpkimanagement/#query-certificate-templates"
        }
      }
    },
    "/{connectionId}/{regionid}/deployments/{deploymentid}/crls/{crlid}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "validfrom": {
                  "type": "string",
                  "description": "CRL Start Date",
                  "title": "Valid From"
                },
                "validto": {
                  "type": "string",
                  "description": "CRL Expiry Date",
                  "title": "Valid To"
                },
                "validfromepoch": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CRL Start Date as Epoch timestamp",
                  "title": "Valid From (Epoch)"
                },
                "validtoepoch": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CRL Expiry Date as Epoch Timestamp",
                  "title": "Valid To (Epoch)"
                },
                "issuer": {
                  "type": "string",
                  "description": "Issuing CA Common Name",
                  "title": "Issuing CA"
                },
                "signaturealgorithm": {
                  "type": "string",
                  "description": "Signature Algorithm",
                  "title": "Signature Algorithm"
                },
                "signaturehashalgorithm": {
                  "type": "string",
                  "description": "Signature Hash Algorithm",
                  "title": "Signature Hash Algorithm"
                },
                "caversion": {
                  "type": "string",
[...]
