{
  "swagger": "2.0",
  "info": {
    "title": "Defender for Cloud Apps",
    "description": "Microsoft Defender for Cloud Apps gives you visibility into your cloud apps and services, provides sophisticated analytics to identify and combat cyberthreats and enables you to control how your data travels.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/cloudappsecurity",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/cas/api/v1/ms_flow/": {
      "x-ms-notification-content": {
        "description": "Defender for Cloud Apps Alert",
        "schema": {
          "type": "object",
          "properties": {
            "Version": {
              "type": "string",
              "description": "The version of the alert schema"
            },
            "VendorName": {
              "type": "string",
              "description": "The name of the vendor that raised the alert"
            },
            "ProviderName": {
              "type": "string",
              "description": "The name of the vendor that raised the alert"
            },
            "AlertType": {
              "type": "string",
              "description": "The type name of the alert"
            },
            "StartTimeUtc": {
              "type": "string",
              "format": "date-time",
              "description": "The impact start time of the alert (the time of the first event contributing to the alert)"
            },
            "EndTimeUtc": {
              "type": "string",
              "format": "date-time",
              "description": "The impact end time of the alert (the time of the last event contributing to the alert)"
            },
            "TimeGenerated": {
              "type": "string",
              "format": "date-time",
              "description": "The time the alert was generated by CAS"
            },
            "Severity": {
              "type": "string",
              "enum": [
                "Informational",
                "Low",
                "Medium",
                "High"
              ],
              "description": "The severity of the alert"
            },
            "ProviderAlertId": {
              "type": "string",
              "description": "Unique ID for the specific alert instance"
            },
            "ProviderPolicyId": {
              "type": "string",
              "description": "ID of the MCAS policy that triggered the alert"
            },
            "CorrelationKey": {
              "type": "string",
              "description": "Used to group similar or duplicate alerts"
            },
            "AzureResourceId": {
              "type": "string",
              "description": "The full ARM resource identifier for the cloud resource being alerted on"
            },
            "CompromisedEntity": {
              "type": "string",
              "description": "Display name of the main entity being reported on"
            },
            "AlertDisplayName": {
              "type": "string",
              "description": "The display name of the alert"
            },
            "Description": {
              "type": "string",
              "description": "Alert description"
            },
            "RemediationSteps": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Manual action items to take to remediate the alert"
            },
            "Metadata": {
              "type": "object",
              "x-ms-visibility": "advanced",
              "description": "Contains technical fields that assist in alert processing",
              "properties": {
                "Component": {
                  "type": "string",
                  "description": "Component",
                  "x-ms-visibility": "advanced"
                },
                "ComponentVersion": {
                  "type": "string",
                  "description": "ComponentVersion",
                  "x-ms-visibility": "advanced"
                },
                "TenantId": {
                  "type": "string",
                  "description": "TenantId",
                  "x-ms-visibility": "advanced"
                },
                "MCASTenantId": {
                  "type": "string",
                  "description": "MCASTenantId",
                  "x-ms-visibility": "advanced"
                },
                "MCASDC": {
                  "type": "string",
                  "format": "date-time",
                  "description": "MCASDC",
                  "x-ms-visibility": "advanced"
                },
                "DuplicateAlertsContextId": {
                  "type": "string",
                  "description": "DuplicateAlertsContextId",
                  "x-ms-visibility": "advanced"
                },
                "MCASAlertCategory": {
                  "type": "string",
                  "description": "MCASAlertCategory",
                  "x-ms-visibility": "advanced"
                }
              }
            },
            "ExtendedProperties": {
              "type": "object",
              "description": "Extended alert properties",
              "properties": {
                "IP Addresses": {
                  "type": "string",
                  "description": "IP addresses related to the alert"
                },
                "Cloud Applications": {
                  "type": "string",
                  "description": "Cloud applications related to the alert"
                },
                "Countries": {
                  "type": "string",
                  "description": "Countries related to the alert"
                }
              }
            },
            "Entities": {
              "type": "array",
              "description": "A list of entities related to the alert. This list can hold a mixture of entities of diverse types.",
              "items": {
                "type": "object",
                "properties": {
                  "Type": {
                    "type": "string",
                    "description": "Type of the entity"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name of the entity"
                  },
                  "AadTenantId": {
                    "type": "string",
                    "description": "AAD Tenant ID of an account entity"
                  },
                  "AadUserId": {
                    "type": "string",
                    "description": "AAD User ID of an account entity"
                  },
                  "UPNSuffix": {
                    "type": "string",
                    "description": "UPN Suffix of an account entity"
                  },
                  "Address": {
                    "type": "string",
                    "description": "IP Address of an IP entity"
                  },
                  "ResourceId": {
                    "type": "string",
                    "description": "ResourceId of an Azure resource entity"
                  },
                  "Domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of domains of a cloud application entity"
                  }
                }
              }
            },
            "ExtendedLinks": {
              "type": "array",
              "description": "A list of links related to the alert. This list can hold a mixture of links of diverse types.",
              "items": {
                "type": "object",
                "properties": {
                  "Type": {
                    "type": "string",
                    "description": "Link type"
                  },
                  "Category": {
                    "type": "string",
                    "description": "Link category"
                  },
                  "Label": {
                    "type": "string",
                    "description": "Link label"
                  },
                  "Href": {
                    "type": "string",
                    "description": "Link address"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "When an alert is generated",
        "description": "Triggers when a Defender for Cloud Apps alert is generated. After configuring your flow, go to the Defender for Cloud Apps policy page, and specify this flow in one of your policies.",
        "operationId": "MCAS_ON_ALERT_GENERATED",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "callback_url"
              ],
              "properties": {
                "callback_url": {
                  "type": "string",
                  "description": "callback_url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#when-an-alert-is-generated"
        }
      }
    },
    "/{connectionId}/cas/api/v1/ms_flow/{flow_id}/": {
      "delete": {
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Delete flow",
        "operationId": "MCAS_DELETE_FLOW",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "flow_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Deletes a flow",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#delete-flow"
        }
      }
    },
    "/{connectionId}/cas/api/v1/alerts/dismiss_bulk/": {
      "post": {
        "deprecated": true,
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "(Deprecated) Dismiss Defender for Cloud Apps alert",
        "description": "Dismiss Defender for Cloud Apps alert by alert ID (deprecated version)",
        "operationId": "MCAS_DISMISS_ALERT",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filters": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "object",
                      "properties": {
                        "eq": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "Enter alert ID...",
                            "title": "Alert ID"
                          },
                          "description": "eq"
                        }
                      },
                      "description": "id",
                      "required": [
                        "eq"
                      ]
                    }
                  },
                  "description": "filters",
                  "required": [
                    "id"
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "Comment",
                  "title": "Dismissal comment",
                  "default": "Dismissed using Microsoft Flow"
                }
              },
              "required": [
                "filters"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#(deprecated)-dismiss-defender-for-cloud-apps-alert-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/cas/api/v1/alerts/resolve/": {
      "post": {
        "deprecated": true,
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_RESOLVE_ALERT",
        "summary": "(Deprecated) Resolve Defender for Cloud Apps alert",
        "description": "Resolve Defender for Cloud Apps alert by alert ID (deprecated version)",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filters": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "object",
                      "properties": {
                        "eq": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "Enter alert ID...",
                            "title": "Alert ID"
                          },
                          "description": "eq"
                        }
                      },
                      "description": "id",
                      "required": [
                        "eq"
                      ]
                    }
                  },
                  "description": "filters",
                  "required": [
                    "id"
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "Comment",
                  "title": "Resolution comment",
                  "default": "Resolved using Microsoft Flow"
                }
              },
              "required": [
                "filters"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#(deprecated)-resolve-defender-for-cloud-apps-alert-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/cas/api/v1/alerts/close_false_positive/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_CLOSE_ALERT_FALSE_POSITIVE",
        "summary": "Close Defender for Cloud Apps alert as false positive",
        "description": "Close Defender for Cloud Apps alert by alert ID as false positive",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filters": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "object",
                      "properties": {
                        "eq": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "Enter alert ID...",
                            "title": "Alert ID"
                          },
                          "description": "eq"
                        }
                      },
                      "description": "id",
                      "required": [
                        "eq"
                      ]
                    }
                  },
                  "description": "filters",
                  "required": [
                    "id"
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "Comment",
                  "title": "Resolution comment",
                  "default": "Closed as false positive using Microsoft Flow"
                }
              },
              "required": [
                "filters"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#close-defender-for-cloud-apps-alert-as-false-positive"
        }
      }
    },
    "/{connectionId}/cas/api/v1/alerts/close_true_positive/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_CLOSE_ALERT_TRUE_POSITIVE",
        "summary": "Close Defender for Cloud Apps alert as true positive",
        "description": "Close Defender for Cloud Apps alert by alert ID as true positive",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filters": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "object",
                      "properties": {
                        "eq": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "Enter alert ID...",
                            "title": "Alert ID"
                          },
                          "description": "eq"
                        }
                      },
                      "description": "id",
                      "required": [
                        "eq"
                      ]
                    }
                  },
                  "description": "filters",
                  "required": [
                    "id"
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "Comment",
                  "title": "Resolution comment",
                  "default": "Closed as true positive using Microsoft Flow"
                }
              },
              "required": [
                "filters"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#close-defender-for-cloud-apps-alert-as-true-positive"
        }
      }
    },
    "/{connectionId}/cas/api/v1/alerts/close_benign/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_CLOSE_ALERT_BENIGN",
        "summary": "Close Defender for Cloud Apps alert as benign",
        "description": "Close Defender for Cloud Apps alert by alert ID as benign",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "filters": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "object",
                      "properties": {
                        "eq": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "Enter alert ID...",
                            "title": "Alert ID"
                          },
                          "description": "eq"
                        }
                      },
                      "description": "id",
                      "required": [
                        "eq"
                      ]
                    }
                  },
                  "description": "filters",
                  "required": [
                    "id"
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "Comment",
                  "title": "Resolution comment",
                  "default": "Closed as benign using Microsoft Flow"
                }
              },
              "required": [
                "filters"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#close-defender-for-cloud-apps-alert-as-benign"
        }
      }
    },
    "/{connectionId}/cas/api/v1/policies/{policy_id}/disable/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_DISABLE_POLICY",
        "summary": "Disable Defender for Cloud Apps policy",
        "description": "Disable Defender for Cloud Apps policy by policy ID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "policy_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Provider policy ID",
            "description": "Enter provider policy ID..."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#disable-defender-for-cloud-apps-policy"
        }
      }
    },
    "/{connectionId}/cas/api/v1/policies/{policy_id}/enable/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_ENABLE_POLICY",
        "summary": "Enable Defender for Cloud Apps policy",
        "description": "Enable Defender for Cloud Apps policy by policy ID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "policy_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter provider policy ID...",
            "x-ms-summary": "Provider policy ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#enable-defender-for-cloud-apps-policy"
        }
      }
    },
    "/{connectionId}/cas/api/v1/alerts/": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/AlertsAPIResult"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Defender for Cloud Apps open alerts",
        "operationId": "MCAS_GET_OPEN_ALERTS",
        "description": "Get Defender for Cloud Apps open alerts",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "skip": {
                  "type": "integer",
                  "format": "int32",
                  "description": "skip",
                  "title": "skip",
                  "x-ms-visibility": "internal",
                  "default": 0
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Enter limit...",
                  "title": "Limit",
                  "default": 20
                },
                "filters": {
                  "type": "object",
                  "properties": {},
                  "x-ms-visibility": "internal",
                  "default": {
                    "resolutionStatus": {
                      "eq": 0
                    }
                  },
                  "description": "filters"
                },
                "sortField": {
                  "type": "string",
                  "description": "sortField",
                  "title": "sortField",
                  "x-ms-visibility": "internal",
                  "default": "date"
                },
                "sortDirection": {
                  "type": "string",
                  "description": "sortDirection",
                  "title": "sortDirection",
                  "x-ms-visibility": "internal",
                  "default": "desc"
                },
                "projectedMSFlowFields": {
                  "type": "boolean",
                  "description": "projectedMSFlowFields",
                  "title": "projectedMSFlowFields",
                  "x-ms-visibility": "internal",
                  "default": true
                }
              },
              "required": [
                "filters",
                "projectedMSFlowFields",
                "skip",
                "sortDirection",
                "sortField"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#get-defender-for-cloud-apps-open-alerts"
        }
      }
    },
    "/{connectionId}/cas/api/v1/policies/{policy_id}/": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PolicyAPIResult"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_GET_POLICY",
        "summary": "Get Defender for Cloud Apps policy",
        "description": "Get Defender for Cloud Apps policy by policy ID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "policy_id",
            "description": "Enter provider policy ID...",
            "x-ms-summary": "Provider policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "projectedMSFlowFields": {
                  "type": "string",
                  "description": "projectedMSFlowFields",
                  "title": "projectedMSFlowFields",
                  "x-ms-visibility": "internal",
                  "default": "true"
                }
              },
              "required": [
                "projectedMSFlowFields"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#get-defender-for-cloud-apps-policy"
        }
      }
    },
    "/{connectionId}/cas/api/v1/activities/": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ActivitiesAPIResult"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Defender for Cloud Apps activities",
        "operationId": "MCAS_GET_ACTIVITIES",
        "description": "Get Defender for Cloud Apps activities performed by Azure AD user ID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "skip": {
                  "type": "integer",
                  "format": "int32",
                  "description": "skip",
                  "title": "skip",
                  "x-ms-visibility": "internal",
                  "default": 0
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Enter limit...",
                  "title": "Limit",
                  "default": 20
                },
                "filters": {
                  "type": "object",
                  "properties": {
                    "entity": {
                      "type": "object",
                      "properties": {
                        "eq": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Enter AAD User ID...",
                                "title": "AAD User ID"
                              },
                              "saas": {
                                "type": "integer",
                                "format": "int32",
                                "description": "saas",
                                "title": "saas",
                                "x-ms-visibility": "internal",
                                "default": 11161
                              },
                              "inst": {
                                "type": "integer",
                                "format": "int32",
                                "description": "inst",
                                "title": "inst",
                                "x-ms-visibility": "internal",
                                "default": 0
                              }
                            },
                            "required": [
                              "id",
                              "inst",
                              "saas"
                            ]
                          },
                          "description": "eq"
                        }
                      },
                      "description": "entity",
                      "required": [
                        "eq"
                      ]
                    }
                  },
                  "description": "filters",
                  "required": [
                    "entity"
                  ]
                },
                "sortField": {
                  "type": "string",
                  "description": "sortField",
                  "title": "sortField",
                  "x-ms-visibility": "internal",
                  "default": "date"
                },
                "sortDirection": {
                  "type": "string",
                  "description": "sortDirection",
                  "title": "sortDirection",
                  "x-ms-visibility": "internal",
                  "default": "desc"
                }
              },
              "required": [
                "filters",
                "skip",
                "sortDirection",
                "sortField"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#get-defender-for-cloud-apps-activities"
        }
      }
    },
    "/{connectionId}/cas/api/v1/discovery/discovery_app/{app_id}/set_sanctioned/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_TAG_APP_SANCTIONED",
        "summary": "Tag app as sanctioned",
        "description": "Tag app as sanctioned by app ID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Enter Cloud Application ID...",
            "x-ms-summary": "Cloud Application"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "sanction": {
                  "type": "string",
                  "description": "sanction",
                  "title": "sanction",
                  "x-ms-visibility": "internal",
                  "default": "true"
                }
              },
              "required": [
                "sanction"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#tag-app-as-sanctioned"
        }
      }
    },
    "/{connectionId}/cas/api/v1/discovery/discovery_app/{app_id}/set_banned/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "MCAS_TAG_APP_UNSANCTIONED",
        "summary": "Tag app as unsanctioned",
        "description": "Tag app as unsanctioned by app ID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Cloud Application",
            "description": "Enter Cloud Application ID...",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ban": {
                  "type": "string",
                  "description": "ban",
                  "title": "ban",
                  "x-ms-visibility": "internal",
                  "default": "true"
                }
              },
              "required": [
                "ban"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cloudappsecurity/#tag-app-as-unsanctioned"
        }
      }
    }
  },
  "definitions": {
    "ActivitiesAPIResult": {
      "type": "object",
      "x-ms-summary": "Activities",
      "properties": {
        "data": {
          "$ref": "#/definitions/ActivitiesData"
        }
      }
    },
    "ActivitiesData": {
      "description": "Activities by AAD user ID",
      "type": "array",
      "items": {
        "type": "object"
      }
    },
    "AlertsAPIResult": {
      "type": "object",
      "x-ms-summary": "Open alerts",
      "properties": {
        "data": {
          "$ref": "#/definitions/AlertsData"
        }
      }
    },
    "AlertsData": {
      "description": "Get open alerts",
      "type": "array",
      "items": {
        "type": "object"
      }
    },
    "PolicyAPIResult": {
      "type": "object",
      "x-ms-summary": "Policy",
      "properties": {
        "name": {
          "$ref": "#/definitions/PolicyName"
        },
        "description": {
          "$ref": "#/definitions/PolicyDescription"
        },
        "policyType": {
          "$ref": "#/definitions/PolicyType"
        },
        "alertDailyLimit": {
          "$ref": "#/definitions/DailyAlertLimit"
        },
        "lastModified": {
          "$ref": "#/definitions/LastModified"
        }
      }
    },
    "PolicyName": {
      "x-ms-summary": "Name",
      "description": "The name of the policy",
      "type": "string"
    },
    "PolicyDescription": {
      "x-ms-summary": "Description",
      "description": "The description of the policy",
      "type": "string"
    },
    "PolicyType": {
      "x-ms-summary": "Type",
      "description": "The type of the policy",
      "type": "string"
    },
    "DailyAlertLimit": {
      "x-ms-summary": "Daily alert limit",
      "description": "Daily limit of generated alerts",
      "type": "integer"
    },
    "LastModified": {
      "x-ms-summary": "Last modified",
      "description": "Last modified timestamp",
      "type": "number"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.microsoft.com/microsoft-365/enterprise-mobility-security/cloud-app-security"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/cloudappsecurity"
  }
}
