{
  "swagger": "2.0",
  "info": {
    "title": "Shop (Independent Publisher)",
    "description": "Search for millions of products from the world's greatest brands.",
    "version": "v1",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/openai/search": {
      "get": {
        "summary": "Search for products",
        "operationId": "search",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "query",
            "description": "Query string to search for items.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "price_min",
            "description": "The minimum price to filter by.",
            "type": "number"
          },
          {
            "in": "query",
            "name": "price_max",
            "description": "The maximum price to filter by.",
            "type": "number"
          },
          {
            "in": "query",
            "name": "similar_to_id",
            "description": "A product id that you want to find similar products for. (Only include one)",
            "type": "string"
          },
          {
            "in": "query",
            "name": "num_results",
            "description": "How many results to return. Defaults to 5. It can be a number between 1 and 10.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchResponse"
            }
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/shop/#search-for-products"
        }
      }
    },
    "/{connectionId}/openai/details": {
      "get": {
        "summary": "Return more details about a list of products",
        "operationId": "details",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "ids",
            "description": "Comma separated list of product ids",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/searchResponse"
            }
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/shop/#return-more-details-about-a-list-of-products"
        }
      }
    }
  },
  "definitions": {
    "searchResponse": {
      "type": "object",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "description": "The list of products matching the search",
            "type": "object",
            "properties": {
              "title": {
                "description": "The title of the product",
                "type": "string"
              },
              "price": {
                "format": "string",
                "description": "The price of the product",
                "type": "number"
              },
              "currency_code": {
                "description": "The currency that the price is in",
                "type": "string"
              },
              "url": {
                "description": "The url of the product page for this product",
                "type": "string"
              },
              "description": {
                "description": "The description of the product",
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/shop"
  },
  "basePath": "/apim/shop"
}
