{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "Pinterest",
    "description": "Pinterest allows you to create a bulletin of photos called a Board. You can follow boards, add pins to existing ones or collaborate with people to build shared boards.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/pinterest",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/me/following/boards": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List boards I follow",
        "description": "List boards I follow",
        "operationId": "ListFollowBoards",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListFollowBoards",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-boards-i-follow-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/users/me/boards/following": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List boards I follow (V2)",
        "description": "List boards I follow",
        "operationId": "ListFollowBoards_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListFollowBoards",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-boards-i-follow-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/me/boards": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List my boards",
        "description": "List my boards",
        "operationId": "ListMyBoards",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListMyBoards",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-my-boards-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/users/me/boards/feed": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List my boards (V2)",
        "description": "List my boards",
        "operationId": "ListMyBoards_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListMyBoards",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-my-boards-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/boards": {
      "post": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Create board",
        "description": "Create board",
        "operationId": "CreateBoard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name",
            "required": true,
            "x-ms-summary": "Name",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "test board"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description",
            "required": false,
            "x-ms-summary": "Description",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardResponseData"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateBoard",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#create-board-%5bdeprecated%5d"
        }
      },
      "put": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Create board (V2)",
        "description": "Create board",
        "operationId": "CreateBoard_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name",
            "required": true,
            "x-ms-summary": "Name",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "test board"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description",
            "required": false,
            "x-ms-summary": "Description",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardResponseData"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateBoard",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#create-board-(v2)"
        }
      }
    },
    "/{connectionId}/boards/{board}": {
      "patch": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Edit board",
        "description": "Edit board",
        "operationId": "EditBoard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board",
            "in": "path",
            "description": "Board",
            "required": true,
            "x-ms-summary": "Board",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "641059396897510970"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name",
            "required": false,
            "x-ms-summary": "Name",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "description": "Description",
            "required": false,
            "x-ms-summary": "Description",
            "x-ms-visibility": "advanced",
            "type": "string",
            "x-ms-tes-value": "update description"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardResponseData"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "EditBoard",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#edit-board-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/me/pins": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List all pins",
        "description": "List all pins",
        "operationId": "ListAllPins",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListAllPins",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-all-pins-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/users/me/pins": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List all pins (V2)",
        "description": "List all pins",
        "operationId": "ListAllPins_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListAllPins",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-all-pins-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/boards/{board}/pins": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List pins from a board",
        "description": "List pins from a board",
        "operationId": "ListPinsFromBoard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board",
            "in": "path",
            "description": "Board",
            "required": true,
            "x-ms-summary": "Board",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "641059396897510970"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListPinsFromBoard",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-pins-from-a-board"
        }
      }
    },
    "/{connectionId}/pins": {
      "post": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Create pin",
        "description": "Create pin",
        "operationId": "CreatePin",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board",
            "in": "query",
            "description": "Board",
            "required": true,
            "x-ms-summary": "Board",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "641059396897510970"
          },
          {
            "name": "note",
            "in": "query",
            "description": "The user-entered description of the pin",
            "required": true,
            "x-ms-summary": "Note",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "some description"
          },
          {
            "name": "image_url",
            "in": "query",
            "description": "The link to the image that you want to pin (source)",
            "required": true,
            "x-ms-summary": "Image Url",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "http://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png "
          },
          {
            "name": "link",
            "in": "query",
            "description": "The url the pin will link to when you click through",
            "required": false,
            "x-ms-summary": "Link",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponseData"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreatePin",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#create-pin-%5bdeprecated%5d"
        }
      },
      "put": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Create pin (V2)",
        "description": "Create pin",
        "operationId": "CreatePin_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "Board",
            "required": true,
            "x-ms-summary": "Board",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "641059396897510970"
          },
          {
            "name": "description",
            "in": "query",
            "description": "The user-entered description of the pin",
            "required": true,
            "x-ms-summary": "Description",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "some description"
          },
          {
            "name": "image_url",
            "in": "query",
            "description": "The link to the image that you want to pin (source)",
            "required": true,
            "x-ms-summary": "Image Url",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "http://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png "
          },
          {
            "name": "source_url",
            "in": "query",
            "description": "The url the pin will link to when you click through",
            "required": false,
            "x-ms-summary": "Link",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponseData"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreatePin",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#create-pin-(v2)"
        }
      }
    },
    "/{connectionId}/pins/{pin}": {
      "patch": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Edit pin",
        "description": "Edit pin",
        "operationId": "EditPin",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board",
            "in": "query",
            "description": "Board",
            "required": true,
            "x-ms-summary": "Board",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "641059396897510970"
          },
          {
            "name": "pin",
            "in": "path",
            "description": "Pin",
            "required": true,
            "x-ms-summary": "Pin",
            "x-ms-dynamic-values": {
              "operationId": "ListPinsFromBoard",
              "parameters": {
                "board": {
                  "parameter": "board"
                }
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "note"
            },
            "type": "string",
            "x-ms-test-value": "641059328178710997"
          },
          {
            "name": "note",
            "in": "query",
            "description": "The user-entered description of the pin",
            "required": true,
            "x-ms-summary": "Note",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "some note"
          },
          {
            "name": "link",
            "in": "query",
            "description": "The url the pin will link to when you click through",
            "required": false,
            "x-ms-summary": "Link",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "secondBoard",
            "in": "query",
            "description": "The board to move the pin to",
            "required": false,
            "x-ms-summary": "Board to move pin to",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponseData"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "EditPin",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#edit-pin-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/pins/{pin}/save": {
      "post": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Edit pin (V2)",
        "description": "Edit pin",
        "operationId": "EditPin_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "Board",
            "required": true,
            "x-ms-summary": "Board",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "641059396897510970"
          },
          {
            "name": "pin",
            "in": "path",
            "description": "Pin",
            "required": true,
            "x-ms-summary": "Pin",
            "x-ms-dynamic-values": {
              "operationId": "ListPinsFromBoard",
              "parameters": {
                "board": {
                  "parameter": "board_id"
                }
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "note"
            },
            "type": "string",
            "x-ms-test-value": "641059328178710997"
          },
          {
            "name": "description",
            "in": "query",
            "description": "The user-entered description of the pin",
            "required": true,
            "x-ms-summary": "Note",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "some note"
          },
          {
            "name": "link",
            "in": "query",
            "description": "The url the pin will link to when you click through",
            "required": false,
            "x-ms-summary": "Link",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "secondBoard",
            "in": "query",
            "description": "The board to move the pin to",
            "required": false,
            "x-ms-summary": "Board to move pin to",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponseData"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "EditPin",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#edit-pin-(v2)"
        }
      }
    },
    "/{connectionId}/me": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Get current user",
        "description": "Get current user",
        "operationId": "GetCurrentUser",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurrentUserResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "GetCurrentUser",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#get-current-user-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/users/me": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "Get current user (V2)",
        "description": "Get current user",
        "operationId": "GetCurrentUser_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CurrentUserResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "GetCurrentUser",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#get-current-user-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/me/followers": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List my followers",
        "description": "List my followers",
        "operationId": "ListMyFollowers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListMyFollowers",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-my-followers-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/users/me/followers": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List my followers (V2)",
        "description": "List my followers",
        "operationId": "ListMyFollowers_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListMyFollowers",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-my-followers-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/me/following/users": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List my followings",
        "description": "List my followings",
        "operationId": "ListMyFollowings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListMyFollowings",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-my-followings-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/users/me/following": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "List my followings (V2)",
        "description": "List my followings",
        "operationId": "ListMyFollowings_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListMyFollowings",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#list-my-followings-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger1/boards/{board}/pins": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "When pin is added to followed board",
        "description": "When pin is added to followed board",
        "operationId": "OnPinAddedToFollowedBoard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board",
            "in": "path",
            "description": "Board",
            "required": true,
            "x-ms-summary": "Board",
            "x-ms-dynamic-values": {
              "operationId": "ListFollowBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "641059396897510970"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, wait for a followed board to add a pin.",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnPinAddedToFollowedBoard",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#when-pin-is-added-to-followed-board"
        }
      }
    },
    "/{connectionId}/trigger2/boards/{board}/pins": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "When pin is added to my board",
        "description": "When pin is added to my board",
        "operationId": "OnPinAddedToMyBoard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board",
            "in": "path",
            "description": "Board",
            "required": true,
            "x-ms-summary": "Board",
            "x-ms-dynamic-values": {
              "operationId": "ListMyBoards_V2",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "641059396897510970"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PinResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a pin to the given board.",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnPinAddedToMyBoard",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#when-pin-is-added-to-my-board"
        }
      }
    },
    "/{connectionId}/trigger3/me/followers": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "When someone follows me",
        "description": "When someone follows me",
        "operationId": "OnSomeoneFollowsMe",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, wait until someone follows you.",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnSomeoneFollowsMe",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#when-someone-follows-me-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger4/users/me/followers": {
      "get": {
        "tags": [
          "Pinterest"
        ],
        "summary": "When someone follows me (V2)",
        "description": "When someone follows me",
        "operationId": "OnSomeoneFollowsMe_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, wait until someone follows you.",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnSomeoneFollowsMe",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pinterest/#when-someone-follows-me-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "BoardResponse": {
      "description": "BoardResponse",
      "type": "object",
      "properties": {
        "data": {
          "description": "Board Data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BoardResponseData"
          },
          "x-ms-summary": "Board Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "BoardResponseData": {
      "description": "BoardResponseData",
      "type": "object",
      "properties": {
        "url": {
          "description": "Url",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        },
        "id": {
          "description": "Id",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Name",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        }
      }
    },
    "PinResponse": {
      "description": "PinResponse",
      "type": "object",
      "properties": {
        "data": {
          "description": "Pin Data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PinResponseData"
          },
          "x-ms-summary": "Pin Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "PinResponseData": {
      "description": "PinResponseData",
      "type": "object",
      "properties": {
        "url": {
          "description": "Url",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        },
        "note": {
          "description": "Note",
          "type": "string",
          "x-ms-summary": "Note",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "link": {
          "description": "Link",
          "type": "string",
          "x-ms-summary": "Link",
          "x-ms-visibility": "important"
        },
        "id": {
          "description": "Id",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        }
      }
    },
    "UserResponse": {
      "description": "UserResponse",
      "type": "object",
      "properties": {
        "data": {
          "description": "User Data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserResponseData"
          },
          "x-ms-summary": "User Data",
          "x-ms-visibility": "important"
        },
        "page": {
          "$ref": "#/definitions/UserResponsePage"
        }
      }
    },
    "CurrentUserResponse": {
      "description": "CurrentUserResponse",
      "type": "object",
      "properties": {
        "data": {
          "description": "User Data",
          "type": "object",
          "items": {
            "$ref": "#/definitions/CurrentUserResponseData"
          },
          "x-ms-summary": "User Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "CurrentUserResponseData": {
      "description": "CurrentUserResponseData",
      "type": "object",
      "properties": {
        "url": {
          "description": "Url",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        },
        "first_name": {
          "description": "First name",
          "type": "string",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important"
        },
        "last_name": {
          "description": "Last Name",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "id": {
          "description": "User Id",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "username": {
          "description": "Username",
          "type": "string",
          "x-ms-summary": "Username",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "Created At",
          "type": "string",
          "x-ms-summary": "Created At",
          "x-ms-visibility": "advanced"
        },
        "full_name": {
          "description": "Full name",
          "type": "string",
          "x-ms-summary": "Full name",
          "x-ms-visibility": "important"
        },
        "profile_url": {
          "description": "Profile Url",
          "type": "string",
          "x-ms-summary": "Profile Url",
          "x-ms-visibility": "important"
        },
        "pin_count": {
          "type": "integer",
          "format": "int32",
          "description": "Pins",
          "x-ms-summary": "Pins",
          "x-ms-visibility": "advanced"
        },
        "following_count": {
          "type": "integer",
          "format": "int32",
          "description": "Following",
          "x-ms-summary": "Following",
          "x-ms-visibility": "advanced"
        },
        "follower_count": {
          "type": "integer",
          "format": "int32",
          "description": "Followers",
          "x-ms-summary": "Followers",
          "x-ms-visibility": "advanced"
        },
        "board_count": {
          "type": "integer",
          "format": "int32",
          "description": "Boards",
          "x-ms-summary": "Boards",
          "x-ms-visibility": "advanced"
        },
        "counts": {
          "type": "object",
          "properties": {
            "pins": {
              "type": "integer",
              "format": "int32",
              "description": "Pins",
              "x-ms-summary": "Pins",
              "x-ms-visibility": "advanced"
            },
            "following": {
              "type": "integer",
              "format": "int32",
              "description": "Following",
              "x-ms-summary": "Following",
              "x-ms-visibility": "advanced"
            },
            "followers": {
              "type": "integer",
              "format": "int32",
              "description": "Followers",
              "x-ms-summary": "Followers",
              "x-ms-visibility": "advanced"
            },
            "boards": {
              "type": "integer",
              "format": "int32",
              "description": "Boards",
              "x-ms-summary": "Boards",
              "x-ms-visibility": "advanced"
            },
            "likes": {
              "type": "integer",
              "format": "int32",
              "description": "Likes",
              "x-ms-summary": "Likes",
              "x-ms-visibility": "advanced"
            }
          }
        }
      }
    },
    "UserResponseData": {
      "description": "UserResponseData",
      "type": "object",
      "properties": {
        "url": {
          "description": "Url",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        },
        "first_name": {
          "description": "First name",
          "type": "string",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important"
        },
        "last_name": {
          "description": "Last Name",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "id": {
          "description": "User Id",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "username": {
          "description": "Username",
          "type": "string",
          "x-ms-summary": "Username",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UserResponsePage": {
      "description": "UserResponsePage",
      "type": "object",
      "properties": {
        "cursor": {
          "description": "Cursor",
          "type": "string",
          "x-ms-summary": "Cursor",
          "x-ms-visibility": "important"
        },
        "next": {
          "description": "Next",
          "type": "string",
          "x-ms-summary": "Next",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListMyBoards_V2"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pinterest.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policy.pinterest.com/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/pinterest"
  }
}