{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "SMTP",
    "description": "SMTP (Simple Mail Transfer Protocol) is an internet standard for email supported by most email processing servers. Connect to SMTP to send email.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/smtp",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/SendEmail": {
      "post": {
        "tags": [
          "Smtp"
        ],
        "summary": "Send Email",
        "description": "This operation sends an email to one or more recipients.",
        "operationId": "SendEmail",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "emailMessage",
            "in": "body",
            "description": "Email message.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Email"
            },
            "x-ms-summary": "Email message"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendMail",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smtp/#send-email-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/SendEmailV2": {
      "post": {
        "tags": [
          "Smtp"
        ],
        "summary": "Send Email",
        "description": "This operation sends an email to one or more recipients.",
        "operationId": "SendEmailV2",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "emailMessage",
            "in": "body",
            "description": "Email message.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailV2"
            },
            "x-ms-summary": "Email message"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendMail",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smtp/#send-email-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/SendEmailV3": {
      "post": {
        "tags": [
          "Smtp"
        ],
        "summary": "Send Email (V3)",
        "description": "This operation sends an email to one or more recipients.",
        "operationId": "SendEmailV3",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "emailMessage",
            "in": "body",
            "description": "Email message.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailV3"
            },
            "x-ms-summary": "Email message"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendMail",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smtp/#send-email-(v3)"
        }
      }
    },
    "/{connectionId}/TestConnection": {
      "get": {
        "tags": [
          "Smtp"
        ],
        "summary": "Test connection",
        "description": "Test connection.",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smtp/#test-connection"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "Email": {
      "description": "SMTP Email",
      "type": "object",
      "properties": {
        "From": {
          "format": "email",
          "description": "Email address of sender like sender@domain.com",
          "type": "string",
          "x-ms-summary": "From"
        },
        "To": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com",
          "type": "string",
          "x-ms-summary": "To"
        },
        "CC": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com",
          "type": "string",
          "x-ms-summary": "CC",
          "x-ms-visibility": "advanced"
        },
        "Subject": {
          "description": "Email subject",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "Body": {
          "description": "Email body",
          "type": "string",
          "x-ms-summary": "Body"
        },
        "IsHtml": {
          "description": "Send the email as HTML (true/false)",
          "type": "boolean",
          "x-ms-summary": "Is HTML",
          "x-ms-visibility": "advanced"
        },
        "Bcc": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com.",
          "type": "string",
          "x-ms-summary": "Bcc",
          "x-ms-visibility": "advanced"
        },
        "Importance": {
          "description": "Importance of the email (High, Normal, or Low)",
          "enum": [
            "Normal",
            "Low",
            "High"
          ],
          "type": "string",
          "x-ms-summary": "Importance",
          "x-ms-visibility": "advanced"
        },
        "ReadReceipt": {
          "format": "email",
          "description": "Specify email address for Read receipt",
          "type": "string",
          "x-ms-summary": "Read Receipt",
          "x-ms-visibility": "advanced"
        },
        "DeliveryReceipt": {
          "format": "email",
          "description": "Specify email address for Delivery receipt",
          "type": "string",
          "x-ms-summary": "Delivery Receipt",
          "x-ms-visibility": "advanced"
        },
        "Attachments": {
          "description": "Attachments to be sent along with the email",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          },
          "x-ms-summary": "Attachments",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Attachment": {
      "description": "Email attachment",
      "required": [
        "ContentData",
        "ContentType",
        "ContentTransferEncoding"
      ],
      "type": "object",
      "properties": {
        "FileName": {
          "description": "File name",
          "type": "string",
          "x-ms-summary": "File name"
        },
        "ContentId": {
          "description": "Content id",
          "type": "string",
          "x-ms-summary": "Content id"
        },
        "ContentData": {
          "description": "Content data (base64 encoded for streams and as-is for string)",
          "type": "string",
          "x-ms-summary": "Content data"
        },
        "ContentType": {
          "description": "Content type",
          "type": "string",
          "x-ms-summary": "Content type"
        },
        "ContentTransferEncoding": {
          "description": "Content Transfer Encoding (base64 or none)",
          "type": "string",
          "x-ms-summary": "Content Transfer Encoding"
        }
      }
    },
    "EmailV2": {
      "description": "SMTP email (v2)",
      "type": "object",
      "properties": {
        "From": {
          "format": "email",
          "description": "Email address of sender like sender@domain.com",
          "type": "string",
          "x-ms-summary": "From"
        },
        "To": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com",
          "type": "string",
          "x-ms-summary": "To"
        },
        "CC": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com",
          "type": "string",
          "x-ms-summary": "CC",
          "x-ms-visibility": "advanced"
        },
        "Subject": {
          "description": "Email subject",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "Body": {
          "description": "Email body",
          "type": "string",
          "x-ms-summary": "Body"
        },
        "IsHtml": {
          "description": "Send the email as HTML (true/false)",
          "type": "boolean",
          "x-ms-summary": "Is HTML",
          "x-ms-visibility": "advanced"
        },
        "Bcc": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com.",
          "type": "string",
          "x-ms-summary": "Bcc",
          "x-ms-visibility": "advanced"
        },
        "Importance": {
          "description": "Importance of the email (High, Normal, or Low)",
          "enum": [
            "Normal",
            "Low",
            "High"
          ],
          "type": "string",
          "x-ms-summary": "Importance",
          "x-ms-visibility": "advanced"
        },
        "ReadReceipt": {
          "format": "email",
          "description": "Specify email address for Read receipt",
          "type": "string",
          "x-ms-summary": "Read Receipt",
          "x-ms-visibility": "advanced"
        },
        "DeliveryReceipt": {
          "format": "email",
          "description": "Specify email address for Delivery receipt",
          "type": "string",
          "x-ms-summary": "Delivery Receipt",
          "x-ms-visibility": "advanced"
        },
        "Attachments": {
          "description": "Attachments to be sent along with the email",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttachmentV2"
          },
          "x-ms-summary": "Attachments",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "AttachmentV2": {
      "description": "Email attachment (V2)",
      "required": [
        "ContentData",
        "ContentType"
      ],
      "type": "object",
      "properties": {
        "ContentData": {
          "format": "byte",
          "description": "Content data",
          "type": "string",
          "x-ms-summary": "Content data"
        },
        "ContentType": {
          "description": "Content type",
          "type": "string",
          "x-ms-summary": "Content type"
        },
        "FileName": {
          "description": "File name",
          "type": "string",
          "x-ms-summary": "File name"
        },
        "ContentId": {
          "description": "Content id",
          "type": "string",
          "x-ms-summary": "Content id"
        }
      }
    },
    "EmailV3": {
      "description": "SMTP email (v3)",
      "type": "object",
      "properties": {
        "From": {
          "format": "email",
          "description": "Email address of sender like sender@domain.com",
          "type": "string",
          "x-ms-summary": "From"
        },
        "To": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com",
          "type": "string",
          "x-ms-summary": "To"
        },
        "CC": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com",
          "type": "string",
          "x-ms-summary": "CC",
          "x-ms-visibility": "advanced"
        },
        "Subject": {
          "description": "Email subject",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "Body": {
          "format": "html",
          "description": "Email body",
          "type": "string",
          "x-ms-summary": "Body"
        },
        "Bcc": {
          "format": "email",
          "description": "Specify email addresses separated by semicolons like recipient1@domain.com;recipient2@domain.com.",
          "type": "string",
          "x-ms-summary": "Bcc",
          "x-ms-visibility": "advanced"
        },
        "Importance": {
          "description": "Importance of the email (High, Normal, or Low)",
          "enum": [
            "Normal",
            "Low",
            "High"
          ],
          "type": "string",
          "x-ms-summary": "Importance",
          "x-ms-visibility": "advanced"
        },
        "ReadReceipt": {
          "format": "email",
          "description": "Specify email address for Read receipt",
          "type": "string",
          "x-ms-summary": "Read Receipt",
          "x-ms-visibility": "advanced"
        },
        "DeliveryReceipt": {
          "format": "email",
          "description": "Specify email address for Delivery receipt",
          "type": "string",
          "x-ms-summary": "Delivery Receipt",
          "x-ms-visibility": "advanced"
        },
        "Attachments": {
          "description": "Attachments to be sent along with the email",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttachmentV2"
          },
          "x-ms-summary": "Attachments",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/smtp"
  }
}
