{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Projectwise Share",
    "description": "ProjectWise Share is an instantly available, easy to configure File Sharing Service that’s associated with a CONNECT Project. It provides CONNECT Edition applications, Cloud Services and Mobile applications the ability to save and / or consume files from a common cloud repository and CONNECTED Users an easy, secure way to share files with Team Members.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/projectwiseshare",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/PSConnector/Action/CreateFile/{connectedProjectid}/{folderId}": {
      "post": {
        "tags": [
          "Action"
        ],
        "summary": "Create a file in ProjectWise Share",
        "description": "Create a File in ProjectWise Share Service under selected project and folder",
        "operationId": "ActionCreateFile",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectid",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "Project Share Folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "connectedProjectid"
                },
                "types": "folder",
                "isFolder": true
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "connectedProjectid"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "connectedProjectid"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Folder",
            "type": "string"
          },
          {
            "name": "documentModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PSConnector.CoreApi.Models.FileModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PSConnector.CoreApi.Models.ObjectResultResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#create-a-file-in-projectwise-share-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/Action/DeleteFile/{connectedProjectid}/{fileId}": {
      "post": {
        "tags": [
          "Action"
        ],
        "summary": "Delete a file in ProjectWise Share",
        "description": "Delete a File in ProjectWise Share Service under selected project and folder",
        "operationId": "ActionDeleteFile",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectid",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "fileId",
            "in": "path",
            "description": "Project Share File",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "connectedProjectid"
                },
                "types": "folder"
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "connectedProjectid"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "connectedProjectid"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "File",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PSConnector.CoreApi.Models.ObjectResultResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#delete-a-file-in-projectwise-share-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/Action/CreateFolder/{connectedProjectid}/{folderId}": {
      "post": {
        "tags": [
          "Action"
        ],
        "summary": "Create a folder in ProjectWise Share",
        "description": "Create a folder in ProjectWise Share Service under selected project and folder",
        "operationId": "ActionCreateFolder",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectid",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "Project Share Folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "connectedProjectid"
                },
                "types": "folder",
                "isFolder": true
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "connectedProjectid"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "connectedProjectid"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Folder",
            "type": "string"
          },
          {
            "name": "folder",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PSConnector.CoreApi.Models.FolderModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PSConnector.CoreApi.Models.ObjectResultResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#create-a-folder-in-projectwise-share-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/DeleteFlowEntity": {
      "delete": {
        "tags": [
          "PSApi"
        ],
        "summary": "Delete FlowEntity",
        "description": "Delete FlowEntity(filter on FlowId)",
        "operationId": "DeleteFlowEntity",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "flowId",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#delete-flowentity-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/ConnectProjectList": {
      "get": {
        "tags": [
          "PSApi"
        ],
        "summary": "Get CONNECT project list",
        "description": "Get CONNECT project list",
        "operationId": "GetProjectList",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PSConnector.CoreApi.Models.Item"
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#get-connect-project-list-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/RootFolderPicker/{Project}/{types}": {
      "get": {
        "tags": [
          "PSApi"
        ],
        "summary": "This action is used for file-picker",
        "description": "This action is used for file-picker",
        "operationId": "GetRootFolder",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "types",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "folder",
              "document",
              "all"
            ]
          },
          {
            "name": "parentType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "folder",
              "document",
              "all"
            ]
          },
          {
            "name": "parentId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentPath",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PSConnector.CoreApi.Models.PickerSelectionResponseModel"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#this-action-is-used-for-file-picker-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/EntityPicker/{Project}/{types}": {
      "get": {
        "tags": [
          "PSApi"
        ],
        "summary": "This action is used for file-picker",
        "description": "This action is used for file-picker",
        "operationId": "GetSelections",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "types",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "folder",
              "document",
              "all"
            ]
          },
          {
            "name": "parentType",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parentId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "parentPath",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PSConnector.CoreApi.Models.PickerSelectionResponseModel"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#this-action-is-used-for-file-picker-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/DropdownlistOptions": {
      "get": {
        "tags": [
          "PSApi"
        ],
        "summary": "Get DropDownListOptions",
        "description": "Get DropDownListOptions",
        "operationId": "GetDropdownlistOptions",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#get-dropdownlistoptions-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/GetFileContent/{selectedDropdownValue}": {
      "get": {
        "tags": [
          "PSApi"
        ],
        "summary": "Get FileContent schema dynamically",
        "description": "Get FileContent schema dynamically",
        "operationId": "GetFileContentSchema",
        "consumes": [],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "selectedDropdownValue",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PSConnector.CoreApi.Models.JsonSchema"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#get-filecontent-schema-dynamically-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FileMoved/{Project}/{File}/{FileContent}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a file is moved",
        "description": "When a file is moved",
        "operationId": "TriggerWhenFileIsMoved",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "File",
            "in": "path",
            "description": "Project Share File",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder"
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "FileContent",
            "in": "path",
            "description": "Include FileContent ?",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDropdownlistOptions",
              "value-path": "value",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Include FileContent",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.file.move"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-file-is-moved-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.FileNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FileHardDeleted/{Project}/{File}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a file is deleted from Recycle Bin",
        "description": "When a file is deleted from Recycle Bin",
        "operationId": "TriggerWhenFileIsHardDeleted",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "File",
            "in": "path",
            "description": "Project Share File",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder"
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.file.hardDelete"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-file-is-deleted-from-recycle-bin-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.CommonFileNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FileMovedToRecycleBin/{Project}/{File}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a file is moved to Recycle Bin",
        "description": "When a file is moved to Recycle Bin",
        "operationId": "TriggerWhenFileMovedToRecycleBin",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "File",
            "in": "path",
            "description": "Project Share File",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder"
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.file.moveToRecycleBin"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-file-is-moved-to-recycle-bin-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.CommonFileNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FileRestored/{Project}/{File}/{FileContent}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a file is restored from Recycle Bin",
        "description": "When a file is restored from Recycle Bin",
        "operationId": "TriggerWhenFileRestored",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "File",
            "in": "path",
            "description": "Project Share File",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder"
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "FileContent",
            "in": "path",
            "description": "Include FileContent ?",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDropdownlistOptions",
              "value-path": "value",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Include FileContent",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.file.restore"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-file-is-restored-from-recycle-bin-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.FileNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FileCreated/{Project}/{Folder}/{FileContent}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a file is created",
        "description": "When a file is created",
        "operationId": "TriggerWhenFileIsCreated",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "Folder",
            "in": "path",
            "description": "Project Share Folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder",
                "isFolder": true
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Folder",
            "type": "string"
          },
          {
            "name": "FileContent",
            "in": "path",
            "description": "Include FileContent ?",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDropdownlistOptions",
              "value-path": "value",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Include FileContent",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.file.create"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-file-is-created-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.FileNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FileModified/{Project}/{Folder}/{FileContent}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a file is modified",
        "description": "When a file is modified",
        "operationId": "TriggerWhenFileIsModified",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "Folder",
            "in": "path",
            "description": "Project Share Folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder",
                "isFolder": true
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Folder",
            "type": "string"
          },
          {
            "name": "FileContent",
            "in": "path",
            "description": "Include FileContent ?",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDropdownlistOptions",
              "value-path": "value",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Include FileContent",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.file.update"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-file-is-modified-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.FileNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FolderCreated/{Project}/{Folder}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a folder is created",
        "description": "When a folder is created",
        "operationId": "TriggerWhenFolderCreated",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "Folder",
            "in": "path",
            "description": "Project Share Folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder",
                "isFolder": true
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Folder",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.folder.create"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-folder-is-created-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.FolderNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FolderMovedToRecycleBin/{Project}/{Folder}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a folder is moved to Recycle Bin",
        "description": "When a folder moved to Recycle Bin",
        "operationId": "TriggerWhenFolderMovedToRecycleBin",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "Folder",
            "in": "path",
            "description": "Project Share Folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder",
                "isFolder": true
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Folder",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.folder.moveToRecycleBin"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-folder-is-moved-to-recycle-bin-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.CommonFolderNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PSConnector/Trigger/FolderHardDeleted/{Project}/{Folder}": {
      "post": {
        "tags": [
          "Trigger"
        ],
        "summary": "When a folder is deleted from Recycle Bin",
        "description": "When a folder is deleted from Recycle Bin",
        "operationId": "TriggerWhenFolderHardDeleted",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Project",
            "in": "path",
            "description": "Bentley CONNECT project",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetProjectList",
              "value-path": "instanceId",
              "value-title": "name",
              "parameters": {}
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Project",
            "type": "string"
          },
          {
            "name": "Folder",
            "in": "path",
            "description": "Project Share Folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "name",
              "parameters": {
                "Project": {
                  "parameter": "Project"
                },
                "types": "folder",
                "isFolder": true
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetRootFolder",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              },
              "browse": {
                "operationId": "GetSelections",
                "itemValuePath": "id",
                "itemTitlePath": "title",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "path",
                "parameters": {
                  "Project": {
                    "parameterReference": "Project"
                  },
                  "parentId": {
                    "selectedItemValuePath": "id"
                  },
                  "parentType": {
                    "selectedItemValuePath": "type"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "path"
                  },
                  "types": {
                    "value": "folder"
                  }
                }
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Folder",
            "type": "string"
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "com.projectshareservice.folder.hardDelete"
          },
          {
            "name": "hook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "active",
                "name",
                "config",
                "events"
              ],
              "type": "object",
              "properties": {
                "active": {
                  "default": true,
                  "type": "boolean",
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "default": "string",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "config": {
                  "required": [
                    "content_type",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "content_type": {
                      "default": "json",
                      "type": "string",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  }
                },
                "events": {
                  "default": [
                    "string"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.BadRequestObjectResult"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectwiseshare/#when-a-folder-is-deleted-from-recycle-bin-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.CommonFolderNotificationParameters"
        },
        "description": "Details for Webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "PSConnector.CoreApi.Models.FileModel": {
      "required": [
        "name",
        "content"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the file",
          "type": "string",
          "x-ms-summary": "File Name"
        },
        "content": {
          "format": "byte",
          "description": "Content of the file",
          "type": "string",
          "x-ms-summary": "File Content"
        }
      }
    },
    "PSConnector.CoreApi.Models.ObjectResultResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "x-ms-visibility": "internal"
        },
        "formatters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.Formatters.IOutputFormatter"
          },
          "x-ms-visibility": "internal"
        },
        "contentTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "internal"
        },
        "declaredType": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "statusCode": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Microsoft.AspNetCore.Mvc.Formatters.IOutputFormatter": {
      "type": "object",
      "properties": {}
    },
    "Microsoft.AspNetCore.Mvc.BadRequestObjectResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object"
        },
        "formatters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.Formatters.IOutputFormatter"
          }
        },
        "contentTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "declaredType": {
          "type": "string"
        },
        "statusCode": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PSConnector.CoreApi.Models.FolderModel": {
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the Folder",
          "type": "string",
          "x-ms-summary": "Folder Name"
        },
        "description": {
          "description": "Description of the Folder",
          "type": "string",
          "x-ms-summary": "Folder Description"
        }
      }
    },
    "PSConnector.CoreApi.Models.Item": {
      "type": "object",
      "properties": {
        "instanceId": {
          "type": "string",
          "readOnly": true
        },
        "path": {
          "type": "string",
          "readOnly": true
        },
        "isFolder": {
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PSConnector.CoreApi.Models.CommonFileNotificationParameters": {
      "type": "object",
      "properties": {
        " File Name": {
          "description": "File name",
          "type": "string",
          "x-ms-summary": "File name"
        },
        " Project Name": {
          "description": "File content type",
          "type": "string",
          "x-ms-summary": "Project name"
        },
        " Parent Folder": {
          "description": "Parent Folder name",
          "type": "string",
          "x-ms-summary": "Parent Folder name"
        }
      }
    },
    "PSConnector.CoreApi.Models.CommonFolderNotificationParameters": {
      "type": "object",
      "properties": {
        " Folder Name": {
          "description": "Folder name",
          "type": "string",
          "x-ms-summary": "Folder name"
        },
        " Project Name": {
          "description": "File content type",
          "type": "string",
          "x-ms-summary": "Project name"
        },
        " Parent Folder": {
          "description": "Parent Folder name",
          "type": "string",
          "x-ms-summary": "Parent Folder name"
        }
      }
    },
    "PSConnector.CoreApi.Models.FileNotificationParameters": {
      "type": "object",
      "properties": {
        "attribute": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          },
          "x-ms-dynamic-schema": {
            "operationId": "GetFileContentSchema",
            "value-path": "schema",
            "parameters": {
              "selectedDropdownValue": {
                "parameter": "FileContent"
              }
            }
          }
        },
        " File Size": {
          "format": "int64",
          "description": "File size",
          "type": "integer",
          "x-ms-summary": "File size"
        },
        " Content-Type": {
          "description": "File content type",
          "type": "string",
          "x-ms-summary": "File content type"
        },
        " File Link": {
          "description": "File link",
          "type": "string",
          "x-ms-summary": "File link"
        },
        " File Name": {
          "description": "File name",
          "type": "string",
          "x-ms-summary": "File name"
        },
        " Project Name": {
          "description": "File content type",
          "type": "string",
          "x-ms-summary": "Project name"
        },
        " Parent Folder": {
          "description": "Parent Folder name",
          "type": "string",
          "x-ms-summary": "Parent Folder name"
        }
      }
    },
    "PSConnector.CoreApi.Models.FolderNotificationParameters": {
      "type": "object",
      "properties": {
        " Folder Link": {
          "description": "Folder link",
          "type": "string",
          "x-ms-summary": "Folder link"
        },
        " Folder Name": {
          "description": "Folder name",
          "type": "string",
          "x-ms-summary": "Folder name"
        },
        " Project Name": {
          "description": "File content type",
          "type": "string",
          "x-ms-summary": "Project name"
        },
        " Parent Folder": {
          "description": "Parent Folder name",
          "type": "string",
          "x-ms-summary": "Parent Folder name"
        }
      }
    },
    "PSConnector.CoreApi.Models.PickerSelectionResponseModel": {
      "type": "object",
      "properties": {
        "type": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "readOnly": true
        },
        "path": {
          "type": "string",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "readOnly": true
        },
        "isFolder": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "PSConnector.CoreApi.Models.JsonSchema": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "string",
            "object",
            "number",
            "integer"
          ],
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/PSConnector.CoreApi.Models.JsonMetadata"
          }
        },
        "x-ms-visibility": {
          "enum": [
            "default",
            "internal",
            "advanced",
            "important"
          ],
          "type": "string"
        }
      }
    },
    "PSConnector.CoreApi.Models.JsonMetadata": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "format": {
          "enum": [
            "byte",
            "int64"
          ],
          "type": "string"
        },
        "type": {
          "enum": [
            "string",
            "object",
            "number",
            "integer"
          ],
          "type": "string"
        },
        "x-ms-visibility": {
          "enum": [
            "default",
            "internal",
            "advanced",
            "important"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "x-ms-summary": {
          "type": "string"
        }
      }
    },
    "PSConnector.CoreApi.Models.WebhookRequestBody": {
      "required": [
        "active",
        "name",
        "config",
        "events"
      ],
      "type": "object",
      "properties": {
        "active": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "internal"
        },
        "name": {
          "default": "string",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "config": {
          "$ref": "#/definitions/PSConnector.CoreApi.Models.WebhookRequestBodyConfig"
        },
        "events": {
          "default": [
            "string"
          ],
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "internal"
        }
      }
    },
    "PSConnector.CoreApi.Models.WebhookRequestBodyConfig": {
      "required": [
        "content_type",
        "url"
      ],
      "type": "object",
      "properties": {
        "content_type": {
          "default": "json",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "url": {
          "type": "string",
          "x-ms-visibility": "internal",
          "x-ms-notification-url": true
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Microsoft Flow": {
      "type": "oauth2",
      "description": "Bentley OpenID Connect",
      "flow": "accessCode",
      "authorizationUrl": "https://imsoidc.bentley.com/connect/authorize",
      "tokenUrl": "https://imsoidc.bentley.com/connect/token",
      "scopes": {
        "project-share-connector:read project-share-connector:write offline_access": "project-share-connector:read project-share-connector:write offline_access"
      }
    },
    "OpenAPI": {
      "type": "oauth2",
      "description": "Bentley OpenID Connect",
      "flow": "implicit",
      "authorizationUrl": "https://imsoidc.bentley.com/connect/authorize",
      "scopes": {
        "project-share-connector:read project-share-connector:write": "Access to Test API"
      }
    }
  },
  "security": [
    {
      "Microsoft Flow": [
        "project-share-connector:read project-share-connector:write offline_access"
      ]
    }
  ],
  "tags": [],
  "x-ms-capabilities": {
    "file-picker": {
      "open": {
        "operationId": "GetRootFolder"
      },
      "browse": {
        "operationId": "GetSelections",
        "parameters": {
          "parentId": {
            "value-property": "Id"
          },
          "parentType": {
            "value-property": "Type"
          },
          "parentPath": {
            "value-property": "Path"
          }
        }
      },
      "value-title": "Title",
      "value-folder-property": "IsFolder"
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/projectwiseshare"
  }
}
