{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "GitHub",
    "description": "GitHub is a web-based Git repository hosting service. It offers all of the distributed revision control and source code management (SCM) functionality of Git as well as adding its own features.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/github",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/issues": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "summary": "Create an issue",
        "description": "This operation is used to create a new issue for a specific repository.",
        "operationId": "CreateIssue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "name": "issueBasicDetails",
            "in": "body",
            "description": "Details of the issue.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IssueBasicDetailsModel"
            },
            "x-ms-summary": "Issue"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IssueDetailsModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#create-an-issue"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/actions/secrets/public-key": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "Get a repository public key",
        "description": "Gets your public key, which you need to encrypt secrets. You need to encrypt a secret before you can create or update secrets.",
        "operationId": "GetRepositoryPublicKey",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionsPublicKey"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#get-a-repository-public-key"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/actions/secrets/{secretName}": {
      "put": {
        "tags": [
          "GitHub"
        ],
        "summary": "Create or update a repository secret",
        "description": "Creates or updates a repository secret with an encrypted value. Encrypt your secret using LibSodium.",
        "operationId": "CreateUpdateRepositorySecret",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/secretName"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRepositorySecretRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Response when creating a secret"
          },
          "204": {
            "description": "Response when updating a secret"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#create-or-update-a-repository-secret"
        }
      }
    },
    "/{connectionId}/repos/{templateOwner}/{templateRepository}/generate": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "summary": "Create a repository using a template",
        "description": "Creates a new repository using a repository template. The authenticated user must own or be a member of an organization that owns the repository.",
        "operationId": "CreateRepositoryUsingTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/templateOwner"
          },
          {
            "$ref": "#/parameters/templateRepository"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/vnd.github.baptiste-preview+json",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRepositoryUsingTemplateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RepositoryDetails"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Failed"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#create-a-repository-using-a-template"
        }
      }
    },
    "/{connectionId}/repositories/{repositoryId}": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "Get a repository by Id",
        "description": "Gets a repository by Id.",
        "operationId": "GetRepositoryById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryId"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RepositoryDetails"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#get-a-repository-by-id"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/git/refs": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "summary": "Create a reference",
        "description": "Creates a reference for your repository. You are unable to create new references for empty repositories, even if the commit SHA-1 hash used exists. Empty repositories are repositories without branches.",
        "operationId": "CreateReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateReferenceRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GitReference"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Failed"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#create-a-reference"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/git/ref/{reference}": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "Get a reference",
        "description": "Returns a single reference from your Git database. The `reference` parameter must be formatted as `heads/<branch name>` for branches and `tags/<tag name>` for tags. If the `reference` doesn't match an existing ref, a `404` is returned.",
        "operationId": "GetReference",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/reference"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GitReference"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#get-a-reference"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/pulls/{pullNumber}/merge": {
      "put": {
        "tags": [
          "GitHub"
        ],
        "summary": "Merge a pull request",
        "description": "This operation is used to merge a pull request for the repository.",
        "operationId": "MergePullRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/pullNumber"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PullRequestMergeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PullRequestMergeResult"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Merge cannot be performed"
          },
          "409": {
            "description": "Sha was provided and pull request head did not match"
          },
          "422": {
            "description": "Validation Failed"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#merge-a-pull-request"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/pulls/{pullNumber}": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "Get a pull request",
        "description": "This operation is used to get a pull request for the repository.",
        "operationId": "GetPullRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/pullNumber"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PullRequest"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Failed"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#get-a-pull-request"
        }
      },
      "patch": {
        "tags": [
          "GitHub"
        ],
        "summary": "Update a pull request",
        "description": "This operation is used to update a pull request for the repository. To update a pull request in a public repository, you must have write access to the head or the source branch. For organization-owned repositories, you must be a member of the organization that owns the repository to open or update a pull request.",
        "operationId": "UpdatePullRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/pullNumber"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PullRequestUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PullRequest"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Failed"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#update-a-pull-request"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/pulls/{pullNumber}/files": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "Get the list of files from a pull request",
        "description": "This operation is used to get the list of files from a pull request for the repository.",
        "operationId": "GetPullRequestFiles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/pullNumber"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PullRequestFile"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#get-the-list-of-files-from-a-pull-request"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/pulls": {
      "post": {
        "tags": [
          "GitHub"
        ],
        "summary": "Create a pull request",
        "description": "This operation is to create a pull request in a repository. To open or update a pull request in a public repository, you must have write access to the head or the source branch. For organization-owned repositories, you must be a member of the organization that owns the repository to create a pull request.",
        "operationId": "CreatePullRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PullRequestCreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PullRequest"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Validation Failed"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#create-a-pull-request"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/dispatches": {
      "post": {
        "summary": "Create a repository dispatch event",
        "description": "This operation is to trigger a webhook event called `repository_dispatch` when you want activity that happens outside of GitHub to trigger a GitHub Actions workflow or GitHub App webhook. You must configure your GitHub Actions workflow or GitHub App to run when the `repository_dispatch` event occurs.",
        "tags": [
          "repos"
        ],
        "operationId": "CreateRepositoryDispatchEvent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RepositoryDispatchEvent"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Empty response"
          },
          "422": {
            "description": "Validation Failed"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#create-a-repository-dispatch-event"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/compare/{base}...{head}": {
      "get": {
        "summary": "Compare two commits",
        "description": "Both `base` and `head` must be branch names in `repositoryName`. To compare branches across other repositories in the same network as `repositoryName`, use the format `<USERNAME>:branch`. The response is equivalent to running the `git log base..head` command; however, commits are returned in chronological order.",
        "tags": [
          "repos"
        ],
        "operationId": "CompareRepositoryCommits",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "name": "base",
            "description": "base parameter",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Base"
          },
          {
            "name": "head",
            "description": "head parameter",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Head"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommitComparison"
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#compare-two-commits"
        }
      }
    },
    "/{connectionId}/orgs/{repositoryOwner}/actions/secrets/{secretName}/repositories/{repositoryId}": {
      "put": {
        "summary": "Add selected repository to an organization secret",
        "description": "Adds a repository to an organization secret when the `visibility` for repository access is set to `selected`. The visibility is set when you [Create or update an organization secret](https://developer.github.com/v3/actions/secrets/#create-or-update-an-organization-secret). You must authenticate using an access token with the `admin:org` scope to use this endpoint. GitHub Apps must have the `secrets` organization permission to use this endpoint.",
        "tags": [
          "actions"
        ],
        "operationId": "AddSelectedRepoToOrgSecret",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryId"
          },
          {
            "$ref": "#/parameters/secretName"
          }
        ],
        "responses": {
          "204": {
            "description": "Response when repository was added to the selected list"
          },
          "409": {
            "description": "Response when visibility type is not set to selected"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#add-selected-repository-to-an-organization-secret"
        }
      },
      "delete": {
        "summary": "Remove selected repository from an organization secret",
        "description": "Removes a repository from an organization secret when the `visibility` for repository access is set to `selected`. The visibility is set when you [Create or update an organization secret](https://developer.github.com/v3/actions/secrets/#create-or-update-an-organization-secret). You must authenticate using an access token with the `admin:org` scope to use this endpoint. GitHub Apps must have the `secrets` organization permission to use this endpoint.",
        "tags": [
          "actions"
        ],
        "operationId": "RemoveSelectedRepoFromOrgSecret",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryId"
          },
          {
            "$ref": "#/parameters/secretName"
          }
        ],
        "responses": {
          "204": {
            "description": "Response when repository was removed from the selected list"
          },
          "409": {
            "description": "Response when visibility type not set to selected"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#remove-selected-repository-from-an-organization-secret"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/hooks": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookPullRequestResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "Creates a GitHub Webhook for Pull Requests",
        "summary": "When a pull request is created or modified",
        "operationId": "WebhookPullRequestTrigger",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "$ref": "#/parameters/defaultAcceptHeader"
          },
          {
            "name": "Request body of webhook",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "schema": {
              "$ref": "#/definitions/WebhookRequestBody"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WebhookCreationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create of modify a pullrequest.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#when-a-pull-request-is-created-or-modified"
        }
      }
    },
    "/{connectionId}/repos/{repositoryOwner}/{repositoryName}/hooks/{webhookId}": {
      "delete": {
        "description": "Deletes a GitHub Webhook",
        "summary": "Deletes a GitHub Webhook",
        "operationId": "DeleteWebhookTrigger",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/repositoryOwner"
          },
          {
            "$ref": "#/parameters/repositoryName"
          },
          {
            "name": "webhookId",
            "description": "ID of the GitHub Webhook",
            "in": "path",
            "required": true,
            "x-ms-summary": "GitHub Webhook ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#deletes-a-github-webhook"
        }
      }
    },
    "/{connectionId}/trigger/issueOpened": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "When a new issue is opened and assigned to me",
        "description": "This operation triggers when an issue is opened and assigned to the logged in user.",
        "operationId": "IssueOpened",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IssueDetailsModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, open a new issue in GitHub.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#when-a-new-issue-is-opened-and-assigned-to-me"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger/issueClosed": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "When an issue assigned to me is closed",
        "description": "This operation triggers when an issue assigned to the logged in user is closed.",
        "operationId": "IssueClosed",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IssueDetailsModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, close an issue in GitHub.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#when-an-issue-assigned-to-me-is-closed"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger/issueAssigned": {
      "get": {
        "tags": [
          "GitHub"
        ],
        "summary": "When an issue is assigned to me",
        "description": "This operation triggers when an issue is assigned to the logged in user.",
        "operationId": "IssueAssigned",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IssueDetailsModel"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, assign an issue in GitHub.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/github/#when-an-issue-is-assigned-to-me"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "IssueBasicDetailsModel": {
      "description": "Properties of an issue.",
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "Summary of the issue.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "body": {
          "description": "Description of the issue.",
          "type": "string",
          "x-ms-summary": "Body"
        }
      }
    },
    "IssueDetailsModel": {
      "description": "Properties of a GitHub issue.",
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "Summary of the issue.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "body": {
          "description": "Description of the issue.",
          "type": "string",
          "x-ms-summary": "Body"
        },
        "assignee": {
          "$ref": "#/definitions/UserDetailsModel"
        },
        "number": {
          "format": "int32",
          "description": "Unique id of the issue.",
          "type": "integer",
          "x-ms-summary": "Id"
        },
        "state": {
          "description": "Status of the issue.",
          "type": "string",
          "x-ms-summary": "State"
        },
        "created_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format).",
          "type": "string",
          "x-ms-summary": "Created Date-Time"
        },
        "repository_url": {
          "description": "Web link to the repository.",
          "type": "string",
          "x-ms-summary": "Repository Url"
        }
      }
    },
    "UserDetailsModel": {
      "description": "Properties of a GitHub user.",
      "type": "object",
      "properties": {
        "login": {
          "description": "User Login.",
          "type": "string",
          "x-ms-summary": "Login"
        },
        "id": {
          "format": "int32",
          "description": "User Id.",
          "type": "integer",
          "x-ms-summary": "Id"
        },
        "node_id": {
          "description": "User Node Id.",
          "type": "string",
          "x-ms-summary": "Node Id"
        },
        "avatar_url": {
          "description": "User Avatar Url.",
          "type": "string",
          "x-ms-summary": "Avatar Url"
        },
        "gravatar_id": {
          "description": "User Gravatar Id.",
          "type": "string",
          "x-ms-summary": "Gravatar Id"
        },
        "url": {
          "description": "User Url.",
          "type": "string",
          "x-ms-summary": "Url"
        },
        "html_url": {
          "description": "User Html Url.",
          "type": "string",
          "x-ms-summary": "Html Url"
        },
        "followers_url": {
          "description": "User FollowersUrl",
          "type": "string",
          "x-ms-summary": "Followers Url"
        },
        "following_url": {
          "description": "User Following Url.",
          "type": "string",
          "x-ms-summary": "Following Url"
        },
        "gists_url": {
          "description": "User Gists Url.",
          "type": "string",
          "x-ms-summary": "Gists Url"
        },
        "starred_url": {
          "description": "User Starred Url.",
          "type": "string",
          "x-ms-summary": "Starred Url"
        },
        "subscriptions_url": {
          "description": "User Subscriptions Url.",
          "type": "string",
          "x-ms-summary": "Subscriptions Url"
        },
        "organizations_url": {
          "description": "User Organizations Url.",
          "type": "string",
          "x-ms-summary": "Organizations Url"
        },
        "repos_url": {
          "description": "User Repos Url.",
          "type": "string",
          "x-ms-summary": "Repos Url"
        },
        "events_url": {
          "description": "User Events Url.",
          "type": "string",
          "x-ms-summary": "Events Url"
        },
        "received_events_url": {
          "description": "User Received Events Url.",
          "type": "string",
          "x-ms-summary": "Received Events Url"
        },
        "type": {
          "description": "User Type.",
          "type": "string",
          "x-ms-summary": "Type"
        },
        "site_admin": {
          "description": "Is User Site Admin?",
          "type": "boolean",
          "x-ms-summary": "Site Admin"
        },
        "name": {
          "description": "User Name.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "company": {
          "description": "User Company.",
          "type": "string",
          "x-ms-summary": "Company"
        },
        "blog": {
          "description": "User Blog.",
          "type": "string",
          "x-ms-summary": "Blog"
        },
        "location": {
          "description": "User Location.",
          "type": "string",
          "x-ms-summary": "Location"
        },
        "email": {
          "description": "User Email.",
          "type": "string",
          "x-ms-summary": "Email"
        },
        "hireable": {
          "description": "User Hireable?",
          "type": "boolean",
          "x-ms-summary": "Hireable"
        },
        "bio": {
          "description": "User Bio.",
          "type": "string",
          "x-ms-summary": "Bio"
        },
        "public_repos": {
          "format": "int32",
          "description": "User Public Repos.",
          "type": "integer",
          "x-ms-summary": "Public Repos"
        },
        "public_gists": {
          "format": "int32",
          "description": "User Public Gists.",
          "type": "integer",
          "x-ms-summary": "Public Gists"
        },
        "followers": {
          "format": "int32",
          "description": "User Followers.",
          "type": "integer",
          "x-ms-summary": "Followers"
        },
        "following": {
          "format": "int32",
          "description": "User Following.",
          "type": "integer",
          "x-ms-summary": "Following"
        },
        "created_at": {
          "format": "date-time",
          "description": "User Created At.",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "updated_at": {
          "format": "date-time",
          "description": "User Updated At.",
          "type": "string",
          "x-ms-summary": "Updated At"
        }
      }
    },
    "Verification": {
      "type": "object",
      "properties": {
        "verified": {
          "type": "boolean",
          "x-ms-summary": "Is Verified",
          "description": "Indicates whether GitHub considers the signature in this commit to be verified."
        },
        "reason": {
          "type": "string",
          "x-ms-summary": "Verification reason",
          "description": "The reason for verified value."
        },
        "payload": {
          "type": "string",
          "x-ms-summary": "Signed value",
          "description": "The value that was signed."
        },
        "signature": {
          "type": "string",
          "x-ms-summary": "Commit Signature",
          "description": "The signature that was extracted from the commit."
        }
      }
    },
    "GitUser": {
      "description": "Metaproperties for Git author/committer information.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "User Name",
          "x-ms-summary": "Git User Name"
        },
        "email": {
          "type": "string",
          "description": "Email",
          "x-ms-summary": "Git User Email"
        },
        "date": {
          "type": "string",
          "description": "Timestamp of Commit.",
          "x-ms-summary": "Timestamp of Commit"
        }
      }
    },
    "DiffEntry": {
      "description": "Diff Entry",
      "type": "object",
      "properties": {
        "filename": {
          "type": "string",
          "x-ms-summary": "File Name",
          "description": "Changed File Name."
        },
        "additions": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Additions",
          "description": "Number of additions in the file"
        },
        "deletions": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Deletions",
          "description": "Number of Deletions in the file"
        },
        "changes": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Changes",
          "description": "Number of Changes in the file"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Status of the change modified, renamed etc.,"
        },
        "raw_url": {
          "type": "string",
          "x-ms-summary": "Raw Url",
          "description": "Raw Url link to the file"
        },
        "blob_url": {
          "type": "string",
          "x-ms-summary": "Blob Url",
          "description": "Blob Url link to the file"
        },
        "patch": {
          "type": "string",
          "x-ms-summary": "Patch",
          "description": "Actual changes made to the file."
        },
        "sha": {
          "type": "string",
          "x-ms-summary": "Sha of the change",
          "description": "SHA of the change."
        },
        "contents_url": {
          "type": "string",
          "x-ms-summary": "Contents Url",
          "description": "File Contents Url."
        },
        "previous_filename": {
          "type": "string",
          "x-ms-summary": "Previous FileName",
          "description": "Previous FileName if the FileName is changed"
        }
      }
    },
    "Commit": {
      "description": "Commit",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "x-ms-summary": "Commit Url",
          "description": "The HTTP URL for the commit."
        },
        "sha": {
          "type": "string",
          "x-ms-summary": "Commit Sha",
          "description": "SHA of the commit"
        },
        "node_id": {
          "type": "string",
          "x-ms-summary": "Node Id",
          "description": "Node Id of the commit."
        },
        "html_url": {
          "type": "string",
          "x-ms-summary": "HTML Url",
          "description": "HTML Url of the commit"
        },
        "comments_url": {
          "type": "string",
          "x-ms-summary": "Comments Url",
          "description": "Comments Url of the commit"
        },
        "commit": {
          "type": "object",
          "properties": {
            "url": {
              "type": "string",
              "x-ms-summary": "Commit Url",
              "description": "Url of the commit."
            },
            "author": {
              "$ref": "#/definitions/GitUser"
            },
            "committer": {
              "$ref": "#/definitions/GitUser"
            },
            "message": {
              "type": "string",
              "x-ms-summary": "Commit message",
              "description": "Commit Message."
            },
            "comment_count": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Comment Count",
              "description": "Comments Count of the commit"
            },
            "tree": {
              "type": "object",
              "properties": {
                "sha": {
                  "type": "string",
                  "x-ms-summary": "Commit Sha",
                  "description": "SHA of the Commit"
                },
                "url": {
                  "type": "string",
                  "format": "uri",
                  "x-ms-summary": "Commit Url",
                  "description": "Commit Url."
                }
              }
            },
            "verification": {
              "$ref": "#/definitions/Verification"
            }
          }
        },
        "author": {
          "$ref": "#/definitions/UserDetailsModel"
        },
        "committer": {
          "$ref": "#/definitions/UserDetailsModel"
        },
        "parents": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "sha": {
                "type": "string",
                "x-ms-summary": "Parent Sha",
                "description": "Parent branch commit sha"
              },
              "url": {
                "type": "string",
                "x-ms-summary": "Parent branch Url",
                "description": "Url of the parent branch."
              },
              "html_url": {
                "type": "string",
                "x-ms-summary": "Parent branch HTML Url",
                "description": "HTML Url of the parent branch."
              }
            },
            "required": [
              "sha",
              "url"
            ]
          }
        },
        "stats": {
          "type": "object",
          "properties": {
            "additions": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Additions",
              "description": "Number of additions"
            },
            "deletions": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Deletions",
              "description": "Number of Deletions"
            },
            "total": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Total",
              "description": "Total changes"
            }
          }
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiffEntry"
          }
        }
      }
    },
    "RepositoryDispatchEvent": {
      "type": "object",
      "description": "Repository Dispatch Event raised",
      "properties": {
        "event_type": {
          "type": "string",
          "description": "A custom webhook event name.",
          "x-ms-summary": "Event Name"
        },
        "client_payload": {
          "type": "object",
          "description": "JSON payload with extra information about the webhook event that your action or worklow may use.",
          "additionalProperties": true,
          "x-ms-summary": "Event Payload"
        }
      }
    },
    "CommitComparison": {
      "type": "object",
      "description": "Commit Comparison",
      "properties": {
        "url": {
          "type": "string",
          "description": "Url for the comparison",
          "x-ms-summary": "Url"
        },
        "html_url": {
          "type": "string",
          "description": "Html Url for the comparison",
          "x-ms-summary": "HTML Url"
        },
        "permalink_url": {
          "type": "string",
          "description": "Permanent Url for the comparison ",
          "x-ms-summary": "Permanent Url"
        },
        "diff_url": {
          "type": "string",
          "description": "Diff Url",
          "x-ms-summary": "Diff Url"
        },
        "patch_url": {
          "type": "string",
          "description": "Patch Url",
          "x-ms-summary": "Patch Url"
        },
        "base_commit": {
          "$ref": "#/definitions/Commit"
        },
        "merge_base_commit": {
          "$ref": "#/definitions/Commit"
        },
        "status": {
          "type": "string",
          "description": "Status of the comparision eg. diverged etc.,",
          "x-ms-summary": "Status"
        },
        "ahead_by": {
          "type": "integer",
          "format": "int32",
          "description": "ahead by base branch",
          "x-ms-summary": "Ahead by"
        },
        "behind_by": {
          "type": "integer",
          "format": "int32",
          "description": "behind_by base branch",
          "x-ms-summary": "Behind by"
        },
        "total_commits": {
          "type": "integer",
          "format": "int32",
          "description": "total commits",
          "x-ms-summary": "Total Commits"
        },
        "commits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Commit"
          },
          "description": "commits",
          "x-ms-summary": "Commits"
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiffEntry"
          },
          "description": "files",
          "x-ms-summary": "Files"
        }
      }
    },
    "ActionsPublicKey": {
      "description": "The public key used for setting Actions Secrets.",
      "type": "object",
      "properties": {
        "key_id": {
          "description": "The identifier for the key.",
          "type": "string",
          "x-ms-summary": "Key Id"
        },
        "key": {
          "description": "The Base64 encoded public key.",
          "type": "string",
          "x-ms-summary": "Key"
        },
        "id": {
          "description": "Unique identifier of the key.",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Id"
        },
        "url": {
          "description": "Public key url.",
          "type": "string",
          "x-ms-summary": "Url"
        },
        "title": {
          "description": "Public key title.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "created_at": {
          "description": "The date and time when the key was created.",
          "type": "string",
          "x-ms-summary": "Created At"
        }
      },
      "required": [
        "key_id",
        "key"
      ]
    },
    "CreateRepositorySecretRequest": {
      "type": "object",
      "properties": {
        "encrypted_value": {
          "description": "Value for your secret, encrypted with LibSodium using the public key retrieved from the Get an Repository public key action.",
          "type": "string"
        },
        "key_id": {
          "description": "ID of the key you used to encrypt the secret.",
          "type": "string"
        }
      }
    },
    "CreateRepositoryUsingTemplateRequest": {
      "type": "object",
      "properties": {
        "owner": {
          "x-ms-summary": "Owner",
          "type": "string",
          "description": "The organization or person who will own the new repository. If left blank, the authenticated user will be the owner."
        },
        "name": {
          "x-ms-summary": "Name",
          "type": "string",
          "description": "The name of the new repository."
        },
        "description": {
          "x-ms-summary": "Description",
          "type": "string",
          "description": "A short description of the new repository."
        },
        "private": {
          "x-ms-summary": "Is Private?",
          "type": "boolean",
          "description": "Either `true` to create a new private repository or `false` to create a new public one.",
          "default": false
        }
      },
      "required": [
        "name"
      ]
    },
    "LicenseDetails": {
      "title": "License",
      "description": "License Details",
      "type": "object",
      "properties": {
        "key": {
          "description": "The lowercased SPDX Id of the license.",
          "x-ms-summary": "Key",
          "type": "string"
        },
        "name": {
          "description": "The license full name specified by https://spdx.org/licenses.",
          "x-ms-summary": "Name",
          "type": "string"
        },
        "url": {
          "description": "URL to the license on https://choosealicense.com.",
          "x-ms-summary": "Url",
          "type": "string",
          "format": "uri"
        },
        "spdx_id": {
          "description": "Short identifier specified by https://spdx.org/licenses.",
          "type": "string",
          "x-ms-summary": "SPDX Id"
        },
        "node_id": {
          "description": "License Node Id.",
          "x-ms-summary": "Node Id",
          "type": "string"
        },
        "html_url": {
          "description": "License HTML URL.",
          "x-ms-summary": "HTML Url",
          "type": "string",
          "format": "uri"
        }
      }
    },
    "RepositoryMiniDetails": {
      "description": "A git repository",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the repository.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Repository Id"
        },
        "node_id": {
          "description": "The Node Id of the repository.",
          "type": "string",
          "x-ms-summary": "Repository Node Id"
        },
        "name": {
          "description": "The name of the repository.",
          "type": "string",
          "x-ms-summary": "Repository Name"
        },
        "full_name": {
          "description": "The full name of the repository.",
          "type": "string",
          "x-ms-summary": "Repository Full Name"
        },
        "permissions": {
          "description": "Permissions on the repository.",
          "type": "object",
          "x-ms-summary": "Repository Permissions",
          "properties": {
            "admin": {
              "type": "boolean"
            },
            "pull": {
              "type": "boolean"
            },
            "triage": {
              "type": "boolean"
            },
            "push": {
              "type": "boolean"
            },
            "maintain": {
              "type": "boolean"
            }
          },
          "required": [
            "admin",
            "pull",
            "push"
          ]
        },
        "owner": {
          "$ref": "#/definitions/UserDetailsModel"
        },
        "private": {
          "description": "Whether the repository is private or public.",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Is Repository Private?"
        },
        "description": {
          "description": "The description of the repository",
          "type": "string",
          "x-ms-summary": "Repository Description"
        },
        "homepage": {
          "description": "The homepage for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Repository Homepage"
        },
        "language": {
          "description": "The language for this repository",
          "type": "string",
          "x-ms-summary": "Repository Language"
        },
        "archived": {
          "description": "Whether the repository is archived.",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Is Repository Archived?"
        },
        "disabled": {
          "type": "boolean",
          "description": "Returns whether or not this repository disabled.",
          "x-ms-summary": "Is Repository Disabled?"
        },
        "visibility": {
          "description": "The repository visibility: public, private, or internal.",
          "default": "public",
          "type": "string",
          "x-ms-summary": "Repository Visibility"
        },
        "created_at": {
          "description": "the date and time when the repository was created.",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Repository Created At"
        },
        "updated_at": {
          "description": "the date and time when the repository was last updated.",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Repository Updated At"
        },
        "allow_rebase_merge": {
          "description": "Whether to allow rebase merges for pull requests.",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Repository Allow Rebase Merge"
        },
        "allow_squash_merge": {
          "description": "Whether to allow squash merges for pull requests.",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Repository Allow Squash Merge"
        },
        "delete_branch_on_merge": {
          "description": "Whether to delete head branches when pull requests are merged",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Repository Delete Branch On Merge"
        },
        "allow_merge_commit": {
          "description": "Whether to allow merge commits for pull requests.",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Repository Allow Merge Commit"
        },
        "master_branch": {
          "description": "Repository master branch.",
          "type": "string",
          "x-ms-summary": "Repository Master Branch"
        }
      }
    },
    "RepositoryDetails": {
      "description": "A git repository",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the repository.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Id"
        },
        "node_id": {
          "description": "The Node Id of the repository.",
          "type": "string",
          "x-ms-summary": "Node Id"
        },
        "name": {
          "description": "The name of the repository.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "full_name": {
          "description": "The full name of the repository.",
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "license": {
          "$ref": "#/definitions/LicenseDetails"
        },
        "forks": {
          "description": "The number of forks of the repository.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Forks"
        },
        "permissions": {
          "description": "Permissions on the repository.",
          "type": "object",
          "x-ms-summary": "Permissions",
          "properties": {
            "admin": {
              "type": "boolean"
            },
            "pull": {
              "type": "boolean"
            },
            "triage": {
              "type": "boolean"
            },
            "push": {
              "type": "boolean"
            },
            "maintain": {
              "type": "boolean"
            }
          },
          "required": [
            "admin",
            "pull",
            "push"
          ]
        },
        "owner": {
          "$ref": "#/definitions/UserDetailsModel"
        },
        "private": {
          "description": "Whether the repository is private or public.",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Is Private?"
        },
        "html_url": {
          "description": "The Html Url of the repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Html Url"
        },
        "description": {
          "description": "The description of the repository",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "fork": {
          "description": "If the repository is a fork?",
          "type": "boolean",
          "x-ms-summary": "Is a Fork?"
        },
        "url": {
          "description": "The HTTP URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Url"
        },
        "archive_url": {
          "description": "The Archive URL for this repository",
          "type": "string",
          "x-ms-summary": "Archive Url"
        },
        "assignees_url": {
          "description": "The Assignees URL for this repository",
          "type": "string",
          "x-ms-summary": "Assignees Url"
        },
        "blobs_url": {
          "description": "The Blobs URL for this repository",
          "type": "string",
          "x-ms-summary": "Blobs Url"
        },
        "branches_url": {
          "description": "The Branches URL for this repository",
          "type": "string",
          "x-ms-summary": "Branches Url"
        },
        "collaborators_url": {
          "description": "The Collaborators URL for this repository",
          "type": "string",
          "x-ms-summary": "Collaborators Url"
        },
        "comments_url": {
          "description": "The Comments URL for this repository",
          "type": "string",
          "x-ms-summary": "Comments Url"
        },
        "commits_url": {
          "description": "The Commits URL for this repository",
          "type": "string",
          "x-ms-summary": "Commits Url"
        },
        "compare_url": {
          "description": "The Compare URL for this repository",
          "type": "string",
          "x-ms-summary": "Compare Url"
        },
        "contents_url": {
          "description": "The Contents URL for this repository",
          "type": "string",
          "x-ms-summary": "Contents Url"
        },
        "contributors_url": {
          "description": "The Contributors URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Contributors Url"
        },
        "deployments_url": {
          "description": "The Deployments URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Deployments Url"
        },
        "downloads_url": {
          "description": "The Downloads URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Downloads Url"
        },
        "events_url": {
          "description": "The Events URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Events Url"
        },
        "forks_url": {
          "description": "The Forks URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Forks Url"
        },
        "git_commits_url": {
          "description": "The Git Commits URL for this repository",
          "type": "string",
          "x-ms-summary": "Git Commits Url"
        },
        "git_refs_url": {
          "description": "The Git References URL for this repository",
          "type": "string",
          "x-ms-summary": "Git References Url"
        },
        "git_tags_url": {
          "description": "The Git Tags URL for this repository",
          "type": "string",
          "x-ms-summary": "Git Tags Url"
        },
        "git_url": {
          "description": "The Git URL for this repository",
          "type": "string",
          "x-ms-summary": "Git Url"
        },
        "issue_comment_url": {
          "description": "The issue comment URL for this repository",
          "type": "string",
          "x-ms-summary": "Issue Comment Url"
        },
        "issue_events_url": {
          "description": "The issue events URL for this repository",
          "type": "string",
          "x-ms-summary": "Issue Events Url"
        },
        "issues_url": {
          "description": "The issues URL for this repository",
          "type": "string",
          "x-ms-summary": "Issues Url"
        },
        "keys_url": {
          "description": "The keys URL for this repository",
          "type": "string",
          "x-ms-summary": "Keys Url"
        },
        "labels_url": {
          "description": "The labels URL for this repository",
          "type": "string",
          "x-ms-summary": "Labels Url"
        },
        "languages_url": {
          "description": "The languages URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Languages Url"
        },
        "merges_url": {
          "description": "The merges URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Merges Url"
        },
        "milestones_url": {
          "description": "The milestones URL for this repository",
          "type": "string",
          "x-ms-summary": "Milestones Url"
        },
        "notifications_url": {
          "description": "The notifications URL for this repository",
          "type": "string",
          "x-ms-summary": "Notifications Url"
        },
        "pulls_url": {
          "description": "The pulls URL for this repository",
          "type": "string",
          "x-ms-summary": "Pulls Url"
        },
        "releases_url": {
          "description": "The releases URL for this repository",
          "type": "string",
          "x-ms-summary": "Releases Url"
        },
        "ssh_url": {
          "description": "The SSH URL to clone this repository",
          "type": "string",
          "x-ms-summary": "SSH Url"
        },
        "stargazers_url": {
          "description": "The stargazers (Stargazers are the people that have bookmarked the GitHub repository) URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Stargazers Url"
        },
        "statuses_url": {
          "description": "The statuses URL for this repository",
          "type": "string",
          "x-ms-summary": "Statuses Url"
        },
        "subscribers_url": {
          "description": "The subscribers URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Subscribers Url"
        },
        "subscription_url": {
          "description": "The subscription URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Subscription Url"
        },
        "tags_url": {
          "description": "The tags URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Tags Url"
        },
        "teams_url": {
          "description": "The teams URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Teams Url"
        },
        "trees_url": {
          "description": "The trees URL for this repository",
          "type": "string",
          "x-ms-summary": "Trees Url"
        },
        "clone_url": {
          "description": "The clone URL for this repository",
          "type": "string",
          "x-ms-summary": "Clone Url"
        },
        "mirror_url": {
          "description": "The original mirror URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Mirror Url"
        },
        "hooks_url": {
          "description": "The hooks URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Hooks Url"
        },
        "svn_url": {
          "description": "The SVN URL for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "SVN Url"
        },
        "homepage": {
          "description": "The homepage for this repository",
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Homepage"
        },
        "language": {
          "description": "The language for this repository",
          "type": "string",
          "x-ms-summary": "Language"
        },
        "forks_count": {
          "description": "Number of forks there are of this repository in the whole network.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Forks Count"
        },
        "stargazers_count": {
          "description": "Number of users who have starred the repository.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Stargazers Count"
        },
        "watchers_count": {
          "description": "Number of users watching the repository.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Watchers Count"
        },
        "size": {
          "description": "Size of the repository",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Size"
        },
        "default_branch": {
          "description": "The default branch of the repository.",
          "type": "string",
          "x-ms-summary": "Default Branch"
        },
        "open_issues_count": {
          "description": "Number of open issues in the repository.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Open Issues Count"
        },
        "is_template": {
          "description": "Whether this repository acts as a template that can be used to generate new repositories.",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Is Template?"
        },
        "topics": {
          "description": "List of topics in the repository",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Topics"
        },
        "has_issues": {
          "description": "Whether issues are enabled.",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Has Issues?"
        },
        "has_projects": {
          "description": "Whether projects are enabled.",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Has Projects?"
        },
        "has_wiki": {
          "description": "Whether the wiki is enabled.",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Has Wiki?"
        },
        "has_pages": {
          "description": "Whether pages are enabled.",
          "type": "boolean",
          "x-ms-summary": "Has Pages?"
        },
        "has_downloads": {
          "description": "Whether downloads are enabled.",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Has Downloads?"
        },
        "archived": {
          "description": "Whether the repository is archived.",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Is Archived?"
        },
        "disabled": {
          "type": "boolean",
          "description": "Returns whether or not this repository disabled.",
          "x-ms-summary": "Is Disabled?"
        },
        "visibility": {
          "description": "The repository visibility: public, private, or internal.",
          "default": "public",
          "type": "string",
          "x-ms-summary": "Visibility"
        },
        "pushed_at": {
          "description": "When the repository was last pushed to.",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Pushed At"
        },
        "created_at": {
          "description": "the date and time when the repository was created.",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Created At"
        },
        "updated_at": {
          "description": "the date and time when the repository was last updated.",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Updated At"
        },
        "allow_rebase_merge": {
          "description": "Whether to allow rebase merges for pull requests.",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Allow Rebase Merge"
        },
        "template_repository": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Unique identifier of the repository.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Template Repository Id"
            },
            "node_id": {
              "description": "The Node Id of the repository.",
              "type": "string",
              "x-ms-summary": "Template Repository Node Id"
            },
            "name": {
              "description": "The name of the repository.",
              "type": "string",
              "x-ms-summary": "Template Repository Name"
            },
            "full_name": {
              "description": "The full name of the repository.",
              "type": "string",
              "x-ms-summary": "Template Repository Full Name"
            },
            "owner": {
              "$ref": "#/definitions/UserDetailsModel"
            },
            "private": {
              "description": "Whether the repository is private or public.",
              "default": false,
              "type": "boolean",
              "x-ms-summary": "Is Template Repository Private?"
            },
            "html_url": {
              "description": "The Html Url of the repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Html Url"
            },
            "description": {
              "description": "The description of the repository",
              "type": "string",
              "x-ms-summary": "Template Repository Description"
            },
            "fork": {
              "description": "If the repository is a fork?",
              "type": "boolean",
              "x-ms-summary": "Is Template Repository a Fork?"
            },
            "url": {
              "description": "The HTTP URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Url"
            },
            "archive_url": {
              "description": "The Archive URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Archive Url"
            },
            "assignees_url": {
              "description": "The Assignees URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Assignees Url"
            },
            "blobs_url": {
              "description": "The Blobs URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Blobs Url"
            },
            "branches_url": {
              "description": "The Branches URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Branches Url"
            },
            "collaborators_url": {
              "description": "The Collaborators URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Collaborators Url"
            },
            "comments_url": {
              "description": "The Comments URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Comments Url"
            },
            "commits_url": {
              "description": "The Commits URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Commits Url"
            },
            "compare_url": {
              "description": "The Compare URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Compare Url"
            },
            "contents_url": {
              "description": "The Contents URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Contents Url"
            },
            "contributors_url": {
              "description": "The Contributors URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Contributors Url"
            },
            "deployments_url": {
              "description": "The Deployments URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Deployments Url"
            },
            "downloads_url": {
              "description": "The Downloads URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Downloads Url"
            },
            "events_url": {
              "description": "The Events URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Events Url"
            },
            "forks_url": {
              "description": "The Forks URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Forks Url"
            },
            "git_commits_url": {
              "description": "The Git Commits URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Git Commits Url"
            },
            "git_refs_url": {
              "description": "The Git References URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Git References Url"
            },
            "git_tags_url": {
              "description": "The Git Tags URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Git Tags Url"
            },
            "git_url": {
              "description": "The Git URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Git Url"
            },
            "issue_comment_url": {
              "description": "The issue comment URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Issue Comment Url"
            },
            "issue_events_url": {
              "description": "The issue events URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Issue Events Url"
            },
            "issues_url": {
              "description": "The issues URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Issues Url"
            },
            "keys_url": {
              "description": "The keys URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Keys Url"
            },
            "labels_url": {
              "description": "The labels URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Labels Url"
            },
            "languages_url": {
              "description": "The languages URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Languages Url"
            },
            "merges_url": {
              "description": "The merges URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Merges Url"
            },
            "milestones_url": {
              "description": "The milestones URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Milestones Url"
            },
            "notifications_url": {
              "description": "The notifications URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Notifications Url"
            },
            "pulls_url": {
              "description": "The pulls URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Pulls Url"
            },
            "releases_url": {
              "description": "The releases URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Releases Url"
            },
            "ssh_url": {
              "description": "The SSH URL to clone this repository",
              "type": "string",
              "x-ms-summary": "Template Repository SSH Url"
            },
            "stargazers_url": {
              "description": "The stargazers (Stargazers are the people that have bookmarked the GitHub repository) URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Stargazers Url"
            },
            "statuses_url": {
              "description": "The statuses URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Statuses Url"
            },
            "subscribers_url": {
              "description": "The subscribers URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Subscribers Url"
            },
            "subscription_url": {
              "description": "The subscription URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Subscription Url"
            },
            "tags_url": {
              "description": "The tags URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Tags Url"
            },
            "teams_url": {
              "description": "The teams URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Teams Url"
            },
            "trees_url": {
              "description": "The trees URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Trees Url"
            },
            "clone_url": {
              "description": "The clone URL for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Clone Url"
            },
            "mirror_url": {
              "description": "The original mirror URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Mirror Url"
            },
            "hooks_url": {
              "description": "The hooks URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Hooks Url"
            },
            "svn_url": {
              "description": "The SVN URL for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository SVN Url"
            },
            "homepage": {
              "description": "The homepage for this repository",
              "type": "string",
              "format": "uri",
              "x-ms-summary": "Template Repository Homepage"
            },
            "language": {
              "description": "The language for this repository",
              "type": "string",
              "x-ms-summary": "Template Repository Language"
            },
            "forks_count": {
              "description": "Number of forks there are of this repository in the whole network.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Template Repository Forks Count"
            },
            "stargazers_count": {
              "description": "Number of users who have starred the repository.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Template Repository Stargazers Count"
            },
            "watchers_count": {
              "description": "Number of users watching the repository.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Template Repository Watchers Count"
            },
            "size": {
              "description": "Size of the repository",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Template Repository Size"
            },
            "default_branch": {
              "description": "The default branch of the repository.",
              "type": "string",
              "x-ms-summary": "Template Repository Default Branch"
            },
            "open_issues_count": {
              "description": "Number of open issues in the repository.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Template Repository Open Issues Count"
            },
            "is_template": {
              "description": "Whether this repository acts as a template that can be used to generate new repositories.",
              "default": false,
              "type": "boolean",
              "x-ms-summary": "Is Template Repository a Template?"
            },
            "topics": {
              "description": "List of topics in the repository",
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ms-summary": "Template Repository Topics"
            },
            "has_issues": {
              "description": "Whether issues are enabled.",
              "default": true,
              "type": "boolean",
              "x-ms-summary": "Template Repository Has Issues?"
            },
            "has_projects": {
              "description": "Whether projects are enabled.",
              "default": true,
              "type": "boolean",
              "x-ms-summary": "Template Repository Has Projects?"
            },
            "has_wiki": {
              "description": "Whether the wiki is enabled.",
              "default": true,
              "type": "boolean",
              "x-ms-summary": "Template Repository Has Wiki?"
            },
            "has_pages": {
              "description": "Whether pages are enabled.",
              "type": "boolean",
              "x-ms-summary": "Template Repository Has Pages?"
            },
            "has_downloads": {
              "description": "Whether downloads are enabled.",
              "default": true,
              "type": "boolean",
              "x-ms-summary": "Template Repository Has Downloads?"
            },
            "archived": {
              "description": "Whether the repository is archived.",
              "default": false,
              "type": "boolean",
              "x-ms-summary": "Is Template Repository Archived?"
            },
            "disabled": {
              "type": "boolean",
              "description": "Returns whether or not this repository disabled.",
              "x-ms-summary": "Is Template Repository Disabled?"
            },
            "visibility": {
              "description": "The repository visibility: public, private, or internal.",
              "default": "public",
              "type": "string",
              "x-ms-summary": "Template Repository Visibility"
            },
            "pushed_at": {
              "description": "When the repository was last pushed to.",
              "type": "string",
              "format": "date-time",
              "x-ms-summary": "Template Repository Pushed At"
            },
            "created_at": {
              "description": "the date and time when the repository was created.",
              "type": "string",
              "format": "date-time",
              "x-ms-summary": "Template Repository Created At"
            },
            "updated_at": {
              "description": "the date and time when the repository was last updated.",
              "type": "string",
              "format": "date-time",
              "x-ms-summary": "Template Repository Updated At"
            },
            "permissions": {
              "description": "Permissions on the repository.",
              "type": "object",
              "x-ms-summary": "Template Repository Permissions",
              "properties": {
                "admin": {
                  "type": "boolean"
                },
                "push": {
                  "type": "boolean"
                },
                "pull": {
                  "type": "boolean"
                }
              }
            },
            "allow_rebase_merge": {
              "description": "Whether to allow rebase merges for pull requests.",
              "default": true,
              "type": "boolean",
              "x-ms-summary": "Template Repository Allow Rebase Merge"
            },
            "template_repository": {
              "description": "Template repository.",
              "type": "string",
              "x-ms-summary": "Template Repository of Template Repository"
            },
            "temp_clone_token": {
              "description": "Temporary authentication token for cloning this repository.",
              "type": "string",
              "x-ms-summary": "Template Repository Temp Clone Token"
            },
[...]
