{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "Basecamp 3",
    "description": "Basecamp 3 is a tool that helps teams work together. It provides a dashboard to manage all messaging, document collaboration, scheduling and task management together in one place.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/basecamp",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/authorization.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "List Accounts",
        "description": "List Accounts you're a part of",
        "operationId": "ListAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#list-accounts"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/{account_id}/projects.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "List Basecamps",
        "description": "List Basecamps you're a part of",
        "operationId": "ListBasecamps",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BasecampList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#list-basecamps"
        }
      }
    },
    "/{connectionId}/{account_id}/projects/recordings.Todolist": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "List to-do lists",
        "description": "List the to-do lists in the basecamp",
        "operationId": "ListToDoLists",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/bucket"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-summary": "To-do lists",
              "description": "The to-do lists in the Basecamp",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDoList"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#list-to-do-lists"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/todolists/{todolistId}/todos.json": {
      "post": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Create a to-do",
        "description": "Add a to-do to a to-do list",
        "operationId": "CreateToDo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/todolistId"
          },
          {
            "name": "to-do",
            "x-ms-sumamry": "To-do",
            "description": "A new to-do",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NewToDo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ToDo"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#create-a-to-do"
        }
      },
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "List to-dos",
        "description": "List the to-dos in a to-do list",
        "operationId": "ListToDos",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/todolistId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-summary": "To-dos",
              "description": "The top 50 active items in the to-do list",
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#list-to-dos"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/todos/{todoId}/completion.json": {
      "post": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Complete a to-do",
        "description": "Mark a to-do as completed",
        "operationId": "CompleteToDo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/todoId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#complete-a-to-do"
        }
      },
      "delete": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Uncomplete a to-do",
        "description": "Mark a to-do as not completed",
        "operationId": "UncompleteToDo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/todoId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#uncomplete-a-to-do"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/recordings/{objectId}/status/trashed.json": {
      "put": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Delete an object",
        "description": "Put an object in the trash",
        "operationId": "DeleteObject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/objectId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#delete-an-object-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/recordings/todos/{todoId}/status/trashed.json": {
      "put": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Delete a to-do",
        "description": "Put a to-do in the trash",
        "operationId": "DeleteToDo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/todoId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#delete-a-to-do"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/recordings/events/{eventId}/status/trashed.json": {
      "put": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Delete a scheduled entry",
        "description": "Put a scheduled entry in the trash",
        "operationId": "DeleteScheduledEntry",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/eventId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#delete-a-scheduled-entry"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/recordings/documents/{documentId}/status/trashed.json": {
      "put": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Delete a document",
        "description": "Put a document in the trash",
        "operationId": "DeleteDocument",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/documentId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#delete-a-document"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/dynamic_message_board/messages.json": {
      "post": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Post a message",
        "description": "Add a message to a basecamp",
        "operationId": "PostMessage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampId"
          },
          {
            "name": "message",
            "x-ms-sumamry": "Message",
            "description": "A new message",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NewMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#post-a-message"
        }
      }
    },
    "/{connectionId}/trigger/{account_id}/buckets/dynamic_message_board/messages.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a message is posted",
        "description": "This operation triggers when a new message is posted in Basecamp.",
        "operationId": "OnMessagePosted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MessageArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, post a message.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-message-is-posted"
        }
      }
    },
    "/{connectionId}/trigger/{account_id}/buckets/{basecampId}/todolists/{todolistId}/todos.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a to-do is created",
        "description": "This operation triggers when a new to-do is created in Basecamp.",
        "operationId": "OnToDoCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/todolistId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ToDoArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a to-do.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-to-do-is-created"
        }
      }
    },
    "/{connectionId}/update_trigger/{account_id}/buckets/{basecampId}/todolists/{todolistId}/todos.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a to-do is updated",
        "description": "This operation triggers when an existing to-do is updated in Basecamp.",
        "operationId": "OnToDoUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/todolistId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ToDoArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a to-do.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-to-do-is-updated"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/dynamic_vault/vaults.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "summary": "Gets the root folder for the file picker",
        "description": "Gets the root folder for the file picker",
        "operationId": "ListAllRootFolders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetaData"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#gets-the-root-folder-for-the-file-picker"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/vaults/{id}/vaults.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "internal",
        "summary": "List sub folders for file picker",
        "description": "List sub folders for file picker",
        "operationId": "ListFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the parent folder",
            "required": true,
            "x-ms-summary": "Root Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "parameters": {
                  "account_id": {
                    "parameterReference": "account_id"
                  },
                  "basecampId": {
                    "parameterReference": "basecampId"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "account_id": {
                    "parameterReference": "account_id"
                  },
                  "basecampId": {
                    "parameterReference": "basecampId"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetaData"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#list-sub-folders-for-file-picker"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/vaults/{vaultId}/documents.json": {
      "post": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "important",
        "summary": "Create a document",
        "description": "Add a document",
        "operationId": "CreateDocument",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/vaultId"
          },
          {
            "name": "document",
            "x-ms-sumamry": "Document",
            "description": "A new document",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NewDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#create-a-document"
        }
      }
    },
    "/{connectionId}/trigger/{account_id}/buckets/{basecampId}/vaults/{vaultId}/documents.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "important",
        "summary": "When a document is created",
        "description": "This operation triggers when a new document is created in Basecamp.",
        "operationId": "OnDocumentCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/vaultId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, created a document.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-document-is-created"
        }
      }
    },
    "/{connectionId}/update_trigger/{account_id}/buckets/{basecampId}/vaults/{vaultId}/documents.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a document is updated",
        "description": "This operation triggers when a document is updated in Basecamp.",
        "operationId": "OnDocumentUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/vaultId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a document.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-document-is-updated"
        }
      }
    },
    "/{connectionId}/update_trigger/{account_id}/projects/recordings.Document": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a document is deleted",
        "description": "This operation triggers when a document is deleted in Basecamp.",
        "operationId": "OnDocumentDeleted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/bucket"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, delete a document.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-document-is-deleted"
        }
      }
    },
    "/{connectionId}/update_trigger/{account_id}/projects/recordings.Schedule::Entry": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a schedule entry is deleted",
        "description": "This operation triggers when a schedule entry is deleted in Basecamp.",
        "operationId": "OnScheduledEntryDeleted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/bucket"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntryArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, delete a schedule entry.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-schedule-entry-is-deleted"
        }
      }
    },
    "/{connectionId}/trigger/{account_id}/buckets/{basecampId}/vaults/{vaultId}/uploads.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a file is uploaded",
        "description": "This operation triggers when a file is uploaded in Basecamp.",
        "operationId": "OnFileUploaded",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/vaultId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, upload a file.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-file-is-uploaded"
        }
      }
    },
    "/{connectionId}/update_trigger/{account_id}/buckets/{basecampId}/vaults/{vaultId}/uploads.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a file is updated",
        "description": "This operation triggers when a file is updated in Basecamp.",
        "operationId": "OnFileUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/vaultId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a file.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-file-is-updated"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/{basecampId}/vaults/{vaultId}/uploads.json": {
      "post": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Upload file",
        "description": "Upload a file",
        "operationId": "UploadFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampIdPath"
          },
          {
            "$ref": "#/parameters/vaultId"
          },
          {
            "name": "content_type",
            "x-ms-summary": "Content type",
            "description": "The content type of the file",
            "required": true,
            "type": "string",
            "in": "query"
          },
          {
            "name": "name",
            "x-ms-summary": "File name",
            "description": "Name of the file being uploaded",
            "required": true,
            "type": "string",
            "in": "query"
          },
          {
            "name": "body",
            "x-ms-summary": "File data",
            "description": "The binary data of the file",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BasecampList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#upload-file"
        }
      }
    },
    "/{connectionId}/{account_id}/buckets/dynamic_schedule/entries.json": {
      "post": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "Create a schedule entry",
        "description": "Create a schedule entry",
        "operationId": "CreateScheduleEntry",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampId"
          },
          {
            "name": "scheduleEntry",
            "x-ms-sumamry": "Schedule entry",
            "description": "A new schedule entry",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NewEntry"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Entry"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#create-a-schedule-entry"
        }
      }
    },
    "/{connectionId}/trigger/{account_id}/buckets/dynamic_schedule/entries.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a schedule entry is created",
        "description": "This operation triggers when a new schedule entry is created in Basecamp.",
        "operationId": "OnScheduledEntryCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntryArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a schedule entry.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-schedule-entry-is-created"
        }
      }
    },
    "/{connectionId}/update_trigger/{account_id}/buckets/dynamic_schedule/entries.json": {
      "get": {
        "tags": [
          "Basecamp"
        ],
        "x-ms-visibility": "advanced",
        "summary": "When a schedule entry is updated",
        "description": "This operation triggers when a schedule entry is updated in Basecamp.",
        "operationId": "OnScheduledEntryUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/account_id"
          },
          {
            "$ref": "#/parameters/basecampId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntryArray"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a schedule entry.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp/#when-a-schedule-entry-is-updated"
        }
      }
    }
  },
  "definitions": {
    "AccountList": {
      "description": "A list of Accounts",
      "x-ms-summary": "Accounts",
      "x-ms-visibility": "important",
      "type": "object",
      "properties": {
        "accounts": {
          "x-ms-summary": "Accounts",
          "description": "All accounts you're a part of",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Account"
          }
        }
      }
    },
    "Account": {
      "description": "A Basecamp account",
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the the Account",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "The name of the the Account",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "product": {
          "description": "Identifies which Basecamp product the account is part of",
          "type": "string",
          "x-ms-summary": "Product",
          "x-ms-visibility": "internal"
        },
        "href": {
          "description": "The URL of the Account",
          "type": "string",
          "x-ms-summary": "URL",
          "x-ms-visibility": "important"
        }
      }
    },
    "BasecampList": {
      "description": "A list of Basecamps",
      "x-ms-summary": "Basecamps",
      "x-ms-visibility": "important",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Basecamp"
      }
    },
    "Basecamp": {
      "description": "A Basecamp",
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Id",
          "description": "Unique identifier of the the Basecamp",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "x-ms-summary": "Status",
          "description": "The status of the Basecamp",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "x-ms-summary": "Name",
          "description": "The name of the the Basecamp",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "bookmark_url": {
          "x-ms-summary": "Bookmark URL",
          "description": "The API URL at which to change bookmark status",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "app_url": {
          "x-ms-summary": "Web URL",
          "description": "A link to the basecamp",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "bookmarked": {
          "x-ms-summary": "Bookmarked",
          "description": "Whether or not this basecamp is bookmarked",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "dock": {
          "x-ms-summary": "Dock",
          "description": "The tools available in this Basecamp",
          "type": "object",
          "properties": {
            "chat": {
              "$ref": "#/definitions/DockItem"
            },
            "message_board": {
              "$ref": "#/definitions/DockItem"
            },
            "todoset": {
              "$ref": "#/definitions/DockItem"
            },
            "schedule": {
              "$ref": "#/definitions/DockItem"
            },
            "questionnaire": {
              "$ref": "#/definitions/DockItem"
            },
            "vault": {
              "$ref": "#/definitions/DockItem"
            }
          },
          "x-ms-visibility": "internal"
        }
      }
    },
    "DockItem": {
      "x-ms-summary": "Dock item",
      "description": "A tool in a Basecamp's dock",
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Id",
          "description": "Unique identifier of the the dock item",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "x-ms-summary": "Title",
          "description": "The title of the the dock item",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "name": {
          "x-ms-summary": "Name",
          "description": "The name of the the dock item",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "enabled": {
          "x-ms-summary": "Enaled",
          "description": "Whether or not this item is available to use",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "position": {
          "x-ms-summary": "Position",
          "description": "This item's order in the dock",
          "type": "number",
          "x-ms-visibility": "advanced"
        },
        "app_url": {
          "x-ms-summary": "Web URL",
          "description": "A link to the specific item in the Basecamp",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "ToDoList": {
      "x-ms-summary": "To-do list",
      "description": "A To-do list",
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Id",
          "description": "Unique identifier of the the to-do list",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "x-ms-summary": "Name",
          "description": "The name of the the to-do list",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "x-ms-summary": "Description",
          "description": "A description of the to-do list, formatted as HTML",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "completed": {
          "x-ms-summary": "Completed",
          "description": "Whether or not all items in this to-do list are completed",
          "type": "boolean",
          "x-ms-visibility": "important"
        }
      }
    },
    "ToDo": {
      "x-ms-summary": "To-do",
      "description": "A To-do from a To-do List",
      "type": "object",
      "required": [
        "content"
      ],
      "properties": {
        "id": {
          "x-ms-summary": "Id",
          "description": "Unique identifier of the the to-do",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "content": {
          "x-ms-summary": "Content",
          "description": "What the to-do is for",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "x-ms-summary": "Description",
          "description": "A description of the to-do, formatted as HTML",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "due_on": {
          "x-ms-summary": "Due on",
          "description": "A due date when the to-do should be completed",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important"
        },
        "start_on": {
          "x-ms-summary": "Start on",
          "description": "A date when the to-do should be started",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important"
        }
      }
    },
    "NewToDo": {
      "x-ms-summary": "To-do",
      "description": "A To-do in a To-do List",
      "type": "object",
      "required": [
        "content"
      ],
      "properties": {
        "content": {
          "x-ms-summary": "Content",
          "description": "What the to-do is for",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "x-ms-summary": "Description",
          "description": "A description of the to-do, formatted as HTML",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "due_on": {
          "x-ms-summary": "Due on",
          "description": "A due date when the to-do should be completed",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important"
        },
        "start_on": {
          "x-ms-summary": "Start on",
          "description": "A date when the to-do should be started",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important"
        }
      }
    },
    "NewMessage": {
      "x-ms-summary": "New message",
      "description": "A message to post to a basecamp",
      "type": "object",
      "required": [
        "subject",
        "content"
      ],
      "properties": {
        "subject": {
          "x-ms-summary": "Subject",
          "description": "The subject of the message",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "content": {
          "x-ms-summary": "Content",
          "description": "The content of the message, formatted as HTML",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "Message": {
      "x-ms-summary": "Message",
      "description": "A message posted to a basecamp",
      "type": "object",
      "required": [
        "subject",
        "content"
      ],
      "properties": {
        "subject": {
          "x-ms-summary": "Subject",
          "description": "The subject of the message",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "content": {
          "x-ms-summary": "Content",
          "description": "The content of the message, formatted as HTML",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "url": {
          "x-ms-summary": "URL",
          "description": "A link to the message",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "id": {
          "x-ms-summary": "Id",
          "description": "The unique Id of the message",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "x-ms-summary": "Created date",
          "description": "The date the message was posted",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "x-ms-summary": "Updated date",
          "description": "The date the message was updated",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "NewDocument": {
      "x-ms-summary": "New document",
      "description": "A new document",
      "type": "object",
      "required": [
        "title",
        "content"
      ],
      "properties": {
        "title": {
          "x-ms-summary": "Title",
          "description": "The title of the document",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "content": {
          "x-ms-summary": "Content",
          "description": "The content of the document, formatted as HTML",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "Document": {
      "x-ms-summary": "Document",
      "description": "A document object",
      "type": "object",
      "required": [
        "title",
        "content"
      ],
      "properties": {
        "title": {
          "x-ms-summary": "Title",
          "description": "The title of the document",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "content": {
          "x-ms-summary": "Content",
          "description": "The content of the document, formatted as HTML",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "app_url": {
          "x-ms-summary": "URL",
          "description": "A link to the document",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "id": {
          "x-ms-summary": "Id",
          "description": "The unique Id of the document",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "x-ms-summary": "Created date",
          "description": "The date the document was created",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "x-ms-summary": "Updated date",
          "description": "The date the document was updated",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "advanced"
        },
        "vault_id": {
          "x-ms-summary": "Vault Id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "vault_title": {
          "x-ms-summary": "Vault Title",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "vault_url": {
          "x-ms-summary": "Vault Url",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Upload": {
      "x-ms-summary": "Upload",
      "description": "A file upload object",
      "type": "object",
      "required": [
        "filename",
        "description"
      ],
      "properties": {
        "filename": {
          "x-ms-summary": "File name",
          "description": "The file name of the upload",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "x-ms-summary": "Description",
          "description": "The description of the uploaded file",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "app_url": {
          "x-ms-summary": "URL",
          "description": "A link to the file",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "id": {
          "x-ms-summary": "Id",
          "description": "The unique Id of the file",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "x-ms-summary": "Created date",
          "description": "The date the file was uploaded",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "x-ms-summary": "Updated date",
          "description": "The date the file was updated",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "advanced"
        },
        "content_type": {
          "x-ms-summary": "Content type",
          "description": "The content type of the file",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "byte_size": {
          "x-ms-summary": "Size",
          "description": "The size in bytes of the uploaded file",
          "type": "integer",
          "x-ms-visibility": "important"
        }
      }
    },
    "MessageArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Message"
      }
    },
    "ToDoArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ToDo"
      }
    },
    "DocumentArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Document"
      }
    },
    "UploadArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Upload"
      }
    },
    "EntryArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Entry"
      }
    },
    "BlobMetaData": {
      "description": "Metadata for document Blobs",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique identifier for the file or folder",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "Name": {
          "description": "The name of the file or folder",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "internal"
        },
        "DisplayName": {
          "description": "The display name of the file or folder",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "internal"
        },
        "Path": {
          "description": "The path of the file or folder",
          "type": "string",
          "x-ms-summary": "Path",
          "x-ms-visibility": "internal"
        },
        "LastModified": {
          "format": "date-time",
          "description": "The last modified date of the file or folder",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "internal"
        },
        "Size": {
          "format": "int64",
          "description": "The size of the file or folder",
          "type": "integer",
          "x-ms-summary": "Size",
          "x-ms-visibility": "internal"
        },
        "MediaType": {
          "description": "The MIME media type of the file",
          "type": "string",
          "x-ms-summary": "Media Type",
          "x-ms-visibility": "internal"
        },
        "IsFolder": {
          "description": "Indicates whether the item is a folder",
          "type": "boolean",
          "x-ms-summary": "Is Folder",
          "x-ms-visibility": "internal"
        },
        "ETag": {
          "description": "The ETag, a token used for syncing",
          "type": "string",
          "x-ms-summary": "ETag",
          "x-ms-visibility": "internal"
        },
        "FileLocator": {
          "description": "The file locator (unknown use)",
          "type": "string",
          "x-ms-summary": "File locator",
          "x-ms-visibility": "internal"
        }
      }
    },
    "NewEntry": {
      "x-ms-summary": "New schedule entry",
      "description": "An entry to schedule",
      "type": "object",
      "required": [
        "summary",
        "starts_at",
        "ends_at"
      ],
      "properties": {
        "summary": {
          "x-ms-summary": "Summary",
          "description": "A summarized description of the schedule entry",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "starts_at": {
          "x-ms-summary": "Start time",
          "description": "Time format: yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T08:00:00.000Z)",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important"
        },
        "ends_at": {
          "x-ms-summary": "End time",
          "description": "Time format: yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T08:00:00.000Z)",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important"
        },
        "participant_ids": {
          "x-ms-summary": "Participants",
          "description": "A comma separated list of participant email addresses",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "Entry": {
      "x-ms-summary": "Schedule entry",
      "description": "An entry to schedule",
      "type": "object",
      "required": [
        "summary",
        "starts_at",
        "ends_at"
      ],
      "properties": {
        "summary": {
          "x-ms-summary": "Summary",
          "description": "A summarized description of the schedule entry",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "starts_at": {
          "x-ms-summary": "Start time",
          "description": "Time format: yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T08:00:00.000Z)",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important"
        },
        "ends_at": {
          "x-ms-summary": "End time",
          "description": "Time format: yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T08:00:00.000Z)",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important"
        },
        "app_url": {
          "x-ms-summary": "URL",
          "description": "A link to the document",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "id": {
          "x-ms-summary": "Id",
          "description": "The unique Id of the document",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "x-ms-summary": "Created date",
          "description": "The date the entry was created",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "x-ms-summary": "Updated date",
          "description": "The date the entry was updated",
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {
    "objectId": {
      "name": "objectId",
      "x-ms-summary": "Object Id",
      "description": "Unique identifier of the object.",
      "required": true,
      "type": "string",
      "in": "path"
    },
    "account_id": {
      "name": "account_id",
      "x-ms-summary": "Account Id",
      "description": "Unique identifier of the account.",
      "required": true,
      "type": "integer",
      "in": "path",
      "x-ms-dynamic-values": {
        "operationId": "ListAccounts",
        "value-collection": "accounts",
        "value-path": "id",
        "value-title": "name"
      }
    },
    "bucket": {
      "name": "bucket",
      "x-ms-summary": "Basecamp",
      "description": "Basecamp to filter on",
      "required": false,
      "type": "string",
      "in": "query",
      "x-ms-dynamic-values": {
        "operationId": "ListBasecamps",
        "parameters": {
          "account_id": {
            "parameter": "account_id"
          }
        },
        "value-path": "id",
        "value-title": "name"
      }
    },
    "basecampId": {
      "name": "basecampId",
      "x-ms-summary": "Basecamp",
      "description": "Unique identifier of the basecamp.",
      "required": true,
      "type": "string",
      "in": "query",
      "x-ms-dynamic-values": {
        "operationId": "ListBasecamps",
        "parameters": {
          "account_id": {
            "parameter": "account_id"
          }
        },
        "value-path": "id",
        "value-title": "name"
      }
    },
    "basecampIdPath": {
      "name": "basecampId",
      "x-ms-summary": "Basecamp",
      "description": "Unique identifier of the basecamp.",
      "required": true,
      "type": "string",
      "in": "path",
      "x-ms-dynamic-values": {
        "operationId": "ListBasecamps",
        "parameters": {
          "account_id": {
            "parameter": "account_id"
          }
        },
        "value-path": "id",
        "value-title": "name"
      }
    },
    "todolistId": {
      "name": "todolistId",
      "x-ms-summary": "To-do list",
      "description": "Unique identifier of the to-do list.",
      "required": true,
      "type": "string",
      "in": "path",
      "x-ms-dynamic-values": {
        "operationId": "ListToDoLists",
        "parameters": {
          "account_id": {
            "parameter": "account_id"
          },
          "bucket": {
            "parameter": "basecampId"
          }
        },
        "value-path": "id",
        "value-title": "name"
      }
    },
    "todoId": {
      "name": "todoId",
      "x-ms-summary": "To-do Id",
      "description": "Get a To-do Id from a previous step",
      "required": true,
      "type": "string",
      "in": "path"
    },
    "eventId": {
      "name": "eventId",
      "x-ms-summary": "Scheduled entry Id",
      "description": "Get a scheduled entry Id from a previous step",
      "required": true,
      "type": "string",
      "in": "path"
    },
    "documentId": {
      "name": "documentId",
      "x-ms-summary": "Document Id",
      "description": "Get a document Id from a previous step",
      "required": true,
      "type": "string",
      "in": "path"
    },
    "vaultId": {
      "name": "vaultId",
      "in": "path",
      "description": "Select a folder or enter a vault Id",
      "required": true,
      "x-ms-summary": "Vault (folder)",
      "type": "string",
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id"
      },
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": true,
          "canSelectLeafNodes": false
        },
        "open": {
          "operationId": "ListAllRootFolders",
          "parameters": {
            "account_id": {
              "parameterReference": "account_id"
            },
            "basecampId": {
              "parameterReference": "basecampId"
            }
          },
          "itemValuePath": "id",
          "itemTitlePath": "DisplayName",
          "itemFullTitlePath": "Path",
          "itemIsParent": "(IsFolder eq true)"
        },
        "browse": {
          "operationId": "ListFolder",
          "parameters": {
            "id": {
              "selectedItemValuePath": "Id"
            },
            "account_id": {
              "parameterReference": "account_id"
            },
            "basecampId": {
              "parameterReference": "basecampId"
            }
          },
          "itemValuePath": "id",
          "itemTitlePath": "DisplayName",
          "itemFullTitlePath": "Path",
          "itemIsParent": "(IsFolder eq true)"
        }
      }
    },
    "status": {
      "name": "status",
      "in": "query",
      "description": "Select an optional status (default: active)",
      "required": true,
      "x-ms-summary": "Status",
      "type": "string",
      "x-ms-visibility": "advanced",
      "enum": [
        "active",
        "archived",
        "trashed"
      ]
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListAccounts",
      "parameters": {}
    },
    "file-picker": {
      "open": {
        "operationId": "ListAllRootFolders",
        "parameters": {
          "account_id": {
            "parameter": "account_id"
          },
          "basecampId": {
            "parameter": "basecampId"
          }
        }
      },
      "browse": {
        "operationId": "ListFolder",
        "parameters": {
          "account_id": {
            "parameter": "account_id"
          },
          "basecampId": {
            "parameter": "basecampId"
          },
          "id": {
            "value-property": "Id"
          }
        }
      },
      "value-title": "DisplayName",
      "value-folder-property": "IsFolder",
      "value-media-property": "MediaType"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://basecamp.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://basecamp.com/about/policies/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/basecamp"
  }
}
