{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "GoToTraining",
    "description": "Citrix GoToTraining enables you to manage a stable and high-performance online training environment.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/G2T/rest/organizers/organizerKey/trainings": {
      "get": {
        "summary": "List trainings",
        "description": "Retrieves a list of trainings organized by the authenticated user.",
        "operationId": "ListTrainings",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Trainings"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gototraining/#list-trainings"
        }
      }
    },
    "/{connectionId}/G2T/rest/organizers/organizerKey/trainings/{trainingid}": {
      "get": {
        "summary": "Get training",
        "description": "Retrieves all information about a scheduled training.",
        "operationId": "GetTraining",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/trainingid__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Training"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gototraining/#get-training"
        }
      }
    },
    "/{connectionId}/G2T/rest/organizers/organizerKey/trainings/{trainingid}/registrants": {
      "get": {
        "summary": "List registrants",
        "description": "Retrieves details of all registrants for a specific training.",
        "operationId": "ListRegistrations",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/trainingid__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registrants"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gototraining/#list-registrants"
        }
      },
      "post": {
        "summary": "Add registrant",
        "description": "Registers one person, identified by a unique email address, for a training.",
        "operationId": "AddRegistrant",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/trainingid__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "email",
                "givenName",
                "surname"
              ],
              "type": "object",
              "properties": {
                "email": {
                  "description": "Registrant email",
                  "type": "string",
                  "x-ms-summary": "Registrant email",
                  "x-ms-visibility": "important",
                  "x-ms-test-value": "test@microsoft.com"
                },
                "givenName": {
                  "description": "First name",
                  "type": "string",
                  "x-ms-summary": "First name",
                  "x-ms-visibility": "advanced",
                  "x-ms-test-value": "test"
                },
                "surname": {
                  "description": "Last name",
                  "type": "string",
                  "x-ms-summary": "Last name",
                  "x-ms-visibility": "advanced",
                  "x-ms-test-value": "test"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "joinUrl": {
                  "description": "Url link to join the meeting.",
                  "type": "string",
                  "x-ms-summary": "Join Url",
                  "x-ms-visibility": "important"
                },
                "confirmationUrl": {
                  "description": "Url link for rsvp.",
                  "type": "string",
                  "x-ms-summary": "Confirmation Url",
                  "x-ms-visibility": "advanced"
                },
                "registrantKey": {
                  "description": "Unique identifier of the registrant.",
                  "type": "string",
                  "x-ms-summary": "Registrant Key",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gototraining/#add-registrant"
        }
      }
    },
    "/{connectionId}/G2T/rest/organizers/organizerKey/trainings/{trainingid}/registrants/{registrantKey}": {
      "get": {
        "summary": "Get Registrant",
        "description": "Retrieves details of a specific registrant in a training.",
        "operationId": "GetRegistrant",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/trainingid__in_path"
          },
          {
            "name": "registrantKey",
            "in": "path",
            "description": "Registrant key",
            "required": true,
            "x-ms-summary": "Registrant key",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registrant"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gototraining/#get-registrant"
        }
      }
    },
    "/{connectionId}/trigger/OnNewTraining": {
      "get": {
        "summary": "When a training is created",
        "description": "Triggers when a new training is created.",
        "operationId": "OnNewTraining",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Trainings"
            }
          },
          "202": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Trainings"
            }
          }
        },
        "deprecated": false,
        "x-ms-summary": "When a training is created",
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gototraining/#when-a-training-is-created"
        }
      }
    },
    "/{connectionId}/trigger/G2T/rest/organizers/organizerKey/trainings/{trainingid}/registrants": {
      "get": {
        "summary": "When a registrant is added",
        "description": "Triggers when a registrant is added to a training.",
        "operationId": "OnNewRegistration",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/trainingid__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registrants"
            }
          },
          "202": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "x-ms-summary": "When a registrant is added",
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gototraining/#when-a-registrant-is-added"
        }
      }
    }
  },
  "definitions": {
    "Trainings": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Training"
      }
    },
    "Training": {
      "type": "object",
      "properties": {
        "trainingId": {
          "description": "Unique identifier of the training.",
          "type": "string",
          "x-ms-summary": "Training Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "Subject of the training.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "timeZone": {
          "description": "Where the training will take place.",
          "type": "string",
          "x-ms-summary": "Time Zone",
          "x-ms-visibility": "advanced"
        },
        "times": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "startDate": {
                "format": "date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
                "type": "string",
                "x-ms-summary": "Start date-time",
                "x-ms-visibility": "important"
              },
              "endDate": {
                "format": "date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
                "type": "string",
                "x-ms-summary": "End date-time",
                "x-ms-visibility": "important"
              }
            }
          }
        },
        "organizers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "givenName": {
                "description": "Organizer's first name.",
                "type": "string",
                "x-ms-summary": "First Name",
                "x-ms-visibility": "important"
              },
              "surname": {
                "description": "Organizer's last name.",
                "type": "string",
                "x-ms-summary": "Last Name",
                "x-ms-visibility": "important"
              },
              "email": {
                "description": "Organizer's email.",
                "type": "string",
                "x-ms-summary": "Email",
                "x-ms-visibility": "important"
              },
              "organizerKey": {
                "description": "Unique identifier of the organizer",
                "type": "string",
                "x-ms-summary": "Organizer key",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "registrationSettings": {
          "type": "object",
          "properties": {
            "disableConfirmationEmail": {
              "type": "boolean",
              "x-ms-summary": "Disable Confirmation Email"
            },
            "disableWebRegistration": {
              "type": "boolean",
              "x-ms-summary": "Disable Web Registration"
            }
          },
          "x-ms-summary": "Registration Settings",
          "x-ms-visibility": "internal"
        },
        "trainingKey": {
          "description": "Unique key of the training.",
          "type": "string",
          "x-ms-summary": "Training Key"
        }
      }
    },
    "Registrants": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Registrant"
      }
    },
    "Registrant": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Registrant's email.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "givenName": {
          "description": "Registrant's first name.",
          "type": "string",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important"
        },
        "surname": {
          "description": "Registrant's last name.",
          "type": "string",
          "x-ms-summary": "Last name",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Registrant's rsvp status.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "registrationDate": {
          "format": "date-time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-summary": "Registration date-time",
          "x-ms-visibility": "advanced"
        },
        "joinUrl": {
          "description": "Link to use by the registrant to join a training.",
          "type": "string",
          "x-ms-summary": "Join Url",
          "x-ms-visibility": "important"
        },
        "confirmationUrl": {
          "description": "Link to use by the registrant to rsvp for a training.",
          "type": "string",
          "x-ms-summary": "Confirmation Url",
          "x-ms-visibility": "important"
        },
        "registrantKey": {
          "description": "Unique key of the registrant.",
          "type": "string",
          "x-ms-summary": "Registrant Key",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {
    "trainingid__in_path": {
      "name": "trainingid",
      "in": "path",
      "description": "Training",
      "required": true,
      "x-ms-summary": "Training Id",
      "x-ms-dynamic-values": {
        "operationId": "ListTrainings",
        "value-path": "trainingKey",
        "value-title": "name"
      },
      "type": "string"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gotomeeting.com/training"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.logmeininc.com/legal/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/gototraining"
  },
  "basePath": "/apim/gototraining"
}
