{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Microsoft Translator",
    "description": "Microsoft Translator lets you translate text across multiple languages.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/microsofttranslator",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/TranslatableLanguages": {
      "get": {
        "tags": [
          "MicrosoftTranslator"
        ],
        "summary": "Get languages",
        "description": "Retrieves all languages that Microsoft Translator supports.",
        "operationId": "Languages",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Language"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "translatorV2",
            "operationId": "Languages"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsofttranslator/#get-languages-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/Translate": {
      "get": {
        "tags": [
          "MicrosoftTranslator"
        ],
        "summary": "Translate text",
        "description": "Translates text to a specified language using Microsoft Translator.",
        "operationId": "Translate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/text"
          },
          {
            "name": "languageTo",
            "in": "query",
            "description": "The target language code (example: 'fr').",
            "required": true,
            "x-ms-summary": "Target Language",
            "x-ms-dynamic-values": {
              "operationId": "Languages",
              "value-path": "Code",
              "value-title": "Name"
            },
            "type": "string",
            "x-ms-test-value": "en"
          },
          {
            "name": "languageFrom",
            "in": "query",
            "description": "The source language (if not provided, Microsoft Translator will try to auto-detect) (example: en).",
            "required": false,
            "x-ms-summary": "Source Language",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "Languages",
              "value-path": "Code",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "The translation category (default: 'general').",
            "required": false,
            "x-ms-summary": "Category",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "The content type (default: 'text/plain').",
            "required": false,
            "x-ms-summary": "Content Type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "text/plain",
              "text/html"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-summary": "Translated Text"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "translatorV2",
            "operationId": "Translate"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsofttranslator/#translate-text-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/Detect": {
      "get": {
        "tags": [
          "MicrosoftTranslator"
        ],
        "summary": "Detect language",
        "description": "Detects the source language of the given text.",
        "operationId": "Detect",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/text"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Language"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "translatorV2",
            "operationId": "Detect"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsofttranslator/#detect-language-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/SpeakLanguages": {
      "get": {
        "tags": [
          "MicrosoftTranslator"
        ],
        "summary": "Get speech languages",
        "description": "Retrieves the languages available for speech synthesis.",
        "operationId": "SpeechLanguages",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Language"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsofttranslator/#get-speech-languages-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/Speak": {
      "get": {
        "tags": [
          "MicrosoftTranslator"
        ],
        "summary": "Text to speech",
        "description": "Converts a given text into speech as an audio stream in wave format.",
        "operationId": "TextToSpeech",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/text"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language code to generate speech (example: 'en-us').",
            "required": true,
            "x-ms-summary": "Language Code",
            "x-ms-dynamic-values": {
              "operationId": "SpeechLanguages",
              "value-path": "Code",
              "value-title": "Name"
            },
            "type": "string",
            "x-ms-test-value": "es"
          },
          {
            "name": "format",
            "in": "query",
            "description": "The audio format to return (default is audio/wav).",
            "required": false,
            "x-ms-summary": "Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "audio/wav",
              "audio/mp3"
            ]
          },
          {
            "name": "options",
            "in": "query",
            "description": "Other options for the format (default is MinSize). Valid options are 'MinSize' or 'MaxQuality'.",
            "required": false,
            "x-ms-summary": "Options",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "MinSize",
              "MaxQuality"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string",
              "x-ms-media-kind": "audio",
              "x-ms-summary": "Audio File"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsofttranslator/#text-to-speech-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {
    "Language": {
      "description": "Language Model for Microsoft Translator translatable languages",
      "type": "object",
      "properties": {
        "Code": {
          "description": "Gets or sets the language code.",
          "type": "string",
          "x-ms-summary": "Language Code"
        },
        "Name": {
          "description": "Gets or sets the language name.",
          "type": "string",
          "x-ms-summary": "Language Name"
        }
      }
    }
  },
  "parameters": {
    "text": {
      "name": "query",
      "in": "query",
      "description": "The text to translate.",
      "required": true,
      "x-ms-summary": "Text",
      "type": "string",
      "x-ms-test-value": "Hola"
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "Languages",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.microsoft.com/translator/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/microsofttranslator"
  }
}
