{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Chatter",
    "description": "Chatter is an enterprise social network for your company that allows employees to connect and collaborate in real time.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/new_post_trigger/services/data/v38.0/chatter/feeds/record/{group_id}/feed-elements": {
      "get": {
        "summary": "When a post is added to a group",
        "description": "Triggers when a new post is added to an existing group.",
        "operationId": "TrigNewPostInGroup",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Group ID",
            "description": "Group",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListGroups",
              "value-collection": "groups",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "0F9410000003QCDCA2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPostsByGroupResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a post in a group.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/chatter/#when-a-post-is-added-to-a-group"
        }
      }
    },
    "/{connectionId}/services/data/v38.0/chatter/feed-elements": {
      "post": {
        "summary": "Post to a group",
        "description": "Create a new post in an existing group.",
        "operationId": "CreatePostInGroup",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "body",
            "schema": {
              "type": "object",
              "required": [
                "subjectId"
              ],
              "properties": {
                "subjectId": {
                  "type": "string",
                  "x-ms-summary": "Group ID",
                  "description": "Group",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListGroups",
                    "value-collection": "groups",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              }
            },
            "x-ms-test-value": {
              "subjectId": "0F9410000003QCDCA2"
            }
          },
          {
            "name": "CreatePostInGroupText",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "Post Body",
            "description": "Text content of the post.",
            "x-ms-visibility": "important",
            "x-ms-test-value": "test text"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreatePostInGroupResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/chatter/#post-to-a-group"
        }
      }
    },
    "/{connectionId}/services/data/v38.0/chatter/groups/{group_id}/members": {
      "get": {
        "summary": "List users in a group",
        "description": "List group membership.",
        "operationId": "ListGroupMembers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Group ID",
            "description": "Group",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListGroups",
              "value-collection": "groups",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "0F9410000003QCDCA2"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListGroupMembersResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/chatter/#list-users-in-a-group"
        }
      },
      "post": {
        "summary": "Add user to a group",
        "description": "Adds a member to an existing group.",
        "operationId": "AddUserToGroup",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Group ID",
            "description": "Group",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListGroups",
              "value-collection": "groups",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "0F9410000003QCDCA2"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "userId"
              ],
              "properties": {
                "userId": {
                  "type": "string",
                  "x-ms-summary": "Salesforce User ID",
                  "description": "Unique id of the user.",
                  "x-ms-visibility": "important"
                }
              }
            },
            "x-ms-test-value": {
              "userId": "00541000002POhf"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GroupMemberResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/chatter/#add-user-to-a-group"
        }
      }
    },
    "/{connectionId}/services/data/v38.0/chatter/users/{user_id}": {
      "get": {
        "summary": "Get user by ID",
        "description": "Get a user's details by id.",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "User ID",
            "description": "Unique id of the user.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "00541000002POhf"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserUserResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/chatter/#get-user-by-id"
        }
      }
    },
    "/{connectionId}/services/data/v38.0/chatter/feed-elements/{post_id}": {
      "get": {
        "summary": "Get post by ID",
        "description": "Get details of a post by post id.",
        "operationId": "GetPost",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Post ID",
            "description": "Unique id of the post.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "0D54100000KQPzZCAX"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetPostResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/chatter/#get-post-by-id"
        }
      }
    },
    "/{connectionId}/services/data/v38.0/chatter/groups/": {
      "get": {
        "summary": "List groups",
        "description": "List groups",
        "operationId": "ListGroups",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListGroupsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/chatter/#list-groups"
        }
      }
    }
  },
  "definitions": {
    "ActorUserResponse": {
      "x-ms-summary": "Author's",
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "x-ms-summary": "Company Name",
          "description": "Name of the company.",
          "x-ms-visibility": "advanced"
        },
        "displayName": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "User name of the author."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "User ID",
          "x-ms-visibility": "important",
          "description": "Unique identifier of the author."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important",
          "description": "First and last name of the author."
        },
        "photo": {
          "x-ms-summary": "Photo",
          "type": "object",
          "properties": {
            "largePhotoUrl": {
              "type": "string",
              "x-ms-summary": "(large)",
              "description": "Profile image of the author.",
              "x-ms-visibility": "advanced"
            },
            "mediumPhotoUrl": {
              "type": "string",
              "x-ms-summary": "(medium)",
              "description": "Profile image of the author.",
              "x-ms-visibility": "advanced"
            },
            "smallPhotoUrl": {
              "type": "string",
              "x-ms-summary": "(small)",
              "description": "Profile image of the author.",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "Title of the author."
        }
      }
    },
    "OwnerUserResponse": {
      "x-ms-summary": "Owner's",
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "x-ms-summary": "Company Name",
          "description": "Name of the company.",
          "x-ms-visibility": "advanced"
        },
        "displayName": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "User name of the owner.",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "User ID",
          "description": "Unique identifier of the owner.",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "advanced",
          "description": "First and last name of the owner."
        },
        "photo": {
          "x-ms-summary": "Photo",
          "type": "object",
          "properties": {
            "largePhotoUrl": {
              "type": "string",
              "x-ms-summary": "(large)",
              "description": "Profile image of the owner.",
              "x-ms-visibility": "advanced"
            },
            "mediumPhotoUrl": {
              "type": "string",
              "x-ms-summary": "(medium)",
              "description": "Profile image of the owner.",
              "x-ms-visibility": "advanced"
            },
            "smallPhotoUrl": {
              "type": "string",
              "x-ms-summary": "(small)",
              "description": "Profile image of the owner.",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "Title of the owner.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UserUserResponse": {
      "x-ms-summary": "User",
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "x-ms-summary": "Company Name",
          "x-ms-visibility": "important",
          "description": "Name of the company."
        },
        "displayName": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "important",
          "description": "User's display name."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "important",
          "description": "Unique identifier of the user."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important",
          "description": "First and last name of the user."
        },
        "photo": {
          "x-ms-summary": "Photo",
          "type": "object",
          "properties": {
            "largePhotoUrl": {
              "type": "string",
              "x-ms-summary": "(large)",
              "description": "Profile image of the user.",
              "x-ms-visibility": "advanced"
            },
            "mediumPhotoUrl": {
              "type": "string",
              "x-ms-summary": "(medium)",
              "description": "Profile image of the user.",
              "x-ms-visibility": "advanced"
            },
            "smallPhotoUrl": {
              "type": "string",
              "x-ms-summary": "(small)",
              "description": "Profile image of the user.",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "User's title.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GroupMemberResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Member ID",
          "description": "Unique identifier of the member.",
          "x-ms-visibility": "important"
        },
        "role": {
          "type": "string",
          "x-ms-summary": "Role",
          "description": "Member's role in the group.",
          "x-ms-visibility": "advanced"
        },
        "url": {
          "type": "string",
          "x-ms-summary": "URL",
          "description": "Link to member's user profile.",
          "x-ms-visibility": "advanced"
        },
        "user": {
          "$ref": "#/definitions/UserUserResponse"
        }
      }
    },
    "CreatePostInGroupResponse": {
      "type": "object",
      "properties": {
        "actor": {
          "$ref": "#/definitions/ActorUserResponse"
        },
        "body": {
          "type": "object",
          "x-ms-summary": "Post Body",
          "properties": {
            "isRichText": {
              "type": "boolean",
              "x-ms-summary": "Is Rich Text",
              "description": "True if the message is in rich text format.",
              "x-ms-visibility": "advanced"
            },
            "text": {
              "type": "string",
              "x-ms-summary": "Text",
              "description": "Display-ready text of the message.",
              "x-ms-visibility": "important"
            }
          }
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Date Posted",
          "description": "Date-Time in ISO-8601 format.",
          "x-ms-visibility": "important"
        },
        "header": {
          "type": "object",
          "x-ms-summary": "Header",
          "properties": {
            "isRichText": {
              "type": "string",
              "x-ms-summary": "Is Rich Text",
              "x-ms-visibility": "advanced",
              "description": "True if the header is in rich text format."
            },
            "text": {
              "type": "string",
              "x-ms-summary": "Text",
              "description": "Title of the post.",
              "x-ms-visibility": "important"
            }
          }
        },
        "id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "important",
          "description": "Unique id of the feed item."
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified date",
          "x-ms-visibility": "advanced",
          "description": "Date-Time in ISO-8601 format."
        },
        "parent": {
          "type": "object",
          "x-ms-summary": "Parent",
          "properties": {
            "description": {
              "type": "string",
              "x-ms-summary": "Description",
              "description": "Description of the parent object.",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "type": "string",
              "x-ms-summary": "ID",
              "description": "Unique id of the parent object.",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "description": "Name of the parent object.",
              "x-ms-visibility": "advanced"
            },
            "owner": {
              "$ref": "#/definitions/OwnerUserResponse"
            },
            "type": {
              "type": "string",
              "x-ms-summary": "Type",
              "description": "Type of the parent object.",
              "x-ms-visibility": "advanced"
            },
            "visibility": {
              "type": "string",
              "x-ms-summary": "Visbility",
              "description": "Who can see the parent object.",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important",
          "description": "Type of the post."
        },
        "visibility": {
          "type": "string",
          "x-ms-summary": "Visbility",
          "description": "Who can see the post.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListPostsByGroupResponse": {
      "type": "object",
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "actor": {
                "$ref": "#/definitions/ActorUserResponse"
              },
              "body": {
                "type": "object",
                "x-ms-summary": "Post Body",
                "properties": {
                  "isRichText": {
                    "type": "boolean",
                    "x-ms-summary": "Is Rich Text",
                    "description": "True if the message is in rich text format.",
                    "x-ms-visibility": "advanced"
                  },
                  "text": {
                    "type": "string",
                    "x-ms-summary": "Text",
                    "description": "Display-ready text of the message.",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "createdDate": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Date Posted",
                "description": "Date-Time in ISO-8601 format.",
                "x-ms-visibility": "important"
              },
              "header": {
                "type": "object",
                "x-ms-summary": "Header",
                "properties": {
                  "isRichText": {
                    "type": "string",
                    "x-ms-summary": "Is Rich Text",
                    "x-ms-visibility": "advanced",
                    "description": "True if the header is in rich text format."
                  },
                  "text": {
                    "type": "string",
                    "x-ms-summary": "Text",
                    "x-ms-visibility": "important",
                    "description": "Title of the post."
                  }
                }
              },
              "id": {
                "type": "string",
                "x-ms-summary": "ID",
                "x-ms-visibility": "important",
                "description": "Unique id of the feed item."
              },
              "modifiedDate": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Modified Date",
                "description": "Date-Time in ISO-8601 format.",
                "x-ms-visibility": "advanced"
              },
              "parent": {
                "type": "object",
                "x-ms-summary": "Parent",
                "properties": {
                  "description": {
                    "type": "string",
                    "x-ms-summary": "Description",
                    "description": "Description of the parent object.",
                    "x-ms-visibility": "advanced"
                  },
                  "id": {
                    "type": "string",
                    "x-ms-summary": "ID",
                    "description": "Unique id of the parent object.",
                    "x-ms-visibility": "advanced"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name",
                    "description": "Name of the parent object.",
                    "x-ms-visibility": "advanced"
                  },
                  "owner": {
                    "$ref": "#/definitions/OwnerUserResponse"
                  },
                  "type": {
                    "type": "string",
                    "x-ms-summary": "Type",
                    "description": "Type of the parent object.",
                    "x-ms-visibility": "advanced"
                  },
                  "visibility": {
                    "type": "string",
                    "x-ms-summary": "Visbility",
                    "description": "Who can see the parent object.",
                    "x-ms-visibility": "advanced"
                  }
                }
              },
              "type": {
                "type": "string",
                "x-ms-summary": "Type",
                "description": "Type of the post.",
                "x-ms-visibility": "important"
              },
              "visibility": {
                "type": "string",
                "x-ms-summary": "Visbility",
                "description": "Who can see the post.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListGroupsResponse": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserUserResponse"
          }
        }
      }
    },
    "ListGroupMembersResponse": {
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupMemberResponse"
          }
        },
        "totalMemberCount": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Total member count",
          "description": "Number of members in the group.",
          "x-ms-visibility": "important"
        }
      }
    },
    "GetPostResponse": {
      "type": "object",
      "properties": {
        "actor": {
          "$ref": "#/definitions/ActorUserResponse"
        },
        "body": {
          "type": "object",
          "x-ms-summary": "Post Body",
          "properties": {
            "isRichText": {
              "type": "boolean",
              "x-ms-summary": "Is Rich Text",
              "description": "True if the message is in rich text format.",
              "x-ms-visibility": "advanced"
            },
            "text": {
              "type": "string",
              "x-ms-summary": "Text",
              "description": "Display-ready text of the post.",
              "x-ms-visibility": "important"
            }
          }
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Date Posted",
          "description": "Date-Time in ISO-8601 format.",
          "x-ms-visibility": "important"
        },
        "header": {
          "type": "object",
          "x-ms-summary": "Header",
          "properties": {
            "isRichText": {
              "type": "string",
              "x-ms-summary": "Is Rich Text",
              "x-ms-visibility": "advanced",
              "description": "True if the header is in rich text format."
            },
            "text": {
              "type": "string",
              "x-ms-summary": "Text",
              "x-ms-visibility": "important",
              "description": "Title of the post."
            }
          }
        },
        "id": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "important",
          "description": "Unique id of the feed item."
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified Date",
          "x-ms-visibility": "advanced",
          "description": "Date-Time in ISO-8601 format."
        },
        "parent": {
          "type": "object",
          "x-ms-summary": "Parent",
          "properties": {
            "description": {
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced",
              "description": "Description of the parent object."
            },
            "id": {
              "type": "string",
              "x-ms-summary": "ID",
              "x-ms-visibility": "advanced",
              "description": "Unique id of the parent object."
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced",
              "description": "Name of the parent object."
            },
            "owner": {
              "$ref": "#/definitions/OwnerUserResponse"
            },
            "type": {
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced",
              "description": "Type of the parent object."
            },
            "visibility": {
              "type": "string",
              "x-ms-summary": "Visbility",
              "x-ms-visibility": "advanced",
              "description": "Who can see the parent object."
            }
          }
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important",
          "description": "Type of the post."
        },
        "visibility": {
          "type": "string",
          "x-ms-summary": "Visbility",
          "x-ms-visibility": "advanced",
          "description": "Who can see the post."
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.salesforce.com/products/chatter/overview/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.salesforce.com/company/privacy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/chatter"
  },
  "basePath": "/apim/chatter"
}
