{
  "swagger": "2.0",
  "info": {
    "title": "FORCAM FORCE Bridge",
    "version": "1.0.3",
    "description": "FORCAM FORCE is a IIoT platform solution for data driven manufacturing. It supports manufacturing companies to significantly increase their productivity. Its semantic data layer creates a uniform production data model and connects the shop- and top floor. The platform's open web interface form the bridge to in-house and third-party applications, thus enabling the free composition and collaboration of solutions. Connect today with FORCE to empower your workforce for digital transformation.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "FORCAM FORCE Bridge Support",
      "url": "https://forcam.com/en/contact/",
      "email": "forcebridge@forcam.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/forcamforcebridge",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/callbacks/{callbackId}": {
      "delete": {
        "x-ms-visibility": "internal",
        "description": "Deleted a trigger",
        "summary": "Deleted a trigger",
        "tags": [
          "trigger"
        ],
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "callbackId",
            "x-ms-url-encoding": "single",
            "in": "path",
            "description": "Id of the callback",
            "required": true,
            "type": "string"
          },
          {
            "name": "event",
            "in": "query",
            "description": "event identifier",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#deleted-a-trigger"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a new ticket has been created",
        "summary": "When a new ticket has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-new-ticket-has-been-created"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-updated": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When an existing ticket has been updated",
        "summary": "When an existing ticket has been updated",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketUpdatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-an-existing-ticket-has-been-updated"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket has been deleted",
        "summary": "When a ticket has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-has-been-deleted"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-state-changed": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketStateChangeEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When the state of a ticket has been changed",
        "summary": "When the state of a ticket has been changed",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketStateChangedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-the-state-of-a-ticket-has-been-changed"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-attachment-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketAttachmentEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket attachment has been created",
        "summary": "When a ticket attachment has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketAttachmentCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-attachment-has-been-created"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-attachment-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket attachment has been deleted",
        "summary": "When a ticket attachment has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketAttachmentDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-attachment-has-been-deleted"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-activity-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket activity has been created",
        "summary": "When a ticket activity has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-activity-has-been-created"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-activity-updated": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket activity has been updated",
        "summary": "When a ticket activity has been updated",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityUpdatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-activity-has-been-updated"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-activity-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket activity has been deleted",
        "summary": "When a ticket activity has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-activity-has-been-deleted"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-activity-state-changed": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityStateChangedEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket activity state has been changed",
        "summary": "When a ticket activity state has been changed",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityStateChangedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-activity-state-has-been-changed"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-activity-remark-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityRemarkEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket activity remark has been created",
        "summary": "When a ticket activity remark has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityRemarkCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-activity-remark-has-been-created"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-activity-remark-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket activity remark has been deleted",
        "summary": "When a ticket activity remark has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityRemarkDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-activity-remark-has-been-deleted"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-activity-attachment-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityAttachmentEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket activity attachment has been created",
        "summary": "When a ticket activity attachment has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityAttachmentCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-activity-attachment-has-been-created"
        }
      }
    },
    "/{connectionId}/callbacks/ticket-activity-attachment-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a ticket activity attachment has been deleted",
        "summary": "When a ticket activity attachment has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityAttachmentDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-ticket-activity-attachment-has-been-deleted"
        }
      }
    },
    "/{connectionId}/callbacks/workplace-created": {
      "x-ms-notification-content": {
        "description": "Workplace Event",
        "schema": {
          "$ref": "#/definitions/Workplace"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a new workplace has been created",
        "summary": "When a new workplace has been created",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "WorkplaceCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-new-workplace-has-been-created"
        }
      }
    },
    "/{connectionId}/callbacks/workplace-updated": {
      "x-ms-notification-content": {
        "description": "Workplace Event",
        "schema": {
          "$ref": "#/definitions/Workplace"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a workplace has been updated",
        "summary": "When a workplace has been updated",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "WorkplaceUpdatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-workplace-has-been-updated"
        }
      }
    },
    "/{connectionId}/callbacks/workplace-operating-state-changed": {
      "x-ms-notification-content": {
        "description": "WorkplaceOperatingStateChangedEvent Event",
        "schema": {
          "$ref": "#/definitions/WorkplaceOperatingStateChangedEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When the operating state of a workplace has been changed",
        "summary": "When the operating state of a workplace has been changed",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "WorkplaceOperatingStateChangedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-the-operating-state-of-a-workplace-has-been-changed"
        }
      }
    },
    "/{connectionId}/callbacks/workplace-deleted": {
      "x-ms-notification-content": {
        "description": "Workplace Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a workplace has been deleted",
        "summary": "When a workplace has been deleted",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "WorkplaceDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-workplace-has-been-deleted"
        }
      }
    },
    "/{connectionId}/callbacks/process-data-rule-violated": {
      "x-ms-notification-content": {
        "description": "Process data rule violated Event",
        "schema": {
          "$ref": "#/definitions/ProcessDataRuleViolated"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a process data rule has been violated",
        "summary": "When a process data rule has been violated",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "ProcessDataRuleViolatedEventTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the rule",
            "x-ms-summary": "Name of the rule",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-process-data-rule-has-been-violated"
        }
      }
    },
    "/{connectionId}/callbacks/customized-action": {
      "x-ms-notification-content": {
        "description": "CustomCallback Event",
        "schema": {
          "$ref": "#/definitions/CustomCallback"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a customized action occured",
        "summary": "When a customized action occured",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "CustomizedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the event",
            "x-ms-summary": "Name of the event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-customized-action-occured"
        }
      }
    },
    "/{connectionId}/callbacks/customized-action-raw": {
      "x-ms-notification-content": {
        "description": "CustomCallback Event",
        "schema": {
          "$ref": "#/definitions/CustomCallbackRaw"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "When a customized action occured (raw)",
        "summary": "When a customized action occured (raw)",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "CustomizedRawTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the event",
            "x-ms-summary": "Name of the event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#when-a-customized-action-occured-(raw)"
        }
      }
    },
    "/{connectionId}/callbacks/{eventRegisterName}": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookPushResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "Creates webhook",
        "summary": "Triggers when a PUSH event occurs",
        "tags": [
          "hooks"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "Webhook-trigger",
        "x-ms-trigger": "single",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "eventRegisterName",
            "in": "path",
            "x-ms-url-encoding": "single",
            "description": "name of the registered event",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the event",
            "x-ms-summary": "Name of the event",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          },
          "404": {
            "description": "Unknown eventName",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#triggers-when-a-push-event-occurs"
        }
      }
    },
    "/{connectionId}/masterData/operatingStates/id/{operatingStatesId}": {
      "get": {
        "description": "Get the operating states by its state Id",
        "summary": "Get operating state by Id",
        "tags": [
          "masterData"
        ],
        "operationId": "OperatingStatesById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "operatingStatesId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "The Id of the operatingState",
            "x-ms-summary": "The Id of the operatingState",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MasterDataOperatingState"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-operating-state-by-id"
        }
      }
    },
    "/{connectionId}/miscellaneous/materials": {
      "get": {
        "description": "Get materials",
        "summary": "Get materials",
        "tags": [
          "miscellaneous"
        ],
        "operationId": "GetMaterials",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MaterialsListFilter"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-materials"
        }
      }
    },
    "/{connectionId}/operations/progress/workplaceId/{workplaceId}": {
      "get": {
        "description": "Get operations that are in progress",
        "summary": "Get operations in progress",
        "tags": [
          "operations"
        ],
        "operationId": "OperationsInProgress",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workplaceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-operations-in-progress"
        }
      }
    },
    "/{connectionId}/operations/dispatched/workplaceId/{workplaceId}": {
      "get": {
        "description": "Get operations that are dispatched",
        "summary": "Get dispatched operations",
        "tags": [
          "operations"
        ],
        "operationId": "OperationsDispatched",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workplaceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-dispatched-operations"
        }
      }
    },
    "/{connectionId}/operations/plannable/workplaceId/{workplaceId}": {
      "get": {
        "description": "Get operations that are plannable",
        "summary": "Get plannable operations",
        "tags": [
          "operations"
        ],
        "operationId": "OperationsPlannable",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workplaceId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "description": "Id of workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-plannable-operations"
        }
      }
    },
    "/{connectionId}/operations/operationId/{operationId}": {
      "get": {
        "description": "get an operation by the Id",
        "summary": "Get operation by Id",
        "tags": [
          "operations"
        ],
        "operationId": "OperationByOperationId",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "description": "Id of an operation",
            "x-ms-summary": "Operation Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-operation-by-id"
        }
      }
    },
    "/{connectionId}/semantic/hitListOperatingStateMaterial/startDate/{startDate}/materialId/{materialId}": {
      "get": {
        "description": "Get a hitlist of operating states",
        "summary": "Get hitlist by material",
        "tags": [
          "reports"
        ],
        "operationId": "HitListOperatingStateByMaterialId",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "materialId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of a material",
            "x-ms-summary": "MaterialId",
            "x-ms-dynamic-values": {
              "operationId": "GetMaterials",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "materials"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticHitListOperatingStateMaterialList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-hitlist-by-material"
        }
      }
    },
    "/{connectionId}/semantic/hitListOperatingStateWorkplace/startDate/{startDate}/workplaceId/{workplaceId}": {
      "get": {
        "description": "Get a hitlist of operating states by its workplace Id",
        "summary": "Get hitlist by workplace",
        "tags": [
          "reports"
        ],
        "operationId": "HitListOperatingStateWorkplace",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "workplaceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of a workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticHitListOperatingStateWorkplaceList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-hitlist-by-workplace"
        }
      }
    },
    "/{connectionId}/semantic/hitListOperatingStateWorkplace/startDate/{startDate}/workplaceGroup/{workplaceGroupId}": {
      "get": {
        "description": "Get a hitlist of operating states by its workplace Id",
        "summary": "Get hitlist by workplaceGroup",
        "tags": [
          "reports"
        ],
        "operationId": "HitListOperatingStateWorkplaceGroup",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "workplaceGroupId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of a workplace group",
            "x-ms-summary": "WorkplaceGroupId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaceGroups",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "workplaceGroups"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticHitListOperatingStateWorkplaceList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-hitlist-by-workplacegroup"
        }
      }
    },
    "/{connectionId}/semantic/overallEquipmentEfficiency/startDate/{startDate}": {
      "get": {
        "description": "Get overall equipment efficiency (OEE)",
        "summary": "Get overall equipment efficiency (OEE)",
        "tags": [
          "reports"
        ],
        "operationId": "OverallEquipmentEfficiency",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "workplaceId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          },
          {
            "name": "workplaceGroupId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace group",
            "x-ms-summary": "WorkplaceGroupId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaceGroups",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "workplaceGroups"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticOverallEquipmentEfficiency"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-overall-equipment-efficiency-(oee)"
        }
      }
    },
    "/{connectionId}/semantic/overallProcessEfficiency/startDate/{startDate}": {
      "get": {
        "description": "Get the overall process efficiency (OPE)",
        "summary": "Get overall process efficiency (OPE)",
        "tags": [
          "reports"
        ],
        "operationId": "OverallProcessEfficiency",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "materialId",
            "in": "query",
            "required": false,
            "description": "Id of a material",
            "x-ms-summary": "MaterialId",
            "x-ms-dynamic-values": {
              "operationId": "GetMaterials",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "materials"
            },
            "type": "string"
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "description": "Id of a order",
            "x-ms-summary": "Order Id",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticOverallProcessEfficiency"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-overall-process-efficiency-(ope)"
        }
      }
    },
    "/{connectionId}/semantic/qualityDetailsMaterial/startDate/{startDate}/materialId/{materialId}": {
      "get": {
        "description": "Get the material quality details",
        "summary": "Get material quality details",
        "tags": [
          "reports"
        ],
        "operationId": "QualityDetailsByMaterialId",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "materialId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of a material",
            "x-ms-summary": "MaterialId",
            "x-ms-dynamic-values": {
              "operationId": "GetMaterials",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "materials"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticQualityDetailsMaterialList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-material-quality-details"
        }
      }
    },
    "/{connectionId}/semantic/qualityDetailsWorkplace/startDate/{startDate}": {
      "get": {
        "description": "Get workplace quality details by its workplaceId and materialId",
        "summary": "Get workplace quality details",
        "tags": [
          "reports"
        ],
        "operationId": "QualityDetailsByWorkplace",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "materialId",
            "in": "query",
            "required": false,
            "description": "Id of a material",
            "x-ms-summary": "MaterialId",
            "x-ms-dynamic-values": {
              "operationId": "GetMaterials",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "materials"
            },
            "type": "string"
          },
          {
            "name": "workplaceId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          },
          {
            "name": "workplaceGroupId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace group",
            "x-ms-summary": "WorkplaceGroupId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaceGroups",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "workplaceGroups"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticQualityDetailsWorkplaceList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-workplace-quality-details"
        }
      }
    },
    "/{connectionId}/semantic/totalQuantity/startDate/{startDate}": {
      "get": {
        "description": "Get total quantity details",
        "summary": "Get total quantity details",
        "tags": [
          "reports"
        ],
        "operationId": "TotalQuantity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "workplaceId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          },
          {
            "name": "workplaceGroupId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace group",
            "x-ms-summary": "WorkplaceGroupId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaceGroups",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "workplaceGroups"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticTotalQuantityList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-total-quantity-details"
        }
      }
    },
    "/{connectionId}/tickets": {
      "get": {
        "description": "Get tickets",
        "summary": "Get tickets",
        "tags": [
          "ticket"
        ],
        "operationId": "Tickets",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketNumber",
            "in": "query",
            "required": false,
            "description": "Number of the ticket",
            "x-ms-summary": "Ticketnumber",
            "type": "string"
          },
          {
            "name": "ticketStateId",
            "in": "query",
            "required": false,
            "description": "Ticket state",
            "x-ms-summary": "Ticket state",
            "type": "string",
            "enum": [
              "NEW",
              "IN_PROGRESS",
              "DONE",
              "CONFIRMED",
              "REOPENED"
            ]
          },
          {
            "name": "ticketClassId",
            "in": "query",
            "required": false,
            "description": "class of the ticket",
            "x-ms-summary": "TicketClassId",
            "x-ms-dynamic-values": {
              "operationId": "TicketClasses",
              "value-path": "id",
              "value-title": "description",
              "value-collection": "ticketClasses"
            },
            "type": "string"
          },
          {
            "name": "workplaceId",
            "in": "query",
            "required": false,
            "description": "Id of workplace that tickets have to belong to",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-tickets"
        }
      },
      "post": {
        "description": "Create a new ticket",
        "summary": "Create a new ticket",
        "tags": [
          "ticket"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketCreate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newTicket",
            "in": "body",
            "required": true,
            "description": "Ticket to create",
            "schema": {
              "type": "object",
              "required": [
                "priority",
                "ticketStateId",
                "description",
                "title"
              ],
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "rootCause": {
                  "type": "string"
                },
                "priority": {
                  "type": "string",
                  "enum": [
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "VERY_HIGH"
                  ]
                },
                "ticketStateId": {
                  "type": "string",
                  "enum": [
                    "NEW",
                    "IN_PROGRESS",
                    "DONE",
                    "CONFIRMED",
                    "REOPENED"
                  ]
                },
                "ticketClassId": {
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "TicketClasses",
                    "value-path": "id",
                    "value-title": "description",
                    "value-collection": "ticketClasses"
                  }
                },
                "operationId": {
                  "type": "string"
                },
                "materialNumber": {
                  "type": "string"
                },
                "workplaceId": {
                  "type": "string",
                  "x-ms-summary": "WorkplaceId",
                  "x-ms-dynamic-values": {
                    "operationId": "getWorkplaces",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "workplaces"
                  }
                },
                "shiftId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Ticket"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#create-a-new-ticket"
        }
      }
    },
    "/{connectionId}/tickets/ticketId/{ticketId}": {
      "get": {
        "description": "Get ticket by Id",
        "summary": "Get ticket by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketByTicketId",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Ticket"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-by-id"
        }
      }
    },
    "/{connectionId}/tickets/ticketNumber/{ticketNumber}": {
      "get": {
        "description": "Get ticket by the ticket number",
        "summary": "Get ticket by number",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketByNumber",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketNumber",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Number of the ticket",
            "x-ms-summary": "Ticketnumber",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Ticket"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-by-number"
        }
      }
    },
    "/{connectionId}/tickets/ticketId/{ticketId}/attachments/attachmentId/{attachmentId}": {
      "get": {
        "description": "Get ticket attachment by the ticket and attachmentId",
        "summary": "Get ticket attachment by attachment Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketAttachmentById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the attachment",
            "x-ms-summary": "Id of the attachment",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketAttachment"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-attachment-by-attachment-id"
        }
      }
    },
    "/{connectionId}/tickets/ticketId/{ticketId}/attachments": {
      "get": {
        "description": "Get ticket attachments by the ticket Id",
        "summary": "Get ticket attachments by ticket Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketAttachmentsByTicketId",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketAttachmentList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-attachments-by-ticket-id"
        }
      }
    },
    "/{connectionId}/tickets/ticketId/{ticketId}/activities/activityId/{activityId}": {
      "get": {
        "description": "Get ticket activity by the ticket and activity Id",
        "summary": "Get ticket activity by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the Activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivity"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-activity-by-id"
        }
      }
    },
    "/{connectionId}/tickets/ticketId/{ticketId}/activities": {
      "get": {
        "description": "Get ticket activities by the ticket Id",
        "summary": "Get ticket activities by ticket Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityByTicketId",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivityList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-activities-by-ticket-id"
        }
      }
    },
    "/{connectionId}/tickets/classes": {
      "get": {
        "description": "Get ticket classes",
        "summary": "Get ticket classes",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketClasses",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit",
            "x-ms-summary": "Limit",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset",
            "x-ms-summary": "Offset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketClassList"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-classes"
        }
      }
    },
    "/{connectionId}/tickets/classes/{ticketClassId}": {
      "get": {
        "description": "Get ticket class by Id",
        "summary": "Get ticket class by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketClassByClassId",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketClassId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of ticketClass",
            "x-ms-summary": "TicketClassId",
            "x-ms-dynamic-values": {
              "operationId": "TicketClasses",
              "value-path": "id",
              "value-title": "description",
              "value-collection": "ticketClasses"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketClass"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-class-by-id"
        }
      }
    },
    "/{connectionId}/tickets/ticketId/{ticketId}/activities/activityId/{activityId}/remarks/remarkId/{remarkId}": {
      "get": {
        "description": "Get ticket activity remark by the remark Id",
        "summary": "Get ticket activity remark by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityRemarkById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the Activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          },
          {
            "name": "remarkId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the Activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivityRemark"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/forcamforcebridge/#get-ticket-activity-remark-by-id"
        }
      }
    },
    "/{connectionId}/tickets/states": {
      "get": {
        "description": "Get ticket states",
        "summary": "Get ticket states",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketStates",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit",
            "x-ms-summary": "Limit",
            "type": "string"
[...]
