{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "ProjectWise Design Integration",
    "description": "ProjectWise Design Integration from Bentley Systems, Inc. is an information management and design collaboration system to accelerate infrastructure project delivery. Connect to Design Integration to store and modify documents in ProjectWise.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "url": "https://communities.bentley.com/products/betas/projectwise-design-integration-connector-for-microsoft-flow-early-access/f/discussions"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/bentley",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/attributes": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "operationId": "GetDocumentSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "projectFolderPathOrId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessScope",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "write",
            "enum": [
              "read",
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JsonSchema"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-visibility": "internal",
        "summary": "GetDocumentSchema",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#getdocumentschema"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/environments/{environmentId}/attributes": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "operationId": "GetAttributeSchemaByEnvironment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "environmentId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "accessScope",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "write",
            "enum": [
              "read",
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JsonSchema"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-visibility": "internal",
        "summary": "GetAttributeSchemaByEnvironment",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#getattributeschemabyenvironment"
        }
      }
    },
    "/{connectionId}/api/v2/{connection}/attributes": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "operationId": "GetAttributes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connection",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentId",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessScope",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "write",
            "enum": [
              "read",
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/AttributeResponseModel"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/RestError[FlowError]"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/RestError[FlowError]"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/RestError[FlowError]"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-visibility": "internal",
        "summary": "GetAttributes",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#getattributes"
        }
      }
    },
    "/{connectionId}/api/v2/{connection}/attributeSchema": {
      "get": {
        "tags": [
          "Attributes"
        ],
        "operationId": "GetAttributeSchema_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connection",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "environmentInstanceIdOrName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "accessScope",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "write",
            "enum": [
              "read",
              "write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JsonSchema"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/RestError[FlowError]"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/RestError[FlowError]"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/RestError[FlowError]"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-visibility": "internal",
        "summary": "GetAttributeSchema_V2",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#getattributeschema_v2"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/projects/{projectFolderPathOrId}/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "GetDocuments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "40afc537-6c7d-4e91-8537-e5c8c8cdc502"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "projectFolderPathOrId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "Folder",
                "isFolder": true
              }
            },
            "x-ms-summary": "Folder",
            "description": "Folder path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "Folder"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "Folder"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          },
          {
            "name": "Top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100,
            "x-ms-summary": "Top count",
            "description": "Total number of documents to retrieve"
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip count",
            "description": "Total number of documents to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFoundObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListDocumentsInFolder",
          "revision": 1
        },
        "summary": "List documents in a folder",
        "description": "Lists all the documents in the folder",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#list-documents-in-a-folder"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/documents/{documentIdentifier}/references": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "FindDocumentReferences",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "a4ea23af-5491-47c6-8d10-5062e2cb0af2"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "LogicalSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "LogicalSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "LogicalSet"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "FindDocumentReferences",
          "revision": 1
        },
        "summary": "Find references of a document by path or GUID",
        "description": "Finds references of a document in ProjectWise Design Integration work area by path or GUID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#find-references-of-a-document-by-path-or-guid"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/documents/{documentIdentifier}/versions": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "FindDocumentVersions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "7d6297b0-c81b-4419-b3a0-893a8ff7c604"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "Document,LogicalSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "DocumentLogicalSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "DocumentLogicalSet"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "FindDocumentVersions",
          "revision": 1
        },
        "summary": "Find versions of a document by path or GUID",
        "description": "Finds versions of a document in ProjectWise Design Integration work area by path or GUID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#find-versions-of-a-document-by-path-or-guid"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/documents/{documentIdentifier}/members": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "ListDocumentsInSet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "117e197e-95be-4fde-ae62-6015b8af2e66"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "FlatSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "FlatSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "FlatSet"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          },
          {
            "name": "Top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100,
            "x-ms-summary": "Top count",
            "description": "Total number of documents to retrieve"
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip count",
            "description": "Total number of documents to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFoundObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListDocumentsInSet",
          "revision": 1
        },
        "summary": "List documents in a set",
        "description": "Lists all the documents in the set",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#list-documents-in-a-set"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/documents/{documentIdentifier}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "FindDocument",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "f968c6b8-3d29-436c-aaf4-f09ae4fe5597"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "Document,FlatSet,LogicalSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "DocumentFlatSetLogicalSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "DocumentFlatSetLogicalSet"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentModelResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "FindDocument",
          "revision": 1
        },
        "summary": "Find a document by path or GUID",
        "description": "Finds a document in ProjectWise Design Integration work area by path or GUID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#find-a-document-by-path-or-guid"
        }
      },
      "put": {
        "tags": [
          "Documents"
        ],
        "operationId": "EditDocument",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "99429c0f-0da6-4386-b427-dc1980703d4c"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "Document,FlatSet,LogicalSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "DocumentFlatSetLogicalSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "DocumentFlatSetLogicalSet"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "documentModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentModelNameNotRequired"
            },
            "x-ms-summary": "Document model"
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                }
              }
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Environment",
            "description": "The environment to use for attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentModelResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read",
              "pwdi-write"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read",
              "pwdi-write"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ModifyDocument",
          "revision": 1
        },
        "summary": "Modify a document",
        "description": "Modifies ProjectWise Design Integration document",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#modify-a-document"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/savedSearches/{savedSearchId}/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "FindDocumentsBySavedSearch",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "0062c996-13e1-4b1e-988c-9e7094e726a9"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "savedSearchId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "SavedSearchForDocuments"
              }
            },
            "x-ms-summary": "Saved Search",
            "description": "ProjectWise Design Integration saved search",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "SavedSearchForDocuments"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "SavedSearchForDocuments"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "FindDocumentsBySavedSearch",
          "revision": 1
        },
        "summary": "Find documents by saved search",
        "description": "Finds documents in ProjectWise Design Integration work area by saved search",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#find-documents-by-saved-search"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/projects/{projectIdentifier}/documents": {
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "CreateDocument",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "29d1c4e7-c809-4ba8-be7a-22e684bf49ea"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "projectIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "Folder",
                "isFolder": true
              }
            },
            "x-ms-summary": "Folder",
            "description": "Destination folder path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "Folder"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "Folder"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "documentModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentModel"
            },
            "x-ms-summary": "Document model"
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                }
              }
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Environment",
            "description": "The environment to use for attributes"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentModelResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read",
              "pwdi-write"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read",
              "pwdi-write"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateDocument",
          "revision": 1
        },
        "summary": "Create a new document",
        "description": "Creates a new document in ProjectWise Design Integration work area",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#create-a-new-document"
        }
      }
    },
    "/{connectionId}/api/v1/connectedProjects/{connectedProjectId}/federatedRepositories/{federatedRepositoryId}/documents/{documentIdentifier}/states": {
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "ChangeDocumentState",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectedProjectId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetConnectedProjects",
              "value-path": "id",
              "value-title": "title",
              "parameters": {}
            },
            "x-ms-summary": "ProjectWise Project",
            "description": "ProjectWise project"
          },
          {
            "name": "federatedRepositoryId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "operationId": "GetFederatedRepositories",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "featureId": "70344309-9809-4aae-9e81-03fcad9a924c"
              }
            },
            "x-ms-summary": "Connection",
            "description": "ProjectWise Design Integration connection"
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=PickerV1",
                "connectedProjectId": {
                  "parameter": "connectedProjectId"
                },
                "federatedRepositoryId": {
                  "parameter": "federatedRepositoryId"
                },
                "selectableTypes": "Document,LogicalSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "DocumentLogicalSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "GetSelections",
                "parameters": {
                  "connectedProjectId": {
                    "parameterReference": "connectedProjectId"
                  },
                  "federatedRepositoryId": {
                    "parameterReference": "federatedRepositoryId"
                  },
                  "selectableTypes": {
                    "value": "DocumentLogicalSet"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "parentType": {
                    "selectedItemValuePath": "Type"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "documentModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentStateChangeModelV1"
            },
            "x-ms-summary": "Document model"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkflowStateResponseModel"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read",
              "pwdi-write"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read",
              "pwdi-write"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ChangeDocumentState",
          "revision": 1
        },
        "summary": "Change document state",
        "description": "Changes a workflow state of a document",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#change-document-state"
        }
      }
    },
    "/{connectionId}/api/v2/{connection}/projects/{projectFolderPathOrId}/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "GetDocuments_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connection",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=Picker",
                "selectableTypes": "Connection",
                "featureId": "d3aac6ea-1168-40f1-a619-73d3b21734ae"
              }
            },
            "x-ms-summary": "Connection",
            "description": "Connection to ProjectWise Design Integration work area",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "value": "Purpose=Picker"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "selectedItemValuePath": "Connection"
                  },
                  "projectType": {
                    "selectedItemValuePath": "ProjectType"
                  },
                  "featureId": {
                    "value": "d3aac6ea-1168-40f1-a619-73d3b21734ae"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "projectFolderPathOrId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                },
                "selectableTypes": "Folder",
                "isFolder": true
              }
            },
            "x-ms-summary": "Folder",
            "description": "Folder path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "FolderPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "FolderPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments_V2",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                }
              }
            },
            "x-ms-summary": "Environment",
            "description": "The environment to use for attributes"
          },
          {
            "name": "Top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100,
            "x-ms-summary": "Top count",
            "description": "Total number of documents to retrieve"
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip count",
            "description": "Total number of documents to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponseV2"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFoundObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "summary": "List documents in a folder (V2)",
        "description": "Lists all the documents in the folder",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#list-documents-in-a-folder-(v2)"
        }
      }
    },
    "/{connectionId}/api/v2/{connection}/documents/{documentIdentifier}/references": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "FindDocumentReferences_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connection",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=Picker",
                "selectableTypes": "Connection",
                "featureId": "cbee197e-4a03-a241-8d10-7094e2cbea4f"
              }
            },
            "x-ms-summary": "Connection",
            "description": "Connection to ProjectWise Design Integration work area",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "value": "Purpose=Picker"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "selectedItemValuePath": "Connection"
                  },
                  "projectType": {
                    "selectedItemValuePath": "ProjectType"
                  },
                  "featureId": {
                    "value": "cbee197e-4a03-a241-8d10-7094e2cbea4f"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                },
                "selectableTypes": "LogicalSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "DocumentPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "DocumentPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "documentTypes": {
                    "value": "LogicalSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments_V2",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponseV2"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "summary": "Find references of a document by path or GUID (V2)",
        "description": "Finds references of a document in ProjectWise Design Integration work area by path or GUID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#find-references-of-a-document-by-path-or-guid-(v2)"
        }
      }
    },
    "/{connectionId}/api/v2/{connection}/documents/{documentIdentifier}/versions": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "FindDocumentVersions_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connection",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=Picker",
                "selectableTypes": "Connection",
                "featureId": "caac4f0b-a933-4bb8-9205-d936aa47b76f"
              }
            },
            "x-ms-summary": "Connection",
            "description": "Connection to ProjectWise Design Integration work area",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "value": "Purpose=Picker"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "selectedItemValuePath": "Connection"
                  },
                  "projectType": {
                    "selectedItemValuePath": "ProjectType"
                  },
                  "featureId": {
                    "value": "caac4f0b-a933-4bb8-9205-d936aa47b76f"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                },
                "selectableTypes": "Document,LogicalSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "DocumentPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "DocumentPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "documentTypes": {
                    "value": "DocumentLogicalSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments_V2",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponseV2"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "summary": "Find versions of a document by path or GUID (V2)",
        "description": "Finds versions of a document in ProjectWise Design Integration work area by path or GUID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#find-versions-of-a-document-by-path-or-guid-(v2)"
        }
      }
    },
    "/{connectionId}/api/v2/{connection}/documents/{documentIdentifier}/members": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "ListDocumentsInSet_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connection",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=Picker",
                "selectableTypes": "Connection",
                "featureId": "6edd6def-018f-458d-8306-4b77483a0676"
              }
            },
            "x-ms-summary": "Connection",
            "description": "Connection to ProjectWise Design Integration work area",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "value": "Purpose=Picker"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "selectedItemValuePath": "Connection"
                  },
                  "projectType": {
                    "selectedItemValuePath": "ProjectType"
                  },
                  "featureId": {
                    "value": "6edd6def-018f-458d-8306-4b77483a0676"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                },
                "selectableTypes": "FlatSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "DocumentPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "DocumentPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "documentTypes": {
                    "value": "FlatSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments_V2",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                }
              }
            },
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Environment",
            "description": "The environment to use for attributes"
          },
          {
            "name": "Top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 100,
            "x-ms-summary": "Top count",
            "description": "Total number of documents to retrieve"
          },
          {
            "name": "Skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Skip count",
            "description": "Total number of documents to skip"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentModelResponseV2"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/NotFoundObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "summary": "List documents in a set (V2)",
        "description": "Lists all the documents in the set",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#list-documents-in-a-set-(v2)"
        }
      }
    },
    "/{connectionId}/api/v2/{connection}/documents/{documentIdentifier}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "FindDocument_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connection",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Id",
              "value-title": "Path",
              "parameters": {
                "connection": "Purpose=Picker",
                "selectableTypes": "Connection",
                "featureId": "5378cc11-7cf4-4bf2-9b99-cac52cfe5696"
              }
            },
            "x-ms-summary": "Connection",
            "description": "Connection to ProjectWise Design Integration work area",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "value": "Purpose=Picker"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "ConnectionPicker",
                "parameters": {
                  "connection": {
                    "selectedItemValuePath": "Connection"
                  },
                  "projectType": {
                    "selectedItemValuePath": "ProjectType"
                  },
                  "featureId": {
                    "value": "5378cc11-7cf4-4bf2-9b99-cac52cfe5696"
                  }
                },
                "itemValuePath": "Connection",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "FullTitle",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "documentIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "Path",
              "value-title": "Path",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                },
                "selectableTypes": "Document,FlatSet,LogicalSet"
              }
            },
            "x-ms-summary": "Document",
            "description": "Document path or GUID",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "DocumentPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              },
              "browse": {
                "operationId": "DocumentPicker",
                "parameters": {
                  "connection": {
                    "parameterReference": "connection"
                  },
                  "parentId": {
                    "selectedItemValuePath": "Id"
                  },
                  "parentPath": {
                    "selectedItemValuePath": "Path"
                  },
                  "documentTypes": {
                    "value": "DocumentFlatSetLogicalSet"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "Title",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsParent eq true)"
              }
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironments_V2",
              "value-path": "name",
              "value-title": "name",
              "parameters": {
                "connection": {
                  "parameter": "connection"
                }
              }
            },
            "x-ms-summary": "Environment for result",
            "description": "The environment to use for attributes in the result"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentModelResponseV2"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestObjectResult"
            }
          }
        },
        "security": [
          {
            "Microsoft Flow": [
              "pwdi-read"
            ]
          },
          {
            "OpenAPI": [
              "pwdi-read"
            ]
          }
        ],
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "summary": "Find a document by path or GUID (V2)",
        "description": "Finds a document in ProjectWise Design Integration work area by path or GUID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bentley/#find-a-document-by-path-or-guid-(v2)"
        }
      },
      "put": {
        "tags": [
          "Documents"
        ],
        "operationId": "EditDocument_V2",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
[...]
