{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Ally",
    "description": "The Ally Connector allows your company to distribute news and information through our AI-based Converstional Agent called Ally. Use the full potential of AI to maximize your sales and achieve an organization-wide information distribution.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/aliru",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/SendNews": {
      "post": {
        "summary": "Send news to your organization",
        "description": "Send news to your organization. Notice: If you do not provide a User, Ally is scaning the news and sending it only to users, which are interested in the topic. You can help Ally by adding additional Tags.",
        "operationId": "SendNews",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "Headline",
                "Text"
              ],
              "type": "object",
              "properties": {
                "Headline": {
                  "title": "Headline",
                  "description": "The headline of the news.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "Text": {
                  "title": "Text",
                  "description": "The main text of the news.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "URL": {
                  "title": "URL",
                  "description": "A URL, where the user can get more information.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "PictureURL": {
                  "title": "Picture URL",
                  "description": "A URL of an image connected to the news.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "Tags": {
                  "title": "Tags",
                  "description": "Tags, which help Ally to further understand the topic of your text.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "TimeToLiveInDays": {
                  "format": "int32",
                  "title": "Time to live in days",
                  "description": "The maximum number of days the news will exist in Ally. (Default: 7)",
                  "type": "integer",
                  "x-ms-visibility": "important"
                },
                "UserId": {
                  "title": "User",
                  "description": "The User, who shall be notified. If empty the whole organization will be notified.",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/aliru/#send-news-to-your-organization"
        }
      }
    },
    "/{connectionId}/api/SendNotification": {
      "post": {
        "summary": "Send a notification to your organization",
        "description": "Send notifications to a member of your organization or your whole with this action.",
        "operationId": "SendNotification",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "Text"
              ],
              "type": "object",
              "properties": {
                "Text": {
                  "title": "Text",
                  "description": "The text of your notification.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "UserId": {
                  "title": "User",
                  "description": "The User, who shall be notified. If empty the whole organization will be notified.",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/aliru/#send-a-notification-to-your-organization"
        }
      }
    },
    "/{connectionId}/api/GetUsers": {
      "get": {
        "summary": "Load Users in your organization",
        "description": "This function is mainly used for loading users within your organization.",
        "operationId": "GetUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "required": [
                  "id",
                  "name"
                ],
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/aliru/#load-users-in-your-organization"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/aliru"
  }
}