{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "TeleSign SMS",
    "description": "TeleSign SMS enables apps to send global text messages. Add as another communications channel to send alerts, reminders, notifications, invites, marketing messages and more.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "email": "sales@telesign.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/telesignsms",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/SMS": {
      "post": {
        "summary": "Send SMS Message",
        "description": "Send SMS message through your TeleSign account",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "MessageText",
                "PhoneNumber"
              ],
              "type": "object",
              "properties": {
                "PhoneNumber": {
                  "title": "Phone Number",
                  "description": "Destination phone number in E.164 format",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "ExternalId": {
                  "title": "External Id",
                  "description": "The ID which you want to use to identify the message and which will be returned in delivery report",
                  "type": "string"
                },
                "MessageText": {
                  "title": "Message Text",
                  "description": "Text of the message to be sent to the end user",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "MessageType": {
                  "title": "Message Type",
                  "description": "Possible values: OTP, ARN or MKT. OTP – One time password, ARN – Alerts, Reminders and Notifications, MKT – Marketing.",
                  "type": "string"
                },
                "SenderId": {
                  "title": "TeleSign Sender Id",
                  "description": "Sender ID (Phone Number) purchased from TeleSign",
                  "type": "string"
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "ReferenceId": {
                  "description": "ReferenceId",
                  "type": "string"
                },
                "Status": {
                  "description": "Status",
                  "type": "string"
                },
                "Status Code": {
                  "description": "Status Code",
                  "type": "string"
                },
                "Timestamp": {
                  "description": "Timestamp",
                  "type": "string"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/telesignsms/#send-sms-message"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.telesign.com/blog/post/send-sms-messages-powered-by-telesign-directly-from-microsoft-flow/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.telesign.com/privacy-notice"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/telesignsms"
  }
}
