{
  "swagger": "2.0",
  "info": {
    "title": "Marketing Content Hub",
    "version": "1.65",
    "description": "Marketing Content Hub by Stylelabs integrates and blends boundaries between traditional marketing silos. It provides an integrated solution for Digital asset management (DAM), Product information management (PIM), Marketing resource management (MRM), Web to Print, Marketing portal and Digital rights management (DRM).",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/triggers": {
      "x-ms-notification-content": {
        "description": "Details for On Entity Save Webhook.",
        "schema": {
          "$ref": "#/definitions/OnEntitySaveResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "On Entity Save",
        "description": "Trigger that executes for every entity save.",
        "operationId": "OnEntitySaveTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "AddSaveEntityTriggerSchema",
            "in": "body",
            "required": true,
            "description": "Request body of the On Entity Save Webhook.",
            "schema": {
              "$ref": "#/definitions/OnEntitySaveRequestBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnEntitySaveCreationResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#on-entity-save"
        }
      }
    },
    "/{connectionId}/api/entitydefinitions": {
      "get": {
        "summary": "List Entity Definitions",
        "description": "Lists the available entity definitions.",
        "operationId": "ListEntityDefinitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListEntityDefinitionsResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#list-entity-definitions"
        }
      }
    },
    "/{connectionId}/api/datasources/cultures": {
      "get": {
        "summary": "List Cultures",
        "description": "Lists the available cultures.",
        "operationId": "ListCultures",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCulturesResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#list-cultures"
        }
      }
    },
    "/{connectionId}/api/datasources/publishablerenditions": {
      "get": {
        "summary": "List Publishable Renditions",
        "description": "Lists the publishable renditions.",
        "operationId": "ListPublishableRenditions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPublishableRenditionsResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#list-publishable-renditions"
        }
      }
    },
    "/{connectionId}/api/fetchjobs": {
      "post": {
        "summary": "Add Fetch Job",
        "description": "Adds a FetchJob.",
        "operationId": "AddFetchJob",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "items",
            "in": "body",
            "description": "Items",
            "schema": {
              "$ref": "#/definitions/AddFetchJobSchema"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddFetchJobResponse"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#add-fetch-job"
        }
      }
    },
    "/{connectionId}/api/fetchjobs/{id}": {
      "get": {
        "summary": "Get FetchJob Status",
        "description": "Gets the status of a FetchJob.",
        "operationId": "GetFetchJobById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "type": "number",
            "in": "path",
            "description": "The id of the fetch job you want to get the status from.",
            "required": true,
            "x-ms-summary": "Fetch Job Id"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetFetchJobByIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#get-fetchjob-status"
        }
      }
    },
    "/{connectionId}/api/entitydefinitions/{type}": {
      "get": {
        "summary": "Get Entity Definition Schema",
        "description": "Gets the schema of a record type.",
        "operationId": "GetEntitySchemaByDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type",
            "type": "string",
            "in": "path",
            "description": "Select Entity you want output from.",
            "required": true,
            "x-ms-summary": "Select Entity"
          },
          {
            "name": "X-Operation-Type",
            "type": "string",
            "in": "header",
            "description": "Type of operation.",
            "required": false,
            "x-ms-summary": "Select Entity",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#get-entity-definition-schema"
        }
      }
    },
    "/{connectionId}/api/entities/{id}": {
      "delete": {
        "summary": "Delete Entity By Id",
        "description": "Deletes an entity.",
        "operationId": "DeleteEntityById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "Unique id of the entity.",
            "required": true,
            "x-ms-summary": "Entity Id",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#delete-entity-by-id"
        }
      }
    },
    "/{connectionId}/api/entitydefinitions/{type-dynamic}/entities": {
      "get": {
        "summary": "List Entities",
        "description": "Gets entities from a certain entity definition like 'M.Brand' - uses dynamic values and outputs dynamic-schema.",
        "operationId": "ListEntitiesByDefinition",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type-dynamic",
            "type": "string",
            "in": "path",
            "description": "Select entity definition.",
            "required": true,
            "x-ms-summary": "Entity Definition",
            "x-ms-dynamic-values": {
              "operationId": "ListEntityDefinitions",
              "value-path": "name",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "take",
            "type": "string",
            "in": "query",
            "description": "Specify the number of entities to retrieve (e.g. 10, maximum 100).",
            "required": false,
            "x-ms-summary": "Take",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "skip",
            "type": "string",
            "in": "query",
            "description": "Specify the number of entities to skip in the result (e.g. 10).",
            "required": false,
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "members",
            "type": "string",
            "in": "query",
            "description": "Specify the members to be retrieved.",
            "required": false,
            "x-ms-summary": "Members",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "renditions",
            "type": "string",
            "in": "query",
            "description": "Specify the renditions to be retrieved.",
            "required": false,
            "x-ms-summary": "Renditions",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListPublishableRenditions",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "culture",
            "type": "string",
            "in": "query",
            "description": "Specify the culture to be retrieved.",
            "required": false,
            "x-ms-summary": "Culture",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListCultures",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "sort",
            "type": "string",
            "in": "query",
            "description": "Specify the sort query to be used.",
            "required": false,
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Specify the order to be used.",
            "required": false,
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "sortCulture",
            "type": "string",
            "in": "query",
            "description": "Specify the sort culture to be retrieved.",
            "required": false,
            "x-ms-summary": "Sort Culture",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListCultures",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListEntitiesByDefinitionResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#list-entities"
        }
      }
    },
    "/{connectionId}/api/entities": {
      "post": {
        "summary": "Add Entity",
        "description": "Adds an entity for a certain entity definition like 'M.Brand' - uses dynamic values and outputs dynamic-schema.",
        "operationId": "AddEntityByDefinition",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type-dynamic",
            "type": "string",
            "in": "header",
            "description": "Select entity definition.",
            "required": true,
            "x-ms-summary": "Select Entity Definition",
            "x-ms-dynamic-values": {
              "operationId": "ListEntityDefinitions",
              "value-path": "name",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "dynamicTypeSchema",
            "in": "body",
            "description": "Dynamic schema of entity definition.",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetEntitySchemaByDefinition",
                "parameters": {
                  "type": {
                    "parameter": "type-dynamic"
                  },
                  "X-Operation-Type": "AddEntityByDefinition"
                },
                "value-path": "items"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddEntityByDefinitionResponse"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#add-entity"
        }
      }
    },
    "/{connectionId}/api/entities/identifier/{identifier}": {
      "get": {
        "summary": "Get Entity By Identifier",
        "description": "Retrieves a certain entity by its identifier and definition.",
        "operationId": "GetEntityByIdentifier",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type-dynamic",
            "type": "string",
            "in": "header",
            "description": "Select entity definition.",
            "required": true,
            "x-ms-summary": "Select Entity Definition",
            "x-ms-dynamic-values": {
              "operationId": "ListEntityDefinitions",
              "value-path": "name",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "path",
            "description": "Unique entity identifier.",
            "required": true,
            "x-ms-summary": "Entity identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetEntityByIdentifierResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#get-entity-by-identifier"
        }
      },
      "put": {
        "summary": "Update Entity by Identifier",
        "description": "Updates an entity for a certain entity definition - uses dynamic values and outputs dynamic-schema.",
        "operationId": "UpdateEntityByIdentifier",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type-dynamic",
            "type": "string",
            "in": "header",
            "description": "Select entity definition.",
            "required": true,
            "x-ms-summary": "Select Entity Definition",
            "x-ms-dynamic-values": {
              "operationId": "ListEntityDefinitions",
              "value-path": "name",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "path",
            "description": "Unique entity Identifier.",
            "required": true,
            "x-ms-summary": "Entity identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "dynamicTypeSchema",
            "in": "body",
            "description": "Dynamic schema of entity definition.",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetEntitySchemaByDefinition",
                "parameters": {
                  "type": {
                    "parameter": "type-dynamic"
                  },
                  "X-Operation-Type": "UpdateEntityByIdentifier"
                },
                "value-path": "items"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#update-entity-by-identifier"
        }
      },
      "delete": {
        "summary": "Delete Entity By Identifier",
        "description": "Deletes an entity via identifier.",
        "operationId": "DeleteEntityByIdentifier",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "identifier",
            "type": "string",
            "in": "path",
            "description": "The unique identifier of the entity.",
            "required": true,
            "x-ms-summary": "Entity Identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "404": {
            "description": "Entity Not Found."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#delete-entity-by-identifier"
        }
      }
    },
    "/{connectionId}/api/entities/query/simple": {
      "post": {
        "summary": "Query Entities (Simple)",
        "description": "Queries entities, based on the type of entity (simple).",
        "operationId": "QueryEntitiesByDefinitionSimple",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type-dynamic",
            "type": "string",
            "in": "header",
            "description": "Select entity definition.",
            "required": true,
            "x-ms-summary": "Select Entity Definition",
            "x-ms-dynamic-values": {
              "operationId": "ListEntityDefinitions",
              "value-path": "name",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "dynamicTypeSchema",
            "in": "body",
            "description": "Dynamic schema of entity definition.",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetEntitySchemaByDefinition",
                "parameters": {
                  "type": {
                    "parameter": "type-dynamic"
                  },
                  "X-Operation-Type": "QueryEntitiesByDefinitionSimple"
                },
                "value-path": "items"
              }
            }
          },
          {
            "name": "take",
            "type": "string",
            "in": "query",
            "description": "Specify the number of entities to retrieve (e.g. 10, maximum 100).",
            "required": false,
            "x-ms-summary": "Take",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "skip",
            "type": "string",
            "in": "query",
            "description": "Specify the number of entities to skip in the result (e.g. 10).",
            "required": false,
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "members",
            "type": "string",
            "in": "query",
            "description": "Specify the members to be retrieved.",
            "required": false,
            "x-ms-summary": "Members",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "renditions",
            "type": "string",
            "in": "query",
            "description": "Specify the renditions to be retrieved.",
            "required": false,
            "x-ms-summary": "Renditions",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListPublishableRenditions",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "culture",
            "type": "string",
            "in": "query",
            "description": "Specify the culture to be retrieved.",
            "required": false,
            "x-ms-summary": "Culture",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListCultures",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "sort",
            "type": "string",
            "in": "query",
            "description": "Specify the sort query to be used.",
            "required": false,
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Specify the order to be used.",
            "required": false,
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "sortCulture",
            "type": "string",
            "in": "query",
            "description": "Specify the sort culture to be retrieved.",
            "required": false,
            "x-ms-summary": "Sort Culture",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListCultures",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QueryEntitiesByDefinitionSimpleResponse"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#query-entities-(simple)"
        }
      }
    },
    "/{connectionId}/api/entities/query/advanced": {
      "get": {
        "summary": "Query Entities (Advanced)",
        "description": "Queries entities, based on the type of entity (advanced).",
        "operationId": "QueryEntitiesByDefinitionAdvanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type-dynamic",
            "type": "string",
            "in": "header",
            "description": "Select entity definition.",
            "required": true,
            "x-ms-summary": "Select Entity Definition",
            "x-ms-dynamic-values": {
              "operationId": "ListEntityDefinitions",
              "value-path": "name",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "query",
            "type": "string",
            "in": "query",
            "description": "Grammar expression, see Stylelabs API for more info.",
            "required": true,
            "x-ms-summary": "Grammar expression",
            "x-ms-visibility": "important"
          },
          {
            "name": "take",
            "type": "string",
            "in": "query",
            "description": "Specify the number of entities to retrieve (e.g. 10, maximum 100).",
            "required": false,
            "x-ms-summary": "Take",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "skip",
            "type": "string",
            "in": "query",
            "description": "Specify the number of entities to skip in the result (e.g. 10).",
            "required": false,
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "members",
            "type": "string",
            "in": "query",
            "description": "Specify the members to be retrieved.",
            "required": false,
            "x-ms-summary": "Members",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "renditions",
            "type": "string",
            "in": "query",
            "description": "Specify the renditions to be retrieved.",
            "required": false,
            "x-ms-summary": "Renditions",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListPublishableRenditions",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "culture",
            "type": "string",
            "in": "query",
            "description": "Specify the culture to be retrieved.",
            "required": false,
            "x-ms-summary": "Culture",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListCultures",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          },
          {
            "name": "sort",
            "type": "string",
            "in": "query",
            "description": "Specify the sort query to be used.",
            "required": false,
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "type": "string",
            "in": "query",
            "description": "Specify the order to be used.",
            "required": false,
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced",
            "enum": [
              "Asc",
              "Desc"
            ]
          },
          {
            "name": "sortCulture",
            "type": "string",
            "in": "query",
            "description": "Specify the sort culture to be retrieved.",
            "required": false,
            "x-ms-summary": "Sort Culture",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListCultures",
              "value-path": "identifier",
              "value-title": "label",
              "parameters": {}
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QueryEntitiesByDefinitionAdvancedResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketingcontenthub/#query-entities-(advanced)"
        }
      }
    }
  },
  "definitions": {
    "AddFetchJobSchema": {
      "type": "object",
      "properties": {
        "assetId": {
          "type": "integer"
        },
        "uri": {
          "type": "string"
        }
      },
      "required": [
        "assetId",
        "uri"
      ]
    },
    "AddFetchJobResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "required": [
        "id"
      ]
    },
    "ListEntityDefinitionsResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "label"
        ]
      }
    },
    "ListCulturesResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "identifier",
          "label"
        ]
      }
    },
    "ListPublishableRenditionsResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        },
        "required": [
          "identifier",
          "label"
        ]
      }
    },
    "ListEntitiesByDefinitionResponse": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetEntitySchemaByDefinition",
        "parameters": {
          "type": {
            "parameter": "type-dynamic"
          },
          "X-Operation-Type": "ListEntitiesByDefinition"
        },
        "value-path": "items"
      }
    },
    "QueryEntitiesByDefinitionSimpleResponse": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetEntitySchemaByDefinition",
        "parameters": {
          "type": {
            "parameter": "type-dynamic"
          },
          "X-Operation-Type": "QueryEntitiesByDefinitionSimpleResponse"
        },
        "value-path": "items"
      }
    },
    "QueryEntitiesByDefinitionAdvancedResponse": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetEntitySchemaByDefinition",
        "parameters": {
          "type": {
            "parameter": "type-dynamic"
          },
          "X-Operation-Type": "QueryEntitiesByDefinitionAdvancedResponse"
        },
        "value-path": "items"
      }
    },
    "GetFetchJobByIdResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "FilesCount": {
          "type": "integer"
        },
        "FilesCompleted": {
          "type": "integer"
        },
        "State": {
          "type": "string"
        },
        "StateDescription": {
          "type": "string"
        },
        "Condition": {
          "type": "string"
        }
      }
    },
    "GetEntityByIdentifierResponse": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetEntitySchemaByDefinition",
        "parameters": {
          "type": {
            "parameter": "type-dynamic"
          },
          "X-Operation-Type": "GetEntityByIdentifier"
        },
        "value-path": "items"
      }
    },
    "AddEntityByDefinitionResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "identifier": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "identifier"
      ]
    },
    "OnEntitySaveResponse": {
      "properties": {
        "saveEntityMessage": {
          "type": "object",
          "properties": {
            "EventType": {
              "type": "string"
            },
            "IsNew": {
              "type": "boolean"
            },
            "TargetDefinition": {
              "type": "string"
            },
            "TargetId": {
              "type": "number"
            },
            "TargetIdentifier": {
              "type": "string"
            },
            "TimeStamp": {
              "type": "string"
            },
            "UserId": {
              "type": "number"
            },
            "Version": {
              "type": "number"
            }
          }
        }
      },
      "type": "object"
    },
    "OnEntitySaveRequestBody": {
      "type": "object",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "description": "HTML URl of Repo.",
          "title": "HTML URL of Repo",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "entitydefinition": {
          "type": "string",
          "description": "Select entity definition.",
          "x-ms-summary": "Entity Definition",
          "x-ms-dynamic-values": {
            "operationId": "ListEntityDefinitions",
            "value-path": "name",
            "value-title": "label",
            "parameters": {}
          }
        },
        "triggername": {
          "description": "Trigger Name.",
          "title": "Trigger Name",
          "type": "string",
          "x-ms-summary": "Trigger Name"
        },
        "filter": {
          "description": "Filter expression in json format.",
          "title": "Filter",
          "type": "string",
          "x-ms-summary": "Filter"
        }
      }
    },
    "OnEntitySaveCreationResponse": {
      "type": "object",
      "properties": {}
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/marketingcontenthub"
  },
  "basePath": "/apim/marketingcontenthub"
}
