{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Corda Blockchain",
    "description": "Corda is a smart contract distributed ledger. With the Corda connector, you can perform actions such as submitting transactions and reading contract state.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Azure Blockchain Service",
      "url": "https://azure.microsoft.com/en-us/services/blockchain-service/",
      "email": "bcdevin@microsoft.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/blockchaincorda",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/message/createcontract": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Create Contract message",
        "description": "Create Contract message.",
        "operationId": "CreateContractRequest",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "applicationSchema",
            "in": "query",
            "description": "Application Schema.",
            "required": true,
            "x-ms-summary": "Application Schema",
            "type": "string"
          },
          {
            "name": "workflowName",
            "in": "query",
            "description": "Name of the workflow.",
            "required": true,
            "x-ms-summary": "Workflow Name",
            "x-ms-dynamic-values": {
              "operationId": "GetApplicationWorkflowNames",
              "parameters": {
                "applicationSchema": {
                  "parameter": "applicationSchema"
                }
              },
              "value-path": "Name"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Set of input parameters.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetWorkflowConstructorMetadata",
                "parameters": {
                  "applicationSchema": {
                    "parameter": "applicationSchema"
                  },
                  "workflowName": {
                    "parameter": "workflowName"
                  }
                },
                "value-path": "Schema/InputParameters"
              }
            },
            "x-ms-summary": "Parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRequest"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#create-contract-message-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/createaction": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Create Contract Action message",
        "description": "Create Contract Action message.",
        "operationId": "CreateContractActionRequest",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "applicationSchema",
            "in": "query",
            "description": "Application Schema.",
            "required": true,
            "x-ms-summary": "Application Schema",
            "type": "string"
          },
          {
            "name": "contractLedgerIdentifier",
            "in": "query",
            "description": "Contract ledger identifier.",
            "required": true,
            "x-ms-summary": "ContractLedgerIdentifier",
            "type": "string"
          },
          {
            "name": "workflowName",
            "in": "query",
            "description": "Name of the workflow.",
            "required": true,
            "x-ms-summary": "Workflow Name",
            "x-ms-dynamic-values": {
              "operationId": "GetApplicationWorkflowNames",
              "parameters": {
                "applicationSchema": {
                  "parameter": "applicationSchema"
                }
              },
              "value-path": "Name"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "actionName",
            "in": "query",
            "description": "Name of the action.",
            "required": true,
            "x-ms-summary": "Action Name",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkflowActionsNames",
              "parameters": {
                "applicationSchema": {
                  "parameter": "applicationSchema"
                },
                "workflowName": {
                  "parameter": "workflowName"
                }
              },
              "value-path": "Name"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Set of input parameters.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetWorkflowActionMetadata",
                "parameters": {
                  "applicationSchema": {
                    "parameter": "applicationSchema"
                  },
                  "workflowName": {
                    "parameter": "workflowName"
                  },
                  "actionName": {
                    "parameter": "actionName"
                  }
                },
                "value-path": "Schema/InputParameters"
              }
            },
            "x-ms-summary": "Parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRequest"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#create-contract-action-message-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/read": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Read state",
        "description": "Read state.",
        "operationId": "CreateContractReadRequest",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "contractLedgerIdentifier",
            "in": "query",
            "description": "ContractLedgerIdentifier.",
            "required": true,
            "x-ms-summary": "ContractLedgerIdentifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRequest"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#read-state-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/parsemessagetype": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Parse message type from the response",
        "description": "Parse message type from the response.",
        "operationId": "ParseMessageTypeResponse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "response",
            "in": "query",
            "description": "Response from Service Bus.",
            "required": true,
            "x-ms-summary": "Response",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MessageTypeResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#parse-message-type-from-the-response-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/parsecontractmessageresponse": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Parse the contract message response",
        "description": "Parse the contract message response.",
        "operationId": "ParseContractMessageResponse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "response",
            "in": "query",
            "description": "Response from Service Bus.",
            "required": true,
            "x-ms-summary": "Response",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#parse-the-contract-message-response-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/parsecreatecontractresponse": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Parse the create contract response",
        "description": "Parse the create contract response.",
        "operationId": "ParseCreateContractResponse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "response",
            "in": "query",
            "description": "Response from Service Bus.",
            "required": true,
            "x-ms-summary": "Response",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateContractRequestMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#parse-the-create-contract-response-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/parsecreatecontractupdateresponse": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Parse the create contract update response",
        "description": "Parse the create contract update response.",
        "operationId": "ParseCreateContractUpdateResponse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "response",
            "in": "query",
            "description": "Response from Service Bus.",
            "required": true,
            "x-ms-summary": "Response",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateContractUpdateMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#parse-the-create-contract-update-response-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/parsecreatecontractactionresponse": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Parse the create contract action response",
        "description": "Parse the create contract action response.",
        "operationId": "ParseCreateContractActionResponse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "response",
            "in": "query",
            "description": "Response from Service Bus.",
            "required": true,
            "x-ms-summary": "Response",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateContractActionRequestMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#parse-the-create-contract-action-response-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/parsecreatecontractactionupdateresponse": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Parse the create contract action update response",
        "description": "Parse the create contract action update response.",
        "operationId": "ParseCreateContractActionUpdateResponse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "response",
            "in": "query",
            "description": "Response from Service Bus.",
            "required": true,
            "x-ms-summary": "Response",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateContractActionUpdateMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#parse-the-create-contract-action-update-response-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/message/parsecontractfunctioninvocationresponse": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Parse the contract function invocation response",
        "description": "Parse the contract function invocation response.",
        "operationId": "ParseContractFunctionInvocationResponse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "response",
            "in": "query",
            "description": "Response from Service Bus.",
            "required": true,
            "x-ms-summary": "Response",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContractFunctionInvocationMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#parse-the-contract-function-invocation-response-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/workflows": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Get names of constant contract functions",
        "description": "Get names of constant contract functions.",
        "operationId": "GetApplicationWorkflowNames",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "applicationSchema",
            "in": "body",
            "description": "The application schema.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Application Schema"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkflowName"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#get-names-of-constant-contract-functions-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/workflows/{workflowName}/actions": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Get names of constant contract functions",
        "description": "Get names of constant contract functions.",
        "operationId": "GetWorkflowActionsNames",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "applicationSchema",
            "in": "body",
            "description": "The application schema.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Application Schema"
          },
          {
            "name": "workflowName",
            "in": "path",
            "description": "The workflow name.",
            "required": true,
            "x-ms-summary": "Workflow Name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionName"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#get-names-of-constant-contract-functions-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/workflows/{workflowName}/constructorMetadata": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Get smart contract function metadata",
        "description": "Get smart contract function metadata.",
        "operationId": "GetWorkflowConstructorMetadata",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "applicationSchema",
            "in": "body",
            "description": "Application Schema.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Application Schema"
          },
          {
            "name": "workflowName",
            "in": "path",
            "description": "Name of the workflow.",
            "required": true,
            "x-ms-summary": "Workflow Name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationFunctionMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#get-smart-contract-function-metadata-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/workflows/{workflowName}/actions/{actionName}/metadata": {
      "post": {
        "tags": [
          "BlockchainCorda"
        ],
        "summary": "Get smart contract function metadata",
        "description": "Get smart contract function metadata.",
        "operationId": "GetWorkflowActionMetadata",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "applicationSchema",
            "in": "body",
            "description": "Application Schema.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Application Schema"
          },
          {
            "name": "workflowName",
            "in": "path",
            "description": "Name of the workflow.",
            "required": true,
            "x-ms-summary": "Workflow Name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "actionName",
            "in": "path",
            "description": "Name of the action.",
            "required": true,
            "x-ms-summary": "Action Name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationFunctionMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchaincorda/#get-smart-contract-function-metadata-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {
    "Object": {
      "type": "object",
      "properties": {}
    },
    "WorkflowRequest": {
      "description": "Wrapper for the request message",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request Id",
          "type": "string"
        },
        "requestMessage": {
          "description": "Request Message",
          "type": "string"
        }
      }
    },
    "MessageTypeResponse": {
      "description": "Message Type Information",
      "type": "object",
      "properties": {
        "messageType": {
          "description": "Message Type",
          "type": "string",
          "x-ms-summary": "MessageType"
        },
        "messageSchemaVersion": {
          "description": "Message Schema Version",
          "type": "string",
          "x-ms-summary": "MessageSchemaVersion"
        }
      }
    },
    "ContractMessage": {
      "description": "Contract Message",
      "type": "object",
      "properties": {
        "blockId": {
          "format": "int64",
          "description": "Block Id",
          "type": "integer"
        },
        "blockHash": {
          "description": "Block Hash",
          "type": "string"
        },
        "modifyingTransactions": {
          "description": "Modifying Transactions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransactionInformation"
          }
        },
        "contractId": {
          "format": "int64",
          "description": "Contract Id",
          "type": "integer"
        },
        "contractLedgerIdentifier": {
          "description": "Contract Ledger Identifier",
          "type": "string"
        },
        "contractProperties": {
          "description": "Contract Properties",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContractPropertyInformation"
          }
        },
        "isNewContract": {
          "description": "Is New Contract?",
          "type": "boolean"
        },
        "connectionId": {
          "format": "int32",
          "description": "Connection Id",
          "type": "integer"
        },
        "additionalInformation": {
          "$ref": "#/definitions/Object"
        },
        "requestId": {
          "description": "Request Id",
          "type": "string"
        },
        "messageSchemaVersion": {
          "description": "Version of the message schema",
          "type": "string"
        },
        "messageName": {
          "description": "Name of the message",
          "type": "string"
        }
      }
    },
    "TransactionInformation": {
      "description": "Transaction Information",
      "type": "object",
      "properties": {
        "transactionId": {
          "format": "int64",
          "description": "Transaction Id",
          "type": "integer"
        },
        "transactionHash": {
          "description": "Transaction Hash",
          "type": "string"
        },
        "from": {
          "description": "From",
          "type": "string"
        },
        "to": {
          "description": "To",
          "type": "string"
        },
        "provisioningStatus": {
          "format": "int32",
          "description": "Provisioning Status",
          "type": "integer"
        }
      }
    },
    "ContractPropertyInformation": {
      "description": "Contract Property Information",
      "type": "object",
      "properties": {
        "workflowPropertyId": {
          "format": "int32",
          "description": "Workflow Property Id",
          "type": "integer"
        },
        "name": {
          "description": "Name",
          "type": "string"
        },
        "value": {
          "description": "Value",
          "type": "string"
        }
      }
    },
    "CreateContractRequestMessage": {
      "description": "Create Contract Request Message",
      "type": "object",
      "properties": {
        "workflowName": {
          "description": "Workflow Name",
          "type": "string"
        },
        "parameters": {
          "description": "Parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NameValueParameter"
          }
        },
        "requestId": {
          "description": "Request Id",
          "type": "string"
        },
        "messageSchemaVersion": {
          "description": "Version of the message schema",
          "type": "string"
        },
        "messageName": {
          "description": "Name of the message",
          "type": "string"
        }
      }
    },
    "NameValueParameter": {
      "description": "Name Value Parameter",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string"
        },
        "value": {
          "description": "Value",
          "type": "string"
        }
      }
    },
    "CreateContractUpdateMessage": {
      "description": "Create Contract Update Message",
      "type": "object",
      "properties": {
        "contractId": {
          "format": "int64",
          "description": "Contract Id",
          "type": "integer"
        },
        "contractLedgerIdentifier": {
          "description": "Contract Ledger Identifier",
          "type": "string"
        },
        "requestId": {
          "description": "Request Id",
          "type": "string"
        },
        "connectionId": {
          "format": "int32",
          "description": "Connection Id",
          "type": "integer"
        },
        "status": {
          "description": "Status",
          "type": "string"
        },
        "additionalInformation": {
          "$ref": "#/definitions/Object"
        },
        "messageSchemaVersion": {
          "description": "Version of the message schema",
          "type": "string"
        },
        "messageName": {
          "description": "Name of the message",
          "type": "string"
        }
      }
    },
    "CreateContractActionRequestMessage": {
      "description": "Create Contract Action Request Message",
      "type": "object",
      "properties": {
        "contractLedgerIdentifier": {
          "description": "Contract Ledger Identifier",
          "type": "string"
        },
        "workflowFunctionName": {
          "description": "Workflow Function Name",
          "type": "string"
        },
        "parameters": {
          "description": "Parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NameValueParameter"
          }
        },
        "requestId": {
          "description": "Request Id",
          "type": "string"
        },
        "messageSchemaVersion": {
          "description": "Version of the message schema",
          "type": "string"
        },
        "messageName": {
          "description": "Name of the message",
          "type": "string"
        }
      }
    },
    "CreateContractActionUpdateMessage": {
      "description": "Create Contract Action Update Message",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Request Id",
          "type": "string"
        },
        "connectionId": {
          "format": "int32",
          "description": "Connection Id",
          "type": "integer"
        },
        "status": {
          "description": "Status",
          "type": "string"
        },
        "additionalInformation": {
          "$ref": "#/definitions/Object"
        },
        "messageSchemaVersion": {
          "description": "Version of the message schema",
          "type": "string"
        },
        "messageName": {
          "description": "Name of the message",
          "type": "string"
        }
      }
    },
    "ContractFunctionInvocationMessage": {
      "description": "Contract Function Invocation Message",
      "type": "object",
      "properties": {
        "caller": {
          "$ref": "#/definitions/IdentityInformation"
        },
        "contractId": {
          "format": "int64",
          "description": "Contract Id",
          "type": "integer"
        },
        "contractLedgerIdentifier": {
          "description": "Contract Ledger Identifier",
          "type": "string"
        },
        "functionName": {
          "description": "Function Name",
          "type": "string"
        },
        "parameters": {
          "description": "Parameters",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NameValueParameter"
          }
        },
        "transaction": {
          "$ref": "#/definitions/TransactionInformation"
        },
        "inTransactionSequenceNumber": {
          "format": "int32",
          "description": "In-Transaction Sequence Number",
          "type": "integer"
        },
        "eventName": {
          "description": "Event Name",
          "type": "string"
        },
        "connectionId": {
          "format": "int32",
          "description": "Connection Id",
          "type": "integer"
        },
        "additionalInformation": {
          "$ref": "#/definitions/Object"
        },
        "requestId": {
          "description": "Request Id",
          "type": "string"
        },
        "messageSchemaVersion": {
          "description": "Version of the message schema",
          "type": "string"
        },
        "messageName": {
          "description": "Name of the message",
          "type": "string"
        }
      }
    },
    "IdentityInformation": {
      "description": "Identity Information",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "Id",
          "type": "integer"
        },
        "ledgerIdentifier": {
          "description": "Ledger Identifier",
          "type": "string"
        }
      }
    },
    "WorkflowName": {
      "description": "Workflow name",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The Workflow Name",
          "type": "string",
          "x-ms-summary": "Workflow Name",
          "x-ms-visibility": "important"
        }
      }
    },
    "ActionName": {
      "description": "Action name",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The Action Name",
          "type": "string",
          "x-ms-summary": "Action Name",
          "x-ms-visibility": "important"
        }
      }
    },
    "ApplicationFunctionMetadata": {
      "description": "SmartContract Function Metadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "Function name",
          "type": "string"
        },
        "title": {
          "description": "Function title",
          "type": "string"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.corda.net/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.corda.net/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Data"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/blockchaincorda"
  }
}
