{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft 365 Apps Health",
    "description": "The Microsoft 365 Apps Health dashboard helps you keep your Office apps up to date by providing visibility into how they are performing on your client devices and offering guidance to help optimize and troubleshoot arising issues.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft",
      "url": "https://support.microsoft.com/microsoft-365"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/microsoft365appshealth",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/hybridtriggers/onAppsHealthAdvisorySelected": {
      "get": {
        "tags": [
          "onAppsHealthAdvisorySelected"
        ],
        "summary": "When an Microsoft Apps Health advisory is selected",
        "description": "For internal use with the visual button hybrid trigger.",
        "x-ms-visibility": "internal",
        "operationId": "OnAppsHealthAdvisorySelected",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "advisoryId": {
                  "type": "string",
                  "description": "The unique identifier of the advisory.",
                  "x-ms-summary": "Advisory ID"
                },
                "advisoryUrl": {
                  "type": "string",
                  "description": "Link to the advisory.",
                  "x-ms-summary": "Case URL"
                },
                "buildVersion": {
                  "type": "string",
                  "description": "A build version which the alert was generated for (e.g. 16.0.12730.20352).",
                  "x-ms-summary": "Version"
                },
                "comparedBuildVersion": {
                  "type": "string",
                  "description": "A build version which a health metric was compared with (e.g. 16.0.12730.20352).",
                  "x-ms-summary": "Baseline Build"
                },
                "comparedMetricValue": {
                  "type": "string",
                  "description": "A value of Office health metric which a metric was compared with at the moment when the alert was generated (e.g. 0.015).",
                  "x-ms-summary": "Baseline Metric"
                },
                "comparedReleaseVersion": {
                  "type": "string",
                  "description": "A release version which a health metric was compared with (e.g. 2004).",
                  "x-ms-summary": "Baseline Release"
                },
                "createdDate": {
                  "type": "string",
                  "description": "Date when the advisory was generated.",
                  "x-ms-summary": "Created Date"
                },
                "currentMetricValue": {
                  "type": "string",
                  "description": "A current value of an Office health metric from a latest tenant health snapshot (e.g. 0.032).",
                  "x-ms-summary": "Metric Value"
                },
                "currentMonitoredEventCount": {
                  "type": "string",
                  "description": "A count of current events of an Office health metric from a latest tenant health snapshot (e.g. 3183).",
                  "x-ms-summary": "Monitored Sessions"
                },
                "metricValue": {
                  "type": "string",
                  "description": "A value of an Office health metric at the moment when the alert was generated (e.g. 0.032).",
                  "x-ms-summary": "Metric Value"
                },
                "monitoredEventCount": {
                  "type": "string",
                  "description": "A count of events which are affected by the alert (e.g. 3172).",
                  "x-ms-summary": "Monitored Sessions"
                },
                "officeArchitecture": {
                  "type": "string",
                  "description": "An Office architecture which the alert was generated for (e.g. All).",
                  "x-ms-summary": "Office Architecture"
                },
                "officeHealthAlertSeverity": {
                  "type": "string",
                  "description": "A severity of an Office health alert (e.g. Significant).",
                  "x-ms-summary": "Severity"
                },
                "officeHealthAlertTrend": {
                  "type": "string",
                  "description": "Office health alert trend (i.e. degradation).",
                  "x-ms-summary": "Trend"
                },
                "officeHealthAlertType": {
                  "type": "string",
                  "description": "A type of an Office health alert (e.g. MetricOutOfRangeSameBuild).",
                  "x-ms-summary": "Statistical model"
                },
                "officeHealthMetricType": {
                  "type": "string",
                  "description": "A type of an Office health metric which the alert was generated for (e.g. CrashRate).",
                  "x-ms-summary": "Type"
                },
                "officePlatform": {
                  "type": "string",
                  "description": "An Office platform which the alert was generated for (e.g. Windows).",
                  "x-ms-summary": "Platform"
                },
                "officeProduct": {
                  "type": "string",
                  "description": "An Office application which the alert was generated for (e.g. Excel).",
                  "x-ms-summary": "App"
                },
                "officeServicingChannel": {
                  "type": "string",
                  "description": "An Office servicing channel which the alert was generated for (e.g. CurrentChannel).",
                  "x-ms-summary": "Channel"
                },
                "releaseVersion": {
                  "type": "string",
                  "description": "A release version which the alert was generated for (e.g. 2004).",
                  "x-ms-summary": "Release"
                },
                "title": {
                  "type": "string",
                  "description": "The title of the advisory.",
                  "x-ms-summary": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "The advisory description.",
                  "x-ms-summary": "Description"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365appshealth/#when-an-microsoft-apps-health-advisory-is-selected"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://config.office.com/officeSettings/officeapphealth"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://support.office.com/f1/topic/b3b83cd1-6580-45c9-9494-7e4f6d29e7a6?NS=CLIENTADMINCENTER"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Business Management"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/microsoft365appshealth"
  }
}
