{
  "swagger": "2.0",
  "info": {
    "title": "PartnerLinq",
    "description": "PartnerLinq is an integration tool used to connect two or more systems together. Use this connector to connect with PartnerLinq.",
    "version": "1.0",
    "contact": {
      "name": "PartnerLinq Support",
      "url": "https://www.partnerlinq.com/",
      "email": "PL.Supportteam@visionet.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/partnerlinq",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/FUNC_HTTP_DATA_SEND": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data",
                  "title": "",
                  "format": ""
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "PartnerLinq Get",
        "description": "Get data from PartnerLinq",
        "operationId": "PartnerLinqGet",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter the API access key here.",
            "x-ms-summary": "Access Key"
          },
          {
            "name": "Environment",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Environment",
            "description": "Enter the environment type here. (eg. Dev, Prod)"
          },
          {
            "name": "TennatId",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tennat Id",
            "description": "Enter the provided tenant id here."
          },
          {
            "name": "CompanyId",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Company Id",
            "description": "Enter the company id here."
          },
          {
            "name": "Process",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Process",
            "description": "Enter the Process name here."
          },
          {
            "name": "PartnerId",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Partner Id",
            "description": "Enter the partner id here."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/partnerlinq/#partnerlinq-get"
        }
      }
    },
    "/{connectionId}/api/FUNC_HTTP_DATA_RECEIVE": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "response": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "response"
              ]
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "PartnerLinq Post",
        "description": "Send data to PartnerLinq",
        "operationId": "PartnerLinqPost",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter the API access key here.",
            "x-ms-summary": "Access Key"
          },
          {
            "name": "Environment",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Enter the environment type here. (eg. Dev, Prod)",
            "x-ms-summary": "Environment"
          },
          {
            "name": "TenantId",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tenant Id",
            "description": "Enter the provided tenant id here."
          },
          {
            "name": "CompanyId",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Enter the company id here.",
            "x-ms-summary": "Company Id"
          },
          {
            "name": "Process",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Enter the Process name here.",
            "x-ms-summary": "Process"
          },
          {
            "name": "PartnerId",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Partner Id",
            "description": "Enter the partner id here."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/partnerlinq/#partnerlinq-post"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.partnerlinq.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.partnerlinq.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Communication"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/partnerlinq"
  }
}