{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Mandrill",
    "description": "Mandrill is a transactional email API for MailChimp users. It's reliable, powerful, and ideal for sending data driven emails, including targeted e-commerce and personalized one-to-one messages.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/mandrill",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/users/info.json": {
      "post": {
        "tags": [
          "Mandrill"
        ],
        "summary": "Current user info",
        "description": "Return the information about the API-connected user.",
        "operationId": "CurrentUser",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserInfo"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/mandrill/#current-user-info"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/messages/info.json": {
      "post": {
        "tags": [
          "Mandrill"
        ],
        "summary": "Recently sent message",
        "description": "Get the information for a single recently sent message.",
        "operationId": "SentMessageInfo",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Id",
            "in": "body",
            "description": "Unique ID of the message to get.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Message ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MessageInfo"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/mandrill/#recently-sent-message"
        }
      }
    },
    "/{connectionId}/messages/send.json": {
      "post": {
        "tags": [
          "Mandrill"
        ],
        "summary": "Send mail",
        "description": "Send a new transactional message through Mandrill.",
        "operationId": "SendMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sendMessageRequest",
            "in": "body",
            "description": "Message information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendMessageRequest"
            },
            "x-ms-summary": "Send email"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SendMessageResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendEmail",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/mandrill/#send-mail-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/messages/send.json": {
      "post": {
        "tags": [
          "Mandrill"
        ],
        "summary": "Send mail (V2)",
        "description": "Send a new transactional message through Mandrill.",
        "operationId": "SendMessageV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sendMessageRequest",
            "in": "body",
            "description": "Message information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendMessageRequestV2"
            },
            "x-ms-summary": "Send email (V2)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SendMessageResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendEmail",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/mandrill/#send-mail-(v2)"
        }
      }
    },
    "/{connectionId}/messages/list-scheduled.json": {
      "post": {
        "tags": [
          "Mandrill"
        ],
        "summary": "List scheduled message",
        "description": "Queries your scheduled emails.",
        "operationId": "ScheduledMessageInfo",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "listScheduledRequest",
            "in": "body",
            "description": "Information to restrict the results.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListScheduledRequest"
            },
            "x-ms-summary": "Information to restrict the results"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListScheduledInfo"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/mandrill/#list-scheduled-message"
        }
      }
    },
    "/{connectionId}/users/ping.json": {
      "get": {
        "tags": [
          "Mandrill"
        ],
        "summary": "Execute TestConnection operation",
        "description": "Execute TestConnection operation.",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/mandrill/#execute-testconnection-operation"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "UserInfo": {
      "description": "the user information including username, key, reputation, quota, and historical sending stats",
      "type": "object",
      "properties": {
        "username": {
          "description": "Username of the user (used for SMTP authentication)",
          "type": "string",
          "x-ms-summary": "User Name",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "description": "Date and time that the user's Mandrill account was created as a UTC string in YYYY-MM-DD HH:MM:SS format",
          "type": "string",
          "x-ms-summary": "Created at",
          "x-ms-visibility": "important"
        },
        "public_id": {
          "description": "Unique, permanent identifier for this user",
          "type": "string",
          "x-ms-summary": "Public id",
          "x-ms-visibility": "advanced"
        },
        "reputation": {
          "format": "int32",
          "description": "Reputation of the user on a scale from 0 to 100, with 75 generally being a \"good\" reputation",
          "type": "integer",
          "x-ms-summary": "Reputation",
          "x-ms-visibility": "advanced"
        },
        "hourly_quota": {
          "format": "int32",
          "description": "Maximum number of emails Mandrill will deliver for this user each hour. Any emails beyond that will be accepted and queued for later delivery. Users with higher reputations will have higher hourly quotas",
          "type": "integer",
          "x-ms-summary": "Hourly Quota",
          "x-ms-visibility": "important"
        },
        "backlog": {
          "format": "int32",
          "description": "Number of emails that are queued for delivery due to exceeding your monthly or hourly quotas",
          "type": "integer",
          "x-ms-summary": "Backlog",
          "x-ms-visibility": "important"
        },
        "stats": {
          "$ref": "#/definitions/Stats"
        }
      }
    },
    "Stats": {
      "description": "aggregate summary of the account's sending stats",
      "type": "object",
      "properties": {
        "today": {
          "$ref": "#/definitions/StatStruct"
        },
        "last_7_days": {
          "$ref": "#/definitions/StatStruct"
        },
        "last_30_days": {
          "$ref": "#/definitions/StatStruct"
        },
        "last_60_days": {
          "$ref": "#/definitions/StatStruct"
        },
        "last_90_days": {
          "$ref": "#/definitions/StatStruct"
        },
        "all_time": {
          "$ref": "#/definitions/StatStruct"
        }
      }
    },
    "StatStruct": {
      "description": "Struct to hold stat information, this struct is shared across stats for today, last_7_days, last_30_days, last_60_days, last_90_days and all_time",
      "type": "object",
      "properties": {
        "sent": {
          "format": "int32",
          "description": "Number of emails sent for this user",
          "type": "integer",
          "x-ms-summary": "Sent",
          "x-ms-visibility": "advanced"
        },
        "hard_bounces": {
          "format": "int32",
          "description": "Number of emails hard bounced for this user",
          "type": "integer",
          "x-ms-summary": "Hard Bounces",
          "x-ms-visibility": "advanced"
        },
        "soft_bounces": {
          "format": "int32",
          "description": "Number of emails soft bounced for this user",
          "type": "integer",
          "x-ms-summary": "Soft Bounces",
          "x-ms-visibility": "advanced"
        },
        "rejects": {
          "format": "int32",
          "description": "Number of emails rejected for sending this user",
          "type": "integer",
          "x-ms-summary": "Rejects",
          "x-ms-visibility": "advanced"
        },
        "complaints": {
          "format": "int32",
          "description": "Number of spam complaints for this user",
          "type": "integer",
          "x-ms-summary": "Complaints",
          "x-ms-visibility": "advanced"
        },
        "unsubs": {
          "format": "int32",
          "description": "Number of unsubscribes for this user",
          "type": "integer",
          "x-ms-summary": "Unsubscribes",
          "x-ms-visibility": "advanced"
        },
        "unique_opens": {
          "format": "int32",
          "description": "Number of times emails have been opened for this user",
          "type": "integer",
          "x-ms-summary": "Unique Opens",
          "x-ms-visibility": "advanced"
        },
        "clicks": {
          "format": "int32",
          "description": "Number of URLS that have been clicked for this user so far today",
          "type": "integer",
          "x-ms-summary": "Clicks",
          "x-ms-visibility": "advanced"
        },
        "unique_clicks": {
          "format": "int32",
          "description": "Number of unique clicks for emails sent for this user",
          "type": "integer",
          "x-ms-summary": "Unique Clicks",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "MessageInfo": {
      "description": "Information for the message",
      "type": "object",
      "properties": {
        "ts": {
          "format": "int32",
          "description": "Unix timestamp from when this message was sent",
          "type": "integer",
          "x-ms-summary": "Time Stamp"
        },
        "_id": {
          "description": "Message's unique id",
          "type": "string",
          "x-ms-summary": "Message ID"
        },
        "sender": {
          "description": "Email address of the sender",
          "type": "string",
          "x-ms-summary": "Sender's Email"
        },
        "template": {
          "description": "Unique name of the template userd, if any",
          "type": "string",
          "x-ms-summary": "Template Name"
        },
        "subject": {
          "description": "Message's subject line",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "email": {
          "description": "Recipient email address",
          "type": "string",
          "x-ms-summary": "Recipient's Email"
        },
        "tags": {
          "description": "List of tags in this message",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagInfo"
          },
          "x-ms-summary": "Tags"
        },
        "opens": {
          "format": "int32",
          "description": "How many times has this message been opened",
          "type": "integer",
          "x-ms-summary": "Opened"
        },
        "opens_details": {
          "description": "List of individual opens for the message",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenedDetail"
          },
          "x-ms-summary": "Opened Details"
        },
        "clicks": {
          "description": "How many times has a link been clicked in this message",
          "type": "string",
          "x-ms-summary": "Clicks"
        },
        "clicks_detail": {
          "description": "List of individual clicks for the message",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClickInfo"
          },
          "x-ms-summary": "Click Details"
        },
        "state": {
          "description": "Sending status of this message: sent, bounced, rejected",
          "enum": [
            "",
            "sent",
            "bounced",
            "rejected"
          ],
          "type": "string",
          "x-ms-summary": "Sending State"
        },
        "smtp_events": {
          "description": "Log of up to 3 smtp events for the message",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmtpEventInfo"
          },
          "x-ms-summary": "SMTP Events"
        }
      }
    },
    "TagInfo": {
      "description": "Individual tag on a message",
      "type": "object",
      "properties": {
        "tag": {
          "description": "Individual tag on a message",
          "type": "string",
          "x-ms-summary": "Tag"
        }
      }
    },
    "OpenedDetail": {
      "description": "Information on an individual",
      "type": "object",
      "properties": {
        "ts": {
          "description": "Unix timestamp from when the message was opened",
          "type": "string",
          "x-ms-summary": "Time Stamp"
        },
        "ip": {
          "description": "IP address that generated the open",
          "type": "string",
          "x-ms-summary": "IP Address"
        },
        "location": {
          "description": "Approximate region and country that the opening IP is located",
          "type": "string",
          "x-ms-summary": "Location"
        },
        "ua": {
          "description": "Email client of browser data of the open",
          "type": "string",
          "x-ms-summary": "Opening Browser"
        }
      }
    },
    "ClickInfo": {
      "description": "Information on an individual click",
      "type": "object",
      "properties": {
        "ts": {
          "format": "int32",
          "description": "Unix timestamp from when the message was clicked",
          "type": "integer",
          "x-ms-summary": "Time Stamp"
        },
        "url": {
          "description": "URL that was clicked on",
          "type": "string",
          "x-ms-summary": "Clicked URL"
        },
        "ip": {
          "description": "IP address that generated the click",
          "type": "string",
          "x-ms-summary": "IP Address"
        },
        "location": {
          "description": "Approximate region and country that the clicking IP is located",
          "type": "string",
          "x-ms-summary": "Location"
        },
        "ua": {
          "description": "Email client of browser data of the click",
          "type": "string",
          "x-ms-summary": "Opening Browser"
        }
      }
    },
    "SmtpEventInfo": {
      "description": "Information about a specific smtp event",
      "type": "object",
      "properties": {
        "ts": {
          "format": "int32",
          "description": "Unix timestamp when the event occurred",
          "type": "integer",
          "x-ms-summary": "Time Stamp"
        },
        "type": {
          "description": "Message's state as a result of this event",
          "type": "string",
          "x-ms-summary": "Message's State"
        },
        "diag": {
          "description": "SMTP response from the recipient's server",
          "type": "string",
          "x-ms-summary": "SMTP Response"
        }
      }
    },
    "SendMessageRequest": {
      "description": "Information for the message for each recipient containing the key \"email\" with the email address, and details of the message status for that recipient",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/SendMessageInfo"
        },
        "send_at": {
          "description": "When this message should be sent as a UTC timestamp in YYYY-MM-DD HH:MM:SS format. If you specify a time in the past, the message will be sent immediately. An additional fee applies for scheduled email, and this feature is only available to accounts with a positive balance.",
          "type": "string",
          "x-ms-summary": "Send At",
          "x-ms-visibility": "advanced"
        },
        "async": {
          "description": "Enable a background sending mode that is optimized for bulk sending",
          "type": "boolean",
          "x-ms-summary": "Enable async (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "ip_pool": {
          "description": "Name of the dedicated ip pool that should be used to send the message",
          "type": "string",
          "x-ms-summary": "Dedicated Ip Pool name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SendMessageInfo": {
      "description": "Information on the message to send",
      "required": [
        "text",
        "subject",
        "from_email",
        "to"
      ],
      "type": "object",
      "properties": {
        "html": {
          "description": "Full HTML content to be sent",
          "type": "string",
          "x-ms-summary": "HTML Text",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "description": "Full text content to be sent",
          "type": "string",
          "x-ms-summary": "Text content of the message"
        },
        "subject": {
          "description": "Message subject",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "from_email": {
          "description": "Sender email address",
          "type": "string",
          "x-ms-summary": "From Email"
        },
        "from_name": {
          "description": "Sender email name",
          "type": "string",
          "x-ms-summary": "From Name"
        },
        "to": {
          "description": "Array of recipients",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecipientInfo"
          },
          "x-ms-summary": "Send To"
        },
        "headers": {
          "description": "Extra headers to add to the message (most headers are allowed)",
          "type": "string",
          "x-ms-summary": "Extra headers",
          "x-ms-visibility": "advanced"
        },
        "important": {
          "description": "Whether or not this message is important, and should be delivered ahead of non-important messages",
          "type": "boolean",
          "x-ms-summary": "Is this message Important (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "track_opens": {
          "description": "Whether or not to turn on open tracking for the message",
          "type": "boolean",
          "x-ms-summary": "Track when message opens (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "track_clicks": {
          "description": "Whether or not to turn on click tracking for the message",
          "type": "boolean",
          "x-ms-summary": "Track clicks for this message (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "auto_text": {
          "description": "Whether or not to automatically generate a text part for messages that are not given text",
          "type": "boolean",
          "x-ms-summary": "Fill text message if not present (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "auto_html": {
          "description": "Whether or not to automatically generate an HTML part for messages that are not given HTML",
          "type": "boolean",
          "x-ms-summary": "Fill HTML message if not present (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "inline_css": {
          "description": "Whether or not to automatically inline all CSS styles provided in the message HTML - only for HTML documents less than 256KB in size",
          "type": "boolean",
          "x-ms-summary": "Inline CSS Styles in Html message (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "url_strip_qs": {
          "description": "Whether or not to strip the query string from URLs when aggregating tracked URL data",
          "type": "boolean",
          "x-ms-summary": "Strip query string from URL in aggregated data (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "preserve_recipients": {
          "description": "Whether or not to expose all recipients in to \"To\" header for each email",
          "type": "boolean",
          "x-ms-summary": "Show all recipients in 'To' line (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "view_content_link": {
          "description": "Whether or not to log content. Set to false to remove content logging for sensitive emails",
          "type": "boolean",
          "x-ms-summary": "Remove content logging (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "bcc_address": {
          "description": "Optional address to receive an exact copy of each recipient's email",
          "type": "string",
          "x-ms-summary": "Optional BCC address",
          "x-ms-visibility": "advanced"
        },
        "tracking_domain": {
          "description": "Custom domain to use for tracking opens and clicks instead of mandrillapp.com",
          "type": "string",
          "x-ms-summary": "Custom domaing for tracking",
          "x-ms-visibility": "advanced"
        },
        "tags": {
          "description": "Array of strings to tag the message with. Stats are accumulated using tags, though we only store the first 100 we see, so this should not be unique or change frequently. Tags should be 50 characters or less. Any tags starting with an underscore are reserved for internal use and will cause errors.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced"
        },
        "attachments": {
          "description": "Attachments to add to the message",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttachmentInfo"
          },
          "x-ms-summary": "Attachments"
        }
      }
    },
    "RecipientInfo": {
      "description": "Single recipient's information",
      "required": [
        "email"
      ],
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the recipient",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Display name of the recipient",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Send type (to, cc, bcc)",
          "default": "to",
          "enum": [
            "to",
            "cc",
            "bcc"
          ],
          "type": "string",
          "x-ms-summary": "Send As",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "AttachmentInfo": {
      "description": "Information for the message",
      "type": "object",
      "properties": {
        "type": {
          "description": "MIME type of the attachment",
          "type": "string",
          "x-ms-summary": "MIME Type"
        },
        "name": {
          "description": "File name of the attachment",
          "type": "string",
          "x-ms-summary": "File Name"
        },
        "content": {
          "format": "byte",
          "description": "Content of the attachment",
          "type": "string",
          "x-ms-summary": "Content"
        }
      }
    },
    "SendMessageResponse": {
      "description": "Information for the message for each recipient containing the key \"email\" with the email address, and details of the message status for that recipient",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the recipient",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Sending status of the recipient - either \"sent\", \"queued\", \"scheduled\", \"rejected\", or \"invalid\"",
          "type": "string",
          "x-ms-summary": "Sending Status",
          "x-ms-visibility": "important"
        },
        "reject_reason": {
          "description": "Reason for the rejection if the recipient status is \"rejected\" - one of \"hard-bounce\", \"soft-bounce\", \"spam\", \"unsub\", \"custom\", \"invalid-sender\", \"invalid\", \"test-mode-limit\", \"unsigned\", or \"rule",
          "type": "string",
          "x-ms-summary": "Reject Reason",
          "x-ms-visibility": "important"
        },
        "_id": {
          "description": "message's unique id",
          "type": "string",
          "x-ms-summary": "Message ID",
          "x-ms-visibility": "important"
        }
      }
    },
    "SendMessageRequestV2": {
      "description": "Information for the message for each recipient containing the key \"email\" with the email address, and details of the message status for that recipient",
      "type": "object",
      "properties": {
        "message": {
          "$ref": "#/definitions/SendMessageInfoV2"
        },
        "send_at": {
          "description": "When this message should be sent as a UTC timestamp in YYYY-MM-DD HH:MM:SS format. If you specify a time in the past, the message will be sent immediately. An additional fee applies for scheduled email, and this feature is only available to accounts with a positive balance.",
          "type": "string",
          "x-ms-summary": "Send At",
          "x-ms-visibility": "advanced"
        },
        "async": {
          "description": "Enable a background sending mode that is optimized for bulk sending",
          "type": "boolean",
          "x-ms-summary": "Enable async (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "ip_pool": {
          "description": "Name of the dedicated ip pool that should be used to send the message",
          "type": "string",
          "x-ms-summary": "Dedicated Ip Pool name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SendMessageInfoV2": {
      "description": "Information on the message to send",
      "required": [
        "subject",
        "from_email",
        "to",
        "auto_html"
      ],
      "type": "object",
      "properties": {
        "html": {
          "format": "html",
          "description": "Full content to be sent",
          "type": "string",
          "x-ms-summary": "Content of the message",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Message subject",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "from_email": {
          "description": "Sender email address",
          "type": "string",
          "x-ms-summary": "From Email"
        },
        "from_name": {
          "description": "Sender email name",
          "type": "string",
          "x-ms-summary": "From Name"
        },
        "to": {
          "description": "Array of recipients",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecipientInfo"
          },
          "x-ms-summary": "Send To"
        },
        "headers": {
          "description": "Extra headers to add to the message (most headers are allowed)",
          "type": "string",
          "x-ms-summary": "Extra headers",
          "x-ms-visibility": "advanced"
        },
        "important": {
          "description": "Whether or not this message is important, and should be delivered ahead of non-important messages",
          "type": "boolean",
          "x-ms-summary": "Is this message Important (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "track_opens": {
          "description": "Whether or not to turn on open tracking for the message",
          "type": "boolean",
          "x-ms-summary": "Track when message opens (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "track_clicks": {
          "description": "Whether or not to turn on click tracking for the message",
          "type": "boolean",
          "x-ms-summary": "Track clicks for this message (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "auto_text": {
          "description": "Whether or not to automatically generate a text part for messages that are not given text",
          "type": "boolean",
          "x-ms-summary": "Fill text message if not present (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "auto_html": {
          "description": "Whether or not to automatically generate an HTML part for messages that are not given HTML",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Fill HTML message if not present (true/false)?",
          "x-ms-visibility": "internal"
        },
        "inline_css": {
          "description": "Whether or not to automatically inline all CSS styles provided in the message HTML - only for HTML documents less than 256KB in size",
          "type": "boolean",
          "x-ms-summary": "Inline CSS Styles in Html message (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "url_strip_qs": {
          "description": "Whether or not to strip the query string from URLs when aggregating tracked URL data",
          "type": "boolean",
          "x-ms-summary": "Strip query string from URL in aggregated data (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "preserve_recipients": {
          "description": "Whether or not to expose all recipients in to \"To\" header for each email",
          "type": "boolean",
          "x-ms-summary": "Show all recipients in 'To' line (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "view_content_link": {
          "description": "Whether or not to log content. Set to false to remove content logging for sensitive emails",
          "type": "boolean",
          "x-ms-summary": "Remove content logging (true/false)?",
          "x-ms-visibility": "advanced"
        },
        "bcc_address": {
          "description": "Optional address to receive an exact copy of each recipient's email",
          "type": "string",
          "x-ms-summary": "Optional BCC address",
          "x-ms-visibility": "advanced"
        },
        "tracking_domain": {
          "description": "Custom domain to use for tracking opens and clicks instead of mandrillapp.com",
          "type": "string",
          "x-ms-summary": "Custom domaing for tracking",
          "x-ms-visibility": "advanced"
        },
        "tags": {
          "description": "Array of strings to tag the message with. Stats are accumulated using tags, though we only store the first 100 we see, so this should not be unique or change frequently. Tags should be 50 characters or less. Any tags starting with an underscore are reserved for internal use and will cause errors.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced"
        },
        "attachments": {
          "description": "Attachments to add to the message",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttachmentInfo"
          },
          "x-ms-summary": "Attachments"
        }
      }
    },
    "ListScheduledRequest": {
      "description": "Parameters to restrict list of scheduled emails search",
      "type": "object",
      "properties": {
        "To": {
          "description": "Optional recipient email address to restrict results to",
          "type": "string",
          "x-ms-summary": "To"
        }
      }
    },
    "ListScheduledInfo": {
      "description": "Information about a specific smtp event",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the recipient",
          "type": "string",
          "x-ms-summary": "Recipient's Email"
        },
        "status": {
          "description": "Sending status of the recipient - either \"sent\", \"queued\", \"scheduled\", \"rejected\", or \"invalid\"",
          "enum": [
            "",
            "sent",
            "queued",
            "scheduled",
            "rejected",
            "or invalid"
          ],
          "type": "string",
          "x-ms-summary": "Recipient's Status"
        },
        "reject_reason": {
          "description": "Reason for the rejection if the recipient status is \"rejected\" - one of \"hard-bounce\", \"soft-bounce\", \"spam\", \"unsub\", \"custom\", \"invalid-sender\", \"invalid\", \"test-mode-limit\", \"unsigned\", or \"rule\"",
          "enum": [
            "",
            "hard-bounce",
            "soft-bounce",
            "spam",
            "unsub",
            "custom",
            "invalid-sender",
            "invalid",
            "test-mode-limit",
            "unsigned",
            "or rule"
          ],
          "type": "string",
          "x-ms-summary": "Rejection Reason"
        },
        "_id": {
          "description": "Message's unique id",
          "type": "string",
          "x-ms-summary": "Message ID"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://mandrill.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://mailchimp.com/legal/privacy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/mandrill"
  }
}
