{
  "swagger": "2.0",
  "info": {
    "title": "Adobe PDF Services",
    "description": "Adobe PDF Services API brings a set of powerful cloud-based APIs to integrate multi-step document workflows into any application. Use document generation to create custom PDF documents from Word templates and JSON data. Extract text, tables and images from PDFs in a structured JSON to enable downstream solutions. Convert to PDF, export PDF to other formats, apply OCR, compress, linearize or protect PDFs, and also edit PDFs with tools like merge or split. Auto-tag PDFs for better Accessibility.",
    "version": "1.0.2",
    "contact": {
      "name": "Adobe Acrobat Services",
      "url": "https://www.adobe.com/go/powerautomate_forum"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/adobepdftools",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.adobe.com/go/powerautomate_home"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.adobe.com/privacy/policy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Data"
    }
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/operation/v1/createPDFFromExcel": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert an Excel file to PDF format. Only files with .xls or .xlsx extension are supported.",
        "operationId": "CreatePDFFromExcel",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreatePDFFromExcel",
          "revision": 1
        },
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "EXCEL_TO_PDF"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "description": "The name of the converted PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced",
            "maxLength": 256
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/CreatePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert Excel to PDF",
        "tags": [
          "createPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-excel-to-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/createPDFFromPPT": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a PPT file to PDF format. Only files with .ppt or .pptx extension are supported.",
        "operationId": "CreatePDFFromPPT",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreatePDFFromPPT",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PPT_TO_PDF"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the converted PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/CreatePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert PPT to PDF",
        "tags": [
          "createPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-ppt-to-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/createPDFFromWord": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a Word file to PDF format. Only files with .doc or .docx extension are supported.",
        "operationId": "CreatePDFFromWord",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreatePDFFromWord",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "WORD_TO_PDF"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the converted PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/CreatePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert Word to PDF",
        "tags": [
          "createPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-word-to-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/createPDFFromImage": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert an image file to PDF format. Only files with .png, .jpeg, .jpg, .tiff, .tif or .gif extension are supported. ",
        "operationId": "CreatePDFFromImage",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreatePDFFromImage",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "IMAGE_TO_PDF"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the converted PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/CreatePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert Image to PDF",
        "tags": [
          "createPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-image-to-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/createPDFGeneric": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a file to PDF format. Only files with .doc, .docx, .ppt, .pptx, .xls, .xlsx, .bmp, .gif, .jpeg, .jpg, .png, .rtf, .tif, .tiff or .txt extension are supported. ",
        "operationId": "CreatePDFGeneric",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreatePDFGeneric",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "ANY"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the converted PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/CreatePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert document to PDF",
        "tags": [
          "createPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-document-to-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/createPDFFromDynamicHtml": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a Dynamic HTML file to PDF format. Since HTML/web pages typically contain external assets, the input file must be a zip file containing an index.html at the top level of the archive, as well as any dependencies such as images, css files, and so on. Only files with .zip extension are supported.",
        "operationId": "CreatePDFFromDynamicHtml",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreatePDFFromDynamicHtml",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "HTML_TO_PDF"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the converted PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "pageSize",
            "in": "formData",
            "description": "The page size for the output PDF document, A4 is the default size.",
            "required": true,
            "default": "A4",
            "type": "string",
            "x-ms-visibility": "advanced",
            "enum": [
              "Default",
              "A1",
              "A2",
              "A3",
              "A4",
              "A5",
              "A6",
              "B4",
              "B5",
              "EnvelopeDL",
              "Executive",
              "Folio",
              "Ledger",
              "Legal",
              "Letter",
              "Quarto",
              "Statement",
              "Tabloid"
            ]
          },
          {
            "x-ms-summary": "Include Header Footer",
            "name": "includeHeaderFooter",
            "in": "formData",
            "description": "Header/Footer to be included in pdf or not",
            "default": true,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Merge Data Json",
            "name": "dataToMerge",
            "in": "formData",
            "description": "The Json object containing key value pair to replaced in the output pdf.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source zip file containing index.html",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/CreatePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert Dynamic HTML to PDF",
        "tags": [
          "createPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-dynamic-html-to-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/createPDFFromStaticHtml": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a static HTML file to PDF format. Since HTML/web pages typically contain external assets, the input file must be a zip file containing an index.html at the top level of the archive, as well as any dependencies such as images, css files, and so on. Only files with .zip extension are supported.",
        "operationId": "CreatePDFFromStaticHtml",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreatePDFFromStaticHtml",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "HTML_TO_PDF"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the converted PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Page Size",
            "name": "pageSize",
            "in": "formData",
            "description": "The page size for the output PDF document, A4 is the default size.",
            "required": true,
            "default": "A4",
            "type": "string",
            "x-ms-visibility": "advanced",
            "enum": [
              "Default",
              "A1",
              "A2",
              "A3",
              "A4",
              "A5",
              "A6",
              "B4",
              "B5",
              "EnvelopeDL",
              "Executive",
              "Folio",
              "Ledger",
              "Legal",
              "Letter",
              "Quarto",
              "Statement",
              "Tabloid"
            ]
          },
          {
            "x-ms-summary": "Include Header Footer",
            "name": "includeHeaderFooter",
            "in": "formData",
            "description": "Header/Footer to be included in pdf or not",
            "default": true,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source zip file containing index.html",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/CreatePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert Static HTML to PDF",
        "tags": [
          "createPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-static-html-to-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/exportPDFToExcel": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a PDF file to an Excel file. Only files with .pdf extension are supported.",
        "operationId": "ExportPDFToExcel",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExportPDFToExcel",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PDF_TO_EXCEL"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Output File Name",
            "name": "outputFileName",
            "in": "formData",
            "description": "The file name of the output file. If it is not provided, source file name with .xlsx extension will be used.",
            "maxLength": 256,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Output Format",
            "name": "targetFormat",
            "in": "formData",
            "description": "The output format to which PDF is to be converted. The default is xlsx.",
            "required": true,
            "enum": [
              "XLSX"
            ],
            "x-ms-visibility": "internal",
            "default": "XLSX",
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Excel Successfully Created",
            "schema": {
              "$ref": "#/definitions/ExportDocumentResponse"
            }
          },
          "202": {
            "description": "Excel Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert PDF to Excel",
        "tags": [
          "exportPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-pdf-to-excel"
        }
      }
    },
    "/{connectionId}/operation/v1/exportPDFToPPT": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a PDF file to PPT. Only files with .pdf extension are supported.",
        "operationId": "ExportPDFToPPT",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExportPDFToPPT",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PDF_TO_PPT"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Output File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The file name of the output file. If it is not provided, source file name with .pptx extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Output Format",
            "name": "targetFormat",
            "in": "formData",
            "description": "The output format to which PDF is to be converted. The default is .pptx.",
            "required": true,
            "enum": [
              "PPTX"
            ],
            "x-ms-visibility": "internal",
            "default": "PPTX",
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PPT Successfully Created",
            "schema": {
              "$ref": "#/definitions/ExportDocumentResponse"
            }
          },
          "202": {
            "description": "PPT Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert PDF to PPT",
        "tags": [
          "exportPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-pdf-to-ppt"
        }
      }
    },
    "/{connectionId}/operation/v1/exportPDFToWord": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a PDF file to a Word file. Only files with .pdf extension are supported.",
        "operationId": "ExportPDFToWord",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExportPDFToWord",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PDF_TO_WORD"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Output File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The file name of the output file. If it is not provided, source file name with .docx extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Output Format",
            "name": "targetFormat",
            "in": "formData",
            "description": "The output format to which PDF is to be converted. The default is docx.",
            "required": true,
            "enum": [
              "DOC",
              "DOCX"
            ],
            "x-ms-visibility": "advanced",
            "default": "DOCX",
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Word Successfully Created",
            "schema": {
              "$ref": "#/definitions/ExportDocumentResponse"
            }
          },
          "202": {
            "description": "Word Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert PDF to Word",
        "tags": [
          "exportPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-pdf-to-word"
        }
      }
    },
    "/{connectionId}/operation/v1/exportPDFToImage": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a PDF file to a zip of images. Only files with .pdf extension are supported.",
        "operationId": "ExportPDFToImage",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExportPDFToImage",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PDF_TO_IMAGE"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Output File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The file name of the output file. If it is not provided, source file name with .jpeg/.png extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Output Format",
            "name": "targetFormat",
            "in": "formData",
            "description": "The output format to which PDF is to be converted. The default is JPEG.",
            "required": true,
            "enum": [
              "JPEG",
              "PNG"
            ],
            "default": "JPEG",
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Image Successfully Created",
            "schema": {
              "$ref": "#/definitions/ExportDocumentResponse"
            }
          },
          "202": {
            "description": "Image Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert PDF to Image",
        "tags": [
          "exportPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-pdf-to-image"
        }
      }
    },
    "/{connectionId}/operation/v1/exportPDFToImageList": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a PDF file to a list of images. Only files with .pdf extension are supported.",
        "operationId": "ExportPDFToImageList",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExportPDFToImageList",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PDF_TO_IMAGE"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Output File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The file name of the output file. If it is not provided, source file name with .jpeg/.png extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Output Format",
            "name": "targetFormat",
            "in": "formData",
            "description": "The output format to which PDF is to be converted. The default is JPEG.",
            "required": true,
            "enum": [
              "JPEG",
              "PNG"
            ],
            "default": "JPEG",
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          },
          {
            "name": "outputType",
            "in": "formData",
            "default": "LIST_OUTPUT",
            "description": "Output Type - List of converted images.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Images Successfully Created",
            "schema": {
              "$ref": "#/definitions/DtoResponseExportedImages"
            }
          },
          "202": {
            "description": "Images Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Convert PDF to List Of Images",
        "tags": [
          "exportPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#convert-pdf-to-list-of-images"
        }
      }
    },
    "/{connectionId}/operation/v1/exportPDFGeneric": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Convert a PDF file to various formats. The supported output formats are .doc, .docx, .jpeg, .png, .pptx, .rtf and .xlsx.",
        "operationId": "ExportPDFGeneric",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExportPDFGeneric",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "intent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "ANY"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Output File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The file name of the output file. If it is not provided, source file name will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Output Format",
            "name": "targetFormat",
            "in": "formData",
            "description": "The output format to which PDF is to be converted.",
            "required": true,
            "enum": [
              "DOC",
              "DOCX",
              "JPEG",
              "PNG",
              "PPTX",
              "RTF",
              "XLSX"
            ],
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully Created",
            "schema": {
              "$ref": "#/definitions/ExportDocumentResponse"
            }
          },
          "202": {
            "description": "Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Export PDF",
        "tags": [
          "exportPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#export-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/compressPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Compress a PDF file. Only files with .pdf extension are supported.",
        "operationId": "CompressPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CompressPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the compressed PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Compression Level",
            "name": "compressionLevel",
            "in": "formData",
            "description": "The level of compression required. The default is MEDIUM.",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "x-ms-visibility": "advanced",
            "default": "MEDIUM",
            "type": "string"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Compressed",
            "schema": {
              "$ref": "#/definitions/CompressPDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Compress PDF",
        "tags": [
          "compressPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#compress-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/linearizePDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Linearize a PDF file. Only files with .pdf extension are supported.",
        "operationId": "LinearizePDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "LinearizePDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the linearized PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Linearized",
            "schema": {
              "$ref": "#/definitions/LinearizePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Linearize PDF",
        "tags": [
          "linearizePdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#linearize-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/combinePDF": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Merge PDF files into a single file. Only files with .pdf extension are supported.",
        "operationId": "CombinePDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CombinePDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "Files Array",
            "in": "body",
            "required": true,
            "description": "The array of input files.",
            "schema": {
              "$ref": "#/definitions/CombinePDFRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Combined",
            "schema": {
              "$ref": "#/definitions/CombinePDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Merge PDFs",
        "tags": [
          "combinedPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#merge-pdfs"
        }
      }
    },
    "/{connectionId}/operation/v1/ocr": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "OCR a PDF file. Only files with .pdf extension are supported.",
        "operationId": "OcrPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OcrPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "File Locale",
            "name": "ocrLocale",
            "in": "formData",
            "description": "The locale of the source PDF file.",
            "required": true,
            "enum": [
              "BG_BG",
              "CA_CA",
              "CS_CZ",
              "DA_DK",
              "DE_CH",
              "DE_DE",
              "EL_GR",
              "EN_GB",
              "EN_US",
              "ES_ES",
              "ET_EE",
              "FI_FI",
              "FR_FR",
              "HR_HR",
              "HU_HU",
              "IT_IT",
              "IW_IL",
              "JA_JP",
              "KO_KR",
              "LT_LT",
              "LV_LV",
              "MK_MK",
              "MT_MT",
              "NB_NO",
              "NL_NL",
              "NO_NO",
              "PL_PL",
              "PT_BR",
              "RO_RO",
              "RU_RU",
              "SK_SK",
              "SL_SI",
              "SR_SR",
              "SV_SE",
              "TR_TR",
              "UK_UA",
              "ZH_CN",
              "ZH_HK"
            ],
            "default": "EN_US",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-enum-values": [
              {
                "displayName": "Bulgarian (Bulgaria)",
                "value": "BG_BG"
              },
              {
                "displayName": "Catalan (Canada)",
                "value": "CA_CA"
              },
              {
                "displayName": "Czech (Czech Republic)",
                "value": "CS_CZ"
              },
              {
                "displayName": "Danish (Denmark)",
                "value": "DA_DK"
              },
              {
                "displayName": "German (Switzerland)",
                "value": "DE_CH"
              },
              {
                "displayName": "German (Germany)",
                "value": "DE_DE"
              },
              {
                "displayName": "Greek (Greece)",
                "value": "EL_GR"
              },
              {
                "displayName": "English (United Kingdom)",
                "value": "EN_GB"
              },
              {
                "displayName": "English (United States)",
                "value": "EN_US"
              },
              {
                "displayName": "Spanish (Spain)",
                "value": "ES_ES"
              },
              {
                "displayName": "Estonian (Estonia)",
                "value": "ET_EE"
              },
              {
                "displayName": "Finnish (Finland)",
                "value": "FI_FI"
              },
              {
                "displayName": "French (France)",
                "value": "FR_FR"
              },
              {
                "displayName": "Croatian (Croatia)",
                "value": "HR_HR"
              },
              {
                "displayName": "Hungarian (Hungary)",
                "value": "HU_HU"
              },
              {
                "displayName": "Italian (Italy)",
                "value": "IT_IT"
              },
              {
                "displayName": "Hebrew (Israel)",
                "value": "IW_IL"
              },
              {
                "displayName": "Japanese (Japan)",
                "value": "JA_JP"
              },
              {
                "displayName": "Korean (Korea)",
                "value": "KO_KR"
              },
              {
                "displayName": "Lithuanian (Lithuania)",
                "value": "LT_LT"
              },
              {
                "displayName": "Latvian (Latvia)",
                "value": "LV_LV"
              },
              {
                "displayName": "Macedonian (Macedonia)",
                "value": "MK_MK"
              },
              {
                "displayName": "Maltese (Malta)",
                "value": "MT_MT"
              },
              {
                "displayName": "Norwegian (Norway)",
                "value": "NB_NO"
              },
              {
                "displayName": "Dutch (Netherlands)",
                "value": "NL_NL"
              },
              {
                "displayName": "Norwegian (Norway)",
                "value": "NO_NO"
              },
              {
                "displayName": "Polish (Poland)",
                "value": "PL_PL"
              },
              {
                "displayName": "Portuguese (Brazil)",
                "value": "PT_BR"
              },
              {
                "displayName": "Romanian (Romania)",
                "value": "RO_RO"
              },
              {
                "displayName": "Russian (Russia)",
                "value": "RU_RU"
              },
              {
                "displayName": "Slovak (Slovakia)",
                "value": "SK_SK"
              },
              {
                "displayName": "Slovenian (Slovenia)",
                "value": "SR_SR"
              },
              {
                "displayName": "Serbian (Serbia)",
                "value": "SL_SI"
              },
              {
                "displayName": "Swedish (Sweden)",
                "value": "SV_SE"
              },
              {
                "displayName": "Turkish (Turkey)",
                "value": "TR_TR"
              },
              {
                "displayName": "Ukrainian (Ukraine)",
                "value": "UK_UA"
              },
              {
                "displayName": "Chinese (China)",
                "value": "ZH_CN"
              },
              {
                "displayName": "Chinese (Hong Kong)",
                "value": "ZH_HK"
              }
            ]
          },
          {
            "x-ms-summary": "Searchable Options",
            "name": "ocrType",
            "in": "formData",
            "description": "The searchable option for OCR.",
            "required": true,
            "enum": [
              "SEARCHABLE_IMAGE",
              "SEARCHABLE_IMAGE_EXACT"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Modify original image",
                "value": "SEARCHABLE_IMAGE"
              },
              {
                "displayName": "Keep original image for maximum fidelity",
                "value": "SEARCHABLE_IMAGE_EXACT"
              }
            ],
            "default": "SEARCHABLE_IMAGE",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the output PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/OCRPDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Create Searchable PDF using OCR",
        "tags": [
          "ocrPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#create-searchable-pdf-using-ocr"
        }
      }
    },
    "/{connectionId}/operation/v1/protectUserPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Protect a PDF document from viewing. Only files with .pdf extension are supported.",
        "operationId": "ProtectUserPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ProtectUserPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the protected PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Password",
            "name": "userPassword",
            "in": "formData",
            "description": "The password that will be set on the PDF document.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Encryption Algorithm",
            "name": "encryptionAlgorithm",
            "in": "formData",
            "description": "The encryption algorithm that will be used to set the password.",
            "required": true,
            "type": "string",
            "enum": [
              "AES_128",
              "AES_256"
            ],
            "default": "AES_256",
            "x-ms-visibility": "internal"
          },
          {
            "x-ms-summary": "Encryption Level",
            "name": "contentEncryption",
            "in": "formData",
            "description": "The encryption level that will be used to set the password.",
            "required": true,
            "enum": [
              "ALL_CONTENT",
              "ALL_CONTENT_EXCEPT_METADATA"
            ],
            "default": "ALL_CONTENT",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-enum-values": [
              {
                "displayName": "Encrypt all content",
                "value": "ALL_CONTENT"
              },
              {
                "displayName": "Encrypt all content except metadata",
                "value": "ALL_CONTENT_EXCEPT_METADATA"
              }
            ]
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/ProtectPDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Protect PDF from Viewing",
        "tags": [
          "protectPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#protect-pdf-from-viewing"
        }
      }
    },
    "/{connectionId}/operation/v1/protectOwnerPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Protect a PDF document from copying, editing & printing. Only files with .pdf extension are supported.",
        "operationId": "ProtectOwnerPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ProtectOwnerPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the protected PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Password",
            "name": "ownerPassword",
            "in": "formData",
            "description": "The password that will be required for access permissions.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Encryption Algorithm",
            "name": "encryptionAlgorithm",
            "in": "formData",
            "description": "The encryption algorithm that will be used to set the password.",
            "required": true,
            "type": "string",
            "enum": [
              "AES_128",
              "AES_256"
            ],
            "default": "AES_256",
            "x-ms-visibility": "internal"
          },
          {
            "x-ms-summary": "Encryption Level",
            "name": "contentEncryption",
            "in": "formData",
            "description": "The encryption level that will be used to set the password.",
            "required": true,
            "enum": [
              "ALL_CONTENT",
              "ALL_CONTENT_EXCEPT_METADATA"
            ],
            "default": "ALL_CONTENT",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-enum-values": [
              {
                "displayName": "Encrypt all content",
                "value": "ALL_CONTENT"
              },
              {
                "displayName": "Encrypt all content except metadata",
                "value": "ALL_CONTENT_EXCEPT_METADATA"
              }
            ]
          },
          {
            "x-ms-summary": "Allow Low Quality Printing?",
            "name": "allowPrintLowQuality",
            "in": "formData",
            "description": "Enables low quality printing of the PDF document.",
            "required": true,
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow High Quality Printing?",
            "name": "allowPrintHighQuality",
            "in": "formData",
            "description": "Enables high quality printing of the PDF document. If set to true, low quality printing would be allowed as well.",
            "required": true,
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Content Editing?",
            "name": "allowEditContent",
            "in": "formData",
            "description": "Enables all the editing permissions in the PDF document except commenting and page extraction. If set to true, document assembly and fill & sign form fields editing would be allowed as well.",
            "required": true,
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Document Assembly Editing?",
            "name": "allowEditDocumentAssembly",
            "in": "formData",
            "description": "Enables insertion, deletion and rotation of pages in a PDF document.",
            "required": true,
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Annotations Editing?",
            "name": "allowEditAnnotations",
            "in": "formData",
            "description": "Enables additions of comments, digital signatures and filling in of forms in a PDF document.",
            "required": true,
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Fill & Sign Form Fields Editing?",
            "name": "allowEditFillAndSignFormFields",
            "in": "formData",
            "description": "Enables filling in of forms, digital signature and creation of template pages in a PDF document.",
            "required": true,
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Content Copying?",
            "name": "allowCopyContent",
            "in": "formData",
            "description": "Enables copying of content from the PDF document.",
            "required": true,
            "type": "boolean"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/ProtectPDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Protect PDF from Copying, Editing and Printing",
        "tags": [
          "protectPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#protect-pdf-from-copying%2c-editing-and-printing"
        }
      }
    },
    "/{connectionId}/operation/v1/protectGenericPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Protect a PDF document from Viewing and other Accesses like Editing, Copying and Printing. Only files with .pdf extension are supported.",
        "operationId": "ProtectGenericPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ProtectGenericPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the protected PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Viewing Password",
            "name": "userPassword",
            "in": "formData",
            "description": "The password that will be required to view the PDF document.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Editing, Copying, Printing Password",
            "name": "ownerPassword",
            "in": "formData",
            "description": "The password that will be required for access permissions.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Encryption Algorithm",
            "name": "encryptionAlgorithm",
            "in": "formData",
            "description": "The encryption algorithm that will be used to set the password.",
            "required": true,
            "type": "string",
            "enum": [
              "AES_128",
              "AES_256"
            ],
            "default": "AES_256",
            "x-ms-visibility": "internal"
          },
          {
            "x-ms-summary": "Encryption Level",
            "name": "contentEncryption",
            "in": "formData",
            "description": "The encryption level that will be used to set the password.",
            "enum": [
              "ALL_CONTENT",
              "ALL_CONTENT_EXCEPT_METADATA"
            ],
            "default": "ALL_CONTENT",
            "required": true,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-enum-values": [
              {
                "displayName": "Encrypt all content",
                "value": "ALL_CONTENT"
              },
              {
                "displayName": "Encrypt all content except metadata",
                "value": "ALL_CONTENT_EXCEPT_METADATA"
              }
            ]
          },
          {
            "x-ms-summary": "Allow Low Quality Printing?",
            "name": "allowPrintLowQuality",
            "in": "formData",
            "description": "Enables low quality printing of the PDF document.",
            "required": true,
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow High Quality Printing?",
            "name": "allowPrintHighQuality",
            "in": "formData",
            "required": true,
            "description": "Enables high quality printing of the PDF document. If set to true, low quality printing would be allowed as well.",
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Content Editing?",
            "name": "allowEditContent",
            "in": "formData",
            "required": true,
            "description": "Enables all the editing permissions in the PDF document except commenting and page extraction. If set to true, document assembly and fill & sign form fields editing would be allowed as well.",
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Document Assembly Editing?",
            "name": "allowEditDocumentAssembly",
            "in": "formData",
            "required": true,
            "description": "Enables insertion, deletion and rotation of pages in a PDF document.",
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Annotations Editing?",
            "name": "allowEditAnnotations",
            "in": "formData",
            "required": true,
            "description": "Enables additions of comments, digital signatures and filling in of forms in a PDF document.",
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Fill & Sign Form Fields Editing?",
            "name": "allowEditFillAndSignFormFields",
            "in": "formData",
            "required": true,
            "description": "Enables filling in of forms, digital signature and creation of template pages in a PDF document.",
            "type": "boolean"
          },
          {
            "x-ms-summary": "Allow Content Copying?",
            "name": "allowCopyContent",
            "in": "formData",
            "required": true,
            "description": "Enables copying of content from the PDF document.",
            "type": "boolean"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/ProtectPDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Protect PDF with Access Permissions",
        "tags": [
          "protectPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#protect-pdf-with-access-permissions"
        }
      }
    },
    "/{connectionId}/operation/v1/removeProtection": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Remove password and security & permissions from the protected document. Only files with .pdf extension are supported.",
        "operationId": "RemovePassword",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "RemovePassword",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "description": "The file name of the output PDF file. If it is not provided, source file name will be used.",
            "maxLength": 256,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Password",
            "name": "password",
            "in": "formData",
            "description": "The password set on the document.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/UnProtectPDFResponse"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Remove Protection from PDF",
        "tags": [
          "protectPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#remove-protection-from-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/splitPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Split a PDF Document into multiple PDF Documents. Only files with .pdf extension are supported.",
        "operationId": "SplitPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SplitPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "x-ms-summary": "PDF File Name",
            "name": "outputFileName",
            "in": "formData",
            "maxLength": 256,
            "description": "The name of the split PDF file. If it is not provided, source file name with .pdf extension will be used.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-summary": "Split Type",
            "name": "splitByType",
            "description": "Select how to split the file",
            "in": "formData",
            "enum": [
              "PageRangeArray",
              "NumberOfPages",
              "NumberOfFiles"
            ],
            "type": "string",
            "required": true,
            "x-ms-enum-values": [
              {
                "displayName": "Array of Page Range",
                "value": "PageRangeArray"
              },
              {
                "displayName": "Number Of Pages",
                "value": "NumberOfPages"
              },
              {
                "displayName": "Number Of Split Files",
                "value": "NumberOfFiles"
              }
            ]
          },
          {
            "x-ms-summary": "Split Configuration",
            "name": "splitConfiguration",
            "in": "formData",
            "description": "Please provide the split configuration. For Page Range Array, provide array elements in a comma separated fashion as 1-5,8-10.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitDocument"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Split PDF",
        "tags": [
          "splitPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#split-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/extractImagesFromPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Extracts Images from a PDF Document. Only files with .pdf extension are supported.",
        "operationId": "ExtractImagesFromPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExtractImagesFromPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "extractPDFIntent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "ONLY_FIGURES"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractImages"
            }
          },
          "202": {
            "description": "PDF Extraction Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Extract Images From PDF",
        "tags": [
          "extractPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#extract-images-from-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/extractTablesFromPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Extracts Tables in .xlsx format from a PDF Document. Only files with .pdf extension are supported.",
        "operationId": "ExtractTablesFromPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExtractTablesFromPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "extractPDFIntent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "ONLY_TABLES"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Extracted",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractTables"
            }
          },
          "202": {
            "description": "PDF Extraction Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Extract Tables from PDF",
        "tags": [
          "extractPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#extract-tables-from-pdf"
        }
      }
    },
    "/{connectionId}/operation/v1/extractJSONFileFromPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Extract PDF Structure in a JSON File. Only files with .pdf extension are supported.",
        "operationId": "ExtractJSONFileFromPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExtractJSONFileFromPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "extractPDFIntent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "ONLY_JSON_FILE"
          },
          {
            "x-ms-summary": "Add Character Information",
            "name": "addCharInfo",
            "in": "formData",
            "description": "Character Information to be included or not. Default is true.",
            "default": true,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Get Styling Information",
            "name": "getStylingInfo",
            "in": "formData",
            "description": "Styling Information to be included or not. Default is true.",
            "default": true,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "PDF Successfully Created",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractJSONFile"
            }
          },
          "202": {
            "description": "PDF Creation Accepted",
            "headers": {
              "x-request-id": {
                "type": "string",
                "x-ms-summary": "Job ID",
                "description": "The Job Id to be used in JOB status operation.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Extract PDF Structure in a JSON File",
        "tags": [
          "extractPdf"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobepdftools/#extract-pdf-structure-in-a-json-file"
        }
      }
    },
    "/{connectionId}/operation/v1/extractJSONObjectFromPDF": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Extract PDF Structure in a JSON Object. Only files with .pdf extension are supported.",
        "operationId": "ExtractJSONObjectFromPDF",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ExtractJSONObjectFromPDF",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "PowerAutomate"
          },
          {
            "name": "extractPDFIntent",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "ONLY_JSON_OBJECT"
          },
          {
            "x-ms-summary": "Add Character Information",
            "name": "addCharInfo",
            "in": "formData",
            "description": "Character Information to be included or not. Default is true.",
            "default": true,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Get Styling Information",
            "name": "getStylingInfo",
            "in": "formData",
            "description": "Styling Information to be included or not. Default is true.",
            "default": true,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "File Name",
            "name": "inputFileName",
            "maxLength": 256,
            "in": "formData",
            "description": "The name of the source file with extension.",
            "required": true,
            "type": "string"
          },
          {
            "x-ms-format": "contentOnly",
            "format": "contentOnly",
            "x-ms-summary": "File Content",
            "name": "InputFile0",
            "in": "formData",
            "description": "The content of the source file.",
            "required": true,
            "type": "file"
[...]
