{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Freshservice",
    "description": "Freshservice is a cloud-based IT service desk and service management solution that's easy to set up and use, to transform employee experience across the organization.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/helpdesk/tickets.json": {
      "get": {
        "summary": "When a ticket is created",
        "description": "Triggers when a new ticket is created.",
        "operationId": "OnTicketCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Ticket_Response"
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "batch",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerValueCollection": "",
        "x-ms-dev-triggerValuePath": "created_at",
        "x-ms-trigger-hint": "To see it work now, create a ticket.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#when-a-ticket-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/trigger/api/v2/tickets": {
      "get": {
        "summary": "When a ticket is created (V2)",
        "description": "Triggers when a new ticket is created.",
        "operationId": "OnTicketCreatedV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListTicket_ResponseV2"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "batch",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerValueCollection": "",
        "x-ms-dev-triggerValuePath": "created_at",
        "x-ms-trigger-hint": "To see it work now, create a ticket.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#when-a-ticket-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/helpdesk/tickets.json": {
      "get": {
        "summary": "List tickets",
        "description": "List all tickets.",
        "operationId": "ListTickets",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Ticket_Response"
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#list-tickets-%5bdeprecated%5d"
        }
      },
      "post": {
        "summary": "Create a ticket",
        "description": "Create a ticket.",
        "operationId": "CreateTicket",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTicket_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "item": {
                  "type": "object",
                  "properties": {
                    "helpdesk_ticket": {
                      "$ref": "#/definitions/Ticket_Response"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#create-a-ticket-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/v2/tickets": {
      "get": {
        "summary": "List tickets (V2)",
        "description": "List all tickets.",
        "operationId": "ListTicketsV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "tickets": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ListTicket_ResponseV2"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#list-tickets-(v2)"
        }
      },
      "post": {
        "summary": "Create a ticket (V2)",
        "description": "Create a ticket.",
        "operationId": "CreateTicketV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTicket_RequestV2"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateUpdateTicket_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#create-a-ticket-(v2)"
        }
      }
    },
    "/{connectionId}/helpdesk/tickets/{ticketId}.json": {
      "put": {
        "summary": "Update a ticket",
        "description": "Update a ticket (only specified values will be updated).",
        "operationId": "UpdateTicket",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ticketId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTicket_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateTicket_Response"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#update-a-ticket-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/v2/tickets/{ticketId}": {
      "put": {
        "summary": "Update a ticket (V2)",
        "description": "Update a ticket (only specified values will be updated).",
        "operationId": "UpdateTicketV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ticketId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTicket_RequestV2"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateUpdateTicket_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#update-a-ticket-(v2)"
        }
      }
    },
    "/{connectionId}/helpdesk/tickets/{ticketId}/conversations/note.json": {
      "post": {
        "summary": "Add a note to a ticket",
        "description": "Add a private or public note to a ticket.",
        "operationId": "AddNote",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ticketId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNote_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddNote_Response"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#add-a-note-to-a-ticket-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/v2/tickets/{ticketId}/notes": {
      "post": {
        "summary": "Add a note to a ticket (V2)",
        "description": "Add a private or public note to a ticket.",
        "operationId": "AddNoteV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ticketId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNote_RequestV2"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddNote_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#add-a-note-to-a-ticket-(v2)"
        }
      }
    },
    "/{connectionId}/itil/requesters.json": {
      "get": {
        "summary": "List users",
        "description": "List all users.",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsers_Response"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#list-users-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/v2/requesters": {
      "get": {
        "summary": "List users (V2)",
        "description": "List all users.",
        "operationId": "ListUsersV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsers_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshservice/#list-users-(v2)"
        }
      }
    }
  },
  "definitions": {
    "CreateTicket_Request": {
      "required": [
        "helpdesk_ticket"
      ],
      "type": "object",
      "properties": {
        "helpdesk_ticket": {
          "required": [
            "requester_id",
            "subject",
            "status",
            "priority",
            "description"
          ],
          "type": "object",
          "properties": {
            "requester_id": {
              "format": "int64",
              "description": "User-id of the requester. For existing contacts, requester_id can be passed instead of email.",
              "type": "integer",
              "x-ms-summary": "Requester Id",
              "x-ms-visibility": "important",
              "x-ms-dynamic-values": {
                "operationId": "ListUsers",
                "value-path": "user/id",
                "value-title": "user/name"
              }
            },
            "subject": {
              "description": "The subject of the ticket.",
              "type": "string",
              "x-ms-summary": "Subject",
              "x-ms-visibility": "important"
            },
            "status": {
              "description": "Status of the ticket.",
              "enum": [
                "Open",
                "Pending",
                "Resolved",
                "Closed"
              ],
              "type": "string",
              "x-ms-summary": "Status",
              "x-ms-visibility": "important"
            },
            "priority": {
              "description": "The priority of the ticket (such as Low, Medium, or High).",
              "enum": [
                "Low",
                "Medium",
                "High",
                "Urgent"
              ],
              "type": "string",
              "x-ms-summary": "Priority",
              "x-ms-visibility": "important"
            },
            "description": {
              "description": "The description of the ticket.",
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "important"
            },
            "urgency": {
              "description": "Urgency of the problem (such as Low, Medium or High).",
              "enum": [
                "Low",
                "Medium",
                "High"
              ],
              "type": "string",
              "x-ms-summary": "Urgency",
              "x-ms-visibility": "advanced"
            },
            "impact": {
              "description": "Impact of the problem (such as Low, Medium or High).",
              "enum": [
                "Low",
                "Medium",
                "High"
              ],
              "type": "string",
              "x-ms-summary": "Impact",
              "x-ms-visibility": "advanced"
            },
            "source": {
              "description": "The channel through which the ticket was created.",
              "enum": [
                "Email",
                "Portal",
                "Phone",
                "Chat"
              ],
              "type": "string",
              "x-ms-summary": "Source",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "helpdesk_ticket": {
          "requester_id": "5000747699",
          "subject": "test connector ticket",
          "status": "Open",
          "priority": "Low",
          "description": "delete this record"
        }
      }
    },
    "CreateTicket_RequestV2": {
      "required": [
        "requester_id",
        "subject",
        "status",
        "priority",
        "description"
      ],
      "type": "object",
      "properties": {
        "requester_id": {
          "format": "int64",
          "description": "User-id of the requester. For existing contacts, requester_id can be passed instead of email.",
          "type": "integer",
          "x-ms-summary": "Requester Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListUsersV2",
            "value-path": "id",
            "value-title": "first_name"
          }
        },
        "subject": {
          "description": "The subject of the ticket.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Status of the ticket.",
          "enum": [
            "Open",
            "Pending",
            "Resolved",
            "Closed"
          ],
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "priority": {
          "description": "The priority of the ticket (such as Low, Medium, or High).",
          "enum": [
            "Low",
            "Medium",
            "High",
            "Urgent"
          ],
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "The description of the ticket.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "urgency": {
          "description": "Urgency of the problem (such as Low, Medium or High).",
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "type": "string",
          "x-ms-summary": "Urgency",
          "x-ms-visibility": "advanced"
        },
        "impact": {
          "description": "Impact of the problem (such as Low, Medium or High).",
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "type": "string",
          "x-ms-summary": "Impact",
          "x-ms-visibility": "advanced"
        },
        "source": {
          "description": "The channel through which the ticket was created.",
          "enum": [
            "Email",
            "Portal",
            "Phone",
            "Chat"
          ],
          "type": "string",
          "x-ms-summary": "Source",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "helpdesk_ticket": {
          "requester_id": "5000747699",
          "subject": "test connector ticket",
          "status": "Open",
          "priority": "Low",
          "description": "delete this record"
        }
      }
    },
    "UpdateTicket_Request": {
      "type": "object",
      "properties": {
        "helpdesk_ticket": {
          "type": "object",
          "properties": {
            "requester_id": {
              "format": "int64",
              "description": "User-id of the requester. For existing contacts, requester_id can be passed instead of email.",
              "type": "integer",
              "x-ms-summary": "Requester Id",
              "x-ms-visibility": "important",
              "x-ms-dynamic-values": {
                "operationId": "ListUsers",
                "value-path": "user/id",
                "value-title": "user/name"
              }
            },
            "subject": {
              "description": "The subject of the ticket.",
              "type": "string",
              "x-ms-summary": "Subject",
              "x-ms-visibility": "important"
            },
            "status": {
              "description": "Status of the ticket.",
              "enum": [
                "Open",
                "Pending",
                "Resolved",
                "Closed"
              ],
              "type": "string",
              "x-ms-summary": "Status",
              "x-ms-visibility": "important"
            },
            "priority": {
              "description": "The priority of the ticket (such as Low, Medium, or High).",
              "enum": [
                "Low",
                "Medium",
                "High",
                "Urgent"
              ],
              "type": "string",
              "x-ms-summary": "Priority",
              "x-ms-visibility": "important"
            },
            "urgency": {
              "description": "Urgency of the problem (such as Low, Medium or High).",
              "enum": [
                "Low",
                "Medium",
                "High"
              ],
              "type": "string",
              "x-ms-summary": "Urgency",
              "x-ms-visibility": "advanced"
            },
            "impact": {
              "description": "Impact of the problem (such as Low, Medium or High).",
              "enum": [
                "Low",
                "Medium",
                "High"
              ],
              "type": "string",
              "x-ms-summary": "Impact",
              "x-ms-visibility": "advanced"
            },
            "source": {
              "description": "The channel through which the ticket was created.",
              "enum": [
                "Email",
                "Portal",
                "Phone",
                "Chat"
              ],
              "type": "string",
              "x-ms-summary": "Source",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "helpdesk_ticket": {
          "priority": 1
        }
      }
    },
    "UpdateTicket_RequestV2": {
      "type": "object",
      "properties": {
        "requester_id": {
          "format": "int64",
          "description": "User-id of the requester. For existing contacts, requester_id can be passed instead of email.",
          "type": "integer",
          "x-ms-summary": "Requester Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListUsersV2",
            "value-path": "id",
            "value-title": "first_name"
          }
        },
        "subject": {
          "description": "The subject of the ticket.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Status of the ticket.",
          "enum": [
            "Open",
            "Pending",
            "Resolved",
            "Closed"
          ],
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "priority": {
          "description": "The priority of the ticket (such as Low, Medium, or High).",
          "enum": [
            "Low",
            "Medium",
            "High",
            "Urgent"
          ],
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important"
        },
        "urgency": {
          "description": "Urgency of the problem (such as Low, Medium or High).",
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "type": "string",
          "x-ms-summary": "Urgency",
          "x-ms-visibility": "advanced"
        },
        "impact": {
          "description": "Impact of the problem (such as Low, Medium or High).",
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "type": "string",
          "x-ms-summary": "Impact",
          "x-ms-visibility": "advanced"
        },
        "source": {
          "description": "The channel through which the ticket was created.",
          "enum": [
            "Email",
            "Portal",
            "Phone",
            "Chat"
          ],
          "type": "string",
          "x-ms-summary": "Source",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "priority": 1
      }
    },
    "AddNote_Request": {
      "required": [
        "helpdesk_note"
      ],
      "type": "object",
      "properties": {
        "helpdesk_note": {
          "required": [
            "body"
          ],
          "type": "object",
          "properties": {
            "body": {
              "description": "The note to be added to the ticket.",
              "type": "string",
              "x-ms-summary": "Note",
              "x-ms-visibility": "important"
            },
            "private": {
              "description": "Set to true if message is private.",
              "type": "boolean",
              "x-ms-summary": "Is Private",
              "x-ms-visibility": "important"
            }
          }
        }
      },
      "x-ms-test-value": {
        "helpdesk_note": {
          "body": "Hi tom, Still Angry",
          "private": false
        }
      }
    },
    "AddNote_RequestV2": {
      "required": [
        "body"
      ],
      "type": "object",
      "properties": {
        "body": {
          "description": "The note to be added to the ticket.",
          "type": "string",
          "x-ms-summary": "Note",
          "x-ms-visibility": "important"
        },
        "private": {
          "description": "Set to true if message is private.",
          "type": "boolean",
          "x-ms-summary": "Is Private",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "helpdesk_note": {
          "body": "Hi tom, Still Angry",
          "private": false
        }
      }
    },
    "Ticket_Response": {
      "type": "object",
      "properties": {
        "created_at": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created At Date-Time"
        },
        "deleted": {
          "description": "Set as true if the ticket is deleted/trashed. Deleted tickets will not be considered in any views except 'deleted' filter.",
          "type": "boolean",
          "x-ms-summary": "Is Deleted",
          "x-ms-visibility": "advanced"
        },
        "department_id_value": {
          "type": "integer",
          "x-ms-summary": "Department Id",
          "x-ms-visibility": "advanced"
        },
        "display_id": {
          "format": "int32",
          "description": "Ticket Id specific to your account.",
          "type": "integer",
          "x-ms-summary": "Ticket Id",
          "x-ms-visibility": "advanced"
        },
        "due_by": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Due By Date-Time"
        },
        "group_id": {
          "format": "int32",
          "description": "Id of Group to which the ticket is assigned.",
          "type": "integer",
          "x-ms-summary": "Group Id",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "format": "int32",
          "description": "Unique Id of the ticket.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "impact": {
          "format": "int32",
          "description": "A number representing the impact of the problem.",
          "type": "integer",
          "x-ms-summary": "Impact",
          "x-ms-visibility": "advanced"
        },
        "isescalated": {
          "description": "Set to true if an escalation was sent.",
          "type": "boolean",
          "x-ms-summary": "Is Escalated",
          "x-ms-visibility": "advanced"
        },
        "owner_id": {
          "description": "Id of the agent to whom the problem is assigned.",
          "type": "string",
          "x-ms-summary": "Owner Id",
          "x-ms-visibility": "advanced"
        },
        "priority": {
          "format": "int32",
          "description": "A number representing the priority of the ticket.",
          "type": "integer",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "advanced"
        },
        "requester_id": {
          "format": "int32",
          "description": "User-id of the requester. For existing contacts, requester_id can be passed instead of email.",
          "type": "integer",
          "x-ms-summary": "Requester Id",
          "x-ms-visibility": "advanced"
        },
        "responder_id": {
          "format": "int32",
          "description": "Id of the agent to whom the ticket is assigned.",
          "type": "integer",
          "x-ms-summary": "Responder Id",
          "x-ms-visibility": "advanced"
        },
        "source": {
          "format": "int32",
          "description": "A number representing the channel through which the ticket was created.",
          "type": "integer",
          "x-ms-summary": "Source",
          "x-ms-visibility": "advanced"
        },
        "spam": {
          "description": "Set as true if the ticket is marked as spam.",
          "type": "boolean",
          "x-ms-summary": "Spam",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "format": "int32",
          "description": "A number representing the status of the ticket.",
          "type": "integer",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Ticket subject.",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "ticket_type": {
          "description": "Type property field as defined in ticket fields.",
          "type": "string",
          "x-ms-summary": "Ticket Type",
          "x-ms-visibility": "advanced"
        },
        "to_email": {
          "description": "Email address to which the incoming ticket email was sent.",
          "type": "string",
          "x-ms-summary": "To Email"
        },
        "updated_at": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated At Date-Time"
        },
        "urgency": {
          "format": "int32",
          "description": "A number representing the urgency of the problem.",
          "type": "integer",
          "x-ms-summary": "Urgency",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "Description of the problem.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "description_html": {
          "description": "HTML content of the ticket. Description and description_html should not be passed together.",
          "type": "string",
          "x-ms-summary": "Description HTML",
          "x-ms-visibility": "advanced"
        },
        "status_name": {
          "description": "Status of the ticket.",
          "type": "string",
          "x-ms-summary": "Status Name"
        },
        "priority_name": {
          "description": "Priority of the ticket.",
          "type": "string",
          "x-ms-summary": "Priority Name"
        },
        "source_name": {
          "description": "The channel through which the ticket was created.",
          "type": "string",
          "x-ms-summary": "Source Name"
        },
        "responder_name": {
          "description": "Name of the agent to whom the ticket is assigned.",
          "type": "string",
          "x-ms-summary": "Responder Name"
        },
        "to_emails": {
          "description": "Email addresses to which the incoming ticket email was sent.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "To Emails",
          "x-ms-visibility": "advanced"
        },
        "department_name": {
          "description": "Name of the department.",
          "type": "string",
          "x-ms-summary": "Department Name",
          "x-ms-visibility": "advanced"
        },
        "assoc_problem_id": {
          "format": "int32",
          "description": "Id of the associated problem to the ticket.",
          "type": "integer",
          "x-ms-summary": "Associated Problem Id",
          "x-ms-visibility": "advanced"
        },
        "assoc_change_id": {
          "format": "int32",
          "description": "Id of the associated change to the problem.",
          "type": "integer",
          "x-ms-summary": "Associated Change Id",
          "x-ms-visibility": "advanced"
        },
        "assoc_change_cause_id": {
          "description": "Id of the change causing the ticket.",
          "type": "integer",
          "x-ms-summary": "Associated Change Cause Id",
          "x-ms-visibility": "advanced"
        },
        "assoc_asset_id": {
          "description": "Id of the asset associated to the ticket.",
          "type": "integer",
          "x-ms-summary": "Associated Asset Id",
          "x-ms-visibility": "advanced"
        },
        "urgency_name": {
          "description": "Urgency of the problem.",
          "type": "string",
          "x-ms-summary": "Urgency Name"
        },
        "impact_name": {
          "description": "Impact of the problem.",
          "type": "string",
          "x-ms-summary": "Impact Name"
        }
      }
    },
    "CreateUpdateTicket_ResponseV2": {
      "type": "object",
      "properties": {
        "ticket": {
          "type": "object",
          "properties": {
            "created_at": {
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Created At Date-Time"
            },
            "department_id": {
              "type": "integer",
              "x-ms-summary": "Department Id",
              "x-ms-visibility": "advanced"
            },
            "due_by": {
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Due By Date-Time"
            },
            "group_id": {
              "format": "int32",
              "description": "Id of Group to which the ticket is assigned.",
              "type": "integer",
              "x-ms-summary": "Group Id",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "format": "int32",
              "description": "Unique Id of the ticket.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "is_escalated": {
              "description": "Set to true if an escalation was sent.",
              "type": "boolean",
              "x-ms-summary": "Is Escalated",
              "x-ms-visibility": "advanced"
            },
            "priority": {
              "format": "int32",
              "description": "A number representing the priority of the ticket.",
              "type": "integer",
              "x-ms-summary": "Priority",
              "x-ms-visibility": "advanced"
            },
            "requester_id": {
              "format": "int32",
              "description": "User-id of the requester. For existing contacts, requester_id can be passed instead of email.",
              "type": "integer",
              "x-ms-summary": "Requester Id",
              "x-ms-visibility": "advanced"
            },
            "responder_id": {
              "format": "int32",
              "description": "Id of the agent to whom the ticket is assigned.",
              "type": "integer",
              "x-ms-summary": "Responder Id",
              "x-ms-visibility": "advanced"
            },
            "source": {
              "format": "int32",
              "description": "A number representing the channel through which the ticket was created.",
              "type": "integer",
              "x-ms-summary": "Source",
              "x-ms-visibility": "advanced"
            },
            "spam": {
              "description": "Set as true if the ticket is marked as spam.",
              "type": "boolean",
              "x-ms-summary": "Spam",
              "x-ms-visibility": "advanced"
            },
            "status": {
              "format": "int32",
              "description": "A number representing the status of the ticket.",
              "type": "integer",
              "x-ms-summary": "Status",
              "x-ms-visibility": "advanced"
            },
            "subject": {
              "description": "Ticket subject.",
              "type": "string",
              "x-ms-summary": "Subject"
            },
            "type": {
              "description": "Type property field as defined in ticket fields.",
              "type": "string",
              "x-ms-summary": "Ticket Type",
              "x-ms-visibility": "advanced"
            },
            "updated_at": {
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Updated At Date-Time"
            },
            "description_text": {
              "description": "Description of the problem.",
              "type": "string",
              "x-ms-summary": "Description"
            },
            "description": {
              "description": "HTML content of the ticket. Description and description_html should not be passed together.",
              "type": "string",
              "x-ms-summary": "Description HTML",
              "x-ms-visibility": "advanced"
            },
            "to_emails": {
              "description": "Email addresses to which the incoming ticket email was sent.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ms-summary": "To Emails",
              "x-ms-visibility": "advanced"
            }
          }
        }
      }
    },
    "ListTicket_ResponseV2": {
      "type": "object",
      "properties": {
        "created_at": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created At Date-Time"
        },
        "department_id": {
          "type": "integer",
          "x-ms-summary": "Department Id",
          "x-ms-visibility": "advanced"
        },
        "due_by": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Due By Date-Time"
        },
        "group_id": {
          "format": "int32",
          "description": "Id of Group to which the ticket is assigned.",
          "type": "integer",
          "x-ms-summary": "Group Id",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "format": "int32",
          "description": "Unique Id of the ticket.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "is_escalated": {
          "description": "Set to true if an escalation was sent.",
          "type": "boolean",
          "x-ms-summary": "Is Escalated",
          "x-ms-visibility": "advanced"
        },
        "priority": {
          "format": "int32",
          "description": "A number representing the priority of the ticket.",
          "type": "integer",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "advanced"
        },
        "requester_id": {
          "format": "int32",
          "description": "User-id of the requester. For existing contacts, requester_id can be passed instead of email.",
          "type": "integer",
          "x-ms-summary": "Requester Id",
          "x-ms-visibility": "advanced"
        },
        "responder_id": {
          "format": "int32",
          "description": "Id of the agent to whom the ticket is assigned.",
          "type": "integer",
          "x-ms-summary": "Responder Id",
          "x-ms-visibility": "advanced"
        },
        "source": {
          "format": "int32",
          "description": "A number representing the channel through which the ticket was created.",
          "type": "integer",
          "x-ms-summary": "Source",
          "x-ms-visibility": "advanced"
        },
        "spam": {
          "description": "Set as true if the ticket is marked as spam.",
          "type": "boolean",
          "x-ms-summary": "Spam",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "format": "int32",
          "description": "A number representing the status of the ticket.",
          "type": "integer",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Ticket subject.",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "type": {
          "description": "Type property field as defined in ticket fields.",
          "type": "string",
          "x-ms-summary": "Ticket Type",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated At Date-Time"
        },
        "description_text": {
          "description": "Description of the problem.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "description": {
          "description": "HTML content of the ticket. Description and description_html should not be passed together.",
          "type": "string",
          "x-ms-summary": "Description HTML",
          "x-ms-visibility": "advanced"
        },
        "to_emails": {
          "description": "Email addresses to which the incoming ticket email was sent.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "To Emails",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UpdateTicket_Response": {
      "type": "object",
      "properties": {
        "ticket": {
          "type": "object",
          "properties": {
            "deleted": {
              "description": "Set as true if the ticket is deleted/trashed. Deleted tickets will not be considered in any views except 'deleted' filter.",
              "type": "boolean",
              "x-ms-summary": "Is Deleted",
              "x-ms-visibility": "advanced"
            },
            "display_id": {
              "format": "int32",
              "description": "Ticket Id specific to your account.",
              "type": "integer",
              "x-ms-summary": "Ticket Id",
              "x-ms-visibility": "advanced"
            },
            "subject": {
              "description": "Ticket subject.",
              "type": "string",
              "x-ms-summary": "Subject"
            },
            "description": {
              "description": "Description of the ticket.",
              "type": "string",
              "x-ms-summary": "Description"
            },
            "description_html": {
              "description": "HTML content of the ticket. Description and description_html should not be passed together.",
              "type": "string",
              "x-ms-summary": "Description HTML",
              "x-ms-visibility": "advanced"
            },
            "status_name": {
              "description": "Status of the ticket.",
              "type": "string",
              "x-ms-summary": "Status Name"
            },
            "priority_name": {
              "description": "Priority of the ticket.",
              "type": "string",
              "x-ms-summary": "Priority Name"
            },
            "source_name": {
              "description": "The channel through which the ticket was created.",
              "type": "string",
              "x-ms-summary": "Source Name"
            },
            "responder_name": {
              "description": "Name of the agent to whom the ticket is assigned.",
              "type": "string",
              "x-ms-summary": "Responder Name"
            },
            "to_emails": {
              "description": "Email addresses to which the incoming ticket email was sent.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ms-summary": "To Emails",
              "x-ms-visibility": "advanced"
            },
            "department_name": {
              "description": "Name of the department.",
              "type": "string",
              "x-ms-summary": "Department Name",
              "x-ms-visibility": "advanced"
            },
            "assoc_problem_id": {
              "description": "Id of the associated problem to the ticket.",
              "type": "integer",
              "x-ms-summary": "Associated Problem Id",
              "x-ms-visibility": "advanced"
            },
            "assoc_change_id": {
              "description": "Id of the associated change to the problem.",
              "type": "integer",
              "x-ms-summary": "Associated Change Id",
              "x-ms-visibility": "advanced"
            },
            "assoc_change_cause_id": {
              "description": "Id of the change causing the ticket.",
              "type": "integer",
              "x-ms-summary": "Associated Change Cause Id",
              "x-ms-visibility": "advanced"
            },
            "assoc_asset_id": {
              "description": "Id of the asset associated to the ticket.",
              "type": "integer",
              "x-ms-summary": "Associated Asset Id",
              "x-ms-visibility": "advanced"
            },
            "urgency_name": {
              "description": "Urgency of the problem.",
              "type": "string",
              "x-ms-summary": "Urgency Name"
            },
            "impact_name": {
              "description": "Impact of the problem.",
              "type": "string",
              "x-ms-summary": "Impact Name"
            }
          }
        }
      }
    },
    "AddNote_Response": {
      "type": "object",
      "properties": {
        "note": {
          "type": "object",
          "properties": {
            "created_at": {
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Created At Date-Time"
            },
            "deleted": {
              "description": "Set as true if the ticket is deleted/trashed. Deleted tickets will not be considered in any views except 'deleted' filter.",
              "type": "boolean",
              "x-ms-summary": "Is Deleted",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "format": "int32",
              "description": "Unique Id of the note.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "private": {
              "description": "Set as true if the note is private.",
              "type": "boolean",
              "x-ms-summary": "Private",
              "x-ms-visibility": "advanced"
            },
            "source": {
              "format": "int32",
              "description": "A number representing the channel through which the ticket was created.",
              "type": "integer",
              "x-ms-summary": "Source"
            },
            "updated_at": {
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Updated At Date-Time"
            },
            "user_id": {
              "format": "int32",
              "description": "User_id of the agent who is adding the note.",
              "type": "integer",
              "x-ms-summary": "User Id",
              "x-ms-visibility": "advanced"
            },
            "body": {
              "description": "Content of the note in plain text.",
              "type": "string",
              "x-ms-summary": "Body",
              "x-ms-visibility": "important"
            },
            "body_html": {
              "description": "Content of the note in HTML format. Either body or body_html has to be passed.",
              "type": "string",
              "x-ms-summary": "Body HTML",
              "x-ms-visibility": "important"
            },
            "attachments": {
              "type": "array",
              "items": {
                "description": "Attachments associated with the note.",
                "type": "string",
                "x-ms-summary": "Attachments",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "AddNote_ResponseV2": {
      "type": "object",
      "properties": {
        "conversation": {
          "type": "object",
          "properties": {
            "created_at": {
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Created At Date-Time"
            },
            "id": {
              "format": "int32",
              "description": "Unique Id of the note.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "private": {
              "description": "Set as true if the note is private.",
              "type": "boolean",
              "x-ms-summary": "Private",
              "x-ms-visibility": "advanced"
            },
            "updated_at": {
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Updated At Date-Time"
            },
            "user_id": {
              "format": "int32",
              "description": "User_id of the agent who is adding the note.",
              "type": "integer",
              "x-ms-summary": "User Id",
              "x-ms-visibility": "advanced"
            },
            "body_text": {
              "description": "Content of the note in plain text.",
              "type": "string",
              "x-ms-summary": "Body",
              "x-ms-visibility": "important"
            },
            "body": {
              "description": "Content of the note in HTML format. Either body or body_html has to be passed.",
              "type": "string",
              "x-ms-summary": "Body HTML",
              "x-ms-visibility": "important"
            },
            "attachments": {
              "type": "array",
              "items": {
                "description": "Attachments associated with the note.",
                "type": "string",
                "x-ms-summary": "Attachments",
                "x-ms-visibility": "advanced"
              }
            },
            "ticket_id": {
              "format": "int32",
              "description": "Unique Id of the ticket.",
              "type": "integer",
              "x-ms-summary": "Ticket Id",
              "x-ms-visibility": "advanced"
            }
          }
        }
      }
    },
    "ListUsers_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "user": {
            "description": "user",
            "type": "object",
            "properties": {
              "active": {
                "description": "Set to true if the user is verified.",
                "type": "boolean",
                "x-ms-summary": "Is Active",
                "x-ms-visibility": "advanced"
              },
              "address": {
                "description": "Address of the user.",
                "type": "string",
                "x-ms-summary": "Address"
              },
              "created_at": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                "type": "string",
                "x-ms-summary": "Create At Date-Time"
              },
              "deleted": {
                "description": "Set to true if the contact is deleted",
                "type": "boolean",
                "x-ms-summary": "Is Deleted",
                "x-ms-visibility": "advanced"
              },
              "description": {
                "description": "A small description about the user.",
                "type": "string",
                "x-ms-summary": "Description"
              },
              "email": {
                "description": "Email of the user.",
                "type": "string",
                "x-ms-summary": "Email"
              },
              "external_id": {
                "type": "string",
                "x-ms-summary": "External Id",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "format": "int32",
                "description": "Unique Id of the user.",
                "type": "integer",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "job_title": {
                "description": "Job title of the user.",
                "type": "string",
                "x-ms-summary": "Job Title"
              },
              "language": {
                "description": "Language of the user. Default language is en.",
                "type": "string",
                "x-ms-summary": "Language",
                "x-ms-visibility": "advanced"
              },
              "mobile": {
                "description": "mobile",
                "type": "string",
                "x-ms-summary": "Mobile",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Name of the user.",
                "type": "string",
                "x-ms-summary": "Name"
              },
              "phone": {
                "description": "phone",
                "type": "string",
                "x-ms-summary": "Phone"
              },
              "time_zone": {
                "description": "time_zone",
                "type": "string",
                "x-ms-summary": "Time Zone"
              },
              "updated_at": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                "type": "string",
                "x-ms-summary": "Updated At Date-Time",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListUsers_ResponseV2": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "active": {
            "description": "Set to true if the user is verified.",
            "type": "boolean",
            "x-ms-summary": "Is Active",
            "x-ms-visibility": "advanced"
          },
          "address": {
            "description": "Address of the user.",
            "type": "string",
            "x-ms-summary": "Address"
          },
          "created_at": {
            "format": "date-time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
            "type": "string",
            "x-ms-summary": "Create At Date-Time"
          },
          "external_id": {
            "type": "string",
            "x-ms-summary": "External Id",
            "x-ms-visibility": "advanced"
          },
          "first_name": {
            "description": "First name of the user.",
            "type": "string",
            "x-ms-summary": "First Name"
          },
          "id": {
            "format": "int32",
            "description": "Unique Id of the user.",
            "type": "integer",
            "x-ms-summary": "Id",
            "x-ms-visibility": "advanced"
          },
          "is_agent": {
            "description": "Set to true if the user is an agent.",
            "type": "boolean",
            "x-ms-summary": "Is Agent",
            "x-ms-visibility": "advanced"
          },
          "job_title": {
            "description": "Job title of the user.",
            "type": "string",
            "x-ms-summary": "Job Title"
          },
          "language": {
            "description": "Language of the user. Default language is en.",
            "type": "string",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          "last_name": {
            "description": "Last name of the user.",
            "type": "string",
            "x-ms-summary": "Last Name"
          },
          "mobile_phone_number": {
            "description": "mobile",
            "type": "string",
            "x-ms-summary": "Mobile",
            "x-ms-visibility": "advanced"
          },
          "primary_email": {
            "description": "Email of the user.",
            "type": "string",
            "x-ms-summary": "Email"
          },
          "time_zone": {
            "description": "Time Zone",
            "type": "string",
            "x-ms-summary": "Time Zone"
          },
          "updated_at": {
            "format": "date-time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
            "type": "string",
            "x-ms-summary": "Updated At Date-Time",
            "x-ms-visibility": "advanced"
          },
          "work_phone_number": {
            "description": "work phone",
            "type": "string",
            "x-ms-summary": "Phone"
          }
        }
      }
    }
  },
  "parameters": {
    "ticketId__in_path": {
      "name": "ticketId",
      "in": "path",
      "description": "The ticket id to update.",
      "required": true,
      "x-ms-summary": "Ticket Id",
      "x-ms-test-value": 9,
      "type": "integer",
      "format": "int32"
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "basic"
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListTicketsV2"
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/freshservice"
  },
  "basePath": "/apim/freshservice"
}
