{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Power Apps Notification V2",
    "description": "Send push notifications to apps created with Power Apps, Field Service, and Sales. Trigger them from Flows or other apps.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft",
      "url": "https://powerapps.microsoft.com/support/"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/connector/players": {
      "get": {
        "operationId": "ListPlayers",
        "summary": "Get the available mobile apps",
        "description": "Returns the list of mobile apps that can receive push notifications.",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "type": "string",
                        "description": "The mobile app display name"
                      },
                      "type": {
                        "type": "string",
                        "description": "The mobile app type (PowerApps, FieldService, or Sales)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsnotificationv2/#get-the-available-mobile-apps"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/connector/environments/apps": {
      "get": {
        "operationId": "ListApps",
        "summary": "Get apps",
        "description": "Returns a list of apps hosted by the mobile app.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "playerType",
            "in": "query",
            "x-ms-summary": "Mobile app",
            "description": "The mobile app to filter by.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "type": "string",
                        "description": "App display name"
                      },
                      "type": {
                        "type": "string",
                        "description": "CanvasApp, ModelApp, or AppModule"
                      },
                      "logicalName": {
                        "type": "string",
                        "description": "App logical name"
                      },
                      "appIdentifier": {
                        "type": "string",
                        "description": "Generic app identifier"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsnotificationv2/#get-apps"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/connector/environments/entities": {
      "get": {
        "operationId": "ListEntities",
        "summary": "Get entities",
        "description": "Returns a list of CDS entities.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "type": "string",
                        "description": "Entity display name"
                      },
                      "logicalName": {
                        "type": "string",
                        "description": "Entity logical name"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsnotificationv2/#get-entities"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/connector/environments/entities/{entityLogicalName}/pages": {
      "get": {
        "operationId": "ListEntityPages",
        "summary": "Get entity pages",
        "description": "Returns a filtered list of entity forms and views.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityLogicalName",
            "in": "path",
            "type": "string",
            "x-ms-summary": "Entity logical name",
            "description": "The entity logical name to filter by.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "type": "string",
                        "description": "Entity page name"
                      },
                      "id": {
                        "type": "string",
                        "description": "Entity page ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "Entity page type",
                        "enum": [
                          "entitylist",
                          "entityrecord"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsnotificationv2/#get-entity-pages"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/connector/dynamicSchemas": {
      "post": {
        "operationId": "GetDynamicSchema",
        "summary": "Get dynamic schema",
        "description": "Returns the dynamic schema for the app.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "app",
            "in": "body",
            "x-ms-summary": "App",
            "description": "The app to filter by.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsnotificationv2/#get-dynamic-schema"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/connector/environments/apps/sendPushNotification": {
      "post": {
        "operationId": "SendPushNotificationV2",
        "summary": "Send push notification V2",
        "description": "Send a push notification to any app created in Power Apps, Field Service, or Sales.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "payload",
            "description": "The message's JSON or raw string payload.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "playerType": {
                  "x-ms-summary": "Mobile app",
                  "description": "The mobile app hosting your app.",
                  "type": "string",
                  "x-ms-dynamic-list": {
                    "operationId": "ListPlayers",
                    "itemsPath": "items",
                    "itemTitlePath": "displayName",
                    "itemValuePath": "playerType",
                    "parameters": {}
                  }
                },
                "app": {
                  "x-ms-summary": "Your app",
                  "description": "Your app receiving the push notification.",
                  "type": "string",
                  "x-ms-dynamic-list": {
                    "operationId": "ListApps",
                    "itemsPath": "items",
                    "itemTitlePath": "displayName",
                    "parameters": {
                      "playerType": {
                        "parameterReference": "payload/playerType"
                      }
                    }
                  }
                },
                "recipients": {
                  "x-ms-summary": "Recipients",
                  "description": "List of user emails or user principle identifiers.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "message": {
                  "x-ms-summary": "Message",
                  "description": "Message body for the push notification.",
                  "type": "string"
                },
                "openApp": {
                  "x-ms-summary": "Open app",
                  "description": "Whether to open or not the app when user taps on the push notification.",
                  "type": "boolean"
                },
                "dynamicParams": {
                  "description": "The dynamic parameters.",
                  "type": "object",
                  "x-ms-dynamic-properties": {
                    "operationId": "GetDynamicSchema",
                    "parameters": {
                      "app": {
                        "parameterReference": "payload/app"
                      }
                    },
                    "itemValuePath": "schema"
                  }
                }
              },
              "required": [
                "playerType",
                "app",
                "recipients",
                "message",
                "openApp",
                "dynamicParams"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "TooManyRequests"
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsnotificationv2/#send-push-notification-v2"
        }
      }
    }
  },
  "definitions": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://powerapps.microsoft.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;IT Operations"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/powerappsnotificationv2"
  },
  "basePath": "/apim/powerappsnotificationv2"
}
