{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Google Drive",
    "description": "Google Drive is a file storage and synchronization service created by Google. It allows users to store files in the cloud, share files, and edit documents, spreadsheets, and presentations with collaborators.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/googledrive",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "GoogleDriveDataSetsMetadata"
        ],
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/files/{id}": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Get file metadata using id",
        "description": "Retrieves file metadata from Google Drive using id",
        "operationId": "GetFileMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#get-file-metadata-using-id"
        }
      },
      "put": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Update file",
        "description": "Updates a file in Google Drive",
        "operationId": "UpdateFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file to update",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file to upload to Google Drive",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#update-file"
        }
      },
      "delete": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Delete file",
        "description": "Deletes a file from Google Drive",
        "operationId": "DeleteFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file to delete",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#delete-file"
        }
      },
      "patch": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Append file",
        "description": "This operation appends to a file.",
        "operationId": "AppendFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Select a file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#append-file"
        }
      }
    },
    "/{connectionId}/datasets/default/GetFileByPath": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Get file metadata using path",
        "description": "Retrieves file metadata from Google Drive using path",
        "operationId": "GetFileMetadataByPath",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Path of the file in Google Drive",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "File path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#get-file-metadata-using-path"
        }
      }
    },
    "/{connectionId}/datasets/default/GetFileContentByPath": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Get file content using path",
        "description": "Retrieves file content from Google Drive using path",
        "operationId": "GetFileContentByPath",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Path of the file in Google Drive",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "File path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "Infer content-type based on extension",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#get-file-content-using-path"
        }
      }
    },
    "/{connectionId}/datasets/default/files/{id}/content": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Get file content using id",
        "description": "Retrieves file content from Google Drive using id",
        "operationId": "GetFileContent",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the file to retrieve in Google Drive",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "Infer content-type based on extension",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#get-file-content-using-id"
        }
      }
    },
    "/{connectionId}/datasets/default/files": {
      "post": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Create file",
        "description": "Uploads a file to Google Drive",
        "operationId": "CreateFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Folder path to upload the file to Google Drive",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Folder path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the file to create in Google Drive",
            "required": true,
            "x-ms-summary": "File name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file to upload to Google Drive",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File content"
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#create-file"
        }
      }
    },
    "/{connectionId}/datasets/default/copyFile": {
      "post": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Copy file",
        "description": "Copies a file on Google Drive",
        "operationId": "CopyFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Url to source file",
            "required": true,
            "x-ms-summary": "Source url",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Destination file path in Google Drive, including target filename",
            "required": true,
            "x-ms-summary": "Destination file path",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrites the destination file if set to 'true'",
            "required": false,
            "x-ms-summary": "Overwrite?",
            "type": "boolean",
            "default": false
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#copy-file"
        }
      }
    },
    "/{connectionId}/api/blob/files/{id}": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "GetFileMetadata_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "put": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "UpdateFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "delete": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "DeleteFile_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/GetFileByPath": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "GetFileMetadataByPath_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/GetFileContentByPath": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "GetFileContentByPath_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/files/{id}/content": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "GetFileContent_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/files": {
      "post": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "CreateFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/copyFile": {
      "post": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "CopyFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/folders/{id}": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "summary": "List files in folder",
        "description": "List files in a Google Drive folder",
        "operationId": "ListFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the folder in Google Drive",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#list-files-in-folder"
        }
      }
    },
    "/{connectionId}/datasets/default/folders": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "summary": "List files in root folder",
        "description": "Lists files in the Google Drive root folder",
        "operationId": "ListRootFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListRootFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#list-files-in-root-folder"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "CreateFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/rootfolders": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "ListAllRootFolders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListAllRootFolders",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/extractFolderV2": {
      "post": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "summary": "Extract archive to folder",
        "description": "Extracts an archive file into a folder in Google Drive (example: .zip)",
        "operationId": "ExtractFolderV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Path to the archive file",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/zip",
                  "application/x-zip-compressed"
                ],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Source archive file path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/zip' or MediaType eq 'application/x-zip-compressed')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/zip' or MediaType eq 'application/x-zip-compressed')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Path in Google Drive to extract the archive contents",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Destination folder path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrites the destination files if set to 'true'",
            "required": false,
            "x-ms-summary": "Overwrite?",
            "type": "boolean",
            "default": false
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#extract-archive-to-folder"
        }
      }
    },
    "/{connectionId}/api/blob/folders/{id}": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "ListFolder_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/folders": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "ListRootFolder_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/blob/extractFolder": {
      "post": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "ExtractFolder_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "GoogleSheetsMetadata"
        ],
        "summary": "Get sheet metadata",
        "description": "Retrieves Google Sheet metadata",
        "operationId": "GetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Specify the worksheet",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Worksheet",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#get-sheet-metadata"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')": {
      "get": {
        "tags": [
          "GoogleSheetsMetadata"
        ],
        "operationId": "ODataStyleGetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/{dataset}/tables": {
      "get": {
        "tags": [
          "GoogleSheetsTable"
        ],
        "summary": "Get sheets",
        "description": "Retrieves sheet names from a Google Sheet file",
        "operationId": "GetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#get-sheets"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables": {
      "get": {
        "tags": [
          "GoogleSheetsTable"
        ],
        "operationId": "ODataStyleGetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items": {
      "get": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStyleGetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      },
      "post": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStylePostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items": {
      "get": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Get rows",
        "description": "Retrieves rows from a Google Sheet",
        "operationId": "GetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Specify the worksheet",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#get-rows"
        }
      },
      "post": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Insert row",
        "description": "Inserts a row into a Google Sheet",
        "operationId": "PostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Specify the worksheet",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to insert into the specified sheet",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#insert-row"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Get row",
        "description": "Retrieves a single row from a Google Sheet",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Specify the worksheet",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of row to retrieve",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#get-row"
        }
      },
      "delete": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Delete Row",
        "description": "Deletes a row from a Google Sheet",
        "operationId": "DeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Specify the worksheet",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to delete",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#delete-row"
        }
      },
      "patch": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Update row",
        "description": "Updates a row in a Google Sheet",
        "operationId": "PatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Specify the worksheet",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to update",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row with updated values",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googledrive/#update-row"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items({id})": {
      "get": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStyleGetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "delete": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStyleDeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "patch": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStylePatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets": {
      "get": {
        "tags": [
          "GoogleSheetsDataSets"
        ],
        "operationId": "GetDataSets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "DataSetsMetadata": {
      "description": "Dataset metadata",
      "type": "object",
      "properties": {
        "tabular": {
          "$ref": "#/definitions/TabularDataSetsMetadata"
        },
        "blob": {
          "$ref": "#/definitions/BlobDataSetsMetadata"
        }
      }
    },
    "TabularDataSetsMetadata": {
      "description": "Tabular dataset metadata",
      "type": "object",
      "properties": {
        "source": {
          "description": "Dataset source",
          "type": "string"
        },
        "displayName": {
          "description": "Dataset display name",
          "type": "string"
        },
        "urlEncoding": {
          "description": "Dataset url encoding",
          "type": "string"
        },
        "tableDisplayName": {
          "description": "Table display name",
          "type": "string"
        },
        "tablePluralName": {
          "description": "Table plural display name",
          "type": "string"
        }
      }
    },
    "BlobDataSetsMetadata": {
      "description": "Blob dataset metadata",
      "type": "object",
      "properties": {
        "source": {
          "description": "Blob dataset source",
          "type": "string"
        },
        "displayName": {
          "description": "Blob dataset display name",
          "type": "string"
        },
        "urlEncoding": {
          "description": "Blob dataset url encoding",
          "type": "string"
        }
      }
    },
    "BlobMetadata": {
      "description": "Blob metadata",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique id of the file or folder.",
          "type": "string"
        },
        "Name": {
          "description": "The name of the file or folder.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the file or folder.",
          "type": "string"
        },
        "Path": {
          "description": "The path of the file or folder.",
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "description": "The date and time the file or folder was last modified.",
          "type": "string"
        },
        "Size": {
          "format": "int64",
          "description": "The size of the file or folder.",
          "type": "integer"
        },
        "MediaType": {
          "description": "The media type of the file or folder.",
          "type": "string"
        },
        "IsFolder": {
          "description": "A boolean value (true, false) to indicate whether or not the blob is a folder.",
          "type": "boolean"
        },
        "ETag": {
          "description": "The etag of the file or folder.",
          "type": "string"
        },
        "FileLocator": {
          "description": "The filelocator of the file or folder.",
          "type": "string"
        },
        "LastModifiedBy": {
          "description": "The user who last modified the file or folder.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "TableMetadata": {
      "description": "Table metadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "Table name",
          "type": "string"
        },
        "title": {
          "description": "Table title",
          "type": "string"
        },
        "x-ms-permission": {
          "description": "Table permission",
          "type": "string"
        },
        "x-ms-capabilities": {
          "$ref": "#/definitions/TableCapabilitiesMetadata"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        },
        "referencedEntities": {
          "$ref": "#/definitions/Object"
        },
        "webUrl": {
          "description": "Url link",
          "type": "string"
        }
      }
    },
    "TableCapabilitiesMetadata": {
      "description": "Metadata for a table (capabilities)",
      "type": "object",
      "properties": {
        "sortRestrictions": {
          "$ref": "#/definitions/TableSortRestrictionsMetadata"
        },
        "filterRestrictions": {
          "$ref": "#/definitions/TableFilterRestrictionsMetadata"
        },
        "selectRestrictions": {
          "$ref": "#/definitions/TableSelectRestrictionsMetadata"
        },
        "isOnlyServerPagable": {
          "description": "Server paging restrictions",
          "type": "boolean"
        },
        "filterFunctionSupport": {
          "description": "List of supported filter capabilities",
          "type": "array",
          "items": {
            "enum": [
              "eq",
              "ne",
              "gt",
              "ge",
              "lt",
              "le",
              "and",
              "or",
              "contains",
              "startswith",
              "endswith",
              "length",
              "indexof",
              "replace",
              "substring",
              "substringof",
              "tolower",
              "toupper",
              "trim",
              "concat",
              "year",
              "month",
              "day",
              "hour",
              "minute",
              "second",
              "date",
              "time",
              "now",
              "totaloffsetminutes",
              "totalseconds",
              "floor",
              "ceiling",
              "round",
              "not",
              "negate",
              "add",
              "sub",
              "mul",
              "div",
              "mod",
              "sum",
              "min",
              "max",
              "average",
              "countdistinct",
              "null"
            ],
            "type": "string"
          }
        },
        "serverPagingOptions": {
          "description": "List of supported server-driven paging capabilities",
          "type": "array",
          "items": {
            "enum": [
              "top",
              "skiptoken"
            ],
            "type": "string"
          }
        }
      }
    },
    "TableSortRestrictionsMetadata": {
      "description": "Metadata for a table (sort restrictions)",
      "type": "object",
      "properties": {
        "sortable": {
          "description": "Indicates whether this table has sortable columns",
          "type": "boolean"
        },
        "unsortableProperties": {
          "description": "List of unsortable properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ascendingOnlyProperties": {
          "description": "List of properties which support ascending order only",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableFilterRestrictionsMetadata": {
      "description": "Metadata for a table (filter restrictions)",
      "type": "object",
      "properties": {
        "filterable": {
          "description": "Indicates whether this table has filterable columns",
          "type": "boolean"
        },
        "nonFilterableProperties": {
          "description": "List of non filterable properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredProperties": {
          "description": "List of required properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableSelectRestrictionsMetadata": {
      "description": "Metadata for a table (select restrictions)",
      "type": "object",
      "properties": {
        "selectable": {
          "description": "Indicates whether this table has selectable columns",
          "type": "boolean"
        }
      }
    },
    "TablesList": {
      "description": "Represents a list of tables.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Tables",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          }
        }
      }
    },
    "Table": {
      "description": "Represents a table.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the table. The name is used at runtime.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the table.",
          "type": "string"
        },
        "DynamicProperties": {
          "description": "Additional table properties provided by the connector to the clients.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "Item": {
      "description": "Table item entity",
      "type": "object",
[...]
