{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Dynamics 365 Commerce Merchandising",
    "description": "The connector exposes actions to search and browse product related information like catalogs, inventory, price and recommendations. The connector connects to the Commerce Cloud Scale Unit (CSU) as a wrapper to provide the headless commerce APIs in simplified and easy way so businesses can easily consume and build Commerce applications.",
    "contact": {
      "name": "Microsoft",
      "url": "https://support.microsoft.com/",
      "email": "abapi@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/commercemerchandising",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/Commerce/GetCatalogs": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Catalogs",
        "description": "Get Catalogs.",
        "operationId": "GetCatalogs",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "The GetCatalogsInput object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCatalogsInput"
            },
            "x-ms-summary": "GetCatalogsInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Catalog"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-catalogs"
        }
      }
    },
    "/{connectionId}/Commerce/GetImageLocations": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get image locations of Product",
        "description": "Get image locations of a Product.",
        "operationId": "GetImageLocations",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "GetImageLocationsInput object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetImageLocationsInput"
            },
            "x-ms-summary": "GetImageLocationsInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-image-locations-of-product"
        }
      }
    },
    "/{connectionId}/Commerce/GetCategories": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Categories",
        "description": "Get Categories.",
        "operationId": "GetCategories",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "The GetCategoriesInput object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCategoriesInput"
            },
            "x-ms-summary": "GetCategoriesInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Category"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-categories"
        }
      }
    },
    "/{connectionId}/Commerce/GetEnvironmentConfiguration": {
      "get": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Environment Configuration",
        "description": "Get the Environment Configuration.",
        "operationId": "GetEnvironmentConfiguration",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentConfiguration"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-environment-configuration"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/Commerce/GetChannels": {
      "get": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Channels",
        "description": "Get Channels.",
        "operationId": "GetChannels",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Channel"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-channels"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/HealthCheck": {
      "get": {
        "tags": [
          "Commerce"
        ],
        "summary": "Health Check",
        "description": "Health Check of the Retail Server.",
        "operationId": "HealthCheck",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/HealthCheckResult"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#health-check"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/Commerce/GetAttributes": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Product Attributes",
        "description": "Get Attributes of a Product.",
        "operationId": "GetAttributes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "GetAttributesInput object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAttributesInput"
            },
            "x-ms-summary": "GetAttributesInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attribute"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-product-attributes"
        }
      }
    },
    "/{connectionId}/Commerce/GetProductInventory": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Product Inventory",
        "description": "Get Product Inventory in stores.",
        "operationId": "GetProductInventory",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "Product Inventory Search object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetProductInventoryInput"
            },
            "x-ms-summary": "GetProductInventoryInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductInventory"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-product-inventory"
        }
      }
    },
    "/{connectionId}/Commerce/GetRecommendedProducts": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get recommended Products",
        "description": "A collection of Product recommendations given a collection of product identifiers.",
        "operationId": "GetRecommendedProducts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "A collection of parameters to get the recommended Products.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetRecommendedProductsInput"
            },
            "x-ms-summary": "GetRecommendedProducts object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-recommended-products"
        }
      }
    },
    "/{connectionId}/Commerce/GetDimensionValues": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Dimension values",
        "description": "The Dimension values with inventory availabilities for a Product based on the specified requirements.",
        "operationId": "GetDimensionValues",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "Get Product Dimension values object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDimensionValuesInput"
            },
            "x-ms-summary": "GetDimensionValuesInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Dimension"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-dimension-values"
        }
      }
    },
    "/{connectionId}/Commerce/GetProductsByIds": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Products by IDs",
        "description": "Product search By IDs.",
        "operationId": "GetProductsByIds",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "Product Search object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetProductsByIdsInput"
            },
            "x-ms-summary": "GetProductsByIdsInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-products-by-ids"
        }
      }
    },
    "/{connectionId}/Commerce/GetVariant": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get Product variant",
        "description": "Product variant search by dimensions.",
        "operationId": "GetVariant",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "Product variant search object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetVariantInput"
            },
            "x-ms-summary": "GetVariantInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#get-product-variant"
        }
      }
    },
    "/{connectionId}/Commerce/SearchProducts": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Search Products",
        "description": "Product Search by keyword and category.",
        "operationId": "SearchProducts",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "input",
            "in": "body",
            "description": "Product Search object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchProductsInput"
            },
            "x-ms-summary": "SearchProductsInput object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Product"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commercemerchandising/#search-products"
        }
      }
    }
  },
  "definitions": {
    "GetCatalogsInput": {
      "description": "The GetCatalogs endpoint input",
      "required": [
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Catalog": {
      "description": "Represents Catalog instance",
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "description": "The ID.",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "Name": {
          "description": "The name.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Description": {
          "description": "The description.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "ImageUrl": {
          "description": "The image URL.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "ExpiryDate": {
          "format": "date-time",
          "description": "The expire date.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetImageLocationsInput": {
      "description": "The GetImageLocations endpoint input",
      "required": [
        "ProductId",
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "ProductId": {
          "format": "int64",
          "description": "Product ID.",
          "type": "integer",
          "x-ms-summary": "Product ID",
          "x-ms-visibility": "important"
        },
        "CatalogId": {
          "format": "int64",
          "description": "Catalog ID for the channel. Default will be Zero.",
          "type": "integer",
          "x-ms-summary": "Catalog ID",
          "x-ms-visibility": "advanced"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetCategoriesInput": {
      "description": "The GetCategories endpoint input",
      "required": [
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "CatalogId": {
          "format": "int64",
          "description": "Catalog ID for the channel. Default will be Zero.",
          "type": "integer",
          "x-ms-summary": "Catalog ID",
          "x-ms-visibility": "advanced"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Category": {
      "description": "Represents Category instance",
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "description": "The ID.",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "Name": {
          "description": "The name.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "ImageUrl": {
          "description": "The image URL.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "ParentId": {
          "format": "int64",
          "description": "The parent Category ID.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EnvironmentConfiguration": {
      "description": "EnvironmentConfiguration entity class.",
      "type": "object",
      "properties": {
        "EnvironmentId": {
          "description": "Gets or sets the EnvironmentId.",
          "type": "string"
        },
        "EnvironmentName": {
          "description": "Gets or sets the EnvironmentName.",
          "type": "string"
        },
        "TenantId": {
          "description": "Gets or sets the TenantId.",
          "type": "string"
        },
        "ClientAppInsightsInstrumentationKey": {
          "description": "Gets or sets the ClientAppInsightsInstrumentationKey.",
          "type": "string"
        },
        "HardwareStationAppInsightsInstrumentationKey": {
          "description": "Gets or sets the HardwareStationAppInsightsInstrumentationKey.",
          "type": "string"
        },
        "WindowsPhonePosAppInsightsInstrumentationKey": {
          "description": "Gets or sets the WindowsPhonePosAppInsightsInstrumentationKey.",
          "type": "string"
        },
        "BaseVersion": {
          "description": "Gets or sets the BaseVersion.",
          "type": "string"
        },
        "ScaleUnit": {
          "$ref": "#/definitions/ScaleUnitConfiguration"
        },
        "AADAuthority": {
          "description": "Gets or sets the AADAuthority.",
          "type": "string"
        },
        "FrameworkName": {
          "description": "Gets or sets the FrameworkName.",
          "type": "string"
        }
      }
    },
    "ScaleUnitConfiguration": {
      "description": "ScaleUnitConfiguration entity class.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Gets or sets the Id.",
          "type": "string"
        },
        "Name": {
          "description": "Gets or sets the Name.",
          "type": "string"
        },
        "Region": {
          "description": "Gets or sets the Region.",
          "type": "string"
        }
      }
    },
    "Channel": {
      "description": "Represents Channel instance",
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "description": "The ID.",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "Name": {
          "description": "The name.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "OperatingUnitNumber": {
          "description": "The Operating Unit Number.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "DisplayName": {
          "description": "The display name.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "HealthCheckResult": {
      "description": "The HealthCheck result",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of check.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Result": {
          "description": "The result.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "GetAttributesInput": {
      "description": "The GetAttributes endpoint input",
      "required": [
        "ProductId",
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "ProductId": {
          "format": "int64",
          "description": "Product ID.",
          "type": "integer",
          "x-ms-summary": "Product ID",
          "x-ms-visibility": "important"
        },
        "CatalogId": {
          "format": "int64",
          "description": "Catalog ID for the channel. Default will be Zero.",
          "type": "integer",
          "x-ms-summary": "Catalog ID",
          "x-ms-visibility": "advanced"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Attribute": {
      "description": "Represents Attribute instance",
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "description": "The ID.",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "Name": {
          "description": "The name.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Value": {
          "description": "The value.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "GetProductInventoryInput": {
      "description": "The GetProductInventory endpoint input",
      "required": [
        "ProductIds",
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "ProductIds": {
          "description": "Product IDs.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          },
          "x-ms-summary": "Product IDs",
          "x-ms-visibility": "important"
        },
        "Longitude": {
          "format": "double",
          "description": "Longitude. A value must be between -15069 and 15069 degrees, inclusive.",
          "type": "number",
          "x-ms-summary": "Longitude",
          "x-ms-visibility": "advanced"
        },
        "Latitude": {
          "format": "double",
          "description": "Latitude. A value must be between -90 and 90 degrees, inclusive.",
          "type": "number",
          "x-ms-summary": "Latitude",
          "x-ms-visibility": "advanced"
        },
        "Radius": {
          "format": "double",
          "description": "Radius. A value must be non-negative.",
          "type": "number",
          "x-ms-summary": "Radius",
          "x-ms-visibility": "advanced"
        },
        "RadiusUnitOfMeasure": {
          "description": "Radius metrics like Miles or Kilometers. Default will be based on channel configuration.",
          "type": "string",
          "x-ms-summary": "Radius unit of measure",
          "x-ms-visibility": "advanced"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProductInventory": {
      "description": "Represents Product Inventory instance",
      "type": "object",
      "properties": {
        "ProductId": {
          "format": "int64",
          "description": "Product ID.",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "TotalAvailableQuantity": {
          "format": "double",
          "description": "The total available quantity.",
          "type": "number",
          "x-ms-visibility": "important"
        },
        "OrgUnitNumber": {
          "description": "The location ID.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "OrgUnitName": {
          "description": "The location name.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Address": {
          "description": "The address.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "FormattedStoreHours": {
          "description": "The formatted store hours.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Distance": {
          "format": "double",
          "description": "The distance.",
          "type": "number",
          "x-ms-visibility": "important"
        }
      }
    },
    "GetRecommendedProductsInput": {
      "description": "The GetRecommendedProducts endpoint input",
      "required": [
        "ProductIds",
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "CustomerId": {
          "description": "Customer account number.",
          "type": "string",
          "x-ms-summary": "Customer ID",
          "x-ms-visibility": "advanced"
        },
        "ProductIds": {
          "description": "Product identifiers used to retrieve the product recommendations.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          },
          "x-ms-summary": "Product IDs",
          "x-ms-visibility": "important"
        },
        "ActiveDate": {
          "format": "date-time",
          "description": "Date that the price is needed for.",
          "type": "string",
          "x-ms-summary": "Active date",
          "x-ms-visibility": "important"
        },
        "CatalogId": {
          "format": "int64",
          "description": "Catalog ID for the channel. Default will be Zero.",
          "type": "integer",
          "x-ms-summary": "Catalog ID",
          "x-ms-visibility": "advanced"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Product": {
      "description": "Represents Product instance",
      "type": "object",
      "properties": {
        "Id": {
          "format": "int64",
          "description": "The record ID.",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "ItemId": {
          "description": "The item ID.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "Name": {
          "description": "The name of the product.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Description": {
          "description": "The description of the product.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "PrimaryImageUrl": {
          "description": "The primary image URL.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "UnitOfMeasure": {
          "description": "The default unit of measure configured for the product.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "Price": {
          "format": "double",
          "description": "The price.",
          "type": "number",
          "x-ms-visibility": "important"
        },
        "StrikePrice": {
          "format": "double",
          "description": "The strike out price.",
          "type": "number",
          "x-ms-visibility": "advanced"
        },
        "MinMaxPrice": {
          "description": "The price range for the product.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "CurrencyCode": {
          "description": "The currency code.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "FormattedPrice": {
          "description": "The formatted price.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "Discount": {
          "format": "double",
          "description": "The product discount.",
          "type": "number",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetDimensionValuesInput": {
      "description": "The GetDimensionValues endpoint input",
      "required": [
        "ProductId",
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "ProductId": {
          "format": "int64",
          "description": "Identifier of the product whose dimension values are to be retrieved.",
          "type": "integer",
          "x-ms-summary": "Product ID",
          "x-ms-visibility": "important"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Dimension": {
      "description": "Represents Dimension instance",
      "type": "object",
      "properties": {
        "TypeId": {
          "format": "int32",
          "description": "The type ID.",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "TypeName": {
          "description": "The type name.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Values": {
          "description": "The collection of Dimension values.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DimensionValue"
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "DimensionValue": {
      "description": "Represents DimensionValue instance",
      "type": "object",
      "properties": {
        "DimensionId": {
          "description": "The ID.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Value": {
          "description": "The value.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "Description": {
          "description": "The description.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "ProductIds": {
          "description": "The collection of Product IDs.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "GetProductsByIdsInput": {
      "description": "The GetProductsByIds endpoint input",
      "required": [
        "ProductIds",
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "ProductIds": {
          "description": "Product IDs.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "integer"
          },
          "x-ms-summary": "Product IDs",
          "x-ms-visibility": "important"
        },
        "SkipVariantExpansion": {
          "description": "Returns variants in the search result if set to false, true will return only the master product.",
          "type": "boolean",
          "x-ms-summary": "Skip variant expansion",
          "x-ms-visibility": "advanced"
        },
        "ActiveDate": {
          "format": "date-time",
          "description": "Date that the price is needed for.",
          "type": "string",
          "x-ms-summary": "Active date",
          "x-ms-visibility": "important"
        },
        "CatalogId": {
          "format": "int64",
          "description": "Catalog ID for the channel. Default will be Zero.",
          "type": "integer",
          "x-ms-summary": "Catalog ID",
          "x-ms-visibility": "advanced"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetVariantInput": {
      "description": "The GetVariant endpoint input",
      "required": [
        "ProductId",
        "Dimensions",
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "ProductId": {
          "format": "int64",
          "description": "Identifier of the master product.",
          "type": "integer",
          "x-ms-summary": "Product ID",
          "x-ms-visibility": "important"
        },
        "ActiveDate": {
          "format": "date-time",
          "description": "Date that the price is needed for.",
          "type": "string",
          "x-ms-summary": "Active date",
          "x-ms-visibility": "important"
        },
        "Dimensions": {
          "description": "Dimensions to find exact variant.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DimensionInput"
          },
          "x-ms-summary": "Dimensions",
          "x-ms-visibility": "important"
        },
        "CatalogId": {
          "format": "int64",
          "description": "Catalog ID for the channel. Default will be Zero.",
          "type": "integer",
          "x-ms-summary": "Catalog ID",
          "x-ms-visibility": "advanced"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DimensionInput": {
      "description": "The GetVariant endpoint input",
      "required": [
        "TypeId",
        "Value"
      ],
      "type": "object",
      "properties": {
        "TypeId": {
          "format": "int32",
          "description": "Type identifier.",
          "type": "integer",
          "x-ms-summary": "Type ID",
          "x-ms-visibility": "important"
        },
        "Value": {
          "description": "Dimension Value.",
          "type": "string",
          "x-ms-summary": "Value",
          "x-ms-visibility": "important"
        }
      }
    },
    "SearchProductsInput": {
      "description": "The SearchProducts endpoint input",
      "required": [
        "ChannelId"
      ],
      "type": "object",
      "properties": {
        "Keyword": {
          "description": "Product search text.",
          "type": "string",
          "x-ms-summary": "Keyword",
          "x-ms-visibility": "important"
        },
        "SkipVariantExpansion": {
          "description": "Returns variants in the search result if set to false, true will return only the master product.",
          "type": "boolean",
          "x-ms-summary": "Skip variant expansion",
          "x-ms-visibility": "advanced"
        },
        "CategoryId": {
          "format": "int64",
          "description": "Category ID.",
          "type": "integer",
          "x-ms-summary": "Category ID",
          "x-ms-visibility": "important"
        },
        "ActiveDate": {
          "format": "date-time",
          "description": "Date that the price is needed for.",
          "type": "string",
          "x-ms-summary": "Active date",
          "x-ms-visibility": "important"
        },
        "CatalogId": {
          "format": "int64",
          "description": "Catalog ID for the channel. Default will be Zero.",
          "type": "integer",
          "x-ms-summary": "Catalog ID",
          "x-ms-visibility": "advanced"
        },
        "ChannelId": {
          "format": "int64",
          "description": "Channel ID.",
          "type": "integer",
          "x-ms-summary": "Channel",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetChannels",
            "parameters": {},
            "value-path": "Id",
            "value-title": "DisplayName"
          }
        },
        "LanguageId": {
          "description": "Language ID. By default it will be the channel language.",
          "type": "string",
          "x-ms-summary": "Language ID",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dynamics.microsoft.com/en-us/commerce/overview/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Supplemental terms",
      "propertyValue": "https://go.microsoft.com/fwlink/?linkid=2105274"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce;Finance"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/commercemerchandising"
  }
}
