{
  "swagger": "2.0",
  "info": {
    "title": "Autodesk Data Exchange",
    "description": "Unleash your productivity and streamline collaboration by connecting design and make data between Revit and the tools of your choice.",
    "version": "5.0",
    "contact": {
      "name": "Autodesk Data Exchange Team",
      "url": "https://aps.autodesk.com/contact-support",
      "email": "data.exchange.support@autodesk.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/autodeskforgedataexc",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://aps.autodesk.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.autodesk.com/company/legal-notices-trademarks/privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Collaboration"
    }
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/project/v1/hubs": {
      "get": {
        "operationId": "GetHubs",
        "summary": "Get root folders",
        "description": "Get root folders",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderContents"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-root-folders"
        }
      }
    },
    "/{connectionId}/fakeGraphQL/units": {
      "get": {
        "operationId": "GetUnitsForType",
        "summary": "Get Units",
        "description": "Get Units",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "selectedUnitType",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UnitsResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-units"
        }
      }
    },
    "/{connectionId}/project/v1/hubs/{hubId}/projects": {
      "get": {
        "operationId": "GetProjectByHubId",
        "summary": "Get Projects by Hub ID",
        "description": "Get Projects by Hub ID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderContents"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-projects-by-hub-id"
        }
      }
    },
    "/{connectionId}/project/v1/hubs/{hubId}/projects/{projectId}/topFolders": {
      "get": {
        "operationId": "GetTopFolderByProjectId",
        "summary": "Get Top Folder by Project ID",
        "description": "Get Top Folder by Project ID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hubId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderContents"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-top-folder-by-project-id"
        }
      }
    },
    "/{connectionId}/exchange/v1/collections/assets:get-closure": {
      "get": {
        "operationId": "GetAssetInfo",
        "summary": "Get details of a Data Exchange property (deprecated)",
        "description": "This operation gets details of a property associated with a Data Exchange (deprecated).",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GetAssetInfo",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "assetid",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Property identifier",
            "description": "Property identifier for a property within the selected Data Exchange",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetParametersResponse"
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-details-of-a-data-exchange-property-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/exchange/v2/collections/assets:get-closure": {
      "get": {
        "operationId": "GetAssetInfoV2",
        "summary": "Get details of a Data Exchange property",
        "description": "This operation gets details of a property associated with a Data Exchange.",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GetAssetInfo",
          "revision": 2
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "assetid",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Property identifier",
            "description": "Property identifier for a property within the selected Data Exchange",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AssetParametersResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-details-of-a-data-exchange-property"
        }
      }
    },
    "/{connectionId}/connector/basefolder/test": {
      "get": {
        "operationId": "GetRootFolderContents",
        "summary": "Get root folders",
        "description": "Get root folders",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-root-folders"
        }
      }
    },
    "/{connectionId}/connector/folder/test": {
      "get": {
        "operationId": "GetSubFolderContents",
        "summary": "Get inner folders",
        "description": "Get inner folders",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-inner-folders"
        }
      }
    },
    "/{connectionId}/connector/hubs": {
      "get": {
        "operationId": "ListRootFolders",
        "summary": "Get root folders",
        "description": "Get root folders",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-root-folders"
        }
      }
    },
    "/{connectionId}/connector/folder": {
      "get": {
        "operationId": "ListFolderContents",
        "tags": [
          "file",
          "folder"
        ],
        "summary": "Get folder contents",
        "description": "Get folder contents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "$ref": "#/parameters/FolderTypeFromPath"
          },
          {
            "name": "returnType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FolderMetadata"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-folder-contents"
        }
      }
    },
    "/{connectionId}/exchange/v1/exchanges": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ExchangeData"
            }
          }
        },
        "summary": "Get details about a Data Exchange",
        "description": "This operation gets details about a Data Exchange such as its Autodesk Docs project name, author of the file, and the last modified time, etc.",
        "tags": [
          "file",
          "folder"
        ],
        "operationId": "GetExchanges",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FilePickerMultipleReturn"
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-details-about-a-data-exchange"
        }
      }
    },
    "/{connectionId}/fake/assets:sync": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ParametersResponse"
            }
          }
        },
        "summary": "Get properties of a Data Exchange (deprecated)",
        "description": "This operation gets the properties of a Data Exchange. You can specify to get all the properties or only the latest properties (deprecated).",
        "operationId": "GetAllPropertiesCodeBehind",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GetAllPropertiesCodeBehind",
          "revision": 1
        },
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "getlatest",
            "in": "query",
            "required": true,
            "x-ms-summary": "Get all or latest properties",
            "description": "Get all or latest properties for the selected Data Exchange",
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "latest"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "All Properties",
                "value": "all"
              },
              {
                "displayName": "Latest Properties",
                "value": "latest"
              }
            ]
          },
          {
            "name": "cursor",
            "x-ms-summary": "Next page of properties",
            "description": "A pagination token for the next page of properties",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-properties-of-a-data-exchange-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/exchange/v1/exchanges/assets:sync": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ParametersResponse"
            }
          }
        },
        "summary": "Get All Properties (Supports Pagination)",
        "description": "Get All Properties for a given Exchange",
        "operationId": "GetAllProperties",
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "getlatest",
            "in": "query",
            "required": true,
            "x-ms-summary": "Get all/latest properties",
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "latest"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "All Properties",
                "value": "all"
              },
              {
                "displayName": "Latest Properties",
                "value": "latest"
              }
            ]
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "x-ms-summary": "Next page of properties",
            "description": "A pagination token for the next page of properties",
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-all-properties-(supports-pagination)"
        }
      }
    },
    "/{connectionId}/connector/webhook": {
      "x-ms-notification-content": {
        "description": "VersionAdded",
        "schema": {
          "$ref": "#/definitions/VersionAdded"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "ok"
          }
        },
        "summary": "When a Data Exchange is updated",
        "description": "This operation triggers a flow when a Data Exchange is updated.",
        "operationId": "RegisterWebhookExchangeModified",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/HubsDropDown"
          },
          {
            "$ref": "#/parameters/ProjectsDropDown"
          },
          {
            "$ref": "#/parameters/TopFoldersDropDown"
          },
          {
            "$ref": "#/parameters/FilePickerUpdateWebhook"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#when-a-data-exchange-is-updated"
        }
      }
    },
    "/{connectionId}/connector/webhookModified": {
      "x-ms-notification-content": {
        "description": "Exchange Added",
        "schema": {
          "$ref": "#/definitions/ExchangeAdded"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "ok"
          }
        },
        "summary": "When a Data Exchange is created",
        "description": "This operation triggers a flow when a Data Exchange is created.",
        "operationId": "RegisterWebhookExchangeAdded",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/HubsDropDown"
          },
          {
            "$ref": "#/parameters/ProjectsDropDown"
          },
          {
            "$ref": "#/parameters/TopFoldersDropDown"
          },
          {
            "$ref": "#/parameters/FolderPicker"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#when-a-data-exchange-is-created"
        }
      }
    },
    "/{connectionId}/webhooks/v1/systems/data/events/dm.version.added/hooks/{webhookID}": {
      "delete": {
        "description": "Delete  webhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Webhook ID",
            "in": "path",
            "name": "webhookID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": " Webhook Deleted",
            "schema": {
              "$ref": "#/definitions/WebhookDeleteResponse"
            }
          }
        },
        "summary": "Delete webhook",
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#delete-webhook"
        }
      }
    },
    "/{connectionId}/newsyncapi": {
      "get": {
        "summary": "Get All Parameter Schema",
        "description": "Get Parameter Schema for all Properties",
        "operationId": "GetParameterSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-all-parameter-schema"
        }
      }
    },
    "/{connectionId}/paramassetsyncapi": {
      "get": {
        "summary": "Get Property Parameter Schema",
        "description": "Get Parameter Schema for selected Property",
        "operationId": "GetAssetParameterSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "exchangefileurn",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "assetid",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-property-parameter-schema"
        }
      }
    },
    "/{connectionId}/fakePADownload/assets:sync": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ParametersResponseWithoutPeriod"
            }
          }
        },
        "summary": "Get properties of objects",
        "description": "This operation gets the properties of objects of a Data Exchange. You can specify to get all the properties or only the latest properties.",
        "operationId": "GetAllPropertiesCodeBehindWithoutPeriod",
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "family": "GetAllPropertiesCodeBehind",
          "revision": 2
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "getlatest",
            "in": "query",
            "required": true,
            "x-ms-summary": "Get all or latest properties",
            "description": "Get all or latest properties for the selected Data Exchange",
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "latest"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "All Properties",
                "value": "all"
              },
              {
                "displayName": "Latest Properties",
                "value": "latest"
              }
            ]
          },
          {
            "name": "cursor",
            "x-ms-summary": "Next page of properties",
            "description": "A pagination token for the next page of properties",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-properties-of-objects"
        }
      }
    },
    "/{connectionId}/fakeGraphQL/GetFilteredParameters": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/GraphQLParametersResponse"
            }
          }
        },
        "summary": "Get properties of objects by filter",
        "description": "This operation gets the properties of objects of a Data Exchange filtered by selection.",
        "operationId": "GetFilteredPropertiesCodeBehind",
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FilePickerSingleReturn"
          },
          {
            "name": "getlatest",
            "in": "query",
            "required": true,
            "x-ms-summary": "Get all or latest properties",
            "description": "Get all or latest properties for the selected Data Exchange",
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "latest"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "All Properties",
                "value": "all"
              },
              {
                "displayName": "Latest Properties",
                "value": "latest"
              }
            ]
          },
          {
            "name": "filterBy",
            "in": "query",
            "required": true,
            "x-ms-summary": "Filter By",
            "description": "Filter by Category, Family or Type",
            "type": "string",
            "default": "category",
            "enum": [
              "category",
              "family",
              "type"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Category",
                "value": "category"
              },
              {
                "displayName": "Family",
                "value": "family"
              },
              {
                "displayName": "Type",
                "value": "type"
              }
            ]
          },
          {
            "name": "filterValue",
            "x-ms-summary": "Filter Value",
            "description": "Enter a value",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "selectedUnitType",
            "in": "query",
            "required": false,
            "x-ms-summary": "Unit Type",
            "description": "Unit Type for Length, Area and Volume properties",
            "x-ms-visibility": "important",
            "type": "string",
            "default": "imperial",
            "enum": [
              "imperial",
              "metric"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Imperial",
                "value": "imperial"
              },
              {
                "displayName": "Metric",
                "value": "metric"
              }
            ]
          },
          {
            "$ref": "#/parameters/UnitsDropDown"
          },
          {
            "name": "cursor",
            "x-ms-summary": "Next page of properties",
            "description": "A pagination token for the next page of properties",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-properties-of-objects-by-filter"
        }
      }
    },
    "/{connectionId}/parametersWithoutPeriod": {
      "get": {
        "summary": "Get All Parameter Schema (Beta)",
        "description": "Get Parameter Schema for all Properties",
        "operationId": "GetParameterSchemaWithoutPeriod",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-all-parameter-schema-(beta)"
        }
      }
    },
    "/{connectionId}/graphQLDynamicParameters": {
      "get": {
        "summary": "Get Filtered Parameter Schema (Beta)",
        "description": "Get Parameter Schema for filtered Properties",
        "operationId": "GetGraphQLParameterSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fileId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc/#get-filtered-parameter-schema-(beta)"
        }
      }
    }
  },
  "definitions": {
    "ParametersResponse": {
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of all properties",
          "type": "array",
          "title": "Property List",
          "items": {
            "x-ms-dynamic-schema": {
              "operationId": "GetParameterSchema",
              "parameters": {
                "fileId": {
                  "parameter": "fileId"
                }
              }
            }
          }
        },
        "cursor": {
          "description": "A pagination token for the next page of properties",
          "type": "string",
          "title": "Next page of properties",
          "x-ms-visibility": "important"
        },
        "nextLink": {
          "type": "string",
          "x-ms-visibility": "internal"
        }
      }
    },
    "ParametersResponseWithoutPeriod": {
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of all properties",
          "type": "array",
          "title": "Property List",
          "items": {
            "x-ms-dynamic-schema": {
              "operationId": "GetParameterSchemaWithoutPeriod",
              "parameters": {
                "fileId": {
                  "parameter": "fileId"
                }
              }
            }
          }
        },
        "cursor": {
          "description": "A pagination token for the next page of properties",
          "type": "string",
          "title": "Next page of properties",
          "x-ms-visibility": "important"
        },
        "nextLink": {
          "type": "string",
          "x-ms-visibility": "internal"
        }
      }
    },
    "GraphQLParametersResponse": {
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of filtered properties",
          "type": "array",
          "title": "Property List",
          "items": {
            "x-ms-dynamic-schema": {
              "operationId": "GetGraphQLParameterSchema",
              "parameters": {
                "fileId": {
                  "parameter": "fileId"
                }
              }
            }
          }
        },
        "cursor": {
          "description": "A pagination token for the next page of properties",
          "type": "string",
          "title": "Next page of properties",
          "x-ms-visibility": "important"
        },
        "nextLink": {
          "type": "string",
          "x-ms-visibility": "internal"
        }
      }
    },
    "AssetParametersResponse": {
      "x-ms-dynamic-schema": {
        "operationId": "GetParameterSchema",
        "parameters": {
          "fileId": {
            "parameter": "fileId"
          }
        }
      }
    },
    "FolderContents": {
      "description": "Folder Contents",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "attributes": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "UnitsResponse": {
      "description": "Parameter Details",
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "FolderMetadata": {
      "description": "Folder data",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "Type of folder",
                "type": "string"
              },
              "isFolder": {
                "description": "A boolean value (true, false) to indicate whether or not the blob is a folder.",
                "type": "boolean"
              },
              "id": {
                "type": "string",
                "description": "Folder ID",
                "title": "Folder ID"
              },
              "displayName": {
                "type": "string",
                "description": "Folder Name",
                "title": "Folder Name"
              }
            }
          },
          "description": "folders"
        }
      }
    },
    "ExchangeData": {
      "description": "Exchange data",
      "type": "object",
      "properties": {
        "hubName": {
          "type": "string",
          "description": "Hub name in Autodesk Docs",
          "title": "Hub Name",
          "x-ms-visibility": "important"
        },
        "projectName": {
          "type": "string",
          "description": "Project name in Autodesk Docs",
          "title": "Project Name",
          "x-ms-visibility": "important"
        },
        "folderName": {
          "type": "string",
          "description": "Folder name in Autodesk Docs",
          "title": "Folder Name",
          "x-ms-visibility": "important"
        },
        "collectionId": {
          "description": "Collection Id",
          "type": "string",
          "title": "Collection Id",
          "x-ms-visibility": "important"
        },
        "id": {
          "type": "string",
          "description": "Id",
          "title": "Id",
          "x-ms-visibility": "important"
        },
        "version": {
          "type": "string",
          "description": "Exchange Version",
          "title": "Version",
          "x-ms-visibility": "important"
        },
        "sourceVersionUrn": {
          "type": "string",
          "description": "Source version URN",
          "title": "Source version URN",
          "x-ms-visibility": "important"
        },
        "hostingProviderName": {
          "type": "string",
          "description": "Hosting provider name",
          "title": "Hosting provider name",
          "x-ms-visibility": "important"
        },
        "exchangeFileProjectUrn": {
          "type": "string",
          "description": "Exchange project URN",
          "title": "Exchange project URN",
          "x-ms-visibility": "important"
        },
        "baseSourceVersionUrn": {
          "type": "string",
          "description": "Base source version URN",
          "title": "Base source version URN",
          "x-ms-visibility": "important"
        },
        "exchangeFileFolderUrn": {
          "type": "string",
          "description": "Exchange folder URN",
          "title": "Exchange folder URN",
          "x-ms-visibility": "important"
        },
        "exchangeFileName": {
          "type": "string",
          "description": "Name of the Data Exchange",
          "title": "Data Exchange file name",
          "x-ms-visibility": "important"
        },
        "exchangeFileUrn": {
          "type": "string",
          "description": "Exchange URN",
          "title": "Exchange URN",
          "x-ms-visibility": "important"
        },
        "exchangeFileVersionUrn": {
          "type": "string",
          "description": "Exchange version URN",
          "title": "Exchange version URN",
          "x-ms-visibility": "important"
        },
        "createdBy": {
          "type": "string",
          "description": "Created by",
          "title": "Created by",
          "x-ms-visibility": "important"
        },
        "created": {
          "type": "string",
          "description": "Created",
          "title": "Created",
          "x-ms-visibility": "important"
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Last modified by",
          "title": "Last modified by",
          "x-ms-visibility": "important"
        },
        "lastModified": {
          "type": "string",
          "description": "Last modified",
          "title": "Last modified",
          "x-ms-visibility": "important"
        }
      }
    },
    "WebhookDeleteResponse": {
      "properties": {
        "content": {
          "description": "content",
          "type": "string"
        },
        "duration": {
          "description": "duration",
          "type": "string"
        },
        "message": {
          "description": "message",
          "type": "string"
        },
        "responseCode": {
          "description": "responseCode",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ExchangeAdded": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "properties": {
            "modifiedTime": {
              "type": "string",
              "description": "Time modified",
              "title": "Time modified"
            },
            "name": {
              "type": "string",
              "description": "Name of the Data Exchange",
              "title": "Data Exchange file name"
            },
            "lineageUrn": {
              "type": "string",
              "description": "Exchange URN",
              "title": "Exchange URN"
            },
            "context": {
              "type": "object",
              "properties": {
                "lineage": {
                  "type": "object",
                  "x-ms-visibility": "advanced",
                  "properties": {
                    "createUserName": {
                      "type": "string",
                      "description": "Created by",
                      "title": "Created by",
                      "x-ms-visibility": "important"
                    },
                    "lastModifiedUserName": {
                      "type": "string",
                      "description": "Modified By",
                      "title": "Modified By",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "VersionAdded": {
      "type": "object",
      "properties": {
        "hook": {
          "type": "object",
          "properties": {
            "hookAttribute": {
              "type": "object",
              "properties": {
                "fileId": {
                  "type": "string",
                  "description": "Exchange URN",
                  "title": "Exchange URN"
                }
              }
            }
          }
        },
        "payload": {
          "type": "object",
          "properties": {
            "modifiedTime": {
              "type": "string",
              "description": "Last modified",
              "title": "Last modified",
              "x-ms-visibility": "important"
            },
            "hidden": {
              "type": "boolean",
              "description": "Is Data Exchange deleted",
              "title": "Deleted",
              "x-ms-visibility": "advanced",
              "enum": [
                "",
                "true",
                "false"
              ]
            },
            "custom-metadata": {
              "type": "object",
              "properties": {
                "file_name": {
                  "type": "string",
                  "description": "Name of the Data Exchange",
                  "title": "Data Exchange file name",
                  "x-ms-visibility": "important"
                }
              }
            },
            "context": {
              "type": "object",
              "properties": {
                "lineage": {
                  "type": "object",
                  "x-ms-visibility": "advanced",
                  "properties": {
                    "lastModifiedUserName": {
                      "type": "string",
                      "description": "Modified By",
                      "title": "Modified By",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "HubsDropDown": {
      "required": true,
      "x-ms-summary": "Hub",
      "name": "hubId",
      "in": "query",
      "description": "Select the hub (account) for the Data Exchange in Autodesk Docs",
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "GetHubs",
        "value-path": "id",
        "value-title": "attributes/name",
        "value-collection": "data"
      }
    },
    "ProjectsDropDown": {
      "name": "projectId",
      "x-ms-summary": "Project",
      "required": true,
      "in": "query",
      "description": "Select the project for the Data Exchange in Autodesk Docs",
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "GetProjectByHubId",
        "value-path": "id",
        "value-title": "attributes/name",
        "value-collection": "data",
        "parameters": {
          "hubId": {
            "parameter": "hubId"
          }
        }
      }
    },
    "UnitsDropDown": {
      "required": false,
      "x-ms-summary": "Unit",
      "name": "selectedUnit",
      "in": "query",
      "description": "Unit for Length, Area and Volume properties",
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "GetUnitsForType",
        "value-path": "id",
        "value-title": "displayName",
        "value-collection": "data",
        "parameters": {
          "selectedUnitType": {
            "parameter": "selectedUnitType"
          },
          "fileId": {
            "parameter": "fileId"
          }
        }
      }
    },
    "TopFoldersDropDown": {
      "name": "topFolderId",
      "x-ms-summary": "Top Folder",
      "required": true,
      "in": "query",
      "description": "Select the top folder for the Data Exchange in Autodesk Docs",
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "GetTopFolderByProjectId",
        "value-path": "id",
        "value-title": "attributes/name",
        "value-collection": "data",
        "parameters": {
          "hubId": {
            "parameter": "hubId"
          },
          "projectId": {
            "parameter": "projectId"
          }
        }
      }
    },
    "FolderTypeFromPath": {
      "name": "type",
      "in": "query",
      "description": "Specify the folder ",
      "required": true,
      "type": "string",
      "default": "hubs",
      "x-ms-visibility": "internal"
    },
    "FilePickerSingleReturn": {
      "name": "fileId",
      "in": "query",
      "type": "string",
      "description": "Select the Data Exchange in Autodesk Docs",
      "required": true,
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id",
        "value-collection": "value",
        "value-title": "displayName"
      },
      "x-ms-summary": "Data Exchange",
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": false,
          "canSelectLeafNodes": true
        },
        "open": {
          "operationId": "ListRootFolders",
          "itemValuePath": "id",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "itemsPath": "value"
        },
        "browse": {
          "operationId": "ListFolderContents",
          "itemValuePath": "id",
          "itemsPath": "value",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "parameters": {
            "fileId": {
              "selectedItemValuePath": "id"
            },
            "type": {
              "selectedItemValuePath": "type"
            },
            "returnType": {
              "value": "single"
            }
          }
        }
      }
    },
    "FilePickerMultipleReturn": {
      "name": "fileId",
      "in": "query",
      "type": "string",
      "description": "Select the Data Exchange in Autodesk Docs",
      "required": true,
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id",
        "value-collection": "value",
        "value-title": "displayName"
      },
      "x-ms-summary": "Data Exchange",
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": false,
          "canSelectLeafNodes": true
        },
        "open": {
          "operationId": "ListRootFolders",
          "itemValuePath": "id",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "itemsPath": "value"
        },
        "browse": {
          "operationId": "ListFolderContents",
          "itemValuePath": "id",
          "itemsPath": "value",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "parameters": {
            "fileId": {
              "selectedItemValuePath": "id"
            },
            "type": {
              "selectedItemValuePath": "type"
            }
          }
        }
      }
    },
    "FolderPicker": {
      "name": "folderId",
      "in": "query",
      "type": "string",
      "description": "Select Exchange Folder to Monitor",
      "required": true,
      "x-ms-summary": "Exchange Folder",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "projectId": {
            "parameter": "projectId"
          },
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id",
        "value-collection": "value",
        "value-title": "displayName"
      },
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": true,
          "canSelectLeafNodes": false
        },
        "open": {
          "operationId": "GetRootFolderContents",
          "itemValuePath": "id",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "itemsPath": "value",
          "parameters": {
            "folderId": {
              "parameterReference": "topFolderId"
            },
            "projectId": {
              "parameterReference": "projectId"
            }
          }
        },
        "browse": {
          "operationId": "GetSubFolderContents",
          "itemValuePath": "id",
          "itemsPath": "value",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "parameters": {
            "folderId": {
              "selectedItemValuePath": "id"
            },
            "projectId": {
              "parameterReference": "projectId"
            }
          }
        }
      }
    },
    "FilePickerUpdateWebhook": {
      "name": "folderId",
      "in": "query",
      "type": "string",
      "description": "Select the Data Exchange in Autodesk Docs",
      "required": true,
      "x-ms-summary": "Data Exchange",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "capability": "file-picker",
        "parameters": {
          "projectId": {
            "parameter": "projectId"
          },
          "isFolder": true,
          "fileFilter": [],
          "dataset": null
        },
        "value-path": "id",
        "value-collection": "value",
        "value-title": "displayName"
      },
      "x-ms-dynamic-tree": {
        "settings": {
          "canSelectParentNodes": false,
          "canSelectLeafNodes": true
        },
        "open": {
          "operationId": "GetRootFolderContents",
          "itemValuePath": "id",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "itemsPath": "value",
          "parameters": {
            "folderId": {
              "parameterReference": "topFolderId"
            },
            "projectId": {
              "parameterReference": "projectId"
            }
          }
        },
        "browse": {
          "operationId": "GetSubFolderContents",
          "itemValuePath": "id",
          "itemsPath": "value",
          "itemTitlePath": "displayName",
          "itemIsParent": "(isFolder eq true)",
          "itemFullTitlePath": "displayName",
          "parameters": {
            "folderId": {
              "selectedItemValuePath": "id"
            },
            "projectId": {
              "parameterReference": "projectId"
            }
          }
        }
      }
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://developer.api.autodesk.com/authentication/v1/authorize",
      "tokenUrl": "https://developer.api.autodesk.com/authentication/v1/gettoken",
      "scopes": {
        "data:read": "data:read",
        "data:search": "data:search"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "data:read",
        "data:search"
      ]
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/autodeskforgedataexc"
  }
}
