{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Microsoft Defender ATP",
    "description": "Microsoft Defender ATP is a unified platform for preventative protection, post-breach detection, automated investigation, and response. Read more about it here: http://aka.ms/wdatp",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/wdatp",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/advancedqueries/run": {
      "post": {
        "tags": [
          "AdvancedHunting"
        ],
        "summary": "Advanced Hunting",
        "description": "Run a custom query in Windows Defender ATP",
        "operationId": "AdvancedHunting",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Query": {
                  "type": "string",
                  "description": "The query to run",
                  "title": "Query",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "Query"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Stats": {
                  "type": "object",
                  "properties": {
                    "dataset_statistics": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "table_row_count": {
                            "type": "integer",
                            "format": "int32",
                            "title": "Count",
                            "description": "The number of results that were returned from the query",
                            "x-ms-visibility": "important"
                          }
                        }
                      },
                      "description": "dataset_statistics",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "Stats",
                  "x-ms-visibility": "internal"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {},
                    "x-ms-dynamic-schema": {
                      "operationId": "AdvancedHuntingSchema",
                      "parameters": {
                        "Query": {
                          "parameter": "Query"
                        }
                      },
                      "value-path": "properties"
                    },
                    "x-ms-dynamic-properties": {
                      "operationId": "AdvancedHuntingSchema",
                      "parameters": {
                        "body/Query": {
                          "parameterReference": "body/Query"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#advanced-hunting"
        }
      }
    },
    "/{connectionId}/api/advancedqueries/schema": {
      "post": {
        "tags": [
          "AdvancedHunting"
        ],
        "summary": "Advanced Hunting Schema",
        "description": "Gets the schema for a Windows Defender ATP custom query",
        "operationId": "AdvancedHuntingSchema",
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Query": {
                  "type": "string",
                  "description": "The query to run",
                  "title": "Query"
                }
              },
              "required": [
                "Query"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#advanced-hunting-schema"
        }
      }
    },
    "/{connectionId}/api/alerts/createAlertByReference": {
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Alerts - Create alert",
        "description": "Create Alert based on specific Event",
        "operationId": "CreateAlertByReference",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "machineId": {
                  "type": "string",
                  "description": "ID of the machine on which the event was identified",
                  "title": "Machine ID",
                  "x-ms-visibility": "important"
                },
                "reportId": {
                  "type": "string",
                  "format": "int32",
                  "description": "Report Id of the event",
                  "title": "Report ID",
                  "x-ms-visibility": "important"
                },
                "eventTime": {
                  "type": "string",
                  "description": "Time of the event as string, e.g. 2018-08-03T16:45:21.7115183Z",
                  "title": "Event Time",
                  "x-ms-visibility": "important"
                },
                "severity": {
                  "type": "string",
                  "description": "Severity of the alert.",
                  "title": "Severity",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Low",
                    "Medium",
                    "High"
                  ]
                },
                "category": {
                  "type": "string",
                  "description": "Category of the alert",
                  "title": "Category",
                  "x-ms-visibility": "important",
                  "enum": [
                    "General",
                    "CommandAndControl",
                    "Collection",
                    "CredentialAccess",
                    "DefenseEvasion",
                    "Discovery",
                    "Exfiltration",
                    "Exploit",
                    "Execution",
                    "InitialAccess",
                    "LateralMovement",
                    "Malware",
                    "Persistence",
                    "PrivilegeEscalation",
                    "Ransomware",
                    "SuspiciousActivity"
                  ]
                },
                "title": {
                  "type": "string",
                  "description": "Title of the Alert",
                  "title": "Title",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the Alert",
                  "title": "Description",
                  "x-ms-visibility": "important"
                },
                "recommendedAction": {
                  "type": "string",
                  "description": "Recommended action for the Alert",
                  "title": "Recommended Action",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "eventTime",
                "machineId",
                "reportId",
                "severity",
                "category",
                "title",
                "description",
                "recommendedAction"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#alerts---create-alert"
        }
      }
    },
    "/{connectionId}/api/alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Alerts - Get list of alerts",
        "description": "Retrieve from Windows Defender ATP the most recent alerts",
        "operationId": "GetAlerts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "x-ms-summary": "Expands entities",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, using OData syntax.",
            "x-ms-summary": "Filters results",
            "required": false,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response, defaults to all.",
            "x-ms-summary": "Selects properties",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "x-ms-summary": "Sorts results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "x-ms-summary": "Returns first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "x-ms-summary": "Skips first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "x-ms-summary": "Includes count",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Alerts count",
                  "description": "The number of available alerts by this query"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Alert"
                  },
                  "title": "Alerts",
                  "description": "The alerts returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#alerts---get-list-of-alerts"
        }
      }
    },
    "/{connectionId}/api/alerts/{Alert ID}": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Alerts - Get single alert",
        "description": "Retrieve from Windows Defender ATP a specific alert",
        "operationId": "GetSingleAlert",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Alert ID",
            "in": "path",
            "description": "The identifier of the alert to retrieve",
            "x-ms-summary": "ID of the alert",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#alerts---get-single-alert"
        }
      },
      "patch": {
        "tags": [
          "Alerts"
        ],
        "summary": "Alerts - Update alert",
        "description": "Update a Windows Defender ATP alert",
        "operationId": "PatchAlert",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Alert ID",
            "in": "path",
            "description": "The identifier of the alert to update",
            "x-ms-summary": "ID of the alert",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status of the alert. One of 'New', 'InProgress' and 'Resolved'",
                  "title": "Status",
                  "x-ms-visibility": "important",
                  "enum": [
                    "New",
                    "InProgress",
                    "Resolved"
                  ]
                },
                "assignedTo": {
                  "type": "string",
                  "description": "Person to assign the alert to",
                  "title": "Assigned to",
                  "x-ms-visibility": "important"
                },
                "classification": {
                  "type": "string",
                  "description": "Classification of the alert. One of 'Unknown', 'FalsePositive', 'TruePositive'",
                  "title": "Classification",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Unknown",
                    "FalsePositive",
                    "TruePositive"
                  ]
                },
                "determination": {
                  "type": "string",
                  "description": "The determination of the alert. One of 'NotAvailable', 'Apt', 'Malware', 'SecurityPersonnel', 'SecurityTesting', 'UnwantedSoftware', 'Other'",
                  "title": "Determination",
                  "x-ms-visibility": "important",
                  "enum": [
                    "NotAvailable",
                    "Apt",
                    "Malware",
                    "SecurityPersonnel",
                    "SecurityTesting",
                    "UnwantedSoftware",
                    "Other"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#alerts---update-alert"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/initiateInvestigation": {
      "post": {
        "tags": [
          "Investigation"
        ],
        "summary": "Actions - Initiate investigation on a machine (to be deprecated)",
        "description": "Initiate investigation on a machine",
        "operationId": "InitiateInvestigation",
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "Investigation",
          "revision": 1
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to investigate",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the investigation",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "Comment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The ID of the investigation",
                  "title": "Investigation ID",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---initiate-investigation-on-a-machine-(to-be-deprecated)"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/startInvestigation": {
      "post": {
        "tags": [
          "Investigation"
        ],
        "summary": "Actions - Start automated investigation on a machine",
        "description": "Start automated investigation on a machine",
        "operationId": "StartInvestigation",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "Investigation",
          "revision": 2
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to investigate",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the investigation",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "Comment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Investigation"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---start-automated-investigation-on-a-machine"
        }
      }
    },
    "/{connectionId}/api/machineactions/{Machine Action ID}": {
      "get": {
        "tags": [
          "Machine Actions"
        ],
        "summary": "Actions - Get single machine action",
        "description": "Retrieve from Windows Defender ATP a specific machine action",
        "operationId": "GetSingleMachineAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine Action ID",
            "in": "path",
            "description": "The identifier of the machine action to retrieve",
            "x-ms-summary": "ID of the machine action",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---get-single-machine-action"
        }
      }
    },
    "/{connectionId}/api/machineactions/{Machine Action ID}/cancel": {
      "post": {
        "tags": [
          "Machine Actions"
        ],
        "summary": "Actions - Cancel a single machine action",
        "description": "Cancel a specific machine action",
        "operationId": "CancelSingleMachineAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine Action ID",
            "in": "path",
            "description": "The identifier of the machine action to cancel",
            "x-ms-summary": "ID of the machine action",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the machine action cancellation",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "Comment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---cancel-a-single-machine-action"
        }
      }
    },
    "/{connectionId}/api/machineactions/{Machine Action ID}/GetLiveResponseResultDownloadLink(index={Command Index})": {
      "get": {
        "tags": [
          "Machine Actions"
        ],
        "summary": "Actions - Get live response command result download URI",
        "description": "Get result download URI for a completed live response command",
        "operationId": "GetLiveResponseDownloadLink",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine Action ID",
            "in": "path",
            "description": "The identifier of the machine action",
            "x-ms-summary": "ID of the machine action",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "Command Index",
            "in": "path",
            "description": "The index of the live response command to get the results download URI for",
            "x-ms-summary": "Index of the live response command",
            "required": true,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "title": "Download URI",
                  "description": "The live response command download URI"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---get-live-response-command-result-download-uri"
        }
      }
    },
    "/{connectionId}/api/machineactions": {
      "get": {
        "tags": [
          "Machine Actions"
        ],
        "summary": "Actions - Get list of machine actions",
        "description": "Retrieve from Windows Defender ATP the most recent machine actions",
        "operationId": "GetMachineActions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, using OData syntax.",
            "x-ms-summary": "Filters results",
            "required": false,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response, defaults to all.",
            "x-ms-summary": "Selects properties",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "x-ms-summary": "Sorts results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "x-ms-summary": "Returns first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "x-ms-summary": "Skips first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "x-ms-summary": "Includes count",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Machine Actions count",
                  "description": "The number of available machine actions by this query"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MachineAction"
                  },
                  "title": "Machine Actions",
                  "description": "The machine actions returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---get-list-of-machine-actions"
        }
      }
    },
    "/{connectionId}/api/files/{File ID}/stats": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Files - Get the statistics for the given file",
        "description": "Retrieve from Windows Defender ATP statistics for the given file to a given file by identifier Sha1, or Sha256",
        "operationId": "GetFileStats",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "File ID",
            "in": "path",
            "description": "The file identifier - Sha1, or Sha256",
            "x-ms-summary": "The file identifier - Sha1, or Sha256",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "lookBackHours",
            "in": "query",
            "description": "The look back period in hours to look by, the default is 24 hours.",
            "x-ms-summary": "The look back period in hours to look by, the default is 24 hours.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 24
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/FileStats"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#files---get-the-statistics-for-the-given-file"
        }
      }
    },
    "/{connectionId}/api/domains/{Domain Name}/stats": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Domains - Get the statistics for the given domain name",
        "description": "Retrieve from Windows Defender ATP statistics related to a given domain name",
        "operationId": "GetDomainStats",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Domain Name",
            "in": "path",
            "description": "The domain name",
            "x-ms-summary": "The domain name",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "lookBackHours",
            "in": "query",
            "description": "The look back period in hours to look by, the default is 24 hours.",
            "x-ms-summary": "The look back period in hours to look by, the default is 24 hours.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 24
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/DomainStats"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#domains---get-the-statistics-for-the-given-domain-name"
        }
      }
    },
    "/{connectionId}/api/ips/{Ip Address}/stats": {
      "get": {
        "tags": [
          "Ips"
        ],
        "summary": "Ips - Get the statistics for the given ip address",
        "description": "Retrieve from Windows Defender ATP statistics related to a given ip address - given in ipv4 or ipv6 format.",
        "operationId": "GetIpStats",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Ip Address",
            "in": "path",
            "description": "The ip address",
            "x-ms-summary": "The ip address",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "lookBackHours",
            "in": "query",
            "description": "The look back period in hours to look by, the default is 24 hours.",
            "x-ms-summary": "The look back period in hours to look by, the default is 24 hours.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 24
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/IpStats"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#ips---get-the-statistics-for-the-given-ip-address"
        }
      }
    },
    "/{connectionId}/api/investigations/{Investigation ID}": {
      "get": {
        "tags": [
          "Investigations"
        ],
        "summary": "Actions - Get single investigation",
        "description": "Retrieve from Microsoft Defender ATP a specific investigation",
        "operationId": "GetSingleInvestigation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Investigation ID",
            "in": "path",
            "description": "The identifier of the investigation to retrieve",
            "x-ms-summary": "ID of the investigation",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Investigation"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---get-single-investigation"
        }
      }
    },
    "/{connectionId}/api/investigations": {
      "get": {
        "tags": [
          "Investigations"
        ],
        "summary": "Actions - Get list of investigation",
        "description": "Retrieve from Microsoft Defender ATP the most recent investigations",
        "operationId": "GetInvestigations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, using OData syntax.",
            "x-ms-summary": "Filters results",
            "required": false,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response, defaults to all.",
            "x-ms-summary": "Selects properties",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "x-ms-summary": "Sorts results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "x-ms-summary": "Returns first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "x-ms-summary": "Skips first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "x-ms-summary": "Includes count",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Investigations count",
                  "description": "The number of available investigations by this query"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Investigation"
                  },
                  "title": "Investigations",
                  "description": "The investigations returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---get-list-of-investigation"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/collectInvestigationPackage": {
      "post": {
        "tags": [
          "Machine Action"
        ],
        "summary": "Actions - Collect investigation package",
        "description": "Collect investigation package from a machine",
        "operationId": "CollectInvestigationPackage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to collect the investigation from",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the collection",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "Comment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---collect-investigation-package"
        }
      }
    },
    "/{connectionId}/api/machineactions/{Machine action ID}/getPackageUri": {
      "get": {
        "tags": [
          "Machine Action"
        ],
        "summary": "Actions - Get investigation package download URI",
        "description": "Get a URI that allows downloading of an investigation package",
        "operationId": "GetInvestigationPackageUri",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine action ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the investigation package collection",
            "x-ms-summary": "Action ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The investigation package SAS URI",
                  "title": "Package SAS URI",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---get-investigation-package-download-uri"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/isolate": {
      "post": {
        "tags": [
          "Machine Action"
        ],
        "summary": "Actions - Isolate machine",
        "description": "Isolate a machine from network",
        "operationId": "IsolateMachine",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to isolate",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the isolation",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                },
                "IsolationType": {
                  "type": "string",
                  "description": "Type of the isolation. Allowed values are 'Full' (for full isolation) or 'Selective' (to restrict only limited set of applications from accessing the network)",
                  "title": "Isolation Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Full",
                    "Selective"
                  ],
                  "default": "Full"
                }
              },
              "required": [
                "Comment",
                "IsolationType"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---isolate-machine"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/unisolate": {
      "post": {
        "tags": [
          "Machine Action"
        ],
        "summary": "Actions - Unisolate machine",
        "description": "Unisolate a machine from network",
        "operationId": "UnisolateMachine",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to unisolate",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the unisolation",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "Comment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---unisolate-machine"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/restrictCodeExecution": {
      "post": {
        "tags": [
          "Machine Action"
        ],
        "summary": "Actions - Restrict app execution",
        "description": "Restrict execution of all applications on the machine except a predefined set",
        "operationId": "RestrictAppExecution",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to restrict",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the restriction",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "Comment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---restrict-app-execution"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/unrestrictCodeExecution": {
      "post": {
        "tags": [
          "Machine Action"
        ],
        "summary": "Actions - Remove app execution restriction",
        "description": "Enable execution of any application on the machine",
        "operationId": "UnrestrictAppExecution",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to unrestrict",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the restriction removal",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "Comment"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---remove-app-execution-restriction"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/runAntiVirusScan": {
      "post": {
        "tags": [
          "Machine Action"
        ],
        "summary": "Actions - Run antivirus scan",
        "description": "Initiate Windows Defender Antivirus scan on a machine",
        "operationId": "RunAntivirusScan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to scan",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the scan request",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                },
                "ScanType": {
                  "type": "string",
                  "description": "Type of scan to perform. Allowed values are 'Quick' or 'Full'",
                  "title": "Scan Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Quick",
                    "Full"
                  ]
                }
              },
              "required": [
                "Comment",
                "ScanType"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---run-antivirus-scan"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/runliveresponse": {
      "post": {
        "tags": [
          "Machine Action"
        ],
        "summary": "Actions - Run live response",
        "description": "Run live response api commands for a single machine",
        "operationId": "RunLiveResponse",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to run live response session on",
            "x-ms-summary": "Machine ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Comment": {
                  "type": "string",
                  "description": "A comment to associate to the isolation",
                  "title": "Comment",
                  "x-ms-visibility": "important"
                },
                "Commands": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LiveResponseCommand"
                  },
                  "title": "Commands",
                  "description": "The live response commands to execute",
                  "minItems": 1
                }
              },
              "required": [
                "Comment",
                "Commands"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MachineAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#actions---run-live-response"
        }
      }
    },
    "/{connectionId}/api/remediationtasks": {
      "get": {
        "tags": [
          "RemediationActivities"
        ],
        "summary": "Remediation tasks - Get list of remediation activities (Preview)",
        "description": "Retrieve from Windows Defender ATP the remdiation activities",
        "operationId": "GetRemediationActivities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, using OData syntax.",
            "x-ms-summary": "Filters results",
            "required": false,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response, defaults to all.",
            "x-ms-summary": "Selects properties",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "x-ms-summary": "Sorts results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "x-ms-summary": "Returns first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "x-ms-summary": "Skips first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "x-ms-summary": "Includes count",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Remediation activities count",
                  "description": "The number of remediation activities by this query"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RemediationActivity"
                  },
                  "title": "Remediation activities",
                  "description": "The remediation activities returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#remediation-tasks---get-list-of-remediation-activities-(preview)"
        }
      }
    },
    "/{connectionId}/api/remediationtasks/{RemediationID}": {
      "get": {
        "tags": [
          "RemediationActivities"
        ],
        "summary": "RemediationActivities - Get single remediation activity (Preview)",
        "description": "Retrieve from Windows Defender ATP a specific remediation activity",
        "operationId": "GetSingleRemediationActivity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "RemediationID",
            "in": "path",
            "description": "The identifier of the remediation activity to retrieve",
            "x-ms-summary": "ID of the remediation activity",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemediationActivity"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#remediationactivities---get-single-remediation-activity-(preview)"
        }
      }
    },
    "/{connectionId}/api/remediationtasks/{RemediationID}/machinereferences": {
      "get": {
        "tags": [
          "RemediationActivities"
        ],
        "summary": "Remediation activities - Get list of related machines (Preview)",
        "description": "Retrieve from Windows Defender ATP the related machines to a specific remediation activity",
        "operationId": "GetRemediationActivityMachineList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "RemediationID",
            "in": "path",
            "description": "The identifier of the remediation activity to retrieve",
            "x-ms-summary": "ID of the remediation activity",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Machines count",
                  "description": "The number of available machines by this query"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Machine"
                  },
                  "title": "Machines",
                  "description": "The machines returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#remediation-activities---get-list-of-related-machines-(preview)"
        }
      }
    },
    "/{connectionId}/api/machines": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Machines - Get list of machines",
        "description": "Retrieve from Windows Defender ATP the most recent machines",
        "operationId": "GetMachines",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, using OData syntax.",
            "x-ms-summary": "Filters results",
            "required": false,
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response, defaults to all.",
            "x-ms-summary": "Selects properties",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "x-ms-summary": "Sorts results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "x-ms-summary": "Returns first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "x-ms-summary": "Skips first results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "x-ms-summary": "Includes count",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Machines count",
                  "description": "The number of available machines by this query"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Machine"
                  },
                  "title": "Machines",
                  "description": "The machines returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#machines---get-list-of-machines"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Machines - Get single machine",
        "description": "Retrieve from Windows Defender ATP a specific machine",
        "operationId": "GetSingleMachine",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "description": "The identifier of the machine to retrieve",
            "x-ms-summary": "ID of the machine",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#machines---get-single-machine"
        }
      }
    },
    "/{connectionId}/api/machines/{Machine ID}/tags": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Machines - Tag machine",
        "description": "Add or remove a tag to/from a machine",
        "operationId": "MachineTag",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Machine ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the machine to which the tag should be added or removed",
            "x-ms-summary": "ID of the machine",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Value": {
                  "type": "string",
                  "description": "The tag to add or remove",
                  "title": "Value",
                  "x-ms-visibility": "important"
                },
                "Action": {
                  "type": "string",
                  "description": "The action to perform. Value should be one of 'Add' (to add a tag) or 'Remove' (to remove a tag)",
                  "title": "Action",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Add",
                    "Remove"
                  ]
                }
              },
              "required": [
                "Action",
                "Value"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#machines---tag-machine"
        }
      }
    },
    "/{connectionId}/subscriptions": {
      "x-ms-notification-content": {
        "description": "Details for web hook subscription",
        "schema": {
          "$ref": "#/definitions/WebHookNotification"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Triggers - Trigger when new WDATP alert occurs",
        "description": "Subscribe for Windows Defender ATP alerts",
        "operationId": "WebHooks_CreateWebHook",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The web hook creation parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionTableEntity"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#triggers---trigger-when-new-wdatp-alert-occurs"
        }
      }
    },
    "/{connectionId}/subscriptions/{hookId}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Get a registered alert web hook subscription",
        "description": "Get Windows Defender ATP registered alert web hook subscription",
        "operationId": "WebHooks_GetWebHook",
        "x-ms-visibility": "internal",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionTableEntity"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#get-a-registered-alert-web-hook-subscription"
        }
      },
      "delete": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "Deletes a registered alert hook",
        "description": "Deletes Windows Defender ATP registered alert hook",
        "operationId": "WebHooks_DeleteWebHook",
        "x-ms-visibility": "internal",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#deletes-a-registered-alert-hook"
        }
      }
    },
    "/{connectionId}/trigger/api/remediationtasks": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Remediation activities count",
                  "description": "The number of remediation activities by this query"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RemediationActivity"
                  },
                  "title": "Remediation activities",
                  "description": "The remediation activities returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-visibility": "important",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "createdOn desc",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Triggers when a new remediation activity is created (Preview)",
        "description": "Triggers when a new remediation activity is created",
        "operationId": "OnNewRemediationActivity",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wdatp/#triggers-when-a-new-remediation-activity-is-created-(preview)"
        }
      }
    }
  },
  "definitions": {
    "Alert": {
      "type": "object",
      "title": "Alert",
      "description": "A single alert entity",
      "properties": {
        "id": {
          "description": "Alert identifier",
          "type": "string",
          "title": "Alert ID"
        },
        "incidentId": {
          "description": "The ID of the incident",
          "type": "integer",
          "format": "int32",
          "title": "Incident ID"
        },
        "investigationId": {
          "description": "The Id of the investigation",
          "type": "integer",
          "format": "int32",
          "title": "Investigation ID"
        },
        "severity": {
          "description": "Alert severity",
          "enum": [
            "Informational",
            "Low",
            "Medium",
            "High"
          ],
          "type": "string",
          "title": "Alert severity"
        },
        "status": {
          "enum": [
            "Unspecified",
            "New",
            "InProgress",
            "Resolved",
            "Hidden"
          ],
          "type": "string",
          "title": "Status",
          "description": "Status of the alert"
        },
        "description": {
          "type": "string",
          "title": "Description",
          "description": "Alert description"
        },
        "alertCreationTime": {
          "type": "string",
          "title": "Alert creation time",
          "format": "date-time",
          "description": "The time at which the alert was created"
        },
        "category": {
          "type": "string",
          "title": "Category",
          "description": "Alert category"
        },
        "title": {
          "type": "string",
          "title": "Title",
          "description": "Alert title"
        },
        "threatFamilyName": {
          "type": "string",
          "title": "Threat family name",
          "description": "Threat family name"
        },
        "detectionSource": {
          "type": "string",
          "title": "Detection source",
          "description": "Detection source"
        },
        "classification": {
          "enum": [
            "Unknown",
            "FalsePositive",
            "TruePositive"
          ],
          "type": "string",
          "title": "Classification",
          "description": "Alert classification"
        },
        "determination": {
          "enum": [
            "NotAvailable",
            "Apt",
            "Malware",
            "SecurityPersonnel",
            "SecurityTesting",
            "UnwantedSoftware",
            "Other"
          ],
          "type": "string",
          "title": "Determination",
          "description": "Alert determination"
        },
        "assignedTo": {
          "type": "string",
          "title": "Assigned to",
          "description": "Person to whom the alert was assigned"
        },
        "resolvedTime": {
          "type": "string",
          "title": "Resolved time",
          "description": "The time at which the alert was resolved"
        },
        "lastEventTime": {
          "type": "string",
          "format": "date-time",
          "title": "Last event time",
          "description": "The time of the last event related to the alert"
        },
        "firstEventTime": {
          "type": "string",
          "format": "date-time",
          "title": "First event time",
          "description": "The time of the first event related to the alert"
        },
        "machineId": {
          "type": "string",
          "title": "Machine ID",
          "description": "The identifier of the machine related to the alert"
        }
      }
    },
    "Machine": {
      "type": "object",
      "title": "Machine",
      "description": "A single machine entity",
      "properties": {
        "id": {
          "type": "string",
          "title": "Machine ID",
          "description": "The machine identifier"
        },
        "computerDnsName": {
          "type": "string",
          "title": "Computer name",
          "description": "The computer name"
        },
        "firstSeen": {
          "type": "string",
          "title": "First seen",
          "format": "date-time",
          "description": "The time of the first event received by the machine"
        },
        "lastSeen": {
          "type": "string",
          "title": "Last seen",
          "format": "date-time",
          "description": "The time of the last event received by the machine"
        },
        "osPlatform": {
          "type": "string",
          "title": "OS platform",
          "description": "The OS platform of the machine"
        },
        "osVersion": {
          "type": "string",
          "title": "OS version",
          "description": "The OS version of the machine"
        },
        "systemProductName": {
          "type": "string",
          "title": "System product name",
          "format": "date-time",
          "description": "systemProductName"
        },
        "lastIpAddress": {
          "type": "string",
          "title": "Last IP address",
          "description": "The last IP address of the machine"
        },
        "lastExternalIpAddress": {
          "type": "string",
          "title": "Last external IP address",
          "description": "The last external IP address of the machine"
        },
        "agentVersion": {
          "type": "string",
          "title": "Agent version",
          "description": "The agent version"
        },
        "osBuild": {
          "type": "integer",
          "title": "OS build",
          "format": "int32",
          "description": "The OS build of the machine"
        },
        "healthStatus": {
          "enum": [
            "Active",
            "Inactive",
            "ImpairedCommunication",
            "NoSensorData",
            "NoSensorDataImpairedCommunication",
            "Unknown"
          ],
          "type": "string",
          "title": "Health status",
          "description": "The health status of the machine"
        },
        "isAadJoined": {
          "type": "boolean",
          "title": "Is AAD joined",
          "description": "A flag indicating whether the machine is joined to AAD"
        },
        "machineTags": {
          "type": "array",
          "title": "Machine tags",
          "items": {
            "type": "string"
          },
          "description": "The tags associated to the machine"
        },
        "rbacGroupId": {
          "type": "integer",
          "title": "RBAC group ID",
          "format": "int32",
          "description": "The ID of the RBAC group to which the machine belongs"
        },
        "rbacGroupName": {
          "type": "string",
          "title": "RBAC group name",
          "description": "The name of the RBAC group to which the machine belongs"
        },
        "riskScore": {
          "enum": [
            "None",
            "Low",
            "Medium",
            "High"
          ],
          "type": "string",
          "title": "Risk score",
          "description": "A score indicating how much the machine is at risk"
        },
        "aadDeviceId": {
          "type": "string",
          "title": "AAD device ID",
          "description": "aadDeviceId"
        }
      }
    },
    "RemediationActivity": {
      "type": "object",
      "title": "Remediation Activity",
      "description": "A single remediation activity entity",
      "properties": {
        "id": {
          "type": "string",
          "title": "Remediation activity ID",
          "description": "The remediation activity identifier"
        },
        "title": {
          "type": "string",
          "title": "Title of the remediation activity",
          "description": "The title of the remediation activit"
        },
        "createdOn": {
          "type": "string",
          "title": "Created on",
          "format": "date-time",
          "description": "The time when the remediation activity was created"
        },
        "statusLastModifiedOn": {
          "type": "string",
          "title": "Status last modified on",
          "format": "date-time",
          "description": "The time when the status was last modified"
        },
        "requesterId": {
          "type": "string",
          "title": "Creator id",
          "description": "The remediation activity creator id"
        },
        "requesterEmail": {
          "type": "string",
          "title": "Creator email",
          "description": "The remediation activity creator email address"
        },
        "status": {
          "enum": [
            "Active",
            "Completed"
          ],
          "type": "string",
          "title": "Status",
          "description": "the remediation activity status"
        },
        "description": {
          "type": "string",
          "title": "Description",
          "description": "The description of the remediation activity"
        },
        "relatedComponent": {
          "type": "string",
          "title": "Related component",
          "description": "The remediation activity related component"
        },
        "targetDevices": {
          "type": "integer",
          "title": "Target devices",
          "format": "int32",
          "description": "The number of the remediation activity target machines"
        },
        "rbacGroupNames": {
          "type": "array",
          "title": "Rbac group names",
          "items": {
            "type": "string"
          },
          "description": "The rbac group names associated to the remediation activity"
        },
        "fixedDevices": {
          "type": "integer",
          "title": "Fixed devices",
          "format": "int32",
          "description": "The number of the remediation activity fixed machines"
        },
        "requesterNotes": {
          "type": "string",
          "title": "creator notes",
          "description": "The remeidation activity creator notes"
        },
        "dueOn": {
          "type": "string",
          "title": "Due on",
          "format": "date-time",
          "description": "The due time for the remediation activity"
        },
        "category": {
          "enum": [
            "Software",
            "SecurityConfiguration"
          ],
          "type": "string",
          "title": "Category",
          "description": "the remediation activity category"
        },
        "productivityImpactRemediationType": {
          "enum": [
            "AllExposedAssets",
            "NonImpactedAssets"
          ],
          "type": "string",
          "title": "Productivity impact remediation type",
          "description": "the remediation Productivity impact type"
        },
        "priority": {
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "type": "string",
          "title": "Priority",
          "description": "The remediation activity priority"
        },
        "completionMethod": {
          "enum": [
            "Manual",
            "Automatic"
          ],
          "type": "string",
          "title": "Completion method",
          "description": "The remediation activity completion method"
        },
        "completerId": {
          "type": "string",
          "title": "Completer id",
          "description": "The remediation activity completer object id"
        },
        "completerEmail": {
          "type": "string",
          "title": "Completer email",
          "description": "The remediation activity completer email address"
        },
        "scid": {
          "type": "string",
          "title": "Security configuration id",
          "description": "The remediation activity security configuration id"
        },
        "type": {
          "enum": [
            "Update",
            "Uninstall",
            "ConfigurationChange",
            "AttentionRequired",
            "Upgrade"
          ],
          "type": "string",
          "title": "Type",
          "description": "The remediation activity type"
        },
        "productId": {
          "type": "string",
          "title": "Product id",
          "description": "Product Id"
        },
        "vendorId": {
          "type": "string",
          "title": "Vendor id",
          "description": "Vendor id"
        },
        "nameId": {
          "type": "string",
          "title": "Name id",
          "description": "Name id"
        },
        "recommendedVersion": {
          "type": "string",
          "title": "Recommended version",
          "description": "Recommended version"
        },
        "recommendedVendor": {
          "type": "string",
          "title": "Recommended vendor",
          "description": "Recommended vendor"
        },
        "recommendedProgram": {
          "type": "string",
          "title": "Recommended program",
          "description": "Recommended program"
        },
        "RecommendationReference": {
          "type": "string",
          "title": "Recommendation reference",
          "description": "Recommendation reference"
        }
      }
    },
    "MachineAction": {
      "type": "object",
      "title": "Machine Action",
      "description": "A single machine action entity",
      "properties": {
        "id": {
          "type": "string",
          "title": "Action ID",
          "description": "The ID of the machine action"
        },
        "type": {
          "enum": [
            "Unknown",
            "RequestSample",
            "RunAntiVirusScan",
            "Offboard",
            "CollectInvestigationPackage",
            "Isolate",
            "Unisolate",
            "StopAndQuarantineFile",
            "RestrictCodeExecution",
            "UnrestrictCodeExecution",
            "LiveResponse"
          ],
          "type": "string",
          "title": "Action type",
          "description": "The type of the action (e.g. 'Isolate', 'CollectInvestigationPackage', ...)"
        },
        "requestor": {
          "type": "string",
          "title": "Requestor",
          "description": "The person that requested the machine action"
        },
        "requestorComment": {
          "type": "string",
          "title": "Comment",
          "description": "The comment associated to the machine action"
        },
        "status": {
          "enum": [
            "Pending",
            "Cancelled",
            "TimeOut",
            "Failed",
            "InProgress",
            "Succeeded"
          ],
          "type": "string",
          "title": "Status",
          "description": "The status of the machine action (e.g., 'InProgress')"
        },
        "machineId": {
          "type": "string",
          "title": "ID",
          "description": "The ID of the machine on which the action has been performed"
        },
        "creationDateTimeUtc": {
          "type": "string",
          "title": "Creation time",
          "format": "date-time",
          "description": "The UTC time at which the action has been requested"
        },
        "lastUpdateDateTimeUtc": {
          "type": "string",
          "title": "Last update time",
          "format": "date-time",
          "description": "The last UTC time at which the action has been updated"
        },
        "relatedFileInfo": {
          "type": "object",
          "properties": {
            "fileIdentifier": {
              "type": "string",
              "title": "File hash",
              "description": "The hash of the file associated to this action"
            },
            "fileIdentifierType": {
              "type": "string",
              "title": "File hash type",
              "description": "The type of the hash of the file associated to this action",
              "enum": [
                "Sha1",
                "Sha256",
                "Md5"
              ]
            }
          },
          "description": "relatedFileInfo",
          "x-ms-visibility": "internal"
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LiveResponseCommandStatus"
          },
          "title": "Commands",
          "description": "Live response machine action commands"
        }
      }
    },
    "LiveResponseCommandStatus": {
      "type": "object",
      "title": "Live Response Machine Action Command",
      "description": "A single command in Live Response machine action entity",
      "properties": {
        "index": {
          "type": "integer",
          "title": "Command index",
          "description": "The index of the command",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "title": "The command execution start time",
          "format": "date-time",
          "description": "The command execution start time UTC"
        },
        "endTime": {
          "type": "string",
          "title": "The command execution end time",
          "format": "date-time",
          "description": "The command execution end time UTC"
        },
        "commandStatus": {
          "enum": [
            "Executing",
            "Completed",
            "Failed",
            "PendingResource",
            "Submitted",
            "Created"
          ],
          "type": "string",
          "title": "Command status",
          "description": "The status of the command execution (e.g., 'Completed')"
        },
        "errors": {
          "type": "array",
          "title": "Command errors",
          "items": {
            "type": "string"
          },
          "description": "List of command execution errors. In case no errors reported this will be an empty list."
        },
        "command": {
          "type": "object",
          "title": "Command",
          "description": "The live response command",
          "$ref": "#/definitions/LiveResponseCommand"
        }
      }
    },
    "LiveResponseCommand": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "title": "Command type",
          "description": "The type of the command",
          "enum": [
            "GetFile",
            "RunScript",
            "PutFile"
          ]
        },
        "params": {
          "type": "array",
          "title": "Command params",
          "description": "List of command parameters.",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "title": "Command parameter key",
                "description": "The key of the command parameter",
                "enum": [
                  "FileName",
                  "ScriptName",
                  "Args",
                  "Path"
                ]
              },
              "value": {
                "type": "string",
                "title": "Command parameter value",
                "description": "The value of the command parameter"
              }
            }
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "FileStats": {
      "type": "object",
      "title": "File Statistics",
      "description": "A single file statistics entity",
      "properties": {
        "sha1": {
          "type": "string",
          "title": "Sha1",
          "description": "The sha1 of the file"
        },
        "globallyPrevalence": {
          "format": "int64",
          "type": "integer",
          "title": "Global Prevalence",
          "description": "The file global prevalence."
        },
        "globalFirstObserved": {
          "format": "date-time",
          "type": "string",
          "title": "Globally First Observed",
          "description": "The first time the file was observed globally."
        },
        "globalLastObserved": {
          "format": "date-time",
          "type": "string",
          "title": "Globally Last Observed",
          "description": "The Last time the file was observed."
        },
        "organizationPrevalence": {
          "format": "int64",
          "type": "integer",
          "title": "Org Prevalence",
          "description": "The file prevalence across organization"
        },
        "orgFirstSeen": {
          "format": "date-time",
          "type": "string",
          "title": "Org First Observed",
          "description": "The first time the file was observed in the organization."
        },
        "orgLastSeen": {
          "format": "date-time",
          "type": "string",
          "title": "Org Last Observed",
          "description": "The last time the file was observed in the organization."
        },
        "topFileNames": {
          "type": "array",
          "title": "Top File Names",
          "items": {
            "type": "string"
          },
          "description": "The file names that this file has been presented."
        }
      }
    },
    "IpStats": {
      "type": "object",
      "title": "Ip Statistics",
      "description": "A single ip address statistics entity",
      "properties": {
        "ipAddress": {
          "type": "string",
          "title": "Ip Adress",
          "description": "The ip adress"
        },
        "organizationPrevalence": {
          "format": "int64",
[...]
