{
  "swagger": "2.0",
  "info": {
    "description": "ArcGIS connects your automated workflows to resources from your ArcGIS organization. Access geoenrichment, geocoding, and routing services to add demographics and location information to your data. You can also use ArcGIS to create feature layers and fetch data from existing feature layers in your ArcGIS organization.",
    "title": "ArcGIS Enterprise",
    "version": "2023.1.3",
    "contact": {
      "name": "Esri Power Automate Support",
      "url": "https://community.esri.com/t5/arcgis-for-power-automate-questions/bd-p/arcgis-for-power-automate-questions",
      "email": "powerautomate@esri.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/arcgisenterprise",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.arcgis.com/sharing/rest/oauth2/authorize",
      "tokenUrl": "https://www.arcgis.com/sharing/rest/oauth2/token/",
      "scopes": {
        "admin": "admin"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "admin"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.esri.com/powerbi/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.esri.com/en-us/privacy/privacy-statements/privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations; Business Intelligence"
    }
  ],
  "paths": {
    "/{connectionId}/v1/attachment/addattachment": {
      "post": {
        "summary": "Add attachment",
        "description": "Add an attachment to record in a feature layer.",
        "operationId": "AddAttachment",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectId",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record associated with the attachment",
            "x-ms-summary": "Record ID",
            "required": true
          },
          {
            "name": "attachmentName",
            "in": "query",
            "type": "string",
            "description": "Name of the file that will be attached",
            "x-ms-summary": "Attachment name",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "x-ms-summary": "File content",
            "description": "File content from another action such as 'Get file content' (OneDrive, Share Point)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "keywords",
            "in": "query",
            "type": "string",
            "description": "Keywords used to identify the attachment",
            "x-ms-summary": "Keywords",
            "required": false,
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Add attachment",
            "schema": {
              "type": "object",
              "properties": {
                "objectId": {
                  "type": "number",
                  "x-ms-summary": "Object ID"
                },
                "globalId": {
                  "type": "string",
                  "x-ms-summary": "Global ID"
                },
                "success": {
                  "type": "boolean",
                  "x-ms-summary": "Success"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#add-attachment"
        }
      }
    },
    "/{connectionId}/v1/attachment/queryattachments": {
      "get": {
        "summary": "Query attachment",
        "description": "Search for an attachment associated with a record in a feature layer.",
        "operationId": "QueryAttachment",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectId",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record associated with the attachment",
            "x-ms-summary": "Record ID",
            "required": true
          },
          {
            "name": "keywords",
            "in": "query",
            "type": "string",
            "description": "Keywords used to identify the attachment",
            "x-ms-summary": "Keywords",
            "required": false,
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Query attachments",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "x-ms-summary": "Attachment Object ID"
                  },
                  "globalId": {
                    "type": "string",
                    "x-ms-summary": "Attachment Global ID"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Attachment name"
                  },
                  "contentType": {
                    "type": "string",
                    "x-ms-summary": "Content-type"
                  },
                  "size": {
                    "type": "number",
                    "x-ms-summary": "Attachment size"
                  },
                  "keywords": {
                    "type": "string",
                    "x-ms-summary": "Keywords"
                  },
                  "url": {
                    "type": "string",
                    "x-ms-summary": "Attachment URL"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#query-attachment"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/queryattachments": {
      "get": {
        "summary": "Get record attachments",
        "description": "Query attachments in a record to DynamicValues",
        "operationId": "GetAttachmentsDynamicValues",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectid",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record",
            "x-ms-summary": "Record ID",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Attachments list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "number",
                    "description": "Attachment ID"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#get-record-attachments"
        }
      }
    },
    "/{connectionId}/v1/attachment/getattachment": {
      "post": {
        "summary": "Get attachment",
        "description": "Get an attachment from a record in your feature layer.",
        "operationId": "GetAttachment",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectid",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record associated with the attachment",
            "x-ms-summary": "Object ID",
            "required": true
          },
          {
            "in": "query",
            "x-ms-summary": "Attachment",
            "description": "Select attachment name or enter the attachment ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAttachmentsDynamicValues",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "userLayer": {
                  "parameter": "userLayer"
                },
                "objectid": {
                  "parameter": "objectid"
                }
              }
            },
            "required": true,
            "name": "attachmentId",
            "x-ms-visibility": "important",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Attachment contents",
              "description": "The content of the attachment."
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#get-attachment"
        }
      },
      "get": {
        "summary": "Get attachment from URL",
        "description": "Get an attachment from a record in your feature layer by using the attachment URL.",
        "operationId": "GetAttachmentFromUrl",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "attachmentUrl",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Attachment Url",
            "description": "The URL associated with the attachment in a record in your feature layer.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Attachment contents",
              "description": "The content of the attachment."
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#get-attachment-from-url"
        }
      }
    },
    "/{connectionId}/v1/attachment/deleteAttachments": {
      "post": {
        "summary": "Delete attachment",
        "description": "Delete an attachment from a record in your feature layer.",
        "operationId": "DeleteAttachment",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "name": "objectid",
            "in": "query",
            "type": "number",
            "description": "Object ID of the record associated with the attachment.",
            "x-ms-summary": "Record ID",
            "required": true
          },
          {
            "name": "attachmentId",
            "in": "query",
            "type": "number",
            "description": "The ID of the attachment in a record from your feature layer.",
            "x-ms-summary": "Attachment ID",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Delete attachment",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "objectId": {
                    "type": "number",
                    "x-ms-summary": "Object ID"
                  },
                  "globalId": {
                    "type": "string",
                    "x-ms-summary": "Global ID"
                  },
                  "success": {
                    "type": "boolean",
                    "x-ms-summary": "Success"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#delete-attachment"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/featureservice/userlayers": {
      "get": {
        "summary": "Get feature layers",
        "operationId": "GetFeatureLayers",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get user's feature layers",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Feature layer name",
                    "type": "string",
                    "description": "Feature layer"
                  },
                  "id": {
                    "type": "string",
                    "description": "Feature layer id"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#get-feature-layers"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/featureservice/getlayerfields": {
      "get": {
        "summary": "Get fields",
        "operationId": "GetFeatureLayerFields",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/userLayer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Fields list",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#get-fields"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/featureservice": {
      "get": {
        "summary": "Retrieve response schema",
        "operationId": "GetFeatureLayerResponseSchema",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#retrieve-response-schema"
        }
      }
    },
    "/{connectionId}/v1/featurelayer/getfeatures": {
      "get": {
        "summary": "Get data from feature layer",
        "description": "Connect to a feature layer in ArcGIS and pull its data and attributes into your existing dataset or create a new one. This data can be used to create new maps in all ArcGIS for Microsoft 365 products.",
        "operationId": "GetFeatureLayerData",
        "produces": [
          "application/json"
        ],
        "deprecated": false,
        "x-ms-capabilities": {
          "chunkTransfer": true
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "$ref": "#/parameters/layerField"
          },
          {
            "$ref": "#/parameters/comparison"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "in": "query",
            "name": "parameter",
            "description": "Enter a value to search",
            "type": "string",
            "x-ms-summary": "Search parameter value",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "where",
            "type": "string",
            "x-ms-summary": "Where",
            "description": "Input a WHERE clause to filter records in your search",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "returnGeometry",
            "type": "boolean",
            "default": "true",
            "x-ms-summary": "Return geometry",
            "description": "Return geometry",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "number",
            "x-ms-summary": "Starting count",
            "description": "When batching, this value is the starting point of the query",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter list success",
            "headers": {
              "hasMoreData": {
                "type": "string",
                "x-ms-summary": "Dataset has additional data",
                "description": "Whether layer has additional data that satisfies the query"
              },
              "offset": {
                "type": "number",
                "x-ms-summary": "Current offset",
                "description": "Current offset of the data"
              }
            },
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetFeatureLayerResponseSchema",
                "value-path": "schemas",
                "parameters": {
                  "userLayer": {
                    "parameter": "userLayer"
                  },
                  "format": {
                    "parameter": "format"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#get-data-from-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/featurelayer/createfeature": {
      "post": {
        "summary": "Create a record in a feature layer",
        "description": "This action adds a new record to a feature layer.",
        "operationId": "CreateItemInFeatureLayer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchemaForCreateUpdateFeaturesAction",
                "value-path": "schemas",
                "parameters": {
                  "parameter": "createfeature",
                  "userLayer": {
                    "parameter": "userLayer"
                  },
                  "contentFilter": {
                    "parameter": "contentFilter"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Create status",
                  "x-ms-summary": "Create operation success status"
                },
                "objectId": {
                  "type": "number",
                  "description": "Object ID of the record created",
                  "x-ms-summary": "Object ID"
                },
                "globalId": {
                  "type": "string",
                  "description": "Global ID of the record created",
                  "x-ms-summary": "Global ID"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#create-a-record-in-a-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/featurelayer/updatefeature": {
      "post": {
        "summary": "Update a record in a feature layer",
        "description": "This action updates an existing record in a feature layer.",
        "operationId": "UpdateItemInFeatureLayer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "in": "query",
            "x-ms-summary": "Unique ID field",
            "description": "Select an unique ID field in the feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayerFields",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "userLayer": {
                  "parameter": "userLayer"
                }
              }
            },
            "required": true,
            "name": "idField",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchemaForCreateUpdateFeaturesAction",
                "value-path": "schemas",
                "parameters": {
                  "parameter": "updatefeature",
                  "userLayer": {
                    "parameter": "userLayer"
                  },
                  "idField": {
                    "parameter": "idField"
                  },
                  "contentFilter": {
                    "parameter": "contentFilter"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Update status",
                  "x-ms-summary": "Update operation success status"
                },
                "objectId": {
                  "type": "number",
                  "description": "Object ID of the record updated",
                  "x-ms-summary": "Object ID"
                },
                "globalId": {
                  "type": "string",
                  "description": "Global ID of the updated record",
                  "x-ms-summary": "Global ID"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#update-a-record-in-a-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/featurelayer/deletefeature": {
      "post": {
        "summary": "Delete a record from feature layer",
        "description": "This action deletes one or many records from a feature layer using IDs.",
        "operationId": "DeleteItemInFeatureLayer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "in": "query",
            "x-ms-summary": "Unique ID field",
            "description": "Select an unique ID field in the feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayerFields",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "userLayer": {
                  "parameter": "userLayer"
                }
              }
            },
            "required": true,
            "name": "idField",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "in": "body",
            "name": "data",
            "schema": {
              "type": "object",
              "properties": {
                "deletedIds": {
                  "type": "string",
                  "x-ms-summary": "Delete records",
                  "description": "A list or single value of IDs used to identify the deleted items. The IDs provided must match the IDs used in the feature layer. Multiple IDs can be added and separated by a comma."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "boolean",
                    "description": "Delete operation success status",
                    "x-ms-summary": "Delete status"
                  },
                  "objectId": {
                    "type": "number",
                    "description": "Object ID of the record deleted",
                    "x-ms-summary": "Object ID"
                  },
                  "globalId": {
                    "type": "string",
                    "description": "Global ID of the deleted record",
                    "x-ms-summary": "Global ID"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#delete-a-record-from-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/crud/{parameter}": {
      "get": {
        "summary": "Retrieve response schema",
        "operationId": "GetDynamicSchemaForCreateUpdateFeaturesAction",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "parameter",
            "type": "string",
            "required": true
          },
          {
            "$ref": "#/parameters/contentFilter"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "in": "query",
            "required": false,
            "name": "idField",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#retrieve-response-schema"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/layersearchoptions": {
      "get": {
        "summary": "Get layer search options",
        "description": "Layer search options",
        "operationId": "GetLayerSearchOptions",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Layer Search",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#get-layer-search-options"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/fetchenterprisechanges": {
      "post": {
        "summary": "Fetch updates, changes, or deletions from feature layer",
        "description": "Fetch the updates, changes, or deletions that were made to your selected feature layer. This action is used in conjunction with the trigger on your feature service.",
        "operationId": "WebhookFetchEnterprise",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "WebhookFetchEnterprise",
          "revision": 0,
          "status": "Preview"
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "changesUrl",
            "in": "query",
            "type": "string",
            "description": "Select the Changes URL option from the Dynamic content pane.",
            "x-ms-summary": "Get changes from",
            "required": true
          },
          {
            "x-ms-summary": "Feature layer",
            "x-ms-dynamic-values": {
              "operationId": "GetFeatureLayers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "contentFilter": "Webhook"
              }
            },
            "required": true,
            "in": "query",
            "name": "userLayer",
            "description": "Name of the feature layer that was changed, updated, or deleted.",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "featuresCreated",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Features created",
            "description": "Return features created.",
            "x-ms-visibility": "advanced",
            "required": false,
            "default": "true",
            "x-ms-enum-values": [
              {
                "displayName": "True",
                "value": "true"
              },
              {
                "displayName": "False",
                "value": "false"
              }
            ],
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "featuresUpdated",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Features updated",
            "description": "Return features updated.",
            "x-ms-visibility": "advanced",
            "required": false,
            "default": "true",
            "x-ms-enum-values": [
              {
                "displayName": "True",
                "value": "true"
              },
              {
                "displayName": "False",
                "value": "false"
              }
            ],
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "featuresDeleted",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Features deleted",
            "description": "Return features deleted.",
            "x-ms-visibility": "advanced",
            "required": false,
            "default": "true",
            "x-ms-enum-values": [
              {
                "displayName": "True",
                "value": "true"
              },
              {
                "displayName": "False",
                "value": "false"
              }
            ],
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "returnAttachments",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Return attachments",
            "description": "Return attachments.",
            "x-ms-visibility": "advanced",
            "required": false,
            "default": "true",
            "x-ms-enum-values": [
              {
                "displayName": "True",
                "value": "true"
              },
              {
                "displayName": "False",
                "value": "false"
              }
            ],
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Changes and updates requested",
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetFeatureLayerResponseSchemaForWebhook",
                "value-path": "schemas",
                "parameters": {
                  "userLayer": {
                    "parameter": "userLayer"
                  },
                  "contentFilter": "Webhook"
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#fetch-updates%2c-changes%2c-or-deletions-from-feature-layer"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/webhook/getchanges": {
      "get": {
        "summary": "Retrieve response schema",
        "operationId": "GetFeatureLayerResponseSchemaForWebhook",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "$ref": "#/parameters/contentFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgisenterprise/#retrieve-response-schema"
        }
      }
    }
  },
  "parameters": {
    "comparison": {
      "in": "query",
      "name": "comparison",
      "x-ms-summary": "Comparison type",
      "description": "Search for values using a comparison operator such as \"equal to\" or \"greater than\"",
      "type": "string",
      "enum": [
        "Like",
        "Is not null",
        "Greater than",
        "Greater or equal to",
        "Equal to",
        "Less than or equal to",
        "Less than"
      ],
      "x-ms-visibility": "advanced"
    },
    "format": {
      "in": "query",
      "name": "format",
      "x-ms-summary": "Output format",
      "description": "Select return format type",
      "type": "string",
      "enum": [
        "CSV",
        "JSON"
      ],
      "default": "CSV",
      "required": true
    },
    "layerField": {
      "x-ms-summary": "Available fields",
      "x-ms-dynamic-values": {
        "operationId": "GetFeatureLayerFields",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "userLayer": {
            "parameter": "userLayer"
          }
        }
      },
      "required": false,
      "in": "query",
      "name": "field",
      "description": "Select an attribute from the ArcGIS feature layer",
      "x-ms-visibility": "advanced",
      "type": "string"
    },
    "userLayer": {
      "x-ms-summary": "Feature layer",
      "x-ms-dynamic-values": {
        "operationId": "GetFeatureLayers",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "contentFilter": {
            "parameter": "contentFilter"
          }
        }
      },
      "required": true,
      "in": "query",
      "name": "userLayer",
      "description": "Select a feature layer from your ArcGIS content",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "contentFilter": {
      "x-ms-summary": "Layers in",
      "description": "When you sign in using your ArcGIS account, you can search for content in your organization, your organization's groups, or public content.",
      "x-ms-dynamic-values": {
        "operationId": "GetLayerSearchOptions",
        "value-path": "id",
        "value-title": "name",
        "parameters": {}
      },
      "default": "My content",
      "required": true,
      "in": "query",
      "name": "contentFilter",
      "x-ms-visibility": "important",
      "type": "string"
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/arcgisenterprise"
  }
}
