{
  "basePath": "/apim/ciscowebexmeetings",
  "consumes": [],
  "definitions": {},
  "host": "europe-002.azure-apim.net",
  "info": {
    "description": "Cisco Webex Meetings provides cost-effective enterprise solutions for virtual meetings. Host highly secure and scalable web meetings from the Cisco Webex cloud.",
    "title": "Cisco Webex Meetings",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "parameters": {},
  "paths": {
    "/{connectionId}/workflow/meetings/create": {
      "post": {
        "description": "This operation is used to schedule a meeting",
        "operationId": "NewMeeting",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Accept",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "topic": {
                  "description": "",
                  "title": "Meeting topic",
                  "type": "string"
                },
                "startTime": {
                  "description": "The start time of the Webex meeting (YYYY-MM-DDThh:mm:ss.sssZ)",
                  "format": "date-time",
                  "title": "Start time",
                  "type": "string"
                },
                "endTime": {
                  "description": "The end time of the Webex meeting (YYYY-MM-DDThh:mm:ss.sssZ)",
                  "format": "date-time",
                  "title": "End time",
                  "type": "string"
                },
                "attendees": {
                  "description": "Separate email addresses with a comma",
                  "title": "Attendees",
                  "type": "string"
                },
                "agenda": {
                  "description": "",
                  "title": "Agenda",
                  "type": "string"
                }
              },
              "required": [
                "startTime",
                "topic",
                "endTime"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of a single meeting",
            "schema": {
              "properties": {
                "duration": {
                  "description": "Duration of the meeting",
                  "title": "Duration",
                  "type": "string"
                },
                "endTime": {
                  "description": "The end time of the Webex meeting",
                  "title": "End time",
                  "type": "string"
                },
                "hostKey": {
                  "description": "The host key of the Webex meeting",
                  "title": "Host key",
                  "type": "string"
                },
                "joinMeetingLink": {
                  "description": "The link to join the Webex meeting",
                  "title": "Join meeting link",
                  "type": "string"
                },
                "meetingId": {
                  "description": "Unique ID of the meeting",
                  "title": "Meeting ID",
                  "type": "string"
                },
                "meetingNumber": {
                  "description": "The Webex meeting number",
                  "format": "int32",
                  "title": "Meeting number",
                  "type": "integer"
                },
                "password": {
                  "description": "The password for the Webex meeting",
                  "title": "Password",
                  "type": "string"
                },
                "startTime": {
                  "description": "The start time of the Webex meeting",
                  "title": "Start time",
                  "type": "string"
                },
                "topic": {
                  "description": "The topic of the Webex meeting",
                  "title": "Meeting topic",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Schedule a meeting",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ciscowebexmeetings/#schedule-a-meeting"
        }
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "oauth2_auth": [
        "all_read meeting_modify"
      ]
    }
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "authorizationUrl": "https://api.webex.com/v1/oauth2/authorize",
      "flow": "accessCode",
      "scopes": {
        "all_read meeting_modify": "all_read meeting_modify"
      },
      "tokenUrl": "https://api.webex.com/v1/oauth2/token",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/ciscowebexmeetings"
  }
}
