{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Microsoft School Data Sync",
    "description": "Simplify class management in Office 365. School Data Sync reads rosters from your SIS and creates classes and groups for Microsoft Teams, Intune for Education, and third party applications.\n\nConnect to School Data Sync to upload school and roster information, manage your sync profile.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/microsoftschooldatasync",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/synchronizationProfiles/{instanceId}/uploadUrl": {
      "get": {
        "summary": "Get Upload Url for CSV Profle",
        "description": "Gets the SAS Url for uploading csv files for a given profile",
        "operationId": "GetUploadUrl",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "instanceId",
            "in": "path",
            "description": "The instanceId of a profile is the GUID portion of the URL found on the Profile Details page",
            "required": true,
            "x-ms-summary": "The GUID portion of the URL found on the Profile Details page",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "description": "@odata.context",
                  "type": "string",
                  "x-ms-summary": "@odata.context"
                },
                "value": {
                  "description": "value",
                  "type": "string",
                  "x-ms-summary": "value"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatasync/#get-upload-url-for-csv-profle"
        }
      }
    },
    "/{connectionId}/synchronizationProfiles": {
      "get": {
        "summary": "Get Profiles",
        "description": "Get all the synchronization profiles in a tenant",
        "operationId": "GetSynchronizationprofiles",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "description": "@odata.context",
                  "type": "string",
                  "x-ms-summary": "@odata.context"
                },
                "value": {
                  "description": "value",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "displayName": {
                        "description": "display name",
                        "type": "string",
                        "x-ms-summary": "display name"
                      },
                      "state": {
                        "description": "state",
                        "type": "string",
                        "x-ms-summary": "state"
                      },
                      "handleSpecialCharacterConstraint": {
                        "description": "handle special character constraint",
                        "type": "boolean",
                        "x-ms-summary": "handle special character constraint"
                      },
                      "termStartDate": {
                        "description": "term start date",
                        "type": "string",
                        "x-ms-summary": "term start date"
                      },
                      "termEndDate": {
                        "description": "term end date",
                        "type": "string",
                        "x-ms-summary": "term end date"
                      },
                      "dateFormat": {
                        "description": "date format",
                        "type": "string",
                        "x-ms-summary": "date format"
                      },
                      "id": {
                        "description": "id",
                        "type": "string",
                        "x-ms-summary": "id"
                      },
                      "dataProvider": {
                        "description": "data provider",
                        "type": "object",
                        "properties": {
                          "@odata.type": {
                            "description": "@odata.type",
                            "type": "string",
                            "x-ms-summary": "@odata.type"
                          },
                          "customizations": {
                            "description": "customizations",
                            "type": "object",
                            "properties": {
                              "school": {
                                "description": "school",
                                "type": "object",
                                "properties": {
                                  "optionalPropertiesToSync": {
                                    "description": "optional properties to sync",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "x-ms-summary": "optional properties to sync"
                                  },
                                  "synchronizationStartDate": {
                                    "format": "date-time",
                                    "description": "synchronization start date",
                                    "type": "string",
                                    "x-ms-summary": "synchronization start date"
                                  },
                                  "isSyncDeferred": {
                                    "description": "is sync deferred",
                                    "type": "boolean",
                                    "x-ms-summary": "is sync deferred"
                                  },
                                  "allowDisplayNameUpdate": {
                                    "description": "allow display name update",
                                    "type": "boolean",
                                    "x-ms-summary": "allow display name update"
                                  }
                                },
                                "x-ms-summary": "school"
                              },
                              "section": {
                                "description": "section",
                                "type": "object",
                                "properties": {
                                  "optionalPropertiesToSync": {
                                    "description": "optional properties to sync",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "x-ms-summary": "optional properties to sync"
                                  },
                                  "synchronizationStartDate": {
                                    "format": "date-time",
                                    "description": "synchronization start date",
                                    "type": "string",
                                    "x-ms-summary": "synchronization start date"
                                  },
                                  "isSyncDeferred": {
                                    "description": "is sync deferred",
                                    "type": "boolean",
                                    "x-ms-summary": "is sync deferred"
                                  },
                                  "allowDisplayNameUpdate": {
                                    "description": "allow display name update",
                                    "type": "boolean",
                                    "x-ms-summary": "allow display name update"
                                  }
                                },
                                "x-ms-summary": "section"
                              },
                              "student": {
                                "description": "student",
                                "type": "object",
                                "properties": {
                                  "optionalPropertiesToSync": {
                                    "description": "optional properties to sync",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "x-ms-summary": "optional properties to sync"
                                  },
                                  "synchronizationStartDate": {
                                    "format": "date-time",
                                    "description": "synchronization start date",
                                    "type": "string",
                                    "x-ms-summary": "synchronization start date"
                                  },
                                  "isSyncDeferred": {
                                    "description": "is sync deferred",
                                    "type": "boolean",
                                    "x-ms-summary": "is sync deferred"
                                  },
                                  "allowDisplayNameUpdate": {
                                    "description": "allow display name update",
                                    "type": "boolean",
                                    "x-ms-summary": "allow display name update"
                                  }
                                },
                                "x-ms-summary": "student"
                              },
                              "teacher": {
                                "description": "teacher",
                                "type": "object",
                                "properties": {
                                  "optionalPropertiesToSync": {
                                    "description": "optional properties to sync",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "x-ms-summary": "optional properties to sync"
                                  },
                                  "synchronizationStartDate": {
                                    "format": "date-time",
                                    "description": "synchronization start date",
                                    "type": "string",
                                    "x-ms-summary": "synchronization start date"
                                  },
                                  "isSyncDeferred": {
                                    "description": "is sync deferred",
                                    "type": "boolean",
                                    "x-ms-summary": "is sync deferred"
                                  },
                                  "allowDisplayNameUpdate": {
                                    "description": "allow display name update",
                                    "type": "boolean",
                                    "x-ms-summary": "allow display name update"
                                  }
                                },
                                "x-ms-summary": "teacher"
                              },
                              "studentEnrollment": {
                                "description": "student enrollment",
                                "type": "object",
                                "properties": {
                                  "optionalPropertiesToSync": {
                                    "description": "optional properties to sync",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "x-ms-summary": "optional properties to sync"
                                  },
                                  "synchronizationStartDate": {
                                    "format": "date-time",
                                    "description": "synchronization start date",
                                    "type": "string",
                                    "x-ms-summary": "synchronization start date"
                                  },
                                  "isSyncDeferred": {
                                    "description": "is sync deferred",
                                    "type": "boolean",
                                    "x-ms-summary": "is sync deferred"
                                  },
                                  "allowDisplayNameUpdate": {
                                    "description": "allow display name update",
                                    "type": "boolean",
                                    "x-ms-summary": "allow display name update"
                                  }
                                },
                                "x-ms-summary": "student enrollment"
                              },
                              "teacherRoster": {
                                "description": "teacher roster",
                                "type": "object",
                                "properties": {
                                  "optionalPropertiesToSync": {
                                    "description": "optional properties to sync",
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "x-ms-summary": "optional properties to sync"
                                  },
                                  "synchronizationStartDate": {
                                    "format": "date-time",
                                    "description": "synchronization start date",
                                    "type": "string",
                                    "x-ms-summary": "synchronization start date"
                                  },
                                  "isSyncDeferred": {
                                    "description": "is sync deferred",
                                    "type": "boolean",
                                    "x-ms-summary": "is sync deferred"
                                  },
                                  "allowDisplayNameUpdate": {
                                    "description": "allow display name update",
                                    "type": "boolean",
                                    "x-ms-summary": "allow display name update"
                                  }
                                },
                                "x-ms-summary": "teacher roster"
                              }
                            },
                            "x-ms-summary": "customizations"
                          }
                        },
                        "x-ms-summary": "data provider"
                      },
                      "identitySynchronizationConfiguration": {
                        "description": "identity synchronization configuration",
                        "type": "object",
                        "properties": {
                          "@odata.type": {
                            "description": "@odata.type",
                            "type": "string",
                            "x-ms-summary": "@odata.type"
                          },
                          "userDomains": {
                            "description": "user domains",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "appliesTo": {
                                  "description": "applies to",
                                  "type": "string",
                                  "x-ms-summary": "applies to"
                                },
                                "name": {
                                  "description": "name",
                                  "type": "string",
                                  "x-ms-summary": "name"
                                }
                              }
                            },
                            "x-ms-summary": "user domains"
                          },
                          "matchingOptions": {
                            "description": "matching options",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "appliesTo": {
                                  "description": "applies to",
                                  "type": "string",
                                  "x-ms-summary": "applies to"
                                },
                                "sourcePropertyName": {
                                  "description": "source property name",
                                  "type": "string",
                                  "x-ms-summary": "source property name"
                                },
                                "targetPropertyName": {
                                  "description": "target property name",
                                  "type": "string",
                                  "x-ms-summary": "target property name"
                                },
                                "targetDomain": {
                                  "description": "target domain",
                                  "type": "string",
                                  "x-ms-summary": "target domain"
                                }
                              }
                            },
                            "x-ms-summary": "matching options"
                          }
                        },
                        "x-ms-summary": "identity synchronization configuration"
                      },
                      "licensesToAssign": {
                        "description": "licenses to assign",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "appliesTo": {
                              "description": "applies to",
                              "type": "string",
                              "x-ms-summary": "applies to"
                            },
                            "skuIds": {
                              "description": "sku Ids",
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "x-ms-summary": "sku Ids"
                            }
                          }
                        },
                        "x-ms-summary": "licenses to assign"
                      }
                    }
                  },
                  "x-ms-summary": "value"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatasync/#get-profiles"
        }
      }
    },
    "/{connectionId}/synchronizationProfiles/{instanceId}/start": {
      "post": {
        "summary": "Verify Uploaded Files and Start Sync",
        "description": "Triggers validation of uploaded files and starts sync if no errors are found.",
        "operationId": "PostStartSync",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "instanceId",
            "in": "path",
            "description": "The instanceId of a profile is the GUID portion of the URL found on the Profile Details page",
            "required": true,
            "x-ms-summary": "The GUID portion of the URL found on the Profile Details page",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "description": "@odata.context",
                  "type": "string",
                  "x-ms-summary": "@odata.context"
                },
                "value": {
                  "description": "value",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  },
                  "x-ms-summary": "value"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatasync/#verify-uploaded-files-and-start-sync"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://sds.microsoft.com/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/microsoftschooldatasync"
  }
}
