{
  "swagger": "2.0",
  "info": {
    "title": "dox42",
    "description": "The dox42 connector provides a connection to the very extensive dox42 REST API and allows you to automatically generate documents in a flow with data from all sources, like D365, SharePoint or others.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "dox42 Support",
      "url": "https://www.dox42.com/Contact",
      "email": "support@dox42.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dox42",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/dox42RestService.ashx": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "dox42 Service Call",
        "description": "Call to the dox42 service",
        "operationId": "dox42_Call",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "domainname",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Domain name",
            "x-ms-summary": "The domain name of your configured dox42 Server"
          },
          {
            "name": "querystring",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Service call query string",
            "x-ms-summary": "Query portion of the desired dox42 service call"
          },
          {
            "name": "token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "Bearer XXXXXXXX, or just XXXXXXXXXXXX",
            "description": "Bearer Access Token for Azure AD Authentication",
            "x-ms-summary": "Bearer Access Token"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Basic accept header",
            "x-ms-summary": "Basic accept header, leave as is!"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dox42/#dox42-service-call"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dox42.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.dox42.com/Privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Data"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/dox42"
  }
}
