{
  "swagger": "2.0",
  "info": {
    "title": "Centrical",
    "description": "Send learning and performance events to Centrical platform.",
    "version": "1.1",
    "contact": {
      "name": "Centrical support",
      "url": "https://centrical.com/support",
      "email": "support@centrical.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/centrical",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/import/push/lms_{learning_type}": {
      "post": {
        "summary": "Post a learning event",
        "description": "Use this option to send a learning event to the Centrical platform",
        "operationId": "PostLearning",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "learning_type",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "CourseCompleted",
            "description": "Learning Event Type",
            "x-ms-summary": "Learning Event Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "event_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date Time",
                  "x-ms-summary": "Date Time"
                },
                "user_id": {
                  "type": "string",
                  "description": "User Id",
                  "x-ms-summary": "User Id"
                },
                "course_name": {
                  "type": "string",
                  "description": "Course Name",
                  "x-ms-summary": "Course Name"
                },
                "score": {
                  "type": "number",
                  "format": "float",
                  "description": "Score",
                  "x-ms-summary": "Score"
                },
                "course_category": {
                  "type": "string",
                  "description": "Course Category",
                  "x-ms-summary": "Content Category",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "user_id",
                "course_name",
                "event_time",
                "score"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post was successful"
          },
          "401": {
            "description": "Post was not applied because credentials could not be authenticated"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/centrical/#post-a-learning-event"
        }
      }
    },
    "/{connectionId}/import/push/kpi_{performance_type}": {
      "post": {
        "summary": "Post a Performance Event",
        "description": "Use this option to send a performance (KPI) event to the Centrical platform. This event is scored and can trigger additional actions within Centrical",
        "operationId": "PostPerformance",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "performance_type",
            "in": "path",
            "required": true,
            "default": "Kpi",
            "type": "string",
            "description": "Event Type",
            "x-ms-summary": "Event Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "event_time": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Date Time",
                  "x-ms-summary": "Date Time"
                },
                "user_id": {
                  "type": "string",
                  "description": "User Id",
                  "x-ms-summary": "User Id"
                },
                "kpi_name": {
                  "type": "string",
                  "description": "Kpi Name",
                  "x-ms-summary": "Kpi Name"
                },
                "kpi_value": {
                  "type": "number",
                  "format": "float",
                  "description": "Kpi Value",
                  "x-ms-summary": "Kpi Value"
                },
                "additional_data": {
                  "type": "string",
                  "description": "Additional Data",
                  "x-ms-summary": "Additional Data",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "user_id",
                "kpi_name",
                "kpi_value",
                "event_time"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post was successful"
          },
          "401": {
            "description": "Post was not applied because credentials could not be authenticated"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/centrical/#post-a-performance-event"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://centrical.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://centrical.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Sales and CRM"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/centrical"
  }
}
