{
  "swagger": "2.0",
  "info": {
    "title": "Receptful",
    "description": "Receptful visitor management software helps bring stability to your front desk, know who’s in your office, and takes repetitive tasks like guest check-in notifications off of your team’s plate. Whether all you need is a digital logbook to track who enters your workplace, or would like to notify your employees when a guest has arrived, Receptful makes it possible. The Receptful connector makes it possible to integrate visitor data into your services.",
    "version": "1.0",
    "contact": {
      "name": "Receptful Support",
      "email": "support@receptful.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.receptful.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.receptful.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/buttons": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of buttons.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Button"
              }
            }
          }
        },
        "summary": "Get a list of buttons",
        "operationId": "GetButtons",
        "description": "Get a list of buttons. This is only used to populate the button dropdown.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "config_id",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/receptful/#get-a-list-of-buttons"
        }
      }
    },
    "/{connectionId}/configs": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of configs.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Config"
              }
            }
          }
        },
        "summary": "Get a list of configs",
        "operationId": "GetConfigs",
        "description": "Get a list of configs. This is only used to populate the config dropdown.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/receptful/#get-a-list-of-configs"
        }
      }
    },
    "/{connectionId}/locations": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of locations.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Location"
              }
            }
          }
        },
        "summary": "Get a list of locations",
        "operationId": "GetLocations",
        "description": "Get a list of locations. This is only used to populate the location dropdown.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/receptful/#get-a-list-of-locations"
        }
      }
    },
    "/{connectionId}/regions": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of regions.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Region"
              }
            }
          }
        },
        "summary": "Get a list of regions",
        "operationId": "GetRegions",
        "description": "Get a list of regions. This is only used to populate the region dropdown.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/receptful/#get-a-list-of-regions"
        }
      }
    },
    "/{connectionId}/visits": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of visits.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Visit"
              }
            }
          }
        },
        "summary": "Get a list of visits",
        "operationId": "GetVisits",
        "description": "Get a list of visits. This is limited to 5 results and not meant to be used.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/receptful/#get-a-list-of-visits"
        }
      }
    },
    "/{connectionId}/visits/schema": {
      "get": {
        "responses": {
          "200": {
            "description": "The OpenAPI definition for a visit for this current company.",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get the OpenAPI schema definitions",
        "operationId": "GetVisitsSchema",
        "description": "Get the OpenAPI schema definition for a visit.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/receptful/#get-the-openapi-schema-definitions"
        }
      }
    },
    "/{connectionId}/hooks": {
      "x-ms-notification-content": {
        "description": "Visit Data",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetVisitsSchema"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "An object with the id of the new hook.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                }
              }
            }
          }
        },
        "x-ms-trigger": "single",
        "summary": "Create a Webhook for Visit events",
        "description": "Registers a visit event webhook.",
        "operationId": "VisitEvents",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Webhook URL"
                },
                "event": {
                  "type": "string",
                  "description": "What type of visit event do you want to trigger the webhook.",
                  "title": "Event",
                  "default": "checked_in",
                  "x-ms-visibility": "important",
                  "enum": [
                    "checked_in",
                    "checked_out",
                    "delivered",
                    "discarded",
                    "incinerated"
                  ]
                },
                "source": {
                  "type": "string",
                  "description": "source",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "microsoft"
                },
                "region_id": {
                  "type": "string",
                  "description": "Only trigger webhooks for visits with this region.",
                  "title": "Region",
                  "x-ms-dynamic-values": {
                    "operationId": "GetRegions",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "location_id": {
                  "type": "string",
                  "description": "Only trigger webhooks for visits with this location.",
                  "title": "Location",
                  "x-ms-dynamic-values": {
                    "operationId": "GetLocations",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "button_id": {
                  "type": "string",
                  "description": "Only trigger webhooks for visits with this button.",
                  "title": "Button",
                  "x-ms-dynamic-values": {
                    "operationId": "GetButtons",
                    "parameters": {
                      "config_id": {
                        "parameter": "config_id"
                      }
                    },
                    "value-path": "id",
                    "value-title": "name"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetButtons",
                    "parameters": {
                      "config_id": {
                        "parameterReference": "body/config_id"
                      }
                    },
                    "itemValuePath": "id",
                    "itemTitlePath": "name"
                  }
                },
                "config_id": {
                  "type": "string",
                  "description": "Only trigger webhooks for visits with this configuration.",
                  "title": "Configuration",
                  "x-ms-dynamic-values": {
                    "operationId": "GetConfigs",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "required": [
                "url",
                "event",
                "source"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/receptful/#create-a-webhook-for-visit-events"
        }
      }
    },
    "/{connectionId}/hooks/{id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "There is no response body."
          }
        },
        "summary": "Delete a webhook",
        "operationId": "DeleteHook",
        "description": "Delete a webhook.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "The ID of the hook to delete.",
            "required": true,
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/receptful/#delete-a-webhook"
        }
      }
    }
  },
  "definitions": {
    "Button": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "The unique ID for the button."
        },
        "name": {
          "type": "string",
          "description": "The name of the button.",
          "title": "Name"
        }
      }
    },
    "Company": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "The unique ID for the company."
        },
        "name": {
          "type": "string",
          "description": "The name of the company.",
          "title": "Name"
        }
      }
    },
    "Config": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "The unique ID for the config."
        },
        "name": {
          "type": "string",
          "description": "The name of the config.",
          "title": "Name"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "The unique ID for the location."
        },
        "name": {
          "type": "string",
          "description": "The name of the location.",
          "title": "Name"
        }
      }
    },
    "Region": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "The unique ID for the region."
        },
        "name": {
          "type": "string",
          "description": "The name of the region.",
          "title": "Name"
        }
      }
    },
    "Visit": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "The unique ID for the visit."
        },
        "company": {
          "$ref": "#/definitions/Company"
        },
        "location": {
          "$ref": "#/definitions/Location"
        },
        "config": {
          "$ref": "#/definitions/Config"
        },
        "button": {
          "$ref": "#/definitions/Button"
        },
        "config_version": {
          "type": "integer",
          "format": "int32",
          "title": "Config Version",
          "description": "The version of the configuration."
        },
        "state": {
          "type": "string",
          "title": "Visit State",
          "description": "The state that the visit is in."
        },
        "checked_in_at": {
          "type": "string",
          "title": "Checked In At",
          "description": "The datetime the visitor checked in at."
        },
        "checked_out_at": {
          "type": "string",
          "title": "Checked Out At",
          "description": "The datetime the visitor checked out at."
        },
        "updated_at": {
          "type": "string",
          "title": "Updated At",
          "description": "The datetime when the visit was last updated."
        },
        "created_at": {
          "type": "string",
          "title": "Created At",
          "description": "The datetime the visit was created."
        },
        "discarded_at": {
          "type": "string",
          "title": "Discarded At",
          "description": "The datetime when the visit was discarded."
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/receptful"
  },
  "basePath": "/apim/receptful"
}
