{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Logs",
    "description": "Use this connector to query your Azure Monitor Logs across Log Analytics workspace and Application Insights component, to list or visualize results.",
    "version": "4.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/azuremonitorlogs",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/listSubscriptions": {
      "get": {
        "summary": "List subscriptions",
        "description": "Gets a list of all the subscriptions to which the principal has access. ",
        "operationId": "ListSubscriptions",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#list-subscriptions"
        }
      }
    },
    "/{connectionId}/listResourceGroups": {
      "get": {
        "summary": "List resource groups",
        "description": "Lists all the resource groups within the subscription. ",
        "operationId": "ListResourceGroups",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/ResourceGroupListResult"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check Azure Monitor Logs parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#list-resource-groups"
        }
      }
    },
    "/{connectionId}/listResources": {
      "get": {
        "summary": "List resources",
        "description": "Lists all the resource groups within the resource group. ",
        "operationId": "ListResources",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/ResourceItemListResult"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check Azure Monitor Logs parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#list-resources"
        }
      }
    },
    "/{connectionId}/listTimeRangeTypes": {
      "post": {
        "summary": "List time range types",
        "description": "Gets a list of time range types. ",
        "operationId": "ListTimeRangeTypes",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/QueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/TimeRangeListResult"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check Azure Monitor Logs parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#list-time-range-types"
        }
      }
    },
    "/{connectionId}/listRelativeTimeRangeTypes": {
      "post": {
        "summary": "List dynamic time range types",
        "description": "Gets a list of dynamic time range types. ",
        "operationId": "listRelativeTimeRangeTypes",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/TimeRangeListResult"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check Azure Monitor Logs parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#list-dynamic-time-range-types"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/getTimeRangeSelectionControl": {
      "get": {
        "summary": "Returns the control schema according to to the given time range type",
        "description": "Returns the Relative\\Absolute\\Set in query time range control. ",
        "operationId": "getTimeRangeSelectionControl",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "timerangetype",
            "required": true,
            "x-ms-summary": "Time Range type",
            "description": "The Time Range type that the control represents. ",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check Azure Monitor Logs parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#returns-the-control-schema-according-to-to-the-given-time-range-type"
        }
      }
    },
    "/{connectionId}/getTimeRangeTypes": {
      "post": {
        "summary": "Get the supported Time Range Types",
        "description": "Get the supported Time Range Types. Returns 'Relative'\\'Absolute'\\'Set in query'. ",
        "operationId": "getTimeRangeTypes",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "resourcetype",
            "required": true,
            "x-ms-summary": "Resource Type",
            "description": "The resource type of the resource that the query is executed on. ",
            "type": "string"
          },
          {
            "in": "body",
            "name": "query",
            "required": true,
            "x-ms-summary": "Query",
            "description": "The query to check time range filter in. ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/TimeRangeTypesListResult"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check Azure Monitor Logs parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#get-the-supported-time-range-types"
        }
      }
    },
    "/{connectionId}/queryData": {
      "post": {
        "summary": "Run query and list results",
        "description": "Returns each row as its own object. Use this action when you want to work with each row separately in the rest of the workflow. ",
        "operationId": "QueryData",
        "x-ms-visibility": "advanced",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "QueryData",
          "revision": 1
        },
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/QueryParameter"
          },
          {
            "$ref": "#/parameters/TimeRangeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/Table"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check query syntax or other parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#run-query-and-list-results"
        }
      }
    },
    "/{connectionId}/queryDataV2": {
      "post": {
        "summary": "Run query and list results V2",
        "description": "Returns each row as its own object. Use this action when you want to work with each row separately in the rest of the workflow. ",
        "operationId": "QueryDataV2",
        "x-ms-visibility": "advanced",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "QueryData",
          "revision": 2
        },
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/BodyParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/TableV2"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check query syntax or other parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#run-query-and-list-results-v2"
        }
      }
    },
    "/{connectionId}/querySchema": {
      "post": {
        "summary": "Get query schema",
        "description": "Gets the schema for a specific query. ",
        "operationId": "QuerySchema",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "QuerySchema",
          "revision": 1
        },
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/QueryParameter"
          },
          {
            "$ref": "#/parameters/TimeRangeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check query syntax or other parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#get-query-schema"
        }
      }
    },
    "/{connectionId}/querySchemaV2": {
      "post": {
        "summary": "Get query schema",
        "description": "Gets the schema for a specific query. ",
        "operationId": "QuerySchemaV2",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "QuerySchema",
          "revision": 2
        },
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/QueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check query syntax or other parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#get-query-schema"
        }
      }
    },
    "/{connectionId}/visualizeQuery": {
      "post": {
        "summary": "Run query and visualize results",
        "description": "Returns all rows in the result set as a single formatted object. Use this action when you want to use the result set together in the rest of the workflow. ",
        "operationId": "VisualizeQuery",
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "VisualizeQuery",
          "revision": 1
        },
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/QueryParameter"
          },
          {
            "$ref": "#/parameters/TimeRangeParameter"
          },
          {
            "name": "visType",
            "x-ms-summary": "Chart Type",
            "description": "Specify the resulting chart type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Html Table",
              "Pie Chart",
              "Time Chart",
              "Bar Chart"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/VisualizeResults"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check query syntax, chart type that is valid for the query schema or other parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#run-query-and-visualize-results"
        }
      }
    },
    "/{connectionId}/visualizeQueryV2": {
      "post": {
        "summary": "Run query and visualize results V2",
        "description": "Returns all rows in the result set as a single formatted object. Use this action when you want to use the result set together in the rest of the workflow. ",
        "operationId": "VisualizeQueryV2",
        "x-ms-visibility": "advanced",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "VisualizeQuery",
          "revision": 2
        },
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceTypeParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/BodyParameter"
          },
          {
            "name": "visType",
            "x-ms-summary": "Chart Type",
            "description": "Specify the resulting chart type. ",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Html Table",
              "Pie Chart",
              "Time Chart",
              "Bar Chart"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. ",
            "schema": {
              "$ref": "#/definitions/VisualizeResults"
            }
          },
          "400": {
            "description": "Operation has failed. User input is invalid. Please check query syntax, chart type that is valid for the query schema or other parameters data. "
          },
          "default": {
            "description": "Operation has failed. If issue persists please contact Azure support. "
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremonitorlogs/#run-query-and-visualize-results-v2"
        }
      }
    }
  },
  "definitions": {
    "Object": {
      "type": "object"
    },
    "TableV2": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RowV2"
          }
        }
      }
    },
    "RowV2": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "QuerySchemaV2",
        "parameters": {
          "query": {
            "parameter": "query"
          },
          "subscriptions": {
            "parameter": "subscriptions"
          },
          "resourcegroups": {
            "parameter": "resourcegroups"
          },
          "resourcetype": {
            "parameter": "resourcetype"
          },
          "resourcename": {
            "parameter": "resourcename"
          }
        },
        "value-path": "Schema/Items"
      },
      "x-ms-dynamic-properties": {
        "operationId": "QuerySchemaV2",
        "itemValuePath": "Schema/Items",
        "parameters": {
          "query": {
            "parameterReference": "body/query"
          },
          "subscriptions": {
            "parameterReference": "subscriptions"
          },
          "resourcegroups": {
            "parameterReference": "resourcegroups"
          },
          "resourcetype": {
            "parameterReference": "resourcetype"
          },
          "resourcename": {
            "parameterReference": "resourcename"
          }
        }
      }
    },
    "Table": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Row"
          }
        }
      }
    },
    "Row": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "QuerySchema",
        "parameters": {
          "query": {
            "parameter": "query"
          },
          "timerange": {
            "parameter": "timerange"
          },
          "subscriptions": {
            "parameter": "subscriptions"
          },
          "resourcegroups": {
            "parameter": "resourcegroups"
          },
          "resourcetype": {
            "parameter": "resourcetype"
          },
          "resourcename": {
            "parameter": "resourcename"
          }
        },
        "value-path": "Schema/Items"
      }
    },
    "VisualizeResults": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string",
          "format": "byte",
          "x-ms-summary": "Body"
        },
        "attachmentContent": {
          "type": "string",
          "format": "byte",
          "x-ms-summary": "Attachment Content"
        },
        "attachmentName": {
          "type": "string",
          "x-ms-summary": "Attachment Name"
        }
      }
    },
    "SubscriptionListResult": {
      "description": "Subscription list operation response. ",
      "type": "object",
      "properties": {
        "value": {
          "description": "The subscriptions .",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results. ",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "Subscription": {
      "description": "Subscription information. ",
      "type": "object",
      "properties": {
        "id": {
          "description": "The fully qualified Id. For example, /subscriptions/00000000-0000-0000-0000-000000000000. ",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "subscriptionId": {
          "description": "The subscription Id. ",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Subscription Id. "
        },
        "authorizationSource": {
          "description": "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'. ",
          "type": "string",
          "x-ms-summary": "Authorization Source",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ResourceGroupListResult": {
      "description": "List of resource groups. ",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of resource groups. ",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceGroup"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results. ",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ResourceGroup": {
      "description": "Resource group information. ",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource group (e.g. /subscriptions/XXX/resourceGroups/YYY). ",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the resource group. ",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        }
      }
    },
    "ResourceItemListResult": {
      "description": "List of resource items. ",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of resource items. ",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceItem"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results. ",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ResourceItem": {
      "description": "Resource item. ",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource. ",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the resource .",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        }
      }
    },
    "TimeRangeTypesListResult": {
      "description": "List of time range types. ",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of time range types (Relative\\Absolute\\SetInQuery). ",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeRangeItem"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results. ",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "TimeRangeListResult": {
      "description": "List of time range types. ",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of time range. ",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeRangeItem"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results. ",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "TimeRangeItem": {
      "description": "Time range item. ",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the item. ",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the item. ",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptions",
      "in": "query",
      "description": "Select subscription",
      "required": true,
      "x-ms-summary": "Subscription",
      "x-ms-dynamic-values": {
        "operationId": "ListSubscriptions",
        "value-collection": "value",
        "value-path": "subscriptionId",
        "value-title": "displayName"
      },
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "name": "resourcegroups",
      "in": "query",
      "description": "Select resource group",
      "required": true,
      "x-ms-summary": "Resource Group",
      "x-ms-dynamic-values": {
        "operationId": "ListResourceGroups",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "subscriptions": {
            "parameter": "subscriptions"
          }
        }
      },
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+$"
    },
    "ResourceTypeParameter": {
      "name": "resourcetype",
      "x-ms-summary": "Resource Type",
      "description": "Select Resource Type",
      "in": "query",
      "required": true,
      "enum": [
        "Log Analytics Workspace",
        "Application Insights"
      ],
      "type": "string"
    },
    "ResourceNameParameter": {
      "name": "resourcename",
      "in": "query",
      "description": "Select Resource",
      "required": true,
      "x-ms-summary": "Resource Name",
      "x-ms-dynamic-values": {
        "operationId": "ListResources",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "subscriptions": {
            "parameter": "subscriptions"
          },
          "resourcegroups": {
            "parameter": "resourcegroups"
          },
          "resourcetype": {
            "parameter": "resourcetype"
          }
        }
      },
      "type": "string"
    },
    "QueryParameter": {
      "name": "query",
      "x-ms-summary": "Query",
      "required": true,
      "description": "Specify the query you would like to run",
      "in": "body",
      "schema": {
        "type": "string"
      }
    },
    "TimeRangeParameter": {
      "name": "timerange",
      "in": "query",
      "description": "Select Time Range",
      "required": true,
      "x-ms-summary": "Time Range",
      "x-ms-dynamic-values": {
        "operationId": "ListTimeRangeTypes",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "resourcetype": {
            "parameter": "resourcetype"
          },
          "query": {
            "parameter": "query"
          }
        }
      },
      "type": "string"
    },
    "BodyParameter": {
      "name": "body",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "description": "Time range selection parameters. ",
        "properties": {
          "query": {
            "type": "string",
            "x-ms-summary": "Query",
            "description": "Specify the query you would like to run. ",
            "title": "Query",
            "x-ms-visibility": "important"
          },
          "timerangetype": {
            "type": "string",
            "description": "Select Time Range type. ",
            "x-ms-summary": "Time Range Type",
            "x-ms-dynamic-values": {
              "operationId": "getTimeRangeTypes",
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "resourcetype": {
                  "parameter": "resourcetype"
                },
                "query": {
                  "parameter": "query"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "getTimeRangeTypes",
              "itemsPath": "value",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "resourcetype": {
                  "parameterReference": "resourcetype"
                },
                "query": {
                  "parameterReference": "body/query"
                }
              }
            }
          },
          "timerange": {
            "type": "object",
            "description": "Time Range",
            "x-ms-dynamic-schema": {
              "operationId": "getTimeRangeSelectionControl",
              "parameters": {
                "timerangetype": {
                  "parameter": "timerangetype"
                }
              },
              "value-path": "schema"
            },
            "x-ms-dynamic-properties": {
              "operationId": "getTimeRangeSelectionControl",
              "itemValuePath": "schema",
              "parameters": {
                "timerangetype": {
                  "parameterReference": "body/timerangetype"
                }
              }
            }
          }
        },
        "required": [
          "query",
          "timerangetype",
          "timerange"
        ]
      }
    }
  },
  "responses": {},
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/monitor/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azuremonitorlogs"
  }
}
