{
  "swagger": "2.0",
  "info": {
    "title": "IA-Connect Mainframe",
    "description": "IA-Connect is a Robotic Process Automation (RPA) platform which adds RPA functionality from the Cloud to on-premises virtual machines or over Citrix or Microsoft Remote Desktop (RDS) connections. This is the module for automating 5250 and 3270 Mainframe sessions using Terminal Emulation applications that support the HLLAPI API.",
    "version": "9.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Ultima Labs",
      "url": "https://www.ultima.com/ultima-labs",
      "email": "IAConnect@ultima.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/iaconnectmainframe",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ultima.com/ultima-labs"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ultima.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Productivity"
    }
  ],
  "paths": {
    "/{connectionId}/HLLAPI/HLLAPISetHLLAPIDLL": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Set terminal emulation HLLAPI DLL",
        "description": "Starts the IA-Connect HLLAPI subsystem (IA-HLLAPI) and connects it to the specified Terminal Emulator HLLAPI DLL (a component of the terminal emulation software being used to connect to Mainframe sessions).",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPISetHLLAPIDLL",
            "description": "Inputs for IA-Connect HLLAPISetHLLAPIDLL action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "DLLFilename": {
                  "type": "string",
                  "title": "HLLAPI DLL filename",
                  "description": "The full file path to the HLLAPI DLL provided by the emulator."
                },
                "IAHLLAPIPath": {
                  "type": "string",
                  "title": "IA-HLLAPI filename",
                  "description": "The optional location of the IA-HLLAPI 32bit COM DLL used as a COM interface to the specified HLLAPI DLL (only if the HLLAPI DLL is 32bit). This is typically not required as IA-Connect has a built-in HLLAPI DLL named 'IA-HLLAPI.DLL' which is used to setup the COM interface to the emulator's HLLAPI DLL. By default, IA-Connect extracts this to the '%TEMP%\\IA-Connect' directory in the user's profile.",
                  "x-ms-visibility": "advanced"
                },
                "EntryPointName": {
                  "type": "string",
                  "title": "Entry point name",
                  "description": "The DLL entry point name. This varies depending on the emulator software being used and if left blank then IA-Connect will try the following common entry points: hllapi, HLLAPI, HLLAPI32, EHLLAPI, EHLLAPI32."
                },
                "IsEnhancedInterface": {
                  "type": "boolean",
                  "default": false,
                  "title": "Is enhanced interface",
                  "description": "This parameter should be set to true if the DLL uses the HLLAPI enhanced interface."
                },
                "Is64BitHLLAPIDLL": {
                  "type": "boolean",
                  "default": false,
                  "title": "Is 64bit HLLAPI DLL",
                  "description": "This parameter should be set to true if the HLLAPI DLL you are trying to load is 64bit."
                },
                "UseCOMFor64BitHLLAPIDLL": {
                  "type": "boolean",
                  "default": false,
                  "title": "Use COM for 64bit HLLAPI DLL",
                  "description": "Set to true if the HLLAPI DLL you are trying to load is 64bit and you want to run it via an out-of-process COM DLLSurrogate instead of calling directly (in memory) from IA-Connect.",
                  "x-ms-visibility": "advanced"
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "DLLFilename",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPISetHLLAPIDLL",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#set-terminal-emulation-hllapi-dll"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIDispose": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Dispose of terminal emulation HLLAPI DLL",
        "description": "Shuts down any running IA-Connect HLLAPI subsystem (IA-HLLAPI).",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIDispose",
            "description": "Inputs for IA-Connect HLLAPIDispose action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPIDispose",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#dispose-of-terminal-emulation-hllapi-dll"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIConnect": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Connect to terminal emulation session",
        "description": "Connects any running IA-Connect HLLAPI subsystem (IA-HLLAPI) to the specified connected Mainframe session Id. The session Id is an Id assigned by the terminal emulator you are using for Mainframe connections. The Mainframe session must be running before you connect to it using this action.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIConnect",
            "description": "Inputs for IA-Connect HLLAPIConnect action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPIConnect",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#connect-to-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIGetConnectStatus": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get terminal emulation connection status",
        "description": "Returns the current terminal emulation connection state within the specified session.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIGetConnectStatus",
            "description": "Inputs for IA-Connect HLLAPIGetConnectStatus action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "ConnectedToSession": {
                  "type": "boolean",
                  "title": "Connected to session",
                  "description": "Returns true if you are connected to the specified session ID, or false if not."
                },
                "SystemBusy": {
                  "type": "boolean",
                  "title": "System busy",
                  "description": "Returns true if the Mainframe system is reporting that it is currently busy, or false if not."
                },
                "KeyboardLocked": {
                  "type": "boolean",
                  "title": "Keyboard locked",
                  "description": "Returns true if the Mainframe session is reporting that the keyboard is currently locked, or false if not."
                },
                "SessionInUseByAnotherHLLAPIApplication": {
                  "type": "boolean",
                  "title": "Session in use by another HLLAPI application",
                  "description": "Returns true if the Mainframe session is currently in use by another HLLAPI application, or false if not."
                },
                "HLLAPIThreadID": {
                  "type": "integer",
                  "format": "int32",
                  "title": "HLLAPI thread ID",
                  "description": "Reports the HLLAPI thread ID within IA-Connect. This output is for diagnostic purposes only."
                },
                "COMThreadID": {
                  "type": "integer",
                  "format": "int32",
                  "title": "COM thread ID",
                  "description": "Reports the COM thread ID within IA-Connect. This output is for diagnostic purposes only."
                },
                "CallCount": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Call count",
                  "description": "Reports the number of HLLAPI actions performed by IA-Connect in this session. This output is for diagnostic purposes only."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIGetConnectStatus",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#get-terminal-emulation-connection-status"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIDisconnect": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Disconnect from terminal emulation session",
        "description": "Disconnects the running IA-Connect HLLAPI subsystem (IA-HLLAPI) from a specified connected Mainframe session Id. The session Id is an Id assigned by the terminal emulator you are using for Mainframe connections.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIDisconnect",
            "description": "Inputs for IA-Connect HLLAPIDisconnect action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPIDisconnect",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#disconnect-from-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPISetCursorPos": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Set terminal emulation cursor position",
        "description": "Sets the current cursor position in a Mainframe session to the specified position.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPISetCursorPos",
            "description": "Inputs for IA-Connect HLLAPISetCursorPos action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "CursorRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor row index",
                  "description": "The cursor row index at which to set the cursor."
                },
                "CursorColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor column index",
                  "description": "The cursor column index at which to set the cursor."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "CursorRowIndex",
                "CursorColIndex",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPISetCursorPos",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#set-terminal-emulation-cursor-position"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIGetCursorPos": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get terminal emulation cursor position",
        "description": "Gets the current cursor position in a Mainframe session.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIGetCursorPos",
            "description": "Inputs for IA-Connect HLLAPIGetCursorPos action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "CursorRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor row index",
                  "description": "The current cursor row index."
                },
                "CursorColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor column index",
                  "description": "The current cursor column index."
                },
                "CursorPos": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor position",
                  "description": "The absolute cursor position. For example, assuming a 24 row by 80 column session, the first column of the first row would be position 1 and the first column of the second row would be position 81."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIGetCursorPos",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#get-terminal-emulation-cursor-position"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPISendString": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Send string to terminal emulation session",
        "description": "Sends a string to a Mainframe session at the current cursor position. If you wish to send a string to a specific cursor position, you can use the action 'Send string to terminal emulation session at position' instead.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPISendString",
            "description": "Inputs for IA-Connect HLLAPISendString action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "InputString": {
                  "type": "string",
                  "title": "Input string",
                  "description": "The string to be input. This supports a full set of keyboard symbols, for example '@E' for enter."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "InputString",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPISendString",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#send-string-to-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPISendPassword": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Send password to terminal emulation session",
        "description": "Sends a password to a Mainframe session at the current cursor position. If you wish to send a password to a specific cursor position, you can use the action 'Send password to terminal emulation session at position' instead.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPISendPassword",
            "description": "Inputs for IA-Connect HLLAPISendPassword action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "InputPassword": {
                  "type": "string",
                  "format": "password",
                  "title": "Input password",
                  "description": "The password to be input. This supports a full set of keyboard symbols, for example '@E' for enter."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "InputPassword",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPISendPassword",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#send-password-to-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPISendStringAtCursorPos": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Send string to terminal emulation session at position",
        "description": "Sends a string to a Mainframe session at the specified cursor position.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPISendStringAtCursorPos",
            "description": "Inputs for IA-Connect HLLAPISendStringAtCursorPos action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "CursorRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor row index",
                  "description": "The current cursor row index."
                },
                "CursorColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor column index",
                  "description": "The current cursor column index."
                },
                "InputString": {
                  "type": "string",
                  "title": "Input string",
                  "description": "The string to be input. This supports a full set of keyboard symbols, for example '@E' for enter."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "CursorRowIndex",
                "CursorColIndex",
                "InputString",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPISendStringAtCursorPos",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#send-string-to-terminal-emulation-session-at-position"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPISendPasswordAtCursorPos": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Send password to terminal emulation session at position",
        "description": "Sends a password to a Mainframe session at the specified cursor position.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPISendPasswordAtCursorPos",
            "description": "Inputs for IA-Connect HLLAPISendPasswordAtCursorPos action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "CursorRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor row index",
                  "description": "The current cursor row index."
                },
                "CursorColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor column index",
                  "description": "The current cursor column index."
                },
                "InputPassword": {
                  "type": "string",
                  "format": "password",
                  "title": "Input password",
                  "description": "The password to be input. This supports a full set of keyboard symbols, for example '@E' for enter."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "CursorRowIndex",
                "CursorColIndex",
                "InputPassword",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPISendPasswordAtCursorPos",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#send-password-to-terminal-emulation-session-at-position"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIReadScreenAtCursorPos": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Read terminal emulation screen at cursor position",
        "description": "Reads the specified number of characters from the Mainframe session, starting at the specified cursor position.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIReadScreenAtCursorPos",
            "description": "Inputs for IA-Connect HLLAPIReadScreenAtCursorPos action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "CursorRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor row index",
                  "description": "The current cursor row index."
                },
                "CursorColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Cursor column index",
                  "description": "The current cursor column index."
                },
                "ReadScreenLength": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Number of characters to read",
                  "description": "The number of characters to read from the Mainframe session."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "CursorRowIndex",
                "CursorColIndex",
                "ReadScreenLength",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "ScreenContents": {
                  "type": "string",
                  "title": "Screen contents",
                  "description": "The screen contents that was read from the Mainframe session."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIReadScreenAtCursorPos",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#read-terminal-emulation-screen-at-cursor-position"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIQuerySessionStatus": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Query terminal emulation session status",
        "description": "Returns information about the connected Mainframe session. Some terminal emulators may not return values for all outputs.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIQuerySessionStatus",
            "description": "Inputs for IA-Connect HLLAPIQuerySessionStatus action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "SessionLongName": {
                  "type": "string",
                  "title": "Session long name",
                  "description": "The Mainframe session long name, for example SessionA."
                },
                "SessionType": {
                  "type": "string",
                  "title": "Session type",
                  "description": "The Mainframe session type, for example 3270 or 5250."
                },
                "NumberOfRows": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Number of rows",
                  "description": "The number of rows in the display."
                },
                "NumberOfCols": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Number of columns",
                  "description": "The number of columns in the display."
                },
                "CodePage": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Code page",
                  "description": "The code page, indicating the character encoding being used."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIQuerySessionStatus",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#query-terminal-emulation-session-status"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIReadScreenRows": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Read terminal emulation screen rows",
        "description": "Reads the screen rows from a specified Mainframe session. This action is commonly used to read larger quantities of data which can then be filtered if necessary.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIReadScreenRows",
            "description": "Inputs for IA-Connect HLLAPIReadScreenRows action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "StartRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Start row index",
                  "description": "The start row index to begin reading from."
                },
                "EndRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "End row index",
                  "description": "The end row index to stop reading at."
                },
                "NumberOfRowsInSession": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Number of rows in session",
                  "description": "The number of rows being displayed by the session. If set to 0, IA-Connect will query the session to retrieve the number of rows."
                },
                "NumberOfColumnsInSession": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Number of columns in session",
                  "description": "The number of columns being displayed by the session. If set to 0, IA-Connect will query the session to retrieve the number of columns."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "StartRowIndex",
                "EndRowIndex",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "ScreenRowsJSON": {
                  "type": "string",
                  "title": "Screen rows JSON",
                  "description": "The rows read from the Mainframe session, in JSON format."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIReadScreenRows",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#read-terminal-emulation-screen-rows"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIIsKeyboardUnlocked": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get is terminal emulation keyboard unlocked",
        "description": "Returns whether the terminal emulator is reporting that the keyboard is unlocked. The output of this action is dependent on how the specific emulator has implemented HLLAPI and the output may vary from emulator to emulator.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIIsKeyboardUnlocked",
            "description": "Inputs for IA-Connect HLLAPIIsKeyboardUnlocked action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "KeyBoardIsUnlocked": {
                  "type": "boolean",
                  "title": "Keyboard is unlocked",
                  "description": "Returns true if the terminal emulator is reporting that the keyboard is unlocked."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIIsKeyboardUnlocked",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#get-is-terminal-emulation-keyboard-unlocked"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIWaitForKeyboardUnlocked": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Wait for terminal emulation keyboard unlocked",
        "description": "Waits for the terminal emulator to report that the keyboard is unlocked. The output of this action is dependent on how the specific emulator has implemented HLLAPI and the output may vary from emulator to emulator.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIWaitForKeyboardUnlocked",
            "description": "Inputs for IA-Connect HLLAPIWaitForKeyboardUnlocked action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SecondsToWait": {
                  "type": "number",
                  "format": "double",
                  "default": 5,
                  "title": "Seconds to wait",
                  "description": "The maximum number of seconds to wait for the terminal emulator to report that the keyboard is unlocked."
                },
                "DeltaSecondsToWait": {
                  "type": "number",
                  "format": "double",
                  "default": 0.05,
                  "title": "Delta seconds to wait",
                  "description": "The number of seconds between each query to the terminal emulator to check the keyboard unlock status.",
                  "x-ms-visibility": "advanced"
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SecondsToWait",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "KeyBoardIsUnlocked": {
                  "type": "boolean",
                  "title": "Keyboard is unlocked",
                  "description": "Returns true if the terminal emulator is reporting that the keyboard is unlocked."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIWaitForKeyboardUnlocked",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#wait-for-terminal-emulation-keyboard-unlocked"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIWaitForSystemReady": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Wait for terminal emulation system ready",
        "description": "Waits for the terminal emulator to report that the system is ready. The output of this action is dependent on how the specific emulator has implemented HLLAPI and the output may vary from emulator to emulator.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIWaitForSystemReady",
            "description": "Inputs for IA-Connect HLLAPIWaitForSystemReady action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SecondsToWait": {
                  "type": "number",
                  "format": "double",
                  "default": 5,
                  "title": "Seconds to wait",
                  "description": "The maximum number of seconds to wait for the terminal emulator to report that the system is ready."
                },
                "DeltaSecondsToWait": {
                  "type": "number",
                  "format": "double",
                  "default": 0.05,
                  "title": "Delta seconds to wait",
                  "description": "The number of seconds between each query to the terminal emulator to check the system status.",
                  "x-ms-visibility": "advanced"
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SecondsToWait",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "SystemReady": {
                  "type": "boolean",
                  "title": "System is ready",
                  "description": "Returns true if the terminal emulator is reporting that the system is ready."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIWaitForSystemReady",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#wait-for-terminal-emulation-system-ready"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIPressReset": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Send reset key to terminal emulation session",
        "description": "Sends a reset key to the terminal emulator session. This will reset all input and will clear an invalid input state.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIPressReset",
            "description": "Inputs for IA-Connect HLLAPIPressReset action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPIPressReset",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#send-reset-key-to-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPISearchForString": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Search for string in terminal emulation session",
        "description": "Searches for a specified string in the current display of the terminal emulator. If the string is found, it's position and index will be returned.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPISearchForString",
            "description": "Inputs for IA-Connect HLLAPISearchForString action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "SearchString": {
                  "type": "string",
                  "title": "Search string",
                  "description": "The string to be searched for."
                },
                "SearchEntireScreen": {
                  "type": "boolean",
                  "default": true,
                  "title": "Search entire screen",
                  "description": "Should the entire screen be searched? If set to false then the 'Search start row index' and 'Search start column index' inputs can be used to restrict the search area."
                },
                "SearchStartRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Search start row index",
                  "description": "The row index at which to start searching for the specified string, starting from 1. This value will only be used if 'Search entire screen' is set to false."
                },
                "SearchStartColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Search start column index",
                  "description": "The column index at which to start searching for the specified string, starting from 1. This value will only be used if 'Search entire screen' is set to false."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "SearchString",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "StringFound": {
                  "type": "boolean",
                  "title": "String found",
                  "description": "Returns true if the specified string was found."
                },
                "StringFoundPosition": {
                  "type": "integer",
                  "format": "int32",
                  "title": "String found position",
                  "description": "If the string was found, this parameter holds the absolute position of the first character in the search string. For example, assuming a 24 row by 80 column session, the position would be returned as 321 if the string was found in the first column of the fifth row as the fifth row would contain positions 321 to 400."
                },
                "StringFoundRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "String found row index",
                  "description": "If the string was found, this parameter holds the row index of the first character in the search string."
                },
                "StringFoundColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "String found column index",
                  "description": "If the string was found, this parameter holds the column index of the first character in the search string."
                }
              }
            }
          }
        },
        "operationId": "HLLAPISearchForString",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#search-for-string-in-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIWaitForString": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Wait for string in terminal emulation session",
        "description": "Waits for a specified string to be displayed in the terminal emulator session. This action can be used when moving between screens to validate that you are on the correct screen.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIWaitForString",
            "description": "Inputs for IA-Connect HLLAPIWaitForString action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "SessionID": {
                  "type": "string",
                  "title": "Session ID",
                  "description": "The single character Mainframe session ID, for example A."
                },
                "SearchString": {
                  "type": "string",
                  "title": "Search string",
                  "description": "The string to wait for."
                },
                "SearchEntireScreen": {
                  "type": "boolean",
                  "default": true,
                  "title": "Search entire screen",
                  "description": "Should the entire screen be searched? If set to false then the 'Search start row index' and 'Search start column index' inputs can be used to restrict the search area."
                },
                "SearchStartRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Search start row index",
                  "description": "The row index at which to start searching for the specified string, starting from 1. This value will only be used if 'Search entire screen' is set to false."
                },
                "SearchStartColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Search start column index",
                  "description": "The column index at which to start searching for the specified string, starting from 1. This value will only be used if 'Search entire screen' is set to false."
                },
                "SecondsToWait": {
                  "type": "number",
                  "format": "double",
                  "default": 5,
                  "title": "Seconds to wait",
                  "description": "The maximum number of seconds to wait for the specified string to be displayed."
                },
                "DeltaSecondsToWait": {
                  "type": "number",
                  "format": "double",
                  "default": 0.05,
                  "title": "Delta seconds to wait",
                  "description": "The number of seconds between each search for the specified string.",
                  "x-ms-visibility": "advanced"
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "SessionID",
                "SearchString",
                "SecondsToWait",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "StringFound": {
                  "type": "boolean",
                  "title": "String found",
                  "description": "Returns true if the specified string was found before the maximum wait period."
                },
                "StringFoundPosition": {
                  "type": "integer",
                  "format": "int32",
                  "title": "String found position",
                  "description": "If the string was found, this parameter holds the absolute position of the first character in the search string. For example, assuming a 24 row by 80 column session, the position would be returned as 321 if the string was found in the first column of the fifth row as the fifth row would contain positions 321 to 400."
                },
                "StringFoundRowIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "String found row index",
                  "description": "If the string was found, this parameter holds the row index of the first character in the search string."
                },
                "StringFoundColIndex": {
                  "type": "integer",
                  "format": "int32",
                  "title": "String found column index",
                  "description": "If the string was found, this parameter holds the column index of the first character in the search string."
                }
              }
            }
          }
        },
        "operationId": "HLLAPIWaitForString",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#wait-for-string-in-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPISetSessionParameter": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Set session parameter in terminal emulation session",
        "description": "This action sets an advanced HLLAPI session parameter. This action should only be used if you are familiar with HLLAPI session parameters.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPISetSessionParameter",
            "description": "Inputs for IA-Connect HLLAPISetSessionParameter action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Parameter": {
                  "type": "string",
                  "title": "Parameter",
                  "description": "The HLLAPI parameter(s) to set. Multiple parameters can be separated by commas or spaces."
                },
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "Parameter",
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPISetSessionParameter",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#set-session-parameter-in-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPIResetSystem": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Reset terminal emulation session",
        "description": "Resets the current Mainframe session. The action disconnects IA-Connect Agent from the session and undoes any session parameters that have been set. After calling this action you will need to re-connect to the session by using the 'Connect to Session' action in order to continue interacting with it.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPIResetSystem",
            "description": "Inputs for IA-Connect HLLAPIResetSystem action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "operationId": "HLLAPIResetSystem",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#reset-terminal-emulation-session"
        }
      }
    },
    "/{connectionId}/HLLAPI/HLLAPICopyOperatorInformationArea": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get terminal emulation Operator Information Area (OIA)",
        "description": "Returns the Operator Information Area displayed by the terminal emulator. This is the line at the bottom of the terminal emulator screen and commonly indicates status information such as whether the system is waiting or is in an invalid input state.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "HLLAPICopyOperatorInformationArea",
            "description": "Inputs for IA-Connect HLLAPICopyOperatorInformationArea action",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Workflow": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "default": "@{workflow()}",
                  "title": "Workflow",
                  "description": "Add the following expression here: workflow()"
                }
              },
              "required": [
                "Workflow"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "OIAFormat": {
                  "type": "string",
                  "title": "OIA format",
                  "description": "The Operator Information Area (OIA) format, for example PC400."
                },
                "SystemWait": {
                  "type": "boolean",
                  "title": "System wait",
                  "description": "Returns true if the terminal emulator is reporting that the system is currently waiting for an action to complete, or false if not."
                },
                "CAPS": {
                  "type": "boolean",
                  "title": "CAPS",
                  "description": "Returns true if the terminal emulator is reporting that the CAPS key is currently pressed, or false if not."
                },
                "ShiftKey": {
                  "type": "boolean",
                  "title": "Shift key",
                  "description": "Returns true if the terminal emulator is reporting that the SHIFT key is currently pressed, or false if not."
                },
                "SubsystemReady": {
                  "type": "boolean",
                  "title": "Subsystem ready",
                  "description": "Returns true if the terminal emulator is reporting that the subsystem is ready, or false if not."
                },
                "InsertMode": {
                  "type": "boolean",
                  "title": "Insert mode",
                  "description": "Returns true if the terminal emulator is reporting that insert mode is currently enabled, or false if not."
                },
                "InvalidInput": {
                  "type": "boolean",
                  "title": "Invalid input",
                  "description": "Returns true if the terminal emulator is reporting that the Mainframe session is currently in an invalid input state, or false if not."
                },
                "InputType": {
                  "type": "string",
                  "title": "Input type",
                  "description": "The Mainframe session input type. This can be either APL, Katakana, Alphanumeric, Hiragana or Double-byte."
                }
              }
            }
          }
        },
        "operationId": "HLLAPICopyOperatorInformationArea",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/iaconnectmainframe/#get-terminal-emulation-operator-information-area-(oia)"
        }
      }
    }
  },
  "definitions": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "RESTAPIKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/iaconnectmainframe"
  }
}
