{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "SparkPost",
    "description": "SparkPost API allows you to manage email recipient lists and send emails.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/sparkpost",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/recipient-lists": {
      "get": {
        "tags": [
          "SparkPost"
        ],
        "summary": "Get all the lists",
        "description": "Find all the lists for the current user",
        "operationId": "ListRecipientLists",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListRecipientListsResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sparkpost/#get-all-the-lists"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "SparkPost"
        ],
        "summary": "Create recipient list",
        "description": "Create recipient list",
        "operationId": "CreateRecipientList",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recipientList",
            "in": "body",
            "description": "The recipient list to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecipientList"
            },
            "x-ms-summary": "New Recipient List"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sparkpost/#create-recipient-list"
        }
      }
    },
    "/{connectionId}/add-user/recipient-lists/{recipientListId}": {
      "put": {
        "tags": [
          "SparkPost"
        ],
        "summary": "Add user to recipient list",
        "description": "Add user to recipient list",
        "operationId": "AddUserToRecipientList",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recipientListId",
            "in": "path",
            "description": "Select a SparkPost recipient list",
            "required": true,
            "x-ms-summary": "Recipient",
            "x-ms-dynamic-values": {
              "operationId": "ListRecipientLists",
              "value-collection": "results",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "addUserToRecipientListRequest",
            "in": "body",
            "description": "The info of the recipient to add to the list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddUserToRecipientListRequest"
            },
            "x-ms-summary": "Recipient to add to list"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sparkpost/#add-user-to-recipient-list"
        }
      }
    },
    "/{connectionId}/templates": {
      "get": {
        "tags": [
          "SparkPost"
        ],
        "summary": "Get all the stored templates",
        "description": "Find all the stored templates for the current user",
        "operationId": "ListTemplates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTemplatesResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sparkpost/#get-all-the-stored-templates"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/delete-user/recipient-lists/{recipientListId}": {
      "put": {
        "tags": [
          "SparkPost"
        ],
        "summary": "Delete user from recipient list",
        "description": "Delete user from recipient list",
        "operationId": "DeleteUserFromRecipientList",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recipientListId",
            "in": "path",
            "description": "Select a SparkPost recipient list",
            "required": true,
            "x-ms-summary": "Recipient",
            "x-ms-dynamic-values": {
              "operationId": "ListRecipientLists",
              "value-collection": "results",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "deleteUserRequest",
            "in": "body",
            "description": "The email address to remove from the list",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteUserFromRecipientListRequest"
            },
            "x-ms-summary": "Email address of the user to remove from the list"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sparkpost/#delete-user-from-recipient-list"
        }
      }
    },
    "/{connectionId}/transmissions": {
      "post": {
        "tags": [
          "SparkPost"
        ],
        "summary": "Send email to a recipient list",
        "description": "Send email to a recipient list",
        "operationId": "SendEmailToRecipientList",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRecipientListRequest"
            },
            "x-ms-summary": "Recipient list request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sparkpost/#send-email-to-a-recipient-list"
        }
      }
    },
    "/{connectionId}/transmissions/singleRecipient": {
      "post": {
        "tags": [
          "SparkPost"
        ],
        "summary": "Send email to a recipient",
        "description": "Send email to a recipient",
        "operationId": "SendEmailToRecipient",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRecipientRequest"
            },
            "x-ms-summary": "Send email to a recipient"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sparkpost/#send-email-to-a-recipient"
        }
      }
    },
    "/{connectionId}/trigger/recipient-lists": {
      "get": {
        "tags": [
          "SparkPost"
        ],
        "summary": "When a new recipient list is created",
        "description": "When a new recipient list is created",
        "operationId": "OnNewRecipientList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListRecipientListsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new recipient list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sparkpost/#when-a-new-recipient-list-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "RecipientList": {
      "description": "Maintains a list of recipients to whom a message can be sent",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id",
          "type": "string",
          "x-ms-summary": "Id of the recipient list",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "Name",
          "type": "string",
          "x-ms-summary": "Name of the recipient list",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        },
        "email": {
          "description": "Email address",
          "type": "string",
          "x-ms-summary": "Email address of first recipient",
          "x-ms-visibility": "important"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "ListRecipientListsResponse": {
      "description": "List of this users recipient lists",
      "type": "object",
      "properties": {
        "results": {
          "description": "List of recipient lists",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ListRecipientListsEntry"
          },
          "x-ms-summary": "Recipients",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListRecipientListsEntry": {
      "description": "A SparkPost RecipientListEntry Object",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifier of the list",
          "type": "string",
          "x-ms-summary": "List ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Name of the List",
          "type": "string",
          "x-ms-summary": "List Name",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the List",
          "type": "string",
          "x-ms-summary": "List Description",
          "x-ms-visibility": "important"
        }
      }
    },
    "AddUserToRecipientListRequest": {
      "description": "Request template for adding a user to a recipient list",
      "required": [
        "recipient"
      ],
      "type": "object",
      "properties": {
        "recipient": {
          "$ref": "#/definitions/Recipient"
        }
      }
    },
    "Recipient": {
      "description": "Recipient can be sent emails through Spark Post",
      "required": [
        "address"
      ],
      "type": "object",
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "Address": {
      "description": "Holds the address for a recipient",
      "required": [
        "email"
      ],
      "type": "object",
      "properties": {
        "email": {
          "description": "Email Address",
          "type": "string",
          "x-ms-summary": "Email address",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Name",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTemplatesResponse": {
      "description": "List of users store templates.",
      "type": "object",
      "properties": {
        "results": {
          "description": "List of templates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ListTemplatesEntry"
          },
          "x-ms-summary": "Templates",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListTemplatesEntry": {
      "description": "A SparkPost ListTemplatesEntry Object",
      "type": "object",
      "properties": {
        "id": {
          "description": "Identifier of the template",
          "type": "string",
          "x-ms-summary": "Template ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "Name of the Template",
          "type": "string",
          "x-ms-summary": "Template Name",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Description of the Template",
          "type": "string",
          "x-ms-summary": "Template Description",
          "x-ms-visibility": "important"
        },
        "published": {
          "description": "Indicates whether template published or not.",
          "type": "boolean",
          "x-ms-summary": "Published",
          "x-ms-visibility": "advanced"
        },
        "last_update_time": {
          "description": "Last update time of the Template",
          "type": "string",
          "x-ms-summary": "Last Update Time",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DeleteUserFromRecipientListRequest": {
      "description": "Request template for removing a user to a recipient list",
      "type": "object",
      "properties": {
        "email_address": {
          "description": "Email address",
          "type": "string",
          "x-ms-summary": "Email address",
          "x-ms-visibility": "important"
        }
      }
    },
    "EmailRecipientListRequest": {
      "description": "Request object for email recipient list post.",
      "required": [
        "recipients",
        "content"
      ],
      "type": "object",
      "properties": {
        "recipients": {
          "$ref": "#/definitions/EmailRecipientList"
        },
        "content": {
          "$ref": "#/definitions/EmailTemplateList"
        },
        "campaign_id": {
          "description": "Campaign Id",
          "type": "string",
          "x-ms-summary": "Campaign Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EmailRecipientList": {
      "description": "Recipient list to send email to",
      "required": [
        "list_id"
      ],
      "type": "object",
      "properties": {
        "list_id": {
          "description": "Select a SparkPost recipient list",
          "type": "string",
          "x-ms-summary": "Recipient",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListRecipientLists",
            "value-collection": "results",
            "value-path": "id",
            "value-title": "name"
          }
        }
      }
    },
    "EmailTemplateList": {
      "description": "List of email templates",
      "required": [
        "template_id"
      ],
      "type": "object",
      "properties": {
        "template_id": {
          "description": "Select a SparkPost stored template",
          "type": "string",
          "x-ms-summary": "Template",
          "x-ms-dynamic-values": {
            "operationId": "ListTemplates",
            "value-collection": "results",
            "value-path": "id",
            "value-title": "name"
          }
        }
      }
    },
    "EmailRecipientRequest": {
      "description": "Request object for email recipient post.",
      "required": [
        "content",
        "recipients"
      ],
      "type": "object",
      "properties": {
        "content": {
          "$ref": "#/definitions/EmailTemplateList"
        },
        "recipients": {
          "description": "Recipients",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailRecipient"
          },
          "x-ms-summary": "Recipients"
        }
      }
    },
    "EmailRecipient": {
      "description": "Recipients to send email to",
      "required": [
        "address"
      ],
      "type": "object",
      "properties": {
        "address": {
          "description": "Email address",
          "type": "string",
          "x-ms-summary": "Email address",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.sparkpost.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.sparkpost.com/policies/privacy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/sparkpost"
  }
}
