{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Content Conversion",
    "description": "A service that allows content to be converted from one format to another.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/conversionservice",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/html2text": {
      "post": {
        "tags": [
          "Html"
        ],
        "summary": "Html to text",
        "description": "Converts an HTML document to plain text.",
        "operationId": "HtmlToText",
        "consumes": [
          "text/html"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content",
            "x-ms-summary": "Content",
            "in": "body",
            "description": "The HTML document to be converted to plain text.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HtmlToTextRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HtmlToTextResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/conversionservice/#html-to-text"
        }
      }
    }
  },
  "definitions": {
    "HtmlToTextRequest": {
      "description": "HTML content",
      "x-ms-summary": "HTML content",
      "type": "string",
      "format": "html"
    },
    "HtmlToTextResponse": {
      "description": "The plain text content.",
      "x-ms-summary": "The plain text content.",
      "type": "string"
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/conversionservice"
  }
}
