{
  "swagger": "2.0",
  "info": {
    "title": "CX Cards by Surveyapp",
    "description": "CX Cards by Surveyapp enables you to send surveys and seamlessly integrate real-time customer feedback with your CRM data. This powerful combination enhances your customer service delivery and fosters long-term customer loyalty.",
    "version": "1.0",
    "contact": {
      "name": "Support",
      "url": "https://www.surveyapp.io/",
      "email": "support@surveyapp.io"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cx.cards/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://cx.cards/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Business Management"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/cxcardsbysurveyapp",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1/email-surveys/send": {
      "post": {
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          }
        },
        "summary": "Send Survey",
        "description": "Send Survey to contacts",
        "operationId": "SendSurvey",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "api_key": {
                  "type": "string",
                  "description": "api_key",
                  "title": "API Key",
                  "format": "password"
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "Email"
                },
                "mobile": {
                  "type": "string",
                  "description": "mobile",
                  "title": "Mobile"
                },
                "title": {
                  "type": "string",
                  "description": "Job Title"
                },
                "salutation": {
                  "type": "string",
                  "description": "Salutation"
                },
                "first_name": {
                  "type": "string",
                  "description": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "Last Name"
                },
                "language": {
                  "type": "string",
                  "description": "Language"
                },
                "locale": {
                  "type": "string",
                  "description": "Locale"
                },
                "ref": {
                  "type": "string",
                  "description": "REF (e.g. Case Number)"
                },
                "subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "description": {
                  "type": "string",
                  "description": "Description"
                },
                "record_type": {
                  "type": "string",
                  "description": "Record Type"
                },
                "record_id": {
                  "type": "string",
                  "description": "Record Id"
                },
                "version_number": {
                  "type": "string",
                  "description": "Version Number"
                }
              },
              "required": [
                "api_key"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cxcardsbysurveyapp/#send-survey"
        }
      }
    },
    "/{connectionId}/v1/email-surveys/send-many": {
      "post": {
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "statuses"
                }
              }
            }
          }
        },
        "summary": "Send Satisfaction Survey",
        "description": "Send Satisfaction Survey to your contacts",
        "operationId": "SendSatisfactionSurvey",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "FlowName": {
                  "type": "string",
                  "description": "Flow Name"
                },
                "Configuration": {
                  "type": "string",
                  "description": "Configuration"
                },
                "RecordType": {
                  "type": "string",
                  "description": "Record Type"
                },
                "RecordId": {
                  "type": "string",
                  "description": "Record Id"
                },
                "Reason": {
                  "type": "string",
                  "description": "Reason"
                },
                "Priority": {
                  "type": "string",
                  "description": "Priority"
                },
                "Impact": {
                  "type": "string",
                  "description": "Impact"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                },
                "Phone": {
                  "type": "string",
                  "description": "Phone"
                },
                "Mobile": {
                  "type": "string",
                  "description": "Mobile"
                },
                "Title": {
                  "type": "string",
                  "description": "Job Title"
                },
                "Salutation": {
                  "type": "string",
                  "description": "Salutation"
                },
                "FirstName": {
                  "type": "string",
                  "description": "First Name"
                },
                "MiddleName": {
                  "type": "string",
                  "description": "Middle Name"
                },
                "LastName": {
                  "type": "string",
                  "description": "Last Name"
                },
                "CustomerType": {
                  "type": "string",
                  "description": "Customer Type"
                },
                "AccountId": {
                  "type": "string",
                  "description": "Account ID"
                },
                "ContactId": {
                  "type": "string",
                  "description": "Contact ID"
                },
                "ProductId": {
                  "type": "string",
                  "description": "Product ID"
                },
                "CustomerAssetId": {
                  "type": "string",
                  "description": "Customer AssetI ID"
                },
                "EntitlementId": {
                  "type": "string",
                  "description": "Entitlement ID"
                },
                "ServiceTerritoryId": {
                  "type": "string",
                  "description": "Service Territory ID"
                },
                "WorkOrderTypeId": {
                  "type": "string",
                  "description": "Work Type ID"
                },
                "WorkOrderTaskTypeId": {
                  "type": "string",
                  "description": "Work Order Task Type ID"
                },
                "BookableResourceId": {
                  "type": "string",
                  "description": "Bookable Resource ID"
                },
                "BookableResourceBookingId": {
                  "type": "string",
                  "description": "Bookable Resource Booking ID"
                },
                "ParentType": {
                  "type": "string",
                  "description": "Parent ID"
                },
                "ParentId": {
                  "type": "string",
                  "description": "Parent ID"
                },
                "Origin": {
                  "type": "string",
                  "description": "Origin"
                },
                "Number": {
                  "type": "string",
                  "description": "Case Number or Work Order Number"
                },
                "Subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "Language": {
                  "type": "string",
                  "description": "Language"
                },
                "Locale": {
                  "type": "string",
                  "description": "Locale"
                },
                "Timezone": {
                  "type": "string",
                  "description": "Timezone"
                },
                "OwnerType": {
                  "type": "string",
                  "description": "Owner Type"
                },
                "OwnerId": {
                  "type": "string",
                  "description": "Owner ID"
                },
                "BusinessUnitId": {
                  "type": "string",
                  "description": "Business Unit ID"
                },
                "VersionNumber": {
                  "type": "string",
                  "description": "Version Number"
                },
                "ExtraData": {
                  "type": "string",
                  "description": "Extra Data"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cxcardsbysurveyapp/#send-satisfaction-survey"
        }
      }
    },
    "/{connectionId}/v1/email-surveys/notify-change": {
      "post": {
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "statuses"
                }
              }
            }
          }
        },
        "summary": "Stream Changes",
        "description": "Stream Changes",
        "operationId": "StreamChanges",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "ApiBase": {
                  "type": "string",
                  "description": "ApiBase"
                },
                "ApiKey": {
                  "type": "string",
                  "description": "ApiKey"
                },
                "RecordKey": {
                  "type": "string",
                  "description": "RecordKey"
                },
                "VersionNumber": {
                  "type": "string",
                  "description": "Version Number"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cxcardsbysurveyapp/#stream-changes"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/cxcardsbysurveyapp"
  }
}
