{
  "swagger": "2.0",
  "info": {
    "title": "Abstract IBAN Validator (Independent Publisher)",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_abstriban@gmail.com"
    },
    "description": "Abstract's IBAN Validation for determining the validity and other details of the International Bank Account Number (IBAN).",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/abstractibanvalidato",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "iban": {
                  "type": "string",
                  "description": "The IBAN submitted for validation.",
                  "title": "IBAN"
                },
                "is_valid": {
                  "type": "boolean",
                  "description": "Is true if the IBAN submitted is valid and false if it is not.",
                  "title": "Is valid"
                }
              }
            }
          }
        },
        "summary": "Validate",
        "operationId": "Validate",
        "description": "Determine the validity and other details of the International Bank Account Number (IBAN).",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "iban",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "IBAN",
            "description": "The IBAN to validate. Note that the API will accept white spaces."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/abstractibanvalidato/#validate"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.abstractapi.com/iban-validation"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abstractapi.com/legal/dpa"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Business Intelligence"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/abstractibanvalidato"
  }
}
