{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Smartsheet",
    "description": "Smartsheet is a powerful work management and collaboration tool that lets you easily track and manage your work so you  and your team can be more productive than ever.  Use it to collaborate with others, track progress on any project, automate processes, and better structure your work.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/smartsheet",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/sheets": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "List the sheets",
        "description": "Get a list of the sheets.",
        "operationId": "ListSheets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "optionalFolderId",
            "in": "query",
            "description": "The unique id of the folder containing the sheets. If not specified, will default to all.",
            "required": false,
            "x-ms-summary": "Folder Id (defaults to all)",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[Sheet]"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#list-the-sheets"
        }
      }
    },
    "/{connectionId}/new_trigger/sheets": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "When a new sheet is created",
        "description": "Triggers when a new sheet is created.",
        "operationId": "OnNewSheet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "optionalFolderId",
            "in": "query",
            "description": "The unique id of the folder containing the sheets. If not specified, will default to all.",
            "required": false,
            "x-ms-summary": "Folder Id (defaults to all)",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[Sheet]"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new sheet.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#when-a-new-sheet-is-created"
        }
      }
    },
    "/{connectionId}/updated_trigger/sheets": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "When any sheet is updated",
        "description": "Triggers when any sheet is updated.",
        "operationId": "OnUpdatedSheet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "optionalFolderId",
            "in": "query",
            "description": "The unique id of the folder containing the sheets. If not specified, will default to all.",
            "required": false,
            "x-ms-summary": "Folder (defaults to all)",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[Sheet]"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a sheet.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#when-any-sheet-is-updated"
        }
      }
    },
    "/{connectionId}/new_comment_trigger/sheets/{sheetId}/discussions": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "When a comment is added to a sheet",
        "description": "Triggers when a comment is added to a specific sheet.",
        "operationId": "OnNewComment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[DiscussionComment]"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a comment a sheet.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#when-a-comment-is-added-to-a-sheet"
        }
      }
    },
    "/{connectionId}/sheets/{sheetId}": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Get a sheet",
        "description": "Get a specific sheet.",
        "operationId": "GetSheet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "columns",
            "in": "query",
            "description": "The list of columns to return",
            "required": false,
            "x-ms-summary": "Comma separated columns to return",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SheetWithRows"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#get-a-sheet"
        }
      }
    },
    "/{connectionId}/sheets/{sheetId}/columns": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Get the columns of a sheet",
        "description": "Get the columns of a specific sheet.",
        "operationId": "GetColumns",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[Column]"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#get-the-columns-of-a-sheet"
        }
      }
    },
    "/{connectionId}/remove/sheets/{sheetId}/columns": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Get the columns of a sheet (dynamic schema)",
        "description": "Get the columns of a specific sheet in dynamic schema format.",
        "operationId": "GetColumnsSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#get-the-columns-of-a-sheet-(dynamic-schema)"
        }
      }
    },
    "/{connectionId}/sheets/{sheetId}/rows": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Get a sheet data (dynamic schema)",
        "description": "Get a specific sheet data.",
        "operationId": "GetSheetData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "columns",
            "in": "query",
            "description": "The list of columns to return",
            "required": false,
            "x-ms-summary": "Comma separated columns to return",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RowsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#get-a-sheet-data-(dynamic-schema)"
        }
      },
      "post": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Insert row",
        "description": "Insert a row into a specific sheet.",
        "operationId": "InsertRow",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "row",
            "in": "body",
            "description": "The row to insert.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RowPost"
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InsertRowResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#insert-row"
        }
      }
    },
    "/{connectionId}/updated_trigger/sheets/{sheetId}": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "When a sheet is updated",
        "description": "Triggers when a specific sheet is updated.",
        "operationId": "OnUpdatedSpecificSheet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "columns",
            "in": "query",
            "description": "The comma separateed list of columns to return.",
            "required": false,
            "x-ms-summary": "Columns to Return",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[SheetWithRows]"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update the selected sheet.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#when-a-sheet-is-updated"
        }
      }
    },
    "/{connectionId}/returnFakeRoot": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Gets the root folder for the file picker",
        "description": "Gets the root folder for the file picker",
        "operationId": "ListAllRootFolders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetaData"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#gets-the-root-folder-for-the-file-picker"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/folders/{id}/folders": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Get subfolders of a folder",
        "description": "Get subfolders of a specific folder.",
        "operationId": "ListSubFolders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the folder.",
            "required": true,
            "x-ms-summary": "Folder Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "rootFolderToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[Folder]"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#get-subfolders-of-a-folder"
        }
      }
    },
    "/{connectionId}/remove/folders/{id}": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Gets a folders items for the file picker",
        "description": "Gets a folders items for the file picker",
        "operationId": "ListFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the parent folder",
            "required": true,
            "x-ms-summary": "Root Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "rootFolderToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetaData"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#gets-a-folders-items-for-the-file-picker"
        }
      }
    },
    "/{connectionId}/sheets/{sheetId}/discussions": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Get discussions for a sheet",
        "description": "Get the discussions for a specific sheet.",
        "operationId": "GetDiscussionsForSheet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[GetDiscussionResponse]"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#get-discussions-for-a-sheet"
        }
      },
      "post": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Add a discussion to a sheet",
        "description": "Add a discussion to a sheet",
        "operationId": "AddDiscussionToSheet",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "Sheet to add a discussion to",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "discussion",
            "in": "body",
            "description": "Discussion",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Discussion"
            },
            "x-ms-summary": "Discussion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiscussionResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#add-a-discussion-to-a-sheet"
        }
      }
    },
    "/{connectionId}/sheets/{sheetId}/rows/{rowId}/discussions": {
      "post": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Add a discussion to a row",
        "description": "Add a discussion to a specific row in a sheet.",
        "operationId": "AddDiscussionToRow",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "rowId",
            "in": "path",
            "description": "The unique id of the row.",
            "required": true,
            "x-ms-summary": "Row Id",
            "x-ms-dynamic-values": {
              "operationId": "GetSheet",
              "parameters": {
                "sheetId": {
                  "parameter": "sheetId"
                }
              },
              "value-collection": "rows",
              "value-path": "id",
              "value-title": "rowNumber"
            },
            "type": "string"
          },
          {
            "name": "discussion",
            "in": "body",
            "description": "Discussion",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Discussion"
            },
            "x-ms-summary": "Discussion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiscussionResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#add-a-discussion-to-a-row"
        }
      }
    },
    "/{connectionId}/row_created_trigger/sheets/{sheetId}": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "When a new row is created",
        "description": "Triggers when a new row is created in a specific sheet.",
        "operationId": "OnRowCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "columns",
            "in": "query",
            "description": "The comma separated list of columns.",
            "required": false,
            "x-ms-summary": "Columns",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RowResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a row to the selected sheet.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#when-a-new-row-is-created"
        }
      }
    },
    "/{connectionId}/sheets/{sheetId}/discussions/{discussionId}/comments": {
      "post": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Add a comment to a discussion",
        "description": "Add a comment to an existing discussion.",
        "operationId": "AddCommentToDiscussion",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "discussionId",
            "in": "path",
            "description": "The discussion to add the comment to.",
            "required": true,
            "x-ms-summary": "Discussion",
            "x-ms-dynamic-values": {
              "operationId": "GetDiscussionsForSheet",
              "parameters": {
                "sheetId": {
                  "parameter": "sheetId"
                }
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string",
            "x-ms-test-value": "3632808380917636"
          },
          {
            "name": "comment",
            "in": "body",
            "description": "The content of the comment to post.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Comment"
            },
            "x-ms-summary": "Comment"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateCommentResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#add-a-comment-to-a-discussion"
        }
      }
    },
    "/{connectionId}/sheets/{sheetId}/discussions/{discussionId}": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "Get a discussion",
        "description": "Get a specific discussion.",
        "operationId": "GetDiscussion",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "discussionId",
            "in": "path",
            "description": "The unique id of the discussion on the specified sheet.",
            "required": true,
            "x-ms-summary": "Discussion Id",
            "x-ms-dynamic-values": {
              "operationId": "GetDiscussionsForSheet",
              "parameters": {
                "sheetId": {
                  "parameter": "sheetId"
                }
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string",
            "x-ms-test-value": "3632808380917636"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiscussionData"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#get-a-discussion"
        }
      }
    },
    "/{connectionId}/comment_added_trigger/sheets/{sheetId}/discussions/{discussionId}": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "When a comment is added to a discussion",
        "description": "Triggers when a comment is added to a specific discussion.",
        "operationId": "OnCommentAdded",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          },
          {
            "name": "discussionId",
            "in": "path",
            "description": "The unique id of the discussion.",
            "required": true,
            "x-ms-summary": "Discussion Id",
            "x-ms-dynamic-values": {
              "operationId": "GetDiscussionsForSheet",
              "parameters": {
                "sheetId": {
                  "parameter": "sheetId"
                }
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string",
            "x-ms-test-value": "3632808380917636"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommentResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a comment to the selected discussion.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#when-a-comment-is-added-to-a-discussion"
        }
      }
    },
    "/{connectionId}/discussion_trigger/sheets/{sheetId}/discussions": {
      "get": {
        "tags": [
          "Smartsheet"
        ],
        "summary": "When a discussion is added to a sheet",
        "description": "Triggers when a discussion is added to a sheet.",
        "operationId": "OnDiscussionCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sheetId",
            "in": "path",
            "description": "The unique id of the sheet.",
            "required": true,
            "x-ms-summary": "Sheet Id",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "type": "string",
            "x-ms-test-value": "8399266935793540"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartsheetCollection[GetDiscussionResponse]"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see this work, add a dicussion to a sheet.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smartsheet/#when-a-discussion-is-added-to-a-sheet"
        }
      }
    }
  },
  "definitions": {
    "SmartsheetCollection[Sheet]": {
      "description": "A common pattern for requesting collections from Smartsheet.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Collection of Smartsheet models.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Sheet"
          },
          "x-ms-summary": "Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "Sheet": {
      "description": "A Smartsheet sheet.",
      "type": "object",
      "properties": {
        "accessLevel": {
          "description": "The access level of the sheet.",
          "type": "string",
          "x-ms-summary": "Access Level",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "format": "int32",
          "description": "The unique identifier for the sheet.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the sheet.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "permalink": {
          "description": "The url for the sheet.",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The datetime when the sheet was created.",
          "type": "string",
          "x-ms-summary": "Created At",
          "x-ms-visibility": "advanced"
        },
        "modifiedAt": {
          "format": "date-time",
          "description": "The datetime the sheet was modified.",
          "type": "string",
          "x-ms-summary": "Modified At",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SmartsheetCollection[DiscussionComment]": {
      "description": "A common pattern for requesting collections from Smartsheet.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Collection of Smartsheet models.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscussionComment"
          },
          "x-ms-summary": "Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "DiscussionComment": {
      "description": "A comment on a discussion.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the comment.",
          "type": "string",
          "x-ms-summary": "Comment Text",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "The id for the comment.",
          "type": "integer",
          "x-ms-summary": "Comment Id",
          "x-ms-visibility": "important"
        },
        "createdBy": {
          "$ref": "#/definitions/DiscussionCommentUser"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The datetime the comment was created.",
          "type": "string",
          "x-ms-summary": "Created At",
          "x-ms-visibility": "important"
        },
        "modifiedAt": {
          "format": "date-time",
          "description": "The datetime the comment was modified.",
          "type": "string",
          "x-ms-summary": "Modified At",
          "x-ms-visibility": "important"
        }
      }
    },
    "DiscussionCommentUser": {
      "description": "The user who created the comment.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the user who created a comment.",
          "type": "string",
          "x-ms-summary": "Created By (Name)",
          "x-ms-visibility": "important"
        },
        "email": {
          "description": "The email of the user who created a comment.",
          "type": "string",
          "x-ms-summary": "Created By (Email)",
          "x-ms-visibility": "important"
        }
      }
    },
    "SheetWithRows": {
      "description": "A Smartsheet sheet with rows.",
      "type": "object",
      "properties": {
        "rowHTML": {
          "description": "An HTML table representation of the sheet.",
          "type": "string",
          "x-ms-summary": "Sheet HTML",
          "x-ms-visibility": "important"
        },
        "accessLevel": {
          "description": "The access level of the sheet.",
          "type": "string",
          "x-ms-summary": "Access Level",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "format": "int32",
          "description": "The unique identifier for the sheet.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the sheet.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "permalink": {
          "description": "The url for the sheet.",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The datetime the sheet was created.",
          "type": "string",
          "x-ms-summary": "Created At",
          "x-ms-visibility": "advanced"
        },
        "modifiedAt": {
          "format": "date-time",
          "description": "The datetime the sheet was modified.",
          "type": "string",
          "x-ms-summary": "Modified At",
          "x-ms-visibility": "advanced"
        },
        "columns": {
          "description": "Array of columns.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Column"
          },
          "x-ms-summary": "Columns",
          "x-ms-visibility": "advanced"
        },
        "rows": {
          "description": "Array of rows.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RowData"
          },
          "x-ms-summary": "Rows",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SmartsheetCollection[Column]": {
      "description": "A common pattern for requesting collections from Smartsheet.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Collection of Smartsheet models",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Column"
          },
          "x-ms-summary": "Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "Column": {
      "description": "A Smartsheet column.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int64",
          "description": "The unique id of the column.",
          "type": "integer",
          "x-ms-summary": "Column Id",
          "x-ms-visibility": "advanced"
        },
        "index": {
          "format": "int32",
          "description": "The ordinal position of the column.",
          "type": "integer",
          "x-ms-summary": "Column Index",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "The title of the column.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "The data type of the column (such as text_number or datetime).",
          "type": "string",
          "x-ms-summary": "Data Type",
          "x-ms-visibility": "advanced"
        },
        "primary": {
          "description": "A boolean value (true, false) determining whether or not the column is the primary column.",
          "type": "boolean",
          "x-ms-summary": "Is Primary",
          "x-ms-visibility": "advanced"
        },
        "width": {
          "format": "int32",
          "description": "The width in pixels of the column,",
          "type": "integer",
          "x-ms-summary": "Width",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "RowsList": {
      "description": "List of rows",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of rows",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RowPost"
          }
        }
      }
    },
    "RowPost": {
      "description": "An object that represents the posting of a row.",
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetColumnsSchema",
        "parameters": {
          "sheetId": {
            "parameter": "sheetId"
          }
        },
        "value-path": "Schema/Items"
      }
    },
    "InsertRowResponse": {
      "description": "Response to InsertRow operation.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/InsertRowResponseResult"
        }
      }
    },
    "InsertRowResponseResult": {
      "type": "object",
      "properties": {
        "sheetId": {
          "format": "int32",
          "description": "The Id of the sheet that was modified.",
          "type": "integer",
          "x-ms-summary": "Sheet Id",
          "x-ms-visibility": "advanced"
        },
        "rowNumber": {
          "format": "int32",
          "description": "The row number of the newly inserted row.",
          "type": "integer",
          "x-ms-summary": "Row Number",
          "x-ms-visibility": "advanced"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The datetime the sheet was created.",
          "type": "string",
          "x-ms-summary": "Created At",
          "x-ms-visibility": "advanced"
        },
        "modifiedAt": {
          "format": "date-time",
          "description": "The datetime the sheet was modified.",
          "type": "string",
          "x-ms-summary": "Modified At",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SmartsheetCollection[SheetWithRows]": {
      "description": "A common pattern for requesting collections from Smartsheet.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Collection of Smartsheet models.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SheetWithRows"
          },
          "x-ms-summary": "Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "BlobMetaData": {
      "description": "Metadata for Smartsheet Blobs.",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique identifier for the file or folder.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "Name": {
          "description": "The name of the file or folder.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "internal"
        },
        "DisplayName": {
          "description": "The display name of the file or folder.",
          "type": "string",
          "x-ms-summary": "Display Name",
          "x-ms-visibility": "internal"
        },
        "Path": {
          "description": "The path of the file or folder.",
          "type": "string",
          "x-ms-summary": "Path",
          "x-ms-visibility": "internal"
        },
        "LastModified": {
          "format": "date-time",
          "description": "The last modified datetime of the file or folder.",
          "type": "string",
          "x-ms-summary": "Modified At",
          "x-ms-visibility": "internal"
        },
        "Size": {
          "format": "int64",
          "description": "The size of the file or folder.",
          "type": "integer",
          "x-ms-summary": "Size",
          "x-ms-visibility": "internal"
        },
        "MediaType": {
          "description": "The MIME media type of the file.",
          "type": "string",
          "x-ms-summary": "Media Type",
          "x-ms-visibility": "internal"
        },
        "IsFolder": {
          "description": "A boolean value (true, false) determining whether or not the item is a folder.",
          "type": "boolean",
          "x-ms-summary": "Is Folder",
          "x-ms-visibility": "internal"
        },
        "ETag": {
          "description": "The ETag, a token used for syncing.",
          "type": "string",
          "x-ms-summary": "ETag",
          "x-ms-visibility": "internal"
        },
        "FileLocator": {
          "description": "The file locator (API use only).",
          "type": "string",
          "x-ms-summary": "File Locator",
          "x-ms-visibility": "internal"
        }
      }
    },
    "SmartsheetCollection[Folder]": {
      "description": "A common pattern for requesting collections from Smartsheet.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Collection of Smartsheet models.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Folder"
          },
          "x-ms-summary": "Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "Folder": {
      "description": "A Smartsheet folder.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique id of the folder.",
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the folder.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "permalink": {
          "description": "The url for the folder.",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        }
      }
    },
    "Discussion": {
      "description": "A Smartsheet discussion.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title for the discussion.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "comment": {
          "$ref": "#/definitions/Comment"
        }
      },
      "x-ms-test-value": {
        "title": "title 1",
        "comment": {
          "text": "text 1"
        }
      }
    },
    "Comment": {
      "description": "A discussion comment.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the comment.",
          "type": "string",
          "x-ms-summary": "Text",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "text": "test comment"
      }
    },
    "DiscussionResponse": {
      "description": "Response object for Create Discussion.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/DiscussionData"
        }
      }
    },
    "DiscussionData": {
      "description": "Data relevant to the discussion created.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "The id for the discussion.",
          "type": "integer",
          "x-ms-summary": "Id of Discussion",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "The title for the discussion.",
          "type": "string",
          "x-ms-summary": "Discussion title",
          "x-ms-visibility": "important"
        },
        "comments": {
          "description": "The comments in the discussion.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscussionComment"
          },
          "x-ms-summary": "Comments",
          "x-ms-visibility": "important"
        },
        "createdBy": {
          "$ref": "#/definitions/DiscussionUser"
        }
      }
    },
    "DiscussionUser": {
      "description": "The user who created the discussion.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the user who created the discussion.",
          "type": "string",
          "x-ms-summary": "Created By (Name)",
          "x-ms-visibility": "important"
        },
        "email": {
          "description": "The email of the user who created the discussion.",
          "type": "string",
          "x-ms-summary": "Created By (Email)",
          "x-ms-visibility": "important"
        }
      }
    },
    "SmartsheetCollection[GetDiscussionResponse]": {
      "description": "A common pattern for requesting collections from Smartsheet.",
      "type": "object",
      "properties": {
        "data": {
          "description": "Collection of Smartsheet models.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetDiscussionResponse"
          },
          "x-ms-summary": "Data",
          "x-ms-visibility": "important"
        }
      }
    },
    "GetDiscussionResponse": {
      "description": "Response object for Get Discussions.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "The unique id of the discussion.",
          "type": "integer",
          "x-ms-summary": "Discussion Id",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "The title for the discussion.",
          "type": "string",
          "x-ms-summary": "Discussion Title",
          "x-ms-visibility": "important"
        },
        "createdBy": {
          "$ref": "#/definitions/DiscussionUser"
        },
        "accessLevel": {
          "description": "The access Level for the discussion.",
          "type": "string",
          "x-ms-summary": "Access Level",
          "x-ms-visibility": "important"
        },
        "parentType": {
          "description": "The parent type for the discussion.",
          "type": "string",
          "x-ms-summary": "Parent Type",
          "x-ms-visibility": "important"
        },
        "readOnly": {
          "description": "A boolean value (true, false) determining whether or not this discussion is read-only.",
          "type": "boolean",
          "x-ms-summary": "Is Read-Only",
          "x-ms-visibility": "important"
        },
        "lastCommentedAt": {
          "format": "date-time",
          "description": "The datetime of the most recent comment",
          "type": "string",
          "x-ms-summary": "Last Commented At",
          "x-ms-visibility": "important"
        }
      }
    },
    "RowResponse": {
      "description": "Response object for OnRowCreated.",
      "type": "object",
      "properties": {
        "rows": {
          "description": "The content of the row that was created.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RowData"
          },
          "x-ms-summary": "Rows",
          "x-ms-visibility": "important"
        }
      }
    },
    "RowData": {
      "description": "A row",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique id for the row.",
          "type": "integer",
          "x-ms-summary": "Row Id",
          "x-ms-visibility": "important"
        },
        "sheetId": {
          "description": "The id of the sheet the row was added to.",
          "type": "integer",
          "x-ms-summary": "Sheet Id",
          "x-ms-visibility": "advanced"
        },
        "permalink": {
          "description": "The url for the sheet the row was added to.",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "important"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The datetime the row was created.",
          "type": "string",
          "x-ms-summary": "Created At",
          "x-ms-visibility": "important"
        },
        "modifiedAt": {
          "format": "date-time",
          "description": "The datetime the row was modified.",
          "type": "string",
          "x-ms-summary": "Modified At",
          "x-ms-visibility": "important"
        },
        "rowNumber": {
          "format": "int32",
          "description": "The number of the row.",
          "type": "integer",
          "x-ms-summary": "Row Number",
          "x-ms-visibility": "important"
        },
        "cells": {
          "description": "The cell detail in the row.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RowCell"
          },
          "x-ms-summary": "Cells",
          "x-ms-visibility": "important"
        },
        "rowHTML": {
          "description": "An HTML table representation of the new row.",
          "type": "string",
          "x-ms-summary": "Row HTML",
          "x-ms-visibility": "important"
        }
      }
    },
    "RowCell": {
      "description": "A cell in a row",
      "type": "object",
      "properties": {
        "columnId": {
          "description": "The id of column for this cell.",
          "type": "integer",
          "x-ms-summary": "Column Id",
          "x-ms-visibility": "important"
        },
        "value": {
          "description": "The value of the cell.",
          "x-ms-summary": "Cell Value",
          "x-ms-visibility": "important"
        },
        "displayValue": {
          "description": "The display value of the cell.",
          "type": "string",
          "x-ms-summary": "Cell Display Value",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateCommentResponse": {
      "description": "Response object for Creating a Comment.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "#/definitions/DiscussionComment"
        }
      }
    },
    "CommentResponse": {
      "description": "Response object for Comment.",
      "type": "object",
      "properties": {
        "comments": {
          "description": "Comments in this discussion.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiscussionComment"
          },
          "x-ms-summary": "Comments",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "file-picker": {
      "open": {
        "operationId": "ListAllRootFolders"
      },
      "browse": {
        "operationId": "ListFolder",
        "parameters": {
          "id": {
            "value-property": "Id"
          }
        }
      },
      "value-title": "DisplayName",
      "value-folder-property": "IsFolder",
      "value-media-property": "MediaType"
    },
    "testConnection": {
      "operationId": "ListAllRootFolders"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.smartsheet.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.smartsheet.com/legal/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/smartsheet"
  }
}