{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Trello",
    "description": "Trello gives you perspective over all your projects, at work and at home.  It is an easy, free, flexible, and visual way to manage your projects and organize anything.  Connect to Trello to manage your boards, lists and cards.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/trello",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/trigger/boards/{board_id}/cards": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "When a new card is added to a board",
        "description": "Triggers a flow when a new card is added to a board.",
        "operationId": "OnNewCardInBoard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "The unique id of the board.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Card"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a card to the selected Trello board.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewCardInBoard",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#when-a-new-card-is-added-to-a-board-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/trigger/lists/{list_id}/cards": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "When a new card is added to a list",
        "description": "Triggers a flow when a new card is added to a list.",
        "operationId": "OnNewCardInList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The unique id of the board.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "list_id",
            "in": "path",
            "description": "The unique id of the list in the specified board.",
            "required": true,
            "x-ms-summary": "List Id",
            "x-ms-dynamic-values": {
              "operationId": "ListListsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Card"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a card to the selected Trello list.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewCardInList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#when-a-new-card-is-added-to-a-list-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/trigger/boards/{board_id}/actions": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "When a new card is added to a board (V2)",
        "description": "Triggers a flow when a new card is added to a board.",
        "operationId": "OnNewCardInBoardV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "The unique id of the board.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CardInAction"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a card to the selected Trello board.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewCardInBoard",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#when-a-new-card-is-added-to-a-board-(v2)"
        }
      }
    },
    "/{connectionId}/v2/trigger/lists/{list_id}/actions": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "When a new card is added to a list (V2)",
        "description": "Triggers a flow when a new card is added to a list.",
        "operationId": "OnNewCardInListV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The unique id of the board.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "list_id",
            "in": "path",
            "description": "The unique id of the list in the specified board.",
            "required": true,
            "x-ms-summary": "List Id",
            "x-ms-dynamic-values": {
              "operationId": "ListListsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CardInAction"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a card to the selected Trello list.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewCardInList",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#when-a-new-card-is-added-to-a-list-(v2)"
        }
      }
    },
    "/{connectionId}/v3/trigger/boards/{board_id}/actions": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "When a new card is added to a board (V3)",
        "description": "Triggers a flow when a new card is added to a board.",
        "operationId": "OnNewCardInBoardV3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "The unique board id.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CardInAction"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a card to the selected Trello board.",
        "x-ms-notification": {
          "operationId": "CreateOnBoardChangesSubscription"
        },
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnNewCardInBoard",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#when-a-new-card-is-added-to-a-board-(v3)"
        }
      }
    },
    "/{connectionId}/v3/trigger/lists/{list_id}/actions": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "When a new card is added to a list (V3)",
        "description": "Triggers a flow when a new card is added to a list.",
        "operationId": "OnNewCardInListV3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The unique id of the board.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "list_id",
            "in": "path",
            "description": "The unique id of the list in the specified board.",
            "required": true,
            "x-ms-summary": "List Id",
            "x-ms-dynamic-values": {
              "operationId": "ListListsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CardInAction"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a card to the selected Trello list.",
        "x-ms-notification": {
          "operationId": "CreateOnListChangesSubscription"
        },
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnNewCardInList",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#when-a-new-card-is-added-to-a-list-(v3)"
        }
      }
    },
    "/{connectionId}/OnBoardChangesSubscription/{board_id}": {
      "post": {
        "tags": [
          "BoardChangesSubscription"
        ],
        "summary": "Create a webhook subscription for the trigger when a board is changed",
        "description": "Create a webhook subscription for the trigger when a board is changed.",
        "operationId": "CreateOnBoardChangesSubscription",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "The subscription.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscription"
            },
            "x-ms-summary": "The subscription"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "The unique board id.",
            "required": true,
            "x-ms-summary": "Board Id",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created",
            "schema": {
              "$ref": "#/definitions/SubscriptionResponse"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#create-a-webhook-subscription-for-the-trigger-when-a-board-is-changed"
        }
      },
      "x-ms-notification-content": {
        "description": "Poke notification",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/OnListChangesSubscription/{list_id}": {
      "post": {
        "tags": [
          "ListChangesSubscription"
        ],
        "summary": "Create a webhook subscription for the trigger when a list is changed",
        "description": "Create a webhook subscription for the trigger when a list is changed.",
        "operationId": "CreateOnListChangesSubscription",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "The subscription.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscription"
            },
            "x-ms-summary": "The subscription"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The unique id of the board.",
            "required": true,
            "x-ms-summary": "Board Id",
            "type": "string"
          },
          {
            "name": "list_id",
            "in": "path",
            "description": "The unique id of the list in the specified board.",
            "required": true,
            "x-ms-summary": "List Id",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created",
            "schema": {
              "$ref": "#/definitions/SubscriptionResponse"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#create-a-webhook-subscription-for-the-trigger-when-a-list-is-changed"
        }
      },
      "x-ms-notification-content": {
        "description": "Poke notification",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/OnChangesSubscription/{id}": {
      "delete": {
        "tags": [
          "ChangesSubscription"
        ],
        "summary": "Delete subscription",
        "description": "This operation deletes a subscription.",
        "operationId": "DeleteOnChangesSubscription",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of subscription to be deleted.",
            "required": true,
            "x-ms-summary": "Id of subscription to be deleted",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#delete-subscription"
        }
      },
      "patch": {
        "tags": [
          "ChangesSubscription"
        ],
        "summary": "Update webhook",
        "description": "Update webhook with renew interval.",
        "operationId": "RenewOnChangesSubscription",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of subscription to be renewed.",
            "required": true,
            "x-ms-summary": "Id of subscription to be renewed",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "The subscription.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscription"
            },
            "x-ms-summary": "The subscription"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Subscription Created"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#update-webhook"
        }
      }
    },
    "/{connectionId}/boards/{board_id}/cards": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "List the cards in a board",
        "description": "List the cards matching the query parameters in a specific board.",
        "operationId": "ListCards",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "The unique id of the board.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "actions",
            "in": "query",
            "description": "The list the actions to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Actions",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "attachments",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to show attachments.",
            "required": false,
            "x-ms-summary": "Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "attachment_fields",
            "in": "query",
            "description": "List the attachment fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Attachment Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "stickers",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to show stickers.",
            "required": false,
            "x-ms-summary": "Stickers",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "members",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to show members.",
            "required": false,
            "x-ms-summary": "Members",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "memeber_fields",
            "in": "query",
            "description": "List the member fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Member Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "checkItemStates",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return the card states.",
            "required": false,
            "x-ms-summary": "Check Card States",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "checklists",
            "in": "query",
            "description": "Specify the checklists to return.",
            "required": false,
            "x-ms-summary": "Checklists",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "none"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The max number of results to return, between 1 and 1000.",
            "required": false,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Fetch all cards after this date.",
            "required": false,
            "x-ms-summary": "Since",
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "before",
            "in": "query",
            "description": "Fetch all cards before this date.",
            "required": false,
            "x-ms-summary": "Before",
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An option on how to filter the response. The allowed values are 'all', 'closed', 'none', 'open' or 'visible'.",
            "required": false,
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "closed",
              "none",
              "open",
              "visible"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "description": "List the card fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Card"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#list-the-cards-in-a-board"
        }
      }
    },
    "/{connectionId}/simple/boards/{board_id}/cards": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "A simple version of the list cards",
        "description": "A simple version of the list cards API method used by dynamic values.",
        "operationId": "ListCardsSimple",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "Board Id.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Card"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#a-simple-version-of-the-list-cards"
        }
      }
    },
    "/{connectionId}/cards/{card_id}": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "Get a card by id",
        "description": "Get a specific card by its unique id.",
        "operationId": "GetCard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The id of the board to fetch cards in.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "card_id",
            "in": "path",
            "description": "The id of the card to fetch.",
            "required": true,
            "x-ms-summary": "Card Id",
            "x-ms-dynamic-values": {
              "operationId": "ListCardsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "actions",
            "in": "query",
            "description": "List the actions to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Actions",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "actions_entities",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return action entities.",
            "required": false,
            "x-ms-summary": "Actions Entities",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "actions_display",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return action displays.",
            "required": false,
            "x-ms-summary": "Actions Display",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "actions_limit",
            "in": "query",
            "description": "Max number of actions to return.",
            "required": false,
            "x-ms-summary": "Actions Limit",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "action_fields",
            "in": "query",
            "description": "List of action fields to return for each action. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Action Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "action_memberCreator_fields",
            "in": "query",
            "description": "List of action member creator fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Member Creator Action Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "attachments",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return attachments.",
            "required": false,
            "x-ms-summary": "Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "attachment_fields",
            "in": "query",
            "description": "List of attachment fields to return for each attachment. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Attachments Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "members",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return members.",
            "required": false,
            "x-ms-summary": "Members",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "List of member fields to return for each member. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Member Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "membersVoted",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return voted members.",
            "required": false,
            "x-ms-summary": "Voted Members",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "memberVoted_fields",
            "in": "query",
            "description": "List of voted member fields to return for each voted member. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Voted Member Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "checkItemStates",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return card states.",
            "required": false,
            "x-ms-summary": "Check Item States",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "checkItemState_fields",
            "in": "query",
            "description": "List of state fields to return for each of the card item state. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Item State Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "checklists",
            "in": "query",
            "description": "Specify the checklists to return for each card.",
            "required": false,
            "x-ms-summary": "Checklists",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "none"
            ]
          },
          {
            "name": "checklist_fields",
            "in": "query",
            "description": "List of checklist fields to return for each checklist. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Checklist Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "board",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return the board which the card belongs to.",
            "required": false,
            "x-ms-summary": "Board",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "board_fields",
            "in": "query",
            "description": "List the board fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Board Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "list",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return the list which the card belongs to.",
            "required": false,
            "x-ms-summary": "List",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "list_fields",
            "in": "query",
            "description": "List the list fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "List Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "stickers",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return the stickers.",
            "required": false,
            "x-ms-summary": "Stickers",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "sticker_fields",
            "in": "query",
            "description": "List the sticker fields to return for each sticker. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Sticker Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "List the card fields to return.",
            "required": false,
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CardWithChecklists"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#get-a-card-by-id"
        }
      },
      "put": {
        "tags": [
          "Trello"
        ],
        "summary": "Update a card",
        "description": "Update an existing card with new parameters.",
        "operationId": "UpdateCard",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The id of the board to fetch cards from.",
            "required": true,
            "x-ms-summary": "Board id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "card_id",
            "in": "path",
            "description": "The id of the card to update.",
            "required": true,
            "x-ms-summary": "Card id",
            "x-ms-dynamic-values": {
              "operationId": "ListCardsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "updateCard",
            "in": "body",
            "description": "Updated card values.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCard"
            },
            "x-ms-summary": "Updated card"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Card"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateCard",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#update-a-card-%5bdeprecated%5d"
        }
      },
      "delete": {
        "tags": [
          "Trello"
        ],
        "summary": "Delete a card",
        "description": "Delete an existing card from the account.",
        "operationId": "DeleteCard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The id of the board to fetch cards from.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "card_id",
            "in": "path",
            "description": "The id of the card to delete.",
            "required": true,
            "x-ms-summary": "Card Id",
            "x-ms-dynamic-values": {
              "operationId": "ListCardsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#delete-a-card"
        }
      }
    },
    "/{connectionId}/v2/cards/{card_id}": {
      "put": {
        "tags": [
          "Trello"
        ],
        "summary": "Update a card",
        "description": "Update an existing card with new parameters.",
        "operationId": "UpdateCard_V2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The id of the board to fetch cards from.",
            "required": true,
            "x-ms-summary": "Board id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "card_id",
            "in": "path",
            "description": "The id of the card to update.",
            "required": true,
            "x-ms-summary": "Card id",
            "x-ms-dynamic-values": {
              "operationId": "ListCardsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "updateCard",
            "in": "body",
            "description": "Updated card values.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCard_V2"
            },
            "x-ms-summary": "Updated card"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Card"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateCard",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#update-a-card"
        }
      }
    },
    "/{connectionId}/cards": {
      "post": {
        "tags": [
          "Trello"
        ],
        "summary": "Create a card",
        "description": "Creates a new card with the parameters provided.",
        "operationId": "CreateCard",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The id of the board to create the card in.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "newCard",
            "in": "body",
            "description": "New card to add to the trello board.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCard"
            },
            "x-ms-summary": "New card"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateCard",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#create-a-card-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/cards": {
      "post": {
        "tags": [
          "Trello"
        ],
        "summary": "Create a card",
        "description": "Creates a new card with the parameters provided.",
        "operationId": "CreateCard_V2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The id of the board to create the card in.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "newCard",
            "in": "body",
            "description": "New card to add to the trello board.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCard_V2"
            },
            "x-ms-summary": "New card"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Card"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateCard",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#create-a-card"
        }
      }
    },
    "/{connectionId}/member/me/boards": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "List boards",
        "description": "List the boards matching the specified query parameters.",
        "operationId": "ListBoards",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "List filters to apply to board results. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "List the board fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "actions",
            "in": "query",
            "description": "List the action fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Actions",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "actions_entities",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return action entities.",
            "required": false,
            "x-ms-summary": "Action Entities",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "actions_limit",
            "in": "query",
            "description": "The max number of actions to return.",
            "required": false,
            "x-ms-summary": "Action Limit",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "actions_format",
            "in": "query",
            "description": "Specify the format of the actions to return. The valid options are 'count', 'list', 'minimal'.",
            "required": false,
            "x-ms-summary": "Actions Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "count",
              "list",
              "minimal"
            ]
          },
          {
            "name": "actions_since",
            "in": "query",
            "description": "Return actions after the specified date.",
            "required": false,
            "x-ms-summary": "Actions Since",
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "action_fields",
            "in": "query",
            "description": "List the fields of the action to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Action Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "memberships",
            "in": "query",
            "description": "Specify membership information to return.",
            "required": false,
            "x-ms-summary": "Memberships",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "organization",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return organization information.",
            "required": false,
            "x-ms-summary": "Organization",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "organization_fields",
            "in": "query",
            "description": "List the organization fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Organization Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "lists",
            "in": "query",
            "description": "Specify whether to return lists which belong to the board.",
            "required": false,
            "x-ms-summary": "Lists",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Board"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#list-boards"
        }
      }
    },
    "/{connectionId}/simple/member/me/boards": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "A simple version of the list boards",
        "description": "A simple version of the list boards API call with no parameters to be used by dynamic values.",
        "operationId": "ListBoardsSimple",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Board"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#a-simple-version-of-the-list-boards"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/boards/{board_id}": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "Get a board by Id",
        "description": "Get a specific board by its unique identifier.",
        "operationId": "GetBoard",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "The unique Id of the board to get.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "actions",
            "in": "query",
            "description": "List the actions to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Actions",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "action_entities",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return action entities.",
            "required": false,
            "x-ms-summary": "Action Entities",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "actions_display",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return actions display.",
            "required": false,
            "x-ms-summary": "Actions Display",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "actions_format",
            "in": "query",
            "description": "Specify the format of the actions to return. Valid options are 'count', 'list', 'minimal'.",
            "required": false,
            "x-ms-summary": "Actions Format",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "count",
              "list",
              "minimal"
            ]
          },
          {
            "name": "actions_since",
            "in": "query",
            "description": "Only return the actions after this date.",
            "required": false,
            "x-ms-summary": "Actions Since",
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "actions_limit",
            "in": "query",
            "description": "Max number of actions to return.",
            "required": false,
            "x-ms-summary": "Actions Limit",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "action_fields",
            "in": "query",
            "description": "List the fields to return with each field. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Action Field",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "action_member",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return action members.",
            "required": false,
            "x-ms-summary": "Action Member",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "action_member_fields",
            "in": "query",
            "description": "List the member fields to return with each action member. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Action Member Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "action_memberCreator",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return action member creator.",
            "required": false,
            "x-ms-summary": "Action Member Creator",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "action_memberCreator_fields",
            "in": "query",
            "description": "List the action member creator fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Action Member Creator Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "cards",
            "in": "query",
            "description": "Specify the cards to return. Valid options are 'all', 'closed', 'none', 'open', or 'visible'.",
            "required": false,
            "x-ms-summary": "Cards",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "closed",
              "none",
              "open",
              "visible"
            ]
          },
          {
            "name": "card_fields",
            "in": "query",
            "description": "List the fields to return for each card. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Card Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "card_attachments",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return attachments on cards.",
            "required": false,
            "x-ms-summary": "Card Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "card_attachment_fields",
            "in": "query",
            "description": "List the attachment fields to return for each attachment. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Card Attachment Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "card_checklists",
            "in": "query",
            "description": "Specify the checklists to return for each card.",
            "required": false,
            "x-ms-summary": "Card Checklists",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "none"
            ]
          },
          {
            "name": "card_stickers",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return card stickers.",
            "required": false,
            "x-ms-summary": "Card Stickers",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "boardStars",
            "in": "query",
            "description": "Specify the board stars to return.",
            "required": false,
            "x-ms-summary": "Board Stars",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "mine",
              "none"
            ]
          },
          {
            "name": "labels",
            "in": "query",
            "description": "Specify the labels to return.",
            "required": false,
            "x-ms-summary": "Labels",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "none"
            ]
          },
          {
            "name": "label_fields",
            "in": "query",
            "description": "List the label fields to return for each label. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Label Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "labels_limit",
            "in": "query",
            "description": "Max number of labels to return.",
            "required": false,
            "x-ms-summary": "Label Limits",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "lists",
            "in": "query",
            "description": "Specify the lists to return.",
            "required": false,
            "x-ms-summary": "Lists",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "closed",
              "none",
              "open"
            ]
          },
          {
            "name": "list_fields",
            "in": "query",
            "description": "List the list fields to return for each list. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "List Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "memberships",
            "in": "query",
            "description": "List the memberships to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Memberships",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "memberships_member",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return membership members.",
            "required": false,
            "x-ms-summary": "Memberships Member",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "memberships_member_fields",
            "in": "query",
            "description": "List the member fields to return for each membership member. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Memberships Member Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "members",
            "in": "query",
            "description": "List the members to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Members",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "admins",
              "all",
              "none",
              "normal",
              "owners"
            ]
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "List the member fields to return for each member. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Member Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "membersInvited",
            "in": "query",
            "description": "Specify the invited members to return.",
            "required": false,
            "x-ms-summary": "Invited Members",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "admin",
              "all",
              "none",
              "normal",
              "owners"
            ]
          },
          {
            "name": "membersInvited_fields",
            "in": "query",
            "description": "List the fields to return for each. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Invited Member Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "checklists",
            "in": "query",
            "description": "Specify the checklists to return.",
            "required": false,
            "x-ms-summary": "Checklists",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "none"
            ]
          },
          {
            "name": "checklist_fields",
            "in": "query",
            "description": "List the checklist fields to return for each checklist. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Checklist Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "organization",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return the organization information.",
            "required": false,
            "x-ms-summary": "Organization",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "organization_fields",
            "in": "query",
            "description": "List the organization fields to return for each organization. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Organization Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "organization_memberships",
            "in": "query",
            "description": "List the organization memberships to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Organization Memberships",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "myPerfs",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return my perfs.",
            "required": false,
            "x-ms-summary": "My perfs",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "List the fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardWithChecklists"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#get-a-board-by-id"
        }
      },
      "put": {
        "tags": [
          "Trello"
        ],
        "summary": "Update a board",
        "description": "Update an existing board.",
        "operationId": "UpdateBoard",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "The unique identifier of the board to update.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "board",
            "in": "body",
            "description": "The board features to update.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UpdateBoard"
            },
            "x-ms-summary": "The board features to update."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Board"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#update-a-board"
        }
      }
    },
    "/{connectionId}/boards/{board_id}/lists": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "List the card lists in a board",
        "description": "List the card lists and the cards within the list in a specific board.",
        "operationId": "ListLists",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "The unique id of the board to fetch lists.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "cards",
            "in": "query",
            "description": "Specify the cards to return.",
            "required": false,
            "x-ms-summary": "Cards",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "closed",
              "open",
              "none",
              "visible"
            ]
          },
          {
            "name": "card_fields",
            "in": "query",
            "description": "List the card fields to return from. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Card Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Specify the filter property for lists. Valid options are 'all, 'closed', 'none', or 'open'.",
            "required": false,
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "closed",
              "none",
              "open"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "description": "List the fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/List"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#list-the-card-lists-in-a-board"
        }
      }
    },
    "/{connectionId}/simple/boards/{board_id}/lists": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "A simple version of list lists",
        "description": "A simple version of list lists to be used by dynamic values.",
        "operationId": "ListListsSimple",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "path",
            "description": "Unique Id of the board to fetch lists.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/List"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#a-simple-version-of-list-lists"
        }
      }
    },
    "/{connectionId}/lists/{list_id}": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "Get list by Id",
        "description": "Get an existing list and the cards in the list by the unique identifier of the list.",
        "operationId": "GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The unique Id of the board to fetch the lists from.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "list_id",
            "in": "path",
            "description": "The unique Id of the list to fetch.",
            "required": true,
            "x-ms-summary": "List Id",
            "x-ms-dynamic-values": {
              "operationId": "ListListsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "cards",
            "in": "query",
            "description": "Specify the cards to return.",
            "required": false,
            "x-ms-summary": "Cards",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "all",
              "closed",
              "none",
              "open"
            ]
          },
          {
            "name": "card_fields",
            "in": "query",
            "description": "List the card fields to return for each card. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Card Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "board",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to return board information.",
            "required": false,
            "x-ms-summary": "Board",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "board_fields",
            "in": "query",
            "description": "List the board fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "Board Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "List the list fields to return. Specify 'all' or a comma seperated list of valid values.",
            "required": false,
            "x-ms-summary": "List Fields",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/List"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#get-list-by-id"
        }
      },
      "put": {
        "tags": [
          "Trello"
        ],
        "summary": "Update a list",
        "description": "Update an existing list.",
        "operationId": "UpdateList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "board_id",
            "in": "query",
            "description": "The unique id of the board the list is on.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "list_id",
            "in": "path",
            "description": "The unique id of the list to update.",
            "required": true,
            "x-ms-summary": "List Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListListsSimple",
              "parameters": {
                "board_id": {
                  "parameter": "board_id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The new list name.",
            "required": false,
            "x-ms-summary": "List Name",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "closed",
            "in": "query",
            "description": "A string (true, false) determining whether or not to close the list.",
            "required": false,
            "x-ms-summary": "Closed",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "idBoard",
            "in": "query",
            "description": "The unique id of the board to move the list to.",
            "required": false,
            "x-ms-summary": "Board to move to",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListBoardsSimple",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "pos",
            "in": "query",
            "description": "The list position (top, bottom, or number).",
            "required": false,
            "x-ms-summary": "List Position",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "top",
              "bottom"
            ]
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "A boolean value (true, false) determining whether or not to subscribe to the list.",
            "required": false,
            "x-ms-summary": "Subscribed",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateListResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/trello/#update-a-list"
        }
      }
    },
    "/{connectionId}/members/me": {
      "get": {
        "tags": [
          "Trello"
        ],
        "summary": "Get your User Profile info",
        "description": "Get information about your User Profile",
        "operationId": "GetUserProfile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fields",
[...]
