{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Imprezian360-CRM",
    "description": "Imprezian360 CRM All-In-One",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "url": "https://www.imprezian360.com/support"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/imprezian",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/Campaign": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Get Campaign List",
        "description": "Returns a list of campaigns",
        "operationId": "Campaign_GetValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "List of campaign IDs",
                "title": "Campaign IDs"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#get-campaign-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Create New Campaign",
        "description": "Creates a new marketing campaign in the CRM",
        "operationId": "Campaign_PostValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "A description of the campaign",
                  "title": "Campaign Description"
                },
                "startdate": {
                  "type": "string",
                  "description": "The start date of the campaign",
                  "title": "Start Date",
                  "format": "date"
                },
                "expires": {
                  "type": "string",
                  "description": "Date the campaign expires",
                  "title": "Expiration Date",
                  "format": "date"
                },
                "budget": {
                  "type": "number",
                  "description": "The total budget for the campaign",
                  "title": "Total Budget",
                  "format": "float",
                  "default": 0
                },
                "promotype": {
                  "type": "string",
                  "description": "The type or category of the campaign (such as Google Search)",
                  "title": "Promotion Category"
                },
                "manager": {
                  "type": "string",
                  "description": "The employee who manages the campaign",
                  "title": "Employee (Manager)"
                }
              },
              "required": [
                "description",
                "budget",
                "expires"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#create-new-campaign"
        }
      }
    },
    "/{connectionId}/api/Campaign/{id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieve Campaign Details",
        "description": "Retrieves the details of a specific campaign request by id",
        "operationId": "Campaign_GetValue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Campaign ID",
            "x-ms-summary": "Campaign ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "PromoID": {
                  "type": "string",
                  "description": "PromoID"
                },
                "Campaign Manager": {
                  "type": "string",
                  "description": "Campaign Manager"
                },
                "IS INACTIVE": {
                  "type": "string",
                  "description": "IS INACTIVE"
                },
                "IN HISTORY": {
                  "type": "string",
                  "description": "IN HISTORY"
                },
                "Used For Discounting": {
                  "type": "string",
                  "description": "Used For Discounting"
                },
                "Used For Mail Broadcasting": {
                  "type": "string",
                  "description": "Used For Mail Broadcasting"
                },
                "budget": {
                  "type": "string",
                  "description": "budget"
                },
                "Promotion Type": {
                  "type": "string",
                  "description": "Promotion Type"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "Employee Name": {
                  "type": "string",
                  "description": "Employee Name"
                },
                "Start Date": {
                  "type": "string",
                  "description": "Start Date"
                },
                "Expiration Date": {
                  "type": "string",
                  "description": "Expiration Date"
                },
                "Revenue": {
                  "type": "string",
                  "description": "Revenue"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#retrieve-campaign-details"
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "summary": "Update Campaign Data",
        "description": "Updates a marketing campaign in the CRM",
        "operationId": "Campaign_PutValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Campaign ID",
            "x-ms-summary": "Campaign ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "Updated description for the campaign",
                  "title": "Description"
                },
                "startdate": {
                  "type": "string",
                  "description": "What is the campaign start date",
                  "title": "Start Date"
                },
                "expires": {
                  "type": "string",
                  "description": "Updated expiration for the campaign",
                  "title": "Updated Expiration"
                },
                "budget": {
                  "type": "number",
                  "description": "Updated budget for the campaign",
                  "title": "Updated Budget",
                  "format": "float"
                },
                "manager": {
                  "type": "string",
                  "description": "Which employee manages the campaign",
                  "title": "Campaign Manager"
                },
                "history": {
                  "type": "boolean",
                  "description": "Is the campaign in history",
                  "title": "In History"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#update-campaign-data"
        }
      }
    },
    "/{connectionId}/api/ComLog": {
      "get": {
        "tags": [
          "ComLog"
        ],
        "summary": "Get ComLogs",
        "description": "Returns a list of requested communication ID's",
        "operationId": "ComLog_GetValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "List of ComLog IDs",
                "title": "ComLog IDs"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#get-comlogs"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "ComLog"
        ],
        "summary": "Create New ComLog",
        "description": "New Communication Entry",
        "operationId": "ComLog_PostValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "contactid": {
                  "type": "string",
                  "description": "The contact ID of the communication (blank for lead)",
                  "title": "Contact ID"
                },
                "leadid": {
                  "type": "string",
                  "description": "The Lead ID of the communication (zero for contact based)",
                  "title": "Lead ID"
                },
                "type": {
                  "type": "string",
                  "description": "E-Mail, Phone-call, etc",
                  "title": "Communication Type",
                  "enum": [
                    "E-mail",
                    "Phone-Call",
                    "Fax",
                    "Tweet",
                    "Facebook",
                    "Other"
                  ]
                },
                "subject": {
                  "type": "string",
                  "description": "Subject of communication",
                  "title": "Subject"
                },
                "body": {
                  "type": "string",
                  "description": "body",
                  "title": "Content of the communication"
                },
                "employee": {
                  "type": "string",
                  "description": "CRM Employee name who performed action",
                  "title": "Employee Name"
                },
                "starttime": {
                  "type": "string",
                  "description": "starttime",
                  "title": "Start Time of Communication"
                },
                "endtime": {
                  "type": "string",
                  "description": "endtime",
                  "title": "End Time"
                },
                "workorder": {
                  "type": "string",
                  "description": "Work order number of communication",
                  "title": "Work Order Link"
                },
                "project": {
                  "type": "string",
                  "description": "Project linked to communication",
                  "title": "Project ID"
                },
                "campaign": {
                  "type": "string",
                  "description": "The marketing campaign linked to the communication",
                  "title": "Marketing campaign"
                },
                "length": {
                  "type": "number",
                  "description": "length",
                  "title": "Length of communication"
                },
                "billed": {
                  "type": "boolean",
                  "description": "Has the communication entry been billed by the CRM",
                  "title": "Is Billed"
                },
                "inbound": {
                  "type": "boolean",
                  "description": "Is communication inbound (false = outbound)",
                  "title": "InBound"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#create-new-comlog"
        }
      }
    },
    "/{connectionId}/api/ComLog/{id}": {
      "get": {
        "tags": [
          "ComLog"
        ],
        "summary": "Retrieve ComLog Details",
        "description": "Returns field details",
        "operationId": "ComLog_GetValue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Communication ID",
            "x-ms-summary": "Communication ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Direction": {
                  "type": "string",
                  "description": "Direction"
                },
                "account": {
                  "type": "string",
                  "description": "account"
                },
                "Account Name": {
                  "type": "string",
                  "description": "Account Name"
                },
                "Contact Name": {
                  "type": "string",
                  "description": "Contact Name"
                },
                "Start Date": {
                  "type": "string",
                  "description": "Start Date"
                },
                "End Date": {
                  "type": "string",
                  "description": "End Date"
                },
                "Employee Name": {
                  "type": "string",
                  "description": "Employee Name"
                },
                "Type": {
                  "type": "string",
                  "description": "Type"
                },
                "Length": {
                  "type": "string",
                  "description": "Length"
                },
                "Subject": {
                  "type": "string",
                  "description": "Subject"
                },
                "Content": {
                  "type": "string",
                  "description": "Content"
                },
                "Billed": {
                  "type": "string",
                  "description": "Billed"
                },
                "Work Order": {
                  "type": "string",
                  "description": "Work Order"
                },
                "Sales Order": {
                  "type": "string",
                  "description": "Sales Order"
                },
                "Sales Lead": {
                  "type": "string",
                  "description": "Sales Lead"
                },
                "Project ID": {
                  "type": "string",
                  "description": "Project ID"
                },
                "Recipient": {
                  "type": "string",
                  "description": "Recipient"
                },
                "cc": {
                  "type": "string",
                  "description": "cc"
                },
                "Bcc": {
                  "type": "string",
                  "description": "Bcc"
                },
                "CallNumber": {
                  "type": "string",
                  "description": "CallNumber"
                },
                "RecordID": {
                  "type": "string",
                  "description": "RecordID"
                },
                "Company Name": {
                  "type": "string",
                  "description": "Company Name"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#retrieve-comlog-details"
        }
      },
      "put": {
        "tags": [
          "ComLog"
        ],
        "summary": "Update Comlog Data",
        "description": "Updates a communication entry",
        "operationId": "ComLog_PutValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Communication ID",
            "x-ms-summary": "Communication ID",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of the event",
                  "title": "Communication Type",
                  "enum": [
                    "E-mail",
                    "Phone-Call",
                    "Fax",
                    "Tweet",
                    "Facebook",
                    "Other"
                  ]
                },
                "subject": {
                  "type": "string",
                  "description": "The subject of the event",
                  "title": "Subject"
                },
                "body": {
                  "type": "string",
                  "description": "The message content",
                  "title": "Content Body"
                },
                "employee": {
                  "type": "string",
                  "description": "The employee name that performed the action",
                  "title": "Employee Name"
                },
                "starttime": {
                  "type": "string",
                  "description": "The event start date/time",
                  "title": "Start Date/Time"
                },
                "endtime": {
                  "type": "string",
                  "description": "The end time of the communication",
                  "title": "End Time"
                },
                "workorder": {
                  "type": "string",
                  "description": "The work order number linked to the event",
                  "title": "Workorder ID"
                },
                "project": {
                  "type": "string",
                  "description": "The project ID of the communication",
                  "title": "Project ID"
                },
                "campaign": {
                  "type": "string",
                  "description": "The ID of the linked campaign",
                  "title": "Campaign Link"
                },
                "length": {
                  "type": "number",
                  "description": "How long the event took place",
                  "title": "Event Length"
                },
                "billed": {
                  "type": "boolean",
                  "description": "Has entry been invoiced in the CRM",
                  "title": "Is Billed"
                },
                "inbound": {
                  "type": "boolean",
                  "description": "Was the communication inbound",
                  "title": "Inbound"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#update-comlog-data"
        }
      }
    },
    "/{connectionId}/api/Contact": {
      "get": {
        "tags": [
          "Contact"
        ],
        "operationId": "Contact_GetValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Contact List",
        "description": "retrieves a list of contacts",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#get-contact-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Create new CRM Contact",
        "description": "   Creates a qualified prospect, customer or vendor",
        "operationId": "Contact_PostValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "account": {
                  "type": "string",
                  "description": "account"
                },
                "sal": {
                  "type": "string",
                  "description": "sal"
                },
                "firstname": {
                  "type": "string",
                  "description": "firstname"
                },
                "middlename": {
                  "type": "string",
                  "description": "middlename"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "lastname": {
                  "type": "string",
                  "description": "lastname"
                },
                "company": {
                  "type": "string",
                  "description": "company"
                },
                "addr1": {
                  "type": "string",
                  "description": "addr1"
                },
                "addr2": {
                  "type": "string",
                  "description": "addr2"
                },
                "city": {
                  "type": "string",
                  "description": "city"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "postal": {
                  "type": "string",
                  "description": "postal"
                },
                "email1": {
                  "type": "string",
                  "description": "email1"
                },
                "email2": {
                  "type": "string",
                  "description": "email2"
                },
                "email3": {
                  "type": "string",
                  "description": "email3"
                },
                "email4": {
                  "type": "string",
                  "description": "email4"
                },
                "phonetype1": {
                  "type": "string",
                  "description": "phonetype1"
                },
                "phone1": {
                  "type": "string",
                  "description": "phone1"
                },
                "phonetype2": {
                  "type": "string",
                  "description": "phonetype2"
                },
                "phone2": {
                  "type": "string",
                  "description": "phone2"
                },
                "phonetype3": {
                  "type": "string",
                  "description": "phonetype3"
                },
                "phone3": {
                  "type": "string",
                  "description": "phone3"
                },
                "phonetype4": {
                  "type": "string",
                  "description": "phonetype4"
                },
                "phone4": {
                  "type": "string",
                  "description": "phone4"
                },
                "remark": {
                  "type": "string",
                  "description": "remark"
                },
                "notes": {
                  "type": "string",
                  "description": "notes"
                },
                "campaign": {
                  "type": "string",
                  "description": "campaign"
                },
                "category": {
                  "type": "string",
                  "description": "category"
                },
                "market": {
                  "type": "string",
                  "description": "market"
                },
                "territory": {
                  "type": "string",
                  "description": "territory"
                },
                "salesrep": {
                  "type": "string",
                  "description": "salesrep"
                },
                "lastcontact": {
                  "type": "string",
                  "format": "date-time",
                  "description": "lastcontact"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#create-new-crm-contact"
        }
      }
    },
    "/{connectionId}/api/Contact/{id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Retrieve CRM Contact Details",
        "description": "Retrieves details about the specified contact",
        "operationId": "Contact_GetValue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Contact ID",
            "x-ms-summary": "Contact ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#retrieve-crm-contact-details"
        }
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Update CRM Contact Data",
        "description": "    Update the specified CRM contact ",
        "operationId": "Contact_PutValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Contact ID",
            "x-ms-summary": "Contact ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sal": {
                  "type": "string",
                  "description": "sal"
                },
                "firstname": {
                  "type": "string",
                  "description": "firstname"
                },
                "middlename": {
                  "type": "string",
                  "description": "middlename"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "lastname": {
                  "type": "string",
                  "description": "lastname"
                },
                "company": {
                  "type": "string",
                  "description": "company"
                },
                "addr1": {
                  "type": "string",
                  "description": "addr1"
                },
                "addr2": {
                  "type": "string",
                  "description": "addr2"
                },
                "city": {
                  "type": "string",
                  "description": "city"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "postal": {
                  "type": "string",
                  "description": "postal"
                },
                "email1": {
                  "type": "string",
                  "description": "email1"
                },
                "email2": {
                  "type": "string",
                  "description": "email2"
                },
                "email3": {
                  "type": "string",
                  "description": "email3"
                },
                "email4": {
                  "type": "string",
                  "description": "email4"
                },
                "phonetype1": {
                  "type": "string",
                  "description": "phonetype1"
                },
                "phone1": {
                  "type": "string",
                  "description": "phone1"
                },
                "phonetype2": {
                  "type": "string",
                  "description": "phonetype2"
                },
                "phone2": {
                  "type": "string",
                  "description": "phone2"
                },
                "phonetype3": {
                  "type": "string",
                  "description": "phonetype3"
                },
                "phone3": {
                  "type": "string",
                  "description": "phone3"
                },
                "phonetype4": {
                  "type": "string",
                  "description": "phonetype4"
                },
                "phone4": {
                  "type": "string",
                  "description": "phone4"
                },
                "remark": {
                  "type": "string",
                  "description": "remark"
                },
                "notes": {
                  "type": "string",
                  "description": "notes"
                },
                "campaign": {
                  "type": "string",
                  "description": "campaign"
                },
                "category": {
                  "type": "string",
                  "description": "category"
                },
                "market": {
                  "type": "string",
                  "description": "market"
                },
                "territory": {
                  "type": "string",
                  "description": "territory"
                },
                "salesrep": {
                  "type": "string",
                  "description": "salesrep"
                },
                "lastcontact": {
                  "type": "string",
                  "format": "date-time",
                  "description": "lastcontact"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#update-crm-contact-data"
        }
      }
    },
    "/{connectionId}/api/FollowUp": {
      "get": {
        "tags": [
          "FollowUp"
        ],
        "summary": "Get FollowUp List",
        "description": "Retrieve list of followups",
        "operationId": "FollowUp_GetValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#get-followup-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "FollowUp"
        ],
        "summary": "Create New FollowUp",
        "description": "Creates a new followup",
        "operationId": "FollowUp_PostValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contactid": {
                  "type": "string",
                  "description": "The contact ID linked to the followup (blank for lead)",
                  "title": "Contact ID"
                },
                "leadid": {
                  "type": "string",
                  "description": "The lead ID of the followup (0 for contact)",
                  "title": "Lead ID"
                },
                "type": {
                  "type": "string",
                  "description": "The type of the follow up (Call Back, GoToMeeting, etc)",
                  "title": "Follow Up Type"
                },
                "comments": {
                  "type": "string",
                  "description": "Comments or Instructions related to the followup",
                  "title": "Comments or Instructions"
                },
                "assignedto": {
                  "type": "string",
                  "description": "The employee name assigned to the followup",
                  "title": "Employee Assigned To"
                },
                "setby": {
                  "type": "string",
                  "description": "The employee name that set the followup",
                  "title": "Employee Set By"
                },
                "duedate": {
                  "type": "string",
                  "description": "The due date of the followup",
                  "title": "Due Date"
                },
                "urgent": {
                  "type": "boolean",
                  "description": "Is this followup urgent",
                  "title": "Is Urgent"
                },
                "reminderminutes": {
                  "type": "number",
                  "description": "Number of minutes before event for reminder (0 = none)",
                  "title": "Reminder Minutes"
                },
                "cleared": {
                  "type": "boolean",
                  "description": "Is this followup Cleared",
                  "title": "Is Cleared"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#create-new-followup"
        }
      }
    },
    "/{connectionId}/api/FollowUp/{id}": {
      "get": {
        "tags": [
          "FollowUp"
        ],
        "summary": "Retrieve followup Details",
        "description": "Followup details",
        "operationId": "FollowUp_GetValue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Follow Up ID",
            "x-ms-summary": "Follow Up ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "account": {
                  "type": "string",
                  "description": "account"
                },
                "RecallID": {
                  "type": "string",
                  "description": "RecallID"
                },
                "Employee Name": {
                  "type": "string",
                  "description": "Employee Name"
                },
                "SET FOR": {
                  "type": "string",
                  "description": "SET FOR"
                },
                "SET BY": {
                  "type": "string",
                  "description": "SET BY"
                },
                "SET ON": {
                  "type": "string",
                  "description": "SET ON"
                },
                "IS CLEARED": {
                  "type": "string",
                  "description": "IS CLEARED"
                },
                "Cleared By": {
                  "type": "string",
                  "description": "Cleared By"
                },
                "Cleared On": {
                  "type": "string",
                  "description": "Cleared On"
                },
                "ACCOUNT TYPE": {
                  "type": "string",
                  "description": "ACCOUNT TYPE"
                },
                "Priority": {
                  "type": "string",
                  "description": "Priority"
                },
                "TYPE": {
                  "type": "string",
                  "description": "TYPE"
                },
                "Details": {
                  "type": "string",
                  "description": "Details"
                },
                "Account Name": {
                  "type": "string",
                  "description": "Account Name"
                },
                "First Name": {
                  "type": "string",
                  "description": "First Name"
                },
                "Last Name": {
                  "type": "string",
                  "description": "Last Name"
                },
                "Company Name": {
                  "type": "string",
                  "description": "Company Name"
                },
                "FollowUp Date": {
                  "type": "string",
                  "description": "FollowUp Date"
                },
                "Reminder Time": {
                  "type": "string",
                  "description": "Reminder Time"
                },
                "WORK ORDER": {
                  "type": "string",
                  "description": "WORK ORDER"
                },
                "Sales Lead": {
                  "type": "string",
                  "description": "Sales Lead"
                },
                "Project ID": {
                  "type": "string",
                  "description": "Project ID"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#retrieve-followup-details"
        }
      },
      "put": {
        "tags": [
          "FollowUp"
        ],
        "summary": "Update followup Data",
        "description": "Updates a followup",
        "operationId": "FollowUp_PutValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Follow Up ID",
            "x-ms-summary": "Follow Up ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of the followup (call back, gotomeeting, etc)",
                  "title": "Followup Type"
                },
                "comments": {
                  "type": "string",
                  "description": "Comments or Instructions related to followup",
                  "title": "Note or Comments"
                },
                "assignedto": {
                  "type": "string",
                  "description": "Employee name assigned to followup",
                  "title": "Employee Assigned To"
                },
                "setby": {
                  "type": "string",
                  "description": "Name of employee who set the followup",
                  "title": "Employee Set By"
                },
                "duedate": {
                  "type": "string",
                  "description": "Due date of followup",
                  "title": "Due Date"
                },
                "urgent": {
                  "type": "string",
                  "description": "Is this followup Urgent",
                  "title": "Is Urgent"
                },
                "reminderminutes": {
                  "type": "number",
                  "description": "Reminder minutes of followup (0=none)",
                  "title": "Reminder Minutes"
                },
                "cleared": {
                  "type": "boolean",
                  "description": "Is this followup cleared",
                  "title": "Is Cleared"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#update-followup-data"
        }
      }
    },
    "/{connectionId}/api/ItemList": {
      "get": {
        "tags": [
          "ItemList"
        ],
        "summary": "Get Item List",
        "description": "Returns a list of all items",
        "operationId": "ItemList_GetValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#get-item-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "ItemList"
        ],
        "summary": "Create New Item",
        "description": "All tags are required to be present, even if blank.",
        "operationId": "ItemList_PostValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "modelno": {
                  "type": "string",
                  "description": "The part number, Model Number or SKU of the item",
                  "title": "Part Number or SKU"
                },
                "descrip": {
                  "type": "string",
                  "description": "Sales description of item",
                  "title": "Item Description"
                },
                "itemtype": {
                  "type": "string",
                  "description": "The type of the item (Inventory,NonInv,Misc,Discount,Service)",
                  "title": "Item Type",
                  "enum": [
                    "I",
                    "N",
                    "M",
                    "D",
                    "S"
                  ]
                },
                "price": {
                  "type": "number",
                  "description": "The sales price of the item",
                  "title": "Sales Price"
                },
                "cost": {
                  "type": "number",
                  "description": "Last and Average cost of item",
                  "title": "Item Cost"
                },
                "vendor": {
                  "type": "string",
                  "description": "The vendor name purchased from",
                  "title": "Vendor Name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "New Code ID",
                  "x-ms-summary": "New Code ID"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#create-new-item"
        }
      }
    },
    "/{connectionId}/api/ItemList/{id}": {
      "get": {
        "tags": [
          "ItemList"
        ],
        "summary": "Retrieve Item Details",
        "description": "Details about a specific item",
        "operationId": "ItemList_GetValue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Item id",
            "x-ms-summary": "Item Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Code"
                },
                "Model Number": {
                  "type": "string",
                  "description": "Model Number"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "Sales Description": {
                  "type": "string",
                  "description": "Sales Description"
                },
                "Purchase Description": {
                  "type": "string",
                  "description": "Purchase Description"
                },
                "Item Type": {
                  "type": "string",
                  "description": "Item Type"
                },
                "Base Price": {
                  "type": "string",
                  "description": "Base Price"
                },
                "Avg Cost": {
                  "type": "string",
                  "description": "Avg Cost"
                },
                "Primary Category": {
                  "type": "string",
                  "description": "Primary Category"
                },
                "Category2": {
                  "type": "string",
                  "description": "Category2"
                },
                "Category3": {
                  "type": "string",
                  "description": "Category3"
                },
                "Category4": {
                  "type": "string",
                  "description": "Category4"
                },
                "Category5": {
                  "type": "string",
                  "description": "Category5"
                },
                "Base UOM": {
                  "type": "string",
                  "description": "Base UOM"
                },
                "Sell UOM": {
                  "type": "string",
                  "description": "Sell UOM"
                },
                "Buy UOM": {
                  "type": "string",
                  "description": "Buy UOM"
                },
                "Base Warehouse": {
                  "type": "string",
                  "description": "Base Warehouse"
                },
                "On Hand": {
                  "type": "string",
                  "description": "On Hand"
                },
                "On SO": {
                  "type": "string",
                  "description": "On SO"
                },
                "Bad": {
                  "type": "string",
                  "description": "Bad"
                },
                "On WO": {
                  "type": "string",
                  "description": "On WO"
                },
                "On PO": {
                  "type": "string",
                  "description": "On PO"
                },
                "Available": {
                  "type": "string",
                  "description": "Available"
                },
                "Taxable": {
                  "type": "string",
                  "description": "Taxable"
                },
                "Tax 2": {
                  "type": "string",
                  "description": "Tax 2"
                },
                "Pays Commission": {
                  "type": "string",
                  "description": "Pays Commission"
                },
                "Fixed Price": {
                  "type": "string",
                  "description": "Fixed Price"
                },
                "Discounting Prohibited": {
                  "type": "string",
                  "description": "Discounting Prohibited"
                },
                "Call For Price": {
                  "type": "string",
                  "description": "Call For Price"
                },
                "Call For Cost": {
                  "type": "string",
                  "description": "Call For Cost"
                },
                "Gratis Item": {
                  "type": "string",
                  "description": "Gratis Item"
                },
                "Hidden on Printouts": {
                  "type": "string",
                  "description": "Hidden on Printouts"
                },
                "Exclude From Margin": {
                  "type": "string",
                  "description": "Exclude From Margin"
                },
                "Track Serial Numbers": {
                  "type": "string",
                  "description": "Track Serial Numbers"
                },
                "Serialization Mode": {
                  "type": "string",
                  "description": "Serialization Mode"
                },
                "Serial Number Required": {
                  "type": "string",
                  "description": "Serial Number Required"
                },
                "Prohibit Duplicate Serial Numbers": {
                  "type": "string",
                  "description": "Prohibit Duplicate Serial Numbers"
                },
                "Expiration Date Applies": {
                  "type": "string",
                  "description": "Expiration Date Applies"
                },
                "Shipping Charges Apply": {
                  "type": "string",
                  "description": "Shipping Charges Apply"
                },
                "Item must ship seperately": {
                  "type": "string",
                  "description": "Item must ship seperately"
                },
                "Group Ship Items": {
                  "type": "string",
                  "description": "Group Ship Items"
                },
                "Drop-Ship From Vendor": {
                  "type": "string",
                  "description": "Drop-Ship From Vendor"
                },
                "Height": {
                  "type": "string",
                  "description": "Height"
                },
                "Width": {
                  "type": "string",
                  "description": "Width"
                },
                "Depth": {
                  "type": "string",
                  "description": "Depth"
                },
                "Weight": {
                  "type": "string",
                  "description": "Weight"
                },
                "Box Limit": {
                  "type": "string",
                  "description": "Box Limit"
                },
                "Lead Time": {
                  "type": "string",
                  "description": "Lead Time"
                },
                "Last Cost": {
                  "type": "string",
                  "description": "Last Cost"
                },
                "Reorder Point": {
                  "type": "string",
                  "description": "Reorder Point"
                },
                "Item Message": {
                  "type": "string",
                  "description": "Item Message"
                },
                "ON SALE": {
                  "type": "string",
                  "description": "ON SALE"
                },
                "IS ASSEMBLY": {
                  "type": "string",
                  "description": "IS ASSEMBLY"
                },
                "Manufacturer Part Number": {
                  "type": "string",
                  "description": "Manufacturer Part Number"
                },
                "OEM": {
                  "type": "string",
                  "description": "OEM"
                },
                "BIN Location": {
                  "type": "string",
                  "description": "BIN Location"
                },
                "Primary Vendor": {
                  "type": "string",
                  "description": "Primary Vendor"
                },
                "Vendor 1 Part #": {
                  "type": "string",
                  "description": "Vendor 1 Part #"
                },
                "Vendor 1 Descrip": {
                  "type": "string",
                  "description": "Vendor 1 Descrip"
                },
                "Vendor 1 Cost": {
                  "type": "string",
                  "description": "Vendor 1 Cost"
                },
                "Vendor 1 Date Cost Verified": {
                  "type": "string",
                  "description": "Vendor 1 Date Cost Verified"
                },
                "Vendor 2": {
                  "type": "string",
                  "description": "Vendor 2"
                },
                "Vendor 2 Part #": {
                  "type": "string",
                  "description": "Vendor 2 Part #"
                },
                "Vendor 2 Descrip": {
                  "type": "string",
                  "description": "Vendor 2 Descrip"
                },
                "Vendor 2 Cost": {
                  "type": "string",
                  "description": "Vendor 2 Cost"
                },
                "Vendor 2 Date Cost Verified": {
                  "type": "string",
                  "description": "Vendor 2 Date Cost Verified"
                },
                "Vendor 3": {
                  "type": "string",
                  "description": "Vendor 3"
                },
                "Vendor 3 Part #": {
                  "type": "string",
                  "description": "Vendor 3 Part #"
                },
                "Vendor 3 Descrip": {
                  "type": "string",
                  "description": "Vendor 3 Descrip"
                },
                "Vendor 3 Cost": {
                  "type": "string",
                  "description": "Vendor 3 Cost"
                },
                "Vendor 3 Date Cost Verified": {
                  "type": "string",
                  "description": "Vendor 3 Date Cost Verified"
                },
                "Vendor 4": {
                  "type": "string",
                  "description": "Vendor 4"
                },
                "Vendor 4 Part #": {
                  "type": "string",
                  "description": "Vendor 4 Part #"
                },
                "Vendor 4 Descrip": {
                  "type": "string",
                  "description": "Vendor 4 Descrip"
                },
                "Vendor 4 Cost": {
                  "type": "string",
                  "description": "Vendor 4 Cost"
                },
                "Vendor 4 Date Cost Verified": {
                  "type": "string",
                  "description": "Vendor 4 Date Cost Verified"
                },
                "Vendor 5": {
                  "type": "string",
                  "description": "Vendor 5"
                },
                "Vendor 5 Part #": {
                  "type": "string",
                  "description": "Vendor 5 Part #"
                },
                "Vendor 5 Descrip": {
                  "type": "string",
                  "description": "Vendor 5 Descrip"
                },
                "Vendor 5 Cost": {
                  "type": "string",
                  "description": "Vendor 5 Cost"
                },
                "Vendor 5 Date Cost Verified": {
                  "type": "string",
                  "description": "Vendor 5 Date Cost Verified"
                },
                "Price Level Mode": {
                  "type": "string",
                  "description": "Price Level Mode"
                },
                "Price Level 2": {
                  "type": "string",
                  "description": "Price Level 2"
                },
                "Price Level 3": {
                  "type": "string",
                  "description": "Price Level 3"
                },
                "Price Level 4": {
                  "type": "string",
                  "description": "Price Level 4"
                },
                "Price Level 5": {
                  "type": "string",
                  "description": "Price Level 5"
                },
                "Price Level 6": {
                  "type": "string",
                  "description": "Price Level 6"
                },
                "Price Level 7": {
                  "type": "string",
                  "description": "Price Level 7"
                },
                "Price Level 8": {
                  "type": "string",
                  "description": "Price Level 8"
                },
                "Price Level 9": {
                  "type": "string",
                  "description": "Price Level 9"
                },
                "Price Level 10": {
                  "type": "string",
                  "description": "Price Level 10"
                },
                "Price Level 11": {
                  "type": "string",
                  "description": "Price Level 11"
                },
                "Price Level 12": {
                  "type": "string",
                  "description": "Price Level 12"
                },
                "Price Level 13": {
                  "type": "string",
                  "description": "Price Level 13"
                },
                "Price Level 14": {
                  "type": "string",
                  "description": "Price Level 14"
                },
                "Price Level 15": {
                  "type": "string",
                  "description": "Price Level 15"
                },
                "Price Level 16": {
                  "type": "string",
                  "description": "Price Level 16"
                },
                "Price Level 17": {
                  "type": "string",
                  "description": "Price Level 17"
                },
                "Price Level 18": {
                  "type": "string",
                  "description": "Price Level 18"
                },
                "Price Level 19": {
                  "type": "string",
                  "description": "Price Level 19"
                },
                "Price Level 20": {
                  "type": "string",
                  "description": "Price Level 20"
                },
                "Quantity Level 1": {
                  "type": "string",
                  "description": "Quantity Level 1"
                },
                "Quantity Price 1": {
                  "type": "string",
                  "description": "Quantity Price 1"
                },
                "Quantity Price Level 1": {
                  "type": "string",
                  "description": "Quantity Price Level 1"
                },
                "Quantity Level 2": {
                  "type": "string",
                  "description": "Quantity Level 2"
                },
                "Quantity Price 2": {
                  "type": "string",
                  "description": "Quantity Price 2"
                },
                "Quantity Price Level 2": {
                  "type": "string",
                  "description": "Quantity Price Level 2"
                },
                "Quantity Level 3": {
                  "type": "string",
                  "description": "Quantity Level 3"
                },
                "Quantity Price 3": {
                  "type": "string",
                  "description": "Quantity Price 3"
                },
                "Quantity Price Level 3": {
                  "type": "string",
                  "description": "Quantity Price Level 3"
                },
                "Quantity Level 4": {
                  "type": "string",
                  "description": "Quantity Level 4"
                },
                "Quantity Price 4": {
                  "type": "string",
                  "description": "Quantity Price 4"
                },
                "Quantity Price Level 4": {
                  "type": "string",
                  "description": "Quantity Price Level 4"
                },
                "Quantity Level 5": {
                  "type": "string",
                  "description": "Quantity Level 5"
                },
                "Quantity Price 5": {
                  "type": "string",
                  "description": "Quantity Price 5"
                },
                "Quantity Price Level 5": {
                  "type": "string",
                  "description": "Quantity Price Level 5"
                },
                "Quantity Level 6": {
                  "type": "string",
                  "description": "Quantity Level 6"
                },
                "Quantity Price 6": {
                  "type": "string",
                  "description": "Quantity Price 6"
                },
                "Quantity Price Level 6": {
                  "type": "string",
                  "description": "Quantity Price Level 6"
                },
                "Quantity Level 7": {
                  "type": "string",
                  "description": "Quantity Level 7"
                },
                "Quantity Price 7": {
                  "type": "string",
                  "description": "Quantity Price 7"
                },
                "Quantity Price Level 7": {
                  "type": "string",
                  "description": "Quantity Price Level 7"
                },
                "Quantity Level 8": {
                  "type": "string",
                  "description": "Quantity Level 8"
                },
                "Quantity Price 8": {
                  "type": "string",
                  "description": "Quantity Price 8"
                },
                "Quantity Price Level 8": {
                  "type": "string",
                  "description": "Quantity Price Level 8"
                },
                "Quantity Level 9": {
                  "type": "string",
                  "description": "Quantity Level 9"
                },
                "Quantity Price 9": {
                  "type": "string",
                  "description": "Quantity Price 9"
                },
                "Quantity Price Level 9": {
                  "type": "string",
                  "description": "Quantity Price Level 9"
                },
                "Quantity Level 10": {
                  "type": "string",
                  "description": "Quantity Level 10"
                },
                "Quantity Price 10": {
                  "type": "string",
                  "description": "Quantity Price 10"
                },
                "Quantity Price Level 10": {
                  "type": "string",
                  "description": "Quantity Price Level 10"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#retrieve-item-details"
        }
      },
      "put": {
        "tags": [
          "ItemList"
        ],
        "summary": "Update Item Data",
        "description": "Updates an existing item",
        "operationId": "ItemList_PutValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Item ID",
            "x-ms-summary": "Item ID",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "descrip": {
                  "type": "string",
                  "description": "The updated description for the item",
                  "title": "Updated Description"
                },
                "price": {
                  "type": "number",
                  "description": "The updated price for the item",
                  "title": "Updated Price"
                },
                "cost": {
                  "type": "number",
                  "description": "The updated average and last cost of the item",
                  "title": "Updated Cost"
                },
                "vendor": {
                  "type": "string",
                  "description": "The updated vendor for the item",
                  "title": "Updated Vendor"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#update-item-data"
        }
      }
    },
    "/{connectionId}/api/Lead": {
      "get": {
        "tags": [
          "Lead"
        ],
        "operationId": "Lead_GetValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Active Leads",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Returns a list of active sales leads",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#get-active-leads"
        }
      },
      "post": {
        "tags": [
          "Lead"
        ],
        "summary": "Create New Lead",
        "description": "Creates a new sales lead",
        "operationId": "Lead_PostValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sal": {
                  "type": "string",
                  "description": "Mr, Ms, etc",
                  "title": "Saluation"
                },
                "firstname": {
                  "type": "string",
                  "description": "First Name",
                  "title": "First Name"
                },
                "middlename": {
                  "type": "string",
                  "description": "Optional",
                  "title": "Middle Name"
                },
                "title": {
                  "type": "string",
                  "description": "Owner, VP, etc",
                  "title": "Contact Title"
                },
                "lastname": {
                  "type": "string",
                  "description": "Last Name",
                  "title": "Last Name"
                },
                "company": {
                  "type": "string",
                  "description": "Optional",
                  "title": "Company Name"
                },
                "addr1": {
                  "type": "string",
                  "description": "Address Line 1",
                  "title": "Address Line 1"
                },
                "addr2": {
                  "type": "string",
                  "description": "Optional",
                  "title": "Address Line 2"
                },
                "city": {
                  "type": "string",
                  "description": "Address City",
                  "title": "Address City"
                },
                "state": {
                  "type": "string",
                  "description": "State or Region",
                  "title": "Address State"
                },
                "postal": {
                  "type": "string",
                  "description": "Zip Code or Postal Code",
                  "title": "Address Zip or Postal"
                },
                "email1": {
                  "type": "string",
                  "description": "Email 1",
                  "title": "Primary EMail"
                },
                "email2": {
                  "type": "string",
                  "description": "Email 2",
                  "title": "EMail 2"
                },
                "email3": {
                  "type": "string",
                  "description": "Email 3",
                  "title": "EMail 3"
                },
                "email4": {
                  "type": "string",
                  "description": "EMail 4",
                  "title": "EMail 4"
                },
                "phonetype1": {
                  "type": "string",
                  "description": "Home, Work, Cell, etc",
                  "title": "Primary Phone Type"
                },
                "phone1": {
                  "type": "string",
                  "description": "(xxx) xxx-xxxx",
                  "title": "Primary Phone"
                },
                "phonetype2": {
                  "type": "string",
                  "description": "Work, Cell, Fax, etc",
                  "title": "Phone Type 2"
                },
                "phone2": {
                  "type": "string",
                  "description": "Phone 2",
                  "title": "Alternate Phone"
                },
                "phonetype3": {
                  "type": "string",
                  "description": "Work, Cell, Fax, etc",
                  "title": "Phone Type 3"
                },
                "phone3": {
                  "type": "string",
                  "description": "Phone 3",
                  "title": "Alternate Phone"
                },
                "phonetype4": {
                  "type": "string",
                  "description": "Work, Cell, Fax, Ettc",
                  "title": "Phone Type 4"
                },
                "phone4": {
                  "type": "string",
                  "description": "Phone 4",
                  "title": "Alternate Phone"
                },
                "remark": {
                  "type": "string",
                  "description": "A short remark",
                  "title": "Quick Remark"
                },
                "notes": {
                  "type": "string",
                  "description": "General Notes",
                  "title": "Contact Notes"
                },
                "campaign": {
                  "type": "string",
                  "description": "The name (not the ID) of the marketing source",
                  "title": "Campaign Name"
                },
                "category": {
                  "type": "string",
                  "description": "Category for the lead (such as Hot Lead, etc)",
                  "title": "Lead Category"
                },
                "role": {
                  "type": "string",
                  "description": "Decision maker, etc",
                  "title": "Contact Role"
                },
                "market": {
                  "type": "string",
                  "description": "Description of market (Industrial, Bakeries, etc)",
                  "title": "Market Description"
                },
                "territory": {
                  "type": "string",
                  "description": "East, North, etc",
                  "title": "Territory"
                },
                "salesrep": {
                  "type": "string",
                  "description": "The sales rep name (blank for unassigned)",
                  "title": "Sales Rep Name"
                },
                "lastcontact": {
                  "type": "string",
                  "description": "date of last contact",
                  "title": "Last Contact Date"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#create-new-lead"
        }
      }
    },
    "/{connectionId}/api/Lead/{id}": {
      "get": {
        "tags": [
          "Lead"
        ],
        "summary": "Retrieve Lead Details",
        "description": "retrieves the lead details",
        "operationId": "Lead_GetValue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Lead ID",
            "x-ms-summary": "Lead ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "leadid": {
                  "type": "string",
                  "description": "leadid"
                },
                "Category": {
                  "type": "string",
                  "description": "Category"
                },
                "recordid": {
                  "type": "string",
                  "description": "recordid"
                },
                "Company Name": {
                  "type": "string",
                  "description": "Company Name"
                },
                "Salutation": {
                  "type": "string",
                  "description": "Salutation"
                },
                "First Name": {
                  "type": "string",
                  "description": "First Name"
                },
                "Last Name": {
                  "type": "string",
                  "description": "Last Name"
                },
                "Address Line 1": {
                  "type": "string",
                  "description": "Address Line 1"
                },
                "Address Line 2": {
                  "type": "string",
                  "description": "Address Line 2"
                },
                "City": {
                  "type": "string",
                  "description": "City"
                },
                "State": {
                  "type": "string",
                  "description": "State"
                },
                "Postal Code": {
                  "type": "string",
                  "description": "Postal Code"
                },
                "Country": {
                  "type": "string",
                  "description": "Country"
                },
                "Time-Zone": {
                  "type": "string",
                  "description": "Time-Zone"
                },
                "Latitude": {
                  "type": "string",
                  "description": "Latitude"
                },
                "Longitude": {
                  "type": "string",
                  "description": "Longitude"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "Contact Type": {
                  "type": "string",
                  "description": "Contact Type"
                },
                "Sales Rep": {
                  "type": "string",
                  "description": "Sales Rep"
                },
                "Phone Extension": {
                  "type": "string",
                  "description": "Phone Extension"
                },
                "Last Contact Date": {
                  "type": "string",
                  "description": "Last Contact Date"
                },
                "Contact Notes": {
                  "type": "string",
                  "description": "Contact Notes"
                },
                "Quick Remark": {
                  "type": "string",
                  "description": "Quick Remark"
                },
                "Created Date": {
                  "type": "string",
                  "description": "Created Date"
                },
                "Market": {
                  "type": "string",
                  "description": "Market"
                },
                "Sales Territory": {
                  "type": "string",
                  "description": "Sales Territory"
                },
                "Primary Email": {
                  "type": "string",
                  "description": "Primary Email"
                },
                "EMail 2": {
                  "type": "string",
                  "description": "EMail 2"
                },
                "Email 3": {
                  "type": "string",
                  "description": "Email 3"
                },
                "Email 4": {
                  "type": "string",
                  "description": "Email 4"
                },
                "OPTOUT": {
                  "type": "string",
                  "description": "OPTOUT"
                },
                "Phone1": {
                  "type": "string",
                  "description": "Phone1"
                },
                "Phone2": {
                  "type": "string",
                  "description": "Phone2"
                },
                "Phone3": {
                  "type": "string",
                  "description": "Phone3"
                },
                "Phone4": {
                  "type": "string",
                  "description": "Phone4"
                },
                "Promotion Memberships": {
                  "type": "string",
                  "description": "Promotion Memberships"
                },
                "Source": {
                  "type": "string",
                  "description": "Source"
                },
                "Source Notes": {
                  "type": "string",
                  "description": "Source Notes"
                },
                "Website": {
                  "type": "string",
                  "description": "Website"
                },
                "Twitter": {
                  "type": "string",
                  "description": "Twitter"
                },
                "Facebook": {
                  "type": "string",
                  "description": "Facebook"
                },
                "LinkedIn": {
                  "type": "string",
                  "description": "LinkedIn"
                },
                "Product Interest": {
                  "type": "string",
                  "description": "Product Interest"
                },
                "Assigned To Rep": {
                  "type": "string",
                  "description": "Assigned To Rep"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#retrieve-lead-details"
        }
      },
      "put": {
        "tags": [
          "Lead"
        ],
        "summary": "Update Lead Data",
        "description": "Update an existing sales lead",
        "operationId": "Lead_PutValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Lead ID",
            "x-ms-summary": "Lead ID",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "sal": {
                  "type": "string",
                  "description": "Mr, Ms, Etc",
                  "title": "Salutation"
                },
                "firstname": {
                  "type": "string",
                  "description": "First Name",
                  "title": "First Name"
                },
                "middlename": {
                  "type": "string",
                  "description": "optional",
                  "title": "Middle Name"
                },
                "title": {
                  "type": "string",
                  "description": "VP, Owner, Janitor, etcf",
                  "title": "Contact Title"
                },
                "lastname": {
                  "type": "string",
                  "description": "Required",
                  "title": "Last Name"
                },
                "company": {
                  "type": "string",
                  "description": "Optional",
                  "title": "Company Name"
                },
                "addr1": {
                  "type": "string",
                  "description": "Address Line 1",
                  "title": "Address Line 1"
                },
                "addr2": {
                  "type": "string",
                  "description": "Address Line 2",
                  "title": "Address Line 2"
                },
                "city": {
                  "type": "string",
                  "description": "Address City",
                  "title": "Address City"
                },
                "state": {
                  "type": "string",
                  "description": "State or Region",
                  "title": "Address State"
                },
                "postal": {
                  "type": "string",
                  "description": "Zip or postal code",
                  "title": "Address Zip or Postal"
                },
                "email1": {
                  "type": "string",
                  "description": "Email 1",
                  "title": "Primary EMail"
                },
                "email2": {
                  "type": "string",
                  "description": "Alternate Email",
                  "title": "EMail 2"
                },
                "email3": {
                  "type": "string",
                  "description": "Alternate EMail",
                  "title": "EMail 3"
                },
                "email4": {
                  "type": "string",
                  "description": "Alternate EMail",
                  "title": "EMail 4"
                },
                "phonetype1": {
                  "type": "string",
                  "description": "Cell, Fax, etc",
                  "title": "Phone Type 1"
                },
                "phone1": {
                  "type": "string",
                  "description": "(xxx) xxx-xxxx",
                  "title": "Primary Phone"
                },
                "phonetype2": {
                  "type": "string",
                  "description": "Cell, Fax, etc",
                  "title": "Phone Type 2"
                },
                "phone2": {
                  "type": "string",
                  "description": "alternate phone",
                  "title": "Phone 2"
                },
                "phonetype3": {
                  "type": "string",
                  "description": "Cell, Fax, etc",
                  "title": "Phone Type 3"
                },
                "phone3": {
                  "type": "string",
                  "description": "alternate phone",
                  "title": "Phone 3"
                },
                "phonetype4": {
                  "type": "string",
                  "description": "Cell, fax, etc",
                  "title": "Phone Type 4"
                },
                "phone4": {
                  "type": "string",
                  "description": "alternate phone",
                  "title": "Phone 4"
                },
                "remark": {
                  "type": "string",
                  "description": "A short remark",
                  "title": "Quick Remark"
                },
                "notes": {
                  "type": "string",
                  "description": "General notes",
                  "title": "Contact Notes"
                },
                "campaign": {
                  "type": "string",
                  "description": "Description (not ID) of the marketing campaign",
                  "title": "Marketing Campaign"
                },
                "category": {
                  "type": "string",
                  "description": "Hot Lead, etc",
                  "title": "Category"
                },
                "role": {
                  "type": "string",
                  "description": "Decision Maker, etc",
                  "title": "Contact Role"
                },
                "market": {
                  "type": "string",
                  "description": "Description of market (Bakeries, Chemical Factory, etc)",
                  "title": "Market Name"
                },
                "territory": {
                  "type": "string",
                  "description": "North, South, etc",
                  "title": "Territory Name"
                },
                "salesrep": {
                  "type": "string",
                  "description": "Blank for unassigned",
                  "title": "Sales Rep Name"
                },
                "lastcontact": {
                  "type": "string",
                  "description": "date of last communication",
                  "title": "Last Contact Date"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#update-lead-data"
        }
      }
    },
    "/{connectionId}/api/Members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Get Member List",
        "description": "Marketing campaign members",
        "operationId": "Members_GetValues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "C",
              "L",
              "B"
            ],
            "description": "Type of campaign member (Lead, Contact or Both)",
            "x-ms-summary": "Supply L, C or B (required)"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#get-member-list"
        }
      },
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Add New Member",
        "description": "Adds a marketing campaign member",
        "operationId": "Members_PostValue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "promoid": {
                  "type": "string",
                  "description": "The ID of the campaign to link to",
                  "title": "Campaign ID"
                },
                "recordtype": {
                  "type": "string",
                  "description": "L for Lead, C for Contact",
                  "title": "Record Type",
                  "enum": [
                    "C",
                    "L"
                  ]
                },
                "recordid": {
                  "type": "string",
                  "description": "Contact ID or Lead ID tied to campaign",
                  "title": "Contact ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imprezian/#add-new-member"
        }
      }
    },
    "/{connectionId}/api/Members/{id}": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Retrieve Member Details",
        "description": "retrieve details about a member",
        "operationId": "Members_GetValue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of member",
            "x-ms-summary": "Id of member",
            "required": true,
            "type": "string"
          }
        ],
[...]
