{
  "swagger": "2.0",
  "info": {
    "title": "Requestor",
    "description": "Requestor is a versatile multichannel helpdesk designed for customer support and internal request management. With Requestor, you can efficiently handle customer support and internal team requests through email, phone, and chat, all in one convenient location. The Requestor connector is intended for Requestor operators to manage tickets and contacts.",
    "version": "1.0",
    "contact": {
      "name": "Technical support",
      "email": "support@requestor.com",
      "url": "https://www.requestor.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/requestor",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/PowerAutomate/CreateTrigger": {
      "x-ms-notification-content": {
        "description": "Novy ticket",
        "schema": {
          "type": "object",
          "properties": {
            "TicketId": {
              "type": "integer",
              "format": "int32",
              "description": "TicketId"
            },
            "TicketREF": {
              "type": "string",
              "description": "TicketREF"
            },
            "TicketType": {
              "type": "integer",
              "format": "int32",
              "description": "TicketType"
            },
            "Subject": {
              "type": "string",
              "description": "Subject"
            },
            "CreatedUTC": {
              "type": "string",
              "description": "CreatedUTC"
            },
            "Closed": {
              "type": "boolean",
              "description": "Closed"
            },
            "ClosedUTC": {
              "type": "string",
              "description": "ClosedUTC"
            },
            "SubmitterKey": {
              "type": "string",
              "description": "SubmitterKey"
            },
            "SubmitterFullName": {
              "type": "string",
              "description": "SubmitterFullName"
            },
            "SubmitterCompany": {
              "type": "string",
              "description": "SubmitterCompany"
            },
            "SolverKey": {
              "type": "string",
              "description": "SolverKey"
            },
            "SolverFullName": {
              "type": "string",
              "description": "SolverFullName"
            },
            "TicketState": {
              "type": "integer",
              "format": "int32",
              "description": "TicketState"
            },
            "TicketSummaryState": {
              "type": "integer",
              "format": "int32",
              "description": "TicketSummaryState"
            },
            "Source": {
              "type": "integer",
              "format": "int32",
              "description": "Source"
            },
            "ServiceId": {
              "type": "integer",
              "format": "int32",
              "description": "ServiceId"
            },
            "ServiceName": {
              "type": "string",
              "description": "ServiceName"
            },
            "ResolutionText": {
              "type": "string",
              "description": "ResolutionText"
            },
            "IsPrivateMessageSupported": {
              "type": "boolean",
              "description": "IsPrivateMessageSupported"
            },
            "AvailableTicketActions": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              },
              "description": "AvailableTicketActions"
            },
            "AllAvailableTicketActions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "TicketAction": {
                    "type": "integer",
                    "format": "int32",
                    "description": "TicketAction"
                  },
                  "ExtraParameterIsNeeded": {
                    "type": "boolean",
                    "description": "ExtraParameterIsNeeded"
                  },
                  "ConfirmationRecomended": {
                    "type": "boolean",
                    "description": "ConfirmationRecomended"
                  }
                }
              },
              "description": "AllAvailableTicketActions"
            },
            "UserMessages": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Id"
                  },
                  "CreatedUTC": {
                    "type": "string",
                    "description": "CreatedUTC"
                  },
                  "FirstMessage": {
                    "type": "boolean",
                    "description": "FirstMessage"
                  },
                  "UserFullName": {
                    "type": "string",
                    "description": "UserFullName"
                  },
                  "UserProviderKey": {
                    "type": "string",
                    "description": "UserProviderKey"
                  },
                  "UserNoteBesideName": {
                    "type": "string",
                    "description": "UserNoteBesideName"
                  },
                  "Html": {
                    "type": "boolean",
                    "description": "Html"
                  },
                  "Body": {
                    "type": "string",
                    "description": "Body"
                  },
                  "Edited": {
                    "type": "boolean",
                    "description": "Edited"
                  },
                  "EditedTimeUTC": {
                    "type": "string",
                    "description": "EditedTimeUTC"
                  },
                  "BodyOriginal": {
                    "type": "string",
                    "description": "BodyOriginal"
                  },
                  "BodyHtmlOriginal": {
                    "type": "string",
                    "description": "BodyHtmlOriginal"
                  },
                  "Deleted": {
                    "type": "boolean",
                    "description": "Deleted"
                  },
                  "Private": {
                    "type": "boolean",
                    "description": "Private"
                  },
                  "IsMobileDevice": {
                    "type": "boolean",
                    "description": "IsMobileDevice"
                  },
                  "Attachments": {
                    "type": "string",
                    "description": "Attachments"
                  },
                  "HtmlBodyContainsMedia": {
                    "type": "boolean",
                    "description": "HtmlBodyContainsMedia"
                  },
                  "CanEdit": {
                    "type": "boolean",
                    "description": "CanEdit"
                  },
                  "CanDelete": {
                    "type": "boolean",
                    "description": "CanDelete"
                  },
                  "CanSplit": {
                    "type": "boolean",
                    "description": "CanSplit"
                  },
                  "User": {
                    "type": "string",
                    "description": "User"
                  }
                }
              },
              "description": "UserMessages"
            },
            "CustomForms": {
              "type": "string",
              "description": "CustomForms"
            },
            "Priorities": {
              "type": "string",
              "description": "Priorities"
            },
            "VotesCount": {
              "type": "integer",
              "format": "int32",
              "description": "VotesCount"
            },
            "UserVote": {
              "type": "boolean",
              "description": "UserVote"
            },
            "CustomerName": {
              "type": "string",
              "description": "CustomerName"
            },
            "CustomerId": {
              "type": "string",
              "description": "CustomerId"
            },
            "SelectedCategories": {
              "type": "string",
              "description": "SelectedCategories"
            },
            "Slas": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Id"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "Description": {
                    "type": "string",
                    "description": "Description"
                  },
                  "SlaType": {
                    "type": "integer",
                    "format": "int32",
                    "description": "SlaType"
                  },
                  "Counters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Active": {
                          "type": "boolean",
                          "description": "Active"
                        },
                        "HistoryIndex": {
                          "type": "integer",
                          "format": "int32",
                          "description": "HistoryIndex"
                        },
                        "IsLastIndex": {
                          "type": "boolean",
                          "description": "IsLastIndex"
                        },
                        "StartUtc": {
                          "type": "string",
                          "description": "StartUtc"
                        },
                        "EndUtc": {
                          "type": "string",
                          "description": "EndUtc"
                        },
                        "SlaGoalTimeOut": {
                          "type": "string",
                          "description": "SlaGoalTimeOut"
                        },
                        "TimeLeft": {
                          "type": "string",
                          "description": "TimeLeft"
                        },
                        "Satisfied": {
                          "type": "boolean",
                          "description": "Satisfied"
                        },
                        "TicketSlaState": {
                          "type": "integer",
                          "format": "int32",
                          "description": "TicketSlaState"
                        }
                      }
                    },
                    "description": "Counters"
                  }
                }
              },
              "description": "Slas"
            },
            "LastActivityDateUTC": {
              "type": "string",
              "description": "LastActivityDateUTC"
            },
            "Invitations": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "InitiatorUserProviderKey": {
                    "type": "string",
                    "description": "InitiatorUserProviderKey"
                  },
                  "InitiatorFullName": {
                    "type": "string",
                    "description": "InitiatorFullName"
                  },
                  "InvitedUserProviderKey": {
                    "type": "string",
                    "description": "InvitedUserProviderKey"
                  },
                  "InvitedFullName": {
                    "type": "string",
                    "description": "InvitedFullName"
                  },
                  "CreatedUtc": {
                    "type": "string",
                    "description": "CreatedUtc"
                  }
                }
              },
              "description": "Invitations"
            },
            "Satisfactions": {
              "type": "string",
              "description": "Satisfactions"
            },
            "TicketRelations": {
              "type": "string",
              "description": "TicketRelations"
            },
            "Notes": {
              "type": "string",
              "description": "Notes"
            },
            "Tags": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Id"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "Static": {
                    "type": "boolean",
                    "description": "Static"
                  },
                  "Color": {
                    "type": "string",
                    "description": "Color"
                  },
                  "Type": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Type"
                  }
                }
              },
              "description": "Tags"
            },
            "ProductItems": {
              "type": "string",
              "description": "ProductItems"
            },
            "ServiceMailboxId": {
              "type": "string",
              "description": "ServiceMailboxId"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateTicketCreatedTrigger": {
      "x-ms-notification-content": {
        "description": "Novy ticket",
        "schema": {
          "type": "object",
          "properties": {
            "TICKET_ID": {
              "type": "integer",
              "format": "int32",
              "description": "TICKET_ID"
            },
            "TICKET_REF": {
              "type": "string",
              "description": "TICKET_REF"
            },
            "TICKET_SUBJECT": {
              "type": "string",
              "description": "TICKET_SUBJECT"
            },
            "TICKET_SERVICE": {
              "type": "string",
              "description": "TICKET_SERVICE"
            },
            "TICKET_SUBMITTEREMAIL": {
              "type": "string",
              "description": "TICKET_SUBMITTEREMAIL"
            },
            "TICKET_FIRSTMESSAGE": {
              "type": "string",
              "description": "TICKET_FIRSTMESSAGE"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a ticket is created",
        "description": "Triggered when a ticket is created.",
        "operationId": "TicketCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "CallbackUrl",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-ticket-is-created"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/DeleteTrigger/{id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete Trigger",
        "operationId": "DeleteTrigger",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Delete a trigger",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#delete-trigger"
        }
      }
    },
    "/{connectionId}/api/Tickets/NewTicket": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Ticket",
        "operationId": "CreateTicket",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Type",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTicketTypes",
                    "value-path": "Id",
                    "value-collection": "TicketTypes",
                    "value-title": "Name"
                  }
                },
                "ServiceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ServiceId",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetServices",
                    "value-path": "Id",
                    "value-collection": "Services",
                    "value-title": "Name"
                  }
                },
                "Subject": {
                  "type": "string",
                  "description": "Subject",
                  "title": ""
                },
                "Message": {
                  "type": "string",
                  "description": "Message",
                  "title": ""
                },
                "SubmitterEmail": {
                  "type": "string",
                  "description": "SubmitterEmail",
                  "title": ""
                },
                "SolverUserProviderKey": {
                  "type": "string",
                  "description": "SolverUserProviderKey"
                }
              },
              "required": [
                "Message",
                "ServiceId",
                "Subject",
                "SubmitterEmail",
                "Type"
              ]
            }
          }
        ],
        "description": "Create a ticket",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#create-ticket"
        }
      }
    },
    "/{connectionId}/api/Tickets/GetServicesForTicketsFilter": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Services",
        "operationId": "GetServices",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "description": "Get services",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#get-services"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateUserCreatedTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "USERNAME": {
              "type": "string",
              "description": "USERNAME"
            },
            "FIRSTNAME": {
              "type": "string",
              "description": "FIRSTNAME"
            },
            "LASTNAME": {
              "type": "string",
              "description": "LASTNAME"
            },
            "FULLNAME": {
              "type": "string",
              "description": "FULLNAME"
            },
            "EMAIL": {
              "type": "string",
              "description": "EMAIL"
            },
            "LASTUPDATEDUTC": {
              "type": "string",
              "description": "LASTUPDATEDUTC"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a user is created",
        "operationId": "UserCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a user is created",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-user-is-created"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateTicketMonitoringTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TICKET_ID": {
              "type": "integer",
              "format": "int32",
              "description": "TICKET_ID"
            },
            "TICKET_REF": {
              "type": "string",
              "description": "TICKET_REF"
            },
            "TICKET_SUBJECT": {
              "type": "string",
              "description": "TICKET_SUBJECT"
            },
            "TICKET_SERVICE": {
              "type": "string",
              "description": "TICKET_SERVICE"
            },
            "TICKET_SUBMITTEREMAIL": {
              "type": "string",
              "description": "TICKET_SUBMITTEREMAIL"
            },
            "TICKET_FIRSTMESSAGE": {
              "type": "string",
              "description": "TICKET_FIRSTMESSAGE"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "Ticket Monitoring",
        "operationId": "TicketMonitoring",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when the conditions are met in the periodic request check.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#ticket-monitoring"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateTicketStateChangeTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TICKET_ID": {
              "type": "integer",
              "format": "int32",
              "description": "TICKET_ID"
            },
            "TICKET_REF": {
              "type": "string",
              "description": "TICKET_REF"
            },
            "TICKET_SUBJECT": {
              "type": "string",
              "description": "TICKET_SUBJECT"
            },
            "TICKET_SERVICE": {
              "type": "string",
              "description": "TICKET_SERVICE"
            },
            "TICKET_SUBMITTEREMAIL": {
              "type": "string",
              "description": "TICKET_SUBMITTEREMAIL"
            },
            "TICKET_FIRSTMESSAGE": {
              "type": "string",
              "description": "TICKET_FIRSTMESSAGE"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a ticket state changes",
        "operationId": "TicketStateChange",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a ticket state changes.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-ticket-state-changes"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateTicketCategoryChangeTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TICKET_ID": {
              "type": "integer",
              "format": "int32",
              "description": "TICKET_ID"
            },
            "TICKET_REF": {
              "type": "string",
              "description": "TICKET_REF"
            },
            "TICKET_SUBJECT": {
              "type": "string",
              "description": "TICKET_SUBJECT"
            },
            "TICKET_SERVICE": {
              "type": "string",
              "description": "TICKET_SERVICE"
            },
            "TICKET_SUBMITTEREMAIL": {
              "type": "string",
              "description": "TICKET_SUBMITTEREMAIL"
            },
            "TICKET_FIRSTMESSAGE": {
              "type": "string",
              "description": "TICKET_FIRSTMESSAGE"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a ticket category is changed",
        "operationId": "TicketCategoryChange",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a ticket category is changed.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-ticket-category-is-changed"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateTicketCustomFormChangeTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TICKET_ID": {
              "type": "integer",
              "format": "int32",
              "description": "TICKET_ID"
            },
            "TICKET_REF": {
              "type": "string",
              "description": "TICKET_REF"
            },
            "TICKET_SUBJECT": {
              "type": "string",
              "description": "TICKET_SUBJECT"
            },
            "TICKET_SERVICE": {
              "type": "string",
              "description": "TICKET_SERVICE"
            },
            "TICKET_SUBMITTEREMAIL": {
              "type": "string",
              "description": "TICKET_SUBMITTEREMAIL"
            },
            "TICKET_FIRSTMESSAGE": {
              "type": "string",
              "description": "TICKET_FIRSTMESSAGE"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "Ticket Custom Form Change",
        "operationId": "TicketCustomFormChange",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a custom form is changed.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#ticket-custom-form-change"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateUserUpdatedTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "USERNAME": {
              "type": "string",
              "description": "USERNAME"
            },
            "FIRSTNAME": {
              "type": "string",
              "description": "FIRSTNAME"
            },
            "LASTNAME": {
              "type": "string",
              "description": "LASTNAME"
            },
            "FULLNAME": {
              "type": "string",
              "description": "FULLNAME"
            },
            "EMAIL": {
              "type": "string",
              "description": "EMAIL"
            },
            "LASTUPDATEDUTC": {
              "type": "string",
              "description": "LASTUPDATEDUTC"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a user is updated",
        "operationId": "UserUpdated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a user is updated.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-user-is-updated"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateUserDeletedTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "USERNAME": {
              "type": "string",
              "description": "USERNAME"
            },
            "FIRSTNAME": {
              "type": "string",
              "description": "FIRSTNAME"
            },
            "LASTNAME": {
              "type": "string",
              "description": "LASTNAME"
            },
            "FULLNAME": {
              "type": "string",
              "description": "FULLNAME"
            },
            "EMAIL": {
              "type": "string",
              "description": "EMAIL"
            },
            "LASTUPDATEDUTC": {
              "type": "string",
              "description": "LASTUPDATEDUTC"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a user is deleted",
        "operationId": "UserDeleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a user is deleted.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-user-is-deleted"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateCompanyCreatedTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "NAME": {
              "type": "string",
              "description": "NAME"
            },
            "LASTUPDATEDUTC": {
              "type": "string",
              "description": "LASTUPDATEDUTC"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a company is created",
        "operationId": "CompanyCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a company is created.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-company-is-created"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateCompanyUpdatedTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "NAME": {
              "type": "string",
              "description": "NAME"
            },
            "LASTUPDATEDUTC": {
              "type": "string",
              "description": "LASTUPDATEDUTC"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a company is updated",
        "operationId": "CompanyUpdated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a company is updated.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-company-is-updated"
        }
      }
    },
    "/{connectionId}/api/PowerAutomate/CreateCompanyDeletedTrigger": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ID": {
              "type": "string",
              "description": "ID"
            },
            "NAME": {
              "type": "string",
              "description": "NAME"
            },
            "LASTUPDATEDUTC": {
              "type": "string",
              "description": "LASTUPDATEDUTC"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {},
        "summary": "When a company is deleted",
        "operationId": "CompanyDeleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ],
        "description": "Triggered when a company is deleted.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#when-a-company-is-deleted"
        }
      }
    },
    "/{connectionId}/api/Account/CreateRequestorUser": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create User",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "UserName": {
                  "type": "string",
                  "description": "UserName",
                  "title": ""
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                },
                "Password": {
                  "type": "string",
                  "description": "Password"
                },
                "RoleEndUser": {
                  "type": "boolean",
                  "description": "RoleEndUser"
                },
                "RoleSmartUser": {
                  "type": "boolean",
                  "description": "RoleSmartUser"
                },
                "RoleOperator": {
                  "type": "boolean",
                  "description": "RoleOperator"
                },
                "RoleSuperOperator": {
                  "type": "boolean",
                  "description": "RoleSuperOperator"
                },
                "RoleAdministrator": {
                  "type": "boolean",
                  "description": "RoleAdministrator"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "MiddleName": {
                  "type": "string",
                  "description": "MiddleName"
                },
                "DisplayName": {
                  "type": "string",
                  "description": "DisplayName"
                },
                "Phone": {
                  "type": "string",
                  "description": "Phone"
                },
                "ChangePasswordAfterLogging": {
                  "type": "boolean",
                  "description": "ChangePasswordAfterLogging",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "AdminNote": {
                  "type": "string",
                  "description": "AdminNote"
                },
                "AdditionalInformation": {
                  "type": "string",
                  "description": "AdditionalInformation"
                },
                "CustomerNames": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "CustomerNames"
                }
              },
              "required": [
                "UserName",
                "ChangePasswordAfterLogging"
              ]
            }
          }
        ],
        "description": "Create a user",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#create-user"
        }
      }
    },
    "/{connectionId}/api/Tickets/GetTicketTypes": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Gets a list of available Ticket Types",
        "description": "Gets a list of available ticket types",
        "operationId": "GetTicketTypes",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/requestor/#gets-a-list-of-available-ticket-types"
        }
      }
    },
    "/{connectionId}/api/Tags/GetTags": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://requestor.servicedesk.net"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    },
    {
      "propertyName": "Icon",
      "propertyValue": "https://requestor.servicedesk.net/Home/GetRequestorLogo"
    },
    {
      "propertyName": "Publisher",
      "propertyValue": "Requestor"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.requestor.com/documents/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/requestor"
  }
}
