{
  "basePath": "/apim/projectum",
  "consumes": [],
  "definitions": {
    "GenerationInfo": {
      "properties": {
        "dataMap": {
          "title": "JSON Datamap",
          "type": "string"
        },
        "file": {
          "format": "binary",
          "title": "Template content",
          "type": "string"
        }
      },
      "required": [
        "dataMap",
        "file"
      ],
      "type": "object"
    }
  },
  "host": "europe-002.azure-apim.net",
  "info": {
    "description": "Fill data dynamically into your documents.\n\nGet a trial key here by filling in the form:\nhttps://forms.office.com/Pages/ResponsePage.aspx?id=Kns17vkbpkK6q5dy2FsowQ7i3LhuXXpOhvMyBVDJFPNUNEE5OUo2RzUxVDM5OVIxME5CRzRTQUcwQy4u",
    "title": "Projectum Present It",
    "version": "v1",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "email": "ndw@projectum.com"
    }
  },
  "parameters": {},
  "paths": {
    "/{connectionId}/api/Powerpoint": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "description": "Generates a PowerPoint document based on JSON data.",
        "operationId": "GeneratePowerpointDoc",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "generationInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerationInfo"
            }
          }
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "summary": "Generate PowerPoint document",
        "tags": [
          "Powerpoint"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectum/#generate-powerpoint-document"
        }
      }
    },
    "/{connectionId}/api/Word": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "description": "Generates a Word document based on JSON data.",
        "operationId": "GenerateWordDoc",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "generationInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerationInfo"
            }
          }
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "summary": "Generate Word document",
        "tags": [
          "Word"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectum/#generate-word-document"
        }
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [],
  "securityDefinitions": {
    "api_key": {
      "in": "header",
      "name": "X-API-KEY",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://projectum.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://projectum.com/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/projectum"
  }
}
