{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Custom Vision",
    "description": "Azure Custom Vision Service is a Microsoft Cognitive Services product for tagging images using your custom computer vision model.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/customvision/v1.0/Prediction/{projectId}/url": {
      "post": {
        "summary": "Predict tags from image URL",
        "description": "Predict the tags for an image located at the specified URL.",
        "operationId": "PredictImageURL",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-test-value": "8e228211-9d43-45dd-945f-6f940582698f",
            "type": "string"
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The id of a particular iteration to evaluate against. The default iteration for the project will be used when not specified.",
            "required": false,
            "x-ms-summary": "Iteration ID",
            "x-ms-test-value": "ceeed249-a567-40f2-9e34-7a530bd43e2d",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImageURL_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImageURL_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#predict-tags-from-image-url-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/customvision/v1.0/Prediction/{projectId}/image": {
      "post": {
        "summary": "Predict tags from image",
        "description": "Predict the tags for an image based on image content.",
        "operationId": "PredictImage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "iterationId",
            "in": "query",
            "description": "The id of a particular iteration to evaluate against. The default iteration for the project will be used when not specified.",
            "required": false,
            "x-ms-summary": "Iteration ID",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/octet-stream"
          },
          {
            "name": "Image",
            "in": "body",
            "description": "The image you wish to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImage_Request"
            },
            "x-ms-summary": "Image Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImageURL_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#predict-tags-from-image-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/customvision/v3.0/Prediction/{projectId}/classify/iterations/{publishedName}/url": {
      "post": {
        "summary": "Classify an image url",
        "description": "Classify an image located at the specified URL.",
        "operationId": "ClassifyImageUrl",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "The name of the model to evaluate against.",
            "required": true,
            "x-ms-summary": "Published Name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImageURL_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImage_ResponseV2"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "ClassifyImageUrl",
          "revision": 1,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#classify-an-image-url-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/customvision/v3.0/Prediction/{projectId}/classify/iterations/{publishedName}/image": {
      "post": {
        "summary": "Classify an image",
        "description": "Classify an image based on image content.",
        "operationId": "ClassifyImage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "The name of the model to evaluate against.",
            "required": true,
            "x-ms-summary": "Published Name",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/octet-stream"
          },
          {
            "name": "Image",
            "in": "body",
            "description": "The image you wish to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImage_Request"
            },
            "x-ms-summary": "Image Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImage_ResponseV2"
            }
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "family": "ClassifyImage",
          "revision": 1,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#classify-an-image-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/customvision/v3.0/Prediction/{projectId}/detect/iterations/{publishedName}/url": {
      "post": {
        "summary": "Detect objects in an image url",
        "description": "Detect objects in an image located at the specified URL.",
        "operationId": "DetectImageUrl",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "The name of the model to evaluate against.",
            "required": true,
            "x-ms-summary": "Published Name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImageURL_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImage_ResponseV2"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "DetectImageUrl",
          "revision": 1,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#detect-objects-in-an-image-url-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/customvision/v3.0/Prediction/{projectId}/detect/iterations/{publishedName}/image": {
      "post": {
        "summary": "Detect objects in an image",
        "description": "Detect objects in an image based on image content.",
        "operationId": "DetectImage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "The name of the model to evaluate against.",
            "required": true,
            "x-ms-summary": "Published Name",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/octet-stream"
          },
          {
            "name": "Image",
            "in": "body",
            "description": "The image you wish to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImage_Request"
            },
            "x-ms-summary": "Image Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImage_ResponseV2"
            }
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "family": "DetectImage",
          "revision": 1,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#detect-objects-in-an-image-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/customvision/v3.0/Prediction/{projectId}/classify/iterations/{publishedName}/url": {
      "post": {
        "summary": "Classify an image url (V2)",
        "description": "Classify an image located at the specified URL (V2).",
        "operationId": "ClassifyImageUrlV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "The name of the model to evaluate against.",
            "required": true,
            "x-ms-summary": "Published Name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImageURL_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImage_ResponseV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "ClassifyImageUrl",
          "revision": 2,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#classify-an-image-url-(v2)"
        }
      }
    },
    "/{connectionId}/v2/customvision/v3.0/Prediction/{projectId}/classify/iterations/{publishedName}/image": {
      "post": {
        "summary": "Classify an image (V2)",
        "description": "Classify an image based on image content (V2).",
        "operationId": "ClassifyImageV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "The name of the model to evaluate against.",
            "required": true,
            "x-ms-summary": "Published Name",
            "type": "string"
          },
          {
            "name": "Image",
            "in": "body",
            "description": "The image you wish to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImage_Request"
            },
            "x-ms-summary": "Image Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImage_ResponseV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "family": "ClassifyImage",
          "revision": 2,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#classify-an-image-(v2)"
        }
      }
    },
    "/{connectionId}/v2/customvision/v3.0/Prediction/{projectId}/detect/iterations/{publishedName}/url": {
      "post": {
        "summary": "Detect objects in an image url (V2)",
        "description": "Detect objects in an image located at the specified URL (V2).",
        "operationId": "DetectImageUrlV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "The name of the model to evaluate against.",
            "required": true,
            "x-ms-summary": "Published Name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImageURL_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImage_ResponseV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "DetectImageUrl",
          "revision": 2,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#detect-objects-in-an-image-url-(v2)"
        }
      }
    },
    "/{connectionId}/v2/customvision/v3.0/Prediction/{projectId}/detect/iterations/{publishedName}/image": {
      "post": {
        "summary": "Detect objects in an image (V2)",
        "description": "Detect objects in an image based on image content (V2).",
        "operationId": "DetectImageV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the Custom Vision Project.",
            "required": true,
            "x-ms-summary": "Project ID",
            "type": "string"
          },
          {
            "name": "publishedName",
            "in": "path",
            "description": "The name of the model to evaluate against.",
            "required": true,
            "x-ms-summary": "Published Name",
            "type": "string"
          },
          {
            "name": "Image",
            "in": "body",
            "description": "The image you wish to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PredictImage_Request"
            },
            "x-ms-summary": "Image Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PredictImage_ResponseV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "family": "DetectImage",
          "revision": 2,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision/#detect-objects-in-an-image-(v2)"
        }
      }
    }
  },
  "definitions": {
    "PredictImageURL_Request": {
      "required": [
        "Url"
      ],
      "type": "object",
      "properties": {
        "Url": {
          "description": "The URL of the image to analyze.",
          "type": "string",
          "x-ms-summary": "Image URL",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "Url": "https://connectorteststore.blob.core.windows.net/testfiles/dog.jpg"
      }
    },
    "PredictImage_Request": {
      "format": "binary",
      "type": "string"
    },
    "PredictImageURL_Response": {
      "type": "object",
      "properties": {
        "Created": {
          "format": "date-time",
          "description": "The date-time the prediction was created.",
          "type": "string",
          "x-ms-summary": "Created",
          "x-ms-visibility": "advanced"
        },
        "Id": {
          "description": "The unique identifier of the prediction.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "Iteration": {
          "description": "The iteration the prediction was evaluated against.",
          "type": "string",
          "x-ms-summary": "Iteration",
          "x-ms-visibility": "advanced"
        },
        "Predictions": {
          "description": "Predictions",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "Probability": {
                "format": "float",
                "description": "The probability of the prediction.",
                "type": "number",
                "x-ms-summary": "Probability",
                "x-ms-visibility": "advanced"
              },
              "Tag": {
                "description": "The tag from the prediction.",
                "type": "string",
                "x-ms-summary": "Tag",
                "x-ms-visibility": "advanced"
              },
              "TagId": {
                "description": "The unique identifier of the tag.",
                "type": "string",
                "x-ms-summary": "TagId",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Predictions",
          "x-ms-visibility": "advanced"
        },
        "Project": {
          "description": "The project the prediction was evaluated against.",
          "type": "string",
          "x-ms-summary": "Project",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PredictImage_ResponseV2": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the prediction.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "project": {
          "description": "The project the prediction was evaluated against.",
          "type": "string",
          "x-ms-summary": "Project",
          "x-ms-visibility": "advanced"
        },
        "iteration": {
          "description": "The iteration the prediction was evaluated against.",
          "type": "string",
          "x-ms-summary": "Iteration",
          "x-ms-visibility": "advanced"
        },
        "created": {
          "format": "date-time",
          "description": "The date-time the prediction was created.",
          "type": "string",
          "x-ms-summary": "Created",
          "x-ms-visibility": "advanced"
        },
        "Predictions": {
          "description": "Predictions",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "probability": {
                "format": "float",
                "description": "The probability of the prediction.",
                "type": "number",
                "x-ms-summary": "Probability",
                "x-ms-visibility": "advanced"
              },
              "tagName": {
                "description": "The tag from the prediction.",
                "type": "string",
                "x-ms-summary": "Tag",
                "x-ms-visibility": "advanced"
              },
              "tagId": {
                "description": "The unique identifier of the tag.",
                "type": "string",
                "x-ms-summary": "TagId",
                "x-ms-visibility": "advanced"
              },
              "boundingBox": {
                "description": "The bounding box.",
                "type": "object",
                "properties": {
                  "left": {
                    "format": "float",
                    "description": "The x-coordinate of the left-top corner.",
                    "type": "number",
                    "x-ms-summary": "Left",
                    "x-ms-visibility": "advanced"
                  },
                  "top": {
                    "format": "float",
                    "description": "The y-coordinate of the left-top corner.",
                    "type": "number",
                    "x-ms-summary": "Top",
                    "x-ms-visibility": "advanced"
                  },
                  "width": {
                    "format": "float",
                    "description": "The width of the bounding box.",
                    "type": "number",
                    "x-ms-summary": "Width",
                    "x-ms-visibility": "advanced"
                  },
                  "height": {
                    "format": "float",
                    "description": "The height of the bounding box.",
                    "type": "number",
                    "x-ms-summary": "Height",
                    "x-ms-visibility": "advanced"
                  }
                }
              }
            }
          },
          "x-ms-summary": "Predictions",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PredictImage_ResponseV3": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the prediction.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "project": {
          "description": "The project the prediction was evaluated against.",
          "type": "string",
          "x-ms-summary": "Project",
          "x-ms-visibility": "advanced"
        },
        "iteration": {
          "description": "The iteration the prediction was evaluated against.",
          "type": "string",
          "x-ms-summary": "Iteration",
          "x-ms-visibility": "advanced"
        },
        "created": {
          "format": "date-time",
          "description": "The date-time the prediction was created.",
          "type": "string",
          "x-ms-summary": "Created",
          "x-ms-visibility": "advanced"
        },
        "predictions": {
          "description": "Predictions",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "probability": {
                "format": "float",
                "description": "The probability of the prediction.",
                "type": "number",
                "x-ms-summary": "Probability",
                "x-ms-visibility": "advanced"
              },
              "tagName": {
                "description": "The tag from the prediction.",
                "type": "string",
                "x-ms-summary": "Tag",
                "x-ms-visibility": "advanced"
              },
              "tagId": {
                "description": "The unique identifier of the tag.",
                "type": "string",
                "x-ms-summary": "TagId",
                "x-ms-visibility": "advanced"
              },
              "boundingBox": {
                "description": "The bounding box.",
                "type": "object",
                "properties": {
                  "left": {
                    "format": "float",
                    "description": "The x-coordinate of the left-top corner.",
                    "type": "number",
                    "x-ms-summary": "Left",
                    "x-ms-visibility": "advanced"
                  },
                  "top": {
                    "format": "float",
                    "description": "The y-coordinate of the left-top corner.",
                    "type": "number",
                    "x-ms-summary": "Top",
                    "x-ms-visibility": "advanced"
                  },
                  "width": {
                    "format": "float",
                    "description": "The width of the bounding box.",
                    "type": "number",
                    "x-ms-summary": "Width",
                    "x-ms-visibility": "advanced"
                  },
                  "height": {
                    "format": "float",
                    "description": "The height of the bounding box.",
                    "type": "number",
                    "x-ms-summary": "Height",
                    "x-ms-visibility": "advanced"
                  }
                }
              }
            }
          },
          "x-ms-summary": "Predictions",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/cognitive-services/custom-vision-service/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/cognitiveservicescustomvision"
  },
  "basePath": "/apim/cognitiveservicescustomvision"
}
