{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Buffer",
    "description": "Buffer is a social media management for marketers and agencies. Access your pending and sent updates, social media profiles, and more.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/1/profiles/{profile_id}/updates/pending.json": {
      "get": {
        "summary": "When an update is pending",
        "description": "Triggers a new flow When an update is pending.",
        "operationId": "TrigPendingUpdates",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "profile_id",
            "in": "path",
            "description": "Profile",
            "required": true,
            "x-ms-summary": "Profile ID",
            "x-ms-test-value": "582ccfce639c6d2b4814b6da",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProfiles",
              "value-path": "id",
              "value-title": "dropdown_label"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPendingUpdatesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a pending update.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/buffer/#when-an-update-is-pending"
        }
      }
    },
    "/{connectionId}/trigger/1/profiles/{profile_id}/updates/sent.json": {
      "get": {
        "summary": "When an update is shared",
        "description": "Triggers a new flow When an update is shared.",
        "operationId": "TrigSentUpdates",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "profile_id",
            "in": "path",
            "description": "Profile",
            "required": true,
            "x-ms-summary": "Profile ID",
            "x-ms-test-value": "582ccfce639c6d2b4814b6da",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProfiles",
              "value-path": "id",
              "value-title": "dropdown_label"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListSentUpdatesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, send an update.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/buffer/#when-an-update-is-shared"
        }
      }
    },
    "/{connectionId}/1/updates/create.json": {
      "post": {
        "summary": "Create an update",
        "description": "Create an update for a specific profile.",
        "operationId": "CreateUpdate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "CreateUpdateProfileId",
            "in": "query",
            "description": "Profile",
            "required": true,
            "x-ms-summary": "Profile ID",
            "x-ms-test-value": "582ccfce639c6d2b4814b6da",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProfiles",
              "value-path": "id",
              "value-title": "dropdown_label"
            },
            "type": "string"
          },
          {
            "name": "CreateUpdateText",
            "in": "query",
            "required": true,
            "x-ms-summary": "Text",
            "description": "Text of the update.",
            "x-ms-test-value": "test update",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateUpdateResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/buffer/#create-an-update"
        }
      }
    },
    "/{connectionId}/1/updates/{udpate_id}/share.json": {
      "post": {
        "summary": "Share an update",
        "description": "Share a pending update.",
        "operationId": "ShareUpdate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "profile_id",
            "in": "query",
            "description": "Profile",
            "required": true,
            "x-ms-summary": "Profile ID",
            "x-ms-test-value": "582ccfce639c6d2b4814b6da",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProfiles",
              "value-path": "id",
              "value-title": "dropdown_label"
            },
            "type": "string"
          },
          {
            "name": "udpate_id",
            "in": "path",
            "description": "Update",
            "required": true,
            "x-ms-summary": "Update ID",
            "x-ms-test-value": "5841f29560ffc52c434c3714",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListUpdates",
              "value-collection": "updates",
              "value-path": "id",
              "value-title": "text",
              "parameters": {
                "profile_id": {
                  "parameter": "profile_id"
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ShareUpdateResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/buffer/#share-an-update"
        }
      }
    },
    "/{connectionId}/1/profiles.json": {
      "get": {
        "summary": "List profiles",
        "description": "List profiles",
        "operationId": "ListProfiles",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProfilesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/buffer/#list-profiles"
        }
      }
    },
    "/{connectionId}/1/profiles/{profile_id}/updates/pending.json": {
      "get": {
        "summary": "List updates",
        "description": "List pending updates for the specified social media profile.",
        "operationId": "ListUpdates",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "profile_id",
            "in": "path",
            "description": "Profile",
            "required": true,
            "x-ms-summary": "Profile ID",
            "x-ms-test-value": "582ccfce639c6d2b4814b6da",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProfiles",
              "value-path": "id",
              "value-title": "dropdown_label"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPendingUpdatesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/buffer/#list-updates"
        }
      }
    }
  },
  "definitions": {
    "ListProfilesResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "avatar": {
            "description": "The URL to the avatar of the profile.",
            "type": "string",
            "x-ms-summary": "Avatar",
            "x-ms-visibility": "important"
          },
          "counts": {
            "type": "object",
            "properties": {
              "drafts": {
                "format": "int32",
                "description": "The number of draft updates.",
                "type": "integer",
                "x-ms-summary": "Drafts",
                "x-ms-visibility": "advanced"
              },
              "reminders": {
                "format": "int32",
                "description": "The number of reminders.",
                "type": "integer",
                "x-ms-summary": "Reminders",
                "x-ms-visibility": "advanced"
              },
              "sent": {
                "format": "int32",
                "description": "The number of sent updates.",
                "type": "integer",
                "x-ms-summary": "sent",
                "x-ms-visibility": "advanced"
              },
              "pending": {
                "format": "int32",
                "description": "The number of pending updates.",
                "type": "integer",
                "x-ms-summary": "Pending",
                "x-ms-visibility": "advanced"
              }
            },
            "x-ms-visibility": "advanced"
          },
          "default": {
            "description": "A boolean value indicating if the profile is the default profile.",
            "type": "boolean",
            "x-ms-summary": "IsDefault",
            "x-ms-visibility": "important"
          },
          "disabled": {
            "description": "A boolean value indicating if the profile is disabled.",
            "type": "boolean",
            "x-ms-summary": "IsDisabled",
            "x-ms-visibility": "advanced"
          },
          "disconnected": {
            "description": "A boolean value indicating if the profile is disconnected.",
            "type": "boolean",
            "x-ms-summary": "IsDisconnected",
            "x-ms-visibility": "advanced"
          },
          "id": {
            "description": "The id of the profile",
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-visibility": "advanced"
          },
          "locked": {
            "description": "A boolean value indicating if the profile is locked.",
            "type": "boolean",
            "x-ms-summary": "IsLocked",
            "x-ms-visibility": "advanced"
          },
          "service": {
            "description": "The service connected to the profile.",
            "type": "string",
            "x-ms-summary": "service",
            "x-ms-visibility": "important"
          },
          "service_id": {
            "description": "The id of the service connected to the profile.",
            "type": "string",
            "x-ms-summary": "Service Id",
            "x-ms-visibility": "advanced"
          },
          "service_type": {
            "description": "The type of service connected to the profile.",
            "type": "string",
            "x-ms-summary": "Service Type",
            "x-ms-visibility": "advanced"
          },
          "service_username": {
            "description": "The username for the service connected to the profile.",
            "type": "string",
            "x-ms-summary": "service_username",
            "x-ms-visibility": "important"
          },
          "timezone": {
            "description": "The selected timezone for the profile.",
            "type": "string",
            "x-ms-summary": "Timezone",
            "x-ms-visibility": "advanced"
          },
          "timezone_city": {
            "description": "The city name corresponding to the selected timezone.",
            "type": "string",
            "x-ms-summary": "Timezone City",
            "x-ms-visibility": "advanced"
          },
          "user_id": {
            "description": "The id of the user who created the profile.",
            "type": "string",
            "x-ms-summary": "User Id",
            "x-ms-visibility": "advanced"
          },
          "dropdown_label": {
            "description": "A label consisting of the service connected to the profile, as well as the profile username.",
            "type": "string",
            "x-ms-summary": "Label",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "ListPendingUpdatesResponse": {
      "type": "object",
      "properties": {
        "updates": {
          "description": "updates",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "created_at": {
                "format": "date-time",
                "description": "The datetime the update was created at.",
                "type": "string",
                "x-ms-summary": "Created At",
                "x-ms-visibility": "important"
              },
              "day": {
                "description": "The text version of the date the update is due.",
                "type": "string",
                "x-ms-summary": "Day",
                "x-ms-visibility": "advanced"
              },
              "due_at": {
                "format": "date-time",
                "description": "The datetime when the update is due.",
                "type": "string",
                "x-ms-summary": "Due At",
                "x-ms-visibility": "important"
              },
              "due_time": {
                "description": "The time when the update is due.",
                "type": "string",
                "x-ms-summary": "Due Time",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "The id of the update.",
                "type": "string",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "profile_id": {
                "description": "The id of the profile associated with the update.",
                "type": "string",
                "x-ms-summary": "Profile Id",
                "x-ms-visibility": "advanced"
              },
              "profile_service": {
                "description": "The service of the profile associated with the update.",
                "type": "string",
                "x-ms-summary": "Profile Update",
                "x-ms-visibility": "advanced"
              },
              "shared_now": {
                "description": "A boolean value indicating if the update is shared.",
                "type": "boolean",
                "x-ms-summary": "IsSharedNow",
                "x-ms-visibility": "advanced"
              },
              "status": {
                "description": "The status of the update.",
                "type": "string",
                "x-ms-summary": "Status",
                "x-ms-visibility": "important"
              },
              "text": {
                "description": "The text of the update.",
                "type": "string",
                "x-ms-summary": "Text",
                "x-ms-visibility": "important"
              },
              "text_formatted": {
                "description": "The formatted text of the update.",
                "type": "string",
                "x-ms-summary": "Text Formatted",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "The type of update.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              },
              "updated_at": {
                "format": "date-time",
                "description": "The datetime the update was updated. ",
                "type": "string",
                "x-ms-summary": "Updated At",
                "x-ms-visibility": "advanced"
              },
              "user_id": {
                "description": "The id of the user.",
                "type": "string",
                "x-ms-summary": "User Id",
                "x-ms-visibility": "advanced"
              },
              "via": {
                "description": "How the update was created.",
                "type": "string",
                "x-ms-summary": "Via",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListSentUpdatesResponse": {
      "type": "object",
      "properties": {
        "updates": {
          "description": "updates",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "created_at": {
                "format": "date-time",
                "description": "The datetime the update was created at.",
                "type": "string",
                "x-ms-summary": "Created At",
                "x-ms-visibility": "important"
              },
              "day": {
                "description": "The text version of the date the update is due.",
                "type": "string",
                "x-ms-summary": "Day",
                "x-ms-visibility": "advanced"
              },
              "due_at": {
                "format": "date-time",
                "description": "The datetime when the update is due.",
                "type": "string",
                "x-ms-summary": "Due At",
                "x-ms-visibility": "important"
              },
              "due_time": {
                "description": "The time when the update is due.",
                "type": "string",
                "x-ms-summary": "Due Time",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "The id of the update.",
                "type": "string",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "profile_id": {
                "description": "The id of the profile associated with the update.",
                "type": "string",
                "x-ms-summary": "Profile Id",
                "x-ms-visibility": "advanced"
              },
              "profile_service": {
                "description": "The service of the profile associated with the update.",
                "type": "string",
                "x-ms-summary": "Profile Update",
                "x-ms-visibility": "advanced"
              },
              "shared_now": {
                "description": "A boolean value indicating if the update is shared.",
                "type": "boolean",
                "x-ms-summary": "IsSharedNow",
                "x-ms-visibility": "advanced"
              },
              "status": {
                "description": "The status of the update.",
                "type": "string",
                "x-ms-summary": "Status",
                "x-ms-visibility": "important"
              },
              "text": {
                "description": "The text of the update.",
                "type": "string",
                "x-ms-summary": "Text",
                "x-ms-visibility": "important"
              },
              "text_formatted": {
                "description": "The formatted text of the update.",
                "type": "string",
                "x-ms-summary": "Text Formatted",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "The type of update.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              },
              "updated_at": {
                "format": "date-time",
                "description": "The datetime the update was updated. ",
                "type": "string",
                "x-ms-summary": "Updated At",
                "x-ms-visibility": "advanced"
              },
              "user_id": {
                "description": "The id of the user.",
                "type": "string",
                "x-ms-summary": "User Id",
                "x-ms-visibility": "advanced"
              },
              "via": {
                "description": "How the update was created.",
                "type": "string",
                "x-ms-summary": "Via",
                "x-ms-visibility": "advanced"
              },
              "statistics": {
                "type": "object",
                "properties": {
                  "comments": {
                    "format": "int32",
                    "description": "The number of comments on the update.",
                    "type": "integer",
                    "x-ms-summary": "Comments",
                    "x-ms-visibility": "advanced"
                  },
                  "likes": {
                    "format": "int32",
                    "description": "The number of likes on the update.",
                    "type": "integer",
                    "x-ms-summary": "Likes",
                    "x-ms-visibility": "advanced"
                  },
                  "clicks": {
                    "format": "int32",
                    "description": "The number of clicks on the update.",
                    "type": "integer",
                    "x-ms-summary": "Clicks",
                    "x-ms-visibility": "advanced"
                  }
                }
              }
            }
          }
        }
      }
    },
    "CreateUpdateRequest": {
      "default": {
        "profile_ids[]": "582ccfce639c6d2b4814b6da",
        "text": "This is another test post",
        "now": "false"
      },
      "type": "object",
      "properties": {
        "profile_ids[]": {
          "description": "profile_ids[]",
          "type": "string",
          "x-ms-summary": "profile_ids[]",
          "x-ms-visibility": "internal"
        },
        "text": {
          "description": "The text of the updated.",
          "type": "string",
          "x-ms-summary": "Text",
          "x-ms-visibility": "important"
        },
        "now": {
          "description": "now",
          "type": "string",
          "x-ms-summary": "now",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "profile_ids[]": "582ccfce639c6d2b4814b6da",
        "text": "This is another test post",
        "now": "false"
      }
    },
    "CreateUpdateResponse": {
      "type": "object",
      "properties": {
        "updates": {
          "description": "updates",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "created_at": {
                "format": "date-time",
                "description": "The datetime the update was created at.",
                "type": "string",
                "x-ms-summary": "Created At",
                "x-ms-visibility": "important"
              },
              "day": {
                "description": "The text version of the date the update is due.",
                "type": "string",
                "x-ms-summary": "Day",
                "x-ms-visibility": "advanced"
              },
              "due_at": {
                "format": "date-time",
                "description": "The datetime when the update is due.",
                "type": "string",
                "x-ms-summary": "Due At",
                "x-ms-visibility": "important"
              },
              "due_time": {
                "description": "The time when the update is due.",
                "type": "string",
                "x-ms-summary": "Due Time",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "The id of the update.",
                "type": "string",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "profile_id": {
                "description": "The id of the profile associated with the update.",
                "type": "string",
                "x-ms-summary": "Profile Id",
                "x-ms-visibility": "advanced"
              },
              "profile_service": {
                "description": "The service of the profile associated with the update.",
                "type": "string",
                "x-ms-summary": "Profile Update",
                "x-ms-visibility": "advanced"
              },
              "shared_now": {
                "description": "A boolean value indicating if the update is shared.",
                "type": "boolean",
                "x-ms-summary": "IsSharedNow",
                "x-ms-visibility": "advanced"
              },
              "status": {
                "description": "The status of the update.",
                "type": "string",
                "x-ms-summary": "Status",
                "x-ms-visibility": "important"
              },
              "text": {
                "description": "The text of the update.",
                "type": "string",
                "x-ms-summary": "Text",
                "x-ms-visibility": "important"
              },
              "text_formatted": {
                "description": "The formatted text of the update.",
                "type": "string",
                "x-ms-summary": "Text Formatted",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "The type of update.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              },
              "updated_at": {
                "format": "date-time",
                "description": "The datetime the update was updated. ",
                "type": "string",
                "x-ms-summary": "Updated At",
                "x-ms-visibility": "advanced"
              },
              "user_id": {
                "description": "The id of the user.",
                "type": "string",
                "x-ms-summary": "User Id",
                "x-ms-visibility": "advanced"
              },
              "via": {
                "description": "How the update was created.",
                "type": "string",
                "x-ms-summary": "Via",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ShareUpdateResponse": {
      "type": "object",
      "properties": {
        "success": {
          "description": "A boolean value indicating if the update was successfully shared.",
          "type": "boolean",
          "x-ms-summary": "IsSuccess",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://buffer.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://buffer.com/legal#privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/buffer"
  },
  "basePath": "/apim/buffer"
}
