{
  "swagger": "2.0",
  "info": {
    "title": "Bttn ONE",
    "description": "The magical bttn that automates your business, improves your customer experience, and so much more",
    "version": "1.0",
    "contact": {
      "name": "Bttn support",
      "url": "https://bttn.freshdesk.com/support/solutions",
      "email": "support@bt.tn"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/bttnone",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/company/1": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string",
                    "description": "The unique id of the company"
                  },
                  "companyName": {
                    "type": "string",
                    "description": "The name of the company"
                  }
                }
              }
            }
          }
        },
        "summary": "getCompanies",
        "description": "Retrieves the companies from BTTN",
        "operationId": "GetCompanies",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bttnone/#getcompanies"
        }
      }
    },
    "/{connectionId}/api/action/1/powerAutomate/addSubscription": {
      "x-ms-notification-content": {
        "description": "Bttn Webhook Response",
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "event_id": {
                "type": "string",
                "description": "The id of the event"
              },
              "action_configuration_id": {
                "type": "string",
                "description": "The id of the configuration"
              },
              "action_type": {
                "type": "string",
                "description": "The type of action"
              },
              "company_id": {
                "type": "string",
                "description": "the id of the company"
              },
              "configuration": {
                "type": "object",
                "properties": {},
                "description": "the action configuration"
              },
              "created_at": {
                "type": "string",
                "description": "creation timestamp"
              },
              "device_id": {
                "type": "string",
                "description": "The id of the device"
              },
              "event_status": {
                "type": "string",
                "description": "The event status"
              },
              "trigger_type": {
                "type": "string",
                "description": "The type of trigger"
              },
              "updated_at": {
                "type": "string",
                "description": "last updated timestamp"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/action/1/powerAutomate/addWebhook": {
      "x-ms-notification-content": {
        "description": "Bttn Webhook Response",
        "schema": {
          "type": "object",
          "properties": {
            "actionName": {
              "type": "string",
              "description": "The name of the action"
            },
            "deviceId": {
              "type": "string",
              "description": "the id of the device"
            },
            "triggerType": {
              "type": "string",
              "description": "The trigger type"
            },
            "eventId": {
              "type": "string",
              "description": "The id of th event"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "actionConfigurationId": {
                  "type": "string",
                  "description": "the id of the configuration"
                },
                "name": {
                  "type": "string",
                  "description": "The action name"
                }
              }
            }
          }
        },
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "summary": "bttnWebhook",
        "description": "Creates the webhook that will be used to trigger the Flow",
        "operationId": "BttnWebhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "actionConfigId": {
                  "type": "string",
                  "description": "The id of the action configuration",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetActionConfigurations",
                    "value-path": "actionConfigurationId",
                    "value-title": "name"
                  }
                },
                "hookUrl": {
                  "type": "string",
                  "description": "The url of the hook",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "actionConfigId",
                "hookUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bttnone/#bttnwebhook"
        }
      }
    },
    "/{connectionId}/api/action/1/powerAutomate/getActionsForUser": {
      "get": {
        "responses": {
          "200": {
            "description": "ActionResponse",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actionConfigurationId": {
                    "type": "string",
                    "description": "The id of the configuration"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "The id of the company"
                  },
                  "actionType": {
                    "type": "string",
                    "description": "The type of the action"
                  },
                  "name": {
                    "type": "string",
                    "description": "name of the action"
                  },
                  "configuration": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The url"
                      }
                    },
                    "description": "configuration"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "createdAt timestamp"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "updatedAt timestamp"
                  },
                  "pressLimit": {
                    "type": "string",
                    "description": "The amount the action can be triggered"
                  }
                }
              }
            }
          }
        },
        "summary": "getActionConfigurations",
        "description": "Retrieves the available action configurations",
        "operationId": "GetActionConfigurations",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bttnone/#getactionconfigurations"
        }
      }
    },
    "/{connectionId}/api/action/1/powerAutomate/removeWebhook/{actionConfigurationId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "actionConfigurationId": {
                  "type": "string",
                  "description": "the id of the configuration"
                },
                "name": {
                  "type": "string",
                  "description": "The action name"
                }
              }
            }
          }
        },
        "operationId": "DeleteWebhook",
        "summary": "deleteWebhook",
        "description": "Deletes the webhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "actionConfigurationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bttnone/#deletewebhook"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://bt.tn"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://bt.tn/legal#privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things;Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://sso.bt.tn/auth/realms/bttn/protocol/openid-connect/auth",
      "tokenUrl": "https://sso.bt.tn/auth/realms/bttn/protocol/openid-connect/token",
      "scopes": {
        "powerautomate": "powerautomate"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "powerautomate"
      ]
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/bttnone"
  }
}
