{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Todoist",
    "description": "Todoist is an online task management app and todo list. With Todoist, users can organize, schedule, maintain and prioritize personal tasks.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/todoist",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/sync/listProjects": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List projects",
        "description": "List all projects in the Todoist account.",
        "operationId": "ListProjects",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Projects response object",
              "type": "object",
              "properties": {
                "projects": {
                  "description": "A collection of projects",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Project"
                  },
                  "x-ms-summary": "Projects",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListProjects",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-projects-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/sync/listItems": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List tasks",
        "description": "List all tasks in the Todoist account.",
        "operationId": "ListItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Items response object",
              "type": "object",
              "properties": {
                "items": {
                  "description": "A collection of items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Item"
                  },
                  "x-ms-summary": "Items",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListItems",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-tasks-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/projects/get_data": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List tasks by project",
        "description": "List all tasks in a specific project.",
        "operationId": "ListItemsByProject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Items response object",
              "type": "object",
              "properties": {
                "items": {
                  "description": "A collection of items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Item"
                  },
                  "x-ms-summary": "Items",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListItemsByProject",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-tasks-by-project-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/sync/listLabels": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List labels",
        "description": "List the labels configured in the Todoist account.",
        "operationId": "ListLabels",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Labels response object",
              "type": "object",
              "properties": {
                "labels": {
                  "description": "A collection of labels",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Label"
                  },
                  "x-ms-summary": "Labels",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListLabels",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-labels-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger/completed/get_all": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "When a task is completed",
        "description": "Triggers a new flow when a task is completed.",
        "operationId": "OnItemCompleted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Items response object",
              "type": "object",
              "properties": {
                "items": {
                  "description": "A collection of items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Item"
                  },
                  "x-ms-summary": "Items",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete an item.",
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnItemCompleted",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#when-a-task-is-completed-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/trigger/sync": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "When a task is created",
        "description": "Trigers a new flow when a task is created.",
        "operationId": "OnItemCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Items response object",
              "type": "object",
              "properties": {
                "items": {
                  "description": "A collection of items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Item"
                  },
                  "x-ms-summary": "Items",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create an item in a specific project.",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnItemCreated",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#when-a-task-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/sync/createItem": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a task",
        "description": "Create a new task in the specified project.",
        "operationId": "CreateItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "newItem",
            "in": "body",
            "description": "New item to be added to project.",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating an Item",
              "required": [
                "content"
              ],
              "type": "object",
              "properties": {
                "content": {
                  "description": "The title of the task.",
                  "type": "string",
                  "x-ms-summary": "Title",
                  "x-ms-visibility": "important"
                },
                "date_string": {
                  "format": "date-time",
                  "description": "The task due date (e.g mm-dd-yyyy, Today @ 11am, mm/dd/yyyy).",
                  "type": "string",
                  "x-ms-summary": "Due Date",
                  "x-ms-visibility": "advanced"
                },
                "priority": {
                  "description": "A number between 1 and 4 (4 for very urgent and 1 for natural).",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-visibility": "advanced"
                },
                "indent": {
                  "description": "A number between 1 and 4, where 1 is top-level).",
                  "type": "string",
                  "x-ms-summary": "Indent",
                  "x-ms-visibility": "advanced"
                },
                "item_order": {
                  "description": "A number, where the smallest value is top-level.",
                  "type": "string",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "content": "test task 1"
              }
            },
            "x-ms-summary": "Task"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateItem",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-task-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/sync/updateItem": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a task",
        "description": "Update an existing task.",
        "operationId": "UpdateItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "The unique identifier of the task.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListItemsByProject",
              "parameters": {
                "id": {
                  "parameter": "id"
                }
              },
              "value-collection": "items",
              "value-path": "id",
              "value-title": "content"
            },
            "type": "string",
            "x-ms-test-value": "2159362516"
          },
          {
            "name": "changeItem",
            "in": "body",
            "description": "The updated fields of the task.",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating an item",
              "type": "object",
              "properties": {
                "content": {
                  "description": "The title of the task.",
                  "type": "string",
                  "x-ms-summary": "Title",
                  "x-ms-visibility": "important"
                },
                "priority": {
                  "description": "A number between 1 and 4, 4 for very urgent and 1 for natural.",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-visibility": "advanced"
                },
                "indent": {
                  "description": "A number between 1 and 4, where 1 is top-level).",
                  "type": "string",
                  "x-ms-summary": "Indent",
                  "x-ms-visibility": "advanced"
                },
                "item_order": {
                  "description": "A number, where the smallest value is top-level.",
                  "type": "string",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "context": "test task 1"
              }
            },
            "x-ms-summary": "Task"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateItem",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-task-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/sync/createProject": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a project",
        "description": "Create a new project.",
        "operationId": "CreateProject",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newProject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating a Project",
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the project.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "A number between 0 and 11, or 0 and 21 for premium users.",
                  "type": "string",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "indent": {
                  "description": "A number between 1 and 4, where 1 is top-level).",
                  "type": "string",
                  "x-ms-summary": "Indent",
                  "x-ms-visibility": "advanced"
                },
                "item_order": {
                  "description": "A number, where the smallest value is top-level.",
                  "type": "string",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test project 1"
              }
            },
            "x-ms-summary": "Project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateProject",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-project-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/sync/updateProject": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a project",
        "description": "Update an existing project.",
        "operationId": "UpdateProject",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "changeProject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating a Project",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the project.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "A number between 0 and 11, or 0 and 21 for premium users.",
                  "type": "string",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "indent": {
                  "description": "A number between 1 and 4, where 1 is top-level).",
                  "type": "string",
                  "x-ms-summary": "Indent",
                  "x-ms-visibility": "advanced"
                },
                "item_order": {
                  "description": "A number, where the smallest value is top-level.",
                  "type": "string",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test project 1 updated"
              }
            },
            "x-ms-summary": "Project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateProject",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-project-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/sync/shareProject": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Share a project",
        "description": "Share an existing project to a specific user.",
        "operationId": "ShareProject",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "shareProject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for sharing a Project",
              "required": [
                "email"
              ],
              "type": "object",
              "properties": {
                "email": {
                  "description": "The email address of user the project is being shared to.",
                  "type": "string",
                  "x-ms-summary": "Email",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-test-value": {
                "email": "aaptapps@gmail.com"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ShareProject",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#share-a-project-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/sync/createLabel": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a label",
        "description": "Create a new label (premium users only).",
        "operationId": "CreateLabel",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newLabel",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating a Label",
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the label.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "The color of the label (a number between 0 and 7, or 0 and 12 for premium users).",
                  "type": "string",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "item_order": {
                  "description": "The label's order in the label list (a number, where the smallest value is top-level).",
                  "type": "string",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test label"
              }
            },
            "x-ms-summary": "Label"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Label"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateLabel",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-label-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/sync/updateLabel": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a label",
        "description": "Update an existing label.",
        "operationId": "UpdateLabel",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "label_id",
            "in": "query",
            "description": "The unique identifier of the label.",
            "required": true,
            "x-ms-summary": "Label Id",
            "x-ms-dynamic-values": {
              "operationId": "ListLabels",
              "value-collection": "labels",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "659065"
          },
          {
            "name": "changeLabel",
            "in": "body",
            "description": "Change label",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating a Label",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the label.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "The color of the label (a number between 0 and 7, or 0 and 12 for premium users).",
                  "type": "string",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "item_order": {
                  "description": "The label's order in the label list (a number, where the smallest value is top-level).",
                  "type": "string",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "TEST LABEL (DO NOT DELETE)"
              }
            },
            "x-ms-summary": "Label"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Label"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateLabel",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-label-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/sync/listProjects": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List projects (V2)",
        "description": "List all projects in the Todoist account.",
        "operationId": "ListProjectsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Projects response object",
              "type": "object",
              "properties": {
                "projects": {
                  "description": "A collection of projects",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Project"
                  },
                  "x-ms-summary": "Projects",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListProjects",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-projects-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/sync/listItems": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List tasks (V2)",
        "description": "List all tasks in the Todoist account.",
        "operationId": "ListItemsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Items response object",
              "type": "object",
              "properties": {
                "items": {
                  "description": "A collection of items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ItemV2"
                  },
                  "x-ms-summary": "Items",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListItems",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-tasks-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/projects/get_data": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List tasks by project (V2)",
        "description": "List all tasks in a specific project.",
        "operationId": "ListItemsByProjectV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Items response object",
              "type": "object",
              "properties": {
                "items": {
                  "description": "A collection of items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ItemV2"
                  },
                  "x-ms-summary": "Items",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListItemsByProject",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-tasks-by-project-(v2)"
        }
      }
    },
    "/{connectionId}/v2/sync/listLabels": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List labels (V2)",
        "description": "List the labels configured in the Todoist account.",
        "operationId": "ListLabelsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Labels response object",
              "type": "object",
              "properties": {
                "labels": {
                  "description": "A collection of labels",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LabelV2"
                  },
                  "x-ms-summary": "Labels",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListLabels",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-labels-(v2)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/trigger/completed/get_all": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "When a task is completed (V2)",
        "description": "Triggers a new flow when a task is completed (premium users only).",
        "operationId": "OnItemCompletedV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Completed Items response object",
              "type": "object",
              "properties": {
                "items": {
                  "description": "A collection of completed items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CompletedItem"
                  },
                  "x-ms-summary": "Completed Items",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete an item.",
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnItemCompleted",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#when-a-task-is-completed-(v2)"
        }
      }
    },
    "/{connectionId}/v2/trigger/sync": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "When a task is created (V2)",
        "description": "Trigers a new flow when a task is created.",
        "operationId": "OnItemCreatedV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "A Todoist Items response object",
              "type": "object",
              "properties": {
                "items": {
                  "description": "A collection of items",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ItemV2"
                  },
                  "x-ms-summary": "Items",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create an item in a specific project.",
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnItemCreated",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#when-a-task-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/v2/sync/createItem": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a task (V2)",
        "description": "Create a new task in the specified project.",
        "operationId": "CreateItemV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "newItem",
            "in": "body",
            "description": "New item to be added to project.",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating an Item",
              "required": [
                "content"
              ],
              "type": "object",
              "properties": {
                "content": {
                  "description": "The title of the task.",
                  "type": "string",
                  "x-ms-summary": "Title",
                  "x-ms-visibility": "important"
                },
                "date_string": {
                  "format": "date-time",
                  "description": "The task due date (e.g 2017-07-21T17:32:28Z).",
                  "type": "string",
                  "x-ms-summary": "Due Date",
                  "x-ms-visibility": "advanced"
                },
                "priority": {
                  "description": "A number between 1 and 4 (4 for very urgent and 1 for natural).",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-visibility": "advanced"
                },
                "parent_id": {
                  "description": "The id of the parent task. Set to null for root tasks",
                  "type": "string",
                  "x-ms-summary": "Parent Id",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListItemsByProjectV2",
                    "value-collection": "items",
                    "value-path": "id",
                    "value-title": "content",
                    "parameters": {
                      "id": {
                        "parameter": "project_id"
                      }
                    }
                  }
                },
                "child_order": {
                  "description": "The order of task. Defines the position of the task among all the tasks with the same Parent Id",
                  "type": "integer",
                  "x-ms-summary": "Child order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "content": "test task 1"
              }
            },
            "x-ms-summary": "Task"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateItem",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-task-(v2)"
        }
      }
    },
    "/{connectionId}/v2/sync/updateItem": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a task (V2)",
        "description": "Update an existing task.",
        "operationId": "UpdateItemV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "item_id",
            "in": "query",
            "description": "The unique identifier of the task.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListItemsByProjectV2",
              "parameters": {
                "id": {
                  "parameter": "id"
                }
              },
              "value-collection": "items",
              "value-path": "id",
              "value-title": "content"
            },
            "type": "string",
            "x-ms-test-value": "2159362516"
          },
          {
            "name": "changeItem",
            "in": "body",
            "description": "The updated fields of the task.",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating an item",
              "required": [
                "content"
              ],
              "type": "object",
              "properties": {
                "content": {
                  "description": "The title of the task.",
                  "type": "string",
                  "x-ms-summary": "Title",
                  "x-ms-visibility": "important"
                },
                "priority": {
                  "description": "A number between 1 and 4, 4 for very urgent and 1 for natural.",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "context": "test task 1"
              }
            },
            "x-ms-summary": "Task"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateItem",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-task-(v2)"
        }
      }
    },
    "/{connectionId}/v2/sync/createProject": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a project (V2)",
        "description": "Create a new project.",
        "operationId": "CreateProjectV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newProject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating a Project",
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the project.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "Color id. It’s a value between 30 and 49.",
                  "type": "integer",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "parent_id": {
                  "description": "The id of the parent project. Set to null for root projects",
                  "type": "string",
                  "x-ms-summary": "Parent Id",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjectsV2",
                    "value-collection": "projects",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "child_order": {
                  "description": "The order of project. Defines the position of the project among all the projects with the same Parent Id",
                  "type": "integer",
                  "x-ms-summary": "Child order",
                  "x-ms-visibility": "advanced"
                },
                "is_favorite": {
                  "description": "Whether the project is favorite (where 1 is true and 0 is false).",
                  "type": "integer",
                  "x-ms-summary": "Is favorite",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test project 1"
              }
            },
            "x-ms-summary": "Project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateProject",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-project-(v2)"
        }
      }
    },
    "/{connectionId}/v2/sync/updateProject": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a project (V2)",
        "description": "Update an existing project.",
        "operationId": "UpdateProjectV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "changeProject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating a Project",
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the project.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "Color id. It’s a value between 30 and 49.",
                  "type": "string",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "is_favorite": {
                  "description": "Whether the project is favorite (where 1 is true and 0 is false).",
                  "type": "integer",
                  "x-ms-summary": "Is favorite",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test project 1 updated"
              }
            },
            "x-ms-summary": "Project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateProject",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-project-(v2)"
        }
      }
    },
    "/{connectionId}/v2/sync/shareProject": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Share a project (V2)",
        "description": "Share an existing project to a specific user.",
        "operationId": "ShareProjectV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "shareProject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for sharing a Project",
              "required": [
                "email"
              ],
              "type": "object",
              "properties": {
                "email": {
                  "description": "The user email with whom to share the project.",
                  "type": "string",
                  "x-ms-summary": "Email",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-test-value": {
                "email": "aaptapps@gmail.com"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ShareProject",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#share-a-project-(v2)"
        }
      }
    },
    "/{connectionId}/v2/sync/createLabel": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a label (V2)",
        "description": "Create a new label.",
        "operationId": "CreateLabelV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newLabel",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating a Label",
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the label.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "Color id. It’s a value between 30 and 49.",
                  "type": "string",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "item_order": {
                  "description": "Label’s order in the label list (a number, where the smallest value should place the label at the top).",
                  "type": "string",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test label"
              }
            },
            "x-ms-summary": "Label"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabelV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateLabel",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-label-(v2)"
        }
      }
    },
    "/{connectionId}/v2/sync/updateLabel": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a label (V2)",
        "description": "Update an existing label.",
        "operationId": "UpdateLabelV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "label_id",
            "in": "query",
            "description": "The unique identifier of the label.",
            "required": true,
            "x-ms-summary": "Label Id",
            "x-ms-dynamic-values": {
              "operationId": "ListLabelsV2",
              "value-collection": "labels",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "659065"
          },
          {
            "name": "changeLabel",
            "in": "body",
            "description": "Change label",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating a Label",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the label.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "Color id. It’s a value between 30 and 49.",
                  "type": "string",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "item_order": {
                  "description": "Label’s order in the label list.",
                  "type": "string",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "TEST LABEL (DO NOT DELETE)"
              }
            },
            "x-ms-summary": "Label"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabelV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateLabel",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-label-(v2)"
        }
      }
    },
    "/{connectionId}/v3/projects/getAll": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List projects (V3)",
        "description": "List all projects in the Todoist account.",
        "operationId": "ListProjectsV3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectV3"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListProjects",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-projects-(v3)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v3/tasks/getAll": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List tasks (V3)",
        "description": "List all tasks in the Todoist account.",
        "operationId": "ListItemsV3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Task"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListItems",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-tasks-(v3)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v3/tasks/getTasksByProject": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List tasks by project (V3)",
        "description": "List all tasks in a specific project.",
        "operationId": "ListItemsByProjectV3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV3",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "integer",
            "x-ms-test-value": "196982769"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Task"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListItemsByProject",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-tasks-by-project-(v3)"
        }
      }
    },
    "/{connectionId}/v3/labels/getAll": {
      "get": {
        "tags": [
          "Todoist"
        ],
        "summary": "List labels (V3)",
        "description": "List the labels configured in the Todoist account.",
        "operationId": "ListLabelsV3",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LabelV3"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListLabels",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#list-labels-(v3)"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v3/tasks/createTask": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a task (V3)",
        "description": "Create a new task in the specified project.",
        "operationId": "CreateItemV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newItem",
            "in": "body",
            "description": "New item to be added to project.",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating an Item",
              "required": [
                "content"
              ],
              "type": "object",
              "properties": {
                "content": {
                  "description": "The title of the task.",
                  "type": "string",
                  "x-ms-summary": "Title",
                  "x-ms-visibility": "important"
                },
                "project_id": {
                  "description": "Task project id. If not set, task is put to user’s Inbox.",
                  "type": "integer",
                  "x-ms-summary": "Project Id",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjectsV3",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "due_string": {
                  "format": "date-time",
                  "description": "The task due date (e.g 2017-07-21T17:32:28Z).",
                  "type": "string",
                  "x-ms-summary": "Due Date",
                  "x-ms-visibility": "advanced"
                },
                "priority": {
                  "description": "A number between 1 and 4 (4 for very urgent and 1 for natural).",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-visibility": "advanced"
                },
                "parent_id": {
                  "description": "The id of the parent task. Set to null for root tasks",
                  "type": "integer",
                  "x-ms-summary": "Parent Id",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListItemsByProjectV3",
                    "parameters": {
                      "project_id": {
                        "parameter": "project_id"
                      }
                    },
                    "value-path": "id",
                    "value-title": "content"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "ListItemsByProjectV3",
                    "parameters": {
                      "project_id": {
                        "parameterReference": "newItem/project_id"
                      }
                    },
                    "itemValuePath": "id",
                    "itemTitlePath": "content"
                  }
                },
                "order": {
                  "description": "The order of task. Defines the position of the task among all the tasks with the same Parent Id",
                  "type": "integer",
                  "x-ms-summary": "Child order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "content": "test task 1"
              }
            },
            "x-ms-summary": "Task"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateItem",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-task-(v3)"
        }
      }
    },
    "/{connectionId}/v3/tasks/updateTask": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a task (V3)",
        "description": "Update an existing task.",
        "operationId": "UpdateItemV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV3",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "integer",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the task.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListItemsByProjectV3",
              "parameters": {
                "project_id": {
                  "parameter": "project_id"
                }
              },
              "value-path": "id",
              "value-title": "content"
            },
            "type": "string",
            "x-ms-test-value": "2159362516"
          },
          {
            "name": "changeItem",
            "in": "body",
            "description": "The updated fields of the task.",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating an item",
              "required": [
                "content"
              ],
              "type": "object",
              "properties": {
                "content": {
                  "description": "The title of the task.",
                  "type": "string",
                  "x-ms-summary": "Title",
                  "x-ms-visibility": "important"
                },
                "priority": {
                  "description": "A number between 1 and 4, 4 for very urgent and 1 for natural.",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "context": "test task 1"
              }
            },
            "x-ms-summary": "Task"
          }
        ],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "UpdateItem",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-task-(v3)"
        }
      }
    },
    "/{connectionId}/v3/projects/createProject": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a project (V3)",
        "description": "Create a new project.",
        "operationId": "CreateProjectV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newProject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating a Project",
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the project.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "Color id. It’s a value between 30 and 49.",
                  "type": "integer",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "parent_id": {
                  "description": "The id of the parent project. Set to null for root projects",
                  "type": "integer",
                  "x-ms-summary": "Parent Id",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjectsV3",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "favorite": {
                  "description": "Whether the project is favorite (a true or false value).",
                  "type": "boolean",
                  "x-ms-summary": "Is favorite",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test project 1"
              }
            },
            "x-ms-summary": "Project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateProject",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-project-(v3)"
        }
      }
    },
    "/{connectionId}/v3/projects/updateProject": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a project (V3)",
        "description": "Update an existing project.",
        "operationId": "UpdateProjectV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the project.",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV3",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "integer",
            "x-ms-test-value": "196982769"
          },
          {
            "name": "changeProject",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating a Project",
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the project.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "Color id. It’s a value between 30 and 49.",
                  "type": "string",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "favorite": {
                  "description": "Whether the project is favorite (a true or false value).",
                  "type": "boolean",
                  "x-ms-summary": "Is favorite",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test project 1 updated"
              }
            },
            "x-ms-summary": "Project"
          }
        ],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "UpdateProject",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-project-(v3)"
        }
      }
    },
    "/{connectionId}/v3/labels/createLabel": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Create a label (V3)",
        "description": "Create a new label.",
        "operationId": "CreateLabelV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newLabel",
            "in": "body",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for creating a Label",
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the label.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "Color id. It’s a value between 30 and 49.",
                  "type": "integer",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "order": {
                  "description": "Label’s order in the label list (a number, where the smallest value should place the label at the top).",
                  "type": "integer",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test label"
              }
            },
            "x-ms-summary": "Label"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LabelV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateLabel",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#create-a-label-(v3)"
        }
      }
    },
    "/{connectionId}/v3/labels/updateLabel": {
      "post": {
        "tags": [
          "Todoist"
        ],
        "summary": "Update a label (V3)",
        "description": "Update an existing label.",
        "operationId": "UpdateLabelV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the label.",
            "required": true,
            "x-ms-summary": "Label Id",
            "x-ms-dynamic-values": {
              "operationId": "ListLabelsV3",
              "value-collection": "labels",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "659065"
          },
          {
            "name": "changeLabel",
            "in": "body",
            "description": "Change label",
            "required": true,
            "schema": {
              "description": "A Todoist argument object for updating a Label",
              "type": "object",
              "properties": {
                "name": {
                  "description": "The name of the label.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "color": {
                  "description": "Color id. It’s a value between 30 and 49.",
                  "type": "integer",
                  "x-ms-summary": "Color",
                  "x-ms-visibility": "advanced"
                },
                "order": {
                  "description": "Label’s order in the label list.",
                  "type": "integer",
                  "x-ms-summary": "Order",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "TEST LABEL (DO NOT DELETE)"
              }
            },
            "x-ms-summary": "Label"
          }
        ],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "UpdateLabel",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoist/#update-a-label-(v3)"
        }
      }
    }
  },
  "definitions": {
    "Project": {
      "description": "A Todoist Project Object",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the project.",
          "type": "string",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the project.",
          "type": "string",
          "x-ms-summary": "Project Name"
        },
        "color": {
          "format": "int32",
          "description": "The color of the project.",
          "type": "integer",
          "x-ms-summary": "Color",
          "x-ms-visibility": "advanced"
        },
        "shared": {
          "description": "Is Project Shared",
          "type": "boolean",
          "x-ms-summary": "Is Project Shared",
          "x-ms-visibility": "advanced"
        },
        "is_deleted": {
          "format": "int32",
          "description": "A number value (1 is true, 0 is false) indicating whether or not the project is deleted.",
          "type": "integer",
          "x-ms-summary": "Is Project Deleted",
          "x-ms-visibility": "advanced"
        },
        "is_archived": {
          "format": "int32",
          "description": "A number value (1 is true, 0 is false) indicating whether or not the project is archived.",
          "type": "integer",
          "x-ms-summary": "Is Project Archived",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectV3": {
      "description": "A Todoist Project Object",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "The unique identifier of the project.",
          "type": "integer",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the project.",
          "type": "string",
          "x-ms-summary": "Project Name"
        },
        "comment_count": {
          "format": "int32",
          "description": "The number of comments.",
          "type": "integer",
          "x-ms-summary": "Comment Count",
          "x-ms-visibility": "advanced"
        },
        "order": {
          "format": "int32",
          "description": "The order of the project under the same parent.",
          "type": "integer",
          "x-ms-summary": "Order",
          "x-ms-visibility": "advanced"
        },
        "color": {
          "format": "int32",
          "description": "The color of the project.",
          "type": "integer",
          "x-ms-summary": "Color",
          "x-ms-visibility": "advanced"
        },
        "shared": {
          "description": "Is Project Shared",
          "type": "boolean",
          "x-ms-summary": "Is Project Shared",
          "x-ms-visibility": "advanced"
        },
        "sync_id": {
          "format": "int32",
          "description": "Identifier to find the match between different copies of shared projects.",
          "type": "integer",
          "x-ms-summary": "Sync Id",
          "x-ms-visibility": "advanced"
        },
        "favorite": {
          "description": "Is Project Favorite",
          "type": "boolean",
          "x-ms-summary": "Is Project Favorite",
          "x-ms-visibility": "advanced"
        },
        "inbox_project": {
          "description": "Is Project Inbox",
          "type": "boolean",
          "x-ms-summary": "Is Project Shared",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Item": {
      "description": "A Todoist Item Object",
      "type": "object",
      "properties": {
        "content": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Task Title",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "The id of the task.",
          "type": "string",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "format": "int32",
          "description": "The owner of the task.",
          "type": "integer",
          "x-ms-summary": "Task Owner",
          "x-ms-visibility": "advanced"
        },
        "project_id": {
          "description": "The project where task resides.",
          "type": "string",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        },
        "date_lang": {
          "description": "The language of the date (valid languages are: en, da, pl, zh, ko, de, pt, ja, it, fr, sv, ru, es, nl).",
          "type": "string",
          "x-ms-summary": "Date Language",
          "x-ms-visibility": "advanced"
        },
        "due_date_utc": {
          "format": "date-time",
          "description": "The date of the task in the format Mon 07 Aug 2006 12:34:56 +0000.",
          "type": "string",
          "x-ms-summary": "Task Due Date",
          "x-ms-visibility": "advanced"
        },
        "indent": {
          "format": "int32",
          "description": "The indent of the task (a number between 1 and 4, where 1 is top-level).",
          "type": "integer",
          "x-ms-summary": "Indent",
          "x-ms-visibility": "advanced"
        },
        "priority": {
          "format": "int32",
          "description": "The priority of the task (a number between 1 and 4, 4 for very urgent and 1 for natural).",
          "type": "integer",
          "x-ms-summary": "Task Priority",
          "x-ms-visibility": "advanced"
        },
        "item_order": {
          "format": "int32",
          "description": "The order of the task inside a project (the smallest value would place the task at the top).",
          "type": "integer",
          "x-ms-summary": "Order",
          "x-ms-visibility": "advanced"
        },
        "day_order": {
          "format": "int32",
          "description": "The order of the task inside the Today or Next 7 days view (a number, where the smallest value would place the task at the top).",
          "type": "integer",
          "x-ms-summary": "DayOrder",
          "x-ms-visibility": "internal"
        },
        "collapsed": {
          "format": "int32",
          "description": "Whether the task’s sub-tasks are collapsed (where 1 is true and 0 is false).",
          "type": "integer",
          "x-ms-summary": "Collapsed",
          "x-ms-visibility": "internal"
        },
        "children": {
          "description": "Children",
          "type": "string",
          "x-ms-summary": "Children",
          "x-ms-visibility": "internal"
        },
        "assigned_by_uid": {
          "format": "int32",
          "description": "The id of the user who assigns the current task. For shared projects only.",
[...]
