{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Amazon S3",
    "description": "Simple Storage Service (S3) is a data storage service provided by Amazon Web Services.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/amazons3",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/regions": {
      "get": {
        "tags": [
          "AmazonS3"
        ],
        "summary": "List S3 regions",
        "description": "List S3 regions.",
        "operationId": "ListRegions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/S3RegionCollection"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazons3/#list-s3-regions"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/buckets": {
      "get": {
        "tags": [
          "S3Bucket"
        ],
        "summary": "List S3 buckets",
        "description": "List S3 buckets.",
        "operationId": "ListBuckets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/S3BucketCollection"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazons3/#list-s3-buckets"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/buckets/objects": {
      "get": {
        "tags": [
          "S3Object"
        ],
        "summary": "List S3 objects",
        "description": "List S3 objects in a bucket.",
        "operationId": "ListObjects",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "bucketName",
            "in": "query",
            "description": "The name of the bucket.",
            "required": true,
            "x-ms-summary": "The name of the bucket.",
            "x-ms-dynamic-values": {
              "operationId": "ListBuckets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "bucketRegion",
            "in": "query",
            "description": "The region where the bucket is located.",
            "required": false,
            "x-ms-summary": "The region where the bucket is located.",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListRegions",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "maxObjectCount",
            "in": "query",
            "description": "Maximum number of objects to fetch.",
            "required": false,
            "x-ms-summary": "Maximum object count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "A token to identify the next page of objects.",
            "required": false,
            "x-ms-summary": "Continuation token",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/S3ObjectCollection"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazons3/#list-s3-objects"
        }
      }
    },
    "/{connectionId}/buckets/objects/metadata": {
      "get": {
        "tags": [
          "S3Object"
        ],
        "summary": "Get S3 object metadata",
        "description": "Gets the metadata of an S3 object.",
        "operationId": "GetObjectMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "bucketName",
            "in": "query",
            "description": "The name of the bucket.",
            "required": true,
            "x-ms-summary": "The name of the bucket.",
            "x-ms-dynamic-values": {
              "operationId": "ListBuckets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "objectKey",
            "in": "query",
            "description": "The key of the object.",
            "required": true,
            "x-ms-summary": "The key of the object.",
            "type": "string"
          },
          {
            "name": "bucketRegion",
            "in": "query",
            "description": "The region where the bucket is located.",
            "required": false,
            "x-ms-summary": "The region where the bucket is located.",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListRegions",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/S3ObjectDeepMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazons3/#get-s3-object-metadata"
        }
      }
    },
    "/{connectionId}/buckets/objects/content": {
      "get": {
        "tags": [
          "S3Object"
        ],
        "summary": "Get S3 object content",
        "description": "Gets the content of an S3 object.",
        "operationId": "GetObjectContent",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "bucketName",
            "in": "query",
            "description": "The name of the bucket.",
            "required": true,
            "x-ms-summary": "The name of the bucket.",
            "x-ms-dynamic-values": {
              "operationId": "ListBuckets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "objectKey",
            "in": "query",
            "description": "The key of the object.",
            "required": true,
            "x-ms-summary": "The key of the object.",
            "type": "string"
          },
          {
            "name": "bucketRegion",
            "in": "query",
            "description": "The region where the bucket is located.",
            "required": false,
            "x-ms-summary": "The region where the bucket is located.",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListRegions",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the object.",
              "type": "string",
              "x-ms-summary": "Object Content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazons3/#get-s3-object-content"
        }
      }
    },
    "/{connectionId}/buckets/objects/onupdate": {
      "get": {
        "tags": [
          "S3Object"
        ],
        "summary": "When an S3 object is updated",
        "description": "Gets the metadata of an S3 object.",
        "operationId": "OnObjectUpdate",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "bucketName",
            "in": "query",
            "description": "The name of the bucket.",
            "required": true,
            "x-ms-summary": "The name of the bucket.",
            "x-ms-dynamic-values": {
              "operationId": "ListBuckets",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "objectKey",
            "in": "query",
            "description": "The key of the object.",
            "required": true,
            "x-ms-summary": "The key of the object.",
            "type": "string"
          },
          {
            "name": "bucketRegion",
            "in": "query",
            "description": "The region where the bucket is located.",
            "required": false,
            "x-ms-summary": "The region where the bucket is located.",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListRegions",
              "parameters": {},
              "value-collection": "Value",
              "value-path": "Name",
              "value-title": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/S3ObjectDeepMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazons3/#when-an-s3-object-is-updated"
        }
      }
    }
  },
  "definitions": {
    "S3RegionCollection": {
      "description": "Collection of S3 regions",
      "type": "object",
      "properties": {
        "value": {
          "description": "The regions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/S3Region"
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "S3Region": {
      "description": "Description of an S3 region",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the region",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "S3BucketCollection": {
      "description": "Collection of S3 buckets",
      "type": "object",
      "properties": {
        "value": {
          "description": "The buckets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/S3Bucket"
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "S3Bucket": {
      "description": "Description of an S3 bucket",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the bucket",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "S3ObjectCollection": {
      "description": "Collection of S3 objects",
      "type": "object",
      "properties": {
        "value": {
          "description": "The objects",
          "type": "array",
          "items": {
            "$ref": "#/definitions/S3ObjectMetadata"
          },
          "x-ms-visibility": "important"
        },
        "continuationToken": {
          "description": "Continuation token",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "S3ObjectMetadata": {
      "description": "Metadata of an S3 object",
      "type": "object",
      "properties": {
        "key": {
          "description": "The object key",
          "type": "string"
        },
        "eTag": {
          "description": "The object entity tag",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "description": "The object size",
          "type": "integer"
        },
        "lastChangedTime": {
          "format": "date-time",
          "description": "The time when the object was last changed",
          "type": "string",
          "x-ms-summary": "Last changed time"
        }
      }
    },
    "S3ObjectDeepMetadata": {
      "description": "Detailed metadata of an S3 object",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "The bucket name",
          "type": "string"
        },
        "versionId": {
          "description": "The object version Id",
          "type": "string"
        },
        "contentType": {
          "description": "Type of the content in the object",
          "type": "string",
          "x-ms-summary": "Content type"
        },
        "key": {
          "description": "The object key",
          "type": "string"
        },
        "eTag": {
          "description": "The object entity tag",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "description": "The object size",
          "type": "integer"
        },
        "lastChangedTime": {
          "format": "date-time",
          "description": "The time when the object was last changed",
          "type": "string",
          "x-ms-summary": "Last changed time"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/amazons3"
  }
}
