{
  "swagger": "2.0",
  "info": {
    "title": "HTML to PDF by Pascalcase",
    "description": "Converts HTML files to PDF. No more 2mb limitation.",
    "version": "1.0",
    "contact": {
      "name": "pascalcase",
      "url": "https://pascalcase.com/Home/Contact",
      "email": "support@pascalcase.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/htmltopdfconverter",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/{connectionId}/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Convert HTML To PDF Pascalcase",
        "description": "Converts HTML to PDF of more than 2mb",
        "operationId": "ConvertHTMLToPDF",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Type of content being passed"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "HtmlBody": {
                  "type": "string",
                  "description": "HtmlBody",
                  "title": "HTML",
                  "format": "html",
                  "default": "<html><body><h1>Hello, World!</h1></body></html>"
                },
                "Cipher": {
                  "type": "string",
                  "description": "Cipher/Key which will be provided by Pascalcase for creating more than 1page PDFs, if the keys are not present the PDF generated will be limited to 1 page.",
                  "title": "API Key"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/htmltopdfconverter/#convert-html-to-pdf-pascalcase"
        }
      }
    }
  },
  "definitions": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pascalcase.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pascalcase.com/Home/Privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/htmltopdfconverter"
  }
}
