{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Service Bus",
    "description": "Connect to Azure Service Bus to send and receive messages. You can perform actions such as send to queue, send to topic, receive from queue, receive from subscription, etc.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/servicebus",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/queues": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get all queues",
        "description": "This operation gets all queues in the Service Bus namespace.",
        "operationId": "GetQueues",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-all-queues"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/topics": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get all topics",
        "description": "This operation gets all topics in the Service Bus namespace.",
        "operationId": "GetTopics",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-all-topics"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/topics/{topicName}/subscriptions": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get the subscriptions for a topic",
        "description": "This operation gets the list of subscriptions for a topic in the Service Bus namespace.",
        "operationId": "GetSubscriptions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Topic name",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-the-subscriptions-for-a-topic"
        }
      }
    },
    "/{connectionId}/entities": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get all entities",
        "description": "This operation gets all queues and topics in the Service Bus namespace.",
        "operationId": "GetEntities",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceBusEntity"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-all-entities"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/systemproperties": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get the list of system properties",
        "description": "This operation gets list of properties.",
        "operationId": "GetSystemProperties",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-the-list-of-system-properties"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/sessionoptions": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get session options",
        "description": "This operation gets the list of options for session handling - None, Next available.",
        "operationId": "GetSessionOptions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-session-options"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/{entityName}/messages": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Send message",
        "description": "This operation sends a message to a queue or topic.",
        "operationId": "SendMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the queue or topic",
            "required": true,
            "x-ms-summary": "Queue/Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetEntities",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "message",
            "in": "body",
            "description": "Message to send",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceBusMessage"
            },
            "x-ms-summary": "Message"
          },
          {
            "name": "systemProperties",
            "in": "query",
            "description": "System properties - None or Run Details. Run Details will add run metadata property details as custom properties in the message.",
            "required": false,
            "x-ms-summary": "System properties",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetSystemProperties"
            },
            "type": "string",
            "default": "None"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#send-message"
        }
      }
    },
    "/{connectionId}/{entityName}/messages/batch": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Send one or more messages",
        "description": "This operation sends one or more messages to a queue or topic.",
        "operationId": "SendMessages",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entityName",
            "in": "path",
            "description": "Name of the queue or topic",
            "required": true,
            "x-ms-summary": "Queue/Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetEntities",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "messages",
            "in": "body",
            "description": "Messages to send",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceBusMessage"
              }
            },
            "x-ms-summary": "Message"
          },
          {
            "name": "systemProperties",
            "in": "query",
            "description": "System properties - None or Run Details. Run Details will add run metadata property details as custom properties in the message.",
            "required": false,
            "x-ms-summary": "System properties",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetSystemProperties"
            },
            "type": "string",
            "default": "None"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#send-one-or-more-messages"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/head": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "When a message is received in a queue (auto-complete)",
        "description": "This operation triggers a flow when a message is received in a queue and auto completes the message.",
        "operationId": "GetMessageFromQueue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceBusMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#when-a-message-is-received-in-a-queue-(auto-complete)"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/head/peek": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "When a message is received in a queue (peek-lock)",
        "description": "The operation triggers a flow when a message received in a queue with peek-lock mode.",
        "operationId": "GetNewMessageFromQueueWithPeekLock",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id - None or Next Available or provide session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetSessionOptions"
            },
            "type": "string",
            "default": "None"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceBusMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#when-a-message-is-received-in-a-queue-(peek-lock)"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/complete": {
      "delete": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Complete the message in a queue",
        "description": "The operation completes a message in a queue.",
        "operationId": "CompleteMessageInQueue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to complete",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#complete-the-message-in-a-queue"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/abandon": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Abandon the message in a queue",
        "description": "The operation abandons a message in a queue.",
        "operationId": "AbandonMessageInQueue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to abandon",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#abandon-the-message-in-a-queue"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/defer": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get deferred message from a queue",
        "description": "The operation gets a deferred message from a queue.",
        "operationId": "GetDeferredMessageFromQueue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "sequenceNumber",
            "in": "query",
            "description": "Sequence number of message",
            "required": true,
            "x-ms-summary": "Sequence number of message",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceBusMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-deferred-message-from-a-queue"
        }
      },
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Defer the message in a queue",
        "description": "The operation defers a message in a queue.",
        "operationId": "DeferMessageInQueue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to defer",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#defer-the-message-in-a-queue"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/deadletter": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Dead-letter the message in a queue",
        "description": "The operation moves the message to the Dead-Letter Queue.",
        "operationId": "DeadLetterMessageInQueue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to dead-letter",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          },
          {
            "name": "deadLetterReason",
            "in": "query",
            "description": "Dead letter reason",
            "required": false,
            "x-ms-summary": "Dead letter reason",
            "type": "string",
            "default": ""
          },
          {
            "name": "deadLetterErrorDescription",
            "in": "query",
            "description": "Dead letter error description",
            "required": false,
            "x-ms-summary": "Dead letter error description",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#dead-letter-the-message-in-a-queue"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/renewlock": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Renew lock on the message in a queue",
        "description": "The operation renews lock on a message in a queue.",
        "operationId": "RenewLockOnMessageInQueue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to renew lock",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#renew-lock-on-the-message-in-a-queue"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/batch/head": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "When one or more messages arrive in a queue (auto-complete)",
        "description": "The operation receives one or more messages from a queue. If maximum message count is not provided, it reads 20 messages.",
        "operationId": "GetMessagesFromQueue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "maxMessageCount",
            "in": "query",
            "description": "The maximum number of messages to return in the batch",
            "required": false,
            "x-ms-summary": "Maximum message count",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceBusMessage"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#when-one-or-more-messages-arrive-in-a-queue-(auto-complete)"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/batch/head/peek": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "When one or more messages arrive in a queue (peek-lock)",
        "description": "The operation receives one or more messages from a queue with peek-lock. If maximum message count is not provided, it reads 20 messages.",
        "operationId": "GetNewMessagesFromQueueWithPeekLock",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "maxMessageCount",
            "in": "query",
            "description": "The maximum number of messages to return in the batch",
            "required": false,
            "x-ms-summary": "Maximum message count",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id - None or Next Available or provide session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetSessionOptions"
            },
            "type": "string",
            "default": "None"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceBusMessage"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#when-one-or-more-messages-arrive-in-a-queue-(peek-lock)"
        }
      }
    },
    "/{connectionId}/{queueName}/messages/batch/peek": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get messages from a queue (peek-lock)",
        "description": "The operation receives messages from a queue with peek-lock. If maximum message count is not provided, it reads 20 messages.",
        "operationId": "GetMessagesFromQueueWithPeekLock",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "maxMessageCount",
            "in": "query",
            "description": "The maximum number of messages to return in the batch",
            "required": false,
            "x-ms-summary": "Maximum message count",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "queueType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Queue type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceBusMessage"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-messages-from-a-queue-(peek-lock)"
        }
      }
    },
    "/{connectionId}/{queueName}/sessions/{sessionId}/close": {
      "delete": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Close a session in a queue",
        "description": "The operation closes a session in a queue.",
        "operationId": "CloseSessionInQueue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of a queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session id",
            "required": true,
            "x-ms-summary": "Session id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#close-a-session-in-a-queue"
        }
      }
    },
    "/{connectionId}/{queueName}/sessions/{sessionId}/renewlock": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Renew lock on the session in a queue",
        "description": "The operation renews a session in a queue.",
        "operationId": "RenewLockOnSessionInQueue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue",
            "required": true,
            "x-ms-summary": "Queue name",
            "x-ms-dynamic-values": {
              "operationId": "GetQueues"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session id",
            "required": true,
            "x-ms-summary": "Session id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#renew-lock-on-the-session-in-a-queue"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/head": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "When a message is received in a topic subscription (auto-complete)",
        "description": "This operation triggers a flow when a message is received in a topic subscription and auto completes the message.",
        "operationId": "GetMessageFromTopic",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceBusMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#when-a-message-is-received-in-a-topic-subscription-(auto-complete)"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/head/peek": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "When a message is received in a topic subscription (peek-lock)",
        "description": "The operation triggers a flow when a message received in a topic subscription with peek-lock mode.",
        "operationId": "GetNewMessageFromTopicWithPeekLock",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id - None or Next Available or provide session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetSessionOptions"
            },
            "type": "string",
            "default": "None"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceBusMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#when-a-message-is-received-in-a-topic-subscription-(peek-lock)"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/complete": {
      "delete": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Complete the message in a topic subscription",
        "description": "The operation completes a message in a topic subscription.",
        "operationId": "CompleteMessageInTopic",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to complete",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#complete-the-message-in-a-topic-subscription"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/abandon": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Abandon the message in a topic subscription",
        "description": "The operation abandons a message in a topic subscription.",
        "operationId": "AbandonMessageInTopic",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to abandon",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#abandon-the-message-in-a-topic-subscription"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/defer": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get deferred message from a topic subscription",
        "description": "The operation gets a deferred message from a topic subscription.",
        "operationId": "GetDeferredMessageFromTopic",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "sequenceNumber",
            "in": "query",
            "description": "Sequence number of message",
            "required": true,
            "x-ms-summary": "Sequence number of message",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Queue type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceBusMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-deferred-message-from-a-topic-subscription"
        }
      },
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Defer the message in a topic subscription",
        "description": "The operation defers a message in a topic subscription.",
        "operationId": "DeferMessageInTopic",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to defer",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#defer-the-message-in-a-topic-subscription"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/deadletter": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Dead-letter the message in a topic subscription",
        "description": "The operation moves the message to the topic Dead-Letter Queue.",
        "operationId": "DeadLetterMessageInTopic",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to dead-letter",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          },
          {
            "name": "deadLetterReason",
            "in": "query",
            "description": "Dead letter reason",
            "required": false,
            "x-ms-summary": "Dead letter reason",
            "type": "string",
            "default": ""
          },
          {
            "name": "deadLetterErrorDescription",
            "in": "query",
            "description": "Dead letter error description",
            "required": false,
            "x-ms-summary": "Dead letter error description",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#dead-letter-the-message-in-a-topic-subscription"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/renewlock": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Renew lock on the message in a topic subscription",
        "description": "The operation renews lock on a message in a topic subscription.",
        "operationId": "RenewLockOnMessageInTopic",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "lockToken",
            "in": "query",
            "description": "Lock token of the message to renew lock",
            "required": true,
            "x-ms-summary": "Lock token of the message",
            "type": "string"
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#renew-lock-on-the-message-in-a-topic-subscription"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Create a topic subscription",
        "description": "The operation creates a topic subscription.",
        "operationId": "CreateTopicSubscription",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "type": "string"
          },
          {
            "name": "subscriptionFilter",
            "in": "body",
            "description": "Subscription filter",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/SubscriptionFilter"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetSubscriptionFilterV2",
                "parameters": {
                  "subscriptionFilterType": {
                    "parameter": "subscriptionFilterType"
                  }
                },
                "value-path": "FilterSchema"
              }
            },
            "x-ms-summary": "Filter"
          },
          {
            "name": "subscriptionFilterType",
            "in": "query",
            "description": "Filter type",
            "required": false,
            "x-ms-summary": "Filter type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "None",
            "enum": [
              "None",
              "Correlation"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#create-a-topic-subscription"
        }
      },
      "delete": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Delete a topic subscription",
        "description": "The operation deletes a topic subscription.",
        "operationId": "DeleteTopicSubscription",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#delete-a-topic-subscription"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/batch/head": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "When one or more messages arrive in a topic (auto-complete)",
        "description": "The operation receives one or more messages from a topic. If maximum message count is not provided, it reads 20 messages.",
        "operationId": "GetMessagesFromTopic",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxMessageCount",
            "in": "query",
            "description": "The maximum number of messages to return in the batch",
            "required": false,
            "x-ms-summary": "Maximum message count",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceBusMessage"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#when-one-or-more-messages-arrive-in-a-topic-(auto-complete)"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/batch/head/peek": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "When one or more messages arrive in a topic (peek-lock)",
        "description": "The operation receives one or more messages from a topic with peek-lock. If maximum message count is not provided, it reads 20 messages.",
        "operationId": "GetNewMessagesFromTopicWithPeekLock",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxMessageCount",
            "in": "query",
            "description": "The maximum number of messages to return in the batch",
            "required": false,
            "x-ms-summary": "Maximum message count",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id - None or Next Available or provide session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetSessionOptions"
            },
            "type": "string",
            "default": "None"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceBusMessage"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#when-one-or-more-messages-arrive-in-a-topic-(peek-lock)"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/messages/batch/peek": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get messages from a topic subscription (peek-lock)",
        "description": "The operation receives messages from a topic subscription with peek-lock. If maximum message count is not provided, it reads 20 messages.",
        "operationId": "GetMessagesFromTopicWithPeekLock",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxMessageCount",
            "in": "query",
            "description": "The maximum number of messages to return in the batch",
            "required": false,
            "x-ms-summary": "Maximum message count",
            "type": "integer",
            "format": "int32",
            "default": 20
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "description": "Subscription type - Main or DeadLetter",
            "required": false,
            "x-ms-summary": "Subscription type",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Main",
            "enum": [
              "Main",
              "DeadLetter"
            ]
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "Session id",
            "required": false,
            "x-ms-summary": "Session id",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ServiceBusMessage"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-messages-from-a-topic-subscription-(peek-lock)"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/sessions/{sessionId}/close": {
      "delete": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Close a session in the topic",
        "description": "The operation closes a session in the topic.",
        "operationId": "CloseSessionInTopic",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session id",
            "required": true,
            "x-ms-summary": "Session id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#close-a-session-in-the-topic"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/sessions/{sessionId}/renewlock": {
      "post": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Renew lock on the session in a topic subscription",
        "description": "The operation renews a session in a topic subscription.",
        "operationId": "RenewLockOnSessionInTopic",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic",
            "required": true,
            "x-ms-summary": "Topic name",
            "x-ms-dynamic-values": {
              "operationId": "GetTopics"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "x-ms-dynamic-values": {
              "operationId": "GetSubscriptions",
              "parameters": {
                "topicName": {
                  "parameter": "topicName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "path",
            "description": "Session id",
            "required": true,
            "x-ms-summary": "Session id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#renew-lock-on-the-session-in-a-topic-subscription"
        }
      }
    },
    "/{connectionId}/subscriptionfilter": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get metadata of a filter",
        "description": "Get metadata of a filter",
        "operationId": "GetSubscriptionFilter",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscriptionFilterType",
            "in": "query",
            "description": "Subscription filter type",
            "required": true,
            "x-ms-summary": "Subscription filter type",
            "type": "string",
            "enum": [
              "None",
              "Correlation"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionFilter"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-metadata-of-a-filter"
        }
      }
    },
    "/{connectionId}/subscriptionfilterV2": {
      "get": {
        "tags": [
          "ServiceBus"
        ],
        "summary": "Get metadata of a filter",
        "description": "Get metadata of a filter.",
        "operationId": "GetSubscriptionFilterV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscriptionFilterType",
            "in": "query",
            "description": "Subscription filter type.",
            "required": true,
            "x-ms-summary": "Subscription filter type",
            "type": "string",
            "enum": [
              "None",
              "Correlation"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/servicebus/#get-metadata-of-a-filter"
        }
      }
    }
  },
  "definitions": {
    "ServiceBusEntity": {
      "description": "Entity with name and display name.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The entity name",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name for the entity",
          "type": "string"
        }
      }
    },
    "ServiceBusMessage": {
      "description": "Service Bus Message",
      "type": "object",
      "properties": {
        "ContentData": {
          "format": "byte",
          "description": "Content of the message",
          "type": "string",
          "x-ms-summary": "Content"
        },
        "ContentType": {
          "description": "Content type of the message content",
          "type": "string",
          "x-ms-summary": "Content Type"
        },
        "Properties": {
          "description": "Key-value pairs for each brokered property",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-summary": "Properties"
        },
        "MessageId": {
          "description": "This is a user-defined value that Service Bus can use to identify duplicate messages, if enabled.",
          "type": "string",
          "x-ms-summary": "Message Id",
          "x-ms-visibility": "advanced"
        },
        "To": {
          "description": "Send to address",
          "type": "string",
          "x-ms-summary": "To",
          "x-ms-visibility": "advanced"
        },
        "ReplyTo": {
          "description": "Address of the queue to reply to",
          "type": "string",
          "x-ms-summary": "Reply To",
          "x-ms-visibility": "advanced"
        },
        "ReplyToSessionId": {
          "description": "Identifier of the session to reply to",
          "type": "string",
          "x-ms-summary": "Reply To Session Id",
          "x-ms-visibility": "advanced"
        },
        "Label": {
          "description": "Application specific label",
          "type": "string",
          "x-ms-summary": "Label",
          "x-ms-visibility": "advanced"
        },
        "ScheduledEnqueueTimeUtc": {
          "format": "date-time",
          "description": "Date and time, in UTC, when the message will be added to the queue",
          "type": "string",
          "x-ms-summary": "ScheduledEnqueueTimeUtc",
          "x-ms-visibility": "advanced"
        },
        "SessionId": {
          "description": "Identifier of the session",
          "type": "string",
          "x-ms-summary": "Session Id",
          "x-ms-visibility": "important"
        },
        "CorrelationId": {
          "description": "Identifier of the correlation",
          "type": "string",
          "x-ms-summary": "Correlation Id",
          "x-ms-visibility": "advanced"
        },
        "SequenceNumber": {
          "format": "int64",
          "description": "Identifier of the sequence number",
          "type": "integer",
          "x-ms-summary": "Sequence Number",
          "x-ms-visibility": "advanced"
        },
        "LockToken": {
          "description": "The lock token of the message as a string.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Lock Token",
          "x-ms-visibility": "important"
        },
        "TimeToLive": {
          "format": "int64",
          "description": "This is the duration, in ticks, that a message is valid.  The duration starts from when the message is sent to the Service Bus.",
          "type": "string",
          "x-ms-summary": "Time To Live",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SubscriptionFilter": {
      "description": "The service bus filter for a topic subscription.",
      "type": "object",
      "properties": {
        "CorrelationFilter": {
          "$ref": "#/definitions/SubscriptionCorrelationFilter"
        }
      }
    },
    "SubscriptionCorrelationFilter": {
      "description": "This object has the basic properties of a message for the correlation filter.",
      "type": "object",
      "properties": {
        "CorrelationId": {
          "description": "Identifier of the correlation",
          "type": "string"
        },
        "Label": {
          "description": "Application specific label",
          "type": "string"
        },
        "MessageId": {
          "description": "This is a user-defined value that Service Bus can use to identify duplicate messages, if enabled.",
          "type": "string"
        },
        "Properties": {
          "description": "Key-value pairs for each brokered property",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ReplyTo": {
          "description": "Address of the queue to reply to",
          "type": "string"
        },
        "ReplyToSessionId": {
          "description": "Identifier of the session to reply to",
          "type": "string"
        },
        "SessionId": {
          "description": "Identifier of the session",
          "type": "string"
        },
        "To": {
          "description": "Send to address",
          "type": "string"
        },
        "ContentType": {
          "description": "Content type of the message content",
          "type": "string"
        }
      }
    },
    "Subscription": {
      "description": "The topic subscription.",
      "type": "object",
      "properties": {
        "SubscriptionName": {
          "description": "Subscription name.",
          "type": "string",
          "x-ms-summary": "Subscription name"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/service-bus/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/servicebus"
  }
}
