{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Computer Vision API",
    "description": "Extract rich information from images to categorize and process visual data—and protect your users from unwanted content with this Azure Cognitive Service.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/vision/v1.0/models": {
      "get": {
        "summary": "List domain specific models",
        "description": "List domain specific models.",
        "operationId": "ListModels",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListModelsResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListModels",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#list-domain-specific-models-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/imageSchema": {
      "get": {
        "summary": "Get Request Body Parameters",
        "description": "Return the schema for the request body format desired.",
        "operationId": "GetImageSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Schema of the request body",
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "GetImageSchema",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#get-request-body-parameters-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/models/{model}/analyze": {
      "post": {
        "summary": "Recognize Domain Specific Content",
        "description": "Recognize celebrities or landmarks in an image.",
        "operationId": "RecognizeDomainSpecificContent",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "model",
            "in": "path",
            "type": "string",
            "enum": [
              "celebrities",
              "landmarks"
            ],
            "required": true,
            "x-ms-summary": "Domain Model",
            "description": "Supported domain-specific model to recognize in image.",
            "x-ms-test-value": "Landmarks"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchema",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DomainModelResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "RecognizeDomainSpecificContent",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#recognize-domain-specific-content-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/tag": {
      "post": {
        "summary": "Tag Image",
        "description": "Generates a list of words, or tags, that are relevant to the content of the supplied image.",
        "operationId": "TagImage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchema",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TagResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "TagImage",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#tag-image-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/ocr": {
      "post": {
        "summary": "Optical Character Recognition (OCR) to JSON",
        "description": "Optical Character Recognition (OCR) detects text in an image and extracts the recognized characters into a machine-usable JSON stream.",
        "operationId": "OCR",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language code of the text to be detected in the image.",
            "x-ms-test-value": "unk",
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "unk"
          },
          {
            "name": "detectOrientation",
            "in": "query",
            "x-ms-summary": "Detect Orientation",
            "x-ms-visibility": "internal",
            "description": "he BCP-47 language code of the text to be detected in the image.",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchema",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OCRJsonResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OCR",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#optical-character-recognition-(ocr)-to-json-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/ocrtext": {
      "post": {
        "summary": "Optical Character Recognition (OCR) to Text",
        "description": "Optical Character Recognition (OCR) detects text in an image and extracts the recognized characters into a text file.",
        "operationId": "OCRText",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language code of the text to be detected in the image.",
            "x-ms-test-value": "unk",
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "unk"
          },
          {
            "name": "detectOrientation",
            "in": "query",
            "x-ms-summary": "Detect Orientation",
            "x-ms-visibility": "internal",
            "description": "The BCP-47 language code of the text to be detected in the image.",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchema",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OCRTextResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OCRText",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#optical-character-recognition-(ocr)-to-text-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/analyze": {
      "post": {
        "summary": "Analyze Image",
        "description": "This operation extracts a rich set of visual features based on the image content.",
        "operationId": "AnalyzeImage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "zh"
            ]
          },
          {
            "name": "visualFeatures",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Visual Feature Options",
            "description": "A string indicating what visual feature types to return. Multiple values should be comma-separated.",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "",
            "default": "Tags,Description,Categories"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchema",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyzeResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "AnalyzeImage",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#analyze-image-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/generateThumbnail": {
      "post": {
        "summary": "Generate Thumbnail",
        "description": "This operation generates a thumbnail image with the user-specified width and height.",
        "operationId": "GetThumbnail",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "width",
            "in": "query",
            "required": true,
            "type": "number",
            "x-ms-summary": "Thumbnail Width",
            "x-ms-test-value": 50,
            "default": 50,
            "description": "Width of the generated thumbnail - recommended is 50"
          },
          {
            "name": "height",
            "in": "query",
            "required": true,
            "type": "number",
            "x-ms-summary": "Thumbnail Height",
            "x-ms-test-value": 50,
            "default": 50,
            "description": "Height of the generated thumbnail - recommended is 50"
          },
          {
            "name": "smartCropping",
            "in": "query",
            "x-ms-summary": "Smart Cropping",
            "description": "Boolean flag for enabling smart cropping",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchema",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Thumbnail",
              "description": "Generated thumbnail image"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "GetThumbnail",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#generate-thumbnail-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/describe": {
      "post": {
        "summary": "Describe Image",
        "description": "This operation generates a description of an image in human readable language with complete sentences.",
        "operationId": "DescribeImage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchema",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DescribeImage",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/describeImageContent": {
      "post": {
        "summary": "Describe Image Content",
        "description": "This operation generates a description of image content in human readable language with complete sentences.",
        "operationId": "DescribeImageContent",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "description": "Source of the image reference in body.",
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "Image Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DescribeImageContent",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image-content-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v1.0/describeImageURL": {
      "post": {
        "summary": "Describe Image URL",
        "description": "This operation generates a description of an image URL in human readable language with complete sentences.",
        "operationId": "DescribeImageURL",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "ImageURL",
            "in": "body",
            "description": "Source of the image reference by URL",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageContentObject"
            },
            "x-ms-summary": "Image URL"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DescribeImageURL",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image-url-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/vision/v2.0/models": {
      "get": {
        "summary": "List domain specific models",
        "description": "List domain specific models.",
        "operationId": "ListModelsV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListModelsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListModels",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#list-domain-specific-models"
        }
      }
    },
    "/{connectionId}/subdomain": {
      "get": {
        "summary": "Get the subdomain of the connection",
        "description": "Get the subdomain of the connection",
        "operationId": "GetSubdomain",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubdomainList"
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#get-the-subdomain-of-the-connection"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/models": {
      "get": {
        "summary": "List domain specific models (V3)",
        "description": "List domain specific models.",
        "operationId": "ListModelsV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "x-ms-url-encoding": "double",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListModelsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListModels",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#list-domain-specific-models-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/imageSchema": {
      "get": {
        "summary": "Get Request Body Parameters",
        "description": "Return the schema for the request body format desired.",
        "operationId": "GetImageSchemaV2",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Schema of the request body",
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetImageSchema",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#get-request-body-parameters"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/models/{model}/analyze": {
      "post": {
        "summary": "Recognize Domain Specific Content (V3)",
        "description": "Recognize celebrities or landmarks in an image.",
        "operationId": "RecognizeDomainSpecificContentV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "name": "model",
            "in": "path",
            "type": "string",
            "enum": [
              "celebrities",
              "landmarks"
            ],
            "required": true,
            "x-ms-summary": "Domain Model",
            "description": "Supported domain-specific model to recognize in image.",
            "x-ms-test-value": "Landmarks"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DomainModelResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "RecognizeDomainSpecificContent",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#recognize-domain-specific-content-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/models/{model}/analyze": {
      "post": {
        "summary": "Recognize Domain Specific Content",
        "description": "Recognize celebrities or landmarks in an image.",
        "operationId": "RecognizeDomainSpecificContentV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "model",
            "in": "path",
            "type": "string",
            "enum": [
              "celebrities",
              "landmarks"
            ],
            "required": true,
            "x-ms-summary": "Domain Model",
            "description": "Supported domain-specific model to recognize in image.",
            "x-ms-test-value": "Landmarks"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DomainModelResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "RecognizeDomainSpecificContent",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#recognize-domain-specific-content"
        }
      }
    },
    "/{connectionId}/vision/v2.0/tag": {
      "post": {
        "summary": "Tag Image",
        "description": "Generates a list of words, or tags, that are relevant to the content of the supplied image.",
        "operationId": "TagImageV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TagResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "TagImage",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#tag-image"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/tag": {
      "post": {
        "summary": "Tag Image (V3)",
        "description": "Generates a list of words, or tags, that are relevant to the content of the supplied image.",
        "operationId": "TagImageV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TagResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "TagImage",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#tag-image-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/ocr": {
      "post": {
        "summary": "Optical Character Recognition (OCR) to JSON",
        "description": "Optical Character Recognition (OCR) detects text in an image and extracts the recognized characters into a machine-usable JSON stream.",
        "operationId": "OCRV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language code of the text to be detected in the image.",
            "x-ms-test-value": "unk",
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "unk"
          },
          {
            "name": "detectOrientation",
            "in": "query",
            "x-ms-summary": "Detect Orientation",
            "x-ms-visibility": "internal",
            "description": "he BCP-47 language code of the text to be detected in the image.",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OCRJsonResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OCR",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#optical-character-recognition-(ocr)-to-json"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/ocr": {
      "post": {
        "summary": "Optical Character Recognition (OCR) to JSON (V3)",
        "description": "Optical Character Recognition (OCR) detects text in an image and extracts the recognized characters into a machine-usable JSON stream.",
        "operationId": "OCRV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language code of the text to be detected in the image.",
            "x-ms-test-value": "unk",
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "unk"
          },
          {
            "name": "detectOrientation",
            "in": "query",
            "x-ms-summary": "Detect Orientation",
            "x-ms-visibility": "internal",
            "description": "he BCP-47 language code of the text to be detected in the image.",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OCRJsonResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OCR",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#optical-character-recognition-(ocr)-to-json-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/ocrtext": {
      "post": {
        "summary": "Optical Character Recognition (OCR) to Text",
        "description": "Optical Character Recognition (OCR) detects text in an image and extracts the recognized characters into a text file.",
        "operationId": "OCRTextV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language code of the text to be detected in the image.",
            "x-ms-test-value": "unk",
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "unk"
          },
          {
            "name": "detectOrientation",
            "in": "query",
            "x-ms-summary": "Detect Orientation",
            "x-ms-visibility": "internal",
            "description": "he BCP-47 language code of the text to be detected in the image.",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OCRTextResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OCRText",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#optical-character-recognition-(ocr)-to-text"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/ocrtext": {
      "post": {
        "summary": "Optical Character Recognition (OCR) to Text (V3)",
        "description": "Optical Character Recognition (OCR) detects text in an image and extracts the recognized characters into a text file.",
        "operationId": "OCRTextV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language code of the text to be detected in the image.",
            "x-ms-test-value": "unk",
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "unk"
          },
          {
            "name": "detectOrientation",
            "in": "query",
            "x-ms-summary": "Detect Orientation",
            "x-ms-visibility": "internal",
            "description": "he BCP-47 language code of the text to be detected in the image.",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OCRTextResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OCRText",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#optical-character-recognition-(ocr)-to-text-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/analyze": {
      "post": {
        "summary": "Analyze Image",
        "description": "This operation extracts a rich set of visual features based on the image content.",
        "operationId": "AnalyzeImageV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "ja",
              "pt",
              "zh"
            ]
          },
          {
            "name": "visualFeatures",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Visual Feature Options",
            "description": "A string indicating what visual feature types to return. Multiple values should be comma-separated.",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "",
            "default": "Tags,Description,Categories"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyzeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AnalyzeImage",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#analyze-image"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/analyze": {
      "post": {
        "summary": "Analyze Image (V3)",
        "description": "This operation extracts a rich set of visual features based on the image content.",
        "operationId": "AnalyzeImageV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "ja",
              "pt",
              "zh"
            ]
          },
          {
            "name": "visualFeatures",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Visual Feature Options",
            "description": "A string indicating what visual feature types to return. Multiple values should be comma-separated.",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "",
            "default": "Tags,Description,Categories"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AnalyzeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "AnalyzeImage",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#analyze-image-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/generateThumbnail": {
      "post": {
        "summary": "Generate Thumbnail",
        "description": "This operation generates a thumbnail image with the user-specified width and height.",
        "operationId": "GetThumbnailV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "width",
            "in": "query",
            "required": true,
            "type": "number",
            "x-ms-summary": "Thumbnail Width",
            "x-ms-test-value": 50,
            "default": 50,
            "description": "Width of the generated thumbnail - recommended is 50"
          },
          {
            "name": "height",
            "in": "query",
            "required": true,
            "type": "number",
            "x-ms-summary": "Thumbnail Height",
            "x-ms-test-value": 50,
            "default": 50,
            "description": "Height of the generated thumbnail - recommended is 50"
          },
          {
            "name": "smartCropping",
            "in": "query",
            "x-ms-summary": "Smart Cropping",
            "description": "Boolean flag for enabling smart cropping",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Thumbnail",
              "description": "Generated thumbnail image"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetThumbnail",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#generate-thumbnail"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/generateThumbnail": {
      "post": {
        "summary": "Generate Thumbnail (V3)",
        "description": "This operation generates a thumbnail image with the user-specified width and height.",
        "operationId": "GetThumbnailV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "name": "width",
            "in": "query",
            "required": true,
            "type": "number",
            "x-ms-summary": "Thumbnail Width",
            "x-ms-test-value": 50,
            "default": 50,
            "description": "Width of the generated thumbnail - recommended is 50"
          },
          {
            "name": "height",
            "in": "query",
            "required": true,
            "type": "number",
            "x-ms-summary": "Thumbnail Height",
            "x-ms-test-value": 50,
            "default": 50,
            "description": "Height of the generated thumbnail - recommended is 50"
          },
          {
            "name": "smartCropping",
            "in": "query",
            "x-ms-summary": "Smart Cropping",
            "description": "Boolean flag for enabling smart cropping",
            "x-ms-test-value": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Thumbnail",
              "description": "Generated thumbnail image"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "GetThumbnail",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#generate-thumbnail-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/describe": {
      "post": {
        "summary": "Describe Image",
        "description": "This operation generates a description of an image in human readable language with complete sentences.",
        "operationId": "DescribeImageV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "ja",
              "pt",
              "zh"
            ]
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DescribeImage",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/describe": {
      "post": {
        "summary": "Describe Image (V3)",
        "description": "This operation generates a description of an image in human readable language with complete sentences.",
        "operationId": "DescribeImageV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "ja",
              "pt",
              "zh"
            ]
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DescribeImage",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/describeImageContent": {
      "post": {
        "summary": "Describe Image Content",
        "description": "This operation generates a description of image content in human readable language with complete sentences.",
        "operationId": "DescribeImageContentV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "ja",
              "pt",
              "zh"
            ]
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "description": "Source of the image reference in body.",
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "Image Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DescribeImageContent",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image-content"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/describeImageContent": {
      "post": {
        "summary": "Describe Image Content (V3)",
        "description": "This operation generates a description of image content in human readable language with complete sentences.",
        "operationId": "DescribeImageContentV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "ja",
              "pt",
              "zh"
            ]
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "description": "Source of the image reference in body.",
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "Image Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DescribeImageContent",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image-content-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/describeImageURL": {
      "post": {
        "summary": "Describe Image URL",
        "description": "This operation generates a description of an image URL in human readable language with complete sentences.",
        "operationId": "DescribeImageURLV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "ja",
              "pt",
              "zh"
            ]
          },
          {
            "name": "ImageURL",
            "in": "body",
            "description": "Source of the image reference by URL",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageContentObject"
            },
            "x-ms-summary": "Image URL"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DescribeImageURL",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image-url"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/describeImageURL": {
      "post": {
        "summary": "Describe Image URL (V3)",
        "description": "This operation generates a description of an image URL in human readable language with complete sentences.",
        "operationId": "DescribeImageURLV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "name": "maxCandidates",
            "in": "query",
            "x-ms-summary": "Max Candidates",
            "description": "Maximum number of candidate descriptions to be returned.",
            "x-ms-test-value": 1,
            "type": "number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The service will return recognition results in specified language.",
            "x-ms-test-value": "en",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "en",
              "ja",
              "pt",
              "zh"
            ]
          },
          {
            "name": "ImageURL",
            "in": "body",
            "description": "Source of the image reference by URL",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImageContentObject"
            },
            "x-ms-summary": "Image URL"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DescribeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DescribeImageURL",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#describe-image-url-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/detect": {
      "post": {
        "summary": "Detect Objects",
        "description": "Generates a list of deteced objects in the supplied image.",
        "operationId": "DetectObjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DetectResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#detect-objects"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/detect": {
      "post": {
        "summary": "Detect Objects (V3)",
        "description": "Generates a list of deteced objects in the supplied image.",
        "operationId": "DetectObjectsV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DetectResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#detect-objects-(v3)"
        }
      }
    },
    "/{connectionId}/vision/v2.0/areaOfInterest": {
      "post": {
        "summary": "Get Area of Interest",
        "description": "Returns a bounding box around the most important area of the image.",
        "operationId": "GetAreaOfInterest",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AreaOfInterestResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#get-area-of-interest"
        }
      }
    },
    "/{connectionId}/v3/subdomain/{subdomainName}/vision/v2.0/areaOfInterest": {
      "post": {
        "summary": "Get Area of Interest (V3)",
        "description": "Returns a bounding box around the most important area of the image.",
        "operationId": "GetAreaOfInterestV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/ImageFormatParameter"
          },
          {
            "name": "Image",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetImageSchemaV2",
                "parameters": {
                  "format": {
                    "parameter": "format"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-test-value": {
                "url": "https://dficons.blob.core.windows.net/dogfoodicons/PowerApps_120x120.png"
              }
            },
            "x-ms-summary": "Image"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AreaOfInterestResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision/#get-area-of-interest-(v3)"
        }
      }
    }
  },
  "definitions": {
    "SubdomainList": {
      "description": "List of subdomain names",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of subdomain names",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subdomain"
          }
        }
      }
    },
    "Subdomain": {
      "description": "Subdomain",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The subdomain of the connection.",
          "type": "string",
          "x-ms-summary": "The Subdomain name"
        },
        "DisplayName": {
          "description": "The display name of the subdomain.",
          "type": "string",
          "x-ms-summary": "Subdomain display name"
        }
      }
    },
    "ListModelsResponse": {
      "type": "object",
      "properties": {
        "models": {
          "description": "Models.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ModelResponse"
          },
          "x-ms-summary": "Models",
          "x-ms-visibility": "internal"
        }
      }
    },
    "ImageContentObject": {
      "type": "object",
      "properties": {
        "url": {
          "description": "Source of image reference by URL.",
          "type": "string",
          "format": "url",
          "x-ms-summary": "Image URL"
        }
      }
    },
    "ModelResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name.",
          "type": "string",
          "x-ms-summary": "Model name",
          "x-ms-visibility": "internal"
        },
        "categories": {
          "description": "Categories.",
          "type": "array",
          "items": {
            "description": "Category",
            "type": "string",
            "x-ms-summary": "Category",
            "x-ms-visibility": "internal"
          },
          "x-ms-summary": "Model categories",
          "x-ms-visibility": "internal"
        }
      }
    },
    "DomainModelResponse": {
      "type": "object",
      "properties": {
        "result": {
          "description": "Computer Vision Result",
          "type": "object",
          "properties": {
            "celebrities": {
              "description": "Recognized celebrities in image",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "confidence": {
                    "format": "float",
                    "description": "Confidence score that image is of celebrity",
                    "type": "number",
                    "x-ms-summary": "Celebrity Confidence"
                  },
                  "name": {
                    "description": "Name of the recognized celebrity",
                    "type": "string",
                    "x-ms-summary": "Celebrity Name"
                  }
                }
              }
            },
            "landmarks": {
              "description": "Recognized landmarks in image",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "confidence": {
                    "format": "float",
                    "description": "Confidence score that image is of landmark",
                    "type": "number",
                    "x-ms-summary": "Landmark Confidence"
                  },
                  "name": {
                    "description": "Name of the identified landmark",
                    "type": "string",
                    "x-ms-summary": "Landmark Name"
                  }
                }
              }
            }
          }
        }
      }
    },
    "TagResponse": {
      "type": "object",
      "properties": {
        "tags": {
          "description": "Set of tags returned from the picture analysis.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "confidence": {
                "format": "float",
                "description": "Confidence score of the identified tag.",
                "type": "number",
                "x-ms-summary": "Tag Confidence Score"
              },
              "name": {
                "description": "Name of the tag identified.",
                "type": "string",
                "x-ms-summary": "Tag Name"
              }
            }
          }
        }
      }
    },
    "DetectResponse": {
      "type": "object",
      "properties": {
        "objects": {
          "description": "Set of objects returned from the picture analysis.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "rectangle": {
                "type": "object",
                "description": "Bounding box around the object",
                "x-ms-summary": "Bounding box",
                "properties": {}
              },
              "confidence": {
                "format": "float",
                "description": "Confidence score of the identified object.",
                "type": "number",
                "x-ms-summary": "Object confidence score"
              },
              "object": {
                "description": "Name of the object identified.",
                "type": "string",
                "x-ms-summary": "Object name"
              }
            }
          }
        }
      }
    },
    "AreaOfInterestResponse": {
      "type": "object",
      "properties": {
        "areaOfInterest": {
          "type": "object",
          "description": "Bounding box",
          "properties": {}
        }
      }
    },
    "OCRJsonResponse": {
      "type": "object",
      "properties": {
        "language": {
          "description": "Detected language of the image text.",
          "type": "string",
          "x-ms-summary": "Text Language"
        },
        "regions": {
          "description": "Text regions returned.",
          "x-ms-summary": "Regions Array",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {},
            "x-ms-visibility": "advanced"
          },
          "x-ms-visibility": "important"
        }
      },
      "x-ms-summary": "JSON Response"
    },
    "OCRTextResponse": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "x-ms-summary": "Detected Text",
          "description": "Text detected in the image analyzed",
          "x-ms-visibility": "important"
        }
      }
    },
    "AnalyzeResponse": {
      "type": "object",
      "properties": {
        "categories": {
          "description": "Categories identified from the image",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Name of the category identified from the image",
                "type": "string",
                "x-ms-summary": "Category Name"
              },
              "score": {
                "format": "float",
                "description": "Confidence Score for the image category",
                "type": "number",
                "x-ms-summary": "Category Confidence Score"
              }
            }
          },
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "Properties to describe the image analyzed",
          "type": "object",
          "properties": {
            "captions": {
              "description": "List of captions generated from the image",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "confidence": {
                    "format": "float",
                    "description": "Confidence score of the image caption",
                    "type": "number",
                    "x-ms-summary": "Caption Confidence Score",
                    "x-ms-visibility": "advanced"
                  },
                  "text": {
                    "description": "Text caption generated from the image",
                    "type": "string",
                    "x-ms-summary": "Caption Text"
                  }
                }
              },
              "x-ms-summary": "Captions"
            },
            "tags": {
              "description": "Collection of tag names.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ms-summary": "Tag Names"
            }
          }
        },
        "tags": {
          "description": "Tags identified with confidence scores.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "confidence": {
                "format": "float",
                "description": "Confidence score for the identified tags.",
                "type": "number",
                "x-ms-summary": "Tag Confidence Score",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Name of the tag identified.",
                "type": "string",
                "x-ms-summary": "Tag Name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DescribeResponse": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Properties to describe the image analyzed",
          "type": "object",
          "properties": {
            "captions": {
              "description": "List of captions generated from the image",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "confidence": {
                    "format": "float",
                    "description": "Confidence score of the image caption",
                    "type": "number",
                    "x-ms-summary": "Caption Confidence Score",
                    "x-ms-visibility": "advanced"
                  },
                  "text": {
                    "description": "Text caption generated from the image",
                    "type": "string",
                    "x-ms-summary": "Caption Text"
                  }
                }
              },
              "x-ms-summary": "Captions"
            },
            "tags": {
              "description": "Collection of tag names.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "x-ms-summary": "Tag Names"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "ImageFormatParameter": {
      "name": "format",
      "in": "query",
      "required": true,
      "x-ms-summary": "Image Source",
      "description": "Source of the image - either included or by reference url.",
      "type": "string",
      "x-ms-test-value": "Image URL",
      "enum": [
        "Image Content",
        "Image URL"
      ]
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListModelsV2"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/cognitive-services/computer-vision/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/cognitiveservicescomputervision"
  },
  "basePath": "/apim/cognitiveservicescomputervision"
}
