{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Slack",
    "description": "Slack is a team communication tool, that brings together all of your team communications in one place, instantly searchable and available wherever you go.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/slack",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/channels.join": {
      "get": {
        "summary": "Join a channel",
        "description": "Join a channel in slack.",
        "operationId": "JoinChannel",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the channel.",
            "required": false,
            "x-ms-test-value": "general",
            "x-ms-summary": "Name",
            "x-ms-dynamic-values": {
              "operationId": "ListChannels",
              "value-path": "name",
              "value-title": "name",
              "value-collection": "channels"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JoinChannel_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "JoinChannel",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#join-a-channel-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/conversations.join": {
      "post": {
        "summary": "Join a public channel",
        "description": "Join a public channel in slack.",
        "operationId": "JoinChannel_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "channel",
            "in": "query",
            "description": "The name of the channel.",
            "required": false,
            "x-ms-test-value": "general",
            "x-ms-summary": "Channel Name",
            "x-ms-dynamic-values": {
              "operationId": "ListChannels_V2",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "channels"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JoinChannel_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "JoinChannel",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#join-a-public-channel"
        }
      }
    },
    "/{connectionId}/channels.create": {
      "get": {
        "summary": "Create a channel",
        "description": "Create a channel in slack.",
        "operationId": "CreateChannel",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the new channel.",
            "x-ms-summary": "Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateChannel_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateChannel",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#create-a-channel-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/conversations.create": {
      "post": {
        "summary": "Create a channel",
        "description": "Create a channel in slack.",
        "operationId": "CreateChannel_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the new channel.",
            "x-ms-summary": "Name",
            "type": "string"
          },
          {
            "name": "is_private",
            "in": "query",
            "description": "Channel is private or not",
            "required": false,
            "x-ms-summary": "Is Private channel?",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateChannel_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateChannel",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#create-a-channel"
        }
      }
    },
    "/{connectionId}/dnd.setSnooze": {
      "get": {
        "summary": "Set do not disturb",
        "description": "Set the do not disturb status for the user.",
        "operationId": "SetDND",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "num_minutes",
            "in": "query",
            "description": "The number of minutes to set do not disturb.",
            "x-ms-summary": "Number of minutes",
            "x-ms-test-value": "5",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "snooze_enabled": {
                  "x-ms-summary": "Snooze Enabled",
                  "description": "Whether snooze is enabled.",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#set-do-not-disturb"
        }
      }
    },
    "/{connectionId}/groups.create": {
      "get": {
        "summary": "Create a group",
        "description": "Creates a group in slack.",
        "operationId": "CreateGroup",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the group.",
            "required": false,
            "x-ms-summary": "Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "group": {
                  "x-ms-summary": "Group",
                  "type": "object",
                  "properties": {
                    "id": {
                      "x-ms-summary": "Id",
                      "description": "The id of the group.",
                      "type": "string"
                    },
                    "name": {
                      "x-ms-summary": "Name",
                      "description": "The name of the group.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#create-a-group-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/chat.postMessage": {
      "post": {
        "tags": [
          "SlackConnector"
        ],
        "summary": "Post message",
        "description": "This operation is used to post a message to the specified channel.",
        "operationId": "PostMessage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Channel, private group, or IM channel to send message to. Can be a name(ex: #general) or an encoded ID.",
            "required": true,
            "x-ms-summary": "Channel Name",
            "x-ms-test-value": "general",
            "x-ms-dynamic-values": {
              "operationId": "ListChannels_V2",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "channels"
            },
            "type": "string"
          },
          {
            "name": "text",
            "in": "query",
            "description": "Body of the message to send (less than 4000 characters). For formatting options, see https://api.slack.com/docs/formatting.",
            "required": true,
            "x-ms-test-value": "Automated Test Mesage",
            "x-ms-summary": "Message Text",
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "Name of the bot.",
            "required": false,
            "x-ms-summary": "Bot Name",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "Test Bot",
            "type": "string"
          },
          {
            "name": "as_user",
            "in": "query",
            "description": "Pass true to post the message as the authenticated user, instead of as a bot.",
            "required": false,
            "x-ms-summary": "Post As User",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": false,
            "type": "boolean"
          },
          {
            "name": "parse",
            "in": "query",
            "description": "Change how messages are treated. For details, see https://api.slack.com/docs/formatting.",
            "required": false,
            "x-ms-summary": "Parse Mode",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "none",
            "type": "string",
            "enum": [
              "full",
              "none"
            ]
          },
          {
            "name": "link_names",
            "in": "query",
            "description": "Find and link channel names and usernames.",
            "required": false,
            "x-ms-summary": "Link Names",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "x-ms-test-value": 0,
            "format": "int32"
          },
          {
            "name": "unfurl_links",
            "in": "query",
            "description": "Pass true to enable unfurling of primarily text-based content.",
            "required": false,
            "x-ms-summary": "Unfurl Links",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": false,
            "type": "boolean"
          },
          {
            "name": "unfurl_media",
            "in": "query",
            "description": "Pass false to disable unfurling of media content.",
            "required": false,
            "x-ms-summary": "Unfurl Media",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": false,
            "type": "boolean"
          },
          {
            "name": "icon_url",
            "in": "query",
            "description": "URL to an image to use as an icon for this message.",
            "required": false,
            "x-ms-summary": "Icon Url",
            "x-ms-test-value": "http://lorempixel.com/48/48/",
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "icon_emoji",
            "in": "query",
            "description": "Emoji to use as an icon for this message.",
            "required": false,
            "x-ms-test-value": ":chart_with_upwards_trend:",
            "x-ms-summary": "Icon Emoji",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "x-ms-summary": "Sent Message",
              "description": "Details of the message posted to a Slack channel.",
              "type": "object",
              "properties": {
                "ok": {
                  "description": "Indicates if the operation was successful.",
                  "type": "boolean",
                  "title": "Success Result"
                },
                "channel": {
                  "description": "The channel which the message was posted to.",
                  "type": "string",
                  "title": "Channel"
                },
                "ts": {
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                  "type": "string",
                  "title": "Created Date-Time"
                },
                "message": {
                  "description": "A channel message.",
                  "x-ms-summary": "Message",
                  "type": "object",
                  "properties": {
                    "text": {
                      "description": "Body of the message.",
                      "type": "string",
                      "title": "Message Text"
                    },
                    "id": {
                      "description": "Unique identifier of the message.",
                      "type": "string",
                      "title": "Message Id"
                    },
                    "user": {
                      "description": "Unique identifier of the user who posted the message.",
                      "type": "string",
                      "title": "Creator Id"
                    },
                    "created": {
                      "description": "Unix timestamp for when the message is created.",
                      "type": "integer",
                      "format": "int64",
                      "title": "Created Time"
                    },
                    "is_user-deleted": {
                      "description": "Whether or not the message has been deleted.",
                      "type": "boolean",
                      "title": "Is Deleted"
                    }
                  }
                },
                "error": {
                  "description": "Details of the error messages, if any.",
                  "type": "string",
                  "title": "Error Messages"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "408": {
            "description": "Request Timeout"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "503": {
            "description": "Slack Service Unavailable"
          },
          "504": {
            "description": "Gateway Timeout"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "PostMessage",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#post-message-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/chat.postMessage": {
      "post": {
        "tags": [
          "SlackConnector"
        ],
        "summary": "Post message (V2)",
        "description": "This operation is used to post a message to the specified channel.",
        "operationId": "PostMessage_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "message",
            "in": "body",
            "description": "Message to post.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostMessageRequest"
            },
            "x-ms-summary": "Message to post"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PostMessageResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "408": {
            "description": "Request Timeout"
          },
          "429": {
            "description": "Too Many Requests"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "503": {
            "description": "Slack Service Unavailable"
          },
          "504": {
            "description": "Gateway Timeout"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "PostMessage",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#post-message-(v2)"
        }
      }
    },
    "/{connectionId}/channels.list": {
      "get": {
        "summary": "List channels",
        "description": "List the channels in slack.",
        "operationId": "ListChannels",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListChannels_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListChannels",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#list-channels-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/conversations.list": {
      "get": {
        "summary": "List public channels",
        "description": "List the public channels in slack.",
        "operationId": "ListChannels_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListChannels_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListChannels",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#list-public-channels"
        }
      }
    },
    "/{connectionId}/v3/conversations.list": {
      "get": {
        "summary": "List public channels (Pagination support)",
        "description": "List the public channels in slack.",
        "operationId": "ListChannels_V3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListChannels_ResponseV3"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListChannels",
          "revision": 3
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#list-public-channels-(pagination-support)"
        }
      }
    },
    "/{connectionId}/trigger/files.list": {
      "get": {
        "summary": "When a file is created",
        "description": "When a file is created",
        "operationId": "OnNewFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "channel",
            "in": "query",
            "required": true,
            "x-ms-summary": "Channel",
            "description": "The name of the channel.",
            "x-ms-dynamic-values": {
              "operationId": "ListChannels_V2",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "channels"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Id of the file",
                    "type": "string",
                    "x-ms-summary": "Id",
                    "x-ms-visibility": "advanced"
                  },
                  "created": {
                    "format": "int32",
                    "description": "When the file was created.",
                    "type": "integer",
                    "x-ms-summary": "Created",
                    "x-ms-visibility": "advanced"
                  },
                  "name": {
                    "description": "The name of the file.",
                    "type": "string",
                    "x-ms-summary": "Name",
                    "x-ms-visibility": "advanced"
                  },
                  "title": {
                    "description": "The title of the file.",
                    "type": "string",
                    "x-ms-summary": "Title",
                    "x-ms-visibility": "advanced"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/slack/#when-a-file-is-created"
        }
      }
    }
  },
  "definitions": {
    "Channel": {
      "x-ms-summary": "Channel",
      "description": "The Channel",
      "type": "object",
      "properties": {
        "id": {
          "x-ms-summary": "Id",
          "description": "The id of the channel.",
          "type": "string"
        },
        "name": {
          "x-ms-summary": "Name",
          "description": "The name of channel.",
          "type": "string"
        }
      }
    },
    "ListChannels_Response": {
      "type": "object",
      "properties": {
        "channels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Channel"
          }
        }
      }
    },
    "ListChannels_ResponseV3": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Channel"
          }
        },
        "@odata.nextLink": {
          "description": "Link to get next page of results",
          "type": "string",
          "x-ms-summary": "Next link",
          "x-ms-visibility": "internal"
        }
      }
    },
    "CreateChannel_Response": {
      "type": "object",
      "properties": {
        "channel": {
          "$ref": "#/definitions/Channel"
        }
      }
    },
    "JoinChannel_Response": {
      "type": "object",
      "properties": {
        "already_in_channel": {
          "x-ms-summary": "Already in channel",
          "description": "Whether the user is already in the channel or not.",
          "type": "boolean"
        },
        "channel": {
          "$ref": "#/definitions/Channel"
        }
      }
    },
    "JoinChannel_ResponseV2": {
      "type": "object",
      "properties": {
        "channel": {
          "$ref": "#/definitions/Channel"
        },
        "warning": {
          "x-ms-summary": "Warning",
          "description": "Whether the user is already in the channel or not.",
          "type": "string"
        }
      }
    },
    "PostMessageRequest": {
      "description": "Represents the values used to post a message.",
      "required": [
        "channel",
        "text"
      ],
      "type": "object",
      "properties": {
        "channel": {
          "description": "Channel, private group, or IM channel to send message to. Can be a name(ex: #general) or an encoded ID.",
          "type": "string",
          "x-ms-summary": "Channel Name",
          "x-ms-test-value": "general",
          "x-ms-dynamic-values": {
            "operationId": "ListChannels_V2",
            "value-path": "id",
            "value-title": "name",
            "value-collection": "channels"
          }
        },
        "text": {
          "description": "Body of the message to send. Slack API will truncate messages containing more than 40,000 characters. For formatting options, see https://api.slack.com/docs/formatting",
          "type": "string",
          "x-ms-test-value": "Automated Test Mesage",
          "x-ms-summary": "Message Text"
        },
        "username": {
          "description": "Name of the bot.",
          "type": "string",
          "x-ms-summary": "Bot Name",
          "x-ms-visibility": "advanced",
          "x-ms-test-value": "Test Bot"
        },
        "as_user": {
          "description": "Pass true to post the message as the authenticated user, instead of as a bot.",
          "type": "boolean",
          "x-ms-summary": "Post As User",
          "x-ms-visibility": "advanced",
          "x-ms-test-value": false
        },
        "parse": {
          "description": "Change how messages are treated. For details, see https://api.slack.com/docs/formatting",
          "type": "string",
          "x-ms-summary": "Parse Mode",
          "x-ms-visibility": "advanced",
          "x-ms-test-value": "none",
          "enum": [
            "full",
            "none"
          ]
        },
        "mrkdwn": {
          "description": "Slack markup parsing setting. Enabled by default.",
          "type": "boolean",
          "x-ms-summary": "Slack markup parsing",
          "x-ms-visibility": "advanced",
          "x-ms-test-value": false
        },
        "link_names": {
          "description": "Find and link channel names and usernames.",
          "type": "integer",
          "x-ms-summary": "Link Names",
          "x-ms-visibility": "advanced",
          "x-ms-test-value": 0,
          "format": "int32"
        },
        "unfurl_links": {
          "description": "Pass true to enable unfurling of primarily text-based content.",
          "type": "boolean",
          "x-ms-summary": "Unfurl Links",
          "x-ms-visibility": "advanced",
          "x-ms-test-value": false
        },
        "unfurl_media": {
          "description": "Pass false to disable unfurling of media content.",
          "type": "boolean",
          "x-ms-summary": "Unfurl Media",
          "x-ms-visibility": "advanced",
          "x-ms-test-value": false
        },
        "icon_url": {
          "description": "URL to an image to use as an icon for this message.",
          "type": "string",
          "x-ms-summary": "Icon Url",
          "x-ms-test-value": "http://lorempixel.com/48/48/",
          "x-ms-visibility": "advanced",
          "format": "uri"
        },
        "icon_emoji": {
          "description": "Emoji to use as an icon for this message.",
          "type": "string",
          "x-ms-test-value": ":chart_with_upwards_trend:",
          "x-ms-summary": "Icon Emoji",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PostMessageResponse": {
      "description": "Details of the message posted to a Slack channel.",
      "type": "object",
      "properties": {
        "ok": {
          "description": "Indicates if the operation was successful.",
          "type": "boolean",
          "title": "Success Result"
        },
        "channel": {
          "description": "The channel which the message was posted to.",
          "type": "string",
          "title": "Channel"
        },
        "ts": {
          "description": "Unix timestamp for when the message was created.",
          "type": "string",
          "title": "Created Time"
        },
        "message": {
          "description": "A channel message.",
          "x-ms-summary": "Message",
          "type": "object",
          "properties": {
            "type": {
              "description": "Type of the message.",
              "type": "string",
              "title": "Message Type"
            },
            "text": {
              "description": "Body of the message.",
              "type": "string",
              "title": "Message Text"
            },
            "ts": {
              "description": "Unix timestamp for when the message was created.",
              "type": "string",
              "title": "Created Time"
            }
          }
        },
        "error": {
          "description": "Details of the error messages, if any.",
          "type": "string",
          "title": "Error Messages"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListChannels_V2"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://slack.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://slack.com/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/slack"
  }
}