{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Pivotal Tracker",
    "description": "Pivotal Tracker is purpose-built to make it easy for you to convert an idea into a set of stories that you can prioritize, assign, and manage through completion.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/create_story_trigger/services/v5/projects/{projectId}/stories": {
      "get": {
        "summary": "When a new story is created",
        "description": "Triggers when a new story is added to the given project.",
        "operationId": "TrigStoryCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Liststories_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new story.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pivotaltracker/#when-a-new-story-is-created"
        }
      }
    },
    "/{connectionId}/complete_story_trigger/services/v5/projects/{projectId}/stories": {
      "get": {
        "summary": "When a story is completed",
        "description": "Triggers when an existing story is completed in the given project.",
        "operationId": "TrigStoryCompleted",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "name": "with_state",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "finished"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Liststories_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a story.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pivotaltracker/#when-a-story-is-completed"
        }
      }
    },
    "/{connectionId}/update_story_trigger/services/v5/projects/{projectId}/stories": {
      "get": {
        "summary": "When a story is updated",
        "description": "Triggers when a story is created or the details of an existing story are updated in the given project.",
        "operationId": "TrigStoryUpdated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Liststories_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a story.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pivotaltracker/#when-a-story-is-updated"
        }
      }
    },
    "/{connectionId}/services/v5/projects/{projectId}/stories": {
      "post": {
        "summary": "Create a story",
        "description": "This operation is used to create a new story.",
        "operationId": "CreateStory",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "advanced"
                },
                "story_type": {
                  "description": "Pick a story type.",
                  "type": "string",
                  "x-ms-summary": "Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "feature",
                    "bug",
                    "chore",
                    "release"
                  ]
                },
                "current_state": {
                  "description": "Pick a completion state.",
                  "type": "string",
                  "x-ms-summary": "State",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "accepted",
                    "delivered",
                    "finished",
                    "started",
                    "rejected",
                    "planned",
                    "unstarted",
                    "unscheduled"
                  ]
                },
                "estimate": {
                  "description": "Point value of the story.",
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Points",
                  "x-ms-visibility": "advanced"
                },
                "accepted_at": {
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                  "type": "string",
                  "x-ms-summary": "Acceptance Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "deadline": {
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                  "type": "string",
                  "x-ms-summary": "Due Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "requested_by_id": {
                  "description": "User id of the person who requested the story.",
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Requestor Id",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test story",
                "description": "description",
                "story_type": "feature",
                "current_state": "accepted",
                "estimate": 3,
                "accepted_at": "2017-01-27T22:18:39Z",
                "requested_by_id": 2294159
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Story_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pivotaltracker/#create-a-story"
        }
      }
    },
    "/{connectionId}/services/v5/projects": {
      "get": {
        "summary": "List projects",
        "description": "List all projects for the current user.",
        "operationId": "ListProjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Listprojects_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pivotaltracker/#list-projects"
        }
      }
    },
    "/{connectionId}/services/v5/projects/{projectId}/stories/{storyId}": {
      "get": {
        "summary": "Get a story",
        "description": "This operation retrieves all information about a story, given its id.",
        "operationId": "GetStory",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "$ref": "#/parameters/storyId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Story_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pivotaltracker/#get-a-story"
        }
      },
      "put": {
        "summary": "Update a story",
        "description": "This operation is used to update the details of a story, given its id.",
        "operationId": "UpdateStory",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "$ref": "#/parameters/storyId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Title",
                  "x-ms-visibility": "advanced"
                },
                "description": {
                  "type": "string",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "advanced"
                },
                "story_type": {
                  "description": "Pick the story type.",
                  "type": "string",
                  "x-ms-summary": "Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "feature",
                    "bug",
                    "chore",
                    "release"
                  ]
                },
                "current_state": {
                  "description": "Pick the completion state.",
                  "type": "string",
                  "x-ms-summary": "State",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "accepted",
                    "delivered",
                    "finished",
                    "started",
                    "rejected",
                    "planned",
                    "unstarted",
                    "unscheduled"
                  ]
                },
                "estimate": {
                  "description": "Point value of the story.",
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Points",
                  "x-ms-visibility": "advanced"
                },
                "accepted_at": {
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                  "type": "string",
                  "x-ms-summary": "Acceptance Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "deadline": {
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                  "type": "string",
                  "x-ms-summary": "Due Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "requested_by_id": {
                  "description": "User id of the person who requested the story.",
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Requestor Id",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "name": "test story",
                "description": "new description",
                "story_type": "feature",
                "current_state": "accepted",
                "estimate": 3,
                "accepted_at": "2017-01-27T22:18:39Z",
                "requested_by_id": 2294159
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Story_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pivotaltracker/#update-a-story"
        }
      },
      "delete": {
        "summary": "Delete a story",
        "description": "Deletes the specified story.",
        "operationId": "DeleteStory",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "$ref": "#/parameters/storyId__in_path"
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pivotaltracker/#delete-a-story"
        }
      }
    }
  },
  "definitions": {
    "Listprojects_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "account_id": {
            "format": "int32",
            "type": "integer",
            "x-ms-summary": "Account Id",
            "x-ms-visibility": "important"
          },
          "created_at": {
            "format": "date-time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
            "type": "string",
            "x-ms-summary": "Created Date/Time",
            "x-ms-visibility": "advanced"
          },
          "current_iteration_number": {
            "format": "int32",
            "type": "integer",
            "x-ms-summary": "Current Iteration Number",
            "x-ms-visibility": "advanced"
          },
          "enable_following": {
            "description": "Allow users to follow stories and epics.",
            "type": "boolean",
            "x-ms-summary": "Enable Following",
            "x-ms-visibility": "advanced"
          },
          "enable_incoming_emails": {
            "description": "Allow incoming email responses and convert them to comments.",
            "type": "boolean",
            "x-ms-summary": "Enable Incoming Emails",
            "x-ms-visibility": "advanced"
          },
          "enable_tasks": {
            "description": "Allow individual tasks to be created and managed within each story in the project.",
            "type": "boolean",
            "x-ms-summary": "Enable Tasks",
            "x-ms-visibility": "advanced"
          },
          "id": {
            "format": "int32",
            "type": "integer",
            "x-ms-summary": "Project Id",
            "x-ms-visibility": "important"
          },
          "initial_velocity": {
            "format": "int32",
            "type": "integer",
            "x-ms-summary": "Initial Velocity",
            "x-ms-visibility": "advanced"
          },
          "iteration_length": {
            "format": "int32",
            "description": "The number of weeks in an iteration.",
            "type": "integer",
            "x-ms-summary": "Iteration Length",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "type": "string",
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important"
          },
          "point_scale": {
            "type": "string",
            "x-ms-summary": "Point Scale",
            "x-ms-visibility": "advanced"
          },
          "project_type": {
            "type": "string",
            "x-ms-summary": "Project Type",
            "x-ms-visibility": "important"
          },
          "public": {
            "type": "boolean",
            "x-ms-summary": "Is Public",
            "x-ms-visibility": "advanced"
          },
          "start_time": {
            "format": "date-time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
            "type": "string",
            "x-ms-summary": "Start Date/Time",
            "x-ms-visibility": "advanced"
          },
          "updated_at": {
            "format": "date-time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
            "type": "string",
            "x-ms-summary": "Update Date/Time",
            "x-ms-visibility": "advanced"
          },
          "velocity_averaged_over": {
            "format": "int32",
            "description": "The number of iterations that should be used when averaging the number of points of Done stories in order to compute the project's velocity.",
            "type": "integer",
            "x-ms-summary": "Velocity Averaged Over",
            "x-ms-visibility": "advanced"
          },
          "version": {
            "format": "int32",
            "type": "integer",
            "x-ms-summary": "Version",
            "x-ms-visibility": "advanced"
          },
          "week_start_day": {
            "description": "The day in the week the project's iterations are to start on.",
            "type": "string",
            "x-ms-summary": "Week Start Day",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "Liststories_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Story_Response"
      }
    },
    "Story_Response": {
      "type": "object",
      "properties": {
        "accepted_at": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Acceptance Date-Time",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "current_state": {
          "description": "Story's state of completion.",
          "type": "string",
          "x-ms-summary": "State",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "In-depth explanation of the story requirements.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "estimate": {
          "format": "int32",
          "description": "Point value of the story (feature story type only).",
          "type": "integer",
          "x-ms-summary": "Points",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "format": "int32",
          "description": "The Id of the story.",
          "type": "integer",
          "x-ms-summary": "Story Id",
          "x-ms-visibility": "advanced"
        },
        "labels": {
          "description": "Story labels.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "The Id of the label.",
                "type": "integer",
                "x-ms-summary": "Label Id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "The name of the label.",
                "type": "string",
                "x-ms-summary": "Label Name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Labels",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "Story name.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "owner_ids": {
          "type": "array",
          "items": {
            "description": "Id of the owner.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Owner Id"
          },
          "x-ms-visibility": "advanced"
        },
        "project_id": {
          "format": "int32",
          "description": "The Id of the project.",
          "type": "integer",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        },
        "requested_by_id": {
          "format": "int32",
          "description": "The id of the person who requested the story.",
          "type": "integer",
          "x-ms-summary": "Requestor Id",
          "x-ms-visibility": "advanced"
        },
        "story_type": {
          "description": "Type of story.",
          "type": "string",
          "x-ms-summary": "Story Type",
          "x-ms-visibility": "important"
        },
        "updated_at": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "url": {
          "description": "The URL of the story.",
          "type": "string",
          "x-ms-summary": "URL",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "parameters": {
    "projectId__in_path": {
      "name": "projectId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Project Id",
      "description": "Pick a project.",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "ListProjects",
        "value-path": "id",
        "value-title": "name"
      },
      "type": "integer",
      "x-ms-test-value": "1961663"
    },
    "storyId__in_path": {
      "name": "storyId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Story Id",
      "description": "The id of the story",
      "x-ms-test-value": "139489675",
      "type": "string"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pivotaltracker.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pivotal.io/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/pivotaltracker"
  },
  "basePath": "/apim/pivotaltracker"
}