{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "TDox",
    "description": "TDox Connector for customer, products and list items",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "url": "https://www.mytdox.com/en-us/contact-us/"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/tdox",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/Products/Import/": {
      "post": {
        "summary": "Product Import",
        "description": "Product Import",
        "operationId": "ProductImport",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "default": {
                  "UiProduct": "",
                  "CdErpCode": "",
                  "CdBarcode": "",
                  "DsDescription": "",
                  "FlPrice": 0,
                  "FlDiscount1": 0,
                  "FlDiscount2": 0,
                  "FlDiscount3": 0,
                  "FlDiscount4": 0,
                  "FlDiscount5": 0,
                  "FlQty": 0,
                  "TxUm": "",
                  "FlVat": 0,
                  "UiProductRevision": "",
                  "AdditionalData": ""
                },
                "type": "object",
                "properties": {
                  "UiProduct": {
                    "description": "UiProduct",
                    "type": "string"
                  },
                  "CdErpCode": {
                    "description": "CdErpCode",
                    "type": "string"
                  },
                  "CdBarcode": {
                    "description": "CdBarcode",
                    "type": "string"
                  },
                  "DsDescription": {
                    "description": "DsDescription",
                    "type": "string"
                  },
                  "FlPrice": {
                    "format": "int32",
                    "description": "FlPrice",
                    "type": "integer"
                  },
                  "FlDiscount1": {
                    "format": "int32",
                    "description": "FlDiscount1",
                    "type": "integer"
                  },
                  "FlDiscount2": {
                    "format": "int32",
                    "description": "FlDiscount2",
                    "type": "integer"
                  },
                  "FlDiscount3": {
                    "format": "int32",
                    "description": "FlDiscount3",
                    "type": "integer"
                  },
                  "FlDiscount4": {
                    "format": "int32",
                    "description": "FlDiscount4",
                    "type": "integer"
                  },
                  "FlDiscount5": {
                    "format": "int32",
                    "description": "FlDiscount5",
                    "type": "integer"
                  },
                  "FlQty": {
                    "format": "int32",
                    "description": "FlQty",
                    "type": "integer"
                  },
                  "TxUm": {
                    "description": "TxUm",
                    "type": "string"
                  },
                  "FlVat": {
                    "format": "int32",
                    "description": "FlVat",
                    "type": "integer"
                  },
                  "UiProductRevision": {
                    "description": "UiProductRevision",
                    "type": "string"
                  },
                  "AdditionalData": {
                    "description": "AdditionalData",
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tdox/#product-import"
        }
      }
    },
    "/{connectionId}/api/Customers/Import/": {
      "post": {
        "summary": "Customer Import",
        "description": "Customer Import",
        "operationId": "CustomerImport",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "default": {
                  "Id": "",
                  "IsPerson": false,
                  "BusinessName": "",
                  "FirstName": "",
                  "LastName": "",
                  "ErpCode": "",
                  "Phone": "",
                  "Mobile": "",
                  "Email": "",
                  "TaxCode": "",
                  "VatCode": "",
                  "Address": "",
                  "Zip": "",
                  "City": "",
                  "Province": "",
                  "Country": "",
                  "Fax": "",
                  "WebSite": "",
                  "Latitude": 0,
                  "Longitude": 0,
                  "AdditionalData": ""
                },
                "type": "object",
                "properties": {
                  "Id": {
                    "description": "Id",
                    "type": "string"
                  },
                  "IsPerson": {
                    "description": "IsPerson",
                    "type": "boolean"
                  },
                  "BusinessName": {
                    "description": "BusinessName",
                    "type": "string"
                  },
                  "FirstName": {
                    "description": "FirstName",
                    "type": "string"
                  },
                  "LastName": {
                    "description": "LastName",
                    "type": "string"
                  },
                  "ErpCode": {
                    "description": "ErpCode",
                    "type": "string"
                  },
                  "Phone": {
                    "description": "Phone",
                    "type": "string"
                  },
                  "Mobile": {
                    "description": "Mobile",
                    "type": "string"
                  },
                  "Email": {
                    "description": "Email",
                    "type": "string"
                  },
                  "TaxCode": {
                    "description": "TaxCode",
                    "type": "string"
                  },
                  "VatCode": {
                    "description": "VatCode",
                    "type": "string"
                  },
                  "Address": {
                    "description": "Address",
                    "type": "string"
                  },
                  "Zip": {
                    "description": "Zip",
                    "type": "string"
                  },
                  "City": {
                    "description": "City",
                    "type": "string"
                  },
                  "Province": {
                    "description": "Province",
                    "type": "string"
                  },
                  "Country": {
                    "description": "Country",
                    "type": "string"
                  },
                  "Fax": {
                    "description": "Fax",
                    "type": "string"
                  },
                  "WebSite": {
                    "description": "WebSite",
                    "type": "string"
                  },
                  "Latitude": {
                    "format": "int32",
                    "description": "Latitude",
                    "type": "integer"
                  },
                  "Longitude": {
                    "format": "int32",
                    "description": "Longitude",
                    "type": "integer"
                  },
                  "AdditionalData": {
                    "description": "AdditionalData",
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tdox/#customer-import"
        }
      }
    },
    "/{connectionId}/api/ListItems/Import/": {
      "post": {
        "summary": "List Import",
        "description": "List Import",
        "operationId": "ListImport",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "default": {
                  "ListCode": "",
                  "ListDescription": "",
                  "Items": [
                    {
                      "ItemCode": "",
                      "ItemDescription": ""
                    },
                    {
                      "ItemCode": "",
                      "ItemDescription": ""
                    }
                  ]
                },
                "type": "object",
                "properties": {
                  "ListCode": {
                    "description": "ListCode",
                    "type": "string"
                  },
                  "ListDescription": {
                    "description": "ListDescription",
                    "type": "string"
                  },
                  "Items": {
                    "description": "Items",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "ItemCode": {
                          "description": "ItemCode",
                          "type": "string"
                        },
                        "ItemDescription": {
                          "description": "ItemDescription",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tdox/#list-import"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "TDox-Center-Auth-Token",
      "in": "header"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mytdox.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mytdox.com/en-us/privacy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/tdox"
  }
}
