{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "LinkedIn V2",
    "description": "Amplify your content's reach by easily sharing on LinkedIn. The connector targets LinkedIn API version 2.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/linkedinv2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/v2/people/shares": {
      "post": {
        "summary": "Share an article V2",
        "description": "Post an article using a URL to the content you wish to share. LinkedIn analyzes the included URL and automatically identifies the title, description, image, etc. You can overwrite the auto-identified content by providing the title, description and image directly.",
        "operationId": "ShareUpdateV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareArticle_RequestV2"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Share_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/linkedinv2/#share-an-article-v2"
        }
      }
    },
    "/{connectionId}/v2/companies/shares": {
      "post": {
        "summary": "Share a company update V2",
        "description": "Post a company update (article) using a URL to the content you wish to share. LinkedIn analyzes the included URL and automatically identifies the title, description, image, etc. You can overwrite the auto-identified content by providing the title, description and image directly.",
        "operationId": "ShareCompanyUpdateV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShareCompanyUpdate_RequestV2"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Share_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/linkedinv2/#share-a-company-update-v2"
        }
      }
    },
    "/{connectionId}/v2/organizationalEntityAcls": {
      "get": {
        "summary": "List my companies V2",
        "description": "This operation returns a list of all companies that you are an administrator of.",
        "operationId": "ListCompaniesV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCompanies_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/linkedinv2/#list-my-companies-v2"
        }
      }
    }
  },
  "definitions": {
    "ShareArticle_RequestV2": {
      "type": "object",
      "required": [
        "content",
        "distribution"
      ],
      "properties": {
        "content": {
          "type": "object",
          "required": [
            "content-url"
          ],
          "properties": {
            "title": {
              "description": "The title of the content being shared.",
              "type": "string",
              "x-ms-summary": "Title",
              "x-ms-visibility": "advanced"
            },
            "description": {
              "description": "The description of the content being shared.",
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            },
            "content-url": {
              "description": "A fully qualified URL for the content being shared.",
              "type": "string",
              "maxLength": 8192,
              "x-ms-summary": "Content URL",
              "x-ms-visibility": "important"
            },
            "content-image-url": {
              "description": "A fully qualified URL to a thumbnail image to accompany the shared content.",
              "type": "string",
              "maxLength": 8192,
              "x-ms-summary": "Image URL",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "distribution": {
          "type": "object",
          "required": [
            "linkedInDistributionTarget"
          ],
          "properties": {
            "linkedInDistributionTarget": {
              "type": "object",
              "required": [
                "visibleToGuest"
              ],
              "properties": {
                "visibleToGuest": {
                  "description": "Whether the share is visible to guests or not (if not, only your connections will see it).",
                  "type": "boolean",
                  "x-ms-summary": "Visible to guest",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "subject": {
          "description": "A subject of the share.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "type": "object",
          "required": [
            "text"
          ],
          "properties": {
            "text": {
              "description": "A text of the share.",
              "type": "string",
              "x-ms-summary": "Text",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "text": {
          "text": "Check out developer.linkedin.com!"
        },
        "content": {
          "title": "LinkedIn Developers Resources",
          "description": "Leverage LinkedIn's APIs to maximize engagement",
          "content-url": "https://developer.linkedin.com",
          "content-image-url": "https://example.com/logo.png"
        },
        "distribution": {
          "visibleToGuest": "true"
        }
      }
    },
    "ShareCompanyUpdate_RequestV2": {
      "type": "object",
      "required": [
        "owner",
        "content",
        "distribution"
      ],
      "properties": {
        "owner": {
          "description": "The company, on behalf of which you want to post the share.",
          "type": "string",
          "x-ms-summary": "Company",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListCompaniesV2",
            "value-path": "companyUrn",
            "value-title": "companyName"
          },
          "x-ms-test-value": "urn:li:organization:6177438"
        },
        "content": {
          "type": "object",
          "required": [
            "content-url"
          ],
          "properties": {
            "title": {
              "description": "The title of the content being shared.",
              "type": "string",
              "x-ms-summary": "Title",
              "x-ms-visibility": "advanced"
            },
            "description": {
              "description": "The description of the content being shared.",
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            },
            "content-url": {
              "description": "A fully qualified URL for the content being shared.",
              "type": "string",
              "maxLength": 8192,
              "x-ms-summary": "Content URL"
            },
            "content-image-url": {
              "description": "A fully qualified URL to a thumbnail image to accompany the shared content.",
              "type": "string",
              "maxLength": 8192,
              "x-ms-summary": "Image URL",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "distribution": {
          "type": "object",
          "required": [
            "linkedInDistributionTarget"
          ],
          "properties": {
            "linkedInDistributionTarget": {
              "type": "object",
              "required": [
                "visibleToGuest"
              ],
              "properties": {
                "visibleToGuest": {
                  "description": "Whether the share is visible to guests or not.",
                  "type": "boolean",
                  "x-ms-summary": "Visible to guest",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "subject": {
          "description": "A subject of the share.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "type": "object",
          "required": [
            "text"
          ],
          "properties": {
            "text": {
              "description": "A text of the share.",
              "type": "string",
              "x-ms-summary": "Text",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "text": {
          "text": "Check out developer.linkedin.com!"
        },
        "content": {
          "title": "LinkedIn Developers Resources",
          "description": "Leverage LinkedIn's APIs to maximize engagement",
          "content-url": "https://developer.linkedin.com",
          "content-image-url": "https://example.com/logo.png"
        },
        "distribution": {
          "visibleToGuest": "true"
        }
      }
    },
    "Share_ResponseV2": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique ID for the share.",
          "type": "string",
          "x-ms-summary": "Update ID"
        }
      }
    },
    "ListCompanies_ResponseV2": {
      "description": "Companies",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "companyUrn": {
            "description": "Unique URN of the company.",
            "type": "string",
            "x-ms-summary": "Company Urn"
          },
          "companyName": {
            "description": "Name of the company.",
            "type": "string",
            "x-ms-summary": "Company Name"
          }
        }
      },
      "x-ms-summary": "Companies"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "OAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.linkedin.com/oauth/v2/authorization",
      "tokenUrl": "https://www.linkedin.com/oauth/v2/accessToken"
    }
  },
  "security": [
    {}
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.linkedin.com/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/linkedinv2"
  }
}
