{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Azure Database for MySQL",
    "description": "Azure Database for MySQL Flexible Server provides a fully managed database service for app development and deployment with built-in capabilities, such as high availability, at no extra cost. Connect to Azure database for MySQL Flexible Server databases to read and write data.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/azuremysql",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "AzureMySqlDataSetsMetadata"
        ],
        "summary": "Get datasets metadata",
        "description": "Get datasets metadata",
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-datasets-metadata"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/testconnection": {
      "get": {
        "tags": [
          "AzureMySqlDiagnostic"
        ],
        "summary": "Invokes a test connection",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#invokes-a-test-connection"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/$metadata.json/datasets/{server},{database}/procedures/{procedure}": {
      "get": {
        "tags": [
          "AzureMySqlProcedureMetadata"
        ],
        "summary": "Get metadata of a Procedure",
        "description": "Get metadata of a Procedure.",
        "operationId": "GetProcedureMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server.",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name.",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "procedure",
            "in": "path",
            "description": "Procedure name.",
            "required": true,
            "x-ms-summary": "Procedure name",
            "x-ms-dynamic-values": {
              "operationId": "GetStoredProcedures",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcedureMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-metadata-of-a-procedure"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{server},{database}/tables/{table}": {
      "get": {
        "tags": [
          "AzureMySqlTableMetadata"
        ],
        "summary": "Get table metadata",
        "description": "This operation gets metadata for a table.",
        "operationId": "GetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server.",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name.",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-table-metadata"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{server},{database}/tables/{table}/postitem": {
      "get": {
        "tags": [
          "AzureMySqlTableMetadata"
        ],
        "summary": "Get table metadata for Post operation",
        "description": "Get table metadata for Post operation",
        "operationId": "GetMetadataForPostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server.",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name.",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-table-metadata-for-post-operation"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{server},{database}/tables/{table}/patchitem": {
      "get": {
        "tags": [
          "AzureMySqlTableMetadata"
        ],
        "summary": "Get table metadata for Patch operation",
        "description": "Get table metadata for Patch operation",
        "operationId": "GetMetadataForPatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server.",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name.",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-table-metadata-for-patch-operation"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{server},{database}/query/mysql": {
      "post": {
        "tags": [
          "AzureMySqlPassThroughNativeQueryMetadata"
        ],
        "summary": "Get pass-through native MySQL query metadata",
        "description": "Retrieves metadata for a pass-through native MySQL query.",
        "operationId": "GetNativeQueryMetadata",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server.",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name.",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "query",
            "in": "body",
            "description": "query text.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AzureMySqlPassThroughNativeQueryBody"
            },
            "x-ms-summary": "query text"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PassThroughNativeQueryMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-pass-through-native-mysql-query-metadata"
        }
      }
    },
    "/{connectionId}/databases": {
      "get": {
        "tags": [
          "AzureMySqlDataSet"
        ],
        "summary": "List the databases",
        "description": "List the databases",
        "operationId": "GetDatabases",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "query",
            "description": "Server name",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DatabasesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#list-the-databases"
        }
      }
    },
    "/{connectionId}/datasets": {
      "get": {
        "tags": [
          "AzureMySqlDataSet"
        ],
        "summary": "Gets datasets",
        "description": "This operation gets all datasets available to the connection.",
        "operationId": "GetDataSets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#gets-datasets"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/servers": {
      "get": {
        "tags": [
          "AzureMySqlDataSet"
        ],
        "summary": "List the servers",
        "description": "List the servers",
        "operationId": "GetServers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ODataServersList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#list-the-servers"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/{server},{database}/procedures": {
      "get": {
        "tags": [
          "AzureMySqlStoredProcedure"
        ],
        "summary": "Get Stored Procedures",
        "description": "This operation gets stored procedures for a database.",
        "operationId": "GetStoredProcedures",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProceduresList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-stored-procedures"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/procedures/{procedure}": {
      "post": {
        "tags": [
          "AzureMySqlStoredProcedure"
        ],
        "summary": "Execute Stored Procedure",
        "description": "This operation runs a stored procedure.",
        "operationId": "ExecuteProcedure",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "procedure",
            "in": "path",
            "description": "Name of stored procedure",
            "required": true,
            "x-ms-summary": "Procedure name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetStoredProcedures",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Input parameters to the stored procedure",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetProcedureMetadata",
                "parameters": {
                  "server": {
                    "parameter": "server"
                  },
                  "database": {
                    "parameter": "database"
                  },
                  "procedure": {
                    "parameter": "procedure"
                  }
                },
                "value-path": "Schema/InputParameters"
              }
            },
            "x-ms-summary": "Parameters list"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/ProcedureResult"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetProcedureMetadata",
                "parameters": {
                  "server": {
                    "parameter": "server"
                  },
                  "database": {
                    "parameter": "database"
                  },
                  "procedure": {
                    "parameter": "procedure"
                  }
                },
                "value-path": "schema/procedureresultschema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#execute-stored-procedure"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/tables": {
      "get": {
        "tags": [
          "AzureMySqlTable"
        ],
        "summary": "Get tables",
        "description": "This operation gets tables from a database.",
        "operationId": "GetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-tables"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/tablesfor/getonnewitems": {
      "get": {
        "tags": [
          "AzureMySqlTable"
        ],
        "summary": "Get tables for On Item Created",
        "description": "Get tables for On Item Created",
        "operationId": "GetTablesForGetOnNewItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-tables-for-on-item-created"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/tablesfor/getonupdateditems": {
      "get": {
        "tags": [
          "AzureMySqlTable"
        ],
        "summary": "Get tables for On Item Updated",
        "description": "Get tables for On Item Updated",
        "operationId": "GetTablesForGetOnUpdatedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-tables-for-on-item-updated"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/tables/{table}/items": {
      "get": {
        "tags": [
          "AzureMySqlTableData"
        ],
        "summary": "Get rows",
        "description": "This operation gets rows from a table.",
        "operationId": "GetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of MySQL table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512).",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-rows"
        }
      },
      "post": {
        "tags": [
          "AzureMySqlTableData"
        ],
        "summary": "Insert row",
        "description": "This operation inserts a new row into a table.",
        "operationId": "PostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to insert into the specified table",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPostItem",
                "parameters": {
                  "server": {
                    "parameter": "server"
                  },
                  "database": {
                    "parameter": "database"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPostItem",
                "parameters": {
                  "server": {
                    "parameter": "server"
                  },
                  "database": {
                    "parameter": "database"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#insert-row"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "AzureMySqlTableData"
        ],
        "summary": "Get row",
        "description": "This operation gets a row from a table.",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of MySQL table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to retrieve",
            "required": true,
            "x-ms-summary": "Row id",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "server": {
                    "parameter": "server"
                  },
                  "database": {
                    "parameter": "database"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#get-row"
        }
      },
      "delete": {
        "tags": [
          "AzureMySqlTableData"
        ],
        "summary": "Delete row",
        "description": "This operation deletes a row from a table.",
        "operationId": "DeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to delete",
            "required": true,
            "x-ms-summary": "Row id",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#delete-row"
        }
      },
      "patch": {
        "tags": [
          "AzureMySqlTableData"
        ],
        "summary": "Update row",
        "description": "This operation updates an existing row in a table.",
        "operationId": "PatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to update",
            "required": true,
            "x-ms-summary": "Row id",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row with updated values",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPatchItem",
                "parameters": {
                  "server": {
                    "parameter": "server"
                  },
                  "database": {
                    "parameter": "database"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPatchItem",
                "parameters": {
                  "server": {
                    "parameter": "server"
                  },
                  "database": {
                    "parameter": "database"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#update-row"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/tables/{table}/onnewitems": {
      "get": {
        "tags": [
          "AzureMySqlTableDataTrigger"
        ],
        "summary": "When an item is created",
        "description": "Triggers a flow when an item is created in MySQL",
        "operationId": "GetOnNewItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of MySQL table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForGetOnNewItems",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "x-ms-operation-context",
            "in": "header",
            "description": "Special header to enable operation simulation",
            "required": false,
            "x-ms-summary": "x-ms-operation-context",
            "x-ms-visibility": "internal",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-operation-context": {
          "simulate": {
            "operationId": "GetItems",
            "parameters": {
              "$top": 1
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#when-an-item-is-created"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/tables/{table}/onupdateditems": {
      "get": {
        "tags": [
          "AzureMySqlTableDataTrigger"
        ],
        "summary": "When an item is modified",
        "description": "Triggers a flow when an item is modified/inserted in MySQL",
        "operationId": "GetOnUpdatedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of MySQL table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForGetOnUpdatedItems",
              "parameters": {
                "server": {
                  "parameter": "server"
                },
                "database": {
                  "parameter": "database"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#when-an-item-is-modified"
        }
      }
    },
    "/{connectionId}/datasets/{server},{database}/query/mysql": {
      "post": {
        "tags": [
          "AzureMySqlPassThroughNativeQuery"
        ],
        "summary": "Execute a MySQL query",
        "description": "Execute a MySQL query",
        "operationId": "ExecutePassThroughNativeQuery",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "server",
            "in": "path",
            "description": "Name of MySQL server",
            "required": true,
            "x-ms-summary": "Server name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetServers",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "database",
            "in": "path",
            "description": "Database name",
            "required": true,
            "x-ms-summary": "Database name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDatabases",
              "parameters": {
                "server": {
                  "parameter": "server"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "query",
            "in": "body",
            "description": "query body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMySqlPassThroughNativeQueryBody"
            },
            "x-ms-summary": "Query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/AzureMySqlNativeQueryResult"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetNativeQueryMetadata",
                "parameters": {
                  "server": {
                    "parameter": "server"
                  },
                  "database": {
                    "parameter": "database"
                  },
                  "formalParameters": {
                    "parameter": "formalParameters"
                  },
                  "query": {
                    "parameter": "query"
                  }
                },
                "value-path": "schema/queryresults"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetNativeQueryMetadata",
                "parameters": {
                  "server": {
                    "parameterReference": "server"
                  },
                  "database": {
                    "parameterReference": "database"
                  },
                  "query/formalParameters": {
                    "parameterReference": "query/formalParameters"
                  },
                  "query/query": {
                    "parameterReference": "query/query"
                  }
                },
                "itemValuePath": "schema/queryresults"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuremysql/#execute-a-mysql-query"
        }
      }
    }
  },
  "definitions": {
    "DataSetsMetadata": {
      "description": "Dataset metadata",
      "type": "object",
      "properties": {
        "tabular": {
          "$ref": "#/definitions/TabularDataSetsMetadata"
        },
        "blob": {
          "$ref": "#/definitions/BlobDataSetsMetadata"
        }
      }
    },
    "AzureMySqlPassThroughNativeQueryBody": {
      "description": "Input body to execute Pass-through Native Query",
      "type": "object",
      "properties": {
        "actualParameters": {
          "description": "Actual parameters",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "x-ms-dynamic-schema": {
            "operationId": "GetNativeQueryMetadata",
            "parameters": {
              "server": {
                "parameter": "server"
              },
              "database": {
                "parameter": "database"
              },
              "formalParameters": {
                "parameter": "formalParameters"
              }
            },
            "value-path": "schema/actualparameters"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetNativeQueryMetadata",
            "parameters": {
              "server": {
                "parameterReference": "server"
              },
              "database": {
                "parameterReference": "database"
              },
              "query/formalParameters": {
                "parameterReference": "query/formalParameters"
              }
            },
            "itemValuePath": "schema/actualparameters"
          }
        },
        "query": {
          "description": "Query Text",
          "type": "string"
        },
        "formalParameters": {
          "description": "Formal Parameters",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-editor": "dictionary"
        }
      }
    },
    "AzureMySqlNativeQueryResult": {
      "description": "All results of the query",
      "type": "object",
      "properties": {
        "ResultSets": {
          "description": "Collection of all result sets",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              }
            }
          },
          "readOnly": true
        },
        "OutputParameters": {
          "description": "Output parameter values",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "readOnly": true
        }
      },
      "additionalProperties": {
        "$ref": "#/definitions/Object"
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetNativeQueryMetadata",
        "parameters": {
          "server": {
            "parameter": "server"
          },
          "database": {
            "parameter": "database"
          },
          "query": {
            "parameter": "query"
          }
        },
        "value-path": "schema/queryresults"
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetNativeQueryMetadata",
        "parameters": {
          "server": {
            "parameterReference": "server"
          },
          "database": {
            "parameterReference": "database"
          },
          "query/query": {
            "parameterReference": "query/query"
          }
        },
        "itemValuePath": "schema/queryresults"
      }
    },
    "PassThroughNativeQueryMetadata": {
      "description": "Represents the metadata for a pass-through native query",
      "type": "object",
      "properties": {
        "name": {
          "description": "Query name",
          "type": "string"
        },
        "title": {
          "description": "Query title",
          "type": "string"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "TabularDataSetsMetadata": {
      "description": "Tabular dataset metadata",
      "type": "object",
      "properties": {
        "source": {
          "description": "Dataset source",
          "type": "string"
        },
        "displayName": {
          "description": "Dataset display name",
          "type": "string"
        },
        "urlEncoding": {
          "description": "Dataset url encoding",
          "type": "string"
        },
        "tableDisplayName": {
          "description": "Table display name",
          "type": "string"
        },
        "tablePluralName": {
          "description": "Table plural display name",
          "type": "string"
        }
      }
    },
    "BlobDataSetsMetadata": {
      "description": "Blob dataset metadata",
      "type": "object",
      "properties": {
        "source": {
          "description": "Blob dataset source",
          "type": "string"
        },
        "displayName": {
          "description": "Blob dataset display name",
          "type": "string"
        },
        "urlEncoding": {
          "description": "Blob dataset url encoding",
          "type": "string"
        }
      }
    },
    "TableMetadata": {
      "description": "Table metadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "Table name",
          "type": "string"
        },
        "title": {
          "description": "Table title",
          "type": "string"
        },
        "x-ms-permission": {
          "description": "Table permission",
          "type": "string"
        },
        "x-ms-capabilities": {
          "$ref": "#/definitions/TableCapabilitiesMetadata"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        },
        "referencedEntities": {
          "$ref": "#/definitions/Object"
        },
        "webUrl": {
          "description": "Url link",
          "type": "string"
        }
      }
    },
    "TableCapabilitiesMetadata": {
      "description": "Metadata for a table (capabilities)",
      "type": "object",
      "properties": {
        "sortRestrictions": {
          "$ref": "#/definitions/TableSortRestrictionsMetadata"
        },
        "filterRestrictions": {
          "$ref": "#/definitions/TableFilterRestrictionsMetadata"
        },
        "selectRestrictions": {
          "$ref": "#/definitions/TableSelectRestrictionsMetadata"
        },
        "isOnlyServerPagable": {
          "description": "Server paging restrictions",
          "type": "boolean"
        },
        "filterFunctionSupport": {
          "description": "List of supported filter capabilities",
          "type": "array",
          "items": {
            "enum": [
              "eq",
              "ne",
              "gt",
              "ge",
              "lt",
              "le",
              "and",
              "or",
              "contains",
              "startswith",
              "endswith",
              "length",
              "indexof",
              "replace",
              "substring",
              "substringof",
              "tolower",
              "toupper",
              "trim",
              "concat",
              "year",
              "month",
              "day",
              "hour",
              "minute",
              "second",
              "date",
              "time",
              "now",
              "totaloffsetminutes",
              "totalseconds",
              "floor",
              "ceiling",
              "round",
              "not",
              "negate",
              "add",
              "sub",
              "mul",
              "div",
              "mod",
              "sum",
              "min",
              "max",
              "average",
              "countdistinct",
              "null"
            ],
            "type": "string"
          }
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "TableSortRestrictionsMetadata": {
      "description": "Metadata for a table (sort restrictions)",
      "type": "object",
      "properties": {
        "sortable": {
          "description": "Indicates whether this table has sortable columns",
          "type": "boolean"
        },
        "unsortableProperties": {
          "description": "List of unsortable properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ascendingOnlyProperties": {
          "description": "List of properties which support ascending order only",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableFilterRestrictionsMetadata": {
      "description": "Metadata for a table (filter restrictions)",
      "type": "object",
      "properties": {
        "filterable": {
          "description": "Indicates whether this table has filterable columns",
          "type": "boolean"
        },
        "nonFilterableProperties": {
          "description": "List of non filterable properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredProperties": {
          "description": "List of required properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableSelectRestrictionsMetadata": {
      "description": "Metadata for a table (select restrictions)",
      "type": "object",
      "properties": {
        "selectable": {
          "description": "Indicates whether this table has selectable columns",
          "type": "boolean"
        }
      }
    },
    "Server": {
      "description": "Represents a server.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the server. The name is used at runtime.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the server.",
          "type": "string"
        },
        "DynamicProperties": {
          "description": "Additional server properties provided by the connector to the clients.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "readOnly": true
        },
        "databases": {
          "description": "Table items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          },
          "readOnly": true
        }
      }
    },
    "ODataServersList": {
      "description": "List of servers",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of servers",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Server"
          }
        }
      }
    },
    "Database": {
      "description": "Represents a database.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the database. The name is used at runtime.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the database.",
          "type": "string"
        },
        "DynamicProperties": {
          "description": "Additional database properties provided by the connector to the clients.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "readOnly": true
        },
        "tables": {
          "description": "Database items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          },
          "readOnly": true
        }
      }
    },
    "DatabasesList": {
      "description": "List of datasets",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of datasets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Database"
          }
        }
      }
    },
    "DataSetsList": {
      "description": "List of datasets",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of datasets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSet"
          }
        }
      }
    },
    "DataSet": {
      "description": "Dataset",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Dataset name",
          "type": "string"
        },
        "DisplayName": {
          "description": "Dataset display name",
          "type": "string"
        }
      }
    },
    "Procedure": {
      "description": "Procedure.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Procedure name.",
          "type": "string"
        },
        "DisplayName": {
          "description": "Procedure display name.",
          "type": "string"
        }
      }
    },
    "ProcedureMetadata": {
      "description": "Procedure metadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "Procedure name",
          "type": "string"
        },
        "title": {
          "description": "Procedure title",
          "type": "string"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "ProceduresList": {
      "description": "Represents a list of procedures.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Procedures.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Procedure"
          }
        }
      }
    },
    "ProcedureResult": {
      "description": "Result of a procedure execution.",
      "type": "object",
      "properties": {
        "OutputParameters": {
          "description": "Output parameter values. The schema is dynamic based on the procedure.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "readOnly": true
        },
        "ResultSets": {
          "description": "Result sets returned by a procedure. The schema is dynamic based on the procedure.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              }
            }
          },
          "readOnly": true
        }
      },
      "additionalProperties": {
        "$ref": "#/definitions/Object"
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetProcedureMetadata",
        "parameters": {
          "server": {
            "parameter": "server"
          },
          "database": {
            "parameter": "database"
          },
          "procedure": {
            "parameter": "procedure"
          }
        },
        "value-path": "schema/procedureresultschema"
      }
    },
    "Table": {
      "description": "Represents a table.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the table. The name is used at runtime.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the table.",
          "type": "string"
        }
      }
    },
    "Item": {
      "description": "Table item entity",
      "type": "object",
      "properties": {
        "dynamicProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          }
        }
      },
      "additionalProperties": {
        "$ref": "#/definitions/Object"
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetTable",
        "parameters": {
          "server": {
            "parameter": "server"
          },
          "database": {
            "parameter": "database"
          },
          "table": {
            "parameter": "table"
          }
        },
        "value-path": "Schema/Items"
      }
    },
    "TablesList": {
      "description": "Represents a list of tables.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Tables",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          }
        }
      }
    },
    "ItemsList": {
      "description": "List of Items",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://go.microsoft.com/fwlink/?linkid=2136898"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://go.microsoft.com/fwlink/?linkid=512132"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azuremysql"
  }
}
