{
  "swagger": "2.0",
  "info": {
    "title": "Dynamics 365 Commerce - Ratings and Reviews",
    "description": "Utilize Dynamics 365 Commerce Ratings and Reviews APIs to import new reviews, export existing reviews, and more!",
    "version": "1.0",
    "contact": {
      "name": "Dynamics 365 Commerce-Ratings and Reviews",
      "url": "https://dynamics.microsoft.com/en-us/support/",
      "email": "d365ratingreviewconn@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dynamics365ratingsre",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dynamics.microsoft.com/en-us/commerce/overview/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce;Business Management"
    }
  ],
  "paths": {
    "/{connectionId}/v2.0/reviews/product/{productId}/user": {
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SubmitReviewResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/productId"
          },
          {
            "$ref": "#/parameters/tenantId"
          },
          {
            "$ref": "#/parameters/channelId"
          },
          {
            "$ref": "#/parameters/market"
          },
          {
            "$ref": "#/parameters/locale"
          },
          {
            "$ref": "#/parameters/encodedUser"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitReviewRequestBody"
            }
          }
        ],
        "summary": "Submit User Review",
        "description": "Submits a user review to your RnR tenant.",
        "operationId": "SubmitReview",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamics365ratingsre/#submit-user-review"
        }
      }
    },
    "/{connectionId}/v2.0/ppe/reviews/product/{productId}/user": {
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SubmitReviewResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/productId"
          },
          {
            "$ref": "#/parameters/tenantId"
          },
          {
            "$ref": "#/parameters/channelId"
          },
          {
            "$ref": "#/parameters/market"
          },
          {
            "$ref": "#/parameters/locale"
          },
          {
            "$ref": "#/parameters/encodedUser"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitReviewRequestBody"
            }
          }
        ],
        "summary": "Submit User Review (PPE)",
        "description": "Submits a user review to your RnR tenant.",
        "operationId": "PPE_SubmitReview",
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamics365ratingsre/#submit-user-review-(ppe)"
        }
      }
    },
    "/{connectionId}/v2.0/int/reviews/product/{productId}/user": {
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SubmitReviewResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/productId"
          },
          {
            "$ref": "#/parameters/tenantId"
          },
          {
            "$ref": "#/parameters/channelId"
          },
          {
            "$ref": "#/parameters/market"
          },
          {
            "$ref": "#/parameters/locale"
          },
          {
            "$ref": "#/parameters/encodedUser"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitReviewRequestBody"
            }
          }
        ],
        "summary": "Submit User Review (INT)",
        "description": "Submits a user review to your RnR tenant.",
        "operationId": "INT_SubmitReview",
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamics365ratingsre/#submit-user-review-(int)"
        }
      }
    },
    "/{connectionId}/v2.0/export/reviews/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExportSuccessfulResponse"
            },
            "headers": {}
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/tenantId"
          }
        ],
        "summary": "Export All Reviews",
        "description": "Export all reviews as a downloadable SAS URL.",
        "operationId": "ExportReviews",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamics365ratingsre/#export-all-reviews"
        }
      }
    },
    "/{connectionId}/v2.0/ppe/export/reviews/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ExportSuccessfulResponse"
            },
            "headers": {}
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/tenantId"
          }
        ],
        "summary": "Export All Reviews (PPE)",
        "description": "Export all reviews as a downloadable SAS URL.",
        "operationId": "PPE_ExportReviews",
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamics365ratingsre/#export-all-reviews-(ppe)"
        }
      }
    },
    "/{connectionId}/v2.0/int/export/reviews/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ExportSuccessfulResponse"
            },
            "headers": {}
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/tenantId"
          }
        ],
        "summary": "Export All Reviews (INT)",
        "description": "Export all reviews as a downloadable SAS URL.",
        "operationId": "INT_ExportReviews",
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamics365ratingsre/#export-all-reviews-(int)"
        }
      }
    }
  },
  "definitions": {
    "SubmitReviewRequestBody": {
      "type": "object",
      "required": [
        "Rating",
        "Title",
        "ReviewText",
        "ProductName"
      ],
      "properties": {
        "Rating": {
          "type": "string",
          "description": "Specify the rating of the review as an integer."
        },
        "Title": {
          "type": "string",
          "description": "Specify the title of the review."
        },
        "ReviewText": {
          "type": "string",
          "description": "Specify the text body of the review."
        },
        "Sku": {
          "type": "string",
          "description": "Specify the SKU number of the reviewed product."
        },
        "ProductName": {
          "type": "string",
          "description": "Specify the name of the reviewed product"
        },
        "LegalEntity": {
          "type": "string",
          "description": "Specify the legal entity."
        },
        "ExtendedProperties": {
          "type": "object",
          "description": "Specify any additional review properties as key-value pairs. See documentation for JSON format."
        },
        "submittedDateTime": {
          "type": "string",
          "description": "Specify the submitted datetime of your review in UTC format (default is current UTC time)."
        }
      }
    },
    "SubmitReviewResponse": {
      "type": "string",
      "description": "The Review ID of the submitted review.",
      "title": "ReviewID"
    },
    "ExportSuccessfulResponse": {
      "type": "object",
      "properties": {
        "blobSasUrl": {
          "type": "string",
          "description": "The SAS URL generated from blob storage.",
          "title": "Blob SAS Url",
          "x-ms-visibility": "important"
        },
        "expires": {
          "type": "string",
          "description": "Date when SAS URL expires.",
          "title": "Date Expires"
        },
        "created": {
          "type": "string",
          "description": "Date when SAS URL was created.",
          "title": "Date Created"
        }
      }
    }
  },
  "parameters": {
    "productId": {
      "name": "productId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-url-encoding": "single",
      "description": "Specify the ID of product being reviewed.",
      "x-ms-summary": "Product ID",
      "x-ms-visibility": "important"
    },
    "tenantId": {
      "name": "tenantId",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Specify the ID of your RnR tenant.",
      "x-ms-summary": "RnR Tenant ID",
      "x-ms-visibility": "important"
    },
    "channelId": {
      "name": "channelId",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Specify the ID of the channel for this review.",
      "x-ms-summary": "Channel ID",
      "x-ms-visibility": "important"
    },
    "market": {
      "name": "market",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Specify the market associated with this review.",
      "x-ms-summary": "Market",
      "x-ms-visibility": "important"
    },
    "locale": {
      "name": "locale",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Specify the Locale associated with this review.",
      "x-ms-summary": "Locale",
      "x-ms-visibility": "important"
    },
    "encodedUser": {
      "name": "encodedUser",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Specify base64 encoded user info string associated with this review. See documentation for JSON block format containing the user name, email, and Id.",
      "x-ms-summary": "encodedUser",
      "x-ms-visibility": "important"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/dynamics365ratingsre"
  }
}
