{
  "swagger": "2.0",
  "info": {
    "title": "Tophhie Cloud",
    "description": "Seamless access to Tophhie Cloud APIs, including retrieve Entra ID tenant information and Entra ID identifier conversions and more to come. Tophhie Cloud APIs provide you with helpful ways to use and understand your cloud environments.\n\nFuture updates will include more useful cloud-orientated tools.",
    "version": "1.0",
    "contact": {
      "name": "Tophhie Cloud Support",
      "url": "https://support.tophhie.co.uk",
      "email": "help@tophhie.co.uk"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/tophhiecloud",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/tenantinfo": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tenantId": {
                  "type": "string",
                  "description": "ID of Entra Tenant",
                  "title": "Tenant ID"
                },
                "federationBrandName": {
                  "type": "string",
                  "description": "The ADFS/Federation Brand Name",
                  "title": "Federation Brand Name"
                },
                "tenantDisplayName": {
                  "type": "string",
                  "description": "Tenant's Display Name",
                  "title": "Tenant Display Name"
                },
                "defaultDomainName": {
                  "type": "string",
                  "description": "Default Tenant Domain Name",
                  "title": "Default Domain Name"
                },
                "bannerLogo": {
                  "type": "string",
                  "description": "Entra ID Tenant Branding Logo",
                  "title": "Banner Logo"
                },
                "tenantRegion": {
                  "type": "string",
                  "description": "Indicates which region the tenant is hosted in",
                  "title": "Tenant Region"
                },
                "desktopSsoEnabled": {
                  "type": "boolean",
                  "description": "Indicates whether the tenant has Desktop SSO enabled",
                  "title": "Desktop SSO Enabled"
                },
                "verifiedEmailSignUpDisallowed": {
                  "type": "boolean",
                  "description": "Indicates whether users with an email address on one of the tenant's domains is allowed to join the tenant, if they're not already",
                  "title": "Verified Email Sign Up Disallowed"
                },
                "tenantIsUnmanaged": {
                  "type": "boolean",
                  "description": "Indicates whether tenant is unmanaged",
                  "title": "Tenant Is Unmanaged"
                },
                "verifiedDomains": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of verified domains in the tenant",
                  "title": "Verified Domains"
                },
                "additionalDomains": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Array of additional domains",
                    "title": "Additional Domains"
                  },
                  "description": "additionalDomains"
                }
              }
            }
          }
        },
        "summary": "Fetch Entra ID Tenant Information",
        "description": "Fetches publicly available Entra ID Tenant Information (domainName takes priority over tenantID).",
        "operationId": "Tophhie-Cloud-TenantInfo",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenantID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The Entra ID Tenant ID",
            "x-ms-summary": "Tenant ID"
          },
          {
            "name": "domainName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A domain available within the tenant",
            "x-ms-summary": "Domain Name"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Tophhie-Cloud-TenantInfo",
              "x-ms-require-user-confirmation": false
            }
          ]
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tophhiecloud/#fetch-entra-id-tenant-information"
        }
      }
    },
    "/{connectionId}/entra/convertid/{Identifier}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "originalId": {
                  "type": "string",
                  "description": "The ID provided to the API for conversion",
                  "title": "Original ID"
                },
                "returnId": {
                  "type": "string",
                  "description": "The return converted ID",
                  "title": "Return ID"
                },
                "convertDirection": {
                  "type": "string",
                  "description": "Indicates in which direction the conversion took place",
                  "title": "Convert Direction"
                },
                "support": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Tophhie Cloud API Support Message",
                      "title": "Message"
                    },
                    "email": {
                      "type": "string",
                      "description": "Tophhie Cloud API Support Email",
                      "title": "Email"
                    }
                  },
                  "description": "support"
                }
              }
            }
          }
        },
        "summary": "Entra ID - ID Converter",
        "description": "Converts Object IDs to SIDs or SIDs to Object IDs",
        "operationId": "Tophhie-Cloud-EntraIDIDConverter",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Object ID or SID",
            "x-ms-summary": "Identifier"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Tophhie-Cloud-EntraIDIDConverter",
              "x-ms-require-user-confirmation": false
            }
          ]
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tophhiecloud/#entra-id---id-converter"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://blog.tophhie.cloud/tag/api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.tophhie.co.uk"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/tophhiecloud"
  }
}
