{
  "swagger": "2.0",
  "info": {
    "title": "Abstract Company Enrichment (Independent Publisher)",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_abstrcomp@gmail.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "description": "With Abstract's Company Enrichment API, you can get the company details of any domain, enriching existing data.",
    "version": "1.0"
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/abstractcompanyenric",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the company.",
                  "title": "Name"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain the company website is hosted on.",
                  "title": "Domain"
                },
                "year_founded": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year the company was founded.",
                  "title": "Year founded"
                },
                "industry": {
                  "type": "string",
                  "description": "The industry the company is operating in.",
                  "title": "Industry"
                },
                "employees_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The approximate number of employees of the company.",
                  "title": "Employees count"
                },
                "locality": {
                  "type": "string",
                  "description": "The city or region the company headquarter is based in.",
                  "title": "Locality"
                },
                "country": {
                  "type": "string",
                  "description": "The country the company is based in.",
                  "title": "Country"
                },
                "linkedin_url": {
                  "type": "string",
                  "description": "The linkedin URL of the company.",
                  "title": "Linkedin URL"
                }
              }
            }
          }
        },
        "summary": "Validate",
        "operationId": "Validate",
        "description": "Get data and enrichment on any domain or company.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The domain of the company you want to get data from.",
            "x-ms-summary": "Domain"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/abstractcompanyenric/#validate"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.abstractapi.com/company-enrichment"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abstractapi.com/legal/dpa"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Business Intelligence"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/abstractcompanyenric"
  }
}
