{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "GetMyInvoices",
    "description": "GetMyInvoices is a digital invoice management software that simplifies and speeds up preparatory accounting.\n The solution automatically retrieves invoices and other documents from thousands of sources – from online portals, email postboxes and cloud storages to scanned documents.\n Connect to GetMyInvoices you can automate various actions as soon as a new document is available in GetMyInvoices e.g. creating a row in Microsoft Excel, sending a message in Slack, generating a Trello card etc.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "GetMyInvoices",
      "url": "https://help.getmyinvoices.com/en/",
      "email": "support@getmyinvoices.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/getmyinvoices",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/accounts/v2/sendDocumentsToPowerAutomate": {
      "post": {
        "summary": "Get invoice document from GetMyInvoices",
        "description": "Get invoice document data one by one from GetMyInvoices.",
        "operationId": "GetInvoiceFromGetMyInvoices",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content type.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Accept.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "api_key": {
                  "type": "string",
                  "description": "api_key"
                }
              },
              "required": [
                "api_key"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "company_uid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Company Uid"
                      },
                      "company_name": {
                        "type": "string",
                        "description": "Company Name"
                      },
                      "document_type": {
                        "type": "string",
                        "description": "Document Type"
                      },
                      "document_number": {
                        "type": "string",
                        "description": "Document Number"
                      },
                      "creation_date": {
                        "type": "string",
                        "description": "Creation Date"
                      },
                      "document_date": {
                        "type": "string",
                        "description": "Document Date"
                      },
                      "document_due_date": {
                        "type": "string",
                        "description": "Document Due Date"
                      },
                      "document_payment_method": {
                        "type": "string",
                        "description": "Document Payment Method"
                      },
                      "payment_status": {
                        "type": "string",
                        "description": "Payment Status"
                      },
                      "net_amount": {
                        "type": "number",
                        "format": "float",
                        "description": "Net Amount"
                      },
                      "vat": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Vat"
                      },
                      "gross_amount": {
                        "type": "number",
                        "format": "float",
                        "description": "Gross Amount"
                      },
                      "currency": {
                        "type": "string",
                        "description": "Currency"
                      },
                      "is_archived": {
                        "type": "boolean",
                        "description": "Is Archived"
                      },
                      "is_ocr_completed": {
                        "type": "boolean",
                        "description": "Is Ocr Completed"
                      },
                      "tags": {
                        "type": "string",
                        "description": "Tags"
                      },
                      "note": {
                        "type": "string",
                        "description": "Note"
                      },
                      "source": {
                        "type": "string",
                        "description": "Source"
                      },
                      "source_user": {
                        "type": "string",
                        "description": "Source User"
                      },
                      "document_name": {
                        "type": "string",
                        "description": "Document Name"
                      },
                      "file_size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "File Size"
                      },
                      "file_content": {
                        "type": "string",
                        "description": "File Content"
                      },
                      "line_items": {
                        "type": "array",
                        "items": {},
                        "description": "Line Items"
                      },
                      "readable_text": {
                        "type": "string",
                        "description": "Readable Text"
                      }
                    }
                  },
                  "description": "records"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/getmyinvoices/#get-invoice-document-from-getmyinvoices"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.getmyinvoices.com/en/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.getmyinvoices.com/en/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Business Intelligence"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/getmyinvoices"
  }
}
