{
  "swagger": "2.0",
  "info": {
    "title": "SMSLink",
    "description": "SMSLink is a SMS provider that provides integrated services such as SMS Marketing, SMS Gateway and Mail to SMS.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "email": "contact@smslink.ro",
      "name": "SMSLink Support",
      "url": "https://www.smslink.ro"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/smslink",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/sms/gateway/integration/powerautomate.php": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "response_type": {
                  "type": "string",
                  "description": "response_type"
                },
                "response_id": {
                  "type": "string",
                  "description": "response_id"
                },
                "response_message": {
                  "type": "string",
                  "description": "response_message"
                }
              }
            }
          }
        },
        "summary": "SMSLink Send SMS",
        "description": "SMSLink Send SMS",
        "operationId": "SMSLinkSendSMS",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "to",
                  "title": "SMS Recipient"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "SMS Message Text"
                }
              },
              "required": [
                "message",
                "to"
              ]
            }
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/smslink/#smslink-send-sms"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "connection_id"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.smslink.ro"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.smslink.ro/legal/protectia-datelor/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/smslink"
  }
}
