{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Project Roadmap",
    "description": "Project Roadmap Connector",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/projectroadmap",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/{organization}/api/v1/portfolios({portfolioid})/portfolioLink": {
      "get": {
        "tags": [
          "GetPortfolioLink"
        ],
        "summary": "Get PortfolioLink",
        "description": "This operation is used to retrieve the PortfolioLink associated with a portfolio in a Roadmap. This object contains information about the external project that this portfolio is linked to.",
        "operationId": "GetPortfolioLink",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "portfolioid",
            "in": "path",
            "description": "Id of the Portfolio connected to an external project",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Portfolio Id",
            "type": "string",
            "format": "guid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PortfolioLink"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectroadmap/#get-portfoliolink"
        }
      },
      "patch": {
        "tags": [
          "UpdatePortfolioLink"
        ],
        "summary": "Update PortfolioLink",
        "description": "This operation is used to update the PortfolioLink associated with a portfolio in a Roadmap.",
        "operationId": "UpdatePortfolioLink",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "portfolioid",
            "in": "path",
            "description": "Id of the Portfolio connected to an external project",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Portfolio Id",
            "type": "string",
            "format": "guid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "PortfolioLink entity with values to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PortfolioLink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PortfolioLink"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectroadmap/#update-portfoliolink"
        }
      }
    },
    "/{connectionId}/{organization}/api/v1/portfolios({portfolioid})/roadmapItemLinks": {
      "get": {
        "tags": [
          "GetRoadmapItemLinksForPortfolio"
        ],
        "summary": "Get RoadmapItemLinks for a Portfolio",
        "description": "This operation is used to retrieve all the RoadmapItemLinks associated with a portfolio in a Roadmap. RoadmapItemLinks contain information about the external tasks that are imported in this portfolio.",
        "operationId": "GetRoadmapItemLinksForPortfolio",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "portfolioid",
            "in": "path",
            "description": "Id of the Portfolio connected to an external project",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Portfolio Id",
            "type": "string",
            "format": "guid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoadmapItemLinks"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectroadmap/#get-roadmapitemlinks-for-a-portfolio"
        }
      }
    },
    "/{connectionId}/{organization}/api/v1/portfolios({portfolioid})/roadmapItems({roadmapitemid})/roadmapItemLink": {
      "patch": {
        "tags": [
          "UpdateRoadmapItemLink"
        ],
        "summary": "Update RoadmapItemLink",
        "description": "This operation is used to update a RoadmapItemLink.",
        "operationId": "UpdateRoadmapItemLink",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "portfolioid",
            "in": "path",
            "description": "Id of the Portfolio connected to an external project",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Portfolio Id",
            "type": "string",
            "format": "guid"
          },
          {
            "name": "roadmapitemid",
            "in": "path",
            "description": "Id of the RoadmapItem parent of the roadmap item link to be updated",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "RoadmapItem Id",
            "type": "string",
            "format": "guid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "RoadmapItemLink entity with values to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoadmapItemLink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoadmapItemLink"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectroadmap/#update-roadmapitemlink"
        }
      }
    }
  },
  "definitions": {
    "PortfolioLink": {
      "description": "Object describing external project linkage information for a Portfolio",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the PortfolioLink",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "portfolioItemId": {
          "description": "Id of the portfolio item associated with this link",
          "type": "string",
          "format": "guid"
        },
        "externalProjectId": {
          "description": "Id of the project in the external tool",
          "type": "string"
        },
        "externalProjectName": {
          "description": "Name of the project in the external tool",
          "type": "string"
        },
        "externalUrl": {
          "description": "Url of the project in the external tool",
          "type": "string"
        },
        "refreshErrorCode": {
          "description": "Errorcode for refresh errors occuring during scheduled refresh",
          "type": "integer",
          "format": "int32"
        },
        "refreshError": {
          "description": "Error description occuring during scheduled refresh",
          "type": "string"
        },
        "refreshStartDate": {
          "description": "Latest refresh start time",
          "type": "string",
          "format": "date-time"
        },
        "refreshEndDate": {
          "description": "Latest refresh end time",
          "type": "string",
          "format": "date-time"
        },
        "refreshStatus": {
          "description": "Last refresh operation status",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RoadmapItemLink": {
      "description": "Object describing external task linkage for a single item under a portfolio.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the RoadmapItemLink",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "roadmapItemId": {
          "description": "Id of the parent roadmap item that this link is associated with",
          "type": "string"
        },
        "externalProjectId": {
          "description": "Id of the project in the external tool that is linked with the parent portfolio of this link",
          "type": "string"
        },
        "externalTaskId": {
          "description": "Id of the task in the external tool that is associated with this link",
          "type": "string"
        },
        "externalName": {
          "description": "Name of the task in the external tool",
          "type": "string"
        },
        "externalUrl": {
          "description": "Url of the task in the external tool",
          "type": "string"
        },
        "externalStartDate": {
          "description": "Start date of the task in the external tool",
          "type": "string",
          "format": "date-time"
        },
        "externalDueDate": {
          "description": "Due date of the task in the external tool",
          "type": "string",
          "format": "date-time"
        },
        "refreshErrorCode": {
          "description": "Errorcode for refresh errors occuring during scheduled refresh",
          "type": "integer",
          "format": "int32"
        },
        "refreshError": {
          "description": "Error description occuring during scheduled refresh",
          "type": "string"
        }
      }
    },
    "RoadmapItemLinks": {
      "description": "List of RoadmapItemLinks",
      "type": "object",
      "properties": {
        "value": {
          "description": "An array of RoadmapItemLinks",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoadmapItemLink"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "AAD": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/token",
      "scopes": {}
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/projectroadmap"
  }
}
