{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Microsoft Dataverse (legacy)",
    "description": "Provides access to the environment database in Microsoft Dataverse.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/commondataservice",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "CrmDataSetsMetadata"
        ],
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}/attachments": {
      "get": {
        "tags": [
          "CrmTableAttachments"
        ],
        "summary": "Retrieves all Notes (annotations) for the provided table Id",
        "description": "Retrieves all Notes (annotations) for the provided table Id.",
        "operationId": "GetItemAttachments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table for which to get Notes (annotations).",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the table row for which to get Notes (annotations).",
            "required": true,
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-all-notes-(annotations)-for-the-provided-table-id"
        }
      },
      "post": {
        "tags": [
          "CrmTableAttachments"
        ],
        "summary": "Creates Note (annotation) for specified table row",
        "description": "Creates Note (annotation) for specified table row.",
        "operationId": "CreateAttachment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table on which to create Note (annotation).",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the table row on which to create a Note (annotation).",
            "required": true,
            "x-ms-summary": "Id",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "displayName",
            "in": "query",
            "description": "Filename.",
            "required": true,
            "x-ms-summary": "File Name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file.",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#creates-note-(annotation)-for-specified-table-row"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}/attachments": {
      "get": {
        "tags": [
          "CrmTableAttachments"
        ],
        "summary": "Retrieves all Notes (annotations) for the provided table row Id",
        "description": "Retrieves all Notes (annotations) for the provided table row Id.",
        "operationId": "GetItemAttachments_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table for which to get Notes (annotations).",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the table row for which to get Notes (annotations).",
            "required": true,
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-all-notes-(annotations)-for-the-provided-table-row-id"
        }
      },
      "post": {
        "tags": [
          "CrmTableAttachments"
        ],
        "summary": "Creates Note (annotation) for specified table row",
        "description": "Creates Note (annotation) for specified table row.",
        "operationId": "CreateAttachment_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table on which to create Note (annotation).",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the table row on which to create a Note (annotation).",
            "required": true,
            "x-ms-summary": "Id",
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "displayName",
            "in": "query",
            "description": "Filename.",
            "required": true,
            "x-ms-summary": "File Name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file.",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#creates-note-(annotation)-for-specified-table-row"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}/attachments/{attachmentId}/$value": {
      "get": {
        "tags": [
          "CrmTableAttachments"
        ],
        "summary": "Retrieves file content for specified Note (annotation)",
        "description": "Retrieves file content for specified Note (annotation).",
        "operationId": "GetAttachmentContent",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table for which to get Note (annotation) content.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the table row for which to get Notes (annotations).",
            "required": true,
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Note (annotation) id.",
            "required": true,
            "x-ms-summary": "AttachmentId",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-file-content-for-specified-note-(annotation)"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}/attachments/{attachmentId}/$value": {
      "get": {
        "tags": [
          "CrmTableAttachments"
        ],
        "summary": "Retrieves file content for specified Note (annotation)",
        "description": "Retrieves file content for specified Note (annotation).",
        "operationId": "GetAttachmentContent_V2",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table for which to get Note (annotation) content.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the table row for which to get Notes (annotations).",
            "required": true,
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Note (annotation) id.",
            "required": true,
            "x-ms-summary": "AttachmentId",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-file-content-for-specified-note-(annotation)"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}/attachments/{attachmentId}": {
      "delete": {
        "tags": [
          "CrmTableAttachments"
        ],
        "summary": "Deletes specified attachment on the Note (annotation)",
        "description": "Deletes specified attachment on the Note (annotation).",
        "operationId": "DeleteAttachment",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table on which to delete Note (annotation).",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the table row on which to delete a Note (annotation).",
            "required": true,
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Note (annotation) id.",
            "required": true,
            "x-ms-summary": "AttachmentId",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#deletes-specified-attachment-on-the-note-(annotation)"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}/attachments/{attachmentId}": {
      "delete": {
        "tags": [
          "CrmTableAttachments"
        ],
        "summary": "Deletes specified attachment on the Note (annotation)",
        "description": "Deletes specified attachment on the Note (annotation).",
        "operationId": "DeleteAttachment_V2",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Table on which to delete Note (annotation).",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the table row on which to delete a Note (annotation).",
            "required": true,
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Note (annotation) id.",
            "required": true,
            "x-ms-summary": "AttachmentId",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#deletes-specified-attachment-on-the-note-(annotation)"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get table metadata",
        "description": "Gets table metadata",
        "operationId": "GetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-table-metadata"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "operationId": "ODataStyleGetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}/postitem": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get metadata of a table for post operation",
        "description": "Get metadata of a table for post operation.",
        "operationId": "GetMetadataForPostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select atable",
            "required": true,
            "x-ms-summary": "Table Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-metadata-of-a-table-for-post-operation"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')/postitem": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get metadata of a table for post operation",
        "description": "Get metadata of a table for post operation.",
        "operationId": "ODataStyleGetMetadataForPostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "dataset name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-metadata-of-a-table-for-post-operation"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}/patchitem": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get metadata of a table for patch operation",
        "description": "Get metadata of a table for patch operation.",
        "operationId": "GetMetadataForPatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table",
            "required": true,
            "x-ms-summary": "Table Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-metadata-of-a-table-for-patch-operation"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')/patchitem": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get metadata of a table for patch operation",
        "description": "Get metadata of a table for patch operation.",
        "operationId": "ODataStyleGetMetadataForPatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "dataset name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-metadata-of-a-table-for-patch-operation"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{item}/MultiSelect": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Retrieves the metadata for multi select column metadata",
        "description": "Retrieves the metadata for multi select column metadata.",
        "operationId": "GetMultiSelectMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "org name.",
            "required": true,
            "x-ms-summary": "org name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "path",
            "description": "id.",
            "required": true,
            "x-ms-summary": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-multi-select-column-metadata"
        }
      }
    },
    "/{connectionId}/datasets('{dataset}')/tables('{table}')/items('{item}')/MultiSelect": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Retrieves the metadata for multi select column metadata",
        "description": "Retrieves the metadata for multi select column metadata.",
        "operationId": "ODataStyleGetMultiSelectMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "org name.",
            "required": true,
            "x-ms-summary": "org name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "path",
            "description": "id.",
            "required": true,
            "x-ms-summary": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-multi-select-column-metadata"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{item}/MultiSelect": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Retrieves the metadata for multi select column metadata",
        "description": "Retrieves the metadata for multi select column metadata.",
        "operationId": "GetMultiSelectMetadata_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "org name.",
            "required": true,
            "x-ms-summary": "org name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "path",
            "description": "id.",
            "required": true,
            "x-ms-summary": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-multi-select-column-metadata"
        }
      }
    },
    "/{connectionId}/v2/datasets('{dataset}')/tables('{table}')/items('{item}')/MultiSelect": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Retrieves the metadata for multi select column metadata",
        "description": "Retrieves the metadata for multi select column metadata.",
        "operationId": "ODataStyleGetMultiSelectMetadata_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "org name.",
            "required": true,
            "x-ms-summary": "org name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "path",
            "description": "id.",
            "required": true,
            "x-ms-summary": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-multi-select-column-metadata"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{item}/OptionSet/{type}": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Retrieves the metadata for choice column metadata",
        "description": "Retrieves the metadata for choice column metadata.",
        "operationId": "GetOptionSetMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "org name.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "path",
            "description": "id.",
            "required": true,
            "x-ms-summary": "id",
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "type of choice.",
            "required": true,
            "x-ms-summary": "type of choice",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-choice-column-metadata"
        }
      }
    },
    "/{connectionId}/datasets('{dataset}')/tables('{table}')/items('{item}')/OptionSet('{type}')": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Retrieves the metadata for choice column metadata",
        "description": "Retrieves the metadata for choice column metadata.",
        "operationId": "ODataStyleGetOptionSetMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "org name.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "path",
            "description": "id.",
            "required": true,
            "x-ms-summary": "id",
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "type of choice.",
            "required": true,
            "x-ms-summary": "type of choice",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-choice-column-metadata"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{item}/OptionSet/{type}": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Retrieves the metadata for choice column metadata",
        "description": "Retrieves the metadata for choice column metadata.",
        "operationId": "GetOptionSetMetadata_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "org name.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "path",
            "description": "id.",
            "required": true,
            "x-ms-summary": "id",
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "type of choice.",
            "required": true,
            "x-ms-summary": "type of choice",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-choice-column-metadata"
        }
      }
    },
    "/{connectionId}/v2/datasets('{dataset}')/tables('{table}')/items('{item}')/OptionSet('{type}')": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Retrieves the metadata for choice column metadata",
        "description": "Retrieves the metadata for choice column metadata.",
        "operationId": "ODataStyleGetOptionSetMetadata_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "org name.",
            "required": true,
            "x-ms-summary": "Dataset",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "table name.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "path",
            "description": "id.",
            "required": true,
            "x-ms-summary": "id",
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "type of choice.",
            "required": true,
            "x-ms-summary": "type of choice",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-choice-column-metadata"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "summary": "Get table metadata",
        "description": "Gets table metadata",
        "operationId": "GetTable_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select atable",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-table-metadata"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets('{dataset}')/tables('{table}')": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "operationId": "ODataStyleGetTable_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}/postitem": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "summary": "Get table metadata - Post",
        "description": "Gets table metadata for post operation",
        "operationId": "GetMetadataForPostItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-table-metadata---post"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets('{dataset}')/tables('{table}')/postitem": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "operationId": "ODataStyleGetMetadataForPostItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}/patchitem": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "summary": "Get table metadata - Patch",
        "description": "Gets table metadata for patch operation",
        "operationId": "GetMetadataForPatchItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-table-metadata---patch"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets('{dataset}')/tables('{table}')/patchitem": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "operationId": "ODataStyleGetMetadataForPatchItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/onnewitemswebhook": {
      "post": {
        "tags": [
          "CrmWHTrigger"
        ],
        "summary": "When a row is added",
        "description": "Triggers a flow when a row is added in Dataverse.",
        "operationId": "SubscribeOnNewItems",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets_V2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table.",
            "required": true,
            "x-ms-summary": "Table Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Scope.",
            "required": true,
            "x-ms-summary": "Scope",
            "x-ms-dynamic-values": {
              "operationId": "GetScopeFilters",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "table": {
                  "parameter": "table"
                }
              }
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionRequest",
            "in": "body",
            "description": "Subscription request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionRequest"
            },
            "x-ms-summary": "Subscription request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-added"
        }
      },
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "$ref": "#/definitions/Item"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/{dataSet}/tables/{table}/onnewitemswebhook/{id}": {
      "delete": {
        "tags": [
          "CrmWHTrigger"
        ],
        "summary": "Deletes subscription for OnNewItems",
        "description": "This operation deletes existing subscription for OnNewItems.",
        "operationId": "UnsubscribeOnNewItems",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataSet",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Select an Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table.",
            "required": true,
            "x-ms-summary": "Select a table",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of subscription to be deleted.",
            "required": true,
            "x-ms-summary": "Id of subscription to be deleted",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#deletes-subscription-for-onnewitems"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/onupdateditemswebhook": {
      "post": {
        "tags": [
          "CrmWHTrigger"
        ],
        "summary": "When a row is modified",
        "description": "Triggers a flow when a row is modified in Dataverse.",
        "operationId": "SubscribeOnUpdatedItems",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets_V2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table.",
            "required": true,
            "x-ms-summary": "Table Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Scope.",
            "required": true,
            "x-ms-summary": "Scope",
            "x-ms-dynamic-values": {
              "operationId": "GetScopeFilters",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "table": {
                  "parameter": "table"
                }
              }
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionRequest",
            "in": "body",
            "description": "Subscription request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTriggerSubscriptionRequest"
            },
            "x-ms-summary": "Subscription request",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-modified"
        }
      },
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "$ref": "#/definitions/Item"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/attributefilters": {
      "get": {
        "tags": [
          "CrmWHTrigger"
        ],
        "summary": "Get column filters",
        "description": "Returns list of column filters.",
        "operationId": "GetAttributeFilters",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets_V2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table.",
            "required": true,
            "x-ms-summary": "Table Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-column-filters"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/scopefilters": {
      "get": {
        "tags": [
          "CrmWHTrigger"
        ],
        "summary": "Get scope filters for a given table",
        "description": "Returns list of scope filters.",
        "operationId": "GetScopeFilters",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets_V2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table.",
            "required": true,
            "x-ms-summary": "Table Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#get-scope-filters-for-a-given-table"
        }
      }
    },
    "/{connectionId}/datasets/{dataSet}/tables/{table}/onupdateditemswebhook/{id}": {
      "delete": {
        "tags": [
          "CrmWHTrigger"
        ],
        "summary": "Deletes subscription for OnUpdatedItems",
        "description": "This operation deletes existing subscription for OnUpdatedItems.",
        "operationId": "UnsubscribeOnUpdatedItems",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataSet",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Select an Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table.",
            "required": true,
            "x-ms-summary": "Select a table",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of subscription to be deleted.",
            "required": true,
            "x-ms-summary": "Id of subscription to be deleted",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#deletes-subscription-for-onupdateditems"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/ondeleteditemswebhook": {
      "post": {
        "tags": [
          "CrmWHTrigger"
        ],
        "summary": "When a row is deleted",
        "description": "Triggers a flow when a row is deleted in Dataverse.",
        "operationId": "SubscribeOnDeletedItems",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets_V2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table.",
            "required": true,
            "x-ms-summary": "Table Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "scope",
            "in": "query",
            "description": "Scope.",
            "required": true,
            "x-ms-summary": "Scope",
            "x-ms-dynamic-values": {
              "operationId": "GetScopeFilters",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "table": {
                  "parameter": "table"
                }
              }
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscriptionRequest",
            "in": "body",
            "description": "Subscription request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionRequest"
            },
            "x-ms-summary": "Subscription request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-deleted"
        }
      },
      "x-ms-notification-content": {
        "description": "Item",
        "schema": {
          "$ref": "#/definitions/Item"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/{dataSet}/tables/{table}/ondeleteditemswebhook/{id}": {
      "delete": {
        "tags": [
          "CrmWHTrigger"
        ],
        "summary": "Deletes subscription for OnDeletedItems",
        "description": "This operation deletes existing subscription for OnDeletedItems.",
        "operationId": "UnsubscribeOnDeletedItems",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataSet",
            "in": "path",
            "description": "Select an Environment.",
            "required": true,
            "x-ms-summary": "Select an Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table.",
            "required": true,
            "x-ms-summary": "Select a table",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of subscription to be deleted.",
            "required": true,
            "x-ms-summary": "Id of subscription to be deleted",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#deletes-subscription-for-ondeleteditems"
        }
      }
    },
    "/{connectionId}/v2/datasets": {
      "get": {
        "tags": [
          "CrmDataSetV2"
        ],
        "operationId": "GetDataSets_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Gets a row from table",
        "description": "Gets a row from table",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table",
            "required": true,
            "x-ms-summary": "Table Name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the row",
            "required": true,
            "x-ms-summary": "Item identifier",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#gets-a-row-from-table-%5bdeprecated%5d"
        }
      },
      "delete": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Delete a row (legacy)",
        "description": "This operation deletes a row from a table collection",
        "operationId": "DeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets_V2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Table Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the row",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Item identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/commondataservice/#delete-a-row-(legacy)"
        }
      },
      "patch": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Update a row (Deprecated)",
        "description": "This operation updates an existing row for a table",
        "operationId": "PatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an Environment",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Environment",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Table Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the row",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row identifier",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to update",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPatchItem",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Row Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
[...]
