{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Disqus",
    "description": "Disqus is a service for web comments and discussions. Disqus makes commenting easier and more interactive, helping publishers power online discussions.",
    "x-ms-connector-name": "disqus",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "x-ms-docs": [
    {
      "url": "https://ms.flow.microsoft.com/en-us/blog/moderate-disqus-automation/",
      "description": "Moderate Disqus comments using sentiment analysis and Flow"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/disqus",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/posts/create.json": {
      "post": {
        "summary": "Create a comment",
        "description": "Create a comment on a specified thread.",
        "operationId": "CreatePost",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "thread",
            "in": "query",
            "required": true,
            "x-ms-summary": "Discussion Id",
            "description": "The unique id of the discussion",
            "x-ms-test-value": "5233768963",
            "type": "string"
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "x-ms-summary": "Message",
            "description": "The content of the comment.",
            "x-ms-test-value": "Flow Test Message",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreatePostResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#create-a-comment"
        }
      }
    },
    "/{connectionId}/reply/posts/create.json": {
      "post": {
        "summary": "Reply to a comment",
        "description": "Reply to a specified comment.",
        "operationId": "ReplyToPost",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parent",
            "in": "query",
            "required": true,
            "x-ms-summary": "Parent Comment Id",
            "description": "The id of the comment to reply to.",
            "x-ms-test-value": "2957116367",
            "type": "string"
          },
          {
            "name": "message",
            "in": "query",
            "required": true,
            "x-ms-summary": "Message",
            "description": "The content of the comment.",
            "x-ms-test-value": "Flow Test Message",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreatePostResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#reply-to-a-comment"
        }
      }
    },
    "/{connectionId}/posts/remove.json": {
      "post": {
        "summary": "Remove a comment",
        "description": "Remove a comment.",
        "operationId": "RemovePost",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "post",
            "in": "query",
            "required": true,
            "x-ms-summary": "Comment Id",
            "description": "The id of the comment to remove.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResultResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#remove-a-comment"
        }
      }
    },
    "/{connectionId}/users/listFollowingForums.json": {
      "get": {
        "summary": "Get followed channels",
        "description": "Get a list of the channels the current user follows.",
        "operationId": "GetFollowedForums",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/Order"
          },
          {
            "$ref": "#/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FollowedForums"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#get-followed-channels"
        }
      }
    },
    "/{connectionId}/threads/subscribe.json": {
      "post": {
        "summary": "Follow a discussion",
        "description": "Follow a discussion.",
        "operationId": "SubscribeToThread",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "thread",
            "in": "query",
            "required": true,
            "x-ms-summary": "Discussion Id",
            "description": "The unique id of the discussion to follow.",
            "x-ms-test-value": "5233768963",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#follow-a-discussion"
        }
      }
    },
    "/{connectionId}/threads/open.json": {
      "post": {
        "summary": "Open a discussion",
        "description": "Opens a discussion (for moderators of this forum only).",
        "operationId": "OpenThread",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "thread",
            "in": "query",
            "required": true,
            "x-ms-summary": "Discussion Id",
            "description": "The unique id of the discussion to open.",
            "x-ms-test-value": "5233771262",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResultResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#open-a-discussion"
        }
      }
    },
    "/{connectionId}/threads/close.json": {
      "post": {
        "summary": "Close a discussion",
        "description": "Closes a discussion (for moderators of this forum only).",
        "operationId": "CloseThread",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "thread",
            "in": "query",
            "required": true,
            "x-ms-summary": "Discussion Id",
            "description": "The unique id of the discussion to close.",
            "x-ms-test-value": "5233771262",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResultResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#close-a-discussion"
        }
      }
    },
    "/{connectionId}/threads/vote.json": {
      "post": {
        "summary": "Recommend a discussion",
        "description": "Recommend a discussion.",
        "operationId": "RecommendThread",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "thread",
            "in": "query",
            "required": true,
            "x-ms-summary": "Discussion Id",
            "description": "The unique id of the discussion to recommend.",
            "x-ms-test-value": "5233768963",
            "type": "string"
          },
          {
            "name": "vote",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecommendThreadResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#recommend-a-discussion"
        }
      }
    },
    "/{connectionId}/posts/list.json": {
      "get": {
        "summary": "When a comment is created",
        "description": "Triggers a flow when a comment is created on a specified discussion.",
        "operationId": "OnPostCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/Forum"
          },
          {
            "name": "thread",
            "in": "query",
            "required": false,
            "x-ms-summary": "Discussion",
            "description": "The unique id of the discussion.",
            "x-ms-test-value": "5233768963",
            "x-ms-dynamic-values": {
              "operationId": "GetForumThreads",
              "parameters": {
                "forum": {
                  "parameter": "forum"
                }
              },
              "value-path": "id",
              "value-title": "clean_title"
            },
            "type": "string"
          },
          {
            "$ref": "#/parameters/Order"
          },
          {
            "$ref": "#/parameters/SmallLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PostsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger": "batch",
        "x-ms-dev-triggerType": "QueryFilter",
        "x-ms-dev-triggerDateFormat": "iso",
        "x-ms-dev-triggerValueCollection": "",
        "x-ms-dev-triggerValuePath": "createdAt",
        "x-ms-dev-queryfilterParamName": "start",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#when-a-comment-is-created"
        }
      }
    },
    "/{connectionId}/threads/list.json": {
      "get": {
        "summary": "When a discussion is created",
        "description": "Triggers a flow when a discussion is created on a specified forum.",
        "operationId": "OnThreadCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/Forum"
          },
          {
            "$ref": "#/parameters/Order"
          },
          {
            "$ref": "#/parameters/SmallLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ThreadsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-trigger": "batch",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerDateFormat": "iso",
        "x-ms-dev-triggerValueCollection": "",
        "x-ms-dev-triggerValuePath": "createdAt",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#when-a-discussion-is-created"
        }
      }
    },
    "/{connectionId}/threads/details.json": {
      "get": {
        "summary": "Get discussion by Id",
        "description": "Returns the details of a discussion by Id.",
        "operationId": "GetThread",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "thread",
            "in": "query",
            "required": true,
            "x-ms-summary": "Discussion Id",
            "description": "The unique id of the discussion.",
            "x-ms-test-value": "5233768963",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "$ref": "#/definitions/Thread"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#get-discussion-by-id"
        }
      }
    },
    "/{connectionId}/forums/listThreads.json": {
      "get": {
        "summary": "Get discussions in a channel",
        "description": "Returns a list of discussions in the specified channel.",
        "operationId": "GetForumThreads",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/Forum"
          },
          {
            "$ref": "#/parameters/Order"
          },
          {
            "$ref": "#/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ThreadsList"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/disqus/#get-discussions-in-a-channel"
        }
      }
    }
  },
  "definitions": {
    "Post": {
      "type": "object",
      "properties": {
        "dislikes": {
          "format": "int32",
          "description": "Number of dislikes.",
          "type": "integer",
          "x-ms-summary": "Dislikes"
        },
        "thread": {
          "description": "The id of the discussion.",
          "type": "string",
          "x-ms-summary": "Discussion Id"
        },
        "likes": {
          "format": "int32",
          "description": "Number of likes.",
          "type": "integer",
          "x-ms-summary": "Likes"
        },
        "message": {
          "description": "The message text in HTML.",
          "type": "string",
          "x-ms-summary": "HTML Message"
        },
        "id": {
          "description": "The id of the comment.",
          "type": "string",
          "x-ms-summary": "Comment Id"
        },
        "author": {
          "$ref": "#/definitions/Author"
        },
        "isSpam": {
          "type": "boolean",
          "x-ms-summary": "Is Spam",
          "x-ms-visibility": "advanced"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date/time the comment was created at.",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "parent": {
          "format": "int32",
          "description": "The id of the parent discussion.",
          "type": "integer",
          "x-ms-summary": "Parent Comment Id",
          "x-ms-test-nullable": true,
          "x-ms-visibility": "advanced"
        },
        "isApproved": {
          "description": "Set to true if the moderator has approved the comment.",
          "type": "boolean",
          "x-ms-summary": "Is Approved",
          "x-ms-visibility": "advanced"
        },
        "isFlagged": {
          "description": "Set to true if the comment has been flagged.",
          "type": "boolean",
          "x-ms-summary": "Is Flagged",
          "x-ms-visibility": "advanced"
        },
        "raw_message": {
          "description": "The message text in raw format (not HTML).",
          "type": "string",
          "x-ms-summary": "Message"
        },
        "isHighlighted": {
          "description": "Set to true if the comment is featured.",
          "type": "boolean",
          "x-ms-summary": "Is Featured"
        },
        "forum": {
          "description": "The id of the channel.",
          "type": "string",
          "x-ms-summary": "Channel Id"
        },
        "isEdited": {
          "description": "Set to true if the comment is edited.",
          "type": "boolean",
          "x-ms-summary": "Is Edited",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Author": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the author.",
          "type": "string",
          "x-ms-summary": "Author Id"
        },
        "joinedAt": {
          "format": "date-time",
          "description": "The date/time the author joined Disqus.",
          "type": "string",
          "x-ms-summary": "Author Join Date",
          "x-ms-visibility": "advanced"
        },
        "isVerified": {
          "description": "Set to true if the author is verified.",
          "type": "boolean",
          "x-ms-summary": "Is Verified Author",
          "x-ms-visibility": "advanced"
        },
        "username": {
          "description": "The username of the author.",
          "type": "string",
          "x-ms-summary": "Author Username"
        },
        "about": {
          "description": "Details about the author.",
          "type": "string",
          "x-ms-summary": "About the Author"
        },
        "name": {
          "description": "The name of the author.",
          "type": "string",
          "x-ms-summary": "Author Name"
        },
        "profileUrl": {
          "description": "The URL of the author profile.",
          "type": "string",
          "x-ms-summary": "Author Profile URL"
        },
        "isAnonymous": {
          "description": "Set to true if the author is anonymous.",
          "type": "boolean",
          "x-ms-summary": "Is Anonymous Author",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Thread": {
      "type": "object",
      "properties": {
        "feed": {
          "description": "The URL of the RSS feed.",
          "type": "string",
          "x-ms-summary": "RSS Feed",
          "x-ms-visibility": "advanced"
        },
        "dislikes": {
          "format": "int32",
          "description": "The number of dislikes on the discussion.",
          "type": "integer",
          "x-ms-summary": "Dislikes"
        },
        "likes": {
          "format": "int32",
          "description": "The number of likes on the discussion.",
          "type": "integer",
          "x-ms-summary": "Likes"
        },
        "message": {
          "description": "The message text in HTML.",
          "type": "string",
          "x-ms-summary": "HTML Message"
        },
        "id": {
          "description": "The id of the discussion.",
          "type": "string",
          "x-ms-summary": "Discussion Id"
        },
        "author": {
          "description": "The id of the author.",
          "type": "string",
          "x-ms-summary": "Author Id"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date/time the discussion was created at.",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "raw_message": {
          "description": "The message text in raw format (not HTML).",
          "type": "string",
          "x-ms-summary": "Message"
        },
        "link": {
          "description": "The link to the discussion.",
          "type": "string",
          "x-ms-summary": "Link"
        },
        "forum": {
          "description": "The id of the channel.",
          "type": "string",
          "x-ms-summary": "Channel Id"
        },
        "clean_title": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "posts": {
          "format": "int32",
          "description": "The number of comments on this discussion.",
          "type": "integer",
          "x-ms-summary": "Number of comments"
        },
        "title": {
          "description": "The title of the discussion.",
          "type": "string",
          "x-ms-summary": "Title"
        }
      }
    },
    "Forum": {
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the channel in HTML.",
          "type": "string",
          "x-ms-summary": "HTML Description"
        },
        "url": {
          "description": "The URL of the channel.",
          "type": "string",
          "x-ms-summary": "Channel URL"
        },
        "raw_description": {
          "description": "The description of the channel in raw format (not HTML).",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "language": {
          "description": "Language Code",
          "type": "string",
          "x-ms-summary": "Language"
        },
        "daysAlive": {
          "format": "int32",
          "description": "The number of days the channel has been alive.",
          "type": "integer",
          "x-ms-summary": "Days Alive",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "The id of the channel.",
          "type": "string",
          "x-ms-summary": "Channel Id"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date/time the channel was created at.",
          "type": "string",
          "x-ms-summary": "Created At"
        },
        "name": {
          "description": "The name of the channel.",
          "type": "string",
          "x-ms-summary": "Channel Name"
        }
      }
    },
    "FollowedForums": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Forum"
      }
    },
    "EmptyResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "properties": {}
        }
      }
    },
    "CreatePostResponse": {
      "type": "object",
      "properties": {
        "response": {
          "$ref": "#/definitions/Post"
        }
      }
    },
    "OperationResultResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "RecommendThreadResponse": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "properties": {
            "thread": {
              "$ref": "#/definitions/Thread"
            },
            "vote": {
              "format": "int32",
              "description": "Result after voting",
              "type": "integer",
              "x-ms-summary": "Vote"
            }
          }
        }
      }
    },
    "PostsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Post"
      }
    },
    "ThreadsList": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Thread"
      }
    }
  },
  "parameters": {
    "Forum": {
      "name": "forum",
      "in": "query",
      "required": true,
      "x-ms-summary": "Channel",
      "description": "The unique name of the channel",
      "x-ms-dynamic-values": {
        "operationId": "GetFollowedForums",
        "value-path": "id",
        "value-title": "name"
      },
      "x-ms-test-value": "channel-flowtestchannel",
      "type": "string"
    },
    "Order": {
      "name": "order",
      "in": "query",
      "required": false,
      "x-ms-visibility": "internal",
      "type": "string",
      "default": "desc"
    },
    "Limit": {
      "name": "limit",
      "in": "query",
      "required": false,
      "x-ms-visibility": "internal",
      "type": "integer",
      "format": "int32",
      "default": 100
    },
    "SmallLimit": {
      "name": "limit",
      "in": "query",
      "required": false,
      "x-ms-visibility": "internal",
      "type": "integer",
      "format": "int32",
      "default": 75
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://disqus.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://help.disqus.com/articles/1717103-disqus-privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/disqus"
  }
}
