{
  "basePath": "/apim/partnercenterevents",
  "consumes": [],
  "definitions": {},
  "host": "europe-002.azure-apim.net",
  "info": {
    "description": "This connector allows Microsoft partners to register for specific resource change events related to Microsoft partner center referrals.",
    "title": "Partner Center Events",
    "version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "parameters": {},
  "paths": {
    "/{connectionId}/common/oauth2/token": {},
    "/{connectionId}/webhooks/v1/registration": {
      "get": {
        "description": "Returns the Webhooks event registration for a tenant.",
        "operationId": "ViewRegistration",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": " application/json",
            "description": "Content-Type",
            "in": "header",
            "name": "Content-Type",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "MS-CorrelationId:": {
                "description": "MS-CorrelationId:",
                "type": "string"
              },
              "MS-RequestId:": {
                "description": "MS-RequestId:",
                "type": "string"
              },
              "X-Locale:": {
                "description": "X-Locale:",
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "WebhookEvents": {
                  "description": "WebhookEvents",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "WebhookUrl": {
                  "description": "WebhookUrl",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "View a registration",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/partnercenterevents/#view-a-registration"
        }
      },
      "post": {
        "description": "Registers a tenant to receive the specified events.",
        "operationId": "EventRegistration",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type:",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "SignatureTokenToMsSignatureHeader": {
                  "description": "SignatureTokenToMsSignatureHeader",
                  "type": "string"
                },
                "WebhookEvents": {
                  "description": "WebhookEvents",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "WebhookUrl": {
                  "description": "WebhookUrl",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Register to receive events",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/partnercenterevents/#register-to-receive-events"
        }
      },
      "put": {
        "description": "Updates an existing event registration.",
        "operationId": "UpdateRegistration",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type:",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "SignatureTokenToMsSignatureHeader": {
                  "description": "SignatureTokenToMsSignatureHeader",
                  "type": "string"
                },
                "WebhookEvents": {
                  "description": "WebhookEvents",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "WebhookUrl": {
                  "description": "WebhookUrl",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "SubscriberId": {
                  "description": "SubscriberId",
                  "type": "string"
                },
                "WebhookEvents": {
                  "description": "WebhookEvents",
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "WebhookUrl": {
                  "description": "WebhookUrl",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Update an event registration",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/partnercenterevents/#update-an-event-registration"
        }
      }
    },
    "/{connectionId}/webhooks/v1/registration/validationEvents": {},
    "/{connectionId}/webhooks/v1/registration/validationEvents/3ef0202b-9d00-4f75-9cff-15420f7612b3": {},
    "/{connectionId}/workflows/5d1d98aac2344c2ca71e1a414cc2b0ce/triggers/manual/paths/invoke": {}
  },
  "produces": [
    "application/json"
  ],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "undefined": [
        "openid"
      ]
    }
  ],
  "securityDefinitions": {
    "undefined": {
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "flow": "accessCode",
      "scopes": {
        "openid": "openid"
      },
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://partner.microsoft.com/dashboard"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/partnercenterevents"
  }
}