{
  "swagger": "2.0",
  "info": {
    "title": "Intentional Data Sources",
    "description": "Connector for Granada data sources",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Intentional Platform and Applications",
      "email": "granadasupport@microsoft.com",
      "url": "https://www.microsoft.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.microsoft.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/intentionaldatasources",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/{service}/{entity}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request - returned output will vary depending on entity.",
            "schema": {
              "$ref": "#/definitions/SingleEntity"
            }
          }
        },
        "summary": "Single Entity",
        "operationId": "SingleEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Bearer token",
            "description": "Bearer Auth token"
          },
          {
            "name": "service",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Service to call",
            "description": "Which service you want to call"
          },
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Graph entity",
            "description": "Graph entity you want to get"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "x-ms-summary": "Id",
            "description": "Id",
            "type": "string"
          },
          {
            "name": "oDataQuery",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "MS Graph oDataQuery",
            "description": "MS Graph oDataQuery"
          }
        ],
        "description": "Get a single Entity",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intentionaldatasources/#single-entity"
        }
      }
    },
    "/{connectionId}/{service}/{entity}/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request - returned output will vary depending on entity.",
            "schema": {
              "$ref": "#/definitions/SingleEntity"
            }
          }
        },
        "summary": "Single Entity by Id",
        "operationId": "SingleEntityById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Bearer Auth token",
            "description": "Bearer Auth token"
          },
          {
            "name": "service",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Service to call",
            "description": "Which service you want to call"
          },
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Graph entity you want to get",
            "x-ms-summary": "Graph entity"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of graph entity you want to get",
            "x-ms-summary": "Id"
          },
          {
            "name": "oDataQuery",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "MS Graph oDataQuery",
            "description": "MS Graph oDataQuery"
          }
        ],
        "description": "Get a single Entity by Id",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intentionaldatasources/#single-entity-by-id"
        }
      }
    },
    "/{connectionId}/{service}/{entity}/list": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request - returned output will vary depending on entity.",
            "schema": {
              "$ref": "#/definitions/ListEntity"
            }
          }
        },
        "summary": "List of Entity",
        "operationId": "ListEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Bearer Auth token",
            "required": true,
            "type": "string",
            "x-ms-summary": "Bearer Auth token"
          },
          {
            "name": "service",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Service to call",
            "description": "Which service you want to call"
          },
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Graph entity you want to get",
            "x-ms-summary": "Graph entity"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Id",
            "description": "Id"
          },
          {
            "name": "oDataQuery",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "MS Graph oDataQuery",
            "description": "MS Graph oDataQuery"
          }
        ],
        "description": "Gets a list of entities",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intentionaldatasources/#list-of-entity"
        }
      }
    },
    "/{connectionId}/{service}/{entity}/{id}/list": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful request - returned output will vary depending on entity.",
            "schema": {
              "$ref": "#/definitions/ListEntity"
            }
          }
        },
        "summary": "List of Entity by Id",
        "operationId": "ListEntityById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Bearer Auth token",
            "required": true,
            "type": "string",
            "x-ms-summary": "Bearer Auth token"
          },
          {
            "name": "service",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Service to call",
            "description": "Which service you want to call"
          },
          {
            "name": "entity",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Graph entity you want to get",
            "x-ms-summary": "Graph entity"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id",
            "description": "Id"
          },
          {
            "name": "oDataQuery",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "MS Graph oDataQuery",
            "description": "MS Graph oDataQuery"
          }
        ],
        "description": "Gets a list of entities by Id",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/intentionaldatasources/#list-of-entity-by-id"
        }
      }
    }
  },
  "definitions": {
    "SingleEntity": {
      "description": "Single entity from graph",
      "type": "object",
      "properties": {
        "DynamicProperties": {
          "type": "object",
          "properties": {},
          "x-ms-dynamic-schema": {
            "operationId": "SingleEntity",
            "parameters": {
              "service": {
                "parameter": "service"
              },
              "entity": {
                "parameter": "entity"
              },
              "token": {
                "parameter": "token"
              }
            }
          }
        }
      }
    },
    "ListEntity": {
      "description": "List entity from graph",
      "type": "object",
      "properties": {
        "DynamicProperties": {
          "type": "object",
          "properties": {},
          "x-ms-dynamic-schema": {
            "operationId": "ListEntity",
            "parameters": {
              "service": {
                "parameter": "service"
              },
              "entity": {
                "parameter": "entity"
              },
              "oDataQuery": {
                "parameter": "oDataQuery"
              },
              "token": {
                "parameter": "token"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/intentionaldatasources"
  }
}
