{
  "swagger": "2.0",
  "info": {
    "title": "Xooa Blockchain Smart Contract",
    "description": "Xooa makes it easy to use blockchain by eliminating common barriers. A blockchain platform as a service (PaaS) provides an enterprise blockchain. The connector provides an immutable ledger and a private blockchain infrastructure. You control who can view and participate in the ledger, and you can shift your data to your own network at any time.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "email": "support@xooa.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/xooadb",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/query/{fcn}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "Query the ledger using a given smart contract function. The query end-point is used to perform read operations. Such operations do not create transactions in the ledger.",
        "summary": "Perform a query function",
        "operationId": "Query",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fcn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the function.",
            "x-ms-summary": "Function name"
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Asynchronous call indicator (Boolean)",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 5000,
            "description": "Timeout waiting on a response from a synchronous call (async false). A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooadb/#perform-a-query-function"
        }
      }
    },
    "/{connectionId}/invoke/{fcn}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "Invoke a given custom smart contract function to write to the ledger.Such operations create transactions in the ledger.",
        "summary": "Invoke a function",
        "operationId": "Invoke",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fcn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the function.",
            "x-ms-summary": "Function name"
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Asynchronous call indicator (Boolean)",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 3000,
            "description": "Timeout waiting on a response from a synchronous call (async false). A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooadb/#invoke-a-function"
        }
      }
    },
    "/{connectionId}/query/get": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "This action is used to perform a 'get' operation on the Xooa App. This operation invokes the get function in the Smart Contract to give the latest state from the Blockchain.",
        "summary": "Xooa GET",
        "operationId": "Get",
        "x-ms-api-annoation": {
          "family": "get",
          "status": "Preview",
          "revision": 1,
          "expires": "2019-06-01"
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Async call indicator",
            "description": "This parameter is used to define if the call to Xooa is to be made in synchronous or asynchronous mode. Its default value is false, i.e. synchronous mode.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "If a call to Xooa is made in synchronous mode then the call waits for the time passed in timeout to receive a response. If a response is not generated within the given timeout a pending response is generated. Default timeout value is 3000ms.",
            "x-ms-summary": "Amount of time to wait before turning a synchronous call to asynchronous.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooadb/#xooa-get-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/invoke/set": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "This action is used to perform a 'set' operation on the Xooa App. This operation invokes the set function in the Smart Contract to store the key value pairs in the Blockchain. This operation generates a transaction in the blockchain and stores it in the ledger.",
        "summary": "Xooa SET",
        "operationId": "Set",
        "x-ms-api-annoation": {
          "family": "set",
          "status": "Preview",
          "revision": 1,
          "expires": "2019-06-01"
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Async call indicator",
            "description": "This parameter is used to define if the call to Xooa is to be made in synchronous or asynchronous mode. Its default value is false, i.e. synchronous mode.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "If a call to Xooa is made in synchronous mode then the call waits for the time passed in timeout to receive a response. If a response is not generated within the given timeout a pending response is generated. Default timeout value is 3000ms.",
            "x-ms-summary": "Amount of time to wait before turning a synchronous call to asynchronous.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooadb/#xooa-set-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/invoke/del": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "description": "This action is used to perform a 'del' operation on the Xooa App. This operation invokes the del function in the Smart Contract to delete the key from the Blockchain. This operation generates a transaction in the blockchain and stores it in the ledger.",
        "summary": "Xooa DEL",
        "operationId": "Del",
        "x-ms-api-annoation": {
          "family": "del",
          "status": "Preview",
          "revision": 1,
          "expires": "2019-06-01"
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Async call indicator",
            "description": "This parameter is used to define if the call to Xooa is to be made in synchronous or asynchronous mode. Its default value is false, i.e. synchronous mode.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "If a call to Xooa is made in synchronous mode then the call waits for the time passed in timeout to receive a response. If a response is not generated within the given timeout a pending response is generated. Default timeout value is 3000ms.",
            "x-ms-summary": "Amount of time to wait before turning a synchronous call to asynchronous.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooadb/#xooa-del-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://xooa.com/blockchain/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://xooa.com/XooaPrivacyPolicy.htm"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/xooadb"
  }
}
