{
  "swagger": "2.0",
  "info": {
    "description": "Marketo Marketing Automation. This API provides access to Marketo objects such as Campaigns, Programs, Leads, Lists (Static and Smart) as well as filesystem assets such as files and folders.",
    "version": "1.0",
    "title": "Marketo MA",
    "termsOfService": "https://www.marketo.com/company/legal/",
    "contact": {
      "name": "Marketo Developer Relations",
      "url": "http://developers.marketo.com",
      "email": "developerfeedback@marketo.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "license": {
      "name": "API License Agreement",
      "url": "http://developers.marketo.com/api-license/"
    },
    "x-ms-keywords": [
      "marketo",
      "campaign",
      "campaigns",
      "program",
      "programs"
    ]
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/marketoma",
  "tags": [
    {
      "name": "Identity",
      "description": "Identity Controller"
    },
    {
      "name": "Files",
      "description": "File Controller"
    },
    {
      "name": "Smart Lists",
      "description": "Smart List Controller"
    },
    {
      "name": "Static Lists",
      "description": "Static List Controller"
    },
    {
      "name": "Programs",
      "description": "Program Controller"
    },
    {
      "name": "Bulk Import Program Members",
      "description": "Bulk Import Program Members Controller"
    },
    {
      "name": "Bulk Export Program Members",
      "description": "Bulk Export Program Members Controller"
    },
    {
      "name": "Folders",
      "description": "Folder Controller"
    },
    {
      "name": "File Contents",
      "description": "File Content Controller"
    },
    {
      "name": "Leads",
      "description": "Leads Controller"
    },
    {
      "name": "Bulk Import Leads",
      "description": "Bulk Import Leads Controller"
    },
    {
      "name": "Bulk Export Leads",
      "description": "Bulk Export Leads Controller"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/identity/oauth/token": {
      "get": {
        "tags": [
          "Identity"
        ],
        "summary": "Identity",
        "description": "Retrieve an access token from Marketo.  Calls to this endpoint are not counted towards API call limit.\n",
        "operationId": "identityUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Client ID from Admin > Integration > Launchpoint menu.",
            "required": true,
            "type": "string",
            "x-ms-summary": "The clientID for the Marketo REST API"
          },
          {
            "name": "client_secret",
            "in": "query",
            "description": "Client Secret from Admin > Integration > Launchpoint menu.",
            "required": true,
            "type": "string",
            "x-ms-summary": "The client secret for the Marketo REST API"
          },
          {
            "name": "grant_type",
            "in": "query",
            "description": "Grant type.",
            "required": true,
            "type": "string",
            "enum": [
              "client_credentials"
            ],
            "x-ms-summary": "The type of grant. Our case client credentials"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdentity"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#identity"
        }
      },
      "post": {
        "tags": [
          "Identity"
        ],
        "summary": "Identity",
        "description": "Retrieve an access token from Marketo.  Calls to this endpoint are not counted towards API call limit.\n",
        "operationId": "identityUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Client ID from Admin > Integration > Launchpoint menu.",
            "required": true,
            "type": "string",
            "x-ms-summary": "The clientID for the Marketo REST API"
          },
          {
            "name": "client_secret",
            "in": "query",
            "description": "Client Secret from Admin > Integration > Launchpoint menu.",
            "required": true,
            "type": "string",
            "x-ms-summary": "The client secret for the Marketo REST API"
          },
          {
            "name": "grant_type",
            "in": "query",
            "description": "Grant type.",
            "required": true,
            "type": "string",
            "enum": [
              "client_credentials"
            ],
            "x-ms-summary": "The type of grant. Our case client credentials"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdentity"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#identity"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/file/byName.json": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get File by Name",
        "description": "Returns files records for the given name.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFileByNameUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the file",
            "required": true,
            "type": "string",
            "x-ms-summary": "The name of the file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFileResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-file-by-name"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/file/{id}.json": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get File by Id",
        "description": "Returns the file record for the given id.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFileByIdUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id for file in database",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "The id of the file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFileResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-file-by-id"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/file/{id}/content.json": {
      "post": {
        "tags": [
          "File Contents"
        ],
        "summary": "Update File Content",
        "description": "Replaces the current content of the file with the included payload.  Required Permissions: Read-Write Assets",
        "operationId": "updateContentUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id for file in database",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "The id of the file"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "x-ms-summary": "The body of the file",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFileContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFileResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#update-file-content"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/files.json": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get Files",
        "description": "Returns the files from the given folder. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFilesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "getFilesRequest",
            "description": "getFilesRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetFilesRequest"
            },
            "x-ms-summary": "The body of the file"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'",
            "required": false,
            "type": "string",
            "x-ms-summary": "The folder where to put the file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFileResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-files"
        }
      },
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Create File",
        "description": "Creates a new file from the included payload. Required Permissions: Read-Write Assets",
        "operationId": "createFileUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "createFileRequest",
            "description": "createFileRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFileRequest"
            },
            "x-ms-summary": "The body of the file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFileResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#create-file"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/folder/byName.json": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get Folder by Name",
        "description": "Returns a folder record for the given name.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFolderByNameUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the folder.  Not applicable for Programs",
            "required": true,
            "type": "string",
            "x-ms-summary": "The name of the folder"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of folder.  'Folder' or 'Program'",
            "required": false,
            "type": "string",
            "x-ms-summary": "The type of the folder (Program or Folder)"
          },
          {
            "name": "root",
            "in": "query",
            "description": "Parent folder reference",
            "required": false,
            "type": "string",
            "x-ms-summary": "The parent folder reference"
          },
          {
            "name": "workSpace",
            "in": "query",
            "description": "Name of the workspace",
            "required": false,
            "type": "string",
            "x-ms-summary": "The name of the workspace"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFolderResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-folder-by-name"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/folder/{id}.json": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get Folder by Id",
        "description": "Returns the folder record with the given id.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFolderByIdUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "The id of the folder to retrieve"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of folder.  'Folder' or 'Program'",
            "required": true,
            "type": "string",
            "default": "Folder",
            "enum": [
              "Folder",
              "Program"
            ],
            "x-ms-summary": "The type of the folder (Program or Folder)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFolderResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-folder-by-id"
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Update Folder Metadata",
        "description": "Updates the metadata for a given folder.  Required Permissions: Read-Write Assets",
        "operationId": "updateFolderUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to update",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "The id of the folder to update"
          },
          {
            "in": "body",
            "name": "updateFolderRequest",
            "description": "updateFolderRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFolderRequest"
            },
            "x-ms-summary": "The body of the folder metadata to update"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFolderResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#update-folder-metadata"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/folder/{id}/content.json": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get Folder Contents",
        "description": "Returns records for the contents of a given folder.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFolderContentUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to retrieve",
            "x-ms-summary": "Id of the folder to retrieve",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "x-ms-summary": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "x-ms-summary": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of folder.  'Folder' or 'Program'.  Default is 'Folder'",
            "x-ms-summary": "Type of folder.  'Folder' or 'Program'.  Default is 'Folder'",
            "required": true,
            "type": "string",
            "enum": [
              "Folder",
              "Program"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFolderContentResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-folder-contents"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/folder/{id}/delete.json": {
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Delete Folder",
        "description": "Deletes the designated folder.  Deletion will fail if the folder has content.  Required Permissions: Read-Write Assets",
        "operationId": "deleteFolderUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the folder to delete",
            "x-ms-summary": "Id of the folder to delete",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "formData",
            "description": "type",
            "x-ms-summary": "type of folder",
            "required": true,
            "type": "string",
            "default": "Folder",
            "enum": [
              "Program",
              "Folder"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#delete-folder"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/folders.json": {
      "get": {
        "tags": [
          "Folders"
        ],
        "summary": "Get Folders",
        "description": "Retrieves child folders from within a given root folder.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getFolderUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "root",
            "in": "query",
            "description": "Parent folder reference",
            "x-ms-summary": "Parent folder reference",
            "required": false,
            "type": "string"
          },
          {
            "name": "maxDepth",
            "in": "query",
            "description": "Maximum folder depth to traverse, Default 2",
            "x-ms-summary": "Maximum folder depth to traverse, Default 2",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of folders to return. Default 20, maximum 200",
            "x-ms-summary": "Maximum number of folders to return. Default 20, maximum 200",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging.  Default 0",
            "x-ms-summary": "Integer offset for paging.  Default 0",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "workSpace",
            "in": "query",
            "description": "Name of the workspace",
            "x-ms-summary": "Name of the workspace",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFolderResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-folders"
        }
      },
      "post": {
        "tags": [
          "Folders"
        ],
        "summary": "Create Folder",
        "description": "Creates a new folder.  Required Permissions: Read-Write Assets",
        "operationId": "createFolderUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "createFolderRequest",
            "description": "createFolderRequest",
            "x-ms-summary": "Create Folder Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFolderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfFolderResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#create-folder"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/byName.json": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Get Program by Name",
        "description": "Retrieves the program record for the given name.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getProgramByNameUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the program",
            "x-ms-summary": "Name of the program",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeTags",
            "in": "query",
            "description": "Set true to populate program tags",
            "x-ms-summary": "Set true to populate program tags",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "includeCosts",
            "in": "query",
            "description": "Set true to populate program costs",
            "x-ms-summary": "Set true to populate program costs",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfProgramResponse"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-program-by-name"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/byTag.json": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Get Programs by Tag",
        "description": "Retrieves a list of programs matching the tag type and tag values given.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getProgramListByTagUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tagType",
            "in": "query",
            "description": "Type of program tag",
            "x-ms-summary": "Type of program tag",
            "required": true,
            "type": "string"
          },
          {
            "name": "tagValue",
            "in": "query",
            "description": "Value of the tag",
            "x-ms-summary": "Value of the tag",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "x-ms-summary": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "x-ms-summary": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfProgramResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-programs-by-tag"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/{id}.json": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Get Program by Id",
        "description": "Retrieves the program record for the given id.  Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "getProgramByIdUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "x-ms-summary": "program id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfProgramResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-program-by-id"
        }
      },
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Update Program Metadata",
        "description": "Updates the target program's metadata.  Required Permissions: Read-Write Assets",
        "operationId": "updateProgramUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "x-ms-summary": "program id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateProgramRequest",
            "description": "updateProgramRequest",
            "x-ms-summary": "updateProgramRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProgramRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfProgramResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#update-program-metadata"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/{programId}/smartList.json": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Get Smart List by Program Id",
        "description": "Retrieves a Smart List record by its Email Program id. Required Permissions: Read-Asset or Read-Write Asset",
        "operationId": "getSmartListByProgramIdUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "programId",
            "in": "path",
            "description": "Id for the email program containing smart list to retrieve",
            "x-ms-summary": "Id for the email program containing smart list to retrieve",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "includeRules",
            "in": "query",
            "description": "Set true to populate smart list rules.  Default false",
            "x-ms-summary": "Set true to populate smart list rules.  Default false",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfSmartListResponseWithRules"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-smart-list-by-program-id"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/{id}/approve.json": {
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Approve Program",
        "description": "Approves the target program.  Only valid for unapproved email programs.  Required Permissions: Read-Write Assets",
        "x-ms-summary": "Approves the target program.  Only valid for unapproved email programs.  Required Permissions: Read-Write Assets",
        "operationId": "approveProgramUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "x-ms-summary": "program id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#approve-program"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/{id}/clone.json": {
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Clone Program",
        "description": "Clones the target program.  Required Permissions: Read-Write Assets",
        "operationId": "cloneProgramUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "x-ms-summary": "program id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cloneProgramRequest",
            "description": "cloneProgramRequest",
            "x-ms-summary": "cloneProgramRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloneProgramRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfProgramResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#clone-program"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/{id}/delete.json": {
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Delete Program",
        "description": "Deletes the target program.  The program may not contain any assets which are in use outside the program.  Required Permissions: Read-Write Assets",
        "operationId": "deleteProgramUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "x-ms-summary": "program id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#delete-program"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/{id}/unapprove.json": {
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Unapprove Program",
        "description": "Unapproves the target program.  Only valid for approved email programs.  Required Permissions: Read-Write Assets",
        "operationId": "unapproveProgramUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "x-ms-summary": "program id",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#unapprove-program"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/{id}/tag/{tagType}.json": {
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Update Program Tag",
        "description": "Update program tag.  Required Permissions: Read-Write Assets",
        "operationId": "updateProgramTagUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "x-ms-summary": "program id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "tagType",
            "in": "path",
            "description": "Type of program tag",
            "x-ms-summary": "Type of program tag",
            "required": true,
            "type": "string"
          },
          {
            "name": "tagValue",
            "in": "query",
            "description": "Value of program tag",
            "x-ms-summary": "Value of program tag",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#update-program-tag"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/program/{id}/tag/{tagType}/delete.json": {
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Delete Program Tag",
        "description": "Delete non-required program tag.  Required Permissions: Read-Write Assets",
        "operationId": "deleteProgramTagUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "x-ms-summary": "program id",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "tagType",
            "in": "path",
            "description": "Type of program tag",
            "x-ms-summary": "Type of program tag",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#delete-program-tag"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/programs.json": {
      "get": {
        "tags": [
          "Programs"
        ],
        "summary": "Get Programs",
        "description": "Retrieves the list of accessible programs from the target instance. Required Permissions: Read-Only Assets, Read-Write Assets",
        "operationId": "browseProgramsUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of channels to return.  Max 200, default 20",
            "x-ms-summary": "Maximum number of channels to return.  Max 200, default 20",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "x-ms-summary": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filterType",
            "in": "query",
            "description": "Optional filter.  Requires filterValues",
            "x-ms-summary": "Optional filter.  Requires filterValues",
            "required": false,
            "type": "string",
            "enum": [
              "id",
              "programId",
              "folderId",
              "workspace"
            ]
          },
          {
            "name": "earliestUpdatedAt",
            "in": "query",
            "description": "Exclude programs prior to this date. Must be valid ISO-8601 string.  See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.",
            "x-ms-summary": "Exclude programs prior to this date. See Datetime field type description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "latestUpdatedAt",
            "in": "query",
            "description": "Exclude programs after this date. Must be valid ISO-8601 string.  See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.",
            "x-ms-summary": "Exclude programs after this date. See Datetime field type description.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfBrowseAllPrograms"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-programs"
        }
      },
      "post": {
        "tags": [
          "Programs"
        ],
        "summary": "Create Program",
        "description": "Creates a new program.  Required Permissions: Read-Write Assets",
        "operationId": "createProgramUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "createProgramRequest",
            "description": "createProgramRequest",
            "x-ms-summary": "createProgramRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProgramRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfProgramResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#create-program"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/smartList/{id}.json": {
      "get": {
        "tags": [
          "Smart Lists"
        ],
        "summary": "Get Smart List by Id",
        "description": "Retrieves a Smart List record by its id. Required Permissions: Read-Asset or Read-Write Asset",
        "operationId": "getSmartListByIdUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the smart list to retrieve",
            "x-ms-summary": "Id of the smart list to retrieve",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "includeRules",
            "in": "query",
            "description": "Set true to populate smart list rules.  Default false",
            "x-ms-summary": "Set true to populate smart list rules.  Default false",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfSmartListResponseWithRules"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-smart-list-by-id"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/smartList/byName.json": {
      "get": {
        "tags": [
          "Smart Lists"
        ],
        "summary": "Get Smart List by Name",
        "description": "Retrieves a Smart List record by its name. Required Permissions: Read-Asset or Read-Write Asset",
        "operationId": "getSmartListByNameUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of smart list to retrieve",
            "x-ms-summary": "Name of smart list to retrieve",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfSmartListResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-smart-list-by-name"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/smartList/{id}/delete.json": {
      "post": {
        "tags": [
          "Smart Lists"
        ],
        "summary": "Delete Smart List",
        "description": "Deletes the designated Smart List. Required Permissions: Read-Write Asset",
        "operationId": "deleteSmartListByIdUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the smart list to delete",
            "x-ms-summary": "Id of the smart list to delete",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#delete-smart-list"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/smartLists.json": {
      "get": {
        "tags": [
          "Smart Lists"
        ],
        "summary": "Get Smart Lists",
        "description": "Retrieves a list of user created Smart List records. Required Permissions: Read-Asset or Read-Write Asset",
        "operationId": "getSmartListsUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'",
            "x-ms-summary": "JSON representation of parent folder",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "x-ms-summary": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of smart lists to return.  Max 200, default 20.",
            "x-ms-summary": "Maximum number of smart lists to return.  Max 200, default 20.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "earliestUpdatedAt",
            "in": "query",
            "description": "Exclude smart lists prior to this date. Must be valid ISO-8601 string.  See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.",
            "x-ms-summary": "Exclude smart lists prior to this date. See Datetime field type description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "latestUpdatedAt",
            "in": "query",
            "description": "Exclude smart lists after this date. Must be valid ISO-8601 string.  See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.",
            "x-ms-summary": "Exclude smart lists after this date. See Datetime field type description.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfSmartListResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-smart-lists"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/smartList/{id}/clone.json": {
      "post": {
        "tags": [
          "Smart Lists"
        ],
        "summary": "Clone Smart List",
        "description": "Clones the designated Smart List. Required Permissions: Read-Write Asset",
        "operationId": "cloneSmartListUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of smart list to clone",
            "x-ms-summary": "Id of smart list to clone",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "cloneSmartListRequest",
            "description": "cloneSmartListRequest",
            "x-ms-summary": "cloneSmartListRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloneSmartListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfSmartListResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#clone-smart-list"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/staticList/{id}.json": {
      "get": {
        "tags": [
          "Static Lists"
        ],
        "summary": "Get Static List by Id",
        "description": "Retrieves a Static List record by its id. Required Permissions: Read-Asset or Read-Write Asset",
        "operationId": "getStaticListByIdUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the static list to retrieve",
            "x-ms-summary": "Id of the static list to retrieve",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfStaticListResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-static-list-by-id"
        }
      },
      "post": {
        "tags": [
          "Static Lists"
        ],
        "summary": "Update Static List Metadata",
        "description": "Updates the metadata of a static list asset.  Required Permissions: Read-Write Assets",
        "operationId": "updateStaticListUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of static list to update",
            "x-ms-summary": "Id of static list to update",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "updateStaticListRequest",
            "description": "updateStaticListRequest",
            "x-ms-summary": "updateStaticListRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateStaticListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfStaticListResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#update-static-list-metadata"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/staticLists.json": {
      "get": {
        "tags": [
          "Static Lists"
        ],
        "summary": "Get Static Lists",
        "description": "Retrieves a list of Static List records. Required Permissions: Read-Asset or Read-Write Asset",
        "operationId": "getStaticListsUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "JSON representation of parent folder, with members 'id', and 'type' which may be 'Folder' or 'Program'",
            "x-ms-summary": "JSON representation of parent folder",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Integer offset for paging",
            "x-ms-summary": "Integer offset for paging",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "maxReturn",
            "in": "query",
            "description": "Maximum number of static lists to return.  Max 200, default 20.",
            "x-ms-summary": "Maximum number of static lists to return.  Max 200, default 20.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "earliestUpdatedAt",
            "in": "query",
            "description": "Exclude static lists prior to this date. Must be valid ISO-8601 string.  See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.",
            "x-ms-summary": "Exclude static lists prior to this date. See Datetime field type description.",
            "required": false,
            "type": "string"
          },
          {
            "name": "latestUpdatedAt",
            "in": "query",
            "description": "Exclude static lists after this date. Must be valid ISO-8601 string.  See <a href=\"http://developers.marketo.com/rest-api/lead-database/fields/field-types/\">Datetime</a> field type description.",
            "x-ms-summary": "Exclude static lists after this date. See Datetime field type description.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfStaticListResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-static-lists"
        }
      },
      "post": {
        "tags": [
          "Static Lists"
        ],
        "summary": "Create Static List",
        "description": "Creates a new Static List.  Required Permissions: Read-Write Assets",
        "operationId": "createStaticListUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "createStaticListRequest",
            "description": "createStaticListRequest",
            "x-ms-summary": "createStaticListRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateStaticListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfStaticListResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#create-static-list"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/staticList/byName.json": {
      "get": {
        "tags": [
          "Static Lists"
        ],
        "summary": "Get Static List by Name",
        "description": "Retrieves a Static List record by its name. Required Permissions: Read-Asset or Read-Write Asset",
        "operationId": "getStaticListByNameUsingGET",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of static list to retrieve",
            "x-ms-summary": "Name of static list to retrieve",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfStaticListResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-static-list-by-name"
        }
      }
    },
    "/{connectionId}/rest/asset/v1/staticList/{id}/delete.json": {
      "post": {
        "tags": [
          "Static Lists"
        ],
        "summary": "Delete Static List",
        "description": "Deletes the designated Static List. Required Permissions: Read-Write Asset",
        "operationId": "deleteStaticListByIdUsingPOST",
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the static list to delete",
            "x-ms-summary": "Id of the static list to delete",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfIdResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#delete-static-list"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads.json": {
      "post": {
        "tags": [
          "Bulk Import Leads"
        ],
        "summary": "Import Leads",
        "description": "Imports a file containing data records into the target instance.  Required Permissions: Read-Write Lead",
        "operationId": "importLeadUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Import file format.",
            "x-ms-summary": "Import file format.",
            "required": true,
            "type": "string",
            "enum": [
              "csv",
              "tsv",
              "ssv"
            ]
          },
          {
            "name": "lookupField",
            "in": "query",
            "description": "Field to use for deduplication.  Custom fields (string, email, integer), and the following field types are supported: id, cookies, email, twitterId, facebookId, linkedInId, sfdcAccountId, sfdcContactId, sfdcLeadId, sfdcLeadOwnerId, sfdcOpptyId.  Default is email.<br>Note: You can use id for update only operations. ",
            "x-ms-summary": "Field to use for deduplication.  Custom fields (string, email, integer)",
            "required": false,
            "type": "string"
          },
          {
            "name": "partitionName",
            "in": "query",
            "description": "Name of the lead partition to import to.",
            "x-ms-summary": "Name of the lead partition to import to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "listId",
            "in": "query",
            "description": "Id of the static list to import into.",
            "x-ms-summary": "Id of the static list to import into.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File containing the data records to import.",
            "x-ms-summary": "File containing the data records to import.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfImportLeadResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#import-leads"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/batch/{batchId}.json": {
      "get": {
        "tags": [
          "Bulk Import Leads"
        ],
        "summary": "Get Import Lead Status",
        "description": "Returns the status of an import batch job.  Required Permissions: Read-Write Lead",
        "operationId": "getImportLeadStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "batchId",
            "in": "path",
            "description": "Id of the import batch job.",
            "x-ms-summary": "Id of the import batch job.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfImportLeadResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-import-lead-status"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/batch/{batchId}/failures.json": {
      "get": {
        "tags": [
          "Bulk Import Leads"
        ],
        "summary": "Get Import Lead Failures",
        "description": "Returns the list of failures for the import batch job.  Required Permissions: Read-Write Lead",
        "operationId": "getImportLeadFailuresUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "batchId",
            "in": "path",
            "description": "Id of the import batch job.",
            "x-ms-summary": "Id of the import batch job.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObservableOfInputStreamContent"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-import-lead-failures"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/batch/{batchId}/warnings.json": {
      "get": {
        "tags": [
          "Bulk Import Leads"
        ],
        "summary": "Get Import Lead Warnings",
        "description": "Returns the list of warnings for the import batch job.  Required Permissions: Read-Write Lead",
        "operationId": "getImportLeadWarningsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "batchId",
            "in": "path",
            "description": "Id of the import batch job.",
            "x-ms-summary": "Id of the import batch job.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObservableOfInputStreamContent"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-import-lead-warnings"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/export.json": {
      "get": {
        "tags": [
          "Bulk Export Leads"
        ],
        "summary": "Get Export Lead Jobs",
        "description": "Returns a list of export jobs that were created in the past 7 days.  Required Permissions: Read-Only Lead",
        "operationId": "getExportLeadsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma separated list of statuses to filter on.",
            "x-ms-summary": "Comma separated list of statuses to filter on.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "batchSize",
            "in": "query",
            "description": "The batch size to return. The max and default value is 300.",
            "x-ms-summary": "The batch size to return. The max and default value is 300.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "description": "A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.",
            "x-ms-summary": "The next page token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponseWithToken"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-export-lead-jobs"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/export/create.json": {
      "post": {
        "tags": [
          "Bulk Export Leads"
        ],
        "summary": "Create Export Lead Job",
        "description": "Create export job for search criteria defined via \"filter\" parameter.  Request returns the \"exportId\" which is passed as a parameter in subsequent calls to Bulk Export Leads endpoints.  Use Enqueue Export Lead Job endpoint to queue the export job for processing.  Use Get Export Lead Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead",
        "operationId": "createExportLeadsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "exportLeadRequest",
            "description": "exportLeadRequest<br><br>ColumnHeaderNames: A JSON object containing key-value pairs of field and column header names.<br><br>Example:<br><code>\"columnHeaderNames\":{<br>  \"firstName\":\"First Name\",<br>  \"lastName\":\"Last Name\",<br>  \"email\":\"Email Address\"<br>}</code><br>",
            "x-ms-summary": "A JSON object containing key-value pairs of field and column header names",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExportLeadRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#create-export-lead-job"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/export/{exportId}/cancel.json": {
      "post": {
        "tags": [
          "Bulk Export Leads"
        ],
        "summary": "Cancel Export Lead Job",
        "description": "Cancel export job.  Required Permissions: Read-Only Lead",
        "operationId": "cancelExportLeadsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "exportId",
            "in": "path",
            "description": "Id of export batch job.",
            "x-ms-summary": "Id of export batch job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#cancel-export-lead-job"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/export/{exportId}/enqueue.json": {
      "post": {
        "tags": [
          "Bulk Export Leads"
        ],
        "summary": "Enqueue Export Lead Job",
        "description": "Enqueue export job. This will place export job in queue, and will start the job when computing resources become available.  The export job must be in \"Created\" state.  Use Get Export Lead Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead",
        "operationId": "enqueueExportLeadsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "exportId",
            "in": "path",
            "description": "Id of export batch job.",
            "x-ms-summary": "Id of export batch job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#enqueue-export-lead-job"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/export/{exportId}/file.json": {
      "get": {
        "tags": [
          "Bulk Export Leads"
        ],
        "summary": "Get Export Lead File",
        "description": "Returns the file content of an export job.  The export job must be in \"Completed\" state.  Use Get Export Lead Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead<br><br>The file format is specified by calling the Create Export Lead Job endpoint. The following is an example of the default file format (\"CSV\").<br><br><code>firstName,lastName,email</code><br><code>Marvin,Gaye,marvin.gaye@motown.com</code>",
        "operationId": "getExportLeadsFileUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "exportId",
            "in": "path",
            "description": "Id of export batch job.",
            "x-ms-summary": "Id of export batch job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "description": "To support partial retrieval of extracted data, the HTTP header \"Range\" of type \"bytes\" may be specified.  See RFC 2616 \"Range Retrieval Requests\" for more information. If the header is not set, the entire contents will be returned.",
            "x-ms-summary": "To support partial retrieval of extracted data",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObservableOfInputStreamRangeContent"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-export-lead-file"
        }
      }
    },
    "/{connectionId}/bulk/v1/leads/export/{exportId}/status.json": {
      "get": {
        "tags": [
          "Bulk Export Leads"
        ],
        "summary": "Get Export Lead Job Status",
        "description": "Returns status of an export job.  Job status is available for 30 days after Completed or Failed status was reached. Required Permissions: Read-Only Lead",
        "operationId": "getExportLeadsStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "exportId",
            "in": "path",
            "description": "Id of export batch job.",
            "x-ms-summary": "Id of export batch job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-export-lead-job-status"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/{programId}/members/import.json": {
      "post": {
        "tags": [
          "Bulk Import Program Members"
        ],
        "summary": "Import Program Members",
        "description": "Imports a file containing data records into the target instance.  Required Permissions: Read-Write Lead",
        "operationId": "importProgramMemberUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "programId",
            "in": "path",
            "description": "Id of the program to add members to.",
            "x-ms-summary": "Id of the program to add members to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "programMemberStatus",
            "in": "query",
            "description": "Program member status for members being added.",
            "x-ms-summary": "Program member status for members being added.",
            "required": true,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Import file format.",
            "x-ms-summary": "Import file format.",
            "required": true,
            "type": "string",
            "enum": [
              "CSV",
              "TSV",
              "SSV"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "description": "File containing the data records to import.",
            "x-ms-summary": "File containing the data records to import.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfImportProgramMemberResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#import-program-members"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/members/import/{batchId}/failures.json": {
      "get": {
        "tags": [
          "Bulk Import Program Members"
        ],
        "summary": "Get Import Program Member Failures",
        "description": "Returns the list of failures for the import batch job.  Required Permissions: Read-Write Lead",
        "operationId": "getImportProgramMemberFailuresUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "batchId",
            "in": "path",
            "description": "Id of the import batch job.",
            "x-ms-summary": "Id of the import batch job.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObservableOfInputStreamContent"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-import-program-member-failures"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/members/import/{batchId}/status.json": {
      "get": {
        "tags": [
          "Bulk Import Program Members"
        ],
        "summary": "Get Import Program Member Status",
        "description": "Returns the status of an import batch job.  Required Permissions: Read-Write Lead",
        "operationId": "getImportProgramMemberStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "batchId",
            "in": "path",
            "description": "Id of the import batch job.",
            "x-ms-summary": "Id of the import batch job.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfImportProgramMemberResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-import-program-member-status"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/members/import/{batchId}/warnings.json": {
      "get": {
        "tags": [
          "Bulk Import Program Members"
        ],
        "summary": "Get Import Program Member Warnings",
        "description": "Returns the list of warnings for the import batch job.  Required Permissions: Read-Write Lead",
        "operationId": "getImportProgramMemberWarningsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "batchId",
            "in": "path",
            "description": "Id of the import batch job.",
            "x-ms-summary": "Id of the import batch job.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObservableOfInputStreamContent"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-import-program-member-warnings"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/members/export.json": {
      "get": {
        "tags": [
          "Bulk Export Program Members"
        ],
        "summary": "Get Export Program Member Jobs",
        "description": "Returns a list of export jobs that were created in the past 7 days.  Required Permissions: Read-Only Lead",
        "operationId": "getExportProgramMembersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma separated list of statuses to filter on.",
            "x-ms-summary": "Comma separated list of statuses to filter on.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "batchSize",
            "in": "query",
            "description": "The batch size to return. The max and default value is 300.",
            "x-ms-summary": "The batch size to return. The max and default value is 300.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "description": "A token will be returned by this endpoint if the result set is greater than the batch size and can be passed in a subsequent call through this parameter. See Paging Tokens for more info.",
            "x-ms-summary": "Will be returned by this endpoint if result set is greater than batch size.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponseWithToken"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-export-program-member-jobs"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/members/export/create.json": {
      "post": {
        "tags": [
          "Bulk Export Program Members"
        ],
        "summary": "Create Export Program Member Job",
        "description": "Create export job for search criteria defined via \"filter\" parameter.  Request returns the \"exportId\" which is passed as a parameter in subsequent calls to Bulk Export Program Members endpoints.",
        "operationId": "createExportProgramMembersUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "exportProgramMemberRequest",
            "description": "exportProgramMemberRequest<br><br>ColumnHeaderNames: A JSON object containing key-value pairs of field and column header names.<br><br>Example:<br><code>\"columnHeaderNames\":{<br>  \"firstName\":\"First Name\",<br>  \"lastName\":\"Last Name\",<br>  \"email\":\"Email Address\"<br>}</code><br>",
            "x-ms-summary": "Object containing key-value pairs of field and column header names.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExportProgramMemberRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#create-export-program-member-job"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/members/export/{exportId}/cancel.json": {
      "post": {
        "tags": [
          "Bulk Export Program Members"
        ],
        "summary": "Cancel Export Program Member Job",
        "description": "Cancel export job.  Required Permissions: Read-Only Lead",
        "operationId": "cancelExportProgramMembersUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "exportId",
            "in": "path",
            "description": "Id of export batch job.",
            "x-ms-summary": "Id of export batch job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#cancel-export-program-member-job"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/members/export/{exportId}/enqueue.json": {
      "post": {
        "tags": [
          "Bulk Export Program Members"
        ],
        "summary": "Enqueue Export Program Member Job",
        "description": "Enqueue export job. This will place export job in queue, and will start the job when computing resources become available.  The export job must be in \"Created\" state.",
        "operationId": "enqueueExportProgramMembersUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "exportId",
            "in": "path",
            "description": "Id of export batch job.",
            "x-ms-summary": "Id of batch job.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseOfExportResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#enqueue-export-program-member-job"
        }
      }
    },
    "/{connectionId}/bulk/v1/program/members/export/{exportId}/file.json": {
      "get": {
        "tags": [
          "Bulk Export Program Members"
        ],
        "summary": "Get Export Program Member File",
        "description": "Returns the file content of an export job.  The export job must be in \"Completed\" state.  Use Get Export Program Member Job Status endpoint to retrieve status of export job.  Required Permissions: Read-Only Lead<br><br>The file format is specified by calling the Create Export Program Member Job endpoint. The following is an example of the default file format (\"CSV\").<br><br><code>firstName,lastName,email</code><br><code>Marvin,Gaye,marvin.gaye@motown.com</code>",
        "operationId": "getExportProgramMembersFileUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "exportId",
            "in": "path",
            "description": "Id of export batch job.",
            "x-ms-summary": "Id of export batch job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Range",
            "in": "header",
            "description": "To support partial retrieval of extracted data, the HTTP header \"Range\" of type \"bytes\" may be specified.  See RFC 2616 \"Range Retrieval Requests\" for more information. If the header is not set, the entire contents will be returned.",
            "x-ms-summary": "To support partial retrieval of extracted data.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObservableOfInputStreamRangeContent"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/marketoma/#get-export-program-member-file"
        }
      }
    },
[...]
