{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Outlook.com",
    "description": "Outlook.com connector allows you to manage your mail, calendars, and contacts. You can perform various actions such as send mail, schedule meetings, add contacts, etc.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/outlook",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets/calendars/tables/{table}": {
      "get": {
        "tags": [
          "CalendarsTableMetadata"
        ],
        "summary": "Get calendar metadata",
        "description": "This operation gets metadata for a calendar.",
        "operationId": "CalendarGetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a calendar.",
            "required": true,
            "x-ms-summary": "Folder id",
            "x-ms-dynamic-values": {
              "operationId": "CalendarGetTables",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#get-calendar-metadata"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/contacts/tables/{table}": {
      "get": {
        "tags": [
          "ContactsTableMetadata"
        ],
        "summary": "Get folder metadata",
        "description": "This operation gets metadata for a contacts folder.",
        "operationId": "ContactGetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a contacts folder.",
            "required": true,
            "x-ms-summary": "Folder id",
            "x-ms-dynamic-values": {
              "operationId": "ContactGetTables",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#get-folder-metadata"
        }
      }
    },
    "/{connectionId}/Events/OnUpcomingEvents": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "When an upcoming event is starting soon",
        "description": "This operation triggers a flow when an upcoming calendar event is starting.",
        "operationId": "OnUpcomingEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "query",
            "description": "Unique identifier of the calendar.",
            "required": true,
            "x-ms-summary": "Calendar Id",
            "x-ms-dynamic-values": {
              "operationId": "CalendarGetTables",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "lookAheadTimeInMinutes",
            "in": "query",
            "description": "Time (in minutes) to look ahead for upcoming events.",
            "required": false,
            "x-ms-summary": "Look-Ahead Time",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 15
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/CalendarEventList"
            }
          },
          "202": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a calendar item that is starting soon.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CalendarGetOnSoonEvents",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-an-upcoming-event-is-starting-soon-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/Events/OnUpcomingEvents": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "When an upcoming event is starting soon (V2)",
        "description": "This operation triggers a flow when an upcoming calendar event is starting.",
        "operationId": "OnUpcomingEventsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "query",
            "description": "Unique identifier of the calendar.",
            "required": true,
            "x-ms-summary": "Calendar Id",
            "x-ms-dynamic-values": {
              "operationId": "CalendarGetTables",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "lookAheadTimeInMinutes",
            "in": "query",
            "description": "Time (in minutes) to look ahead for upcoming events.",
            "required": false,
            "x-ms-summary": "Look-Ahead Time",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 15
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/CalendarEventListClientReceive"
            }
          },
          "202": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a calendar item that is starting soon.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CalendarGetOnSoonEvents",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-an-upcoming-event-is-starting-soon-(v2)"
        }
      }
    },
    "/{connectionId}/Events/CalendarView": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get calendar view of events",
        "description": "Get calendar view of events.",
        "operationId": "GetEventsCalendarView",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "calendarId",
            "in": "query",
            "description": "Select a calendar.",
            "required": true,
            "x-ms-summary": "Calendar Id",
            "x-ms-dynamic-values": {
              "operationId": "CalendarGetTables",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "startDateTimeOffset",
            "in": "query",
            "description": "Start time (example: '2017-01-01T08:00:00-07:00').",
            "required": true,
            "x-ms-summary": "Start Time",
            "type": "string"
          },
          {
            "name": "endDateTimeOffset",
            "in": "query",
            "description": "End time (example: '2017-02-01T08:00:00-07:00').",
            "required": true,
            "x-ms-summary": "End Time",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaginatedListResponse[CalendarEventClientReceiveStringEnums]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetEventsCalendarView",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#get-calendar-view-of-events-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/{table}/EventSubscriptionPoke/$subscriptions": {
      "post": {
        "tags": [
          "EventSubscription"
        ],
        "summary": "When an event is added, updated or deleted in a calendar - Outlook subscription",
        "description": "Create an Outlook webhook subscription for the trigger when an event is added, updated or deleted in a calendar.",
        "operationId": "CreateOnChangedEventPokeSubscription",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "The subscription.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscription"
            },
            "x-ms-summary": "The subscription"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Select a calendar.",
            "required": true,
            "x-ms-summary": "Calendar id",
            "x-ms-dynamic-values": {
              "operationId": "CalendarGetTables",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "incomingDays",
            "in": "query",
            "description": "Number of incoming days in calendar to be tracked.",
            "required": false,
            "x-ms-summary": "Incoming Days Tracked",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 300
          },
          {
            "name": "pastDays",
            "in": "query",
            "description": "Number of past days in calendar to be tracked.",
            "required": false,
            "x-ms-summary": "Past Days Tracked",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 50
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription Created",
            "schema": {
              "$ref": "#/definitions/SubscriptionResponse"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-an-event-is-added%2c-updated-or-deleted-in-a-calendar---outlook-subscription"
        }
      },
      "x-ms-notification-content": {
        "description": "Poke notification",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/EventSubscription/$subscriptions/{id}": {
      "delete": {
        "tags": [
          "EventSubscription"
        ],
        "summary": "Delete event subscription",
        "description": "This operation deletes an event subscription.",
        "operationId": "DeleteEventSubscription",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of subscription to be deleted.",
            "required": true,
            "x-ms-summary": "Id of subscription to be deleted",
            "type": "string"
          },
          {
            "name": "options",
            "in": "query",
            "description": "Subscription options.",
            "required": true,
            "x-ms-summary": "Subscription options",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#delete-event-subscription"
        }
      },
      "patch": {
        "tags": [
          "EventSubscription"
        ],
        "summary": "Update web hook",
        "description": "Update web hook with renew interval.",
        "operationId": "RenewEventSubscription",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of subscription to be renewed.",
            "required": true,
            "x-ms-summary": "Id of subscription to be renewed",
            "type": "string"
          },
          {
            "name": "options",
            "in": "query",
            "description": "Subscription options.",
            "required": true,
            "x-ms-summary": "Subscription options",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "The subscription.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscription"
            },
            "x-ms-summary": "The subscription"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Subscription Created"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#update-web-hook"
        }
      }
    },
    "/{connectionId}/OnFilePickerOpen": {
      "get": {
        "tags": [
          "FilePicker"
        ],
        "summary": "When the file picker is opened for the first time",
        "description": "When the file picker is opened for the first time.",
        "operationId": "OnFilePickerOpen",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "operation",
            "in": "query",
            "description": "Name of the operation.",
            "required": true,
            "x-ms-summary": "Name of the operation",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Limit on the number of results to return.",
            "required": false,
            "x-ms-summary": "Limit on the number of results to return",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip.",
            "required": false,
            "x-ms-summary": "Number of results to skip",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "mailboxAddress",
            "in": "query",
            "description": "Mailbox to perform operations for.",
            "required": false,
            "x-ms-summary": "Mailbox to perform operations for",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityListResponse[FilePickerFile]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-the-file-picker-is-opened-for-the-first-time"
        }
      }
    },
    "/{connectionId}/OnFilePickerBrowse": {
      "get": {
        "tags": [
          "FilePicker"
        ],
        "summary": "When the file picker is open and being browsed",
        "description": "When the file picker is open and being browsed.",
        "operationId": "OnFilePickerBrowse",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "operation",
            "in": "query",
            "description": "Name of the operation.",
            "required": true,
            "x-ms-summary": "Name of the operation",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Id of the previously selected item.",
            "required": true,
            "x-ms-summary": "Id of the previously selected item",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Limit on the number of results to return.",
            "required": false,
            "x-ms-summary": "Limit on the number of results to return",
            "type": "integer",
            "format": "int32",
            "default": 100
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of results to skip.",
            "required": false,
            "x-ms-summary": "Number of results to skip",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "mailboxAddress",
            "in": "query",
            "description": "Mailbox to perform operations for.",
            "required": false,
            "x-ms-summary": "Mailbox to perform operations for",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityListResponse[FilePickerFile]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-the-file-picker-is-open-and-being-browsed"
        }
      }
    },
    "/{connectionId}/Mail": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "Get emails",
        "description": "This operation gets emails from a folder.",
        "operationId": "GetEmails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Mail folder to retrieve emails from (default: 'Inbox').",
            "required": false,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "operation": "MailFolders",
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "OnFilePickerOpen",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              },
              "browse": {
                "operationId": "OnFilePickerBrowse",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              }
            },
            "type": "string",
            "default": "Inbox"
          },
          {
            "name": "fetchOnlyUnread",
            "in": "query",
            "description": "Retrieve only unread emails?.",
            "required": false,
            "x-ms-summary": "Fetch Only Unread Messages",
            "type": "boolean",
            "default": true
          },
          {
            "name": "includeAttachments",
            "in": "query",
            "description": "If set to true, attachments content will also be retrieved along with the email.",
            "required": false,
            "x-ms-summary": "Include Attachments",
            "type": "boolean",
            "default": false
          },
          {
            "name": "searchQuery",
            "in": "query",
            "description": "Search query (like in the Outlook client) to filter emails.",
            "required": false,
            "x-ms-summary": "Search Query",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Number of emails to retrieve (default: 10).",
            "required": false,
            "x-ms-summary": "Top",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Number of emails to skip (default: 0).",
            "required": false,
            "x-ms-summary": "Skip",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ClientReceiveMessageStringEnums"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetEmails",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#get-emails-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Send an email",
        "description": "This operation sends an email message.",
        "operationId": "SendEmail",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "emailMessage",
            "in": "body",
            "description": "Email.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSendMessage"
            },
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendEmail",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#send-an-email-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/Mail": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "Get emails (V2)",
        "description": "This operation gets emails from a folder.",
        "operationId": "GetEmailsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Mail folder to retrieve emails from (default: 'Inbox').",
            "required": false,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "operation": "MailFolders",
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "OnFilePickerOpen",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              },
              "browse": {
                "operationId": "OnFilePickerBrowse",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              }
            },
            "type": "string",
            "default": "Inbox"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "cc",
            "in": "query",
            "description": "CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "toOrCc",
            "in": "query",
            "description": "To or CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To or CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Sender email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "From",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "importance",
            "in": "query",
            "description": "Importance of the email (Any, High, Normal, Low).",
            "required": false,
            "x-ms-summary": "Importance",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Any",
            "enum": [
              "Any",
              "Low",
              "Normal",
              "High"
            ]
          },
          {
            "name": "fetchOnlyWithAttachment",
            "in": "query",
            "description": "If set to true, only emails with an attachment will be retrieved. Emails without any attachments will be skipped. If set to false, all emails will be retrieved.",
            "required": false,
            "x-ms-summary": "Only with Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "subjectFilter",
            "in": "query",
            "description": "String to look for in the subject line.",
            "required": false,
            "x-ms-summary": "Subject Filter",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "fetchOnlyUnread",
            "in": "query",
            "description": "Retrieve only unread emails?.",
            "required": false,
            "x-ms-summary": "Fetch Only Unread Messages",
            "type": "boolean",
            "default": true
          },
          {
            "name": "fetchOnlyFlagged",
            "in": "query",
            "description": "Retrieve only flagged emails?.",
            "required": false,
            "x-ms-summary": "Fetch Only Flagged Messages",
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": false
          },
          {
            "name": "mailboxAddress",
            "in": "query",
            "description": "Address of the shared mailbox.",
            "required": false,
            "x-ms-summary": "Original Mailbox Address",
            "x-ms-visibility": "internal",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string"
          },
          {
            "name": "includeAttachments",
            "in": "query",
            "description": "If set to true, attachments content will also be retrieved along with the email.",
            "required": false,
            "x-ms-summary": "Include Attachments",
            "type": "boolean",
            "default": false
          },
          {
            "name": "searchQuery",
            "in": "query",
            "description": "Search query to filter emails. How to use '$search' parameter please refer to: https://docs.microsoft.com/previous-versions/office/office-365-api/api/version-2.0/complex-types-for-mail-contacts-calendar#search-requests.",
            "required": false,
            "x-ms-summary": "Search Query",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Number of emails to retrieve (default: 10).",
            "required": false,
            "x-ms-summary": "Top",
            "type": "integer",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/BatchResponse[ClientReceiveMessage]"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetEmails",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#get-emails-(v2)"
        }
      },
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Send an email (V2)",
        "description": "This operation sends an email message.",
        "operationId": "SendEmailV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "emailMessage",
            "in": "body",
            "description": "Email.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSendHtmlMessage"
            },
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendEmail",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#send-an-email-(v2)"
        }
      }
    },
    "/{connectionId}/Mail/{messageId}": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "Get email",
        "description": "This operation gets an email by id.",
        "operationId": "GetEmail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          },
          {
            "name": "includeAttachments",
            "in": "query",
            "description": "If set to true, attachments content will also be retrieved along with the email.",
            "required": false,
            "x-ms-summary": "Include Attachments",
            "type": "boolean",
            "default": false
          },
          {
            "name": "internetMessageId",
            "in": "query",
            "description": "Internet Message Id.",
            "required": false,
            "x-ms-summary": "Internet Message Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/ClientReceiveMessage"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#get-email"
        }
      },
      "delete": {
        "tags": [
          "Mail"
        ],
        "summary": "Delete email",
        "description": "This operation deletes an email by id.",
        "operationId": "DeleteEmail",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email to delete.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#delete-email"
        }
      }
    },
    "/{connectionId}/Mail/Move/{messageId}": {
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Move email",
        "description": "This operation moves an email to the specified folder.",
        "operationId": "Move",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email to be moved.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Mail folder to move the email to.",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "operation": "MailFolders",
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "OnFilePickerOpen",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              },
              "browse": {
                "operationId": "OnFilePickerBrowse",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/ClientReceiveMessageStringEnums"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#move-email"
        }
      }
    },
    "/{connectionId}/Mail/Flag/{messageId}": {
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Flag email",
        "description": "This operation flags an email.",
        "operationId": "Flag",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email to be flagged.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#flag-email"
        }
      }
    },
    "/{connectionId}/Mail/MarkAsRead/{messageId}": {
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Mark as read",
        "description": "This operation marks an email as having been read.",
        "operationId": "MarkAsRead",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email to be marked as read.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#mark-as-read"
        }
      }
    },
    "/{connectionId}/Mail/ReplyTo/{messageId}": {
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Reply to email",
        "description": "This operation replies to an email.",
        "operationId": "ReplyTo",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email to reply to.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          },
          {
            "name": "comment",
            "in": "query",
            "description": "Reply comment.",
            "required": true,
            "x-ms-summary": "Comment",
            "type": "string"
          },
          {
            "name": "replyAll",
            "in": "query",
            "description": "Reply to all recipients.",
            "required": false,
            "x-ms-summary": "Reply All",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ReplyTo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#reply-to-email-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/Mail/ReplyTo/{messageId}": {
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Reply to email (V2)",
        "description": "This operation replies to an email.",
        "operationId": "ReplyToV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email to reply to.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          },
          {
            "name": "replyParameters",
            "in": "body",
            "description": "Details of the email reply.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplyMessage"
            },
            "x-ms-summary": "Details of the email reply."
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ReplyTo",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#reply-to-email-(v2)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v3/Mail/ReplyTo/{messageId}": {
      "post": {
        "tags": [
          "Mail"
        ],
        "summary": "Reply to email (V3)",
        "description": "This operation replies to an email.",
        "operationId": "ReplyToV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email to reply to.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          },
          {
            "name": "replyParameters",
            "in": "body",
            "description": "Details of the email reply.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplyHtmlMessage"
            },
            "x-ms-summary": "Details of the email reply."
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ReplyTo",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#reply-to-email-(v3)"
        }
      }
    },
    "/{connectionId}/Mail/{messageId}/Attachments/{attachmentId}": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "Get attachment",
        "description": "This operation gets an email attachment by id.",
        "operationId": "GetAttachment",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageId",
            "in": "path",
            "description": "Id of the email.",
            "required": true,
            "x-ms-summary": "Message Id",
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Id of the attachment to download.",
            "required": true,
            "x-ms-summary": "Attachment Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#get-attachment"
        }
      }
    },
    "/{connectionId}/Mail/OnNewEmail": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "When a new email arrives",
        "description": "This operation triggers a flow when a new email arrives. It will skip any email that has a total message size greater than the limit put by your Exchange Admin or 50 MB, whichever is less. It may also skip protected emails and emails with invalid body or attachments.",
        "operationId": "OnNewEmail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Mail folder to check for new emails.",
            "required": false,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "operation": "MailFolders",
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "OnFilePickerOpen",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              },
              "browse": {
                "operationId": "OnFilePickerBrowse",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              }
            },
            "type": "string",
            "default": "Inbox"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "cc",
            "in": "query",
            "description": "CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "toOrCc",
            "in": "query",
            "description": "To or CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To or CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Sender email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "From",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "importance",
            "in": "query",
            "description": "Importance of the email (Any, High, Normal, Low).",
            "required": false,
            "x-ms-summary": "Importance",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Any",
            "enum": [
              "Any",
              "Low",
              "Normal",
              "High"
            ]
          },
          {
            "name": "fetchOnlyWithAttachment",
            "in": "query",
            "description": "If set to true, only emails with an attachment will be retrieved. Emails without any attachments will be skipped. If set to false, all emails will be retrieved.",
            "required": false,
            "x-ms-summary": "Only with Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeAttachments",
            "in": "query",
            "description": "Should the response of the trigger include the attachments content.",
            "required": false,
            "x-ms-summary": "Include Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "subjectFilter",
            "in": "query",
            "description": "String to look for in the subject line.",
            "required": false,
            "x-ms-summary": "Subject Filter",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "x-ms-operation-context",
            "in": "header",
            "description": "Special header to enable operation simulation.",
            "required": false,
            "x-ms-summary": "x-ms-operation-context",
            "x-ms-visibility": "internal",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/TriggerBatchResponse[ClientReceiveMessage]"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, send a new email in your inbox.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewEmail",
          "revision": 1
        },
        "x-ms-operation-context": {
          "simulate": {
            "operationId": "GetEmailsV2",
            "parameters": {
              "top": 1,
              "fetchOnlyUnread": false
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-a-new-email-arrives-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/Mail/OnNewEmail": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "When a new email arrives (V2)",
        "description": "This operation triggers a flow when a new email arrives. It will skip any email that has a total message size greater than the limit put by your Exchange Admin or 50 MB, whichever is less. It may also skip protected emails and emails with invalid body or attachments.",
        "operationId": "OnNewEmailV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Mail folder to check for new emails.",
            "required": false,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "operation": "MailFolders",
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "OnFilePickerOpen",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              },
              "browse": {
                "operationId": "OnFilePickerBrowse",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              }
            },
            "type": "string",
            "default": "Inbox"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "cc",
            "in": "query",
            "description": "CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "toOrCc",
            "in": "query",
            "description": "To or CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To or CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Sender email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "From",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "importance",
            "in": "query",
            "description": "Importance of the email (Any, High, Normal, Low).",
            "required": false,
            "x-ms-summary": "Importance",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Any",
            "enum": [
              "Any",
              "Low",
              "Normal",
              "High"
            ]
          },
          {
            "name": "fetchOnlyWithAttachment",
            "in": "query",
            "description": "If set to true, only emails with an attachment will be retrieved. Emails without any attachments will be skipped. If set to false, all emails will be retrieved.",
            "required": false,
            "x-ms-summary": "Only with Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeAttachments",
            "in": "query",
            "description": "Should the response of the trigger include the attachments content.",
            "required": false,
            "x-ms-summary": "Include Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "subjectFilter",
            "in": "query",
            "description": "String to look for in the subject line.",
            "required": false,
            "x-ms-summary": "Subject Filter",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "x-ms-operation-context",
            "in": "header",
            "description": "Special header to enable operation simulation.",
            "required": false,
            "x-ms-summary": "x-ms-operation-context",
            "x-ms-visibility": "internal",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/TriggerBatchResponse[ClientReceiveMessage]"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, send a new email in your inbox.",
        "x-ms-notification": {
          "operationId": "CreateOnNewEmailPokeSubscription"
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewEmail",
          "revision": 2
        },
        "x-ms-operation-context": {
          "simulate": {
            "operationId": "GetEmailsV2",
            "parameters": {
              "top": 1,
              "fetchOnlyUnread": false
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-a-new-email-arrives-(v2)"
        }
      }
    },
    "/{connectionId}/Mail/OnFlaggedEmail": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "When an email is flagged",
        "description": "This operation triggers a flow when an email is flagged.",
        "operationId": "OnFlaggedEmail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Mail folder to check for new emails.",
            "required": false,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "operation": "MailFolders",
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "OnFilePickerOpen",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              },
              "browse": {
                "operationId": "OnFilePickerBrowse",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              }
            },
            "type": "string",
            "default": "Inbox"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "cc",
            "in": "query",
            "description": "CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "toOrCc",
            "in": "query",
            "description": "To or CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To or CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Sender email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "From",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "importance",
            "in": "query",
            "description": "Importance of the email (Any, High, Normal, Low).",
            "required": false,
            "x-ms-summary": "Importance",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Any",
            "enum": [
              "Any",
              "Low",
              "Normal",
              "High"
            ]
          },
          {
            "name": "fetchOnlyWithAttachment",
            "in": "query",
            "description": "If set to true, only emails with an attachment will be retrieved. Emails without any attachments will be skipped. If set to false, all emails will be retrieved.",
            "required": false,
            "x-ms-summary": "Only with Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeAttachments",
            "in": "query",
            "description": "Should the response of the trigger include the attachments content.",
            "required": false,
            "x-ms-summary": "Include Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "subjectFilter",
            "in": "query",
            "description": "String to look for in the subject line.",
            "required": false,
            "x-ms-summary": "Subject Filter",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/TriggerBatchResponse[ClientReceiveMessage]"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, flag an email in your inbox.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnFlaggedEmail",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-an-email-is-flagged-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/Mail/OnFlaggedEmail": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "When an email is flagged (V2)",
        "description": "This operation triggers a flow when an email is flagged.",
        "operationId": "OnFlaggedEmailV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Mail folder to check for new emails.",
            "required": false,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "operation": "MailFolders",
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "OnFilePickerOpen",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              },
              "browse": {
                "operationId": "OnFilePickerBrowse",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              }
            },
            "type": "string",
            "default": "Inbox"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "cc",
            "in": "query",
            "description": "CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "toOrCc",
            "in": "query",
            "description": "To or CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To or CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Sender email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "From",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "importance",
            "in": "query",
            "description": "Importance of the email (Any, High, Normal, Low).",
            "required": false,
            "x-ms-summary": "Importance",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Any",
            "enum": [
              "Any",
              "Low",
              "Normal",
              "High"
            ]
          },
          {
            "name": "fetchOnlyWithAttachment",
            "in": "query",
            "description": "If set to true, only emails with an attachment will be retrieved. Emails without any attachments will be skipped. If set to false, all emails will be retrieved.",
            "required": false,
            "x-ms-summary": "Only with Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeAttachments",
            "in": "query",
            "description": "Should the response of the trigger include the attachments content.",
            "required": false,
            "x-ms-summary": "Include Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "subjectFilter",
            "in": "query",
            "description": "String to look for in the subject line.",
            "required": false,
            "x-ms-summary": "Subject Filter",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/TriggerBatchResponse[ClientReceiveMessage]"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, flag an email in your inbox.",
        "x-ms-notification": {
          "operationId": "CreateOnFlaggedEmailPokeSubscription"
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnFlaggedEmail",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-an-email-is-flagged-(v2)"
        }
      }
    },
    "/{connectionId}/Mail/OnNewMentionMeEmail": {
      "get": {
        "tags": [
          "Mail"
        ],
        "summary": "When a new email mentioning me arrives",
        "description": "This operation triggers a flow when a new email mentioning me arrives. It will skip any email that has a total message size greater than the limit put by your Exchange Admin or 50 MB, whichever is less. It may also skip protected emails and emails with invalid body or attachments.",
        "operationId": "OnNewMentionMeEmail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageIdToFireOnFirstTriggerRun",
            "in": "query",
            "description": "Id of message to fire on first trigger run if supplied.",
            "required": false,
            "x-ms-summary": "Message Id to Fire on First Trigger Run",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Mail folder to check for new emails.",
            "required": false,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "operation": "MailFolders",
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "OnFilePickerOpen",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              },
              "browse": {
                "operationId": "OnFilePickerBrowse",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "itemsPath": "value",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  },
                  "operation": {
                    "value": "MailFolders"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "cc",
            "in": "query",
            "description": "CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "toOrCc",
            "in": "query",
            "description": "To or CC recipient email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "To or CC",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Sender email addresses separated by semicolons (If any match, the trigger will run).",
            "required": false,
            "x-ms-summary": "From",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "builtInOperation": "AadGraph.GetUsers",
              "parameters": {},
              "value-path": "mail"
            },
            "type": "string",
            "format": "email"
          },
          {
            "name": "importance",
            "in": "query",
            "description": "Importance of the email (Any, High, Normal, Low).",
            "required": false,
            "x-ms-summary": "Importance",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Any",
            "enum": [
              "Any",
              "Low",
              "Normal",
              "High"
            ]
          },
          {
            "name": "fetchOnlyWithAttachment",
            "in": "query",
            "description": "If set to true, only emails with an attachment will be retrieved. Emails without any attachments will be skipped. If set to false, all emails will be retrieved.",
            "required": false,
            "x-ms-summary": "Only with Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "includeAttachments",
            "in": "query",
            "description": "Should the response of the trigger include the attachments content.",
            "required": false,
            "x-ms-summary": "Include Attachments",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "subjectFilter",
            "in": "query",
            "description": "String to look for in the subject line.",
            "required": false,
            "x-ms-summary": "Subject Filter",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/TriggerBatchResponse[ClientReceiveMessage]"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, send a new email to your inbox which mentions you.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewMentionMeEmail",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outlook/#when-a-new-email-mentioning-me-arrives-%5bdeprecated%5d"
        }
      }
    },
[...]
