{
  "swagger": "2.0",
  "info": {
    "version": "3.0.0",
    "title": "Weavo Liquid Loom",
    "description": "The Weavo Liquid Loom connector uses AI to auto-generate Liquid templates for seamless data conversion across formats like EDI (D96A, X12, EDIFACT, EANCOM) to JSON, XML, and Text. It also supports standard conversions between JSON, XML, CSV, and Text. Get your API key and AI-generated templates at weavo.dev.",
    "contact": {
      "name": "Weavo Support",
      "url": "https://support.weavo.net",
      "email": "support@weavo.net"
    },
    "license": {
      "name": "Requires a 'Weavo Liquid Loom' subscription",
      "url": "https://weavo.dev/#signup"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/weavoliquidloom",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/plain"
  ],
  "produces": [
    "application/json",
    "text/plain"
  ],
  "paths": {
    "/{connectionId}/api/CsvToJson": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JSON format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in JSON format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "CSV to JSON",
        "operationId": "CsvToJson",
        "x-ms-visibility": "important",
        "description": "Transform Input csv using the Liquid template code. Output in JSON",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in csv format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#csv-to-json"
        }
      }
    },
    "/{connectionId}/api/CsvToText": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in Text format",
            "schema": {
              "type": "string",
              "description": "Dynamic output in Text format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "CSV to Text",
        "operationId": "CsvToText",
        "x-ms-visibility": "important",
        "description": "Transform Input csv using the Liquid template code. Output in Text",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in csv format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#csv-to-text"
        }
      }
    },
    "/{connectionId}/api/CsvToXml": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in XML format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in XML format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "CSV to XML",
        "operationId": "CsvToXml",
        "x-ms-visibility": "important",
        "description": "Transform Input csv using the Liquid template code. Output in XML",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in csv format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#csv-to-xml"
        }
      }
    },
    "/{connectionId}/api/JsonToJson": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JSON format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in JSON format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "JSON to JSON",
        "operationId": "JsonToJson",
        "x-ms-visibility": "important",
        "description": "Transform Input JSON using the Liquid template code. Output in JSON",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in JSON format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#json-to-json"
        }
      }
    },
    "/{connectionId}/api/JsonToText": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JsonToText format",
            "schema": {
              "type": "string",
              "description": "Dynamic output in Text format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "JSON to Text",
        "operationId": "JsonToText",
        "x-ms-visibility": "important",
        "description": "Transform Input JSON using the Liquid template code. Output in Text",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in JSON format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#json-to-text"
        }
      }
    },
    "/{connectionId}/api/JsonToXml": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in XML format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in XML format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "JSON to XML",
        "operationId": "JsonToXml",
        "x-ms-visibility": "important",
        "description": "Transform Input JSON using the Liquid template code. Output in XML",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in JSON format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#json-to-xml"
        }
      }
    },
    "/{connectionId}/api/XmlToJson": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JSON format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in JSON format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "XML to JSON",
        "operationId": "XmlToJson",
        "x-ms-visibility": "important",
        "description": "Transform Input XML using the Liquid template code. Output in JSON",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in XML format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#xml-to-json"
        }
      }
    },
    "/{connectionId}/api/XmlToText": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in Text format",
            "schema": {
              "type": "string",
              "description": "Dynamic output in Text format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "XML to Text",
        "operationId": "XmlToText",
        "x-ms-visibility": "important",
        "description": "Transform Input XML using the Liquid template code. Output in Text",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in XML format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#xml-to-text"
        }
      }
    },
    "/{connectionId}/api/XmlToXml": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in XML format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in XML format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "XML to XML",
        "operationId": "XmlToXml",
        "x-ms-visibility": "important",
        "description": "Transform Input XML using the Liquid template code. Output in XML",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in XML format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#xml-to-xml"
        }
      }
    },
    "/{connectionId}/api/EdiToJson": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JSON format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in JSON format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Edi to JSON",
        "operationId": "EdiToJson",
        "x-ms-visibility": "important",
        "description": "Transform Input Edi (PRICAT, DESADV etc) using the Liquid template code. Output in JSON",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in Edi format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#edi-to-json"
        }
      }
    },
    "/{connectionId}/api/EdiToText": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in Text format",
            "schema": {
              "type": "string",
              "description": "Dynamic output in Text format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Edi to Text",
        "operationId": "EdiToText",
        "x-ms-visibility": "important",
        "description": "Transform Input Edi using the Liquid template code. Output in Text",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in Edi format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#edi-to-text"
        }
      }
    },
    "/{connectionId}/api/EdiToXml": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in XML format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in XML format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Edi to XML",
        "operationId": "XmlToXml11",
        "x-ms-visibility": "important",
        "description": "Transform Input Edi using the Liquid template code. Output in XML",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in Edi format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/weavoliquidloom/#edi-to-xml"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "description": "Free for life key at www.weavo.dev",
      "in": "header",
      "name": "ApiKey"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://weavo.net"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.weavo.net/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Collaboration"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/weavoliquidloom"
  }
}
