{
  "basePath": "/apim/transform2all",
  "consumes": [],
  "definitions": {},
  "host": "europe-002.azure-apim.net",
  "info": {
    "contact": {
      "email": "apps@gac.nl",
      "name": "GAC Business Solutions",
      "url": "https://www.gac.nl"
    },
    "description": "Transform2All is able to apply transformation schemas to transform the representation of your data from one format (JSON, XML, TXT, ...) to another.",
    "title": "Transform2All",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "parameters": {},
  "paths": {
    "/{connectionId}/api/1.0/config": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get all configuration names",
        "operationId": "GetConfigurations",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "id",
                    "type": "string"
                  },
                  "name": {
                    "description": "name",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "Get Configurations",
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/transform2all/#get-configurations"
        }
      }
    },
    "/{connectionId}/api/1.0/translate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Apply transformation schemas to transform the representation of your data from one format (JSON, XML, TXT, ...) to another.",
        "operationId": "Transform",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "base64Content": {
                  "description": "Content as a base64 string",
                  "title": "Content",
                  "type": "string"
                },
                "configId": {
                  "description": "Configuration to apply",
                  "title": "Configuration",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetConfigurations",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "required": [
                "configId",
                "base64Content"
              ],
              "type": "object"
            },
            "x-ms-visibility": "important"
          }
        ],
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Transformed data",
            "schema": {}
          }
        },
        "summary": "Transform data format",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/transform2all/#transform-data-format"
        }
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gac.nl"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.gac.nl/disclaimer"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/transform2all"
  }
}
