{
  "swagger": "2.0",
  "info": {
    "title": "Bitskout",
    "description": "This Custom connector is used to run Bitskout plugins for a provided file or text",
    "version": "1.0",
    "contact": {
      "name": "Bitskout",
      "email": "admin@bitskout.com",
      "url": "https://www.bitskout.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.bitskout.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.bitskout.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/bitskout",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/plugins": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "unique_id": {
                    "type": "string",
                    "description": "unique_id"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "List Plugins",
        "description": "Retrieves a list of Bitskout plugins",
        "operationId": "ListPlugins",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitskout/#list-plugins"
        }
      }
    },
    "/{connectionId}/run_file": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {},
                  "description": "outputs"
                }
              }
            }
          }
        },
        "summary": "Run Plugin for a File",
        "description": "Run the Bitskout plugin for a Provided file",
        "operationId": "RunPluginForFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "plugin": {
                  "type": "string",
                  "description": "plugin",
                  "title": "Plugin ID",
                  "x-ms-dynamic-values": {
                    "operationId": "ListPlugins",
                    "value-path": "unique_id",
                    "value-title": "name"
                  }
                },
                "file_url": {
                  "type": "string",
                  "description": "file_url"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitskout/#run-plugin-for-a-file"
        }
      }
    },
    "/{connectionId}/run_text": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "outputs": {
                  "type": "object",
                  "properties": {},
                  "description": "outputs"
                }
              }
            }
          }
        },
        "summary": "Run Plugin for a Text",
        "description": "Run the Bitskout plugin for a Provided Text",
        "operationId": "RunPluginText",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "plugin": {
                  "type": "string",
                  "description": "plugin",
                  "title": "Plugin ID",
                  "x-ms-dynamic-values": {
                    "operationId": "ListPlugins",
                    "value-path": "unique_id",
                    "value-title": "name"
                  }
                },
                "text": {
                  "type": "string",
                  "description": "text",
                  "title": "Input Text"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitskout/#run-plugin-for-a-text"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/bitskout"
  }
}
