{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Dynamics 365 Customer Insights",
    "description": "The Dynamics 365 Customer Insights connector provides a set of APIs to interact with Dynamics 365 Customer Insights instances.",
    "contact": {
      "name": "Microsoft"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/customerinsights",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/datasets/{dataset}/report/{reportType}": {
      "post": {
        "tags": [
          "CICustomAction"
        ],
        "summary": "Sends the status report",
        "description": "Sends the status report.",
        "operationId": "SendStatusReport",
        "consumes": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an instance.",
            "required": true,
            "x-ms-summary": "Instance id",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "reportType",
            "in": "path",
            "description": "Select a report type.",
            "required": true,
            "x-ms-summary": "Report type",
            "type": "string",
            "enum": [
              "Export"
            ]
          },
          {
            "name": "payload",
            "in": "body",
            "description": "Status report payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Object"
            },
            "x-ms-summary": "Status report"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#sends-the-status-report"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/reportV2/{reportType}": {
      "post": {
        "tags": [
          "CICustomAction"
        ],
        "summary": "Sends the status report V2",
        "description": "Sends the status report V2.",
        "operationId": "SendStatusReportV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an instance.",
            "required": true,
            "x-ms-summary": "Instance id",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "reportType",
            "in": "path",
            "description": "Select a report type.",
            "required": true,
            "x-ms-summary": "Report type",
            "type": "string",
            "enum": [
              "Export"
            ]
          },
          {
            "name": "payload",
            "in": "body",
            "description": "Status report payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Object"
            },
            "x-ms-summary": "Status report"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#sends-the-status-report-v2"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/onupdateditemscomplete": {
      "get": {
        "tags": [
          "CIPollingTrigger"
        ],
        "summary": "Triggers a flow from the data source when refresh is completed",
        "description": "This operation triggers a flow from the data source when refresh is completed in Dynamics 365 Customer Insights.",
        "operationId": "GetOnDataSourceRefreshComplete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSourcesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, select the data source and refresh in Customer Insight UI",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#triggers-a-flow-from-the-data-source-when-refresh-is-completed"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/onupdateditemsfail": {
      "get": {
        "tags": [
          "CIPollingTrigger"
        ],
        "summary": "Triggers a flow from the data source when refresh is failed",
        "description": "This operation triggers a flow from the data source when refresh is failed in Dynamics 365 Customer Insights.",
        "operationId": "GetOnDataSourceRefreshFail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSourcesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, select the data source and refresh in Customer Insight UI. Will trigger if datasource refresh is failed.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#triggers-a-flow-from-the-data-source-when-refresh-is-failed"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/onupdatedsegment/{segment}/{threshold}": {
      "get": {
        "tags": [
          "CIPollingTrigger"
        ],
        "summary": "Triggers a flow when a segment threshold is crossed",
        "description": "This operation triggers a flow when a segment threshold is crossed in Dynamics 365 Customer Insights.",
        "operationId": "GetOnSegmentUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an instance.",
            "required": true,
            "x-ms-summary": "Instance name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "segment",
            "in": "path",
            "description": "Select a segment.",
            "required": true,
            "x-ms-summary": "Segment name",
            "x-ms-dynamic-values": {
              "operationId": "GetSegments",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "threshold",
            "in": "path",
            "description": "Set any number as threshold.",
            "required": true,
            "x-ms-summary": "Threshold",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SegmentData"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#triggers-a-flow-when-a-segment-threshold-is-crossed"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/onupdatedbusinessmeasure/{measure}/{threshold}": {
      "get": {
        "tags": [
          "CIPollingTrigger"
        ],
        "summary": "Triggers a flow when a business measure threshold is crossed",
        "description": "This operation triggers a flow when a business measure threshold is crossed in Dynamics 365 Customer Insights.",
        "operationId": "GetOnBusinessMeasureUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an instance.",
            "required": true,
            "x-ms-summary": "Instance name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "measure",
            "in": "path",
            "description": "Select a measure.",
            "required": true,
            "x-ms-summary": "Business Measure name",
            "x-ms-dynamic-values": {
              "operationId": "GetBusinessMeasures",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "threshold",
            "in": "path",
            "description": "Set any number as threshold.",
            "required": true,
            "x-ms-summary": "Threshold",
            "type": "number",
            "format": "double"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MeasureData"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#triggers-a-flow-when-a-business-measure-threshold-is-crossed"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/onfulldagrefreshcompleted": {
      "get": {
        "tags": [
          "CIPollingTrigger"
        ],
        "summary": "Triggers a flow when a full refresh of Customer Insights is completed",
        "description": "This operation triggers a flow when a full refresh of Customer Insights (data sources, segments, measures,...) is completed.",
        "operationId": "GetOnFullDagRefreshCompleted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an instance.",
            "required": true,
            "x-ms-summary": "Instance name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FullRefreshProcessData"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#triggers-a-flow-when-a-full-refresh-of-customer-insights-is-completed"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/onprocesscompleted": {
      "get": {
        "tags": [
          "CIPollingTrigger"
        ],
        "summary": "Triggers a flow when a process in Customer Insights is completed",
        "description": "A flow is triggered for scheduled refreshes of selected process. Additionally, you can choose to trigger a flow for manual refreshes.",
        "operationId": "GetOnProcessCompleted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Select an instance.",
            "required": true,
            "x-ms-summary": "Instance name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "process",
            "in": "query",
            "description": "Select a process.",
            "required": false,
            "x-ms-summary": "Process",
            "type": "string",
            "default": "Unification",
            "enum": [
              "Unification"
            ]
          },
          {
            "name": "includingManualRefreshes",
            "in": "query",
            "description": "Select yes if manually triggered process should be included.",
            "required": false,
            "x-ms-summary": "Include manually triggered process",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessData"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#triggers-a-flow-when-a-process-in-customer-insights-is-completed"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/partitions": {
      "get": {
        "tags": [
          "CIStorage"
        ],
        "summary": "Retrieve partitions for an entity",
        "description": "Retrieve partitions for an entity.",
        "operationId": "GetPartitions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "The Customer Insights dataset.",
            "required": true,
            "x-ms-summary": "The Customer Insights dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "The entity.",
            "required": true,
            "x-ms-summary": "The entity",
            "x-ms-dynamic-values": {
              "operationId": "GetEntitiesForDirectAccess",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Table"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#retrieve-partitions-for-an-entity"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/partitionsV2": {
      "get": {
        "tags": [
          "CIStorage"
        ],
        "summary": "Retrieve partitions for an entity V2",
        "description": "Retrieve partitions for an entity V2.",
        "operationId": "GetPartitionsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "The Customer Insights dataset.",
            "required": true,
            "x-ms-summary": "The Customer Insights dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "The entity.",
            "required": true,
            "x-ms-summary": "The entity",
            "x-ms-dynamic-values": {
              "operationId": "GetEntitiesForDirectAccess",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "partitionDisplayName",
            "in": "query",
            "description": "The partitionDisplayName value to filter for.",
            "required": false,
            "x-ms-summary": "The partitionDisplayName value to filter for",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PartitionListResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#retrieve-partitions-for-an-entity-v2"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/data": {
      "get": {
        "tags": [
          "CIStorage"
        ],
        "summary": "Retrieve data from a partition",
        "description": "Retrieve data from a partition.",
        "operationId": "GetPartitionData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "The Customer Insights dataset.",
            "required": true,
            "x-ms-summary": "The Customer Insights dataset",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "The entity.",
            "required": true,
            "x-ms-summary": "The entity",
            "x-ms-dynamic-values": {
              "operationId": "GetEntitiesForDirectAccess",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "partitionUri",
            "in": "query",
            "description": "The reference (URI or Name) of the partition.",
            "required": true,
            "x-ms-summary": "The reference (URI or Name) of the partition",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "select",
            "in": "query",
            "description": "A comma separated line of columns.",
            "required": false,
            "x-ms-summary": "A comma separated line of columns",
            "type": "string"
          },
          {
            "name": "offsetStart",
            "in": "query",
            "description": "Position from where to start reading, in bytes.",
            "required": false,
            "x-ms-summary": "Position from where to start reading, in bytes",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "maxSize",
            "in": "query",
            "description": "Maximum bytes to read.",
            "required": false,
            "x-ms-summary": "Maximum bytes to read",
            "type": "integer",
            "format": "int32",
            "default": 10485760
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of records to return.",
            "required": false,
            "x-ms-summary": "Maximum number of records to return",
            "type": "integer",
            "format": "int32",
            "default": 100000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PartitionDataResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#retrieve-data-from-a-partition"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tablesforget": {
      "get": {
        "tags": [
          "CITableAction"
        ],
        "summary": "Lists tables for GET",
        "description": "Lists tables for GET.",
        "operationId": "GetTablesForGetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "dataset name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#lists-tables-for-get"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tablesforpost": {
      "get": {
        "tags": [
          "CITableAction"
        ],
        "summary": "Lists tables for POST",
        "description": "Lists tables for POST.",
        "operationId": "GetTablesForPostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "dataset name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#lists-tables-for-post"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tablesforpatch": {
      "get": {
        "tags": [
          "CITableAction"
        ],
        "summary": "Lists tables for PATCH",
        "description": "Lists tables for PATCH.",
        "operationId": "GetTablesForPatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "dataset name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#lists-tables-for-patch"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/measures": {
      "get": {
        "tags": [
          "CITableAction"
        ],
        "summary": "Lists business measures",
        "description": "Lists business measures.",
        "operationId": "GetBusinessMeasures",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "dataset name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#lists-business-measures"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/segments": {
      "get": {
        "tags": [
          "CITableAction"
        ],
        "summary": "Lists segments",
        "description": "Lists segments.",
        "operationId": "GetSegments",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "dataset name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#lists-segments"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tablesfordirectaccess": {
      "get": {
        "tags": [
          "CITableAction"
        ],
        "summary": "Lists entities available for data lake retrieval",
        "description": "Lists entities available for data lake retrieval.",
        "operationId": "GetEntitiesForDirectAccess",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name.",
            "required": true,
            "x-ms-summary": "dataset name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#lists-entities-available-for-data-lake-retrieval"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "CITableMetadata"
        ],
        "summary": "Get an entity metadata",
        "description": "This operation gets the metadata for an entity",
        "operationId": "GetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Identifier of an instance",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "instanceId",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of an entity",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "entityName",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#get-an-entity-metadata"
        }
      }
    },
    "/{connectionId}/datasets": {
      "get": {
        "tags": [
          "CIDataSet"
        ],
        "summary": "Get Dynamics 365 Customer Insights instances",
        "description": "This operation gets all instances available to the connection.",
        "operationId": "GetDataSets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#get-dynamics-365-customer-insights-instances"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/{dataset}/tables": {
      "get": {
        "tags": [
          "CITable"
        ],
        "summary": "Get entities",
        "description": "This operation gets entities from an instance",
        "operationId": "GetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Identifier of an instance",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "instanceId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#get-entities"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables": {
      "get": {
        "tags": [
          "CITable"
        ],
        "operationId": "ODataStyleGetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items": {
      "get": {
        "tags": [
          "CITableData"
        ],
        "operationId": "ODataStyleGetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      },
      "post": {
        "tags": [
          "CITableData"
        ],
        "operationId": "ODataStylePostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items": {
      "get": {
        "tags": [
          "CITableData"
        ],
        "summary": "Get items from an entity",
        "description": "This operation gets items from an entity. Depending on the entity, fields can be defined as filters:\n\n- UnifiedActivity entity: ActivityId and CustomerId fields\n- Customer entity: CustomerId field and any other fields indexed in the Customer Insights instance\n- Any other entities: CustomerId field.",
        "operationId": "GetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Identifier of an instance",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "instanceId",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of an entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForGetItem",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "entityName",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#get-items-from-an-entity"
        }
      },
      "post": {
        "tags": [
          "CITableData"
        ],
        "summary": "Create item",
        "description": "This operation creates an item on an entity",
        "operationId": "PostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Identifier of an instance",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "instanceId",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of an entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForPostItem",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "entityName",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Record to create",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "recordItem"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#create-item"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "CITableData"
        ],
        "summary": "Get item",
        "description": "This operation gets an item from an entity",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Identifier of an instance",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "instanceId",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of an entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "entityName",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the item",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "itemIdentifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#get-item"
        }
      },
      "delete": {
        "tags": [
          "CITableData"
        ],
        "operationId": "DeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "patch": {
        "tags": [
          "CITableData"
        ],
        "summary": "Update item",
        "description": "This operation updates an item on an entity",
        "operationId": "PatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Identifier of an instance",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "instanceId",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of an entity",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForPatchItem",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "entityName",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the item",
            "required": true,
            "x-ms-summary": "itemIdentifier",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Record to update",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "recordItem"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/customerinsights/#update-item"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items({id})": {
      "get": {
        "tags": [
          "CITableData"
        ],
        "operationId": "ODataStyleGetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "delete": {
        "tags": [
          "CITableData"
        ],
        "operationId": "ODataStyleDeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "patch": {
        "tags": [
          "CITableData"
        ],
        "operationId": "ODataStylePatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        }
      }
    }
  },
  "definitions": {
    "Object": {
      "type": "object",
      "properties": {}
    },
    "DataSourcesList": {
      "description": "DataSourcesList",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of data sources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSource"
          }
        }
      }
    },
    "DataSource": {
      "description": "DataSource Class",
      "type": "object",
      "properties": {
        "RefreshType": {
          "description": "The type for data refresh",
          "type": "string"
        },
        "RefreshObjectId": {
          "description": "The refresh object id",
          "type": "string"
        },
        "RefreshObjectVersion": {
          "format": "int64",
          "description": "The refresh object version",
          "type": "integer"
        },
        "Operation": {
          "description": "The operation name",
          "type": "string"
        },
        "JobType": {
          "description": "The job type",
          "type": "string"
        },
        "ErrorCode": {
          "description": "The error code during data refresh.",
          "type": "string"
        },
        "ErrorMessage": {
          "description": "The error message during refresh",
          "type": "string"
        },
        "ErrorSeverity": {
          "description": "The error serverity during refresh",
          "type": "string"
        },
        "StartTimeUtc": {
          "description": "The start time for data refresh",
          "type": "string"
        },
        "EndTimeUtc": {
          "description": "The end time for data refresh",
          "type": "string"
        }
      }
    },
    "SegmentData": {
      "description": "Segment data",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The segment name",
          "type": "string"
        },
        "DisplayName": {
          "description": "The segment display name",
          "type": "string"
        },
        "EvaluationDate": {
          "format": "date-time",
          "description": "The segment evaluation date",
          "type": "string"
        },
        "EntityCount": {
          "format": "int64",
          "description": "The actual count of segment members",
          "type": "integer"
        },
        "Threshold": {
          "format": "int32",
          "description": "The segment threshold",
          "type": "integer"
        }
      }
    },
    "MeasureData": {
      "description": "Business Measure data",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The measure name",
          "type": "string"
        },
        "DisplayName": {
          "description": "The measure display name",
          "type": "string"
        },
        "EvaluationDate": {
          "format": "date-time",
          "description": "The measure evaluation date",
          "type": "string"
        },
        "Value": {
          "format": "double",
          "description": "The value of the measure",
          "type": "number"
        },
        "ValueDisplayName": {
          "description": "The display name of the value",
          "type": "string"
        },
        "Threshold": {
          "format": "double",
          "description": "The measure threshold",
          "type": "number"
        }
      }
    },
    "FullRefreshProcessData": {
      "description": "The information about executed full refresh",
      "type": "object",
      "properties": {
        "NumberOfFailedTasks": {
          "format": "int32",
          "description": "The number of failed tasks",
          "type": "integer"
        },
        "StartTime": {
          "format": "date-time",
          "description": "The start time of the workflow step",
          "type": "string"
        },
        "EndTime": {
          "format": "date-time",
          "description": "The end time of the workflow step",
          "type": "string"
        },
        "Duration": {
          "format": "int32",
          "description": "The duration of the process in minutes",
          "type": "integer"
        },
        "Status": {
          "description": "The status of the workflow step",
          "type": "string"
        },
        "StatusPage": {
          "description": "The link to the status page",
          "type": "string"
        }
      }
    },
    "ProcessData": {
      "description": "The information about executed process",
      "type": "object",
      "properties": {
        "StartTime": {
          "format": "date-time",
          "description": "The start time of the workflow step",
          "type": "string"
        },
        "EndTime": {
          "format": "date-time",
          "description": "The end time of the workflow step",
          "type": "string"
        },
        "Duration": {
          "format": "int32",
          "description": "The duration of the process in minutes",
          "type": "integer"
        },
        "Status": {
          "description": "The status of the workflow step",
          "type": "string"
        },
        "StatusPage": {
          "description": "The link to the status page",
          "type": "string"
        }
      }
    },
    "Table": {
      "description": "Represents a table.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the table. The name is used at runtime.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the table.",
          "type": "string"
        },
        "DynamicProperties": {
          "description": "Additional table properties provided by the connector to the clients.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "readOnly": true
        }
      }
    },
    "Item": {
      "description": "Table item entity",
      "type": "object",
      "properties": {
        "dynamicProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          }
        }
      },
      "additionalProperties": {
        "$ref": "#/definitions/Object"
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetTable",
        "parameters": {
          "dataset": {
            "parameter": "dataset"
          },
          "table": {
            "parameter": "table"
          }
        },
        "value-path": "Schema/Items"
      }
    },
    "PartitionListResponse": {
      "description": "The list of partitions",
      "type": "object",
      "properties": {
        "Header": {
          "description": "Header containing the attributes of the entity",
          "type": "string"
        },
        "Partitions": {
          "description": "List of partitions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          }
        }
      }
    },
    "PartitionDataResponse": {
      "description": "The data from a partition.",
      "type": "object",
      "properties": {
        "OffsetStart": {
          "format": "int64",
          "description": "The starting offset.",
          "type": "integer"
        },
        "OffsetEnd": {
          "format": "int64",
          "description": "The end offset.",
          "type": "integer"
        },
        "Size": {
          "format": "int32",
          "description": "The number of returned data.",
          "type": "integer"
        },
        "Items": {
          "description": "The dictionary containing data of maximum 'Size' items from a \r\n            partition, from offset 'OffsetStart' to 'OffsetEnd'.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      }
    },
    "TablesList": {
      "description": "Represents a list of tables.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Tables",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          }
        }
      }
    },
    "TableMetadata": {
      "description": "Table metadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "Table name",
          "type": "string"
        },
        "title": {
          "description": "Table title",
          "type": "string"
        },
        "x-ms-permission": {
          "description": "Table permission",
          "type": "string"
        },
        "x-ms-capabilities": {
          "$ref": "#/definitions/TableCapabilitiesMetadata"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        },
        "referencedEntities": {
          "$ref": "#/definitions/Object"
        },
        "webUrl": {
          "description": "Url link",
          "type": "string"
        }
      }
    },
    "TableCapabilitiesMetadata": {
      "description": "Metadata for a table (capabilities)",
      "type": "object",
      "properties": {
        "sortRestrictions": {
          "$ref": "#/definitions/TableSortRestrictionsMetadata"
        },
        "filterRestrictions": {
          "$ref": "#/definitions/TableFilterRestrictionsMetadata"
        },
        "selectRestrictions": {
          "$ref": "#/definitions/TableSelectRestrictionsMetadata"
        },
        "isOnlyServerPagable": {
          "description": "Server paging restrictions",
          "type": "boolean"
        },
        "filterFunctionSupport": {
          "description": "List of supported filter capabilities",
          "type": "array",
          "items": {
            "enum": [
              "eq",
              "ne",
              "gt",
              "ge",
              "lt",
              "le",
              "and",
              "or",
              "contains",
              "startswith",
              "endswith",
              "length",
              "indexof",
              "replace",
              "substring",
              "substringof",
              "tolower",
              "toupper",
              "trim",
              "concat",
              "year",
              "month",
              "day",
              "hour",
              "minute",
              "second",
              "date",
              "time",
              "now",
              "totaloffsetminutes",
              "totalseconds",
              "floor",
              "ceiling",
              "round",
              "not",
              "negate",
              "add",
              "sub",
              "mul",
              "div",
              "mod",
              "sum",
              "min",
              "max",
              "average",
              "countdistinct",
              "null"
            ],
            "type": "string"
          }
        },
        "serverPagingOptions": {
          "description": "List of supported server-driven paging capabilities",
          "type": "array",
          "items": {
            "enum": [
              "top",
              "skiptoken"
            ],
            "type": "string"
          }
        }
      }
    },
    "TableSortRestrictionsMetadata": {
      "description": "Metadata for a table (sort restrictions)",
      "type": "object",
      "properties": {
        "sortable": {
          "description": "Indicates whether this table has sortable columns",
          "type": "boolean"
        },
        "unsortableProperties": {
          "description": "List of unsortable properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ascendingOnlyProperties": {
          "description": "List of properties which support ascending order only",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableFilterRestrictionsMetadata": {
      "description": "Metadata for a table (filter restrictions)",
      "type": "object",
      "properties": {
        "filterable": {
          "description": "Indicates whether this table has filterable columns",
          "type": "boolean"
        },
        "nonFilterableProperties": {
          "description": "List of non filterable properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredProperties": {
          "description": "List of required properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableSelectRestrictionsMetadata": {
      "description": "Metadata for a table (select restrictions)",
      "type": "object",
      "properties": {
        "selectable": {
          "description": "Indicates whether this table has selectable columns",
          "type": "boolean"
        }
      }
    },
    "DataSetsList": {
      "description": "List of datasets",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of datasets",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSet"
          }
        }
      }
    },
    "DataSet": {
      "description": "Dataset",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Dataset name",
          "type": "string"
        },
        "DisplayName": {
          "description": "Dataset display name",
          "type": "string"
        },
        "query": {
          "description": "Pass-through Native Queries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PassThroughNativeQuery"
          },
          "readOnly": true
        }
      }
    },
    "Procedure": {
      "description": "Procedure",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Procedure name",
          "type": "string"
        },
        "DisplayName": {
          "description": "Procedure display name",
          "type": "string"
        }
      }
    },
    "PassThroughNativeQuery": {
      "description": "static schema for pass-through native query execution",
      "type": "object",
      "properties": {
        "Language": {
          "description": "Query language",
          "type": "string"
        }
      }
    },
    "ItemsList": {
      "description": "List of Items",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/customerinsights"
  }
}
