{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "RamQuest Actions",
    "description": "This connector streamlines your RamQuest title production software solution processes, whether CCE or Horizon, by offering a suite of actions which can be performed from order retrieval and creation to document and task management. \nNote: This connector is currently in Preview/Beta status. RamQuest customers interested in becoming early adopters should contact their RamQuest representative. If selected, RamQuest will provide the necessary credentials to access the connector.",
    "contact": {
      "name": "AE&I Support",
      "url": "https://www.ramquest.com/support",
      "email": "AEI@ortitletech.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/pubcs-titleorder/v2/order/{orderId}": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Get Order",
        "description": "Retrieve an existing RamQuest order",
        "operationId": "GetTitleOrder",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "orderId",
            "description": "Specify the File # to be retrieved",
            "required": true,
            "type": "string",
            "x-ms-summary": "File #",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Title-Order object",
            "schema": {
              "$ref": "#/definitions/TitleOrder-v5"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#get-order"
        }
      }
    },
    "/{connectionId}/pubcs-titleorder/v1/order/{orderId}/note": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "tags": [
          "Note"
        ],
        "summary": "Add Note",
        "description": "Add a note to an existing RamQuest order",
        "operationId": "AddNoteByOrder",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "x-ms-summary": "File #",
            "name": "orderId",
            "in": "path",
            "description": "Specify the File # to which to add the note",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "x-ms-summary": "Note",
            "name": "note",
            "in": "body",
            "required": true,
            "description": "Note content",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successfully created"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#add-note"
        }
      }
    },
    "/{connectionId}/pubcs-titleorder/v2/orders/{orderId}/documents": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Add Document",
        "description": "Add a document to an existing RamQuest order",
        "operationId": "AddDocumentToOrder",
        "consumes": [
          "text/plain"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "orderId",
            "x-ms-summary": "File #",
            "description": "Specify the File # to which to add the document",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "query",
            "name": "fileName",
            "x-ms-summary": "Document Name",
            "description": "Specify a name for the document including its file extension e.g. document_name.pdf",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "name": "documentCategory",
            "x-ms-summary": "Document Category",
            "description": "Specify a category to assign to the document. If not provided, the category will be unassigned",
            "type": "string",
            "required": false,
            "x-ms-visibility": "important"
          },
          {
            "in": "body",
            "name": "fileContent",
            "x-ms-summary": "Document Content",
            "description": "Document content from cloud storage connector (Microsoft OneDrive, Dropbox, etc.)",
            "schema": {
              "type": "string",
              "format": "binary"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#add-document"
        }
      }
    },
    "/{connectionId}/pubcs-titleorder/v1/orders/{orderId}/documents/{documentId}": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get Document",
        "description": "Retrieve an existing document on an existing RamQuest order",
        "operationId": "GetDocumentFromOrder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "orderId",
            "x-ms-summary": "File #",
            "description": "Specify the File # to retrieve document from",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "documentId",
            "x-ms-summary": "Document #",
            "description": "Specify the Document # to retrieve",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "Gets or Sets Document",
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "Gets or Sets Document Id",
                  "format": "int32"
                },
                "key": {
                  "type": "string",
                  "description": "Unique document Id Key"
                },
                "format": {
                  "type": "string",
                  "description": "Gets or Sets Format"
                },
                "fileName": {
                  "type": "string",
                  "description": "Gets or Sets FileName"
                },
                "description": {
                  "type": "string",
                  "description": "Gets or Sets Description"
                },
                "date": {
                  "$ref": "#/definitions/PubCS.TitleOrder.Api.Models.Date"
                },
                "publisher": {
                  "type": "string",
                  "description": "The publishing author of the document"
                },
                "documentBase64": {
                  "type": "string",
                  "description": "Gets or Sets Document in Base64 encoding"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#get-document"
        }
      }
    },
    "/{connectionId}/pubcs-titleorder/v1/{orderId}/tasks": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "Get Task",
        "description": "Retrieve existing task(s) on an existing RamQuest order",
        "operationId": "GetTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "orderId",
            "x-ms-summary": "File #",
            "description": "Specify the File # for which to retrieve the tasks",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "taskId",
            "x-ms-summary": "Task ID",
            "description": "Leave empty to retrieve all tasks for an order or specify a task that exists on the order",
            "required": false,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderWorkflowTask"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#get-task"
        }
      }
    },
    "/{connectionId}/pubcs-titleorder/v1/task": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Add Task",
        "description": "Add a task to an existing RamQuest order",
        "operationId": "AddTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "orderId",
            "x-ms-summary": "File #",
            "description": "Specify the File # to which to add the task",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Task Content",
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderWorkflowTaskRequest"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#add-task"
        }
      },
      "put": {
        "tags": [
          "Task"
        ],
        "summary": "Update Task",
        "description": "Update an existing task on an existing RamQuest order",
        "operationId": "UpdateTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "orderId",
            "x-ms-summary": "File #",
            "description": "Specify the File # to which to update the task",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Task Content",
            "description": "",
            "schema": {
              "$ref": "#/definitions/OrderWorkflowTaskRequest"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "204": {
            "description": "Success, Task Updated"
          },
          "400": {
            "description": "Bad Request, Required Fields Missing"
          },
          "404": {
            "description": "Not Found, OrderId or TaskId does not exist"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#update-task"
        }
      }
    },
    "/{connectionId}/patriot-search/v3/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Create Identity Search",
        "description": "Create a new identity search order with an integration service provider and return the result as a JSON object. This action is allowed to run 5 seconds before failing. As a rule, we recommend not including more than 10 individuals and businesses in your search to reduce the risk of timeout errors. Note that a single party with both an individual full name and a business name counts as 2 inputs to the search. Also, consider setting a retry policy on this action from the settings tab so that failed runs will be tried again.",
        "operationId": "CreateIdentitySearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "header",
            "name": "sm-source-file-id",
            "x-ms-summary": "File #",
            "description": "File number to which parties are associated.",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "pdf",
            "x-ms-summary": "Generate PDF",
            "description": "Indicates to generate PDF in response.",
            "required": true,
            "default": false,
            "type": "boolean",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Parties",
            "description": "Parties to search against based on business and/or individual full names",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PubCS.TitleOrder.Api.Models.IdentitySearchInput"
              },
              "required": [
                "items"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "searchResults": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PatriotSearch.Api.Models.SearchResult"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#create-identity-search"
        }
      }
    },
    "/{connectionId}/patriot-search/v3//search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Create Identity Search PDF",
        "description": "Create a new identity search order with an integration service provider and return the result as a PDF in binary format. This action is allowed to run 5 seconds before failing. As a rule, we recommend not including more than 10 individuals and businesses in your search to reduce the risk of timeout errors. Note that a single party with both an individual full name and a business name counts as 2 inputs to the search. Also, consider setting a retry policy on this action from the settings tab so that failed runs will be tried again.",
        "operationId": "CreateIdentitySearchPDF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "header",
            "name": "sm-source-file-id",
            "x-ms-summary": "File #",
            "description": "File number to which parties are associated.",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "pdf",
            "x-ms-summary": "Generate PDF",
            "description": "Indicates to generate PDF in response.",
            "required": true,
            "default": true,
            "type": "boolean",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Parties",
            "description": "Parties to search against based on business and/or individual full names",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PubCS.TitleOrder.Api.Models.IdentitySearchInput"
              },
              "required": [
                "items"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "file"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ramquestactions/#create-identity-search-pdf"
        }
      }
    }
  },
  "definitions": {
    "PubCS.TitleOrder.Api.Models.DateType": {
      "description": "Gets or Sets DateType",
      "type": "string"
    },
    "PubCS.TitleOrder.Api.Models.Date": {
      "description": "Gets or Sets Date",
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/PubCS.TitleOrder.Api.Models.DateType"
        },
        "value": {
          "format": "date-time",
          "description": "Gets or Sets Value",
          "type": "string"
        }
      }
    },
    "PubCS.TitleOrder.Api.Models.IdentitySearchInput": {
      "description": "Based on TitleOrderParty but only containing fields pertaining to the Identity Search",
      "type": "object",
      "properties": {
        "name": {
          "title": "Name",
          "type": "object",
          "properties": {
            "business": {
              "title": "- Business Name",
              "type": "string"
            },
            "full": {
              "title": "- Individual Full Name",
              "type": "string"
            }
          }
        }
      }
    },
    "DocumentUploadBase64": {
      "type": "object",
      "description": "Docuemnt Upload",
      "properties": {
        "fileName": {
          "title": "File Name",
          "description": "File Name",
          "type": "string"
        },
        "document": {
          "title": "Document",
          "description": "Document",
          "type": "string"
        }
      }
    },
    "PatriotSearch.Api.Models.Individual": {
      "type": "object",
      "description": "Individual",
      "properties": {
        "name": {
          "title": "Information",
          "description": "Information",
          "$ref": "#/definitions/PatriotSearch.Api.Models.IndividualName"
        },
        "aliases": {
          "type": "array",
          "description": "Aliases",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.IndividualAlias"
          }
        },
        "contactPoints": {
          "x-ms-visibility": "advanced",
          "type": "array",
          "title": "Contacts",
          "description": "Contacts",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.Contact"
          }
        },
        "identity": {
          "description": "Identity",
          "x-ms-visibility": "advanced",
          "$ref": "#/definitions/PatriotSearch.Api.Models.Identity"
        }
      }
    },
    "PatriotSearch.Api.Models.Entity": {
      "type": "object",
      "description": "Entity",
      "properties": {
        "aliases": {
          "x-ms-visibility": "advanced",
          "type": "array",
          "description": "Aliases",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.EntityAlias"
          }
        },
        "contacts": {
          "x-ms-visibility": "advanced",
          "type": "array",
          "description": "Contacts",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.Contact"
          }
        },
        "entityHomePageUrl": {
          "type": "string",
          "title": "Home Page Url",
          "description": "Home Page Url",
          "x-ms-visibility": "advanced"
        },
        "globalEntityIdentifier": {
          "type": "string",
          "title": "Global Identiter",
          "description": "Global Identiter",
          "x-ms-visibility": "advanced"
        },
        "entityLicensingTypeDescription": {
          "type": "string",
          "title": "Licensing Type Description",
          "description": "Licensing Type Description",
          "x-ms-visibility": "advanced"
        },
        "entityOrganizedUnderTheLawsOfJurisdictionName": {
          "type": "string",
          "title": "Organized Under the Laws of Jurisdiction Name",
          "description": "Organized Under the Laws of Jurisdiction Name",
          "x-ms-visibility": "advanced"
        },
        "entitySuccessorClauseTextDescription": {
          "type": "string",
          "title": "Successor Clause Text Description",
          "description": "Successor Clause Text Description",
          "x-ms-visibility": "advanced"
        },
        "entityType": {
          "title": "Type",
          "description": "Type",
          "enum": [
            "Corporation",
            "CorporationSole",
            "Estate",
            "Government Entity",
            "Joint Venture",
            "LimitedLiabilityCompany",
            "LimitedPartnership",
            "NonProfitCorporation",
            "Other",
            "Partnership",
            "SoleProprietorship",
            "Trust"
          ],
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "entityTypeOtherDescription": {
          "type": "string",
          "title": "Type Other Description",
          "description": "Type Other Description",
          "x-ms-visibility": "advanced"
        },
        "MERSOrganizationIdentifier": {
          "type": "string",
          "title": "MERS Organization Identifier",
          "description": "MERS Organization Identifier",
          "x-ms-visibility": "advanced"
        },
        "registeredDomainNameURI": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Registered Domain Name Uri",
          "description": "Registered Domain Name Uri"
        },
        "requiredSignatoryCount": {
          "type": "string",
          "title": "Requires Signatory Count",
          "description": "Requires Signatory Count",
          "x-ms-visibility": "advanced"
        },
        "fullName": {
          "title": "Entity Full Name",
          "description": "Entity Full Name",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "PatriotSearch.Api.Models.Identity": {
      "type": "object",
      "description": "Identity",
      "properties": {
        "birth": {
          "$ref": "#/definitions/PatriotSearch.Api.Models.BirthInformation"
        },
        "ssnAssociationsCount": {
          "type": "number",
          "title": "SSN Associations Count",
          "description": "SSN Associations Count"
        },
        "spouseName": {
          "type": "object",
          "description": "Spouse Name",
          "properties": {
            "business": {
              "title": "Spouse Business Name",
              "description": "Spouse Business Name",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "title": {
              "title": "Spouse Title",
              "description": "Spouse Title",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "first": {
              "title": "Spouse First Name",
              "description": "Spouse First Name",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "middle": {
              "title": "Spouse Middle Name",
              "description": "Spouse Middle Name",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "last": {
              "title": "Spouse Last Name",
              "description": "Spouse Last Name",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "suffix": {
              "x-ms-visibility": "advanced",
              "title": "Spouse Suffix",
              "description": "Spouse Suffix",
              "type": "string"
            },
            "formal": {
              "x-ms-visibility": "advanced",
              "title": "Spouse Formal Name",
              "description": "Spouse Formal Name",
              "type": "string"
            },
            "full": {
              "title": "Spouse Full Name",
              "description": "Spouse Full Name",
              "x-ms-visibility": "advanced",
              "type": "string"
            }
          }
        }
      }
    },
    "PatriotSearch.Api.Models.BirthInformation": {
      "type": "object",
      "description": "Birth Information",
      "properties": {
        "birthDate": {
          "type": "string",
          "title": "Birth Date",
          "description": "Birth Date"
        },
        "cityTownVillage": {
          "type": "string",
          "title": "City Town Village",
          "description": "City Town Village"
        },
        "country": {
          "type": "string",
          "title": "Country",
          "description": "Country"
        },
        "mothersMaidenName": {
          "type": "string",
          "title": "Mother's Maiden Name",
          "description": "Mother's Maiden Name"
        },
        "stateProvince": {
          "type": "string",
          "title": "State Province",
          "description": "State Province"
        }
      }
    },
    "PatriotSearch.Api.Models.IndividualName": {
      "type": "object",
      "description": "Individual Name",
      "properties": {
        "business": {
          "title": "Individual Business Name",
          "description": "Individual Business Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "title": "Individual Title",
          "description": "Individual Title",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "first": {
          "title": "Individual First Name",
          "description": "Individual First Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "middle": {
          "title": "Individual Middle Name",
          "description": "Individual Middle Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "last": {
          "title": "Individual Last Name",
          "description": "Individual Last Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "suffix": {
          "x-ms-visibility": "advanced",
          "title": "Individual Suffix",
          "description": "Individual Suffix",
          "type": "string"
        },
        "formal": {
          "x-ms-visibility": "advanced",
          "title": "Individual Formal Name",
          "description": "Individual Formal Name",
          "type": "string"
        },
        "full": {
          "title": "Individual Full Name",
          "description": "Individual Full Name",
          "x-ms-visibility": "important",
          "type": "string"
        }
      }
    },
    "PatriotSearch.Api.Models.AliasName": {
      "type": "object",
      "description": "Alias Name",
      "properties": {
        "business": {
          "title": "Alias Business Name",
          "description": "Alias Business Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "title": "Alias Title",
          "description": "Alias Title",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "first": {
          "title": "Alias First Name",
          "description": "Alias First Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "middle": {
          "title": "Alias Middle Name",
          "description": "Alias Middle Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "last": {
          "title": "Alias Last Name",
          "description": "Alias Last Name",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "suffix": {
          "x-ms-visibility": "advanced",
          "title": "Alias Suffix",
          "description": "Alias Suffix",
          "type": "string"
        },
        "formal": {
          "x-ms-visibility": "advanced",
          "title": "Alias Formal Name",
          "description": "Alias Formal Name",
          "type": "string"
        },
        "full": {
          "title": "Alias Full Name",
          "description": "Alias Full Name",
          "x-ms-visibility": "important",
          "type": "string"
        }
      }
    },
    "PatriotSearch.Api.Models.IndividualAlias": {
      "type": "object",
      "description": "Individual Alias",
      "properties": {
        "aliasAccountIdentifier": {
          "x-ms-visibility": "advanced",
          "title": "Individual Alias Account Identifier",
          "description": "Individual Alias Account Identifier",
          "type": "string"
        },
        "aliasCreditorName": {
          "x-ms-visibility": "advanced",
          "title": "Individual Alias Creditor Name",
          "description": "Individual Alias Creditor Name",
          "type": "string"
        },
        "aliasTaxReturnIndicator": {
          "x-ms-visibility": "advanced",
          "title": "Individual Alias Tax Return Indicator",
          "description": "Individual Alias Tax Return Indicator",
          "type": "string"
        },
        "aliasTypeOtherDescription": {
          "x-ms-visibility": "advanced",
          "title": "Individual Alias Type Other Description",
          "description": "Individual Alias Type Other Description",
          "type": "string"
        },
        "name": {
          "x-ms-visibility": "advanced",
          "title": "Individual Alias Information",
          "description": "Individual Alias Information",
          "$ref": "#/definitions/PatriotSearch.Api.Models.AliasName"
        },
        "aliasType": {
          "x-ms-visibility": "advanced",
          "title": "Individual Alias Type",
          "description": "Individual Alias Type",
          "type": "string",
          "enum": [
            "AlsoKnownAs",
            "FormerlyKnownAs",
            "NowKnownAs",
            "Other"
          ]
        }
      }
    },
    "PatriotSearch.Api.Models.EntityAlias": {
      "type": "object",
      "description": "Entity Alias",
      "properties": {
        "aliasAccountIdentifier": {
          "x-ms-visibility": "advanced",
          "title": "Entity Alias Account Identifier",
          "description": "Entity Alias Account Identifier",
          "type": "string"
        },
        "aliasCreditorName": {
          "x-ms-visibility": "advanced",
          "title": "Entity Alias Creditor Name",
          "description": "Entity Alias Creditor Name",
          "type": "string"
        },
        "aliasTaxReturnIndicator": {
          "x-ms-visibility": "advanced",
          "title": "Entity Alias Tax Return Indicator",
          "description": "Entity Alias Tax Return Indicator",
          "type": "string"
        },
        "aliasTypeOtherDescription": {
          "x-ms-visibility": "advanced",
          "title": "Entity Alias Type Other Description",
          "description": "Entity Alias Type Other Description",
          "type": "string"
        },
        "name": {
          "x-ms-visibility": "advanced",
          "title": "Entity Alias Information",
          "description": "Entity Alias Information",
          "$ref": "#/definitions/PatriotSearch.Api.Models.AliasName"
        },
        "aliasType": {
          "x-ms-visibility": "advanced",
          "title": "Entity Alias Type",
          "description": "Entity Alias Type",
          "type": "string",
          "enum": [
            "AlsoKnownAs",
            "FormerlyKnownAs",
            "NowKnownAs",
            "Other"
          ]
        }
      }
    },
    "PatriotSearch.Api.Models.Contact": {
      "type": "object",
      "description": "Contact",
      "properties": {
        "email": {
          "x-ms-visibility": "advanced",
          "title": "Email",
          "description": "Email",
          "type": "string"
        },
        "socialMedia": {
          "x-ms-visibility": "advanced",
          "title": "Social Media",
          "description": "Social Media",
          "type": "string"
        },
        "telephone": {
          "x-ms-visibility": "advanced",
          "title": "Telephone",
          "description": "Telephone",
          "type": "object",
          "properties": {
            "number": {
              "x-ms-visibility": "advanced",
              "type": "string",
              "title": "Number",
              "description": "Number"
            },
            "ext": {
              "x-ms-visibility": "advanced",
              "type": "string",
              "title": "Ext",
              "description": "Ext"
            },
            "fax": {
              "x-ms-visibility": "advanced",
              "type": "string",
              "title": "Fax",
              "description": "Fax"
            },
            "faxExt": {
              "x-ms-visibility": "advanced",
              "type": "string",
              "title": "Fax Ext",
              "description": "Fax Ext"
            }
          }
        },
        "other": {
          "x-ms-visibility": "advanced",
          "title": "Other",
          "description": "Other",
          "type": "string"
        },
        "otherDescription": {
          "x-ms-visibility": "advanced",
          "title": "Other Description",
          "description": "Other Description",
          "type": "string"
        },
        "preferenceIndicator": {
          "x-ms-visibility": "advanced",
          "title": "Preference Indicator",
          "description": "Preference Indicator",
          "type": "string",
          "enum": [
            "true",
            "false"
          ]
        },
        "type": {
          "x-ms-visibility": "advanced",
          "title": "Type",
          "description": "Type",
          "type": "string",
          "enum": [
            "Home",
            "Mobile",
            "Other",
            "Work"
          ]
        }
      }
    },
    "PatriotSearch.Api.Models.TaxIdentifier": {
      "type": "object",
      "description": "Tax Identifier",
      "properties": {
        "type": {
          "enum": [
            "SSN",
            "EIN",
            "TIN",
            "Other"
          ],
          "type": "string",
          "description": "Type"
        },
        "value": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Value",
          "description": "Value"
        },
        "other": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Other",
          "description": "Other"
        },
        "otherDescription": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Other Description",
          "description": "Other Description"
        }
      }
    },
    "PatriotSearch.Api.Models.Role": {
      "type": "object",
      "description": "Role",
      "properties": {
        "roleType": {
          "x-ms-visibility": "advanced",
          "title": "Type",
          "description": "Type",
          "enum": [
            "Appraiser",
            "AppraiserSupervisor",
            "AssignFrom",
            "AssignTo",
            "Attorney",
            "AttorneyInFact",
            "AuthorizedRepresentative",
            "AuthorizedThirdParty",
            "BankruptcyFiler",
            "BankruptcyTrustee",
            "BeneficialInterestParty",
            "BillToParty",
            "Borrower",
            "Builder",
            "Client",
            "ClosingAgent",
            "Conservator",
            "ConsumerReportingAgency",
            "CooperativeCompany",
            "CorrespondentLender",
            "Cosigner",
            "CreditCounselingAgent",
            "CreditEnhancementRiskHolder",
            "CustodianNotePayTo",
            "Defendant",
            "DeliverRescissionTo",
            "DesignatedContact",
            "DocumentCustodian",
            "ENoteController",
            "ENoteControllerTransferee",
            "ENoteCustodian",
            "ENoteCustodianTransferee",
            "ENoteDelegateeForTransfers",
            "ENoteRegisteringParty",
            "ENoteServicer",
            "ENoteServicerTransferee",
            "ENoteTransferInitiator",
            "Executor",
            "FHASponsor",
            "FloodCertificateProvider",
            "FulfillmentParty",
            "GiftDonor",
            "Grantee",
            "Grantor",
            "HazardInsuranceAgent",
            "HazardInsuranceCompany",
            "HomeownersAssociation",
            "HousingCounselingAgency",
            "HousingCounselingAgent",
            "HUD1SettlementAgent",
            "Interviewer",
            "InterviewerEmployer",
            "Investor",
            "IRSTaxFormThirdParty",
            "LawFirm",
            "Lender",
            "LenderBranch",
            "LienHolder",
            "LoanCloser",
            "LoanDeliveryFilePreparer",
            "LoanFunder",
            "LoanOfficer",
            "LoanOriginationCompany",
            "LoanOriginator",
            "LoanProcessor",
            "LoanSeller",
            "LoanUnderwriter",
            "LossPayee",
            "ManagementCompany",
            "MICompany",
            "MortgageBroker",
            "NonTitleNonSpouseOwnershipInterest",
            "NonTitleSpouse",
            "Notary",
            "NotePayTo",
            "NotePayToRecipient",
            "Other",
            "Payee",
            "Plaintiff",
            "PoolInsurer",
            "PoolIssuer",
            "PoolIssuerTransferee",
            "PreparedBy",
            "ProjectDeveloper",
            "ProjectManagementAgent",
            "PropertyAccessContact",
            "PropertyJurisdictionalAuthority",
            "PropertyOwner",
            "PropertyPreservationAgent",
            "PropertyPurchaser",
            "PropertySeller",
            "RealEstateAgent",
            "ReceivingParty",
            "RegistryOperator",
            "RegulatoryAgency",
            "RequestingParty",
            "RespondingParty",
            "RespondToParty",
            "ReturnTo",
            "ReviewAppraiser",
            "SecurityIssuer",
            "ServiceBureau",
            "ServiceProvider",
            "Servicer",
            "ServicerPaymentCollection",
            "Settlor",
            "Spouse",
            "SubmittingParty",
            "TaxableParty",
            "TaxAssessor",
            "TaxCollector",
            "Taxpayer",
            "TaxServiceProvider",
            "TaxServicer",
            "ThirdPartyInvestor",
            "ThirdPartyOriginator",
            "TitleCompany",
            "TitleHolder",
            "TitleUnderwriter",
            "Trust",
            "TrustBeneficiary",
            "Trustee",
            "Unspecified",
            "WarehouseLender",
            "Witness"
          ],
          "type": "string"
        },
        "consentToReceiveDocumentsElectronicallyIndicator": {
          "x-ms-visibility": "advanced",
          "type": "boolean",
          "title": "Consent to Receive Documents Electronically Indicator",
          "description": "Consent to Receive Documents Electronically Indicator"
        },
        "consentToSignUsingElectronicSignatureIndicator": {
          "x-ms-visibility": "advanced",
          "type": "boolean",
          "title": "Consent to Sign Using Electronic Signature Indicator",
          "description": "Consent to Sign Using Electronic Signature Indicator"
        },
        "partyRoleTypeAdditionalDescription": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Additional Description",
          "description": "Additional Description"
        },
        "partyRoleTypeOtherDescription": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Other Description",
          "description": "Other Description"
        }
      }
    },
    "PatriotSearch.Api.Models.Reference": {
      "type": "object",
      "description": "Reference",
      "properties": {
        "locationURL": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Location URL",
          "description": "Location URL"
        },
        "locationLabelValue": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Location Label",
          "description": "Location Label"
        },
        "originalCreatorDigestValue": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Orginal Creator Digest",
          "description": "Orginal Creator Digest"
        }
      }
    },
    "PatriotSearch.Api.Models.Address": {
      "type": "object",
      "description": "Address",
      "properties": {
        "line1": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Line 1",
          "description": "Line 1"
        },
        "line2": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Line 2",
          "description": "Line 2"
        },
        "city": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "City",
          "description": "City"
        },
        "state": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "State",
          "description": "State"
        },
        "zip": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Zip",
          "description": "Zip"
        },
        "county": {
          "x-ms-visibility": "advanced",
          "description": "County",
          "$ref": "#/definitions/PatriotSearch.Api.Models.County"
        },
        "country": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Country",
          "description": "Country"
        },
        "type": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Type",
          "description": "Type",
          "enum": [
            "CorporateHeadquarters",
            "Current",
            "LegalEntityFormation",
            "Mailing",
            "Billing",
            "Primary",
            "Prior",
            "Other"
          ]
        },
        "other": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Other",
          "description": "Other"
        },
        "otherDescription": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Other Description",
          "description": "Other Description"
        }
      }
    },
    "PatriotSearch.Api.Models.County": {
      "type": "object",
      "description": "County",
      "properties": {
        "name": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "Name",
          "description": "Name"
        },
        "fips": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "FIPS",
          "description": "FIPS"
        },
        "statecode": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "State Code",
          "description": "State Code"
        },
        "countycode": {
          "x-ms-visibility": "advanced",
          "type": "string",
          "title": "County Code",
          "description": "County Code"
        }
      }
    },
    "PatriotSearch.Api.Models.Party": {
      "type": "object",
      "description": "Party",
      "properties": {
        "individual": {
          "title": "Individual",
          "description": "Individual",
          "$ref": "#/definitions/PatriotSearch.Api.Models.Individual"
        },
        "entity": {
          "description": "Entity",
          "$ref": "#/definitions/PatriotSearch.Api.Models.Entity"
        },
        "addresses": {
          "x-ms-visibility": "advanced",
          "description": "Addresses",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.Address"
          }
        },
        "roles": {
          "x-ms-visibility": "advanced",
          "description": "Roles",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.Role"
          }
        },
        "taxIdentifier": {
          "x-ms-visibility": "advanced",
          "description": "Tax Identifier",
          "title": "Tax Identifier",
          "$ref": "#/definitions/PatriotSearch.Api.Models.TaxIdentifier"
        },
        "reference": {
          "x-ms-visibility": "advanced",
          "description": "Reference",
          "title": "Reference",
          "$ref": "#/definitions/PatriotSearch.Api.Models.Reference"
        }
      }
    },
    "PatriotSearch.Api.Models.SearchResult": {
      "type": "object",
      "x-ms-visibility": "important",
      "description": "Search Result",
      "properties": {
        "searchType": {
          "title": "Search Type",
          "description": "Search Type",
          "type": "string"
        },
        "entityType": {
          "title": "Entity Type",
          "description": "Entity Type",
          "type": "string"
        },
        "acronym": {
          "title": "Acronym",
          "description": "Acronym",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "Name",
          "type": "string"
        },
        "searchResultDetails": {
          "title": "Search Result Details",
          "description": "Search Result Details",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.SearchResultDetail"
          }
        }
      }
    },
    "PatriotSearch.Api.Models.EntityName": {
      "type": "object",
      "description": "Entity Name",
      "properties": {
        "nameType": {
          "title": "Name Type",
          "description": "Name Type",
          "type": "string"
        },
        "nameValue": {
          "title": "Name Value",
          "description": "Name Value",
          "type": "string"
        },
        "lastUpdatedDate": {
          "title": "Last Updated Date",
          "description": "Last Updated Date",
          "type": "string",
          "format": "date"
        }
      }
    },
    "PatriotSearch.Api.Models.EntityAddress": {
      "type": "object",
      "description": "Entity Address",
      "properties": {
        "address1": {
          "title": "Address 1",
          "description": "Address 1",
          "type": "string"
        },
        "address2": {
          "title": "Address 2",
          "description": "Address 2",
          "type": "string"
        },
        "city": {
          "title": "City",
          "description": "City",
          "type": "string"
        },
        "state": {
          "title": "State",
          "description": "State",
          "type": "string"
        },
        "zip": {
          "title": "Zip",
          "description": "Zip",
          "type": "string"
        },
        "county": {
          "title": "County",
          "description": "County",
          "type": "string"
        }
      }
    },
    "PatriotSearch.Api.Models.SearchResultDetail": {
      "type": "object",
      "x-ms-visibility": "important",
      "description": "Search Result Details",
      "properties": {
        "entityId": {
          "title": "Entity Id",
          "description": "Entity Id",
          "type": "string"
        },
        "entityType": {
          "title": "Entity Type",
          "description": "Entity Type",
          "type": "string"
        },
        "dataSourceName": {
          "title": "Data Source Name",
          "description": "Data Source Name",
          "type": "string"
        },
        "dataSourceType": {
          "title": "Data Source",
          "description": "Data Source",
          "type": "string"
        },
        "email": {
          "title": "Email",
          "description": "Email",
          "type": "string"
        },
        "phone": {
          "title": "Phone",
          "description": "Phone",
          "type": "string"
        },
        "fax": {
          "title": "Fax",
          "description": "Fax",
          "type": "string"
        },
        "website": {
          "title": "Website",
          "description": "Website",
          "type": "string"
        },
        "dateOfBirthOrEstablishedDate": {
          "title": "Date of Birth or Established Date",
          "description": "Date of Birth or Established Date",
          "type": "number",
          "format": "date"
        },
        "dateOfBirthOrEstablishedDateFormatted": {
          "title": "Date of Birth or Established Date Formatted",
          "description": "Date of Birth or Established Date Formatted",
          "type": "string",
          "format": "date"
        },
        "lastUpdatedDate": {
          "title": "Last Updated Date",
          "description": "Last Updated Date",
          "type": "number",
          "format": "date"
        },
        "lastUpdatedDateFormatted": {
          "title": "Last Updated Date Formatted",
          "description": "Last Updated Date Formatted",
          "type": "string",
          "format": "date"
        },
        "matchedType": {
          "title": "Matched Type",
          "description": "Matched Type",
          "type": "string"
        },
        "matchedName": {
          "title": "Matched Name",
          "description": "Matched Name",
          "type": "string"
        },
        "entityAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.EntityAddress"
          }
        },
        "entityNames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PatriotSearch.Api.Models.EntityName"
          }
        }
      }
    },
    "OrderWorkflowTaskRequest": {
      "description": "Gets or Sets Order Workflow Task Request",
      "type": "object",
      "properties": {
        "workflowTaskId": {
          "title": "Task ID",
          "description": "Specify which Workflow Task ID to add or update",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "taskNote": {
          "title": "Task Note",
          "description": "The note to be included with the task",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "targetStatus": {
          "title": "Status",
          "description": "The status for the task",
          "type": "string",
          "enum": [
            "None",
            "Complete",
            "Open"
          ],
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "workflowTaskId",
        "taskNote"
      ]
    },
    "OrderWorkflowTask": {
      "description": "Gets or Sets Order Workflow Task",
      "type": "object",
      "x-ms-visibility": "important",
      "properties": {
        "gfno": {
          "title": "File #",
          "description": "The order file number",
          "type": "string"
        },
        "taskName": {
          "title": "Task Name",
          "description": "The name of the task",
          "type": "string"
        },
        "taskId": {
          "title": "Task Id",
          "description": "The workflow task id",
          "type": "integer",
          "format": "int32"
        },
        "subItemId": {
          "title": "Sub Item Id",
          "description": "The sub item id",
          "type": "string"
        },
        "notes": {
          "title": "Notes",
          "description": "The notes for the task",
          "type": "string"
        },
        "dueDate": {
          "title": "Due Date",
          "description": "The due date of the task",
          "type": "string"
        },
        "completedDate": {
          "title": "Completed Date",
          "description": "The completed date of the task",
          "type": "string"
        },
        "completedBy": {
          "title": "Completed By",
          "description": "Who completed the task",
          "type": "string"
        },
        "startDate": {
          "title": "Start Date",
          "description": "The start date of the task",
          "type": "string"
        },
        "isPublished": {
          "title": "Is Published",
          "description": "Is the task published",
          "type": "boolean"
        },
        "isApplicable": {
          "title": "Is Applicable",
          "description": "Is the task applicable",
          "type": "boolean"
        }
      }
    },
    "TitleOrder-v5": {
      "properties": {
        "commitment": {
          "title": "Commitment",
          "description": "Commitment",
          "properties": {
            "attributes": {
              "additionalProperties": {
                "type": "string"
              },
              "type": "object",
              "title": "Attributes",
              "description": "Commitment -> Attributes"
            },
            "scheduleA": {
              "items": {
                "properties": {
                  "binderNumber": {
                    "type": "string",
                    "title": "Binder Number",
                    "description": "Commitment -> Schedule A -> Binder Number"
                  },
                  "commitmentNumber": {
                    "type": "string",
                    "title": "Commitment Number",
                    "description": "Commitment -> Schedule A -> Commitment Number"
                  },
                  "currentHolders": {
                    "type": "string",
                    "title": "Current Holders",
                    "description": "Commitment -> Schedule A -> Current Holders"
                  },
                  "dates": {
                    "items": {
                      "type": "object",
                      "description": "Gets or Sets dates Array",
                      "properties": {
                        "Type": {
                          "type": "string",
                          "enum": [
                            "Application",
                            "Canceled",
                            "Closing",
                            "Commit",
                            "Created",
                            "Expiration",
                            "Effective",
                            "Opened",
                            "Other",
                            "Policy",
                            "Published",
                            "Remit",
                            "Report",
                            "Submit",
                            "Updated",
                            "Ordered",
                            "Fulfilled",
                            "Completed",
                            "Due",
                            "Delivered",
                            "Accepted",
                            "Failed",
                            "Funding",
                            "Issued"
                          ],
                          "title": "Type",
                          "description": "Commitment -> Schedule A -> Dates -> Type"
                        },
                        "Value": {
                          "type": "string",
                          "format": "date-time",
                          "title": "Value",
                          "description": "Commitment -> Schedule A -> Dates -> Value"
                        }
                      }
                    },
                    "type": "array",
                    "title": "Dates",
                    "description": "Commitment -> Schedule A -> Dates"
                  },
                  "interestInLand": {
                    "type": "string",
                    "title": "Interest In Land",
                    "description": "Commitment -> Schedule A -> Interest In Land"
                  },
                  "legalDescription": {
                    "type": "string",
                    "title": "Legal Description",
                    "description": "Commitment -> Schedule A -> Legal Description"
                  },
                  "lienDescription": {
                    "type": "string",
                    "title": "Lien Description",
                    "description": "Commitment -> Schedule A -> Lien Description"
                  },
                  "ownerInsured": {
                    "type": "string",
                    "title": "Owner Insured",
                    "description": "Commitment -> Schedule A -> Owner Insured"
                  },
                  "sequence": {
                    "type": "string",
                    "title": "Sequence",
                    "description": "Commitment -> Schedule A -> Sequence"
                  }
                },
                "description": "Gets or Sets Schedule A Items",
                "type": "object"
              },
              "type": "array",
              "title": "Schedule A",
              "description": "Commitment -> Schedule A"
            },
            "scheduleB": {
              "items": {
                "properties": {
                  "assignedLanguage": {
                    "items": {
                      "properties": {
                        "appliesTo": {
                          "enum": [
                            "None",
                            "Mortgage",
                            "Owner",
                            "All"
                          ],
                          "type": "string",
                          "x-nullable": true,
                          "title": "Applies To",
                          "description": "Commitment -> Schedule B -> Assigned Language -> Applies To"
                        },
                        "code": {
                          "type": "string",
                          "title": "Code",
                          "description": "Commitment -> Schedule B -> Assigned Language -> Code"
                        },
                        "description": {
                          "type": "string",
                          "title": "Description",
                          "description": "Commitment -> Schedule B -> Assigned Language -> Description"
                        },
                        "rtf": {
                          "type": "string",
                          "title": "Rtf",
                          "description": "Commitment -> Schedule B -> Assigned Language -> Rtf"
                        },
                        "sequence": {
                          "format": "int32",
                          "type": "integer",
                          "title": "Sequence",
                          "description": "Commitment -> Schedule B -> Assigned Language -> Sequence"
                        },
                        "type": {
                          "enum": [
                            "Exceptions",
                            "SubordinateLiens",
                            "RestrictiveCovenants",
                            "RequiredDocuments",
                            "Requirements",
                            "PolicyInsuredMortgage",
                            "PolicyExceptions",
                            "PolicyRestrictiveCovenants",
                            "PolicySubordinateLiens",
                            "PolicyOwnerScheduleB",
                            "Custom",
                            "NotesToCloser",
                            "Unknown"
                          ],
                          "type": "string",
                          "title": "Type",
                          "description": "Commitment -> Schedule B -> Assigned Language -> Type"
                        }
                      },
                      "description": "Gets or Sets Schedule B Items",
                      "type": "object"
                    },
                    "type": "array",
                    "title": "Assigned Language",
                    "description": "Commitment -> Schedule B -> Assigned Language"
                  },
                  "borrower": {
                    "type": "string",
                    "title": "Borrower",
                    "description": "Commitment -> Schedule B -> Borrower"
                  },
                  "county": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "title": "Name",
                        "description": "Commitment -> Schedule B -> County -> Name"
                      },
                      "fips": {
                        "type": "string",
                        "title": "Fips",
                        "description": "Commitment -> Schedule B -> County -> Fips"
                      },
                      "statecode": {
                        "type": "integer",
                        "format": "int64",
                        "title": "Statecode",
                        "description": "Commitment -> Schedule B -> County -> Statecode"
                      },
                      "countycode": {
                        "type": "integer",
                        "format": "int64",
                        "title": "Countycode",
                        "description": "Commitment -> Schedule B -> County -> Countycode"
                      }
                    },
                    "title": "County",
                    "description": "Commitment -> Schedule B -> County"
                  },
                  "insured": {
                    "type": "string",
                    "title": "Insured",
                    "description": "Commitment -> Schedule B -> Insured"
                  },
                  "loanSequenceId": {
                    "format": "int32",
                    "type": "integer",
                    "x-nullable": true,
                    "title": "Loan Sequence Id",
                    "description": "Commitment -> Schedule B -> Loan Sequence Id"
                  },
                  "propertyType": {
                    "type": "string",
                    "title": "Property Type",
                    "description": "Commitment -> Schedule B -> Property Type"
                  },
                  "sequence": {
                    "format": "int32",
                    "type": "integer",
                    "title": "Sequence",
                    "description": "Commitment -> Schedule B -> Sequence"
                  },
                  "signatory": {
                    "type": "string",
                    "title": "Signatory",
                    "description": "Commitment -> Schedule B -> Signatory"
                  },
                  "standbyYear": {
                    "format": "int32",
                    "type": "integer",
                    "title": "Standby Year",
                    "description": "Commitment -> Schedule B -> Standby Year"
                  },
                  "state": {
                    "type": "string",
                    "title": "State",
                    "description": "Commitment -> Schedule B -> State"
                  },
                  "survey": {
                    "enum": [
                      "None",
                      "Need",
                      "Have"
                    ],
                    "type": "string",
                    "title": "Survey",
                    "description": "Commitment -> Schedule B -> Survey"
                  },
                  "titleVestedIn": {
                    "type": "string",
                    "title": "Title Vested In",
                    "description": "Commitment -> Schedule B -> Title Vested In"
                  }
                },
                "description": "Gets or Sets Schedule B Items",
                "type": "object"
              },
              "type": "array",
              "title": "Schedule B",
              "description": "Commitment -> Schedule B"
            },
            "scheduleCD": {
              "items": {
                "properties": {
                  "assignedLanguage": {
                    "items": {
                      "properties": {
                        "appliesTo": {
                          "enum": [
                            "None",
                            "Mortgage",
                            "Owner",
                            "All"
                          ],
                          "type": "string",
                          "x-nullable": true,
                          "title": "Applies To",
                          "description": "Commitment -> Schedule C D -> Assigned Language -> Applies To"
                        },
                        "code": {
                          "type": "string",
                          "title": "Code",
                          "description": "Commitment -> Schedule C D -> Assigned Language -> Code"
                        },
                        "description": {
                          "type": "string",
                          "title": "Description",
                          "description": "Commitment -> Schedule C D -> Assigned Language -> Description"
                        },
                        "rtf": {
                          "type": "string",
                          "title": "Rtf",
                          "description": "Commitment -> Schedule C D -> Assigned Language -> Rtf"
                        },
                        "sequence": {
                          "format": "int32",
                          "type": "integer",
                          "title": "Sequence",
                          "description": "Commitment -> Schedule C D -> Assigned Language -> Sequence"
                        },
                        "type": {
                          "enum": [
                            "Exceptions",
                            "SubordinateLiens",
                            "RestrictiveCovenants",
                            "RequiredDocuments",
                            "Requirements",
                            "PolicyInsuredMortgage",
                            "PolicyExceptions",
                            "PolicyRestrictiveCovenants",
                            "PolicySubordinateLiens",
                            "PolicyOwnerScheduleB",
                            "Custom",
                            "NotesToCloser",
                            "Unknown"
                          ],
                          "type": "string",
                          "title": "Type",
                          "description": "Commitment -> Schedule C D -> Assigned Language -> Type"
                        }
                      },
                      "description": "Gets or Sets Assigned Language Items",
                      "type": "object"
                    },
                    "type": "array",
                    "title": "Assigned Language",
                    "description": "Commitment -> Schedule C D -> Assigned Language"
                  },
                  "loanSequenceId": {
                    "format": "int32",
                    "type": "integer",
                    "x-nullable": true,
                    "title": "Loan Sequence Id",
                    "description": "Commitment -> Schedule C D -> Loan Sequence Id"
                  },
                  "sequence": {
                    "format": "int32",
                    "type": "integer",
                    "title": "Sequence",
                    "description": "Commitment -> Schedule C D -> Sequence"
                  }
                },
                "description": "Gets or Sets Schedule C D Items",
                "type": "object"
              },
              "type": "array",
              "title": "Schedule C D",
              "description": "Commitment -> Schedule C D"
            }
          },
          "type": "object"
        },
        "detail": {
          "title": "Detail",
          "description": "Detail",
          "properties": {
            "agents": {
              "additionalProperties": {
                "properties": {
                  "NickName": {
                    "type": "string"
                  },
                  "PartyIdReference": {
                    "type": "string"
                  }
                },
                "description": "Gets or Sets Additional Properties",
                "type": "object"
              },
              "type": "object",
              "title": "Agents",
              "description": "Detail -> Agents"
            },
            "association": {
              "enum": [
                "TLTA",
                "ALTA"
              ],
              "type": "string",
              "title": "Association",
              "description": "Detail -> Association"
            },
            "attributes": {
              "additionalProperties": {
                "type": "string"
              },
              "type": "object",
              "title": "Attributes",
              "description": "Detail -> Attributes"
            },
            "branch": {
              "type": "string",
              "title": "Branch",
              "description": "Detail -> Branch"
            },
            "category": {
              "type": "string",
              "title": "Category",
              "description": "Detail -> Category"
            },
            "dates": {
              "items": {
                "description": "Gets or Sets dates",
                "type": "object",
                "properties": {
                  "Type": {
                    "type": "string",
                    "enum": [
                      "Application",
                      "Canceled",
                      "Closing",
                      "Commit",
                      "Created",
                      "Expiration",
                      "Effective",
                      "Opened",
                      "Other",
                      "Policy",
                      "Published",
                      "Remit",
                      "Report",
                      "Submit",
                      "Updated",
                      "Ordered",
                      "Fulfilled",
                      "Completed",
                      "Due",
                      "Delivered",
                      "Accepted",
                      "Failed",
                      "Funding",
                      "Issued"
                    ],
                    "title": "Type",
                    "description": "Detail -> Dates -> Type"
                  },
                  "Value": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Value",
                    "description": "Detail -> Dates -> Value"
                  }
                }
              },
              "type": "array",
              "title": "Dates",
              "description": "Detail -> Dates"
            },
            "escrowBank": {
              "properties": {
                "NickName": {
                  "type": "string",
                  "title": "Nick Name",
                  "description": "Detail -> Escrow Bank -> Nick Name"
                },
                "PartyIdReference": {
                  "type": "string",
                  "title": "Party Id Reference",
                  "description": "Detail -> Escrow Bank -> Party Id Reference"
                }
              },
              "type": "object",
              "title": "Escrow Bank",
              "description": "Detail -> Escrow Bank"
            },
            "fileNumber": {
              "type": "string",
              "title": "File Number",
              "description": "Detail -> File Number"
            },
            "otherEnterpriseFileNumber": {
              "type": "string",
              "title": "Other Enterprise File Number",
              "description": "Detail -> Other Enterprise File Number"
            },
            "referenceKey": {
              "type": "string",
              "title": "Reference Key",
              "description": "Detail -> Reference Key"
            },
            "region": {
              "type": "string",
              "title": "Region",
              "description": "Detail -> Region"
            },
            "service": {
              "enum": [
                "Other",
                "Owner",
                "OwnerNonResidential",
                "Mortgage",
                "Simultaneous",
                "SimultaneousNonResidential",
                "Binder",
                "TitleGuarantee",
                "ConstructionLoan",
                "Undefined"
              ],
              "type": "string",
              "title": "Service",
              "description": "Detail -> Service"
            },
            "sourceOfBusiness": {
              "type": "string",
              "title": "Source Of Business",
              "description": "Detail -> Source Of Business"
            },
            "status": {
              "enum": [
                "Cancelled",
                "Open",
                "Closed",
                "Undefined",
                "New",
                "Template",
                "On Hold",
                "Old",
                "Legacy"
              ],
              "type": "string",
              "title": "Status",
              "description": "Detail -> Status"
            },
            "template": {
              "type": "string",
              "title": "Template",
              "description": "Detail -> Template"
            },
            "titleCompany": {
              "properties": {
                "NickName": {
                  "type": "string",
                  "title": "Nick Name",
                  "description": "Detail -> Title Company -> Nick Name"
                },
                "PartyIdReference": {
                  "type": "string",
                  "title": "Party Id Reference",
                  "description": "Detail -> Title Company -> Party Id Reference"
                }
              },
              "type": "object",
              "title": "Title Company",
              "description": "Detail -> Title Company"
            },
            "transactionId": {
              "type": "string",
              "title": "Transaction Id",
              "description": "Detail -> Transaction Id"
            },
            "type": {
              "type": "string",
              "title": "Type",
              "description": "Detail -> Type"
            },
            "underwriter": {
              "properties": {
                "NickName": {
                  "type": "string",
                  "title": "Nick Name",
                  "description": "Detail -> Underwriter -> Nick Name"
                },
                "PartyIdReference": {
                  "type": "string",
                  "title": "Party Id Reference",
                  "description": "Detail -> Underwriter -> Party Id Reference"
                }
              },
              "type": "object",
              "title": "Underwriter",
              "description": "Detail -> Underwriter"
            }
          },
          "type": "object"
        },
        "documents": {
          "title": "Documents",
          "description": "Documents",
          "items": {
            "properties": {
              "attributes": {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object",
                "title": "Attributes",
                "description": "Documents -> Attributes"
              },
              "category": {
                "type": "string",
                "title": "Category",
                "description": "Documents -> Category"
              },
              "date": {
                "type": "object",
                "properties": {
                  "Type": {
                    "type": "string",
                    "enum": [
                      "Application",
                      "Canceled",
                      "Closing",
                      "Commit",
                      "Created",
                      "Expiration",
                      "Effective",
                      "Opened",
                      "Other",
                      "Policy",
                      "Published",
                      "Remit",
                      "Report",
                      "Submit",
                      "Updated",
                      "Ordered",
                      "Fulfilled",
                      "Completed",
                      "Due",
                      "Delivered",
                      "Accepted",
                      "Failed",
                      "Funding",
                      "Issued"
                    ],
                    "title": "Type",
                    "description": "Documents -> Date -> Type"
                  },
                  "Value": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Value",
                    "description": "Documents -> Date -> Value"
                  }
                },
                "title": "Date",
                "description": "Documents -> Date"
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "Documents -> Description"
              },
              "documentBase64": {
                "type": "string",
                "title": "Document Base64",
                "description": "Documents -> Document Base64"
              },
              "fileName": {
                "type": "string",
                "title": "File Name",
                "description": "Documents -> File Name"
              },
              "format": {
                "enum": [
                  "JPEG",
                  "PNG",
                  "DOC",
                  "DOCX",
                  "XLS",
                  "XLSX",
                  "TXT",
                  "RTF",
                  "PDF",
                  "CSV",
                  "XML"
                ],
                "type": "string",
                "title": "Format",
                "description": "Documents -> Format"
              },
              "id": {
                "type": "string",
                "title": "Id",
                "description": "Documents -> Id"
              },
              "key": {
                "description": "Documents -> Key",
                "type": "string",
                "title": "Key"
              },
              "publisher": {
                "description": "Documents -> Publisher",
                "type": "string",
                "title": "Publisher"
              },
              "submissionReference": {
                "description": "Documents -> Submission Reference",
                "type": "string",
                "title": "Submission Reference"
              }
            },
            "description": "Gets or Sets Documents",
            "type": "object"
          },
          "type": "array"
        },
        "financial": {
          "title": "Financial",
          "description": "Financial",
          "properties": {
            "attributes": {
              "additionalProperties": {
                "type": "string"
              },
              "type": "object",
              "title": "Attributes",
              "description": "Financial -> Attributes"
            },
            "cashOutAmount": {
              "format": "decimal",
              "type": "number",
              "title": "Cash Out Amount",
              "description": "Financial -> Cash Out Amount"
            },
            "downPayment": {
              "format": "decimal",
              "type": "number",
              "title": "Down Payment",
              "description": "Financial -> Down Payment"
            },
            "earnestMoney": {
              "format": "decimal",
              "type": "number",
              "title": "Earnest Money",
              "description": "Financial -> Earnest Money"
            },
            "loanPolicyLiabilityOverride": {
              "format": "decimal",
              "type": "number",
              "title": "Loan Policy Liability Override",
              "description": "Financial -> Loan Policy Liability Override"
            },
            "loans": {
              "items": {
                "properties": {
                  "amount": {
                    "format": "decimal",
                    "type": "number",
                    "title": "Amount",
                    "description": "Financial -> Loans -> Amount"
                  },
                  "attributes": {
                    "additionalProperties": {
                      "type": "string"
                    },
                    "type": "object",
                    "title": "Attributes",
                    "description": "Financial -> Loans -> Attributes"
                  },
                  "id": {
                    "format": "int32",
                    "type": "integer",
                    "x-nullable": true,
                    "title": "Id",
                    "description": "Financial -> Loans -> Id"
                  },
                  "lender": {
                    "properties": {
                      "NickName": {
                        "type": "string",
                        "title": "Nick Name",
                        "description": "Financial -> Loans -> Lender -> Nick Name"
                      },
                      "PartyIdReference": {
                        "type": "string",
                        "title": "Party Id Reference",
                        "description": "Financial -> Loans -> Lender -> Party Id Reference"
                      }
                    },
                    "type": "object",
                    "title": "Lender",
                    "description": "Financial -> Loans -> Lender"
                  },
                  "loanDetail": {
                    "properties": {
                      "apr": {
                        "format": "decimal",
                        "type": "number",
                        "title": "Apr",
                        "description": "Financial -> Loans -> Loan Detail -> Apr"
                      },
                      "payment": {
                        "properties": {
                          "hoa": {
                            "format": "decimal",
                            "type": "number",
                            "title": "Hoa",
                            "description": "Financial -> Loans -> Loan Detail -> Payment -> Hoa"
                          },
                          "interest": {
                            "format": "decimal",
                            "type": "number",
                            "title": "Interest",
                            "description": "Financial -> Loans -> Loan Detail -> Payment -> Interest"
                          },
                          "mortgageInsurance": {
                            "format": "decimal",
                            "type": "number",
                            "title": "Mortgage Insurance",
                            "description": "Financial -> Loans -> Loan Detail -> Payment -> Mortgage Insurance"
                          },
                          "principal": {
                            "format": "decimal",
                            "type": "number",
                            "title": "Principal",
                            "description": "Financial -> Loans -> Loan Detail -> Payment -> Principal"
                          },
                          "taxes": {
                            "format": "decimal",
                            "type": "number",
                            "title": "Taxes",
                            "description": "Financial -> Loans -> Loan Detail -> Payment -> Taxes"
                          },
                          "totalMonthly": {
                            "format": "decimal",
                            "type": "number",
                            "title": "Total Monthly",
                            "description": "Financial -> Loans -> Loan Detail -> Payment -> Total Monthly"
                          }
                        },
                        "type": "object",
                        "title": "Payment",
                        "description": "Financial -> Loans -> Loan Detail -> Payment"
                      },
                      "rate": {
                        "format": "decimal",
                        "type": "number",
                        "title": "Rate",
                        "description": "Financial -> Loans -> Loan Detail -> Rate"
                      },
                      "term": {
                        "format": "int32",
                        "type": "integer",
                        "x-nullable": true,
                        "title": "Term",
                        "description": "Financial -> Loans -> Loan Detail -> Term"
                      }
                    },
                    "type": "object",
                    "title": "Loan Detail",
                    "description": "Financial -> Loans -> Loan Detail"
                  },
                  "loanNumber": {
                    "type": "string",
                    "title": "Loan Number",
                    "description": "Financial -> Loans -> Loan Number"
                  },
                  "loanPolicyLiability": {
                    "format": "decimal",
                    "type": "number",
                    "title": "Loan Policy Liability",
                    "description": "Financial -> Loans -> Loan Policy Liability"
                  },
                  "mortgageBroker": {
                    "properties": {
                      "NickName": {
                        "type": "string",
                        "title": "Nick Name",
                        "description": "Financial -> Loans -> Mortgage Broker -> Nick Name"
                      },
                      "PartyIdReference": {
                        "type": "string",
                        "title": "Party Id Reference",
                        "description": "Financial -> Loans -> Mortgage Broker -> Party Id Reference"
                      }
                    },
                    "type": "object",
                    "title": "Mortgage Broker",
                    "description": "Financial -> Loans -> Mortgage Broker"
                  },
                  "mortgageInsuranceCase": {
                    "type": "string",
                    "title": "Mortgage Insurance Case",
                    "description": "Financial -> Loans -> Mortgage Insurance Case"
                  },
                  "sequence": {
                    "format": "int32",
                    "type": "integer",
                    "title": "Sequence",
                    "description": "Financial -> Loans -> Sequence"
                  }
                },
                "description": "Gets or Sets Loans",
                "type": "object"
              },
              "type": "array",
              "title": "Loans",
              "description": "Financial -> Loans"
            },
            "ownerPolicyLiabilityOverride": {
              "format": "decimal",
              "type": "number",
              "title": "Owner Policy Liability Override",
              "description": "Financial -> Owner Policy Liability Override"
            },
            "purchasePrice": {
              "format": "decimal",
              "type": "number",
              "title": "Purchase Price",
              "description": "Financial -> Purchase Price"
            },
            "purpose": {
              "type": "string",
              "title": "Purpose",
              "description": "Financial -> Purpose"
            },
            "transactionType": {
              "enum": [
                "Purchase",
                "Refinance",
                "HomeEquity"
              ],
              "type": "string",
              "x-nullable": true,
              "title": "Transaction Type",
              "description": "Financial -> Transaction Type"
            }
          },
          "type": "object"
        },
        "key": {
          "title": "Key",
          "description": "Key",
          "format": "uuid",
          "type": "string"
        },
        "notes": {
          "title": "Notes",
          "description": "Notes",
          "items": {
            "properties": {
              "date": {
                "type": "object",
                "properties": {
                  "Type": {
                    "type": "string",
                    "enum": [
                      "Application",
                      "Canceled",
                      "Closing",
                      "Commit",
                      "Created",
                      "Expiration",
                      "Effective",
                      "Opened",
                      "Other",
                      "Policy",
                      "Published",
                      "Remit",
                      "Report",
                      "Submit",
                      "Updated",
                      "Ordered",
                      "Fulfilled",
                      "Completed",
                      "Due",
                      "Delivered",
                      "Accepted",
                      "Failed",
                      "Funding",
                      "Issued"
                    ],
                    "title": "Type",
                    "description": "Notes -> Date -> Type"
                  },
                  "Value": {
                    "type": "string",
                    "format": "date-time",
                    "title": "Value",
                    "description": "Notes -> Date -> Value"
                  }
                },
                "title": "Date",
                "description": "Notes -> Date"
              },
              "message": {
                "type": "string",
                "title": "Message",
                "description": "Notes -> Message"
              },
              "publisher": {
                "type": "string",
                "title": "Publisher",
                "description": "Notes -> Publisher"
              },
              "title": {
                "type": "string",
                "title": "Title",
                "description": "Notes -> Title"
              }
            },
            "description": "Gets or Sets Notes",
            "type": "object"
          },
          "type": "array"
        },
        "parties": {
          "title": "Parties",
          "description": "Parties",
          "items": {
            "properties": {
              "addresses": {
                "items": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "line1": {
                          "type": "string",
                          "title": "Line1",
                          "description": "Parties -> Addresses -> Line1"
                        },
                        "line2": {
                          "type": "string",
                          "title": "Line2",
                          "description": "Parties -> Addresses -> Line2"
                        },
                        "city": {
                          "type": "string",
                          "title": "City",
                          "description": "Parties -> Addresses -> City"
                        },
                        "state": {
                          "type": "string",
                          "title": "State",
                          "description": "Parties -> Addresses -> State"
                        },
                        "zip": {
                          "type": "string",
                          "title": "Zip",
                          "description": "Parties -> Addresses -> Zip"
                        },
                        "county": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "title": "Name",
                              "description": "Parties -> Addresses -> County -> Name"
                            },
                            "fips": {
                              "type": "string",
                              "title": "Fips",
                              "description": "Parties -> Addresses -> County -> Fips"
                            },
                            "statecode": {
                              "type": "integer",
                              "format": "int64",
                              "title": "Statecode",
                              "description": "Parties -> Addresses -> County -> Statecode"
                            },
                            "countycode": {
                              "type": "integer",
                              "format": "int64",
                              "title": "Countycode",
                              "description": "Parties -> Addresses -> County -> Countycode"
                            }
                          },
                          "title": "County",
                          "description": "Parties -> Addresses -> County"
                        },
                        "country": {
                          "type": "string",
                          "title": "Country",
                          "description": "Parties -> Addresses -> Country"
                        }
                      },
                      "title": "Addresses",
                      "description": "Parties -> Addresses"
                    },
                    {
                      "properties": {
                        "full": {
                          "type": "string",
                          "title": "Full",
                          "description": "Parties -> Addresses -> Full"
                        },
                        "type": {
                          "enum": [
                            "Business",
                            "Forwarding",
                            "Present",
                            "Mailing",
                            "Work",
                            "TransactionProperty",
                            "Other"
                          ],
                          "type": "string",
                          "title": "Type",
                          "description": "Parties -> Addresses -> Type"
                        }
                      },
                      "type": "object",
                      "title": "Addresses",
                      "description": "Parties -> Addresses"
                    }
                  ]
                },
                "type": "array",
                "title": "Addresses",
                "description": "Parties -> Addresses"
              },
              "attributes": {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object",
                "title": "Attributes",
                "description": "Parties -> Attributes"
              },
              "communications": {
                "items": {
                  "properties": {
                    "foreign": {
                      "type": "boolean",
                      "title": "Foreign",
                      "description": "Parties -> Communications -> Foreign"
                    },
                    "primary": {
                      "type": "boolean",
                      "title": "Primary",
                      "description": "Parties -> Communications -> Primary"
                    },
                    "type": {
                      "enum": [
                        "Unspecified",
                        "Cellular",
                        "Home",
                        "Fax",
                        "Email",
                        "Website",
                        "BusinessPhone",
                        "BusinessFax",
                        "BusinessEmail",
                        "Other"
                      ],
                      "type": "string",
                      "title": "Type",
                      "description": "Parties -> Communications -> Type"
                    },
                    "value": {
                      "type": "string",
                      "title": "Value",
[...]
