{
  "swagger": "2.0",
  "info": {
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "version": "v1",
    "title": "Jupyrest",
    "description": "Jupyrest is a service that can run notebooks with predefined input and output contracts.",
    "contact": {
      "email": "cosmosdbla@microsoft.com",
      "url": "https://github.com/microsoft/jupyrest",
      "name": "LivesiteAutomation"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/jupyrest",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/Notebooks": {
      "get": {
        "description": "Get available notebooks.",
        "summary": "Get available notebooks",
        "tags": [
          "JupyrestConnector"
        ],
        "operationId": "GetNotebooks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "notebook": {
                    "type": "string",
                    "description": "notebook"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/jupyrest/#get-available-notebooks"
        }
      }
    },
    "/{connectionId}/NotebookMetadata": {
      "get": {
        "description": "Get notebook metadata.",
        "summary": "Get notebook metadata",
        "tags": [
          "JupyrestConnector"
        ],
        "operationId": "GetNotebookMetadata",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebook",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "notebook",
            "description": "notebook name",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "notebook",
              "value-title": "notebook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/jupyrest/#get-notebook-metadata"
        }
      }
    },
    "/{connectionId}/NotebookExecutions": {
      "get": {
        "description": "Get a notebook execution.",
        "summary": "Get a notebook execution",
        "tags": [
          "JupyrestConnector"
        ],
        "operationId": "GetNotebookExecution",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "executionId",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "executionId",
            "description": "Execution Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "disableRedirect",
            "in": "query",
            "type": "boolean",
            "default": true,
            "required": true,
            "x-ms-summary": "disableRedirect",
            "description": "if ture, disable redirect",
            "x-ms-visibility": "internal"
          },
          {
            "name": "output",
            "in": "query",
            "type": "boolean",
            "default": false,
            "required": true,
            "x-ms-summary": "output",
            "description": "If true, return notebook's saved output",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "html",
            "in": "query",
            "type": "boolean",
            "default": false,
            "required": true,
            "x-ms-summary": "html",
            "description": "If true, return html result in the response",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "report",
            "in": "query",
            "type": "boolean",
            "default": false,
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "report mode",
            "description": "If true, return report version of execution results (without notebook command cells)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotebookResponse"
            },
            "headers": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/jupyrest/#get-a-notebook-execution"
        }
      },
      "post": {
        "description": "Run a notebook.",
        "summary": "Run a notebook",
        "tags": [
          "JupyrestConnector"
        ],
        "operationId": "NotebookExecution",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "disableRedirect",
            "in": "query",
            "type": "boolean",
            "default": true,
            "required": true,
            "x-ms-summary": "disableRedirect",
            "description": "if ture, disable redirect",
            "x-ms-visibility": "internal"
          },
          {
            "name": "output",
            "in": "query",
            "type": "boolean",
            "default": true,
            "required": true,
            "x-ms-summary": "output",
            "description": "If true, return notebook's saved output",
            "x-ms-visibility": "internal"
          },
          {
            "name": "html",
            "in": "query",
            "type": "boolean",
            "default": true,
            "required": true,
            "x-ms-summary": "html",
            "description": "If true, return html result in the response",
            "x-ms-visibility": "internal"
          },
          {
            "name": "report",
            "in": "query",
            "type": "boolean",
            "default": false,
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "report mode",
            "description": "If true, return report version of execution results (without notebook command cells)."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Notebook input parameters.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notebook": {
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetNotebooks",
                    "value-path": "notebook",
                    "value-title": "notebook"
                  }
                },
                "parameters": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetNotebookMetadata",
                    "value-path": "input",
                    "parameters": {
                      "notebook": {
                        "parameter": "notebook"
                      }
                    }
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "GetNotebookMetadata",
                    "itemValuePath": "input",
                    "parameters": {
                      "notebook": {
                        "parameterReference": "parameters/notebook"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotebookResponse"
            },
            "headers": {}
          },
          "202": {
            "description": "Success",
            "headers": {
              "execution_id": {
                "type": "string",
                "description": "execution id"
              },
              "location": {
                "type": "string",
                "description": "url location for getting execution status"
              },
              "retry-after": {
                "type": "string",
                "description": "retry after in seconds"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/jupyrest/#run-a-notebook"
        }
      }
    },
    "/{connectionId}/NotebookExecutionStatus": {
      "get": {
        "description": "Get notebook execution status.",
        "summary": "Get notebook execution status",
        "tags": [
          "JupyrestConnector"
        ],
        "operationId": "GetNotebookExecutionStatus",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "executionId",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-summary": "executionId",
            "description": "Execution Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "disableRedirect",
            "in": "query",
            "type": "boolean",
            "default": true,
            "required": true,
            "x-ms-summary": "disableRedirect",
            "description": "if ture, disable redirect",
            "x-ms-visibility": "internal"
          },
          {
            "name": "output",
            "in": "query",
            "type": "boolean",
            "default": false,
            "required": true,
            "x-ms-summary": "output",
            "description": "If true, return notebook's saved output",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "html",
            "in": "query",
            "type": "boolean",
            "default": false,
            "required": true,
            "x-ms-summary": "html",
            "description": "If true, return html result in the response",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "report",
            "in": "query",
            "type": "boolean",
            "default": false,
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "report mode",
            "description": "If true, return report version of execution results (without notebook command cells)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NotebookResponse"
            },
            "headers": {}
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/jupyrest/#get-notebook-execution-status"
        }
      }
    },
    "/{connectionId}/Synapse": {
      "post": {
        "responses": {
          "201": {
            "description": "Artifact created in Synapse",
            "schema": {
              "$ref": "#/definitions/SynapseResponse"
            }
          }
        },
        "summary": "Upload a notebook to Synapse",
        "description": "Uploads a notebook to Synapse given an existing Execution Id or a set of parameters.",
        "operationId": "UploadToSynapse",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Notebook input parameters.",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "notebook": {
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetNotebooks",
                    "value-path": "notebook",
                    "value-title": "notebook"
                  }
                },
                "parameters": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetNotebookMetadata",
                    "value-path": "input",
                    "parameters": {
                      "notebook": {
                        "parameter": "notebook"
                      }
                    }
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "GetNotebookMetadata",
                    "itemValuePath": "input",
                    "parameters": {
                      "notebook": {
                        "parameterReference": "parameters/notebook"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/jupyrest/#upload-a-notebook-to-synapse"
        }
      }
    }
  },
  "definitions": {
    "NotebookResponse": {
      "title": "NotebookResponse",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "notebook execution id"
        },
        "status": {
          "type": "string",
          "description": "notebook execution status"
        },
        "notebook": {
          "type": "string",
          "description": "notebook name"
        },
        "parameters": {
          "type": "object",
          "description": "notebook input parameters"
        },
        "output": {
          "type": "array",
          "items": {},
          "description": "notebook execution output results"
        },
        "html": {
          "type": "string",
          "description": "notebook html results"
        },
        "start_time": {
          "type": "string",
          "description": "notebook execution start time"
        },
        "end_time": {
          "type": "string",
          "description": "notebook execution end time"
        },
        "exception": {
          "type": "string",
          "description": "notebook execution exception"
        }
      }
    },
    "SynapseResponse": {
      "title": "SynapseResponse",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "Synapse URL of the created notebook.",
          "title": ""
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "tags": [
    {
      "name": "JupyrestConnector",
      "description": ""
    }
  ],
  "securityDefinitions": {},
  "security": [
    {
      "undefined": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://github.com/microsoft/jupyrest"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://github.com/microsoft/jupyrest/blob/main/SECURITY.md"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/jupyrest"
  }
}
