{
  "swagger": "2.0",
  "info": {
    "title": "Copilot for Sales",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "description": "Microsoft Sales Copilot Connector",
    "contact": {
      "name": "Microsoft",
      "url": "https://www.microsoft.com/en-us/microsoft-365/copilot/copilot-for-sales"
    },
    "x-ms-openai-published-to-copilots": [
      {
        "AICopilot-enabled": true,
        "AICopilotName": "Microsoft 365 Copilot"
      }
    ],
    "x-ms-keywords": [
      "sales",
      "copilot",
      "opportunity",
      "opportunities",
      "account",
      "accounts",
      "contact",
      "contacts",
      "customer",
      "customers",
      "brand",
      "brands",
      "competitor",
      "competitors",
      "crm",
      "meeting",
      "meetings",
      "win rate",
      "sales cycle",
      "pipeline",
      "c4S",
      "lead",
      "leads",
      "order",
      "orders",
      "case",
      "cases",
      "price",
      "product",
      "products",
      "rate",
      "revenue"
    ]
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/api/skills/execute": {
      "post": {
        "tags": [
          "Skills"
        ],
        "operationId": "ExecuteSkill",
        "summary": "Execute Skill",
        "description": "Executes a skill to perform a specific action or task.",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept-Language",
            "in": "header",
            "description": "The natural language and locale that the client prefers.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-follow-redirect",
            "in": "header",
            "description": "Connecter level header that controls if the temporary redirect (307) returned from the backend server should be handled in the connector.",
            "type": "string",
            "default": "true",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-conversation-id",
            "in": "header",
            "description": "Conversation ID usually used for tracing in the context of conversational experience.",
            "type": "string"
          },
          {
            "name": "x-ms-salescopilot-scenario-context",
            "in": "header",
            "description": "Scenario context.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-vivasalesclienttype",
            "in": "header",
            "description": "Client type defining OBO behavior in Auth Service.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-skillsservice",
            "in": "header",
            "description": "Copilot skills service router value.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-correlation-request-id",
            "in": "header",
            "description": "Correlation Request ID.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-correlation-id",
            "in": "header",
            "description": "Microsoft Correlation ID.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Microsoft Client Correlation ID.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-salescopilot-crmorganizationurl",
            "in": "header",
            "description": "Proxy Organization URL.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-vivasalesconnectioninfo",
            "in": "header",
            "description": "Base64 encoded connection info.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-vivasales-entityconfigversion",
            "in": "header",
            "description": "Connection info header.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Execute skill request body.",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "$ref": "#/definitions/ExecuteSkillRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SkillResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ExecuteSkill",
              "x-ms-require-user-confirmation": false,
              "x-openai-isConsequential": false,
              "capabilities": {
                "response_semantics": {
                  "data_path": "$.results",
                  "properties": {
                    "title": "$.PreviewCardTitle",
                    "subtitle": "$.PreviewCardSubtitle",
                    "url": "$.PreviewCardUrl",
                    "template_selector": "$.DynamicTemplatesPath"
                  }
                }
              }
            }
          ]
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/copilotforsales/#execute-skill"
        }
      }
    }
  },
  "definitions": {
    "ExecuteSkillRequestBody": {
      "type": "object",
      "properties": {
        "skillName": {
          "type": "string",
          "title": "Skill Name",
          "description": "Name of the skill to execute.",
          "x-ms-visibility": "important"
        },
        "parameters": {
          "type": "object",
          "title": "Parameters",
          "description": "Parameters to pass to the skill.",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "SkillResponse": {
      "type": "object",
      "properties": {
        "skillName": {
          "type": "string",
          "title": "Skill Name",
          "description": "Name of the executed skill.",
          "x-ms-visibility": "advanced"
        },
        "result": {
          "type": "string",
          "title": "Result",
          "description": "Result of the skill execution.",
          "x-ms-visibility": "important"
        }
      },
      "additionalProperties": false
    },
    "ProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "access_as_user": "access_as_user"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "access_as_user"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.microsoft.com/en-us/microsoft-365/copilot/copilot-for-sales"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "Copilot for Sales",
    "modelDescription": "Microsoft Sales Copilot Connector"
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/copilotforsales"
  },
  "basePath": "/apim/copilotforsales"
}
