{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "UserVoice",
    "description": "UserVoice is a product management and customer support tool that allows businesses to build a suggestions portal for their users to submit feature ideas, build a ticketing system for customer support and build articles knowledge base for users.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/uservoice",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "UserVoiceMashupDataSetsMetadata"
        ],
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/$metadata.json/datasets/default/tables/{table}": {
      "get": {
        "tags": [
          "UserVoiceMashupTableMetadata"
        ],
        "summary": "Get item metadata",
        "description": "Retrieves item metadata for UserVoice object type",
        "operationId": "GetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#get-item-metadata"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')": {
      "get": {
        "tags": [
          "UserVoiceMashupTableMetadata"
        ],
        "summary": "Get item metadata",
        "description": "Retrieves item metadata for UserVoice object type",
        "operationId": "ODataStyleGetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name",
            "required": true,
            "x-ms-summary": "Dataset name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#get-item-metadata"
        }
      }
    },
    "/{connectionId}/datasets": {
      "get": {
        "tags": [
          "UserVoiceMashupDataSet"
        ],
        "summary": "Gets datasets",
        "description": "Retrieves all datasets available to the connection",
        "operationId": "GetDataSets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#gets-datasets"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/tables": {
      "get": {
        "tags": [
          "UserVoiceMashupTable"
        ],
        "summary": "Get item types",
        "description": "Retrieves UserVoice item types",
        "operationId": "GetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#get-item-types"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets({dataset})/tables": {
      "get": {
        "tags": [
          "UserVoiceMashupTable"
        ],
        "operationId": "ODataStyleGetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/tables/{table}/items": {
      "get": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Get items",
        "description": "Retrieves UserVoice items of a certain UserVoice type (example: 'Suggestion')",
        "operationId": "GetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512)",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#get-items"
        }
      },
      "post": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Create item",
        "description": "Creates a UserVoice item",
        "operationId": "PostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "UserVoice item to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#create-item"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items": {
      "get": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Get items",
        "description": "Retrieves UserVoice items of a certain UserVoice type (example: 'Suggestion')",
        "operationId": "ODataStyleGetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name",
            "required": true,
            "x-ms-summary": "Dataset name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512)",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specific fields to retrieve from entries (default = all).",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#get-items"
        }
      },
      "post": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Create item",
        "description": "Creates a UserVoice item",
        "operationId": "ODataStylePostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name",
            "required": true,
            "x-ms-summary": "Dataset name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "UserVoice item to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#create-item"
        }
      }
    },
    "/{connectionId}/datasets/default/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Get item",
        "description": "Retrieves a UserVoice item",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the item to retrieve",
            "required": true,
            "x-ms-summary": "Item key",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#get-item"
        }
      },
      "delete": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Delete item",
        "description": "Deletes a UserVoice item",
        "operationId": "DeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the item to delete",
            "required": true,
            "x-ms-summary": "Item key",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#delete-item"
        }
      },
      "patch": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Update item",
        "description": "Updates an existing UserVoice item",
        "operationId": "PatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the item to update",
            "required": true,
            "x-ms-summary": "Item key",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "UserVoice item with updated values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#update-item"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items({id})": {
      "get": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Get item",
        "description": "Retrieves a UserVoice item",
        "operationId": "ODataStyleGetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name",
            "required": true,
            "x-ms-summary": "Dataset name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the item to retrieve",
            "required": true,
            "x-ms-summary": "Item key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#get-item"
        }
      },
      "delete": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Delete item",
        "description": "Deletes a UserVoice item",
        "operationId": "ODataStyleDeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name",
            "required": true,
            "x-ms-summary": "Dataset name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the item to delete",
            "required": true,
            "x-ms-summary": "Item key",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#delete-item"
        }
      },
      "patch": {
        "tags": [
          "UserVoiceMashupTableData"
        ],
        "summary": "Update item",
        "description": "Updates an existing UserVoice item",
        "operationId": "ODataStylePatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name",
            "required": true,
            "x-ms-summary": "Dataset name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "UserVoice item type (example: 'Suggestion')",
            "required": true,
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the item to update",
            "required": true,
            "x-ms-summary": "Item key",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "UserVoice item with updated values",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#update-item"
        }
      }
    },
    "/{connectionId}/datasets/default/tables/{table}/onnewitems": {
      "get": {
        "tags": [
          "UserVoiceMashupTableDataTrigger"
        ],
        "summary": "When an item is created",
        "description": "Triggers a flow when an item is created in UserVoice",
        "operationId": "GetOnNewItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of UserVoice table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512)",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#when-an-item-is-created"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/onnewitems": {
      "get": {
        "tags": [
          "UserVoiceMashupTableDataTrigger"
        ],
        "summary": "When an item is created",
        "description": "Triggers a flow when an item is created in UserVoice",
        "operationId": "ODataStyleGetOnNewItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name",
            "required": true,
            "x-ms-summary": "Dataset name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of UserVoice table",
            "required": true,
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512)",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#when-an-item-is-created"
        }
      }
    },
    "/{connectionId}/datasets/default/tables/{table}/onupdateditems": {
      "get": {
        "tags": [
          "UserVoiceMashupTableDataTrigger"
        ],
        "summary": "When an item is modified",
        "description": "Triggers a flow when an item is modified in UserVoice",
        "operationId": "GetOnUpdatedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of UserVoice table",
            "required": true,
            "x-ms-summary": "Table name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512)",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#when-an-item-is-modified"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/onupdateditems": {
      "get": {
        "tags": [
          "UserVoiceMashupTableDataTrigger"
        ],
        "summary": "When an item is modified",
        "description": "Triggers a flow when an item is modified in UserVoice",
        "operationId": "ODataStyleGetOnUpdatedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "dataset name",
            "required": true,
            "x-ms-summary": "Dataset name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of UserVoice table",
            "required": true,
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512)",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uservoice/#when-an-item-is-modified"
        }
      }
    },
    "/{connectionId}/datasets/default/tables/{table}/ondeleteditems": {
      "get": {
        "tags": [
          "UserVoiceMashupTableDataTrigger"
        ],
        "operationId": "GetOnDeletedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512)",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch"
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/ondeleteditems": {
      "get": {
        "tags": [
          "UserVoiceMashupTableDataTrigger"
        ],
        "operationId": "ODataStyleGetOnDeletedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Maximum number of entries to retrieve (default = 512)",
            "required": false,
            "x-ms-summary": "Maximum Get Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch"
      }
    }
  },
  "definitions": {
    "DataSetsMetadata": {
      "type": "object",
      "properties": {
        "tabular": {
          "$ref": "#/definitions/TabularDataSetsMetadata"
        },
        "blob": {
          "$ref": "#/definitions/BlobDataSetsMetadata"
        }
      }
    },
    "TabularDataSetsMetadata": {
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "urlEncoding": {
          "type": "string"
        },
        "tableDisplayName": {
          "type": "string"
        },
        "tablePluralName": {
          "type": "string"
        }
      }
    },
    "BlobDataSetsMetadata": {
      "type": "object",
      "properties": {
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "urlEncoding": {
          "type": "string"
        }
      }
    },
    "TableMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "x-ms-permission": {
          "type": "string"
        },
        "x-ms-capabilities": {
          "$ref": "#/definitions/TableCapabilitiesMetadata"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        },
        "referencedEntities": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "TableCapabilitiesMetadata": {
      "type": "object",
      "properties": {
        "sortRestrictions": {
          "$ref": "#/definitions/TableSortRestrictionsMetadata"
        },
        "filterRestrictions": {
          "$ref": "#/definitions/TableFilterRestrictionsMetadata"
        },
        "selectRestrictions": {
          "$ref": "#/definitions/TableSelectRestrictionsMetadata"
        },
        "isOnlyServerPagable": {
          "description": "Server paging restrictions",
          "type": "boolean"
        },
        "filterFunctionSupport": {
          "type": "array",
          "items": {
            "enum": [
              "eq",
              "ne",
              "gt",
              "ge",
              "lt",
              "le",
              "and",
              "or",
              "contains",
              "startswith",
              "endswith",
              "length",
              "indexof",
              "replace",
              "substring",
              "substringof",
              "tolower",
              "toupper",
              "trim",
              "concat",
              "year",
              "month",
              "day",
              "hour",
              "minute",
              "second",
              "date",
              "time",
              "now",
              "totaloffsetminutes",
              "totalseconds",
              "floor",
              "ceiling",
              "round",
              "not",
              "negate",
              "add",
              "sub",
              "mul",
              "div",
              "mod",
              "sum",
              "min",
              "max",
              "average",
              "countdistinct",
              "null"
            ],
            "type": "string"
          }
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "TableSortRestrictionsMetadata": {
      "type": "object",
      "properties": {
        "sortable": {
          "description": "Indicates whether this table has sortable columns",
          "type": "boolean"
        },
        "unsortableProperties": {
          "description": "List of unsortable properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ascendingOnlyProperties": {
          "description": "List of properties which support ascending order only",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableFilterRestrictionsMetadata": {
      "type": "object",
      "properties": {
        "filterable": {
          "description": "Indicates whether this table has filterable columns",
          "type": "boolean"
        },
        "nonFilterableProperties": {
          "description": "List of non filterable properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requiredProperties": {
          "description": "List of required properties",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TableSelectRestrictionsMetadata": {
      "description": "Metadata for a table (select restrictions)",
      "type": "object",
      "properties": {
        "selectable": {
          "description": "Indicates whether this table has selectable columns",
          "type": "boolean"
        }
      }
    },
    "DataSetsList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSet"
          }
        }
      }
    },
    "DataSet": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        }
      }
    },
    "Table": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        }
      }
    },
    "Item": {
      "type": "object",
      "properties": {
        "dynamicProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          }
        }
      },
      "additionalProperties": {
        "$ref": "#/definitions/Object"
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetTable",
        "parameters": {
          "table": {
            "parameter": "table"
          }
        },
        "value-path": "Schema/Items"
      }
    },
    "TablesList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          }
        }
      }
    },
    "ItemsList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.uservoice.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.uservoice.com/privacy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/uservoice"
  }
}
