{
  "swagger": "2.0",
  "info": {
    "title": "HUE Datagate",
    "description": "Datagate is a Software-as-a-Service data management platform from Works Applications that provides users with a streamlined method for storing, managing, and generating insights from their business data. This connector allows you to leverage your business data on Datagate from the Power Platform.",
    "version": "1.0",
    "contact": {
      "name": "@SUPPORT",
      "url": "https://support.worksap.co.jp/",
      "email": "marketing-info@worksap.co.jp"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/huedatagate",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/v2/odata": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "OData API",
        "description": "Use this API to get data from Datagate using OData query. Get the OData query from the Data Viewer page.",
        "operationId": "odata",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData Query",
            "x-ms-visibility": "important",
            "description": "OData query for Datagate data. You can get this from Datagate's query builder."
          },
          {
            "name": "host_url",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "https://tenant-name.datagate.worksap.com/",
            "x-ms-summary": "Datagate Host URL",
            "description": "The host URL of your Datagate service, for example: https://tenant-name.datagate.worksap.com/",
            "x-ms-visibility": "important"
          },
          {
            "name": "role-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Role ID of your Datagate role",
            "x-ms-summary": "Datagate Role ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "role-secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Role Secret of your Datagate role",
            "x-ms-summary": "Datagate Role Secret"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "odata",
              "x-ms-require-user-confirmation": false
            }
          ]
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/huedatagate/#odata-api"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "dg-api-key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.worksap.co.jp/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.worksap.co.jp/privacypolicy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Data"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "Datagate app plugin",
    "modelDescription": "This is the Datagate app plugin that allows user deeper insights into their data",
    "contactEmail": "irwanto_a@worksap.co.jp"
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/huedatagate"
  }
}
