{
  "basePath": "/apim/moduleq",
  "consumes": [],
  "definitions": {},
  "host": "europe-002.azure-apim.net",
  "info": {
    "description": "ModuleQ's proactive AI technology equips you for success. Use the ModuleQ Connector to trigger notifications when new recommendations are available. More details at https://moduleq.com (requires existing ModuleQ account).",
    "title": "ModuleQ",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "ModuleQ",
      "url": "https://moduleq.com/contact"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://moduleq.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://moduleq.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "parameters": {},
  "paths": {
    "/{connectionId}/trigger": {
      "get": {
        "description": "Trigger fires when recommendations are available",
        "operationId": "NewRecTrigger",
        "deprecated": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Trigger response for new recommendations",
            "schema": {
              "properties": {
                "conversationLink": {
                  "type": "string"
                },
                "hasRecommendations": {
                  "type": "boolean"
                },
                "username": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Trigger fires when recommendations are available",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "kind": "query",
          "mode": "polling"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/moduleq/#trigger-fires-when-recommendations-are-available-%5bdeprecated%5d"
        }
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "undefined": [
        "https://graph.microsoft.com/.default"
      ]
    }
  ],
  "securityDefinitions": {
    "undefined": {
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "flow": "accessCode",
      "scopes": {
        "https://graph.microsoft.com/.default": "https://graph.microsoft.com/.default"
      },
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/moduleq"
  }
}
