{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Microsoft School Data Sync V2",
    "description": "Automate the process of synchronizing user and roster data from Student Information or Management Systems with Microsoft 365 for Education. School Data Sync helps you manage your educational organization, users, classes and roles for Microsoft Teams, Intune, Exchange Online, SharePoint Online, OneNote Class Notebooks, and Learning Accelerators.\n\nUse with the new School Data Sync experience only. Not for use with SDS (Classic).",
    "contact": {
      "name": "School Data Sync Support",
      "url": "https://aka.ms/sdssupport",
      "email": "eishelp@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/microsoftschooldatas",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/delay/0": {},
    "/{connectionId}/common/oauth2/token": {
      "post": {
        "summary": "Get Delegated Token",
        "description": "Get the Delegated Token to communicate with School Data Sync.",
        "operationId": "GetDelegatedToken",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "description": "Content-Type",
            "x-ms-summary": "Delegated Token.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The body of the request.",
            "x-ms-summary": "The request body.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The token response.",
            "schema": {
              "type": "object",
              "properties": {
                "token_type": {
                  "type": "string",
                  "description": "token_type"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatas/#get-delegated-token"
        }
      }
    },
    "/{connectionId}/beta/external/industryData/inboundFlows/{inboundFlowId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get InboundFlow",
        "description": "Gets the inbound flow by id found in the School Data Sync configuration",
        "operationId": "GetInboundFlow",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "inboundFlowId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The inbound flow by id found in the School Data Sync configuration",
            "x-ms-summary": "The inbound flow by id found in the School Data Sync configuration",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "dataConnector",
            "x-ms-visibility": "internal",
            "description": "The expand parameter to get the inbound flow data connector.",
            "x-ms-summary": "The expand parameter to get the inbound flow data connector."
          },
          {
            "name": "access-token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The access token.",
            "x-ms-summary": "The access token."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatas/#get-inboundflow"
        }
      }
    },
    "/{connectionId}/beta/external/industryData/dataConnectors": {
      "get": {
        "summary": "Get DataConnector list",
        "description": "Get the DataConnector list.",
        "operationId": "GetDataconnectorList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The access token.",
            "x-ms-summary": "The access token."
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatas/#get-dataconnector-list"
        }
      }
    },
    "/{connectionId}/beta/external/industryData/dataConnectors('{createdDataConnectorId}')/microsoft.graph.industryData.azureDataLakeConnector/microsoft.graph.industryData.getUploadSession()": {
      "get": {
        "summary": "Call GetUploadSession",
        "description": "Get the session for the CSV file upload.",
        "operationId": "CallGetuploadsession",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "createdDataConnectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The created data connector id.",
            "x-ms-summary": "The created data connector id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The access token.",
            "x-ms-summary": "The access token."
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatas/#call-getuploadsession"
        }
      }
    },
    "/{connectionId}/beta/external/industryData/dataConnectors/{createdDataConnectorId}/validate()": {
      "post": {
        "summary": "Call Validate",
        "description": "Call the operation to validate the uploaded CSV files.",
        "operationId": "CallValidate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "createdDataConnectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The created data connector id.",
            "x-ms-summary": "The created data connector id.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The access token.",
            "x-ms-summary": "The access token."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The accept header.",
            "x-ms-summary": "The accept header.",
            "default": "*/*",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatas/#call-validate"
        }
      }
    },
    "/{connectionId}/sourceSystems": {},
    "/{connectionId}/dataConnectors": {},
    "/{connectionId}/dataConnectors('%7B%7BcreatedDataConnectorId%7D%7D')/microsoft.graph.industryData.azureDataLakeConnector/microsoft.graph.industryData.getUploadSession()": {},
    "/{connectionId}/dataConnectors/%7B%7BcreatedDataConnectorId%7D%7D/validate()": {},
    "/{connectionId}/": {
      "get": {
        "summary": "Check validation result",
        "description": "Check to see if the validation result of the uploaded CSV files returned errors.",
        "operationId": "CheckValidationResult",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ValidationOperationUri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The uri of the validation operation.",
            "x-ms-summary": "The uri of the validation operation."
          },
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The access token.",
            "x-ms-summary": "The access token."
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftschooldatas/#check-validation-result"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://sds.microsoft.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/microsoftschooldatas"
  }
}
