{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Skype for Business Online",
    "description": "Messaging, meetings, and screen sharing all in one app that works with Office.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/skypeforbiz",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/v1/sendmessage": {
      "post": {
        "tags": [
          "Conversation"
        ],
        "summary": "Send an instant message",
        "description": "Send an instant message",
        "operationId": "SendMessage",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "clientSendMessage",
            "in": "body",
            "description": "Message sent from the client",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSendMessage"
            },
            "x-ms-summary": "Message sent from the client"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/skypeforbiz/#send-an-instant-message-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1/createmeeting": {
      "post": {
        "tags": [
          "Meeting"
        ],
        "summary": "Create an online meeting",
        "description": "Create an online meeting",
        "operationId": "CreateMeeting",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "clientSendMeeting",
            "in": "body",
            "description": "Meeting details sent from the client",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSendMeeting"
            },
            "x-ms-summary": "Meeting details sent from the client"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientReceiveMeeting"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/skypeforbiz/#create-an-online-meeting-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {
    "ClientSendMessage": {
      "description": "Message sent by the client",
      "required": [
        "To",
        "Message"
      ],
      "type": "object",
      "properties": {
        "To": {
          "description": "Email or SIP address of the message recipient (ex: annie@contoso.com)",
          "type": "string",
          "x-ms-dynamic-values": {
            "builtInOperation": "AadGraph.GetUsers",
            "value-path": "mail"
          }
        },
        "Message": {
          "description": "Plaintext message to send",
          "type": "string"
        },
        "Subject": {
          "description": "Subject of the conversation",
          "type": "string"
        }
      }
    },
    "ClientSendMeeting": {
      "description": "Meeting details sent by the client",
      "required": [
        "Subject"
      ],
      "type": "object",
      "properties": {
        "Subject": {
          "description": "Meeting subject",
          "type": "string"
        },
        "Description": {
          "description": "Meeting description",
          "type": "string"
        },
        "Attendees": {
          "description": "Semi-colon separated list of email or SIP addresses",
          "type": "string"
        },
        "PhoneUserAdmission": {
          "description": "If set to true, participants can join the online meeting over the phone.",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Allow phone dial-in?",
          "x-ms-visibility": "advanced"
        },
        "ExpirationDateTime": {
          "description": "The time after which the online meeting expires. The time must be between one year before and ten years after the current time on the server. (ex: '2017-01-01T00:00:00Z')",
          "type": "string",
          "x-ms-summary": "Expiration Date Time",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ClientReceiveMeeting": {
      "description": "Response from creating a meeting",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Unique identifier for the meeting",
          "type": "string",
          "x-ms-summary": "Meeting ID"
        },
        "Subject": {
          "description": "Meeting subject",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "Description": {
          "description": "Meeting description",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "JoinUrl": {
          "description": "The URL that is used when the online meeting is joined from the web.",
          "type": "string",
          "x-ms-summary": "Join meeting URL"
        },
        "ConferenceId": {
          "description": "The conference ID for the online meeting. Attendees who dial into the online meeting by using a PSTN phone use the conference ID.",
          "type": "string",
          "x-ms-summary": "Conference ID"
        },
        "DialInTollNumber": {
          "description": "The toll number to connect to the Audio Conference Provider.",
          "type": "string",
          "x-ms-summary": "Dial-in toll number"
        },
        "DialInDirectoryUrl": {
          "description": "Web page that contains dial-in information",
          "type": "string",
          "x-ms-summary": "Dial-in directory URL"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.skype.com/business/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/skypeforbiz"
  }
}
