{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Microsoft Kaizala",
    "description": "Microsoft Kaizala is a mobile app that helps you connect with your entire mobile workforce and supply chain, organize and allocate tasks more efficiently with built-in and custom Actions, and get actionable information and insights to accelerate decision-making.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/v1/groups/{groupId}/messages": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send text message to a group",
        "description": "This operation allows you to send a text message to a specific Kaizala group that you’re a member of.",
        "operationId": "SendMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendMessageRequest"
            }
          },
          {
            "$ref": "#/parameters/sendToAllOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "Send action success response.",
            "schema": {
              "$ref": "#/definitions/SendMessageResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#send-text-message-to-a-group"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/actions/all": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Get the list of actions on a group",
        "description": "This operation allows you to get the list of actions in a group.",
        "operationId": "GetActions",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "actionType",
            "in": "query",
            "required": false,
            "x-ms-summary": "Action Type",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "x-ms-summary": "Action ID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get actions success response.",
            "schema": {
              "$ref": "#/definitions/DynamicGroupList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-the-list-of-actions-on-a-group"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/actions": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Send action on a group",
        "description": "This operation allows you to send an Action to a specific Kaizala group that you’re a member of.",
        "operationId": "SendActions",
        "x-ms-api-annotation": {
          "family": "SendActions",
          "revision": 1
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "$ref": "#/parameters/actionTypesWithSendSupport"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Select an action package.",
            "required": false,
            "x-ms-summary": "Action Package",
            "x-ms-dynamic-values": {
              "operationId": "GetActionPackages",
              "parameters": {
                "groupId": {
                  "parameter": "groupId"
                }
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Send Action Request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendActionRequest"
            }
          },
          {
            "$ref": "#/parameters/sendToAllOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "Send action success response.",
            "schema": {
              "$ref": "#/definitions/SendActionResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#send-action-on-a-group"
        }
      }
    },
    "/{connectionId}/groups/{groupId}/actions": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Send action on a group",
        "description": "This operation allows you to send an Action to a specific Kaizala group that you’re a member of.",
        "operationId": "SendActions_v2",
        "x-ms-api-annotation": {
          "family": "SendActions",
          "revision": 2
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "$ref": "#/parameters/actionTypesWithSendSupport_new"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Send Action Request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendActionRequest"
            }
          },
          {
            "$ref": "#/parameters/sendToAllOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "Send action success response.",
            "schema": {
              "$ref": "#/definitions/SendActionResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#send-action-on-a-group"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/actions/$actionId$/reminder": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Send action reminder on a group",
        "description": "This operation allows you to send a reminder of an action to a specific Kaizala group that you’re a member of.",
        "operationId": "SendActionReminder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "$ref": "#/parameters/actionTypes"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Send Action Reminder Request.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SendActionReminderRequest"
            }
          },
          {
            "$ref": "#/parameters/sendToAllOptions"
          }
        ],
        "responses": {
          "200": {
            "description": "Send action success response.",
            "schema": {
              "$ref": "#/definitions/SendActionResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#send-action-reminder-on-a-group"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/reaction": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Post like or comment to a message",
        "description": "This operation allows you to post like or comment to a message in a specific Kaizala group that you’re a member of.",
        "operationId": "PostReaction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Post Reaction Request.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PostReactionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Post reaction success response.",
            "schema": {
              "$ref": "#/definitions/PostReactionResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#post-like-or-comment-to-a-message"
        }
      }
    },
    "/{connectionId}/groups/{groupId}/messages": {
      "post": {
        "tags": [
          "Reply"
        ],
        "summary": "Send reply to a message",
        "description": "Send reply to a message.",
        "operationId": "SendReply",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendReplyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Send action success response.",
            "schema": {
              "$ref": "#/definitions/SendMessageResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#send-reply-to-a-message"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/groupCardTemplates": {
      "get": {
        "tags": [
          "Actions"
        ],
        "summary": "Get the list of action packages on a group",
        "description": "This operation allows you to get the list of action packages in a group.",
        "operationId": "GetActionPackages",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeAllMappedPackages",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filterGroupScoped",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Get custom actions success response.",
            "schema": {
              "$ref": "#/definitions/DynamicGroupList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-the-list-of-action-packages-on-a-group"
        }
      }
    },
    "/{connectionId}/v1/groups": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create a group",
        "description": "This operation allows you to create a Kaizala group.",
        "operationId": "CreateGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create group success response.",
            "schema": {
              "$ref": "#/definitions/CreateGroupResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#create-a-group"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/subgroups": {
      "put": {
        "tags": [
          "GroupMember"
        ],
        "summary": "Add an existing group as subgroup",
        "description": "This operation allows you to add an existing group as subgroup to another group.",
        "operationId": "AddGroupToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddGroupToGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#add-an-existing-group-as-subgroup"
        }
      },
      "post": {
        "tags": [
          "GroupMember"
        ],
        "summary": "Create a subgroup",
        "description": "This operation allows creation of a subgroup within a group.",
        "operationId": "CreateSubgroup",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#create-a-subgroup"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/subgroups/{subGroupId}": {
      "delete": {
        "tags": [
          "GroupMember"
        ],
        "summary": "Remove a subgroup from group",
        "description": "This operation allows you to remove a subgroup as member of another group.",
        "operationId": "RemoveGroupFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "subGroupId",
            "in": "path",
            "description": "Enter an identifier for the sub-group.",
            "required": true,
            "x-ms-summary": "Sub-group Identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#remove-a-subgroup-from-group"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/members": {
      "put": {
        "tags": [
          "GroupMember"
        ],
        "summary": "Add user to group",
        "description": "This operation allows you to add a user to a group.",
        "operationId": "AddUserToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddUserToGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#add-user-to-group"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/subscribers/add": {
      "put": {
        "tags": [
          "GroupMember"
        ],
        "summary": "Add subscriber to group",
        "description": "This operation allows you to add subscribers to a group.",
        "operationId": "AddSubscriberToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddSubscriberToGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#add-subscriber-to-group"
        }
      }
    },
    "/{connectionId}/v1/groups/{groupId}/members/{memberId}": {
      "delete": {
        "tags": [
          "GroupMember"
        ],
        "summary": "Remove user from a group",
        "description": "This operation allows you to remove a user from a group.",
        "operationId": "RemoveUserFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId"
          },
          {
            "$ref": "#/parameters/memberId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#remove-user-from-a-group"
        }
      }
    },
    "/{connectionId}/v1/media": {
      "post": {
        "summary": "Upload a media file",
        "description": "This operation allows you to upload a media file and generates MediaResource which can be used in other APIs to send data.",
        "operationId": "UploadMediaFileContent",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fileContent",
            "in": "formData",
            "description": "The media should be in multipart form.",
            "required": true,
            "x-ms-summary": "File Content",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload media response.",
            "schema": {
              "$ref": "#/definitions/UploadMediaResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#upload-a-media-file"
        }
      }
    },
    "/{connectionId}/v1/media/url": {
      "post": {
        "summary": "Upload media from url",
        "description": "This operation allows you to upload the given media from URL and generates MediaResource which can be used in other APIs to send data.",
        "operationId": "UploadMediaFromURL",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "mediaUrl",
            "in": "body",
            "description": "The media in URL form.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadMediaFromURLRequest"
            },
            "x-ms-summary": "Media URL"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload media response.",
            "schema": {
              "$ref": "#/definitions/UploadMediaResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#upload-media-from-url"
        }
      }
    },
    "/{connectionId}/v1/media/attachment": {
      "post": {
        "summary": "Upload media from attachment",
        "description": "This operation allows you to upload the given media from attachment and generates MediaResource which can be used in other APIs to send data.",
        "operationId": "UploadMediaFromAttachment",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The media in Base64 form.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UploadMediaFromAttachmentRequest"
            },
            "x-ms-summary": "Media"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload media response.",
            "schema": {
              "$ref": "#/definitions/UploadMediaResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#upload-media-from-attachment"
        }
      }
    },
    "/{connectionId}/eventschema": {
      "get": {
        "tags": [
          "DynamicEventSchema"
        ],
        "summary": "GetEventInfoSchema",
        "description": "Get Action body schema for the selected action type.",
        "operationId": "GetEventInfoSchema",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid action type specified."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#geteventinfoschema"
        }
      }
    },
    "/{connectionId}/dynamicSubscriptionObjects": {
      "get": {
        "tags": [
          "DynamicEventValues"
        ],
        "summary": "Get subscription object types",
        "description": "Select events you want to subscribe.",
        "operationId": "GetSubscriptionObjectTypes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/DynamicSubscriptionObjectList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-subscription-object-types"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/subscpritionObjects/{objectType}": {
      "get": {
        "tags": [
          "DynamicEventValues"
        ],
        "summary": "Get subscription object ids",
        "description": "Select event IDs you want to subscribe.",
        "operationId": "GetSubscriptionObjectIds",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/DynamicSubscriptionObjectList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-subscription-object-ids"
        }
      }
    },
    "/{connectionId}/eventsObjects/{objectType}": {
      "get": {
        "tags": [
          "DynamicEventValues"
        ],
        "summary": "Get event type for object",
        "description": "Select event objects you want to subscribe.",
        "operationId": "GetEventTypeForObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/DynamicSubscriptionObjectList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-event-type-for-object"
        }
      }
    },
    "/{connectionId}/dynamicgroups": {
      "get": {
        "tags": [
          "DynamicGroup"
        ],
        "summary": "Get a list of groups",
        "description": "Select a group.",
        "operationId": "GetDynamicGroups",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ignoreSubscribedGroups",
            "in": "query",
            "required": true,
            "type": "boolean"
          },
          {
            "name": "participantRole",
            "in": "query",
            "type": "string"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/DynamicGroupList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-a-list-of-groups"
        }
      }
    },
    "/{connectionId}/dynamicmembers": {
      "get": {
        "tags": [
          "DynamicGroup"
        ],
        "summary": "Get list of members for a group",
        "description": "Select a group member.",
        "operationId": "GetDynamicGroupMembers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/DynamicGroupList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-list-of-members-for-a-group"
        }
      }
    },
    "/{connectionId}/schema": {
      "get": {
        "tags": [
          "DynamicSchema"
        ],
        "summary": "Get action body schema",
        "description": "Get schema for a selected action type.",
        "operationId": "GetActionBodySchema",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-action-body-schema"
        }
      }
    },
    "/{connectionId}/groups/{groupId}/actions/{actionId}": {
      "get": {
        "tags": [
          "DynamicSchema"
        ],
        "summary": "Survey details schema",
        "description": "Get schema for survey details.",
        "operationId": "GetSurveyDetails",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#survey-details-schema"
        }
      }
    },
    "/{connectionId}/customActionResponseSchema": {
      "get": {
        "tags": [
          "DynamicSchema"
        ],
        "summary": "Action details schema",
        "description": "Get schema for action details.",
        "operationId": "GetActionDetails",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "groupId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionPackageId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "objectId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#action-details-schema"
        }
      }
    },
    "/{connectionId}/getSchemaForActionType": {
      "get": {
        "tags": [
          "DynamicSchema"
        ],
        "summary": "Get action instance schema",
        "description": "Get schema for a selected action type.",
        "operationId": "GetSchemaForActionType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "actionType",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#get-action-instance-schema"
        }
      }
    },
    "/{connectionId}/v1/webhook/Group/ActionCreated": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When a custom action is sent in a group",
        "description": "This operation is triggered when someone creates a custom action on a group.",
        "operationId": "ActionCreatedOnGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "actionPackageId",
            "in": "query",
            "description": "Select an action package.",
            "required": false,
            "x-ms-summary": "Action Package",
            "x-ms-dynamic-values": {
              "operationId": "GetActionPackages",
              "parameters": {
                "groupId": {
                  "parameter": "objectId"
                },
                "filterGroupScoped": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-a-custom-action-is-sent-in-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Custom action created event.",
        "schema": {
          "$ref": "#/definitions/ActionCreatedSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/Announcement": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When there is an announcement sent in a group",
        "description": "This operation is triggered when someone sends an announcement action to a group.",
        "operationId": "AnnouncementOnGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-there-is-an-announcement-sent-in-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Announcement event.",
        "schema": {
          "$ref": "#/definitions/AnnouncementSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/GroupAdded": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When a group is added as a member to a group",
        "description": "This operation is triggered when someone adds a subgroup to a group.",
        "operationId": "GroupAddedToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-a-group-is-added-as-a-member-to-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Group has been added.",
        "schema": {
          "$ref": "#/definitions/GroupAddedSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/GroupRemoved": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When a group is removed as a member to a group",
        "description": "This operation is triggered when someone removes a subgroup from a group.",
        "operationId": "GroupRemovedFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-a-group-is-removed-as-a-member-to-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Group has been removed.",
        "schema": {
          "$ref": "#/definitions/GroupRemovedSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/MemberAdded": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When a member is added to a group",
        "description": "This operation is triggered when someone adds a member to a group.",
        "operationId": "MemberAddedToGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-a-member-is-added-to-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Member has been added.",
        "schema": {
          "$ref": "#/definitions/MemberAddedSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/MemberRemoved": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When a member is removed from a group",
        "description": "This operation is triggered when someone removes a member from a group.",
        "operationId": "MemberRemovedFromGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-a-member-is-removed-from-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Member has been removed from a group.",
        "schema": {
          "$ref": "#/definitions/MemberRemovedSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/SurveyCreated": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When a survey is sent in a group",
        "description": "This operation is triggered when a survey is created on a group.",
        "operationId": "SurveyCreatedOnGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-a-survey-is-sent-in-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Survey has been created.",
        "schema": {
          "$ref": "#/definitions/SurveyCreatedSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/TextMessageCreated": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When a text message is sent on a group",
        "description": "This operation is triggered when someone sends a text message on a group.",
        "operationId": "TextMessageCreatedOnGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-a-text-message-is-sent-on-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Text Message has been sent.",
        "schema": {
          "$ref": "#/definitions/TextMessageCreatedSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Action/SurveyResponse": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When someone responds to a survey",
        "description": "This operation is triggered when someone responds to an existing survey posted on a group.",
        "operationId": "SurveyResponseOnGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a survey.",
            "required": true,
            "x-ms-summary": "Survey",
            "x-ms-dynamic-values": {
              "operationId": "GetActions",
              "parameters": {
                "groupId": {
                  "parameter": "groupId"
                },
                "actionType": "survey"
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-someone-responds-to-a-survey"
        }
      },
      "x-ms-notification-content": {
        "description": "Response to a survey has been posted.",
        "schema": {
          "$ref": "#/definitions/SurveySchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/AttachmentCreated": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When there is an attachment sent in a group",
        "description": "This operation is triggered when someone sends an attachment action to a group.",
        "operationId": "AttachmentOnGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-there-is-an-attachment-sent-in-a-group"
        }
      },
      "x-ms-notification-content": {
        "description": "Attachment event.",
        "schema": {
          "$ref": "#/definitions/AttachmentSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When someone responds to a custom action",
        "description": "This operation is triggered when someone responds to a custom action posted on a group.",
        "operationId": "ActionResponseOnGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "groupId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "actionPackageId",
            "in": "query",
            "description": "Select an action package.",
            "required": true,
            "x-ms-summary": "Action Package",
            "x-ms-dynamic-values": {
              "operationId": "GetActionPackages",
              "parameters": {
                "groupId": {
                  "parameter": "groupId"
                }
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a custom action.",
            "required": true,
            "x-ms-summary": "Action",
            "x-ms-dynamic-values": {
              "operationId": "GetActions",
              "parameters": {
                "groupId": {
                  "parameter": "groupId"
                },
                "id": {
                  "parameter": "actionPackageId"
                }
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-someone-responds-to-a-custom-action"
        }
      },
      "x-ms-notification-content": {
        "description": "Response to a custom Action has been sent.",
        "schema": {
          "$ref": "#/definitions/ActionSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/Group/UserJoined": {
      "post": {
        "tags": [
          "Subscription"
        ],
        "summary": "When an existing group member registers on Kaizala for the first time",
        "description": "This operation is triggered when an existing group member registers on Kaizala. In Kaizala, group admin(s) can add user even if he is not on Kaizala",
        "operationId": "UserJoinedOnGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "objectId",
            "in": "query",
            "description": "Select a group.",
            "required": true,
            "x-ms-summary": "Group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "participantRole": "admin",
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddOutgoingWebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#when-an-existing-group-member-registers-on-kaizala-for-the-first-time"
        }
      },
      "x-ms-notification-content": {
        "description": "User has joined group.",
        "schema": {
          "$ref": "#/definitions/UserJoinedSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/webhook/{webhookId}": {
      "delete": {
        "tags": [
          "Subscription"
        ],
        "summary": "Deletes a webhook",
        "description": "Deletes a webhook",
        "operationId": "DeleteTrigger",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "webhookId",
            "in": "path",
            "description": "Delete Webhook Subscription.",
            "x-ms-summary": "Delete Webhook Subscription.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "OK.",
            "schema": {}
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kaizala/#deletes-a-webhook"
        }
      }
    },
    "/webhook_response": {
      "post": {
        "operationId": "WebhookResponse",
        "parameters": [
          {
            "name": "flowUri",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "security": [],
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "SendMessageRequest": {
      "required": [
        "Message"
      ],
      "type": "object",
      "properties": {
        "Message": {
          "description": "Enter a text message.",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Message"
        },
        "subscribers": {
          "type": "string",
          "description": "Enter Mobile numbers with country code (for e.g. +911234567890,+916810870005)",
          "x-ms-summary": "Subscribers",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SendMessageResponse": {
      "type": "object",
      "properties": {
        "referenceId": {
          "description": "Message Id.",
          "type": "string",
          "x-ms-summary": "Message Id"
        }
      }
    },
    "SendActionRequest": {
      "type": "object",
      "properties": {
        "actionBody": {
          "$ref": "#/definitions/ActionBodyInfo"
        },
        "subscribers": {
          "type": "string",
          "description": "Enter Mobile numbers with country code (for e.g. +911234567890,+916810870005)",
          "x-ms-summary": "Subscribers",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SendActionResponse": {
      "type": "object",
      "properties": {
        "referenceId": {
          "description": "Message Id.",
          "type": "string",
          "x-ms-summary": "Message Id"
        },
        "actionId": {
          "description": "Action instance Id. It can be used to query responses using Get Action Details.",
          "type": "string",
          "x-ms-summary": "Action instance Id"
        }
      }
    },
    "PostActionResponseRequest": {
      "type": "object",
      "properties": {
        "actionType": {
          "description": "Select Action type.",
          "enum": [
            "none",
            "job",
            "survey"
          ],
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Action"
        },
        "id": {
          "description": "Enter Action Package Id (Required for custom Actions).",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Action package Id"
        },
        "actionBody": {
          "$ref": "#/definitions/ActionBodyInfo"
        }
      }
    },
    "PostActionResponseResponse": {
      "type": "object",
      "properties": {
        "responseId": {
          "description": "Response Id.",
          "type": "string",
          "x-ms-summary": "Response Id"
        }
      }
    },
    "CreateGroupRequest": {
      "required": [
        "Name",
        "WelcomeMessage"
      ],
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the group to be created.",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Group Name"
        },
        "WelcomeMessage": {
          "description": "Enter a welcome message for the members of a group.",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Welcome Message"
        },
        "Members": {
          "description": "Add members (for e.g. +911234567890,+916810870005) to the created group.",
          "type": "string",
          "x-ms-summary": "Members",
          "x-ms-visibility": "advanced"
        },
        "GroupType": {
          "description": "Select the type of group.",
          "enum": [
            "group",
            "connectGroup"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Group Type"
        },
        "ShortDescriptionString": {
          "description": "Enter a short description for the group.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Short Description"
        },
        "LongDescriptionString": {
          "description": "Enter a long description for the group.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Long Description"
        }
      }
    },
    "CreateGroupResponse": {
      "type": "object",
      "properties": {
        "groupId": {
          "title": "Group Id",
          "description": "Group identifier of the created group.",
          "type": "string"
        }
      }
    },
    "AddGroupToGroupRequest": {
      "required": [
        "SubGroups"
      ],
      "type": "object",
      "properties": {
        "SubGroups": {
          "type": "array",
          "items": {
            "description": "Subgroup.",
            "type": "string",
            "x-ms-summary": "Sub-group",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicGroups",
              "parameters": {
                "ignoreSubscribedGroups": true
              },
              "value-collection": "Groups",
              "value-path": "Id",
              "value-title": "Name"
            }
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "AddUserToGroupRequest": {
      "required": [
        "Members"
      ],
      "type": "object",
      "properties": {
        "Members": {
          "description": "List of mobile numbers (for e.g. +911234567890,+912345678901 which need to be added.)",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Members"
        }
      }
    },
    "AddSubscriberToGroupRequest": {
      "required": [
        "subscribers"
      ],
      "type": "object",
      "properties": {
        "subscribers": {
          "description": "List of mobile numbers (for e.g. +911234567890,+912345678901 which need to be added.)",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Subscribers"
        }
      }
    },
    "UploadMediaFromURLRequest": {
      "required": [
        "mediaUrl"
      ],
      "type": "object",
      "properties": {
        "mediaUrl": {
          "description": "Url of the media file.",
          "type": "string",
          "x-ms-summary": "Media url",
          "x-ms-visibility": "important"
        }
      }
    },
    "UploadMediaFromAttachmentRequest": {
      "required": [
        "fileContent"
      ],
      "type": "object",
      "properties": {
        "fileContent": {
          "description": "Media file in Base64 format",
          "type": "object",
          "x-ms-summary": "Media file",
          "x-ms-visibility": "important"
        }
      }
    },
    "UploadMediaResponse": {
      "type": "object",
      "properties": {
        "mediaResource": {
          "title": "Media Resource",
          "description": "Media Resource Identifier which can be used to send media (as attachment) to other apis.",
          "type": "string"
        }
      }
    },
    "AddOutgoingWebhookRequest": {
      "type": "object",
      "required": [
        "CallbackUrl"
      ],
      "properties": {
        "CallbackUrl": {
          "type": "string",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Callback Url",
          "x-ms-notification-url": true
        }
      }
    },
    "SendActionReminderRequest": {
      "type": "object",
      "properties": {
        "subscribers": {
          "type": "string",
          "description": "Enter Mobile numbers with country code (for e.g. +911234567890,+916810870005)",
          "x-ms-summary": "Subscribers",
          "x-ms-visibility": "advanced"
        },
        "actionWrapper": {
          "$ref": "#/definitions/ActionWrapperInfo"
        }
      }
    },
    "PostReactionRequest": {
      "type": "object",
      "properties": {
        "SourceGroupId": {
          "description": "Source Group",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Source Group Id",
          "x-ms-dynamic-values": {
            "operationId": "GetDynamicGroups",
            "parameters": {
              "ignoreSubscribedGroups": true
            },
            "value-collection": "Groups",
            "value-path": "Id",
            "value-title": "Name"
          }
        },
        "ReferenceId": {
          "description": "Message Id",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Message Id"
        },
        "ReactionType": {
          "description": "Reaction Type",
          "enum": [
            "Like",
            "Comment"
          ],
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Reaction Type"
        },
        "Comment": {
          "description": "Enter the comment you want to post",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Comment"
        }
      }
    },
    "PostReactionResponse": {
      "type": "object",
      "properties": {
        "ReactionId": {
          "description": "Reaction Id.",
          "type": "string",
          "x-ms-summary": "Reaction Id"
        }
      }
    },
    "SendReplyRequest": {
      "required": [
        "replyToReferenceId",
        "message"
      ],
      "type": "object",
      "properties": {
        "replyToReferenceId": {
          "description": "Message Id",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Message Id"
        },
        "message": {
          "description": "Enter the message to be send as a reply.",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Message"
        }
      }
    },
    "SurveySchema": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSurveyDetails",
        "parameters": {
          "groupId": {
            "parameter": "groupId"
          },
          "actionId": {
            "parameter": "objectId"
          }
        },
        "value-path": "Schema"
      }
    },
    "ActionSchema": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetActionDetails",
        "parameters": {
          "groupId": {
            "parameter": "groupId"
          },
          "actionPackageId": {
            "parameter": "actionPackageId"
          },
          "objectId": {
            "parameter": "objectId"
          }
        },
        "value-path": "Schema"
      }
    },
    "AnnouncementSchema": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "x-ms-summary": "Description",
          "description": "Description of the announcement"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "Title of the announcement"
        },
        "media": {
          "type": "array",
          "items": {},
          "x-ms-summary": "Medias",
          "description": "List of media urls"
        },
        "mediaContent": {
          "type": "array",
          "items": {},
          "x-ms-summary": "File Content",
          "description": "List of file Contents"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Sender Mobile Number",
          "description": "Mobile number of the sender"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Sender Name",
          "description": "Name of the sender"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Sender Profile Picture Url",
          "description": "Profile picture url of the sender"
        },
        "groupId": {
          "type": "string",
          "x-ms-summary": "Source Group Id",
          "description": "Source Group Id"
        },
        "sourceGroupId": {
          "type": "string",
          "x-ms-summary": "Source Group Id",
          "description": "Source Group Id"
        },
        "messageId": {
          "type": "string",
          "x-ms-summary": "Message Id",
          "description": "Message Id"
        },
        "fromUserId": {
          "type": "string",
          "x-ms-summary": "Creator User Id",
          "description": "Creator User Id"
        }
      }
    },
    "AttachmentSchema": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string",
          "x-ms-summary": "Caption",
          "description": "Caption of the attachment"
        },
        "actionType": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "Type of the attachment"
        },
        "media": {
          "type": "array",
          "items": {},
          "x-ms-summary": "Medias",
          "description": "List of media urls"
        },
        "mediaContent": {
          "type": "array",
          "items": {},
          "x-ms-summary": "File Content",
          "description": "List of file Contents"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Sender Mobile Number",
          "description": "Mobile number of the sender"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Sender Name",
          "description": "Name of the sender"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Sender Profile Picture Url",
          "description": "Profile picture url of the sender"
        },
        "groupId": {
          "type": "string",
          "x-ms-summary": "Source Group Id",
          "description": "Source Group Id"
        },
        "sourceGroupId": {
          "type": "string",
          "x-ms-summary": "Source Group Id",
          "description": "Source Group Id"
        },
        "messageId": {
          "type": "string",
          "x-ms-summary": "Message Id",
          "description": "Message Id"
        },
        "fromUserId": {
          "type": "string",
          "x-ms-summary": "Sender User Id",
          "description": "Sender User Id"
        }
      }
    },
    "ActionCreatedSchema": {
      "type": "object",
      "properties": {
        "actionTitle": {
          "type": "string",
          "x-ms-summary": "Action Title",
          "description": "Title of the action"
        },
        "questions": {
          "type": "object",
          "properties": {},
          "x-ms-summary": "Questions",
          "description": "List of questions"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Creator Mobile Number",
          "description": "Mobile number of the creator"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Creator Name",
          "description": "Name of the creator"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Creator Profile Picture Url",
          "description": "Profile picture url of the creator"
        },
        "groupId": {
          "type": "string",
          "x-ms-summary": "Group Id",
          "description": "Group Id"
        },
        "actionId": {
          "type": "string",
          "x-ms-summary": "Action Instance Id",
          "description": "Action Instance Id"
        },
        "properties": {
          "type": "object",
          "properties": {},
          "x-ms-summary": "Properties",
          "description": "List of properties"
        },
        "fromUserId": {
          "type": "string",
          "x-ms-summary": "Creator User Id",
          "description": "Creator User Id"
        }
      }
    },
    "GroupAddedSchema": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string",
          "x-ms-summary": "Subgroup Identifier",
          "description": "Identifier of the subgroup"
        },
        "groupName": {
          "type": "string",
          "x-ms-summary": "Subgroup Name",
          "description": "Name of the subgroup"
        },
        "groupPicUrl": {
          "type": "string",
          "x-ms-summary": "Subgroup Picture Url",
          "description": "Picture url of the subgroup"
        },
        "groupType": {
          "type": "string",
          "x-ms-summary": "Subgroup Type",
          "description": "Type of the subgroup"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Added By",
          "description": "Mobile number of the person"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Added By",
          "description": "Name of the person"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Creator Profile Picture url",
          "description": "Profile picture url of the creator"
        }
      }
    },
    "GroupRemovedSchema": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string",
          "x-ms-summary": "Subgroup Identifier",
          "description": "Identifier of the subgroup"
        },
        "groupName": {
          "type": "string",
          "x-ms-summary": "Subgroup Name",
          "description": "Name of the subgroup"
        },
        "groupPicUrl": {
          "type": "string",
          "x-ms-summary": "Subgroup Picture url",
          "description": "Picture url of the subgroup"
        },
        "groupType": {
          "type": "string",
          "x-ms-summary": "Subgroup Type",
          "description": "Type of the subgroup"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Removed By",
          "description": "Mobile number of the person"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Removed By",
          "description": "Name of the person"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Creator Profile Picture url",
          "description": "Profile picture url of the creator"
        }
      }
    },
    "MemberAddedSchema": {
      "type": "object",
      "properties": {
        "member": {
          "type": "string",
          "x-ms-summary": "Member Mobile Number",
          "description": "Mobile number of the member"
        },
        "memberName": {
          "type": "string",
          "x-ms-summary": "Member Name",
          "description": "Name of the member"
        },
        "memberProfilePic": {
          "type": "string",
          "x-ms-summary": "Member Profile Picture url",
          "description": "Profile picture url of the member"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Membership Type",
          "description": "Type of membership"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Added By",
          "description": "Mobile number of the person"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Added By",
          "description": "Name of the person"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Creator Profile Picture url",
          "description": "Profile picture url of the creator"
        }
      }
    },
    "MemberRemovedSchema": {
      "type": "object",
      "properties": {
        "member": {
          "type": "string",
          "x-ms-summary": "Member Mobile Number",
          "description": "Mobile number of the member"
        },
        "memberName": {
          "type": "string",
          "x-ms-summary": "Member Name",
          "description": "Name of the member"
        },
        "memberProfilePic": {
          "type": "string",
          "x-ms-summary": "Member Profile Picture url",
          "description": "Profile picture url of the member"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Membership Type",
          "description": "Type of membership"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Removed By",
          "description": "Mobile number of the person"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Removed By",
          "description": "Name of the person"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Creator Profile Picture url",
          "description": "Profile picture url of the creator"
        }
      }
    },
    "SurveyCreatedSchema": {
      "type": "object",
      "properties": {
        "surveyTitle": {
          "type": "string",
          "x-ms-summary": "Survey Title",
          "description": "Title of the survey"
        },
        "questions": {
          "type": "object",
          "properties": {},
          "x-ms-summary": "Questions",
          "description": "List of questions"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Creator Mobile Number",
          "description": "Mobile number of the creator"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Creator Name",
          "description": "Name of the creator"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Creator Profile Picture url",
          "description": "Profile picture url of the creator"
        },
        "groupId": {
          "type": "string",
          "x-ms-summary": "Group Id",
          "description": "Group Id"
        },
        "actionId": {
          "type": "string",
          "x-ms-summary": "Action Instance Id",
          "description": "Action Instance Id"
        },
        "fromUserId": {
          "type": "string",
          "x-ms-summary": "Creator User Id",
          "description": "Creator User Id"
        }
      }
    },
    "TextMessageCreatedSchema": {
      "type": "object",
      "properties": {
        "textMessage": {
          "type": "string",
          "x-ms-summary": "Text Message",
          "description": "Text of the message"
        },
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Creator Mobile Number",
          "description": "Mobile number of the creator"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Creator Name",
          "description": "Name of the creator"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Creator Profile Picture url",
          "description": "Profile picture url of the creator"
        },
        "groupId": {
          "type": "string",
          "x-ms-summary": "Group Id",
          "description": "Group Id"
        },
        "sourceGroupId": {
          "type": "string",
          "x-ms-summary": "Source Group Id",
          "description": "Source Group Id"
        },
        "messageId": {
          "type": "string",
          "x-ms-summary": "Message Id",
          "description": "Message Id"
        },
        "isReply": {
          "type": "boolean",
          "x-ms-summary": "Is Reply",
          "description": "Is Reply"
        },
        "originalMessageId": {
          "type": "string",
          "x-ms-summary": "Original Message Id",
          "description": "Original Message Id"
        },
        "fromUserId": {
          "type": "string",
          "x-ms-summary": "Creator User Id",
          "description": "Creator User Id"
        }
      }
    },
    "UserJoinedSchema": {
      "type": "object",
      "properties": {
        "fromUser": {
          "type": "string",
          "x-ms-summary": "Added By",
          "description": "Mobile number of the person"
        },
        "fromUserName": {
          "type": "string",
          "x-ms-summary": "Added By",
          "description": "Name of the person"
        },
        "fromUserProfilePic": {
          "type": "string",
          "x-ms-summary": "Creator Profile Picture url",
          "description": "Profile picture url of the creator"
        },
        "fromUserId": {
          "type": "string",
          "x-ms-summary": "User Id",
          "description": "User Id of the newly joined user"
        },
        "groupId": {
          "type": "string",
          "x-ms-summary": "Group Id",
          "description": "Group where user is added"
        }
      }
    },
    "ActionBodyInfo": {
      "description": "Action body.",
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetActionBodySchema",
        "parameters": {
          "type": {
            "parameter": "actionType"
          }
        },
        "value-path": "Schema"
      },
      "x-ms-summary": "Action Body"
    },
    "ActionWrapperInfo": {
      "description": "Action Id.",
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetSchemaForActionType",
        "parameters": {
          "actionType": {
            "parameter": "actionType"
          }
        },
        "value-path": "Schema"
      },
      "x-ms-summary": "Action Id"
    },
    "DynamicSubscriptionObjectList": {
      "type": "object",
      "properties": {
        "SubscriptionObjectItem": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DynamicSubscriptionObjectItem"
          }
        }
      }
    },
    "DynamicSubscriptionObjectItem": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        }
      }
    },
    "DynamicGroupList": {
      "type": "object",
      "properties": {
        "Groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DynamicGroupItem"
          }
        }
      }
    },
    "DynamicGroupItem": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "groupId": {
      "name": "groupId",
      "in": "path",
      "description": "Select a Group on which action will be performed.",
      "required": true,
      "x-ms-summary": "Group",
      "x-ms-dynamic-values": {
        "operationId": "GetDynamicGroups",
        "parameters": {
          "ignoreSubscribedGroups": true
        },
        "value-collection": "Groups",
        "value-path": "Id",
        "value-title": "Name"
      },
      "type": "string"
    },
    "actionId": {
      "name": "actionId",
      "in": "path",
      "description": "Action instance.",
      "required": true,
      "x-ms-summary": "Select an Action instance",
      "type": "string"
    },
    "actionTypesWithSendSupport": {
      "name": "actionType",
      "in": "query",
      "description": "Select Action type.",
      "required": false,
      "x-ms-summary": "Action",
      "type": "string",
      "enum": [
        "job",
        "survey",
        "image",
        "audio",
        "document",
        "album",
        "announcement"
      ]
    },
    "actionTypesWithSendSupport_new": {
      "name": "actionType",
      "in": "query",
      "description": "Select Action type.",
      "required": false,
      "x-ms-summary": "Action",
      "type": "string",
      "default": "Action Package",
      "enum": [
        "job",
        "survey",
        "image",
        "audio",
        "document",
        "album",
        "announcement",
        "Action Package"
      ]
    },
    "actionTypes": {
      "name": "actionType",
      "in": "query",
      "description": "Select Action type.",
      "required": true,
      "x-ms-summary": "Action Types",
      "type": "string",
      "enum": [
        "job",
        "survey",
        "image",
        "audio",
        "document",
        "album",
        "announcement",
        "Action Package"
      ]
    },
    "actionPackageId": {
      "name": "id",
      "in": "query",
      "description": "Enter Action Package ID for custom-built Actions.",
      "required": false,
      "x-ms-summary": "Action package id",
      "type": "string"
    },
    "actionResponseId": {
      "name": "responseId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Action Response Id",
      "description": "The id of the response",
      "type": "string"
    },
    "memberId": {
      "name": "memberId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Select a member",
      "description": "The id of the member",
      "x-ms-dynamic-values": {
        "operationId": "GetDynamicGroupMembers",
        "parameters": {
          "groupId": {
            "parameter": "groupId"
          }
        },
        "value-collection": "Groups",
        "value-path": "Id",
        "value-title": "Name"
      },
      "type": "string"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription instance.",
      "required": true,
      "x-ms-summary": "Enter an instance of the Subscription",
      "type": "string"
    },
    "sendToAllOptions": {
      "name": "sendToAll",
      "in": "query",
      "description": "Select option",
      "required": false,
      "x-ms-summary": "Send to all Subscribers",
      "x-ms-visibility": "advanced",
      "type": "string",
      "enum": [
        "Yes",
        "No"
      ]
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://ds.kaiza.la/api/Oauth/Authorize",
      "tokenUrl": "https://ds.kaiza.la/api/Oauth/token"
    }
  },
  "security": [
    {}
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://products.office.com/business/microsoft-kaizala"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/kaizala"
  },
  "basePath": "/apim/kaizala"
}
