{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Appfigures",
    "description": "Appfigures is a reporting platform for mobile app developers. It brings together all of your app store sales, ad data, worldwide reviews, and hourly rank updates based off of the available reports from your synced accounts.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/appfigures",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/products/mine": {
      "get": {
        "tags": [
          "Appfigures"
        ],
        "summary": "Get my products",
        "description": "Returns a list of products for the current user.",
        "operationId": "GetMyProducts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MyProductsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appfigures/#get-my-products"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/ratings": {
      "get": {
        "tags": [
          "Appfigures"
        ],
        "summary": "Get ratings snapshots",
        "description": "Get an app's ratings snapshot for a given region and date with a few filters.",
        "operationId": "SearchRatings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "products",
            "in": "query",
            "description": "The unique ID of a product in Appfigures.",
            "required": false,
            "x-ms-summary": "Product Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetMyProducts",
              "value-collection": "products",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Rating"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appfigures/#get-ratings-snapshots"
        }
      }
    },
    "/{connectionId}/reviews": {
      "get": {
        "tags": [
          "Appfigures"
        ],
        "summary": "Get reviews",
        "description": "Get an app's reviews with a variety of filters, as well as review count breakdowns.",
        "operationId": "SearchReviews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "products",
            "in": "query",
            "description": "The unique ID of a product in Appfigures.",
            "required": false,
            "x-ms-summary": "Product Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetMyProducts",
              "value-collection": "products",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Review"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appfigures/#get-reviews"
        }
      }
    },
    "/{connectionId}/events": {
      "get": {
        "tags": [
          "Appfigures"
        ],
        "summary": "Get events",
        "description": "Get the events for the apps in the current account.",
        "operationId": "SearchEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appfigures/#get-events"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/event_trigger/events": {
      "get": {
        "tags": [
          "Appfigures"
        ],
        "summary": "When an event occurs",
        "description": "Trigger an action on an event for the apps in the current account.",
        "operationId": "OnNewEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-visibility": "advanced",
        "x-ms-trigger-hint": "To see it work now, add an event to one of your apps.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appfigures/#when-an-event-occurs"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/reviews_trigger/reviews": {
      "get": {
        "tags": [
          "Appfigures"
        ],
        "summary": "When there is a new review",
        "description": "Trigge an action when there is a new review.",
        "operationId": "OnNewReview",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "products",
            "in": "query",
            "description": "The unique ID of a product in Appfigures.",
            "required": false,
            "x-ms-summary": "Product Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetMyProducts",
              "value-collection": "products",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Review"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, rate one of your apps.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appfigures/#when-there-is-a-new-review"
        }
      }
    },
    "/{connectionId}/ratings_trigger/ratings": {
      "get": {
        "tags": [
          "Appfigures"
        ],
        "summary": "When an app is rated",
        "description": "Trigger an action when an app is rated.",
        "operationId": "OnNewRating",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "products",
            "in": "query",
            "description": "The unique ID of a product in Appfigures.",
            "required": false,
            "x-ms-summary": "Product Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetMyProducts",
              "value-collection": "products",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Rating"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-visibility": "advanced",
        "x-ms-trigger-hint": "To see it work now, rate one of your apps.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appfigures/#when-an-app-is-rated"
        }
      }
    }
  },
  "definitions": {
    "MyProductsResponse": {
      "description": "Stores tracked by Appfigures",
      "type": "object",
      "properties": {
        "products": {
          "description": "Collection Of Products",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MyProduct"
          },
          "x-ms-summary": "Products",
          "x-ms-visibility": "important"
        }
      }
    },
    "MyProduct": {
      "description": "A Product belonging to my account",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of your product",
          "type": "integer",
          "x-ms-summary": "Product Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "Name of your product",
          "type": "string",
          "x-ms-summary": "Product Name",
          "x-ms-visibility": "important"
        },
        "developer": {
          "description": "Developer of your product",
          "type": "string",
          "x-ms-summary": "Developer",
          "x-ms-visibility": "advanced"
        },
        "store": {
          "description": "The store this product belongs to",
          "type": "string",
          "x-ms-summary": "Store",
          "x-ms-visibility": "important"
        },
        "release_date": {
          "format": "date-time",
          "description": "Release date of your product",
          "type": "string",
          "x-ms-summary": "Release Date",
          "x-ms-visibility": "important"
        },
        "updated_date": {
          "format": "date-time",
          "description": "Updated date of your product",
          "type": "string",
          "x-ms-summary": "Updated Date",
          "x-ms-visibility": "advanced"
        },
        "version": {
          "description": "Version of your product",
          "type": "string",
          "x-ms-summary": "Version",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Rating": {
      "description": "Rating data for a product tracked by Appfigures",
      "type": "object",
      "properties": {
        "product": {
          "description": "The Id of the product this rating is for",
          "type": "integer",
          "x-ms-summary": "Product Id",
          "x-ms-visibility": "advanced"
        },
        "region": {
          "description": "The country or language for this rating snapshot",
          "type": "string",
          "x-ms-summary": "Region",
          "x-ms-visibility": "important"
        },
        "date": {
          "format": "date-time",
          "description": "The date for this rating snapshot",
          "type": "string",
          "x-ms-summary": "Date",
          "x-ms-visibility": "important"
        },
        "oneStar": {
          "format": "int32",
          "description": "The number of one-star reviews for the product at the time of the snampshot",
          "type": "integer",
          "x-ms-summary": "One Star Reviews",
          "x-ms-visibility": "important"
        },
        "twoStar": {
          "format": "int32",
          "description": "The number of two-star reviews for the product at the time of the snampshot",
          "type": "integer",
          "x-ms-summary": "Two Star Reviews",
          "x-ms-visibility": "important"
        },
        "threeStar": {
          "format": "int32",
          "description": "The number of three-star reviews for the product at the time of the snampshot",
          "type": "integer",
          "x-ms-summary": "Three Star Reviews",
          "x-ms-visibility": "important"
        },
        "fourStar": {
          "format": "int32",
          "description": "The number of four-star reviews for the product at the time of the snampshot",
          "type": "integer",
          "x-ms-summary": "Four Star Reviews",
          "x-ms-visibility": "important"
        },
        "fiveStar": {
          "format": "int32",
          "description": "The number of five-star reviews for the product at the time of the snampshot",
          "type": "integer",
          "x-ms-summary": "Five Star Reviews",
          "x-ms-visibility": "important"
        }
      }
    },
    "Review": {
      "description": "A review of an app tracked by Appfigures",
      "type": "object",
      "properties": {
        "author": {
          "description": "The name of the author that left this review",
          "type": "string",
          "x-ms-summary": "Author",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "The title of the review; if a translation language has been provided this will hold the translated title",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "review": {
          "description": "The full review",
          "type": "string",
          "x-ms-summary": "Review",
          "x-ms-visibility": "important"
        },
        "original_title": {
          "description": "If a translation language has been provided this will hold the original title before translation",
          "type": "string",
          "x-ms-summary": "Original Title",
          "x-ms-visibility": "internal"
        },
        "original_review": {
          "description": "If a translation language has been provided this will hold the original review before translation",
          "type": "string",
          "x-ms-summary": "Original Review",
          "x-ms-visibility": "internal"
        },
        "stars": {
          "format": "int32",
          "description": "Number of stars the author left for the app.",
          "type": "integer",
          "x-ms-summary": "Stars",
          "x-ms-visibility": "important"
        },
        "iso": {
          "description": "The country code where this review was observed.",
          "type": "string",
          "x-ms-summary": "Country Code",
          "x-ms-visibility": "important"
        },
        "version": {
          "description": "The version of the app this review is for (Note: not all app stores support app version in reviews)",
          "type": "string",
          "x-ms-summary": "Version",
          "x-ms-visibility": "advanced"
        },
        "date": {
          "format": "date-time",
          "description": "Date the review was left on the store",
          "type": "string",
          "x-ms-summary": "Date",
          "x-ms-visibility": "important"
        },
        "product": {
          "description": "The ID of the product this review belongs to",
          "type": "integer",
          "format": "int64",
          "x-ms-summary": "Product Id",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "A unique ID for this review",
          "type": "string",
          "x-ms-summary": "Review Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Event": {
      "description": "Event data for a product tracked by Appfigures",
      "type": "object",
      "properties": {
        "id": {
          "description": "The Id of the event",
          "type": "string",
          "x-ms-summary": "Event Id",
          "x-ms-visibility": "advanced"
        },
        "caption": {
          "description": "The caption of the event",
          "type": "string",
          "x-ms-summary": "Caption",
          "x-ms-visibility": "important"
        },
        "date": {
          "format": "date-time",
          "description": "The date for the event",
          "type": "string",
          "x-ms-summary": "Date",
          "x-ms-visibility": "important"
        },
        "origin": {
          "description": "The origin of the event",
          "type": "string",
          "x-ms-summary": "Origin",
          "x-ms-visibility": "advanced"
        },
        "details": {
          "description": "The details of the event",
          "type": "string",
          "x-ms-summary": "Details",
          "x-ms-visibility": "important"
        },
        "products": {
          "description": "The products relevant to the event",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Products",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://appfigures.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://appfigures.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/appfigures"
  }
}