{
  "swagger": "2.0",
  "info": {
    "title": "iManage Data Marts",
    "description": "The iManage Data Marts connector pushes metadata updates for matters, clients, and other Work product entities into the iManage platform via a structured data mart interface.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/imanagedatamarts",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/problem+json"
  ],
  "paths": {
    "/{connectionId}/batch/{itemType}/metadata": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ItemBatchResponse"
            }
          }
        },
        "summary": "Delete Source Metadata in Data Marts",
        "description": "Delete source metadata for a batch of items in Data Marts",
        "operationId": "DeleteSourceMetadataInBatch",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "itemType",
            "in": "path",
            "required": true,
            "description": "The type of item to update in batch",
            "type": "string",
            "x-ms-summary": "The type of item"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imanagedatamarts/#delete-source-metadata-in-data-marts"
        }
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ItemBatchResponse"
            }
          }
        },
        "summary": "Update Source Metadata in Data Marts",
        "description": "Update source metadata for a batch of items in Data Marts",
        "operationId": "UpdateSourceMetadataInBatch",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "itemType",
            "in": "path",
            "required": true,
            "description": "The type of item to update in batch",
            "type": "string",
            "x-ms-summary": "The type of item"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/imanagedatamarts/#update-source-metadata-in-data-marts"
        }
      }
    }
  },
  "definitions": {
    "ItemBatchResponse": {
      "type": "object",
      "properties": {
        "successes": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "failures": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://cloudimanage.com/auth/oauth2/authorize",
      "tokenUrl": "https://cloudimanage.com/auth/oauth2/token",
      "scopes": {
        "user": "user"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "user"
      ]
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/imanagedatamarts"
  }
}
