{
  "swagger": "2.0",
  "info": {
    "title": "Azure Speech Pronunciation Assessment",
    "description": "Azure Speech Pronunciation assessment evaluates speech pronunciation and gives speakers feedback on the accuracy and fluency of their speech. ",
    "version": "1.0",
    "contact": {
      "name": "Speech Service Power Platform Team",
      "url": "https://docs.microsoft.com/azure/cognitive-services/speech-service/support",
      "email": "speechpowerplatform@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/azurespeechpronuncia",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/conversation/cognitiveservices/v1": {
      "post": {
        "summary": "Create Pronunciation assessment(V1)",
        "description": "Creates a new pronunciation assessment.",
        "operationId": "SpeechRecognitionConversationCognitiveServices",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "AudioContent",
            "in": "body",
            "description": "The file to upload.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "ReferenceText",
            "in": "header",
            "description": "The text that the pronunciation will be evaluated against.",
            "type": "string",
            "required": true
          },
          {
            "name": "GradingSystem",
            "in": "header",
            "description": "The point system for score calibration. The FivePoint system gives a 0-5 floating point score, and HundredMark gives a 0-100 floating point score. Default: FivePoint.",
            "type": "string",
            "enum": [
              "FivePoint",
              "HundredMark"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Granularity",
            "in": "header",
            "description": "The evaluation granularity. Accepted values are:'Phoneme', which shows the score on the full-text, word, and phoneme levels.'Word', which shows the score on the full-text and word levels.'FullText', which shows the score on the full-text level only.The default setting is 'Phoneme'.",
            "type": "string",
            "enum": [
              "Phoneme",
              "Word",
              "FullText"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Dimension",
            "in": "header",
            "description": "Defines the output criteria. Accepted values are: 'Basic', which shows the accuracy score only.'Comprehensive', which shows scores on more dimensions (for example, fluency score and completeness score on the full-text level, and error type on the word level).The default setting is 'Basic'.",
            "type": "string",
            "enum": [
              "Basic",
              "Comprehensive"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "EnableMiscue",
            "in": "header",
            "description": "Enables miscue calculation. With this parameter enabled, the pronounced words will be compared to the reference text. They'll be marked with omission or insertion based on the comparison. Accepted values are False and True. The default setting is False.",
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "ScenarioId",
            "in": "header",
            "description": "A GUID that indicates a customized point system.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of audio.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Language"
          }
        ],
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "The response contains information about the entity as payload and its location as header.",
            "headers": {
              "Location": {
                "description": "The location of the created resource.",
                "type": "string",
                "format": "uri"
              }
            },
            "examples": {
              "application/json": "{\"RecognitionStatus\":0,\"Offset\":7500000,\"Duration\":13800000,\"DisplayText\":\"Hello.\",\"NBest\":[{\"Confidence\":0.975003,\"Lexical\":\"hello\",\"ITN\":\"hello\",\"MaskedITN\":\"hello\",\"Display\":\"Hello.\",\"PronunciationAssessment\":{\"AccuracyScore\":100,\"FluencyScore\":100,\"CompletenessScore\":100,\"PronScore\":100},\"Words\":[{\"Word\":\"hello\",\"Offset\":7500000,\"Duration\":13800000,\"PronunciationAssessment\":{\"AccuracyScore\":99.0,\"ErrorType\":\"None\"},\"Syllables\":[{\"Syllable\":\"hɛ\",\"PronunciationAssessment\":{\"AccuracyScore\":91.0},\"Offset\":7500000,\"Duration\":4100000},{\"Syllable\":\"loʊ\",\"PronunciationAssessment\":{\"AccuracyScore\":100.0},\"Offset\":11700000,\"Duration\":9600000}],\"Phonemes\":[{\"Phoneme\":\"h\",\"PronunciationAssessment\":{\"AccuracyScore\":98.0,\"NBestPhonemes\":[{\"Phoneme\":\"h\",\"Score\":100.0},{\"Phoneme\":\"oʊ\",\"Score\":52.0},{\"Phoneme\":\"ə\",\"Score\":35.0},{\"Phoneme\":\"k\",\"Score\":23.0},{\"Phoneme\":\"æ\",\"Score\":20.0}]},\"Offset\":7500000,\"Duration\":3500000},{\"Phoneme\":\"ɛ\",\"PronunciationAssessment\":{\"AccuracyScore\":47.0,\"NBestPhonemes\":[{\"Phoneme\":\"ə\",\"Score\":100.0},{\"Phoneme\":\"l\",\"Score\":52.0},{\"Phoneme\":\"ɛ\",\"Score\":47.0},{\"Phoneme\":\"h\",\"Score\":17.0},{\"Phoneme\":\"æ\",\"Score\":2.0}]},\"Offset\":11100000,\"Duration\":500000},{\"Phoneme\":\"l\",\"PronunciationAssessment\":{\"AccuracyScore\":100.0,\"NBestPhonemes\":[{\"Phoneme\":\"l\",\"Score\":100.0},{\"Phoneme\":\"oʊ\",\"Score\":46.0},{\"Phoneme\":\"ə\",\"Score\":5.0},{\"Phoneme\":\"ɛ\",\"Score\":3.0},{\"Phoneme\":\"u\",\"Score\":1.0}]},\"Offset\":11700000,\"Duration\":1100000},{\"Phoneme\":\"oʊ\",\"PronunciationAssessment\":{\"AccuracyScore\":100.0,\"NBestPhonemes\":[{\"Phoneme\":\"oʊ\",\"Score\":100.0},{\"Phoneme\":\"d\",\"Score\":29.0},{\"Phoneme\":\"t\",\"Score\":24.0},{\"Phoneme\":\"n\",\"Score\":22.0},{\"Phoneme\":\"l\",\"Score\":18.0}]},\"Offset\":12900000,\"Duration\":8400000}]}]}]}"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azurespeechpronuncia/#create-pronunciation-assessment(v1)"
        }
      }
    }
  },
  "definitions": {
    "DetailedErrorCode": {
      "title": "DetailedErrorCode",
      "description": "Detailed error code enum.",
      "enum": [
        "InvalidParameterValue",
        "InvalidRequestBodyFormat",
        "EmptyRequest",
        "UnsupportedLanguageCode",
        "InvalidParameter",
        "InvalidPermissions",
        "Forbidden"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "DetailedErrorCode",
        "modelAsString": true,
        "values": [
          {
            "value": "InvalidParameterValue",
            "description": "Invalid parameter value."
          },
          {
            "value": "InvalidRequestBodyFormat",
            "description": "Invalid request body format."
          },
          {
            "value": "EmptyRequest",
            "description": "Empty Request."
          },
          {
            "value": "UnsupportedLanguageCode",
            "description": "Unsupported language code."
          },
          {
            "value": "InvalidParameter",
            "description": "Invalid parameter."
          },
          {
            "value": "InvalidPermissions",
            "description": "Invalid permissions."
          }
        ]
      }
    },
    "Error": {
      "description": "New format which conforms to the new Cognitive Services API guidelines which is available at https://microsoft.sharepoint.com/%3Aw%3A/t/CognitiveServicesPMO/EUoytcrjuJdKpeOKIK_QRC8BPtUYQpKBi8JsWyeDMRsWlQ?e=CPq8ow.This contains an outer error with error code, message, details, target and an inner error with more descriptive details.",
      "type": "object",
      "properties": {
        "code": {
          "$ref": "#/definitions/ErrorCode"
        },
        "details": {
          "description": "Additional supportive details regarding the error and/or expected policies.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "message": {
          "description": "High level error message.",
          "type": "string"
        },
        "target": {
          "description": "The source of the error.For example it would be \"documents\" or \"document id\" in case of invalid document.",
          "type": "string"
        },
        "innerError": {
          "$ref": "#/definitions/InnerError"
        }
      }
    },
    "ErrorCode": {
      "description": "High level error codes.",
      "enum": [
        "InvalidRequest",
        "InvalidArgument",
        "InternalServerError",
        "ServiceUnavailable",
        "NotFound",
        "PipelineError",
        "Conflict",
        "InternalCommunicationFailed",
        "Forbidden",
        "NotAllowed",
        "Unauthorized",
        "UnsupportedMediaType",
        "TooManyRequests",
        "UnprocessableEntity"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ErrorCode",
        "modelAsString": true,
        "values": [
          {
            "value": "InvalidRequest",
            "description": "Representing the invalid request error code."
          },
          {
            "value": "InvalidArgument",
            "description": "Representing the invalid argument error code."
          },
          {
            "value": "InternalServerError",
            "description": "Representing the internal server error error code."
          },
          {
            "value": "ServiceUnavailable",
            "description": "Representing the service unavailable error code."
          },
          {
            "value": "NotFound",
            "description": "Representing the not found error code."
          },
          {
            "value": "PipelineError",
            "description": "Representing the pipeline error error code."
          },
          {
            "value": "Conflict",
            "description": "Representing the conflict error code."
          },
          {
            "value": "InternalCommunicationFailed",
            "description": "Representing the internal communication failed error code."
          },
          {
            "value": "Forbidden",
            "description": "Representing the forbidden error code."
          },
          {
            "value": "NotAllowed",
            "description": "Representing the not allowed error code."
          },
          {
            "value": "Unauthorized",
            "description": "Representing the unauthorized error code."
          },
          {
            "value": "UnsupportedMediaType",
            "description": "Representing the unsupported media type error code."
          },
          {
            "value": "TooManyRequests",
            "description": "Representing the too many requests error code."
          },
          {
            "value": "UnprocessableEntity",
            "description": "Representing the unprocessable entity error code."
          }
        ]
      }
    },
    "InnerError": {
      "description": "New Inner Error format which conforms to Cognitive Services API Guidelines which is available at https://microsoft.sharepoint.com/%3Aw%3A/t/CognitiveServicesPMO/EUoytcrjuJdKpeOKIK_QRC8BPtUYQpKBi8JsWyeDMRsWlQ?e=CPq8ow.This contains required properties ErrorCode, message and optional properties target, details(key value pair), inner error(this can be nested).",
      "type": "object",
      "properties": {
        "code": {
          "$ref": "#/definitions/DetailedErrorCode"
        },
        "details": {
          "description": "Additional supportive details regarding the error and/or expected policies.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "High level error message.",
          "type": "string"
        },
        "target": {
          "description": "The source of the error.For example it would be \"documents\" or \"document id\" in case of invalid document.",
          "type": "string"
        },
        "innerError": {
          "$ref": "#/definitions/InnerError"
        }
      }
    }
  },
  "parameters": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.microsoft.com/azure/cognitive-services/speech-service/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azurespeechpronuncia"
  }
}
