{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "OneNote (Business)",
    "description": "OneNote is a note taking app from Microsoft that makes it easy to sync your ideas, sketches and notes across all your devices! Connect to your Office 365 account with OneDrive for Business enabled to track new sections, create notes and more.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/onenote",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/notebooks/Dynamic/sections": {
      "post": {
        "tags": [
          "OneNote"
        ],
        "summary": "Create section in a notebook",
        "description": "Create section in a notebook.",
        "operationId": "CreateSectionInNotebook",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSectionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/CreateSectionInNotebookResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#create-section-in-a-notebook"
        }
      }
    },
    "/{connectionId}/sections/Dynamic/pages": {
      "post": {
        "tags": [
          "OneNote"
        ],
        "summary": "Create page in a section",
        "description": "Create new page in a specified section.",
        "operationId": "CreatePageInSection",
        "consumes": [
          "text/plain",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "query",
            "description": "API URL of the section pages.",
            "required": true,
            "x-ms-summary": "Notebook section",
            "x-ms-dynamic-values": {
              "operationId": "GetSectionsInNotebook",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                }
              },
              "value-collection": "value",
              "value-path": "pagesUrl",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "pageContent",
            "in": "body",
            "description": "Page content.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "html"
            },
            "x-ms-summary": "Page Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#create-page-in-a-section"
        }
      },
      "get": {
        "tags": [
          "OneNote"
        ],
        "summary": "Get pages for a specific section",
        "description": "Get pages for a specific section.",
        "operationId": "GetPagesInSection",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "query",
            "description": "API URL of the section pages.",
            "required": true,
            "x-ms-summary": "Notebook section",
            "x-ms-dynamic-values": {
              "operationId": "GetSectionsInNotebook",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                }
              },
              "value-path": "pagesUrl",
              "value-title": "name",
              "value-collection": "value"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/GetPagesInSectionResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#get-pages-for-a-specific-section"
        }
      }
    },
    "/{connectionId}/pages": {
      "post": {
        "tags": [
          "OneNote"
        ],
        "summary": "Create a page in Quick Notes",
        "description": "Create a new page in the Quick Notes section.",
        "operationId": "CreatePageInQuickNotes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "pageContent",
            "in": "body",
            "description": "Page content.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "html"
            },
            "x-ms-summary": "Page Content"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Page"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#create-a-page-in-quick-notes"
        }
      },
      "delete": {
        "tags": [
          "OneNote"
        ],
        "summary": "Delete a page",
        "description": "Delete a page.",
        "operationId": "DeletePage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "query",
            "description": "API URL of the section pages.",
            "required": true,
            "x-ms-summary": "Notebook section",
            "x-ms-dynamic-values": {
              "operationId": "GetSectionsInNotebook",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                }
              },
              "value-path": "pagesUrl",
              "value-title": "name",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Unique id of the page.",
            "required": true,
            "x-ms-summary": "Page Id",
            "x-ms-dynamic-values": {
              "operationId": "GetPagesInSection",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                },
                "sectionId": {
                  "parameter": "sectionId"
                }
              },
              "value-path": "id",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#delete-a-page"
        }
      }
    },
    "/{connectionId}/pages/Dynamic/content": {
      "get": {
        "tags": [
          "OneNote"
        ],
        "summary": "Get page content",
        "description": "Get HTML page content.",
        "operationId": "GetPageContent",
        "consumes": [],
        "produces": [
          "text/html"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "query",
            "description": "API URL of the section pages.",
            "required": true,
            "x-ms-summary": "Notebook section",
            "x-ms-dynamic-values": {
              "operationId": "GetSectionsInNotebook",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                }
              },
              "value-path": "pagesUrl",
              "value-title": "name",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Unique id of the page.",
            "required": true,
            "x-ms-summary": "Page Id",
            "x-ms-dynamic-values": {
              "operationId": "GetPagesInSection",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                },
                "sectionId": {
                  "parameter": "sectionId"
                }
              },
              "value-path": "contentUrl",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "preAuthenticated",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "description": "The page HTML content"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#get-page-content"
        }
      },
      "patch": {
        "tags": [
          "OneNote"
        ],
        "summary": "Update page content",
        "description": "Update HTML page content.",
        "operationId": "UpdatePageContent",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "query",
            "description": "API URL of the section pages.",
            "required": true,
            "x-ms-summary": "Notebook section",
            "x-ms-dynamic-values": {
              "operationId": "GetSectionsInNotebook",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                }
              },
              "value-path": "pagesUrl",
              "value-title": "name",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Unique id of the page.",
            "required": true,
            "x-ms-summary": "Page Id",
            "x-ms-dynamic-values": {
              "operationId": "GetPagesInSection",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                },
                "sectionId": {
                  "parameter": "sectionId"
                }
              },
              "value-path": "contentUrl",
              "value-title": "title",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "updates",
            "in": "body",
            "x-ms-summary": "Update",
            "schema": {
              "$ref": "#/definitions/UpdatePageContentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "description": "The page HTML content"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#update-page-content"
        }
      }
    },
    "/{connectionId}/notebooks": {
      "get": {
        "tags": [
          "OneNote"
        ],
        "summary": "Get recent notebooks",
        "description": "Get recent notebooks.",
        "operationId": "GetNotebooks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Notebook"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#get-recent-notebooks"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/notebooks/notebookKey/sections": {
      "get": {
        "tags": [
          "OneNote"
        ],
        "summary": "Get sections in notebook",
        "description": "Get sections in a specific notebook.",
        "operationId": "GetSectionsInNotebook",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SectionListItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#get-sections-in-notebook"
        }
      }
    },
    "/{connectionId}/trigger1/notebooks/notebookKey/sections": {
      "get": {
        "tags": [
          "OneNote"
        ],
        "summary": "When a new section is created",
        "description": "Triggers a flow when a new section is added to a notebook.",
        "operationId": "OnNewSectionInNotebook",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NewSectionResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new section to the selected notebook.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#when-a-new-section-is-created"
        }
      }
    },
    "/{connectionId}/trigger2/notebooks/notebookKey/sectiongroups": {
      "get": {
        "tags": [
          "OneNote"
        ],
        "summary": "When a new section group is created",
        "description": "Triggers a flow when a new section group is added to a notebook.",
        "operationId": "OnNewSectionGroupInNotebook",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NewSectionGroupResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new section group to the selected notebook.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#when-a-new-section-group-is-created"
        }
      }
    },
    "/{connectionId}/trigger3/sections/Dynamic/pages": {
      "get": {
        "tags": [
          "OneNote"
        ],
        "summary": "When a new page is created in a section",
        "description": "Triggers a flow when a new page is added to a section.",
        "operationId": "OnNewPageInSection",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "notebookKey",
            "in": "query",
            "description": "A key identifying the notebook. Note this is specific to the API and cannot be hand-typed.",
            "required": true,
            "x-ms-summary": "Notebook Key",
            "x-ms-dynamic-values": {
              "operationId": "GetNotebooks",
              "value-path": "Key",
              "value-title": "FileName"
            },
            "type": "string"
          },
          {
            "name": "sectionId",
            "in": "query",
            "description": "API URL of the section pages.",
            "required": true,
            "x-ms-summary": "Notebook section",
            "x-ms-dynamic-values": {
              "operationId": "GetSectionsInNotebook",
              "parameters": {
                "notebookKey": {
                  "parameter": "notebookKey"
                }
              },
              "value-collection": "value",
              "value-path": "pagesUrl",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NewPageResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new page to the selected section.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/onenote/#when-a-new-page-is-created-in-a-section"
        }
      }
    }
  },
  "definitions": {
    "CreateSectionRequest": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the new section.",
          "type": "string",
          "x-ms-summary": "Name of the new section",
          "x-ms-visibility": "important"
        }
      }
    },
    "UpdatePageContentRequest": {
      "description": "The content updates to apply to the page.",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "target": {
            "description": "The element to update.",
            "type": "string",
            "x-ms-summary": "Target",
            "x-ms-visibility": "important"
          },
          "action": {
            "description": "The action to perform on the target element.",
            "type": "string",
            "enum": [
              "append",
              "insert",
              "prepend",
              "replace"
            ],
            "x-ms-summary": "Action",
            "x-ms-visibility": "important"
          },
          "position": {
            "description": "The location to add the supplied content.",
            "type": "string",
            "enum": [
              "after",
              "before"
            ],
            "x-ms-summary": "Location",
            "x-ms-visibility": "important"
          },
          "content": {
            "description": "The new content.",
            "type": "string",
            "format": "html",
            "x-ms-summary": "Content",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "CreateSectionInNotebookResponse": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "description": "The OData context.",
          "type": "string",
          "x-ms-summary": "OData context",
          "x-ms-visibility": "advanced"
        },
        "createdBy": {
          "description": "This section created by name.",
          "type": "string",
          "x-ms-summary": "Created by name",
          "x-ms-visibility": "advanced"
        },
        "createdTime": {
          "format": "date-time",
          "description": "This section created time.",
          "type": "string",
          "x-ms-summary": "Created time",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Create section in notebook object id",
          "x-ms-visibility": "advanced"
        },
        "isDefault": {
          "description": "A flag to indication if this is the default section.",
          "type": "boolean",
          "x-ms-summary": "Default section flag",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedBy": {
          "description": "Last modified by name.",
          "type": "string",
          "x-ms-summary": "Last Modified By",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedTime": {
          "format": "date-time",
          "description": "The time this section was last modified.",
          "type": "string",
          "x-ms-summary": "Last Modified Time",
          "x-ms-visibility": "advanced"
        },
        "links": {
          "description": "OneNote client links.",
          "type": "object",
          "properties": {
            "oneNoteClientUrl": {
              "description": "The link to open in the OneNote desktop client.",
              "type": "object",
              "properties": {
                "href": {
                  "description": "OneNote desktop client href.",
                  "type": "string",
                  "x-ms-summary": "Desktop client href",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "OneNote Client Url",
              "x-ms-visibility": "advanced"
            },
            "oneNoteWebUrl": {
              "description": "The link to open in the OneNote web client.",
              "type": "object",
              "properties": {
                "href": {
                  "description": "OneNote web client href.",
                  "type": "string",
                  "x-ms-summary": "Web client href",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "OneNote Web Url",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "OneNote client links",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the section.",
          "type": "string",
          "x-ms-summary": "Section Name",
          "x-ms-visibility": "advanced"
        },
        "pagesUrl": {
          "description": "The url of the pages.",
          "type": "string",
          "x-ms-summary": "The pages Url",
          "x-ms-visibility": "advanced"
        },
        "self": {
          "description": "The url to create section in notebook group.",
          "type": "string",
          "x-ms-summary": "Url to create section in notebook",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Page": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the page.",
          "type": "string",
          "x-ms-summary": "Page title",
          "x-ms-visibility": "important"
        },
        "links": {
          "$ref": "#/definitions/Link"
        },
        "contentUrl": {
          "description": "A url to the page content.",
          "type": "string",
          "x-ms-summary": "Content Url",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedTime": {
          "format": "date-time",
          "description": "The last modified date of the page.",
          "type": "string",
          "x-ms-summary": "Last Modified Date",
          "x-ms-visibility": "advanced"
        },
        "createdTime": {
          "format": "date-time",
          "description": "The date the page was created.",
          "type": "string",
          "x-ms-summary": "Created Date",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "The unique identifier of the page.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetPageResponse": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "description": "The OData context.",
          "type": "string",
          "x-ms-summary": "OData context",
          "x-ms-visibility": "advanced"
        },
        "value": {
          "description": "This page response value.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "contentUrl": {
                "description": "Content url for this page.",
                "type": "string",
                "x-ms-summary": "Content URL property value",
                "x-ms-visibility": "advanced"
              },
              "createdByAppId": {
                "description": "Created by app id.",
                "type": "string",
                "x-ms-summary": "Created by appId",
                "x-ms-visibility": "advanced"
              },
              "createdTime": {
                "format": "date-time",
                "description": "The created time of the page.",
                "type": "string",
                "x-ms-summary": "The created time of the page",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "type": "string",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "lastModifiedTime": {
                "format": "date-time",
                "description": "The last modified time of the page.",
                "type": "string",
                "x-ms-summary": "Last modified time of the page",
                "x-ms-visibility": "advanced"
              },
              "links": {
                "description": "The collection of links to access this content.",
                "type": "object",
                "properties": {
                  "oneNoteClientUrl": {
                    "description": "The OneNote desktop client url.",
                    "type": "object",
                    "properties": {
                      "href": {
                        "description": "OneNote desktop client href.",
                        "type": "string",
                        "x-ms-summary": "The link to open in the OneNote desktop client",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "x-ms-summary": "OneNote desktop client url",
                    "x-ms-visibility": "advanced"
                  },
                  "oneNoteWebUrl": {
                    "description": "OneNote web client url.",
                    "type": "object",
                    "properties": {
                      "href": {
                        "description": "OneNote web client href.",
                        "type": "string",
                        "x-ms-summary": "The link to open in OneNote web client",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "x-ms-summary": "OneNote web client url",
                    "x-ms-visibility": "advanced"
                  }
                },
                "x-ms-summary": "Collection of links for this content",
                "x-ms-visibility": "advanced"
              },
              "parentSection": {
                "description": "Get page response parent section.",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "Page response parent section id.",
                    "type": "string",
                    "x-ms-summary": "Parent section id",
                    "x-ms-visibility": "advanced"
                  },
                  "name": {
                    "description": "The parent section name.",
                    "type": "string",
                    "x-ms-summary": "Parent section name",
                    "x-ms-visibility": "advanced"
                  },
                  "self": {
                    "description": "The url to this parent section.",
                    "type": "string",
                    "x-ms-summary": "Parent section url",
                    "x-ms-visibility": "advanced"
                  }
                },
                "x-ms-summary": "Parent section",
                "x-ms-visibility": "advanced"
              },
              "parentSection@odata.context": {
                "description": "The parent section OData context.",
                "type": "string",
                "x-ms-summary": "Parent section OData context",
                "x-ms-visibility": "advanced"
              },
              "self": {
                "description": "The url to this page object.",
                "type": "string",
                "x-ms-summary": "This page object url",
                "x-ms-visibility": "advanced"
              },
              "title": {
                "description": "The page title.",
                "type": "string",
                "x-ms-summary": "The page title",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Get page response object value",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Notebook": {
      "type": "object",
      "properties": {
        "FileName": {
          "type": "string"
        },
        "Key": {
          "type": "string"
        }
      }
    },
    "ParentNotebook": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique identifier of the parent notebook.",
          "type": "string",
          "x-ms-summary": "Parent Notebook Key",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the parent notebook.",
          "type": "string",
          "x-ms-summary": "Parent Notebook Name",
          "x-ms-visibility": "advanced"
        },
        "self": {
          "description": "A url link to the parent notebook.",
          "type": "string",
          "x-ms-summary": "Parent Notebook Url",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Link": {
      "description": "The links associated with the OneNote page.",
      "required": [
        "oneNoteClientUrl",
        "oneNoteWebUrl"
      ],
      "type": "object",
      "properties": {
        "oneNoteClientUrl": {
          "$ref": "#/definitions/OneNoteClientUrl"
        },
        "oneNoteWebUrl": {
          "$ref": "#/definitions/OneNoteWebUrl"
        }
      }
    },
    "OneNoteClientUrl": {
      "required": [
        "href"
      ],
      "type": "object",
      "properties": {
        "href": {
          "description": "A link to the notebook using the OneNote windows client.",
          "type": "string",
          "x-ms-summary": "OneNote client url",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "OneNoteWebUrl": {
      "required": [
        "href"
      ],
      "type": "object",
      "properties": {
        "href": {
          "description": "A link to the notebook using the OneNote web client.",
          "type": "string",
          "x-ms-summary": "OneNote web url",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SectionListItem": {
      "description": "The fields included in a section list item.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the section.",
          "type": "string",
          "x-ms-summary": "Section name",
          "x-ms-visibility": "important"
        },
        "pagesUrl": {
          "description": "The key used to reference this section; also a url to the pages.",
          "type": "string",
          "x-ms-summary": "Section key",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "Unique identifier of the section.",
          "type": "string",
          "x-ms-summary": "Section Identifier",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SectionResponse": {
      "description": "The fields included in a section.",
      "type": "object",
      "properties": {
        "createdBy": {
          "description": "The creator of the section.",
          "type": "string",
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced"
        },
        "createdTime": {
          "format": "date-time",
          "description": "The creation date and time of the section.",
          "type": "string",
          "x-ms-summary": "Creation Date",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "Unique identifier of the section.",
          "type": "string",
          "x-ms-summary": "Section Identifier",
          "x-ms-visibility": "advanced"
        },
        "isDefault": {
          "description": "Indicates whether it is the default section.",
          "type": "boolean",
          "x-ms-summary": "IsDefault",
          "x-ms-visibility": "internal"
        },
        "lastModifiedBy": {
          "description": "The user who last modified the section.",
          "type": "string",
          "x-ms-summary": "Last Modified By",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedTime": {
          "format": "date-time",
          "description": "The last modified date and time of the section.",
          "type": "string",
          "x-ms-summary": "Last Modified Date",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the section.",
          "type": "string",
          "x-ms-summary": "Section Name",
          "x-ms-visibility": "important"
        },
        "pagesUrl": {
          "description": "Url to the pages in this section.",
          "type": "string",
          "x-ms-summary": "Pages Url",
          "x-ms-visibility": "advanced"
        },
        "parentNotebook": {
          "$ref": "#/definitions/ParentNotebook"
        },
        "self": {
          "description": "The url to this section.",
          "type": "string",
          "x-ms-summary": "Url",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SectionGroupResponse": {
      "description": "The fields included in a section group.",
      "type": "object",
      "properties": {
        "createdTime": {
          "format": "date-time",
          "description": "The creation date and time of the section group.",
          "type": "string",
          "x-ms-summary": "Creation date",
          "x-ms-visibility": "advanced"
        },
        "createdBy": {
          "description": "The creator of the section group.",
          "type": "string",
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "Unique identifier of the section group.",
          "type": "string",
          "x-ms-summary": "Identifier",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedBy": {
          "description": "The user who last modified the section group.",
          "type": "string",
          "x-ms-summary": "Last modifier",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedTime": {
          "format": "date-time",
          "description": "The last modification date and time of the section group.",
          "type": "string",
          "x-ms-summary": "Last modified date",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the section group.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "sectionsUrl": {
          "description": "Url of the sections within this section group.",
          "type": "string",
          "x-ms-summary": "Sections Url",
          "x-ms-visibility": "advanced"
        },
        "self": {
          "description": "The url to this section group.",
          "type": "string",
          "x-ms-summary": "Section Group Url",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "NewSectionResponse": {
      "description": "Response for a new section.",
      "type": "object",
      "properties": {
        "value": {
          "description": "An array of objects, each representing a specific section.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SectionResponse"
          },
          "x-ms-summary": "Sections"
        }
      }
    },
    "NewSectionGroupResponse": {
      "description": "Response for a new section group.",
      "type": "object",
      "properties": {
        "value": {
          "description": "An array of objects, each representing a specific section group.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SectionGroupResponse"
          },
          "x-ms-summary": "Section Groups"
        }
      }
    },
    "NewPageResponse": {
      "description": "Response for a new page.",
      "type": "object",
      "properties": {
        "value": {
          "description": "An array of objects, each representing a specific page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Page"
          },
          "x-ms-summary": "Pages"
        }
      }
    },
    "GetPagesInSectionResponse": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "description": "The OData context.",
          "type": "string",
          "x-ms-summary": "OData context",
          "x-ms-visibility": "advanced"
        },
        "value": {
          "description": "value",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "contentUrl": {
                "description": "The content url.",
                "type": "string",
                "x-ms-summary": "Content Url",
                "x-ms-visibility": "advanced"
              },
              "createdByAppId": {
                "description": "The created by app id.",
                "type": "string",
                "x-ms-summary": "Created by app id",
                "x-ms-visibility": "advanced"
              },
              "createdTime": {
                "format": "date-time",
                "description": "The created time for this response.",
                "type": "string",
                "x-ms-summary": "Created time",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "The unique identifier for this response.",
                "type": "string",
                "x-ms-summary": "Unique identifier for response",
                "x-ms-visibility": "advanced"
              },
              "lastModifiedTime": {
                "format": "date-time",
                "description": "The last modified time for this object.",
                "type": "string",
                "x-ms-summary": "Last modified time",
                "x-ms-visibility": "advanced"
              },
              "links": {
                "description": "A collection of links for this object.",
                "type": "object",
                "properties": {
                  "oneNoteClientUrl": {
                    "description": "The OneNote desktop client url.",
                    "type": "object",
                    "properties": {
                      "href": {
                        "description": "OneNote desktop client href.",
                        "type": "string",
                        "x-ms-summary": "OneNote desktop client href",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "x-ms-summary": "OneNote client url",
                    "x-ms-visibility": "advanced"
                  },
                  "oneNoteWebUrl": {
                    "description": "The OneNote web client url.",
                    "type": "object",
                    "properties": {
                      "href": {
                        "description": "OneNote web client href.",
                        "type": "string",
                        "x-ms-summary": "OneNote web client href",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "x-ms-summary": "OneNote web client url",
                    "x-ms-visibility": "advanced"
                  }
                },
                "x-ms-summary": "Collection of links for this object",
                "x-ms-visibility": "advanced"
              },
              "parentSection": {
                "description": "parentSection",
                "type": "object",
                "properties": {
                  "id": {
                    "description": "The unique identifier for this object parent section.",
                    "type": "string",
                    "x-ms-summary": "Parent section unique identifier",
                    "x-ms-visibility": "advanced"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Parent section name",
                    "x-ms-visibility": "advanced"
                  },
                  "self": {
                    "description": "The url to the pages in section parent section.",
                    "type": "string",
                    "x-ms-summary": "Pages in Section parent section",
                    "x-ms-visibility": "advanced"
                  }
                },
                "x-ms-summary": "Parent Section",
                "x-ms-visibility": "advanced"
              },
              "parentSection@odata.context": {
                "description": "Parent Section OData context.",
                "type": "string",
                "x-ms-summary": "Parent Section OData context",
                "x-ms-visibility": "advanced"
              },
              "self": {
                "description": "The url to the Pages In Section group.",
                "type": "string",
                "x-ms-summary": "Pages In Section group",
                "x-ms-visibility": "advanced"
              },
              "title": {
                "description": "Page title.",
                "type": "string",
                "x-ms-summary": "Page title",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Pages in section value object",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetNotebooks"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://products.office.com/onenote/digital-note-taking-app"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/onenote"
  }
}
