{
  "swagger": "2.0",
  "info": {
    "title": "Outreach Insights",
    "description": "Bring critical insights from engagements & conversations for a deal in the flow of work for the reps. Sellers access these insights within Outlook, Teams and other communication apps to drive better engagement with the stakeholders and close deals faster.",
    "version": "1.0",
    "contact": {
      "name": "Outreach",
      "url": "https://www.outreach.io/",
      "email": "sushant.potdar@outreach.io"
    },
    "x-ms-keywords": [
      "Outreach"
    ],
    "x-ms-openai-published-to-copilots": [
      {
        "AICopilot-enabled": true,
        "AICopilotName": "Microsoft Sales Copilot"
      }
    ],
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/outreachinsights",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.outreach.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.outreach.io/privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Data"
    },
    {
      "propertyName": "BrandColor",
      "propertyValue": "#5951FF"
    }
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/integrations/copilot/insights": {
      "get": {
        "tags": [
          "EnhancedSkillsExtensibility"
        ],
        "summary": "Get Outreach Insights",
        "description": "This action gets additional sales insights related to a CRM record that will be shown in the C4S record summary card. The action enhances the existing skills of copilot for sales.",
        "operationId": "Get-Outreach-Insights",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recordType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "This input indicates the entity or object type in CRM for which insights are requested.",
            "enum": [
              "opportunity",
              "account"
            ],
            "x-ms-summary": "Record Type"
          },
          {
            "name": "recordId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "This input indicates the unique identifier of the CRM record for which insights are requested.",
            "x-ms-summary": "Record ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ActivityListResponseEnvelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get-Outreach-Insights",
              "x-ms-require-user-confirmation": false
            }
          ],
          "summary": "Get Outreach Insights",
          "description": "This action gets additional sales insights related to a CRM record that will be shown in the C4S record summary card. The action enhances the existing skills of copilot for sales."
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/outreachinsights/#get-outreach-insights"
        }
      }
    }
  },
  "definitions": {
    "Activity": {
      "required": [
        "dateTime",
        "description",
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "This output indicates the title of the activity in the citation card",
          "minLength": 1,
          "type": "string"
        },
        "description": {
          "description": "This output indicates the description of the insight",
          "minLength": 1,
          "type": "string"
        },
        "dateTime": {
          "description": "This output indicates the time associated with the insight",
          "type": "string"
        },
        "url": {
          "description": "This output indicates the URL to open insight",
          "type": "string"
        },
        "additionalProperties": {
          "description": "This output indicates additional properties displayed in the detailed view of the insight",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ActivityListResponseEnvelope": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Activity"
          }
        },
        "hasMoreResults": {
          "description": "This indicates whether there are more results to be fetched in subsequent calls",
          "type": "boolean"
        }
      }
    },
    "ApiError": {
      "required": [
        "errorCode"
      ],
      "type": "object",
      "properties": {
        "errorCode": {
          "minLength": 1,
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "activityId": {
          "type": "string"
        },
        "details": {
          "type": "object",
          "additionalProperties": {}
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.outreach.io/oauth/authorize",
      "tokenUrl": "https://api.outreach.io/oauth/token",
      "scopes": {
        "opportunities.read accounts.read users.read plugins.read": "opportunities.read accounts.read users.read plugins.read"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "opportunities.read accounts.read users.read plugins.read"
      ]
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/outreachinsights"
  }
}
