{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Graph Security",
    "description": "The Microsoft Graph Security connector helps to connect different Microsoft and partner security products and services, using a unified schema, to streamline security operations, and improve threat protection, detection, and response capabilities. Learn more about integrating with the Microsoft Graph Security API at https://aka.ms/graphsecuritydocs",
    "version": "beta",
    "contact": {
      "name": "Microsoft",
      "email": "sipsisgdev@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/microsoftgraphsecurity",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/v1.0/security/alerts": {
      "get": {
        "description": "Get a list of security alerts for this Azure Active Directory tenant. Use with different query parameters.",
        "summary": "Get alerts",
        "operationId": "GetAlerts",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Alerts count",
                  "description": "The number of alerts returned"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Alert"
                  },
                  "title": "Alerts",
                  "description": "The alerts returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Unauthorized, get admin access grant"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "description": "Specify filtering condition for alerts like Severity eq \"High\".",
            "x-ms-summary": "Filter alerts",
            "type": "string"
          },
          {
            "name": "$top",
            "format": "int32",
            "in": "query",
            "required": false,
            "description": "Specify the recent most top number of alerts to retrieve from each provider.",
            "x-ms-summary": "Top alerts",
            "type": "integer"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Specify alert properties to include in the results.",
            "x-ms-summary": "Select alert properties",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Specify sorting order for the results.",
            "x-ms-summary": "Sorting order",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Specify number of results to skip. Useful for pagination.",
            "x-ms-summary": "Skips \"n\" results",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "description": "Specify to include the number of alerts returned in the response",
            "x-ms-summary": "Include count of alerts returned",
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "x-ms-visibility": "advanced"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#get-alerts"
        }
      }
    },
    "/{connectionId}/v1.0/security/alerts/{alert-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          }
        },
        "summary": "Get alert by ID",
        "description": "Get a security alert corresponding to the specified ID.",
        "operationId": "GetAlertById",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "alert-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify alert ID.",
            "x-ms-summary": "Alert ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#get-alert-by-id"
        }
      },
      "patch": {
        "responses": {
          "204": {
            "description": "success"
          }
        },
        "summary": "Update alert",
        "description": "Update specific properties of a security alert.",
        "operationId": "UpdateAlert",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "alert-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify alert ID.",
            "x-ms-summary": "Alert ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "assignedTo": {
                  "type": "string",
                  "description": "Specify the name of the analyst the alert is assigned to for triage, investigation, or remediation.",
                  "title": "Assigned to"
                },
                "closedDateTime": {
                  "type": "string",
                  "description": "Specify the time at which the alert was closed. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time.",
                  "title": "Closed dateTime"
                },
                "comments": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Specify comments on alert for customer alert management.",
                    "title": "Comments"
                  },
                  "description": "Comments"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Tags",
                  "description": "Specify any user-definable labels that can be applied to an alert and can serve as filter conditions (for example \"HVA\", \"SAW\", etc.)."
                },
                "feedback": {
                  "type": "string",
                  "description": "Specify analyst feedback on the alert.",
                  "enum": [
                    "unknown",
                    "truePositive",
                    "falsePositive",
                    "benignPositive"
                  ],
                  "title": "Feedback"
                },
                "status": {
                  "type": "string",
                  "description": "Specify status to track alert lifecycle status (stage).",
                  "x-ms-visibility": "important",
                  "enum": [
                    "unknown",
                    "newAlert",
                    "inProgress",
                    "resolved"
                  ],
                  "title": "Status"
                },
                "vendorInformation": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string",
                      "description": "Specific provider (product/service - not vendor company); for example, WindowsDefenderATP.",
                      "title": "Provider name",
                      "x-ms-visibility": "important"
                    },
                    "providerVersion": {
                      "type": "string",
                      "description": "Specify version of the provider or subprovider, if it exists, that generated the alert.",
                      "title": "Provider version"
                    },
                    "subProvider": {
                      "type": "string",
                      "description": "Specific subprovider (under aggregating provider); for example, WindowsDefenderATP.SmartScreen.",
                      "title": "Sub Provider name"
                    },
                    "vendor": {
                      "type": "string",
                      "description": "Specify name of the alert vendor (for example, Microsoft, Dell, FireEye).",
                      "title": "Vendor name",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "vendorInformation",
                  "required": [
                    "provider",
                    "vendor"
                  ]
                }
              },
              "required": [
                "vendorInformation"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#update-alert"
        }
      }
    },
    "/{connectionId}/v1.0/subscriptions": {
      "get": {
        "summary": "Get active subscriptions",
        "description": "Get the list of unexpired subscriptions for this Azure Active Directory tenant.",
        "operationId": "GetActiveSubscriptions",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Existing subcriptions count",
                  "description": "The number of subcriptions returned"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Subscription"
                  },
                  "title": "Subscription",
                  "description": "The subscription entities returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#get-active-subscriptions"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          }
        },
        "summary": "Create subscriptions",
        "operationId": "CreateSubscriptions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "string",
                  "description": "Specify the resource that will be monitored for changes. Do not include base URL (https://graph.microsoft.com/v1.0/). Include security/alerts followed by the odata query. For e.g. security/alerts?$filter=status eq �New�",
                  "title": "Resource URL",
                  "x-ms-visibility": "important"
                },
                "changeType": {
                  "type": "string",
                  "description": "Specify the property type that should raise a notification when changed on the subscribed resource.",
                  "title": "Change type",
                  "x-ms-visibility": "important",
                  "default": "updated"
                },
                "clientState": {
                  "type": "string",
                  "description": "Specify the client state to confirm the notification origination source.",
                  "title": "Client state"
                },
                "notificationUrl": {
                  "type": "string",
                  "description": "Specify a well-formed URL of the endpoint that will receive notifications.",
                  "title": "Notification URL",
                  "x-ms-visibility": "important"
                },
                "expirationDateTime": {
                  "type": "string",
                  "description": "Specify the date time when the webhook subscription expires; needs to be a date time greater than current time and within 30 days.",
                  "title": "Expiration date time",
                  "x-ms-visibility": "important",
                  "format": "date-time",
                  "enum": [
                    "@{addDays(utcnow(), 29)}"
                  ]
                }
              },
              "required": [
                "changeType",
                "expirationDateTime",
                "notificationUrl",
                "resource"
              ]
            },
            "x-ms-visibility": "important"
          }
        ],
        "description": "Create Microsoft Graph webhook subscriptions.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#create-subscriptions"
        }
      }
    },
    "/{connectionId}/v1.0/subscriptions/{Subscription Id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "deleted"
          }
        },
        "summary": "Delete subscriptions",
        "description": "Delete the specific Microsoft Graph Webhook subscription.",
        "operationId": "DeleteSubscription",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Subscription Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveSubscriptions",
              "value-path": "id",
              "value-collection": "value",
              "value-title": "resource"
            },
            "description": "Specify the Microsoft Graph Webhook Subscription ID.",
            "x-ms-summary": "Subscription ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#delete-subscriptions"
        }
      },
      "patch": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          }
        },
        "summary": "Update subscription",
        "description": "Renew a Microsoft Graph webhook subscription by updating its expiration time.",
        "operationId": "UpdateSubscription",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Subscription Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify Microsoft Graph Webhook subscription ID.",
            "x-ms-summary": "Subscription ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "expirationDateTime": {
                  "type": "string",
                  "description": "Specify the date and time, in UTC format, of when the Microsoft Graph webhook subscription expires. The maximum expiration time for security alerts is 43200 minutes (under 30 days).",
                  "title": "Expiration date time",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#update-subscription"
        }
      }
    },
    "/{connectionId}/trigger/v1.0/security/alerts": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Alerts count",
                  "description": "The number of alerts returned"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Alert"
                  },
                  "title": "Alerts",
                  "description": "The alerts returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Unauthorized, get admin access grant"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "On all new alerts",
        "description": "Triggers on all new alerts",
        "operationId": "OnAllNewAlerts",
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "Create new alerts to trigger the flow",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#on-all-new-alerts"
        }
      }
    },
    "/{connectionId}/trigger/beta/security/alerts": {
      "get": {
        "description": "Triggers on new high severity alerts",
        "operationId": "OnNewHighSeverityAlerts",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "$filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Alerts count",
                  "description": "The number of alerts returned"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Alert"
                  },
                  "title": "Alerts",
                  "description": "The alerts returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Unauthorized, get admin access grant"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "On new high severity alerts",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "Create high severity alerts to trigger the flow",
        "x-ms-trigger-metadata": {
          "kind": "query",
          "mode": "polling"
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#on-new-high-severity-alerts"
        }
      }
    },
    "/{connectionId}/beta/security/tiIndicators": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "title": "TiIndicator count",
                  "description": "The number of TiIndicator returned"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TiIndicator"
                  },
                  "title": "TiIndicators",
                  "description": "The TiIndicator returned"
                },
                "@odata.nextLink": {
                  "type": "string",
                  "title": "Next link",
                  "description": "A link to get the next results in case there are more results than requested"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Unauthorized, get admin access grant"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get tiIndicators",
        "description": "Get a list of threat intelligence indicators for this Azure Active Directory tenant. Use with different query parameters.",
        "operationId": "GetTiIndicators",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify filtering condition for threat intelligence indicators like threatType eq 'WatchList'",
            "x-ms-summary": "Filter tiIndicators"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify the recent top number of threat intelligence indicators to be retrieved",
            "x-ms-summary": "Top tiIndicators"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify threat intelligence indicator properties to include in the results.",
            "x-ms-summary": "Select tiIndicator properties",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify to include the number of threat intelligence indicators returned in the response",
            "x-ms-summary": "Include count of tiIndicators returned",
            "x-ms-visibility": "advanced",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify number of results to skip. Useful for pagination.",
            "x-ms-summary": "Skips \"n\" results",
            "x-ms-visibility": "advanced",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify sorting order for the results.",
            "x-ms-summary": "Sorting order",
            "x-ms-visibility": "advanced"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#get-tiindicators"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TiIndicator"
            }
          }
        },
        "summary": "Create tiIndicator",
        "description": "Create a new threat intelligence indicator by posting to the tiIndicators collection.",
        "operationId": "CreateTiIndicator",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string",
                  "title": "Action",
                  "description": "The action to apply if the indicator is matched from within the targetProduct security tool. Values: (unknown, allow, block, alert).",
                  "enum": [
                    "unknown",
                    "allow",
                    "block",
                    "alert"
                  ]
                },
                "activityGroupNames": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Activity group names",
                  "description": "The cyber threat intelligence name(s) for the parties responsible for the malicious activity covered by the threat indicator."
                },
                "additionalInformation": {
                  "type": "string",
                  "title": "Additional information",
                  "description": "Extra data from the indicator not covered by the other tiIndicator properties may be placed"
                },
                "azureTenantId": {
                  "type": "string",
                  "title": "Azure Tenant ID",
                  "description": "The Azure Active Directory tenant id of submitting client."
                },
                "confidence": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Confidence",
                  "description": "Confidence of the detection logic (percentage between 0-100)."
                },
                "description": {
                  "type": "string",
                  "title": "Description",
                  "description": "TiIndicator description (100 charactes or less)."
                },
                "diamondModel": {
                  "type": "string",
                  "title": "Diamond model",
                  "description": "The area of the Diamond Model in which this indicator exists. Values: (unknown, adversary, capability, infrastructure, victim).",
                  "enum": [
                    "unknown",
                    "adversary",
                    "capability",
                    "infrastructure",
                    "victim"
                  ]
                },
                "expirationDateTime": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Expiration date time",
                  "description": "Time at which the the Indicator expires (UTC)."
                },
                "externalId": {
                  "type": "string",
                  "title": "External ID",
                  "description": "An identification number that ties the indicator back to the indicator provider’s system (e.g. a foreign key)."
                },
                "ingestedDateTime": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Ingested date time",
                  "description": "Time at which the the Indicator is ingested (UTC)."
                },
                "isActive": {
                  "type": "boolean",
                  "title": "Is active",
                  "description": "By default, any indicator submitted is set as active. However, providers may submit existing indicators with this set to ‘False’ to deactivate indicators in the system."
                },
                "killChain": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Actions",
                      "C2",
                      "Delivery",
                      "Exploitation",
                      "Installation",
                      "Reconnaissance",
                      "Weaponization"
                    ]
                  },
                  "title": "Kill chain",
                  "description": "strings that describes which point or points on the Kill Chain this indicator targets. Values: (Actions, C2, Delivery, Exploitation, Installation, Reconnaissance, Weaponization)."
                },
                "knownFalsePositives": {
                  "title": "Known false positives",
                  "type": "string",
                  "description": "Scenarios in which the indicator may cause false positives."
                },
                "lastReportedDateTime": {
                  "title": "Last reported date time",
                  "type": "string",
                  "format": "date-time",
                  "description": "The last time the indicator was seen (UTC)."
                },
                "malwareFamilyNames": {
                  "title": "Malware family names",
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The malware family name associated with an indicator if it exists."
                },
                "passiveOnly": {
                  "type": "boolean",
                  "title": "Passive Only",
                  "description": "Determines if the indicator should trigger an event that is visible to an end-user."
                },
                "severity": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Severity",
                  "description": "Severity of the malicious behavior identified by the data within the indicator. Values are from 0 – 5 with 5 being most severe. Default value is 3."
                },
                "tags": {
                  "title": "Tags",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "targetProduct": {
                  "type": "string",
                  "title": "Target Product",
                  "description": "Single security product to which the indicator should be applied. Acceptable values are: Azure Sentinel, Microsoft Defender ATP. ",
                  "enum": [
                    "Azure Sentinel",
                    "Microsoft Defender ATP"
                  ]
                },
                "threatType": {
                  "description": "Each indicator must have a valid Indicator Threat Type. Possible values are: Botnet, C2, CryptoMining, Darknet, DDoS, MaliciousUrl, Malware, Phishing, Proxy, PUA, WatchList.",
                  "enum": [
                    "Botnet",
                    "C2",
                    "CryptoMining",
                    "Darknet",
                    "DDoS",
                    "MaliciousUrl",
                    "Malware",
                    "Phishing",
                    "Proxy",
                    "PUA",
                    "WatchList"
                  ],
                  "title": "Threat Type",
                  "type": "string"
                },
                "tlpLevel": {
                  "description": "Traffic Light Protocol value for the indicator. Possible values are: unknown, white, green, amber, red.",
                  "enum": [
                    "unknown",
                    "white",
                    "green",
                    "amber",
                    "red"
                  ],
                  "title": "Tlp level",
                  "type": "string"
                },
                "emailEncoding": {
                  "title": "Email encoding",
                  "type": "string",
                  "description": "The type of text encoding used in the email."
                },
                "emailLanguage": {
                  "title": "Email language",
                  "type": "string",
                  "description": "The language of the email."
                },
                "emailRecipient": {
                  "title": "Email recipient",
                  "type": "string",
                  "description": "Recipient email address."
                },
                "emailSenderAddress": {
                  "title": "Email sender address",
                  "type": "string",
                  "description": "Email address of the attacker|victim."
                },
                "emailSenderName": {
                  "title": "Email sender name",
                  "type": "string",
                  "description": "Displayed name of the attacker|victim."
                },
                "emailSourceDomain": {
                  "title": "Email source domain",
                  "type": "string",
                  "description": "Domain used in the email."
                },
                "emailSourceIpAddress": {
                  "title": "Email source Ip address",
                  "type": "string",
                  "description": "Source IP address of email."
                },
                "emailSubject": {
                  "title": "Email subject",
                  "type": "string",
                  "description": "Subject line of email."
                },
                "emailXMailer": {
                  "title": "Email XMailer",
                  "type": "string",
                  "description": "X-Mailer value used in the email."
                },
                "fileCompileDateTime": {
                  "title": "File compile date time",
                  "type": "string",
                  "format": "date-time",
                  "description": "DateTime when the file was compiled."
                },
                "fileCreatedDateTime": {
                  "title": "File created date time",
                  "type": "string",
                  "format": "date-time",
                  "description": "DateTime when the file was created."
                },
                "fileHashType": {
                  "title": "File hash type",
                  "type": "string",
                  "description": "The type of hash stored in fileHashValue. Possible values are: unknown, sha1, sha256, md5, authenticodeHash256, lsHash, ctph.",
                  "enum": [
                    "unknown",
                    "sha1",
                    "sha256",
                    "md5",
                    "authenticodeHash256",
                    "lsHash",
                    "ctph"
                  ]
                },
                "fileHashValue": {
                  "title": "File hash value",
                  "type": "string",
                  "description": "The file hash value."
                },
                "fileMutexName": {
                  "title": "File mutex name",
                  "type": "string",
                  "description": "Mutex name used in file-based detections."
                },
                "fileName": {
                  "title": "File name",
                  "type": "string",
                  "description": "Name of the file if the indicator is file-based."
                },
                "filePacker": {
                  "title": "File packer",
                  "type": "string",
                  "description": "The packer used to build the file in question."
                },
                "filePath": {
                  "title": "File path",
                  "type": "string",
                  "description": "Path of file indicating compromise. May be a Windows or *nix style path."
                },
                "fileSize": {
                  "title": "File size",
                  "type": "integer",
                  "format": "int64",
                  "description": "Size of the file in bytes."
                },
                "fileType": {
                  "title": "File type",
                  "type": "string",
                  "description": "Text description of the type of file. For example, “Word Document” or “Binary”."
                },
                "domainName": {
                  "title": "Domain name",
                  "type": "string",
                  "description": "Domain name associated with this indicator. "
                },
                "networkCidrBlock": {
                  "title": "Network cidr block",
                  "type": "string",
                  "description": "CIDR Block notation representation of the network referenced in this indicator."
                },
                "networkDestinationAsn": {
                  "title": "Network destination Asn",
                  "type": "integer",
                  "format": "int32",
                  "description": "The destination autonomous system identifier of the network referenced in the indicator."
                },
                "networkDestinationCidrBlock": {
                  "title": "Network destination cidr block",
                  "type": "string",
                  "description": "CIDR Block notation representation of the destination network in this indicator."
                },
                "networkDestinationIPv4": {
                  "title": "Network destination IPv4",
                  "type": "string",
                  "description": "IPv4 IP address destination."
                },
                "networkDestinationIPv6": {
                  "title": "Network destination IPv6",
                  "type": "string",
                  "description": "IPv6 IP address destination."
                },
                "networkDestinationPort": {
                  "title": "Network destination port",
                  "type": "integer",
                  "format": "int32",
                  "description": "TCP port destination."
                },
                "networkIPv4": {
                  "title": "Network IPv4",
                  "type": "string",
                  "description": "IPv4 IP address. "
                },
                "networkIPv6": {
                  "title": "Network IPv6",
                  "type": "string",
                  "description": "IPv6 IP address. "
                },
                "networkPort": {
                  "title": "Network port",
                  "type": "integer",
                  "format": "int32",
                  "description": "TCP port."
                },
                "networkProtocol": {
                  "title": "Network protocol",
                  "type": "integer",
                  "format": "int32",
                  "description": "Decimal representation of the protocol field in the IPv4 header."
                },
                "networkSourceAsn": {
                  "title": "Network source Asn",
                  "type": "integer",
                  "format": "int32",
                  "description": "The source autonomous system identifier of the network referenced in the indicator."
                },
                "networkSourceCidrBlock": {
                  "title": "Network source cidr block",
                  "type": "string",
                  "description": "CIDR Block notation representation of the source network in this indicator."
                },
                "networkSourceIPv4": {
                  "title": "Network source IPv4",
                  "type": "string",
                  "description": "IPv4 IP address source."
                },
                "networkSourceIPv6": {
                  "title": "Network destination IPv6",
                  "type": "string",
                  "description": "IPv6 IP address source."
                },
                "networkSourcePort": {
                  "title": "Network source port",
                  "type": "integer",
                  "format": "int32",
                  "description": "TCP port source."
                },
                "url": {
                  "title": "Url",
                  "type": "string",
                  "description": "Uniform Resource Locator. "
                },
                "userAgent": {
                  "title": "User agent",
                  "type": "string",
                  "description": "User-Agent string from a web request that could indicate compromise."
                }
              },
              "required": [
                "action",
                "description",
                "expirationDateTime",
                "targetProduct"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#create-tiindicator"
        }
      }
    },
    "/{connectionId}/beta/security/tiIndicators/{indicator-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TiIndicator"
            }
          }
        },
        "summary": "Get tiIndicator by ID",
        "description": "Get a threat intelligence indicator corresponding to the specified ID.",
        "operationId": "GetTiIndicatorbyId",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "indicator-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify threat intelligence indicator ID",
            "x-ms-summary": "TiIndicator ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#get-tiindicator-by-id"
        }
      },
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Delete tiIndicator by ID",
        "description": "Delete a threat intelligence indicator corresponding to the specified ID.",
        "operationId": "DeleteTiIndicator",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "indicator-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify threat intelligence indicator ID",
            "x-ms-summary": "TiIndicator ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#delete-tiindicator-by-id"
        }
      },
      "patch": {
        "responses": {
          "204": {
            "description": "success"
          }
        },
        "summary": "Update tiIndicator",
        "description": "Update specific properties of a threat intelligence indicator. Required fields for the tiIndicator are: Id, expirationDateTime, and targetProduct.",
        "operationId": "UpdateTiIndicator",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "indicator-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify threat intelligence indicator ID.",
            "x-ms-summary": "TiIndicator ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "action": {
                  "type": "string",
                  "title": "Action",
                  "description": "The action to apply if the indicator is matched from within the targetProduct security tool. Values: (unknown, allow, block, alert).",
                  "enum": [
                    "unknown",
                    "allow",
                    "block",
                    "alert"
                  ]
                },
                "activityGroupNames": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Activity group names",
                  "description": "The cyber threat intelligence name(s) for the parties responsible for the malicious activity covered by the threat indicator."
                },
                "additionalInformation": {
                  "type": "string",
                  "title": "Additional information",
                  "description": "Extra data from the indicator not covered by the other tiIndicator properties may be placed"
                },
                "confidence": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Confidence",
                  "description": "Confidence of the detection logic (percentage between 0-100)."
                },
                "description": {
                  "type": "string",
                  "title": "Description",
                  "description": "TiIndicator description (100 charactes or less)."
                },
                "diamondModel": {
                  "type": "string",
                  "title": "Diamond model",
                  "description": "The area of the Diamond Model in which this indicator exists. Values: (unknown, adversary, capability, infrastructure, victim).",
                  "enum": [
                    "unknown",
                    "adversary",
                    "capability",
                    "infrastructure",
                    "victim"
                  ]
                },
                "expirationDateTime": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Expiration date time",
                  "description": "Time at which the the Indicator expires (UTC format. For example, 2020-03-01T00:00:00Z)."
                },
                "externalId": {
                  "type": "string",
                  "title": "External ID",
                  "description": "An identification number that ties the indicator back to the indicator provider’s system (e.g. a foreign key)."
                },
                "isActive": {
                  "type": "boolean",
                  "title": "Is active",
                  "description": "By default, any indicator submitted is set as active. However, providers may submit existing indicators with this set to ‘False’ to deactivate indicators in the system."
                },
                "killChain": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Actions",
                      "C2",
                      "Delivery",
                      "Exploitation",
                      "Installation",
                      "Reconnaissance",
                      "Weaponization"
                    ]
                  },
                  "title": "Kill chain",
                  "description": "strings that describes which point or points on the Kill Chain this indicator targets. Values: (Actions, C2, Delivery, Exploitation, Installation, Reconnaissance, Weaponization)."
                },
                "knownFalsePositives": {
                  "title": "Known false positives",
                  "type": "string",
                  "description": "Scenarios in which the indicator may cause false positives."
                },
                "lastReportedDateTime": {
                  "title": "Last reported date time",
                  "type": "string",
                  "format": "date-time",
                  "description": "The last time the indicator was seen (UTC)."
                },
                "malwareFamilyNames": {
                  "title": "Malware family names",
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The malware family name associated with an indicator if it exists."
                },
                "passiveOnly": {
                  "type": "boolean",
                  "title": "Passive Only",
                  "description": "Determines if the indicator should trigger an event that is visible to an end-user."
                },
                "severity": {
                  "type": "integer",
                  "format": "int32",
                  "title": "Severity",
                  "description": "Severity of the malicious behavior identified by the data within the indicator. Values are from 0 – 5 with 5 being most severe. Default value is 3."
                },
                "tags": {
                  "title": "Tags",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "tlpLevel": {
                  "description": "Traffic Light Protocol value for the indicator. Possible values are: unknown, white, green, amber, red.",
                  "enum": [
                    "unknown",
                    "white",
                    "green",
                    "amber",
                    "red"
                  ],
                  "title": "Tlp level",
                  "type": "string"
                },
                "targetProduct": {
                  "type": "string",
                  "title": "Target Product",
                  "description": "Single security product to which the indicator should be applied. Acceptable values are: Azure Sentinel, Microsoft Defender ATP. ",
                  "enum": [
                    "Azure Sentinel",
                    "Microsoft Defender ATP"
                  ]
                }
              },
              "required": [
                "targetProduct",
                "expirationDateTime"
              ]
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#update-tiindicator"
        }
      }
    },
    "/{connectionId}/beta/security/tiIndicators/submitTiIndicators": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TiIndicator"
                  },
                  "title": "TiIndicators",
                  "description": "The TiIndicators submitted"
                }
              }
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Submit multiple tiIndicators",
        "description": "Create new threat intelligence indicators by posting a tiIndicators collection. Required fields for each tiIndicator are: action, azureTenantId, description, expirationDateTime, targetProduct, threatType, tlpLevel.",
        "operationId": "SubmitTiIndicators",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "action": {
                        "type": "string",
                        "title": "Action",
                        "description": "The action to apply if the indicator is matched from within the targetProduct security tool. Values: (unknown, allow, block, alert).",
                        "enum": [
                          "unknown",
                          "allow",
                          "block",
                          "alert"
                        ]
                      },
                      "activityGroupNames": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Activity group names",
                        "description": "The cyber threat intelligence name(s) for the parties responsible for the malicious activity covered by the threat indicator."
                      },
                      "additionalInformation": {
                        "type": "string",
                        "title": "Additional information",
                        "description": "Extra data from the indicator not covered by the other tiIndicator properties may be placed"
                      },
                      "azureTenantId": {
                        "type": "string",
                        "title": "Azure Tenant ID",
                        "description": "The Azure Active Directory tenant id of submitting client."
                      },
                      "confidence": {
                        "type": "integer",
                        "format": "int32",
                        "title": "Confidence",
                        "description": "Confidence of the detection logic (percentage between 0-100)."
                      },
                      "description": {
                        "type": "string",
                        "title": "Description",
                        "description": "TiIndicator description (100 charactes or less)."
                      },
                      "diamondModel": {
                        "type": "string",
                        "title": "Diamond model",
                        "description": "The area of the Diamond Model in which this indicator exists. Values: (unknown, adversary, capability, infrastructure, victim).",
                        "enum": [
                          "unknown",
                          "adversary",
                          "capability",
                          "infrastructure",
                          "victim"
                        ]
                      },
                      "expirationDateTime": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Expiration date time",
                        "description": "Time at which the the Indicator expires (UTC)."
                      },
                      "externalId": {
                        "type": "string",
                        "title": "External ID",
                        "description": "An identification number that ties the indicator back to the indicator provider’s system (e.g. a foreign key)."
                      },
                      "ingestedDateTime": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Ingested date time",
                        "description": "Time at which the the Indicator is ingested (UTC)."
                      },
                      "isActive": {
                        "type": "boolean",
                        "title": "Is active",
                        "description": "By default, any indicator submitted is set as active. However, providers may submit existing indicators with this set to ‘False’ to deactivate indicators in the system."
                      },
                      "killChain": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "Actions",
                            "C2",
                            "Delivery",
                            "Exploitation",
                            "Installation",
                            "Reconnaissance",
                            "Weaponization"
                          ]
                        },
                        "title": "Kill chain",
                        "description": "strings that describes which point or points on the Kill Chain this indicator targets. Values: (Actions, C2, Delivery, Exploitation, Installation, Reconnaissance, Weaponization)."
                      },
                      "knownFalsePositives": {
                        "title": "Known false positives",
                        "type": "string",
                        "description": "Scenarios in which the indicator may cause false positives."
                      },
                      "lastReportedDateTime": {
                        "title": "Last reported date time",
                        "type": "string",
                        "format": "date-time",
                        "description": "The last time the indicator was seen (UTC)."
                      },
                      "malwareFamilyNames": {
                        "title": "Malware family names",
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The malware family name associated with an indicator if it exists."
                      },
                      "passiveOnly": {
                        "type": "boolean",
                        "title": "Passive Only",
                        "description": "Determines if the indicator should trigger an event that is visible to an end-user."
                      },
                      "severity": {
                        "type": "integer",
                        "format": "int32",
                        "title": "Severity",
                        "description": "Severity of the malicious behavior identified by the data within the indicator. Values are from 0 – 5 with 5 being most severe. Default value is 3."
                      },
                      "tags": {
                        "title": "Tags",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "targetProduct": {
                        "type": "string",
                        "title": "Target Product",
                        "description": "Single security product to which the indicator should be applied. Acceptable values are: Azure Sentinel, Microsoft Defender ATP. ",
                        "enum": [
                          "Azure Sentinel",
                          "Microsoft Defender ATP"
                        ]
                      },
                      "threatType": {
                        "description": "Each indicator must have a valid Indicator Threat Type. Possible values are: Botnet, C2, CryptoMining, Darknet, DDoS, MaliciousUrl, Malware, Phishing, Proxy, PUA, WatchList.",
                        "enum": [
                          "Botnet",
                          "C2",
                          "CryptoMining",
                          "Darknet",
                          "DDoS",
                          "MaliciousUrl",
                          "Malware",
                          "Phishing",
                          "Proxy",
                          "PUA",
                          "WatchList"
                        ],
                        "title": "Threat Type",
                        "type": "string"
                      },
                      "tlpLevel": {
                        "description": "Traffic Light Protocol value for the indicator. Possible values are: unknown, white, green, amber, red.",
                        "enum": [
                          "unknown",
                          "white",
                          "green",
                          "amber",
                          "red"
                        ],
                        "title": "Tlp level",
                        "type": "string"
                      },
                      "emailEncoding": {
                        "title": "Email encoding",
                        "type": "string",
                        "description": "The type of text encoding used in the email."
                      },
                      "emailLanguage": {
                        "title": "Email language",
                        "type": "string",
                        "description": "The language of the email."
                      },
                      "emailRecipient": {
                        "title": "Email recipient",
                        "type": "string",
                        "description": "Recipient email address."
                      },
                      "emailSenderAddress": {
                        "title": "Email sender address",
                        "type": "string",
                        "description": "Email address of the attacker|victim."
                      },
                      "emailSenderName": {
                        "title": "Email sender name",
                        "type": "string",
                        "description": "Displayed name of the attacker|victim."
                      },
                      "emailSourceDomain": {
                        "title": "Email source domain",
                        "type": "string",
                        "description": "Domain used in the email."
                      },
                      "emailSourceIpAddress": {
                        "title": "Email source Ip address",
                        "type": "string",
                        "description": "Source IP address of email."
                      },
                      "emailSubject": {
                        "title": "Email subject",
                        "type": "string",
                        "description": "Subject line of email."
                      },
                      "emailXMailer": {
                        "title": "Email XMailer",
                        "type": "string",
                        "description": "X-Mailer value used in the email."
                      },
                      "fileCompileDateTime": {
                        "title": "File compile date time",
                        "type": "string",
                        "format": "date-time",
                        "description": "DateTime when the file was compiled."
                      },
                      "fileCreatedDateTime": {
                        "title": "File created date time",
                        "type": "string",
                        "format": "date-time",
                        "description": "DateTime when the file was created."
                      },
                      "fileHashType": {
                        "title": "File hash type",
                        "type": "string",
                        "description": "The type of hash stored in fileHashValue. Possible values are: unknown, sha1, sha256, md5, authenticodeHash256, lsHash, ctph.",
                        "enum": [
                          "unknown",
                          "sha1",
                          "sha256",
                          "md5",
                          "authenticodeHash256",
                          "lsHash",
                          "ctph"
                        ]
                      },
                      "fileHashValue": {
                        "title": "File hash value",
                        "type": "string",
                        "description": "The file hash value."
                      },
                      "fileMutexName": {
                        "title": "File mutex name",
                        "type": "string",
                        "description": "Mutex name used in file-based detections."
                      },
                      "fileName": {
                        "title": "File name",
                        "type": "string",
                        "description": "Name of the file if the indicator is file-based."
                      },
                      "filePacker": {
                        "title": "File packer",
                        "type": "string",
                        "description": "The packer used to build the file in question."
                      },
                      "filePath": {
                        "title": "File path",
                        "type": "string",
                        "description": "Path of file indicating compromise. May be a Windows or *nix style path."
                      },
                      "fileSize": {
                        "title": "File size",
                        "type": "integer",
                        "format": "int64",
                        "description": "Size of the file in bytes."
                      },
                      "fileType": {
                        "title": "File type",
                        "type": "string",
                        "description": "Text description of the type of file. For example, “Word Document” or “Binary”."
                      },
                      "domainName": {
                        "title": "Domain name",
                        "type": "string",
                        "description": "Domain name associated with this indicator. "
                      },
                      "networkCidrBlock": {
                        "title": "Network cidr block",
                        "type": "string",
                        "description": "CIDR Block notation representation of the network referenced in this indicator."
                      },
                      "networkDestinationAsn": {
                        "title": "Network destination Asn",
                        "type": "integer",
                        "format": "int32",
                        "description": "The destination autonomous system identifier of the network referenced in the indicator."
                      },
                      "networkDestinationCidrBlock": {
                        "title": "Network destination cidr block",
                        "type": "string",
                        "description": "CIDR Block notation representation of the destination network in this indicator."
                      },
                      "networkDestinationIPv4": {
                        "title": "Network destination IPv4",
                        "type": "string",
                        "description": "IPv4 IP address destination."
                      },
                      "networkDestinationIPv6": {
                        "title": "Network destination IPv6",
                        "type": "string",
                        "description": "IPv6 IP address destination."
                      },
                      "networkDestinationPort": {
                        "title": "Network destination port",
                        "type": "integer",
                        "format": "int32",
                        "description": "TCP port destination."
                      },
                      "networkIPv4": {
                        "title": "Network IPv4",
                        "type": "string",
                        "description": "IPv4 IP address. "
                      },
                      "networkIPv6": {
                        "title": "Network IPv6",
                        "type": "string",
                        "description": "IPv6 IP address. "
                      },
                      "networkPort": {
                        "title": "Network port",
                        "type": "integer",
                        "format": "int32",
                        "description": "TCP port."
                      },
                      "networkProtocol": {
                        "title": "Network protocol",
                        "type": "integer",
                        "format": "int32",
                        "description": "Decimal representation of the protocol field in the IPv4 header."
                      },
                      "networkSourceAsn": {
                        "title": "Network source Asn",
                        "type": "integer",
                        "format": "int32",
                        "description": "The source autonomous system identifier of the network referenced in the indicator."
                      },
                      "networkSourceCidrBlock": {
                        "title": "Network source cidr block",
                        "type": "string",
                        "description": "CIDR Block notation representation of the source network in this indicator."
                      },
                      "networkSourceIPv4": {
                        "title": "Network source IPv4",
                        "type": "string",
                        "description": "IPv4 IP address source."
                      },
                      "networkSourceIPv6": {
                        "title": "Network destination IPv6",
                        "type": "string",
                        "description": "IPv6 IP address source."
                      },
                      "networkSourcePort": {
                        "title": "Network source port",
                        "type": "integer",
                        "format": "int32",
                        "description": "TCP port source."
                      },
                      "url": {
                        "title": "Url",
                        "type": "string",
                        "description": "Uniform Resource Locator. "
                      },
                      "userAgent": {
                        "title": "User agent",
                        "type": "string",
                        "description": "User-Agent string from a web request that could indicate compromise."
                      }
                    },
                    "required": [
                      "action",
                      "description",
                      "expirationDateTime",
                      "targetProduct"
                    ]
                  },
                  "description": "value of the request body"
                }
              },
              "x-ms-visibility": "advanced"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#submit-multiple-tiindicators"
        }
      }
    },
    "/{connectionId}/beta/security/tiIndicators/updateTiIndicators": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TiIndicator"
                  },
                  "title": "TiIndicators",
                  "description": "The TiIndicators updated"
                }
              }
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Update multiple tiIndicators",
        "description": "Update specific properties of multiple threat intelligence indicators. Required fields for each tiIndicator are: Id, expirationDateTime, and targetProduct.",
        "operationId": "UpdateTiIndicators",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "TiIndicator-id"
                      },
                      "action": {
                        "type": "string",
                        "title": "Action",
                        "description": "The action to apply if the indicator is matched from within the targetProduct security tool. Values: (unknown, allow, block, alert).",
                        "enum": [
                          "unknown",
                          "allow",
                          "block",
                          "alert"
                        ],
                        "x-ms-visibility": "advanced"
                      },
                      "activityGroupNames": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Activity group names",
                        "description": "The cyber threat intelligence name(s) for the parties responsible for the malicious activity covered by the threat indicator."
                      },
                      "additionalInformation": {
                        "type": "string",
                        "title": "Additional information",
                        "description": "Extra data from the indicator not covered by the other tiIndicator properties may be placed"
                      },
                      "confidence": {
                        "type": "integer",
                        "format": "int32",
                        "title": "Confidence",
                        "description": "Confidence of the detection logic (percentage between 0-100)."
                      },
                      "description": {
                        "type": "string",
                        "title": "Description",
                        "description": "TiIndicator description (100 charactes or less)."
                      },
                      "diamondModel": {
                        "type": "string",
                        "title": "Diamond model",
                        "description": "The area of the Diamond Model in which this indicator exists. Values: (unknown, adversary, capability, infrastructure, victim).",
                        "enum": [
                          "unknown",
                          "adversary",
                          "capability",
                          "infrastructure",
                          "victim"
                        ]
                      },
                      "expirationDateTime": {
                        "type": "string",
                        "format": "date-time",
                        "title": "Expiration date time",
                        "description": "Time at which the the Indicator expires (UTC)."
                      },
                      "targetProduct": {
                        "type": "string",
                        "title": "Target Product",
                        "description": "Single security product to which the indicator should be applied. Acceptable values are: Azure Sentinel, Microsoft Defender ATP. ",
                        "enum": [
                          "Azure Sentinel",
                          "Microsoft Defender ATP"
                        ]
                      },
                      "externalId": {
                        "type": "string",
                        "title": "External ID",
                        "description": "An identification number that ties the indicator back to the indicator provider’s system (e.g. a foreign key)."
                      },
                      "isActive": {
                        "type": "boolean",
                        "title": "Is active",
                        "description": "By default, any indicator submitted is set as active. However, providers may submit existing indicators with this set to ‘False’ to deactivate indicators in the system."
                      },
                      "killChain": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "Actions",
                            "C2",
                            "Delivery",
                            "Exploitation",
                            "Installation",
                            "Reconnaissance",
                            "Weaponization"
                          ]
                        },
                        "title": "Kill chain",
                        "description": "strings that describes which point or points on the Kill Chain this indicator targets. Values: (Actions, C2, Delivery, Exploitation, Installation, Reconnaissance, Weaponization)."
                      },
                      "knownFalsePositives": {
                        "title": "Known false positives",
                        "type": "string",
                        "description": "Scenarios in which the indicator may cause false positives."
                      },
                      "lastReportedDateTime": {
                        "title": "Last reported date time",
                        "type": "string",
                        "format": "date-time",
                        "description": "The last time the indicator was seen (UTC)."
                      },
                      "malwareFamilyNames": {
                        "title": "Malware family names",
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The malware family name associated with an indicator if it exists."
                      },
                      "passiveOnly": {
                        "type": "boolean",
                        "title": "Passive Only",
                        "description": "Determines if the indicator should trigger an event that is visible to an end-user."
                      },
                      "severity": {
                        "type": "integer",
                        "format": "int32",
                        "title": "Severity",
                        "description": "Severity of the malicious behavior identified by the data within the indicator. Values are from 0 – 5 with 5 being most severe. Default value is 3."
                      },
                      "tags": {
                        "title": "Tags",
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "tlpLevel": {
                        "description": "Traffic Light Protocol value for the indicator. Possible values are: unknown, white, green, amber, red.",
                        "enum": [
                          "unknown",
                          "white",
                          "green",
                          "amber",
                          "red"
                        ],
                        "title": "Tlp level",
                        "type": "string"
                      }
                    },
                    "required": [
                      "id",
                      "targetProduct",
                      "expirationDateTime"
                    ]
                  },
                  "description": "value of the request body"
                }
              },
              "required": [
                "value"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#update-multiple-tiindicators"
        }
      }
    },
    "/{connectionId}/beta/security/tiIndicators/deleteTiIndicators": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "title": "Result info",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The result code"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message"
                      },
                      "subcode": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The result sub-code"
                      }
                    }
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Delete multiple tiIndicators by IDs",
        "description": "Delete multiple threat intelligence indicators corresponding to the specified IDs.",
        "operationId": "DeleteTiIndicators",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "required": [
                      "id"
                    ]
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#delete-multiple-tiindicators-by-ids"
        }
      }
    },
    "/{connectionId}/beta/security/tiIndicators/deleteTiIndicatorsByExternalId": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "title": "Result info",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The result code"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message"
                      },
                      "subcode": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The result sub-code"
                      }
                    }
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Delete multiple tiIndicators by external IDs",
        "description": "Delete multiple threat intelligence indicators corresponding to the specified external IDs.",
        "operationId": "DeleteTiIndicatorsByExternalId",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "required": [
                      "externalId"
                    ]
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoftgraphsecurity/#delete-multiple-tiindicators-by-external-ids"
        }
      }
    }
  },
  "definitions": {
    "Alert": {
      "type": "object",
      "title": "Alert",
      "description": "A single alert entity returned",
      "properties": {
        "azureSubscriptionId": {
          "type": "string",
          "title": "Azure subscription ID",
          "description": "Azure subscription ID, present if this alert is related to an Azure resource."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Tags",
          "description": "User-definable labels that can be applied to an alert and can serve as filter conditions (e.g. \"HVA\", \"SAW\", etc.)."
        },
        "id": {
          "type": "string",
          "title": "ID",
          "description": "Provider-generated GUID/unique identifier."
        },
        "azureTenantId": {
          "type": "string",
          "title": "Azure tenant ID",
          "description": "Azure Active Directory tenant ID."
        },
        "activityGroupName": {
          "type": "string",
          "title": "Activity group name",
          "description": "Name or alias of the activity group (attacker) this alert is attributed to."
        },
        "assignedTo": {
          "type": "string",
          "title": "Assigned to",
          "description": "Name of the analyst the alert is assigned to for triage, investigation, or remediation."
        },
        "category": {
          "type": "string",
          "title": "Category",
          "description": "Category of the alert (e.g. credentialTheft, ransomware, etc.)."
        },
        "closedDateTime": {
          "type": "string",
          "title": "Closed date time",
          "format": "date-time",
          "description": "Time at which the alert was closed (UTC)."
        },
        "comments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Comments",
          "description": "Customer-provided comments on alert (for customer alert management)."
        },
        "confidence": {
          "type": "integer",
          "format": "int32",
          "title": "Confidence",
          "description": "Confidence of the detection logic (percentage between 1-100)."
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Created date time",
          "description": "Time at which the alert was created (UTC)."
        },
        "description": {
          "type": "string",
          "title": "Description",
          "description": "Alert description."
        },
        "detectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Detection Ids",
          "description": "Set of alerts related to this alert entity."
        },
        "eventDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Event date time",
          "description": "Time at which the event(s) that served as the trigger(s) to generate the alert occurred (UTC)."
        },
        "feedback": {
          "type": "string",
          "title": "Feedback",
          "description": "Analyst feedback on the alert. Possible values are: unknown, truePositive, falsePositive, benignPositive.",
          "enum": [
            "unknown",
            "truePositive",
            "benignPositive",
            "falsePositive"
          ]
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Last modified date time",
          "description": "Time at which the alert entity was last modified (UTC)."
        },
        "recommendedActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Recommended actions",
          "description": "Vendor/Provider recommended action/s to take as a result of the alert (e.g. isolate machine, enforce2FA, reimage host, etc.)."
        },
        "severity": {
          "type": "string",
          "title": "Severity",
          "description": "Alert severity - set by vendor/provider. Values: (high, medium, low, Informational) where \"informational\" infers that the alert is not actionable.",
          "enum": [
            "high",
            "medium",
            "low",
            "informational"
          ]
        },
        "sourceMaterials": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Source materials",
          "description": "Hyperlinks (URIs) to the source material related to the alert, e.g. provider investigation UI, etc."
        },
        "status": {
          "type": "string",
          "title": "Status",
          "description": "Alert lifecycle status (stage). Values: (unknown, newAlert, inProgress, resolved).",
          "enum": [
            "unknown",
            "newAlert",
            "inProgress",
            "resolved"
          ]
        },
        "title": {
          "type": "string",
          "title": "Title",
          "description": "Alert title."
        },
        "vendorInformation": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "title": "Provider name",
              "description": "Specific provider (product/service - not vendor company); for example, WindowsDefenderATP."
            },
            "providerVersion": {
              "type": "string",
              "title": "Provider version",
              "description": "Version of the provider or subprovider."
            },
            "subProvider": {
              "type": "string",
              "title": "Sub provider name",
              "description": "Specific subprovider (under aggregating provider); for example, WindowsDefenderATP.SmartScreen."
            },
            "vendor": {
              "type": "string",
              "title": "Vendor name",
              "description": "Name of the alert vendor (for example, Microsoft, Dell, FireEye)."
            }
          },
          "title": "Vendor Information",
          "description": "Complex Type containing details about the Security product/service vendor, provider, and sub-provider."
        },
        "cloudAppStates": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "Cloud app state",
            "description": "Complex type containing stateful information about the cloud application (destinationServiceName, destinationServiceIp).",
            "properties": {
              "destinationServiceIp": {
                "type": "string",
                "title": "Destination service IP",
                "description": "Destination IP address of the connection to cloud app/service."
              },
              "destinationServiceName": {
                "type": "string",
                "title": "Destination service name",
                "description": "Destination cloud app/service name."
              },
              "riskScore": {
                "type": "string",
                "title": "Risk score",
                "description": "Provider-generated/calculated risk score of the Cloud Application/Service."
              }
            }
          },
          "title": "Cloud app states",
          "description": "Security-related stateful information generated by the provider about the cloud application/s related to this alert."
        },
        "fileStates": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "File state",
            "description": "Complex type containing information about the file (not process) related to the alert.",
            "properties": {
              "name": {
                "type": "string",
                "title": "Name",
                "description": "File Name (without path)."
              },
              "path": {
                "type": "string",
                "title": "Path",
                "description": "Full file path of the file/imageFile."
              },
              "riskScore": {
                "type": "string",
                "title": "Risk score",
                "description": "Provider generated/calculated risk score of the alert file."
              },
              "fileHash": {
                "type": "object",
                "title": "File hash",
                "description": "Complex type containing file hashes (cryptographic and location-sensitive).",
                "properties": {
                  "type": {
                    "type": "string",
                    "title": "Type",
                    "description": "File hash type. Possible values are: unknown, sha1, sha256, md5, authenticodeHash256, lsHash, ctph, peSha1, peSha256.",
                    "enum": [
                      "Sha1",
                      "Sha256",
                      "MD5",
                      "authenticodeHash256",
                      "LsHash",
                      "CTPH",
                      "peSha1",
                      "peSha256"
                    ]
                  },
                  "value": {
                    "type": "string",
                    "title": "Value",
                    "description": "Value of the file hash."
                  }
                }
              }
            }
          },
          "title": "File states",
          "description": "Security-related stateful information generated by the provider about the file(s) related to this alert."
        },
        "hostStates": {
          "type": "array",
          "items": {
            "type": "object",
            "title": "Host state",
            "description": "Complex type containing stateful information about the host (includes devices, machines, firewalls, etc.).",
            "properties": {
[...]
