{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "UKG Pro HCM",
    "description": "UKG Pro HCM Connector for Pro HR, Payroll and Talent.",
    "contact": {
      "name": "KGS",
      "url": "https://www.ukg.com/support",
      "email": "support@ukg.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ukg.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ukg.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/ukgprohcm",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/personnel/v1/person-details/{employeeID}": {
      "get": {
        "summary": "Get a single person detail record",
        "description": "Get a single person detail record.",
        "operationId": "GetASinglePersonDetailRecord",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/employeeID"
          },
          {
            "$ref": "#/parameters/accept"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "$ref": "#/definitions/getASinglePersonDetailRecord"
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-a-single-person-detail-record"
        }
      }
    },
    "/{connectionId}/personnel/v1/companies/{companyID}/employees/{employeeID}/person-details": {
      "get": {
        "summary": "Get a single person detail record for a single company",
        "description": "Get a single person detail record for a single company.",
        "operationId": "GetASinglePersonDetailRecordForASingleCompany",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/employeeID"
          },
          {
            "$ref": "#/parameters/companyID"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "lastName",
            "in": "query",
            "type": "string",
            "description": "Employee's last name",
            "required": false,
            "x-ms-summary": "lastName"
          },
          {
            "name": "emailAddress",
            "in": "query",
            "type": "string",
            "description": "Employee's email address",
            "required": false,
            "x-ms-summary": "emailAddress"
          },
          {
            "name": "addressState",
            "in": "query",
            "type": "string",
            "description": "Employee's state of residence",
            "required": false,
            "x-ms-summary": "addressState"
          },
          {
            "name": "addressCountry",
            "in": "query",
            "type": "string",
            "description": "Employee's country of residence",
            "required": false,
            "x-ms-summary": "addressCountry"
          },
          {
            "name": "cobraIsActive",
            "in": "query",
            "type": "string",
            "description": "Boolean field indicating if the COBRA coverage is currently active.",
            "required": false,
            "x-ms-summary": "cobraIsActive"
          },
          {
            "name": "cobraStatus",
            "in": "query",
            "type": "string",
            "description": "This is a string indicating the status of the COBRA coverage.",
            "required": false,
            "x-ms-summary": "cobraStatus"
          },
          {
            "name": "dateOfCobraEvent",
            "in": "query",
            "type": "string",
            "description": "Used to find date of COBRA event less,greater,equal or between passed dates.",
            "required": false,
            "x-ms-summary": "dateOfCobraEvent"
          },
          {
            "name": "dateTimeCreated",
            "in": "query",
            "type": "string",
            "description": "Used to find person record created less,greater,equal or between passed dates.",
            "required": false,
            "x-ms-summary": "dateTimeCreated"
          },
          {
            "name": "dateTimeChanged",
            "in": "query",
            "type": "string",
            "description": "Used to find person record changed less,greater,equal or between passed dates.",
            "required": false,
            "x-ms-summary": "dateTimeChanged"
          },
          {
            "name": "nationalId",
            "in": "query",
            "type": "string",
            "description": "National identification number",
            "required": false,
            "x-ms-summary": "nationalId"
          },
          {
            "name": "nationalIdCountry",
            "in": "query",
            "type": "string",
            "description": "Country identification number",
            "required": false,
            "x-ms-summary": "nationalIdCountry"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Page number for pagination",
            "required": false,
            "x-ms-summary": "page"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Number of items per page",
            "required": false,
            "x-ms-summary": "per_Page"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getASinglePersonDetailRecord"
              }
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-a-single-person-detail-record-for-a-single-company"
        }
      }
    },
    "/{connectionId}/payroll/v1/employees/pay-statements": {
      "post": {
        "summary": "Get employee pay statement",
        "description": "Get employee pay statement based on the passed employee identifier.",
        "operationId": "GetEmployeePayStatement",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "employeeIdentifier": {
                  "type": "object",
                  "properties": {
                    "companyCode": {
                      "type": "string",
                      "description": "Enter your Company Code."
                    },
                    "employeeNumber": {
                      "type": "string",
                      "description": "Enter your Employee Number."
                    },
                    "eeid": {
                      "type": "string",
                      "description": "Enter your Employee ID."
                    },
                    "coid": {
                      "type": "string",
                      "description": "Enter your Company ID."
                    }
                  },
                  "description": "Employee Details."
                },
                "startDate": {
                  "type": "string",
                  "description": "Enter Start Date."
                },
                "endDate": {
                  "type": "string",
                  "description": "Enter End Date."
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Enter page number."
                },
                "per_Page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Enter per page value."
                },
                "pagesCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Enter pages count."
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getEmployeePayStatement"
              }
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-employee-pay-statement"
        }
      }
    },
    "/{connectionId}/payroll/v1/employees/pay-statement/last": {
      "post": {
        "summary": "Get employee last pay statement",
        "description": "Get employee last pay statement based on the passed employee identifier.",
        "operationId": "GetEmployeeLastPayStatement",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "employeeIdentifier": {
                  "type": "object",
                  "properties": {
                    "eeid": {
                      "type": "string",
                      "description": "Enter your Employee ID.",
                      "title": ""
                    },
                    "coid": {
                      "type": "string",
                      "description": "Enter your Company ID.",
                      "title": ""
                    }
                  },
                  "description": "Employee Details.",
                  "required": [
                    "coid",
                    "eeid"
                  ]
                },
                "startDate": {
                  "type": "string",
                  "description": "Enter Start Date."
                },
                "endDate": {
                  "type": "string",
                  "description": "Enter End Date."
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Enter page number."
                },
                "per_Page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Enter per page value."
                },
                "pagesCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Enter pages count."
                }
              },
              "required": [
                "employeeIdentifier"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "$ref": "#/definitions/getEmployeePayStatement"
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-employee-last-pay-statement"
        }
      }
    },
    "/{connectionId}/personnel/v1/employee-employment-details": {
      "get": {
        "summary": "Get Employee Employment Details",
        "description": "Get Employee employment details.",
        "operationId": "GetEmployeeEmploymentDetails",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "companyID",
            "in": "query",
            "type": "string",
            "description": "Company identification number",
            "required": false,
            "x-ms-summary": "companyID"
          },
          {
            "name": "employeeID",
            "in": "query",
            "type": "string",
            "description": "Employee identification number",
            "required": false,
            "x-ms-summary": "employeeID"
          },
          {
            "name": "primaryJobCode",
            "in": "query",
            "type": "string",
            "description": "Code representing the employee's primary job",
            "required": false,
            "x-ms-summary": "primaryJobCode"
          },
          {
            "name": "jobTitle",
            "in": "query",
            "type": "string",
            "description": "Title of the employee's job",
            "required": false,
            "x-ms-summary": "jobTitle"
          },
          {
            "name": "fullTimeOrPartTimeCode",
            "in": "query",
            "type": "string",
            "description": "Code indicating if the employee is full-time or part-time",
            "required": false,
            "x-ms-summary": "fullTimeOrPartTimeCode"
          },
          {
            "name": "primaryWorkLocationCode",
            "in": "query",
            "type": "string",
            "description": "Code representing the employee's primary work location",
            "required": false,
            "x-ms-summary": "primaryWorkLocationCode"
          },
          {
            "name": "primaryProjectCode",
            "in": "query",
            "type": "string",
            "description": "Code representing the employee's primary project group",
            "required": false,
            "x-ms-summary": "primaryProjectCode"
          },
          {
            "name": "deductionGroupCode",
            "in": "query",
            "type": "string",
            "description": "Code representing the deduction group for the employee",
            "required": false,
            "x-ms-summary": "deductionGroupCode"
          },
          {
            "name": "earningGroupCode",
            "in": "query",
            "type": "string",
            "description": "Code representing the earning group for the employee",
            "required": false,
            "x-ms-summary": "earningGroupCode"
          },
          {
            "name": "employeeTypeCode",
            "in": "query",
            "type": "string",
            "description": "Code representing the type of employee",
            "required": false,
            "x-ms-summary": "employeeTypeCode"
          },
          {
            "name": "employeeStatusCode",
            "in": "query",
            "type": "string",
            "description": "Code representing the status of the employee",
            "required": false,
            "x-ms-summary": "employeeStatusCode"
          },
          {
            "name": "employeeNumber",
            "in": "query",
            "type": "string",
            "description": "Number assigned to the employee",
            "required": false,
            "x-ms-summary": "employeeNumber"
          },
          {
            "name": "supervisorId",
            "in": "query",
            "type": "string",
            "description": "Unique identifier for the employee's supervisor",
            "required": false,
            "x-ms-summary": "supervisorId"
          },
          {
            "name": "originalHireDate",
            "in": "query",
            "type": "string",
            "description": "Date when the employee was originally hired",
            "required": false,
            "x-ms-summary": "originalHireDate"
          },
          {
            "name": "lastHireDate",
            "in": "query",
            "type": "string",
            "description": "Date of the employee's last hire",
            "required": false,
            "x-ms-summary": "lastHireDate"
          },
          {
            "name": "dateOfTermination",
            "in": "query",
            "type": "string",
            "description": "Date of the employee's termination",
            "required": false,
            "x-ms-summary": "dateOfTermination"
          },
          {
            "name": "dateOfRetirement",
            "in": "query",
            "type": "string",
            "description": "Date of the employee's retirement",
            "required": false,
            "x-ms-summary": "dateOfRetirement"
          },
          {
            "name": "dateTimeCreated",
            "in": "query",
            "type": "string",
            "description": "Timestamp indicating when the record was created",
            "required": false,
            "x-ms-summary": "dateTimeCreated"
          },
          {
            "name": "dateTimeChanged",
            "in": "query",
            "type": "string",
            "description": "Timestamp indicating when the record was last updated",
            "required": false,
            "x-ms-summary": "dateTimeChanged"
          },
          {
            "name": "dateLastPayDatePaid",
            "in": "query",
            "type": "string",
            "description": "Date of the employee's last pay date",
            "required": false,
            "x-ms-summary": "dateLastPayDatePaid"
          },
          {
            "name": "payGroup",
            "in": "query",
            "type": "string",
            "description": "Group associated with the employee's pay.",
            "required": false,
            "x-ms-summary": "payGroup"
          },
          {
            "name": "isHomeCompany",
            "in": "query",
            "type": "boolean",
            "description": "Indicator if the company is the employee's home company",
            "required": false,
            "x-ms-summary": "isHomeCompany"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, which page you want to see",
            "required": false,
            "x-ms-summary": "page"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, how many records per page you want to see",
            "required": false,
            "x-ms-summary": "per_Page"
          },
          {
            "$ref": "#/parameters/accept"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getEmployeeEmploymentDetails"
              }
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-employee-employment-details"
        }
      }
    },
    "/{connectionId}/personnel/v1/employee-demographic-details": {
      "get": {
        "summary": "Get Employee Demographic Details",
        "description": "Get employee demographic details.",
        "operationId": "GetEmployeeDemographicDetails",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "employeeId",
            "in": "query",
            "type": "string",
            "description": "Employee Identifier",
            "required": false,
            "x-ms-summary": "employeeId"
          },
          {
            "name": "companyId",
            "in": "query",
            "type": "string",
            "description": "Company Identifier",
            "required": false,
            "x-ms-summary": "companyId"
          },
          {
            "name": "lastName",
            "in": "query",
            "type": "string",
            "description": "Employee's last name",
            "required": false,
            "x-ms-summary": "lastName"
          },
          {
            "name": "emailAddress",
            "in": "query",
            "type": "string",
            "description": "Employee's email address",
            "required": false,
            "x-ms-summary": "emailAddress"
          },
          {
            "name": "addressState",
            "in": "query",
            "type": "string",
            "description": "Employee's state of residence",
            "required": false,
            "x-ms-summary": "addressState"
          },
          {
            "name": "addressCountry",
            "in": "query",
            "type": "string",
            "description": "Employee's country of residence",
            "required": false,
            "x-ms-summary": "addressCountry"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, which page you want to see",
            "required": false,
            "x-ms-summary": "page"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, how many records per page you want to see",
            "required": false,
            "x-ms-summary": "per_Page"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getEmployeeDemographicDetails"
              }
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-employee-demographic-details"
        }
      }
    },
    "/{connectionId}/payroll/v2/general-ledger": {
      "get": {
        "summary": "Get details for a general ledger run",
        "description": "Returns a list of details for a general ledger run.",
        "operationId": "ReturnsAListOfDetailsForAGeneralLedgerRun",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "runId",
            "in": "query",
            "type": "string",
            "description": "Identifier for the general ledger run",
            "required": false,
            "x-ms-summary": "runId"
          },
          {
            "name": "blockId",
            "in": "query",
            "type": "string",
            "description": "Identifier for the specific block within the general ledger run",
            "required": false,
            "x-ms-summary": "blockId"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Filter to retrieve the most recent data",
            "required": false,
            "x-ms-summary": "per_Page"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, which page you want to see",
            "required": false,
            "x-ms-summary": "page"
          },
          {
            "name": "mostRecent",
            "in": "query",
            "type": "string",
            "description": "Pagination, how many records per page you want to see",
            "required": false,
            "x-ms-summary": "mostRecent"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/returnsAListOfDetailsForAGeneralLedgerRun"
              }
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-details-for-a-general-ledger-run"
        }
      }
    },
    "/{connectionId}/personnel/v1/import-tool": {
      "post": {
        "summary": "Submit XML transaction to the Import Tool",
        "description": "Submits an encoded XML transaction to the Import Tool.",
        "operationId": "TakesAnXmlTransactionAndFeedsItIntoTheImportTool",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "content-type",
            "x-ms-summary": "content-type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "transaction": {
                  "type": "string",
                  "description": "Enter encoded XML transaction.",
                  "title": "transaction"
                },
                "uniqueFileName": {
                  "type": "string",
                  "description": "Enter Unique filename ending with xml extension."
                }
              },
              "required": [
                "transaction"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "$ref": "#/definitions/takesAnXmlTransactionAndFeedsItIntoTheImportTool"
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#submit-xml-transaction-to-the-import-tool"
        }
      }
    },
    "/{connectionId}/personnel/v1/employee-ids": {
      "post": {
        "summary": "Employee ID Lookup",
        "description": "Employee ID Lookup.",
        "operationId": "EmployeeIdLookup",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/problem+json",
            "description": "content-type",
            "x-ms-summary": "content-type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "employeeIdentifierType": {
                    "type": "string",
                    "description": "Enter employee identifier type.",
                    "title": "employeeIdentifierType"
                  },
                  "employeeIdentifierValue": {
                    "type": "string",
                    "description": "Enter employee identifier Value",
                    "title": "employeeIdentifierValue"
                  },
                  "companyIdentifierType": {
                    "type": "string",
                    "description": "Enter company identifier type.",
                    "title": "companyIdentifierType"
                  },
                  "companyIdentifierValue": {
                    "type": "string",
                    "description": "Enter company identifier value",
                    "title": "companyIdentiferValue"
                  }
                },
                "required": [
                  "employeeIdentifierType",
                  "employeeIdentifierValue"
                ]
              },
              "required": [
                "items"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "207": {
            "description": "207 Multi-Status",
            "schema": {
              "$ref": "#/definitions/employeeIdLookup"
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#employee-id-lookup"
        }
      }
    },
    "/{connectionId}/personnel/v1/companies/{companyID}/employees/{employeeID}/pto-plans": {
      "get": {
        "summary": "Get a specific employees pto-plans",
        "description": "Get a specific employees pto-plans",
        "operationId": "GetASpecificEmployeesPtoplans",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/employeeID"
          },
          {
            "$ref": "#/parameters/companyID"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, which page you want to see",
            "required": false,
            "x-ms-summary": "page"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, how many records per page you want to see",
            "required": false,
            "x-ms-summary": "per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getASpecificEmployeesPtoplans"
              }
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-a-specific-employees-pto-plans"
        }
      }
    },
    "/{connectionId}/personnel/v1/employee-supervisor-details": {
      "get": {
        "summary": "Get Employee Supervisor Details",
        "description": "Get employee supervisor details.",
        "operationId": "GetEmployeeSupervisorDetails",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "companyId",
            "in": "query",
            "type": "string",
            "description": "Company Identifier",
            "required": false,
            "x-ms-summary": "Company Id"
          },
          {
            "name": "employeeId",
            "in": "query",
            "type": "string",
            "description": "Identifier for the company of the employee",
            "required": false,
            "x-ms-summary": "Employee Id"
          },
          {
            "name": "supervisorCompanyId",
            "in": "query",
            "type": "string",
            "description": "String that represents the supervisor's company identifier",
            "required": false,
            "x-ms-summary": "supervisorCompanyId"
          },
          {
            "name": "supervisorEmployeeId",
            "in": "query",
            "type": "string",
            "description": "String that represents the supervisor's employee identifier",
            "required": false,
            "x-ms-summary": "supervisorEmployeeId"
          },
          {
            "name": "supervisorCompanyCode",
            "in": "query",
            "type": "string",
            "description": "String that represents the supervisor's company code",
            "required": false,
            "x-ms-summary": "supervisorCompanyCode"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, which page you want to see",
            "required": false,
            "x-ms-summary": "page"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, how many records per page you want to see",
            "required": false,
            "x-ms-summary": "per_Page"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getEmployeeSupervisorDetails"
              }
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-employee-supervisor-details"
        }
      }
    },
    "/{connectionId}/personnel/v1/contacts": {
      "get": {
        "summary": "Get all details for a person assigned to an employee as a contact",
        "description": "Get all details for a person assigned to an employee as a contact.",
        "operationId": "GetAllDetailsForAPersonAssignedToAnEmployeeAsAContact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/accept"
          },
          {
            "name": "employeeId",
            "in": "query",
            "type": "string",
            "description": "Employee Identifier",
            "required": false,
            "x-ms-summary": "employeeId"
          },
          {
            "name": "isActive",
            "in": "query",
            "type": "string",
            "description": "Active Status Indicator",
            "required": false,
            "x-ms-summary": "isActive"
          },
          {
            "name": "relationshipCode",
            "in": "query",
            "type": "string",
            "description": "Employee relation type code to the contact",
            "required": false,
            "x-ms-summary": "relationshipCode"
          },
          {
            "name": "contactId",
            "in": "query",
            "type": "string",
            "description": "Contact Identifier",
            "required": false,
            "x-ms-summary": "contactId"
          },
          {
            "name": "countryCode",
            "in": "query",
            "type": "string",
            "description": "Country Code",
            "required": false,
            "x-ms-summary": "countryCode"
          },
          {
            "name": "cobraIsActive",
            "in": "query",
            "type": "string",
            "description": "Boolean field indicating if the COBRA coverage is currently active.",
            "required": false,
            "x-ms-summary": "cobraIsActive"
          },
          {
            "name": "cobraStatus",
            "in": "query",
            "type": "string",
            "description": "This is a string indicating the status of the COBRA coverage",
            "required": false,
            "x-ms-summary": "cobraStatus"
          },
          {
            "name": "isBeneficiary",
            "in": "query",
            "type": "string",
            "description": "Beneficiary Indicator",
            "required": false,
            "x-ms-summary": "isBeneficiary"
          },
          {
            "name": "isDependent",
            "in": "query",
            "type": "string",
            "description": "Dependent Indicator",
            "required": false,
            "x-ms-summary": "isDependent"
          },
          {
            "name": "dateOfCobraEvent",
            "in": "query",
            "type": "string",
            "description": "Used to find date of COBRA event less,greater,equal or between passed dates.",
            "required": false,
            "x-ms-summary": "dateOfCobraEvent"
          },
          {
            "name": "statusAsOfDate",
            "in": "query",
            "type": "string",
            "description": "Used to find contact status as of date less,greater,equal or between passed dates.",
            "required": false,
            "x-ms-summary": "statusAsOfDate"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, which page you want to see",
            "required": false,
            "x-ms-summary": "page"
          },
          {
            "name": "per_Page",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "description": "Pagination, how many records per page you want to see",
            "required": false,
            "x-ms-summary": "per_Page"
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/getAllDetailsForAPersonAssignedToAnEmployeeAsAContact"
              }
            }
          },
          "500": {
            "description": "500 OK",
            "schema": {
              "$ref": "#/definitions/internalServerError"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprohcm/#get-all-details-for-a-person-assigned-to-an-employee-as-a-contact"
        }
      }
    }
  },
  "definitions": {
    "getASinglePersonDetailRecord": {
      "type": "object",
      "properties": {
        "additionalName1": {
          "type": "string",
          "description": "Additional name field 1"
        },
        "additionalName2": {
          "type": "string",
          "description": "Additional name field 2"
        },
        "addressId": {
          "type": "string",
          "description": "Identifier for the address"
        },
        "addressIsOnTaxBoundary": {
          "type": "boolean",
          "description": "Indicates if the address is on a tax boundary"
        },
        "addressLatitude": {
          "type": "number",
          "format": "float",
          "description": "Latitude coordinate of the address"
        },
        "cobraExport": {
          "type": "string",
          "description": "COBRA export information"
        },
        "cobraIsActive": {
          "type": "boolean",
          "description": "Indicates if COBRA is active for the employee"
        },
        "cobraReason": {
          "type": "string",
          "description": "Reason for COBRA status"
        },
        "cobraStatus": {
          "type": "string",
          "description": "COBRA status information"
        },
        "cobraStatusDate": {
          "type": "string",
          "description": "Date of COBRA status update"
        },
        "communityBroadcastSmsCode": {
          "type": "string",
          "description": "Community broadcast SMS code"
        },
        "consentElectronicW2": {
          "type": "boolean",
          "description": "Indicates consent for electronic W2 forms"
        },
        "consentElectronicw2pr": {
          "type": "boolean",
          "description": "Indicates consent for electronic W2 forms (PR specific)"
        },
        "dateDeceased": {
          "type": "string",
          "description": "Date of deceased"
        },
        "dateOfCobraEvent": {
          "type": "string",
          "description": "Date of COBRA event"
        },
        "dateOfCobraExport": {
          "type": "string",
          "description": "Date of COBRA export"
        },
        "dateOfCobraLetter": {
          "type": "string",
          "description": "Date of COBRA letter"
        },
        "dateOfI9Expiration": {
          "type": "string",
          "description": "Date of I-9 form expiration"
        },
        "datetimeChanged": {
          "type": "string",
          "description": "Timestamp indicating when the data was last updated"
        },
        "datetimeCreated": {
          "type": "string",
          "description": "Timestamp indicating when the data was created"
        },
        "disabilityType": {
          "type": "string",
          "description": "Type of disability"
        },
        "ethnicDescription": {
          "type": "string",
          "description": "Ethnicity description"
        },
        "formerName": {
          "type": "string",
          "description": "Former name"
        },
        "healthBloodType": {
          "type": "string",
          "description": "Blood type information"
        },
        "healthEyes": {
          "type": "string",
          "description": "Eye color information"
        },
        "healthHair": {
          "type": "string",
          "description": "Hair color information"
        },
        "healthHeightFeet": {
          "type": "string",
          "description": "Height in feet"
        },
        "healthHeightInches": {
          "type": "string",
          "description": "Height in inches"
        },
        "healthLastDonateDate": {
          "type": "string",
          "description": "Date of last blood donation"
        },
        "healthWeight": {
          "type": "number",
          "format": "double",
          "description": "Weight in pounds"
        },
        "i9AlienNumber": {
          "type": "string",
          "description": "Alien number for I-9 form"
        },
        "i9DocA": {
          "type": "string",
          "description": "Document A for I-9 form"
        },
        "i9DocB": {
          "type": "string",
          "description": "Document B for I-9 form"
        },
        "i9DocC": {
          "type": "string",
          "description": "Document C for I-9 formg"
        },
        "i9Verified": {
          "type": "boolean",
          "description": "Indicates if I-9 form is verified"
        },
        "i9VisaType": {
          "type": "string",
          "description": "Visa type for I-9 form"
        },
        "i9WorkAuth": {
          "type": "string",
          "description": "Work authorization for I-9 form"
        },
        "isDisabled": {
          "type": "boolean",
          "description": "Indicates if the person is disabled"
        },
        "isMultiPayGroup": {
          "type": "boolean",
          "description": "Indicates if the person is part of multiple pay groups"
        },
        "isSmoker": {
          "type": "boolean",
          "description": "Indicates if the person is a smoker"
        },
        "militaryService": {
          "type": "boolean",
          "description": "Indicates military service status"
        },
        "militaryBranchServed": {
          "type": "string",
          "description": "Branch of military service served"
        },
        "militaryEra": {
          "type": "string",
          "description": "Military era information"
        },
        "militaryIsDisabledVet": {
          "type": "string",
          "description": "Indicates if the person is a disabled veteran"
        },
        "militaryIsOthEligVet": {
          "type": "string",
          "description": "Indicates if the person is other eligible veteran"
        },
        "militaryIsOthEligVetBasis": {
          "type": "string",
          "description": "Basis for other eligible veteran status"
        },
        "militaryIsActiveWartimeVet": {
          "type": "string",
          "description": "Indicates if the person is an active wartime veteran"
        },
        "nameFormer": {
          "type": "string",
          "description": "Former name"
        },
        "previousSSN": {
          "type": "string",
          "description": "Previous Social Security Number"
        },
        "originCountry": {
          "type": "string",
          "description": "Country of origin"
        },
        "originLocation": {
          "type": "string",
          "description": "Location of origin"
        },
        "w2IsDeceased": {
          "type": "boolean",
          "description": "Indicates if the person is deceased for W2 forms"
        },
        "cobraNotes": {
          "type": "string",
          "description": "Notes related to COBRA"
        },
        "addressSms": {
          "type": "string",
          "description": "Address for SMS notifications"
        },
        "militarySeparationDate": {
          "type": "string",
          "description": "Date of military separation"
        },
        "homePhoneIsPrivate": {
          "type": "boolean",
          "description": "Indicates if home phone number is private"
        },
        "smsApprovals": {
          "type": "boolean",
          "description": "Indicates if SMS approvals are enabled"
        },
        "smsPayNotification": {
          "type": "boolean",
          "description": "Indicates if SMS notifications for pay are enabled"
        },
        "i9VisaExpirationDate": {
          "type": "string",
          "description": "Expiration date for I-9 visa"
        },
        "militaryIsMedalVet": {
          "type": "string",
          "description": "Indicates if the person is a medal veteran"
        },
        "lastNameNotSameAsSSCard": {
          "type": "string",
          "description": "Indicates if last name is different from Social Security Card"
        },
        "chkCashingInstCode": {
          "type": "string",
          "description": "Check cashing institution code"
        },
        "nationality1": {
          "type": "string",
          "description": "Nationality information 1"
        },
        "nationality2": {
          "type": "string",
          "description": "Nationality information 2"
        },
        "nationality3": {
          "type": "string",
          "description": "Nationality information 3"
        },
        "personId": {
          "type": "string",
          "description": "Identifier for the person"
        },
        "employeeId": {
          "type": "string",
          "description": "Identifier for the employee"
        },
        "companyId": {
          "type": "string",
          "description": "Identifier for the company"
        },
        "userName": {
          "type": "string",
          "description": "Username"
        },
        "firstName": {
          "type": "string",
          "description": "First name"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name"
        },
        "lastName": {
          "type": "string",
          "description": "Last name"
        },
        "preferredName": {
          "type": "string",
          "description": "Preferred name"
        },
        "namePrefixCode": {
          "type": "string",
          "description": "Prefix code for name"
        },
        "nameSufixCode": {
          "type": "string",
          "description": "Suffix code for name"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address"
        },
        "emailAddressAlternate": {
          "type": "string",
          "description": "Alternate email address"
        },
        "homePhone": {
          "type": "string",
          "description": "Home phone number"
        },
        "homePhoneCountry": {
          "type": "string",
          "description": "Country code for home phone number"
        },
        "addressLine1": {
          "type": "string",
          "description": "Address line 1"
        },
        "addressLine2": {
          "type": "string",
          "description": "Address line 2"
        },
        "addressCity": {
          "type": "string",
          "description": "City"
        },
        "addressState": {
          "type": "string",
          "description": "State"
        },
        "addressZipCode": {
          "type": "string",
          "description": "ZIP code"
        },
        "addressCountry": {
          "type": "string",
          "description": "Country"
        },
        "addressCounty": {
          "type": "string",
          "description": "Country"
        },
        "nationalId": {
          "type": "string",
          "description": "National ID"
        },
        "nationalIdCountry": {
          "type": "string",
          "description": "Country for national ID"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "Date of birth"
        },
        "gender": {
          "type": "string",
          "description": "Gender"
        },
        "ethnicIDCode": {
          "type": "string",
          "description": "Ethnic ID code"
        },
        "maritalStatusCode": {
          "type": "string",
          "description": "Marital status code"
        },
        "ssn": {
          "type": "string",
          "description": "Social Security Number"
        },
        "ssnIsSuppressed": {
          "type": "boolean",
          "description": "Indicates if Social Security Number is suppressed"
        }
      }
    },
    "getEmployeePayStatement": {
      "type": "object",
      "properties": {
        "accruals": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "amountcurrent": {
                "type": "number",
                "format": "double",
                "description": "Current amount accrued"
              },
              "amounttype": {
                "type": "string",
                "description": "Type of accrual amount"
              },
              "balance": {
                "type": "number",
                "format": "double",
                "description": "Current balance of accrual"
              },
              "plancode": {
                "type": "string",
                "description": "Code identifying the plan"
              },
              "plandescription": {
                "type": "string",
                "description": "Description of the plan"
              }
            }
          },
          "description": "List of accrual details"
        },
        "addressline1": {
          "type": "string",
          "description": "Address line 1"
        },
        "addressline2": {
          "type": "string",
          "description": "Address line 2"
        },
        "city": {
          "type": "string",
          "description": "City of the address"
        },
        "companyaddresscity": {
          "type": "string",
          "description": "Company's city address"
        },
        "companyaddresscountry": {
          "type": "string",
          "description": "Company's country address"
        },
        "companyaddresscounty": {
          "type": "string",
          "description": "Company's county address"
        },
        "companyaddressline1": {
          "type": "string",
          "description": "Company's address line 1"
        },
        "companyaddressline2": {
          "type": "string",
          "description": "Company's address line 2"
        },
        "companyaddresspostalcode": {
          "type": "string",
          "description": "Postal code of the company address"
        },
        "companyaddressstateorprovince": {
          "type": "string",
          "description": "State or province of the company address"
        },
        "companyname": {
          "type": "string",
          "description": "Name of the company"
        },
        "companyphone": {
          "type": "string",
          "description": "Main phone number of the company"
        },
        "companyphoneext": {
          "type": "string",
          "description": "Extension for the company phone"
        },
        "country": {
          "type": "string",
          "description": "Country of the address"
        },
        "deductions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "basisamount": {
                "type": "number",
                "format": "double",
                "description": "Basis amount for deductions"
              },
              "deductioncode": {
                "type": "string",
                "description": "Code identifying the deduction"
              },
              "deductiondescription": {
                "type": "string",
                "description": "Description of the deduction"
              },
              "employeeamount": {
                "type": "number",
                "format": "double",
                "description": "Deduction amount from the employee"
              },
              "employeeamountytd": {
                "type": "number",
                "format": "double",
                "description": "Deduction amount from the employee for the year"
              },
              "employeramount": {
                "type": "number",
                "format": "double",
                "description": "Deduction amount contributed by the employer"
              },
              "employeramountytd": {
                "type": "number",
                "format": "double",
                "description": "Employer deduction amount for the year"
              },
              "pretax": {
                "type": "boolean",
                "description": "Indicates if the deduction is pre-tax"
              }
            },
            "description": "List of deductions"
          }
        },
        "deductionscurrent": {
          "type": "number",
          "format": "double",
          "description": "Total current deductions"
        },
        "deductionsytd": {
          "type": "number",
          "format": "double",
          "description": "Total deductions for the year"
        },
        "document": {
          "type": "string",
          "description": "Document identifier or description"
        },
        "earnings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "format": "double",
                "description": "Earnings amount"
              },
              "amountytd": {
                "type": "number",
                "format": "double",
                "description": "Earnings amount for the year"
              },
              "hours": {
                "type": "number",
                "format": "double",
                "description": "Hours worked"
              },
              "hoursytd": {
                "type": "number",
                "format": "double",
                "description": "Hours worked for the year"
              },
              "paycode": {
                "type": "string",
                "description": "Code identifying the pay type"
              },
              "paydescription": {
                "type": "string",
                "description": "Description of the pay type"
              },
              "payrate": {
                "type": "number",
                "format": "double",
                "description": "Rate of pay"
              },
              "periodend": {
                "type": "string",
                "format": "date-time",
                "description": "End date of the pay period"
              },
              "periodstart": {
                "type": "string",
                "format": "date-time",
                "description": "Start date of the pay period"
              },
              "piececount": {
                "type": "number",
                "format": "double",
                "description": "Count of pieces completed (for piecework)"
              },
              "piecepayrate": {
                "type": "number",
                "format": "double",
                "description": "Pay rate per piece (for piecework)"
              }
            }
          },
          "description": "List of earnings records"
        },
        "employeeidentifier": {
          "type": "object",
          "properties": {
            "identificationtype": {
              "type": "string",
              "description": "string"
            },
            "companyidentifier": {
              "type": "string",
              "description": "string"
            },
            "employeeidentifier": {
              "type": "string",
              "description": "string"
            }
          },
          "description": "Object containing employee identification information."
        },
        "employeenumber": {
          "type": "string",
          "description": "Number identifying the employee"
        },
        "federaladditionalamountWithheld": {
          "type": "number",
          "format": "double",
          "description": "Additional federal tax withheld"
        },
        "federalallowancesclaimed": {
          "type": "number",
          "format": "double",
          "description": "Federal tax allowances claimed"
        },
        "federalfilingstatus": {
          "type": "string",
          "description": "Federal tax filing status"
        },
        "federaltaxablewagescurrent": {
          "type": "number",
          "format": "double",
          "description": "Current federal taxable wages"
        },
        "federaltaxablewagesytd": {
          "type": "number",
          "format": "double",
          "description": "Federal taxable wages for the year"
        },
        "fullname": {
          "type": "string",
          "description": "Full name of the employee"
        },
        "grosswagescurrent": {
          "type": "number",
          "format": "double",
          "description": "Current gross wages"
        },
        "grosswagesytd": {
          "type": "number",
          "format": "double",
          "description": "Gross wages for the year"
        },
        "job": {
          "type": "string",
          "description": "Job title or description"
        },
        "location": {
          "type": "string",
          "description": "Work location of the employee"
        },
        "netpay": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "accountnumber": {
                "type": "string",
                "description": "Bank account number"
              },
              "accounttype": {
                "type": "string",
                "description": "Type of bank account"
              },
              "amount": {
                "type": "number",
                "format": "double",
                "description": "Amount of net pay"
              }
            }
          },
          "description": "List of net pay records"
        },
        "netpaycurrent": {
          "type": "number",
          "format": "double",
          "description": "Current net pay"
        },
        "netpayytd": {
          "type": "number",
          "format": "double",
          "description": "Net pay for the year"
        },
        "orglevel1": {
          "type": "string",
          "description": "First level of organizational hierarchy"
        },
        "orglevel2": {
          "type": "string",
          "description": "Second level of organizational hierarchy"
        },
        "orglevel3": {
          "type": "string",
          "description": "Third level of organizational hierarchy"
        },
        "orglevel4": {
          "type": "string",
          "description": "Fourth level of organizational hierarchy"
        },
        "paydate": {
          "type": "string",
          "description": "Date on which pay was issued"
        },
        "payperiodfrequency": {
          "type": "string",
          "description": "Frequency of the pay period"
        },
        "paygroup": {
          "type": "string",
          "description": "Group classification for payroll"
        },
        "payidentifier": {
          "type": "string",
          "description": "Identifier for the pay instance"
        },
        "payrate": {
          "type": "number",
          "format": "double",
          "description": "Pay rate"
        },
        "periodenddate": {
          "type": "string",
          "description": "End date of the pay period"
        },
        "periodstartdate": {
          "type": "string",
          "description": "Start date of the pay period"
        },
        "postalcode": {
          "type": "string",
          "description": "Postal code for the employee's address"
        },
        "residentstateallowancesclaimed": {
          "type": "number",
          "format": "double",
          "description": "State tax allowances claimed by the resident"
        },
        "residentstatefilingstatus": {
          "type": "string",
          "description": "State filing status for the resident"
        },
        "ssn": {
          "type": "string",
          "description": "Social Security Number"
        },
        "stateorprovince": {
          "type": "string",
          "description": "State or province of the employee"
        },
        "taxes": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "format": "double",
                "description": "Amount of tax"
              },
              "amountytd": {
                "type": "number",
                "format": "double",
                "description": "Tax amount for the year"
              },
              "basisamount": {
                "type": "number",
                "format": "double",
                "description": "Basis amount for tax calculation"
              },
              "taxdescription": {
                "type": "string",
                "description": "Description of the tax"
              },
              "taxcode": {
                "type": "string",
                "description": "Code identifying the tax"
              }
            }
          },
          "description": "List of tax records"
        },
        "taxescurrent": {
          "type": "number",
          "format": "double",
          "description": "Total current taxes"
        },
        "taxesytd": {
          "type": "number",
          "format": "double",
          "description": "Total taxes for the year"
        },
        "workstateallowancesclaimed": {
          "type": "number",
          "format": "double",
          "description": "State tax allowances claimed by the employee"
        },
        "workstatefilingstatus": {
          "type": "string",
          "description": "State tax filing status of the employee"
        }
      }
    },
    "getEmployeeEmploymentDetails": {
      "type": "object",
      "properties": {
        "companyID": {
          "type": "string",
          "description": "Identifier for the company"
        },
        "employeeID": {
          "type": "string",
          "description": "Identifier for the employee"
        },
        "primaryJobCode": {
          "type": "string",
          "description": "Code identifying the primary job"
        },
        "jobTitle": {
          "type": "string",
          "description": "Title of the employee's job"
        },
        "fullTimeOrPartTimeCode": {
          "type": "string",
          "description": "Code indicating if the job is full-time or part-time"
        },
        "primaryWorkLocationCode": {
          "type": "string",
          "description": "Code for the primary work location"
        },
        "primaryProjectCode": {
          "type": "string",
          "description": "Code for the primary project associated with the employee"
        },
        "deductionGroupCode": {
          "type": "string",
          "description": "Code identifying the deduction group"
        },
        "earningGroupCode": {
          "type": "string",
          "description": "Code identifying the earning group"
        },
        "employeeTypeCode": {
          "type": "string",
          "description": "Code defining the type of employment"
        },
        "employeeStatusCode": {
          "type": "string",
          "description": "Code representing the employee's current status"
        },
        "employeeNumber": {
          "type": "string",
          "description": "Unique number assigned to the employee"
        },
        "supervisorId": {
          "type": "string",
          "description": "Identifier for the employee's supervisor"
        },
        "originalHireDate": {
          "type": "string",
          "description": "Date the employee was originally hired"
        },
        "lastHireDate": {
          "type": "string",
          "description": "Date the employee was most recently hired"
        },
        "dateOfTermination": {
          "type": "string",
          "description": "Date the employee was terminated"
        },
        "dateOfRetirement": {
          "type": "string",
          "description": "Date the employee retired"
        },
        "dateTimeCreated": {
          "type": "string",
          "description": "Timestamp when the employee record was created"
        },
        "dateTimeChanged": {
          "type": "string",
          "description": "Timestamp when the employee record was last modified"
        },
        "dateLastPayDatePaid": {
          "type": "string",
          "description": "Date when the last payment was made to the employee"
        },
        "payGroup": {
          "type": "string",
          "description": "Group classification for payroll"
        },
        "isHomeCompany": {
          "type": "boolean",
          "description": "Indicates if the company is the employee's home company"
        },
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Page number in a paginated response"
        },
        "per_Page": {
          "type": "integer",
          "format": "int32",
          "description": "Number of items per page in a paginated response"
        }
      }
    },
    "getEmployeeDemographicDetails": {
      "type": "object",
      "properties": {
        "ethnicDescription": {
          "type": "string",
          "description": "Ethnic background"
        },
        "additionalName1": {
          "type": "string",
          "description": "Additional name field 1"
        },
        "additionalName2": {
          "type": "string",
          "description": "Additional name field 2"
        },
        "addressId": {
          "type": "string",
          "description": "Identifier for the address"
        },
        "addressIsOnTaxBoundary": {
          "type": "string",
          "description": "Address on tax boundary status"
        },
        "addressLatitude": {
          "type": "number",
          "format": "double",
          "description": "Geographic latitude of address"
        },
        "disabilityType": {
          "type": "string",
          "description": "Type of disability"
        },
        "formerName": {
          "type": "string",
          "description": "Previous name"
        },
        "healthBloodType": {
          "type": "string",
          "description": "Blood type information"
        },
        "healthEyes": {
          "type": "string",
          "description": "Eye color information"
        },
        "healthHair": {
          "type": "string",
          "description": "Hair color information"
        },
        "healthHeightFeet": {
          "type": "string",
          "description": "Height in feet"
        },
        "healthHeightInches": {
          "type": "string",
          "description": "Height in inches"
        },
        "healthLastDonateDate": {
          "type": "string",
          "description": "Last blood donation date"
        },
        "healthWeight": {
          "type": "number",
          "format": "double",
          "description": "Weight in appropriate units"
        },
        "previousSSN": {
          "type": "string",
          "description": "Previous Social Security Number"
        },
        "originCountry": {
          "type": "string",
          "description": "Country of origin"
        },
        "originLocation": {
          "type": "string",
          "description": "Location of origin"
        },
        "addressSms": {
          "type": "string",
          "description": "Address for SMS notifications"
        },
        "homePhoneIsPrivate": {
          "type": "boolean",
          "description": "Home phone number is private"
        },
        "lastNameNotSameAsSSCard": {
          "type": "string",
          "description": "Last name differs from SS card"
        },
        "nationality1": {
          "type": "string",
          "description": "First nationality information"
        },
        "nationality2": {
          "type": "string",
          "description": "Second nationality information"
        },
        "nationality3": {
          "type": "string",
          "description": "Third nationality information"
        },
        "personId": {
          "type": "string",
          "description": "Identifier for the person"
        },
        "employeeId": {
          "type": "string",
          "description": "Identifier for the employee"
        },
        "companyId": {
          "type": "string",
          "description": "Identifier for the company"
        },
        "firstName": {
          "type": "string",
          "description": "First name"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name"
        },
        "lastName": {
          "type": "string",
          "description": "Last name"
        },
        "preferredName": {
          "type": "string",
          "description": "Preferred name"
        },
        "namePrefixCode": {
          "type": "string",
          "description": "Prefix code for the name"
        },
        "nameSuffixCode": {
          "type": "string",
          "description": "Suffix code for the name"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address"
        },
        "emailAddressAlternate": {
          "type": "string",
          "description": "Alternate email address"
        },
        "homePhoneID": {
          "type": "string",
          "description": "Identifier for the home phone"
        },
        "homePhone": {
          "type": "string",
          "description": "Home phone number"
        },
        "homePhoneCountry": {
          "type": "string",
          "description": "Country code for home phone"
        },
        "addressLine1": {
          "type": "string",
          "description": "Primary address line"
        },
        "addressLine2": {
          "type": "string",
          "description": "Secondary address line"
        },
        "addressLine3": {
          "type": "string",
          "description": "Tertiary address line"
        },
        "addressLine4": {
          "type": "string",
          "description": "Quaternary address line"
        },
        "addressCity": {
          "type": "string",
          "description": "City of the address"
        },
        "addressState": {
          "type": "string",
          "description": "State of the address"
        },
        "addressZipCode": {
          "type": "string",
          "description": "ZIP code of the address"
        },
        "addressCountry": {
          "type": "string",
          "description": "Country of the address"
        },
        "addressCounty": {
          "type": "string",
          "description": "County of the address"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "Date of birth"
        },
        "gender": {
          "type": "string",
          "description": "Gender of the individual"
        },
        "ethnicIdCode": {
          "type": "string",
          "description": "Ethnic ID code"
        },
        "isSmoker": {
          "type": "boolean",
          "description": "Indicates if the person is a smoker"
        },
        "isDisabled": {
          "type": "string",
          "description": "Disability status"
        },
        "maritalStatusCode": {
          "type": "string",
          "description": "Marital status code"
        },
        "ssn": {
          "type": "string",
          "description": "Social Security Number"
        },
        "ssnIsSuppressed": {
          "type": "boolean",
          "description": "Indicates if SSN is suppressed"
        },
        "userID": {
          "type": "string",
          "description": "User ID"
        },
        "integrationRecordId": {
          "type": "string",
          "description": "Integration record identifier"
        },
        "cellPhoneNumber": {
          "type": "string",
          "description": "Cell phone number"
        }
      }
    },
    "returnsAListOfDetailsForAGeneralLedgerRun": {
      "type": "object",
      "properties": {
        "runId": {
          "type": "string",
          "description": "Unique identifier for the run"
        },
        "payPeriodEndDate": {
          "type": "string",
          "description": "End date of the pay period"
        },
        "accountType": {
          "type": "string",
          "description": "Type of account"
        },
        "baseSegment": {
          "type": "string",
          "description": "Base segment identifier"
        },
        "companyCode": {
          "type": "string",
          "description": "Code identifying the company"
        },
        "creditAmt": {
          "type": "number",
          "format": "double",
          "description": "Credit amount recorded"
        },
        "debitAmt": {
          "type": "number",
          "format": "double",
          "description": "Debit amount recorded"
        },
        "description": {
          "type": "string",
          "description": "Description of the transaction"
        },
        "generalLedgerAccount": {
          "type": "string",
          "description": "General ledger account number"
        },
        "jobCode": {
          "type": "string",
          "description": "Code for the job"
        },
        "jobDesc": {
          "type": "string",
          "description": "Description of the job"
        },
        "location": {
          "type": "string",
          "description": "Location of the transaction"
        },
        "orgLevel1": {
          "type": "string",
          "description": "First level of organizational hierarchy"
        },
        "orgLevel2": {
          "type": "string",
          "description": "Second level of organizational hierarchy"
        },
        "orgLevel3": {
          "type": "string",
          "description": "Third level of organizational hierarchy"
        },
        "orgLevel4": {
          "type": "string",
          "description": "Fourth level of organizational hierarchy"
        },
        "payGroup": {
          "type": "string",
          "description": "Payroll group identifier"
        },
        "periodEndDate": {
          "type": "string",
          "description": "End date of the accounting period"
        },
        "periodStartDate": {
          "type": "string",
          "description": "Start date of the accounting period"
        },
        "positionCode": {
          "type": "string",
          "description": "Code for the position"
        },
        "positionDesc": {
          "type": "string",
          "description": "Description of the position"
        },
        "project": {
          "type": "string",
          "description": "Project identifier"
        },
        "systemId": {
          "type": "number",
          "format": "double",
          "description": "System identification number"
        },
        "blockId": {
          "type": "number",
          "format": "double",
          "description": "Block identifier within the system"
        },
        "coId": {
          "type": "string",
          "description": "Company identifier"
        },
        "glRunDateTime": {
          "type": "string",
          "description": "Date and time of GL run"
        },
        "totalNrOfBlocks": {
          "type": "number",
          "format": "double",
          "description": "Total number of blocks in the run"
        },
        "userWhoRanThisGl": {
          "type": "string",
          "description": "User who executed the GL run"
        },
        "glJson": {
          "type": "string",
          "description": "JSON data of the general ledger run"
        }
      }
    },
    "takesAnXmlTransactionAndFeedsItIntoTheImportTool": {
      "type": "object",
      "properties": {
        "stagingId": {
          "type": "string",
          "description": "Identifier for the staging record"
        },
        "dateTimeCreated": {
          "type": "string",
          "description": "Timestamp when the record was created"
        },
        "fileName": {
          "type": "string",
          "description": "Name of the file"
        }
      }
    },
    "retrievesTheStatusOfAnImportToolTransaction": {
      "type": "object",
      "properties": {
        "stagingId": {
          "type": "string"
        },
        "fileProcessDate": {
          "type": "string"
        },
        "serviceSubmittalDate": {
          "type": "string"
        },
        "lastRepostDate": {
          "type": "string"
        },
        "employeeName": {
          "type": "string"
        },
        "employeeNumber": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "transaction": {
          "type": "string"
        },
        "fileName": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "severity": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "employeeIdLookup": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of error or status"
        },
        "title": {
          "type": "string",
          "description": "Title summarizing the error or status"
        },
        "detail": {
          "type": "string",
          "description": "Detailed description of the error or status"
        },
        "errorCount": {
          "type": "number",
          "format": "double",
          "description": "Number of errors reported"
        },
        "multistatus": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "sequenceId": {
                "type": "number",
                "format": "double",
                "description": "Identifier for the sequence in multistatus"
              },
              "status": {
                "type": "string",
                "description": "Status of the operation in multistatus"
              },
              "modelstate": {
                "type": "object",
                "description": "Contains validation errors (only if status is \"error\")",
                "properties": {
                  "property-name": {
                    "type": "array",
                    "description": "List of error messages keyed by property name",
                    "items": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Error message for the specific property"
                        },
                        "type": {
                          "type": "string",
                          "description": "Type of error for the specific property"
                        }
                      }
                    }
                  }
                }
              },
              "body": {
                "type": "object",
                "description": "Contains successful operation data (only if status is \"success\")",
                "properties": {
                  "eeid": {
                    "type": "string",
                    "description": "Employee identifier"
                  },
                  "coid": {
                    "type": "array",
                    "description": "List of company identifiers; home company is first",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "getASpecificEmployeesPtoplans": {
      "type": "object",
      "properties": {
        "employeeId": {
          "type": "string",
          "description": "Unique identifier for the employee"
        },
        "companyId": {
          "type": "string",
          "description": "Identifier for the company associated with the employee"
        },
        "ptoPlan": {
          "type": "string",
          "description": "Identifier for the PTO plan applicable to the employee"
        },
        "earned": {
          "type": "number",
          "format": "double",
          "description": "Total PTO hours earned by the employee"
        },
        "taken": {
          "type": "number",
          "format": "double",
          "description": "Total PTO hours taken by the employee"
        },
        "pendingBalance": {
          "type": "number",
          "format": "double",
          "description": "Current balance of pending PTO hours"
        },
        "earnedThroughDate": {
          "type": "string",
          "description": "Last date through which PTO has been accrued"
        },
        "reset": {
          "type": "string",
          "description": "Date when the PTO balance resets"
        },
        "pendingMoveDate": {
          "type": "string",
          "description": "Date relevant for pending PTO rules"
        }
      }
    },
    "getEmployeeSupervisorDetails": {
      "type": "object",
      "properties": {
        "employeeID": {
          "type": "string",
          "description": "Identifier for the employee"
        },
        "companyID": {
          "type": "string",
          "description": "Identifier for the company of the employee"
        },
        "employeeNumber": {
          "type": "string",
          "description": "Unique number assigned to the employee"
        },
        "supervisorEmployeeID": {
          "type": "string",
          "description": "Identifier for the supervisor"
        },
        "supervisorFirstName": {
          "type": "string",
          "description": "First name of the supervisor"
        },
        "supervisorLastName": {
          "type": "string",
          "description": "Last name of the supervisor"
        },
        "supervisorEmployeeNumber": {
          "type": "string",
          "description": "Employee number of the supervisor"
        },
        "supervisorCompanyID": {
          "type": "string",
          "description": "Company identifier for the supervisor"
        },
        "supervisorCompanyCode": {
          "type": "string",
          "description": "Company code associated with the supervisor"
        },
        "supervisorStatusCode": {
          "type": "string",
          "description": "Status code representing supervisor's employment status"
        },
        "supervisorJobCode": {
          "type": "string",
          "description": "Job code assigned to the supervisor"
        },
        "supervisorPositionCode": {
          "type": "string",
          "description": "Position code assigned to the supervisor"
        },
        "supervisorEmail": {
          "type": "string",
          "description": "Email address of the supervisor"
        },
        "supervisorWorkPhone": {
          "type": "string",
          "description": "Work phone number of the supervisor"
        },
        "supervisorPersonId": {
          "type": "string",
          "description": "Unique identifier for the supervisor as a person"
        }
      }
    },
    "getAllDetailsForAPersonAssignedToAnEmployeeAsAContact": {
      "type": "object",
      "properties": {
        "city": {
          "type": "string",
          "description": "City of the address"
        },
        "countryCode": {
          "type": "string",
          "description": "Country code of the address"
        },
        "county": {
          "type": "string",
          "description": "County of the address"
        },
        "addressIsDifferentFromEmployee": {
          "type": "boolean",
          "description": "Indicates if address differs from employee's address"
        },
        "addressLine1": {
          "type": "string",
          "description": "Primary address line"
        },
        "addressLine2": {
          "type": "string",
          "description": "Secondary address line"
        },
        "state": {
          "type": "string",
          "description": "State of the address"
        },
        "zipCode": {
          "type": "string",
          "description": "ZIP code of the address"
        },
        "cobraExport": {
          "type": "boolean",
          "description": "Indicates if COBRA data is exported"
        },
        "cobraIsActive": {
          "type": "boolean",
          "description": "Indicates if COBRA is active"
        },
        "cobraReason": {
          "type": "string",
          "description": "Reason for COBRA status"
        },
        "cobraStatus": {
          "type": "string",
          "description": "Current COBRA status"
        },
        "cobraStatusDate": {
          "type": "string",
          "description": "Date of the current COBRA status"
        },
        "dateOfBirth": {
          "type": "string",
          "description": "Date of birth"
        },
        "dateOfCOBRAEvent": {
          "type": "string",
          "description": "Date of the COBRA event"
        },
        "dateOfCOBRALetter": {
          "type": "string",
          "description": "Date when the COBRA letter was issued"
        },
        "employeeId": {
          "type": "string",
          "description": "Identifier for the employee"
        },
        "gender": {
          "type": "string",
          "description": "Gender of the individual"
        },
        "importId": {
          "type": "string",
          "description": "Import identifier"
        },
        "isBeneficiary": {
          "type": "boolean",
          "description": "Indicates if the individual is a beneficiary"
        },
        "isDependent": {
          "type": "boolean",
          "description": "Indicates if the individual is a dependent"
        },
        "isDisabled": {
          "type": "boolean",
          "description": "Indicates if the individual is disabled"
        },
        "isEmergencyContact": {
          "type": "boolean",
          "description": "Indicates if the individual is an emergency contact"
        },
        "isSmoker": {
          "type": "boolean",
          "description": "Indicates if the individual is a smoker"
        },
        "isStudent": {
          "type": "boolean",
          "description": "Indicates if the individual is a student"
        },
        "marriageDate": {
          "type": "string",
          "description": "Date of marriage"
        },
        "firstName": {
          "type": "string",
          "description": "First name of the individual"
        },
        "formerName": {
          "type": "string",
          "description": "Former name of the individual"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of the individual"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of the individual"
        },
        "nameSuffix": {
          "type": "string",
          "description": "Suffix of the individual's name"
        },
        "occupation": {
          "type": "string",
          "description": "Occupation of the individual"
        },
        "otherInsurance": {
          "type": "string",
          "description": "Details of other insurance"
        },
        "homePhoneCountry": {
          "type": "string",
          "description": "Country code for home phone"
        },
        "homePhoneNumber": {
          "type": "string",
          "description": "Home phone number"
        },
        "otherPhoneNumber": {
          "type": "string",
          "description": "Other phone number"
        },
        "otherPhoneType": {
          "type": "string",
          "description": "Type of other phone"
        },
        "preferredPhoneNumber": {
          "type": "string",
          "description": "Preferred phone number"
        },
        "relationshipCode": {
          "type": "string",
          "description": "Code describing the relationship"
        },
        "relationshipDescription": {
          "type": "string",
          "description": "Description of the relationship"
        },
        "ssn": {
          "type": "string",
          "description": "Social Security Number"
        },
        "contactId": {
          "type": "string",
          "description": "Identifier for the contact"
        },
        "userDefinedField01": {
          "type": "string",
          "description": "Custom field for additional info"
        },
        "workPhoneExtension": {
          "type": "string",
          "description": "Extension for the work phone number"
        },
        "workPhoneNumber": {
          "type": "string",
          "description": "Work phone number"
        },
        "cobraNotes": {
          "type": "string",
          "description": "Notes related to COBRA"
        },
        "notes": {
          "type": "string",
          "description": "General notes about the individual"
        },
        "isActive": {
          "type": "boolean",
          "description": "Indicates if the record is active"
        },
        "statusAsOfDate": {
          "type": "string",
          "description": "Date of the current status"
        },
        "deathDate": {
          "type": "string",
          "description": "Date of death"
        },
        "divorceDate": {
          "type": "string",
          "description": "Date of divorce"
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address"
        },
        "otherPhoneCountryCode": {
          "type": "string",
          "description": "Country code for other phone"
        },
        "healthCareId": {
          "type": "string",
          "description": "Health care identifier"
        },
        "nationalId": {
          "type": "string",
          "description": "National identifier"
        },
        "nationalIdExpirationDate": {
          "type": "string",
          "description": "Expiration date of national ID"
        },
        "personID": {
          "type": "string",
          "description": "Unique identifier for the person"
        },
        "addressID": {
          "type": "string",
          "description": "Identifier for address"
        },
        "workPhoneId": {
          "type": "string",
          "description": "Identifier for work phone"
        },
        "homePhoneId": {
          "type": "string",
          "description": "Identifier for home phone"
        },
        "otherPhoneId": {
          "type": "string",
          "description": "Identifier for another phone"
        }
      }
    },
    "internalServerError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      },
      "example": {
        "message": "Internal Server Error"
      }
    }
  },
  "parameters": {
    "employeeID": {
      "in": "path",
      "name": "employeeID",
      "type": "string",
      "required": true,
      "description": "Employee identification number.",
      "x-ms-summary": "Employee ID"
    },
    "companyID": {
      "in": "path",
      "name": "companyID",
      "type": "string",
      "required": true,
      "description": "Company identification number.",
      "x-ms-summary": "Company ID"
    },
    "accept": {
      "name": "accept",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "application/json",
      "description": "Request header.",
      "x-ms-summary": "accept",
      "x-ms-visibility": "internal"
    },
    "US-CUSTOMER-API-KEY": {
      "name": "US-CUSTOMER-API-KEY",
      "in": "header",
      "required": true,
      "type": "string",
      "description": "Customer API Key.",
      "x-ms-summary": "US-CUSTOMER-API-KEY"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/ukgprohcm"
  }
}
