{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "LiveChat",
    "description": "LiveChat is an online customer service software with live support, help desk software and web analytics capabilities.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/ticket_created_webhook/webhooks": {
      "post": {
        "summary": "When a ticket is created",
        "description": "This operation triggers when a new ticket is added.",
        "x-ms-visibility": "important",
        "operationId": "WebhookTicketCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "ticket_created"
          },
          {
            "name": "data_types[]",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "ticket"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create a ticket.",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#when-a-ticket-is-created"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookTicketResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/chat_starts_webhook/webhooks": {
      "post": {
        "summary": "When a chat starts",
        "description": "This operation triggers when new a chat starts.",
        "operationId": "WebhookChatStarted",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "chat_started"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, start a chat.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#when-a-chat-starts"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookChatResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/chat_ends_webhook/webhooks": {
      "post": {
        "summary": "When a chat ends",
        "description": "This operation triggers when a chat ends.",
        "operationId": "WebhookChatEnded",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "chat_ended"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, end a chat.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#when-a-chat-ends"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookChatResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/webhooks/{hookId}": {
      "delete": {
        "summary": "Delete hook",
        "description": "Delete a hook.",
        "operationId": "DeleteHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#delete-hook"
        }
      }
    },
    "/{connectionId}/agents": {
      "get": {
        "summary": "List agents",
        "description": "This operation returns a list of all the agents in your LiveChat account.",
        "operationId": "ListAgents",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListAgents_Response"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#list-agents"
        }
      },
      "post": {
        "summary": "Create a new agent",
        "description": "This operation is used to add a new agent to your LiveChat account.",
        "operationId": "CreateAgent",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAgent_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CreateAgent_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#create-a-new-agent"
        }
      }
    },
    "/{connectionId}/agents/{login}": {
      "delete": {
        "summary": "Remove an agent",
        "description": "This operation is used to delete an agent from your LiveChat account.",
        "operationId": "DeleteAgent",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "login",
            "in": "path",
            "required": true,
            "x-ms-summary": "Email",
            "description": "The email of the agent.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/DeleteAgent_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#remove-an-agent"
        }
      }
    },
    "/{connectionId}/tickets": {
      "get": {
        "summary": "List tickets",
        "description": "This operation returns a list of tickets in your LiveChat account.",
        "operationId": "ListTickets",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListTicketsResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#list-tickets"
        }
      },
      "post": {
        "summary": "Create a new ticket",
        "description": "This operation is used to add a new ticket to your LiveChat account.",
        "operationId": "CreateTicket",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Createticket_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/TicketResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#create-a-new-ticket"
        }
      }
    },
    "/{connectionId}/tickets/{ticketId}/tags": {
      "put": {
        "summary": "Update ticket",
        "description": "This operation is used to update the details of an existing ticket in your LiveChat account.",
        "operationId": "UpdateTicket",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ticketId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updateticket_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/TicketResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#update-ticket"
        }
      }
    },
    "/{connectionId}/tickets/{ticketId}": {
      "get": {
        "summary": "Get ticket",
        "description": "This operation is used to fetch the details of a specific ticket in your LiveChat account.",
        "operationId": "GetTicket",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ticketId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/TicketResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/livechat/#get-ticket"
        }
      }
    },
    "/webhook_response": {
      "post": {
        "operationId": "WebhookResponse",
        "parameters": [
          {
            "name": "logicAppsUri",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    }
  },
  "definitions": {
    "WebhookRequest": {
      "required": [
        "url"
      ],
      "type": "object",
      "properties": {
        "url": {
          "description": "url",
          "type": "string",
          "x-ms-summary": "url",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        }
      }
    },
    "Createticket_Request": {
      "required": [
        "message",
        "requester"
      ],
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "x-ms-summary": "Message",
          "x-ms-visibility": "important"
        },
        "requester": {
          "required": [
            "mail"
          ],
          "type": "object",
          "properties": {
            "mail": {
              "type": "string",
              "x-ms-summary": "Requester's Email",
              "x-ms-visibility": "important"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Requester's Name",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "subject": {
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "advanced"
        },
        "assignee": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "x-ms-summary": "Assignee Id",
              "x-ms-visibility": "important",
              "x-ms-dynamic-values": {
                "operationId": "ListAgents",
                "value-path": "login",
                "value-title": "name"
              }
            }
          }
        },
        "source": {
          "type": "object",
          "properties": {
            "type": {
              "description": "Pick a source",
              "enum": [
                "chat-window",
                "mail",
                "lc2"
              ],
              "type": "string",
              "x-ms-summary": "Source Type",
              "x-ms-visibility": "advanced"
            },
            "url": {
              "description": "If source type is chat-window.",
              "type": "string",
              "x-ms-summary": "Source URL",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "subject": "I have a problem",
        "message": "Hi,I have a problem with my shoes. Could you please advise?",
        "requester": {
          "mail": "mary.brown@email.com",
          "name": "Mary Brown"
        }
      }
    },
    "Updateticket_Request": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "x-ms-summary": "Message",
          "x-ms-visibility": "important"
        },
        "requester": {
          "required": [
            "mail"
          ],
          "type": "object",
          "properties": {
            "mail": {
              "type": "string",
              "x-ms-summary": "Requester's Email",
              "x-ms-visibility": "important"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Requester's Name",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "important"
        },
        "subject": {
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "advanced"
        },
        "assignee": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "x-ms-summary": "Assignee Id",
              "description": "Pick an assignee.",
              "x-ms-visibility": "important",
              "x-ms-dynamic-values": {
                "operationId": "ListAgents",
                "value-path": "login",
                "value-title": "name"
              }
            }
          },
          "x-ms-visibility": "advanced"
        },
        "source": {
          "type": "object",
          "properties": {
            "type": {
              "description": "Pick a source.",
              "enum": [
                "chat-window",
                "mail",
                "lc2"
              ],
              "type": "string",
              "x-ms-summary": "Source Type",
              "x-ms-visibility": "advanced"
            },
            "url": {
              "description": "If source type is chat-window.",
              "type": "string",
              "x-ms-summary": "Source URL",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "subject": "I have a problem",
        "message": "Hi,I have a problem with my shoes. Could you please advise?",
        "requester": {
          "mail": "mary.brown@email.com",
          "name": "Mary Brown"
        }
      }
    },
    "WebhookChatResponse": {
      "type": "object",
      "properties": {
        "chat": {
          "type": "object",
          "properties": {
            "agents": {
              "description": "agents",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "login": {
                    "type": "string",
                    "description": "Email address of the agent.",
                    "x-ms-summary": "Agent Email",
                    "x-ms-visibility": "important"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the agent.",
                    "x-ms-summary": "Agent Name",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "x-ms-visibility": "important"
            },
            "ended_timestamp": {
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Ended Timestamp",
              "x-ms-visibility": "important"
            },
            "events": {
              "type": "array",
              "description": "Array of events.",
              "items": {
                "type": "object",
                "properties": {
                  "text": {
                    "description": "Message associated with the event.",
                    "type": "string",
                    "x-ms-summary": "Event Text",
                    "x-ms-visibility": "advanced"
                  },
                  "timestamp": {
                    "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                    "type": "string",
                    "x-ms-summary": "Event Date-Time",
                    "x-ms-visibility": "advanced"
                  },
                  "type": {
                    "description": "Type of event.",
                    "type": "string",
                    "x-ms-summary": "Event Type",
                    "x-ms-visibility": "advanced"
                  },
                  "user_type": {
                    "description": "Type of user.",
                    "type": "string",
                    "x-ms-summary": "Event User Type",
                    "x-ms-visibility": "advanced"
                  }
                }
              },
              "x-ms-visibility": "advanced"
            },
            "groups": {
              "type": "array",
              "items": {
                "description": "Array of groups.",
                "type": "integer",
                "x-ms-summary": "Groups"
              },
              "x-ms-visibility": "advanced"
            },
            "id": {
              "description": "Unique identifier of the group.",
              "type": "string",
              "x-ms-summary": "Group Id",
              "x-ms-visibility": "important"
            },
            "messages": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "description": "Unique id of the agent associated with the message.",
                    "type": "string",
                    "x-ms-summary": "Agent Id",
                    "x-ms-visibility": "advanced"
                  },
                  "author_name": {
                    "description": "Name of the message's author..",
                    "type": "string",
                    "x-ms-summary": "Author Name",
                    "x-ms-visibility": "advanced"
                  },
                  "text": {
                    "description": "Body of the message.",
                    "type": "string",
                    "x-ms-summary": "Text",
                    "x-ms-visibility": "advanced"
                  },
                  "timestamp": {
                    "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                    "type": "string",
                    "x-ms-summary": "Sent Date-Time",
                    "x-ms-visibility": "advanced"
                  },
                  "user_type": {
                    "description": "Type of the user sending the message.",
                    "type": "string",
                    "x-ms-summary": "User Type",
                    "x-ms-visibility": "advanced"
                  }
                }
              },
              "x-ms-summary": "Message",
              "description": "Array of messages.",
              "x-ms-visibility": "important"
            },
            "started_timestamp": {
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Started Date-Time",
              "x-ms-visibility": "important"
            },
            "tags": {
              "type": "array",
              "items": {
                "description": "Array of tags.",
                "type": "string",
                "x-ms-summary": "Tags"
              },
              "x-ms-visibility": "advanced"
            },
            "url": {
              "description": "Url of the website where chat started.",
              "type": "string",
              "x-ms-summary": "URL",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Chat",
          "x-ms-visibility": "advanced"
        },
        "event_unique_id": {
          "description": "Unique id of the event associated with the chat.",
          "type": "string",
          "x-ms-summary": "Event Id",
          "x-ms-visibility": "advanced"
        },
        "license_id": {
          "description": "license_id",
          "x-ms-summary": "License Id",
          "x-ms-visibility": "internal"
        },
        "pre_chat_survey": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "answer": {
                "description": "Survey answer.",
                "type": "string",
                "x-ms-summary": "Answer",
                "x-ms-visibility": "important"
              },
              "id": {
                "description": "Pre chat survey id.",
                "type": "string",
                "x-ms-summary": "Survey Id",
                "x-ms-visibility": "advanced"
              },
              "label": {
                "description": "Survey question.",
                "type": "string",
                "x-ms-summary": "Question",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "Pre Chat Survey",
          "description": "Array of pre chat survey responses.",
          "x-ms-visibility": "advanced"
        },
        "token": {
          "type": "string",
          "x-ms-summary": "Token",
          "x-ms-visibility": "internal"
        },
        "visitor": {
          "type": "object",
          "properties": {
            "email": {
              "type": "string",
              "x-ms-summary": "Email",
              "description": "Email address of the visitor.",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "type": "string",
              "x-ms-summary": "Id",
              "description": "Unique id of the visitor.",
              "x-ms-visibility": "advanced"
            },
            "language": {
              "type": "string",
              "x-ms-summary": "Language",
              "description": "Language associated with the visitor's account.",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "description": "Name of the visitor.",
              "x-ms-visibility": "advanced"
            },
            "page_current": {
              "description": "Webpage that the chat originated from.",
              "type": "string",
              "x-ms-summary": "Page",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Visitor",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "WebhookTicketResponse": {
      "type": "object",
      "properties": {
        "license_id": {
          "description": "license_id",
          "x-ms-summary": "License Id",
          "x-ms-visibility": "internal"
        },
        "ticket": {
          "type": "object",
          "properties": {
            "assignee": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "Unique identifier of the user.",
                  "type": "string",
                  "x-ms-summary": "Id",
                  "x-ms-visibility": "advanced"
                },
                "name": {
                  "description": "Name of the assignee.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-summary": "Assignee"
            },
            "events": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "author": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "x-ms-summary": "Id",
                        "description": "Unique id of the user.",
                        "x-ms-visibility": "advanced"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the author.",
                        "x-ms-summary": "Name",
                        "x-ms-visibility": "important"
                      },
                      "type": {
                        "type": "string",
                        "description": "Agent or client.",
                        "x-ms-summary": "Type",
                        "x-ms-visibility": "important"
                      }
                    },
                    "x-ms-summary": "Author"
                  },
                  "date": {
                    "format": "date-time",
                    "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                    "type": "string",
                    "x-ms-summary": "Event Date-Time",
                    "x-ms-visibility": "important"
                  },
                  "is_private": {
                    "description": "True if event is private.",
                    "type": "boolean",
                    "x-ms-summary": "Is Private",
                    "x-ms-visibility": "advanced"
                  },
                  "message": {
                    "description": "Description of the event.",
                    "type": "string",
                    "x-ms-summary": "Message",
                    "x-ms-visibility": "important"
                  },
                  "source": {
                    "description": "Ticket source description.",
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Chat-window, mail or lc2.",
                        "x-ms-summary": "Type",
                        "x-ms-visibility": "important"
                      },
                      "url": {
                        "type": "string",
                        "description": "Url of the website that the ticket was sent from.",
                        "x-ms-summary": "URL",
                        "x-ms-visibility": "important"
                      }
                    },
                    "x-ms-summary": "Source"
                  },
                  "type": {
                    "description": "Type of event that generated the ticket.",
                    "type": "string",
                    "x-ms-summary": "Event Type",
                    "x-ms-visibility": "advanced"
                  }
                }
              },
              "x-ms-visibility": "advanced"
            },
            "groups": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "format": "int32",
                    "description": "Unique id of the group.",
                    "type": "integer",
                    "x-ms-summary": "Id",
                    "x-ms-visibility": "advanced"
                  },
                  "name": {
                    "description": "Name of the group.",
                    "type": "string",
                    "x-ms-summary": "Name",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "x-ms-summary": "Group",
              "description": "Details of the associated group."
            },
            "id": {
              "description": "Unique id of the ticket.",
              "type": "string",
              "x-ms-summary": "Ticket Id",
              "x-ms-visibility": "advanced"
            },
            "requester": {
              "type": "object",
              "properties": {
                "ip": {
                  "description": "IP address of the requester.",
                  "type": "string",
                  "x-ms-summary": "IP",
                  "x-ms-visibility": "advanced"
                },
                "mail": {
                  "description": "Email address of the requester.",
                  "type": "string",
                  "x-ms-summary": "Email",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "description": "Name of the requester.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-summary": "Requester",
              "description": "Details of the requester."
            },
            "source": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "Unique id of the source.",
                  "type": "string",
                  "x-ms-summary": "Id",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "description": "Lc2, mail, facebook, agent-app-manual or chat-window.",
                  "type": "string",
                  "x-ms-summary": "Type",
                  "x-ms-visibility": "advanced"
                },
                "url": {
                  "description": "Url of the website where ticket was created.",
                  "type": "string",
                  "x-ms-summary": "URL",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-summary": "Source",
              "x-ms-visibility": "advanced"
            },
            "status": {
              "description": "Open, pending, solved or spam.",
              "type": "string",
              "x-ms-summary": "Status",
              "x-ms-visibility": "important"
            },
            "subject": {
              "description": "Short description of the ticket.",
              "type": "string",
              "x-ms-summary": "Subject",
              "x-ms-visibility": "important"
            },
            "tags": {
              "type": "array",
              "items": {
                "description": "List of tags.",
                "type": "string",
                "x-ms-summary": "Tags"
              },
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "token": {
          "description": "token",
          "type": "string",
          "x-ms-summary": "Token",
          "x-ms-visibility": "internal"
        }
      }
    },
    "ListTicketsResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "date": {
            "format": "date-time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
            "type": "string",
            "x-ms-summary": "Created Date-Time",
            "x-ms-visibility": "important"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the ticket.",
            "x-ms-summary": "Ticket Id",
            "x-ms-visibility": "advanced"
          },
          "modified": {
            "format": "date-time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
            "type": "string",
            "x-ms-summary": "Modified Date-Time",
            "x-ms-visibility": "advanced"
          },
          "requester": {
            "description": "requester",
            "type": "object",
            "properties": {
              "ip": {
                "description": "IP address of the requester.",
                "type": "string",
                "x-ms-summary": "IP",
                "x-ms-visibility": "advanced"
              },
              "mail": {
                "description": "Email address of the requester.",
                "type": "string",
                "x-ms-summary": "Email",
                "x-ms-visibility": "important"
              },
              "name": {
                "description": "Full name of the requester.",
                "type": "string",
                "x-ms-summary": "Name",
                "x-ms-visibility": "important"
              }
            },
            "x-ms-summary": "Requester",
            "x-ms-visibility": "advanced"
          },
          "source": {
            "description": "Details of the ticket source.",
            "x-ms-summary": "Source",
            "type": "object",
            "properties": {
              "id": {
                "description": "Unique identifier of the source.",
                "type": "string",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "From chat, mail or lc2.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              },
              "url": {
                "description": "Webpage where the ticket was created.",
                "type": "string",
                "x-ms-summary": "URL",
                "x-ms-visibility": "important"
              }
            },
            "x-ms-visibility": "advanced"
          },
          "status": {
            "description": "Open, pending, solved or spam.",
            "type": "string",
            "x-ms-summary": "Status",
            "x-ms-visibility": "important"
          },
          "subject": {
            "description": "Description of the ticket source.",
            "type": "string",
            "x-ms-summary": "Subject",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "TicketResponse": {
      "type": "object",
      "properties": {
        "currentGroup": {
          "description": "currentGroup",
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Unique id of the group.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the group.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Group",
          "x-ms-visibility": "advanced"
        },
        "date": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "important"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "author": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Id",
                    "description": "Unique id of the user.",
                    "x-ms-visibility": "advanced"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the author.",
                    "x-ms-summary": "Name",
                    "x-ms-visibility": "important"
                  },
                  "type": {
                    "type": "string",
                    "description": "Agent or client.",
                    "x-ms-summary": "Type",
                    "x-ms-visibility": "important"
                  }
                },
                "x-ms-summary": "Author"
              },
              "date": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                "type": "string",
                "x-ms-summary": "Event Date-Time",
                "x-ms-visibility": "important"
              },
              "is_private": {
                "description": "True if event is private.",
                "type": "boolean",
                "x-ms-summary": "Is Private",
                "x-ms-visibility": "advanced"
              },
              "message": {
                "description": "Description of the event.",
                "type": "string",
                "x-ms-summary": "Message",
                "x-ms-visibility": "important"
              },
              "source": {
                "description": "Ticket source description.",
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Chat-window, mail or lc2.",
                    "x-ms-summary": "Type",
                    "x-ms-visibility": "important"
                  },
                  "url": {
                    "type": "string",
                    "description": "Url of the website that the ticket was sent from.",
                    "x-ms-summary": "URL",
                    "x-ms-visibility": "important"
                  }
                },
                "x-ms-summary": "Source"
              },
              "type": {
                "description": "Type of event that generated the ticket.",
                "type": "string",
                "x-ms-summary": "Event Type",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-visibility": "advanced"
        },
        "groups": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "Unique id of the group.",
                "type": "integer",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Name of the group.",
                "type": "string",
                "x-ms-summary": "Name",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "Group",
          "description": "Details of the associated group."
        },
        "id": {
          "description": "Unique id of the ticket.",
          "type": "string",
          "x-ms-summary": "Ticket Id",
          "x-ms-visibility": "advanced"
        },
        "requester": {
          "type": "object",
          "properties": {
            "ip": {
              "description": "IP address of the requester.",
              "type": "string",
              "x-ms-summary": "IP",
              "x-ms-visibility": "advanced"
            },
            "mail": {
              "description": "Email address of the requester.",
              "type": "string",
              "x-ms-summary": "Email",
              "x-ms-visibility": "important"
            },
            "name": {
              "description": "Name of the requester.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Requester",
          "description": "Details of the requester."
        },
        "source": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Unique id of the source.",
              "type": "string",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "Lc2, mail, facebook, agent-app-manual or chat-window.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            },
            "url": {
              "description": "Url of the website where ticket was created.",
              "type": "string",
              "x-ms-summary": "URL",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Source",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "Open, pending, solved or spam.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "subject": {
          "description": "Short description of the ticket.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "tags": {
          "type": "array",
          "items": {
            "description": "List of tags.",
            "type": "string",
            "x-ms-summary": "Tags"
          },
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListAgents_Response": {
      "type": "array",
      "x-ms-summary": "Agents Array",
      "description": "List of all agents with their details.",
      "items": {
        "type": "object",
        "properties": {
          "avatar": {
            "description": "Path to the image on Amazon s3.",
            "type": "string",
            "x-ms-summary": "Avatar",
            "x-ms-visibility": "advanced"
          },
          "login": {
            "description": "The agent's email address.",
            "type": "string",
            "x-ms-summary": "Login Email",
            "x-ms-visibility": "important"
          },
          "name": {
            "type": "string",
            "x-ms-summary": "Name",
            "description": "Agent's name.",
            "x-ms-visibility": "important"
          },
          "permission": {
            "type": "string",
            "x-ms-summary": "Permission",
            "description": "Owner, administrator or normal.",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "CreateAgent_Request": {
      "required": [
        "login",
        "name"
      ],
      "type": "object",
      "properties": {
        "login": {
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "login_status": {
          "enum": [
            "accepting chats",
            "not accepting chats"
          ],
          "type": "string",
          "x-ms-summary": "Login status",
          "x-ms-visibility": "advanced"
        },
        "job_title": {
          "description": "Defaults to: Support Agent.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "advanced"
        },
        "permission": {
          "enum": [
            "administrator",
            "normal"
          ],
          "type": "string",
          "x-ms-summary": "Permission",
          "x-ms-visibility": "advanced"
        },
        "password": {
          "description": "Minimum length 5.",
          "type": "string",
          "x-ms-summary": "Password",
          "x-ms-visibility": "advanced"
        },
        "max_chats_count": {
          "description": "Limit of the concurrent chats.",
          "type": "string",
          "x-ms-summary": "Max chat counts",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CreateAgent_Response": {
      "type": "object",
      "properties": {
        "avatar": {
          "description": "Path to the image on Amazon s3.",
          "type": "string",
          "x-ms-summary": "Avatar",
          "x-ms-visibility": "advanced"
        },
        "groups": {
          "description": "List of all groups the agent is a part of.",
          "x-ms-summary": "Groups Array",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "Unique id of the group.",
                "type": "integer",
                "x-ms-summary": "Group Id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Name of the group.",
                "type": "string",
                "x-ms-summary": "Group Name",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-visibility": "advanced"
        },
        "job_title": {
          "type": "string",
          "x-ms-summary": "Job Title",
          "description": "Support agent by default.",
          "x-ms-visibility": "important"
        },
        "license_id": {
          "description": "license_id",
          "x-ms-summary": "License Id",
          "x-ms-visibility": "internal"
        },
        "login": {
          "description": "The agent's email address.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "login_status": {
          "description": "Accepting chats or not accepting chats.",
          "type": "string",
          "x-ms-summary": "Login Status",
          "x-ms-visibility": "advanced"
        },
        "max_chats_count": {
          "format": "int32",
          "description": "Limit of the concurrent chats.",
          "type": "integer",
          "x-ms-summary": "Max Chat Counts",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "Agent's name.",
          "x-ms-visibility": "important"
        },
        "permission": {
          "type": "string",
          "x-ms-summary": "Permission",
          "description": "Owner, administrator or normal",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Accepting chats, not accepting chats or offline.",
          "x-ms-visibility": "important"
        }
      }
    },
    "DeleteAgent_Response": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "x-ms-summary": "Result",
          "x-ms-visibility": "internal"
        }
      }
    }
  },
  "parameters": {
    "ticketId__in_path": {
      "name": "ticketId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Ticket Id",
      "description": "The id of the ticket",
      "x-ms-test-value": "Q2HVD",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "basic"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.livechat.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.livechat.com/legal/privacy-policy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/livechat"
  },
  "basePath": "/apim/livechat"
}
