{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Dynamics 365 Business Central",
    "description": "Dynamics 365 Business Central is a business management solution for small and mid-sized organizations that automates and streamlines business processes and helps you manage your business.",
    "contact": {
      "name": "Microsoft",
      "url": "https://dynamics.microsoft.com/en-us/business-central/overview/"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dynamicssmbsaas",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/v2/$metadata.json/environments/{environment}/datasets": {
      "get": {
        "tags": [
          "DynamicsSmbSaasDataSetsMetadataV2"
        ],
        "summary": "Gets company metadata (V2)",
        "description": "Retrieves all company metadata available to the connection",
        "operationId": "GetDataSetsMetadataV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#gets-company-metadata-(v2)"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/environments/{environment}/datasets/{dataset}/procedures/{procedure}": {
      "get": {
        "tags": [
          "DynamicsSmbSaasProcedureMetadataV2"
        ],
        "operationId": "GetProcedureV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "procedure",
            "in": "path",
            "required": true,
            "x-ms-summary": "Action name",
            "x-ms-dynamic-values": {
              "operationId": "GetProceduresV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcedureMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/v2/$metadata.json/environments/{environment}/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "DynamicsSmbSaasTableMetadataV2"
        ],
        "summary": "Get record metadata (V2)",
        "description": "Retrieves record metadata for a Dynamics 365 Business Central object type",
        "operationId": "GetTableV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTablesV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#get-record-metadata-(v2)"
        }
      }
    },
    "/{connectionId}/v2/datasets": {
      "get": {
        "tags": [
          "DynamicsSmbSaasDataSetV2"
        ],
        "summary": "Lists datasets exposed by the connection",
        "description": "Lists datasets exposed by the connection",
        "operationId": "LegacyGetDataSetsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#lists-datasets-exposed-by-the-connection"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments": {
      "get": {
        "tags": [
          "DynamicsSmbSaasDataSetV2"
        ],
        "summary": "Lists environments exposed by the connection",
        "description": "Lists environments exposed by the connection",
        "operationId": "GetEnvironmentsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnvironmentsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#lists-environments-exposed-by-the-connection"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets": {
      "get": {
        "tags": [
          "DynamicsSmbSaasDataSetV2"
        ],
        "summary": "Gets companies (V2)",
        "description": "Retrieves all companies available to the connection",
        "operationId": "GetDataSetsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#gets-companies-(v2)"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/procedures": {
      "get": {
        "tags": [
          "DynamicsSmbSaasProcedureV2"
        ],
        "summary": "Get actions (V2)",
        "description": "Lists the Dynamics 365 Business Central actions.",
        "operationId": "GetProceduresV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Company name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProceduresList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#get-actions-(v2)"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/procedures/{procedure}": {
      "post": {
        "tags": [
          "DynamicsSmbSaasProcedureV2"
        ],
        "summary": "Run action (V2)",
        "description": "Runs a Dynamics 365 Business Central action.",
        "operationId": "ExecuteProcedureV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "procedure",
            "in": "path",
            "description": "Name of action",
            "required": true,
            "x-ms-summary": "Action name",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetProceduresV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Input parameters to the action",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetProcedureV2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "procedure": {
                    "parameter": "procedure"
                  },
                  "environment": {
                    "parameter": "environment"
                  }
                },
                "value-path": "Schema/InputParameters"
              }
            },
            "x-ms-summary": "Parameters list"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/ProcedureResult"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetProcedureV2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "procedure": {
                    "parameter": "procedure"
                  },
                  "environment": {
                    "parameter": "environment"
                  }
                },
                "value-path": "schema/procedureresultschema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#run-action-(v2)"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/tables": {
      "get": {
        "tags": [
          "DynamicsSmbSaasTableV2"
        ],
        "summary": "Get record types (V2)",
        "description": "Retrieves Dynamics 365 Business Central record types",
        "operationId": "GetTablesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Company name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#get-record-types-(v2)"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/tables/{table}/{triggerType}/$subscriptions/{id}": {
      "delete": {
        "tags": [
          "DynamicsSmbSaasSubscriptionV2"
        ],
        "operationId": "DeleteSubscriptionV2",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "patch": {
        "tags": [
          "DynamicsSmbSaasSubscriptionV2"
        ],
        "operationId": "RenewSubscriptionV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionRequest"
            }
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "triggerType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/tables/{table}/items": {
      "get": {
        "tags": [
          "DynamicsSmbSaasTableDataV2"
        ],
        "summary": "Get records (V2)",
        "description": "Retrieves Dynamics 365 Business Central records of a certain Dynamics 365 Business Central type (example: 'Suggestion')",
        "operationId": "GetItemsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "$apply",
            "in": "query",
            "description": "A sequence of OData aggregation transformations",
            "required": false,
            "x-ms-summary": "Aggregation transformation",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#get-records-(v2)"
        }
      },
      "post": {
        "tags": [
          "DynamicsSmbSaasTableDataV2"
        ],
        "summary": "Create record (V2)",
        "description": "Creates a Dynamics 365 Business Central record",
        "operationId": "PostItemV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to insert into the specified table in Dynamics 365 Business Central",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTableV2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  },
                  "environment": {
                    "parameter": "environment"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTableV2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  },
                  "environment": {
                    "parameter": "environment"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#create-record-(v2)"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "DynamicsSmbSaasTableDataV2"
        ],
        "summary": "Get record (V2)",
        "description": "Retrieves a Dynamics 365 Business Central record",
        "operationId": "GetItemV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to retrieve",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTableV2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  },
                  "environment": {
                    "parameter": "environment"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#get-record-(v2)"
        }
      },
      "delete": {
        "tags": [
          "DynamicsSmbSaasTableDataV2"
        ],
        "summary": "Delete record (V2)",
        "description": "Deletes a Dynamics 365 Business Central record",
        "operationId": "DeleteItemV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to delete",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#delete-record-(v2)"
        }
      },
      "patch": {
        "tags": [
          "DynamicsSmbSaasTableDataV2"
        ],
        "summary": "Update record (V2)",
        "description": "Updates an existing Dynamics 365 Business Central record",
        "operationId": "PatchItemV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTablesV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Table name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to update",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row with updated values",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTableV2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  },
                  "environment": {
                    "parameter": "environment"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTableV2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  },
                  "environment": {
                    "parameter": "environment"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#update-record-(v2)"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/tables/{table}/onchangeditems/$subscriptions": {
      "post": {
        "tags": [
          "DynamicsSmbSaasSubscriptionV2"
        ],
        "summary": "When a record is changed (V2)",
        "description": "Triggers a flow when a record is changed in Dynamics 365 Business Central",
        "operationId": "CreateOnChangedItemsSubscriptionV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionRequest"
            }
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForWebhookV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-record-is-changed-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Ids",
        "schema": {
          "$ref": "#/definitions/TriggerBatchResponse[IdResponse]"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/tables/{table}/ondeleteditems/$subscriptions": {
      "post": {
        "tags": [
          "DynamicsSmbSaasSubscriptionV2"
        ],
        "summary": "When a record is deleted (V2)",
        "description": "Triggers a flow when a record is deleted in Dynamics 365 Business Central",
        "operationId": "CreateOnDeletedItemsSubscriptionV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionRequest"
            }
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForWebhookV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-record-is-deleted-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Ids",
        "schema": {
          "$ref": "#/definitions/TriggerBatchResponse[IdResponse]"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/tables/{table}/onnewitems/$subscriptions": {
      "post": {
        "tags": [
          "DynamicsSmbSaasSubscriptionV2"
        ],
        "summary": "When a record is created (V2)",
        "description": "Triggers a flow when a record is created in Dynamics 365 Business Central",
        "operationId": "CreateOnNewItemsSubscriptionV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionRequest"
            }
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForWebhookV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-record-is-created-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Ids",
        "schema": {
          "$ref": "#/definitions/TriggerBatchResponse[IdResponse]"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/datasets/{dataset}/tables/{table}/onupdateditems/$subscriptions": {
      "post": {
        "tags": [
          "DynamicsSmbSaasSubscriptionV2"
        ],
        "summary": "When a record is modified (V2)",
        "description": "Triggers a flow when a record is modified in Dynamics 365 Business Central",
        "operationId": "CreateOnUpdatedItemsSubscriptionV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionRequest"
            }
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Company name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central table",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTablesForWebhookV2",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                },
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Table name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-record-is-modified-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Ids",
        "schema": {
          "$ref": "#/definitions/TriggerBatchResponse[IdResponse]"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/customerapproval/entityproperties": {
      "get": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "Gets a list of the properties for the Customer Approval entity",
        "description": "Gets a list of the properties for the Customer Approval entity.",
        "operationId": "GetCustomerApprovalEntityPropertiesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityProperty"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#gets-a-list-of-the-properties-for-the-customer-approval-entity"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/datasets/{dataset}/customerapproval": {
      "post": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "When a customer approval is requested (V2)",
        "description": "Triggers a flow when a customer approval request occurs in Dynamics 365 Business Central.",
        "operationId": "CreateCustomerApprovalWebHookV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company.",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "Subscription information for the customer approval trigger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerApprovalSubscription"
            },
            "x-ms-summary": "Subscription information for the customer approval trigger."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-customer-approval-is-requested-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Approval request",
        "schema": {
          "$ref": "#/definitions/ApprovalWebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/datasets/{dataset}/generaljournalbatchapproval": {
      "post": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "When a general journal batch approval is requested (V2)",
        "description": "Triggers a flow when a general journal batch approval request occurs in Dynamics 365 Business Central.",
        "operationId": "CreateGeneralJournalBatchApprovalWebHookV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company.",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "Subscription information for the general journal batch approval trigger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralJournalBatchApprovalSubscription"
            },
            "x-ms-summary": "Subscription information for the general journal batch approval trigger."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-general-journal-batch-approval-is-requested-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Approval request",
        "schema": {
          "$ref": "#/definitions/ApprovalWebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/datasets/{dataset}/generaljournallineapproval": {
      "post": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "When a general journal line approval is requested (V2)",
        "description": "Triggers a flow when a general journal line approval request occurs in Dynamics 365 Business Central.",
        "operationId": "CreateGeneralJournalLineApprovalWebHookV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company.",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "Subscription information for the general journal line approval trigger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralJournalLineApprovalSubscription"
            },
            "x-ms-summary": "Subscription information for the general journal line approval trigger."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-general-journal-line-approval-is-requested-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Approval request",
        "schema": {
          "$ref": "#/definitions/ApprovalWebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/datasets/{dataset}/itemapproval": {
      "post": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "When an item approval is requested (V2)",
        "description": "Triggers a flow when an item approval request occurs in Dynamics 365 Business Central.",
        "operationId": "CreateItemApprovalWebHookV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company.",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "Subscription information for the item approval trigger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ItemApprovalSubscription"
            },
            "x-ms-summary": "Subscription information for the item approval trigger."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-an-item-approval-is-requested-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Approval request",
        "schema": {
          "$ref": "#/definitions/ApprovalWebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/datasets/{dataset}/purchasedocumentapproval": {
      "post": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "When a purchase document approval is requested (V2)",
        "description": "Triggers a flow when a purchase document approval request occurs in Dynamics 365 Business Central.",
        "operationId": "CreatePurchaseDocumentApprovalWebHookV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company.",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "Subscription information for the purchase document approval trigger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurchaseDocumentApprovalSubscription"
            },
            "x-ms-summary": "Subscription information for the purchase document approval trigger."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-purchase-document-approval-is-requested-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Approval request",
        "schema": {
          "$ref": "#/definitions/ApprovalWebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/datasets/{dataset}/salesdocumentapproval": {
      "post": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "When a sales document approval is requested (V2)",
        "description": "Triggers a flow when a sales document approval request occurs in Dynamics 365 Business Central.",
        "operationId": "CreateSalesDocumentApprovalWebHookV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company.",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "Subscription information for the sales document approval trigger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SalesDocumentApprovalSubscription"
            },
            "x-ms-summary": "Subscription information for the sales document approval trigger."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-sales-document-approval-is-requested-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Approval request",
        "schema": {
          "$ref": "#/definitions/ApprovalWebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/datasets/{dataset}/subscriptions/{id}": {
      "delete": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "Deletes a webhook subscription",
        "description": "Deletes a webhook subscription in Dynamics 365 Business Central.",
        "operationId": "DeleteWebHookSubscriptionV2",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company.",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the subscription to be deleted.",
            "required": true,
            "x-ms-summary": "Id of the subscription to be deleted.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#deletes-a-webhook-subscription"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/datasets/{dataset}/vendorapproval": {
      "post": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "When a vendor approval is requested (V2)",
        "description": "Triggers a flow when a vendor approval request occurs in Dynamics 365 Business Central.",
        "operationId": "CreateVendorApprovalWebHookV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "description": "The Dynamics 365 Business Central environment.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Environment",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvironmentsV2",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "type": "string",
            "default": "Production"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of the Dynamics 365 Business Central company.",
            "required": true,
            "x-ms-summary": "Company name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSetsV2",
              "parameters": {
                "environment": {
                  "parameter": "environment"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "Subscription information for the vendor approval trigger.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VendorApprovalSubscription"
            },
            "x-ms-summary": "Subscription information for the vendor approval trigger."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebHookSubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#when-a-vendor-approval-is-requested-(v2)"
        }
      },
      "x-ms-notification-content": {
        "description": "Approval request",
        "schema": {
          "$ref": "#/definitions/ApprovalWebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/generaljournalbatchapproval/entityproperties": {
      "get": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "Gets a list of the properties for the General Journal Batch Approval entity",
        "description": "Gets a list of the properties for the General Journal Batch Approval entity.",
        "operationId": "GetGeneralJournalBatchApprovalEntityPropertiesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityProperty"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#gets-a-list-of-the-properties-for-the-general-journal-batch-approval-entity"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/generaljournallineapproval/entityproperties": {
      "get": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "Gets a list of the properties for the General Journal Line Approval entity",
        "description": "Gets a list of the properties for the General Journal Line Approval entity.",
        "operationId": "GetGeneralJournalLineApprovalEntityPropertiesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityProperty"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#gets-a-list-of-the-properties-for-the-general-journal-line-approval-entity"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/itemapproval/entityproperties": {
      "get": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "Gets a list of the properties for the Item Approval entity",
        "description": "Gets a list of the properties for the Item Approval entity.",
        "operationId": "GetItemApprovalEntityPropertiesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityProperty"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#gets-a-list-of-the-properties-for-the-item-approval-entity"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/purchasedocumentapproval/headerentityproperties": {
      "get": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "Gets a list of the properties for the Purchase Document Approval header entity",
        "description": "Gets a list of the properties for the Purchase Document Approval header entity.",
        "operationId": "GetPurchaseDocumentApprovalHeaderEntityPropertiesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityProperty"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#gets-a-list-of-the-properties-for-the-purchase-document-approval-header-entity"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/purchasedocumentapproval/lineentityproperties": {
      "get": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "Gets a list of the properties for the Purchase Document Approval line entity",
        "description": "Gets a list of the properties for the Purchase Document Approval line entity.",
        "operationId": "GetPurchaseDocumentApprovalLineEntityPropertiesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "Production"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityProperty"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicssmbsaas/#gets-a-list-of-the-properties-for-the-purchase-document-approval-line-entity"
        }
      }
    },
    "/{connectionId}/v2/environments/{environment}/webhook/v1/salesdocumentapproval/headerentityproperties": {
      "get": {
        "tags": [
          "DynamicsSmbSaasWorkflowV2"
        ],
        "summary": "Gets a list of the properties for the Sales Document Approval header entity",
        "description": "Gets a list of the properties for the Sales Document Approval header entity.",
        "operationId": "GetSalesDocumentApprovalHeaderEntityPropertiesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
[...]
