{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "GoToWebinar",
    "description": "Citrix GoToWebinar enables you to manage a stable and high-performance online webinar environment.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/gotowebinar",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/organizers/organizerKey/webinars": {
      "get": {
        "summary": "When a webinar is created",
        "description": "Triggers when a new webinar is created.",
        "operationId": "OnNewWebinar",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webinars"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gotowebinar/#when-a-webinar-is-created"
        }
      }
    },
    "/{connectionId}/trigger/organizers/organizerKey/webinars/{webinarKey}/registrants": {
      "get": {
        "summary": "When a registrant is added",
        "description": "Triggers when a new registrant is added to a webinar.",
        "operationId": "OnNewRegistration",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebinarKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registrants"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gotowebinar/#when-a-registrant-is-added"
        }
      }
    },
    "/{connectionId}/organizers/organizerKey/webinars/{webinarKey}": {
      "get": {
        "summary": "Get webinar",
        "description": "Retrieves all information about a scheduled webinar.",
        "operationId": "GetWebinar",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebinarKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webinar"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gotowebinar/#get-webinar"
        }
      }
    },
    "/{connectionId}/organizers/organizerKey/webinars/{webinarKey}/registrants": {
      "get": {
        "summary": "List registrants",
        "description": "Retrieves a list of all registrants for a specific webinar.",
        "operationId": "ListRegistrations",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebinarKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registrants"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gotowebinar/#list-registrants"
        }
      },
      "post": {
        "summary": "Add registrant",
        "description": "Registers one person, identified by a unique email address, for a webinar.",
        "operationId": "AddRegistrant",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebinarKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewRegistrant"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistrationResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gotowebinar/#add-registrant"
        }
      }
    },
    "/{connectionId}/organizers/organizerKey/webinars/{webinarKey}/registrants/{registrantKey}": {
      "get": {
        "summary": "Get Registrant",
        "description": "Retrieves details of a specific registrant in a webinar.",
        "operationId": "GetRegistrant",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebinarKey"
          },
          {
            "name": "registrantKey",
            "in": "path",
            "description": "They key of the registrant.",
            "required": true,
            "x-ms-summary": "Registrant key",
            "x-ms-visibility": "important",
            "x-ms-test-value": "8726618565248183052",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registrant"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gotowebinar/#get-registrant"
        }
      }
    },
    "/{connectionId}/organizers/organizerKey/webinars": {
      "get": {
        "summary": "List Webinars",
        "description": "Retrieves a list of all webinars for the authenticated user.",
        "operationId": "ListWebinars",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Webinars"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gotowebinar/#list-webinars"
        }
      }
    }
  },
  "definitions": {
    "Webinars": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/WebinarSummary"
      }
    },
    "Webinar": {
      "type": "object",
      "properties": {
        "webinarKey": {
          "description": "Unique key of the webinar.",
          "type": "string",
          "x-ms-summary": "Webinar key",
          "x-ms-visibility": "advanced"
        },
        "numberOfRegistrationLinkClicks": {
          "format": "int32",
          "description": "Number of registration link clicks.",
          "type": "integer",
          "x-ms-summary": "Registration click count",
          "x-ms-visibility": "advanced"
        },
        "times": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "startTime": {
                "format": "date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
                "type": "string",
                "x-ms-summary": "Start date-time",
                "x-ms-visibility": "important"
              },
              "endTime": {
                "format": "date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
                "type": "string",
                "x-ms-summary": "End date-time",
                "x-ms-visibility": "important"
              }
            }
          }
        },
        "numberOfRegistrants": {
          "format": "int32",
          "description": "Number of registrants at the webinar.",
          "type": "integer",
          "x-ms-summary": "Registrant count",
          "x-ms-visibility": "important"
        },
        "webinarID": {
          "description": "9-digit unique id of the webinar.",
          "type": "string",
          "x-ms-summary": "Webinar Id",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Webinar's subject.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Webinar's short description.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "timeZone": {
          "description": "Where the webinar is taking place.",
          "type": "string",
          "x-ms-summary": "Time Zone",
          "x-ms-visibility": "advanced"
        },
        "inSession": {
          "description": "True is webinar is currently in progress.",
          "type": "boolean",
          "x-ms-summary": "In session",
          "x-ms-visibility": "advanced"
        },
        "organizerKey": {
          "format": "int32",
          "description": "Unique key of the webinar organizer.",
          "type": "integer",
          "x-ms-summary": "Organizer Key",
          "x-ms-visibility": "advanced"
        },
        "registrationUrl": {
          "description": "Url the invitees can use to register.",
          "type": "string",
          "x-ms-summary": "Registration Url",
          "x-ms-visibility": "important"
        },
        "numberOfOpenedInvitations": {
          "format": "int32",
          "description": "Number of recipients who opened the invitation email to register for the webinar.",
          "type": "integer",
          "x-ms-summary": "Number of opened invitations",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "WebinarSummary": {
      "type": "object",
      "properties": {
        "webinarKey": {
          "description": "Unique key of the webinar.",
          "type": "string",
          "x-ms-summary": "Webinar key",
          "x-ms-visibility": "advanced"
        },
        "times": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "startTime": {
                "format": "date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
                "type": "string",
                "x-ms-summary": "Start date-time",
                "x-ms-visibility": "important"
              },
              "endTime": {
                "format": "date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
                "type": "string",
                "x-ms-summary": "End date-time",
                "x-ms-visibility": "important"
              }
            }
          }
        },
        "numberOfRegistrants": {
          "format": "int32",
          "description": "Number of registrants at the webinar.",
          "type": "integer",
          "x-ms-summary": "Registrant count",
          "x-ms-visibility": "important"
        },
        "webinarID": {
          "description": "9-digit unique id of the webinar.",
          "type": "string",
          "x-ms-summary": "Webinar Id",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Webinar's subject.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Webinar's short description.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "timeZone": {
          "description": "Where the webinar is taking place.",
          "type": "string",
          "x-ms-summary": "Time Zone",
          "x-ms-visibility": "advanced"
        },
        "inSession": {
          "description": "True is webinar is currently in progress.",
          "type": "boolean",
          "x-ms-summary": "In Session",
          "x-ms-visibility": "advanced"
        },
        "organizerKey": {
          "format": "int32",
          "description": "Unique key of the webinar organizer.",
          "type": "integer",
          "x-ms-summary": "Organizer Key",
          "x-ms-visibility": "advanced"
        },
        "registrationUrl": {
          "description": "Url the invitees can use to register.",
          "type": "string",
          "x-ms-summary": "Registration Url",
          "x-ms-visibility": "important"
        }
      }
    },
    "Registrants": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/RegistrantSummary"
      }
    },
    "Registrant": {
      "type": "object",
      "properties": {
        "firstName": {
          "description": "Registrant's first name.",
          "type": "string",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important"
        },
        "lastName": {
          "description": "Registrant's last name.",
          "type": "string",
          "x-ms-summary": "Last name",
          "x-ms-visibility": "important"
        },
        "unsubscribed": {
          "description": "True if the registrant opted-out from receiving other emails from the webinar's organizer.",
          "type": "boolean",
          "x-ms-summary": "Unsubscribed",
          "x-ms-visibility": "advanced"
        },
        "registrationDate": {
          "format": "date-time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-summary": "Registration date-time",
          "x-ms-visibility": "important"
        },
        "timeZone": {
          "description": "Where the webinar will take place.",
          "type": "string",
          "x-ms-summary": "Time zone",
          "x-ms-visibility": "advanced"
        },
        "responses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "question": {
                "description": "Custom question for registering.",
                "type": "string",
                "x-ms-summary": "Registration question",
                "x-ms-visibility": "advanced"
              },
              "answer": {
                "description": "Custom answer for registring.",
                "type": "string",
                "x-ms-summary": "Registration answer",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "joinUrl": {
          "description": "Url the registrant will use to join the webinar.",
          "type": "string",
          "x-ms-summary": "Join Url",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "Sequence or one session.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        },
        "registrantKey": {
          "description": "Unique key of the registrant.",
          "type": "string",
          "x-ms-summary": "Registrant Key",
          "x-ms-visibility": "advanced"
        },
        "email": {
          "description": "Registrant's email address.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Approved, denied or waiting.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        }
      }
    },
    "RegistrantSummary": {
      "type": "object",
      "properties": {
        "firstName": {
          "description": "Registrant's first name.",
          "type": "string",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important"
        },
        "lastName": {
          "description": "Registrant's last name.",
          "type": "string",
          "x-ms-summary": "Last name",
          "x-ms-visibility": "important"
        },
        "registrationDate": {
          "format": "date-time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-summary": "Registration date-time",
          "x-ms-visibility": "important"
        },
        "timeZone": {
          "description": "Where the webinar will take place.",
          "type": "string",
          "x-ms-summary": "Time zone",
          "x-ms-visibility": "advanced"
        },
        "joinUrl": {
          "description": "Url the registrant will use to join the webinar.",
          "type": "string",
          "x-ms-summary": "Join Url",
          "x-ms-visibility": "advanced"
        },
        "registrantKey": {
          "description": "Unique key of the registrant.",
          "type": "string",
          "x-ms-summary": "Registrant Key",
          "x-ms-visibility": "advanced"
        },
        "email": {
          "description": "Registrant's email address.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Approved, denied or waiting.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        }
      }
    },
    "NewRegistrant": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Registrant's email address.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important",
          "x-ms-test-value": "test@microsoft.com"
        },
        "firstName": {
          "description": "Registrant's first name.",
          "type": "string",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important",
          "x-ms-test-value": "test"
        },
        "lastName": {
          "description": "Registrant's last name.",
          "type": "string",
          "x-ms-summary": "Last name",
          "x-ms-visibility": "important",
          "x-ms-test-value": "test"
        }
      },
      "x-ms-test-value": {
        "email": "miriver@microsoft.com",
        "firstName": "Miguel",
        "lastName": "Rivera"
      }
    },
    "RegistrationResult": {
      "type": "object",
      "properties": {
        "registrantKey": {
          "description": "Unique key of the registrant.",
          "type": "string",
          "x-ms-summary": "Registrant Key",
          "x-ms-visibility": "advanced"
        },
        "joinUrl": {
          "description": "Url the registrant will use to join the webinar.",
          "type": "string",
          "x-ms-summary": "Join Url",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Approved, denied or waiting.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Registrant's description.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {
    "WebinarKey": {
      "name": "webinarKey",
      "in": "path",
      "description": "The key of the Webinar.",
      "required": true,
      "x-ms-summary": "Webinar key",
      "x-ms-test-value": "7318300300444321026",
      "x-ms-dynamic-values": {
        "operationId": "ListWebinars",
        "value-path": "webinarKey",
        "value-title": "subject"
      },
      "type": "string"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gotomeeting.com/webinar"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.logmeininc.com/legal/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/gotowebinar"
  }
}
