{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Infusionsoft",
    "description": "Infusionsoft is sales and marketing automation software built exclusively for small business success.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/crm/rest/v1/tasks/": {
      "post": {
        "summary": "Create a task",
        "description": "Create a new task.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTask_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "$ref": "#/parameters/Content-Type__in_header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/infusionsoft/#create-a-task"
        }
      }
    },
    "/{connectionId}/crm/rest/v1/tasks/{id}": {
      "put": {
        "summary": "Update a task",
        "description": "Update an existing task.",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the task.",
            "required": true,
            "x-ms-summary": "Id",
            "x-ms-test-value": 13,
            "x-ms-dynamic-values": {
              "operationId": "ListTasks",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "tasks",
              "parameters": {
                "order": "-due_date"
              }
            },
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTask_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "$ref": "#/parameters/Content-Type__in_header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/infusionsoft/#update-a-task"
        }
      }
    },
    "/{connectionId}/crm/rest/v1/tasks/search": {
      "get": {
        "summary": "List tasks",
        "description": "Retrieve a page of tasks ordered by due date.",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/order__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/infusionsoft/#list-tasks"
        }
      }
    },
    "/{connectionId}/trigger/crm/rest/v1/tasks/search": {
      "get": {
        "summary": "When a new task is created",
        "description": "Trigger a flow on a new task.",
        "operationId": "OnNewTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/order__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnNewTask_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a task in Infusionsoft.",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerValueCollection": "tasks",
        "x-ms-dev-triggerValuePath": "creation_date",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/infusionsoft/#when-a-new-task-is-created"
        }
      }
    },
    "/{connectionId}/trigger/crm/rest/v1/orders": {
      "get": {
        "summary": "When there is a new order",
        "description": "Trigger an action when there is a new order.",
        "operationId": "OnNewOrder",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListOrders_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create an order in Infusionsoft.",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerValueCollection": "orders",
        "x-ms-dev-triggerValuePath": "creation_date",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/infusionsoft/#when-there-is-a-new-order"
        }
      }
    }
  },
  "definitions": {
    "Task_Response": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "An integer that uniquely identifies this task.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "The actual task name (Do this thing).",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "A description of the task defined by the user.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "A string representing the type of Task as defined by the user from a list of types editable in the Infusionsoft application.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "priority": {
          "format": "int32",
          "description": "The priority of the task.",
          "type": "integer",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important"
        },
        "completed": {
          "description": "A boolean indicating the completed status of the task.",
          "type": "boolean",
          "x-ms-summary": "Completed",
          "x-ms-visibility": "advanced"
        },
        "url": {
          "description": "The link to the task.",
          "type": "string",
          "x-ms-summary": "URL",
          "x-ms-visibility": "advanced"
        },
        "due_date": {
          "format": "date-time",
          "description": "The datetime the task is due, given as GMT in ISO 8601 format.",
          "type": "string",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTasks_Response": {
      "type": "object",
      "properties": {
        "tasks": {
          "description": "Collection of tasks.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "An integer that uniquely identifies this task.",
                "type": "integer",
                "x-ms-summary": "Id",
                "x-ms-visibility": "important"
              },
              "title": {
                "description": "The actual task name (Do this thing).",
                "type": "string",
                "x-ms-summary": "Title",
                "x-ms-visibility": "important"
              },
              "description": {
                "description": "A description of the task defined by the user.",
                "type": "string",
                "x-ms-summary": "Description",
                "x-ms-visibility": "important"
              },
              "type": {
                "description": "A string representing the type of Task as defined by the user from a list of types editable in the Infusionsoft application.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "important"
              },
              "priority": {
                "format": "int32",
                "description": "The priority of the task.",
                "type": "integer",
                "x-ms-summary": "Priority",
                "x-ms-visibility": "important"
              },
              "completed": {
                "description": "A boolean indicating the completed status of the task.",
                "type": "boolean",
                "x-ms-summary": "Completed",
                "x-ms-visibility": "advanced"
              },
              "url": {
                "description": "The link to the task.",
                "type": "string",
                "x-ms-summary": "URL",
                "x-ms-visibility": "advanced"
              },
              "due_date": {
                "format": "date-time",
                "description": "The datetime the task is due, given as GMT in ISO 8601 format.",
                "type": "string",
                "x-ms-summary": "Due Date",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Tasks",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "OnNewTask_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Task_Response"
      }
    },
    "ListOrders_Response": {
      "description": "orders",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "description": "The unique id of the order.",
            "type": "integer",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important"
          },
          "title": {
            "description": "Name given to the order.",
            "type": "string",
            "x-ms-summary": "Title",
            "x-ms-visibility": "important"
          },
          "status": {
            "description": "The status of the order.",
            "type": "string",
            "x-ms-summary": "Status",
            "x-ms-visibility": "important"
          },
          "total": {
            "format": "float",
            "description": "Total amount of the order.",
            "type": "number",
            "x-ms-summary": "Total",
            "x-ms-visibility": "important"
          },
          "shipping_information": {
            "description": "Shipping info for the order.",
            "type": "object",
            "properties": {
              "first_name": {
                "description": "First name of the shipping address.",
                "type": "string",
                "x-ms-summary": "First Name",
                "x-ms-visibility": "advanced"
              },
              "middle_name": {
                "description": "Middle name of the shipping address.",
                "type": "string",
                "x-ms-summary": "Middle Name",
                "x-ms-visibility": "advanced"
              },
              "last_name": {
                "description": "Last name name of the shipping address.",
                "type": "string",
                "x-ms-summary": "Last Name",
                "x-ms-visibility": "advanced"
              },
              "company": {
                "description": "Company associated with the shipping address.",
                "type": "string",
                "x-ms-summary": "Company",
                "x-ms-visibility": "advanced"
              },
              "phone": {
                "description": "Phone number associated with the shipping address.",
                "type": "string",
                "x-ms-summary": "Phone Number",
                "x-ms-visibility": "advanced"
              },
              "street1": {
                "description": "First street line of the shipping address.",
                "type": "string",
                "x-ms-summary": "Street Line 1",
                "x-ms-visibility": "advanced"
              },
              "street2": {
                "description": "Second street line of the shipping address.",
                "type": "string",
                "x-ms-summary": "Street Line 2",
                "x-ms-visibility": "advanced"
              },
              "city": {
                "description": "The city in the shipping address.",
                "type": "string",
                "x-ms-summary": "City",
                "x-ms-visibility": "important"
              },
              "state": {
                "description": "The state in the shipping address.",
                "type": "string",
                "x-ms-summary": "State",
                "x-ms-visibility": "important"
              },
              "zip": {
                "description": "The zip code in the shipping address.",
                "type": "string",
                "x-ms-summary": "Zip",
                "x-ms-visibility": "advanced"
              },
              "country": {
                "description": "The country in the shipping address.",
                "type": "string",
                "x-ms-summary": "Country",
                "x-ms-visibility": "advanced"
              }
            },
            "x-ms-summary": "Shipping",
            "x-ms-visibility": "advanced"
          },
          "contact": {
            "description": "Order contact.",
            "type": "object",
            "properties": {
              "email": {
                "description": "Email address of the contact.",
                "type": "string",
                "x-ms-summary": "Email Address",
                "x-ms-visibility": "important"
              },
              "first_name": {
                "description": "First name of the contact.",
                "type": "string",
                "x-ms-summary": "First Name",
                "x-ms-visibility": "advanced"
              },
              "last_name": {
                "description": "Last name of the contact.",
                "type": "string",
                "x-ms-summary": "Last Name",
                "x-ms-visibility": "advanced"
              },
              "company_name": {
                "description": "Company of the contact.",
                "type": "string",
                "x-ms-summary": "Company",
                "x-ms-visibility": "advanced"
              },
              "job_title": {
                "description": "Job Title of the contact.",
                "type": "string",
                "x-ms-summary": "Job Title",
                "x-ms-visibility": "advanced"
              }
            },
            "x-ms-summary": "Contact",
            "x-ms-visibility": "advanced"
          },
          "creation_date": {
            "format": "date-time",
            "description": "Creation date of the order.",
            "type": "string",
            "x-ms-summary": "Creation Date",
            "x-ms-visibility": "advanced"
          },
          "order_date": {
            "format": "date-time",
            "description": "Order date of the order.",
            "type": "string",
            "x-ms-summary": "Order Date",
            "x-ms-visibility": "important"
          },
          "total_paid": {
            "format": "float",
            "description": "Total paid amount of the order.",
            "type": "number",
            "x-ms-summary": "Total Paid",
            "x-ms-visibility": "advanced"
          },
          "total_due": {
            "format": "float",
            "description": "Total amount due for the order.",
            "type": "number",
            "x-ms-summary": "Total Due",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "x-ms-summary": "orders",
      "x-ms-visibility": "advanced"
    },
    "CreateTask_Request": {
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "A description of the task title.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Type of the task.",
          "enum": [
            "Call",
            "Email",
            "Appointment",
            "Fax",
            "Letter",
            "Other"
          ],
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "priority": {
          "format": "int32",
          "description": "Priority of the task (1, 2, 3, etc.)",
          "type": "integer",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important"
        },
        "due_date": {
          "format": "date-time",
          "description": "Due date of the task (Ex. 2014-06-17T17:12:52.000Z",
          "type": "string",
          "x-ms-summary": "Due date (format: YYYY-MM-ddThh:mm:ss.fffZ)",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "title": "Birthday",
        "description": "Wrap presents",
        "type": "Other",
        "priority": 2,
        "due_date": "2014-06-17T17:12:52Z"
      }
    }
  },
  "parameters": {
    "Content-Type__in_header": {
      "name": "Content-Type",
      "in": "header",
      "required": true,
      "x-ms-summary": "Content-Type",
      "x-ms-visibility": "internal",
      "type": "string",
      "default": " application/json"
    },
    "order__in_query": {
      "name": "order",
      "in": "query",
      "required": true,
      "x-ms-summary": "order",
      "x-ms-test-value": "-due_date",
      "x-ms-visibility": "internal",
      "type": "string",
      "default": "-due_date"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://keap.com/infusionsoft"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://keap.com/legal/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/infusionsoft"
  },
  "basePath": "/apim/infusionsoft"
}
