{
  "swagger": "2.0",
  "info": {
    "version": "preview",
    "title": "Azure IoT Central V3",
    "description": "Azure IoT Central makes it easy to connect, monitor, and manage your IoT devices at scale. With the IoT Central V3 connector, you can trigger workflows when a rule has fired, and take actions by executing commands, updating properties, getting telemetry from devices, and more. Use this connector with your Azure IoT Central V3 application.",
    "contact": {
      "name": "Azure IoT Central Technical Support",
      "url": "https://aka.ms/iotcentral-create-technical-support-ticket-trial"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "basePath": "/apim/azureiotcentral",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "AAD": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/token",
      "scopes": {}
    }
  },
  "security": [],
  "host": "europe-002.azure-apim.net",
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/iot-central/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things"
    }
  ],
  "paths": {
    "/{connectionId}/api/preview/applications": {
      "get": {
        "operationId": "Applications_List",
        "summary": "Get the list of applications accessible to the signed-in user",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApplicationCollection"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-the-list-of-applications-accessible-to-the-signed-in-user"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/ga_2022_07_31/deviceGroups": {
      "get": {
        "operationId": "DeviceGroups_List",
        "summary": "List device groups",
        "description": "Get the list of device groups in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceGroupCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-device-groups"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/deviceGroups/{device_group_id}": {
      "get": {
        "operationId": "DeviceGroups_Get",
        "summary": "Get a device group",
        "description": "Get details about an existing device group by ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceGroup"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceGroupId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-a-device-group"
        }
      },
      "put": {
        "operationId": "DeviceGroups_Set",
        "summary": "Create a device group",
        "description": "Create or update a device group.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceGroupId"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "description": "Device group create body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceGroup"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#create-a-device-group"
        }
      },
      "delete": {
        "operationId": "DeviceGroups_Remove",
        "summary": "Delete device group",
        "description": "Delete an existing device group by ID",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceGroupId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#delete-device-group"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/deviceGroups/{device_group_id}/devices": {
      "get": {
        "operationId": "DeviceGroups_GetDevices",
        "summary": "Get devices by device group ID",
        "description": "Get the list of devices in a device group in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceGroupDeviceCollection"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceGroupId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-devices-by-device-group-id"
        }
      }
    },
    "/{connectionId}/api/preview/deviceTemplates": {
      "get": {
        "operationId": "DeviceTemplates_List",
        "summary": "List device templates",
        "description": "Get the list of device templates in an application.",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTemplateCollection"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-device-templates"
        }
      }
    },
    "/{connectionId}/api/v1/deviceTemplates": {
      "get": {
        "operationId": "DeviceTemplates_List_V1",
        "summary": "List device templates",
        "description": "Get the list of device templates in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTemplateCollectionV1"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-device-templates"
        }
      }
    },
    "/{connectionId}/api/v1/deviceTemplates/{template_id}": {
      "get": {
        "operationId": "DeviceTemplates_Get_V1",
        "summary": "Get a device template by ID",
        "description": "Get details about an existing device template by ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTemplateV1"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "template_id",
            "x-ms-summary": "Template",
            "description": "Unique ID of the template.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List_V1",
              "value-path": "@id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-a-device-template-by-id"
        }
      },
      "delete": {
        "operationId": "DeviceTemplates_Remove_V1",
        "summary": "Delete a device template",
        "description": "Delete an existing device template by ID.",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "template_id",
            "x-ms-summary": "Template",
            "description": "Unique ID of the template.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List_V1",
              "value-path": "@id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#delete-a-device-template"
        }
      }
    },
    "/{connectionId}/api/preview/devices/{device_id}/cloudProperties": {
      "get": {
        "operationId": "Devices_GetCloudProperties",
        "summary": "Get device cloud properties (deprecated)",
        "description": "Get all cloud property values of a device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCloudProperties"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-device-cloud-properties-(deprecated)"
        }
      },
      "put": {
        "operationId": "Devices_UpdateCloudProperties",
        "summary": "Update device cloud properties (deprecated)",
        "description": "Update all cloud property values of a device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCloudProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCloudProperties"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#update-device-cloud-properties-(deprecated)"
        }
      }
    },
    "/{connectionId}/api/preview/devices/{device_id}/components/{component_name}/commands/{command_name}": {
      "post": {
        "operationId": "Devices_ExecuteComponentCommand",
        "summary": "Execute a device command (deprecated)",
        "description": "Execute a command on a device (deprecated).",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "instanceOf"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "instanceOf"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Command"
              }
            }
          },
          {
            "$ref": "#/parameters/TemplateId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCommand"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCommand"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#execute-a-device-command-(deprecated)"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/commands/{command_name}": {
      "get": {
        "operationId": "Devices_GetCommandResponse_V1",
        "summary": "Get device command response",
        "description": "Get the last response for a device command.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCommandV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-device-command-response"
        }
      },
      "post": {
        "operationId": "Devices_RunCommand_V1",
        "summary": "Run a device command",
        "description": "Run a command on a device.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceCommandV1"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCommandV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#run-a-device-command"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/components/{component_name}/commands/{command_name}": {
      "get": {
        "operationId": "Devices_GetComponentCommandResponse_V1",
        "summary": "Get component command response",
        "description": "Get the last response for a device component command.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceComponentCommandV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-component-command-response"
        }
      },
      "post": {
        "operationId": "Devices_RunComponentCommand_V1",
        "summary": "Run a component command",
        "description": "Run a command on a component.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceComponentCommandV1"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceComponentCommandV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#run-a-component-command"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/modules/{module}/commands/{command_name}": {
      "get": {
        "operationId": "Devices_GetModuleCommandResponse_V1",
        "summary": "Get module command response",
        "description": "Get the last response for a device module command",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleCommandV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-module-command-response"
        }
      },
      "post": {
        "operationId": "Devices_RunModuleCommand_V1",
        "summary": "Run a module command",
        "description": "Run a command on a module.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceModuleCommandV1"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleCommandV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#run-a-module-command"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/modules/{module}/components/{component_name}/commands/{command_name}": {
      "get": {
        "operationId": "Devices_GetModuleComponentCommandResponse_V1",
        "summary": "Get module component command response",
        "description": "Get the last response for a module component command.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleComponentCommandV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-module-component-command-response"
        }
      },
      "post": {
        "operationId": "Devices_RunModuleComponentCommand_V1",
        "summary": "Run a module component command",
        "description": "Run a command on a module component.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "command_name",
            "x-ms-summary": "Device Command",
            "description": "Name of this device command.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Command"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device command body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceModuleComponentCommandV1"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleComponentCommandV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#run-a-module-component-command"
        }
      }
    },
    "/{connectionId}/api/v1/devices": {
      "get": {
        "operationId": "Devices_List_V1",
        "summary": "List devices",
        "description": "Get the list of devices in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceCollectionV1"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-devices"
        }
      }
    },
    "/{connectionId}/api/preview/devices/{device_id}": {
      "get": {
        "operationId": "Devices_Get",
        "summary": "Get a device by ID (deprecated)",
        "description": "Get details about an existing device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-a-device-by-id-(deprecated)"
        }
      },
      "put": {
        "operationId": "Devices_Set",
        "summary": "Create or update a device (deprecated)",
        "description": "Create a new device or update an existing one by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Device"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#create-or-update-a-device-(deprecated)"
        }
      },
      "delete": {
        "operationId": "Devices_Remove",
        "summary": "Delete a device (deprecated)",
        "description": "Delete an existing device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#delete-a-device-(deprecated)"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}": {
      "get": {
        "operationId": "Devices_Get_V1",
        "summary": "Get a device by ID",
        "description": "Get details about an existing device by device ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceV1"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-a-device-by-id"
        }
      },
      "put": {
        "operationId": "Devices_Set_V1",
        "summary": "Create or update a device (deprecated)",
        "description": "Create a new device or update an existing one by device ID. (deprecated)",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceV1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#create-or-update-a-device-(deprecated)"
        }
      },
      "delete": {
        "operationId": "Devices_Remove_V1",
        "summary": "Delete a device",
        "description": "Delete an existing device by device ID.",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#delete-a-device"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/devices/{device_id}": {
      "put": {
        "operationId": "Devices_Set_V2",
        "summary": "Create or update a device",
        "description": "Create a new device or update an existing one by device ID.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceV2"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#create-or-update-a-device"
        }
      }
    },
    "/{connectionId}/api/preview/devices/{device_id}/properties": {
      "get": {
        "operationId": "Devices_GetProperties",
        "summary": "Get device properties (deprecated)",
        "description": "Get all property values of a device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceProperties"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-device-properties-(deprecated)"
        }
      },
      "put": {
        "operationId": "Devices_UpdateProperties",
        "summary": "Update device properties (deprecated)",
        "description": "Update all property values of a device by device ID (deprecated).",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/TemplateId"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceProperties"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceProperties"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#update-device-properties-(deprecated)"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/properties": {
      "get": {
        "operationId": "Devices_GetProperties_V1",
        "summary": "Get device properties",
        "description": "Get all property values of a device by device ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DevicePropertiesV1"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-device-properties"
        }
      },
      "patch": {
        "operationId": "Devices_UpdateProperties_V1",
        "summary": "Update device properties",
        "description": "Update all property values of a device by device ID.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePropertiesV1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DevicePropertiesV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#update-device-properties"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/modules/{module}/properties": {
      "get": {
        "operationId": "Devices_GetModuleProperties_V1",
        "summary": "Get module properties",
        "description": "Get all property values of a module.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModulePropertiesV1"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-module-properties"
        }
      },
      "patch": {
        "operationId": "Devices_UpdateModuleProperties_V1",
        "summary": "Update module properties",
        "description": "Update all property values of a module.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Device properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModulePropertiesV1"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModulePropertiesV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#update-module-properties"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/devices/{device_id}/relationships": {
      "get": {
        "operationId": "DeviceRelationships_List",
        "summary": "List relationships",
        "description": "List all relationships based on device ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceRelationshipCollection"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-relationships"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/devices/{device_id}/relationships/{relationship_id}": {
      "get": {
        "operationId": "DeviceRelationships_Get",
        "summary": "Get device relationship",
        "description": "Get details about an existing device relationship by device ID and by relationship ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceRelationshipStatic"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/RelationshipId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-device-relationship"
        }
      },
      "put": {
        "operationId": "DeviceRelationships_Set",
        "summary": "Create a device relationship",
        "description": "Create a new device relationship between the given device and a new device given a device ID and a relationship ID.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/RelationshipId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Device relationship body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRelationship"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceRelationshipStatic"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#create-a-device-relationship"
        }
      },
      "patch": {
        "operationId": "DeviceRelationships_Update",
        "summary": "Update a device relationship",
        "description": "Update an existing device relationship between the given device and a new device given a device ID and a relationship ID.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/RelationshipId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Device relationship body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRelationship"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceRelationshipStatic"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#update-a-device-relationship"
        }
      },
      "delete": {
        "operationId": "DeviceRelationships_Remove",
        "summary": "Delete a device relationship",
        "description": "Delete an existing device relationship by device ID and relationship ID.",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "$ref": "#/parameters/RelationshipId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#delete-a-device-relationship"
        }
      }
    },
    "/{connectionId}/api/preview/devices/{device_id}/components/{component_name}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetComponentTelemetryValue",
        "summary": "Get device telemetry value (deprecated)",
        "description": "Get the last telemetry value from a device (deprecated).",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTelemetry"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "instanceOf"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "instanceOf"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "$ref": "#/parameters/TemplateId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-device-telemetry-value-(deprecated)"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetTelemetryValue_V1",
        "summary": "Get device telemetry value",
        "description": "Get the last telemetry value from a device.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceTelemetryV1"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-device-telemetry-value"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/components/{component_name}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetComponentTelemetryValue_V1",
        "summary": "Get component telemetry value",
        "description": "Get the last telemetry value from a component.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceComponentTelemetryV1"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-component-telemetry-value"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/modules/{module}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetModuleTelemetryValue_V1",
        "summary": "Get module telemetry value",
        "description": "Get the last telemetry value from a module.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleTelemetryV1"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-module-telemetry-value"
        }
      }
    },
    "/{connectionId}/api/v1/devices/{device_id}/modules/{module}/components/{component_name}/telemetry/{telemetry_name}": {
      "get": {
        "operationId": "Devices_GetModuleComponentTelemetryValue_V1",
        "summary": "Get module component telemetry value",
        "description": "Get the last telemetry value from a module component.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceModuleComponentTelemetryV1"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/DeviceId"
          },
          {
            "in": "path",
            "name": "module",
            "x-ms-summary": "Device Module",
            "description": "Name of the device module.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetModules_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "component_name",
            "x-ms-summary": "Device Component",
            "description": "Name of the device component.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetComponents_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                }
              }
            }
          },
          {
            "in": "path",
            "name": "telemetry_name",
            "x-ms-summary": "Device Telemetry",
            "description": "Name of this device telemetry.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Workflow_GetCapabilities_V1",
              "value-path": "value",
              "value-title": "title",
              "parameters": {
                "application": {
                  "parameter": "application"
                },
                "template": {
                  "parameter": "template"
                },
                "module": {
                  "parameter": "module"
                },
                "component": {
                  "parameter": "component_name"
                },
                "type": "Telemetry"
              }
            }
          },
          {
            "in": "query",
            "name": "template",
            "x-ms-summary": "Device Template",
            "description": "The device template definition for the device.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "DeviceTemplates_List",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-module-component-telemetry-value"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/jobs": {
      "get": {
        "operationId": "Jobs_List",
        "summary": "List jobs",
        "description": "Get the list of jobs in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-jobs"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/jobs/{job_id}": {
      "get": {
        "operationId": "Jobs_Get",
        "summary": "Get a job",
        "description": "Get details about an existing job by ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobStatic"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/JobId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-a-job"
        }
      },
      "put": {
        "operationId": "Jobs_Set",
        "summary": "Create a job",
        "description": "Create and execute a new job via its job definition.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/JobId"
          },
          {
            "$ref": "#/parameters/JobType"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "description": "Job create body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#create-a-job"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/jobs/{job_id}/devices": {
      "get": {
        "operationId": "Jobs_GetDevices",
        "summary": "Get device statuses",
        "description": "Get the list of individual device statuses by job ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobDeviceStatusCollection"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/JobId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-device-statuses"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/jobs/{job_id}/stop": {
      "post": {
        "operationId": "Jobs_Stop",
        "summary": "Stop a running job",
        "description": "Stop execution of a job that is currently running.",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/JobId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#stop-a-running-job"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/jobs/{job_id}/resume": {
      "post": {
        "operationId": "Jobs_Resume",
        "summary": "Resume a stopped job",
        "description": "Resume execution of an existing stopped job.",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/JobId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#resume-a-stopped-job"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/jobs/{job_id}/rerun/{rerun_id}": {
      "put": {
        "operationId": "Jobs_Rerun",
        "summary": "Resume a job on failed devices",
        "description": "Execute a rerun of an existing job on all failed devices.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobStatic"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/JobId"
          },
          {
            "$ref": "#/parameters/RerunId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#resume-a-job-on-failed-devices"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/organizations": {
      "get": {
        "operationId": "Organizations_List",
        "summary": "List organizations",
        "description": "Get the list of organizations in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OrganizationCollection"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-organizations"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/organizations/{organization_id}": {
      "get": {
        "operationId": "Organizations_Get",
        "summary": "Get an organization",
        "description": "Get details about an existing organization by ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/OrganizationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-an-organization"
        }
      },
      "put": {
        "operationId": "Organizations_Set",
        "summary": "Create an organization",
        "description": "Create a new organization.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/OrganizationId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Organization body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#create-an-organization"
        }
      },
      "delete": {
        "operationId": "Organizations_Remove",
        "summary": "Delete organization",
        "description": "Delete an existing organization by ID",
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/OrganizationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#delete-organization"
        }
      }
    },
    "/{connectionId}/api/v1/roles": {
      "get": {
        "operationId": "Roles_List_V1",
        "summary": "List roles",
        "description": "Get the list of roles in an application.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoleCollectionV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-roles"
        }
      }
    },
    "/{connectionId}/api/v1/roles/{role_id}": {
      "get": {
        "operationId": "Roles_Get_V1",
        "summary": "Get role",
        "description": "Get a role by ID.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "in": "path",
            "name": "role_id",
            "x-ms-summary": "Role",
            "description": "Unique ID for the role.",
            "x-ms-visibility": "important",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "Roles_List_V1",
              "value-path": "id",
              "value-title": "displayName",
              "value-collection": "value",
              "parameters": {
                "application": {
                  "parameter": "application"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RoleV1"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-role"
        }
      }
    },
    "/{connectionId}/api/preview/rules": {
      "get": {
        "operationId": "Rules_List",
        "summary": "Get the list of rules in an application",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RuleCollection"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-the-list-of-rules-in-an-application"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/scheduledJobs": {
      "get": {
        "operationId": "ScheduledJobs_List",
        "summary": "List scheduled jobs",
        "description": "Get the list of scheduled jobs in an application.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScheduledJobCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#list-scheduled-jobs"
        }
      }
    },
    "/{connectionId}/api/ga_2022_07_31/scheduledJobs/{scheduled_job_id}": {
      "get": {
        "operationId": "ScheduledJobs_Get",
        "summary": "Get a scheduled job",
        "description": "Get details about an existing scheduled job by ID.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScheduledJob"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/ScheduledJobId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureiotcentral/#get-a-scheduled-job"
        }
      },
      "put": {
        "operationId": "ScheduledJobs_Set",
        "summary": "Create a scheduled job",
        "description": "Create and execute a new scheduled job via its job definition.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApplicationId"
          },
          {
            "$ref": "#/parameters/ScheduledJobId"
[...]
