{
  "swagger": "2.0",
  "info": {
    "title": "WQRM Risk Forecast Services",
    "description": "To provide data, analyze and forecast for financial risks",
    "version": "1.0",
    "contact": {
      "name": "Customer Service",
      "url": "https://www.westernqrm.com/",
      "email": "CustomerService@westernqrm.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.westernqrm.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.westernqrm.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/wqrmriskforecastserv",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/{connectionId}/play/371c4dca-f7af-48b7-8dfa-cd6864969ba5": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Bank Group Report",
        "description": "Automatically process bank group report and email communication.",
        "operationId": "GroupReportBanks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Bank ID",
            "x-ms-summary": "Bank ID number."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content Type",
            "x-ms-summary": "Content type."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Accept",
            "x-ms-summary": "Accept number."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "TenantFirstName": {
                  "type": "string",
                  "description": "TenantFirstName"
                },
                "TenantLastName": {
                  "type": "string",
                  "description": "TenantLastName"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "CompanyName"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wqrmriskforecastserv/#bank-group-report"
        }
      }
    },
    "/{connectionId}/play/e5f00dbd-dc28-4b35-8550-1901efa36af7": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Credit Union Group Report",
        "description": "Automatically process CU group report and email communication.",
        "operationId": "GroupReportCUs",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "CU ID",
            "x-ms-summary": "CU ID number."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content Type",
            "x-ms-summary": "Content type number."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Accept",
            "x-ms-summary": "Accept number."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "TenantFirstName": {
                  "type": "string",
                  "description": "TenantFirstName"
                },
                "TenantLastName": {
                  "type": "string",
                  "description": "TenantLastName"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "CompanyName"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wqrmriskforecastserv/#credit-union-group-report"
        }
      }
    },
    "/{connectionId}/play/158ed27b-9e89-45d2-a216-617d0b2d4355": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Bank Report",
        "description": "Process bank report and email communication.",
        "operationId": "ReportManagementBanks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Bank ID",
            "x-ms-summary": "Bank ID number."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content Type",
            "x-ms-summary": "Content type number."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Accept",
            "x-ms-summary": "Accept number."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "TenantFirstName": {
                  "type": "string",
                  "description": "TenantFirstName"
                },
                "TenantLastName": {
                  "type": "string",
                  "description": "TenantLastName"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "CompanyName"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wqrmriskforecastserv/#bank-report"
        }
      }
    },
    "/{connectionId}/play/b60262a8-7cf2-4526-8e78-c7fc7bd21ae9": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Credit Union Report",
        "description": "Process CU report and email communication.",
        "operationId": "ReportManagementCUs",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "CU ID",
            "x-ms-summary": "CU ID number."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content Type",
            "x-ms-summary": "Content type number."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Accept",
            "x-ms-summary": "Accept number."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "TenantFirstName": {
                  "type": "string",
                  "description": "TenantFirstName"
                },
                "TenantLastName": {
                  "type": "string",
                  "description": "TenantLastName"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "CompanyName"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wqrmriskforecastserv/#credit-union-report"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/wqrmriskforecastserv"
  }
}
