{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Dynamics 365 Connector for Service Bus",
    "description": "A Service Bus connector for Logic Apps that reads messages posted by Dynamics 365.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/crmservicebus",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/{queueName}/crmmessages/head": {
      "get": {
        "tags": [
          "CrmServiceBus"
        ],
        "summary": "When a message is received in a queue",
        "description": "Gets a new message from Azure Service Bus queue.",
        "operationId": "GetCrmMessageFromQueue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "queueName",
            "in": "path",
            "description": "Name of the queue.",
            "required": true,
            "x-ms-summary": "Queue name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemoteExecutionContext"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/crmservicebus/#when-a-message-is-received-in-a-queue-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/{topicName}/subscriptions/{subscriptionName}/crmmessages/head": {
      "get": {
        "tags": [
          "CrmServiceBus"
        ],
        "summary": "When a message is received in a topic subscription",
        "description": "Gets a new message from Azure Service Bus topic subscription.",
        "operationId": "GetCrmMessageFromTopic",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "topicName",
            "in": "path",
            "description": "Name of the topic.",
            "required": true,
            "x-ms-summary": "Topic name",
            "type": "string"
          },
          {
            "name": "subscriptionName",
            "in": "path",
            "description": "Name of the topic subscription.",
            "required": true,
            "x-ms-summary": "Topic subscription name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemoteExecutionContext"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/crmservicebus/#when-a-message-is-received-in-a-topic-subscription-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {
    "RemoteExecutionContext": {
      "description": "Remote Execution Context for CRM",
      "type": "object",
      "properties": {
        "PrimaryEntityName": {
          "description": "Primary Entity Name",
          "type": "string",
          "x-ms-summary": "PrimaryEntityName"
        },
        "Depth": {
          "format": "int32",
          "description": "Depth of Execution",
          "type": "integer",
          "x-ms-summary": "Depth"
        },
        "MessageName": {
          "description": "Message Name",
          "type": "string",
          "x-ms-summary": "MessageName"
        },
        "OrganizationName": {
          "description": "Organization Name",
          "type": "string",
          "x-ms-summary": "OrganizationName"
        },
        "Stage": {
          "format": "int32",
          "description": "Stage of execution",
          "type": "integer",
          "x-ms-summary": "Stage"
        },
        "PrimaryEntityId": {
          "description": "Id of the primary entity",
          "type": "string",
          "x-ms-summary": "PrimaryEntityId"
        },
        "MessageFormat": {
          "description": "Message Format Type",
          "type": "string",
          "x-ms-summary": "MessageFormat"
        },
        "Mode": {
          "format": "int32",
          "description": "Mode for the request",
          "type": "integer",
          "x-ms-summary": "Mode"
        },
        "SecondaryEntityName": {
          "description": "Name of the secondary entity",
          "type": "string",
          "x-ms-summary": "SecondaryEntityName"
        },
        "CorrelationId": {
          "description": "Correlation Id for the request",
          "type": "string",
          "x-ms-summary": "CorrelationId"
        },
        "IsExecutingOffline": {
          "description": "True if the request executing in offline mode",
          "type": "boolean",
          "x-ms-summary": "IsExecutingOffline"
        },
        "IsInTransaction": {
          "description": "True if the request is in transaction",
          "type": "boolean",
          "x-ms-summary": "IsInTransaction"
        },
        "OperationId": {
          "description": "Id of the operation",
          "type": "string",
          "x-ms-summary": "OperationId"
        },
        "InitiatingUserId": {
          "description": "Id of the user initiating the request",
          "type": "string",
          "x-ms-summary": "InitiatingUserId"
        },
        "OrganizationId": {
          "description": "Id of the organization",
          "type": "string",
          "x-ms-summary": "OrganizationId"
        },
        "BusinessUnitId": {
          "description": "Id of the Business Unit",
          "type": "string",
          "x-ms-summary": "BusinessUnitId"
        },
        "Target": {
          "$ref": "#/definitions/Entity"
        },
        "PreEntityImages": {
          "description": "Pre entity images for the request",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Entity"
          },
          "readOnly": true,
          "x-ms-summary": "PreEntityImages"
        },
        "FormattedContext": {
          "description": "Json representation of the context object",
          "type": "string",
          "x-ms-summary": "FormattedContext"
        },
        "PostEntityImages": {
          "description": "Post entity images for the request",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Entity"
          },
          "readOnly": true,
          "x-ms-summary": "PostEntityImages"
        }
      }
    },
    "Entity": {
      "description": "Class representing a CRM entity instance",
      "type": "object",
      "properties": {
        "LogicalName": {
          "description": "Logical name",
          "type": "string"
        },
        "Id": {
          "description": "Id of the entity",
          "type": "string"
        },
        "Attributes": {
          "description": "Attributes collection",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          },
          "readOnly": true
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/crmservicebus"
  }
}
