{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "SendGrid",
    "description": "SendGrid Connection Provider lets you send email and manage recipient lists.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/sendgrid",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/api/mail.send.json": {
      "post": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Send email",
        "description": "Sends an email using SendGrid API. (Deprecated version).",
        "operationId": "SendEmail",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Email message to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRequest"
            },
            "x-ms-summary": "Email To Send"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "SendEmail",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#send-email-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/mail/send": {
      "post": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Send email (V2)",
        "description": "Sends an email (V2). Limited to 1000 recipients.",
        "operationId": "SendEmailApiV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The email message to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRequestV3"
            },
            "x-ms-summary": "Email to send (V3)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "SendEmail",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#send-email-(v2)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v3/mail/send": {
      "post": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Send email (V3)",
        "description": "Sends an email (V3). Limited to 1000 recipients.",
        "operationId": "SendEmailV3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The email message to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRequestV4"
            },
            "x-ms-summary": "Email to send (V4)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendEmail",
          "revision": 3
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#send-email-(v3)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v4/mail/send": {
      "post": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Send email (V4)",
        "description": "Sends an email (V4). Limited to 1000 recipients.",
        "operationId": "SendEmailV4",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The email message to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailRequestV5"
            },
            "x-ms-summary": "Email to send (V5)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "SendEmail",
          "revision": 4
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#send-email-(v4)"
        }
      }
    },
    "/{connectionId}/suppressions/global": {
      "post": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Add a global suppression",
        "description": "Add a global suppression",
        "operationId": "AddGlobalSuppression",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "recipient_emails",
            "in": "body",
            "description": "Emails to global suppress",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddGlobalSuppressRequestAndResponse"
            },
            "x-ms-summary": "Emails to global suppress"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddGlobalSuppressRequestAndResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#add-a-global-suppression"
        }
      }
    },
    "/{connectionId}/suppressions/global/{email}": {
      "get": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Get the global suppression",
        "description": "Get the global suppression",
        "operationId": "GetGlobalSuppression",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "email",
            "in": "path",
            "description": "The email to check.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetGlobalSuppressResponse"
            }
          },
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetGlobalSuppressEmptyResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#get-the-global-suppression"
        }
      },
      "delete": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Delete the global suppression",
        "description": "Delete the global suppression",
        "operationId": "DeleteGlobalSuppression",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "email",
            "in": "path",
            "description": "The email to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#delete-the-global-suppression"
        }
      }
    },
    "/{connectionId}/v3/contactdb/lists/{listId}/recipients/{recipientId}": {
      "post": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Add recipient to list",
        "description": "Add an individual recipient to a recipient list.",
        "operationId": "AddRecipientToList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "listId",
            "in": "path",
            "description": "Unique id of the recipient list.",
            "required": true,
            "x-ms-summary": "List id",
            "x-ms-dynamic-values": {
              "operationId": "ListRecipientLists",
              "parameters": {},
              "value-collection": "lists",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "recipientId",
            "in": "path",
            "description": "Unique id of the recipient.",
            "required": true,
            "x-ms-summary": "Recipient id",
            "x-ms-dynamic-values": {
              "operationId": "ListRecipients",
              "parameters": {},
              "value-collection": "recipients",
              "value-path": "id",
              "value-title": "email"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#add-recipient-to-list"
        }
      }
    },
    "/{connectionId}/v3/contactdb/lists": {
      "get": {
        "tags": [
          "SendGrid"
        ],
        "summary": "List Recipient Lists",
        "description": "Retrieves all the recipient lists.",
        "operationId": "ListRecipientLists",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecipientLists"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#list-recipient-lists"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v3/contactdb/recipients": {
      "get": {
        "tags": [
          "SendGrid"
        ],
        "summary": "List Recipients",
        "description": "Retrieves all registered recipients.",
        "operationId": "ListRecipients",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Recipients"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#list-recipients"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v3/scopes": {
      "get": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Get list of accessible scopes",
        "description": "Retrieve a list of scopes for which that user has access.",
        "operationId": "GetScopes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ScopeList"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#get-list-of-accessible-scopes"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/suppression/bounces/{email}": {
      "get": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Get bounce for an email",
        "description": "Get a specific bounce for a given email address.",
        "operationId": "GetBounce",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "email",
            "in": "path",
            "description": "The email to check.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bounces"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#get-bounce-for-an-email"
        }
      },
      "delete": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Delete an email from bounce list",
        "description": "Delete an email address from your bounce list.",
        "operationId": "DeleteBounce",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "email",
            "in": "path",
            "description": "The email to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#delete-an-email-from-bounce-list"
        }
      }
    },
    "/{connectionId}/unsubscribes/{email}": {
      "get": {
        "tags": [
          "SendGrid"
        ],
        "summary": "Check if email is in unsubscribed email list",
        "description": "Check if email is in unsubscribed email list.",
        "operationId": "CheckEmailIsInUnsubscribesList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "email",
            "in": "path",
            "description": "The email to check.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailIsUnsubscribedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Request"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendgrid/#check-if-email-is-in-unsubscribed-email-list"
        }
      }
    }
  },
  "definitions": {
    "EmailRequest": {
      "description": "Email Request",
      "required": [
        "from",
        "to",
        "subject",
        "body"
      ],
      "type": "object",
      "properties": {
        "from": {
          "description": "Origination address of your email. Must be a valid email address from your domain",
          "type": "string",
          "x-ms-summary": "From"
        },
        "fromname": {
          "description": "Origination name of your email",
          "type": "string",
          "x-ms-summary": "From name",
          "x-ms-visibility": "advanced"
        },
        "to": {
          "format": "email",
          "description": "Receiving address of your email. Must include one or more valid comma separated email addresses",
          "type": "string",
          "x-ms-summary": "To"
        },
        "toname": {
          "description": "Comma separated receiving names of your email. Must match the number of \"to\" email addresses if specified",
          "type": "string",
          "x-ms-summary": "To names",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Subject of your email",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "body": {
          "description": "Content of your email. Supported formats include plain text and HTML",
          "type": "string",
          "x-ms-summary": "Email body"
        },
        "ishtml": {
          "description": "Specify whether the content of the email is HTML or plain text",
          "default": false,
          "type": "boolean",
          "x-ms-summary": "Is Html",
          "x-ms-visibility": "advanced"
        },
        "cc": {
          "format": "email",
          "description": "CC'ed addresses of your email. Must include one or more valid comma separated email addresses",
          "type": "string",
          "x-ms-summary": "CC",
          "x-ms-visibility": "advanced"
        },
        "ccname": {
          "description": "Comma separated names of the cc'ed recipients",
          "type": "string",
          "x-ms-summary": "CC names",
          "x-ms-visibility": "advanced"
        },
        "bcc": {
          "format": "email",
          "description": "Bcc addresses of your email. Must include one or more valid comma separated email addresses",
          "type": "string",
          "x-ms-summary": "Bcc",
          "x-ms-visibility": "advanced"
        },
        "bccname": {
          "description": "Comma separated names of the Bcc'ed recipients.",
          "type": "string",
          "x-ms-summary": "Bcc names",
          "x-ms-visibility": "advanced"
        },
        "replyto": {
          "format": "email",
          "description": "Reply To address of your email. Must be a valid email address",
          "type": "string",
          "x-ms-summary": "Reply to",
          "x-ms-visibility": "advanced"
        },
        "date": {
          "format": "date-time",
          "description": "Specify the date header of your email (Example: “Thu, 21 Dec 2000 16:01:07 +0200”). Must be a valid date",
          "type": "string",
          "x-ms-summary": "Date header",
          "x-ms-visibility": "advanced"
        },
        "headers": {
          "description": "Custom email headers in json format",
          "type": "string",
          "x-ms-summary": "Custom headers",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EmailResponse": {
      "description": "Send Email Response",
      "type": "object",
      "properties": {
        "message": {
          "description": "Status message from send email response",
          "type": "string",
          "x-ms-summary": "Status of the email sent: success/failure"
        }
      }
    },
    "AddGlobalSuppressRequestAndResponse": {
      "description": "Add global suppress Response",
      "type": "object",
      "properties": {
        "recipient_emails": {
          "description": "Recipient email",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Recipient email"
        }
      }
    },
    "GetGlobalSuppressResponse": {
      "description": "Add global suppress Response",
      "type": "object",
      "properties": {
        "recipient_email": {
          "description": "Recipient email",
          "type": "string",
          "x-ms-summary": "Recipient email"
        }
      }
    },
    "GetGlobalSuppressEmptyResponse": {
      "description": "Add global suppress Response",
      "type": "object",
      "properties": {}
    },
    "EmailRequestV3": {
      "description": "Email Request",
      "required": [
        "from",
        "to",
        "subject",
        "text"
      ],
      "type": "object",
      "properties": {
        "from": {
          "format": "email",
          "description": "Origination address of your email. Must be a valid email address from your domain",
          "type": "string",
          "x-ms-summary": "From"
        },
        "fromname": {
          "description": "Origination name of your email",
          "type": "string",
          "x-ms-summary": "From name",
          "x-ms-visibility": "advanced"
        },
        "to": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "To"
        },
        "toname": {
          "description": "A display name for each email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "To names",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Subject of your email",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "text": {
          "description": "Content of your email",
          "type": "string",
          "x-ms-summary": "Email body"
        },
        "ishtml": {
          "description": "Specify whether the content of the email is HTML or plain text",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Is Html",
          "x-ms-visibility": "advanced"
        },
        "cc": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "CC",
          "x-ms-visibility": "advanced"
        },
        "ccname": {
          "description": "A display name for each CC email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "CC names",
          "x-ms-visibility": "advanced"
        },
        "bcc": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "Bcc",
          "x-ms-visibility": "advanced"
        },
        "bccname": {
          "description": "A display name for each BCC email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "BCC names",
          "x-ms-visibility": "advanced"
        },
        "file": {
          "format": "byte",
          "description": "Attachment file content",
          "type": "string",
          "x-ms-summary": "Attachment",
          "x-ms-visibility": "advanced"
        },
        "filename": {
          "description": "Attachment file name",
          "type": "string",
          "x-ms-summary": "Attachment file name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EmailRequestV4": {
      "description": "Email Request (V4)",
      "required": [
        "text",
        "from",
        "to",
        "subject",
        "ishtml"
      ],
      "type": "object",
      "properties": {
        "from": {
          "format": "email",
          "description": "Origination address of your email. Must be a valid email address from your domain",
          "type": "string",
          "x-ms-summary": "From"
        },
        "fromname": {
          "description": "Origination name of your email",
          "type": "string",
          "x-ms-summary": "From name",
          "x-ms-visibility": "advanced"
        },
        "to": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "To"
        },
        "toname": {
          "description": "A display name for each email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "To names",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Subject of your email",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "text": {
          "format": "html",
          "description": "Content of your email",
          "type": "string",
          "x-ms-summary": "Email body"
        },
        "ishtml": {
          "description": "Specify whether the content of the email is HTML or plain text",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Is Html",
          "x-ms-visibility": "internal"
        },
        "cc": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "CC",
          "x-ms-visibility": "advanced"
        },
        "ccname": {
          "description": "A display name for each CC email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "CC names",
          "x-ms-visibility": "advanced"
        },
        "bcc": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "Bcc",
          "x-ms-visibility": "advanced"
        },
        "bccname": {
          "description": "A display name for each BCC email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "BCC names",
          "x-ms-visibility": "advanced"
        },
        "file": {
          "format": "byte",
          "description": "Attachment file content",
          "type": "string",
          "x-ms-summary": "Attachment",
          "x-ms-visibility": "advanced"
        },
        "filename": {
          "description": "Attachment file name",
          "type": "string",
          "x-ms-summary": "Attachment file name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EmailRequestV5": {
      "description": "Include multipart attachments",
      "required": [
        "from",
        "to",
        "subject",
        "text",
        "ishtml"
      ],
      "type": "object",
      "properties": {
        "attachments": {
          "description": "Attachments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailAttachment"
          },
          "x-ms-summary": "Attachment",
          "x-ms-visibility": "advanced"
        },
        "from": {
          "format": "email",
          "description": "Origination address of your email. Must be a valid email address from your domain",
          "type": "string",
          "x-ms-summary": "From"
        },
        "fromname": {
          "description": "Origination name of your email",
          "type": "string",
          "x-ms-summary": "From name",
          "x-ms-visibility": "advanced"
        },
        "to": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "To"
        },
        "toname": {
          "description": "A display name for each email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "To names",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "Subject of your email",
          "type": "string",
          "x-ms-summary": "Subject"
        },
        "text": {
          "format": "html",
          "description": "Content of your email",
          "type": "string",
          "x-ms-summary": "Email body"
        },
        "ishtml": {
          "description": "Specify whether the content of the email is HTML or plain text",
          "default": true,
          "type": "boolean",
          "x-ms-summary": "Is Html",
          "x-ms-visibility": "internal"
        },
        "cc": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "CC",
          "x-ms-visibility": "advanced"
        },
        "ccname": {
          "description": "A display name for each CC email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "CC names",
          "x-ms-visibility": "advanced"
        },
        "bcc": {
          "format": "email",
          "description": "Valid email addresses separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "Bcc",
          "x-ms-visibility": "advanced"
        },
        "bccname": {
          "description": "A display name for each BCC email address separated by a semicolon or comma",
          "type": "string",
          "x-ms-summary": "BCC names",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EmailAttachment": {
      "description": "Attachment",
      "type": "object",
      "properties": {
        "content": {
          "format": "byte",
          "description": "Attachment file content",
          "type": "string",
          "x-ms-summary": "Content",
          "x-ms-visibility": "advanced"
        },
        "filename": {
          "description": "Attachment file name",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "advanced"
        },
        "contenttype": {
          "description": "Type of content in the attachment.",
          "type": "string",
          "x-ms-summary": "ContentType",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "RecipientLists": {
      "description": "List Recipients Response Item",
      "type": "object",
      "properties": {
        "lists": {
          "description": "List of recipient lists",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecipientList"
          },
          "x-ms-summary": "Recipient lists"
        }
      }
    },
    "RecipientList": {
      "description": "Recipient list",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Unique list id",
          "type": "integer",
          "x-ms-summary": "id"
        },
        "name": {
          "description": "Name",
          "type": "string",
          "x-ms-summary": "name"
        },
        "recipient_count": {
          "format": "int32",
          "description": "Recipient count",
          "type": "integer",
          "x-ms-summary": "Recipient count"
        }
      }
    },
    "Recipients": {
      "description": "List of recipients",
      "type": "object",
      "properties": {
        "recipients": {
          "description": "List of recipients",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Recipient"
          },
          "x-ms-summary": "Recipient List"
        }
      }
    },
    "Recipient": {
      "description": "SendGrid recipient",
      "type": "object",
      "properties": {
        "email": {
          "format": "email",
          "description": "Email address",
          "type": "string",
          "x-ms-summary": "email"
        },
        "last_name": {
          "description": "Last name",
          "type": "string",
          "x-ms-summary": "Last"
        },
        "first_name": {
          "description": "First name",
          "type": "string",
          "x-ms-summary": "First"
        },
        "id": {
          "description": "Unique recipient id",
          "type": "string",
          "x-ms-summary": "Id"
        }
      }
    },
    "ScopeList": {
      "description": "List of scopes",
      "type": "object",
      "properties": {
        "scopes": {
          "description": "List of scopes",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Scope List"
        }
      }
    },
    "Bounces": {
      "description": "List of bounces",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Bounce"
      },
      "x-ms-summary": "Bounce List"
    },
    "EmailIsUnsubscribedResponse": {
      "description": "Email Is Unsubscribed Response",
      "type": "object",
      "properties": {
        "isUnsubscribed": {
          "description": "Is Email Unsubscribed",
          "type": "boolean",
          "x-ms-summary": "Is Email Unsubscribed"
        }
      },
      "x-ms-summary": "Email Is Unsubscribed Response"
    },
    "Bounce": {
      "description": "Get Bounce Response",
      "type": "object",
      "properties": {
        "created": {
          "format": "int32",
          "description": "Created",
          "type": "integer",
          "x-ms-summary": "Created"
        },
        "email": {
          "description": "Email",
          "type": "string",
          "x-ms-summary": "Email"
        },
        "reason": {
          "description": "Reason",
          "type": "string",
          "x-ms-summary": "Reason"
        },
        "status": {
          "description": "Status",
          "type": "string",
          "x-ms-summary": "Status"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetScopes",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://sendgrid.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.twilio.com/legal/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/sendgrid"
  }
}
