{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Zellis",
    "description": "This connector consists of various GET/POST/PUT/PATCH actions you can use to perform your daily tasks.",
    "contact": {
      "name": "Zellis Support",
      "url": "https://www.zellis.com/contact-existing-zellis-customer/",
      "email": "support@service.zellis.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/zellis",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1/subscription": {
      "x-ms-notification-content": {
        "description": "WebHook Response",
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "specversion": {
                "type": "string",
                "description": "specversion"
              },
              "id": {
                "type": "string",
                "description": "id"
              },
              "source": {
                "type": "string",
                "description": "source"
              },
              "type": {
                "type": "string",
                "description": "type"
              },
              "time": {
                "type": "string",
                "description": "time"
              },
              "topic": {
                "type": "string",
                "description": "topic"
              },
              "data": {
                "type": "object",
                "properties": {
                  "validationCode": {
                    "type": "string",
                    "description": "validationCode"
                  },
                  "validationUrl": {
                    "type": "string",
                    "description": "validationUrl"
                  },
                  "Action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "Entity": {
                    "type": "string",
                    "description": "Entity"
                  },
                  "EntityId": {
                    "type": "string",
                    "description": "EntityId"
                  },
                  "EntityPath": {
                    "type": "string",
                    "description": "EntityPath"
                  },
                  "UpdatedFields": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "UpdatedFields"
                  },
                  "UpdatedFieldsUrl": {
                    "type": "string",
                    "description": "UpdatedFieldsUrl"
                  },
                  "LeaveDate": {
                    "type": "string",
                    "description": "LeaveDate"
                  },
                  "Payload": {
                    "type": "object",
                    "properties": {
                      "ParameterFive": {
                        "type": "string",
                        "description": "ParameterFive"
                      },
                      "EventUUID": {
                        "type": "string",
                        "description": "EventUUID"
                      },
                      "ConnectionType": {
                        "type": "string",
                        "description": "ConnectionType"
                      },
                      "ParameterOne": {
                        "type": "string",
                        "description": "ParameterOne"
                      },
                      "ParameterThree": {
                        "type": "string",
                        "description": "ParameterThree"
                      },
                      "OperatorId": {
                        "type": "string",
                        "description": "OperatorId"
                      },
                      "DateTimeAmended": {
                        "type": "string",
                        "description": "DateTimeAmended"
                      },
                      "OperatorSelectionNo": {
                        "type": "string",
                        "description": "OperatorSelectionNo"
                      },
                      "ParameterFour": {
                        "type": "string",
                        "description": "ParameterFour"
                      },
                      "EventDatetime": {
                        "type": "string",
                        "description": "EventDatetime"
                      },
                      "ParameterTwo": {
                        "type": "string",
                        "description": "ParameterTwo"
                      },
                      "DateTimeCreated": {
                        "type": "string",
                        "description": "DateTimeCreated"
                      },
                      "Application": {
                        "type": "string",
                        "description": "Application"
                      }
                    },
                    "description": "Payload"
                  },
                  "additionalDetails": {
                    "type": "object",
                    "properties": {
                      "hmac": {
                        "type": "string",
                        "description": "hmac"
                      }
                    },
                    "description": "additionalDetails"
                  }
                },
                "description": "data"
              },
              "subject": {
                "type": "string",
                "description": "subject"
              },
              "eventType": {
                "type": "string",
                "description": "eventType"
              },
              "eventTime": {
                "type": "string",
                "description": "eventTime"
              },
              "metadataVersion": {
                "type": "string",
                "description": "metadataVersion"
              },
              "dataVersion": {
                "type": "string",
                "description": "dataVersion"
              },
              "verifySubscription": {
                "type": "boolean",
                "description": "verifySubscription"
              }
            }
          }
        },
        "headers": {
          "Aeg-Event-Type": {
            "description": "Aeg-Event-Type",
            "type": "string"
          },
          "X-Zip-Signature": {
            "description": "X-Zip-Signature",
            "type": "string"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "schema": {
              "type": "object"
            },
            "description": "default"
          }
        },
        "summary": "Entity Trigger",
        "description": "Trigger for webhook",
        "operationId": "CRUDEntitiy",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Trigger Body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Event": {
                  "type": "string",
                  "description": "Name of entity on which trigger placed",
                  "title": "Entity Name",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEvents",
                    "value-path": "Event",
                    "value-title": "Event"
                  }
                },
                "EventType": {
                  "type": "object",
                  "properties": {
                    "Create": {
                      "type": "boolean",
                      "description": "Whether to enable trigger when new entity created",
                      "title": "Create Event",
                      "x-ms-visibility": "important",
                      "enum": [
                        true,
                        false
                      ],
                      "default": true
                    },
                    "Delete": {
                      "type": "boolean",
                      "description": "Whether to enable trigger when entity deleted",
                      "title": "Delete Event",
                      "x-ms-visibility": "important",
                      "enum": [
                        true,
                        false
                      ],
                      "default": false
                    },
                    "Update": {
                      "type": "boolean",
                      "description": "Whether to enable trigger when entity updated",
                      "title": "Update Event",
                      "x-ms-visibility": "important",
                      "enum": [
                        true,
                        false
                      ],
                      "default": true
                    }
                  },
                  "description": "Describe on which event trigger need to enabled",
                  "required": [
                    "Create",
                    "Delete",
                    "Update"
                  ]
                },
                "IsEnabled": {
                  "type": "boolean",
                  "description": "Whether to enable or disable the trigger",
                  "title": "Enable/Disable trigger",
                  "x-ms-visibility": "important",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "URL": {
                  "type": "string",
                  "description": "URL to call when triggering event occurs",
                  "title": "Callback URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "Event",
                "EventType",
                "IsEnabled",
                "URL"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#entity-trigger"
        }
      }
    },
    "/{connectionId}/v1/subscription/{subscriptionId}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Unsubscribe webhook",
        "description": "To unsubscribe the webhook",
        "operationId": "WebhookUnsubscribe",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscriptionId",
            "x-ms-summary": "Subscription Id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#unsubscribe-webhook"
        }
      }
    },
    "/{connectionId}/ValidateNotification": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Validate Notification",
        "description": "To validate incoming webhook notification",
        "operationId": "ValidateNotification",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "X-Zip-Signature",
            "in": "header",
            "x-ms-summary": "X-Zip-Signature",
            "required": true,
            "description": "X-Zip-Signature",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Notification Body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "string",
                  "description": "Payload to verify",
                  "title": "Payload"
                }
              },
              "required": [
                "payload"
              ]
            }
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#validate-notification"
        }
      }
    },
    "/{connectionId}/WebhookNotification": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Webhook Notification",
        "description": "To get Webhook Notification",
        "operationId": "WebhookNotification",
        "x-ms-visibility": "internal",
        "security": [
          {}
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "appUri",
            "in": "query",
            "x-ms-summary": "Callback URL",
            "required": false,
            "type": "string"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#webhook-notification"
        }
      }
    },
    "/{connectionId}/v1/event": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Event": {
                    "type": "string",
                    "description": "Event"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Events",
        "description": "Get event list",
        "operationId": "GetEvents",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#get-events"
        }
      }
    },
    "/{connectionId}/GetEntities": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Entities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      }
                    }
                  },
                  "description": "Entities"
                }
              }
            }
          }
        },
        "summary": "Get ZIP Entities",
        "description": "Retrieve the ZIP Entities",
        "operationId": "GetEntities",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#get-zip-entities"
        }
      }
    },
    "/{connectionId}/{entity}": {
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/StaticResponseWriteSchema"
            }
          }
        },
        "summary": "Partially amend Zellis record",
        "description": "Partially amend Zellis standard Zellis record available from list, e.g. Worker, via its WorkerNumber.",
        "operationId": "AmendObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "path",
            "x-ms-summary": "Entity",
            "required": true,
            "description": "Select entity name",
            "type": "string",
            "enum": [
              "AbsenceHeaders",
              "CostCentres",
              "Grades",
              "Jobs",
              "Locations",
              "OperatorBackgroundMessage",
              "Posts",
              "StructureUnit",
              "WorkerAttainments",
              "WorkerDrivingLicences",
              "WorkPatterns",
              "Workers",
              "WorkerPRSIDetails",
              "WorkerPensionSchemes",
              "WorkerPosts",
              "WorkerRelationships",
              "WorkerUSCDetails"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Request Body",
            "required": true,
            "description": "Request for the selected entity.",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetWriteSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entity"
                  },
                  "operation": "PATCH"
                },
                "value-path": "schema"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#partially-amend-zellis-record"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/StaticResponseWriteSchema"
            }
          }
        },
        "summary": "Create Zellis record",
        "description": "Create Zellis standard record available from list, e.g. Worker Attendance in Zellis Intelligence Platform.",
        "operationId": "CreateObject",
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "path",
            "x-ms-summary": "Entity",
            "required": true,
            "description": "Select entity name",
            "type": "string",
            "enum": [
              "WorkerAttendances",
              "Workers"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Request Body",
            "required": true,
            "description": "Request for the selected entity.",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetWriteSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entity"
                  },
                  "operation": "POST"
                },
                "value-path": "schema"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#create-zellis-record"
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DynamicResponseGetSchema"
            }
          }
        },
        "summary": "Search Zellis records",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "description": "Retrieve a list of Zellis standard records, e.g. Workers, that matches your search criteria.",
        "x-ms-no-generic-test": false,
        "operationId": "GetZellisObjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "path",
            "x-ms-summary": "Entity",
            "required": true,
            "description": "Select entity name",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetEntities",
              "value-path": "value",
              "value-collection": "Entities",
              "value-title": "name"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "required": false,
            "description": "Enter criteria to filter out the records",
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "x-ms-summary": "Expand",
            "required": false,
            "description": "Enter entity name to expand on",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "required": false,
            "description": "Enter field on which results should ordered by",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Top",
            "required": false,
            "description": "Number of records to be returned",
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "x-ms-summary": "Skip Token",
            "required": false,
            "description": "Token number to go next set of pagination results",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Select",
            "required": false,
            "description": "Enter fields to be returned in results",
            "type": "string"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#search-zellis-records"
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/StaticResponseWriteSchema"
            }
          }
        },
        "summary": "Update Zellis record",
        "description": "Update Zellis standard record available from list, e.g. Fixed Payment in Zellis Intelligence Platform.",
        "operationId": "UpdateObject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "path",
            "x-ms-summary": "Entity",
            "required": true,
            "description": "Select entity name",
            "type": "string",
            "enum": [
              "AbsenceDailyDetails",
              "AbsenceHeaders",
              "BankAccounts",
              "CostCentres",
              "CostCentreSplits",
              "FixedPayElements",
              "Grades",
              "Jobs",
              "Locations",
              "OperatorMessage",
              "ParentalLeaveKITDays",
              "Posts",
              "ProspectiveWorkers",
              "SharedParentalLeave",
              "StructureUnit",
              "TemporaryPayElements",
              "UserDefinedFields",
              "WorkerAttainments",
              "WorkerDrivingLicences",
              "WorkPatterns",
              "Workers",
              "WorkerNICategories",
              "WorkerPRSIDetails",
              "WorkerParentalLeave",
              "WorkerPassportVisas",
              "WorkerPensionSchemes",
              "WorkerPosts",
              "WorkerRelationships",
              "WorkerTaxCodeHistories",
              "WorkerUSCDetails"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Request Body",
            "required": true,
            "description": "Request for the selected entity.",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetWriteSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entity"
                  },
                  "operation": "PUT"
                },
                "value-path": "schema"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#update-zellis-record"
        }
      }
    },
    "/{connectionId}/GetSchema": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "default"
          }
        },
        "summary": "Get Schema",
        "description": "Get Schema",
        "operationId": "GetSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "x-ms-summary": "Entity",
            "required": true,
            "description": "Select entity name",
            "type": "string"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#get-schema"
        }
      }
    },
    "/{connectionId}/GetWriteSchema": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get Write Schema",
        "description": "Get Schema for POST/PUT/PATCH",
        "operationId": "GetWriteSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "x-ms-summary": "Entity",
            "required": true,
            "description": "Select entity name",
            "type": "string"
          },
          {
            "name": "operation",
            "in": "query",
            "x-ms-summary": "Operation",
            "required": true,
            "description": "Select method to get the schema for the request",
            "type": "string"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zellis/#get-write-schema"
        }
      }
    }
  },
  "definitions": {
    "DynamicResponseGetSchema": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSchema",
        "parameters": {
          "entity": {
            "parameter": "entity"
          }
        },
        "value-path": "schema"
      }
    },
    "StaticResponseWriteSchema": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "object",
          "properties": {
            "timeTaken": {
              "type": "string",
              "description": "timeTaken"
            },
            "service": {
              "type": "string",
              "description": "service"
            },
            "transactionId": {
              "type": "string",
              "description": "transactionId"
            }
          },
          "description": "payload"
        },
        "transactionId": {
          "type": "string",
          "description": "transactionId"
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "errorType": {
                "type": "string",
                "description": "errorType"
              },
              "errorCode": {
                "type": "string",
                "description": "errorCode"
              },
              "message": {
                "type": "string",
                "description": "message"
              }
            }
          },
          "description": "errors"
        },
        "processingStatus": {
          "type": "object",
          "properties": {
            "success": {
              "type": "string",
              "description": "success"
            }
          },
          "description": "processingStatus"
        },
        "worker": {
          "type": "object",
          "properties": {
            "workerNumber": {
              "type": "string",
              "description": "workerNumber"
            }
          },
          "description": "worker"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.zellis.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.zellis.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Human Resources"
    }
  ],
  "parameters": {},
  "responses": {},
  "tags": [],
  "securityDefinitions": {},
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/zellis"
  }
}
