{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Power Apps Notification",
    "description": "Send push notifications to apps created with Power Apps. Trigger them from Flows or other apps.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/connector/sendPushNotification": {
      "post": {
        "description": "Send a push notification to the app specified in the Push Notification connection setup.",
        "summary": "Send push notification",
        "operationId": "SendPushNotification",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "payload",
            "in": "body",
            "description": "The message's JSON or raw string payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationPayLoad"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "TooManyRequests"
          }
        },
        "deprecated": false,
        "x-ms-summary": "Send a push notification to the targeted application.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsnotification/#send-push-notification"
        }
      }
    }
  },
  "definitions": {
    "NotificationPayLoad": {
      "type": "object",
      "properties": {
        "recipients": {
          "description": "List of user emails or user principle identifiers.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Recipients"
        },
        "message": {
          "description": "Message body for the push notification.",
          "type": "string",
          "x-ms-summary": "Message"
        },
        "openApp": {
          "description": "Whether to open or not the app when user taps on the push notification.",
          "type": "boolean",
          "x-ms-summary": "Open App"
        },
        "params": {
          "description": "Key value parameters to pass with the notification.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-summary": "Parameters"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://powerapps.microsoft.com/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/powerappsnotification"
  },
  "basePath": "/apim/powerappsnotification"
}