{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Video Indexer (V2)",
    "description": "Easily extract insights from your videos and quickly enrich your applications to enhance discovery and engagement. Use the Video Indexer connector to turn your videos into insights.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/videoindexer-v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/auth/{location}/Accounts/{accountId}/AccessToken": {
      "get": {
        "summary": "Get Account Access Token",
        "description": "Gets an account access token (expires after an hour).",
        "operationId": "Get-Account-Access-Token",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/allowEdit"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/tokenResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#get-account-access-token"
        }
      }
    },
    "/{connectionId}/auth/Trial/Accounts": {
      "get": {
        "summary": "Get Accounts",
        "description": "This operation returns the details of the user's accounts.",
        "operationId": "Get-Accounts",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "The user’s accounts.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Microsoft.VideoIndexer.Common.ContractsV2.AccountContractSlim"
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#get-accounts"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos": {
      "get": {
        "summary": "List Videos",
        "description": "This operation gets a list of all videos in the account.",
        "operationId": "List-videos",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/accountReadAccessToken"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of pages to skip.",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of videos in the account.",
            "schema": {
              "$ref": "#/definitions/Microsoft.VideoIndexer.Common.ContractsV2.PlaylistSearchResultV2"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#list-videos"
        }
      },
      "post": {
        "summary": "Upload video and index",
        "description": "This operation uploads the given video, starts indexing it, and returns a new video index ID.\nThe supported formats are listed here:\nhttps://docs.microsoft.com/azure/media-services/media-services-media-encoder-standard-formats).",
        "operationId": "Upload-video",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/accountWriteAccessToken"
          },
          {
            "$ref": "#/parameters/name"
          },
          {
            "$ref": "#/parameters/description"
          },
          {
            "$ref": "#/parameters/partition"
          },
          {
            "$ref": "#/parameters/externalId"
          },
          {
            "$ref": "#/parameters/callbackUrl"
          },
          {
            "name": "metadata",
            "in": "query",
            "description": "Metadata to associate with the video (will be returned in queries).",
            "x-ms-summary": "Metadata",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "$ref": "#/parameters/videoLanguage"
          },
          {
            "name": "videoUrl",
            "in": "query",
            "description": "A public URL of the video/audio file (URL encoded). If not specified, the file should be passed as a multipart/form body content.",
            "x-ms-summary": "Video URL",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "fileName",
            "in": "query",
            "description": "The uploaded file name.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "File Name",
            "type": "string"
          },
          {
            "$ref": "#/parameters/indexingPreset"
          },
          {
            "$ref": "#/parameters/streamingPreset"
          },
          {
            "name": "linguisticModelId",
            "in": "query",
            "description": "Linguistic model ID as received by 'create linguistic model' call.",
            "x-ms-summary": "Linguistic Model ID",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "$ref": "#/parameters/privacy"
          },
          {
            "name": "externalUrl",
            "in": "query",
            "description": "An external URL to associate with the video (can be searched for later).",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "External URL",
            "type": "string"
          },
          {
            "name": "body",
            "in": "formData",
            "description": "If a video URL is not specified, the file should be passed as a multipart/form body content.",
            "type": "file",
            "x-ms-summary": "Body",
            "x-ms-visibility": "important"
          },
          {
            "name": "assetId",
            "in": "query",
            "description": "Azure media services asset id. Used to index from existing assets in your connected Azure media services account. (Paid only).",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Asset ID",
            "type": "string"
          },
          {
            "$ref": "#/parameters/priority"
          },
          {
            "$ref": "#/parameters/brandsCategories"
          }
        ],
        "responses": {
          "200": {
            "description": "The video that was uploaded.",
            "schema": {
              "$ref": "#/definitions/UploadResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#upload-video-and-index"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/{videoId}/Index": {
      "get": {
        "summary": "Get Video Index",
        "description": "This operation gets a video and its insights.",
        "operationId": "Get-Video-Index",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/videoId"
          },
          {
            "$ref": "#/parameters/accountReadAccessToken"
          },
          {
            "$ref": "#/parameters/captionsLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of videos in the account.",
            "schema": {
              "$ref": "#/definitions/GetIndexResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#get-video-index"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/Search": {
      "get": {
        "summary": "Search Videos",
        "description": "This operation performs a search for text, keywords, and visual content.",
        "operationId": "Search-videos",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "name": "query",
            "in": "query",
            "description": "Free text to search for.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Query Text",
            "type": "string"
          },
          {
            "name": "textScope",
            "in": "query",
            "description": "The text scope to search in.",
            "x-ms-summary": "Text Scope",
            "x-ms-visibility": "advanced",
            "type": "string",
            "enum": [
              "Transcript",
              "Ocr"
            ]
          },
          {
            "$ref": "#/parameters/privacy"
          },
          {
            "name": "id",
            "in": "query",
            "description": "A video ID to search for.",
            "x-ms-summary": "Video ID",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "$ref": "#/parameters/partition"
          },
          {
            "name": "owner",
            "in": "query",
            "description": "A video owner to search for.",
            "x-ms-summary": "Owner",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "face",
            "in": "query",
            "description": "Search for people or celebrities.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Face Name",
            "type": "string"
          },
          {
            "$ref": "#/parameters/externalId"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of results to skip (used for paging).",
            "x-ms-summary": "Skip",
            "x-ms-visibility": "advanced",
            "type": "integer"
          },
          {
            "$ref": "#/parameters/sourceLanguage"
          },
          {
            "$ref": "#/parameters/searchLanguage"
          },
          {
            "$ref": "#/parameters/accountReadAccessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The search results.",
            "schema": {
              "$ref": "#/definitions/Microsoft.VideoIndexer.Common.ContractsV2.PlaylistSearchResultV2"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#search-videos"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/{videoId}": {
      "delete": {
        "summary": "Delete Video",
        "description": "This operation deletes the specified video and all related insights found when the video was indexed.",
        "operationId": "Delete-video",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/videoId"
          },
          {
            "$ref": "#/parameters/accountWriteAccessToken"
          }
        ],
        "responses": {
          "204": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#delete-video"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/{videoId}/SourceFile": {
      "delete": {
        "summary": "Delete Video Source File",
        "description": "This operation deletes the video source file, but does not delete the insights found when the video was indexed.",
        "operationId": "Delete-video-source-file",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/videoId"
          },
          {
            "$ref": "#/parameters/accountWriteAccessToken"
          }
        ],
        "responses": {
          "204": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#delete-video-source-file"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}": {
      "get": {
        "summary": "Get Account",
        "description": "This operation returns the details of the user's account.",
        "operationId": "Get-Account",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/accountReadAccessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the account information.",
            "schema": {
              "$ref": "#/definitions/Microsoft.VideoIndexer.Common.ContractsV2.AccountContractSlim"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#get-account"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/{videoId}/ReIndex": {
      "put": {
        "summary": "Re-index Video",
        "description": "This operation re-indexes the given video.",
        "operationId": "Re-index-video",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/videoId"
          },
          {
            "$ref": "#/parameters/accountWriteAccessToken"
          },
          {
            "$ref": "#/parameters/indexingPreset"
          },
          {
            "$ref": "#/parameters/streamingPreset"
          },
          {
            "$ref": "#/parameters/callbackUrl"
          },
          {
            "$ref": "#/parameters/priority"
          },
          {
            "$ref": "#/parameters/brandsCategories"
          },
          {
            "name": "sourceLanguage",
            "in": "query",
            "description": "The language to set set as the source language of the video, to be used when generating the transcript.",
            "x-ms-summary": "Source Language",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "English",
            "enum": [
              "Auto",
              "English",
              "Spanish",
              "Russian",
              "Japanese",
              "German",
              "French",
              "Portuguese",
              "Italian",
              "Chinese",
              "ar-EG",
              "en-US",
              "es-ES",
              "ru-RU",
              "ja-JP",
              "de-DE",
              "fr-FR",
              "pt-BR",
              "it-IT",
              "zh-CN",
              "hi-IN",
              "ko-KR"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "OK."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#re-index-video"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/GetIdByExternalId": {
      "get": {
        "summary": "Get Video ID by External ID",
        "description": "This operation retrieves the video ID corresponding to the external ID.",
        "operationId": "Get-video-id-by-external-id",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "The external ID.",
            "required": true,
            "x-ms-summary": "External ID",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "$ref": "#/parameters/accountReadAccessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Video ID retrieved successfully.",
            "schema": {
              "description": "The video ID.",
              "type": "string",
              "x-ms-summary": "Video ID"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#get-video-id-by-external-id"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/{videoId}/Index/Faces/{faceId}": {
      "put": {
        "summary": "Update Face Name",
        "description": "This operation updates the name of the given face and trains the face model to recognize that face in future videos.",
        "operationId": "Update-face",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/videoId"
          },
          {
            "name": "faceId",
            "in": "path",
            "description": "The face ID.",
            "required": true,
            "x-ms-summary": "Face ID",
            "x-ms-visibility": "important",
            "type": "integer"
          },
          {
            "$ref": "#/parameters/accountWriteAccessToken"
          },
          {
            "name": "newName",
            "in": "query",
            "description": "A new name for the face.",
            "required": true,
            "x-ms-summary": "New Face Name",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Face name updated successfully."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#update-face-name"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/{videoId}/Captions": {
      "get": {
        "summary": "Get Video Captions",
        "description": "This operation returns the captions extracted when the video was indexed.",
        "operationId": "Get-video-captions",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/videoId"
          },
          {
            "$ref": "#/parameters/accountReadAccessToken"
          },
          {
            "name": "format",
            "in": "query",
            "description": "The captions format (e.g. vtt).",
            "required": true,
            "x-ms-summary": "Format",
            "x-ms-visibility": "important",
            "type": "string",
            "default": "vtt",
            "enum": [
              "vtt"
            ]
          },
          {
            "$ref": "#/parameters/captionsLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "The captions extracted when the video was indexed.",
            "schema": {
              "description": "List of extracted captions.",
              "type": "string",
              "x-ms-summary": "List of extracted captions"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#get-video-captions"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/{videoId}/Thumbnails/{thumbnailId}": {
      "get": {
        "summary": "Get Video Thumbnail",
        "description": "Get thumbnail image of a video.",
        "operationId": "Get-thumbnail",
        "produces": [
          "image/jpeg"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/videoId"
          },
          {
            "name": "thumbnailId",
            "in": "path",
            "description": "The thumbnail ID.",
            "required": true,
            "x-ms-summary": "Thumbnail ID",
            "x-ms-visibility": "important",
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "#/parameters/accountReadAccessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnail retrieved successfully.",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#get-video-thumbnail"
        }
      }
    },
    "/{connectionId}/{location}/Accounts/{accountId}/Videos/{videoId}/Index/Transcript": {
      "put": {
        "summary": "Update Video Transcript",
        "description": "Updates the transcript of the video.",
        "operationId": "Update-Transcript",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/location"
          },
          {
            "$ref": "#/parameters/accountId"
          },
          {
            "$ref": "#/parameters/videoId"
          },
          {
            "$ref": "#/parameters/accountReadAccessToken"
          },
          {
            "$ref": "#/parameters/captionsLanguageRequired"
          },
          {
            "name": "content",
            "in": "body",
            "description": "The transcript to update.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Transcript",
            "x-ms-visibility": "important"
          },
          {
            "$ref": "#/parameters/callbackUrl"
          },
          {
            "name": "setAsSourceLanguage",
            "in": "query",
            "description": "Determines whether the language parameter should be set as source language.",
            "required": false,
            "x-ms-summary": "Set As Source Language",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "sendSuccessEmail",
            "in": "query",
            "description": "Determines whether to send a success email upon completion.",
            "required": false,
            "x-ms-summary": "Send Success Email",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "204": {
            "description": "Transcript updated successfully."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/videoindexer-v2/#update-video-transcript"
        }
      }
    }
  },
  "definitions": {
    "tokenResponse": {
      "title": "Access Token",
      "description": "The access token.",
      "type": "string",
      "x-ms-summary": "Token"
    },
    "Microsoft.VideoIndexer.Common.ContractsV2.PlaylistSearchResultV2": {
      "type": "object",
      "properties": {
        "results": {
          "description": "The search results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Microsoft.VideoIndexer.Common.ContractsV2.SinglePlaylistSearchResultV2"
          },
          "x-ms-summary": "Results"
        },
        "nextPage": {
          "$ref": "#/definitions/Microsoft.VideoIndexer.Common.ContractsV2.SearchPage"
        }
      }
    },
    "UploadResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The video ID.",
          "type": "string",
          "x-ms-summary": "Video ID"
        }
      }
    },
    "Microsoft.VideoIndexer.Common.ContractsV2.SinglePlaylistSearchResultV2": {
      "type": "object",
      "properties": {
        "accountId": {
          "format": "uuid",
          "description": "The account ID.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000",
          "x-ms-summary": "Account ID"
        },
        "id": {
          "description": "The video ID.",
          "type": "string",
          "x-ms-summary": "Video ID"
        },
        "partition": {
          "description": "The partition of the video.",
          "type": "string",
          "x-ms-summary": "Partition"
        },
        "externalId": {
          "description": "The external ID associated with the video.",
          "type": "string",
          "x-ms-summary": "External ID"
        },
        "metadata": {
          "description": "Metadata.",
          "type": "string",
          "x-ms-summary": "Metadata"
        },
        "name": {
          "description": "The name of the video.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "description": {
          "description": "The description of the video.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "created": {
          "format": "date-time",
          "description": "When the video was created.",
          "type": "string",
          "x-ms-summary": "Created"
        },
        "lastModified": {
          "format": "date-time",
          "description": "When the video was last modified.",
          "type": "string",
          "x-ms-summary": "Last Modified"
        },
        "lastIndexed": {
          "format": "date-time",
          "description": "When the video was last indexed.",
          "type": "string",
          "x-ms-summary": "Last Indexed"
        },
        "privacyMode": {
          "description": "The privacy mode of the video (public or private).",
          "enum": [
            "Private",
            "Public"
          ],
          "type": "string",
          "x-ms-summary": "Privacy"
        },
        "userName": {
          "description": "The username of the video owner.",
          "type": "string",
          "x-ms-summary": "User Name"
        },
        "isOwned": {
          "description": "Indicates whether the video is owned by the user who made the call.",
          "type": "boolean",
          "x-ms-summary": "Is Owned"
        },
        "isBase": {
          "description": "Indicates whether the video is a base video.",
          "type": "boolean",
          "x-ms-summary": "Is Base"
        },
        "state": {
          "description": "The processing state of the video. (Uploaded / Processing / Processed / Failed / Quarantined).",
          "enum": [
            "Uploaded",
            "Processing",
            "Processed",
            "Failed",
            "Quarantined"
          ],
          "type": "string",
          "x-ms-summary": "State"
        },
        "processingProgress": {
          "description": "Progress percentage of the video, if it’s being processed.",
          "type": "string",
          "x-ms-summary": "Processing Progress"
        },
        "durationInSeconds": {
          "format": "int32",
          "description": "The duration of the video in seconds.",
          "type": "integer",
          "x-ms-summary": "Duration In Seconds"
        },
        "thumbnailVideoId": {
          "description": "The ID of the video containing the original thumbnail.",
          "type": "string",
          "x-ms-summary": "Thumbnail Video ID"
        },
        "thumbnailId": {
          "format": "uuid",
          "description": "The thumbnail ID.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000",
          "x-ms-summary": "Thumbnail ID"
        },
        "searchMatches": {
          "description": "Search matches and their details (json string).",
          "x-ms-summary": "Search Matches"
        },
        "indexingPreset": {
          "description": "The indexing preset of the video index.",
          "type": "string",
          "x-ms-summary": "Indexing Preset"
        },
        "streamingPreset": {
          "description": "The streaming preset of the video index.",
          "type": "string",
          "x-ms-summary": "Streaming Preset"
        },
        "sourceLanguage": {
          "description": "The source language of the video.",
          "type": "string",
          "x-ms-summary": "Source Language"
        }
      }
    },
    "Microsoft.VideoIndexer.Common.ContractsV2.SearchPage": {
      "type": "object",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "Page size of the search results.",
          "type": "integer",
          "x-ms-summary": "Page Size"
        },
        "skip": {
          "format": "int32",
          "description": "Number of results to skip (used for paging).",
          "type": "integer",
          "x-ms-summary": "Skip"
        },
        "done": {
          "description": "Indicates whether the search is done.",
          "type": "boolean",
          "x-ms-summary": "Done"
        }
      }
    },
    "GetIndexResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "format": "uuid",
          "description": "The account ID.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000",
          "x-ms-summary": "Account ID"
        },
        "id": {
          "description": "The video ID.",
          "type": "string",
          "x-ms-summary": "Video ID"
        },
        "partition": {
          "description": "The partition of the video.",
          "type": "string",
          "x-ms-summary": "Video Partition"
        },
        "name": {
          "description": "The name of the video.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "description": {
          "description": "The description of the video.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "userName": {
          "description": "The username of the video owner.",
          "type": "string",
          "x-ms-summary": "User Name"
        },
        "created": {
          "format": "date-time",
          "description": "The creation time of the video.",
          "type": "string",
          "x-ms-summary": "Created"
        },
        "privacyMode": {
          "description": "The privacy mode of the video.",
          "enum": [
            "Private",
            "Public"
          ],
          "type": "string",
          "x-ms-summary": "Privacy"
        },
        "state": {
          "description": "The processing state of the video. (Uploaded / Processing / Processed / Failed / Quarantined).",
          "enum": [
            "Uploaded",
            "Processing",
            "Processed",
            "Failed",
            "Quarantined"
          ],
          "type": "string",
          "x-ms-summary": "State"
        },
        "isOwned": {
          "description": "Indicates whether the video is owned by a user.",
          "type": "boolean",
          "x-ms-summary": "Is Owned"
        },
        "isEditable": {
          "description": "Whether the request to get the video had a token with write permission.",
          "type": "boolean",
          "x-ms-summary": "Is Editable"
        },
        "isBase": {
          "description": "Indicates whether the video is a base video.",
          "type": "boolean",
          "x-ms-summary": "Is Base"
        },
        "durationInSeconds": {
          "format": "int32",
          "description": "The duration of the video in seconds.",
          "type": "integer",
          "x-ms-summary": "Duration In Seconds"
        },
        "summarizedInsights": {
          "description": "Summary of insights taken from the video index (json string).",
          "type": "object",
          "properties": {},
          "x-ms-summary": "Summarized Insights"
        },
        "videos": {
          "description": "Videos insights taken from the video index (json string).",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {}
          },
          "x-ms-summary": "Videos Insights"
        },
        "videosRanges": {
          "description": "The ranges of the videos in this index (json string).",
          "x-ms-summary": "Video Ranges"
        }
      }
    },
    "Microsoft.VideoIndexer.Common.ContractsV2.AccountContractSlim": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Account ID.",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000",
          "x-ms-summary": "Account ID"
        },
        "name": {
          "description": "The account name.",
          "type": "string",
          "x-ms-summary": "Account Name"
        },
        "location": {
          "description": "Account location.",
          "type": "string",
          "x-ms-summary": "Account Location"
        },
        "accountType": {
          "description": "Account type.",
          "type": "string",
          "x-ms-summary": "Account Type"
        },
        "url": {
          "description": "API calls should be made to account URL + account location.",
          "type": "string",
          "x-ms-summary": "Account URL"
        }
      }
    }
  },
  "parameters": {
    "allowEdit": {
      "name": "allowEdit",
      "in": "query",
      "description": "Determines whether the token has write permissions.",
      "required": true,
      "x-ms-summary": "Allow Edit",
      "x-ms-visibility": "important",
      "type": "boolean",
      "default": false
    },
    "accountId": {
      "name": "accountId",
      "in": "path",
      "description": "Account ID is a globally unique identifier (GUID) for the account.",
      "required": true,
      "x-ms-summary": "Account ID",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "Get-Accounts",
        "value-path": "id",
        "value-title": "id"
      },
      "type": "string",
      "format": "uuid"
    },
    "location": {
      "name": "location",
      "in": "path",
      "description": "Indicates the Azure region to which the call should be routed.",
      "required": true,
      "x-ms-summary": "Location",
      "x-ms-visibility": "important",
      "type": "string",
      "enum": [
        "trial",
        "eastus",
        "westus2",
        "eastasia",
        "northeurope",
        "westeurope",
        "southeastasia",
        "eastus2",
        "australiaeast",
        "southcentralus",
        "japaneast",
        "uksouth",
        "switzerlandnorth",
        "switzerlandwest",
        "centralindia",
        "canadacentral",
        "westus",
        "northcentralus",
        "francecentral",
        "centralus",
        "koreacentral",
        "brazilsouth",
        "japanwest",
        "westcentralus"
      ]
    },
    "accountReadAccessToken": {
      "name": "accessToken",
      "in": "query",
      "description": "An account access token with read permissions.",
      "required": true,
      "x-ms-summary": "Access Token",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "accountWriteAccessToken": {
      "name": "accessToken",
      "in": "query",
      "description": "An account access token with write permissions.",
      "required": true,
      "x-ms-summary": "Access Token",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "name": {
      "name": "name",
      "in": "query",
      "description": "The title of the video.",
      "required": true,
      "x-ms-summary": "Video Name",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "description": {
      "name": "description",
      "in": "query",
      "description": "The video description.",
      "x-ms-summary": "Description",
      "x-ms-visibility": "advanced",
      "type": "string"
    },
    "partition": {
      "name": "partition",
      "in": "query",
      "description": "A partition to search videos by.",
      "x-ms-summary": "Partition",
      "x-ms-visibility": "advanced",
      "type": "string"
    },
    "externalId": {
      "name": "externalId",
      "in": "query",
      "description": "An external ID (associated with the video at upload).",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "External ID",
      "type": "string"
    },
    "videoLanguage": {
      "name": "language",
      "in": "query",
      "description": "The video language, used when generating the transcript.",
      "x-ms-summary": "Video Language",
      "x-ms-visibility": "advanced",
      "type": "string",
      "enum": [
        "Auto",
        "English",
        "Spanish",
        "Russian",
        "Japanese",
        "German",
        "French",
        "Portuguese",
        "Italian",
        "Chinese",
        "Arabic",
        "ar-EG",
        "de-DE",
        "en-US",
        "es-ES",
        "fr-FR",
        "hi-IN",
        "it-IT",
        "ja-JP",
        "ko-KR",
        "pt-BR",
        "ru-RU",
        "zh-Hans"
      ]
    },
    "captionsLanguage": {
      "name": "language",
      "in": "query",
      "description": "The language of the captions.",
      "x-ms-summary": "Captions Language",
      "x-ms-visibility": "advanced",
      "type": "string",
      "default": "English",
      "enum": [
        "English",
        "Spanish",
        "Russian",
        "Japanese",
        "German",
        "French",
        "Portuguese",
        "Italian",
        "Chinese",
        "Filipino",
        "Arabic",
        "ar-EG",
        "en-US",
        "es-ES",
        "fr-FR",
        "de-DE",
        "it-IT",
        "ja-JP",
        "pt-BR",
        "ru-RU",
        "zh-Hans",
        "fil-PH",
        "Af-ZA",
        "Bn-BD",
        "Bs-Latn",
        "Bg-BG",
        "Ca-ES",
        "Hr-HR",
        "Cs-CZ",
        "Da-DK",
        "Nl-NL",
        "En-FJ",
        "En-GB",
        "En-WS",
        "Es-MX",
        "Et-EE",
        "Fi-FI",
        "El-GR",
        "Fr-HT",
        "He-IL",
        "Hi-IN",
        "Hu-HU",
        "Id-ID",
        "Sw-KE",
        "Ko-KR",
        "Lv-LV",
        "Lt-LT",
        "Mg-MG",
        "Ms-MY",
        "Mt-MT",
        "Nb-NO",
        "Fa-IR",
        "Pl-PL",
        "Ro-RO",
        "Sr-Cyrl-RS",
        "Sr-Latn-RS",
        "Sk-SK",
        "Sl-SI",
        "Sv-SE",
        "Ta-IN",
        "Th-TH",
        "To-TO",
        "Tr-TR",
        "Uk-UA",
        "Ur-PK",
        "Vi-VN",
        "Zh-Hant"
      ]
    },
    "captionsLanguageRequired": {
      "name": "language",
      "in": "query",
      "description": "The language of the captions.",
      "required": true,
      "x-ms-summary": "Captions Language",
      "x-ms-visibility": "advanced",
      "type": "string",
      "default": "English",
      "enum": [
        "English",
        "Spanish",
        "Russian",
        "Japanese",
        "German",
        "French",
        "Portuguese",
        "Italian",
        "Chinese",
        "Filipino",
        "Arabic",
        "ar-EG",
        "en-US",
        "es-ES",
        "fr-FR",
        "de-DE",
        "it-IT",
        "ja-JP",
        "pt-BR",
        "ru-RU",
        "zh-Hans",
        "fil-PH",
        "Af-ZA",
        "Bn-BD",
        "Bs-Latn",
        "Bg-BG",
        "Ca-ES",
        "Hr-HR",
        "Cs-CZ",
        "Da-DK",
        "Nl-NL",
        "En-FJ",
        "En-GB",
        "En-WS",
        "Es-MX",
        "Et-EE",
        "Fi-FI",
        "El-GR",
        "Fr-HT",
        "He-IL",
        "Hi-IN",
        "Hu-HU",
        "Id-ID",
        "Sw-KE",
        "Ko-KR",
        "Lv-LV",
        "Lt-LT",
        "Mg-MG",
        "Ms-MY",
        "Mt-MT",
        "Nb-NO",
        "Fa-IR",
        "Pl-PL",
        "Ro-RO",
        "Sr-Cyrl-RS",
        "Sr-Latn-RS",
        "Sk-SK",
        "Sl-SI",
        "Sv-SE",
        "Ta-IN",
        "Th-TH",
        "To-TO",
        "Tr-TR",
        "Uk-UA",
        "Ur-PK",
        "Vi-VN",
        "Zh-Hant"
      ]
    },
    "searchLanguage": {
      "name": "language",
      "in": "query",
      "description": "The search language. You can specify multiple language parameters (e.g. $language=English&language=French) to search multiple languages. Leaving this parameter blank will search all languages.",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Language",
      "type": "string",
      "default": "English",
      "enum": [
        "English",
        "Spanish",
        "Russian",
        "Japanese",
        "German",
        "French",
        "Portuguese",
        "Italian",
        "Chinese",
        "Filipino",
        "Arabic",
        "ar-EG",
        "en-US",
        "es-ES",
        "fr-FR",
        "de-DE",
        "it-IT",
        "ja-JP",
        "pt-BR",
        "ru-RU",
        "zh-Hans",
        "fil-PH",
        "Af-ZA",
        "Bn-BD",
        "Bs-Latn",
        "Bg-BG",
        "Ca-ES",
        "Hr-HR",
        "Cs-CZ",
        "Da-DK",
        "Nl-NL",
        "En-FJ",
        "En-GB",
        "En-WS",
        "Es-MX",
        "Et-EE",
        "Fi-FI",
        "El-GR",
        "Fr-HT",
        "He-IL",
        "Hi-IN",
        "Hu-HU",
        "Id-ID",
        "Sw-KE",
        "Ko-KR",
        "Lv-LV",
        "Lt-LT",
        "Mg-MG",
        "Ms-MY",
        "Mt-MT",
        "Nb-NO",
        "Fa-IR",
        "Pl-PL",
        "Ro-RO",
        "Sr-Cyrl-RS",
        "Sr-Latn-RS",
        "Sk-SK",
        "Sl-SI",
        "Sv-SE",
        "Ta-IN",
        "Th-TH",
        "To-TO",
        "Tr-TR",
        "Uk-UA",
        "Ur-PK",
        "Vi-VN",
        "Zh-Hant"
      ]
    },
    "sourceLanguage": {
      "name": "sourceLanguage",
      "in": "query",
      "description": "Include only videos with the specified source language. You can specify multiple language parameters (e.g. $language=English&language=French) to search multiple languages. Leaving this parameter blank will search all languages.",
      "x-ms-summary": "Source Language",
      "x-ms-visibility": "advanced",
      "type": "string",
      "default": "English",
      "enum": [
        "English",
        "Spanish",
        "Russian",
        "Japanese",
        "German",
        "French",
        "Portuguese",
        "Italian",
        "Chinese",
        "Filipino",
        "Arabic",
        "ar-EG",
        "en-US",
        "es-ES",
        "fr-FR",
        "de-DE",
        "it-IT",
        "ja-JP",
        "pt-BR",
        "ru-RU",
        "zh-Hans",
        "fil-PH",
        "Af-ZA",
        "Bn-BD",
        "Bs-Latn",
        "Bg-BG",
        "Ca-ES",
        "Hr-HR",
        "Cs-CZ",
        "Da-DK",
        "Nl-NL",
        "En-FJ",
        "En-WS",
        "Et-EE",
        "Fi-FI",
        "El-GR",
        "Fr-HT",
        "He-IL",
        "Hi-IN",
        "Hu-HU",
        "Id-ID",
        "Sw-KE",
        "Ko-KR",
        "Lv-LV",
        "Lt-LT",
        "Mg-MG",
        "Ms-MY",
        "Mt-MT",
        "Nb-NO",
        "Fa-IR",
        "Pl-PL",
        "Ro-RO",
        "Sr-Cyrl-RS",
        "Sr-Latn-RS",
        "Sk-SK",
        "Sl-SI",
        "Sv-SE",
        "Ta-IN",
        "Th-TH",
        "To-TO",
        "Tr-TR",
        "Uk-UA",
        "Ur-PK",
        "Vi-VN",
        "Zh-Hant"
      ]
    },
    "videoId": {
      "name": "videoId",
      "in": "path",
      "description": "The video ID.",
      "required": true,
      "x-ms-summary": "Video ID",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "privacy": {
      "name": "privacy",
      "in": "query",
      "description": "The video privacy.",
      "x-ms-summary": "Privacy",
      "x-ms-visibility": "advanced",
      "type": "string",
      "enum": [
        "Private",
        "Public"
      ]
    },
    "pageSize": {
      "name": "pageSize",
      "in": "query",
      "description": "The number of results to return.",
      "x-ms-summary": "Page Size",
      "x-ms-visibility": "advanced",
      "type": "integer"
    },
    "indexingPreset": {
      "name": "indexingPreset",
      "in": "query",
      "description": "The indexing preset to use.",
      "x-ms-summary": "Indexing Preset",
      "x-ms-visibility": "advanced",
      "type": "string",
      "enum": [
        "Default",
        "AudioOnly",
        "DefaultWithNoiseReduction",
        "VideoOnly"
      ]
    },
    "streamingPreset": {
      "name": "streamingPreset",
      "in": "query",
      "description": "The streaming preset to use.",
      "x-ms-summary": "Streaming Preset",
      "x-ms-visibility": "advanced",
      "type": "string",
      "enum": [
        "Default",
        "SingleBitrate",
        "AdaptiveBitrate",
        "NoStreaming"
      ]
    },
    "callbackUrl": {
      "name": "callbackUrl",
      "in": "query",
      "description": "A URL to notify when indexing is complete.\nIt should be a POST URL and Video Indexer will add 2 additional query string parameters to it: ID and state.",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Callback URL",
      "type": "string"
    },
    "priority": {
      "name": "priority",
      "in": "query",
      "description": "Index priority (Low, Normal and High). Can be used in paid regions only.",
      "x-ms-summary": "Priority",
      "x-ms-visibility": "advanced",
      "type": "string",
      "enum": [
        "Low",
        "Normal",
        "High"
      ]
    },
    "brandsCategories": {
      "name": "brandsCategories",
      "in": "query",
      "description": "List of brands categories delimited by comma. Video indexer will only take these categories in to account when indexing. If not specified all brands will be used.",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Brands Categories",
      "type": "string"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://vi.microsoft.com"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/videoindexer-v2"
  }
}
