{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Redmine",
    "description": "Redmine is a web based tool for software project management.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/new_project_trigger/projects.json": {
      "get": {
        "summary": "When a project is created",
        "description": "When a project is created.",
        "operationId": "OnNewProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task in the selected task list.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#when-a-project-is-created"
        }
      }
    },
    "/{connectionId}/new_issue_trigger/issues.json": {
      "get": {
        "summary": "When an issue is created",
        "description": "When an issue is created.",
        "operationId": "OnNewIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project.",
            "required": true,
            "x-ms-summary": "Project",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListIssuesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task in the selected task list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#when-an-issue-is-created"
        }
      }
    },
    "/{connectionId}/resolved_issue_trigger/issues.json": {
      "get": {
        "summary": "When an issue is updated",
        "description": "When an issue is updated.",
        "operationId": "OnUpdatedIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "description": "Project.",
            "required": true,
            "x-ms-summary": "Project",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListIssuesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, complete a task in the selected task list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#when-an-issue-is-updated"
        }
      }
    },
    "/{connectionId}/issues.json": {
      "get": {
        "summary": "List issues",
        "description": "List issues.",
        "operationId": "ListIssues",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListIssuesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#list-issues"
        }
      },
      "post": {
        "summary": "Create an issue",
        "description": "Create an issue.",
        "operationId": "CreateIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "issue",
            "in": "body",
            "description": "Issue",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateIssueRequest"
            },
            "x-ms-summary": "Issue"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateIssueResponse"
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/CreateIssueResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#create-an-issue"
        }
      }
    },
    "/{connectionId}/issues/{issue_id}.json": {
      "get": {
        "summary": "Get issue by ID",
        "description": "Get issue by ID.",
        "operationId": "GetIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "issue_id",
            "in": "path",
            "description": "Issue.",
            "required": true,
            "x-ms-summary": "Issue",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetIssueResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#get-issue-by-id"
        }
      },
      "put": {
        "summary": "Update an issue",
        "description": "Update an issue.",
        "operationId": "UpdateIssue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "issue_id",
            "in": "path",
            "description": "Issue.",
            "required": true,
            "x-ms-summary": "Issue",
            "x-ms-dynamic-values": {
              "operationId": "ListIssues",
              "value-collection": "issues",
              "value-path": "id",
              "value-title": "subject"
            },
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "issue",
            "in": "body",
            "description": "Issue.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateIssueRequest"
            },
            "x-ms-summary": "Issue"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#update-an-issue"
        }
      }
    },
    "/{connectionId}/projects.json": {
      "get": {
        "summary": "List projects",
        "description": "List projects.",
        "operationId": "ListProjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#list-projects"
        }
      },
      "post": {
        "summary": "Create a project",
        "description": "Create a project.",
        "operationId": "CreateProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project",
            "in": "body",
            "description": "Project.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProjectRequest"
            },
            "x-ms-summary": "Project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateProjectResponse"
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/CreateProjectResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#create-a-project"
        }
      }
    },
    "/{connectionId}/projects/{project_id}.json": {
      "get": {
        "summary": "Get project by ID",
        "description": "Get project by ID.",
        "operationId": "GetProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "Project.",
            "required": true,
            "x-ms-summary": "Project",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetProjectResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#get-project-by-id"
        }
      }
    },
    "/{connectionId}/users.json": {
      "get": {
        "summary": "List users",
        "description": "List users.",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsersResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#list-users"
        }
      }
    },
    "/{connectionId}/users/{user_id}.json": {
      "get": {
        "summary": "Get user by ID",
        "description": "Get user by ID.",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User.",
            "required": true,
            "x-ms-summary": "User",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetUserResponse"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#get-user-by-id"
        }
      }
    },
    "/{connectionId}/users/current.json": {
      "get": {
        "summary": "Get current user",
        "description": "Get current user.",
        "operationId": "GetCurrentUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetUserResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#get-current-user"
        }
      }
    },
    "/{connectionId}/enumerations/issue_priorities.json": {
      "get": {
        "summary": "List priorities",
        "description": "List priorities.",
        "operationId": "ListPriorities",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPrioritiesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/redmine/#list-priorities"
        }
      }
    }
  },
  "definitions": {
    "ListProjectsResponse": {
      "type": "object",
      "properties": {
        "projects": {
          "description": "Projects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectResponse"
          },
          "x-ms-summary": "Projects",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Project id.",
          "x-ms-summary": "Project id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Project name.",
          "x-ms-summary": "Project name",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "identifier": {
          "description": "Unique friendly name that is different from id.",
          "x-ms-summary": "Identifier",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "status": {
          "description": "Status.",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "is_public": {
          "description": "Public.",
          "x-ms-summary": "Public",
          "x-ms-visibility": "important",
          "type": "boolean"
        },
        "created_on": {
          "description": "Created on.",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        },
        "updated_on": {
          "description": "Updated on.",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "GetProjectResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Project id.",
          "x-ms-summary": "Project id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Project name.",
          "x-ms-summary": "Project name",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "identifier": {
          "description": "Unique friendly name that is different from id.",
          "x-ms-summary": "Identifier",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "homepage": {
          "description": "Homepage.",
          "x-ms-summary": "Homepage",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "status": {
          "description": "Status.",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "is_public": {
          "description": "Public.",
          "x-ms-summary": "Public",
          "x-ms-visibility": "important",
          "type": "boolean"
        },
        "created_on": {
          "description": "Created on.",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        },
        "updated_on": {
          "description": "Updated on.",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "CreateProjectRequest": {
      "type": "object",
      "required": [
        "project"
      ],
      "properties": {
        "project": {
          "type": "object",
          "required": [
            "name",
            "identifier"
          ],
          "properties": {
            "name": {
              "description": "Name of project.",
              "x-ms-summary": "Name",
              "type": "string"
            },
            "identifier": {
              "description": "Unique friendly name that is different from id.",
              "x-ms-summary": "Identifier",
              "type": "string"
            },
            "description": {
              "description": "Description.",
              "x-ms-summary": "Description",
              "type": "string"
            },
            "homepage": {
              "description": "Homepage.",
              "x-ms-summary": "Homepage",
              "x-ms-visibility": "advanced",
              "type": "string"
            },
            "parent_id": {
              "description": "Select the parent project.",
              "x-ms-summary": "Parent project",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListProjects",
                "value-collection": "projects",
                "value-path": "id",
                "value-title": "name"
              },
              "type": "string"
            },
            "is_public": {
              "description": "Is a public project.",
              "x-ms-summary": "Public",
              "x-ms-visibility": "advanced",
              "type": "boolean",
              "default": false
            },
            "inherit_members": {
              "description": "Inherit members.",
              "x-ms-summary": "Inherit members",
              "x-ms-visibility": "advanced",
              "type": "boolean",
              "default": false
            }
          }
        }
      }
    },
    "CreateProjectResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Project id.",
          "x-ms-summary": "Project id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Project name.",
          "x-ms-summary": "Project name",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "identifier": {
          "description": "Unique friendly name that is different from id.",
          "x-ms-summary": "Identifier",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "homepage": {
          "description": "Homepage.",
          "x-ms-summary": "Homepage",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "parent": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Parent Id.",
              "x-ms-summary": "Parent Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Parent.",
              "x-ms-summary": "Parent",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "status": {
          "description": "Status.",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "is_public": {
          "description": "Public.",
          "x-ms-summary": "Public",
          "x-ms-visibility": "important",
          "type": "boolean"
        },
        "created_on": {
          "description": "Created on.",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        },
        "updated_on": {
          "description": "Updated on.",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ListIssuesResponse": {
      "type": "object",
      "properties": {
        "issues": {
          "description": "Issues.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IssueResponse"
          },
          "x-ms-summary": "Issues",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "IssueResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Issue Id.",
          "x-ms-summary": "Issue Id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "project": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Project Id.",
              "x-ms-summary": "Project Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Project name.",
              "x-ms-summary": "Project name",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "tracker": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Tracker Id.",
              "x-ms-summary": "Tracker Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Tracker.",
              "x-ms-summary": "Tracker",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "status": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Status Id.",
              "x-ms-summary": "Status Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Status.",
              "x-ms-summary": "Status",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "priority": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Priority Id.",
              "x-ms-summary": "Priority Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Priority.",
              "x-ms-summary": "Priority",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "author": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Author Id.",
              "x-ms-summary": "Author Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Author.",
              "x-ms-summary": "Author",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "subject": {
          "description": "Subject.",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "start_date": {
          "description": "Start date.",
          "x-ms-summary": "Start date",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "due_date": {
          "description": "Due date.",
          "x-ms-summary": "Due date",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "done_ratio": {
          "description": "Done ratio.",
          "x-ms-summary": "Done ratio",
          "x-ms-visibility": "important",
          "format": "float",
          "type": "number"
        },
        "estimated_hours": {
          "description": "Estimated hours.",
          "x-ms-summary": "Estimated hours",
          "x-ms-visibility": "important",
          "format": "float",
          "type": "number"
        },
        "created_on": {
          "description": "Created on.",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        },
        "updated_on": {
          "description": "Updated on.",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "GetIssueResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Issue Id.",
          "x-ms-summary": "Issue Id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "project": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Project Id.",
              "x-ms-summary": "Project Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Project name.",
              "x-ms-summary": "Project name",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "tracker": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Tracker Id.",
              "x-ms-summary": "Tracker Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Tracker.",
              "x-ms-summary": "Tracker",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "status": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Status Id.",
              "x-ms-summary": "Status Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Status.",
              "x-ms-summary": "Status",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "priority": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Priority Id.",
              "x-ms-summary": "Priority Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Priority.",
              "x-ms-summary": "Priority",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "author": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Author Id.",
              "x-ms-summary": "Author Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Author.",
              "x-ms-summary": "Author",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "subject": {
          "description": "Subject.",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "start_date": {
          "description": "Start date.",
          "x-ms-summary": "Start date",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "due_date": {
          "description": "Due date.",
          "x-ms-summary": "Due date",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "done_ratio": {
          "description": "Done ratio.",
          "x-ms-summary": "Done ratio",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "estimated_hours": {
          "description": "Estimated hours.",
          "x-ms-summary": "Estimated hours",
          "x-ms-visibility": "important",
          "format": "float",
          "type": "number"
        },
        "total_estimated_hours": {
          "description": "Total estimated hours.",
          "x-ms-summary": "Total estimated hours",
          "x-ms-visibility": "important",
          "format": "float",
          "type": "number"
        },
        "spent_hours": {
          "description": "Spent hours.",
          "x-ms-summary": "Spent hours",
          "x-ms-visibility": "important",
          "format": "float",
          "type": "number"
        },
        "total_spent_hours": {
          "description": "Total spent hours.",
          "x-ms-summary": "Total spent hours",
          "x-ms-visibility": "important",
          "format": "float",
          "type": "number"
        },
        "created_on": {
          "description": "Created on.",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        },
        "updated_on": {
          "description": "Updated on.",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "CreateIssueRequest": {
      "type": "object",
      "required": [
        "issue"
      ],
      "properties": {
        "issue": {
          "type": "object",
          "required": [
            "project_id",
            "priority_id",
            "tracker_id",
            "subject"
          ],
          "properties": {
            "project_id": {
              "description": "Project.",
              "x-ms-summary": "Project",
              "x-ms-dynamic-values": {
                "operationId": "ListProjects",
                "value-collection": "projects",
                "value-path": "id",
                "value-title": "name"
              },
              "type": "string"
            },
            "priority_id": {
              "description": "Priority.",
              "x-ms-summary": "Priority",
              "x-ms-dynamic-values": {
                "operationId": "ListPriorities",
                "value-collection": "issue_priorities",
                "value-path": "id",
                "value-title": "name"
              },
              "type": "string"
            },
            "tracker_id": {
              "description": "Tracker.",
              "x-ms-summary": "Tracker",
              "enum": [
                "Bug",
                "Feature",
                "Support"
              ],
              "type": "string"
            },
            "subject": {
              "description": "Subject.",
              "x-ms-summary": "Subject",
              "type": "string"
            },
            "description": {
              "description": "Description.",
              "x-ms-summary": "Description",
              "type": "string"
            }
          }
        }
      },
      "x-ms-test-value": {
        "issue": {
          "project_id": 1,
          "priority_id": 3,
          "tracker_id": 2,
          "subject": "feature test",
          "description": "description for an issue"
        }
      }
    },
    "CreateIssueResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Issue Id.",
          "x-ms-summary": "Issue Id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "project": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Project Id.",
              "x-ms-summary": "Project Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Project name.",
              "x-ms-summary": "Project name",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "tracker": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Tracker Id.",
              "x-ms-summary": "Tracker Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Tracker.",
              "x-ms-summary": "Tracker",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "status": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Status Id.",
              "x-ms-summary": "Status Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Status.",
              "x-ms-summary": "Status",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "priority": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Priority Id.",
              "x-ms-summary": "Priority Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Priority.",
              "x-ms-summary": "Priority",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "author": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Author Id.",
              "x-ms-summary": "Author Id",
              "x-ms-visibility": "internal",
              "format": "int32",
              "type": "integer"
            },
            "name": {
              "description": "Author.",
              "x-ms-summary": "Author",
              "x-ms-visibility": "important",
              "type": "string"
            }
          }
        },
        "subject": {
          "description": "Subject.",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "description": {
          "description": "Description.",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "start_date": {
          "description": "Start date.",
          "x-ms-summary": "Start date",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "due_date": {
          "description": "Due date.",
          "x-ms-summary": "Due date",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "done_ratio": {
          "description": "Done ratio.",
          "x-ms-summary": "Done ratio",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "estimated_hours": {
          "description": "Estimated hours.",
          "x-ms-summary": "Estimated hours",
          "x-ms-visibility": "important",
          "format": "float",
          "type": "number"
        },
        "total_estimated_hours": {
          "description": "Total estimated hours.",
          "x-ms-summary": "Total estimated hours",
          "x-ms-visibility": "important",
          "format": "float",
          "type": "number"
        },
        "created_on": {
          "description": "Created on.",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        },
        "updated_on": {
          "description": "Updated on.",
          "x-ms-summary": "Updated on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "UpdateIssueRequest": {
      "type": "object",
      "required": [
        "issue"
      ],
      "properties": {
        "issue": {
          "type": "object",
          "properties": {
            "priority_id": {
              "description": "Priority.",
              "x-ms-summary": "Priority",
              "x-ms-dynamic-values": {
                "operationId": "ListPriorities",
                "value-collection": "issue_priorities",
                "value-path": "id",
                "value-title": "name"
              },
              "type": "string"
            },
            "tracker_id": {
              "description": "Tracker.",
              "x-ms-summary": "Tracker",
              "enum": [
                "Bug",
                "Feature",
                "Support"
              ],
              "type": "string"
            },
            "status_id": {
              "description": "Status.",
              "x-ms-summary": "Status",
              "enum": [
                "New",
                "In Progress",
                "Resolved",
                "Feedback",
                "Closed",
                "Rejected"
              ],
              "type": "string",
              "x-ms-test-value": 4
            },
            "subject": {
              "description": "Subject.",
              "x-ms-summary": "Subject",
              "type": "string"
            },
            "description": {
              "description": "Description.",
              "x-ms-summary": "Description",
              "type": "string"
            }
          }
        }
      },
      "x-ms-test-value": {
        "issue": {
          "subject": "new subject"
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "users": {
          "description": "Users.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserResponse"
          },
          "x-ms-summary": "Users",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "User Id.",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "login": {
          "description": "Login.",
          "x-ms-summary": "Login",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "firstname": {
          "description": "First name.",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "lastname": {
          "description": "Last name.",
          "x-ms-summary": "Last name",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "mail": {
          "description": "Email.",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "created_on": {
          "description": "Created on.",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        },
        "last_login_on": {
          "description": "Last login.",
          "x-ms-summary": "Last login",
          "x-ms-visibility": "internal",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "GetUserResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "User Id.",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "login": {
          "description": "Login.",
          "x-ms-summary": "Login",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "firstname": {
          "description": "First name.",
          "x-ms-summary": "First name",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "lastname": {
          "description": "Last name.",
          "x-ms-summary": "Last name",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "mail": {
          "description": "Email.",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important",
          "type": "string"
        },
        "created_on": {
          "description": "Created on.",
          "x-ms-summary": "Created on",
          "x-ms-visibility": "important",
          "format": "date-time",
          "type": "string"
        },
        "last_login_on": {
          "description": "Last login.",
          "x-ms-summary": "Last login",
          "x-ms-visibility": "internal",
          "format": "date-time",
          "type": "string"
        },
        "api_key": {
          "description": "API key.",
          "x-ms-summary": "API key",
          "x-ms-visibility": "internal",
          "type": "string"
        },
        "status": {
          "description": "Status.",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListPrioritiesResponse": {
      "type": "object",
      "properties": {
        "issue_priorities": {
          "description": "Priorities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectResponse"
          },
          "x-ms-summary": "Projects",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PriorityResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Priority Id.",
          "x-ms-summary": "Priority Id",
          "x-ms-visibility": "important",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Name.",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important",
          "type": "string"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetCurrentUser"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.redmine.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://redmine.org/projects/redmine/wiki/PrivacyPolicy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/redmine"
  },
  "basePath": "/apim/redmine"
}
