{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "LeanKit",
    "description": "Helping teams work together to deliver customer value, faster.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/add_card_trigger/io/card": {
      "get": {
        "summary": "When a new card is added",
        "description": "Triggers when a new card is added to the given board and lane.",
        "operationId": "TrigNewCard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/boardId__in_query"
          },
          {
            "$ref": "#/parameters/laneId__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigCardsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new card.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#when-a-new-card-is-added"
        }
      }
    },
    "/{connectionId}/update_card_trigger/io/card": {
      "get": {
        "summary": "When a card is updated",
        "description": "Triggers when the details of an existing card are updated.",
        "operationId": "TrigUpdateCard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/boardId__in_query"
          },
          {
            "$ref": "#/parameters/laneId__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigCardsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a card.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#when-a-card-is-updated"
        }
      }
    },
    "/{connectionId}/io/board": {
      "get": {
        "summary": "List boards",
        "description": "List boards",
        "operationId": "ListBoards",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListBoardsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#list-boards"
        }
      },
      "post": {
        "summary": "Create a new board",
        "description": "This operation is used to create a new LeanKit board.",
        "operationId": "CreateBoard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBoardRequest"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/CreateBoardResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#create-a-new-board"
        }
      }
    },
    "/{connectionId}/io/card": {
      "get": {
        "summary": "List cards",
        "description": "List cards",
        "operationId": "ListCards",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/boardId__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCardsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#list-cards"
        }
      },
      "post": {
        "summary": "Create a new card",
        "description": "This operation is used to create a new card in LeanKit.",
        "operationId": "CreateCard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCardRequest"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/CreateCardResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#create-a-new-card"
        }
      }
    },
    "/{connectionId}/io/board/{boardId}": {
      "get": {
        "summary": "Get board",
        "description": "This operation is used to retrieve all information about a board in LeanKit.",
        "operationId": "GetBoard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "boardId",
            "in": "path",
            "description": "Pick a board.",
            "required": true,
            "x-ms-summary": "Board Id",
            "x-ms-dynamic-values": {
              "operationId": "ListBoards",
              "value-collection": "boards",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string",
            "x-ms-test-value": 437345165
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetBoardResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#get-board"
        }
      }
    },
    "/{connectionId}/io/card/{cardId}": {
      "get": {
        "summary": "Get a card",
        "description": "This operation is used to retrieve all information about a card, given its id.",
        "operationId": "GetCard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/cardId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/CardResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#get-a-card"
        }
      },
      "patch": {
        "summary": "Update a card",
        "description": "This operation is used to update the details of an existing card given its id.",
        "operationId": "UpdateCard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/cardId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCardRequest"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/CardResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#update-a-card"
        }
      },
      "delete": {
        "summary": "Delete a card",
        "description": "This operation is used to delete an existing card in LeaKit.",
        "operationId": "DeleteCard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "cardId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Card Id",
            "description": "The id of the card",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "$ref": "#/definitions/CardResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#delete-a-card"
        }
      }
    },
    "/{connectionId}/io/card/{cardId}/comment": {
      "post": {
        "summary": "Add comment to a card",
        "description": "This operation is used to add a comment to an existing card in LeanKit.",
        "operationId": "AddComment",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/cardId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddCommentRequest"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "$ref": "#/definitions/AddCommentResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#add-comment-to-a-card"
        }
      }
    },
    "/{connectionId}/io/user/me": {
      "get": {
        "summary": "Current user info",
        "description": "Returns information about current user.",
        "operationId": "GetCurrentUser",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/leankit/#current-user-info"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "CreateBoardRequest": {
      "type": "object",
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "title": "test board"
      }
    },
    "CreateCardRequest": {
      "type": "object",
      "required": [
        "boardId",
        "title",
        "typeId"
      ],
      "properties": {
        "boardId": {
          "description": "Pick a board.",
          "type": "string",
          "x-ms-summary": "Board Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListBoards",
            "value-collection": "boards",
            "value-path": "id",
            "value-title": "title"
          }
        },
        "typeId": {
          "description": "Pick a card type.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetBoard",
            "value-collection": "cardTypes",
            "value-path": "id",
            "value-title": "name",
            "parameters": {
              "boardId": {
                "parameter": "boardId"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "GetBoard",
            "itemsPath": "cardTypes",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "parameters": {
              "boardId": {
                "parameterReference": "body/boardId"
              }
            }
          }
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        },
        "laneId": {
          "description": "Pick a card lane.",
          "type": "string",
          "x-ms-summary": "Lane Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "GetBoard",
            "value-collection": "lanes",
            "value-path": "id",
            "value-title": "name",
            "parameters": {
              "boardId": {
                "parameter": "boardId"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "GetBoard",
            "itemsPath": "lanes",
            "itemValuePath": "id",
            "itemTitlePath": "name",
            "parameters": {
              "boardId": {
                "parameterReference": "body/boardId"
              }
            }
          }
        },
        "priority": {
          "description": "Pick a card priority.",
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "advanced",
          "x-ms-dynamic-values": {
            "operationId": "GetBoard",
            "value-collection": "priorities",
            "value-path": "name",
            "value-title": "name",
            "parameters": {
              "boardId": {
                "parameter": "boardId"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "GetBoard",
            "itemsPath": "priorities",
            "itemValuePath": "name",
            "itemTitlePath": "name",
            "parameters": {
              "boardId": {
                "parameterReference": "body/boardId"
              }
            }
          }
        },
        "size": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Size",
          "x-ms-visibility": "advanced"
        },
        "tags": {
          "description": "Comma seperated list of tags.",
          "type": "string",
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced"
        },
        "plannedStart": {
          "description": "YYYY-MM-DD",
          "type": "string",
          "x-ms-summary": "Planned Start Date",
          "x-ms-visibility": "advanced"
        },
        "plannedFinish": {
          "description": "YYYY-MM-DD",
          "type": "string",
          "x-ms-summary": "Planned Finish Date",
          "x-ms-visibility": "advanced"
        },
        "customId": {
          "type": "string",
          "x-ms-summary": "Card Id",
          "x-ms-visibility": "advanced"
        },
        "isBlocked": {
          "description": "True if the card is blocked.",
          "type": "boolean",
          "x-ms-summary": "Is Blocked",
          "x-ms-visibility": "advanced"
        },
        "blockReason": {
          "type": "string",
          "x-ms-summary": "Block Reason",
          "x-ms-visibility": "advanced"
        },
        "externalLink": {
          "type": "object",
          "properties": {
            "label": {
              "type": "string",
              "x-ms-summary": "External Link Label",
              "x-ms-visibility": "advanced"
            },
            "url": {
              "type": "string",
              "x-ms-summary": "External Link URL",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "assignedUserIds": {
          "description": "Array of user Ids (numbers).",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Assignees",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "boardId": "437345165",
        "laneId": "437381023",
        "title": "My New Card123",
        "description": "New Description",
        "typeId": "437374994",
        "size": 2,
        "tags": "test1,test2",
        "plannedStart": "2017-01-25",
        "plannedFinish": "2017-01-25",
        "customId": "DSA-111",
        "priority": "critical",
        "isBlocked": false,
        "blockReason": "",
        "externalLink": {
          "label": "sample url",
          "url": "http://ourcompanycms.com/1234"
        },
        "assignedUserIds": [
          "436833655"
        ]
      }
    },
    "UpdateCardRequest": {
      "type": "object",
      "properties": {
        "typeId": {
          "description": "Pick the card type.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        },
        "laneId": {
          "description": "Pick a card lane.",
          "type": "string",
          "x-ms-summary": "Lane Id",
          "x-ms-visibility": "important"
        },
        "priority": {
          "description": "Pick a card priority.",
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "advanced"
        },
        "size": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Size",
          "x-ms-visibility": "advanced"
        },
        "tags": {
          "description": "Comma-seperated list of tags.",
          "type": "string",
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced"
        },
        "plannedStart": {
          "description": "YYYY-MM-DD",
          "type": "string",
          "x-ms-summary": "Planned Start Date-Time",
          "x-ms-visibility": "advanced"
        },
        "plannedFinish": {
          "description": "YYYY-MM-DD",
          "type": "string",
          "x-ms-summary": "Planned Finish Date-Time",
          "x-ms-visibility": "advanced"
        },
        "customId": {
          "type": "string",
          "x-ms-summary": "Card Id",
          "x-ms-visibility": "advanced"
        },
        "isBlocked": {
          "description": "True if the card is blocked.",
          "type": "boolean",
          "x-ms-summary": "Is Blocked",
          "x-ms-visibility": "advanced"
        },
        "blockReason": {
          "type": "string",
          "x-ms-summary": "Block Reason",
          "x-ms-visibility": "advanced"
        },
        "externalLink": {
          "type": "object",
          "properties": {
            "label": {
              "description": "The label of the external link.",
              "type": "string",
              "x-ms-summary": "External Link Label",
              "x-ms-visibility": "advanced"
            },
            "url": {
              "description": "The URL of the external link.",
              "type": "string",
              "x-ms-summary": "External Link URL",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "assignedUserIds": {
          "description": "Array of user Ids (numbers).",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Assignees",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "laneId": "437381023",
        "title": "My New Card123",
        "description": "New Description",
        "typeId": "437374994",
        "size": 2,
        "tags": [
          "small"
        ],
        "plannedStart": "2017-01-25",
        "plannedFinish": "2017-01-25",
        "customId": "DSA-111",
        "priority": "critical",
        "isBlocked": false,
        "blockReason": "",
        "externalLink": {
          "label": "sample url",
          "url": "http://ourcompanycms.com/1234"
        },
        "assignedUserIds": [
          "436833655"
        ]
      }
    },
    "AddCommentRequest": {
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "type": "string",
          "x-ms-summary": "Comment",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "text": "First comment for this card."
      }
    },
    "CreateBoardResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the board.",
          "type": "string",
          "x-ms-summary": "Board Id",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateCardResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the card.",
          "type": "string",
          "x-ms-summary": "Card Id",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListBoardsResponse": {
      "type": "object",
      "properties": {
        "boards": {
          "description": "Boards array.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Board id.",
                "type": "string",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "title": {
                "description": "Board title.",
                "type": "string",
                "x-ms-summary": "Title",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Boards",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetBoardResponse": {
      "type": "object",
      "properties": {
        "cardTypes": {
          "description": "Type of card.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Card type.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Card Type",
          "x-ms-visibility": "advanced"
        },
        "lanes": {
          "description": "Board lanes.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Lane id.",
                "type": "string",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Lane name.",
                "type": "string",
                "x-ms-summary": "Name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Lanes",
          "x-ms-visibility": "advanced"
        },
        "priorities": {
          "description": "Board priorities.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Priority name.",
                "type": "string",
                "x-ms-summary": "Name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Priorities",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "AddCommentResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Comment id.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "createdOn": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "createdBy": {
          "description": "Details of comment author.",
          "type": "object",
          "properties": {
            "id": {
              "description": "Comment author's user id.",
              "type": "string",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "emailAddress": {
              "description": "Email address of the comment author.",
              "type": "string",
              "x-ms-summary": "Email",
              "x-ms-visibility": "advanced"
            },
            "fullName": {
              "description": "Full name of the comment author.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Author",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "description": "Body of the comment.",
          "type": "string",
          "x-ms-summary": "Comment",
          "x-ms-visibility": "important"
        }
      }
    },
    "TrigCardsResponse": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CardResponse"
      }
    },
    "ListCardsResponse": {
      "type": "object",
      "properties": {
        "cards": {
          "description": "cards",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardResponse"
          },
          "x-ms-summary": "cards",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CardResponse": {
      "type": "object",
      "properties": {
        "actualFinish": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Finish Date-Time",
          "x-ms-visibility": "advanced"
        },
        "actualStart": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Start Date-Time",
          "x-ms-visibility": "advanced"
        },
        "blockedStatus": {
          "description": "Blocked status details.",
          "type": "object",
          "properties": {
            "isBlocked": {
              "description": "True if the card is blocked.",
              "type": "boolean",
              "x-ms-summary": "Is Blocked",
              "x-ms-visibility": "advanced"
            },
            "reason": {
              "description": "Reason the card is blocked.",
              "type": "string",
              "x-ms-summary": "Reason",
              "x-ms-visibility": "advanced"
            },
            "date": {
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
              "type": "string",
              "x-ms-summary": "Blocked Date-Time",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Blocked",
          "x-ms-visibility": "advanced"
        },
        "board": {
          "description": "Board details.",
          "type": "object",
          "properties": {
            "id": {
              "description": "Board id.",
              "type": "string",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "title": {
              "description": "Board title.",
              "type": "string",
              "x-ms-summary": "Title",
              "x-ms-visibility": "advanced"
            },
            "version": {
              "description": "Board version.",
              "type": "string",
              "x-ms-summary": "Version",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Board",
          "x-ms-visibility": "important"
        },
        "createdOn": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "archivedOn": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Archived Date-Time",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "Card's description.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "plannedFinish": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Planned Finish Date",
          "x-ms-visibility": "important"
        },
        "customId": {
          "description": "Card's custom id.",
          "type": "object",
          "properties": {
            "value": {
              "description": "Card's custom id value.",
              "type": "string",
              "x-ms-summary": "Value",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Custom Id",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "Id of the Card.",
          "type": "string",
          "x-ms-summary": "Card Id",
          "x-ms-visibility": "advanced"
        },
        "lane": {
          "description": "Details of the lane.",
          "type": "object",
          "properties": {
            "description": {
              "description": "Lane description.",
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "description": "Lane id.",
              "type": "string",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "laneClassType": {
              "description": "Lane's class type.",
              "type": "string",
              "x-ms-summary": "Class Type",
              "x-ms-visibility": "advanced"
            },
            "laneType": {
              "description": "Lane type.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            },
            "title": {
              "description": "Lane title.",
              "type": "string",
              "x-ms-summary": "Title",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Lane",
          "x-ms-visibility": "important"
        },
        "updatedOn": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "movedOn": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Moved Date-Time",
          "x-ms-visibility": "advanced"
        },
        "priority": {
          "description": "Priority of task on card.",
          "type": "string",
          "x-ms-summary": "Priority",
          "x-ms-visibility": "important"
        },
        "size": {
          "format": "int32",
          "description": "Card size.",
          "type": "integer",
          "x-ms-summary": "Size",
          "x-ms-visibility": "advanced"
        },
        "plannedStart": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Planned Start Date",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "Card title.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "version": {
          "description": "Card version.",
          "type": "string",
          "x-ms-summary": "Version",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "Details about the type of card.",
          "type": "object",
          "properties": {
            "title": {
              "description": "Card type.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {
    "boardId__in_query": {
      "name": "board",
      "in": "query",
      "description": "Pick a board.",
      "required": true,
      "x-ms-summary": "Board Id",
      "x-ms-dynamic-values": {
        "operationId": "ListBoards",
        "value-collection": "boards",
        "value-path": "id",
        "value-title": "title"
      },
      "type": "string",
      "x-ms-test-value": 437345165
    },
    "laneId__in_query": {
      "name": "lane",
      "in": "query",
      "description": "Pick a lane.",
      "required": true,
      "x-ms-summary": "Lane Id",
      "x-ms-dynamic-values": {
        "operationId": "GetBoard",
        "value-collection": "lanes",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "boardId": {
            "parameter": "board"
          }
        }
      },
      "type": "string",
      "x-ms-test-value": 437381023
    },
    "cardId__in_path": {
      "name": "cardId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Card Id",
      "description": "The id of the card",
      "type": "string",
      "x-ms-test-value": 443383837
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "basic"
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetCurrentUser"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://leankit.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.planview.com/trust/privacy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/leankit"
  },
  "basePath": "/apim/leankit"
}
