{
  "swagger": "2.0",
  "info": {
    "description": "Microsoft FHIR Server Connector for FHIR R4 Clinical resources.",
    "version": "4.0.1",
    "title": "FHIRClinical",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft Health",
      "url": "https://github.com/microsoft/health-architectures",
      "email": "HealthArchitectures@windows.microsoft.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/fhirclinical",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/AdverseEvent": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "results returned in a series of pages",
            "x-ms-summary": "count"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "order to return the results by using the parameter",
            "x-ms-summary": "sort"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "clinical-patient",
            "x-ms-summary": "search",
            "format": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "link": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "relation": {
                        "type": "string",
                        "description": "relation"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "link"
                },
                "entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fullUrl": {
                        "type": "string",
                        "description": "fullUrl"
                      },
                      "resource": {
                        "type": "object",
                        "properties": {
                          "resourceType": {
                            "type": "string",
                            "description": "resourceType"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "versionId": {
                                "type": "string",
                                "description": "versionId"
                              },
                              "lastUpdated": {
                                "type": "string",
                                "description": "lastUpdated"
                              }
                            },
                            "description": "meta"
                          },
                          "identifier": {
                            "type": "object",
                            "properties": {
                              "system": {
                                "type": "string",
                                "description": "system"
                              },
                              "value": {
                                "type": "string",
                                "description": "value"
                              }
                            },
                            "description": "identifier"
                          },
                          "actuality": {
                            "type": "string",
                            "description": "actuality"
                          },
                          "category": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "coding": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "system": {
                                        "type": "string",
                                        "description": "system"
                                      },
                                      "code": {
                                        "type": "string",
                                        "description": "code"
                                      },
                                      "display": {
                                        "type": "string",
                                        "description": "display"
                                      }
                                    }
                                  },
                                  "description": "coding"
                                }
                              }
                            },
                            "description": "category"
                          },
                          "event": {
                            "type": "object",
                            "properties": {
                              "coding": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "system": {
                                      "type": "string",
                                      "description": "system"
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "code"
                                    },
                                    "display": {
                                      "type": "string",
                                      "description": "display"
                                    }
                                  }
                                },
                                "description": "coding"
                              },
                              "text": {
                                "type": "string",
                                "description": "text"
                              }
                            },
                            "description": "event"
                          },
                          "subject": {
                            "type": "object",
                            "properties": {
                              "reference": {
                                "type": "string",
                                "description": "reference"
                              }
                            },
                            "description": "subject"
                          },
                          "date": {
                            "type": "string",
                            "description": "date"
                          },
                          "seriousness": {
                            "type": "object",
                            "properties": {
                              "coding": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "system": {
                                      "type": "string",
                                      "description": "system"
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "code"
                                    },
                                    "display": {
                                      "type": "string",
                                      "description": "display"
                                    }
                                  }
                                },
                                "description": "coding"
                              }
                            },
                            "description": "seriousness"
                          },
                          "severity": {
                            "type": "object",
                            "properties": {
                              "coding": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "system": {
                                      "type": "string",
                                      "description": "system"
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "code"
                                    },
                                    "display": {
                                      "type": "string",
                                      "description": "display"
                                    }
                                  }
                                },
                                "description": "coding"
                              }
                            },
                            "description": "severity"
                          },
                          "recorder": {
                            "type": "object",
                            "properties": {
                              "reference": {
                                "type": "string",
                                "description": "reference"
                              }
                            },
                            "description": "recorder"
                          },
                          "suspectEntity": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "instance": {
                                  "type": "object",
                                  "properties": {
                                    "reference": {
                                      "type": "string",
                                      "description": "reference"
                                    }
                                  },
                                  "description": "instance"
                                }
                              }
                            },
                            "description": "suspectEntity"
                          }
                        },
                        "description": "resource"
                      },
                      "search": {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "description": "mode"
                          }
                        },
                        "description": "search"
                      }
                    }
                  },
                  "description": "entry"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get AdverseEvent",
        "description": "Actual or potential/avoided event causing unintended physical injury resulting from or contributed to by medical care",
        "operationId": "GET_AdverseEvent",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirclinical/#get-adverseevent"
        }
      },
      "post": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "identifier": {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "description": "system"
                    },
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "identifier"
                },
                "actuality": {
                  "type": "string",
                  "description": "actuality"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "category"
                },
                "event": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "event"
                },
                "subject": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "subject"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "seriousness": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "seriousness"
                },
                "severity": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "severity"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "suspectEntity": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "instance": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          }
                        },
                        "description": "instance"
                      }
                    }
                  },
                  "description": "suspectEntity"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "identifier": {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "description": "system"
                    },
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "identifier"
                },
                "actuality": {
                  "type": "string",
                  "description": "actuality"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "category"
                },
                "event": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "event"
                },
                "subject": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "subject"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "seriousness": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "seriousness"
                },
                "severity": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "severity"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "suspectEntity": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "instance": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          }
                        },
                        "description": "instance"
                      }
                    }
                  },
                  "description": "suspectEntity"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Post AdverseEvent",
        "operationId": "POST_AdverseEvent",
        "description": "Actual or potential/avoided event causing unintended physical injury resulting from or contributed to by medical care",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirclinical/#post-adverseevent"
        }
      }
    },
    "/{connectionId}/AdverseEvent/{id}": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "choose to return the results in a series of pages",
            "x-ms-summary": "count"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "order to return the results by using the parameter",
            "x-ms-summary": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "identifier": {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "description": "system"
                    },
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "identifier"
                },
                "actuality": {
                  "type": "string",
                  "description": "actuality"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "category"
                },
                "event": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "event"
                },
                "subject": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "subject"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "seriousness": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "seriousness"
                },
                "severity": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "severity"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "suspectEntity": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "instance": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          }
                        },
                        "description": "instance"
                      }
                    }
                  },
                  "description": "suspectEntity"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get AdverseEvent ID",
        "description": "Actual or potential/avoided event causing unintended physical injury resulting from or contributed to by medical care",
        "operationId": "GET_AdverseEvent_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirclinical/#get-adverseevent-id"
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "identifier": {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "description": "system"
                    },
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "identifier"
                },
                "actuality": {
                  "type": "string",
                  "description": "actuality"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "category"
                },
                "event": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "event"
                },
                "subject": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "subject"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "seriousness": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "seriousness"
                },
                "severity": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "severity"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "suspectEntity": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "instance": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          }
                        },
                        "description": "instance"
                      }
                    }
                  },
                  "description": "suspectEntity"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "identifier": {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "description": "system"
                    },
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "identifier"
                },
                "actuality": {
                  "type": "string",
                  "description": "actuality"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "category"
                },
                "event": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "event"
                },
                "subject": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "subject"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "seriousness": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "seriousness"
                },
                "severity": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "severity"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "suspectEntity": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "instance": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          }
                        },
                        "description": "instance"
                      }
                    }
                  },
                  "description": "suspectEntity"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Delete AdverseEvent ID",
        "description": "Actual or potential/avoided event causing unintended physical injury resulting from or contributed to by medical care",
        "operationId": "DELETE_AdverseEvent_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirclinical/#delete-adverseevent-id"
        }
      },
      "put": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "identifier": {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "description": "system"
                    },
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "identifier"
                },
                "actuality": {
                  "type": "string",
                  "description": "actuality"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "category"
                },
                "event": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "event"
                },
                "subject": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "subject"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "seriousness": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "seriousness"
                },
                "severity": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "severity"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "suspectEntity": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "instance": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          }
                        },
                        "description": "instance"
                      }
                    }
                  },
                  "description": "suspectEntity"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "identifier": {
                  "type": "object",
                  "properties": {
                    "system": {
                      "type": "string",
                      "description": "system"
                    },
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "identifier"
                },
                "actuality": {
                  "type": "string",
                  "description": "actuality"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "category"
                },
                "event": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "event"
                },
                "subject": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "subject"
                },
                "date": {
                  "type": "string",
                  "description": "date"
                },
                "seriousness": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "seriousness"
                },
                "severity": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "severity"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "suspectEntity": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "instance": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          }
                        },
                        "description": "instance"
                      }
                    }
                  },
                  "description": "suspectEntity"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Put AdverseEvent ID",
        "description": "Actual or potential/avoided event causing unintended physical injury resulting from or contributed to by medical care",
        "operationId": "PUT_AdverseEvent_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirclinical/#put-adverseevent-id"
        }
      }
    },
    "/{connectionId}/AllergyIntolerance": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "choose to return the results in a series of pages",
            "x-ms-summary": "count"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "order to return the results by using the parameter",
            "x-ms-summary": "sort"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "clinical-patient",
            "x-ms-summary": "search",
            "format": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "link": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "relation": {
                        "type": "string",
                        "description": "relation"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "link"
                },
                "entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fullUrl": {
                        "type": "string",
                        "description": "fullUrl"
                      },
                      "resource": {
                        "type": "object",
                        "properties": {
                          "resourceType": {
                            "type": "string",
                            "description": "resourceType"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "versionId": {
                                "type": "string",
                                "description": "versionId"
                              },
                              "lastUpdated": {
                                "type": "string",
                                "description": "lastUpdated"
                              }
                            },
                            "description": "meta"
                          },
                          "clinicalStatus": {
                            "type": "object",
                            "properties": {
                              "coding": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "system": {
                                      "type": "string",
                                      "description": "system"
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "code"
                                    }
                                  }
                                },
                                "description": "coding"
                              }
                            },
                            "description": "clinicalStatus"
                          },
                          "verificationStatus": {
                            "type": "object",
                            "properties": {
                              "coding": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "system": {
                                      "type": "string",
                                      "description": "system"
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "code"
                                    }
                                  }
                                },
                                "description": "coding"
                              }
                            },
                            "description": "verificationStatus"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "category": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "category"
                          },
                          "criticality": {
                            "type": "string",
                            "description": "criticality"
                          },
                          "code": {
                            "type": "object",
                            "properties": {
                              "coding": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "system": {
                                      "type": "string",
                                      "description": "system"
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "code"
                                    },
                                    "display": {
                                      "type": "string",
                                      "description": "display"
                                    }
                                  }
                                },
                                "description": "coding"
                              },
                              "text": {
                                "type": "string",
                                "description": "text"
                              }
                            },
                            "description": "code"
                          },
                          "patient": {
                            "type": "object",
                            "properties": {
                              "reference": {
                                "type": "string",
                                "description": "reference"
                              }
                            },
                            "description": "patient"
                          },
                          "recordedDate": {
                            "type": "string",
                            "description": "recordedDate"
                          }
                        },
                        "description": "resource"
                      },
                      "search": {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "description": "mode"
                          }
                        },
                        "description": "search"
                      }
                    }
                  },
                  "description": "entry"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get AllergyIntolerance",
        "description": "Risk of harmful or undesirable, physiological response which is unique to an individual and associated with exposure to a substance",
        "operationId": "GET_AllergyIntolerance",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirclinical/#get-allergyintolerance"
        }
      },
      "post": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    }
                  },
                  "description": "text"
                },
                "clinicalStatus": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "clinicalStatus"
                },
                "verificationStatus": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "verificationStatus"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "category"
                },
                "criticality": {
                  "type": "string",
                  "description": "criticality"
                },
                "code": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "code"
                },
                "patient": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "patient"
                },
                "recordedDate": {
                  "type": "string",
                  "description": "recordedDate"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "reaction": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "manifestation": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  },
                                  "display": {
                                    "type": "string",
                                    "description": "display"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "manifestation"
                      }
                    }
                  },
                  "description": "reaction"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    }
                  },
                  "description": "text"
                },
                "clinicalStatus": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "clinicalStatus"
                },
                "verificationStatus": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "verificationStatus"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "category": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "category"
                },
                "criticality": {
                  "type": "string",
                  "description": "criticality"
                },
                "code": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "code"
                },
                "patient": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "patient"
                },
                "recordedDate": {
                  "type": "string",
                  "description": "recordedDate"
                },
                "recorder": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    }
                  },
                  "description": "recorder"
                },
                "reaction": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "manifestation": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  },
                                  "display": {
                                    "type": "string",
                                    "description": "display"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "manifestation"
                      }
                    }
                  },
                  "description": "reaction"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Post AllergyIntolerance",
        "description": "Risk of harmful or undesirable, physiological response which is unique to an individual and associated with exposure to a substance.",
        "operationId": "POST_AllergyIntolerance",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirclinical/#post-allergyintolerance"
        }
      }
    },
    "/{connectionId}/AllergyIntolerance/{id}": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "choose to return the results in a series of pages",
            "x-ms-summary": "count"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "order to return the results by using the parameter",
            "x-ms-summary": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "clinicalStatus": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "clinicalStatus"
                },
                "verificationStatus": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "verificationStatus"
[...]
