{
  "x-ms-connector-metadata": "",
  "swagger": "2.0",
  "info": {
    "title": "Logic flows",
    "version": "2015-08-01-preview",
    "description": "Connector for Logic Flows/Apps",
    "contact": {
      "name": "Microsoft",
      "email": "rajseshteam@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "api-version": {
      "name": "api-version",
      "x-ms-summary": "Version of API being called",
      "description": "The logic flow API version.",
      "in": "query",
      "required": true,
      "type": "string"
    },
    "triggerName": {
      "name": "triggerName",
      "x-ms-summary": "Logic Flow Trigger Name",
      "description": "The logic flow trigger name.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "historyName": {
      "name": "historyName",
      "x-ms-summary": "Logic Flow Trigger History Name",
      "description": "The logic flow trigger history name.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "runName": {
      "name": "runName",
      "x-ms-summary": "Logic Flow Run Name",
      "description": "The logic flow run name.",
      "in": "path",
      "required": true,
      "type": "string"
    },
    "actionName": {
      "name": "actionName",
      "x-ms-summary": "Logic Flow Run Action Name",
      "description": "The logic flow run action name.",
      "in": "path",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/{connectionId}/": {
      "get": {
        "operationId": "Workflow_Get",
        "summary": "Gets workflow definition",
        "description": "Gets a workflow.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Workflow"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-workflow-definition"
        }
      }
    },
    "/{connectionId}/triggers": {
      "get": {
        "operationId": "WorkflowTriggers_List",
        "summary": "Gets list Logic Flow Triggers",
        "description": "Gets a list of logic flow triggers.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "x-ms-summary": "Number of items in result",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerListResult"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-list-logic-flow-triggers"
        }
      }
    },
    "/{connectionId}/triggers/{triggerName}": {
      "get": {
        "operationId": "WorkflowTriggers_Get",
        "summary": "Gets Individual Logic Flow Trigger",
        "description": "Gets a logic flow trigger.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/triggerName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowTrigger"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-individual-logic-flow-trigger"
        }
      }
    },
    "/{connectionId}/triggers/{triggerName}/run": {
      "post": {
        "operationId": "WorkflowTriggers_Run",
        "summary": "Runs a Logic Flow via Trigger",
        "description": "Runs a logic flow trigger.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/triggerName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#runs-a-logic-flow-via-trigger"
        }
      }
    },
    "/{connectionId}/triggers/{triggerName}/histories": {
      "get": {
        "operationId": "WorkflowTriggerHistories_List",
        "summary": "Gets List Logic Flow Trigger Histories",
        "description": "Gets a list of logic flow trigger histories.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/triggerName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "x-ms-summary": "Number Items Included Result",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerHistoryListResult"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-list-logic-flow-trigger-histories"
        }
      }
    },
    "/{connectionId}/triggers/{triggerName}/histories/{historyName}": {
      "get": {
        "operationId": "WorkflowTriggerHistories_Get",
        "summary": "Gets Individual Logic Flow Trigger History",
        "description": "Gets a logic flow trigger history.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/triggerName"
          },
          {
            "$ref": "#/parameters/historyName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerHistory"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-individual-logic-flow-trigger-history"
        }
      }
    },
    "/{connectionId}/runs": {
      "get": {
        "operationId": "WorkflowRuns_List",
        "summary": "Gets List Logic Flow Runs",
        "description": "Gets a list of logic flow runs.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "x-ms-summary": "Number Items Included Result",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "x-ms-summary": "Filter To Apply",
            "description": "The filter to apply on the operation.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunListResult"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-list-logic-flow-runs"
        }
      }
    },
    "/{connectionId}/runs/{runName}": {
      "get": {
        "operationId": "WorkflowRuns_Get",
        "summary": "Gets Individual Logic Flow Run",
        "description": "Gets a logic flow run.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/runName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRun"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-individual-logic-flow-run"
        }
      }
    },
    "/{connectionId}/runs/{runName}/actions": {
      "get": {
        "operationId": "WorkflowRunActions_List",
        "summary": "Gets List Logic Flow Run Actions",
        "description": "Gets a list of logic flow run actions.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/runName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "$top",
            "x-ms-summary": "Number Items Included Result",
            "description": "The number of items to be included in the result.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "x-ms-summary": "Filter to Apply",
            "description": "The filter to apply on the operation.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunActionListResult"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-list-logic-flow-run-actions"
        }
      }
    },
    "/{connectionId}/runs/{runName}/actions/{actionName}": {
      "get": {
        "operationId": "WorkflowRunActions_Get",
        "summary": "Gets Individual Logic Flow Run Action",
        "description": "Gets a logic flow run action.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/runName"
          },
          {
            "$ref": "#/parameters/actionName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkflowRunAction"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/logicflows/#gets-individual-logic-flow-run-action"
        }
      }
    }
  },
  "definitions": {
    "Workflow": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkflowProperties",
          "description": "Gets or sets the logic flow properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "WorkflowProperties": {
      "type": "object",
      "properties": {
        "state": {
          "$ref": "#/definitions/WorkflowState",
          "description": "Gets or sets the state."
        },
        "definition": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the definition."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/WorkflowParameter"
          },
          "description": "Gets or sets the parameters."
        }
      }
    },
    "WorkflowTrigger": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkflowTriggerProperties",
          "description": "Gets or sets the logic flow trigger properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "WorkflowTriggerProperties": {
      "type": "object",
      "properties": {
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the created time."
        },
        "changedTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the changed time."
        },
        "state": {
          "$ref": "#/definitions/WorkflowState",
          "readOnly": true,
          "description": "Gets the state."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "lastExecutionTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the last execution time."
        },
        "nextExecutionTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the next execution time."
        },
        "recurrence": {
          "$ref": "#/definitions/WorkflowTriggerRecurrence",
          "readOnly": true,
          "description": "Gets the logic flow trigger recurrence."
        },
        "workflow": {
          "$ref": "#/definitions/ResourceReference",
          "readOnly": true,
          "description": "Gets the reference to workflow."
        }
      }
    },
    "WorkflowTriggerListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTrigger"
          },
          "description": "Gets or sets a list of logic flow triggers."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowTriggerHistory": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkflowTriggerHistoryProperties",
          "description": "Gets the logic flow trigger history properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "WorkflowTriggerHistoryProperties": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the code."
        },
        "error": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the error."
        },
        "trackingId": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the tracking id."
        },
        "inputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to input parameters."
        },
        "outputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to output parameters."
        },
        "fired": {
          "type": "boolean",
          "readOnly": true,
          "description": "Gets a value indicating whether trigger was fired."
        },
        "run": {
          "$ref": "#/definitions/ResourceReference",
          "readOnly": true,
          "description": "Gets the reference to logic flow run."
        }
      }
    },
    "WorkflowTriggerHistoryListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowTriggerHistory"
          },
          "description": "Gets or sets a list of logic flow trigger histories."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowRun": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkflowRunProperties",
          "description": "Gets or sets the logic flow run properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "WorkflowRunProperties": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the code."
        },
        "error": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the error."
        },
        "correlationId": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the trackingId."
        }
      }
    },
    "WorkflowRunListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowRun"
          },
          "description": "Gets or sets a list of logic flow runs."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowRunAction": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkflowRunActionProperties",
          "description": "Gets or sets the logic flow run action properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "WorkflowRunActionProperties": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the end time."
        },
        "status": {
          "$ref": "#/definitions/WorkflowStatus",
          "readOnly": true,
          "description": "Gets the status."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the code."
        },
        "error": {
          "$ref": "#/definitions/Object",
          "readOnly": true,
          "description": "Gets the error."
        },
        "trackingId": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the trackingId."
        },
        "inputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to inputs."
        },
        "outputsLink": {
          "$ref": "#/definitions/ContentLink",
          "readOnly": true,
          "description": "Gets the link to outputs."
        }
      }
    },
    "WorkflowRunActionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowRunAction"
          },
          "description": "Gets or sets a list of logic flow run actions."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the URL to get the next set of results."
        }
      }
    },
    "WorkflowState": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Enabled",
        "Disabled",
        "Deleted",
        "Suspended"
      ]
    },
    "WorkflowStatus": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Paused",
        "Running",
        "Waiting",
        "Succeeded",
        "Skipped",
        "Suspended",
        "Cancelled",
        "Failed"
      ]
    },
    "WorkflowParameter": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/WorkflowParameterType",
          "description": "Gets or sets the type."
        },
        "value": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the value."
        },
        "metadata": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the metadata."
        }
      }
    },
    "WorkflowParameterType": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "String",
        "SecureString",
        "Int",
        "Float",
        "Bool",
        "Array",
        "Object",
        "SecureObject"
      ]
    },
    "WorkflowTriggerRecurrence": {
      "type": "object",
      "properties": {
        "frequency": {
          "$ref": "#/definitions/WorkflowTriggerRecurrenceWorkflowTriggerRecurrence",
          "description": "Gets or sets the frequency."
        },
        "interval": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the interval."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time."
        },
        "timeZone": {
          "type": "string",
          "description": "Gets or sets the time zone."
        }
      }
    },
    "WorkflowTriggerRecurrenceWorkflowTriggerRecurrence": {
      "type": "string",
      "enum": [
        "Second",
        "Minute",
        "Hour",
        "Day",
        "Week",
        "Month",
        "Year"
      ]
    },
    "Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the resource id."
        },
        "name": {
          "type": "string",
          "description": "Gets the resource name."
        },
        "type": {
          "type": "string",
          "description": "Gets the resource type."
        }
      }
    },
    "ResourceReference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the resource id."
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "ContentLink": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the content link URI."
        },
        "contentVersion": {
          "type": "string",
          "description": "Gets or sets the content version."
        },
        "contentSize": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the content size."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the content hash."
        },
        "metadata": {
          "$ref": "#/definitions/Object",
          "description": "Gets or sets the metadata."
        }
      }
    },
    "ContentHash": {
      "type": "object",
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the algorithm."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets the value."
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/logicflows"
  },
  "basePath": "/apim/logicflows"
}
