{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "SFTP",
    "description": "SFTP (SSH File Transfer Protocol) is a network protocol that provides file access, file transfer, and file management over any reliable data stream. It was designed by the Internet Engineering Task Force (IETF) as an extension of the Secure Shell protocol (SSH) version 2.0 to provide secure file transfer capabilities.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/sftp",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "FileTransferDataSetsMetadata"
        ],
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/files/{id}": {
      "get": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Get file metadata",
        "description": "This operation gets file metadata using the file id.",
        "operationId": "GetFileMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "GetFileMetadata"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#get-file-metadata-%5bdeprecated%5d"
        }
      },
      "put": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Update file",
        "description": "This operation updates the file content. If a file is being deleted/renamed on server right after it was updated, connector may return HTTP 404 error by it's design. Please use a delay for 1 minute before deleting or renaming recently updated file.",
        "operationId": "UpdateFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file to update",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "UpdateFile"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#update-file-%5bdeprecated%5d"
        }
      },
      "delete": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Delete file",
        "description": "This operation deletes a file.",
        "operationId": "DeleteFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "DeleteFile"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#delete-file-%5bdeprecated%5d"
        }
      },
      "patch": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Append file",
        "description": "This operation appends to a file.",
        "operationId": "AppendFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Select a file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#append-file-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/GetFileByPath": {
      "get": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Get file metadata using path",
        "description": "This operation gets file metadata using the file path.",
        "operationId": "GetFileMetadataByPath",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Unique path of the file",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "File path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "GetFileMetadataByPath"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#get-file-metadata-using-path-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/GetFileContentByPath": {
      "get": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Get file content using path",
        "description": "This operation gets file contents using the file path.",
        "operationId": "GetFileContentByPath",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Unique path of the file",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "File path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "Infer content-type based on extension",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "GetFileContentByPath"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#get-file-content-using-path-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/files/{id}/content": {
      "get": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Get file content",
        "description": "This operation gets file contents using the file id.",
        "operationId": "GetFileContent",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "Infer content-type based on extension",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "GetFileContent"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#get-file-content-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/files": {
      "post": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Create file",
        "description": "This operation uploads a file to an SFTP server. If a file is being deleted/renamed on server right after it was created, connector may return HTTP 404 error by it's design. Please use a delay for 1 minute before deleting or renaming newly created file.",
        "operationId": "CreateFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Unique path of the folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Folder path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the file",
            "required": true,
            "x-ms-summary": "File name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file to create",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File content"
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "CreateFile"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#create-file-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/files/{id}/rename": {
      "post": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "RenameFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "newName",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadataResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/copyFile": {
      "post": {
        "tags": [
          "FileTransferFileData"
        ],
        "summary": "Copy file",
        "description": "This operation copies a file to an SFTP server. If a file is being deleted/renamed on server right after it was copied, connector may return HTTP 404 error by it's design. Please use a delay for 1 minute before deleting or renaming newly created file.",
        "operationId": "CopyFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Path to the source file",
            "required": true,
            "x-ms-summary": "Source file path",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Path to the destination file, including file name",
            "required": true,
            "x-ms-summary": "Destination file path",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrites the destination file if set to 'true'",
            "required": false,
            "x-ms-summary": "Overwrite?",
            "type": "boolean",
            "default": false
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "CopyFile"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#copy-file-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/blob/files/{id}": {
      "get": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "GetFileMetadata_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      },
      "put": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "UpdateFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      },
      "delete": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "DeleteFile_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/GetFileByPath": {
      "get": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "GetFileMetadataByPath_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/GetFileContentByPath": {
      "get": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "GetFileContentByPath_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/files/{id}/content": {
      "get": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "GetFileContent_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/files": {
      "post": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "CreateFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/copyFile": {
      "post": {
        "tags": [
          "FileTransferFileData"
        ],
        "operationId": "CopyFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/triggers/onnewfile": {
      "get": {
        "tags": [
          "FileTransferFileDataTrigger"
        ],
        "summary": "When a file is added",
        "description": "This operation triggers a flow when a file is added in a folder. The trigger will fetch both the file metadata as well as the content of the file. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created.",
        "operationId": "OnNewFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Select a folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "Infer content-type based on extension",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            },
            "headers": {
              "x-ms-file-id": {
                "description": "File identifier",
                "type": "string"
              },
              "x-ms-file-name": {
                "description": "File name",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "x-ms-file-path": {
                "description": "File path",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "x-ms-file-name-encoded": {
                "description": "File name",
                "type": "string",
                "format": "byte"
              },
              "x-ms-file-path-encoded": {
                "description": "File path",
                "type": "string",
                "format": "byte"
              },
              "x-ms-file-etag": {
                "description": "File entity tag",
                "type": "string"
              },
              "Content-Type": {
                "description": "File content type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, add a file in the folder you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#when-a-file-is-added-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/triggers/onupdatedfile": {
      "get": {
        "tags": [
          "FileTransferFileDataTrigger"
        ],
        "summary": "When a file is added or modified",
        "description": "This operation triggers a flow when a file is added or modified in a folder. The trigger will fetch both the file metadata as well as the content of the file. The trigger relies on the last modified time of a file. If a file is being created by a third-party client, the preservation of the last modified time should be disabled in the client. Files larger than 50 megabytes are skipped by the trigger. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created.",
        "operationId": "OnUpdatedFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Specify a folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "includeFileContent",
            "in": "query",
            "description": "If set to true, file content will also be retrieved along with the trigger response",
            "required": false,
            "x-ms-summary": "Include file content",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "Infer content-type based on extension",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            },
            "headers": {
              "x-ms-file-id": {
                "description": "File identifier",
                "type": "string"
              },
              "x-ms-file-name": {
                "description": "File name",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "x-ms-file-path": {
                "description": "File path",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "x-ms-file-name-encoded": {
                "description": "File name",
                "type": "string",
                "format": "byte"
              },
              "x-ms-file-path-encoded": {
                "description": "File path",
                "type": "string",
                "format": "byte"
              },
              "x-ms-file-etag": {
                "description": "File entity tag",
                "type": "string"
              },
              "Content-Type": {
                "description": "File content type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, add or change a file in the folder you selected.",
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "OnUpdatedFile"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#when-a-file-is-added-or-modified-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/triggers/batch/onnewfile": {
      "get": {
        "tags": [
          "FileTransferFileDataTrigger"
        ],
        "operationId": "OnNewFiles",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxFileCount",
            "description": "Maximum number of files to return by single trigger run (1-100). Note that 'Split On' setting can force trigger to process each item individually.",
            "in": "query",
            "required": false,
            "x-ms-summary": "Number of files to return from the trigger",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              },
              "x-ms-summary": "List of Files"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch"
      }
    },
    "/{connectionId}/datasets/default/triggers/batch/onupdatedfile": {
      "get": {
        "tags": [
          "FileTransferFileDataTrigger"
        ],
        "summary": "When a file is added or modified (properties only)",
        "description": "This operation triggers a flow when a file is added or modified in a folder. This trigger will only fetch the file metadata. To get the file content, you can use the \"Get file content\" operation. The trigger relies on the last modified time of a file. If a file is being created by a third-party client, the preservation of the last modified time should be disabled in the client. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created.",
        "operationId": "OnUpdatedFiles",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Select a folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxFileCount",
            "in": "query",
            "description": "Maximum number of files to return by single trigger run (1-100). Note that 'Split On' setting can force trigger to process each item individually.",
            "required": false,
            "x-ms-summary": "Number of files to return from the trigger",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "checkBothCreatedAndModifiedDateTime",
            "in": "query",
            "description": "If the flag is set to true, the trigger will check the file's created date and time and the file's last modified date and time. If the flag is set to false, the trigger will only check the file's last modified date and time.",
            "required": false,
            "x-ms-summary": "Check Created and Modified Time",
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              },
              "x-ms-summary": "List of Files"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add or change some files in the folder you selected.",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "OnUpdatedFiles"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#when-a-file-is-added-or-modified-(properties-only)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/trigger/onnewfile": {
      "get": {
        "tags": [
          "FileTransferFileDataTrigger"
        ],
        "operationId": "OnNewFile_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "headers": {
              "x-ms-file-id": {
                "description": "File identifier",
                "type": "string"
              },
              "x-ms-file-name": {
                "description": "File name",
                "type": "string"
              },
              "x-ms-file-path": {
                "description": "File path",
                "type": "string"
              },
              "x-ms-file-etag": {
                "description": "File entity tag",
                "type": "string"
              },
              "Content-Type": {
                "description": "File content type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "single"
      }
    },
    "/{connectionId}/api/trigger/onupdatedfile": {
      "get": {
        "tags": [
          "FileTransferFileDataTrigger"
        ],
        "operationId": "OnUpdatedFile_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "headers": {
              "x-ms-file-id": {
                "description": "File identifier",
                "type": "string"
              },
              "x-ms-file-name": {
                "description": "File name",
                "type": "string"
              },
              "x-ms-file-path": {
                "description": "File path",
                "type": "string"
              },
              "x-ms-file-etag": {
                "description": "File entity tag",
                "type": "string"
              },
              "Content-Type": {
                "description": "File content type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "single"
      }
    },
    "/{connectionId}/datasets/default/folders/{id}": {
      "get": {
        "tags": [
          "FileTransferFolderData"
        ],
        "summary": "List files in folder",
        "description": "This operation gets files contained in a folder.",
        "operationId": "ListFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the folder",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListFolder",
          "revision": 1,
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "ListFolder"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#list-files-in-folder-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/foldersV2/{id}": {
      "get": {
        "tags": [
          "FileTransferFolderData"
        ],
        "operationId": "ListFolderV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "nextPageMarker",
            "in": "query",
            "required": false,
            "x-ms-summary": "Paging Marker",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": ""
          },
          {
            "name": "useFlatListing",
            "in": "query",
            "required": false,
            "x-ms-summary": "Flat Listing",
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadataPage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListFolder",
          "revision": 2
        }
      }
    },
    "/{connectionId}/datasets/default/folders": {
      "get": {
        "tags": [
          "FileTransferFolderData"
        ],
        "summary": "List files in root folder",
        "description": "This operation gets the files in the root folder.",
        "operationId": "ListRootFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListRootFolder",
          "revision": 1,
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "ListRootFolder"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#list-files-in-root-folder-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "FileTransferFolderData"
        ],
        "operationId": "CreateFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/foldersV2": {
      "get": {
        "tags": [
          "FileTransferFolderData"
        ],
        "operationId": "ListRootFolderV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "nextPageMarker",
            "in": "query",
            "required": false,
            "x-ms-summary": "Paging Marker",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": ""
          },
          {
            "name": "useFlatListing",
            "in": "query",
            "required": false,
            "x-ms-summary": "Flat Listing",
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadataPage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListRootFolder",
          "revision": 2
        }
      }
    },
    "/{connectionId}/datasets/default/rootfolders": {
      "get": {
        "tags": [
          "FileTransferFolderData"
        ],
        "operationId": "ListAllRootFolders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListAllRootFolders",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/rootfoldersV2": {
      "get": {
        "tags": [
          "FileTransferFolderData"
        ],
        "operationId": "ListAllRootFoldersV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "nextPageMarker",
            "in": "query",
            "required": false,
            "x-ms-summary": "Paging Marker",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadataPage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListAllRootFolders",
          "revision": 2
        }
      }
    },
    "/{connectionId}/datasets/default/extractFolderV2": {
      "post": {
        "tags": [
          "FileTransferFolderData"
        ],
        "summary": "Extract archive to folder",
        "description": "This operation extracts an archive file into a folder (example: .zip).",
        "operationId": "ExtractFolderV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Path to the archive file",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/zip",
                  "application/x-zip-compressed"
                ],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Source archive file path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/zip' or MediaType eq 'application/x-zip-compressed')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "selectableFilter": "(MediaType eq 'application/zip' or MediaType eq 'application/x-zip-compressed')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Path to the destination folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Destination folder path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "itemFullTitlePath": "Path",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrites the destination files if set to 'true'",
            "required": false,
            "x-ms-summary": "Overwrite?",
            "type": "boolean",
            "default": false
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "replacement": {
            "api": "SftpWithSsh",
            "operationId": "ExtractFolderV2"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sftp/#extract-archive-to-folder-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/blob/folders/{id}": {
      "get": {
        "tags": [
          "FileTransferFolderData"
        ],
        "operationId": "ListFolder_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/folders": {
      "get": {
        "tags": [
          "FileTransferFolderData"
        ],
        "operationId": "ListRootFolder_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/blob/extractFolder": {
      "post": {
        "tags": [
          "FileTransferFolderData"
        ],
        "operationId": "ExtractFolder_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "DataSetsMetadata": {
      "description": "Dataset metadata",
      "type": "object",
      "properties": {
        "tabular": {
          "$ref": "#/definitions/TabularDataSetsMetadata"
        },
        "blob": {
          "$ref": "#/definitions/BlobDataSetsMetadata"
        }
      }
    },
    "TabularDataSetsMetadata": {
      "description": "Tabular dataset metadata",
      "type": "object",
      "properties": {
        "source": {
          "description": "Dataset source",
          "type": "string"
        },
        "displayName": {
          "description": "Dataset display name",
          "type": "string"
        },
        "urlEncoding": {
          "description": "Dataset url encoding",
          "type": "string"
        },
        "tableDisplayName": {
          "description": "Table display name",
          "type": "string"
        },
        "tablePluralName": {
          "description": "Table plural display name",
          "type": "string"
        }
      }
    },
    "BlobDataSetsMetadata": {
      "description": "Blob dataset metadata",
      "type": "object",
      "properties": {
        "source": {
          "description": "Blob dataset source",
          "type": "string"
        },
        "displayName": {
          "description": "Blob dataset display name",
          "type": "string"
        },
        "urlEncoding": {
          "description": "Blob dataset url encoding",
          "type": "string"
        }
      }
    },
    "BlobMetadata": {
      "description": "Blob metadata",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique id of the file or folder.",
          "type": "string"
        },
        "Name": {
          "description": "The name of the file or folder.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the file or folder.",
          "type": "string"
        },
        "Path": {
          "description": "The path of the file or folder.",
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "description": "The date and time the file or folder was last modified.",
          "type": "string"
        },
        "Size": {
          "format": "int64",
          "description": "The size of the file or folder.",
          "type": "integer"
        },
        "MediaType": {
          "description": "The media type of the file or folder.",
          "type": "string"
        },
        "IsFolder": {
          "description": "A boolean value (true, false) to indicate whether or not the blob is a folder.",
          "type": "boolean"
        },
        "ETag": {
          "description": "The etag of the file or folder.",
          "type": "string"
        },
        "FileLocator": {
          "description": "The filelocator of the file or folder.",
          "type": "string"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "BlobMetadataResponse": {
      "description": "Represents blob datasets metadata response",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique id of the file or folder.",
          "type": "string"
        },
        "Name": {
          "description": "The name of the file or folder.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the file or folder.",
          "type": "string"
        },
        "Path": {
          "description": "The path of the file or folder.",
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "description": "The date and time the file or folder was last modified.",
          "type": "string"
        },
        "Size": {
          "format": "int64",
          "description": "The size of the file or folder.",
          "type": "integer"
        },
        "MediaType": {
          "description": "The media type of the file or folder.",
          "type": "string"
        },
        "IsFolder": {
          "description": "A boolean value (true, false) to indicate whether or not the blob is a folder.",
          "type": "boolean"
        },
        "ETag": {
          "description": "The etag of the file or folder.",
          "type": "string"
        },
        "FileLocator": {
          "description": "The filelocator of the file or folder.",
          "type": "string"
        }
      }
    },
    "BlobMetadataPage": {
      "description": "Represents a page of blob metadata.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Blob metadata collection.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BlobMetadata"
          },
          "readOnly": true
        }
      }
    }
  },
  "x-ms-capabilities": {
    "file-picker": {
      "open": {
        "operationId": "ListAllRootFolders"
      },
      "browse": {
        "operationId": "ListFolder",
        "parameters": {
          "id": {
            "value-property": "Id"
          }
        }
      },
      "value-title": "DisplayName",
      "value-folder-property": "IsFolder",
      "value-media-property": "MediaType"
    },
    "testConnection": {
      "operationId": "ListRootFolder",
      "parameters": {}
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/sftp"
  }
}
