{
  "swagger": "2.0",
  "info": {
    "version": "2",
    "title": "Gravity Forms by reenhanced",
    "description": "Gravity Forms by reenhanced lets you connect your Gravity Forms submissions to your flows. Once you install the add-on into your Gravity Forms Wordpress site, you'll be able to have your form submissions trigger this connector.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Reenhanced Team",
      "url": "https://www.reenhanced.com/products/gravity-forms-power-automate",
      "email": "support@reenhanced.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.reenhanced.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://reenhanced.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/gravityformsbyreenhanced",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/domains": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "GetLicensedDomains",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns an array of licensed domains.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Domain"
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get licensed domains",
        "description": "Returns an array of licensed domains",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gravityformsbyreenhanced/#get-licensed-domains"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/forms": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "operationId": "GetForms",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns an array of forms",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Form"
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get Forms",
        "description": "Returns an array of forms",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gravityformsbyreenhanced/#get-forms"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/forms/{form_id}": {
      "get": {
        "tags": [
          "Schema"
        ],
        "operationId": "GetFormSchema",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FormIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns form schema."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          },
          "404": {
            "description": "Not Found."
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get form schema",
        "description": "Returns schema of the specified form",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gravityformsbyreenhanced/#get-form-schema"
        }
      }
    },
    "/{connectionId}/webhooks": {
      "x-ms-notification-content": {
        "description": "Form data",
        "schema": {
          "$ref": "#/definitions/FormSchema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "SubmissionTrigger"
        ],
        "operationId": "CreateWebhook",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "webhook",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "callback_url",
                "form_id"
              ],
              "type": "object",
              "properties": {
                "callback_url": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "form_id": {
                  "description": "The Form you want to subscribe to",
                  "type": "string",
                  "x-ms-summary": "Form",
                  "x-ms-dynamic-values": {
                    "operationId": "GetForms",
                    "value-path": "id",
                    "value-title": "form_name"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription has been created."
          },
          "401": {
            "description": "Authorization information is missing or invalid."
          }
        },
        "x-ms-visibility": "important",
        "summary": "When a form is submitted",
        "description": "Fires whenever the target form is submitted",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gravityformsbyreenhanced/#when-a-form-is-submitted"
        }
      }
    },
    "/{connectionId}/webhooks/{id}": {
      "delete": {
        "tags": [
          "SubmissionTrigger"
        ],
        "operationId": "Unsubscribe",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Unsubscribe",
        "description": "Removes the subscriber",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/gravityformsbyreenhanced/#unsubscribe"
        }
      }
    }
  },
  "definitions": {
    "Domain": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      },
      "x-ms-dynamic-list": {
        "itemTitlePath": "name",
        "itemValuePath": "id",
        "operationId": "GetLicensedDomains"
      }
    },
    "Form": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "FormSchema": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetFormSchema",
        "parameters": {
          "form_id": {
            "parameter": "form_id"
          }
        },
        "value-path": "schema"
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetFormSchema",
        "itemValuePath": "schema",
        "parameters": {
          "form_id": {
            "parameterReference": "webhook/form_id"
          }
        }
      }
    }
  },
  "parameters": {
    "FormIdParam": {
      "description": "The Form you want to subscribe to",
      "in": "path",
      "name": "form_id",
      "required": true,
      "type": "string",
      "x-ms-summary": "Form",
      "x-ms-dynamic-values": {
        "operationId": "GetForms",
        "value-path": "id",
        "value-title": "name"
      },
      "x-ms-url-encoding": "single",
      "x-ms-visibility": "important"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "license-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/gravityformsbyreenhanced"
  }
}
