{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.20",
    "title": "WordPress",
    "description": "WordPress is web software you can use to create a beautiful website, blog, or app.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/wordpress",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/me/posts": {
      "get": {
        "description": "Triggers a new flow when there is a new post on the logged in user's timeline",
        "summary": "When a post is created",
        "operationId": "OnTriggerNewPost",
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new post",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPostsResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#when-a-post-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/me/posts": {
      "get": {
        "operationId": "ListAllMyPosts",
        "summary": "List posts",
        "description": "List all posts from current user's sites",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PostsModel"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "ID, site_ID, date, modified, title, URL, slug, guid, type, discussion, like_count",
            "required": false
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#list-posts"
        }
      }
    },
    "/{connectionId}/sites/{siteId}/stats/visits": {
      "get": {
        "operationId": "SiteStatsChartData",
        "summary": "Get site stats chart data",
        "description": "Get site stats chart data",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteStatsChartModel"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "The site's id or domain",
            "x-ms-summary": "Site Id",
            "x-ms-visibility": "important",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListSites",
              "value-collection": "sites",
              "value-path": "ID",
              "value-title": "name"
            },
            "x-ms-test-value": "118193586"
          },
          {
            "name": "unit",
            "in": "query",
            "description": "year, week, month or day",
            "x-ms-summary": "Unit",
            "x-ms-visibility": "important",
            "required": false,
            "type": "string",
            "default": "year"
          },
          {
            "name": "http_envelope",
            "in": "query",
            "description": "http_envelope",
            "x-ms-summary": "Http Envelope",
            "x-ms-visibility": "internal",
            "required": false,
            "type": "integer",
            "default": 1
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Number of units to return",
            "x-ms-summary": "Quantity",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "string"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date",
            "x-ms-summary": "Date",
            "x-ms-visibility": "important",
            "required": false,
            "type": "string"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#get-site-stats-chart-data"
        }
      }
    },
    "/{connectionId}/sites/{siteId}/stats/insights": {
      "get": {
        "operationId": "ListInsightsStats",
        "summary": "Get site related list of metrics and insights",
        "description": "Get site related list of metrics and insights",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteInsightsModel"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "The site's id or domain",
            "x-ms-summary": "Site Id",
            "x-ms-visibility": "important",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListSites",
              "value-collection": "sites",
              "value-path": "ID",
              "value-title": "name"
            },
            "x-ms-test-value": "118193586"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#get-site-related-list-of-metrics-and-insights"
        }
      }
    },
    "/{connectionId}/sites/{siteId}/stats": {
      "get": {
        "operationId": "SiteStats",
        "summary": "Get site statistics",
        "description": "Get statistics for a specified site",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteStatsModel"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "The site's id or domain",
            "x-ms-summary": "Site Id",
            "x-ms-visibility": "important",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListSites",
              "value-collection": "sites",
              "value-path": "ID",
              "value-title": "name"
            },
            "x-ms-test-value": "118193586"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Fields to include",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "internal",
            "required": false,
            "type": "string",
            "default": "stats"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#get-site-statistics"
        }
      }
    },
    "/{connectionId}/sites/{siteId}/stats/top-posts": {
      "get": {
        "operationId": "SiteTopPosts",
        "summary": "Get site top posts and pages by views",
        "description": "View a site's top posts and pages by views",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TopPostModel"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "The site's id or domain",
            "x-ms-summary": "Site Id",
            "x-ms-visibility": "important",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListSites",
              "value-collection": "sites",
              "value-path": "ID",
              "value-title": "name"
            },
            "x-ms-test-value": "118193586"
          },
          {
            "name": "num",
            "in": "query",
            "description": "Number of periods to include in the results Default is 1.",
            "x-ms-summary": "Number",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "string",
            "default": "1"
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time filter- day, week, month or year.",
            "x-ms-summary": "Period",
            "x-ms-visibility": "important",
            "required": false,
            "type": "string",
            "default": "year"
          },
          {
            "name": "max",
            "in": "query",
            "description": "The maximum number of results to return Default is 10.",
            "x-ms-summary": "Max",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "string",
            "default": "10"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#get-site-top-posts-and-pages-by-views"
        }
      }
    },
    "/{connectionId}/sites/{siteId}/posts": {
      "get": {
        "operationId": "ListPosts",
        "summary": "List posts from a site",
        "description": "List posts from a site",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PostsModel"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "The site's id or domain",
            "x-ms-summary": "Site Id",
            "x-ms-visibility": "important",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListSites",
              "value-collection": "sites",
              "value-path": "ID",
              "value-title": "name"
            },
            "x-ms-test-value": "118193586"
          },
          {
            "name": "number",
            "in": "query",
            "description": "The number of posts to return.Limit 100, Default 10 ",
            "x-ms-summary": "Number",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "string",
            "default": "20"
          },
          {
            "name": "after",
            "in": "query",
            "description": "Return posts dated after the specified datetime. (iso 8601 datetime)",
            "x-ms-summary": "After",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "string"
          },
          {
            "name": "before",
            "in": "query",
            "description": "Return posts dated before the specified datetime. (iso 8601 datetime)",
            "x-ms-summary": "Before",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Comma-separated list of statuses for which to query, including any of: publish, private, draft, pending, future, and trash, or simply any. Defaults to publish",
            "x-ms-summary": "Status",
            "x-ms-visibility": "important",
            "required": false,
            "type": "string",
            "default": "any"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "ID, site_ID, date, modified, title, URL, slug, guid, type, discussion, like_count",
            "required": false
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#list-posts-from-a-site"
        }
      }
    },
    "/{connectionId}/sites/{siteId}/posts/{postId}": {
      "get": {
        "operationId": "GetPost",
        "summary": "Get post",
        "description": "Get post",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PostModel"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "The site's id or domain",
            "x-ms-summary": "Site Id",
            "x-ms-visibility": "important",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListSites",
              "value-collection": "sites",
              "value-path": "ID",
              "value-title": "name"
            },
            "x-ms-test-value": "118193586"
          },
          {
            "name": "postId",
            "in": "path",
            "description": "The post Id.",
            "x-ms-summary": "Post Id",
            "x-ms-visibility": "important",
            "required": true,
            "type": "string",
            "x-ms-test-value": "59"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#get-post"
        }
      }
    },
    "/{connectionId}/sites/{siteId}/posts/new": {
      "post": {
        "operationId": "CreatePost",
        "summary": "Create post",
        "description": "Create post",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteId",
            "in": "path",
            "description": "The site's id or domain.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Site ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListSites",
              "value-collection": "sites",
              "value-path": "ID",
              "value-title": "name"
            },
            "x-ms-test-value": "118193586"
          },
          {
            "name": "post",
            "in": "body",
            "description": "Post content",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePostModel"
            },
            "x-ms-summary": "Post content to create.",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PostModel"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#create-post"
        }
      }
    },
    "/{connectionId}/me/sites": {
      "get": {
        "operationId": "ListSites",
        "summary": "List sites",
        "description": "List sites",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteList"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "ID, name, description, URL,  is_multisite, post_count,subscribers_count, lang,visible,is_private,single_user_site,is_vip,is_following",
            "required": false
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/wordpress/#list-sites"
        }
      }
    }
  },
  "definitions": {
    "SiteList": {
      "description": "A list of sites",
      "type": "object",
      "properties": {
        "sites": {
          "description": "List of sites",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Site"
          },
          "x-ms-summary": "Sites",
          "x-ms-visibility": "important"
        }
      }
    },
    "Site": {
      "type": "object",
      "description": "List of site items",
      "properties": {
        "ID": {
          "description": "Site ID",
          "type": "integer",
          "x-ms-summary": "Site ID",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "Site Name",
          "type": "string",
          "x-ms-summary": "Site Name",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "Site Description",
          "type": "string",
          "x-ms-summary": "Site Description",
          "x-ms-visibility": "important"
        },
        "URL": {
          "description": "Site URL",
          "type": "string",
          "x-ms-summary": "Site Url",
          "x-ms-visibility": "important"
        },
        "is_multisite": {
          "description": "Whether the site is a Multisite site or not. Always true for WP.com sites.",
          "type": "boolean",
          "x-ms-summary": "Is Multisite",
          "x-ms-visibility": "advanced"
        },
        "post_count": {
          "description": "The number of posts the site has",
          "type": "integer",
          "x-ms-summary": "Post Count",
          "x-ms-visibility": "important"
        },
        "subscribers_count": {
          "description": "The number of subscribers the site has",
          "type": "integer",
          "x-ms-summary": "Subscribers Count",
          "x-ms-visibility": "important"
        },
        "lang": {
          "description": "Language",
          "type": "string",
          "x-ms-summary": "Language",
          "x-ms-visibility": "advanced"
        },
        "visible": {
          "description": "Site visibility",
          "type": "boolean",
          "x-ms-summary": "Visible",
          "x-ms-visibility": "important"
        },
        "is_private": {
          "description": "Is site private",
          "type": "boolean",
          "x-ms-summary": "Is Private",
          "x-ms-visibility": "advanced"
        },
        "single_user_site": {
          "description": "Is single user site",
          "type": "boolean",
          "x-ms-summary": "Is Single User Site",
          "x-ms-visibility": "advanced"
        },
        "is_vip": {
          "description": "Is VIP",
          "type": "boolean",
          "x-ms-summary": "Is VIP",
          "x-ms-visibility": "advanced"
        },
        "is_following": {
          "description": "Is Following",
          "type": "boolean",
          "x-ms-summary": "Is Following",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SiteModel": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "x-ms-summary": "ID",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important"
          },
          "description": {
            "type": "string",
            "x-ms-summary": "Description",
            "x-ms-visibility": "important"
          },
          "URL": {
            "type": "string",
            "x-ms-summary": "URL",
            "x-ms-visibility": "important"
          },
          "is_multisite": {
            "type": "boolean",
            "x-ms-summary": "Is Multisite",
            "x-ms-visibility": "advanced"
          },
          "post_count": {
            "type": "integer",
            "x-ms-summary": "Post Count",
            "x-ms-visibility": "important"
          },
          "subscribers_count": {
            "type": "integer",
            "x-ms-summary": "Is Private",
            "x-ms-visibility": "advanced"
          },
          "lang": {
            "type": "string",
            "x-ms-summary": "Lang",
            "x-ms-visibility": "advanced"
          },
          "visible": {
            "type": "boolean",
            "x-ms-summary": "Visible",
            "x-ms-visibility": "important"
          },
          "is_private": {
            "type": "boolean",
            "x-ms-summary": "Is Private",
            "x-ms-visibility": "advanced"
          },
          "single_user_site": {
            "type": "boolean",
            "x-ms-summary": "Single User Site",
            "x-ms-visibility": "advanced"
          },
          "is_vip": {
            "type": "boolean",
            "x-ms-summary": "Is Vip",
            "x-ms-visibility": "advanced"
          },
          "is_following": {
            "type": "boolean",
            "x-ms-summary": "Is Following",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "SiteStatsChartModel": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "x-ms-summary": "Period",
            "x-ms-visibility": "important"
          },
          "views": {
            "type": "integer",
            "x-ms-summary": "Views",
            "x-ms-visibility": "important"
          },
          "visitors": {
            "type": "integer",
            "x-ms-summary": "Visitors",
            "x-ms-visibility": "important"
          },
          "likes": {
            "type": "integer",
            "x-ms-summary": "Likes",
            "x-ms-visibility": "important"
          },
          "reblogs": {
            "type": "integer",
            "x-ms-summary": "Reblogs",
            "x-ms-visibility": "important"
          },
          "comments": {
            "type": "integer",
            "x-ms-summary": "Comments",
            "x-ms-visibility": "important"
          },
          "posts": {
            "type": "integer",
            "x-ms-summary": "Posts",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "SiteInsightsModel": {
      "type": "object",
      "properties": {
        "highest_hour": {
          "type": "integer",
          "x-ms-summary": "Highest Hour",
          "x-ms-visibility": "important"
        },
        "highest_hour_percent": {
          "type": "number",
          "x-ms-summary": "Highest Hour Percent",
          "x-ms-visibility": "important"
        },
        "highest_day_of_week": {
          "type": "integer",
          "x-ms-summary": "Highest Day Of Week",
          "x-ms-visibility": "important"
        },
        "highest_day_percent": {
          "type": "number",
          "x-ms-summary": "Highest Day Percent",
          "x-ms-visibility": "important"
        }
      }
    },
    "SiteStatsModel": {
      "type": "object",
      "properties": {
        "visitors_today": {
          "type": "integer",
          "x-ms-summary": "Visitors Today",
          "x-ms-visibility": "advanced"
        },
        "visitors_yesterday": {
          "type": "integer",
          "x-ms-summary": "Visitors_Yesterday",
          "x-ms-visibility": "advanced"
        },
        "visitors": {
          "type": "integer",
          "x-ms-summary": "Visitors",
          "x-ms-visibility": "important"
        },
        "views_today": {
          "type": "integer",
          "x-ms-summary": "View Today",
          "x-ms-visibility": "advanced"
        },
        "views_yesterday": {
          "type": "integer",
          "x-ms-summary": "Views Yesterday",
          "x-ms-visibility": "advanced"
        },
        "views_best_day": {
          "type": "string",
          "x-ms-summary": "Views Best Day",
          "x-ms-visibility": "important"
        },
        "views_best_day_total": {
          "type": "integer",
          "x-ms-summary": "Views Best Day Total",
          "x-ms-visibility": "advanced"
        },
        "views": {
          "type": "integer",
          "x-ms-summary": "Views",
          "x-ms-visibility": "important"
        },
        "comments": {
          "type": "integer",
          "x-ms-summary": "Comments",
          "x-ms-visibility": "important"
        },
        "posts": {
          "type": "integer",
          "x-ms-summary": "Posts",
          "x-ms-visibility": "important"
        },
        "followers_blog": {
          "type": "integer",
          "x-ms-summary": "Followers Blog",
          "x-ms-visibility": "advanced"
        },
        "followers_comments": {
          "type": "integer",
          "x-ms-summary": "Followers Comments",
          "x-ms-visibility": "advanced"
        },
        "comments_per_month": {
          "type": "integer",
          "x-ms-summary": "Comments Per Month",
          "x-ms-visibility": "important"
        },
        "comments_most_active_recent_day": {
          "type": "string",
          "x-ms-summary": "Comments Most Active Recent Day",
          "x-ms-visibility": "advanced"
        },
        "comments_most_active_time": {
          "type": "string",
          "x-ms-summary": "Comments Most Active Time",
          "x-ms-visibility": "important"
        },
        "comments_spam": {
          "type": "integer",
          "x-ms-summary": "Comments Spam",
          "x-ms-visibility": "advanced"
        },
        "categories": {
          "type": "integer",
          "x-ms-summary": "Categories",
          "x-ms-visibility": "advanced"
        },
        "tags": {
          "type": "integer",
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced"
        },
        "shares": {
          "type": "integer",
          "x-ms-summary": "Shares",
          "x-ms-visibility": "important"
        },
        "shares_twitter": {
          "type": "integer",
          "x-ms-summary": "Shares Twitter",
          "x-ms-visibility": "advanced"
        },
        "shares_facebook": {
          "type": "integer",
          "x-ms-summary": "Shares Facebook",
          "x-ms-visibility": "advanced"
        },
        "shares_press-this": {
          "type": "integer",
          "x-ms-summary": "Shares Press This",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TopPostModel": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "x-ms-summary": "ID",
            "x-ms-visibility": "advanced"
          },
          "href": {
            "type": "string",
            "x-ms-summary": "Link",
            "x-ms-visibility": "important"
          },
          "date": {
            "type": "string",
            "x-ms-summary": "Date",
            "x-ms-visibility": "important"
          },
          "title": {
            "type": "string",
            "x-ms-summary": "Title",
            "x-ms-visibility": "important"
          },
          "type": {
            "type": "string",
            "x-ms-summary": "Type",
            "x-ms-visibility": "important"
          },
          "views": {
            "type": "integer",
            "x-ms-summary": "Views",
            "x-ms-visibility": "important"
          },
          "video_play": {
            "type": "boolean",
            "x-ms-summary": "Video Play",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "ListPostsResponse": {
      "type": "object",
      "properties": {
        "posts": {
          "description": "Posts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PostResponse"
          },
          "x-ms-summary": "Posts",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PostResponse": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "integer",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "comment_count": {
          "type": "integer",
          "x-ms-summary": "Comment Count",
          "x-ms-visibility": "important"
        },
        "site_ID": {
          "type": "integer",
          "x-ms-summary": "Site ID",
          "x-ms-visibility": "advanced"
        },
        "date": {
          "type": "string",
          "x-ms-summary": "Date",
          "x-ms-visibility": "important"
        },
        "modified": {
          "type": "string",
          "x-ms-summary": "Modified",
          "x-ms-visibility": "important"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "URL": {
          "type": "string",
          "x-ms-summary": "URL",
          "x-ms-visibility": "important"
        },
        "slug": {
          "type": "string",
          "x-ms-summary": "Slug",
          "x-ms-visibility": "advanced"
        },
        "guid": {
          "type": "string",
          "x-ms-summary": "Guid",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "like_count": {
          "type": "integer",
          "x-ms-summary": "Like Count",
          "x-ms-visibility": "important"
        }
      }
    },
    "PostsModel": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "x-ms-summary": "ID",
            "x-ms-visibility": "advanced"
          },
          "comment_count": {
            "type": "integer",
            "x-ms-summary": "Comment Count",
            "x-ms-visibility": "important"
          },
          "site_ID": {
            "type": "integer",
            "x-ms-summary": "Site ID",
            "x-ms-visibility": "advanced"
          },
          "date": {
            "type": "string",
            "x-ms-summary": "Date",
            "x-ms-visibility": "important"
          },
          "modified": {
            "type": "string",
            "x-ms-summary": "Modified",
            "x-ms-visibility": "important"
          },
          "title": {
            "type": "string",
            "x-ms-summary": "Title",
            "x-ms-visibility": "important"
          },
          "URL": {
            "type": "string",
            "x-ms-summary": "URL",
            "x-ms-visibility": "important"
          },
          "slug": {
            "type": "string",
            "x-ms-summary": "Slug",
            "x-ms-visibility": "advanced"
          },
          "guid": {
            "type": "string",
            "x-ms-summary": "Guid",
            "x-ms-visibility": "advanced"
          },
          "type": {
            "type": "string",
            "x-ms-summary": "Type",
            "x-ms-visibility": "advanced"
          },
          "like_count": {
            "type": "integer",
            "x-ms-summary": "Like Count",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "PostModel": {
      "type": "object",
      "properties": {
        "ID": {
          "type": "integer",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "site_ID": {
          "type": "integer",
          "x-ms-summary": "Site ID",
          "x-ms-visibility": "advanced"
        },
        "date": {
          "type": "string",
          "x-ms-summary": "Date",
          "x-ms-visibility": "important"
        },
        "modified": {
          "type": "string",
          "x-ms-summary": "Modified",
          "x-ms-visibility": "important"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "URL": {
          "type": "string",
          "x-ms-summary": "URL",
          "x-ms-visibility": "important"
        },
        "short_URL": {
          "type": "string",
          "x-ms-summary": "Short URL",
          "x-ms-visibility": "advanced"
        },
        "content": {
          "type": "string",
          "x-ms-summary": "Content",
          "x-ms-visibility": "important"
        },
        "excerpt": {
          "type": "string",
          "x-ms-summary": "Excerpt",
          "x-ms-visibility": "important"
        },
        "slug": {
          "type": "string",
          "x-ms-summary": "Slug",
          "x-ms-visibility": "advanced"
        },
        "guid": {
          "type": "string",
          "x-ms-summary": "Guid",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "sticky": {
          "type": "boolean",
          "x-ms-summary": "Sticky",
          "x-ms-visibility": "advanced"
        },
        "password": {
          "type": "string",
          "x-ms-summary": "Password",
          "x-ms-visibility": "advanced"
        },
        "parent": {
          "x-ms-summary": "Parent",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        },
        "likes_enabled": {
          "type": "boolean",
          "x-ms-summary": "Likes Enabled",
          "x-ms-visibility": "advanced"
        },
        "sharing_enabled": {
          "type": "boolean",
          "x-ms-summary": "Sharing Enabled",
          "x-ms-visibility": "advanced"
        },
        "like_count": {
          "type": "integer",
          "x-ms-summary": "Like Count",
          "x-ms-visibility": "advanced"
        },
        "i_like": {
          "type": "boolean",
          "x-ms-summary": "I Like",
          "x-ms-visibility": "advanced"
        },
        "is_reblogged": {
          "type": "boolean",
          "x-ms-summary": "Is Rebloggled",
          "x-ms-visibility": "advanced"
        },
        "is_following": {
          "type": "boolean",
          "x-ms-summary": "Is Following",
          "x-ms-visibility": "advanced"
        },
        "global_ID": {
          "type": "string",
          "x-ms-summary": "Global ID",
          "x-ms-visibility": "advanced"
        },
        "featured_image": {
          "type": "string",
          "x-ms-summary": "Featured Image",
          "x-ms-visibility": "advanced"
        },
        "post_thumbnail": {
          "type": "object",
          "properties": {},
          "x-ms-summary": "Post Thumbnail",
          "x-ms-visibility": "advanced"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format",
          "x-ms-visibility": "advanced"
        },
        "geo": {
          "type": "boolean",
          "x-ms-summary": "Geo",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CreatePostModel": {
      "description": "A Blogger post object for new post requests",
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the post",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "content": {
          "description": "The content of the post",
          "type": "string",
          "format": "html",
          "x-ms-summary": "Content",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "The status of the post",
          "type": "string",
          "x-ms-summary": "Status",
          "enum": [
            "draft",
            "publish",
            "private",
            "pending",
            "future",
            "auto-draft"
          ]
        },
        "tags": {
          "description": "The tags for post",
          "type": "string",
          "x-ms-summary": "Tags"
        }
      },
      "x-ms-test-value": {
        "title": "test post"
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "x-ms-summary": "Message",
          "x-ms-visibility": "important"
        },
        "fields": {
          "type": "string",
          "x-ms-summary": "Fields",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListAllMyPosts"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://wordpress.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://automattic.com/privacy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/wordpress"
  }
}
