{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft 365 Self-Help",
    "description": "Microsoft 365 Self-Help connector provides services which can provide api's to automate self help for customers.Use the self-help solutions for Microsoft 365 product issues. Reduce your organization’s helpdesk cost and provide great customer experience by adopting the same services that power Microsoft Support.",
    "version": "1.0",
    "contact": {
      "name": "Microsoft",
      "url": "https://admin.microsoft.com",
      "email": "PowerConnector-BA@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/alchemy",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/v1/insights/dcp/esshelp-dcp": {
      "post": {
        "responses": {
          "200": {
            "description": "Standard response for successful HTTP requests.",
            "schema": {
              "type": "object",
              "properties": {
                "IsAIInsightsVisible": {
                  "type": "boolean",
                  "description": "have ai insights or not from self help api."
                },
                "IsAdapativeCardVisible": {
                  "type": "boolean",
                  "description": "render adaptive card using a flag part of copilt flows."
                },
                "ClientDiagnostics": {
                  "type": "object",
                  "description": "client diag details.",
                  "properties": {
                    "IsClientDiagVisible": {
                      "type": "boolean",
                      "description": "have visible client diagnostic."
                    },
                    "ClientDiagId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "diagnostic Id idenfier for redirection."
                    },
                    "ClientDiagTitle": {
                      "type": "string",
                      "description": "Title for clientside diagnostic name."
                    }
                  }
                },
                "AimId": {
                  "type": "string",
                  "description": "unique request id."
                },
                "AIInsights": {
                  "type": "object",
                  "properties": {
                    "GPTInsight": {
                      "type": "string",
                      "description": "Gpt insight response for givn query."
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get self-help insights",
        "description": "Get self-help insights from Microsoft 365.",
        "operationId": "GetSelfHelpInsights",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Text": {
                  "type": "string",
                  "description": "Text of the user's query for which we provide self-Help.",
                  "title": "User Query Text"
                }
              },
              "required": [
                "Text"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/alchemy/#get-self-help-insights"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://microsoft.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://support.microsoft.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "https://m365.alchemy.microsoft.com/.default": "https://m365.alchemy.microsoft.com/.default"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "https://m365.alchemy.microsoft.com/.default"
      ]
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/alchemy"
  }
}
