{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Typeform",
    "description": "Build beautiful, engaging, and conversational online forms, surveys, quizzes, landing pages, and much more with Typeform. ",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/typeform",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/new_response_trigger/v1/form/{form_id}": {
      "get": {
        "summary": "When a response is submitted",
        "description": "This operation triggers when a new response is submitted.",
        "operationId": "TrigNewResponse",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-test-value": "jm1bZ6",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListForms",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseList"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, respond to a typeform.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#when-a-response-is-submitted-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1/form/{form_id}": {
      "get": {
        "summary": "Get schema",
        "description": "Get schema",
        "operationId": "GetSchema",
        "x-ms-api-annotation": {
          "family": "GetSchema",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-test-value": "jm1bZ6",
            "x-ms-dynamic-values": {
              "operationId": "ListForms",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#get-schema-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1/forms": {
      "get": {
        "summary": "List forms",
        "description": "List forms",
        "operationId": "ListForms",
        "x-ms-api-annotation": {
          "family": "ListForms",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListFormsResponse-Old"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#list-forms-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/forms/{form_id}/webhooks/{tag}": {
      "x-ms-notification-content": {
        "description": "The webhook response body.",
        "schema": {
          "$ref": "#/definitions/Item-New"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "When a response is submitted",
        "description": "This operation triggers when a new response is submitted.",
        "operationId": "NewResponseWebhook",
        "x-ms-api-annotation": {
          "family": "NewResponseWebhook",
          "status": "Preview",
          "revision": 1
        },
        "consumes": [
          "application/json"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Unique ID for the form. Find in your form URL.",
            "x-ms-summary": "Unique ID for the form.",
            "name": "form_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListForms_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "items"
            }
          },
          {
            "description": "Unique name you want to use for the webhook.",
            "x-ms-summary": "Unique name to identify the webhook",
            "name": "tag",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "url"
              ],
              "properties": {
                "url": {
                  "description": "Webhook URL.",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "Yes if you want to send responses to the webhook immediately. Otherwise, no.",
                  "x-ms-summary": "Enabled",
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebhookCreationResponse"
            }
          }
        },
        "deprecated": false,
        "tags": [
          "webhooks"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#when-a-response-is-submitted"
        }
      },
      "delete": {
        "summary": "Delete webhook",
        "description": "Deletes a webhook.",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Unique ID of the form.",
            "name": "form_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique name you want to use for the webhook.",
            "name": "tag",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#delete-webhook"
        }
      }
    },
    "/{connectionId}/forms": {
      "get": {
        "summary": "List forms",
        "description": "Retrieves a list of JSON descriptions for all forms in your Typeform account (public and private).",
        "operationId": "ListForms_V2",
        "x-ms-api-annotation": {
          "family": "ListForms",
          "status": "Preview",
          "revision": 2
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Returns items that contain the specified string",
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "The page of results to retrieve. Default is the first page.",
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of results to retrieve per page. Default is 10. Maximum is 200.",
            "name": "page_size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Retrieve typeforms for the specified workspace.",
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListFormsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#list-forms"
        }
      }
    },
    "/{connectionId}/forms/{form_id}": {
      "get": {
        "summary": "Get schema",
        "description": "Get schema",
        "operationId": "GetSchema_V2",
        "x-ms-api-annotation": {
          "family": "GetSchema",
          "status": "Preview",
          "revision": 2
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-test-value": "jm1bZ6",
            "x-ms-dynamic-values": {
              "operationId": "ListForms_V2",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#get-schema"
        }
      }
    },
    "/{connectionId}/v2/forms/{form_id}/webhooks/{tag}": {
      "x-ms-notification-content": {
        "description": "The webhook response body.",
        "schema": {
          "$ref": "#/definitions/WebhookPayload"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "summary": "When a response is submitted",
        "description": "This operation triggers when a new response to the form is submitted.",
        "operationId": "NewResponseWebhook_V2",
        "x-ms-api-annotation": {
          "family": "NewResponseWebhook",
          "status": "Preview",
          "revision": 2
        },
        "consumes": [
          "application/json"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "description": "Select a form from the dropdown.",
            "x-ms-summary": "Select a form",
            "name": "form_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListForms_V2",
              "value-path": "id",
              "value-title": "title",
              "value-collection": "items"
            }
          },
          {
            "description": "Unique name you want to use for the webhook.",
            "x-ms-summary": "Specify a tag for the webhook",
            "name": "tag",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "url",
                "enabled"
              ],
              "properties": {
                "url": {
                  "description": "Webhook URL.",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "enabled": {
                  "description": "Yes if you want to send responses to the webhook immediately. Otherwise, no.",
                  "x-ms-summary": "Enabled",
                  "x-ms-visibility": "internal",
                  "type": "boolean",
                  "default": true
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebhookCreationResponse"
            }
          }
        },
        "deprecated": false,
        "tags": [
          "webhooks"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#when-a-response-is-submitted"
        }
      }
    },
    "/{connectionId}/v3/forms/{form_id}": {
      "get": {
        "summary": "Get schema",
        "description": "Get schema",
        "operationId": "GetSchema_V3",
        "x-ms-api-annotation": {
          "family": "GetSchema",
          "status": "Preview",
          "revision": 3
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "form_id",
            "in": "path",
            "description": "Form",
            "required": true,
            "x-ms-summary": "Form",
            "x-ms-test-value": "jm1bZ6",
            "x-ms-dynamic-values": {
              "operationId": "ListForms_V2",
              "value-path": "id",
              "value-title": "title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/typeform/#get-schema"
        }
      }
    },
    "/whr": {
      "post": {
        "operationId": "WebhookResponse",
        "x-ms-api-annotation": {
          "family": "WebhookResponse",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    },
    "/v2/whr": {
      "post": {
        "operationId": "WebhookResponse_V2",
        "x-ms-api-annotation": {
          "family": "WebhookResponse",
          "status": "Preview",
          "revision": 2
        },
        "parameters": [],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    }
  },
  "definitions": {
    "ListFormsResponse-Old": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier of a form.",
            "type": "string",
            "x-ms-summary": "Form Id",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "description": "Name of the Typeform.",
            "type": "string",
            "x-ms-summary": "Form Name",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "ResponseList": {
      "type": "object",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "Item": {
      "type": "object",
      "properties": {
        "ItemInternalId": {
          "type": "string",
          "x-ms-visibility": "internal"
        }
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetSchema",
        "parameters": {
          "form_id": {
            "parameter": "form_id"
          }
        },
        "value-path": "schema/items"
      }
    },
    "Item-New": {
      "type": "object",
      "properties": {
        "ItemInternalId": {
          "type": "string",
          "x-ms-visibility": "internal"
        }
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetSchema_V2",
        "parameters": {
          "form_id": {
            "parameter": "form_id"
          }
        },
        "value-path": "schema"
      }
    },
    "ListFormsResponse": {
      "type": "object",
      "properties": {
        "total_items": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of forms.",
          "title": "Total Items"
        },
        "page_count": {
          "format": "int32",
          "type": "integer",
          "description": "Number of pages of results.",
          "title": "Page Count"
        },
        "items": {
          "description": "Forms in response.",
          "title": "Forms",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Unique form ID.",
                "title": "Form ID"
              },
              "title": {
                "type": "string",
                "description": "Form title.",
                "title": "Form Title"
              },
              "last_updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the typeform was last updated. In ISO 8601 format, Coordinated Universal Time (UTC), to the second.",
                "title": "Last Updated At"
              },
              "self": {
                "type": "object",
                "description": "Typeform.",
                "title": "Typeform",
                "properties": {
                  "href": {
                    "type": "string",
                    "description": "URL to the typeform.",
                    "title": "URL"
                  }
                }
              },
              "theme": {
                "type": "object",
                "description": "Typeform theme.",
                "title": "Theme",
                "properties": {
                  "href": {
                    "type": "string",
                    "description": "URL to the typeform's theme.",
                    "title": "URL"
                  }
                }
              },
              "_links": {
                "type": "object",
                "description": "Typeform links.",
                "title": "Links",
                "properties": {
                  "display": {
                    "type": "string",
                    "description": "Display URL.",
                    "title": "Display URL"
                  }
                }
              }
            }
          }
        }
      }
    },
    "WebhookCreationResponse": {
      "type": "object",
      "description": "A JSON that contains information on the newly created webhook",
      "properties": {
        "id": {
          "description": "Unique ID of the webhook",
          "type": "string",
          "title": "Webhook ID"
        },
        "form_id": {
          "description": "Unique ID of the typeform",
          "type": "string",
          "title": "Form ID"
        },
        "tag": {
          "description": "Unique name you want to use for the webhook",
          "type": "string",
          "title": "Webhook Name"
        },
        "url": {
          "description": "Webhook URL",
          "type": "string",
          "title": "Webhook URL"
        },
        "enabled": {
          "description": "True if you want to send responses to the webhook immediately. Otherwise, false.",
          "type": "boolean",
          "title": "Send Responses Immediately"
        },
        "created_at": {
          "description": "Date and time when webhook was created. In ISO 8601 format, UTC time, to the second, with T as a delimiter between the date and time.",
          "type": "string",
          "format": "date-time",
          "title": "Created At"
        },
        "updated_at": {
          "description": "Date of last update to webhook. In ISO 8601 format, UTC time, to the second, with T as a delimeter between the date and time.",
          "type": "string",
          "format": "date-time",
          "title": "Updated At"
        }
      },
      "required": [
        "id"
      ]
    },
    "WebhookPayload": {
      "type": "object",
      "required": [
        "event_id",
        "event_type"
      ],
      "properties": {
        "event_id": {
          "type": "string",
          "description": "Unique ID for the webhook. Automatically assigned by Typeform.",
          "title": "Event ID"
        },
        "event_type": {
          "type": "string",
          "description": "Reason the webhook is being sent.",
          "title": "Event Type"
        },
        "form_response": {
          "type": "object",
          "description": "Object that contains information about the typeform and account associated with the webhook.",
          "title": "Response",
          "required": [
            "form_id",
            "token",
            "submitted_at",
            "landed_at"
          ],
          "properties": {
            "form_id": {
              "type": "string",
              "description": "Unique ID for the typeform.",
              "title": "Form ID"
            },
            "token": {
              "type": "string",
              "description": "Unique ID for the typeform submission.",
              "title": "Submission ID"
            },
            "submitted_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date and time the typeform responses were submitted. In ISO 8601 format, Coordinated Universal Time (UTC), to the second.",
              "title": "Submitted At"
            },
            "landed_at": {
              "type": "string",
              "format": "date-time",
              "description": "Date and time of the form landing. In ISO 8601 format, Coordinated Universal Time (UTC), to the second.",
              "title": "Landed At"
            },
            "calculated": {
              "type": "object",
              "description": "If your typeform includes a score calculation, the webhook response will contain this object.",
              "title": "Calculated",
              "properties": {
                "score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Score the respondent entered.",
                  "title": "Score"
                }
              }
            },
            "definition": {
              "type": "object",
              "description": "Object that lists the questions in your typeform.",
              "title": "Form",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique ID of the typeform.",
                  "title": "ID"
                },
                "title": {
                  "type": "string",
                  "description": "Title of the typeform.",
                  "title": "Title"
                },
                "fields": {
                  "type": "array",
                  "description": "Questions in your typeform.",
                  "title": "Questions",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique ID for the field.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the question associated with the field.",
                        "title": "Title"
                      },
                      "type": {
                        "type": "string",
                        "description": "Question type",
                        "title": "Type"
                      },
                      "ref": {
                        "type": "string",
                        "description": "A name you can use to reference the field. Only usable for typeforms created using the Create API.",
                        "title": "Ref"
                      },
                      "choices": {
                        "type": "array",
                        "description": "Multiple choice options.",
                        "title": "Choices",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique ID for the field.",
                              "title": "ID"
                            },
                            "label": {
                              "type": "string",
                              "description": "Choice label.",
                              "title": "label"
                            }
                          }
                        }
                      },
                      "allow_multiple_selections": {
                        "type": "boolean",
                        "description": "Allows multiple selections",
                        "title": "Allows Multiple Selections"
                      },
                      "allow_other_choice": {
                        "type": "boolean",
                        "description": "Allows 'Other' response.",
                        "title": "Allows Other"
                      }
                    }
                  }
                }
              }
            },
            "answers": {
              "type": "array",
              "description": "Array of objects that lists the answers for all the answered questions in your typeform.",
              "title": "Answers",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Type of the answer.",
                    "title": "Type"
                  },
                  "text": {
                    "type": "string",
                    "description": "Text.",
                    "title": "Text"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email Address.",
                    "title": "Email"
                  },
                  "date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Date.",
                    "title": "Date"
                  },
                  "number": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number.",
                    "title": "Number"
                  },
                  "boolean": {
                    "type": "boolean",
                    "description": "Boolean.",
                    "title": "Boolean"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL.",
                    "title": "URL"
                  },
                  "file_url": {
                    "type": "string",
                    "description": "File URL.",
                    "title": "File URL"
                  },
                  "choice": {
                    "type": "object",
                    "description": "Single-selection choice.",
                    "title": "Choice",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "Choice label.",
                        "title": "Label"
                      },
                      "other": {
                        "type": "string",
                        "description": "Other choice.",
                        "title": "Other"
                      }
                    }
                  },
                  "choices": {
                    "type": "object",
                    "description": "Multiple-selection choices.",
                    "title": "Choices",
                    "properties": {
                      "labels": {
                        "type": "array",
                        "description": "Choice label.",
                        "title": "Label",
                        "items": {
                          "type": "string"
                        }
                      },
                      "other": {
                        "type": "string",
                        "description": "Other choice.",
                        "title": "Other"
                      }
                    }
                  },
                  "field": {
                    "type": "object",
                    "description": "Object that contains identifying information to help you match the answer with the question.",
                    "title": "Field",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique ID for the field.",
                        "title": "ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of question associated with the field.",
                        "title": "Type"
                      }
                    }
                  }
                }
              }
            },
            "answersObject": {
              "type": "object",
              "description": "Object that contains the answers for all the answered questions in your typeform.",
              "title": "AnswersObject",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchema_V3",
                "parameters": {
                  "form_id": {
                    "parameter": "form_id"
                  }
                },
                "value-path": "schema"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.typeform.com/oauth/authorize",
      "tokenUrl": "https://api.typeform.com/oauth/token",
      "scopes": {
        "forms:read": "forms:read",
        "webhooks:write": "webhooks:write",
        "webhooks:read": "webhooks:read"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "forms:read",
        "webhooks:write",
        "webhooks:read"
      ]
    }
  ],
  "tags": [],
  "x-ms-docs": [
    {
      "url": "https://ms.flow.microsoft.com/en-us/blog/handle-typeform-submissions/",
      "description": "Handling form submissions from Typeform"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListForms_V2"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.typeform.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://admin.typeform.com/to/dwk6gt/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/typeform"
  }
}
