{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Notifications",
    "description": "The notification service enables notifications created by a flow to go to your email account or Microsoft Flow mobile app.",
    "contact": {
      "name": "Samuel L. Banina",
      "email": "saban@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/flowpush",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-capabilities": {
    "buttons": {
      "flowIosApp": {},
      "flowAndroidApp": {}
    }
  },
  "definitions": {
    "NotificationDefinition": {
      "type": "object",
      "required": [
        "notificationText"
      ],
      "properties": {
        "notificationText": {
          "description": "Create a notification message",
          "x-ms-summary": "Text",
          "type": "string"
        },
        "notificationLink": {
          "description": "Custom notification link",
          "type": "object",
          "properties": {
            "uri": {
              "description": "Include a link in the notification",
              "x-ms-summary": "Link",
              "type": "string"
            },
            "label": {
              "description": "The display name for the link",
              "x-ms-summary": "Link label",
              "type": "string"
            }
          }
        }
      }
    },
    "NotificationEmailDefinition": {
      "type": "object",
      "required": [
        "notificationSubject",
        "notificationBody"
      ],
      "properties": {
        "notificationSubject": {
          "description": "Notification email subject",
          "x-ms-summary": "Subject",
          "type": "string"
        },
        "notificationBody": {
          "description": "Notification email body",
          "x-ms-summary": "Body",
          "type": "string"
        }
      }
    }
  },
  "paths": {
    "/{connectionId}/sendNotification": {
      "post": {
        "description": "Sends a push notification to your Microsoft Flow mobile app.",
        "summary": "Send me a mobile notification",
        "operationId": "SendNotification",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "NotificationDefinition",
            "x-ms-summary": "The push notification",
            "in": "body",
            "description": "Push notification inputs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowpush/#send-me-a-mobile-notification"
        }
      }
    },
    "/{connectionId}/sendEmailNotification": {
      "post": {
        "description": "Sends an email notification to the account you signed in to Microsoft Flow with.",
        "summary": "Send me an email notification",
        "operationId": "SendEmailNotification",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "NotificationEmailDefinition",
            "x-ms-summary": "The email notification",
            "in": "body",
            "description": "Email notification inputs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationEmailDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowpush/#send-me-an-email-notification"
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/flowpush"
  }
}