{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Azure Table Storage",
    "description": "Azure Table storage is a service that stores structured NoSQL data in the cloud, providing a key/attribute store with a schemaless design. Sign into your Storage account to create, update, and query tables and more.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/v2/storageAccounts/{storageAccountName}/tables": {
      "get": {
        "summary": "List tables (V2)",
        "description": "List all the tables for your storage account.",
        "operationId": "GetTables_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getTablesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTables",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#list-tables-(v2)"
        }
      },
      "post": {
        "summary": "Create table (V2)",
        "description": "This operation adds a table to the storage account.",
        "operationId": "CreateTable_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "TableName",
            "in": "body",
            "description": "Specify the new table",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Table"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getTableResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateTable",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#create-table-(v2)"
        }
      }
    },
    "/{connectionId}/v2/storageAccounts/{storageAccountName}/tables/{tableName}": {
      "get": {
        "summary": "Get a table (V2)",
        "description": "This operation gets the metadata of a table.",
        "operationId": "GetTable_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getTableResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request.",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTable",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#get-a-table-(v2)"
        }
      },
      "delete": {
        "summary": "Delete a table (V2)",
        "description": "Delete a table.",
        "operationId": "DeleteTable_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "No Content",
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DeleteTable",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#delete-a-table-(v2)"
        }
      }
    },
    "/{connectionId}/v2/storageAccounts/{storageAccountName}/tables/{tableName}/entities": {
      "get": {
        "summary": "Get entities (V2)",
        "description": "This operation queries the entities in a table.",
        "operationId": "GetEntities_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "NextPartitionKey",
            "in": "query",
            "description": "The next partition key returned for queries and read-feed operations if there are more results to be read.",
            "required": false,
            "x-ms-summary": "Partition Continuation Token",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "NextRowKey",
            "in": "query",
            "description": "The next row key returned for queries and read-feed operations if there are more results to be read.",
            "required": false,
            "x-ms-summary": "Row Continuation Token",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter query for which entities to return. Example: Column eq 'Value' and Column2 ne 2. Invalid OData queries, such as not wrapping string values in quotes will return 501.",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string",
            "x-ms-test-value": "City eq 'Redmond'"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned. Example: Column, PartitionKey",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string",
            "x-ms-test-value": "City"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getEntitiesResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetEntities",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#get-entities-(v2)"
        }
      },
      "post": {
        "summary": "Insert Entity (V2)",
        "description": "Operation to add an entity to a table.",
        "operationId": "CreateEntity_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "Entity to insert into the specified table. This entity must contain entries for a PartitionKey and a RowKey. Example: {\"PartitionKey\" : \"Partition\", \"RowKey\" : \"Row\", \"StringField\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client supplied identifier for the operation, which will be echoed in the server response.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/InsertEntityResponse"
            },
            "headers": {
              "ETag": {
                "description": "ETag of the new entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateEntity",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#insert-entity-(v2)"
        }
      }
    },
    "/{connectionId}/v2/storageAccounts/{storageAccountName}/tables/{tableName}/entities(PartitionKey='{PartitionKey}',RowKey='{RowKey}')": {
      "get": {
        "summary": "Get entity (V2)",
        "description": "This operation gets the entity in a table based on the partition and row key.",
        "operationId": "GetEntity_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "x-ms-test-value": "testtable",
            "type": "string"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "description": "The partition id containing this entity",
            "required": true,
            "x-ms-summary": "Partition Key",
            "x-ms-visibility": "important",
            "x-ms-test-value": "1",
            "type": "string"
          },
          {
            "name": "RowKey",
            "in": "path",
            "description": "The row id containing this entity",
            "required": true,
            "x-ms-summary": "Row Key",
            "x-ms-visibility": "important",
            "x-ms-test-value": "1",
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned. Example: Column, PartitionKey",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "City",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getEntityResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetEntity",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#get-entity-(v2)"
        }
      },
      "put": {
        "summary": "Insert or Replace Entity (V2)",
        "description": "Operation to replace an entity in a table, creating a new entity if needed.",
        "operationId": "InsertReplaceEntity_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "JSON Entity to insert into the specified table. If you specify Row or Partition Keys in this field, they must match the corresponding field value. Example: {\"FieldName\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity",
            "x-ms-test-value": "{\"City\":\"Redmond\"}"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request..",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "ETag": {
                "description": "ETag of the update entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "InsertReplaceEntity",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#insert-or-replace-entity-(v2)"
        }
      },
      "patch": {
        "summary": "Insert or Merge Entity (V2)",
        "description": "Operation to merge data with an entity in a table, creating a new entity if needed.",
        "operationId": "InsertMergeEntity_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "JSON Entity to insert or merge into the specified table. If you specify Row or Partition Keys in this field, they must match the corresponding field value. Example: {\"FieldName\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity",
            "x-ms-test-value": "{\"City\":\"Redmond\"}"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client supplied identifier for the operation, which will be echoed in the server response.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "InsertMergeEntity",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#insert-or-merge-entity-(v2)"
        }
      }
    },
    "/{connectionId}/v2/storageAccounts/{storageAccountName}/tables/{tableName}/entities/etag(PartitionKey='{PartitionKey}',RowKey='{RowKey}')": {
      "put": {
        "summary": "Replace Entity (V2)",
        "description": "Operation to replace an entity in a table.",
        "operationId": "ReplaceEntity_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "x-ms-summary": "ETag",
            "description": "ETag to match for concurrency. * to match all values.",
            "type": "string",
            "default": "*",
            "x-ms-test-value": "*"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "JSON Entity to replace the specified entity. If you specify Row or Partition Keys in this field, they must match the corresponding field value. Example: {\"FieldName\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity",
            "x-ms-test-value": "{\"City\":\"Redmond\"}"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client supplied identifier for the operation, which will be echoed in the server response.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ReplaceEntity",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#replace-entity-(v2)"
        }
      },
      "delete": {
        "summary": "Delete Entity (V2)",
        "description": "Operation to delete an entity.",
        "operationId": "DeleteEntity_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client supplied identifier for the operation, which will be echoed in the server response.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Etag to match for concurrency. * to match all values.",
            "required": false,
            "x-ms-summary": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DeleteEntity",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#delete-entity-(v2)"
        }
      },
      "patch": {
        "summary": "Merge Entity (V2)",
        "description": "Operation to merge data with an entity in a table.",
        "operationId": "MergeEntity_V2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "Azure Storage account name or table endpoint.",
            "required": true,
            "x-ms-summary": "Storage account name or table endpoint",
            "x-ms-dynamic-values": {
              "operationId": "GetStorageAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables_V2",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value",
              "parameters": {
                "storageAccountName": {
                  "parameter": "storageAccountName"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "JSON Entity to merge with the specified entity. If you specify Row or Partition Keys in this field, they must match the corresponding field value. Example: {\"FieldName\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity",
            "x-ms-test-value": "{\"City\":\"Redmond\"}"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Etag to match for concurrency. * to match all values.",
            "required": true,
            "x-ms-summary": "ETag",
            "type": "string",
            "x-ms-test-value": "*"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request.",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "MergeEntity",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#merge-entity-(v2)"
        }
      }
    },
    "/{connectionId}/Tables": {
      "get": {
        "summary": "List tables",
        "description": "This operation lists the tables in the account.",
        "operationId": "GetTables",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getTablesResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTables",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#list-tables-%5bdeprecated%5d"
        }
      },
      "post": {
        "summary": "Create table",
        "description": "This operation adds a table to the storage account.",
        "operationId": "CreateTable",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "TableName",
            "in": "body",
            "description": "Specify the new table",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Table"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getTableResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Conflict"
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateTable",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#create-table-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/Tables/{tableName}": {
      "get": {
        "summary": "Get a table",
        "description": "This operation gets the metadata of a table.",
        "operationId": "GetTable",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value"
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getTableResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request.",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTable",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#get-a-table-%5bdeprecated%5d"
        }
      },
      "delete": {
        "summary": "Delete a table",
        "description": "Delete a table.",
        "operationId": "DeleteTable",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "No Content",
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DeleteTable",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#delete-a-table-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/Tables/{tableName}/entities": {
      "get": {
        "summary": "Get entities",
        "description": "This operation queries the entities in a table.",
        "operationId": "GetEntities",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "TableName",
              "value-title": "TableName"
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "NextPartitionKey",
            "in": "query",
            "description": "The next partition key returned for queries and read-feed operations if there are more results to be read.",
            "required": false,
            "x-ms-summary": "Partition Continuation Token",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "NextRowKey",
            "in": "query",
            "description": "The next row key returned for queries and read-feed operations if there are more results to be read.",
            "required": false,
            "x-ms-summary": "Row Continuation Token",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter query for which entities to return. Example: Column eq 'Value' and Column2 ne 2. Invalid OData queries, such as not wrapping string values in quotes will return 501.",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string",
            "x-ms-test-value": "City eq 'Redmond'"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned. Example: Column, PartitionKey",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string",
            "x-ms-test-value": "City"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getEntitiesResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": true,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetEntities",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#get-entities-%5bdeprecated%5d"
        }
      },
      "post": {
        "summary": "Insert Entity",
        "description": "Operation to add an entity to a table.",
        "operationId": "CreateEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "Entity to insert into the specified table. This entity must contain entries for a PartitionKey and a RowKey. Example: {\"PartitionKey\" : \"Partition\", \"RowKey\" : \"Row\", \"StringField\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client supplied identifier for the operation, which will be echoed in the server response.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/InsertEntityResponse"
            },
            "headers": {
              "ETag": {
                "description": "ETag of the new entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateEntity",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#insert-entity-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/Tables/{tableName}/entities(PartitionKey='{PartitionKey}',RowKey='{RowKey}')": {
      "get": {
        "summary": "Get entity",
        "description": "This operation gets the entity in a table based on the partition and row key.",
        "operationId": "GetEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "TableName",
              "value-title": "TableName"
            },
            "x-ms-test-value": "testtable",
            "type": "string"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "description": "The partition id containing this entity",
            "required": true,
            "x-ms-summary": "Partition Key",
            "x-ms-visibility": "important",
            "x-ms-test-value": "1",
            "type": "string"
          },
          {
            "name": "RowKey",
            "in": "path",
            "description": "The row id containing this entity",
            "required": true,
            "x-ms-summary": "Row Key",
            "x-ms-visibility": "important",
            "x-ms-test-value": "1",
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned. Example: Column, PartitionKey",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "City",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getEntityResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetEntity",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#get-entity-%5bdeprecated%5d"
        }
      },
      "put": {
        "summary": "Insert or Replace Entity",
        "description": "Operation to replace an entity in a table, creating a new entity if needed.",
        "operationId": "InsertReplaceEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "TableName",
              "value-title": "TableName"
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "JSON Entity to insert into the specified table. If you specify Row or Partition Keys in this field, they must match the corresponding field value. Example: {\"FieldName\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity",
            "x-ms-test-value": "{\"City\":\"Redmond\"}"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request..",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "ETag": {
                "description": "ETag of the update entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "InsertReplaceEntity",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#insert-or-replace-entity-%5bdeprecated%5d"
        }
      },
      "patch": {
        "summary": "Insert or Merge Entity",
        "description": "Operation to merge data with an entity in a table, creating a new entity if needed.",
        "operationId": "InsertMergeEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value"
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "JSON Entity to insert or merge into the specified table. If you specify Row or Partition Keys in this field, they must match the corresponding field value. Example: {\"FieldName\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity",
            "x-ms-test-value": "{\"City\":\"Redmond\"}"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client supplied identifier for the operation, which will be echoed in the server response.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "InsertMergeEntity",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#insert-or-merge-entity-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/Tables/{tableName}/entities/etag(PartitionKey='{PartitionKey}',RowKey='{RowKey}')": {
      "put": {
        "summary": "Replace Entity",
        "description": "Operation to replace an entity in a table.",
        "operationId": "ReplaceEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-collection": "value",
              "value-path": "TableName",
              "value-title": "TableName"
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "x-ms-summary": "ETag",
            "description": "ETag to match for concurrency. * to match all values.",
            "type": "string",
            "default": "*",
            "x-ms-test-value": "*"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "JSON Entity to replace the specified entity. If you specify Row or Partition Keys in this field, they must match the corresponding field value. Example: {\"FieldName\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity",
            "x-ms-test-value": "{\"City\":\"Redmond\"}"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client supplied identifier for the operation, which will be echoed in the server response.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ReplaceEntity",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#replace-entity-%5bdeprecated%5d"
        }
      },
      "delete": {
        "summary": "Delete Entity",
        "description": "Operation to delete an entity.",
        "operationId": "DeleteEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value"
            },
            "type": "string"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "A client supplied identifier for the operation, which will be echoed in the server response.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Etag to match for concurrency. * to match all values.",
            "required": false,
            "x-ms-summary": "ETag",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DeleteEntity",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#delete-entity-%5bdeprecated%5d"
        }
      },
      "patch": {
        "summary": "Merge Entity",
        "description": "Operation to merge data with an entity in a table.",
        "operationId": "MergeEntity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "Specify the table.",
            "required": true,
            "x-ms-summary": "Table",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "value-path": "TableName",
              "value-title": "TableName",
              "value-collection": "value"
            },
            "type": "string",
            "x-ms-test-value": "testtable"
          },
          {
            "name": "PartitionKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Partition Key",
            "description": "The partition id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "RowKey",
            "in": "path",
            "required": true,
            "x-ms-summary": "Row Key",
            "description": "The row id containing this entity",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "1"
          },
          {
            "name": "entity",
            "in": "body",
            "description": "JSON Entity to merge with the specified entity. If you specify Row or Partition Keys in this field, they must match the corresponding field value. Example: {\"FieldName\" : \"Value\", \"IntegerField\" : 1}",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Entity",
            "x-ms-test-value": "{\"City\":\"Redmond\"}"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Etag to match for concurrency. * to match all values.",
            "required": true,
            "x-ms-summary": "ETag",
            "type": "string",
            "x-ms-test-value": "*"
          },
          {
            "name": "x-ms-client-request-id",
            "in": "header",
            "description": "Unique identifier for tracking the request.",
            "required": false,
            "x-ms-summary": "Client Request Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request.",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          },
          "default": {
            "description": "default",
            "headers": {
              "ETag": {
                "description": "ETag of the updated entity",
                "type": "string",
                "x-ms-summary": "Entity ETag"
              },
              "x-ms-request-id": {
                "description": "Unique identifier for tracking the request",
                "type": "string",
                "x-ms-summary": "Client Request Id"
              }
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "MergeEntity",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#merge-entity-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/testConnection": {
      "get": {
        "summary": "Test connection",
        "description": "This operation test the created connection (with GetTables operation).",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#test-connection"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v2/GetStorageAccounts": {
      "get": {
        "summary": "Get storage accounts",
        "description": "This operation list the user's Azure Storage Account.",
        "operationId": "GetStorageAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/StorageAccountList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuretables/#get-storage-accounts"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "StorageAccountList": {
      "description": "List of storage account names",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of storage account names",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageAccount"
          }
        }
      }
    },
    "StorageAccount": {
      "description": "Storage account",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the storage account.",
          "type": "string",
          "x-ms-summary": "Storage account name or table endpoint"
        },
        "DisplayName": {
          "description": "The display name of the storage account.",
          "type": "string",
          "x-ms-summary": "Storage Account display name"
        }
      }
    },
    "getTablesResponse": {
      "description": "Table query response object",
      "type": "object",
      "properties": {
        "odata.metadata": {
          "description": "URL to the account metadata",
          "type": "string",
          "x-ms-summary": "Account metadata location"
        },
        "value": {
          "description": "List of tables",
          "x-ms-summary": "List of tables",
          "type": "array",
          "items": {
            "description": "The metadata for the table",
            "x-ms-summary": "Table metadata",
            "type": "object",
            "properties": {
              "odata.id": {
                "description": "URL to the Table data",
                "type": "string",
                "x-ms-summary": "Table location"
              },
              "TableName": {
                "description": "Table Name",
                "type": "string",
                "x-ms-summary": "Table Name"
              }
            }
          }
        }
      }
    },
    "getTableResponse": {
      "description": "The metadata for the table",
      "x-ms-summary": "Table metadata",
      "type": "object",
      "properties": {
        "odata.id": {
          "description": "URL to the Table data",
          "type": "string",
          "x-ms-summary": "Table location"
        },
        "TableName": {
          "description": "Table Name",
          "type": "string",
          "x-ms-summary": "Table Name"
        }
      }
    },
    "Item": {
      "description": "An entity",
      "x-ms-summary": "An entity",
      "type": "object",
      "properties": {
        "PartitionKey": {
          "description": "Partition Key",
          "x-ms-summary": "Partition Key",
          "type": "string"
        },
        "RowKey": {
          "description": "Row Key",
          "x-ms-summary": "Row Key",
          "type": "string"
        },
        "additionalProperties": {
          "description": "The unique columns for the entity",
          "x-ms-summary": "Entity data",
          "type": "string"
        }
      }
    },
    "getEntitiesResponse": {
      "description": "Entity Response Object",
      "x-ms-summary": "Get entities result",
      "type": "object",
      "properties": {
        "odata.metadata": {
          "description": "Table Metadata location",
          "x-ms-summary": "Table Metadata location",
          "type": "string"
        },
        "value": {
          "description": "List of Entities",
          "x-ms-summary": "List of Entities",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    },
    "getEntityResponse": {
      "description": "An entity",
      "x-ms-summary": "An entity",
      "type": "object",
      "properties": {
        "odata.metadata": {
          "description": "Table Metadata location",
          "x-ms-summary": "Table Metadata location",
          "type": "string"
        },
        "PartitionKey": {
          "description": "Partition Key",
          "x-ms-summary": "Partition Key",
          "type": "string"
        },
        "RowKey": {
          "description": "Row Key",
          "x-ms-summary": "Row Key",
          "type": "string"
        },
        "additionalProperties": {
          "description": "The unique columns for the entity",
          "x-ms-summary": "Entity data",
          "type": "string"
        }
      }
    },
    "InsertEntityResponse": {
      "description": "Data for a single entity",
      "x-ms-summary": "Entity",
      "type": "object",
      "properties": {
        "odata.metadata": {
          "description": "Entity Metadata location",
          "x-ms-summary": "Entity Metadata location",
          "type": "string"
        },
        "PartitionKey": {
          "description": "Partition Key",
          "x-ms-summary": "Partition Key",
          "type": "string"
        },
        "RowKey": {
          "description": "Row Key",
          "x-ms-summary": "Row Key",
          "type": "string"
        },
        "additionalProperties": {
          "description": "The unique columns for the entity",
          "x-ms-summary": "Entity data",
          "type": "string"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/storage/tables/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azuretables"
  },
  "basePath": "/apim/azuretables"
}
