{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FlowForma",
    "description": "FlowForma Business Process Management (BPM) tools for Office 365, enable users to build forms & workflow, automating processes without code.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "email": "support@flowforma.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/flowforma",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/flowforma": {
      "post": {
        "tags": [
          "DynamicSchemas"
        ],
        "summary": "Create a FlowForma form",
        "description": "Creates a FlowForma form.",
        "operationId": "CreateForm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectionUrl",
            "in": "query",
            "required": true,
            "x-ms-summary": "FlowForma Url",
            "description": "Provide a url to FlowForma app that you want to use.",
            "type": "string"
          },
          {
            "name": "flows",
            "in": "query",
            "required": true,
            "x-ms-summary": "Flows",
            "description": "Select a flow to be used for the form creation.",
            "x-ms-dynamic-values": {
              "operationId": "GetFlows",
              "parameters": {
                "connectionUrl": {
                  "parameter": "connectionUrl"
                }
              },
              "value-collection": "Flows",
              "value-path": "Flow",
              "value-title": "Title"
            },
            "type": "string"
          },
          {
            "name": "question",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactInfo"
            },
            "x-ms-summary": "Contact"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FlowCreatedResponse"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": []
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowforma/#create-a-flowforma-form"
        }
      }
    },
    "/{connectionId}/api/flowforma/schema": {
      "get": {
        "tags": [
          "DynamicSchemas"
        ],
        "summary": "Get Contact Info Schema",
        "description": "Gets the contact info schema.",
        "operationId": "GetContactInfoSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "flows",
            "in": "query",
            "required": true,
            "x-ms-test-value": "{   'Id': 11,   'Title': 'Connector Flow A',   'Steps': [     {       'StepCode': 'step1',       'Questions': [         {           'Id': 306,           'Title': 'Sample Connector Input 1',           'Type': 'singlelineoftext',           'QuestionCode': 'step1.1'         },         {           'Id': 307,           'Title': 'Sample Connector Input 2',           'Type': 'singlelineoftext',           'QuestionCode': 'step1.2'         },         {           'Id': 308,           'Title': 'Sample Connector Input 3',           'Type': 'singlelineoftext',           'QuestionCode': 'step1.3'         }       ],       'Title': 'Sample Data Step',       'Id': 54     },     {       'StepCode': 'step2',       'Questions': [         {           'Id': 309,           'Title': 'Approval',           'Type': 'yesno',           'QuestionCode': 'step2.1'         }       ],       'Title': 'Completion step',       'Id': 55     }   ] }",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowforma/#get-contact-info-schema"
        }
      }
    },
    "/{connectionId}/api/flow/flows": {
      "get": {
        "tags": [
          "DynamicValues"
        ],
        "summary": "Get Flows",
        "description": "Gets the flows.",
        "operationId": "GetFlows",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectionUrl",
            "in": "query",
            "required": true,
            "x-ms-test-value": "https://flowforma-f15598e7a54dd6.sharepoint.com/demo/connector/flowforma/",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "oauth2": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/flowforma/#get-flows"
        }
      }
    }
  },
  "definitions": {
    "ContactInfo": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetContactInfoSchema",
        "parameters": {
          "flows": {
            "parameter": "flows"
          }
        },
        "value-path": "Schema"
      }
    },
    "FlowCreatedResponse": {
      "type": "object",
      "properties": {
        "Question": {
          "description": "Flow ID or Name.",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Flow"
        },
        "Message": {
          "description": "Message that explains what was stored.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Result Message"
        }
      }
    },
    "Flow": {
      "type": "object",
      "properties": {
        "Flows": {
          "description": "Array of available flows.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "Flow": {
                "type": "object",
                "properties": {
                  "Id": {
                    "format": "int32",
                    "description": "Id to identify the flow to use when creating process instance.",
                    "type": "integer",
                    "x-ms-summary": "Id",
                    "x-ms-visibility": "advanced"
                  },
                  "Title": {
                    "description": "Flow title.",
                    "type": "string",
                    "x-ms-summary": "Title",
                    "x-ms-visibility": "advanced"
                  }
                },
                "x-ms-summary": "Flow",
                "x-ms-visibility": "advanced"
              },
              "Title": {
                "type": "string",
                "x-ms-summary": "Title",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Flows",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic": {
      "type": "basic",
      "description": "Basic HTTP Authentication"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.flowforma.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.flowforma.com/privacy-statement-flowforma-bpm"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/flowforma"
  }
}
