{
  "swagger": "2.0",
  "info": {
    "description": "ArcGIS PaaS connects your automated workflows to resources from your ArcGIS organization. Access geoenrichment, geocoding, and routing services to add demographics and location information to your data.",
    "title": "ArcGIS PaaS",
    "version": "2022.2.0",
    "contact": {
      "name": "Esri Power Automate Support",
      "url": "https://community.esri.com/t5/arcgis-for-power-bi-questions/bd-p/arcgis-for-power-bi-questions",
      "email": "powerautomate@esri.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/arcgispaas",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1/dynamicvalues/coordinatesystems": {
      "get": {
        "summary": "Get spatial reference systems",
        "description": "Coordinate systems",
        "operationId": "GetSRS",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get SRS",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Spatial reference system name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "number",
                    "description": "Well-known ID"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#get-spatial-reference-systems"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/dynamicvalues/geoenrichment/country": {
      "get": {
        "summary": "Get list of countries",
        "description": "Geoenrichment-countries",
        "operationId": "GetGeoenrichmentCountries",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Country list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#get-list-of-countries"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/dynamicvalues/geoenrichment/datacollection": {
      "get": {
        "summary": "Get data collections available for the country",
        "operationId": "GetGeoenrichmentDataCollections",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/country"
          }
        ],
        "responses": {
          "200": {
            "description": "Data collection list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Data collection name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#get-data-collections-available-for-the-country"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/geoenrichment/parameter": {
      "get": {
        "summary": "Get data collections available for the country",
        "operationId": "GetGeoenrichmentParameters",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/country"
          },
          {
            "$ref": "#/parameters/datacollection"
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#get-data-collections-available-for-the-country"
        }
      }
    },
    "/{connectionId}/v1/dynamicschema/geoenrichment": {
      "get": {
        "summary": "Retrieve form schema (deprecated)",
        "description": "Returns the schema for the specified form. (deprecated)",
        "operationId": "GetGeoenrichmentSchema",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/areatype"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "Geoenrichment",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#retrieve-form-schema-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/dynamicschema/geoenrichment": {
      "get": {
        "summary": "Retrieve form schema",
        "operationId": "GetGeoenrichmentSchema_V2",
        "x-ms-visibility": "internal",
        "description": "Returns the schema for the specified form",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/buffertype"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "Geoenrichment",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#retrieve-form-schema"
        }
      }
    },
    "/{connectionId}/v1/geoenrichment/enrich": {
      "post": {
        "summary": "Geoenrichment (deprecated)",
        "description": "Get facts about a location or area. Using the GeoEnrichment service, you can get information about the people, places, and businesses in a specific area or within a certain distance or drive time from a location. (deprecated)",
        "operationId": "Geoenrich",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "studyarea",
            "required": true,
            "type": "string",
            "x-ms-summary": "Study area",
            "description": "Address or geometry"
          },
          {
            "$ref": "#/parameters/country"
          },
          {
            "$ref": "#/parameters/datacollection"
          },
          {
            "$ref": "#/parameters/parameter"
          },
          {
            "$ref": "#/parameters/areatype"
          },
          {
            "in": "body",
            "name": "query",
            "required": false,
            "schema": {
              "x-ms-dynamic-properties": {
                "itemValuePath": "schemas",
                "operationId": "GetGeoenrichmentSchema",
                "parameters": {
                  "areatype": {
                    "parameterReference": "areatype"
                  }
                }
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetGeoenrichmentSchema",
                "value-path": "schemas",
                "parameters": {
                  "areatype": {
                    "parameter": "areatype"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          },
          {
            "$ref": "#/parameters/srs"
          }
        ],
        "responses": {
          "200": {
            "description": "geoenrichment success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "number",
                  "description": "Geoenrichment variable value",
                  "title": "Value of the variable",
                  "x-ms-summary": "Parameter value"
                },
                "parameterName": {
                  "type": "string",
                  "description": "The name of the variable that is being analyzed during the geoenrichment process.",
                  "title": "Name of the variable",
                  "x-ms-summary": "Parameter name"
                },
                "units": {
                  "type": "string",
                  "description": "Parameter units",
                  "title": "Units",
                  "x-ms-summary": "Units"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "Geoenrichment",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#geoenrichment-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/geoenrichment/enrich": {
      "post": {
        "summary": "Geoenrichment",
        "description": "Get facts about a location or area. Using the GeoEnrichment service, you can get information about the people, places, and businesses in a specific area or within a certain distance or drive time from a location.",
        "operationId": "Geoenrich_V2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/country"
          },
          {
            "$ref": "#/parameters/datacollection"
          },
          {
            "$ref": "#/parameters/parameter"
          },
          {
            "$ref": "#/parameters/buffertype"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "x-ms-dynamic-schema": {
                "operationId": "GetGeoenrichmentSchema_V2",
                "value-path": "schemas",
                "parameters": {
                  "buffertype": {
                    "parameter": "buffertype"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "geoenrichment success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "number",
                  "description": "Geoenrichment variable value",
                  "title": "Value of the variable",
                  "x-ms-summary": "Parameter value"
                },
                "parameterName": {
                  "type": "string",
                  "description": "The name of the variable that is being analyzed during the geoenrichment process.",
                  "title": "Name of the variable",
                  "x-ms-summary": "Parameter name"
                },
                "units": {
                  "type": "string",
                  "description": "Parameter units",
                  "title": "Units",
                  "x-ms-summary": "Units"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "Geoenrichment",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#geoenrichment"
        }
      }
    },
    "/{connectionId}/v1/dynamicvalues/geocode/country": {
      "get": {
        "summary": "Get list of countries",
        "description": "Geocoding-countries",
        "operationId": "GetGeocodingCountries",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Country list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Country code"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#get-list-of-countries"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/findaddresscandidates": {
      "post": {
        "summary": "Find address candidate",
        "description": "Locate a single address using a geocode service resource. This resource provides information about candidates, including the address, location, and match score.  The result of this operation is a list of address candidates.",
        "operationId": "FindAddressCandidates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "forStorage",
            "type": "boolean",
            "required": true,
            "description": "Specifies whether the results of the operation will be persisted.",
            "default": true,
            "x-ms-summary": "Store results?"
          },
          {
            "in": "query",
            "name": "address",
            "type": "string",
            "description": "Address",
            "x-ms-summary": "Address",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "region",
            "type": "string",
            "description": "Region",
            "x-ms-summary": "Region",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "city",
            "type": "string",
            "description": "City",
            "x-ms-summary": "City",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "postal",
            "type": "string",
            "description": "ZIP or postal code",
            "x-ms-summary": "ZIP or postal code",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "country",
            "x-ms-summary": "Country",
            "x-ms-dynamic-values": {
              "operationId": "GetGeocodingCountries",
              "value-path": "id",
              "value-title": "name"
            },
            "required": false,
            "description": "Select a country",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "in": "query",
            "name": "locationType",
            "type": "string",
            "x-ms-summary": "Match type",
            "description": "Specifies whether to use rooftop or street entrance location for the geometry output",
            "enum": [
              "Rooftop",
              "Street"
            ],
            "x-ms-visibility": "advanced",
            "default": "Rooftop"
          },
          {
            "$ref": "#/parameters/srs"
          }
        ],
        "responses": {
          "200": {
            "description": "request success",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Full address",
                  "description": "The locations of your data listed either as single line or multi-line results"
                },
                "countryCode": {
                  "type": "string",
                  "x-ms-summary": "Country code",
                  "description": "The country where the locations are based"
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "City",
                  "description": "The city where the locations are based"
                },
                "Geometry": {
                  "type": "object",
                  "description": "Geometry object.",
                  "properties": {
                    "x": {
                      "type": "number",
                      "description": "Longitude (X)",
                      "x-ms-summary": "Longitude (X)"
                    },
                    "y": {
                      "type": "number",
                      "description": "Latitude (Y)",
                      "x-ms-summary": "Latitude (Y)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error message",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#find-address-candidate"
        }
      }
    },
    "/{connectionId}/v1/geocodeaddresses": {
      "post": {
        "summary": "Geocode addresses",
        "description": "Find multiple (batch) addresses, place-names, and businesses and then display that information on a map. This data can be added to an existing dataset or you can create a new one. This data can be used to create new maps in all ArcGIS for Microsoft 365 products.",
        "operationId": "GeocodeAddresses",
        "x-ms-visibility": "important",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "data",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "addresses"
              ],
              "properties": {
                "addresses": {
                  "type": "string",
                  "description": "Array of addresses with well formed fields",
                  "x-ms-summary": "Addresses",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "spatialReference": {
                  "type": "object",
                  "properties": {
                    "wkid": {
                      "type": "number",
                      "description": "Well-known ID",
                      "x-ms-summary": "Spatial reference ID"
                    }
                  }
                },
                "locations": {
                  "type": "array",
                  "description": "Array of geocoded locations",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "x-ms-summary": "Address",
                        "description": "Full address"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "ResultID": {
                            "type": "number",
                            "x-ms-summary": "Address ID",
                            "description": "This value contains the ID of your geocoding request. Use this value for specifying the item to act on in other actions such as matching Ids in a list."
                          }
                        }
                      },
                      "location": {
                        "type": "object",
                        "description": "Geometry as x and y json",
                        "properties": {
                          "x": {
                            "type": "number",
                            "x-ms-summary": "Longitude (X)"
                          },
                          "y": {
                            "type": "number",
                            "x-ms-summary": "Latitude (Y)"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#geocode-addresses"
        }
      }
    },
    "/{connectionId}/v1/routing": {
      "post": {
        "summary": "Point to point routing",
        "description": "Create point-to-point routes. Points in a route can visited in the order you specify or in the order that minimizes overall travel time or distance. Routes represent the quickest or shortest path along roads to visit stops or point locations.",
        "operationId": "GetRoute",
        "x-ms-visibility": "important",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "routing",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "stops"
              ],
              "properties": {
                "stops": {
                  "type": "string",
                  "description": "Stops as Latitude (Y) and Longitude (X), features, or feature service",
                  "x-ms-summary": "Routing stops",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          {
            "name": "travelModeName",
            "in": "query",
            "description": "Choose the mode of transportation for the analysis",
            "x-ms-summary": "Travel mode",
            "type": "string",
            "x-ms-visibility": "important",
            "required": false,
            "enum": [
              "Automobiles",
              "Truck",
              "Walk"
            ]
          },
          {
            "name": "findBestSequence",
            "in": "query",
            "description": "Specify whether the service should reorder stops to find the optimized route",
            "x-ms-summary": "Find best route",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "name": "preserveFirstStop",
            "in": "query",
            "description": "Indicate whether the service should keep the first stop fixed when reordering the stops",
            "x-ms-summary": "Preserve first stop",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "name": "returnDirections",
            "in": "query",
            "description": "Specify whether the service should generate driving directions for each route",
            "x-ms-summary": "Return directions",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false,
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Directions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "x-ms-summary": "Direction text"
                      }
                    }
                  }
                },
                "Name": {
                  "type": "string",
                  "x-ms-description": "Route name",
                  "description": "Name of the route"
                },
                "Kilometers": {
                  "type": "number",
                  "x-ms-summary": "Distance in kilometers",
                  "description": "Route distance in kilometers"
                },
                "Miles": {
                  "type": "number",
                  "x-ms-summary": "Distance in miles",
                  "description": "Route distance in miles"
                },
                "TravelTime": {
                  "type": "number",
                  "x-ms-summary": "Travel time",
                  "description": "Estimated travel time in minutes"
                },
                "Geometry": {
                  "type": "object",
                  "x-ms-summary": "Route geometry",
                  "description": "Geometry object of the route"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/arcgispaas/#point-to-point-routing"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {
    "locationType": {
      "name": "locationType",
      "in": "query",
      "description": "Type of location information in the columns",
      "x-ms-summary": "Location type",
      "type": "string",
      "enum": [
        "Automatic (find in file)",
        "Address",
        "Coordinates"
      ],
      "x-ms-visibility": "advanced"
    },
    "country": {
      "x-ms-summary": "Country",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentCountries",
        "value-path": "id",
        "value-title": "name"
      },
      "required": true,
      "in": "query",
      "name": "country",
      "description": "Select a country to see available data collections",
      "x-ms-visibility": "important",
      "type": "string",
      "default": "World"
    },
    "sourceCountry": {
      "x-ms-summary": "Country",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentCountries",
        "value-path": "name",
        "value-title": "name"
      },
      "required": false,
      "in": "query",
      "name": "sourceCountry",
      "description": "Select a country",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "parameter": {
      "x-ms-summary": "Variable",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentParameters",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "country": {
            "parameter": "country"
          },
          "datacollection": {
            "parameter": "datacollection"
          }
        }
      },
      "required": true,
      "in": "query",
      "name": "parameter",
      "description": "Select a variable from the collection",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "srs": {
      "x-ms-summary": "Spatial reference system",
      "x-ms-dynamic-values": {
        "operationId": "GetSRS",
        "value-path": "id",
        "value-title": "name"
      },
      "required": false,
      "in": "query",
      "name": "srs",
      "description": "Select spatial reference system",
      "x-ms-visibility": "advanced",
      "type": "string"
    },
    "areatype": {
      "x-ms-summary": "Type of buffer around location",
      "required": false,
      "in": "query",
      "name": "areatype",
      "description": "Type of buffer around location",
      "x-ms-visibility": "advanced",
      "type": "string",
      "enum": [
        "Default",
        "Ring Buffer",
        "Network Service Area"
      ]
    },
    "buffertype": {
      "x-ms-summary": "Buffer type",
      "required": true,
      "in": "query",
      "name": "buffertype",
      "description": "Type of buffer around the location",
      "x-ms-visibility": "important",
      "type": "string",
      "default": "default",
      "x-ms-enum-values": [
        {
          "displayName": "Default",
          "value": "default"
        },
        {
          "displayName": "Ring Buffer",
          "value": "ringbuffer"
        },
        {
          "displayName": "Network Service Area",
          "value": "networkservicearea"
        }
      ],
      "enum": [
        "default",
        "ringbuffer",
        "networkservicearea"
      ]
    },
    "datacollection": {
      "x-ms-summary": "Data collection",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentDataCollections",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "country": {
            "parameter": "country"
          }
        }
      },
      "required": true,
      "in": "query",
      "name": "datacollection",
      "description": "Select data collection",
      "x-ms-visibility": "important",
      "type": "string"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.esri.com/powerbi/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.esri.com/en-us/privacy/privacy-statements/privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations; Business Intelligence"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/arcgispaas"
  }
}
