{
  "swagger": "2.0",
  "info": {
    "title": "UKG Pro WFM Employee",
    "description": "Employee Self Service Actions.",
    "version": "1.0",
    "contact": {
      "name": "KGS",
      "url": "https://www.ukg.com/support",
      "email": "support@ukg.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ukg.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ukg.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/ukgprowfmemployee",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/v1/scheduling/employee_schedule": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/responses/getEmployeeSchedule"
          },
          "404": {
            "description": "Schedule for employee not found.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "Schedule for employee not found."
              }
            }
          },
          "500": {
            "$ref": "#/responses/internalServerError"
          }
        },
        "summary": "Retrieve Employee Schedule",
        "description": "Returns an employee's schedule according to the specified parameter.",
        "operationId": "GetSchedule",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "SHIFTS",
            "description": "Set of conditions used to find the schedule request.",
            "x-ms-summary": "select",
            "enum": [
              "SHIFTS",
              "PAYCODEEDITS",
              "LEAVEEDITS",
              "AVAILABILITIES",
              "HOLIDAYS",
              "DAYLOCKS",
              "EMPLOYEES",
              "OPENSHIFTSUMMARY",
              "OPENSHIFTS",
              "SCHEDULEDAYS",
              "SCHEDULETAGS",
              "EXPANDEDJOBS",
              "ONCALLFLAG"
            ]
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Inclusive start date of the schedule date range.",
            "x-ms-summary": "start_date"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Exclusive end date for the schedule date range.",
            "x-ms-summary": "end_date"
          },
          {
            "name": "symbolic_period_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Symbolic period ID associated with the schedule.",
            "x-ms-summary": "symbolic_period_id"
          },
          {
            "name": "symbolic_period_name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Symbolic period name associated with the schedule.",
            "x-ms-summary": "symbolic_period_name",
            "enum": [
              "Today",
              "Tomorrow",
              "Current_SchedPeriod",
              "Next_SchedPeriod",
              "Current_Week",
              "Current_Payperiod",
              "Next_Payperiod",
              "Yesterday_Plus_Six_Days"
            ]
          },
          {
            "name": "employee_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "An ID that uniquely identifies an employee.This is not personnumber.",
            "x-ms-summary": "employee_id"
          },
          {
            "name": "person_number",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "A number that uniquely identifies a person.It is not employeeID.",
            "x-ms-summary": "person_number"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Values by which the schedule request results can be ordered.",
            "x-ms-summary": "order_by",
            "enum": [
              "EMPLOYEES",
              "STARTDATE",
              "ENDDATE",
              "LOCATIONS"
            ]
          },
          {
            "name": "exclude_breaks",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Boolean indicator of whether to exclude breaks in emp schedule.",
            "x-ms-summary": "exclude_breaks"
          },
          {
            "name": "scratchpad-id",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The ID of the current business interaction.",
            "x-ms-summary": "scratchpad-id"
          },
          {
            "$ref": "#/parameters/content-type"
          },
          {
            "$ref": "#/parameters/access-token"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprowfmemployee/#retrieve-employee-schedule"
        }
      }
    },
    "/{connectionId}/api/v1/scheduling/employee_timeoff": {
      "post": {
        "responses": {
          "200": {
            "$ref": "#/responses/employeeTimeOff"
          },
          "400": {
            "$ref": "#/responses/badRequest"
          },
          "500": {
            "$ref": "#/responses/internalServerError"
          }
        },
        "summary": "Create Time Off Request",
        "description": "Submit a time off request according to the specified parameters.",
        "operationId": "RequestTimeOff",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/content-type"
          },
          {
            "$ref": "#/parameters/access-token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "periods": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "endDate": {
                        "type": "string",
                        "description": "The end date of the time-off period.(YYYY-MM-DD)",
                        "title": "End Date",
                        "format": "date"
                      },
                      "payCode": {
                        "type": "object",
                        "properties": {
                          "qualifier": {
                            "type": "string",
                            "description": "The qualifier of PayCode",
                            "title": "PayCode"
                          }
                        },
                        "description": "payCode",
                        "required": [
                          "qualifier"
                        ]
                      },
                      "startDate": {
                        "type": "string",
                        "description": "The start date of the time-off period.(YYYY-MM-DD)",
                        "title": "Start Date",
                        "format": "date"
                      },
                      "symbolicAmount": {
                        "type": "object",
                        "properties": {
                          "qualifier": {
                            "type": "string",
                            "description": "The qualifier of Symbolic Amount.",
                            "title": "Symbolic Amount"
                          }
                        },
                        "description": "symbolicAmount",
                        "required": [
                          "qualifier"
                        ]
                      }
                    },
                    "required": [
                      "endDate",
                      "payCode",
                      "startDate",
                      "symbolicAmount"
                    ]
                  },
                  "description": "Requested time-off periods of the time-off request."
                },
                "requestSubType": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of a request subtype.",
                      "title": "Request Sub Type"
                    }
                  },
                  "description": "Model describing the details of a request sub type.",
                  "required": [
                    "name"
                  ]
                }
              },
              "required": [
                "periods",
                "requestSubType"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprowfmemployee/#create-time-off-request"
        }
      }
    },
    "/{connectionId}/api/v1/scheduling/employee_timeoff/accruals": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/responses/getAccrualBalances"
          },
          "404": {
            "description": "Accrual balances not found.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "Accrual balances not found."
              }
            }
          },
          "500": {
            "$ref": "#/responses/internalServerError"
          }
        },
        "summary": "Retrieve Accrual Balance",
        "description": "This operation returns an accrual balance.",
        "operationId": "GetAccrualBalance",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/content-type"
          },
          {
            "$ref": "#/parameters/access-token"
          },
          {
            "name": "subtype_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The ID of the request subtype associated with an accrual.",
            "x-ms-summary": "subtype_id"
          },
          {
            "name": "subtype_name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The name of the request subtype associated with an accrual.",
            "x-ms-summary": "subtype_name"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The date associated with an accrual in format(YYYY-MM-DD).",
            "x-ms-summary": "date"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprowfmemployee/#retrieve-accrual-balance"
        }
      }
    },
    "/{connectionId}/api/v1/scheduling/employee_timeoff/symbolic_values": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/responses/getSymbolicValues"
          },
          "404": {
            "description": "Symbolic value not found..",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "Symbolic value not found."
              }
            }
          },
          "500": {
            "$ref": "#/responses/internalServerError"
          }
        },
        "summary": "Retrieve Symbolic Value",
        "description": "This operation returns a symbolic value.",
        "operationId": "GetSymbolicValue",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/content-type"
          },
          {
            "$ref": "#/parameters/access-token"
          },
          {
            "name": "subtype_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The ID of the request subtype associated with a symbolic value.",
            "x-ms-summary": "subtype_id"
          },
          {
            "name": "subtype_name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The name of the request subtype associated with a symbolic value.",
            "x-ms-summary": "subtype_name"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprowfmemployee/#retrieve-symbolic-value"
        }
      }
    },
    "/{connectionId}/api/v1/scheduling/employee_timeoff/request_subtypes": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/responses/getRequestSubtypes"
          },
          "404": {
            "description": "Request subtype not found.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "message": "Request subtype not found."
              }
            }
          },
          "500": {
            "$ref": "#/responses/internalServerError"
          }
        },
        "summary": "Retrieve Request Subtype",
        "description": "This operation returns a request subtype.",
        "operationId": "GetRequestSubtype",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/content-type"
          },
          {
            "$ref": "#/parameters/access-token"
          },
          {
            "name": "Perform-Translation",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "Perform-Translation",
            "description": "Boolean indicator of whether to return localized properties."
          },
          {
            "name": "position_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The ID of a position associated with a request subtype.",
            "x-ms-summary": "position_id"
          },
          {
            "name": "position_name",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The name of a position associated with a request subtype.",
            "x-ms-summary": "position_name"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/ukgprowfmemployee/#retrieve-request-subtype"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {
    "content-type": {
      "name": "Content-Type",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "application/json",
      "x-ms-visibility": "internal",
      "x-ms-summary": "Content-Type"
    },
    "access-token": {
      "name": "accessToken",
      "in": "header",
      "required": true,
      "type": "string",
      "description": "Token to access API.",
      "x-ms-summary": "Access Token"
    }
  },
  "responses": {
    "getEmployeeSchedule": {
      "description": "default",
      "schema": {
        "type": "object",
        "properties": {
          "shifts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "startDateTime"
                },
                "endDateTime": {
                  "type": "string",
                  "description": "endDateTime"
                },
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version"
                },
                "label": {
                  "type": "string",
                  "description": "label"
                },
                "employee": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "qualifier": {
                      "type": "string",
                      "description": "qualifier"
                    }
                  },
                  "description": "employee"
                },
                "locked": {
                  "type": "boolean",
                  "description": "locked"
                },
                "posted": {
                  "type": "boolean",
                  "description": "posted"
                },
                "generated": {
                  "type": "boolean",
                  "description": "generated"
                },
                "deleted": {
                  "type": "boolean",
                  "description": "deleted"
                },
                "selfServiced": {
                  "type": "boolean",
                  "description": "selfServiced"
                },
                "commentNotes": {
                  "type": "array",
                  "items": {},
                  "description": "commentNotes"
                },
                "segments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "segmentTypeRef": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "qualifier"
                          }
                        },
                        "description": "segmentTypeRef"
                      },
                      "startDateTime": {
                        "type": "string",
                        "description": "startDateTime"
                      },
                      "endDateTime": {
                        "type": "string",
                        "description": "endDateTime"
                      },
                      "transferLaborCategories": {
                        "type": "boolean",
                        "description": "transferLaborCategories"
                      },
                      "orgJobRef": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "qualifier"
                          }
                        },
                        "description": "Entity that contains org job information."
                      },
                      "userEnteredOrgJob": {
                        "type": "boolean",
                        "description": "userEnteredOrgJob"
                      },
                      "transferOrgJob": {
                        "type": "boolean",
                        "description": "transferOrgJob"
                      },
                      "primaryOrgJobRef": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "qualifier"
                          }
                        },
                        "description": "primaryOrgJobRef"
                      },
                      "userEnteredCostCenter": {
                        "type": "boolean",
                        "description": "userEnteredCostCenter"
                      },
                      "transferCostCenter": {
                        "type": "boolean",
                        "description": "transferCostCenter"
                      },
                      "workruleRef": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "qualifier"
                          }
                        },
                        "description": "workruleRef"
                      },
                      "userEnteredWorkrule": {
                        "type": "boolean",
                        "description": "userEnteredWorkrule"
                      },
                      "transferWorkrule": {
                        "type": "boolean",
                        "description": "transferWorkrule"
                      },
                      "primaryWorkruleRef": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "qualifier"
                          }
                        },
                        "description": "primaryWorkruleRef"
                      },
                      "skillCertProfileRefs": {
                        "type": "array",
                        "items": {},
                        "description": "skillCertProfileRefs"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "segments"
                },
                "postedNotificationPending": {
                  "type": "boolean",
                  "description": "postedNotificationPending"
                },
                "relations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "targetRef": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "qualifier"
                          }
                        },
                        "description": "targetRef"
                      },
                      "relationType": {
                        "type": "string",
                        "description": "relationType"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "active"
                      },
                      "from": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "qualifier": {
                            "type": "string",
                            "description": "qualifier"
                          }
                        },
                        "description": "from"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "relations"
                },
                "open": {
                  "type": "boolean",
                  "description": "open"
                }
              }
            },
            "description": "shifts"
          },
          "payCodeEdits": {
            "type": "array",
            "items": {},
            "description": "payCodeEdits"
          },
          "leaveEdits": {
            "type": "array",
            "items": {},
            "description": "leaveEdits"
          },
          "holidays": {
            "type": "array",
            "items": {},
            "description": "holidays"
          },
          "scheduleTags": {
            "type": "array",
            "items": {},
            "description": "scheduleTags"
          },
          "scheduleDayList": {
            "type": "array",
            "items": {},
            "description": "scheduleDayList"
          },
          "openShifts": {
            "type": "array",
            "items": {},
            "description": "openShifts"
          },
          "availabilities": {
            "type": "array",
            "items": {},
            "description": "availabilities"
          }
        }
      }
    },
    "employeeTimeOff": {
      "description": "Successful creation of an Employee Time Off Request.",
      "schema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "id"
          },
          "creator": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32",
                "description": "id"
              },
              "qualifier": {
                "type": "string",
                "description": "qualifier"
              }
            },
            "description": "creator"
          },
          "employee": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32",
                "description": "id"
              },
              "qualifier": {
                "type": "string",
                "description": "qualifier"
              }
            },
            "description": "employee"
          },
          "createDateTime": {
            "type": "string",
            "description": "The date time when the time off request was created."
          },
          "requestSubType": {
            "type": "object",
            "properties": {
              "requestType": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID of a request type."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of a request type."
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of a request type."
                  }
                },
                "description": "Model describing the details of a request type."
              },
              "symbol": {
                "type": "string",
                "description": "The symbol for a request subtype."
              },
              "id": {
                "type": "integer",
                "format": "int32",
                "description": "The ID of a request subtype."
              },
              "name": {
                "type": "string",
                "description": "The name of a request subtype."
              },
              "description": {
                "type": "string",
                "description": "The description of a request subtype."
              }
            },
            "description": "Model describing the details of a request sub type."
          },
          "currentStatus": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer",
                "format": "int32",
                "description": "The ID of a request status."
              },
              "symbolicId": {
                "type": "string",
                "description": "The symbolic ID of a request status."
              },
              "name": {
                "type": "string",
                "description": "The localized name of a request status."
              }
            },
            "description": "Model describing the details of a request status."
          },
          "periods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "startDate": {
                  "type": "string",
                  "description": "Start time of the time-off period in format."
                },
                "endDate": {
                  "type": "string",
                  "description": "The end date of the time-off period in format."
                },
                "payCode": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "qualifier": {
                      "type": "string",
                      "description": "qualifier"
                    }
                  },
                  "description": "payCode"
                },
                "symbolicAmount": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "qualifier": {
                      "type": "string",
                      "description": "qualifier"
                    }
                  },
                  "description": "symbolicAmount"
                }
              }
            },
            "description": "The periods contained in this time off request."
          },
          "approvalPeriods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID for the time-off period."
                },
                "startDate": {
                  "type": "string",
                  "description": "The start date of the timeoff period in (YYYY-MM-DD)."
                },
                "endDate": {
                  "type": "string",
                  "description": "The end date of the timeoff period in (YYYY-MM-DD)."
                },
                "payCode": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "qualifier": {
                      "type": "string",
                      "description": "qualifier"
                    }
                  },
                  "description": "payCode"
                },
                "symbolicAmount": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "qualifier": {
                      "type": "string",
                      "description": "qualifier"
                    }
                  },
                  "description": "symbolicAmount"
                }
              }
            },
            "description": "The approval periods contained in this time off request."
          },
          "nextValidStatuses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID of a request status."
                },
                "symbolicId": {
                  "type": "string",
                  "description": "The symbolic ID of a request status."
                },
                "name": {
                  "type": "string",
                  "description": "The localized name of a request status."
                }
              }
            },
            "description": "Statuses which the time off request can transition to."
          },
          "requestStatusChanges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "changeDateTime": {
                  "type": "string",
                  "description": "changeDateTime"
                },
                "fromStatus": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The ID of a request status."
                    },
                    "symbolicId": {
                      "type": "string",
                      "description": "The symbolic ID of a request status."
                    },
                    "name": {
                      "type": "string",
                      "description": "The localized name of a request status."
                    }
                  },
                  "description": "Model describing the details of a request status."
                },
                "toStatus": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The ID of a request status."
                    },
                    "symbolicId": {
                      "type": "string",
                      "description": "The symbolic ID of a request status."
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "Model describing the details of a request status."
                },
                "personName": {
                  "type": "string",
                  "description": "personName"
                }
              }
            },
            "description": "Historical status changes associated to the time off request."
          },
          "approvalInfo": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "integer",
                "format": "int32",
                "description": "requestId"
              },
              "pendingSteps": {
                "type": "integer",
                "format": "int32",
                "description": "The number of remaining approval steps for the request."
              }
            },
            "description": "Model containing the approval information of a request."
          },
          "historical": {
            "type": "boolean",
            "description": "historical"
          }
        }
      }
    },
    "getAccrualBalances": {
      "description": "Successful retrieval of an accrual balance.",
      "schema": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "payCode": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "qualifier": {
                  "type": "string",
                  "description": "qualifier"
                }
              },
              "description": "payCode"
            },
            "balances": {
              "type": "array",
              "items": {},
              "description": "A list of accrual balances per paycode."
            }
          }
        }
      }
    },
    "getSymbolicValues": {
      "description": "Successful retrieval of a symbolic value.",
      "schema": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "payCode": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "qualifier": {
                  "type": "string",
                  "description": "qualifier"
                }
              },
              "description": "payCode"
            },
            "allowedAmounts": {
              "type": "object",
              "properties": {
                "ids": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "description": "ids"
                },
                "qualifiers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "qualifiers"
                }
              },
              "description": "allowedAmounts"
            },
            "allowedAmountsDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "symbolicId": {
                    "type": "string",
                    "description": "symbolicId"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              },
              "description": "allowedAmountsDetails"
            }
          }
        }
      }
    },
    "getRequestSubtypes": {
      "description": "default",
      "schema": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "requestType": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              },
              "description": "requestType"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id"
            },
            "name": {
              "type": "string",
              "description": "The name of a Time Off request subtype."
            },
            "description": {
              "type": "string",
              "description": "The description of a Time Off request subtype."
            },
            "priority": {
              "type": "integer",
              "format": "int32",
              "description": "The priority of a Time Off request subtype."
            },
            "displayAccruals": {
              "type": "boolean",
              "description": "Boolean indicator to display Time Off accruals."
            },
            "displayButtonForAdditionalDates": {
              "type": "boolean",
              "description": "Boolean indicator for additional Time Off dates button."
            },
            "displayRequestSummary": {
              "type": "boolean",
              "description": "Boolean indicator for request summary."
            },
            "durationBeforePayCode": {
              "type": "boolean",
              "description": "The duration before paycode for a Time Off request."
            },
            "startTimePlusDuration": {
              "type": "boolean",
              "description": "The start time plus duration of a Time Off request."
            },
            "customDurationLabel": {
              "type": "string",
              "description": "The custom duration label of a Time Off request."
            },
            "customPayCodeLabel": {
              "type": "string",
              "description": "The custom paycode label of a Time Off request."
            },
            "defaultPayCode": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "qualifier": {
                  "type": "string",
                  "description": "qualifier"
                }
              },
              "description": "defaultPayCode"
            },
            "displayAdditionalPayCodes": {
              "type": "boolean",
              "description": "Boolean indicator for additional paycodes."
            },
            "defaultSymbolicSource": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "qualifier": {
                  "type": "string",
                  "description": "qualifier"
                }
              },
              "description": "defaultSymbolicSource"
            }
          }
        }
      }
    },
    "badRequest": {
      "description": "Bad Request.",
      "schema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "example": {
          "message": "Bad Request."
        }
      }
    },
    "internalServerError": {
      "description": "Internal server error.",
      "schema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "example": {
          "message": "Internal Server Error."
        }
      }
    }
  },
  "tags": [],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "vanityURL"
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/ukgprowfmemployee"
  }
}
