{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Pitney Bowes Data Validation",
    "description": "Pitney Bowes Data Validation Services helps eliminate errors in data and improve customer experience. It makes communication easier, faster and effortless by enriching customer details, keeping it up-to-date and maintaining its accuracy and consistency. To learn more, visit the documentation page: https://aka.ms/kvz9oh",
    "contact": {
      "name": "Pitney Bowes Support",
      "email": "software.support@pb.com"
    },
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/identify/identifyaddress/v1/rest/validatemailingaddress/results.json": {
      "post": {
        "tags": [
          "Identify API ValidateMailingAddress Service"
        ],
        "summary": "Validate Mailing Address",
        "description": "ValidateMailingAddress analyses and compares the input addresses against the known address databases around the world to output a standardized detail. Learn more in our documentation: https://aka.ms/wzsawb",
        "operationId": "ValidateMailingAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "InputAddress",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "options": {
                  "type": "object",
                  "properties": {
                    "OutputCasing": {
                      "description": "Specify the casing of the output data.",
                      "default": "Mixed case",
                      "enum": [
                        "Mixed case",
                        "Upper case"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Casing"
                    }
                  },
                  "x-ms-visibility": "advanced"
                },
                "Input": {
                  "type": "object",
                  "properties": {
                    "Row": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressLine1": {
                            "description": "The first address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 1"
                          },
                          "AddressLine2": {
                            "description": "The second address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 2"
                          },
                          "FirmName": {
                            "description": "The company or firm name.",
                            "type": "string",
                            "x-ms-summary": "Firm Name"
                          },
                          "City": {
                            "description": "The city name.",
                            "type": "string",
                            "x-ms-summary": "City"
                          },
                          "StateProvince": {
                            "description": "The state or province.",
                            "type": "string",
                            "x-ms-summary": "State Province"
                          },
                          "Country": {
                            "description": "The country code or name.",
                            "type": "string",
                            "x-ms-summary": "Country"
                          },
                          "PostalCode": {
                            "description": "The postal code for the address.",
                            "type": "string",
                            "x-ms-summary": "Postal Code"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "AddressLine1": {
                    "description": "The first line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 1"
                  },
                  "AddressLine2": {
                    "description": "The second line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 2"
                  },
                  "FirmName": {
                    "description": "The validated firm or company name.",
                    "type": "string",
                    "x-ms-summary": "Firm Name"
                  },
                  "City": {
                    "description": "The validated city name.",
                    "type": "string",
                    "x-ms-summary": "City"
                  },
                  "PostalCode": {
                    "description": "The validated ZIP Code™ or postal code.",
                    "type": "string",
                    "x-ms-summary": "Postal Code"
                  },
                  "Country": {
                    "description": "The country name in English.",
                    "type": "string",
                    "x-ms-summary": "Country"
                  },
                  "StateProvince": {
                    "description": "The validated state or province abbreviation.",
                    "type": "string",
                    "x-ms-summary": "State Province"
                  },
                  "BlockAddress": {
                    "description": "The formatted address, as it would appear on a physical mail piece.",
                    "type": "string",
                    "x-ms-summary": "Block Address"
                  },
                  "AdditionalInputData": {
                    "description": "Input data not used by the address validation process.",
                    "type": "string",
                    "x-ms-summary": "Additional Input Data"
                  },
                  "PostalCodeBase": {
                    "description": "The 5-digit ZIP Code™.",
                    "type": "string",
                    "x-ms-summary": "Postal Code Base"
                  },
                  "PostalCodeAddOn": {
                    "description": "The 4-digit add-on part of the ZIP Code™.",
                    "type": "string",
                    "x-ms-summary": "Postal Code AddOn"
                  },
                  "Status": {
                    "description": "Reports the success or failure of the match attempt.",
                    "type": "string",
                    "x-ms-summary": "Status",
                    "x-ms-visibility": "advanced"
                  },
                  "StatusCode": {
                    "description": "Reason for failure, if there is one.",
                    "type": "string",
                    "x-ms-summary": "Status Code",
                    "x-ms-visibility": "advanced"
                  },
                  "StatusDescription": {
                    "description": "Description of the problem, if there is one.",
                    "type": "string",
                    "x-ms-summary": "Status Description",
                    "x-ms-visibility": "advanced"
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pitneybowes/#validate-mailing-address-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/identify/identifyaddress/v1/rest/validatemailingaddresspro/results.json": {
      "post": {
        "tags": [
          "Identify API Validate Mailing Address Pro Service"
        ],
        "summary": "Validate Mailing Address Pro",
        "description": "ValidateMailingAddressPro builds upon the ValidateMailingAddress service by using additional address databases so it can provide enhanced detail. Learn more in our documentation: https://aka.ms/pbv0v9",
        "operationId": "ValidateMailingAddressPro",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "InputAddress",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "options": {
                  "type": "object",
                  "properties": {
                    "OutputAddressBlocks": {
                      "description": "Specifies whether to return a formatted version of the address as it would be printed on a physical mail piece.",
                      "default": "Yes",
                      "enum": [
                        "No",
                        "Yes"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Address Blocks"
                    },
                    "KeepMultimatch": {
                      "description": "Specifies whether to return multiple address for those input addresses that have more than one possible match.",
                      "default": "No",
                      "enum": [
                        "No",
                        "Yes"
                      ],
                      "type": "string",
                      "x-ms-summary": "Keep Multimatch"
                    },
                    "OutputCountryFormat": {
                      "description": "Specifies the format to use for the country name returned in the Country output field.",
                      "default": "English",
                      "enum": [
                        "English",
                        "ISO",
                        "Universal Postal Union"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Country Format"
                    },
                    "OutputScript": {
                      "description": "Specifies the alphabet or script in which the output should be returned.",
                      "default": "Input Script",
                      "enum": [
                        "Input Script",
                        "Native Script",
                        "English"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Script"
                    },
                    "OutputCasing": {
                      "description": "Specify the casing of the output data.",
                      "default": "Mixed case",
                      "enum": [
                        "Mixed case",
                        "Upper case"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Casing"
                    },
                    "MaximumResults": {
                      "description": "A number between 1 and 10 that indicates the maximum number of addresses to return.",
                      "default": "10",
                      "type": "string",
                      "x-ms-summary": "Maximum Results"
                    }
                  },
                  "x-ms-visibility": "advanced"
                },
                "Input": {
                  "type": "object",
                  "properties": {
                    "Row": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressLine1": {
                            "description": "The first address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 1"
                          },
                          "AddressLine2": {
                            "description": "The second address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 2"
                          },
                          "FirmName": {
                            "description": "The company or firm name.",
                            "type": "string",
                            "x-ms-summary": "Firm Name"
                          },
                          "City": {
                            "description": "The city name.",
                            "type": "string",
                            "x-ms-summary": "City"
                          },
                          "StateProvince": {
                            "description": "The state or province.",
                            "type": "string",
                            "x-ms-summary": "State Province"
                          },
                          "Country": {
                            "description": "The country code or name.",
                            "type": "string",
                            "x-ms-summary": "Country"
                          },
                          "PostalCode": {
                            "description": "The postal code for the address.",
                            "type": "string",
                            "x-ms-summary": "Postal Code"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "AddressLine1": {
                    "description": "The first line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 1"
                  },
                  "AddressLine2": {
                    "description": "The second line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 2"
                  },
                  "FirmName": {
                    "description": "The validated firm or company name.",
                    "type": "string",
                    "x-ms-summary": "Firm Name"
                  },
                  "ChangeScore": {
                    "description": "A value of 0 and 100 that reflects how much the address has changed to make it valid.",
                    "type": "string",
                    "x-ms-summary": "Change Score",
                    "x-ms-visibility": "advanced"
                  },
                  "Locality": {
                    "description": "Generally a locality is a village in rural areas or it may be a suburb in urban areas.",
                    "type": "string",
                    "x-ms-summary": "Locality",
                    "x-ms-visibility": "advanced"
                  },
                  "Suburb": {
                    "description": "The suburb name.",
                    "type": "string",
                    "x-ms-summary": "Suburb",
                    "x-ms-visibility": "advanced"
                  },
                  "AddressType": {
                    "description": "A single letter code that indicates the type of address.",
                    "type": "string",
                    "x-ms-summary": "Address Type",
                    "x-ms-visibility": "advanced"
                  },
                  "Deliverability": {
                    "description": "An estimate of confidence that an item mailed or shipped to this address would be successfully delivered.",
                    "type": "string",
                    "x-ms-summary": "Deliverability"
                  },
                  "AddressQuality": {
                    "description": "A two character code indicating overall quality of the resulting address.",
                    "type": "string",
                    "x-ms-summary": "Address Quality"
                  },
                  "CouldNotValidate": {
                    "description": "Mentions the address component that could not be validated, in case no match is found.",
                    "type": "string",
                    "x-ms-summary": "Could Not Validate",
                    "x-ms-visibility": "advanced"
                  },
                  "City": {
                    "description": "The validated city name.",
                    "type": "string",
                    "x-ms-summary": "City"
                  },
                  "PostalCode": {
                    "description": "The validated ZIP Code™ or postal code.",
                    "type": "string",
                    "x-ms-summary": "Postal Code"
                  },
                  "Country": {
                    "description": "The country in the format determined by what you selected.",
                    "type": "string",
                    "x-ms-summary": "Country"
                  },
                  "StateProvince": {
                    "description": "The validated state or province abbreviation.",
                    "type": "string",
                    "x-ms-summary": "State Province"
                  },
                  "BlockAddress": {
                    "description": "The formatted address, as it would appear on a physical mail piece.",
                    "type": "string",
                    "x-ms-summary": "Block Address"
                  },
                  "AdditionalInputData": {
                    "description": "Input data that could not be matched to a particular address component.",
                    "type": "string",
                    "x-ms-summary": "Additional Input Data"
                  },
                  "PostalCodeBase": {
                    "description": "The 5-digit ZIP Code™.",
                    "type": "string",
                    "x-ms-summary": "Postal Code Base"
                  },
                  "PostalCodeAddOn": {
                    "description": "The 4-digit add-on part of the ZIP Code™.",
                    "type": "string",
                    "x-ms-summary": "Postal Code AddOn"
                  },
                  "Status": {
                    "description": "Reports the success or failure of the match attempt.",
                    "type": "string",
                    "x-ms-summary": "Status",
                    "x-ms-visibility": "advanced"
                  },
                  "StatusCode": {
                    "description": "Reason for failure, if there is one.",
                    "type": "string",
                    "x-ms-summary": "Status Code",
                    "x-ms-visibility": "advanced"
                  },
                  "StatusDescription": {
                    "description": "Description of the problem, if there is one.",
                    "type": "string",
                    "x-ms-summary": "Status Description",
                    "x-ms-visibility": "advanced"
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pitneybowes/#validate-mailing-address-pro-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/identify/identifyaddress/v1/rest/validatemailingaddresspremium/results.json": {
      "post": {
        "tags": [
          "Identify API Validate Mailing Address Premium Service"
        ],
        "summary": "Validate Mailing Address Premium",
        "description": "ValidateMailing AddressPremium expands on the ValidateMailingAddressPro service by adding premium address data sources to get the best address validation result possible. Learn more in our documentation: https://aka.ms/s9jl1k",
        "operationId": "ValidateMailingAddressPremium",
        "x-ms-visibility": "advanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "InputAddress",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "options": {
                  "type": "object",
                  "properties": {
                    "OutputAddressBlocks": {
                      "description": "Specifies whether to return a formatted version of the address as it would be printed on a physical mail piece.",
                      "default": "Yes",
                      "enum": [
                        "No",
                        "Yes"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Address Blocks"
                    },
                    "KeepMultimatch": {
                      "description": "Specifies whether to return multiple address for those input addresses that have more than one possible match.",
                      "default": "No",
                      "enum": [
                        "No",
                        "Yes"
                      ],
                      "type": "string",
                      "x-ms-summary": "Keep Multimatch"
                    },
                    "OutputCountryFormat": {
                      "description": "Specifies the format to use for the country name returned in the Country output field.",
                      "default": "English",
                      "enum": [
                        "English",
                        "ISO",
                        "Universal Postal Union"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Country Format"
                    },
                    "OutputRecordType": {
                      "description": "Specifies the type of output record you get.",
                      "default": "A",
                      "type": "string",
                      "x-ms-summary": "Output Record Type"
                    },
                    "OutputFieldLevelReturnCodes": {
                      "description": "Specifies whether to include field-level result indicators.",
                      "default": "No",
                      "enum": [
                        "No",
                        "Yes"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Field Level Return Codes"
                    },
                    "OutputScript": {
                      "description": "Specifies the alphabet or script in which the output should be returned.",
                      "default": "Input Script",
                      "enum": [
                        "Input Script",
                        "Native Script",
                        "English"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Script"
                    },
                    "OutputCasing": {
                      "description": "Specify the casing of the output data.",
                      "default": "Mixed case",
                      "enum": [
                        "Mixed case",
                        "Upper case"
                      ],
                      "type": "string",
                      "x-ms-summary": "Output Casing"
                    },
                    "MaximumResults": {
                      "description": "A number between 1 and 10 that indicates the maximum number of addresses to return.",
                      "default": "10",
                      "type": "string",
                      "x-ms-summary": "Maximum Results"
                    }
                  },
                  "x-ms-visibility": "advanced"
                },
                "Input": {
                  "type": "object",
                  "properties": {
                    "Row": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AddressLine1": {
                            "description": "The first address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 1"
                          },
                          "AddressLine2": {
                            "description": "The second address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 2"
                          },
                          "AddressLine3": {
                            "description": "The third address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 3"
                          },
                          "AddressLine4": {
                            "description": "The fourth address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 4"
                          },
                          "AddressLine5": {
                            "description": "The fifth address line.",
                            "type": "string",
                            "x-ms-summary": "Address Line 5"
                          },
                          "FirmName": {
                            "description": "The company or firm name.",
                            "type": "string",
                            "x-ms-summary": "Firm Name"
                          },
                          "City": {
                            "description": "The city name.",
                            "type": "string",
                            "x-ms-summary": "City"
                          },
                          "StateProvince": {
                            "description": "The state or province.",
                            "type": "string",
                            "x-ms-summary": "State Province"
                          },
                          "Country": {
                            "description": "The country code or name.",
                            "type": "string",
                            "x-ms-summary": "Country"
                          },
                          "PostalCode": {
                            "description": "The postal code for the address.",
                            "type": "string",
                            "x-ms-summary": "Postal Code"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Status": {
                    "description": "Reports the success or failure of the match attempt.",
                    "type": "string",
                    "x-ms-summary": "Status",
                    "x-ms-visibility": "advanced"
                  },
                  "StatusCode": {
                    "description": "Reason for failure, if there is one.",
                    "type": "string",
                    "x-ms-summary": "Status Code",
                    "x-ms-visibility": "advanced"
                  },
                  "StatusDescription": {
                    "description": "Description of the problem, if there is one.",
                    "type": "string",
                    "x-ms-summary": "Status Description",
                    "x-ms-visibility": "advanced"
                  },
                  "Confidence": {
                    "description": "The level of confidence assigned to the address being returned.",
                    "type": "string",
                    "x-ms-summary": "Confidence"
                  },
                  "RecordType": {
                    "description": "Type of address record.",
                    "type": "string",
                    "x-ms-summary": "Record Type",
                    "x-ms-visibility": "advanced"
                  },
                  "RecordTypeDefault": {
                    "description": "Code indicating the default match.",
                    "type": "string",
                    "x-ms-summary": "Record Type Default",
                    "x-ms-visibility": "advanced"
                  },
                  "MultipleMatches": {
                    "description": "Indicates which address component had multiple matches.",
                    "type": "string",
                    "x-ms-summary": "Multiple Matches",
                    "x-ms-visibility": "advanced"
                  },
                  "CouldNotValidate": {
                    "description": "Mentions the address component that could not be validated, in case no match is found.",
                    "type": "string",
                    "x-ms-summary": "Could Not Validate",
                    "x-ms-visibility": "advanced"
                  },
                  "CountryLevel": {
                    "description": "The category of address matching available.",
                    "type": "string",
                    "x-ms-summary": "Country Level",
                    "x-ms-visibility": "advanced"
                  },
                  "AddressFormat": {
                    "description": "The type of address data being returned.",
                    "type": "string",
                    "x-ms-summary": "Address Format",
                    "x-ms-visibility": "advanced"
                  },
                  "AddressLine1": {
                    "description": "The first line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 1"
                  },
                  "AddressLine2": {
                    "description": "The second line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 2"
                  },
                  "AddressLine3": {
                    "description": "The third line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 3"
                  },
                  "AddressLine4": {
                    "description": "The fourth line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 4"
                  },
                  "City": {
                    "description": "The validated city name.",
                    "type": "string",
                    "x-ms-summary": "City"
                  },
                  "StateProvince": {
                    "description": "The validated state or province abbreviation.",
                    "type": "string",
                    "x-ms-summary": "State Province"
                  },
                  "PostalCode": {
                    "description": "The validated ZIP Code™ or postal code.",
                    "type": "string",
                    "x-ms-summary": "Postal Code"
                  },
                  "PostalCodeBase": {
                    "description": "The 5-digit ZIP Code™.",
                    "type": "string",
                    "x-ms-summary": "Postal Code Base"
                  },
                  "PostalCodeAddOn": {
                    "description": "The 4-digit add-on part of the ZIP Code™.",
                    "type": "string",
                    "x-ms-summary": "Postal Code AddOn"
                  },
                  "Country": {
                    "description": "The country in the format determined by what you selected.",
                    "type": "string",
                    "x-ms-summary": "Country"
                  },
                  "AdditionalInputData": {
                    "description": "Input data that could not be matched to a particular address component.",
                    "type": "string",
                    "x-ms-summary": "Additional Input Data"
                  },
                  "FirmName": {
                    "description": "The validated firm or company name.",
                    "type": "string",
                    "x-ms-summary": "Firm Name"
                  },
                  "HouseNumber": {
                    "description": "House number.",
                    "type": "string",
                    "x-ms-summary": "House Number"
                  },
                  "LeadingDirectional": {
                    "description": "Leading directional.",
                    "type": "string",
                    "x-ms-summary": "Leading Directional",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetName": {
                    "description": "Street name.",
                    "type": "string",
                    "x-ms-summary": "Street Name"
                  },
                  "StreetSuffix": {
                    "description": "Street suffix.",
                    "type": "string",
                    "x-ms-summary": "Street Suffix"
                  },
                  "TrailingDirectional": {
                    "description": "Trailing directional.",
                    "type": "string",
                    "x-ms-summary": "Trailing Directional",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentLabel": {
                    "description": "Apartment designator (such as STE or APT).",
                    "type": "string",
                    "x-ms-summary": "Apartment Label",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentNumber": {
                    "description": "Apartment number.",
                    "type": "string",
                    "x-ms-summary": "Apartment Number"
                  },
                  "ApartmentLabel2": {
                    "description": "Secondary apartment designator.",
                    "type": "string",
                    "x-ms-summary": "Apartment Label 2",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentNumber2": {
                    "description": "Secondary apartment number.",
                    "type": "string",
                    "x-ms-summary": "Apartment Number 2",
                    "x-ms-visibility": "advanced"
                  },
                  "RRHC": {
                    "description": "Rural Route/Highway Contract indicator.",
                    "type": "string",
                    "x-ms-summary": "RRHC",
                    "x-ms-visibility": "advanced"
                  },
                  "POBox": {
                    "description": "Post office box number.",
                    "type": "string",
                    "x-ms-summary": "PO Box",
                    "x-ms-visibility": "advanced"
                  },
                  "PrivateMailbox": {
                    "description": "Private mailbox indicator.",
                    "type": "string",
                    "x-ms-summary": "Private Mailbox",
                    "x-ms-visibility": "advanced"
                  },
                  "PrivateMailboxType": {
                    "description": "The type of private mailbox.",
                    "type": "string",
                    "x-ms-summary": "Private Mailbox Type",
                    "x-ms-visibility": "advanced"
                  },
                  "HouseNumberInput": {
                    "description": "House number.",
                    "type": "string",
                    "x-ms-summary": "House Number Input",
                    "x-ms-visibility": "advanced"
                  },
                  "LeadingDirectionalInput": {
                    "description": "Leading directional.",
                    "type": "string",
                    "x-ms-summary": "Leading Directional Input",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetNameInput": {
                    "description": "Street name.",
                    "type": "string",
                    "x-ms-summary": "Street Name Input",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetSuffixInput": {
                    "description": "Street suffix.",
                    "type": "string",
                    "x-ms-summary": "Street Suffix Input",
                    "x-ms-visibility": "advanced"
                  },
                  "TrailingDirectionalInput": {
                    "description": "Trailing directional.",
                    "type": "string",
                    "x-ms-summary": "Trailing Directional Input",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentLabelInput": {
                    "description": "Apartment designator (such as STE or APT).",
                    "type": "string",
                    "x-ms-summary": "Apartment Label Input",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentNumberInput": {
                    "description": "Apartment number.",
                    "type": "string",
                    "x-ms-summary": "Apartment Number Input",
                    "x-ms-visibility": "advanced"
                  },
                  "RRHCInput": {
                    "description": "Rural Route/Highway Contract indicator.",
                    "type": "string",
                    "x-ms-summary": "RRHC Input",
                    "x-ms-visibility": "advanced"
                  },
                  "POBoxInput": {
                    "description": "Post office box number.",
                    "type": "string",
                    "x-ms-summary": "PO Box Input",
                    "x-ms-visibility": "advanced"
                  },
                  "PrivateMailboxInput": {
                    "description": "Private mailbox indicator.",
                    "type": "string",
                    "x-ms-summary": "Private Mailbox Input",
                    "x-ms-visibility": "advanced"
                  },
                  "PrivateMailboxTypeInput": {
                    "description": "The type of private mailbox.",
                    "type": "string",
                    "x-ms-summary": "Private Mailbox Type Input",
                    "x-ms-visibility": "advanced"
                  },
                  "CityInput": {
                    "description": "Validated city name.",
                    "type": "string",
                    "x-ms-summary": "City Input",
                    "x-ms-visibility": "advanced"
                  },
                  "StateProvinceInput": {
                    "description": "Validated state or province name.",
                    "type": "string",
                    "x-ms-summary": "State Province Input",
                    "x-ms-visibility": "advanced"
                  },
                  "PostalCodeInput": {
                    "description": "Validated postal code.",
                    "type": "string",
                    "x-ms-summary": "Postal Code Input",
                    "x-ms-visibility": "advanced"
                  },
                  "CountryInput": {
                    "description": "Country. Format is determined by what you selected in OutputCountryFormat.",
                    "type": "string",
                    "x-ms-summary": "Country Input",
                    "x-ms-visibility": "advanced"
                  },
                  "FirmNameInput": {
                    "description": "The validated firm or company name.",
                    "type": "string",
                    "x-ms-summary": "Firm Name Input",
                    "x-ms-visibility": "advanced"
                  },
                  "HouseNumberResult": {
                    "description": "The field-level result indicator for HouseNumber.",
                    "type": "string",
                    "x-ms-summary": "House Number Result",
                    "x-ms-visibility": "advanced"
                  },
                  "LeadingDirectionalResult": {
                    "description": "The field-level result indicator for LeadingDirectional.",
                    "type": "string",
                    "x-ms-summary": "Leading Directional Result",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetResult": {
                    "description": "The field-level result indicator for Street.",
                    "type": "string",
                    "x-ms-summary": "Street Result",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetNameResult": {
                    "description": "The field-level result indicator for StreetName.",
                    "type": "string",
                    "x-ms-summary": "Street Name Result",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetNameAliasType": {
                    "description": "The field-level result indicator for StreetName Alias.",
                    "type": "string",
                    "x-ms-summary": "Street Name Alias Type",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetSuffixResult": {
                    "description": "The field-level result indicator for StreetSuffix.",
                    "type": "string",
                    "x-ms-summary": "Street Suffix Result",
                    "x-ms-visibility": "advanced"
                  },
                  "TrailingDirectionalResult": {
                    "description": "The field-level result indicator for TrailingDirectional.",
                    "type": "string",
                    "x-ms-summary": "Trailing Directional Result",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentLabelResult": {
                    "description": "The field-level result indicator for ApartmentLabel.",
                    "type": "string",
                    "x-ms-summary": "Apartment Label Result",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentNumberResult": {
                    "description": "The field-level result indicator for ApartmentNumber.",
                    "type": "string",
                    "x-ms-summary": "Apartment Number Result",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentLabel2Result": {
                    "description": "The field-level result indicator for ApartmentLabel2.",
                    "type": "string",
                    "x-ms-summary": "Apartment Label 2 Result",
                    "x-ms-visibility": "advanced"
                  },
                  "ApartmentNumber2Result": {
                    "description": "The field-level result indicator for ApartmentNumber2.",
                    "type": "string",
                    "x-ms-summary": "Apartment Number 2 Result",
                    "x-ms-visibility": "advanced"
                  },
                  "RRHCResult": {
                    "description": "The field-level result indicator for RRHC.",
                    "type": "string",
                    "x-ms-summary": "RRHC Result",
                    "x-ms-visibility": "advanced"
                  },
                  "RRHCType": {
                    "description": "The field-level result indicator for RRHC Type.",
                    "type": "string",
                    "x-ms-summary": "RRHC Type",
                    "x-ms-visibility": "advanced"
                  },
                  "POBoxResult": {
                    "description": "The field-level result indicator for POBox.",
                    "type": "string",
                    "x-ms-summary": "PO Box Result",
                    "x-ms-visibility": "advanced"
                  },
                  "CityResult": {
                    "description": "The field-level result indicator for City.",
                    "type": "string",
                    "x-ms-summary": "City Result",
                    "x-ms-visibility": "advanced"
                  },
                  "StateProvinceResult": {
                    "description": "The field-level result indicator for StateProvince.",
                    "type": "string",
                    "x-ms-summary": "State Province Result",
                    "x-ms-visibility": "advanced"
                  },
                  "PostalCodeResult": {
                    "description": "The field-level result indicator for PostalCode.",
                    "type": "string",
                    "x-ms-summary": "Postal Code Result",
                    "x-ms-visibility": "advanced"
                  },
                  "PostalCodeCityResult": {
                    "description": "The field-level result indicator for PostalCodeCity.",
                    "type": "string",
                    "x-ms-summary": "Postal Code City Result",
                    "x-ms-visibility": "advanced"
                  },
                  "AddressRecordResult": {
                    "description": "The field-level result indicator for AddressRecord.",
                    "type": "string",
                    "x-ms-summary": "Address Record Result",
                    "x-ms-visibility": "advanced"
                  },
                  "PostalCodeSource": {
                    "description": "The field-level result indicator for PostalCode Source.",
                    "type": "string",
                    "x-ms-summary": "Postal Code Source",
                    "x-ms-visibility": "advanced"
                  },
                  "PostalCodeType": {
                    "description": "Indicates the type of postal code returned.",
                    "type": "string",
                    "x-ms-summary": "Postal Code Type",
                    "x-ms-visibility": "advanced"
                  },
                  "CountryResult": {
                    "description": "The validated firm or company name.",
                    "type": "string",
                    "x-ms-summary": "Country Result",
                    "x-ms-visibility": "advanced"
                  },
                  "FirmNameResult": {
                    "description": "Indicates if the firm name got validated.",
                    "type": "string",
                    "x-ms-summary": "Firm Name Result",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetNamePreferredAliasResult": {
                    "description": "Indicates the result of preferred alias processing.",
                    "type": "string",
                    "x-ms-summary": "Street Name Preferred Alias Result",
                    "x-ms-visibility": "advanced"
                  },
                  "StreetNameAbbreviatedAliasResult": {
                    "description": "Indicates the result of abbreviated alias processing.",
                    "type": "string",
                    "x-ms-summary": "Street Name Abbreviated Alias Result",
                    "x-ms-visibility": "advanced"
                  },
                  "AddressLine5": {
                    "description": "The fifth line of the validated address.",
                    "type": "string",
                    "x-ms-summary": "Address Line 5"
                  },
                  "AddressQuality": {
                    "description": "A two character code indicating overall quality of the resulting address.",
                    "type": "string",
                    "x-ms-summary": "Address Quality"
                  },
                  "Deliverability": {
                    "description": "An estimate of confidence that an item mailed or shipped to this address would be successfully delivered.",
                    "type": "string",
                    "x-ms-summary": "Deliverability"
                  },
                  "AddressType": {
                    "description": "A single letter code that indicates the type of address.",
                    "type": "string",
                    "x-ms-summary": "Address Type"
                  },
                  "Locality": {
                    "description": "A locality is a village in rural areas or it may be a suburb in urban areas.",
                    "type": "string",
                    "x-ms-summary": "Locality"
                  },
                  "ChangeScore": {
                    "description": "A value of 0 and 100 that reflects how much the address has changed to make it valid.",
                    "type": "string",
                    "x-ms-summary": "Change Score"
                  },
                  "Suburb": {
                    "description": "The validated firm or company name.",
                    "type": "string",
                    "x-ms-summary": "Suburb"
                  },
                  "BlockAddress": {
                    "description": "It is the formatted address, as it would appear on a physical mail piece.",
                    "type": "string",
                    "x-ms-summary": "Block Address"
                  },
                  "Latitude": {
                    "description": "Seven-digit number in degrees, calculated to four decimal places.",
                    "type": "string",
                    "x-ms-summary": "Latitude"
                  },
                  "Longitude": {
                    "description": "Seven-digit number in degrees, calculated to four decimal places.",
                    "type": "string",
                    "x-ms-summary": "Longitude"
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pitneybowes/#validate-mailing-address-premium-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/identify/identifyemail/v1/rest/validateemailaddress/results.json": {
      "post": {
        "tags": [
          "Identify API ValidateEmailAddress Service"
        ],
        "summary": "Validate Email Address",
        "description": "The ValidateEmailAddress service takes an email address and determines if it is valid. It can fix common typos to return a valid email address. It also identifies problematic email addresses. Learn more in our documentation: https://aka.ms/Yqv7pc",
        "operationId": "ValidateEmailAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "InputEmail",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Input": {
                  "type": "object",
                  "properties": {
                    "Row": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bogus": {
                            "description": "Specifies whether to check if the email address is fictitious. Default value is true.",
                            "enum": [
                              "true",
                              "false"
                            ],
                            "type": "string",
                            "x-ms-summary": "Bogus",
                            "x-ms-visibility": "advanced"
                          },
                          "complain": {
                            "description": "Specifies whether to check if the owner of the email address is known to submit spam complaints. Default value is true.",
                            "enum": [
                              "true",
                              "false"
                            ],
                            "type": "string",
                            "x-ms-summary": "Complain",
                            "x-ms-visibility": "advanced"
                          },
                          "disposable": {
                            "description": "Specifies whether to check if the email address originates from a website that provides temporary email addresses. Default value is true.",
                            "type": "string",
                            "x-ms-summary": "Disposable",
                            "enum": [
                              "true",
                              "false"
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "atc": {
                            "description": "One character code controlling the advanced suggestion behavior. Default value is aggressive.",
                            "type": "string",
                            "x-ms-summary": "Atc",
                            "enum": [
                              "Aggressive",
                              "Conservative",
                              "No Suggestion"
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "emailAddress": {
                            "description": "The email address you want to validate.",
                            "type": "string",
                            "x-ms-summary": "Email Address"
                          },
                          "emps": {
                            "description": "Specifies whether to check if the email address appears on the Direct Marketing Association's 'Do Not Email' list. Default value is true.",
                            "type": "string",
                            "x-ms-summary": "Emps",
                            "enum": [
                              "true",
                              "false"
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "fccwireless": {
                            "description": "Specifies whether to check if the email address is associated with a domain that has restrictions on commercial email per the FCC. Default value is true.",
                            "type": "string",
                            "x-ms-summary": "FCC Wireless",
                            "enum": [
                              "true",
                              "false"
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "language": {
                            "description": "Specifies whether to check if the email address handle contains derogatory words. Default value is true.",
                            "type": "string",
                            "x-ms-summary": "Language",
                            "enum": [
                              "true",
                              "false"
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "role": {
                            "description": "Specifies whether to check if the email address has a non-personal handle, such as info@, sales@, or webmaster@. Default value is true.",
                            "type": "string",
                            "x-ms-summary": "Role",
                            "enum": [
                              "true",
                              "false"
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "rtc": {
                            "description": "Enables or disables real-time confirmation. Default value is true.",
                            "type": "string",
                            "x-ms-summary": "RTC",
                            "enum": [
                              "true",
                              "false"
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "rtc_timeout": {
                            "description": "Specifies the timeout for real-time confirmation. Default value is 1200.",
                            "type": "string",
                            "x-ms-summary": "RTC timeout",
                            "x-ms-visibility": "advanced"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "COMMENT": {
                    "description": "The comment string pertaining to the result of the submitted email address.",
                    "type": "string",
                    "x-ms-summary": "Comment"
                  },
                  "COMMENT_CODE": {
                    "description": "A short code which maps to each returned COMMENT field value.",
                    "type": "string",
                    "x-ms-summary": "Comment Code"
                  },
                  "EMAIL": {
                    "description": "The email address submitted for verification.",
                    "type": "string",
                    "x-ms-summary": "Email"
                  },
                  "ERROR": {
                    "description": "Field reserved for special features only.",
                    "type": "string",
                    "x-ms-summary": "Error"
                  },
                  "ERROR_RESPONSE": {
                    "description": "Pre-formatted response intended to be provided to user.",
                    "type": "string",
                    "x-ms-summary": "Error Response"
                  },
                  "FINDING": {
                    "description": "One character code indicating the validity of the submitted email address.",
                    "type": "string",
                    "x-ms-summary": "Finding"
                  },
                  "SUGG_COMMENT": {
                    "description": "This field contains 'suggestion not SafeToDeliver' when ValidateEmailAddress corrected the address and the corrected version of the email address failed one or more SafeToDeliver process checks.",
                    "type": "string",
                    "x-ms-summary": "Suggestion Comment"
                  },
                  "SUGG_EMAIL": {
                    "description": "Suggested correction for submitted email address, if found. A suggestion will only be provided if it is valid and SafeToDeliver.",
                    "type": "string",
                    "x-ms-summary": "Suggestion Email"
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "apiKey": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pitneybowes/#validate-email-address-%5bdeprecated%5d"
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKey": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/pitneybowes"
  },
  "basePath": "/apim/pitneybowes"
}