{
  "swagger": "2.0",
  "info": {
    "title": "IN-D KYC India",
    "description": "Classify ID documents, and extracts useful attributes smartly leveraging on the power of AI. Works with most of the officially valid documents for vetting your customers making your onboarding fraud-proof and build trust.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "IN-D Support",
      "url": "https://www.one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/indkycindia",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/kyc_wrapper": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "desc": {
                  "type": "string",
                  "description": "description of request either success or failure",
                  "title": "desc"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "classification_result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "document_type": {
                            "type": "string",
                            "description": "type of id document",
                            "title": "document type"
                          },
                          "filename": {
                            "type": "string",
                            "description": "name of file",
                            "title": "file name"
                          },
                          "image_quality": {
                            "type": "string",
                            "description": "image quality of id document",
                            "title": "quality of image"
                          }
                        }
                      },
                      "description": "classification_result"
                    },
                    "extraction_result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ADDRESS": {
                            "type": "string",
                            "description": "id document address",
                            "title": "ADDRESS"
                          },
                          "DOC_TYPE": {
                            "type": "string",
                            "description": "type of id document",
                            "title": "id document type"
                          },
                          "FATHER_SPOUSE_NAME": {
                            "type": "string",
                            "description": "details of id document father name/spouse name",
                            "title": "FATHER_SPOUSE_NAME"
                          },
                          "filename": {
                            "type": "string",
                            "description": "filename"
                          },
                          "validation": {
                            "type": "boolean",
                            "description": "validation from govt db",
                            "title": "validation"
                          }
                        }
                      },
                      "description": "extraction_result"
                    },
                    "validation_result": {
                      "type": "object",
                      "properties": {},
                      "description": "validation_result"
                    },
                    "verification_result": {
                      "type": "object",
                      "properties": {},
                      "description": "verification_result"
                    }
                  },
                  "description": "result"
                },
                "status": {
                  "type": "string",
                  "description": "status of post request either success or failure",
                  "title": "status"
                }
              }
            }
          },
          "403": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "err_desc": {
                  "type": "string",
                  "description": "error description of request (API Key header missing)",
                  "title": "err_desc"
                },
                "status": {
                  "type": "string",
                  "description": "status of request either success or failure",
                  "title": "status"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "err_desc": {
                  "type": "string",
                  "description": "err_desc"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                }
              }
            }
          }
        },
        "summary": "ID Document Classification and Extraction",
        "description": "This action does both classification of the ID document and extraction of attributes from the ID document. When a document is sent as an input, the extracted data along with the classified document type is received as an output.",
        "operationId": "IDDocClassificationAndExtraction",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content type of request",
            "x-ms-summary": "Content type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "api": {
                    "type": "string",
                    "description": "extraction or classification of request",
                    "title": "extraction or classification"
                  },
                  "filename": {
                    "type": "string",
                    "description": "filename",
                    "title": "file name"
                  },
                  "payload": {
                    "type": "string",
                    "description": "base64 content of file",
                    "title": "base64 content of file",
                    "format": "byte"
                  }
                },
                "required": [
                  "payload",
                  "api",
                  "filename"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/indkycindia/#id-document-classification-and-extraction"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/indkycindia"
  }
}
