{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Basecamp 2",
    "description": "Basecamp 2 keeps people on the same page. No matter what your role is, everyone works toward a common goal: finishing a project together.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/{id}/api/v1/projects/{projectId}/messages.json": {
      "post": {
        "summary": "Post a message",
        "description": "Create a new message in a project.",
        "operationId": "PostMessage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateMessage_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "$ref": "#/parameters/Content-Type__in_header"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CreateMessage_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#post-a-message"
        }
      }
    },
    "/{connectionId}/trigger/{id}/api/v1/projects/{projectId}/documents.json": {
      "get": {
        "summary": "When a document is created",
        "description": "Trigger a flow when there is a new document in a project.",
        "operationId": "OnDocumentCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Account Id",
            "description": "The unique id of the account.",
            "x-ms-test-value": 3652565,
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "accounts"
            },
            "type": "integer"
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Project Id",
            "description": "The unique id of the project.",
            "x-ms-test-value": "13538916",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "id": {
                  "parameter": "id"
                }
              },
              "value-path": "id",
              "value-title": "name"
            },
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/OnNewDocument_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a document in Basecamp 2.",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerValueCollection": "",
        "x-ms-dev-triggerValuePath": "created_at",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#when-a-document-is-created"
        }
      }
    },
    "/{connectionId}/trigger/{id}/api/v1/projects/{projectId}/todolists/{listId}/todos.json": {
      "get": {
        "summary": "When a to-do is created",
        "description": "Trigger a flow when there is a new to-do.",
        "operationId": "OnToDoCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "$ref": "#/parameters/listId__in_path"
          },
          {
            "$ref": "#/parameters/Content-Type__in_header"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/OnNewTo-Do_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a ticket on freshdesk.com.",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerValueCollection": "",
        "x-ms-dev-triggerValuePath": "created_at",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#when-a-to-do-is-created"
        }
      }
    },
    "/{connectionId}/{id}/api/v1/projects/{projectId}/todolists.json": {
      "get": {
        "summary": "List to-do lists",
        "description": "List all to-do lists for a project.",
        "operationId": "ListToDoLists",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListTo-DoLists_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#list-to-do-lists"
        }
      }
    },
    "/{connectionId}/{id}/api/v1/projects.json": {
      "get": {
        "summary": "List Projects",
        "description": "List all projects for account.",
        "operationId": "ListProjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListTo-DoLists_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#list-projects"
        }
      }
    },
    "/{connectionId}/trigger/{id}/api/v1/projects/{projectId}/calendar_events.json": {
      "get": {
        "summary": "When an event is created",
        "description": "Trigger a flow when there is a new event.",
        "operationId": "OnEventCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "$ref": "#/parameters/Content-Type__in_header"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Onnewevent_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create an event on Basecamp 2.",
        "x-ms-dev-triggerType": "SimpleFilter",
        "x-ms-dev-triggerValueCollection": "",
        "x-ms-dev-triggerValuePath": "created_at",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#when-an-event-is-created"
        }
      }
    },
    "/{connectionId}/{id}/api/v1/projects/{projectId}/documents.json": {
      "get": {
        "summary": "List Documents",
        "description": "List all documents for a project.",
        "operationId": "ListDocuments",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListDocuments_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#list-documents"
        }
      },
      "post": {
        "summary": "Create Document",
        "description": "Create a new document.",
        "operationId": "CreateDocument",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "$ref": "#/parameters/projectId__in_path_2"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDocument_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "$ref": "#/parameters/Content-Type__in_header"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CreateDocument_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#create-document"
        }
      }
    },
    "/{connectionId}/{id}/api/v1/projects/{projectId}/todolists/{listId}/todos.json": {
      "post": {
        "summary": "Create a to-do",
        "description": "Add a to-do to a to-do list.",
        "operationId": "CreateToDo",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          },
          {
            "$ref": "#/parameters/listId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTo-Do_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "$ref": "#/parameters/Content-Type__in_header"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CreateTo-Do_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#create-a-to-do"
        }
      }
    },
    "/{connectionId}/{id}/api/v1/projects/{projectId}/calendar_events.json": {
      "post": {
        "summary": "Create an event",
        "description": "Create a new scheduled event in a project.",
        "operationId": "CreateEvent",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Account Id",
            "description": "The unique id of the account.",
            "x-ms-test-value": "3652565",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "accounts"
            },
            "type": "integer"
          },
          {
            "$ref": "#/parameters/projectId__in_path_2"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEvent_Request"
            },
            "x-ms-summary": "body"
          },
          {
            "$ref": "#/parameters/Content-Type__in_header"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CreateEvent_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#create-an-event"
        }
      }
    },
    "/{connectionId}/authorization.json": {
      "get": {
        "summary": "List Accounts",
        "description": "Get the basecamp accounts for this connection.",
        "operationId": "ListAccounts",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListAccounts_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/basecamp2/#list-accounts"
        }
      }
    }
  },
  "definitions": {
    "CreateMessage_Request": {
      "required": [
        "subject",
        "content"
      ],
      "type": "object",
      "properties": {
        "subject": {
          "description": "The subject of the message.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "content": {
          "description": "The content of the message.",
          "type": "string",
          "x-ms-summary": "Content",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "subject": "Hello everyone",
        "content": "This is going to be a GREAT Saturday!"
      }
    },
    "CreateMessage_Response": {
      "type": "object",
      "properties": {
        "content": {
          "description": "The content of the message.",
          "type": "string",
          "x-ms-summary": "Content",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "format": "date-time",
          "description": "The datetime the message was created.",
          "type": "string",
          "x-ms-summary": "Created Date",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "The unique id of the message.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "private": {
          "description": "Whether the message is private or not.",
          "type": "boolean",
          "x-ms-summary": "Privacy Status",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "The subject of the message.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListDocuments_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "description": "The unique id of the document.",
            "type": "integer",
            "x-ms-summary": "Id",
            "x-ms-visibility": "advanced"
          },
          "title": {
            "description": "The title of the document.",
            "type": "string",
            "x-ms-summary": "Title",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "CreateTo-Do_Request": {
      "required": [
        "content",
        "due_at"
      ],
      "type": "object",
      "properties": {
        "content": {
          "description": "What the to-do is for.",
          "type": "string",
          "x-ms-summary": "Content",
          "x-ms-visibility": "important"
        },
        "due_at": {
          "description": "The datetime the to-do is due.",
          "type": "string",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "content": "This is my new thing!",
        "due_at": "2018-03-27"
      }
    },
    "CreateTo-Do_Response": {
      "type": "object",
      "properties": {
        "completed": {
          "description": "Whether the to-do is completed.",
          "type": "boolean",
          "x-ms-summary": "Completed",
          "x-ms-visibility": "important"
        },
        "content": {
          "description": "What the to-do is for.",
          "type": "string",
          "x-ms-summary": "Content",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "format": "date-time",
          "description": "The datetime the to-do was created.",
          "type": "string",
          "x-ms-summary": "Created Date",
          "x-ms-visibility": "important"
        },
        "due_at": {
          "description": "The datetime the to-do is due.",
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "The unique id of the to-do.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "private": {
          "description": "Whether the to-do is private.",
          "type": "boolean",
          "x-ms-summary": "Private",
          "x-ms-visibility": "advanced"
        },
        "url": {
          "description": "The URL of the to-do list.",
          "type": "string",
          "x-ms-summary": "URL",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTo-DoLists_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "description": "The unique id of the to-do list.",
            "type": "integer",
            "x-ms-summary": "Id",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "description": "Name of the to-do list.",
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "CreateEvent_Response": {
      "type": "object",
      "properties": {
        "all_day": {
          "description": "Whether the event is all day.",
          "type": "boolean",
          "x-ms-summary": "All Day",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "format": "date-time",
          "description": "The datetime the event was created at.",
          "type": "string",
          "x-ms-summary": "Created Date",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "The description of the event.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "ends_at": {
          "format": "date-time",
          "description": "The datetime of event ends.",
          "type": "string",
          "x-ms-summary": "End Time",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "The unique id of the event.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "private": {
          "description": "Whether the event is private.",
          "type": "boolean",
          "x-ms-summary": "Private",
          "x-ms-visibility": "advanced"
        },
        "starts_at": {
          "format": "date-time",
          "description": "The datetime the event starts.",
          "type": "string",
          "x-ms-summary": "Start Date",
          "x-ms-visibility": "important"
        },
        "summary": {
          "description": "The summary of the event.",
          "type": "string",
          "x-ms-summary": "Summary",
          "x-ms-visibility": "important"
        },
        "url": {
          "description": "The URL of the event.",
          "type": "string",
          "x-ms-summary": "URL",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Onnewevent_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CreateEvent_Response"
      }
    },
    "OnNewDocument_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CreateDocument_Response"
      }
    },
    "OnNewTo-Do_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/CreateTo-Do_Response"
      }
    },
    "CreateDocument_Request": {
      "required": [
        "content",
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the document.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "content": {
          "description": "The content of the document.",
          "type": "string",
          "x-ms-summary": "Content",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-test-value": {
        "title": "Very important business notes",
        "content": "The TPS report is due on Monday morning!"
      }
    },
    "CreateDocument_Response": {
      "type": "object",
      "properties": {
        "content": {
          "description": "The content of the document.",
          "type": "string",
          "x-ms-summary": "Content",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "format": "date-time",
          "description": "The datetime the document was created at.",
          "type": "string",
          "x-ms-summary": "Created Date",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "The unique id of the document.",
          "type": "integer",
          "x-ms-summary": "Id",
          "x-ms-visibility": "advanced"
        },
        "private": {
          "description": "Whether the document is private.",
          "type": "boolean",
          "x-ms-summary": "Private",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "The title of the document.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateEvent_Request": {
      "required": [
        "summary",
        "description",
        "starts_at"
      ],
      "type": "object",
      "properties": {
        "summary": {
          "description": "The summary of the event.",
          "type": "string",
          "x-ms-summary": "Summary",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "The description of the event.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "starts_at": {
          "format": "date-time",
          "description": "The datetime the event starts at.",
          "type": "string",
          "x-ms-summary": "Start Date",
          "x-ms-visibility": "important"
        },
        "ends_at": {
          "format": "date-time",
          "description": "The datetime the event ends at.",
          "type": "string",
          "x-ms-summary": "End Date",
          "x-ms-visibility": "important"
        },
        "remind_at": {
          "format": "date-time",
          "description": "The datetime of the event reminder.",
          "type": "string",
          "x-ms-summary": "Reminder Date",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "summary": "My single event for a specific time",
        "description": "Details to follow",
        "starts_at": "2012-03-27T16:50:00+00:00",
        "ends_at": "2012-03-28T16:50:00+00:00",
        "remind_at": "2012-03-28T16:20:00+00:00"
      }
    },
    "ListAccounts_Response": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "Id of the account.",
                "type": "integer",
                "x-ms-summary": "Id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Name of the account.",
                "type": "string",
                "x-ms-summary": "Name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "Account",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {
    "id__in_path": {
      "name": "id",
      "in": "path",
      "required": true,
      "x-ms-summary": "Account Id",
      "description": "The unique id of the account.",
      "x-ms-test-value": 3652565,
      "x-ms-dynamic-values": {
        "operationId": "ListAccounts",
        "value-path": "id",
        "value-title": "name",
        "value-collection": "accounts"
      },
      "type": "integer"
    },
    "projectId__in_path": {
      "name": "projectId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Project Id",
      "description": "The unique id of the project.",
      "x-ms-test-value": 13538916,
      "x-ms-dynamic-values": {
        "operationId": "ListProjects",
        "parameters": {
          "id": {
            "parameter": "id"
          }
        },
        "value-path": "id",
        "value-title": "name"
      },
      "type": "integer"
    },
    "Content-Type__in_header": {
      "name": "Content-Type",
      "in": "header",
      "description": "Content type.",
      "required": true,
      "x-ms-summary": "Content-Type",
      "x-ms-visibility": "internal",
      "type": "string",
      "default": " application/json"
    },
    "listId__in_path": {
      "name": "listId",
      "in": "path",
      "required": true,
      "x-ms-summary": "To-Do List Id",
      "description": "The unique id of the to-do list.",
      "x-ms-dynamic-values": {
        "operationId": "ListToDoLists",
        "parameters": {
          "id": {
            "parameter": "id"
          },
          "projectId": {
            "parameter": "projectId"
          }
        },
        "value-path": "id",
        "value-title": "name"
      },
      "x-ms-test-value": 44115112,
      "type": "integer"
    },
    "projectId__in_path_2": {
      "name": "projectId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Project Id",
      "description": "The unique id of the project.",
      "x-ms-dynamic-values": {
        "operationId": "ListProjects",
        "parameters": {
          "id": {
            "parameter": "id"
          }
        },
        "value-path": "id",
        "value-title": "name"
      },
      "x-ms-test-value": 13538916,
      "type": "integer"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://basecamp.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://basecamp.com/about/policies/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/basecamp2"
  },
  "basePath": "/apim/basecamp2"
}
