{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Azure Data Factory",
    "description": "Azure Data Factory is a hybrid data integration service that allows you to create, schedule and orchestrate your ETL/ELT workflows at scale wherever your data lives, in cloud or self-hosted network.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/azuredatafactory",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{dataFactoryName}": {
      "get": {
        "summary": "Get Data Factory",
        "description": "Get a particular Data Factory",
        "operationId": "GetDataFactory",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataFactoryNameParameter"
          },
          {
            "name": "x-ms-api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "2017-09-01-preview",
            "type": "string",
            "default": "2017-09-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataFactory"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#get-data-factory"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{dataFactoryName}/pipelines": {
      "get": {
        "summary": "List pipelines",
        "description": "List the list of pipelines from a particular factory",
        "operationId": "ListPipelines",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataFactoryNameParameter"
          },
          {
            "name": "x-ms-api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "2017-09-01-preview",
            "type": "string",
            "default": "2017-09-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PipelineListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#list-pipelines"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{dataFactoryName}/pipelines/{pipelineName}/CreateRun": {
      "post": {
        "summary": "Create a pipeline run",
        "description": "This operation creates a new pipeline run in your factory",
        "operationId": "CreatePipelineRun",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataFactoryNameParameter"
          },
          {
            "$ref": "#/parameters/PipelineNameParameter"
          },
          {
            "name": "referencePipelineRunId",
            "description": "The pipeline run identifier. If run ID is specified the parameters of the specified run will be used to create a new run.",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Reference pipelineRunId.",
            "x-ms-visibility": "advanced",
            "x-ms-parameter-location": "method"
          },
          {
            "name": "parameters",
            "description": "Parameters of the pipeline run. These parameters will be used only if the runId is not specified.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ParameterValueSpecification"
            }
          },
          {
            "name": "x-ms-api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "2017-09-01-preview",
            "type": "string",
            "default": "2017-09-01-preview"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "object",
              "properties": {
                "runId": {
                  "description": "runId",
                  "type": "string",
                  "x-ms-summary": "runId"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#create-a-pipeline-run"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{dataFactoryName}/cancelpipelineRun/{pipelineRunName}": {
      "post": {
        "summary": "Cancel a pipeline run",
        "description": "This operation cancels a pipeline run by its run ID.",
        "operationId": "CancelPipelineRun",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataFactoryNameParameter"
          },
          {
            "$ref": "#/parameters/PipelineRunNameParameter"
          },
          {
            "name": "x-ms-api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "2017-09-01-preview",
            "type": "string",
            "default": "2017-09-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#cancel-a-pipeline-run"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{dataFactoryName}/pipelines/{pipelineName}": {
      "get": {
        "summary": "Get pipeline",
        "description": "Get a particular pipeline",
        "operationId": "GetPipeline",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataFactoryNameParameter"
          },
          {
            "$ref": "#/parameters/PipelineNameParameter"
          },
          {
            "name": "x-ms-api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "2017-09-01-preview",
            "type": "string",
            "default": "2017-09-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Pipeline"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#get-pipeline"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories": {
      "get": {
        "summary": "List Factories",
        "description": "Get the list of Data Factories",
        "operationId": "ListDataFactories",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "x-ms-api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "2017-09-01-preview",
            "type": "string",
            "default": "2017-09-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataFactoryListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#list-factories"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.DataFactory/factories/{dataFactoryName}/pipelineRuns/{pipelineRunName}": {
      "get": {
        "summary": "Get a pipeline run",
        "description": "Get a particular pipeline run execution",
        "operationId": "GetPipelineRun",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DataFactoryNameParameter"
          },
          {
            "$ref": "#/parameters/PipelineRunNameParameter"
          },
          {
            "name": "x-ms-api-version",
            "in": "query",
            "required": true,
            "x-ms-summary": "API Version",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "2017-09-01-preview",
            "type": "string",
            "default": "2017-09-01-preview"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PipelineRun"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#get-a-pipeline-run"
        }
      }
    },
    "/{connectionId}/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "description": "Gets a list of all the subscriptions to which the principal has access.",
        "operationId": "ListSubscriptions",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#list-subscriptions"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "summary": "List resource groups",
        "description": "Lists all the resource groups within the subscription. The results are paginated at 1,000+ records.",
        "operationId": "ListResourceGroups",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroupListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azuredatafactory/#list-resource-groups"
        }
      }
    }
  },
  "definitions": {
    "DataFactoryListResult": {
      "description": "List of Data Factories.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of Data Factories.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataFactory"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "DataFactory": {
      "description": "DataFactory information.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "tags": {
          "description": "The resource tags.",
          "type": "object",
          "properties": {},
          "readOnly": true,
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced"
        },
        "properties": {
          "description": "Data Factory additional properties.",
          "type": "object",
          "properties": {
            "provisioningState": {
              "description": "Factory provisioning state.",
              "type": "string",
              "readOnly": true,
              "x-ms-summary": "Provisioning State"
            },
            "createTime": {
              "format": "date-time",
              "description": "Time the factory was created in ISO8601 format.",
              "type": "string",
              "readOnly": true,
              "x-ms-summary": "Create Time"
            },
            "version": {
              "description": "Version of the factory.",
              "type": "string",
              "readOnly": true,
              "x-ms-summary": "Version",
              "x-ms-visibility": "advanced"
            }
          },
          "readOnly": true,
          "x-ms-visibility": "advanced"
        },
        "identity": {
          "description": "Managed service identity of the factory.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The identity type.",
              "type": "string",
              "readOnly": true,
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Type"
            },
            "principalId": {
              "description": "The principal id of the identity.",
              "type": "string",
              "readOnly": true,
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Principal Id"
            },
            "tenantId": {
              "description": "The client tenant id of the identity.",
              "type": "string",
              "readOnly": true,
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Tenant Id"
            }
          },
          "readOnly": true,
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "The resource identitfier.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "type": {
          "description": "The resource type.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Type"
        },
        "location": {
          "description": "The resource location",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Location"
        }
      }
    },
    "PipelineListResult": {
      "description": "List of pipelines.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of Data Factories.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Pipeline"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "Pipeline": {
      "description": "Pipeline information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource identifier.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The resource name of the pipeline.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "properties": {
          "description": "The pipeline properties.",
          "type": "object",
          "properties": {
            "activities": {
              "description": "Pipeline activities.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Activity"
              },
              "readOnly": true,
              "x-ms-summary": "Activities"
            },
            "concurrency": {
              "description": "The max number of concurrent runs for the pipeline.",
              "type": "integer",
              "readOnly": true,
              "x-ms-summary": "Concurrency"
            },
            "description": {
              "description": "The description of the pipeline.",
              "type": "string",
              "readOnly": true,
              "x-ms-summary": "Description"
            },
            "parameters": {
              "description": "The parameters of the pipeline.",
              "type": "object",
              "properties": {
                "defaultValue": {
                  "description": "Default value of parameter.",
                  "type": "object",
                  "readOnly": true,
                  "x-ms-summary": "Default Value"
                },
                "type": {
                  "description": "Parameter type.",
                  "enum": [
                    "Array",
                    "Bool",
                    "Float",
                    "Int",
                    "Object",
                    "String"
                  ],
                  "type": "string",
                  "readOnly": true,
                  "x-ms-summary": "Type"
                }
              },
              "readOnly": true,
              "x-ms-summary": "Parameters"
            }
          },
          "readOnly": true,
          "x-ms-summary": "Properties",
          "x-ms-visibility": "advanced"
        },
        "etag": {
          "description": "Etag identifies change in the resource.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "etag",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Activity": {
      "description": "Pipeline activity.",
      "type": "object"
    },
    "Activity-Full": {
      "description": "Pipeline activity.",
      "type": "object",
      "properties": {
        "name": {
          "description": "name",
          "type": "string",
          "x-ms-summary": "name"
        },
        "type": {
          "description": "type",
          "type": "string",
          "x-ms-summary": "type"
        },
        "inputs": {
          "description": "inputs",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "referenceName": {
                "description": "referenceName",
                "type": "string",
                "x-ms-summary": "referenceName"
              },
              "type": {
                "description": "type",
                "type": "string",
                "x-ms-summary": "type"
              }
            }
          },
          "x-ms-summary": "inputs"
        },
        "outputs": {
          "description": "outputs",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "referenceName": {
                "description": "referenceName",
                "type": "string",
                "x-ms-summary": "referenceName"
              },
              "type": {
                "description": "type",
                "type": "string",
                "x-ms-summary": "type"
              }
            }
          },
          "x-ms-summary": "outputs"
        },
        "typeProperties": {
          "description": "typeProperties",
          "type": "object",
          "properties": {
            "source": {
              "description": "source",
              "type": "object",
              "properties": {
                "type": {
                  "description": "type",
                  "type": "string",
                  "x-ms-summary": "type"
                },
                "recursive": {
                  "description": "recursive",
                  "type": "boolean",
                  "x-ms-summary": "recursive"
                }
              },
              "x-ms-summary": "source"
            },
            "sink": {
              "description": "sink",
              "type": "object",
              "properties": {
                "type": {
                  "description": "type",
                  "type": "string",
                  "x-ms-summary": "type"
                },
                "copyBehavior": {
                  "description": "copyBehavior",
                  "type": "string",
                  "x-ms-summary": "copyBehavior"
                }
              },
              "x-ms-summary": "sink"
            }
          },
          "x-ms-summary": "typeProperties"
        },
        "policy": {
          "description": "policy",
          "type": "object",
          "properties": {
            "timeout": {
              "format": "date-time",
              "description": "timeout",
              "type": "string",
              "x-ms-summary": "timeout"
            },
            "retryIntervalInSeconds": {
              "format": "int32",
              "description": "retryIntervalInSeconds",
              "type": "integer",
              "x-ms-summary": "retryIntervalInSeconds"
            },
            "retry": {
              "format": "int32",
              "description": "retry",
              "type": "integer",
              "x-ms-summary": "retry"
            }
          },
          "x-ms-summary": "policy"
        }
      }
    },
    "PipelineRun": {
      "description": "Information about a pipeline run.",
      "type": "object",
      "properties": {
        "runId": {
          "description": "Identifier of a run",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Run Id"
        },
        "pipelineName": {
          "description": "The pipeline name",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Pipeline Name"
        },
        "parameters": {
          "description": "The full of partial list of parameter name, value pair used in the pipeline run.",
          "type": "object",
          "properties": {},
          "readOnly": true,
          "x-ms-summary": "Parameters",
          "x-ms-visibility": "advanced"
        },
        "invokedBy": {
          "description": "Entity that started the pipeline.",
          "type": "object",
          "properties": {
            "id": {
              "description": "The ID of the entity that started the run.",
              "type": "string",
              "readOnly": true,
              "x-ms-summary": "ID",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the entity that started the pipeline run.",
              "type": "string",
              "readOnly": true,
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            }
          },
          "readOnly": true,
          "x-ms-summary": "Invoked By",
          "x-ms-visibility": "advanced"
        },
        "runStart": {
          "format": "date-time",
          "description": "The start time of a pipeline run in ISO8601 format.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Run Start",
          "x-ms-visibility": "advanced"
        },
        "runEnd": {
          "format": "date-time",
          "description": "The end time of a pipeline run in ISO8601 format.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Run End",
          "x-ms-visibility": "advanced"
        },
        "durationInMs": {
          "format": "int32",
          "description": "The duration of a pipeline run in milliseconds.",
          "type": "integer",
          "readOnly": true,
          "x-ms-summary": "Duration"
        },
        "status": {
          "description": "The status of the pipeline run.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Status"
        },
        "message": {
          "description": "The message from a pipeline run.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Message"
        },
        "lastUpdated": {
          "format": "date-time",
          "description": "The last updated timestamp for the pipeline run event in ISO8601 format.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Last Updated",
          "x-ms-visibility": "advanced"
        },
        "annotations": {
          "description": "The annotations for the pipeline run.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "x-ms-summary": "Annotations",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ParameterValueSpecification": {
      "description": "An object mapping parameter names to argument values.",
      "type": "object",
      "additionalProperties": true
    },
    "SubscriptionListResult": {
      "description": "Subscription list operation response.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The subscriptions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "Subscription": {
      "description": "Subscription information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The fully qualified Id. For example, /subscriptions/00000000-0000-0000-0000-000000000000.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "subscriptionId": {
          "description": "The subscription Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Subscription Id"
        },
        "tenantId": {
          "description": "The tenant Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Tenant Id"
        },
        "displayName": {
          "description": "The subscription display name.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Display Name"
        },
        "state": {
          "description": "The subscription state.",
          "enum": [
            "Enabled",
            "Warned",
            "PastDue",
            "Disabled",
            "Deleted"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "State",
          "x-ms-enum": {
            "name": "SubscriptionState",
            "modelAsString": false
          }
        },
        "subscriptionPolicies": {
          "$ref": "#/definitions/SubscriptionPolicies"
        },
        "authorizationSource": {
          "description": "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'.",
          "type": "string",
          "x-ms-summary": "Authorization Source",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SubscriptionPolicies": {
      "description": "Subscription policies.",
      "type": "object",
      "properties": {
        "locationPlacementId": {
          "description": "The subscription location placement Id. The Id indicates which regions are visible for a subscription. For example, a subscription with a location placement Id of Public_2014-09-01 has access to Azure public regions.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Location Placement Id",
          "x-ms-visibility": "advanced"
        },
        "quotaId": {
          "description": "The subscription quota Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Quota Id",
          "x-ms-visibility": "advanced"
        },
        "spendingLimit": {
          "description": "The subscription spending limit.",
          "enum": [
            "On",
            "Off",
            "CurrentPeriodOff"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "spendingLimit",
            "modelAsString": false
          },
          "x-ms-summary": "Spending Limit",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-summary": "Subscription Policies",
      "x-ms-visibility": "advanced"
    },
    "ResourceGroupListResult": {
      "description": "List of resource groups.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of resource groups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceGroup"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ResourceGroup": {
      "description": "Resource group information.",
      "required": [
        "location"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource group (e.g. /subscriptions/XXX/resourceGroups/YYY).",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "location": {
          "description": "The location of the resource group. It cannot be changed after the resource group has been created. Has to be one of the supported Azure Locations, such as West US, East US, West Europe, East Asia, etc.",
          "type": "string",
          "x-ms-summary": "Location"
        },
        "managedBy": {
          "description": "Id of the resource that manages this resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Managed By"
        },
        "tags": {
          "description": "The tags attached to the resource group.",
          "type": "object",
          "additionalProperties": {
            "description": "The additional properties. ",
            "type": "string"
          },
          "x-ms-summary": "Tags"
        },
        "properties": {
          "$ref": "#/definitions/ResourceGroupProperties"
        }
      }
    },
    "ResourceGroupProperties": {
      "description": "The resource group properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Provisioning State"
        }
      },
      "readOnly": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource.",
      "required": true,
      "x-ms-summary": "Subscription",
      "x-ms-dynamic-values": {
        "operationId": "ListSubscriptions",
        "value-collection": "value",
        "value-path": "subscriptionId",
        "value-title": "displayName",
        "parameters": {
          "x-ms-api-version": "2016-06-01"
        }
      },
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Resource group name.",
      "required": true,
      "x-ms-summary": "Resource Group",
      "x-ms-dynamic-values": {
        "operationId": "ListResourceGroups",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2016-06-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          }
        }
      },
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+$"
    },
    "ApiVersionParameter": {
      "name": "x-ms-api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "x-ms-visibility": "internal",
      "type": "string",
      "default": "2017-09-01-preview",
      "enum": [
        "2017-09-01-preview"
      ]
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "description": "The filter to apply on the operation.",
      "required": false,
      "x-ms-summary": "Filter",
      "x-ms-visibility": "advanced",
      "type": "string"
    },
    "TopParameter": {
      "name": "$top",
      "in": "query",
      "description": "Query parameters. If nothing is passed returns all values.",
      "required": false,
      "x-ms-summary": "Top",
      "x-ms-visibility": "advanced",
      "type": "integer",
      "format": "int32"
    },
    "DataFactoryNameParameter": {
      "name": "dataFactoryName",
      "in": "path",
      "description": "The name of the Data Factory.",
      "required": true,
      "x-ms-summary": "Data Factory Name",
      "x-ms-dynamic-values": {
        "operationId": "ListDataFactories",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2017-09-01-preview",
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          }
        }
      },
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$"
    },
    "PipelineNameParameter": {
      "name": "pipelineName",
      "in": "path",
      "description": "The name of the Data Factory pipeline.",
      "required": true,
      "x-ms-summary": "Data Factory Pipeline Name",
      "x-ms-dynamic-values": {
        "operationId": "ListPipelines",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2017-09-01-preview",
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          },
          "dataFactoryName": {
            "parameter": "dataFactoryName"
          }
        }
      },
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[A-Za-z0-9_][^<>*#.%&:\\+?/]*$"
    },
    "PipelineRunNameParameter": {
      "name": "pipelineRunName",
      "in": "path",
      "description": "The id of the Data Factory pipeline run.",
      "required": true,
      "x-ms-summary": "Data Factory Pipeline Run Id",
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+$"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/data-factory/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azuredatafactory"
  }
}
