{
  "swagger": "2.0",
  "info": {
    "title": "OpenText Extended ECM",
    "description": "OpenText Extended ECM is an enterprise content management platform that securely governs the information lifecycle by integrating with leading enterprise applications, such as SAP®, Microsoft® 365, Salesforce and SAP SuccessFactors®. You can bring content and processes more together by combining it in your low code solutions and provide access to information when and where it is needed which improves decision-making and drives operational effectiveness. Also works with OpenText Content Server.",
    "version": "23.3",
    "contact": {
      "name": "One Fox Support",
      "url": "https://www.onefox.com/service-desk/",
      "email": "servicedesk@onefox.nl"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/opentextcsbyonefox",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/document/create/{configurationKey}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Document ID",
              "description": "The ID of the document."
            }
          }
        },
        "summary": "Create document",
        "description": "Create the document in Content Server",
        "operationId": "CreateDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "parentId",
                "metadata",
                "file"
              ],
              "properties": {
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "Specify the parent folder ID of the document"
                },
                "metadata": {
                  "$ref": "#/definitions/DocumentMetadata"
                },
                "file": {
                  "$ref": "#/definitions/File"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#create-document"
        }
      }
    },
    "/{connectionId}/api/v2/document/create/{configurationKey}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Document ID",
              "description": "The ID of the document."
            }
          }
        },
        "summary": "Create document (V2)",
        "description": "Create the document in Content Server",
        "operationId": "CreateDocumentV2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "parentId",
                "metadata",
                "file"
              ],
              "properties": {
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "Specify the parent folder ID of the document"
                },
                "metadata": {
                  "$ref": "#/definitions/DocumentMetadataV2"
                },
                "file": {
                  "$ref": "#/definitions/File"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#create-document-(v2)"
        }
      }
    },
    "/{connectionId}/api/document/update/{id}/{configurationKey}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update document",
        "description": "Update the document in Content Server",
        "operationId": "UpdateDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "$ref": "#/parameters/DocumentConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "metadata",
                "file"
              ],
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/DocumentMetadata"
                },
                "file": {
                  "$ref": "#/definitions/File"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-document"
        }
      }
    },
    "/{connectionId}/api/v2/document/update/{id}/{configurationKey}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update document (V2)",
        "description": "Update the document in Content Server",
        "operationId": "UpdateDocumentV2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "$ref": "#/parameters/DocumentConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "metadata",
                "file"
              ],
              "properties": {
                "metadata": {
                  "$ref": "#/definitions/DocumentMetadataV2"
                },
                "file": {
                  "$ref": "#/definitions/File"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-document-(v2)"
        }
      }
    },
    "/{connectionId}/api/document/update-properties/{id}/{configurationKey}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update document properties",
        "description": "Update the document properties in Content Server",
        "operationId": "UpdateDocumentProperties",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "$ref": "#/parameters/DocumentConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "$ref": "#/definitions/DocumentMetadata"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-document-properties"
        }
      }
    },
    "/{connectionId}/api/v2/document/update-properties/{id}/{configurationKey}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update document properties (V2)",
        "description": "Update the document properties in Content Server",
        "operationId": "UpdateDocumentPropertiesV2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "$ref": "#/parameters/DocumentConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "$ref": "#/definitions/DocumentMetadataV2"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-document-properties-(v2)"
        }
      }
    },
    "/{connectionId}/api/document/update-content/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update document content",
        "description": "Update the content of the document in Content Server",
        "operationId": "UpdateDocumentContent",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "$ref": "#/definitions/File"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-document-content"
        }
      }
    },
    "/{connectionId}/api/document/check-in/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Unreserve document",
        "description": "Unreserve the document in Content Server",
        "operationId": "UnreserveDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#unreserve-document"
        }
      }
    },
    "/{connectionId}/api/document/check-out/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Reserve document",
        "description": "Reserve the document in Content Server",
        "operationId": "ReserveDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#reserve-document"
        }
      }
    },
    "/{connectionId}/api/document/get/{id}/{configurationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "ID",
                  "description": "The ID of the document."
                },
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "The ID of the parent folder of the document."
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "displayName": {
                      "type": "string",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Display Name",
                      "description": "The display name of the document."
                    },
                    "description": {
                      "type": "string",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Description",
                      "description": "The description of the document."
                    },
                    "createdDate": {
                      "type": "string",
                      "format": "date-time",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Created Date",
                      "description": "The created date of the document."
                    },
                    "modifiedDate": {
                      "type": "string",
                      "format": "date-time",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Modified Date",
                      "description": "The modified date of the document."
                    },
                    "fields": {
                      "type": "object",
                      "x-ms-dynamic-schema": {
                        "operationId": "GetConfigurationKeyReadSchema",
                        "parameters": {
                          "name": {
                            "parameter": "configurationKey"
                          }
                        }
                      }
                    }
                  }
                },
                "file": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "File Name",
                      "description": "The file name (with extension) of the document."
                    },
                    "content": {
                      "type": "string",
                      "x-ms-visibility": "important",
                      "format": "byte",
                      "x-ms-summary": "File Content",
                      "description": "The file content of the document."
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get document",
        "description": "Get the document from Content Server",
        "operationId": "GetDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "$ref": "#/parameters/DocumentConfigurationKey"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-document"
        }
      }
    },
    "/{connectionId}/api/document/get-properties/{id}/{configurationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Display Name",
                  "description": "The display name of the document."
                },
                "description": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Description",
                  "description": "The description of the document."
                },
                "createdDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Created Date",
                  "description": "The created date of the document."
                },
                "modifiedDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Modified Date",
                  "description": "The modified date of the document."
                },
                "fields": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetConfigurationKeyReadSchema",
                    "parameters": {
                      "name": {
                        "parameter": "configurationKey"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get document properties",
        "description": "Get the properties of the document from Content Server",
        "operationId": "GetDocumentProperties",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "$ref": "#/parameters/DocumentConfigurationKey"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-document-properties"
        }
      }
    },
    "/{connectionId}/api/document/get-content/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "File Name",
                  "description": "The file name (with extension) of the document."
                },
                "content": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "format": "byte",
                  "x-ms-summary": "File Content",
                  "description": "The file content of the document."
                }
              }
            }
          }
        },
        "summary": "Get document content",
        "description": "Get the content of the document from Content Server",
        "operationId": "GetDocumentContent",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-document-content"
        }
      }
    },
    "/{connectionId}/api/document/get-content/{id}/{versionId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "File Name",
                  "description": "The file name (with extension) of the document."
                },
                "content": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "format": "byte",
                  "x-ms-summary": "File Content",
                  "description": "The file content of the document."
                }
              }
            }
          }
        },
        "summary": "Get document version content",
        "description": "Get the content of the document version from Content Server",
        "operationId": "GetDocumentVersionContent",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "$ref": "#/parameters/VersionId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-document-version-content"
        }
      }
    },
    "/{connectionId}/api/document/delete/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete document",
        "description": "Delete the document in Content Server",
        "operationId": "DeleteDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#delete-document"
        }
      }
    },
    "/{connectionId}/api/document/delete/{id}/version/{versionId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete document version",
        "description": "Delete the document version in Content Server",
        "operationId": "DeleteDocumentVersion",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "$ref": "#/parameters/VersionId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#delete-document-version"
        }
      }
    },
    "/{connectionId}/api/document/get-versions/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Versions",
              "description": "The versions of the document.",
              "items": {
                "$ref": "#/definitions/Version"
              }
            }
          }
        },
        "summary": "Get document versions",
        "description": "Get the versions of the document from Content Server",
        "operationId": "GetDocumentVersions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-document-versions"
        }
      }
    },
    "/{connectionId}/api/document/move/{id}/to/{parentId}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Move document",
        "description": "Move the document to a new folder in Content Server",
        "operationId": "MoveDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "name": "parentId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Parent ID",
            "description": "Specify the new parent ID of the document"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#move-document"
        }
      }
    },
    "/{connectionId}/api/document/copy/{id}/to/{parentId}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Document ID",
              "description": "The ID of the copied document."
            }
          }
        },
        "summary": "Copy document",
        "description": "Copy the document to a different folder in Content Server",
        "operationId": "CopyDocument",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DocumentId"
          },
          {
            "name": "parentId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Parent ID",
            "description": "Specify the ID of the folder to copy the document to"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#copy-document"
        }
      }
    },
    "/{connectionId}/api/folder/create/{configurationKey}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Folder ID",
              "description": "The ID of the folder."
            }
          }
        },
        "summary": "Create folder",
        "description": "Create the folder in Content Server",
        "operationId": "CreateFolder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FolderConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "parentId"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the folder"
                },
                "description": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Description",
                  "description": "Specify the description of the folder"
                },
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "Specify the parent folder ID of the folder"
                },
                "fieldValues": {
                  "$ref": "#/definitions/FolderFieldValues"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#create-folder"
        }
      }
    },
    "/{connectionId}/api/v2/folder/create/{configurationKey}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Folder ID",
              "description": "The ID of the folder."
            }
          }
        },
        "summary": "Create folder (V2)",
        "description": "Create the folder in Content Server",
        "operationId": "CreateFolderV2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FolderConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "parentId",
                "fields"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the folder"
                },
                "description": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Description",
                  "description": "Specify the description of the folder"
                },
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "Specify the parent folder ID of the folder"
                },
                "fields": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetConfigurationKeyWriteSchema",
                    "parameters": {
                      "name": {
                        "parameter": "configurationKey"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#create-folder-(v2)"
        }
      }
    },
    "/{connectionId}/api/folder/update/{id}/{configurationKey}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update folder",
        "description": "Update the folder in Content Server",
        "operationId": "UpdateFolder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FolderId"
          },
          {
            "$ref": "#/parameters/FolderConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the folder"
                },
                "description": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Description",
                  "description": "Specify the description of the folder"
                },
                "fieldValues": {
                  "$ref": "#/definitions/FolderFieldValues"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-folder"
        }
      }
    },
    "/{connectionId}/api/v2/folder/update/{id}/{configurationKey}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update folder (V2)",
        "description": "Update the folder in Content Server",
        "operationId": "UpdateFolderV2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FolderId"
          },
          {
            "$ref": "#/parameters/FolderConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "fields"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the folder"
                },
                "description": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Description",
                  "description": "Specify the description of the folder"
                },
                "fields": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetConfigurationKeyWriteSchema",
                    "parameters": {
                      "name": {
                        "parameter": "configurationKey"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-folder-(v2)"
        }
      }
    },
    "/{connectionId}/api/folder/get/{id}/{configurationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "ID",
                  "description": "The ID of the folder."
                },
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "The ID of the parent folder of the folder."
                },
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "The name of the folder."
                },
                "description": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Description",
                  "description": "The description of the folder."
                },
                "createdDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Created Date",
                  "description": "The created date of the folder."
                },
                "modifiedDate": {
                  "type": "string",
                  "format": "date-time",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Modified Date",
                  "description": "The modified date of the folder."
                },
                "fields": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetConfigurationKeyReadSchema",
                    "parameters": {
                      "name": {
                        "parameter": "configurationKey"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get folder",
        "description": "Get the folder from Content Server",
        "operationId": "GetFolder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FolderId"
          },
          {
            "$ref": "#/parameters/FolderConfigurationKey"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-folder"
        }
      }
    },
    "/{connectionId}/api/folder/delete/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete folder",
        "description": "Delete the folder in Content Server",
        "operationId": "DeleteFolder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FolderId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#delete-folder"
        }
      }
    },
    "/{connectionId}/api/folder/get-children/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Children",
              "description": "The children of the folder.",
              "items": {
                "$ref": "#/definitions/ResultItem"
              }
            }
          }
        },
        "summary": "Get folder children",
        "description": "Get the children of the folder from Content Server",
        "operationId": "GetFolderChildren",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/FolderId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-folder-children"
        }
      }
    },
    "/{connectionId}/api/search/simple/{configurationKey}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Results",
              "description": "The results of the search.",
              "items": {
                "$ref": "#/definitions/ResultItem"
              }
            }
          }
        },
        "summary": "Search",
        "description": "Search in Content Server",
        "operationId": "SimpleSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "configurationKey",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Content Type",
            "description": "Select the content type",
            "x-ms-dynamic-values": {
              "operationId": "GetConfigurationKeys",
              "value-path": "value",
              "value-title": "displayName",
              "parameters": {
                "type": "All"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the item"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#search"
        }
      }
    },
    "/{connectionId}/api/search/advanced": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Results",
              "description": "The results of the search.",
              "items": {
                "$ref": "#/definitions/ResultItem"
              }
            }
          }
        },
        "summary": "Advanced search",
        "description": "Search in Content Server",
        "operationId": "AdvancedSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Query",
                  "description": "Specify the query for the search"
                },
                "start": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Start",
                  "description": "Specify the start (first item to retrieve) for the search"
                },
                "limit": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Limit",
                  "description": "Specify the item limit to retrieve for the search"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#advanced-search"
        }
      }
    },
    "/{connectionId}/api/configuration-set/get": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Content Types",
              "description": "The configured content types for Content Server.",
              "items": {
                "$ref": "#/definitions/DynamicField"
              }
            }
          }
        },
        "summary": "Get all content types",
        "description": "Get the content types configured for Content Server",
        "operationId": "GetConfigurationKeys",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Content Type",
            "description": "Specify the type of the content type"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-all-content-types"
        }
      }
    },
    "/{connectionId}/api/configuration-set/get-fields/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Fields",
              "description": "The fields of the content type.",
              "items": {
                "$ref": "#/definitions/DynamicField"
              }
            }
          }
        },
        "summary": "Get content type fields",
        "description": "Get the content type fields configured for Content Server",
        "operationId": "GetConfigurationKeyFields",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Content Type",
            "description": "Specify the content type of the item"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-content-type-fields"
        }
      }
    },
    "/{connectionId}/api/configuration-set/get-schema/read/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get content type schema for read",
        "description": "Get the schema of the configured content type for read actions",
        "operationId": "GetConfigurationKeyReadSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Content Type",
            "description": "Specify the name of the content type"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-content-type-schema-for-read"
        }
      }
    },
    "/{connectionId}/api/configuration-set/get-schema/write/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get content type schema for write",
        "description": "Get the schema of the configured content type for write actions",
        "operationId": "GetConfigurationKeyWriteSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Content Type",
            "description": "Specify the name of the content type"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-content-type-schema-for-write"
        }
      }
    },
    "/{connectionId}/api/command/execute/{id}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Result",
              "description": "The result of the WebReport."
            }
          }
        },
        "summary": "Execute web report",
        "description": "Execute a WebReport in Content Server",
        "operationId": "ExecuteWebReport",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "description": "Specify the ID of the WebReport"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Parameters",
              "description": "Specify the parameters of the WebReport",
              "items": {
                "type": "object",
                "required": [
                  "key",
                  "value"
                ],
                "properties": {
                  "key": {
                    "type": "string",
                    "x-ms-visibility": "important",
                    "x-ms-summary": "Name",
                    "description": "Specify the name of the parameter"
                  },
                  "value": {
                    "type": "string",
                    "x-ms-visibility": "important",
                    "x-ms-summary": "Value",
                    "description": "Specify the value of the parameter"
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#execute-web-report"
        }
      }
    },
    "/{connectionId}/api/workspace/create/{configurationKey}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Business Workspace ID",
              "description": "The ID of the business workspace."
            }
          }
        },
        "summary": "Create business workspace",
        "description": "Create the business workspace in Content Server",
        "operationId": "CreateBusinessWorkspace",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "parentId",
                "templateId"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the business workspace"
                },
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "Specify the parent folder ID of the business workspace"
                },
                "templateId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Template ID",
                  "description": "Specify the template ID for the business workspace"
                },
                "fieldValues": {
                  "$ref": "#/definitions/WorkspaceFieldValues"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#create-business-workspace"
        }
      }
    },
    "/{connectionId}/api/v2/workspace/create/{configurationKey}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Business Workspace ID",
              "description": "The ID of the business workspace."
            }
          }
        },
        "summary": "Create business workspace (V2)",
        "description": "Create the business workspace in Content Server",
        "operationId": "CreateBusinessWorkspaceV2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "parentId",
                "templateId",
                "fields"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the business workspace"
                },
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "Specify the parent folder ID of the business workspace"
                },
                "templateId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Template ID",
                  "description": "Specify the template ID for the business workspace"
                },
                "fields": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetConfigurationKeyWriteSchema",
                    "parameters": {
                      "name": {
                        "parameter": "configurationKey"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#create-business-workspace-(v2)"
        }
      }
    },
    "/{connectionId}/api/security/get/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Trustees",
              "description": "The trustees with corresponding access rights of the item.",
              "items": {
                "$ref": "#/definitions/TrusteeRead"
              }
            }
          }
        },
        "summary": "Get trustees of an item",
        "description": "Get the trustees of the item from Content Server",
        "operationId": "GetItemTrustees",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ItemId"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-trustees-of-an-item"
        }
      }
    },
    "/{connectionId}/api/security/add/{id}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Add custom trustee(s) to an item",
        "description": "Add one or multiple custom trustees with corresponding access rights to an item in Content Server",
        "operationId": "AddTrustees",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ItemId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Trustee",
              "description": "Specify the trustees to be added",
              "items": {
                "$ref": "#/definitions/TrusteeWrite"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#add-custom-trustee(s)-to-an-item"
        }
      }
    },
    "/{connectionId}/api/security/update/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update custom trustee(s) of an item",
        "description": "Update one or multiple custom trustees with corresponding existing access rights of the item in Content Server",
        "operationId": "UpdateTrustees",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ItemId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Trustee",
              "description": "Specify the trustees to be updated",
              "items": {
                "$ref": "#/definitions/TrusteeWrite"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-custom-trustee(s)-of-an-item"
        }
      }
    },
    "/{connectionId}/api/security/remove/{id}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Remove custom trustee(s) of item",
        "description": "Remove one or multiple custom trustees with corresponding existing access rights of the item in Content Server",
        "operationId": "RemoveTrustees",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ItemId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "array",
              "x-ms-visibility": "important",
              "x-ms-summary": "Trustee ID's",
              "description": "Specify the ID's of the trustees",
              "items": {
                "type": "string",
                "x-ms-visibility": "important",
                "x-ms-summary": "Trustee ID",
                "description": "Specify the ID of the trustee"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#remove-custom-trustee(s)-of-item"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/DocumentCreated": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document ID",
          "description": "The ID of the document that has been created in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a document is created",
        "description": "When a document has been created in Content Server",
        "operationId": "DocumentCreated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-document-is-created"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/DocumentUpdated": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document ID",
          "description": "The ID of the document of which the properties or content have been updated in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a document is updated",
        "description": "When document properties or content have been updated in Content Server",
        "operationId": "DocumentUpdated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-document-is-updated"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/DocumentDeleted": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document ID",
          "description": "The ID of the document that has been deleted in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a document is deleted",
        "description": "When a document has been deleted in Content Server",
        "operationId": "DocumentDeleted",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-document-is-deleted"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/FolderCreated": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Folder ID",
          "description": "The ID of the folder that has been created in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a folder is created",
        "description": "When a folder has been created in Content Server",
        "operationId": "FolderCreated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-folder-is-created"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/FolderUpdated": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Folder ID",
          "description": "The ID of the folder that has been updated in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a folder is updated",
        "description": "When a folder has been updated in Content Server",
        "operationId": "FolderUpdated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-folder-is-updated"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/FolderDeleted": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Folder ID",
          "description": "The ID of the folder that has been deleted in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a folder is deleted",
        "description": "When a folder has been deleted in Content Server",
        "operationId": "FolderDeleted",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-folder-is-deleted"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/BusinessWorkspaceCreated": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Business Workspace ID",
          "description": "The ID of the business workspace that has been created in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a business workspace is created",
        "description": "When a business workspace has been created in Content Server",
        "operationId": "BusinessWorkspaceCreated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-business-workspace-is-created"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/BusinessWorkspaceUpdated": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Business Workspace ID",
          "description": "The ID of the business workspace that has been updated in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a business workspace is updated",
        "description": "When a business workspace has been updated in Content Server",
        "operationId": "BusinessWorkspaceUpdated",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-business-workspace-is-updated"
        }
      }
    },
    "/{connectionId}/api/web-hook/create/BusinessWorkspaceDeleted": {
      "x-ms-notification-content": {
        "description": "NotificationId",
        "schema": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Business Workspace ID",
          "description": "The ID of the business workspace that has been deleted in Content Server."
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a business workspace is deleted",
        "description": "When a business workspace has been deleted in Content Server",
        "operationId": "BusinessWorkspaceDeleted",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#when-a-business-workspace-is-deleted"
        }
      }
    },
    "/{connectionId}/api/web-hook/delete/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete WebHook",
        "description": "Delete the WebHook from subscription",
        "operationId": "DeleteWebHook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "description": "Specify the ID of the WebHook"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#delete-webhook"
        }
      }
    },
    "/{connectionId}/api/workspace/get/{id}/{configurationKey}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "ID",
                  "description": "The ID of the business workspace."
                },
                "parentId": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Parent ID",
                  "description": "The ID of the parent folder of the business workspace."
                },
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "The name of the business workspace."
                },
                "fields": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetConfigurationKeyReadSchema",
                    "parameters": {
                      "name": {
                        "parameter": "configurationKey"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get business workspace",
        "description": "Get the business workspace from Content Server",
        "operationId": "GetBusinessWorkspace",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceId"
          },
          {
            "$ref": "#/parameters/WorkspaceConfigurationKey"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#get-business-workspace"
        }
      }
    },
    "/{connectionId}/api/workspace/update/{id}/{configurationKey}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update business workspace",
        "description": "Update the business workspace in Content Server",
        "operationId": "UpdateBusinessWorkspace",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceId"
          },
          {
            "$ref": "#/parameters/WorkspaceConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the business workspace"
                },
                "fieldValues": {
                  "$ref": "#/definitions/WorkspaceFieldValues"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-business-workspace"
        }
      }
    },
    "/{connectionId}/api/v2/workspace/update/{id}/{configurationKey}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Update business workspace (V2)",
        "description": "Update the business workspace in Content Server",
        "operationId": "UpdateBusinessWorkspaceV2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceId"
          },
          {
            "$ref": "#/parameters/WorkspaceConfigurationKey"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "name",
                "fields"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Name",
                  "description": "Specify the name of the business workspace"
                },
                "fields": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetConfigurationKeyWriteSchema",
                    "parameters": {
                      "name": {
                        "parameter": "configurationKey"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/opentextcsbyonefox/#update-business-workspace-(v2)"
        }
      }
    }
  },
  "definitions": {
    "DynamicField": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Display Name",
          "description": "The display name of the item."
        },
        "value": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Value",
          "description": "The value of the item."
        }
      }
    },
    "ResultItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "ID",
          "description": "The ID of the item."
        },
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Name",
          "description": "The name of the item."
        },
        "type": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Type",
          "description": "The type of the item."
        }
      }
    },
    "DocumentMetadata": {
      "type": "object",
      "required": [
        "displayName"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Display Name",
          "description": "Specify the display name of the document"
        },
        "description": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Description",
          "description": "Specify the description of the document"
        },
        "fieldValues": {
          "$ref": "#/definitions/DocumentFieldValues"
        }
      }
    },
    "DocumentMetadataV2": {
      "type": "object",
      "required": [
        "displayName",
        "fields"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Display Name",
          "description": "Specify the display name of the document"
        },
        "description": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Description",
          "description": "Specify the description of the document"
        },
        "fields": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetConfigurationKeyWriteSchema",
            "parameters": {
              "name": {
                "parameter": "configurationKey"
              }
            }
          }
        }
      }
    },
    "File": {
      "type": "object",
      "required": [
        "name",
        "content"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "File Name",
          "description": "Specify the file name (with extension) of the document"
        },
        "content": {
          "type": "string",
          "format": "byte",
          "x-ms-visibility": "important",
          "x-ms-summary": "File Content",
          "description": "Specify the file content of the document"
        }
      }
    },
    "Version": {
      "type": "object",
      "properties": {
        "versionId": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Version ID",
          "description": "The ID of the version."
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important",
          "x-ms-summary": "Created Date",
          "description": "The creation date of the version."
        },
        "modifiedDate": {
          "type": "string",
          "format": "date-time",
          "x-ms-visibility": "important",
          "x-ms-summary": "Modified Date",
          "description": "The modification date of the version."
        },
        "createdBy": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Created By",
          "description": "Who created the version."
        },
        "fileName": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "File Name",
          "description": "The file name of the version."
        }
      }
    },
    "DocumentFieldValues": {
      "type": "array",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Fields",
      "description": "Specify the fields of the document",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Name",
            "description": "Select the name of the field",
            "x-ms-dynamic-values": {
              "operationId": "GetConfigurationKeyFields",
              "value-path": "value",
              "value-title": "displayName",
              "parameters": {
                "name": {
                  "parameter": "configurationKey"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetConfigurationKeyFields",
              "itemValuePath": "value",
              "itemTitlePath": "displayName",
              "parameters": {
                "name": {
                  "parameterReference": "configurationKey"
                }
              }
            }
          },
          "value": {
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Value",
            "description": "Specify the value of the field"
          }
        }
      }
    },
    "FolderFieldValues": {
      "type": "array",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Fields",
      "description": "Specify the fields of the folder",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Name",
            "description": "Select the name of the field",
            "x-ms-dynamic-values": {
              "operationId": "GetConfigurationKeyFields",
              "value-path": "value",
              "value-title": "displayName",
              "parameters": {
                "name": {
                  "parameter": "configurationKey"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetConfigurationKeyFields",
              "itemValuePath": "value",
              "itemTitlePath": "displayName",
              "parameters": {
                "name": {
                  "parameterReference": "configurationKey"
                }
              }
            }
          },
          "value": {
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Value",
            "description": "Specify the value of the field"
          }
        }
      }
    },
    "WorkspaceFieldValues": {
      "type": "array",
      "x-ms-visibility": "advanced",
      "x-ms-summary": "Fields",
      "description": "Specify the fields of the business workspace",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Name",
            "description": "Select the name of the field",
            "x-ms-dynamic-values": {
              "operationId": "GetConfigurationKeyFields",
              "value-path": "value",
              "value-title": "displayName",
              "parameters": {
                "name": {
                  "parameter": "configurationKey"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetConfigurationKeyFields",
              "itemValuePath": "value",
              "itemTitlePath": "displayName",
              "parameters": {
                "name": {
                  "parameterReference": "configurationKey"
                }
              }
            }
          },
          "value": {
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Value",
            "description": "Specify the value of the field"
          }
        }
      }
    },
    "TrusteeRead": {
      "type": "object",
      "properties": {
        "trusteeId": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "ID",
          "description": "The ID of the trustee."
        },
        "trusteeType": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Type",
          "description": "The type of the trustee."
        },
        "accessRights": {
          "type": "array",
          "x-ms-visibility": "important",
          "x-ms-summary": "Access Rights",
          "description": "The access rights of the trustee.",
          "items": {
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Access Right",
            "description": "The access right of the trustee."
          }
        }
      }
    },
    "TrusteeWrite": {
      "type": "object",
      "required": [
        "trusteeId",
        "trusteeType",
        "accessRights"
      ],
      "properties": {
        "trusteeId": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "ID",
          "description": "Specify the ID of the trustee"
        },
        "trusteeType": {
          "type": "string",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Type",
          "description": "Specify the type of the trustee",
          "default": "custom"
        },
        "accessRights": {
          "type": "array",
          "x-ms-visibility": "important",
          "x-ms-summary": "Access Rights",
          "description": "Specify the access rights of the trustee",
          "items": {
            "type": "string",
            "x-ms-summary": "Access Right",
            "x-ms-visibility": "important",
            "description": "Select the access right of the trustee",
            "enum": [
              "see",
              "see_contents",
              "modify",
              "edit_attributes",
              "add_items",
              "reserve",
              "add_major_version",
              "delete_versions",
              "delete",
              "edit_permissions"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "See",
                "value": "see"
              },
              {
                "displayName": "See contents",
                "value": "see_contents"
              },
              {
                "displayName": "Modify",
                "value": "modify"
              },
              {
                "displayName": "Edit attributes",
                "value": "edit_attributes"
              },
              {
                "displayName": "Add items",
                "value": "add_items"
              },
              {
                "displayName": "Reserve",
                "value": "reserve"
              },
              {
                "displayName": "Add major version",
                "value": "add_major_version"
              },
              {
                "displayName": "Delete versions",
                "value": "delete_versions"
              },
              {
                "displayName": "Delete",
                "value": "delete"
              },
              {
                "displayName": "Edit permissions",
                "value": "edit_permissions"
              }
            ]
          }
        }
      }
    }
  },
  "parameters": {
    "FolderId": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-url-encoding": "single",
      "x-ms-summary": "ID",
      "description": "Specify the ID of the folder"
    },
    "FolderConfigurationKey": {
      "name": "configurationKey",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-url-encoding": "single",
      "x-ms-summary": "Content Type",
      "description": "Select the content type of the folder",
      "x-ms-dynamic-values": {
        "operationId": "GetConfigurationKeys",
        "value-path": "value",
        "value-title": "displayName",
        "parameters": {
          "type": "Folder"
        }
      }
    },
    "DocumentId": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-url-encoding": "single",
      "x-ms-summary": "ID",
      "description": "Specify the ID of the document"
    },
    "VersionId": {
      "name": "versionId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-url-encoding": "single",
      "x-ms-summary": "Version ID",
      "description": "Specify the version ID"
    },
    "DocumentConfigurationKey": {
      "name": "configurationKey",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-url-encoding": "single",
      "x-ms-summary": "Content Type",
      "description": "Select the content type of the document",
      "x-ms-dynamic-values": {
        "operationId": "GetConfigurationKeys",
        "value-path": "value",
        "value-title": "displayName",
        "parameters": {
          "type": "Document"
        }
      }
    },
    "WorkspaceId": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-url-encoding": "single",
      "x-ms-summary": "ID",
      "description": "Specify the ID of the business workspace"
    },
    "WorkspaceConfigurationKey": {
      "name": "configurationKey",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-url-encoding": "single",
      "x-ms-summary": "Content Type",
      "description": "Select the content type of the business workspace",
      "x-ms-dynamic-values": {
        "operationId": "GetConfigurationKeys",
        "value-path": "value",
        "value-title": "displayName",
        "parameters": {
          "type": "Workspace"
        }
      }
    },
    "ItemId": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-visibility": "important",
      "x-ms-url-encoding": "single",
      "x-ms-summary": "ID",
      "description": "Specify the ID of the item"
    },
    "WebHook": {
      "name": "body",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "required": [
          "WebHookUri"
        ],
        "properties": {
          "WebHookUri": {
            "type": "string",
            "description": "WebHookUri",
            "x-ms-notification-url": true,
            "x-ms-visibility": "internal",
            "title": "WebHookUri"
          },
          "Filter": {
            "type": "object",
            "properties": {
              "parentId": {
                "type": "string",
                "x-ms-visibility": "important",
                "x-ms-summary": "Parent ID",
                "description": "Specify the parent folder ID for which to trigger"
              },
              "ancestorId": {
                "type": "string",
                "x-ms-visibility": "important",
                "x-ms-summary": "Ancestor ID",
                "description": "Specify the ancestor ID for which to trigger"
              },
              "metadata": {
                "type": "array",
                "x-ms-visibility": "advanced",
                "x-ms-summary": "Metadata",
                "description": "Specify the metadata the DTreeCore should contain",
                "items": {
                  "type": "object",
                  "properties": {
                    "column": {
                      "type": "string",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Column",
[...]
