{
  "swagger": "2.0",
  "info": {
    "title": "Tesseron Invoice",
    "description": "This connector allows you to create activity recordings and position notes.",
    "contact": {
      "name": "Tesseron Support",
      "email": "development@llnet.de",
      "url": "https://www.docs.tesseron.de"
    },
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/tesseroninvoice",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/{connectionId}/CreateInvoicePositionNote": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Message": {
                  "type": "string",
                  "description": "Message"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "invoiceNoteId": {
                  "type": "string",
                  "description": "Invoice Note ID"
                }
              }
            }
          },
          "default": {
            "description": "default"
          }
        },
        "summary": "Create Position Note",
        "description": "This method allows you to create position notes.",
        "operationId": "CreateInvoicePositionNote",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "dateFrom": {
                  "type": "string",
                  "description": "Specify the start date",
                  "title": "Date from"
                },
                "dateTo": {
                  "type": "string",
                  "description": "Specify the end date",
                  "title": "Date to"
                },
                "pause": {
                  "type": "string",
                  "description": "Specify the pause",
                  "title": "Pause"
                },
                "noInvoice": {
                  "type": "boolean",
                  "description": "Specify whether the position note is not billable",
                  "title": "No Invoice",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "extraCharge": {
                  "type": "boolean",
                  "description": "Specify whether surcharges are calculated",
                  "title": "Extra Charge",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "hint": {
                  "type": "string",
                  "description": "Specify a hint for your position note",
                  "title": "Hint"
                },
                "username": {
                  "type": "string",
                  "description": "Specify a user name",
                  "title": "Username"
                },
                "ticketID": {
                  "type": "integer",
                  "description": "Specify a ticket id",
                  "title": "Ticket ID"
                },
                "serviceContractID": {
                  "type": "integer",
                  "description": "Specify a service contract id",
                  "title": "Service Contract ID"
                }
              },
              "required": [
                "dateFrom",
                "dateTo",
                "noInvoice",
                "extraCharge"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tesseroninvoice/#create-position-note"
        }
      }
    },
    "/{connectionId}/CreateActivityRecording": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Message": {
                  "type": "string",
                  "description": "Message"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                },
                "ActivityRecordingId": {
                  "type": "string",
                  "description": "Activity Recording ID"
                }
              }
            }
          },
          "default": {
            "description": "default"
          }
        },
        "summary": "Create Activity Recording",
        "description": "This method allows you to create activity recordings.",
        "operationId": "CreateActivityRecording",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "dateFrom": {
                  "type": "string",
                  "description": "Specify the start date",
                  "title": "Date from"
                },
                "dateTo": {
                  "type": "string",
                  "description": "Specify the end date",
                  "title": "Date to"
                },
                "bookText": {
                  "type": "string",
                  "description": "Specify a booking text for your activity recording",
                  "title": "Booking Text"
                },
                "noteText": {
                  "type": "string",
                  "description": "Specify a note text for your activity recording",
                  "title": "Note Text"
                },
                "ticketID": {
                  "type": "integer",
                  "description": "Specify a ticket id",
                  "title": "Ticket ID"
                },
                "projectId": {
                  "type": "integer",
                  "description": "Specify a project id",
                  "title": "Project ID"
                },
                "projectPhaseId": {
                  "type": "integer",
                  "description": "Specify a project phase id",
                  "title": "Project Phase ID"
                },
                "projectPhaseTaskId": {
                  "type": "integer",
                  "description": "Specify a project phase task id",
                  "title": "Project Phase Task ID"
                }
              },
              "required": [
                "dateFrom",
                "dateTo"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/tesseroninvoice/#create-activity-recording"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tesseron.de"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.llnet.de/data-protection/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Communication"
    }
  ],
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/tesseroninvoice"
  }
}
