{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "v1",
    "title": "Power Query Dataflows",
    "description": "Dataflows are a self-service, cloud-based, data preparation technology that allows you to ingest, transform and load data into Common Data Service environments, Power BI workspaces or your organization's Azure Data Lake Gen2 account.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft",
      "url": "https://go.microsoft.com/fwlink/?linkid=2134674"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/api/listgroups/forrefreshdataflow": {
      "get": {
        "x-ms-visibility": "internal",
        "operationId": "ListGroupsForRefreshDataflow",
        "description": "Get workspaces or environments",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceTypeParameter"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Groups"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation failed"
          }
        }
      }
    },
    "/{connectionId}/api/listgroups/foronrefreshcomplete": {
      "get": {
        "x-ms-visibility": "internal",
        "operationId": "ListGroupsForOnRefreshComplete",
        "description": "Get workspaces or environments",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceTypeParameter"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Groups"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation failed"
          }
        }
      }
    },
    "/{connectionId}/api/group/{groupIdForRefreshDataflow}/listdataflows/forrefreshdataflow": {
      "get": {
        "x-ms-visibility": "internal",
        "operationId": "ListDataflowsForRefreshDataflow",
        "description": "Get dataflows",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceTypeParameter"
          },
          {
            "$ref": "#/parameters/GroupIdParameterForRefreshDataflow"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dataflows"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation failed"
          }
        }
      }
    },
    "/{connectionId}/api/group/{groupIdForOnRefreshComplete}/listdataflows/foronrefreshcomplete": {
      "get": {
        "x-ms-visibility": "internal",
        "operationId": "ListDataflowsForOnRefreshComplete",
        "description": "Get dataflows",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceTypeParameter"
          },
          {
            "$ref": "#/parameters/GroupIdParameterForOnRefreshComplete"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Dataflows"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation failed"
          }
        }
      }
    },
    "/{connectionId}/api/groups/{groupIdForRefreshDataflow}/dataflows/{dataflowIdForRefreshDataflow}/refreshdataflow": {
      "post": {
        "operationId": "RefreshDataflow",
        "summary": "Refresh a dataflow",
        "description": "Initiate a dataflow refresh operation.",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceTypeParameter"
          },
          {
            "$ref": "#/parameters/GroupIdParameterForRefreshDataflow"
          },
          {
            "$ref": "#/parameters/DataflowIdParameterForRefreshDataflow"
          }
        ],
        "responses": {
          "202": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataflowModel"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dataflows/#refresh-a-dataflow"
        }
      }
    },
    "/{connectionId}/api/groups/{groupIdForOnRefreshComplete}/dataflows/{dataflowIdForOnRefreshComplete}/onrefreshcomplete": {
      "get": {
        "summary": "When a dataflow refresh completes",
        "description": "This operation triggers when a dataflow refresh completes.",
        "operationId": "OnRefreshComplete",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, initiate a new dataflow refresh.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/WorkspaceTypeParameter"
          },
          {
            "$ref": "#/parameters/GroupIdParameterForOnRefreshComplete"
          },
          {
            "$ref": "#/parameters/DataflowIdParameterForOnRefreshComplete"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RefreshModel"
            }
          },
          "202": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "502": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dataflows/#when-a-dataflow-refresh-completes"
        }
      }
    }
  },
  "definitions": {
    "Groups": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "x-ms-summary": "Group ID",
                "description": "The unique identifier of the group the dataflow was created in. A group can either be a workspace or environment."
              },
              "name": {
                "type": "string",
                "x-ms-summary": "Group name",
                "description": "The display name of the group"
              }
            }
          }
        }
      }
    },
    "Dataflows": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "x-ms-summary": "Dataflows ID",
                "description": "The unique identifier of the dataflow"
              },
              "name": {
                "type": "string",
                "x-ms-summary": "Dataflows name",
                "description": "The display name of the dataflow"
              },
              "description": {
                "type": "string",
                "x-ms-summary": "description",
                "description": "The discription of the dataflow"
              }
            }
          }
        }
      }
    },
    "DataflowModel": {
      "description": "The dataflow being refreshed",
      "type": "object",
      "properties": {
        "dataflowName": {
          "description": "Name of the dataflow",
          "type": "string",
          "x-ms-summary": "Dataflow Name"
        },
        "dataflowId": {
          "description": "Id of the dataflow",
          "type": "string",
          "x-ms-summary": "Dataflow Id"
        }
      }
    },
    "RefreshModel": {
      "description": "An individual dataflow refresh",
      "type": "object",
      "properties": {
        "dataflowId": {
          "description": "Id of the dataflow",
          "type": "string",
          "x-ms-summary": "Dataflow Id"
        },
        "dataflowName": {
          "description": "Name of the dataflow",
          "type": "string",
          "x-ms-summary": "Dataflow Name"
        },
        "refreshType": {
          "description": "Type of the dataflow refresh",
          "type": "string",
          "x-ms-summary": "Refresh Type"
        },
        "startTime": {
          "description": "Start time of the dataflow refresh",
          "type": "string",
          "x-ms-summary": "Start Time"
        },
        "endTime": {
          "description": "Completion time of the dataflow refresh",
          "type": "string",
          "x-ms-summary": "End Time"
        },
        "status": {
          "description": "Status of the dataflow refresh. Possible values are: 'Success', 'Failed', 'Cancelled'",
          "type": "string",
          "x-ms-summary": "Refresh Status"
        }
      }
    }
  },
  "parameters": {
    "WorkspaceTypeParameter": {
      "name": "workspaceType",
      "in": "query",
      "required": true,
      "type": "string",
      "enum": [
        "Workspace",
        "Environment"
      ],
      "x-ms-summary": "Group Type",
      "description": "Select workspace or environment"
    },
    "GroupIdParameterForRefreshDataflow": {
      "name": "groupIdForRefreshDataflow",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier of the workspace or environment",
      "x-ms-summary": "Group",
      "x-ms-dynamic-values": {
        "operationId": "ListGroupsForRefreshDataflow",
        "value-collection": "value",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "workspaceType": {
            "parameter": "workspaceType"
          }
        }
      }
    },
    "DataflowIdParameterForRefreshDataflow": {
      "name": "dataflowIdForRefreshDataflow",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "Dataflow",
      "description": "The unique identifier of the dataflow",
      "x-ms-dynamic-values": {
        "operationId": "ListDataflowsForRefreshDataflow",
        "value-collection": "value",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "workspaceType": {
            "parameter": "workspaceType"
          },
          "groupIdForRefreshDataflow": {
            "parameter": "groupIdForRefreshDataflow"
          }
        }
      }
    },
    "GroupIdParameterForOnRefreshComplete": {
      "name": "groupIdForOnRefreshComplete",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier of the workspace or environment",
      "x-ms-summary": "Group",
      "x-ms-dynamic-values": {
        "operationId": "ListGroupsForOnRefreshComplete",
        "value-collection": "value",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "workspaceType": {
            "parameter": "workspaceType"
          }
        }
      }
    },
    "DataflowIdParameterForOnRefreshComplete": {
      "name": "dataflowIdForOnRefreshComplete",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "Dataflow",
      "description": "The unique identifier of the dataflow",
      "x-ms-dynamic-values": {
        "operationId": "ListDataflowsForOnRefreshComplete",
        "value-collection": "value",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "workspaceType": {
            "parameter": "workspaceType"
          },
          "groupIdForOnRefreshComplete": {
            "parameter": "groupIdForOnRefreshComplete"
          }
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://go.microsoft.com/fwlink/?linkid=2137921"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/dataflows"
  },
  "basePath": "/apim/dataflows"
}