{
  "swagger": "2.0",
  "info": {
    "title": "Wayback Machine (Independent Publisher)",
    "description": "The Wayback Machine is a digital archive of the World Wide Web and it allows the user to go \"back in time\" and see how websites looked in the past.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_wayback@gmail.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/waybackmachineip",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/wayback/available": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL that is being checked by the query.",
                  "title": "URL"
                },
                "archived_snapshots": {
                  "type": "object",
                  "properties": {
                    "closest": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Status of the snapshot.",
                          "title": "Status"
                        },
                        "available": {
                          "type": "boolean",
                          "description": "Indication, whether the snapshot is available.",
                          "title": "Available"
                        },
                        "url": {
                          "type": "string",
                          "description": "URL for the stored snapshot.",
                          "title": "URL"
                        },
                        "timestamp": {
                          "type": "string",
                          "description": "Timestamp of the stored snapshot.",
                          "title": "Timestamp"
                        }
                      },
                      "description": "Details of the closest available snapshot to the queried timestamp.",
                      "title": "Closest"
                    }
                  },
                  "description": "Details of the archived snapshot or snapshots.",
                  "title": "Snapshots"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Timestamp used for the query.",
                  "title": "Timestamp"
                }
              }
            }
          }
        },
        "summary": "Get snapshot",
        "operationId": "GetSnapshot",
        "description": "Check to see if a given url is archived and currenlty accessible in the Wayback Machine.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "url",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "URL",
            "description": "The URL to test to see if is archived and currenlty accessible in the Wayback Machine."
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Timestamp",
            "description": "Timestamp (YYYYMMDD or YYYYMMDDhhmmss) to look up in Wayback. If not specified, the most recenty available capture in Wayback is returned."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/waybackmachineip/#get-snapshot"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://archive.org/help/wayback_api.php"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://archive.org/about/terms.php"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Website"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/waybackmachineip"
  }
}
