{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "FreshBooks",
    "description": "FreshBooks is a cloud based small business accounting software. Send invoices, track time, manage receipts and expenses.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/accounting/account/{accountid}/invoices/invoices": {
      "get": {
        "summary": "When an invoice is created or updated",
        "description": "Triggers when a new invoice is created or an existing one is updated.",
        "operationId": "TrigUpdatedInvoice",
        "x-ms-trigger-hint": "To see this trigger, create or update an invoice.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/Includes"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/InvoiceList"
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#when-an-invoice-is-created-or-updated"
        }
      }
    },
    "/{connectionId}/trigger/accounting/account/{accountid}/expenses/expenses": {
      "get": {
        "summary": "When an expense is created or updated",
        "description": "Triggers when a new expense is created or an existing one is updated.",
        "operationId": "TrigUpdatedExpense",
        "x-ms-trigger-hint": "To see this trigger, create or update an expense.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ExpenseList"
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#when-an-expense-is-created-or-updated"
        }
      }
    },
    "/{connectionId}/trigger/accounting/account/{accountid}/payments/payments": {
      "get": {
        "summary": "When a payment is recorded or updated",
        "description": "Triggers when a new payment is recorded or an existing one is updated.",
        "operationId": "TrigUpdatedPayment",
        "x-ms-trigger-hint": "To see this trigger, create or update a payment.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/Includes"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/PaymentList"
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#when-a-payment-is-recorded-or-updated"
        }
      }
    },
    "/{connectionId}/accounting/account/{accountid}/expenses/expenses": {
      "get": {
        "summary": "List expenses",
        "description": "Retrieves a list of all your expenses.",
        "operationId": "ListExpenses",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ExpenseList"
            }
          }
        },
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#list-expenses"
        }
      },
      "post": {
        "summary": "Create new expense",
        "description": "This operation creates a new expense in your account.",
        "operationId": "AddExpense",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "expense"
              ],
              "properties": {
                "expense": {
                  "type": "object",
                  "required": [
                    "amount",
                    "categoryid",
                    "date",
                    "staffid"
                  ],
                  "properties": {
                    "amount": {
                      "type": "object",
                      "required": [
                        "amount"
                      ],
                      "properties": {
                        "amount": {
                          "type": "string",
                          "x-ms-summary": "Amount",
                          "x-ms-visibility": "important"
                        },
                        "code": {
                          "description": "3-letter currency code.",
                          "type": "string",
                          "x-ms-summary": "Currency",
                          "x-ms-visibility": "important",
                          "enum": [
                            "AED",
                            "AMD",
                            "ANG",
                            "ARS",
                            "AUD",
                            "AWG",
                            "AZN",
                            "BAM",
                            "BBD",
                            "BDT",
                            "BGN",
                            "BHD",
                            "BIF",
                            "BMD",
                            "BND",
                            "BOB",
                            "BOV",
                            "BRL",
                            "BSD",
                            "BTN",
                            "BWP",
                            "BYN",
                            "BYR",
                            "BZD",
                            "CAD",
                            "CDF",
                            "CHE",
                            "CHF",
                            "CHW",
                            "CLF",
                            "CLP",
                            "CNY",
                            "COP",
                            "COU",
                            "CRC",
                            "CUC",
                            "CUP",
                            "CVE",
                            "CZK",
                            "DJF",
                            "DKK",
                            "DOP",
                            "EGP",
                            "ERN",
                            "ETB",
                            "EUR",
                            "FJD",
                            "FKP",
                            "GBP",
                            "GEL",
                            "GHS",
                            "GIP",
                            "GMD",
                            "GNF",
                            "GTQ",
                            "GYD",
                            "HKD",
                            "HNL",
                            "HRK",
                            "HTG",
                            "HUF",
                            "IDR",
                            "ILS",
                            "INR",
                            "IQD",
                            "IRR",
                            "ISK",
                            "JMD",
                            "JOD",
                            "JPY",
                            "KES",
                            "KGS",
                            "KHR",
                            "KMF",
                            "KPW",
                            "KRW",
                            "KWD",
                            "KYD",
                            "KZT",
                            "LAK",
                            "LBP",
                            "LKR",
                            "LRD",
                            "LSL",
                            "LYD",
                            "MAD",
                            "MDL",
                            "MGA",
                            "MKD",
                            "MMK",
                            "MNT",
                            "MOP",
                            "MRO",
                            "MUR",
                            "MVR",
                            "MWK",
                            "MXN",
                            "MXV",
                            "MYR",
                            "MZN",
                            "NAD",
                            "NGN",
                            "NIO",
                            "NOK",
                            "NPR",
                            "NZD",
                            "OMR",
                            "PAB",
                            "PEN",
                            "PGK",
                            "PHP",
                            "PKR",
                            "PLN",
                            "PYG",
                            "QAR",
                            "RON",
                            "RSD",
                            "RUB",
                            "RWF",
                            "SAR",
                            "SBD",
                            "SCR",
                            "SDG",
                            "SEK",
                            "SGD",
                            "SHP",
                            "SLL",
                            "SOS",
                            "SRD",
                            "SSP",
                            "STD",
                            "SVC",
                            "SYP",
                            "SZL",
                            "THB",
                            "TJS",
                            "TMT",
                            "TND",
                            "TOP",
                            "TRY",
                            "TTD",
                            "TWD",
                            "TZS",
                            "UAH",
                            "UGX",
                            "USD",
                            "USN",
                            "UYI",
                            "UYU",
                            "UZS",
                            "VEF",
                            "VND",
                            "VUV",
                            "WST",
                            "XAF",
                            "XAG",
                            "XAU",
                            "XBA",
                            "XBB",
                            "XBC",
                            "XBD",
                            "XCD",
                            "XDR",
                            "XOF",
                            "XPD",
                            "XPF",
                            "XPT",
                            "XSU",
                            "XTS",
                            "XUA",
                            "XXX",
                            "YER",
                            "ZAR",
                            "ZMW",
                            "ZWL"
                          ]
                        }
                      }
                    },
                    "categoryid": {
                      "format": "int32",
                      "description": "Pick an expense category.",
                      "type": "integer",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Category",
                      "x-ms-dynamic-values": {
                        "operationId": "ListCategory",
                        "value-path": "id",
                        "value-title": "category",
                        "parameters": {
                          "accountid": {
                            "parameter": "accountid"
                          },
                          "per_page": 100
                        }
                      }
                    },
                    "staffid": {
                      "format": "int32",
                      "description": "Pick the staff member to expense.",
                      "type": "integer",
                      "x-ms-summary": "Staff",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "ListStaff",
                        "value-path": "id",
                        "value-title": "display_name",
                        "parameters": {
                          "accountid": {
                            "parameter": "accountid"
                          },
                          "per_page": 100
                        }
                      }
                    },
                    "date": {
                      "description": "YYYY-MM-DD or ISO format datetime.",
                      "type": "string",
                      "x-ms-summary": "Date",
                      "x-ms-visibility": "important"
                    },
                    "vendor": {
                      "description": "Pick a vendor to expense.",
                      "type": "string",
                      "x-ms-summary": "Vendor",
                      "x-ms-dynamic-values": {
                        "operationId": "ListVendors",
                        "value-path": "vendor",
                        "value-title": "vendor",
                        "parameters": {
                          "accountid": {
                            "parameter": "accountid"
                          },
                          "per_page": 100
                        }
                      }
                    },
                    "notes": {
                      "type": "string",
                      "x-ms-summary": "Notes"
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "expense": {
                  "amount": {
                    "amount": "42",
                    "code": "EUR"
                  },
                  "categoryid": 4259061,
                  "date": "2009-11-24",
                  "vendor": "Arnold Vendor",
                  "notes": "sample notes",
                  "staffid": 1,
                  "status": 3
                }
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Expense"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#create-new-expense"
        }
      }
    },
    "/{connectionId}/accounting/account/{accountid}/expenses/expenses/{expenseid}": {
      "put": {
        "summary": "Update expense",
        "description": "This operation is used to update an existing expense in your account.",
        "operationId": "UpdateExpense",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "$ref": "#/parameters/ExpenseId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "expense"
              ],
              "properties": {
                "expense": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "x-ms-summary": "Amount",
                          "x-ms-visibility": "important"
                        },
                        "code": {
                          "description": "3-letter currency code.",
                          "type": "string",
                          "x-ms-summary": "Currency",
                          "x-ms-visibility": "important",
                          "enum": [
                            "AED",
                            "AMD",
                            "ANG",
                            "ARS",
                            "AUD",
                            "AWG",
                            "AZN",
                            "BAM",
                            "BBD",
                            "BDT",
                            "BGN",
                            "BHD",
                            "BIF",
                            "BMD",
                            "BND",
                            "BOB",
                            "BOV",
                            "BRL",
                            "BSD",
                            "BTN",
                            "BWP",
                            "BYN",
                            "BYR",
                            "BZD",
                            "CAD",
                            "CDF",
                            "CHE",
                            "CHF",
                            "CHW",
                            "CLF",
                            "CLP",
                            "CNY",
                            "COP",
                            "COU",
                            "CRC",
                            "CUC",
                            "CUP",
                            "CVE",
                            "CZK",
                            "DJF",
                            "DKK",
                            "DOP",
                            "EGP",
                            "ERN",
                            "ETB",
                            "EUR",
                            "FJD",
                            "FKP",
                            "GBP",
                            "GEL",
                            "GHS",
                            "GIP",
                            "GMD",
                            "GNF",
                            "GTQ",
                            "GYD",
                            "HKD",
                            "HNL",
                            "HRK",
                            "HTG",
                            "HUF",
                            "IDR",
                            "ILS",
                            "INR",
                            "IQD",
                            "IRR",
                            "ISK",
                            "JMD",
                            "JOD",
                            "JPY",
                            "KES",
                            "KGS",
                            "KHR",
                            "KMF",
                            "KPW",
                            "KRW",
                            "KWD",
                            "KYD",
                            "KZT",
                            "LAK",
                            "LBP",
                            "LKR",
                            "LRD",
                            "LSL",
                            "LYD",
                            "MAD",
                            "MDL",
                            "MGA",
                            "MKD",
                            "MMK",
                            "MNT",
                            "MOP",
                            "MRO",
                            "MUR",
                            "MVR",
                            "MWK",
                            "MXN",
                            "MXV",
                            "MYR",
                            "MZN",
                            "NAD",
                            "NGN",
                            "NIO",
                            "NOK",
                            "NPR",
                            "NZD",
                            "OMR",
                            "PAB",
                            "PEN",
                            "PGK",
                            "PHP",
                            "PKR",
                            "PLN",
                            "PYG",
                            "QAR",
                            "RON",
                            "RSD",
                            "RUB",
                            "RWF",
                            "SAR",
                            "SBD",
                            "SCR",
                            "SDG",
                            "SEK",
                            "SGD",
                            "SHP",
                            "SLL",
                            "SOS",
                            "SRD",
                            "SSP",
                            "STD",
                            "SVC",
                            "SYP",
                            "SZL",
                            "THB",
                            "TJS",
                            "TMT",
                            "TND",
                            "TOP",
                            "TRY",
                            "TTD",
                            "TWD",
                            "TZS",
                            "UAH",
                            "UGX",
                            "USD",
                            "USN",
                            "UYI",
                            "UYU",
                            "UZS",
                            "VEF",
                            "VND",
                            "VUV",
                            "WST",
                            "XAF",
                            "XAG",
                            "XAU",
                            "XBA",
                            "XBB",
                            "XBC",
                            "XBD",
                            "XCD",
                            "XDR",
                            "XOF",
                            "XPD",
                            "XPF",
                            "XPT",
                            "XSU",
                            "XTS",
                            "XUA",
                            "XXX",
                            "YER",
                            "ZAR",
                            "ZMW",
                            "ZWL"
                          ]
                        }
                      }
                    },
                    "categoryid": {
                      "format": "int32",
                      "description": "Pick an expense category.",
                      "type": "integer",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Category",
                      "x-ms-dynamic-values": {
                        "operationId": "ListCategory",
                        "value-path": "id",
                        "value-title": "category",
                        "parameters": {
                          "accountid": {
                            "parameter": "accountid"
                          },
                          "per_page": 100
                        }
                      }
                    },
                    "staffid": {
                      "format": "int32",
                      "description": "Pick the staff member to expense.",
                      "type": "integer",
                      "x-ms-summary": "Staff",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "ListStaff",
                        "value-path": "id",
                        "value-title": "display_name",
                        "parameters": {
                          "accountid": {
                            "parameter": "accountid"
                          },
                          "per_page": 100
                        }
                      }
                    },
                    "date": {
                      "description": "YYYY-MM-DD or ISO format datetime.",
                      "type": "string",
                      "x-ms-summary": "Date",
                      "x-ms-visibility": "important"
                    },
                    "vendor": {
                      "description": "Pick a vendor to expense.",
                      "type": "string",
                      "x-ms-summary": "Vendor",
                      "x-ms-dynamic-values": {
                        "operationId": "ListVendors",
                        "value-path": "vendor",
                        "value-title": "vendor",
                        "parameters": {
                          "accountid": {
                            "parameter": "accountid"
                          },
                          "per_page": 100
                        }
                      }
                    },
                    "notes": {
                      "type": "string",
                      "x-ms-summary": "Notes"
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-test-value": {
                "expense": {
                  "amount": {
                    "amount": "42",
                    "code": "EUR"
                  },
                  "categoryid": 4259061,
                  "date": "2009-11-24",
                  "vendor": "Arnold Vendor",
                  "notes": "sample notes",
                  "staffid": 1,
                  "status": 3
                }
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#update-expense"
        }
      }
    },
    "/{connectionId}/placeholder/accounting/account/{accountid}/expenses/expenses/{expenseid}": {
      "put": {
        "summary": "Delete expense",
        "description": "This operation is used to delete an existing expense from your account.",
        "operationId": "DeleteExpense",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "$ref": "#/parameters/ExpenseId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "expense"
              ],
              "properties": {
                "expense": {
                  "description": "expense",
                  "type": "object",
                  "required": [
                    "vis_state"
                  ],
                  "properties": {
                    "vis_state": {
                      "format": "int32",
                      "description": "vis_state",
                      "type": "integer",
                      "x-ms-summary": "vis_state",
                      "default": 1,
                      "x-ms-visibility": "internal"
                    }
                  },
                  "x-ms-summary": "expense"
                }
              },
              "x-ms-test-value": {
                "expense": {
                  "vis_state": 1
                }
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#delete-expense"
        }
      }
    },
    "/{connectionId}/accounting/account/{accountid}/users/staffs": {
      "get": {
        "summary": "List Staff",
        "description": "List staff.",
        "operationId": "ListStaff",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/StaffList"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#list-staff"
        }
      }
    },
    "/{connectionId}/accounting/account/{accountid}/expenses/categories": {
      "get": {
        "summary": "List Category",
        "description": "List categories.",
        "operationId": "ListCategory",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CategoryList"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#list-category"
        }
      }
    },
    "/{connectionId}/accounting/account/{accountid}/users/clients": {
      "post": {
        "summary": "Add new client",
        "description": "This operation creates a new client in your account. At least one field of the client (i.e. first name, last name, organization, email, etc) must be specified otherwise the operation will fail.",
        "operationId": "AddClient",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "client"
              ],
              "properties": {
                "client": {
                  "description": "client",
                  "type": "object",
                  "properties": {
                    "fname": {
                      "type": "string",
                      "x-ms-summary": "First Name",
                      "x-ms-visibility": "important"
                    },
                    "lname": {
                      "type": "string",
                      "x-ms-summary": "Last Name",
                      "x-ms-visibility": "important"
                    },
                    "organization": {
                      "type": "string",
                      "x-ms-summary": "Organization",
                      "x-ms-visibility": "important"
                    },
                    "email": {
                      "type": "string",
                      "x-ms-summary": "Email Address",
                      "x-ms-visibility": "advanced"
                    },
                    "bus_phone": {
                      "type": "string",
                      "x-ms-summary": "Phone Number",
                      "x-ms-visibility": "advanced"
                    },
                    "currency_code": {
                      "description": "3-letter currency code.",
                      "type": "string",
                      "x-ms-summary": "Currency",
                      "x-ms-visibility": "advanced",
                      "enum": [
                        "AED",
                        "AMD",
                        "ANG",
                        "ARS",
                        "AUD",
                        "AWG",
                        "AZN",
                        "BAM",
                        "BBD",
                        "BDT",
                        "BGN",
                        "BHD",
                        "BIF",
                        "BMD",
                        "BND",
                        "BOB",
                        "BOV",
                        "BRL",
                        "BSD",
                        "BTN",
                        "BWP",
                        "BYN",
                        "BYR",
                        "BZD",
                        "CAD",
                        "CDF",
                        "CHE",
                        "CHF",
                        "CHW",
                        "CLF",
                        "CLP",
                        "CNY",
                        "COP",
                        "COU",
                        "CRC",
                        "CUC",
                        "CUP",
                        "CVE",
                        "CZK",
                        "DJF",
                        "DKK",
                        "DOP",
                        "EGP",
                        "ERN",
                        "ETB",
                        "EUR",
                        "FJD",
                        "FKP",
                        "GBP",
                        "GEL",
                        "GHS",
                        "GIP",
                        "GMD",
                        "GNF",
                        "GTQ",
                        "GYD",
                        "HKD",
                        "HNL",
                        "HRK",
                        "HTG",
                        "HUF",
                        "IDR",
                        "ILS",
                        "INR",
                        "IQD",
                        "IRR",
                        "ISK",
                        "JMD",
                        "JOD",
                        "JPY",
                        "KES",
                        "KGS",
                        "KHR",
                        "KMF",
                        "KPW",
                        "KRW",
                        "KWD",
                        "KYD",
                        "KZT",
                        "LAK",
                        "LBP",
                        "LKR",
                        "LRD",
                        "LSL",
                        "LYD",
                        "MAD",
                        "MDL",
                        "MGA",
                        "MKD",
                        "MMK",
                        "MNT",
                        "MOP",
                        "MRO",
                        "MUR",
                        "MVR",
                        "MWK",
                        "MXN",
                        "MXV",
                        "MYR",
                        "MZN",
                        "NAD",
                        "NGN",
                        "NIO",
                        "NOK",
                        "NPR",
                        "NZD",
                        "OMR",
                        "PAB",
                        "PEN",
                        "PGK",
                        "PHP",
                        "PKR",
                        "PLN",
                        "PYG",
                        "QAR",
                        "RON",
                        "RSD",
                        "RUB",
                        "RWF",
                        "SAR",
                        "SBD",
                        "SCR",
                        "SDG",
                        "SEK",
                        "SGD",
                        "SHP",
                        "SLL",
                        "SOS",
                        "SRD",
                        "SSP",
                        "STD",
                        "SVC",
                        "SYP",
                        "SZL",
                        "THB",
                        "TJS",
                        "TMT",
                        "TND",
                        "TOP",
                        "TRY",
                        "TTD",
                        "TWD",
                        "TZS",
                        "UAH",
                        "UGX",
                        "USD",
                        "USN",
                        "UYI",
                        "UYU",
                        "UZS",
                        "VEF",
                        "VND",
                        "VUV",
                        "WST",
                        "XAF",
                        "XAG",
                        "XAU",
                        "XBA",
                        "XBB",
                        "XBC",
                        "XBD",
                        "XCD",
                        "XDR",
                        "XOF",
                        "XPD",
                        "XPF",
                        "XPT",
                        "XSU",
                        "XTS",
                        "XUA",
                        "XXX",
                        "YER",
                        "ZAR",
                        "ZMW",
                        "ZWL"
                      ]
                    },
                    "p_street": {
                      "type": "string",
                      "x-ms-summary": "Street Address 1",
                      "x-ms-visibility": "advanced"
                    },
                    "p_street2": {
                      "type": "string",
                      "x-ms-summary": "Street Address 2",
                      "x-ms-visibility": "advanced"
                    },
                    "p_city": {
                      "type": "string",
                      "x-ms-summary": "City",
                      "x-ms-visibility": "advanced"
                    },
                    "p_code": {
                      "type": "string",
                      "x-ms-summary": "Postal Code",
                      "x-ms-visibility": "advanced"
                    },
                    "p_country": {
                      "type": "string",
                      "x-ms-summary": "Country",
                      "x-ms-visibility": "advanced"
                    },
                    "p_province": {
                      "type": "string",
                      "x-ms-summary": "Province",
                      "x-ms-visibility": "advanced"
                    }
                  }
                }
              },
              "x-ms-test-value": {
                "client": {
                  "fname": "johny",
                  "lname": "doe",
                  "organization": "abcorp",
                  "email": "john.dooeee@abcorp.com",
                  "bus_phone": "1231231234",
                  "currency_code": "EUR",
                  "p_street": "100 north ave",
                  "p_street2": "unit 10",
                  "p_city": "smallville",
                  "p_code": "11111",
                  "p_country": "wonderland",
                  "p_province": "foobar"
                }
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Client"
            }
          }
        },
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#add-new-client"
        }
      }
    },
    "/{connectionId}/auth/api/v1/users/me": {
      "get": {
        "summary": "My User Information",
        "description": "Get my user information.",
        "operationId": "MyUserInformation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/BussinessInformation"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#my-user-information"
        }
      }
    },
    "/{connectionId}/accounting/account/{accountid}/expenses/vendors": {
      "get": {
        "summary": "List Vendors",
        "description": "List vendors.",
        "operationId": "ListVendors",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/VendorList"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/freshbooks/#list-vendors"
        }
      }
    }
  },
  "definitions": {
    "BussinessInformation": {
      "description": "business_memberships",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "business": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "x-ms-summary": "Name",
                "x-ms-visibility": "advanced"
              },
              "account_id": {
                "type": "string",
                "x-ms-summary": "Account Id",
                "x-ms-visibility": "advanced"
              }
            },
            "x-ms-visibility": "advanced"
          }
        }
      },
      "x-ms-summary": "business_memberships",
      "x-ms-visibility": "advanced"
    },
    "StaffList": {
      "description": "staff",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "description": "id",
            "type": "integer",
            "x-ms-summary": "id",
            "x-ms-visibility": "advanced"
          },
          "display_name": {
            "description": "display_name",
            "type": "string",
            "x-ms-summary": "display_name",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "x-ms-summary": "staff",
      "x-ms-visibility": "advanced"
    },
    "ExpenseList": {
      "description": "Array of expenses.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Expense"
      },
      "x-ms-summary": "Expenses",
      "x-ms-visibility": "advanced"
    },
    "Expense": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Unique to this business id for expense.",
          "type": "integer",
          "x-ms-summary": "Expense ID",
          "x-ms-visibility": "important"
        },
        "markup_percent": {
          "description": "Decimal, percent to mark expense up.",
          "type": "string",
          "x-ms-summary": "Markup Percent",
          "x-ms-visibility": "important"
        },
        "projectid": {
          "format": "int32",
          "description": "Id of related project, if applicable.",
          "type": "integer",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        },
        "clientid": {
          "format": "int32",
          "description": "Id of related client, if applicable.",
          "type": "integer",
          "x-ms-summary": "Client Id",
          "x-ms-visibility": "advanced"
        },
        "taxPercent1": {
          "description": "Decimal, first tax percent.",
          "type": "string",
          "x-ms-summary": "Tax Percent 1",
          "x-ms-visibility": "advanced"
        },
        "taxName1": {
          "description": "Name of first tax.",
          "type": "string",
          "x-ms-summary": "Tax Name 1",
          "x-ms-visibility": "advanced"
        },
        "taxAmount1": {
          "type": "object",
          "properties": {
            "amount": {
              "description": "Amount of first tax.",
              "type": "string",
              "x-ms-summary": "First task amount",
              "x-ms-visibility": "advanced"
            },
            "code": {
              "description": "3-letter currency code.",
              "type": "string",
              "x-ms-summary": "First tax currency code",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "taxPercent2": {
          "description": "Decimal, second tax percent.",
          "type": "string",
          "x-ms-summary": "Tax Percent 2",
          "x-ms-visibility": "advanced"
        },
        "taxName2": {
          "description": "Name of second tax.",
          "type": "string",
          "x-ms-summary": "Tax Name 2",
          "x-ms-visibility": "advanced"
        },
        "taxAmount2": {
          "type": "object",
          "properties": {
            "amount": {
              "description": "Amount of second tax.",
              "type": "string",
              "x-ms-summary": "Second tax amount",
              "x-ms-visibility": "advanced"
            },
            "code": {
              "description": "3-letter currency code.",
              "type": "string",
              "x-ms-summary": "Second tax currency code",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-visibility": "advanced"
        },
        "invoiceid": {
          "description": "Id of related invoice, if applicable.",
          "type": "integer",
          "x-ms-summary": "Invoice Id",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "format": "int32",
          "description": "Value from the expense status table.",
          "type": "integer",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "bank_name": {
          "description": "Name of bank expense was imported from, if applicable.",
          "type": "string",
          "x-ms-summary": "Bank Name",
          "x-ms-visibility": "advanced"
        },
        "updated": {
          "description": "When the expense was last updated.",
          "type": "string",
          "x-ms-summary": "Updated",
          "x-ms-visibility": "internal"
        },
        "vendor": {
          "description": "Name of vendor.",
          "type": "string",
          "x-ms-summary": "Vendor",
          "x-ms-visibility": "important"
        },
        "has_receipt": {
          "description": "True if the receipt is attached.",
          "type": "boolean",
          "x-ms-summary": "Has Receipt",
          "x-ms-visibility": "important"
        },
        "ext_systemid": {
          "format": "int32",
          "description": "Id of related contractor system, if applicable.",
          "type": "integer",
          "x-ms-summary": "External System Id",
          "x-ms-visibility": "advanced"
        },
        "date": {
          "description": "Date of the expense.",
          "type": "string",
          "x-ms-summary": "Date",
          "x-ms-visibility": "important"
        },
        "transactionid": {
          "description": "Id of related transaction, if applicable.",
          "type": "string",
          "x-ms-summary": "Transaction Id",
          "x-ms-visibility": "advanced"
        },
        "notes": {
          "description": "Expense notes.",
          "type": "string",
          "x-ms-summary": "Notes",
          "x-ms-visibility": "important"
        },
        "account_name": {
          "description": "Name of related account, if applicable.",
          "type": "string",
          "x-ms-summary": "Account Name",
          "x-ms-visibility": "important"
        },
        "amount": {
          "type": "object",
          "properties": {
            "amount": {
              "description": "Decimal value.",
              "type": "string",
              "x-ms-summary": "Amount",
              "x-ms-visibility": "important"
            },
            "code": {
              "description": "3-letter currency code.",
              "type": "string",
              "x-ms-summary": "Currency Code",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        },
        "compounded_tax": {
          "description": "True if tax 2 was a compounded tax.",
          "type": "boolean",
          "x-ms-summary": "Compounded Tax",
          "x-ms-visibility": "advanced"
        },
        "accountid": {
          "description": "Id of expense account, if applicable.",
          "type": "string",
          "x-ms-summary": "Account Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "InvoiceList": {
      "description": "Array of invoices.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Invoice"
      },
      "x-ms-summary": "Invoices",
      "x-ms-visibility": "advanced"
    },
    "Invoice": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Unique-to-this-system invoice id.",
          "type": "integer",
          "x-ms-summary": "Invoice ID",
          "x-ms-visibility": "important"
        },
        "invoice_number": {
          "description": "User-specified and visible invoice id.",
          "type": "string",
          "x-ms-summary": "Invoice Number",
          "x-ms-visibility": "important"
        },
        "accountid": {
          "description": "Unique id for system.",
          "type": "string",
          "x-ms-summary": "Account ID",
          "x-ms-visibility": "advanced"
        },
        "currency_code": {
          "description": "Three-letter currency code for invoice.",
          "type": "string",
          "x-ms-summary": "3-letter currency code",
          "x-ms-visibility": "important"
        },
        "v3_status": {
          "description": "Invoice status.",
          "type": "string",
          "x-ms-summary": "Invoice status",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "Description of first line of invoice.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        },
        "notes": {
          "description": "Notes listed on invoice.",
          "type": "string",
          "x-ms-summary": "Notes",
          "x-ms-visibility": "advanced"
        },
        "language": {
          "description": "Two-letter language code of the invoice.",
          "type": "string",
          "x-ms-summary": "Two-letter language code",
          "x-ms-visibility": "advanced"
        },
        "customerid": {
          "format": "int32",
          "description": "Unique-to-this-system client-id.",
          "type": "integer",
          "x-ms-summary": "Customer ID",
          "x-ms-visibility": "advanced"
        },
        "organization": {
          "description": "Name of organization being invoiced.",
          "type": "string",
          "x-ms-summary": "Organization invoiced",
          "x-ms-visibility": "important"
        },
        "fname": {
          "description": "First name of the client on invoice.",
          "type": "string",
          "x-ms-summary": "Customer First Name",
          "x-ms-visibility": "important"
        },
        "lname": {
          "description": "Last name of the client on invoice.",
          "type": "string",
          "x-ms-summary": "Customer Last Name",
          "x-ms-visibility": "important"
        },
        "create_date": {
          "description": "Date invoice was created, YYYY-MM-DD format.",
          "type": "string",
          "x-ms-summary": "Invoice create date",
          "x-ms-visibility": "important"
        },
        "due_date": {
          "description": "Date invoice is marked as due by, YYYY-MM-DD format.",
          "type": "string",
          "x-ms-summary": "Invoice due date",
          "x-ms-visibility": "important"
        },
        "updated": {
          "description": "Time invoice was last updated, YYYY-MM-DD HH:MM:SS format.",
          "type": "string",
          "x-ms-summary": "Last Updated",
          "x-ms-visibility": "advanced"
        },
        "created_at": {
          "description": "Time invoice was created, YYYY-MM-DD HH:MM:SS format.",
          "type": "string",
          "x-ms-summary": "Create Date",
          "x-ms-visibility": "advanced"
        },
        "date_paid": {
          "description": "Date invoice was fully paid, YYYY-MM-DD format.",
          "type": "string",
          "x-ms-summary": "Invoice paid date",
          "x-ms-visibility": "advanced"
        },
        "payment_status": {
          "description": "Description of payment status. One of 'unpaid', 'partial', 'paid', and 'auto-paid'.",
          "type": "string",
          "x-ms-summary": "Payment Status",
          "x-ms-visibility": "advanced"
        },
        "amount": {
          "type": "object",
          "properties": {
            "amount": {
              "description": "Total amount of invoice, to two decimal places.",
              "type": "string",
              "x-ms-summary": "Invoice Amount",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        },
        "paid": {
          "type": "object",
          "properties": {
            "amount": {
              "description": "Amount paid on invoice, to two decimal places.",
              "type": "string",
              "x-ms-summary": "Amount Paid",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        },
        "outstanding": {
          "type": "object",
          "properties": {
            "amount": {
              "description": "Amount outstanding on invoice, to two decimal places.",
              "type": "string",
              "x-ms-summary": "Outstanding Amount",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        },
        "discount": {
          "type": "object",
          "properties": {
            "amount": {
              "description": "Amount of discount, to two decimal places.",
              "type": "string",
              "x-ms-summary": "Discount Amount",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        },
        "client": {
          "type": "object",
          "properties": {
            "email": {
              "description": "Client's email.",
              "type": "string",
              "x-ms-summary": "Email",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "PaymentList": {
      "description": "Array of payments.",
      "type": "array",
      "items": {
        "$ref": "#/definitions/Payment"
      },
      "x-ms-summary": "Payments",
      "x-ms-visibility": "advanced"
    },
    "Payment": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Unique-to-this-system payment id.",
          "type": "integer",
          "x-ms-summary": "Payment ID",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Type of payment - Cash, check, credit",
          "type": "string",
          "x-ms-summary": "Payment Type",
          "x-ms-visibility": "important"
        },
        "note": {
          "description": "Notes listed on the payment.",
          "type": "string",
          "x-ms-summary": "Note",
          "x-ms-visibility": "advanced"
        },
        "date": {
          "description": "Date the payment was made, YYYY-MM-DD format.",
          "type": "string",
          "x-ms-summary": "Payment date",
          "x-ms-visibility": "important"
        },
        "clientid": {
          "format": "int32",
          "description": "Unique-to-this-system client-id.",
          "type": "integer",
          "x-ms-summary": "Customer ID",
          "x-ms-visibility": "advanced"
        },
        "amount": {
          "type": "object",
          "properties": {
            "amount": {
              "description": "Total amount of the payment, to two decimal places.",
              "type": "string",
              "x-ms-summary": "Invoice Amount",
              "x-ms-visibility": "important"
            },
            "code": {
              "description": "Three-letter currency code.",
              "type": "string",
              "x-ms-summary": "3-letter currency code",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        },
        "accounting_systemid": {
          "description": "Unique id for business.",
          "type": "string",
          "x-ms-summary": "Account ID",
          "x-ms-visibility": "advanced"
        },
        "invoiceid": {
          "format": "int32",
          "description": "ID of the related invoice.",
          "type": "integer",
          "x-ms-summary": "Invoice ID",
          "x-ms-visibility": "advanced"
        },
        "updated": {
          "description": "Time payment was last updated at, YYYY-MM-DD HH:MM:SS format.",
          "type": "string",
          "x-ms-summary": "Last Updated",
          "x-ms-visibility": "internal"
        },
        "client": {
          "type": "object",
          "properties": {
            "fname": {
              "description": "Client's first name.",
              "type": "string",
              "x-ms-summary": "First Name",
              "x-ms-visibility": "important"
            },
            "lname": {
              "description": "Client's last name.",
              "type": "string",
              "x-ms-summary": "Last Name",
              "x-ms-visibility": "important"
            },
            "email": {
              "description": "Client's email.",
              "type": "string",
              "x-ms-summary": "Email",
              "x-ms-visibility": "important"
            },
            "username": {
              "description": "Username used by client to log in.",
              "type": "string",
              "x-ms-summary": "Username",
              "x-ms-visibility": "important"
            },
            "organization": {
              "description": "Name of client's business.",
              "type": "string",
              "x-ms-summary": "Organization",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "properties": {
            "result": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "description": "category",
                      "type": "string",
                      "x-ms-summary": "category",
                      "x-ms-visibility": "advanced"
                    },
                    "created_at": {
                      "description": "created_at",
                      "type": "string",
                      "x-ms-summary": "created_at",
                      "x-ms-visibility": "advanced"
                    },
                    "updated_at": {
                      "description": "updated_at",
                      "type": "string",
                      "x-ms-summary": "updated_at",
                      "x-ms-visibility": "advanced"
                    },
                    "categoryid": {
                      "format": "int32",
                      "description": "categoryid",
                      "type": "integer",
                      "x-ms-summary": "categoryid",
                      "x-ms-visibility": "advanced"
                    },
                    "is_editable": {
                      "description": "is_editable",
                      "type": "boolean",
                      "x-ms-summary": "is_editable",
                      "x-ms-visibility": "advanced"
                    },
                    "is_cogs": {
                      "description": "is_cogs",
                      "type": "boolean",
                      "x-ms-summary": "is_cogs",
                      "x-ms-visibility": "advanced"
                    },
                    "parentid": {
                      "description": "parentid",
                      "type": "string",
                      "x-ms-summary": "parentid",
                      "x-ms-visibility": "advanced"
                    },
                    "vis_state": {
                      "format": "int32",
                      "description": "vis_state",
                      "type": "integer",
                      "x-ms-summary": "vis_state",
                      "x-ms-visibility": "advanced"
                    },
                    "id": {
                      "format": "int32",
                      "description": "id",
                      "type": "integer",
                      "x-ms-summary": "id",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "response",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Client": {
      "type": "object",
      "properties": {
        "response": {
          "description": "response",
          "type": "object",
          "properties": {
            "result": {
              "description": "result",
              "type": "object",
              "properties": {
                "client": {
                  "description": "client",
                  "type": "object",
                  "properties": {
                    "fname": {
                      "description": "Client's first name.",
                      "type": "string",
                      "x-ms-summary": "First Name",
                      "x-ms-visibility": "important"
                    },
                    "lname": {
                      "description": "Client's last name.",
                      "type": "string",
                      "x-ms-summary": "Last Name",
                      "x-ms-visibility": "important"
                    },
                    "fax": {
                      "description": "Client's fax number.",
                      "type": "string",
                      "x-ms-summary": "Fa Number",
                      "x-ms-visibility": "advanced"
                    },
                    "vat_number": {
                      "description": "Value added tax number.",
                      "type": "string",
                      "x-ms-summary": "VAT Number",
                      "x-ms-visibility": "advanced"
                    },
                    "vat_name": {
                      "description": "Value added tax name.",
                      "type": "string",
                      "x-ms-summary": "VAT Name",
                      "x-ms-visibility": "advanced"
                    },
                    "id": {
                      "format": "int32",
                      "description": "Unique to this business id for client.",
                      "type": "integer",
                      "x-ms-summary": "Client Id",
                      "x-ms-visibility": "advanced"
                    },
                    "s_province": {
                      "description": "Shipping address.",
                      "type": "string",
                      "x-ms-summary": "Province",
                      "x-ms-visibility": "advanced"
                    },
                    "s_country": {
                      "description": "Shipping address.",
                      "type": "string",
                      "x-ms-summary": "Country",
                      "x-ms-visibility": "advanced"
                    },
                    "s_city": {
                      "description": "Shipping address.",
                      "type": "string",
                      "x-ms-summary": "City",
                      "x-ms-visibility": "advanced"
                    },
                    "s_street": {
                      "description": "Shipping address.",
                      "type": "string",
                      "x-ms-summary": "Street",
                      "x-ms-visibility": "advanced"
                    },
                    "s_street2": {
                      "description": "Shipping address.",
                      "type": "string",
                      "x-ms-summary": "Street 2",
                      "x-ms-visibility": "advanced"
                    },
                    "s_code": {
                      "description": "Shipping address.",
                      "type": "string",
                      "x-ms-summary": "Postal Code",
                      "x-ms-visibility": "advanced"
                    },
                    "note": {
                      "description": "Notes kept by admin about client.",
                      "type": "string",
                      "x-ms-summary": "Note",
                      "x-ms-visibility": "important"
                    },
                    "mob_phone": {
                      "description": "Mobile phone number.",
                      "type": "string",
                      "x-ms-summary": "Mobile Phone",
                      "x-ms-visibility": "important"
                    },
                    "home_phone": {
                      "description": "Home phone number.",
                      "type": "string",
                      "x-ms-summary": "Home Phone",
                      "x-ms-visibility": "important"
                    },
                    "company_industry": {
                      "description": "Description of industry client is in.",
                      "type": "string",
                      "x-ms-summary": "Company Industry",
                      "x-ms-visibility": "important"
                    },
                    "email": {
                      "description": "Client's email.",
                      "type": "string",
                      "x-ms-summary": "Email",
                      "x-ms-visibility": "important"
                    },
                    "username": {
                      "description": "Username used by client to log in.",
                      "type": "string",
                      "x-ms-summary": "Username",
                      "x-ms-visibility": "important"
                    },
                    "updated": {
                      "description": "Updated",
                      "type": "string",
                      "x-ms-summary": "Updated",
                      "x-ms-visibility": "internal"
                    },
                    "p_province": {
                      "description": "Billing address.",
                      "type": "string",
                      "x-ms-summary": "Province",
                      "x-ms-visibility": "important"
                    },
                    "p_country": {
                      "description": "Billing address.",
                      "type": "string",
                      "x-ms-summary": "Country",
                      "x-ms-visibility": "important"
                    },
                    "p_city": {
                      "description": "Billing address.",
                      "type": "string",
                      "x-ms-summary": "City",
                      "x-ms-visibility": "important"
                    },
                    "p_street": {
                      "description": "Billing address.",
                      "type": "string",
                      "x-ms-summary": "Street",
                      "x-ms-visibility": "important"
                    },
                    "p_code": {
                      "description": "Billing address.",
                      "type": "string",
                      "x-ms-summary": "Postal Code",
                      "x-ms-visibility": "important"
                    },
                    "p_street2": {
                      "description": "Billing address.",
                      "type": "string",
                      "x-ms-summary": "Street 2",
                      "x-ms-visibility": "important"
                    },
                    "bus_phone": {
                      "description": "Billing address.",
                      "type": "string",
                      "x-ms-summary": "Phone",
                      "x-ms-visibility": "important"
                    },
                    "company_size": {
                      "description": "Billing address.",
                      "type": "string",
                      "x-ms-summary": "Size",
                      "x-ms-visibility": "advanced"
                    },
                    "accounting_systemid": {
                      "description": "Unique identifier of business client exists on.",
                      "type": "string",
                      "x-ms-summary": "System Id",
                      "x-ms-visibility": "advanced"
                    },
                    "language": {
                      "description": "Shortcode indicating user language.",
                      "type": "string",
                      "x-ms-summary": "Language",
                      "x-ms-visibility": "advanced"
                    },
                    "organization": {
                      "description": "Name for client's business.",
                      "type": "string",
                      "x-ms-summary": "Organization",
                      "x-ms-visibility": "important"
                    },
                    "currency_code": {
                      "description": "3-letter shortcode for preferred currency.",
                      "type": "string",
                      "x-ms-summary": "Currency Code",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "x-ms-summary": "",
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-summary": "",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CategoryList": {
      "description": "categories",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "category": {
            "description": "category",
            "type": "string",
            "x-ms-summary": "category",
            "x-ms-visibility": "advanced"
          },
          "id": {
            "format": "int32",
            "description": "id",
            "type": "integer",
            "x-ms-summary": "id",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "x-ms-summary": "categories",
      "x-ms-visibility": "advanced"
    },
    "VendorList": {
      "description": "vendors",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "vendor": {
            "description": "vendor",
            "type": "string",
            "x-ms-summary": "vendor",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "x-ms-summary": "vendors",
      "x-ms-visibility": "advanced"
    }
  },
  "parameters": {
    "Includes": {
      "name": "include[]",
      "in": "query",
      "required": true,
      "x-ms-visibility": "internal",
      "type": "string",
      "default": "client"
    },
    "PerPage": {
      "name": "per_page",
      "in": "query",
      "required": true,
      "x-ms-visibility": "internal",
      "type": "integer",
      "default": 100
    },
    "AccountId": {
      "name": "accountid",
      "in": "path",
      "required": true,
      "x-ms-summary": "Account",
      "description": "Id of expense account.",
      "x-ms-test-value": "Gj1y8",
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "MyUserInformation",
        "value-path": "business/account_id",
        "value-title": "business/name"
      }
    },
    "ExpenseId": {
      "name": "expenseid",
      "in": "path",
      "required": true,
      "x-ms-summary": "Expense Id",
      "description": "Unique Id of the expense.",
      "x-ms-test-value": "498291",
      "type": "string"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.freshbooks.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.freshbooks.com/policies/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/freshbooks"
  },
  "basePath": "/apim/freshbooks"
}
