{
  "swagger": "2.0",
  "info": {
    "title": "Xero Accounting - Magnetism",
    "description": "Connect with Xero Accounting to work with Invoices, Payments, and Contacts.",
    "contact": {
      "name": "Magnetism",
      "email": "help@magnetismsolutions.com"
    },
    "version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/xeroaccountingmagnet",
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://func-xeroconnectorapi.azurewebsites.net/api/v1/auth/authorize",
      "tokenUrl": "https://func-xeroconnectorapi.azurewebsites.net/api/v1/auth/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.magnetismsolutions.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.magnetismsolutions.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Finance"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/v1/auth/connections": {
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get Xero Connections",
        "description": "List all the Xero Tenants connected to the app.",
        "operationId": "get-connections",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "format": "uuid",
                    "type": "string"
                  },
                  "authEventId": {
                    "format": "uuid",
                    "type": "string"
                  },
                  "tenantId": {
                    "format": "uuid",
                    "type": "string"
                  },
                  "tenantType": {
                    "type": "string"
                  },
                  "tenantName": {
                    "type": "string"
                  },
                  "createdDateUtc": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "updatedDateUtc": {
                    "format": "date-time",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#get-xero-connections"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/v1/schema/json/{recordType}/{actionType}/{schemaType}": {
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get Schema",
        "description": "Get the Swagger JSON Schema for an action.",
        "operationId": "get-schema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "recordType",
            "x-ms-summary": "Record Type",
            "description": "The type of record, e.g. Invoice, Payment.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "actionType",
            "x-ms-summary": "Action Type",
            "description": "The type of action, e.g. Create, Update, Delete, Get, List.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "schemaType",
            "x-ms-summary": "Schema Type",
            "description": "The type of schema, e.g. Request, Response.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - dynamic JSON schema",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#get-schema"
        }
      }
    },
    "/{connectionId}/v1/schema/recordtypes/{actionType}": {
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get Record Types for a specific action",
        "operationId": "get-record-types",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "actionType",
            "x-ms-summary": "Action Type",
            "description": "The type of action, e.g. Create, Update, Delete, Get, List.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#get-record-types-for-a-specific-action"
        }
      }
    },
    "/{connectionId}/v1/schema/dropdown/{recordType}": {
      "get": {
        "tags": [
          "Internal"
        ],
        "summary": "Get Dynamic Dropdown",
        "description": "Get a list of key value pairs for a dynamic dropdown.",
        "operationId": "get-dynamic-dropdown",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/XeroTenantIdInHeader"
          },
          {
            "in": "path",
            "name": "recordType",
            "x-ms-summary": "Record Type",
            "description": "The record type to get the details for.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "where",
            "x-ms-summary": "Where",
            "description": "Filter conditions (if supported), e.g.: Type == \"ACCREC\"",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "order",
            "x-ms-summary": "Order",
            "description": "Order attribute (if supported), e.g.: UpdatedDateUTC DESC",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#get-dynamic-dropdown"
        }
      }
    },
    "/{connectionId}/v1/webhook/register": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ResourceId": {
              "type": "string",
              "description": "The ID of the Invoice or Contact",
              "title": "Record ID"
            },
            "EventCategory": {
              "type": "string",
              "description": "The category of event that occurred (INVOICE or CONTACT)",
              "title": "Event Category",
              "x-ms-visibility": "advanced"
            },
            "EventType": {
              "type": "string",
              "description": "The type of event of that occurred (CREATE or UPDATE)",
              "title": "Event Type",
              "x-ms-visibility": "advanced"
            },
            "EventDateUtc": {
              "type": "string",
              "description": "The Date the event was triggered",
              "title": "Event Date UTC",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Triggers"
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "Trigger when a Xero record is Created or Updated",
        "description": "Trigger when a Xero record is Created or Updated",
        "operationId": "trigger-xero",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/XeroTenantIdInHeader"
          },
          {
            "name": "eventType",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Create",
              "Update",
              "Create or Update"
            ],
            "x-ms-summary": "Event Type",
            "description": "The type of event to listen to (Create, Update, Create or Update)."
          },
          {
            "name": "eventCategory",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Invoice",
              "Contact"
            ],
            "x-ms-summary": "Event Category",
            "description": "The category of event to listen to (Invoice, Contact)."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "x-ms-summary": "Body",
            "description": "The body of the request containing the Webhook URL.",
            "schema": {
              "type": "object",
              "properties": {
                "webhookUrl": {
                  "type": "string",
                  "x-ms-summary": "Webhook URL",
                  "description": "The Webhook URL used to trigger the flow.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "webhookUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#trigger-when-a-xero-record-is-created-or-updated"
        }
      }
    },
    "/{connectionId}/v1/webhook/register/{id}": {
      "delete": {
        "tags": [
          "Internal"
        ],
        "summary": "Delete Xero Webhook",
        "description": "Delete a Xero webhook.",
        "operationId": "delete-webhook",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "The ID of the Webhook."
          },
          {
            "in": "query",
            "name": "tenantId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tenant ID",
            "description": "The Xero Tenant ID to connect to."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#delete-xero-webhook"
        }
      }
    },
    "/{connectionId}/v1/actions/create/{recordType}": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Create a Xero record",
        "description": "Create a Xero record, e.g. Invoice, Credit Note, Contact.",
        "operationId": "create-record",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/XeroTenantIdInHeader"
          },
          {
            "in": "path",
            "name": "recordType",
            "x-ms-summary": "Record Type",
            "description": "The Xero record type to create.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "get-record-types",
              "value-path": "key",
              "value-title": "key",
              "parameters": {
                "actionType": "Create"
              }
            }
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "x-ms-summary": "Body",
            "description": "The dynamic body of the request.",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "Create",
                  "schemaType": "Request"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "Create",
                  "schemaType": "Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#create-a-xero-record"
        }
      }
    },
    "/{connectionId}/v1/actions/list/{recordType}": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "List Xero records",
        "description": "Get a list of Xero records, e.g. Invoices, Payments, Credit Notes.",
        "operationId": "list-records",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/XeroTenantIdInHeader"
          },
          {
            "in": "path",
            "name": "recordType",
            "x-ms-summary": "Record Type",
            "description": "The Xero record type to get the details for.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "get-record-types",
              "value-path": "key",
              "value-title": "key",
              "parameters": {
                "actionType": "List"
              }
            }
          },
          {
            "in": "query",
            "name": "where",
            "description": "Filter conditions (if supported), e.g.: Type == \"ACCREC\"",
            "type": "string",
            "x-ms-summary": "Where",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "order",
            "description": "Order attribute (if supported), e.g.: UpdatedDateUTC DESC",
            "type": "string",
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "top",
            "description": "Top count of records to return",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "description": "The dynamic body of the request.",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "List",
                  "schemaType": "Request"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "List",
                  "schemaType": "Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#list-xero-records"
        }
      }
    },
    "/{connectionId}/v1/actions/get/{recordType}/{recordId}": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Get a Xero record by ID",
        "description": "Get a single Xero record by its ID, e.g. Invoice, Payment, Credit Note.",
        "operationId": "get-record",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/XeroTenantIdInHeader"
          },
          {
            "in": "path",
            "name": "recordType",
            "x-ms-summary": "Record Type",
            "description": "The Xero record type to get the details for.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "get-record-types",
              "value-path": "key",
              "value-title": "key",
              "parameters": {
                "actionType": "Get"
              }
            }
          },
          {
            "in": "path",
            "name": "recordId",
            "x-ms-summary": "Record ID",
            "description": "The Xero record ID to get the details for.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "description": "The dynamic body of the request.",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "Get",
                  "schemaType": "Request"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "Get",
                  "schemaType": "Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#get-a-xero-record-by-id"
        }
      }
    },
    "/{connectionId}/v1/actions/update/{recordType}/{recordId}": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Update a Xero record",
        "description": "Update a Xero record by its ID, e.g. Invoice, Credit Note, Contact.",
        "operationId": "update-record",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/XeroTenantIdInHeader"
          },
          {
            "in": "path",
            "name": "recordType",
            "x-ms-summary": "Record Type",
            "description": "The Xero record type to update.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "get-record-types",
              "value-path": "key",
              "value-title": "key",
              "parameters": {
                "actionType": "Update"
              }
            }
          },
          {
            "in": "path",
            "name": "recordId",
            "x-ms-summary": "Record ID",
            "description": "The Xero record ID to update.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "description": "The dynamic body of the request.",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "Update",
                  "schemaType": "Request"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "Update",
                  "schemaType": "Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#update-a-xero-record"
        }
      }
    },
    "/{connectionId}/v1/actions/delete/{recordType}/{recordId}": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Delete a Xero record",
        "description": "Delete a Xero record by its ID, e.g. Invoice, Payment, Credit Note.",
        "operationId": "delete-record",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/XeroTenantIdInHeader"
          },
          {
            "in": "path",
            "name": "recordType",
            "x-ms-summary": "Record Type",
            "description": "The Xero record type to delete.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "get-record-types",
              "value-path": "key",
              "value-title": "key",
              "parameters": {
                "actionType": "Delete"
              }
            }
          },
          {
            "in": "path",
            "name": "recordId",
            "x-ms-summary": "Record ID",
            "description": "The Xero record ID to delete.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "description": "The dynamic body of the request.",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "Delete",
                  "schemaType": "Request"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "get-schema",
                "parameters": {
                  "recordType": {
                    "parameter": "recordType"
                  },
                  "actionType": "Delete",
                  "schemaType": "Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#delete-a-xero-record"
        }
      }
    },
    "/{connectionId}/v1/actions/sendhttprequest": {
      "post": {
        "tags": [
          "Actions"
        ],
        "summary": "Send an HTTP request to Xero",
        "description": "Send an authenticated HTTP request to the Xero API.",
        "operationId": "send-http-request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/XeroTenantIdInHeader"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "description": "The body of the request.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "method": {
                  "type": "string",
                  "description": "Enter HTTP method",
                  "title": "Method",
                  "enum": [
                    "GET",
                    "POST",
                    "PUT",
                    "PATCH",
                    "DELETE"
                  ]
                },
                "uri": {
                  "type": "string",
                  "description": "Enter relative API URL, e.g. /Invoices or /Invoices/{id}",
                  "title": "API Endpoint"
                },
                "headers": {
                  "type": "array",
                  "description": "Enter additional request headers",
                  "title": "Header",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "Enter header key",
                        "title": "Key"
                      },
                      "value": {
                        "type": "string",
                        "description": "Enter header value",
                        "title": "Value"
                      }
                    }
                  }
                },
                "body": {
                  "type": "string",
                  "description": "Enter request content",
                  "title": "Body"
                }
              },
              "required": [
                "method",
                "uri"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "string",
                  "description": "Response body content",
                  "title": "Body"
                },
                "headers": {
                  "type": "object",
                  "description": "Response headers",
                  "title": "Headers",
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "statusCode": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Response HTTP status code",
                  "title": "Status code"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet/#send-an-http-request-to-xero"
        }
      }
    }
  },
  "parameters": {
    "XeroTenantIdInHeader": {
      "in": "header",
      "name": "xero-tenant-id",
      "required": true,
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "get-connections",
        "value-path": "tenantId",
        "value-title": "tenantName"
      },
      "x-ms-summary": "Tenant ID",
      "description": "The Xero Tenant ID to connect to."
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/xeroaccountingmagnet"
  }
}
