{
  "swagger": "2.0",
  "info": {
    "version": "1.1",
    "title": "Desktop flows",
    "description": "Enables desktop flows (previously called UI flows)",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/uiflow",
  "tags": [
    {
      "name": "UIFlows"
    },
    {
      "name": "UI Flows"
    },
    {
      "name": "DesktopFlows"
    },
    {
      "name": "Desktop flows"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/uiFlowTypes/{uiFlowType}/uiflows": {
      "get": {
        "tags": [
          "ListUIFlows"
        ],
        "summary": "List desktop flows",
        "description": "List desktop flows.",
        "operationId": "ListUIFlows",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "uiFlowType",
            "in": "path",
            "x-ms-summary": "Desktop flow type.",
            "description": "The desktop flow type.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#list-desktop-flows"
        }
      }
    },
    "/{connectionId}/uiFlowTypes/{uiFlowType}/uiflows/{uiFlowId}/$metadata.json": {
      "get": {
        "tags": [
          "UIFlowMetadata"
        ],
        "summary": "Get desktop flow metadata",
        "description": "Get desktop flow metadata.",
        "operationId": "GetUIFlowMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "uiFlowType",
            "in": "path",
            "x-ms-summary": "Desktop flow type.",
            "description": "The desktop flow type.",
            "type": "string",
            "required": true
          },
          {
            "name": "uiFlowId",
            "in": "path",
            "description": "The desktop flow id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#get-desktop-flow-metadata"
        }
      }
    },
    "/{connectionId}/uiFlowTypes/desktop/uiflows/{uiFlowId}/runs": {
      "post": {
        "tags": [
          "RPA",
          "Robotic Process Automation",
          "RDA",
          "Robotic Desktop Automation",
          "Desktop",
          "UI Automation",
          "Frontend"
        ],
        "summary": "Run a flow built with Windows recorder V1 (deprecated)",
        "description": "A flow will automatically run a set of steps recorded in a single app using Windows recorder (V1) (deprecated).",
        "operationId": "ExecuteDesktopUIFlow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "uiFlowId",
            "in": "path",
            "x-ms-summary": "Desktop flow",
            "description": "Choose an option or create your own",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "ListUIFlows",
              "parameters": {
                "uiFlowType": "desktop"
              },
              "value-collection": "value",
              "value-path": "workflowid",
              "value-title": "name"
            }
          },
          {
            "name": "runMode",
            "in": "query",
            "x-ms-summary": "Run Mode",
            "description": "Choose between running while signed in (attended) or in the background (unattended).",
            "type": "string",
            "required": false,
            "enum": [
              "attended",
              "unattended"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Attended (runs when you're signed in)",
                "value": "attended"
              },
              {
                "displayName": "Unattended (runs on a machine that's signed out)",
                "value": "unattended"
              }
            ]
          },
          {
            "name": "runPriority",
            "in": "query",
            "x-ms-summary": "Priority",
            "description": "Choose an option or add your own",
            "type": "string",
            "required": false,
            "enum": [
              "high",
              "normal"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "High",
                "value": "high"
              },
              {
                "displayName": "Normal (default)",
                "value": "normal"
              }
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-flow-trusted-access",
            "in": "header",
            "x-ms-summary": "Skip access check.",
            "description": "A flag allow skipping runtime access check.",
            "type": "boolean",
            "required": false,
            "x-ms-visibility": "internal"
          },
          {
            "name": "item",
            "in": "body",
            "description": "The inputs.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DesktopUIFlowInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetUIFlowMetadata",
                "parameters": {
                  "uiFlowType": "desktop",
                  "uiFlowId": {
                    "parameter": "uiFlowId"
                  }
                },
                "value-path": "outputs/schema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#run-a-flow-built-with-windows-recorder-v1-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/uiFlowTypes/seleniumIDE/uiflows/{uiFlowId}/runs": {
      "post": {
        "tags": [
          "RPA",
          "Robotic Process Automation",
          "UI Automation",
          "Frontend",
          "Selenium",
          "Selenium IDE",
          "Chrome",
          "Edge",
          "Browser Automation",
          "Website Automation"
        ],
        "summary": "Run a flow built with Selenium IDE (deprecated)",
        "description": "A web flow will automatically run a set of steps recorded in a single web app, using Selenium IDE (deprecated).",
        "operationId": "ExecuteSeleniumIDEUIFlow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "uiFlowId",
            "in": "path",
            "x-ms-summary": "Desktop flow",
            "description": "Choose an option or create your own.",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "ListUIFlows",
              "parameters": {
                "uiFlowType": "seleniumIDE"
              },
              "value-collection": "value",
              "value-path": "workflowid",
              "value-title": "name"
            }
          },
          {
            "name": "runMode",
            "in": "query",
            "x-ms-summary": "Run Mode",
            "description": "Choose between running while signed in (attended) or in the background (unattended).",
            "type": "string",
            "required": false,
            "enum": [
              "attended",
              "unattended"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Attended (runs when you're signed in)",
                "value": "attended"
              },
              {
                "displayName": "Unattended (runs on a machine that's signed out)",
                "value": "unattended"
              }
            ]
          },
          {
            "name": "runPriority",
            "in": "query",
            "x-ms-summary": "Priority",
            "description": "Choose an option or add your own",
            "type": "string",
            "required": false,
            "enum": [
              "high",
              "normal"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "High",
                "value": "high"
              },
              {
                "displayName": "Normal (default)",
                "value": "normal"
              }
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-flow-trusted-access",
            "in": "header",
            "x-ms-summary": "Skip access check.",
            "description": "A flag allow skipping runtime access check.",
            "type": "boolean",
            "required": false,
            "x-ms-visibility": "internal"
          },
          {
            "name": "item",
            "in": "body",
            "description": "The desktop flow inputs.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SeleniumIDEUIFlowInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetUIFlowMetadata",
                "parameters": {
                  "uiFlowType": "seleniumIDE",
                  "uiFlowId": {
                    "parameter": "uiFlowId"
                  }
                },
                "value-path": "outputs/schema"
              }
            },
            "headers": {
              "x-ms-run-id": {
                "x-ms-summary": "Run Id",
                "description": "The run id.",
                "type": "string",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#run-a-flow-built-with-selenium-ide-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/uiFlowTypes/desktopV2/uiflows/{uiFlowId}/runs": {
      "post": {
        "tags": [
          "RPA",
          "Robotic Process Automation",
          "RDA",
          "Robotic Desktop Automation",
          "Desktop",
          "UI Automation",
          "Frontend"
        ],
        "summary": "Run a flow built with Power Automate for desktop",
        "description": "A flow will automatically run a set of steps built by Power Automate for desktop.",
        "operationId": "RunUIFlow_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "uiFlowId",
            "in": "path",
            "x-ms-summary": "Desktop flow",
            "description": "Choose an option or create your own",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "ListUIFlows",
              "parameters": {
                "uiFlowType": "desktopV2"
              },
              "value-collection": "value",
              "value-path": "workflowid",
              "value-title": "name"
            }
          },
          {
            "name": "runMode",
            "in": "query",
            "x-ms-summary": "Run Mode",
            "description": "Choose between running while signed in (attended) or in the background (unattended).",
            "type": "string",
            "required": true,
            "enum": [
              "attended",
              "unattended"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Attended (runs when you're signed in)",
                "value": "attended"
              },
              {
                "displayName": "Unattended (runs on a machine that's signed out)",
                "value": "unattended"
              }
            ]
          },
          {
            "name": "runPriority",
            "in": "query",
            "x-ms-summary": "Priority",
            "description": "Choose an option or add your own",
            "type": "string",
            "required": false,
            "enum": [
              "high",
              "normal"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "High",
                "value": "high"
              },
              {
                "displayName": "Normal (default)",
                "value": "normal"
              }
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-ms-flow-trusted-access",
            "in": "header",
            "x-ms-summary": "Skip access check.",
            "description": "A flag allow skipping runtime access check.",
            "type": "boolean",
            "required": false,
            "x-ms-visibility": "internal"
          },
          {
            "name": "item",
            "in": "body",
            "description": "The inputs.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DesktopV2UIFlowInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetUIFlowMetadata",
                "parameters": {
                  "uiFlowType": "desktopV2",
                  "uiFlowId": {
                    "parameter": "uiFlowId"
                  }
                },
                "value-path": "outputs/schema"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#run-a-flow-built-with-power-automate-for-desktop"
        }
      }
    },
    "/{connectionId}/uiFlowTypes/{uiFlowType}/uiflows/{uiFlowId}/runs/{runId}": {
      "get": {
        "tags": [
          "GetRunStatus"
        ],
        "summary": "Gets desktop flow run",
        "description": "Gets the desktop flow run.",
        "operationId": "GetRunStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "uiFlowType",
            "in": "path",
            "x-ms-summary": "Desktop flow type.",
            "description": "The desktop flow type.",
            "type": "string",
            "required": true
          },
          {
            "name": "uiFlowId",
            "in": "path",
            "x-ms-summary": "Desktop flow id",
            "description": "The desktop flow id.",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "x-ms-summary": "Run id",
            "description": "The run id.",
            "type": "string",
            "required": true
          },
          {
            "name": "activationFlags",
            "in": "query",
            "x-ms-summary": "Activation flags",
            "description": "The activation flags.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#gets-desktop-flow-run"
        }
      }
    },
    "/{connectionId}/usersession/testconnection": {
      "get": {
        "tags": [
          "TestConnection"
        ],
        "summary": "Test the desktop flow service connection",
        "description": "Test the desktop flow service connection.",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#test-the-desktop-flow-service-connection"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}": {
      "put": {
        "tags": [
          "ExecuteScriptInternal"
        ],
        "summary": "Execute script internal",
        "description": "Execute script internal.",
        "operationId": "ExecuteScriptInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "item",
            "in": "body",
            "description": "The inputs.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#execute-script-internal"
        }
      },
      "get": {
        "tags": [
          "GetScriptRunInternal"
        ],
        "summary": "Get script run internal",
        "description": "Get script run internal.",
        "operationId": "GetScriptRunInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#get-script-run-internal"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/childScripts/{childScriptId}/childRuns/{childRunId}": {
      "get": {
        "tags": [
          "GetChildScriptRunInternal"
        ],
        "summary": "Get child script run internal",
        "description": "Get child script run internal.",
        "operationId": "GetChildScriptRunInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "childScriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "childRunId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#get-child-script-run-internal"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/actions": {
      "get": {
        "tags": [
          "GetScriptRunActionsInternal"
        ],
        "summary": "Get script run actions internal",
        "description": "Get script run internal.",
        "operationId": "GetScriptRunActionsInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#get-script-run-actions-internal"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/childScripts/{childScriptId}/childRuns/{childRunId}/actions": {
      "get": {
        "tags": [
          "GetChildScriptRunActionsInternal"
        ],
        "summary": "Get child script run actions internal",
        "description": "Get child script run internal.",
        "operationId": "GetChildScriptRunActionsInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "childScriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "childRunId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#get-child-script-run-actions-internal"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/referencedBinaries/{binaryId}": {
      "get": {
        "tags": [
          "GetScriptRunReferencedBinaryInternal"
        ],
        "summary": "Get script run referenced binaries internal",
        "description": "Get script run referenced binaries internal.",
        "operationId": "GetScriptRunReferencedBinaryInternal",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "binaryId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "$skipToken",
            "in": "query",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#get-script-run-referenced-binaries-internal"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/childScripts/{childScriptId}/childRuns/{childRunId}/referencedBinaries/{binaryId}": {
      "get": {
        "tags": [
          "GetChildScriptRunReferencedBinaryInternal"
        ],
        "summary": "Get child script run referenced binaries internal",
        "description": "Get child script run referenced binaries internal.",
        "operationId": "GetChildScriptRunReferencedBinaryInternal",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "childScriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "childRunId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "binaryId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "$skipToken",
            "in": "query",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#get-child-script-run-referenced-binaries-internal"
        }
      }
    },
    "/{connectionId}/status": {
      "get": {
        "tags": [
          "status"
        ],
        "summary": "Get agent status",
        "description": "Get agent status.",
        "operationId": "Status",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#get-agent-status"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/finish": {
      "put": {
        "tags": [
          "FinishRunInternal"
        ],
        "summary": "Complete script execution",
        "description": "Complete script execution.",
        "operationId": "FinishRunInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#complete-script-execution"
        }
      }
    },
    "/{connectionId}/testconnection": {
      "get": {
        "tags": [
          "TestConnectionInternal"
        ],
        "summary": "Test desktop flow service connection",
        "description": "Test desktop flow service connection.",
        "operationId": "TestConnectionInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#test-desktop-flow-service-connection"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/notifyBinariesSent": {
      "post": {
        "tags": [
          "NotifyBinariesSentInternal"
        ],
        "summary": "Notify binaries required to run the script have been sent",
        "description": "Notify binaries required to run the script have been sent.",
        "operationId": "NotifyBinariesSentInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#notify-binaries-required-to-run-the-script-have-been-sent"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/cancel": {
      "post": {
        "tags": [
          "Cancel"
        ],
        "summary": "Cancel the execution of a specific run",
        "description": "Cancel the execution of a specific run.",
        "operationId": "CancelInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#cancel-the-execution-of-a-specific-run"
        }
      }
    },
    "/{connectionId}/scripts/{scriptId}/runs/{runId}/referencedBinaryGroups/{binaryGroupingId}/referencedBinaries/{binaryId}": {
      "put": {
        "tags": [
          "SendBinaryChunkInternal"
        ],
        "summary": "Send chunk of binaries to be used by the script",
        "description": "Send chunk of binaries to be used by the script.",
        "operationId": "SendBinaryChunkInternal",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "scriptId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "runId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "binaryGroupingId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "binaryId",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "api-version",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "item",
            "in": "body",
            "description": "The binary chunk.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoboticProcessAutomationSendBinaryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uiflow/#send-chunk-of-binaries-to-be-used-by-the-script"
        }
      }
    }
  },
  "definitions": {
    "DesktopUIFlowInput": {
      "description": "Desktop flow input",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "#/definitions/Object"
        }
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetUIFlowMetadata",
        "parameters": {
          "uiFlowType": "desktop",
          "uiFlowId": {
            "parameter": "uiFlowId"
          }
        },
        "value-path": "inputs/schema"
      }
    },
    "SeleniumIDEUIFlowInput": {
      "type": "object",
      "required": [
        "browser"
      ],
      "properties": {
        "browser": {
          "type": "string",
          "x-ms-summary": "Web browser",
          "description": "Choose the browser you’ll be using.",
          "enum": [
            "Microsoft Edge (Chromium)",
            "Google Chrome"
          ]
        },
        "stepDelay": {
          "type": "integer",
          "x-ms-summary": "Step delay",
          "description": "Add a timed pause between steps (milliseconds).",
          "minimum": 0,
          "maximum": 60000,
          "x-ms-visibility": "advanced"
        },
        "stepTimeout": {
          "type": "integer",
          "x-ms-summary": "Auto timeout",
          "description": "Enter the length of time before a run fails (milliseconds).",
          "minimum": 30000,
          "maximum": 3600000,
          "x-ms-visibility": "advanced"
        },
        "variables": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetUIFlowMetadata",
            "parameters": {
              "uiFlowType": "seleniumIDE",
              "uiFlowId": {
                "parameter": "uiFlowId"
              }
            },
            "value-path": "inputs/schema"
          }
        }
      }
    },
    "DesktopV2UIFlowInput": {
      "description": "Power Automate for desktop flow input",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "#/definitions/Object"
        }
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetUIFlowMetadata",
        "parameters": {
          "uiFlowType": "desktopV2",
          "uiFlowId": {
            "parameter": "uiFlowId"
          }
        },
        "value-path": "inputs/schema"
      }
    },
    "RoboticProcessAutomationSendBinaryRequest": {
      "description": "Binary chunk to be used by the script",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "x-ms-summary": "Chunk of binary",
          "description": "Chunk of binary."
        },
        "chunkID": {
          "type": "string",
          "x-ms-summary": "Id of the Chunk",
          "description": "Add a timed pause between steps (milliseconds)."
        },
        "totalChunks": {
          "type": "string",
          "x-ms-summary": "number of chunks",
          "description": "number of chunks."
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/uiflow"
  }
}
