{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Harvest",
    "description": "Harvest is a simple tool to help track the time spent by your team on each project and task.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/people": {
      "get": {
        "summary": "When a user is added",
        "description": "Triggers when a new user is added.",
        "x-ms-visibility": "advanced",
        "operationId": "TrigNewUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAllUsers_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#when-a-user-is-added"
        }
      }
    },
    "/{connectionId}/trigger/clients": {
      "get": {
        "summary": "When a client is added",
        "description": "Triggers when a new client is added.",
        "x-ms-visibility": "advanced",
        "operationId": "TrigNewClient",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ListAllClients_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#when-a-client-is-added"
        }
      }
    },
    "/{connectionId}/trigger/contacts": {
      "get": {
        "summary": "When a contact is added",
        "description": "Triggers when a new contact is added.",
        "x-ms-visibility": "advanced",
        "operationId": "TrigNewContact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ListAllContacts_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#when-a-contact-is-added"
        }
      }
    },
    "/{connectionId}/trigger/projects": {
      "get": {
        "summary": "When a project is created",
        "description": "Triggers when a new project is created.",
        "x-ms-visibility": "advanced",
        "operationId": "TrigNewProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/ListProjects_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#when-a-project-is-created"
        }
      }
    },
    "/{connectionId}/trigger/daily": {
      "get": {
        "summary": "When a time entry is created for the current day",
        "description": "Triggers when a new time entry is created for the current day.",
        "x-ms-visibility": "important",
        "operationId": "TrigNewTimeEntryToday",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/OfUserNonAdvanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/GetTimeEntriesForDay_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#when-a-time-entry-is-created-for-the-current-day"
        }
      }
    },
    "/{connectionId}/trigger/daily/day/year": {
      "get": {
        "summary": "When a time entry is created for date",
        "description": "Triggers when a new time entry is created for a specific date.",
        "x-ms-visibility": "important",
        "operationId": "TrigNewTimeEntry",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Date",
            "description": "YYYY-MM-DD or ISO format datetime",
            "x-ms-visibility": "important"
          },
          {
            "$ref": "#/parameters/OfUser"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/GetTimeEntriesForDay_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#when-a-time-entry-is-created-for-date"
        }
      }
    },
    "/{connectionId}/contacts": {
      "get": {
        "summary": "List all contacts",
        "description": "Retrieves a list of all contacts for the authenticated user.",
        "operationId": "ListAllContacts",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAllContacts_Response"
            }
          }
        },
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#list-all-contacts"
        }
      },
      "post": {
        "summary": "Add new contact",
        "description": "Create a new contact.",
        "x-ms-visibility": "important",
        "operationId": "AddNewContact",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "contact"
              ],
              "type": "object",
              "properties": {
                "contact": {
                  "required": [
                    "first_name",
                    "last_name",
                    "client_id"
                  ],
                  "description": "contact",
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "format": "int32",
                      "description": "Unique identifier of the client.",
                      "type": "integer",
                      "x-ms-summary": "Client id",
                      "x-ms-dynamic-values": {
                        "operationId": "ListAllClients",
                        "value-path": "client/id",
                        "value-title": "client/name"
                      },
                      "x-ms-visibility": "important"
                    },
                    "first_name": {
                      "description": "Contact's first name.",
                      "type": "string",
                      "x-ms-summary": "First name",
                      "x-ms-visibility": "important"
                    },
                    "last_name": {
                      "description": "Contact's last name.",
                      "type": "string",
                      "x-ms-summary": "Last name",
                      "x-ms-visibility": "important"
                    },
                    "email": {
                      "description": "Contact's email.",
                      "type": "string",
                      "x-ms-summary": "Email",
                      "x-ms-visibility": "important"
                    },
                    "phone_office": {
                      "description": "Contact's office phone.",
                      "type": "string",
                      "x-ms-summary": "Office phone",
                      "x-ms-visibility": "advanced"
                    },
                    "phone_mobile": {
                      "description": "Contact's mobile phone.",
                      "type": "string",
                      "x-ms-summary": "Mobile phone",
                      "x-ms-visibility": "important"
                    },
                    "fax": {
                      "description": "Contact's fax.",
                      "type": "string",
                      "x-ms-summary": "Fax",
                      "x-ms-visibility": "advanced"
                    },
                    "title": {
                      "description": "Contact's title.",
                      "type": "string",
                      "x-ms-summary": "Title",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#add-new-contact"
        }
      }
    },
    "/{connectionId}/clients": {
      "get": {
        "summary": "List all clients",
        "description": "Retrieves a list of all clients for the authenticated account.",
        "operationId": "ListAllClients",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAllClients_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#list-all-clients"
        }
      },
      "post": {
        "summary": "Add new client",
        "description": "Create a new client.",
        "x-ms-visibility": "advanced",
        "operationId": "AddNewClient",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "client"
              ],
              "type": "object",
              "properties": {
                "client": {
                  "required": [
                    "name"
                  ],
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "x-ms-summary": "Name",
                      "description": "Client's name",
                      "x-ms-visibility": "important"
                    },
                    "currency": {
                      "type": "string",
                      "x-ms-summary": "Currency",
                      "description": "The currency you'd like to use for the client.",
                      "x-ms-visibility": "important"
                    },
                    "currency_symbol": {
                      "type": "string",
                      "x-ms-summary": "Currency symbol",
                      "description": "Symbol that correlates to the selected currency.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "string",
                      "x-ms-summary": "Details",
                      "description": "Additional details, normally used for address information.",
                      "x-ms-visibility": "advanced"
                    }
                  }
                }
              },
              "x-ms-test-value": {
                "client": {
                  "name": "Your Client",
                  "active": true,
                  "currency": "United States Dollar - USD",
                  "currency_symbol": "$",
                  "details": "123 Main St\r\nAnytown, NY 12345"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#add-new-client"
        }
      }
    },
    "/{connectionId}/people": {
      "get": {
        "summary": "List all users",
        "description": "Retrieves a list of all users of the authenticated account.",
        "operationId": "ListAllUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAllUsers_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#list-all-users"
        }
      },
      "post": {
        "summary": "Add new user",
        "description": "Create a new user.",
        "x-ms-visibility": "advanced",
        "operationId": "CreateUser",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "user"
              ],
              "type": "object",
              "properties": {
                "user": {
                  "required": [
                    "first_name",
                    "last_name",
                    "email",
                    "has_access_to_all_future_projects"
                  ],
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "x-ms-summary": "Email",
                      "x-ms-visibility": "important"
                    },
                    "is_admin": {
                      "type": "boolean",
                      "x-ms-summary": "Is admin",
                      "x-ms-visibility": "advanced"
                    },
                    "first_name": {
                      "x-ms-summary": "First name",
                      "x-ms-visibility": "important",
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string",
                      "x-ms-summary": "Last name",
                      "x-ms-visibility": "important"
                    },
                    "is_contractor": {
                      "type": "boolean",
                      "x-ms-visibility": "advanced",
                      "x-ms-summary": "Is contractor"
                    },
                    "telephone": {
                      "type": "string",
                      "x-ms-summary": "Phone",
                      "x-ms-visibility": "advanced"
                    },
                    "has_access_to_all_future_projects": {
                      "type": "boolean",
                      "default": false,
                      "x-ms-visibility": "internal"
                    },
                    "default_hourly_rate": {
                      "format": "float",
                      "type": "number",
                      "x-ms-visibility": "advanced",
                      "x-ms-summary": "Hourly rate",
                      "description": "Default hourly rate."
                    },
                    "department": {
                      "type": "string",
                      "x-ms-visibility": "advanced",
                      "x-ms-summary": "Department"
                    },
                    "cost_rate": {
                      "format": "float",
                      "type": "number",
                      "x-ms-visibility": "advanced",
                      "x-ms-summary": "Cost rate"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#add-new-user"
        }
      }
    },
    "/{connectionId}/daily/update/{DAY_ENTRY_ID}": {
      "post": {
        "summary": "Update time entry",
        "description": "Update an existing time entry.",
        "x-ms-visibility": "advanced",
        "operationId": "UpdateTimeEntry",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DAY_ENTRY_ID__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "project_id",
                "task_id"
              ],
              "type": "object",
              "properties": {
                "project_id": {
                  "type": "string",
                  "x-ms-summary": "Project Id",
                  "description": "Project",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjects",
                    "value-path": "project/id",
                    "value-title": "project/name"
                  }
                },
                "task_id": {
                  "type": "string",
                  "x-ms-summary": "Task Id",
                  "description": "Task",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListTasks",
                    "value-path": "task/id",
                    "value-title": "task/name"
                  }
                },
                "notes": {
                  "x-ms-summary": "Notes",
                  "x-ms-visibility": "advanced",
                  "type": "string"
                },
                "started_at": {
                  "x-ms-summary": "Started date-time",
                  "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                  "x-ms-visibility": "advanced",
                  "type": "string"
                },
                "ended_at": {
                  "x-ms-summary": "Ended date-time",
                  "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                  "x-ms-visibility": "advanced",
                  "type": "string"
                },
                "spent_at": {
                  "x-ms-summary": "Date",
                  "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                  "x-ms-visibility": "advanced",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateTimeEntry_Response"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#update-time-entry"
        }
      }
    },
    "/{connectionId}/daily/add": {
      "post": {
        "summary": "Create time entry",
        "description": "Create a new time entry.",
        "x-ms-visibility": "important",
        "operationId": "CreateTimeEntry",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "project_id",
                "task_id"
              ],
              "type": "object",
              "properties": {
                "notes": {
                  "type": "string"
                },
                "hours": {
                  "format": "int32",
                  "type": "integer"
                },
                "project_id": {
                  "type": "string",
                  "x-ms-summary": "Project Id",
                  "description": "Project",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListProjects",
                    "value-path": "project/id",
                    "value-title": "project/name"
                  }
                },
                "task_id": {
                  "type": "string",
                  "x-ms-summary": "Task Id",
                  "description": "Task",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListTasks",
                    "value-path": "task/id",
                    "value-title": "task/name"
                  }
                },
                "spent_at": {
                  "type": "string",
                  "x-ms-summary": "Date",
                  "description": "Spent at",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-test-value": {
                "notes": "Test API support",
                "hours": 3,
                "project_id": "12124409",
                "task_id": "6800550",
                "spent_at": "2016-11-15"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateTimeEntry_Response"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#create-time-entry"
        }
      }
    },
    "/{connectionId}/projects/": {
      "get": {
        "summary": "List projects",
        "description": "Lists all projects for the current user.",
        "operationId": "ListProjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjects_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#list-projects"
        }
      }
    },
    "/{connectionId}/daily/delete/{DAY_ENTRY_ID}": {
      "delete": {
        "summary": "Delete time entry",
        "description": "Delete an existing time entry.",
        "x-ms-visibility": "advanced",
        "operationId": "DeleteTimeEntry",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DAY_ENTRY_ID__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#delete-time-entry"
        }
      }
    },
    "/{connectionId}/projects/{project_id}/user_assignments": {
      "post": {
        "summary": "Add user to a project",
        "description": "Add an existing user to a project.",
        "x-ms-visibility": "important",
        "operationId": "AddUserToProject",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Project Id",
            "description": "Project Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-path": "project/id",
              "value-title": "project/name"
            },
            "x-ms-test-value": "12124409",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "user"
              ],
              "type": "object",
              "properties": {
                "user": {
                  "required": [
                    "id"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "format": "int32",
                      "type": "integer",
                      "x-ms-summary": "User Id",
                      "description": "User",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "ListAllUsers",
                        "value-path": "user/id",
                        "value-title": "user/email"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#add-user-to-a-project"
        }
      }
    },
    "/{connectionId}/daily/show/{DAY_ENTRY_ID}": {
      "get": {
        "summary": "Get time entry by id",
        "description": "Get an existing time entry by id.",
        "operationId": "GetTimeEntry",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/DAY_ENTRY_ID__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpdateTimeEntry_Response"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#get-time-entry-by-id"
        }
      }
    },
    "/{connectionId}/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "Retrieves a list of all tasks.",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#list-tasks"
        }
      }
    },
    "/{connectionId}/people/{USERID}": {
      "get": {
        "summary": "Get user info",
        "description": "Retrieve a user's details by user id or email.",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "USERID",
            "in": "path",
            "description": "User id or email",
            "required": true,
            "x-ms-summary": "User id or email",
            "x-ms-visibility": "important",
            "x-ms-test-value": "nickdurak@gmail.com",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetUserByID_Response"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/harvest/#get-user-info"
        }
      }
    }
  },
  "definitions": {
    "ListAllContacts_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "contact": {
            "description": "contact",
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "Unique identifier of the contact.",
                "type": "integer",
                "x-ms-summary": "Contact id",
                "x-ms-visibility": "advanced"
              },
              "client_id": {
                "format": "int32",
                "description": "Unique identifier of the client.",
                "type": "integer",
                "x-ms-summary": "Client id",
                "x-ms-visibility": "advanced"
              },
              "first_name": {
                "description": "Contact's first name.",
                "type": "string",
                "x-ms-summary": "First name",
                "x-ms-visibility": "important"
              },
              "last_name": {
                "description": "Contact's last name.",
                "type": "string",
                "x-ms-summary": "Last name",
                "x-ms-visibility": "important"
              },
              "email": {
                "description": "Contact's email.",
                "type": "string",
                "x-ms-summary": "Email",
                "x-ms-visibility": "important"
              },
              "phone_office": {
                "description": "Contact's office phone.",
                "type": "string",
                "x-ms-summary": "Office phone",
                "x-ms-visibility": "advanced"
              },
              "phone_mobile": {
                "description": "Contact's mobile phone.",
                "type": "string",
                "x-ms-summary": "Mobile phone",
                "x-ms-visibility": "important"
              },
              "fax": {
                "description": "Contact's fax.",
                "type": "string",
                "x-ms-summary": "Fax",
                "x-ms-visibility": "advanced"
              },
              "title": {
                "description": "Contact's title.",
                "type": "string",
                "x-ms-summary": "Title",
                "x-ms-visibility": "important"
              },
              "created_at": {
                "format": "date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "type": "string",
                "x-ms-summary": "Created date-time",
                "x-ms-visibility": "advanced"
              },
              "updated_at": {
                "format": "date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "type": "string",
                "x-ms-summary": "Updated date-time",
                "x-ms-visibility": "advanced"
              }
            },
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "ListAllClients_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "client": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "type": "integer",
                "x-ms-summary": "Client id",
                "description": "Unique identifier of the client.",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "type": "string",
                "x-ms-summary": "Name",
                "description": "Client's name.",
                "x-ms-visibility": "important"
              },
              "active": {
                "type": "boolean",
                "x-ms-visibility": "internal"
              },
              "currency": {
                "type": "string",
                "x-ms-summary": "Currency",
                "description": "Currency to use for client billing.",
                "x-ms-visibility": "important"
              },
              "cache_version": {
                "format": "int32",
                "type": "integer",
                "x-ms-visibility": "internal"
              },
              "updated_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Updated date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "x-ms-visibility": "advanced"
              },
              "created_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Created date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "x-ms-visibility": "advanced"
              },
              "statement_key": {
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "default_invoice_kind": {
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "default_invoice_timeframe": {
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "address": {
                "type": "string",
                "x-ms-summary": "Address",
                "description": "Client's address.",
                "x-ms-visibility": "important"
              },
              "currency_symbol": {
                "type": "string",
                "x-ms-summary": "Currency symbol",
                "description": "Symbol that correlates to the selected currency.",
                "x-ms-visibility": "important"
              },
              "details": {
                "type": "string",
                "x-ms-summary": "Details",
                "description": "Additional details, normally used for address information.",
                "x-ms-visibility": "advanced"
              },
              "last_invoice_kind": {
                "type": "string",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "ListAllUsers_Response": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/GetUserByID_Response"
      }
    },
    "UpdateTimeEntry_Response": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Time entry id",
          "description": "Unique identifier of the time entry.",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "User id",
          "description": "Unique identifier of the user who created the time entry.",
          "x-ms-visibility": "advanced"
        },
        "spent_at": {
          "type": "string",
          "x-ms-summary": "Date",
          "description": "Date of time entry.",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created date-time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
          "x-ms-visibility": "advanced"
        },
        "updated_at": {
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Updated date-time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
          "x-ms-visibility": "advanced"
        },
        "project_id": {
          "type": "string",
          "x-ms-summary": "Project id",
          "description": "Id of the project time entry is associated with.",
          "x-ms-visibility": "advanced"
        },
        "task_id": {
          "type": "string",
          "x-ms-summary": "Task id",
          "description": "Id of the task time entry is associated with.",
          "x-ms-visibility": "advanced"
        },
        "project": {
          "type": "string",
          "x-ms-summary": "Project",
          "description": "Name of project the time entry is associated with.",
          "x-ms-visibility": "important"
        },
        "task": {
          "type": "string",
          "x-ms-summary": "Task",
          "description": "Name of task the time entry is associated with.",
          "x-ms-visibility": "important"
        },
        "client": {
          "type": "string",
          "x-ms-summary": "Client",
          "description": "Name of client the time entry is associated with.",
          "x-ms-visibility": "important"
        },
        "notes": {
          "type": "string",
          "x-ms-summary": "Notes",
          "description": "Time entry notes.",
          "x-ms-visibility": "important"
        },
        "hours_without_timer": {
          "format": "float",
          "type": "number",
          "x-ms-summary": "Hours without timer",
          "description": "Current amount of time tracked, if timer is not running.",
          "x-ms-visibility": "important"
        },
        "hours": {
          "format": "float",
          "type": "number",
          "x-ms-summary": "Hours",
          "description": "Number of (decimal time) hours tracked in this time entry.",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListProjects_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "project": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "type": "integer",
                "x-ms-summary": "Project id",
                "description": "Unique identifier of the project.",
                "x-ms-visibility": "advanced"
              },
              "client_id": {
                "format": "int32",
                "type": "integer",
                "x-ms-summary": "Client id",
                "description": "Id of client for the project.",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "type": "string",
                "x-ms-summary": "Name",
                "description": "Project name.",
                "x-ms-visibility": "important"
              },
              "code": {
                "type": "string",
                "x-ms-summary": "Code",
                "description": "Project code.",
                "x-ms-visibility": "important"
              },
              "active": {
                "type": "boolean",
                "x-ms-summary": "Is active",
                "description": "True if the project is currently active.",
                "x-ms-visibility": "advanced"
              },
              "billable": {
                "type": "boolean",
                "x-ms-summary": "Is billable",
                "description": "True if the project is billable.",
                "x-ms-visibility": "important"
              },
              "bill_by": {
                "type": "string",
                "x-ms-summary": "Bill by",
                "description": "Method by which the project is invoiced.",
                "x-ms-visibility": "important"
              },
              "hourly_rate": {
                "format": "float",
                "type": "number",
                "x-ms-summary": "Hourly rate",
                "description": "Billing rate by the hour.",
                "x-ms-visibility": "important"
              },
              "budget": {
                "format": "float",
                "type": "number",
                "x-ms-summary": "Budget",
                "description": "Budget value for the project.",
                "x-ms-visibility": "important"
              },
              "budget_by": {
                "type": "string",
                "x-ms-summary": "Budget by",
                "description": "Budgeting method for the project.",
                "x-ms-visibility": "important"
              },
              "notify_when_over_budget": {
                "type": "boolean",
                "x-ms-visibility": "internal"
              },
              "over_budget_notification_percentage": {
                "format": "float",
                "type": "number",
                "x-ms-visibility": "internal"
              },
              "over_budget_notified_at": {
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "show_budget_to_all": {
                "type": "boolean",
                "x-ms-visibility": "internal"
              },
              "created_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Created date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "x-ms-visibility": "advanced"
              },
              "updated_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Updated date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "x-ms-visibility": "advanced"
              },
              "starts_on": {
                "type": "string",
                "x-ms-summary": "Start date",
                "description": "YYYY-MM-DD",
                "x-ms-visibility": "important"
              },
              "ends_on": {
                "type": "string",
                "x-ms-summary": "End date",
                "description": "YYYY-MM-DD",
                "x-ms-visibility": "important"
              },
              "estimate": {
                "format": "float",
                "type": "number",
                "x-ms-summary": "Estimate",
                "description": "Project estimate.",
                "x-ms-visibility": "advanced"
              },
              "estimate_by": {
                "type": "string",
                "x-ms-summary": "Estimated by",
                "description": "Method of estimation for project.",
                "x-ms-visibility": "advanced"
              },
              "hint_earliest_record_at": {
                "type": "string",
                "x-ms-summary": "Earliest record date",
                "description": "YYYY-MM-DD",
                "x-ms-visibility": "advanced"
              },
              "hint_latest_record_at": {
                "type": "string",
                "x-ms-summary": "Latest record date",
                "description": "YYYY-MM-DD",
                "x-ms-visibility": "advanced"
              },
              "notes": {
                "type": "string",
                "x-ms-summary": "Notes",
                "description": "Project notes.",
                "x-ms-visibility": "important"
              },
              "cost_budget": {
                "format": "float",
                "type": "number",
                "x-ms-summary": "Cost budget",
                "description": "Budget value for Total Project Fees projects.",
                "x-ms-visibility": "advanced"
              },
              "cost_budget_include_expenses": {
                "type": "boolean",
                "x-ms-summary": "Cost budget includes expenses",
                "description": "Option for budget of Total Project Fees projects to include tracked expenses.",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListTasks_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "task": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "type": "integer",
                "x-ms-summary": "Task id",
                "description": "Unique identifier of the task.",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "type": "string",
                "x-ms-summary": "Name",
                "description": "Task name.",
                "x-ms-visibility": "important"
              },
              "billable_by_default": {
                "type": "boolean",
                "x-ms-summary": "internal"
              },
              "created_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Created date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC).",
                "x-ms-visibility": "important"
              },
              "updated_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Updated date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC).",
                "x-ms-visibility": "advanced"
              },
              "is_default": {
                "type": "boolean",
                "x-ms-visibility": "internal"
              },
              "default_hourly_rate": {
                "format": "float",
                "type": "number",
                "x-ms-summary": "Default hourly rate",
                "description": "Default rate for the task.",
                "x-ms-visibility": "advanced"
              },
              "deactivated": {
                "type": "boolean",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "GetUserByID_Response": {
      "type": "object",
      "properties": {
        "user": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "User id",
              "description": "Unique identifier of the user.",
              "x-ms-visibility": "advanced"
            },
            "email": {
              "type": "string",
              "x-ms-summary": "Email",
              "description": "User's email.",
              "x-ms-visibility": "important"
            },
            "created_at": {
              "format": "date-time",
              "type": "string",
              "x-ms-summary": "Created date-time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
              "x-ms-visibility": "advanced"
            },
            "is_admin": {
              "type": "boolean",
              "x-ms-summary": "Is admin",
              "description": "True if the user is an admin.",
              "x-ms-visibility": "advanced"
            },
            "first_name": {
              "type": "string",
              "x-ms-summary": "First name",
              "description": "User's first name.",
              "x-ms-visibility": "important"
            },
            "last_name": {
              "type": "string",
              "x-ms-summary": "Last name",
              "description": "User's last name.",
              "x-ms-visibility": "important"
            },
            "timezone": {
              "type": "string",
              "x-ms-visibility": "internal"
            },
            "is_contractor": {
              "type": "boolean",
              "x-ms-summary": "Is contractor",
              "description": "True if the user is a contractor.",
              "x-ms-visibility": "advanced"
            },
            "telephone": {
              "type": "string",
              "x-ms-summary": "Phone",
              "description": "User's phone.",
              "x-ms-visibility": "important"
            },
            "is_active": {
              "type": "boolean",
              "x-ms-summary": "Is active",
              "description": "True if the user is currently active.",
              "x-ms-visibility": "advanced"
            },
            "has_access_to_all_future_projects": {
              "type": "boolean",
              "x-ms-visibility": "internal"
            },
            "default_hourly_rate": {
              "format": "float",
              "type": "number",
              "x-ms-summary": "Hourly rate",
              "description": "User's hourly rate",
              "x-ms-visibility": "important"
            },
            "department": {
              "type": "string",
              "x-ms-summary": "Department",
              "description": "Department name the user works in.",
              "x-ms-visibility": "advanced"
            },
            "wants_newsletter": {
              "type": "boolean",
              "x-ms-summary": "Newsletter subscription",
              "description": "True if the user wants to subscribe to the newsletter.",
              "x-ms-visibility": "advanced"
            },
            "updated_at": {
              "format": "date-time",
              "type": "string",
              "x-ms-summary": "Updated date-time",
              "description": "YYYY-MM-DDThh:mm:ssZ (UTC  format).",
              "x-ms-visibility": "internal"
            },
            "cost_rate": {
              "format": "float",
              "type": "number",
              "x-ms-summary": "Cost rate",
              "description": "User's cost rate.",
              "x-ms-visibility": "important"
            },
            "weekly_capacity": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Weekly capacity",
              "description": "User's weekly capacity.",
              "x-ms-visibility": "important"
            }
          }
        }
      }
    },
    "GetTimeEntriesForDay_Response": {
      "type": "object",
      "properties": {
        "day_entries": {
          "description": "day_entries",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "project_id": {
                "description": "Unique identifier of the porject.",
                "type": "string",
                "x-ms-summary": "Project id",
                "x-ms-visibility": "advanced"
              },
              "project": {
                "description": "Name of the project.",
                "type": "string",
                "x-ms-summary": "Project name",
                "x-ms-visibility": "important"
              },
              "user_id": {
                "format": "int32",
                "description": "Unique identifier of the user.",
                "type": "integer",
                "x-ms-summary": "User id",
                "x-ms-visibility": "advanced"
              },
              "spent_at": {
                "type": "string",
                "x-ms-summary": "Date",
                "description": "YYYY-MM-DD",
                "x-ms-visibility": "important"
              },
              "task_id": {
                "type": "string",
                "x-ms-summary": "Task id",
                "description": "Id of task the time entry is associated with.",
                "x-ms-visibility": "advanced"
              },
              "task": {
                "type": "string",
                "x-ms-summary": "Task",
                "description": "Name of task the time entry is associated with.",
                "x-ms-visibility": "important"
              },
              "client": {
                "type": "string",
                "x-ms-summary": "Client",
                "description": "Name of client the time entry is associated with.",
                "x-ms-visibility": "important"
              },
              "id": {
                "format": "int32",
                "type": "integer",
                "x-ms-summary": "Time entry id",
                "description": "Unique identifier of the time entry.",
                "x-ms-visibility": "advanced"
              },
              "notes": {
                "type": "string",
                "x-ms-summary": "Notes",
                "description": "Time entry notes.",
                "x-ms-visibility": "important"
              },
              "started_at": {
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "type": "string",
                "x-ms-summary": "Started date-time",
                "x-ms-visibility": "advanced"
              },
              "ended_at": {
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "type": "string",
                "x-ms-summary": "Ended date-time",
                "x-ms-visibility": "advanced"
              },
              "created_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Created date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "x-ms-visibility": "advanced"
              },
              "updated_at": {
                "format": "date-time",
                "type": "string",
                "x-ms-summary": "Updated date-time",
                "description": "YYYY-MM-DDThh:mm:ssZ (UTC format).",
                "x-ms-visibility": "advanced"
              },
              "hours_without_timer": {
                "format": "float",
                "type": "number",
                "x-ms-summary": "Hours without timer",
                "description": "Current amount of time tracked, if timer is not running.",
                "x-ms-visibility": "important"
              },
              "hours": {
                "format": "float",
                "type": "number",
                "x-ms-summary": "Hours",
                "description": "Number of (decimal time) hours tracked in this time entry.",
                "x-ms-visibility": "important"
              }
            }
          },
          "x-ms-summary": "day_entries",
          "x-ms-visibility": "advanced"
        },
        "for_day": {
          "description": "for_day",
          "type": "string",
          "x-ms-summary": "for_day",
          "x-ms-visibility": "internal"
        }
      }
    }
  },
  "parameters": {
    "DAY_ENTRY_ID__in_path": {
      "name": "DAY_ENTRY_ID",
      "in": "path",
      "required": true,
      "x-ms-summary": "Time Entry Id",
      "description": "The id of the time entry",
      "x-ms-test-value": "552622755",
      "type": "string"
    },
    "DayInPath": {
      "name": "day",
      "in": "path",
      "description": "Day of the year in range (1, 366)",
      "required": true,
      "x-ms-summary": "Day",
      "x-ms-test-value": "316",
      "type": "number"
    },
    "YearInPath": {
      "name": "year",
      "in": "path",
      "description": "Year",
      "required": true,
      "x-ms-summary": "Year",
      "x-ms-test-value": "2016",
      "type": "number"
    },
    "OfUserNonAdvanced": {
      "name": "of_user",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-summary": "Other User ID",
      "description": "The id of the user to check time entries for. Defaults to your id.",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "ListAllUsers",
        "value-path": "user/id",
        "value-title": "user/email"
      }
    },
    "OfUser": {
      "name": "of_user",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-summary": "Other User ID",
      "description": "The id of the user to check time entries for.",
      "x-ms-visibility": "advanced",
      "x-ms-dynamic-values": {
        "operationId": "ListAllUsers",
        "value-path": "user/id",
        "value-title": "user/email"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.getharvest.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.getharvest.com/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/harvest"
  },
  "basePath": "/apim/harvest"
}
