{
  "swagger": "2.0",
  "info": {
    "description": "Microsoft FHIR Server Connector for FHIR R4 Base resources.",
    "title": "FHIRBase",
    "version": "4.0.1",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft Health",
      "url": "https://github.com/microsoft/health-architectures",
      "email": "HealthArchitectures@windows.microsoft.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/fhirbase",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/Appointment": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "clinical-patient",
            "x-ms-summary": "search",
            "format": ""
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "choose to return the results in a series of pages",
            "x-ms-summary": "count"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "order to return the results by using the parameter",
            "x-ms-summary": "sort"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "link": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "relation": {
                        "type": "string",
                        "description": "relation"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "link"
                },
                "entry": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fullUrl": {
                        "type": "string",
                        "description": "fullUrl"
                      },
                      "resource": {
                        "type": "object",
                        "properties": {
                          "resourceType": {
                            "type": "string",
                            "description": "resourceType"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "meta": {
                            "type": "object",
                            "properties": {
                              "versionId": {
                                "type": "string",
                                "description": "versionId"
                              },
                              "lastUpdated": {
                                "type": "string",
                                "description": "lastUpdated"
                              }
                            },
                            "description": "meta"
                          },
                          "text": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "description": "status"
                              },
                              "div": {
                                "type": "string",
                                "description": "div"
                              }
                            },
                            "description": "text"
                          },
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "serviceCategory": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "coding": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "system": {
                                        "type": "string",
                                        "description": "system"
                                      },
                                      "code": {
                                        "type": "string",
                                        "description": "code"
                                      },
                                      "display": {
                                        "type": "string",
                                        "description": "display"
                                      }
                                    }
                                  },
                                  "description": "coding"
                                }
                              }
                            },
                            "description": "serviceCategory"
                          },
                          "serviceType": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "coding": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "code"
                                      },
                                      "display": {
                                        "type": "string",
                                        "description": "display"
                                      }
                                    }
                                  },
                                  "description": "coding"
                                }
                              }
                            },
                            "description": "serviceType"
                          },
                          "specialty": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "coding": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "system": {
                                        "type": "string",
                                        "description": "system"
                                      },
                                      "code": {
                                        "type": "string",
                                        "description": "code"
                                      },
                                      "display": {
                                        "type": "string",
                                        "description": "display"
                                      }
                                    }
                                  },
                                  "description": "coding"
                                }
                              }
                            },
                            "description": "specialty"
                          },
                          "appointmentType": {
                            "type": "object",
                            "properties": {
                              "coding": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "system": {
                                      "type": "string",
                                      "description": "system"
                                    },
                                    "code": {
                                      "type": "string",
                                      "description": "code"
                                    },
                                    "display": {
                                      "type": "string",
                                      "description": "display"
                                    }
                                  }
                                },
                                "description": "coding"
                              }
                            },
                            "description": "appointmentType"
                          },
                          "reasonReference": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "reference": {
                                  "type": "string",
                                  "description": "reference"
                                },
                                "display": {
                                  "type": "string",
                                  "description": "display"
                                }
                              }
                            },
                            "description": "reasonReference"
                          },
                          "priority": {
                            "type": "integer",
                            "format": "int32",
                            "description": "priority"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "start": {
                            "type": "string",
                            "description": "start"
                          },
                          "end": {
                            "type": "string",
                            "description": "end"
                          },
                          "created": {
                            "type": "string",
                            "description": "created"
                          },
                          "comment": {
                            "type": "string",
                            "description": "comment"
                          },
                          "basedOn": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "reference": {
                                  "type": "string",
                                  "description": "reference"
                                }
                              }
                            },
                            "description": "basedOn"
                          },
                          "participant": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "actor": {
                                  "type": "object",
                                  "properties": {
                                    "reference": {
                                      "type": "string",
                                      "description": "reference"
                                    },
                                    "display": {
                                      "type": "string",
                                      "description": "display"
                                    }
                                  },
                                  "description": "actor"
                                },
                                "required": {
                                  "type": "string",
                                  "description": "required"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "status"
                                },
                                "type": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "coding": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "system": {
                                              "type": "string",
                                              "description": "system"
                                            },
                                            "code": {
                                              "type": "string",
                                              "description": "code"
                                            }
                                          }
                                        },
                                        "description": "coding"
                                      }
                                    }
                                  },
                                  "description": "type"
                                }
                              }
                            },
                            "description": "participant"
                          }
                        },
                        "description": "resource"
                      },
                      "search": {
                        "type": "object",
                        "properties": {
                          "mode": {
                            "type": "string",
                            "description": "mode"
                          }
                        },
                        "description": "search"
                      }
                    }
                  },
                  "description": "entry"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Appointment",
        "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
        "operationId": "GET_Appointment",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#get-appointment"
        }
      },
      "post": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "serviceCategory": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "serviceCategory"
                },
                "serviceType": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "serviceType"
                },
                "specialty": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coding": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "system": {
                              "type": "string",
                              "description": "system"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "display": {
                              "type": "string",
                              "description": "display"
                            }
                          }
                        },
                        "description": "coding"
                      }
                    }
                  },
                  "description": "specialty"
                },
                "appointmentType": {
                  "type": "object",
                  "properties": {
                    "coding": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "system": {
                            "type": "string",
                            "description": "system"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        }
                      },
                      "description": "coding"
                    }
                  },
                  "description": "appointmentType"
                },
                "reasonReference": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "reference": {
                        "type": "string",
                        "description": "reference"
                      },
                      "display": {
                        "type": "string",
                        "description": "display"
                      }
                    }
                  },
                  "description": "reasonReference"
                },
                "priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "priority"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "start": {
                  "type": "string",
                  "description": "start"
                },
                "end": {
                  "type": "string",
                  "description": "end"
                },
                "created": {
                  "type": "string",
                  "description": "created"
                },
                "comment": {
                  "type": "string",
                  "description": "comment"
                },
                "basedOn": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "reference": {
                        "type": "string",
                        "description": "reference"
                      }
                    }
                  },
                  "description": "basedOn"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Post Appointment",
        "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
        "operationId": "POST_Appointment",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#post-appointment"
        }
      }
    },
    "/{connectionId}/Appointment/{id}": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Appointment ID",
        "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
        "operationId": "GET_Appointment_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#get-appointment-id"
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Delete Appointment ID",
        "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
        "operationId": "DELETE_Appointment_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#delete-appointment-id"
        }
      },
      "put": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Put Appointment ID",
        "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
        "operationId": "PUT_Appointment_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#put-appointment-id"
        }
      }
    },
    "/{connectionId}/Appointment/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "vid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Changes made to the Value Set Definition over time",
            "x-ms-summary": "history"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Appointment ID History",
        "operationId": "GET_Appointment_ID_VERSION",
        "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#get-appointment-id-history"
        }
      }
    },
    "/{connectionId}/Appointment/{id}/_history": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Appointment ID History",
        "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
        "operationId": "GET_Appointment_ID_History",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#get-appointment-id-history"
        }
      }
    },
    "/{connectionId}/Appointment/_history": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "clinical-patient",
            "x-ms-summary": "search",
            "format": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "participant": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "reference": {
                            "type": "string",
                            "description": "reference"
                          },
                          "display": {
                            "type": "string",
                            "description": "display"
                          }
                        },
                        "description": "actor"
                      },
                      "required": {
                        "type": "string",
                        "description": "required"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "type": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coding": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "system": {
                                    "type": "string",
                                    "description": "system"
                                  },
                                  "code": {
                                    "type": "string",
                                    "description": "code"
                                  }
                                }
                              },
                              "description": "coding"
                            }
                          }
                        },
                        "description": "type"
                      }
                    }
                  },
                  "description": "participant"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Appointment History",
        "description": "A booking of a healthcare event among patient(s), practitioner(s), related person(s) and/or device(s) for a specific date/time. This may result in one or more Encounter(s).",
        "operationId": "GET_Appointment_History",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#get-appointment-history"
        }
      }
    },
    "/{connectionId}/AppointmentResponse": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "_count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "results returned in a series of pages",
            "x-ms-summary": "count"
          },
          {
            "name": "_sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "order to return the results by using the parameter",
            "x-ms-summary": "sort"
          },
          {
            "name": "patient",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "clinical-patient",
            "x-ms-summary": "search",
            "format": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "link": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "relation": {
                        "type": "string",
                        "description": "relation"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "link"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Appointment Response",
        "description": "A reply to an appointment request for a patient and/or practitioner(s), such as a confirmation or rejection.",
        "operationId": "GET_AppointmentResponse",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#appointment-response"
        }
      },
      "post": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "appointment": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "appointment"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "actor"
                },
                "participantStatus": {
                  "type": "string",
                  "description": "participantStatus"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "appointment": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "appointment"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "actor"
                },
                "participantStatus": {
                  "type": "string",
                  "description": "participantStatus"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Post Appointment Response",
        "description": "A reply to an appointment request for a patient and/or practitioner(s), such as a confirmation or rejection.",
        "operationId": "POST_AppointmentResponse",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#post-appointment-response"
        }
      }
    },
    "/{connectionId}/AppointmentResponse/{id}": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "appointment": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "appointment"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "actor"
                },
                "participantStatus": {
                  "type": "string",
                  "description": "participantStatus"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Post Appointment Response ID",
        "description": "A reply to an appointment request for a patient and/or practitioner(s), such as a confirmation or rejection.",
        "operationId": "GET_AppointmentResponse_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#post-appointment-response-id"
        }
      },
      "delete": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "appointment": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "appointment"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "actor"
                },
                "participantStatus": {
                  "type": "string",
                  "description": "participantStatus"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "appointment": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "appointment"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "actor"
                },
                "participantStatus": {
                  "type": "string",
                  "description": "participantStatus"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Delete AppointmentResponse ID",
        "description": "A reply to an appointment request for a patient and/or practitioner(s), such as a confirmation or rejection.",
        "operationId": "DELETE_AppointmentResponse_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#delete-appointmentresponse-id"
        }
      },
      "put": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "appointment": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "appointment"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "actor"
                },
                "participantStatus": {
                  "type": "string",
                  "description": "participantStatus"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "div": {
                      "type": "string",
                      "description": "div"
                    }
                  },
                  "description": "text"
                },
                "appointment": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "appointment"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference"
                    },
                    "display": {
                      "type": "string",
                      "description": "display"
                    }
                  },
                  "description": "actor"
                },
                "participantStatus": {
                  "type": "string",
                  "description": "participantStatus"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "Put AppointmentResponse ID",
        "description": "A reply to an appointment request for a patient and/or practitioner(s), such as a confirmation or rejection.",
        "operationId": "PUT_AppointmentResponse_ID",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fhirbase/#put-appointmentresponse-id"
        }
      }
    },
    "/{connectionId}/AppointmentResponse/{id}/_history/{vid}": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "logical id of the resource",
            "x-ms-summary": "id"
          },
          {
            "name": "vid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Changes made to the Value Set Definition over time",
            "x-ms-summary": "history"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "resourceType": {
                  "type": "string",
                  "description": "resourceType"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "versionId": {
                      "type": "string",
                      "description": "versionId"
                    },
                    "lastUpdated": {
                      "type": "string",
                      "description": "lastUpdated"
                    }
                  },
                  "description": "meta"
                },
                "text": {
                  "type": "object",
                  "properties": {
[...]
