{
  "swagger": "2.0",
  "info": {
    "title": "Spring Global",
    "description": "The connector contains a trigger to handle surver execution events and methods get relevant information about survey execution and users",
    "version": "1.1",
    "contact": {
      "name": "Spring Global Team",
      "url": "https://www.springglobal.com/contact-us",
      "email": "sustaining.br@springglobal.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/springglobal",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/survey-service/execution/{executionId}": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSurveyPublicationSchema",
                "parameters": {
                  "publicationIdValue": {
                    "parameter": "publicationId"
                  },
                  "advancedInfo": {
                    "parameter": "advancedInfo"
                  }
                },
                "value-path": "schemaDefinition"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetSurveyPublicationSchema",
                "parameters": {
                  "publicationIdValue": {
                    "parameterReference": "publicationId"
                  },
                  "advancedInfo": {
                    "parameterReference": "advancedInfo"
                  }
                },
                "itemValuePath": "schemaDefinition"
              }
            }
          }
        },
        "summary": "Get Survey Execution Data",
        "description": "Get Survey Execution Data",
        "operationId": "GetExecutionById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "executionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Execution Id (unique identifier)",
            "x-ms-summary": "Execution Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "advancedInfo",
            "in": "header",
            "type": "boolean",
            "description": "Show advanced options for checkbox questions",
            "x-ms-summary": "Show advanced options for checkbox questions",
            "default": false,
            "x-ms-visibility": "important"
          },
          {
            "name": "surveyId",
            "in": "header",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetSurveys",
              "value-path": "id",
              "value-title": "name"
            },
            "description": "Select a survey",
            "x-ms-summary": "Survey"
          },
          {
            "name": "publicationId",
            "in": "header",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetPublications",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "surveyId": {
                  "parameter": "surveyId"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetPublications",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "surveyId": {
                  "parameterReference": "surveyId"
                }
              }
            },
            "description": "Select a survey publication",
            "x-ms-summary": "Publication"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/springglobal/#get-survey-execution-data"
        }
      }
    },
    "/{connectionId}/survey-service/list/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Survey Id"
                  },
                  "tenantId": {
                    "type": "string",
                    "description": "Tenant Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "Survey name"
                  },
                  "description": {
                    "type": "string",
                    "description": "Survey description"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status"
                  },
                  "lastDateModified": {
                    "type": "string",
                    "description": "Last modified date"
                  },
                  "creator": {
                    "type": "string",
                    "description": "Created by"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "summary": "Get Survey List",
        "description": "Get Survey List",
        "operationId": "GetSurveys",
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/springglobal/#get-survey-list"
        }
      }
    },
    "/{connectionId}/survey-service/getPublication/{publicationIdValue}": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "schemaDefinition": {
                  "type": "object",
                  "description": "Schema definition"
                }
              }
            }
          }
        },
        "summary": "Get Survey Publication Schema",
        "description": "Get Survey Publication Schema",
        "operationId": "GetSurveyPublicationSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "publicationIdValue",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Publication Id (unique identifier)",
            "x-ms-summary": "Publication Id (unique identifier)",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "advancedInfo",
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Show advanced options for checkbox questions",
            "x-ms-summary": "Show advanced options for checkbox questions",
            "default": false
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/springglobal/#get-survey-publication-schema"
        }
      }
    },
    "/{connectionId}/webhook-service/subscribe/surveyexecution": {
      "x-ms-notification-content": {
        "description": "On Survey Execution Input Data",
        "schema": {
          "type": "object",
          "properties": {
            "tenantId": {
              "type": "string",
              "description": "Tenant Id"
            },
            "action": {
              "type": "string",
              "description": "Action"
            },
            "event": {
              "type": "string",
              "description": "Event"
            },
            "parameters": {
              "type": "object",
              "properties": {
                "publicationId": {
                  "type": "string",
                  "description": "Publication Id"
                }
              },
              "description": "Parameters"
            },
            "payload": {
              "type": "object",
              "properties": {
                "executionId": {
                  "type": "string",
                  "description": "Execution Id"
                }
              },
              "description": "Payload"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "200"
          }
        },
        "summary": "On Survey Execution",
        "description": "On Survey Execution",
        "operationId": "OnSurveyExecution",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callback": {
                  "type": "string",
                  "description": "callback",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "parameters": {
                  "type": "object",
                  "properties": {
                    "surveyId": {
                      "type": "string",
                      "description": "Select a survey",
                      "title": "Survey",
                      "x-ms-dynamic-values": {
                        "operationId": "GetSurveys",
                        "value-path": "id",
                        "value-title": "name"
                      }
                    },
                    "publicationId": {
                      "type": "string",
                      "description": "Select a survey publication",
                      "title": "Publication",
                      "x-ms-dynamic-values": {
                        "operationId": "GetPublications",
                        "value-path": "id",
                        "value-title": "name",
                        "parameters": {
                          "surveyId": {
                            "parameter": "parameters.surveyId"
                          }
                        }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "GetPublications",
                        "itemValuePath": "id",
                        "itemTitlePath": "name",
                        "parameters": {
                          "surveyId": {
                            "parameterReference": "body/parameters/surveyId"
                          }
                        }
                      }
                    }
                  },
                  "description": "Parameters",
                  "required": [
                    "surveyId",
                    "publicationId"
                  ]
                }
              },
              "required": [
                "callback",
                "parameters"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/springglobal/#on-survey-execution"
        }
      }
    },
    "/{connectionId}/webhook-service/unsubscribe/{token}": {
      "delete": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {}
          }
        },
        "summary": "Unsubscribe Web Hook Events",
        "description": "Unsubscribe Web Hook Events",
        "operationId": "UnsubscribeWebHookEvents",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/springglobal/#unsubscribe-web-hook-events"
        }
      }
    },
    "/{connectionId}/survey-service/publication/getAllPublications/{surveyId}": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Publication Id"
                  },
                  "tenantId": {
                    "type": "string",
                    "description": "Tenant Id"
                  },
                  "partitionKey": {
                    "type": "string",
                    "description": "Partition Key"
                  },
                  "surveyId": {
                    "type": "string",
                    "description": "Survey Id"
                  },
                  "oneTimeSurvey": {
                    "type": "boolean",
                    "description": "Is it one-time survey?"
                  },
                  "sendEmailNotification": {
                    "type": "boolean",
                    "description": "Is email notification is sent?"
                  },
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "string",
                          "description": "User name"
                        },
                        "id": {
                          "type": "string",
                          "description": "User Id"
                        }
                      }
                    },
                    "description": "Users"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "validityStart": {
                    "type": "string",
                    "description": "Validity start"
                  },
                  "lastModifiedDate": {
                    "type": "string",
                    "description": "Last modified date"
                  },
                  "validityEnd": {
                    "type": "string",
                    "description": "Validity end"
                  }
                }
              }
            }
          }
        },
        "summary": "Get All Survey`s Publications (Versions)",
        "description": "Get All Survey`s Publications (Versions)",
        "operationId": "GetPublications",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Survey Id (unique identifier)",
            "x-ms-summary": "Survey Id (unique identifier)",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/springglobal/#get-all-survey%60s-publications-(versions)"
        }
      }
    },
    "/{connectionId}/identity-service/user/{userId}": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "User Id",
                  "title": "User Id"
                },
                "code": {
                  "type": "string",
                  "description": "User code",
                  "title": "User code"
                },
                "firstName": {
                  "type": "string",
                  "description": "First Name",
                  "title": "First Name"
                },
                "secondName": {
                  "type": "string",
                  "description": "Second (Middle) Name",
                  "title": "Second (Middle) Name"
                },
                "surname": {
                  "type": "string",
                  "description": "Surname",
                  "title": "Surname"
                },
                "username": {
                  "type": "string",
                  "description": "User name",
                  "title": "Username (Login)"
                },
                "email": {
                  "type": "string",
                  "description": "Email",
                  "title": "User email"
                }
              }
            }
          }
        },
        "summary": "Get User Info",
        "operationId": "GetUserById",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "User Id (guid)",
            "x-ms-summary": "User",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Get User Info",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/springglobal/#get-user-info"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "SPRING_GLOBAL_API_KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.springglobal.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.springglobal.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Collaboration"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/springglobal"
  }
}
