{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Benchmark Email",
    "description": "Online email marketing solution to engage subscribers, target an audience, send beautiful, responsive emails and track results.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/benchmarkemail",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/listCreate/": {
      "post": {
        "summary": "Create list",
        "description": "This operation is used to create a new mailing list.",
        "operationId": "CreateContactList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "listName",
            "in": "query",
            "description": "The name of the new list.",
            "required": true,
            "x-ms-summary": "List Name",
            "x-ms-test-value": "Test",
            "type": "string"
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output type.",
            "required": true,
            "x-ms-summary": "output",
            "x-ms-test-value": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "json"
          },
          {
            "name": "method",
            "in": "query",
            "description": "Api method.",
            "required": true,
            "x-ms-summary": "method",
            "x-ms-test-value": "listCreate",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "listCreate"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "description": "Unique identifier of the list.",
              "type": "string",
              "x-ms-summary": "List Id",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/benchmarkemail/#create-list"
        }
      }
    },
    "/{connectionId}/listGet/": {
      "get": {
        "summary": "List contact lists",
        "description": "Display a list of your contact lists.",
        "operationId": "ListContactLists",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output type.",
            "required": true,
            "x-ms-summary": "Output",
            "x-ms-test-value": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "json"
          },
          {
            "name": "method",
            "in": "query",
            "description": "Api method.",
            "required": true,
            "x-ms-summary": "Method",
            "x-ms-test-value": "listGet",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "listGet"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Maximum amount of values to return.",
            "required": true,
            "x-ms-summary": "Page size",
            "x-ms-test-value": 1000,
            "x-ms-visibility": "internal",
            "type": "integer",
            "default": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListContactList_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/benchmarkemail/#list-contact-lists"
        }
      }
    },
    "/{connectionId}/listGetContacts/": {
      "get": {
        "summary": "List contacts",
        "description": "List the contacts in a list.",
        "operationId": "ListContacts",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output type.",
            "required": true,
            "x-ms-summary": "Output",
            "x-ms-test-value": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "json"
          },
          {
            "name": "method",
            "in": "query",
            "description": "Api method.",
            "required": true,
            "x-ms-summary": "Method",
            "x-ms-test-value": "listGetContacts",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "listGetContacts"
          },
          {
            "name": "listID",
            "in": "query",
            "description": "List to fetch contacts for.",
            "required": true,
            "x-ms-summary": "List id",
            "x-ms-test-value": "14536305",
            "x-ms-dynamic-values": {
              "operationId": "ListContactLists",
              "parameters": {
                "output": "json",
                "method": "listGet",
                "pageSize": 1000
              },
              "value-path": "id",
              "value-title": "listname"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListContacts_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/benchmarkemail/#list-contacts"
        }
      }
    },
    "/{connectionId}/listAddContacts/": {
      "post": {
        "summary": "Create contact",
        "description": "This operation is used to add a new contact to an existing mailing list.",
        "operationId": "CreateContact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "output",
            "in": "query",
            "description": "Output type.",
            "required": true,
            "x-ms-summary": "output",
            "x-ms-test-value": "json",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "json"
          },
          {
            "name": "method",
            "in": "query",
            "description": "Api method.",
            "required": true,
            "x-ms-summary": "method",
            "x-ms-test-value": "listAddContacts",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "listAddContacts"
          },
          {
            "name": "listID",
            "in": "query",
            "description": "Pick a list.",
            "required": true,
            "x-ms-summary": "List id",
            "x-ms-visibility": "important",
            "x-ms-test-value": "14536305",
            "x-ms-dynamic-values": {
              "operationId": "ListContactLists",
              "value-path": "id",
              "parameters": {
                "output": "json",
                "method": "listGet",
                "pageSize": 100
              },
              "value-title": "listname"
            },
            "type": "string"
          },
          {
            "name": "Email",
            "in": "query",
            "description": "Email address to add to the list (must not already be in the list).",
            "required": true,
            "x-ms-summary": "Email",
            "x-ms-visibility": "important",
            "x-ms-test-value": "perry.isaac.m0@gmail.com",
            "type": "string"
          },
          {
            "name": "FirstName",
            "in": "query",
            "description": "First name of the new contact.",
            "required": false,
            "x-ms-summary": "First Name",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "Isaac",
            "type": "string"
          },
          {
            "name": "MiddleName",
            "in": "query",
            "description": "The middle name of the new contact.",
            "required": false,
            "x-ms-summary": "Middle Name",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "Morgan",
            "type": "string"
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "Last name of the new contact.",
            "required": false,
            "x-ms-summary": "Last Name",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "Perry",
            "type": "string"
          },
          {
            "name": "JobTitle",
            "in": "query",
            "description": "Job title of the new contact.",
            "required": false,
            "x-ms-summary": "Job Title",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "Dev",
            "type": "string"
          },
          {
            "name": "Phone",
            "in": "query",
            "description": "Phone number of the new contact (any format).",
            "required": false,
            "x-ms-summary": "Phone",
            "x-ms-visibility": "advanced",
            "x-ms-test-value": "350-2356",
            "type": "string"
          },
          {
            "name": "Notes",
            "in": "query",
            "description": "Additional notes related to the new contact.",
            "required": false,
            "x-ms-summary": "Notes",
            "x-ms-test-value": "Here is a new note",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "description": "-2 if the contact already exists.",
              "type": "integer",
              "x-ms-summary": "Success",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/benchmarkemail/#create-contact"
        }
      }
    }
  },
  "definitions": {
    "ListContactList_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "contactcount": {
            "format": "int32",
            "description": "The number of contacts in this list.",
            "type": "integer",
            "x-ms-summary": "Contact Count",
            "x-ms-visibility": "important"
          },
          "createdDate": {
            "description": "The date this list was created.",
            "type": "string",
            "x-ms-summary": "created Date",
            "x-ms-visibility": "advanced"
          },
          "encToken": {
            "description": "encToken",
            "type": "string",
            "x-ms-summary": "encToken",
            "x-ms-visibility": "advanced"
          },
          "id": {
            "description": "Unique identifier for this list.",
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-visibility": "advanced"
          },
          "list_description": {
            "description": "Description of this list.",
            "type": "string",
            "x-ms-summary": "Description",
            "x-ms-visibility": "advanced"
          },
          "listname": {
            "description": "Given name for the list.",
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important"
          },
          "modifiedDate": {
            "description": "The date of the most recent modification to the list.",
            "type": "string",
            "x-ms-summary": "Modified Date",
            "x-ms-visibility": "advanced"
          },
          "segment": {
            "description": "segment",
            "type": "string",
            "x-ms-summary": "segment",
            "x-ms-visibility": "advanced"
          },
          "sequence": {
            "format": "int32",
            "description": "sequence",
            "type": "integer",
            "x-ms-summary": "sequence",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "ListContacts_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "createddate": {
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
            "type": "string",
            "x-ms-summary": "Created Date",
            "x-ms-visibility": "advanced"
          },
          "email": {
            "description": "Contact's email.",
            "type": "string",
            "x-ms-summary": "Email",
            "x-ms-visibility": "important"
          },
          "firstname": {
            "description": "Contact's first name.",
            "type": "string",
            "x-ms-summary": "First Name",
            "x-ms-visibility": "important"
          },
          "lastname": {
            "description": "Contact's last name.",
            "type": "string",
            "x-ms-summary": "Last Name",
            "x-ms-visibility": "important"
          },
          "middlename": {
            "description": "Contact's middle name.",
            "type": "string",
            "x-ms-summary": "Middle Name",
            "x-ms-visibility": "important"
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.benchmarkemail.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.benchmarkemail.com/email-marketing/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/benchmarkemail"
  }
}
