{
  "basePath": "/apim/d7sms",
  "consumes": [],
  "definitions": {},
  "host": "europe-002.azure-apim.net",
  "info": {
    "description": "D7 SMS allows you to reach your customers via SMS over D7's own connectivity to global mobile networks. D7 provides reliable and cost-effective SMS services to businesses across all industries and aims to connect all countries and territories via direct connections.",
    "title": "D7SMS",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "email": "support@d7networks.com"
    }
  },
  "parameters": {},
  "paths": {
    "/{connectionId}/balance": {
      "get": {
        "description": "Check account balance",
        "operationId": "Balance",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "description": "data",
                  "properties": {
                    "balance": {
                      "description": "balance",
                      "type": "string"
                    },
                    "sms_count": {
                      "description": "sms_count",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Check Balance",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/d7sms/#check-balance"
        }
      }
    },
    "/{connectionId}/secure/balance": {},
    "/{connectionId}/secure/send": {},
    "/{connectionId}/send": {
      "post": {
        "description": "Send SMS  to recipients using D7 SMS Gateway",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "Body",
            "required": false,
            "schema": {
              "properties": {
                "content": {
                  "description": "Content",
                  "type": "string"
                },
                "from": {
                  "description": "From",
                  "type": "string"
                },
                "to": {
                  "description": "Destination Mobile Number",
                  "title": "To",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "description": "data",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Send SMS",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/d7sms/#send-sms"
        }
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "basic_auth": []
    }
  ],
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://d7networks.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://d7networks.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/d7sms"
  }
}
