{
  "swagger": "2.0",
  "info": {
    "title": "App Power Forms",
    "description": "Use this connector from App Power to easily include external stakeholders in your business processes. The connector makes it very easy to create a form within the designer. You can start with a free trial license and acquire a production license at https://apppower.net.",
    "version": "1.0",
    "contact": {
      "name": "App Power",
      "url": "https://apppower.net",
      "email": "support@apppowersolutions.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/apppowerforms",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "MetadataTestConnection",
      "parameters": {}
    }
  },
  "paths": {
    "/{connectionId}/AddNewForm": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "AddCardSchema",
                "parameters": {
                  "cardName": {
                    "parameter": "formTitle"
                  },
                  "cardData": {
                    "parameter": "formTitle"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "AddCardSchema",
                "parameters": {
                  "cardName": {
                    "parameterReference": "body/formTitle"
                  },
                  "cardData": {
                    "parameterReference": "body/formTitle"
                  }
                }
              }
            }
          }
        },
        "summary": "Create new App Power Easy form",
        "operationId": "AddForm",
        "description": "Create a new App Power Easy form. After this action you can add any number of fields to the form by adding field specific actions.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "formTitle": {
                  "type": "string",
                  "description": "Give unique form name. This is not visible to the end user.",
                  "x-ms-summary": "Form name"
                },
                "welcomeText": {
                  "type": "string",
                  "x-ms-summary": "Form description",
                  "description": "Give form description. This text is displayed at the beginning of the form."
                },
                "thankYouText": {
                  "type": "string",
                  "x-ms-summary": "Thank you text",
                  "description": "Give text displayed to the user after submission."
                }
              },
              "required": [
                "formTitle"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/apppowerforms/#create-new-app-power-easy-form"
        }
      }
    },
    "/{connectionId}/AddFormField": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "AddCardFieldSchema",
                "parameters": {
                  "formName": {
                    "parameter": "formName"
                  },
                  "fieldName": {
                    "parameter": "fieldName"
                  },
                  "fieldType": {
                    "parameter": "fieldType"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "AddCardFieldSchema",
                "parameters": {
                  "formName": {
                    "parameterReference": "body/formName"
                  },
                  "fieldName": {
                    "parameterReference": "body/fieldName"
                  },
                  "fieldType": {
                    "parameterReference": "body/fieldType"
                  }
                }
              }
            }
          }
        },
        "summary": "Add new field to App Power Easy form",
        "description": "Use this action to add a new field to the form created in an earlier step. The fields will be visible on the form in the order they are added.",
        "operationId": "AddFormField",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "instanceId",
                "formName",
                "fieldName",
                "fieldType"
              ],
              "properties": {
                "instanceId": {
                  "type": "string",
                  "description": "Card ID of the form to add this field to.",
                  "x-ms-summary": "Form ID"
                },
                "formName": {
                  "type": "string",
                  "description": "Name of the form.",
                  "x-ms-summary": "Form name",
                  "x-ms-dynamic-values": {
                    "operationId": "MetadataListOfCards",
                    "value-path": "name",
                    "value-title": "displayName",
                    "parameters": {
                      "cardType": "EasyCard"
                    }
                  }
                },
                "fieldName": {
                  "type": "string",
                  "description": "Field name is displayed on the form.",
                  "x-ms-summary": "Field name"
                },
                "fieldType": {
                  "type": "string",
                  "description": "Choose the field type.",
                  "x-ms-summary": "Field type",
                  "x-ms-dynamic-values": {
                    "operationId": "MetadataFormFieldTypes"
                  }
                },
                "fieldConfiguration": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "MetadataFieldTypeSpecificSchema",
                    "parameters": {
                      "fieldType": {
                        "parameter": "fieldType"
                      }
                    }
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "MetadataFieldTypeSpecificSchema",
                    "parameters": {
                      "fieldType": {
                        "parameterReference": "body/fieldType"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/apppowerforms/#add-new-field-to-app-power-easy-form"
        }
      }
    },
    "/{connectionId}/AddAdaptiveCard": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "AddCardSchema",
                "parameters": {
                  "cardData": {
                    "parameter": "card"
                  },
                  "cardName": {
                    "parameter": "name"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "AddCardSchema",
                "parameters": {
                  "cardData": {
                    "parameterReference": "body/card"
                  },
                  "cardName": {
                    "parameterReference": "body/name"
                  }
                }
              }
            }
          }
        },
        "summary": "Create new form from Adaptive Card",
        "operationId": "AddAdaptiveCard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name",
                "card"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "title": "Card name"
                },
                "card": {
                  "type": "string",
                  "title": "Adaptive Card JSON"
                },
                "cardAfterSubmit": {
                  "type": "string",
                  "title": "Card displayed after submit"
                }
              }
            }
          }
        ],
        "description": "Use this action to create a form based on Adaptive Card JSON.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/apppowerforms/#create-new-form-from-adaptive-card"
        }
      }
    },
    "/{connectionId}/AddCardSchema/{cardName}": {
      "post": {
        "responses": {
          "200": {
            "description": "AddCardSchema response",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "AddCardSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "cardData",
            "in": "body",
            "required": false,
            "schema": {}
          },
          {
            "name": "cardName",
            "in": "path",
            "type": "string",
            "x-ms-url-encoding": "single",
            "required": true
          }
        ]
      }
    },
    "/{connectionId}/AddCardFieldSchema/{formName}/{fieldName}": {
      "post": {
        "responses": {
          "200": {
            "description": "AddCardFieldSchema response schema",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "AddCardFieldSchema",
        "x-ms-visibility": "internal",
        "consumes": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fieldType",
            "in": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "formName",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          },
          {
            "name": "fieldName",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/{connectionId}/GetCardResponse/{instanceId}/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "cardName": {
                    "parameter": "name"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "cardName": {
                    "parameterReference": "name"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetCardResponse",
        "summary": "Wait for form response",
        "description": "Use this action to wait until a specific form is submitted. You can use this action for both Easy Forms and forms based on Adaptive Card JSON.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "instanceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the card to wait for",
            "x-ms-summary": "Card ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "name",
            "required": true,
            "type": "string",
            "in": "path",
            "x-ms-summary": "Card name",
            "x-ms-url-encoding": "single",
            "description": "Name of the card providing the schema.",
            "x-ms-dynamic-values": {
              "operationId": "MetadataListOfCards",
              "value-path": "name",
              "value-title": "displayName",
              "parameters": {
                "cardType": "ALL"
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/apppowerforms/#wait-for-form-response"
        }
      }
    },
    "/{connectionId}/GetResponseSchema/{cardName}": {
      "get": {
        "responses": {
          "200": {
            "description": "GetResponseSchema response schema",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "GetResponseSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "cardName",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/{connectionId}/MetadataListOfCards/{cardType}": {
      "get": {
        "responses": {
          "200": {
            "description": "List of cards",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "operationId": "MetadataListOfCards",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "cardType",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/{connectionId}/MetadataFormFieldTypes": {
      "get": {
        "responses": {
          "200": {
            "description": "Form field types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "operationId": "MetadataFormFieldTypes",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/MetadataFieldTypeSpecificSchema": {
      "post": {
        "responses": {
          "200": {
            "description": "MetadataFieldTypeSpecificSchema response schema",
            "schema": {
              "type": "string"
            }
          }
        },
        "operationId": "MetadataFieldTypeSpecificSchema",
        "x-ms-visibility": "internal",
        "consumes": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "fieldType",
            "in": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/{connectionId}/GetFormAdaptiveCardJson/{instanceId}": {
      "get": {
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "instanceId",
            "description": "Give the Card Id of the form definition to get the JSON from.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Card Id of the form",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "string",
              "x-ms-summary": "JSON string"
            },
            "description": "Easy Form as Adaptive Card JSON."
          }
        },
        "summary": "Get form as Adaptive Card JSON",
        "operationId": "GetFormAdaptiveCardJson",
        "description": "Get Easy Form as Adaptive Card JSON. You can use the JSON to post the card in Teams as an Adaptive Card, for example.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/apppowerforms/#get-form-as-adaptive-card-json"
        }
      }
    },
    "/{connectionId}/MetadataTestConnection": {
      "get": {
        "tags": [
          "Diagnostics"
        ],
        "operationId": "MetadataTestConnection",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Trial key sent to your inbox"
          },
          "401": {
            "description": "Invalid API key"
          }
        },
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger/TriggerGetCardResponse/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "description": "Timestamp for polling trigger"
                },
                "submissions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "formName": {
                        "type": "string",
                        "x-ms-summary": "Form name",
                        "description": "Name of the submitted form."
                      },
                      "formId": {
                        "type": "string",
                        "x-ms-summary": "Form ID",
                        "description": "Instance ID of the submitted form or card."
                      },
                      "submitted": {
                        "type": "string",
                        "x-ms-summary": "Submitted",
                        "description": "Timestamp when the form was submitted (UTC)"
                      },
                      "data": {
                        "type": "object",
                        "x-ms-dynamic-schema": {
                          "operationId": "GetResponseSchema",
                          "parameters": {
                            "cardName": {
                              "parameter": "name"
                            }
                          }
                        },
                        "x-ms-dynamic-properties": {
                          "operationId": "GetResponseSchema",
                          "parameters": {
                            "cardName": {
                              "parameterReference": "name"
                            }
                          }
                        }
                      }
                    }
                  },
                  "description": "Array of submissions since the last poll."
                }
              }
            }
          }
        },
        "operationId": "TriggerGetCardResponse",
        "summary": "When form is submitted",
        "description": "This trigger is fired whenever there are new submissions for the specified form.",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Form name",
            "x-ms-url-encoding": "single",
            "description": "Choose the form to get submissions from.",
            "x-ms-dynamic-values": {
              "operationId": "MetadataListOfCards",
              "value-path": "name",
              "value-title": "displayName",
              "parameters": {
                "cardType": "ALL"
              }
            }
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2021-12-31",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-trigger-hint": "This trigger is executed on form submission",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/apppowerforms/#when-form-is-submitted"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apppower.net"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apppower.net/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/apppowerforms"
  }
}
