{
  "swagger": "2.0",
  "info": {
    "title": "ZIPPYDOC",
    "description": "This connector allows you to run preconfigured data transformations on the ZIPPYDOC business automation platform. You can either select a third-party data transformer and have it transform your data, or alternatively you can create your own data transformer on the ZIPPYDOC platform. ZIPPYDOC and its community offers a wide range of pre-built transformations for tables, text and code.",
    "contact": {
      "name": "ZIPPYDOC support",
      "url": "https://support.zippydoc.de",
      "email": "support@zippydoc.eu"
    },
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/zippydoc",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/power-automate": {
      "x-ms-notification-content": {
        "description": "OnTableChangeResponse",
        "schema": {
          "type": "object",
          "properties": {
            "tableId": {
              "type": "integer",
              "format": "int32",
              "description": "ID of the table in ZIPPYDOC system",
              "title": "tableId"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "OnTableChange",
        "summary": "On table changed",
        "description": "Triggers flow when any table is modified.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "x-ms-notification-url": {
                  "type": "string",
                  "description": "x-ms-notification-url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Webhook notification URL"
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "Trigger type",
                  "enum": [
                    "ON_TABLE_CHANGE"
                  ]
                }
              },
              "required": [
                "x-ms-notification-url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zippydoc/#on-table-changed"
        }
      }
    },
    "/{connectionId}/power-automate/{webHookId}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete WebHook",
        "description": "Called automatically by power-automate",
        "operationId": "DeleteWebHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "webHookId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string"
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zippydoc/#delete-webhook"
        }
      }
    },
    "/{connectionId}/document/power-automate/{name}": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Execute",
        "description": "Executes all tasks in defined flow.",
        "operationId": "Execute",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the flow that should execute all of its tasks.",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Name of the flow that should execute all of its tasks."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zippydoc/#execute"
        }
      }
    },
    "/{connectionId}/excel/table/power-automate/upload": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Upload Table",
        "description": "Upload table in JSON format to ZIPPYDOC system",
        "operationId": "UploadTable",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "x-ms-visibility": "important",
                  "type": "string",
                  "description": "Table name",
                  "title": "Table Name"
                },
                "content": {
                  "x-ms-visibility": "important",
                  "type": "array",
                  "items": {},
                  "description": "Table content",
                  "title": "Table Content"
                },
                "description": {
                  "type": "string",
                  "description": "Table description",
                  "title": "Description"
                },
                "documentName": {
                  "type": "string",
                  "description": "Name of the flow to which the table will be added",
                  "title": "Flow name"
                },
                "replace": {
                  "type": "boolean",
                  "description": "Replace table",
                  "title": "Replace",
                  "enum": [
                    true,
                    false
                  ]
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "Table tags",
                  "title": "Table tags"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zippydoc/#upload-table"
        }
      }
    },
    "/{connectionId}/excel/table/power-automate/id/{tableId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {}
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Table By ID",
        "operationId": "GetTableByID",
        "description": "Retrieves table content in JSON format",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "ID of the table in ZIPPYDOC system",
            "x-ms-summary": "ID of the table",
            "x-ms-url-encoding": "single",
            "format": "int32"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zippydoc/#get-table-by-id"
        }
      }
    },
    "/{connectionId}/excel/table/power-automate/name/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {}
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Get Table By Name",
        "operationId": "GetTableByName",
        "description": "Retrieves table content in JSON format",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the table in ZIPPYDOC system",
            "x-ms-summary": "Name of the table",
            "x-ms-url-encoding": "single"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/zippydoc/#get-table-by-name"
        }
      }
    }
  },
  "definitions": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://zippydoc.de/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://zippydoc.de/datenschutzrichtlinie/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Website"
    }
  ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Power-Automate-Token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/zippydoc"
  }
}
