{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "Insightly",
    "description": "Insightly is the easiest customer relationship management solution (CRM) to use for managing deep customer relationships. Customers use Insightly's tightly integrated CRM & project management features to close new business, track post sale customer interactions & drive repeat purchases.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/insightly",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/Tasks": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "List tasks",
        "description": "List tasks",
        "operationId": "ListTasks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#list-tasks"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "tags": [
          "Insightly"
        ],
        "summary": "Update task",
        "description": "Update task",
        "operationId": "UpdateTask",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Unique Id of the task to update.",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListTasks",
              "value-collection": "tasks",
              "value-path": "TASK_ID",
              "value-title": "TITLE"
            },
            "type": "string",
            "x-ms-test-value": 46602831
          },
          {
            "name": "updatedTask",
            "in": "body",
            "description": "The updated task - only provide fields to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskRequest"
            },
            "x-ms-summary": "Updated Task",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#update-task"
        }
      },
      "post": {
        "tags": [
          "Insightly"
        ],
        "summary": "Add task",
        "description": "Add task",
        "operationId": "AddTask",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newTask",
            "in": "body",
            "description": "New Task",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskRequest"
            },
            "x-ms-summary": "New Task",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#add-task"
        }
      }
    },
    "/{connectionId}/Projects": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "List projects",
        "description": "List projects",
        "operationId": "ListProjects",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#list-projects"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "tags": [
          "Insightly"
        ],
        "summary": "Update project",
        "description": "Update project",
        "operationId": "UpdateProject",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Unique Id of the project to update",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "PROJECT_ID",
              "value-title": "PROJECT_NAME"
            },
            "type": "string",
            "x-ms-test-value": 3727803
          },
          {
            "name": "updatedProject",
            "in": "body",
            "description": "The updated project - only provide fields to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectRequest"
            },
            "x-ms-summary": "Updated Project",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#update-project"
        }
      },
      "post": {
        "tags": [
          "Insightly"
        ],
        "summary": "Add project",
        "description": "Add project",
        "operationId": "AddProject",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newProject",
            "in": "body",
            "description": "New Project",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectRequest"
            },
            "x-ms-summary": "New Project",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#add-project"
        }
      }
    },
    "/{connectionId}/Leads": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "List leads",
        "description": "List leads",
        "operationId": "ListLeads",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListLeadsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#list-leads"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "tags": [
          "Insightly"
        ],
        "summary": "Update lead",
        "description": "Update lead",
        "operationId": "UpdateLead",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Unique Id of the lead to update",
            "required": true,
            "x-ms-summary": "Lead Id",
            "x-ms-dynamic-values": {
              "operationId": "ListLeads",
              "value-collection": "leads",
              "value-path": "LEAD_ID",
              "value-title": "EMAIL_ADDRESS"
            },
            "type": "string",
            "x-ms-test-value": 12402964
          },
          {
            "name": "updatedLead",
            "in": "body",
            "description": "The updated lead - only provide fields to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LeadRequest"
            },
            "x-ms-summary": "Updated Lead",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lead"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#update-lead"
        }
      },
      "post": {
        "tags": [
          "Insightly"
        ],
        "summary": "Add lead",
        "description": "Add lead",
        "operationId": "AddLead",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newLead",
            "in": "body",
            "description": "New Lead",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LeadRequest"
            },
            "x-ms-summary": "New Lead",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lead"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#add-lead"
        }
      }
    },
    "/{connectionId}/Contacts": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "List contacts",
        "description": "List contacts",
        "operationId": "ListContacts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListContactsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#list-contacts"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "put": {
        "tags": [
          "Insightly"
        ],
        "summary": "Update contact",
        "description": "Update contact",
        "operationId": "UpdateContact",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Unique Id of the contact to update",
            "required": true,
            "x-ms-summary": "Contact Id",
            "x-ms-dynamic-values": {
              "operationId": "ListContacts",
              "value-collection": "contacts",
              "value-path": "CONTACT_ID",
              "value-title": "LAST_NAME"
            },
            "type": "string",
            "x-ms-test-value": 187306479
          },
          {
            "name": "updatedContact",
            "in": "body",
            "description": "The updated contact - only provide fields to be updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            },
            "x-ms-summary": "Updated Contact",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#update-contact"
        }
      },
      "post": {
        "tags": [
          "Insightly"
        ],
        "summary": "Add contact",
        "description": "Add contact",
        "operationId": "AddContact",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newContact",
            "in": "body",
            "description": "New Contact",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            },
            "x-ms-summary": "New Contact",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#add-contact"
        }
      }
    },
    "/{connectionId}/Users": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "List users",
        "description": "List users",
        "operationId": "ListUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsersResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#list-users"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/Tasks/{taskId}": {
      "delete": {
        "tags": [
          "Insightly"
        ],
        "summary": "Delete task",
        "description": "Delete task",
        "operationId": "DeleteTask",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-dynamic-values": {
              "operationId": "ListTasks",
              "value-collection": "tasks",
              "value-path": "TASK_ID",
              "value-title": "TITLE"
            },
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#delete-task"
        }
      }
    },
    "/{connectionId}/Tasks/{taskId}/Follow": {
      "post": {
        "tags": [
          "Insightly"
        ],
        "summary": "Follow a task",
        "description": "Follow a task",
        "operationId": "FollowTask",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "Task Id",
            "required": true,
            "x-ms-summary": "Task Id",
            "x-ms-test-value": 46602831,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#follow-a-task"
        }
      }
    },
    "/{connectionId}/trigger1/Tasks": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a task is assigned to me",
        "description": "Triggers a new flow when a task is assigned to me",
        "operationId": "OnTaskAssignedToMe",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, assign a task to you.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-task-is-assigned-to-me"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger2/Tasks": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a task is created",
        "description": "Triggers a new flow when a new task is created",
        "operationId": "OnTaskCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new task.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-task-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger3/Tasks": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a task is updated",
        "description": "Triggers a new flow when a task is updated",
        "operationId": "OnTaskUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a task.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-task-is-updated"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/Projects/{projectId}": {
      "delete": {
        "tags": [
          "Insightly"
        ],
        "summary": "Delete project",
        "description": "Delete project",
        "operationId": "DeleteProject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Project Id",
            "required": true,
            "x-ms-summary": "Project Id",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "projects",
              "value-path": "PROJECT_ID",
              "value-title": "PROJECT_NAME"
            },
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#delete-project"
        }
      }
    },
    "/{connectionId}/trigger2/Projects": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a project is created",
        "description": "Triggers a new flow when a new project is created",
        "operationId": "OnProjectCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new project.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-project-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger3/Projects": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a project is updated",
        "description": "Triggers a new flow when a project is updated",
        "operationId": "OnProjectUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a project.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-project-is-updated"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/Leads/{leadId}": {
      "delete": {
        "tags": [
          "Insightly"
        ],
        "summary": "Delete lead",
        "description": "Delete lead",
        "operationId": "DeleteLead",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "leadId",
            "in": "path",
            "description": "Lead Id",
            "required": true,
            "x-ms-summary": "Lead Id",
            "x-ms-dynamic-values": {
              "operationId": "ListLeads",
              "value-collection": "leads",
              "value-path": "LEAD_ID",
              "value-title": "EMAIL_ADDRESS"
            },
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#delete-lead"
        }
      }
    },
    "/{connectionId}/trigger1/Leads": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a lead is created",
        "description": "Triggers a new flow when a new lead is created",
        "operationId": "OnLeadCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lead"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new lead.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-lead-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger2/Leads": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a lead is updated",
        "description": "Triggers a new flow when a lead is updated",
        "operationId": "OnLeadUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Lead"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a lead.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-lead-is-updated"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/Contacts/{contactId}": {
      "delete": {
        "tags": [
          "Insightly"
        ],
        "summary": "Delete contact",
        "description": "Delete contact",
        "operationId": "DeleteContact",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "Contact Id",
            "required": true,
            "x-ms-summary": "Contact Id",
            "x-ms-dynamic-values": {
              "operationId": "ListContacts",
              "value-collection": "contacts",
              "value-path": "CONTACT_ID",
              "value-title": "LAST_NAME"
            },
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#delete-contact"
        }
      }
    },
    "/{connectionId}/trigger1/Contacts": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a contact is created",
        "description": "Triggers a new flow when a new contact is created",
        "operationId": "OnContactCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListContactsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new contact.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-contact-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger2/Contacts": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When a contact is updated",
        "description": "Triggers a new flow when a contact is updated",
        "operationId": "OnContactUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListContactsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a contact.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-a-contact-is-updated"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger1/Events": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When an event is created",
        "description": "Triggers a new flow when a new event is created",
        "operationId": "OnEventCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListEventsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new event.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-an-event-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger2/Events": {
      "get": {
        "tags": [
          "Insightly"
        ],
        "summary": "When an event is updated",
        "description": "Triggers a new flow when an event is updated",
        "operationId": "OnEventUpdated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListEventsResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a event.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#when-an-event-is-updated"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/Organisations": {
      "post": {
        "tags": [
          "Insightly"
        ],
        "summary": "Add organization",
        "description": "Add organization",
        "operationId": "AddOrganization",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "newOrganization",
            "in": "body",
            "description": "New Organization",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationRequest"
            },
            "x-ms-summary": "New Organization",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/insightly/#add-organization"
        }
      }
    }
  },
  "definitions": {
    "ListTasksResponse": {
      "description": "An Insightly Tasks response object.",
      "type": "object",
      "properties": {
        "tasks": {
          "description": "A collection of tasks",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Task"
          },
          "x-ms-summary": "Tasks",
          "x-ms-visibility": "important"
        }
      }
    },
    "Task": {
      "description": "An Insightly Task Object",
      "type": "object",
      "properties": {
        "TASK_ID": {
          "format": "int32",
          "description": "The unique identifier of the task.",
          "type": "integer",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "important"
        },
        "TITLE": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Task Title",
          "x-ms-visibility": "important"
        },
        "DUE_DATE": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Due Date-Time",
          "x-ms-visibility": "important"
        },
        "CATEGORY_ID": {
          "format": "int32",
          "description": "The unique identifier of the category.",
          "type": "integer",
          "x-ms-summary": "Category Id",
          "x-ms-visibility": "advanced"
        },
        "COMPLETED_DATE_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Completed Date-Time",
          "x-ms-visibility": "advanced"
        },
        "COMPLETED": {
          "description": "A boolean value determining whether or not the task is completed.",
          "type": "boolean",
          "x-ms-summary": "Is Completed",
          "x-ms-visibility": "advanced"
        },
        "DETAILS": {
          "description": "The details of the task.",
          "type": "string",
          "x-ms-summary": "Task Details",
          "x-ms-visibility": "advanced"
        },
        "STATUS": {
          "description": "The status of the task.",
          "enum": [
            "Completed",
            "Deferred",
            "In Progress",
            "Not Started",
            "Waiting"
          ],
          "type": "string",
          "x-ms-summary": "Task Status",
          "x-ms-visibility": "advanced"
        },
        "PRIORITY": {
          "description": "The priority of the task.",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Task Priority",
          "x-ms-visibility": "advanced"
        },
        "START_DATE": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Start Date-Time",
          "x-ms-visibility": "advanced"
        },
        "PROJECT_ID": {
          "format": "int32",
          "description": "The unique identifier of the project.",
          "type": "integer",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        },
        "OPPORTUNITY_ID": {
          "format": "int32",
          "description": "The unique identifier of the opportunity.",
          "type": "integer",
          "x-ms-summary": "Opportunity Id",
          "x-ms-visibility": "advanced"
        },
        "MILESTONE_ID": {
          "format": "int32",
          "description": "The unique identifier of the milestone.",
          "type": "integer",
          "x-ms-summary": "Milestone Id",
          "x-ms-visibility": "advanced"
        },
        "PIPELINE_ID": {
          "format": "int32",
          "description": "The unique identifier of the pipeline.",
          "type": "integer",
          "x-ms-summary": "Pipeline Id",
          "x-ms-visibility": "advanced"
        },
        "STAGE_ID": {
          "format": "int32",
          "description": "The unique identifier of the stage.",
          "type": "integer",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "advanced"
        },
        "PERCENT_COMPLETE": {
          "format": "int32",
          "description": "The task completed value in percent.",
          "type": "integer",
          "x-ms-summary": "Percentage Complete",
          "x-ms-visibility": "advanced"
        },
        "OWNER_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the task owner.",
          "type": "integer",
          "x-ms-summary": "Task Owner",
          "x-ms-visibility": "advanced"
        },
        "RESPONSIBLE_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the user assigned to the task.",
          "type": "integer",
          "x-ms-summary": "Assigned To",
          "x-ms-visibility": "advanced"
        },
        "PUBLICLY_VISIBLE": {
          "description": "A boolean value determining whether or not the task is publicly visible.",
          "type": "boolean",
          "x-ms-summary": "Is Task Visible",
          "x-ms-visibility": "advanced"
        },
        "DATE_CREATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "DATE_UPDATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "ASSIGNED_BY_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the assigned by user.",
          "type": "integer",
          "x-ms-summary": "Assigned by User Id",
          "x-ms-visibility": "advanced"
        },
        "PARENT_TASK_ID": {
          "format": "int32",
          "description": "The unique identifier of the parent task.",
          "type": "integer",
          "x-ms-summary": "Parent Task Id",
          "x-ms-visibility": "important"
        },
        "OWNER_VISIBLE": {
          "description": "A boolean value determining whether or not the owner is publicly visible.",
          "type": "boolean",
          "x-ms-summary": "Is Owner Visible",
          "x-ms-visibility": "important"
        },
        "ASSIGNED_TEAM_ID": {
          "format": "int32",
          "description": "The unique identifier of the assigned team.",
          "type": "integer",
          "x-ms-summary": "Assigned Team Id",
          "x-ms-visibility": "advanced"
        },
        "ASSIGNED_DATE_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Assigned Date-Time",
          "x-ms-visibility": "advanced"
        },
        "REMINDER_DATE_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Reminder Date-Time",
          "x-ms-visibility": "important"
        },
        "REMINDER_SENT": {
          "description": "A boolean value determining whether or not a reminder is set.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder Sent",
          "x-ms-visibility": "important"
        },
        "RECURRENCE": {
          "description": "Recurrence",
          "type": "string",
          "x-ms-summary": "Recurrence",
          "x-ms-visibility": "important"
        },
        "CAN_EDIT": {
          "description": "Can edit.",
          "type": "boolean",
          "x-ms-summary": "Can Edit",
          "x-ms-visibility": "important"
        },
        "CAN_DELETE": {
          "description": "Can delete",
          "type": "boolean",
          "x-ms-summary": "Can Delete",
          "x-ms-visibility": "important"
        }
      }
    },
    "TaskRequest": {
      "description": "An Insightly Task Request Object",
      "type": "object",
      "x-ms-test-value": {
        "TITLE": "test",
        "COMPLETED": true,
        "STATUS": "In Progress",
        "PUBLICLY_VISIBLE": true
      },
      "required": [
        "TITLE",
        "COMPLETED",
        "STATUS",
        "PUBLICLY_VISIBLE"
      ],
      "properties": {
        "TITLE": {
          "description": "The title of the task.",
          "type": "string",
          "x-ms-summary": "Task Title",
          "x-ms-visibility": "important"
        },
        "DUE_DATE": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Due Date-Time",
          "x-ms-visibility": "important"
        },
        "COMPLETED": {
          "description": "A boolean value determining whether or not the task is completed.",
          "type": "boolean",
          "x-ms-summary": "Is Completed",
          "x-ms-visibility": "important"
        },
        "DETAILS": {
          "description": "The details of the task.",
          "type": "string",
          "x-ms-summary": "Task Details",
          "x-ms-visibility": "advanced"
        },
        "STATUS": {
          "description": "The status of the task.",
          "enum": [
            "Completed",
            "Deferred",
            "In Progress",
            "Not Started",
            "Waiting"
          ],
          "type": "string",
          "x-ms-summary": "Task Status",
          "x-ms-visibility": "important"
        },
        "PRIORITY": {
          "format": "int32",
          "description": "The priority of the task.",
          "type": "integer",
          "x-ms-summary": "Task Priority",
          "x-ms-visibility": "advanced"
        },
        "PUBLICLY_VISIBLE": {
          "description": "A boolean value determining whether or not the task is publicly visible.",
          "type": "boolean",
          "x-ms-summary": "Is Task Visible",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListProjectsResponse": {
      "description": "A Insightly Project response object",
      "type": "object",
      "properties": {
        "projects": {
          "description": "A collection of projects",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Project"
          },
          "x-ms-summary": "Projects",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Project": {
      "description": "An Insightly Project Object",
      "type": "object",
      "properties": {
        "PROJECT_ID": {
          "format": "int32",
          "description": "The unique identifier of the project.",
          "type": "integer",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "important"
        },
        "PROJECT_NAME": {
          "description": "The name of the project.",
          "type": "string",
          "x-ms-summary": "Project Name",
          "x-ms-visibility": "important"
        },
        "STATUS": {
          "description": "The status of the project.",
          "type": "string",
          "x-ms-summary": "Project Status",
          "x-ms-visibility": "important"
        },
        "PROJECT_DETAILS": {
          "description": "The details of the project.",
          "type": "string",
          "x-ms-summary": "Project Details",
          "x-ms-visibility": "important"
        },
        "IMAGE_URL": {
          "description": "The image URL of the project.",
          "type": "string",
          "x-ms-summary": "Image URL",
          "x-ms-visibility": "advanced"
        },
        "DATE_CREATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TO": {
          "description": "Project Visibility.",
          "type": "string",
          "x-ms-summary": "Project Visible",
          "x-ms-visibility": "advanced"
        },
        "DATE_UPDATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "STARTED_DATE": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Started Date-Time",
          "x-ms-visibility": "advanced"
        },
        "COMPLETED_DATE": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Completed Date-Time",
          "x-ms-visibility": "advanced"
        },
        "OWNER_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the project owner.",
          "type": "integer",
          "x-ms-summary": "Project Owner",
          "x-ms-visibility": "advanced"
        },
        "RESPONSIBLE_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the assigned user.",
          "type": "integer",
          "x-ms-summary": "Assigned To",
          "x-ms-visibility": "important"
        },
        "OPPORTUNITY_ID": {
          "format": "int32",
          "description": "The unique identifier of the opportunity.",
          "type": "integer",
          "x-ms-summary": "Opportunity Id",
          "x-ms-visibility": "advanced"
        },
        "PIPELINE_ID": {
          "format": "int32",
          "description": "The unique identifier of the pipeline.",
          "type": "integer",
          "x-ms-summary": "Pipeline Id",
          "x-ms-visibility": "advanced"
        },
        "STAGE_ID": {
          "format": "int32",
          "description": "The unique identifier of the stage.",
          "type": "integer",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "advanced"
        },
        "CATEGORY_ID": {
          "format": "int32",
          "description": "The unique identifier of the category.",
          "type": "integer",
          "x-ms-summary": "Category Id",
          "x-ms-visibility": "important"
        },
        "VISIBLE_TEAM_ID": {
          "format": "int32",
          "description": "The unique identifier of the team.",
          "type": "integer",
          "x-ms-summary": "Visible Team Id",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_USER_IDS": {
          "format": "int32",
          "description": "The unique identifiers of the users.",
          "type": "integer",
          "x-ms-summary": "Visible User IDs",
          "x-ms-visibility": "advanced"
        },
        "CAN_EDIT": {
          "description": "Can edit",
          "type": "boolean",
          "x-ms-summary": "Can Edit",
          "x-ms-visibility": "important"
        },
        "CAN_DELETE": {
          "description": "Can delete",
          "type": "boolean",
          "x-ms-summary": "Can Delete",
          "x-ms-visibility": "important"
        }
      }
    },
    "Tag": {
      "description": "A Tag Object",
      "type": "object",
      "properties": {
        "TAG_NAME": {
          "description": "The name of the tag.",
          "type": "string",
          "x-ms-summary": "Tag Name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectRequest": {
      "description": "An Insightly Project Object",
      "type": "object",
      "x-ms-test-value": {
        "PROJECT_NAME": "test project",
        "STATUS": "Completed"
      },
      "required": [
        "PROJECT_NAME",
        "STATUS"
      ],
      "properties": {
        "PROJECT_NAME": {
          "description": "The name of the project.",
          "type": "string",
          "x-ms-summary": "Project Name",
          "x-ms-visibility": "important"
        },
        "PROJECT_DETAILS": {
          "description": "The details of the project.",
          "type": "string",
          "x-ms-summary": "Project Details",
          "x-ms-visibility": "important"
        },
        "STATUS": {
          "description": "The status of the project.",
          "enum": [
            "Completed",
            "Deferred",
            "In Progress",
            "Not Started",
            "Abandoned",
            "Cancelled"
          ],
          "type": "string",
          "x-ms-summary": "Project Status",
          "x-ms-visibility": "important"
        },
        "IMAGE_URL": {
          "description": "The image URL of the project.",
          "type": "string",
          "x-ms-summary": "Image URL",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TO": {
          "description": "Project Visibility.",
          "enum": [
            "Everyone",
            "Individuals",
            "Owner",
            "Team"
          ],
          "type": "string",
          "x-ms-summary": "Project Visibility",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TEAM_ID": {
          "format": "int32",
          "description": "Visible Team Id (Required when team visibility state is selected)",
          "type": "integer",
          "x-ms-summary": "Visible Team Id",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_USER_IDS": {
          "format": "int32",
          "description": "Visible User IDs (Required when individuals visibility state is selected)",
          "type": "integer",
          "x-ms-summary": "Visible User IDs",
          "x-ms-visibility": "advanced"
        },
        "OPPORTUNITY_ID": {
          "format": "int32",
          "description": "The unique identifier of the opportunity.",
          "type": "integer",
          "x-ms-summary": "Opportunity Id",
          "x-ms-visibility": "advanced"
        },
        "PIPELINE_ID": {
          "format": "int32",
          "description": "The unique identifier of the pipeline.",
          "type": "integer",
          "x-ms-summary": "Pipeline Id",
          "x-ms-visibility": "advanced"
        },
        "STAGE_ID": {
          "format": "int32",
          "description": "The unique identifier of the stage.",
          "type": "integer",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "advanced"
        },
        "TAGS": {
          "description": "Tags",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListLeadsResponse": {
      "description": "A Insightly Lead response object",
      "type": "object",
      "properties": {
        "leads": {
          "description": "A collection of leads",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Lead"
          },
          "x-ms-summary": "Leads",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Lead": {
      "description": "An Insightly Lead Object",
      "type": "object",
      "properties": {
        "LEAD_ID": {
          "format": "int32",
          "description": "The unique identifier of the lead.",
          "type": "integer",
          "x-ms-summary": "Lead Id",
          "x-ms-visibility": "important"
        },
        "SALUTATION": {
          "description": "The salutation of the lead.",
          "type": "string",
          "x-ms-summary": "Salutation",
          "x-ms-visibility": "advanced"
        },
        "TITLE": {
          "description": "The title of the lead.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "FIRST_NAME": {
          "description": "First name of the lead.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "LAST_NAME": {
          "description": "Last name of the lead.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "LEAD_DESCRIPTION": {
          "description": "A brief description of the lead.",
          "type": "string",
          "x-ms-summary": "Lead Description",
          "x-ms-visibility": "important"
        },
        "DATE_CREATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Created Date-Time ",
          "x-ms-visibility": "advanced"
        },
        "DATE_UPDATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "CONVERTED_DATE_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Converted Date-Time",
          "x-ms-visibility": "advanced"
        },
        "LEAD_STATUS_ID": {
          "format": "int32",
          "description": "The status Id of the lead.",
          "type": "integer",
          "x-ms-summary": "Lead Status Id",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TO": {
          "description": "Lead visibility.",
          "type": "string",
          "x-ms-summary": "Lead Visibility",
          "x-ms-visibility": "advanced"
        },
        "ORGANIZATION_NAME": {
          "description": "The name of the organization.",
          "type": "string",
          "x-ms-summary": "Organization Name",
          "x-ms-visibility": "advanced"
        },
        "PHONE_NUMBER": {
          "description": "Lead phone number.",
          "type": "string",
          "x-ms-summary": "Phone Number",
          "x-ms-visibility": "advanced"
        },
        "MOBILE_PHONE_NUMBER": {
          "description": "Lead mobile phone number.",
          "type": "string",
          "x-ms-summary": "Mobile Phone Number",
          "x-ms-visibility": "advanced"
        },
        "EMAIL_ADDRESS": {
          "description": "Lead email address.",
          "type": "string",
          "x-ms-summary": "Email Address",
          "x-ms-visibility": "important"
        },
        "CONVERTED": {
          "description": "A boolean value determining whether or not the lead is converted.",
          "type": "boolean",
          "x-ms-summary": "Is Converted",
          "x-ms-visibility": "advanced"
        },
        "WEBSITE_URL": {
          "description": "Lead website URL",
          "type": "string",
          "x-ms-summary": "Website URL",
          "x-ms-visibility": "advanced"
        },
        "OWNER_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the lead owner.",
          "type": "integer",
          "x-ms-summary": "Lead Owner",
          "x-ms-visibility": "advanced"
        },
        "RESPONSIBLE_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the responsible user.",
          "type": "integer",
          "x-ms-summary": "Lead Responsible",
          "x-ms-visibility": "advanced"
        },
        "EMPLOYEE_COUNT": {
          "format": "int32",
          "description": "The employee count of the lead.",
          "type": "integer",
          "x-ms-summary": "Lead Employee Count",
          "x-ms-visibility": "advanced"
        },
        "LEAD_RATING": {
          "format": "int32",
          "description": "The rating of the lead.",
          "type": "integer",
          "x-ms-summary": "Lead Rating",
          "x-ms-visibility": "advanced"
        },
        "INDUSTRY": {
          "description": "The industry of the lead.",
          "type": "string",
          "x-ms-summary": "Industry",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_STREET": {
          "description": "Address street.",
          "type": "string",
          "x-ms-summary": "Address Street",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_CITY": {
          "description": "Address city.",
          "type": "string",
          "x-ms-summary": "Address City",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_STATE": {
          "description": "Address state.",
          "type": "string",
          "x-ms-summary": "Address State",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_POSTCODE": {
          "description": "Address postcode.",
          "type": "string",
          "x-ms-summary": "Address Postcode",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_COUNTRY": {
          "description": "Address country.",
          "type": "string",
          "x-ms-summary": "Address Country",
          "x-ms-visibility": "advanced"
        },
        "FAX_NUMBER": {
          "description": "Lead fax number.",
          "type": "string",
          "x-ms-summary": "Fax Number",
          "x-ms-visibility": "advanced"
        },
        "CONVERTED_CONTACT_ID": {
          "format": "int32",
          "description": "The unique identifier of the converted contact.",
          "type": "integer",
          "x-ms-summary": "Converted Contact Id",
          "x-ms-visibility": "important"
        },
        "CONVERTED_ORGANIZATION_ID": {
          "format": "int32",
          "description": "The unique identifier of the converted organization.",
          "type": "integer",
          "x-ms-summary": "Converted Organization Id",
          "x-ms-visibility": "important"
        },
        "CONVERTED_OPPORTUNITY_ID": {
          "format": "int32",
          "description": "The unique identifier of the opportunity.",
          "type": "integer",
          "x-ms-summary": "Converted Opportunity Id",
          "x-ms-visibility": "important"
        },
        "LEAD_SOURCE_ID": {
          "format": "int32",
          "description": "The unique identifier of the lead source.",
          "type": "integer",
          "x-ms-summary": "Lead Source Id",
          "x-ms-visibility": "important"
        },
        "VISIBLE_TEAM_ID": {
          "format": "int32",
          "description": "The unique identifier of the team.",
          "type": "integer",
          "x-ms-summary": "Visible Team Id",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_USER_IDS": {
          "format": "int32",
          "description": "The unique identifiers of the users.",
          "type": "integer",
          "x-ms-summary": "Visible User IDs",
          "x-ms-visibility": "advanced"
        },
        "IMAGE_URL": {
          "description": "Lead Image URL",
          "type": "string",
          "x-ms-summary": "Image URL",
          "x-ms-visibility": "important"
        },
        "CAN_EDIT": {
          "description": "Can edit",
          "type": "boolean",
          "x-ms-summary": "Can Edit",
          "x-ms-visibility": "important"
        },
        "CAN_DELETE": {
          "description": "Can delete",
          "type": "boolean",
          "x-ms-summary": "Can Delete",
          "x-ms-visibility": "important"
        }
      }
    },
    "LeadRequest": {
      "description": "An Insightly LeadRequest Object",
      "type": "object",
      "x-ms-test-value": {
        "LAST_NAME": "test name"
      },
      "required": [
        "LAST_NAME"
      ],
      "properties": {
        "TITLE": {
          "description": "The title of the lead.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "FIRST_NAME": {
          "description": "First name of the lead.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "LAST_NAME": {
          "description": "Last name of the lead.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "LEAD_DESCRIPTION": {
          "description": "A brief description of the lead.",
          "type": "string",
          "x-ms-summary": "Lead Description",
          "x-ms-visibility": "advanced"
        },
        "CONVERTED_DATE_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Converted Date-Time",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TO": {
          "description": "Lead Visibility",
          "enum": [
            "Everyone",
            "Individuals",
            "Owner",
            "Team"
          ],
          "type": "string",
          "x-ms-summary": "Lead Visibility",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TEAM_ID": {
          "format": "int32",
          "description": "Visible Team Id (Required when team visibility state is selected)",
          "type": "integer",
          "x-ms-summary": "Visible Team Id",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_USER_IDS": {
          "format": "int32",
          "description": "Visible User IDs (Required when individuals visibility state is selected)",
          "type": "integer",
          "x-ms-summary": "Visible User IDs",
          "x-ms-visibility": "advanced"
        },
        "ORGANIZATION_NAME": {
          "description": "The name of the organization.",
          "type": "string",
          "x-ms-summary": "Organization Name",
          "x-ms-visibility": "advanced"
        },
        "PHONE_NUMBER": {
          "description": "Lead phone number.",
          "type": "string",
          "x-ms-summary": "Phone Number",
          "x-ms-visibility": "advanced"
        },
        "MOBILE_PHONE_NUMBER": {
          "description": "Lead mobile phone number.",
          "type": "string",
          "x-ms-summary": "Mobile Phone Number",
          "x-ms-visibility": "advanced"
        },
        "EMAIL_ADDRESS": {
          "description": "Lead email address.",
          "type": "string",
          "x-ms-summary": "Email Address",
          "x-ms-visibility": "important"
        },
        "CONVERTED": {
          "description": "A boolean value determining whether or not the lead is converted.",
          "type": "boolean",
          "x-ms-summary": "Is Converted",
          "x-ms-visibility": "advanced"
        },
        "WEBSITE_URL": {
          "description": "Lead website URL",
          "type": "string",
          "x-ms-summary": "Website URL",
          "x-ms-visibility": "advanced"
        },
        "OWNER_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the lead owner.",
          "type": "integer",
          "x-ms-summary": "Lead Owner",
          "x-ms-visibility": "advanced"
        },
        "RESPONSIBLE_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the responsible user.",
          "type": "integer",
          "x-ms-summary": "Lead Responsible",
          "x-ms-visibility": "advanced"
        },
        "EMPLOYEE_COUNT": {
          "format": "int32",
          "description": "The employee count of the lead.",
          "type": "integer",
          "x-ms-summary": "Lead Employee Count",
          "x-ms-visibility": "advanced"
        },
        "LEAD_RATING": {
          "format": "int32",
          "description": "The rating of the lead.",
          "type": "integer",
          "x-ms-summary": "Lead Rating",
          "x-ms-visibility": "advanced"
        },
        "INDUSTRY": {
          "description": "The industry of the lead.",
          "type": "string",
          "x-ms-summary": "Industry",
          "x-ms-visibility": "advanced"
        },
        "TAGS": {
          "description": "Tag",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-summary": "Tag",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListContactsResponse": {
      "description": "A Insightly contact response object",
      "type": "object",
      "properties": {
        "contacts": {
          "description": "A collection of contacts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contact"
          },
          "x-ms-summary": "Contacts",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Contact": {
      "description": "An Insightly Contact Object",
      "type": "object",
      "properties": {
        "ADDRESS_WORK": {
          "type": "object",
          "properties": {
            "STREET": {
              "description": "Address street.",
              "type": "string",
              "x-ms-summary": "Street",
              "x-ms-visibility": "advanced"
            },
            "CITY": {
              "description": "Address city.",
              "type": "string",
              "x-ms-summary": "City",
              "x-ms-visibility": "advanced"
            },
            "STATE": {
              "description": "Address state.",
              "type": "string",
              "x-ms-summary": "State",
              "x-ms-visibility": "advanced"
            },
            "POSTCODE": {
              "description": "Address postcode.",
              "type": "string",
              "x-ms-summary": "Postcode",
              "x-ms-visibility": "advanced"
            },
            "COUNTRY": {
              "description": "Address country.",
              "type": "string",
              "x-ms-summary": "Country",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Address (Work)",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_HOME": {
          "type": "object",
          "properties": {
            "STREET": {
              "description": "Address street.",
              "type": "string",
              "x-ms-summary": "Street",
              "x-ms-visibility": "advanced"
            },
            "CITY": {
              "description": "Address city.",
              "type": "string",
              "x-ms-summary": "City",
              "x-ms-visibility": "advanced"
            },
            "STATE": {
              "description": "Address state.",
              "type": "string",
              "x-ms-summary": "State",
              "x-ms-visibility": "advanced"
            },
            "POSTCODE": {
              "description": "Address postcode.",
              "type": "string",
              "x-ms-summary": "Postcode",
              "x-ms-visibility": "advanced"
            },
            "COUNTRY": {
              "description": "Address country.",
              "type": "string",
              "x-ms-summary": "Country",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Address (Home)",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_POSTAL": {
          "type": "object",
          "properties": {
            "STREET": {
              "description": "Address street.",
              "type": "string",
              "x-ms-summary": "Street",
              "x-ms-visibility": "advanced"
            },
            "CITY": {
              "description": "Address city.",
              "type": "string",
              "x-ms-summary": "City",
              "x-ms-visibility": "advanced"
            },
            "STATE": {
              "description": "Address state.",
              "type": "string",
              "x-ms-summary": "State",
              "x-ms-visibility": "advanced"
            },
            "POSTCODE": {
              "description": "Address postcode.",
              "type": "string",
              "x-ms-summary": "Postcode",
              "x-ms-visibility": "advanced"
            },
            "COUNTRY": {
              "description": "Address country.",
              "type": "string",
              "x-ms-summary": "Country",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Address (Postal)",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_PRIMARY": {
          "type": "object",
          "properties": {
            "STREET": {
              "description": "Address street.",
              "type": "string",
              "x-ms-summary": "Street",
              "x-ms-visibility": "advanced"
            },
            "CITY": {
              "description": "Address city.",
              "type": "string",
              "x-ms-summary": "City",
              "x-ms-visibility": "advanced"
            },
            "STATE": {
              "description": "Address state.",
              "type": "string",
              "x-ms-summary": "State",
              "x-ms-visibility": "advanced"
            },
            "POSTCODE": {
              "description": "Address postcode.",
              "type": "string",
              "x-ms-summary": "Postcode",
              "x-ms-visibility": "advanced"
            },
            "COUNTRY": {
              "description": "Address country.",
              "type": "string",
              "x-ms-summary": "Country",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Address (Primary)",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_OTHER": {
          "type": "object",
          "properties": {
            "STREET": {
              "description": "Address street.",
              "type": "string",
              "x-ms-summary": "Street",
              "x-ms-visibility": "advanced"
            },
            "CITY": {
              "description": "Address city.",
              "type": "string",
              "x-ms-summary": "City",
              "x-ms-visibility": "advanced"
            },
            "STATE": {
              "description": "Address state.",
              "type": "string",
              "x-ms-summary": "State",
              "x-ms-visibility": "advanced"
            },
            "POSTCODE": {
              "description": "Address postcode.",
              "type": "string",
              "x-ms-summary": "Postcode",
              "x-ms-visibility": "advanced"
            },
            "COUNTRY": {
              "description": "Address country.",
              "type": "string",
              "x-ms-summary": "Country",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Address (Other)",
          "x-ms-visibility": "advanced"
        },
        "EMAIL_WORK": {
          "description": "The work email of the contact.",
          "type": "string",
          "x-ms-summary": "Email (Work)",
          "x-ms-visibility": "important"
        },
        "EMAIL_HOME": {
          "description": "The home email of the contact.",
          "type": "string",
          "x-ms-summary": "Email (Home)",
          "x-ms-visibility": "important"
        },
        "EMAIL_PERSONAL": {
          "description": "The personal email of the contact.",
          "type": "string",
          "x-ms-summary": "Email (Personal)",
          "x-ms-visibility": "important"
        },
        "EMAIL_OTHER": {
          "description": "The other email of the contact.",
          "type": "string",
          "x-ms-summary": "Email (Other)",
          "x-ms-visibility": "important"
        },
        "PHONE_WORK": {
          "description": "The work phone number of the contact.",
          "type": "string",
          "x-ms-summary": "Phone (Work)",
          "x-ms-visibility": "important"
        },
        "PHONE_HOME": {
          "description": "The home phone number of the contact.",
          "type": "string",
          "x-ms-summary": "Phone (Home)",
          "x-ms-visibility": "important"
        },
        "PHONE_MOBILE": {
          "description": "The mobile phone number of the contact.",
          "type": "string",
          "x-ms-summary": "Phone (mobile)",
          "x-ms-visibility": "important"
        },
        "PHONE_OTHER": {
          "description": "The other phone number of the contact.",
          "type": "string",
          "x-ms-summary": "Phone (Other)",
          "x-ms-visibility": "important"
        },
        "CONTACT_ID": {
          "format": "int32",
          "description": "The unique identifier of the contact.",
          "type": "integer",
          "x-ms-summary": "Contact Id",
          "x-ms-visibility": "important"
        },
        "SALUTATION": {
          "description": "The salutation of the contact.",
          "type": "string",
          "x-ms-summary": "Salutation",
          "x-ms-visibility": "advanced"
        },
        "FIRST_NAME": {
          "description": "First name of the contact.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "LAST_NAME": {
          "description": "Last name of the contact.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "IMAGE_URL": {
          "description": "Contact image URL.",
          "type": "string",
          "x-ms-summary": "Image URL",
          "x-ms-visibility": "advanced"
        },
        "DATE_CREATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Created Date-Time ",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TO": {
          "description": "Contact visibility.",
          "type": "string",
          "x-ms-summary": "Contact Visibility",
          "x-ms-visibility": "advanced"
        },
        "BACKGROUND": {
          "description": "Background",
          "type": "string",
          "x-ms-summary": "Background",
          "x-ms-visibility": "advanced"
        },
        "DEFAULT_LINKED_ORGANISATION": {
          "format": "int32",
          "description": "Default linked organization.",
          "type": "integer",
          "x-ms-summary": "Default Linked Organization",
          "x-ms-visibility": "important"
        },
        "OWNER_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the owner.",
          "type": "integer",
          "x-ms-summary": "Owner User Id",
          "x-ms-visibility": "advanced"
        },
        "DATE_UPDATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TEAM_ID": {
          "format": "int32",
          "description": "The unique identifier of the team.",
          "type": "integer",
          "x-ms-summary": "Visible Team Id",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_USER_IDS": {
          "format": "int32",
          "description": "The unique identifiers of the users.",
          "type": "integer",
          "x-ms-summary": "Visible User IDs",
          "x-ms-visibility": "advanced"
        },
        "CAN_EDIT": {
          "description": "Can edit",
          "type": "boolean",
          "x-ms-summary": "Can Edit",
          "x-ms-visibility": "important"
        },
        "CAN_DELETE": {
          "description": "Can delete",
          "type": "boolean",
          "x-ms-summary": "Can Delete",
          "x-ms-visibility": "important"
        },
        "SOCIAL_LINKEDIN": {
          "description": "Social LinkedIn.",
          "type": "string",
          "x-ms-summary": "Social LinkedIn",
          "x-ms-visibility": "important"
        },
        "SOCIAL_FACEBOOK": {
          "description": "Social Facebook.",
          "type": "string",
          "x-ms-summary": "Social Facebook",
          "x-ms-visibility": "important"
        },
        "SOCIAL_TWITTER": {
          "description": "Social Twitter.",
          "type": "string",
          "x-ms-summary": "Social Twitter",
          "x-ms-visibility": "important"
        }
      }
    },
    "Address": {
      "description": "An Insightly Contact Address Object",
      "type": "object",
      "properties": {
        "ADDRESS_ID": {
          "format": "int32",
          "description": "The unique identifier of the address.",
          "type": "integer",
          "x-ms-summary": "Address Id",
          "x-ms-visibility": "advanced"
        },
        "ADDRESS_TYPE": {
          "description": "Address type.",
          "type": "string",
          "x-ms-summary": "Address Type",
          "x-ms-visibility": "advanced"
        },
        "STREET": {
          "description": "Address street.",
          "type": "string",
          "x-ms-summary": "Address Street",
          "x-ms-visibility": "advanced"
        },
        "CITY": {
          "description": "Address city.",
          "type": "string",
          "x-ms-summary": "Address City",
          "x-ms-visibility": "advanced"
        },
        "STATE": {
          "description": "Address state.",
          "type": "string",
          "x-ms-summary": "Address State",
          "x-ms-visibility": "advanced"
        },
        "POSTCODE": {
          "description": "Address postcode.",
          "type": "string",
          "x-ms-summary": "Address Postcode",
          "x-ms-visibility": "advanced"
        },
        "COUNTRY": {
          "description": "Address country.",
          "type": "string",
          "x-ms-summary": "Address Country",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ContactInfo": {
      "description": "An Insightly Contact Information Object",
      "type": "object",
      "properties": {
        "CONTACT_INFO_ID": {
          "format": "int32",
          "description": "The unique identifier of the contact info.",
          "type": "integer",
          "x-ms-summary": "Contact info Id",
          "x-ms-visibility": "advanced"
        },
        "TYPE": {
          "description": "Contact info type.",
          "enum": [
            "Phone",
            "Email",
            "Social",
            "Website"
          ],
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        },
        "SUBTYPE": {
          "description": "Contact info sub-type.",
          "type": "string",
          "x-ms-summary": "SubType",
          "x-ms-visibility": "advanced"
        },
        "LABEL": {
          "description": "Contact info label.",
          "type": "string",
          "x-ms-summary": "Label",
          "x-ms-visibility": "advanced"
        },
        "DETAIL": {
          "description": "Contact info detail.",
          "type": "string",
          "x-ms-summary": "Detail",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ContactRequest": {
      "description": "An Insightly Contact Request Object",
      "type": "object",
      "required": [
        "FIRST_NAME",
        "LAST_NAME"
      ],
      "x-ms-test-value": {
        "FIRST_NAME": "AAPT",
        "LAST_NAME": "Apps"
      },
      "properties": {
        "SALUTATION": {
          "description": "The salutation of the contact.",
          "type": "string",
          "x-ms-summary": "Salutation",
          "x-ms-visibility": "advanced"
        },
        "FIRST_NAME": {
          "description": "First name of the contact.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "LAST_NAME": {
          "description": "Last name of the lead.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "BACKGROUND": {
          "description": "Background",
          "type": "string",
          "x-ms-summary": "Background",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TO": {
          "description": "Contact Visibility",
          "enum": [
            "Everyone",
            "Individuals",
            "Owner",
            "Team"
          ],
          "type": "string",
          "x-ms-summary": "Contact Visibility",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_TEAM_ID": {
          "format": "int32",
          "description": "Visible Team Id (Required when team visibility state is selected)",
          "type": "integer",
          "x-ms-summary": "Visible Team Id",
          "x-ms-visibility": "advanced"
        },
        "VISIBLE_USER_IDS": {
          "format": "int32",
          "description": "Visible User IDs (Required when individuals visibility state is selected)",
          "type": "integer",
          "x-ms-summary": "Visible User IDs",
          "x-ms-visibility": "advanced"
        },
        "CONTACTINFOS": {
          "description": "Contact Information",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactInfo"
          },
          "x-ms-summary": "Contact Information ",
          "x-ms-visibility": "important"
        },
        "TAGS": {
          "description": "Tag",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-summary": "Tag",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListUsersResponse": {
      "description": "A Insightly User response object",
      "type": "object",
      "properties": {
        "users": {
          "description": "A collection of users",
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          },
          "x-ms-summary": "Users",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "User": {
      "description": "An Insightly User Object",
      "type": "object",
      "properties": {
        "USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the user.",
          "type": "integer",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "advanced"
        },
        "CONTACT_ID": {
          "format": "int32",
          "description": "The unique identifier of the contact.",
          "type": "integer",
          "x-ms-summary": "Contact Id",
          "x-ms-visibility": "advanced"
        },
        "FIRST_NAME": {
          "description": "First name of the user.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "LAST_NAME": {
          "description": "Last name of the user.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "EMAIL_ADDRESS": {
          "description": "User email address.",
          "type": "string",
          "x-ms-summary": "Email Address",
          "x-ms-visibility": "important"
        },
        "TIMEZONE_ID": {
          "description": "The unique identifier of the timezone.",
          "type": "string",
          "x-ms-summary": "Time zone Id",
          "x-ms-visibility": "important"
        },
        "EMAIL_DROPBOX_IDENTIFIER": {
          "description": "The unique identifier of the email dropbox.",
          "type": "string",
          "x-ms-summary": "Email Dropbox Id",
          "x-ms-visibility": "important"
        },
        "EMAIL_DROPBOX_ADDRESS": {
          "description": "Email dropbox address",
          "type": "string",
          "x-ms-summary": "Email Dropbox Address",
          "x-ms-visibility": "important"
        },
        "ADMINISTRATOR": {
          "description": "A boolean value determining whether or not the user is an administrator.",
          "type": "boolean",
          "x-ms-summary": "Is Administrator",
          "x-ms-visibility": "important"
        },
        "ACCOUNT_OWNER": {
          "description": "A boolean value determining whether or not the user is the account owner.",
          "type": "boolean",
          "x-ms-summary": "Is Account Owner",
          "x-ms-visibility": "important"
        },
        "ACTIVE": {
          "description": "A boolean value determining whether or not the user is active.",
          "type": "boolean",
          "x-ms-summary": "Is Active",
          "x-ms-visibility": "important"
        },
        "DATE_CREATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Created Date-Time ",
          "x-ms-visibility": "important"
        },
        "DATE_UPDATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "important"
        },
        "USER_CURRENCY": {
          "description": "User currency.",
          "type": "string",
          "x-ms-summary": "User Currency",
          "x-ms-visibility": "important"
        },
        "CONTACT_DISPLAY": {
          "description": "Contact display.",
          "type": "string",
          "x-ms-summary": "Contact Display",
          "x-ms-visibility": "important"
        },
        "CONTACT_ORDER": {
          "description": "Contact order.",
          "type": "string",
          "x-ms-summary": "Contact Order",
          "x-ms-visibility": "important"
        },
        "TASK_WEEK_START": {
          "format": "int32",
          "description": "Task week start.",
          "type": "integer",
          "x-ms-summary": "Task Week Start",
          "x-ms-visibility": "important"
        },
        "INSTANCE_ID": {
          "format": "int32",
          "description": "The unique identifier of the instance.",
          "type": "integer",
          "x-ms-summary": "Instance Id",
          "x-ms-visibility": "important"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "ListEventsResponse": {
      "description": "A Insightly Event response object",
      "type": "object",
      "properties": {
        "events": {
          "description": "A collection of events",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Event"
          },
          "x-ms-summary": "Events",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Event": {
      "description": "An Insightly Event Object",
      "type": "object",
      "properties": {
        "EVENT_ID": {
          "format": "int32",
          "description": "The unique identifier of the event.",
          "type": "integer",
          "x-ms-summary": "Event Id",
          "x-ms-visibility": "advanced"
        },
        "TITLE": {
          "description": "The title of the event.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "START_DATE_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Start Date-Time",
          "x-ms-visibility": "important"
        },
        "END_DATE_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "End Date-Time",
          "x-ms-visibility": "important"
        },
        "DATE_CREATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "DATE_UPDATED_UTC": {
          "description": "yyyy-MM-dd HH:mm:ss",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "OWNER_USER_ID": {
          "format": "int32",
          "description": "The unique identifier of the owner.",
          "type": "integer",
          "x-ms-summary": "Owner User Id",
          "x-ms-visibility": "advanced"
        },
        "REMINDER_SENT": {
          "description": "A boolean value determining whether or not the reminder was sent.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder Sent",
          "x-ms-visibility": "advanced"
        },
        "ALL_DAY": {
          "description": "A boolean value determining whether or not the event is all day.",
          "type": "boolean",
          "x-ms-summary": "Is All Day Event",
          "x-ms-visibility": "advanced"
        },
        "PUBLICLY_VISIBLE": {
          "description": "A boolean value determining whether or not the event is publicly visible.",
          "type": "boolean",
          "x-ms-summary": "Is Event Visible",
          "x-ms-visibility": "advanced"
        },
        "CAN_EDIT": {
          "description": "Can edit",
          "type": "boolean",
          "x-ms-summary": "Can Edit",
          "x-ms-visibility": "important"
        },
        "CAN_DELETE": {
          "description": "Can delete",
          "type": "boolean",
          "x-ms-summary": "Can Delete",
          "x-ms-visibility": "important"
        }
      }
    },
    "OrganizationRequest": {
      "description": "An Insightly Organization Request Object",
      "type": "object",
      "x-ms-test-value": {
        "ORGANISATION_NAME": "test organzation"
      },
      "required": [
        "ORGANISATION_NAME"
      ],
      "properties": {
        "ORGANISATION_NAME": {
          "description": "The name of the organization.",
          "type": "string",
          "x-ms-summary": "Organization Name",
[...]
