{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "SAP ERP",
    "description": "SAP ERP is an enterprise resource planning software developed by SAP SE. SAP ERP incorporates the key business functions of an organization. The SAP ERP connector for Power Automate and Power Apps allows you to invoke RFC and BAPI functions using on-premises data gateway.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/saperp",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/getschema": {
      "get": {
        "tags": [
          "SAP ERP"
        ],
        "summary": "Get SAP Function Schema",
        "description": "Get SAP Function Schema.",
        "operationId": "GetSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "AppServerHost",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "AS Host",
            "description": "The hostname of the SAP Application Server."
          },
          {
            "name": "Client",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Client",
            "description": "The SAP client ID to connect to the SAP system."
          },
          {
            "name": "SystemNumber",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "AS System Number",
            "description": "The SAP System's System Number. It is a number ranging from 00 to 99."
          },
          {
            "name": "UseSnc",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Use SNC",
            "description": "When selected, the connections will be secured with SNC."
          },
          {
            "name": "SncLibraryPath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "SNC library",
            "description": "Path of the SNC library to be used."
          },
          {
            "name": "SncSso",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "On",
              "Off"
            ],
            "x-ms-summary": "SNC SSO",
            "description": "The SNC SSO specifies whether to use SNC identity or credentials provided on RFC level."
          },
          {
            "name": "SncMyName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "SNC My Name",
            "description": "Identity to be used for this particular destination/server (optional)."
          },
          {
            "name": "SncPartnerName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "SNC Partner Name",
            "description": "The backend's SNC name."
          },
          {
            "name": "SncQop",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Authentication",
              "Integrity",
              "Privacy",
              "Default",
              "Maximum"
            ],
            "x-ms-summary": "SNC Quality of Protection",
            "description": "Quality of Service to be used for SNC communication of this particular destination/server."
          },
          {
            "name": "function",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#get-sap-function-schema"
        }
      }
    },
    "/{connectionId}/invoke": {
      "post": {
        "tags": [
          "SAP ERP Invoke"
        ],
        "summary": "Call SAP function",
        "description": "Call SAP function.",
        "operationId": "Invoke",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "AppServerHost",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "AS Host",
            "description": "The hostname of the SAP Application Server."
          },
          {
            "name": "Client",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Client",
            "description": "The SAP client ID to connect to the SAP system."
          },
          {
            "name": "SystemNumber",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "AS System Number",
            "description": "The SAP System's System Number. It is a number ranging from 00 to 99."
          },
          {
            "name": "UseSnc",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Use SNC",
            "description": "When selected, the connections will be secured with SNC."
          },
          {
            "name": "SncLibraryPath",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Optional",
            "x-ms-summary": "SNC library",
            "description": "Path of the SNC library to be used."
          },
          {
            "name": "SncSso",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "On",
              "Off"
            ],
            "default": "Off",
            "x-ms-summary": "SNC SSO",
            "description": "The SNC SSO specifies whether to use SNC identity or credentials provided on RFC level."
          },
          {
            "name": "SncMyName",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Optional",
            "x-ms-summary": "SNC My Name",
            "description": "Identity to be used for this particular destination/server (optional)."
          },
          {
            "name": "SncPartnerName",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Optional",
            "x-ms-summary": "SNC Partner Name",
            "description": "The backend's SNC name."
          },
          {
            "name": "SncQop",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Authentication",
              "Integrity",
              "Privacy",
              "Default",
              "Maximum"
            ],
            "default": "Default",
            "x-ms-summary": "SNC Quality of Protection",
            "description": "Quality of Service to be used for SNC communication of this particular destination/server."
          },
          {
            "name": "function",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "SAP function name",
            "description": "Specify SAP function name (case-sensitive).",
            "x-ms-dynamic-values": {
              "operationId": "Search",
              "parameters": {
                "AppServerHost": {
                  "parameter": "AppServerHost"
                },
                "Client": {
                  "parameter": "Client"
                },
                "SystemNumber": {
                  "parameter": "SystemNumber"
                },
                "UseSnc": {
                  "parameter": "UseSnc"
                },
                "SncLibraryPath": {
                  "parameter": "SncLibraryPath"
                },
                "SncSso": {
                  "parameter": "SncSso"
                },
                "SncMyName": {
                  "parameter": "SncMyName"
                },
                "SncPartnerName": {
                  "parameter": "SncPartnerName"
                },
                "SncQop": {
                  "parameter": "SncQop"
                },
                "searchString": {
                  "parameter": "function"
                }
              }
            }
          },
          {
            "name": "isSessionStateful",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Yes",
              "No"
            ],
            "default": "Yes",
            "x-ms-summary": "Stateful Session",
            "description": "Create stateful session. Select 'Yes' for write operations, 'No' for read operations."
          },
          {
            "name": "functionInput",
            "in": "body",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSchema",
                "parameters": {
                  "AppServerHost": {
                    "parameter": "AppServerHost"
                  },
                  "Client": {
                    "parameter": "Client"
                  },
                  "SystemNumber": {
                    "parameter": "SystemNumber"
                  },
                  "UseSnc": {
                    "parameter": "UseSnc"
                  },
                  "SncLibraryPath": {
                    "parameter": "SncLibraryPath"
                  },
                  "SncSso": {
                    "parameter": "SncSso"
                  },
                  "SncMyName": {
                    "parameter": "SncMyName"
                  },
                  "SncPartnerName": {
                    "parameter": "SncPartnerName"
                  },
                  "SncQop": {
                    "parameter": "SncQop"
                  },
                  "function": {
                    "parameter": "function"
                  }
                },
                "value-path": "properties/Request"
              }
            },
            "x-ms-summary": "SAP function input",
            "description": "Please specify SAP function input."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#call-sap-function"
        }
      }
    },
    "/{connectionId}/rundiagnostics": {
      "post": {
        "tags": [
          "SAP ERP RunDiagnostics"
        ],
        "summary": "Run Diagnostics",
        "description": "Run Diagnostics.",
        "operationId": "RunDiagnostics",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "AppServerHost",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "AS Host",
            "description": "The hostname of the SAP Application Server."
          },
          {
            "name": "Client",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Client",
            "description": "The SAP client ID to connect to the SAP system."
          },
          {
            "name": "SystemNumber",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "AS System Number",
            "description": "The SAP System's System Number. It is a number ranging from 00 to 99."
          },
          {
            "name": "UseSnc",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Use SNC",
            "description": "When selected, the connections will be secured with SNC."
          },
          {
            "name": "SncLibraryPath",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Optional",
            "x-ms-summary": "SNC library",
            "description": "Path of the SNC library to be used."
          },
          {
            "name": "SncSso",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "On",
              "Off"
            ],
            "default": "Off",
            "x-ms-summary": "SNC SSO",
            "description": "The SNC SSO specifies whether to use SNC identity or credentials provided on RFC level."
          },
          {
            "name": "SncMyName",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Optional",
            "x-ms-summary": "SNC My Name",
            "description": "Identity to be used for this particular destination/server (optional)."
          },
          {
            "name": "SncPartnerName",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Optional",
            "x-ms-summary": "SNC Partner Name",
            "description": "The backend's SNC name."
          },
          {
            "name": "SncQop",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Authentication",
              "Integrity",
              "Privacy",
              "Default",
              "Maximum"
            ],
            "default": "Default",
            "x-ms-summary": "SNC Quality of Protection",
            "description": "Quality of Service to be used for SNC communication of this particular destination/server."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DiagnosticsOutput"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#run-diagnostics"
        }
      }
    },
    "/{connectionId}/search": {
      "post": {
        "tags": [
          "SAP ERP Search Functions"
        ],
        "summary": "Search SAP functions",
        "description": "Search SAP functions.",
        "operationId": "Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "AppServerHost",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "AS Host",
            "description": "The hostname of the SAP Application Server."
          },
          {
            "name": "Client",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Client",
            "description": "The SAP client ID to connect to the SAP system."
          },
          {
            "name": "SystemNumber",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "AS System Number",
            "description": "The SAP System's System Number. It is a number ranging from 00 to 99."
          },
          {
            "name": "UseSnc",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Use SNC",
            "description": "When selected, the connections will be secured with SNC."
          },
          {
            "name": "SncLibraryPath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "SNC library",
            "description": "Path of the SNC library to be used."
          },
          {
            "name": "SncSso",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "On",
              "Off"
            ],
            "x-ms-summary": "SNC SSO",
            "description": "The SNC SSO specifies whether to use SNC identity or credentials provided on RFC level."
          },
          {
            "name": "SncMyName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "SNC My Name",
            "description": "Identity to be used for this particular destination/server (optional)."
          },
          {
            "name": "SncPartnerName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "SNC Partner Name",
            "description": "The backend's SNC name."
          },
          {
            "name": "SncQop",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Authentication",
              "Integrity",
              "Privacy",
              "Default",
              "Maximum"
            ],
            "x-ms-summary": "SNC Quality of Protection",
            "description": "Quality of Service to be used for SNC communication of this particular destination/server."
          },
          {
            "name": "searchString",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search String",
            "description": "Input string to search functions."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#search-sap-functions"
        }
      }
    },
    "/{connectionId}/testconnection": {
      "get": {
        "tags": [
          "SAP ERP"
        ],
        "summary": "Tests connection to SAP server",
        "description": "Tests connection to SAP server.This methods invokes STFC Rfc Call.",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#tests-connection-to-sap-server"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/CloseSession": {
      "post": {
        "tags": [
          "Sap"
        ],
        "summary": "Close stateful session",
        "description": "Closes an existing stateful connection session to the SAP system.",
        "operationId": "CloseSession",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "The stateful session Id as a string.",
            "required": true,
            "x-ms-summary": "Session Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#close-stateful-session"
        }
      }
    },
    "/{connectionId}/CreateSession": {
      "post": {
        "tags": [
          "Sap"
        ],
        "summary": "Create stateful session",
        "description": "Creates a stateful connection session to the SAP system. This action only works with Call SAP function (V2)",
        "operationId": "CreateSession",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateSessionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#create-stateful-session"
        }
      }
    },
    "/{connectionId}/CallRfcJson": {
      "post": {
        "tags": [
          "Sap"
        ],
        "summary": "Call SAP function (V2)",
        "description": "Calls an sRFC, tRFC or qRFC on the SAP system.",
        "operationId": "CallRfcJson",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "rfcName",
            "in": "query",
            "description": "The RFC to be called, e.g. 'STFC_CONNECTION'.",
            "required": true,
            "x-ms-summary": "RFC name",
            "x-ms-dynamic-values": {
              "operationId": "ListRfcs",
              "parameters": {
                "rfcGroupFilter": {
                  "parameter": "rfcGroupFilter"
                },
                "x-ms-sap-system": {
                  "parameter": "x-ms-sap-system"
                }
              }
            },
            "type": "string"
          },
          {
            "name": "rfcInputs",
            "in": "body",
            "description": "The SAP function inputs.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GenerateJsonSchema",
                "parameters": {
                  "functionName": {
                    "parameter": "rfcName"
                  },
                  "functionType": "Rfc",
                  "x-ms-sap-system": {
                    "parameter": "x-ms-sap-system"
                  }
                },
                "value-path": "properties/Request"
              }
            },
            "x-ms-summary": "SAP function input"
          },
          {
            "name": "rfcGroupFilter",
            "in": "query",
            "description": "The optional RFC group filter, such as 'STFC', to filter the RFCs.",
            "required": false,
            "x-ms-summary": "RFC Group filter",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListRfcGroups",
              "parameters": {
                "x-ms-sap-system": {
                  "parameter": "x-ms-sap-system"
                }
              }
            },
            "x-ms-url-encoding": "double",
            "type": "string",
            "default": "*"
          },
          {
            "name": "autoCommit",
            "in": "query",
            "description": "Automatically commits the RFC transaction if adding the qRFC/tRFC to the transaction has no error. Auto-commit only takes effect if either {tId} or {queueName} is provided.",
            "required": false,
            "x-ms-summary": "Auto commit",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "sessionId",
            "in": "query",
            "description": "The optional stateful session Id as a string for stateful RFC. If no session Id is provided, the call is made on a stateless connection.",
            "required": false,
            "x-ms-summary": "Session Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GenerateJsonSchema",
                "parameters": {
                  "functionName": {
                    "parameter": "rfcName"
                  },
                  "functionType": "Rfc",
                  "x-ms-sap-system": {
                    "parameter": "x-ms-sap-system"
                  }
                },
                "value-path": "properties/Response"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#call-sap-function-(v2)"
        }
      }
    },
    "/{connectionId}/ListRfcGroups": {
      "get": {
        "tags": [
          "Sap"
        ],
        "summary": "Lists the RFC groups",
        "description": "Lists the RFC groups.",
        "operationId": "ListRfcGroups",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation is successful",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#lists-the-rfc-groups"
        }
      }
    },
    "/{connectionId}/ListRfcs": {
      "get": {
        "tags": [
          "Sap"
        ],
        "summary": "Lists the RFCs with an optional RFC group filter",
        "description": "The name of the input parameter for this method must match the name of the input parameter for RFC group filter in the referring API.",
        "operationId": "ListRfcs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "rfcGroupFilter",
            "in": "query",
            "description": "The name of the RFC group for which to fetch a list of RFCs.",
            "required": true,
            "x-ms-summary": "The name of the RFC group for which to fetch a list of RFCs.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation is successful",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#lists-the-rfcs-with-an-optional-rfc-group-filter"
        }
      }
    },
    "/{connectionId}/GenerateJsonSchema": {
      "get": {
        "tags": [
          "Sap"
        ],
        "summary": "Generate RFC JSON schema",
        "description": "Generates JSON schema for the provided RFC name.",
        "operationId": "GenerateJsonSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "functionType",
            "in": "query",
            "description": "Type of function within SAP (i.e. Rfc, BAPI).",
            "required": true,
            "x-ms-summary": "Type of SAP function",
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "query",
            "description": "The name of the SAP function.",
            "required": true,
            "x-ms-summary": "Name of the function",
            "type": "string"
          },
          {
            "name": "businessObject",
            "in": "query",
            "description": "The BAPI business object.",
            "required": false,
            "x-ms-summary": "The BAPI business object",
            "type": "string"
          },
          {
            "name": "businessObjectMethod",
            "in": "query",
            "description": "The method performed on the BAPI business object.",
            "required": false,
            "x-ms-summary": "The method performed on the BAPI business object",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#generate-rfc-json-schema"
        }
      }
    },
    "/{connectionId}/ReadTableVersion3": {
      "post": {
        "tags": [
          "Sap"
        ],
        "summary": "Read SAP table with parsing",
        "description": "This action requires that the user has access to 'BBP_RFC_READ_TABLE' or 'RFC_READ_TABLE' RFC.",
        "operationId": "ReadTableVersion3",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "inputParameters",
            "in": "body",
            "description": "The input parameters to the read table action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReadTableVersion3Input"
            },
            "x-ms-summary": "The input parameters to the read table action"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GenerateTableResponseSchema",
                "parameters": {
                  "tableName": {
                    "parameter": "tableName"
                  },
                  "FieldNames": {
                    "parameter": "FieldNames"
                  },
                  "ReturnFormat": {
                    "parameter": "ReturnType"
                  },
                  "x-ms-sap-system": {
                    "parameter": "x-ms-sap-system"
                  }
                }
              },
              "x-ms-dynamic-properties": {
                "operationId": "GenerateTableResponseSchema",
                "parameters": {
                  "inputParameters/tableName": {
                    "parameterReference": "inputParameters/tableName"
                  },
                  "inputParameters/FieldNames": {
                    "parameterReference": "inputParameters/FieldNames"
                  },
                  "inputParameters/ReturnFormat": {
                    "value": "JSON"
                  },
                  "x-ms-sap-system": {
                    "parameterReference": "x-ms-sap-system"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#read-sap-table-with-parsing"
        }
      }
    },
    "/{connectionId}/GenerateTableResponseSchema": {
      "post": {
        "tags": [
          "Sap"
        ],
        "summary": "Generate the schema for RFC_READ_TABLE response",
        "description": "Generate the schema for RFC_READ_TABLE response.",
        "operationId": "GenerateTableResponseSchema",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "inputParameters",
            "in": "body",
            "description": "The input parameters to generate the schema for read table version 3 action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateTableResponseSchemaInput"
            },
            "x-ms-summary": "The input parameters to generate the schema for read table version 3 action"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation is successful",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#generate-the-schema-for-rfc_read_table-response"
        }
      }
    },
    "/{connectionId}/ListFields": {
      "get": {
        "tags": [
          "Sap"
        ],
        "summary": "Lists the fields metadata for a given SAP table",
        "description": "The name of the input parameter for this method must match the name of the input parameter for table name in the referring API.",
        "operationId": "ListFields",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-sap-system",
            "in": "header",
            "description": "JSON string containing system parameters Host, system number, client etc.",
            "x-ms-summary": "SAP system",
            "required": true,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "The name of the SAP table for which to fetch a list of fields.",
            "required": true,
            "x-ms-summary": "The name of the SAP table for which to fetch a list of fields.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation is successful",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/saperp/#lists-the-fields-metadata-for-a-given-sap-table"
        }
      }
    }
  },
  "definitions": {
    "DiagnosticsOutput": {
      "type": "object",
      "properties": {
        "GatewayRunningStatus": {
          "type": "boolean"
        },
        "GatewayVersionSupportsRunDiagnostics": {
          "type": "boolean"
        },
        "CredentialCheck": {
          "type": "boolean"
        },
        "CanPerformRfcFunctionSearch": {
          "type": "boolean"
        },
        "CanInvokeSTFC_CONNECTION": {
          "type": "boolean"
        },
        "DiagnosticsStatus": {
          "type": "object"
        }
      }
    },
    "Output": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetSchema",
        "parameters": {
          "AppServerHost": {
            "parameter": "AppServerHost"
          },
          "Client": {
            "parameter": "Client"
          },
          "SystemNumber": {
            "parameter": "SystemNumber"
          },
          "UseSnc": {
            "parameter": "UseSnc"
          },
          "SncLibraryPath": {
            "parameter": "SncLibraryPath"
          },
          "SncSso": {
            "parameter": "SncSso"
          },
          "SncMyName": {
            "parameter": "SncMyName"
          },
          "SncPartnerName": {
            "parameter": "SncPartnerName"
          },
          "SncQop": {
            "parameter": "SncQop"
          },
          "function": {
            "parameter": "function"
          }
        },
        "value-path": "properties/Response"
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "ReadTableVersion3Input": {
      "description": "Read table input parameters",
      "required": [
        "tableName",
        "ReturnType"
      ],
      "type": "object",
      "properties": {
        "ReturnType": {
          "description": "The optional enum to parse the data",
          "default": "JSON",
          "enum": [
            "JSON",
            "XML"
          ],
          "type": "string",
          "x-ms-summary": "Return Type",
          "x-ms-visibility": "internal"
        },
        "tableName": {
          "description": "The name of the SAP table to read",
          "type": "string",
          "x-ms-summary": "Table name",
          "x-ms-visibility": "important"
        },
        "FieldNames": {
          "description": "The list of fields to read",
          "type": "array",
          "items": {
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListFields",
              "parameters": {
                "x-ms-sap-system": {
                  "parameter": "x-ms-sap-system"
                },
                "tableName": {
                  "parameter": "tableName"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "ListFields",
              "parameters": {
                "tableName": {
                  "parameterReference": "inputParameters/tableName"
                },
                "x-ms-sap-system": {
                  "parameterReference": "x-ms-sap-system"
                }
              }
            }
          },
          "x-ms-summary": "Fields to read",
          "x-ms-visibility": "important"
        },
        "WhereFilters": {
          "description": "The list of where filter clauses, e.g. \"MTART = 'ROH' AND MEINS = 'PAK'\"",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Where filters",
          "x-ms-visibility": "advanced"
        },
        "StartIndex": {
          "format": "int32",
          "description": "Starting row index, e.g. 0",
          "type": "integer",
          "x-ms-summary": "Starting row index",
          "x-ms-visibility": "advanced"
        },
        "RowCount": {
          "format": "int32",
          "description": "The count of rows to read, e.g. 10",
          "type": "integer",
          "x-ms-summary": "Count of rows to read",
          "x-ms-visibility": "important"
        }
      }
    },
    "GenerateTableResponseSchemaInput": {
      "description": "Generate table response schema inputs",
      "required": [
        "tableName"
      ],
      "type": "object",
      "properties": {
        "tableName": {
          "description": "The name of the SAP table to read",
          "type": "string",
          "x-ms-summary": "Table name"
        },
        "FieldNames": {
          "description": "The list of fields to read",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Fields to read"
        },
        "ReturnFormat": {
          "description": "The optional enum to parse the data",
          "enum": [
            "JSON",
            "XML"
          ],
          "type": "string",
          "x-ms-summary": "Return Type"
        }
      }
    },
    "CreateSessionResponse": {
      "description": "Result for Create Session operation.",
      "type": "object",
      "properties": {
        "SessionId": {
          "description": "Id for the stateful session.",
          "type": "string",
          "x-ms-summary": "Session Id"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.sap.com/products/enterprise-management-erp.html"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.sap.com/about/legal/privacy.html"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/saperp"
  }
}
