{
  "swagger": "2.0",
  "info": {
    "title": "Preserve365",
    "description": "Preserve365 connector enables users to automate archiving assets present in Microsoft365. Users are required to have an existing Preserve365 subscription with the automation feature enabled.",
    "contact": {
      "name": "Preservica Support",
      "email": "support@preservica.com"
    },
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/preserve365",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1/sharepoint/archive/file/copy": {
      "post": {
        "tags": [
          "FileArchiveCopy"
        ],
        "summary": "Copy File to Preservica archive (V1)",
        "operationId": "FileArchiveCopyV1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ActionCopy"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The Power Automate Archive Request Body with details relating to request.",
            "schema": {
              "$ref": "#/definitions/DocumentLibraryFilePowerAutomateArchiveRequestDto"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ValidationProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ValidationProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ValidationProblemDetails"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "description": "This operation will copy a file from SharePoint into your Preservica archive.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/preserve365/#copy-file-to-preservica-archive-(v1)"
        }
      }
    },
    "/{connectionId}/v1/sharepoint/archive/file/move": {
      "post": {
        "tags": [
          "FileArchiveMove"
        ],
        "summary": "Move File to Preservica archive (V1)",
        "operationId": "FileArchiveMoveV1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ActionMove"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The Power Automate Archive Request Body with details relating to request.",
            "schema": {
              "$ref": "#/definitions/DocumentLibraryFilePowerAutomateArchiveRequestDto"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ValidationProblemDetails"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ValidationProblemDetails"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ValidationProblemDetails"
            }
          },
          "422": {
            "description": "UnprocessableEntity",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "description": "This operation will move a file from SharePoint into your Preservica archive.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/preserve365/#move-file-to-preservica-archive-(v1)"
        }
      }
    }
  },
  "definitions": {
    "DocumentLibraryFilePowerAutomateArchiveRequestDto": {
      "type": "object",
      "properties": {
        "siteUrl": {
          "$ref": "#/definitions/SiteUrl"
        },
        "listTemplateType": {
          "type": "string",
          "default": "DocumentLibrary",
          "x-ms-visibility": "internal"
        },
        "archiveType": {
          "type": "string",
          "default": "Item",
          "x-ms-visibility": "internal"
        },
        "listURLName": {
          "type": "string",
          "description": "e.g. sites/TestSite/TestLib, TestLib is listURLName"
        },
        "itemPath": {
          "type": "string",
          "description": "Relative library file path e.g text.txt or Folder1/text.txt"
        }
      },
      "additionalProperties": false,
      "required": [
        "archiveType",
        "siteUrl",
        "listTemplateType",
        "itemPath",
        "listURLName"
      ]
    },
    "GenericListItemPowerAutomateArchiveRequestDto": {
      "type": "object",
      "properties": {
        "siteUrl": {
          "$ref": "#/definitions/SiteUrl"
        },
        "listTemplateType": {
          "type": "string",
          "default": "GenericList",
          "x-ms-visibility": "internal"
        },
        "archiveType": {
          "type": "string",
          "default": "Item",
          "x-ms-visibility": "internal"
        },
        "listURLName": {
          "type": "string",
          "description": "e.g. sites/Site/Lists/TestList, TestList is listURLName"
        },
        "itemPath": {
          "type": "string",
          "description": "Relative list item path e.g listItem or Folder1/listItem"
        }
      },
      "additionalProperties": false,
      "required": [
        "archiveType",
        "siteUrl",
        "listTemplateType",
        "itemPath",
        "listURLName"
      ]
    },
    "ProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "SiteUrl": {
      "maxLength": 1000,
      "minLength": 22,
      "pattern": "",
      "type": "string",
      "format": "uri",
      "additionalProperties": false,
      "example": "https://7glzq0.sharepoint.com",
      "description": "Sharepoint site url e.g. https://7glzq0.sharepoint.com"
    },
    "ValidationProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        },
        "errors": {
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "additionalProperties": {}
    }
  },
  "parameters": {
    "ActionCopy": {
      "in": "query",
      "type": "string",
      "name": "action",
      "default": "Copy",
      "description": "The Archive Action Copy.",
      "required": true,
      "x-ms-summary": "Archive Action",
      "x-ms-visibility": "internal"
    },
    "ActionMove": {
      "in": "query",
      "type": "string",
      "name": "action",
      "default": "Move",
      "description": "The Archive Action Move.",
      "required": true,
      "x-ms-summary": "Archive Action",
      "x-ms-visibility": "internal"
    }
  },
  "securityDefinitions": {},
  "security": [],
  "responses": {},
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://preservica.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://preservica.com/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/preserve365"
  }
}
