{
  "swagger": "2.0",
  "info": {
    "title": "1DocStop",
    "version": "1.0",
    "description": "The best document management system for your web & mobile apps. Store, Manage, and Access all your documents whenever and wherever you are.",
    "contact": {
      "name": "Support",
      "url": "https://www.1docstop.us",
      "email": "support@1docstop.us"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/1docstop",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/palibraries/add": {
      "post": {
        "description": "Add a Library",
        "operationId": "palibraries-add",
        "summary": "Add a Library",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "library",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/library"
            },
            "description": "JSON request body containing the library.",
            "x-ms-summary": "library"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the library.",
            "schema": {
              "$ref": "#/definitions/library"
            },
            "examples": {
              "application/json": {
                "libraryId": 0,
                "repositoryId": 0,
                "repository": {
                  "repositoryId": 0,
                  "name": "string",
                  "description": "string",
                  "repositoryTypeId": 0,
                  "repositoryType": {
                    "repositoryTypeId": 0,
                    "name": "string"
                  },
                  "repositoryURI": "string"
                },
                "documentTypeId": 0,
                "documentType": {
                  "documentTypeId": 0,
                  "name": "string",
                  "description": "string"
                },
                "internalName": "string",
                "name": "string",
                "description": "string",
                "storageContainer": "string",
                "ocr": true
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#add-a-library"
        }
      }
    },
    "/{connectionId}/pasolutions/get": {
      "get": {
        "description": "Get a Solution",
        "operationId": "pasolutions-get",
        "summary": "Get a Solution",
        "tags": [
          "Solutions"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the Solution.",
            "schema": {
              "$ref": "#/definitions/solution"
            },
            "examples": {
              "application/json": {
                "solutionId": 0,
                "solutionKey": "string",
                "departmentId": 0,
                "department": {
                  "departmentId": 0,
                  "departmentKey": "string",
                  "customerId": 0,
                  "customer": {
                    "customerId": 0,
                    "customerKey": "string",
                    "name": "string"
                  },
                  "name": "string"
                },
                "name": "string",
                "database": "string",
                "storageAccount": "string",
                "deleteStatus": 0,
                "searchService": "string"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-solution"
        }
      }
    },
    "/{connectionId}/pasolutions/list": {
      "get": {
        "description": "Get a list of Solutions",
        "operationId": "pasolutions-list",
        "summary": "Get a list of Solutions",
        "tags": [
          "Solutions"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the list of Solutions.",
            "schema": {
              "$ref": "#/definitions/solutionArray"
            },
            "examples": {
              "application/json": [
                {
                  "solutionId": 0,
                  "solutionKey": "string",
                  "departmentId": 0,
                  "department": {
                    "departmentId": 0,
                    "departmentKey": "string",
                    "customerId": 0,
                    "customer": {
                      "customerId": 0,
                      "customerKey": "string",
                      "name": "string"
                    },
                    "name": "string"
                  },
                  "name": "string",
                  "database": "string",
                  "storageAccount": "string",
                  "deleteStatus": 0,
                  "searchService": "string"
                }
              ]
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-list-of-solutions"
        }
      }
    },
    "/{connectionId}/pasolutions/department/list": {
      "get": {
        "description": "Get a list of Solutions based off Department",
        "operationId": "pasolutions-department-list",
        "summary": "Get a list of Solutions based off Department",
        "tags": [
          "Solutions"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "departmentkey",
            "in": "query",
            "description": "Format - uuid. the department key",
            "x-ms-summary": "departmentkey",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the list of Solutions.",
            "schema": {
              "$ref": "#/definitions/solutionArray"
            },
            "examples": {
              "application/json": [
                {
                  "solutionId": 0,
                  "solutionKey": "string",
                  "departmentId": 0,
                  "department": {
                    "departmentId": 0,
                    "departmentKey": "string",
                    "customerId": 0,
                    "customer": {
                      "customerId": 0,
                      "customerKey": "string",
                      "name": "string"
                    },
                    "name": "string"
                  },
                  "name": "string",
                  "database": "string",
                  "storageAccount": "string",
                  "deleteStatus": 0,
                  "searchService": "string"
                }
              ]
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-list-of-solutions-based-off-department"
        }
      }
    },
    "/{connectionId}/pasolutions/add": {
      "post": {
        "description": "Add a Solution",
        "operationId": "pasolutions-add",
        "summary": "Add a Solution",
        "tags": [
          "Solutions"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solution",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/solution"
            },
            "description": "JSON request body containing the Solution.",
            "x-ms-summary": "solution"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the Solution.",
            "schema": {
              "$ref": "#/definitions/solution"
            },
            "examples": {
              "application/json": {
                "solutionId": 0,
                "solutionKey": "string",
                "departmentId": 0,
                "department": {
                  "departmentId": 0,
                  "departmentKey": "string",
                  "customerId": 0,
                  "customer": {
                    "customerId": 0,
                    "customerKey": "string",
                    "name": "string"
                  },
                  "name": "string"
                },
                "name": "string",
                "database": "string",
                "storageAccount": "string",
                "deleteStatus": 0,
                "searchService": "string"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#add-a-solution"
        }
      }
    },
    "/{connectionId}/pasolutions/update": {
      "put": {
        "description": "Update a Solution",
        "operationId": "pasolutions-update",
        "summary": "Update a Solution",
        "tags": [
          "Solutions"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "functionsolutionid",
            "in": "query",
            "description": "Format - int32. the function solution id",
            "x-ms-summary": "functionsolutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solution",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/solution"
            },
            "description": "JSON request body containing the Solution.",
            "x-ms-summary": "solution"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the Solution.",
            "schema": {
              "$ref": "#/definitions/solution"
            },
            "examples": {
              "application/json": {
                "solutionId": 0,
                "solutionKey": "string",
                "departmentId": 0,
                "department": {
                  "departmentId": 0,
                  "departmentKey": "string",
                  "customerId": 0,
                  "customer": {
                    "customerId": 0,
                    "customerKey": "string",
                    "name": "string"
                  },
                  "name": "string"
                },
                "name": "string",
                "database": "string",
                "storageAccount": "string",
                "deleteStatus": 0,
                "searchService": "string"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#update-a-solution"
        }
      }
    },
    "/{connectionId}/padocuments/add": {
      "post": {
        "description": "Add a Document",
        "operationId": "padocuments-add",
        "summary": "Add a Document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "libraryid",
            "in": "query",
            "description": "Format - int32. the library id",
            "x-ms-summary": "libraryid",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "document",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/document"
            },
            "description": "JSON request body containing the filename and image bytes.",
            "x-ms-summary": "document"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the document info and blob upload url.",
            "schema": {
              "$ref": "#/definitions/document"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#add-a-document"
        }
      }
    },
    "/{connectionId}/padocumenttypes/get": {
      "get": {
        "description": "Get a Document Type",
        "operationId": "padocumenttypes-get",
        "summary": "Get a Document Type",
        "tags": [
          "DocumentTypes"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documenttypeid",
            "in": "query",
            "description": "Format - int32. the document type id",
            "x-ms-summary": "documenttypeid",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the document type.",
            "schema": {
              "$ref": "#/definitions/documentType"
            },
            "examples": {
              "application/json": {
                "documentTypeId": 0,
                "name": "string",
                "description": "string"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-document-type"
        }
      }
    },
    "/{connectionId}/padocumenttypes/list": {
      "get": {
        "description": "Get a list of Document Types",
        "operationId": "padocumenttypes-list",
        "summary": "Get a list of Document Types",
        "tags": [
          "DocumentTypes"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the list of document types.",
            "schema": {
              "$ref": "#/definitions/documentTypeArray"
            },
            "examples": {
              "application/json": [
                {
                  "documentTypeId": 0,
                  "name": "string",
                  "description": "string"
                }
              ]
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-list-of-document-types"
        }
      }
    },
    "/{connectionId}/padocumenttypes/add": {
      "post": {
        "description": "Add a Document Type",
        "operationId": "padocumenttypes-add",
        "summary": "Add a Document Type",
        "tags": [
          "DocumentTypes"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "library",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/library"
            },
            "description": "JSON request body containing the library.",
            "x-ms-summary": "library"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the library.",
            "schema": {
              "$ref": "#/definitions/library"
            },
            "examples": {
              "application/json": {
                "libraryId": 0,
                "repositoryId": 0,
                "repository": {
                  "repositoryId": 0,
                  "name": "string",
                  "description": "string",
                  "repositoryTypeId": 0,
                  "repositoryType": {
                    "repositoryTypeId": 0,
                    "name": "string"
                  },
                  "repositoryURI": "string"
                },
                "documentTypeId": 0,
                "documentType": {
                  "documentTypeId": 0,
                  "name": "string",
                  "description": "string"
                },
                "internalName": "string",
                "name": "string",
                "description": "string",
                "storageContainer": "string",
                "ocr": true
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#add-a-document-type"
        }
      }
    },
    "/{connectionId}/padocumenttypes/update": {
      "put": {
        "description": "Update a Document Type",
        "operationId": "padocumenttypes-update",
        "summary": "Update a Document Type",
        "tags": [
          "DocumentTypes"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documenttypeid",
            "in": "query",
            "description": "Format - int32. the document type id",
            "x-ms-summary": "documenttypeid",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "documentType",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/documentType"
            },
            "description": "JSON request body containing the document type.",
            "x-ms-summary": "documentType"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the document type.",
            "schema": {
              "$ref": "#/definitions/documentType"
            },
            "examples": {
              "application/json": {
                "documentTypeId": 0,
                "name": "string",
                "description": "string"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#update-a-document-type"
        }
      }
    },
    "/{connectionId}/palibraries/get": {
      "get": {
        "description": "Get a Library",
        "operationId": "palibraries-get",
        "summary": "Get a Library",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "libraryid",
            "in": "query",
            "description": "Format - int32. the library id",
            "x-ms-summary": "libraryid",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the library.",
            "schema": {
              "$ref": "#/definitions/library"
            },
            "examples": {
              "application/json": {
                "libraryId": 0,
                "repositoryId": 0,
                "repository": {
                  "repositoryId": 0,
                  "name": "string",
                  "description": "string",
                  "repositoryTypeId": 0,
                  "repositoryType": {
                    "repositoryTypeId": 0,
                    "name": "string"
                  },
                  "repositoryURI": "string"
                },
                "documentTypeId": 0,
                "documentType": {
                  "documentTypeId": 0,
                  "name": "string",
                  "description": "string"
                },
                "internalName": "string",
                "name": "string",
                "description": "string",
                "storageContainer": "string",
                "ocr": true
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-library"
        }
      }
    },
    "/{connectionId}/palibraries/list": {
      "get": {
        "description": "Get a list of Libraries",
        "operationId": "palibraries-list",
        "summary": "Get a list of Libraries",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the list of libraries.",
            "schema": {
              "$ref": "#/definitions/libraryArray"
            },
            "examples": {
              "application/json": [
                {
                  "libraryId": 0,
                  "repositoryId": 0,
                  "repository": {
                    "repositoryId": 0,
                    "name": "string",
                    "description": "string",
                    "repositoryTypeId": 0,
                    "repositoryType": {
                      "repositoryTypeId": 0,
                      "name": "string"
                    },
                    "repositoryURI": "string"
                  },
                  "documentTypeId": 0,
                  "documentType": {
                    "documentTypeId": 0,
                    "name": "string",
                    "description": "string"
                  },
                  "internalName": "string",
                  "name": "string",
                  "description": "string",
                  "storageContainer": "string",
                  "ocr": true
                }
              ]
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-list-of-libraries"
        }
      }
    },
    "/{connectionId}/palibraries/documenttype/list": {
      "get": {
        "description": "Get a list of Libraries based off Document Type",
        "operationId": "palibraries-documenttype-list",
        "summary": "Get a list of Libraries based off Document Type",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documenttypeid",
            "in": "query",
            "description": "Format - int32. the document type id",
            "x-ms-summary": "documenttypeid",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the list of libraries based off document type.",
            "schema": {
              "$ref": "#/definitions/libraryArray"
            },
            "examples": {
              "application/json": [
                {
                  "libraryId": 0,
                  "repositoryId": 0,
                  "repository": {
                    "repositoryId": 0,
                    "name": "string",
                    "description": "string",
                    "repositoryTypeId": 0,
                    "repositoryType": {
                      "repositoryTypeId": 0,
                      "name": "string"
                    },
                    "repositoryURI": "string"
                  },
                  "documentTypeId": 0,
                  "documentType": {
                    "documentTypeId": 0,
                    "name": "string",
                    "description": "string"
                  },
                  "internalName": "string",
                  "name": "string",
                  "description": "string",
                  "storageContainer": "string",
                  "ocr": true
                }
              ]
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-list-of-libraries-based-off-document-type"
        }
      }
    },
    "/{connectionId}/palibraries/update": {
      "put": {
        "description": "Update a Library",
        "operationId": "palibraries-update",
        "summary": "Update a Library",
        "tags": [
          "Libraries"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "libraryid",
            "in": "query",
            "description": "Format - int32. the library id",
            "x-ms-summary": "libraryid",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "library",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/library"
            },
            "description": "JSON request body containing the library.",
            "x-ms-summary": "library"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the library.",
            "schema": {
              "$ref": "#/definitions/library"
            },
            "examples": {
              "application/json": {
                "libraryId": 0,
                "repositoryId": 0,
                "repository": {
                  "repositoryId": 0,
                  "name": "string",
                  "description": "string",
                  "repositoryTypeId": 0,
                  "repositoryType": {
                    "repositoryTypeId": 0,
                    "name": "string"
                  },
                  "repositoryURI": "string"
                },
                "documentTypeId": 0,
                "documentType": {
                  "documentTypeId": 0,
                  "name": "string",
                  "description": "string"
                },
                "internalName": "string",
                "name": "string",
                "description": "string",
                "storageContainer": "string",
                "ocr": true
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#update-a-library"
        }
      }
    },
    "/{connectionId}/padatatypes/list": {
      "get": {
        "description": "Get a list of DataTypes",
        "operationId": "padatatypes-list",
        "summary": "Get a list of DataTypes",
        "tags": [
          "DataTypes"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the list of data types.",
            "schema": {
              "$ref": "#/definitions/dataTypeArray"
            },
            "examples": {
              "application/json": [
                {
                  "dataTypeId": 0,
                  "name": "string"
                }
              ]
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-list-of-datatypes"
        }
      }
    },
    "/{connectionId}/padocuments/loadfile": {
      "get": {
        "description": "Get a Document",
        "operationId": "padocuments-loadfile",
        "summary": "Get a Document",
        "tags": [
          "Documents"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documentkey",
            "in": "query",
            "description": "Format - uuid. the document key",
            "x-ms-summary": "documentkey",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing uri string.",
            "schema": {
              "$ref": "#/definitions/PadocumentsLoadfileGet200ApplicationJsonResponse"
            },
            "examples": {
              "application/json": "string"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-document"
        }
      }
    },
    "/{connectionId}/papropertyvalues/get": {
      "get": {
        "description": "Get Property Values for Document",
        "operationId": "papropertyvalues-get",
        "summary": "Get Property Values for Document",
        "tags": [
          "PropertyValues"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documentkey",
            "in": "query",
            "description": "Format - uuid. the document key",
            "x-ms-summary": "documentkey",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the List of Property Values.",
            "schema": {
              "$ref": "#/definitions/propertyValueArray"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-property-values-for-document"
        }
      }
    },
    "/{connectionId}/papropertyvalues/update": {
      "put": {
        "description": "Update Property Values for document",
        "operationId": "papropertyvalues-update",
        "summary": "Update Property Values for document",
        "tags": [
          "PropertyValues"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documentkey",
            "in": "query",
            "description": "Format - uuid. the document key",
            "x-ms-summary": "documentkey",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "propertyValueArray",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/propertyValueArray"
            },
            "description": "JSON request body containing the list of property values.",
            "x-ms-summary": "propertyValueArray"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the list of property values.",
            "schema": {
              "$ref": "#/definitions/propertyValueArray"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#update-property-values-for-document"
        }
      }
    },
    "/{connectionId}/padocumentproperties-list": {
      "get": {
        "description": "Get a list of Document Property",
        "operationId": "padocumentproperties-list",
        "summary": "Get a list of Document Property",
        "tags": [
          "Document Property"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documenttypeid",
            "in": "query",
            "description": "Format - int32. the document type id",
            "x-ms-summary": "documenttypeid",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionid",
            "in": "query",
            "description": "Format - int32. the solution id",
            "x-ms-summary": "solutionid",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "solutionkey",
            "in": "query",
            "description": "Format - uuid. the solution key",
            "x-ms-summary": "solutionkey",
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The OK response message containing the document properties.",
            "schema": {
              "$ref": "#/definitions/documentPropertyArray"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/1docstop/#get-a-list-of-document-property"
        }
      }
    }
  },
  "definitions": {
    "customer": {
      "description": "The customer",
      "type": "object",
      "properties": {
        "customerId": {
          "format": "int32",
          "description": "The customer id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "customerKey": {
          "format": "uuid",
          "description": "The customer key",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "name": {
          "description": "The customer name",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-visibility": "internal"
    },
    "dataType": {
      "type": "object",
      "properties": {
        "dataTypeId": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "name": {
          "description": "The data type name",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "department": {
      "type": "object",
      "properties": {
        "departmentId": {
          "format": "int32",
          "description": "The department id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "departmentKey": {
          "format": "uuid",
          "description": "The department key",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "customerId": {
          "format": "int32",
          "description": "The customer id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "customer": {
          "$ref": "#/definitions/customer"
        },
        "name": {
          "description": "The department name",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-visibility": "internal"
    },
    "document": {
      "type": "object",
      "properties": {
        "documentId": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "documentKey": {
          "format": "uuid",
          "description": "The document key",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "documentTypeId": {
          "format": "int32",
          "description": "The document type id",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "name": {
          "description": "The file name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "modified": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "author": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "editor": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "storageKey": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "fileSizeBytes": {
          "format": "int64",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "fileExtension": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "mimeType": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "status": {
          "format": "int32",
          "description": "The status",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "propertyValues": {
          "description": "The property values",
          "type": "array",
          "items": {
            "$ref": "#/definitions/propertyValue"
          },
          "x-ms-visibility": "important"
        },
        "url": {
          "description": "The sas token url",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "documentProperty": {
      "type": "object",
      "properties": {
        "documentPropertyId": {
          "format": "int32",
          "description": "The document property id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "documentTypeId": {
          "format": "int32",
          "description": "The document type id",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "documentType": {
          "$ref": "#/definitions/documentType"
        },
        "name": {
          "description": "The document property name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "The document property description",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "dataTypeId": {
          "format": "int32",
          "description": "The data type id",
          "type": "integer",
          "x-ms-visibility": "important"
        },
        "dataTypeName": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "dataType": {
          "$ref": "#/definitions/dataType"
        },
        "optionSetId": {
          "format": "int32",
          "description": "The option set id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "optionSet": {
          "$ref": "#/definitions/optionSet"
        },
        "externalOptionSet": {
          "description": "The external option set",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "displayFormat": {
          "description": "The display format",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "internalName": {
          "description": "The internal name",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "documentType": {
      "type": "object",
      "properties": {
        "documentTypeId": {
          "format": "int32",
          "description": "The document type id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The document type name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "The document type description",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "example": {
        "documentTypeId": 0,
        "name": "string",
        "description": "string"
      }
    },
    "library": {
      "type": "object",
      "properties": {
        "libraryId": {
          "format": "int32",
          "description": "The library id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "repositoryId": {
          "format": "int32",
          "description": "The repository id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "repository": {
          "$ref": "#/definitions/repository"
        },
        "documentTypeId": {
          "format": "int32",
          "description": "The document id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "documentType": {
          "$ref": "#/definitions/documentType"
        },
        "internalName": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "name": {
          "description": "The library name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "The library description",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "storageContainer": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "ocr": {
          "description": "OCR documents",
          "type": "boolean",
          "x-ms-visibility": "important"
        }
      },
      "example": {
        "libraryId": 0,
        "repositoryId": 0,
        "repository": {
          "repositoryId": 0,
          "name": "string",
          "description": "string",
          "repositoryTypeId": 0,
          "repositoryType": {
            "repositoryTypeId": 0,
            "name": "string"
          },
          "repositoryURI": "string"
        },
        "documentTypeId": 0,
        "documentType": {
          "documentTypeId": 0,
          "name": "string",
          "description": "string"
        },
        "internalName": "string",
        "name": "string",
        "description": "string",
        "storageContainer": "string",
        "ocr": true
      }
    },
    "optionSet": {
      "description": "The option set",
      "type": "object",
      "properties": {
        "optionSetId": {
          "format": "int32",
          "description": "The option set id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The option set name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "optionSetValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/optionSetValue"
          },
          "x-ms-visibility": "internal"
        }
      },
      "x-ms-visibility": "internal"
    },
    "optionSetValue": {
      "type": "object",
      "properties": {
        "optionSetValueId": {
          "format": "int32",
          "description": "The option set value id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "optionSetId": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "optionSet": {
          "$ref": "#/definitions/optionSet"
        },
        "displayName": {
          "description": "The display name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "value": {
          "description": "The option set name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "displayOrder": {
          "format": "int32",
          "description": "The option set name",
          "type": "integer",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "propertyValue": {
      "type": "object",
      "properties": {
        "documentId": {
          "format": "int32",
          "description": "The document id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "documentPropertyId": {
          "format": "int32",
          "description": "The document property id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "documentProperty": {
          "$ref": "#/definitions/documentProperty"
        },
        "value": {
          "description": "The value",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "columnName": {
          "description": "The column name",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "repository": {
      "type": "object",
      "properties": {
        "repositoryId": {
          "format": "int32",
          "description": "The repository id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The repository name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "description": {
          "description": "The repository description",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "repositoryTypeId": {
          "format": "int32",
          "description": "The repository type id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "repositoryType": {
          "$ref": "#/definitions/repositoryType"
        },
        "repositoryURI": {
          "format": "uri",
          "description": "The repository uri",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-visibility": "internal"
    },
    "repositoryType": {
      "description": "The repository",
      "type": "object",
      "properties": {
        "repositoryTypeId": {
          "format": "int32",
          "description": "The repository type id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The repository type name",
          "type": "string",
          "x-ms-visibility": "important"
        }
      },
      "x-ms-visibility": "advanced"
    },
    "solution": {
      "type": "object",
      "properties": {
        "solutionId": {
          "format": "int32",
          "description": "The solution id",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "solutionKey": {
          "format": "uuid",
          "description": "The solution key",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "departmentId": {
          "format": "int32",
          "description": "The department id",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "department": {
          "$ref": "#/definitions/department"
        },
        "name": {
          "description": "The solution name",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "database": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "storageAccount": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "deleteStatus": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "searchService": {
          "type": "string",
          "x-ms-visibility": "internal"
        }
      },
      "example": {
        "solutionId": 0,
        "solutionKey": "string",
        "departmentId": 0,
        "department": {
          "departmentId": 0,
          "departmentKey": "string",
          "customerId": 0,
          "customer": {
            "customerId": 0,
            "customerKey": "string",
            "name": "string"
          },
          "name": "string"
        },
        "name": "string",
        "database": "string",
        "storageAccount": "string",
        "deleteStatus": 0,
        "searchService": "string"
      }
    },
    "dataTypeArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/dataType"
      }
    },
    "documentPropertyArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/documentProperty"
      }
    },
    "PadocumentsLoadfileGet200ApplicationJsonResponse": {
      "type": "string"
    },
    "documentTypeArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/documentType"
      }
    },
    "libraryArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/library"
      }
    },
    "propertyValueArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/propertyValue"
      }
    },
    "solutionArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/solution"
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://1docstopsite.b2clogin.com/1docstopsite.onmicrosoft.com/b2c_1a_signup_signin/oauth2/v2.0/authorize",
      "tokenUrl": "https://1docstopsite.b2clogin.com/1docstopsite.onmicrosoft.com/b2c_1a_signup_signin/oauth2/v2.0/token",
      "scopes": {
        "https://1DocStopSite.onmicrosoft.com/da7cab38-1c40-49ac-8074-3acff7f89897/Test.Server.API.Access": "https://1DocStopSite.onmicrosoft.com/da7cab38-1c40-49ac-8074-3acff7f89897/Test.Server.API.Access",
        "offline_access": "offline_access",
        "openid": "openid"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "https://1DocStopSite.onmicrosoft.com/da7cab38-1c40-49ac-8074-3acff7f89897/Test.Server.API.Access",
        "offline_access",
        "openid"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://sytechsolutions.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://sytechsolutions.com/1docstop_privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/1docstop"
  }
}
