{
  "swagger": "2.0",
  "info": {
    "title": "Data Activator",
    "description": "This connector is for use with Data Activator in Microsoft Fabric. You can use this connector to start a flow when a Data Activator rule activates.",
    "version": "1.0"
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dataactivator",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/powerAutomateEvent": {},
    "/{connectionId}/": {
      "x-ms-notification-content": {
        "description": "All activator dynamic content in JSON format.",
        "schema": {
          "type": "object",
          "properties": {
            "eventTime": {
              "type": "string",
              "description": "Time (UTC) when the rule condition was met.",
              "x-ms-summary": "Activation time"
            },
            "eventId": {
              "type": "string",
              "description": "ID of the specific occasion the rule was activated.",
              "x-ms-summary": "Activation ID"
            },
            "ruleId": {
              "type": "string",
              "description": "ID of the rule that caused this activation.",
              "x-ms-summary": "Rule ID"
            },
            "ruleName": {
              "type": "string",
              "description": "Name of the rule that caused this activation.",
              "x-ms-summary": "Rule name"
            },
            "ruleUrl": {
              "type": "string",
              "description": "URL to the rule that caused this activation.",
              "x-ms-summary": "Rule URL"
            },
            "objectInstanceId": {
              "type": "string",
              "description": "ID of the instance of the object that met the rule condition.",
              "x-ms-summary": "Object instance ID"
            },
            "objectName": {
              "type": "string",
              "description": "Name of the type of object that this rule monitors.",
              "x-ms-summary": "Object name"
            },
            "inputFields": {
              "description": "User-defined input fields in JSON format.",
              "x-ms-summary": "Input fields"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ReflexWebhookDelete",
        "summary": "Data Activator webhook delete",
        "description": "This action deletes the webhook registration.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dataactivator/#data-activator-webhook-delete"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "summary": "When an activator rule is triggered",
        "operationId": "CreatePowerAutomateWorkflow",
        "x-ms-trigger": "single",
        "description": "This operation triggers when a specific Data Activator rule activates.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "connectionInfo",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connection String",
            "description": "The connection string of the Power Automate action of the Data Activator rule"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "Callback URL.",
                  "x-ms-summary": "Callback URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dataactivator/#when-an-activator-rule-is-triggered"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
      "scopes": {},
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize"
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/dataactivator"
  }
}
