{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "QnA Maker",
    "description": "Distill information into an easy-to-navigate FAQ.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/qnamaker/v2.0/knowledgebases/{KnowledgeBaseId}/generateAnswer": {
      "post": {
        "summary": "Generate answer",
        "description": "This operation returns the top ranking answer for the given question.",
        "operationId": "GenerateAnswerOld",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/KnowledgeBaseId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateAnswer_Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GenerateAnswer_Response"
            }
          }
        },
        "deprecated": true,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicesqnamaker/#generate-answer-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/knowledgebases/{KnowledgeBaseId}/generateAnswer": {
      "post": {
        "summary": "Generate answer",
        "description": "This operation returns the top ranking answer for the given question.",
        "operationId": "GenerateAnswer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/KnowledgeBaseId__in_path"
          },
          {
            "$ref": "#/parameters/ServiceHost__in_header"
          },
          {
            "$ref": "#/parameters/EndpointKey__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateAnswer_Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/GenerateAnswer_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicesqnamaker/#generate-answer"
        }
      }
    },
    "/{connectionId}/qnamaker/v2.0/knowledgebases/{KnowledgeBaseId}": {
      "get": {
        "summary": "Download knowledge base",
        "description": "This operation downloads all the data associated wiht the specified knowledge base.",
        "operationId": "DownloadKnowledgeBase",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/KnowledgeBaseId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/DownloadKnowledgeBase_Response"
            }
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicesqnamaker/#download-knowledge-base-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/qnamaker/v4.0/knowledgebases/{KnowledgeBaseId}": {
      "get": {
        "summary": "Download knowledgebase details",
        "description": "Gets details of a specific knowledgebase.",
        "operationId": "DownloadKnowledgeBaseOld",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/KnowledgeBaseId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/DownloadKnowledgeBase_Response"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicesqnamaker/#download-knowledgebase-details"
        }
      }
    },
    "/{connectionId}/v2/subdomain/{subdomainName}/qnamaker/v4.0/knowledgebases/{KnowledgeBaseId}": {
      "get": {
        "summary": "Download knowledgebase details (V2)",
        "description": "Gets details of a specific knowledgebase.",
        "operationId": "DownloadKnowledgeBaseOldV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subdomainName",
            "in": "path",
            "description": "Azure subdomain or geographic region (e.g. westus)",
            "x-ms-summary": "Resource Subdomain or Region",
            "type": "string",
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetSubdomain",
              "parameters": {},
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "required": true
          },
          {
            "$ref": "#/parameters/KnowledgeBaseId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/DownloadKnowledgeBase_Response"
            }
          }
        },
        "x-ms-visibility": "Advanced",
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicesqnamaker/#download-knowledgebase-details-(v2)"
        }
      }
    },
    "/{connectionId}/subdomain": {
      "get": {
        "summary": "Get the subdomain of the connection",
        "description": "Get the subdomain of the connection",
        "operationId": "GetSubdomain",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubdomainList"
            }
          },
          "default": {
            "description": "Operation failed"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cognitiveservicesqnamaker/#get-the-subdomain-of-the-connection"
        }
      }
    }
  },
  "definitions": {
    "SubdomainList": {
      "description": "List of subdomain names",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of subdomain names",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subdomain"
          }
        }
      }
    },
    "Subdomain": {
      "description": "Subdomain",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The subdomain of the connection.",
          "type": "string",
          "x-ms-summary": "The Subdomain name"
        },
        "DisplayName": {
          "description": "The display name of the subdomain.",
          "type": "string",
          "x-ms-summary": "Subdomain display name"
        }
      }
    },
    "GenerateAnswer_Request": {
      "type": "object",
      "required": [
        "question"
      ],
      "properties": {
        "question": {
          "description": "Ask a question.",
          "type": "string",
          "x-ms-summary": "Question"
        },
        "top": {
          "description": "Number of ranked results you want in the output.",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Top",
          "default": 1,
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "question": "votes"
      }
    },
    "GenerateAnswer_Response": {
      "type": "object",
      "properties": {
        "answers": {
          "description": "List of all answers.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "answer": {
                "description": "Top ranking answer to the question.",
                "type": "string",
                "x-ms-summary": "Answer"
              },
              "score": {
                "format": "float",
                "description": "Relative score of the answer.",
                "type": "number",
                "x-ms-summary": "Score",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "type": "number",
                "x-ms-summary": "Id"
              },
              "source": {
                "type": "string",
                "x-ms-summary": "Source"
              }
            }
          },
          "x-ms-summary": "Answers"
        }
      }
    },
    "DownloadKnowledgeBase_Response": {
      "type": "object",
      "description": "Response schema for CreateKb operation.",
      "additionalProperties": true,
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique id that identifies a knowledgebase."
        },
        "hostName": {
          "type": "string",
          "description": "URL host name at which the knowledgebase is hosted."
        },
        "lastAccessedTimestamp": {
          "type": "string",
          "description": "Time stamp at which the knowledgebase was last accessed (UTC)."
        },
        "lastChangedTimestamp": {
          "type": "string",
          "description": "Time stamp at which the knowledgebase was last modified (UTC)."
        },
        "lastPublishedTimestamp": {
          "type": "string",
          "description": "Time stamp at which the knowledgebase was last published (UTC)."
        },
        "name": {
          "type": "string",
          "description": "Friendly name of the knowledgebase."
        },
        "userId": {
          "type": "string",
          "description": "User who created / owns the knowledgebase."
        },
        "urls": {
          "type": "array",
          "description": "URL sources from which Q-A were extracted and added to the knowledgebase.",
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "type": "array",
          "description": "Custom sources from which Q-A were extracted or explicitly added to the knowledgebase.",
          "items": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "KnowledgeBaseId__in_path": {
      "name": "KnowledgeBaseId",
      "in": "path",
      "description": "This should be fetched from the QnAMaker portal.",
      "required": true,
      "x-ms-summary": "Knowledge Base Id",
      "x-ms-test-value": "93ae9fdc-71c5-4c10-a0fa-ecb7c0518083",
      "type": "string"
    },
    "ServiceHost__in_header": {
      "name": "ServiceHost",
      "in": "header",
      "description": "This should be fetched from the QnAMaker portal.",
      "required": true,
      "x-ms-summary": "Service Host",
      "x-ms-test-value": "https://qnatesticm68866029.azurewebsites.net/qnamaker",
      "type": "string"
    },
    "EndpointKey__in_header": {
      "name": "EndpointKey",
      "in": "header",
      "description": "This should be fetched from the QnAMaker portal.",
      "required": true,
      "x-ms-summary": "Endpoint Key",
      "x-ms-test-value": "EndpointKey ad70c875-98d3-4116-a261-6691f6e62590",
      "type": "string"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.qnamaker.ai/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/cognitiveservicesqnamaker"
  },
  "basePath": "/apim/cognitiveservicesqnamaker"
}
