{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Azure Log Analytics Data Collector",
    "description": "Azure Log Analytics Data Collector will send data to any Azure Log Analytics workspace.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "x-ms-docs": [
    {
      "url": "https://docs.microsoft.com/azure/log-analytics/log-analytics-data-collector-api",
      "description": "Azure Log Analytics HTTP Data Collector API"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/logs": {
      "post": {
        "summary": "Send Data",
        "description": "Send data to Azure Log Analytics workspace.",
        "operationId": "SendData",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "JSON Request body",
            "x-ms-test-value": [
              {
                "StringValue": "Sample test data from connector",
                "NumberValue": 42,
                "BooleanValue": true,
                "DateValue": "2016-05-12T20:00:00.625Z",
                "GUIDValue": "9909ED01-A74C-4874-8ABF-D2678E3AE23D"
              },
              {
                "StringValue": "Sample test data from Azure Log Analytics connector",
                "NumberValue": 43,
                "BooleanValue": false,
                "DateValue": "2016-05-12T20:00:00.625Z",
                "GUIDValue": "8809ED01-A74C-4874-8ABF-D2678E3AE23D"
              }
            ]
          },
          {
            "name": "Log-Type",
            "in": "header",
            "required": true,
            "x-ms-summary": "Custom Log Name",
            "description": "Name of the custom log.",
            "type": "string",
            "x-ms-test-value": "SampleTestConnector"
          },
          {
            "name": "time-generated-field",
            "in": "header",
            "required": false,
            "x-ms-summary": "Time-generated-field",
            "description": "Represents the original date and time of the record.",
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureloganalyticsdatacollector/#send-data"
        }
      }
    }
  },
  "definitions": {},
  "securityDefinitions": {
    "Authorization": {
      "type": "basic"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/monitor/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azureloganalyticsdatacollector"
  },
  "basePath": "/apim/azureloganalyticsdatacollector"
}
