{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Expiration Reminder",
    "description": "Expiration Reminder allows tracking of expiration dates and renewals for software licenses, contracts, employee certifications, permits, warranties, etc.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "email": "support@expirationreminder.net"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/expirationreminder",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/v1/expirationitems/find": {
      "get": {
        "summary": "Find expiration",
        "description": "Find an expiration item in Expiration Reminder",
        "operationId": "FindExpiration",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Specify the category name of the expiration",
            "required": false,
            "x-ms-summary": "Category Name",
            "type": "string"
          },
          {
            "name": "email",
            "in": "query",
            "description": "Specify the email of the contact associated with the expiration",
            "required": false,
            "x-ms-summary": "Contact Email",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Specifiy the expiration name",
            "required": false,
            "x-ms-summary": "Expiration Name",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "expiration_items": {
                  "description": "expiration_items",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "id",
                        "type": "string"
                      },
                      "name": {
                        "description": "name",
                        "type": "string"
                      },
                      "expiration_date": {
                        "format": "date-time",
                        "description": "expiration_date",
                        "type": "string"
                      },
                      "status": {
                        "description": "status",
                        "type": "string"
                      },
                      "time_of_day": {
                        "description": "time_of_day",
                        "type": "string"
                      },
                      "category": {
                        "description": "category",
                        "type": "object",
                        "properties": {
                          "name": {
                            "title": "category_name",
                            "description": "category_name",
                            "type": "string"
                          },
                          "id": {
                            "title": "category_id",
                            "description": "category_id",
                            "type": "string"
                          }
                        }
                      },
                      "details": {
                        "description": "details",
                        "type": "string"
                      },
                      "assigned_to": {
                        "description": "assigned_to",
                        "type": "object",
                        "properties": {
                          "name": {
                            "title": "assigned_to_name",
                            "description": "assigned_to_name",
                            "type": "string"
                          },
                          "email": {
                            "description": "email",
                            "type": "string"
                          },
                          "id": {
                            "title": "assigned_to_id",
                            "description": "assigned_to_id",
                            "type": "string"
                          },
                          "team_id": {
                            "description": "team_id",
                            "type": "string"
                          }
                        }
                      },
                      "status_id": {
                        "format": "int32",
                        "description": "status_id",
                        "type": "integer"
                      },
                      "modified": {
                        "format": "date-time",
                        "description": "modified",
                        "type": "string"
                      }
                    }
                  }
                },
                "pages": {
                  "format": "int32",
                  "description": "pages",
                  "type": "integer"
                },
                "page": {
                  "format": "int32",
                  "description": "page",
                  "type": "integer"
                },
                "total": {
                  "format": "int32",
                  "description": "total",
                  "type": "integer"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/expirationreminder/#find-expiration"
        }
      }
    },
    "/{connectionId}/v1/contacts": {
      "post": {
        "summary": "Create contact",
        "description": "Create a new contact in Expiration Reminder",
        "operationId": "CreateContact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "default": {
                "name": "postman",
                "email": "postman@skyxoft.com"
              },
              "type": "object",
              "properties": {
                "name": {
                  "description": "name",
                  "type": "string"
                },
                "email": {
                  "description": "email",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/expirationreminder/#create-contact"
        }
      }
    },
    "/{connectionId}/v1/expirationitems/{expiration_item_id}/renew": {
      "put": {
        "summary": "Renew expiration",
        "description": "Renew an expiration item in Expiration Reminder",
        "operationId": "RenewExpiration",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "expiration_item_id",
            "in": "path",
            "description": "Specify the expiration item ID",
            "required": true,
            "x-ms-summary": "Expiration Item ID",
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": " application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "default": {
                "expiration_date": "2018-01-01",
                "details": ""
              },
              "type": "object",
              "properties": {
                "expiration_date": {
                  "format": "date-time",
                  "description": "expiration_date",
                  "type": "string"
                },
                "details": {
                  "description": "details",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "id",
                  "type": "string"
                },
                "name": {
                  "description": "name",
                  "type": "string"
                },
                "expiration_date": {
                  "format": "date-time",
                  "description": "expiration_date",
                  "type": "string"
                },
                "status": {
                  "description": "status",
                  "type": "string"
                },
                "time_of_day": {
                  "description": "time_of_day",
                  "type": "string"
                },
                "category": {
                  "description": "category",
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "name",
                      "type": "string"
                    },
                    "id": {
                      "description": "id",
                      "type": "string"
                    }
                  }
                },
                "details": {
                  "description": "details",
                  "type": "string"
                },
                "assigned_to": {
                  "description": "assigned_to",
                  "type": "object",
                  "properties": {
                    "name": {
                      "description": "name",
                      "type": "string"
                    },
                    "email": {
                      "description": "email",
                      "type": "string"
                    },
                    "id": {
                      "description": "id",
                      "type": "string"
                    },
                    "team_id": {
                      "description": "team_id",
                      "type": "string"
                    }
                  }
                },
                "status_id": {
                  "format": "int32",
                  "description": "status_id",
                  "type": "integer"
                },
                "modified": {
                  "format": "date-time",
                  "description": "modified",
                  "type": "string"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/expirationreminder/#renew-expiration"
        }
      }
    },
    "/{connectionId}/expirationitems": {},
    "/{connectionId}/v1/expirationitems": {
      "post": {
        "summary": "Create expiration item",
        "description": "Create an expiration item in Expiration Reminder",
        "operationId": "CreateExpirationItem",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "title": "",
                  "description": "name",
                  "type": "string"
                },
                "category_name": {
                  "title": "",
                  "description": "category_name",
                  "type": "string"
                },
                "expiration_date": {
                  "title": "",
                  "description": "expiration_date",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "id",
                  "type": "string"
                },
                "name": {
                  "description": "name",
                  "type": "string"
                },
                "expiration_date": {
                  "format": "date-time",
                  "description": "expiration_date",
                  "type": "string"
                },
                "status": {
                  "description": "status",
                  "type": "string"
                },
                "time_of_day": {
                  "description": "time_of_day",
                  "type": "string"
                },
                "category": {
                  "description": "category",
                  "type": "object",
                  "properties": {
                    "name": {
                      "title": "category_name",
                      "description": "category_name",
                      "type": "string"
                    },
                    "id": {
                      "title": "category_id",
                      "description": "category_id",
                      "type": "string"
                    }
                  }
                },
                "details": {
                  "description": "details",
                  "type": "string"
                },
                "assigned_to": {
                  "description": "assigned_to",
                  "type": "object",
                  "properties": {
                    "name": {
                      "title": "assigned_to_name",
                      "description": "assigned_to_name",
                      "type": "string"
                    },
                    "email": {
                      "description": "email",
                      "type": "string"
                    },
                    "id": {
                      "title": "assigned_to_id",
                      "description": "assigned_to_id",
                      "type": "string"
                    },
                    "team_id": {
                      "description": "team_id",
                      "type": "string"
                    }
                  }
                },
                "status_id": {
                  "format": "int32",
                  "description": "status_id",
                  "type": "integer"
                },
                "modified": {
                  "format": "date-time",
                  "description": "modified",
                  "type": "string"
                },
                "category_name": {
                  "title": "",
                  "description": "category_name",
                  "type": "string",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/expirationreminder/#create-expiration-item"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.expirationreminder.net/oauth/authorize",
      "tokenUrl": "https://api.expirationreminder.net/oauth/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.expirationreminder.net"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.expirationreminder.net/legal/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/expirationreminder"
  }
}
