{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "Bitly",
    "description": "Bitly is a link management tool. You can shorten links, reroute existing ones and associate them with campaigns across channels and devices.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "x-ms-docs": [
    {
      "url": "https://ms.flow.microsoft.com/en-us/blog/bitly-integration/",
      "description": "Make your links go with the Flow"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/bitly",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/shorten": {
      "get": {
        "tags": [
          "Bitly"
        ],
        "x-ms-visibility": "important",
        "summary": "Create a bitlink",
        "description": "Create a shortened Bitlink.",
        "operationId": "CreateBitlink",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/longUrl"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bitlink"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateBitlink",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitly/#create-a-bitlink-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "Bitly"
        ],
        "x-ms-visibility": "important",
        "summary": "Create a bitlink (V2)",
        "description": "Create a shortened Bitlink.",
        "operationId": "CreateBitlink_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBitink_Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Bitlink_V2"
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateBitlink",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitly/#create-a-bitlink-(v2)"
        }
      }
    },
    "/{connectionId}/user/link_history": {
      "get": {
        "tags": [
          "Bitly"
        ],
        "summary": "When a Bitlink is created",
        "description": "When a Bitlink is created.",
        "operationId": "OnBitlinkCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BitlinkArray"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, post a message.",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnBitlinkCreated",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitly/#when-a-bitlink-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/groups/{id}/bitlinks": {
      "get": {
        "tags": [
          "Bitly"
        ],
        "summary": "When a Bitlink is created (V2)",
        "description": "When a Bitlink is created.",
        "operationId": "OnBitlinkCreated_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the group.",
            "required": true,
            "x-ms-summary": "Group Id",
            "x-ms-dynamic-values": {
              "operationId": "ListMyGroups",
              "value-path": "guid",
              "value-title": "name",
              "value-collection": "groups"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnBitlinkCreated_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, post a message.",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnBitlinkCreated",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitly/#when-a-bitlink-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/groups": {
      "get": {
        "summary": "List my groups",
        "description": "List my groups.",
        "operationId": "ListMyGroups",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/ListMyGroups_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/bitly/#list-my-groups"
        }
      }
    }
  },
  "definitions": {
    "Bitlink": {
      "x-ms-summary": "Bitlink",
      "description": "A Bitlink including both shortened and original URL.",
      "type": "object",
      "properties": {
        "url": {
          "x-ms-summary": "URL",
          "description": "The shortened URL.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "long_url": {
          "x-ms-summary": "Long URL",
          "description": "The original long URL.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "BitlinkArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Bitlink"
      }
    },
    "CreateBitink_Request": {
      "required": [
        "long_url"
      ],
      "type": "object",
      "properties": {
        "long_url": {
          "format": "uri",
          "x-ms-summary": "URL",
          "description": "The URL to shorten.",
          "type": "string",
          "x-ms-test-value": "https://ms.flow.microsoft.com/en-us/"
        }
      }
    },
    "Bitlink_V2": {
      "x-ms-summary": "Bitlink",
      "description": "A Bitlink including both shortened and original URL.",
      "type": "object",
      "properties": {
        "link": {
          "x-ms-summary": "URL",
          "description": "The shortened URL.",
          "type": "string"
        },
        "long_url": {
          "x-ms-summary": "Long URL",
          "description": "The original long URL.",
          "type": "string"
        }
      }
    },
    "ListMyGroups_Response": {
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "guid": {
                "description": "Unique identifier of the group.",
                "type": "string",
                "x-ms-summary": "Group Id"
              },
              "name": {
                "description": "Group name.",
                "type": "string",
                "x-ms-summary": "Name"
              }
            }
          },
          "x-ms-summary": "groups"
        }
      }
    },
    "OnBitlinkCreated_Response": {
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Bitlink_V2"
          }
        }
      }
    }
  },
  "parameters": {
    "longUrl": {
      "format": "uri",
      "name": "longUrl",
      "x-ms-summary": "URL",
      "description": "The URL to shorten.",
      "required": true,
      "type": "string",
      "in": "query",
      "x-ms-test-value": "https://ms.flow.microsoft.com/en-us/"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://bitly.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://bitly.com/pages/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/bitly"
  }
}
