{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Ethereum Blockchain",
    "description": "Ethereum is a smart contract blockchain. With the Ethereum Blockchain connector, you can perform actions such as submitting transactions, reading contract state, and trigger flows on contract updates.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Azure Blockchain Service",
      "url": "https://azure.microsoft.com/en-us/services/blockchain-service/",
      "email": "bcdevin@microsoft.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/blockchainethereum",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/testConnection": {
      "get": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Test connection",
        "description": "Test the connection.",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#test-connection-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/contract/stateQuery": {
      "get": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get smart contract state (all properties)",
        "description": "Get smart contract state (all properties).",
        "operationId": "GetSmartContractProperties",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "query",
            "description": "The smart contract ABI.",
            "required": true,
            "x-ms-summary": "Contract ABI",
            "type": "string"
          },
          {
            "name": "contractAddress",
            "in": "query",
            "description": "The smart contract address.",
            "required": true,
            "x-ms-summary": "Smart Contract Address",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetSmartContractPropertiesMetadata",
                "parameters": {
                  "abi": {
                    "parameter": "abi"
                  }
                },
                "value-path": "Schema/SmartContractProperties"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-smart-contract-state-(all-properties)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/functions/constant": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get names of constant contract functions",
        "description": "Get names of constant contract functions.",
        "operationId": "GetConstantSmartContractFunctionNames",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "body",
            "description": "The smart contract ABI.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Contract ABI"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SmartContractFunction"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-names-of-constant-contract-functions-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/functions/mutable": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get names of mutable contract functions",
        "description": "Get names of mutable contract functions.",
        "operationId": "GetMutableSmartFunctionNames",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "body",
            "description": "The smart contract ABI.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Contract ABI"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SmartContractFunction"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-names-of-mutable-contract-functions-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/events": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get list of smart contract events",
        "description": "Get list of smart contract events.",
        "operationId": "GetSmartContractEvents",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "body",
            "description": "The smart contract ABI.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Contract ABI"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SmartContractEvent"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-list-of-smart-contract-events-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/functions/{functionName}/metadata": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get smart contract function metadata",
        "description": "Get smart contract function metadata.",
        "operationId": "GetSmartContractFunctionMetadata",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "body",
            "description": "The smart contract ABI.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Contract ABI"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The function name.",
            "required": true,
            "x-ms-summary": "Smart Contract Function Name",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartContractFunctionMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-smart-contract-function-metadata-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/constructor/metadata": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get smart contract constructor metadata",
        "description": "Get smart contract constructor metadata.",
        "operationId": "GetSmartContractConstructorMetadata",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "body",
            "description": "The smart contract ABI.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Contract ABI"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartContractFunctionMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-smart-contract-constructor-metadata-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/properties/metadata": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get smart contract properties metadata",
        "description": "Get smart contract properties metadata.",
        "operationId": "GetSmartContractPropertiesMetadata",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "body",
            "description": "The smart contract ABI.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Contract ABI"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartContractPropertiesMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-smart-contract-properties-metadata-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/event/metadata": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get smart contract event metadata",
        "description": "Get smart contract event metadata.",
        "operationId": "GetSmartContractEventMetadata",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "body",
            "description": "The smart contract ABI.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Contract ABI"
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "The name of the event.",
            "required": true,
            "x-ms-summary": "Event Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartContractEventMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-smart-contract-event-metadata-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contractSchema/functions/{functionName}/resultMetadata": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Get query smart contract function result metadata",
        "description": "Get query smart contract function result metadata.",
        "operationId": "GetSmartContractFunctionResultMetadata",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "body",
            "description": "The smart contract ABI.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Contract ABI"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The name of the function.",
            "required": true,
            "x-ms-summary": "Smart Contract Function Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmartContractFunctionResultMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#get-query-smart-contract-function-result-metadata-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contract/functions/{functionName}/query": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Query smart contract function (incurring no gas cost)",
        "description": "Query smart contract function (incurring no gas cost).",
        "operationId": "ExecuteSmartContractFunction",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "query",
            "description": "The smart contract ABI.",
            "required": true,
            "x-ms-summary": "Contract ABI",
            "type": "string"
          },
          {
            "name": "contractAddress",
            "in": "query",
            "description": "The smart contract address.",
            "required": true,
            "x-ms-summary": "Smart Contract Address",
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The Function Name.",
            "required": true,
            "x-ms-summary": "Smart Contract Function Name",
            "x-ms-dynamic-values": {
              "operationId": "GetConstantSmartContractFunctionNames",
              "parameters": {
                "abi": {
                  "parameter": "abi"
                }
              },
              "value-path": "Name"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The input parameters to the function.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetSmartContractFunctionMetadata",
                "parameters": {
                  "abi": {
                    "parameter": "abi"
                  },
                  "functionName": {
                    "parameter": "functionName"
                  }
                },
                "value-path": "Schema/InputParameters"
              }
            },
            "x-ms-summary": "Smart Contract Function Parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetSmartContractFunctionResultMetadata",
                "parameters": {
                  "abi": {
                    "parameter": "abi"
                  },
                  "functionName": {
                    "parameter": "functionName"
                  }
                },
                "value-path": "Schema/Results"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#query-smart-contract-function-(incurring-no-gas-cost)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contract/deploy": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Deploy smart contract",
        "description": "Deploy smart contract.",
        "operationId": "DeployContract",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "query",
            "description": "The smart contract ABI.",
            "required": true,
            "x-ms-summary": "Contract ABI",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The smart contract constructor parameters.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetSmartContractConstructorMetadata",
                "parameters": {
                  "abi": {
                    "parameter": "abi"
                  }
                },
                "value-path": "Schema/InputParameters"
              }
            },
            "x-ms-summary": "Smart Contract Function Parameters"
          },
          {
            "name": "gasPrice",
            "in": "query",
            "description": "Optional: gas price in wei in non-hex format.",
            "required": false,
            "x-ms-summary": "Gas Price in Wei",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "gasLimit",
            "in": "query",
            "description": "Optional: gas limit in non-hex format.",
            "required": false,
            "x-ms-summary": "Gas Limit",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "privateForKeyList",
            "in": "query",
            "description": "[Quorum] Optional: list of public keys that are allowed to see this transaction (eg. Q2/x..., 2mN... ).",
            "required": false,
            "x-ms-summary": "Private For List",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploySmartContractResult"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#deploy-smart-contract-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contract/functions/{functionName}/execute": {
      "post": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "Execute smart contract function (incurring gas cost)",
        "description": "Execute smart contract function (incurring gas cost).",
        "operationId": "ExecuteContractFunction",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "query",
            "description": "The smart contract ABI.",
            "required": true,
            "x-ms-summary": "Contract ABI",
            "type": "string"
          },
          {
            "name": "contractAddress",
            "in": "query",
            "description": "The smart contract address.",
            "required": true,
            "x-ms-summary": "Smart Contract Address",
            "type": "string"
          },
          {
            "name": "functionName",
            "in": "path",
            "description": "The name of the function to invoke.",
            "required": true,
            "x-ms-summary": "Smart Contract Function Name",
            "x-ms-dynamic-values": {
              "operationId": "GetMutableSmartFunctionNames",
              "parameters": {
                "abi": {
                  "parameter": "abi"
                }
              },
              "value-path": "Name"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters of the function.",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetSmartContractFunctionMetadata",
                "parameters": {
                  "abi": {
                    "parameter": "abi"
                  },
                  "functionName": {
                    "parameter": "functionName"
                  }
                },
                "value-path": "Schema/InputParameters"
              }
            },
            "x-ms-summary": "Smart Contract Function Parameters"
          },
          {
            "name": "gasPrice",
            "in": "query",
            "description": "Optional: gas price in wei in non-hex format.",
            "required": false,
            "x-ms-summary": "Gas Price in Wei",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "gasLimit",
            "in": "query",
            "description": "Optional: gas limit in non-hex format.",
            "required": false,
            "x-ms-summary": "Gas Limit",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "privateForKeyList",
            "in": "query",
            "description": "[Quorum] Optional: list of public keys that are allowed to see this transaction (eg. Q2/x..., 2mN... ).",
            "required": false,
            "x-ms-summary": "Private For List",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExecuteSmartContractFunctionResult"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#execute-smart-contract-function-(incurring-gas-cost)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/contract/OnNewEvent": {
      "get": {
        "tags": [
          "BlockchainEthereum"
        ],
        "summary": "When a smart contract event occurs",
        "description": "When a smart contract event occurs.",
        "operationId": "OnNewEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "abi",
            "in": "query",
            "description": "The smart contract ABI.",
            "required": false,
            "x-ms-summary": "Contract ABI",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "contractAddress",
            "in": "query",
            "description": "The smart contract address.",
            "required": false,
            "x-ms-summary": "Smart Contract Address",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Event name.",
            "required": false,
            "x-ms-summary": "Event Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetSmartContractEvents",
              "parameters": {
                "abi": {
                  "parameter": "abi"
                }
              },
              "value-path": "Name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetSmartContractEventMetadata",
                "parameters": {
                  "abi": {
                    "parameter": "abi"
                  },
                  "eventName": {
                    "parameter": "eventName"
                  }
                },
                "value-path": "Schema/Parameters"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, call a contract function that will fire this event.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/blockchainethereum/#when-a-smart-contract-event-occurs-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {
    "Object": {
      "type": "object",
      "properties": {}
    },
    "SmartContractFunction": {
      "description": "Smart Contract Function and Parameters",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The Smart Contract Function Name",
          "type": "string",
          "x-ms-summary": "Smart Contract Function Name",
          "x-ms-visibility": "important"
        }
      }
    },
    "SmartContractEvent": {
      "description": "Smart Contract Event",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The Smart Contract Event Name",
          "type": "string",
          "x-ms-summary": "Event Name",
          "x-ms-visibility": "important"
        }
      }
    },
    "SmartContractFunctionMetadata": {
      "description": "SmartContract Function Metadata",
      "type": "object",
      "properties": {
        "name": {
          "description": "Function name",
          "type": "string"
        },
        "title": {
          "description": "Function title",
          "type": "string"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "SmartContractPropertiesMetadata": {
      "description": "SmartContract Properties Metadata",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "SmartContractEventMetadata": {
      "description": "SmartContract Event Metadata",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "SmartContractFunctionResultMetadata": {
      "description": "SmartContract function result metadata",
      "type": "object",
      "properties": {
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "DeploySmartContractResult": {
      "description": "The deploy smart contract action result",
      "type": "object",
      "properties": {
        "ContractAddress": {
          "description": "The smart contract address",
          "type": "string",
          "x-ms-summary": "Smart Contract Address",
          "x-ms-visibility": "important"
        },
        "TransactionHash": {
          "description": "The transaction hash",
          "type": "string",
          "x-ms-summary": "Transaction Hash",
          "x-ms-visibility": "important"
        }
      }
    },
    "ExecuteSmartContractFunctionResult": {
      "description": "The execute smart contract function action result",
      "type": "object",
      "properties": {
        "TransactionHash": {
          "description": "The transaction hash",
          "type": "string",
          "x-ms-summary": "Transaction Hash",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://ethereum.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://ethereum.org/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Data"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/blockchainethereum"
  }
}
