{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "SAP OData",
    "description": "An OData connector that can be used to invoke SAP ODATA services for performing various operations like create, read, update and delete of entities, as well as invoking functions on the service.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/sapodata",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "SapOdataMetadata"
        ],
        "summary": "Get datasets metadata",
        "description": "Get datasets metadata.",
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#get-datasets-metadata"
        }
      }
    },
    "/{connectionId}/datasets": {
      "get": {
        "tags": [
          "SapOdataMetadata"
        ],
        "summary": "Get datasets",
        "description": "Get datasets.",
        "operationId": "GetDataSets",
        "consumes": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#get-datasets"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables": {
      "get": {
        "tags": [
          "SapOdataMetadata"
        ],
        "summary": "Get datasets entities",
        "description": "Get datasets entities.",
        "operationId": "GetDataSetsEntities",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData server name",
            "description": "Please specify OData Entity name."
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#get-datasets-entities"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "SapOdataMetadata"
        ],
        "summary": "Get the schema fora table",
        "description": "Get the schema fora table.",
        "operationId": "GetTableSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData server name",
            "description": "Please specify OData Entity name."
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData table name",
            "description": "Please specify OData Entity name."
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#get-the-schema-fora-table"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items": {
      "get": {
        "tags": [
          "SapOdataMetadata"
        ],
        "summary": "Get table data",
        "description": "Get table data.",
        "operationId": "GetTableData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData server name",
            "description": "Please specify OData Entity name."
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData table name",
            "description": "Please specify OData Entity name."
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#get-table-data"
        }
      }
    },
    "/{connectionId}/getentitydata": {
      "post": {
        "tags": [
          "OData Query ODATA entities"
        ],
        "summary": "Query OData entities",
        "description": "Query OData entities Data.",
        "operationId": "GetEntityData",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData Entity name",
            "description": "Please specify OData Entity name.",
            "x-ms-dynamic-values": {
              "operationId": "Search",
              "parameters": {
                "relativePath": {
                  "parameter": "relativePath"
                }
              },
              "value-collection": "values"
            }
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-summary": "$top",
            "x-ms-visibility": "advanced",
            "description": "Optional $top query option."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-summary": "$skip",
            "x-ms-visibility": "advanced",
            "description": "Optional $skip query option."
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$select",
            "x-ms-visibility": "advanced",
            "description": "Optional $select query option."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$filter",
            "x-ms-visibility": "advanced",
            "description": "Optional $filter query option."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$expand",
            "x-ms-visibility": "advanced",
            "description": "Optional $expand query option."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$orderby",
            "x-ms-visibility": "advanced",
            "description": "Optional $orderby query option."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$search",
            "x-ms-visibility": "advanced",
            "description": "Optional $search query option."
          },
          {
            "name": "inlinecount",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "none",
              "allpages"
            ],
            "x-ms-summary": "$inlinecount",
            "x-ms-visibility": "advanced",
            "description": "Optional $inlinecount query option."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Output"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#query-odata-entities"
        }
      }
    },
    "/{connectionId}/getschema": {
      "get": {
        "tags": [
          "Get OData Entity Set schema"
        ],
        "summary": "Get OData Entity Set schema",
        "description": "Get OData Entity Set schema.",
        "operationId": "GetSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData Entity name",
            "description": "Please specify OData Entity name."
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#get-odata-entity-set-schema"
        }
      }
    },
    "/{connectionId}/getsingleschema": {
      "get": {
        "tags": [
          "Get OData Entity Set schema for Single Entry"
        ],
        "summary": "Get OData Entity Set schema for Single Entry",
        "description": "Get OData Entity Set schema for Single Entry.",
        "operationId": "GetSingleSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData Entity name",
            "description": "Please specify OData Entity name."
          },
          {
            "name": "option",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Schema Option",
            "description": "Schema option value depending on operation. (1,2,3)"
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#get-odata-entity-set-schema-for-single-entry"
        }
      }
    },
    "/{connectionId}/search": {
      "post": {
        "tags": [
          "OData Get Entities"
        ],
        "summary": "OData Get Entities",
        "description": "OData Get Entities.",
        "operationId": "Search",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "relativePath",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Relative Path",
            "description": "Please specify relative path."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "x-ms-summary": "Array"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#odata-get-entities"
        }
      }
    },
    "/{connectionId}/getentry": {
      "post": {
        "tags": [
          "Read OData entity "
        ],
        "summary": "Read OData entity",
        "description": "Read OData entity.",
        "operationId": "GetEntry",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData Entity name",
            "description": "Please specify OData Entity name.",
            "x-ms-dynamic-values": {
              "operationId": "Search",
              "parameters": {
                "relativePath": {
                  "parameter": "relativePath"
                }
              },
              "value-collection": "values"
            }
          },
          {
            "name": "entryInput",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSingleSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entity"
                  },
                  "relativePath": {
                    "parameter": "relativePath"
                  },
                  "option": 3
                },
                "value-path": "schema"
              }
            },
            "x-ms-summary": "OData Entity input",
            "description": "Please specify OData Entity input."
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-summary": "$top",
            "x-ms-visibility": "advanced",
            "description": "Optional $top query option."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-summary": "$skip",
            "x-ms-visibility": "advanced",
            "description": "Optional $skip query option."
          },
          {
            "name": "select",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$select",
            "x-ms-visibility": "advanced",
            "description": "Optional $select query option."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$filter",
            "x-ms-visibility": "advanced",
            "description": "Optional $filter query option."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$expand",
            "x-ms-visibility": "advanced",
            "description": "Optional $expand query option."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$orderby",
            "x-ms-visibility": "advanced",
            "description": "Optional $orderby query option."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "$search",
            "x-ms-visibility": "advanced",
            "description": "Optional $search query option."
          },
          {
            "name": "inlinecount",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "none",
              "allpages"
            ],
            "x-ms-summary": "$inlinecount",
            "x-ms-visibility": "advanced",
            "description": "Optional $inlinecount query option."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OutputEntry"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#read-odata-entity"
        }
      }
    },
    "/{connectionId}/createentry": {
      "post": {
        "tags": [
          "Create OData entity"
        ],
        "summary": "Create OData entity",
        "description": "Create OData entity.",
        "operationId": "CreateEntry",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData Entity name",
            "description": "Please specify OData Entity name.",
            "x-ms-dynamic-values": {
              "operationId": "Search",
              "parameters": {
                "relativePath": {
                  "parameter": "relativePath"
                }
              },
              "value-collection": "values"
            }
          },
          {
            "name": "entryInput",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSingleSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entity"
                  },
                  "relativePath": {
                    "parameter": "relativePath"
                  },
                  "option": 1
                },
                "value-path": "schema"
              }
            },
            "x-ms-summary": "OData Entity input",
            "description": "Please specify OData Entity input."
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OutputEntry"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#create-odata-entity"
        }
      }
    },
    "/{connectionId}/updateentry": {
      "post": {
        "tags": [
          "Update OData entity"
        ],
        "summary": "Update OData entity",
        "description": "Update OData entity.",
        "operationId": "UpdateEntry",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData Entity name",
            "description": "Please specify OData Entity name.",
            "x-ms-dynamic-values": {
              "operationId": "Search",
              "parameters": {
                "relativePath": {
                  "parameter": "relativePath"
                }
              },
              "value-collection": "values"
            }
          },
          {
            "name": "entryInput",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSingleSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entity"
                  },
                  "relativePath": {
                    "parameter": "relativePath"
                  },
                  "option": 2
                },
                "value-path": "schema"
              }
            },
            "x-ms-summary": "OData Entity input",
            "description": "Please specify OData Entity input."
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OutputEntry"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#update-odata-entity"
        }
      }
    },
    "/{connectionId}/adhoc": {
      "post": {
        "tags": [
          "Create your own OData request"
        ],
        "summary": "Create any type of OData request",
        "description": "Create any type of OData request.",
        "operationId": "AdHocRequest",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "relativePath",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          },
          {
            "name": "entryInput",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "httpMethod"
              ],
              "properties": {
                "httpMethod": {
                  "type": "string",
                  "enum": [
                    "GET",
                    "POST",
                    "DELETE",
                    "PUT"
                  ]
                },
                "queryString": {
                  "type": "object"
                },
                "payload": {
                  "type": "object"
                }
              }
            },
            "x-ms-summary": "OData Entity input",
            "description": "Please specify OData Entity input."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "structured": {
                      "type": "object"
                    },
                    "unstructured": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#create-any-type-of-odata-request"
        }
      }
    },
    "/{connectionId}/deleteentry": {
      "post": {
        "tags": [
          "Delete OData entity"
        ],
        "summary": "Delete OData entity",
        "description": "Delete OData entity.",
        "operationId": "DeleteEntry",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "entity",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "OData Entity name",
            "description": "Please specify OData Entity name.",
            "x-ms-dynamic-values": {
              "operationId": "Search",
              "parameters": {
                "relativePath": {
                  "parameter": "relativePath"
                }
              },
              "value-collection": "values"
            }
          },
          {
            "name": "entryInput",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetSingleSchema",
                "parameters": {
                  "entity": {
                    "parameter": "entity"
                  },
                  "relativePath": {
                    "parameter": "relativePath"
                  },
                  "option": 3
                },
                "value-path": "schema"
              }
            },
            "x-ms-summary": "OData Entity input",
            "description": "Please specify OData Entity input."
          },
          {
            "name": "relativePath",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "relativePath",
            "x-ms-visibility": "advanced",
            "default": "/",
            "description": "Combined with OData URI from the connection to create the full URI to interact with."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#delete-odata-entity"
        }
      }
    },
    "/{connectionId}/testconnection": {
      "get": {
        "tags": [
          "OData"
        ],
        "summary": "Tests connection to the OData service",
        "description": "Tests connection to the OData service.This methods tries to fetch the base URI metadata.",
        "operationId": "TestConnection",
        "consumes": [],
        "produces": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sapodata/#tests-connection-to-the-odata-service"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "Output": {
      "type": "object",
      "additionalProperties": true,
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object"
          },
          "x-ms-dynamic-schema": {
            "operationId": "GetSchema",
            "parameters": {
              "entity": {
                "parameter": "entity"
              },
              "relativePath": {
                "parameter": "relativePath"
              }
            },
            "value-path": "schema"
          }
        },
        "count": {
          "type": "number"
        }
      },
      "required": [
        "data"
      ]
    },
    "OutputEntry": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSingleSchema",
        "parameters": {
          "entity": {
            "parameter": "entity"
          },
          "relativePath": {
            "parameter": "relativePath"
          }
        },
        "value-path": "schema"
      }
    },
    "Item": {
      "type": "object",
      "properties": {}
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection",
      "parameters": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.odata.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/privacystatement"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/sapodata"
  }
}
