{
  "swagger": "2.0",
  "info": {
    "description": "The Office 365 Groups Mail connector allows users to work with data located in a Office 365 Group mailbox. The functionality in this connector works independently from a single user's personal mailbox and allows users to work with any Group they can access within their organization. The connector works off the Microsoft Graph API, and uses terminology specified in a Office 365 Groups documentation within the Graph API. Learn more in the connector documentation.",
    "title": "Office 365 Groups Mail",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/office365groupsmail",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1.0/groups/{groupId}/conversations": {
      "get": {
        "operationId": "ListConversations",
        "description": "Get all the conversations in this group.",
        "summary": "List the conversations of a group",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "description": "Link to get next page of results",
                  "type": "string",
                  "x-ms-summary": "Next link",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Conversation"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Invalid group",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#list-the-conversations-of-a-group"
        }
      },
      "post": {
        "operationId": "CreateConversation",
        "description": "Create a new conversation in this group.",
        "summary": "Create a new conversation in a group",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/contentType__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateConversationBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/CreateConversationResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#create-a-new-conversation-in-a-group"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/conversations/{conversationId}": {
      "get": {
        "operationId": "GetGroupConversation",
        "description": "Retrieves the properties of a particular conversation.",
        "summary": "Get a group conversation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation ID.",
            "x-ms-summary": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Conversation"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#get-a-group-conversation"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/conversations/{conversationId}/threads": {
      "get": {
        "operationId": "ListConversationThreads",
        "description": "Get all the threads in a group conversation.",
        "summary": "List the conversation threads of a conversation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation ID.",
            "x-ms-summary": "Conversation ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "description": "Link to get next page of results",
                  "type": "string",
                  "x-ms-summary": "Next link",
                  "x-ms-visibility": "internal"
                },
                "@odata.context": {
                  "type": "string",
                  "description": "The Odata.context link.",
                  "x-ms-summary": "OData context",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConversationThread"
                  }
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#list-the-conversation-threads-of-a-conversation"
        }
      },
      "post": {
        "operationId": "CreateConversationThread",
        "description": "Create a new thread in the specified conversation.",
        "summary": "Create a conversation thread",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation ID.",
            "x-ms-summary": "Conversation ID"
          },
          {
            "$ref": "#/parameters/contentType__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateConversationBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NewConversationThreadResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#create-a-conversation-thread"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/threads": {
      "get": {
        "operationId": "ListGroupThreads",
        "description": "Get all the threads of a group.",
        "summary": "List the threads of a group",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "description": "Link to get next page of results",
                  "type": "string",
                  "x-ms-summary": "Next link",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConversationThread"
                  }
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#list-the-threads-of-a-group"
        }
      },
      "post": {
        "operationId": "CreateGroupThread",
        "description": "Start a new group conversation by first creating a thread.",
        "summary": "Start a new group conversation by creating a thread",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "$ref": "#/parameters/contentType__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateConversationBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NewConversationThreadResponse"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#start-a-new-group-conversation-by-creating-a-thread"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}": {
      "get": {
        "operationId": "GetConversationThread",
        "description": "Get a specific thread that belongs to a group.",
        "summary": "Get a conversation thread",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConversationThread"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#get-a-conversation-thread"
        }
      },
      "delete": {
        "operationId": "DeleteConversationThread",
        "description": "Deletes the specified conversation thread.",
        "summary": "Delete a conversation thread",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#delete-a-conversation-thread"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts": {
      "get": {
        "operationId": "ListThreadPosts",
        "description": "Get all the posts of the specified conversation thread.",
        "summary": "List the posts of a conversation thread",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "description": "Link to get next page of results",
                  "type": "string",
                  "x-ms-summary": "Next link",
                  "x-ms-visibility": "internal"
                },
                "@odata.context": {
                  "type": "string",
                  "description": "The @odata.context link.",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Post"
                  },
                  "description": "Array containing the posts in the specified thread."
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#list-the-posts-of-a-conversation-thread"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}": {
      "get": {
        "operationId": "GetThreadPost",
        "description": "Retrieves a post in a specified thread.",
        "summary": "Get a thread post",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the post ID.",
            "x-ms-summary": "Post ID"
          },
          {
            "$ref": "#/parameters/expand__in_query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#get-a-thread-post"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}/attachments": {
      "get": {
        "operationId": "GetAttachments",
        "description": "Retrieve a list of attachments that belong to a post.",
        "summary": "List the attachments of a post",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the post ID.",
            "x-ms-summary": "Post ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.nextLink": {
                  "description": "Link to get next page of results",
                  "type": "string",
                  "x-ms-summary": "Next link",
                  "x-ms-visibility": "internal"
                },
                "@odata.context": {
                  "type": "string",
                  "description": "The @odata.context link.",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Attachment"
                  },
                  "description": "Array containing the attachments of the post."
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#list-the-attachments-of-a-post"
        }
      }
    },
    "/{connectionId}/v1.0/me/memberOf/$/microsoft.graph.group": {
      "get": {
        "operationId": "ListGroups",
        "description": "Retrieves all Office 365 Groups the user is part of.",
        "summary": "List user groups",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "groupTypes/any(c:c eq 'Unified')"
          },
          {
            "name": "$select",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "id,displayName"
          },
          {
            "name": "$top",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "internal",
            "default": 999
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "x-ms-summary": "Group ID"
                      },
                      "displayName": {
                        "type": "string",
                        "x-ms-summary": "Group display name"
                      },
                      "visibility": {
                        "type": "string",
                        "x-ms-summary": "Group visibility"
                      }
                    }
                  },
                  "description": "Array with the groups the user is part of."
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#list-user-groups"
        }
      }
    },
    "/{connectionId}/trigger/v1.0/groups/{groupId}/conversations": {
      "get": {
        "operationId": "OnNewEmailInGroup",
        "description": "When a new email arrives to a group.",
        "x-ms-summary": "When a new email arrives to a group",
        "summary": "When a new email arrives to a group",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "x-ms-visibility": "internal",
            "x-ms-trigger-value": {
              "value-collection": "value",
              "value-path": "lastDeliveredDateTime"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "id,lastDeliveredDateTime",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "threads($select=id;$expand=posts($select=id,createdDateTime))",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "lastDeliveredDateTime desc",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ConversationTriggerResponse"
                  },
                  "description": "Response of the trigger."
                }
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "Send a new email to this group to test the trigger.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#when-a-new-email-arrives-to-a-group"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/reply": {
      "post": {
        "operationId": "ReplyToAThread",
        "description": "Reply to a thread in a group conversation and add a new post to it.",
        "summary": "Reply to a conversation thread",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          },
          {
            "$ref": "#/parameters/contentType__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplyConversationThreadBody"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#reply-to-a-conversation-thread"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}/reply": {
      "post": {
        "operationId": "ReplyPost",
        "description": "Reply to a post and add a new post to the specified thread in a group conversation.",
        "summary": "Reply to a post",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the post ID.",
            "x-ms-summary": "Post ID"
          },
          {
            "$ref": "#/parameters/contentType__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplyConversationThreadBody"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#reply-to-a-post"
        }
      }
    },
    "/{connectionId}/beta/groups/{groupMail}/conversations/{conversationId}/threads/{threadId}/posts/{postId}/forward": {
      "post": {
        "operationId": "ForwardPost_V2",
        "description": "Forward a post to a recipient.",
        "summary": "Forward a post",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ForwardPost",
          "revision": 2
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupMail__in_path"
          },
          {
            "$ref": "#/parameters/exchangeBehavior"
          },
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation ID.",
            "x-ms-summary": "Conversation ID"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the post ID.",
            "x-ms-summary": "Post ID"
          },
          {
            "$ref": "#/parameters/contentType__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForwardPost_V2Body"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#forward-a-post"
        }
      }
    },
    "/{connectionId}/v1.0/groups/{groupId}/threads/{threadId}/posts/{postId}/forward": {
      "post": {
        "operationId": "ForwardPost",
        "description": "Forward a post to a recipient.",
        "summary": "Forward a post",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ForwardPost",
          "revision": 1
        },
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/groupId__in_path"
          },
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the conversation thread ID.",
            "x-ms-summary": "Thread ID"
          },
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the post ID.",
            "x-ms-summary": "Post ID"
          },
          {
            "$ref": "#/parameters/contentType__in_header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForwardPostBody"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success"
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#forward-a-post-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/httprequest": {
      "post": {
        "summary": "Send an HTTP request",
        "description": "Construct a Microsoft Graph REST API request to invoke. Learn more: https://docs.microsoft.com/en-us/graph/use-the-api",
        "operationId": "HttpRequest",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Uri",
            "in": "header",
            "description": "The full or relative URI. Example: https://graph.microsoft.com/{version}/{resource}.",
            "required": true,
            "x-ms-summary": "URI",
            "type": "string"
          },
          {
            "name": "Method",
            "in": "header",
            "description": "The HTTP method (default is GET).",
            "default": "GET",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "PATCH",
              "DELETE"
            ],
            "required": true,
            "x-ms-summary": "Method",
            "type": "string"
          },
          {
            "name": "Body",
            "in": "body",
            "description": "The request body content.",
            "required": false,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "Body"
          },
          {
            "name": "ContentType",
            "in": "header",
            "description": "The content-type header for the body (default is application/json).",
            "required": false,
            "x-ms-summary": "Content-Type",
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "CustomHeader1",
            "in": "header",
            "description": "Custom header 1. Specify in format: header-name: header-value",
            "required": false,
            "x-ms-summary": "CustomHeader1",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "CustomHeader2",
            "in": "header",
            "description": "Custom header 2. Specify in format: header-name: header-value",
            "required": false,
            "x-ms-summary": "CustomHeader2",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "CustomHeader3",
            "in": "header",
            "description": "Custom header 3. Specify in format: header-name: header-value",
            "required": false,
            "x-ms-summary": "CustomHeader3",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "CustomHeader4",
            "in": "header",
            "description": "Custom header 4. Specify in format: header-name: header-value",
            "required": false,
            "x-ms-summary": "CustomHeader4",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "CustomHeader5",
            "in": "header",
            "description": "Custom header 5. Specify in format: header-name: header-value",
            "required": false,
            "x-ms-summary": "CustomHeader5",
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObjectWithoutType"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365groupsmail/#send-an-http-request"
        }
      }
    }
  },
  "definitions": {
    "Conversation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Conversation ID",
          "x-ms-summary": "Conversation ID",
          "description": "The conversations's unique identifier."
        },
        "topic": {
          "type": "string",
          "title": "Conversation topic",
          "x-ms-summary": "Conversation topic",
          "description": "The topic of the conversation."
        },
        "hasAttachments": {
          "type": "boolean",
          "title": "Has attachments?",
          "x-ms-summary": "Has attachments?",
          "description": "Indicates whether any of the posts within this Conversation has at least one attachment."
        },
        "lastDeliveredDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Last delivered timestamp",
          "x-ms-summary": "Last delivered timestamp",
          "description": "The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time."
        },
        "uniqueSenders": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Unique senders array",
          "x-ms-summary": "Unique senders array",
          "description": "All the users that sent a message to this Conversation."
        },
        "preview": {
          "type": "string",
          "title": "Preview",
          "x-ms-summary": "Preview",
          "description": "A short summary from the body of the latest post in this Conversation."
        },
        "threads": {
          "x-ms-visibility": "internal",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConversationThread"
          }
        }
      },
      "description": "Conversation object."
    },
    "ConversationThread": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Conversation thread ID",
          "x-ms-summary": "Conversation thread ID",
          "description": "The conversation thread's unique identifier."
        },
        "topic": {
          "type": "string",
          "title": "Conversation topic",
          "x-ms-summary": "Conversation topic",
          "description": "The topic of the conversation."
        },
        "hasAttachments": {
          "type": "boolean",
          "title": "Has attachments?",
          "x-ms-summary": "Has attachments?",
          "description": "Indicates whether any of the posts within this Conversation has at least one attachment."
        },
        "lastDeliveredDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Last delivered timestamp",
          "x-ms-summary": "Last delivered timestamp",
          "description": "The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time."
        },
        "uniqueSenders": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Unique senders array",
          "x-ms-summary": "Unique senders array",
          "description": "All the users that sent a message to this Conversation."
        },
        "preview": {
          "type": "string",
          "title": "Preview",
          "x-ms-summary": "Preview",
          "description": "A short summary from the body of the latest post in this Conversation."
        },
        "isLocked": {
          "type": "boolean",
          "title": "Is Locked?",
          "x-ms-summary": "Is Locked?",
          "description": "Indicates if the thread is locked."
        },
        "toRecipients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailAddress"
          },
          "description": "The To: recipients for the thread."
        },
        "ccRecipients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailAddress"
          },
          "description": "The Cc: recipients for the thread."
        },
        "posts": {
          "x-ms-visibility": "internal",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Post"
          }
        }
      },
      "description": "Conversation thread object."
    },
    "Post": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Post ID",
          "x-ms-summary": "Post ID",
          "description": "The post's unique identifier."
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Created timestamp of the post",
          "x-ms-summary": "Post created timestamp"
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Last modified timestamp of the post",
          "x-ms-summary": "Post last modified timestamp"
        },
        "changeKey": {
          "type": "string",
          "title": "Change Key",
          "x-ms-summary": "Post change Key",
          "description": "Identifies the version of the post."
        },
        "conversationId": {
          "type": "string",
          "title": "Conversation ID",
          "x-ms-summary": "Post conversation ID",
          "description": "Unique ID of the conversation the post belongs to."
        },
        "conversationThreadId": {
          "type": "string",
          "title": "Conversation thread ID",
          "x-ms-summary": "Post conversation thread ID",
          "description": "Unique ID of the conversation thread the post belongs to."
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Categories",
          "x-ms-summary": "Post categories",
          "description": "The categories associated with the post."
        },
        "receivedDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Received timestamp",
          "x-ms-summary": "Post received timestamp",
          "description": "Post received timestamp."
        },
        "hasAttachments": {
          "type": "boolean",
          "title": "Has attachments?",
          "x-ms-summary": "Has attachments?",
          "description": "Indicates whether the post has at least one attachment."
        },
        "newParticipants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailAddress"
          },
          "title": "New participants",
          "x-ms-summary": "New participants",
          "description": "Conversation participants that were added to the thread as part of this post."
        },
        "body": {
          "$ref": "#/definitions/ItemBody"
        },
        "from": {
          "$ref": "#/definitions/EmailAddress"
        },
        "sender": {
          "$ref": "#/definitions/EmailAddress"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        }
      },
      "description": "Represents an individual Post item within a conversationThread entity."
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the attachment.",
          "x-ms-summary": "Attachment ID"
        },
        "name": {
          "type": "string",
          "description": "Name of attachment.",
          "x-ms-summary": "Attachment name"
        },
        "contentType": {
          "type": "string",
          "description": "Content type of attachment.",
          "x-ms-summary": "Attachment content Type"
        },
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "Size of attachment.",
          "x-ms-summary": "Attachment size"
        },
        "contentBytes": {
          "type": "string",
          "format": "byte",
          "description": "Content of attachment.",
          "x-ms-summary": "Attachment content bytes"
        }
      }
    },
    "EmailAddress": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "x-ms-summary": "Name of the user"
            },
            "address": {
              "type": "string",
              "format": "email",
              "x-ms-summary": "Email address of the user"
            }
          },
          "description": "Represents information about a user in the sending or receiving end of an event, message or group post."
        }
      }
    },
    "ItemBody": {
      "type": "object",
      "properties": {
        "contentType": {
          "type": "string",
          "x-ms-summary": "Body content type",
          "x-ms-visibility": "advanced",
          "description": "Content type of the body."
        },
        "content": {
          "type": "string",
          "x-ms-summary": "Body content",
          "description": "Content of the body."
        }
      },
      "description": "Represents properties of the body of an item, such as a message, event or group post."
    },
    "ReplyConversationThreadBody": {
      "description": "Reply Conversation Thread body.",
      "type": "object",
      "x-ms-summary": "Reply conversation thread body",
      "properties": {
        "post": {
          "$ref": "#/definitions/NewPostBody"
        }
      }
    },
    "ForwardPostBody": {
      "description": "New forward post body.",
      "required": [
        "toRecipients"
      ],
      "type": "object",
      "x-ms-summary": "New forward post body",
      "properties": {
        "comment": {
          "type": "string",
          "description": "Comment to forward with the post.",
          "x-ms-summary": "Comment",
          "x-ms-visibility": "important"
        },
        "toRecipients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetUsers__GraphAction"
          },
          "x-ms-summary": "Recipients",
          "description": "The recipients to whom the threaded is forwarded to."
        }
      }
    },
    "ForwardPost_V2Body": {
      "description": "New forward post body.",
      "required": [
        "ToRecipients"
      ],
      "type": "object",
      "x-ms-summary": "New forward post body",
      "properties": {
        "Comment": {
          "type": "string",
          "format": "html",
          "description": "Comment to forward with the post.",
          "x-ms-summary": "Comment",
          "x-ms-visibility": "important"
        },
        "ToRecipients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetUsers__GraphAction"
          },
          "x-ms-summary": "Recipients",
          "description": "The recipients to whom the threaded is forwarded to."
        }
      }
    },
    "CreateConversationBody": {
      "description": "New Conversation body.",
      "required": [
        "topic"
      ],
      "type": "object",
      "x-ms-summary": "New Conversation body",
      "properties": {
        "topic": {
          "type": "string",
          "description": "Topic of the new conversation.",
          "x-ms-summary": "New topic",
          "x-ms-visibility": "important"
        },
        "post": {
          "$ref": "#/definitions/NewPostBody"
        }
      }
    },
    "NewPostBody": {
      "type": "object",
      "properties": {
        "body": {
          "type": "object",
          "required": [
            "content",
            "contentType"
          ],
          "properties": {
            "content": {
              "type": "string",
              "format": "html",
              "description": "Content of the new conversation.",
              "x-ms-summary": "Content",
              "x-ms-visibility": "important"
            },
            "contentType": {
              "type": "string",
              "description": "Type of the body content: HTML or text.",
              "x-ms-summary": "Content type",
              "default": "html",
              "x-ms-visibility": "internal"
            }
          },
          "description": "Body of the new post.",
          "x-ms-summary": "Body"
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Categories",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Post categories",
          "description": "The categories associated with the post."
        },
        "newParticipants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetUsers__GraphAction"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "New participants",
          "description": "Add participants to the thread as part of this post."
        },
        "attachments": {
          "description": "File attachments to include.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientSendAttachment"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "File attachments"
        }
      }
    },
    "GetUsers__GraphAction": {
      "type": "object",
      "properties": {
        "EmailAddress": {
          "type": "object",
          "properties": {
            "Address": {
              "x-ms-dynamic-values": {
                "builtInOperation": "AadGraph.GetUsers",
                "parameters": {},
                "value-path": "mail"
              },
              "type": "string",
              "format": "email",
              "description": "Email address."
            }
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Email address",
          "description": "User email address."
        }
      }
    },
    "CreateConversationResponse": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "x-ms-visibility": "internal",
          "x-ms-summary": "@odata.context",
          "description": "The @odata.context link."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Conversation ID",
          "description": "New Conversation ID."
        },
        "threads@odata.context": {
          "type": "string",
          "x-ms-visibility": "internal",
          "x-ms-summary": "threads@odata.context",
          "description": "The threads@odata.context link."
        },
        "threads": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "x-ms-summary": "Thread ID",
                "description": "The new thread ID."
              }
            }
          },
          "x-ms-summary": "Conversation threads",
          "description": "Created conversation thread."
        }
      },
      "x-ms-summary": "Created conversation object",
      "description": "The response of with the created conversation details."
    },
    "NewConversationThreadResponse": {
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "x-ms-visibility": "internal",
          "x-ms-summary": "@odata.context",
          "description": "The @odata.context link."
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Conversation thread ID",
          "description": "New conversation thread ID."
        }
      }
    },
    "ClientSendAttachment": {
      "description": "File attachment.",
      "x-ms-visibility": "advanced",
      "required": [
        "Name",
        "ContentBytes",
        "@odata.type"
      ],
      "type": "object",
      "properties": {
        "@odata.type": {
          "description": "@odata.type for a file attachment.",
          "type": "string",
          "default": "#microsoft.graph.fileAttachment",
          "x-ms-visibility": "internal",
          "x-ms-summary": "File attachment @odata.type"
        },
        "Name": {
          "description": "Name of the attachment.",
          "type": "string",
          "x-ms-summary": "Attachment name"
        },
        "ContentBytes": {
          "format": "byte",
          "description": "Content of the attachment.",
          "type": "string",
          "x-ms-summary": "Attachment content"
        }
      }
    },
    "ConversationTriggerResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Conversation ID",
          "x-ms-summary": "Conversation ID",
          "description": "The conversation unique identifier."
        },
        "lastDeliveredDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Last delivered timestamp",
          "x-ms-summary": "Last delivered timestamp",
          "description": "The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time."
        },
        "threads": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConversationThreadTriggerResponse"
          }
        }
      },
      "description": "When a new email arrives trigger response."
    },
    "ConversationThreadTriggerResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Conversation thread ID",
          "x-ms-summary": "Conversation thread ID",
          "description": "The conversation thread's unique identifier."
        },
        "posts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PostTriggerResponse"
          }
        }
      },
      "description": "Conversation thread object."
    },
    "PostTriggerResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Post ID",
          "x-ms-summary": "Post ID",
          "description": "The post's unique identifier."
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time",
          "title": "Last modified timestamp of the post",
          "x-ms-summary": "Post last modified timestamp"
        },
        "changeKey": {
          "type": "string",
          "title": "Change Key",
          "x-ms-summary": "Post change Key",
          "description": "Identifies the version of the post."
        }
      },
      "description": "Represents an individual Post item within a conversationThread entity."
    },
    "ObjectWithoutType": {}
  },
  "parameters": {
    "groupId__in_path": {
      "name": "groupId",
      "in": "path",
      "description": "Pick a group from the drop down or enter group id.",
      "required": true,
      "x-ms-summary": "Group ID",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "ListGroups",
        "parameters": {
          "$filter": "groupTypes/any(c:c eq 'Unified')",
          "$select": "id,displayName",
          "$top": 999
        },
        "value-path": "id",
        "value-title": "displayName",
        "value-collection": "value"
      },
      "x-ms-visibility": "important",
      "type": "string"
    },
    "expand__in_query": {
      "name": "$expand",
      "in": "query",
      "required": true,
      "type": "string",
      "default": "attachments",
      "x-ms-visibility": "internal"
    },
    "groupMail__in_path": {
      "name": "groupMail",
      "in": "path",
      "description": "Pick a group from the drop down or enter the group mail address.",
      "required": true,
      "x-ms-summary": "Group mail",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "ListGroups",
        "parameters": {
          "$filter": "groupTypes/any(c:c eq 'Unified')",
          "$select": "mail,displayName",
          "$top": 999
        },
        "value-path": "mail",
        "value-title": "displayName",
        "value-collection": "value"
      },
      "x-ms-visibility": "important",
      "type": "string"
    },
    "exchangeBehavior": {
      "name": "Prefer",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "exchange.behavior=\"ForwardPostWithMessage\"",
      "x-ms-visibility": "internal"
    },
    "contentType__in_header": {
      "name": "content-type",
      "in": "header",
      "required": true,
      "type": "string",
      "default": "application/json",
      "x-ms-visibility": "internal"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.microsoft.com/en-us/graph/api/resources/groups-overview?view=graph-rest-1.0"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/office365groupsmail"
  }
}
