{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/visualstudioteamservices",
  "info": {
    "description": "Azure DevOps provides services for teams to share code, track work, and ship software - for any language, all in a single package. It's the perfect complement to your IDE.",
    "version": "1.3",
    "title": "Azure DevOps",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "paths": {
    "/{connectionId}/_apis/Accounts": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List Organizations",
        "description": "Retrieves the list of Organizations the user is a member of.",
        "operationId": "ListAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[Account]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-organizations"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/{project}/iterations": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List iterations",
        "description": "Retrieves the list of iterations for a project.",
        "operationId": "ListIterations",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "team",
            "in": "query",
            "description": "The name of the team within the project.",
            "required": true,
            "x-ms-summary": "Team Name",
            "x-ms-dynamic-values": {
              "operationId": "ListTeams",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[TeamSettingsIteration]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-iterations"
        }
      }
    },
    "/{connectionId}/{project}/_apis/build/definitions": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List build definitions",
        "description": "Retrieves the list of build defintions in a project.",
        "operationId": "ListBuildDefinitions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[BuildDefinition]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-build-definitions"
        }
      }
    },
    "/{connectionId}/{project}/_apis/build/builds": {
      "post": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "Queue a new build",
        "description": "Create a build, based on an existing build definition, and add it to the build queue.",
        "operationId": "QueueNewBuild",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "buildDefId",
            "in": "query",
            "description": "The identifier of the build definition to use.",
            "required": true,
            "x-ms-summary": "Build Definition Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListBuildDefinitions",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-test-value": "1",
            "type": "string"
          },
          {
            "name": "buildDetails",
            "in": "body",
            "description": "The JSON body of the request.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/QueueBuildRequest"
            },
            "x-ms-summary": "Build Details",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BuildResult"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#queue-a-new-build"
        }
      }
    },
    "/{connectionId}/buildcompleted_trigger/{project}/_apis/build/builds": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "When a build completes",
        "description": "Triggers a flow when a build completes.",
        "operationId": "OnBuildCompleted",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "resultFilter",
            "in": "query",
            "description": "An option indicating which build result to trigger on. Valid options include '', 'succeeded', 'partiallySucceeded', 'failed', or 'canceled'.",
            "required": false,
            "x-ms-summary": "Filter By Result",
            "x-ms-visibility": "important",
            "type": "string",
            "enum": [
              "",
              "succeeded",
              "partiallySucceeded",
              "failed",
              "canceled"
            ]
          },
          {
            "name": "definitions",
            "in": "query",
            "description": "An option indicating which build definition id to trigger on.",
            "required": false,
            "x-ms-summary": "Filter By Definition Id",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[BuildResult]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, wait for a build to complete.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#when-a-build-completes"
        }
      }
    },
    "/{connectionId}/hooks/onbuildcompleted/subscriptions": {
      "post": {
        "tags": [
          "Builds"
        ],
        "summary": "When a build completes (webhook)",
        "description": "Triggers a flow when a build completes.",
        "operationId": "CreateOnBuildCompletedSubscription",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscription",
            "in": "body",
            "description": "Subscription information.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClientSubscription"
            },
            "x-ms-summary": "Subscription information"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "subscriptionKind",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "BuildCompleted"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, wait for a build to complete.",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#when-a-build-completes-(webhook)"
        }
      },
      "x-ms-notification-content": {
        "description": "Builds",
        "schema": {
          "$ref": "#/definitions/TriggerBatchResponse[BuildResult]"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/{project}/_apis/git/repositories": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List Git repositories",
        "description": "Retrieves the list of Git repositories in a project.",
        "operationId": "ListGitRepositories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[GitRepository]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-git-repositories"
        }
      }
    },
    "/{connectionId}/{project}/_apis/git/repositories/{repository}/refs": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List Git refs",
        "description": "Retrieves the list of references (branches, tags, etc.) in a Git repo.",
        "operationId": "ListGitRefs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The name of the repository within the specified project.",
            "required": true,
            "x-ms-summary": "Repository Name",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRepositories",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[GitRef]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-git-refs"
        }
      }
    },
    "/{connectionId}/gitpushed_trigger/{project}/_apis/git/repositories/{repository}/pushes": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "When code is pushed (Git)",
        "description": "Triggers a flow when code is pushed to a Git repository.",
        "operationId": "OnGitPush",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The name of the repository within the specified project.",
            "required": true,
            "x-ms-summary": "Repository Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRepositories",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "refName",
            "in": "query",
            "description": "The name of the Git ref, such as a branch or tag.",
            "required": false,
            "x-ms-summary": "Ref Name",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRefs",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                },
                "repository": {
                  "parameter": "repository"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[GitPush]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, push code to the Git repo you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#when-code-is-pushed-(git)"
        }
      }
    },
    "/{connectionId}/gitpullcreated_trigger/{project}/_apis/git/repositories/{repository}/pullrequests": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "When a pull request is created (Git)",
        "description": "Triggers a flow when a pull request which matches provided criteria is created.",
        "operationId": "OnGitPullCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The name of the repository within the specified project.",
            "required": true,
            "x-ms-summary": "Repository Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRepositories",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "sourceRefName",
            "in": "query",
            "description": "The name of the Git ref, such as a branch or tag.",
            "required": false,
            "x-ms-summary": "Source Ref Name",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRefs",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                },
                "repository": {
                  "parameter": "repository"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "targetRefName",
            "in": "query",
            "description": "The name of the Git ref, such as a branch or tag.",
            "required": false,
            "x-ms-summary": "Target Ref Name",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRefs",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                },
                "repository": {
                  "parameter": "repository"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[GitPullRequest]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, create a pull request in the Git repo you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#when-a-pull-request-is-created-(git)"
        }
      }
    },
    "/{connectionId}/gitpullclosed_trigger/{project}/_apis/git/repositories/{repository}/pullrequests": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "When a pull request is closed (Git)",
        "description": "Triggers a flow when a pull request which matches provided criteria is closed.",
        "operationId": "OnGitPullClosed",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "repository",
            "in": "path",
            "description": "The name of the repository within the specified project.",
            "required": true,
            "x-ms-summary": "Repository Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRepositories",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "sourceRefName",
            "in": "query",
            "description": "The name of the Git ref, such as a branch or tag.",
            "required": false,
            "x-ms-summary": "Source Ref Name",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRefs",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                },
                "repository": {
                  "parameter": "repository"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "targetRefName",
            "in": "query",
            "description": "The name of the Git ref, such as a branch or tag.",
            "required": false,
            "x-ms-summary": "Target Ref Name",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "ListGitRefs",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                },
                "repository": {
                  "parameter": "repository"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[GitPullRequest]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, close a pull request in the Git repo you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#when-a-pull-request-is-closed-(git)"
        }
      }
    },
    "/{connectionId}/_apis/projects": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List projects",
        "description": "Retrieves the list of projects in an Organization.",
        "operationId": "ListProjects",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[Project]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-projects"
        }
      }
    },
    "/{connectionId}/_apis/projects/{project}/teams": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List the teams in a project",
        "description": "Retrieves the list of teams in a project.",
        "operationId": "ListTeams",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[Team]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-the-teams-in-a-project"
        }
      }
    },
    "/{connectionId}/_apis/projects/{project}/teams/{team}/members": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List the users in a team",
        "description": "Retrieves the list of users in a specific team.",
        "operationId": "ListTeamMembers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "type": "string"
          },
          {
            "name": "team",
            "in": "path",
            "description": "The name of the team within the project.",
            "required": true,
            "x-ms-summary": "Team Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[TeamMember]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-the-users-in-a-team"
        }
      }
    },
    "/{connectionId}/{project}/definitions": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List release definitions",
        "description": "Retrieves the list of release definitions associated with a project.",
        "operationId": "ListReleaseDefinitions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[ReleaseDefinition]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-release-definitions"
        }
      }
    },
    "/{connectionId}/{project}/releases": {
      "post": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "Create a new release",
        "description": "Create a release, based on an existing release definition.",
        "operationId": "CreateRelease",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "releaseDefId",
            "in": "query",
            "description": "The identifier of the release definition to use.",
            "required": true,
            "x-ms-summary": "Release Definition Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListReleaseDefinitions",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "releaseStartMetadata",
            "in": "body",
            "description": "The JSON body of the request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReleaseStartMetadata"
            },
            "x-ms-summary": "Release Start Metadata",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Release"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#create-a-new-release"
        }
      }
    },
    "/{connectionId}/hooks/subscriptionschema": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "summary": "Get a dynamic schema to create a webhook subscription",
        "description": "Get a dynamic schema to create a webhook subscription.",
        "operationId": "GetSubscriptionSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The Id of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "The Id of the project within the specified Organization",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "subscriptionKind",
            "in": "query",
            "description": "The type of the subscription to retrieve the schema for.",
            "required": true,
            "x-ms-summary": "The type of the subscription to retrieve the schema for",
            "type": "string",
            "enum": [
              "BuildCompleted",
              "WorkItemUpdated"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#get-a-dynamic-schema-to-create-a-webhook-subscription"
        }
      }
    },
    "/{connectionId}/hooks/workitemssubscriptionschema": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "summary": "Get a dynamic schema to create a webhook subscription",
        "description": "Get a dynamic schema to create a webhook subscription.",
        "operationId": "GetWorkItemsSubscriptionSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The Id of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "The Id of the project within the specified Organization",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "workItemType",
            "in": "query",
            "description": "The work item type to generate schema for.",
            "required": true,
            "x-ms-summary": "Work Item Type",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkItemTypes",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "subscriptionKind",
            "in": "query",
            "description": "The type of the subscription to retrieve the schema for.",
            "required": true,
            "x-ms-summary": "The type of the subscription to retrieve the schema for",
            "type": "string",
            "enum": [
              "BuildCompleted",
              "WorkItemUpdated"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#get-a-dynamic-schema-to-create-a-webhook-subscription"
        }
      }
    },
    "/{connectionId}/hooks/subscriptions/{id}": {
      "delete": {
        "tags": [
          "Subscription"
        ],
        "summary": "Delete a subscription",
        "description": "This operation deletes a subscription.",
        "operationId": "DeleteSubscription",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Id of the subscription to be deleted.",
            "required": true,
            "x-ms-summary": "Id of the subscription to be deleted",
            "type": "string"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Name of the Organization.",
            "type": "string"
          },
          {
            "name": "options",
            "in": "query",
            "description": "Subscription options.",
            "required": true,
            "x-ms-summary": "Subscription options",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#delete-a-subscription"
        }
      }
    },
    "/{connectionId}/tfvccheckin_trigger/_apis/tfvc/changesets": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "When code is checked in (TFVC)",
        "description": "Triggers a flow when code is checked in to a Team Foundation Version Control project.",
        "operationId": "OnTfvcCheckIn",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "team",
            "in": "query",
            "description": "The name of the team which to select an author.",
            "required": false,
            "x-ms-summary": "Team Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTeams",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "The unique name of the team member who authored the check in.",
            "required": false,
            "x-ms-summary": "Team Member",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTeamMembers",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                },
                "team": {
                  "parameter": "team"
                }
              },
              "value-collection": "value",
              "value-path": "uniqueName",
              "value-title": "uniqueName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[TfvcChangeset]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, check code into the TFVC project you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#when-code-is-checked-in-(tfvc)"
        }
      }
    },
    "/{connectionId}/httprequest": {
      "post": {
        "tags": [
          "VstsProxy"
        ],
        "summary": "Send an HTTP request to Azure DevOps",
        "description": "Construct an Azure DevOps REST API request to invoke. Please refer to the following link for all available endpoints: https://docs.microsoft.com/rest/api/azure/devops",
        "operationId": "HttpRequest",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The parameters to this operation passed in the body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VstsHttpRequestBodyParameters"
            },
            "x-ms-summary": "Parameters"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObjectWithoutType"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#send-an-http-request-to-azure-devops"
        }
      }
    },
    "/{connectionId}/_apis/wit/workitemtypes": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "List work item types",
        "description": "Retrieves the list of Work Item Types accessible in a given Azure DevOps project.",
        "operationId": "ListWorkItemTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[WorkItemType]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#list-work-item-types"
        }
      }
    },
    "/{connectionId}/_apis/wit/workitems/{id}": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "Get work item details",
        "description": "Get the details of a single work item.",
        "operationId": "GetWorkItemDetails",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "typeName",
            "in": "query",
            "description": "The work item type of the work item.",
            "required": true,
            "x-ms-summary": "Work Item Type",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkItemTypes",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique id of the work item to get details for.The work item must be of the type specified in 'Work Item Type'.",
            "required": true,
            "x-ms-summary": "Work Item Id",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DynamicWorkItemResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#get-work-item-details"
        }
      },
      "patch": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "Update a work item",
        "description": "Update an existing work item by id.",
        "operationId": "UpdateWorkItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique id of the work item to update.",
            "required": true,
            "x-ms-summary": "Work Item Id",
            "x-ms-visibility": "important",
            "x-ms-test-value": "2",
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The name of the project within the specified Organization.",
            "required": false,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The work item type to generate schema for.",
            "required": false,
            "x-ms-summary": "Work Item Type",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkItemTypes",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "workItem",
            "in": "body",
            "description": "The details of the work item.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateWorkItemRequest"
            },
            "x-ms-summary": "Work Item Details",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PatchWorkItemResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#update-a-work-item"
        }
      }
    },
    "/{connectionId}/_apis/wit/workitems/{id}/children": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "Get work item children",
        "description": "Get a list of children (max size 1000) of a single work item.",
        "operationId": "GetWorkItemChildren",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "query",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique id of the work item to get the children for.",
            "required": true,
            "x-ms-summary": "Work Item Id",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "workItemType",
            "in": "query",
            "description": "The type of the children work item(s)",
            "required": false,
            "x-ms-summary": "Children Work Item Type",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkItemTypes",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[ListWorkItemResponse]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetWorkItemChildren",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#get-work-item-children"
        }
      }
    },
    "/{connectionId}/{project}/_apis/wit/workitems/${type}": {
      "patch": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "Create a work item",
        "description": "Create a new work item with the provided attributes.",
        "operationId": "CreateWorkItem",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Type of this work item",
            "required": true,
            "x-ms-summary": "Work Item Type",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkItemTypes",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-visibility": "important",
            "default": "Bug"
          },
          {
            "name": "shouldReturnAllFields",
            "in": "query",
            "description": "When setting the value to 'No', only the work item ID will be returned. If the value is 'Yes', all fields of the created Item along with the ID will be returned. The default value is 'Yes'",
            "required": false,
            "x-ms-summary": "Return all fields",
            "x-ms-visibility": "advanced",
            "type": "boolean"
          },
          {
            "name": "workItem",
            "in": "body",
            "description": "Information to include in the new work item",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateWorkItemRequest"
            },
            "x-ms-summary": "Work Item Details",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PatchWorkItemResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#create-a-work-item"
        }
      }
    },
    "/{connectionId}/workitemassigned_trigger/{project}/_apis/wit/wiql": {
      "get": {
        "tags": [
          "VisualStudioTeamServices"
        ],
        "summary": "When a work item is assigned",
        "description": "Triggers a flow when a work item which matches provided criteria is assigned to the given user.",
        "operationId": "OnWorkItemAssigned",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "x-ms-test-value": "clconn",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "x-ms-test-value": "MyFirstProject",
            "type": "string"
          },
          {
            "name": "wiql__System_AssignedTo",
            "in": "query",
            "description": "The name of the team member who currently owns the work item.",
            "required": true,
            "x-ms-summary": "Assigned To",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTeamMembers",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                },
                "team": {
                  "parameter": "team"
                }
              },
              "value-collection": "value",
              "value-path": "uniqueName",
              "value-title": "uniqueName"
            },
            "x-ms-test-value": "aaptapps",
            "type": "string"
          },
          {
            "name": "team",
            "in": "query",
            "description": "The name of the team from which to select a member.",
            "required": false,
            "x-ms-summary": "Team Name (to pick Assigned To)",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTeams",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "wiql__System_WorkItemType",
            "in": "query",
            "description": "The name of the work item type.",
            "required": false,
            "x-ms-summary": "Type",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkItemTypes",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "wiql__System_AreaPath",
            "in": "query",
            "description": "The product feature or team area the work item is in.",
            "required": false,
            "x-ms-summary": "Area Path",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "areaPathComparison",
            "in": "query",
            "description": "The rule to be used while comparing Area Path field.",
            "required": false,
            "x-ms-summary": "Area Path Comparison",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Equals",
            "enum": [
              "Equals",
              "Under"
            ]
          },
          {
            "name": "wiql__System_IterationPath",
            "in": "query",
            "description": "The named sprint or time period the work item is in.",
            "required": false,
            "x-ms-summary": "Iteration Path",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "iterationPathComparison",
            "in": "query",
            "description": "The rule to be used while comparing Iteration Path field.",
            "required": false,
            "x-ms-summary": "Iteration Path Comparison",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Equals",
            "enum": [
              "Equals",
              "Under"
            ]
          },
          {
            "name": "wiql__Microsoft_VSTS_Common_Priority",
            "in": "query",
            "description": "A subjective rating of the bug, issue, task, or test case as it relates to the business.",
            "required": false,
            "x-ms-summary": "Priority",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "wiql__System_TeamProject",
            "in": "query",
            "description": "The team project to which this work item belongs.",
            "required": false,
            "x-ms-summary": "Team Project",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "wiql__System_CreatedBy",
            "in": "query",
            "description": "The name of the team member who created the work item.",
            "required": false,
            "x-ms-summary": "Created By",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VstsList[TriggerWorkItemResponse]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, assign a work item to the user you selected",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnWorkItemAssigned",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/visualstudioteamservices/#when-a-work-item-is-assigned-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/workitemassigned_trigger/{project}/_apis/wit/wiql": {
      "get": {
        "tags": [
          "WorkItem"
        ],
        "summary": "When a work item is assigned",
        "description": "Triggers a flow when a work item which matches provided criteria is assigned to the given user.",
        "operationId": "OnWorkItemAssignedV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "account",
            "in": "query",
            "description": "The name of the Organization. This can be found in the instance URL i.e. {Organization}.visualstudio.com. The Organization should have \"Third-party application access via OAuth\" enabled to prevent errors in the operation.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListAccounts",
              "parameters": {},
              "value-collection": "value",
              "value-path": "accountName",
              "value-title": "accountName"
            },
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The name of the project within the specified Organization.",
            "required": true,
            "x-ms-summary": "Project Name",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "parameters": {
                "account": {
                  "parameter": "account"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "team",
            "in": "query",
            "description": "The name of the team from which to select a member.",
            "required": true,
            "x-ms-summary": "Team Name (to pick Assigned To)",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTeams",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "wiql__System_AssignedTo",
            "in": "query",
            "description": "The name of the team member who currently owns the work item.",
            "required": true,
            "x-ms-summary": "Assigned To",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListTeamMembers",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                },
                "team": {
                  "parameter": "team"
                }
              },
              "value-collection": "value",
              "value-path": "uniqueName",
              "value-title": "uniqueName"
            },
            "type": "string"
          },
          {
            "name": "wiql__System_WorkItemType",
            "in": "query",
            "description": "The name of the work item type.",
            "required": false,
            "x-ms-summary": "Type",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkItemTypes",
              "parameters": {
                "account": {
                  "parameter": "account"
                },
                "project": {
                  "parameter": "project"
                }
              },
              "value-collection": "value",
              "value-path": "name",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "wiql__System_AreaPath",
            "in": "query",
            "description": "The product feature or team area the work item is in.",
            "required": false,
            "x-ms-summary": "Area Path",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "areaPathComparison",
            "in": "query",
            "description": "The rule to be used while comparing Area Path field.",
            "required": false,
            "x-ms-summary": "Area Path Comparison",
            "x-ms-visibility": "advanced",
            "type": "string",
            "default": "Equals",
            "enum": [
              "Equals",
              "Under"
            ]
          },
          {
            "name": "wiql__System_IterationPath",
            "in": "query",
            "description": "The named sprint or time period the work item is in.",
            "required": false,
[...]
