{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft 365 compliance",
    "description": "The Microsoft Purview compliance portal is home to integrated solutions for protecting and governing data, mitigating risks, and more. Simplify tasks across these solutions so you can focus on your compliance posture.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft",
      "url": "https://support.microsoft.com/microsoft-365"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/microsoft365compliance",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/complianceworkbench/api/v1/Issues('{Alert_Id}')": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "severity": {
                  "type": "string",
                  "description": "The severity of the alert.",
                  "x-ms-summary": "Alert severity"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the alert.",
                  "x-ms-summary": "Alert name"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the alert.",
                  "x-ms-summary": "Alert status"
                },
                "resolutionTimeInHours": {
                  "type": "number",
                  "format": "float",
                  "description": "The total time elapsed in hours to resolve the alert.",
                  "x-ms-summary": "Time to resolve in hours"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the alert.",
                  "x-ms-summary": "Alert ID"
                },
                "createdDateTimeUtc": {
                  "type": "string",
                  "description": "The timestamp in UTC when alert was generated.",
                  "x-ms-summary": "Alert creation time"
                },
                "assignedCase": {
                  "type": "object",
                  "properties": {
                    "caseId": {
                      "type": "string",
                      "description": "The unique identifier of the case associated with alert.",
                      "x-ms-summary": "Case ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the case associated with alert.",
                      "x-ms-summary": "Case name"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the case associated with alert.",
                      "x-ms-summary": "Case status"
                    }
                  },
                  "description": "The case associated with alert."
                },
                "violatedPolicy": {
                  "type": "object",
                  "properties": {
                    "policyId": {
                      "type": "string",
                      "description": "The unique identifier of the policy associated with alert.",
                      "x-ms-summary": "Matched policy ID"
                    },
                    "policyName": {
                      "type": "string",
                      "description": "The name of the policy associate with alert.",
                      "x-ms-summary": "Matched policy name"
                    }
                  },
                  "description": "The policy that generated the alert."
                },
                "riskyUser": {
                  "type": "object",
                  "properties": {
                    "riskyUserId": {
                      "type": "string",
                      "description": "The unique identifier of the user associated with the alert.",
                      "x-ms-summary": "User ID"
                    },
                    "userPrincipalName": {
                      "type": "string",
                      "description": "The UPN of the user associated with the alert.",
                      "x-ms-summary": "User principal name"
                    }
                  },
                  "description": "The user associated with the alert."
                }
              }
            }
          }
        },
        "summary": "Get insider risk management alert",
        "description": "Get insider risk management alert.",
        "operationId": "GetIrmAlert",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Alert_Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the insider risk management alert.",
            "x-ms-summary": "Alert ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#get-insider-risk-management-alert"
        }
      }
    },
    "/{connectionId}/complianceworkbench/api/v1/PrivacyCases('{caseid}')/Files": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of an tagged file.",
                        "x-ms-summary": "File ID"
                      },
                      "immutableId": {
                        "type": "string",
                        "description": "The immutable id of an tagged file.",
                        "x-ms-summary": "Immutable ID"
                      },
                      "workload": {
                        "type": "string",
                        "description": "The workload of the tagged file.",
                        "x-ms-summary": "File workload"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The size of the tagged file.",
                        "x-ms-summary": "File size"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "The name of the tagged file.",
                        "x-ms-summary": "File name"
                      },
                      "fileType": {
                        "type": "string",
                        "description": "The file type of the tagged file.",
                        "x-ms-summary": "File type"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the tagged file.",
                        "x-ms-summary": "Title"
                      },
                      "subjectTitle": {
                        "type": "string",
                        "description": "The subject title of the tagged file.",
                        "x-ms-summary": "Subject title"
                      },
                      "nativeSize": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The native size of the tagged file.",
                        "x-ms-summary": "Native size"
                      },
                      "documentUrl": {
                        "type": "string",
                        "description": "The document Url of the tagged file.",
                        "x-ms-summary": "Document Url"
                      },
                      "fileClass": {
                        "type": "string",
                        "description": "The file class of the tagged .",
                        "x-ms-summary": "File class"
                      },
                      "extractedContentType": {
                        "type": "string",
                        "description": "The extracted content type of the tagged file.",
                        "x-ms-summary": "Extracted content type"
                      },
                      "filePath": {
                        "type": "string",
                        "description": "The file path of the tagged file.",
                        "x-ms-summary": "File path"
                      },
                      "itemUrl": {
                        "type": "string",
                        "description": "The item Url of the tagged file.",
                        "x-ms-summary": "File item Url"
                      },
                      "docActions": {
                        "type": "string",
                        "description": "DocAction for the file.",
                        "x-ms-summary": "Recorded doc actions"
                      },
                      "remediationActions": {
                        "type": "string",
                        "description": "RemediationActions for the file.",
                        "x-ms-summary": "Remediation actions"
                      },
                      "annotations": {
                        "type": "string",
                        "description": "Annotations for the file.",
                        "x-ms-summary": "Annotations"
                      },
                      "createdDateTimeUtc": {
                        "type": "string",
                        "description": "The timestamp in UTC corresponding to the time when the file was created.",
                        "x-ms-summary": "File created date"
                      },
                      "lastModifiedDateTimeUtc": {
                        "type": "string",
                        "description": "The timestamp in UTC corresponding to the time when the file was last modified.",
                        "x-ms-summary": "File last modify date"
                      },
                      "author": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Author of the file."
                      },
                      "sender": {
                        "type": "string",
                        "description": "The sender of email.",
                        "x-ms-summary": "The sender of the email."
                      },
                      "sitePropertyPath": {
                        "type": "string",
                        "description": "The file path in site property.",
                        "x-ms-summary": "Site property path"
                      },
                      "compoundPath": {
                        "type": "string",
                        "description": "The file compound path.",
                        "x-ms-summary": "Compound path"
                      },
                      "internetMessageId": {
                        "type": "string",
                        "description": "The internet message id for exchange item.",
                        "x-ms-summary": "The internet message id"
                      }
                    },
                    "description": "File properties value."
                  }
                }
              }
            }
          }
        },
        "summary": "Get tagged privacy files",
        "description": "Get a list of tagged privacy files.",
        "operationId": "GetTaggedFiles",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "caseid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of privacy management case.",
            "x-ms-summary": "Case Id"
          },
          {
            "name": "tagName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The name of a tag for privacy file.",
            "x-ms-summary": "Tag Name"
          },
          {
            "name": "pageIndex",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "The page index of the search for tagged privacy files.",
            "x-ms-summary": "Page Index"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The page size of the search for tagged privacy files.",
            "x-ms-summary": "Page Size"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#get-tagged-privacy-files"
        }
      }
    },
    "/{connectionId}/complianceworkbench/api/v1/Cases('{Case_Id}')/Notes": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Add insider risk management case note",
        "description": "Adds a note to the insider risk management case",
        "operationId": "AddIrmCaseNote",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Case_Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an insider risk management case",
            "x-ms-summary": "Case ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "The content of the case note.",
                  "x-ms-summary": "Note content"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#add-insider-risk-management-case-note"
        }
      }
    },
    "/{connectionId}/complianceworkbench/api/v1/Privacycases('{Case_Id}')/Notes": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Add privacy management case note",
        "description": "Adds a note to the privacy management case",
        "operationId": "AddPrivacyCaseNote",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Case_Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of an privacy management case",
            "x-ms-summary": "Case ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "The content of the case note.",
                  "x-ms-summary": "Note content"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#add-privacy-management-case-note"
        }
      }
    },
    "/{connectionId}/complianceworkbench/api/v1/RiskyUsers('{RiskyUser_Id}')": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "riskLevel": {
                  "type": "string",
                  "description": "The risk level associated with the user.",
                  "x-ms-summary": "Risk level"
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "The UPN of the user.",
                  "x-ms-summary": "User principal name"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the user.",
                  "x-ms-summary": "User status"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the user.",
                  "x-ms-summary": "User ID"
                },
                "assignedCase": {
                  "type": "object",
                  "properties": {
                    "caseId": {
                      "type": "string",
                      "description": "The unique identifier of the case associated with the user.",
                      "x-ms-summary": "Case ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the case associated with the user",
                      "x-ms-summary": "Case name"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the case associated with the user",
                      "x-ms-summary": "Case status"
                    }
                  },
                  "description": "The case associated with the user"
                }
              }
            }
          }
        },
        "summary": "Get insider risk management user",
        "description": "Get insider risk management user.",
        "operationId": "GetIrmRiskyUser",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "RiskyUser_Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the insider risk management user.",
            "x-ms-summary": "User ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#get-insider-risk-management-user"
        }
      }
    },
    "/{connectionId}/ComplianceWorkbench/api/v1/Discovery('{caseId}')/WorkingSet('{workingsetId}')/ViolationMetaData('{docId}')": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier for remediation action"
                },
                "policyName": {
                  "type": "string",
                  "description": "The name for the policy which capture the items"
                },
                "violationTime": {
                  "type": "string",
                  "description": "The time when the item happened"
                },
                "violationSource": {
                  "type": "string",
                  "description": "The source through which the item was sent"
                },
                "violatedUserEmail": {
                  "type": "string",
                  "description": "User email address who sent this item"
                }
              }
            }
          }
        },
        "summary": "Get communication compliance violation metadata",
        "operationId": "GetViolationMetadata",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Communication compliance case id",
            "x-ms-summary": "Case id"
          },
          {
            "name": "workingsetId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Communication compliance working set id",
            "x-ms-summary": "Workingset id"
          },
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Communication compliance document id",
            "x-ms-summary": "Document id"
          },
          {
            "name": "flowName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Communication compliance flow name",
            "x-ms-summary": "Flow name"
          }
        ],
        "description": "Get Violation Metadata",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#get-communication-compliance-violation-metadata"
        }
      }
    },
    "/{connectionId}/complianceworkbench/api/v1/Cases('{Case_Id}')": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the case.",
                  "x-ms-summary": "Case name"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the case.",
                  "x-ms-summary": "Case status"
                },
                "resolutionTimeInHours": {
                  "type": "number",
                  "format": "float",
                  "description": "The time elapsed in hours to resolve the case.",
                  "x-ms-summary": "Case resolution time"
                },
                "createdBy": {
                  "type": "string",
                  "description": "The identifier for the user who created the case.",
                  "x-ms-summary": "Created by"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the case.",
                  "x-ms-summary": "Case ID"
                },
                "tenantId": {
                  "type": "string",
                  "description": "The unique identifier of the organization.",
                  "x-ms-summary": "Tenant ID"
                },
                "createdDateTimeUtc": {
                  "type": "string",
                  "description": "The timestamp in UTC corresponding to the time when the case was created.",
                  "x-ms-summary": "Case created timestamp"
                },
                "riskyContentInfo": {
                  "type": "object",
                  "properties": {
                    "labels": {
                      "type": "array",
                      "items": {},
                      "description": "The list of content labels associated with the case.",
                      "x-ms-summary": "Content labels"
                    },
                    "dlpSensitiveTypes": {
                      "type": "array",
                      "items": {},
                      "description": "The list of DLP sensitive info types associated with the case.",
                      "x-ms-summary": "Sensitive info types"
                    },
                    "spoSites": {
                      "type": "array",
                      "items": {},
                      "description": "The list of SharePoint sites associated with the case.",
                      "x-ms-summary": "SharePoint sites"
                    }
                  },
                  "description": "The content associated with the case."
                },
                "closingNote": {
                  "type": "object",
                  "properties": {
                    "closingStatus": {
                      "type": "string",
                      "description": "Resolution status when case closed.",
                      "x-ms-summary": "Resolution reason"
                    },
                    "actionTaken": {
                      "type": "string",
                      "description": "The action taken when case closed.",
                      "x-ms-summary": "Action taken"
                    }
                  },
                  "description": "The closing note for this case."
                },
                "riskyUser": {
                  "type": "object",
                  "properties": {
                    "riskyUserId": {
                      "type": "string",
                      "description": "The unique identifier user associated with the case.",
                      "x-ms-summary": "User ID"
                    },
                    "userPrincipalName": {
                      "type": "string",
                      "description": "The UPN for the user associated with the case.",
                      "x-ms-summary": "User principal name"
                    }
                  },
                  "description": "The user associated with the case."
                },
                "teamInfo": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The Teams ID associated with the case.",
                      "x-ms-summary": "Teams ID"
                    },
                    "displayName": {
                      "type": "string",
                      "description": "Teams display name.",
                      "x-ms-summary": "Teams name"
                    },
                    "webUrl": {
                      "type": "string",
                      "description": "URL for Teams.",
                      "x-ms-summary": "Teams URL"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of Teams.",
                      "x-ms-summary": "Teams status"
                    }
                  },
                  "description": "The Teams information associated with the case."
                }
              }
            }
          }
        },
        "summary": "Get insider risk management case",
        "description": "Get insider risk management case.",
        "operationId": "GetIrmCase",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Case_Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of insider risk management case.",
            "x-ms-summary": "Case ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#get-insider-risk-management-case"
        }
      }
    },
    "/{connectionId}/complianceworkbench/api/v1/PrivacyCases('{Case_Id}')": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the case.",
                  "x-ms-summary": "Case name"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the case.",
                  "x-ms-summary": "Case status"
                },
                "privacyCaseType": {
                  "type": "string",
                  "description": "The type of the case.",
                  "x-ms-summary": "Privacy case type"
                },
                "dsrType": {
                  "type": "string",
                  "description": "The DSR Type of the case.",
                  "x-ms-summary": "DSR type"
                },
                "dsrSource": {
                  "type": "string",
                  "description": "The DSR source of the case.",
                  "x-ms-summary": "DSR source"
                },
                "dsrRegulation": {
                  "type": "string",
                  "description": "The DSR regulation of the case.",
                  "x-ms-summary": "DSR regulation"
                },
                "impactSummary": {
                  "type": "string",
                  "description": "The impact summary of the case.",
                  "x-ms-summary": "Case impact summary"
                },
                "severity": {
                  "type": "string",
                  "description": "The severity of the case.",
                  "x-ms-summary": "Case severity"
                },
                "createdBy": {
                  "type": "string",
                  "description": "The identifier for the user who created the case.",
                  "x-ms-summary": "Created by"
                },
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the case.",
                  "x-ms-summary": "Case ID"
                },
                "tenantId": {
                  "type": "string",
                  "description": "The unique identifier of the organization.",
                  "x-ms-summary": "Tenant ID"
                },
                "createdDateTimeUtc": {
                  "type": "string",
                  "description": "The timestamp in UTC corresponding to the time when the case was created.",
                  "x-ms-summary": "Case created date"
                },
                "dueDateTimeUtc": {
                  "type": "string",
                  "description": "The timestamp in UTC corresponding to the time when the case is due.",
                  "x-ms-summary": "Case due date"
                },
                "closedDateTimeUTC": {
                  "type": "string",
                  "description": "The timestamp in UTC corresponding to the time when the case was closed.",
                  "x-ms-summary": "Case closed date"
                },
                "insight": {
                  "type": "object",
                  "properties": {
                    "filesCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Files count insight.",
                      "x-ms-summary": "Files count"
                    },
                    "fileLocations": {
                      "type": "integer",
                      "format": "int32",
                      "description": "File locations count insight.",
                      "x-ms-summary": "File locations count"
                    },
                    "filesSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Files size insight.",
                      "x-ms-summary": "Files size"
                    },
                    "needReview": {
                      "type": "integer",
                      "format": "int32",
                      "description": "File need review count insight.",
                      "x-ms-summary": "File need review count"
                    },
                    "lastUpdateTimeUtc": {
                      "type": "string",
                      "description": "The timestamp in UTC corresponding to the time when the case was last updated.",
                      "x-ms-summary": "Last update time"
                    },
                    "documentSourceCount": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "Document source count key.",
                            "x-ms-summary": "Document source count key"
                          },
                          "value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Document source count value.",
                            "x-ms-summary": "Document source count value"
                          }
                        },
                        "description": "Document source count insight."
                      }
                    },
                    "conflictTypeCount": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "Conflict type count key.",
                            "x-ms-summary": "Conflict type count key"
                          },
                          "value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Conflict type count value.",
                            "x-ms-summary": "Conflict type count value"
                          }
                        },
                        "description": "Conflict type count insight."
                      }
                    },
                    "reviewStatusCount": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "Review status count key.",
                            "x-ms-summary": "Review status count key"
                          },
                          "value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Review status count value.",
                            "x-ms-summary": "Review status count value"
                          }
                        },
                        "description": "Review status count insight."
                      }
                    }
                  },
                  "description": "Case insight"
                },
                "privacyAdmin": {
                  "type": "object",
                  "properties": {
                    "userObjectId": {
                      "type": "string",
                      "description": "The unique identifier of the privacy admin user.",
                      "x-ms-summary": "Privacy admin user ID"
                    },
                    "userPrincipalName": {
                      "type": "string",
                      "description": "The User Principal Name of the privacy admin user.",
                      "x-ms-summary": "Privacy admin user UPN"
                    }
                  },
                  "description": "Privacy admin info of the case."
                },
                "alertInformation": {
                  "type": "array",
                  "items": {},
                  "description": "Alert information of the case.",
                  "x-ms-summary": "Alert information"
                },
                "stages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the case stage.",
                        "x-ms-summary": "Case stage ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The case stage status.",
                        "x-ms-summary": "Case stage status"
                      }
                    }
                  },
                  "description": "Stages of the case."
                },
                "dataSubject": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier the data subject.",
                      "x-ms-summary": "Data subject ID"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "The last name of the data subject.",
                      "x-ms-summary": "Data subject last name"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "The first name of the data subject.",
                      "x-ms-summary": "Data subject first name"
                    },
                    "residency": {
                      "type": "string",
                      "description": "The residency of the data subject.",
                      "x-ms-summary": "Data subject residency"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email of the data subject.",
                      "x-ms-summary": "Data subject email"
                    },
                    "address": {
                      "type": "string",
                      "description": "The address of the data subject.",
                      "x-ms-summary": "Data subject address"
                    },
                    "additionalInfo": {
                      "type": "object",
                      "properties": {},
                      "description": "The additional info of the data subject.",
                      "x-ms-summary": "Data subject additional info"
                    },
                    "existingDataSubject": {
                      "type": "boolean",
                      "description": "Is an existing data subject.",
                      "x-ms-summary": "Is existing data subject"
                    }
                  },
                  "description": "The data subject user associated with the case."
                },
                "teamInfo": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The Teams ID associated with the case.",
                      "x-ms-summary": "Teams ID"
                    },
                    "displayName": {
                      "type": "string",
                      "description": "Teams display name.",
                      "x-ms-summary": "Teams name"
                    },
                    "webUrl": {
                      "type": "string",
                      "description": "URL for Teams.",
                      "x-ms-summary": "Teams URL"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of Teams.",
                      "x-ms-summary": "Teams status"
                    }
                  },
                  "description": "The Teams information associated with the case."
                }
              }
            }
          }
        },
        "summary": "Get privacy management case",
        "description": "Get privacy management case.",
        "operationId": "GetPrivacyCase",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Case_Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of privacy management case.",
            "x-ms-summary": "Case ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#get-privacy-management-case"
        }
      }
    },
    "/{connectionId}/complianceworkbench/api/v1/Issues": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "severity": {
                        "type": "string",
                        "description": "The severity of the alert.",
                        "x-ms-summary": "Alert severity"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the alert.",
                        "x-ms-summary": "Alert name"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status of the alert.",
                        "x-ms-summary": "Alert status"
                      },
                      "closureReason": {
                        "type": "string",
                        "description": "The closure reason associated with the alert.",
                        "x-ms-summary": "Resolution reason"
                      },
                      "resolutionTimeInHours": {
                        "type": "number",
                        "format": "float",
                        "description": "The total time elapsed in hours to resolve the alert.",
                        "x-ms-summary": "Time to resolve in hours"
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the alert.",
                        "x-ms-summary": "Alert ID"
                      },
                      "tenantId": {
                        "type": "string",
                        "description": "The unique identifier of the organization.",
                        "x-ms-summary": "Tenant ID"
                      },
                      "createdDateTimeUtc": {
                        "type": "string",
                        "description": "The UTC timestamp identifying the creation time of the alert.",
                        "x-ms-summary": "Alert created timestamp"
                      },
                      "assignedCase": {
                        "type": "object",
                        "properties": {
                          "caseId": {
                            "type": "string",
                            "description": "The unique identifier of the case associated with alert.",
                            "x-ms-summary": "Case ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the case associated with alert.",
                            "x-ms-summary": "Case name"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status of the case associated with alert.",
                            "x-ms-summary": "Case status"
                          }
                        },
                        "description": "The case associated with alert."
                      },
                      "violatedPolicy": {
                        "type": "object",
                        "properties": {
                          "policyId": {
                            "type": "string",
                            "description": "The unique identifier of the policy associated with alert.",
                            "x-ms-summary": "Matched policy ID"
                          },
                          "policyName": {
                            "type": "string",
                            "description": "The name of the policy associated with alert.",
                            "x-ms-summary": "Matched policy name"
                          }
                        },
                        "description": "The policy associated with alert."
                      },
                      "riskyUser": {
                        "type": "object",
                        "properties": {
                          "riskyUserId": {
                            "type": "string",
                            "description": "The unique identifier of the user associated with alert.",
                            "x-ms-summary": "User ID"
                          },
                          "userPrincipalName": {
                            "type": "string",
                            "description": "The UPN of the user associated with alert.",
                            "x-ms-summary": "User principal name"
                          }
                        },
                        "description": "The user associated with alert."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get insider risk management alerts for a case",
        "description": "Get insider risk management alerts for a case.",
        "operationId": "GetIrmAlertsForCase",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Case_Id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the case.",
            "x-ms-summary": "Case ID"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#get-insider-risk-management-alerts-for-a-case"
        }
      }
    },
    "/{connectionId}/complianceworkbench/api/v1/Privacy('{Case_Id}')/TranslateId": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The message Id.",
                  "x-ms-summary": "Message Id"
                }
              }
            }
          }
        },
        "summary": "Get translated message Id",
        "description": "Get translated message Id.",
        "operationId": "GetTranslatedId",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Case_Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the case.",
            "x-ms-summary": "Case ID"
          },
          {
            "name": "internetMessageId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The internet message Id for translation.",
            "x-ms-summary": "Internet Message Id"
          },
          {
            "name": "mailAddress",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Mail Address of the exchange mail.",
            "x-ms-summary": "Mail Address"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#get-translated-message-id"
        }
      }
    },
    "/{connectionId}/ComplianceWorkbench/api/v1/PowerAutomateRelabel": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Relabel an item at the end of retention",
        "description": "Relabel an item at the end of retention.",
        "operationId": "ApplyRetentionLabel",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "SiteUrl": {
                  "type": "string",
                  "description": "SharePoint / OneDrive site url. Example: https://contoso.sharepoint.com/sites/sitename",
                  "title": "Site Address",
                  "x-ms-visibility": "important"
                },
                "SiteId": {
                  "type": "string",
                  "description": "SharePoint site id.",
                  "title": "Site Id",
                  "x-ms-visibility": "important"
                },
                "WebId": {
                  "type": "string",
                  "description": "SharePoint web id.",
                  "title": "Web Id",
                  "x-ms-visibility": "important"
                },
                "ListId": {
                  "type": "string",
                  "description": "SharePoint list id.",
                  "title": "List Id",
                  "x-ms-visibility": "important"
                },
                "ItemUniqueId": {
                  "type": "string",
                  "description": "SharePoint item unique Guid or mail internet message Id.",
                  "title": "Item Unique Id",
                  "x-ms-visibility": "important"
                },
                "ContentSourceApplication": {
                  "type": "string",
                  "description": "SharePoint, OneDrive or Exchange",
                  "title": "Workload name",
                  "x-ms-visibility": "important"
                },
                "LabelId": {
                  "type": "string",
                  "description": "Label Id to update the item with.",
                  "title": "Label Id",
                  "x-ms-visibility": "important"
                },
                "UserId": {
                  "type": "string",
                  "description": "User external directory id.",
                  "title": "User Id",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          {
            "name": "X-AedService-Caller",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "InsiderRisk",
            "x-ms-visibility": "internal",
            "description": "Routing header."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#relabel-an-item-at-the-end-of-retention"
        }
      }
    },
    "/{connectionId}/ComplianceWorkbench/api/v1/PowerAutomateDelete": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Deletes the item",
        "description": "Deletes the items.",
        "operationId": "ComplianceDelete",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "SiteUrl": {
                  "type": "string",
                  "description": "SharePoint / OneDrive site url. Example: https://contoso.sharepoint.com/sites/sitename",
                  "title": "Site Address",
                  "x-ms-visibility": "important"
                },
                "SiteId": {
                  "type": "string",
                  "description": "SharePoint site id.",
                  "title": "Site Id",
                  "x-ms-visibility": "important"
                },
                "WebId": {
                  "type": "string",
                  "description": "SharePoint web id.",
                  "title": "Web Id",
                  "x-ms-visibility": "important"
                },
                "ListId": {
                  "type": "string",
                  "description": "SharePoint list id.",
                  "title": "List Id",
                  "x-ms-visibility": "important"
                },
                "ItemUniqueId": {
                  "type": "string",
                  "description": "SharePoint item unique Guid or mail internet message Id.",
                  "title": "Item Unique Id",
                  "x-ms-visibility": "important"
                },
                "ExistingLabelId": {
                  "type": "string",
                  "description": "The existing label id on the item.",
                  "title": "Existing Label Id",
                  "x-ms-visibility": "important"
                },
                "ContentSourceApplication": {
                  "type": "string",
                  "description": "SharePoint, OneDrive or Exchange",
                  "title": "Workload name",
                  "x-ms-visibility": "important"
                },
                "UserId": {
                  "type": "string",
                  "description": "User external directory id.",
                  "title": "User Id",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          {
            "name": "X-AedService-Caller",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "InsiderRisk",
            "x-ms-visibility": "internal",
            "description": "Routing header."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#deletes-the-item"
        }
      }
    },
    "/{connectionId}/ComplianceWorkbench/api/v1/PowerAutomateResetTriggerFlowInfo": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Trigger a new instance of the flow if an item can’t be located",
        "description": "If an item can't be located (for example, if it was moved or renamed), this action attempts to find the item using its ID. If the item is found, the flow's settings are reset and a new instance of the flow will be triggered the next time the retention service runs.",
        "operationId": "ClearTriggerFlowInformation",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "SiteId": {
                  "type": "string",
                  "description": "SharePoint site id.",
                  "title": "Site Id",
                  "x-ms-visibility": "important"
                },
                "WebId": {
                  "type": "string",
                  "description": "SharePoint web id.",
                  "title": "Web Id",
                  "x-ms-visibility": "important"
                },
                "ListId": {
                  "type": "string",
                  "description": "SharePoint list id.",
                  "title": "List Id",
                  "x-ms-visibility": "important"
                },
                "ItemUniqueId": {
                  "type": "string",
                  "description": "SharePoint item unique Guid or mail internet message Id.",
                  "title": "Item Unique Id",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          {
            "name": "X-AedService-Caller",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "InsiderRisk",
            "x-ms-visibility": "internal",
            "description": "Routing header."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#trigger-a-new-instance-of-the-flow-if-an-item-can%E2%80%99t-be-located"
        }
      }
    },
    "/{connectionId}/ComplianceWorkbench/api/v1/PowerAutomateSyncApplyLabel": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "Apply a Retention Label on the item",
        "description": "Apply a Retention Label on the item.",
        "operationId": "ApplyLabelSync",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "SiteUrl": {
                  "type": "string",
                  "description": "SharePoint / OneDrive site url. Example: https://contoso.sharepoint.com/sites/sitename",
                  "title": "Site Address",
                  "x-ms-visibility": "important"
                },
                "LabelName": {
                  "type": "string",
                  "description": "Label name to update the item with.",
                  "title": "Label name",
                  "x-ms-visibility": "important"
                },
                "ListItemId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "SharePoint list item id not GUID.",
                  "title": "ListItem Id",
                  "x-ms-visibility": "important"
                },
                "FolderPath": {
                  "type": "string",
                  "description": "Document folder path.",
                  "title": "Folder Path",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          {
            "name": "X-AedService-Caller",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "InsiderRisk",
            "x-ms-visibility": "internal",
            "description": "Routing header."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#apply-a-retention-label-on-the-item"
        }
      }
    },
    "/{connectionId}/ComplianceWorkbench/api/v1/SubscribePowerAutomateWebHookTrigger": {
      "x-ms-notification-content": {
        "description": "WebhookOuput",
        "schema": {
          "type": "object",
          "properties": {
            "SiteUrl": {
              "type": "string",
              "description": "SharePoint / OneDrive site url. Example: https://contoso.sharepoint.com/sites/sitename",
              "title": "Site Address",
              "x-ms-visibility": "important"
            },
            "ListName": {
              "type": "string",
              "description": "SharePoint list name.",
              "title": "List Name",
              "x-ms-visibility": "important"
            },
            "FolderPath": {
              "type": "string",
              "description": "Document folder path.",
              "title": "Folder Path",
              "x-ms-visibility": "important"
            },
            "DocumentName": {
              "type": "string",
              "description": "Document name.",
              "title": "Document Name",
              "x-ms-visibility": "important"
            },
            "SiteId": {
              "type": "string",
              "description": "SharePoint site id.",
              "title": "Site Id",
              "x-ms-visibility": "important"
            },
            "WebId": {
              "type": "string",
              "description": "SharePoint web id.",
              "title": "Web Id",
              "x-ms-visibility": "important"
            },
            "ListId": {
              "type": "string",
              "description": "SharePoint list id.",
              "title": "List Id",
              "x-ms-visibility": "important"
            },
            "ItemUniqueId": {
              "type": "string",
              "description": "SharePoint item unique Guid or mail internet message Id.",
              "title": "Item Unique Id",
              "x-ms-visibility": "important"
            },
            "ListItemId": {
              "type": "integer",
              "format": "int32",
              "description": "SharePoint list item id not GUID.",
              "title": "ListItem Id",
              "x-ms-visibility": "important"
            },
            "LibraryName": {
              "type": "string",
              "description": "SharePoint library name.",
              "title": "Library Name",
              "x-ms-visibility": "important"
            },
            "Workload": {
              "type": "string",
              "description": "SharePoint, OneDrive or Exchange.",
              "title": "Workload name",
              "x-ms-visibility": "important"
            },
            "ExistingLabelId": {
              "type": "string",
              "description": "The existing label id on the item.",
              "title": "Existing Label Id",
              "x-ms-visibility": "important"
            },
            "UserId": {
              "type": "string",
              "description": "User external directory id.",
              "title": "User Id",
              "x-ms-visibility": "important"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          }
        },
        "summary": "When an item reaches end of its retention period",
        "description": "Triggers when a SharePoint, OneDrive or Exchange item (which has a retention label applied to it ) reaches the end of its established retention period. When using this trigger, the retention label configuration must be set to trigger this action at the end of the period as well.",
        "operationId": "OnRetentionLabelExpired",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "Callback url for the webhook API which gets called to invoke flow at the end of retention",
                  "title": "CallbackUrl",
                  "default": "DefaultCallbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          },
          {
            "name": "X-AedService-Caller",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "InsiderRisk",
            "x-ms-visibility": "internal",
            "description": "Routing header."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#when-an-item-reaches-end-of-its-retention-period"
        }
      }
    },
    "/{connectionId}/ComplianceWorkbench/api/v1/UnSubscribePowerAutomateWebHookTrigger": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Unsubscribe OnRetentionLabelExpired trigger",
        "description": "Unsubscribe OnRetentionLabelExpired trigger.",
        "operationId": "UnsubscribeOnRetentionLabelExpired",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "X-AedService-Caller",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "InsiderRisk",
            "x-ms-visibility": "internal",
            "description": "Routing header."
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#unsubscribe-onretentionlabelexpired-trigger"
        }
      }
    },
    "/{connectionId}/hybridtriggers/onIRMCaseSelected": {
      "get": {
        "tags": [
          "onIRMCaseSelected"
        ],
        "summary": "When insider risk management case is selected",
        "description": "For internal use with the visual button hybrid trigger.",
        "x-ms-visibility": "internal",
        "operationId": "OnIRMCaseSelected",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "caseId": {
                  "type": "string",
                  "description": "The unique identifier of the case.",
                  "x-ms-summary": "Case ID"
                },
                "caseUrl": {
                  "type": "string",
                  "description": "Link to insider risk case.",
                  "x-ms-summary": "Case URL"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#when-insider-risk-management-case-is-selected"
        }
      }
    },
    "/{connectionId}/hybridtriggers/onIRMRiskyUserSelected": {
      "get": {
        "tags": [
          "onIRMRiskyUserSelected"
        ],
        "summary": "When insider risk management risky user is selected",
        "description": "For internal use with the visual button hybrid trigger.",
        "x-ms-visibility": "internal",
        "operationId": "OnIRMRiskyUserSelected",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "riskyUserId": {
                  "type": "string",
                  "description": "The unique identifier of the risky user",
                  "x-ms-summary": "User ID"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#when-insider-risk-management-risky-user-is-selected"
        }
      }
    },
    "/{connectionId}/hybridtriggers/onIRMItemSelected": {
      "get": {
        "tags": [
          "onIRMItemSelected"
        ],
        "summary": "When insider risk management item is selected",
        "description": "For internal use with the visual button hybrid trigger.",
        "x-ms-visibility": "internal",
        "operationId": "OnIRMItemSelected",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "caseId": {
                  "type": "string",
                  "description": "The unique identifier of the case",
                  "x-ms-summary": "Case ID"
                },
                "itemId": {
                  "type": "string",
                  "description": "The unique identifier of the item",
                  "x-ms-summary": "Item ID"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#when-insider-risk-management-item-is-selected"
        }
      }
    },
    "/{connectionId}/hybridtriggers/onCCItemSelected": {
      "get": {
        "tags": [
          "onCCItemSelected"
        ],
        "summary": "When an Communication Compliance Item Selected",
        "description": "For internal use with the visual button hybrid trigger.",
        "x-ms-visibility": "internal",
        "operationId": "OnCCItemSelected",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "caseId": {
                  "type": "string",
                  "description": "The unique identifier of the case"
                },
                "workingsetId": {
                  "type": "string",
                  "description": "The unique identifier of the workingset"
                },
                "itemId": {
                  "type": "string",
                  "description": "The unique identifier of the item"
                },
                "flowName": {
                  "type": "string",
                  "description": "The name of flow which is run"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#when-an-communication-compliance-item-selected"
        }
      }
    },
    "/{connectionId}/hybridtriggers/onPrivacyCaseSelected": {
      "get": {
        "tags": [
          "onPrivacyCaseSelected"
        ],
        "summary": "When privacy management case is selected",
        "description": "For internal use with the visual button hybrid trigger.",
        "x-ms-visibility": "internal",
        "operationId": "OnPrivacyCaseSelected",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "caseId": {
                  "type": "string",
                  "description": "The unique identifier of the case.",
                  "x-ms-summary": "Case ID"
                },
                "caseUrl": {
                  "type": "string",
                  "description": "Link to privacy case.",
                  "x-ms-summary": "Case URL"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/microsoft365compliance/#when-privacy-management-case-is-selected"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://compliance.microsoft.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/microsoft365compliance"
  }
}
