{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Azure Automation",
    "description": "Azure Automation provides tools to manage your cloud and on-premises infrastructure seamlessly.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "description": "Gets a list of all the subscriptions to which the principal has access.",
        "operationId": "Subscriptions_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-api-version",
            "in": "query",
            "x-ms-summary": "API Version",
            "x-ms-test-value": "2015-11-01",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "2015-11-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#list-subscriptions"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "summary": "List resource groups",
        "description": "Lists all the resource groups within the subscription. Paginates at 1,000 records.",
        "operationId": "ResourceGroups_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroupListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#list-resource-groups"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts": {
      "get": {
        "summary": "List Automation accounts",
        "description": "Lists Azure Automation accounts in a resource group.",
        "operationId": "AutomationAccounts_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of automation accounts",
            "schema": {
              "$ref": "#/definitions/AutomationAccountResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#list-automation-accounts"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/jobs/{jobId}/output": {
      "get": {
        "summary": "Get job output",
        "description": "Get outputs of an Azure Automation job.",
        "operationId": "GetJobOutput",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "binary",
              "x-ms-summary": "Content",
              "description": "Runbook content from the job"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#get-job-output"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/jobs/{jobId}": {
      "get": {
        "summary": "Get status of job",
        "description": "Get Status of a Job",
        "operationId": "GetStatusOfJob",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateJobResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#get-status-of-job"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/jobs/{jobId}/wait": {
      "get": {
        "summary": "Wait for job",
        "description": "Wait for a running job to complete.",
        "operationId": "WaitJob",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/JobIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateJobResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#wait-for-job"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks": {
      "get": {
        "summary": "List runbooks",
        "description": "Lists Azure Automation runbooks in an automation account.",
        "operationId": "Runbooks_List",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of automation runbooks.",
            "schema": {
              "$ref": "#/definitions/RunbookListResults"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#list-runbooks"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/runbooks/{runbookName}": {
      "get": {
        "summary": "Get runbook",
        "description": "Get information on an Azure Automation runbook.",
        "operationId": "GetRunbook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountParameter"
          },
          {
            "name": "runbookName",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Runbook Name",
            "description": "The name of the Azure Automation runbook."
          }
        ],
        "responses": {
          "200": {
            "description": "List of automation runbooks.",
            "schema": {
              "$ref": "#/definitions/RunbookListResults"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#get-runbook"
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccount}/jobs": {
      "put": {
        "summary": "Create job",
        "description": "Create Job to run on hybrid worker",
        "operationId": "CreateJob",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AutomationAccountParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/RunbookNameParameter"
          },
          {
            "$ref": "#/parameters/CreateJobBodyParameter"
          },
          {
            "name": "wait",
            "in": "query",
            "required": false,
            "description": "Wait for the job to finish before completing the action.",
            "x-ms-summary": "Wait for Job",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateJobResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureautomation/#create-job"
        }
      }
    }
  },
  "definitions": {
    "AutomationAccountResponse": {
      "type": "object",
      "properties": {
        "value": {
          "description": "value",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Name of the Azure Automation account.",
                "type": "string",
                "x-ms-summary": "Automation account Name",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "SubscriptionListResult": {
      "description": "Subscription list operation response.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The subscriptions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "Subscription": {
      "description": "Subscription information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The fully qualified Id. For example, /subscriptions/00000000-0000-0000-0000-000000000000.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "subscriptionId": {
          "description": "The subscription Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Subscription Id"
        },
        "tenantId": {
          "description": "The tenant Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Tenant Id"
        },
        "displayName": {
          "description": "The subscription display name.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Display Name"
        },
        "state": {
          "description": "The subscription state.",
          "enum": [
            "Enabled",
            "Warned",
            "PastDue",
            "Disabled",
            "Deleted"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "State",
          "x-ms-enum": {
            "name": "SubscriptionState",
            "modelAsString": false
          }
        },
        "authorizationSource": {
          "description": "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'.",
          "type": "string",
          "x-ms-summary": "Authorization Source",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ResourceGroupListResult": {
      "description": "List of resource groups.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of resource groups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceGroup"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ResourceGroup": {
      "description": "Resource group information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource group (e.g. /subscriptions/XXX/resourceGroups/YYY).",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "managedBy": {
          "description": "Id of the resource that manages this resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Managed By"
        }
      }
    },
    "RunbookListResults": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Name of the Automation runbook.",
                "type": "string",
                "x-ms-summary": "Runbook Name"
              }
            }
          }
        }
      }
    },
    "CreateJobResponse": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource ID of the Job",
          "type": "string",
          "x-ms-summary": "Resource ID",
          "x-ms-visibility": "advanced"
        },
        "properties": {
          "description": "properties",
          "type": "object",
          "properties": {
            "jobId": {
              "description": "GUID for the Job ID.",
              "type": "string",
              "x-ms-summary": "Job ID"
            },
            "provisioningState": {
              "description": "Provisioning state for the job.",
              "type": "string",
              "x-ms-summary": "Provisioning State"
            },
            "creationTime": {
              "format": "date-time",
              "description": "Creation time for the job.",
              "type": "string",
              "x-ms-summary": "Creation Time",
              "x-ms-visibility": "advanced"
            },
            "endTime": {
              "format": "date-time",
              "description": "Time the job completed.",
              "type": "string",
              "x-ms-summary": "End Time"
            },
            "startTime": {
              "format": "date-time",
              "description": "Time the job started.",
              "type": "string",
              "x-ms-summary": "Start Time"
            },
            "status": {
              "description": "Status of the job.",
              "type": "string",
              "x-ms-summary": "Status"
            },
            "statusDetails": {
              "description": "Details on the status of the job.",
              "type": "string",
              "x-ms-summary": "Status Details",
              "x-ms-visibility": "advanced"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "JobIdParameter": {
      "name": "jobId",
      "in": "path",
      "x-ms-summary": "Job ID",
      "x-ms-test-value": "35cd6feb-6959-49fa-ab0d-3de325720ce7",
      "required": true,
      "description": "GUID for the ID of the run.",
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "x-ms-api-version",
      "in": "query",
      "x-ms-summary": "API Version",
      "x-ms-test-value": "2015-10-31",
      "x-ms-visibility": "internal",
      "type": "string",
      "default": "2015-10-31"
    },
    "AutomationAccountParameter": {
      "name": "automationAccount",
      "in": "path",
      "description": "The name of the Azure Automation Account.",
      "required": true,
      "x-ms-summary": "Automation Account",
      "x-ms-test-value": "automation-jeff",
      "x-ms-dynamic-values": {
        "operationId": "AutomationAccounts_List",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2015-10-31",
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          }
        }
      },
      "type": "string"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The unique identifier for the Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource.",
      "required": true,
      "x-ms-summary": "Subscription",
      "x-ms-test-value": "80d4fe69-c95b-4dd2-a938-9250f1c8ab03",
      "x-ms-dynamic-values": {
        "operationId": "Subscriptions_List",
        "value-collection": "value",
        "value-path": "subscriptionId",
        "value-title": "displayName",
        "parameters": {
          "x-ms-api-version": "2016-06-01"
        }
      },
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the Azure Resource Group.",
      "required": true,
      "x-ms-summary": "Resource Group",
      "x-ms-test-value": "connector-azureautomation",
      "x-ms-dynamic-values": {
        "operationId": "ResourceGroups_List",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2016-06-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          }
        }
      },
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+$"
    },
    "RunbookNameParameter": {
      "name": "runbookName",
      "description": "Name of the runbook to run.",
      "in": "query",
      "type": "string",
      "x-ms-summary": "Runbook Name",
      "x-ms-test-value": "test",
      "x-ms-dynamic-values": {
        "operationId": "Runbooks_List",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "x-ms-api-version": "2015-10-31",
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          },
          "automationAccount": {
            "parameter": "automationAccount"
          }
        }
      }
    },
    "CreateJobBodyParameter": {
      "name": "body",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "properties": {
            "type": "object",
            "properties": {
              "parameters": {
                "type": "object",
                "x-ms-summary": "Runbook Parameters",
                "x-ms-dynamic-schema": {
                  "operationId": "GetRunbook",
                  "parameters": {
                    "x-ms-api-version": "2015-10-31",
                    "subscriptionId": {
                      "parameter": "subscriptionId"
                    },
                    "resourceGroupName": {
                      "parameter": "resourceGroupName"
                    },
                    "automationAccount": {
                      "parameter": "automationAccount"
                    },
                    "runbookName": {
                      "parameter": "runbookName"
                    }
                  },
                  "value-path": "schema"
                }
              },
              "runOn": {
                "description": "Worker group to run on.",
                "type": "string",
                "x-ms-summary": "Hybrid Automation Worker Group",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    }
  },
  "x-ms-capabilities": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/automation/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azureautomation"
  },
  "basePath": "/apim/azureautomation"
}
