{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-01",
    "title": "ARM",
    "description": "Azure Resource Manager exposes the APIs to manage all of your Azure resources.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dancharttest",
  "schemes": [
    "https",
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "AAD": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "paths": {
    "/{connectionId}/subscriptions/{subscriptionId}/locations": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_ListLocations",
        "summary": "Lists the subscription locations",
        "description": "Lists the locations available for the subscription.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocationListResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_Get",
        "summary": "Read a subscription",
        "description": "Reads the details for a particular subscription.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_List",
        "summary": "List subscriptions",
        "description": "Gets a list of all the subscriptions to which the principal has access.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/operationResults/{operationResult}": {
      "get": {
        "tags": [
          "AsyncOperations"
        ],
        "operationId": "AsyncOperations_Get",
        "summary": "Reads an async operation (internal)",
        "description": "Reads an async operation (internal).",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "operationResult",
            "in": "path",
            "description": "The operation result Id.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Async operations response.",
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}": {
      "delete": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Delete",
        "summary": "Delete template deployment",
        "description": "Deletes a resource group template deployment. The resources will not be deleted; only the metadata about the template deployment.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_CreateOrUpdate",
        "summary": "Create or update a template deployment",
        "description": "Create or update a named resource group template deployment. A template and parameters are expected for the request to succeed.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "deploymentName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deployment.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            },
            "description": "Additional parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Get",
        "summary": "Read a template deployment",
        "description": "Reads a template deployment within a resource group.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentExtended"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Cancel",
        "summary": "Cancel a template deployment",
        "description": "Cancel a currently running template deployment. All pending template operations will be suspended.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_Validate",
        "summary": "Validate a template deployment",
        "description": "Validates a deployment template. This operation does not have side effects and can be used to test a template deployment for syntax or logical errors.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Deployment to validate.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Deployment"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentValidateResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/DeploymentValidateResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_ExportTemplate",
        "summary": "Export deployment template",
        "description": "Exports a template from a past resource group deployment.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentExportResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/": {
      "get": {
        "tags": [
          "Deployments"
        ],
        "operationId": "Deployments_List",
        "summary": "List template deployments",
        "description": "Lists all the resource group template deployments. This operation is useful to know what has been provisioned thus far.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentListResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}": {
      "get": {
        "tags": [
          "DeploymentOperations"
        ],
        "operationId": "DeploymentOperations_Get",
        "summary": "Read a template deployment operation",
        "description": "Reads a particular resource group template deployment operation. This is useful for troubleshooting failed template deployments.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Operation Id.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentOperation"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations": {
      "get": {
        "tags": [
          "DeploymentOperations"
        ],
        "operationId": "DeploymentOperations_List",
        "summary": "Lists template deployment operations",
        "description": "Lists all the template deployment operations. This is useful for troubleshooting failed template deployments.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DeploymentNameParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeploymentOperationsListResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister": {
      "post": {
        "tags": [
          "Providers"
        ],
        "operationId": "Providers_Unregister",
        "summary": "Unregister resource provider",
        "description": "Unregisters provider from a subscription. This operation will fail if there are any resources from that resource provider in the subscription.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register": {
      "post": {
        "tags": [
          "Providers"
        ],
        "operationId": "Providers_Register",
        "summary": "Register resource provider",
        "description": "Registers a resource provider to be used with a subscription. This will provision permissions for the service into your subscription.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/providers": {
      "get": {
        "tags": [
          "Providers"
        ],
        "operationId": "Providers_List",
        "summary": "List resource providers",
        "description": "Lists the resource providers available for the subscription.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProviderListResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}": {
      "get": {
        "tags": [
          "Providers"
        ],
        "operationId": "Providers_Get",
        "summary": "Read resource provider",
        "description": "Reads a particular resource provider within the subscription.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Provider"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources": {
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_ListResources",
        "summary": "List resources by resource group",
        "description": "Lists all the resources under a resource group.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceListResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}": {
      "put": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_CreateOrUpdate",
        "summary": "Create or update a resource group",
        "description": "Creates or updates a resource group. The response code will indicate if it were a create or update.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group to be created or updated.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90,
            "x-ms-summary": "Resource Group Name"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update resource group service operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "delete": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_Delete",
        "summary": "Delete a resource group",
        "description": "Delete a particular resource group within the subscription.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_Get",
        "summary": "Read a resource group",
        "description": "Reads a particular resource group within the subscription.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_Patch",
        "summary": "Update an existing resource group",
        "description": "Updates an existing resource group. If the resource does not exist, this request will fail.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the update state resource group service operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroup"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate": {
      "post": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_ExportTemplate",
        "summary": "Export a resource group template",
        "description": "Exports a deployment template from an existing resource group. This can only be successful if the underlying resources have a schema defined by Microsoft.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the export template resource group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportTemplateRequest"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroupExportResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "operationId": "ResourceGroups_List",
        "summary": "List resource groups",
        "description": "Lists all the resource groups within the subscription. Paginates at 1,000 records.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroupListResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resources": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_List",
        "summary": "List resources by subscription",
        "description": "Reads all of the resources under a particular subscription. The results are paginated at 1,000+ records.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceListResult"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{shortResourceId}": {
      "delete": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_DeleteById",
        "summary": "Delete a resource.",
        "description": "Deletes a resource.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ShortResourceIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-long-running-operation": true
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_CreateOrUpdateById",
        "summary": "Create or update a resource",
        "description": "Creates or updates a resource. The response code can be used to distinguish between a create (201) or update (200).",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ShortResourceIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Create or update resource parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "Resources_GetById",
        "summary": "Read a resource",
        "description": "Reads a resource object.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ShortResourceIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceProviderApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GenericResource"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}": {
      "delete": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_DeleteValue",
        "summary": "Delete a subscription resource tag value",
        "description": "Delete a subscription resource tag value.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TagNameParameter"
          },
          {
            "$ref": "#/parameters/TagValueParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      },
      "put": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_CreateOrUpdateValue",
        "summary": "Create or update a subscription resource tag value",
        "description": "Create or update a subscription resource tag value.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TagNameParameter"
          },
          {
            "$ref": "#/parameters/TagValueParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TagValue"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TagValue"
            }
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/tagNames/{tagName}": {
      "put": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_CreateOrUpdate",
        "summary": "Create or update a subscription resource tag name",
        "description": "Create or update a subscription resource tag name.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "tagName",
            "in": "path",
            "description": "The name of the tag.",
            "required": true,
            "x-ms-summary": "Tag Name",
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TagDetails"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TagDetails"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_Delete",
        "summary": "Delete a subscription resource tag name",
        "description": "Delete a subscription resource tag name.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TagNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/{connectionId}/subscriptions/{subscriptionId}/tagNames": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_List",
        "summary": "List subscription resource tags",
        "description": "Lists all the subscription resource tags.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TagsListResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Location": {
      "description": "Location information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The fully qualified Id of the location. For example, /subscriptions/00000000-0000-0000-0000-000000000000/locations/westus.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "subscriptionId": {
          "description": "The subscription Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Subscription Id"
        },
        "name": {
          "description": "The location name.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Location Name"
        },
        "displayName": {
          "description": "The display name of the location.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Display Name"
        },
        "latitude": {
          "description": "The latitude of the location.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Latitude"
        },
        "longitude": {
          "description": "The longitude of the location.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Longitude"
        }
      }
    },
    "LocationListResult": {
      "description": "Location list operation response.",
      "properties": {
        "value": {
          "description": "The locations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          }
        }
      },
      "type": "object"
    },
    "Subscription": {
      "description": "Subscription information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The fully qualified Id. For example, /subscriptions/00000000-0000-0000-0000-000000000000.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "subscriptionId": {
          "description": "The subscription Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Subscription Id"
        },
        "tenantId": {
          "description": "The tenant Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Tenant Id"
        },
        "displayName": {
          "description": "The subscription display name.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Display Name"
        },
        "state": {
          "description": "The subscription state.",
          "enum": [
            "Enabled",
            "Warned",
            "PastDue",
            "Disabled",
            "Deleted"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "State",
          "x-ms-enum": {
            "name": "SubscriptionState",
            "modelAsString": false
          }
        },
        "subscriptionPolicies": {
          "$ref": "#/definitions/SubscriptionPolicies"
        },
        "authorizationSource": {
          "description": "The authorization source of the request. Valid values are one or more combinations of Legacy, RoleBased, Bypassed, Direct and Management. For example, 'Legacy, RoleBased'.",
          "type": "string",
          "x-ms-summary": "Authorization Source",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SubscriptionPolicies": {
      "description": "Subscription policies.",
      "type": "object",
      "properties": {
        "locationPlacementId": {
          "description": "The subscription location placement Id. The Id indicates which regions are visible for a subscription. For example, a subscription with a location placement Id of Public_2014-09-01 has access to Azure public regions.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Location Placement Id",
          "x-ms-visibility": "advanced"
        },
        "quotaId": {
          "description": "The subscription quota Id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Quota Id",
          "x-ms-visibility": "advanced"
        },
        "spendingLimit": {
          "description": "The subscription spending limit.",
          "enum": [
            "On",
            "Off",
            "CurrentPeriodOff"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "spendingLimit",
            "modelAsString": false
          },
          "x-ms-summary": "Spending Limit",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-summary": "Subscription Policies",
      "x-ms-visibility": "advanced"
    },
    "SubscriptionListResult": {
      "description": "Subscription list operation response.",
      "required": [
        "nextLink"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "The subscriptions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "TemplateLink": {
      "description": "Entity representing the reference to the template.",
      "required": [
        "uri"
      ],
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI referencing the template.",
          "type": "string",
          "x-ms-summary": "Template URI"
        },
        "contentVersion": {
          "description": "If included it must match the ContentVersion in the template.",
          "type": "string",
          "x-ms-summary": "Template Content Version"
        }
      }
    },
    "ParametersLink": {
      "description": "Entity representing the reference to the deployment paramaters.",
      "required": [
        "uri"
      ],
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI referencing the template.",
          "type": "string",
          "x-ms-summary": "Parameters URI"
        },
        "contentVersion": {
          "description": "If included it must match the ContentVersion in the template.",
          "type": "string",
          "x-ms-summary": "Parameters Content Version"
        }
      }
    },
    "DeploymentProperties": {
      "description": "Deployment properties.",
      "required": [
        "mode"
      ],
      "type": "object",
      "properties": {
        "template": {
          "description": "The template content. It can be a JObject or a well formed JSON string. Use only one of Template or TemplateLink.",
          "type": "object"
        },
        "templateLink": {
          "$ref": "#/definitions/TemplateLink"
        },
        "parameters": {
          "description": "Deployment parameters. It can be a JObject or a well formed JSON string. Use only one of Parameters or ParametersLink.",
          "type": "object"
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink"
        },
        "mode": {
          "description": "The deployment mode.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DeploymentMode",
            "modelAsString": false
          }
        },
        "debugSetting": {
          "$ref": "#/definitions/DebugSetting"
        }
      }
    },
    "DebugSetting": {
      "type": "object",
      "properties": {
        "detailLevel": {
          "description": "The debug detail level.",
          "type": "string",
          "x-ms-client-flatten": true
        }
      }
    },
    "Deployment": {
      "description": "Deployment operation parameters.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeploymentProperties"
        }
      }
    },
    "DeploymentExportResult": {
      "description": "The deployment export result. ",
      "type": "object",
      "properties": {
        "template": {
          "description": "The template content.",
          "type": "object",
          "x-ms-summary": "Template"
        }
      }
    },
    "ResourceManagementErrorWithDetails": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code returned from the server.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The error message returned from the server.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Validation error.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceManagementErrorWithDetails"
          },
          "readOnly": true
        }
      }
    },
    "AliasPathType": {
      "description": "The type of the paths for alias. ",
      "type": "object",
      "properties": {
        "path": {
          "description": "The path of an alias.",
          "type": "string"
        },
        "apiVersions": {
          "description": "The api versions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AliasType": {
      "description": "The alias type. ",
      "type": "object",
      "properties": {
        "name": {
          "description": "The alias name.",
          "type": "string"
        },
        "paths": {
          "description": "The paths for an alias.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AliasPathType"
          }
        }
      }
    },
    "ProviderResourceType": {
      "description": "Resource type managed by the resource provider.",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "The resource type.",
          "type": "string"
        },
        "locations": {
          "description": "The collection of locations where this resource type can be created in.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "aliases": {
          "description": "The aliases that are supported by this resource type.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AliasType"
          }
        },
        "apiVersions": {
          "description": "The api version.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "properties": {
          "description": "The properties.",
          "type": "object",
          "additionalProperties": {
            "description": "The additional properties. ",
            "type": "string"
          }
        }
      }
    },
    "Provider": {
      "description": "Resource provider information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The provider id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "namespace": {
          "description": "The namespace of the provider.",
          "type": "string",
          "x-ms-summary": "Namespace"
        },
        "registrationState": {
          "description": "The registration state of the provider.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Registration State"
        },
        "resourceTypes": {
          "description": "The collection of provider resource types.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProviderResourceType"
          },
          "readOnly": true,
          "x-ms-summary": "Resource Type"
        }
      }
    },
    "BasicDependency": {
      "description": "Deployment dependency information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the dependency.",
          "type": "string"
        },
        "resourceType": {
          "description": "The dependency resource type.",
          "type": "string"
        },
        "resourceName": {
          "description": "The dependency resource name.",
          "type": "string"
        }
      }
    },
    "Dependency": {
      "description": "Deployment dependency information.",
      "type": "object",
      "properties": {
        "dependsOn": {
          "description": "The list of dependencies.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BasicDependency"
          }
        },
        "id": {
          "description": "The ID of the dependency.",
          "type": "string"
        },
        "resourceType": {
          "description": "The dependency resource type.",
          "type": "string"
        },
        "resourceName": {
          "description": "The dependency resource name.",
          "type": "string"
        }
      }
    },
    "DeploymentPropertiesExtended": {
      "description": "Deployment properties with additional details.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The state of the provisioning.",
          "type": "string",
          "readOnly": true
        },
        "correlationId": {
          "description": "The correlation ID of the deployment.",
          "type": "string",
          "readOnly": true
        },
        "timestamp": {
          "format": "date-time",
          "description": "The timestamp of the template deployment.",
          "type": "string",
          "readOnly": true
        },
        "outputs": {
          "description": "Key/value pairs that represent deploymentoutput.",
          "type": "object",
          "readOnly": true
        },
        "providers": {
          "description": "The list of resource providers needed for the deployment.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          },
          "readOnly": true
        },
        "dependencies": {
          "description": "The list of deployment dependencies.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dependency"
          },
          "readOnly": true
        },
        "template": {
          "description": "The template content. Use only one of Template or TemplateLink.",
          "type": "object"
        },
        "templateLink": {
          "$ref": "#/definitions/TemplateLink"
        },
        "parameters": {
          "description": "Deployment parameters. Use only one of Parameters or ParametersLink.",
          "type": "object"
        },
        "parametersLink": {
          "$ref": "#/definitions/ParametersLink"
        },
        "mode": {
          "description": "The deployment mode.",
          "enum": [
            "Incremental",
            "Complete"
          ],
          "type": "string"
        },
        "debugSetting": {
          "$ref": "#/definitions/DebugSetting"
        }
      }
    },
    "DeploymentValidateResult": {
      "description": "Information from validate template deployment response.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ResourceManagementErrorWithDetails",
          "description": "Validation error.",
          "x-ms-summary": "Error"
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended",
          "description": "The template deployment properties.",
          "x-ms-summary": "Properties"
        }
      }
    },
    "DeploymentExtended": {
      "description": "Deployment information.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the deployment.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The name of the deployment.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "properties": {
          "$ref": "#/definitions/DeploymentPropertiesExtended"
        }
      }
    },
    "DeploymentListResult": {
      "description": "List of deployments.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentExtended"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ProviderListResult": {
      "description": "List of resource providers.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of resource providers.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Provider"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GenericResource": {
      "description": "Resource information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource Id",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "Resource name",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "type": {
          "description": "Resource type",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Type"
        },
        "location": {
          "description": "Resource location",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "Subscriptions_ListLocations",
            "value-collection": "value",
            "value-path": "name",
            "value-title": "displayName",
            "parameters": {
              "api-version": "2016-06-01",
              "subscriptionId": {
                "parameter": "subscriptionId"
              }
            }
          },
          "x-ms-summary": "Location"
        },
        "tags": {
          "description": "Resource tags",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-summary": "Tags"
        },
        "plan": {
          "$ref": "#/definitions/Plan"
        },
        "kind": {
          "description": "The kind of the resource.",
          "pattern": "^[-\\w\\._,\\(\\)]+$",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Kind"
        },
        "managedBy": {
          "description": "Id of the resource that manages this resource.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Managed By"
        },
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "identity": {
          "$ref": "#/definitions/Identity"
        },
        "properties": {
          "description": "The resource properties.",
          "type": "object",
          "x-ms-summary": "Properties"
        }
      }
    },
    "Plan": {
      "description": "Plan for the resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The plan ID.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "publisher": {
          "description": "The publisher ID.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Publisher"
        },
        "product": {
          "description": "The offer ID.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Product"
        },
        "promotionCode": {
          "description": "The promotion code.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Promotion Code"
        }
      }
    },
    "Sku": {
      "description": "Sku for the resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The sku name.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Name"
        },
        "tier": {
          "description": "The sku tier.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Tier"
        },
        "size": {
          "description": "The sku size.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Size"
        },
        "family": {
          "description": "The sku family.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Family"
        },
        "model": {
          "description": "The sku model.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Model"
        },
        "capacity": {
          "format": "int32",
          "description": "The sku capacity.",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Capacity"
        }
      },
      "x-ms-summary": "SKU"
    },
    "Identity": {
      "description": "Identity for the resource.",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The principal id of resource identity.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Principal Id"
        },
        "tenantId": {
          "description": "The tenant id of resource.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Tenant Id"
        },
        "type": {
          "description": "The identity type.",
          "enum": [
            "SystemAssigned"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Type"
        }
      },
      "x-ms-summary": "Identity"
    },
    "ResourceListResult": {
      "description": "List of resource groups.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericResource"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ResourceGroup": {
      "description": "Resource group information.",
      "required": [
        "location"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource group (e.g. /subscriptions/XXX/resourceGroups/YYY).",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "The Name of the resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Name"
        },
        "location": {
          "description": "The location of the resource group. It cannot be changed after the resource group has been created. Has to be one of the supported Azure Locations, such as West US, East US, West Europe, East Asia, etc.",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "Subscriptions_ListLocations",
            "value-collection": "value",
            "value-path": "name",
            "value-title": "displayName",
            "parameters": {
              "api-version": "2016-06-01",
              "subscriptionId": {
                "parameter": "subscriptionId"
              }
            }
          },
          "x-ms-summary": "Location"
        },
        "managedBy": {
          "description": "Id of the resource that manages this resource group.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Managed By"
        },
        "tags": {
          "description": "The tags attached to the resource group.",
          "type": "object",
          "additionalProperties": {
            "description": "The additional properties. ",
            "type": "string"
          },
          "x-ms-summary": "Tags"
        },
        "properties": {
          "$ref": "#/definitions/ResourceGroupProperties"
        }
      }
    },
    "ResourceGroupProperties": {
      "description": "The resource group properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Provisioning State"
        }
      },
      "readOnly": true
    },
    "ResourceGroupListResult": {
      "description": "List of resource groups.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of resource groups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceGroup"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ExportTemplateRequest": {
      "description": "Export resource group template request parameters.",
      "type": "object",
      "properties": {
        "resources": {
          "description": "The ids of the resources. The only supported string currently is '*' (all resources). Future api updates will support exporting specific resources.",
          "enum": [
            "*"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "description": "The export template options. Supported values include 'IncludeParameterDefaultValue', 'IncludeComments' or 'IncludeParameterDefaultValue, IncludeComments",
          "enum": [
            "IncludeParameterDefaultValue",
            "IncludeComments",
            "IncludeParameterDefaultValue, IncludeComments"
          ],
          "type": "string"
        }
      }
    },
    "TagCount": {
      "description": "Tag count.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of count.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        },
        "value": {
          "description": "Value of count.",
          "type": "string",
          "x-ms-summary": "Value",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-summary": "Tag Count",
      "x-ms-visibility": "advanced"
    },
    "TagValue": {
      "description": "Tag information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The tag ID.",
          "type": "string",
          "x-ms-summary": "Tag Id",
          "x-ms-visibility": "advanced"
        },
        "tagValue": {
          "description": "The tag value.",
          "type": "string",
          "x-ms-summary": "Tag Value",
          "x-ms-visibility": "advanced"
        },
        "count": {
          "$ref": "#/definitions/TagCount"
        }
      }
    },
    "TagDetails": {
      "description": "Tag details.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The tag ID.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "tagName": {
          "description": "The tag name.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "count": {
          "$ref": "#/definitions/TagCount"
        },
        "values": {
          "description": "The list of tag values.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagValue"
          }
        }
      }
    },
    "TagsListResult": {
      "description": "List of subscription tags.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of tags.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagDetails"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TargetResource": {
      "description": "Target resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of the resource.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "resourceName": {
          "description": "The name of the resource.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "resourceType": {
          "description": "The type of the resource.",
          "type": "string",
          "x-ms-summary": "Type"
        }
      },
      "x-ms-summary": "Target Resource"
    },
    "HttpMessage": {
      "type": "object",
      "properties": {
        "content": {
          "description": "HTTP message content.",
          "type": "object"
        }
      }
    },
    "DeploymentOperationProperties": {
      "description": "Deployment operation properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The state of the provisioning.",
          "type": "string",
          "readOnly": true
        },
        "timestamp": {
          "format": "date-time",
          "description": "The date and time of the operation.",
          "type": "string",
          "readOnly": true
        },
        "serviceRequestId": {
          "description": "Deployment operation service request id.",
          "type": "string",
          "readOnly": true
        },
        "statusCode": {
          "description": "Operation status code.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Operation status message.",
          "type": "object",
          "readOnly": true
        },
        "targetResource": {
          "$ref": "#/definitions/TargetResource",
          "description": "The target resource.",
          "readOnly": true
        },
        "request": {
          "$ref": "#/definitions/HttpMessage",
          "description": "The HTTP request message.",
          "readOnly": true
        },
        "response": {
          "$ref": "#/definitions/HttpMessage",
          "description": "The HTTP response message.",
          "readOnly": true
        }
      }
    },
    "DeploymentOperation": {
      "description": "Deployment operation information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Full deployment operation id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Id"
        },
        "operationId": {
          "description": "Deployment operation id.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Operation Id"
        },
        "properties": {
          "$ref": "#/definitions/DeploymentOperationProperties",
          "description": "Deployment properties.",
          "x-ms-summary": "Properties"
        }
      }
    },
    "DeploymentOperationsListResult": {
      "description": "List of deployment operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of deployments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentOperation"
          }
        },
        "nextLink": {
          "description": "The URL to get the next set of results.",
          "type": "string",
          "readOnly": true,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Next Link"
        }
      }
    },
    "ResourceGroupExportResult": {
      "type": "object",
      "properties": {
        "template": {
          "description": "The template content.",
          "type": "object",
          "x-ms-summary": "Template"
        },
        "error": {
          "$ref": "#/definitions/ResourceManagementErrorWithDetails",
          "description": "The error.",
          "x-ms-summary": "Error"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for the  Microsoft Azure subscription. The subscription ID forms part of the ID for every Azure resource.",
      "x-ms-summary": "Subscription",
      "x-ms-dynamic-values": {
        "operationId": "Subscriptions_List",
        "value-collection": "value",
        "value-path": "subscriptionId",
        "value-title": "displayName",
        "parameters": {
          "api-version": "2016-06-01"
        }
      }
    },
    "ResourceProviderNamespaceParameter": {
      "name": "resourceProviderNamespace",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Namespace of the resource provider.",
      "x-ms-summary": "Resource Provider",
      "x-ms-dynamic-values": {
        "operationId": "Providers_List",
        "value-collection": "value",
        "value-path": "namespace",
        "value-title": "namespace",
        "parameters": {
          "api-version": "2016-06-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          }
        }
      }
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Resource group name.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-summary": "Resource Group",
      "x-ms-dynamic-values": {
        "operationId": "ResourceGroups_List",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "api-version": "2016-06-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          }
        }
      }
    },
    "DeploymentNameParameter": {
      "name": "deploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group template deployment.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 64,
      "x-ms-summary": "Deployment Name",
      "x-ms-dynamic-values": {
        "operationId": "Deployments_List",
        "value-collection": "value",
        "value-path": "name",
        "value-title": "name",
        "parameters": {
          "api-version": "2016-06-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          },
          "resourceGroupName": {
            "parameter": "resourceGroupName"
          }
        }
      }
    },
    "TagNameParameter": {
      "name": "tagName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the tag.",
      "x-ms-summary": "Tag Name",
      "x-ms-dynamic-values": {
        "operationId": "Tags_List",
        "value-collection": "value",
        "value-path": "tagName",
        "value-title": "tagName",
        "parameters": {
          "api-version": "2016-06-01",
          "subscriptionId": {
            "parameter": "subscriptionId"
          }
        }
      }
    },
    "ShortResourceIdParameter": {
      "name": "shortResourceId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The fully qualified Id of the resource, including the resource name and resource type. For example, /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myGroup/Microsoft.Web/sites/mySite",
      "x-ms-skip-url-encoding": true
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version.",
      "enum": [
        "2016-06-01"
      ],
      "x-ms-visibility": "internal",
      "default": "2016-06-01"
    },
    "ResourceProviderApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The filter to apply on the operation.",
      "x-ms-visibility": "advanced"
    },
    "ExpandParameter": {
      "name": "$expand",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The $expand query parameter.",
      "x-ms-visibility": "advanced"
    },
    "TopParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Query parameters. If nothing is passed returns all values.",
      "x-ms-visibility": "advanced"
    },
    "TagValueParameter": {
      "name": "tagValue",
      "in": "path",
      "description": "The value of the tag.",
      "required": true,
      "type": "string"
    }
  }
}
