{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Project Online",
    "description": "Project Online is a flexible online solution for project portfolio management (PPM) and everyday work from Microsoft. Delivered through Office 365, Project Online enables organizations to get started quickly with powerful project management capabilities to plan, prioritize, and manage projects and project portfolio investments-from almost anywhere on almost any device.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/projectonline",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/trigger/_api/ProjectData/Projects": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "When a new project is created",
        "description": "Triggers a flow whenever a new project is created.",
        "operationId": "OnNewProject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerProjectsWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a project in Project Online.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewProject",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#when-a-new-project-is-created"
        }
      }
    },
    "/{connectionId}/trigger/_api/ProjectData/PublishedProjects": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "When a project is published",
        "description": "Triggers a flow whenever a project is published.",
        "operationId": "OnProjectPublished",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerProjectsWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, publish a project in Project Online.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnProjectPublished",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#when-a-project-is-published"
        }
      }
    },
    "/{connectionId}/trigger/_api/ProjectData/Resources": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "When a new resource is created",
        "description": "Triggers a new flow when a new resource is created.",
        "operationId": "OnNewResource",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerResourcesWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a resource in Project Online.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewResource",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#when-a-new-resource-is-created"
        }
      }
    },
    "/{connectionId}/trigger/_api/ProjectData/Tasks": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "When a new task is created",
        "description": "Triggers a flow when a new task is created.",
        "operationId": "OnNewTask",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerTasksWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a task in Project Online.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#when-a-new-task-is-created"
        }
      }
    },
    "/{connectionId}/v2/trigger/_api/ProjectData/Projects": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "When a new project is created (V2)",
        "description": "Triggers a flow whenever a new project is created.",
        "operationId": "OnNewProjectV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned.",
            "required": true,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "important",
            "type": "string",
            "default": "ProjectId, ProjectCreatedDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerProjectsWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a project in Project Online.",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnNewProject",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#when-a-new-project-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/v2/trigger/_api/ProjectData/PublishedProjects": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "When a project is published (V2)",
        "description": "Triggers a flow whenever a project is published.",
        "operationId": "OnProjectPublishedV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned.",
            "required": true,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "important",
            "type": "string",
            "default": "ProjectId, ProjectLastPublishedDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerProjectsWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, publish a project in Project Online.",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnProjectPublished",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#when-a-project-is-published-(v2)"
        }
      }
    },
    "/{connectionId}/v2/trigger/_api/ProjectData/Resources": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "When a new resource is created (V2)",
        "description": "Triggers a new flow when a new resource is created.",
        "operationId": "OnNewResourceV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned.",
            "required": true,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "important",
            "type": "string",
            "default": "ResourceId, ResourceCreatedDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerResourcesWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a resource in Project Online.",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnNewResource",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#when-a-new-resource-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/v2/trigger/_api/ProjectData/Tasks": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "When a new task is created (V2)",
        "description": "Triggers a flow when a new task is created.",
        "operationId": "OnNewTaskV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned.",
            "required": true,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "important",
            "type": "string",
            "default": "ProjectId, TaskCreatedDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TriggerTasksWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a task in Project Online.",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnNewTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#when-a-new-task-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/_api/ProjectServer/Projects": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "List projects",
        "description": "Lists the projects in your project online site.",
        "operationId": "ListProjects",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectsWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#list-projects"
        }
      },
      "post": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "Creates new project",
        "description": "Creates a new project in your project online site.",
        "operationId": "CreateProject",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "proj",
            "in": "body",
            "description": "The new project to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewProject"
            },
            "x-ms-summary": "New Project"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#creates-new-project"
        }
      }
    },
    "/{connectionId}/_api/ProjectServer/Projects('{project_id}')": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "List project",
        "description": "Lists a project by Id in your project online site.",
        "operationId": "ListProject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "The unique id of the project to fetch",
            "required": true,
            "x-ms-summary": "Project Id",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned. Example: Id, Name",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#list-project"
        }
      }
    },
    "/{connectionId}/_api/ProjectServer/Projects('{project_id}')/Draft/Tasks/Add": {
      "post": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "Creates new task",
        "description": "Creates a new task in you project.",
        "operationId": "CreateTask",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "The unique id of the project to add the task to.",
            "required": true,
            "x-ms-summary": "Project Id",
            "type": "string"
          },
          {
            "name": "task",
            "in": "body",
            "description": "The new task to add to the project.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewTask"
            },
            "x-ms-summary": "New Task"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#creates-new-task"
        }
      }
    },
    "/{connectionId}/_api/ProjectServer/EnterpriseResources": {
      "post": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "Create new resource",
        "description": "Creates an Enterprise Resource in your Project Online site.",
        "operationId": "CreateResource",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The new enterprise resource to add to the project.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NewResource"
            },
            "x-ms-summary": "New Resource"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EnterpriseResource"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#create-new-resource"
        }
      }
    },
    "/{connectionId}/_api/ProjectServer/Projects('{project_id}')/Tasks": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "Lists tasks",
        "description": "Lists the published tasks in a project.",
        "operationId": "ListTasks",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "The unique id of the project to fetch tasks.",
            "required": true,
            "x-ms-summary": "Project Id",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. Id eq 'task-guid').",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "OData select query for the columns to be returned. Example: Id, Name",
            "required": false,
            "x-ms-summary": "Select Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TasksWrapper"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#lists-tasks"
        }
      }
    },
    "/{connectionId}/_api/ProjectServer/Projects('{project_id}')/ProjectSummaryTask": {
      "get": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "Get project summary task",
        "description": "Gets the project summary task for a given project.",
        "operationId": "GetProjectSummaryTask",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "The unique id of the project to fetch",
            "required": true,
            "x-ms-summary": "Project Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#get-project-summary-task"
        }
      }
    },
    "/{connectionId}/_api/ProjectServer/Projects('{project_id}')/checkOut": {
      "post": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "Checkout project",
        "description": "Checks out an existing project in your site.",
        "operationId": "CheckoutProject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "The unique id of the project to checkout.",
            "required": true,
            "x-ms-summary": "Project Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#checkout-project"
        }
      }
    },
    "/{connectionId}/_api/ProjectServer/Projects('{project_id}')/Draft/Publish(true)": {
      "post": {
        "tags": [
          "ProjectOnline"
        ],
        "summary": "Checkin and publish project",
        "description": "Check in and publish an existing project in your site.",
        "operationId": "PublishProject",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "siteUrl",
            "in": "query",
            "description": "Root site url of your project site (Example: https://sampletenant.sharepoint.com/teams/sampleteam ).",
            "required": true,
            "x-ms-summary": "Root Site URL",
            "x-ms-url-encoding": "double",
            "type": "string",
            "format": "uri"
          },
          {
            "name": "project_id",
            "in": "path",
            "description": "The unique id of the project to checkin.",
            "required": true,
            "x-ms-summary": "Project Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/projectonline/#checkin-and-publish-project"
        }
      }
    }
  },
  "definitions": {
    "TriggerProjectsWrapper": {
      "description": "Project Online on new project response model.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of trigger projects returned.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TriggerProject"
          },
          "x-ms-summary": "Returned projects"
        }
      }
    },
    "TriggerProject": {
      "description": "Project Online Project Model",
      "type": "object",
      "properties": {
        "ProjectStartDate": {
          "format": "date-time",
          "description": "The datetime the approved project started.",
          "type": "string",
          "x-ms-summary": "Project Start Date",
          "x-ms-visibility": "advanced"
        },
        "ProjectFinishDate": {
          "format": "date-time",
          "description": "The datetime the approved project finished.",
          "type": "string",
          "x-ms-summary": "Project End Date",
          "x-ms-visibility": "advanced"
        },
        "ProjectCreatedDate": {
          "format": "date-time",
          "description": "The datetime the project was created.",
          "type": "string",
          "x-ms-summary": "Created Date"
        },
        "ProjectId": {
          "description": "The unique Id of the project.",
          "type": "string",
          "x-ms-summary": "Project Id"
        },
        "ProjectModifiedDate": {
          "format": "date-time",
          "description": "The datetime the project was last saved.",
          "type": "string",
          "x-ms-summary": "Last Modified Date",
          "x-ms-visibility": "advanced"
        },
        "ProjectType": {
          "format": "int32",
          "description": "The type of the project.",
          "type": "integer",
          "x-ms-summary": "Project Type"
        },
        "ProjectName": {
          "description": "The name of the project.",
          "type": "string",
          "x-ms-summary": "Project Name"
        },
        "ProjectLastPublishedDate": {
          "format": "date-time",
          "description": "The datetime the project was last published.",
          "type": "string",
          "x-ms-summary": "Last Published Date",
          "x-ms-visibility": "advanced"
        },
        "ProjectOwnerName": {
          "description": "The owner of the project.",
          "type": "string",
          "x-ms-summary": "Project Owner",
          "x-ms-visibility": "advanced"
        },
        "ProjectPercentCompleted": {
          "format": "int32",
          "description": "The percentage completed of the project.",
          "type": "integer",
          "x-ms-summary": "Project Percent Completed",
          "x-ms-visibility": "advanced"
        },
        "ProjectPercentWorkCompleted": {
          "format": "int32",
          "description": "The percentage of work completed of the project.",
          "type": "integer",
          "x-ms-summary": "Project Percent Work Completed",
          "x-ms-visibility": "advanced"
        },
        "ProjectOvertimeCost": {
          "description": "The overtime cost of the project.",
          "type": "string",
          "x-ms-summary": "Project Overtime Cost",
          "x-ms-visibility": "advanced"
        },
        "ProjectOvertimeWork": {
          "description": "The overtime work of the project.",
          "type": "string",
          "x-ms-summary": "Project Overtime Work",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TriggerResourcesWrapper": {
      "description": "Project Online on new resource response model.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of trigger resources returned.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TriggerResource"
          },
          "x-ms-summary": "Returned resources"
        }
      }
    },
    "TriggerResource": {
      "description": "Resource Online resource model.",
      "type": "object",
      "properties": {
        "ResourceId": {
          "description": "The unique Id of the resource.",
          "type": "string",
          "x-ms-summary": "Resource Id"
        },
        "ResourceBaseCalendar": {
          "description": "The base calendar type of the resource.",
          "type": "string",
          "x-ms-summary": "Base Calendar"
        },
        "ResourceBookingType": {
          "format": "int32",
          "description": "Booking type of the resource",
          "type": "integer",
          "x-ms-summary": "Resource booking type"
        },
        "ResourceCanLevel": {
          "description": "Can the resource level",
          "type": "boolean",
          "x-ms-summary": "Can resource level"
        },
        "ResourceCostPerUse": {
          "description": "Cost per use of the resource",
          "type": "string",
          "x-ms-summary": "Resource cost per use"
        },
        "ResourceCreatedDate": {
          "format": "date-time",
          "description": "Create date of the resource",
          "type": "string",
          "x-ms-summary": "Resource create date"
        },
        "ResourceEarliestAvailableFrom": {
          "format": "date-time",
          "description": "Earliest availability date of the resource",
          "type": "string",
          "x-ms-summary": "Resource earliest available from"
        },
        "ResourceEmailAddress": {
          "description": "Email address of the resource",
          "type": "string",
          "x-ms-summary": "Resource email"
        },
        "ResourceInitials": {
          "description": "Initals of the resource",
          "type": "string",
          "x-ms-summary": "Resource initials"
        },
        "ResourceIsActive": {
          "description": "Is the new resource active",
          "type": "boolean",
          "x-ms-summary": "Is resource activew"
        },
        "ResourceIsGeneric": {
          "description": "Is the new resource generic",
          "type": "boolean",
          "x-ms-summary": "Is resource generic"
        },
        "ResourceLatestAvailableTo": {
          "format": "date-time",
          "description": "Lastest date for which the resource is available",
          "type": "string",
          "x-ms-summary": "Resource latest available to"
        },
        "ResourceModifiedDate": {
          "format": "date-time",
          "description": "Last modification date of the resource",
          "type": "string",
          "x-ms-summary": "Resource last modified date"
        },
        "ResourceName": {
          "description": "Name of the resource",
          "type": "string",
          "x-ms-summary": "Resource name"
        },
        "ResourceStatsuName": {
          "description": "Status name of the resource",
          "type": "string",
          "x-ms-summary": "Resource status name"
        },
        "ResourceType": {
          "format": "int32",
          "description": "Type of resource",
          "type": "integer",
          "x-ms-summary": "Resource type"
        },
        "TypeDescription": {
          "description": "Description for the type of resource",
          "type": "string",
          "x-ms-summary": "Resource type description"
        },
        "TypeName": {
          "description": "Type name of the resource",
          "type": "string",
          "x-ms-summary": "Resource type name"
        }
      }
    },
    "TriggerTasksWrapper": {
      "description": "Project online on new task response model",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of trigger tasks returned",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TriggerTask"
          },
          "x-ms-summary": "Returned tasks"
        }
      }
    },
    "TriggerTask": {
      "description": "Task Online Task Model",
      "type": "object",
      "properties": {
        "ProjectId": {
          "description": "Id of the project which the task is created in",
          "type": "string",
          "x-ms-summary": "Project id"
        },
        "TaskId": {
          "description": "Id of the new task",
          "type": "string",
          "x-ms-summary": "Task id"
        },
        "ProjectName": {
          "description": "Name of the project which the task is created in",
          "type": "string",
          "x-ms-summary": "Project name"
        },
        "TaskName": {
          "description": "Name of the new task",
          "type": "string",
          "x-ms-summary": "Task name"
        },
        "TaskCreatedDate": {
          "format": "date-time",
          "description": "Created date of the new task",
          "type": "string",
          "x-ms-summary": "Task created date"
        },
        "TaskModifieddate": {
          "format": "date-time",
          "description": "Last modified date of the new task",
          "type": "string",
          "x-ms-summary": "Task last modified date"
        },
        "TaskStartDate": {
          "format": "date-time",
          "description": "Starting date of the new task",
          "type": "string",
          "x-ms-summary": "Task start date"
        },
        "TaskFinishDate": {
          "format": "date-time",
          "description": "Finishing date of the new task",
          "type": "string",
          "x-ms-summary": "Task finish date"
        },
        "TaskPriority": {
          "format": "int32",
          "description": "Priority of the new task",
          "type": "integer",
          "x-ms-summary": "Task summary"
        },
        "TaskIsActive": {
          "description": "Whether the task is still active",
          "type": "boolean",
          "x-ms-summary": "Task is active"
        }
      }
    },
    "NewProject": {
      "description": "New project online server project",
      "required": [
        "Name"
      ],
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the new project to create",
          "type": "string",
          "x-ms-summary": "Project name"
        },
        "Description": {
          "description": "Description of the new project to create",
          "type": "string",
          "x-ms-summary": "Project description"
        },
        "Start": {
          "format": "date-time",
          "description": "Start date of the new project",
          "type": "string",
          "x-ms-summary": "Project start date"
        }
      }
    },
    "Project": {
      "description": "Project Online Project Model",
      "type": "object",
      "properties": {
        "ApprovedStart": {
          "format": "date-time",
          "description": "Approved project start time",
          "type": "string",
          "x-ms-summary": "Approved start date",
          "x-ms-visibility": "advanced"
        },
        "ApprovedEnd": {
          "format": "date-time",
          "description": "Approved project end time",
          "type": "string",
          "x-ms-summary": "Approved end date",
          "x-ms-visibility": "advanced"
        },
        "CheckedOutDate": {
          "format": "date-time",
          "description": "Time which the project is checked out",
          "type": "string",
          "x-ms-summary": "Checked out date",
          "x-ms-visibility": "advanced"
        },
        "CheckOutDescription": {
          "description": "Description which the project is checked out with",
          "type": "string",
          "x-ms-summary": "Checkout description",
          "x-ms-visibility": "advanced"
        },
        "CheckOutId": {
          "description": "Id of the project checkout",
          "type": "string",
          "x-ms-summary": "Checkout id",
          "x-ms-visibility": "advanced"
        },
        "CreatedDate": {
          "format": "date-time",
          "description": "Created date of the project",
          "type": "string",
          "x-ms-summary": "Created date"
        },
        "Id": {
          "description": "Id of the project",
          "type": "string",
          "x-ms-summary": "Project id"
        },
        "IsCheckedOut": {
          "description": "True if the project is currently checked out",
          "type": "boolean",
          "x-ms-summary": "Is checked out"
        },
        "ProjectLastPublishedDate": {
          "format": "date-time",
          "description": "Last published date of the project",
          "type": "string",
          "x-ms-summary": "Last published date",
          "x-ms-visibility": "advanced"
        },
        "LastPublishedDate": {
          "format": "date-time",
          "description": "Last published date of the project",
          "type": "string",
          "x-ms-summary": "Last published date",
          "x-ms-visibility": "advanced"
        },
        "LastSavedDate": {
          "format": "date-time",
          "description": "Last date the project is saved",
          "type": "string",
          "x-ms-summary": "Last saved date",
          "x-ms-visibility": "advanced"
        },
        "OptimizerDecision": {
          "format": "int32",
          "description": "Project optimizer decision number",
          "type": "integer",
          "x-ms-summary": "Optimizer decision",
          "x-ms-visibility": "advanced"
        },
        "PlannerDecision": {
          "format": "int32",
          "description": "Project planner decision number",
          "type": "integer",
          "x-ms-summary": "Planner decision",
          "x-ms-visibility": "advanced"
        },
        "ProjectType": {
          "format": "int32",
          "description": "The type of the project",
          "type": "integer",
          "x-ms-summary": "Project type"
        },
        "Name": {
          "description": "The name of the project",
          "type": "string",
          "x-ms-summary": "Project name"
        },
        "ProjectIdentifier": {
          "description": "Project identifier",
          "type": "string",
          "x-ms-summary": "Project identifier",
          "x-ms-visibility": "advanced"
        },
        "WinprojVersion": {
          "description": "Project version",
          "type": "string",
          "x-ms-summary": "Win proj version",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectsWrapper": {
      "description": "Project online list projects response model",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of projects returned",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Project"
          },
          "x-ms-summary": "Returned projects"
        }
      }
    },
    "NewTask": {
      "description": "New project online server task",
      "required": [
        "parameters"
      ],
      "type": "object",
      "properties": {
        "parameters": {
          "$ref": "#/definitions/TaskParameters"
        }
      }
    },
    "TaskParameters": {
      "description": "New project online server task",
      "required": [
        "Name"
      ],
      "type": "object",
      "properties": {
        "Name": {
          "description": "Name of the new task to create",
          "type": "string",
          "x-ms-summary": "Task name"
        },
        "Notes": {
          "description": "Notes to put on the new task",
          "type": "string",
          "x-ms-summary": "Task notes"
        },
        "Start": {
          "format": "date-time",
          "description": "Start date of the task",
          "type": "string",
          "x-ms-summary": "Task start date"
        },
        "Duration": {
          "description": "Duration of the task. For example (1h, 2d, or 3w)",
          "type": "string",
          "x-ms-summary": "Task duration"
        }
      }
    },
    "NewResource": {
      "description": "A new project online server resource",
      "required": [
        "Name"
      ],
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the new resource to create",
          "type": "string",
          "x-ms-summary": "Resource name"
        },
        "IsBudget": {
          "description": "Is resource accounted for in the budget",
          "type": "boolean",
          "x-ms-summary": "Is resource in budget",
          "x-ms-visibility": "advanced"
        },
        "IsGeneric": {
          "description": "Is resource generic",
          "type": "boolean",
          "x-ms-summary": "Is resource generic",
          "x-ms-visibility": "advanced"
        },
        "IsInactive": {
          "description": "Is resource inactive",
          "type": "boolean",
          "x-ms-summary": "Is resource inactive",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EnterpriseResource": {
      "description": "Project Online Enterprise Resource Model",
      "type": "object",
      "properties": {
        "CanLevel": {
          "description": "Can resource level",
          "type": "boolean",
          "x-ms-summary": "Can resource level",
          "x-ms-visibility": "advanced"
        },
        "Code": {
          "description": "Resource code",
          "type": "string",
          "x-ms-summary": "Resource code",
          "x-ms-visibility": "advanced"
        },
        "CostAccrual": {
          "format": "int32",
          "description": "Resource cost accrual",
          "type": "integer",
          "x-ms-summary": "Resource cost accrual",
          "x-ms-visibility": "advanced"
        },
        "CostCenter": {
          "description": "Resource cost center",
          "type": "string",
          "x-ms-summary": "Resource cost center",
          "x-ms-visibility": "advanced"
        },
        "Created": {
          "format": "date-time",
          "description": "Resource created time",
          "type": "string",
          "x-ms-summary": "Resource created time",
          "x-ms-visibility": "advanced"
        },
        "DefaultBookingType": {
          "format": "int32",
          "description": "Resource default booking type",
          "type": "integer",
          "x-ms-summary": "Default booking type",
          "x-ms-visibility": "advanced"
        },
        "Email": {
          "description": "Resource email address",
          "type": "string",
          "x-ms-summary": "Email"
        },
        "ExternalId": {
          "description": "Resource external id",
          "type": "string",
          "x-ms-summary": "External id",
          "x-ms-visibility": "advanced"
        },
        "Group": {
          "description": "Group which resource belongs in",
          "type": "string",
          "x-ms-summary": "Resource group",
          "x-ms-visibility": "advanced"
        },
        "HireDate": {
          "format": "date-time",
          "description": "Hired date of the resource",
          "type": "string",
          "x-ms-summary": "Hire date",
          "x-ms-visibility": "advanced"
        },
        "Id": {
          "description": "Resource id",
          "type": "string",
          "x-ms-summary": "Resource id",
          "x-ms-visibility": "advanced"
        },
        "Initials": {
          "description": "Resource initials",
          "type": "string",
          "x-ms-summary": "Resouce initials",
          "x-ms-visibility": "advanced"
        },
        "IsActive": {
          "description": "Is resource active",
          "type": "boolean",
          "x-ms-summary": "Is resource active",
          "x-ms-visibility": "advanced"
        },
        "IsBudget": {
          "description": "Is resource cost budgeted",
          "type": "boolean",
          "x-ms-summary": "Is budget",
          "x-ms-visibility": "advanced"
        },
        "IsCheckedOut": {
          "description": "Is resource checked out",
          "type": "boolean",
          "x-ms-summary": "Is checked out",
          "x-ms-visibility": "advanced"
        },
        "IsGeneric": {
          "description": "Is resource generic",
          "type": "boolean",
          "x-ms-summary": "Is generic",
          "x-ms-visibility": "advanced"
        },
        "IsTeam": {
          "description": "Is resource part of the team",
          "type": "boolean",
          "x-ms-summary": "Is team",
          "x-ms-visibility": "advanced"
        },
        "MaterialLabel": {
          "description": "Resource material label",
          "type": "string",
          "x-ms-summary": "Material label",
          "x-ms-visibility": "advanced"
        },
        "Modified": {
          "format": "date-time",
          "description": "Time which the resource is last modified",
          "type": "string",
          "x-ms-summary": "Last modified",
          "x-ms-visibility": "advanced"
        },
        "Name": {
          "description": "Resource name",
          "type": "string",
          "x-ms-summary": "Resource name"
        },
        "Phonetics": {
          "description": "Phonetic pronunciation of the resource",
          "type": "string",
          "x-ms-summary": "Resource phonetics",
          "x-ms-visibility": "advanced"
        },
        "ResourceType": {
          "format": "int32",
          "description": "Resource type",
          "type": "integer",
          "x-ms-summary": "Resource type"
        },
        "TerminationDate": {
          "format": "date-time",
          "description": "Resource termination date",
          "type": "string",
          "x-ms-summary": "Termination date",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TasksWrapper": {
      "description": "Project online list tasks response model",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of tasks returned",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Task"
          },
          "x-ms-summary": "Returned tasks"
        }
      }
    },
    "Task": {
      "description": "Project online server task",
      "type": "object",
      "properties": {
        "Created": {
          "format": "date-time",
          "description": "The created date of the task",
          "type": "string",
          "x-ms-summary": "Task created date",
          "x-ms-visibility": "advanced"
        },
        "Modified": {
          "format": "date-time",
          "description": "The last modified date of the task",
          "type": "string",
          "x-ms-summary": "Task last modified date",
          "x-ms-visibility": "advanced"
        },
        "Start": {
          "format": "date-time",
          "description": "The start date of the task",
          "type": "string",
          "x-ms-summary": "Task start date"
        },
        "Finish": {
          "format": "date-time",
          "description": "The finished date of the task",
          "type": "string",
          "x-ms-summary": "Task finish date"
        },
        "ScheduledStart": {
          "format": "date-time",
          "description": "The scheduled start date of the task",
          "type": "string",
          "x-ms-summary": "Task Scheduled Start Date"
        },
        "ScheduledFinish": {
          "format": "date-time",
          "description": "The scheduled finish date of the task",
          "type": "string",
          "x-ms-summary": "Task Scheduled Finish Date"
        },
        "Name": {
          "description": "The name of the task",
          "type": "string",
          "x-ms-summary": "Task name"
        },
        "Id": {
          "description": "The id of the task",
          "type": "string",
          "x-ms-summary": "Task id"
        },
        "Priority": {
          "format": "int32",
          "description": "The priority level of the task",
          "type": "integer",
          "x-ms-summary": "Task priority",
          "x-ms-visibility": "advanced"
        },
        "PercentComplete": {
          "format": "int32",
          "description": "Percent of task complete",
          "type": "integer",
          "x-ms-summary": "Task percent complete"
        },
        "Notes": {
          "description": "Description notes about the task",
          "type": "string",
          "x-ms-summary": "Task notes"
        },
        "Contact": {
          "description": "Contact address for the task",
          "type": "string",
          "x-ms-summary": "Task contact",
          "x-ms-visibility": "advanced"
        },
        "IsMilestone": {
          "description": "Indicates if the task is a milestone",
          "type": "boolean",
          "x-ms-summary": "Is Milestone Task",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://products.office.com/project/project-management-software"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/projectonline"
  }
}