{
  "swagger": "2.0",
  "info": {
    "version": "1.2",
    "title": "kintone",
    "description": "Build a faster business with kintone. Databases, apps, processes. No code required.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/kintone",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/k/integration/v1/preview/app/webhook.json": {
      "post": {
        "description": "This operation triggers a flow when a new record is added to an app.",
        "summary": "When a record is added to an app",
        "operationId": "webhook-trigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Request body of webhook",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddRecordWebhookRequestBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "default": {
            "description": "Failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#when-a-record-is-added-to-an-app"
        }
      },
      "delete": {
        "description": "Deletes a kintone webhook",
        "summary": "Actions to remove a webhook",
        "operationId": "remove-webhook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "app",
            "in": "query",
            "description": "app id",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "webhook id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Failed"
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#actions-to-remove-a-webhook"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/AddRecordWebhookNotificationResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/k/integration/v1/preview/app/webhook/update_record.json": {
      "post": {
        "description": "This operation triggers a flow when an app record is updated.",
        "summary": "When an app record is updated",
        "operationId": "AddWebhookForUpdatingRecord",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Request body of webhook",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequestBodyExceptAddRecord"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "default": {
            "description": "Failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#when-an-app-record-is-updated"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/UpdateRecordWebhookNotificationResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/k/integration/v1/preview/app/webhook/delete_record.json": {
      "post": {
        "description": "This operation triggers a flow when an app record is deleted.",
        "summary": "When an app record is deleted",
        "operationId": "AddWebhookForDeletingRecord",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Request body of webhook",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequestBodyExceptAddRecord"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "default": {
            "description": "Failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#when-an-app-record-is-deleted"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/DeleteRecordWebhookNotificationResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/k/integration/v1/preview/app/webhook/add_record_comment.json": {
      "post": {
        "description": "This operation triggers a flow when a record comment is posted on an app.",
        "summary": "When a record comment is posted on an app",
        "operationId": "AddWebhookForAddingRecordComment",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Request body of webhook",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequestBodyExceptAddRecord"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "default": {
            "description": "Failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#when-a-record-comment-is-posted-on-an-app"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/AddRecordCommentWebhookNotificationResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/k/integration/v1/preview/app/webhook/update_status.json": {
      "post": {
        "description": "This operation triggers a flow when a process management status is updated.",
        "summary": "When a process management status is updated",
        "operationId": "AddWebhookForUpdatingStatus",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Request body of webhook",
            "in": "body",
            "description": "This is the request body of the Webhook",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequestBodyExceptAddRecord"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "default": {
            "description": "Failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#when-a-process-management-status-is-updated"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/UpdateStatusWebhookNotificationResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/k/integration/v1/msflow/app/record/schema.json": {
      "get": {
        "summary": "Get record schema",
        "operationId": "GetRecordSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "app",
            "in": "query",
            "description": "app id for schema",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "app id for schema",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "returns record schema",
            "schema": {
              "$ref": "#/definitions/GetRecordSchemaResponse"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#get-record-schema"
        }
      }
    },
    "/{connectionId}/k/v1/record.json": {
      "post": {
        "description": "Adds a new record to an app.",
        "summary": "Add a record to an app",
        "operationId": "AddRecord",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Request body of record",
            "in": "body",
            "description": "This is a request body of a new record",
            "schema": {
              "$ref": "#/definitions/PostRecordRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#add-a-record-to-an-app"
        }
      },
      "put": {
        "description": "Updates a record in an app.",
        "summary": "Update a record in an app",
        "operationId": "UpdateRecord",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Request body of record",
            "in": "body",
            "description": "This is a request body of an updated record",
            "schema": {
              "$ref": "#/definitions/PutRecordRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/kintone/#update-a-record-in-an-app"
        }
      }
    }
  },
  "definitions": {
    "AddRecordWebhookRequestBody": {
      "type": "object",
      "properties": {
        "app": {
          "type": "string",
          "x-ms-summary": "App ID"
        },
        "url": {
          "type": "string",
          "description": "URL of webhook",
          "title": "URL of webhook",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "type": {
          "type": "string",
          "description": "Event type",
          "title": "Event type",
          "default": "ADD_RECORD",
          "x-ms-visibility": "internal"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "default": "Added by Microsoft Flow. Settings should not be changed.",
          "x-ms-visibility": "internal"
        },
        "schemaType": {
          "type": "string",
          "default": "TRIGGER_WEBHOOK_RECORD",
          "x-ms-visibility": "internal"
        }
      },
      "required": [
        "app",
        "url",
        "type",
        "description",
        "schemaType"
      ]
    },
    "WebhookRequestBodyExceptAddRecord": {
      "type": "object",
      "properties": {
        "app": {
          "type": "string",
          "x-ms-summary": "App ID"
        },
        "url": {
          "type": "string",
          "description": "URL of webhook",
          "title": "URL of webhook",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "default": "Added by Microsoft Flow. Settings should not be changed.",
          "x-ms-visibility": "internal"
        },
        "schemaType": {
          "type": "string",
          "default": "TRIGGER_WEBHOOK_RECORD",
          "x-ms-visibility": "internal"
        }
      },
      "required": [
        "app",
        "url",
        "description",
        "schemaType"
      ]
    },
    "AddRecordWebhookNotificationResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Webhook notification ID",
          "description": "Unique ID for webhook notifications and is useful for finding logs."
        },
        "record": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetRecordSchema",
            "parameters": {
              "app": {
                "parameter": "app"
              },
              "type": {
                "parameter": "schemaType"
              }
            },
            "value-path": "schema/properties/record"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetRecordSchema",
            "parameters": {
              "app": {
                "parameterReference": "Request body of webhook/app"
              },
              "type": {
                "value": "TRIGGER_WEBHOOK_RECORD"
              }
            },
            "itemValuePath": "schema/properties/record"
          }
        },
        "url": {
          "type": "string",
          "x-ms-summary": "Record URL",
          "description": "The unique URL of the record added to the app."
        }
      }
    },
    "UpdateRecordWebhookNotificationResponse": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/WebhookIdInWebhookNotificationResponse"
        },
        "record": {
          "$ref": "#/definitions/TriggerWebookRecordDynamicRecordSchema"
        },
        "url": {
          "type": "string",
          "x-ms-summary": "Record URL",
          "description": "The unique URL of the record updated."
        }
      }
    },
    "DeleteRecordWebhookNotificationResponse": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/WebhookIdInWebhookNotificationResponse"
        },
        "recordId": {
          "type": "string",
          "x-ms-summary": "Record Number",
          "description": "The record number of the record deleted from the app."
        },
        "deletedAt": {
          "type": "string",
          "x-ms-summary": "Record Deletion Date and Time",
          "description": "The date and time when the record was deleted."
        },
        "deletedBy": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "x-ms-summary": "Record Deleted By(code)",
              "description": "The user code of the user who deleted the record."
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Record Deleted By(name)",
              "description": "The name of the user who deleted the record."
            }
          }
        }
      }
    },
    "AddRecordCommentWebhookNotificationResponse": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/WebhookIdInWebhookNotificationResponse"
        },
        "recordId": {
          "type": "string",
          "x-ms-summary": "Record Number",
          "description": "The record number of the record on which the comment was posted."
        },
        "comment": {
          "type": "object",
          "properties": {
            "createdAt": {
              "type": "string",
              "x-ms-summary": "Record Comment Post Date and Time",
              "description": "The date and time when the record comment was posted on the app."
            },
            "creator": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "x-ms-summary": "Record Comment Posted By(code)",
                  "description": "The user code of the user who posted the record comment on the app."
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Record Comment Posted By(name)",
                  "description": "The name of the user who posted the record comment on the app."
                }
              }
            },
            "id": {
              "type": "string",
              "x-ms-summary": "Record Comment Number",
              "description": "The comment number of the record comment posted on the app."
            },
            "mentions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "x-ms-summary": "Entity(code) for Recipients Mentioned in Record Comment",
                    "description": "The entity code for recipients who were mentioned in the record comment."
                  },
                  "type": {
                    "type": "string",
                    "x-ms-summary": "Entity Type for Recipients Mentioned in Record Comment",
                    "description": "The entity type for recipients who were mentioned in the record comment."
                  }
                }
              },
              "x-ms-summary": "List of Recipients Mentioned in Record Comment",
              "description": "The list of recipients who were mentioned in the record comment posted on the app."
            },
            "text": {
              "type": "string",
              "x-ms-summary": "Record Comment Body",
              "description": "The body of the record comment posted on the app."
            }
          }
        },
        "url": {
          "type": "string",
          "x-ms-summary": "Record URL",
          "description": "The unique URL of the record on which the comment was posted."
        }
      }
    },
    "UpdateStatusWebhookNotificationResponse": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/WebhookIdInWebhookNotificationResponse"
        },
        "record": {
          "$ref": "#/definitions/TriggerWebookRecordDynamicRecordSchema"
        },
        "url": {
          "type": "string",
          "x-ms-summary": "Record URL",
          "description": "The unique URL of the record of which the process management status was updated."
        }
      }
    },
    "WebhookIdInWebhookNotificationResponse": {
      "type": "string",
      "x-ms-summary": "Webhook notification ID",
      "description": "Unique ID for webhook notifications and is useful for finding logs."
    },
    "TriggerWebookRecordDynamicRecordSchema": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetRecordSchema",
        "parameters": {
          "app": {
            "parameter": "app"
          },
          "type": {
            "parameter": "schemaType"
          }
        },
        "value-path": "schema/properties/record"
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetRecordSchema",
        "parameters": {
          "app": {
            "parameterReference": "Request body of webhook/app"
          },
          "type": {
            "value": "TRIGGER_WEBHOOK_RECORD"
          }
        },
        "itemValuePath": "schema/properties/record"
      }
    },
    "PostRecordRequestBody": {
      "type": "object",
      "properties": {
        "app": {
          "type": "string",
          "x-ms-summary": "App ID"
        },
        "schemaType": {
          "type": "string",
          "default": "ACTION_POST_RECORD",
          "x-ms-visibility": "internal"
        },
        "record": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetRecordSchema",
            "parameters": {
              "app": {
                "parameter": "app"
              },
              "type": {
                "parameter": "schemaType"
              }
            },
            "value-path": "schema/properties/record"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetRecordSchema",
            "parameters": {
              "app": {
                "parameterReference": "Request body of record/app"
              },
              "type": {
                "value": "ACTION_POST_RECORD"
              }
            },
            "itemValuePath": "schema/properties/record"
          }
        }
      },
      "required": [
        "app",
        "schemaType"
      ]
    },
    "PutRecordRequestBody": {
      "type": "object",
      "properties": {
        "app": {
          "type": "string",
          "x-ms-summary": "App ID"
        },
        "id": {
          "type": "string",
          "x-ms-summary": "Record Number"
        },
        "schemaType": {
          "type": "string",
          "default": "ACTION_PUT_RECORD",
          "x-ms-visibility": "internal"
        },
        "record": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetRecordSchema",
            "parameters": {
              "app": {
                "parameter": "app"
              },
              "type": {
                "parameter": "schemaType"
              }
            },
            "value-path": "schema/properties/record"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetRecordSchema",
            "parameters": {
              "app": {
                "parameterReference": "Request body of record/app"
              },
              "type": {
                "value": "ACTION_PUT_RECORD"
              }
            },
            "itemValuePath": "schema/properties/record"
          }
        }
      },
      "required": [
        "app",
        "id",
        "schemaType"
      ]
    },
    "GetRecordSchemaResponse": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    }
  },
  "securityDefinitions": {
    "OAuthSecurity": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth-microsoft.cybozu.com/oauth2/authorization",
      "tokenUrl": "https://oauth-microsoft.cybozu.com/oauth2/token",
      "scopes": {
        "POST:/k/integration/v1/preview/app/webhook/update_record.json": "post webhook setting for updating record",
        "POST:/k/integration/v1/preview/app/webhook/delete_record.json": "post webhook setting for deleting record",
        "POST:/k/integration/v1/preview/app/webhook/add_record_comment.json": "post webhook setting for adding record comment",
        "POST:/k/integration/v1/preview/app/webhook/update_status.json": "post webhook setting for updating status",
        "POST:/k/integration/v1/preview/app/webhook.json": "post webhook setting",
        "DELETE:/k/integration/v1/preview/app/webhook.json": "delete webhook setting",
        "GET:/k/integration/v1/msflow/app/record/schema.json": "get record schema",
        "POST:/k/v1/record.json": "post record",
        "PUT:/k/v1/record.json": "put record"
      }
    }
  },
  "security": [
    {
      "OAuthSecurity": [
        "POST:/k/integration/v1/preview/app/webhook.json",
        "DELETE:/k/integration/v1/preview/app/webhook.json",
        "POST:/k/integration/v1/preview/app/webhook/update_record.json",
        "POST:/k/integration/v1/preview/app/webhook/delete_record.json",
        "POST:/k/integration/v1/preview/app/webhook/add_record_comment.json",
        "POST:/k/integration/v1/preview/app/webhook/update_status.json",
        "GET:/k/integration/v1/msflow/app/record/schema.json",
        "POST:/k/v1/record.json",
        "PUT:/k/v1/record.json"
      ]
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/kintone"
  }
}
