{
  "swagger": "2.0",
  "info": {
    "title": "Dynamics 365 Sales Insights",
    "description": "Dynamics 365 Sales Insights helps increase your sales with the help of AI-driven insights that promote personalized engagement and proactive decision making to help build relationships.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/assistantstudio",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/ActionCardCreate": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateActionCard",
          "revision": 1
        },
        "operationId": "CreateActionCard",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose the Dynamics 365 environment (org) in which you want to create the insight card.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Environment (org)",
            "type": "string"
          },
          {
            "name": "actiontype",
            "in": "header",
            "type": "string",
            "description": "Choose the entity if button type is Open Entity.",
            "x-ms-dynamic-values": {
              "operationId": "GetCrmEntityList",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Button entity",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "regardingobjecttype",
            "in": "header",
            "type": "string",
            "description": "Choose the entity where this card should be shown.",
            "x-ms-dynamic-values": {
              "operationId": "GetCrmEntityList",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Display entity",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cardname": {
                  "type": "string",
                  "description": "Simple text only (no dynamic content or expressions). Card name is shown in the insight card list and at the top of the card.",
                  "title": "Card name",
                  "x-ms-visibility": "important"
                },
                "title": {
                  "type": "string",
                  "description": "Enter a title to appear in the card header.",
                  "title": "Card header"
                },
                "description": {
                  "type": "string",
                  "description": "Enter text for the body of the insight card.",
                  "title": "Card text",
                  "x-ms-visibility": "important"
                },
                "action": {
                  "type": "string",
                  "description": "Choose a button type.",
                  "title": "Button type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "Open URL",
                    "Open Entity"
                  ],
                  "default": "Open URL"
                },
                "actionparam": {
                  "type": "string",
                  "description": "Enter the URL or record ID that the button should open.",
                  "title": "Button URL/record ID",
                  "x-ms-visibility": "important"
                },
                "regardingobjectid": {
                  "type": "string",
                  "description": "Enter the dynamic value with the record ID for the display entity.",
                  "title": "Display record ID",
                  "x-ms-visibility": "advanced"
                },
                "ownerid": {
                  "type": "string",
                  "description": "Enter a dynamic value to define who should see this card (usually \"Owner\").",
                  "title": "Show for",
                  "x-ms-visibility": "advanced"
                },
                "startdate": {
                  "type": "string",
                  "description": "Set how long after a card is generated it should be shown. Default is immediate - utcNow().",
                  "title": "Show from",
                  "x-ms-visibility": "advanced"
                },
                "expirydate": {
                  "type": "string",
                  "description": "Set how long after a card is generated it should expire. Default is 24 hours - utcNow().addHours(24).",
                  "title": "Show until",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "action",
                "description",
                "cardname",
                "title",
                "actionparam"
              ]
            }
          }
        ],
        "summary": "Create card for assistant",
        "description": "Create Card for Sales Assistant.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#create-card-for-assistant-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/V2/ActionCardCreate": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreateActionCard",
          "revision": 2
        },
        "operationId": "CreateActionCard_V2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose the Dynamics 365 environment (org) in which you want to create the insight card.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Environment (org)",
            "type": "string"
          },
          {
            "name": "cardname",
            "x-ms-summary": "Card name",
            "in": "header",
            "description": "Simple text only (no dynamic content or expressions). Card name is shown in the insight card list and at the top of the card.",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "x-ms-summary": "Card header",
            "in": "header",
            "description": "Enter a title to appear in the card header.",
            "required": true,
            "type": "string"
          },
          {
            "name": "description",
            "x-ms-summary": "Card text",
            "in": "header",
            "description": "Enter text for the body of the insight card.",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionname",
            "in": "header",
            "type": "string",
            "description": "Enter the text that should appear on the button (for example: open email)",
            "x-ms-summary": "Primary action text",
            "required": true
          },
          {
            "name": "actiontype",
            "in": "header",
            "type": "string",
            "description": "Choose an action type.",
            "x-ms-summary": "Primary action type",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetActionTypes",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Button type details",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicFieldsForActionType",
                "parameters": {
                  "organization": {
                    "parameter": "organization"
                  },
                  "actiontype": {
                    "parameter": "actiontype"
                  },
                  "secondaryactiontype": {
                    "parameter": "secondaryactiontype"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Button type details"
          },
          {
            "name": "postoperation",
            "in": "header",
            "type": "string",
            "description": "Choose whether the card should be dismissed, snoozed, or should persist after the button is clicked. Default is persist.",
            "x-ms-summary": "Card behavior after primary action click",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetPostOperations",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            }
          },
          {
            "name": "secondaryactionname",
            "in": "header",
            "type": "string",
            "description": "Enter the text that should appear on the button (for example: open email)",
            "x-ms-summary": "Secondary action text",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "secondaryactiontype",
            "in": "header",
            "type": "string",
            "description": "Choose an action type.",
            "x-ms-summary": "Secondary action type",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetActionTypesV2",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            }
          },
          {
            "name": "secondarypostoperation",
            "in": "header",
            "type": "string",
            "description": "Choose whether the card should be dismissed, snoozed, or should persist after the button is clicked. Default is persist.",
            "x-ms-summary": "Card behavior after secondary action click",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetPostOperations",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            }
          },
          {
            "name": "regardingobjecttype",
            "in": "header",
            "type": "string",
            "description": "Choose the entity where this card should be shown.",
            "x-ms-dynamic-values": {
              "operationId": "GetEligibleRegardingEntities",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Display entity",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "regardingobjectid",
            "x-ms-summary": "Display record ID",
            "x-ms-visibility": "advanced",
            "in": "header",
            "type": "string",
            "format": "uuid",
            "description": "Enter the dynamic value with the record ID for the display entity."
          },
          {
            "name": "ownerid",
            "x-ms-summary": "Show for",
            "x-ms-visibility": "advanced",
            "in": "header",
            "type": "string",
            "format": "uuid",
            "description": "Enter a dynamic value to define who should see this card (usually \"Owner\")."
          },
          {
            "name": "startdate",
            "x-ms-summary": "Show from",
            "x-ms-visibility": "advanced",
            "in": "header",
            "type": "string",
            "format": "date-time",
            "description": "Set how long after a card is generated it should be shown. Default is immediate - utcNow(). (UTC format: yyyy-MM-ddTHH:mm:ssZ)"
          },
          {
            "name": "expirydate",
            "x-ms-summary": "Show until",
            "x-ms-visibility": "advanced",
            "in": "header",
            "type": "string",
            "format": "date-time",
            "description": "Set how long after a card is generated it should expire. Default is 24 hours - utcNow().addHours(24). (UTC format: yyyy-MM-ddTHH:mm:ssZ)"
          }
        ],
        "summary": "Create card for assistant V2",
        "description": "Create Card for Sales Assistant.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#create-card-for-assistant-v2-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/V3/ActionCardCreate": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateActionCard",
          "revision": 3
        },
        "operationId": "CreateActionCard_V3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose the Dynamics 365 environment (org) in which you want to create the insight card.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Environment (org)",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Body field details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BodyFieldsForCreateActionCardV3"
            },
            "x-ms-summary": "Body field details"
          },
          {
            "name": "actiontype",
            "in": "header",
            "type": "string",
            "description": "Choose an action type.",
            "x-ms-summary": "Primary action type",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetActionTypesV2",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            }
          },
          {
            "name": "secondaryactiontype",
            "in": "header",
            "type": "string",
            "description": "Choose an action type. Ensure Primary action type is not None.",
            "x-ms-summary": "Secondary action type",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetActionTypesV2",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            }
          },
          {
            "name": "regardingobjecttype",
            "in": "header",
            "type": "string",
            "description": "Choose the entity where this card should be shown.",
            "x-ms-dynamic-values": {
              "operationId": "GetEligibleRegardingEntities",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Display entity",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "regardingobjectid",
            "x-ms-summary": "Display record ID",
            "x-ms-visibility": "advanced",
            "in": "header",
            "type": "string",
            "format": "uuid",
            "description": "Enter the dynamic value with the record ID for the display entity."
          },
          {
            "name": "ownerid",
            "x-ms-summary": "Show for",
            "x-ms-visibility": "advanced",
            "in": "header",
            "type": "string",
            "format": "uuid",
            "description": "Enter a dynamic value to define who should see this card (usually \"Owner\")."
          },
          {
            "name": "startdate",
            "x-ms-summary": "Show from",
            "x-ms-visibility": "advanced",
            "in": "header",
            "type": "string",
            "format": "date-time",
            "description": "Set how long after a card is generated it should be shown. Default is immediate - utcNow(). (UTC format: yyyy-MM-ddTHH:mm:ssZ)"
          },
          {
            "name": "expirydate",
            "x-ms-summary": "Show until",
            "x-ms-visibility": "advanced",
            "in": "header",
            "type": "string",
            "format": "date-time",
            "description": "Set how long after a card is generated it should expire. Default is 24 hours - utcNow().addHours(24). (UTC format: yyyy-MM-ddTHH:mm:ssZ)"
          }
        ],
        "summary": "Create card for assistant V3",
        "description": "Create Card for Sales Assistant.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#create-card-for-assistant-v3"
        }
      }
    },
    "/{connectionId}/api/GetOrganizationList": {
      "get": {
        "tags": [
          "CrmDataSet"
        ],
        "operationId": "GetCrmOrganizationList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OrganizationsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get CRM organization list",
        "description": "Get list of CRM organizations.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-crm-organization-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/GetEligibleRegardingEntities/": {
      "get": {
        "tags": [
          "RegardingEntities"
        ],
        "operationId": "GetEligibleRegardingEntities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Name of Dynamics 365 organization like Contoso.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get entity list",
        "description": "Get list of entities.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-entity-list"
        }
      }
    },
    "/{connectionId}/api/GetEntityList/": {
      "get": {
        "tags": [
          "CrmEntityList"
        ],
        "operationId": "GetCrmEntityList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Name of Dynamics 365 organization like Contoso.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get entity list",
        "description": "Get list of entities.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-entity-list"
        }
      }
    },
    "/{connectionId}/api/CreateCustomActionDefinition": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionDetails"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateCustomAction",
          "revision": 1
        },
        "operationId": "CreateCustomActionDefinition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "Choose the Dynamics 365 environment (org) in which you want to create the insight card.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Environment (org)",
            "type": "string"
          },
          {
            "name": "entityname",
            "in": "header",
            "type": "string",
            "description": "Choose the primary entity that the custom action is associated with (custom values are not supported)",
            "x-ms-summary": "Filter by entity",
            "required": true,
            "default": "(none) global",
            "x-ms-dynamic-values": {
              "operationId": "GetEntityListForCustomAction",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            }
          },
          {
            "name": "customaction",
            "in": "header",
            "type": "string",
            "description": "Choose the custom action to use (custom values are not supported)",
            "x-ms-summary": "Custom action (CRM process)",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCustomActionList",
              "parameters": {
                "organization": {
                  "parameter": "organization"
                },
                "entityname": {
                  "parameter": "entityname"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Custom action parameters",
            "required": true,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetCustomActionParameters",
                "parameters": {
                  "organization": {
                    "parameter": "organization"
                  },
                  "customaction": {
                    "parameter": "customaction"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Custom Action parameters"
          }
        ],
        "summary": "Choose custom action (CRM process) for insight card",
        "description": "The output of this step should be used in the \"Create card for assistant V2\" step, when Button type is Custom action (CRM process)",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#choose-custom-action-(crm-process)-for-insight-card"
        }
      }
    },
    "/{connectionId}/api/GetActionTypes": {
      "get": {
        "tags": [
          "GetActionTypes"
        ],
        "operationId": "GetActionTypes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionTypesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get action types list",
        "description": "Get action types list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-action-types-list"
        }
      }
    },
    "/{connectionId}/api/GetActionTypesV2": {
      "get": {
        "tags": [
          "GetActionTypesV2"
        ],
        "operationId": "GetActionTypesV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionTypesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get action types v2 list",
        "description": "Get action types v2 list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-action-types-v2-list"
        }
      }
    },
    "/{connectionId}/api/GetPostOperations": {
      "get": {
        "tags": [
          "GetPostOperations"
        ],
        "operationId": "GetPostOperations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PostOperationsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get post operations list",
        "description": "Get post operations list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-post-operations-list"
        }
      }
    },
    "/{connectionId}/api/GetEntityListForCustomAction/": {
      "get": {
        "tags": [
          "GetEntityListForCustomAction"
        ],
        "operationId": "GetEntityListForCustomAction",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "CRM organization to be connected. Eg Contoso.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntityList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get entity list for custom action",
        "description": "Get list of entities for custom action.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-entity-list-for-custom-action"
        }
      }
    },
    "/{connectionId}/api/GetDynamicFieldsForActionType/{actiontype}": {
      "get": {
        "summary": "Get dynamic fields for action type",
        "description": "Get dynamic fields for action type.",
        "operationId": "GetDynamicFieldsForActionType",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "CRM organization to be connected. Eg Contoso.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "actiontype",
            "in": "path",
            "description": "Action type",
            "required": true,
            "x-ms-summary": "Action type",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "secondaryactiontype",
            "in": "header",
            "description": "Secondary action type",
            "x-ms-summary": "Secondary action type",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "version",
            "in": "header",
            "description": "Api version number",
            "x-ms-summary": "Api version number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-dynamic-fields-for-action-type"
        }
      }
    },
    "/{connectionId}/api/GetCustomActionParameters/{customaction}": {
      "get": {
        "summary": "Get parameters for custom action",
        "description": "Get parameters for custom action.",
        "operationId": "GetCustomActionParameters",
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "CRM organization to be connected. Eg Contoso.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "customaction",
            "in": "path",
            "description": "Custom Action",
            "required": true,
            "x-ms-summary": "Custom Action",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Object"
            }
          },
          "default": {
            "description": "Operation Failed"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-parameters-for-custom-action"
        }
      }
    },
    "/{connectionId}/api/GetCustomActionList": {
      "get": {
        "tags": [
          "GetCustomActionList"
        ],
        "operationId": "GetCustomActionList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "CRM organization to be connected. Eg Contoso.",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "entityname",
            "in": "header",
            "description": "Entity.",
            "required": true,
            "x-ms-summary": "Entity",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomActionList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get custom actions list",
        "description": "Get custom actions list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-custom-actions-list"
        }
      }
    },
    "/{connectionId}/api/GetPlaybookTemplates": {
      "get": {
        "tags": [
          "GetPlaybookTemplates"
        ],
        "operationId": "GetPlaybookTemplates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "organization",
            "in": "header",
            "description": "CRM organization to be connected. Eg Contoso.",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetCrmOrganizationList",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PlaybookTemplatesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "summary": "Get playbook templates list",
        "description": "Get playbook templates list.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/assistantstudio/#get-playbook-templates-list"
        }
      }
    }
  },
  "definitions": {
    "BodyFieldsForCreateActionCardV3": {
      "description": "Describes the fields for CreateActionCard_V3",
      "type": "object",
      "required": [
        "cardname",
        "title",
        "description",
        "dynamicproperties"
      ],
      "properties": {
        "cardname": {
          "description": "Simple text only (no dynamic content or expressions). Card name is shown in the insight card list and at the top of the card.",
          "title": "Card name",
          "type": "string"
        },
        "title": {
          "description": "Enter a title to appear in the card header.",
          "title": "Card header",
          "type": "string"
        },
        "description": {
          "description": "Enter text for the body of the insight card.",
          "title": "Card text",
          "type": "string"
        },
        "dynamicproperties": {
          "title": "Dynamic properties",
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetDynamicFieldsForActionType",
            "parameters": {
              "organization": {
                "parameter": "organization"
              },
              "actiontype": {
                "parameter": "actiontype"
              },
              "secondaryactiontype": {
                "parameter": "secondaryactiontype"
              },
              "version": "V3"
            },
            "value-path": "Schema/Items"
          }
        }
      }
    },
    "OrganizationsList": {
      "description": "List of organization.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of organizations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Organization"
          }
        }
      }
    },
    "Organization": {
      "description": "Organization.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "Organization name.",
          "type": "string"
        },
        "DisplayName": {
          "description": "Organization display name.",
          "type": "string"
        }
      }
    },
    "EntityList": {
      "description": "Represents a list of CRM Entities.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Entities.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        }
      }
    },
    "Entity": {
      "description": "Represents a CRM Entity.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the Entity. The name is used at runtime.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the Entity.",
          "type": "string"
        }
      }
    },
    "ActionDetails": {
      "title": "Custom action for insight card",
      "description": "Represents a custom action for insight card.",
      "type": "string"
    },
    "ActionTypesList": {
      "description": "Represents a list of action types.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of action types.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionTypes"
          }
        }
      }
    },
    "ActionTypes": {
      "description": "Represents an action type.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the action type.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the action type.",
          "type": "string"
        }
      }
    },
    "PostOperationsList": {
      "description": "Represents a list of post operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of post operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PostOperation"
          }
        }
      }
    },
    "PostOperation": {
      "description": "Represents a post operation.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the post operation.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the post operation.",
          "type": "string"
        }
      }
    },
    "CustomActionList": {
      "description": "Represents a list of custom actions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of custom actions.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomAction"
          }
        }
      }
    },
    "CustomAction": {
      "description": "Represents a custom action.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the custom action.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the custom action.",
          "type": "string"
        }
      }
    },
    "PlaybookTemplatesList": {
      "description": "Represents a list of playbook templates.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of playbook templates.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlaybookTemplate"
          }
        }
      }
    },
    "PlaybookTemplate": {
      "description": "Represents a playbook pemplate.",
      "type": "object",
      "properties": {
        "Name": {
          "description": "The name of the playbook template.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the playbook template.",
          "type": "string"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dynamics.microsoft.com/ai/sales-insights/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/assistantstudio"
  }
}
