{
  "swagger": "2.0",
  "info": {
    "title": "TRIGGERcmd",
    "description": "To run commands on your computers:\n1 - Create an account at triggercmd.com.\n2 - Install the TRIGGERcmd agent on your computer.\n3 - Setup commands using the agent software.\n4 - Trigger those commands with Microsoft Power Automate.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "url": "https://www.triggercmd.com/forum"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/triggercmd",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/oauth/flow/trigger": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Run command",
        "operationId": "RunCommand",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "computer": {
                  "type": "string",
                  "description": "A computer in your TRIGGERcmd account.",
                  "x-ms-summary": "computer",
                  "title": "Computer",
                  "x-ms-visibility": "important"
                },
                "trigger": {
                  "type": "string",
                  "description": "The name of a command on that computer.",
                  "x-ms-summary": "trigger",
                  "title": "Command",
                  "x-ms-visibility": "important"
                },
                "params": {
                  "type": "string",
                  "description": "Command Parameters (optional)",
                  "x-ms-summary": "params",
                  "title": "Parameters",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "computer",
                "trigger"
              ]
            }
          }
        ],
        "description": "Run a command on your computer.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/triggercmd/#run-command"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.triggercmd.com/oauth/authorize",
      "tokenUrl": "https://www.triggercmd.com/oauth/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.triggercmd.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.triggercmd.com/privacy.htm"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/triggercmd"
  }
}
