{
  "swagger": "2.0",
  "info": {
    "title": "Upland Panviva US",
    "description": "Upland Panviva enhances knowledge management for complex, regulated industries by providing AI-powered, real-time guidance for agents and customers. Our expert solutions ensure compliance and competitiveness, tailored for healthcare, banking, utilities, and BPO organizations with large contact centers. From compliance-focused manual management to fully integrated AI guidance, Panviva adapts to your needs. Boost productivity and maintain compliance standards backed by industry expertise.",
    "version": "1.0",
    "contact": {
      "name": "Upland Panviva Support",
      "url": "https://uplandsoftware.com/panviva/support/",
      "email": "support@uplandsoftware.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/uplandpanvivaus",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": {
    "apiDefinitionSource": "swagger",
    "additionalProperties": {
      "service": {
        "name": "Upland Panviva US"
      },
      "publisher": {
        "name": "Upland Software"
      }
    }
  },
  "paths": {
    "/{connectionId}/{instance}/operations/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search",
        "description": "Searches documents, folders, and files (external documents) for a term and returns paginated results.",
        "operationId": "OperationsSearch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "query",
            "name": "term",
            "description": "The word or phrase to be searched for. Supports simple keywords, Lucene syntax, and regex patterns.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Search Term"
          },
          {
            "in": "query",
            "name": "pageOffset",
            "description": "The pagination offset to denote the number of initial search results to skip.",
            "type": "integer",
            "default": 0,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Page Offset"
          },
          {
            "in": "query",
            "name": "pageLimit",
            "description": "The number of records to return. Must be an integer between 0 and 1000.",
            "type": "integer",
            "default": 20,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Page Limit"
          },
          {
            "in": "query",
            "name": "changedWhen",
            "description": "Helper keywords for applying filters for documents updated in range.",
            "type": "string",
            "default": "NotProvided",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Changed When",
            "enum": [
              "NotProvided",
              "today",
              "yesterday",
              "thisWeek",
              "lastWeek",
              "thisMonth",
              "lastMonth",
              "thisYear",
              "lastYear"
            ]
          },
          {
            "in": "query",
            "name": "directParentFolderId",
            "description": "Search only within given Folder. Any documents in the sub folders are not searched. If not provided, resources are searched across all folders.",
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Direct Parent Folder ID"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns a collection of search results matching the requested search term, along with pagination information.",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of resource returned (e.g., 'document', 'folder', or 'file')."
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique identifier for the resource that can be used to retrieve its details."
                      },
                      "name": {
                        "type": "string",
                        "description": "The title or display name of the resource."
                      },
                      "layout": {
                        "type": "string",
                        "description": "The page layout template used for the resource (e.g., 'topTabsMedium', 'leftTabsMedium')."
                      },
                      "description": {
                        "type": "string",
                        "description": "A brief summary or description of the resource's contents."
                      },
                      "classification": {
                        "type": "string",
                        "description": "The category or classification of the resource (e.g., 'films', 'books')."
                      },
                      "updatedDate": {
                        "type": "string",
                        "description": "The date when the resource was last updated, in ISO 8601 format (YYYY-MM-DD)."
                      },
                      "matchedFields": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The list of fields in which the search term was found (e.g., 'name', 'content')."
                      },
                      "snippet": {
                        "type": "string",
                        "description": "A short excerpt from the content showing the search term in context, often with highlighting."
                      },
                      "language": {
                        "type": "string",
                        "description": "The language code of the resource (e.g., 'en-AU' for Australian English)."
                      },
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "The URL to access the related resource or perform an operation."
                            },
                            "rel": {
                              "type": "string",
                              "description": "The relationship type of the link to the current resource (e.g., 'document', 'file')."
                            },
                            "type": {
                              "type": "string",
                              "description": "The HTTP method to use when accessing this link (typically 'GET')."
                            }
                          }
                        },
                        "description": "Hypermedia links related to this search result that can be used for further operations."
                      }
                    }
                  },
                  "description": "The list of resources matching the search criteria."
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of results matching the search criteria across all pages."
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "href": {
                        "type": "string",
                        "description": "The URL to access a specific page of search results."
                      },
                      "rel": {
                        "type": "string",
                        "description": "The relationship of this link to the current page (e.g., 'first', 'last', 'next', 'prev')."
                      },
                      "type": {
                        "type": "string",
                        "description": "The HTTP method to use when accessing this link (typically 'GET')."
                      }
                    }
                  },
                  "description": "Pagination links that allow navigation between pages of search results."
                }
              }
            },
            "examples": {
              "application/json": {
                "results": [
                  {
                    "type": "document",
                    "id": "123",
                    "name": "Spiderman",
                    "layout": "topTabsMedium",
                    "description": "The chronicles of Spiderman",
                    "classification": "films",
                    "updatedDate": "2018-05-04",
                    "matchedFields": [
                      "name"
                    ],
                    "snippet": "Spiderman is a super<em>hero</em>",
                    "language": "en-AU",
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/documents/123",
                        "rel": "document",
                        "type": "GET"
                      }
                    ]
                  },
                  {
                    "type": "folder",
                    "id": "32",
                    "name": "Marvel Trivia",
                    "description": "All things Marvel",
                    "matchedFields": [
                      "name"
                    ],
                    "snippet": "<em>Marvel</em> Trivia",
                    "language": "en-AU",
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/folder/32",
                        "rel": "file",
                        "type": "GET"
                      }
                    ]
                  },
                  {
                    "type": "file",
                    "id": "124",
                    "name": "Spiderman Book",
                    "fileName": "spiderman-1.pdf",
                    "description": "A book detailing the history of Spiderman",
                    "classification": "books",
                    "updatedDate": "2018-05-04",
                    "matchedFields": [
                      "content",
                      "name",
                      "fileName"
                    ],
                    "snippet": "Spiderman is a <em>hero</em> born in New York",
                    "language": "en-AU",
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/files/124",
                        "rel": "file",
                        "type": "GET"
                      }
                    ]
                  }
                ],
                "total": 57,
                "links": [
                  {
                    "href": "https://dev.panviva.com/v3/marvel/operations/search?term=hero&pageOffset=0&pageLimit=2",
                    "rel": "first",
                    "type": "GET"
                  },
                  {
                    "href": "https://dev.panviva.com/v3/marvel/operations/search?term=hero&pageOffset=56&pageLimit=2",
                    "rel": "last",
                    "type": "GET"
                  },
                  {
                    "href": "https://dev.panviva.com/v3/marvel/operations/search?term=hero&pageOffset=2&pageLimit=2",
                    "rel": "prev",
                    "type": "GET"
                  },
                  {
                    "href": "https://dev.panviva.com/v3/marvel/operations/search?term=hero&pageOffset=6&pageLimit=2",
                    "rel": "next",
                    "type": "GET"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Common issues include invalid search terms, missing required parameters, or improperly formatted query parameters. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the document ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#search"
        }
      }
    },
    "/{connectionId}/{instance}/operations/artefact/nls": {
      "get": {
        "tags": [
          "Search",
          "Artefacts"
        ],
        "summary": "Search Artefacts",
        "description": "Returns Digital Orchestrator search results for a given natural language or advanced query. This endpoint allows searching through artefacts using various query methods and filtering options.",
        "operationId": "OperationsArtefactNls",
        "x-ms-summary": "Search Artefacts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "query",
            "name": "simplequery",
            "description": "Natural language query string. For example: 'What action movie stars Peter Parker?'. (Note: Use simplequery OR advancedquery, not both.)",
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Simple Query"
          },
          {
            "in": "query",
            "name": "advancedquery",
            "description": "Query string written in Lucene query syntax. For example: 'films AND \"a story\"'. (Note: Use simplequery OR advancedquery, not both.)",
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Advanced Query"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Accepts a filter string written in OData expression syntax. Examples: ```category/name eq 'Mortgages'```, ```panvivaDocumentVersion gt '8'```. (Filterable fields include dateCreated, dateModified, dateDeleted, category/name, category/dateCreated, category/dateModified, metaData/keyword/values, metaData/keyword/dataType, title, primaryQuery, isDeleted, timestamp, panvivaDocumentId, panvivaDocumentVersion, id)",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Filter"
          },
          {
            "in": "query",
            "name": "channel",
            "description": "Return response for a specific channel, instead of the default.",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Channel"
          },
          {
            "in": "query",
            "name": "pageOffset",
            "description": "The pagination offset to denote the number of initial search results to skip.",
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Page Offset"
          },
          {
            "in": "query",
            "name": "pageLimit",
            "description": "The number of records to return. Must be an integer between 0 and 1000.",
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Page Limit"
          },
          {
            "in": "query",
            "name": "facet",
            "description": "Accepts a string denoting the field to facet by. Examples: ```facet=metaData/keyword/values```, ```facet=category/name```. (Facetable fields include metaData/keyword/values, category/id, category/name and panvivaDocumentId)",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Facet String"
          },
          {
            "in": "query",
            "name": "highlightTags",
            "description": "Accepts highlight pre and post tags in [start-tag,end-tag] template. Example : ```<em>,</em>```. (Note : Default highlight tag is ``` *,* ```)",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Highlight Tags"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns a collection of responses matching the requested search term.",
            "schema": {
              "$ref": "#/definitions/GetEnrichedSearchArtefactResponse"
            },
            "examples": {
              "application/json": {
                "facets": [
                  {
                    "field": "metaData/Superheroes/values",
                    "groups": [
                      {
                        "key": "Captain America",
                        "value": 1
                      },
                      {
                        "key": "Captain Marvel",
                        "value": 1
                      }
                    ]
                  },
                  {
                    "field": "metaData/Villains/values",
                    "groups": [
                      {
                        "key": "Thanos",
                        "value": 1
                      }
                    ]
                  }
                ],
                "results": [
                  {
                    "id": "ae18c1ae-dd63-445b-b69a-46d89f8c315c",
                    "content": [
                      {
                        "mediaType": "text/plain",
                        "text": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films. Many of these superheroes you have come to love.",
                        "href": null,
                        "resourceLocation": null
                      }
                    ],
                    "simpleContent": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films. Many of these superheroes you have come to love.",
                    "category": {
                      "name": "Marvel Cinematic Universe",
                      "id": 1,
                      "dateCreated": "2018-09-05T04:12:52.83+00:00",
                      "dateModified": "2018-09-05T04:12:52.83+00:00"
                    },
                    "metaData": {
                      "Superheroes": {
                        "values": [
                          "Captain America",
                          "Captain Marvel"
                        ],
                        "dataType": "string"
                      },
                      "Villains": {
                        "values": [
                          "Thanos"
                        ],
                        "dataType": "string"
                      }
                    },
                    "searchScore": 0.99844,
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/artefacts/12",
                        "rel": "artefact",
                        "type": "GET"
                      }
                    ],
                    "queryVariations": [
                      {
                        "id": 1,
                        "query": "What fictional universe does Captain America belong to?"
                      }
                    ],
                    "primaryQuery": "What is the Marvel Cinematic Universe?",
                    "panvivaDocumentId": 235,
                    "panvivaDocumentVersion": 5,
                    "title": "About Marvel Cinematic Universe",
                    "highlights": {
                      "primaryQuery": "What is the *Marvel* Cinematic Universe?",
                      "title": "About *Marvel* Cinematic Universe"
                    }
                  }
                ],
                "total": 1
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Common issues include invalid search terms, missing required parameters, or improperly formatted query parameters. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the document ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#search-artefacts"
        }
      }
    },
    "/{connectionId}/{instance}/operations/live/csh": {
      "post": {
        "tags": [
          "Live Activities",
          "Context-Sensitive Help",
          "Search"
        ],
        "summary": "Live CSH",
        "description": "Presents a context-sensitive help (CSH) search result page to a specified user in their Panviva client. This operation allows you to push search results directly to a user's screen.",
        "operationId": "OperationsLiveCsh",
        "x-ms-summary": "Push Context-Sensitive Help Results",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON object containing information required to perform live CSH activity, including target user and query details.",
            "schema": {
              "$ref": "#/definitions/PostLiveCshRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted. The CSH search has been queued for display on the specified user's Panviva client. Note that there is no mechanism to confirm when or if the user actually sees the content.",
            "schema": {
              "$ref": "#/definitions/PostLiveCshResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request could not be processed due to invalid parameters. Check that the username/userId is valid and that the query is properly formatted.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to perform this operation.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the document ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#live-csh"
        }
      }
    },
    "/{connectionId}/{instance}/operations/live/document": {
      "post": {
        "tags": [
          "Live Activities",
          "Documents"
        ],
        "summary": "Live Document",
        "description": "Pushes a specific document or document section directly to a specified user's Panviva client. This allows you to display relevant documentation to users in real-time as they work.",
        "operationId": "OperationsLiveDocument",
        "x-ms-summary": "Push Document to User",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON object containing the user information, document ID, and optional parameters such as section location and client display settings.",
            "schema": {
              "$ref": "#/definitions/PostLiveDocumentRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted. The document has been queued for display on the specified user's Panviva client. There is no mechanism to confirm when or if the user actually views the document.",
            "schema": {
              "$ref": "#/definitions/PostLiveDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Common issues include invalid search terms, missing required parameters, or improperly formatted query parameters. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the document ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Container not found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "409": {
            "description": "Conflict - The request specified both location and containerId parameters, which are mutually exclusive, or the containerId doesn't match the document ID.",
            "examples": {
              "application/json": {
                "errorCode": "409",
                "message": "Conflicting parameters provided"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#live-document"
        }
      }
    },
    "/{connectionId}/{instance}/operations/live/search": {
      "post": {
        "tags": [
          "Live Activities",
          "Search"
        ],
        "summary": "Live Search",
        "description": "Present a search result page of the passing query on Panviva client to specified user on Panviva client in real time.",
        "operationId": "OperationsLiveSearch",
        "x-ms-summary": "Push Search Results to User",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON object containing the user information, search query and information required to perform a live activity.",
            "schema": {
              "$ref": "#/definitions/PostLiveSearchRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Request accepted. The search results request has been queued for display on the specified user's Panviva client. There is no mechanism to confirm when or if the user actually views the results.",
            "schema": {
              "$ref": "#/definitions/PostLiveSearchResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Common issues include invalid search terms, missing required parameters, or improperly formatted query parameters. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the document ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#live-search"
        }
      }
    },
    "/{connectionId}/{instance}/operations/echo": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Echo",
        "description": "Echo a request to verify connectivity with the Panviva API. This endpoint is useful for testing and debugging purposes.",
        "operationId": "Echo",
        "x-ms-summary": "Echo Request",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource."
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#echo"
        }
      }
    },
    "/{connectionId}/{instance}/resources/container/{id}": {
      "get": {
        "tags": [
          "Containers"
        ],
        "summary": "Container",
        "description": "Return a document container using the container ID provided.",
        "operationId": "ResourcesContainerById",
        "x-ms-summary": "Container by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The ID of a document container.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Container ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested document container.",
            "schema": {
              "$ref": "#/definitions/GetContainerResponse"
            },
            "examples": {
              "application/json": {
                "id": "343-229-1-2",
                "name": "Captain America: Civil War",
                "body": "<div data-link-id='2' data-db-id='208155'><div class='pv-task-header'>Captain America: Civil War</div><div class='pv-task-details' style='width:100%;'><p class='pv-who' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-menupath' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-shortcut' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-trans' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-screen' style='display:none;' hidden='true'>&nbsp;</p></div></div><p class='pv-paragraph' data-db-id='208156' data-link-id='3'><span><img class='pv-image' data-image-id='738' alt='SupportPoint Image 738' data-width='128' data-height='128' style='width:128px;height:128px;' /></span></p>"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the container ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#container"
        }
      }
    },
    "/{connectionId}/{instance}/resources/document/{id}": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Document",
        "description": "Return a document using the document ID provided.",
        "operationId": "ResourcesDocumentById",
        "x-ms-summary": "Document by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "path",
            "name": "id",
            "description": "A document unique identifier, Document ID. If a document is a translated document, this value represents Internal ID or IID in Panviva API v1.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "version",
            "description": "Request the API to return a particular version of the specified document.",
            "type": "integer",
            "x-ms-summary": "Document Version",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested document.",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponse"
            },
            "examples": {
              "application/json": {
                "id": "343",
                "name": "Marvel Cinematic Universe (Films)",
                "description": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films.",
                "version": 229,
                "language": "en-AU",
                "tags": [
                  {
                    "name": "Rank",
                    "value": "1"
                  },
                  {
                    "name": "Effective date",
                    "value": "2018-05-04"
                  }
                ],
                "hidden": false,
                "type": "document",
                "release": 33,
                "released": true,
                "copyright": "Marvel Studios, LLC",
                "classification": "films",
                "status": "Phase Three",
                "percentage": 100,
                "releaseDate": "2017-09-09T04:12:52.83+00:00",
                "layout": "leftTabsMedium",
                "training": {
                  "failureFeedback": "Please review the Marvel documentation in document 343",
                  "forcePageSequence": true,
                  "forceQuestionSequence": true,
                  "passingScore": 10,
                  "successFeedback": "With great power comes great responsibility."
                },
                "keywords": [
                  "Iron Man",
                  "Hulk",
                  "Thor",
                  "Captain America",
                  "Avenger",
                  "Guardians of the Galaxy",
                  "Ant-Man",
                  "Doctor Strange",
                  "Spider-Man",
                  "Black Panter",
                  "Captain Marvel"
                ],
                "cshKeywords": [
                  "Chrome",
                  "MCU"
                ],
                "updatedDate": "2017-09-09T04:12:52.83+00:00",
                "createdDate": "2017-08-09T04:02:46.907+00:00",
                "reusableContent": false,
                "changeNote": "Added in Captain Marvel",
                "links": [
                  {
                    "href": "https://dev.panviva.com/v3/marvel/resources/document/343/translations",
                    "rel": "translations",
                    "type": "GET"
                  },
                  {
                    "href": "https://dev.panviva.com/v3/marvel/resources/document/343/containers",
                    "rel": "containers",
                    "type": "GET"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Common issues include invalid id, missing required parameters, or improperly formatted query parameters. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the document ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#document"
        }
      }
    },
    "/{connectionId}/{instance}/resources/artefact/{id}": {
      "get": {
        "tags": [
          "Artefacts"
        ],
        "summary": "Artefact",
        "description": "Return a Digital Orchestrator artefact using the ID provided.",
        "operationId": "ResourcesArtefactById",
        "x-ms-summary": "Artefact by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Format - uuid. The id (ID) of the Digital Orchestrator artefact.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Artefact ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested artefact.",
            "schema": {
              "$ref": "#/definitions/GetEnrichedResponseResponse"
            },
            "examples": {
              "application/json": {
                "links": [
                  {
                    "href": "https://dev.panviva.com/v3/marvel/resources/document/343?version=229",
                    "rel": "document",
                    "type": "GET"
                  }
                ],
                "title": "About Marvel Cinematic Universe",
                "content": [
                  {
                    "mediaType": "text/plain",
                    "text": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films.",
                    "href": null,
                    "resourceLocation": null
                  },
                  {
                    "mediaType": "image/jpeg",
                    "text": null,
                    "href": "https://terrigen-cdn-dev.marvel.com/content/prod/1x/mi-promo-featured-half-dsk-1140x680.jpg",
                    "resourceLocation": "external"
                  },
                  {
                    "mediaType": "text/plain",
                    "text": "The franchise has been commercially successful and has generally received a positive critical response",
                    "href": null,
                    "resourceLocation": null
                  }
                ],
                "simpleContent": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films.\nThe franchise has been commercially successful and has generally received a positive critical response",
                "variations": [
                  {
                    "content": [
                      {
                        "mediaType": "text/plain",
                        "text": "The Marvel Cinematic Universe is a shared universe that is centered on a series of superhero films.",
                        "href": null,
                        "resourceLocation": null
                      }
                    ],
                    "simpleContent": "The Marvel Cinematic Universe is a shared universe that is centered on a series of superhero films.",
                    "channels": [
                      {
                        "id": 0,
                        "name": "Amazon Alexa"
                      }
                    ],
                    "id": 2,
                    "dateCreated": "2018-09-10T04:12:52.83+00:00",
                    "dateModified": "2018-09-10T04:12:52.83+00:00"
                  }
                ],
                "category": {
                  "name": "Marvel Cinematic Universe",
                  "id": 1,
                  "dateCreated": "2018-09-05T04:12:52.83+00:00",
                  "dateModified": "2018-09-05T04:12:52.83+00:00"
                },
                "primaryQuery": "What is the Marvel Cinematic Universe?",
                "queryVariations": [
                  {
                    "id": 12,
                    "query": "What fictional universe does Captain America belong to?"
                  }
                ],
                "panvivaDocumentId": 235,
                "panvivaDocumentVersion": 5,
                "metaData": {
                  "Superheroes": {
                    "values": [
                      "Captain America",
                      "Captain Marvel"
                    ],
                    "dataType": "string"
                  },
                  "Villains": {
                    "values": [
                      "Thanos"
                    ],
                    "dataType": "string"
                  }
                },
                "id": "ae18c1ae-dd63-445b-b69a-46d89f8c315c",
                "dateCreated": "2018-09-09T04:12:52.83+00:00",
                "dateModified": "2018-09-10T04:12:52.83+00:00"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Common issues include invalid id, missing required parameters, or improperly formatted query parameters. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the document ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#artefact"
        }
      },
      "put": {
        "tags": [
          "Artefacts"
        ],
        "summary": "Publish Artefact",
        "description": "Updates an existing Digital Orchestrator artefact with new content, metadata, or category information. This operation is used to modify artefacts that have already been published.",
        "operationId": "PublishArtefact",
        "x-ms-summary": "Update Published Artefact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The unique identifier (UUID format) of the artefact to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Artefact ID",
            "x-ms-visibility": "important"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The updated artefact details including content, metadata, query variations, and category information. You can modify any aspect of the artefact through this request.",
            "schema": {
              "$ref": "#/definitions/PutArtefactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The artefact was successfully updated with the provided changes. The response includes a status and information about any errors that may have occurred during partial updates.",
            "schema": {
              "$ref": "#/definitions/PutArtefactResponse"
            },
            "examples": {
              "application/json": {
                "hasErrors": true,
                "errors": [
                  "string"
                ],
                "status": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be understood due to malformed syntax. Review your request parameters and try again with the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the artefact ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#publish-artefact"
        }
      }
    },
    "/{connectionId}/{instance}/resources/document/{id}/containers": {
      "get": {
        "tags": [
          "Documents",
          "Containers"
        ],
        "summary": "Document Containers",
        "description": "Retrieves all containers (sections and subsections) within a specified document. Containers represent the hierarchical structure of content within a document.",
        "operationId": "ResourcesDocumentByIdContainers",
        "x-ms-summary": "Document Containers by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The internal ID (IID) of the Panviva document whose containers you want to retrieve.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "version",
            "description": "The specific version of the document whose containers you want to retrieve. If omitted, the latest version's containers will be returned.",
            "type": "integer",
            "x-ms-summary": "Document Version",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of containers for the specified document. Each container includes its ID, name, and HTML body content if available.",
            "schema": {
              "$ref": "#/definitions/GetDocumentContainersResponse"
            },
            "examples": {
              "application/json": {
                "containers": [
                  {
                    "id": "343-229-0-0",
                    "name": "Phase Three",
                    "body": null
                  },
                  {
                    "id": "343-229-1-2",
                    "name": "Captain America: Civil War",
                    "body": "<div data-link-id='2' data-db-id='208155'><div class='pv-task-header'>Captain America: Civil War</div><div class='pv-task-details' style='width:100%;'><p class='pv-who' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-menupath' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-shortcut' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-trans' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-screen' style='display:none;' hidden='true'>&nbsp;</p></div></div><p class='pv-paragraph' data-db-id='208156' data-link-id='3'><span><img class='pv-image' data-image-id='738' alt='SupportPoint Image 738' data-width='128' data-height='128' style='width:128px;height:128px;' /></span></p>"
                  },
                  {
                    "id": "343-229-3-4",
                    "name": "Doctor Strange",
                    "body": "<div data-link-id='4' data-db-id='208157'><div class='pv-task-header'>Doctor Strange</div><div class='pv-task-details' style='width:100%;'><p class='pv-who' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-menupath' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-shortcut' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-trans' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-screen' style='display:none;' hidden='true'>&nbsp;</p></div></div><p class='pv-paragraph' data-db-id='208158' data-link-id='5'>Mr. Doctor?</p>"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be processed due to invalid parameters. Verify that the document ID is in the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The specified document ID does not exist or you don't have permission to access it.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#document-containers"
        }
      }
    },
    "/{connectionId}/{instance}/resources/document/{id}/containers/relationships": {
      "get": {
        "tags": [
          "Documents",
          "Containers"
        ],
        "summary": "Document Container Relationships",
        "description": "Retrieves the hierarchical structure of a document by returning the parent-child relationships between all containers (sections and subsections) within the document. This helps understand how content is organized.",
        "operationId": "ResourcesDocumentContainersByIdRelationships",
        "x-ms-summary": "Document Container Relationships by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Instance Name"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The internal ID (IID) of the Panviva document whose structure you want to retrieve.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the hierarchical structure of the document, showing parent-child relationships between all containers. This structure shows which sections contain which subsections.",
            "schema": {
              "$ref": "#/definitions/GetDocumentContainerRelationshipsResponse"
            },
            "examples": {
              "application/json": {
                "relationships": [
                  {
                    "id": "343-229-0-0",
                    "parent": null,
                    "children": [
                      "343-229-1-2",
                      "343-229-3-4"
                    ],
                    "taskFlow": null
                  },
                  {
                    "id": "343-229-1-2",
                    "parent": "343-229-0-0",
                    "children": null,
                    "taskFlow": null
                  },
                  {
                    "id": "343-229-3-4",
                    "parent": "343-229-0-0",
                    "children": null,
                    "taskFlow": null
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request. The request could not be processed due to invalid parameters. Verify that the document ID is in the correct format.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Forbidden. You have exceeded your API call volume quota or lack permission to access this resource. Wait until your quota resets or contact Panviva Support to increase your quota limits.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource does not exist or you don't have permission to access it. Verify that the document ID, instance name, or other resource identifiers are correct.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed. The HTTP method used in your request (GET, POST, etc.) is not supported for this endpoint. Verify that you're using the correct HTTP method as specified in the API documentation.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The server cannot produce a response matching the content types specified in your Accept header. Ensure your request includes either 'Accept: application/json' or no Accept header at all.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported by this endpoint. Check your Content-Type header and ensure it's set to 'application/json'.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity. Your request was syntactically correct but contained semantic errors that prevented processing. Check the error message for specific details about what needs to be corrected.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too Many Requests. You have exceeded the rate limit for API calls. Please reduce your request frequency and try again later. If you consistently hit rate limits, try optimizing your integration or contacting Panviva Support about increased limits.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable. The Panviva API is temporarily unavailable, typically due to maintenance or system issues. Wait a few minutes and retry your request. If the problem persists, check the Upland Panviva status page or contact Panviva Support.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/uplandpanvivaus/#document-container-relationships"
        }
      }
    },
    "/{connectionId}/{instance}/resources/document/{id}/translations": {
      "get": {
        "tags": [
          "Documents",
          "Translations"
        ],
        "summary": "Document Translations",
        "description": "Retrieves all available translations of a Panviva document across different languages and locales. This helps access multilingual versions of the same content.",
        "operationId": "ResourcesDocumentByIdTranslations",
        "x-ms-summary": "Document Translations by ID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "path",
[...]
