{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Amazon SQS",
    "description": "Simple Queue Service (SQS) is a queue service provided by Amazon Web Services.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/amazonsqs",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/message": {
      "get": {
        "tags": [
          "SqsQueue"
        ],
        "summary": "When a message is received from the SQS queue",
        "description": "When a message is received from the SQS queue.",
        "operationId": "GetMessageFromQueue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageVisibilityTimeoutSeconds",
            "in": "query",
            "description": "The duration (in seconds) that the received messages are hidden from subsequent retrieve requests after being retrieved.",
            "required": false,
            "x-ms-summary": "Message visibility timeout (in seconds)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestWaitTimeoutSeconds",
            "in": "query",
            "description": "The duration (in seconds) for which the call waits for a message to arrive in the queue before returning.",
            "required": false,
            "x-ms-summary": "Request wait timeout (in seconds)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "messageAttributeNames",
            "in": "query",
            "description": "The attributes of the message to fetch. This must be a comma delimited string with supported values from 'All,ApproximateFirstReceiveTimestamp,ApproximateReceiveCount,AWSTraceHeader,SenderId,SentTimestamp,MessageDeduplicationId,MessageGroupId,SequenceNumber'. Attribute names are case sensitive.",
            "required": false,
            "x-ms-summary": "Message attribute names",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QueueMessage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazonsqs/#when-a-message-is-received-from-the-sqs-queue"
        }
      },
      "put": {
        "tags": [
          "SqsQueue"
        ],
        "summary": "Sends a message to the SQS queue",
        "description": "Sends a message to the SQS queue.",
        "operationId": "SendMessageToQueue",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "sendMessageOperationInput",
            "in": "body",
            "description": "Inputs for the operation to send a message.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendMessageOperationInput"
            },
            "x-ms-summary": "Operation input",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QueueMessageMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazonsqs/#sends-a-message-to-the-sqs-queue"
        }
      },
      "delete": {
        "tags": [
          "SqsQueue"
        ],
        "summary": "Deletes a message from the SQS queue",
        "description": "Deletes a message from the SQS queue.",
        "operationId": "DeleteMessageFromQueue",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "messageReceiptHandle",
            "in": "query",
            "description": "The receipt handle associated with the message to delete.",
            "required": true,
            "x-ms-summary": "Message receipt handle",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazonsqs/#deletes-a-message-from-the-sqs-queue"
        }
      }
    },
    "/{connectionId}/messages": {
      "get": {
        "tags": [
          "SqsQueue"
        ],
        "summary": "When messages are received from the SQS queue",
        "description": "When messages are received from the SQS queue.",
        "operationId": "GetMessagesFromQueue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "maximumNumberOfMessages",
            "in": "query",
            "description": "The maximum number of messages to fetch from the queue.",
            "required": false,
            "x-ms-summary": "Maximum number of messages to fetch",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "messageVisibilityTimeoutSeconds",
            "in": "query",
            "description": "The duration (in seconds) that the received messages are hidden from subsequent retrieve requests after being retrieved.",
            "required": false,
            "x-ms-summary": "Message visibility timeout (in seconds)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "requestWaitTimeoutSeconds",
            "in": "query",
            "description": "The duration (in seconds) for which the call waits for a message to arrive in the queue before returning.",
            "required": false,
            "x-ms-summary": "Request wait timeout (in seconds)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 0
          },
          {
            "name": "messageAttributeNames",
            "in": "query",
            "description": "The attributes of the message to fetch. This must be a comma delimited string with supported values from 'All,ApproximateFirstReceiveTimestamp,ApproximateReceiveCount,AWSTraceHeader,SenderId,SentTimestamp,MessageDeduplicationId,MessageGroupId,SequenceNumber'. Attribute names are case sensitive.",
            "required": false,
            "x-ms-summary": "Message attribute names",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/QueueMessage"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/amazonsqs/#when-messages-are-received-from-the-sqs-queue"
        }
      }
    }
  },
  "definitions": {
    "QueueMessage": {
      "description": "Content of a message",
      "type": "object",
      "properties": {
        "messageId": {
          "description": "A unique identifier for the message.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "receiptHandle": {
          "description": "An identifier associated with the act of receiving the message.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "content": {
          "description": "The message's contents (not URL encoded).",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "contentMD5": {
          "description": "An MD5 digest of the non-URL encoded message content.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "attributes": {
          "description": "The attributes of the message.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SendMessageOperationInput": {
      "description": "Inputs for the operation to send a message",
      "type": "object",
      "properties": {
        "messageVisibilityDelaySeconds": {
          "format": "int32",
          "description": "The duration (in seconds) for which to delay a specific message.",
          "type": "integer",
          "x-ms-summary": "Message visibility delay (in seconds)",
          "x-ms-visibility": "advanced"
        },
        "messageContent": {
          "description": "The content message to send to the queue.",
          "type": "string",
          "x-ms-summary": "Message content",
          "x-ms-visibility": "important"
        }
      }
    },
    "QueueMessageMetadata": {
      "description": "Metadata of a message",
      "type": "object",
      "properties": {
        "messageId": {
          "description": "A unique identifier for the message.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "contentMD5": {
          "description": "An MD5 digest of the non-URL encoded message content.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/amazonsqs"
  }
}
