{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Microsoft To-Do (Consumer)",
    "description": "Microsoft To-Do is an intelligent task management app that makes it easy to plan and manage your day. Connect to Microsoft To-Do to manage your tasks from various services. You can perform actions such as creating tasks.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/todoconsumer",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/lists": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List all to-do lists",
        "description": "Returns a list of all the to-do lists.",
        "operationId": "GetAllTodoLists",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TodoList"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetAllTodoLists",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#list-all-to-do-lists"
        }
      },
      "post": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Create a to-do list",
        "description": "This operation is used to create a new to-do list.",
        "operationId": "CreateToDoList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDoList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/TodoList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateToDoList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#create-a-to-do-list"
        }
      }
    },
    "/{connectionId}/lists/{folderId}": {
      "get": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Get a to-do list",
        "description": "This operation is used to get a specific to-do list.",
        "operationId": "GetToDoList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/TodoList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetToDoList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#get-a-to-do-list"
        }
      },
      "patch": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Update a to-do list",
        "description": "This operation is used to update a specific to-do list.",
        "operationId": "UpdateToDoList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDoList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/TodoList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateToDoList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#update-a-to-do-list"
        }
      },
      "delete": {
        "tags": [
          "TaskFolders"
        ],
        "summary": "Delete a to-do list",
        "description": "This operation is used to delete a specific to-do list.",
        "operationId": "DeleteToDoList",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation Successful"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DeleteToDoList",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#delete-a-to-do-list"
        }
      }
    },
    "/{connectionId}/lists/{folderId}/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List to-do's by folder",
        "description": "This operation is used to retrieve all to-do's from a specific list.",
        "operationId": "ListToDosByFolder",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = 10, maximum = 999).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "important",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListToDosByFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#list-to-do%27s-by-folder"
        }
      },
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Add a to-do",
        "description": "This operation is used to create a to-do in the specified to-do list.",
        "operationId": "CreateToDo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateToDo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#add-a-to-do"
        }
      }
    },
    "/{connectionId}/lists/{folderId}/tasks/{id}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get a to-do",
        "description": "This operation is used to get the to-do with the given Id.",
        "operationId": "GetToDo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolder",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                },
                "$top": 100
              },
              "value-path": "Id",
              "value-title": "Title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#get-a-to-do"
        }
      },
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update to-do",
        "description": "This operation is used to update a specific to-do.",
        "operationId": "UpdateToDo",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolder",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                },
                "$top": 100
              },
              "value-path": "Id",
              "value-title": "Title"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateToDo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Operation Successful",
            "schema": {
              "$ref": "#/definitions/ToDo"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "UpdateToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#update-to-do"
        }
      },
      "delete": {
        "tags": [
          "Tasks"
        ],
        "summary": "Delete to-do",
        "description": "This operation is used to delete a task.",
        "operationId": "DeleteToDo",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "To-do task",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do task",
            "x-ms-dynamic-values": {
              "operationId": "ListToDosByFolder",
              "parameters": {
                "folderId": {
                  "parameter": "folderId"
                },
                "$top": 100
              },
              "value-path": "Id",
              "value-title": "Title"
            },
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Operation Successful"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "DeleteToDo",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#delete-to-do"
        }
      }
    },
    "/{connectionId}/trigger/onNewToDoInFolder/{folderId}": {
      "get": {
        "tags": [
          "trigger"
        ],
        "summary": "When a new to-do in a specific folder is created",
        "description": "Triggers when a new to-do in a specific folder is created.",
        "operationId": "OnNewToDoInFolder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, create a to-do in a given folder.",
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnNewToDoInFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#when-a-new-to-do-in-a-specific-folder-is-created"
        }
      }
    },
    "/{connectionId}/trigger/onUpdateToDoInFolder/{folderId}": {
      "get": {
        "tags": [
          "trigger"
        ],
        "summary": "When a to-do in a specific folder is updated",
        "description": "Triggers when a to-do in a specific folder is updated.",
        "operationId": "OnUpdateToDoInFolder",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "To-do list",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "To-do List",
            "x-ms-dynamic-values": {
              "operationId": "GetAllTodoLists",
              "value-path": "id",
              "value-title": "displayName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ToDo"
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, update a to-do in a given folder.",
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnUpdateToDoInFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/todoconsumer/#when-a-to-do-in-a-specific-folder-is-updated"
        }
      }
    }
  },
  "definitions": {
    "TodoList": {
      "description": "An Microsoft To-Do list.",
      "type": "object",
      "properties": {
        "@odata.etag": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier of the to-do list.",
          "type": "string"
        },
        "displayName": {
          "title": "Name",
          "description": "Name of the to-do list.",
          "type": "string"
        },
        "wellknownListName": {
          "title": "Well-known name",
          "description": "Property indicating the well-known list name if the given list is a well-known list. Possible values are: none, defaultList, flaggedEmails, unknownFutureValue.",
          "type": "string",
          "x-ms-summary": "Well-known name",
          "x-ms-visibility": "advanced"
        },
        "isOwner": {
          "title": "Is owner",
          "description": "True if the user is owner of the given task list.",
          "type": "boolean",
          "x-ms-summary": "Is owner",
          "x-ms-visibility": "advanced"
        },
        "isShared": {
          "title": "Is shared",
          "description": "True if the task list is shared with other users.",
          "type": "boolean",
          "x-ms-summary": "Is shared",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ToDo": {
      "description": "A Microsoft To-Do object.",
      "type": "object",
      "properties": {
        "@odata.context": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "@odata.etag": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "id": {
          "title": "Id",
          "description": "Unique identifier of the to-do.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "createdDateTime": {
          "format": "date-time",
          "title": "Created Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "lastModifiedDateTime": {
          "format": "date-time",
          "title": "Modified Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "properties": {
            "contentType": {
              "title": "Content Type",
              "description": "The type of the content. Possible values are text and html.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "content": {
              "title": "Content",
              "description": "The content of the item.",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "bodyLastModifiedDateTime": {
          "format": "date-time",
          "title": "Modified Date-Time",
          "description": "YYYY-MM-DDThh:mm:ssZ (UTC format)",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "completedDateTime": {
          "title": "Completed",
          "description": "The date in the specified time zone that the task was finished.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "dueDateTime": {
          "title": "Due",
          "description": "The date in the specified time zone that the task is to be finished.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "low",
            "normal",
            "high"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "isReminderOn": {
          "title": "Is reminder on",
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "reminderDateTime": {
          "title": "Reminder",
          "description": "The date and time for a reminder alert of the task to occur.",
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "title": "Date-Time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "notStarted",
            "inProgress",
            "completed",
            "waitingOnOthers",
            "deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "title": {
          "title": "Title",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateToDo": {
      "description": "A Microsoft To-Do.",
      "required": [
        "title"
      ],
      "type": "object",
      "properties": {
        "dueDateTime": {
          "description": "Date in the UTC time zone when the to-do is to be finished (note the time portion will be ignored).",
          "required": [
            "timeZone"
          ],
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "important"
            },
            "timeZone": {
              "description": "Time zone of the due date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Due Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "reminderDateTime": {
          "description": "Date-time in UTC time zone for a reminder alert of the to-do to occur.",
          "required": [
            "timeZone"
          ],
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-summary": "Reminder Date-Time",
              "x-ms-visibility": "important"
            },
            "timeZone": {
              "description": "Time zone of the reminder date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Reminder Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "low",
            "normal",
            "high"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "title": {
          "title": "Title",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important",
          "default": "DefaultToDo"
        },
        "status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "notStarted",
            "inProgress",
            "completed",
            "waitingOnOthers",
            "deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "required": [
            "contentType"
          ],
          "properties": {
            "contentType": {
              "title": "Content Type",
              "description": "The type of the content. Possible values are text and html.",
              "type": "string",
              "x-ms-visibility": "internal",
              "default": "html"
            },
            "content": {
              "title": "Content",
              "description": "The content of the item.",
              "type": "string",
              "format": "html",
              "x-ms-visibility": "important"
            }
          }
        },
        "isReminderOn": {
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder On",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "title": "test to-do"
      }
    },
    "UpdateToDo": {
      "description": "A Microsoft To-Do.",
      "type": "object",
      "properties": {
        "dueDateTime": {
          "description": "Date in the UTC time zone when the to-do is to be finished (note the time portion will be ignored).",
          "required": [
            "timeZone"
          ],
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "important"
            },
            "timeZone": {
              "description": "Time zone of the due date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Due Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "reminderDateTime": {
          "description": "Date-time in UTC time zone for a reminder alert of the to-do to occur.",
          "required": [
            "timeZone"
          ],
          "type": "object",
          "properties": {
            "dateTime": {
              "format": "date-time",
              "description": "YYYY-MM-DDThh:mm:ss",
              "type": "string",
              "x-ms-summary": "Reminder Date-Time",
              "x-ms-visibility": "important"
            },
            "timeZone": {
              "description": "Time zone of the reminder date.",
              "default": "UTC",
              "type": "string",
              "x-ms-summary": "Reminder Time Zone",
              "x-ms-visibility": "internal"
            }
          }
        },
        "importance": {
          "title": "Importance",
          "description": "Low, normal or high.",
          "enum": [
            "low",
            "normal",
            "high"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "title": {
          "title": "Title",
          "description": "Brief description or title of the to-do.",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "status": {
          "title": "Status",
          "description": "Indicates state or progress of the to-do - not started, in progress, completed, waiting on others or deferred.",
          "enum": [
            "notStarted",
            "inProgress",
            "completed",
            "waitingOnOthers",
            "deferred"
          ],
          "type": "string",
          "x-ms-visibility": "important"
        },
        "body": {
          "title": "Body",
          "description": "To-do body that typically contains information about the to-do.",
          "type": "object",
          "required": [
            "contentType"
          ],
          "properties": {
            "contentType": {
              "title": "Content Type",
              "description": "The type of the content. Possible values are text and html.",
              "type": "string",
              "x-ms-visibility": "internal",
              "default": "html"
            },
            "content": {
              "title": "Content",
              "description": "The content of the item.",
              "type": "string",
              "format": "html",
              "x-ms-visibility": "important"
            }
          }
        },
        "isReminderOn": {
          "description": "True if an alert is set to remind the user of the to-do.",
          "type": "boolean",
          "x-ms-summary": "Is Reminder On",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "title": "test to-do"
      }
    },
    "CreateToDoList": {
      "description": "A Microsoft To-Do list.",
      "required": [
        "displayName"
      ],
      "type": "object",
      "properties": {
        "displayName": {
          "description": "List name",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important",
          "type": "string"
        }
      },
      "x-ms-test-value": {
        "displayName": "test to-do list"
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetAllTodoLists"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://todo.microsoft.com/tasks/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/todoconsumer"
  }
}
