{
  "swagger": "2.0",
  "info": {
    "title": "PRO WFM Authentication",
    "description": "Simplifies the steps to retrieve and manage an access token for Pro WFM APIs.",
    "version": "1.0",
    "contact": {
      "name": "KGS",
      "url": "https://www.ukg.com/support",
      "email": "support@ukg.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/prowfmauthentication",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/api/authentication/access_token": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "access_token": {
                  "type": "string",
                  "description": "The access token created for accessing Pro WFM APIs.",
                  "title": "access_token"
                },
                "refresh_token": {
                  "type": "string",
                  "description": "The refresh token to get a new access token when the access token expires.",
                  "title": "refresh_token"
                },
                "scope": {
                  "type": "string",
                  "description": "The scope assigned to the access token.",
                  "title": "scope"
                },
                "id_token": {
                  "type": "string",
                  "description": "The id token associated with the access token.",
                  "title": "id_token"
                },
                "token_type": {
                  "type": "string",
                  "description": "The type of token.",
                  "title": "token_type"
                },
                "expires_in": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time until the access token expires.",
                  "title": "expires_in"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get an oAuth access token",
        "description": "Credentials for an oAuth access token which is needed to call Pro WFM APIs.",
        "operationId": "GetAccessToken",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal",
            "x-ms-summary": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal",
            "description": "The media type of the resource.",
            "x-ms-summary": "The media type of the resource"
          },
          {
            "name": "appKey",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "The Pro WFM Application Key",
            "description": "The Pro WFM Application Key required for API calls."
          },
          {
            "name": "vanityURL",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The Pro WFM Vanity URL you use to access Pro WMF (for non SSO use cases).",
            "x-ms-summary": "The Pro WFM Vanity URL"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "description": "The runtime user's username for accessing Pro WFM.",
                  "title": "username"
                },
                "password": {
                  "type": "string",
                  "description": "The runtime user's password for accessing Pro WFM.",
                  "title": "password",
                  "format": "password"
                },
                "client_id": {
                  "type": "string",
                  "description": "The oAuth client ID assigned to this Pro WFM tenant.",
                  "title": "client_id"
                },
                "client_secret": {
                  "type": "string",
                  "description": "The oAuth client secret assigned to this Pro WFM tenant.",
                  "title": "client_secret"
                },
                "grant_type": {
                  "type": "string",
                  "description": "The type of oAuth grant used by this connector.",
                  "title": "grant_type",
                  "default": "password",
                  "x-ms-visibility": "internal"
                },
                "auth_chain": {
                  "type": "string",
                  "description": "The authentication chain in use.",
                  "title": "auth_chain",
                  "x-ms-visibility": "internal",
                  "default": "OAuthLdapService"
                }
              },
              "required": [
                "auth_chain",
                "grant_type",
                "password",
                "client_id",
                "username",
                "client_secret"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/prowfmauthentication/#get-an-oauth-access-token"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ukg.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ukg.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/prowfmauthentication"
  }
}
