{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Google Contacts",
    "description": "Google Contacts is an online address book, integrated across your Google products and more.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/googlecontacts",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/m8/feeds/contacts/default/full": {
      "get": {
        "summary": "Get my contacts",
        "description": "Get my contacts.",
        "operationId": "ListContacts",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "feed": {
                  "type": "object",
                  "properties": {
                    "entry": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Entry"
                      },
                      "x-ms-summary": "Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "ListContacts",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#get-my-contacts-%5bdeprecated%5d"
        }
      },
      "post": {
        "summary": "Create a contact",
        "description": "Create a contact within Google Contacts",
        "operationId": "CreateContact",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "displayName"
              ],
              "type": "object",
              "properties": {
                "displayName": {
                  "description": "Display name for the contact.",
                  "type": "string",
                  "x-ms-summary": "Display Name",
                  "x-ms-visibility": "important"
                },
                "workEmail": {
                  "type": "string",
                  "x-ms-summary": "Work Email Address"
                },
                "group": {
                  "description": "Group to add the contact to.",
                  "type": "string",
                  "x-ms-summary": "Group",
                  "x-ms-dynamic-values": {
                    "operationId": "ListGroups",
                    "value-path": "id",
                    "value-title": "title"
                  }
                },
                "company": {
                  "type": "string",
                  "x-ms-summary": "Company"
                },
                "workPhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Work Phone Number"
                },
                "mobilePhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Mobile Phone Number"
                },
                "homeEmail": {
                  "description": "Home Email address for the contact.",
                  "type": "string",
                  "x-ms-summary": "Home Email Address",
                  "x-ms-visibility": "advanced"
                },
                "otherEmail": {
                  "type": "string",
                  "x-ms-summary": "Other Email Address",
                  "x-ms-visibility": "advanced"
                },
                "nickName": {
                  "type": "string",
                  "x-ms-summary": "Nickname",
                  "x-ms-visibility": "advanced"
                },
                "homeAddress": {
                  "type": "string",
                  "x-ms-summary": "Home Address",
                  "x-ms-visibility": "advanced"
                },
                "workAddress": {
                  "type": "string",
                  "x-ms-summary": "Work Address"
                },
                "otherAddress": {
                  "type": "string",
                  "x-ms-summary": "Other Address",
                  "x-ms-visibility": "advanced"
                },
                "jobTitle": {
                  "type": "string",
                  "x-ms-summary": "Job Title",
                  "x-ms-visibility": "advanced"
                },
                "homePhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Home Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "otherPhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Other Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "notes": {
                  "type": "string",
                  "x-ms-summary": "Notes",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "entry": {
                  "$ref": "#/definitions/Entry"
                }
              }
            }
          },
          "201": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "version": {
                  "description": "version",
                  "type": "string",
                  "x-ms-summary": "version",
                  "x-ms-visibility": "advanced"
                },
                "encoding": {
                  "description": "encoding",
                  "type": "string",
                  "x-ms-summary": "encoding",
                  "x-ms-visibility": "advanced"
                },
                "entry": {
                  "$ref": "#/definitions/Entry"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "CreateContact",
          "revision": 1,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#create-a-contact-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/m8/feeds/contacts/default/full": {
      "get": {
        "summary": "Get my contacts V2",
        "description": "Get my contacts V2.",
        "operationId": "ListContactsV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Entry"
                  },
                  "x-ms-summary": "Contact"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "ListContacts",
          "revision": 2
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#get-my-contacts-v2-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/m8/feeds/groups/default/full": {
      "get": {
        "summary": "Get my groups",
        "operationId": "ListGroups",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "ListGroups",
          "revision": 1
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#get-my-groups-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/trigger/onContactUpdated": {
      "get": {
        "summary": "When a contact changes",
        "description": "When a contact changes in Google Contacts.",
        "operationId": "OnContactUpdated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "feed": {
                  "type": "object",
                  "properties": {
                    "entry": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Entry"
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Try again later"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "OnContactUpdated",
          "revision": 1
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a contact.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#when-a-contact-changes-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/people/v1/people/me/connections": {
      "get": {
        "summary": "Get my contacts V3",
        "description": "Get my contacts V3.",
        "operationId": "PeopleApiListContactsV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "connections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PeopleApiConnection"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "ListContacts",
          "revision": 3,
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#get-my-contacts-v3-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/people/v1/people:createContact": {
      "post": {
        "summary": "Create a contact V2",
        "description": "Create a contact within Google Contacts V2",
        "operationId": "PeopleApiCreateContactV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "givenName"
              ],
              "type": "object",
              "properties": {
                "givenName": {
                  "description": "Given name for the contact.",
                  "type": "string",
                  "x-ms-summary": "Given Name",
                  "x-ms-visibility": "important"
                },
                "familyName": {
                  "description": "Family name for the contact.",
                  "type": "string",
                  "x-ms-summary": "Family Name"
                },
                "workEmail": {
                  "type": "string",
                  "x-ms-summary": "Work Email Address"
                },
                "group": {
                  "description": "Group to add the contact to.",
                  "type": "string",
                  "x-ms-summary": "Group",
                  "x-ms-dynamic-values": {
                    "operationId": "PeopleApiListGroupsV2",
                    "value-collection": "contactGroups",
                    "value-path": "resourceName",
                    "value-title": "formattedName"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "PeopleApiListGroupsV2",
                    "itemsPath": "contactGroups",
                    "itemValuePath": "resourceName",
                    "itemTitlePath": "formattedName"
                  }
                },
                "company": {
                  "type": "string",
                  "x-ms-summary": "Company"
                },
                "workPhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Work Phone Number"
                },
                "mobilePhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Mobile Phone Number"
                },
                "homeEmail": {
                  "description": "Home Email address for the contact.",
                  "type": "string",
                  "x-ms-summary": "Home Email Address",
                  "x-ms-visibility": "advanced"
                },
                "otherEmail": {
                  "type": "string",
                  "x-ms-summary": "Other Email Address",
                  "x-ms-visibility": "advanced"
                },
                "nickName": {
                  "type": "string",
                  "x-ms-summary": "Nickname",
                  "x-ms-visibility": "advanced"
                },
                "homeAddress": {
                  "type": "string",
                  "x-ms-summary": "Home Address",
                  "x-ms-visibility": "advanced"
                },
                "workAddress": {
                  "type": "string",
                  "x-ms-summary": "Work Address"
                },
                "otherAddress": {
                  "type": "string",
                  "x-ms-summary": "Other Address",
                  "x-ms-visibility": "advanced"
                },
                "jobTitle": {
                  "type": "string",
                  "x-ms-summary": "Job Title",
                  "x-ms-visibility": "advanced"
                },
                "homePhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Home Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "otherPhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Other Phone Number",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeopleApiConnection"
            }
          },
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeopleApiConnection"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "CreateContact",
          "revision": 2,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#create-a-contact-v2"
        }
      }
    },
    "/{connectionId}/people/v1/contactGroups": {
      "get": {
        "summary": "Get my groups V2",
        "operationId": "PeopleApiListGroupsV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "contactGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "resourceName": {
                        "type": "string"
                      },
                      "formattedName": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "ListGroups",
          "revision": 2
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#get-my-groups-v2"
        }
      }
    },
    "/{connectionId}/people/trigger/onContactUpdated": {
      "get": {
        "summary": "When a contact changes V2",
        "description": "When a contact changes in Google Contacts V2.",
        "operationId": "PeopleApiOnContactUpdatedV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "connections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PeopleApiConnection"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Try again later"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "OnContactUpdate",
          "revision": 2,
          "status": "Preview"
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a contact.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#when-a-contact-changes-v2-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v4/people/v1/me/connections": {
      "get": {
        "summary": "Get my contacts V4",
        "description": "Get my contacts V4.",
        "operationId": "PeopleApiListContactsV4",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "connections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PeopleApiConnectionV2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "ListContacts",
          "revision": 4,
          "status": "Production"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#get-my-contacts-v4"
        }
      }
    },
    "/{connectionId}/v2/people/people:createContact": {
      "post": {
        "summary": "Create a contact V3",
        "description": "Create a contact within Google Contacts V3",
        "operationId": "PeopleApiCreateContactV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "givenName"
              ],
              "type": "object",
              "properties": {
                "givenName": {
                  "description": "Given name for the contact.",
                  "type": "string",
                  "x-ms-summary": "Given Name",
                  "x-ms-visibility": "important"
                },
                "familyName": {
                  "description": "Family name for the contact.",
                  "type": "string",
                  "x-ms-summary": "Family Name"
                },
                "workEmail": {
                  "type": "string",
                  "x-ms-summary": "Work Email Address"
                },
                "group": {
                  "description": "Group to add the contact to.",
                  "type": "string",
                  "x-ms-summary": "Group",
                  "x-ms-dynamic-values": {
                    "operationId": "PeopleApiListGroupsV2",
                    "value-collection": "contactGroups",
                    "value-path": "resourceName",
                    "value-title": "formattedName"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "PeopleApiListGroupsV2",
                    "itemsPath": "contactGroups",
                    "itemValuePath": "resourceName",
                    "itemTitlePath": "formattedName"
                  }
                },
                "company": {
                  "type": "string",
                  "x-ms-summary": "Company"
                },
                "workPhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Work Phone Number"
                },
                "mobilePhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Mobile Phone Number"
                },
                "homeEmail": {
                  "description": "Home Email address for the contact.",
                  "type": "string",
                  "x-ms-summary": "Home Email Address",
                  "x-ms-visibility": "advanced"
                },
                "otherEmail": {
                  "type": "string",
                  "x-ms-summary": "Other Email Address",
                  "x-ms-visibility": "advanced"
                },
                "nickName": {
                  "type": "string",
                  "x-ms-summary": "Nickname",
                  "x-ms-visibility": "advanced"
                },
                "homeAddress": {
                  "type": "string",
                  "x-ms-summary": "Home Address",
                  "x-ms-visibility": "advanced"
                },
                "workAddress": {
                  "type": "string",
                  "x-ms-summary": "Work Address"
                },
                "otherAddress": {
                  "type": "string",
                  "x-ms-summary": "Other Address",
                  "x-ms-visibility": "advanced"
                },
                "jobTitle": {
                  "type": "string",
                  "x-ms-summary": "Job Title",
                  "x-ms-visibility": "advanced"
                },
                "homePhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Home Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "otherPhoneNumber": {
                  "type": "string",
                  "x-ms-summary": "Other Phone Number",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeopleApiConnectionV2"
            }
          },
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PeopleApiConnectionV2"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "CreateContact",
          "revision": 3,
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#create-a-contact-v3"
        }
      }
    },
    "/{connectionId}/v3/people/trigger/onContactUpdated": {
      "get": {
        "summary": "When a contact changes V3",
        "description": "When a contact changes in Google Contacts V3.",
        "operationId": "PeopleApiOnContactUpdatedV3",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "connections": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PeopleApiConnectionV2"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Try again later"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occured"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "OnContactUpdate",
          "revision": 3,
          "status": "Production"
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update a contact.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlecontacts/#when-a-contact-changes-v3"
        }
      }
    }
  },
  "definitions": {
    "Entry": {
      "type": "object",
      "properties": {
        "id": {
          "type": "object",
          "properties": {
            "$t": {
              "description": "The id of the contact.",
              "type": "string",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "updated": {
          "type": "object",
          "properties": {
            "$t": {
              "format": "date-time",
              "description": "The datetime the contact was last updated, in yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T08:00:59.000Z).",
              "type": "string",
              "x-ms-summary": "Updated DateTime",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "title": {
          "type": "object",
          "properties": {
            "$t": {
              "description": "The job title of the contact.",
              "type": "string",
              "x-ms-summary": "Title",
              "x-ms-visibility": "important"
            }
          }
        },
        "gd$name": {
          "type": "object",
          "properties": {
            "gd$fullName": {
              "type": "object",
              "properties": {
                "$t": {
                  "description": "The full name of the contact.",
                  "type": "string",
                  "x-ms-summary": "Full Name"
                }
              }
            },
            "gd$givenName": {
              "type": "object",
              "properties": {
                "$t": {
                  "description": "The given name of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Given Name"
                }
              }
            },
            "gd$familyName": {
              "type": "object",
              "properties": {
                "$t": {
                  "description": "The family name of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Last Name"
                }
              }
            }
          }
        },
        "gContact$nickname": {
          "type": "object",
          "properties": {
            "$t": {
              "description": "The nickname of the contact.",
              "type": "string",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Nickname"
            }
          }
        },
        "gd$organization": {
          "type": "array",
          "items": {
            "type": "object",
            "x-ms-summary": "Organization",
            "properties": {
              "gd$orgName": {
                "type": "object",
                "properties": {
                  "$t": {
                    "description": "The origanization name.",
                    "type": "string",
                    "x-ms-visibility": "important",
                    "x-ms-summary": "Name"
                  }
                }
              },
              "gd$orgTitle": {
                "type": "object",
                "properties": {
                  "$t": {
                    "description": "The organization title.",
                    "type": "string",
                    "x-ms-visibility": "advanced",
                    "x-ms-summary": "Title"
                  }
                }
              }
            }
          }
        },
        "workEmail": {
          "description": "The work email address of the contact.",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Work Email"
        },
        "homeEmail": {
          "description": "The home address of the contact.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Home Email"
        },
        "otherEmail": {
          "description": "The other address of the contact.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Other Email"
        },
        "workPhoneNumber": {
          "description": "The work phone number of the contact.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Work Phone Number"
        },
        "homePhoneNumber": {
          "description": "The home phone number of the contact.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Home Phone Number"
        },
        "otherPhoneNumber": {
          "description": "The other phone number of the contact.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Other Phone Number"
        },
        "mobilePhoneNumber": {
          "description": "The mobile phone number of the contact.",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Mobile Phone Number"
        },
        "workAddress": {
          "description": "The work address of the contact.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Work Address"
        },
        "homeAddress": {
          "description": "The home address of the contact.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Home Address"
        },
        "otherAddress": {
          "description": "The other address of the contact.",
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Other Address"
        }
      }
    },
    "PeopleApiConnection": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "properties": {
            "source": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "The id of the contact.",
                  "type": "string",
                  "x-ms-summary": "Id",
                  "x-ms-visibility": "advanced"
                },
                "updatedTime": {
                  "format": "date-time",
                  "description": "The datetime the contact was last updated, in yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T08:00:59.000Z).",
                  "type": "string",
                  "x-ms-summary": "Updated DateTime",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "name": {
          "type": "object",
          "properties": {
            "displayName": {
              "description": "The full name of the contact.",
              "type": "string",
              "x-ms-summary": "Full Name"
            },
            "givenName": {
              "description": "The given name of the contact.",
              "type": "string",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Given Name"
            },
            "familyName": {
              "description": "The family name of the contact.",
              "type": "string",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Family Name"
            }
          }
        },
        "nickname": {
          "type": "object",
          "properties": {
            "value": {
              "description": "The nickname of the contact.",
              "type": "string",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Nickname"
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "x-ms-summary": "Organization",
            "properties": {
              "name": {
                "description": "The origanization name.",
                "type": "string",
                "x-ms-visibility": "important",
                "x-ms-summary": "Name"
              },
              "title": {
                "description": "The organization title.",
                "type": "string",
                "x-ms-visibility": "advanced",
                "x-ms-summary": "Title"
              }
            }
          }
        },
        "addressesObject": {
          "type": "object",
          "properties": {
            "work": {
              "type": "object",
              "properties": {
                "formattedValue": {
                  "description": "The work address of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Work Address"
                }
              }
            },
            "home": {
              "type": "object",
              "properties": {
                "formattedValue": {
                  "description": "The home address of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Home Address"
                }
              }
            },
            "other": {
              "type": "object",
              "properties": {
                "formattedValue": {
                  "description": "The other address of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Other Address"
                }
              }
            }
          }
        },
        "emailAddressesObject": {
          "type": "object",
          "properties": {
            "work": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The work email address of the contact.",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Work Email"
                }
              }
            },
            "home": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The home email address of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Home Email"
                }
              }
            },
            "other": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The other email address of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Other Email"
                }
              }
            }
          }
        },
        "phoneNumbersObject": {
          "type": "object",
          "properties": {
            "work": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The work phone number of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Work Phone Number"
                }
              }
            },
            "home": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The home phone number of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Home Phone Number"
                }
              }
            },
            "mobile": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The mobile phone number of the contact.",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Mobile Phone Number"
                }
              }
            },
            "other": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The other phone number of the contact.",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Other Phone Number"
                }
              }
            }
          }
        }
      }
    },
    "PeopleApiConnectionV2": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "properties": {
            "source": {
              "type": "object",
              "properties": {
                "id": {
                  "description": "The id of the contact.",
                  "type": "string",
                  "x-ms-summary": "Id",
                  "x-ms-visibility": "advanced"
                },
                "updateTime": {
                  "format": "date-time",
                  "description": "The datetime the contact was last updated, in yyyy-MM-ddTHH:mm:ss.fffZ (2016-07-20T08:00:59.000Z).",
                  "type": "string",
                  "x-ms-summary": "Updated DateTime",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "name": {
          "type": "object",
          "properties": {
            "displayName": {
              "description": "The full name of the contact.",
              "type": "string",
              "x-ms-summary": "Full Name"
            },
            "givenName": {
              "description": "The given name of the contact.",
              "type": "string",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Given Name"
            },
            "familyName": {
              "description": "The family name of the contact.",
              "type": "string",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Family Name"
            }
          }
        },
        "nickname": {
          "type": "object",
          "properties": {
            "value": {
              "description": "The nickname of the contact.",
              "type": "string",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Nickname"
            }
          }
        },
        "organizations": {
          "type": "array",
          "items": {
            "type": "object",
            "x-ms-summary": "Organization",
            "properties": {
              "name": {
                "description": "The origanization name.",
                "type": "string",
                "x-ms-visibility": "important",
                "x-ms-summary": "Name"
              },
              "title": {
                "description": "The organization title.",
                "type": "string",
                "x-ms-visibility": "advanced",
                "x-ms-summary": "Title"
              }
            }
          }
        },
        "addresses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "formattedValue": {
                "description": "The address of the contact.",
                "type": "string",
                "x-ms-visibility": "advanced",
                "x-ms-summary": "Address"
              }
            }
          }
        },
        "emailAddresses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "value": {
                "description": "The email address of the contact.",
                "type": "string",
                "x-ms-visibility": "important",
                "x-ms-summary": "Email"
              },
              "formattedType": {
                "description": "The type of email address of the contact.",
                "type": "string",
                "x-ms-visibility": "important",
                "x-ms-summary": "Type"
              }
            }
          }
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "value": {
                "description": "The phone number of the contact.",
                "type": "string",
                "x-ms-visibility": "advanced",
                "x-ms-summary": "Phone Number"
              },
              "formattedType": {
                "description": "The phone number of the contact.",
                "type": "string",
                "x-ms-visibility": "advanced",
                "x-ms-summary": "Type"
              }
            }
          }
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "PeopleApiListGroupsV2"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://contacts.google.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policies.google.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/googlecontacts"
  }
}
