{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Microsoft 365 message center",
    "description": "Sync messages from the message center in Microsoft 365 admin center to a plan in Microsoft Planner. Note: Setup of this connector will fail unless it is initiated from within Microsoft 365 message center.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/m365messagecenter",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/admin/api/messagecenter/SyncMessagesToPlanner": {
      "post": {
        "summary": "Sync messages to Planner",
        "description": "Sync messages from Microsoft 365 admin center to Planner based on preferences in the message center.",
        "operationId": "SyncMessages",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "No Content"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/m365messagecenter/#sync-messages-to-planner"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://admin.microsoft.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/m365messagecenter"
  }
}
