{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Microsoft StaffHub",
    "description": "Microsoft StaffHub is a cloud-based platform that works across all your devices. It enables firstline workers and their managers to manage time, communicate with their teams, and share content.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "List all members in a team",
        "x-ms-summary": "List all members in a team",
        "operationId": "ListMembers",
        "description": "This operation lists all the members of a given team.",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListMembersResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#list-all-members-in-a-team-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/members/{memberId}": {
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "Get a team member by ID",
        "x-ms-summary": "Get a team member by ID",
        "operationId": "GetMember",
        "description": "This operation gets a member of a team by their unique ID.",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Member ID",
            "description": "The id of the member.",
            "x-ms-visibility": "important",
            "x-ms-test-value": "MBER_7b3a46c9-aedd-4082-8ba3-12f19988bf4d",
            "x-ms-dynamic-values": {
              "operationId": "ListMembers",
              "value-collection": "members",
              "value-path": "id",
              "value-title": "fullName",
              "parameters": {
                "teamId": {
                  "parameter": "teamId"
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMemberResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#get-a-team-member-by-id-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/members/memberCreatedSubscriptions": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "When a new member is added to the team",
        "x-ms-summary": "When a new member is added to the team",
        "description": "This operation triggers when a new member is added to the team.",
        "operationId": "SubscribeWebHookNotificationsForMemberCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, add a new member to the team.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-new-member-is-added-to-the-team-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/members/memberUpdatedSubscriptions": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "When a member is updated in the team",
        "x-ms-summary": "When a member is updated in the team",
        "description": "This operation triggers when a team member is updated.",
        "operationId": "SubscribeWebHookNotificationsForMemberUpdated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, update a member in the team.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-member-is-updated-in-the-team-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/members/memberDeletedSubscriptions": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "When a member is deleted from the team",
        "x-ms-summary": "When a member is deleted from the team",
        "description": "This operation triggers when a member is deleted from the team.",
        "operationId": "SubscribeWebHookNotificationsForMemberDeleted",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, delete a member in the team.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-member-is-deleted-from-the-team-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/tags": {
      "get": {
        "tags": [
          "Tags",
          "Groups"
        ],
        "summary": "List all groups in a team",
        "x-ms-summary": "List all groups in a team",
        "description": "This operation lists all groups within a team.",
        "operationId": "ListTags",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTagsResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Shifts",
            "operationId": "ListSchedulingGroups"
          }
        },
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#list-all-groups-in-a-team-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "List the user's teams",
        "x-ms-summary": "List the user's teams",
        "description": "This operation lists all teams that the user is a member of.",
        "operationId": "ListTeams",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTeamsResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#list-the-user%27s-teams-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}": {
      "get": {
        "tags": [
          "Teams"
        ],
        "summary": "Get team details",
        "x-ms-summary": "Get team details",
        "description": "This operation returns details for a team using the team's unique ID.",
        "operationId": "GetTeam",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTeamResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Teams",
            "operationId": "GetTeam"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#get-team-details-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/account/Locate": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Determine the location of the user's data",
        "x-ms-summary": "Determine the location of the user's data",
        "operationId": "LocateAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocateUserResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#determine-the-location-of-the-user%27s-data-%5bdeprecated%5d"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/account/GetCurrentAccount": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get current account",
        "x-ms-summary": "Get current account",
        "description": "Get the account of the current logged in user.",
        "operationId": "GetCurrentAccountAccount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetCurrentAccountResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#get-current-account-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/schedules/{scheduleId}": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get Schedule details",
        "x-ms-summary": "Get Schedule details",
        "description": "This operation returns details of a schedule using the schedule's unique ID.",
        "operationId": "GetSchedule",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "scheduleId",
            "x-ms-summary": "Schedule ID",
            "description": "Unique ID of the schedule.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-test-value": "SCH_0ac15208-acc2-42d0-bccd-2f421909ad55"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateScheduleResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Shifts",
            "operationId": "GetSchedule"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#get-schedule-details-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/schedules/schedulePublishSubscriptions": {
      "post": {
        "tags": [
          "Schedules"
        ],
        "summary": "When a schedule is published for the team",
        "x-ms-summary": "When a schedule is published for the team",
        "description": "This operation triggers when a schedule is published for the team.",
        "operationId": "SubscribeWebHookNotificationsForSchedulePublished",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, publish a schedule.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-schedule-is-published-for-the-team-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shiftrequests": {
      "get": {
        "tags": [
          "ShiftRequests"
        ],
        "summary": "Get shift requests",
        "x-ms-summary": "Get shift requests",
        "description": "This operation returns all shift requests for a team using the team's unique ID.",
        "operationId": "ListShiftRequests",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetShiftRequestsResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Shifts",
            "operationId": "ListTimeOffReasons"
          }
        },
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#get-shift-requests-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shiftrequests/{shiftRequestId}": {
      "get": {
        "tags": [
          "ShiftRequests"
        ],
        "summary": "Get Shift Request details",
        "x-ms-summary": "Get Shift Request details",
        "description": "This operation returns details for a shift request using the request's unique ID.",
        "operationId": "GetShiftRequest",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "x-ms-summary": "Shift Request ID",
            "description": "Unique ID of the shift request.",
            "in": "path",
            "name": "shiftRequestId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateSwapHandoffShiftResponse"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#get-shift-request-details-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shiftrequests/shiftRequestCreatedSubscriptions": {
      "post": {
        "tags": [
          "ShiftRequests"
        ],
        "summary": "When a new shift request is created",
        "x-ms-summary": "When a new shift request is created",
        "description": "This operation triggers when a new swap, offer or time off shift request is created.",
        "operationId": "SubscribeWebHookNotificationsForShiftRequestCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default response for a trigger subscription",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create a shift request.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-new-shift-request-is-created-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shiftrequests/shiftRequestUpdatedSubscriptions": {
      "post": {
        "tags": [
          "ShiftRequests"
        ],
        "summary": "When a shift request is updated",
        "x-ms-summary": "When a shift request is updated",
        "description": "This operation triggers when a swap, offer or time off shift request is updated.",
        "operationId": "SubscribeWebHookNotificationsForShiftRequestUpdated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, update a shift request.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-shift-request-is-updated-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shiftrequests/shiftRequestDeletedSubscriptions": {
      "post": {
        "tags": [
          "ShiftRequests"
        ],
        "summary": "When a shift request is deleted",
        "x-ms-summary": "When a shift request is deleted",
        "description": "This operation triggers when a swap, offer or time off shift request is deleted.",
        "operationId": "SubscribeWebHookNotificationsForShiftRequestDeleted",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, delete a shift request.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-shift-request-is-deleted-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shiftrequests/{shiftRequestId}/TimeOffManagerRequestComplete": {
      "post": {
        "tags": [
          "ShiftRequests"
        ],
        "summary": "Approve or deny a time off request (managers only)",
        "x-ms-summary": "Approve or deny a time off request (managers only)",
        "description": "This operation allows managers to approve or deny a time off request.",
        "operationId": "TimeOffManagerRequestComplete",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "shiftRequestId",
            "in": "path",
            "x-ms-summary": "Shift Request ID",
            "description": "The unique ID of the time off request",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeOffManagerRequestCompleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TimeOffManagerRequestCompleteResponse"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "deprecated": true,
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Shifts",
            "operationId": "TimeOffRequestApprove"
          }
        },
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#approve-or-deny-a-time-off-request-(managers-only)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shiftrequests/{shiftRequestId}/SwapHandOffManagerAccept": {
      "post": {
        "tags": [
          "ShiftRequests"
        ],
        "summary": "Approve a shift swap or hand off request (managers only)",
        "x-ms-summary": "Approve a shift swap or hand off request (managers only)",
        "description": "This operation allows managers to approve a shift swap or hand off request.",
        "operationId": "SwapHandOffManagerAccept",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "shiftRequestId",
            "in": "path",
            "x-ms-summary": "Shift Request ID",
            "description": "The unique ID of the shift swap or hand off request",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SwapHandOffRequestManagerAcceptRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SwapHandOffRequestManagerAcceptResponse"
            }
          }
        },
        "x-ms-no-generic-test": true,
        "deprecated": true,
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Shifts",
            "operationId": "SwapShiftsChangeRequestApprove"
          }
        },
        "security": [
          {
            "AAD": []
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#approve-a-shift-swap-or-hand-off-request-(managers-only)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shifts": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "List all team shifts",
        "x-ms-summary": "List all team shifts",
        "description": "This operation returns all shifts assigned to members of a team",
        "operationId": "ListShifts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "startTime",
            "in": "query",
            "x-ms-summary": "From Start Time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time",
            "x-ms-test-value": "2017-07-23T07:00:00Z"
          },
          {
            "name": "endTime",
            "in": "query",
            "x-ms-summary": "To End Time",
            "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string",
            "format": "date-time",
            "x-ms-test-value": "2017-07-30T07:00:00Z"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetShiftsResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Shifts",
            "operationId": "ListShifts"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#list-all-team-shifts-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shifts/shiftCreatedSubscriptions": {
      "post": {
        "tags": [
          "Shifts"
        ],
        "summary": "When a new shift is added to the team",
        "x-ms-summary": "When a new shift is added to the team",
        "description": "This operation triggers when a new shift is added to a member of a team.",
        "operationId": "SubscribeWebHookNotificationsForShiftCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create a new shift.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-new-shift-is-added-to-the-team-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shifts/shiftUpdatedSubscriptions": {
      "post": {
        "tags": [
          "Shifts"
        ],
        "summary": "When a shift is updated in a team",
        "x-ms-summary": "When a shift is updated in a team",
        "description": "This operation triggers when a shift is updated for a member of a team.",
        "operationId": "SubscribeWebHookNotificationsForShiftUpdated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, update any shift.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-shift-is-updated-in-a-team-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shifts/shiftDeletedSubscriptions": {
      "post": {
        "tags": [
          "Shifts"
        ],
        "summary": "When a shift is deleted in a team",
        "x-ms-summary": "When a shift is deleted in a team",
        "description": "This operation triggers when a shift is deleted for a member of a team.",
        "operationId": "SubscribeWebHookNotificationsForShiftDeleted",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, delete a shift.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#when-a-shift-is-deleted-in-a-team-%5bdeprecated%5d"
        }
      },
      "x-ms-notification-content": {
        "description": "Details of Webhook notification",
        "schema": {
          "$ref": "#/definitions/WebHookResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/webhooks/{subscriptionId}": {
      "delete": {
        "summary": "Delete WebHook Subscription",
        "x-ms-summary": "Delete WebHook Subscription",
        "description": "Delete WebHook Subscription",
        "operationId": "DeleteWebHookSubscription",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#delete-webhook-subscription-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/shifts/{shiftId}": {
      "get": {
        "tags": [
          "Shifts"
        ],
        "summary": "Get Shift",
        "x-ms-summary": "Get Shift by ID",
        "description": "This operation returns details for a shift using the shift's unique ID.",
        "operationId": "GetShift",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          },
          {
            "name": "shiftId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Shift ID",
            "description": "The unique ID of the shift.",
            "x-ms-test-value": "SHFT_d45edcfe-7888-410c-8a7b-3dbf9e2e6d5b"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateShiftResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Shifts",
            "operationId": "GetShift"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#get-shift-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/api/tenants/tenantIdPlaceHolder/teams/{teamId}/timeoffreasons": {
      "get": {
        "tags": [
          "TimeOffReasons"
        ],
        "summary": "Get Time Off Reasons",
        "x-ms-summary": "Get Time Off Reasons",
        "description": "This operation returns the list of time off reasons associated with a team.",
        "operationId": "ListTimeOffReasons",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/teamId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTimeOffReasonsResponse"
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "AAD": []
          }
        ],
        "x-ms-api-annotation": {
          "replacement": {
            "api": "Shifts",
            "operationId": "ListTimeOffReasons"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/staffhub/#get-time-off-reasons-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {
    "ListMembersResponse": {
      "description": "Get members response",
      "type": "object",
      "properties": {
        "members": {
          "x-ms-summary": "Members Array",
          "description": "The list of team members.",
          "type": "array",
          "items": {
            "description": "Properties associated with a single team member.",
            "type": "object",
            "properties": {
              "id": {
                "x-ms-summary": "Member ID",
                "description": "The unique ID of the team member.",
                "type": "string"
              },
              "teamId": {
                "x-ms-summary": "Team ID",
                "description": "The unique ID of the team.",
                "type": "string"
              },
              "userId": {
                "x-ms-summary": "User ID",
                "description": "The unique ID of the user in the directory.",
                "type": "string"
              },
              "displayName": {
                "x-ms-summary": "Display Name",
                "description": "The display name of the team member.",
                "type": "string"
              },
              "firstName": {
                "x-ms-summary": "First Name",
                "description": "The first name of the team member.",
                "type": "string"
              },
              "lastName": {
                "x-ms-summary": "Last Name",
                "description": "The last name of the team member.",
                "type": "string"
              },
              "fullName": {
                "x-ms-summary": "Full Name",
                "description": "The full name of the team member.",
                "type": "string"
              },
              "email": {
                "x-ms-summary": "Email",
                "description": "The email address of the team member.",
                "type": "string"
              },
              "phoneNumber": {
                "x-ms-summary": "Phone Number",
                "description": "The phone number of the team member.",
                "type": "string"
              },
              "isManager": {
                "x-ms-summary": "Is Manager",
                "description": "Whether or not the team member is a manager of the team.",
                "type": "boolean"
              },
              "state": {
                "x-ms-summary": "Member State",
                "description": "The status of the user's membership in the team.",
                "enum": [
                  "Invited",
                  "Active",
                  "InviteRejected",
                  "Deleted",
                  "AutoDeleted"
                ],
                "type": "string"
              }
            }
          }
        }
      }
    },
    "GetMemberResponse": {
      "description": "Get member response",
      "type": "object",
      "properties": {
        "member": {
          "description": "Properties associated with a single team member.",
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Member ID",
              "description": "The unique ID of the team member.",
              "type": "string"
            },
            "teamId": {
              "x-ms-summary": "Team ID",
              "description": "The unique ID of the team.",
              "type": "string"
            },
            "userId": {
              "x-ms-summary": "User ID",
              "description": "The user ID of the team member",
              "type": "string"
            },
            "displayName": {
              "x-ms-summary": "Display Name",
              "description": "The display name of the team member.",
              "type": "string"
            },
            "firstName": {
              "x-ms-summary": "First Name",
              "description": "The first name of the team member.",
              "type": "string"
            },
            "lastName": {
              "x-ms-summary": "Last Name",
              "description": "The last name of the team member.",
              "type": "string"
            },
            "fullName": {
              "x-ms-summary": "Full Name",
              "description": "The full name of the team member.",
              "type": "string"
            },
            "email": {
              "x-ms-summary": "Email",
              "description": "The email address of the team member.",
              "type": "string"
            },
            "phoneNumber": {
              "x-ms-summary": "Phone Number",
              "description": "The phone number of the team member.",
              "type": "string"
            },
            "isManager": {
              "x-ms-summary": "Is Manager",
              "description": "Whether or not the team member is a manager of the team.",
              "type": "boolean"
            },
            "state": {
              "x-ms-summary": "Member State",
              "description": "The status of the user's membership in the team.",
              "enum": [
                "Invited",
                "Active",
                "InviteRejected",
                "Deleted",
                "AutoDeleted"
              ],
              "type": "string"
            }
          }
        }
      }
    },
    "GetTagsResponse": {
      "description": "Get tags response",
      "type": "object",
      "properties": {
        "tags": {
          "description": "The list of groups in the team.",
          "type": "array",
          "items": {
            "description": "Properties associated with a single group in the team.",
            "type": "object",
            "properties": {
              "id": {
                "description": "The unique ID of the group.",
                "type": "string"
              },
              "name": {
                "description": "The name of the group.",
                "type": "string"
              },
              "teamId": {
                "description": "The unique ID of the team.",
                "type": "string"
              },
              "tenantId": {
                "description": "The ID of the tenant",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "state": {
                "description": "The status of the group in the team.",
                "enum": [
                  "Active",
                  "Deleted"
                ],
                "type": "string"
              },
              "index": {
                "format": "int32",
                "description": "Tag sort index (client side enforced)",
                "type": "integer",
                "x-ms-visibility": "internal"
              },
              "eTag": {
                "description": "The version of the data row",
                "type": "string",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "GetTeamsResponse": {
      "description": "Get teams response",
      "type": "object",
      "properties": {
        "teams": {
          "description": "The list of teams.",
          "type": "array",
          "items": {
            "description": "Properties associated with a single team.",
            "type": "object",
            "properties": {
              "id": {
                "description": "The unique ID of the team.",
                "type": "string"
              },
              "tenantId": {
                "description": "The tenant ID",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "handle": {
                "description": "The team handle (unique user-readable team ID)",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "name": {
                "description": "The name of the team.",
                "type": "string"
              },
              "pictureUrl": {
                "description": "The icon of the team.",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "teamType": {
                "description": "Team type",
                "enum": [
                  "Unmanaged",
                  "Managed"
                ],
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "location": {
                "description": "The location of the team (this is the name of the department)",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "countryCode": {
                "description": "A two letter country code (ISO standard 3166) of the team. This is used to to enforce license restrictions for the users in this team",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "groupDriveId": {
                "description": "The identifier for the drive associated to the group provisioned for this team.",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "groupId": {
                "description": "The identifier to the group provisioned for this team.",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "driveProvisionState": {
                "description": "State of drive provisioning.",
                "enum": [
                  "Unattempted",
                  "Success",
                  "Failed",
                  "FailedNoLicense"
                ],
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "eTag": {
                "description": "The etag of the team",
                "type": "string",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "GetTeamResponse": {
      "description": "Get team response",
      "type": "object",
      "properties": {
        "team": {
          "description": "Properties associated with a team.",
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Team ID",
              "description": "The unique ID of the team.",
              "type": "string"
            },
            "name": {
              "x-ms-summary": "Team Name",
              "description": "The name of the team.",
              "type": "string"
            },
            "timeZone": {
              "x-ms-summary": "TimeZone of team",
              "description": "The timeZone Olson Code of the Team.",
              "type": "string"
            }
          }
        }
      }
    },
    "GetShiftsResponse": {
      "description": "Get shifts response",
      "type": "object",
      "properties": {
        "publishedShifts": {
          "description": "The list of published shifts for a team.",
          "x-ms-summary": "Published Shifts Array",
          "type": "array",
          "items": {
            "description": "Properties associated with a single shift.",
            "type": "object",
            "properties": {
              "id": {
                "x-ms-summary": "Published Shift ID",
                "description": "The unique ID of the shift.",
                "type": "string"
              },
              "title": {
                "x-ms-summary": "Published Shift Label",
                "description": "The label of the shift.",
                "type": "string"
              },
              "shiftType": {
                "x-ms-summary": "Published Shift Type",
                "description": "The type of the shift.",
                "enum": [
                  "Working",
                  "Absence"
                ],
                "type": "string"
              },
              "teamId": {
                "x-ms-summary": "Team ID",
                "description": "The ID of the team the shift is in",
                "type": "string"
              },
              "memberId": {
                "x-ms-summary": "Assigned to Member ID",
                "description": "The ID of the team member that the shift is assigned to.",
                "type": "string"
              },
              "startTime": {
                "format": "date-time",
                "x-ms-summary": "Published Shift Start Time",
                "description": "The start time of the shift.",
                "type": "string"
              },
              "endTime": {
                "format": "date-time",
                "x-ms-summary": "Published Shift End Time",
                "description": "The end time of the shift.",
                "type": "string"
              },
              "notes": {
                "x-ms-summary": "Published Shift Notes",
                "description": "The notes assigned to the shift.",
                "type": "string"
              },
              "state": {
                "x-ms-summary": "Published Shift State",
                "description": "The state of the shift.",
                "enum": [
                  "Draft",
                  "Active",
                  "Pending",
                  "Deleted"
                ],
                "type": "string"
              },
              "timeOffReasonId": {
                "x-ms-summary": "Time Off Reason ID",
                "description": "The ID of the time off reason for a shift (if of type Absence).",
                "type": "string"
              }
            }
          }
        },
        "unpublishedShifts": {
          "x-ms-summary": "Unpublished Shifts Array",
          "description": "The list of unpublished shifts for a team.",
          "type": "array",
          "items": {
            "description": "Properties associated with a single shift.",
            "type": "object",
            "properties": {
              "id": {
                "x-ms-summary": "Unpublished Shift ID",
                "description": "The unique ID of the shift.",
                "type": "string"
              },
              "title": {
                "x-ms-summary": "Unpublished Shift Title",
                "description": "The label of the shift.",
                "type": "string"
              },
              "shiftType": {
                "x-ms-summary": "Unpublished Shift Type",
                "description": "The type of the shift.",
                "enum": [
                  "Working",
                  "Absence"
                ],
                "type": "string"
              },
              "teamId": {
                "x-ms-summary": "Team ID",
                "description": "The ID of the team the shift is in.",
                "type": "string"
              },
              "memberId": {
                "x-ms-summary": "Assigned to Member ID",
                "description": "The ID of the team member that the shift is assigned to.",
                "type": "string"
              },
              "startTime": {
                "x-ms-summary": "Unpublished Shift Start Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "endTime": {
                "x-ms-summary": "Unpublished Shift End Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "notes": {
                "x-ms-summary": "Unpublished Shift Notes",
                "description": "The notes assigned to the shift.",
                "type": "string"
              },
              "state": {
                "x-ms-summary": "Unpublished Shift State",
                "description": "The state of the shift.",
                "enum": [
                  "Draft",
                  "Active",
                  "Pending",
                  "Deleted"
                ],
                "type": "string"
              },
              "timeOffReasonId": {
                "x-ms-summary": "Time Off Reason ID",
                "description": "The ID of the time off reason for a shift (if shift is of type Absence).",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "LocateUserResponse": {
      "description": "Response to the locate user request.",
      "type": "object",
      "properties": {
        "userId": {
          "x-ms-summary": "User ID",
          "description": "The User Id",
          "type": "string"
        },
        "email": {
          "x-ms-summary": "Email",
          "description": "Email of the account",
          "type": "string"
        },
        "region": {
          "description": "Encapsulates the region response entity.",
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Region ID",
              "description": "The region ID",
              "type": "string"
            },
            "serviceUrl": {
              "x-ms-summary": "Service URL",
              "description": "The service URL for the data in the region",
              "type": "string"
            }
          }
        }
      }
    },
    "GetCurrentAccountResponse": {
      "description": "Get Current Account response",
      "type": "object",
      "properties": {
        "user": {
          "type": "object",
          "properties": {
            "userId": {
              "x-ms-summary": "User ID",
              "description": "The unique ID of the user in the directory.",
              "type": "string"
            },
            "displayName": {
              "x-ms-summary": "Display Name",
              "description": "The display name of the user.",
              "type": "string"
            },
            "firstName": {
              "x-ms-summary": "First Name",
              "description": "The first name of the user.",
              "type": "string"
            },
            "lastName": {
              "x-ms-summary": "Last Name",
              "description": "The last name of the user.",
              "type": "string"
            },
            "primaryEmail": {
              "x-ms-summary": "Primary Email",
              "description": "The primary email address of the user.",
              "type": "string"
            },
            "tenantId": {
              "x-ms-summary": "Tenant ID",
              "description": "Tenant ID of the user.",
              "type": "string"
            },
            "phoneNumber": {
              "x-ms-summary": "Phone Number",
              "description": "The phone number of the user.",
              "type": "string"
            }
          }
        }
      }
    },
    "CreateScheduleResponse": {
      "description": "Schedule Entity",
      "type": "object",
      "properties": {
        "schedule": {
          "description": "Properties associated with a schedule.",
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Schedule ID",
              "description": "The unique ID of the schedule.",
              "type": "string"
            },
            "teamId": {
              "x-ms-summary": "Team ID",
              "description": "The unique ID of the team the schedule is in.",
              "type": "string"
            },
            "startTime": {
              "x-ms-summary": "Start Time",
              "format": "date-time",
              "description": "The start time of the schedule.",
              "type": "string"
            },
            "endTime": {
              "x-ms-summary": "End Time",
              "format": "date-time",
              "description": "The end time of the schedule.",
              "type": "string"
            },
            "state": {
              "x-ms-summary": "Schedule State",
              "description": "The current state of the schedule.",
              "enum": [
                "Draft",
                "Published",
                "Deleted"
              ],
              "type": "string"
            }
          }
        }
      }
    },
    "GetShiftRequestsResponse": {
      "description": "Get Shift Request response",
      "type": "object",
      "properties": {
        "shiftRequests": {
          "description": "The list of shift requests in the team.",
          "x-ms-summary": "Shift Requests Array",
          "type": "array",
          "items": {
            "description": "Properties associated with a shift request.",
            "type": "object",
            "properties": {
              "id": {
                "x-ms-summary": "Shift Request ID",
                "description": "The unique ID of the shift request",
                "type": "string"
              },
              "shiftId": {
                "x-ms-summary": "Shift ID",
                "description": "The unique ID of the shift being handed off/swapped.",
                "type": "string"
              },
              "teamId": {
                "x-ms-summary": "Team ID",
                "description": "The unique ID of the team the shift request is in.",
                "type": "string"
              },
              "requestType": {
                "x-ms-summary": "Request Type",
                "description": "The type of the shift request.",
                "enum": [
                  "Unspecified",
                  "HandOff",
                  "Swap",
                  "TimeOff",
                  "Open"
                ],
                "type": "string"
              },
              "startTime": {
                "x-ms-summary": "Request Start Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "endTime": {
                "x-ms-summary": "Request End Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "senderMessage": {
                "x-ms-summary": "Message From Sender",
                "description": "The message from the sender to the recipient.",
                "type": "string"
              },
              "receiverMessage": {
                "x-ms-summary": "Message From Receiver",
                "description": "The message from the recipient to the sender.",
                "type": "string"
              },
              "managerMessage": {
                "x-ms-summary": "Message From Manager",
                "description": "A message from the manager to the sender.",
                "type": "string"
              },
              "managerMemberId": {
                "x-ms-summary": "Member ID of Manager",
                "description": "The unique ID of the manager who accepted the request.",
                "type": "string"
              },
              "senderMemberId": {
                "x-ms-summary": "Member ID of Sender",
                "description": "The unique ID of the team member who created the request.",
                "type": "string"
              },
              "receiverMemberId": {
                "x-ms-summary": "Member ID of Receiver",
                "description": "The unique ID of the team member that the request was sent to.",
                "type": "string"
              },
              "state": {
                "x-ms-summary": "Shift Request State",
                "description": "The current state of the shift request.",
                "enum": [
                  "Unknown",
                  "WaitingOnReceiver",
                  "WaitingOnManager",
                  "SenderDeclined",
                  "ReceiverDeclined",
                  "ManagerApproved",
                  "ManagerDeclined",
                  "AutoDeclined",
                  "AnotherApproved"
                ],
                "type": "string"
              },
              "creationTime": {
                "x-ms-summary": "Shift Request Creation Time",
                "format": "date-time",
                "description": "The time the request was created.",
                "type": "string"
              },
              "lastModifiedTime": {
                "x-ms-summary": "Last Modified Time of Shift Request",
                "format": "date-time",
                "description": "The time the request was last modified.",
                "type": "string"
              },
              "receiverResponseTime": {
                "x-ms-summary": "Receiver Response Time",
                "format": "date-time",
                "description": "The time the recipient responded to the request.",
                "type": "string"
              },
              "timeOffReasonId": {
                "x-ms-summary": "Time Off Reason ID",
                "description": "The unique ID of the time off reason",
                "type": "string"
              },
              "otherShiftInfo": {
                "description": "Properties associated with a single shift.",
                "type": "object",
                "properties": {
                  "shiftId": {
                    "x-ms-summary": "Shift ID",
                    "description": "The unique ID of the shift.",
                    "type": "string"
                  },
                  "startTime": {
                    "x-ms-summary": "Shift Start Time",
                    "format": "date-time",
                    "description": "The start time of the shift.",
                    "type": "string"
                  },
                  "endTime": {
                    "x-ms-summary": "Shift End Time",
                    "format": "date-time",
                    "description": "The end time of the shift.",
                    "type": "string"
                  }
                }
              },
              "eTag": {
                "description": "The version number used to update the shift request.",
                "type": "string",
                "x-ms-summary": "ETag of Shift Request"
              }
            }
          }
        }
      }
    },
    "CreateSwapHandoffShiftResponse": {
      "description": "Properties associated with a shift request.",
      "type": "object",
      "properties": {
        "shiftRequest": {
          "description": "Properties associated with a shift request.",
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Shift Request ID",
              "description": "The unique ID associated with the shift request.",
              "type": "string"
            },
            "shiftId": {
              "x-ms-summary": "Shift ID",
              "description": "The unique ID of the shift being offered or swapped.",
              "type": "string"
            },
            "teamId": {
              "x-ms-summary": "Team ID",
              "description": "The unique ID of the team.",
              "type": "string",
              "x-ms-visibility": "internal"
            },
            "requestType": {
              "x-ms-summary": "Shift Request Type",
              "description": "The type of shift request.",
              "enum": [
                "Unspecified",
                "HandOff",
                "Swap",
                "TimeOff",
                "Open"
              ],
              "type": "string"
            },
            "startTime": {
              "x-ms-summary": "Shift Request Start Time",
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
              "type": "string"
            },
            "endTime": {
              "x-ms-summary": "Shift Request End Time",
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
              "type": "string"
            },
            "senderMessage": {
              "x-ms-summary": "Message From Sender",
              "description": "The message from the sender to the recipient.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "receiverMessage": {
              "x-ms-summary": "Message From Receiver",
              "description": "The message from the receiver to the sender.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "managerMessage": {
              "x-ms-summary": "Message From Manager",
              "description": "The message from the manager to the sender.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "managerMemberId": {
              "x-ms-summary": "Manager Member ID",
              "description": "The unique ID of the manager who accepted the request.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "senderMemberId": {
              "x-ms-summary": "Sender Member ID",
              "description": "The unique ID of the team member who created the request.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "receiverMemberId": {
              "x-ms-summary": "Receiver Member ID",
              "description": "The unique ID of the member that the request was sent to.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "state": {
              "x-ms-summary": "Shift Request State",
              "description": "The current state of the shift request.",
              "enum": [
                "Unknown",
                "WaitingOnReceiver",
                "WaitingOnManager",
                "SenderDeclined",
                "ReceiverDeclined",
                "ManagerApproved",
                "ManagerDeclined",
                "AutoDeclined",
                "AnotherApproved"
              ],
              "type": "string"
            },
            "creationTime": {
              "x-ms-summary": "Shift Request Creation Time",
              "format": "date-time",
              "description": "The time when the request was created.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "lastModifiedTime": {
              "x-ms-summary": "Shift Request Last Modified Time",
              "format": "date-time",
              "description": "The time when the request was last modified.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "receiverResponseTime": {
              "x-ms-summary": "Shift Request Receiver Response Time",
              "format": "date-time",
              "description": "The time when the recipient responded to the request.",
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "timeOffReasonId": {
              "x-ms-summary": "Time Off Reason ID",
              "description": "The unique ID of the time off reason",
              "type": "string"
            },
            "otherShiftInfo": {
              "description": "Properties associated with a shift.",
              "type": "object",
              "properties": {
                "shiftId": {
                  "x-ms-summary": "Shift ID",
                  "description": "The unique ID of the shift.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "startTime": {
                  "x-ms-summary": "Shift Start Time",
                  "format": "date-time",
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "endTime": {
                  "x-ms-summary": "Shift End Time",
                  "format": "date-time",
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                }
              }
            },
            "eTag": {
              "x-ms-summary": "ETag of Shift Request",
              "description": "The version number used to update the shift request.",
              "type": "string"
            }
          }
        }
      }
    },
    "SwapHandOffRequestManagerAcceptRequest": {
      "description": "Manager approves a swap or hand off request.",
      "required": [
        "eTag"
      ],
      "type": "object",
      "properties": {
        "message": {
          "x-ms-summary": "Message From Manager",
          "description": "A message from the manager to the sender/recipient when a request is accepted",
          "type": "string"
        },
        "eTag": {
          "x-ms-summary": "ETag of Shift Request",
          "description": "The version number used to update the swap or hand off request.",
          "type": "string"
        }
      }
    },
    "SwapHandOffRequestManagerAcceptResponse": {
      "description": "Properties associated with a manager's swap or hand off request approval.",
      "type": "object",
      "properties": {
        "deletedShifts": {
          "description": "List of shifts deleted",
          "x-ms-summary": "List of shifts deleted",
          "type": "array",
          "items": {
            "description": "Properties associated with a shift.",
            "type": "object",
            "properties": {
              "id": {
                "x-ms-summary": "Deleted Shift ID",
                "description": "The unique ID of the shift.",
                "type": "string"
              },
              "shiftType": {
                "x-ms-summary": "Deleted Shift Type",
                "description": "The type of shift.",
                "enum": [
                  "Working",
                  "Absence"
                ],
                "type": "string"
              },
              "teamId": {
                "x-ms-summary": "Team ID",
                "description": "The unique ID of the team",
                "type": "string"
              },
              "memberId": {
                "x-ms-summary": "Member ID",
                "description": "The unique ID of the team member that the shift was assigned to.",
                "type": "string"
              },
              "startTime": {
                "x-ms-summary": "Deleted Shift Start Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "endTime": {
                "x-ms-summary": "Deleted Shift End Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "notes": {
                "x-ms-summary": "Deleted Shift Notes",
                "description": "The label of the shift.",
                "type": "string"
              },
              "state": {
                "x-ms-summary": "Deleted Shift State",
                "description": "The current state of the shift.",
                "enum": [
                  "Draft",
                  "Active",
                  "Pending",
                  "Deleted"
                ],
                "type": "string"
              },
              "timeOffReasonId": {
                "x-ms-summary": "Time Off Reason ID of Deleted Shift",
                "description": "The unique ID of the time off reason.",
                "type": "string"
              }
            }
          }
        },
        "replacementShifts": {
          "description": "List of shifts created as replacement",
          "x-ms-summary": "List of shifts created as replacement",
          "type": "array",
          "items": {
            "description": "Properties associated with a shift.",
            "type": "object",
            "properties": {
              "id": {
                "x-ms-summary": "Replacement Shift ID",
                "description": "The unique ID of the shift.",
                "type": "string"
              },
              "shiftType": {
                "x-ms-summary": "Replacement Shift Type",
                "description": "The type of shift.",
                "enum": [
                  "Working",
                  "Absence"
                ],
                "type": "string"
              },
              "teamId": {
                "x-ms-summary": "Team ID",
                "description": "The unique ID of the team",
                "type": "string"
              },
              "memberId": {
                "x-ms-summary": "Member ID",
                "description": "The unique ID of the team member that the shift was assigned to.",
                "type": "string"
              },
              "startTime": {
                "x-ms-summary": "Replacement Shift Start Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "endTime": {
                "x-ms-summary": "Replacement Shift End Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "notes": {
                "x-ms-summary": "Replacement Shift Notes",
                "description": "The label of the shift.",
                "type": "string"
              },
              "state": {
                "x-ms-summary": "Replacement Shift State",
                "description": "The current state of the shift.",
                "enum": [
                  "Draft",
                  "Active",
                  "Pending",
                  "Deleted"
                ],
                "type": "string"
              },
              "timeOffReasonId": {
                "x-ms-summary": "Time Off Reason ID of Replacement Shift",
                "description": "The unique ID of the time off reason.",
                "type": "string"
              }
            }
          }
        },
        "updatedShiftRequests": {
          "description": "List of Shift Request that got updated",
          "x-ms-summary": "List of shifts Request that got updated",
          "type": "array",
          "items": {
            "description": "Properties associated with a shift request",
            "type": "object",
            "properties": {
              "id": {
                "x-ms-summary": "Shift Request ID",
                "description": "The unique ID of the shift request",
                "type": "string"
              },
              "shiftId": {
                "x-ms-summary": "Shift ID",
                "description": "The unique ID of the shift being handed off/swapped.",
                "type": "string"
              },
              "teamId": {
                "x-ms-summary": "Team ID",
                "description": "The unique ID of the team the shift request is in.",
                "type": "string"
              },
              "requestType": {
                "x-ms-summary": "Request Type",
                "description": "The type of the shift request.",
                "enum": [
                  "Unspecified",
                  "HandOff",
                  "Swap",
                  "TimeOff",
                  "Open"
                ],
                "type": "string"
              },
              "startTime": {
                "x-ms-summary": "Request Start Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "endTime": {
                "x-ms-summary": "Request End Time",
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                "type": "string"
              },
              "senderMessage": {
                "x-ms-summary": "Message From Sender",
                "description": "The message from the sender to the recipient.",
                "type": "string"
              },
              "receiverMessage": {
                "x-ms-summary": "Message From Receiver",
                "description": "The message from the recipient to the sender.",
                "type": "string"
              },
              "managerMessage": {
                "x-ms-summary": "Message From Manager",
                "description": "A message from the manager to the sender.",
                "type": "string"
              },
              "managerMemberId": {
                "x-ms-summary": "Member ID of Manager",
                "description": "The unique ID of the manager who accepted the request.",
                "type": "string"
              },
              "senderMemberId": {
                "x-ms-summary": "Member ID of Sender",
                "description": "The unique ID of the team member who created the request.",
                "type": "string"
              },
              "receiverMemberId": {
                "x-ms-summary": "Member ID of Receiver",
                "description": "The unique ID of the team member that the request was sent to.",
                "type": "string"
              },
              "state": {
                "x-ms-summary": "Shift Request State",
                "description": "The current state of the shift request.",
                "enum": [
                  "Unknown",
                  "WaitingOnReceiver",
                  "WaitingOnManager",
                  "SenderDeclined",
                  "ReceiverDeclined",
                  "ManagerApproved",
                  "ManagerDeclined",
                  "AutoDeclined",
                  "AnotherApproved"
                ],
                "type": "string"
              },
              "creationTime": {
                "x-ms-summary": "Shift Request Creation Time",
                "format": "date-time",
                "description": "The time the request was created.",
                "type": "string"
              },
              "lastModifiedTime": {
                "x-ms-summary": "Last Modified Time of Shift Request",
                "format": "date-time",
                "description": "The time the request was last modified.",
                "type": "string"
              },
              "receiverResponseTime": {
                "x-ms-summary": "Receiver Response Time",
                "format": "date-time",
                "description": "The time the recipient responded to the request.",
                "type": "string"
              },
              "timeOffReasonId": {
                "x-ms-summary": "Time Off Reason ID",
                "description": "The unique ID of the time off reason",
                "type": "string"
              },
              "otherShiftInfo": {
                "description": "Properties associated with a single shift.",
                "type": "object",
                "properties": {
                  "shiftId": {
                    "x-ms-summary": "Shift ID",
                    "description": "The unique ID of the shift.",
                    "type": "string"
                  },
                  "startTime": {
                    "x-ms-summary": "Shift Start Time",
                    "format": "date-time",
                    "description": "The start time of the shift.",
                    "type": "string"
                  },
                  "endTime": {
                    "x-ms-summary": "Shift End Time",
                    "format": "date-time",
                    "description": "The end time of the shift.",
                    "type": "string"
                  }
                }
              },
              "eTag": {
                "description": "The version number used to update the shift request.",
                "type": "string",
                "x-ms-summary": "ETag of Shift Request"
              }
            }
          }
        }
      }
    },
    "TimeOffManagerRequestCompleteRequest": {
      "description": "Manager approves or denies a time off request.",
      "required": [
        "eTag",
        "isAccepting"
      ],
      "type": "object",
      "properties": {
        "message": {
          "x-ms-summary": "Message From Manager",
          "description": "A message from the manager to the sender/recipient when a request is accepted or denied.",
          "type": "string"
        },
        "eTag": {
          "x-ms-summary": "ETag of Shift Request",
          "description": "The version number used to update the time off request.",
          "type": "string"
        },
        "isAccepting": {
          "x-ms-summary": "Is Accepting",
          "description": "Whether the manager is accepting (True) or denying (False) the time off request.",
          "type": "boolean"
        }
      }
    },
    "TimeOffManagerRequestCompleteResponse": {
      "description": "Properties associated with a manager's time off approval.",
      "type": "object",
      "properties": {
        "updatedShift": {
          "description": "Properties associated with a shift.",
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Updated Shift ID",
              "description": "The unique ID of the shift.",
              "type": "string"
            },
            "shiftType": {
              "x-ms-summary": "Updated Shift Type",
              "description": "The type of shift.",
              "enum": [
                "Working",
                "Absence"
              ],
              "type": "string"
            },
            "teamId": {
              "x-ms-summary": "Team ID",
              "description": "The unique ID of the team",
              "type": "string"
            },
            "memberId": {
              "x-ms-summary": "Member ID",
              "description": "The unique ID of the team member that the shift was assigned to.",
              "type": "string"
            },
            "startTime": {
              "x-ms-summary": "Updated Shift Start Time",
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
              "type": "string"
            },
            "endTime": {
              "x-ms-summary": "Updated Shift End Time",
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
              "type": "string"
            },
            "notes": {
              "x-ms-summary": "Updated Shift Notes",
              "description": "The label of the shift.",
              "type": "string"
            },
            "state": {
              "x-ms-summary": "Updated Shift State",
              "description": "The current state of the shift.",
              "enum": [
                "Draft",
                "Active",
                "Pending",
                "Deleted"
              ],
              "type": "string"
            },
            "timeOffReasonId": {
              "x-ms-summary": "Time Off Reason ID of Updated Shift",
              "description": "The unique ID of the time off reason.",
              "type": "string"
            }
          }
        },
        "isShiftPublished": {
          "x-ms-summary": "Is Updated Shift Published",
          "description": "Whether the shift is part of a published schedule.",
          "type": "boolean"
        }
      }
    },
    "CreateShiftResponse": {
      "description": "Properties associated with a shift.",
      "type": "object",
      "properties": {
        "shift": {
          "description": "Properties associated with a shift.",
          "type": "object",
          "properties": {
            "id": {
              "x-ms-summary": "Shift ID",
              "description": "The unique ID of the shift.",
              "type": "string"
            },
            "title": {
              "x-ms-summary": "Shift Title",
              "description": "The label of the shift.",
              "type": "string"
            },
            "shiftType": {
              "x-ms-summary": "Shift Type",
              "description": "The type of shift.",
              "enum": [
                "Working",
                "Absence"
              ],
              "type": "string"
            },
            "teamId": {
              "x-ms-summary": "Team ID",
              "description": "The ID of the team the shift is in",
              "type": "string"
            },
            "memberId": {
              "x-ms-summary": "Assigned To Member ID",
              "description": "The unique ID of the team member that the shift has been assigned to.",
              "type": "string"
            },
            "startTime": {
              "x-ms-summary": "Shift Start Time",
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
              "type": "string"
            },
            "endTime": {
              "x-ms-summary": "Shift End Time",
              "format": "date-time",
              "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
              "type": "string"
            },
            "notes": {
              "x-ms-summary": "Shift Notes",
              "description": "The notes assigned to the shift. ",
              "type": "string"
            },
            "state": {
              "x-ms-summary": "Shift State",
              "description": "The current state of the shift.",
              "enum": [
                "Draft",
                "Active",
                "Pending",
                "Deleted"
              ],
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "timeOffReasonId": {
              "x-ms-summary": "Time Off Reason ID",
              "description": "The unique ID of the time off reason.",
              "type": "string"
            }
          }
        },
        "isShiftPublished": {
          "x-ms-summary": "Is Shift Published",
          "description": "Whether the shift is part of a published schedule.",
          "type": "boolean"
        }
      }
    },
    "GetTimeOffReasonsResponse": {
      "description": "Properties associated with time off reasons.",
      "type": "object",
      "properties": {
        "timeOffReasons": {
          "x-ms-summary": "Time Off Reasons Array",
          "description": "The list of time off reasons.",
          "type": "array",
          "items": {
            "description": "Properties associated with a single time off reason.",
            "type": "object",
            "properties": {
              "id": {
                "x-ms-summary": "Time Off Reason ID",
                "description": "The unique ID of the time off reason.",
                "type": "string"
              },
              "teamId": {
                "x-ms-summary": "Team ID",
                "description": "The unique ID of the team.",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "name": {
                "x-ms-summary": "Time Off Reason Name",
                "description": "The name of the time off reason.",
                "type": "string"
              },
              "state": {
                "x-ms-summary": "Time Off Reason State",
                "description": "The current state of the time off reason.",
                "enum": [
                  "Active",
                  "Deleted"
                ],
                "type": "string"
              }
            }
          }
        }
      }
    },
    "WebHookRequest": {
      "type": "object",
      "required": [
        "notificationUrl"
      ],
      "properties": {
        "notificationUrl": {
          "description": "Webhook subscription notification URL.",
          "type": "string",
          "x-ms-summary": "Notification URL",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        }
      }
    },
    "WebHookResponse": {
      "type": "object",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "WebHook Subscription Id",
          "x-ms-summary": "WebHook Subscription Id",
          "x-ms-visibility": "advanced"
        },
        "expirationDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
          "x-ms-summary": "Expiration time for webhook subscription",
          "x-ms-description": "expiration time in UTC",
          "x-ms-visibility": "advanced"
        },
        "changeType": {
          "type": "string",
          "x-ms-summary": "Change Type",
          "description": "Resource change type.",
          "x-ms-visibility": "advanced",
          "enum": [
            "created",
            "updated",
            "deleted"
          ]
        },
        "resource": {
          "$ref": "#/definitions/WebHookResponseResourceEntity"
        }
      }
    },
    "WebHookResponseResourceEntity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the resource that is updated",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Resource Id"
        },
        "resourcePath": {
          "type": "string",
          "description": "Resoure Path",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Resource Path"
        },
        "teamId": {
          "type": "string",
          "description": "TeamId",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Team Id"
        }
      }
    }
  },
  "parameters": {
    "teamId__in_path": {
      "name": "teamId",
      "in": "path",
      "description": "Unique ID of the team.",
      "required": true,
      "x-ms-summary": "The team ID",
      "x-ms-dynamic-values": {
        "operationId": "ListTeams",
        "parameters": {},
        "value-collection": "teams",
        "value-path": "id",
        "value-title": "name"
      },
      "x-ms-test-value": "TEAM_332a882a-a5cc-40f4-a4b7-4d2b1b622c52",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "AAD": {
      "type": "oauth2",
      "description": "The authentication scheme.",
      "flow": "implicit",
[...]
