{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Power Apps for Admins",
    "description": "Power Apps Management Connector for Administrators",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/powerappsforadmins",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/permissions": {
      "get": {
        "summary": "Get App Role Assignments as Admin",
        "description": "Returns permissions for a PowerApp.",
        "operationId": "Get-AdminAppRoleAssignment",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "app",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "default": "2016-11-01",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$top",
            "default": 250,
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Page size",
            "description": "Number of App Role Assignments in the response.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "PowerApp Role Assignment name field.",
                        "title": "Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "PowerApp Role Assignment ID field."
                      },
                      "type": {
                        "type": "string",
                        "description": "PowerApp Role Assignment type field."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "PowerApp Role Assignment roleName."
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "PowerApp Role Assignment principal object ID."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "PowerApp Role Assignment principal displayName."
                              },
                              "email": {
                                "type": "string",
                                "description": "PowerApp Role Assignment principal email."
                              },
                              "type": {
                                "type": "string",
                                "description": "PowerApp Role Assignment principal type."
                              }
                            },
                            "description": "PowerApp Role Assignment principal object."
                          },
                          "scope": {
                            "type": "string",
                            "description": "PowerApp Role Assignment scope."
                          },
                          "notifyShareTargetOption": {
                            "type": "string",
                            "description": "PowerApp Role Assignment notifyShareTargetOption.",
                            "title": "Notify Share Target Option"
                          }
                        },
                        "description": "PowerApp Role Assignment properties object."
                      }
                    }
                  },
                  "description": "PowerApp Role Assignment value array."
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#get-app-role-assignments-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/modifyAppOwner": {
      "post": {
        "summary": "Set App Owner",
        "description": "Updates a PowerApp's owner role, and specifies the old owner's new role.",
        "operationId": "Set-AdminAppOwner",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "app",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "default": "2016-11-01",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": " application/json",
            "description": "The content type of the API request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "roleForOldAppOwner": {
                  "type": "string",
                  "description": "The role name for the old app owner. Choose from CanView, CanViewWithShare, or CanEdit.",
                  "x-ms-summary": "roleForOldAppOwner",
                  "title": "Role For Old App Owner",
                  "default": "CanView"
                },
                "newAppOwner": {
                  "type": "string",
                  "description": "The principal object ID of the new owner.",
                  "x-ms-summary": "newAppOwner",
                  "title": "New PowerApp Owner"
                }
              },
              "default": {
                "roleForOldAppOwner": "CanView",
                "newAppOwner": "915139d9-b263-46da-aee5-80aafcbd9ff9"
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#set-app-owner"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/setAppQuarantineState": {
      "post": {
        "summary": "Set App Quarantine State",
        "description": "Updates a PowerApp's quarantine state.",
        "operationId": "Set-AppQuarantineState",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "app",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "default": "2016-11-01",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": " application/json",
            "description": "The content type of the API request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "quarantineStatus": {
                  "type": "string",
                  "description": "The quarantine status of the app. Choose from NotSpecified, Quarantined, or Unquarantined.",
                  "x-ms-summary": "quarantineStatus",
                  "title": "Quarantine Status",
                  "default": "Quarantined"
                }
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#set-app-quarantine-state"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/setPowerAppConditionalAccessDetails": {
      "post": {
        "summary": "Set PowerApp Conditional Access",
        "description": "Updates a PowerApp's conditional access.",
        "operationId": "Set-PowerAppConditionalAccess",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "app",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "default": "2016-11-01",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": " application/json",
            "description": "The content type of the API request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "authContextIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "authContextIds",
                  "title": "Auth Context Ids"
                }
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#set-powerapp-conditional-access"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps": {
      "get": {
        "summary": "Get Apps as Admin",
        "description": "Returns a list of apps.",
        "operationId": "Get-AdminApps",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "api-version",
            "default": "2016-11-01",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          },
          {
            "name": "$top",
            "default": 250,
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Page size",
            "description": "Number of Apps in the response.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Skip token",
            "description": "Used to get next page of responses."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceArray[PowerApp]"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#get-apps-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/getPowerAppConditionalAccessDetails": {
      "get": {
        "summary": "Get PowerApp Conditional Access",
        "description": "Gets a PowerApp's conditional access properties.",
        "operationId": "Get-PowerAppConditionalAccess",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "app",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "default": "2016-11-01",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Conditional Access Properties."
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#get-powerapp-conditional-access"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}": {
      "get": {
        "summary": "Get App as Admin",
        "description": "Returns a PowerApp.",
        "operationId": "Get-AdminApp",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Environment Name",
            "description": "Name field of the Environment."
          },
          {
            "name": "app",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "default": "2016-11-01",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "API Version",
            "description": "The date value of the API version."
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/PowerApp"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#get-app-as-admin"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Remove App as Admin",
        "description": "Deletes a PowerApp.",
        "operationId": "Remove-AdminApp",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "PowerApp Name",
            "description": "Name field of the PowerApp."
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#remove-app-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apps/{app}/modifyPermissions": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "put": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "App Role Assignment ID field."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "App Role Assignment property roleName."
                          },
                          "scope": {
                            "type": "string",
                            "description": "App Role Assignment property scope."
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "App Role Assignment principal object ID."
                              },
                              "email": {
                                "type": "string",
                                "description": "App Role Assignment principal email."
                              },
                              "type": {
                                "type": "string",
                                "description": "App Role Assignment principal type."
                              }
                            },
                            "description": "App Role Assignment principal object."
                          },
                          "resourceResponses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "App Role Assignment resourceResponse ID."
                                },
                                "statusCode": {
                                  "type": "string",
                                  "description": "App Role Assignment resourceResponse statusCode."
                                },
                                "responseCode": {
                                  "type": "string",
                                  "description": "App Role Assignment resourceResponse responseCode."
                                },
                                "message": {
                                  "type": "string",
                                  "description": "App Role Assignment resourceResponse message."
                                },
                                "type": {
                                  "type": "string",
                                  "description": "App Role Assignment resourceResponse type."
                                }
                              }
                            },
                            "description": "App Role Assignment resourceResponse object."
                          }
                        },
                        "description": "App Role Assignment properties object."
                      }
                    }
                  },
                  "description": "App Role Assignment put object."
                }
              }
            }
          }
        },
        "summary": "Edit App Role Assignment as Admin",
        "description": "Sets permissions for a PowerApp.",
        "operationId": "Edit-AdminAppRoleAssignment",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "app",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the PowerApp.",
            "x-ms-summary": "PowerApp Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A filter query parameter.",
            "x-ms-summary": "Filter Query"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "put": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "The name of the permission role. Choose from CanView, CanViewWithShare, and CanEdit.",
                            "title": "Role Name"
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "capabilities"
                          },
                          "NotifyShareTargetOption": {
                            "type": "string",
                            "description": "Notifies the new user if provided the string value 'Notify'.",
                            "title": "Notify Share Target Option"
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "The principal email of the user.",
                                "title": "Principal Email"
                              },
                              "id": {
                                "type": "string",
                                "description": "The principal object ID of the user.",
                                "title": "Principal Object ID"
                              },
                              "type": {
                                "type": "string",
                                "description": "The principal type of the user.",
                                "title": "Principal Type"
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "The principal tenant ID of the user.",
                                "title": "Tenant ID"
                              }
                            },
                            "description": "principal"
                          }
                        },
                        "description": "properties"
                      }
                    }
                  },
                  "description": "put"
                },
                "delete": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID field of the Role Assignment.",
                        "title": "Role ID"
                      }
                    }
                  },
                  "description": "delete"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#edit-app-role-assignment-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/connections": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Connection name field."
                      },
                      "id": {
                        "type": "string",
                        "description": "Connection ID field."
                      },
                      "type": {
                        "type": "string",
                        "description": "Connection type field."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "apiId": {
                            "type": "string",
                            "description": "Connection property apiId."
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Connection property displayName."
                          },
                          "iconUri": {
                            "type": "string",
                            "description": "Connection icon URI."
                          },
                          "statuses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "description": "Connection status."
                                },
                                "target": {
                                  "type": "string",
                                  "description": "Connection status target."
                                },
                                "error": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string",
                                      "description": "Connection status error code."
                                    },
                                    "message": {
                                      "type": "string",
                                      "description": "Connection status error message."
                                    }
                                  },
                                  "description": "Connection status error."
                                }
                              }
                            },
                            "description": "Connection statuses."
                          },
                          "connectionParameters": {
                            "type": "object",
                            "properties": {
                              "sku": {
                                "type": "string",
                                "description": "Connection parameter sku."
                              },
                              "workflowName": {
                                "type": "string",
                                "description": "Connection parameter workflow name."
                              },
                              "workflowPath": {
                                "type": "string",
                                "description": "Connection parameter workflow path."
                              },
                              "workflowEndpoint": {
                                "type": "string",
                                "description": "Connection parameter workflow endpoint."
                              },
                              "workFlowCallbackUri": {
                                "type": "string",
                                "description": "Connection parameter workFlow Callback URI."
                              },
                              "server": {
                                "type": "string",
                                "description": "Connection parameter server."
                              },
                              "database": {
                                "type": "string",
                                "description": "Connection parameter database."
                              }
                            },
                            "description": "Connection property parameters object."
                          },
                          "keywordsRemaining": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Connection property keywordsRemaining."
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Connection creator principal object ID."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Connection creator principal display name."
                              },
                              "email": {
                                "type": "string",
                                "description": "Connection creator principal email."
                              },
                              "type": {
                                "type": "string",
                                "description": "Connection creator principal type."
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "Connection creator principal tenantId."
                              },
                              "userPrincipalName": {
                                "type": "string",
                                "description": "Connection creator user principal name."
                              }
                            },
                            "description": "Connection creator principal object."
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Connection created time."
                          },
                          "lastModifiedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Connection last modified time."
                          },
                          "environment": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Connection Environment ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "Connection Environment name."
                              }
                            },
                            "description": "Connection Environment object."
                          },
                          "expirationTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Connection property expirationTime."
                          },
                          "testLinks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "requestUri": {
                                  "type": "string",
                                  "description": "Connection property testLink requestUri."
                                },
                                "method": {
                                  "type": "string",
                                  "description": "Connection property testLink method"
                                }
                              }
                            },
                            "description": "Connection property testLinks."
                          }
                        },
                        "description": "Connection properties."
                      }
                    }
                  },
                  "description": "Connection value array."
                }
              }
            }
          }
        },
        "summary": "Get Connections as Admin",
        "description": "Returns a list of Connections.",
        "operationId": "Get-AdminConnections",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          },
          {
            "name": "$top",
            "default": 250,
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Page size",
            "description": "Number of Connections in the response.",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#get-connections-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connectorName}/connections/{connectionName}": {
      "delete": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Remove Connection as Admin",
        "description": "Deletes a Connection.",
        "operationId": "Remove-AdminConnection",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connector.",
            "x-ms-summary": "Connector Name"
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connection.",
            "x-ms-summary": "Connection Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#remove-connection-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connectorName}/connections/{connectionName}/permissions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Connection Role Assignment name field."
                      },
                      "id": {
                        "type": "string",
                        "description": "Connection Role Assignment ID field."
                      },
                      "type": {
                        "type": "string",
                        "description": "Connection Role Assignment type field."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "Connection Role Assignment role name."
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Connection Role Assignment principal object ID."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Connection Role Assignment principal displayName."
                              },
                              "email": {
                                "type": "string",
                                "description": "Connection Role Assignment principal email."
                              },
                              "type": {
                                "type": "string",
                                "description": "Connection Role Assignment principal type."
                              }
                            },
                            "description": "Connection Role Assignment principal object."
                          },
                          "notifyShareTargetOption": {
                            "type": "string",
                            "description": "Connection Role Assignment notify share target option."
                          }
                        },
                        "description": "Connection Role Assignment properties."
                      }
                    }
                  },
                  "description": "Connection Role Assignment value array."
                }
              }
            }
          }
        },
        "summary": "Get Connection Role Assignments as Admin",
        "description": "Returns all permissions for a Connection.",
        "operationId": "Get-AdminConnectionRoleAssignment",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connector.",
            "x-ms-summary": "Connector Name"
          },
          {
            "name": "connectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connection.",
            "x-ms-summary": "Connection Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2016-11-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          },
          {
            "name": "$top",
            "default": 250,
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Page size",
            "description": "Number of Connection Role Assignments in the response.",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#get-connection-role-assignments-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connector}/connections/{connection}/modifyPermissions": {
      "post": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Edit Connection Role Assignment as Admin",
        "description": "Sets permissions for a Connection.",
        "operationId": "Edit-AdminConnectionRoleAssignment",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "connector",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connector.",
            "x-ms-summary": "Connector Name"
          },
          {
            "name": "connection",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connection.",
            "x-ms-summary": "Connection Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Field Content Type",
            "description": "The content type of the API request."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "delete": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID field of the Role Assignment.",
                        "title": "Role ID"
                      }
                    }
                  },
                  "description": "delete"
                },
                "put": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "The name of the permission role.",
                            "title": "Role Name"
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The principal ID of the user.",
                                "title": "Principal ID"
                              }
                            },
                            "description": "principal"
                          }
                        },
                        "description": "properties"
                      }
                    }
                  },
                  "description": "put"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#edit-connection-role-assignment-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Connector name field."
                      },
                      "id": {
                        "type": "string",
                        "description": "Connector id field."
                      },
                      "type": {
                        "type": "string",
                        "description": "Connector type field."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "Connector property displayName."
                          },
                          "iconUri": {
                            "type": "string",
                            "description": "Connector icon Uri."
                          },
                          "iconBrandColor": {
                            "type": "string",
                            "description": "Connector icon brand color."
                          },
                          "apiEnvironment": {
                            "type": "string",
                            "description": "Connector api Environment."
                          },
                          "isCustomApi": {
                            "type": "boolean",
                            "description": "True if the Connector is a Custom Api."
                          },
                          "connectionParameters": {
                            "type": "object",
                            "properties": {},
                            "description": "Connector connection parameters."
                          },
                          "runtimeUrls": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "runtimeUrls"
                          },
                          "primaryRuntimeUrl": {
                            "type": "string",
                            "description": "Connector primary Runtime Url."
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "string",
                                "description": "Connector source metadata."
                              },
                              "brandColor": {
                                "type": "string",
                                "description": "Connector brand Color metadata."
                              },
                              "contact": {
                                "type": "object",
                                "properties": {},
                                "description": "contact"
                              },
                              "license": {
                                "type": "object",
                                "properties": {},
                                "description": "license"
                              },
                              "publisherUrl": {
                                "type": "string",
                                "description": "Connector publisher URL metadata."
                              },
                              "serviceUrl": {
                                "type": "string",
                                "description": "Connector service URL metadata."
                              },
                              "documentationUrl": {
                                "type": "string",
                                "description": "Connector documentation URL."
                              },
                              "environment": {
                                "type": "string",
                                "description": "Connector environment metadata."
                              },
                              "allowSharing": {
                                "type": "boolean",
                                "description": "Connector allow Sharing field."
                              }
                            },
                            "description": "metadata"
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Connector capabilities."
                          },
                          "description": {
                            "type": "string",
                            "description": "Connector description."
                          },
                          "apiDefinitions": {
                            "type": "object",
                            "properties": {
                              "originalSwaggerUrl": {
                                "type": "string",
                                "description": "Connector original swagger URL."
                              },
                              "modifiedSwaggerUrl": {
                                "type": "string",
                                "description": "Connector modified swagger URL."
                              }
                            },
                            "description": "Connector api definitions."
                          },
                          "createdBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Connector creator's principal object ID."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Connector creator's principal displayName."
                              },
                              "email": {
                                "type": "string",
                                "description": "Connector creator's principal email."
                              },
                              "type": {
                                "type": "string",
                                "description": "Connector creator's principal type."
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "Connector creator's principal tenantId."
                              },
                              "userPrincipalName": {
                                "type": "string",
                                "description": "Connector creator's user principal name."
                              }
                            },
                            "description": "Connector creator's principal object."
                          },
                          "modifiedBy": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Connector last modified by principal object ID."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Connector last modified by principal displayName."
                              },
                              "email": {
                                "type": "string",
                                "description": "Connector last modified by principal email."
                              },
                              "type": {
                                "type": "string",
                                "description": "Connector last modified by principal type."
                              },
                              "tenantId": {
                                "type": "string",
                                "description": "Connector last modified by principal tenantId."
                              },
                              "userPrincipalName": {
                                "type": "string",
                                "description": "Connector last modified by user principal name."
                              }
                            },
                            "description": "Connector last modified by principal object."
                          },
                          "createdTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Connector created time."
                          },
                          "changedTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Connector changed time."
                          },
                          "environment": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Connector Environment ID."
                              },
                              "name": {
                                "type": "string",
                                "description": "Connector Environment name."
                              }
                            },
                            "description": "Connector Environment."
                          },
                          "tier": {
                            "type": "string",
                            "description": "Connector tier."
                          },
                          "publisher": {
                            "type": "string",
                            "description": "Connector publisher's principal display name."
                          }
                        },
                        "description": "properties"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Custom Connectors as Admin",
        "description": "Returns a list of custom Connectors.",
        "operationId": "Get-AdminConnectors",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-05-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          },
          {
            "name": "$top",
            "default": 250,
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Page size",
            "description": "Number of Custom Connectors in the response.",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#get-custom-connectors-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connectorName}/permissions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Connector Role Assignment name field."
                      },
                      "id": {
                        "type": "string",
                        "description": "Connector Role Assignment ID field."
                      },
                      "type": {
                        "type": "string",
                        "description": "Connector Role Assignment type field."
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "Connector Role Assignment role name."
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Connector Role Assignment principal object ID."
                              },
                              "displayName": {
                                "type": "string",
                                "description": "Connector Role Assignment principal displayName."
                              },
                              "email": {
                                "type": "string",
                                "description": "Connector Role Assignment principal email."
                              },
                              "type": {
                                "type": "string",
                                "description": "Connector Role Assignment principal type."
                              }
                            },
                            "description": "Connector Role Assignment principal object."
                          },
                          "notifyShareTargetOption": {
                            "type": "string",
                            "description": "The Name field of the notifyShareTargetOption."
                          }
                        },
                        "description": "properties"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get Connector Role Assignments as Admin",
        "description": "Returns permissions for a custom Connector.",
        "operationId": "Get-AdminConnectorRoleAssignment",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connector.",
            "x-ms-summary": "Connector Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          },
          {
            "name": "$top",
            "default": 250,
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-summary": "Page size",
            "description": "Number of Connector Role Assignments in the response.",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#get-connector-role-assignments-as-admin"
        }
      }
    },
    "/{connectionId}/providers/Microsoft.PowerApps/scopes/admin/environments/{environment}/apis/{connectorName}/modifyPermissions": {
      "post": {
        "responses": {
          "200": {
            "description": "No Content"
          }
        },
        "summary": "Edit Connector Role Assignment as Admin",
        "description": "Sets permissions for a Connector.",
        "operationId": "Edit-AdminConnectorRoleAssignment",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Environment.",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name field of the Connector.",
            "x-ms-summary": "Connector Name"
          },
          {
            "name": "api-version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2017-06-01",
            "description": "The date value of the API version.",
            "x-ms-summary": "API Version"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "The content type of the API request.",
            "x-ms-summary": "Field Content Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "delete": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The ID field of the Role Assignment.",
                        "title": "Role ID"
                      }
                    }
                  },
                  "description": "delete"
                },
                "put": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "properties": {
                        "type": "object",
                        "properties": {
                          "roleName": {
                            "type": "string",
                            "description": "The name of the role.",
                            "title": "Role Name"
                          },
                          "principal": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The principal object ID of the user.",
                                "title": "Principal Object ID"
                              }
                            },
                            "description": "principal"
                          }
                        },
                        "description": "properties"
                      }
                    }
                  },
                  "description": "put"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/powerappsforadmins/#edit-connector-role-assignment-as-admin"
        }
      }
    }
  },
  "definitions": {
    "ResourceArray[PowerApp]": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PowerApp"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next page of the Apps list. Contains the skiptoken.",
          "title": "Next Link"
        }
      }
    },
    "PowerApp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "PowerApp ID field."
        },
        "name": {
          "type": "string",
          "description": "PowerApp name field."
        },
        "properties": {
          "type": "object",
          "properties": {
            "appVersion": {
              "type": "string",
              "format": "date-time",
              "description": "PowerApp property appVersion."
            },
            "createdByClientVersion": {
              "type": "object",
              "properties": {
                "major": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property createdByClientVersion major."
                },
                "minor": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property createdByClientVersion minor."
                },
                "build": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property createdByClientVersion build."
                },
                "revision": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property createdByClientVersion revision."
                },
                "majorRevision": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property createdByClientVersion majorRevision."
                },
                "minorRevision": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property createdByClientVersion minorRevision."
                }
              },
              "description": "PowerApp property createdByClientVersion object."
            },
            "minClientVersion": {
              "type": "object",
              "properties": {
                "major": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property minClientVersion major."
                },
                "minor": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property minClientVersion minor."
                },
                "build": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property minClientVersion build."
                },
                "revision": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property minClientVersion revision."
                },
                "majorRevision": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property minClientVersion majorRevision."
                },
                "minorRevision": {
                  "type": "integer",
                  "format": "int32",
                  "description": "PowerApp property minClientVersion minorRevision."
                }
              },
              "description": "PowerApp property minClientVersion object."
            },
            "owner": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "PowerApp owner principal user ID."
                },
                "displayName": {
                  "type": "string",
                  "description": "PowerApp owner principal displayName."
                },
                "email": {
                  "type": "string",
                  "description": "PowerApp owner principal email."
                },
                "type": {
                  "type": "string",
                  "description": "PowerApp owner principal type."
                },
                "tenantId": {
                  "type": "string",
                  "description": "PowerApp owner principal tenantId."
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "PowerApp owner principal userPrincipalName."
                }
              },
              "description": "PowerApp owner principal object."
            },
            "createdBy": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "PowerApp creator principal object ID."
                },
                "displayName": {
                  "type": "string",
                  "description": "PowerApp creator principal displayName."
                },
                "email": {
                  "type": "string",
                  "description": "PowerApp creator principal email."
                },
                "type": {
                  "type": "string",
                  "description": "PowerApp creator principal type."
                },
                "tenantId": {
                  "type": "string",
                  "description": "PowerApp creator principal tenantId."
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "PowerApp creator principal userPrincipalName."
                }
              },
              "description": "PowerApp createdBy principal object."
            },
            "lastModifiedBy": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "PowerApp last modified by principal object ID."
                },
                "displayName": {
                  "type": "string",
                  "description": "PowerApp last modified by principal displayName."
                },
                "email": {
                  "type": "string",
                  "description": "PowerApp last modified by principal email."
                },
                "type": {
                  "type": "string",
                  "description": "PowerApp last modified by principal type."
                },
                "tenantId": {
                  "type": "string",
                  "description": "PowerApp last modified by principal tenantId."
                },
                "userPrincipalName": {
                  "type": "string",
                  "description": "PowerApp last modified by principal userPrincipalName."
                }
              },
              "description": "PowerApp lastModifiedBy object."
            },
            "backgroundColor": {
              "type": "string",
              "description": "PowerApp backgroundColor."
            },
            "backgroundImageUri": {
              "type": "string",
              "description": "PowerApp backgroundImageUri."
            },
            "displayName": {
              "type": "string",
              "description": "PowerApp displayName."
            },
            "description": {
              "type": "string",
              "description": "PowerApp description."
            },
            "appUris": {
              "type": "object",
              "properties": {
                "documentUri": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "PowerApp appUri documentUri value."
                    },
                    "readonlyValue": {
                      "type": "string",
                      "description": "PowerApp appUri documentUri readonlyValue."
                    }
                  },
                  "description": "PowerApp appUri documentUri object."
                },
                "imageUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "PowerApp appUri imageUris array."
                }
              },
              "description": "PowerApp appUri object."
            },
            "createdTime": {
              "type": "string",
              "format": "date-time",
              "description": "PowerApp property createdTime."
            },
            "lastModifiedTime": {
              "type": "string",
              "format": "date-time",
              "description": "PowerApp property lastModifiedTime."
            },
            "sharedGroupsCount": {
              "type": "integer",
              "format": "int32",
              "description": "PowerApp property sharedGroupsCount."
            },
            "sharedUsersCount": {
              "type": "integer",
              "format": "int32",
              "description": "PowerApp property sharedUsersCount."
            },
            "appOpenProtocolUri": {
              "type": "string",
              "description": "PowerApp property appOpenProtocolUri."
            },
            "appOpenUri": {
              "type": "string",
              "description": "PowerApp property appOpenUri."
            },
            "userAppMetadata": {
              "type": "object",
              "properties": {
                "favorite": {
                  "type": "string",
                  "description": "PowerApp property userAppMetadata favorite."
                },
                "includeInAppsList": {
                  "type": "boolean",
                  "description": "PowerApp property userAppMetadata includeInAppsList."
                }
              },
              "description": "PowerApp property userAppMetadata object."
            },
            "isFeaturedApp": {
              "type": "boolean",
              "description": "PowerApp property isFeaturedApp."
            },
            "bypassConsent": {
              "type": "boolean",
              "description": "PowerApp property bypassConsent."
            },
            "isHeroApp": {
              "type": "boolean",
              "description": "PowerApp property isHeroApp."
            },
            "environment": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "PowerApp Environment ID."
                },
                "name": {
                  "type": "string",
                  "description": "PowerApp Environment name."
                }
              },
              "description": "PowerApp Environment property object."
            },
            "connectionReferences": {
              "$ref": "#/definitions/ConnectionReferences"
            }
          },
          "description": "PowerApp properties object."
        },
        "tags": {
          "type": "object",
          "properties": {
            "primaryDeviceWidth": {
              "type": "string",
              "description": "PowerApp tag primaryDeviceWidth."
            },
            "primaryDeviceHeight": {
              "type": "string",
              "description": "PowerApp tag primaryDeviceHeight."
            },
            "sienaVersion": {
              "type": "string",
              "description": "PowerApp tag sienaVersion."
            },
            "deviceCapabilities": {
              "type": "string",
              "description": "PowerApp tag deviceCapabilities."
            },
            "supportsPortrait": {
              "type": "string",
              "description": "PowerApp tag supportsPortrait."
            },
            "supportsLandscape": {
              "type": "string",
              "description": "PowerApp tag supportsLandscape."
            },
            "primaryFormFactor": {
              "type": "string",
              "description": "PowerApp tag primaryFormFactor."
            },
            "publisherVersion": {
              "type": "string",
              "description": "PowerApp tag publisherVersion."
            },
            "minimumRequiredApiVersion": {
              "type": "string",
              "format": "date-time",
              "description": "PowerApp tag minimumRequiredApiVersion."
            }
          },
          "description": "tags"
        },
        "type": {
          "type": "string",
          "description": "PowerApp type field."
        }
      }
    },
    "ConnectionReferences": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ConnectionReference"
      }
    },
    "ConnectionReference": {
      "type": "object",
      "required": [
        "id",
        "displayName"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Connector Id",
          "x-ms-visibility": "important"
        },
        "displayName": {
          "type": "string",
          "x-ms-summary": "Connector display name",
          "x-ms-visibility": "important"
        },
        "iconUri": {
          "type": "string",
          "x-ms-summary": "Icon URI",
          "x-ms-visibility": "important"
        },
        "dataSources": {
          "type": "array",
          "x-ms-summary": "Data sources",
          "description": "List of data sources for the connection",
          "items": {
            "type": "string"
          }
        },
        "dependencies": {
          "type": "array",
          "x-ms-summary": "Dependencies",
          "description": "List of dependencies for the connection",
          "items": {
            "type": "string"
          }
        },
        "dependents": {
          "type": "array",
          "x-ms-summary": "Dependents",
          "description": "List of dependant connectors for the connector",
          "items": {
            "type": "string"
          }
        },
        "isOnPremiseConnection": {
          "type": "boolean",
          "x-ms-summary": "Is on premise connection",
          "description": "Flag indicates on premise data gateway"
        },
        "bypassConsent": {
          "type": "boolean",
          "x-ms-summary": "Bypass consent",
          "description": "Flag indicates bypassed api consent"
        },
        "apiTier": {
          "type": "string",
          "x-ms-summary": "API tier",
          "description": "Api tier is standard or premium"
        },
        "isCustomApiConnection": {
          "type": "boolean",
          "x-ms-summary": "Custom API flag",
          "description": "Flag indicates custom connector"
        },
        "runtimePolicyName": {
          "type": "string",
          "x-ms-summary": "Runtime Policy Name",
          "description": "String indicating the name of the runtime policy"
        },
        "executionRestrictions": {
          "type": "object",
          "x-ms-summary": "Execution Restrictions",
          "description": "Execution restrictions for the runtime policy"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "OAuth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://your.token.url/here",
      "flow": "accessCode",
      "scopes": {}
    }
  },
  "security": [
    {
      "OAuth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://admin.powerapps.com/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/powerappsforadmins"
  }
}
