{
  "swagger": "2.0",
  "info": {
    "title": "Fluid Kinnectorz for Procore",
    "description": "The Fluid Kinnectorz for Procore connector is a low-code integration application for Procore users. With this connector you can effortlessly create and implement custom workflows by integrating Procore with hundreds of other software packages represented within the Microsoft Power Platform connector library. Choose Phoenix Innovation Lab's Fluid Kinnectorz for Procore - because in construction, you don't have time for anything less!",
    "version": "1.0.920",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Phoenix Innovation Lab Support",
      "url": "https://www.phoenixinnovationlab.com/support",
      "email": "support@phoenixinnovationlab.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/fluidkinnectorzforpr",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/companies/{company_id}/project_bid_types/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Bid-GetBidType"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Bid-GetBidType"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Get Bid Type",
        "operationId": "Bid-GetBidType",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "get bid",
          "bid type",
          "bid",
          "bid detail"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromPath"
          },
          {
            "$ref": "#/parameters/BidTypeFromPath"
          }
        ],
        "description": "Get Bid Type Details",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-bid-type"
        }
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Delete Bid Type",
        "operationId": "Company-DeleteBidType",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "bid type",
          "delete",
          "bid",
          "delete bid"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromPath"
          },
          {
            "$ref": "#/parameters/BidTypeFromPath"
          }
        ],
        "description": "Delete Bid Type",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#delete-bid-type"
        }
      }
    },
    "/{connectionId}/companies/{company_id}/project_bid_types": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Company-GetBidTypes"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Company-GetBidTypes"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Get Bid Types",
        "operationId": "Company-GetBidTypes",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "bid types",
          "get types",
          "get bid"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromPath"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Page number which you want to retrieve the data",
            "x-ms-summary": "Page No",
            "x-ms-visibility": "advanced",
            "format": "int32"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limit to Number of Records in the response",
            "x-ms-summary": "Limit Records",
            "x-ms-visibility": "advanced",
            "format": "int32"
          }
        ],
        "description": "Get Bid Types",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-bid-types"
        }
      }
    },
    "/{connectionId}/departments/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "tags": [
          "department",
          "delete department",
          "delete"
        ],
        "summary": "Delete Department",
        "operationId": "Delete-Department",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important",
            "type": "integer",
            "x-ms-summary": "Department ID",
            "description": "Department ID",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "GetDepartments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                }
              }
            }
          }
        ],
        "description": "Delete Department ",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#delete-department"
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "GetDepartmentById"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "GetDepartmentById"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "department",
          "get",
          "get department"
        ],
        "summary": "Get Department by Id",
        "operationId": "GetDepartmentById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "integer",
            "x-ms-summary": "ID",
            "description": "Department ID",
            "x-ms-url-encoding": "single",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "GetDepartments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                }
              }
            }
          }
        ],
        "description": "Get Department by Id",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-department-by-id"
        }
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Update-Department"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Update-Department"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "department",
          "update",
          "update department"
        ],
        "summary": "Update Department",
        "operationId": "Update-Department",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-visibility": "important",
            "type": "integer",
            "x-ms-summary": "Department ID",
            "x-ms-url-encoding": "single",
            "description": "Department ID",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "GetDepartments",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "department": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Department name",
                      "x-ms-visibility": "important",
                      "x-ms-summary": "Department name"
                    },
                    "origin_data": {
                      "type": "string",
                      "description": "Origin Data",
                      "x-ms-summary": "Origin Data"
                    },
                    "origin_id": {
                      "type": "string",
                      "description": "Origin Id",
                      "x-ms-summary": "Origin Id"
                    }
                  }
                }
              }
            }
          }
        ],
        "description": "Update Department ",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#update-department"
        }
      }
    },
    "/{connectionId}/departments": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "GetDepartments"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "GetDepartments"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "department",
          "get",
          "list department",
          "get departments"
        ],
        "summary": "Get Departments",
        "operationId": "GetDepartments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/PageNo"
          },
          {
            "$ref": "#/parameters/PerPage"
          }
        ],
        "description": "Get Departments",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-departments"
        }
      }
    },
    "/{connectionId}/fk-schemas-response": {
      "get": {
        "description": "Gets the schema",
        "operationId": "GetResponseSchema",
        "summary": "Gets the schema for the specified operation",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "oprId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "fkId",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "object"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#gets-the-schema-for-the-specified-operation"
        }
      }
    },
    "/{connectionId}/companies/{company_id}/project_owner_types/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Delete Project Owner Type",
        "operationId": "Company-DeleteProjectOwnerTypes",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "owner type",
          "delete owner",
          "project owner",
          "delete project"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromPath"
          },
          {
            "$ref": "#/parameters/ProjectOwnerTypeFromPath"
          }
        ],
        "description": "Delete Project Owner Type",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#delete-project-owner-type"
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Company-GetProjectOwnerType"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Company-GetProjectOwnerType"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Get Project Owner Type",
        "operationId": "Company-GetProjectOwnerType",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "owner type",
          "project owner",
          "get owner",
          "get project"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromPath"
          },
          {
            "$ref": "#/parameters/ProjectOwnerTypeFromPath"
          }
        ],
        "description": "Get Project Owner Type Details",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-project-owner-type"
        }
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Company-UpdateProjectOwnerType"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Company-UpdateProjectOwnerType"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Update Project Owner Type",
        "operationId": "Company-UpdateProjectOwnerType",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "owner type",
          "update owner",
          "update type",
          "update project owner"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromPath"
          },
          {
            "$ref": "#/parameters/ProjectOwnerTypeFromPath"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project_owner_type": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the Project Owner Type",
                      "x-ms-summary": "Name"
                    }
                  }
                }
              }
            }
          }
        ],
        "description": "Update Project Owner Type",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#update-project-owner-type"
        }
      }
    },
    "/{connectionId}/companies/{company_id}/project_owner_types": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Company-GetProjectOwnerTypes"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Company-GetProjectOwnerTypes"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Get Project Owner Types",
        "operationId": "Company-GetProjectOwnerTypes",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "owner types",
          "get project",
          "get owner",
          "get types"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromPath"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "$ref": "#/parameters/PageNo"
          }
        ],
        "description": "Get Project Owner Types",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-project-owner-types"
        }
      }
    },
    "/{connectionId}/files/{file_id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "tags": [
          "file",
          "delete file",
          "delete project",
          "project file",
          "delete"
        ],
        "summary": "Delete Project File",
        "description": "Delete Project File",
        "operationId": "Project-DeleteFile",
        "x-ms-url-encoding": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/FolderIdFromQuery"
          },
          {
            "name": "file_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "File ID",
            "description": "Project File Id",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "Project-GetFiles",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "files",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                },
                "project_id": {
                  "parameter": "project_id"
                },
                "folderId": {
                  "parameter": "folderId"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#delete-project-file"
        }
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Project-GetFile"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Project-GetFile"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "file",
          "get",
          "get file",
          "get project file",
          "project file"
        ],
        "summary": "Get Project File",
        "description": "Get Project File",
        "operationId": "Project-GetFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/FolderIdFromQuery"
          },
          {
            "name": "file_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "File ID",
            "description": "Project File Id",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "Project-GetFiles",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "files",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                },
                "project_id": {
                  "parameter": "project_id"
                },
                "folderId": {
                  "parameter": "folderId"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-project-file"
        }
      }
    },
    "/{connectionId}/folders/{folderId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "tags": [
          "delete",
          "folder",
          "delete project",
          "delete folder",
          "project folder"
        ],
        "summary": "Delete Project Folder",
        "description": "Delete Project Folder",
        "operationId": "Project-DeleteFolder",
        "x-ms-url-encoding": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/FolderIdFromPath"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#delete-project-folder"
        }
      },
      "get": {
        "tags": [
          "list",
          "list folder",
          "files in folder",
          "list files",
          "folder"
        ],
        "summary": "List files in folder by Project Id",
        "description": "List files in a Procore Project folder",
        "operationId": "Project-ListFolder",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/FolderIdFromPath"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Project-ListFolder"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Project-ListFolder"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#list-files-in-folder-by-project-id"
        }
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Project-UpdateFolder"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Project-UpdateFolder"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "file",
          "folder",
          "update",
          "project",
          "project folder",
          "update project"
        ],
        "summary": "Update Project Folder",
        "description": "Update Project Folder",
        "operationId": "Project-UpdateFolder",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/FolderIdFromPath"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectFolderUpdateReqDto"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#update-project-folder"
        }
      }
    },
    "/{connectionId}/companies": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Companies-GetCompanies"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Companies-GetCompanies"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "companies",
          "company",
          "get company",
          "get companies"
        ],
        "summary": "Companies - Get Companies",
        "operationId": "Companies-GetCompanies",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/PageNo"
          },
          {
            "$ref": "#/parameters/PerPage"
          }
        ],
        "description": "Get list of Companies visible to the User.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#companies---get-companies"
        }
      }
    },
    "/{connectionId}/api/download-file": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "GetFileContentByUrl"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "GetFileContentByUrl"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "get",
          "file content",
          "content by url",
          "file by url",
          "get file"
        ],
        "summary": "Get FileContent By Url",
        "description": "Get FileContent for a given URL",
        "operationId": "GetFileContentByUrl",
        "x-ms-url-encoding": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "File URL",
            "description": "URL location of the file you would like to get contents for",
            "required": true,
            "type": "string"
          },
          {
            "name": "filename",
            "in": "query",
            "x-ms-summary": "File Name",
            "description": "Name you would like to assign to file",
            "required": false,
            "type": "string"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-filecontent-by-url"
        }
      }
    },
    "/{connectionId}/companies/{company_id}/programs": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Programs-GetPrograms"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Programs-GetPrograms"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "programs",
          "get",
          "get program",
          "get programs"
        ],
        "summary": "Programs - Get Programs",
        "description": "Return a list of Programs associated to the specified Company.",
        "operationId": "Programs-GetPrograms",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromPath"
          },
          {
            "$ref": "#/parameters/PageNo"
          },
          {
            "$ref": "#/parameters/PerPage"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#programs---get-programs"
        }
      }
    },
    "/{connectionId}/file_versions/{version_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Project-GetFileVersionById"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Project-GetFileVersionById"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "file",
          "file version",
          "get",
          "get specific",
          "get a",
          "specific version",
          "version of file",
          "specific file"
        ],
        "summary": "Get a Specific Version of a File",
        "description": "Get a Specific Version of a File",
        "operationId": "Project-GetFileVersionById",
        "x-ms-url-encoding": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/FolderIdFromQuery"
          },
          {
            "name": "file_id",
            "in": "query",
            "x-ms-summary": "File ID",
            "description": "Project File Id",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "Project-GetFiles",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "files",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                },
                "project_id": {
                  "parameter": "project_id"
                },
                "folderId": {
                  "parameter": "folderId"
                }
              }
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "File Version ID",
            "description": "Project File Version Id",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "Project-GetFile",
              "value-path": "id",
              "value-title": "notes",
              "value-collection": "file_versions",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                },
                "project_id": {
                  "parameter": "project_id"
                },
                "file_id": {
                  "parameter": "file_id"
                },
                "folderId": {
                  "parameter": "folderId"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-a-specific-version-of-a-file"
        }
      }
    },
    "/{connectionId}/folders/{folderId}/files": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Project-GetFiles"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Project-GetFiles"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "files",
          "get",
          "get files",
          "get project files",
          "project files"
        ],
        "summary": "Get Project Files",
        "description": "Get Project Files",
        "operationId": "Project-GetFiles",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/FolderIdFromPath"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#get-project-files"
        }
      }
    },
    "/{connectionId}/root-folders": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Project-ListAllRootFolders"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Project-ListAllRootFolders"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "tags": [
          "project root",
          "root folder",
          "root folders",
          "project folders",
          "folders",
          "get root folders"
        ],
        "summary": "Project Root Folders",
        "operationId": "Project-ListAllRootFolders",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "name": "exclude_files",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "default": false,
            "description": "Exclude child Files from results",
            "x-ms-summary": "Exclude Files"
          }
        ],
        "description": "Get Root Folders",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#project-root-folders"
        }
      }
    },
    "/{connectionId}/equipment": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Project-GetProjectEquipment"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Project-GetProjectEquipment"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "project",
          "equipment",
          "project admin",
          "admin equipment",
          "get project",
          "get equipment"
        ],
        "summary": "Project Admin Equipment - GetProjectEquipment",
        "operationId": "Project-GetProjectEquipment",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/PageNo"
          },
          {
            "$ref": "#/parameters/PerPage"
          }
        ],
        "description": "Return a list of all Project Equipment.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#project-admin-equipment---getprojectequipment"
        }
      }
    },
    "/{connectionId}/folders": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "ProjectFoldersAndFiles-GetFilesandFolders"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "ProjectFoldersAndFiles-GetFilesandFolders"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "files",
          "folders",
          "project folders",
          "project files",
          "get folders",
          "get files",
          "folders and files",
          "folder and file"
        ],
        "summary": "Project Folders And Files - Get Folders and Files",
        "operationId": "ProjectFoldersAndFiles-GetFilesandFolders",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "name": "exclude_folders",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "default": false,
            "description": "Exclude child Folders from results",
            "x-ms-summary": "Exclude Folders",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "exclude_files",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "default": false,
            "description": "Exclude child Files from results",
            "x-ms-summary": "Exclude Files",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "show_latest_file_version_only",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "default": false,
            "description": "Show only latest File version",
            "x-ms-summary": "Latest File Version",
            "x-ms-visibility": "advanced"
          }
        ],
        "description": "Get list of Folders and Files for a specified Project.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#project-folders-and-files---get-folders-and-files"
        }
      }
    },
    "/{connectionId}/projects": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Projects-GetProjects"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Projects-GetProjects"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Projects - Get Projects",
        "operationId": "Projects-GetProjects",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "project",
          "get",
          "projects",
          "get projects"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/PageNo"
          },
          {
            "$ref": "#/parameters/PerPage"
          },
          {
            "name": "filters[by_status]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters on project status",
            "x-ms-summary": "Project Status",
            "x-ms-visibility": "advanced",
            "enum": [
              "All",
              "Active",
              "Inactive"
            ]
          },
          {
            "$ref": "#/parameters/FilterByCreatedAt"
          },
          {
            "$ref": "#/parameters/FilterByUpdatedAt"
          },
          {
            "name": "filters[origin_id]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Project Origin ID",
            "x-ms-summary": "Project Origin ID",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filters[id]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Project IDs",
            "x-ms-summary": "Project IDs",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filters[synced]",
            "in": "query",
            "required": false,
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "default": false,
            "description": "Synced Status",
            "x-ms-summary": "Synced Status",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "serializer_view",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Serializer View",
            "x-ms-summary": "Serializer View",
            "x-ms-visibility": "advanced",
            "enum": [
              "compact"
            ]
          }
        ],
        "description": "Return a list of active Projects.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#projects---get-projects"
        }
      }
    },
    "/{connectionId}/projects/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Projects-ShowProject"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Projects-ShowProject"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Projects - Show Project",
        "operationId": "Projects-ShowProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "projects",
          "show",
          "show project"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "ID of the project",
            "x-ms-summary": "Project ID",
            "x-ms-url-encoding": "single",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "Projects-GetProjects",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                }
              }
            }
          }
        ],
        "description": "Show details of the specified Project in Procore.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#projects---show-project"
        }
      }
    },
    "/{connectionId}/api/project/files": {
      "patch": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Project-UpdateFile"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Project-UpdateFile"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "tags": [
          "file",
          "update",
          "update project",
          "update file"
        ],
        "summary": "Update Project File",
        "description": "Update Project File",
        "operationId": "Project-UpdateFile",
        "x-ms-url-encoding": "single",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "$ref": "#/parameters/FolderIdFromQuery"
          },
          {
            "name": "file_id",
            "in": "query",
            "x-ms-summary": "File ID",
            "description": "Project File Id",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "Project-GetFiles",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "files",
              "parameters": {
                "company_id": {
                  "parameter": "company_id"
                },
                "project_id": {
                  "parameter": "project_id"
                },
                "folderId": {
                  "parameter": "folderId"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectFileUpdateReqDto"
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#update-project-file"
        }
      }
    },
    "/{connectionId}/projects/sync": {
      "patch": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Projects-SyncProjects"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Projects-SyncProjects"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Projects - Sync Projects",
        "operationId": "Projects-SyncProjects",
        "consumes": [
          "application/json"
        ],
        "tags": [
          "sync",
          "projects",
          "sync project",
          "sync projects"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/RunFromConfig"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "updates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the Project",
                        "title": "Project ID",
                        "x-ms-summary": "Project ID",
                        "x-ms-dynamic-values": {
                          "operationId": "Projects-GetProjects",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "company_id": {
                              "parameter": "company_id"
                            }
                          }
                        }
                      },
                      "active": {
                        "type": "boolean",
                        "enum": [
                          true,
                          false
                        ],
                        "default": false,
                        "description": "Active status of the Project",
                        "x-ms-summary": "Active status"
                      },
                      "address": {
                        "type": "string",
                        "description": "Street Address of the Project location",
                        "x-ms-summary": "Street Address"
                      },
                      "city": {
                        "type": "string",
                        "description": "City in which the Project is located",
                        "x-ms-summary": "City"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Two character Code that represents the Country in which the Project is located (ISO-3166 Alpha-2 format)",
                        "x-ms-summary": "Country Code"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the Project",
                        "x-ms-summary": "Description"
                      },
                      "start_date": {
                        "type": "string",
                        "description": "Date that the contract for the project is signed",
                        "x-ms-summary": "Start Date"
                      },
                      "completion_date": {
                        "type": "string",
                        "description": "Date that all parties agree the project meets or must meet “substantial completion”.",
                        "title": "Completion Date"
                      },
                      "total_value": {
                        "type": "string",
                        "description": "Total amount of construction work performed, planned, or put in place during the project.",
                        "x-ms-summary": "Total Value"
                      },
                      "warranty_start_date": {
                        "type": "string",
                        "description": "Warranty Start Date of the Project",
                        "x-ms-summary": "Warranty Start Date"
                      },
                      "warranty_end_date": {
                        "type": "string",
                        "description": "Warranty End Date of the Project",
                        "x-ms-summary": "Warranty End Date"
                      },
                      "flag": {
                        "type": "string",
                        "description": "Flag of the Project",
                        "x-ms-summary": "Flag of the Project"
                      },
                      "image_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Image ID of the Project",
                        "x-ms-summary": "Image ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the Project",
                        "x-ms-summary": "The Name of the Project"
                      },
                      "office_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the Office of the Project",
                        "x-ms-summary": "ID of the Office"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Phone number of the Project",
                        "x-ms-summary": "Phone number"
                      },
                      "project_number": {
                        "type": "string",
                        "description": "Number of the Project",
                        "x-ms-summary": "Number of the Project"
                      },
                      "public_notes": {
                        "type": "string",
                        "description": "Public Notes of the Project",
                        "x-ms-summary": "Public Notes"
                      },
                      "square_feet": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Square Footage of the Project",
                        "x-ms-summary": "Square Footage"
                      },
                      "state_code": {
                        "type": "string",
                        "description": "Code that represents the State of the Project (ISO-3166 Alpha-2 format)",
                        "x-ms-summary": "State Code"
                      },
                      "time_zone": {
                        "type": "string",
                        "description": "Timezone of the Project",
                        "x-ms-summary": "Timezone"
                      },
                      "zip": {
                        "type": "string",
                        "description": "Zip code of the Project",
                        "x-ms-summary": "Zip code"
                      },
                      "program_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Program ID of the Project",
                        "x-ms-summary": "Program ID"
                      },
                      "project_bid_type_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project Bid Type ID of the Project",
                        "x-ms-summary": "Bid Type ID",
                        "x-ms-dynamic-list": {
                          "operationId": "Company-GetBidTypes",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "company_id": {
                              "parameterReference": "company_id"
                            }
                          }
                        },
                        "x-ms-dynamic-values": {
                          "operationId": "Company-GetBidTypes",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "company_id": {
                              "parameter": "company_id"
                            }
                          }
                        }
                      },
                      "project_stage_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project Stage ID of the Project",
                        "x-ms-summary": "Stage ID",
                        "x-ms-dynamic-list": {
                          "operationId": "Company-GetProjectStages",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "company_id": {
                              "parameterReference": "company_id"
                            }
                          }
                        },
                        "x-ms-dynamic-values": {
                          "operationId": "Company-GetProjectStages",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "company_id": {
                              "parameter": "company_id"
                            }
                          }
                        }
                      },
                      "project_type_id": {
                        "x-ms-visibility": "important",
                        "type": "integer",
                        "x-ms-summary": "Type ID",
                        "description": "Project Type ID",
                        "format": "int32",
                        "x-ms-dynamic-list": {
                          "operationId": "Company-GetProjectTypes",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "company_id": {
                              "parameterReference": "company_id"
                            }
                          }
                        },
                        "x-ms-dynamic-values": {
                          "operationId": "Company-GetProjectTypes",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "company_id": {
                              "parameter": "company_id"
                            }
                          }
                        }
                      },
                      "project_owner_type_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project Owner Type ID of the Project",
                        "x-ms-summary": "Owner Type ID",
                        "x-ms-dynamic-list": {
                          "operationId": "Company-GetProjectOwnerTypes",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "company_id": {
                              "parameterReference": "company_id"
                            }
                          }
                        },
                        "x-ms-dynamic-values": {
                          "operationId": "Company-GetProjectOwnerTypes",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "company_id": {
                              "parameter": "company_id"
                            }
                          }
                        }
                      },
                      "project_region_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project Region ID of the Project",
                        "x-ms-summary": "Region ID of the Project",
                        "x-ms-dynamic-list": {
                          "operationId": "Company-GetProjectRegions",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "company_id": {
                              "parameterReference": "company_id"
                            }
                          }
                        },
                        "x-ms-dynamic-values": {
                          "operationId": "Company-GetProjectRegions",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "company_id": {
                              "parameter": "company_id"
                            }
                          }
                        }
                      },
                      "project_template_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Project ID Template as designated by another Project on this company.",
                        "x-ms-summary": "Project Template ID"
                      },
                      "origin_id": {
                        "type": "string",
                        "description": "Third-party ID of the Project",
                        "x-ms-summary": "Third-party ID"
                      },
                      "origin_data": {
                        "type": "string",
                        "description": "Third-party Data of the Project",
                        "x-ms-summary": "Third-party Data"
                      },
                      "department_ids": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32",
                          "x-ms-dynamic-values": {
                            "operationId": "GetDepartments",
                            "value-path": "id",
                            "value-title": "name",
                            "parameters": {
                              "company_id": {
                                "parameter": "company_id"
                              }
                            }
                          }
                        },
                        "description": "IDs of the Departments the Project belongs to"
                      },
                      "estimated_value": {
                        "type": "string",
                        "description": "Estimated Value of the project",
                        "x-ms-summary": "Estimated Value"
                      },
                      "estimated_start_date": {
                        "type": "string",
                        "description": "Estimated Start Date of the Project.",
                        "x-ms-summary": "Estimated Start Date"
                      },
                      "estimated_completion_date": {
                        "type": "string",
                        "description": "Estimated Completion Date of the Project.",
                        "x-ms-summary": "Estimated Completion Date"
                      },
                      "store_number": {
                        "type": "string",
                        "description": "Store Number of the Project",
                        "x-ms-summary": "Store Number"
                      },
                      "accounting_project_number": {
                        "type": "string",
                        "description": "Accounting Project Number of the Project",
                        "x-ms-summary": "Accounting Project Number"
                      },
                      "designated_market_area": {
                        "type": "string",
                        "description": "Designated Market Area of the Project",
                        "x-ms-summary": "Designated Market Area"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "description": "Create or update a batch of Projects.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#projects---sync-projects"
        }
      }
    },
    "/{connectionId}/projects/{project_id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": "Projects-UpdateProject"
                },
                "value-path": "items"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetResponseSchema",
                "parameters": {
                  "oprId": {
                    "value": "Projects-UpdateProject"
                  }
                },
                "itemValuePath": "items"
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "summary": "Projects - Update Project",
        "operationId": "Projects-UpdateProject",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "update",
          "project",
          "projects",
          "update project",
          "update projects"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromPath"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the Project",
                      "x-ms-summary": "Name"
                    },
                    "active": {
                      "type": "boolean",
                      "enum": [
                        true,
                        false
                      ],
                      "default": false,
                      "description": "Active status of the Project",
                      "x-ms-summary": "Active"
                    },
                    "address": {
                      "type": "string",
                      "description": "Street Address of the Project location",
                      "x-ms-summary": "Address"
                    },
                    "city": {
                      "type": "string",
                      "description": "City in which the Project is located",
                      "x-ms-summary": "City"
                    },
                    "country_code": {
                      "type": "string",
                      "description": "Two character Code that represents the Country in which the Project is located (ISO-3166 Alpha-2 format)",
                      "x-ms-summary": "Country Code"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the Project",
                      "x-ms-summary": "Description"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "Date that the contract for the project is signed.Format should be YYYY-MM-DDThh:mm:ss.sTZD (eg 2020-07-16T19:20:30.45+01:00)",
                      "x-ms-summary": "Start Date"
                    },
                    "completion_date": {
                      "type": "string",
                      "description": "Date that all parties agree the project meets.Format should be YYYY-MM-DDThh:mm:ss.sTZD (eg 2020-07-16T19:20:30.45+01:00)",
                      "x-ms-summary": "Completion Date"
                    },
                    "total_value": {
                      "type": "string",
                      "description": "Total amount of construction work performed, planned, or put in place during the project",
                      "x-ms-summary": "Total Value"
                    },
                    "warranty_start_date": {
                      "type": "string",
                      "description": "Warranty Start Date of the Project.Format should be YYYY-MM-DDThh:mm:ss.sTZD (eg 2020-07-16T19:20:30.45+01:00)",
                      "x-ms-summary": "Warranty Start Date"
                    },
                    "warranty_end_date": {
                      "type": "string",
                      "description": "Warranty End Date of the Project.Format should be YYYY-MM-DDThh:mm:ss.sTZD (eg 2020-07-16T19:20:30.45+01:00)",
                      "x-ms-summary": "Warranty End Date"
                    },
                    "flag": {
                      "type": "string",
                      "description": "Flag of the Project",
                      "x-ms-summary": "Flag Color",
                      "enum": [
                        "Red",
                        "Yellow",
                        "Green"
                      ]
                    },
                    "image_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ID of the Image of the Project",
                      "x-ms-summary": "Image ID"
                    },
                    "office_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ID of the Office of the Project",
                      "x-ms-summary": "Office ID"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Phone number of the Project",
                      "x-ms-summary": "Phone"
                    },
                    "project_number": {
                      "type": "string",
                      "description": "Number of the Project",
                      "x-ms-summary": "Project Number"
                    },
                    "public_notes": {
                      "type": "string",
                      "description": "Public Notes of the Project",
                      "x-ms-summary": "Public Notes"
                    },
                    "square_feet": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Square Footage of the Project",
                      "x-ms-summary": "Square Feet"
                    },
                    "state_code": {
                      "type": "string",
                      "description": "Code that represents the State of the Project (ISO-3166 Alpha-2 format)",
                      "x-ms-summary": "State Code"
                    },
                    "time_zone": {
                      "type": "string",
                      "description": "Timezone of the Project",
                      "x-ms-summary": "Time Zone"
                    },
                    "zip": {
                      "type": "string",
                      "description": "Zip code of the Project",
                      "x-ms-summary": "Zip"
                    },
                    "parent_job_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Parent Job ID of the Project",
                      "x-ms-summary": "Parent Job ID"
                    },
                    "program_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Program ID of the Project",
                      "x-ms-summary": "Program ID"
                    },
                    "project_bid_type_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project Bid Type ID of the Project",
                      "x-ms-summary": "Bid Type ID",
                      "x-ms-dynamic-list": {
                        "operationId": "Company-GetBidTypes",
                        "itemValuePath": "id",
                        "itemTitlePath": "name",
                        "parameters": {
                          "company_id": {
                            "parameterReference": "company_id"
                          }
                        }
                      },
                      "x-ms-dynamic-values": {
                        "operationId": "Company-GetBidTypes",
                        "value-path": "id",
                        "value-title": "name",
                        "parameters": {
                          "company_id": {
                            "parameter": "company_id"
                          }
                        }
                      }
                    },
                    "project_stage_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project Stage ID of the Project",
                      "x-ms-summary": "Stage ID",
                      "x-ms-dynamic-list": {
                        "operationId": "Company-GetProjectStages",
                        "itemValuePath": "id",
                        "itemTitlePath": "name",
                        "parameters": {
                          "company_id": {
                            "parameterReference": "company_id"
                          }
                        }
                      },
                      "x-ms-dynamic-values": {
                        "operationId": "Company-GetProjectStages",
                        "value-path": "id",
                        "value-title": "name",
                        "parameters": {
                          "company_id": {
                            "parameter": "company_id"
                          }
                        }
                      }
                    },
                    "project_type_id": {
                      "x-ms-visibility": "important",
                      "type": "integer",
                      "x-ms-summary": "Type ID",
                      "description": "Project Type ID of the Project",
                      "format": "int32",
                      "x-ms-dynamic-list": {
                        "operationId": "Company-GetProjectTypes",
                        "itemValuePath": "id",
                        "itemTitlePath": "name",
                        "parameters": {
                          "company_id": {
                            "parameterReference": "company_id"
                          }
                        }
                      },
                      "x-ms-dynamic-values": {
                        "operationId": "Company-GetProjectTypes",
                        "value-path": "id",
                        "value-title": "name",
                        "parameters": {
                          "company_id": {
                            "parameter": "company_id"
                          }
                        }
                      }
                    },
                    "project_owner_type_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project Owner Type ID of the Project",
                      "x-ms-summary": "Owner Type ID",
                      "x-ms-dynamic-list": {
                        "operationId": "Company-GetProjectOwnerTypes",
                        "itemValuePath": "id",
                        "itemTitlePath": "name",
                        "parameters": {
                          "company_id": {
                            "parameterReference": "company_id"
                          }
                        }
                      },
                      "x-ms-dynamic-values": {
                        "operationId": "Company-GetProjectOwnerTypes",
                        "value-path": "id",
                        "value-title": "name",
                        "parameters": {
                          "company_id": {
                            "parameter": "company_id"
                          }
                        }
                      }
                    },
                    "project_region_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Project Region ID of the Project",
                      "x-ms-summary": "Region ID of the Project",
                      "x-ms-dynamic-list": {
                        "operationId": "Company-GetProjectRegions",
                        "itemValuePath": "id",
                        "itemTitlePath": "name",
                        "parameters": {
                          "company_id": {
                            "parameterReference": "company_id"
                          }
                        }
                      },
                      "x-ms-dynamic-values": {
                        "operationId": "Company-GetProjectRegions",
                        "value-path": "id",
                        "value-title": "name",
                        "parameters": {
                          "company_id": {
                            "parameter": "company_id"
                          }
                        }
                      }
                    },
                    "project_template_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": " ID of the Project Template as designated by another Project on this company",
                      "x-ms-summary": "Project Template ID"
                    },
                    "origin_id": {
                      "type": "string",
                      "description": "Third-party ID of the Project",
                      "x-ms-summary": "Origin ID"
                    },
                    "origin_data": {
                      "type": "string",
                      "description": "Third-party Data of the Project",
                      "x-ms-summary": "Origin Data"
                    },
                    "origin_code": {
                      "type": "string",
                      "description": "Third-party Code of the Project",
                      "x-ms-summary": "Origin Code"
                    },
                    "department_ids": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "description": "department_ids"
                    },
                    "estimated_value": {
                      "type": "string",
                      "description": "Estimated Value of the project",
                      "x-ms-summary": "Estimated Value"
                    },
                    "estimated_start_date": {
                      "type": "string",
                      "description": "Estimated Start Date of the Project",
                      "x-ms-summary": "Estimated Start Date"
                    },
                    "estimated_completion_date": {
                      "type": "string",
                      "description": "Estimated Completion Date of the Project",
                      "x-ms-summary": "Estimated Completion Date"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "description": "project"
                }
              }
            }
          }
        ],
        "description": "Update an existing Project's information.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#projects---update-project"
        }
      }
    },
    "/{connectionId}/api/subscribe-events": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "company_id": {
                  "type": "integer",
                  "description": "Company ID",
                  "title": "Company Id"
                },
                "project_id": {
                  "type": "integer",
                  "description": "Project ID",
                  "title": "Project Id"
                },
                "hook": {
                  "type": "object",
                  "properties": {
                    "api_version": {
                      "type": "string"
                    },
                    "namespace": {
                      "type": "string"
                    },
                    "destination_url": {
                      "type": "string"
                    },
                    "destination_headers": {
                      "type": "object",
                      "properties": {
                        "Authorization": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "$ref": "#/responses/InvalidSubscription"
          }
        },
        "x-ms-trigger": "single",
        "tags": [
          "project",
          "event",
          "subscribe",
          "events"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/CompanyFromQuery"
          },
          {
            "$ref": "#/parameters/ProjectFromQuery"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Subscribe for Procore Events",
              "type": "object",
              "properties": {
                "resources": {
                  "type": "string",
                  "description": "Webhook Events to Listen - Enter each line or comma separated",
                  "title": "Webhook Events",
                  "default": "Coordination Issues,Drawing Areas,Drawing Sets,Drawing Uploads,Drawings,Markup Layers,Pdf Download Pages,Meeting Attendees,Meeting Categories,Meeting Topics,Meetings,Image Categories,Images,Tasks,ToDos,RFI Replies,RFIs,Specification Section Divisions,Specification Section Revisions,Specification Sections,Specification Sets,Submittals,Timecard Entries",
                  "x-ms-summary": "Webhook Events"
                },
                "event_type": {
                  "type": "string",
                  "description": "Event Type to listen",
                  "enum": [
                    "CREATE",
                    "UPDATE",
                    "DELETE"
                  ],
                  "title": "Event Type",
                  "x-ms-summary": "Event Type"
                },
                "namespace": {
                  "type": "string",
                  "description": "Unique Name for webhook (use alphabets. No special characters or spaces allowed)",
                  "default": "Unique Name for webhook (use alphabets. No special characters or spaces allowed)",
                  "title": "Webhook Unique Name",
                  "x-ms-summary": "Webhook Unique Name"
                },
                "webhook_url": {
                  "type": "string",
                  "description": "Webhook Url",
                  "x-ms-notification-url": true,
                  "title": "Webhook Url",
                  "default": "@{ListCallbackUrl()}",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "webhook_url",
                "event_type",
                "resources",
                "namespace"
              ]
            }
          }
        ],
        "summary": "Procore Webhook Trigger for any Events",
        "description": "Event Trigger - Triggers a callback notification based on the configured event",
        "operationId": "Trigger-SubscribeForEvents",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/fluidkinnectorzforpr/#procore-webhook-trigger-for-any-events"
        }
      },
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "api_version": {
              "type": "string",
              "description": "API Version",
              "title": "API Version"
            },
            "company_id": {
              "type": "integer",
              "description": "Company ID",
              "title": "Company ID"
            },
            "event_type": {
              "type": "string",
              "description": "Event type can be create,update or delete",
              "title": "Event Type"
            },
            "id": {
              "type": "integer",
[...]
