{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "PoliteMail",
    "description": "Measure results with powerful email metrics, including opens, read-time and click through rates plus valuable analytics to help you gain the insights you need to improve your communications.",
    "contact": {
      "url": "https://www.politemail.com",
      "email": "serversupport@politemail.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/politemail",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/odata/Businesses": {
      "get": {
        "tags": [
          "Businesses"
        ],
        "summary": "Get businesses",
        "description": "This action returns all businesses.",
        "operationId": "Businesses_GetBusinesses",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#get-businesses"
        }
      }
    },
    "/{connectionId}/odata/Regions": {
      "get": {
        "tags": [
          "Regions"
        ],
        "summary": "Get regions",
        "description": "This action returns all regions.",
        "operationId": "Regions_GetRegions",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#get-regions"
        }
      }
    },
    "/{connectionId}/odata/Campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get campaigns",
        "description": "This action returns all campaigns.",
        "operationId": "Campaigns_GetCampaigns",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Campaign"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#get-campaigns"
        }
      }
    },
    "/{connectionId}/odata/Lists({id})/Contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get contacts from a list",
        "description": "This action will retrieve all contacts from a list.",
        "operationId": "Contacts_GetContactsFromList",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "Select List",
            "x-ms-dynamic-values": {
              "operationId": "Lists_GetLists",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "value"
            },
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "x-ms-summary": "Expand",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Select",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Contact"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#get-contacts-from-a-list"
        }
      }
    },
    "/{connectionId}/odata/Contacts/NewContact": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a contact",
        "description": "This action will create a contact.",
        "operationId": "Contacts_NewContact",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "NewContact action parameters",
            "required": true,
            "schema": {
              "required": [
                "Email"
              ],
              "type": "object",
              "properties": {
                "FirstName": {
                  "type": "string"
                },
                "LastName": {
                  "type": "string"
                },
                "Email": {
                  "type": "string"
                },
                "OwnerID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Owner",
                  "x-ms-dynamic-values": {
                    "operationId": "UserProfiles_GetUserProfiles",
                    "value-path": "id",
                    "value-title": "email",
                    "value-collection": "value"
                  }
                },
                "Shared": {
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "BusinessID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Business",
                  "x-ms-dynamic-values": {
                    "operationId": "Businesses_GetBusinesses",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "RegionID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Region",
                  "x-ms-dynamic-values": {
                    "operationId": "Regions_GetRegions",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#create-a-contact"
        }
      }
    },
    "/{connectionId}/trigger/odata/Contacts/": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "When there is a new contact",
        "description": "Triggers when a new contact is created",
        "operationId": "OnNewContact",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Contact"
                  }
                }
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To trigger this, make a new contact in PoliteMail",
        "x-ms-dev-triggerType": "queryFilter",
        "x-ms-dev-queryfilterParamName": "$filter",
        "x-ms-dev-triggerValueCollection": "value",
        "x-ms-dev-triggerValuePath": "ID gt ",
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#when-there-is-a-new-contact"
        }
      }
    },
    "/{connectionId}/odata/Images/NewImage": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Upload an image",
        "description": "This action will upload an image to the PoliteMail server.",
        "operationId": "Images_NewImage",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "NewImage action parameters",
            "required": true,
            "schema": {
              "required": [
                "Data",
                "Name"
              ],
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "ContentType": {
                  "type": "string",
                  "x-ms-summary": "Content Type",
                  "x-ms-visibility": "advanced"
                },
                "Data": {
                  "format": "byte",
                  "type": "string"
                },
                "OwnerID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Owner",
                  "x-ms-dynamic-values": {
                    "operationId": "UserProfiles_GetUserProfiles",
                    "value-path": "id",
                    "value-title": "email",
                    "value-collection": "value"
                  }
                },
                "Shared": {
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "Privacy": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "BusinessID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Business",
                  "x-ms-dynamic-values": {
                    "operationId": "Businesses_GetBusinesses",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "RegionID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Region",
                  "x-ms-dynamic-values": {
                    "operationId": "Regions_GetRegions",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#upload-an-image"
        }
      }
    },
    "/{connectionId}/odata/Importances": {
      "get": {
        "tags": [
          "Importances"
        ],
        "summary": "Get importance",
        "description": "This action returns all importances.",
        "operationId": "Importances_GetImportances",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Importance"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#get-importance"
        }
      }
    },
    "/{connectionId}/odata/Sensitivities": {
      "get": {
        "tags": [
          "Sensitivities"
        ],
        "summary": "Get sensitivities",
        "description": "This action returns all sensitivities.",
        "operationId": "Sensitivities_GetSensitivities",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Sensitivity"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#get-sensitivities"
        }
      }
    },
    "/{connectionId}/odata/Lists": {
      "get": {
        "tags": [
          "Lists"
        ],
        "summary": "Get lists",
        "description": "This action returns all lists.",
        "operationId": "Lists_GetLists",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/List"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#get-lists"
        }
      }
    },
    "/{connectionId}/odata/Lists({id})/AddEmails": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Add emails to a list",
        "description": "This action allows you to add contacts to a PoliteMail list by email address.",
        "operationId": "Lists_AddEmailsById",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "Select List",
            "x-ms-dynamic-values": {
              "operationId": "Lists_GetLists",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "value"
            },
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "AddEmails action parameters",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#add-emails-to-a-list"
        }
      }
    },
    "/{connectionId}/odata/Lists({id})/RemoveEmails": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Remove emails from list",
        "description": "This action allows you to remove contacts from a PoliteMail list by email address.",
        "operationId": "Lists_RemoveEmailsById",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "key: id",
            "required": true,
            "x-ms-visibility": "important",
            "x-ms-summary": "Select List",
            "x-ms-dynamic-values": {
              "operationId": "Lists_GetLists",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "value"
            },
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "RemoveEmails action parameters",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#remove-emails-from-list"
        }
      }
    },
    "/{connectionId}/odata/Lists/NewList": {
      "post": {
        "tags": [
          "Lists"
        ],
        "summary": "Create a list",
        "description": "This action allows you to create a list.",
        "operationId": "Lists_NewList",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "NewList action parameters",
            "required": true,
            "schema": {
              "required": [
                "Name"
              ],
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "Description": {
                  "type": "string"
                },
                "OwnerID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Owner",
                  "x-ms-dynamic-values": {
                    "operationId": "UserProfiles_GetUserProfiles",
                    "value-path": "id",
                    "value-title": "email",
                    "value-collection": "value"
                  }
                },
                "Shared": {
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "BusinessID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Business",
                  "x-ms-dynamic-values": {
                    "operationId": "Businesses_GetBusinesses",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "RegionID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Region",
                  "x-ms-dynamic-values": {
                    "operationId": "Regions_GetRegions",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#create-a-list"
        }
      }
    },
    "/{connectionId}/odata/Templates/NewTemplate": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a template",
        "description": "This action allows you to create a template.",
        "operationId": "Templates_NewTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "NewTemplate action parameters",
            "required": true,
            "schema": {
              "required": [
                "BodyBinary",
                "Name"
              ],
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "Subject": {
                  "type": "string"
                },
                "Description": {
                  "type": "string"
                },
                "BodyBinary": {
                  "format": "byte",
                  "type": "string",
                  "x-ms-summary": "File"
                },
                "Body": {
                  "type": "string"
                },
                "OwnerID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Owner",
                  "x-ms-dynamic-values": {
                    "operationId": "UserProfiles_GetUserProfiles",
                    "value-path": "id",
                    "value-title": "email",
                    "value-collection": "value"
                  }
                },
                "Shared": {
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "BusinessID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Business",
                  "x-ms-dynamic-values": {
                    "operationId": "Businesses_GetBusinesses",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "RegionID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Region",
                  "x-ms-dynamic-values": {
                    "operationId": "Regions_GetRegions",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#create-a-template"
        }
      }
    },
    "/{connectionId}/odata/SentMessages/Send": {
      "post": {
        "tags": [
          "SentMessages"
        ],
        "summary": "Send a message",
        "description": "This allows you to send a tracked message using PoliteMail.",
        "operationId": "SentMessages_Send",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Send action parameters",
            "required": true,
            "schema": {
              "required": [
                "From",
                "To",
                "Body",
                "Subject"
              ],
              "type": "object",
              "properties": {
                "Campaign": {
                  "format": "int32",
                  "title": "Select Campaign",
                  "description": "Specify the campaign this message is a part of",
                  "type": "integer",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Select Campaign",
                  "x-ms-dynamic-values": {
                    "operationId": "Campaigns_GetCampaigns",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "To": {
                  "title": "",
                  "description": "Specify email addresses separated by semicolons",
                  "type": "string"
                },
                "Subject": {
                  "title": "",
                  "description": "Specify the subject of the mail",
                  "type": "string"
                },
                "Body": {
                  "title": "",
                  "description": "Specify the body of the mail",
                  "type": "string"
                },
                "From": {
                  "title": "From (Send as)",
                  "description": "First Last <first.last@politemail.com>",
                  "type": "string",
                  "x-ms-summary": "From (Send as)"
                },
                "CC": {
                  "title": "",
                  "description": "Specify email addresses separated by semicolons",
                  "type": "string"
                },
                "BCC": {
                  "title": "",
                  "description": "Specify email addresses separated by semicolons",
                  "type": "string"
                },
                "Importance": {
                  "format": "int32",
                  "title": "Importance",
                  "description": "Specify the message importance",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Importance",
                  "x-ms-dynamic-values": {
                    "operationId": "Importances_GetImportances",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "Sensitivity": {
                  "title": "Sensitivity",
                  "description": "Specify the message sensitivity",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Sensitivity",
                  "x-ms-dynamic-values": {
                    "operationId": "Sensitivities_GetSensitivities",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "IsHTML": {
                  "title": "Is HTML",
                  "type": "boolean",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Is HTML"
                },
                "SendMode": {
                  "format": "int32",
                  "title": "Send Mode",
                  "enum": [
                    1,
                    2,
                    3
                  ],
                  "default": 2,
                  "description": "Specify Send Mode for this message: 1-individual, 2-Anonymous, 3-Aggregate Modes",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Send Mode"
                },
                "SendLater": {
                  "format": "date-time",
                  "title": "Send Later",
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ (UTC format)",
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Send Later"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#send-a-message"
        }
      }
    },
    "/{connectionId}/odata/SmartAttachments/NewAttachment": {
      "post": {
        "tags": [
          "SmartAttachments"
        ],
        "summary": "Upload a SmartAttachment",
        "description": "This action allows you to upload a file as a Smart Attachment.",
        "operationId": "SmartAttachments_NewAttachment",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "NewAttachment action parameters",
            "required": true,
            "schema": {
              "required": [
                "Data",
                "Name"
              ],
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "ContentType": {
                  "type": "string"
                },
                "Data": {
                  "format": "byte",
                  "type": "string"
                },
                "OwnerID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Owner",
                  "x-ms-dynamic-values": {
                    "operationId": "UserProfiles_GetUserProfiles",
                    "value-path": "id",
                    "value-title": "email",
                    "value-collection": "value"
                  }
                },
                "Shared": {
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "Privacy": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "BusinessID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Business",
                  "x-ms-dynamic-values": {
                    "operationId": "Businesses_GetBusinesses",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "RegionID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Region",
                  "x-ms-dynamic-values": {
                    "operationId": "Regions_GetRegions",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#upload-a-smartattachment"
        }
      }
    },
    "/{connectionId}/odata/Campaigns/NewCampaign": {
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create a campaign",
        "description": "This action will create a Campaign.",
        "operationId": "Campaigns_NewCampaign",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "NewCampaign action parameters",
            "required": true,
            "schema": {
              "required": [
                "Name"
              ],
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string"
                },
                "Description": {
                  "type": "string"
                },
                "OwnerID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Owner",
                  "x-ms-dynamic-values": {
                    "operationId": "UserProfiles_GetUserProfiles",
                    "value-path": "id",
                    "value-title": "email",
                    "value-collection": "value"
                  }
                },
                "Shared": {
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "BusinessID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Business",
                  "x-ms-dynamic-values": {
                    "operationId": "Businesses_GetBusinesses",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                },
                "RegionID": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Select Region",
                  "x-ms-dynamic-values": {
                    "operationId": "Regions_GetRegions",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "value"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "odata.metadata": {
                  "type": "string"
                },
                "value": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#create-a-campaign"
        }
      }
    },
    "/{connectionId}/odata/UserProfiles": {
      "get": {
        "tags": [
          "UserProfiles"
        ],
        "summary": "Get owners",
        "description": "This action returns all owners.",
        "operationId": "UserProfiles_GetUserProfiles",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$count",
            "in": "query",
            "description": "Includes a count of the matching results in the response.",
            "required": false,
            "x-ms-visibility": "advanced",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/politemail/#get-owners"
        }
      }
    }
  },
  "definitions": {
    "Business": {
      "required": [
        "id",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Campaign": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "ownerID": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "shared": {
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "activeState": {
          "type": "boolean",
          "x-ms-visibility": "internal"
        },
        "businessID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "regionID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "sendMode": {
          "format": "double",
          "type": "number"
        },
        "characterCount": {
          "format": "double",
          "type": "number"
        },
        "paragraphCount": {
          "format": "double",
          "type": "number"
        },
        "sentenceCount": {
          "format": "double",
          "type": "number"
        },
        "sentencesPerParagraph": {
          "format": "double",
          "type": "number"
        },
        "wordCount": {
          "format": "double",
          "type": "number"
        },
        "wordsPerSentence": {
          "format": "double",
          "type": "number"
        },
        "charactersPerWord": {
          "format": "double",
          "type": "number"
        },
        "passiveSentences": {
          "format": "double",
          "type": "number"
        },
        "readingEase": {
          "format": "double",
          "type": "number"
        },
        "gradeLevel": {
          "format": "double",
          "type": "number"
        },
        "importance": {
          "format": "double",
          "type": "number"
        },
        "sensitivity": {
          "format": "double",
          "type": "number"
        },
        "imageCount": {
          "format": "double",
          "type": "number"
        },
        "imageArea": {
          "format": "double",
          "type": "number"
        },
        "sentVia": {
          "type": "boolean"
        },
        "aggregateSendCount": {
          "format": "double",
          "type": "number"
        },
        "avgReadTime": {
          "format": "double",
          "type": "number"
        },
        "avgReadTimeDesktop": {
          "format": "double",
          "type": "number"
        },
        "avgReadTimeMobile": {
          "format": "double",
          "type": "number"
        },
        "clickCount": {
          "format": "double",
          "type": "number"
        },
        "desktopClicks": {
          "format": "double",
          "type": "number"
        },
        "desktopOpens": {
          "format": "double",
          "type": "number"
        },
        "devices": {
          "format": "double",
          "type": "number"
        },
        "engagedReads": {
          "format": "double",
          "type": "number"
        },
        "firstSentDate": {
          "format": "date-time",
          "type": "string"
        },
        "forwards": {
          "format": "double",
          "type": "number"
        },
        "from": {
          "type": "string"
        },
        "ignored": {
          "format": "double",
          "type": "number"
        },
        "interactions": {
          "format": "double",
          "type": "number"
        },
        "linksClicked": {
          "format": "double",
          "type": "number"
        },
        "linksSent": {
          "format": "double",
          "type": "number"
        },
        "messages": {
          "format": "double",
          "type": "number"
        },
        "mobileOpens": {
          "format": "double",
          "type": "number"
        },
        "mobileClicks": {
          "format": "double",
          "type": "number"
        },
        "mobileUnique": {
          "format": "double",
          "type": "number"
        },
        "mostRecentOpenDate": {
          "format": "date-time",
          "type": "string"
        },
        "multipleOpens": {
          "format": "double",
          "type": "number"
        },
        "multipleResponses": {
          "format": "double",
          "type": "number"
        },
        "multipleClicks": {
          "format": "double",
          "type": "number"
        },
        "multipleReads": {
          "format": "double",
          "type": "number"
        },
        "newOpens": {
          "format": "double",
          "type": "number"
        },
        "nonUniqueClicks": {
          "format": "double",
          "type": "number"
        },
        "nonUniqueOpens": {
          "format": "double",
          "type": "number"
        },
        "oof": {
          "format": "double",
          "type": "number"
        },
        "openCount": {
          "format": "double",
          "type": "number"
        },
        "optOuts": {
          "format": "double",
          "type": "number"
        },
        "optIns": {
          "format": "double",
          "type": "number"
        },
        "readCount": {
          "format": "double",
          "type": "number"
        },
        "readRate": {
          "format": "double",
          "type": "number"
        },
        "recipients": {
          "format": "double",
          "type": "number"
        },
        "replies": {
          "format": "double",
          "type": "number"
        },
        "sent": {
          "format": "double",
          "type": "number"
        },
        "skimmed": {
          "format": "double",
          "type": "number"
        },
        "timeToRead": {
          "format": "double",
          "type": "number"
        },
        "to": {
          "type": "string"
        },
        "totalInteractions": {
          "format": "double",
          "type": "number"
        },
        "totalLinksSent": {
          "format": "double",
          "type": "number"
        },
        "totalLinksClicked": {
          "format": "double",
          "type": "number"
        },
        "undeliverables": {
          "format": "double",
          "type": "number"
        },
        "uniqueUrls": {
          "format": "double",
          "type": "number"
        },
        "uniqueUrlsClicked": {
          "format": "double",
          "type": "number"
        },
        "user": {
          "type": "string"
        },
        "useDevicesForRates": {
          "type": "boolean"
        },
        "reportRunDate": {
          "format": "date-time",
          "type": "string"
        },
        "openRate": {
          "format": "double",
          "type": "number"
        },
        "readsRate": {
          "format": "double",
          "type": "number"
        },
        "clickRate": {
          "format": "double",
          "type": "number"
        },
        "attentionRate": {
          "format": "double",
          "type": "number"
        },
        "effectiveRate": {
          "format": "double",
          "type": "number"
        },
        "engagementRate": {
          "format": "double",
          "type": "number"
        },
        "undeliverableRate": {
          "format": "double",
          "type": "number"
        },
        "oofRate": {
          "format": "double",
          "type": "number"
        },
        "optOutRate": {
          "format": "double",
          "type": "number"
        },
        "multipleOpenRate": {
          "format": "double",
          "type": "number"
        },
        "multipleReadRate": {
          "format": "double",
          "type": "number"
        },
        "contentUtilization": {
          "format": "double",
          "type": "number"
        },
        "engagedReadRate": {
          "format": "double",
          "type": "number"
        },
        "didntOpenRate": {
          "format": "double",
          "type": "number"
        },
        "ignoredRate": {
          "format": "double",
          "type": "number"
        },
        "didntClickRate": {
          "format": "double",
          "type": "number"
        },
        "skimmedRate": {
          "format": "double",
          "type": "number"
        },
        "forwardRate": {
          "format": "double",
          "type": "number"
        },
        "replyRate": {
          "format": "double",
          "type": "number"
        },
        "desktopDeviceSummary": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeviceCount"
          }
        },
        "mobileDeviceSummary": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeviceCount"
          }
        },
        "reports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Report"
          }
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Location"
          }
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Event"
          }
        },
        "hourOfDayReads": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HourOfDayRead"
          }
        }
      }
    },
    "Click": {
      "required": [
        "id",
        "ipAddress"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "linkID": {
          "format": "int32",
          "type": "integer"
        },
        "refID": {
          "format": "int32",
          "type": "integer"
        },
        "ownerID": {
          "format": "int32",
          "type": "integer"
        },
        "deviceID": {
          "format": "int32",
          "type": "integer"
        },
        "ipAddress": {
          "type": "string"
        },
        "userAgent": {
          "type": "string"
        },
        "browser": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "isMobile": {
          "type": "boolean"
        },
        "mobileDeviceManufacturer": {
          "type": "string"
        },
        "mobileDeviceModel": {
          "type": "string"
        },
        "latitude": {
          "format": "decimal",
          "type": "number"
        },
        "longitude": {
          "format": "decimal",
          "type": "number"
        },
        "browserLanguage": {
          "type": "string"
        },
        "fullUserAgent": {
          "type": "string"
        },
        "referrer": {
          "type": "string"
        },
        "clickDate": {
          "format": "date-time",
          "type": "string"
        },
        "actionUrl": {
          "type": "string"
        },
        "actionName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      }
    },
    "Contact": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "activeState": {
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "shared": {
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "ownerID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "categoryID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "stageID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "company": {
          "type": "string"
        },
        "webAddress": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "type": "string"
        },
        "fileAs": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "source": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "notes": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom1": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom2": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom3": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom4": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom5": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom6": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom7": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom8": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom9": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom10": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom11": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom12": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom13": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom14": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom15": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom16": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom17": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom18": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom19": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "custom20": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "businessID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "regionID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "lastChangedDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "listID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        }
      }
    },
    "ContactClick": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "clickCount": {
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "activeState": {
          "format": "int32",
          "type": "integer"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        },
        "ownerID": {
          "format": "int32",
          "type": "integer"
        },
        "categoryID": {
          "format": "int32",
          "type": "integer"
        },
        "stageID": {
          "format": "int32",
          "type": "integer"
        },
        "company": {
          "type": "string"
        },
        "webAddress": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "fileAs": {
          "type": "string"
        },
        "source": {
          "format": "int32",
          "type": "integer"
        },
        "notes": {
          "type": "string"
        },
        "custom1": {
          "type": "string"
        },
        "custom2": {
          "type": "string"
        },
        "custom3": {
          "type": "string"
        },
        "custom4": {
          "type": "string"
        },
        "custom5": {
          "type": "string"
        },
        "custom6": {
          "type": "string"
        },
        "custom7": {
          "type": "string"
        },
        "custom8": {
          "type": "string"
        },
        "custom9": {
          "type": "string"
        },
        "custom10": {
          "type": "string"
        },
        "custom11": {
          "type": "string"
        },
        "custom12": {
          "type": "string"
        },
        "custom13": {
          "type": "string"
        },
        "custom14": {
          "type": "string"
        },
        "custom15": {
          "type": "string"
        },
        "custom16": {
          "type": "string"
        },
        "custom17": {
          "type": "string"
        },
        "custom18": {
          "type": "string"
        },
        "custom19": {
          "type": "string"
        },
        "custom20": {
          "type": "string"
        },
        "businessID": {
          "format": "int32",
          "type": "integer"
        },
        "regionID": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ContactOptOut": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "optOutCount": {
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "activeState": {
          "format": "int32",
          "type": "integer"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        },
        "ownerID": {
          "format": "int32",
          "type": "integer"
        },
        "categoryID": {
          "format": "int32",
          "type": "integer"
        },
        "stageID": {
          "format": "int32",
          "type": "integer"
        },
        "company": {
          "type": "string"
        },
        "webAddress": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "fileAs": {
          "type": "string"
        },
        "source": {
          "format": "int32",
          "type": "integer"
        },
        "notes": {
          "type": "string"
        },
        "custom1": {
          "type": "string"
        },
        "custom2": {
          "type": "string"
        },
        "custom3": {
          "type": "string"
        },
        "custom4": {
          "type": "string"
        },
        "custom5": {
          "type": "string"
        },
        "custom6": {
          "type": "string"
        },
        "custom7": {
          "type": "string"
        },
        "custom8": {
          "type": "string"
        },
        "custom9": {
          "type": "string"
        },
        "custom10": {
          "type": "string"
        },
        "custom11": {
          "type": "string"
        },
        "custom12": {
          "type": "string"
        },
        "custom13": {
          "type": "string"
        },
        "custom14": {
          "type": "string"
        },
        "custom15": {
          "type": "string"
        },
        "custom16": {
          "type": "string"
        },
        "custom17": {
          "type": "string"
        },
        "custom18": {
          "type": "string"
        },
        "custom19": {
          "type": "string"
        },
        "custom20": {
          "type": "string"
        },
        "businessID": {
          "format": "int32",
          "type": "integer"
        },
        "regionID": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ContactOutOfOffice": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "outOfOfficeCount": {
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "activeState": {
          "format": "int32",
          "type": "integer"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        },
        "ownerID": {
          "format": "int32",
          "type": "integer"
        },
        "categoryID": {
          "format": "int32",
          "type": "integer"
        },
        "stageID": {
          "format": "int32",
          "type": "integer"
        },
        "company": {
          "type": "string"
        },
        "webAddress": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "fileAs": {
          "type": "string"
        },
        "source": {
          "format": "int32",
          "type": "integer"
        },
        "notes": {
          "type": "string"
        },
        "custom1": {
          "type": "string"
        },
        "custom2": {
          "type": "string"
        },
        "custom3": {
          "type": "string"
        },
        "custom4": {
          "type": "string"
        },
        "custom5": {
          "type": "string"
        },
        "custom6": {
          "type": "string"
        },
        "custom7": {
          "type": "string"
        },
        "custom8": {
          "type": "string"
        },
        "custom9": {
          "type": "string"
        },
        "custom10": {
          "type": "string"
        },
        "custom11": {
          "type": "string"
        },
        "custom12": {
          "type": "string"
        },
        "custom13": {
          "type": "string"
        },
        "custom14": {
          "type": "string"
        },
        "custom15": {
          "type": "string"
        },
        "custom16": {
          "type": "string"
        },
        "custom17": {
          "type": "string"
        },
        "custom18": {
          "type": "string"
        },
        "custom19": {
          "type": "string"
        },
        "custom20": {
          "type": "string"
        },
        "businessID": {
          "format": "int32",
          "type": "integer"
        },
        "regionID": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ContactRead": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "timeRead": {
          "format": "decimal",
          "type": "number"
        },
        "openCount": {
          "format": "int32",
          "type": "integer"
        },
        "deviceCount": {
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "activeState": {
          "format": "int32",
          "type": "integer"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        },
        "ownerID": {
          "format": "int32",
          "type": "integer"
        },
        "categoryID": {
          "format": "int32",
          "type": "integer"
        },
        "stageID": {
          "format": "int32",
          "type": "integer"
        },
        "company": {
          "type": "string"
        },
        "webAddress": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "fileAs": {
          "type": "string"
        },
        "source": {
          "format": "int32",
          "type": "integer"
        },
        "notes": {
          "type": "string"
        },
        "custom1": {
          "type": "string"
        },
        "custom2": {
          "type": "string"
        },
        "custom3": {
          "type": "string"
        },
        "custom4": {
          "type": "string"
        },
        "custom5": {
          "type": "string"
        },
        "custom6": {
          "type": "string"
        },
        "custom7": {
          "type": "string"
        },
        "custom8": {
          "type": "string"
        },
        "custom9": {
          "type": "string"
        },
        "custom10": {
          "type": "string"
        },
        "custom11": {
          "type": "string"
        },
        "custom12": {
          "type": "string"
        },
        "custom13": {
          "type": "string"
        },
        "custom14": {
          "type": "string"
        },
        "custom15": {
          "type": "string"
        },
        "custom16": {
          "type": "string"
        },
        "custom17": {
          "type": "string"
        },
        "custom18": {
          "type": "string"
        },
        "custom19": {
          "type": "string"
        },
        "custom20": {
          "type": "string"
        },
        "businessID": {
          "format": "int32",
          "type": "integer"
        },
        "regionID": {
          "format": "int32",
          "type": "integer"
        },
        "isMobile": {
          "type": "boolean"
        }
      }
    },
    "ContactReply": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "replyCount": {
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "activeState": {
          "format": "int32",
          "type": "integer"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        },
        "ownerID": {
          "format": "int32",
          "type": "integer"
        },
        "categoryID": {
          "format": "int32",
          "type": "integer"
        },
        "stageID": {
          "format": "int32",
          "type": "integer"
        },
        "company": {
          "type": "string"
        },
        "webAddress": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "fileAs": {
          "type": "string"
        },
        "source": {
          "format": "int32",
          "type": "integer"
        },
        "notes": {
          "type": "string"
        },
        "custom1": {
          "type": "string"
        },
        "custom2": {
          "type": "string"
        },
        "custom3": {
          "type": "string"
        },
        "custom4": {
          "type": "string"
        },
        "custom5": {
          "type": "string"
        },
        "custom6": {
          "type": "string"
        },
        "custom7": {
          "type": "string"
        },
        "custom8": {
          "type": "string"
        },
        "custom9": {
          "type": "string"
        },
        "custom10": {
          "type": "string"
        },
        "custom11": {
          "type": "string"
        },
        "custom12": {
          "type": "string"
        },
        "custom13": {
          "type": "string"
        },
        "custom14": {
          "type": "string"
        },
        "custom15": {
          "type": "string"
        },
        "custom16": {
          "type": "string"
        },
        "custom17": {
          "type": "string"
        },
        "custom18": {
          "type": "string"
        },
        "custom19": {
          "type": "string"
        },
        "custom20": {
          "type": "string"
        },
        "businessID": {
          "format": "int32",
          "type": "integer"
        },
        "regionID": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ContactUndeliverable": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "undeliverableCount": {
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "activeState": {
          "format": "int32",
          "type": "integer"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string"
        },
        "shared": {
          "type": "boolean"
        },
        "ownerID": {
          "format": "int32",
          "type": "integer"
        },
        "categoryID": {
          "format": "int32",
          "type": "integer"
        },
        "stageID": {
          "format": "int32",
          "type": "integer"
        },
        "company": {
          "type": "string"
        },
        "webAddress": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "fileAs": {
          "type": "string"
        },
        "source": {
          "format": "int32",
          "type": "integer"
        },
        "notes": {
          "type": "string"
        },
        "custom1": {
          "type": "string"
        },
        "custom2": {
          "type": "string"
        },
        "custom3": {
          "type": "string"
        },
        "custom4": {
          "type": "string"
        },
        "custom5": {
          "type": "string"
        },
        "custom6": {
          "type": "string"
        },
        "custom7": {
          "type": "string"
        },
        "custom8": {
          "type": "string"
        },
        "custom9": {
          "type": "string"
        },
        "custom10": {
          "type": "string"
        },
        "custom11": {
          "type": "string"
        },
        "custom12": {
          "type": "string"
        },
        "custom13": {
          "type": "string"
        },
        "custom14": {
          "type": "string"
        },
        "custom15": {
          "type": "string"
        },
        "custom16": {
          "type": "string"
        },
        "custom17": {
          "type": "string"
        },
        "custom18": {
          "type": "string"
        },
        "custom19": {
          "type": "string"
        },
        "custom20": {
          "type": "string"
        },
        "businessID": {
          "format": "int32",
          "type": "integer"
        },
        "regionID": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DeviceCount": {
      "required": [
        "id",
        "name",
        "count"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "count": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        }
      }
    },
    "Event": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "openCount": {
          "format": "int32",
          "type": "integer"
        },
        "clickCount": {
          "format": "int32",
          "type": "integer"
        },
        "eventDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "HourOfDayRead": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "hour": {
          "format": "date-time",
          "type": "string"
        },
        "timeRead": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Image": {
      "required": [
        "activeState",
        "id",
        "ownerID",
        "shared",
        "size"
      ],
      "type": "object",
      "properties": {
        "activeState": {
          "format": "int32",
          "maximum": 32767,
          "minimum": 0,
          "type": "integer"
        },
        "contentType": {
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "data": {
          "format": "byte",
          "type": "string"
        },
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string"
        },
        "ownerID": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "shared": {
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "size": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "url": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "businessID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "regionID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Importance": {
      "required": [
        "id",
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "List": {
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "ownerID": {
          "format": "int32",
          "maximum": 2147483647,
          "minimum": 0,
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "memberCount": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "isNewsletter": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "shared": {
          "type": "boolean",
          "x-ms-visibility": "advanced"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "activeState": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "internal"
        },
        "isAnonymous": {
          "type": "boolean",
          "x-ms-visibility": "internal"
        },
        "guid": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "businessID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "regionID": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "sendMode": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "characterCount": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "paragraphCount": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "sentenceCount": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "sentencesPerParagraph": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "wordCount": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "wordsPerSentence": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "charactersPerWord": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "passiveSentences": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "readingEase": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "gradeLevel": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "importance": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "sensitivity": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "imageCount": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "imageArea": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "sentVia": {
          "type": "boolean",
          "x-ms-visibility": "internal"
        },
        "aggregateSendCount": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "avgReadTime": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "avgReadTimeDesktop": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "avgReadTimeMobile": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "clickCount": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "desktopClicks": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "desktopOpens": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "devices": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "engagedReads": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "firstSentDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "forwards": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "from": {
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "ignored": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "interactions": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "linksClicked": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "linksSent": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "messages": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "mobileOpens": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "mobileClicks": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "mobileUnique": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "mostRecentOpenDate": {
          "format": "date-time",
          "type": "string",
          "x-ms-visibility": "internal"
        },
        "multipleOpens": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "multipleResponses": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "multipleClicks": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "multipleReads": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "newOpens": {
          "format": "double",
          "type": "number",
          "x-ms-visibility": "internal"
        },
        "nonUniqueClicks": {
[...]
