{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Xooa Blockchain Database",
    "description": "Xooa makes it easy to use blockchain by eliminating common barriers. By gaining an enterprise blockchain platform, you can start leveraging the capabilities of blockchain almost instantly. The Xooa Ledger Database (XLDB) allows you to use blockchain like a simple database. Storing, retrieving, and querying entries without needing to write a smart contract. All you need is a Xooa account. This connector completes the picture by providing access to this database. The current state of a given entry is represented by the World State (a NoSQL database). Because blockchain is append only, the transactions that led to the current state of the entry are stored in the ledger. An entry must take the form of key-value pair where the key uniquely identifies the entry and value can take the form of a JSON object.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "email": "support@xooa.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/xooablockchain",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/xldb/create": {
      "post": {
        "summary": "Create an entry in the database",
        "description": "Create a key-value entry. Function will fail if the key already exists. If you want to update an entry (the key exists), use Update; if you want to create or update use CreateUpdate.",
        "operationId": "Create",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "async",
            "in": "query",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "required": false,
            "x-ms-summary": "Asynchronous call indicator",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout waiting on a response from a synchronous call (async false).A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "required": false,
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "default": 5000
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooablockchain/#create-an-entry-in-the-database"
        }
      }
    },
    "/{connectionId}/xldb/createupdate": {
      "post": {
        "summary": "Create or Update a document",
        "description": "If the key does not already exist, creates a new key-value entry, else updates the value of an existing entry.",
        "operationId": "CreateUpdate",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "async",
            "in": "query",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "required": false,
            "x-ms-summary": "Asynchronous call indicator",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout waiting on a response from a synchronous call (async false).A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "required": false,
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "default": 5000
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "202": {
            "description": "Queued for processing",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooablockchain/#create-or-update-a-document"
        }
      }
    },
    "/{connectionId}/xldb/update": {
      "post": {
        "summary": "Updates a document",
        "description": "Updates an entry with agiven key. If an existing entry is not found, the request fails.",
        "operationId": "Update",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "async",
            "in": "query",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "required": false,
            "x-ms-summary": "Asynchronous call indicator",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout waiting on a response from a synchronous call (async false).A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "required": false,
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "default": 5000
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "202": {
            "description": "Queued for processing",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooablockchain/#updates-a-document"
        }
      }
    },
    "/{connectionId}/xldb/get": {
      "get": {
        "summary": "Get the states of entries",
        "description": "Gives the current state of a given list of entries",
        "operationId": "Get",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Comma separated list of keys.",
            "required": true,
            "x-ms-summary": "Keys of the requested entries.",
            "type": "string"
          },
          {
            "name": "async",
            "in": "query",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "required": false,
            "x-ms-summary": "Asynchronous call indicator",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout waiting on a response from a synchronous call (async false).A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "required": false,
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "default": 5000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "202": {
            "description": "Queued for processing",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooablockchain/#get-the-states-of-entries"
        }
      }
    },
    "/{connectionId}/xldb/history": {
      "get": {
        "summary": "History for a key",
        "description": "Get the transaction history for an entry specified by the given key. Can be used to find deleted entries (through their transaction history).",
        "operationId": "History",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "key",
            "in": "query",
            "description": "The key of the entry for which transaction history is required.",
            "required": true,
            "x-ms-summary": "The entry’s key.",
            "type": "string"
          },
          {
            "name": "async",
            "in": "query",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "required": false,
            "x-ms-summary": "Asynchronous call indicator",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout waiting on a response from a synchronous call (async false).A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "required": false,
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "default": 5000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "202": {
            "description": "Queued for processing",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooablockchain/#history-for-a-key"
        }
      }
    },
    "/{connectionId}/xldb/query": {
      "get": {
        "summary": "Query based on selection criteria",
        "description": "Query the database and return entries matching the selection criteria given by the selector.",
        "operationId": "Query",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "selector",
            "in": "query",
            "description": "This is the criteria for querying the values of entries. For example: {'Make.Model':'3', 'Cost':{'$gt':150}}",
            "required": false,
            "x-ms-summary": "Selection criteria for querying.",
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "List of fields that need to be returned. If empty, all fields for a given entry will be retrieved.",
            "required": false,
            "x-ms-summary": "List of fields.",
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of entries that can be retrieved.",
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Maximum number of entries.",
            "type": "integer",
            "default": 10
          },
          {
            "name": "async",
            "in": "query",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "required": false,
            "x-ms-summary": "Asynchronous call indicator",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout waiting on a response from a synchronous call (async false).A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "required": false,
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "default": 5000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "202": {
            "description": "Queued for processing",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooablockchain/#query-based-on-selection-criteria"
        }
      }
    },
    "/{connectionId}/xldb/delete": {
      "delete": {
        "summary": "Deletes an entry",
        "description": "Creates a transaction to delete an entry with agiven key. The entry’s state no longer appears but the transactions that have updated the entry, including a transaction for the deletion is always kept and never deleted from the ledger.",
        "operationId": "Delete",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Comma separated list of all the keys or entries to be marked as deleted.",
            "required": true,
            "x-ms-summary": "List of keys.",
            "type": "string"
          },
          {
            "name": "async",
            "in": "query",
            "description": "Specifies whether to perform the call asynchronously (default is false).",
            "required": false,
            "x-ms-summary": "Asynchronous call indicator",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": false
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Timeout waiting on a response from a synchronous call (async false).A 202 Pending Transaction Response with the URL to retrieve appears if the timeout value is exceeded. Default timeout value is 5000ms.",
            "required": false,
            "x-ms-summary": "Timeout (synchronous calls only)",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "default": 5000
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "202": {
            "description": "Queued for processing",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/xooablockchain/#deletes-an-entry"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://xooa.com/blockchain"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://xooa.com/XooaPrivacyPolicy.htm"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/xooablockchain"
  }
}
