{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Teamwork Projects",
    "description": "Keep all your team's tasks in one place. Collaborate and work in real time for real results. Teamwork Projects is a powerful and simple way to collaborate with your team.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/webhook1/webhooks.json": {
      "post": {
        "summary": "When a project is created",
        "description": "This operation triggers when a new project is created.",
        "operationId": "WebhookCreateProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookCreateProjectRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create a project.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#when-a-project-is-created"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/ProjectResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/webhook2/webhooks.json": {
      "post": {
        "summary": "When a task is created",
        "description": "This operation triggers when a new task is created.",
        "operationId": "WebhookCreateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookCreateTaskRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create a task.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#when-a-task-is-created"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/TaskResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/webhook3/webhooks.json": {
      "post": {
        "summary": "When a user is created",
        "description": "This operation triggers when a new user is created.",
        "operationId": "WebhookCreateUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookCreateUserRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, create a user.",
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#when-a-user-is-created"
        }
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/UserResponse"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/webhooks/{hookId}.json": {
      "delete": {
        "summary": "Delete webhook",
        "description": "Delete a webhook.",
        "operationId": "DeleteHook",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#delete-webhook"
        }
      }
    },
    "/{connectionId}/projects.json": {
      "get": {
        "summary": "List projects",
        "description": "This operation returns a list of all projects associated with your account.",
        "operationId": "ListProjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjects_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#list-projects"
        }
      },
      "post": {
        "summary": "Create project",
        "description": "This operation is used to create a new Teamwork project.",
        "operationId": "CreateProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProject_Request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CreateProject_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#create-project"
        }
      }
    },
    "/{connectionId}/projects/{projectId}.json": {
      "get": {
        "summary": "Get project",
        "description": "This operation returns all properties asosciated with a specific project, given its id.",
        "operationId": "GetProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Project Id",
            "description": "Unique id of the project.",
            "x-ms-test-value": "182749",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetProject_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#get-project"
        }
      }
    },
    "/{connectionId}/tasklists/{taskListId}/tasks.json": {
      "get": {
        "summary": "List tasks",
        "description": "This operation is used to return a list of tasks for a given project.",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_query"
          },
          {
            "$ref": "#/parameters/taskListId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasks_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#list-tasks"
        }
      },
      "post": {
        "summary": "Create task",
        "description": "This operation is used to create a new task.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_query"
          },
          {
            "$ref": "#/parameters/taskListId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTask_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/UpsertTask_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#create-task"
        }
      }
    },
    "/{connectionId}/tasks/{taskId}.json": {
      "get": {
        "summary": "Get task",
        "description": "This operation returns all properties asosciated with a specific task, given its id.",
        "operationId": "GetTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/taskId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTask_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#get-task"
        }
      },
      "put": {
        "summary": "Update task",
        "description": "This operation is used to update the properties of a specific task.",
        "operationId": "UpdateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/taskId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTask_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UpsertTask_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#update-task"
        }
      },
      "delete": {
        "summary": "Delete task",
        "description": "This operation is used to delete a task.",
        "operationId": "DeleteTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/taskId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeleteTask_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#delete-task"
        }
      }
    },
    "/{connectionId}/projects/{projectId}/people.json": {
      "get": {
        "summary": "List users",
        "description": "This operation returns a list of all users asosciated with a specific project.",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsers_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#list-users"
        }
      }
    },
    "/{connectionId}/people.json": {
      "post": {
        "summary": "Create user",
        "description": "This operation is used to create a new user.",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateUser_Request"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CreateUser_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#create-user"
        }
      }
    },
    "/{connectionId}/people/{personId}.json": {
      "get": {
        "summary": "Get user",
        "description": "This operation is used to get all details of a user.",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "personId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Person Id",
            "description": "Unique id of the person.",
            "x-ms-test-value": "124439",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetUser_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#get-user"
        }
      }
    },
    "/{connectionId}/projects/{projectId}/tasklists.json": {
      "get": {
        "summary": "Get task lists",
        "description": "This operation returns a list of all task lists.",
        "operationId": "ListTaskLists",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/projectId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTaskLists_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#get-task-lists"
        }
      }
    },
    "/{connectionId}/companies.json": {
      "get": {
        "summary": "List companies",
        "description": "List companies",
        "operationId": "ListCompanies",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCompanies_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#list-companies"
        }
      }
    },
    "/{connectionId}/projectCategories.json": {
      "get": {
        "summary": "List project categories",
        "description": "List project categories",
        "operationId": "ListProjectCategories",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectCategories_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/teamwork/#list-project-categories"
        }
      }
    },
    "/whr": {
      "post": {
        "operationId": "WebhookResponse",
        "parameters": [],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    }
  },
  "definitions": {
    "WebhookCreateProjectRequest": {
      "required": [
        "STATUS",
        "webhook"
      ],
      "type": "object",
      "properties": {
        "STATUS": {
          "description": "STATUS",
          "default": "OK",
          "type": "string",
          "x-ms-summary": "STATUS",
          "x-ms-visibility": "internal"
        },
        "webhook": {
          "description": "webhook",
          "required": [
            "event",
            "status",
            "url"
          ],
          "type": "object",
          "properties": {
            "event": {
              "description": "event",
              "default": "PROJECT.CREATED",
              "type": "string",
              "x-ms-summary": "event",
              "x-ms-visibility": "internal"
            },
            "status": {
              "description": "status",
              "default": "ACTIVE",
              "type": "string",
              "x-ms-summary": "status",
              "x-ms-visibility": "internal"
            },
            "url": {
              "description": "url",
              "type": "string",
              "x-ms-summary": "url",
              "x-ms-visibility": "internal",
              "x-ms-notification-url": true
            }
          }
        }
      }
    },
    "WebhookCreateTaskRequest": {
      "required": [
        "STATUS",
        "webhook"
      ],
      "type": "object",
      "properties": {
        "STATUS": {
          "description": "STATUS",
          "default": "OK",
          "type": "string",
          "x-ms-summary": "STATUS",
          "x-ms-visibility": "internal"
        },
        "webhook": {
          "description": "webhook",
          "required": [
            "event",
            "status",
            "url"
          ],
          "type": "object",
          "properties": {
            "event": {
              "description": "event",
              "default": "TASK.CREATED",
              "type": "string",
              "x-ms-summary": "event",
              "x-ms-visibility": "internal"
            },
            "status": {
              "description": "status",
              "default": "ACTIVE",
              "type": "string",
              "x-ms-summary": "status",
              "x-ms-visibility": "internal"
            },
            "url": {
              "description": "url",
              "type": "string",
              "x-ms-summary": "url",
              "x-ms-visibility": "internal",
              "x-ms-notification-url": true
            }
          }
        }
      }
    },
    "WebhookCreateUserRequest": {
      "required": [
        "STATUS",
        "webhook"
      ],
      "type": "object",
      "properties": {
        "STATUS": {
          "description": "STATUS",
          "default": "OK",
          "type": "string",
          "x-ms-summary": "STATUS",
          "x-ms-visibility": "internal"
        },
        "webhook": {
          "description": "webhook",
          "required": [
            "event",
            "status",
            "url"
          ],
          "type": "object",
          "properties": {
            "event": {
              "description": "event",
              "default": "USER.CREATED",
              "type": "string",
              "x-ms-summary": "event",
              "x-ms-visibility": "internal"
            },
            "status": {
              "description": "status",
              "default": "ACTIVE",
              "type": "string",
              "x-ms-summary": "status",
              "x-ms-visibility": "internal"
            },
            "url": {
              "description": "url",
              "type": "string",
              "x-ms-summary": "url",
              "x-ms-visibility": "internal",
              "x-ms-notification-url": true
            }
          }
        }
      }
    },
    "ProjectResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "Unique identifier of the project.",
          "type": "string",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TaskResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "Unique identifier of the task.",
          "type": "string",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "description": "Unique identifier of the user.",
          "type": "string",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CreateProject_Request": {
      "required": [
        "project"
      ],
      "type": "object",
      "properties": {
        "project": {
          "required": [
            "name"
          ],
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "description": "Project name.",
              "x-ms-visibility": "important"
            },
            "description": {
              "type": "string",
              "x-ms-summary": "Description",
              "description": "More details about the project.",
              "x-ms-visibility": "important"
            },
            "category-id": {
              "type": "string",
              "x-ms-summary": "Category Id",
              "description": "Pick a category",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListProjectCategories",
                "value-collection": "categories",
                "value-path": "id",
                "value-title": "name"
              }
            },
            "companyId": {
              "type": "string",
              "x-ms-summary": "Company Id",
              "description": "Pick an existing company.",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListCompanies",
                "value-collection": "companies",
                "value-path": "id",
                "value-title": "name"
              }
            },
            "newCompany": {
              "description": "Enter the name of a new external company.",
              "type": "string",
              "x-ms-summary": "New Company",
              "x-ms-visibility": "advanced"
            },
            "startDate": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Start Date",
              "x-ms-visibility": "advanced"
            },
            "endDate": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "End Date",
              "x-ms-visibility": "advanced"
            },
            "tags": {
              "description": "A comma separated list of tags for the project.",
              "type": "string",
              "x-ms-summary": "Tags",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "project": {
          "name": "New Project"
        }
      }
    },
    "CreateTask_Request": {
      "type": "object",
      "required": [
        "todo-item"
      ],
      "properties": {
        "todo-item": {
          "type": "object",
          "required": [
            "content"
          ],
          "properties": {
            "content": {
              "description": "Task title.",
              "type": "string",
              "x-ms-summary": "Name"
            },
            "description": {
              "description": "Details of the task.",
              "type": "string",
              "x-ms-summary": "Description"
            },
            "progress": {
              "description": "Set the progress from 0 to 90.",
              "type": "string",
              "x-ms-summary": "Progress",
              "x-ms-visibility": "advanced"
            },
            "responsible-party-id": {
              "description": "Pick a user.",
              "type": "string",
              "x-ms-summary": "Assign To",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListUsers",
                "value-collection": "people",
                "value-path": "id",
                "value-title": "user-name",
                "parameters": {
                  "projectId": {
                    "parameter": "projectId"
                  }
                }
              }
            },
            "start-date": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Start Date",
              "x-ms-visibility": "advanced"
            },
            "due-date": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "advanced"
            },
            "estimated-minutes": {
              "description": "For a task to complete.",
              "type": "string",
              "x-ms-summary": "Estimated minutes",
              "x-ms-visibility": "advanced"
            },
            "priority": {
              "type": "string",
              "x-ms-summary": "Priority",
              "description": "Pick a priority.",
              "x-ms-visibility": "advanced",
              "enum": [
                "not set",
                "low",
                "medium",
                "high"
              ]
            },
            "notify": {
              "description": "True to notify people assigned to this task by email.",
              "type": "boolean",
              "x-ms-summary": "Notify People"
            },
            "private": {
              "description": "True to make task private.",
              "type": "boolean",
              "x-ms-summary": "Is Private",
              "x-ms-visibility": "advanced"
            },
            "tags": {
              "description": "A comma separated list of tags for the task.",
              "type": "string",
              "x-ms-summary": "Tags",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "todo-item": {
          "content": "Test Task"
        }
      }
    },
    "UpdateTask_Request": {
      "type": "object",
      "properties": {
        "todo-item": {
          "description": "Details of the specific task.",
          "type": "object",
          "properties": {
            "content": {
              "description": "Task name.",
              "type": "string",
              "x-ms-summary": "Name"
            },
            "description": {
              "description": "Task description.",
              "type": "string",
              "x-ms-summary": "Description"
            },
            "progress": {
              "description": "Integer from 0 to 90.",
              "type": "string",
              "x-ms-summary": "Progress",
              "x-ms-visibility": "advanced"
            },
            "responsible-party-id": {
              "description": "Pick a person.",
              "type": "string",
              "x-ms-summary": "Assign to",
              "x-ms-visibility": "advanced"
            },
            "start-date": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Start Date",
              "x-ms-visibility": "advanced"
            },
            "due-date": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "advanced"
            },
            "estimated-minutes": {
              "description": "Minutes to complete the task.",
              "type": "string",
              "x-ms-summary": "Estimated time",
              "x-ms-visibility": "advanced"
            },
            "priority": {
              "type": "string",
              "x-ms-summary": "Priority",
              "description": "Pick a priority.",
              "enum": [
                "not set",
                "low",
                "medium",
                "high"
              ]
            },
            "notify": {
              "description": "True to notify people assigned to this task by email.",
              "type": "boolean",
              "x-ms-summary": "Notify People",
              "x-ms-visibility": "advanced"
            },
            "private": {
              "description": "True to make task private.",
              "type": "boolean",
              "x-ms-summary": "Is Private",
              "x-ms-visibility": "advanced"
            },
            "tags": {
              "description": "A comma separated list of tags for the task.",
              "type": "string",
              "x-ms-summary": "Tags",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "todo-item": {
          "content": "Test Task"
        }
      }
    },
    "CreateUser_Request": {
      "required": [
        "person"
      ],
      "type": "object",
      "properties": {
        "person": {
          "required": [
            "user-name",
            "email-address",
            "first-name",
            "last-name"
          ],
          "type": "object",
          "properties": {
            "email-address": {
              "type": "string",
              "x-ms-summary": "Email Address",
              "description": "User's email.",
              "x-ms-visibility": "important"
            },
            "first-name": {
              "type": "string",
              "x-ms-summary": "First Name",
              "description": "User's first name.",
              "x-ms-visibility": "important"
            },
            "last-name": {
              "type": "string",
              "x-ms-summary": "Last Name",
              "description": "User's last name.",
              "x-ms-visibility": "important"
            },
            "company-id": {
              "type": "string",
              "x-ms-summary": "Company Id",
              "description": "User's company.",
              "x-ms-visibility": "advanced"
            },
            "title": {
              "type": "string",
              "x-ms-summary": "Job Title",
              "description": "User's title.",
              "x-ms-visibility": "advanced"
            },
            "phone-number-home": {
              "type": "string",
              "x-ms-summary": "Home",
              "description": "User's home phone.",
              "x-ms-visibility": "advanced"
            },
            "phone-number-mobile": {
              "type": "string",
              "x-ms-summary": "Mobile",
              "description": "User's mobile phone.",
              "x-ms-visibility": "advanced"
            },
            "phone-number-office": {
              "type": "string",
              "x-ms-summary": "Office",
              "description": "User's office phone.",
              "x-ms-visibility": "advanced"
            },
            "phone-number-office-ext": {
              "type": "string",
              "x-ms-summary": "Office Extension",
              "description": "User's office phone extension.",
              "x-ms-visibility": "advanced"
            },
            "phone-number-fax": {
              "type": "string",
              "x-ms-summary": "Fax",
              "description": "User's fax number.",
              "x-ms-visibility": "advanced"
            },
            "user-name": {
              "type": "string",
              "x-ms-summary": "Username",
              "description": "Display name of the user.",
              "x-ms-visibility": "important"
            }
          }
        }
      },
      "x-ms-test-value": {
        "person": {
          "user-name": "testuser",
          "email-address": "test@test.com",
          "first-name": "first",
          "last-name": "last"
        }
      }
    },
    "CreateProject_Response": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Project Id",
          "description": "Unique id of the project.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListProjects_Response": {
      "type": "object",
      "properties": {
        "projects": {
          "description": "Array of all projects asosciated with your account.",
          "x-ms-summary": "Projects List",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Project_Response"
          }
        }
      }
    },
    "GetProject_Response": {
      "type": "object",
      "properties": {
        "project": {
          "$ref": "#/definitions/Project_Response"
        }
      }
    },
    "Project_Response": {
      "type": "object",
      "properties": {
        "category": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Unique id of the project category.",
              "type": "string",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the project category.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Category",
          "x-ms-visibility": "advanced"
        },
        "company": {
          "type": "object",
          "properties": {
            "id": {
              "description": "Unique id of the company.",
              "type": "string",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the company.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Company",
          "x-ms-visibility": "advanced"
        },
        "created-on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "More details about the project.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "endDate": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "End Date-Time",
          "x-ms-visibility": "advanced"
        },
        "harvest-timers-enabled": {
          "description": "True if Harvest timer is enabled.",
          "type": "boolean",
          "x-ms-summary": "Timer Enabled",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "Unique id of the project.",
          "type": "string",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        },
        "last-changed-on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "logo": {
          "description": "Project logo.",
          "type": "string",
          "x-ms-summary": "Logo",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "Project name.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "overview-start-page": {
          "description": "Url of the overview-start-page.",
          "type": "string",
          "x-ms-summary": "Overview Page",
          "x-ms-visibility": "advanced"
        },
        "privacyEnabled": {
          "description": "True if privacy is enabled.",
          "type": "boolean",
          "x-ms-summary": "Privacy Enabled",
          "x-ms-visibility": "advanced"
        },
        "starred": {
          "description": "True if project is starred.",
          "type": "boolean",
          "x-ms-summary": "Starred",
          "x-ms-visibility": "advanced"
        },
        "startDate": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Start Date-Time",
          "x-ms-visibility": "advanced"
        },
        "start-page": {
          "description": "Url of the start-page.",
          "type": "string",
          "x-ms-summary": "Start Page",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "Status of the project.",
          "type": "string",
          "x-ms-summary": "Status"
        },
        "subStatus": {
          "description": "Substatus of the project.",
          "type": "string",
          "x-ms-summary": "Substatus"
        },
        "tasks-start-page": {
          "description": "Url of the tasks-start-page.",
          "type": "string",
          "x-ms-summary": "Tasks Start Page",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "Type of project.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UpsertTask_Response": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Task Id",
          "description": "Unique id of the task.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTasks_Response": {
      "type": "object",
      "properties": {
        "todo-items": {
          "description": "List of tasks along with their properties.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Task_Response"
          }
        }
      }
    },
    "GetTask_Response": {
      "type": "object",
      "description": "Details associated with a specific task.",
      "properties": {
        "todo-item": {
          "$ref": "#/definitions/Task_Response"
        }
      }
    },
    "Task_Response": {
      "type": "object",
      "properties": {
        "canComplete": {
          "description": "True if the task can be completed.",
          "type": "boolean",
          "x-ms-summary": "Can Complete",
          "x-ms-visibility": "advanced"
        },
        "canEdit": {
          "description": "True if the task can be edited.",
          "type": "boolean",
          "x-ms-summary": "Can Edit",
          "x-ms-visibility": "advanced"
        },
        "canLogTime": {
          "description": "True if time can be logged to the task.",
          "type": "boolean",
          "x-ms-summary": "Can Log Time",
          "x-ms-visibility": "advanced"
        },
        "company-id": {
          "format": "int32",
          "description": "Unique id of the company.",
          "type": "integer",
          "x-ms-summary": "Company Id",
          "x-ms-visibility": "advanced"
        },
        "company-name": {
          "description": "Name of the company.",
          "type": "string",
          "x-ms-summary": "Company Name",
          "x-ms-visibility": "advanced"
        },
        "completed": {
          "description": "True is the task is completed.",
          "type": "boolean",
          "x-ms-summary": "Is completed"
        },
        "content": {
          "description": "Title of the task.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "created-on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "creator-avatar-url": {
          "description": "Avatar URL of the task creator.",
          "type": "string",
          "x-ms-summary": "Creator Avatar URL",
          "x-ms-visibility": "advanced"
        },
        "creator-firstname": {
          "description": "First name of the task creator.",
          "type": "string",
          "x-ms-summary": "Creator First Name"
        },
        "creator-id": {
          "format": "int32",
          "description": "Unique id of the creator.",
          "type": "integer",
          "x-ms-summary": "Creator Id",
          "x-ms-visibility": "advanced"
        },
        "creator-lastname": {
          "description": "Last name of the task creator.",
          "type": "string",
          "x-ms-summary": "Creator Last Name"
        },
        "description": {
          "description": "Task description.",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "due-date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Due Date"
        },
        "estimated-minutes": {
          "format": "int32",
          "description": "Time estimate for the task.",
          "type": "integer",
          "x-ms-summary": "Estimated Minutes",
          "x-ms-visibility": "advanced"
        },
        "harvest-enabled": {
          "description": "True if harvest is enabled.",
          "type": "boolean",
          "x-ms-summary": "Harvest Enabled.",
          "x-ms-visibility": "advanced"
        },
        "has-dependencies": {
          "format": "int32",
          "description": "Number of dependencies the task has.",
          "type": "integer",
          "x-ms-summary": "Dependency Count",
          "x-ms-visibility": "advanced"
        },
        "has-predecessors": {
          "format": "int32",
          "description": "Number of predecessors the task has.",
          "type": "integer",
          "x-ms-summary": "Has Predecessors",
          "x-ms-visibility": "advanced"
        },
        "has-reminders": {
          "description": "True if reminders exist.",
          "type": "boolean",
          "x-ms-summary": "Has Reminders",
          "x-ms-visibility": "advanced"
        },
        "hasTickets": {
          "description": "True if tickets exist.",
          "type": "boolean",
          "x-ms-summary": "Has Tickets",
          "x-ms-visibility": "advanced"
        },
        "has-unread-comments": {
          "description": "True if unread comments exist.",
          "type": "boolean",
          "x-ms-summary": "has-unread-comments",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "format": "int32",
          "description": "Unique id of the task.",
          "type": "integer",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "advanced"
        },
        "last-changed-on": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "lockdownId": {
          "description": "Unique Id of lock down.",
          "type": "string",
          "x-ms-summary": "Lock Down Id",
          "x-ms-visibility": "advanced"
        },
        "parentTaskId": {
          "description": "Unique Id of the parent task.",
          "type": "string",
          "x-ms-summary": "Parent Task Id",
          "x-ms-visibility": "advanced"
        },
        "priority": {
          "description": "Priority of the task.",
          "type": "string",
          "x-ms-summary": "Priority"
        },
        "private": {
          "format": "int32",
          "description": "1 if the task is private.",
          "type": "integer",
          "x-ms-summary": "Private",
          "x-ms-visibility": "advanced"
        },
        "progress": {
          "format": "int32",
          "description": "Integer between 0 and 90.",
          "type": "integer",
          "x-ms-summary": "Progress"
        },
        "project-id": {
          "format": "int32",
          "description": "Unique Id of the project.",
          "type": "integer",
          "x-ms-summary": "Project Id",
          "x-ms-visibility": "advanced"
        },
        "project-name": {
          "description": "Name of the project.",
          "type": "string",
          "x-ms-summary": "Project Name"
        },
        "start-date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Start Date",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "Deleted, completed, reopened or new.",
          "type": "string",
          "x-ms-summary": "Status"
        },
        "todo-list-id": {
          "format": "int32",
          "description": "Unique Id of the todo list.",
          "type": "integer",
          "x-ms-summary": "Todo List Id",
          "x-ms-visibility": "advanced"
        },
        "todo-list-name": {
          "description": "Name of the todo list.",
          "type": "string",
          "x-ms-summary": "Todo List Name",
          "x-ms-visibility": "advanced"
        },
        "userFollowingChanges": {
          "description": "True if user is following changes.",
          "type": "boolean",
          "x-ms-summary": "Following Changes",
          "x-ms-visibility": "advanced"
        },
        "userFollowingComments": {
          "description": "True if user is following comments.",
          "type": "boolean",
          "x-ms-summary": "Following Comments",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DeleteTask_Response": {
      "type": "object",
      "properties": {
        "affectedTaskIds": {
          "description": "Unique id of the task.",
          "type": "string",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CreateUser_Response": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "User Id",
          "description": "Unique identifier of the user.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListUsers_Response": {
      "type": "object",
      "properties": {
        "people": {
          "description": "List of users.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/User_Response"
          },
          "x-ms-summary": "Users",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetUser_Response": {
      "type": "object",
      "properties": {
        "person": {
          "$ref": "#/definitions/User_Response"
        }
      }
    },
    "User_Response": {
      "type": "object",
      "properties": {
        "avatar-url": {
          "description": "User's avatar url.",
          "type": "string",
          "x-ms-summary": "Avatar URL",
          "x-ms-visibility": "advanced"
        },
        "company-id": {
          "description": "Unique Id of the company.",
          "type": "string",
          "x-ms-summary": "Company Id",
          "x-ms-visibility": "advanced"
        },
        "company-name": {
          "description": "Name of the company.",
          "type": "string",
          "x-ms-summary": "Company Name"
        },
        "email-address": {
          "description": "User's email.",
          "type": "string",
          "x-ms-summary": "Email Address"
        },
        "email-alt-1": {
          "description": "User's alternate email.",
          "type": "string",
          "x-ms-summary": "Email Alternate 1",
          "x-ms-visibility": "advanced"
        },
        "first-name": {
          "description": "User's first name.",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "id": {
          "description": "Unique id of the user.",
          "type": "string",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "advanced"
        },
        "last-name": {
          "description": "User's last name,",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "notes": {
          "description": "Notes about the user.",
          "type": "string",
          "x-ms-summary": "Notes",
          "x-ms-visibility": "advanced"
        },
        "openId": {
          "description": "User's open id.",
          "type": "string",
          "x-ms-summary": "Open Id",
          "x-ms-visibility": "advanced"
        },
        "phone-number-fax": {
          "description": "User's fax number.",
          "type": "string",
          "x-ms-summary": "Fax Number",
          "x-ms-visibility": "advanced"
        },
        "phone-number-home": {
          "description": "User's home phone.",
          "type": "string",
          "x-ms-summary": "Home",
          "x-ms-visibility": "advanced"
        },
        "phone-number-mobile": {
          "description": "User's mobile number.",
          "type": "string",
          "x-ms-summary": "Mobile",
          "x-ms-visibility": "advanced"
        },
        "phone-number-mobile-parts": {
          "type": "object",
          "properties": {
            "countryCode": {
              "description": "User's mobile number.",
              "type": "string",
              "x-ms-summary": "Country Code",
              "x-ms-visibility": "advanced"
            },
            "phone": {
              "description": "User's mobile number.",
              "type": "string",
              "x-ms-summary": "Phone",
              "x-ms-visibility": "advanced"
            },
            "prefix": {
              "description": "User's mobile number.",
              "type": "string",
              "x-ms-summary": "Prefix",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Mobile"
        },
        "phone-number-office": {
          "description": "User's office phone number.",
          "type": "string",
          "x-ms-summary": "Office",
          "x-ms-visibility": "advanced"
        },
        "phone-number-office-ext": {
          "description": "User's office phone number.",
          "type": "string",
          "x-ms-summary": "Office Extension",
          "x-ms-visibility": "advanced"
        },
        "pid": {
          "description": "User's pid.",
          "type": "string",
          "x-ms-summary": "Pid",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "User's title.",
          "type": "string",
          "x-ms-summary": "Title"
        },
        "twitter": {
          "description": "User's twitter handle.",
          "type": "string",
          "x-ms-summary": "Twitter",
          "x-ms-visibility": "advanced"
        },
        "user-name": {
          "description": "Display name of the user.",
          "type": "string",
          "x-ms-summary": "Username"
        },
        "user-type": {
          "description": "User type.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "advanced"
        },
        "userUUID": {
          "description": "User's UUID.",
          "type": "string",
          "x-ms-summary": "UUID",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTaskLists_Response": {
      "type": "object",
      "properties": {
        "tasklists": {
          "type": "array",
          "description": "Array of task lists.",
          "items": {
            "type": "object",
            "properties": {
              "complete": {
                "description": "True if the task is complete.",
                "type": "boolean",
                "x-ms-summary": "Complete"
              },
              "description": {
                "description": "Details about the task.",
                "type": "string",
                "x-ms-summary": "Description"
              },
              "DLM": {
                "description": "Date last modified.",
                "type": "string",
                "x-ms-summary": "DLM",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "Unique id of the tasklist.",
                "type": "string",
                "x-ms-summary": "Tasklist Id",
                "x-ms-visibility": "advanced"
              },
              "milestone-id": {
                "description": "Unique id of the milestone.",
                "type": "string",
                "x-ms-summary": "Milestone Id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Name of the tasklist.",
                "type": "string",
                "x-ms-summary": "Tasklist Name"
              },
              "pinned": {
                "description": "True if the task is pinned.",
                "type": "boolean",
                "x-ms-summary": "Pinned",
                "x-ms-visibility": "advanced"
              },
              "projectId": {
                "description": "Unique id of the project.",
                "type": "string",
                "x-ms-summary": "Project Id",
                "x-ms-visibility": "advanced"
              },
              "projectName": {
                "description": "Name of the project.",
                "type": "string",
                "x-ms-summary": "Project Name"
              },
              "status": {
                "description": "New, reopened, completed or deleted.",
                "type": "string",
                "x-ms-summary": "Status",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListCompanies_Response": {
      "type": "object",
      "properties": {
        "companies": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "accounts": {
                "description": "accounts",
                "type": "string",
                "x-ms-summary": "accounts",
                "x-ms-visibility": "advanced"
              },
              "address_one": {
                "description": "address_one",
                "type": "string",
                "x-ms-summary": "address_one",
                "x-ms-visibility": "advanced"
              },
              "address_two": {
                "description": "address_two",
                "type": "string",
                "x-ms-summary": "address_two",
                "x-ms-visibility": "advanced"
              },
              "can_see_private": {
                "description": "can_see_private",
                "type": "boolean",
                "x-ms-summary": "can_see_private",
                "x-ms-visibility": "advanced"
              },
              "cid": {
                "description": "cid",
                "type": "string",
                "x-ms-summary": "cid",
                "x-ms-visibility": "advanced"
              },
              "city": {
                "description": "city",
                "type": "string",
                "x-ms-summary": "city",
                "x-ms-visibility": "advanced"
              },
              "company_name_url": {
                "description": "company_name_url",
                "type": "string",
                "x-ms-summary": "company_name_url",
                "x-ms-visibility": "advanced"
              },
              "contacts": {
                "description": "contacts",
                "type": "string",
                "x-ms-summary": "contacts",
                "x-ms-visibility": "advanced"
              },
              "country": {
                "description": "country",
                "type": "string",
                "x-ms-summary": "country",
                "x-ms-visibility": "advanced"
              },
              "countrycode": {
                "description": "countrycode",
                "type": "string",
                "x-ms-summary": "countrycode",
                "x-ms-visibility": "advanced"
              },
              "email_one": {
                "description": "email_one",
                "type": "string",
                "x-ms-summary": "email_one",
                "x-ms-visibility": "advanced"
              },
              "email_three": {
                "description": "email_three",
                "type": "string",
                "x-ms-summary": "email_three",
                "x-ms-visibility": "advanced"
              },
              "email_two": {
                "description": "email_two",
                "type": "string",
                "x-ms-summary": "email_two",
                "x-ms-visibility": "advanced"
              },
              "fax": {
                "description": "fax",
                "type": "string",
                "x-ms-summary": "fax",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "id",
                "type": "string",
                "x-ms-summary": "id",
                "x-ms-visibility": "advanced"
              },
              "industry": {
                "description": "industry",
                "type": "string",
                "x-ms-summary": "industry",
                "x-ms-visibility": "advanced"
              },
              "industryId": {
                "description": "industryId",
                "type": "string",
                "x-ms-summary": "industryId",
                "x-ms-visibility": "advanced"
              },
              "isowner": {
                "description": "isowner",
                "type": "string",
                "x-ms-summary": "isowner",
                "x-ms-visibility": "advanced"
              },
              "last-changed-on": {
                "description": "last-changed-on",
                "type": "string",
                "x-ms-summary": "last-changed-on",
                "x-ms-visibility": "advanced"
              },
              "logo-URL": {
                "description": "logo-URL",
                "type": "string",
                "x-ms-summary": "logo-URL",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "name",
                "type": "string",
                "x-ms-summary": "name",
                "x-ms-visibility": "advanced"
              },
              "phone": {
                "description": "phone",
                "type": "string",
                "x-ms-summary": "phone",
                "x-ms-visibility": "advanced"
              },
              "state": {
                "description": "state",
                "type": "string",
                "x-ms-summary": "state",
                "x-ms-visibility": "advanced"
              },
              "website": {
                "description": "website",
                "type": "string",
                "x-ms-summary": "website",
                "x-ms-visibility": "advanced"
              },
              "zip": {
                "description": "zip",
                "type": "string",
                "x-ms-summary": "zip",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListProjectCategories_Response": {
      "type": "object",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "color": {
                "description": "color",
                "type": "string",
                "x-ms-summary": "color",
                "x-ms-visibility": "advanced"
              },
              "count": {
                "description": "count",
                "type": "string",
                "x-ms-summary": "count",
                "x-ms-visibility": "advanced"
              },
              "elements-count": {
                "description": "elements-count",
                "type": "string",
                "x-ms-summary": "elements-count",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "id",
                "type": "string",
                "x-ms-summary": "id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "name",
                "type": "string",
                "x-ms-summary": "name",
                "x-ms-visibility": "advanced"
              },
              "parent-id": {
                "description": "parent-id",
                "type": "string",
                "x-ms-summary": "parent-id",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "type",
                "type": "string",
                "x-ms-summary": "type",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "projectId__in_query": {
      "name": "projectId",
      "in": "query",
      "required": true,
      "x-ms-summary": "Project Id",
      "description": "Pick a project.",
      "x-ms-test-value": "182749",
      "x-ms-dynamic-values": {
        "operationId": "ListProjects",
        "value-collection": "projects",
        "value-path": "id",
        "value-title": "name"
      },
      "type": "string"
    },
    "projectId__in_path": {
      "name": "projectId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Project Id",
      "description": "Pick a project.",
      "x-ms-test-value": "182749",
      "x-ms-dynamic-values": {
        "operationId": "ListProjects",
        "value-collection": "projects",
        "value-path": "id",
        "value-title": "name"
      },
      "type": "string"
    },
    "taskListId__in_path": {
      "name": "taskListId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Task list Id",
      "description": "Pick a task list.",
      "x-ms-test-value": "510355",
      "x-ms-dynamic-values": {
        "operationId": "ListTaskLists",
        "value-collection": "tasklists",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "projectId": {
            "parameter": "projectId"
          }
        }
      },
      "type": "string"
    },
    "taskId__in_path": {
      "name": "taskId",
      "in": "path",
      "required": true,
      "x-ms-summary": "Task Id",
      "description": "Unique id of the task.",
      "x-ms-test-value": "4522739",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "basic"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.teamwork.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.teamwork.com/legal/privacy-policy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/teamwork"
  },
  "basePath": "/apim/teamwork"
}
