{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Cloud Connect Studio",
    "description": "This connector will be used to integrate with Fuji Xerox Cloud Connect Studio solution. This connector will be used as Trigger only and will be triggered once user perform a Scan from Cloud Connect Studio solution",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/appstudioapi",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/api/Hooks/subscribe": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebHookScanResposne"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "Hooks"
        ],
        "summary": "New Scan",
        "description": "Triggers when a scan is perfomed from Cloud Connect Studio solution",
        "operationId": "ApiHooksSubscribePost",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/0"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebHookRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appstudioapi/#new-scan"
        }
      }
    },
    "/{connectionId}/api/Hooks/unsubscribe/{id}": {
      "delete": {
        "tags": [
          "Hooks"
        ],
        "summary": "ApiHooksUnsubscribeByIdDelete",
        "operationId": "ApiHooksUnsubscribeByIdDelete",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appstudioapi/#apihooksunsubscribebyiddelete"
        }
      }
    },
    "/{connectionId}/api/InputFields/GetSolutionList": {
      "get": {
        "tags": [
          "InputFields"
        ],
        "summary": "ApiGetSolutionList",
        "description": "ApiGetSolutionList",
        "operationId": "ApiGetSolutionList",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetLists"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appstudioapi/#apigetsolutionlist"
        }
      }
    },
    "/{connectionId}/api/OutputFields/GetFlowFields/{id}": {
      "get": {
        "tags": [
          "OutputFields"
        ],
        "summary": "ApiGetSolutionMetaData",
        "description": "ApiGetSolutionMetaData",
        "operationId": "ApiGetSolutionMetaData",
        "consumes": [
          "application/json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/appstudioapi/#apigetsolutionmetadata"
        }
      }
    }
  },
  "definitions": {
    "WebHookScanResposne": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "ApiGetSolutionMetaData",
        "parameters": {
          "id": {
            "parameter": "solutionId"
          }
        }
      }
    },
    "GetLists": {
      "type": "array",
      "items": {
        "required": [
          "label",
          "key"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "key": {
            "type": "string"
          }
        }
      }
    },
    "GetSolutionMetaDataResponse": {
      "type": "array",
      "items": {
        "required": [
          "label",
          "key"
        ],
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "key": {
            "type": "string"
          }
        }
      }
    },
    "WebHookRequestBody": {
      "type": "object",
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        }
      }
    }
  },
  "parameters": {
    "0": {
      "name": "solutionId",
      "type": "string",
      "in": "query",
      "description": "Select solution you want to scan from",
      "required": true,
      "x-ms-dynamic-values": {
        "operationId": "ApiGetSolutionList",
        "value-path": "Key",
        "value-title": "Label"
      },
      "x-ms-summary": "Select Solution",
      "default": ""
    }
  },
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/appstudioapi"
  }
}
