{
  "swagger": "2.0",
  "info": {
    "title": "ClickSend SMS",
    "description": "ClickSend for business SMS that gets delivered; alerts, notifications, invites, marketing messages and more. ClickSend is business communications software enabling companies of all shapes and sizes to easily send and receive SMS, Email, Voice and even post worldwide via web app or API. ClickSend has SMS at its core and powers billions of messages worldwide via direct routes but has expanded to offer a full suite of products providing choice and context to your business communications.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "ClickSend SMS Support",
      "url": "https://www.clicksend.com/au/help",
      "email": "Support@clicksend.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/clicksendsms",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.clicksend.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.clicksend.com/us/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ],
  "paths": {
    "/{connectionId}/sms/send": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Msg",
                  "title": "Response Msg"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total_price": {
                      "type": "number",
                      "format": "float",
                      "description": "Total Price",
                      "title": "Total Price"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total Count",
                      "title": "Total Count"
                    },
                    "queued_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Queued Count",
                      "title": "Queued Count"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string",
                            "description": "Direction",
                            "title": "Direction"
                          },
                          "date": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Date",
                            "title": "Date"
                          },
                          "to": {
                            "type": "string",
                            "description": "To",
                            "title": "To"
                          },
                          "body": {
                            "type": "string",
                            "description": "Body",
                            "title": "Body"
                          },
                          "from": {
                            "type": "string",
                            "description": "From",
                            "title": "From"
                          },
                          "message_id": {
                            "type": "string",
                            "description": "Message Id",
                            "title": "Message Id"
                          },
                          "message_parts": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Message Parts",
                            "title": "Message Parts"
                          },
                          "message_price": {
                            "type": "string",
                            "description": "Message Price",
                            "title": "Message Price"
                          },
                          "from_email": {
                            "type": "string",
                            "description": "From Email",
                            "title": "From Email"
                          },
                          "list_id": {
                            "type": "string",
                            "description": "List Id",
                            "title": "List Id"
                          },
                          "custom_string": {
                            "type": "string",
                            "description": "Custom String",
                            "title": "Custom String"
                          },
                          "contact_id": {
                            "type": "string",
                            "description": "Contact Id",
                            "title": "Contact Id"
                          },
                          "user_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "User Id",
                            "title": "User Id"
                          },
                          "subaccount_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Subaccount Id",
                            "title": "Subaccount Id"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country",
                            "title": "Country"
                          },
                          "carrier": {
                            "type": "string",
                            "description": "Carrier",
                            "title": "Carrier"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status",
                            "title": "Status"
                          }
                        }
                      },
                      "description": "Message"
                    },
                    "_currency": {
                      "type": "object",
                      "properties": {
                        "currency_name_short": {
                          "type": "string",
                          "description": "Currency Name Short",
                          "title": "Currency Name Short"
                        },
                        "currency_prefix_d": {
                          "type": "string",
                          "description": "Currency Prefix D",
                          "title": "Currency Prefix D"
                        },
                        "currency_prefix_c": {
                          "type": "string",
                          "description": "Currency Prefix C",
                          "title": "Currency Prefix C"
                        },
                        "currency_name_long": {
                          "type": "string",
                          "description": "Currency Name Long",
                          "title": "Currency Name Long"
                        }
                      },
                      "description": "_currency"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Send SMS",
        "description": "Each 160 characters = 1 SMS. Can send up to 1,224 standard characters.",
        "operationId": "sms_send",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "string",
                        "description": "Mobile phone number. Can be in local or international format. Must be in international (E.164) format if sending to another country. e.g +61411111111.",
                        "title": "To",
                        "x-ms-visibility": "important"
                      },
                      "body": {
                        "type": "string",
                        "description": "160 characters is 1 SMS. Can send up to 1,224 standard characters.",
                        "title": "Body",
                        "x-ms-visibility": "important"
                      },
                      "custom_string": {
                        "type": "string",
                        "description": "This is your reference. It will show on all reports and will be passed back with any replies.",
                        "title": "Custom String",
                        "x-ms-visibility": "important"
                      },
                      "list_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "List ID",
                        "title": "List ID",
                        "x-ms-visibility": "internal"
                      },
                      "source": {
                        "type": "string",
                        "description": "Source",
                        "title": "Source",
                        "x-ms-visibility": "internal",
                        "default": "MSPowerAutomate"
                      }
                    },
                    "required": [
                      "body",
                      "to",
                      "source"
                    ]
                  },
                  "description": "Message"
                }
              },
              "required": [
                "messages"
              ]
            }
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#send-sms"
        }
      }
    },
    "/{connectionId}/trigger/sms/inbound": {},
    "/{connectionId}/lists": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total",
                      "title": "Total"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Per Page",
                      "title": "Per Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Current Page",
                      "title": "Current Page"
                    },
                    "last_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Last Page",
                      "title": "Last Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "Next Page Url",
                      "title": "Next Page Url"
                    },
                    "prev_page_url": {
                      "type": "string",
                      "description": "Prev Page Url",
                      "title": "Prev Page Url"
                    },
                    "from": {
                      "type": "integer",
                      "format": "int32",
                      "description": "From",
                      "title": "From"
                    },
                    "to": {
                      "type": "integer",
                      "format": "int32",
                      "description": "to",
                      "title": "To"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "list_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "List ID",
                            "title": "List ID",
                            "x-ms-visibility": "important"
                          },
                          "list_name": {
                            "type": "string",
                            "description": "List Name",
                            "title": "List Name",
                            "x-ms-visibility": "important"
                          },
                          "list_email_id": {
                            "type": "string",
                            "description": "List Email ID",
                            "title": "List Email ID"
                          },
                          "_contacts_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Contacts Count",
                            "title": "Contact Count"
                          },
                          "_import_in_progress": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Import Inprogress",
                            "title": "Import Inprogress"
                          },
                          "_optout_in_progress": {
                            "type": "integer",
                            "format": "int32",
                            "description": "OptOut Inprogress",
                            "title": "OptOut Inprogress"
                          }
                        }
                      },
                      "description": "data"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Get Contact Lists",
        "operationId": "get_contact_lists",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "format": "int32",
            "description": "Page number",
            "x-ms-summary": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of records per page",
            "x-ms-visibility": "advanced",
            "format": "int32",
            "x-ms-summary": "Number of records per page"
          }
        ],
        "description": "Get all contact lists unless specified in the advance options",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#get-contact-lists"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "list_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "List ID",
                      "title": "List ID"
                    },
                    "list_name": {
                      "type": "string",
                      "description": "List Name",
                      "title": "List Name"
                    },
                    "list_email_id": {
                      "type": "string",
                      "description": "List Email ID",
                      "title": "List Email ID"
                    },
                    "_contacts_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Contacts Count",
                      "title": "Contacts Count"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Create New Contact List",
        "description": "Create New Contact List",
        "operationId": "create_list",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "list_name": {
                  "type": "string",
                  "description": "Your contact list name",
                  "title": "List Name",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "list_name"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#create-new-contact-list"
        }
      }
    },
    "/{connectionId}/countries": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Code",
                        "title": "Code"
                      },
                      "value": {
                        "type": "string",
                        "description": "Value",
                        "title": "Value"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Get Countries",
        "operationId": "get_countries",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Get Countries",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#get-countries"
        }
      }
    },
    "/{connectionId}/voice/send": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total_price": {
                      "type": "number",
                      "format": "float",
                      "description": "Total Price",
                      "title": "Total Price"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total Count",
                      "title": "Total Count"
                    },
                    "queued_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Queued Count",
                      "title": "Queued Count"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "User ID",
                            "title": "User ID"
                          },
                          "subaccount_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Subaccount ID",
                            "title": "Subaccount ID"
                          },
                          "message_id": {
                            "type": "string",
                            "description": "Message ID",
                            "title": "Message ID"
                          },
                          "to": {
                            "type": "string",
                            "description": "To",
                            "title": "To"
                          },
                          "to_type": {
                            "type": "string",
                            "description": "To Type",
                            "title": "To Type"
                          },
                          "from": {
                            "type": "string",
                            "description": "From",
                            "title": "From"
                          },
                          "voice": {
                            "type": "string",
                            "description": "Voice",
                            "title": "Voice"
                          },
                          "lang": {
                            "type": "string",
                            "description": "Language",
                            "title": "Language"
                          },
                          "body": {
                            "type": "string",
                            "description": "Bddy",
                            "title": "Body"
                          },
                          "carrier": {
                            "type": "string",
                            "description": "Carrier",
                            "title": "Carrier"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country",
                            "title": "Country"
                          },
                          "custom_string": {
                            "type": "string",
                            "description": "Custom String",
                            "title": "Custom String"
                          },
                          "schedule": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Schedule",
                            "title": "Schedule"
                          },
                          "message_parts": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Message Parts",
                            "title": "Message Parts"
                          },
                          "message_price": {
                            "type": "string",
                            "description": "Message Price",
                            "title": "Message Price"
                          },
                          "date_added": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Date Added",
                            "title": "Date Added"
                          },
                          "require_input": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Require Input",
                            "title": "Require Input"
                          },
                          "machine_detection": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Machine Detection",
                            "title": "Machine Detection"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status",
                            "title": "Status"
                          }
                        }
                      },
                      "description": "messages"
                    },
                    "_currency": {
                      "type": "object",
                      "properties": {
                        "currency_name_short": {
                          "type": "string",
                          "description": "Currency Name Short",
                          "title": "Currency Name Short"
                        },
                        "currency_prefix_d": {
                          "type": "string",
                          "description": "Currency Prefix D",
                          "title": "Currency Prefix D"
                        },
                        "currency_prefix_c": {
                          "type": "string",
                          "description": "Currency Prefix C",
                          "title": "Currency Prefix C"
                        },
                        "currency_name_long": {
                          "type": "string",
                          "description": "Currency Name Long",
                          "title": "Currency Name Long"
                        }
                      },
                      "description": "Currency"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Send Voice Message",
        "operationId": "send_voice",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "string",
                        "description": "Mobile or landline phone number in local or international format. Must be in international format (E.164) if sending to a different country.e.g. +61411111111.",
                        "title": "To",
                        "x-ms-visibility": "important"
                      },
                      "body": {
                        "type": "string",
                        "description": "Message body to be read out.",
                        "title": "Body",
                        "x-ms-visibility": "important"
                      },
                      "lang": {
                        "type": "string",
                        "description": "Choose which language you want to use.",
                        "title": "Language",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                          "operationId": "get_voice_languages",
                          "value-path": "code",
                          "value-collection": "data",
                          "value-title": "country"
                        },
                        "default": "en-us"
                      },
                      "voice": {
                        "type": "string",
                        "description": "Choose the message to be read out in a Male of Female voice.",
                        "title": "Voice",
                        "enum": [
                          "male",
                          "female"
                        ],
                        "x-ms-visibility": "important"
                      },
                      "custom_string": {
                        "type": "string",
                        "description": "This is your reference. It will show on all reports and will be passed back with any replies.",
                        "title": "Custom String",
                        "x-ms-visibility": "important"
                      },
                      "list_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "List ID",
                        "title": "List ID",
                        "x-ms-visibility": "internal"
                      },
                      "require_input": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Receive a keypress from the recipient. Flag value must be 1 for yes or 0 for no.",
                        "title": "Require Input",
                        "x-ms-visibility": "important",
                        "enum": [
                          1,
                          0
                        ]
                      },
                      "source": {
                        "type": "string",
                        "description": "Source",
                        "title": "Source",
                        "x-ms-visibility": "internal",
                        "default": "MSPowerAutomate"
                      },
                      "machine_detection": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Detect answering machine or voicemail and leave a message. Flag value must be 1 for yes or 0 for no.",
                        "title": "Machine Detection",
                        "x-ms-visibility": "important",
                        "enum": [
                          1,
                          0
                        ]
                      }
                    },
                    "required": [
                      "lang",
                      "voice",
                      "to",
                      "body",
                      "source"
                    ]
                  },
                  "description": "Message"
                }
              },
              "required": [
                "messages"
              ]
            }
          }
        ],
        "description": "Each 300 characters = 1 voice message. Can send up to 1,200 standard characters",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#send-voice-message"
        }
      }
    },
    "/{connectionId}/voice/lang": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Code",
                        "title": "Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country",
                        "title": "Country"
                      },
                      "gender": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "gender"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Get Voice Languages",
        "operationId": "get_voice_languages",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#get-voice-languages"
        }
      }
    },
    "/{connectionId}/lists/{list_id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Delete List",
        "operationId": "delete_list",
        "description": "Delete a specific contact list",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "List ID",
            "description": "You may use the Search Contact List action OR Get Contact List action to get the List ID",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#delete-list"
        }
      }
    },
    "/{connectionId}/6809f4f8-6b6b-481c-b3ae-e408347d5de8": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {},
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/lists/{list_id}/contacts": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total",
                      "title": "Total"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Per Page",
                      "title": "Per Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Current Page",
                      "title": "Current Page"
                    },
                    "last_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Last Page",
                      "title": "Last Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "Next Page Url",
                      "title": "Next Page Url"
                    },
                    "prev_page_url": {
                      "type": "string",
                      "description": "Prev Page Url",
                      "title": "Prev Page Url"
                    },
                    "from": {
                      "type": "integer",
                      "format": "int32",
                      "description": "From",
                      "title": "From"
                    },
                    "to": {
                      "type": "integer",
                      "format": "int32",
                      "description": "To",
                      "title": "To"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Contact ID",
                            "title": "Contact ID"
                          },
                          "list_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "List ID",
                            "title": "List ID"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "Phone Number",
                            "title": "Phone Number"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "First Name",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "Last Name",
                            "title": "Last Name"
                          },
                          "custom_1": {
                            "type": "string",
                            "description": "Custom 1",
                            "title": "Custom 1"
                          },
                          "custom_2": {
                            "type": "string",
                            "description": "Custom 2",
                            "title": "Custom 2"
                          },
                          "custom_3": {
                            "type": "string",
                            "description": "Custom 3",
                            "title": "Custom 3"
                          },
                          "custom_4": {
                            "type": "string",
                            "description": "Custom 4",
                            "title": "Custom 4"
                          },
                          "date_added": {
                            "type": "integer",
                            "description": "Date Added",
                            "format": "int32"
                          },
                          "date_updated": {
                            "type": "integer",
                            "description": "Date Updated",
                            "title": "Date Updated",
                            "format": "int32"
                          },
                          "fax_number": {
                            "type": "string",
                            "description": "Fax Number",
                            "title": "Fax Number"
                          },
                          "organization_name": {
                            "type": "string",
                            "description": "Organization Name",
                            "title": "Organization Name"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email",
                            "title": "Email"
                          },
                          "address_line_1": {
                            "type": "string",
                            "description": "Address Line 1",
                            "title": "Address Line 1"
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "Address Line 2",
                            "title": "Address Line 2"
                          },
                          "address_city": {
                            "type": "string",
                            "description": "Address City",
                            "title": "Address City"
                          },
                          "address_state": {
                            "type": "string",
                            "description": "Address State",
                            "title": "Address State"
                          },
                          "address_postal_code": {
                            "type": "string",
                            "description": "Address Postal Code",
                            "title": "Address Postal Code"
                          },
                          "address_country": {
                            "type": "string",
                            "description": "Address Country",
                            "title": "Address Country"
                          },
                          "_list_name": {
                            "type": "string",
                            "description": "List Name",
                            "title": "List Name"
                          }
                        }
                      },
                      "description": "data"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important",
            "description": "You may use the Search Contact List action OR Get Contact List action to get the List ID",
            "x-ms-summary": "List ID",
            "format": "int32"
          }
        ],
        "summary": "Get Contacts in a List",
        "description": "Get all Contacts in a List",
        "operationId": "view_list_contacts",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#get-contacts-in-a-list"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "contact_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Contact ID",
                      "title": "Contact ID"
                    },
                    "list_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "List ID",
                      "title": "List ID"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "Phone Number",
                      "title": "Phone Number"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "First Name",
                      "title": "First Name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Last Name",
                      "title": "Last Name"
                    },
                    "custom_1": {
                      "type": "string",
                      "description": "Custom 1",
                      "title": "Custom 1"
                    },
                    "custom_2": {
                      "type": "string",
                      "description": "Custom 2",
                      "title": "Custom 2"
                    },
                    "custom_3": {
                      "type": "string",
                      "description": "Custom 3",
                      "title": "Custom 3"
                    },
                    "custom_4": {
                      "type": "string",
                      "description": "Custom 4",
                      "title": "Custom 4"
                    },
                    "date_added": {
                      "type": "integer",
                      "description": "Date Added",
                      "title": "Date Added",
                      "format": "int32"
                    },
                    "fax_number": {
                      "type": "string",
                      "description": "Fax Number",
                      "title": "Fax Number"
                    },
                    "organization_name": {
                      "type": "string",
                      "description": "Organization Name",
                      "title": "Organization Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email",
                      "title": "Email"
                    },
                    "address_line_1": {
                      "type": "string",
                      "description": "Address Line 1",
                      "title": "Address Line 1"
                    },
                    "address_line_2": {
                      "type": "string",
                      "description": "Address Line 2",
                      "title": "Address Line 2"
                    },
                    "address_city": {
                      "type": "string",
                      "description": "Address City",
                      "title": "Address City"
                    },
                    "address_state": {
                      "type": "string",
                      "description": "Address State",
                      "title": "Address State"
                    },
                    "address_postal_code": {
                      "type": "string",
                      "description": "Address Postal Code",
                      "title": "Address Postal Code"
                    },
                    "address_country": {
                      "type": "string",
                      "description": "Address Country",
                      "title": "Address Country"
                    },
                    "_list_name": {
                      "type": "string",
                      "description": "List Name",
                      "title": "List Name"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Create New Contact",
        "operationId": "create_list_contact",
        "description": "Create New Contact",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "You may use the Search Contact List action OR Get Contact List action to get the List ID",
            "x-ms-summary": "List ID",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "Contact's first name.",
                  "title": "First Name",
                  "x-ms-visibility": "important"
                },
                "last_name": {
                  "type": "string",
                  "description": "Contact's last name.",
                  "title": "Last Name",
                  "x-ms-visibility": "important"
                },
                "phone_number": {
                  "type": "string",
                  "description": "The contact phone in local or international format e.g. +61411111111.",
                  "title": "Phone Number",
                  "x-ms-visibility": "important"
                },
                "email": {
                  "type": "string",
                  "description": "Contact's email address.",
                  "title": "Email",
                  "x-ms-visibility": "important"
                },
                "fax_number": {
                  "type": "string",
                  "description": "Contact's fax number.",
                  "title": "Fax Number",
                  "x-ms-visibility": "important"
                },
                "organization_name": {
                  "type": "string",
                  "description": "Contact's organization name.",
                  "title": "Organization Name",
                  "x-ms-visibility": "important"
                },
                "address_country": {
                  "type": "string",
                  "description": "The contact's country.",
                  "title": "Country",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "get_countries",
                    "value-path": "code",
                    "value-collection": "data",
                    "value-title": "value"
                  }
                },
                "address_state": {
                  "type": "string",
                  "description": "State",
                  "title": "State",
                  "x-ms-visibility": "advanced"
                },
                "address_city": {
                  "type": "string",
                  "description": "Address City",
                  "title": "City",
                  "x-ms-visibility": "advanced"
                },
                "custom_1": {
                  "type": "string",
                  "description": "Custom 1",
                  "title": "Custom 1",
                  "x-ms-visibility": "advanced"
                },
                "custom_3": {
                  "type": "string",
                  "description": "Custom 3",
                  "title": "Custom 3",
                  "x-ms-visibility": "advanced"
                },
                "address_postal_code": {
                  "type": "string",
                  "description": "",
                  "title": "Postal Code",
                  "x-ms-visibility": "advanced"
                },
                "custom_2": {
                  "type": "string",
                  "description": "Custom 2",
                  "title": "Custom 2",
                  "x-ms-visibility": "advanced"
                },
                "custom_4": {
                  "type": "string",
                  "description": "Custom 4",
                  "title": "Custom 4",
                  "x-ms-visibility": "advanced"
                },
                "address_line_1": {
                  "type": "string",
                  "description": "Address Line 1",
                  "title": "Address Line 1",
                  "x-ms-visibility": "advanced"
                },
                "address_line_2": {
                  "type": "string",
                  "description": "Address Line 2",
                  "title": "Address Line 2",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "first_name",
                "last_name",
                "phone_number"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#create-new-contact"
        }
      }
    },
    "/{connectionId}/lists/{list_id}/contacts/{contact_id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Delete a Contact",
        "description": "Delete a Contact",
        "operationId": "delete_list_contact",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "list_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "You may use the Search Contact List action OR Get Contact List action to get the List ID",
            "x-ms-summary": "List ID",
            "format": "int32",
            "x-ms-visibility": "important"
          },
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Contact ID",
            "x-ms-summary": "Contact ID",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#delete-a-contact"
        }
      }
    },
    "/{connectionId}/mms/send": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total_price": {
                      "type": "number",
                      "format": "float",
                      "description": "Total Price",
                      "title": "Total Price"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total Count",
                      "title": "Total Count"
                    },
                    "queued_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Queued Count",
                      "title": "Queued Count"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "list_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "List ID",
                            "title": "List ID"
                          },
                          "contact_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Contact ID",
                            "title": "Contact ID"
                          },
                          "message_id": {
                            "type": "string",
                            "description": "Message ID",
                            "title": "Message ID"
                          },
                          "to": {
                            "type": "string",
                            "description": "To",
                            "title": "To"
                          },
                          "subject": {
                            "type": "string",
                            "description": "Subject",
                            "title": "Subject"
                          },
                          "from": {
                            "type": "string",
                            "description": "From",
                            "title": "From"
                          },
                          "body": {
                            "type": "string",
                            "description": "Body",
                            "title": "Body"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country",
                            "title": "Country"
                          },
                          "custom_string": {
                            "type": "string",
                            "description": "Custom String",
                            "title": "Custom String"
                          },
                          "message_parts": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Message Parts",
                            "title": "Message Parts"
                          },
                          "message_price": {
                            "type": "string",
                            "description": "Message Price",
                            "title": "Message Price"
                          },
                          "_media_file_url": {
                            "type": "string",
                            "description": "Media File Url",
                            "title": "Media File Url"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status",
                            "title": "Status"
                          }
                        }
                      },
                      "description": "Msg"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "operationId": "send_mms",
        "summary": "Send MMS",
        "description": "Send MMS",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "string",
                        "description": "Mobile phone number. Can be in local or international format. Must be in international (E.164) format if sending to another country. e.g +61411111111.",
                        "title": "to",
                        "x-ms-visibility": "important"
                      },
                      "subject": {
                        "type": "string",
                        "description": "Subject line. Maximum 20 characters.",
                        "title": "subject",
                        "x-ms-visibility": "important"
                      },
                      "body": {
                        "type": "string",
                        "description": "Message body. Up to 1500 characters or 500 Unicode characters",
                        "title": "message",
                        "x-ms-visibility": "important"
                      },
                      "custom_string": {
                        "type": "string",
                        "description": "This is your reference. It will show on all reports and will be passed back with any replies.",
                        "title": "Custom String",
                        "x-ms-visibility": "important"
                      },
                      "list_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "List ID",
                        "title": "List ID",
                        "x-ms-visibility": "internal"
                      },
                      "from": {
                        "type": "string",
                        "description": "from",
                        "x-ms-visibility": "internal"
                      },
                      "source": {
                        "type": "string",
                        "description": "Source",
                        "title": "Source",
                        "x-ms-visibility": "internal",
                        "default": "MSPowerAutomate"
                      }
                    },
                    "required": [
                      "to",
                      "subject",
                      "body",
                      "source"
                    ]
                  },
                  "description": "Message"
                },
                "media_file": {
                  "type": "string",
                  "description": "Supports maximum file size of 250kB, Gif can only be supported if it below 100 kB file size",
                  "title": "Media URL",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "messages",
                "media_file"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#send-mms"
        }
      }
    },
    "/{connectionId}/fax/send": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total_price": {
                      "type": "number",
                      "format": "float",
                      "description": "Total Price",
                      "title": "Total Price"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total Count",
                      "title": "Total Count"
                    },
                    "queued_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Queued Count",
                      "title": "Queued Count"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "User ID",
                            "title": "User ID"
                          },
                          "subaccount_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Subaccount ID",
                            "title": "Subaccount ID"
                          },
                          "list_id": {
                            "type": "string",
                            "description": "List ID",
                            "title": "List ID"
                          },
                          "message_id": {
                            "type": "string",
                            "description": "Message ID",
                            "title": "Message ID"
                          },
                          "to": {
                            "type": "string",
                            "description": "To",
                            "title": "To"
                          },
                          "from": {
                            "type": "string",
                            "description": "From",
                            "title": "From"
                          },
                          "carrier": {
                            "type": "string",
                            "description": "Carrier",
                            "title": "Carrier"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country",
                            "title": "Country"
                          },
                          "custom_string": {
                            "type": "string",
                            "description": "Custom String",
                            "title": "Custom String"
                          },
                          "message_pages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Message Pages",
                            "title": "Message Pages"
                          },
                          "message_price": {
                            "type": "string",
                            "description": "Message Price",
                            "title": "Message Price"
                          },
                          "status_code": {
                            "type": "string",
                            "description": "Status Code",
                            "title": "Status Code"
                          },
                          "status_text": {
                            "type": "string",
                            "description": "Status Text",
                            "title": "Status Text"
                          },
                          "date_added": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Date Added",
                            "title": "Date Added"
                          },
                          "from_email": {
                            "type": "string",
                            "description": "From Email",
                            "title": "From Email"
                          },
                          "_file_url": {
                            "type": "string",
                            "description": "File Url",
                            "title": "File Url"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status",
                            "title": "Status"
                          }
                        }
                      },
                      "description": "messages"
                    },
                    "_currency": {
                      "type": "object",
                      "properties": {
                        "currency_name_short": {
                          "type": "string",
                          "description": "Currency Name Short",
                          "title": "Currency Name Short"
                        },
                        "currency_prefix_d": {
                          "type": "string",
                          "description": "Currency Prefix D",
                          "title": "Currency Prefix D"
                        },
                        "currency_prefix_c": {
                          "type": "string",
                          "description": "Currency Prefix C",
                          "title": "Currency Prefix C"
                        },
                        "currency_name_long": {
                          "type": "string",
                          "description": "Currency Name Long",
                          "title": "Currency Name Long"
                        }
                      },
                      "description": "Currency"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Send Fax",
        "description": "Send Fax",
        "operationId": "send_fax",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "string",
                        "description": "Phone number in E.164 format. Eg. +61261111111.",
                        "title": "To",
                        "x-ms-visibility": "important"
                      },
                      "from": {
                        "type": "string",
                        "description": "from",
                        "x-ms-visibility": "internal"
                      },
                      "source": {
                        "type": "string",
                        "description": "Source",
                        "title": "Source",
                        "x-ms-visibility": "internal",
                        "default": "MSPowerAutomate"
                      },
                      "custom_string": {
                        "type": "string",
                        "description": "This is your reference. It will show on all reports and will be passed back with any replies.",
                        "title": "Custom String",
                        "x-ms-visibility": "important"
                      },
                      "list_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "List ID",
                        "title": "List ID",
                        "x-ms-visibility": "internal"
                      }
                    },
                    "required": [
                      "to",
                      "source"
                    ]
                  },
                  "description": "Message"
                },
                "file_url": {
                  "type": "string",
                  "description": "Maximum file size is 4 MB. All pages should be in portrait. Chat with ClickSend Support for complete specifications",
                  "title": "PDF File URL",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "messages",
                "file_url"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#send-fax"
        }
      }
    },
    "/{connectionId}/uploads": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "upload_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Upload ID",
                      "title": "Upload ID"
                    },
                    "file_name": {
                      "type": "string",
                      "description": "File Name",
                      "title": "File Name"
                    },
                    "date_added": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Date Added",
                      "title": "Date Added"
                    },
                    "date_delete": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Date Delete",
                      "title": "Date Delete"
                    },
                    "user_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "User ID",
                      "title": "User ID"
                    },
                    "_url": {
                      "type": "string",
                      "description": "Url",
                      "title": "Url"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Convert Media File Format",
        "operationId": "upload_media",
        "description": "Convert Media File Format",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "convert",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Select action the file is needed for",
            "x-ms-summary": "Select action the file is needed for",
            "x-ms-visibility": "important",
            "enum": [
              "fax",
              "mms",
              "csv",
              "post",
              "postcard"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "File Content (base64)",
                  "title": "File",
                  "format": "byte",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "content"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendsms/#convert-media-file-format"
        }
      }
    },
    "/{connectionId}/search/contacts-lists": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total",
                      "title": "Total"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Per Page",
                      "title": "Per Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Current Page",
                      "title": "Current Page"
                    },
                    "last_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Last Page",
                      "title": "Last Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "Next Page Url",
                      "title": "Next Page Url"
                    },
                    "prev_page_url": {
                      "type": "string",
                      "description": "Prev Page Url",
                      "title": "Prev Page Url"
                    },
                    "from": {
                      "type": "integer",
                      "format": "int32",
                      "description": "From",
                      "title": "From"
                    },
                    "to": {
                      "type": "integer",
                      "format": "int32",
                      "description": "To",
                      "title": "To"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id",
                            "title": "Id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name",
                            "title": "Name"
                          },
                          "contact": {
                            "type": "string",
                            "description": "Contact",
                            "title": "Contact"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type",
                            "title": "Type"
                          },
                          "contacts_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Contacts Count",
                            "title": "Contacts Count"
                          }
                        }
                      },
                      "description": "data"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
[...]
