{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "HipChat",
    "description": "HipChat is group chat, video chat and screen sharing tool for teams of all sizes. Built for business, HipChat is persistent, searchable and loaded with goodies your team will love.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/hipchat",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/message_trigger/room/{roomId}/history": {
      "get": {
        "summary": "When a message is posted to a room",
        "description": "Triggers when a new message is posted to an existing room.",
        "operationId": "OnNewMessage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/roomId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HistoryResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, post a message to the room.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/hipchat/#when-a-message-is-posted-to-a-room"
        }
      }
    },
    "/{connectionId}/file_trigger/room/{roomId}/history": {
      "get": {
        "summary": "When a file is uploaded to a room",
        "description": "Triggers when a file is uploaded an existing room.",
        "operationId": "OnNewFile",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/roomId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HistoryResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, post a message to the room.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/hipchat/#when-a-file-is-uploaded-to-a-room"
        }
      }
    },
    "/{connectionId}/room_trigger/room": {
      "get": {
        "summary": "When a new room is added",
        "description": "Triggers when a room is created.",
        "operationId": "OnNewRoom",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoomList"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work, add a room.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/hipchat/#when-a-new-room-is-added"
        }
      }
    },
    "/{connectionId}/room/{roomId}/participant": {
      "get": {
        "summary": "List users in a room",
        "description": "Gets all members of an existing room.",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/roomId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/hipchat/#list-users-in-a-room"
        }
      }
    },
    "/{connectionId}/user/{userid}": {
      "get": {
        "summary": "Get user by Id",
        "description": "Get a user's details by user id.",
        "operationId": "GetUserByID",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userid",
            "in": "path",
            "required": true,
            "x-ms-summary": "User Id",
            "description": "The id of the user",
            "type": "string",
            "x-ms-test-value": "4709410"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/hipchat/#get-user-by-id"
        }
      }
    },
    "/{connectionId}/room/{roomId}/message": {
      "post": {
        "summary": "Post message to a room",
        "description": "Post new message to an existing room.",
        "operationId": "PostMessage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/roomId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Body of the message.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "message"
              ],
              "properties": {
                "message": {
                  "description": "Text of the message.",
                  "type": "string",
                  "x-ms-summary": "Message",
                  "x-ms-visibility": "important"
                }
              }
            },
            "x-ms-summary": "Message",
            "x-ms-test-value": {
              "message": "test message"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/NewMessage"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/hipchat/#post-message-to-a-room"
        }
      }
    },
    "/{connectionId}/room": {
      "get": {
        "summary": "List Rooms",
        "description": "List the rooms the user has access to.",
        "operationId": "ListRooms",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RoomList"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/hipchat/#list-rooms"
        }
      }
    },
    "/{connectionId}/room/{roomId}/member/{memberid}": {
      "put": {
        "summary": "Add a user to a room",
        "description": "Adds a member to a private room.",
        "operationId": "AddUserToRoom",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/roomId__in_path"
          },
          {
            "name": "memberid",
            "in": "path",
            "description": "The id, email or mention name of the user.",
            "required": true,
            "x-ms-summary": "User Id or Email",
            "type": "string",
            "x-ms-test-value": "4709410"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/hipchat/#add-a-user-to-a-room"
        }
      }
    }
  },
  "definitions": {
    "HistoryResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "date": {
                "format": "date-time",
                "description": "Date the message was sent in ISO-8601 format.",
                "type": "string",
                "x-ms-summary": "Date Posted",
                "x-ms-visibility": "important"
              },
              "file": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "x-ms-summary": "File Name",
                    "description": "Name of the file.",
                    "x-ms-visibility": "important"
                  },
                  "url": {
                    "type": "string",
                    "x-ms-summary": "File URL",
                    "description": "URL of the file.",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "from": {
                "x-ms-summary": "Author's info.",
                "description": "The user that sent the message.",
                "x-ms-visibility": "advanced"
              },
              "id": {
                "description": "Unique id of the message.",
                "type": "string",
                "x-ms-summary": "Message Id",
                "x-ms-visibility": "advanced"
              },
              "message": {
                "description": "Body of the message.",
                "type": "string",
                "x-ms-summary": "Message",
                "x-ms-visibility": "important"
              }
            }
          }
        }
      }
    },
    "UserList": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "Member's user id.",
                "type": "integer",
                "x-ms-summary": "User Id",
                "x-ms-visibility": "important"
              },
              "is_present_in_room": {
                "description": "User Is Present.",
                "type": "boolean",
                "x-ms-summary": "User Is Present",
                "x-ms-visibility": "internal"
              },
              "mention_name": {
                "description": "Member's mention name.",
                "type": "string",
                "x-ms-summary": "Mention Name",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Member's display user name.",
                "type": "string",
                "x-ms-summary": "User Name",
                "x-ms-visibility": "important"
              }
            }
          }
        }
      }
    },
    "NewMessage": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique id of the message.",
          "type": "string",
          "x-ms-summary": "Message Id",
          "x-ms-visibility": "important"
        },
        "timestamp": {
          "description": "Date the message was sent in ISO-8601 format.",
          "type": "string",
          "x-ms-summary": "Date Posted"
        }
      }
    },
    "RoomList": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "Id of the room.",
                "type": "integer",
                "x-ms-summary": "Room Id",
                "x-ms-visibility": "important"
              },
              "is_archived": {
                "description": "True if the room is archived.",
                "type": "boolean",
                "x-ms-summary": "Archived",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Name of the room.",
                "type": "string",
                "x-ms-summary": "Room Name",
                "x-ms-visibility": "important"
              },
              "privacy": {
                "description": "True if the room is private.",
                "type": "string",
                "x-ms-summary": "Private",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "email": {
          "description": "User's email.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "User's id.",
          "type": "integer",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "advanced"
        },
        "mention_name": {
          "description": "User's @mention name.",
          "type": "string",
          "x-ms-summary": "Mention Name"
        },
        "name": {
          "description": "User's full name.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "parameters": {
    "roomId__in_path": {
      "name": "roomId",
      "in": "path",
      "description": "Room",
      "required": true,
      "x-ms-summary": "Room ID",
      "x-ms-dynamic-values": {
        "operationId": "ListRooms",
        "value-path": "id",
        "value-title": "name",
        "value-collection": "items"
      },
      "type": "string",
      "x-ms-test-value": "3527853"
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "ListRooms"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.atlassian.com/software/hipchat/downloads"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.atlassian.com/legal/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/hipchat"
  }
}
