{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "K2 Workflow",
    "description": "Use the K2 Workflow API service to remotely work with workflows and tasks.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "url": "https://portal.k2.com/ticket/default"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/k2workflow",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v1/op/{operation}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get Operations List",
        "description": "Use operations to manage the workflow API.",
        "operationId": "Operations_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "operation",
            "in": "path",
            "description": "The operation to perform.",
            "required": true,
            "x-ms-summary": "Refresh",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a message verify the success of the operation",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#get-operations-list"
        }
      }
    },
    "/{connectionId}/v1/serverEvents/{serialNumber}": {
      "get": {
        "tags": [
          "ServerEvents"
        ],
        "summary": "Get Server Event",
        "description": "Gets a server event by serial number.",
        "operationId": "ServerEvent_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the server event. Ex: 1234_5678.",
            "required": true,
            "x-ms-summary": "Server Event Serial Number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a server event json definition string.",
            "schema": {
              "$ref": "#/definitions/ServerEventDataResponse"
            }
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#get-server-event"
        }
      }
    },
    "/{connectionId}/v1/serverEvents/{serialNumber}/finish": {
      "post": {
        "tags": [
          "ServerEvents"
        ],
        "summary": "Finish Server Event",
        "description": "Send a finish response to an async server task awaiting a response",
        "operationId": "ServerEvent_Finish",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the server event. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Server Event Serial Number",
            "type": "string"
          },
          {
            "name": "userDefinedFields",
            "in": "body",
            "description": "Additional fields to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFieldsRequest"
            },
            "x-ms-summary": "Server Event Additional Fields"
          }
        ],
        "responses": {
          "204": {
            "description": "Send a finish response to an async server task awaiting a response"
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "default": {
            "description": "Send a finish response to an async server task awaiting a response"
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#finish-server-event"
        }
      }
    },
    "/{connectionId}/v1/tasks": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Tasks",
        "description": "Obtain a list of tasks available to the connected user.",
        "operationId": "Tasks_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Returns list of tasks for the connected user.",
            "required": false,
            "x-ms-summary": "All, Allocated, Sleeping, SharedFrom, SharedTo",
            "type": "string",
            "enum": [
              "All",
              "Allocated",
              "Sleeping"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of tasks using the optional username parameter as the context if specified.",
            "schema": {
              "$ref": "#/definitions/TasksResponse"
            }
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#get-tasks"
        }
      }
    },
    "/{connectionId}/v1/tasks/{serialNumber}": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task",
        "description": "Gets a task by serial number.",
        "operationId": "Tasks_GetTask",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a task using the optional username parameter as the context if specified.",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-summary": "Get Task",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#get-task"
        }
      }
    },
    "/{connectionId}/v1/tasks/{serialNumber}/actions": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Get Task Actions",
        "description": "Gets a list of actions for the task.",
        "operationId": "Tasks_GetTaskActions",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets a list of Actions for the serial number specified.",
            "schema": {
              "$ref": "#/definitions/TaskActionsResponse"
            }
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#get-task-actions"
        }
      }
    },
    "/{connectionId}/v1/tasks/{serialNumber}/actions/redirect": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Redirect Task",
        "description": "Sends a task to another person.",
        "operationId": "Tasks_PostRedirectAction",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "string"
          },
          {
            "name": "redirectData",
            "in": "body",
            "description": "The username of the target person.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserDefinedRedirect"
            },
            "x-ms-summary": "Redirect To"
          }
        ],
        "responses": {
          "204": {
            "description": "Redirects a task to the specified user and optionally updates workflow data and xml fields. No response is returned."
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "default": {
            "description": "Redirects a task to the specified user and optionally updates workflow data and xml fields. No response is returned."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#redirect-task"
        }
      }
    },
    "/{connectionId}/v1/tasks/{serialNumber}/actions/sleep": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Sleep Task",
        "description": "Sleeps a task for a duration, either number of seconds or until a date.",
        "operationId": "Tasks_PostSleepAction",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "string"
          },
          {
            "name": "sleepData",
            "in": "body",
            "description": "The sleep duration for the task, either as the number of seconds or until a specific date.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserDefinedSleep"
            },
            "x-ms-summary": "Number of seconds or yyyy-MM-ddTHH:mm:ss:fffZ(UTC format)."
          }
        ],
        "responses": {
          "204": {
            "description": "Sleeps a task for either the specified duration or until the specified date. No response is returned."
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "default": {
            "description": "Sleeps a task for either the specified duration or until the specified date. No response is returned."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#sleep-task"
        }
      }
    },
    "/{connectionId}/v1/tasks/{serialNumber}/actions/release": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Release Task",
        "description": "Releases a task.",
        "operationId": "Tasks_PostReleaseAction",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Releases a task. No response is returned."
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "The specified Task was not found."
          },
          "default": {
            "description": "Releases a task. No response is returned."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#release-task"
        }
      }
    },
    "/{connectionId}/v1/tasks/{serialNumber}/actions/wake": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Wake Task",
        "description": "Awakens a sleeping task.",
        "operationId": "Tasks_PostWakeAction",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Task was already awake.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "204": {
            "description": "Wakes up a task. No response is returned."
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "The specified Task was not found."
          },
          "default": {
            "description": "Wakes up a task. No response is returned."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#wake-task"
        }
      }
    },
    "/{connectionId}/v1/tasks/{serialNumber}/actions/assign": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Assign Task",
        "description": "Assigns a task to the current user.",
        "operationId": "Tasks_PostAssignAction",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Task was already assigned.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "204": {
            "description": "Assigns a task. No response is returned."
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "default": {
            "description": "Assigns a task. No response is returned."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#assign-task"
        }
      }
    },
    "/{connectionId}/v1/tasks/{serialNumber}/actions/{customAction}": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Action Task",
        "description": "Performs a workflow action.",
        "operationId": "Tasks_TaskCustomAction",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "serialNumber",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "string"
          },
          {
            "name": "customAction",
            "in": "path",
            "description": "The task action, defined by the workflow.",
            "required": true,
            "x-ms-summary": "Custom Action",
            "type": "string"
          },
          {
            "name": "userDefinedFields",
            "in": "body",
            "description": "Additional fields to update along with the task action.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFieldsRequest"
            },
            "x-ms-summary": "Data fields, XML Fields, and Item References."
          }
        ],
        "responses": {
          "204": {
            "description": "Custom Action Taken."
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "default": {
            "description": "Custom Action Taken."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#action-task"
        }
      }
    },
    "/{connectionId}/v1/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get Workflows",
        "description": "Get a list of available workflows.",
        "operationId": "GetWorkflows",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of workflow. Startable or Owned.",
            "required": false,
            "x-ms-summary": "Workflow Type",
            "type": "string",
            "enum": [
              "Startable",
              "Owned"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of workflows.",
            "schema": {
              "$ref": "#/definitions/WorkflowLabelsResponse[WorkflowLabel]"
            }
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#get-workflows"
        }
      }
    },
    "/{connectionId}/v1/workflows/{id}": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get Workflow",
        "description": "Gets a workflow definition by ID.",
        "operationId": "GetWorkflow",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the workflow.",
            "required": true,
            "x-ms-summary": "Workflow ID",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a workflow metadata definition.",
            "schema": {
              "$ref": "#/definitions/WorkflowDataResponse"
            }
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#get-workflow"
        }
      },
      "post": {
        "tags": [
          "Workflows"
        ],
        "summary": "Start Workflow",
        "description": "Creates and starts a new workflow instance.",
        "operationId": "StartWorkflow",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify a workflow ID to start instance.",
            "required": true,
            "x-ms-summary": "Workflow ID",
            "x-ms-dynamic-values": {
              "operationId": "GetWorkflows",
              "parameters": {},
              "value-collection": "workflows",
              "value-path": "id",
              "value-title": "systemName"
            },
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "instance",
            "in": "body",
            "description": "Send workflow instance object to start workflow.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserDefinedWorkflowInstance"
            },
            "x-ms-summary": "Workflow Instance Details"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates and starts a new workflow instance.",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#start-workflow"
        }
      }
    },
    "/{connectionId}/v1/workflows/{id}/schema": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get Workflow Schema",
        "description": "Gets a workflow JSON schema by ID.",
        "operationId": "GetWorkflowSchema",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The serial number of the task. Ex: 1234_5678",
            "required": true,
            "x-ms-summary": "Serial Number",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the JSON schema for a particular workflow."
          },
          "400": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          },
          "404": {
            "description": "Returns information about the error that occurred.",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/k2workflow/#get-workflow-schema"
        }
      }
    }
  },
  "definitions": {
    "ServerEventDataResponse": {
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the server event. Ex: 1234_5678",
          "type": "string",
          "x-ms-summary": "Server Event Serial Number"
        },
        "workflowID": {
          "format": "int32",
          "description": "The ID of the workflow associated with the server event.",
          "type": "integer",
          "x-ms-summary": "Server Event Workflow ID"
        },
        "workflowName": {
          "description": "The name of the workflow associated with the server event.",
          "type": "string",
          "x-ms-summary": "Server Event Workflow Name"
        },
        "workflowDisplayName": {
          "description": "The display name of the workflow associated with the server event.",
          "type": "string",
          "x-ms-summary": "Server Event Workflow Display Name"
        },
        "workflowCategory": {
          "description": "The category of the workflow associated with the server event.",
          "type": "string",
          "x-ms-summary": "Server Event Workflow Category"
        },
        "workflowInstanceID": {
          "format": "int32",
          "description": "The instance ID of the workflow associated with the server event.",
          "type": "integer",
          "x-ms-summary": "Server Event Workflow Instance ID"
        },
        "workflowInstanceFolio": {
          "description": "The folio of the workflow instance associated with the server event.",
          "type": "string",
          "x-ms-summary": "Server Event Workflow Folio"
        },
        "activityInstanceID": {
          "format": "int32",
          "description": "The activity instance ID of the server event.",
          "type": "integer",
          "x-ms-summary": "Server Event Activity Instance ID"
        },
        "activityInstanceDestinationID": {
          "format": "int32",
          "description": "The activity instance destination ID of the server event.",
          "type": "integer",
          "x-ms-summary": "Server Event Activity Destination ID"
        },
        "activityName": {
          "description": "The activity name of the server event.",
          "type": "string",
          "x-ms-summary": "Server Event Activity Name"
        },
        "eventName": {
          "description": "The event name of the server event.",
          "type": "string",
          "x-ms-summary": "Server Event Event Name"
        },
        "eventDescription": {
          "description": "The event description of the server event.",
          "type": "string",
          "x-ms-summary": "Server Event Event Description"
        },
        "originator": {
          "$ref": "#/definitions/User"
        },
        "eventInstance": {
          "$ref": "#/definitions/EventInstanceWrapper"
        },
        "dataFields": {
          "description": "The data fields of the activity.",
          "type": "object",
          "x-ms-summary": "Server Event Activity Data Fields"
        },
        "xmlFields": {
          "description": "The XML fields of the activity.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserDefinedXmlField"
          },
          "x-ms-summary": "Server Event Activity XML Fields"
        },
        "itemReferences": {
          "description": "The item references of the workflow instance.",
          "type": "object",
          "x-ms-summary": "Server Event Item References"
        },
        "workflowInstanceDataFieldsString": {
          "description": "String representaation of the data fields of the Workflow Instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Server Event Workflow Data Fields String"
        },
        "itemReferencesString": {
          "description": "String representing the item references of the workflow instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Server Event Item References String"
        },
        "viewFlowURL": {
          "type": "string"
        }
      },
      "example": {
        "serialNumber": "string",
        "workflowName": "string",
        "workflowDisplayName": "string",
        "workflowCategory": "string",
        "workflowInstanceID": 0,
        "workflowInstanceFolio": "string",
        "activityInstanceID": 0,
        "activityInstanceDestinationID": 0,
        "activityName": "string",
        "eventName": "string",
        "eventDescription": "string",
        "eventInstance": {
          "description": "string",
          "expectedDuration": 0,
          "id": 0,
          "metadata": "string",
          "name": "string",
          "priority": 0,
          "startDate": "2017-10-26T20:46:16.388Z"
        },
        "dataFields": {
          "Example": "string"
        },
        "xmlFields": [
          {
            "name": "string",
            "value": "string"
          }
        ],
        "itemReferences": {
          "Customer_Name": {
            "1": {
              "CustId": 1,
              "Region": 1,
              "Parameters": "string"
            }
          }
        },
        "workflowInstanceDataFieldsString": "string",
        "itemReferencesString": "string",
        "viewFlowURL": "string"
      }
    },
    "EventInstance": {
      "type": "object",
      "properties": {
        "StartDate": {
          "format": "date-time",
          "description": "Date and time the event instance started.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Event Instance Start Date"
        },
        "ExpectedDuration": {
          "format": "int32",
          "description": "Expected duration of the event instance.",
          "type": "integer",
          "x-ms-summary": "Event Instance Expected Duration"
        },
        "Priority": {
          "format": "int32",
          "description": "Priority of the event instance.",
          "type": "integer",
          "x-ms-summary": "Event Instance Priority"
        },
        "MetaData": {
          "description": "Metadata for the event instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Event Instance Metadata"
        },
        "Description": {
          "description": "Description of the event instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Event Instance Description"
        },
        "Name": {
          "description": "Name of the event instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Event Instance Name"
        },
        "ID": {
          "format": "int32",
          "description": "ID of the event instance.",
          "type": "integer",
          "readOnly": true,
          "x-ms-summary": "Event Instance ID"
        }
      }
    },
    "UserDefinedXmlField": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of an XML field.",
          "type": "string",
          "x-ms-summary": "XML Field Name"
        },
        "value": {
          "description": "The value of the XML field.",
          "type": "string",
          "x-ms-summary": "XML Field Value"
        }
      }
    },
    "UpdateFieldsRequest": {
      "type": "object",
      "properties": {
        "XmlFields": {
          "description": "The XML fields of the workflow instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserDefinedXmlField"
          },
          "x-ms-summary": "XML Fields"
        },
        "ItemReferences": {
          "description": "The Item Reference fields of the workflow instance.",
          "type": "object",
          "x-ms-summary": "Item References"
        },
        "DataFields": {
          "description": "The data fields of the workflow instance.",
          "type": "object",
          "x-ms-summary": "Data Fields"
        }
      },
      "example": {
        "xmlFields": [
          {
            "name": "string",
            "value": "string"
          }
        ],
        "itemReferences": {
          "Customer_Name": {
            "1": {
              "CustId": 1,
              "Region": 1,
              "Parameters": "string"
            }
          }
        },
        "dataFields": {
          "Example": "string"
        }
      }
    },
    "TasksResponse": {
      "type": "object",
      "properties": {
        "itemCount": {
          "format": "int32",
          "description": "The count of tasks returned.",
          "type": "integer",
          "readOnly": true,
          "x-ms-summary": "Task Count"
        },
        "tasks": {
          "description": "One or more tasks.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskLite"
          },
          "x-ms-summary": "Tasks"
        }
      }
    },
    "TaskLite": {
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the task. Ex: 1234_5678",
          "type": "string",
          "x-ms-summary": "Task Serial Number"
        },
        "status": {
          "description": "The status of the task. Ex: Open, Completed, Sleep, Allocated, Available",
          "enum": [
            "Open",
            "Completed",
            "Sleep",
            "Allocated",
            "Available"
          ],
          "type": "string",
          "x-ms-summary": "Task Status"
        },
        "taskStartDate": {
          "format": "date-time",
          "description": "The start date of the task.",
          "type": "string",
          "x-ms-summary": "Task Start Date"
        },
        "sleepUntil": {
          "format": "date-time",
          "description": "The date and time when the task will wake.",
          "type": "string",
          "x-ms-summary": "Task Sleep Duration"
        },
        "priority": {
          "format": "int32",
          "description": "The priority of the task.",
          "type": "integer",
          "x-ms-summary": "Task Priority"
        },
        "formURL": {
          "description": "The form URL of the task.",
          "type": "string",
          "x-ms-summary": "Task Form URL"
        },
        "viewFlowURL": {
          "description": "The View Flow URL of the task.",
          "type": "string",
          "x-ms-summary": "Task View Flow URL"
        },
        "workflowID": {
          "format": "int32",
          "description": "The ID of the workflow associated with the task.",
          "type": "integer",
          "x-ms-summary": "Task Workflow ID"
        },
        "workflowName": {
          "description": "The name of the workflow associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Workflow Name"
        },
        "workflowDisplayName": {
          "description": "The display name of the workflow associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Workflow Display Name"
        },
        "workflowCategory": {
          "description": "The category of the workflow associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Workflow Category"
        },
        "workflowInstanceID": {
          "format": "int32",
          "description": "The instance ID of the workflow associated with the task.",
          "type": "integer",
          "x-ms-summary": "Task Workflow Instance ID"
        },
        "workflowInstanceFolio": {
          "description": "The folio of the workflow instance associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Workflow Folio"
        },
        "activityInstanceID": {
          "format": "int32",
          "description": "The activity instance ID of the task.",
          "type": "integer",
          "x-ms-summary": "Task Instance ID"
        },
        "activityInstanceDestinationID": {
          "format": "int32",
          "description": "The activity instance destination ID of the task.",
          "type": "integer",
          "x-ms-summary": "Task Activity Destination ID"
        },
        "activityName": {
          "description": "The activity name of the task.",
          "type": "string",
          "x-ms-summary": "Task Activity Name"
        },
        "eventName": {
          "description": "The event name of the task.",
          "type": "string",
          "x-ms-summary": "Task Event Name"
        },
        "eventDescription": {
          "description": "The event description of the task.",
          "type": "string",
          "x-ms-summary": "Task Event Description"
        },
        "originator": {
          "$ref": "#/definitions/User"
        },
        "actions": {
          "$ref": "#/definitions/TaskActionsResponse"
        },
        "instruction": {
          "description": "The instructions associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Instructions"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "username": {
          "description": "User name of the person.",
          "type": "string",
          "x-ms-summary": "User Name"
        },
        "fqn": {
          "description": "Fully qualified name of the person. Ex: bob@denallix.com, K2:Denallix\\Bob",
          "type": "string",
          "x-ms-summary": "User FQN"
        },
        "email": {
          "description": "Email address of the person.",
          "type": "string",
          "x-ms-summary": "User Email"
        },
        "manager": {
          "description": "Manager of the person.",
          "type": "string",
          "x-ms-summary": "User Manager"
        },
        "displayName": {
          "description": "Display name of the person.",
          "type": "string",
          "x-ms-summary": "User Display Name"
        }
      }
    },
    "TaskActionsResponse": {
      "type": "object",
      "properties": {
        "nonBatchableActions": {
          "description": "List of actions that cannot be taken without assigning the task.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Nonbatchable Actions"
        },
        "batchableActions": {
          "description": "List of actions that can be taken without assigning the task.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Batchable Actions"
        },
        "systemActions": {
          "description": "List of system actions.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "System Actions"
        }
      }
    },
    "Task": {
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the task. Ex: 1234_5678",
          "type": "string",
          "x-ms-summary": "Task Serial Number"
        },
        "status": {
          "description": "The status of the task. Ex: Open, Completed, Sleep, Allocated, Available",
          "enum": [
            "Open",
            "Completed",
            "Sleep",
            "Allocated",
            "Available"
          ],
          "type": "string",
          "x-ms-summary": "Task Status"
        },
        "taskStartDate": {
          "format": "date-time",
          "description": "The start date of the task.",
          "type": "string",
          "x-ms-summary": "Task Start Date"
        },
        "sleepUntil": {
          "format": "date-time",
          "description": "The date and time when the task will wake.",
          "type": "string",
          "x-ms-summary": "Task Sleep Duration"
        },
        "priority": {
          "format": "int32",
          "description": "The priority of the task.",
          "type": "integer",
          "x-ms-summary": "Task Priority"
        },
        "formURL": {
          "description": "The form URL of the task.",
          "type": "string",
          "x-ms-summary": "Task Form URL"
        },
        "viewFlowURL": {
          "description": "The View Flow URL of the task.",
          "type": "string",
          "x-ms-summary": "Task View Flow URL"
        },
        "workflowID": {
          "format": "int32",
          "description": "The ID of the workflow associated with the task.",
          "type": "integer",
          "x-ms-summary": "Task Workflow ID"
        },
        "workflowName": {
          "description": "The name of the workflow associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Workflow Name"
        },
        "workflowDisplayName": {
          "description": "The display name of the workflow associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Workflow Display Name"
        },
        "workflowCategory": {
          "description": "The category of the workflow associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Workflow Category"
        },
        "workflowInstanceID": {
          "format": "int32",
          "description": "The instance ID of the workflow associated with the task.",
          "type": "integer",
          "x-ms-summary": "Task Workflow Instance ID"
        },
        "workflowInstanceFolio": {
          "description": "The folio of the workflow instance associated with the task.",
          "type": "string",
          "x-ms-summary": "Task Workflow Folio"
        },
        "activityInstanceID": {
          "format": "int32",
          "description": "The activity instance ID of the task.",
          "type": "integer",
          "x-ms-summary": "Task Instance ID"
        },
        "activityInstanceDestinationID": {
          "format": "int32",
          "description": "The activity instance destination ID of the task.",
          "type": "integer",
          "x-ms-summary": "Task Destination ID"
        },
        "activityName": {
          "description": "The activity name of the task.",
          "type": "string",
          "x-ms-summary": "Task Activity Name"
        },
        "eventName": {
          "description": "The event name of the task.",
          "type": "string",
          "x-ms-summary": "Task Event Name"
        },
        "eventDescription": {
          "description": "The event description of the task.",
          "type": "string",
          "x-ms-summary": "Task Event Description"
        },
        "originator": {
          "$ref": "#/definitions/User"
        },
        "actions": {
          "$ref": "#/definitions/TaskActionsResponse"
        },
        "workflowInstanceDataFields": {
          "description": "The data fields of the workflow instance.",
          "type": "object",
          "x-ms-summary": "Task Workflow Data Fields"
        },
        "activityDataFields": {
          "description": "The data fields of the activity.",
          "type": "object",
          "x-ms-summary": "Task Activity Data Fields"
        },
        "workflowInstanceXmlFields": {
          "description": "The XML fields of the workflow instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserDefinedXmlField"
          },
          "x-ms-summary": "Task Workflow XML Fields"
        },
        "itemReferences": {
          "description": "The item references of the workflow instance.",
          "type": "object",
          "x-ms-summary": "Task Item References"
        },
        "instruction": {
          "type": "string"
        },
        "workflowInstanceDataFieldsString": {
          "description": "String representaation of the data fields of the Workflow Instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Task Workflow Data Fields String"
        },
        "itemReferencesString": {
          "description": "String representing the item references of the workflow instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Task Item References String"
        }
      },
      "example": {
        "serialNumber": "string",
        "status": "Open",
        "taskStartDate": "2017-10-26T18:38:06.949Z",
        "sleepUntil": "2017-10-26T18:38:06.949Z",
        "priority": 0,
        "formURL": "string",
        "viewFlowURL": "string",
        "workflowID": 0,
        "workflowName": "string",
        "workflowDisplayName": "string",
        "workflowCategory": "string",
        "workflowInstanceID": 0,
        "workflowInstanceFolio": "string",
        "activityInstanceID": 0,
        "activityInstanceDestinationID": 0,
        "activityName": "string",
        "eventName": "string",
        "eventDescription": "string",
        "originator": {
          "username": "string",
          "fqn": "string",
          "email": "string",
          "manager": "string",
          "displayName": "string"
        },
        "actions": {
          "nonBatchableActions": [
            "string"
          ],
          "batchableActions": [
            "string"
          ],
          "systemActions": [
            "string"
          ]
        },
        "workflowInstanceDataFields": {
          "Example": "string"
        },
        "activityDataFields": {
          "Example": "string"
        },
        "workflowInstanceXmlFields": [
          {
            "name": "string",
            "value": "string"
          }
        ],
        "itemReferences": {
          "Customer_Name": {
            "1": {
              "CustId": 1,
              "Region": 1,
              "Parameters": "string"
            }
          }
        },
        "instruction": "string",
        "workflowInstanceDataFieldsString": "string",
        "itemReferencesString": "string"
      }
    },
    "UserDefinedRedirect": {
      "required": [
        "RedirectTo"
      ],
      "type": "object",
      "properties": {
        "RedirectTo": {
          "description": "The person to whom the task is redirected.",
          "type": "string",
          "x-ms-summary": "Redirect Information"
        }
      },
      "example": {
        "RedirectTo": "string"
      }
    },
    "UserDefinedSleep": {
      "type": "object",
      "properties": {
        "SleepFor": {
          "format": "int32",
          "description": "The number of seconds to sleep a task.",
          "maximum": 2147483647,
          "minimum": 1,
          "type": "integer",
          "x-ms-summary": "Sleep For"
        },
        "SleepUntil": {
          "format": "date-time",
          "description": "The date and time to wake the task. Format: yyyy-MM-ddTHH:mm:ss:fffZ UTC",
          "type": "string",
          "x-ms-summary": "Sleep Until"
        }
      },
      "example": {
        "SleepFor": 0,
        "SleepUntil": "2017-05-15T17:47:44.04Z"
      }
    },
    "WorkflowLabelsResponse[WorkflowLabel]": {
      "type": "object",
      "properties": {
        "itemCount": {
          "format": "int32",
          "description": "The number of workflows.",
          "type": "integer",
          "readOnly": true,
          "x-ms-summary": "Item Count"
        },
        "workflows": {
          "description": "A list of workflows.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkflowLabel"
          },
          "x-ms-summary": "Workflows"
        }
      }
    },
    "WorkflowLabel": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "The ID of the workflow.",
          "type": "integer",
          "x-ms-summary": "Workflow ID"
        },
        "defaultVersionId": {
          "format": "int32",
          "description": "The default workflow version.",
          "type": "integer",
          "x-ms-summary": "Workflow Default Version"
        },
        "name": {
          "description": "The workflow name.",
          "type": "string",
          "x-ms-summary": "Workflow Name"
        },
        "folder": {
          "description": "The workflow folder.",
          "type": "string",
          "x-ms-summary": "Workflow Folder"
        },
        "systemName": {
          "description": "The workflow system name.",
          "type": "string",
          "x-ms-summary": "Workflow System Name"
        }
      }
    },
    "WorkflowDataResponse": {
      "type": "object",
      "properties": {
        "workflowInfo": {
          "$ref": "#/definitions/WorkflowDefinition"
        },
        "workflowSchema": {
          "description": "The schema of the workflow.",
          "type": "string",
          "x-ms-summary": "Workflow Schema"
        }
      }
    },
    "WorkflowDefinition": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the workflow.",
          "type": "string",
          "x-ms-summary": "Workflow Name"
        },
        "description": {
          "description": "The description of the workflow.",
          "type": "string",
          "x-ms-summary": "Workflow Description"
        },
        "folder": {
          "description": "The folder (category) of the workflow.",
          "type": "string",
          "x-ms-summary": "Workflow Folder"
        },
        "systemName": {
          "description": "The system name of the workflow.",
          "type": "string",
          "x-ms-summary": "Workflow System Name"
        },
        "expectedDuration": {
          "format": "int32",
          "description": "The expected duration of the workflow.",
          "type": "integer",
          "x-ms-summary": "Workflow Expected Duration"
        }
      }
    },
    "UserDefinedWorkflowInstance": {
      "type": "object",
      "properties": {
        "folio": {
          "description": "The folio of the workflow instance.",
          "type": "string",
          "x-ms-summary": "Workflow Folio"
        },
        "expectedDuration": {
          "format": "int32",
          "description": "The expected duration of the workflow instance.",
          "type": "integer",
          "x-ms-summary": "Workflow Expected Duration"
        },
        "priority": {
          "format": "int32",
          "description": "The priority of the workflow instance.",
          "type": "integer",
          "x-ms-summary": "Workflow Priority"
        },
        "dataFields": {
          "description": "The data fields of the workflow instance.",
          "type": "object",
          "x-ms-summary": "Workflow Data Fields"
        },
        "xmlFields": {
          "description": "The XML fields of the workflow instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserDefinedXmlField"
          },
          "x-ms-summary": "Workflow XML Fields"
        },
        "itemReferences": {
          "description": "The item references of the workflow instance.",
          "type": "object",
          "x-ms-summary": "Workflow Item References"
        },
        "workflow": {
          "description": "The schema of the workflow instance.",
          "type": "object",
          "x-ms-summary": "Workflow Schema"
        }
      },
      "example": {
        "folio": "Order #12345",
        "expectedDuration": 86400,
        "priority": 1,
        "dataFields": {
          "Order Index": "string",
          "Order Index Result": false
        },
        "xmlFields": [
          {
            "name": "Order Items",
            "value": "<OrderItems><Item Id=\"1000\"></Item><Item Id=\"51400\"></Item></OrderItems>"
          },
          {
            "name": "ItemReferences",
            "value": "<itemReferences><itemReference primary=\"true\" name=\"Customer_Name\" type=\"SmartObjectItem\" displayName=\"Customer Name\"><settings><method><objectName>Customer_Name</objectName><objectTypes><type>List</type></objectTypes><methodName>Load</methodName><methodType>read</methodType>      </method>    </settings>  </itemReference></itemReferences>"
          }
        ],
        "itemReferences": {
          "Customer_Name": {
            "1": {
              "CustId": 1,
              "Region": 1,
              "Parameters": "string"
            }
          },
          "xmlContent": "string"
        }
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetWorkflowSchema",
        "parameters": {
          "id": {
            "parameter": "id"
          }
        },
        "value-path": "workflow"
      }
    },
    "WorkflowDefinitionSchema": {
      "type": "object",
      "properties": {},
      "example": {
        "workflow": {
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
            "folio": {
              "type": "string"
            },
            "priority": {
              "type": "number",
              "x-ms-visibility": "advanced"
            },
            "expectedDuration": {
              "type": "number",
              "x-ms-visibility": "advanced"
            },
            "xmlFields": {
              "type": "string",
              "x-ms-visibility": "advanced"
            },
            "dataFields": {
              "type": "object",
              "x-ms-visibility": "advanced"
            },
            "itemReferences": {
              "type": "object",
              "x-ms-visibility": "advanced"
            }
          }
        }
      }
    },
    "EventInstanceWrapper": {
      "type": "object",
      "properties": {
        "EventInstance": {
          "$ref": "#/definitions/EventInstance"
        },
        "Description": {
          "description": "Description of the event instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Event Instance Description"
        },
        "ExpectedDuration": {
          "format": "int32",
          "description": "Expected duration of the event instance.",
          "type": "integer",
          "x-ms-summary": "Event Instance Expected Duration"
        },
        "ID": {
          "format": "int32",
          "description": "ID of the event instance.",
          "type": "integer",
          "readOnly": true,
          "x-ms-summary": "Event Instance ID"
        },
        "MetaData": {
          "description": "Metadata for the event instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Event Instance Metadata"
        },
        "Name": {
          "description": "Name of the event instance.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Event Instance Name"
        },
        "Priority": {
          "format": "int32",
          "description": "Priority of the event instance.",
          "type": "integer",
          "x-ms-summary": "Event Instance Priority"
        },
        "StartDate": {
          "format": "date-time",
          "description": "Date and time the event instance started.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Event Instance Start Date"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic": {
      "type": "basic",
      "description": "Basic HTTP Authentication"
    },
    "oauth2": {
      "type": "oauth2",
      "description": "K2 Cloud AAD",
      "flow": "implicit",
      "authorizationUrl": "https://login.windows.net/k2cloudprev02.onmicrosoft.com/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "basic": []
    },
    {
      "oauth2": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.k2.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.k2.com/legal/privacy-policy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/k2workflow"
  }
}
