{
  "swagger": "2.0",
  "info": {
    "title": "ClickSend Postcards",
    "description": "ClickSend Postcard is a cloud-based service enabling you to easily send beautiful colour postcards for any occasion to anyone, anywhere at any scale in an instant.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "version": "1.0",
    "contact": {
      "name": "ClickSend Postcards Support",
      "url": "https://www.clicksend.com/au/help",
      "email": "Support@clicksend.com"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/clicksendpostcards",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.clicksend.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.clicksend.com/us/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ],
  "paths": {
    "/{connectionId}/countries": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "Code",
                        "title": "Code"
                      },
                      "value": {
                        "type": "string",
                        "description": "Value",
                        "title": "Value"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Get Countries",
        "operationId": "get_countries",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Get Countries",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendpostcards/#get-countries"
        }
      }
    },
    "/{connectionId}/uploads": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "upload_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Upload ID",
                      "title": "Upload ID"
                    },
                    "file_name": {
                      "type": "string",
                      "description": "File Name",
                      "title": "File Name"
                    },
                    "date_added": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Date Added",
                      "title": "Date Added"
                    },
                    "date_delete": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Date Delete",
                      "title": "Date Delete"
                    },
                    "user_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "User ID",
                      "title": "User ID"
                    },
                    "_url": {
                      "type": "string",
                      "description": "Url",
                      "title": "Url"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Convert Media File for Postcards",
        "operationId": "upload_media",
        "description": "Convert Media File for Postcards",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "convert",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Select action the file is needed for",
            "x-ms-summary": "Select action the file is needed for",
            "x-ms-visibility": "internal",
            "default": "postcard"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "File Content (base64)",
                  "title": "File",
                  "format": "byte",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "content"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendpostcards/#convert-media-file-for-postcards"
        }
      }
    },
    "/{connectionId}/post/return-addresses": {},
    "/{connectionId}/post/postcards/send": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "total_price": {
                      "type": "number",
                      "format": "double",
                      "description": "Total Price",
                      "title": "Total Price"
                    },
                    "total_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total Count",
                      "title": "Total Count"
                    },
                    "queued_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Queued Count",
                      "title": "Queued Count"
                    },
                    "recipients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "User ID",
                            "title": "User ID"
                          },
                          "subaccount_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Subaccount ID",
                            "title": "Subaccount ID"
                          },
                          "message_id": {
                            "type": "string",
                            "description": "Message ID",
                            "title": "Message ID"
                          },
                          "address_name": {
                            "type": "string",
                            "description": "Address Name",
                            "title": "Address Name"
                          },
                          "address_line_1": {
                            "type": "string",
                            "description": "Address Line 1",
                            "title": "Address Line 1"
                          },
                          "address_line_2": {
                            "type": "string",
                            "description": "Address Line 2",
                            "title": "Address Line 2"
                          },
                          "address_city": {
                            "type": "string",
                            "description": "Address City",
                            "title": "Address City"
                          },
                          "address_state": {
                            "type": "string",
                            "description": "Address State",
                            "title": "Address State"
                          },
                          "address_postal_code": {
                            "type": "string",
                            "description": "Address Postal Code",
                            "title": "Address Postal Code"
                          },
                          "address_country": {
                            "type": "string",
                            "description": "Address Country",
                            "title": "Address Country"
                          },
                          "return_address_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Return Address ID",
                            "title": "Return Address ID"
                          },
                          "schedule": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Schedule",
                            "title": "Schedule"
                          },
                          "post_price": {
                            "type": "string",
                            "description": "Post Price",
                            "title": "Post Price"
                          },
                          "status": {
                            "type": "string",
                            "description": "Status",
                            "title": "Status"
                          },
                          "date_added": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Date Added",
                            "title": "Date Added"
                          },
                          "_file_url": {
                            "type": "string",
                            "description": "File Url",
                            "title": "File Url"
                          },
                          "_return_address": {
                            "type": "object",
                            "properties": {
                              "return_address_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Return Address ID",
                                "title": "Return Address ID"
                              },
                              "user_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "User ID",
                                "title": "User ID"
                              },
                              "address_name": {
                                "type": "string",
                                "description": "Address Name",
                                "title": "Address Name"
                              },
                              "address_line_1": {
                                "type": "string",
                                "description": "Address Line 1",
                                "title": "Address Line 1"
                              },
                              "address_line_2": {
                                "type": "string",
                                "description": "Address Line 2",
                                "title": "Address Line 2"
                              },
                              "address_city": {
                                "type": "string",
                                "description": "Address City",
                                "title": "Address City"
                              },
                              "address_state": {
                                "type": "string",
                                "description": "Address State",
                                "title": "Address State"
                              },
                              "address_postal_code": {
                                "type": "string",
                                "description": "Address Postal Code",
                                "title": "Address Postal Code"
                              },
                              "address_country": {
                                "type": "string",
                                "description": "Address Country",
                                "title": "Address Country"
                              }
                            },
                            "description": "Return Address"
                          },
                          "_api_username": {
                            "type": "string",
                            "description": "Api Username",
                            "title": "Api Username"
                          }
                        }
                      },
                      "description": "Recipient"
                    },
                    "_currency": {
                      "type": "object",
                      "properties": {
                        "currency_name_short": {
                          "type": "string",
                          "description": "Currency Name Short",
                          "title": "Currency Name Short"
                        },
                        "currency_prefix_d": {
                          "type": "string",
                          "description": "Currency Prefix D",
                          "title": "Currency Prefix D"
                        },
                        "currency_prefix_c": {
                          "type": "string",
                          "description": "Currency Prefix C",
                          "title": "Currency Prefix C"
                        },
                        "currency_name_long": {
                          "type": "string",
                          "description": "Currency Name Long",
                          "title": "Currency Name Long"
                        }
                      },
                      "description": "Currency"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Send Postcard",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address_name": {
                        "type": "string",
                        "description": "Address Name",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "address_city": {
                        "type": "string",
                        "description": "City",
                        "title": "City"
                      },
                      "address_state": {
                        "type": "string",
                        "description": "State",
                        "title": "State",
                        "x-ms-visibility": "important"
                      },
                      "address_postal_code": {
                        "type": "string",
                        "description": "Postal Code",
                        "title": "Postal Code",
                        "x-ms-visibility": "important"
                      },
                      "address_country": {
                        "type": "string",
                        "description": "Country",
                        "title": "Country",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                          "operationId": "get_countries",
                          "value-path": "code",
                          "value-collection": "data",
                          "value-title": "value"
                        }
                      },
                      "return_address_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Return address ID to use",
                        "title": "Return Address ID",
                        "x-ms-dynamic-values": {
                          "operationId": "get_return_addresses",
                          "value-path": "return_address_id",
                          "value-collection": "data",
                          "value-title": "address_name"
                        }
                      },
                      "address_line_1": {
                        "type": "string",
                        "description": "First line of address",
                        "title": "Address Line 1",
                        "x-ms-visibility": "important"
                      },
                      "address_line_2": {
                        "type": "string",
                        "description": "Second line of address",
                        "title": "Address Line 2",
                        "x-ms-visibility": "important"
                      }
                    },
                    "required": [
                      "address_city",
                      "address_country",
                      "address_line_1",
                      "address_postal_code",
                      "address_state",
                      "address_name",
                      "return_address_id"
                    ]
                  },
                  "description": "item"
                },
                "source": {
                  "type": "string",
                  "description": "Source",
                  "title": "Source",
                  "x-ms-visibility": "internal",
                  "default": "MSPowerAutomate-pc"
                },
                "file_urls": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Url to file where the postcard size is A5 with a 5 mm bleed and no border. Chat with ClickSend Support for complete specifications",
                    "title": "PDF File Url",
                    "x-ms-visibility": "important"
                  },
                  "description": "PDF File URL"
                }
              },
              "required": [
                "recipients",
                "file_urls",
                "source"
              ]
            }
          }
        ],
        "description": "Send one or more postcards",
        "operationId": "send_postcard",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendpostcards/#send-postcard"
        }
      }
    },
    "/{connectionId}/ms-flow/post/return-addresses": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "http_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Http Code",
                  "title": "Http Code"
                },
                "response_code": {
                  "type": "string",
                  "description": "Response Code",
                  "title": "Response Code"
                },
                "response_msg": {
                  "type": "string",
                  "description": "Response Message",
                  "title": "Response Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "return_address_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Return Address ID",
                        "title": "Return Address ID"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "User ID",
                        "title": "User ID"
                      },
                      "address_name": {
                        "type": "string",
                        "description": "Address Name",
                        "title": "Address Name"
                      },
                      "address_line_1": {
                        "type": "string",
                        "description": "Address Line 1",
                        "title": "Address Line 1"
                      },
                      "address_line_2": {
                        "type": "string",
                        "description": "Address Line 2",
                        "title": "Address Line 2"
                      },
                      "address_city": {
                        "type": "string",
                        "description": "Address City",
                        "title": "Address City"
                      },
                      "address_state": {
                        "type": "string",
                        "description": "Address State",
                        "title": "Address State"
                      },
                      "address_postal_code": {
                        "type": "string",
                        "description": "Address Postal Code",
                        "title": "Address Postal Code"
                      },
                      "address_country": {
                        "type": "string",
                        "description": "Address Country",
                        "title": "Address Country"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "The request was invalid or cannot be otherwise served"
          },
          "401": {
            "description": "Authentication credentials were missing or incorrect"
          },
          "403": {
            "description": "The request is understood, but it has been refused or access is not allowed"
          },
          "404": {
            "description": "The URI requested is invalid or the resource requested does not exists"
          },
          "405": {
            "description": "Method doesn't exist or is not allowed"
          },
          "429": {
            "description": "Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for  the resource. See Rate Limiting"
          },
          "500": {
            "description": "Something is broken"
          }
        },
        "summary": "Get Return Addresses",
        "description": "Get list of post return addresses",
        "operationId": "get_return_addresses",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/clicksendpostcards/#get-return-addresses"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/clicksendpostcards"
  }
}
