{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Pipedrive",
    "description": "Pipedrive is a CRM & pipeline management tool that helps you focus on actions that matter.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/v1/activities": {
      "get": {
        "summary": "When a new activity is added",
        "description": "Triggers when a new activity is added to the authorized account.",
        "x-ms-visibility": "advanced",
        "operationId": "TrigNewActivity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigNewActivityResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new activity.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#when-a-new-activity-is-added"
        }
      }
    },
    "/{connectionId}/trigger/v1/deals": {
      "get": {
        "summary": "When a new deal is added",
        "description": "Triggers when a new deal is added to the authorized account.",
        "operationId": "TrigNewDeal",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigNewDealResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new deal.",
        "x-ms-api-annotation": {
          "family": "TrigNewDeal",
          "revision": 1,
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#when-a-new-deal-is-added-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/connector-v2/trigger/v1/deals": {
      "get": {
        "summary": "When a new deal is added (V2)",
        "description": "Triggers when a new deal is added to the authorized account (V2).",
        "operationId": "TrigNewDealV2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TrigNewDealResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new deal.",
        "x-ms-api-annotation": {
          "family": "TrigNewDeal",
          "revision": 2,
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#when-a-new-deal-is-added-(v2)"
        }
      }
    },
    "/{connectionId}/v1/persons": {
      "get": {
        "summary": "List persons",
        "description": "List persons",
        "operationId": "ListPersons",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPersonsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#list-persons"
        }
      }
    },
    "/{connectionId}/v1/organizations": {
      "get": {
        "summary": "List organizations",
        "description": "List organizations",
        "operationId": "ListOrganizations",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListOrganizationsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#list-organizations"
        }
      }
    },
    "/{connectionId}/v1/deals": {
      "get": {
        "summary": "List deals",
        "description": "List deals",
        "operationId": "ListDeals",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDealsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#list-deals"
        }
      },
      "post": {
        "summary": "Add deal",
        "description": "This operation creates a new deal for the authorized account.",
        "operationId": "AddDeal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddDealRequest"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "family": "AddDeal",
          "revision": 1,
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#add-deal-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/connector-v2/v1/deals": {
      "post": {
        "summary": "Add deal (V2)",
        "description": "This operation creates a new deal for the authorized account.",
        "operationId": "AddDealV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddDealRequestV2"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "family": "AddDeal",
          "revision": 2,
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#add-deal-(v2)"
        }
      }
    },
    "/{connectionId}/v1/deals/{dealId}": {
      "get": {
        "summary": "Get deal by id",
        "description": "This operation retrieves all details of an existing deal, given its id.",
        "operationId": "GetDeal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dealId",
            "in": "path",
            "description": "Deal",
            "required": true,
            "x-ms-summary": "Deal Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListDeals",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "title"
            },
            "x-ms-test-value": 10,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#get-deal-by-id"
        }
      }
    },
    "/{connectionId}/update_stage_deal/v1/deals/{dealId}": {
      "put": {
        "summary": "Update deal stage",
        "description": "This operation is used to update the stage associated with a deal, given its id.",
        "operationId": "UpdateDealStage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dealId",
            "in": "path",
            "description": "Deal",
            "required": true,
            "x-ms-summary": "Deal Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListDeals",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "title"
            },
            "x-ms-test-value": 10,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDealStageRequest"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "UpdateDealStage",
          "revision": 1,
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#update-deal-stage-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/connector-v2/update_stage_deal/v1/deals/{dealId}": {
      "put": {
        "summary": "Update deal stage (V2)",
        "description": "This operation is used to update the stage associated with a deal, given its id.",
        "operationId": "UpdateDealStageV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dealId",
            "in": "path",
            "description": "Deal",
            "required": true,
            "x-ms-summary": "Deal Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListDeals",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "title"
            },
            "x-ms-test-value": 10,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDealStageRequestV2"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "UpdateDealStage",
          "revision": 2,
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#update-deal-stage-(v2)"
        }
      }
    },
    "/{connectionId}/update_status_deal/v1/deals/{dealId}": {
      "put": {
        "summary": "Update deal status",
        "description": "This operation is used to update the status associated with a deal, given its id.",
        "operationId": "UpdateDealStatus",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dealId",
            "in": "path",
            "description": "Deal",
            "required": true,
            "x-ms-summary": "Deal Id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListDeals",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "title"
            },
            "x-ms-test-value": 10,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateDealStatusRequest"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#update-deal-status"
        }
      }
    },
    "/{connectionId}/v1/activities": {
      "post": {
        "summary": "Add activity",
        "description": "This operation is used to create a new activity for the authorized account.",
        "operationId": "AddActivity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddActivityRequest"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActivityResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#add-activity"
        }
      }
    },
    "/{connectionId}/v1/activityTypes": {
      "get": {
        "summary": "List activity types",
        "description": "List activity types",
        "operationId": "ListActivityTypes",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListActivityTypesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#list-activity-types"
        }
      }
    },
    "/{connectionId}/v1/pipelines": {
      "get": {
        "summary": "List pipelines",
        "description": "List pipelines",
        "operationId": "ListPipelines",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListPipelinesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#list-pipelines"
        }
      }
    },
    "/{connectionId}/v1/pipelines/{pipeline_id}/deals": {
      "get": {
        "summary": "List deals in pipeline",
        "description": "List deals in pipeline",
        "operationId": "ListPipelineDeals",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "pipeline_id",
            "in": "path",
            "description": "Unique Id of the pipeline to fetch stages",
            "required": true,
            "x-ms-summary": "Pipeline Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDealsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#list-deals-in-pipeline"
        }
      }
    },
    "/{connectionId}/v1/stages": {
      "get": {
        "summary": "List stages",
        "description": "List stages",
        "operationId": "ListStages",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "pipeline_id",
            "in": "query",
            "description": "Unique Id of the pipeline to fetch stages",
            "required": true,
            "x-ms-summary": "Pipeline Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListStagesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#list-stages"
        }
      }
    },
    "/{connectionId}/v1/currencies": {
      "get": {
        "summary": "List currencies",
        "description": "List currencies",
        "operationId": "ListCurrencies",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCurrenciesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#list-currencies"
        }
      }
    },
    "/{connectionId}/v1/stages/{stageId}": {
      "get": {
        "summary": "Get stage by id",
        "description": "This operation returns data about a specific stage.",
        "operationId": "GetStage",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "stageId",
            "in": "path",
            "description": "Stage Id",
            "required": true,
            "x-ms-summary": "Stage Id",
            "x-ms-visibility": "important",
            "x-ms-test-value": 10,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StageResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pipedrive/#get-stage-by-id"
        }
      }
    }
  },
  "definitions": {
    "AddActivityRequest": {
      "type": "object",
      "required": [
        "type",
        "subject"
      ],
      "properties": {
        "type": {
          "description": "Activity type.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListActivityTypes",
            "value-collection": "data",
            "value-path": "key_string",
            "value-title": "name"
          }
        },
        "subject": {
          "description": "Subject of the activity.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "due_date": {
          "description": "YYYY-MM-DD",
          "type": "string",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "important"
        },
        "due_time": {
          "description": "HH:MM",
          "type": "string",
          "x-ms-summary": "Due Time",
          "x-ms-visibility": "advanced"
        },
        "duration": {
          "description": "HH:MM",
          "type": "string",
          "x-ms-summary": "Duration",
          "x-ms-visibility": "advanced"
        },
        "note": {
          "type": "string",
          "x-ms-summary": "Notes",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "format": "int32",
          "description": "Id of the user whom the activity will be assigned to.",
          "type": "integer",
          "x-ms-summary": "Assigned to",
          "x-ms-visibility": "advanced"
        },
        "deal_id": {
          "format": "int32",
          "description": "ID of deal the activity will be associated with.",
          "type": "integer",
          "x-ms-summary": "Deal Id",
          "x-ms-visibility": "advanced"
        },
        "person_id": {
          "format": "int32",
          "description": "Id of person the activity will be associated with.",
          "type": "integer",
          "x-ms-summary": "Contact Id",
          "x-ms-visibility": "advanced"
        },
        "org_id": {
          "format": "int32",
          "description": "ID of the organization the activity will be associated with.",
          "type": "integer",
          "x-ms-summary": "Organization Id",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "type": "call",
        "subject": "subject",
        "done": 0,
        "due_date": "2017-02-03",
        "due_time": "02:30",
        "duration": "01:15",
        "user_id": 2078747,
        "deal_id": 10,
        "person_id": 8,
        "org_id": 10,
        "note": "here is a note"
      }
    },
    "AddDealRequest": {
      "type": "object",
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "description": "Title of the deal.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "stage_id": {
          "description": "Stage of the deal.",
          "type": "string",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "important",
          "enum": [
            "Lead In",
            "Contact Made",
            "Demo Scheduled",
            "Proposal Made",
            "Negotiations Started"
          ]
        },
        "status": {
          "description": "Status of the deal.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important",
          "enum": [
            "Open",
            "Won",
            "Lost",
            "Deleted"
          ]
        },
        "value": {
          "format": "int32",
          "description": "Monetary value of the deal.",
          "type": "integer",
          "x-ms-summary": "Value",
          "x-ms-visibility": "advanced"
        },
        "currency": {
          "description": "Currency of the deal.",
          "type": "string",
          "x-ms-summary": "Currency",
          "x-ms-visibility": "advanced",
          "enum": [
            "Afghanistan Afghani",
            "Albanian Lek",
            "Algerian Dinar",
            "Angolan Kwanza",
            "Argentine Peso",
            "Armenian Dram",
            "Aruban Guilder",
            "Australian Dollar",
            "Azerbaijan New Manat",
            "Azerbaijanian Manat",
            "Bahamian Dollar",
            "Bahraini Dinar",
            "Bangladesh Taka",
            "Barbados Dollar",
            "Belarussian Ruble",
            "Belize Dollar",
            "Bermudian Dollar",
            "Bhutan Ngultrum",
            "Bitcoin",
            "Bolivian Boliviano",
            "Bosnia and Herzegovina Convertible Marks",
            "Botswana Pula",
            "Brazilian Real",
            "Brunei Dollar",
            "Bulgarian Lev",
            "Burundi Franc",
            "Cambodia Riel",
            "Canadian Dollar",
            "Cape Verde Escudo",
            "Cayman Islands Dollar",
            "CFA Franc BCEAO",
            "CFA Franc BEAC",
            "CFP Franc",
            "Chilean Peso",
            "Chilean Unidad de Fomento",
            "Chinese Yuan Renminbi",
            "Colombian Peso",
            "Comoro Franc",
            "Costa Rican Colon",
            "Croatian Kuna",
            "Cuban Peso",
            "Cyprus Pound",
            "Czech Koruna",
            "Danish Krone",
            "Djibouti Franc",
            "Dominican Peso",
            "East Caribbean Dollar",
            "Egyptian Pound",
            "El Salvador Colon",
            "Eritrea Nafka",
            "Estonian Kroon",
            "Ethiopian Birr",
            "Euro",
            "Falkland Islands Pound",
            "Fiji Dollar",
            "Franc Congolais",
            "Gambian Dalasi",
            "Georgian Lari",
            "Ghana Cedi",
            "Ghanaian Cedi",
            "Gibraltar Pound",
            "Gold",
            "Guatemala Quetzal",
            "Guinea Franc",
            "Guyana Dollar",
            "Haiti Gourde",
            "Honduras Lempira",
            "Hong Kong Dollar",
            "Hungarian Forint",
            "Iceland Krona",
            "Indian Rupee",
            "Indonesian Rupiah",
            "Iranian Rial",
            "Iraqi Dinar",
            "Jamaican Dollar",
            "Japanese Yen",
            "Jordanian Dinar",
            "Kazakhstan Tenge",
            "Kenyan Shilling",
            "Korean Won",
            "Kuwaiti Dinar",
            "Kyrgyzstan Som",
            "Lao Kip",
            "Latvian Lats",
            "Lebanese Pound",
            "Lesotho Loti",
            "Liberian Dollar",
            "Libyan Dinar",
            "Lithuanian Litas",
            "Macau Pataca",
            "Macedonian Denar",
            "Malagasy Ariary",
            "Malawi Kwacha",
            "Malaysian Ringgit",
            "Maldives Rufiyaa",
            "Maltese Lira",
            "Mauritania Ouguiya",
            "Mauritius Rupee",
            "Mexican Peso",
            "Moldovan Leu",
            "Mongolian Tugrik",
            "Moroccan Dirham",
            "Mozambican Metical",
            "Mozambique Metical",
            "Myanmar Kyat",
            "Namibia Dollar",
            "Nepalese Rupee",
            "Netherlands Antillian Guilder",
            "New Belarusian Ruble",
            "New Israeli Shekel",
            "New Taiwan Dollar",
            "New Zealand Dollar",
            "Nicaragua Cordoba Oro",
            "Nigerian Naira",
            "North Korean Won",
            "Norwegian Krone",
            "Pakistan Rupee",
            "Palladium",
            "Panama Balboa",
            "Papua New Guinea Kina",
            "Paraguayan Guarani",
            "Peruvian Nuevo Sol",
            "Peso Uruguayo",
            "Philippine Peso",
            "Platinum",
            "Polish Zloty",
            "Pound Sterling",
            "Qatari Rial",
            "Rial Omani",
            "Romanian Leu",
            "Russian Ruble",
            "Rwanda Franc",
            "Samoa Tala",
            "São Tome and Principe Dobra",
            "Saudi Riyal",
            "SDR (Special Drawing Rights)",
            "Serbian Dinar (CSD)",
            "Serbian Dinar (RSD)",
            "Seychelles Rupee",
            "Sierra Leone Leone",
            "Silver",
            "Singapore Dollar",
            "Slovak Koruna",
            "Slovenian Tolar",
            "Solomon Islands Dollar",
            "Somali Shilling",
            "South African Rand",
            "Sri Lanka Rupee",
            "St Helena Pound",
            "Sudanese Dinar",
            "Sudanese Pound",
            "Surinam Dollar",
            "Swaziland Lilangeni",
            "Swedish Krona",
            "Swiss Franc",
            "Syrian Pound",
            "Tajik Somoni",
            "Tanzanian Shilling",
            "Thai Baht",
            "Tonga Pa'anga",
            "Trinidad and Tobago Dollar",
            "Tunisian Dinar",
            "Turkish Lira",
            "Turkmenistan Manat",
            "Turkmenistani Manat",
            "UAE Dirham",
            "Uganda Shilling",
            "Ukraine Hryvnia",
            "US Dollar",
            "Uzbekistan Sum",
            "Vanuatu Vatu",
            "Venezuelan Bolivar",
            "Venezuelan Bolívar",
            "Vietnamese Dong",
            "Yemeni Rial",
            "Zambian Kwacha (ZMK)",
            "Zambian Kwacha (ZMW)",
            "Zimbabwe Dollar"
          ]
        },
        "person_id": {
          "description": "User id of person the deal is associated with.",
          "type": "string",
          "x-ms-summary": "Contact Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListPersons",
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "org_id": {
          "description": "Id of the organization associated with the deal.",
          "type": "string",
          "x-ms-summary": "Organization Id",
          "x-ms-visibility": "advanced",
          "x-ms-dynamic-values": {
            "operationId": "ListOrganizations",
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "expected_close_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Expected Close Date",
          "x-ms-visibility": "important"
        },
        "visible_to": {
          "description": "Owner, followers or entire company.",
          "type": "string",
          "x-ms-summary": "Visiblity",
          "x-ms-visibility": "advanced",
          "enum": [
            "Owner and followers",
            "Entire company"
          ]
        }
      },
      "x-ms-test-value": {
        "title": "test"
      }
    },
    "AddDealRequestV2": {
      "type": "object",
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "description": "Title of the deal.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "pipeline_id": {
          "description": "The id of the pipeline to fetch stages from.",
          "x-ms-summary": "Pipeline Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListPipelines",
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          },
          "type": "string"
        },
        "stage_id": {
          "description": "Stage of the deal.",
          "type": "string",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListStages",
            "parameters": {
              "pipeline_id": {
                "parameter": "pipeline_id"
              }
            },
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          },
          "x-ms-dynamic-list": {
            "operationId": "ListStages",
            "parameters": {
              "pipeline_id": {
                "parameterReference": "body/pipeline_id"
              }
            },
            "itemsPath": "data",
            "itemValuePath": "id",
            "itemTitlePath": "name"
          }
        },
        "status": {
          "description": "Status of the deal.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important",
          "enum": [
            "Open",
            "Won",
            "Lost",
            "Deleted"
          ]
        },
        "value": {
          "format": "int32",
          "description": "Monetary value of the deal.",
          "type": "integer",
          "x-ms-summary": "Value",
          "x-ms-visibility": "advanced"
        },
        "currency": {
          "description": "Currency of the deal.",
          "type": "string",
          "x-ms-summary": "Currency",
          "x-ms-visibility": "advanced",
          "x-ms-dynamic-values": {
            "operationId": "ListCurrencies",
            "value-collection": "data",
            "value-path": "code",
            "value-title": "name"
          }
        },
        "person_id": {
          "description": "User id of person the deal is associated with.",
          "type": "string",
          "x-ms-summary": "Contact Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListPersons",
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "org_id": {
          "description": "Id of the organization associated with the deal.",
          "type": "string",
          "x-ms-summary": "Organization Id",
          "x-ms-visibility": "advanced",
          "x-ms-dynamic-values": {
            "operationId": "ListOrganizations",
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "expected_close_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Expected Close Date",
          "x-ms-visibility": "important"
        },
        "visible_to": {
          "description": "Owner, followers or entire company.",
          "type": "string",
          "x-ms-summary": "Visiblity",
          "x-ms-visibility": "advanced",
          "enum": [
            "Owner and followers",
            "Entire company"
          ]
        }
      },
      "x-ms-test-value": {
        "title": "test"
      }
    },
    "UpdateDealStageRequest": {
      "type": "object",
      "required": [
        "stage_id"
      ],
      "properties": {
        "stage_id": {
          "description": "Stage of the deal.",
          "type": "string",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "important",
          "enum": [
            "Lead In",
            "Contact Made",
            "Demo Scheduled",
            "Proposal Made",
            "Negotiations Started"
          ]
        },
        "expected_close_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Expected Close Date",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "stage_id": 1,
        "expected_close_date": "2017-01-21"
      }
    },
    "UpdateDealStageRequestV2": {
      "type": "object",
      "required": [
        "stage_id",
        "pipeline_id"
      ],
      "properties": {
        "pipeline_id": {
          "description": "The id of the pipeline to fetch stages from.",
          "x-ms-summary": "Pipeline Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListPipelines",
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          },
          "type": "string"
        },
        "stage_id": {
          "description": "Stage of the deal.",
          "type": "string",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "important",
          "x-ms-dynamic-values": {
            "operationId": "ListStages",
            "parameters": {
              "pipeline_id": {
                "parameter": "pipeline_id"
              }
            },
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          },
          "x-ms-dynamic-list": {
            "operationId": "ListStages",
            "parameters": {
              "pipeline_id": {
                "parameterReference": "body/pipeline_id"
              }
            },
            "itemsPath": "data",
            "itemValuePath": "id",
            "itemTitlePath": "name"
          }
        },
        "expected_close_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Expected Close Date",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "stage_id": "1",
        "pipeline_id": "1",
        "expected_close_date": "2017-01-21"
      }
    },
    "UpdateDealStatusRequest": {
      "type": "object",
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "description": "Status of the deal.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important",
          "enum": [
            "open",
            "won",
            "lost",
            "deleted"
          ]
        },
        "lost_reason": {
          "description": "Message about why the deal was lost.",
          "type": "string",
          "x-ms-summary": "Lost Reason",
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "status": "Open",
        "lost_reason": null
      }
    },
    "ListActivityTypesResponse": {
      "type": "object",
      "properties": {
        "success": {
          "description": "success",
          "type": "boolean",
          "x-ms-summary": "success",
          "x-ms-visibility": "advanced"
        },
        "data": {
          "description": "data",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "id",
                "type": "integer",
                "x-ms-summary": "id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "name",
                "type": "string",
                "x-ms-summary": "name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "data",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListCurrenciesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "data",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "id",
                "type": "integer",
                "x-ms-summary": "Id",
                "x-ms-visibility": "internal"
              },
              "code": {
                "description": "Code of a currency",
                "type": "string",
                "x-ms-summary": "Code",
                "x-ms-visibility": "internal"
              },
              "name": {
                "description": "Name of a currency",
                "type": "string",
                "x-ms-summary": "Name",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "ListDealsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "data",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "id",
                "type": "integer",
                "x-ms-summary": "id",
                "x-ms-visibility": "advanced"
              },
              "title": {
                "description": "title",
                "type": "string",
                "x-ms-summary": "title",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListPipelinesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "data",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "id",
                "type": "integer",
                "x-ms-summary": "id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "name",
                "type": "string",
                "x-ms-summary": "name",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListStagesResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StageResponse"
          }
        }
      }
    },
    "StageResponse": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Stage Id",
          "type": "integer",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "Stage name",
          "type": "string",
          "x-ms-summary": "Stage Name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListPersonsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "data",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "id",
                "type": "integer",
                "x-ms-summary": "id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "title",
                "type": "string",
                "x-ms-summary": "title",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "ListOrganizationsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "description": "data",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "description": "id",
                "type": "integer",
                "x-ms-summary": "id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "title",
                "type": "string",
                "x-ms-summary": "title",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "TrigNewActivityResponse": {
      "description": "data",
      "type": "array",
      "items": {
        "$ref": "#/definitions/ActivityResponse"
      }
    },
    "ActivityResponse": {
      "description": "data",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Unique id of the activity.",
          "type": "integer",
          "x-ms-summary": "Activity Id",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "format": "int32",
          "description": "Id of the user whom the activity is assigned to.",
          "type": "integer",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "advanced"
        },
        "done": {
          "description": "0 = Not done, 1 = Done",
          "type": "boolean",
          "x-ms-summary": "Is Done",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "Type of the activity.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "due_date": {
          "description": "YYYY-MM-DD",
          "type": "string",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "important"
        },
        "due_time": {
          "description": "HH:MM",
          "type": "string",
          "x-ms-summary": "Due Time",
          "x-ms-visibility": "important"
        },
        "duration": {
          "description": "HH:MM",
          "type": "string",
          "x-ms-summary": "Duration",
          "x-ms-visibility": "important"
        },
        "subject": {
          "description": "Subject of the activity.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "important"
        },
        "deal_id": {
          "format": "int32",
          "description": "Id of deal the activity is associated with.",
          "type": "integer",
          "x-ms-summary": "Deal Id",
          "x-ms-visibility": "advanced"
        },
        "deal_title": {
          "description": "Title of deal the activity is associated with.",
          "type": "string",
          "x-ms-summary": "Deal Title",
          "x-ms-visibility": "advanced"
        },
        "org_id": {
          "format": "int32",
          "description": "Id of organization the activity is associated with.",
          "type": "integer",
          "x-ms-summary": "Organization Id",
          "x-ms-visibility": "advanced"
        },
        "org_name": {
          "description": "Name of organization the activity is associated with.",
          "type": "string",
          "x-ms-summary": "Organization Name",
          "x-ms-visibility": "advanced"
        },
        "person_id": {
          "format": "int32",
          "description": "Id of person the activity is associated with.",
          "type": "integer",
          "x-ms-summary": "Contact Id",
          "x-ms-visibility": "important"
        },
        "person_name": {
          "description": "Name of person the activity is associated with.",
          "type": "string",
          "x-ms-summary": "Contact Name",
          "x-ms-visibility": "advanced"
        },
        "add_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "update_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Updates Date-Time",
          "x-ms-visibility": "advanced"
        },
        "marked_as_done_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Completed Date-Time",
          "x-ms-visibility": "advanced"
        },
        "gcal_event_id": {
          "description": "Id of the google calendar event.",
          "type": "string",
          "x-ms-summary": "Google Calendar Event Id",
          "x-ms-visibility": "advanced"
        },
        "google_calendar_id": {
          "description": "Id of the google calendar.",
          "type": "string",
          "x-ms-summary": "Google Calendar Id",
          "x-ms-visibility": "advanced"
        },
        "note": {
          "description": "Note of the activity (HTML format).",
          "type": "string",
          "x-ms-summary": "Note",
          "x-ms-visibility": "important"
        },
        "assigned_to_user_id": {
          "format": "int32",
          "description": "User id of user whom the activity is assigned to.",
          "type": "integer",
          "x-ms-summary": "Assigned to",
          "x-ms-visibility": "advanced"
        },
        "created_by_user_id": {
          "format": "int32",
          "description": "User id of user that created the activity.",
          "type": "integer",
          "x-ms-summary": "Created by",
          "x-ms-visibility": "advanced"
        },
        "owner_name": {
          "description": "Name of the activity owner.",
          "type": "string",
          "x-ms-summary": "Owner Name",
          "x-ms-visibility": "important"
        }
      }
    },
    "TrigNewDealResponse": {
      "description": "data",
      "type": "array",
      "items": {
        "$ref": "#/definitions/DealResponse"
      }
    },
    "TrigNewDealResponseV2": {
      "description": "data",
      "type": "array",
      "items": {
        "$ref": "#/definitions/DealResponseV2"
      }
    },
    "DealResponse": {
      "description": "data",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Id of the deal.",
          "type": "integer",
          "x-ms-summary": "Deal Id",
          "x-ms-visibility": "advanced"
        },
        "creator_user_id": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Id of the deal creator.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the deal creator.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "email": {
              "description": "Email of the deal creator.",
              "type": "string",
              "x-ms-summary": "Email",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Id of the deal owner.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the deal owner.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "email": {
              "description": "Email of the deal owner.",
              "type": "string",
              "x-ms-summary": "Email",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "User",
          "x-ms-visibility": "advanced"
        },
        "person_id": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the person associated with the deal.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "value": {
              "format": "int32",
              "description": "Id of the person associated with the deal.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Contact",
          "x-ms-visibility": "advanced"
        },
        "org_id": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the organization associated with the deal.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "value": {
              "format": "int32",
              "description": "Id of the organization associated with the deal.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Organization",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "Open, won, lost or deleted.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "Title of the deal.",
          "type": "string",
          "x-ms-summary": "Deal Title",
          "x-ms-visibility": "important"
        },
        "value": {
          "description": "Monetary value of the deal.",
          "type": "number",
          "x-ms-summary": "Deal Value",
          "x-ms-visibility": "important"
        },
        "currency": {
          "description": "Currency associated with the deal value.",
          "type": "string",
          "x-ms-summary": "Currency",
          "x-ms-visibility": "important"
        },
        "add_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "update_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "stage_id": {
          "format": "int32",
          "description": "ID of stage the deal is placed in a pipeline.",
          "type": "integer",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "advanced"
        },
        "stage_name": {
          "description": "Name of stage the deal is placed in a pipeline",
          "type": "string",
          "x-ms-summary": "Stage Name",
          "x-ms-visibility": "important"
        },
        "stage_change_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Stage Uodated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "active": {
          "description": "True if the deal is active.",
          "type": "boolean",
          "x-ms-summary": "Is Active",
          "x-ms-visibility": "advanced"
        },
        "deleted": {
          "description": "True if the deal has been deleted.",
          "type": "boolean",
          "x-ms-summary": "Is Deleted",
          "x-ms-visibility": "advanced"
        },
        "next_activity_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Next Activity Date",
          "x-ms-visibility": "advanced"
        },
        "next_activity_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Next Activity Time",
          "x-ms-visibility": "advanced"
        },
        "next_activity_id": {
          "format": "int32",
          "description": "Id of the next activity.",
          "type": "integer",
          "x-ms-summary": "Next Activity Id",
          "x-ms-visibility": "advanced"
        },
        "last_activity_id": {
          "format": "int32",
          "description": "Id of the last activity.",
          "type": "integer",
          "x-ms-summary": "Last Activity Id",
          "x-ms-visibility": "advanced"
        },
        "last_activity_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Last Activity Date",
          "x-ms-visibility": "advanced"
        },
        "lost_reason": {
          "description": "Message about why the deal was lost (to be used when status=lost).",
          "type": "string",
          "x-ms-summary": "Lost Reason",
          "x-ms-visibility": "important"
        },
        "visible_to": {
          "description": "Owner, followers or entire company.",
          "type": "string",
          "x-ms-summary": "Visiblity",
          "x-ms-visibility": "important"
        },
        "close_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Closed Date-Time",
          "x-ms-visibility": "advanced"
        },
        "pipeline_id": {
          "format": "int32",
          "description": "Id of pipeline the deal is associated with.",
          "type": "integer",
          "x-ms-summary": "Pipeline Id",
          "x-ms-visibility": "important"
        },
        "products_count": {
          "format": "int32",
          "description": "Number of products associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Products Count",
          "x-ms-visibility": "advanced"
        },
        "files_count": {
          "format": "int32",
          "description": "Number of files associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Files Count",
          "x-ms-visibility": "advanced"
        },
        "notes_count": {
          "format": "int32",
          "description": "Number of notes associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Notes Count",
          "x-ms-visibility": "advanced"
        },
        "followers_count": {
          "format": "int32",
          "description": "Number of followers associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Followers Count",
          "x-ms-visibility": "advanced"
        },
        "email_messages_count": {
          "format": "int32",
          "description": "Number of email messages associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Email Message Count",
          "x-ms-visibility": "advanced"
        },
        "activities_count": {
          "format": "int32",
          "description": "Number of activities associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Activities Count",
          "x-ms-visibility": "advanced"
        },
        "done_activities_count": {
          "format": "int32",
          "description": "Number of done activities associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Done Activities Count",
          "x-ms-visibility": "advanced"
        },
        "undone_activities_count": {
          "format": "int32",
          "description": "Number of undone activitie associated with the deals.",
          "type": "integer",
          "x-ms-summary": "Undone Activities Count",
          "x-ms-visibility": "advanced"
        },
        "reference_activities_count": {
          "format": "int32",
          "description": "Number of referenced activities associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Referenced Activities Count",
          "x-ms-visibility": "advanced"
        },
        "participants_count": {
          "format": "int32",
          "description": "Number of participants associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Participants Count",
          "x-ms-visibility": "advanced"
        },
        "expected_close_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Expected Close Date",
          "x-ms-visibility": "important"
        },
        "next_activity_subject": {
          "description": "Subject of next activity associated with the deal.",
          "type": "string",
          "x-ms-summary": "Next Activity Subject",
          "x-ms-visibility": "advanced"
        },
        "next_activity_type": {
          "description": "Type of next activity associated with the deal.",
          "type": "string",
          "x-ms-summary": "Next Activity Type",
          "x-ms-visibility": "advanced"
        },
        "next_activity_duration": {
          "description": "Duration of next activity associated with the deal.",
          "type": "string",
          "x-ms-summary": "Next Activity Duration",
          "x-ms-visibility": "advanced"
        },
        "next_activity_note": {
          "description": "Notes for next activity associated with the deal",
          "type": "string",
          "x-ms-summary": "Next Activity Note",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DealResponseV2": {
      "description": "data",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "Id of the deal.",
          "type": "integer",
          "x-ms-summary": "Deal Id",
          "x-ms-visibility": "advanced"
        },
        "creator_user_id": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Id of the deal creator.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the deal creator.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "email": {
              "description": "Email of the deal creator.",
              "type": "string",
              "x-ms-summary": "Email",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced"
        },
        "user_id": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Id of the deal owner.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the deal owner.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "email": {
              "description": "Email of the deal owner.",
              "type": "string",
              "x-ms-summary": "Email",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "User",
          "x-ms-visibility": "advanced"
        },
        "person_id": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the person associated with the deal.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "value": {
              "format": "int32",
              "description": "Id of the person associated with the deal.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Contact",
          "x-ms-visibility": "advanced"
        },
        "org_id": {
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the organization associated with the deal.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "value": {
              "format": "int32",
              "description": "Id of the organization associated with the deal.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Organization",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "Open, won, lost or deleted.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "title": {
          "description": "Title of the deal.",
          "type": "string",
          "x-ms-summary": "Deal Title",
          "x-ms-visibility": "important"
        },
        "value": {
          "description": "Monetary value of the deal.",
          "type": "number",
          "x-ms-summary": "Deal Value",
          "x-ms-visibility": "important"
        },
        "currency": {
          "description": "Currency associated with the deal value.",
          "type": "string",
          "x-ms-summary": "Currency",
          "x-ms-visibility": "important"
        },
        "add_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "update_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "stage_id": {
          "format": "int32",
          "description": "ID of stage the deal is placed in a pipeline.",
          "type": "integer",
          "x-ms-summary": "Stage Id",
          "x-ms-visibility": "advanced"
        },
        "stage_change_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Stage Uodated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "active": {
          "description": "True if the deal is active.",
          "type": "boolean",
          "x-ms-summary": "Is Active",
          "x-ms-visibility": "advanced"
        },
        "deleted": {
          "description": "True if the deal has been deleted.",
          "type": "boolean",
          "x-ms-summary": "Is Deleted",
          "x-ms-visibility": "advanced"
        },
        "next_activity_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Next Activity Date",
          "x-ms-visibility": "advanced"
        },
        "next_activity_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Next Activity Time",
          "x-ms-visibility": "advanced"
        },
        "next_activity_id": {
          "format": "int32",
          "description": "Id of the next activity.",
          "type": "integer",
          "x-ms-summary": "Next Activity Id",
          "x-ms-visibility": "advanced"
        },
        "last_activity_id": {
          "format": "int32",
          "description": "Id of the last activity.",
          "type": "integer",
          "x-ms-summary": "Last Activity Id",
          "x-ms-visibility": "advanced"
        },
        "last_activity_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Last Activity Date",
          "x-ms-visibility": "advanced"
        },
        "lost_reason": {
          "description": "Message about why the deal was lost (to be used when status=lost).",
          "type": "string",
          "x-ms-summary": "Lost Reason",
          "x-ms-visibility": "important"
        },
        "visible_to": {
          "description": "Owner, followers or entire company.",
          "type": "string",
          "x-ms-summary": "Visiblity",
          "x-ms-visibility": "important"
        },
        "close_time": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Closed Date-Time",
          "x-ms-visibility": "advanced"
        },
        "pipeline_id": {
          "format": "int32",
          "description": "Id of pipeline the deal is associated with.",
          "type": "integer",
          "x-ms-summary": "Pipeline Id",
          "x-ms-visibility": "important"
        },
        "products_count": {
          "format": "int32",
          "description": "Number of products associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Products Count",
          "x-ms-visibility": "advanced"
        },
        "files_count": {
          "format": "int32",
          "description": "Number of files associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Files Count",
          "x-ms-visibility": "advanced"
        },
        "notes_count": {
          "format": "int32",
          "description": "Number of notes associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Notes Count",
          "x-ms-visibility": "advanced"
        },
        "followers_count": {
          "format": "int32",
          "description": "Number of followers associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Followers Count",
          "x-ms-visibility": "advanced"
        },
        "email_messages_count": {
          "format": "int32",
          "description": "Number of email messages associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Email Message Count",
          "x-ms-visibility": "advanced"
        },
        "activities_count": {
          "format": "int32",
          "description": "Number of activities associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Activities Count",
          "x-ms-visibility": "advanced"
        },
        "done_activities_count": {
          "format": "int32",
          "description": "Number of done activities associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Done Activities Count",
          "x-ms-visibility": "advanced"
        },
        "undone_activities_count": {
          "format": "int32",
          "description": "Number of undone activitie associated with the deals.",
          "type": "integer",
          "x-ms-summary": "Undone Activities Count",
          "x-ms-visibility": "advanced"
        },
        "reference_activities_count": {
          "format": "int32",
          "description": "Number of referenced activities associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Referenced Activities Count",
          "x-ms-visibility": "advanced"
        },
        "participants_count": {
          "format": "int32",
          "description": "Number of participants associated with the deal.",
          "type": "integer",
          "x-ms-summary": "Participants Count",
          "x-ms-visibility": "advanced"
        },
        "expected_close_date": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Expected Close Date",
          "x-ms-visibility": "important"
        },
        "next_activity_subject": {
          "description": "Subject of next activity associated with the deal.",
          "type": "string",
          "x-ms-summary": "Next Activity Subject",
          "x-ms-visibility": "advanced"
        },
        "next_activity_type": {
          "description": "Type of next activity associated with the deal.",
          "type": "string",
          "x-ms-summary": "Next Activity Type",
          "x-ms-visibility": "advanced"
        },
        "next_activity_duration": {
          "description": "Duration of next activity associated with the deal.",
          "type": "string",
          "x-ms-summary": "Next Activity Duration",
          "x-ms-visibility": "advanced"
        },
        "next_activity_note": {
          "description": "Notes for next activity associated with the deal",
          "type": "string",
          "x-ms-summary": "Next Activity Note",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pipedrive.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.pipedrive.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/pipedrive"
  },
  "basePath": "/apim/pipedrive"
}
