{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "title": "D&B Optimizer",
    "description": "D&B Optimizer is a foundational data service from Dun & Bradstreet that improves the quality of your business data by correctly identifying, cleansing, and inserting firmographic intelligence into records within your Microsoft application environment.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dnb",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/v1/flow/match/extendedMatch": {
      "get": {
        "summary": "Cleanse Match and Append",
        "description": "D&B Identity Resolution uses input criteria to find the best candidates in its extensive database of entities. It uses proprietary algorithms to identify the best matches and returns those matches with detailed information about what criteria was used to find the match.",
        "operationId": "CleanseMatchAppend",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "productId",
            "x-ms-test-value": "Product Id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Product Id",
            "required": true,
            "description": "The product ID provided by D&B that identifies the product to be returned."
          },
          {
            "name": "versionId",
            "x-ms-test-value": "Version Id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Version Id",
            "required": true,
            "description": "The version ID (e.g., v1) that identifies the product version to be returned."
          },
          {
            "name": "name",
            "x-ms-test-value": "string used to search for entities",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Name",
            "description": "Up to 240 characters used to find the entity by its primary name, tradestyle names, or former names."
          },
          {
            "name": "streetAddressLine1",
            "x-ms-test-value": "street address",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Street Address Line 1",
            "description": "Up to 70 characters of the first line of the entity's street address."
          },
          {
            "name": "streetAddressLine2",
            "x-ms-test-value": "street address line 2",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Street Address Line 2",
            "description": "Up to 70 characters of the second line of the entity's street address"
          },
          {
            "name": "countryISOAlpha2Code",
            "x-ms-test-value": "US",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Country ISO Alpha Code",
            "required": true,
            "description": "The 2-letter country code, defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the country of the entity."
          },
          {
            "name": "postalCode",
            "x-ms-test-value": "94536",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Postal Code",
            "description": "Up to 10 characters of the identifier used by the local country's postal authority to identify where the address is located."
          },
          {
            "name": "addressLocality",
            "x-ms-test-value": "short hills",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Address Locality",
            "description": "1 to 50 characters that identifies the city, town, township, village, borough, etc. where the entity is located."
          },
          {
            "name": "addressRegion",
            "x-ms-test-value": "NJ",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Address Region",
            "description": "The name of the locally governed area that forms part of a centrally governed nation to identify where the address is located."
          },
          {
            "name": "telephoneNumber",
            "x-ms-test-value": "5555555555",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Telephone Number",
            "description": "Up to 32 characters of the telephone number--the sequence of digits used for voice communication with the entity. This sequence of digits includes the area code or city code and domestic dialing code. "
          },
          {
            "name": "url",
            "x-ms-test-value": "www.dnb.com",
            "in": "query",
            "type": "string",
            "x-ms-summary": "URL",
            "description": "A URL used to identify an entity by its email domain."
          },
          {
            "name": "email",
            "x-ms-test-value": "customer@dnb.com",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Email",
            "description": "An email address used to identify an entity by its email domain."
          },
          {
            "name": "registrationNumber",
            "x-ms-test-value": "11514917000120",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Registration Number",
            "x-ms-visibility": "advanced",
            "description": "The number assigned by an external body or by D&B that either uniquely identifies or helps to identify an organization."
          },
          {
            "name": "registrationNumberType",
            "x-ms-test-value": "1340",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Registration Number Type",
            "x-ms-visibility": "advanced",
            "description": "A unique code assigned by D&B to identify the type of registration number."
          },
          {
            "name": "confidenceLowerLevelThresholdValue",
            "default": "",
            "x-ms-test-value": "4",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Confidence Lower Level",
            "enum": [
              "10",
              "9",
              "8",
              "7",
              "6",
              "5",
              "4",
              "3",
              "2",
              "1",
              ""
            ],
            "x-ms-visibility": "advanced",
            "description": "The lowest confidence level for entities returned in the response. Valid values are 1 to 10, if not specified the default of 4 is used."
          },
          {
            "name": "exclusionCriteria",
            "x-ms-test-value": "ExcludeNonHeadQuarters,ExcludeNonMarketable",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Exclusion Criteria",
            "x-ms-visibility": "advanced",
            "description": "Provides the ability to exclude entities based on several properties."
          },
          {
            "name": "isCleanseAndStandardizeInformationRequired",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "isCleanseAndStandardizeInformationRequired",
            "x-ms-visibility": "internal",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "connector-version",
            "in": "query",
            "required": true,
            "default": "v2.0",
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "duns": {
                  "type": "string",
                  "x-ms-summary": "DUNS Number",
                  "description": "The D-U-N-S Number is an identification number assigned by D&B that uniquely identifies the entity in accordance with the Data Universal Numbering System (D-U-N-S)."
                },
                "primary_name": {
                  "type": "string",
                  "x-ms-summary": "Primary Business Name",
                  "description": "The single name by which the entity is primarily known or identified."
                },
                "trade_style": {
                  "type": "string",
                  "description": "The name that the entity trades under for commercial purposes  although its registered  legal name used for contracts and other formal situations may be another name.",
                  "x-ms-summary": "Trade Style Name"
                },
                "address.streetline1": {
                  "type": "string",
                  "description": "The first line of the address where the entity is located.",
                  "x-ms-summary": "Street Address"
                },
                "address.streetline2": {
                  "type": "string",
                  "description": "The second line of the address where the entity is located.",
                  "x-ms-summary": "Street Address (2)"
                },
                "address.city": {
                  "type": "string",
                  "description": "The name of the city, town, township, village, borough, etc. in which this address is located.",
                  "x-ms-summary": "Address City"
                },
                "address.territory_code": {
                  "type": "string",
                  "description": "The standard code of the locally governed area that forms part of a centrally governed nation to identify where this address is located.",
                  "x-ms-summary": "Territory Code"
                },
                "address.territory_name": {
                  "type": "string",
                  "description": "The name of the locally governed area that forms part of a centrally governed nation to identify where this address is located.",
                  "x-ms-summary": "Territory Name"
                },
                "address.postal_code": {
                  "type": "string",
                  "description": "An identifier used by the local country Postal Authority to identify where the business is located.",
                  "x-ms-summary": "Postal Code"
                },
                "address.isoalpha2code": {
                  "type": "string",
                  "description": "The two-letter country code, defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the country of the business entity.",
                  "x-ms-summary": "ISO Country Code"
                },
                "address.country_name": {
                  "type": "string",
                  "description": "The country code, defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the country of the business entity.",
                  "x-ms-summary": "ISO Country Name"
                },
                "phone.international_code": {
                  "type": "string",
                  "description": "This sequence of digits contains the International Subscriber Dialling (ISD) code.",
                  "x-ms-summary": "Telephone ISD Code",
                  "x-ms-visibility": "advanced"
                },
                "phone.number": {
                  "type": "string",
                  "description": "A sequence of digits used for voice communication with the entity. This sequence of digits includes the area code or city code and domestic dialing code.",
                  "x-ms-summary": "Telephone Number",
                  "x-ms-visibility": "advanced"
                },
                "primary_sic": {
                  "type": "string",
                  "description": "The code that identifies the business activity in which the entity is engaged.",
                  "x-ms-summary": "Industry Code"
                },
                "industrycode.description": {
                  "type": "string",
                  "description": "The description for the corresponding Industry Code.",
                  "x-ms-summary": "Industry Code Description"
                },
                "employees.local": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of people engaged by the entity to perform its operations. The scope of this employee figure is identified in informationScopeDescription.",
                  "x-ms-summary": "Employee Quantity Details (Local)",
                  "x-ms-visibility": "advanced"
                },
                "employees.global": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of people engaged by the entity to perform its operations. The scope of this employee figure is identified in informationScopeDescription.",
                  "x-ms-summary": "Employee Quantity Details (Total)",
                  "x-ms-visibility": "advanced"
                },
                "financials.todate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date when the accounting period ended.  If the Reliability Code denotes the figures are projected (future), then this is the date when the accounting period will end.",
                  "x-ms-summary": "Financial Statement To Date",
                  "x-ms-visibility": "advanced"
                },
                "financials_global.value": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The monetary value of income received from customers from the sale of the entity's goods and/or services in USD.  This is the gross sales minus any returns, rebates/discounts, allowances for damages or shortages, shipping expenses passed on to the customer.",
                  "x-ms-summary": "Sales Revenue Amount in USD",
                  "x-ms-visibility": "advanced"
                },
                "financials_local.value": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The monetary value of income received from customers from the sale of the entity's goods and/or services in local currency.  This is the gross sales minus any returns, rebates/discounts, allowances for damages or shortages, shipping expenses passed on to the customer.",
                  "x-ms-summary": "Sales Revenue Amount in the local currency",
                  "x-ms-visibility": "advanced"
                },
                "financials_local.currency": {
                  "type": "string",
                  "description": "The local currency code for this entity.",
                  "x-ms-summary": "Local currency code",
                  "x-ms-visibility": "advanced"
                },
                "location_types": {
                  "type": "string",
                  "description": "A semi-colon delimited list of Location Types for this entity.",
                  "x-ms-summary": "Location Types",
                  "x-ms-visibility": "advanced"
                },
                "is_headquarters": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Headquarters or not.",
                  "x-ms-summary": "Headquarters Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_global_ultimate": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Global Ultimate or not.",
                  "x-ms-summary": "Global Ultimate Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_domestic_ultimate": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Domestic Ultimate or not.",
                  "x-ms-summary": "Domestic Ultimate Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_parent_headquarters": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Parent Headquarters or not.",
                  "x-ms-summary": "Parent Headquarters Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_parent": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Parent or not.",
                  "x-ms-summary": "Parent Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_sibling": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Sibling or not.",
                  "x-ms-summary": "Sibling Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_division": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Division or not.",
                  "x-ms-summary": "Division Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_branch_division": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Branch Division or not.",
                  "x-ms-summary": "Branch Division Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_subsidiary": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Subsidiary or not.",
                  "x-ms-summary": "Subsidiary Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_branch": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Branch or not.",
                  "x-ms-summary": "Branch Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_single_location": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Single Location or not.",
                  "x-ms-summary": "Single Location Indicator",
                  "x-ms-visibility": "advanced"
                },
                "parent.duns": {
                  "type": "string",
                  "description": "The D-U-N-S number of the parent entity. A parent is a corporation that owns more than 50% of another corporation's capital stock; these owned companies are subsidiaries to the parent entity. ",
                  "x-ms-summary": "Parent D-U-N-S Number",
                  "x-ms-visibility": "advanced"
                },
                "parent.name": {
                  "type": "string",
                  "description": "The business name of the parent entity. A parent is a corporation that owns more than 50% of another corporation's capital stock.",
                  "x-ms-summary": "Parent Business Name",
                  "x-ms-visibility": "advanced"
                },
                "domestic_ultimate.duns": {
                  "type": "string",
                  "description": "The D-U-N-S Number of the highest level parent within a corporate family tree that is domiciled in the same country as the requested entity. A parent is a corporation that owns more than 50% of another corporation's capital stock. A subject may be its own domestic ultimate.",
                  "x-ms-summary": "Domestic Ultimate D-U-N-S Number",
                  "x-ms-visibility": "advanced"
                },
                "domestic_ultimate.name": {
                  "type": "string",
                  "description": "The name of the highest business in the family tree that is in the same country as the subject.",
                  "x-ms-summary": "Domestic Ultimate Name",
                  "x-ms-visibility": "advanced"
                },
                "global_ultimate.duns": {
                  "type": "string",
                  "description": "The D-U-N-S number of the highest level parent within a corporate family tree. A parent is a corporation that owns more than 50% of another corporation's capital stock. A subject may be its own global ultimate. ",
                  "x-ms-summary": "Global Ultimate D-U-N-S Number",
                  "x-ms-visibility": "advanced"
                },
                "global_ultimate.name": {
                  "type": "string",
                  "description": "The primary name of the global ultimate business.",
                  "x-ms-summary": "Global Ultimate Name",
                  "x-ms-visibility": "advanced"
                },
                "entity_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The D&B Code for the corresponding Business Legal Structure",
                  "x-ms-summary": "Business Legal Structure"
                },
                "entity_type.description": {
                  "type": "string",
                  "description": "The name of the legal form or structure of the entity as registered with government authorities (e.g., partnership, corporation, private limited company, government department, proprietorship). A unique code assigned by D&B to identify the legal form or structure of the entity as registered with government authorities",
                  "x-ms-summary": "Business Legal Structure Description"
                },
                "match.confidence": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Match Confidence",
                  "description": "Confidence codes are based on the detailed MatchGrade Strings™; over 4 million string combinations are mapped to 10 Confidence Codes, allowing for broad categorization of matched records. The higher the number, the higher the confidence that it is an accurate match."
                },
                "match.profile": {
                  "type": "string",
                  "x-ms-summary": "Match Profile",
                  "description": "Match Data Profile (MDP) Codes indicate if and how each component type was matched in the returned candidate."
                },
                "match.grade": {
                  "type": "string",
                  "x-ms-summary": "Match Grade",
                  "description": "MatchGrade Strings provide qualitative assessments between inquiry and reference components. A - Considered the same, B - Some similiarity, F - Considered different, Z - Missing information, cannot make conclusion."
                },
                "is_delisted": {
                  "type": "boolean",
                  "description": "Indicator as to the whether or not the entity has asked that their data not be included in D&B's marketing file for prospecting.",
                  "x-ms-summary": "Delisted Indicator",
                  "x-ms-visibility": "advanced"
                },
                "operating_status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The D&B code for the corresponding Operating Status",
                  "x-ms-summary": "Operating Status",
                  "x-ms-visibility": "advanced"
                },
                "operating_status.description": {
                  "type": "string",
                  "description": "The entity's functional state or trading status (e.g., active, out of business). A unique code assigned by D&B to identify the entity's functional state or trading status.",
                  "x-ms-summary": "Operating Status Description",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.name": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - Organization Name",
                  "description": "Match Grade - Organization Name",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.street_number": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - Street Number",
                  "description": "Match Grade - Street Number",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.street_name": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - Street Name",
                  "description": "Match Grade - Street Name",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.city": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - Town/City",
                  "description": "Match Grade - Town/City",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.state": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - State/Region",
                  "description": "Match Grade - State/Region",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.po_box": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - PO Box",
                  "description": "Match Grade - PO Box",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.phone": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - Phone Number",
                  "description": "Match Grade - Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.postal_code": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - Postal Code",
                  "description": "Match Grade - Postal Code",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.density": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - Density",
                  "description": "Match Grade - Density",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.uniqueness": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - Uniqueness",
                  "description": "Match Grade - Uniqueness",
                  "x-ms-visibility": "advanced"
                },
                "match_grade.industry": {
                  "type": "string",
                  "x-ms-summary": "Match Grade - SIC Code",
                  "description": "Match Grade - SIC Code",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "transactionDetail": {
                  "type": "object",
                  "properties": {
                    "transactionID": {
                      "type": "string",
                      "description": "transactionID",
                      "x-ms-summary": "transactionID"
                    },
                    "transactionTimestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "transactionTimestamp",
                      "x-ms-summary": "transactionTimestamp"
                    },
                    "inLanguage": {
                      "type": "string",
                      "description": "inLanguage",
                      "x-ms-summary": "inLanguage"
                    },
                    "serviceVersion": {
                      "type": "string",
                      "description": "serviceVersion",
                      "x-ms-summary": "serviceVersion"
                    }
                  },
                  "description": "transactionDetail",
                  "x-ms-summary": "transactionDetail"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "errorCode",
                      "x-ms-summary": "errorCode"
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage",
                      "x-ms-summary": "errorMessage"
                    }
                  },
                  "description": "error",
                  "x-ms-summary": "error"
                },
                "inquiryDetail": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name",
                      "x-ms-summary": "name"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "countryISOAlpha2Code": {
                          "type": "string",
                          "description": "countryISOAlpha2Code",
                          "x-ms-summary": "countryISOAlpha2Code"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "addressLocality",
                          "x-ms-summary": "addressLocality"
                        },
                        "addressRegion": {
                          "type": "string",
                          "description": "addressRegion",
                          "x-ms-summary": "addressRegion"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "postalCode",
                          "x-ms-summary": "postalCode"
                        },
                        "streetAddressLine": {
                          "type": "object",
                          "properties": {
                            "line1": {
                              "type": "string",
                              "description": "line1",
                              "x-ms-summary": "line1"
                            }
                          },
                          "description": "streetAddressLine",
                          "x-ms-summary": "streetAddressLine"
                        }
                      },
                      "description": "address",
                      "x-ms-summary": "address"
                    },
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-summary": "url"
                    },
                    "productID": {
                      "type": "string",
                      "description": "productID",
                      "x-ms-summary": "productID"
                    },
                    "productVersion": {
                      "type": "string",
                      "description": "productVersion",
                      "x-ms-summary": "productVersion"
                    }
                  },
                  "description": "inquiryDetail",
                  "x-ms-summary": "inquiryDetail"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dnb/#cleanse-match-and-append-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v1/flow/data/duns/{duns}": {
      "get": {
        "summary": "Retrieve data on a specific entity",
        "description": "The Data Products API returns data about a requested DUNS. The data returned is specific to the product requested.",
        "operationId": "Enrich",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "duns",
            "x-ms-test-value": "D-U-N-S",
            "in": "path",
            "type": "string",
            "x-ms-summary": "D-U-N-S Number",
            "required": true,
            "description": "The D-U-N-S Number is an identification number assigned by D&B that uniquely identifies the entity in accordance with the Data Universal Numbering System (D-U-N-S)."
          },
          {
            "name": "productId",
            "x-ms-test-value": "Product Id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Product Id",
            "required": true,
            "description": "The product ID provided by D&B that identifies the product to be returned."
          },
          {
            "name": "versionId",
            "x-ms-test-value": "Version Id",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Version Id",
            "required": true,
            "description": "The version ID (e.g., v1) that identifies the product version to be returned."
          },
          {
            "name": "connector-version",
            "in": "query",
            "required": true,
            "default": "v2.0",
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "default": "application/json",
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "duns": {
                  "type": "string",
                  "x-ms-summary": "DUNS Number",
                  "description": "The D-U-N-S Number is an identification number assigned by D&B that uniquely identifies the entity in accordance with the Data Universal Numbering System (D-U-N-S)."
                },
                "primary_name": {
                  "type": "string",
                  "x-ms-summary": "Primary Business Name",
                  "description": "The single name by which the entity is primarily known or identified."
                },
                "trade_style": {
                  "type": "string",
                  "description": "The name that the entity trades under for commercial purposes  although its registered  legal name used for contracts and other formal situations may be another name.",
                  "x-ms-summary": "Trade Style Name"
                },
                "address.streetline1": {
                  "type": "string",
                  "description": "The first line of the address where the entity is located.",
                  "x-ms-summary": "Street Address"
                },
                "address.streetline2": {
                  "type": "string",
                  "description": "The second line of the address where the entity is located.",
                  "x-ms-summary": "Street Address (2)"
                },
                "address.city": {
                  "type": "string",
                  "description": "The name of the city, town, township, village, borough, etc. in which this address is located.",
                  "x-ms-summary": "Address City"
                },
                "address.territory_code": {
                  "type": "string",
                  "description": "The standard code of the locally governed area that forms part of a centrally governed nation to identify where this address is located.",
                  "x-ms-summary": "Territory Code"
                },
                "address.territory_name": {
                  "type": "string",
                  "description": "The name of the locally governed area that forms part of a centrally governed nation to identify where this address is located.",
                  "x-ms-summary": "Territory Name"
                },
                "address.postal_code": {
                  "type": "string",
                  "description": "An identifier used by the local country Postal Authority to identify where the business is located.",
                  "x-ms-summary": "Postal Code"
                },
                "address.isoalpha2code": {
                  "type": "string",
                  "description": "The two-letter country code, defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the country of the business entity.",
                  "x-ms-summary": "ISO Country Code"
                },
                "address.country_name": {
                  "type": "string",
                  "description": "The country code, defined by the International Organization for Standardization (ISO) ISO 3166-1 scheme identifying the country of the business entity.",
                  "x-ms-summary": "ISO Country Name"
                },
                "phone.international_code": {
                  "type": "string",
                  "description": "This sequence of digits contains the International Subscriber Dialling (ISD) code.",
                  "x-ms-summary": "Telephone ISD Code",
                  "x-ms-visibility": "advanced"
                },
                "phone.number": {
                  "type": "string",
                  "description": "A sequence of digits used for voice communication with the entity. This sequence of digits includes the area code or city code and domestic dialing code.",
                  "x-ms-summary": "Telephone Number",
                  "x-ms-visibility": "advanced"
                },
                "primary_sic": {
                  "type": "string",
                  "description": "The code that identifies the business activity in which the entity is engaged.",
                  "x-ms-summary": "Industry Code"
                },
                "industrycode.description": {
                  "type": "string",
                  "description": "The description for the corresponding Industry Code.",
                  "x-ms-summary": "Industry Code Description"
                },
                "employees.local": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of people engaged by the entity to perform its operations. The scope of this employee figure is identified in informationScopeDescription.",
                  "x-ms-summary": "Employee Quantity Details (Local)",
                  "x-ms-visibility": "advanced"
                },
                "employees.global": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of people engaged by the entity to perform its operations. The scope of this employee figure is identified in informationScopeDescription.",
                  "x-ms-summary": "Employee Quantity Details (Total)",
                  "x-ms-visibility": "advanced"
                },
                "financials.todate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date when the accounting period ended.  If the Reliability Code denotes the figures are projected (future), then this is the date when the accounting period will end.",
                  "x-ms-summary": "Financial Statement To Date",
                  "x-ms-visibility": "advanced"
                },
                "financials_global.value": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The monetary value of income received from customers from the sale of the entity's goods and/or services in USD.  This is the gross sales minus any returns, rebates/discounts, allowances for damages or shortages, shipping expenses passed on to the customer.",
                  "x-ms-summary": "Sales Revenue Amount in USD",
                  "x-ms-visibility": "advanced"
                },
                "financials_local.value": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The monetary value of income received from customers from the sale of the entity's goods and/or services in local currency.  This is the gross sales minus any returns, rebates/discounts, allowances for damages or shortages, shipping expenses passed on to the customer.",
                  "x-ms-summary": "Sales Revenue Amount in the local currency",
                  "x-ms-visibility": "advanced"
                },
                "financials_local.currency": {
                  "type": "string",
                  "description": "The local currency code for this entity.",
                  "x-ms-summary": "Local currency code",
                  "x-ms-visibility": "advanced"
                },
                "location_types": {
                  "type": "string",
                  "description": "A semi-colon delimited list of Location Types for this entity.",
                  "x-ms-summary": "Location Types",
                  "x-ms-visibility": "advanced"
                },
                "is_headquarters": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Headquarters or not.",
                  "x-ms-summary": "Headquarters Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_global_ultimate": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Global Ultimate or not.",
                  "x-ms-summary": "Global Ultimate Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_domestic_ultimate": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Domestic Ultimate or not.",
                  "x-ms-summary": "Domestic Ultimate Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_parent_headquarters": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Parent Headquarters or not.",
                  "x-ms-summary": "Parent Headquarters Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_parent": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Parent or not.",
                  "x-ms-summary": "Parent Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_sibling": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Sibling or not.",
                  "x-ms-summary": "Sibling Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_division": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Division or not.",
                  "x-ms-summary": "Division Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_branch_division": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Branch Division or not.",
                  "x-ms-summary": "Branch Division Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_subsidiary": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Subsidiary or not.",
                  "x-ms-summary": "Subsidiary Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_branch": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Branch or not.",
                  "x-ms-summary": "Branch Indicator",
                  "x-ms-visibility": "internal"
                },
                "is_single_location": {
                  "type": "boolean",
                  "description": "Indicates if the entity is a Single Location or not.",
                  "x-ms-summary": "Single Location Indicator",
                  "x-ms-visibility": "advanced"
                },
                "parent.duns": {
                  "type": "string",
                  "description": "The D-U-N-S number of the parent entity. A parent is a corporation that owns more than 50% of another corporation's capital stock; these owned companies are subsidiaries to the parent entity. ",
                  "x-ms-summary": "Parent D-U-N-S Number",
                  "x-ms-visibility": "advanced"
                },
                "parent.name": {
                  "type": "string",
                  "description": "The business name of the parent entity. A parent is a corporation that owns more than 50% of another corporation's capital stock.",
                  "x-ms-summary": "Parent Business Name",
                  "x-ms-visibility": "advanced"
                },
                "domestic_ultimate.duns": {
                  "type": "string",
                  "description": "The D-U-N-S Number of the highest level parent within a corporate family tree that is domiciled in the same country as the requested entity. A parent is a corporation that owns more than 50% of another corporation's capital stock. A subject may be its own domestic ultimate.",
                  "x-ms-summary": "Domestic Ultimate D-U-N-S Number",
                  "x-ms-visibility": "advanced"
                },
                "domestic_ultimate.name": {
                  "type": "string",
                  "description": "The name of the highest business in the family tree that is in the same country as the subject.",
                  "x-ms-summary": "Domestic Ultimate Name",
                  "x-ms-visibility": "advanced"
                },
                "global_ultimate.duns": {
                  "type": "string",
                  "description": "The D-U-N-S number of the highest level parent within a corporate family tree. A parent is a corporation that owns more than 50% of another corporation's capital stock. A subject may be its own global ultimate. ",
                  "x-ms-summary": "Global Ultimate D-U-N-S Number",
                  "x-ms-visibility": "advanced"
                },
                "global_ultimate.name": {
                  "type": "string",
                  "description": "The primary name of the global ultimate business.",
                  "x-ms-summary": "Global Ultimate Name",
                  "x-ms-visibility": "advanced"
                },
                "entity_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The D&B Code for the corresponding Business Legal Structure",
                  "x-ms-summary": "Business Legal Structure"
                },
                "entity_type.description": {
                  "type": "string",
                  "description": "The name of the legal form or structure of the entity as registered with government authorities (e.g., partnership, corporation, private limited company, government department, proprietorship). A unique code assigned by D&B to identify the legal form or structure of the entity as registered with government authorities",
                  "x-ms-summary": "Business Legal Structure Description"
                },
                "is_delisted": {
                  "type": "boolean",
                  "description": "Indicator as to the whether or not the entity has asked that their data not be included in D&B's marketing file for prospecting.",
                  "x-ms-summary": "Delisted Indicator",
                  "x-ms-visibility": "advanced"
                },
                "operating_status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The D&B code for the corresponding Operating Status",
                  "x-ms-summary": "Operating Status",
                  "x-ms-visibility": "advanced"
                },
                "operating_status.description": {
                  "type": "string",
                  "description": "The entity's functional state or trading status (e.g., active, out of business). A unique code assigned by D&B to identify the entity's functional state or trading status.",
                  "x-ms-summary": "Operating Status Description",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "transactionDetail": {
                  "type": "object",
                  "properties": {
                    "transactionID": {
                      "type": "string",
                      "description": "transactionID",
                      "x-ms-summary": "transactionID"
                    },
                    "transactionTimestamp": {
                      "type": "string",
                      "format": "date-time",
                      "description": "transactionTimestamp",
                      "x-ms-summary": "transactionTimestamp"
                    },
                    "inLanguage": {
                      "type": "string",
                      "description": "inLanguage",
                      "x-ms-summary": "inLanguage"
                    },
                    "serviceVersion": {
                      "type": "string",
                      "description": "serviceVersion",
                      "x-ms-summary": "serviceVersion"
                    }
                  },
                  "description": "transactionDetail",
                  "x-ms-summary": "transactionDetail"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "description": "errorCode",
                      "x-ms-summary": "errorCode"
                    },
                    "errorMessage": {
                      "type": "string",
                      "description": "errorMessage",
                      "x-ms-summary": "errorMessage"
                    }
                  },
                  "description": "error",
                  "x-ms-summary": "error"
                },
                "inquiryDetail": {
                  "type": "object",
                  "properties": {
                    "duns": {
                      "type": "string",
                      "x-ms-summary": "DUNS Number",
                      "description": "The D-U-N-S Number is an identification number assigned by D&B that uniquely identifies the entity in accordance with the Data Universal Numbering System (D-U-N-S)."
                    },
                    "productID": {
                      "type": "string",
                      "description": "productID",
                      "x-ms-summary": "productID"
                    },
                    "productVersion": {
                      "type": "string",
                      "description": "productVersion",
                      "x-ms-summary": "productVersion"
                    }
                  },
                  "description": "inquiryDetail",
                  "x-ms-summary": "inquiryDetail"
                }
              }
            }
          }
        },
        "x-ms-no-generic-test": true,
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dnb/#retrieve-data-on-a-specific-entity-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/dnb"
  }
}
