{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Capsule CRM",
    "description": "Online CRM for individuals, small businesses and sales teams wanting a simple, effective and affordable solution.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/capsulecrm",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/create_trigger/opportunities": {
      "get": {
        "summary": "When an opportunity is created",
        "description": "This operation triggers when a new opportunity is created in your account.",
        "operationId": "OnNewOpportunity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Opportunity_Response"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add an opportunity.",
        "x-ms-dev-triggerType": "queryFilter",
        "x-ms-dev-queryfilterParamName": "since",
        "x-ms-dev-triggerValueCollection": "opportunities",
        "x-ms-dev-triggerValuePath": "createdAt",
        "x-ms-dev-triggerDateFormat": "iso",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#when-an-opportunity-is-created"
        }
      }
    },
    "/{connectionId}/update_trigger/opportunities": {
      "get": {
        "summary": "When an opportunity is updated",
        "description": "This operation triggers when an existing opportunity is updated in your account.",
        "operationId": "OnUpdateOpportunity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Opportunity_Response"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, update an existing opportunity.",
        "x-ms-dev-triggerType": "queryFilter",
        "x-ms-dev-queryfilterParamName": "since",
        "x-ms-dev-triggerValueCollection": "opportunities",
        "x-ms-dev-triggerValuePath": "updatedAt",
        "x-ms-dev-triggerDateFormat": "iso",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#when-an-opportunity-is-updated"
        }
      }
    },
    "/{connectionId}/create_trigger/tasks": {
      "get": {
        "summary": "When a task is created",
        "description": "This operation triggers when a task is created in your account.",
        "operationId": "OnNewTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Task_Response"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a task.",
        "x-ms-dev-queryfilterParamName": "since",
        "x-ms-dev-triggerValueCollection": "tasks",
        "x-ms-dev-triggerValuePath": "createdAt",
        "x-ms-dev-triggerDateFormat": "iso",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#when-a-task-is-created"
        }
      }
    },
    "/{connectionId}/create_trigger/parties": {
      "get": {
        "summary": "When a party is created",
        "description": "This operation triggers when a new party is created in your account.",
        "operationId": "OnNewParty",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Party_Response"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a party.",
        "x-ms-dev-triggerType": "queryFilter",
        "x-ms-dev-queryfilterParamName": "since",
        "x-ms-dev-triggerValueCollection": "parties",
        "x-ms-dev-triggerValuePath": "createdAt",
        "x-ms-dev-triggerDateFormat": "iso",
        "x-ms-api-annotation": {
          "family": "OnNewParty",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#when-a-party-is-created"
        }
      }
    },
    "/{connectionId}/v2/create_trigger/parties": {
      "get": {
        "summary": "When a party is created (V2)",
        "description": "This operation triggers when a new party is created in your account.",
        "operationId": "OnNewPartyV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Party_ResponseV2"
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a party.",
        "x-ms-dev-triggerType": "queryFilter",
        "x-ms-dev-queryfilterParamName": "since",
        "x-ms-dev-triggerValueCollection": "parties",
        "x-ms-dev-triggerValuePath": "createdAt",
        "x-ms-dev-triggerDateFormat": "iso",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnNewParty",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#when-a-party-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/opportunities": {
      "get": {
        "summary": "List opportunities",
        "description": "This operation retrieves a list of all opportunities in your Capsule account.",
        "operationId": "ListOpportunities",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "opportunities": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Opportunity_Response"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-opportunities"
        }
      },
      "post": {
        "summary": "Create opportunity",
        "description": "This operation is used to create a new opportunity in your account.",
        "operationId": "CreateOpportunity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Createopportunity_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "opportunity": {
                  "$ref": "#/definitions/Opportunity_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#create-opportunity"
        }
      }
    },
    "/{connectionId}/opportunities/{opportunityId}": {
      "get": {
        "summary": "Get opportunity",
        "description": "This operation is used to retrieve all information about an opportunity.",
        "operationId": "GetOpportunity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/opportunityId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "opportunity": {
                  "$ref": "#/definitions/Opportunity_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#get-opportunity"
        }
      },
      "post": {
        "summary": "Update opportunity",
        "description": "This operation is used to update information about an existing opportunity.",
        "operationId": "UpdateOpportunity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/opportunityId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updateopportunity_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "opportunity": {
                  "$ref": "#/definitions/Opportunity_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#update-opportunity"
        }
      },
      "delete": {
        "summary": "DeleteOpportunity",
        "description": "This operation is used to delete an existing opportunity.",
        "operationId": "DeleteOpportunity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/opportunityId__in_path"
          }
        ],
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#deleteopportunity"
        }
      }
    },
    "/{connectionId}/person/parties": {
      "post": {
        "summary": "Create person",
        "description": "This operation is used to create a new person in your Capsule account.",
        "operationId": "CreatePerson",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Createperson_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "$ref": "#/definitions/Party_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "CreatePerson",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#create-person"
        }
      }
    },
    "/{connectionId}/v2/person/parties": {
      "post": {
        "summary": "Create person (V2)",
        "description": "This operation is used to create a new person in your Capsule account.",
        "operationId": "CreatePersonV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Createperson_RequestV2"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "$ref": "#/definitions/Party_ResponseV2"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "CreatePerson",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#create-person-(v2)"
        }
      }
    },
    "/{connectionId}/person/parties/{personId}": {
      "put": {
        "summary": "Update person",
        "description": "This operation is used to update the information about an existing person in your Capsule account.",
        "operationId": "UpdatePerson",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/personId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updateperson_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "$ref": "#/definitions/Party_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "UpdatePerson",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#update-person"
        }
      }
    },
    "/{connectionId}/v2/person/parties/{personId}": {
      "put": {
        "summary": "Update person (V2)",
        "description": "This operation is used to update the information about an existing person in your Capsule account.",
        "operationId": "UpdatePersonV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/personId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updateperson_RequestV2"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "$ref": "#/definitions/Party_ResponseV2"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "UpdatePerson",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#update-person-(v2)"
        }
      }
    },
    "/{connectionId}/organisation/parties": {
      "post": {
        "summary": "Create organisation",
        "description": "This operation is used to create a new organisation in your Capsule account.",
        "operationId": "CreateOrganisation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Createorganisation_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "$ref": "#/definitions/Party_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#create-organisation"
        }
      }
    },
    "/{connectionId}/organisation/parties/{id}": {
      "put": {
        "summary": "Update organisation",
        "description": "This operation is used to update information about an existing organisation.",
        "operationId": "UpdateOrganisation",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Party Id",
            "description": "The id of the party",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "136219742"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Updateorganisation_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "$ref": "#/definitions/Party_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#update-organisation"
        }
      }
    },
    "/{connectionId}/parties": {
      "get": {
        "summary": "List parties",
        "description": "This operation is used to retrieve a list of all parties in your Capsule account.",
        "operationId": "ListParties",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Listparties_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "ListParties",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-parties"
        }
      }
    },
    "/{connectionId}/v2/parties": {
      "get": {
        "summary": "List parties (V2)",
        "description": "This operation is used to retrieve a list of all parties in your Capsule account.",
        "operationId": "ListPartiesV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Listparties_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListParties",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-parties-(v2)"
        }
      }
    },
    "/{connectionId}/people/parties": {
      "get": {
        "summary": "List people",
        "description": "This operation is used to retrieve a list of all people in your Capsule account.",
        "operationId": "ListPeople",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Listparties_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "ListPeople",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-people"
        }
      }
    },
    "/{connectionId}/v2/people/parties": {
      "get": {
        "summary": "List people (V2)",
        "description": "This operation is used to retrieve a list of all people in your Capsule account.",
        "operationId": "ListPeopleV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Listparties_ResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListPeople",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-people-(v2)"
        }
      }
    },
    "/{connectionId}/organisations/parties": {
      "get": {
        "summary": "List organizations",
        "description": "This operation is used to retrieve a list of all organisations in your account.",
        "operationId": "ListOrganizations",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Listparties_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-organizations"
        }
      }
    },
    "/{connectionId}/parties/{personId}": {
      "get": {
        "summary": "Get party",
        "description": "This operation retrieves all information about an existing party.",
        "operationId": "GetParty",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/personId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "$ref": "#/definitions/Party_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "GetParty",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#get-party"
        }
      },
      "delete": {
        "summary": "Delete party",
        "description": "This operation is used to delete a party from your account.",
        "operationId": "DeleteParty",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/personId__in_path"
          }
        ],
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#delete-party"
        }
      }
    },
    "/{connectionId}/v2/parties/{personId}": {
      "get": {
        "summary": "Get party (V2)",
        "description": "This operation retrieves all information about an existing party.",
        "operationId": "GetPartyV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/personId__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "party": {
                  "$ref": "#/definitions/Party_ResponseV2"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "GetParty",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#get-party-(v2)"
        }
      }
    },
    "/{connectionId}/tasks": {
      "get": {
        "summary": "List tasks",
        "description": "This operation is used to retrieve a list of tasks.",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tasks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Task_Response"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-tasks"
        }
      },
      "post": {
        "summary": "Create task",
        "description": "This operation is used to create a new task.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Createtask_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "task": {
                  "$ref": "#/definitions/Task_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#create-task"
        }
      }
    },
    "/{connectionId}/tasks/{taskId}": {
      "put": {
        "summary": "Complete task",
        "description": "This operation is used to complete a task.",
        "operationId": "CompleteTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/taskId__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Completetask_Request"
            },
            "x-ms-summary": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "task": {
                  "$ref": "#/definitions/Task_Response"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#complete-task"
        }
      }
    },
    "/{connectionId}/milestones": {
      "get": {
        "summary": "List milestones",
        "description": "This operation returns a list of milestones.",
        "operationId": "ListMilestones",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Listmilestones_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-milestones"
        }
      }
    },
    "/{connectionId}/currencies": {
      "get": {
        "summary": "List currencies",
        "description": "This operation returns a list of currencies.",
        "operationId": "ListCurrencies",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/Listcurrencies_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/capsulecrm/#list-currencies"
        }
      }
    }
  },
  "definitions": {
    "Createopportunity_Request": {
      "type": "object",
      "required": [
        "opportunity"
      ],
      "properties": {
        "opportunity": {
          "type": "object",
          "required": [
            "name",
            "party",
            "milestone"
          ],
          "properties": {
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            },
            "party": {
              "type": "object",
              "required": [
                "id"
              ],
              "properties": {
                "id": {
                  "format": "int32",
                  "description": "Pick a party.",
                  "type": "integer",
                  "x-ms-summary": "Party Id",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListParties",
                    "value-collection": "parties",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "x-ms-summary": "Party"
            },
            "milestone": {
              "type": "object",
              "required": [
                "id"
              ],
              "properties": {
                "id": {
                  "format": "int32",
                  "description": "Pick a milestone.",
                  "type": "integer",
                  "x-ms-summary": "Id",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListMilestones",
                    "value-collection": "milestones",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "x-ms-summary": "Milestone"
            },
            "description": {
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            },
            "durationBasis": {
              "type": "string",
              "x-ms-summary": "Duration Basis",
              "x-ms-visibility": "advanced",
              "enum": [
                "FIXED",
                "HOUR",
                "DAY",
                "MONTH",
                "YEAR",
                "WEEK",
                "QUARTER"
              ]
            },
            "duration": {
              "type": "string",
              "x-ms-summary": "Duration",
              "x-ms-visibility": "advanced"
            },
            "expectedCloseOn": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Expected Close Date",
              "x-ms-visibility": "advanced"
            },
            "probability": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Winning Probability",
              "x-ms-visibility": "advanced"
            },
            "value": {
              "description": "Expected value",
              "type": "object",
              "properties": {
                "amount": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Amount",
                  "x-ms-visibility": "advanced"
                },
                "currency": {
                  "type": "string",
                  "x-ms-summary": "Currency",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListCurrencies",
                    "value-collection": "currencies",
                    "value-path": "code",
                    "value-title": "code"
                  }
                }
              },
              "x-ms-summary": "Expected"
            }
          }
        }
      },
      "x-ms-test-value": {
        "opportunity": {
          "description": "Scope and design web site shopping cart",
          "party": {
            "id": 136219141
          },
          "milestone": {
            "id": 447005
          },
          "value": {
            "amount": 500,
            "currency": "GBP"
          },
          "expectedCloseOn": "2015-10-31",
          "probability": 50,
          "durationBasis": "FIXED",
          "name": "Consulting"
        }
      }
    },
    "Updateopportunity_Request": {
      "type": "object",
      "properties": {
        "opportunity": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            },
            "party": {
              "type": "object",
              "required": [
                "id"
              ],
              "properties": {
                "id": {
                  "format": "int32",
                  "description": "Pick a party.",
                  "type": "integer",
                  "x-ms-summary": "Party Id",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListParties",
                    "value-collection": "parties",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "x-ms-summary": "Party"
            },
            "milestone": {
              "type": "object",
              "required": [
                "id"
              ],
              "properties": {
                "id": {
                  "format": "int32",
                  "description": "Pick a milestone.",
                  "type": "integer",
                  "x-ms-summary": "Milestone Id",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListMilestones",
                    "value-collection": "milestones",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "x-ms-summary": "Milestone"
            },
            "description": {
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            },
            "durationBasis": {
              "type": "string",
              "x-ms-summary": "Duration Basis",
              "x-ms-visibility": "advanced",
              "enum": [
                "FIXED",
                "HOUR",
                "DAY",
                "MONTH",
                "YEAR",
                "WEEK",
                "QUARTER"
              ]
            },
            "duration": {
              "type": "string",
              "x-ms-summary": "Duration",
              "x-ms-visibility": "advanced"
            },
            "expectedCloseOn": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Expected Close Date",
              "x-ms-visibility": "advanced"
            },
            "probability": {
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Winning Probability",
              "x-ms-visibility": "advanced"
            },
            "value": {
              "description": "Expected value",
              "type": "object",
              "properties": {
                "amount": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Amount",
                  "x-ms-visibility": "advanced"
                },
                "currency": {
                  "type": "string",
                  "x-ms-summary": "Currency",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListCurrencies",
                    "value-collection": "currencies",
                    "value-path": "code",
                    "value-title": "code"
                  }
                }
              },
              "x-ms-summary": "Expected"
            }
          }
        }
      },
      "x-ms-test-value": {
        "opportunity": {
          "description": "Scope and design web site shopping cart",
          "party": {
            "id": 136219141
          },
          "milestone": {
            "id": 447005
          },
          "value": {
            "amount": 500,
            "currency": "GBP"
          },
          "expectedCloseOn": "2015-10-31",
          "probability": 50,
          "durationBasis": "FIXED",
          "name": "Consulting"
        }
      }
    },
    "Createperson_Request": {
      "type": "object",
      "required": [
        "party"
      ],
      "properties": {
        "party": {
          "type": "object",
          "required": [
            "lastName",
            "type"
          ],
          "properties": {
            "lastName": {
              "type": "string",
              "x-ms-summary": "Last Name",
              "x-ms-visibility": "important"
            },
            "firstName": {
              "type": "string",
              "x-ms-summary": "First Name",
              "x-ms-visibility": "important"
            },
            "title": {
              "type": "string",
              "x-ms-summary": "Title",
              "x-ms-visibility": "important",
              "enum": [
                "Mr",
                "Master",
                "Mrs",
                "Miss",
                "Ms",
                "Dr",
                "Prof"
              ]
            },
            "jobTitle": {
              "type": "string",
              "x-ms-summary": "Job Title",
              "x-ms-visibility": "important"
            },
            "about": {
              "type": "string",
              "x-ms-summary": "About",
              "x-ms-visibility": "advanced"
            },
            "organisation": {
              "type": "string",
              "x-ms-summary": "Organisation Id",
              "description": "Pick an organisation.",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListOrganizations",
                "value-collection": "parties",
                "value-path": "id",
                "value-title": "name"
              }
            },
            "phoneNumbers": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "x-ms-summary": "Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Phone Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work",
                    "Mobile",
                    "Fax",
                    "Direct"
                  ]
                }
              }
            },
            "emailAddresses": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Email Address",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Email Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work"
                  ]
                }
              }
            },
            "websites": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Website Address",
                  "x-ms-visibility": "advanced"
                },
                "service": {
                  "type": "string",
                  "x-ms-summary": "Website Service",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "FEED",
                    "FACEBOOK",
                    "FLICKR",
                    "GITHUB",
                    "GOOGLE_PLUS",
                    "INSTAGRAM",
                    "LINKED_IN",
                    "PINTEREST",
                    "SKYPE",
                    "TWITTER",
                    "URL",
                    "XING",
                    "YOUTUBE"
                  ]
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Website Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work"
                  ]
                }
              }
            },
            "addresses": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string",
                  "x-ms-summary": "Address Street",
                  "x-ms-visibility": "advanced"
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "Address City",
                  "x-ms-visibility": "advanced"
                },
                "state": {
                  "type": "string",
                  "x-ms-summary": "Address State",
                  "x-ms-visibility": "advanced"
                },
                "zip": {
                  "type": "string",
                  "x-ms-summary": "Address Zip",
                  "x-ms-visibility": "advanced"
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Address Country",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Address Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Postal",
                    "Office"
                  ]
                }
              }
            },
            "tags": {
              "description": "Comma-separated list of tags.",
              "type": "string",
              "x-ms-summary": "Tags",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "Party type.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "internal",
              "default": "person"
            }
          }
        }
      },
      "x-ms-test-value": {
        "party": {
          "type": "person",
          "about": null,
          "title": null,
          "firstName": "Scott",
          "lastName": "Spacey",
          "jobTitle": "Creative Director",
          "organisation": null
        }
      }
    },
    "Updateperson_Request": {
      "type": "object",
      "properties": {
        "party": {
          "type": "object",
          "required": [
            "type"
          ],
          "properties": {
            "lastName": {
              "type": "string",
              "x-ms-summary": "Last Name",
              "x-ms-visibility": "important"
            },
            "firstName": {
              "type": "string",
              "x-ms-summary": "First Name",
              "x-ms-visibility": "important"
            },
            "title": {
              "type": "string",
              "x-ms-summary": "Title",
              "x-ms-visibility": "important",
              "enum": [
                "Mr",
                "Master",
                "Mrs",
                "Miss",
                "Ms",
                "Dr",
                "Prof"
              ]
            },
            "jobTitle": {
              "type": "string",
              "x-ms-summary": "Job Title",
              "x-ms-visibility": "important"
            },
            "about": {
              "type": "string",
              "x-ms-summary": "About",
              "x-ms-visibility": "advanced"
            },
            "organisation": {
              "type": "string",
              "x-ms-summary": "Organisation Id",
              "description": "Pick an organisation.",
              "x-ms-visibility": "advanced",
              "x-ms-dynamic-values": {
                "operationId": "ListOrganizations",
                "value-collection": "parties",
                "value-path": "id",
                "value-title": "name"
              }
            },
            "phoneNumbers": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "x-ms-summary": "Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Phone Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work",
                    "Mobile",
                    "Fax",
                    "Direct"
                  ]
                }
              }
            },
            "emailAddresses": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Email Address",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Email Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work"
                  ]
                }
              }
            },
            "websites": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Website Address",
                  "x-ms-visibility": "advanced"
                },
                "service": {
                  "type": "string",
                  "x-ms-summary": "Website Service",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "FEED",
                    "FACEBOOK",
                    "FLICKR",
                    "GITHUB",
                    "GOOGLE_PLUS",
                    "INSTAGRAM",
                    "LINKED_IN",
                    "PINTEREST",
                    "SKYPE",
                    "TWITTER",
                    "URL",
                    "XING",
                    "YOUTUBE"
                  ]
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Website Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work"
                  ]
                }
              }
            },
            "addresses": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string",
                  "x-ms-summary": "Address Street",
                  "x-ms-visibility": "advanced"
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "Address City",
                  "x-ms-visibility": "advanced"
                },
                "state": {
                  "type": "string",
                  "x-ms-summary": "Address State",
                  "x-ms-visibility": "advanced"
                },
                "zip": {
                  "type": "string",
                  "x-ms-summary": "Address Zip",
                  "x-ms-visibility": "advanced"
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Address Country",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Address Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Postal",
                    "Office"
                  ]
                }
              }
            },
            "tags": {
              "description": "Comma-separated list of tags.",
              "type": "string",
              "x-ms-summary": "Tags",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "Party type.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "internal",
              "default": "person"
            }
          }
        }
      },
      "x-ms-test-value": {
        "party": {
          "type": "person",
          "about": null,
          "title": null,
          "firstName": "Scott",
          "lastName": "Spacey",
          "jobTitle": "Creative Director",
          "organisation": null
        }
      }
    },
    "Createorganisation_Request": {
      "type": "object",
      "required": [
        "party"
      ],
      "properties": {
        "party": {
          "type": "object",
          "required": [
            "name",
            "type"
          ],
          "properties": {
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            },
            "about": {
              "type": "string",
              "x-ms-summary": "About",
              "x-ms-visibility": "advanced"
            },
            "phoneNumbers": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "x-ms-summary": "Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Phone Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work",
                    "Mobile",
                    "Fax",
                    "Direct"
                  ]
                }
              }
            },
            "emailAddresses": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Email Address",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Email Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work"
                  ]
                }
              }
            },
            "websites": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Website Address",
                  "x-ms-visibility": "advanced"
                },
                "service": {
                  "type": "string",
                  "x-ms-summary": "Website Service",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "FEED",
                    "FACEBOOK",
                    "FLICKR",
                    "GITHUB",
                    "GOOGLE_PLUS",
                    "INSTAGRAM",
                    "LINKED_IN",
                    "PINTEREST",
                    "SKYPE",
                    "TWITTER",
                    "URL",
                    "XING",
                    "YOUTUBE"
                  ]
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Website Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work"
                  ]
                }
              }
            },
            "addresses": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string",
                  "x-ms-summary": "Address Street",
                  "x-ms-visibility": "advanced"
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "Address City",
                  "x-ms-visibility": "advanced"
                },
                "state": {
                  "type": "string",
                  "x-ms-summary": "Address State",
                  "x-ms-visibility": "advanced"
                },
                "zip": {
                  "type": "string",
                  "x-ms-summary": "Address Zip",
                  "x-ms-visibility": "advanced"
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Address Country",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Address Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Postal",
                    "Office"
                  ]
                }
              }
            },
            "tags": {
              "description": "Comma-separated list of tags.",
              "type": "string",
              "x-ms-summary": "Tags",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "Organisation type.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "internal",
              "default": "organisation"
            }
          }
        }
      }
    },
    "Updateorganisation_Request": {
      "type": "object",
      "properties": {
        "party": {
          "type": "object",
          "required": [
            "type"
          ],
          "properties": {
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            },
            "about": {
              "type": "string",
              "x-ms-summary": "About",
              "x-ms-visibility": "advanced"
            },
            "phoneNumbers": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "string",
                  "x-ms-summary": "Phone Number",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Phone Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work",
                    "Mobile",
                    "Fax",
                    "Direct"
                  ]
                }
              }
            },
            "emailAddresses": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Email Address",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Email Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work"
                  ]
                }
              }
            },
            "websites": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Website Address",
                  "x-ms-visibility": "advanced"
                },
                "service": {
                  "type": "string",
                  "x-ms-summary": "Website Service",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "FEED",
                    "FACEBOOK",
                    "FLICKR",
                    "GITHUB",
                    "GOOGLE_PLUS",
                    "INSTAGRAM",
                    "LINKED_IN",
                    "PINTEREST",
                    "SKYPE",
                    "TWITTER",
                    "URL",
                    "XING",
                    "YOUTUBE"
                  ]
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Website Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Work"
                  ]
                }
              }
            },
            "addresses": {
              "type": "object",
              "properties": {
                "street": {
                  "type": "string",
                  "x-ms-summary": "Address Street",
                  "x-ms-visibility": "advanced"
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "Address City",
                  "x-ms-visibility": "advanced"
                },
                "state": {
                  "type": "string",
                  "x-ms-summary": "Address State",
                  "x-ms-visibility": "advanced"
                },
                "zip": {
                  "type": "string",
                  "x-ms-summary": "Address Zip",
                  "x-ms-visibility": "advanced"
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Address Country",
                  "x-ms-visibility": "advanced"
                },
                "type": {
                  "type": "string",
                  "x-ms-summary": "Address Type",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "Home",
                    "Postal",
                    "Office"
                  ]
                }
              }
            },
            "tags": {
              "description": "Comma-separated list of tags.",
              "type": "string",
              "x-ms-summary": "Tags",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "Organisation type.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "internal",
              "default": "organisation"
            }
          }
        }
      },
      "x-ms-test-value": {
        "party": {
          "type": "organisation"
        }
      }
    },
    "Createtask_Request": {
      "type": "object",
      "required": [
        "task"
      ],
      "properties": {
        "task": {
          "description": "task",
          "type": "object",
          "required": [
            "description",
            "dueOn"
          ],
          "properties": {
            "description": {
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "important"
            },
            "dueOn": {
              "description": "yyyy-MM-dd",
              "type": "string",
              "x-ms-summary": "Due Date",
              "x-ms-visibility": "important"
            },
            "dueTime": {
              "description": "hh:mm:ss",
              "type": "string",
              "x-ms-summary": "Due Time",
              "x-ms-visibility": "advanced"
            },
            "detail": {
              "type": "string",
              "x-ms-summary": "Details",
              "x-ms-visibility": "advanced"
            },
            "party": {
              "type": "object",
              "properties": {
                "id": {
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Id",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "ListParties",
                    "value-collection": "parties",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "x-ms-summary": "Party"
            }
          }
        }
      },
      "x-ms-test-value": {
        "task": {
          "description": "test task",
          "dueOn": "2020-10-10"
        }
      }
    },
    "Completetask_Request": {
      "type": "object",
      "required": [
        "task"
      ],
      "properties": {
        "task": {
          "type": "object",
          "required": [
            "status"
          ],
          "properties": {
            "status": {
              "type": "string",
              "x-ms-summary": "Status",
              "x-ms-visibility": "internal",
              "default": "completed"
            }
          }
        }
      },
      "x-ms-test-value": {
        "task": {
          "status": "completed"
        }
      }
    },
    "Opportunity_Response": {
      "type": "object",
      "properties": {
        "closedOn": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Closed Date",
          "x-ms-visibility": "important"
        },
        "createdAt": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "Opportunity description.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "duration": {
          "description": "Opportunity duration.",
          "type": "integer",
          "x-ms-summary": "Duration",
          "x-ms-visibility": "advanced"
        },
        "durationBasis": {
          "description": "Basis for the opportunity duration.",
          "type": "string",
          "x-ms-summary": "Duration Basis",
          "x-ms-visibility": "advanced"
        },
        "expectedCloseOn": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Expected Close Date",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "Unique id of the opportunity.",
          "type": "integer",
          "x-ms-summary": "Opportunity Id",
          "x-ms-visibility": "advanced"
        },
        "milestone": {
          "description": "Milestone object.",
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Unique id of the milestone.",
              "type": "integer",
              "x-ms-summary": "Milestone Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the milestone opportunity is in.",
              "type": "string",
              "x-ms-summary": "Milestone Name",
              "x-ms-visibility": "important"
            }
          }
        },
        "name": {
          "description": "Name of the opportunity.",
          "type": "string",
          "x-ms-summary": "Opportunity Name",
          "x-ms-visibility": "important"
        },
        "owner": {
          "description": "Represents a reference to the user object.",
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Unique id of the user.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the user.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            },
            "username": {
              "description": "Username of the user.",
              "type": "string",
              "x-ms-summary": "Username",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Owner"
        },
        "party": {
          "description": "Represents a contact object.",
          "type": "object",
          "properties": {
            "firstName": {
              "description": "First name when type is person.",
              "type": "string",
              "x-ms-summary": "First Name",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "format": "int32",
              "description": "Unique id of the party.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "lastName": {
              "description": "Last name when type is person.",
              "type": "string",
              "x-ms-summary": "Last Name",
              "x-ms-visibility": "advanced"
            },
            "pictureURL": {
              "description": "Url that represents the profile picture for this party.",
              "type": "string",
              "x-ms-summary": "Picture URL",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "Person or organization.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Party",
          "x-ms-visibility": "advanced"
        },
        "probability": {
          "format": "int32",
          "description": "Probability of winning the opportunity.",
          "type": "integer",
          "x-ms-summary": "Probability",
          "x-ms-visibility": "important"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "value": {
          "description": "Opportunity value object.",
          "type": "object",
          "properties": {
            "amount": {
              "format": "float",
              "description": "amount",
              "type": "number",
              "x-ms-summary": "Amount the opportunity is worth.",
              "x-ms-visibility": "important"
            },
            "currency": {
              "description": "Currency type of the opportunity.",
              "type": "string",
              "x-ms-summary": "Currency",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Value"
        }
      }
    },
    "Listparties_Response": {
      "type": "object",
      "properties": {
        "parties": {
          "description": "party",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Name of the organisation.",
                "type": "string",
                "x-ms-summary": "Organisation Name",
                "x-ms-visibility": "important"
              },
              "about": {
                "description": "Organisation description.",
                "type": "string",
                "x-ms-summary": "About",
                "x-ms-visibility": "important"
              },
              "createdAt": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                "type": "string",
                "x-ms-summary": "Created Date-Time",
                "x-ms-visibility": "advanced"
              },
              "firstName": {
                "description": "Person's first name.",
                "type": "string",
                "x-ms-summary": "First Name",
                "x-ms-visibility": "important"
              },
              "id": {
                "format": "int32",
                "description": "Unique id of the organisation.",
                "type": "integer",
                "x-ms-summary": "Party Id",
                "x-ms-visibility": "advanced"
              },
              "jobTitle": {
                "description": "Person's job title.",
                "type": "string",
                "x-ms-summary": "Job Title",
                "x-ms-visibility": "important"
              },
              "lastContactedAt": {
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                "type": "string",
                "x-ms-summary": "Last Contacted Date-Time",
                "x-ms-visibility": "advanced"
              },
              "lastName": {
                "description": "Person's last name.",
                "type": "string",
                "x-ms-summary": "Last Name",
                "x-ms-visibility": "important"
              },
              "organisation": {
                "description": "Person's company.",
                "type": "string",
                "x-ms-summary": "Organisation",
                "x-ms-visibility": "important"
              },
              "pictureURL": {
                "description": "Url where the image is located.",
                "type": "string",
                "x-ms-summary": "Picture URL",
                "x-ms-visibility": "advanced"
              },
              "title": {
                "description": "Person's title.",
                "type": "string",
                "x-ms-summary": "Title",
                "x-ms-visibility": "important"
              },
              "type": {
                "description": "Person or organisation.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "important"
              },
              "updatedAt": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                "type": "string",
                "x-ms-summary": "Updated Date-Time",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "Party_Response": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the organisation.",
          "type": "string",
          "x-ms-summary": "Organisation Name",
          "x-ms-visibility": "important"
        },
        "about": {
          "description": "Short description about the party.",
          "type": "string",
          "x-ms-summary": "About",
          "x-ms-visibility": "important"
        },
        "addresses": {
          "description": "Array of addresses.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "city": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "City",
                "x-ms-visibility": "advanced"
              },
              "country": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "Country",
                "x-ms-visibility": "advanced"
              },
              "state": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "State",
                "x-ms-visibility": "advanced"
              },
              "street": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "Street",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              },
              "zip": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "Zip",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-visibility": "advanced"
        },
        "createdAt": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "emailAddresses": {
          "description": "Array of email addresses.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "description": "The actual email address.",
                "type": "string",
                "x-ms-summary": "Email Address",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "Home or work.",
                "type": "string",
                "x-ms-summary": "Email Type",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "firstName": {
          "description": "Person's first name.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "Unique id of the party.",
          "type": "integer",
          "x-ms-summary": "Party Id",
          "x-ms-visibility": "advanced"
        },
        "jobTitle": {
          "description": "Person's job title.",
          "type": "string",
          "x-ms-summary": "Job Title",
          "x-ms-visibility": "important"
        },
        "lastContactedAt": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Last Contacted at",
          "x-ms-visibility": "advanced"
        },
        "lastName": {
          "description": "Person's last name.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "organisation": {
          "description": "Organisation the party is associated with.",
          "type": "string",
          "x-ms-summary": "Organisation",
          "x-ms-visibility": "advanced"
        },
        "phoneNumbers": {
          "description": "Phone numbers,",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "number": {
                "description": "The actual phone number.",
                "type": "string",
                "x-ms-summary": "Phone Number",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "Home, work, mobile, fax, or direct.",
                "type": "string",
                "x-ms-summary": "Phone Number Type",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-visibility": "advanced"
        },
        "pictureURL": {
          "description": "Url that represents the location of the profile picture for this party.",
          "type": "string",
          "x-ms-summary": "Picture URL",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "Person's title.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Person or organisation.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "websites": {
          "description": "websites",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "Account username or profile page url.",
                "x-ms-summary": "Website Address",
                "x-ms-visibility": "advanced"
              },
              "service": {
                "type": "string",
                "description": "Url, skype, twitter, linkedin, facebook, xing, feed, google_plus, flickr, github or youtube.",
                "x-ms-summary": "Website Service",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "type": "string",
                "description": "Home or work.",
                "x-ms-summary": "Website Type",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-visibility": "advanced"
        }
      },
      "x-ms-test-value": {
        "party": {
          "id": 133699876,
          "type": "person",
          "about": null,
          "title": null,
          "firstName": "Scott2",
          "lastName": "Spacey2",
          "jobTitle": "Creative Director",
          "createdAt": "2017-02-17T22:56:25Z",
          "updatedAt": "2017-02-17T22:56:25Z",
          "organisation": null,
          "lastContactedAt": null,
          "pictureURL": "https://d365sd3k9yw37.cloudfront.net/a/1487158241/theme/default/images/person_avatar_70.png",
          "emailAddresses": [
            {
              "id": 272795904,
              "type": "Work",
              "address": "scott@homestyleshop.co"
            }
          ],
          "addresses": [
            {
              "id": 272795905,
              "type": null,
              "city": "Chicago",
              "country": "United States",
              "street": "847 North Rush Street",
              "state": "IL",
              "zip": "65629"
            }
          ],
          "phoneNumbers": [
            {
              "id": 272795903,
              "type": null,
              "number": "773-338-7786"
            }
          ],
          "websites": []
        }
      }
    },
    "Task_Response": {
      "type": "object",
      "properties": {
        "category": {
          "description": "category",
          "type": "object",
          "properties": {
            "colour": {
              "description": "Description of the task category.",
              "type": "string",
              "x-ms-summary": "Colour",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "format": "int32",
              "description": "Id of the task category.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the task category.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Category",
          "x-ms-visibility": "advanced"
        },
        "completedAt": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Completed Date-Time",
          "x-ms-visibility": "important"
        },
        "completedBy": {
          "description": "Username of the person who completed this task.",
          "type": "string",
          "x-ms-summary": "Completed By",
          "x-ms-visibility": "advanced"
        },
        "createdAt": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "Short description about the task.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "detail": {
          "description": "More details about the task.",
          "type": "string",
          "x-ms-summary": "Detail",
          "x-ms-visibility": "important"
        },
        "dueOn": {
          "description": "yyyy-MM-dd",
          "type": "string",
          "x-ms-summary": "Due Date",
          "x-ms-visibility": "important"
        },
        "dueTime": {
          "description": "hh:mm:ss",
          "type": "string",
          "x-ms-summary": "Due Time",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "Unique id of the task.",
          "type": "integer",
          "x-ms-summary": "Task Id",
          "x-ms-visibility": "advanced"
        },
        "owner": {
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "Unique id of the user.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "Name of the user.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            },
            "username": {
              "description": "Username of the user.",
              "type": "string",
              "x-ms-summary": "Username",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Owner",
          "description": "User the task is assigned to."
        },
        "party": {
          "description": "Represents a person or organisation in Capsule.",
          "type": "object",
          "properties": {
            "firstName": {
              "description": "First name, if person.",
              "type": "string",
              "x-ms-summary": "First Name",
              "x-ms-visibility": "important"
            },
            "id": {
              "format": "int32",
              "description": "Unique id of the party.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "lastName": {
              "description": "Last name, if person.",
              "type": "string",
              "x-ms-summary": "Last Name",
              "x-ms-visibility": "important"
            },
            "pictureURL": {
              "description": "Url that represents the location of the profile picture for this party.",
              "type": "string",
              "x-ms-summary": "Picture URL",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "description": "Person or organisation.",
              "type": "string",
              "x-ms-summary": "Type",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-summary": "Party",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "Open, completed or pending.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Listmilestones_Response": {
      "type": "object",
      "properties": {
        "milestones": {
          "description": "milestones",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "complete": {
                "description": "True if the milestone is complete.",
                "type": "boolean",
                "x-ms-summary": "Is Complete",
                "x-ms-visibility": "advanced"
              },
              "createdAt": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                "type": "string",
                "x-ms-summary": "Create Date-Time",
                "x-ms-visibility": "advanced"
              },
              "description": {
                "description": "Milestone description.",
                "type": "string",
                "x-ms-summary": "Description",
                "x-ms-visibility": "important"
              },
              "id": {
                "format": "int32",
                "description": "Unique id of the milestone.",
                "type": "integer",
                "x-ms-summary": "Milestone Id",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "Name of the milestone.",
                "type": "string",
                "x-ms-summary": "Milestone Name",
                "x-ms-visibility": "important"
              },
              "probability": {
                "format": "int32",
                "description": "Percent probability of winning.",
                "type": "integer",
                "x-ms-summary": "Probability",
                "x-ms-visibility": "advanced"
              },
              "updatedAt": {
                "format": "date-time",
                "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                "type": "string",
                "x-ms-summary": "Updated Date-Time",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      }
    },
    "Listcurrencies_Response": {
      "type": "object",
      "properties": {
        "currencies": {
          "description": "currencies",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "description": "code",
                "type": "string",
                "x-ms-summary": "Currency Code",
                "x-ms-visibility": "advanced"
              },
              "name": {
                "description": "name",
                "type": "string",
                "x-ms-summary": "Currency Name",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-summary": "currencies",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Party_ResponseV2": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the organisation.",
          "type": "string",
          "x-ms-summary": "Organisation Name",
          "x-ms-visibility": "important"
        },
        "about": {
          "description": "Short description about the party.",
          "type": "string",
          "x-ms-summary": "About",
          "x-ms-visibility": "important"
        },
        "addresses": {
          "description": "Array of addresses.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "city": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "City",
                "x-ms-visibility": "advanced"
              },
              "country": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "Country",
                "x-ms-visibility": "advanced"
              },
              "state": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "State",
                "x-ms-visibility": "advanced"
              },
              "street": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "Street",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              },
              "zip": {
                "description": "Party address.",
                "type": "string",
                "x-ms-summary": "Zip",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-visibility": "advanced"
        },
        "createdAt": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Created Date-Time",
          "x-ms-visibility": "advanced"
        },
        "emailAddresses": {
          "description": "Array of email addresses.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "description": "The actual email address.",
                "type": "string",
                "x-ms-summary": "Email Address",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "Home or work.",
                "type": "string",
                "x-ms-summary": "Email Type",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "firstName": {
          "description": "Person's first name.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "id": {
          "format": "int32",
          "description": "Unique id of the party.",
          "type": "integer",
          "x-ms-summary": "Party Id",
          "x-ms-visibility": "advanced"
        },
        "jobTitle": {
          "description": "Person's job title.",
          "type": "string",
          "x-ms-summary": "Job Title",
          "x-ms-visibility": "important"
        },
        "lastContactedAt": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Last Contacted at",
          "x-ms-visibility": "advanced"
        },
        "lastName": {
          "description": "Person's last name.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "organisation": {
          "description": "Organisation the party is associated with.",
          "type": "object",
          "properties": {
            "id": {
              "format": "int32",
              "description": "The unique id of the organisation.",
              "type": "integer",
              "x-ms-summary": "Id",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "description": "The name of the organisation.",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "advanced"
            },
            "pictureURL": {
              "description": "Url that represents the location of the profile picture for this party.",
              "type": "string",
              "x-ms-summary": "Picture URL",
              "x-ms-visibility": "advanced"
            }
          },
          "x-ms-summary": "Nested Organisation",
          "x-ms-visibility": "advanced"
        },
        "phoneNumbers": {
          "description": "Phone numbers,",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "number": {
                "description": "The actual phone number.",
                "type": "string",
                "x-ms-summary": "Phone Number",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "Home, work, mobile, fax, or direct.",
                "type": "string",
                "x-ms-summary": "Phone Number Type",
                "x-ms-visibility": "advanced"
              }
            }
          },
          "x-ms-visibility": "advanced"
        },
        "pictureURL": {
          "description": "Url that represents the location of the profile picture for this party.",
          "type": "string",
          "x-ms-summary": "Picture URL",
          "x-ms-visibility": "advanced"
        },
        "title": {
          "description": "Person's title.",
          "type": "string",
          "x-ms-summary": "Title",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Person or organisation.",
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "updatedAt": {
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "type": "string",
          "x-ms-summary": "Updated Date-Time",
          "x-ms-visibility": "advanced"
        },
        "websites": {
          "description": "websites",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "address": {
                "type": "string",
                "description": "Account username or profile page url.",
                "x-ms-summary": "Website Address",
                "x-ms-visibility": "advanced"
              },
[...]
