{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Asana",
    "description": "Asana enables teams to manage their projects and tasks in one place.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/asana",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/new_project_trigger/projects": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "When a project is created",
        "description": "Triggers when a new project is created.",
        "operationId": "OnProjectCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new project.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnProjectCreated",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#when-a-project-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/new_task_trigger/tasks": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "When a task is created",
        "description": "Triggers when a new task is created.",
        "operationId": "OnTaskCreated",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "276392134828903"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnTaskCreated",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#when-a-task-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/complete_task_trigger/tasks": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "When a task is completed",
        "description": "Triggers when an existing task is completed.",
        "operationId": "OnTaskCompleted",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "276392134828903"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnTaskCompleted",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#when-a-task-is-completed-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/workspaces": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "List workspaces",
        "description": "This operation is used to list workspaces for the current user.",
        "operationId": "ListWorkspaces",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListWorkSpacesResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListWorkspaces",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-workspaces-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/organizations/{workspace}/teams": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "List teams by workspace",
        "description": "This operation is used to view teams in the workspace or organization.",
        "operationId": "ListWorkspaceTeams",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace or Organization ID.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select.",
            "required": false,
            "x-ms-summary": "Select",
            "x-ms-visibility": "internal",
            "type": "string"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTeamsResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListWorkspaceTeams",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-teams-by-workspace-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/projects": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "List projects from workspace",
        "description": "This operation is used to list projects for the current user.",
        "operationId": "ListProjects",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListProjects",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-projects-from-workspace-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "Asana"
        ],
        "summary": "Create new project",
        "description": "This operation is used to create a new project.",
        "operationId": "CreateProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to use for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "team",
            "in": "query",
            "description": "If creating in an organization, the specific team to create the project in.",
            "required": false,
            "x-ms-summary": "Team ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaceTeams",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                },
                "$select": "id,name"
              },
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "project",
            "in": "body",
            "description": "The project to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectRequest"
            },
            "x-ms-summary": "The project to create",
            "x-ms-visibility": "important"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateProject",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#create-new-project-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/projects/{project_id}": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "Get project by ID",
        "description": "This operation retrieves project object by Project ID.",
        "operationId": "GetProject",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Project ID",
            "description": "The ID of the Project.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "276392134828903"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetProject",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#get-project-by-id-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/tasks": {
      "get": {
        "summary": "List tasks from project",
        "description": "This operation returns a list of tasks for a specified project.",
        "operationId": "ListTasks",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "276392134828903"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListTasks",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-tasks-from-project-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "Asana"
        ],
        "summary": "Create Task",
        "description": "This operation is used to create a new task in your Asana project.",
        "operationId": "CreateTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to use for your projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "projects",
            "in": "query",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjects",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "276392134828903"
          },
          {
            "name": "task",
            "in": "body",
            "description": "The task to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskRequest"
            },
            "x-ms-summary": "The task to create",
            "x-ms-visibility": "important"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#create-task-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/tasks/{task_id}": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "Get task by ID",
        "description": "This operation retrieves a task object by Task ID.",
        "operationId": "GetTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Task ID",
            "description": "Unique id of the task.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "276392134828904"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#get-task-by-id-%5bdeprecated%5d"
        }
      },
      "put": {
        "tags": [
          "Asana"
        ],
        "summary": "Complete Task",
        "description": "This operation is used to mark an existing task as complete.",
        "operationId": "CompleteTask",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Task ID",
            "description": "Unique id of the task.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "276392134828904"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CompleteTask",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#complete-task-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/tasks/{task_id}/stories": {
      "post": {
        "tags": [
          "Asana"
        ],
        "summary": "Add Comment",
        "description": "This operation is used to add a comment to an existing task.",
        "operationId": "AddComment",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Task ID",
            "description": "Unique id of the task.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "276392134828904"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "default": {
                "text": "comment made from postman2"
              },
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "required": [
                    "text"
                  ],
                  "properties": {
                    "text": {
                      "description": "Text to be used as comment.",
                      "x-ms-summary": "Comment",
                      "type": "string"
                    }
                  }
                }
              },
              "x-ms-test-value": {
                "data": {
                  "text": "some comment"
                }
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddCommentResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AddComment",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#add-comment-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/workspaces/{workspace_id}/users": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "List users by workspace",
        "description": "This operation retrieves the list of users for a given workspace.",
        "operationId": "ListUsers",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace_id",
            "in": "path",
            "description": "Workspace to monitor for users.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaces",
              "value-collection": "data",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsersResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListUsers",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-users-by-workspace-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/users/{user_id}": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "Get user by ID",
        "description": "This operation retrieves user object by User ID.",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User",
            "required": true,
            "x-ms-summary": "User",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "177987219007864"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetUser",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#get-user-by-id-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/new_project_trigger/projects": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "When a project is created (V2)",
        "description": "Triggers when a new project is created (V2).",
        "operationId": "OnProjectCreatedV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new project.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnProjectCreated",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#when-a-project-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/v2/new_task_trigger/tasks": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "When a task is created (V2)",
        "description": "Triggers when a new task is created (V2).",
        "operationId": "OnTaskCreatedV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "276392134828903"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnTaskCreated",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#when-a-task-is-created-(v2)"
        }
      }
    },
    "/{connectionId}/v2/complete_task_trigger/tasks": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "When a task is completed (V2)",
        "description": "Triggers when an existing task is completed (V2).",
        "operationId": "OnTaskCompletedV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "276392134828903"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new task.",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "OnTaskCompleted",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#when-a-task-is-completed-(v2)"
        }
      }
    },
    "/{connectionId}/v2/workspaces": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "List workspaces (V2)",
        "description": "This operation is used to list workspaces for the current user (V2).",
        "operationId": "ListWorkspacesV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListWorkSpacesResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListWorkspaces",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-workspaces-(v2)"
        }
      }
    },
    "/{connectionId}/v2/organizations/{workspace}/teams": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "List teams by workspace (V2)",
        "description": "This operation is used to view teams in the workspace or organization (V2).",
        "operationId": "ListWorkspaceTeamsV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace or Organization ID.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select.",
            "required": false,
            "x-ms-summary": "Select",
            "x-ms-visibility": "internal",
            "type": "string"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTeamsResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListWorkspaceTeams",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-teams-by-workspace-(v2)"
        }
      }
    },
    "/{connectionId}/v2/projects": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "List projects from workspace (V2)",
        "description": "This operation is used to list projects for the current user (V2).",
        "operationId": "ListProjectsV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListProjectsResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListProjects",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-projects-from-workspace-(v2)"
        }
      },
      "post": {
        "tags": [
          "Asana"
        ],
        "summary": "Create a new project (V2)",
        "description": "This operation is used to create a new project (V2).",
        "operationId": "CreateProjectV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to use for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "team",
            "in": "query",
            "description": "If creating in an organization, the specific team to create the project in.",
            "required": false,
            "x-ms-summary": "Team ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspaceTeamsV2",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                },
                "$select": "gid,name"
              },
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "project",
            "in": "body",
            "description": "The project to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectRequestV2"
            },
            "x-ms-summary": "The project to create",
            "x-ms-visibility": "important"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateProject",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#create-a-new-project-(v2)"
        }
      }
    },
    "/{connectionId}/v2/projects/{project_id}": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "Get project by ID (V2)",
        "description": "This operation retrieves project object by Project ID (V2).",
        "operationId": "GetProjectV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Project ID",
            "description": "The ID of the Project.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "276392134828903"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetProject",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#get-project-by-id-(v2)"
        }
      }
    },
    "/{connectionId}/v2/tasks": {
      "get": {
        "summary": "List tasks from project (V2)",
        "description": "This operation returns a list of tasks for a specified project (V2).",
        "operationId": "ListTasksV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to monitor for new projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "276392134828903"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTasksResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListTasks",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-tasks-from-project-(v2)"
        }
      },
      "post": {
        "tags": [
          "Asana"
        ],
        "summary": "Create Task (V2)",
        "description": "This operation is used to create a new task in your Asana project (V2).",
        "operationId": "CreateTaskV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace",
            "in": "query",
            "description": "Workspace to use for your projects.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          },
          {
            "name": "projects",
            "in": "query",
            "description": "Project",
            "required": true,
            "x-ms-summary": "Project ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListProjectsV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name",
              "parameters": {
                "workspace": {
                  "parameter": "workspace"
                }
              }
            },
            "type": "string",
            "x-ms-test-value": "276392134828903"
          },
          {
            "name": "task",
            "in": "body",
            "description": "The task to create.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskRequestV2"
            },
            "x-ms-summary": "The task to create",
            "x-ms-visibility": "important"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#create-task-(v2)"
        }
      }
    },
    "/{connectionId}/v2/tasks/{task_id}": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "Get task by ID (V2)",
        "description": "This operation retrieves a task object by Task ID (V2).",
        "operationId": "GetTaskV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Task ID",
            "description": "Unique id of the task.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "276392134828904"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#get-task-by-id-(v2)"
        }
      },
      "put": {
        "tags": [
          "Asana"
        ],
        "summary": "Complete Task (V2)",
        "description": "This operation is used to mark an existing task as complete (V2).",
        "operationId": "CompleteTaskV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Task ID",
            "description": "Unique id of the task.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "276392134828904"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CompleteTask",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#complete-task-(v2)"
        }
      }
    },
    "/{connectionId}/v2/tasks/{task_id}/stories": {
      "post": {
        "tags": [
          "Asana"
        ],
        "summary": "Add Comment (V2)",
        "description": "This operation is used to add a comment to an existing task (V2).",
        "operationId": "AddCommentV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Task ID",
            "description": "Unique id of the task.",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "276392134828904"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "default": {
                "text": "comment made from postman2"
              },
              "type": "object",
              "required": [
                "data"
              ],
              "properties": {
                "data": {
                  "type": "object",
                  "required": [
                    "text"
                  ],
                  "properties": {
                    "text": {
                      "description": "Text to be used as comment.",
                      "x-ms-summary": "Comment",
                      "type": "string"
                    }
                  }
                }
              },
              "x-ms-test-value": {
                "data": {
                  "text": "some comment"
                }
              }
            },
            "x-ms-summary": "body"
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddCommentResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AddComment",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#add-comment-(v2)"
        }
      }
    },
    "/{connectionId}/v2/workspaces/{workspace_id}/users": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "List users by workspace (V2)",
        "description": "This operation retrieves the list of users for a given workspace (V2).",
        "operationId": "ListUsersV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "workspace_id",
            "in": "path",
            "description": "Workspace to monitor for users.",
            "required": true,
            "x-ms-summary": "Workspace ID",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "ListWorkspacesV2",
              "value-collection": "data",
              "value-path": "gid",
              "value-title": "name"
            },
            "type": "string",
            "x-ms-test-value": "177987220357060"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsersResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListUsers",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#list-users-by-workspace-(v2)"
        }
      }
    },
    "/{connectionId}/v2/users/{user_id}": {
      "get": {
        "tags": [
          "Asana"
        ],
        "summary": "Get user by ID (V2)",
        "description": "This operation retrieves user object by User ID (V2).",
        "operationId": "GetUserV2",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "User",
            "required": true,
            "x-ms-summary": "User",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-test-value": "177987219007864"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserResponseV2"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "GetUser",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/asana/#get-user-by-id-(v2)"
        }
      }
    }
  },
  "definitions": {
    "ProjectRequest": {
      "type": "object",
      "description": "An Asana project used to create new projects.",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "description": "An Asana project used to create new projects.",
          "required": [
            "name"
          ],
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the project.",
              "type": "string",
              "x-ms-summary": "Project name",
              "x-ms-visibility": "important"
            },
            "due_date": {
              "description": "yyyy-MM-dd",
              "format": "date",
              "type": "string",
              "x-ms-summary": "Due date",
              "x-ms-visibility": "advanced"
            },
            "public": {
              "type": "boolean",
              "description": "True if the project is public to the organization.",
              "default": false,
              "x-ms-summary": "Public",
              "x-ms-visibility": "advanced"
            },
            "color": {
              "description": "Color used to display the project.",
              "type": "string",
              "x-ms-summary": "Project color",
              "x-ms-visibility": "advanced",
              "enum": [
                "dark-pink",
                "dark-green",
                "dark-blue",
                "dark-red",
                "dark-teal",
                "dark-brown",
                "dark-orange",
                "dark-purple",
                "dark-warm-gray",
                "light-pink",
                "light-green",
                "light-blue",
                "light-red",
                "light-teal",
                "light-yellow",
                "light-orange",
                "light-purple",
                "light-warm-gray"
              ]
            },
            "notes": {
              "description": "Notes about the project.",
              "type": "string",
              "x-ms-summary": "Project notes",
              "x-ms-visibility": "advanced"
            },
            "owner": {
              "description": "Owner of the project.",
              "type": "string",
              "x-ms-summary": "Owner",
              "x-ms-visibility": "advanced"
            },
            "archived": {
              "type": "boolean",
              "description": "Archived projects do not show in the UI by default.",
              "default": false,
              "x-ms-summary": "Archive",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "data": {
          "name": "project 1"
        }
      }
    },
    "TaskRequest": {
      "type": "object",
      "description": "An Asana task used to create new tasks.",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "type": "object",
          "description": "An Asana task used to create new tasks.",
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of the task.",
              "x-ms-summary": "Task name",
              "x-ms-visibility": "important"
            },
            "assignee": {
              "type": "string",
              "description": "'Email or User ID, defaults to current user.",
              "x-ms-summary": "Assignee",
              "x-ms-visibility": "important"
            },
            "notes": {
              "type": "string",
              "description": "Description of the task.",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            },
            "assignee_status": {
              "description": "Scheduling status of the task.",
              "type": "string",
              "x-ms-summary": "Assignee status",
              "x-ms-visibility": "advanced",
              "enum": [
                "Inbox",
                "Later",
                "Today",
                "Upcoming"
              ]
            },
            "completed": {
              "type": "boolean",
              "description": "Indicate if the task will be marked as completed.",
              "default": false,
              "x-ms-summary": "Completed",
              "x-ms-visibility": "advanced"
            },
            "due_on": {
              "type": "string",
              "description": "Due date of the task.",
              "format": "date",
              "x-ms-summary": "Due date",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "data": {
          "name": "task 1"
        }
      }
    },
    "ListProjectsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectResponse"
          },
          "x-ms-summary": "Projects",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectResponse": {
      "description": "An Asana project.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Project ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Project name",
          "x-ms-visibility": "important"
        },
        "notes": {
          "type": "string",
          "x-ms-summary": "Project notes",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created date",
          "x-ms-visibility": "important"
        },
        "modified_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified date",
          "x-ms-visibility": "important"
        },
        "owner": {
          "$ref": "#/definitions/Owner"
        },
        "due_date": {
          "description": "yyyy-MM-dd",
          "format": "date",
          "type": "string",
          "x-ms-summary": "Due date",
          "x-ms-visibility": "advanced"
        },
        "current_status": {
          "$ref": "#/definitions/CurrentStatus"
        },
        "public": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Public",
          "x-ms-visibility": "advanced"
        },
        "archived": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Archived",
          "x-ms-visibility": "advanced"
        },
        "workspace": {
          "$ref": "#/definitions/WorkSpace"
        },
        "color": {
          "description": "Project color.",
          "type": "string",
          "x-ms-summary": "Color",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTasksResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskResponse"
          },
          "x-ms-summary": "Tasks",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TaskResponse": {
      "description": "An Asana task.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Task ID",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "x-ms-summary": "Created date",
          "x-ms-visibility": "important"
        },
        "modified_at": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "x-ms-summary": "Modified date",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Task name",
          "x-ms-visibility": "important"
        },
        "notes": {
          "type": "string",
          "x-ms-summary": "Task notes",
          "x-ms-visibility": "important"
        },
        "completed": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Completed",
          "x-ms-visibility": "important"
        },
        "assignee": {
          "$ref": "#/definitions/Assignee"
        },
        "assignee_status": {
          "type": "string",
          "description": "Scheduling status of the task.",
          "x-ms-summary": "Asignee status",
          "x-ms-visibility": "important"
        },
        "completed_at": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "x-ms-summary": "Completed date and time",
          "x-ms-visibility": "important"
        },
        "due_on": {
          "type": "string",
          "format": "date",
          "description": "yyyy-MM-dd",
          "x-ms-summary": "Due date",
          "x-ms-visibility": "important"
        },
        "due_at": {
          "type": "string",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "x-ms-summary": "Due date and time",
          "x-ms-visibility": "important"
        },
        "workspace": {
          "$ref": "#/definitions/WorkSpace"
        },
        "num_hearts": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Number of likes",
          "x-ms-visibility": "important"
        },
        "hearted": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Liked",
          "x-ms-visibility": "important"
        }
      }
    },
    "AddCommentResponse": {
      "type": "object",
      "description": "A comment on an Asana task.",
      "properties": {
        "data": {
          "type": "object",
          "description": "A comment on an Asana task.",
          "properties": {
            "target": {
              "$ref": "#/definitions/Target"
            },
            "text": {
              "type": "string",
              "description": "The text of the comment.",
              "x-ms-summary": "Text",
              "x-ms-visibility": "important"
            },
            "created_at": {
              "type": "string",
              "description": "The date and time at which this comment was created.",
              "x-ms-summary": "Creation date",
              "x-ms-visibility": "advanced"
            },
            "created_by": {
              "$ref": "#/definitions/CreatedBy"
            },
            "source": {
              "type": "string",
              "description": "The component of the Asana product the user used to trigger the comment.",
              "x-ms-summary": "Source",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "type": "string",
              "description": "The type of comment this is.",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "format": "int32",
              "type": "integer",
              "description": "The ID for this comment.",
              "x-ms-summary": "Comment ID",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "required": [
        "data"
      ]
    },
    "ListTeamsResponse": {
      "type": "object",
      "x-ms-visibility": "advanced",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "type": "integer",
                "x-ms-summary": "Team ID",
                "description": "Globally unique ID of the team."
              },
              "name": {
                "type": "string",
                "description": "The name of the team.",
                "x-ms-summary": "Name",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "ListWorkSpacesResponse": {
      "type": "object",
      "x-ms-visibility": "internal",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "format": "int32",
                "type": "integer",
                "x-ms-summary": "Workspace ID",
                "description": "Unique identifier of the workspace."
              },
              "name": {
                "type": "string",
                "description": "Workspace name.",
                "x-ms-summary": "Name",
                "x-ms-visibility": "internal"
              },
              "is_organization": {
                "type": "boolean",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserResponse"
          },
          "x-ms-summary": "Users",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UserResponse": {
      "description": "An Asana user.",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "User ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "User name",
          "x-ms-visibility": "important"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        }
      }
    },
    "CurrentStatus": {
      "type": "object",
      "x-ms-summary": "Status",
      "x-ms-visibility": "advanced",
      "properties": {
        "color": {
          "description": "The color status of the project.",
          "type": "string",
          "x-ms-summary": "color",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "description": "Text describing the project status.",
          "type": "string",
          "x-ms-summary": "text",
          "x-ms-visibility": "advanced"
        },
        "author": {
          "type": "object",
          "description": "author.",
          "x-ms-visibility": "advanced",
          "properties": {
            "id": {
              "type": "integer",
              "description": "ID of the author of the project status.",
              "x-ms-summary": "ID",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "type": "string",
              "description": "Name of the author of the project status.",
              "x-ms-summary": "name",
              "x-ms-visibility": "advanced"
            }
          }
        }
      }
    },
    "WorkSpace": {
      "type": "object",
      "description": "The workspace.",
      "x-ms-summary": "Workspace",
      "properties": {
        "id": {
          "type": "integer",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Projects": {
      "type": "array",
      "description": "The projects with which this task is associated.",
      "x-ms-summary": "Project",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The ID of the project with which this task is associated.",
            "x-ms-summary": "ID",
            "x-ms-visibility": "important"
          },
          "name": {
            "type": "string",
            "description": "The name of the project with which this task is associated.",
            "x-ms-summary": "name",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "Members": {
      "type": "array",
      "description": "The project members.",
      "x-ms-summary": "Member",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer",
            "description": "The ID of the project member.",
            "x-ms-summary": "ID",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "type": "string",
            "description": "The name of the project member.",
            "x-ms-summary": "name",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "Followers": {
      "type": "array",
      "description": "The project followers.",
      "x-ms-summary": "Follower",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "format": "int32",
            "type": "integer",
            "description": "The ID of the project follower.",
            "x-ms-summary": "ID",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "type": "string",
            "description": "The name of the project follower.",
            "x-ms-summary": "name",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "Owner": {
      "type": "object",
      "description": "The project owner.",
      "x-ms-summary": "Owner",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The ID of the project owner.",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string",
          "description": "The name of the project owner.",
          "x-ms-summary": "name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Assignee": {
      "type": "object",
      "description": "The user to whom this task is assigned.",
      "x-ms-summary": "Assignee",
      "properties": {
        "id": {
          "type": "integer",
          "x-ms-summary": "ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "name",
          "x-ms-visibility": "important"
        }
      }
    },
    "Target": {
      "type": "object",
      "description": "The task that this comment is associated with.",
      "x-ms-summary": "Task",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The ID of the task that this comment is associated with.",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string",
          "description": "The ID of the task that this comment is associated with.",
          "x-ms-summary": "name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "CreatedBy": {
      "type": "object",
      "description": "The user that authored this comment.",
      "x-ms-summary": "Author",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The ID of the user that authored this comment.",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string",
          "description": "The name of the user that authored this comment.",
          "x-ms-summary": "name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectRequestV2": {
      "type": "object",
      "description": "An Asana project used to create new projects.",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "description": "An Asana project used to create new projects.",
          "required": [
            "name"
          ],
          "type": "object",
          "properties": {
            "name": {
              "description": "Name of the project.",
              "type": "string",
              "x-ms-summary": "Project name",
              "x-ms-visibility": "important"
            },
            "due_date": {
              "description": "yyyy-MM-dd",
              "format": "date",
              "type": "string",
              "x-ms-summary": "Due date",
              "x-ms-visibility": "advanced"
            },
            "public": {
              "type": "boolean",
              "description": "True if the project is public to the organization.",
              "default": false,
              "x-ms-summary": "Public",
              "x-ms-visibility": "advanced"
            },
            "color": {
              "description": "Color used to display the project.",
              "type": "string",
              "x-ms-summary": "Project color",
              "x-ms-visibility": "advanced",
              "enum": [
                "dark-pink",
                "dark-green",
                "dark-blue",
                "dark-red",
                "dark-teal",
                "dark-brown",
                "dark-orange",
                "dark-purple",
                "dark-warm-gray",
                "light-pink",
                "light-green",
                "light-blue",
                "light-red",
                "light-teal",
                "light-yellow",
                "light-orange",
                "light-purple",
                "light-warm-gray"
              ]
            },
            "notes": {
              "description": "Notes about the project.",
              "type": "string",
              "x-ms-summary": "Project notes",
              "x-ms-visibility": "advanced"
            },
            "owner": {
              "description": "Owner of the project.",
              "type": "string",
              "x-ms-summary": "Owner",
              "x-ms-visibility": "advanced"
            },
            "archived": {
              "type": "boolean",
              "description": "Archived projects do not show in the UI by default.",
              "default": false,
              "x-ms-summary": "Archive",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "data": {
          "name": "project 1"
        }
      }
    },
    "TaskRequestV2": {
      "type": "object",
      "description": "An Asana task used to create new tasks.",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "type": "object",
          "description": "An Asana task used to create new tasks.",
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of the task.",
              "x-ms-summary": "Task name",
              "x-ms-visibility": "important"
            },
            "assignee": {
              "type": "string",
              "description": "Email or User ID, defaults to current user.",
              "x-ms-summary": "Assignee",
              "x-ms-visibility": "important"
            },
            "notes": {
              "type": "string",
              "description": "Description of the task.",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            },
            "assignee_status": {
              "description": "Scheduling status of the task.",
              "type": "string",
              "x-ms-summary": "Assignee status",
              "x-ms-visibility": "advanced",
              "enum": [
                "Inbox",
                "Later",
                "Today",
                "Upcoming"
              ]
            },
            "completed": {
              "type": "boolean",
              "description": "Indicate if the task will be marked as completed.",
              "default": false,
              "x-ms-summary": "Completed",
              "x-ms-visibility": "advanced"
            },
            "due_on": {
              "type": "string",
              "description": "Due date of the task.",
              "format": "date",
              "x-ms-summary": "Due date",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "x-ms-test-value": {
        "data": {
          "name": "task 1"
        }
      }
    },
    "ListProjectsResponseV2": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProjectResponseV2"
          },
          "x-ms-summary": "Projects",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectResponseV2": {
      "description": "An Asana project.",
      "type": "object",
      "properties": {
        "gid": {
          "type": "string",
          "x-ms-summary": "Project ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Project name",
          "x-ms-visibility": "important"
        },
        "notes": {
          "type": "string",
          "x-ms-summary": "Project notes",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created date",
          "x-ms-visibility": "important"
        },
        "modified_at": {
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Modified date",
          "x-ms-visibility": "important"
        },
        "owner": {
          "$ref": "#/definitions/OwnerV2"
        },
        "due_date": {
          "description": "yyyy-MM-dd",
          "format": "date",
          "type": "string",
          "x-ms-summary": "Due date",
          "x-ms-visibility": "advanced"
        },
        "current_status": {
          "$ref": "#/definitions/CurrentStatusV2"
        },
        "public": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Public",
          "x-ms-visibility": "advanced"
        },
        "archived": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Archived",
          "x-ms-visibility": "advanced"
        },
        "workspace": {
          "$ref": "#/definitions/WorkSpaceV2"
        },
        "color": {
          "description": "Project color.",
          "type": "string",
          "x-ms-summary": "Color",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTasksResponseV2": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaskResponseV2"
          },
          "x-ms-summary": "Tasks",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "TaskResponseV2": {
      "description": "An Asana task.",
      "type": "object",
      "properties": {
        "gid": {
          "type": "string",
          "x-ms-summary": "Task ID",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "x-ms-summary": "Created date",
          "x-ms-visibility": "important"
        },
        "modified_at": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "x-ms-summary": "Modified date",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Task name",
          "x-ms-visibility": "important"
        },
        "notes": {
          "type": "string",
          "x-ms-summary": "Task notes",
          "x-ms-visibility": "important"
        },
        "completed": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Completed",
          "x-ms-visibility": "important"
        },
        "assignee": {
          "$ref": "#/definitions/AssigneeV2"
        },
        "assignee_status": {
          "type": "string",
          "description": "Scheduling status of the task.",
          "x-ms-summary": "Asignee status",
          "x-ms-visibility": "important"
        },
        "completed_at": {
          "type": "string",
          "format": "date-time",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "x-ms-summary": "Completed date and time",
          "x-ms-visibility": "important"
        },
        "due_on": {
          "type": "string",
          "format": "date",
          "description": "yyyy-MM-dd",
          "x-ms-summary": "Due date",
          "x-ms-visibility": "important"
        },
        "due_at": {
          "type": "string",
          "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
          "x-ms-summary": "Due date and time",
          "x-ms-visibility": "important"
        },
        "workspace": {
          "$ref": "#/definitions/WorkSpaceV2"
        },
        "num_hearts": {
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Number of likes",
          "x-ms-visibility": "important"
        },
        "hearted": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Liked",
          "x-ms-visibility": "important"
        }
      }
    },
    "AddCommentResponseV2": {
      "type": "object",
      "description": "A comment on an Asana task.",
      "properties": {
        "data": {
          "type": "object",
          "description": "A comment on an Asana task.",
          "properties": {
            "target": {
              "$ref": "#/definitions/TargetV2"
            },
            "text": {
              "type": "string",
              "description": "The text of the comment.",
              "x-ms-summary": "Text",
              "x-ms-visibility": "important"
            },
            "created_at": {
              "type": "string",
              "description": "The date and time at which this comment was created.",
              "x-ms-summary": "Creation date",
              "x-ms-visibility": "advanced"
            },
            "created_by": {
              "$ref": "#/definitions/CreatedByV2"
            },
            "source": {
              "type": "string",
              "description": "The component of the Asana product the user used to trigger the comment.",
              "x-ms-summary": "Source",
              "x-ms-visibility": "advanced"
            },
            "type": {
              "type": "string",
              "description": "The type of comment this is.",
              "x-ms-summary": "Type",
              "x-ms-visibility": "advanced"
            },
            "gid": {
              "type": "string",
              "description": "The ID for this comment.",
              "x-ms-summary": "Comment ID",
              "x-ms-visibility": "advanced"
            }
          }
        }
      },
      "required": [
        "data"
      ]
    },
    "ListTeamsResponseV2": {
      "type": "object",
      "x-ms-visibility": "advanced",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "gid": {
                "type": "string",
                "x-ms-summary": "Team ID",
                "description": "Globally unique ID of the team."
              },
              "name": {
                "type": "string",
                "description": "The name of the team.",
                "x-ms-summary": "Name",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "ListWorkSpacesResponseV2": {
      "type": "object",
      "x-ms-visibility": "internal",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "gid": {
                "type": "string",
                "x-ms-summary": "Workspace ID",
                "description": "Unique identifier of the workspace."
              },
              "name": {
                "type": "string",
                "description": "Workspace name.",
                "x-ms-summary": "Name",
                "x-ms-visibility": "internal"
              },
              "is_organization": {
                "type": "boolean",
                "x-ms-visibility": "internal"
              }
            }
          }
        }
      }
    },
    "ListUsersResponseV2": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserResponseV2"
          },
          "x-ms-summary": "Users",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "UserResponseV2": {
      "description": "An Asana user.",
      "type": "object",
      "properties": {
        "gid": {
          "type": "string",
          "x-ms-summary": "User ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "User name",
          "x-ms-visibility": "important"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        }
      }
    },
    "CurrentStatusV2": {
      "type": "object",
      "x-ms-summary": "Status",
      "x-ms-visibility": "advanced",
      "properties": {
        "color": {
          "description": "The color status of the project.",
          "type": "string",
          "x-ms-summary": "color",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "description": "Text describing the project status.",
          "type": "string",
          "x-ms-summary": "text",
          "x-ms-visibility": "advanced"
        },
        "author": {
          "type": "object",
          "description": "author.",
          "x-ms-visibility": "advanced",
          "properties": {
            "gid": {
              "type": "string",
              "description": "ID of the author of the project status.",
              "x-ms-summary": "ID",
              "x-ms-visibility": "advanced"
            },
            "name": {
              "type": "string",
              "description": "Name of the author of the project status.",
              "x-ms-summary": "name",
              "x-ms-visibility": "advanced"
            }
          }
        }
      }
    },
    "WorkSpaceV2": {
      "type": "object",
      "description": "The workspace.",
      "x-ms-summary": "Workspace",
      "properties": {
        "gid": {
          "type": "string",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ProjectsV2": {
      "type": "array",
      "description": "The projects with which this task is associated.",
      "x-ms-summary": "Project",
      "items": {
        "type": "object",
        "properties": {
          "gid": {
            "type": "string",
            "description": "The ID of the project with which this task is associated.",
            "x-ms-summary": "ID",
            "x-ms-visibility": "important"
          },
          "name": {
            "type": "string",
            "description": "The name of the project with which this task is associated.",
            "x-ms-summary": "name",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "MembersV2": {
      "type": "array",
      "description": "The project members.",
      "x-ms-summary": "Member",
      "items": {
        "type": "object",
        "properties": {
          "gid": {
            "type": "string",
            "description": "The ID of the project member.",
            "x-ms-summary": "ID",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "type": "string",
            "description": "The name of the project member.",
            "x-ms-summary": "name",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "FollowersV2": {
      "type": "array",
      "description": "The project followers.",
      "x-ms-summary": "Follower",
      "items": {
        "type": "object",
        "properties": {
          "gid": {
            "type": "string",
            "description": "The ID of the project follower.",
            "x-ms-summary": "ID",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "type": "string",
            "description": "The name of the project follower.",
            "x-ms-summary": "name",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "OwnerV2": {
      "type": "object",
      "description": "The project owner.",
      "x-ms-summary": "Owner",
      "properties": {
        "gid": {
          "type": "string",
          "description": "The ID of the project owner.",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "type": "string",
          "description": "The name of the project owner.",
          "x-ms-summary": "name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "AssigneeV2": {
      "type": "object",
      "description": "The user to whom this task is assigned.",
      "x-ms-summary": "Assignee",
      "properties": {
        "gid": {
          "type": "string",
          "x-ms-summary": "ID",
[...]
