{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Google Sheets",
    "description": "Connect to Google Sheets to manage your spreadsheets. You can create, edit, and collaborate with others on spreadsheets.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "GoogleDriveDataSetsMetadata"
        ],
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets": {
      "get": {
        "tags": [
          "GoogleDriveDataSets"
        ],
        "operationId": "GetDataSets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/files/{id}": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Get file metadata using id",
        "description": "Retrieves file metadata from Google Drive using id",
        "operationId": "GetFileMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#get-file-metadata-using-id"
        }
      },
      "put": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Update file",
        "description": "Updates a file in Google Drive",
        "operationId": "UpdateFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file to update",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file to upload to Google Drive",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#update-file"
        }
      },
      "delete": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Delete file",
        "description": "Deletes a file from Google Drive",
        "operationId": "DeleteFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the file to delete",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#delete-file"
        }
      }
    },
    "/{connectionId}/datasets/default/GetFileByPath": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Get file metadata using path",
        "description": "Retrieves file metadata from Google Drive using path",
        "operationId": "GetFileMetadataByPath",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Path of the file in Google Drive",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "File path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#get-file-metadata-using-path"
        }
      }
    },
    "/{connectionId}/datasets/default/GetFileContentByPath": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Get file content using path",
        "description": "Retrieves file content from Google Drive using path",
        "operationId": "GetFileContentByPath",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Path of the file in Google Drive",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "File path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string",
              "x-ms-summary": "File content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#get-file-content-using-path"
        }
      }
    },
    "/{connectionId}/datasets/default/files/{id}/content": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Get file content using id",
        "description": "Retrieves file content from Google Drive using id",
        "operationId": "GetFileContent",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the file to retrieve in Google Drive",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "File id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string",
              "x-ms-summary": "File content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#get-file-content-using-id"
        }
      }
    },
    "/{connectionId}/datasets/default/files": {
      "post": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Create file",
        "description": "Uploads a file to Google Drive",
        "operationId": "CreateFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "Folder path to upload the file to Google Drive",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "Folder path",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "Name of the file to create in Google Drive",
            "required": true,
            "x-ms-summary": "File name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Content of the file to upload to Google Drive",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#create-file"
        }
      }
    },
    "/{connectionId}/datasets/default/copyFile": {
      "post": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "summary": "Copy file",
        "description": "Copies a file on Google Drive",
        "operationId": "CopyFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Url to source file",
            "required": true,
            "x-ms-summary": "Source url",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Destination file path in Google Drive, including target filename",
            "required": true,
            "x-ms-summary": "Destination file path",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrites the destination file if set to 'true",
            "required": false,
            "x-ms-summary": "Overwrite?",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#copy-file"
        }
      }
    },
    "/{connectionId}/api/blob/files/{id}": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "GetFileMetadata_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "put": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "UpdateFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "delete": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "DeleteFile_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/GetFileByPath": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "GetFileMetadataByPath_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/GetFileContentByPath": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "GetFileContentByPath_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/files/{id}/content": {
      "get": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "GetFileContent_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/files": {
      "post": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "CreateFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/copyFile": {
      "post": {
        "tags": [
          "GoogleDriveFileData"
        ],
        "operationId": "CopyFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/folders/{id}": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "summary": "List files in folder",
        "description": "List files in a Google Drive folder",
        "operationId": "ListFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Specify the folder in Google Drive",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "Folder id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#list-files-in-folder"
        }
      }
    },
    "/{connectionId}/datasets/default/folders": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "summary": "List files in root folder",
        "description": "Lists files in the Google Drive root folder",
        "operationId": "ListRootFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#list-files-in-root-folder"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/rootfolders": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "ListAllRootFolders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/extractFolderV2": {
      "post": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "summary": "Extract archive to folder",
        "description": "Extracts an archive file into a folder in Google Drive (example: .zip)",
        "operationId": "ExtractFolderV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Path to the archive file",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/zip",
                  "application/x-zip-compressed"
                ],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/zip' or MediaType eq 'application/x-zip-compressed')"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/zip' or MediaType eq 'application/x-zip-compressed')"
              }
            },
            "x-ms-summary": "Source archive file path",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "Path in Google Drive to extract the archive contents",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            },
            "x-ms-summary": "Destination folder path",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrites the destination files if set to 'true",
            "required": false,
            "x-ms-summary": "Overwrite?",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#extract-archive-to-folder"
        }
      }
    },
    "/{connectionId}/api/blob/folders/{id}": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "ListFolder_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/folders": {
      "get": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "ListRootFolder_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/blob/extractFolder": {
      "post": {
        "tags": [
          "GoogleDriveFolderData"
        ],
        "operationId": "ExtractFolder_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "GoogleSheetsMetadata"
        ],
        "summary": "Get sheet metadata",
        "description": "Retrieves Google Sheet metadata",
        "operationId": "GetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Specify the worksheet",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#get-sheet-metadata"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')": {
      "get": {
        "tags": [
          "GoogleSheetsMetadata"
        ],
        "operationId": "ODataStyleGetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/{dataset}/tables": {
      "get": {
        "tags": [
          "GoogleSheetsTable"
        ],
        "summary": "Get sheets",
        "description": "Retrieves sheet names from a Google Sheet file",
        "operationId": "GetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Specify the file",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#get-sheets"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables": {
      "get": {
        "tags": [
          "GoogleSheetsTable"
        ],
        "operationId": "ODataStyleGetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items": {
      "get": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStyleGetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = 256)",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0)",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        }
      },
      "post": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStylePostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items": {
      "get": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Get rows",
        "description": "This operation retrieves the records from a specific Google Sheet.",
        "operationId": "GetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Pick the file.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Pick a worksheet.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = 256).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#get-rows"
        }
      },
      "post": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Insert row",
        "description": "This operation is used to insert a new row in a Google Sheet.",
        "operationId": "PostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Pick a file.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Pick a worksheet.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row to insert into the specified sheet.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#insert-row"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Get row",
        "description": "This operation retrieves a single row from a Google Sheet.",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Pick a file.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Pick a worksheet.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to retrieve.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#get-row"
        }
      },
      "delete": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Delete Row",
        "description": "This operation is used to retrieve a row from a Google Sheet.",
        "operationId": "DeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Pick a file.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Pick a worksheet.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to delete.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#delete-row"
        }
      },
      "patch": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "summary": "Update row",
        "description": "This operation updates a row in a Google Sheet.",
        "operationId": "PatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Pick a file.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/vnd.google-apps.spreadsheet"
                ],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              },
              "browse": {
                "operationId": "ListFolder",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                },
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/vnd.google-apps.spreadsheet')"
              }
            },
            "x-ms-summary": "File",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Pick a worksheet.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Worksheet",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the row to update.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Row id",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Row with updated values.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Row"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/googlesheet/#update-row"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items({id})": {
      "get": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStyleGetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "delete": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStyleDeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "patch": {
        "tags": [
          "GoogleSheetsTableData"
        ],
        "operationId": "ODataStylePatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "DataSetsList": {
      "type": "object",
      "x-ms-visibility": "internal",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataSet"
          }
        }
      }
    },
    "DataSet": {
      "type": "object",
      "x-ms-visibility": "internal",
      "properties": {
        "Name": {
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        }
      }
    },
    "DataSetsMetadata": {
      "type": "object",
      "x-ms-visibility": "internal",
      "properties": {
        "tabular": {
          "$ref": "#/definitions/TabularDataSetsMetadata"
        },
        "blob": {
          "$ref": "#/definitions/BlobDataSetsMetadata"
        }
      }
    },
    "TabularDataSetsMetadata": {
      "type": "object",
      "x-ms-visibility": "internal",
      "properties": {
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "urlEncoding": {
          "type": "string"
        },
        "tableDisplayName": {
          "type": "string"
        },
        "tablePluralName": {
          "type": "string"
        }
      }
    },
    "BlobDataSetsMetadata": {
      "type": "object",
      "x-ms-visibility": "internal",
      "properties": {
        "source": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "urlEncoding": {
          "type": "string"
        }
      }
    },
    "BlobMetadata": {
      "type": "object",
      "x-ms-visibility": "internal",
      "properties": {
        "Id": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "Path": {
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "type": "string"
        },
        "Size": {
          "format": "int64",
          "type": "integer"
        },
        "MediaType": {
          "type": "string"
        },
        "IsFolder": {
          "type": "boolean"
        },
        "ETag": {
          "type": "string"
        },
        "FileLocator": {
          "type": "string"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "TableMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "x-ms-permission": {
          "type": "string"
        },
        "schema": {
          "$ref": "#/definitions/Object"
        }
      }
    },
    "TablesList": {
      "type": "object",
      "x-ms-summary": "Tables List",
      "description": "List of one or multiple tables.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Table"
          }
        }
      }
    },
    "Table": {
      "type": "object",
      "x-ms-summary": "Table",
      "description": "Properties of a specific table.",
      "properties": {
        "Name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "Summary of the table."
        },
        "DisplayName": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "Display name of the table."
        }
      }
    },
    "Item": {
      "type": "object",
      "x-ms-summary": "Row",
      "description": "Data pertaining to a single record or row in your Google Sheet.",
      "properties": {
        "dynamicProperties": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Object"
          }
        }
      },
      "additionalProperties": {
        "$ref": "#/definitions/Object"
      },
      "x-ms-dynamic-schema": {
        "operationId": "GetTable",
        "parameters": {
          "dataset": {
            "parameter": "dataset"
          },
          "table": {
            "parameter": "table"
          }
        },
        "value-path": "Schema/Items"
      }
    },
    "ItemsList": {
      "type": "object",
      "x-ms-summary": "Records",
      "description": "List of one or multiple records.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      }
    }
  },
  "x-ms-capabilities": {
    "file-picker": {
      "open": {
        "operationId": "ListAllRootFolders"
      },
      "browse": {
        "operationId": "ListFolder",
        "parameters": {
          "id": {
            "value-property": "Id"
          }
        }
      },
      "value-title": "DisplayName",
      "value-folder-property": "IsFolder",
      "value-media-property": "MediaType"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.google.com/sheets/about/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policies.google.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/googlesheet"
  },
  "basePath": "/apim/googlesheet"
}
