{
  "swagger": "2.0",
  "info": {
    "version": "0.20.101",
    "title": "Adobe Creative Cloud",
    "description": "Connect to Adobe Creative Cloud to manage your assets. You can perform various actions such as create, get, and delete assets on Creative Cloud. You can also choose to be notified when an asset is added or updated on Creative Cloud.",
    "contact": {
      "email": "Grp-CloudIntegration-Dev@adobe.com"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/adobecreativecloud",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/webhook1/csm/cc/events/asset_created": {
      "post": {
        "tags": [
          "storage",
          "csm"
        ],
        "summary": "When an asset is added",
        "description": "This operation triggers when a new asset is added to Creative Cloud.",
        "operationId": "WebhookSubscribeToAssetCreatedEvents",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookUrl"
            },
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "201": {
            "description": "Success."
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-trigger-hint": "Triggers when a new asset is added to Creative Cloud.",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#when-an-asset-is-added"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/EventSchema"
        },
        "description": "Event Schema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/webhook2/csm/cc/events/asset_updated": {
      "post": {
        "tags": [
          "storage",
          "csm"
        ],
        "summary": "When an asset is updated",
        "description": "This operation triggers when an asset's contents are updated in Creative Cloud.",
        "operationId": "WebhookSubscribeToAssetUpdatedEvents",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookUrl"
            },
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "201": {
            "description": "Success."
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "x-ms-trigger-hint": "Triggers when an asset's contents are updated in Creative Cloud.",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#when-an-asset-is-updated"
        }
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/EventSchema"
        },
        "description": "Event Schema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/csm/cc/events/unsubscribe/{registration_id}": {
      "delete": {
        "tags": [
          "storage",
          "csm"
        ],
        "summary": "Unsubscribe a webhook",
        "description": "This operation unsubscribes a webhook which was previously registered.",
        "operationId": "Unsubscribe",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "registration_id",
            "in": "path",
            "description": "Specify the registration id of the webhook.",
            "required": true,
            "x-ms-summary": "Registration Id",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#unsubscribe-a-webhook"
        }
      }
    },
    "/{connectionId}/storage/cc/asset": {
      "post": {
        "tags": [
          "storage"
        ],
        "summary": "Create a new asset",
        "description": "This operation creates a new asset on Creative Cloud.",
        "operationId": "CreateAsset",
        "consumes": [
          "*/*"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Specify the folder path where the asset will be created.",
            "required": true,
            "type": "string",
            "default": "files",
            "x-ms-summary": "Folder Path",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "path",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListFoldersInRootDirectory",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFoldersInDirectory",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                },
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Specify the name of the asset.",
            "required": true,
            "x-ms-summary": "Asset Name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Specify the contents of the asset.",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "Asset Content"
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CreatedAssetDetails"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#create-a-new-asset"
        }
      }
    },
    "/{connectionId}/storage/cc/asset/id/content": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "Get asset contents using asset id",
        "description": "This operation gets the asset contents for the given asset id.",
        "operationId": "GetContentById",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "asset_id",
            "in": "query",
            "description": "Specify the asset's unique id.",
            "required": true,
            "x-ms-summary": "Asset ID",
            "type": "string",
            "x-ms-test-value": "urn:aaid:sc:US:c314e37a-96c1-45c0-9424-650267a387ac"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "format": "binary",
              "type": "string",
              "x-ms-summary": "Asset Contents"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#get-asset-contents-using-asset-id"
        }
      }
    },
    "/{connectionId}/storage/cc/asset/id/metadata": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "Get asset details using asset id",
        "description": "This operation gets the asset details for the given asset id.",
        "operationId": "GetMetadataById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "asset_id",
            "in": "query",
            "description": "Specify the asset's unique id.",
            "required": true,
            "x-ms-summary": "Asset ID",
            "type": "string",
            "x-ms-test-value": "urn:aaid:sc:US:c314e37a-96c1-45c0-9424-650267a387ac"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/AssetMetadata"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#get-asset-details-using-asset-id"
        }
      }
    },
    "/{connectionId}/storage/cc/asset/path": {
      "delete": {
        "tags": [
          "storage"
        ],
        "summary": "Delete asset",
        "description": "This operation deletes the asset at the given asset path.",
        "operationId": "DeleteAssetByPath",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Specify the asset's ETag.",
            "required": true,
            "x-ms-summary": "Asset ETag",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": "*"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Specify the path to the asset.",
            "required": true,
            "x-ms-summary": "Asset Path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#delete-asset"
        }
      }
    },
    "/{connectionId}/storage/cc/asset/path/content": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "Get asset contents using path",
        "description": "This operation gets the asset contents for the given asset path.",
        "operationId": "GetContentByPath",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Specify the path to the asset.",
            "required": true,
            "x-ms-summary": "Asset Path",
            "type": "string",
            "x-ms-test-value": "files/test (do not delete).txt"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "format": "binary",
              "type": "string",
              "x-ms-summary": "Asset Contents"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#get-asset-contents-using-path"
        }
      }
    },
    "/{connectionId}/storage/cc/asset/path/metadata": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "Get asset details using path",
        "description": "This operation gets the asset details for the given asset path.",
        "operationId": "GetMetadataByPath",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Specify the path to the asset.",
            "required": true,
            "x-ms-summary": "Asset Path",
            "type": "string",
            "x-ms-test-value": "files/test (do not delete).txt"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/AssetMetadata"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#get-asset-details-using-path"
        }
      }
    },
    "/{connectionId}/storage/cc/directory/path/assets": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "List all assets in folder",
        "description": "This operation lists all assets in the given folder.",
        "operationId": "ListFilesInDirectory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Specify the path to the folder.",
            "required": true,
            "type": "string",
            "default": "files",
            "x-ms-summary": "Folder Path",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "value-path": "path",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              }
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListFoldersInRootDirectory",
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFoldersInDirectory",
                "parameters": {
                  "path": {
                    "selectedItemValuePath": "path"
                  }
                },
                "itemValuePath": "path",
                "itemTitlePath": "name",
                "itemFullTitlePath": "Path",
                "itemIsParent": "(IsFolder eq true)"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/DirectoryListing"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#list-all-assets-in-folder"
        }
      }
    },
    "/{connectionId}/storage/cc/directory/path/folders": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "List all folders in folder",
        "description": "This operation lists all folders in the given folder.",
        "operationId": "ListFoldersInDirectory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "Specify the path to the folder.",
            "required": true,
            "x-ms-summary": "Folder Path",
            "type": "string",
            "x-ms-test-value": "files"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StorageDirectory"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#list-all-folders-in-folder"
        }
      }
    },
    "/{connectionId}/storage/cc/directory/root/folders": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "List all folders in the root folder",
        "description": "This operation lists all folders in the root folder.",
        "operationId": "ListFoldersInRootDirectory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StorageDirectory"
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#list-all-folders-in-the-root-folder"
        }
      }
    },
    "/{connectionId}/storage/cc/op/copy": {
      "post": {
        "tags": [
          "storage"
        ],
        "summary": "Copy asset",
        "description": "This operation copies an asset to the destination asset path.",
        "operationId": "CopyAsset",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyAssetRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CreatedAssetDetails"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "user-access-token": [
              "openid,creative_sdk"
            ]
          }
        ],
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/adobecreativecloud/#copy-asset"
        }
      }
    },
    "/whr": {
      "post": {
        "operationId": "WebhookResponse",
        "parameters": [],
        "responses": {
          "default": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "security": [],
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    }
  },
  "definitions": {
    "WebhookUrl": {
      "type": "object",
      "required": [
        "webhookUrl"
      ],
      "properties": {
        "webhookUrl": {
          "description": "URL of the webhook.",
          "type": "string",
          "x-ms-summary": "Webhook URL",
          "x-ms-visibility": "internal",
          "x-ms-notification-url": true
        }
      }
    },
    "DirectoryListing": {
      "required": [
        "children"
      ],
      "type": "object",
      "properties": {
        "children": {
          "description": "The list of assets.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssetMetadata"
          },
          "x-ms-summary": "List of Assets"
        }
      }
    },
    "StorageDirectory": {
      "required": [
        "name",
        "path"
      ],
      "type": "object",
      "properties": {
        "path": {
          "description": "Path to the folder.",
          "pattern": ".+",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Folder Path"
        },
        "name": {
          "description": "Name of the folder.",
          "pattern": ".+",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Folder Name"
        },
        "MediaType": {
          "description": "The MIME media type of the file",
          "type": "string",
          "x-ms-summary": "Media Type",
          "x-ms-visibility": "internal"
        },
        "IsFolder": {
          "description": "Indicates whether the item is a folder",
          "type": "boolean",
          "x-ms-summary": "Is Folder",
          "x-ms-visibility": "internal"
        }
      }
    },
    "CreatedAssetDetails": {
      "required": [
        "link",
        "name",
        "path",
        "urn"
      ],
      "type": "object",
      "properties": {
        "urn": {
          "description": "The unique id of the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset ID"
        },
        "name": {
          "description": "Name of the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset Name"
        },
        "path": {
          "description": "Path to the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset Path"
        },
        "link": {
          "description": "Browser link to the asset.",
          "type": "string",
          "x-ms-summary": "Asset Link"
        }
      }
    },
    "AssetMetadata": {
      "required": [
        "created",
        "etag",
        "link",
        "modified",
        "name",
        "path",
        "size",
        "type",
        "urn"
      ],
      "type": "object",
      "properties": {
        "urn": {
          "description": "The unique id of the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset ID"
        },
        "name": {
          "description": "Name of the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset Name"
        },
        "path": {
          "description": "Path to the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset Path"
        },
        "type": {
          "description": "The content type of the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset Content Type"
        },
        "created": {
          "description": "Timestamp from when the asset was created.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Created At"
        },
        "modified": {
          "description": "Timestamp from when the asset was last modified.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Last Modified At"
        },
        "etag": {
          "description": "ETag of the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset ETag"
        },
        "size": {
          "description": "Size of the asset.",
          "type": "string",
          "readOnly": true,
          "x-ms-summary": "Asset Size"
        },
        "link": {
          "description": "Browser link to the asset.",
          "type": "string",
          "x-ms-summary": "Asset Link"
        }
      }
    },
    "CopyAssetRequest": {
      "required": [
        "from",
        "to"
      ],
      "type": "object",
      "properties": {
        "from": {
          "description": "Specify the path to the asset to be copied.",
          "type": "string",
          "x-ms-summary": "Source Asset Path"
        },
        "to": {
          "description": "Specify the destination path for the copied asset.",
          "type": "string",
          "x-ms-summary": "Destination Asset Path"
        }
      }
    },
    "EventSchema": {
      "required": [
        "event"
      ],
      "type": "object",
      "properties": {
        "event": {
          "description": "Details of the activity that triggered the flow.",
          "required": [
            "activitystreams:object"
          ],
          "type": "object",
          "properties": {
            "activitystreams:object": {
              "description": "Details of the asset that triggered the flow.",
              "required": [
                "xdmAsset:asset_id",
                "xdmAsset:asset_name",
                "xdmAsset:format"
              ],
              "type": "object",
              "properties": {
                "xdmAsset:asset_id": {
                  "description": "The unique id of the asset.",
                  "type": "string",
                  "x-ms-summary": "ID"
                },
                "xdmAsset:asset_name": {
                  "description": "Name of the asset.",
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "xdmAsset:format": {
                  "description": "The content type of the asset.",
                  "type": "string",
                  "x-ms-summary": "Content Type"
                },
                "xdmAsset:path": {
                  "type": "string",
                  "description": "Path to the asset.",
                  "x-ms-summary": "Path"
                }
              },
              "x-ms-summary": "Asset"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "user-access-token": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://adobeid-na1.services.adobe.com/ims/authorize",
      "tokenUrl": "https://adobeid-na1.services.adobe.com/ims/token/v2",
      "scopes": {
        "openid,creative_sdk": "Required Scopes for Creative Cloud"
      }
    }
  },
  "tags": [
    {
      "name": "storage"
    },
    {
      "name": "csm"
    }
  ],
  "x-ms-capabilities": {
    "file-picker": {
      "value-media-property": "mediaType",
      "value-title": "name",
      "value-folder-property": "isFolder",
      "open": {
        "operationId": "ListFoldersInRootDirectory"
      },
      "browse": {
        "operationId": "ListFoldersInDirectory",
        "parameters": {
          "path": {
            "value-property": "path"
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://medium.com/adobetech/adobe-i-o-events-ms-flow-connector-and-or-flow-into-the-cloud-c79f5af59f32"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.adobe.com/privacy/policy.html"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/adobecreativecloud"
  }
}
