{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Stripe",
    "description": "Stripe allows private individuals and businesses to accept payments over the internet. You can track customers, orders, invoices and more.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/trigger/v1/customers": {
      "get": {
        "summary": "When a customer is added",
        "description": "Triggers a new flow when a customer is added.",
        "operationId": "OnNewCustomer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCustomers_Response"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new customer.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#when-a-customer-is-added"
        }
      }
    },
    "/{connectionId}/trigger/v1/orders": {
      "get": {
        "summary": "When an order is added",
        "description": "Triggers a new flow when an order is added.",
        "operationId": "OnNewOrder",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListOrders_Response"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new order.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#when-an-order-is-added"
        }
      }
    },
    "/{connectionId}/trigger/v1/charges": {
      "get": {
        "summary": "When a charge is added",
        "description": "Triggers a new flow when a charge is added.",
        "operationId": "OnNewCharge",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCharges_Response"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new charge.",
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#when-a-charge-is-added"
        }
      }
    },
    "/{connectionId}/trigger/v1/invoiceitems": {
      "get": {
        "summary": "When an invoice item is added",
        "description": "Triggers a new flow when an invoice item is added.",
        "operationId": "OnNewInvoiceItem",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListInvoiceItems_Response"
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "Authorization": []
          }
        ],
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new invoice item.",
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#when-an-invoice-item-is-added"
        }
      }
    },
    "/{connectionId}/v1/products/{id}": {
      "post": {
        "summary": "Update a product",
        "description": "Updates the specific product by setting the values of the parameters passed.",
        "operationId": "UpdateProduct",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The identifier for the product.",
            "required": true,
            "x-ms-summary": "Id",
            "x-ms-test-value": "prod_9iKvmrEDDerOjQ",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The product’s name, meant to be displayable to the customer.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "active": {
                  "description": "Whether or not the product is currently available for purchase. Defaults to true.",
                  "type": "boolean",
                  "x-ms-summary": "Active",
                  "x-ms-visibility": "important"
                },
                "caption": {
                  "description": "A short one-line description of the product, meant to be displayable to the customer.",
                  "type": "string",
                  "x-ms-summary": "Caption",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "description": "The product’s description, meant to be displayable to the customer.",
                  "type": "string",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "important"
                },
                "images": {
                  "description": "A list of up to 8 URLs of images for this product, meant to be displayable to the customer.",
                  "type": "string",
                  "x-ms-summary": "Images",
                  "x-ms-visibility": "advanced"
                },
                "shippable": {
                  "description": "Whether this product is shipped (i.e. physical goods). Defaults to true.",
                  "type": "boolean",
                  "x-ms-summary": "Shippable",
                  "x-ms-visibility": "advanced"
                },
                "url": {
                  "description": "A URL of a publicly-accessible webpage for this product.",
                  "type": "string",
                  "x-ms-summary": "URL",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-test-value": {
                "name": "pala",
                "active": "false",
                "caption": "great product."
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Product_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#update-a-product"
        }
      }
    },
    "/{connectionId}/v1/products": {
      "post": {
        "summary": "Create a product",
        "description": "Creates a new product.",
        "operationId": "CreateProduct",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "name"
              ],
              "type": "object",
              "properties": {
                "name": {
                  "description": "The product’s name, meant to be displayable to the customer.",
                  "type": "string",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "id": {
                  "description": "The identifier for the product. Must be unique. If not provided, an identifier will be randomly generated.",
                  "type": "string",
                  "x-ms-summary": "Id",
                  "x-ms-visibility": "advanced"
                },
                "active": {
                  "description": "Whether or not the product is currently available for purchase. Defaults to true.",
                  "type": "boolean",
                  "x-ms-summary": "Active",
                  "x-ms-visibility": "important"
                },
                "caption": {
                  "description": "A short one-line description of the product, meant to be displayable to the customer.",
                  "type": "string",
                  "x-ms-summary": "Caption",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "description": "The product’s description, meant to be displayable to the customer.",
                  "type": "string",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "important"
                },
                "images": {
                  "description": "A list of up to 8 URLs of images for this product, meant to be displayable to the customer.",
                  "type": "string",
                  "x-ms-summary": "Images",
                  "x-ms-visibility": "advanced"
                },
                "shippable": {
                  "description": "Whether this product is shipped (i.e. physical goods). Defaults to true.",
                  "type": "boolean",
                  "x-ms-summary": "Shippable",
                  "x-ms-visibility": "advanced"
                },
                "url": {
                  "description": "A URL of a publicly-accessible webpage for this product.",
                  "type": "string",
                  "x-ms-summary": "URL",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-test-value": {
                "name": "pala",
                "id": "",
                "active": "false",
                "caption": "great product.",
                "description": "",
                "images": "",
                "url": ""
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Product_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#create-a-product"
        }
      }
    },
    "/{connectionId}/v1/customers/{id}": {
      "get": {
        "summary": "Get a customer",
        "description": "Returns the details of specified customer.",
        "operationId": "GetCustomer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Customer_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#get-a-customer"
        }
      },
      "post": {
        "summary": "Update a customer",
        "description": "Updates the specified customer by setting the values of the parameters passed.",
        "operationId": "UpdateCustomer",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/id__in_path"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "description": "An arbitrary string that you can attach to a customer, this will be unset if you send with an empty value.",
                  "type": "string",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "important"
                },
                "email": {
                  "description": "The email address of the customer, this will be unset if you send with an empty value. ",
                  "type": "string",
                  "x-ms-summary": "Email",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Customer_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#update-a-customer"
        }
      }
    },
    "/{connectionId}/v1/customers": {
      "post": {
        "summary": "Create a customer",
        "description": "Create a new customer.",
        "operationId": "CreateCustomer",
        "x-ms-no-generic-test": true,
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "description": "An arbitrary string that you can attach to a customer, this will be unset if you send with an empty value.",
                  "type": "string",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "important"
                },
                "email": {
                  "description": "The email address of the customer, this will be unset if you send with an empty value. ",
                  "type": "string",
                  "x-ms-summary": "Email",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Customer_Response"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/stripe/#create-a-customer"
        }
      }
    }
  },
  "definitions": {
    "ListCustomers_Response": {
      "description": "data",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the customer.",
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important"
          },
          "account_balance": {
            "format": "int32",
            "description": "Current balance, if any, being stored on the customer’s account.",
            "type": "integer",
            "x-ms-summary": "Account Balance",
            "x-ms-visibility": "important"
          },
          "created": {
            "format": "date-time",
            "description": "The datetime the customer was created.",
            "type": "string",
            "x-ms-summary": "Created",
            "x-ms-visibility": "important"
          },
          "currency": {
            "description": "The currency the customer can be charged in for recurring billing purposes.",
            "type": "string",
            "x-ms-summary": "Currency",
            "x-ms-visibility": "advanced"
          },
          "delinquent": {
            "description": "Whether or not the latest charge for the customer’s latest invoice has failed.",
            "type": "boolean",
            "x-ms-summary": "Delinquent",
            "x-ms-visibility": "advanced"
          },
          "description": {
            "description": "The description of the customer.",
            "type": "string",
            "x-ms-summary": "Description",
            "x-ms-visibility": "important"
          },
          "discount": {
            "$ref": "#/definitions/Discount"
          },
          "email": {
            "description": "The email of the customer.",
            "type": "string",
            "x-ms-summary": "Email",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "Discount": {
      "type": "object",
      "description": "Describes the current discount active on the customer, if there is one.",
      "x-ms-summary": "Discount",
      "x-ms-visibility": "advanced",
      "properties": {
        "customer": {
          "description": "The ID of the customer associated with this discount.",
          "type": "string",
          "x-ms-summary": "Customer"
        },
        "end": {
          "description": "If the coupon has a duration of repeating, the date that this discount will end.",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "End"
        },
        "start": {
          "description": "Date that the coupon was applied.",
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Start"
        },
        "subscription": {
          "description": "The subscription that this coupon is applied to, if it is applied to a particular subscription.",
          "type": "string",
          "x-ms-summary": "Subscription"
        },
        "coupon": {
          "$ref": "#/definitions/Coupon"
        }
      }
    },
    "Coupon": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier for the object.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "name": {
          "description": "Name of the coupon displayed to customers on for instance invoices or receipts.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "duration": {
          "description": "One of forever, once, and repeating. Describes how long a customer who applies this coupon will get the discount.",
          "type": "string",
          "x-ms-summary": "Duration"
        },
        "percent_off": {
          "description": "Percent that will be taken off the subtotal of any invoices for this customer for the duration of the coupon.",
          "type": "number",
          "format": "float",
          "x-ms-summary": "Percent off"
        },
        "amount_off": {
          "description": "Amount (in the currency specified) that will be taken off the subtotal of any invoices for this customer.",
          "type": "number",
          "format": "float",
          "x-ms-summary": "Amount off"
        }
      }
    },
    "ListOrders_Response": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the order.",
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important"
          },
          "amount": {
            "format": "int32",
            "description": "A positive integer in the smallest currency unit.",
            "type": "integer",
            "x-ms-summary": "Amount",
            "x-ms-visibility": "important"
          },
          "amount_returned": {
            "description": "Amount in cents refunded (can be less than the amount attribute on the charge if a partial refund was issued).",
            "type": "integer",
            "x-ms-summary": "Amount Returned",
            "x-ms-visibility": "advanced"
          },
          "charge": {
            "description": "The ID of the payment used to pay for the order. Present if the order status is paid, fulfilled, or refunded.",
            "type": "string",
            "x-ms-summary": "Charge",
            "x-ms-visibility": "advanced"
          },
          "created": {
            "format": "date-time",
            "description": "The datetime the order was created.",
            "type": "string",
            "x-ms-summary": "Created",
            "x-ms-visibility": "important"
          },
          "currency": {
            "description": "3-letter ISO code representing the currency in which the order was made.",
            "type": "string",
            "x-ms-summary": "Currency",
            "x-ms-visibility": "important"
          },
          "customer": {
            "description": "The customer used for the order.",
            "type": "string",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "important"
          },
          "email": {
            "description": "The email address of the customer placing the order.",
            "type": "string",
            "x-ms-summary": "Email",
            "x-ms-visibility": "important"
          },
          "selected_shipping_method": {
            "description": "The shipping method that is currently selected for this order, if any.",
            "type": "string",
            "x-ms-summary": "Selected Shipping method",
            "x-ms-visibility": "advanced"
          },
          "status": {
            "description": "Current order status. One of created, paid, canceled, fulfilled, or returned.",
            "type": "string",
            "x-ms-summary": "Status",
            "x-ms-visibility": "advanced"
          },
          "updated": {
            "format": "date-time",
            "description": "The datetime the order was updated.",
            "type": "string",
            "x-ms-summary": "Updated",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "ListCharges_Response": {
      "description": "data",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the charge.",
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important"
          },
          "amount": {
            "format": "int32",
            "description": "A positive integer in the smallest currency unit (e.g., 100 cents to charge $1.00 or 100 to charge ¥100, a 0-decimal currency) representing how much to charge.",
            "type": "integer",
            "x-ms-summary": "Amount",
            "x-ms-visibility": "important"
          },
          "amount_refunded": {
            "format": "int32",
            "description": "Amount in cents refunded (can be less than the amount attribute on the charge if a partial refund was issued).",
            "type": "integer",
            "x-ms-summary": "Amount Refunded",
            "x-ms-visibility": "advanced"
          },
          "captured": {
            "description": "If the charge was created without capturing, this boolean represents whether or not it is still uncaptured or has since been captured.",
            "type": "boolean",
            "x-ms-summary": "Captured",
            "x-ms-visibility": "advanced"
          },
          "created": {
            "format": "date-time",
            "description": "The datetime the charge was created.",
            "type": "string",
            "x-ms-summary": "Created",
            "x-ms-visibility": "advanced"
          },
          "currency": {
            "description": "Three-letter ISO currency code representing the currency in which the charge was made.",
            "type": "string",
            "x-ms-summary": "Currency",
            "x-ms-visibility": "advanced"
          },
          "customer": {
            "description": "ID of the customer this charge is for if one exists.",
            "type": "string",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "advanced"
          },
          "description": {
            "description": "The description of the charge.",
            "type": "string",
            "x-ms-summary": "Description",
            "x-ms-visibility": "important"
          },
          "failure_code": {
            "description": "Error code explaining reason for charge failure if available.",
            "type": "string",
            "x-ms-summary": "Failure Code",
            "x-ms-visibility": "advanced"
          },
          "failure_message": {
            "description": "Message to user further explaining reason for charge failure if available.",
            "type": "string",
            "x-ms-summary": "Failure Message",
            "x-ms-visibility": "advanced"
          },
          "invoice": {
            "description": "ID of the invoice this charge is for if one exists.",
            "type": "string",
            "x-ms-summary": "Invoice",
            "x-ms-visibility": "advanced"
          },
          "order": {
            "description": "ID of the order this charge is for if one exists.",
            "type": "string",
            "x-ms-summary": "Order",
            "x-ms-visibility": "advanced"
          },
          "outcome": {
            "description": "Details about whether or not the payment was accepted, and why.",
            "type": "object",
            "properties": {
              "network_status": {
                "description": "Possible values are approved_by_network, declined_by_network, not_sent_to_network, and reversed_after_approval.",
                "type": "string",
                "x-ms-summary": "Network Status",
                "x-ms-visibility": "advanced"
              },
              "reason": {
                "description": "An enumerated value indicating a more detailed explanation of the outcome’s type.",
                "type": "string",
                "x-ms-summary": "Reason",
                "x-ms-visibility": "advanced"
              },
              "risk_level": {
                "description": "Stripe’s evaluation of the riskiness of the payment.",
                "type": "string",
                "x-ms-summary": "Risk Level",
                "x-ms-visibility": "advanced"
              },
              "seller_message": {
                "description": "A human-readable description of the outcome type and reason, designed for the recipient of the payment.",
                "type": "string",
                "x-ms-summary": "Seller Message",
                "x-ms-visibility": "advanced"
              },
              "type": {
                "description": "Possible values are authorized, issuer_declined, blocked, and invalid.",
                "type": "string",
                "x-ms-summary": "Type",
                "x-ms-visibility": "advanced"
              }
            },
            "x-ms-summary": "Outcome",
            "x-ms-visibility": "advanced"
          },
          "paid": {
            "description": "True if the charge succeeded, or was successfully authorized for later capture.",
            "type": "boolean",
            "x-ms-summary": "Paid",
            "x-ms-visibility": "important"
          },
          "receipt_email": {
            "description": "This is the email address that the receipt for this charge was sent to.",
            "type": "string",
            "x-ms-summary": "Receipt Email",
            "x-ms-visibility": "important"
          },
          "receipt_number": {
            "description": "This is the transaction number that appears on email receipts sent for this charge.",
            "type": "string",
            "x-ms-summary": "Receipt Number",
            "x-ms-visibility": "advanced"
          },
          "refunded": {
            "description": "Whether or not the charge has been fully refunded. If the charge is only partially refunded, this attribute will still be false.",
            "type": "boolean",
            "x-ms-summary": "Refunded",
            "x-ms-visibility": "advanced"
          },
          "statement_descriptor": {
            "description": "Extra information about a charge. This will appear on your customer’s credit card statement.",
            "type": "string",
            "x-ms-summary": "Statement Descriptor",
            "x-ms-visibility": "important"
          },
          "status": {
            "description": "The status of the payment is either succeeded, pending, or failed.",
            "type": "string",
            "x-ms-summary": "Status",
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "ListInvoiceItems_Response": {
      "description": "data",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the invoice item.",
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-visibility": "advanced"
          },
          "amount": {
            "format": "int32",
            "description": "A positive integer in the smallest currency unit representing the total amount for the invoice item.",
            "type": "integer",
            "x-ms-summary": "Amount",
            "x-ms-visibility": "important"
          },
          "currency": {
            "description": "3-letter ISO code representing the currency in which the invoice item was made.",
            "type": "string",
            "x-ms-summary": "Currency",
            "x-ms-visibility": "important"
          },
          "customer": {
            "description": "The customer id used for the invoice item.",
            "type": "string",
            "x-ms-summary": "Customer",
            "x-ms-visibility": "important"
          },
          "date": {
            "format": "date-time",
            "description": "The date of the invoice item.",
            "type": "string",
            "x-ms-summary": "Date",
            "x-ms-visibility": "important"
          },
          "description": {
            "description": "The description of the invoice item.",
            "type": "string",
            "x-ms-summary": "description",
            "x-ms-visibility": "important"
          },
          "discountable": {
            "description": "If true, discounts will apply to this invoice item. Always false for prorations.",
            "type": "boolean",
            "x-ms-summary": "Discountable",
            "x-ms-visibility": "advanced"
          },
          "invoice": {
            "description": "The id of the invoice the invoice item was added to.",
            "type": "string",
            "x-ms-summary": "Invoice",
            "x-ms-visibility": "advanced"
          },
          "plan": {
            "description": "If the invoice item is a proration, the plan of the subscription that the proration was computed for.",
            "type": "object",
            "properties": {},
            "x-ms-summary": "Plan",
            "x-ms-visibility": "advanced"
          },
          "proration": {
            "description": "Whether or not the invoice item was created automatically as a proration adjustment when the customer switched plans.",
            "type": "boolean",
            "x-ms-summary": "Proration",
            "x-ms-visibility": "important"
          },
          "quantity": {
            "format": "int32",
            "description": "If the invoice item is a proration, the quantity of the subscription that the proration was computed for.",
            "type": "integer",
            "x-ms-summary": "Quantity",
            "x-ms-visibility": "advanced"
          },
          "subscription": {
            "description": "The subscription that this invoice item has been created for, if any.",
            "type": "string",
            "x-ms-summary": "Subscription",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "Product_Response": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the product.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "active": {
          "description": "Whether or not the product is currently available for purchase.",
          "type": "boolean",
          "x-ms-summary": "Active",
          "x-ms-visibility": "important"
        },
        "caption": {
          "description": "A short one-line description of the product, meant to be displayable to the customer.",
          "type": "string",
          "x-ms-summary": "Caption",
          "x-ms-visibility": "important"
        },
        "created": {
          "format": "date-time",
          "description": "the datetime the product was created at.",
          "type": "string",
          "x-ms-summary": "Created",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "The product’s description, meant to be displayable to the customer.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced"
        },
        "images": {
          "description": "A list of up to 8 URLs of images for this product, meant to be displayable to the customer.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Images",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The product’s name, meant to be displayable to the customer.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "shippable": {
          "description": "Whether this product is a shipped good.",
          "type": "boolean",
          "x-ms-summary": "Shippable",
          "x-ms-visibility": "advanced"
        },
        "updated": {
          "format": "date-time",
          "description": "The datetime the product was updated.",
          "type": "string",
          "x-ms-summary": "Updated",
          "x-ms-visibility": "advanced"
        },
        "url": {
          "description": "A URL of a publicly-accessible webpage for this product.",
          "type": "string",
          "x-ms-summary": "URL",
          "x-ms-visibility": "important"
        }
      }
    },
    "Customer_Response": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the customer.",
          "type": "string",
          "x-ms-summary": "Id",
          "x-ms-visibility": "important"
        },
        "account_balance": {
          "format": "int32",
          "description": "Current balance, if any, being stored on the customer’s account.",
          "type": "integer",
          "x-ms-summary": "Account Balance",
          "x-ms-visibility": "important"
        },
        "created": {
          "format": "date-time",
          "description": "The datetime the customer was created.",
          "type": "string",
          "x-ms-summary": "Created",
          "x-ms-visibility": "important"
        },
        "currency": {
          "description": "The currency the customer can be charged in for recurring billing purposes.",
          "type": "string",
          "x-ms-summary": "Currency",
          "x-ms-visibility": "advanced"
        },
        "delinquent": {
          "description": "Whether or not the latest charge for the customer’s latest invoice has failed.",
          "type": "boolean",
          "x-ms-summary": "Delinquent",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "The description of the customer.",
          "type": "string",
          "x-ms-summary": "Description",
          "x-ms-visibility": "important"
        },
        "discount": {
          "$ref": "#/definitions/Discount"
        },
        "email": {
          "description": "The email of the customer.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        }
      }
    }
  },
  "parameters": {
    "id__in_path": {
      "name": "id",
      "in": "path",
      "description": "The id of the customer.",
      "required": true,
      "x-ms-summary": "Id",
      "x-ms-test-value": "cus_9iKM7WeohzFpnI",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "basic"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://stripe.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://stripe.com/privacy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/stripe"
  },
  "basePath": "/apim/stripe"
}
