{
  "swagger": "2.0",
  "info": {
    "title": "Socialinsider",
    "description": "The Socialinsider Analytics connector makes adding your competitive social metrics to dashboards painless. Start a free trial here: https://app.socialinsider.io/signup/",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Andrei Serbanoiu",
      "email": "andrei@socialinsider.io",
      "url": "https://app.socialinsider.io"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/socialinsider",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/{connectionId}/": {},
    "/{connectionId}/profile_time_based_metrics": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Profile time based metrics",
        "description": "Get profile time based metrics from Socialinsider Analytics",
        "operationId": "Profile-time-based-metrics",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "key"
                },
                "projectname": {
                  "type": "string",
                  "description": "projectname"
                },
                "platform": {
                  "type": "string",
                  "description": "platform"
                },
                "profile": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "profile"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/socialinsider/#profile-time-based-metrics"
        }
      }
    },
    "/{connectionId}/profiles_aggregated_metrics": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Profile aggregated metrics",
        "description": "Get profile aggregated metrics",
        "operationId": "Profile-aggregated-metrics",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "key"
                },
                "projectname": {
                  "type": "string",
                  "description": "projectname"
                },
                "platform": {
                  "type": "string",
                  "description": "platform"
                },
                "profiles": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "profiles"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/socialinsider/#profile-aggregated-metrics"
        }
      }
    },
    "/{connectionId}/posts": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Posts",
        "description": "Get posts with Socialinsider Analytics",
        "operationId": "Posts",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "key"
                },
                "projectname": {
                  "type": "string",
                  "description": "projectname"
                },
                "platform": {
                  "type": "string",
                  "description": "platform"
                },
                "profiles": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "profiles"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/socialinsider/#posts"
        }
      }
    },
    "/{connectionId}/stories": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Stories",
        "description": "Get instagram stories with Socialinsider Analytics",
        "operationId": "Stories",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "key"
                },
                "projectname": {
                  "type": "string",
                  "description": "projectname"
                },
                "profiles": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "profiles"
                }
              }
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/socialinsider/#stories"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://app.socialinsider.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.socialinsider.io/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social media"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/socialinsider"
  }
}
