{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "PagerDuty",
    "description": "PagerDuty is an agile incident management platform that integrates with IT Ops and DevOps monitoring stacks to improve operational reliability and agility for organizations.",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "x-ms-docs": [
    {
      "url": "https://ms.flow.microsoft.com/en-us/blog/pagerduty-flow-integration/",
      "description": "Decrease incident resolution times with PagerDuty and Microsoft Flow"
    }
  ],
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/pagerduty",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/action7/incidents": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "List incidents",
        "description": "List incidents",
        "operationId": "GetIncidents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#list-incidents"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/action8/incidents": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Get incident",
        "description": "Retrieves incident object by incident key.",
        "operationId": "GetIncidentByKey",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incident_key",
            "in": "query",
            "description": "Incident key",
            "required": true,
            "x-ms-summary": "Incident",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Incident"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#get-incident"
        }
      }
    },
    "/{connectionId}/action9/incidents": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "List active incidents",
        "description": "List active incidents",
        "operationId": "GetActiveIncidents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#list-active-incidents"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/escalation_policies": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Get all the escalation policies",
        "description": "Get all the escalation policies",
        "operationId": "GetEscalationPolicies",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EscalationPoliciesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#get-all-the-escalation-policies"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/users": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Get all the users",
        "description": "Get all the users",
        "operationId": "GetUsers",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UsersResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#get-all-the-users"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/users/{userId}": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Get user by ID",
        "description": "Retrieves the user's information for a given ID.",
        "operationId": "GetUser",
        "consumes": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "x-ms-summary": "User Id",
            "description": "Unique Id of the user.",
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#get-user-by-id"
        }
      }
    },
    "/{connectionId}/incidents/{incidentId}/notes": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Get all the notes for an incident",
        "description": "Get all the notes for an incident",
        "operationId": "GetIncidentNotes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Incident identifier",
            "required": true,
            "x-ms-summary": "Incident",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#get-all-the-notes-for-an-incident"
        }
      },
      "post": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Add note to incident",
        "description": "Add note to a given incident.",
        "operationId": "AddNoteToIncident",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Select an incident",
            "required": true,
            "x-ms-summary": "Incident",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveIncidents",
              "value-collection": "incidents",
              "value-path": "id",
              "value-title": "summary"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddNoteRequest"
            },
            "x-ms-summary": "AddNoteRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddNoteResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#add-note-to-incident"
        }
      }
    },
    "/{connectionId}/action1/incidents/{incidentId}": {
      "put": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Acknowledge incident",
        "description": "Acknowledge a given incident.",
        "operationId": "AcknowledgeIncident",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Select an incident",
            "required": true,
            "x-ms-summary": "Incident",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveIncidents",
              "value-collection": "incidents",
              "value-path": "id",
              "value-title": "summary"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AcknowledgeRequest"
            },
            "x-ms-summary": "User"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleIncident"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#acknowledge-incident"
        }
      }
    },
    "/{connectionId}/action2/incidents/{incidentId}": {
      "put": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Resolve incident",
        "description": "Mark a given incident as resolved.",
        "operationId": "ResolveIncident",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Select an incident",
            "required": true,
            "x-ms-summary": "Incident",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveIncidents",
              "value-collection": "incidents",
              "value-path": "id",
              "value-title": "summary"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResolveRequest"
            },
            "x-ms-summary": "User"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleIncident"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#resolve-incident"
        }
      }
    },
    "/{connectionId}/action3/incidents/{incidentId}": {
      "put": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Reassign incident",
        "description": "Reassign a given incident.",
        "operationId": "ReassignIncident",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Select an incident",
            "required": true,
            "x-ms-summary": "Incident",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveIncidents",
              "value-collection": "incidents",
              "value-path": "id",
              "value-title": "summary"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReassignRequest"
            },
            "x-ms-summary": "User"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleIncident"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#reassign-incident"
        }
      }
    },
    "/{connectionId}/action4/incidents/{incidentId}/snooze": {
      "post": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Snooze incident",
        "description": "Snooze a given incident by a certain time.",
        "operationId": "SnoozeIncident",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Select an incident",
            "required": true,
            "x-ms-summary": "Incident",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveIncidents",
              "value-collection": "incidents",
              "value-path": "id",
              "value-title": "summary"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SnoozeRequest"
            },
            "x-ms-summary": "SnoozeRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleIncident"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#snooze-incident"
        }
      }
    },
    "/{connectionId}/action5/incidents/{incidentId}": {
      "put": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Escalate incident",
        "description": "Use a given escalation policy on an incident.",
        "operationId": "EscalateIncident",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Select an incident",
            "required": true,
            "x-ms-summary": "Incident",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveIncidents",
              "value-collection": "incidents",
              "value-path": "id",
              "value-title": "summary"
            },
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscalateRequest"
            },
            "x-ms-summary": "Request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleIncident"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#escalate-incident"
        }
      }
    },
    "/{connectionId}/action6/incidents/{incidentId}": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Get incident",
        "description": "Retrieves incident object by incident key.",
        "operationId": "GetIncidentById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SingleIncident"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#get-incident"
        }
      }
    },
    "/{connectionId}/trigger1/incidents/{incidentId}/notes": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "When a note is added",
        "description": "Triggers when a note is added to the given incident.",
        "operationId": "OnNewIncidentNote",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Select an incident",
            "required": true,
            "x-ms-summary": "Incident",
            "x-ms-dynamic-values": {
              "operationId": "GetActiveIncidents",
              "value-collection": "incidents",
              "value-path": "id",
              "value-title": "summary"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NotesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new note to an incident.",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#when-a-note-is-added"
        }
      }
    },
    "/{connectionId}/trigger2/incidents": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "When an incident is created",
        "description": "Triggers when a new incident is created.",
        "operationId": "OnNewIncidentCreated",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, create a new incident",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#when-an-incident-is-created"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger3/incidents/{userId}": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "When an incident is assigned to a user",
        "description": "Triggers when an incident is assigned to the given user.",
        "operationId": "OnIncidentAssigned",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "Select a user",
            "required": true,
            "x-ms-summary": "User",
            "x-ms-dynamic-values": {
              "operationId": "GetUsers",
              "value-collection": "users",
              "value-path": "id",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, assign an incident",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#when-an-incident-is-assigned-to-a-user"
        }
      }
    },
    "/{connectionId}/trigger4/incidents": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "When an incident is acknowledged",
        "description": "Triggers when an existing incident is acknowledged.",
        "operationId": "OnIncidentAcknowledged",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, acknowledge an incident",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#when-an-incident-is-acknowledged"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/trigger5/incidents": {
      "get": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "When an incident is resolved",
        "description": "Triggers when an existing incident is resolved.",
        "operationId": "OnIncidentResolved",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IncidentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, resolve an incident",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#when-an-incident-is-resolved"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/incidents/create": {
      "post": {
        "tags": [
          "PagerDuty"
        ],
        "summary": "Create incident",
        "description": "Creates a new incident for a given service identifiable by the integration key.",
        "operationId": "CreateIncident",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Request message",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRequest"
            },
            "x-ms-summary": "Request"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NewIncident"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/pagerduty/#create-incident"
        }
      }
    }
  },
  "definitions": {
    "IncidentsResponse": {
      "description": "Response for a list of incidents",
      "type": "object",
      "properties": {
        "incidents": {
          "description": "List of incidents",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Incident"
          },
          "x-ms-summary": "List of incidents",
          "x-ms-visibility": "important"
        }
      }
    },
    "SingleIncident": {
      "description": "An incident with incident property itself",
      "type": "object",
      "properties": {
        "incident": {
          "$ref": "#/definitions/Incident"
        }
      }
    },
    "Incident": {
      "description": "An incident",
      "required": [
        "id",
        "type",
        "incident_number",
        "created_at",
        "status"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Incident Id",
          "type": "string",
          "x-ms-summary": "Incident Id",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Incident type",
          "type": "string",
          "x-ms-summary": "Incident type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "Incident title",
          "type": "string",
          "x-ms-summary": "Incident title",
          "x-ms-visibility": "important"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "Incident detail url",
          "type": "string",
          "x-ms-summary": "Incident detail url",
          "x-ms-visibility": "important"
        },
        "incident_number": {
          "format": "int32",
          "description": "Incident number",
          "type": "integer",
          "x-ms-summary": "Incident number",
          "x-ms-visibility": "internal"
        },
        "created_at": {
          "description": "Create date",
          "type": "string",
          "x-ms-summary": "Create date",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Current status",
          "type": "string",
          "x-ms-summary": "Current status",
          "x-ms-visibility": "important"
        },
        "pending_actions": {
          "description": "List of pending actions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PendingAction"
          },
          "x-ms-summary": "List of pending actions",
          "x-ms-visibility": "internal"
        },
        "incident_key": {
          "description": "Incident Key",
          "type": "string",
          "x-ms-summary": "Incident Key",
          "x-ms-visibility": "important"
        },
        "service": {
          "$ref": "#/definitions/Service"
        },
        "assignments": {
          "description": "List of all assignments for this incident",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Assignment"
          },
          "x-ms-summary": "List of all assignments for this incident",
          "x-ms-visibility": "internal"
        },
        "assignedUserId": {
          "type": "string",
          "x-ms-summary": "Assigned User ID",
          "description": "The ID of the user assigned to this incident",
          "x-ms-visibility": "advanced"
        },
        "acknowledgements": {
          "description": "List of all acknowledgements for this incident",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Acknowledgement"
          },
          "x-ms-summary": "List of all acknowledgements for this incident",
          "x-ms-visibility": "internal"
        },
        "last_status_change_at": {
          "description": "Last status change",
          "type": "string",
          "x-ms-summary": "Last status change",
          "x-ms-visibility": "advanced"
        },
        "last_status_change_by": {
          "$ref": "#/definitions/LastStatusChangeBy"
        },
        "first_trigger_log_entry": {
          "$ref": "#/definitions/FirstTriggerLogEntry"
        },
        "escalation_policy": {
          "$ref": "#/definitions/EscalationPolicy"
        },
        "teams": {
          "description": "Teams involved in the incident lifecycle",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Team"
          },
          "x-ms-summary": "Teams involved in the incident lifecycle",
          "x-ms-visibility": "internal"
        },
        "urgency": {
          "description": "Current urgency",
          "type": "string",
          "x-ms-summary": "Current urgency",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "NewIncident": {
      "description": "A new incident",
      "required": [
        "incident_key"
      ],
      "type": "object",
      "properties": {
        "incident_key": {
          "description": "Key",
          "type": "string",
          "x-ms-summary": "Key",
          "x-ms-visibility": "important"
        }
      }
    },
    "PendingAction": {
      "description": "An incident action that is pending",
      "required": [
        "type",
        "at"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "Pending action type",
          "type": "string",
          "x-ms-summary": "Pending action type",
          "x-ms-visibility": "internal"
        },
        "at": {
          "description": "Create date",
          "type": "string",
          "x-ms-summary": "Create date",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Service": {
      "description": "A service",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Service Id",
          "type": "string",
          "x-ms-summary": "Service Id",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "Service type",
          "type": "string",
          "x-ms-summary": "Service type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the service",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the service",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Assignment": {
      "description": "Represents the assignment of an incident",
      "required": [
        "at",
        "assignee"
      ],
      "type": "object",
      "properties": {
        "at": {
          "description": "Time assignment was created",
          "type": "string",
          "x-ms-summary": "Time assignment was created",
          "x-ms-visibility": "internal"
        },
        "assignee": {
          "$ref": "#/definitions/Assignee"
        }
      }
    },
    "Acknowledgement": {
      "description": "Acknowledgement of incident",
      "required": [
        "at",
        "acknowledger"
      ],
      "type": "object",
      "properties": {
        "at": {
          "description": "Time acknowledgement was created",
          "type": "string",
          "x-ms-summary": "Time acknowledgement was created",
          "x-ms-visibility": "internal"
        },
        "acknowledger": {
          "$ref": "#/definitions/Acknowledger"
        }
      }
    },
    "LastStatusChangeBy": {
      "description": "Represents the user or service that last changed an incident",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Last status change Id",
          "type": "string",
          "x-ms-summary": "Last status change Id",
          "x-ms-visibility": "internal"
        },
        "type": {
          "description": "Last status change type",
          "type": "string",
          "x-ms-summary": "Last status change type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the last status change",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the policy",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app",
          "x-ms-visibility": "internal"
        }
      }
    },
    "FirstTriggerLogEntry": {
      "description": "Log entry for when an incident is triggered",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Log entry Id",
          "type": "string",
          "x-ms-summary": "Log entry Id",
          "x-ms-visibility": "internal"
        },
        "type": {
          "description": "Log entry type",
          "type": "string",
          "x-ms-summary": "Log entry type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the log entry",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the log entry",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app",
          "x-ms-visibility": "internal"
        }
      }
    },
    "EscalationPolicy": {
      "description": "The policy in place for escalating an incident",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Policy Id",
          "type": "string",
          "x-ms-summary": "Policy Id",
          "x-ms-visibility": "internal"
        },
        "type": {
          "description": "Policy type",
          "type": "string",
          "x-ms-summary": "Policy type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the policy",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the policy",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Team": {
      "description": "A team",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Team Id",
          "type": "string",
          "x-ms-summary": "Team Id",
          "x-ms-visibility": "internal"
        },
        "type": {
          "description": "Team type",
          "type": "string",
          "x-ms-summary": "Team type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the team",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the team",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Assignee": {
      "description": "Represents to whom the incident is assigned",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Assignee Id",
          "type": "string",
          "x-ms-summary": "Assignee Id",
          "x-ms-visibility": "internal"
        },
        "type": {
          "description": "Assignee type",
          "type": "string",
          "x-ms-summary": "Assignee type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the acknowledger",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the acknowledger",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Acknowledger": {
      "description": "Represents the acknowledger of an incident",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Acknowledger Id",
          "type": "string",
          "x-ms-summary": "Acknowledger Id",
          "x-ms-visibility": "internal"
        },
        "type": {
          "description": "Acknowledger type",
          "type": "string",
          "x-ms-summary": "Acknowledger type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the acknowledger",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the acknowledger",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app",
          "x-ms-visibility": "internal"
        }
      }
    },
    "EscalationPoliciesResponse": {
      "description": "Escalation policies response object",
      "type": "object",
      "properties": {
        "escalation_policies": {
          "description": "List of escalation policies",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EscalationPolicy"
          },
          "x-ms-summary": "Escalation policies",
          "x-ms-visibility": "important"
        },
        "limit": {
          "format": "int32",
          "description": "Pagination limit",
          "type": "integer",
          "x-ms-summary": "Pagination limit",
          "x-ms-visibility": "internal"
        },
        "offset": {
          "format": "int32",
          "description": "Pagination offset",
          "type": "integer",
          "x-ms-summary": "Pagination offset",
          "x-ms-visibility": "internal"
        },
        "more": {
          "description": "Indicates if there are additional policies to return",
          "type": "boolean",
          "x-ms-summary": "Indicates if there are additional policies to return",
          "x-ms-visibility": "internal"
        },
        "total": {
          "format": "int32",
          "description": "The total number of records matching the given",
          "type": "integer",
          "x-ms-summary": "Total"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "UsersResponse": {
      "description": "Users response object",
      "type": "object",
      "properties": {
        "users": {
          "description": "List of users",
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          },
          "x-ms-summary": "Users",
          "x-ms-visibility": "important"
        },
        "limit": {
          "format": "int32",
          "description": "Pagination limit",
          "type": "integer",
          "x-ms-summary": "Pagination limit",
          "x-ms-visibility": "internal"
        },
        "offset": {
          "format": "int32",
          "description": "Pagination offset",
          "type": "integer",
          "x-ms-summary": "Pagination offset",
          "x-ms-visibility": "internal"
        },
        "total": {
          "format": "int32",
          "description": "The total number of records matching the given",
          "type": "integer",
          "x-ms-summary": "Total"
        },
        "more": {
          "description": "Indicates if there are additional users to return",
          "type": "boolean",
          "x-ms-summary": "Indicates if there are additional users to return",
          "x-ms-visibility": "internal"
        }
      }
    },
    "User": {
      "description": "A PagerDuty user",
      "required": [
        "name",
        "email",
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "email": {
          "description": "E-mail address",
          "type": "string",
          "x-ms-summary": "E-mail address",
          "x-ms-visibility": "important"
        },
        "time_zone": {
          "description": "The preferred time zone name. If null, the account time zone will be used",
          "type": "string",
          "x-ms-summary": "The preferred time zone name. If null, the account time zone will be used",
          "x-ms-visibility": "advanced"
        },
        "color": {
          "description": "Schedule color",
          "type": "string",
          "x-ms-summary": "Schedule color",
          "x-ms-visibility": "internal"
        },
        "avatar_url": {
          "description": "User avatar url",
          "type": "string",
          "x-ms-summary": "User avatar url",
          "x-ms-visibility": "internal"
        },
        "billed": {
          "description": "User is billed",
          "type": "boolean",
          "x-ms-summary": "User is billed",
          "x-ms-visibility": "advanced"
        },
        "role": {
          "description": "The user role",
          "type": "string",
          "x-ms-summary": "The user role",
          "x-ms-visibility": "advanced"
        },
        "description": {
          "description": "The user's bio",
          "type": "string",
          "x-ms-summary": "Description"
        },
        "invitation_sent": {
          "description": "Outstanding invitation for the user",
          "type": "boolean",
          "x-ms-summary": "Outstanding invitation for the user",
          "x-ms-visibility": "internal"
        },
        "contact_methods": {
          "description": "Contact methods for the user",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactMethod"
          },
          "x-ms-summary": "Contact methods for the user",
          "x-ms-visibility": "advanced"
        },
        "notification_rules": {
          "description": "Notification rules for the user",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationRule"
          },
          "x-ms-summary": "Notification rules for the user",
          "x-ms-visibility": "advanced"
        },
        "job_title": {
          "description": "The user's job title",
          "type": "string",
          "x-ms-summary": "Job title"
        },
        "teams": {
          "description": "Teams to which the user belongs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Object"
          },
          "x-ms-summary": "Teams to which the user belongs",
          "x-ms-visibility": "advanced"
        },
        "coordinated_incidents": {
          "description": "List of incidents for this user",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Object"
          },
          "x-ms-summary": "List of incidents for this user",
          "x-ms-visibility": "advanced"
        },
        "id": {
          "description": "User Id",
          "type": "string",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "User type",
          "type": "string",
          "x-ms-summary": "User type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the user",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the user",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app"
        }
      }
    },
    "ContactMethod": {
      "description": "The method for contact",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Contact method Id",
          "type": "string",
          "x-ms-summary": "Contact method Id",
          "x-ms-visibility": "internal"
        },
        "type": {
          "description": "Contact method type",
          "type": "string",
          "x-ms-summary": "Contact method type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the contact method",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the contact method",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the web app",
          "type": "string",
          "x-ms-summary": "HTML URL"
        }
      }
    },
    "NotificationRule": {
      "description": "Notification rule",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Notification rule Id",
          "type": "string",
          "x-ms-summary": "Notification rule Id",
          "x-ms-visibility": "internal"
        },
        "type": {
          "description": "Rule type",
          "type": "string",
          "x-ms-summary": "Rule type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the rule",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the rule",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the web app",
          "type": "string",
          "x-ms-summary": "HTML URL",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "NotesResponse": {
      "description": "Response object for notes",
      "type": "object",
      "properties": {
        "notes": {
          "description": "List of notes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Note"
          },
          "x-ms-summary": "Notes",
          "x-ms-visibility": "internal"
        }
      }
    },
    "Note": {
      "description": "A note for an incident",
      "required": [
        "content"
      ],
      "type": "object",
      "properties": {
        "content": {
          "description": "Note content",
          "type": "string",
          "x-ms-summary": "Note content",
          "x-ms-visibility": "important"
        }
      }
    },
    "AddNoteRequest": {
      "description": "Request to add a note to an incident",
      "required": [
        "userId",
        "note"
      ],
      "type": "object",
      "properties": {
        "userId": {
          "description": "Select a user",
          "type": "string",
          "x-ms-summary": "Added by",
          "x-ms-dynamic-values": {
            "operationId": "GetUsers",
            "value-collection": "users",
            "value-path": "email",
            "value-title": "name"
          }
        },
        "note": {
          "description": "Text for the note",
          "type": "string",
          "x-ms-summary": "Note",
          "x-ms-visibility": "important"
        }
      }
    },
    "AddNoteResponse": {
      "description": "Response to AddNoteToIncident endpoint",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/UserResponse"
        },
        "note": {
          "$ref": "#/definitions/NoteResponse"
        }
      }
    },
    "UserResponse": {
      "description": "User response",
      "required": [
        "id",
        "type"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "User Id",
          "type": "string",
          "x-ms-summary": "User Id",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "User type",
          "type": "string",
          "x-ms-summary": "User type",
          "x-ms-visibility": "internal"
        },
        "summary": {
          "description": "A generated string that provides succinct, important information about the user",
          "type": "string",
          "x-ms-summary": "A generated string that provides succinct, important information about the user",
          "x-ms-visibility": "internal"
        },
        "self": {
          "description": "The API show URL at which the object is accessible",
          "type": "string",
          "x-ms-summary": "The API show URL at which the object is accessible",
          "x-ms-visibility": "internal"
        },
        "html_url": {
          "description": "A URL at which the entity is uniquely displayed in the Web app",
          "type": "string",
          "x-ms-summary": "A URL at which the entity is uniquely displayed in the Web app",
          "x-ms-visibility": "internal"
        }
      }
    },
    "NoteResponse": {
      "description": "Note Response",
      "required": [
        "id",
        "user",
        "content",
        "created_at"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier of the user",
          "type": "string",
          "x-ms-summary": "Unique identifier of the user",
          "x-ms-visibility": "important"
        },
        "user": {
          "$ref": "#/definitions/UserResponse"
        },
        "content": {
          "description": "Note content",
          "type": "string",
          "x-ms-summary": "Note content",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "description": "Date and time the note was created",
          "type": "string",
          "x-ms-summary": "Date and time the note was created",
          "x-ms-visibility": "important"
        }
      }
    },
    "AcknowledgeRequest": {
      "description": "Request to acknowledge an incident",
      "required": [
        "userId"
      ],
      "type": "object",
      "properties": {
        "userId": {
          "description": "Select a user",
          "type": "string",
          "x-ms-summary": "Acknowledged by",
          "x-ms-dynamic-values": {
            "operationId": "GetUsers",
            "value-collection": "users",
            "value-path": "email",
            "value-title": "name"
          }
        }
      }
    },
    "ResolveRequest": {
      "description": "Request to resolve an incident",
      "required": [
        "userId"
      ],
      "type": "object",
      "properties": {
        "userId": {
          "description": "Select a user",
          "type": "string",
          "x-ms-summary": "Resolved by",
          "x-ms-dynamic-values": {
            "operationId": "GetUsers",
            "value-collection": "users",
            "value-path": "email",
            "value-title": "name"
          }
        }
      }
    },
    "ReassignRequest": {
      "description": "Request object to reassign an incident",
      "required": [
        "userId",
        "reassignUserId"
      ],
      "type": "object",
      "properties": {
        "userId": {
          "description": "Select a user",
          "type": "string",
          "x-ms-summary": "From user",
          "x-ms-dynamic-values": {
            "operationId": "GetUsers",
            "value-collection": "users",
            "value-path": "email",
            "value-title": "name"
          }
        },
        "reassignUserId": {
          "description": "Select a user",
          "type": "string",
          "x-ms-summary": "To user",
          "x-ms-dynamic-values": {
            "operationId": "GetUsers",
            "value-collection": "users",
            "value-path": "id",
            "value-title": "name"
          }
        }
      }
    },
    "SnoozeRequest": {
      "description": "Request to snooze an incident",
      "required": [
        "userId",
        "duration"
      ],
      "type": "object",
      "properties": {
        "userId": {
          "description": "Select a user",
          "type": "string",
          "x-ms-summary": "Snoozed by",
          "x-ms-dynamic-values": {
            "operationId": "GetUsers",
            "value-collection": "users",
            "value-path": "email",
            "value-title": "name"
          }
        },
        "duration": {
          "format": "int32",
          "description": "The amount of time, in seconds, to snooze the incident",
          "type": "integer",
          "x-ms-summary": "Snooze"
        }
      }
    },
    "EscalateRequest": {
      "description": "Request object to escalate an incident",
      "required": [
        "userId",
        "policyId"
      ],
      "type": "object",
      "properties": {
        "userId": {
          "description": "Select a user",
          "type": "string",
          "x-ms-summary": "Escalated by",
          "x-ms-dynamic-values": {
            "operationId": "GetUsers",
            "value-collection": "users",
            "value-path": "email",
            "value-title": "name"
          }
        },
        "policyId": {
          "description": "Select a policy",
          "type": "string",
          "x-ms-summary": "Escalation policy",
          "x-ms-dynamic-values": {
            "operationId": "GetEscalationPolicies",
            "value-collection": "escalation_policies",
            "value-path": "id",
            "value-title": "name"
          }
        }
      }
    },
    "CreateRequest": {
      "description": "Request to create an incident",
      "required": [
        "service_key",
        "description"
      ],
      "type": "object",
      "properties": {
        "service_key": {
          "format": "string",
          "description": "Service integration key from PagerDuty",
          "type": "string",
          "x-ms-summary": "Service key"
        },
        "description": {
          "format": "string",
          "description": "Description of the incident",
          "type": "string",
          "x-ms-summary": "Description"
        }
      }
    }
  },
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetIncidents"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pagerduty.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.pagerduty.com/privacy-policy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/pagerduty"
  }
}
