{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Azure Event Grid Publish",
    "description": "Azure Event Grid Publish will publish data to any Azure Event Grid Custom Topic.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/eventGrid/api/events": {
      "post": {
        "summary": "Publish Event",
        "description": "Publish an event to an Event Grid Custom Topic.",
        "operationId": "PublishEvent",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublishEventBody"
            },
            "x-ms-summary": "Grid Event Array"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/azureeventgridpublish/#publish-event"
        }
      }
    }
  },
  "definitions": {
    "PublishEventBody": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Useful to idenitify individual events.",
            "type": "string",
            "x-ms-summary": "ID"
          },
          "subject": {
            "description": "Subject for the event.",
            "type": "string",
            "x-ms-summary": "Subject"
          },
          "eventType": {
            "description": "Type of event being emitted.",
            "type": "string",
            "x-ms-summary": "Event Type"
          },
          "data": {
            "description": "Object with data for the event.",
            "type": "object",
            "properties": {},
            "x-ms-summary": "Data"
          },
          "eventTime": {
            "format": "date-time",
            "description": "Date and time for the emitted event. Empty will default to current time.",
            "type": "string",
            "x-ms-summary": "Event Time",
            "x-ms-visibility": "advanced"
          }
        },
        "required": [
          "id",
          "subject",
          "eventType",
          "data"
        ]
      },
      "x-ms-test-value": [
        {
          "id": "SomeEventID",
          "subject": "EuroCup/2016",
          "data": {
            "Participants": "PortugalVsFrance"
          },
          "eventType": "SoccerGameScoreUpdate",
          "eventTime": "2017-08-09T12:00:00Z"
        }
      ]
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "aeg-sas-key",
      "in": "header"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/services/event-grid/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/azureeventgridpublish"
  },
  "basePath": "/apim/azureeventgridpublish"
}
