{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Dynamics 365 (deprecated)",
    "description": "Microsoft Dynamics 365 is a cloud based service that provides a set of intelligent applications that seamlessly work together — unifying the capabilities of CRM business software and ERP systems.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dynamicscrmonline",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "CrmDataSetsMetadata"
        ],
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get Entity metadata (deprecated)",
        "description": "Gets entity metadata",
        "operationId": "GetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Entity Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-entity-metadata-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get Entity metadata (deprecated)",
        "description": "Gets entity metadata",
        "operationId": "ODataStyleGetTable",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Entity Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-entity-metadata-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}/postitem": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get metadata of a table for post operation (deprecated)",
        "description": "Get metadata of a table for post operation",
        "operationId": "GetMetadataForPostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-metadata-of-a-table-for-post-operation-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}/patchitem": {
      "get": {
        "tags": [
          "CrmTableMetadata"
        ],
        "summary": "Get metadata of a table for patch operation (deprecated)",
        "description": "Get metadata of a table for patch operation",
        "operationId": "GetMetadataForPatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-metadata-of-a-table-for-patch-operation-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "summary": "Get Entity metadata (deprecated)",
        "description": "Gets entity metadata",
        "operationId": "GetTable_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Entity Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-entity-metadata-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets('{dataset}')/tables('{table}')": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "summary": "Get Entity metadata (deprecated)",
        "description": "Gets entity metadata",
        "operationId": "ODataStyleGetTable_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Entity Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-entity-metadata-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}/postitem": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "summary": "Get Entity metadata - Post (deprecated)",
        "description": "Gets entity metadata for post operation",
        "operationId": "GetMetadataForPostItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Entity Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-entity-metadata---post-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}/patchitem": {
      "get": {
        "tags": [
          "CrmTableMetadataV2"
        ],
        "summary": "Get Entity metadata - Patch (deprecated)",
        "description": "Gets entity metadata for patch operation",
        "operationId": "GetMetadataForPatchItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Entity Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TableMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-entity-metadata---patch-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets": {
      "get": {
        "tags": [
          "CrmDataSet"
        ],
        "operationId": "GetDataSets",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items": {
      "get": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "List records (deprecated)",
        "description": "This operation gets records for an entity",
        "operationId": "ODataStyleGetItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Related entries to include with requested entries (default = none)",
            "required": false,
            "x-ms-summary": "Expand Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "fetchXml",
            "in": "query",
            "description": "Defines columns to return, entities to join and filters to apply to build the resulting list of entries",
            "required": false,
            "x-ms-summary": "FetchXML Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#list-records-(deprecated)-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Create a new record (deprecated)",
        "description": "This operation creates a new record of an entity",
        "operationId": "ODataStylePostItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Record to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Record Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#create-a-new-record-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/datasets({dataset})/tables({table})/items": {
      "get": {
        "tags": [
          "CrmTableDataV2"
        ],
        "summary": "List records (deprecated)",
        "description": "This operation gets records for an entity (with option sets exposed as strings)",
        "operationId": "ODataStyleGetItems_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Related entries to include with requested entries (default = none)",
            "required": false,
            "x-ms-summary": "Expand Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#list-records-(deprecated)-%5bdeprecated%5d"
        }
      },
      "post": {
        "tags": [
          "CrmTableDataV2"
        ],
        "summary": "Create a new record (deprecated)",
        "description": "This operation creates a new record of an entity (with option sets exposed as strings)",
        "operationId": "ODataStylePostItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Record to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "x-ms-summary": "Record Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#create-a-new-record-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Get record (deprecated)",
        "description": "This operation retrieves the specified record for an entity",
        "operationId": "GetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the record",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Item identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-record-(deprecated)-%5bdeprecated%5d"
        }
      },
      "delete": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Delete a record (deprecated)",
        "description": "This operation deletes a record from an entity collection",
        "operationId": "DeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the record",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Item identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#delete-a-record-(deprecated)-%5bdeprecated%5d"
        }
      },
      "patch": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Update a record (deprecated)",
        "description": "This operation updates an existing record for an entity",
        "operationId": "PatchItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the record",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Record identifier",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Record to update",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPatchItem",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Record Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPatchItem",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#update-a-record-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}": {
      "get": {
        "tags": [
          "CrmTableDataV2"
        ],
        "summary": "Get record (deprecated)",
        "description": "This operation retrieves the specified record for an entity (with option sets exposed as strings)",
        "operationId": "GetItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the record",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Item identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetTable_V2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-record-(deprecated)-%5bdeprecated%5d"
        }
      },
      "delete": {
        "tags": [
          "CrmTableDataV2"
        ],
        "summary": "Delete a record (deprecated)",
        "description": "This operation deletes a record from an entity collection",
        "operationId": "DeleteItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the record",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Item identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#delete-a-record-(deprecated)-%5bdeprecated%5d"
        }
      },
      "patch": {
        "tags": [
          "CrmTableDataV2"
        ],
        "summary": "Update a record (deprecated)",
        "description": "This operation updates an existing record for an entity (with option sets exposed as strings)",
        "operationId": "PatchItem_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Identifier for the record",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-summary": "Record identifier",
            "type": "string"
          },
          {
            "name": "item",
            "in": "body",
            "description": "Record to update",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPatchItem_V2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            },
            "x-ms-summary": "Record Item"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Item"
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetMetadataForPatchItem_V2",
                "parameters": {
                  "dataset": {
                    "parameter": "dataset"
                  },
                  "table": {
                    "parameter": "table"
                  }
                },
                "value-path": "Schema/Items"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#update-a-record-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables": {
      "get": {
        "tags": [
          "CrmTable"
        ],
        "summary": "Gets entities (deprecated)",
        "description": "This operation gets the list of entities",
        "operationId": "GetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#gets-entities-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables": {
      "get": {
        "tags": [
          "CrmTable"
        ],
        "summary": "Gets entities (deprecated)",
        "description": "This operation gets the list of entities",
        "operationId": "ODataStyleGetTables",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TablesList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#gets-entities-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/onnewitems": {
      "get": {
        "tags": [
          "CrmTableDataTrigger"
        ],
        "summary": "When a record is created (deprecated)",
        "description": "Triggers a flow when an object is created in Dynamics 365",
        "operationId": "GetOnNewItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new item in the Dynamics 365 entity you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-created-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/onnewitems": {
      "get": {
        "tags": [
          "CrmTableDataTriggerV2"
        ],
        "summary": "When a record is created (deprecated)",
        "description": "Triggers a flow when an object is created in Dynamics 365 (with option sets exposed as strings)",
        "operationId": "GetOnNewItems_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new item in the Dynamics 365 entity you selected.",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-created-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/onupdateditems": {
      "get": {
        "tags": [
          "CrmTableDataTrigger"
        ],
        "summary": "When a record is updated (deprecated)",
        "description": "Triggers a flow when an object is modified in Dynamics 365",
        "operationId": "GetOnUpdatedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, edit an item in the Dynamics 365 entity you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-updated-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/onupdateditems": {
      "get": {
        "tags": [
          "CrmTableDataTriggerV2"
        ],
        "summary": "When a record is created or updated (deprecated)",
        "description": "Triggers a flow when an object is created or modified in Dynamics 365 (with option sets exposed as strings)",
        "operationId": "GetOnUpdatedItems_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "advanced",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add or edit an item in the Dynamics 365 entity you selected.",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-created-or-updated-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/{dataset}/tables/{table}/ondeleteditems": {
      "get": {
        "tags": [
          "CrmTableDataTrigger"
        ],
        "summary": "When a record is deleted (deprecated)",
        "description": "Triggers a flow when an object is deleted in Dynamics 365",
        "operationId": "GetOnDeletedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, delete an item in the Dynamics 365 entity you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-deleted-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/datasets/{dataset}/tables/{table}/ondeleteditems": {
      "get": {
        "tags": [
          "CrmTableDataTriggerV2"
        ],
        "summary": "When a record is deleted (deprecated)",
        "description": "Triggers a flow when an object is deleted in Dynamics 365",
        "operationId": "GetOnDeletedItems_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetDataSets",
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "operationId": "GetTables",
              "parameters": {
                "dataset": {
                  "parameter": "dataset"
                }
              },
              "value-collection": "value",
              "value-path": "Name",
              "value-title": "DisplayName"
            },
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, delete an item in the Dynamics 365 entity you selected.",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-deleted-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/onnewitems": {
      "get": {
        "tags": [
          "CrmTableDataTrigger"
        ],
        "summary": "When a record is created (deprecated)",
        "description": "Triggers a flow when an object is created in Dynamics 365",
        "operationId": "ODataStyleGetOnNewItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new item in the Dynamics 365 entity you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-created-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/datasets({dataset})/tables({table})/onnewitems": {
      "get": {
        "tags": [
          "CrmTableDataTriggerV2"
        ],
        "summary": "When a record is created (deprecated)",
        "description": "Triggers a flow when an object is created in Dynamics 365 (with option sets exposed as strings)",
        "operationId": "ODataStyleGetOnNewItems_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a new item in the Dynamics 365 entity you selected.",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-created-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/onupdateditems": {
      "get": {
        "tags": [
          "CrmTableDataTrigger"
        ],
        "summary": "When a record is updated (deprecated)",
        "description": "Triggers a flow when an object is modified in Dynamics 365",
        "operationId": "ODataStyleGetOnUpdatedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, edit an item in the Dynamics 365 entity you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-updated-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/datasets({dataset})/tables({table})/onupdateditems": {
      "get": {
        "tags": [
          "CrmTableDataTriggerV2"
        ],
        "summary": "When a record is created or updated (deprecated)",
        "description": "Triggers a flow when an object is created or modified in Dynamics 365 (with option sets exposed as strings)",
        "operationId": "ODataStyleGetOnUpdatedItems_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add or edit an item in the Dynamics 365 entity you selected.",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-created-or-updated-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/ondeleteditems": {
      "get": {
        "tags": [
          "CrmTableDataTrigger"
        ],
        "summary": "When a record is deleted (deprecated)",
        "description": "Triggers a flow when an object is deleted in Dynamics 365",
        "operationId": "ODataStyleGetOnDeletedItems",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "internal",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "internal",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, delete an item in the Dynamics 365 entity you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-deleted-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/v2/datasets({dataset})/tables({table})/ondeleteditems": {
      "get": {
        "tags": [
          "CrmTableDataTriggerV2"
        ],
        "summary": "When a record is deleted (deprecated)",
        "description": "Triggers a flow when an object is deleted in Dynamics 365",
        "operationId": "ODataStyleGetOnDeletedItems_V2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).",
            "required": false,
            "x-ms-summary": "Filter Query",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "An ODATA orderBy query for specifying the order of entries.",
            "required": false,
            "x-ms-summary": "Order By",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Total number of entries to retrieve (default = all).",
            "required": false,
            "x-ms-summary": "Top Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of entries to skip (default = 0).",
            "required": false,
            "x-ms-summary": "Skip Count",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ItemsList"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#when-a-record-is-deleted-(deprecated)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets({dataset})/tables({table})/items({id})": {
      "get": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Get record (deprecated)",
        "description": "This operation retrieves the specified record for an entity",
        "operationId": "ODataStyleGetItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
            "description": "Name of Dynamics 365 organization like Contoso",
            "required": true,
            "x-ms-summary": "Organization Name",
            "type": "string"
          },
          {
            "name": "table",
            "in": "path",
            "description": "Name of the entity",
            "required": true,
            "x-ms-summary": "Entity Name",
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Item identifier",
            "required": true,
            "x-ms-summary": "Item identifier",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dynamicscrmonline/#get-record-(deprecated)-%5bdeprecated%5d"
        }
      },
      "delete": {
        "tags": [
          "CrmTableData"
        ],
        "summary": "Delete a record (deprecated)",
        "description": "This operation deletes a record from an entity collection",
        "operationId": "ODataStyleDeleteItem",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "dataset",
            "in": "path",
[...]
