{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Box",
    "description": "Box™ is a service that keeps your files safe, synced, and easy to share. Connect to Box to manage your files. You can perform various actions such as upload, update, get, and delete files in Box.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "Microsoft"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/box",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/$metadata.json/datasets": {
      "get": {
        "tags": [
          "BoxDataSetsMetadata"
        ],
        "operationId": "GetDataSetsMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetsMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/files/{id}": {
      "get": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Get file metadata using id",
        "description": "Retrieves the file metadata from Box using file id.",
        "operationId": "GetFileMetadata",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the file in Box.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File Id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#get-file-metadata-using-id"
        }
      },
      "put": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Update file",
        "description": "Updates an existing file in Box.",
        "operationId": "UpdateFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the file to update in Box.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File Id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the file to update in Box.",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#update-file"
        }
      },
      "delete": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Delete file",
        "description": "Deletes an existing file from Box.",
        "operationId": "DeleteFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the file to delete from Box.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File Id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#delete-file"
        }
      },
      "patch": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Append file",
        "description": "Append content to an existing file in Box.",
        "operationId": "AppendFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the file to append to in Box.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File Id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the file to append in Box.",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File Content"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#append-file"
        }
      }
    },
    "/{connectionId}/datasets/default/GetFileByPath": {
      "get": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Get file metadata using path",
        "description": "Retrieves the file metadata from Box using path.",
        "operationId": "GetFileMetadataByPath",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "The unique path to the file in Box.",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "File Path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#get-file-metadata-using-path"
        }
      }
    },
    "/{connectionId}/datasets/default/GetFileContentByPath": {
      "get": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Get file content using path",
        "description": "Retrieves the file contents from Box using path.",
        "operationId": "GetFileContentByPath",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "description": "The unique path to the file in Box.",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "File Path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "A boolean value (true, false) to infer content-type based on extension.",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#get-file-content-using-path"
        }
      }
    },
    "/{connectionId}/datasets/default/files/{id}/content": {
      "get": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Get file content using id",
        "description": "Retrieves the file content from Box using id.",
        "operationId": "GetFileContent",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the file in Box.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "File Id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "A boolean value (true, false) to infer content-type based on extension.",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#get-file-content-using-id"
        }
      }
    },
    "/{connectionId}/datasets/default/files": {
      "post": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Create file",
        "description": "Uploads a file to Box.",
        "operationId": "CreateFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "description": "The folder path to upload the file to Box.",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Folder Path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the file to create in Box.",
            "required": true,
            "x-ms-summary": "File Name",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the file to upload to Box.",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "x-ms-summary": "File Content"
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#create-file"
        }
      }
    },
    "/{connectionId}/datasets/default/files/{id}/rename": {
      "post": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "RenameFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "newName",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadataResponse"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/copyFile": {
      "post": {
        "tags": [
          "BoxFileData"
        ],
        "summary": "Copy file",
        "description": "Copy a file to a file path in Box.",
        "operationId": "CopyFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "The url to source file.",
            "required": true,
            "x-ms-summary": "Source Url",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "The destination file path in Box, including target filename.",
            "required": true,
            "x-ms-summary": "Destination File Path",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrites the destination file if set to 'true'.",
            "required": false,
            "x-ms-summary": "Overwrite",
            "type": "boolean",
            "default": false
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#copy-file"
        }
      }
    },
    "/{connectionId}/api/blob/files/{id}": {
      "get": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "GetFileMetadata_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "put": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "UpdateFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "delete": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "DeleteFile_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/GetFileByPath": {
      "get": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "GetFileMetadataByPath_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/GetFileContentByPath": {
      "get": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "GetFileContentByPath_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/files/{id}/content": {
      "get": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "GetFileContent_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/files": {
      "post": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "CreateFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/copyFile": {
      "post": {
        "tags": [
          "BoxFileData"
        ],
        "operationId": "CopyFile_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/triggers/batch/onnewfileV2": {
      "get": {
        "tags": [
          "BoxFileDataTrigger"
        ],
        "summary": "When a file is created (properties only) (V2)",
        "description": "This operation triggers a flow when a new file is created in a folder. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created. In case when 'Split On' option is turned off for Trigger-&gt;Settings successful trigger runs may produce empty array for 'List of Files' output.",
        "operationId": "OnNewFilesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "The unique identifier of the folder.",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxFileCount",
            "in": "query",
            "description": "Maximum number of files to return by single trigger run (1-100). Note that 'Split On' setting can force trigger to process each item individually.",
            "required": false,
            "x-ms-summary": "Number of files to return",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              },
              "x-ms-summary": "List of Files"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a file to the Box folder you selected.",
        "x-ms-api-annotation": {
          "family": "OnNewFiles",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#when-a-file-is-created-(properties-only)-(v2)"
        }
      }
    },
    "/{connectionId}/datasets/default/triggers/batch/onupdatedfileV2": {
      "get": {
        "tags": [
          "BoxFileDataTrigger"
        ],
        "summary": "When a file is modified (properties only) (V2)",
        "description": "This operation triggers a flow when a file is modified in a folder. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created. In case when 'Split On' option is turned off for Trigger-&gt;Settings successful trigger runs may produce empty array for 'List of Files' output.",
        "operationId": "OnUpdatedFilesV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Select a folder",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxFileCount",
            "in": "query",
            "description": "Maximum number of files to return by single trigger run (1-100). Note that 'Split On' setting can force trigger to process each item individually.",
            "required": false,
            "x-ms-summary": "Number of files to return",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              },
              "x-ms-summary": "List of Files"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, modify a file in the Box folder you selected.",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "OnUpdatedFiles",
          "revision": 2
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#when-a-file-is-modified-(properties-only)-(v2)"
        }
      }
    },
    "/{connectionId}/datasets/default/triggers/onnewfile": {
      "get": {
        "tags": [
          "BoxFileDataTrigger"
        ],
        "summary": "When a file is created",
        "description": "Triggers a flow when a new file is created in a Box folder. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created.",
        "operationId": "OnNewFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "The unique identifier of the folder in Box.",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder Id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "A boolean value (true, false) to infer content-type based on extension.",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            },
            "headers": {
              "x-ms-file-id": {
                "description": "File identifier",
                "type": "string"
              },
              "x-ms-file-name": {
                "description": "File name",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "x-ms-file-path": {
                "description": "File path",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "x-ms-file-name-encoded": {
                "description": "File name",
                "type": "string",
                "format": "byte"
              },
              "x-ms-file-path-encoded": {
                "description": "File path",
                "type": "string",
                "format": "byte"
              },
              "x-ms-file-etag": {
                "description": "File entity tag",
                "type": "string"
              },
              "Content-Type": {
                "description": "File content type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, add a file to the Box folder you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#when-a-file-is-created-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/triggers/onupdatedfile": {
      "get": {
        "tags": [
          "BoxFileDataTrigger"
        ],
        "summary": "When a file is modified",
        "description": "Triggers a flow when a file is modified in a Box folder. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created.",
        "operationId": "OnUpdatedFile",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "The unique identifier of the folder in Box.",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder Id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "includeFileContent",
            "in": "query",
            "description": "If set to true, file content will also be retrieved along with the trigger response.",
            "required": false,
            "x-ms-summary": "Include File Content",
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          },
          {
            "name": "inferContentType",
            "in": "query",
            "description": "A boolean value (true, false) to infer content-type based on extension.",
            "required": false,
            "x-ms-summary": "Infer Content Type",
            "x-ms-visibility": "advanced",
            "type": "boolean",
            "default": true
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "description": "The content of the file.",
              "type": "string",
              "x-ms-summary": "File Content"
            },
            "headers": {
              "x-ms-file-id": {
                "description": "File identifier",
                "type": "string"
              },
              "x-ms-file-name": {
                "description": "File name",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "x-ms-file-path": {
                "description": "File path",
                "type": "string",
                "x-ms-visibility": "internal"
              },
              "x-ms-file-name-encoded": {
                "description": "File name",
                "type": "string",
                "format": "byte"
              },
              "x-ms-file-path-encoded": {
                "description": "File path",
                "type": "string",
                "format": "byte"
              },
              "x-ms-file-etag": {
                "description": "File entity tag",
                "type": "string"
              },
              "Content-Type": {
                "description": "File content type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, modify a file in the Box folder you selected.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#when-a-file-is-modified-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/triggers/batch/onnewfile": {
      "get": {
        "tags": [
          "BoxFileDataTrigger"
        ],
        "summary": "When a file is created (properties only)",
        "description": "This operation triggers a flow when a new file is created in a folder. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created.",
        "operationId": "OnNewFiles",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "The unique identifier of the folder.",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxFileCount",
            "in": "query",
            "description": "Maximum number of files to return by single trigger run (1-100). Note that 'Split On' setting can force trigger to process each item individually.",
            "required": false,
            "x-ms-summary": "Number of files to return",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              },
              "x-ms-summary": "List of Files"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, add a file to the Box folder you selected.",
        "x-ms-api-annotation": {
          "family": "OnNewFiles",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#when-a-file-is-created-(properties-only)-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/datasets/default/triggers/batch/onupdatedfile": {
      "get": {
        "tags": [
          "BoxFileDataTrigger"
        ],
        "summary": "When a file is modified (properties only)",
        "description": "This operation triggers a flow when a file is modified in a folder. The trigger does not fire if a file is added/updated in a subfolder. If it is required to trigger on subfolders, multiple triggers should be created.",
        "operationId": "OnUpdatedFiles",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Select a folder",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "maxFileCount",
            "in": "query",
            "description": "Maximum number of files to return by single trigger run (1-100). Note that 'Split On' setting can force trigger to process each item individually.",
            "required": false,
            "x-ms-summary": "Number of files to return",
            "x-ms-visibility": "advanced",
            "type": "integer",
            "format": "int32",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              },
              "x-ms-summary": "List of Files"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, modify a file in the Box folder you selected.",
        "x-ms-api-annotation": {
          "family": "OnUpdatedFiles",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#when-a-file-is-modified-(properties-only)"
        }
      }
    },
    "/{connectionId}/api/trigger/onnewfile": {
      "get": {
        "tags": [
          "BoxFileDataTrigger"
        ],
        "operationId": "OnNewFile_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "headers": {
              "x-ms-file-id": {
                "description": "File identifier",
                "type": "string"
              },
              "x-ms-file-name": {
                "description": "File name",
                "type": "string"
              },
              "x-ms-file-path": {
                "description": "File path",
                "type": "string"
              },
              "x-ms-file-etag": {
                "description": "File entity tag",
                "type": "string"
              },
              "Content-Type": {
                "description": "File content type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "single"
      }
    },
    "/{connectionId}/api/trigger/onupdatedfile": {
      "get": {
        "tags": [
          "BoxFileDataTrigger"
        ],
        "operationId": "OnUpdatedFile_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderId",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "format": "binary",
              "type": "string"
            },
            "headers": {
              "x-ms-file-id": {
                "description": "File identifier",
                "type": "string"
              },
              "x-ms-file-name": {
                "description": "File name",
                "type": "string"
              },
              "x-ms-file-path": {
                "description": "File path",
                "type": "string"
              },
              "x-ms-file-etag": {
                "description": "File entity tag",
                "type": "string"
              },
              "Content-Type": {
                "description": "File content type",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "single"
      }
    },
    "/{connectionId}/datasets/default/folders/{id}": {
      "get": {
        "tags": [
          "BoxFolderData"
        ],
        "summary": "List files and folders in folder",
        "description": "Lists the files and folders in a Box folder.",
        "operationId": "ListFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the folder in Box.",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-summary": "Folder Id",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#list-files-and-folders-in-folder"
        }
      }
    },
    "/{connectionId}/datasets/default/foldersV2/{id}": {
      "get": {
        "tags": [
          "BoxFolderData"
        ],
        "operationId": "ListFolderV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Id"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Id",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "nextPageMarker",
            "in": "query",
            "required": false,
            "x-ms-summary": "Paging Marker",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": ""
          },
          {
            "name": "useFlatListing",
            "in": "query",
            "required": false,
            "x-ms-summary": "Flat Listing",
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadataPage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListFolder",
          "revision": 2
        }
      }
    },
    "/{connectionId}/datasets/default/folders": {
      "get": {
        "tags": [
          "BoxFolderData"
        ],
        "summary": "List files and folders in root folder",
        "description": "Lists the files and folders in the Box root folder.",
        "operationId": "ListRootFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ListRootFolder",
          "revision": 1
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#list-files-and-folders-in-root-folder"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "tags": [
          "BoxFolderData"
        ],
        "operationId": "CreateFolder",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadata"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/datasets/default/foldersV2": {
      "get": {
        "tags": [
          "BoxFolderData"
        ],
        "operationId": "ListRootFolderV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "nextPageMarker",
            "in": "query",
            "required": false,
            "x-ms-summary": "Paging Marker",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": ""
          },
          {
            "name": "useFlatListing",
            "in": "query",
            "required": false,
            "x-ms-summary": "Flat Listing",
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadataPage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListRootFolder",
          "revision": 2
        }
      }
    },
    "/{connectionId}/datasets/default/rootfolders": {
      "get": {
        "tags": [
          "BoxFolderData"
        ],
        "operationId": "ListAllRootFolders",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListAllRootFolders",
          "revision": 1
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/datasets/default/rootfoldersV2": {
      "get": {
        "tags": [
          "BoxFolderData"
        ],
        "operationId": "ListAllRootFoldersV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "nextPageMarker",
            "in": "query",
            "required": false,
            "x-ms-summary": "Paging Marker",
            "x-ms-visibility": "internal",
            "type": "string",
            "default": ""
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BlobMetadataPage"
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "ListAllRootFolders",
          "revision": 2
        }
      }
    },
    "/{connectionId}/datasets/default/extractFolderV2": {
      "post": {
        "tags": [
          "BoxFolderData"
        ],
        "summary": "Extract archive to folder",
        "description": "Extracts an archive file into a folder in Box (example: .zip).",
        "operationId": "ExtractFolderV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "description": "The path to the archive file.",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": false,
                "fileFilter": [
                  "application/zip",
                  "application/x-zip-compressed"
                ],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Source Archive File Path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": false,
                "canSelectLeafNodes": true
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/zip' or MediaType eq 'application/x-zip-compressed')"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "selectableFilter": "(MediaType eq 'application/zip' or MediaType eq 'application/x-zip-compressed')",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "description": "The path in Box to extract the archive contents.",
            "required": true,
            "x-ms-dynamic-values": {
              "capability": "file-picker",
              "parameters": {
                "isFolder": true,
                "fileFilter": [],
                "dataset": null
              },
              "value-path": "Path"
            },
            "x-ms-summary": "Destination Folder Path",
            "x-ms-dynamic-tree": {
              "settings": {
                "canSelectParentNodes": true,
                "canSelectLeafNodes": false
              },
              "open": {
                "operationId": "ListAllRootFolders",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)"
              },
              "browse": {
                "operationId": "ListFolder",
                "itemValuePath": "Path",
                "itemTitlePath": "DisplayName",
                "itemIsParent": "(IsFolder eq true)",
                "parameters": {
                  "id": {
                    "selectedItemValuePath": "Id"
                  }
                }
              }
            },
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrites the destination files if set to 'true'.",
            "required": false,
            "x-ms-summary": "Overwrite",
            "type": "boolean",
            "default": false
          },
          {
            "name": "queryParametersSingleEncoded",
            "in": "query",
            "required": false,
            "x-ms-visibility": "internal",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/box/#extract-archive-to-folder"
        }
      }
    },
    "/{connectionId}/api/blob/folders/{id}": {
      "get": {
        "tags": [
          "BoxFolderData"
        ],
        "operationId": "ListFolder_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/{connectionId}/api/blob/folders": {
      "get": {
        "tags": [
          "BoxFolderData"
        ],
        "operationId": "ListRootFolder_Old",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BlobMetadata"
              }
            }
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/blob/extractFolder": {
      "post": {
        "tags": [
          "BoxFolderData"
        ],
        "operationId": "ExtractFolder_Old",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "DataSetsMetadata": {
      "description": "Dataset metadata",
      "type": "object",
      "properties": {
        "tabular": {
          "$ref": "#/definitions/TabularDataSetsMetadata"
        },
        "blob": {
          "$ref": "#/definitions/BlobDataSetsMetadata"
        }
      }
    },
    "TabularDataSetsMetadata": {
      "description": "Tabular dataset metadata",
      "type": "object",
      "properties": {
        "source": {
          "description": "Dataset source",
          "type": "string"
        },
        "displayName": {
          "description": "Dataset display name",
          "type": "string"
        },
        "urlEncoding": {
          "description": "Dataset url encoding",
          "type": "string"
        },
        "tableDisplayName": {
          "description": "Table display name",
          "type": "string"
        },
        "tablePluralName": {
          "description": "Table plural display name",
          "type": "string"
        }
      }
    },
    "BlobDataSetsMetadata": {
      "description": "Blob dataset metadata",
      "type": "object",
      "properties": {
        "source": {
          "description": "Blob dataset source",
          "type": "string"
        },
        "displayName": {
          "description": "Blob dataset display name",
          "type": "string"
        },
        "urlEncoding": {
          "description": "Blob dataset url encoding",
          "type": "string"
        }
      }
    },
    "BlobMetadata": {
      "description": "Blob metadata",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique id of the file or folder.",
          "type": "string"
        },
        "Name": {
          "description": "The name of the file or folder.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the file or folder.",
          "type": "string"
        },
        "Path": {
          "description": "The path of the file or folder.",
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "description": "The date and time the file or folder was last modified.",
          "type": "string"
        },
        "Size": {
          "format": "int64",
          "description": "The size of the file or folder.",
          "type": "integer"
        },
        "MediaType": {
          "description": "The media type of the file or folder.",
          "type": "string"
        },
        "IsFolder": {
          "description": "A boolean value (true, false) to indicate whether or not the blob is a folder.",
          "type": "boolean"
        },
        "ETag": {
          "description": "The etag of the file or folder.",
          "type": "string"
        },
        "FileLocator": {
          "description": "The filelocator of the file or folder.",
          "type": "string"
        },
        "LastModifiedBy": {
          "description": "The user who last modified the file or folder.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Object": {
      "type": "object",
      "properties": {}
    },
    "BlobMetadataResponse": {
      "description": "Represents blob datasets metadata response",
      "type": "object",
      "properties": {
        "Id": {
          "description": "The unique id of the file or folder.",
          "type": "string"
        },
        "Name": {
          "description": "The name of the file or folder.",
          "type": "string"
        },
        "DisplayName": {
          "description": "The display name of the file or folder.",
          "type": "string"
        },
        "Path": {
          "description": "The path of the file or folder.",
          "type": "string"
        },
        "LastModified": {
          "format": "date-time",
          "description": "The date and time the file or folder was last modified.",
          "type": "string"
        },
        "Size": {
          "format": "int64",
          "description": "The size of the file or folder.",
          "type": "integer"
        },
        "MediaType": {
          "description": "The media type of the file or folder.",
          "type": "string"
        },
        "IsFolder": {
          "description": "A boolean value (true, false) to indicate whether or not the blob is a folder.",
          "type": "boolean"
        },
        "ETag": {
          "description": "The etag of the file or folder.",
          "type": "string"
        },
        "FileLocator": {
          "description": "The filelocator of the file or folder.",
          "type": "string"
        }
      }
    },
    "BlobMetadataPage": {
      "description": "Represents a page of blob metadata.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Blob metadata collection.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BlobMetadata"
          },
          "readOnly": true
        }
      }
    }
  },
  "x-ms-capabilities": {
    "file-picker": {
      "open": {
        "operationId": "ListAllRootFolders"
      },
      "browse": {
        "operationId": "ListFolder",
        "parameters": {
          "id": {
            "value-property": "Id"
          }
        }
      },
      "value-title": "DisplayName",
      "value-folder-property": "IsFolder",
      "value-media-property": "MediaType"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.box.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.box.com/legal/privacypolicy"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/box"
  }
}