{
  "swagger": "2.0",
  "info": {
    "title": "Data Activator Early Access",
    "description": "This connector is for use with Data Activator in Microsoft Fabric. You can use this connector to start a flow when a Data Activator trigger fires.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dataactivatorpreview",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/powerAutomateEvent": {},
    "/{connectionId}/powerAutomateFlow": {
      "x-ms-notification-content": {
        "description": "Data Activator Power Automate trigger event.",
        "schema": {
          "type": "object",
          "properties": {
            "signalTimestamp": {
              "type": "string",
              "description": "Time at which the Data Activator action's trigger condition became true",
              "x-ms-summary": "Trigger activation time"
            },
            "signalId": {
              "type": "string",
              "description": "Unique Id of the occurrence of this Data Activator action",
              "x-ms-summary": "Action Id"
            },
            "objectInstanceId": {
              "type": "string",
              "description": "Unique Id of the Data Activator object instance to which this action pertains",
              "x-ms-summary": "Object instance Id"
            },
            "triggerId": {
              "type": "string",
              "description": "Unique Id of the Data Activator trigger which fired to generate this action",
              "x-ms-summary": "Trigger Id"
            },
            "triggerVersion": {
              "type": "string",
              "description": "Version of the Data Activator trigger which fired to generate this action",
              "x-ms-summary": "Trigger version"
            },
            "triggerName": {
              "type": "string",
              "description": "Name of the Data Activator trigger which fired to generate this action",
              "x-ms-summary": "Trigger name"
            },
            "customProperties": {
              "description": "Custom properties",
              "x-ms-summary": "Custom properties"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ReflexWebhookDelete",
        "summary": "Data Activator webhook delete",
        "description": "This action deletes the webhook registration.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dataactivatorpreview/#data-activator-webhook-delete"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "summary": "When a Data Activator trigger fires",
        "operationId": "CreatePowerAutomateWorkflow",
        "x-ms-trigger": "single",
        "description": "This operation triggers when a specific Data Activator trigger fires.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Connection-String",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The connection string of the Power Automate action of the Data Activator trigger",
            "x-ms-summary": "Connection string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "Callback URL.",
                  "x-ms-summary": "Callback URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dataactivatorpreview/#when-a-data-activator-trigger-fires"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/dataactivatorpreview"
  }
}
