{
  "swagger": "2.0",
  "info": {
    "title": "Data Activator Early Access",
    "description": "This connector is for use with Data Activator in Microsoft Fabric. You can use this connector to start a flow when a Data Activator trigger fires.",
    "version": "1.0"
  },
  "x-ms-api-annotation": {
    "status": "Preview"
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/dataactivatorpreview",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/powerAutomateEvent": {},
    "/{connectionId}/powerAutomateFlow": {
      "x-ms-notification-content": {
        "description": "Data Activator Power Automate trigger event.",
        "schema": {
          "type": "object",
          "properties": {
            "eventTime": {
              "type": "string",
              "description": "Time (UTC) when the trigger condition was met.",
              "x-ms-summary": "Activation Time"
            },
            "eventId": {
              "type": "string",
              "description": "ID of the specific occasion the trigger was activated.",
              "x-ms-summary": "Activation ID"
            },
            "triggerId": {
              "type": "string",
              "description": "ID of the trigger that caused this activation.",
              "x-ms-summary": "Trigger ID"
            },
            "triggerName": {
              "type": "string",
              "description": "Name of the trigger that caused this activation.",
              "x-ms-summary": "Trigger Name"
            },
            "triggerUrl": {
              "type": "string",
              "description": "URL to the trigger that caused this activation.",
              "x-ms-summary": "Trigger URL"
            },
            "objectInstanceId": {
              "type": "string",
              "description": "ID of the instance of the object that met the trigger condition.",
              "x-ms-summary": "Object Instance ID"
            },
            "objectName": {
              "type": "string",
              "description": "Name of the type of object that this trigger monitors.",
              "x-ms-summary": "Object Name"
            },
            "inputFields": {
              "description": "Values of the trigger's input fields when the trigger was activated.",
              "x-ms-summary": "Input Fields"
            }
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ReflexWebhookDelete",
        "summary": "Data Activator webhook delete",
        "description": "This action deletes the webhook registration.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dataactivatorpreview/#data-activator-webhook-delete"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created."
          }
        },
        "summary": "When a Data Activator trigger fires",
        "operationId": "CreatePowerAutomateWorkflow",
        "x-ms-trigger": "single",
        "description": "This operation triggers when a specific Data Activator trigger fires.",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Connection-String",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The connection string of the Power Automate action of the Data Activator trigger",
            "x-ms-summary": "Connection string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "Callback URL.",
                  "x-ms-summary": "Callback URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/dataactivatorpreview/#when-a-data-activator-trigger-fires"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/dataactivatorpreview"
  }
}
