{
  "swagger": "2.0",
  "info": {
    "version": "3.0",
    "title": "CyberProof",
    "description": "CDC is a next generation incident management and response platform offered by CyberProof, for building Security Operations Centers (SOCs). The platform is a key component of advanced security operations centers - supporting SOC management, orchestration, and incident response. The Connector interacts with CDC, offering a wide range of incident response automation activities including Alert and Incident creation, parsing and manipulation, as well as observable enrichment.",
    "contact": {
      "name": "CyberProof Support",
      "url": "https://go.cyberproof.com/contact-us",
      "email": "it.support@cyberproof.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/cyberproof",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "description": "CP API Key Authentication",
      "in": "header",
      "name": "St2-Api-Key"
    }
  },
  "paths": {
    "/{connectionId}/api/v1/alert/classifications": {
      "get": {
        "description": "CyberProof Classifications List.",
        "summary": "CyberProof Classifications List",
        "operationId": "CPGetClassifications",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "responses": {
          "200": {
            "description": "List of classifications",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-classifications-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/v1/custom-fields/alert-extended-properties/input/schema": {
      "get": {
        "description": "CyberProof input schema for alert extended properties.",
        "summary": "CyberProof input schema for alert extended properties",
        "operationId": "CPGetAlertCustomFieldInputSchema",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "classification",
            "type": "string",
            "in": "query",
            "description": "CDC classification.",
            "required": true,
            "x-ms-summary": "CDC classification"
          }
        ],
        "responses": {
          "200": {
            "description": "Input schema",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-input-schema-for-alert-extended-properties"
        }
      }
    },
    "/{connectionId}/api/v1/custom-fields/incident-summary/input/schema": {
      "get": {
        "description": "CyberProof input schema for incident summary.",
        "summary": "CyberProof input schema for for incident summary",
        "operationId": "CPGetIncidentSummaryInputSchema",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "responses": {
          "200": {
            "description": "Input schema",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-input-schema-for-for-incident-summary"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/v1/custom-fields/alert-extended-properties/schema": {
      "get": {
        "description": "CyberProof alert extended properties schema.",
        "summary": "CyberProof alert extended properties schema",
        "operationId": "CPGetAlertCustomFieldSchema",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "classification",
            "type": "string",
            "in": "query",
            "description": "CDC classification",
            "required": true,
            "x-ms-summary": "CDC classification"
          }
        ],
        "responses": {
          "200": {
            "description": "Schema of extended properties for selected classification",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-alert-extended-properties-schema"
        }
      }
    },
    "/{connectionId}/api/v1/custom-fields/incident-summary/schema": {
      "get": {
        "description": "CyberProof incident summary schema.",
        "summary": "CyberProof incident summary schema",
        "operationId": "CPGetIncidentSummarySchema",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "responses": {
          "200": {
            "description": "Schema of incident summary",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-incident-summary-schema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/v1/custom-fields/alert-extended-properties/output/schema": {
      "get": {
        "description": "CyberProof alert extended properties output schema.",
        "summary": "CyberProof alert extended properties output schema",
        "operationId": "CPAlertCustomFieldsOutputSchema",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "classification",
            "type": "string",
            "in": "query",
            "description": "CDC classification",
            "required": true,
            "x-ms-summary": "CDC classification"
          }
        ],
        "responses": {
          "200": {
            "description": "output schema of extended properties for selected classification",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-alert-extended-properties-output-schema"
        }
      }
    },
    "/{connectionId}/api/v1/custom-fields/incident-summary/output/schema": {
      "get": {
        "description": "CyberProof incident summary output schema.",
        "summary": "CyberProof incident summary output schema",
        "operationId": "CPIncidentSummaryOutputSchema",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "responses": {
          "200": {
            "description": "output schema of incident summary",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-incident-summary-output-schema"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/v1/actions/azure-logic-apps": {
      "get": {
        "description": "CyberProof Actions List.",
        "summary": "CyberProof Actions List",
        "operationId": "CPGetActions",
        "responses": {
          "200": {
            "description": "List of actions",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-actions-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/v1/actions/azure-logic-apps/views/parameters/{action_ref}": {
      "get": {
        "description": "Gets the schema of the selected action",
        "summary": "CyberProof Action Parameters",
        "operationId": "CPGetActionSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "action_ref",
            "type": "string",
            "in": "path",
            "description": "Action schema for action you selected.",
            "required": true,
            "x-ms-summary": "execution items"
          }
        ],
        "responses": {
          "200": {
            "description": "An object containing action parameters",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-action-parameters"
        }
      }
    },
    "/{connectionId}/api/v1/actions/azure-logic-apps/views/output/{action_ref}": {
      "get": {
        "description": "Gets the output schema of the selected action.",
        "summary": "CyberProof Action Output",
        "operationId": "CPGetActionOutputSchema",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "action_ref",
            "type": "string",
            "in": "path",
            "description": "Action output schema for action selected.",
            "required": true,
            "x-ms-summary": "action output schema"
          }
        ],
        "responses": {
          "200": {
            "description": "An object containing action output schema",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-action-output"
        }
      }
    },
    "/{connectionId}/api/v1/executions/async": {
      "post": {
        "description": "CyberProof Action.",
        "summary": "CyberProof Action",
        "operationId": "CPCreateExecution",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "actionReq",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "action",
                "parameters"
              ],
              "properties": {
                "action": {
                  "type": "string",
                  "description": "select action",
                  "x-ms-url-encoding": "single",
                  "x-ms-summary": "Select Action",
                  "x-ms-dynamic-values": {
                    "operationId": "CPGetActions",
                    "value-path": "ref",
                    "value-title": "path"
                  }
                },
                "parameters": {
                  "description": "parameters description",
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "CPGetActionSchema",
                    "parameters": {
                      "action_ref": {
                        "parameter": "action"
                      }
                    },
                    "value-path": "items"
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "CPGetActionSchema",
                    "parameters": {
                      "action_ref": {
                        "parameterReference": "actionReq/action"
                      }
                    },
                    "itemValuePath": "items"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution result",
            "schema": {
              "description": "output description",
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "CPGetActionOutputSchema",
                "parameters": {
                  "action_ref": {
                    "parameter": "action"
                  }
                },
                "value-path": "output"
              },
              "x-ms-dynamic-properties": {
                "operationId": "CPGetActionOutputSchema",
                "parameters": {
                  "action_ref": {
                    "parameterReference": "actionReq/action"
                  }
                },
                "itemValuePath": "output"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-action"
        }
      }
    },
    "/{connectionId}/api/v1/executions/async/{execution_id}": {
      "get": {
        "description": "CyberProof Action Status.",
        "summary": "CyberProof Action Status",
        "operationId": "CPGetExecution",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "execution_id",
            "type": "string",
            "in": "path",
            "description": "ST execution id.",
            "required": true,
            "x-ms-summary": "Execution id"
          }
        ],
        "responses": {
          "200": {
            "description": "Execution requested",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-action-status"
        }
      }
    },
    "/{connectionId}/api/v1/webhooks/azure-logic-apps": {
      "get": {
        "description": "CyberProof Triggers List.",
        "summary": "CyberProof Triggers List",
        "operationId": "CPGetTriggers",
        "responses": {
          "200": {
            "description": "List of triggers",
            "schema": {}
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-triggers-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/v1/webhooks/deregister/{action_name}/{id}": {
      "delete": {
        "description": "CyberProof Delete Trigger.",
        "summary": "CyberProof Delete Trigger",
        "operationId": "CPDeleteTrigger",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "action_name",
            "type": "string",
            "in": "path",
            "description": "action name.",
            "required": true,
            "x-ms-summary": "action name"
          },
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "description": "webhook id.",
            "required": true,
            "x-ms-summary": "webhook id"
          }
        ],
        "responses": {
          "200": {
            "description": "Trigger deregistration requested",
            "schema": {}
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-delete-trigger"
        }
      }
    },
    "/{connectionId}/api/v1/webhooks": {
      "x-ms-notification-content": {
        "description": "Webhook notification content",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "CPGetActionOutputSchema",
            "parameters": {
              "action_ref": {
                "parameter": "action"
              }
            },
            "value-path": "output"
          },
          "x-ms-dynamic-properties": {
            "operationId": "CPGetActionOutputSchema",
            "parameters": {
              "action_ref": {
                "parameterReference": "actionReq/action"
              }
            },
            "itemValuePath": "output"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "CyberProof Webhook Trigger",
        "summary": "CyberProof Webhook Trigger",
        "operationId": "CPTrigger",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "actionReq",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "action",
                "parameters",
                "url"
              ],
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The callback URL.",
                  "x-ms-url-encoding": "single",
                  "x-ms-summary": "Url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "Url"
                },
                "action": {
                  "type": "string",
                  "description": "select trigger",
                  "x-ms-url-encoding": "single",
                  "x-ms-summary": "Select Trigger",
                  "x-ms-dynamic-values": {
                    "operationId": "CPGetTriggers",
                    "value-path": "ref",
                    "value-title": "path"
                  }
                },
                "parameters": {
                  "description": "parameters description",
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "CPGetActionSchema",
                    "parameters": {
                      "action_ref": {
                        "parameter": "action"
                      }
                    },
                    "value-path": "items"
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "CPGetActionSchema",
                    "parameters": {
                      "action_ref": {
                        "parameterReference": "actionReq/action"
                      }
                    },
                    "itemValuePath": "items"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook trigger registered successfully",
            "schema": {}
          }
        },
        "x-ms-trigger": "single",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-webhook-trigger"
        }
      }
    },
    "/{connectionId}/api/v1/webhooks/user/actions/azure-logic-apps": {
      "get": {
        "description": "CyberProof Webhooks User Actions List.",
        "summary": "CyberProof Webhooks User Actions List",
        "operationId": "CPGetWebhooksActions",
        "responses": {
          "200": {
            "description": "List of Webhooks Actions",
            "schema": {}
          }
        },
        "x-ms-visibility": "internal",
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-webhooks-user-actions-list"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/{connectionId}/api/v1/webhooks/user-action": {
      "x-ms-notification-content": {
        "description": "Webhook user action content",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "CPGetActionOutputSchema",
            "parameters": {
              "action_ref": {
                "parameter": "action"
              }
            },
            "value-path": "output"
          },
          "x-ms-dynamic-properties": {
            "operationId": "CPGetActionOutputSchema",
            "parameters": {
              "action_ref": {
                "parameterReference": "actionReq/action"
              }
            },
            "itemValuePath": "output"
          }
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      },
      "post": {
        "description": "CyberProof User Action.",
        "summary": "CyberProof User Action",
        "operationId": "CPCreateWebhookExecution",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "actionReq",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "action",
                "parameters",
                "url"
              ],
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The callback URL.",
                  "x-ms-url-encoding": "single",
                  "x-ms-summary": "Url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": "Url"
                },
                "action": {
                  "type": "string",
                  "description": "select action",
                  "x-ms-url-encoding": "single",
                  "x-ms-summary": "Select Action",
                  "x-ms-dynamic-values": {
                    "operationId": "CPGetWebhooksActions",
                    "value-path": "ref",
                    "value-title": "path"
                  }
                },
                "parameters": {
                  "description": "parameters description",
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "CPGetActionSchema",
                    "parameters": {
                      "action_ref": {
                        "parameter": "action"
                      }
                    },
                    "value-path": "items"
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "CPGetActionSchema",
                    "parameters": {
                      "action_ref": {
                        "parameterReference": "actionReq/action"
                      }
                    },
                    "itemValuePath": "items"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Webhook user action was triggered successfully",
            "schema": {}
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-user-action"
        }
      }
    },
    "/{connectionId}/api/v1/custom-fields/alert-extended-properties/set": {
      "post": {
        "description": "CyberProof Set extended properties to Alert",
        "summary": "CyberProof Set extended properties to Alert",
        "operationId": "CPSetAlertCustomField",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "actionCustomReq",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "alert_id",
                "classifications",
                "parameters"
              ],
              "properties": {
                "alert_id": {
                  "title": "Alert Id",
                  "type": "string",
                  "description": "Alert Id"
                },
                "classifications": {
                  "type": "string",
                  "description": "select classification",
                  "x-ms-url-encoding": "single",
                  "x-ms-summary": "Select Classification",
                  "x-ms-dynamic-values": {
                    "operationId": "CPGetClassifications",
                    "value-collection": "items",
                    "value-path": "name",
                    "value-title": "name"
                  }
                },
                "parameters": {
                  "type": "object",
                  "description": "select field",
                  "x-ms-summary": "Select field",
                  "x-ms-dynamic-schema": {
                    "operationId": "CPGetAlertCustomFieldInputSchema",
                    "parameters": {
                      "classification": {
                        "parameter": "classifications"
                      }
                    },
                    "value-path": "items"
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "CPGetAlertCustomFieldInputSchema",
                    "parameters": {
                      "classification": {
                        "parameterReference": "actionCustomReq/classifications"
                      }
                    },
                    "itemValuePath": "items"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution result"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-set-extended-properties-to-alert"
        }
      }
    },
    "/{connectionId}/api/v1/custom-fields/alert-extended-properties/get": {
      "post": {
        "description": "CyberProof Get extended properties of Alert",
        "summary": "CyberProof Get extended properties of Alert",
        "operationId": "CPGetAlertCustomField",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "actionCustomReq",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "alert_id",
                "classifications",
                "parameters"
              ],
              "properties": {
                "alert_id": {
                  "title": "Alert Id",
                  "type": "string",
                  "description": "Alert Id"
                },
                "classifications": {
                  "type": "string",
                  "description": "select classification",
                  "x-ms-url-encoding": "single",
                  "x-ms-summary": "Select Classification",
                  "x-ms-dynamic-values": {
                    "operationId": "CPGetClassifications",
                    "value-collection": "items",
                    "value-path": "name",
                    "value-title": "name"
                  }
                },
                "parameters": {
                  "type": "object",
                  "description": "select field",
                  "x-ms-summary": "Select field",
                  "x-ms-dynamic-schema": {
                    "operationId": "CPGetAlertCustomFieldSchema",
                    "parameters": {
                      "classification": {
                        "parameter": "classifications"
                      }
                    },
                    "value-path": "items"
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "CPGetAlertCustomFieldSchema",
                    "parameters": {
                      "classification": {
                        "parameterReference": "actionCustomReq/classifications"
                      }
                    },
                    "itemValuePath": "items"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution result",
            "schema": {
              "description": "output description",
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "CPAlertCustomFieldsOutputSchema",
                "parameters": {
                  "classification": {
                    "parameter": "classifications"
                  }
                },
                "value-path": "output"
              },
              "x-ms-dynamic-properties": {
                "operationId": "CPAlertCustomFieldsOutputSchema",
                "parameters": {
                  "classification": {
                    "parameterReference": "actionCustomReq/classifications"
                  }
                },
                "itemValuePath": "output"
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-get-extended-properties-of-alert"
        }
      }
    },
    "/{connectionId}/api/v1/custom-fields/incident-summary/get": {
      "post": {
        "description": "CyberProof Get Incident Summary",
        "summary": "CyberProof Get Incident Summary",
        "operationId": "CPGetIncidentSummary",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "actionCustomReq",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "incident_id",
                "parameters"
              ],
              "properties": {
                "incident_id": {
                  "title": "Incident Id",
                  "type": "string",
                  "description": "Incident Id"
                },
                "parameters": {
                  "type": "object",
                  "description": "select incident summary",
                  "x-ms-summary": "Select incident summary",
                  "x-ms-dynamic-schema": {
                    "operationId": "CPGetIncidentSummarySchema",
                    "value-path": "items",
                    "parameters": {}
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "CPGetIncidentSummarySchema",
                    "itemValuePath": "items",
                    "parameters": {}
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution result",
            "schema": {
              "description": "output description",
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "CPIncidentSummaryOutputSchema",
                "value-path": "output",
                "parameters": {}
              },
              "x-ms-dynamic-properties": {
                "operationId": "CPIncidentSummaryOutputSchema",
                "itemValuePath": "output",
                "parameters": {}
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-get-incident-summary"
        }
      }
    },
    "/{connectionId}/api/v1/custom-fields/incident-summary/set": {
      "post": {
        "description": "CyberProof Set Incident Summary",
        "summary": "CyberProof Set Incident Summary",
        "operationId": "CPSetIncidentSummary",
        "x-ms-api-annotation": {
          "status": "Preview"
        },
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "in": "body",
            "name": "actionCustomReq",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "incident_id",
                "parameters"
              ],
              "properties": {
                "incident_id": {
                  "title": "Incident Id",
                  "type": "string",
                  "description": "Incident Id"
                },
                "parameters": {
                  "type": "object",
                  "description": "select value",
                  "x-ms-summary": "Select value",
                  "x-ms-dynamic-schema": {
                    "operationId": "CPGetIncidentSummaryInputSchema",
                    "value-path": "items",
                    "parameters": {}
                  },
                  "x-ms-dynamic-properties": {
                    "operationId": "CPGetIncidentSummaryInputSchema",
                    "itemValuePath": "items",
                    "parameters": {}
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution result"
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/cyberproof/#cyberproof-set-incident-summary"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cyberproof.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ust.com/en/legal-notice/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/cyberproof"
  }
}
