{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "MobilyWS",
    "description": "Mobily.ws enables Apps to send global SMS",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/mobilyws",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/msgSend.php": {
      "post": {
        "summary": "SendSMS",
        "description": "Send SMS to mobile",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Api key that is generated when log in to Mobily.ws",
            "required": true,
            "x-ms-summary": "apiKey",
            "type": "string"
          },
          {
            "name": "numbers",
            "in": "query",
            "description": "Mobile number(s) that you want to send SMS to them, Note: add (,) between mobile numbers",
            "required": true,
            "x-ms-summary": "numbers",
            "type": "string"
          },
          {
            "name": "sender",
            "in": "query",
            "description": "Sender name that will appear at the mobile numbers",
            "required": true,
            "x-ms-summary": "sender name",
            "type": "string"
          },
          {
            "name": "msg",
            "in": "query",
            "description": "Message text that will be sent",
            "required": true,
            "x-ms-summary": "Message text",
            "type": "string"
          },
          {
            "name": "applicationType",
            "in": "query",
            "description": "applicationType Parameters, and the value for it 24 by default",
            "required": true,
            "x-ms-summary": "applicationType",
            "type": "string",
            "default": "24"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "lang Parameters and the defult value is 3",
            "required": true,
            "x-ms-summary": "lang",
            "type": "string",
            "default": "3"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Content-Type Parameters",
            "required": true,
            "x-ms-summary": "Content-Type",
            "type": "string",
            "default": "application/x-www-form-urlencoded"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/mobilyws/#sendsms"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "apiKey",
      "in": "header"
    }
  },
  "security": [],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/mobilyws"
  }
}
