on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  schedule:
    - cron: '48 6 * * *'
      # Trigger every day at 06:48
permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: pwsh

concurrency:
  group: ${{ github.workflow }}

jobs:
  workflow_id:
    name: Determine current workflow id
    runs-on: ubuntu-latest
    steps:
      - name: Chekout ${{ github.repository }}@${{ github.ref }}
        uses: actions/checkout@v2
      - id: determineWorkflow
        name: Get current workflow id
        uses: actions/github-script@v4
        with:
          script: |
            const script = require('./scripts/determineWorkflow')
            await script({github, context, core})
    outputs:
      workflow_id: ${{ steps.determineWorkflow.outputs.workflow_id }}
      branch_name: ${{ format('workflows/w{0}', steps.determineWorkflow.outputs.workflow_id) }}
  odata_3:
    name: SharePoint Online OData v3
    runs-on: ubuntu-latest
    needs: [workflow_id]
    steps:
      - name: Chekout ${{ github.repository }}@${{ github.ref }}
        uses: actions/checkout@v2
      - id: checkoutPrBranch
        name: Swich to new branch for possible PR
        uses: actions/github-script@v4
        with:
          script: |
            const script = require('./scripts/checkout-pr-branch')
            await script({github, context, core, exec}, '${{ needs.workflow_id.outputs.branch_name }}/${{ github.job }}')
      - id: challenge
        name: Invoke OAuth2 challenge
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
        run: './scripts/sharepoint-online-bearer-challenge.ps1'
      - id: getMetadata
        name: Get Authorization Instance Metadata
        shell: pwsh
        env:
          SHAREPOINT_AUTH_INSTANCE: ${{ steps.challenge.outputs.auth_instance }}
          SHAREPOINT_REALM: ${{ steps.challenge.outputs.realm }}
        run: './scripts/sharepoint-online-auth-metadata.ps1'
      - id: tokenIssuance
        name: Get SharePoint Access Token
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
          SHAREPOINT_ONLINE_CLIENTID: ${{ secrets.SHAREPOINT_ONLINE_CLIENTID }}
          SHAREPOINT_ONLINE_CLIENTSECRET: ${{ secrets.SHAREPOINT_ONLINE_CLIENTSECRET }}
          SHAREPOINT_ONLINE_REALM: ${{ steps.challenge.outputs.realm }}
          SHAREPOINT_ONLINE_RESOURCEID: ${{ steps.challenge.outputs.resource_id }}
          SHAREPOINT_ONLINE_TOKENENDPOINT: ${{ steps.getMetadata.outputs.token_endpoint }}
        run: |
          [void](./scripts/sharepoint-online-access-token.ps1)
      - name: Download CSDL in XML Format
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
          SHAREPOINT_ONLINE_ACCESSTOKEN: ${{ steps.tokenIssuance.outputs.access_token }}
        run: |
          ./scripts/sharepoint-online-download-csdl-xml.ps1 `
            -OutFile ./sharepoint-odata-v3_0.csdl.xml -ODataVersion "3.0" `
            -EdmNamespace  "http://schemas.microsoft.com/ado/2009/11/edm" `
            -EdmxNamespace "http://schemas.microsoft.com/ado/2007/06/edmx"
  odata_4:
    name: SharePoint Online OData v4
    runs-on: ubuntu-latest
    needs: [workflow_id]
    steps:
      - name: Chekout ${{ github.repository }}@${{ github.ref }}
        uses: actions/checkout@v2
      - id: checkoutPrBranch
        name: Swich to new branch for possible PR
        uses: actions/github-script@v4
        with:
          script: |
            const script = require('./scripts/checkout-pr-branch')
            await script({github, context, core, exec}, '${{ needs.workflow_id.outputs.branch_name }}/${{ github.job }}')
      - id: challenge
        name: Invoke OAuth2 challenge
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
        run: './scripts/sharepoint-online-bearer-challenge.ps1'
      - id: getMetadata
        name: Get Authorization Instance Metadata
        shell: pwsh
        env:
          SHAREPOINT_AUTH_INSTANCE: ${{ steps.challenge.outputs.auth_instance }}
          SHAREPOINT_REALM: ${{ steps.challenge.outputs.realm }}
        run: './scripts/sharepoint-online-auth-metadata.ps1'
      - id: tokenIssuance
        name: Get SharePoint Access Token
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
          SHAREPOINT_ONLINE_CLIENTID: ${{ secrets.SHAREPOINT_ONLINE_CLIENTID }}
          SHAREPOINT_ONLINE_CLIENTSECRET: ${{ secrets.SHAREPOINT_ONLINE_CLIENTSECRET }}
          SHAREPOINT_ONLINE_REALM: ${{ steps.challenge.outputs.realm }}
          SHAREPOINT_ONLINE_RESOURCEID: ${{ steps.challenge.outputs.resource_id }}
          SHAREPOINT_ONLINE_TOKENENDPOINT: ${{ steps.getMetadata.outputs.token_endpoint }}
        run: |
          [void](./scripts/sharepoint-online-access-token.ps1)
      - name: Download CSDL in XML Format
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
          SHAREPOINT_ONLINE_ACCESSTOKEN: ${{ steps.tokenIssuance.outputs.access_token }}
        run: |
          ./scripts/sharepoint-online-download-csdl-xml.ps1 `
            -OutFile ./sharepoint-odata-v4_0.csdl.xml -ODataVersion "4.0" `
            -EdmNamespace  "http://docs.oasis-open.org/odata/ns/edm" `
            -EdmxNamespace "http://docs.oasis-open.org/odata/ns/edmx"
