on:
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/sharepoint-online.yml
      - scripts/**/sharepoint-online*
  schedule:
    - cron: '48 6 * * *'
      # Trigger every day at 06:48
permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: pwsh

jobs:
  odata_3:
    name: SharePoint Online OData v3
    runs-on: ubuntu-latest
    steps:
      - name: Chekout ${{ github.repository }}@${{ github.ref }}
        uses: actions/checkout@v2
      - id: challenge
        name: Invoke OAuth2 Bearer challenge
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
        run: './scripts/sharepoint-online-bearer-challenge.ps1'
      - id: getMetadata
        name: Get Authorization Instance Metadata
        shell: pwsh
        env:
          SHAREPOINT_AUTH_INSTANCE: ${{ steps.challenge.outputs.auth_instance }}
          SHAREPOINT_REALM: ${{ steps.challenge.outputs.realm }}
        run: './scripts/sharepoint-online-auth-metadata.ps1'
      - id: tokenIssuance
        name: Get SharePoint Access Token
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
          SHAREPOINT_ONLINE_CLIENTID: ${{ secrets.SHAREPOINT_ONLINE_CLIENTID }}
          SHAREPOINT_ONLINE_CLIENTSECRET: ${{ secrets.SHAREPOINT_ONLINE_CLIENTSECRET }}
          SHAREPOINT_ONLINE_REALM: ${{ steps.challenge.outputs.realm }}
          SHAREPOINT_ONLINE_RESOURCEID: ${{ steps.challenge.outputs.resource_id }}
          SHAREPOINT_ONLINE_TOKENENDPOINT: ${{ steps.getMetadata.outputs.token_endpoint }}
        run: |
          [void](./scripts/sharepoint-online-access-token.ps1)
      - name: Download CSDL in XML Format
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
          SHAREPOINT_ONLINE_ACCESSTOKEN: ${{ steps.tokenIssuance.outputs.access_token }}
        run: |
          ./scripts/sharepoint-online-download-csdl-xml.ps1 `
            -OutFile ./sharepoint-odata-v3_0.csdl.xml -ODataVersion "3.0" `
            -EdmNamespace  "http://schemas.microsoft.com/ado/2009/11/edm" `
            -EdmxNamespace "http://schemas.microsoft.com/ado/2007/06/edmx"
  odata_4:
    name: SharePoint Online OData v4
    runs-on: ubuntu-latest
    steps:
      - name: Chekout ${{ github.repository }}@${{ github.ref }}
        uses: actions/checkout@v2
      - id: challenge
        name: Invoke OAuth2 Bearer challenge
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
        run: './scripts/sharepoint-online-bearer-challenge.ps1'
      - id: getMetadata
        name: Get Authorization Instance Metadata
        shell: pwsh
        env:
          SHAREPOINT_AUTH_INSTANCE: ${{ steps.challenge.outputs.auth_instance }}
          SHAREPOINT_REALM: ${{ steps.challenge.outputs.realm }}
        run: './scripts/sharepoint-online-auth-metadata.ps1'
      - id: tokenIssuance
        name: Get SharePoint Access Token
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
          SHAREPOINT_ONLINE_CLIENTID: ${{ secrets.SHAREPOINT_ONLINE_CLIENTID }}
          SHAREPOINT_ONLINE_CLIENTSECRET: ${{ secrets.SHAREPOINT_ONLINE_CLIENTSECRET }}
          SHAREPOINT_ONLINE_REALM: ${{ steps.challenge.outputs.realm }}
          SHAREPOINT_ONLINE_RESOURCEID: ${{ steps.challenge.outputs.resource_id }}
          SHAREPOINT_ONLINE_TOKENENDPOINT: ${{ steps.getMetadata.outputs.token_endpoint }}
        run: |
          [void](./scripts/sharepoint-online-access-token.ps1)
      - name: Download CSDL in XML Format
        shell: pwsh
        env:
          SHAREPOINT_ONLINE_WEBURL: ${{ secrets.SHAREPOINT_ONLINE_WEBURL }}
          SHAREPOINT_ONLINE_ACCESSTOKEN: ${{ steps.tokenIssuance.outputs.access_token }}
        run: |
          ./scripts/sharepoint-online-download-csdl-xml.ps1 `
            -OutFile ./sharepoint-odata-v4_0.csdl.xml -ODataVersion "4.0" `
            -EdmNamespace  "http://docs.oasis-open.org/odata/ns/edm" `
            -EdmxNamespace "http://docs.oasis-open.org/odata/ns/edmx"