on:
  workflow_dispatch: {}
  push:
    branches:
      - main
  schedule:
    - cron: '48 6 * * *'
      # Trigger every day at 06:48
permissions:
  contents: write
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}

jobs:
  odata_csdl:
    name: Download SharePoint OData CSDL
    runs-on: ubuntu-latest
    steps:
      - name: Chekout ${{ github.repository }}@${{ github.ref }}
        uses: actions/checkout@v3
        with:
          fetch-depth: 180
      - name: Git configure comitter identity
        uses: thnetii/.github/actions/git-user-config@main
      - id: checkout-pr-branch
        name: Swich to new branch for possible PR
        uses: thnetii/.github/actions/create-rebase-pr-branch@main
        with:
          branch-name: csdl-fetcher/sharepoint
      - uses: actions/setup-node@v3
      - id: npm-clean-install-actions
        name: Install NPM package dependencies for Github actions
        uses: thnetii/.github/actions/gh-actions-npm@main
        with:
          working-directory: .github/actions
          arguments: |
            clean-install
            --workspace=spo-odata-csdl-download
            --workspace=spo-onedrive-csdl-download
            --omit=dev
      - id: download-csdl-odata-v4_0
        name: Download SharePoint CSDL in XML Format
        uses: ./.github/actions/spo-odata-csdl-download
        with:
          client-id: ${{ secrets.SHAREPOINT_CLIENTID }}
          client-secret: ${{ secrets.SHAREPOINT_CLIENTSECRET }}
          sharepoint-web-url: ${{ secrets.SHAREPOINT_WEBURL }}
          file-path: sharepoint-odata-v4_0.csdl.xml
      - id: download-csdl-onedrive-v2_0-v4_01
        name: Download OneDrive v2.0 CSDL in XML Format
        uses: ./.github/actions/spo-onedrive-csdl-download
        with:
          client-id: ${{ secrets.SHAREPOINT_CLIENTID }}
          client-secret: ${{ secrets.SHAREPOINT_CLIENTSECRET }}
          sharepoint-web-url: ${{ secrets.SHAREPOINT_WEBURL }}
          file-path: sharepoint-v2.0-odata-v4_01.csdl.xml
          api-version: v2.0
      - id: download-csdl-onedrive-v2_1-v4_01
        name: Download OneDrive v2.1 CSDL in XML Format
        uses: ./.github/actions/spo-onedrive-csdl-download
        with:
          client-id: ${{ secrets.SHAREPOINT_CLIENTID }}
          client-secret: ${{ secrets.SHAREPOINT_CLIENTSECRET }}
          sharepoint-web-url: ${{ secrets.SHAREPOINT_WEBURL }}
          file-path: sharepoint-v2.1-odata-v4_01.csdl.xml
          api-version: v2.1
      - id: create-pr
        name: Commit and create/update PR (if any changes)
        uses: ./.github/actions/commit-updatecreate-pr
        with:
          branch-name: csdl-fetcher/sharepoint
          commit-message: >
            SharePoint OData CSDL,
            Microsoft SharePoint Team Services
            version ${{ steps.download-csdl-odata-v4_0.outputs.sharepoint-version }}
          pr-title: Update SharePoint OData CSDL
          pr-body: |
            Automatic download of SharePoint API OData CSDL.

            Microsoft SharePoint Team Services: `${{ steps.download-csdl-odata-v4_0.outputs.sharepoint-version }}`

            Includes:
            - SharePoint OData API for OData-Version 4.0 clients
            - SharePoint v2.0 OData API for OData-Version 4.01 clients
            - SharePoint v2.1 OData API for OData-Version 4.01 clients
      - name: Add Labels to Pull Request
        if: steps.create-pr.outputs.pr-number
        uses: ./.github/actions/add-labels-pr
        with:
          pr-number: ${{ steps.create-pr.outputs.pr-number }}
          labels: |
            csdl-update
            sharepoint
            odata-v4
