{
  "swagger": "2.0",
  "info": {
    "title": "Sendmode",
    "description": "Connect to your Sendmode Business Messaging account and Send SMS messages instantly to any country.",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/sendmode",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{connectionId}/v2/send": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Command Status",
                  "title": "status"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Command Status Code",
                  "title": "statusCode"
                },
                "acceptedDateTime": {
                  "type": "string",
                  "description": "DateTime message was accepted by Sendmode API.",
                  "title": "acceptedDateTime"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "senderid": {
                      "type": "string",
                      "description": "The sender id displayed on the recipients device.",
                      "title": "senderid"
                    },
                    "messagetext": {
                      "type": "string",
                      "description": "The content of the SMS message.",
                      "title": "messagetext"
                    },
                    "customerid": {
                      "type": "string",
                      "description": "A reference id for your message.",
                      "title": "customerid"
                    },
                    "scheduledate": {
                      "type": "string",
                      "description": "scheduledate"
                    },
                    "recipients": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "An array of mobile numbers to receive the message.",
                        "title": "recipients"
                      },
                      "description": "recipients"
                    }
                  },
                  "description": "message"
                }
              }
            }
          },
          "default": {
            "description": "default",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "Send_SMS",
        "description": "Send an SMS to one or more recipients.",
        "summary": "Send SMS",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Sendmode requires content type set to application json.",
            "x-ms-summary": "Header Content Type"
          },
          {
            "name": "message",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "senderid": {
                  "type": "string",
                  "description": "The sender id displayed on the recipients device.",
                  "title": "senderid"
                },
                "messagetext": {
                  "type": "string",
                  "description": "The content of the SMS message.",
                  "title": "messagetext"
                },
                "customerid": {
                  "type": "string",
                  "description": "A reference id for your message.",
                  "title": "customerid"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "An array of mobile numbers to receive the message.",
                    "title": "recipients"
                  },
                  "description": "recipients"
                }
              },
              "required": [
                "recipients",
                "messagetext"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendmode/#send-sms"
        }
      }
    },
    "/{connectionId}/v2/optout": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Command Status",
                  "title": "status"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Command Status Code",
                  "title": "statusCode"
                },
                "acceptedDateTime": {
                  "type": "string",
                  "description": "DateTime optout request was accepted by Sendmode API",
                  "title": "acceptedDateTime"
                },
                "mobilenumber": {
                  "type": "string",
                  "description": "mobilenumber",
                  "title": "mobilenumber"
                },
                "optoutreason": {
                  "type": "string",
                  "description": "Reason given for OptingOut",
                  "title": "optoutreason"
                }
              }
            }
          },
          "default": {
            "description": "default",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "Optout_Customer",
        "description": "Optout Customer number from database.",
        "summary": "Optout Customer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Sendmode requires content type set to application json.",
            "x-ms-summary": "Header Content Type"
          },
          {
            "name": "message",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mobilenumber": {
                  "type": "string",
                  "description": "Mobile numberof person Opting Out.",
                  "title": "mobilenumber"
                },
                "optoutresponse": {
                  "type": "string",
                  "description": "Reposonse submitted by person when opting out.",
                  "title": "optoutresponse"
                },
                "returnedresponse": {
                  "type": "string",
                  "description": "Used when forwarding a custom response to an Optout to downstream applications.",
                  "title": "returnedresponse"
                }
              },
              "required": [
                "mobilenumber"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendmode/#optout-customer"
        }
      }
    },
    "/{connectionId}/v2/import": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Command Status",
                  "title": "status"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Command Status Code",
                  "title": "statusCode"
                },
                "acceptedDateTime": {
                  "type": "string",
                  "description": "DateTime the Import request was accepted by Sendmdoe API.",
                  "title": "acceptedDateTime"
                },
                "group": {
                  "type": "string",
                  "description": "Group to add the customer into.",
                  "title": "group"
                },
                "importdata": {
                  "type": "object",
                  "properties": {
                    "mobilenumber": {
                      "type": "string",
                      "description": "mobilenumber"
                    },
                    "firstname": {
                      "type": "string",
                      "description": "firstname"
                    },
                    "surname": {
                      "type": "string",
                      "description": "surname"
                    },
                    "address": {
                      "type": "string",
                      "description": "address",
                      "title": "address"
                    },
                    "town": {
                      "type": "string",
                      "description": "town"
                    },
                    "county": {
                      "type": "string",
                      "description": "county"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "custom1": {
                      "type": "string",
                      "description": "custom1"
                    },
                    "custom2": {
                      "type": "string",
                      "description": "custom2"
                    },
                    "businessname": {
                      "type": "string",
                      "description": "businessname"
                    },
                    "dateofbirth": {
                      "type": "string",
                      "description": "dateofbirth"
                    }
                  },
                  "description": "importdata"
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Import Customer",
        "description": "Import your customer details into your SendMode account.",
        "operationId": "Import_Customer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Sendmode requires content type set to application json.",
            "x-ms-summary": "Header Content Type"
          },
          {
            "name": "importdata",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "group": {
                  "type": "string",
                  "description": "Group to add the customer into.",
                  "title": "group"
                },
                "mobilenumber": {
                  "type": "string",
                  "description": "The customers mobile number.",
                  "title": "mobilenumber"
                },
                "firstname": {
                  "type": "string",
                  "description": "The customers first name.",
                  "title": "firstname"
                },
                "surname": {
                  "type": "string",
                  "description": "The customers surname.",
                  "title": "surname"
                },
                "address": {
                  "type": "string",
                  "description": "The customers address.",
                  "title": "address"
                },
                "town": {
                  "type": "string",
                  "description": "The customers address town.",
                  "title": "town"
                },
                "county": {
                  "type": "string",
                  "description": "The customers address county.",
                  "title": "county"
                },
                "email": {
                  "type": "string",
                  "description": "The customers email address.",
                  "title": "email"
                },
                "custom1": {
                  "type": "string",
                  "description": "The customers custom1 field.",
                  "title": "custom1"
                },
                "custom2": {
                  "type": "string",
                  "description": "The customers custom2 field.",
                  "title": "custom2"
                },
                "businessname": {
                  "type": "string",
                  "description": "The customers business name.",
                  "title": "businessname"
                },
                "dateofbirth": {
                  "type": "string",
                  "description": "The customers date of birth in format dd/mm/yyyy",
                  "title": "dateofbirth"
                }
              },
              "required": [
                "mobilenumber",
                "group"
              ]
            }
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendmode/#import-customer"
        }
      }
    },
    "/{connectionId}/v2/credits": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Command Status",
                  "title": "status"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Command Status Code",
                  "title": "statusCode"
                },
                "balance": {
                  "type": "number",
                  "format": "float",
                  "description": "Credit Balance",
                  "title": "balance"
                }
              }
            }
          },
          "default": {
            "description": "default",
            "schema": {},
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Check Credits",
        "description": "Check your SendMode credits balance.",
        "operationId": "Check_Credits",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Sendmode requires content type set to application json.",
            "x-ms-summary": "Header Content Type"
          }
        ],
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/sendmode/#check-credits"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/sendmode"
  }
}
