{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Acumatica",
    "description": "Acumatica Cloud ERP Connector",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "url": "https://www.acumatica.com/support/"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/acumatica",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{connectionId}/entity/Default/17.200.001/Customer/{ids}": {
      "get": {
        "summary": "I want to retrieve Customer information using CustomerID",
        "description": "I want to retrieve Customer information using CustomerID",
        "operationId": "RetrievesCustomerUsingCustomerid",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ids",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer ID (e.g. ABARTENDE)",
            "x-ms-summary": "Customer ID (e.g. ABARTENDE)"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Information",
            "schema": {
              "type": "object",
              "properties": {
                "CustomerID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer ID",
                  "x-ms-summary": "CustomerID"
                },
                "CustomerName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer Name",
                  "x-ms-summary": "CustomerName"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "AccountRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Account Ref.#",
                  "x-ms-summary": "AccountRef"
                },
                "CurrencyID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Currency ID",
                  "x-ms-summary": "CurrencyID"
                },
                "CustomerClass": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer Class",
                  "x-ms-summary": "CustomerClass"
                },
                "Terms": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Terms",
                  "x-ms-summary": "Terms"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-retrieve-customer-information-using-customerid"
        }
      },
      "delete": {
        "summary": "I want to delete Customer using CustomerID",
        "description": "I want to delete Customer using CustomerID",
        "operationId": "DeletesCustomerUsingCustomerid",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ids",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Customer ID (e.g. ABARTENDE)",
            "x-ms-summary": "Customer ID (e.g. ABARTENDE)"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully completed",
            "schema": {
              "type": "string"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-delete-customer-using-customerid"
        }
      }
    },
    "/{connectionId}/entity/Default/17.200.001/Opportunity/{ids}": {
      "get": {
        "summary": "I want to retrieve Opportunity information using OpportunityID",
        "description": "I want to retrieve Opportunity information using OpportunityID",
        "operationId": "RetrievesOpportunityUsingOpportunityid",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ids",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Opportunity ID (e.g. BigOpptNbr)",
            "x-ms-summary": "Opportunity ID (e.g. BigOpptNbr)"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity Information",
            "schema": {
              "type": "object",
              "properties": {
                "OpportunityID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Opportunity ID",
                  "x-ms-summary": "OpportunityID"
                },
                "Subject": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Subject",
                  "x-ms-summary": "Subject"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "Stage": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Stage",
                  "x-ms-summary": "Stage"
                },
                "CurrencyID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Currency ID",
                  "x-ms-summary": "CurrencyID"
                },
                "BusinessAccount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Business Account",
                  "x-ms-summary": "BusinessAccount"
                },
                "ContactDisplayName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Contact Display Name",
                  "x-ms-summary": "ContactDisplayName"
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Amount",
                  "x-ms-summary": "Amount"
                },
                "Discount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Discount",
                  "x-ms-summary": "Discount"
                },
                "Total": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Total",
                  "x-ms-summary": "Total"
                },
                "Source": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Source",
                  "x-ms-summary": "Source"
                },
                "Reason": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Reason",
                  "x-ms-summary": "Reason"
                },
                "Project": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Project",
                  "x-ms-summary": "Project"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-retrieve-opportunity-information-using-opportunityid"
        }
      },
      "delete": {
        "summary": "I want to delete Opportunity using OpportunityID",
        "description": "I want to delete Opportunity using OpportunityID",
        "operationId": "DeletesOpportunityUsingOpportunityid",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ids",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Opportunity ID (e.g. BigOpptNbr)",
            "x-ms-summary": "Opportunity ID (e.g. SmallOpptNbr)"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully completed",
            "schema": {
              "type": "string"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-delete-opportunity-using-opportunityid"
        }
      }
    },
    "/{connectionId}/entity/Default/17.200.001/Case/{ids}": {
      "get": {
        "summary": "I want to retrieve Case information using CaseID",
        "description": "I want to retrieve Case information using CaseID",
        "operationId": "RetrievesCaseUsingCaseid",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ids",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Case CD {e.g. 090021)",
            "x-ms-summary": "Case CD {e.g. 090021)"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Case Information",
            "schema": {
              "type": "object",
              "properties": {
                "CaseID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Case ID",
                  "x-ms-summary": "CaseID"
                },
                "Subject": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Subject",
                  "x-ms-summary": "Subject"
                },
                "DateReported": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Date Reported",
                  "x-ms-summary": "DateReported"
                },
                "ClassID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "ClassID",
                  "x-ms-summary": "ClassID"
                },
                "BusinessAccount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Business Account",
                  "x-ms-summary": "BusinessAccount"
                },
                "Description": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Description",
                  "x-ms-summary": "Description"
                },
                "ContactDisplayName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Contact Display Name",
                  "x-ms-summary": "ContactDisplayName"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "Reason": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Reason",
                  "x-ms-summary": "Reason"
                },
                "Severity": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Severity",
                  "x-ms-summary": "Severity"
                },
                "Priority": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Priority",
                  "x-ms-summary": "Priority"
                },
                "LastActivityDate": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Last Activity Date",
                  "x-ms-summary": "LastActivityDate"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-retrieve-case-information-using-caseid"
        }
      },
      "delete": {
        "summary": "I want to delete Case using CaseID",
        "description": "I want to delete Case using CaseID",
        "operationId": "DeletesCaseUsingCaseid",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "ids",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Case CD {e.g. 090021)",
            "x-ms-summary": "Case CD {e.g. 090021)"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully completed",
            "schema": {
              "type": "string"
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-delete-case-using-caseid"
        }
      }
    },
    "/{connectionId}/entity/Default/17.200.001/Customer": {
      "get": {
        "summary": "I want to retrieve list of Customers that satisfy specified conditions",
        "description": "I want to retrieve list of Customers that satisfy specified conditions",
        "operationId": "RetrievesListOfCustomersThatSatisfyTheSpecifiedConditions",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "filter",
            "default": "",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Filter (e.g. field1 eq 'value')",
            "x-ms-summary": "Filter (e.g. field1 eq 'value')"
          },
          {
            "name": "skip",
            "default": "",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Skip number of records",
            "x-ms-summary": "Skip number of records"
          },
          {
            "name": "top",
            "default": "",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Return number of records",
            "x-ms-summary": "Return number of records"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer List",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "CustomerID": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Customer ID",
                    "x-ms-summary": "CustomerID"
                  },
                  "CustomerName": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Customer Name",
                    "x-ms-summary": "CustomerName"
                  },
                  "Status": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Status",
                    "x-ms-summary": "Status"
                  },
                  "AccountRef": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Account Ref.#",
                    "x-ms-summary": "AccountRef"
                  },
                  "CurrencyID": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Currency ID",
                    "x-ms-summary": "CurrencyID"
                  },
                  "CustomerClass": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Customer Class",
                    "x-ms-summary": "CustomerClass"
                  },
                  "Terms": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Terms",
                    "x-ms-summary": "Terms"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-retrieve-list-of-customers-that-satisfy-specified-conditions"
        }
      },
      "put": {
        "summary": "I want to create or update an existing Customer",
        "description": "I want to create or update an existing Customer",
        "operationId": "CreatesOrUpdatesAnExistingCustomer",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "CustomerID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer ID",
                  "x-ms-summary": "CustomerID"
                },
                "CustomerName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer Name",
                  "x-ms-summary": "CustomerName"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "AccountRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Account Ref.#",
                  "x-ms-summary": "AccountRef"
                },
                "CurrencyID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Currency ID",
                  "x-ms-summary": "CurrencyID"
                },
                "CustomerClass": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer Class",
                  "x-ms-summary": "CustomerClass"
                },
                "Terms": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Terms",
                  "x-ms-summary": "Terms"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Customer Information",
            "schema": {
              "type": "object",
              "properties": {
                "CustomerID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer ID",
                  "x-ms-summary": "CustomerID"
                },
                "CustomerName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer Name",
                  "x-ms-summary": "CustomerName"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "AccountRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Account Ref.#",
                  "x-ms-summary": "AccountRef"
                },
                "CurrencyID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Currency ID",
                  "x-ms-summary": "CurrencyID"
                },
                "CustomerClass": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Customer Class",
                  "x-ms-summary": "CustomerClass"
                },
                "Terms": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Terms",
                  "x-ms-summary": "Terms"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-create-or-update-an-existing-customer"
        }
      }
    },
    "/{connectionId}/entity/Default/17.200.001/Opportunity": {
      "get": {
        "summary": "I want to retrieve list of Opportunities that satisfy specified conditions",
        "description": "I want to retrieve list of Opportunities that satisfy specified conditions",
        "operationId": "RetrievesListOfOpportunitiesThatSatisfyTheSpecifiedConditions",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "filter",
            "default": "",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter (e.g. field1 eq 'value')",
            "x-ms-summary": "Filter (e.g. field1 eq 'value')"
          },
          {
            "name": "skip",
            "default": "",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Skip numbers of records",
            "x-ms-summary": "Skip numbers of records"
          },
          {
            "name": "top",
            "default": "",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Get number of records",
            "x-ms-summary": "Get number of records"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity List",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "OpportunityID": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Opportunity ID",
                    "x-ms-summary": "OpportunityID"
                  },
                  "Subject": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Subject",
                    "x-ms-summary": "Subject"
                  },
                  "Status": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Status",
                    "x-ms-summary": "Status"
                  },
                  "Stage": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Stage",
                    "x-ms-summary": "Stage"
                  },
                  "CurrencyID": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Currency ID",
                    "x-ms-summary": "CurrencyID"
                  },
                  "BusinessAccount": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Business Account",
                    "x-ms-summary": "BusinessAccount"
                  },
                  "ContactDisplayName": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Contact Display Name",
                    "x-ms-summary": "ContactDisplayName"
                  },
                  "Amount": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Amount",
                    "x-ms-summary": "Amount"
                  },
                  "Discount": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Discount",
                    "x-ms-summary": "Discount"
                  },
                  "Total": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "number",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Total",
                    "x-ms-summary": "Total"
                  },
                  "Source": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Source",
                    "x-ms-summary": "Source"
                  },
                  "Reason": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Reason",
                    "x-ms-summary": "Reason"
                  },
                  "Project": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Project",
                    "x-ms-summary": "Project"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-retrieve-list-of-opportunities-that-satisfy-specified-conditions"
        }
      },
      "put": {
        "summary": "I want to create or update an existing Opportunity",
        "description": "I want to create or update an existing Opportunity",
        "operationId": "CreatesOrUpdatesAnExistingOpportunity",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "OpportunityID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Opportunity ID",
                  "x-ms-summary": "OpportunityID"
                },
                "Subject": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Subject",
                  "x-ms-summary": "Subject"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "Stage": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Stage",
                  "x-ms-summary": "Stage"
                },
                "CurrencyID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Currency ID",
                  "x-ms-summary": "CurrencyID"
                },
                "BusinessAccount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Business Account",
                  "x-ms-summary": "BusinessAccount"
                },
                "ContactDisplayName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Contact Display Name",
                  "x-ms-summary": "ContactDisplayName"
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Amount",
                  "x-ms-summary": "Amount"
                },
                "Discount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Discount",
                  "x-ms-summary": "Discount"
                },
                "Total": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Total",
                  "x-ms-summary": "Total"
                },
                "Source": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Source",
                  "x-ms-summary": "Source"
                },
                "Reason": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Reason",
                  "x-ms-summary": "Reason"
                },
                "Project": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Project",
                  "x-ms-summary": "Project"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Opportunity Information",
            "schema": {
              "type": "object",
              "properties": {
                "OpportunityID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Opportunity ID",
                  "x-ms-summary": "OpportunityID"
                },
                "Subject": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Subject",
                  "x-ms-summary": "Subject"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "Stage": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Stage",
                  "x-ms-summary": "Stage"
                },
                "CurrencyID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Currency ID",
                  "x-ms-summary": "CurrencyID"
                },
                "BusinessAccount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Business Account",
                  "x-ms-summary": "BusinessAccount"
                },
                "ContactDisplayName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Contact Display Name",
                  "x-ms-summary": "ContactDisplayName"
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Amount",
                  "x-ms-summary": "Amount"
                },
                "Discount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Discount",
                  "x-ms-summary": "Discount"
                },
                "Total": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Total",
                  "x-ms-summary": "Total"
                },
                "Source": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Source",
                  "x-ms-summary": "Source"
                },
                "Reason": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Reason",
                  "x-ms-summary": "Reason"
                },
                "Project": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Project",
                  "x-ms-summary": "Project"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-create-or-update-an-existing-opportunity"
        }
      }
    },
    "/{connectionId}/entity/Default/17.200.001/Case": {
      "get": {
        "summary": "I want to retrieve list of Cases that satisfy specified conditions",
        "description": "I want to retrieve list of Cases that satisfy specified conditions",
        "operationId": "RetrievesListOfCasesThatSatisfyTheSpecifiedConditions",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "filter",
            "default": "",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter (e.g. field1 eq 'value')",
            "x-ms-summary": "Filter (e.g. field1 eq 'value')"
          },
          {
            "name": "skip",
            "default": "",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Skip numbers of records",
            "x-ms-summary": "Skip numbers of records"
          },
          {
            "name": "top",
            "default": "",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Get number of records",
            "x-ms-summary": "Get number of records"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Cases List",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "CaseID": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Case ID",
                    "x-ms-summary": "CaseID"
                  },
                  "Subject": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Subject",
                    "x-ms-summary": "Subject"
                  },
                  "DateReported": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Date Reported",
                    "x-ms-summary": "DateReported"
                  },
                  "ClassID": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "ClassID",
                    "x-ms-summary": "ClassID"
                  },
                  "BusinessAccount": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Business Account",
                    "x-ms-summary": "BusinessAccount"
                  },
                  "Description": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Description",
                    "x-ms-summary": "Description"
                  },
                  "ContactDisplayName": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Contact Display Name",
                    "x-ms-summary": "ContactDisplayName"
                  },
                  "Status": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Status",
                    "x-ms-summary": "Status"
                  },
                  "Reason": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Reason",
                    "x-ms-summary": "Reason"
                  },
                  "Severity": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Severity",
                    "x-ms-summary": "Severity"
                  },
                  "Priority": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Priority",
                    "x-ms-summary": "Priority"
                  },
                  "LastActivityDate": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "value",
                        "x-ms-summary": "value"
                      }
                    },
                    "description": "Last Activity Date",
                    "x-ms-summary": "LastActivityDate"
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-retrieve-list-of-cases-that-satisfy-specified-conditions"
        }
      },
      "put": {
        "summary": "I want to create or update an existing Case",
        "description": "I want to create or update an existing Case",
        "operationId": "CreatesOrUpdatesAnExistingCase",
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json, text/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "CaseID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Case ID",
                  "x-ms-summary": "CaseID"
                },
                "Subject": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Subject",
                  "x-ms-summary": "Subject"
                },
                "ClassID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "ClassID",
                  "x-ms-summary": "ClassID"
                },
                "BusinessAccount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Business Account",
                  "x-ms-summary": "BusinessAccount"
                },
                "Description": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Description",
                  "x-ms-summary": "Description"
                },
                "ContactDisplayName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Contact Display Name",
                  "x-ms-summary": "ContactDisplayName"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "Reason": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Reason",
                  "x-ms-summary": "Reason"
                },
                "Severity": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Severity",
                  "x-ms-summary": "Severity"
                },
                "Priority": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Priority",
                  "x-ms-summary": "Priority"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "CaseID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Case ID",
                  "x-ms-summary": "CaseID"
                },
                "Subject": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Subject",
                  "x-ms-summary": "Subject"
                },
                "DateReported": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Date Reported",
                  "x-ms-summary": "DateReported"
                },
                "ClassID": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "ClassID",
                  "x-ms-summary": "ClassID"
                },
                "BusinessAccount": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Business Account",
                  "x-ms-summary": "BusinessAccount"
                },
                "Description": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Description",
                  "x-ms-summary": "Description"
                },
                "ContactDisplayName": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Contact Display Name",
                  "x-ms-summary": "ContactDisplayName"
                },
                "Status": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Status",
                  "x-ms-summary": "Status"
                },
                "Reason": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Reason",
                  "x-ms-summary": "Reason"
                },
                "Severity": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Severity",
                  "x-ms-summary": "Severity"
                },
                "Priority": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Priority",
                  "x-ms-summary": "Priority"
                },
                "LastActivityDate": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value",
                      "x-ms-summary": "value"
                    }
                  },
                  "description": "Last Activity Date",
                  "x-ms-summary": "LastActivityDate"
                }
              }
            }
          }
        },
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/acumatica/#i-want-to-create-or-update-an-existing-case"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://pbi.acumatica.com/identity/connect/authorize",
      "tokenUrl": "https://pbi.acumatica.com/identity/connect/token",
      "scopes": {
        "api": "api"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "api"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "http://www.acumatica.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.acumatica.com/privacy-policy/"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/acumatica"
  }
}