{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Office 365 Video",
    "description": "Video for Office 365 offers a highly scalable, easy-to-use portal for uploading and sharing your corporate videos",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "europe-002.azure-apim.net",
  "basePath": "/apim/office365video",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{connectionId}/{tenant}/IsEnabled": {
      "get": {
        "tags": [
          "Office365Video"
        ],
        "summary": "Checks video portal status",
        "description": "Checks the video portal status to see if video services are enabled",
        "operationId": "IsVideoPortalEnabled",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "The tenant name (URL) for the directory the user is part of.",
            "required": true,
            "x-ms-summary": "The tenant name (URL) for the directory the user is part of",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "type": "boolean"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365video/#checks-video-portal-status-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/{tenant}/Channels": {
      "get": {
        "tags": [
          "Office365Video"
        ],
        "summary": "Get all viewable Channels",
        "description": "Gets all the channels the user has viewing access to",
        "operationId": "ListViewableChannels",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "The tenant name (URL) for the directory the user is part of.",
            "required": true,
            "x-ms-summary": "The tenant name (URL) for the directory the user is part of",
            "x-ms-url-encoding": "double",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Channel"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365video/#get-all-viewable-channels-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/{tenant}/Channels/{channelId}/Videos": {
      "get": {
        "tags": [
          "Office365Video"
        ],
        "summary": "Lists all the office365 videos present in a channel",
        "description": "Lists all the office365 videos present in a channel",
        "operationId": "ListVideos",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "The tenant name (URL) for the directory the user is part of",
            "required": true,
            "x-ms-summary": "The tenant name (URL) for the directory the user is part of",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "The channel id from which videos need to be fetched",
            "required": true,
            "x-ms-summary": "The channel id from which videos need to be fetched",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Video"
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365video/#lists-all-the-office365-videos-present-in-a-channel-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/{tenant}/Channels/{channelId}/Videos/{videoId}": {
      "get": {
        "tags": [
          "Office365Video"
        ],
        "summary": "Gets information about a particular office365 video",
        "description": "Gets information about a particular office365 video",
        "operationId": "GetVideo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "The tenant name (URL) for the directory the user is part of",
            "required": true,
            "x-ms-summary": "The tenant name (URL) for the directory the user is part of",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "The channel id",
            "required": true,
            "x-ms-summary": "The channel id",
            "type": "string"
          },
          {
            "name": "videoId",
            "in": "path",
            "description": "The video id",
            "required": true,
            "x-ms-summary": "The video id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "$ref": "#/definitions/Video"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365video/#gets-information-about-a-particular-office365-video-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/{tenant}/Channels/{channelId}/Videos/{videoId}/playbackurl": {
      "get": {
        "tags": [
          "Office365Video"
        ],
        "summary": "Get playback url of the Azure Media Services manifest for a video",
        "description": "Get playback url of the Azure Media Services manifest for a video",
        "operationId": "GetPlaybackUrl",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "The tenant name (URL) for the directory the user is part of",
            "required": true,
            "x-ms-summary": "The tenant name (URL) for the directory the user is part of",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "The channel id",
            "required": true,
            "x-ms-summary": "The channel id",
            "type": "string"
          },
          {
            "name": "videoId",
            "in": "path",
            "description": "The video id",
            "required": true,
            "x-ms-summary": "The video id",
            "type": "string"
          },
          {
            "name": "streamingFormatType",
            "in": "query",
            "description": "Streaming format type. 1 - Smooth Streaming or MPEG-DASH. 0 - HLS Streaming",
            "required": true,
            "x-ms-summary": "Streaming format type. 1 - Smooth Streaming or MPEG-DASH. 0 - HLS Streaming",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365video/#get-playback-url-of-the-azure-media-services-manifest-for-a-video-%5bdeprecated%5d"
        }
      }
    },
    "/{connectionId}/{tenant}/Channels/{channelId}/Videos/{videoId}/token": {
      "get": {
        "tags": [
          "Office365Video"
        ],
        "summary": "Get the bearer token to get access to decrypt the video",
        "description": "Get the bearer token to get access to decrypt the video",
        "operationId": "GetStreamingKeyAccessToken",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "connectionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal"
          },
          {
            "name": "tenant",
            "in": "path",
            "description": "The tenant name (URL) for the directory the user is part of",
            "required": true,
            "x-ms-summary": "The tenant name (URL) for the directory the user is part of",
            "x-ms-url-encoding": "double",
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "path",
            "description": "The channel id",
            "required": true,
            "x-ms-summary": "The channel id",
            "type": "string"
          },
          {
            "name": "videoId",
            "in": "path",
            "description": "The video id",
            "required": true,
            "x-ms-summary": "The video id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation was successful",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "deprecated": true,
        "externalDocs": {
          "url": "https://docs.microsoft.com/connectors/office365video/#get-the-bearer-token-to-get-access-to-decrypt-the-video-%5bdeprecated%5d"
        }
      }
    }
  },
  "definitions": {
    "Channel": {
      "description": "Channel class",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Channel Id",
          "type": "string"
        },
        "Title": {
          "description": "Channel title",
          "type": "string"
        },
        "Description": {
          "description": "Channel description",
          "type": "string"
        }
      }
    },
    "Video": {
      "description": "Video class",
      "type": "object",
      "properties": {
        "Id": {
          "description": "Video id",
          "type": "string"
        },
        "Title": {
          "description": "video title",
          "type": "string"
        },
        "Description": {
          "description": "video description",
          "type": "string"
        },
        "CreationDate": {
          "description": "creation date of the video",
          "type": "string"
        },
        "Owner": {
          "description": "video owner",
          "type": "string"
        },
        "ThumbnailUrl": {
          "description": "Thumbnail url",
          "type": "string"
        },
        "VideoUrl": {
          "description": "video url",
          "type": "string"
        },
        "VideoDuration": {
          "format": "int64",
          "description": "video duration",
          "type": "integer"
        },
        "VideoProcessingStatus": {
          "format": "int32",
          "description": "video processing status",
          "type": "integer"
        },
        "ViewCount": {
          "format": "int64",
          "description": "video view count",
          "type": "integer"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://products.office.com/microsoft-stream"
    }
  ],
  "externalDocs": {
    "url": "https://docs.microsoft.com/connectors/office365video"
  }
}
